[2020-03-26 06:04] sijie commented on #6605
@JKeyZ they should be identical in terms of features, right? Is there any interface changes between these two features?

[2020-03-26 06:08] sijie commented on #6518
@ilyam8 the metrics are documented here https://pulsar.apache.org/docs/en/reference-metrics/. the most common metrics to alert on are "message backlog" and "publish latency".

In case of how to use the metrics to alert, here are some examples (https://streamnative.io/docs/v1.0.0/configure/control-center/alertmanager/#alert-rules). We will try to improve the documentation to add one page to pulsar

[2020-03-26 06:14] ncmans commented on #6603
Here's first broker's last lines in the logs:

[code]

Second broker:

[code]

Third broker:

[code]

[2020-03-26 06:14] sijie commented on #6610
What is the subscription type are you using?

[2020-03-26 06:30] sijie commented on #3362
@jiazhai can you start a PIP discussion? I am in favor of making the partition key to bytes. but we need to think about the backward compatibility issue.

[2020-03-26 06:45] lynnmatrix opened #6612 "Failed to decode long type fields in json schema message"
**Describe the bug**
If message sent in json schema, long field will be decoded as int if its value below Integer.MAX_VALUE, other wise decoded as string.
For example, the json message below:
[code]
will be decoded as

[code]

**To Reproduce**

**Expected behavior**
Long type fields encoded in json schema will be decoded as long.

**Screenshots**

**Desktop (please complete the following informati

[2020-03-26 06:46] zyllt commented on #6589
@sijie thanks for your reoly.
I deploy the pulsar cluster on bare metal.my cluster has five machines.Two of them have brokers and three have bookies.local-zk and configuration-store deployed on all machines.I started `functions-woker` within `brokers` use `Thread Runtime`.
At the beginning I started a demo-function named `WordCountFunction`,then i trigger it and broker log outputs  a exception.
![

[2020-03-26 06:52] lynnmatrix commented on #6612
GenericJsonRecord.java
[code]
GenericJsonRecord::getField does not check whether the field is long type, as decode long field by 'fn.asText()'

[2020-03-26 06:52] sijie commented on #6589
I see. I think this is the problem is on advertisement. It seems to advertise the address using 127.0.0.1. We need to fix the issue at apache/bookkeeper#2216.

[2020-03-26 06:59] #5395 closed

[2020-03-26 07:02] #6170 closed

[2020-03-26 07:02] xiangwangcheng opened #6614 "Can not deploy zookeeper on minikube"
**Describe the bug**
When I deploy zookeeper on minikube by using
`kubectl apply -f zookeeper.yaml`
It just stuck on `ContainerCreating`.  Half an hour later, the command `kubectl describe pod  zk-0`  showed that it was still pulling images `apachepulsar/pulsar-all:latest`. But I have already pulled this image by using docker pull.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'

[2020-03-26 07:09] sijie commented on #6614
did you pull the image within Minikube or at your laptop?

[2020-03-26 07:10] sijie commented on #6612
@lynnmatrix Can you submit a pull request to fix it?

[2020-03-26 07:12] xiangwangcheng commented on #6614
@sijie I pulled the image on my laptop.

BTW, the dashboarad gives this error: Failed to pull image "apachepulsar/pulsar-all:latest": rpc error: code = Unknown desc = context canceled.

[2020-03-26 07:12] lynnmatrix commented on #6612
OK @sijie

[2020-03-26 07:27] sijie commented on #6614
@xiangwangcheng

Minikube is running a vm. so if you pulled the image at your laptop, the image isn't available at minikube. So when you launch the zk pod, it will pull the image again.

[2020-03-26 07:29] sijie commented on #2307
DotPulsar now is under pulsar project now. The PMC will work on maintaining dotpulsar.

https://github.com/pulsar-dotpulsar

[2020-03-26 07:29] #2307 closed

[2020-03-26 07:31] #6117 closed

[2020-03-26 07:34] sijie commented on #5379
We have just released a Kafka protocol handler for Pulsar. It supports Kafka protocol 2.0+. So you can use vanilla Kafka clients with Pulsar brokers now. Please try this out: https://github.com/streamnative/kop

[2020-03-26 07:34] #5379 closed

[2020-03-26 07:35] sijie commented on #4405
This has been supported in #4621

[2020-03-26 07:35] #4405 closed

[2020-03-26 07:37] rcollina commented on #2307
Great news, thank you @sijie!

[2020-03-26 07:38] sijie commented on #2556
For people who are interested in this feature, we have introduced a general framework in 2.5.0 to support pluggable protocol handlers. We also developed a Kafka protocol handler (Kafka-on-Pulsar, #KoP) using this framework - https://github.com/streamnative/kop. If you are interested in the Kafka compatibility layer, please check it out.

We are also using the same framework to develop the protocol

[2020-03-26 08:03] xiangwangcheng commented on #6614
@sijie How can I pull the image within minikube? Seems it can not connect to the docker hub.

[2020-03-26 08:38] DavidLiuXh commented on #6610
@sijie failover subscribe

[2020-03-26 08:44] ilyam8 commented on #6518
Hi @sijie, thx for the links. However all broker alarms looks quite generic. It looks like it is an example how to configure (value X is over 9k) and alarms we need to use, am i wrong?

[2020-03-26 09:01] sijie commented on #6518
@ilyam8 it is just an example for your reference. For most of the people, they define their alerting rules based on the metrics you can find on https://pulsar.apache.org/docs/en/reference-metrics/. Some people might care about write latency and some people might care about the backlog.

If you are looking more for failure-rate like metrics, currently only bookkeeper has metrics about "success" and

[2020-03-26 10:30] AmitANetskope opened #6617 "When ttlDurationDefaultInSeconds is set the messages are expired one by one every 5 minutes even before ttlDurationDefaultInSeconds is reached"
Messages are being expired even before ttlDurationDefaultInSeconds is reached when ttlDurationDefaultInSeconds is set.

**To Reproduce**
1. in broker conf auto topic creation is enabled
2. in broker set ttlDurationDefaultInSeconds to 604800 (in all brokers and restart them)
3. now create subscription to topic - persistent/public/default/amit_test
4. close the subscription
5. create producer to abo

[2020-03-26 11:00] #5934 closed

[2020-03-26 12:19] pierre94 commented on #6594
ok

[2020-03-26 12:19] #6594 closed

[2020-03-26 13:24] zhanghaou commented on #6433
I'm interesting in fix this issue.

[2020-03-26 13:27] codelipenghui commented on #6433
@zhanghaou Thanks, look forwards to your PR.

[2020-03-26 17:41] otmanel31 commented on #6599
hi, sorry for the delay. This is 2.5 version.

[2020-03-27 00:36] tschmidt64 opened #6619 "WebSocket Topic URL Parser is Incorrect"
**Describe the bug**
The code [in the web socket interface](https://github.com/apache/pulsar/blob/639fbf1801b227bb191cfc548f26906902481b8f/pulsar-websocket/src/main/java/org/apache/pulsar/websocket/AbstractWebSocketHandler.java#L182) does not parse topic names correctly. I will limit my example to a consumer but similar issues apply to readers and producers.
From the code (line numbers are for ref

[2020-03-27 02:09] tschmidt64 opened #6620 "Java Topic URL Parser is Incorrect"
**Describe the bug**
I do not believe that the code that parses the topic name does so correctly. I will limit my example to the [consumer code](https://github.com/apache/pulsar/blob/639fbf1801b227bb191cfc548f26906902481b8f/pulsar-common/src/main/java/org/apache/pulsar/common/naming/TopicName.java#L126) but I assume similar issues will apply to readers and producers.

From the code (line numbers a

[2020-03-27 08:41] otmanel31 commented on #6599
and this is a standalone install ....

[2020-03-27 10:20] jeremie-kaiko opened #6625 "Documentation of admin REST API is missing body parameters"
**Describe the bug**
There seems to have a regression in the documentation #1650

There is still no body request in the current admin REST API

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://pulsar.apache.org/admin-rest-api/?version=2.5.0#operation/setMaxProducersPerTopic
2. There is no request body parameters

**Expected behavior**
To see request body parameters, that way we c

[2020-03-27 12:24] otmanel31 commented on #6599
also, when i'm trying to create topics, it fails on topic creation or sometime that fail on grantPermission with  a TimeOutException

[2020-03-27 14:56] fracasula opened #6627 "Ghost consumer"
**Describe the bug**
We noticed that some messages were not getting processed by our consumer with a **key shared** subscription.
We only had one consumer at that time so we checked the subscriptions via the `pulsar-admin topics stats` command and noticed that it was showing two consumers instead.

The application is deployed on a Kubernetes cluster so we scaled all the pods down to make sure that

[2020-03-28 03:24] Shoothzj opened #6628 "Which falvor should i deploy and tunning parameter"
I am testing ten thousands different topic, per topic 100 QPS, every message is 512Byte. When I add to 3_600 topic, my bookkeeper is OOM which reached 2G limit.

I want to know, my pulsar and bookie deploy on which falvor of ECS, and what paramenter need to change

[2020-03-28 08:12] zhanghaou commented on #6564
It seems that this bug can be reproduced. I'm interesting in fix it.

[2020-03-28 08:35] Shoothzj opened #6629 "Why the Bookkeeper crash"
I deploy my pulsar and bookeeper on three 24U96G VM.
Each memory config is
  bk: 18G heap 18G directMemory
  pulsar: 18G heap 32G directMemory
[pulsar-bookie-pulsar.log.zip](https://github.com/apache/pulsar/files/4396834/pulsar-bookie-pulsar.log.zip)

When I am testing pulsar's millions topic ability, When I am adding producer and consumer, My bookkeeper process  often crash quit. I don't know how

[2020-03-28 10:35] #6283 closed

[2020-03-29 02:42] codelipenghui commented on #6627
Hi @fracasula. According to your description, did you subscribe only once, right? I noticed you logs

[code]

Looks the issue is related to the consumer creation timeout. Can you find any log about `Closed connection from`?

@wolfstudy Hi xiaolong. I want to invite you to join the discussion. Maybe the problem is we don't close the consumer at the broker-side after creating consumer timeout at the

[2020-03-29 08:37] fracasula commented on #6627
Hi @codelipenghui, yes that's correct. Our code has been audited by 3 different engineers and we confirm that we're subscribing only once.

By looking at our [client logs](https://github.com/apache/pulsar/files/4398450/client_logs.txt) it looks like the client was having issues connecting to the broker so it rescheduled a few reconnections. By looking at the broker side instead we in fact see that

[2020-03-29 10:27] jiazhai commented on #6517
@kemburi #6588 merged for fix this issue.

[2020-03-30 01:13] sijie commented on #6599
Did you check the log of the standalone cluster?

[2020-03-30 01:25] sijie commented on #6620
@tschmidt64 since Pulsar 2.0, the topic name isn't allowed to have "/". Otherwise, the topic name will be treated as the old legal topic name with "cluster" component in the fully qualified name.  Please check - http://pulsar.apache.org/docs/en/pulsar-2.0/#topic-names

We can update the documentation you pointed to say that "`/` is not allowed" in topic name.

[2020-03-30 01:27] sijie commented on #6619
I don't think we support "/" in the topic name. "/" should be prohibited.

[2020-03-30 01:51] sijie commented on #6614
@xiangwangcheng I am not sure how did you configure minikube. I would recommend you checkout the minikube documentation: https://kubernetes.io/docs/setup/learning-environment/minikube/#using-minikube-with-an-http-proxy

[2020-03-30 02:31] sijie commented on #6603
@ncmans the root cause is on third broker - `ledger=35 - operation=Failed to read entry - entry=0`. That means that your broker failed to read an entry when the bookkeeper cluster is being updated. I am guessing that the bookie stored `ledger 35` was being updated. I don't know how did you do a health check for your broker. I am guessing the health check in the helm chart wasn't implemented in the

[2020-03-30 07:00] KannarFr commented on #6291
@jiazhai on our cluster case it happens each series of 5-6 days, our usage is very linear this why we suspect connections issues. Like reaching some kernel limits, you have any infos regarding this?

More, do you have example for specs requirements depending on the following `proxy.conf` fields:

[code]

[2020-03-30 07:06] mino181295 commented on #6620
I can pick this up if needed

[2020-03-30 12:55] ncmans commented on #6603
From https://github.com/kafkaesque-io/pulsar-helm-chart/issues/23#issuecomment-605981138:

As the issue is caused by mis-configuration of the helm chart, I'm closing it here.

[2020-03-30 12:55] #6603 closed

[2020-03-30 14:38] prasad-reddyk opened #6639 "The bookkeeper ledger no honoring the retention period and causing for the more disk usage."
**Describe the bug**
The bookkeeper ledger no honoring the retention period and causing for the more disk usage.
During my test execution i set **defaultRetentionTimeInMinutes is 6** and noticed that bookie ledger is no honoring the retention period and eating up more disk space and causing for failures due to "Not enough non-faulty bookie available". When drilled down to disk and see, most of mes

[2020-03-30 14:41] codelipenghui commented on #6617
@AmitANetskope The `lastExpireTimestamp` updates when the task of message expiration triggers, so the recent timestamp is an expected value. I have tried on my laptop and I add a test #6638 to ensure messages do not expire early, but can't reproduce your problem. Is the problem appears frequently or not?  And if you can reproduce it, could you please add your server log here? This will help find t

[2020-03-30 15:07] tschmidt64 commented on #6620
@sijie are there some release notes that announced that this happened? Want to be able to keep track of these things in the future

[2020-03-30 15:09] tschmidt64 commented on #6620
Also might want to remove lines 14-15 in the code above ^^

[2020-03-30 15:37] JKeyZ commented on #6605
Sorry for replay to late. Prestosql was forked from prestodb by community. The first change was name of package which change it to io.prestosql . And optimize some feature.

[2020-03-30 15:44] AmitANetskope commented on #6617
Broker log file -
[pulsar-broker-pulsar-broker-1.log](https://github.com/apache/pulsar/files/4403853/pulsar-broker-pulsar-broker-1.log)

{noformat}
15:23:41.554 [pulsar-web-30-3] INFO  org.eclipse.jetty.server.RequestLog - 182.75.130.70 - - [30/Mar/2020:15:23:41 +0000] "GET /admin/v2/persistent/public/amit_test/amit_test/stats?authoritative=true HTTP/1.1" 200 522 "-" "Mozilla/5.0 (Macintosh; Intel

[2020-03-30 15:52] JKeyZ commented on #6605
I copy the pulsar-presto-connector from binary package to my prestodb cluster, and config the properties according to guidelines of pulsar sql.But when I run the sql, it was failed.
config file of presto-pulsar:
`connector.name=pulsar
pulsar.broker-service-url=http://pulsarserver3:18080
pulsar.zookeeper-uri=pulsarserver3:2188
#pulsar.entry-read-batch-size=100
pulsar.target-num-splits=4`

the sql:

[2020-03-30 17:02] tschmidt64 commented on #6620
Might be helpful to come up with a regex with labeled captures to help people understand what is and is not valid

[2020-03-30 20:05] sijie commented on #6620
@tschmidt64 Yes. Every release has its release notes. http://pulsar.apache.org/en/release-notes/#200-rc1-incubating-mdash-2018-05-29-a-id200-rc1-incubatinga

[2020-03-30 20:22] sijie commented on #6605
Which version of pulsar-presto connector are you using?

[2020-03-30 20:54] sijie commented on #6639
Currently, the bookkeeper uses a lazy garbage collection mechanism to reclaim disk spaces after ledgers/segments are deleted. So there will be a gap between ledgers are deleted and the disk space is reclaimed. So please use large disk capacity if you are sending fair amount of traffic to the cluster. This allows the bookie garbage collector has enough time to reclaim the disk space.

[2020-03-30 23:31] bmyers-csu opened #6640 "Broker and Proxy support multiple CA certs"
I'm requesting the Broker and Proxy be updated to support multiple CA certs. I have a requirement that internal communication uses an internal CA cert and we allow customers to define their own CA cert alongside.

[2020-03-31 03:58] JKeyZ commented on #6605
pulsar version is 2.5.0

[2020-03-31 05:29] feeblefakie commented on #6554
Let me add a related issue and some discussion I and @codelipenghui had about this.

- [Key_Shared consumers with different subscriptions get messages for the same key in an inconsistent order](http://mail-archives.apache.org/mod_mbox/pulsar-users/202003.mbox/%3CCAPDOW74LN3WtdhpG_cgCCSg9MuMmkNV6giCGD5p%3DW1wWji0W7w%40mail.gmail.com%3E)
- https://apache-pulsar.slack.com/archives/C5Z4T36F7/p15855279

[2020-03-31 07:36] prasanthkumar2392 opened #6642 "Context in Pulsar functions not getting mocked"
**I am trying to write a unit test for Pulsar functions, and if I am unsuccessful in mocking Context class**

**Steps to reproduce the behavior:**

- I am creating a pulsar function which does some processing logic on the messages.

-  I am using Context interface inside the function to get logger, get output topic and newOutputMessage.

While writing unit tests for functions, I am mocking the con

[2020-03-31 09:25] kemburi commented on #6517
@jiazhai
can someone do a maven release of this so that we can consume into our projects?

[2020-03-31 11:59] oeegee commented on #6342
Is there anything I can help? Having a build problem?

[2020-03-31 13:10] tuteng opened #6643 "[Integration test]Go function integration test failed"
**Describe the bug**

At present, the go function integration test will have the following exceptions during the process, but the integration test has not been interrupted.

[code]

**To Reproduce**
Steps to reproduce the behavior:

Set enable to true https://github.com/apache/pulsar/blob/master/tests/integration/src/test/java/org/apache/pulsar/tests/integration/functions/PulsarFunctionsTest.java#

[2020-03-31 13:52] tuteng commented on #6342
I think it is related to the configuration of this file. https://github.com/apache/pulsar/blob/master/site2/website/languages.js There are two similar configurations in this file, one is true and the other is false.

[code]

but their tag is different.  @oeegee

[2020-03-31 14:43] eric-poitras commented on #6484
We are having the issue too.

[2020-03-31 19:10] Saswatibhoi opened #6644 "Websocket Proxy Connectivity Issue (500 Server Error)"
**Describe the bug**
We are using Node.js with Websocket API to create the Producer and Consumer. Our infrastructure has as the below setup:
Websocket Producer/Consumer -->>connects to a loadbalancer -->>connects to Websocket Proxy -->>Brokers.

The Producers connects fine and we are able to produce messages. And, the Consumer is also able to connect and consume fine as long as the producer is pro

[2020-03-31 19:18] anshul-dhyani opened #6645 "Error while running pulsar on docker"
Unable to start pulsar in docker

**OS: Windows 10 home**

Below is the command I used :
[code]

### I get this error:

[code]

### If I use below command

[code]

it ends up with below error

[code]

### If I run below command
[code]

it ends up with below error
[code]

[2020-03-31 20:19] sijie commented on #6645
@anshul-dhyani For Docker on Windows make sure to configure it to use Linux containers.

The rocksdb error seems to be indicating that you are not using a linux container.

[2020-03-31 21:12] otmanel31 commented on #6599
yes, i will share it asap as its are on my professional computer.
Could it (timeout exception) due to number of core of my virtual machine ?

[2020-03-31 21:24] sijie commented on #6342
@oeegee do you want to create a PR to fix it?

You can remove the entry "ko-KR" and set the entry "ko" to `true`.

[2020-03-31 21:40] anshul-dhyani commented on #6645
Hi @sijie : Thanks for prompt update.
I think Docker is using Linux containers.
I am running it on Windows 10 home and on windows Home Docker runs in a VM with Linux OS.
Or I need to check something else ?

![image](https://user-images.githubusercontent.com/11934184/78077576-e57b8980-73a8-11ea-8684-129f2a60c146.png)

[2020-03-31 22:06] sijie commented on #6617
@AmitANetskope I think the issue has been fixed by #6211. I also verified it. It will be included in the upcoming 2.5.1 release.

For testing purpose, you can try out our weekly build: https://github.com/streamnative/pulsar/releases/tag/v2.6.0-347d3851b

It includes that fix.

[2020-03-31 22:18] sijie commented on #6645
@anshul-dhyani unfortunately, I don't have a windows machine to verify that. but it seems that you have successfully run the standalone using `docker run -d --restart=unless-stopped --name pulsar -p 6650:6650 -p 8081:8080 apachepulsar/pulsar:2.5.0 bin/pulsar standalone`, no? Does the error in the last command happen when you send a message?

[2020-04-01 02:24] jiazhai commented on #6644
@Saswatibhoi  what is the error reported in broker for "500 server Error"? Seems it is not included in above description.

[2020-04-01 02:33] jiazhai commented on #6644
Would you please have a try on this broker setting :
[code]

[2020-04-01 02:40] jiazhai commented on #6642
@prasanthkumar2392 What is your test looks like?

[2020-04-01 07:50] anshul-dhyani commented on #6645
@sijie no, that error occurred just by running that command.
could not reach to a step where I can send message.

[2020-04-01 09:57] zplinuxlover commented on #6576
the message has replicate to remote cluster, so ledger.getTotalSize() != 0 is true

[2020-04-01 12:36] gaoran10 opened #6646 "Flaky-test: PulsarFunctionsTest#testSlidingCountWindowTest & testTumblingCountWindowTest"
### Flaky-test

1. PulsarFunctionsTest#testSlidingCountWindowTest
2. PulsarFunctionsTest#testTumblingCountWindowTest

[code]

[2020-04-01 13:27] poulhenriksen commented on #6451
Any idea if anyone will look into this soon @codelipenghui ?

Also, is it better to comment here, or on the same bug at: https://github.com/streamnative/pulsar/issues/767

[2020-04-01 13:55] orbang commented on #6639
We are experiencing a similar issue, with huge disk space usage even when we explicitly delete all the topics. Normally, we limit both the backlog quota and the retention period. However, it does not seem to have much impact. Is there any way to trigger garbage collection or any other way to reclaim disk space or set a bound on it? Thanks

[2020-04-01 17:19] sijie commented on #6645
@anshul-dhyani interesting. Can you run the third command and add `-nfw -nss` after `bin/pulsar standalone`?

[2020-04-01 21:37] anshul-dhyani commented on #6645
yes. third command works with ```-nfs -nss```.
But other two commands don't work.

[2020-04-01 23:05] sijie commented on #6645
the first two commands are mounting a windows directory to the Linux container. It seems that we are not able to write the mounted windows directory.

[2020-04-01 23:11] sijie commented on #6639
@orbang Can you describe more about what you are experiencing?

[2020-04-02 00:08] anshul-dhyani commented on #6645
Is this expected behavior or a bug ?
I can share volume for mongoDB on the same infra and that is also using linux as I can get into that container and can run linux commands

[2020-04-02 00:36] sijie commented on #6645
@anshul-dhyani sorry I am not very familiar with docker on windows. so it is hard to tell whether it is a bug at the Pulsar side or it is a bug on the docker side. But from the error message "org.rocksdb.RocksDBException: While fsync: a directory: Invalid argument", I guess it is a problem from the docker side. It seems that the volume mounted doesn't support fsync.

[2020-04-02 00:54] #6619 closed

[2020-04-02 02:08] codelipenghui commented on #6576
@zyllt @zplinuxlover We need a PIP for fixing this issue. Currently, Pulsar does not replicate schema between Pulsar clusters. The schema info is stored in the local zookeeper and bookkeeper, so the new proposal is for replicating schemas between different clusters.

[2020-04-02 02:49] jiazhai commented on #6629
It looks like the [loadbalance](https://pulsar.apache.org/docs/en/administration-load-balance/#load-balance-across-pulsar-brokers) happened a lot for the cluster. When a topic's service transfer from one broker to another, the owner of bookkeeper ledger need change, and will trigger some fence and recover. If topics number is large, it brings pressure to metadata store and disk.

[2020-04-02 02:49] jiazhai commented on #6629
@Shoothzj  It looks like the [loadbalance](https://pulsar.apache.org/docs/en/administration-load-balance/#load-balance-across-pulsar-brokers) happened a lot for the cluster. When a topic's service transfer from one broker to another, the owner of bookkeeper ledger need change, and will trigger some fence and recover. If topics number is large, it brings pressure to metadata store and disk.

[2020-04-02 02:55] jiazhai commented on #6639
@prasad-reddyk @orbang As sijie mentioned, how about try to set the gc to be more frequently in bookkeeper.conf?
The default gc time is 1 hour and 1 day:
[code]

[2020-04-02 04:56] prasad-reddyk commented on #6639
@jiazhai ,
Currently i set one minute of gcWaitTime as recommended bu Sijie. Please Let us know if need to change anthing around these parameter values. Thanks !!

# How long the interval to trigger next garbage collection, in milliseconds
# Since garbage collection is running in background, too frequent gc
# will heart performance. It is better to give a higher number of gc
# interval if there is

[2020-04-02 07:12] jiazhai commented on #6627
@codelipenghui Thanks for the root cause, and Thanks @fracasula for the feed back. Seems we need to remove the consumer when timeout.

[2020-04-02 12:38] wenxuwan commented on #4967
How do you solve it ?

[2020-04-02 14:24] wolfstudy opened #6653 "Replace go client version used by Go Function"
When the pulsar-client-go first release completed, we should replace `go client` version used by Go Functions

[2020-04-02 18:42] sijie opened #6655 "Retention policy should be respected when there is no traffic"
*Motivation*

Currently retention is checked when ledger rollover happens. So if the traffic is stopped, the ledgers are not cleaned up even all the messages are already acknowledged. This issue is to follow up with an enhancement to make sure Pulsar respect to retention policy even there is no traffic.

[2020-04-02 19:09] phijohns-tibco opened #6656 "The mysql jar used by the jdbc connector has an invalid license."
**Describe the bug**
In 2.5.0 release the jdbc connector packages mysql-connector-java:jar:8.0.11. This jar has no valid license. It is GPLV2 with a deprecated FOSS exception

Because this FOSS exception no longer exists, the license is rendered invalid.

[2020-04-03 05:44] prasanthkumar2392 commented on #6642
Hi,

- I am using functions api 2.5.0 and I am using context to set the key and value inside functions and sending it to the output topic.

- But in my test class, I am trying to mock the context and i am unsuccesfull.
(Also tried context configuration of puslar test container to see if context is not null)

My function class to process the messages
`

import org.apache.pulsar.client.api.PulsarCli

[2020-04-03 06:32] KannarFr opened #6658 "Add AuthorizationProvider that support a list of AuthorizationProviders."
**Is your feature request related to a problem? Please describe.**
We are developping a custom authz provider and we don't want breaking changes on current authz usages.

**Describe the solution you'd like**
Write a meta AuthorizationProvider that support a list of AuthorizationProviders.

[2020-04-03 06:33] KannarFr commented on #6658
You can assign it to myself :).

[2020-04-03 06:40] KannarFr commented on #5720
Hi @zymap,

The way to add these features is done on https://github.com/apache/pulsar/pull/6428. It comes with its usage on Namespaces & ServerCnx.

[2020-04-03 10:16] jiazhai commented on #6519
Need a new interface

CompletableFuture<R> apply (T input);

[2020-04-03 10:55] poulhenriksen commented on #6554
How come this is marked as a feature and not a bug?

It violates the ordering guarantee of Key_Shared, and basically makes Key_Shared useless if you dynamically add consumers.

I ask, because I would like to ensure this bug gets the proper attention, and is not regarded as a nice-to-have feature.

[2020-04-03 11:57] feeblefakie commented on #6554
I totally agree with @poulhenriksen .

[2020-04-03 16:37] dunglas opened #6663 "Error when installing the Helm chart"
**Describe the bug**

The following error occurs when trying to install the Helm chart:

    Error: YAML parse error on pulsar/templates/broker-configmap.yaml: error converting YAML to JSON: yaml: line 40: mapping values are not allowed in this context

**To Reproduce**

    helm install --name pulsar ./pulsar -f pulsar/values-mini.yaml
    Error: YAML parse error on pulsar/templates/broker-config

[2020-04-03 16:44] dunglas commented on #6663
The same error occurs with Helm v3.

[2020-04-03 17:14] #6663 closed

[2020-04-04 12:15] Dcep commented on #5899
Fixed my issue with same error with pulsar-client==2.5.0 & OSX 10.13.6

[2020-04-04 15:06] JKeyZ commented on #6605
When I upgrade prestodb to 0.233.1, and run the sql was failed.
error :
Query 20200404_150253_00025_zyyqn failed: Internal error

sql: select * from  "pulsar-string" limit 10;

[2020-04-04 19:23] damienburke commented on #6220
hey, wondering if there is a workaround here, besides building from source? Thanks

[2020-04-04 19:54] damienburke commented on #4540
Any other work arounds for this? None of the above work for me (have not attempted to build from source). Thanks

[2020-04-04 23:41] riferrei opened #6669 "Using Map's with Avro Generated Types Generates Weird Errors"
**Description of the bug**
I have a project that uses Avro generated types (POJO's generated by the Avro compiler) as the type to be serialized with the producer. Everything works fine excepts if one of the fields is a map. When the field is a map and a value is set into this map, the following error is generated:

[code]
Anecdotally, if the field containing a map is not set, the message is proper

[2020-04-05 00:33] #5503 closed

[2020-04-05 05:57] svencowart opened #6670 "Bookkeeper is unable to connect to zookeeper within kind kubernetes cluster."
#### Expected behavior

A successful, local, kubernetes deployment of Pulsar after following the instructions on the docs site.

#### Actual behavior

The bookkeeper service is unable to connect to zookeeper almost immediately on startup.  This is the error log after running step 2d below:
[code]

#### Steps to reproduce

1. Create a kubernetes cluster using kind with the following config:
[code]

[2020-04-05 13:01] 315157973 commented on #6655
How about this：
in BrokerService, create a new ScheduledExecutorService to regularly trigger "ManagedLedgerImpl#trimConsumedLedgersInBackground" of all topics

[2020-04-05 19:17] #6612 closed

[2020-04-05 19:32] #6514 closed

[2020-04-05 21:25] wmccarley opened #6672 "Non-printable characters in subscription name"
**Describe the bug**
One of my teammates, let's call them SAM managed to create the following subscription in a production environment:

[code]

I am working under the assumption that the actual subscription name in zookeeper is a UTF8 encoded string that has backspaces and an ANSI terminal code in it since I can't delete it by that exact name as displayed.

I have two questions:

1) Does anyone h

[2020-04-06 00:12] sijie commented on #6670
@svencowart the current yaml file in master doesn't work with 2.5.0 image. You can remove `PULSAR_PREFIX_` in those settings in bookie.yaml. I have sent a pull request to fix the yaml files in master. You can apply the change in #6671 and re-deploy the cluster.

https://github.com/apache/pulsar/pull/6671/files#diff-21d9f0473ce7fa9c935bc04a157315e4R29

[2020-04-06 00:14] sijie commented on #6655
@315157973 sounds good to me.

[2020-04-06 01:26] jiazhai commented on #6517
@kemburi 2.5.1 release will be cut out this week. mean while, you can try StreamNative weekly build:
[code]

this release contains this feature. https://github.com/streamnative/pulsar/releases/tag/v2.6.0-98344a711

[2020-04-06 07:25] eaba commented on #6146
Currently experiencing the issues listed above - it is a big headache.

[2020-04-06 12:09] Esakkimuthu991 commented on #6323
Can you guide to run the pulsar in cluster mode. My requirement is to run the kafka source connector using function worker.  Logs are providing the general eception. That;s not helped out

[2020-04-06 12:11] codelipenghui commented on #6146
I think the 1st issue is fixed by #6547

[2020-04-06 12:16] Esakkimuthu991 opened #6675 "Kafka Source Connector in pulsar cluster"
**Describe the bug**
Exception in kafka source connector in pulsar cluster function worker

**To Reproduce**
Steps to reproduce the behavior:
1. Run Pulsar Cluster - one zookeeper, one broker and three bookie
2. Ensure Function worker enabled
3. Create Source for kafka
4. Running kafka container and produce message to it.
5. No Exception thrown instead getting hanged . while checking logs no more

[2020-04-06 16:21] russorat commented on #6514
this is awesome! thank you @sijie !

[2020-04-06 17:17] smeadows-abb opened #6677 "Kafka integration Pulsar Schema Registry"
**Describe the bug**
I'm interested in integrating Pulsar Schema Registry with Kafka (documentation, example, howtos) and/or whether Pulsar schema registry will provide support for Golang client (possibly dates).

[2020-04-06 17:27] sijie commented on #6672
@wmccarley

You can use `zookeeper-shell` to connect to zookeeper and check what subscription was created. Once you connect to zookeeper using `zookeeper-shell`, you can use the following command to list the subscriptions.

[code]

If you find the actual subscription name, you can run `rmr /managed-ledgers/<tenant>/<namespace>/persistent/<topic>/<sub>` to delete the malformed subscription.

[2020-04-06 17:28] sijie commented on #6672
Regarding your first question - "Does anyone have any good theories on how a subscription (or a topic/namespace for that matter) could be created like this? "

I am guessing the error was introduced when using some command-line tools.

[2020-04-06 17:31] sijie commented on #6677
@smeadows-abb thank you for raising this feature request! Do you mean using "Pulsar Schema Registry" for Kafka? Can you explain more about your use cases?

The c-go pulsar client already supports schema. The native go client [pulsar-client-go](https://github.com/apache/pulsar-client-go) doesn't support schema yet. But it is in the roadmap. Hopefully, we can get that out in next native go client re

[2020-04-06 17:36] smeadows-abb commented on #6677
My management selected Kafka, I wanted Pulsar. So, I’m stuck with Kafka for messaging. I need Pulsar Schema Registry (it supports every format I need). I need to know how to integrate the product with Kafka as a Schema Registry?

From: Sijie Guo <notifications@github.com>
Sent: Monday, April 6, 2020 1:32 PM
To: apache/pulsar <pulsar@noreply.github.com>
Cc: Steven Meadows <steven.meadows@us.abb.com

[2020-04-06 17:37] sijie commented on #6675
@Esakkimuthu991

What version of the Kafka cluster are you running? What version of Pulsar are you using?

[2020-04-06 18:00] sijie commented on #6677
@smeadows-abb I see. Currently, the Pulsar schema registry wasn't exposed as a standalone service yet. If you want to use it, you can still use it.

You can use the schema restful API to create/retrieve/update the schema: http://pulsar.apache.org/admin-rest-api/?version=2.5.0#operation/postSchema

What you need is just write a Kafka serializer and deserializer to use Pulsar schema library. We did

[2020-04-06 18:04] sijie commented on #6514
@russorat you are welcome! More contributions are welcome!

[2020-04-06 19:08] KannarFr commented on #6658
Finally, the goal is not a support multiple authz provider, but create an authz provider that supports others.

[2020-04-06 19:10] KannarFr commented on #6658
You can unassign this for now.

[2020-04-06 20:54] bback99 opened #6678 "got `null` pointerException when use --window-length-duration-ms"
**Describe the bug**

I'd like to implement pulsar functions with **--window-length-duration-ms**
realized only the class that inherited from `java.util.function.Function` class can do.

However, other function that inherited from this
org.apache.pulsar.functions.api.WindowFunction
throws exception
_Function class org.apache.pulsar.functions.api.examples.ContextWindowFunction does not implement th

[2020-04-07 03:13] qmnonic commented on #6678
Fix here?  https://github.com/apache/pulsar/pull/6246

[2020-04-07 05:31] Esakkimuthu991 commented on #6675
pulsar image - apachepulsar/pulsar-test-latest-version:latest

kafka image - spotify/kafka:latest

[2020-04-07 09:43] sijie commented on #6675
There are a couple of things to check:

1) I am not sure what version of Kafka is spotify/kafka. I think the Kafka connector is using Kafka version 0.10.2.1. You need to make sure your Kafka cluster for testing is compatible with this version.

2) how do you configure `bootstrapServers` in the Kafka source connector? Is it reachable in pulsar cluster?

[2020-04-07 10:21] Esakkimuthu991 commented on #6675
Earlier I tried the same spotify/kafka with pulsar standalone mode . Its supporting and source connector working fine.

Do we have docker compose file for pulsar cluster running with pulsar 2.5.0 image?

[2020-04-07 15:34] jiazhai commented on #6678
@qmnonic Thanks for the information. @bback99  which version of Pulsar are you using?

[2020-04-07 15:40] bback99 commented on #6678
I am using 2.4.1.
also tested in 2.5.0, but the same error.

[2020-04-07 15:41] qmnonic commented on #6678
Looks like it was introduced in 2.4.1, by this PR - https://github.com/apache/pulsar/pull/4844

[2020-04-07 17:49] sijie commented on #6675
@Esakkimuthu991 you can use this docker-compose file for reference. https://github.com/apache/pulsar/blob/master/docker-compose/standalone-dashboard/docker-compose.yml

I think the important thing is to make sure your function worker is able to connect to your Kafka cluster.

[2020-04-08 01:56] schahal opened #6690 "Pulsar proxy with TLS enabled not ignoring attribute fields in private key (loadPrivateKeyFromPemFile())"
**Describe the bug**

There are cases when a private key pem file (e.g., when [converting a pkcs#12 pair to pem](https://security.stackexchange.com/a/191120)) may be of the format:
[code]

As a result, the client can't complete the TLS connection... from client:
[code]
**To Reproduce**

1. Enable pulsar-proxy with TLS enabled
2. Import your tls.crt and tls.key k8s secrets (import the cert) with ke

[2020-04-08 02:07] sijie commented on #6690
@schahal  thank you for reporting this issue. since you already figured out the solution, do you want to submit a pull request?

[2020-04-08 02:19] sijie commented on #6617
Closed the issue since it is already fixed by #6211

[2020-04-08 02:19] #6617 closed

[2020-04-08 02:34] jiazhai commented on #6642
@prasanthkumar2392  It looks more like a mock issue. looks like we need to mock the need classes and methods.

[2020-04-08 07:56] pheecian opened #6692 "[v2.5.0]memory leak during offload to tiered storage"
**Describe the bug**
A clear and concise description of what the bug is.
the feature of "offload to tiered storage" cause severe memory leak and finally shut down the broker due to OOM
**To Reproduce**
Steps to reproduce the behavior:
setup a simple pulsar deployment with zookeeper, bookie, and broker.
produce message to topic continuously
enable auto-offload by setting  --size-threshold 10M (driv

[2020-04-08 07:58] pheecian commented on #6692
@sijie Please Help

[2020-04-08 08:12] codelipenghui commented on #6692
@congbobo184 Looks related to the HDFS offloader, could you please help take a look?

[2020-04-08 09:01] kitekite2020 opened #6693 "We would like to have pulsar clusters in two data centers. They active and active. And we would like to replicate messages from one site and the other. i.e. the subscriber from each site will receive messages from publishers at two sites. And no message loss."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-04-08 09:09] kitekite2020 commented on #6693
We would like to have pulsar clusters in two data centers. They are active and active. And we would like to replicate messages from one site to the other. i.e. the subscriber from one site will receive messages from publishers at two sites. And no message loss. If one site is down, the other site can continue to work.
We are thinking of geo replication. But since geo replication is asynchronous, w

[2020-04-08 09:41] kitekite2020 commented on #6693
The replication state is stored in a cursor(ledger backend) -> Does this mean it is stored in bookie? What if this bookie crashes?

[2020-04-08 12:42] Esakkimuthu991 commented on #6675
I've already tried with standalone mode pulsar and it is working

[2020-04-08 12:45] Esakkimuthu991 commented on #6675
Trying to run it on pulsar cluster mode . So it would be helpful if sharing any reference for pulsar cluster 2.5.0

[2020-04-08 14:08] codelipenghui commented on #6693
Yes, it is stored in bookies(data is replicated in the certain bookies). So you can increase the data replicas to avoid data loss.

[2020-04-08 15:05] shiv4289 opened #6694 "[AVRO SCHEMA] Reset cursor on stream if avro encode fails"
**Describe the bug**
If the avro encode fails, the cursor in the stream is not reset. For the next message the positions are thus arbitrary.

**To Reproduce**
Steps to reproduce the behavior:
1. Add an avro schema (Add it using the json string representing the avro schema). Keep the second field not null
2. Write a message that sends null for the second field. This means first field was written in

[2020-04-08 15:11] codelipenghui commented on #6669
Which version of the Avro compiler you are using? Pulsar uses Avro 1.8.2 and upgrades to 1.9.1 in version 2.5.1(https://github.com/apache/pulsar/pull/5938). I'm not sure is it caused by inconsistent Avro versions.

[2020-04-08 15:42] riferrei commented on #6669
I was using 1.9.2 by the time I filed the issue. However, I just tested here with both 1.8.2 and 1.9.1 and I still get the same error:

[code]

[2020-04-08 16:07] #6690 closed

[2020-04-08 18:17] sijie commented on #6675
@Esakkimuthu991 do you mean a docker-compose file for cluster setup?

For step-by-step instruction on setting up a cluster using docker, you can check out this demo:

https://github.com/streamnative/tgip/blob/master/episodes/001/demo.md

I walk through it in this TGIP video: https://www.youtube.com/watch?v=1RQSot5tTuU

Hope this is useful for you.

[2020-04-08 19:08] ckreiling commented on #6079
Any updates on this? I have ran into the same issue and am glad to see the discussion is already in progress. Thanks!

[2020-04-08 19:13] ckreiling commented on #6079
Nevermind, I found the [`apache-pulsar/pulsar:latest`](https://hub.docker.com/layers/apachepulsar/pulsar/latest/images/sha256-dd8850d615c26a3416fe5bae0402825ee499e81a775deaccaea8c3d9f4770f5c?context=explore) image works 👍

[2020-04-09 01:32] kitekite2020 commented on #6693
Thank you. So I understand from you that there is a mechanism to trace or manage which message is replicated and make sure all messages are replicated. That is great.
Is there a mechanism to trace which is message replicated and received by the target cluster/site?
I am also trying if possible to use grafana and prometheus to validate if there is message loss. Any advice here?

[2020-04-09 01:41] sijie commented on #6556
@18817872594 are the messages produced by pulsar go clients? what version of pulsar go client are you using?

[2020-04-09 01:50] sijie commented on #6610
@codelipenghui @jiazhai Can any of you help with this issue?

[2020-04-09 01:51] sijie commented on #6614
@xiangwangcheng were you able to configure minikube to use proxy?

[2020-04-09 04:22] codelipenghui commented on #6669
@riferrei The problem is fixed by #6406, I have tested your reproduce demo(with 1.9.1 compiler) on the master branch and it passed. #6406 will release at 2.5.1 and 2.5.1-RC is out for validation. If you are interested in the validation you can take a look at the email thread https://lists.apache.org/thread.html/r7b2783d13007e621e2e880a37d808e6a9ec178ece2090e117b8c68e6%40%3Cdev.pulsar.apache.org%3E

[2020-04-09 04:52] codelipenghui commented on #6693
Yes, the metrics related to the replication is described at https://pulsar.apache.org/docs/en/reference-metrics/#replication-metrics-1, and https://github.com/streamnative/apache-pulsar-grafana-dashboard already contains message replication related dashboards. You can checkout and try it.

[2020-04-09 05:56] xiangwangcheng commented on #6614
@sijie No, I configured the proxy according to the doc but still cannot pull any images.

[2020-04-09 06:03] crazylab opened #6696 "Support for list of roles in `AuthorizationProvider` interface"
**Is your feature request related to a problem? Please describe.**
We would like to keep Pulsar roles very slim with only few actions/role. When required we will assign multiple roles to a user to grant more permission. But currently such composition of roles is not possible in pulsar.

The interface for the `AuthorizationProvider` accepts only one role to decide the permission of a user. There is

[2020-04-09 06:54] xuesongxs opened #6698 "Pulsar function to instantiate"
**Is your feature request related to a problem? Please describe.**
When instantiating the function implementation class, the function implementation class's constructor is instantiated by using the functions-worker runtime classloader. In the function implementation class's constructor, getting the configuration file in the classpath only reads the configuration file in Java-instance.jar, and then

[2020-04-09 08:30] codelipenghui commented on #6610
@DavidLiuXh I try to reproduce the problem follow the steps that you provided, but I can't reproduce it. I have added a unit test #6699 for consumer distribution when partitions update. Please help check if it is consistent with what you described. Thanks.

[2020-04-09 08:33] fransguelinckx commented on #4672
👍

[2020-04-09 11:29] Esakkimuthu991 commented on #6675
Thanks for the link provided

[2020-04-09 11:47] riferrei commented on #6669
Hi @codelipenghui,

Thank you so much for looking into this. I will be taking **2.5.1-RC** for a spin for sure.

-- @riferrei

[2020-04-09 14:37] itaross opened #6701 "Cannot create Pulsar-IO connector"
**Describe the bug**
Ni-fi maven plugin is not copying /resources/META-INF/services/pulsar-io.yaml
Pulsar cannot load the connector because a yaml file is not inside the .nar archive

**To Reproduce**
Steps to reproduce the behavior:
1.  Clone an existing pulsar-io connector
2. mvn compile
3. Use nar plugin to generate .nar
4. Copy the nar under connectors folder
5. Type the command: pulsar-admin

[2020-04-09 14:47] itaross commented on #6701
Ok sorry @sijie you can close this.
I have found the solution.
I needed to add this inside the build tag in pom.xml:
[code]

[2020-04-09 14:47] #6701 closed

[2020-04-09 18:16] herberthamaral commented on #5846
Sorry to be that guy, but do we have any news on this? Thanks in advance!

[2020-04-09 20:16] sijie commented on #6701
Thank you @itaross

[2020-04-09 20:18] sijie commented on #6675
@Esakkimuthu991 I am assuming you have gotten the information you need. I am closing this issue now. If you need any more help, feel free to leave a comment and reopen this issue.

[2020-04-09 20:18] #6675 closed

[2020-04-09 20:22] itaross commented on #6701
I do know if it is too specific, but I'd love too see it in the official doc here: https://pulsar.apache.org/docs/en/io-develop/

[2020-04-09 20:29] sijie opened #6702 "[Authorization] Authorization provider should accept AuthenticationDataSource rather than a string role token"
*Problem*

Most of the methods in AuthorizationProvider take `AuthenticationDataSource` for authorization decision. However `isSuperUser` still takes the string role token. This has to be changed.

[2020-04-09 20:54] apapia commented on #6463
Not sure if this is the same bug, but I'm seeing a segfault when running pulsar-client 2.5 with Python 3.7.7 on Mac OS 10.13.6.  This is the stack trace I get:
[code]

[2020-04-09 21:05] sijie commented on #6140
Closed this issue. Since the PMC has deprecated the current pulsar-flink integration maintained in the main repo. We encourage people to use the pulsar-flink connector proposed in FLIP-72, which is contributed to the upstream Flink community: https://cwiki.apache.org/confluence/display/FLINK/FLIP-72%3A+Introduce+Pulsar+Connector

[2020-04-09 21:05] #6140 closed

[2020-04-09 21:21] sijie commented on #6229
I think this issue was fixed by #6683

[2020-04-09 21:21] #6229 closed

[2020-04-09 22:11] sijie commented on #6628
@Shoothzj

How do you set up the bookie memory settings? It would be good to share more details about your current set up.

I would also suggest checking out the whitepaper written by Penghui and Devin about a deep-dive into Pulsar Architecture for performance tuning - https://streamnative.io/whitepaper/taking-a-deep-dive-into-apache-pulsar-architecture-for-performance-tuning/

[2020-04-10 06:40] wolfstudy commented on #6678
@qmnonic @bback99 Thanks feedback, The issue has been fixed in #6246, this change will be built in 2.6.0.

[2020-04-10 08:01] pheecian commented on #6692
@congbobo184 I commented #6697 , Please Read it. Thanks

[2020-04-10 09:17] sbourkeostk opened #6709 "unsubscribe option for pulsar-client cli"
**Is your feature request related to a problem? Please describe.**
After running `pulsar-client consume` the subscription is kept active and it is not possible to unsubscribe without using the admin interface.

**Describe the solution you'd like**
The option to unsubscribe after consuming. eg:
pulsar-client consume -s testsub --unsubscribe persistent://my/pulsar/topic

**Describe alternatives you'

[2020-04-10 10:23] 315157973 commented on #6610
I also checked this problem before

@ DavidLiuXh's description is not accurate. This should be:
1 Create a Topic with 3 Partitions, and create 3 Consumers
2 Update the number of Partitions to 4
3 Add a new consumer
4 We expect that each consumer consumes one Partition, the reality is that 3 consumers consume 4 Partitions. Occasional discovery

the reason:
In failover mode, the sorting of consumers

[2020-04-10 10:51] sijie commented on #6701
@itaross it seems like a bug. Do you want to contribute a fix?

[2020-04-10 11:18] codelipenghui commented on #6610
@315157973 Oh, thanks. I will try to fix in #6699

[2020-04-10 12:01] cdbartholomew opened #6710 "Health check fails when running Docker images"
**Describe the bug**
When requesting the health check endpoint for a broker, it always fails when running inside a Docker image:

[code]

This problem does not happen when running the broker in standalone mode.

This issue is present in master and in the v2.5.1-candidate-2 tag. In an identical setup running 2.5.0, this does not happen.

**To Reproduce**

1. Build Docker images like this:

[code]

[2020-04-10 12:30] cdbartholomew commented on #6710
I can confirm this issue also occurs when running in a real Kubernetes cluster, not just minikube.

[2020-04-10 14:40] cdbartholomew commented on #6710
There appears to be a much larger issue here. Connecting a producer with a schema is timing out (I am testing using the 2.5.1 candidate). Using the following python code running in a bastion connecting to the broker:

[code]
Gives this result:

[code]
The first producer without schema is able to connect without issue. The second producer with a schema times out. This same Python code runs fine aga

[2020-04-10 17:28] EronWright opened #6711 "Support for audience claim in JWT token"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to configure the JWT authentication provider to verify the audience on incoming tokens.  I believe this will improve security because it would prevent a spoofer from reusing a token that was intended for another purpose (yet signed by the same issuer).  [RFC 6749 section 4.1.3](https://tools.ietf.org/html/rfc751

[2020-04-10 19:50] acherla opened #6712 "Pulsar Go Client Producer 2.4.1, 2.4.2 does not round robin messages by default when sending messages to multi partitioned topics"
**Describe the bug**
The Pulsar Go Client does not properly round robin requests when sending data to a multi partitioned topic.  This is observed consistently even when explicitly configuring round robin mode in pulsar go producer configuration settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Start pulsar docker container
2. Create go client and publish messages to a multi-partitio

[2020-04-11 00:53] cdbartholomew commented on #6710
Turns out the build server had it's Java version upgraded to 11. Once we reverted back to Java 8, this problem goes away. My apologies for the noise. Closing.

[2020-04-11 00:53] #6710 closed

[2020-04-11 02:13] #6448 closed

[2020-04-11 02:15] #6388 closed

[2020-04-11 02:45] liudezhi2098 opened #6714 "cannot be correctly parsed batch message from http response"
**Describe the bug**
when get batch message from http response,  only get the first message.

method:
`List<Message<byte[]>> getIndividualMsgsFromBatch(String topic, String msgId, byte[] data,
                                                             Map<String, String> properties`

**To Reproduce**
[code]
ByteBuf buf need to move out of the loop

[2020-04-11 06:12] jiazhai commented on #6714
Thanks @liudezhi2098 for the issue and fix

[2020-04-11 07:25] 315157973 commented on #6709
you can assigne it to me :) @sijie

[2020-04-11 09:04] itaross commented on #6701
I am not quite sure it is a bug from Pulsar side.
The Pulsar API expects to find "pulsar-io.yaml" inside the .nar archive, but when building it is not copied under target/classes/META-INF/services.
From Ni-Fi plugin side I understand that they could not be aware that it is required to copy that pulsar-io.yaml. Yesterday I digged down a bit and I have found that on apache/nifi-maven there is this m

[2020-04-11 17:48] sijie commented on #6709
@315157973 since you are not part of ASF org, I am not able to assign it to you in Github. In general, you can leave a message here when you start working on it.

[2020-04-11 17:49] sijie commented on #6709
@315157973 I don't think we need additional command to do that.

@sbourkeostk  You can use `topics unsubscribe` to unsubscribe a subscription.

[code]

[2020-04-11 21:38] Nainwake commented on #6213
Any updates on the consumer with scala case class ? Problem stil exists in 2.5.0.
pulsar4s seems to works from what i see.

[2020-04-12 01:48] yjshen commented on #6213
How about adding a no-arg constructor in the case class?

[2020-04-12 18:10] pradeep00m opened #6721 "Redelivery count is not getting updated for negatively acknowledged messages."
#### Expected behavior
Whenever I negatively acknowledge a message, the message should be redelivered with its redelivery count incremented by 1.
#### Actual behavior
The redelivery_count is not getting incremented.
#### Steps to reproduce

Step 0: Create a pulsar topic
Step 1: Produce a message to the topic.
Step 2: create a consumer and negatively acknowledge the message
Step 3: After negative_a

[2020-04-13 01:23] kitekite2020 commented on #6693
Thanks. Was trying this dashboard. Had some problems and will figure out why.

[2020-04-13 01:25] kitekite2020 commented on #6693
Would like to clarify for geo-replication message delivery. Is it more like TCP, every message got acknowledged when it is replicated successfully to the other site, or more like UDP, fire and forget?

[2020-04-13 01:46] sijie commented on #6709
Closed this issue since we don't need to add `unsubscribe` command to pulsar-client.

[2020-04-13 01:47] sijie commented on #6712
@afire007 do you have any code sample of producing messages to the partitioned topic? I am wondering if you set any message keys when producing them.

[2020-04-13 01:52] sijie commented on #6721
@pradeep00m The `redelivery_count` is currently used by DeadLetterTopic. It is only enabled for `shared` subscription. Are you testing this using `shared` subscription or other subscription types?

[2020-04-13 02:27] kitekite2020 opened #6723 "Errors in baremetal cluster configuration"
Cannot get cluster list after initializing cluster metadata. Error message is
Reason: javax.ws.rs.ProcessingException: Connection refused: localhost/127.0.0.1:8080
Start bookie. Got error message:
[main] ERROR org.apache.bookkeeper.discover.ZKRegistrationManager - BookKeeper metadata doesn't exist in zookeeper. Has the cluster been initialized? Try running bin/bookkeeper shell metaformat

## Steps

[2020-04-13 03:02] pradeep00m commented on #6721
I'm testing it on a `Exclusive` subscription. Yeah, its working on `shared`, is there anyway I can use `redelivery_count` in `exclusive` subscription.

[2020-04-13 04:01] wenxuwan opened #6724 "Compile client failed with container"
**Describe the bug**
When i try to compile client with container,  it failed with link error.

/opt/rh/devtoolset-2/root/usr/libexec/gcc/x86_64-CentOS-linux/4.8.2/ld: /usr/local/lib/libsnappy.a(snappy.o): relocation R_X86_64_32 against `.rodata' can not be used when making a shared object; recompile with -fPIC

In the container, i find the snappy compiled with  CFLAGS="-fPIC -O3" .
# Snappy
RUN cu

[2020-04-13 04:36] sijie commented on #6721
@pradeep00m - I think there is a reason why `redelivery_count` was not enabled for a non-shared subscription. @codelipenghui can you chime in here?

[2020-04-13 06:27] #6702 closed

[2020-04-13 06:59] wenxuwan commented on #6724
Hi, for snappy the flag should be CXXFLAGS="-fPIC -O3"  instead of  CFLAGS="-fPIC -O3".After replacement, the compilation is normal

[2020-04-13 09:28] sijie commented on #6724
@wenxuwan so the problem is not a pulsar issue, correct?

[2020-04-13 09:32] yannick commented on #4162
i also have this issue on k8s, however i only have the journal and ledger PVC mounted and no ssd....

[2020-04-13 09:47] wenxuwan commented on #6724
No, the dockerFile is pulsar's file.  So the problem is pulsar issue.

[2020-04-13 10:21] wenxuwan commented on #6724
you can refer https://github.com/apache/pulsar/compare/master...wenxuwan:master?diff=unified#diff-7e19b76e860cce6cafee3c3707d04659

[2020-04-13 12:02] pradeep00m commented on #6721
We don't have to do this specifically in Exclusive subscription. Shared subscription also works for us. I was just wondering why it wasn't working for the Exclusive subscription. That's all.
Thanks.

[2020-04-13 12:02] #6721 closed

[2020-04-13 12:14] pradeep00m opened #6731 "Failing to acknowledge messages during pulsar reconnection"
**Describe the bug**
I am consuming messages from the topic and acknowledging them. For some reason pulsar lost the connection and reconnects back and acknowldge the message. Its not getting acknowledged.

**To Reproduce**
1. Create a consumer and consume a message from the topic.
2. store the message and close the connection
3. Create the consumer and acknowledge the message now.
4. If I consume

[2020-04-13 13:50] qmnonic commented on #6678
@wolfstudy https://github.com/apache/pulsar/pull/6246 appears to be in 2.5.1 , so it's in the release candidate now.

[2020-04-13 15:01] afire007 commented on #6712
@sijie We are not sending any message keys when producing to the partitioned topic.  Below is the configuration we are using when sending data to the broker.  This applies to both non-persistent and persistent topics

client, err := pulsar.NewClient(pulsar.ClientOptions{
    		URL: pulsarBroker,
		Authentication: tls_auth,
		TLSTrustCertsFilePath: pulsarSslCACertFile,
		TLSAllowInsecureConnection:

[2020-04-13 20:08] Nainwake commented on #6213
Hey @yjshen thanks for the reply.
Indeed it works well for producer and consumer.
See below a quick and dirty case class to be able to produce/consume without troubles :
`case class CaseMessage(
                        @BeanProperty key: String,
                        @BeanProperty event_time: Long,
                        @BeanProperty value: String
                      )
{
  def this() = this(

[2020-04-14 01:56] codelipenghui commented on #6731
Looks the problem is the message does not remove from the receiver queue when the consumer acknowledges messages. So it's better to skip messages that already acknowledged by the consumer.

BTW, currently, message acknowledgment is asynchronous execution. Even if you ack a message then the consumer reconnects occurs, the consumer will also receive duplicate messages.

[2020-04-14 02:26] codelipenghui commented on #6712
Looks related to go client @wolfstudy could you please help take a look at this issue?

[2020-04-14 03:53] feeblefakie commented on #6554
@codelipenghui Could you share updates on this if any ?
Sorry for pushing, but I feel it is a really critical bug and Key_Shared users will have so much troubles if they just use it without doubt.

[2020-04-14 04:05] codelipenghui commented on #6554
@feeblefakie We are already advancing this matter and I have drafted an approach. I will create a PIP soon.

[2020-04-14 04:49] sijie commented on #6484
I think we can try to make the protobuf schema dependencies as provided.

@jiazhai @gaoran10 let's pick this up the coming week.

[2020-04-14 04:59] feeblefakie commented on #6554
@codelipenghui Thank you for sharing the update ! Good to know. :)

[2020-04-14 05:10] pradeep00m commented on #6731
How will I know if the message is already acknowledged? Right now I'm consuming from the consumer and do the necessary processing.

[2020-04-14 06:33] jiazhai commented on #6484
Get it.

[2020-04-14 06:34] sijie commented on #5917
@Lanayx :

I think you can configure the log level through the system environments provided in `bin/pulsar`. You can add `PULSAR_LOG_LEVEL` and `PULSAR_LOG_ROOT_LEVEL` to the corresponding configmap.

[code]

[2020-04-14 06:48] kitekite2020 commented on #3716
Did you do a restart after setting racks placement? Somewhere I read you have to do a restart after rack placement.

[2020-04-14 07:11] Hugues514 opened #6734 "Pulsar SQL should support readCompact on topics"
So far, when a Pulsar topic is compacted, the Pulsar SQL query will read all the records, not considering the compacted option

It could be interesting to be able to query such a topic using a readCompact option so that the reader will skip all the 'compacted records'.

[2020-04-14 08:39] sijie commented on #6724
@wenxuwan I see. Do you want to submit a pull request for this issue?

[2020-04-14 08:39] sijie commented on #6721
@pradeep00m I see. thank you

[2020-04-14 08:43] #6694 closed

[2020-04-14 08:44] #6521 closed

[2020-04-14 08:59] sijie commented on #6309
Closed this issue since the question has been answered.

[2020-04-14 08:59] #6309 closed

[2020-04-14 09:01] sijie commented on #6599
@otmanel31 did you create a namespace or a topic using a name that contains '/'?

If you can share the sequence of the steps, I can try to reproduce the issue.

[2020-04-14 09:02] sijie commented on #6307
@rmbellovin Is this still an issue to you?

[2020-04-14 09:07] sijie commented on #5992
@jack-newbury and @ckdarby we have just updated the helm chart. Currently the helm chart is verified by the chart testing framework. You can:

- follow the instructions (http://pulsar.apache.org/docs/en/kubernetes-helm/) to get started
- follow the instructions to configure (http://pulsar.apache.org/docs/en/helm-deploy/) the helm chart to install a production setup

[2020-04-14 09:10] sijie commented on #4162
for people how encountered issues here, the yaml files are pretty out-of-dated. It is hard for us to maintain individual yaml files for different platforms. we have decided to remove those yaml files.

Please consider using the latest helm chart for deploying Pulsar on Kubernetes. The Helm chart is now protected and verified using the Helm chart testing framework and it is the official support Hel

[2020-04-14 09:10] #4162 closed

[2020-04-14 09:12] sijie commented on #5918
@dockerzhang

the yaml files are pretty out-of-dated. It is hard for us to maintain individual yaml files for different platforms. we have decided to remove those yaml files.

Please consider using the latest helm chart for deploying Pulsar on Kubernetes. The Helm chart is now protected and verified using the Helm chart testing framework and it is the official support Helm chart by the Pulsar PMC.

[2020-04-14 09:12] #5918 closed

[2020-04-14 09:15] sijie commented on #5711
@lxkaka @LarsT42 the problem is those YAML files don't provide any liveness and readiness checks. we have decided to remove those YAML files.

Please consider using the latest helm chart for deploying Pulsar on Kubernetes. The Helm chart is now protected and verified using the Helm chart testing framework and it is the official support Helm chart by the Pulsar PMC.

- follow the instructions (http

[2020-04-14 09:15] #5711 closed

[2020-04-14 09:21] sijie commented on #6154
It seems that brokers can't form any ensembles because there are not enough bookies.

We have enhanced the helm chart to include liveness and readiness probes for bookies and brokers. Can you try the latest helm chart for deploying Pulsar on Kubernetes?

- follow the instructions (http://pulsar.apache.org/docs/en/kubernetes-helm/) to get started
- follow the instructions to configure (http://pulsa

[2020-04-14 09:24] sijie commented on #1638
We have updated the documentation for the Pulsar Helm Chart.

- follow the instructions (http://pulsar.apache.org/docs/en/kubernetes-helm/) to get started
- follow the instructions to configure (http://pulsar.apache.org/docs/en/helm-deploy/) the helm chart to install a production setup

[2020-04-14 09:24] #1638 closed

[2020-04-14 10:38] one70six commented on #3716
I believe so but it has been a while since we’ve tested this feature. Maybe we’ll go back and try it again and thanks!

[2020-04-15 01:41] #6342 closed

[2020-04-15 01:53] jiazhai commented on #6724
Thanks @wenxuwan for the help.

[2020-04-15 06:40] jiazhai commented on #6724
@wenxuwan Would you provide more details of how to reproduce it?
This Dockerfile that you changed in PR #6736 is called by the shell scripts in that dir:
e.g. /pulsar/pulsar-client-cpp/docker/build-wheel-file-within-docker.sh

[2020-04-15 06:59] wenxuwan commented on #6724
1. cd /pulsar/pulsar-client-cpp/docker/
2.docker build --build-arg PYTHON_VERSION=3.7 --build-arg PYTHON_SPEC=cp37-cp37m .
3.start container and login
4.run build-wheel-file-within-docker.sh
5. when finish compile and link .so file, you will meet the error:

[ 90%] Built target pulsarStatic
[ 90%] Linking CXX shared library _pulsar.so
/opt/rh/devtoolset-2/root/usr/libexec/gcc/x86_64-CentOS-linux/4

[2020-04-15 08:27] #5846 closed

[2020-04-15 09:03] jiazhai commented on #6724
Thanks @wenxuwan for the details.

[2020-04-15 09:28] sbourkeostk commented on #6709
@sijie Yes, you can unsubscribe using the admin interface but that is not the same thing. Allowing the CLI client to unsubscribe itself has two main advantages:

1. Users without access to the admin interface can unsubscribe
2. Convenience - I suspect that a lot of users use `pulsar-client consume` to check that messages are flowing on a topic and they do not intend the subscription to persist. On

[2020-04-15 14:28] ivan970101 commented on #5978
I'm interested in this issue. May I have a try?

[2020-04-15 21:06] wmccarley commented on #6640
If you're talking about your brokers accepting multiple CAs in tlsTrustCertsFilePath I _think_ that is already supported. You should be able to cat all the ca pem files into one big file and use that as your trust cert store. I have not done it personally because we have no such requirement but I think it will work. You will get a pem file like this:
`-----BEGIN CERTIFICATE-----`
`<your CA>`
`----

[2020-04-16 00:16] ckdarby commented on #5992
@sijie Wow, very impressed with the documentation & helm updates! 99% works!

Error with ` helm install --generate-name --values values-mini.yaml .`

Not sure if values.yaml has a bug and that is why the Grafana resources section is commented out or values-mini.yaml is supposed to have that section commented out and match values.yaml.

Got it working with this for the time being:
[code]

[2020-04-16 01:13] sijie commented on #5992
@ckdarby Currently the helm chart is maintained in the main source repo while it shouldn't be. Because the changes to the helm chart should be decoupled from the changes to the main code. We are working on moving the helm chart into a separate repo maintained by the PMC - https://github.com/apache/pulsar-helm-chart as part of [PIP-62](https://github.com/apache/pulsar/wiki/PIP-62%3A-Move-connectors

[2020-04-16 01:33] sijie commented on #6723
[code]

This indicates that the cluster initialization you run before didn't succeed. Can you double check if the cluster initialize completed successfully.

[2020-04-16 01:34] sijie commented on #6724
I think #6741 has fixed this issue.

[2020-04-16 01:34] #6724 closed

[2020-04-16 02:14] ckdarby commented on #5992
@sijie Sounds good! Was able to get everything running without any issue.

Excellent contributions to whomever did all the changes!

[2020-04-16 02:14] #5992 closed

[2020-04-16 06:50] #6711 closed

[2020-04-16 09:35] #6714 closed

[2020-04-16 09:47] liudezhi2098 opened #6744 "Produce encrypted messages, messageMetadata objects are not recycle"
When producing encrypted messages for inspection, MessageMetadata objects are not released after they are created

org.apache.pulsar.broker.service.Producer
[code]
*MessageMetadata was not recycled*

[2020-04-16 14:59] IsNull commented on #572
When I stumbled upon Plusar I died twice. First I read the description and, coming from a Kafka / Kubernetes background, I thought man these guys really tick everything I could wish for. After that, I clicked the Docs page and when I discovered those nasty ZK boxes in the diagram the dream died as fast as it was emerging.

I can understand the argument of not repeating yourself and it may look lik

[2020-04-16 15:30] #6744 closed

[2020-04-16 17:49] sijie opened #6748 "`pulsar.broker-service-url` is misleading in presto configuration"
*Motivation*

`pulsar.broker-service-url` in presto configuration is misleading. The name seems to indicate that you should use a broker service URL. But actually it is expecting the admin/HTTP service URL. So it is better to add a new `pulsar.admin-service-url` to replace this `pulsar.broker-service-url` setting.

At least, we need to document this setting.

[2020-04-16 19:29] eaba commented on #6748
Yes, truly it is misleading!
I had to look up several examples to understand how to set it!

[2020-04-16 19:33] eaba opened #6749 "Cannot be cast to [B - presto connector"
Given a byte[] field in a Schema, pulsar presto connector throws this exceptions even when presto identifies the column as varbinary
[code]

[2020-04-16 20:06] crazylab commented on #4585
Any update on https://github.com/streamnative/pulsar-spark contributing back here?

[2020-04-16 21:56] sijie commented on #6748
@eaba are you interested in sending out a pull request for fixing it?

[2020-04-16 22:20] sijie commented on #5294
Since there are no more details to look into this issue, close it for now.

[2020-04-16 22:20] #5294 closed

[2020-04-16 22:21] sijie commented on #4041
This issue has been implemented with the flag `forward message properties`.

[2020-04-16 22:21] #4041 closed

[2020-04-16 22:25] sijie commented on #5300
This has been implemented by #4728

[2020-04-16 22:25] #5300 closed

[2020-04-16 22:28] sijie commented on #5459
Can you confirm if this problem still exists in 2.4.2 or 2.5.0 releases?

[2020-04-16 22:33] sijie commented on #5373
Closed this issue since it is answered.

[2020-04-16 22:33] #5373 closed

[2020-04-17 01:35] sijie commented on #6610
@315157973 Are you using the same consumer name? If you don't provide consumer name, the consumer name is generated by broker, so the case you described shouldn't happen.

[2020-04-17 03:42] eaba commented on #6748
`pulsar.web-service-url` should be better? `admin-service-url` sounds like a new term.
It is documented that `broker-service-url` is `6650` binary and `web-service-url` is `8080` web.

[2020-04-17 06:19] #6629 closed

[2020-04-17 06:24] Shoothzj commented on #6628
According to my business, I want to deploy in two mode:
1. 1U4G for both pulsar and bk
2. 4U16G for both pulsar and bk

I test it last week, I only tunning both pulsar and bk, JVM HEAP to 1G, Directory memory to 1G.

Last week, I didn't thinking the memory of rocks DB, and I will  consider this.

Do you think it's okay? Can 1U4G run well?

[2020-04-17 06:27] ADHB commented on #6748
pulsar.web-service-url will centainly fit better :)

[2020-04-17 07:35] kaykillyou opened #6751 "org.apache.bookkeeper.proto.WriteEntryProcessor - Attempt to write to fenced ledger"
**Describe the bug**
there a exception after restart bookie, and all machines in the cluster keep reporting errors as below:

2020-04-17 12:52:12.009 INFO  [GarbageCollectorThread-11-1] org.apache.bookkeeper.bookie.GarbageCollectorThread - Enter minor compaction, suspendMinor false
2020-04-17 12:52:12.009 INFO  [GarbageCollectorThread-11-1] org.apache.bookkeeper.bookie.GarbageCollectorThread - Do

[2020-04-17 11:19] wolfstudy commented on #6712
hello @afire007  what is the `pulsarTopic` value?

Unfortunately, i don't reproduce the issue in my local. Step as follows:

1. run pulsar 2.5.0

[code]

2. create topic

[code]

3. receive messages from `non-persistent://public/default/sample-topic-1min`

[code]

4. publish message to `non-persistent://public/default/sample-topic-1min`

[code]

In receive window, the output as follows:

[code]

T

[2020-04-17 11:22] wolfstudy commented on #6678
The #6246 will be cherry-pick to 2.5.1, when pulsar 2.5.1 is released, the issue will be fixed. And @tuteng is working this.

[2020-04-17 13:49] codelipenghui opened #6754 "Get schema by version can get the deleted schema info."
**Describe the bug**
Get schema by version can get the deleted schema info.

**To Reproduce**
1. create a schema for a topic.
2. delete schema of the topic.
3. get schema by the previous schema version that created.
4. Still can schema info.

**Expected behavior**
Should response 404

**Additional context**
master branch.

[2020-04-17 16:00] 315157973 commented on #6610
@sijie  The automatically generated names are numbers + letters, and the ones generated later may be ranked first. You can reproduce it with a unit test

[2020-04-17 16:29] afire007 commented on #6712
@wolfstudy
Hi,
My pulsarTopic was set to "non-persistent://gkiv/sample-topic/sample-topic-1min"
Im wondering if your IOTHREADS config is whats resolving the issue as I see its set to 5 whereas my configuration has it set to 1.  Would this block the ability for the client to produce to multiple partitions?

[2020-04-18 02:14] codelipenghui opened #6759 "Wrong admin API description for create subscription"
**Describe the bug**
Wrong admin API description for create subscription
http://pulsar.apache.org/admin-rest-api/?version=2.5.0#operation/createSubscription

**Screenshots**
![image](https://user-images.githubusercontent.com/12592133/79625697-34713f00-815d-11ea-96eb-5fa4aeeeebd5.png)

[2020-04-18 05:06] skyrocknroll commented on #6236
@hari819 We are in the process of deploying the Whole pulsar cluster with TLS. It would be greatly helpful if you document how you have done it. Thanks in advance.

[2020-04-18 08:23] erobot opened #6761 "Wrong tokenSecretKey configuration description about using base64 inline"
**Describe the bug**
When using base64 line in tokenSecretKey, config should specify like "tokenSecretKey=data:;base64,xxxxxxxxx" but not "tokenSecretKey=data:base64,xxxxxxxxx". Description in documnet is missing a semicolon.

data URI scheme:
https://en.wikipedia.org/wiki/Data_URI_scheme

wrong documents:
https://pulsar.apache.org/docs/en/reference-configuration/

https://pulsar.apache.org/docs/e

[2020-04-18 12:15] 315157973 commented on #6610
Suppose there are 3 consumers, and their automatically generated names are: b1, b2, b4.

The consumer lists of the 3 nodes are：

node1： b1、b2、b4
node2： b1、b2、b4
node3： b1、b2、b4

org.apache.pulsar.broker.service.AbstractDispatcherSingleActiveConsumer#pickAndScheduleActiveConsumer

According to line 122

index = partitionIndex % consumersSize;

0 % 3 = 0
1 % 3 = 1
2 % 3 = 2

Partition0 is consumed b

[2020-04-18 13:05] codelipenghui commented on #6610
So, after the client knows new partition added, b4 eventually takes over the new partition, right?  Are you using java client?

[2020-04-18 14:16] 315157973 commented on #6610
Both are right

[2020-04-18 15:34] psilos opened #6765 "Avro Schema Definition flags are not exposed on Pulsar Functions"
**Describe the bug**
A few stories have been added that allow Avro Schema Compatibility on Pulsar to conform with the default Avro behaviour, namely:

- https://github.com/apache/pulsar/pull/5938
- https://github.com/apache/pulsar/pull/6704 -- adding `boolean isJsr310ConversionEnabled`
- https://github.com/apache/pulsar/pull/3752 -- adding `boolean getAlwaysAllowNull`

Unfortunately these flags ar

[2020-04-18 19:14] cckellogg commented on #6520
This can already be supported by providing your own implementation of this class

https://github.com/apache/pulsar/blob/master/pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesManifestCustomizer.java
This class allows you to do anything to the function spec so you can set whatever image you want.

[2020-04-19 00:35] phemmer commented on #3554
Can we please get this limitation documented? Currently none of the [documentation](https://pulsar.apache.org/docs/en/sql-overview/) mentions the supported or unsupported schemas.

I had a suspicion that protobuf wasn't supported, as support for it in general is usually pretty scarce. But I couldn't make that determination until google turned up this issue.

[2020-04-19 04:29] phemmer opened #6768 "Server exception when using enum in schema"
**Describe the bug**
When trying to create a topic with a schema containing an enum, an exception is thrown on the server.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the following go code:
[code]

**Expected behavior**
No error

**Actual behavior**
On client:
[code]
On server:
[code]

**Desktop (please complete the following information):**
 - OS: Linux, Fedora 31

**Additional cont

[2020-04-19 05:04] phemmer commented on #6768
Sigh. I just ran across another issue in the same vein.
The following schema also generates an exception:
[code]

Do schemas even work?

[2020-04-19 10:23] bschofield commented on #6040
Workaround: edit `pulsar/c_client.go` and just before the line beginning `#include`, add:

[code]

[2020-04-20 01:04] hozn commented on #5459
This just happened for me with pulsar 2.5.0.
[code]

[2020-04-20 01:36] sijie commented on #6751
@kaykillyou LedgerFenced typically happens when the topic ownership is changed. So a ledger will be fenced by the new owner. The exception should be gone after a new ledger is created. Did you still see the exceptions?

[2020-04-20 01:54] kaykillyou commented on #6751
This morning, only one machine is still reporting errors, and the other two are OK.

[2020-04-20 03:04] codelipenghui commented on #6768
Looks you have to specify a namespace for the schema definition. You can check here https://github.com/apache/pulsar/blob/master/pulsar-client-go/pulsar/schema_test.go#L42.

[2020-04-20 04:20] jiazhai commented on #6761
@erobot  How to identify it is wrong/correct result?

[2020-04-20 04:23] jiazhai commented on #6761
Here is my reproduce:
[code]

[2020-04-20 04:24] jiazhai commented on #6761
Here is my reproduce:
[code]

[2020-04-20 04:25] jiazhai commented on #6761
Here is my reproduce:
[code]

[2020-04-20 07:58] sijie commented on #5459
@hozn Can you check what version of protobuf you installed?

If you are using brew, you can find it via `brew versions protobuf`

[2020-04-20 08:00] #6653 closed

[2020-04-20 08:12] sijie commented on #6236
@skyrocknroll

Our helm chart provides the capability of enabling the TLS between components. https://github.com/streamnative/charts You can use them as a reference.

- Configure TLS on bookies:
https://github.com/streamnative/charts/blob/master/charts/pulsar/templates/bookkeeper-configmap.yaml#L42
https://github.com/streamnative/charts/blob/master/charts/pulsar/templates/_bookkeeper.tpl#L92

- Co

[2020-04-20 08:36] sijie commented on #4585
@crazylab at this moment, I don't think we will merge this back to pulsar repo. Because as part of [PIP-66](https://github.com/apache/pulsar/wiki/PIP-62%3A-Move-connectors%2C-adapters-and-Pulsar-Presto-to-separate-repositories), we are actually trying to move Pulsar integrations out of the main pulsar repo to reduce build time. We encourage people to push the integrations to upstream of other proj

[2020-04-20 08:55] skyrocknroll commented on #6236
Thanks @sijie Will use that

[2020-04-20 13:17] #5348 closed

[2020-04-21 03:42] kaykillyou commented on #6751
@sijie now all is ok.thanks!

[2020-04-21 03:42] #6751 closed

[2020-04-21 10:13] otmanel31 commented on #6599
hi, yes the namespace is created as describe in official documentation.
this issue was resolved for me by setting/upgrading number of core of my virtual machine.

[2020-04-21 13:59] bschofield opened #6785 "go client: message ID serialization / deserialization does not work with multi-topic consumers"
As noted in [this comment](https://github.com/apache/pulsar/issues/3177#issuecomment-471866729), go code like this can cause a panic:

[code]

For me, the crash occurs in `pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc`, here:

[code]

If we look at the definition of a `MessageId` in `pulsar-client-cpp/lib/MessageIdImpl.h`, we see that it contains four ints (`partition`, `ledgerId`, `entryId`, `

[2020-04-21 14:15] hozn commented on #5459
@sijie  -- good point; I upgraded protobuf and this fixed the problem for me!
[code]

[2020-04-21 16:57] bschofield commented on #6785
I rescind the last paragraph -- that was a bug in my code :sob:. So this bug still exists, but it is (probably) less critical.

[2020-04-21 16:59] sijie commented on #5459
Close this issue because we have started publishing python client 10.15 since 2.4.2 release.

[2020-04-21 16:59] #5459 closed

[2020-04-21 17:56] phemmer commented on #6768
@codelipenghui specifying a namespace has no effect. Namespace is optional in avro.
The code you reference uses neither `enum` nor an embedded `fields`, which are the types documented as non-functional in this issue report.

[2020-04-21 20:18] #5935 closed

[2020-04-21 23:24] bschofield opened #6789 "TLS Authentication on proxy prevents Prometheus metrics collection"
I am running a Pulsar deployment with TLS and Authentication on enabled on the proxy only, and neither TLS nor Authentication enabled inside the private cluster.

When Prometheus attempts to scrape metrics from the proxy component, the following errors are produced in the log:

[code]

Is there a way to allow Prometheus to gather proxy metrics in my configuration?

[2020-04-21 23:48] cdbartholomew commented on #6789
You can either configure authentication in your Prometheus scrape job or disable authentication on the proxy metrics endpoint. To disable, you should be able to set the following in your proxy.conf:

[code]
See https://github.com/apache/pulsar/pull/4921 for more details.

[2020-04-21 23:59] phemmer opened #6790 "Go function panic due to non-normalized topic"
**Describe the bug**
When creating a go function with an input topic name that is non-normalized (e.g. `public/default/input`), the function panics due to different topic names being used.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a go function with input topic `public/default/input`.
2. Publish a message to the topic
3. Watch for panic in the logs.

**Expected behavior**
No pan

[2020-04-22 00:06] sijie commented on #5241
This is solved by #6760

[2020-04-22 00:06] #5241 closed

[2020-04-22 02:03] zxbfeng commented on #1571
How did this problem("`No such ledger exists` error") arise? My pulsar broker aries the same problem!!

[2020-04-22 02:05] zxbfeng commented on #1571
Did you know how did this problem arise ? The system config or zookeeper error or other reasons!!!

[2020-04-22 04:24] phemmer commented on #5138
I've created a wrapper around `pulsar-function-go/pf` which provides state support. It's pretty minimal at the moment, and needs more work (concurrency safety & documentation), but it does function. If you're interested, it can be found here: https://godoc.org/github.com/phemmer/go-pulsar-state/pulsar

An example of it's usage can be found here: https://github.com/phemmer/go-pulsar-state/blob/mast

[2020-04-22 07:04] equanz opened #6793 "Add limit of max partitions per partitioned topic"
Now broker, can't set max number of partitions per partitioned topic. So we can't prevent to create partitioned topic by many partitions from server side.

[2020-04-22 08:30] zyllt commented on #6785
java client has same problem.

[2020-04-22 09:06] #6692 closed

[2020-04-22 09:13] #2912 closed

[2020-04-22 09:27] bschofield commented on #6789
Oh, excellent. I see that is even in the docs -- I don't know how I missed it.

Adding:

[code]

to the appropriate `ConfigMap` fixed this for me.

Thank you for your help!

[2020-04-22 09:27] #6789 closed

[2020-04-22 09:50] codelipenghui commented on #6785
/cc @wolfstudy please help take a look at this issue.
@zyllt Could you please help provides a Java demo since someone wants to fix this problem but not familiar with Go.

[2020-04-22 09:53] bschofield commented on #6785
@codelipenghui I'm familiar with go, C and C++ and could fix the go API and/or the C code under `pulsar-client-cpp/lib/c`. The thing I don't understand is _how_ you want this fixed. Should the topic name be serialized into some kind of a packed value along with the ints, or should it be kept separate?

[2020-04-22 16:08] itaross opened #6797 ""Retain Orderning cannot be altered" exception on Pulsar Sink update"
**Describe the bug**
Exception message "Retain Orderning cannot be altered" is returned when updating a pulsar sink.

**To Reproduce**
1 - Create a sink in standalone mode
2 - Update the sink without modifying the retain oredering boolean

**Expected behavior**
Sink should be updated with the new configuration

**Additional context**
InfluxDB v2 PulsarIO Connector.

[2020-04-22 23:27] lanwen commented on #5059
Want to try out some naive implementation and found that current compactor is quite close to what I want in this issue.

Here is the condition which could be inverted and with a bit changed first phase, leaving only specific keys in the map, could do the trick:
https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor.java#L245

The onl

[2020-04-23 01:26] merlimat commented on #6554
So, I think the problem here should be treated by having new consumers joining in a "paused" state.

For example, consider this sequence:

 1. Subscriptions has `c1` and `c2` consumers
 2. `c3` joins. Some of the keys are now supposed to go to `c3`.
 3. Instead of starting delivering to `c3`. We mark the current `readPosition` (let's call it `rp0_c3`) of the cursor for `c3`.
 4. Any message that n

[2020-04-23 01:54] sijie commented on #6785
@codelipenghui can you point @bschofield how it was done in Java client?

[2020-04-23 01:55] sijie commented on #6790
@phemmer are you interested in submitting a pull request for fixing the issue?

[2020-04-23 01:57] sijie commented on #6797
@itaross Are you changing the retain ordering setting?

[2020-04-23 02:16] zyllt commented on #6785
Use the following code to reproduce the problem:
[code]

the exception:
[code]

The reason for this bug is:
1.`MultiTopicsConsumerImpl#doAcknowledge` requires  a `MessageId` of type `TopicMessageIdImpl`.
https://github.com/apache/pulsar/blob/c36170c3acc0bd432036baf7d9471a4c34320395/pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java#L449
2.when the topics in `Mul

[2020-04-23 02:24] zyllt commented on #6785
In addition, I would like to make a suggestion.
 If the topic is a partitioned-topic, the `Message#getTopicName` API  get the name of the partitioned topic. Is it possible to provide an API to get the original topic name. Because when the partition topic and non-partition topic exist in MultiTopicConsumerImpl at the same time, if you want to obtain the original topicName, you can only manually han

[2020-04-23 02:37] codelipenghui commented on #6785
@zyllt Thanks for your feedback, It looks this is obvious bug of method `public static MessageId fromByteArrayWithTopic(byte[] data, TopicName topicName)`.

If the topic is a partitioned-topic, the Message#getTopicName API get the name of the partitioned topic. Is it possible to provide an API to get the original topic name. Because when the partition topic and non-partition topic exist in MultiTo

[2020-04-23 03:41] feeblefakie commented on #6554
@merlimat
I'm not fully sure about the solution but does it guarantee key ordering ?
For example, a message X with key "A" is first consumed in `c1`, and another message Y with key "A" can possibly go to `c3` ? (can we make sure message X is consumed and acked before message Y ?)

[2020-04-23 04:21] merlimat commented on #6554
Yes, the above proposal takes care of that.

The important point is that X could be re-sent to `c3`, in case `c1` fails just after `c3` has joined.

[2020-04-23 06:01] phemmer commented on #6790
Unfortunately not. I do not know Java at all. Otherwise I probably would as I'm sure it's a simple change.

[2020-04-23 06:07] codelipenghui commented on #6554
@merlimat I like the approach you have mentioned.

[2020-04-23 07:32] itaross commented on #6797
I have used a json field "retainOrdering" as written here https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SinksBase.java

When, I have encountered the problem I was not passing that so I should had false.
Then I tried to create and update explicitly with false but the update didn't work.
I tried to create with false and update with true

[2020-04-23 08:27] bschofield opened #6806 "Segmentation fault in C++ library whilst deserializing messages"
I am using the go client, which is a wrapper around the C++ client. I encountered a bug where all my consumers on a namespace suddenly died and could not be restarted. It seems that they are segfaulting whilst trying to deserialize a batch of messages from the broker.

The _gdb_ backtrace looks like this:-

[code]

The messages are produced by v2.5.0 of the go client (i.e. wrapped C++), on Alpine

[2020-04-23 08:35] bschofield commented on #6806
If we go up a stack frame, then `uncompressedPayload` looks pretty suspect to me: it has `readIdx_` much larger than `capacity_`, which doesn't seem right:

[code]

More locals from stack frames further up:

[code]

[2020-04-23 09:28] bschofield commented on #6806
Here's a dump of 489 bytes starting at `uncompressedPayload.ptr_`:

[code]

[2020-04-23 09:40] bschofield commented on #6806
Here are the DEBUG messages from the C++ library immediately before the crash:

[code]

Here's a dump of 489 bytes of memory starting at `uncompressedPayload.ptr_`:

[code]

[2020-04-23 09:41] bschofield commented on #6806
Here are the DEBUG messages from the C++ library immediately before the crash:

[code]

Here's a dump of 489 bytes of memory starting at `uncompressedPayload.ptr_`:

[code]

[2020-04-23 12:15] wangyunpeng666 opened #6807 "errors met when Using sparkstreaming with token to consume"
when I consume topic by sparkstreming with token ,it meet errors. The code and error is as follows:

https://static.dingtalk.com/media/lALPGpNya2yaWoHMjM0E9g_1270_140.png_720x720q90g.jpg?bizType=im

https://static.dingtalk.com/media/lALPGojJ7356Q-jNAo7NCmo_2666_654.png_720x720q90g.jpg?bizType=im

Does pulsar support Using sparkstreaming with token to consume? What should I do?
I need help,thanks!

[2020-04-23 12:40] bschofield commented on #6785
These are not quite the same bug. The problem with the go/C client is that there is no way to set the topic name in a message ID, whereas the problem with the Java library is that the method exists but doesn't work. The two bugs should probably be tracked separately.

For the go/C client, it's a little more complicated than I thought because the C++ `MessageId` type only keeps a reference to the t

[2020-04-23 12:58] qianmoQ commented on #6807
I don't recommend using it this way because it can cause serialization problems

please init client :

[code]

[2020-04-23 19:43] qmnonic opened #6809 "Unable to create/register functions via REST API"
**Describe the bug**
Seems there was a change in the https://pulsar.apache.org/admin/v3/functions/{tenant}/{namespace}/{functionName} function, where the method signature changed, specifically the functionConfig parameter, which switched from a String (in 2.4.0) to an object (2.5.1) in FunctionsApiV3Resource.java as shown below in 2.5.1:

[code]

POSTs that worked before now return `400, Bad Reque

[2020-04-23 22:00] cdbartholomew commented on #6809
@qmnonic I am not sure if this is helpful, but I am able to upload functions via the REST API in versions 2.4.2 to 2.5.1 using this JavaScript code:

[code]
Sorry, but I have no idea how to translate this to Python.

[2020-04-23 22:26] sijie commented on #6809
@qmnonic

The `v2` endpoint still takes a serialized json string of FunctionConfig:  `/admin/v3/functions/{tenant}/{namespace}/{functionName} `

There was a change in 2.5.0/2.4.1 - changing `v3` endpoint was changed to be a more structured way for uploading a FunctionConfig.

What you basically need to add in the post payload is to make sure the `functionConfig` is a JSON  payload in the form data

[2020-04-23 22:30] sijie commented on #6807
Yes, I think Token Authentication Provider is not serializable. Use configuration to pass the auth plugins and params are the recommended way.

[2020-04-24 02:34] codelipenghui opened #6811 "Wrong admin REST API documentation for create subscription"
**Describe the bug**
![image](https://user-images.githubusercontent.com/12592133/80169049-fd94a080-8616-11ea-9f9e-e3337be35286.png)

[2020-04-24 03:01] codelipenghui commented on #6811
close via #6759

[2020-04-24 03:01] #6811 closed

[2020-04-24 04:28] BewareMyPower commented on #6806
The problem may be the strange value (538973717) of `readIdx_` 。Could you provide the `payload` info of each frame?

Following is the lifetime of `payload` (if I don't miss something):

The payload first constructed in `ClientConnection::processIncomingBuffer()`:

[code]

Then it comes to `ClientConnection::handleIncomingMessage()`, `payload` was passed to `consumer->messageReceived()` without any

[2020-04-24 06:25] lhotari commented on #6484
Shading protobuf might not solve all issues. The generated protobuf classes seem to have dependencies to specific protobuf version like already mentioned in https://github.com/apache/pulsar/issues/6484#issuecomment-600413743. Here's an example of a stack trace when using Pulsar client 2.5.1 and a Protobuf class compiled with Protobuf protoc version 3.11.4 :

[code]

<details>
<summary>Full stacktr

[2020-04-24 09:15] bschofield commented on #6806
Yes I agree, that's the problem. In `Commands::deSerializeSingleMessageInBatch()` then you can see that the format of the uncompressed payload is expected as:

[code]

If you look at the dump of `uncompressedPayload` I gave above, then you can see that **the first four bytes are 0x20201611 = 538973713**. So what I think has happened is that the code has read a metadata size of 538973713 and tried

[2020-04-24 11:48] javard opened #6813 "Function gets stuck in the context.getState() method"
**Description**
When using the method *context.getState()* two times in a row sometimes it gets stuck in one of calls. When this happens and the function is restarted, the function always gets stuck launching (I think it can't connect to the bookkeeper) and Pulsar needs to be restarted.

**To Reproduce**
Steps to reproduce the behavior:
1. Multiple producers writing to *topic1*
2. Function inputs

[2020-04-24 11:52] shiv4289 commented on #4441
This was fixed by https://github.com/apache/pulsar/pull/4451

[2020-04-24 11:52] #4441 closed

[2020-04-24 11:54] shiv4289 commented on #5978
sure @ivan970101. Please go ahead :-)

[2020-04-24 11:56] shiv4289 commented on #4906
@dockerzhang I have started using pulsar-manager. So this is not planned. Sorry for the delayed response.

[2020-04-24 12:13] BewareMyPower commented on #6806
Yeah, you're right. In `receiveIndividualMessagesFromBatch`, there is a loop to read the same payload, which is a batch of messages.

[code]

From your dump of payload, the 1st `deSerializeSingleMessageInBatch` read the first 4 bytes, then the internal `readIdx_` became 538973713 and crashed in the 2nd loop because `readIdx_` exceeded `capacity_`.

Additional, I suggest you should make only one ch

[2020-04-24 12:58] qmnonic commented on #6809
@sijie solution works. thanks!

Thanks @cdbartholomew for the example !

[2020-04-24 12:58] #6809 closed

[2020-04-24 13:42] bschofield commented on #6806
You're right, I should only change one thing at a time, but this is my "production" cluster and I need it to be up so was a little desparate! :smile:

The version of LZ4 used in the current C++ client is 1.7.1 which is from back in 2015/2016 (check `pulsar-client-cpp/lib/lz4`, line 50). There have been a couple of data corruption issues discovered and fixed in LZ4 since then.

@sijie maybe you wan

[2020-04-24 14:29] gh777777 commented on #4937
Me too! So what was the resolution on this? The issue still exists in pulsar v2.5.1. After deplying a 3-node pulsar cluster, I tried several times to create, trigger and delete the example python function (examples/python_examples/exclamation_function.py). Then this error ocurred and I can not run the function any more, even by recreating the function.

[2020-04-24 15:19] bschofield commented on #6806
I see that the Java client uses lz4-java 1.5.0, which is based on LZ4 1.8.3. That's also out of date. So both the Java and C++ clients should probably be upgraded to avoid possible corruption bugs.

[2020-04-25 04:55] zr-hebo opened #6815 "Geo repeated consumption"
**Describe the bug**
I deployed two pulsar clusters across regions, the RRT between two regions is 400ms, but each message produced is consumed twice in the same subscription.

**To Reproduce**
Steps to reproduce the behavior:
1. Produce message in one region
[code]
2. consume message from the other region
[code]
3. See error
[code]

**Expected behavior**
I expect only one message
[code]

**Deskto

[2020-04-25 05:05] zr-hebo commented on #6815
Added some logs, IP desensitized
[code]

[2020-04-25 07:06] wonko commented on #6496
A gentle nudge here... What can we do to move this forward, or can someone acknowledge if this is intended or a bug?

[2020-04-25 11:07] guyv opened #6818 "pulsar-client vulnerability CVE-2015-5237 (shaded protobuf-java:2.4.1)"
com.google.protobuf:protobuf-java:2.4.1 has a vulnerability issue: https://nvd.nist.gov/vuln/detail/CVE-2015-5237

This jar is shaded for the pulsar java client.

**Possible solution**
upgrade to the latest version of protobuf (3.11.4)

[2020-04-25 12:04] lookhua opened #6819 "k8s deploy values.yaml metadataPrefix: "/configuration-store""
in k8s helm deploy mode.
when i set metadataPrefix: "/configuration-store"
and set
components:
   zookeeper: true
   bookkeeper: true
   broker: true
other components is false in the values.yaml
then run command:  helm install -n test-pulsar-cluster -f values.yaml ./
all the Stateful Sets pending except zookeeper

when i set the  metadataPrefix: "/configuration-store" to "", it works.

[2020-04-25 14:19] nitinmuteja opened #6820 "Persistent topic put request doesn't return 409 error if topic exists"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Post a put request to 'persistent/{tenant}/{namespace}/{topic}' with a request for topic
2. Should return an OK response
3. Post the same request again.
4. An OK response is returned.

**Expected behavior**
Should return 409 as per docs.

**Screenshots**
If applicable, add

[2020-04-25 19:21] surendra-k opened #6821 "Pulsar+SSL Java client issue (TLS encryption) via Nginx"
#### Expected behavior
Should be able to connect to pulsar+ssl proxy and create producer/consumer

#### Actual behavior
Environment: Java8, pulsar-java-client, mac 10.14.6
Pulsar setup: Pulsar cluster is running behind Nginx Proxy, Java client tries to connect pulsar via Nginx using binary protocol 'pulsar+ssl'
failing with following error
[code]
TLS certificate has following info:
[code]
Is issue

[2020-04-26 05:58] BewareMyPower opened #6822 "Segmentation fault of C++ client when close a producer if there're pending expired messages"
**Describe the bug**
With C++ client, if a `Producer` call `close()` while there're some pending expired messages, after that, a segmentation fault would happen.

**To Reproduce**
Steps to reproduce the behavior by running [SendAsyncThenClose.cpp](https://gist.github.com/BewareMyPower/2c4760cec0c6f19985700f2b10f56334):
1. Create a producer with 1ms send timeout;
2. Then call `sendAsync` to send a

[2020-04-26 06:03] JoseFMP opened #6823 "Duplicated repository?"
Hello,
What is the difference between https://github.com/apache/pulsar-client-go and https://github.com/apache/pulsar/tree/master/pulsar-client-go ? i.e. are they duplicated, or which one is supposed to be the go client for pulsar. I am a bit confused.

[2020-04-26 09:17] BewareMyPower commented on #6785
It's the flaw of C wrapper. C++ `MessageId` provide `setTopicName()` / `getTopicName()` methods, but the C wrapper doesn't have similar functions like:

[code]

[2020-04-26 09:23] bschofield commented on #6785
Yes. I tried adding those functions to the C wrapper but I got stuck because `MessageId` takes a `std::string&` and there's no `std::string` in C, so nothing to take a reference of.

I guess I could add some C wrapper functions that do `new std::string()` and `delete` but that feels a little weird.

[2020-04-26 10:23] BewareMyPower commented on #6785
The C wrapper of `MessageId` has a `MessageId` field:

[code]

And you can convert `std::string` to c-style string by:

[code]

So you can implement the C functions like following code:

[code]

Remind that the return value of `char*` must be freed. And use `PULSAR_PUBLIC` to expose these C functions. I'm not familiar with cgo (we use SWIG to wrap C++ client), it seems that it's convenient to conv

[2020-04-26 10:29] bschofield commented on #6785
Take a look at the internals of the `MessageId` class. It keeps a reference to a `std::string`. That means that to set a topic name, a `std::string` has to exist somewhere in memory. You can't just create a `std::string` inside the C wrapper function, because when it goes out of scope the destructor gets called. What is your proposed solution to this?

[2020-04-26 10:47] BewareMyPower commented on #6785
You're right. I think the the internal `const std::string*` of `MessageImpl` could be changed to `const char*`. Then the relative getter / setter should be reimplemented.

[2020-04-26 10:56] bschofield commented on #6785
That would be great. Otherwise I think we would have to do something like this:

[code]

...but that seems horrible. I like your solution much better.

[2020-04-26 11:09] liudezhi2098 opened #6824 "support async send msg can get sequenceId when throw exception"
## Motivation

When sending messages asynchronously fails, an exception will be thrown, but it is not known which message is abnormal, and the user does not know which messages need to be retried。

## Proposed changes

This change can be supported on the client side,   when throwing an exception need to set sequenceId
org.apache.pulsar.client.api.PulsarClientException

[code]

[2020-04-26 13:33] BewareMyPower commented on #6822
I've fixed this bug, a PR will be pushed.

[2020-04-26 13:40] zr-hebo commented on #6815
set de-duplication solved this problem

[2020-04-26 13:40] #6815 closed

[2020-04-26 20:19] TolulopeAwode opened #6828 "Nodejs- Pulsar-Client NPM issues"
**Describe the bug**
Attempt to install pulsar-client from npm, was not successful: _node-pre-gyp WARN Tried to download(404): https://pulsar.apache.org/docs/en/client-libraries-cpp/libpulsar-v1.1.0-node-v64-linux-x64.tar.gz_
node-pre-gyp WARN Pre-built binaries not found for pulsar-client@1.1.0 and node@10.20.1 (node-v64 ABI, glibc) (falling back to source compile with node-gyp)

**To Reproduce**

[2020-04-27 01:33] sijie commented on #6813
@javard did you enable bookkeeper state storage?

[2020-04-27 01:39] sijie commented on #6820
@nitinmuteja did you run pulsar-admin to check if the issue exists in the pulsar-admin tool? I am wondering if you have sent the right command to pulsar admin RESTful service.

[2020-04-27 01:43] sijie commented on #6821
@surendra-k how did you setup Nginx? Which component did Nginx point to, broker or proxy?

[2020-04-27 01:45] sijie commented on #6823
@JoseFMP -

https://github.com/apache/pulsar/tree/master/pulsar-client-go is the c-go client that is built using the pulsar-client-cpp library.

 https://github.com/apache/pulsar-client-go is the native go client.

The c-go client will be deprecated in future releases. If you just start with Pulsar, please use the native go client.

[2020-04-27 01:48] sijie commented on #6828
@nkurihar are you and your team able to help with this issue?

[2020-04-27 02:18] archfish commented on #5668
Pulsar 2.5.0 still have this issue,running in standalone mode. Now i start pulsar with -nss parameter hope normal.

[2020-04-27 04:33] yangwenjie88 opened #6829 "pulsar-client MultiTopicsConsumerImpl frequently fullgc"
300 partitions topic 1200W/s,  pulsar-client 2.5.1

failover SubscriptionType, When using 150 2core 4G vm, fullgc frequently appears, the connection has been reconnected, and the consumption cannot be achieved at all.
Some parameter configuration:
 receiverQueueSize = 1000
maxTotalReceiverQueueSizeAcrossPartitions = 60000
Instead of using 20 16core 32G VMs when consuming, the memory usage is relat

[2020-04-27 07:46] sijie commented on #4937
@gh777777 what version of python function are you using?

[2020-04-27 09:23] Subash-Kunjupillai opened #6830 "Encryption support in Kafka Adaptor"
**Is your feature request related to a problem? Please describe.**
We need to encrypt the data in transit and at rest, so the ideal option for us is to use End-to-End Encryption feature. But as we are porting our Kafka application to Pulsar, we have plans to use Kafka Adaptor so that, we can port our application as is with only few configuration changes (Pulsar URL and Topic URL). In this case, as

[2020-04-27 10:42] javard commented on #6813
@sijie I think it's enabled. When I run in localrun without the flag `--state-storage-service-url` it throws the exception `java.lang.IllegalStateException: State is not enabled`.
But setting the flag (`--state-storage-service-url bk://localhost:4181`) the state storage works.
what is the correct way to enable the state storage?

[2020-04-27 13:23] surendra-k commented on #6821
Nginx points to broker, couldn't get 'how did you setup Nginx?'
same thing is working with Python, but failing with Java

[2020-04-27 14:08] darksungg opened #6832 "Cannot connect to multiple geo-replicated partitioned topics via consumer"
We are using the geo-repliated model, producing in US-East via a partitioned topic (persistent://my-tenant/my-namespace/my-topic). Looking in US-West, we can see persistent://my-tenant/my-namespace/my-topic-part0 to part2, as expected. Problem is that when we try to connect to persistent://my-tenant/my-namespace/my-topic in US-West or to
persistent://my-tenant/my-namespace/my-topic.* via regex, th

[2020-04-27 18:06] darksungg commented on #6832
Adding to this it seems that testing the issue, having 3 consumers on 1 client for each partition does not work, the second consumer gets stuck at .subscribe().

[2020-04-28 01:19] lookhua opened #6833 "deploy pulsar dev,test,pro cluster at the same time , i hope the pulsar-Operator just like tidb-Operator"
**Is your feature request related to a problem? Please describe.**
when i deploy pulsar cluster  for dev,test,pro env ,i donot have a  easy way to do it.

**Describe the solution you'd like**
 i hope the pulsar-Operator  just like tidb-Operator futures.

[2020-04-28 01:45] jiazhai commented on #6829
@yangwenjie88 Would you please have a try on use larger receiverQueueSize?

[2020-04-28 01:58] jiazhai commented on #6832
@darksungg Seems the default consumer mode is exclusive, Would you please help try on a failover or shared mode?

[2020-04-28 02:14] yangwenjie88 commented on #6829
Have tried to increase the size, after the increase, the memory is insufficient, resulting in more frequent fullgc

[2020-04-28 05:35] darksungg commented on #6832
Hey @jiazhai thank you for the response.

Please see below the producer (us-east), consumer(us-west) code:

Producer:

 this.client = PulsarClient.builder()
                .serviceUrl(serviceUrl)
                .build();
String topic = "persistent://my-tenant/my-namespace/my-topic";
Producer<byte[]> producer = client.newProducer()
            .topic(topic)
            .messageRoutingMode(Message

[2020-04-28 06:46] darksungg commented on #6832
Also would like to ask if the same partition topic needs to be created in both regions or only in one ( we produce only in one region only )

[2020-04-28 10:14] gaoran10 commented on #6818
@guyv Could you provide the pulsar client version? The jar `org.apache.pulsar:pulsar-client:jar:2.6.0-SNAPSHOT` dependency `com.google.protobuf:protobuf-java-util:jar:3.5.1`.

[2020-04-28 10:53] TolulopeAwode commented on #6828
Waiting anxiously for this fix. Thank you

[2020-04-28 11:38] darksungg commented on #6832
Found the problem, not mentioned in docs :

this.client = PulsarClient.builder()
                .serviceUrl(serviceUrl)
                .connectionsPerBroker(12)
                .connectionTimeout(2, TimeUnit.SECONDS)
                .operationTimeout(2, TimeUnit.SECONDS)
                .keepAliveInterval(300, TimeUnit.SECONDS)
                .ioThreads(12)
                .listenerThreads(12)

[2020-04-28 12:15] fracasula commented on #189
Hey guys, are there any plans to add DLQ support in the Golang CGo based library? I see that it's supported in the pure Golang one which we are not using though due to your disclaimer saying that  feature parity and stability has not been reached.

[2020-04-28 13:18] surendra-k commented on #6821
some issue between Nginx and pulsar broker (internal issue), not relevant to Java pulsar-client, closing the issue.

[2020-04-28 13:18] #6821 closed

[2020-04-28 14:46] #6832 closed

[2020-04-28 17:14] kjaggann opened #6834 "Apache pulsar Encryption failed using ecdsa"
Trying to send encrypted messages from producer
but got this exception:
------------------------------------------------------------------------------------------
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
send message encrypted messages using ecdsa public key and private key,

**Desktop (please complete the following information):**
 - OS: [e.g. iOS] :

[2020-04-28 17:52] guyv commented on #6818
client version I use is 2.5.1. But I see the same issue exists on the master branch (2.6.0-SNAPSHOT)

To be clear, it is about: <pulsar.protobuf.shaded.version>
see: https://github.com/apache/pulsar/blob/master/pom.xml#L149

The shaded version is 2.4.1

[2020-04-28 18:00] ChethanUK commented on #5447
Cool, :)

[2020-04-28 18:31] trexinc commented on #6834
Not sure how you got those errors. With 2.5.1 I get:
Class not found for org.apache.pulsar.client.impl.crypto.MessageCryptoBc
Which can be resolved by adding the following dependency
compile group: 'org.apache.pulsar', name: 'pulsar-client-messagecrypto-bc', version: '2.5.1'

[2020-04-28 19:35] kjaggann commented on #6834
I have aready added org.apache.pulsar.client.impl.crypto.MessageCryptoBc version 2.5.1
should i make any more changes to y code

[2020-04-28 20:04] kjaggann commented on #6834
But how is it related to MessageCrypto should i add any method related to messagecryptobc to encrypt

[2020-04-28 21:39] frankjkelly opened #6836 "PULSAR_PID_DIR setting does not appear to work"
**Describe the bug**
Setting PULSAR_PID_DIR="/tmp" but I see no "obvious" pid file in /tmp directory

**To Reproduce**
Steps to reproduce the behavior:
1) Set PULSAR_PID_DIR e.g. in my Docker file
[code]
2) Start Pulsar
[code]
3) Wait
4) Check /tmp

**Expected behavior**
I would expect some kind of pid file (not sure what filename to expect as it's not specified in the docs) e.g. ```pulsar.pid```

[2020-04-29 01:32] sijie commented on #6833
@lookhua Currently if you are looking for solutions to deploy Pulsar in kubernetes, you can use Helm chart - https://github.com/apache/pulsar-helm-chart. We are also developing operators and will open-source them at some time.

[2020-04-29 01:36] btsken opened #6837 "Can't query in S3 tired storage by using pulsar SQL(presto)"
**Describe the bug**
I'm using apachepulsar/pulsar-all:2.5.1 image. When I query topic and enable offload in conf/presto/catalog/pulsar.properties, I'll get below error.

[code]
but in sql-worker logs, it print

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. docker run -it -p 6650:6650 -p 8080:8080 -p 8081:8081 -p 8443:8443 -p 6651:6651 apachepulsar/pulsar-all:2.5.1
2. enter containe

[2020-04-29 01:37] sijie commented on #6834
In 2.5.1, we made a few changes regarding to FIPS support. This class has been moved to a separated module and the client already depends on it. So ideally if you are using maven, you should be able to resolve all the dependencies.

@kjaggann how did you run your code?

@trexinc are you using maven to build your project?

@jiazhai please take a look at this issue.

[2020-04-29 01:38] sijie commented on #6836
@frankjkelly if you are running the process in foreground, it will not generate any pid file. The pid file is only generated only when you run the components using `bin/pulsar-daemon`.

[2020-04-29 01:47] sijie opened #6838 "java.lang.OutOfMemoryError: GC overhead limit exceeded' is observed when creating producers on a non-existent topic"
**Describe the bug**

 if we try to create producer for a non-existent topic the ProducerImpl object is hanging in the dump. Although producer creation fails but we see that ProducerImpl object corresponding to each producing action hanging in the dump. This behavior will lead to OOM in microservice which by mistake tries to produce consistently to a non-existent topic.

[2020-04-29 02:52] laxpio opened #6839 "command "pulsar-admin functions list" unavailable in run function-worker separately"
**Describe the bug**
run function-worker separately, pulsar-admin functions list cmd unavailable

**To Reproduce**
Steps to reproduce the behavior:
1. run function-worker separately
2. run pulsar-admin functions list cmd, get functions list
3. return result "Reason: HTTP 503 Service Unavailable"
4. set --admin-url as functions-work ip:port
5. after run cmd,return result "Reason: HTTP 404 Not Found

[2020-04-29 04:27] #6620 closed

[2020-04-29 04:31] #6793 closed

[2020-04-29 06:23] FFC-SystemAdmin commented on #4857
Hello, I have the same problem with 2.4.2

I am writing a function to listen for input on a topic set with a schema:
`"schemaInfo": {
    "name": "ffc-liveoccupancydata",
    "schema": {
      "type": "record",
      "name": "LIVEOCCUPANCYDATA",
      "namespace": "public.default",
      "fields": [
        {
          "name": "DataID",
          "type": "long"
        },
        {
          "name

[2020-04-29 07:40] sijie commented on #6599
Glad that you have resolved the problem. Close the issue now.

[2020-04-29 07:40] #6599 closed

[2020-04-29 07:41] sijie commented on #6154
@Lanayx Have checked my previous comment to see if that addressed your problem?

[2020-04-29 07:42] sijie commented on #6307
Close this issue since there is no activity. Please reopen it if there are more investigations needed from us.

[2020-04-29 07:42] #6307 closed

[2020-04-29 08:20] codelipenghui opened #6840 "Geo-replication failed when enabling partitioned topic auto-creation"
**Describe the bug**
Geo-replication failed when enabling partitioned topic auto-creation

**To Reproduce**
Steps to reproduce the behavior:
1. Start a geo Pulsar cluster
2. Enable the partitioned topic auto-creation(allowAutoTopicCreationType=partitioned)
3. Create a namespace with 2 clusters
4. Start a producer to produce messages to a topic(don't create it by pulsar-admin)
5. The error occurs a

[2020-04-29 08:21] Lanayx commented on #6154
@sijie Thank you for the response, I'll check the fix next week, busy with other tasks at the moment

[2020-04-29 09:39] pheecian opened #6841 "autoSkipNonRecoverableData config in broker.conf does not work"
**Describe the bug**
A clear and concise description of what the bug is.
when reading data from pulsar, if  autoSkipNonRecoverableData is set, then the reading process will not block due to certain NonRecoverableLedgerException. However, when use Reader API and use seek(timestamp) method, this configuration takes no effect.
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click

[2020-04-29 12:26] kjaggann commented on #6834
I used maven to develop a sample producer and consumer class using java. I am able to send the messages with out encryption. But for this topic i have enabled encryption.
I followed the same steps from the apache pulsar document, generated a public key and private key, used it as the document said.

[2020-04-29 12:39] frankjkelly commented on #6836
Gotcha - for use cases like Kubernetes health checks or waiting until Pulsar is up to run tests is there some mechanism to check that Pulsar is up-and-running 100% "Server - Started" in the log file? Thanks!

[2020-04-29 12:40] laxpio commented on #6839
fix it, because org.apache.pulsar.functions.worker.rest.api.v3.FunctionsApiV3Resource.java miss listFunctions function.
add the listFunctions to support cmd "functions list".

[2020-04-29 13:49] trexinc commented on #6834
@sijie I use gradle.
If I do not add the pulsar-client-messagecrypto-bc dependency manually it fails at runtime with
java.util.concurrent.ExecutionException: java.lang.NoClassDefFoundError: org/apache/pulsar/client/impl/crypto/MessageCryptoBc

[2020-04-29 14:05] Persi opened #6842 "Allow providing a self-created ObjectMapper instance for Jackson to be able to use Jackson extensions"
**Is your feature request related to a problem? Please describe.**
I am trying to use Pulsar Java client in a Spring Boot application and was able to produce and consume messages. I ran in trouble when sending messages with JSON content which contains fields of type OffsetDateTime. My Spring Boot application already uses the same JSON for it's REST API and can serialize and deserialize OffsetDateT

[2020-04-29 14:29] kjaggann commented on #6834
do you have any sample python script encryption for producer and consumer

[2020-04-29 14:50] liudezhi2098 opened #6843 "support setPassword to managedLedger from brokerconfg"
## Motivation

broker supports ManagedLedger configuration

## Proposed changes

org.apache.pulsar.broker.ServiceConfiguration
[code]

[2020-04-29 16:24] itaross opened #6845 "Subscription to topics with regex not working for non-persisten topics"
Messages on non-persistent topics are not received when using a regex subscription.
This problem is encountered when using a Pulsar IO custom connector (sink).

When using persistent topics the subscription is working as expected

**Expected behavior**
Records are received when subscribing to regex topics.

**Additional context**
Issues #2009
https://github.com/apache/pulsar/issues/2009

Issues #2

[2020-04-29 16:41] digi691 commented on #5417
Know this issue is stale though we are still having this issue on our bare metal clusters.  I recently setup Pulsar in Kubernetes and I'm not seeing this behavior.  Is there any kind of miss-configuration of the brokers and zookeepers that could cause the broker just to swallow these type of requests, not respond, and not log any errors about it?

[2020-04-29 17:07] complex64 commented on #5847
Running into this issue with the image `apachepulsar/pulsar-dashboard:2.5.1` and the following error:

[code]

[2020-04-29 17:13] kjaggann commented on #6834
I don't see any document in apache pulsar at-least to try python encryption and decryption

[2020-04-29 20:26] devinbost commented on #4857
@FFC-SystemAdmin
We've noticed that it seems like this issue may occur depending on the order in which subscriptions are made (e.g. from sink to source vs source to sink.) We've had more success going from sink to source (meaning connecting the sink to the upstream function, then connecting that function to the function upstream from it . . . until you connect an upstream function to the source.)

[2020-04-29 20:30] devinbost commented on #4937
At a glance, I wonder if this issue is related to this other one: https://github.com/apache/pulsar/issues/4857#issuecomment-517065570

[2020-04-29 21:43] gfredericks opened #6847 "Reader skips over large block of messages after calling `seek`"
# Bug Description
In some difficult-to-reproduce circumstances, a reader will skip forward to later in the topic with no indication that anything abnormal happened.

# To Reproduce
1. Publish to a topic for a while; high volume might help
2. Choose two timestamps, `t1` and `t2`, with a decent window between them, that are both within the `publishTimestamp` history for the topic
3. Do the following

[2020-04-30 02:13] #6840 closed

[2020-04-30 02:23] sijie commented on #6842
@Persi the default `pulsar-client` shades all dependencies. You can use `pulsar-client-original` with unshaded dependencies.

[2020-04-30 02:23] jiazhai commented on #6843
@liudezhi2098 Thanks for the help on it.

[2020-04-30 03:04] tuteng commented on #5847
You can try http://pulsar.apache.org/docs/en/administration-pulsar-manager/ first. https://github.com/apache/pulsar-manager is a better management tool. Let's take a look at this problem next. @complex64

[2020-04-30 03:51] MarvinCai opened #6850 "Latest pulsar-all docker image might be broken."
**Describe the bug**
When following instruction to run pulsar with minikube,
I stuck at the step "$ kubectl apply -f bookie.yaml"
The pod can not start up and I see error log
"Error: Could not find or load main class"
After change to version 2.5.0 it seems working fine.
So there might be some problem with the latest(2.5.1) pulsar-all image.

**To Reproduce**
Steps to reproduce the behavior:
Follow

[2020-04-30 04:11] sijie commented on #6818
@guyv currently pulsar client is using a customized protobuf-2.4 version for processing the requests. It is used for avoiding generating a lot of objects and reducing the frequency of garbage collection. It is pretty hard for us to upgrade. We will look into how to address it in future releases.

[2020-04-30 04:43] rueian commented on #6850
I run into the same issue.

[2020-04-30 04:56] #6843 closed

[2020-04-30 06:36] codelipenghui commented on #6845
@itaross Can you provide more details about the bug? what version are you using and how to reproduce it. This will help to troubleshoot this issue.

[2020-04-30 07:00] Persi commented on #6842
Using `pulsar-client-original` seems to work as expected :)

But my second point (which actually don't even has to do with Spring Boot) is already an issue. As there is currently no way to configure or provide an ObjectMapper instance, it is impossible to reuse already configured ObjectMapper instances.

I would suggest to add a provider interface for ObjectMapper with the current implementation f

[2020-04-30 08:46] jiazhai commented on #6834
Cpp and python client is not involved in the FIPS provider support. We may need to confirm this feature is supported, and provide an example.

[2020-04-30 09:07] itaross commented on #6845
I am currently using version 2.5.1
I think you can reproduce it even with a builting connector.
Create it from the coommand line, using --topics-pattern and use a non-persistent:// based pattern.
You will see that no data is received in the write method.

This has been highlighted also in the previous cited issued, but it has not been addressed in sinks. Everything works if you you use persistent

[2020-04-30 12:37] KannarFr opened #6852 "[Pulsar SQL] multiple zk servers issue"
**Describe the bug**

Pulsar SQL documentation indicates:

[code]

It doesn't work, I tried:

[code]

And same issue.

But for

[code]

It works.

When it doesn't work, it throws:

[code]

[2020-04-30 13:07] codelipenghui commented on #6852
@gaoran10 could you please help take a look this issue?

[2020-04-30 13:16] complex64 commented on #5847
Thanks for the pointer to the manager, we'll give that project a try :+1:

[2020-04-30 13:27] #6754 closed

[2020-04-30 13:31] codelipenghui commented on #6824
close via #6825

[2020-04-30 13:31] #6824 closed

[2020-04-30 14:21] codelipenghui commented on #6837
@gaoran10 Could you please help take a look at this issue?

[2020-04-30 14:22] gaoran10 commented on #6852
OK, I'll fix it.

[2020-05-01 01:27] codelipenghui opened #6854 "Consumer stuck with batch receive when batchingMaxMessages greater than receiverQueueSize"
**Describe the bug**
Consumer stuck with batch receive when batchingMaxMessages greater than receiverQueueSize

**To Reproduce**
[code]

**Expected behavior**
The consumer can consume messages when `batchingMaxMessages` greater than `receiverQueueSize`.

**Additional context**
version 2.5.1 and build from the master branch

[2020-05-01 06:29] equanz commented on #6828
Currently, pulsar-client-node isn't built and published pre-built binaries in release flow. If you use, you should install C++ library, and build binary in "falling back to source compile with node-gyp" step(automatically run).

See details at https://pulsar.apache.org/docs/en/client-libraries-node/#requirements

Currently, C++ library isn't support Windows platform. Is your environment Windows? I

[2020-05-01 10:20] TolulopeAwode commented on #6828
I got the same error on linux. Including this in a pre-build step when running from docker is the challege.

[2020-05-01 13:14] codelipenghui commented on #6451
@pouledodue thanks for the reminder, I will look at this issue in detail later.

[2020-05-02 10:54] rueian opened #6858 "Python Pulsar Function Crash With customRuntimeOptions"
**Describe the bug**

If the python function is created with --custom-runtime-options, it will crash with `google.protobuf.json_format.ParseError: Message type "proto.FunctionDetails" has no field named "customRuntimeOptions".`

**To Reproduce**
Steps to reproduce the behavior:
1. Write a python pulsar function:
[code]

2. Deploy with the command:

[code]

3. See error

[code]

**Expected behavior

[2020-05-02 19:57] yangou commented on #402
I know this is probably considered implemented but as this [PIP](https://github.com/apache/pulsar/wiki/PIP-3:-Message-dispatch-throttling#dispatch-throttling-per-topic) mentioned, and suggested by @bradtm, are we supporting the regex-based per topic rate limit yet? Cause I don't see how to dynamically configure it with the admin tool.

[2020-05-02 21:12] kindofwhat commented on #6528
as a workaround: supply default values for all properties. this of course is not "proper" support for data classes,,,

[2020-05-02 21:26] phemmer opened #6864 "Allow non-java clients to start consumer from timestamp"
**Describe the solution you'd like**
#3622 (#3565) granted Java clients the ability to start & seek to a given timestamp. This request is to give that functionality to non-Java clients, in my specific case, Go.

The reasons for wanting this functionality are the same as described in #3565.

[2020-05-03 15:18] feeblefakie commented on #4942
I think this is a must-have feature for stateful systems but why is this regarded as nice to have feature ?
What would users do to recover from a disk failure in bookie node ?

[2020-05-03 20:56] phemmer opened #6866 "Go function support for manual consumer"
**Is your feature request related to a problem? Please describe.**
Right now the only way to use go functions is to have pulsar-function-go setup the consumers & producers for you, where it invokes your handler when a message comes in. I've been struggling with numerous difficulties due to this design limitation.

1. In my application, it would make the design much simpler and cleaner if I could r

[2020-05-04 04:42] irishgordo opened #6867 "Python Pulsar Functions Debugging"
**Is your feature request related to a problem? Please describe.**
It would be great to have out of the box Pulsar Debugging available for Python Functions

[2020-05-04 11:37] lhotari opened #6869 "Negative acknowledgement doesn't remove the message id from UnAckedMessageTracker when message id is instance of BatchMessageIdImpl"
**Describe the bug**

The actual symptom was that when using the DLQ feature, the redelivery counts were not consistent in a use case where negative acknowledgements are used. Messages would get redelivered more times than the configured maxRedeliverCount on the DeadLetterPolicy.

I observed this type of log messages in the log output:
[code]
By debugging, I noticed that calling `org.apache.pulsar

[2020-05-04 11:43] lhotari commented on #6869
I wonder if issue #5969 is related.

[2020-05-04 16:32] rueian opened #6871 "Broker stop serving a topic after a "Bookie handle is not available" error"
**Describe the bug**
I had a topic `persistent://public/default/random` that receiving messages published from a pulsar function `public/default/RandomFunction` for days.

But the function kept crashing this morning with the error `Failed to create consumer: TimeOut`:
![image](https://user-images.githubusercontent.com/2727535/80987730-0bdb8b80-8e65-11ea-9239-7a59305d3c46.png)

And the `pulsar-admi

[2020-05-04 17:20] psilos commented on #6239
Are there any workaround this? We really need to test locally and LocalRunner was very helpful. Thanks!

[2020-05-04 18:29] zyllt opened #6872 "Producer cannot connect after Unloading bundle"
**Describe the bug**
I have 2 pulsar clusters in Beijing and Guangzhou, each with 2 physics machine deployed broker nodes.
1、There are 5 producers in this Topic. After multiple shed loads it was found that some of the producers were unable to connect to the pulsar, and the producers that were unable to connect at the same time when the broker of the ownership was different. For example, broker num

[2020-05-04 20:06] psilos commented on #6239
Ok, you can get around it by using `pulsar-functions-local-runner-original` instead which doesn't include shaded dependencies.

[2020-05-04 20:28] KannarFr opened #6873 "Wrong auth provider check on broker's originalRole auth check"
**Describe the bug**
If a proxy has a auth provider A, and the proxy to broker has a B auth provider usage. The broker originalAuth check uses B instead of A.

[2020-05-05 04:19] rueian commented on #6871
Forget to mention that I am using the 2.5.1 pulsar-all docker image.

It seems that if one bookie was restarted, the brokers would stop serving related topics until restart the brokers.

I have total 3 bookies, and 3 brokers having the following setting:
[code]

more logs:
[code]

[2020-05-05 08:52] liudezhi2098 opened #6876 "the brokerPublisherThrPottlingTickTimeMillis config spelling mistake"
the brokerPublisherThrPottlingTickTimeMillis config  spelling mistake

[2020-05-05 10:16] psilos commented on #4530
@ambition119 did you find out the root of this issue? I'm getting the same exception now as well

[2020-05-05 11:48] codelipenghui commented on #6872
@zyllt Looks the problem is related to https://github.com/apache/pulsar/issues/6416 and
 @addisonj pushed a PR https://github.com/apache/pulsar/pull/6489 for fixing this problem and released it in version 2.5.1. You can try out 2.5.1 and If you have any news about this issue, we can discuss it here.

[2020-05-05 13:00] tomgreenwood1 commented on #6670
I am having the same (or very similar) issue. The cluster runs fine for a bit and then brokers start failing and refusing connections. If I do a health-check on the broker I get

[code]
I deployed last friday, and then again yesterday, using the latest helm chart

[2020-05-05 14:30] zyllt commented on #6872
@codelipenghui  thx,i also think the reason is dangling `ProducerFuture`.I rechecked the log by #6416 and found that the thread outputting `Creating producer` at
https://github.com/apache/pulsar/blob/f2afad353795f70c00910b6dcce5df8c62b94a67/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java#L900
is not the same as the thread for `Namespace bundle for topic` at
https://gith

[2020-05-05 15:40] marinedabare commented on #5144
Thanks @RAbraham ! For me, it works only with the 3 steps (with openjdk8).

[2020-05-05 15:51] zyllt commented on #6872
@codelipenghui at
https://github.com/apache/pulsar/blob/f2afad353795f70c00910b6dcce5df8c62b94a67/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java#L639
Only `thenApply` method was called, if `topicFuture` is exception here it should stay stuck,then
https://github.com/apache/pulsar/blob/f2afad353795f70c00910b6dcce5df8c62b94a67/pulsar-broker/src/main/java/org/apache/pul

[2020-05-05 15:54] addisonj commented on #6872
@codelipenghui @zyllt I should update those issues, but will put some context here as well.

I am still experiencing this same issue with 2.5.1.  I am currently knee deep in trying to track it down. I still see producerFutures that are "stuck" and not being cleaned up. From what I can tell, this only occurs if unloads happen in somewhat quick succession, where the producerFuture is not completed b

[2020-05-05 16:28] tomgreenwood1 commented on #6154
I am having the same (or very similar) issue. The cluster runs fine for a bit and then brokers start failing and refusing connections. If I do a health-check on the broker I get

An unexpected error occurred in the server --- Message: org.apache.pulsar.broker.service.BrokerServiceException$PersistenceException: org.apache.bookkeeper.mledger.ManagedLedgerException: Not enough non-faulty bookies ava

[2020-05-05 17:42] addisonj commented on #6872
Okay, I have logs that I think show what is exactly going on here, this is a sample from a single broker for a single topic that illustrates the problem:

[code]
The most interesting bit here is that a producer is re-created after the topic starts unloading and is able to proceed down to where it tries to load a schema (which indicates it was able to load the topic)

On the client, we see the foll

[2020-05-05 17:43] addisonj commented on #6872
Now that I see the real problem here I think i can get a patch in real quick

[2020-05-05 17:54] sijie commented on #6154
@tomgreenwood1

It usually means that there are not enough bookies available. Can you confirm the followings:

- Can you use `kubectl` to check if you have enough bookies available? How many bookies are you running and what is the ensemble size configured?

[2020-05-05 17:56] sandeep-kotagiri opened #6880 "When running Pulsar in Kubernetes, and utilizing Kubernetes for function runtime, Statefulsets utilize Pulsar Broker pod IP Address for starting functions"
**Describe the bug**

We are running Pulsar in Kubernetes. We also utilize Kubernetes as Functions Runtime. When we start a function, a Statefulset gets created. The startup command from the Statefulset point to the Broker's pod IP Address as part of the --admin-url and --pulsar_serviceurl parameters.

If the Broker pods were to restart, existing functions will not work forcing us to delete the fu

[2020-05-05 17:59] Lanayx commented on #6154
@tomgreenwood1 I suspect that your case is different, `Not enough non-faulty bookies available` tells that bookies are not healthy rather than connection fails

[2020-05-05 18:18] tomgreenwood1 commented on #6154
kubectl seemed to think that all the bookies were healthy, that's the strange thing. kuberenetes dashboard was all green for pulsar. I went with the official helm chart default, which I think is 3? It seemed to be triggered by me scaling up some other pods I had on the cluster.. but that could be a coincidence. I'm re-deploying again now, so I can gather more bookie logs if that would help? It's h

[2020-05-05 20:19] sandeep-kotagiri commented on #6880
I had a chance to look at the broker logs once again after restarting all broker per my instructions below.

It does look like there is an attempt to re-create the function with the correct Broker pod IP Address. However, since a Statefulset with the same name exists, creation of the new Statefulset fails with a WARN message.

17:37:01.420 [main] INFO  org.apache.pulsar.client.impl.ConsumerImpl -

[2020-05-06 00:52] phemmer commented on #6768
After trying to use schemas again for a different task, this time using Avro data instead of JSON, I can confirm schemas are just as broken there. After going through the list of Avro data types, it appears that Pulsar's implementation of schemas does not support the following data types:
* Record
* Enum
* Map
* Fixed

[2020-05-06 01:46] sijie commented on #6850
@rueian @MarvinCai I think the change is related to: https://github.com/apache/pulsar/blob/master/conf/bkenv.sh#L36

You might need to add both `BOOKIE_ME` and `PULSAR_ME` to make it work. (https://github.com/apache/pulsar/blob/master/conf/bkenv.sh#L36)

Also I think we have removed the out-of-date kubernetes deployment scripts and the documentation. But it seems that 2.5.1 brought the documentati

[2020-05-06 01:48] sijie opened #6882 "2.5.1 documentation contains the out-of-date documentation of kubernetes deployment"
*Motivation*

The out-of-date k8s documentation was already removed from 2.5.0 and master. Somehow the old documentation was brought back to the website. We should remove it.

https://pulsar.apache.org/docs/en/2.5.0/kubernetes-helm/
https://pulsar.apache.org/docs/en/2.5.0/functions-overview/

https://pulsar.apache.org/docs/en/next/kubernetes-helm/
https://pulsar.apache.org/docs/en/next/helm-overvi

[2020-05-06 01:54] sijie commented on #6858
@tuteng I remembered that we fix the protobuf generation issue in 2.5.1. Can you take a look at why this issue still happens in 2.5.1?

[2020-05-06 01:55] sijie commented on #6864
@phemmer are you using cgo or native-go client?

[2020-05-06 02:11] lanwen opened #6883 "Java Pulsar function can't find SerDe class on schema init"
**Describe the bug**
I’ve faced weird classpath issue when running in cluster mode,  so I prepared a little project to show an issue
Pulsar can’t find my SerDe implementation, even its same package as the function (and it finds the function without issues)
https://gist.github.com/lanwen/769a1204b26f8392c3929c7457a980e2
project is here https://github.com/lanwen/pulsar-functions-example
and the test

[2020-05-06 02:29] rueian commented on #6850
Thank you, sijie.

I have had set both `BOOKIE_ME` and `PULSAR_ME` to `" -XX:+UseContainerSupport -XX:InitialRAMPercentage=40.0 -XX:MinRAMPercentage=20.0 -XX:MaxRAMPercentage=80.0 "`, and the problem was fixed.

By the way, is there any reason to use `-Xms -Xmx -XX:MaxDirectMemorySize` instead of  `UseContainerSupport, XX:InitialRAMPercentage, XX:MinRAMPercentage, XX:MaxRAMPercentage` in the conta

[2020-05-06 02:31] opera33 opened #6884 "Pulsar SQL not returning latest row"
**Describe the bug**
As titled, running query on Pulsar SQL, and it doesn't return the last row of the topic

**To Reproduce**
 For example a topic has 0 row, then I add one row by publishing a message (aaa) to pulsar server. I query the table selecting *, it shows 0 rows. Then i publish another message (bbb), and try to query select * again, row "aaa" shows up, but not "bbb", if i publish another

[2020-05-06 02:36] tuteng commented on #6858
I'm very sorry, this pr https://github.com/apache/pulsar/pull/6641 seems to have forgotten to be added to 2.5.1. @sijie @rueian

[2020-05-06 02:59] Anonymitaet commented on #6882
OK. This task has been added to the backlog.

[2020-05-06 03:43] zyllt commented on #6872
when `PersistentTopic#close()`,Can `brokerService.removeTopicFromCache(topic)` be called before `disconnect`?

[2020-05-06 04:22] phemmer commented on #6864
cgo. This one: https://github.com/apache/pulsar/tree/master/pulsar-client-go/pulsar

[2020-05-06 05:33] phemmer commented on #6768
So it looks like I had the syntax for enums wrong. It's just records and booleans which don't appear to be working right. I'm going to close this issue since it's deviated quite a bit. I'll see about a new issue with clean reproduction case.

[2020-05-06 05:33] #6768 closed

[2020-05-06 06:28] jiazhai commented on #6517
would like to close this issue, since fixed in 2.5.1

[2020-05-06 06:28] #6517 closed

[2020-05-06 06:49] trexinc opened #6885 "Slash "/" should be prevented in topic names"
Currently Pulsar does not prevent a client from creating a topic that contains a slash.
For example: public/default/test/name
But once created, it is impossible to see it when listing topics or perform other admin tasks.

[2020-05-06 06:51] trexinc opened #6886 "Slash "/" should be prevented in subscription names"
Currently Pulsar allows a client to create a subscription with slash in its names.
This creates misc administrative issues.

[2020-05-06 06:59] trexinc opened #6887 "ttlDurationDefaultInSeconds is not applied"
Pulsar 2.5.0
broker.conf has ttlDurationDefaultInSeconds=3600
But when creating a new namespace it is still created with ttl 0.

[2020-05-06 07:10] codelipenghui commented on #6884
@opera33 You can upgrade to 2.5.1 and enable explicit LAC by setting bookkeeperExplicitLacIntervalInMills=10 in the broker.conf.

[2020-05-06 07:15] #6416 closed

[2020-05-06 07:15] #6872 closed

[2020-05-06 07:31] jiazhai commented on #6761
@erobot Thanks for the explanation. Looks you are right. Would you like to provide a fix for this?

[2020-05-06 08:13] bradfordChiang opened #6889 "Provide an injection point to use personal ObjectMapper in JsonSchema"
Currently the ObjectMapper in org.apache.pulsar.client.impl.schema.JSONSchema is private and hard coded, which prevents us from using lots of Java classes like JavaTime, Guava etc.

It would be great if you can provide a set method for us to change the ObjectMapper reference.
And ObjectMapper is a thread-safe class, is the ThreadLocal necessary?

### sample code ###

`
  static ObjectMapper mapper

[2020-05-06 11:43] one1zero1one opened #6891 "Expose topic/subscription/consumer number of messages as counter."
**Is your feature request related to a problem? Please describe.**
Topic metrics are expressed as computed rates, e.g. gauges: `pulsar_rate_in` `pulsar_rate_out`. This makes Prometheus scraping miss any change of rate in between the scrape interval.

**Describe the solution you'd like**
Exposing the metrics as counters instead/in addition to gauges, e.g. `pulsar_count_in`  would allow the rate to

[2020-05-06 12:40] liudezhi2098 opened #6892 "topicPublishRateLimiter not effective after restart broker"
when config set-publish-rate on namespaces，then can limit publish rate, but when restart broker the limit has expired.

1、*config set-publish-rate *
[code]

2、*restart broker (only 1 broker)*
AbstractTopic throw exception : CompletableFuture cannot cast Policies
[code]
then this.topicPublishRateLimiter = PublishRateLimiter.DISABLED_RATE_LIMITER
[code]

[2020-05-06 13:38] qmnonic commented on #5668
seeing this issue in 2.5.1 as well.

[2020-05-06 14:07] bback99 opened #6894 "Still having issues of Failed to restore rockdb"
**Describe the bug**
we have accidentally addressed "Still having issues of Failed to restore rockdb"
when we are running as standalone mode.
and didn't changed any configurations for bookkeeper.

might related to this
https://github.com/apache/pulsar/issues/5668

with **-nss**, looks fine now.

so, we should run with **-nss** until having some changes?

**To Reproduce**
Logs
13:29:28.310 [io-writ

[2020-05-06 14:31] codelipenghui opened #6896 "[document] document for Pulsar Proxy metrics."
**Is your feature request related to a problem? Please describe.**
Currently, we have documents for broker, bookie, and zookeeper under https://pulsar.apache.org/docs/en/2.5.1/reference-metrics/#__docusaurus. But there is no document for Pulsar Proxy metrics.

[2020-05-06 14:33] codelipenghui opened #6897 "[document] document for Pulsar SQL worker metrics."
**Is your feature request related to a problem? Please describe.**
Currently, we have documents for broker, bookie, and zookeeper under https://pulsar.apache.org/docs/en/2.5.1/reference-metrics/#__docusaurus. But there is no document for Pulsar SQL metrics.

[2020-05-06 14:34] codelipenghui opened #6898 "[document] document for Pulsar Function worker metrics."
**Is your feature request related to a problem? Please describe.**
Currently, we have documents for broker, bookie, and zookeeper under https://pulsar.apache.org/docs/en/2.5.1/reference-metrics/#__docusaurus. But there is no document for Pulsar Function worker metrics.

[2020-05-06 15:09] nicolo-paganin commented on #6845
@codelipenghui have you been able to reproduce? This is something that I think has never worked, but very useful

[2020-05-06 15:25] tomgreenwood1 commented on #6154
Just an update from me, after a re-deploy and things seem to be working fine now. The things I changed were:

1. I double-checked I had the latest helm chart by pulling the pulsar repo again (git reported a couple of updates on master).
2. I placed all my nodes in the same availability zone (I am on AWS EKS).
3. I Added to client.close() on a SIGTERM to all my client code, in case it was unclosed

[2020-05-06 15:29] nicolo-paganin opened #6899 "Tumbling and Sliding Windows are not implemented in Python pulsar function"
Tumbling and Sliding Windows are implemented in the Java version of the Pulsar functions but not in the Python one.

It is needed to modify the python instance used for the execution of the python pulsar function in order to handle window configuration.

[2020-05-06 16:07] cdbartholomew opened #6900 "[Website] Links to generated client docs are broken"
The links to the generated client docs on the website return `not found` for many of them. I have tried:

* Java
* Python
* C++

They all reference 2.5.1-SNAPSHOT in the URL, but that doesn't seem to exist.

There is an example on this page:

[https://pulsar.apache.org/docs/en/client-libraries-java/](https://pulsar.apache.org/docs/en/client-libraries-java/
)
The links in the first table, column Pa

[2020-05-06 17:20] sijie commented on #6858
@tuteng can you cherry-pick the change to branch 2.5 for 2.5.2 release?

[2020-05-06 18:18] irishgordo commented on #6867
I have some more context I can add to this, as a TODO for myself I'll come back and fill out with a bit more depth latter

[2020-05-06 18:32] phemmer opened #6901 "HasNext incorrectly reports next value available."
**Describe the bug**
Whenever a topic has messages on it, using `HasNext()` reports `true`, even if there are no messages at or after the cursor position.

Not sure if this is limited to Go, but I doubt it since it's just a thin layer on top of the C client.

**To Reproduce**
Run:
[code]
[code]

**Expected behavior**
Should output `HasNext: false`

**Screenshots**
[code]

**Desktop (please complet

[2020-05-06 20:05] nicolo-paganin commented on #6003
@sijie I created a PR for this, could you please look at it?
Thanks

[2020-05-06 22:48] sijie commented on #6880
@sandeep-kotagiri

I think the problem is that you didn't set the right settings so the functions end up using the service URLs in the worker config. When a Function Worker is running along with a broker, the service URLs are set to the broker IP addresses. So when you submit a function, the functions will end up using the broker service URLs.

In order to make this work correctly, you have to set

[2020-05-06 22:51] sijie commented on #6880
@sandeep-kotagiri - For your reference, this is the code about how KubernetesRuntime realize the actual service URLs to use - https://github.com/apache/pulsar/blob/772b789010267829cf3cd921db6782e0dbe59ab2/pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/KubernetesRuntimeFactory.java#L181

[2020-05-06 22:51] sijie commented on #6880
@Anonymitaet I think this issue here is a documentation issue. We need to fix the documentation and make sure it is stated clearly.

[2020-05-06 23:09] hansenc commented on #6842
This is all about being able to configure Jackson for use with Pulsar's JSON schema and not about Spring Boot. I would like to see the title and description of this issue updated accordingly.

Since I'm here, given that Jackson use is so prevalent, improving the ability to reuse existing configuration and Jackson-annotated classes would be huge 👍 . Being able to supply your own `ObjectMapper` to t

[2020-05-06 23:49] hansenc opened #6902 "Jackson shading issues"
**Is your feature request related to a problem? Please describe.**
`pulsar-client`, the Pulsar Java client, shades several of its dependencies and redistributes them in its jar, which makes sense to do. However, shading Jackson in this way leads to behavior that is surprising to new users (see #6842 for one example). Another example is that the shaded Jackson will not pick up `com.fasterxml.jackso

[2020-05-07 00:28] equanz commented on #6828
node-pre-gyp warning log is always shown when installing(because pre-gyp binaries isn't uploaded).
Here is an example.

If you can't install, check Pulsar C++ library and g++.

[code]

[2020-05-07 01:33] sijie commented on #6883
@gaoran10 This issue is related to one of the issues you are working on. Can you also check this issue as well?

[2020-05-07 01:34] sijie commented on #6884
@codelipenghui it is worth adding a note in the documentation about this setting.

[2020-05-07 01:36] sijie commented on #6887
Where did you check the TTL value?

[2020-05-07 01:45] sijie commented on #6891
@one1zero1one I think @PierreZ already added this feature. We will check if it will be released as part of 2.6.0.

[2020-05-07 01:51] sijie commented on #6902
This issue seems to be related to issue #6889 as well.

[2020-05-07 02:15] gaoran10 commented on #6818
@guyv Hi, refer to sijie's commend, this issue could be closed.

[2020-05-07 02:50] sijie commented on #6858
@rueian #6641 will be cherry-picked into 2.5.2. So close this issue for now.

[2020-05-07 02:50] #6858 closed

[2020-05-07 03:51] sijie commented on #6154
@tomgreenwood1 great news! Good to know you have figured the problem out.

[2020-05-07 03:53] sandeep-kotagiri commented on #6880
@sijie

I tested out these settings just now.  By setting PF_functionRuntimeFactoryConfigs_pulsarAdminUrl and PF_functionRuntimeFactoryConfigs_pulsarServiceUrl parameters to my proxy URLs, I am able to withstand broker restarts.

I also looked at the code just now. I have looked at this code in the past and it has been an oversight from my end. We do set the other Kubernetes Function Runtime Facto

[2020-05-07 03:53] #6880 closed

[2020-05-07 03:54] sijie commented on #6818
@gaoran10 let's keep this issue open and not close it. We still need to figure out a long term sustainable solution about how we are going to do with protobuf 2.4

[2020-05-07 04:01] sijie commented on #6847
@gfredericks I moved the conversations here:

---

from @gfredericks [comment](https://github.com/streamnative/pulsar/issues/931#issuecomment-624080127)

Okay, I've figured out by analyzing the broker logs that this is is presumably due to the consumer_backlog_eviction policy:

21:41:51.542 [pulsar-backlog-quota-checker-26-1] INFO  org.apache.pulsar.broker.service.BacklogQuotaManager - Backlog quo

[2020-05-07 04:04] sijie commented on #6847
@gfredericks

I see. The backlog quota policy is applied at the topic level. By default it is disabled. Did you happen to enable backlog quota policy?

/cc @jiazhai @codelipenghui @gaoran10 in the conversation. So they can help you dig more into the problem.

[2020-05-07 05:43] Persi commented on #6889
This is a copy of #6842 which I just renamed to make it clearer and easier to find ;)

[2020-05-07 05:44] sijie commented on #6842
@hansenc @Persi thank you for your feedback. We will prioritize this issue and come up with a fix. At the same time, if any of you are interested in contributing a fix, you are super welcome as well.

[2020-05-07 05:44] TolulopeAwode commented on #6828
Thanks for the response.  I was able to include cpp in  docker file in a multi stage build as suggested by @sijie  and it worked but the challenge is the image size after all is bigger. I am currently considering to use Dockerslim

[2020-05-07 05:55] sijie commented on #6003
@nicolo-paganin that's cool. will review it.

[2020-05-07 06:51] sijie commented on #6850
@rueian I think the settings were coming from running Pulsar in on-premise environment. So they got into the container settings. We haven't changed those settings to adopt the container way. If you are interested in making a contribution, you are super welcome!

[2020-05-07 07:42] sijie commented on #6836
@frankjkelly You can do a readiness probe over the HTTP endpoint. See https://github.com/streamnative/charts/blob/master/charts/pulsar/templates/broker-statefulset.yaml#L150

[2020-05-07 07:44] gaoran10 commented on #6749
@eaba Hi, could you provide the reproduce steps. I couldn't reproduce the issue, my steps as below.

use the pulsar 2.6.0

1. run pulsar standalone.
2. run pulsar sql-worker.
3. run pulsar sql cli.
4. produce message use byte[] schema, query messages successfully.
5. produce message use ByteBuffer schema. query messages successfully.

[2020-05-07 07:48] #6900 closed

[2020-05-07 08:27] goku321 commented on #4525
Any updates on this? I'm facing the same issue.

[2020-05-07 11:10] gfredericks commented on #6847
The backlog quota is set to `consumer_backlog_eviction`, so I believe this is the explanation for what I'm seeing; it's possible that the resolution is just "remove the backlog quota", but I don't yet understand the implications of this to do it confidently.

Specifically:

If we intend to keep a very long history for the topic, is there any reason to have a backlog quota? I think we originally se

[2020-05-07 11:46] alexku7 commented on #6887
Hi
Here are the steps for reproduce the issue:
1. Check that the default value is configured in the broker's config:

root@pulsar-bastion-5db9984cf8-w8stw:/pulsar/bin# ./pulsar-admin brokers get-runtime-config | grep ttlDurationDefaultInSeconds
  "ttlDurationDefaultInSeconds" : "3600",

2. create a new namescpace:

root@pulsar-bastion-5db9984cf8-w8stw:/pulsar/bin# ./pulsar-admin namespaces create

[2020-05-07 12:14] frankjkelly commented on #6836
Great - thank you!

[2020-05-07 12:14] #6836 closed

[2020-05-07 12:49] eaba commented on #6749
I used pulsar 2.5.0 then:
1. run using streamnative/chart with presto enabled
2. produce message using `AvroSchema` with byte[] field
3. query message exception is thrown as above

[2020-05-07 12:52] wolfstudy commented on #6845
Can you provide a way to reproduce? In functions, sinks and sources, `--topics-pattern` will be deprecated, can you use `--inputs` replace it?

[2020-05-07 13:28] hbs opened #6906 "Add access to user-config when initializing a function"
**Is your feature request related to a problem? Please describe.**
Functions cannot access the info passed via --user-config at initialization time.

**Describe the solution you'd like**
Add an initialization method or call a specific constructor in order to allow for proper initialization before the first message arrives.

**Describe alternatives you've considered**
At the moment proper initializ

[2020-05-07 14:27] itaross commented on #6845
@wolfstudy what you are referring to is probably this line https://github.com/oncodeit/pulsar/blob/71b3819bfc11afe0f0da19df0a19e3b7a05988c5/pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdSinks.java#L258
but this involves only the name of the pattern parameter

To reproduce: take any connector from Pulsar IO, a sink in this case.
https://archive.apache.org/dist/pulsar/pulsar-2.5.1

[2020-05-07 14:38] hbs opened #6907 "${PYTHONPATH} is not expanded thus leading to incorrect environment variable value"
https://github.com/apache/pulsar/blob/00463adfd5c59958479b9b3a8e26140ab07fd8c1/pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/process/ProcessRuntime.java#L347

[2020-05-07 15:15] fmiguelez commented on #4803
There is a workaround with direct consumer/reader interface since you can always verify if data is empty before calling getValue():

Message<GenericRecord> lastMsg = reader.readNext(); lastEntity = lastMsg.getData().length > 0 ? lastMsg.getValue() : null;

However there is not such option when working with functions. E.g. A Sink<GenericRecord> implementation will fail before calling write(Record<G

[2020-05-07 22:20] gfredericks commented on #6847
I noticed if I publish 10 million messages to a topic, meanwhile a slow subscriber consumes just a handful of them, the stats show something like

[code]

What do these numbers mean? Without subscribers the backlogSize is 0; when I add a subscriber at the beginning, it jumps up to 1.4G; does that mean the brokers or bookies literally copied all 1.4G of messages into a backlog? If not, why is the n

[2020-05-07 22:21] gfredericks commented on #6847
Ultimately I want to know this:

Assuming I have infinite retention (i.e., with tiered storage), what bad thing can happen by not having a backlog quota? Will extra disk space get used? How much? In what situations?

[2020-05-07 22:31] KannarFr opened #6912 "Autocreate tenant/namespace"
**Describe the solution you'd like**
Pulsar client should have a configuration to autocreate tenant/namespace if they don't exist.

Consequently, the authz would be used to ensure every rights are contained in the authstring.

This comes with the granularity possibilities offered by https://github.com/apache/pulsar/pull/6428.

[2020-05-07 23:15] phemmer opened #6913 "Batched producer gets invalid message ID"
**Describe the bug**
When using a producer with batched messaging enabled, attempting to obtain the resultant message ID gives an invalid value.

This is with the C backed Go client.

**To Reproduce**
Steps to reproduce the behavior:
Run:
[code]

[code]

**Expected behavior**
To be able to obtain valid message IDs.

**Screenshots**
[code]

**Desktop (please complete the following information):**

[2020-05-08 01:37] sijie commented on #6907
@hbs I don't understand the issue here. The `${PYTHONPATH}` is an environment variable that is passed to the process's environment. Not sure if we need to expand the value.

[2020-05-08 01:47] sijie commented on #6749
@gaoran10 I think the issue is related to using AvroSchema with a `byte[]` field. Can you try to reproduce it again?

[2020-05-08 01:54] sijie commented on #6887
@alexku7 Currently the admin restful api returns the value stored in namespace policies directly. It doesn't take the value from broker configuration. It should be simple to add a fix. Are you interested in contributing a fix for that?

[2020-05-08 01:54] jiazhai opened #6914 "Provide documentation for python end-to-end messagecrypto"
in issue #6834, user report there is no doc for configure and use feature end-to-end messagecrypto in python.
We need to confirm whether this feature is supported in python, and add needed doc.

[2020-05-08 01:56] jiazhai commented on #6834
For java, this is a dependency issue, need to add dependency as @trexinc mentioned.
[code]
would like to close this issue. and opened issue #6914 to track the MessageCrypto status in python.

[2020-05-08 02:19] HeChuanXUPT commented on #4635
broker crash after one bookie down
version: 2.5.0

[code]

[2020-05-08 03:04] #6519 closed

[2020-05-08 04:00] codelipenghui commented on #6501
@junquero Did you find the root cause? I also met this problem with the last master branch but 2.5.1 works well.

[2020-05-08 04:20] BewareMyPower commented on #6913
Seems like the bug I fixed not long ago, see #6812

[2020-05-08 04:53] BewareMyPower opened #6916 "Send the same message without copying the internal payload?"
I found that the same `Message` cannot be sent twice. If I want to retry sending the same message when failed with some reason, I need to call `send(T message)`, then new `Message` will be created and the internal payload will be copied.  If I send the same `Message` again by calling the deprecated `send(Message<T> message)`, an `InvalidMessageException` will be thrown because the message has been

[2020-05-08 05:47] codelipenghui commented on #6501
The problem is very interesting. When I downgrade the maven version from 3.6.3 to 3.6.1, it works.

[2020-05-08 06:37] hbs commented on #6907
The initial intent was probably to expand the value of PYTHONPATH by appending an additional path to it, what actually happens is that the PYTHONPATH variable is set literally to

${PYTHONPATH}:<NEWPATH>

not <WHATEVER_PYTHONPATH_CONTAINED>:<NEWPATH>

since ${PYTHONPATH} is not expanded

[2020-05-08 07:41] #6640 closed

[2020-05-08 07:49] trexinc commented on #6887
I am interested if you can give some pointers.

[2020-05-08 14:13] codelipenghui commented on #6884
close via #6908

[2020-05-08 14:13] #6884 closed

[2020-05-08 14:49] xavipen opened #6921 "IllegalArgumentException when starting PulsarStandalone"
#### Expected behavior

There should be no exception

#### Actual behavior

When running the PulsarStandalone for unit test with maven + testNG on a windows machine the following exception appears.

`
2020-05-08 13:13:11,975 [main]               WARN  .b.c.ConfigurationCacheService Failed to create failure-domain znode /admin/clusters/standalone/failureDomain
java.lang.IllegalArgumentException: Pa

[2020-05-08 15:02] phemmer commented on #6913
Ah, seems likely. I'll go ahead and close this then. Thanks.

[2020-05-08 15:02] #6913 closed

[2020-05-08 15:56] gaoran10 commented on #6749
@eaba @sijie I could reproduce the problem by the Avro schema as bellow.

# Schema
[code]

# Error log
[code]

We could find some useful information in the error log. `{"name":"data","type":["null","bytes"],"default":null}]}`. The Avro schema makes the `ByteBuffer` field use the type `bytes`.

The method `getSlice()` of the Class `PulsarRecordCursor` has a force cast `Slices.wrappedBuffer((byte[])

[2020-05-08 16:39] KannarFr commented on #6906
In which way can we extend the `@FunctionalInterface` to add `void initialize(InstanceConfig config)`? @jiazhai

[2020-05-08 16:44] junquero commented on #6501
No, I didn't find the root cause. I was just playing with Pulsar SQL, but I'm not using it. Sorry.

[2020-05-08 16:44] trexinc commented on #6887
@sijie @Omega-Ariston - there is actually the following code in the broker. So it seems that it does take the default TTL into consideration at the actual expiry check. So the bug is kind of more
 cosmetic than anything else.
Do you think that maybe get-namespace-ttl API should return the effective TTL?

    @Override
    public void checkMessageExpiry() {
        TopicName name = TopicName.get(to

[2020-05-08 16:52] vcottagiri opened #6923 "Documentation in v2.5.1 for Key_Shared Subscription for consumer connnects/disconnects is not clearly specified"
The [Key_Shared Subscription](http://pulsar.apache.org/docs/en/concepts-messaging/#key_shared) documentation has the following line

It would be nice if the documentation can be more clear on the message routing when there are new consumers or disconnects.

[2020-05-08 17:07] trexinc commented on #6887
Or maybe just the documentation should be updated?

[2020-05-08 17:16] trexinc commented on #6887
As I see it - it is actually a nice feature. You can changes the global default TTL and it immediately applies to all namespaces with default 0 TTL.

[2020-05-08 18:21] xavipen opened #6924 "Exception creating producer on unit test using PulsarStandalone"
**Describe the bug**
Running a simple unit test to send and received messages using PulsarStandalone running on a Windows 10 machine works with pulsar 2.4.1 and the same code with pulsar 2.5.1 fails. In Pulsar 2.5.1 the producer fails to create the topics with the following error:

2020-05-08 19:46:57,083 OrderedExecutor-6-0] WARN  areEnsemblePlacementPolicyImpl Failed to find 1 bookies : excludeB

[2020-05-08 19:21] #6891 closed

[2020-05-09 00:46] #6873 closed

[2020-05-09 02:16] #6839 closed

[2020-05-09 06:28] nitinmuteja commented on #6820
@sijie I did not check it with the pulsar admin. I sent the following request to the REST api
curl -X PUT -H "Content-Type: text/plain" -d ${partitions} "http://${brokerip}:${brokerport}/admin/v2/persistent/${tenant}/${namespace}/${topic}/partitions"

[2020-05-09 08:49] codelipenghui opened #6927 "Add C# client documentation"
**Is your feature request related to a problem? Please describe.**
Since we have official c# client https://github.com/apache/pulsar-dotpulsar, we'd better add the C# client documentation in the client documentation.

![image](https://user-images.githubusercontent.com/12592133/81468880-b8768e00-9214-11ea-9ef3-97562a05366b.png)

[2020-05-09 08:53] codelipenghui opened #6928 "Early blogs are not shown in the blog list"
I remember that we have some early blogs such as the 2.4.0 release post. But we can't find them in the blog list.

![image](https://user-images.githubusercontent.com/12592133/81469050-769a1780-9215-11ea-9a96-90e1486730d9.png)

[2020-05-09 10:05] xuesongxs opened #6929 "KeyValue schema in Function Error"
**Describe the bug**
A clear and concise description of what the bug is.
Use KeyValue schema in Producer

            Producer<KeyValue<Student, Student>> producer = client.newProducer(
                    KeyValueSchema.of(Schema.JSON(Student.class), Schema.JSON(Student.class)))
                    .topic("persistent://public/default/test-kvin2")
                    .producerName("producerTest").

[2020-05-09 16:41] KannarFr opened #6930 "Pulsar SQL: support user defined indexes"
**Is your feature request related to a problem? Please describe.**
Currently, there is no index used to query topic using presto.  `__publish_time__` can be considered as index because of ledger storage way but it's not a real one.

**Describe the solution you'd like**
AvroSchema used to insert to topic should comes with a indexes definition. Since then, we should be able to have managedledger for

[2020-05-10 02:46] david-streamlio opened #6931 "LocalRunner is Broken"
**Describe the bug**
The LocalRunner class does not start a local thread runner instance for Java functions.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an instance of the LocalRunner class inside a Java class
2. Initialize it like so:

`FunctionConfig functionConfig =
	   FunctionConfig.builder()
	    	.className(WordCountFunction.class.getName())
	    	.maxPendingAsyncRequests(I

[2020-05-10 02:48] david-streamlio commented on #6931
Please assign this to me, I already have the code fixed locally and have confirmed it is working as expected.

[2020-05-10 03:02] david-streamlio opened #6932 "Potential Deadlock in JavaInstanceRunnable class"
**Describe the bug**
When attempting to start a LocalRunner that connects to stream storage, the instance will hang if the streamServiceUrl is incorrect or the service is unresponsive.

**To Reproduce**
Steps to reproduce the behavior:
1. Create an instance of the LocalRunner class inside a Java class
2. Initialize it like so:
` LocalRunner localRunner =
	    	LocalRunner.builder()
	    		.brokerS

[2020-05-10 03:10] david-streamlio commented on #6932
Is there a way to confirm that the state store is running inside Pulsar standalone?

[2020-05-10 04:36] jiazhai commented on #6931
Thanks @david-streamlio

[2020-05-10 13:27] ericwangdka opened #6934 "send message then get oom error"
when i use pulsar-perf send messages for a while ,then t get oom error ,yet,how can i to do with it?

[pulsar-client-io-2-4] INFO  org.apache.pulsar.common.allocator.PulsarByteBufAllocator - Exiting JVM process for OOM error: failed to allocate 16777216 byte(s) of direct memory (used: 22481469440, max: 22481469440)
io.netty.util.internal.OutOfDirectMemoryError: failed to allocate 16777216 byte(s)

[2020-05-10 14:56] alexku7 opened #6935 "The retention is not working due to non closing ledger"
**Describe the bug**

I have been researching the retention problem and high disk usage.
Currently the retention is defined to 2 hours, ttl 600 sec.
"managedLedgerMaxLedgerRolloverTimeMinutes" : "240",
  "managedLedgerCursorRolloverTimeInSeconds" : "14400"
 "managedLedgerCursorMaxEntriesPerLedger" : "50000"
  "managedLedgerMaxEntriesPerLedger" : "50000",

pulsar version is 2.5.0

if i run  bin/pul

[2020-05-11 00:41] #6854 closed

[2020-05-11 01:37] sijie commented on #6921
@xavipen Currently zookeeper doesn't support windows well. If you want to run unittest on windows platform, you can consider using [testcontainer](https://www.testcontainers.org/) to start pulsar in a container.

[2020-05-11 01:40] sijie commented on #6924
@xavipen The error message "Not enough non-faulty bookies available" indicates the bookies are not writable. It typically means that your disk usage is larger than 95% so the bookies are forced to run in readonly mode.

[2020-05-11 01:55] sijie commented on #6934
@ericwangdka When OOM occurs, you can consider increasing the direct memory size. It typically means you are sending faster than your system can support.

[2020-05-11 02:01] sijie commented on #6935
Which version of Pulsar are you using? Before 2.5.1, if there is no incoming traffic, the ledger rollover will not be triggered.

[2020-05-11 02:51] codelipenghui commented on #6669
@riferrei I close the issue first. If the issue not resolved, feel free to reopen it.

[2020-05-11 02:51] #6669 closed

[2020-05-11 02:55] codelipenghui commented on #6869
@lhotari Yes, the problem is related to batch index acknowledgment. We will advance merge #6052. I think this issue can be fixed by enabling batch index acknowledgment.

[2020-05-11 03:25] jiazhai commented on #6852
@gaoran10  will handle it recently.

[2020-05-11 07:23] #6749 closed

[2020-05-11 07:53] alexku7 commented on #6935
Hi
We are using 2.5.0

What do you mean no incoming traffic ?
I think the limit of 50k entries and/or the limit of 240 minutes should cause to rollover. Am i right ?

Anyway, what the solution in this case?  The topic has 8 Gb data bas doesn't have any incoming traffic , so the ledger is the open state. So the retention will not occur ever ?

[2020-05-11 08:28] BewareMyPower commented on #6916
Ok, with C++ client, I can use `MessageBuilder::setAllocatedContent` and maintain the payload string myself, eg. use `std::shared_ptr<std::string>`.

With Java client, the internal payload won't be copied, the same byte array could be passed to `ByteBuffer.wrap` in `TypedMessageBuilder.value` method.

[2020-05-11 08:28] #6916 closed

[2020-05-11 09:08] xavipen commented on #6921
The line causing the exception is part of the pulsar code and not Zookeeper. Because Pulsar passes the wrong info to Zookeeper.

Please, re-read my comment as I explain exactly the line causing the error and IT should be easy to modified to correct the error.

[2020-05-11 09:10] xavipen commented on #6924
That does not answer why this works in the same machine with same disk space with pulsar version 2.4.1...

[2020-05-11 09:50] #6838 closed

[2020-05-11 11:10] tomgreenwood1 commented on #6154
One more update from me. Apologies if this is a different issue (maybe related?). My issue is happening again, and  the bookie logs are showing:

[code]

looks like I need to change a retention setting or something like that?

[2020-05-11 13:03] KannarFr commented on #6930
+ how can we handle it on offloaded parts?

[2020-05-11 13:10] hangc0276 opened #6939 "pulsar Admin async http client thread number explode"
**Describe the bug**
When use pulsar flink connector to consume messages from pulsar topic, each pulsar source client will create a pulsar admin client to operate with pulsar brokers. In my situation, in a flink task manager, it consume 124 topics, but create 6k+ AsyncHttpClient to operate with pulsar broker, leading to flink task manager OOM.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-05-11 14:47] codelipenghui commented on #6923
Yes, thanks for the feedback. We are already starting to advance to fix ordering message dispatch related issues when consumer change. And, Will also explain this part in more detail.

[2020-05-11 15:44] gfredericks commented on #6847
After talking to Ming on slack, I'm pretty confident that I can safely remove the backlog quota.

However, I would say this isn't an ideal solution. Since readers (as opposed to consumers) intend to read _every_ message, and aren't necessarily trying to follow the end of the topic, I think it would make sense to have `consumer_backlog_eviction` and TTLs not apply to reader cursors, and if a reader

[2020-05-12 04:10] #6759 closed

[2020-05-12 06:45] #6939 closed

[2020-05-12 07:14] #6563 closed

[2020-05-12 08:36] matejsaravanja opened #6945 "Key-based batching and hashingScheme parameter for Python client"
**Short intro**
We're running a platform that's effectively just a bunch of microservices written in Python, Java and Go which are communicating through Kafka. Currently we're considering moving from Kafka to Pulsar.
However, one of the main features we need is key-based message routing for solving concurrency problems. Pulsar has that option with KeyShared subscription mode.

**The problem**
In P

[2020-05-12 10:53] #6887 closed

[2020-05-12 12:53] #6876 closed

[2020-05-12 12:56] #6841 closed

[2020-05-13 05:07] #6892 closed

[2020-05-13 06:06] lukestephenson opened #6950 "loadBalancerSourceRanges on helm templates for pulsar manager and grafana"
**Is your feature request related to a problem? Please describe.**
I'd like to be able to whitelist the source IP ranges for the pulsar manager and grafana dashboard to a list of office VPN ips to increase security.

**Describe the solution you'd like**
Update https://github.com/apache/pulsar/blob/master/deployment/kubernetes/helm/pulsar/templates/pulsar-manager-service.yaml to allow specification

[2020-05-13 09:08] sijie commented on #6154
@tomgreenwood1 It means the disk usage is over 95% so the bookie is forced to run in readonly mode. You can increase `diskUsageThreshold` in the bookie's configuration to `0.99`. This would help bookies get out of readonly mode.

[2020-05-13 12:17] jiazhai opened #6955 "licence check has issues"
after `mvn install -DskipTests`, run command `src/check-binary-license` will return errors:

[code]

[2020-05-13 12:56] jiazhai commented on #6955
looks like these jars are counted twice,
e.g. aopalliance-repackaged-2.5.0-b42.jar
first counted as:
`org.glassfish.hk2.external-aopalliance-repackaged-2.5.0-b42.jar`
then the prefix was removed and counted as :
`aopalliance-repackaged-2.5.0-b42.jar`
again.

[2020-05-13 13:45] jiazhai commented on #6955
this is the same issue as #6501, which was caused by mvn-3.6.3.

[2020-05-13 13:47] cbornet commented on #6818
+1.
I'd like to use the optimized protoc in the gRPC protocol handler but it can't compile gRPC proto files.

[2020-05-13 19:10] jdunhamvrtx opened #6957 "PulsarIO [Debezium] - Support MS SqlServer"
This feature request will track work on creating a connector for SqlServer through the Debezium module.

[2020-05-13 19:46] vzhikserg opened #6958 "[pulsar-io] Create Pulsar Sink connector for Couchbase"
**Is your feature request related to a problem? Please describe.**
Apache Pulsar is missing a sink connector for [Couchbase ](https://www.couchbase.com/)(open-source, distributed multi-model NoSQL document-oriented database).

**Describe the solution you'd like**
A new module with the implementation of a Pulsar sink connector for Couchbase should be added to Pulsar connectors.

**Describe alternat

[2020-05-14 01:31] sijie commented on #6950
@lukestephenson this sounds a great idea. Please submit a pull request. Since we have moved the helm chart to a separate repo, can you submit the pull request directly over there? https://github.com/apache/pulsar-helm-chart

[2020-05-14 02:22] ericwangdka commented on #6934
@sijie  thanks a lot，it seems i use the default .

[2020-05-14 02:22] #6934 closed

[2020-05-14 06:05] murong00 commented on #6761
My colleague also faced this confusion when using the `base64` token secret key.

[2020-05-14 10:06] bigbang489 opened #6960 "Duplicated messages are sent to dead letter topic"
**To Reproduce**
1. Consumer config: SubscriptionMode=Shared, SubscriptionName=Test1, ack Timeout=10000ms, enable Dead Letter Policy and setMaxRedeliveryCount=3
2. Run 3 Consumers with the above config in 3 parallel threads. The consumers will not send the ACK
3. Send a message to the topic which the consumers are listening to
4. Because the ACK will not be sent, the message will be sent to the de

[2020-05-14 10:39] trexinc commented on #6886
Now that I look at it, it seems that "/" in subscription names is actually valid.
I see that subscriptions for functions are actually "tenant/namespace/function_name"

[2020-05-14 10:47] baynes opened #6961 "Borderline too big messages hangs topic"
**Describe the bug**

If I send a message <= 5242781 bytes then it is handled OK.

If I send a message >= 5242881 bytes then it is rejected as MessageTooBig.

If I send a message between 5242782 and 5242880 bytes then the Pulsar broker starts continually using 100% of a CPU, the message does not appear on the topic and further attempts to send messages to that topic time out.

**To Reproduce**
My

[2020-05-14 10:47] gotopanic opened #6962 "Pulsar Admin API / Incomplete OpenAPI Spec"
**Describe the bug**
it seemed to me that the OpenAPI specification of the [Pulsar Admin REST API (v2)](http://pulsar.apache.org/admin-rest-api/) is incomplete:

- the PUT /namespaces/{tenant}/{namespace} command had a missing in/body parameter for policies
- the GET /non-persistent/{tenant}/{namespace}/{topic}/lastMessageId, POST /non-persistent/{tenant}/{namespace}/{topic}/terminate, GET /persis

[2020-05-14 15:27] gfredericks commented on #6847
Ming judged this as a bug, saying that readers should never skip messages.

If that's the case, I'd be happy to try to contribute a fix, but would need to know what the correct behavior is. Presumably if readers don't skip messages, then there is a scenario where a reader has its messages fall off the retention cliff and get deleted, so the question is what should happen in that case. I think the

[2020-05-14 16:14] sijie commented on #6930
@KannarFr

The indexes can be built in a background process using the approach that was used for compaction. The "compacted" ledger is essentially an "index" to the original data.

The index maintains some forms of mapping between "keys" to the "offsets" to the original data. The "offset" is essentially the message-id which is referencing a ledger and an entry id. It doesn't matter if a ledger is

[2020-05-14 16:26] KannarFr commented on #6930
@sijie
Ok, about the indexes definition, what do you think about the definition approach using avroschema to define indexes?

[2020-05-14 17:02] sijie commented on #6847
@gfredericks sorry for the late response.

I think the contract is the reader should read every message that is available in the storage. The `consumer_backlog_eviction` and `TTL` are the policies attached for quota management for topics in a namespace. These settings are how brokers manage the storage for topics that should be independent of how readers and consumers receiving messages. In other

[2020-05-14 17:07] sijie commented on #6930
Are you talking about adding the index definition into schema definition? Or using Avro schema specification for describing the indexes?

[2020-05-14 17:52] KannarFr commented on #6930
Adding the index definition into schema definition but maybe it is not the best to do. I'm asking your opinion.

[2020-05-14 18:41] gfredericks commented on #6847
So I had been assuming that the bug only applied to readers, and that for consumers (non-readers) it's okay to skip messages, as I assume that's the whole point of `consumer_backlog_eviction`.

But in your message you didn't seem to be distinguishing, so just for clarity:

Should the exception we're talking about be thrown just for readers, or also for consumers?

[2020-05-14 20:13] trexinc commented on #5947
Same issue for me on 2.5.1:
[code]

but there is a function there:

[code]

[2020-05-15 03:33] sijie commented on #6930
I don't think it is a good idea to add an index definition to the schema definition. The schema definition defines the structure of the original data. The index definition depends on the schema definition but it is different from the original data. So the index definition should be associated with the storage that is used for storing the index data. For example, if we are using another managed led

[2020-05-15 03:40] sijie commented on #6847
Yes. Consumers are expected to skip messages in the context of "consumer_backlog_eviction". So the exception is thrown for readers.

[2020-05-15 06:43] youzipi opened #6965 "Consumer pause do not work"
`org.apache.pulsar.client.api.Consumer#pause`
 i use this method to pause consume util other necessery stuff is ready.
but it don't work as i expected.

[code]
I check pulsar's code, the `Consumer.paused` field is only used in `org.apache.pulsar.client.impl.ConsumerImpl#increaseAvailablePermits(org.apache.pulsar.client.impl.ClientCnx, int)`, after this method, the message will be sent to listener.

[2020-05-15 08:48] alexku7 commented on #6935
Hi @sijie
Recently We upgraded to 2.5.1 but unfortunately it seems that the bug is non resolved.

The ledgers are still in open state and  not deleted :(

We have some scenario when  a producer send huge amount of messages in a short period  to the topic and "closes" it and opens a new one.

such topic contains  a lot of messages  and because of the ledger  is remained opened forever , the topic i

[2020-05-15 11:03] Mefl opened #6967 "pulsar cli option documented but the code is not in the 2.5 branche"
**Describe the bug**
The pulsar-client consume command has an option `--subscription-position` documented since 2.5.1, the class in the 2.5 branche does not have the option but it is ok on master branche. I think one part of the code wasn't merged on 2.5 branche.

**To Reproduce**
The documentation on 2.5.1 : https://pulsar.apache.org/docs/en/2.5.1/reference-cli-tools/#consume

The CmdConsume clas

[2020-05-15 15:32] trexinc opened #6969 "Brokers crash if all bookies are full"
Happens with both 2.5.0 and 2.5.1
Running distributed pulsar on k8s. Several bookies, brokers. functions workers and proxies.
If bookies get completely full (because of a bug with retention - #6935 ), brokers begin to loop crash making it impossible to remove large topics  or troubleshoot.
As a workaround we add another bookie, and then clear large topics, but I would expect brokers not to crash o

[2020-05-16 08:42] itaross commented on #6845
Hi @wolfstudy, any update on this? May I help with this?

[2020-05-18 01:40] jiazhai commented on #6961
Hi @baynes What is the broker side log shows?
In broker.conf, there is an item:
[code]
Usually you need to config it to support large size.

[2020-05-18 01:46] jiazhai commented on #6960
@bigbang489 Thanks for reporting this issue, Could this be stable reproduced?   It would be appreciate if you could provide your code example to reproduce it.

[2020-05-18 01:53] jiazhai commented on #6962
@gotopanic Thanks for reporting this issue. Would you like to contribute to it?

[2020-05-18 01:57] jiazhai commented on #6965
@youzipi Thanks for reporting this issue. We will take a look into it.

[2020-05-18 02:03] jiazhai commented on #6967
@Mefl Thanks for the issue reporting. Looks like this is a bug in doc release. Seems 2.5.1 doc included content that should not be included.
@Mefl Would you like to help fix this doc issue?

[2020-05-18 02:04] jiazhai commented on #6967
also @tuteng who is the release manager of 2.5.1.

[2020-05-18 02:11] jiazhai commented on #6969
@trexinc Thanks for the reporting of this issue. Would you please help collect the broker logs when this error happens.

[2020-05-18 04:13] lukestephenson commented on #6950
@sijie Thanks for pointing me at the new repo.  When will the new repo become the official one that the pulsar deployment docs are pointed to?  Thanks

[2020-05-18 06:49] Huanli-Meng commented on #6110
it seems this bug is fixed. in 2.5.0 and later releases, "connector Admin CLI" is moved from reference section to Pulsar IO connection. and the doc name is changed from "connector admin CLI" in reference section to "CLI" in "Pulsar IO" section.

[2020-05-18 06:53] youzipi commented on #6965
I checked the UT
`org.apache.pulsar.client.api.SimpleProducerConsumerTest#testPauseAndResume`

[code]
consumer can still receive msg until receiverQueueSize is used up.

how can i stop receive msg immediately?
consumer has a close() method,but i did not find a `consumer.subscribe()` method.
is there any way to `stop consumer receive msg immediately`?

[2020-05-18 07:16] aloyszhang opened #6975 "topic publish rate limit not take effect"
**Describe the bug**
`set-publish-rate` does not take effect

**To Reproduce**
1. `set-publish-rate`
2.  do publish

**Expected behavior**
producer should not publish messages faster than the publish rate

**Screenshots**
publish rate limit information
[code]

do publish
[code]
As shown, under the limit of 10 msgs and 10240 bytes, when send message with 1024B bytes, it should not be faster than 10

[2020-05-18 07:41] Huanli-Meng commented on #6110
update docs for : [doc] 404 error in pulsar io-use #6108

here the doc PR: https://github.com/apache/pulsar/pull/6976

[2020-05-18 08:40] Anonymitaet commented on #6967
@tuteng seems that [2.5.1 doc](https://pulsar.apache.org/docs/en/2.5.1/reference-cli-tools/#consume) (which includes `--subscription-position`) is not generated based on [2.5.0 doc](https://pulsar.apache.org/docs/en/2.5.0/reference-cli-tools/) (which does not include `--subscription-position`), could u pls take a look?

[2020-05-18 09:22] Mefl commented on #6967
Sure, I will correct it 👍
You can assign it to me

[2020-05-18 13:28] codelipenghui commented on #6975
@aloyszhang Thanks for the feedback, I think this is an enhancement. I would like to change the tag to enhancement.

[2020-05-18 14:04] codelipenghui commented on #6965
@youzipi I think you can use the `receive` method of the consumer. This is called to get one message at a time.

[2020-05-18 19:46] rounak11 commented on #6236
@sijie These github links are not valid anymore, can you please direct us to the correct links. We are trying to enable TLS everywhere and are facing some challenges with ZooKeeper TLS configurations in ZK, broker and bookies.

[2020-05-18 20:53] #5215 closed

[2020-05-18 21:10] vzhikserg commented on #4601
@sijie  #6835 should close this feature request.

[2020-05-18 21:31] sijie commented on #6931
Fixed by #6936

[2020-05-18 21:31] #6931 closed

[2020-05-18 22:07] sijie commented on #6935
@alexku7 I see. It seems that we need to make sure a ledger to be closed if there are no more incoming traffic to that topic.

[2020-05-18 22:07] sijie commented on #6935
@alexku7 we will pick this item up to fix it for 2.6.0 release.

[2020-05-18 22:10] sijie commented on #6969
@trexinc if you have function workers running along with brokers, function workers use pulsar topics for metadata management. so if the bookkeeper cluster is not writable, it will cause function workers not able to produce messages and cause brokers not able to startup. We can think about adding the retry logic in function worker and let it retry until the it is able to produce the messages.

[2020-05-18 22:11] sijie commented on #5819
@codelipenghui we need to make sure Pulsar 2.6.0 is released with JDK 11.

[2020-05-18 23:04] #6842 closed

[2020-05-18 23:05] #5720 closed

[2020-05-18 23:24] sijie commented on #4824
Closed this issue since it is already implemented in #6077. Feel free to reopen it if there is a problem.

[2020-05-18 23:24] #4824 closed

[2020-05-19 01:28] codelipenghui opened #6979 "More visibility for delayed message"
**Is your feature request related to a problem? Please describe.**
it might be useful to see a breakdown of message expiration times, like how many messages will be ready in 1 hour, 2 hours, 1 day, etc.

[2020-05-19 02:05] codelipenghui commented on #6554
@pouledodue @feeblefakie @merlimat  I have pushed a PR #6799 for this issue. Please help review, thanks.

[2020-05-19 02:26] sijie commented on #4601
Not sure why it didn't close the issue here. Closing it now.

[2020-05-19 02:26] sijie commented on #4601
This issue has been fixed by #6835

[2020-05-19 02:26] #4601 closed

[2020-05-19 03:33] aloyszhang commented on #6975
@codelipenghui Thanks for your suggestion, LGTM.

[2020-05-19 03:59] trexinc commented on #6969
@sijie ou function workers run on separate pods, not along with the brokers.

@jiazhai unfortunately the log of the first crash wasn't saved, all next logs showed the crash because of "Broker-znode owned by different zk-session", even if I stop all brokers but one. Didn't see any other interesting logs.

[2020-05-19 04:02] trexinc commented on #6969
We will try to set-up a separate environment where we can replicate this issue on demand without affecting others. It reproduces easily on our active env, hopefully it will replicate as well on a dedicated one.

[2020-05-19 04:36] sijie commented on #6236
@rounak11 I have fixed the links. Please check them again.

[2020-05-19 04:39] sijie commented on #6969
@trexinc interesting. it would be good to get the logs so we can help you analyze the logs.

[2020-05-19 05:14] codelipenghui commented on #3828
This issue is fixed by #6908 and #6908 is released in 2.5.2, So I add `release/2.5.2` tag for this issue.

[2020-05-19 05:50] codelipenghui commented on #4432
move to 2.7.0

[2020-05-19 05:55] codelipenghui commented on #4641
@annubiz Is @leonidv's comment can help? Move it to 2.7.0 first, feel free to move it back if it needs to onboard 2.6.0 release.

[2020-05-19 06:00] codelipenghui commented on #4752
@wolfstudy Could you please help double-check is the SerDe support in Go Functions?

[2020-05-19 06:11] #4803 closed

[2020-05-19 06:17] xgdgsc opened #6981 "copy webpage doc code includes "$""
**Is your feature request related to a problem? Please describe.**
http://pulsar.apache.org/docs/en/security-tls-transport/ click on "copy" includes "$" so I cannot paste and run at once.

**Describe the solution you'd like**
copy should include only code.

[2020-05-19 06:31] iitsoftware opened #6982 "pulsar-client-all jar file misses dependencies"
This is the fat jar file for a pulsar client. It misses these dependencies:

- `org.lz4-lz4-java-1.5.0`
- `org.apache.pulsar-protobuf-shaded-2.1.0-incubating`
- `org.apache.pulsar-pulsar-client-api-2.5.1`

Might be there are more missing, i.e., the bouncy castle jars when using TLS.

The `pulsar-client-all.jar` should include everything I need to run a pulsar client.

[2020-05-19 06:32] hari819 commented on #6236
@sijie @skyrocknroll @rounak11 , did not have time to prepare a document when i completed enabling TLS in February.Hope the following config is helpful bin/pulsar(sh file) and conf files,

ZooKeeper:
=======
[code]

zookeeper.conf:
==========
[code]

Bookkeeper:
========
[code]
bookkeeper.conf:
===========
`
tlsProvider=OpenSSL

tlsProviderFactoryClass=org.apache.bookkeeper.tls.TLSContextFactory

[2020-05-19 07:27] massakam commented on #4634
This issue may be fixed in https://github.com/apache/pulsar/pull/5185 or https://github.com/apache/pulsar/pull/6966, so I'll close it.

[2020-05-19 07:27] #4634 closed

[2020-05-19 07:38] codelipenghui commented on #5073
@kimcs Is your problem solved? I would like to close the issue first, feel free to open it if the problem still there.

[2020-05-19 07:38] #5073 closed

[2020-05-19 08:04] codelipenghui commented on #5157
@stupidusername Are your working on this issue?

[2020-05-19 08:41] alexku7 commented on #6935
Thank you @sijie
Do you know when the ver 2.6.0 is expected to be released ?

[2020-05-19 09:58] xgdgsc commented on #3127
I' m trying tls connection and get `Pulsar error: ConnectError` which isn' t very informative of what config could be wrong. Digging server logs for now.

[2020-05-19 10:42] codelipenghui commented on #6087
@Huanli-Meng Could you please also add https://github.com/streamnative/streamnative-docs/pull/169 to Pulsar repo?

[2020-05-19 11:45] fracasula commented on #6627
Hello guys, any updates on this one? We noticed the new `2.5.1` and went through the changelog but by the looks of it it seems that version `2.5.1` does not contain a bugfix for this, correct? Thanks!

[2020-05-19 12:28] pylebecq commented on #6645
@anshul-dhyani Hi 👋 Your issue looks like this one: https://github.com/apache/pulsar/issues/5392
There is a well-explained message in this other issue describing what's wrong with the `-v` option of your commands and how to do it properly.
It worked for me, hopefully it will work for you.
Cheers

[2020-05-19 12:41] codelipenghui commented on #6084
@sijie Looks we can move this issue to 2.7.0 and we can add a help-wanted tag. If anyone contributes this feature before 2.6.0 release, we can move it back.

[2020-05-19 12:49] codelipenghui commented on #6327
close via #6970

[2020-05-19 12:49] #6327 closed

[2020-05-19 13:23] codelipenghui commented on #6578
close via https://github.com/apache/pulsar/pull/6783

[2020-05-19 13:23] #6578 closed

[2020-05-19 13:28] anshul-dhyani commented on #6645
Thank you @pylebecq , that works.
I was doing some updates on Windows to start using LCOW, and i ran Pulsar standalone with mount and it worked, didn't realize what made it work but #5392 gives proper explanation .

[2020-05-19 13:28] #6645 closed

[2020-05-19 13:42] KannarFr opened #6988 "AuthorizationService isSuperUser is not check for allow* methods"
**Describe the bug**
New allow* methods in AuthorizationService must check for isSuperUser.

[2020-05-19 14:00] rounak11 commented on #6236
Is there a way to use PEM keys for ZK?

[2020-05-19 14:01] Huanli-Meng commented on #6087
update the doc, here is the PR link: https://github.com/apache/pulsar/pull/6990

[2020-05-19 14:54] codelipenghui commented on #6627
@fracasula I think 2.5.1 does not contain a bugfix for this issue. Looks the simple way to resolve this problem is to close the current connection and reconnect to the broker while timeout occurs. So that the broker can clean up the old consumers.

The other way is introducing a mechanism for the consumer heartbeat, which looks somewhat complicated.

[2020-05-19 15:14] codelipenghui commented on #6975
@aloyszhang I think we can add options in the broker.conf. So that users can choose the precise rate control or not. If users don't care about the cost of the competition, they can choose the precise rate control.

[2020-05-19 15:27] stupidusername commented on #5157
This has been sitting in my backlog for ages. I promise to submit a PR this week.

![image](https://user-images.githubusercontent.com/3828886/82345801-13a24080-99cc-11ea-861c-faf2cd8c34c0.png)

[2020-05-19 15:31] codelipenghui commented on #5157
Thanks a lot. Don't worry, take your time.

[2020-05-19 16:09] iravishah opened #6991 "java.util.concurrent.TimeoutException: Idle timeout expired: 300000/300000 ms"
**Describe the bug**
I am using websocket based producer and getting this error after sometime
**java.util.concurrent.TimeoutException: Idle timeout expired: 300000/300000 ms**

**Expected behavior**
How can I make the socket connection alive?

[2020-05-19 18:47] jaschnell opened #6994 "TLS Authorization"
**Describe the bug**
TLS Authorization is ignored on topics

**To Reproduce**
Steps to reproduce the behavior:
1. Create a consumer cert and a producer cert
2. Create a topic where consumer cert can consume and producer cert can produce
3. Produce a message and consumer it using the proper certs
4. Produce a message using the consumer cert
5. ERROR - the message is produced into the topic

**Expec

[2020-05-19 20:04] sijie commented on #6935
@alexku7 it is coming this month. @codelipenghui is the release manager and is already starting on wrapping up the 2.6.0 release.

[2020-05-19 23:30] lukestephenson opened #6995 "Decouple original topic and compacted topic retention policies"
**Is your feature request related to a problem? Please describe.**

When publishing to a topic that is compacted, the producer needs to publish the full state of the entity being published.

For example, it wouldn't make sense to publish to a compacted topic an event like "User added item to shopping cart" because a consumer wouldn't be able to reconstruct the state from only the last message for

[2020-05-20 00:33] Huanli-Meng commented on #6927
@codelipenghui , here are docs that may be impacted by the introduction of C# client. Please help correct me if i miss any doc update. Thanks.

1. Get-started > Use Pulsar with client libraries
- add a bullet for C#
- update feature matrix list (need help)

2. Security: add contents about C# in the following docs
- Transport encryption using TLS
- authentication using TLS
- authentication using JW

[2020-05-20 00:33] KannarFr commented on #6988
nvm, this should be in authzprovider directly.

[2020-05-20 00:33] #6988 closed

[2020-05-20 01:59] jiazhai commented on #6979
Seems it would be hard to do the counting in current framework.
If original using multi-level time wheel, it would be easy to do this.
We could consider how to improve current code.