[2020-05-20 02:02] jiazhai commented on #6982
@iitsoftware Are you using 2.5.1 version? How do you identified these issues?

[2020-05-20 02:04] jiazhai commented on #6981
@xgdgsc Thanks for the reporting. Would you like to contribute a PR to fix this?

[2020-05-20 02:06] jiazhai commented on #6991
in broker.conf, there should be a config：
[code]

[2020-05-20 02:09] jiazhai commented on #6994
@jaschnell Would you please help provide a detailed config for your usecase? TLS authorization should be work after enabled TLS authentication.

[2020-05-20 02:34] jaschnell commented on #6994
Do you want the broker config file? Or something else?  The use case is that we only want certain applications to produce messages on certain topics and not be allowed to consume messages.

[2020-05-20 03:31] jiazhai commented on #6994
right, the broker and client config that related to TLS.

[2020-05-20 03:58] bigbang489 commented on #6960
The issue is stable, just enable the deadletter policy and start 3 consumers in 3 parallel threads.

[2020-05-20 04:45] xgdgsc commented on #6981
I' d like to. I saw
[code]
 on crowdin' s webpage source. Is there any magic markdown syntax to add $, or we just remove all of $?

[2020-05-20 05:12] jaschnell commented on #6994
You can close it.  I had the **authorization** set to false in the broker setup.  Sorry about that.  I had a feeling it was too basic of issue to be real.

[2020-05-20 05:54] iravishah commented on #6991
How should I tweak these options to keep alive the socket connection?
How this will resolve Idle timeout?

[2020-05-20 06:12] iitsoftware commented on #6982
Here is the code:

`package de.iit;

import org.apache.pulsar.client.api.Producer;
import org.apache.pulsar.client.api.PulsarClient;
import org.apache.pulsar.client.api.Schema;

public class Main {

    public static void main(String[] args) {
        try {
            PulsarClient client = PulsarClient.builder()
                    .serviceUrl("pulsar://localhost:6650")
                    .build

[2020-05-20 06:37] aloyszhang commented on #6975
@codelipenghui  OK, I'll add the option.

[2020-05-20 06:40] jiazhai commented on #6981
@xgdgsc
The md docs is at here:
https://github.com/apache/pulsar/tree/master/site2/docs
https://github.com/apache/pulsar/tree/master/site2/website/versioned_docs

[2020-05-20 07:08] wolfstudy opened #7000 "Offload data from bk to aws-s3 error on 2.5.2"
**Describe the bug**

conf/standalone.conf:

[code]

the broker error as follows:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. connfig conf/standalone.conf
2.  start pulsar 2.5.2 standalone

**Expected behavior**
The broker can start normally

[2020-05-20 07:14] wolfstudy opened #7001 "The `managedLedgerMaxEntriesPerLedger` parameter does not take effect"
**Describe the bug**

conf/standalone.conf:

[code]

I'm testing offload-related functions locally, expecting the ledger to switch early, so the value of managedLedgerMaxEntriesPerLedger is set to 5000, but it seems that the parameter does not take effect. When the data in a ledger reaches 50000, the switch of ledger occurs

**Expected behavior**
The `managedLedgerMaxEntriesPerLedger` parameter ta

[2020-05-20 07:26] wolfstudy commented on #7000
On `2.5.1`, everything is ok. It seems that we made corresponding changes in 2.5.2

[2020-05-20 07:29] jiawulin001 opened #7002 "There are invalid links in the document"
1.`REST API` menu is invalid

![捕获11111](https://user-images.githubusercontent.com/14244944/82417785-a0bdc600-9aae-11ea-952b-8010fa15d8c6.PNG)

2.The page opened through the `REST` link of the `Admin Api` page is blank.
![捕获222222](https://user-images.githubusercontent.com/14244944/82416881-5c7df600-9aad-11ea-8e6c-09c65eeb6b99.PNG)

[2020-05-20 07:32] Omega-Ariston commented on #7002
Yeah, I found that as well. The button in pic 1 only works in English site.
As for the link in pic 2, I reckon it points to the same endpoint as the one in pic 1, which is : https://pulsar.apache.org/admin-rest-api/?version=2.5.1# (got it from English ver.)

[2020-05-20 08:05] xgdgsc commented on #2997
@jiazhai Can you elaborate on how to enable tls on `standalone.conf` ?  I tried some editing and it doesn' t start listening on TLS ports.

[2020-05-20 09:21] jiazhai commented on #6991
@iravishah sorry, I see, seems this is a different issue.  fir the idle timeout, you need this config.
[code]
try set and add it into you conf/broker.conf, or conf/websocket.conf

[2020-05-20 09:36] iravishah commented on #6991
I have configured this parameter but after the defined time it will close the connection right?
So, How can I keep it alive forever? I can't afford the message drop because of reconnection.

[2020-05-20 10:41] Huanli-Meng commented on #6927
1. Update the following docs:
- Use Pulsar with client libraries
- Transport encryption using TLS
- authentication using TLS
- authentication using JWT
- sidebar.json doc

2. Add a new doc for C# client

[2020-05-20 12:19] hari819 commented on #6236
yes , but from zookeeper 3.5.5 version

[2020-05-20 13:33] itaross opened #7004 "Local Runner is looking for connectors only in default location"
If this setting is overridden in the configuration file, the local runner will no longer work.

https://github.com/apache/pulsar/blob/cc15ad58583a640ad311fe5a91a9968ed46bf335/pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java#L465

[2020-05-20 13:36] itaross opened #7005 "Update documentation with possibility to use local run with Pulsar IO sinks and sources"
In the documentation is not specified how to debug locally the connectors directly with Java as for their functions counter part (https://pulsar.apache.org/docs/en/io-debug/)

Update the docs with explanation on how to debug the connectors.

This could further improve the development of new connectors and extend people's contribution for the good of pulsar :)

https://github.com/apache/pulsar/blob

[2020-05-20 14:39] davidlanouette commented on #6587
My team also is seriously considering Pulsar to replace ActiveMQ 5 (yes, it's way overdue), but we have a lot of STOMP and AMQP clients.

@sijie Does the `kop` project depend on the streamio platform, or will it run on native Pulsar?

[2020-05-20 14:55] huangdx0726 commented on #6957
I'll work on it

[2020-05-20 16:23] sijie commented on #6587
@davidlanouette No. `kop` doesn't depend on the streamnative platform. `kop` is a protocol handler that you can install it natively in your existing Pulsar cluster. Also streamnative platform is just an enterprise version of pulsar with addons.

We are about to release AMQP-on-Pulsar (AoP) and MQTT-on-Pulsar (MoP) in a few weeks.

[2020-05-20 17:05] wolfstudy commented on #4752
Currently, the SerDe not support in Go Functions

[2020-05-20 18:46] rounak11 commented on #6236
@hari819 Can you please share zk config with PEM configuration.

[2020-05-21 01:04] xgdgsc commented on #6981
https://github.com/facebook/docusaurus/issues/1745 Then I would remove all the $?

[2020-05-21 03:13] jiazhai commented on #7000
Seems this is Root Caused by @codelipenghui and @gaoran10 . Would  you please help paste the founding?

[2020-05-21 03:17] jiazhai commented on #7001
both of them take effect. it is aimed to not rollover ledgers too frequently.

[2020-05-21 03:17] #7001 closed

[2020-05-21 06:55] Anonymitaet commented on #6882
@Huanli-Meng Since you worked on this issue and discussed w/ sijie before, could u pls double-check the issue status? thanks

[2020-05-21 13:43] davidlanouette commented on #6587
@sijie Thanks for the update!

Do you have a link to that repo?  I'd be interested in contributing if I can.

[2020-05-21 14:01] hari819 commented on #6236
@rounak11

see if it helps ,

`sslQuorum=true
serverCnxnFactory=org.apache.zookeeper.server.NettyServerCnxnFactory
ssl.quorum.keyStore.location=/certs/certWithPrivateKey.pem
ssl.quorum.keyStore.password=********
ssl.quorum.trustStore.location=/path/to/ca/ca-cert.pem
ssl.quorum.trustStore.password=******
ssl.hostnameVerification=false
ssl.quorum.hostnameVerification=false
ssl.keyStore.type=PEM
ssl.

[2020-05-21 18:42] guillaumepitel opened #7012 "Null pointer exception when add ledger fails"
**Describe the bug**
Pulsar starts logging a lot of the following errors, then repeatedly fails to add ledger leading to problems in messages handling (the message flow speed goes down and start oscilating).

[code]

**To Reproduce**
Nothing particular seems to trigger the problem, except there is a timeout to ledger creation
It happened repeatedly since we switched to 2.5.1. We have also sligthly

[2020-05-22 03:59] whisper-bye commented on #6239
+1

[2020-05-22 04:00] Anonymitaet commented on #6110
@huangdx0726 this file "reference-connector-admin.md" is removed from doc.
If you want to read Connector Admin CLI doc, see http://pulsar.apache.org/docs/en/next/io-cli/.

[2020-05-22 04:00] #6110 closed

[2020-05-22 04:06] xgdgsc opened #7013 "pulsar/deployment/kubernetes/helm/scripts not included in release tarball"
**Describe the bug**
I'm following the doc at http://pulsar.apache.org/docs/en/kubernetes-helm/#step-1-install-pulsar-helm-chart I thought using version from tarball would be the same and found the path `./scripts/pulsar/prepare_helm_release.sh ` doesn' t exist. Is it intended to force using the git version?

**Expected behavior**
tarball includes same files as repo.

[2020-05-22 06:25] Huanli-Meng commented on #6927
docs for C# client is approved and merged. Here is the doc PR: https://github.com/apache/pulsar/pull/7003

[2020-05-22 08:04] bigbang489 commented on #6960
This is my code

`package com.test;

import java.util.concurrent.Executor;
import java.util.concurrent.Executors;
import java.util.concurrent.TimeUnit;

import org.apache.pulsar.client.api.AuthenticationFactory;
import org.apache.pulsar.client.api.ClientBuilder;
import org.apache.pulsar.client.api.Consumer;
import org.apache.pulsar.client.api.DeadLetterPolicy;
import org.apache.pulsar.client.api.M

[2020-05-22 08:25] codelipenghui opened #7017 "Apply the changes under the amqp branch to Apache Pulsar"
Apply the changes under the amqp branch to Apache Pulsar. To make sure aop can work on 2.6.0 release.

[2020-05-22 08:26] #7017 closed

[2020-05-22 08:46] codelipenghui commented on #6960
@bigbang489 Thanks, @315157973 already working on this issue.

[2020-05-22 09:45] codelipenghui commented on #6957
Thanks @huangdx0726

[2020-05-22 16:35] rajasekar33 opened #7019 "Webhook Size is always zero"
I am locally running Apache pulsar and beam for testing purpose.

Changes I have made:
1.pulsarAsDb option and added dbname, pulsarbrokerURL and all. but when run this application
console print always showing like **webhook size is 0**

Did I missed something.... I am not sure about the webhook registration with pulsarDB... Tram please help me solve this problem

After post request I am getting be

[2020-05-23 05:58] 315157973 commented on #6960
I am fixing this bug

[2020-05-23 14:08] cdbartholomew opened #7022 "In 2.5.2 Prometheus out metrics are always zero"
**Describe the bug**
In 2.5.2, the Prometheus metrics that measure the out rate/throughput for topics are always zero. This is a regression from 2.5.1. Specifically, these two metrics seems to always be zero:

* pulsar_throughput_out
* pulsar_rate_out

Here is a graph while publishing and consuming at the same time so that in rate == out rate:

![image](https://user-images.githubusercontent.com/22

[2020-05-23 21:56] Lanayx opened #7025 "Deduplication for partitioned topics"
Deduplication is only supported on per partition basis, I propose to support it on whole topic basis to be able to deduplicate messages without keys or  partitioned using round robin algorithm. #6209 PR might be handy to fix the issue.

[2020-05-24 05:58] trexinc commented on #6935
Simple instruction to replicate issue (replicates in 2.5.2 as well):
Create namespace internal/test with the following retention and TTL:

Then run in parallel for about five minutes the following (you can add -m 60000 to the producer):

The topic will then remain like this forever:

[2020-05-24 11:07] stupidusername commented on #6317
I don't understand something.

How do you preserve message order without waiting for a message to be acknowledged before producing the next message?

[2020-05-25 01:20] #6896 closed

[2020-05-25 01:29] Huanli-Meng commented on #6882
@sijie , it seems that the issue is fixed as we checked before. if not, could you please identify which are old contents? Thx.

[2020-05-25 01:40] sijie commented on #7013
@xgdgsc  Yes. The helm chart is intended to not include the source tarball. You can use the git version. Currently, we also moved the helm chart to a separated repo: https://github.com/apache/pulsar-helm-chart. We will publish the helm chart release to the website in the next release.

[2020-05-25 01:44] sijie commented on #7019
@rajasekar33 Can you clarify which component you are using? There is no "beam" component in pulsar.

[2020-05-25 02:43] #6898 closed

[2020-05-25 04:40] lukestephenson opened #7028 "Support shared subscriptions on compacted topics"
**Is your feature request related to a problem? Please describe.**
I'm evaluating Pulsar. A primary use case of mine is large (more than 1 billion unique keyed messages) compacted topics. To handle these efficiently, I had planned to make use of multiple partitions on the brokers, as well as have multiple consumers with a "key shared" subscription.

Currently the pulsar client rejects setting up a

[2020-05-25 05:17] wolfstudy opened #7029 "By default, presto SQL does not start the prometheus service"
**Describe the bug**

When starting `sql-worker` and using telnet to check the service, the following problems were found:

[code]

Output:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. conf prometheus server on `conf/presto/catlog/pulsar.properties`:

[code]

2. ./bin/pulsar standalone
3. ./bin/pulsar sql-worker run
4. telnet localhost:9092

**Expected behavior**

Users can correc

[2020-05-25 05:54] stupidusername commented on #5157
I've been doing some tests using this source connector: [sequence_source](https://github.com/Antti-Kaikkonen/PulsarSequenceSource).

I tested different combinations of `--processing-guarantees` and `--parallelism` and consumed the published messages.

- Using `EFFECTIVELY_ONCE` and `--parallelism` set to `1` I got one sequence of ordered numbers.
- Using `ATLEAST_ONCE` and `--parallelism` set to `

[2020-05-25 07:02] codelipenghui commented on #6655
close via #6676

[2020-05-25 07:02] #6655 closed

[2020-05-25 07:57] ADHB opened #7032 "Pulsar supporting DLQ for sources/sinks"
Currently Pulsar doesn't support DLQ for sources and sinks. Only functions support DLQ.
It is very important for sinks like ElasticSearch which is widely used in production env for logging systems to be able to redirect unacknowledged messages to another topic , keeping otherwise the brokers running as normal.

I would like to see a setting in consumer.conf or broker.conf that enables DLQ on a Pul

[2020-05-25 08:22] #7029 closed

[2020-05-25 08:45] #6897 closed

[2020-05-25 09:33] ayolivia opened #7033 "Ledger dir is redundant when using an existing bookkeeper cluster"
**Describe the bug**
Currently, we can use an existing bookkeeper cluster by parameter `bookkeeperMetadataServiceUri` (based master branch), however, the ledger dir (`/ledgers`) is still created in pulsar metadata store when initialize cluster metadata. This may confuse some users when trying to locate bookie nodes.

**Expected behavior**
Create the ledger dir when necessary.

[2020-05-25 10:42] rajasekar33 commented on #7019
Hi Team

Ming Luo helped me to solve this problem, I haven't registered webhook with DB thats why it was showing zero

[2020-05-25 14:41] vzhikserg commented on #6587
This issue contains too many requests in one. I would suggest to create 4 separate issues (one for each protocol)  and close this one.  The issues can be closed as soon as the handlers are implemented and we don't have to wait till all other handlers are finished.

[2020-05-25 15:20] codelipenghui commented on #7032
@315157973 is working on this issue.

[2020-05-25 19:31] kk-0619 opened #7036 "State storage not working after running the functions for a while. Pulsar version 2.5.1"
**Describe the bug**
State storage function not working after sending data into state storage for about an hour.
**To Reproduce**
**Steps to reproduce the behavior:**
1. Run the **ProducerTest.java**
[code]

2. State function
[code]

3. After running for minutes to an hour.
4. Data stop uploading to presto.

**Models**
[code]

[code]

**Expected behavior**
Start to send data to the state storage a

[2020-05-25 21:28] itaross commented on #7004
We are preparing a pull request for this

[2020-05-25 22:11] ckdarby commented on #6969
@trexinc Were you using "small volumes" with large ingestion? Better put, could you fill ~10% of your total bookies in < 10 seconds?

We faced a similar issue where the cluster filled all the bookies before the ReadOnly safety check could even be performed and the cluster went into a state of being partially unusable for some functions.

[2020-05-25 22:13] ckdarby commented on #6950
@lukestephenson I believe Sijie has mentioned it'll happen in 2.6.0.

I see your PR merged in https://github.com/apache/pulsar-helm-chart/commit/96dbab924fcad80c9586bf3f3c10445c1dec8ee3

Can you close this issue here :) ?

[2020-05-25 22:22] ckdarby commented on #6837
@btsken Are you saying that 2.4.2 used to work or that you also tried 2.4.2 afterwards when 2.5.1 didn't work?

I'm asking because I see that the [AWS docs](https://docs.aws.amazon.com/general/latest/gr/s3.html) actually lists s3.amazonaws.com endpoint as only standard for us-east-1 but you're using us-west-2.

[2020-05-25 23:25] lukestephenson commented on #6950
Fixed in https://github.com/apache/pulsar-helm-chart/pull/12

[2020-05-25 23:25] #6950 closed

[2020-05-26 01:11] btsken commented on #6837
Hi @ckdarby

I try 2.4.2 can work and 2.5.1 can not.

The "us-west-2" is not real. Actually I use Ceph S3 for tired storage

[2020-05-26 01:32] sijie commented on #7028
@lukestephenson

If you use a partitioned topic, the data is already partitioned. each partition will be compacted if you enable compaction. So each partition can have its own compacted state. Then you can read the compacted topic use Failover subscription. This would achieve the exact same thing as you did in Kafka.

[2020-05-26 06:05] k2la opened #7041 "Producers failed to open when leader broker shut down"
When a leader broker shut down, producers that connected with the broker failed to open on a new broker.

According to the leader broker log, the broker unloaded bundles and closed producers.
Also, according to logs of other brokers, another broker became leader broker and bundles were loaded.

However, producers that connected with the old leader broker reconnected with a new broker but some prod

[2020-05-26 06:58] #6822 closed

[2020-05-26 07:43] gmethvin commented on #7028
Is this limitation documented somewhere? I don't see it in https://pulsar.apache.org/docs/en/concepts-topic-compaction/. We should probably update that to clarify.

[2020-05-26 08:28] gmethvin commented on #7028
Is there a technical reason why we can't use shared or key_shared on a compacted topic? It seems to make sense if we don't care about consuming in order, or we only care about consuming in order per key (key_shared) and want to avoid the overhead of having many partitions.

[2020-05-26 09:31] abhilashmandaliya opened #7043 "Pulsar Admin fails on creating a new topic if you have multiple hosts in a URL"
**Describe the bug**
When you have multiple pulsar brokers and try to create a topic via Java client using multi-host URL, it fails. My admin URL is as follow: `http://192.168.254.1:34099,192.168.254.1:34102`

**To Reproduce**
Steps to reproduce the behavior:
1. Run a pulsar cluster with at least 2 nodes
2. Use a java client with multi-host admin URL to connect
3. Invoke this code:
`pulsarAdmin.to

[2020-05-26 11:35] lukestephenson commented on #7028
I'm able to get the desired behaviour I needed using a Failover subscription.  Feel free to close this issue, or keep it around if it's still a worthwhile change.  Thanks

[2020-05-26 12:55] devprashantksinha commented on #6838
Hi, we are consuming your 2.5.2 release we still observe this issue. PulsarProducerImp is hanging in the dump as reported previously.

[2020-05-26 13:46] codelipenghui commented on #7043
I can't reproduce it on 2.5.2 Java Client and master branch. Are there any other special configurations?

[2020-05-26 13:55] fmiguelez opened #7046 "NullPointerException with SubscriptionMode.NonDurable"
If we try to create a consumer with `SubscriptionMode.NonDurable`  it will fail with a `NullPointerException`.

We try to mimic the behaviour of Reader with partitioned topics.

It can be reproduced this way:

[code]

The exception throw is the following:

[code]

[2020-05-26 14:11] oneum72 opened #7047 "proxy errors using docker-compose"
Within docker-compose, using the pulsar:2.4.1 image everything is ok and proxy is running ok...
[docker-compose.yml](https://gist.github.com/oneum72/72d1459c0eb65395c5936d5bcae3cc18):
But using the the same docker-compose.yml structure and only change pulsar image to newer version, any of >2.4.1 i.e. pulsar:2.5.2 the pulsar-proxy log is full of errors:

cut from pulsar-proxy (pulsar:2.5.2) log:
[c

[2020-05-26 14:28] orbang opened #7048 "Shared consumers do not receive messages in C++ and acknowledged messages get redelivered"
When using shared subscriptions with the C++ client we see the following issues:

* The consumers stop consuming silently after a period of time, without any obvious reasons (e.g. connection failure) or any unusual log messages. The issue seems to happen randomly. Recreating the consumers with the same parameters seems to fix this issue for a while. We are experiencing this issue both using the sy

[2020-05-26 16:44] d-eggert opened #7049 "Make WebSocketService.MaxTextFrameSize configurable"
**Is your feature request related to a problem? Please describe.**
We use the websocket interface to pulsar. Our current use case demands the transmission of big messages (10MB or even more), which is not possible due to the hardcoded limit in `WebSocketService`

**Describe the solution you'd like**
Make this value configurable, e.g. via websocket.conf

**Describe alternatives you've considered**

[2020-05-26 21:13] sijie commented on #3727
For people who is looking for open tracing integration, we have open-sourced our open-tracking interceptor for Pulsar client.

documentation: https://hub.streamnative.io/monitoring/opentracing-pulsar-client/0.1.0
source code: https://github.com/streamnative/pulsar-tracing

[2020-05-27 00:30] curtiscook opened #7050 "[python] pulsar-client@2.5.2's dep on enum34@1.1.9 may break build systems"
Enum34 appears to have had a regression of the below issue in 1.1.9 https://bitbucket.org/stoneleaf/enum34/issues/31/make-the-install-a-noop-on-python36

This breaks builds due to `AttributeError: module 'enum' has no attribute 'IntFlag'`

Related poetry issue: https://github.com/python-poetry/poetry/issues/1122#issuecomment-628037127

Suggest using enum34@1.1.8 until this is fixed

[2020-05-27 01:43] sijie commented on #7048
@orbang

For the first issue, do you have any code sample that we can use to reproduce the problem?

For the second issue, the current implementation of acknowledgment is the best effort. Until we introduce transaction, you will be expecting at-least-once delivery semantic. So the messages can potentially be redelivered due to a *lost* acknowledgment over the wire.

[2020-05-27 01:46] sijie commented on #7048
@orbang btw, which version of broker are you using?

[2020-05-27 01:50] sijie commented on #7047
@oneum72 it seems that your problem is similar to apache/pulsar#6141 which is related to apache/pulsar-manager#252. I think pulsar-manager is sending some HTTP requests that are not able to be recognized by the pulsar proxy. Can you first try to disable pulsar-manager in your docker-compose file?

[2020-05-27 01:53] sijie commented on #7050
@curtiscook since you have already found the issue, are you interested in submitting a pull request to address the issue?

[2020-05-27 02:07] 315157973 commented on #7032
Please assign it to me

[2020-05-27 05:34] codelipenghui commented on #6838
@devprashantksinha Did you upgrade the Pulsar broker? #6879 makes some changes on the broker side.

[2020-05-27 06:33] abhilashmandaliya commented on #7043
nothing special. I will try again with the master branch

[2020-05-27 07:34] devprashantksinha commented on #6838
@codelipenghui : yes we have upgraded both client and pulsar chart components including broker to 2.5.2 . These are the steps I followed to reproduce :

1. Produce to a non existent topic from one of the application using pulsar-client 2.5.2.
2. Take heap dump after producing we see a lot of instances of **ProducerImpl** in the dump being the top memory consumer. This might lead to OOM after some

[2020-05-27 14:46] Saswatibhoi opened #7055 "Unable to Produce Messages: Topic is stuck on a ledger that doesn't exist: "No such ledger exists on Metadata Server""
**Describe the bug**
While producing messages on a topic, it is trying to reach to a ledger that doesn't exists. The produce operation fails throwing an error message "No such ledger exists on Metadata Server -  ledger=1380467". And, that is the specific ledger the topic is trying to reach while producing.

Tried skipping few messages, and also tried resetting the cursor, but it doesn't help. I ha

[2020-05-27 15:26] BewareMyPower commented on #6945
You could create multiple producers and deliver the message to the right producer associated with the key.

**However, I suspected that it's broker's problem.** Here is my experiment:

First, I created 2 producers and 2 consumers. The producers' batching max publish delay ms are both 3000, which is large enough for batching. Then I used one producer to send messages with key "A", and another produ

[2020-05-27 15:32] sakthi-prasad opened #7056 "pulsar client 2.5.2 cli does not support subscription-position when running consumer"
When running pulsar client cli command for consumer, --subscription-position is shown as unknown option

Note pulsar client version: 2.5.2

Run the below command to start a consumer
[code]
            OR
[code]

**Throws below error**
[code]

**Expected behavior**
It should allow the option --subscription-position as document for pulsar 2.5.2

**Additional context**
[code]

Will I be able to consu

[2020-05-27 15:43] #6644 closed

[2020-05-27 21:45] ckdarby opened #7058 "Pulsar on EBS having poor performance"
**Describe the bug**
Pulsar's performance when using EBS isn't up to what is expected reading off of EBS even when setting EBS to silly settings and ruling out all other bottlenecks that are obvious.

**To Reproduce**
Steps to reproduce the behavior:
1. We're using Pulsar helm install on AWS EKS https://github.com/apache/pulsar-helm-chart/commit/6e9ad25ba322f6f0fc7c11c66fb88faa6d0218db
2. Our valu

[2020-05-27 21:46] ckdarby commented on #7058
@sijie I was finally able to compile the issue that I mentioned on Slack.

[2020-05-27 22:41] #7002 closed

[2020-05-27 23:22] irairdon opened #7059 "Pulsar Producing Hangs when Kubernertes Node Restarts"
When running pulsar on Kubernetes if you reboot a Kubernetes node any client producing will hand and be unable to produce new messages.

**To Reproduce**
Steps to reproduce the behavior:
1. Install helm chart for Pulsar on kubernetes
2. Use pulsar-perf tool to start producing messages on a single topic.
3. reboot one of the kubernetes nodes.
4. I have not found errors listed but the pulsar-perf to

[2020-05-28 00:11] ckdarby commented on #7058
Talked to @cdbartholomew today and he mentioned that he might be having what appears to be the same issue, but in Azure.

Read performance is nowhere close to the disk capability.

@sijie If there is anything else you need me to pull from the cluster just let me know and I'll grab the info or retry with whatever configuration you can suggest.

I'll reach out to my AWS Solutions Architect to find o

[2020-05-28 00:38] zhanghaou commented on #7049
Thanks for your feedback, I will fix it.

[2020-05-28 00:50] ashwallace commented on #7058
EC2 r5.large has a baseline EBS throughput of ~81 MB/s at 128 KB IO sizes. Looks like you're at around that number more or less.
Because of this fact, you may not be a benefit by using a provisioned IOPS EBS volume type, nor a benefit from striping multiple GP2 together.

Therefore your options are:

1) Horizontally scale your pulsar cluster by adding another node, to achieve a higher aggregate pe

[2020-05-28 01:42] sijie commented on #7055
@Saswatibhoi

How do you deploy your pulsar cluster? Did you happen to run any bookkeeper commands like `metaformat` to format the bookkeeper metadata?

[2020-05-28 01:49] sijie commented on #7056
@sakthi-prasad I think the documentation of release 2.5.2 was cut by using the latest master. @jiazhai is looking into fixing the issue.

[2020-05-28 02:02] ckdarby commented on #7058
@ashwallace But that doesn't explain why when on the pod itself using `dd` I'm able to access the EBS at 200 mbyte/s.

I will change the cluster to one that has throughput has baseline and check results.

[2020-05-28 02:47] gh777777 commented on #4937
Sorry to reply so late. I use python 3.8.2. Now the issue has gone.

I suspect the problem has to do with python environment. I found that pulsar functions are running in my bash environment, so I put python (3.8.2) in front of my $PATH. This seems to work, but i'm not very sure.

[2020-05-28 03:01] ashwallace commented on #7058
@ckdarby All EC2's and EBS have a burst period (approx 30 mins a day - timing and availability of bursting depends on usage pattern). DD only has a single job to do on disk, so you can see that it is exceeding the baseline (bursting) without any tweaking. Pulsar is a bit more sophisticated so it will never look like DD performance.

In your graphs, bookie is also exceeding the baseline (bursting)

[2020-05-28 03:25] DGBStarSky opened #7076 "Pulsar SQL cannot get the latest message"
**Describe the bug**
Pulsar SQL cannot get the latest message of topic.

**To Reproduce**
Steps to reproduce the behavior:
I use pulsar sql query messages, but  cannot get the latest message of topic.I have configured the parameters in broker.conf, but no effect.

**Screenshots**
![微信图片_20200528112800](https://user-images.githubusercontent.com/35715373/83095621-53f17500-a0d6-11ea-8d43-d250304698ba

[2020-05-28 03:53] ckdarby commented on #7058
@ashwallace Thanks for everything. I'll nuke the cluster & change the type with a baseline higher and let you know.

Here are my other comments...

That view you're referencing is the bookie overview view, it includes all four bookies.

What it looks like just on specifically "public/cory/test-ebs-partition-5" topic only which is where the pulsar perf reader was against, can be seen [here](https:/

[2020-05-28 08:51] Anonymitaet commented on #4752
Confirmed w/ long on 5/28, serde is still not available in Go.

[2020-05-28 10:01] jiazhai opened #7083 "[website] Make each release contains all the content into versioned directory"
currently, website is released in a versioned way. but each versioned directory, contains only part of md files. This is hard to maintain the content of each version.
It would be better to make each versioned directory contain all the md files.

![image](https://user-images.githubusercontent.com/6348208/83126992-2d4e3100-a10c-11ea-816b-610bca1371fd.png)

[2020-05-28 10:03] jiazhai commented on #7083
@tuteng Would you please help create a script to make the website release atomic?

[2020-05-28 11:07] dockerzhang opened #7084 "[docker] catch OperationalError when running pulsar-standalone container"
**Describe the bug**
catch OperationalError when running pulsar-standalone container

**To Reproduce**
Steps to reproduce the behavior:
1.  start docker container
docker run -d --name=test -p 80:80  -p 6650:6650 -p 8080:8080 apachepulsar/pulsar-standalone:2.5.2

2.  access http://local_ip:80
3. See error
![image](https://user-images.githubusercontent.com/18047329/83133610-b61d9a80-a115-11ea-97d6-c

[2020-05-28 14:19] curtiscook commented on #7050
I looked into this, and it appears that 1.1.8 has a breaking change for python27, which caused the 1.1.9 upgrade. https://github.com/apache/pulsar/pull/6401

I think maybe the best course of action is to leave this as-is and hope that enum34 fixes their bug soon.

In the interim, maybe we keep this issue open for visibility and close it once enum34 fixes their library? It appears to only directly

[2020-05-28 16:06] oneum72 commented on #7047
@sijie I have tested as you suggested and there is only one error:
[code]
Now this behavior raised questions:
1. How come the pulsar-admin interfere with proxy:v2.5.2. in the first place, even before configuring proxy environment?
2. Why the pulsar:v2.4.1. does not log errors while used with pulsar-admin?
3. Every successive version of pulsar throws errors if used  with pulsar-admin and pulsar-adm

[2020-05-28 16:11] Saswatibhoi commented on #7055
For Bookkeepers, below is our deployment process,
*Spin up new bookies in a new stack.
*Update old bookies to readOnly.
*Wait for 24 hours, as our max ttl is 24 hours.
*Decommission the old bookies
*Stop the services of the old bookies
*Remove old stack.

We don't use the metaformat command or bookieformat command in any circumtances.

However, I was thinking, is it possible that the managed ledge

[2020-05-28 16:52] renns opened #7088 "NullPointerException when creating new reader in Java client with startMessageId that doesn't exist"
I am seeing an exception in the pulsar logs (running version 2.5.1 in standalone mode) when creating a new reader in the Java client with a startMessageId that doesn't exist. See the exception log below.

Steps to reproduce the behavior:
1. Run pulsar in standalone mode
2. Create a reader in the Java client that listens on a topic
3. Send a few messages to the topic
4. Stop pulsar
5. Delete pulsar

[2020-05-28 17:22] ckdarby opened #7089 "[Helm] Proxy started throwing netty errors even on a new cluster"
**Describe the bug**
When starting up a new cluster we're getting errors from the proxy related to netty thread allocation problems but I'm confused as the docker image is still using the tagged 2.5.0 and I don't see any pulled in external libs.

**To Reproduce**
Steps to reproduce the behaviour:
1. Helm install
2. k logs dga-detection-pulsar-proxy-0

**Expected behavior**
Proxy to come up as expe

[2020-05-28 17:39] sijie commented on #7022
The problem has been fixed as part of #7082

[2020-05-28 17:39] #7022 closed

[2020-05-28 20:01] ckdarby commented on #7089
So, we rolled back everything our side, helm charts back to the known version, nuked the whole k8s cluster, made a new K8s cluster, etc etc. Eventually the only difference we had was a node group had been changed from r5.large to r5.4xlarge to test out #7058

Looking at Netty docs @nickelozz found

He was also nice enough to find this from AWS docs:
![Selection_736](https://user-images.githubuserc

[2020-05-28 21:23] ckdarby commented on #7089
We changed the numThreads in the helm chart from 8->12 and the proxy came up.

We'll make a PR on the apache/pulsar-helm-chart to allow this to be exposed out in the values.yaml.

[2020-05-28 21:23] #7089 closed

[2020-05-29 00:18] ckdarby commented on #7058
@ashwallace Upgrade to c5.4xlarge

[code]

Still seeing the same kind of issue, tomorrow I can rerun the test and repost all the graphs.

@sijie I'm thinking this pretty much rules out EBS/AWS as an issue. I saw the same thing even when I took Ash's advice to get better EBS baseline throughput. The per ops tend to be on average 150 KiB. Is there any specific params on bookie that determines how mu

[2020-05-29 01:12] #6085 closed

[2020-05-29 01:12] sijie commented on #3087
I think this has been resolved since @tuteng already introduced versioning for javadoc.

[2020-05-29 01:12] #3087 closed

[2020-05-29 01:16] #6850 closed

[2020-05-29 05:43] opera33 commented on #7076
Tested this in 2.5.2 as well in Standalone mode, not getting latest data from Pulsar SQL

Previously opened this #6884

[2020-05-29 08:34] trexinc opened #7095 "Support key shared batching in Functions"
There is a publisher that publishes with keys (and key based batching enabled) to a certain partitioned topic.
A routing function (see below) reads from this topic and forwards the messages to a different partitioned topic (keeping the key with slight modification). If I now consume with KEY_SHARED from this topic then only one consumer will get all the messages.

[code]

[2020-05-29 09:48] 315157973 commented on #7046
Please assign it to me @sijie

[2020-05-29 09:51] trexinc commented on #7095
Seems that this feature is not overly complicated to implement, just add a config to function to enable key based batching, and then create producers according to this config.

[2020-05-29 11:37] yusufaytas commented on #3153
I've just downloaded pulsar and running it in standalone mode. I get `java.lang.IllegalStateException: State is not enabled.` when running functions.

[2020-05-29 18:30] ckdarby commented on #6605
I was under the impression that Pulsar is using PrestoSQL and not PrestoDB.

Is it using PrestoSQL or PrestoDB? Can we clarify the docs to be more explicit?

[2020-05-29 18:58] gotopanic commented on #6962
Sorry, I missed your reply. Yes I will gladly contribute, but I will need some guidance as this would be my first contribution... Would you be the committer who will review as per http://pulsar.apache.org/ja/contributing/ ?

[2020-05-29 21:38] #7084 closed

[2020-05-29 23:38] sijie commented on #3153
@yusufaytas for standalone, the state is enabled by default. How did you run the standalone?

[2020-05-29 23:45] sijie commented on #7089
@ckdarby This seems to be a known issue related to jetty. You  need to adjust the number threads to be more than cpu cores.

[2020-05-29 23:48] sijie commented on #7089
So you need to adjust the settings based on your machine type.

[2020-05-29 23:56] sijie commented on #7058
@ckdarby

for reading from backlog:

1) tune rocksdb block cache size for holding the entry index in memory.

[code]

2) in broker size, increase batch read size.

[code]

Then check the io wait metrics on the ledgers directory to see if there is any bottleneck.

If there is bottleneck, try to use multiple directories on ledger disk. This can increase parallelism but you need to make sure you also

[2020-05-30 00:01] yusufaytas commented on #3153
I've figured this out. I had to set `stateStorageServiceUrl` to make functions work.  Nevertheless, it might be a good idea to supply local BookKeeper URI to functions by default. Thanks for the reply.

[2020-05-30 00:04] sijie commented on #7055
@Saswatibhoi I don't think this is a clear way to *decommission* bookies.

At which step the error was encountered?

[2020-05-30 00:30] sijie commented on #7047
What does `pulsar-admin` interface mean here? Do you mean `pulsar-admin` CLI tool or pulsar-manager?

[2020-05-30 04:48] ckdarby commented on #7058
@sijie This is what is stored in /pulsar/data/bookkeeper/ledgers/current/locations correct?

[2020-05-30 05:08] oneum72 commented on #7047
Edited the previous repy!

[2020-05-30 05:35] skyrocknroll commented on #6605
@ckdarby it is using prestodb

[2020-05-30 06:45] trexinc commented on #7095
In addition, KEY_SHARED mode should be added to function consuming as well, as it is most useful for improving performance with --retain-ordering & --parallelism

[2020-05-30 07:31] dockerzhang opened #7112 "[docker] too many repeated pulsar-all image configs in k8s helm deployment"
**Describe the bug**
All releated pulsar components are built in pulsar-all image, but we have to change at least 8  places for using private repositories to set pulsar-all in helm chart, It is redundant.

**To Reproduce**
it's not a bug but tiny enhancement for k8s helm deployment.

[2020-05-30 09:36] #7032 closed

[2020-05-30 10:14] ADHB commented on #7032
Thanks a lot for fast development. When will this new feature be available
for me to try on bare metal?

lør. 30. maj 2020 kl. 11.36 skrev Jia Zhai <notifications@github.com>:

--
Kind regards / Venlig hilsen

*Adelina H. Brask*

[2020-05-30 15:49] Saswatibhoi commented on #7055
@sijie Actually we did not face any issues while deploying the new bookies. The deployment was successfully completed three weeks back, and is running fine. No other topics are complaining about the ledger issues. The stuck ledger issue was reported for just a couple of topics three days back.

[2020-05-30 18:05] sijie commented on #7058
yes that's correct.

[2020-05-30 18:11] sijie commented on #7047
@oneum72 I don't think the problem is pulsar-manager.

What did you change? I don't have any context about what you have changed to answer your question.

[2020-05-30 18:17] sijie commented on #7055
@Saswatibhoi I am suspecting the issues were related to your deployment. I have to understand how do you deploy the cluster to understand the problems. In your [previous comment](https://github.com/apache/pulsar/issues/7055#issuecomment-635445303), I still don't know what did your deployment do. Did you spin up a new cluster? Or did you migrate from one old cluster to a new cluster?

[2020-05-30 18:49] ckdarby commented on #7058
@sijie  Firstly, thank you for everything, :bow: .

/pulsar/data/bookkeeper/ledgers/current/locations are very small. Don't see any of the bookies with ledger/current/locations any larger than 50 MByte total dir and I have dbStorage_rocksDB_blockCacheSize set to 1 GB at the moment.

Happy to report that I changed:
dispatcherMaxReadBatchSize=10000

Saw mixed results of decent and extremely good.

E

[2020-05-30 18:49] #7058 closed

[2020-05-31 02:20] #7041 closed

[2020-05-31 06:19] liudezhi2098 opened #7115 "When the content of the sent message is 5M, it will appear that the current Topic can no longer send the message"
**Describe the bug**
By default config , when the content of the sent message is 5M, it will appear that the current topic can no longer send the message.

*Send a message*
[code]
*bookie has always been wrong  io.netty.handler.codec.TooLongFrameException: Adjusted frame length exceeds 5242880: 5242992 - discarded*

[code]

Bookie default configuration nettyMaxFrameSizeBytes is 5242880
but broker

[2020-05-31 09:22] wolfstudy commented on #7005
@itaross Thanks for your feedback. Do you want to test the pulsar source or pulsar sink using java code in a [similar way](https://pulsar.apache.org/docs/en/functions-debug/#debug-with-localrun-mode)?

For example:

[code]

[2020-05-31 13:21] zongtanghu commented on #6962
If no one else wanted to contribute for this issue, we can do it! @jiazhai @sijie

[2020-05-31 13:26] zhanghaou commented on #7033
I will fix it. :)

[2020-05-31 14:56] jiazhai commented on #7112
@dockerzhang, thanks for reporting this issue. current way  may be easier for user to config different components using different image

[2020-05-31 15:58] 315157973 commented on #5538
Please assign it to me @codelipenghui

[2020-05-31 18:28] oneum72 commented on #7047
So I did tried the initial [docker-compose](https://gist.github.com/oneum72/72d1459c0eb65395c5936d5bcae3cc18) with disabled pulsar-manager as you suggested and found out the following as already described [above](https://github.com/apache/pulsar/issues/7047#issuecomment-635442506). I can provide additional info if required.

[2020-05-31 18:49] gotopanic commented on #6962
I have never contributed before, so I would definitely appreciate some help!

[2020-05-31 21:06] Saswatibhoi commented on #7055
In our organization, our AMI expires every 3 months. So, every three months we are required to update our instances with a new AMI. In this deployment, we spinned up few new bookies with a new AMI, and decommissioned the old bookies with the process I have mentioned before.

[2020-06-01 00:28] codelipenghui commented on #7033
Thanks @zhanghaou

[2020-06-01 01:17] murong00 commented on #7033
@codelipenghui @zhanghaou  I think we should make a discussion, I hava already fixed this in my dev branch by adding a option `--bookkeeper-metadata-service-uri` some weeks ago, but I am not so sure it is appropriate. How about the proposal?

[2020-06-01 08:31] codelipenghui opened #7121 "[Documentation] Clarify the impact of batch message in key_shared subscription"
**Is your feature request related to a problem? Please describe.**
Following the java example at http://pulsar.apache.org/docs/en/client-libraries-java/#key_shared. The messages sometimes may send to only one consumer if the producer sends the batched messages. It's better to clarify in the doc to introduce the right way to use key_shared subscription.

[2020-06-01 08:45] codelipenghui opened #7122 "[Documentation] Java doc for Java client not versioned."
The Java doc for the Java client can find at http://pulsar.apache.org/api/client. But the Java doc is not the current version doc and we can't find the old version doc there.

[2020-06-01 10:13] itaross commented on #7005
Yes, exactly. I have developed quite few functions and having the ability to debug them boosted my productivity exponentially.
For the connectors I have developed a modified version of the influxdb2 connector and it has been really hard to get it to work.

[2020-06-01 16:21] aloyszhang opened #7128 "some config field of ServiceConfiguration spell wrong"
**Describe the bug**
Some spelling error of the fields in  `ServiceConfiguration` ,
Like : `maxPendingPublishdRequestsPerConnection` and `replicatioPolicyCheckDurationSeconds`,
and much more typoes can be found in broker.conf.
 we should correct them.

[2020-06-01 23:43] sijie commented on #7055
Okay. Then you need to run `bin/bookkeeper shell decommission` command to decommission people. "*Wait for 24 hours, as our max ttl is 24 hours." doesn't provide you the safe way to decomission bookies.

[2020-06-01 23:45] sijie commented on #7058
@ckdarby Glad that you have sorted things out.

[2020-06-02 00:59] #4899 closed

[2020-06-02 01:01] #5969 closed

[2020-06-02 01:07] sijie commented on #6087
This has been fixed by #6990

[2020-06-02 01:07] #6087 closed

[2020-06-02 01:32] sijie commented on #7122
@codelipenghui I think the javadoc is already versioned. http://pulsar.apache.org/docs/en/client-libraries-java/

[2020-06-02 01:32] #7122 closed

[2020-06-02 01:43] Gray-Fullbuster opened #7134 "when i start broker, i met that pulsar read broker.conf,initialize backlogQuotaDefaultRetentionPolicy failed"
pulsar version=2.5.0
jdk =1.8
this is start broker error information:
./pulsar broker
[AppClassLoader@18b4aac2] info AspectJ Weaver Version 1.9.2 built on Wednesday Oct 24, 2018 at 15:43:33 GMT
[AppClassLoader@18b4aac2] info register classloader sun.misc.Launcher$AppClassLoader@18b4aac2
[AppClassLoader@18b4aac2] info using configuration file:xxx/pulsar/lib/org.apache.pulsar-pulsar-zookeeper-utils-

[2020-06-02 02:38] #6975 closed

[2020-06-02 03:04] jiazhai opened #7135 "[Feature][Functions] dynamic update configs"
The configs of Pulsar Functions are provided before Functions start. If user wants to update the config, the functions have to be deployed from start point again.
It would be great to provide a way to support config dynamic update.

[2020-06-02 03:53] ashwallace commented on #7058
Great work!
I must have interpreted the graph as a single EC2 instance, but it must have been the aggregate of all 13 instances/
Make sure to resize EC2 again to optimize cost.

[2020-06-02 04:12] Anonymitaet commented on #5179
@wolfstudy since u r working on function security doc, could u pls take this issue into consideration? thanks

[2020-06-02 04:17] codelipenghui commented on #6253
close via #6052

[2020-06-02 04:17] #6253 closed

[2020-06-02 05:46] lhotari commented on #6869
@codelipenghui  It seems that #6052 was merged to master, however there doesn't seem to be any new logic to properly handle negative acknowledgements when the message id is instance of BatchMessageIdImpl. Perhaps I missed.

[2020-06-02 07:16] codelipenghui commented on #6869
@lhotari Thanks for your feedback. Looks #6052 just can avoid the acked messages in the batch message deliver to the consumer. We need to find a way to handle negative acknowledgment. We need to remove the message ID from the unack message tracker and send the redelivery request to the broker until all batch indexes of the batch message are processed(ack or negative ack).

[2020-06-02 07:44] rdhabalia opened #7138 "PIP 37-Follow up: Chunk message with batching enabled"
### Motivation
#4400 provides client to publish large size message into chunks. However, it requires producer-client to disable batching explicitly. Enhance pulasr-client lib to chunk message without disabling the batching.

[2020-06-02 07:52] #7046 closed

[2020-06-02 07:53] #7128 closed

[2020-06-02 07:54] #6761 closed

[2020-06-02 08:02] wolfstudy commented on #7005
Yes, the difference between sources or sinks and functions is that we need to introduce external dependencies to test, but this is usually difficult. So it looks like we don’t have an easy way to debug source or sink operations like a debug function.

[2020-06-02 09:23] hmoragrega opened #7140 "Zombie producers shown as connected after a broker instance crashed"
**Describe the bug**
A broker crash due to "out of memory" left zombie producers connected

Our setup:
- k8s cluster
- 3 pulsar brokers
- 3 pulsar proxies
- X Services publishing to the same topic using official CGo library

**Steps to reproduce the behavior:**
Force a OOM crash in a broker with connected producers, the producers connected to that broker are still listed as connected and have to b

[2020-06-02 21:58] vzhikserg commented on #6625
@sijie This issue should be fixed by #7119.  Is it fine if it will be fixed in the next release (then this issue is fixed)? Or should we also update the swagger files for the previously released versions?

[2020-06-02 22:59] ckdarby commented on #7058
100% solved, ran against production today.

We decreased dispatcherMaxReadBatchSize=10000 to 500 for our Flink job because reading from all 8 partitions was OOM'ing the brokers with the memory allocation we had set.

Running in production with graphs from Flink, this is 4x what we were getting before and we're seeing matching graphs in Pulsar's Grafana with 4x throughput.

![image (1)](https://use

[2020-06-03 01:31] sijie commented on #7134
@Gray-Fullbuster Did you change `broker.conf` before?

[2020-06-03 01:40] sijie commented on #7140
@hmoragrega

A couple of questions:

- which version of pulsar broker are you using?
- how did you cause broker crash? one thing I don't understand in the description is if the broker was crashed, the JVM process should be gone. Are you using a different approach to force broker crash?

[2020-06-03 07:01] sijie commented on #7058
@ckdarby awesome!

[2020-06-03 07:01] aloyszhang opened #7149 "Cannot resolve import in BatchSourceExecutor"
**Describe the bug**
Cannot resolve dependency of `org.apache.pulsar.functions.utils.Reflections` in BatchSourceExecutor, since `Reflections ` has move to pulsar-common.
**To Reproduce**
pull the master
**Expected behavior**
should import from the right path

**Screenshots**
![image](https://user-images.githubusercontent.com/48062889/83605735-ff089f80-a5aa-11ea-85de-0e066f75b99a.png)

[2020-06-03 07:21] hmoragrega commented on #7140
thanks for checking out:
* We are running a docker image: `apachepulsar/pulsar-all:2.5.1`
* The broker process was killed by k8s:
[code]
I've checked the pulsar logs around the event but I haven't found any outstanding message, just the application being restarted
[code]

[2020-06-03 07:53] codelipenghui commented on #7149
There are some conflicts after merge some PRs, I'm working on fixing them.

[2020-06-03 07:59] aloyszhang commented on #7149
@codelipenghui Yes, I had found some conflicts too.
I think rebase the master branch before PR and merge PR in time  is helpful to reduce these conflicts.

[2020-06-03 08:42] baynes commented on #6961
There is an awful lot in the log. This bit keeps repeating and looks relevant. [This is with pulsar 2.5.0]

[code]

The default limit is quite large enough. for our needs.  We are happy for exceptional messages to be rejected. We just don't want something exceptional taking the system out completely.

[2020-06-03 09:14] BewareMyPower opened #7152 "Increase partitions of a non-existing topic created multiple non-partitioned topics"
**Describe the bug**
If I try to increase partitions of a non-existing topic, the method would fail but multiple non-partitioned topics would be created after that.

**To Reproduce**
Assume that we had a standalone Pulsar running. There're no topics at first:

[code]

Here we use POST method to increase partitions, but the target topic `Foo` doesn't exist. Check topics again, we found there're 3 n

[2020-06-03 09:40] JKeyZ commented on #6536
Sorry for replay later，I have a case to proccess binlog of mysql. Some tables need consume sequence (for ex: order info, pay info), some tables consume parallel (for ex: comment info). So I want to create topic as many as I need partitions for per table.

[2020-06-03 09:41] dockerzhang opened #7153 "[proxy] pulsar-proxy Caught Connection refused error"
**Describe the bug**
If i produce message for a while, it caught connection refused error
![image](https://user-images.githubusercontent.com/18047329/83620732-55340d80-a5c0-11ea-846f-3ab77dea0c1e.png)
And then i rebuilt proxy pod by delete pulsar-proxy-0/1/2, the refused error will disappear.

**Version**
2.5.2 deployed by k8s helm

**To Reproduce**
Steps to reproduce the behavior:
1. kubectl exec

[2020-06-03 15:12] baynes opened #7157 "Message lost with new topic and regex subscription"
**Describe the bug**
When a new topic is detected by a regexp subscription it takes time before the subscriptions cursor is set up for that topic. As the cursor is set to the end of the topic this means at least one message is lost and as this can take 40 seconds, one could lose 40 seconds of data.

**To Reproduce**

If I set up a consumer with a regex subscription, for example:

`/opt/pulsar/bin/

[2020-06-03 15:13] baynes commented on #7157
Might be some overlap with #6531

[2020-06-03 15:47] baynes commented on #7157
Further thoughts.
I think that is more to do with topics created before function creation/start - and the initial_position option of the consumer is enough to handle it so long as you can get it through. This is to do with topics created after function/consumer creation/start - where one wants it to behave as if the cursor setup on the new topic is instantaneous on the topic creation.

[2020-06-03 18:55] kjaggann commented on #572
My understanding zookeeper has an issue in terms of "quorum" and "split Brain"
my finding correct me if I am wrong lets take we have 5 servers. The voting to elect the leader is based on the majority of the servers. the number of servers must accept specific server to become the leader, the other becomes the followers
So there is this bad thing that may happen called "split brain". A split brain i

[2020-06-03 19:28] yifan commented on #4540
I am getting same error.  I tried everything mentioned above and didn't work.
[code]

[2020-06-03 23:48] skothari-tibco opened #7158 "Mistake in Pulsar Function Documentation"
**Describe the bug**
A clear and concise description of what the bug is.
In the documentation of pulsar function, under the Logger section there is an mistake in "Go" code sample . Go code sample states  `"github.com/apache/pulsar/pulsar-function-go/log"` in the import but in reality it is  `"github.com/apache/pulsar/pulsar-function-go/logutil"`

**To Reproduce**
Steps to reproduce the behavior:
1

[2020-06-04 01:36] sijie commented on #7149
It is fixed now.

[2020-06-04 01:36] #7149 closed

[2020-06-04 01:38] sijie commented on #7153
@dockerzhang was the proxy restarted during your test?

[2020-06-04 01:41] sijie commented on #7157
@baynes You can specify SubscriptionInitialPosition.earliest when you create the regex subscription.

[2020-06-04 01:43] sijie commented on #7158
@wolfstudy can you double-check if this is a problem?

[2020-06-04 02:07] #6852 closed

[2020-06-04 02:33] #7049 closed

[2020-06-04 02:41] dockerzhang commented on #7153
@sijie yes, the proxy restarted during test.
I check the log  exited of proxy container, it's exited for OOM error.
![image](https://user-images.githubusercontent.com/18047329/83707408-84905c00-a64c-11ea-880f-271edd7eca18.png)
I increased 2G to 8G and test again, test recovered.
Thanks @sijie , this issue can close now.

[2020-06-04 02:42] codelipenghui opened #7161 "Fix problems with managed-ledger properties."
### Fix problems with managed-ledger properties.

Refer to https://github.com/apache/pulsar/pull/7054#issuecomment-637843729

- It's not checking that there no other metadata operations in place. That will result in ZK bad version errors.
- It's writing the metadata without updating the in-memory version that the managed ledger keeps. This will result in a managed ledger fenced error each time a p

[2020-06-04 02:45] zhanghaou commented on #7161
I will fix it.

[2020-06-04 02:55] Huanli-Meng commented on #2793
@ivankelly , the doc is updated, could you please help review it? here is the PR link: https://github.com/apache/pulsar/pull/7162, Thanks.

[2020-06-04 03:07] #6981 closed

[2020-06-04 03:36] #7115 closed

[2020-06-04 03:43] liudezhi2098 opened #7163 "Sometimes get partitioned metadata will throws NullPointerException"
**Describe the bug**
Sometimes get partitioned metadata  will throws  NullPointerException,
because the NamespaceService not initialized yet

[code]

[2020-06-04 03:50] codelipenghui commented on #6252
close via #6903

[2020-06-04 03:50] #6252 closed

[2020-06-04 06:23] #5709 closed

[2020-06-04 06:24] #5905 closed

[2020-06-04 07:13] yujun32 opened #7166 "I didnt find the Schema strategy I wanted"
I need a Schema strategy like this:
     Producter can add fields based on business development, but old fields cannot be deleted and modified; (like protobuf).
     Consumers can consume all versions of data with various versions of Schema, and will lack new fields that are newer than the current version.

     I found the pulsar documentation. There is no such Schema strategy that only allows ad

[2020-06-04 07:15] geomagilles commented on #3224
also, you can not obtain a key-shared subscription currently with the current method. (related to #3208 and #6527)

[2020-06-04 09:18] baynes commented on #7157
I guess that would do it. It changes the behavior for topics created while the client is down or before it is started for the first time. It is probably useful to read all the messages on those when the client comes up - but there could be cases where it is undesirable when the client starts for the first time.

If we do go that way then  #6531 must be fixed as we are actually using functions.

[2020-06-04 10:11] baynes opened #7168 "regex subscription not working for new topics in Python"
**Describe the bug**
If a new topic is added that matches a regex subscription then if the client is written in Java it detects it and adds a cursor but if it is written in Python it does not.

**To Reproduce**
Steps to reproduce the behavior:

Run the following as a Phython3 client:
[code]

In another window run this command to get a Java client for comparison:
[code]

In another window send a me

[2020-06-04 14:01] #4804 closed

[2020-06-04 18:13] #6921 closed

[2020-06-05 00:58] Huanli-Meng commented on #6914
@jiazhai , whether end-to-end messagecrypto is supported on Python?

[2020-06-05 01:42] Anonymitaet commented on #6086
since we're working on the Functions docs, ping @wolfstudy FYI

[2020-06-05 01:42] #6960 closed

[2020-06-05 01:49] jiazhai commented on #7168
Thanks @baynes for reporting this issue. Since it is able to reproduce, mark it as help-wanted firstly. Any help on fix this issue is very appreciated.

[2020-06-05 01:57] jiazhai commented on #7166
https://pulsar.apache.org/docs/en/schema-evolution-compatibility/#how-does-pulsar-support-schema-evolution
@yujun32 Seems you want a `BACKWARD_TRANSITIVE`?

[2020-06-05 02:02] jiazhai commented on #7163
Thanks for @liudezhi2098 to help on this issue.

[2020-06-05 02:14] jiazhai commented on #7161
Thanks @zhanghaou for the help.

[2020-06-05 02:42] wolfstudy commented on #7158
Sure, will do this

[2020-06-05 02:45] wolfstudy commented on #7158
@skothari-tibco Thanks your feedback, will fix it.

[2020-06-05 03:29] wolfstudy commented on #6086
OK, i will validate it and fix the docs.

[2020-06-05 04:46] aloyszhang commented on #7152
Some error with pulsar-admin APIs, It was caused by no validation about non-partitioned topic or partitoined topic before update the partition numbers.
We should add the validation before do the update.

[2020-06-05 06:40] liudezhi2098 opened #7178 "using pulsar-client-kafka_0_9 version to consume partition topic， will throw Exception"
**Describe the bug**
When using pulsar-client-kafka_0_9 version to consume partition topic， will throw Exception

[code]

[2020-06-05 07:05] #7121 closed

[2020-06-05 08:26] javamrGithub commented on #7076
I set up bookkeeperExplicitLacIntervalInMills in broker.conf and standalone.conf, but still couldn't get the latest news

[2020-06-05 08:28] javamrGithub commented on #7076
I set up bookkeeperExplicitLacIntervalInMills in broker.conf and standalone.conf, but still couldn't get the latest news

[2020-06-05 08:32] wen-qiang001 commented on #7076
I set up bookkeeperExplicitLacIntervalInMills in broker.conf and standalone.conf, but still couldn't get the latest news

[2020-06-05 08:44] wen-qiang001 commented on #7076
I set up bookkeeperExplicitLacIntervalInMills in broker.conf and standalone.conf, but still couldn't get the latest news。

[2020-06-05 10:52] deltasquare4 opened #7183 "Pulsar allows creating duplicate topics with the same name"
**Describe the bug**
Pulsar 2.5.0 allows creating two topics (one partitioned, and the other non-partitioned) with the same name through Admin API. This behaviour is consistent across both persistent and non-persistent topics.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a partitioned topic in a tenant/namespace (e.g. persistent://public/test/duplicate-test)
2. Create a non-partiti

[2020-06-05 11:38] wuzhanpeng opened #7184 "[FEATURE] Support triggering ledger rollover when maxLedgerRolloverTimeMinutes is met"
### Motivation
Now in the `ManagedLedger`, even if the `maxLedgerRolloverTimeMinutes` is reached, the topic ledger will not trigger a new rollover until the next entry comes in. Thus the configuration does not actually take full effect. Another important idea here is, if we trigger a rollover, we can close the current ledger so that we can release the storage of current ledger btw. Because for som

[2020-06-05 12:34] #6000 closed

[2020-06-05 18:45] sivavijay13 opened #7185 "Dashboard not populated with any details like Topics/Message"
Started Pulsar and pulsar dashboard both in docker

Created topics in pulsar and sent few messages to topics , waited for long time both message and topic created not showing in dashboard
![image](https://user-images.githubusercontent.com/46527272/83911883-b14a8d80-a78a-11ea-82c9-0ff8ebd6e1ca.png)
Log:
Starting Pulsar dasboard

+ /pulsar/init-postgres.sh

+ rm -rf '/data/*'

+ chown -R postgres: /

[2020-06-05 18:46] sivavijay13 commented on #7185
I used both latest version of dashboard and 2.4.2 based on some comments in issues section

[2020-06-05 21:55] Saswatibhoi commented on #7055
We do run the decommission bookie every time to decommission.

Looks like, the topic is stuck on that ledger and is not able to recover no matter of the options we have tried like resetting cursor or skipping messages..

[2020-06-06 04:59] #7158 closed

[2020-06-06 10:39] hangc0276 opened #7189 "【Bug】get last messageId with failed exception"
**Describe the bug**
When I use flink to consume pulsar topic, flink-pulsar-connector will use admin http request to get last messageId. However, i get the following exception in broker side:
[code]
When checking the code, i found the `Temporary Redirect` should be the expected behavior when the request topic not owned by the current broker.
[code]
**Expected behavior**
When the requested topic no

[2020-06-06 15:31] amitpl opened #7190 "Transaction Support"
**Is your feature request related to a problem? Please describe.**
I want to atomically produce messages in more than one topic.

**Describe the solution you'd like**
Support for transactions in Producer.

**Describe alternatives you've considered**
None

**Additional context**
None.

[2020-06-06 17:29] dionjansen commented on #6605
I tried the same as @JKeyZ but I didn't get much further than this error when starting the presto server:

[code]

I grabbed the connector from https://archive.apache.org/dist/pulsar/pulsar-2.5.1/apache-pulsar-2.5.1-bin.tar.gz and build it ontop the [prestosql/presto:329](https://hub.docker.com/layers/prestosql/presto/329/images/sha256-3ce639c6a0e5eb3cd285a04e39f7b741698ad44d278859ecd88a602c99e352

[2020-06-07 00:11] yujun32 commented on #7166
Thank you for answering,

BACKWARD_TRANSITIVE is still a bit different from the strategy I want:
1. Fields can only be added but not modified or deleted.
2. Consumer can consume the latest data without upgrading.
These two points are just the principles that our other services follow, so that the design rules will help our security upgrade and fault tolerance

[2020-06-07 00:12] yujun32 commented on #7166
Thank you for answering,

BACKWARD_TRANSITIVE is still a bit different from the strategy I want:
1. Fields can only be added but not modified or deleted.
2. Consumer can consume the latest data without upgrading.
These two points are just the principles that our other services follow, so that the design rules will help our security upgrade and fault tolerance

[2020-06-07 19:41] BewareMyPower commented on #7168
TL;DR It's because there's a deadlock in C++ client. I'll push a PR soon.

Just because C++ stand library doesn't have something like `ConcurrentHashMap`, the current implementation used a `mutex_` to share a `std::map`.
However, the `mutex_` is also acquired in `receive`, so if you called `receive`, the `mutex_` is acquired and held until a new message was pushed to the internal message queue. Th

[2020-06-07 19:54] bb24388 commented on #6828
Currently running into the same, issue for windows 10 in VSCode. Is there a work around?

[2020-06-07 21:20] vzhikserg commented on #5736
@wolfstudy @sijie @jiazhai Is this issue still relevant for the Gitlab Actions?

[2020-06-08 01:12] #7184 closed

[2020-06-08 01:17] codelipenghui opened #7195 "Make ledger rollover check task internal"
##7111 introduced ledger rollover task to ensure the ledger rollover as expected. The task should be the internal task of the managed ledger.

This issue is tracking move the ledger rollover check task to managed ledger internal.

[2020-06-08 01:39] sijie commented on #7183
@deltasquare4 thank you for reporting this. Are you interested in contributing a fix?

[2020-06-08 01:39] zhaoyu1989 opened #7197 "presto’s catalog config [ pulsar.zookeeper-uri] not support multi uris"
**Describe the bug**
When I use pulsar-sql, I want to config pulsar.zookeeper-uri with multi uris and seperate by
divide by semicolon, currently pulsar.properties doesnot support。

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '/apache-pulsar-2.5.0/conf/presto/catalog/pulsar.properties'
2. config pulsar.properties with 'pulsar.zookeeper-uri=kmr-234487a9-gn-279fcec2-core-1-001:2181,kmr

[2020-06-08 01:42] sijie commented on #7185
@sivavijay13 pulsar dashboard is deprecated in favor of using Pulsar Manager.

http://pulsar.apache.org/docs/en/administration-pulsar-manager/

https://github.com/apache/pulsar-manager

[2020-06-08 01:46] sijie commented on #7189
@hangc0276 that sounds good to me.

[2020-06-08 01:48] sijie commented on #7190
@amitpl transaction support is tracked at #2664

[2020-06-08 01:48] #7190 closed

[2020-06-08 01:49] sijie commented on #4394
Close this issue due to inactivities. Please open a new issue if we need to investigate it.

[2020-06-08 01:49] #4394 closed

[2020-06-08 01:52] sijie commented on #4467
@bbonnin Have you tried the latest Pulsar version?

[2020-06-08 01:54] sijie commented on #4472
The issue has been fixed.

[2020-06-08 01:54] #4472 closed

[2020-06-08 01:56] sijie commented on #4386
@phuongtailtranminh did you try the latest Pulsar release 2.5.2?

[2020-06-08 01:57] sijie commented on #4324
It seems that the question has been answered. Closed the issue now. If there are any other questions, please create a new issue.

[2020-06-08 01:57] #4324 closed

[2020-06-08 01:58] #4346 closed

[2020-06-08 02:00] sijie commented on #4525
@wolfstudy it seems that it is a bookkeeper client issue. Do you mind creating an issue at bookkeeper project side?

[2020-06-08 02:03] sijie commented on #4497
@benstadin We have fixed the issue by introducing different variants of client libraries. You can use the library that is not linked with SSL. For details, please check: http://pulsar.apache.org/docs/en/client-libraries-cpp/#linux

[2020-06-08 02:03] #4497 closed

[2020-06-08 02:04] sijie commented on #4384
@zymap Can you help check if the issue has been fixed or not?

[2020-06-08 02:06] #4503 closed

[2020-06-08 02:08] sijie commented on #4443
@benxinglong This is supported now. You can configure `brokerDeleteInactiveTopicsMode` to `delete_when_subscriptions_caught_up`.

[2020-06-08 02:08] #4443 closed

[2020-06-08 02:14] wolfstudy commented on #4525
Sure, will do this.

[2020-06-08 02:53] hangc0276 commented on #7195
My team will move the rollover task to the internal task of the managed ledger soon. @wuzhanpeng

[2020-06-08 03:41] hangc0276 commented on #7189
@sijie Ok, i will fix this problem soon.

[2020-06-08 05:25] codelipenghui commented on #7183
This issue is fixed by #5943 and I have double-checked on the master branch. So close this issue first, if the problem is still there, please reopen it.

[2020-06-08 05:25] #7183 closed

[2020-06-08 05:40] Anonymitaet commented on #5819
@codelipenghui

I've replaced some `doc-required` tags w/ `doc-added` since docs have been added by @Huanli-Meng and me.

#4955, #6977: @Huanli-Meng has confirmed no doc needed for these PRs

#6473: Confirmed w/ @tuteng : REST API doc is generated from code automatically, no need to update it manually.

[2020-06-08 06:42] wangjialing218 opened #7202 "Using entryLogPerLedgerEnabled feature will got NoSuchMethodError"
**Describe the bug**
using entryLogPerLedgerEnabled feature by set `entryLogPerLedgerEnabled=true` in bookkeeper.conf and produce some message, when bookie try to flush enties to entrylogfile,  got NoSuchMethodError.

`java.lang.NoSuchMethodError: org.apache.commons.lang3.mutable.MutableInt.incrementAndGet() at org.apache.bookkeeper.bookie.EntryLogManagerForEntryLogPerLedger$EntryLogsPerLedgerCoun

[2020-06-08 08:02] brunobonnin commented on #4467
Hi, with Pulsar 2.5.2, now I can see all the functions. :)

[2020-06-08 08:04] bbonnin commented on #4467
Hi, with Pulsar 2.5.2, now, I can list the functions. :)

[2020-06-08 08:08] codelipenghui commented on #5819
Thanks @Anonymitaet

[2020-06-08 08:11] #7134 closed

[2020-06-08 08:18] #7178 closed

[2020-06-08 08:18] #7163 closed

[2020-06-08 08:24] codelipenghui commented on #7195
Thanks @hangc0276

[2020-06-08 08:41] #2793 closed

[2020-06-08 08:58] Huanli-Meng commented on #6084
The doc is updated and merged, here is the PR link: https://github.com/apache/pulsar/pull/6980

[2020-06-08 09:00] Huanli-Meng commented on #6927
doc is updated and merged, here is the PR link: https://github.com/apache/pulsar/pull/7003

[2020-06-08 11:32] zhijianfree opened #7205 "Can i use pattern Regex in non-persistent mode?"
**Describe the bug**
i use java client to subscribe pattern  topic(like: non-persistent://iot/yy/hu/.*), when i publish a message by "non-persistent://iot/yy/hu/2" , i cannot get the message. but in persistent mdoe i can receive.

**To Reproduce**
Steps to reproduce the behavior:
use this command to publish message
`./pulsar-client produce non-persistent://iot/yy/hu/2 --messages "message1"`

**Scr

[2020-06-08 12:03] #7152 closed

[2020-06-08 15:10] KannarFr opened #7208 "pulsar_env.sh pass component as arg"
**Is your feature request related to a problem? Please describe.**
We are want to define pulsar env depending on component ran. As our conf is generic, we wanted to have your opinion about add component type ran to the pulsar_env.sh.

**Describe the solution you'd like**
pulsar_env.sh call should pass argument as `broker`, `proxy`, etc. Then we can dynamically define pulsar env vars from this comp

[2020-06-08 15:18] frankjkelly opened #7209 "Turning on default authorization provider prevents startup in standalone mode."
**Describe the bug**
Turning on `authorizationEnabled=true` causes Pulsar to be unable to startup

**To Reproduce**
Steps to reproduce the behavior:
1. Taking a plain vanilla Apache Pulsar 2.5.2
2. Edit `/conf/standalone.conf` and set `authorizationEnabled=true`
3. Startup Pulsar via `/bin/pulsar standalone`

**Expected behavior**
Pulsar starts up as normal *OR* the provided authorization document

[2020-06-08 16:08] lhotari commented on #6869
Hi @codelipenghui , I noticed on Twitter a notice that the release for 2.6.0 will be cut soon. Would it be possible to include a fix in 2.6.0 for this nack & BatchMessageImpl issue?

[2020-06-08 18:17] grzegorz-moto opened #7210 "unable to run on rootless kubernetess"
Trying to deploy to (generic) kubernetes cluster and following the documentation: http://pulsar.apache.org/docs/v1.22.0-incubating/deployment/Kubernetes/ to deploy zookeepe first I'm getting an error because my cluster is configured to only allow images without root user

I tried to modify deployment zookeeper.yaml with
[code]
building new Docker image using this simple Dockerfile:
[code]
but it o

[2020-06-08 21:49] cdbartholomew commented on #6886
Those subscriptions on functions are problematic. You can't perform admin actions on them, so I think your original comment holds.

[2020-06-08 22:10] merlimat commented on #6886
`/` are perfectly supported as subscription names, any operation done on Java admin API or CLI tools will work correctly.

When using REST API directly, the name needs to properly URL encoded (that's also for any other special character with respect to HTTP).

[2020-06-09 00:26] jiazhai commented on #7202
Thanks @wangjialing218 for the issue and PR

[2020-06-09 01:28] sijie commented on #4550
Pulsar dashboard is deprecated in favor of using Pulsar Manager. http://pulsar.apache.org/docs/en/administration-pulsar-manager/

So close this now. If you have any questions, please re-open it.

[2020-06-09 01:28] #4550 closed

[2020-06-09 01:30] sijie commented on #4584
Close this issue since there is already a pulsar-spark connector for structured streaming. https://github.com/streamnative/pulsar-spark

[2020-06-09 01:30] #4584 closed

[2020-06-09 01:32] sijie commented on #2431
@Poluect I think there are multiple fixes around "consumer not able to consume the messages from broker". Have you tried to upgrade broker to 2.5.x?

[2020-06-09 01:34] sijie commented on #3121
Since we have deprecated the generic k8s yaml files and moved to helm chart, please try the helm chart. Close this issue for now. If you have any issues related to helm chart, please let us know.

[2020-06-09 01:34] #3121 closed

[2020-06-09 01:35] sijie commented on #2467
I have raised the PIP for adding HTTP endpoints to existing web server -- https://github.com/apache/pulsar/wiki/PIP-64%3A-Introduce-REST-endpoints-for-producing%2C-consuming-and-reading-messages

[2020-06-09 01:36] mingfang commented on #3121
@sijie Not everyone use helm

[2020-06-09 01:37] Huanli-Meng commented on #4793
@sijie , some replicated subscription contents have been added to Pulsar docs (for releases from master to 2.5.0). What the missing documentation for replicated subscription here? a Tutorial or something else?
![image](https://user-images.githubusercontent.com/48120384/84096342-4fad4c00-aa34-11ea-8311-947f0e620cd8.png)

[2020-06-09 01:39] sijie commented on #236
Close this issue for now. If we see this test fails again, let's create a new GitHub issue.

[2020-06-09 01:39] #236 closed

[2020-06-09 01:46] sijie commented on #4540
We have already started supporting 10.14 since 2.5.x. I have verified that 2.5.2 works locally at my laptop. (10.14.6).

Can you try the latest release?

[2020-06-09 01:47] sijie commented on #4585
Closed this issue for now. We will continue maintaining the pulsar-spark connector at https://github.com/streamnative/pulsar-spark and push it to upstream spark.

[2020-06-09 01:47] #4585 closed

[2020-06-09 01:49] sijie commented on #3112
I think this issue has been fixed in the latest Pulsar release. Close this issue now. Please reopen one if there are still issues.

[2020-06-09 01:49] #3112 closed

[2020-06-09 01:51] sijie commented on #3116
@ducquoc have you tried to package your function into a NAR package? This would avoid fat-jar issue.

[2020-06-09 01:54] sijie commented on #7197
this has been fixed in #6947 and will be released to 2.6.0

[2020-06-09 01:54] #7197 closed

[2020-06-09 01:54] #4525 closed

[2020-06-09 02:38] zuxqoj opened #7213 "Message Encryption is not supported in kafka-adaptor"
**Describe the bug**
Message Encryption is not supported in kafka-adaptor

**To Reproduce**
there is no kafka producer config for CryptoKeyReader and EncryptionKey

**Expected behavior**
Message Encryption should be supported in kafka-adaptor

**Screenshots**
NA

**Desktop (please complete the following information):**
 NA

**Additional context**
NA

[2020-06-09 03:21] #6598 closed

[2020-06-09 03:46] ericwangdka opened #7214 "bookie server's log : No ledger found while reading entry"
it shows every 5min ，it appears reduce the throughtout  how can i to   do with it

11:22:16.266 [pool-11-thread-1] INFO  org.apache.bookkeeper.bookie.EntryLoggerAllocator - Created new entry log file /data10/bk-data/current/4429.log for logId 17449.
11:22:16.326 [SyncThread-8-1] INFO  org.apache.bookkeeper.bookie.EntryLogManagerForSingleEntryLog - Synced entry logger 17447 to disk.
11:22:16.350 [S

[2020-06-09 04:54] #7202 closed

[2020-06-09 05:32] Ghatage commented on #7055
@Saswatibhoi
Do you check if there are any under-replicated ledgers before decommissioning?
FWIW, I've written a doc on a safe decommission procedure we use in the BookKeeper documentation recently. [You can check it out here](https://github.com/apache/bookkeeper/blob/2ca4025e4c699e49c39272a067d8ec6056ca4358/site/docs/latest/admin/decomission.md).

[2020-06-09 05:59] massakam commented on #7041
This issue should be fixed by the following PRs:
- https://github.com/apache/pulsar/pull/7096
- https://github.com/apache/pulsar/pull/7126
- https://github.com/apache/pulsar/pull/7200

[2020-06-09 07:02] AnkushKhanna opened #7217 "In Key_Shared subscription with stickyHashRange allow hashes in between"
**Is your feature request related to a problem? Please describe.**
In `Key_Shared` subscription using `stickyHashRange`, consumers interleaving hashes are not allowed. For example, consumer 1 hash: [[0, 99], [400, 65535]], consumer 2 hash: [[100,399]].
throws an exception, `Range conflict with consumer` from [here](https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache

[2020-06-09 08:11] #6765 closed

[2020-06-09 08:29] Anonymitaet commented on #5819
@codelipenghui
The item `Custom functions runtime` does not have a PR link
I've searched `Custom functions runtime` w/ the label "milestone 2.6.0" and got the [result](https://github.com/apache/pulsar/issues?q=Custom+functions+runtime+milestone%3A2.6.0). Which one is the correct item I'm looking for?

[2020-06-09 08:33] #7189 closed

[2020-06-09 09:55] zhanghaou commented on #7161
I have solved the Problem1 and 4 in the PR[https://github.com/apache/pulsar/pull/7222](https://github.com/apache/pulsar/pull/7222), please take a look.

Problem 2：
The in-memory version of propertiesMap is updated by callback of store.asyncUpdateLedgerIds, is there something wrong with my understanding?
Problem 3：
Re-read the metadata from store is used when the managedLedger is reloaded and we ne

[2020-06-09 11:16] lukestephenson opened #7223 "Pulsar Broker is running compaction on multiple partitions in parallel."
**Describe the bug**
A single pulsar broker should only compact a single partition at a time.  Otherwise the memory usage of compacting multiple partitions in parallel increases the chance of OutOfMemoryErrors

**To Reproduce**
Steps to reproduce the behavior:
1. Create a topic with many partitions
2. Publish lots of data to all of the partitions
3. Use pulsar admin to establish compaction thresho

[2020-06-09 11:18] Lanayx commented on #5819
@Anonymitaet Looks like this item made it way to the list because of my proposal (which actually meant custom language runtime like .net) which doesn't seem to even be planned for implementation, so it should be removed.

[2020-06-09 13:01] TolulopeAwode commented on #6828
Currently, C++ library isn't support Windows platform.

[2020-06-09 13:54] codelipenghui opened #7224 "Bouncy Castle License check"
**Describe the bug**
Currently, when starting release pulsar, we need to update the bouncy-castle-bc-shaded version to the target version in the pulsar-sql distribution module. But the broker can pass the
license check.

[code]

[2020-06-09 14:22] Anonymitaet commented on #5819
@Lanayx OK, thanks.

[2020-06-09 15:12] freeart commented on #3044
Any update? I have the same issue

[2020-06-09 18:07] #7168 closed

[2020-06-09 23:07] #5924 closed

[2020-06-09 23:38] Anonymitaet commented on #5819
@codelipenghui Does the last item `Work on JDK 11` has a PR link?

[2020-06-10 01:30] sijie commented on #7209
@frankjkelly

We need to provide documentation for setting up authentication/authorization in standalone. That part is not well documented.

At the same time, you need to configure broker-client authentication parameters. These are used for function workers to talk to brokers for function related operations.

https://github.com/apache/pulsar/blob/master/conf/broker.conf#L535

Or you consider disab

[2020-06-10 01:33] sijie commented on #7205
@zhijianfree I think the feature should work. It seems that you are using a v1 naming pattern that contains the cluster component.  Can you try the v2 naming pattern? http://pulsar.apache.org/docs/en/pulsar-2.0/#no-cluster-component

[2020-06-10 01:37] sijie commented on #7214
@ericwangdka

The "No ledger found" is a INFO logging. (we can probably change that to reduce the logging level to avoid the noises).

"No ledger found" usually happens when brokers recover a managed ledger with an empty segment/ledger. That typically means your broker cluster is frequently changing the topic ownerships. Are you running any load testing to trigger broker load balancing the topics?

[2020-06-10 01:42] sijie commented on #7210
@grzegorz-moto you were reading a pretty old version of Pulsar. Pulsar has already evolved to 2.5.2 release. Can you please check the latest documentation http://pulsar.apache.org/docs/en/kubernetes-helm/?

@jiazhai At the same time, we should look into redirecting the old versions of documentation to the newer version.

[2020-06-10 01:45] sijie commented on #7210
@jiazhai

https://github.com/apache/pulsar/commit/2df0e23d8b2bbbb57af1d3f1a0f8aa31b1a4af9b
https://github.com/apache/pulsar/commit/e8aec22cfa8d96a8a1efe729ecaad9e6d5dedf38

I think I made the changes back in 2018. Not sure why they were overwritten. You can use these two commits as references to fix the issue.

[2020-06-10 01:49] sijie commented on #7217
@AnkushKhanna This sounds like a bug. Thank you for reporting the issue.

[2020-06-10 01:53] sijie commented on #7223
@lukestephenson I think we should add a throttling logic for people to define the parallelism for compaction. This would allow people to balance between the resource usage and the speed of compaction.

[2020-06-10 03:21] govardhan1194 commented on #6935
Hey,

I am working on a project with pulsar and I am facing the same issue when it comes to offloading the data to s3. The ledger doesnt seem to close.
Is there any update on when the fixed version would be released?

Thanks in advance!

[2020-06-10 04:42] sijie commented on #3044
There is an ongoing effort on improving this situation - https://github.com/apache/pulsar/wiki/PIP-57%3A-Improve-Broker%27s-Zookeeper-Session-Timeout-Handling

We just get the first change merged. More changes are coming for improving that.

/cc @codelipenghui

[2020-06-10 04:46] sijie commented on #7055
@Ghatage are you interested in adding a section in this https://pulsar.apache.org/docs/en/administration-zk-bk/#bookkeeper page to refer to bookkeeper documentation or the page you are writing.

[2020-06-10 04:48] #7033 closed

[2020-06-10 04:50] #6282 closed

[2020-06-10 04:51] sijie commented on #4793
We can close this issue now.

[2020-06-10 04:51] #4793 closed

[2020-06-10 04:55] sijie commented on #3121
@mingfang Because a Pulsar cluster includes different components to deploy and there are dependencies between components. If we don't leverage a packaging tool like Helm to manage the dependencies, it is hard for us to maintain the project in the long run. I understand not everyone is using Helm. People can still retrieve the helm chart and use the `helm template` to render the YAML files. Hope th

[2020-06-10 05:02] #4467 closed

[2020-06-10 05:02] #6084 closed

[2020-06-10 05:09] sijie commented on #5736
@vzhikserg I think it is still relevant. We should add workflows in GitHub Actions to test branches. It is to ensure any cherry-picks to the branch doesn't break the build. Are you interested in contributing a change to it?

[2020-06-10 05:26] sijie commented on #7157
@baynes noted.

[2020-06-10 05:49] Ghatage commented on #7055
Sure @sijie let me write it up for the pulsar documentation too. Will send a PR soon.

[2020-06-10 05:50] sijie commented on #7055
@Ghatage thank you!

[2020-06-10 05:57] AnkushKhanna commented on #7217
I would love to contribute. Let me know if I can help.

[2020-06-10 05:59] sijie commented on #7217
@AnkushKhanna I think you have identified the problem. It would be great if you can send out a pull request to fix the problem and add some tests to cover this corner cases.

[2020-06-10 06:34] gaofc opened #7229 "Flink Pulsar connector can not set the configuration of SubscriptionType"
We have used the **PulsarSourceBuilder** class to create a Flink Pulsar Source.
Howerver the class does not have the method of **subscriptionType** which is a very important configuration of pulsar.
The default subscription type is **Exclusive**, which means that the topic could only be consumed by one consumer.
We have to set the subscription type of the topic to **Shared** so the other consumers

[2020-06-10 08:24] Anonymitaet commented on #6327
Docs have been added: https://pulsar.apache.org/docs/en/next/performance-pulsar-perf/

[2020-06-10 08:25] zhijianfree commented on #7205
i try  to subscribe this public topic to receive message :
`non-persistent://public/default/hu/.*"`

and publish message:
![image](https://user-images.githubusercontent.com/21210211/84244670-91262000-ab36-11ea-8353-664c6c1c6622.png)

but it's still not work.

[2020-06-10 08:26] dockerzhang opened #7232 "the throughout of produce decrease to 0.0"
**Describe the bug**
we have two geo-replication clusters with different node configurations, but the configurations of pulsar which deployed by k8s helm are the same.
we test throughout using pulsar-perf, and we found one of the clusters the throughout of produce decrease to 0.0.

**To Reproduce**
Steps to reproduce the behavior:
1.  deploy k8s cluster using k8s helm
2.  execute './bin/pulsar-per

[2020-06-10 11:44] ericwangdka commented on #7214
@sijie  however ，it appears ledger: 1500467 is corrupt,how can i delete it
19:26:03.944 [BookKeeperClientWorker-OrderedExecutor-27-0] ERROR org.apache.bookkeeper.replication.ReplicationWorker - Received error: -7 while trying to read entry: 312 of ledger: 1500467 in ReplicationWorker
19:26:03.944 [BookKeeperClientWorker-OrderedExecutor-27-0] ERROR org.apache.bookkeeper.replication.ReplicationWorke

[2020-06-11 00:43] #7217 closed

[2020-06-11 01:29] codelipenghui commented on #5819
@lhotari I have started the 2.6.0 candidate, we can plan #6869 in 2.6.1.

[2020-06-11 01:40] jiazhai commented on #7232
hi @dockerzhang , Would you please help try the messages with small size (< 5MB)?

[2020-06-11 01:43] jiazhai commented on #7232
There should be a PR fixed similar issue: https://github.com/apache/pulsar/pull/5282

[2020-06-11 02:10] codelipenghui commented on #7205
The v2 naming pattern is <domain>://<tenant>/<namespace>/<local-name>. For example: persistent://public/default/test_1

[2020-06-11 02:51] Jennifer88huang commented on #7083
@jiazhai Thank you for raising the issue. It's ok to contain all the .md file in each versioned folder. However, it's time-consuming to maintain those files, meanwhile, it will also confuse external contributors if they want to contribute some content. @Huanli-Meng and @Jennifer88huang will research whether it's OK to add conditional tags in those .md files, and will give feedback later.

[2020-06-11 02:55] zhijianfree commented on #7205
eh..., i show pictures about non-persistent and persisent.
when i use persistent v2 naming parttern works well. look like this:
use persisent command :
![image](https://user-images.githubusercontent.com/21210211/84339628-6d63e800-abd1-11ea-8b10-f593312c0248.png)
result is :
![image](https://user-images.githubusercontent.com/21210211/84339571-532a0a00-abd1-11ea-970b-dd3bd02a9828.png)

but when i us

[2020-06-11 02:58] #6319 closed

[2020-06-11 03:44] codelipenghui opened #7238 "Schema registry section appear after search schema"
![image](https://user-images.githubusercontent.com/12592133/84342710-dac74700-abd8-11ea-8ba2-f01f37e6d1cc.png)

[2020-06-11 03:51] codelipenghui commented on #2499
@tuteng Could you help check if the feature is supported?

[2020-06-11 04:05] BewareMyPower commented on #7157
The same applies to a partitioned consumer. IMO, when a consumer found new topics/partitions, the subscription initial position **should be changed to earliest** no matter what the original initial position is.

Usually consumers use latest initial position to discard outdated messages. However, assuming that partitions were dynamic increased, i.e. there're some producers and consumers serving thi

[2020-06-11 07:57] codelipenghui commented on #7205
@zhijianfree I have pushed a PR to clarify subscription to a non-persistent topic with a topic name pattern. The root cause is only matched persistent topic by default because of the subscriptionTopicsMode is `PersistentOnly`. A little confused here, use "persistent://xx/xx" or "non-persistent://xx/xx" are same as use "xx/xx" as the topic name pattern. The right way is specifying the subscriptionT

[2020-06-11 11:06] dockerzhang commented on #7232
@jiazhai  the same error appeared when tested with small size.
I tested using one broker pod and found "bookie operation timeout" warning exceptions.
After I separate brokers and bookies on different nodes,  the throughout of pulsar-perf changed to normal. I thought it's maybe caused by resources.

[2020-06-11 11:06] #7232 closed

[2020-06-11 11:22] vzhikserg commented on #5736
@sijie Do you want to run the same checks as for a normal pull requests, but in "branch-*"?
I think it should be easy to achieve with the following additional block in all CI workflows
[code]
If this is the case, I can work on it

[2020-06-11 12:29] larshelge opened #7242 "Documentation for logging to file in standalone mode"
I want to configure Apache Pulsar to log output to file when in standalone mode. I am reading the documentation but it is not clear how to achieve this.

I am running Pulsar in standalone mode from a `systemd` service, with an exec command like this:

[code]

Now the Pulsar log configuration is documented [here](http://pulsar.apache.org/docs/en/2.2.1/reference-configuration/#log4j), and specifies

[2020-06-11 13:11] cdbartholomew opened #7243 "Bookies failing to start with Helm chart"
**Describe the bug**
The 2.6.0 candidate load cannot be upgraded using the project Helm chart. After upgrading, the bookies will not start because the startup parameters are invalid for the init container. This is the error message seen in the pulsar-bookkeeper-verify-clusterid container :

[code]

**To Reproduce**
Steps to reproduce the behavior:

Deploy a minimal setup using the project Helm cha

[2020-06-11 13:45] lukestephenson-zendesk commented on #7000
I've also encountered the same issue with pulsar 2.5.2.

From reviewing commits, it looks like it was introduced here https://github.com/apache/pulsar/commit/c3fa923e46ae37c7bab5503dbd40c3a0c54fe154#diff-bb90edad9f69a5d791cb43b04d9a4c82R1036-R1045

Note that the `ManagedLedgerOffloadDriver` is copied across, but not other fields on the configuration.

That code has since been removed in https://gi

[2020-06-11 14:26] lukestephenson-zendesk commented on #6837
Potentially the same cause as #7000

[2020-06-11 14:28] jujugrrr opened #7246 "Can't read messages offloaded to S3"
**Describe the bug**
Once ledgers are offloaded and removed from local storage, a reader is not able to retrieve the messages.

**To Reproduce**
Produce messages
Read messages from beginning (SUCCESS)
Rollover Ledgers
Offload
Wait for the offload deletion lag
Read messages from beginning (FAIL - Timeout)

**Expected behavior**

I should still be able to retrieve messages from the beginning of my t

[2020-06-11 14:29] lukestephenson-zendesk commented on #3833
Also seeing this with pulsar `2.5.1` trying to use a bucket in `ap-southeast-2`

[2020-06-11 23:29] jiazhai commented on #7209
@frankjkelly  `-nfw` is short for "--no-functions-worker"

[2020-06-12 01:39] sijie commented on #7243
`apply-config-from-env.py` is taking environment variables and applying them to the `bkenv.sh`. Since these variables are already environment variables, they can be imported when the script sources the `bkenv.sh` file. We should just use the bash scripts to take the system environments instead of using our scripts to apply those changes.

If there is a problem with the helm chart, we should update

[2020-06-12 01:48] sijie opened #7254 "Remove the current helm chart in the main repo"
*Motivation*

Since the helm chart is already moved to a separate repo (https://github.com/apache/pulsar-helm-chart/pull/17), we should just keep one copy of the code and update all the references to the new helm chart repo.

[2020-06-12 01:51] sijie commented on #7246
@jujugrrr did you enable any retention policy for your namespace?

[2020-06-12 03:17] zymap commented on #4384
Sure I will check it later.

[2020-06-12 03:27] Ghatage commented on #6236
@sijie
It seems @hari819's [comment](https://github.com/apache/pulsar/issues/6236#issuecomment-630613528) has nicely summarized the content to setup Pulsar, Bookkeeper and Zookeeper with TLS.

Do we still need this as a page in the documentation?

Since I recently made a change in documentation, I can take this up and create documentation based on Hari's comment for 'Enabling TLS for Pulsar, Bookk

[2020-06-12 07:30] larshelge commented on #5668
Same issue in 2.5.2.

[2020-06-12 08:13] bleacha870721 opened #7256 "Pulsar SQL cannot query messages under namespace names with uppercase letters or topics"
#### Expected behavior

query messages under topic: persistent://public/testGroupTest/testTopic

#### Actual behavior

presto> select * from pulsar."public/testGroupTest"."testTopic";
Query 20200612_080208_00080_mxdbe failed: Schema public/testgrouptest does not exist

#### Steps to reproduce

1.create a namespace called testGroupTest in tenant public.
2.create a topic called testTopic in public/t

[2020-06-12 08:49] xuesong172500 opened #7258 "bookkeeper shell listcookies - a, check that the books nodes are all there, but the actual PS process is not at all"
**Describe the bug**
bookkeeper shell listcookies - a check that the books nodes are all there, but the actual PS process is not at all.
pulsar-admin brokers list pulsar-cluster is the same.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

[2020-06-12 09:23] jujugrrr commented on #7246
@sijie  I set everything to unlimited:

[code]

Broker conf:

[code]

My focus is on having as much data as possible in Tiered storage for now, I'll adjust based on the performance impact. Having those low values speed up my test process as well.

[2020-06-12 10:00] wolfstudy commented on #3833
Thanks @lukestephenson-zendesk feedback, can you provide your configuration? If possible, you can also provide specific error information.

[2020-06-12 10:03] wolfstudy commented on #3833
@geyrix57

The `s3ManagedLedgerOffloadServiceEndpoint` useful for testing, If you are using a real AWS-S3 bucket, you can not configure this option, reference to [authentication-with-aws](https://pulsar.apache.org/docs/en/cookbooks-tiered-storage/#authentication-with-aws).

[2020-06-12 10:32] bleacha870721 opened #7260 "Broker pod CrashLoopBackOff : org.apache.pulsar.functions.worker.WorkerService - Error Starting up in worker"
**Describe the bug**
[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/59589208/84493851-10ecef80-acdb-11ea-85a2-282db85d99a9.png)

**Additional context**
Pulsar version: 2.5.2

[2020-06-12 10:33] bleacha870721 commented on #7260
[log.txt](https://github.com/apache/pulsar/files/4770244/log.txt)

[2020-06-12 10:35] DGBStarSky opened #7261 "org.apache.zookeeper.server.quorm.QuorumCnxManager- Connenction broken for id 3, my id =2,error ="
**Describe the bug**
org.apache.zookeeper.server.quorm.QuorumCnxManager- Connenction broken for id 3, my id =2,error =

**Screenshots**
zookeeper error
![image](https://user-images.githubusercontent.com/35715373/84494303-d3d52d00-acdb-11ea-9139-013f17a43fff.png)
lead to bookkeeper error
![image](https://user-images.githubusercontent.com/35715373/84494411-097a1600-acdc-11ea-9973-0be93beb100b.png)

[2020-06-12 10:36] bleacha870721 commented on #7260
[](url)

[2020-06-12 11:25] kadz1993 opened #7262 "Context get_output_topic throws attribute error"
**Describe the bug**
A Python Pulsar Function I've created attempts to send multiple output per one input. When I tried to obtain the output topic within the function, I get an AttributeError stating that the `output` attribute does not exists. Tracing the code led me to [Function_pb2.py](`https://github.com/apache/pulsar/blob/master/pulsar-functions/instance/src/main/python/Function_pb2.py`) whic

[2020-06-12 12:45] alohahahaha commented on #3153
when i debug with localrun mode and use `getCounter()`,I get  `State is not enabled` error too,how to set `stateStorageServiceUrl` ? when i  debug with localrun mode .

[2020-06-12 12:48] yusufaytas commented on #3153
Simply set it for `LocalRunner`
[code]

[2020-06-12 12:55] alohahahaha commented on #3153
@yusufaytas it works,Thank you very much !

[2020-06-12 13:19] #7205 closed

[2020-06-12 18:50] curtiscook commented on #7050
It looks like it's possible to work around this issue by upgrading pip. Going to close it

[2020-06-12 18:50] #7050 closed

[2020-06-12 18:58] frankjkelly commented on #7209
Thanks @jiazhai - I saw mention of `-nss` is that related somehow also?

[2020-06-12 20:02] cdbartholomew commented on #7243
Sure, the Helm chart can be updated.

[2020-06-12 20:25] yoniiny opened #7265 "Support partitioned topics in the Reader interface"
**Is your feature request related to a problem? Please describe.**
Working with large volumes of data requires partitioned topics. Ensuring exactly-once using idempotent operations requires using the Reader interface, but it doesn't support partitioned topics.

**Describe the solution you'd like**
The Reader interface should support partitioned topics

**Describe alternatives you've considered**
T

[2020-06-13 01:44] Ghatage commented on #7258
Hi @xuesong172500!
The cookies don't indicate the state of the bookie server process.
The Bookie process might be down but its still valid for it to have a cookie. (As it how it would happen in an upgrade scenario)
Now, if you've decommissioned the bookie and it's still showing up, it might be a problem.
Can you confirm if you had decommissioned the bookie and are still seeing its cookie?

[2020-06-13 04:26] devinbost commented on #4072
I'm getting this issue on Pulsar 2.4.1.

[2020-06-13 04:26] devinbost commented on #4072
@sijie FYI.

[2020-06-13 04:38] devinbost commented on #4072
Sorry, ignore that. That cluster is on Pulsar 2.4.0.

[2020-06-13 14:14] bbl opened #7267 "Function Instance Config port is set to 0"
**Describe the bug**
Whenever a golang function is run locally or created - the configured `InstanceCommunication` port is set to 0. This leads to health checks errors.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a sample function from [example](https://github.com/apache/pulsar/blob/master/pulsar-function-go/examples/exclamationFunc/exclamationFunc.go).
2. Compile and run  locally

[2020-06-13 15:00] xuesongxs opened #7268 "bookie exited and Error contacting zookeeper"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]

**Addit

[2020-06-13 15:06] xuesongxs opened #7269 "broker exited and java.io.IOException"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]

**Addit

[2020-06-13 19:17] Ghatage commented on #7268
@xuesong172500
From the looks of it, the auto recovery process failed to replicate underreplicated ledgers because it was unable to contact Zookeeper.

Can you please give us more information as to why the connections might be failing?
Is the Zookeeper process up?
If it is up and you still got this, is there a Zookeeper log that we can check?

[2020-06-14 01:14] #6605 closed

[2020-06-14 07:55] xuesongxs opened #7270 "bookie oom, auto exited"
**Describe the bug**
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. bin/pulsar-perf produce -threads 2 -r 50000 persistent://public/default/test-string100
2. bin/pulsar-perf consume -q 100 -n 100 -st Shared -s consumerSych persistent://public/default/test-string100
3. Topic has 100 partitions

![image](https://user-images.githubusercontent.com/54351417/84588150-7665eb00-ae57-11ea-970f

[2020-06-14 11:40] ericwangdka commented on #7214
@codelipenghui   it appears the ledger could be see in zookeeper ,however it cound not be found in bookies ,how can i to do deal with it
.............................................bookeeper.conf#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright

[2020-06-14 16:39] david-streamlio opened #7271 "This should be `isBuiltInSink` not `isBuiltInSource`"
https://github.com/apache/pulsar/blob/5d02c70b674a36e5bd36c60e488737db5740d21e/pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.java#L291

[2020-06-15 01:14] btsken opened #7273 "Functions doesn't subscribe input topic"
**Describe the bug**
I create a function in k8s environment. I can see a pod is active. But I found the function doesn't subscribe to the input topic
I modified [jobNamespace ](https://github.com/apache/pulsar/blob/master/deployment/kubernetes/helm/pulsar/templates/broker-configmap.yaml#L64), [serviceUrl  ](https://github.com/apache/pulsar/blob/master/deployment/kubernetes/helm/pulsar/templates/br

[2020-06-15 01:45] jiazhai commented on #7256
@bleacha870721 Would you please try low case first?
` select * from pulsar."public/testgrouptest"."testtopic";`

[2020-06-15 01:51] jiazhai commented on #7260
@bleacha870721 Are there any different configs in conf/broker.conf, like enabled auth?

[2020-06-15 01:54] lixiajie commented on #7256
I tried and still got an error：
presto> select * from pulsar."public/testgrouptest"."testtopic";
Query 20200615_015314_00002_mxdbe failed: Schema public/testgrouptest does not exist

[2020-06-15 01:54] lixiajie commented on #7256
I tried and still got an error：
presto> select * from pulsar."public/testgrouptest"."testtopic";
Query 20200615_015314_00002_mxdbe failed: Schema public/testgrouptest does not exist

[2020-06-15 01:55] sijie commented on #7261
@DGBStarSky is this a transient issue or it is permanent error?

[2020-06-15 01:56] lixiajie commented on #7256
<img width="774" alt="image" src="https://user-images.githubusercontent.com/66289242/84610788-7238dc80-aeee-11ea-8751-870005a45a82.png">

[2020-06-15 01:59] jiazhai commented on #7262
@kadz1993  This looks like a protobuf issue. Would you please help try release 2.5.2 ?

[2020-06-15 01:59] lixiajie commented on #7256
<img width="938" alt="image" src="https://user-images.githubusercontent.com/66289242/84610939-ed01f780-aeee-11ea-928e-5393a235dad5.png">

[2020-06-15 02:00] lixiajie commented on #7256
<img width="705" alt="image" src="https://user-images.githubusercontent.com/66289242/84610974-03a84e80-aeef-11ea-8dbe-108c50a43ae5.png">

[2020-06-15 02:03] lixiajie commented on #7260
Yes, we enabled jwt auth.

[2020-06-15 02:03] lixiajie commented on #7260
Yes, we enabled jwt auth.

Yes, we enabled jwt auth.

[2020-06-15 02:04] jiazhai commented on #7269
@xuesong172500 Would you please use bookkeeper's command to check if `ledger 1` exists?

[2020-06-15 02:10] lixiajie commented on #7260
![企业微信截图_15921869458073](https://user-images.githubusercontent.com/66289242/84611386-474f8800-aef0-11ea-8bc5-1b1534cd1531.png)

[2020-06-15 02:15] DGBStarSky commented on #7261
sorry,I don't remember clearly.
I remember that bookkeeper was not restored.

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Sijie Guo"<notifications@github.com&gt;;
发送时间:&nbsp;2020年6月15日(星期一) 上午9:55
收件人:&nbsp;"apache/pulsar"<pulsar@noreply.github.com&gt;;
抄送:&nbsp;" "<862076528@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [apache/pulsar] org.apache.zookeeper.

[2020-06-15 02:16] sijie commented on #7273
@btsken it seems that the consumers are already created. Did you use the same pulsar cluster?

[code]

[2020-06-15 03:39] btsken commented on #7273
It's the same pulsar cluster

[2020-06-15 03:42] Anonymitaet commented on #5819
@codelipenghui shall we add the following item to 2.6.0 release notes as @sijie points [here](https://github.com/apache/pulsar/pull/6122)?

## Feature
### Admin
- Change the permission level of managing subscription from super-user to tenant admin https://github.com/apache/pulsar/pull/6122

[2020-06-15 04:03] Anonymitaet opened #7275 "[Website] Pulsar REST API / Admin docs should be automatically generated from code"
As confirmed w/ @tuteng, the Pulsar REST API / Admin API docs should be **automatically generated from code** rather than updated manually, so that @tuteng suggest adding configurations in `pom` file to achieve this feature.

While the following docs have not been shown on the Pulsar website. This issue needs to be resolved.

Type|Category|Description|PR link|
|---|---|---|---
REST API doc|Proxy|G

[2020-06-15 07:54] Jennifer88huang commented on #7083
@jiazhai could we create different branches to manage different release versions? For example, when v2.6.0 is ready to release, we can create a branch named `release-2.6` or `release-2.6.0`, and build website with this branch.
- If we have new features for 2.7.0, we add the new contents in the master branch.
- If we have new features for 2.6.x, we create a new branch `release-2.6.1` based on `rele

[2020-06-15 07:57] Jennifer88huang commented on #7083
When we or external contributors want to modify some content in different releases, they can checkout the release branch and modify files in that branch directly.

[2020-06-15 08:40] 315157973 commented on #7265
Please assign it to me

[2020-06-15 10:17] 97arushisharma opened #7277 "Getting Connection refused: /127.0.0.1:6651 error on trying TLS encryption"
**Description**
I am trying to run a pulsar producer using java client that writes data to the standalone pulsar. I have run the pulsar using the following command:
[code]
When I was writing the data without TLS encryption, it was working fine. But after I tried the TLS configuration, I am getting the following error in my client logs:

[code]

**To Reproduce**

I have followed the following link

[2020-06-15 10:18] fantapsody opened #7278 "Proxy fails to handle requests when servicePort is disabled"
**Describe the bug**
We enabled TLS on the proxy, so we tried to disable the plaintext connections by setting `servicePort=''`. However, the proxy cannot handle binary TLS requests then and reported errors like:

The proxy was back to normal after I removed the config `servicePort=''`.

**To Reproduce**
Steps to reproduce the behavior:
1. enable TLS in proxy configs
2. set `servicePort=''` in prox

[2020-06-15 10:24] Poluect commented on #2431
@sijie thanks for the reply! Currently we are not using pulsar, didn't try whether it works on 2.5.x (after posting an issue)

[2020-06-15 10:52] 97arushisharma commented on #7277
Sorry for the issue. I realised that we need to add extra configurations in standalone.conf file for tls. After adding those configurations, the TLS encryption worked.

[2020-06-15 10:52] #7277 closed

[2020-06-15 15:16] grzegorz-moto commented on #7210
Sure I can file a PR with the pulsar docker change however it is just the first step to make it possible to deploy pulsar in cluster user space. For example pulsar_manager and other monitoring services seems to rely on container root user and cluster admin privileges

[2020-06-15 16:17] codelipenghui opened #7280 "Support zero queue consumer for partitioned topic."
**Is your feature request related to a problem? Please describe.**
Currently, the zero queue consumer just can subscribe to a non-partitioned topic. In some case, we need to use zero queue consumer to subscribe to a partitioned topic.

[2020-06-15 16:28] merlimat commented on #7280
It’s not enabled because we cannot know which partition the next message will be coming from. Any suggestion on how to achieve that?

[2020-06-15 19:51] gsi-gilberto commented on #4086
Hi @ruudk, we had that same problem some time ago so we built this https://hub.docker.com/repository/docker/gsiopen/pulsar and we just set it public with latest Pulsar version. Hope it helps you while this is still open.

[2020-06-15 23:25] devdattakulkarni commented on #6914
@jiazhai We are also interested in this. Do you know if this is already supported and just the documentation is missing, or if this feature is yet to be supported in the Python client?

[2020-06-16 03:33] feeblefakie commented on #5819
@codelipenghui @sijie @merlimat

I retied the issue I faced with 2.5.0 with `pulsar-2.6.0-candidate-1`.
http://mail-archives.apache.org/mod_mbox/pulsar-users/202003.mbox/%3CCAPDOW74LN3WtdhpG_cgCCSg9MuMmkNV6giCGD5p%3DW1wWji0W7w%40mail.gmail.com%3E

But I'm still facing inconsistent order in between consumers with the default way (splitting range).
I **didn't** face it if I switch it to use consiste

[2020-06-16 05:41] codelipenghui commented on #5819
@feeblefakie Thanks for your update. https://github.com/apache/pulsar/pull/7106 is to fix the order problem in the Key_Shared subscription, It looks there are some problems with the auto-split mechanism. I will take a look later.

[2020-06-16 05:42] codelipenghui commented on #6554
Reopen it via https://github.com/apache/pulsar/issues/5819#issuecomment-644510797.

[2020-06-16 08:31] jujugrrr commented on #7246
@sijie Do you have any idea? I compare with someone else configuration and changed a bit retention without luck.

[2020-06-16 15:39] dionjansen commented on #3833
@wolfstudy I'm getting the same with pulsar `2.5.0` also I use a non-standard region `eu-west-1`

My pulsar config:

[code]

Broker logs:

[code]

[2020-06-17 03:23] TinDang97 opened #7284 "Why websocket clients consumer message must encode data in base64?"
I don't understand why we must encode consumer messages in base64 (by default) before send it via WebSocket?
I know base64 will increase message size by about 30% if compared with raw data (my data are images).

Thank guys
#### System configuration
**Pulsar version**: 2.0
**OS**: Ubuntu 18.04

[2020-06-17 06:10] Jennifer88huang commented on #5685
@candlerb thank you very much for raising the issue.
I notice that [skip](https://pulsar.apache.org/docs/en/pulsar-admin/#skip-all) means skip some messages for the subscription, and [clear-backlog](https://pulsar.apache.org/docs/en/pulsar-admin/#clear-backlog-1) means clear backlog (skip all messages) for the subscription. For detailed usage, see the links I provided.

[2020-06-17 07:36] nqf opened #7286 "[c++] call sendAsync produce segmentation fault"
[code]

[2020-06-17 08:32] BewareMyPower commented on #7286
It seems like you didn't use the latest version of C++ client. Besides, should you use topic name like `persistent://public/default/my-topic`?

[2020-06-17 08:39] baynes commented on #7262
@jiazhai - it fails same way on 2.5.2

[2020-06-17 09:18] TinDang97 commented on #7286
Did you create tenant (prop) and namespace (r1) by pulsar-admin?

[2020-06-17 09:33] 97arushisharma opened #7287 "Not able to start Pulsar in Standalone mode with Functions-Worker"
**Describe the bug**
I am trying to run a pulsar producer using java client that writes data to the standalone pulsar. I have run the pulsar using the following command:
[code]
When I was writing the data with TLS encryption, it was working fine. But after I tried the TLS authentication configuration, I am getting the following error in my client logs:

[code]
However, when I tried with the follow

[2020-06-17 10:21] rudy2steiner commented on #7271
please assign to me as my first issue!

[2020-06-17 11:21] rudy2steiner commented on #7271
There are two similar pr #7285 #7272  for this issue, but it's not assigned to any one

[2020-06-17 13:52] sundar-10 commented on #7280
Hello, I am planning to work on this issue. I am planning to read how zero queue consumer is subscribed to a nonpartitioned topic and proceed from there by getting some kind of input for which partition this consumer should be subscribed to and so on. Can you tell me where to find the code related to this?

[2020-06-17 14:09] gaoran10 commented on #7000
@lukestephenson-zendesk Yes, this issue will be fixed at 2.6.0.

[2020-06-17 14:29] jujugrrr commented on #7246
I've upgraded to 2.5.1 and rebuilt a cluster. It's all working as expected now. Not sure if it was a 2.5.0 bug or if it's something I broke while testing.

[2020-06-17 14:29] #7246 closed

[2020-06-17 16:23] al8n opened #7291 "Official Rust Client Support"
Please support the official rust client.

Rust is going to be more and more popular and companies are choosing rust to rebuild their project, so it is time to support the official rust client.

[2020-06-17 17:31] david-streamlio commented on #7271
I submitted 7272 and is just pending approval. But honestly, either one is
fine. Let just get this fix in. =)

On Wed, Jun 17, 2020 at 4:21 AM Rudy Steiner <notifications@github.com>
wrote:

[2020-06-17 19:16] trexinc opened #7292 "pulsar-admin topics delete-partitioned-topic always gives HTTP 401 Unauthorized"
Pulsar 2.5.2
Can't delete a partitioned topic, I use pulsar-client over TLS with super-user client certificate. I can delete regular topics and the partitions themselves.

bin/pulsar-admin topics delete-partitioned-topic internal/test/test
19:07:57.412 [AsyncHttpClient-5-1] WARN  org.apache.pulsar.client.admin.internal.BaseResource - [https://pulsar-admin-proxy:8443/admin/v2/persistent/internal/te

[2020-06-17 19:57] trexinc opened #7293 "Non partitioned topic auto created when auto creation is enabled only for partitioned topics (specific scenario)"
Pulsar 2.5.2.

A non partitioned topic exists: internal/test/test
A producer and a consumer are connected to this topic.

Now we do the following:
pulsar-admin namespaces set-auto-topic-creation -d -t non-partitioned internal/test
pulsar-admin topics delete internal/test/test -f
pulsar-admin namespaces set-auto-topic-creation -e -t partitioned -n 3 internal/test

I expect now that a partitioned to

[2020-06-17 19:58] trexinc commented on #7292
I can't find any relevant logs in the brokers log though.

[2020-06-18 01:36] sijie commented on #7284
@TinDang97 HTTP protocol is a text-oriented protocol. If you want to send raw bytes over WebSocket port, you need to make sure the raw data is encoded using base64 otherwise you will hit deserialization issues.

[2020-06-18 01:39] nqf commented on #7286
I didn't use pulsar admin， but `producer.send(msg);`  can work

[2020-06-18 01:44] sijie commented on #7287
@97arushisharma

You can try a few things:

Can you do the following things to verify if the admin cert has the super-user permissions?

- Disable function worker: `bin/pulsar standalone -nfw -nss`.
- Configure `client.conf` to use the admin cert: `tlsCertFile:/home/Downloads/my-ca/admin.cert.pem,tlsKeyFile:/home/Downloads/my-ca/admin.key-pk8.pem`.
- Run `bin/pulsar-admin clusters list` to see if

[2020-06-18 01:46] sijie commented on #7291
@ALiuGuanyan there is a Rust client maintained by [@wyyerd](https://github.com/wyyerd). https://github.com/wyyerd/pulsar-rs

[2020-06-18 02:01] ALiuGuanyan commented on #7291
Yep, but it does not provide all Pulsar API like the official client.

[2020-06-18 02:02] TinDang97 commented on #7286
Yes, `producer.send` work without any problem but the broker doesn't auto-create new tenant and namespace. You can check pulsar logs.

[2020-06-18 02:06] TinDang97 commented on #7284
Thanks. Have we any other way else base64?

[2020-06-18 04:30] nqf commented on #7286
[code]

[2020-06-18 04:57] 97arushisharma commented on #7287
Thanks @sijie for the reply. I had followed the above steps, yet I am getting the following error:
[code]
I am getting this same behavious for all `pulsar-admin` commands.

[2020-06-18 05:10] sijie commented on #7287
Did you configure standalone to enable tls port?

[2020-06-18 05:13] 97arushisharma commented on #7287
Yup. I have added these in `standalone.conf`:
[code]

[2020-06-18 05:14] sijie commented on #7287
Did you configure 8443?

[2020-06-18 05:18] 97arushisharma commented on #7287
I did not have that. Thanks. So after adding it the pulsar-admin commands work. Here is the output:
[code]

[2020-06-18 05:19] sijie commented on #7284
@TinDang97 Sorry, I don't understand what is your question?

[2020-06-18 05:19] sijie commented on #7287
@97arushisharma okay. then can you try to start the standalone now?

[2020-06-18 05:20] 97arushisharma commented on #7287
With or without the -nfw option?

[2020-06-18 05:21] sijie commented on #7291
@ALiuGuanyan sure. but if there is already a group of people developing that client, it would be great to involve in that project and help improve the client there. This would help Pulsar grow the community.

[2020-06-18 05:22] 97arushisharma commented on #7287
I am able to run pulsar in standalone with `-nfw`. But, it still does not run without this option.

[2020-06-18 05:22] sijie commented on #7287
@97arushisharma can you add `admin` to `superUserRoles` in function_worker.yml?

[2020-06-18 05:27] 97arushisharma commented on #7287
After adding the `superUserRoles: admin`, I am getting the following error log on running the `bin/pulsar standalone` command:
[code]

[2020-06-18 05:33] sijie commented on #7287
@97arushisharma

[code]

Can you try this?

[2020-06-18 05:42] 97arushisharma commented on #7287
I tried this. This time another Authorization error occurred:
[code]

[2020-06-18 05:43] sijie commented on #7287
Are you using the admin cert? If you are using the admin cert, it should have the super-user. Are you using the wrong cert?

[2020-06-18 06:32] 97arushisharma commented on #7287
I tried recreating the admin and broker certificate with respective common-name as `admin` and `localhost`, just to be sure I am not doing anything wrong. I also added all the TLS AUTH related properties in `functions_worker.yml`, but I am still getting the above error.
[code]

[2020-06-18 07:08] mfsub opened #7295 "Need zero queue consumer to work with partitioned topics"
Currently, Zero queue consumer works only with non-partitioned topic.
The suggested workaround from the pulsar team is to connect a zero queue consumer to individual partitions.

Requesting to have support for zero queue consumer to work with partitioned topic as well.

[2020-06-18 07:40] TinDang97 commented on #7284
Thanks. ^^

[2020-06-18 07:40] #7284 closed

[2020-06-18 08:13] trexinc commented on #7293
To give more details it seems that it happens because of the publishers. Consumers get reconnected to the partitioned topic, but the publisher reconnects and somehow recreates the non-partitioned topic

[2020-06-18 08:24] trexinc commented on #7293
Of course if I stop the publisher, delete the non-partitioned topic and then start the publisher - all is ok.

[2020-06-18 08:35] trexinc opened #7296 "Display original client address in topic stats for connections through pulsar proxy"
It would be very helpful for troubleshooting various issue if in topic stats the address of the original client (publisher and consumer) would be shown instead of (or in addition to)  the proxy address when working through pulsar proxy.

[2020-06-18 11:53] codelipenghui commented on #5819
close this issue since 2.6.0 was releases.

[2020-06-18 11:53] #5819 closed

[2020-06-18 12:36] Jennifer88huang commented on #5845
I add the following note in "reference-configure/log4j". If we need more info, please provide, and I'll improve it further in [PR-7297](https://github.com/apache/pulsar/pull/7297)

[2020-06-18 13:10] trexinc opened #7301 "[pulsar-admin] weird error on wrong command"
Pulsar 2.5.2
If the run "pulsar-admin namespaces list" and by mistake give it a tenant/ns instead of just tenant I get the following error, and it takes some time to figure out what the problem is. Some input validation would help here.

null

Reason: javax.ws.rs.client.ResponseProcessingException: com.fasterxml.jackson.databind.exc.MismatchedInputException: Cannot deserialize instance of `java.ut

[2020-06-18 14:44] julio666 opened #7304 "Memory leak on broker with streaming Spark application"
**The bug**

On Kubernetes, we run a streaming Spark application which uses pulsar-spark connector. As the Spark application runs, it does a ton of requests on `/admin/v2/persistent/public/default/TOPIC_NAME/lastMessageId` ending up to the broker managing the topic (topic not being filled by any source during that time):

[code]
And so on for a certain time. As the requests are going on, we can se

[2020-06-18 16:19] trexinc opened #7306 "regex consumer fails to subscribe when partitions are missing"
For reasons unknown some partitioned topics are missing one of the partitions. Should be 3, but not all are created.

When that happens and I start a regex consumer that catches those partitioned topics:
`bin/pulsar-client consume -s test3 --regex 'tenant/ns/topic.*'`
It fails:
`[MultiTopicsConsumer-f47ed] Failed to subscribe for topic [persistent://tenant/ns/topicXYZ] in topics consumer, subscrib

[2020-06-18 16:21] trexinc commented on #7306
In addition I didn't expect the regex consumer to fail at all, it should subscribe IMHO to what it can and not fail completely if it can't connect to some.

[2020-06-18 17:58] sundar-10 opened #7307 "Pulsar build failed"
**Describe the bug**
Error in - Building Pulsar Shaded Broker 2.7.0-SNAPSHOT                    [41/137]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repository
2. mvn install -DskipTests -e
3. See error

**Expected behavior**
Build successful

**Desktop (please complete the following information):**
 - Apache Maven 3.6.0

[2020-06-19 00:22] RenaultAI opened #7308 "macos darwin"
**Describe the bug**
I'm unable to import the `pulsar` Python library.

[code]

**To Reproduce**
Simply run `python` and then `import pulsar`.

[code]

**Expected behavior**
I expect the `pulsar` python client to work following the [Install using pip documentation](http://pulsar.apache.org/docs/en/client-libraries-python/#install-using-pip).

**Desktop (please complete the following information):*

[2020-06-19 01:34] sijie commented on #7295
This is a duplicate of #7280

[2020-06-19 01:34] #7295 closed

[2020-06-19 01:44] sijie commented on #7307
@sundar-10 Can you try to build this using java8?

[2020-06-19 01:49] jiazhai commented on #7301
we should return "format error" when using "tenant/ns" as a tenant name.

[2020-06-19 04:04] jiazhai commented on #7000
since 2.6.0 is released, would like to close this issue.

[2020-06-19 04:04] #7000 closed

[2020-06-19 04:43] sundar-10 commented on #7307
@sijie Yeah I just tried, I am getting the same error.

[2020-06-19 08:14] sundar-10 commented on #7307
@sijie We made it work, we saw the Dockerfile and we ran the following commands and it worked:
`sudo apt-get update && \
     sudo apt-get install -y tig g++ cmake libssl-dev libcurl4-openssl-dev \
                 liblog4cxx-dev libprotobuf-dev libboost-all-dev google-mock libgtest-dev \
                 libjsoncpp-dev libxml2-utils protobuf-compiler wget \
                  curl doxygen openjdk-

[2020-06-19 08:14] #7307 closed

[2020-06-19 09:34] firefeifei opened #7312 "pulsar-2.6.0 cpp client build error"
**Describe the bug**
build error

**To Reproduce**
Steps to reproduce the behavior:

[root@VM_72_166_tlinux /data/commlibsrc/pulsar-2.6.0/pulsar-client-cpp/build]# cmake ..
-- ARCHITECTURE: x86_64
-- BUILD_TESTS:  ON
-- BUILD_PYTHON_WRAPPER:  ON
-- LINK_STATIC:  OFF
-- USE_LOG4CXX:  OFF
-- CMAKE_BUILD_TYPE:  RelWithDebInfo
-- Found Boost: /usr/local/include (found version "1.54.0") found component

[2020-06-19 09:47] sebbASF opened #7313 "Broken links for pulsar-io-jdbc-2.6.0.nar.* on download page"
The links for pulsar-io-jdbc-2.6.0.nar are broken.

[2020-06-19 10:19] dongschao opened #7314 "config function authorization"
#### Expected behavior

help me, thinks ,when i make functionsWorkerEnabled=true ,i have this problem：

[code]

[2020-06-19 10:43] fmiguelez opened #7315 "Standalone docker-compose.yml is invalid for 2.6.0 (standalone container fails with error)"
**Describe the bug**
If you start standalone stack with docker-compose using file [docker-compose-yml](https://github.com/apache/pulsar/blob/master/docker-compose/standalone-dashboard/docker-compose.yml) it will fail with error:

**To Reproduce**
Simply start the stack with docker-compose

`docker-compose up`

Steps to reproduce the behavior:
Go to  [standalone-dashboard](https://github.com/apache

[2020-06-19 11:04] AcrazyDog opened #7317 "too many pulsar-time-io threads"
### There are too many pulsar-client-io threads

**this is the java stack log:**
[code]
And There is only one consumer,code:
[code]

[2020-06-19 12:01] jiazhai commented on #6734
We need a special handle in `PulsarSplitManager.getSplitsForTopic` to split based also on `compactionHorizon`(contained in `CompactedTopicImpl`); so that for data before compactionHorizon, we could read from compacted topic, while data after compactionHorizon, read from non-compacted topic.

[2020-06-19 12:04] jiazhai commented on #6734
more info:
https://github.com/apache/pulsar/wiki/PIP-19:-Pulsar-SQL
https://github.com/apache/pulsar/wiki/PIP-14:-Topic-compaction

[2020-06-19 15:25] itaross opened #7318 "Reader interface goes timeout when accessing a non existing topic"
**Describe the bug**
When it is requested a message from a topic that is not existing pulsar wait for the entire timeout

**Expected behavior**
Should fail fast

[2020-06-20 06:51] amosJinCloudwise opened #7321 "pulsar client jar is too fat"
![image](https://user-images.githubusercontent.com/31983528/85195490-840eeb00-b305-11ea-9ee4-70304f0d287b.png)

[2020-06-20 09:09] vzhikserg commented on #6625
@sijie @jiazhai the issue is fixed by #7119 in 2.6.0. If you check https://pulsar.apache.org/admin-rest-api/?version=2.6.0#operation/setMaxProducersPerTopic you can see that all body parameters are in place

[2020-06-20 09:58] bbl commented on #7315
+1 Got this today

[2020-06-20 12:17] tuteng commented on #7314
You can add configuration to file function_worker.yml  @dongschao

[code]

[2020-06-20 12:21] tuteng commented on #7313
@sebbASF Thanks, It seems that jdbc's connector package has been split into multiple packages https://dist.apache.org/repos/dist/release/pulsar/pulsar-2.6.0/connectors/. We may need to consider fix this page http://pulsar.apache.org/en/download/. Currently, you can find the correct package from here https://dist.apache.org/repos/dist/release/pulsar/pulsar-2.6.0/connectors/.

[2020-06-20 12:26] tuteng commented on #7308
It seems that because the `libpulsar` 2.6.0's package has not yet been released https://github.com/Homebrew/homebrew-core/pulls?q=libpulsar, @codelipenghui  is releasing this package, which may take some time. Thanks @codelipenghui

[2020-06-20 15:13] ni-ze opened #7323 "How Pulsar functions supported the aggregation when deal with the tracing data?"
Those are my data:

[code]

I want to find them out from stream use pulsar functions, which means I must find out the message with same traceId. so, here is question, how to realize use pulsar functions?

[2020-06-20 20:44] alphara opened #7324 "Python pulsar-client reader causes unidentifiable C++ exception"
I am using Python pulsar-client. I create a reader that starts to read message from earliest.

[code]

I am getting an error message
[code]

<img width="583" alt="Screen Shot 2020-06-20 at 5 18 57 PM" src="https://user-images.githubusercontent.com/5960045/85211227-62b9f900-b31d-11ea-948c-3700e73429e4.png">

Please, advice.

[2020-06-21 05:59] dongschao commented on #7314
Thank you very much for your help，i had add this configuration，but Problems still exist，If I want to use pulsar functions, do I need to use a proxy？ @tuteng

[2020-06-21 07:47] Subash-Kunjupillai opened #7325 "CryptoKeyReader - Separate Interface for Producer and Consumer"
**Is your feature request related to a problem? Please describe.**
Currently to encrypt the data, we are supposed to implement CryptoKeyReader which takes in both PublicKey and PrivateKey. But ideally a producer/consumer will have only either one of the keys as providing both the keys to both producer and consumer is not practically done.

**Describe the solution you'd like**
The expectation over

[2020-06-21 07:57] Subash-Kunjupillai opened #7326 "Support for frequently changing private / public keys"
**Is your feature request related to a problem? Please describe.**
As per the current implementation, if I need to encrypt messages, I need to provide the public and private key based on which the messages are encrypted and decrypted. Lets say I need to change the key at producer end, in that case, the messages which were encrypted with the old keys will not be accessible by consumer as the keys w

[2020-06-21 11:51] firefeifei opened #7327 "2.6.0 cpp client crash"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce*

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**

call this api, cpp client crash

pulsar_client_create_producer(m_client, topic.c_str(), producer_conf, &producer)

**Desktop (please complete the following information):**
 - OS:linux kernel  4.14.105

**A

[2020-06-21 14:55] zongtanghu commented on #7301
@zhanghaou You see,  can you fix this issue?

[2020-06-21 14:58] zongtanghu commented on #7213
@zhanghaou , you see, can you fix this issue?

[2020-06-21 15:00] zongtanghu commented on #7161
The problem 2 and 3 you said, you put forward other two issues maybe better?

[2020-06-21 15:02] zongtanghu commented on #7088
You see, can you put forward a pr to fix this issue? @zhanghaou

[2020-06-21 15:05] zongtanghu commented on #7095
@codelipenghui @zhaijack @sijie  Has anyone else to resolve this feature?

[2020-06-21 17:52] pushkar-engagio opened #7328 "Bookie cluster gradually fails when one of the bookie node goes down"
**Describe the bug**
Long term failure of single bookie causes the entire cluster to go down.

**To Reproduce**
Steps to reproduce the behavior:
I had a 6 bookies in the cluster(500Gb journal storage, 1TB ledger storage). One of the bookie failed and could not start. Once the cluster detected downed bookie, it kicked in recovery process for underreplicated ledgers. The ledgers replicated fine for

[2020-06-21 22:05] Lanayx commented on #7243
Just got this issue with clean 2.6.0 installation, but only on pulsar-recovery pod

[2020-06-22 02:09] wolfstudy commented on #7312
It looks like you are missing some necessary dependency lib, @firefeifei can you follow this doc: [how to build the CPP client](https://pulsar.apache.org/docs/en/develop-cpp/)

[2020-06-22 03:35] firefeifei commented on #7312
The above compilation error is required for snappy1.1.8
-----------
A version of the snappy library that you rely on is added to the recommendation document

[2020-06-22 03:58] #2404 closed

[2020-06-22 03:58] #5845 closed

[2020-06-22 04:24] jiazhai commented on #7312
Hi @firefeifei.  It is recommend to use `pulsar-client-cpp/docker-build.sh` to build the cpp client.

[2020-06-22 08:29] psisoyev opened #7332 "Pulsar Function creates a produces that is never closed"
**Describe the bug**
Found this when using Java client API.
When Pulsar Function sends a message to a topic using `newOutputMessage` it creates a new producer, which is then never closed. This leads to topics not being garbage collected.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a topic A
2. Create a Function that listens to topic A
3. Inside the function send a message to topic

[2020-06-22 08:43] ErikJansenIRefact opened #7333 "SchemaParseException"
**Describe the bug**
Create a producer with a schema from a pojo class returns a schema parse exception

**To Reproduce**
Steps to reproduce the behavior:
1. Create a class LineItem:
public class LineItem {
    public int orderNbr;
    public int partNbr;
    public int supplierNbr;
    public int lineNbr;
    public Double quantity;
    public Double extendedPrice;
    public Double discount;

[2020-06-22 09:09] Jennifer88huang commented on #6518
@sijie Then shall we add [alert example](https://streamnative.io/docs/v1.0.0/configure/control-center/alertmanager/#alert-rules)) or other examples to Pulsar docs?

[2020-06-22 22:37] Lanayx commented on #6154
I was still getting this issue with 2.5.2, however 2.6.0 cluster seems to be stable, so closing the issue.

[2020-06-22 22:37] #6154 closed

[2020-06-23 02:09] sijie commented on #7317
@AcrazyDog Can you share the code of how you build the pulsar client?

[2020-06-23 02:10] jiazhai commented on #7313
@Jennifer88huang @Anonymitaet to help on this issue.

[2020-06-23 02:11] sijie commented on #7314
@dongschao Did you configure this for standalone or brokers in a cluster?

[2020-06-23 02:11] sijie commented on #7314
@dongschao Can you share the whole copy of your broker configuration?

[2020-06-23 02:15] sijie commented on #7318
@itaross Which version are you using?

[2020-06-23 02:16] sijie commented on #7321
@amosJinCloudwise the pulsar-client is a jar that shades all the dependencies. You can use `pulsar-client-original` if you are looking for a smaller jar.

[2020-06-23 02:20] sijie commented on #7324
@alphara what version of pulsar python client are you using? Did you install the same version of Pulsar CPP client?

[2020-06-23 02:24] sijie commented on #7327
@firefeifei Can you share the code example so that we can reproduce?

[2020-06-23 02:28] alphara commented on #7324
I am using lib-pulsar v2.6.0 and pulsar-client>=2.5.1 in Python app.

[2020-06-23 02:28] sijie commented on #7328
@pushkar-engagio based on your description, it seems that you lose two bookies around the same time. The default replication setting for ledgers is 2. In this case, there will be some ledgers unavailable. In order to handle this case, you might consider increasing the number of replicas to 3 to get higher availability.

[2020-06-23 02:34] alphara commented on #7324
I just tried lib-pulsar v2.6.0 and pulsar-client v2.6.0. I see the same C++ exception.

[2020-06-23 03:50] pushkar-engagio commented on #7328
@sijie Yes i understand that aspect of it but I am not loosing two bookies.

I loose first bookie due to hardware failure. I can not get the bookie to recover.
The rest of the bookies gradually fail. Although the bookkeeper process is running on them but they are not part of the cluster. The thing i don't understand is why the other bookies are removed from the cluster. This happened over a period

[2020-06-23 07:59] firefeifei commented on #7327
If I configure IP and Port, the Pulsar cluster does not start and crashes
If the configured IP and Port pulsar services are normal, then there is no crash
@sijie

[2020-06-23 08:43] itaross commented on #7318
A modified 2.5.0 which pull requests have been merged in to 2.6.0 (not on the reader interface).

[2020-06-23 08:47] trexinc commented on #7292
Ok, it seems I was missing brokerClientTlsEnabled=true in my config. Its not very intuitive to set this when the URL has HTTPS in it.

[2020-06-23 08:47] #7292 closed

[2020-06-23 09:48] Anonymitaet commented on #7313
@tuteng

1. Links on this page are generated automatically w/ each release?
![image](https://user-images.githubusercontent.com/50226895/85389127-9beea500-b579-11ea-9484-452dfe750004.png)

2. Can we modify the links on this page manually?

[2020-06-23 10:02] larslorenzen commented on #7059
Don't know if it is related but we had the same problem after a node restart.
The following logs came from the producer:
`[persistent://mytenant/mynamespace/mytopic] [my-pod-5c5c89dfd4-c9rsn-mytopic] Failed to create producer: Producer is already present on the connection`

The problem was only resolved by restarting the producing pod.

[2020-06-23 11:43] ruthareshmpn commented on #7048
The exact same issue is happening to me at some random time the no messages were delivered to my program and suddenly receiving a message after an hour or some times 6 hours.

After the consume got frozen, I debugged it with GDB and fount out the program is blocked in the mutex lock as shown the screenshot
![debug_lock](https://user-images.githubusercontent.com/17001280/85399505-8fb41900-b574-11ea

[2020-06-23 11:57] amosJinCloudwise commented on #7321
i will try it, and, What is the difference between them? can you tell me? thx.

[2020-06-23 14:36] tuteng commented on #7313
ping @zeo1995 help fix this.

[2020-06-23 14:38] zymap opened #7343 "Grant permission on namespace successfully when disabling authorization"
**Describe the bug**

Using the master code, grant permission on namespace successfully when disabling authorization. I am not sure it is correct or not.

Using version 2.5.2 of  Pulsar, it will throw an error:

[code]

[2020-06-23 15:58] xuehuanran opened #7344 "The python consumer cannot receive the data of topic."
The consumer of python client somtimes cannot receive the data of a persistent topic. The receive is blocked.
Here is my code example.

# producer.py
client = pulsar.Client("pulsar://localhost:6650")
producer = client.create_producer("topic1")
producer.send(pickle.dumps(obj))

producer = client.create_producer("topic2")
producer.send(pickle.dumps(obj))

# consumer.py
client = pulsar.Client("pulsar

[2020-06-23 16:20] sijie opened #7345 "De-duplication cursor is not moving"
**Describe the bug**

The de-duplication cursor is not moving if de-duplication is enabled for a namespace but producers don't configure producer names to produce messages. This results in a huge data backlog.

[2020-06-23 16:28] juliohm1978 opened #7346 "Unable to include *.tar.gz python dependencies in the Pulsar Function package"
**Describe the bug**
I was able to figure out the internals of the Pulsar Function dependency package looking at PR https://github.com/apache/pulsar/pull/2965 and [python_instance_main.py](https://github.com/apache/pulsar/blob/v2.5.1/pulsar-functions/instance/src/main/python/python_instance_main.py).

However, my `requirements.txt` has dependencies that download as `*.tar.gz` files. For example, i

[2020-06-23 17:00] merlimat commented on #7345
A producer will always have a name, either user-assigned or a unique broker-assigned name.

[2020-06-23 19:16] sijie commented on #7321
@amosJinCloudwise The pulsar-client is a jar that shades all the dependencies. The pulsar-client-original doesn't shade any of the dependencies.

[2020-06-23 19:18] sijie commented on #7345
@merlimat I am not entirely sure the exact issue yet. But that's the behavior we have been observed in a production cluster. We are still looking for what will be the cause and how to fix it.

[2020-06-23 20:17] vzhikserg commented on #7333
@ErikJansenIRefact I was not able to reproduce this issue. Pulsar clients (2.5.2 and 2.6.0) are able to create the producer and publish messages. The stacktrace suggests that the issue is somewhere else with a producer using JSON schema

![image](https://user-images.githubusercontent.com/7816474/85456419-3ca38b80-b59f-11ea-890f-1bc7ee639473.png)

Please provide more information or create a dedicat

[2020-06-23 22:29] merlimat commented on #7324
The Python client is not using the C++ libpulsar, rather it's embedded in the wheel file itself.

@alphara Can you provide a simple reproducer example? Also, with the complete original logs?

For example, this is generally working fine with a connect error:

[code]

[2020-06-23 22:33] merlimat commented on #7343
This was already fixed in 2.6, see #7074

[2020-06-23 23:24] merlimat commented on #7308
Python client is not using libpulsar C++ client from a package. Rather, the library is bundled together in the wheel file.

[2020-06-23 23:25] merlimat commented on #7308
[code]

The issue seems to be related by the fact that we're using Boost-Python38 with Python3.7 : https://github.com/YosysHQ/nextpnr/issues/450

[2020-06-23 23:28] merlimat commented on #7318
@itaross Can you provide sample code? And which operation is giving timeout, the `createReader()` or the `readNext()` on the reader?

[2020-06-24 00:20] merlimat commented on #7327
@firefeifei Please provide a simple (complete) code example that reproduce the issue. That would make it far easier to understand what's happening.

[2020-06-24 01:08] #6518 closed

[2020-06-24 01:09] alphara commented on #7324
The exception arises after the reader gets connected. Try to launch Pulsar before you launch the sample code.

The pulsar docs says [here](https://pulsar.apache.org/docs/en/next/client-libraries-python/):

Is this info obsolete?

This is a simple example that I use
[code]
I found that the example above works on my machine.

I have a bigger application that uses [asyncio](https://docs.python.org/3.

[2020-06-24 01:17] zymap commented on #7343
Thanks

[2020-06-24 01:17] #7343 closed

[2020-06-24 01:33] jiazhai commented on #7333
Thanks @ErikJansenIRefact for the reporting. Thanks @vzhikserg for taking care of it.

[2020-06-24 01:42] sijie commented on #7344
Do you have the code example you are using for testing? Also, can you provide the sequence on how to re-produce the issue?

[2020-06-24 01:49] xuehuanran commented on #7344
Ok, I have updated and add the code example.

[2020-06-24 01:50] xuehuanran commented on #7344
Ok, I have updated and add the code example.

[2020-06-24 02:16] tuteng commented on #7313
@Anonymitaet @Jennifer88huang You can try to update this file https://github.com/apache/pulsar/blob/master/site2/website/data/connectors.js and replace the correct package

[2020-06-24 02:35] gaoran10 opened #7347 "NPE occurs in the method `ManagedLedgerImpl.isOffloadedNeedsDelete`."
**Describe the bug**

NPE occurs in the method `ManagedLedgerImpl.isOffloadedNeedsDelete` .

**To Reproduce**
Steps to reproduce the behavior:

1. Use the offloader feature.

Error Log

[code]

**Expected behavior**

We should make NPE check and avoid the NPE appears.

**Desktop (please complete the following information):**
 - OS: [e.g. Macos 10.15.5]

[2020-06-24 03:36] jiazhai commented on #5399
@addisonj Would you like to help on this issue?

[2020-06-24 03:52] ptirupac-tibco opened #7348 "jCloud unit test failure : org.apache.bookkeeper.mledger.offload.jcloud.impl.BlobStoreManagedLedgerOffloaderTest.testS3DriverConfiguredWell"
**Describe the bug**
_org.apache.bookkeeper.mledger.offload.jcloud.impl.BlobStoreManagedLedgerOffloaderTest.testS3DriverConfiguredWell_ unit test consistently failing on [branch-2.6](https://github.com/apache/pulsar/tree/branch-2.6)

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/apache/pulsar.git
2. git checkout branch-2.6
3. mvn install -DskipTests
4. cd tiered

[2020-06-24 04:06] ptirupac-tibco opened #7349 "Pulsar Broker unit test failure : org.apache.pulsar.broker.namespace.NamespaceOwnershipListenerTests.testNamespaceBundleOwnershipListener"
**Describe the bug**
_org.apache.pulsar.broker.namespace.NamespaceOwnershipListenerTests.testNamespaceBundleOwnershipListener_ unit test failing on [branch-2.6](https://github.com/apache/pulsar/tree/branch-2.6).

**To Reproduce**
Steps to reproduce the behavior:
1. git clone https://github.com/apache/pulsar.git
2. git checkout branch-2.6
3. mvn install -DskipTests
4. cd pulsar-broker
5. mvn test -

[2020-06-24 04:40] addisonj commented on #5399
Yes please, I am on vacation this week but please assign it to me and will
do it next week 🙂

On Tue, Jun 23, 2020, 9:36 PM Jia Zhai <notifications@github.com> wrote:

[2020-06-24 04:41] wolfstudy commented on #5399
Thanks @addisonj , done

[2020-06-24 06:56] firefeifei commented on #7327
m_conf = pulsar_client_configuration_create();
    pulsar_client_configuration_set_logger(m_conf, PulsarProducer::pulsar_logger, (void*)this);
    m_client = pulsar_client_create(service_url.c_str(), m_conf);
    pulsar_producer_configuration_t* producer_conf = pulsar_producer_configuration_create();
    pulsar_producer_configuration_set_batching_enabled(producer_conf, 0);
    pulsar_producer_conf

[2020-06-24 07:19] Jennifer88huang opened #7352 "[website] The latest content about "Effectively_once" is not searched"
**Describe the bug**
When I search "Effectively_once" on Pulsar doc website, the deprecated ones are displayed; however, the latest ones are not searched.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://pulsar.apache.org/docs/en/standalone/
2. Enter "Effectively_once" in the search box, the latest content about "effectively_once" is not displayed.
The link of the latest content

[2020-06-24 07:38] larslorenzen commented on #7140
Also happened to us after a broker restart: https://github.com/apache/pulsar/issues/7059#issuecomment-648041771. Producer could not reconnect.

Pulsar broker version: 2.5.2
Pulsar producer version: 2.5.2

[2020-06-24 10:37] ErikJansenIRefact commented on #7333
Hi @vzhikserg,

Thanks for testing. We've tested with JSON and AVRO both resulting in the same error (Schema.JSON and Schema.AVRO).
Enclosed the example code which results in an error. Perhaps you are able to reproduce with this code sample.

Kind regards,

Erik
[CsvExample.java.zip](https://github.com/apache/pulsar/files/4824785/CsvExample.java.zip)

[2020-06-24 12:58] Anonymitaet commented on #7313
@tuteng seems that this file https://github.com/apache/pulsar/blob/master/site2/website/data/connectors.js only contains the link to each connector, but does not contain the download links of each connector.

![image](https://user-images.githubusercontent.com/50226895/85560214-062c4600-b65d-11ea-9c20-bf1ef07571bd.png)

[2020-06-24 14:19] tuteng commented on #7313
The download link is automatically generated based on the name

[2020-06-24 14:49] merlimat commented on #7327
Have you tried removing the custom logger?

[2020-06-24 15:56] ptirupac-tibco commented on #7344
I wasn't able to replicate the issue in the following env:

**Environment**
macOS-10.15
python pulsar-client==2.4.2
Puslar-2.5.0

Producer Sample:
![producer_sample](https://user-images.githubusercontent.com/63665447/85588788-9e4c1000-b608-11ea-8f17-028ed19c8e99.png)

Consumer Sample:
![consumer_sample](https://user-images.githubusercontent.com/63665447/85588801-a2782d80-b608-11ea-98a9-43d4a88f7ec

[2020-06-24 16:59] merlimat commented on #7324
No, the Python client is based on C++. What I meant is that you don't need to install `libpulsar` separately. When you do `pip install pulsar-client` it will be fetching a wheel file that contains everything that is needed.

Can you post a small repro code using asyncio?
Can you show the pulsar client lib logs?

[2020-06-24 17:33] jcordeiro opened #7354 "Support basic-authentication in function jar urls when registering/updating functions via REST API"
**Is your feature request related to a problem? Please describe.**

When registering or updating a function via the REST API using a jar url that has the `user:pass` basic auth scheme is unsupported.

Currently when a jar url with basic-auth credentials is used an error like the following is returned and the register/update call to the REST API returns a `400 - Bad Request`

`Bad Request - {"reaso

[2020-06-24 20:06] wmccarley commented on #7328
@pushkar-engagio You mention you are using Amazon linux 2 but you don't specifically mention which EC2 instance type you are using. I have noticed that when running bookkeeper cluster in AWS if the instance type + config used is *just barely* suitable for the IO throughput during normal operation then sudden spikes can cause processes to crash. Once a bookie crashes auto-recovery generates additio

[2020-06-25 09:54] merajblueshift commented on #3716
@sijie

I am able to use Script-based policy on Bookie by setting the script path in bookkeeper.conf.

However in the broker, while initializing the EnsemblePlacementPolicy it still puts every bookie in default-rack. When I checked the code I saw the following behavior
https://github.com/apache/pulsar/blob/24cc4bbb0a0b488ef23ede3ba5e914b96d188a5a/pulsar-broker/src/main/java/org/apache/pulsar/broke

[2020-06-25 10:44] pushkar-engagio commented on #7328
@wmccarley Thank you for your guidance and recommendations.
I will review the IOPS usage during that time. The CPU usually goes up and stays around 100% for the brokers which are replicating data but will check on the journal and ledgers iops.

In a nutshell, the cluster can handle iops for the regular operations but may not have enough iops available for added iops during cluster recovery.

I am

[2020-06-25 11:35] vzhikserg commented on #7333
Thanks for the provided sample!  I was able to reproduce the issue 😉 The problem is that the LineItem class is a part of the other class (CsvExample). The inner class (LineItem) is a member of the enclosing class (CsvExample) and contains some additional info about it. In this case AVRO has troubles to create a schema for the inner class.

Your sample should work if the inner class (LineItem) is m

[2020-06-25 11:41] ErikJansenIRefact commented on #7333
Hi @vzhikserg,

Thanks for investigating.  Do you think this should be a change request: support schema with inner classes?

Kind regards,

Erik

[2020-06-25 11:58] vzhikserg commented on #7333
There is one more solution - define the inner class as static. In this case it will not contain any reference to the outer class.

Apache Pulsar uses Apache AVRO to work with schemas. If you still think that this particular case is a bug, please [submit the issue](https://issues.apache.org/jira/projects/AVRO/) to the Apache AVRO project instead of this one.

Best regards,
Sergii

[2020-06-25 12:10] ErikJansenIRefact commented on #7333
Hi Sergii,

Thanks a lot for your help. Your 2 proposed solutions will be sufficient.

Kind regards,

Erik

[2020-06-25 12:10] #7333 closed

[2020-06-25 12:47] rvashishth commented on #7243
@sijie @cdbartholomew do you have a fix or workaround for this?  This error comes are very early stage when installing the chart, would be good to know a fix about this.

[2020-06-25 14:39] dowstreet commented on #7308
I ran into this same problem yesterday, and can confirm that upgrading from the latest Homebrew Python v3.7 to Python 3.8.3 from python.org resolved it.

https://www.python.org/ftp/python/3.8.3/python-3.8.3-macosx10.9.pkg

[code]

[2020-06-25 15:25] wmccarley commented on #7328
@pushkar-engagio Also if you are not already doing it, think about running [node exporter](https://github.com/prometheus/node_exporter) on your bookies because the IO stats AWS exposes through Cloudwatch are insufficient to get the whole picture. Node exporter will give you more granular IOPS broken down between Journal and Ledger as well as FS utilization and aggregate IO time stats.

[2020-06-25 18:17] merlimat commented on #7308
It seems to me that there's an issue in the env that is building the wheel files. We're publishing both `pulsar_client-2.6.0-cp37-cp37m-macosx_10_15_x86_64.whl` as  well as `pulsar_client-2.6.0-cp38-cp38m-macosx_10_15_x86_64.whl` but both seem to be built with Boost-Python3.8.

[2020-06-25 23:59] jiazhai commented on #7270
[code]
Regarding this log, we could try to set these vars.

[code]

[2020-06-26 00:02] #7313 closed

[2020-06-26 01:24] codelipenghui commented on #7308
Looks we need to fix the python release script right?

[2020-06-26 04:10] trexinc opened #7366 "Redundant exceptions in broker logs"
Our broker logs are filled with the exception below. That namespace indeed doesn't exists, and there is probably a "bad" consumer/publisher or a "bad" routing function. But still, those exceptions do not provide much useful info and just fill up the logs. If possible it would be great not to print them, or at least not to print the full exception stack.

[code]

[2020-06-26 05:57] AcrazyDog commented on #7317
Thanks for you reply.

first,I build a PulsarClient Bean by Spring like this:

[code]

and then I user it :
[code]

[2020-06-26 07:25] Esakkimuthu991 opened #7367 "Unable to load values from application.yaml to org.apache.pulsar.common.policies.data.Policies"
**Trying to load values to polices class from application.yaml**
Unable to load values from application.yaml to org.apache.pulsar.common.policies.data.Policies where i have to configure RetentionPolicy, repliation_cluster kind of settings

[2020-06-26 08:26] WillyWill415 opened #7368 "@sijie @jiazhai the issue is fixed by #7119 in 2.6.0. If you check https://pulsar.apache.org/admin-rest-api/?version=2.6.0#operation/setMaxProducersPerTopic you can see that all body parameters are in place"
@sijie @jiazhai the issue is fixed by #7119 in 2.6.0. If you check https://pulsar.apache.org/admin-rest-api/?version=2.6.0#operation/setMaxProducersPerTopic you can see that all body parameters are in place

_Originally posted by @vzhikserg in https://github.com/apache/pulsar/issues/6625#issuecomment-646966582_

[2020-06-26 12:42] vzhikserg commented on #7313
@tuteng @jiazhai  I fixed the source, but the download page should be regenerated for the 2.6.0 release.

[2020-06-26 13:32] tuteng commented on #7313
Thanks for your contributing @vzhikserg It seems to build failed

[code]

I will fixed this

[2020-06-26 13:37] zhanghaou commented on #7301
OK. I had made a PR to fix it. [https://github.com/apache/pulsar/pull/7369](https://github.com/apache/pulsar/pull/7369)

[2020-06-26 14:14] vzhikserg commented on #7313
@tuteng good, thanks for checking it out and fixing the build of the website ;)

[2020-06-26 14:20] vzhikserg commented on #6927
@sijie @jiazhai @tuteng could you please close this issue? it was implemented in #7003

[2020-06-26 16:23] sijie commented on #7243
@Lanayx @rvashishth: Please use the latest master of https://github.com/apache/pulsar-helm-chart which includes the change of apache/pulsar-helm-chart#26. We will release a helm chart and publish it to https://pulsar.apache.org/charts.

[2020-06-26 16:24] #6927 closed

[2020-06-26 18:43] ErikJansenIRefact opened #7372 "Messages on topic are deleted on restart of standalone cluster"
**Describe the bug**
Messages on a topic are deleted / not available anymore after standalone cluster shutdown and restart.

**To Reproduce**
Produce messages on a topic in a standalone cluster on a namespace with retention_period = -1.
Cancel the standalone cluster (Ctrl-C).
Restart the standalone cluster.
Browse pulsar manager and look at the storage of the topic. The pulsar manager reports 2 le

[2020-06-26 18:58] alphara commented on #7324
Here is a small example of code using asyncio.

[code]

[2020-06-26 20:59] merlimat commented on #7324
It seems to be working for me. Using your code above with Python3.8 and pulsar-client==2.6.0.

[code]

[2020-06-26 21:13] alphara commented on #7324
@merlimat, thank you for testing. Good to know it works on your side.

[2020-06-26 21:21] merlimat commented on #7324
Well.. it would be better if it actually failed 😄

[2020-06-26 21:32] alphara commented on #7324
Yeah. Is there a way to enable debug level of logging in pulsar-client on python?

[2020-06-26 21:33] ErikJansenIRefact commented on #7372
It seems both retentionSize and retentionPeriod should be set to -1? Is this correct? Is this new as of release 2.6.0?
If so perhaps this should be more clearly documented.

[2020-06-26 21:41] merlimat commented on #7324
There was an attempt to allow configuring a logger in Python directly, in #6113 but it was reverted for some side issues..

In any case, are you have to see the info level logs that are printed by the C++ lib?

[2020-06-26 21:49] merlimat commented on #7317
@AcrazyDog It looks like the spring bean is creating a new instance of the Pulsar client each time.

Also, you need to just create the producer once, not once per message.

[2020-06-26 21:52] alphara commented on #7324
Thanks for the info. Yes, I see the info logs printed in terminal by the C++ lib-pulsar. I have created both node.js and python applications that use Pulsar reader. Node.js apps work well with the reader and do not cause any C++ exceptions.

[2020-06-27 00:53] tuteng commented on #7287
Hello, I have encountered the same problem and solved it through the following configuration

1. check whether the certificate is correct

[code]

Make sure that these two certificates do not use the same common name, otherwise, errors may occur

2. Add configuration `useTls=true` to `conf/functions_worker.yml` file in standalone environment.

This is an example of functions_worker.yml in a standa

[2020-06-27 02:02] zongtanghu commented on #7301
it’s good and nice!

 原始邮件
发件人: Hao Zhang<notifications@github.com>
收件人: apache/pulsar<pulsar@noreply.github.com>
抄送: Hu Zongtang<huzongtang@cmss.chinamobile.com>; Comment<comment@noreply.github.com>
发送时间: 2020年6月26日(周五) 21:37
主题: Re: [apache/pulsar] [pulsar-admin] weird error on wrong command(#7301)

OK. I had made a PR to fix it. #7369
—
You are receiving this because you commented.
Reply to thi

[2020-06-27 08:30] firefeifei commented on #7327
You can test this code without custom logger

[2020-06-27 12:18] ElationAndElation opened #7375 "An option in Pulsar functions to define routing for output messages to partitions"
**Is your feature request related to a problem? Please describe.**

An option in Pulsar functions to define routing for output messages to partitions.

**Describe the solution you'd like**
In producer builder there is hashing scheme, expecting similar solution.

**Describe alternatives you've considered**
NA

**Additional context**
NA

[2020-06-27 14:57] THX1188 commented on #7313
When will the download page be fixed? Link for jdbc still not works.
cheers

[2020-06-27 15:23] THX1188 opened #7376 "Starting Apache Pulsar standalone on Linux Mint 19.3 keeps showing : INFO org.eclipse.jetty.server.RequestLog - 127.0.0.1 - messages"
[pulsar_standalone_2.6.0.log](https://github.com/apache/pulsar/files/4840846/pulsar_standalone_2.6.0.log)
**Describe the bug**
OS : Linux Mint 19.3, vm
java : version  11.0.7
pulsar version downloaded and unzipped 2.6.0

I am new to Apache Pulsar, and I cannot justify if the components are properly started or not
startup allocates approx 2.5H on  the machine, does not show errors but stops in show

[2020-06-27 20:13] vcottagiri commented on #5922
@jiazhai - Can I look into this? If so please assign this to me, thx

[2020-06-28 01:08] tuteng commented on #7313
Yes, It is work, please try to refresh download page http://pulsar.apache.org/en/download/

[2020-06-28 02:03] Jennifer88huang opened #7378 "[docs] Add docs for "Dispatch batch messages according consumer permits""
**Is your feature request related to a problem? Please describe.**
In #7266, @rdhabalia improves dispatching of batch messages.

**Describe the solution you'd like**
When the feature completes, add related docs to this feature.

[2020-06-28 06:18] wolfstudy opened #7379 "Enable TLS auth of Pulsar Function in standalone mode"
**Is your feature request related to a problem? Please describe.**

When we want to enable TLS related encryption in the function worker. Some parameters use brokers, but some parameters are not covered by the broker.

For example, in `PulsarStandalone.java`, if we want to enable authentication using TLS, then we need to configure TLS related parameters in functions_worker.yml, but Auth related pa

[2020-06-29 01:42] sijie commented on #7367
@Esakkimuthu991 -  Can you describe more about your issue? I have no idea about the `application.yaml` here and how do you load the values from application.yaml.

[2020-06-29 01:45] sijie commented on #7368
@WillyWill415 it is unclear to me what do you need us to do for this issue. I am closing it now. Please reopen one if you have a more specific ask.

[2020-06-29 01:45] #7368 closed

[2020-06-29 01:45] sijie commented on #6625
Closed this issue since the issue has been fixed by #7119 in 2.6.0

@vzhikserg yeah if you can port the same change to the previous versions, that would be great!

[2020-06-29 01:45] #6625 closed

[2020-06-29 01:50] sijie commented on #7372
@ErikJansenIRefact

By default, Pulsar doesn't configure any retention and `brokerDeleteInactiveTopicsEnabled` is enabled by default. So if a topic doesn't have any subscriptions and doesn't configure any retention period, the topic will be garbage collected by Pulsar broker due to its inactivity.  The behavior has been documented in https://pulsar.apache.org/docs/en/2.6.0/admin-api-partitioned-to

[2020-06-29 01:51] yingziyu007 opened #7382 "v2.3.2 pulsar-admin CLI return HTTP 502 Bad Gateway"
v2.3.2 pulsar-admin persistent peek-messages options or pulsar-admin topics peek-messages options
return 502 Bad Gateway
why?
![1](https://user-images.githubusercontent.com/54094772/85965021-12622b80-b9ee-11ea-86b0-487d1e7b011a.png)

[2020-06-29 01:56] sijie commented on #7375
@ElationAndElation

You can use `Context.newOutputMessage()` to specify the topic (partition) to produce messages to. Does it meet your requirements?

[2020-06-29 01:59] sijie commented on #7376
@THX1188 the logging is coming from function worker. To debug this issue, you can first disable function worker `bin/pulsar standalone -nfw` to see if you can run pulsar first.

[2020-06-29 02:04] sijie commented on #7379
@wolfstudy I think that is expected. If Function Worker is running as part of broker, Function Worker will use the security settings from the broker. We should probably update the security-related documentation for Function Worker.

[2020-06-29 02:15] sijie commented on #7379
@wolfstudy The behavior is correct but there are a few places that we can improve.

In function worker, we need to separate client TLS settings from server TLS settings. #6602 already did that.
But we need to rename the following settings to make those broker client TLS settings clearer.

[code]

Add a setting for `tlsEnableHostnameVerification`.

After that, we need to enhance the logic in the br

[2020-06-29 02:17] sijie commented on #7382
@yingziyu007 Are you using Pulsar proxy? If so, can you check the log of Pulsar proxy to see if there are any error messages?

[2020-06-29 02:36] Huanli-Meng commented on #6923
@codelipenghui any progress about this? thanks.

[2020-06-29 02:40] yingziyu007 commented on #7382
There is no error messages. And deploying pulsar-admin by "apache-pulsar-2.3.2\deployment\kubernetes\generic\admin.yaml".

`09:33:10.147 [pulsar-discovery-io-2-1] INFO  org.apache.pulsar.proxy.server.ProxyConnection - [/172.20.148.141:56840] New connection opened
09:33:10.148 [pulsar-discovery-io-2-1] INFO  org.apache.pulsar.proxy.server.ProxyConnection - [/172.20.148.141:56840] complete connectio

[2020-06-29 03:53] yingziyu007 commented on #7382
There is no error messages. And deploying pulsar-admin by "apache-pulsar-2.3.2\deployment\kubernetes\generic\admin.yaml".

09:33:10.147 [pulsar-discovery-io-2-1] INFO   org.apache.pulsar.proxy.server.ProxyConnection - [/172.20.148.141:56840]  New connection opened 09:33:10.148 [pulsar-discovery-io-2-1] INFO   org.apache.pulsar.proxy.server.ProxyConnection - [/172.20.148.141:56840]  complete connec

[2020-06-29 04:02] GitHub-wk commented on #6376
hello ,I have the same problem.
I solve this problem by use ``bin/pulsar-admin topics delete-partitioned-topic
  persistent://my-tenant/my-namespace/my-topic``

``/bin/pulsar-admin topics delete persistent://test-tenant/test-namespace/test-topic-partition-0`` this is used to delete non-partitioned-topic

[2020-06-29 05:51] ElationAndElation commented on #7375
In pulsar producer has hashing schema, using these schema pulsar topic partition are chosen for a particular message. Please refer below code. Lets say ptest has 4 partitions and hashing as Murmur3_32Hash, then total 5 messages are sent, for each message partition is chosen based on Hashing Scheme murmur. There is no need exclusive logic written by here to chose partition.
Whereas for functions in

[2020-06-29 06:26] THX1188 commented on #7376
Thank you for feedback @sijie !
I took the docker version which runs more isolated, but the behavior was exact the same.

Finally , maybe more accidentally I pulled  yet another Pulsar Docker Image and this was based on nginx. After a few minutes I was able to connect to it's dashboard. which maybe means it is up and running ? Screenshot of Dasboard attached, I will try later python examples, ...

[2020-06-29 06:39] THX1188 commented on #7376
Just another fact, Apache Pulsar does only run with java 8 jdk not with java 11 jdk?
cheers
THX1188

[2020-06-29 06:44] ErikJansenIRefact commented on #7372
@sijie

The retentionPeriod on the namespace was set to -1 (infinite retention). However, this does not prevent that the data on the topic is removed. It seems that retentionSize should be set to -1 as well. So these settings should both be set to infinite. Only setting one of them isn't sufficient.

[2020-06-29 07:31] ErikJansenIRefact opened #7383 "Pulsar Manager docker image doesn't start PostGreSQL"
**Describe the bug**
Starting the Pulsar Manager Docker image results in errors when trying to start PostGreSQL server.
After a while it reports lots of chown errors:

chown: /data/Pictures/Photos Library.photoslibrary: Operation not permitted

**To Reproduce**
docker run -it -p 9527:9527 -e REDIRECT_HOST=http://192.168.0.104 -e REDIRECT_PORT=9527 -e DRIVER_CLASS_NAME=org.postgresql.Driver -e URL=

[2020-06-29 07:52] #7383 closed

[2020-06-29 08:09] fmiguelez commented on #4803
The solution provided by solution #7139 to this BUG **does not work**.

- When trying to read a message with `null` value a `NullPointerException ` is thrown in other part of the code.

[code]
- It should not be required to explicitly indicate a `null `value to producer (only-key values should work just just fine). Exception thrown when working with implicit null value messages is `EOFException `i

[2020-06-29 08:20] ErikJansenIRefact opened #7384 "Pulsar reader throws exception java.lang.IllegalStateException: recycled multiple times"
**Describe the bug**
A reader is created to read messages from a topic. The reader throws an exception when reader.readNext() is called.

**To Reproduce**
1. Messages are created with the attached CsvExample.java program (TPCH line item data is used as CSV file).
2. A reader is created and run with the attached ReaderExample.java program.
3. Most of the time the reader throws an exception, althoug

[2020-06-29 08:25] jiazhai commented on #4803
Thanks @fmiguelez for the test.
looks from the code, npe happens in stats path(ConsumerStatsRecorderImpl.java), would you like to provide a pull request to fix this issue:
[code]

[2020-06-29 08:39] fmiguelez commented on #4803
@jiazhai  I can do that but I think a more complete fix would be interesting as described in the test. E.g you need to explicitly set a `null` value to the produced message so the null checks kick in, IMHO `MsgMetadataBuilder.hasNullValue()` should be initialized to `true`.

Besides there are other issues with tombstones if no schema is used.

Would it be interesting to open a new BUG or reopen th

[2020-06-29 13:39] frankjkelly opened #7385 "When `authorizationEnabled=true` in proxy.conf the proxy does not appear to perform Authorization check"
**Describe the bug**
When `authorizationEnabled=true` in proxy.conf the proxy does not appear to execute the authorization plugin.

**To Reproduce**
Steps to reproduce the behavior:
1. GIVEN we enable Authorization on proxy
[code]
2. AND GIVEN the Authorization plugin is loaded
[code]
3. WHEN a Pulsar command is picked up by the Proxy
4. THEN the Authentication Plugin is executed but the Authoriza

[2020-06-30 01:15] Huanli-Meng commented on #7166
@jiazhai , any more process about this issue?

[2020-06-30 01:32] sijie commented on #7384
@codelipenghui can you take a look at this issue?

[2020-06-30 01:35] sijie commented on #7385
@frankjkelly Are you using zookeeper or brokerServiceURL for broker discovery? If you don't set zookeeper, proxy will not enable authorization. Because the default authorization plugin is implemented based on zookeeper.

There might be places that we can improve. E.g. we don't need zookeeper if users provide a customized implementation of Authorization plugin.

[2020-06-30 01:47] jiazhai commented on #4803
Thanks @fmiguelez for the detailed explanation.  the proposal for the complete fix looks good to me, we need be careful for the backward compatibility if set default true for `MsgMetadataBuilder.hasNullValue()`. It would be better to open a new issue.
also @gaoran10 to take attention.

[2020-06-30 04:01] zymap opened #7390 "SQL worker can not start directly"
**Describe the bug**

After building master code, SQL worker can not start directly

**To Reproduce**
1. Build the master code
2. Execute `bin/pulsar sql-worker run`

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
[code]

[2020-06-30 06:40] xuesongxs opened #7391 "When creating function application, set parallelism greater than 1, and multiple jars will be copied under the same node."
**Describe the bug**
Function download directory to download function application jars. Why should each instance ID of the same application download the same jar? Download a jar from a node. What is the consideration? If my function fat package is 200MB and a node starts 10 concurrent numbers, 10 jars of this application will be copied out, which will take up a lot of disk space.

![image](https:/

[2020-06-30 08:28] xiaomin0322 opened #7392 "多集群自动切换问题"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
多集群geo，当一个集群挂了，怎么自动切换到另外一个集群，对客户端无感知！
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
多集群geo，当一个集群挂了，怎么自动切换到另外一个集群，对客户端无感知！
**Describe alternatives you've considered**
A clear and concise des

[2020-06-30 08:34] xiaomin0322 commented on #7392
![image](https://user-images.githubusercontent.com/4092286/86103638-96e8a300-baef-11ea-8b07-57a3a8a4ee86.png)

[2020-06-30 13:02] codelipenghui opened #7394 "Conflict when update partitions on non-persistent topic"
**Describe the bug**
When updating partitions on a non-persistent topic, 409 returned.

**To Reproduce**
Steps to reproduce the behavior:
1. Start standalone
2. Create a non-persistent partitioned topic `bin/pulsar-admin topics create-partitioned-topic non-persistent://public/default/xyz -p 3`
3. Update partitions `bin/pulsar-admin topics update-partitioned-topic non-persistent://public/default/xy

[2020-06-30 13:43] frankjkelly commented on #7385
Hmmm I'm not sure.  In proxy.conf we have the following for `brokerService`
[code]
and the following zookeeper related
[code]
I see from this StreamNative documentation that by defining the `brokerServiceURL` we are effectively disabling Authorization.

The problem I have is that our JWT token contains custom claims that indicate whether a topic is accessible or not (it's not Role-based) so we nee

[2020-06-30 13:47] fmiguelez opened #7395 "Consumer.getLastMessageId() returns invalid MessageId"
**Describe the bug**
Call to `Consumer.getLastMessageId()` returns invalid messageId (`entryId` is -1). Following message is displayed in log:

**To Reproduce**
Use following code snippet to reproduce it:

[code]
Results in something like `46:-1:0`

**Expected behavior**
Return a valid messageId like previous version of Pulsar.

**Screenshots**

**Desktop (please complete the following information

[2020-06-30 14:23] codelipenghui opened #7397 "Failed to create subscription on non-persistent topic."
**Describe the bug**
When use pulsar-admin to create a subscription on a non-persistent topic,  get server error like:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start standalone
2. Create a subscription on a non-persistent topic
3. See error

[code]

**Expected behavior**
The subscription should create successfully. Maybe the failed reason is if we create a subscription on a no

[2020-06-30 14:54] KannarFr opened #7398 "possible inconsistencies en broker local metadata cache"
**Describe the bug**
Not sure how to to describe it but:

Had the following stack looks like inconsistencies on a broker local metada that prevent namespace deletion. The namespace was considered empty by pulsar-admin-cli, but when I tried to run deletion one of the broker logged the following stack.

I just restarted the broker and everything worked well. I could run the deletion instantly.

[cod

[2020-06-30 15:34] KannarFr opened #7399 "Proxy tries connect unavailable broker"
**Describe the bug**
Not sure if it's a bug or a feature required.

We are working on rust client (`pulsar-rs`), we implemented a reconnecting feature when loosing connection. It works well when proxy restarts.

The problem is on broker restart/unavailable, proxy tries to connect to broker and get `Connection refused` because broker is not ready.

[code]

Proxy should responds custom error indicat

[2020-06-30 16:57] gaoran10 opened #7402 "GCS offload operation error"
**Describe the bug**
The GCS offload operation is not working well in Pulsar 2.5.2 and 2.6.0, and it's ok in Pulsar 2.5.1.

**To Reproduce**
Steps to reproduce the behavior:

1. Offload data by GCS driver.
2. See the error log.

[code]

**Expected behavior**
Offload operation was a success.

**Desktop (please complete the following information):**
 - OS: MacOS

[2020-06-30 21:46] sijie opened #7404 "[managed ledger] Load cursors lazily"
*Motivation*

Currently, we have to wait until all cursors to be recovered before completing opening a managed ledger. This results in very long recovery time for the managed ledger. Pulsar is a messaging/streaming system. Write availability is critical to a lot of core business applications. We need to make it always writable. Hence we should decouple loading cursors from loading managed ledger.

[2020-07-01 02:04] aloyszhang commented on #7394
@codelipenghui  I think partition update is not support for no-persistent topic  right now. We should implement it first

[2020-07-01 02:17] aloyszhang commented on #7395
@fmiguelez  Maybe this is because topic has no message yet.

[2020-07-01 02:29] sijie commented on #7056
The doc issue has been fixed.

[2020-07-01 02:29] #7056 closed

[2020-07-01 02:31] Anonymitaet commented on #6086
Hi @addisonj, we have documented Pulsar Functions docs [here](https://streamnative.io/docs/latest/process/pulsar-functions/overview) and do not have the contents of this PR.
Since you are familiar with the context, could u pls help provide docs? Many thanks

[2020-07-01 04:31] BewareMyPower commented on #6945
For what I've mentioned before:

Yeah, it's a problem of 2.5.x. When I upgraded broker to 2.6.0,  the problem disappeared. Though I didn't know which commit solved this problem.

Currently, creating multiple producers and choosing the producer associated with the key could achieve the same goal of key-based batching. And I would implement key-based batching for C++ client soon.

[2020-07-01 05:56] fmiguelez commented on #7395
@aloyszhang I indicate that I produce to topic first and then I try to read last message by getting last message ID so I can seek that message.

This is extract of a test that had been running just fine up to previous version 2.5.2. The BUG is in 2.6.0 I presume.

[2020-07-01 06:16] #3224 closed

[2020-07-01 06:25] Huanli-Meng commented on #7238
@codelipenghui , it seems the pulsar website is updated and the schema registry is not displayed under the concept section when you search for the schema registry. therefore, i think the issue can be closed.

[2020-07-01 06:36] xuesongxs opened #7405 "Create function failed!"
**Describe the bug**
1.The function application jar cannot be downloaded to the download directory when creating. It still shows that the creation is successful. The log output of function worker is normal. Check that the function application process does not exist by PS command.

2.Restart function worker. The PS command can check that the functions worker process exists, but the netstat command

[2020-07-01 07:20] 97arushisharma commented on #7287
@tuteng Thanks a lot. It worked. Apparantly, I was not including the `useTls=true` property in `functions_worker.yml` file.

Just a question what is the difference between using `tlsEnabled` and `useTls` in `functions_worker.yml`?

[2020-07-01 07:44] matejsaravanja commented on #6945
We changed our architecture a bit so key-based batching is not necessary anymore, but before that, creating multiple producers to imitate key-based batching wasn't an option because of potential scaling issues.
If you implement it, keep us posted 😄

[2020-07-01 07:44] fmiguelez opened #7407 "Support for tombstones (null value in messages) does not work"
**Describe the bug**

The solution provided by #7139 to the BUG #4803 *does not work*.

* When trying to read a message with `null` value a `NullPointerException` is thrown in other part of the code.
[code]
* It should not be required to explicitly indicate a null value to producer (only-key values should work just just fine). Exception thrown when working with implicit null value messages is EOFE

[2020-07-01 07:45] fmiguelez commented on #4803
@gaoran10, @jiazhai I have opened a new ticket #7407 as indicated

[2020-07-01 10:37] Jennifer88huang-zz opened #7412 "Write a script to sync Pulsar configuration and CLI tools"
**Is your feature request related to a problem? Please describe.**
When someone update the configuration files in code, they might forget to update the content for docs on https://pulsar.apache.org/docs/en/reference-cli-tools/ and https://pulsar.apache.org/docs/en/reference-configuration/
When users search the usage of newly updated config, they could not search it on the two links.

**Describe th

[2020-07-01 10:47] Jennifer88huang opened #7413 "Write a script to sync doc updates to multiple versions"
**Is your feature request related to a problem? Please describe.**
When a doc change applies to multiple versions, writers have to update the same content in the `docs` folder and related `versioned-xxx` folders.

**Describe the solution you'd like**

## Manage docs with labels
As suggested in [7038](https://github.com/apache/pulsar/issues/7083), we maintain docs of different versions in the `mast

[2020-07-01 11:51] feeblefakie opened #7414 "Broker throws an exception and then gets partially broken when LZ4/Snappy is used with Key_Shared in 2.6.0."
**Describe the bug**
Broker throws an exception and then gets partially broken when LZ4/Snappy is used with Key_Shared in 2.6.0.
If no compression types are specified, the exception is not thrown.

**To Reproduce**
Steps to reproduce the behavior:
1. Start up Pulsar standalone with
   - $ bin/pulsar standalone
2. Create a partitioned topic (not sure if this step is necessary to reproduce)
   - $ b

[2020-07-01 12:12] Huanli-Meng opened #7415 "[Document & Website][Pulsar 2.5.0]--schema registry should be removed from the concept section"
**Describe the bug**

in Pulsar 2.5.0, The schema registry doc under the concept and architecture section as there is a Pulsar schema section

![image](https://user-images.githubusercontent.com/48120384/86242380-39c81c80-bbd7-11ea-999e-26fe0f387031.png)

[2020-07-01 13:57] ksenlaskar opened #7418 "Pulsar metrics for prometheus does not work for short live consumers"
Steps to reproduce the behavior:
1.Create pulsar topic , and create a consumer which consume from the topic at an interval of 500 ms.
2. Configure prometheus for pulsar
3. Check the pulsar metrics (pulsar_subscription_msg_rate_out, pulsar_rate_out) value
4. The value always shows as 0.

**Additional context**
We had a short discussion with Sijie over slack on this. And his response was "
The pulsa

[2020-07-01 14:25] merlimat commented on #7418
Same problem happens for short-lived producers

[2020-07-01 14:49] addison commented on #6086
I think you have the wrong “Addison” here. I’m @addison rather than @addisonj

Addison

Addison Phillips
Sr. Principal SDE – I18N (Amazon)
Chair (W3C I18N WG)

Internationalization is not a feature.
It is an architecture.

From: Yu Liu [mailto:notifications@github.com]
Sent: Tuesday, June 30, 2020 7:31 PM
To: apache/pulsar <pulsar@noreply.github.com>
Cc: Phillips, Addison <addison@lab126.com>; Men

[2020-07-01 15:13] #7399 closed

[2020-07-01 15:16] KannarFr opened #7419 "Expose pulsar's metrics in topics"
**Is your feature request related to a problem? Please describe.**
Metrics fetch is currently using prometheus endpoint that exposes metrics. External metrics collector should now poll this endpoint.

**Describe the solution you'd like**
What do you think about enable pulsar components to directly send their metrics to configuration defined topics?

Maybe we can imagine `metricstenant/brokers/<bro

[2020-07-01 15:50] #6215 closed

[2020-07-02 01:01] #7238 closed

[2020-07-02 01:12] codelipenghui commented on #7395
@fmiguelez Looks this a bug, the broker should return a real message ID

[2020-07-02 01:17] codelipenghui commented on #7394
@aloyszhang Thanks for your replay, I think we can return clear information when update partitions on a non-partitioned topic first. Currently, "Reason: Topic is not partitioned topic" is really confusing.

[2020-07-02 01:32] Huanli-Meng commented on #6967
@Mefl , how about the process?

[2020-07-02 01:34] jiazhai commented on #7390
@zymap What is the version of pulsar you are using?

[2020-07-02 01:39] yingziyu007 opened #7423 "v2.3.2 pulsar-admin CLI often return 502"
The same command return different result: success or fail. Why?
![1](https://user-images.githubusercontent.com/54094772/86306852-daeebb80-bc47-11ea-97cb-3e7ea2bdc3a5.png)

[2020-07-02 01:46] jiazhai commented on #7391
Thanks @xuesong172500 for open this issue. This is a feature request. It may be good it we could do the function package management. @zymap has some investigation on this. @zymap Would you please help provide more information on your investigation?

[2020-07-02 01:54] jiazhai commented on #7392
It seems the DNS cache is not cleared, and cause the consumer connection still using the old address. Could you set a shorter DNS cache time period?

[2020-07-02 01:55] jiazhai commented on #7392
Would like to close this issue, is issue not solved, we could open new issue.

[2020-07-02 01:55] #7392 closed

[2020-07-02 02:04] jiazhai commented on #7394
The first step would be fix the error log:
[code]
It is partitioned topic, but non-persistent

[2020-07-02 02:06] jiazhai commented on #7397
Thanks for @codelipenghui 's detailed report. mark it as `help wanted` for anyone interest to contribute to it.

[2020-07-02 02:08] jiazhai commented on #7395
looks like a regression when handling getLastMessageId in managedLedger.

[2020-07-02 02:12] jiazhai commented on #7398
Thanks @KannarFr for open this issue. Are there steps to reproduce this issue?

[2020-07-02 02:22] jiazhai commented on #7405
@xuesong172500 Thanks for open this issue.
Seems there is some error logs need to analysis.
[code]

[code]

[code]

[2020-07-02 02:24] jiazhai commented on #7407
Thanks @fmiguelez for open the issue and related PR. @gaoran10 to help review the Pr.

[2020-07-02 02:27] jiazhai commented on #7412
Would like to unassign @tuteng . so that anyone interest to contribute to this feature could work on it.

[2020-07-02 02:41] jiazhai commented on #7418
@ksenlaskar Thanks for open this issue. Seems it is not easy to handle this kind of behavior. It may be not good to sample the metrics with a very short period.  @merlimat Is there any idea on this issue?

[2020-07-02 02:46] jiazhai commented on #7419
thanks @KannarFr for open this issue. this is a good feature. mark it as help wanted for anyone interest to contribute to it.

[2020-07-02 03:33] Anonymitaet commented on #6086
@addison Thanks for your feedback.
I think I have @ the correct person? I have @addisonj and he is the right one?

[2020-07-02 03:43] addisonj commented on #6086
Yep, that is me :)

On Wed, Jul 1, 2020 at 9:33 PM Yu Liu <notifications@github.com> wrote:

[2020-07-02 03:44] addisonj commented on #6086
Oh also, yes, please assign that to me.

On Wed, Jul 1, 2020 at 9:43 PM Addison Higham <addisonj@gmail.com> wrote:

[2020-07-02 04:50] #7301 closed

[2020-07-02 06:43] jiazhai opened #7425 "Add doc of oauth2 client authentication into website."
In #7420 we provided  oauth2 client authentication, this issue is to add the [doc](https://github.com/apache/pulsar/pull/7420/files#diff-88cbb2bd5ad91b2860f93324208928a1) into website.

[2020-07-02 06:55] zhouxin-116 opened #7426 "how to get messageId when use sparkstreaming"
dependency:pulsar-spark
thanks!

[2020-07-02 07:14] #5538 closed

[2020-07-02 07:16] sijie commented on #7287
@97arushisharma

`tlsEnabled` means enabling TLS in function worker for any incoming requests; `useTls` means using TLS to connect to broker.

[2020-07-02 07:24] jiazhai commented on #7423
Thanks @yingziyu007 for open this issue. seems v2.3.2 is a little old. I tried latest 2.6.0, seems it works fine.  Is there steps to reproduce this issue? And what it the broker side logs looks like while error happens.

[2020-07-02 07:27] sijie commented on #7385
If you set `forwardAuthorizationCredentials` to `true`, proxy will forward the authentication credentials to the brokers and brokers will do both authentication and authorization. But in proxy, you need to do configure a super-user token, because proxy is required to read the partitioned topic metadata and lookup topic ownerships.

So you need to configure the following:

[code]

[2020-07-02 07:27] sijie commented on #7385
You can also check this video: https://www.youtube.com/watch?v=sTISVpyq73o

[2020-07-02 07:30] sijie commented on #5922
@vcottagiri you are welcome to make the contribution! Assigned to you.

[2020-07-02 07:33] sijie commented on #7376
I think you can use Java 11 to run it.

[2020-07-02 07:33] sijie commented on #7376
Close this issue since the question has been answered.

[2020-07-02 07:33] #7376 closed

[2020-07-02 07:34] sijie commented on #7375
@ElationAndElation I see. Thank you for the explanation! Will incorporate your comment into adding this feature.

[2020-07-02 07:36] sijie commented on #7372
@ErikJansenIRefact this sounds like a bug. @codelipenghui can you take a look?

[2020-07-02 07:36] 97arushisharma commented on #7287
Okay! Thanks a lot @sijie .

[2020-07-02 07:36] #7287 closed

[2020-07-02 07:39] sijie commented on #7382
@yingziyu007 have you tried a newer version of pulsar like 2.5.2 or 2.6.0?

[2020-07-02 07:41] yingziyu007 commented on #7423
Please execute the command "./pulsar-admin persistent peek-messages --count 10 --subscription ssdc-datasycn persistent://public/default/createUser".&nbsp;
There are many errors in the the broker side logs. For example,

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"Jia Zhai"<notifications@github.com&gt;;
发送时间:&nbsp;2020年7月2日(星期四) 下午3:24
收件人:&nbsp;"apache/pulsar"<pulsar@noreply.gi

[2020-07-02 07:47] sijie commented on #2431
@Poluect thank you for your update! I would close this issue for now. Please re-open one if there is still an issue in the latest release.

[2020-07-02 07:47] #2431 closed

[2020-07-02 07:49] sijie commented on #7209
`-nss` is not related. `-nfw` is the one fixed the issue.

[2020-07-02 07:49] #7209 closed

[2020-07-02 07:51] sijie commented on #6236
@Ghatage yeah. I think it would be great if we can get this up in the pulsar documentation website.

[2020-07-02 10:44] KannarFr commented on #7398
@jiazhai I have no reproductible case :/. It occurs on our production randomly on a namespace deletion.

[2020-07-02 10:44] KannarFr commented on #7419
@jiazhai I'm working on, I will soon add a PR and we will discuss about it :).

[2020-07-02 11:12] nhathatrinh commented on #6834
Hi, I've got a same issue with java too.
Here are my dependencies i used
[dependencies.txt](https://github.com/apache/pulsar/files/4863826/dependencies.txt)

@jiazhai , If pulsar-client-messagecrypto-bc dependency is not added then it should throw 'NoClassDefFoundError: org/apache/pulsar/client/impl/crypto/MessageCryptoBc'. But this issue is 'NoSuchMethodError: 'org.apache.pulsar.shade.io.netty.bu

[2020-07-02 11:31] aloyszhang commented on #7394
@codelipenghui @jiazhai I'll try to fix this problem.

[2020-07-02 14:03] dineshkothuru2020 opened #7432 "Namespace isolation policy :: No broker was available to own persistent"
Appreciate your help to resolve this issues:

Thanks in Advance :-)

Created an single plusar cluster setup with four broker services running on four different servers, my intend is to point the applicaiton to the broker running on same server, following are the step as been followed

Note : Customize ports are used for zookeeper,bookie and broker instead of default ports

1) Create zookeeper setu

[2020-07-02 16:38] lhotari opened #7436 "[pulsar-client] Creating Consumer with SubscriptionMode.NonDurable fails with NPE"
**Describe the bug**

Creating a consumer with SubscriptionMode.NonDurable fails with NPE .

**To Reproduce**

Any consumer with NonDurable subscription mode fails with NPE.

For example:
[code]

logs:
[code]

with a debugger I was able to capture the stacktrace of the NPE, it's this:
[code]

with the debugger I can see that startMessageId is null here:
https://github.com/apache/pulsar/blob/d24380

[2020-07-02 19:07] epsteina16 opened #7437 "Pulsar Admin Java Client leaves hanging thread after close called"
**Describe the bug**
After closing a Java pulsar admin instance, a delayer thread is left hanging in the background in a TIMED_WAITING state that can prevent the parent program from ending.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a pulsar admin instance.
2. Add a new topic using the pulsar admin.
3. Close the pulsar admin.
4. Do a java thread dump to see the hanging delayer th

[2020-07-02 21:21] rocketraman commented on #6554
PR #7106 referred to by https://github.com/apache/pulsar/issues/5819#issuecomment-644543109 is marked as closed and merged, with milestone 2.6.0. Should this issue be closed with 2.6.0 milestone after all?

[2020-07-03 00:40] codelipenghui commented on #6554
@rocketraman As discussed with @feeblefakie in slack channel, looks there are some problems with auto split mechanism. So I reopen this issue for tracking this problem. And @feeblefakie has verified consistent hash mechanism is work as expected. I will take a look at the auto split mechanism later.

[2020-07-03 01:08] feeblefakie commented on #6554
@codelipenghui Should I create a open issue for [this](https://github.com/apache/pulsar/issues/5819#issuecomment-644510797) ?
I realized that I just created how to reproduce doc in my repo and shared it in only the closed issue.

[2020-07-03 01:23] Anonymitaet commented on #5779
Done in https://github.com/apache/pulsar/pull/7393

[2020-07-03 01:23] #5779 closed

[2020-07-03 01:32] sijie commented on #7426
@zhouxin-116 Do you have a concrete example of your question? It is a bit hard for me to understand what you are looking for.

[2020-07-03 01:45] zhouxin-116 commented on #7426
val pulsarReceiver = new SparkStreamingPulsarReceiver(
      serviceUrl,
      pulsarConf,
      new AuthenticationDisabled()
    )
    //  receiver DStream
    val pulsarDStream = ssc.receiverStream(pulsarReceiver)
    //  process
    pulsarDStream.foreachRDD(rdd => {
      rdd.foreachPartition(partition => {
              partition.foreach (row=>{

  })
 })
})

[2020-07-03 01:46] zhouxin-116 commented on #7426
@sijie
val pulsarReceiver = new SparkStreamingPulsarReceiver(
serviceUrl,
pulsarConf,
new AuthenticationDisabled()
)
// receiver DStream
val pulsarDStream = ssc.receiverStream(pulsarReceiver)
// process
pulsarDStream.foreachRDD(rdd => {
rdd.foreachPartition(partition => {
partition.foreach (row=>{

})
})
})

[2020-07-03 02:18] curryLzj opened #7438 "pulsar proxy"
Can the proxy be run in the background and the log path can be configured for a configuration item?just like broker/bookie

[2020-07-03 05:04] sijie opened #7441 "Perf client should produce and consume AVRO objects"
*Motivation*

We should use perf tool to benchmark producing and consuming messages using Schema.

[2020-07-03 05:45] Jennifer88huang commented on #7415
You can refine the sidebar.json in v2.5.0.

[2020-07-03 06:36] #7379 closed

[2020-07-03 07:46] rushsky518 commented on #7437
in `org.apache.pulsar.client.admin.internal.http.AsyncHttpConnector`
set daemon = true can solve this problem?
[code]

[2020-07-03 09:31] alexku7 opened #7443 "The broker gets errors "Failed to load topic within timeout" when one of the bookeepers has been restarted"
**Describe the bug**
When one of the bookeeepers pods (in kubernetes environment)  is restarted, part of the brokers can't recovered and starts to throw lot of error in the logs about timeouts. In most cases the only solution in that case is to restart the prbolematic broker

**To Reproduce**
Steps to reproduce the behavior:
1. Restart one of the bookeeper
2. Check logs in the broker pods.
3. You

[2020-07-03 10:04] Jennifer88huang commented on #6116
Thanks for raising the issue.
@sijia-w is working on this.

[2020-07-03 10:46] Anonymitaet commented on #6086
@addisonj many thanks for your help!
You can @me to review your doc PR once you submit.

[2020-07-03 11:24] codelipenghui commented on #6554
@feeblefakie Yes, thanks.

[2020-07-03 11:26] jiazhai commented on #6834
Seems this error is
[code]
The related method is
[code]

[2020-07-03 11:48] jiazhai commented on #6834
Seems this error is
[code]
looks like related to shade issue：
`org.apache.pulsar.shade.io.netty.buffer.ByteBuf`  < = > `io.netty.buffer.ByteBuf`

[2020-07-03 11:57] Jennifer88huang commented on #4981
@pouledodue Thanks for raising the issue.
We've updated the docs to sync with code changes for this files in multiple PRs.

To make sure to sync doc with code changes, we'd like to  fix it with a auto generator in https://github.com/apache/pulsar/issues/7412
If you can contribute such script, that would be great.

[2020-07-03 12:44] BewareMyPower commented on #7437
The reason is executors that were created by `delayer` to run timeout task were still running. Changing these threads to daemon is a way to solve the problem. Calling `delayer.shutdownNow()` in `AsyncHttpConnector.close()` method also works.

Would you like to push a PR? @rushsky518

[2020-07-03 13:57] Mefl opened #7445 "NPE when produce a message with null payload"
**Describe the bug**
When you produce a msg with a null payload, an NPE occurs on ConsumerStatsRecorderImpl.

[2020-07-03 15:07] jiazhai commented on #6834
`MessageCryptoBc` implements the interface of `MessageCrypto`. while `pulsar-client` did a shade to`ByteBuf`, and caused the method parameter changed from `org.apache.pulsar.shade.io.netty.buffer.ByteBuf` to `io.netty.buffer.ByteBuf`

[2020-07-03 18:56] BewareMyPower commented on #7327
I cannot reproduce the problem, assuming your code is like:

[code]

The running result:

[code]

Could you provide your log? In addition, could you use a higher version GCC to debug? Your backtrace lost some debug info because of libstdc++'s BUG, see [How we discovered why C++ exceptions disappear in stack trace](https://le.qun.ch/en/blog/libstdc++-bug/)

[2020-07-03 21:30] vzhikserg commented on #7445
This issue duplicates the existing one #7407

[2020-07-04 01:51] rushsky518 commented on #7437
i'd like to make a contribution @BewareMyPower

[2020-07-05 00:58] Shoothzj opened #7450 "Why start script does not contain gc log"
It is found that there is no gc log in the start script of Pulsar. Could you please tell me the trade-off?