[2019-03-04 22:28] merlimat commented on #3741
Irrespective of the `allowNull=true/false` question, I think:
 1. This seems to be a problem only with Avro generated code, in which there was a schema defined and we're extracting the wrong schema from the generated POJO
 2. This shouldn't be an issue when one defines an ad-hoc POJO (without starting from Avro schema), because annotations can be used to request nullable/non-nullable.

The easiest

[2019-03-04 23:41] srkukarni commented on #2489
2.3.0 added state support for python functions.
also we can access state table directly without functions using just a rest api.
However there is currently no way for a function to access other function's state.
And no autosync between compacted topic and a state table

[2019-03-05 00:28] sijie commented on #3741
@jerrypeng

That is the problem I am reporting this in the issue. Because Pulsar Avro Schema always set AllowNull and pulsar's users don't have the ability to bypass the AllowNull. My point here is Pulsar AVRO should not try to attach AllowNull.

@skyrocknroll exactly.

Jerry, that's a different feature.

The point here for a given POJO, Pulsar should maintain a basic contract: the schema generate

[2019-03-05 00:31] merlimat commented on #3741
Given a POJO generated by Avro, there is no way to determine whether this POJO was generated with a schema that allowed or not for null types.

It's a 100% correct solution for that case. I don't see what's limited about that.

[2019-03-05 00:40] merlimat commented on #3741
Though, I too think we should remove the AllowNull from the generator, but that's separate from the point that that alone won't guarantee we can generate the correct schema starting from the generated POJO.

[2019-03-05 00:51] jerrypeng commented on #3741
@sijie the contract you are creating when generating an avro schema using the ReflectData api is with the java class itself not some other tool or system.  If you want to provide a custom schema, we should have the way to do so.  These issues are connected.

Like I mentioned before, a user can create a Avro schema file with arbitrary fields set to null.  There is not way to get such information fr

[2019-03-05 02:13] sijie commented on #3741
@merlimat

The issue I am creating here is for `AllowNull`. We found `AllowNull` is a problem from 2 use cases: 1) the one reported by @skyrocknroll  2) the other use case that @codelipenghui hit.

The whole picture of @skyrocknroll `s problem is  avro file => avro generated pojo. a schema generated by avro file is not compatible by scheme generated by pulsar.AvroSchema(generated pojo). One of the

[2019-03-05 02:46] congbobo184 commented on #3741
#3752

[2019-03-05 02:47] jerrypeng commented on #3741
@sijie that not going to work.  If you take look at the java code generated by avro tools with a given schema file its going to be not what you expect.  And from that generated class there is no way for reflect data avro library to generate the same schema unless we do the trick @merlimat mentioned

[2019-03-05 03:08] sijie commented on #3741
@jerrypeng

we can do the trick for what @merlimat mentioned for addressing the specific problem of avro generated code. but that's the separate problem of AllowNull.

[2019-03-05 03:10] jerrypeng commented on #3741
@sijie actually this does work:

schema A => generated pojo => ReflectData.parse => schema B

Schema A == . Schema B

[2019-03-05 03:27] sijie commented on #3741
@jerrypeng

Glad we are on the same page now.

I don't think we need a migration plan. We just need a flag to tell whether `AllowNull` is used or not. Explained in #3752 . Migration is a nightmare. I don't want to touch it.

[2019-03-05 03:41] skyrocknroll commented on #3741
We are using avro because avro being an standard and guaranteed to work across different part of the  whole data pipeline. Any system we use in the pipeline we will just check does it adhere to avro standards. To add more clarity , We force every engineer to first create an avro schema and get it reviewed by data platform team. We generate pojo for  java , Python and go struts. Any system violatin

[2019-03-05 04:53] merlimat commented on #3741
@skyrocknroll I guess, for Python it might make sense to also allow to pass the JSON avro definition

[2019-03-05 05:05] skyrocknroll commented on #3741
@merlimat Yes, that would be awesome!

[2019-03-05 05:11] jerrypeng commented on #3741
@sijie @skyrocknroll I just experimented a little.

Given the schema that @skyrocknroll posted on the pulsar chat as an example:

[code]

I did some tests using the generated java class with the ReflectData schema generator:

[code]

They all produced the same result:

[code]

regardless of  whether AllowNull is set or not.  So my question still holds what exactly does removing AllowNull change?

[2019-03-05 05:25] jerrypeng commented on #3741
Here is actually the line of code that actually just gets the "SCHEMA" field regardless of the java class:
https://github.com/apache/avro/blob/release-1.8.2/lang/java/avro/src/main/java/org/apache/avro/specific/SpecificData.java#L277

[2019-03-05 05:29] sijie commented on #3741
@jerrypeng

I am surprised to see `{"name":"favorite_color","type":"string"}`is not a union type with `null` after using AllowNull.

so my question is how do you do the test? Is the User any kind of POJO class, or avro generated POJO class?

[2019-03-05 05:36] jerrypeng commented on #3741
@sijie The User class is an Avro generated class based on the schema file.

[code]

[2019-03-05 05:38] jerrypeng commented on #3741
@sijie That is the workflow you were worried about right? i.e.
[code]
and schema A should equal schema B

[2019-03-05 06:18] sijie commented on #3741
@jerrypeng I got a different result than yours

[code]

[2019-03-05 06:43] jerrypeng commented on #3741
@sijie I think the reason why ```AvroSchema.of(User.class)``` is producing a different result is because we shade all the Avro dependencies and that is interfering it from detecting that its a generated class, but  ```Avro Not AllowNull``` is the same as ```Avro Not AllowNull``` which we are using the exactly the later in AvroSchema.  Maybe we should figure out a way to getting the shading to work

[2019-03-05 06:56] jerrypeng commented on #3741
Here is a Test project i have created:

https://github.com/jerrypeng/TestAvro

I verified the reason why the AvroSchema part of the shaded pulsar-client library outputs a different schema is because of shading

[2019-03-05 06:58] sijie commented on #3741
@jerrypeng  correct. I added one more to complete the picture.

[code]

[code]

As you described above, AllowNull doesn't matter if the POJO is generated by AVRO, because AVRO will try to use `SCHEMA$` field to retrieve the schema. But If the POJO is not generated by AVRO, AVRO will attempt to parse it and AllowNull will generating two different incompatible schemas.

my tests avoid covered all th

[2019-03-05 07:08] jerrypeng commented on #3741
@sijie yup though I am not sure setting AllowNull is producing an incompatible schema.  Incompatible to what?  I guess if a user wrote some code:

[code]

and they didn't set allow null then it wouldn't be compatible with the current schema generated from AvroSchema but my implementation could just have easily set allow null.  Thus, this doesn't seem like big deal.  I think the bigger problem here

[2019-03-05 07:35] sijie commented on #3741
@jerrypeng `ReflectData.AllowNull` and `ReflectData` are generating two different incompatible schemas. I have been explaining to you guys in previous comments: my broader concern is NOT about generated POJO, is about using a same POJO class across many different systems using AVRO as the standard serialization format where people are using `ReflectData` not `ReflectData.AllowNull` (the second cas

[2019-03-05 10:17] ambition119 opened #3755 "pulsar docs codebase Not Found"
**Describe the bug**
pulsar codebase web html show info:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. https://pulsar.apache.org/docs/en/standalone/
2. Click on codebase
![image](https://user-images.githubusercontent.com/20353043/53798232-c971a280-3f72-11e9-8aea-cfe1e7cd09bd.png)
3. see error
![image](https://user-images.githubusercontent.com/20353043/53798274-d9898200-3f72-11e9-8a6a

[2019-03-05 13:04] skyrocknroll commented on #3741
Avro Schema compatability https://docs.confluent.io/current/schema-registry/docs/avro.html#compatibility-types

[2019-03-05 16:44] lelabo-marc commented on #2328
Seems to be a mistake in the PR referenced.
I think the PR fixing this issue is https://github.com/apache/pulsar/pull/2335.

[2019-03-06 00:26] jerrypeng opened #3762 "Shading Avro in pulsar-client"
**Describe the bug**

Because we shade Avro in the pulsar-client, the ReflectData API to get a schema from a POJO fails to get the correct schema for generated Avro java classes

**To Reproduce**

Given an avro schema:

[code]

Passing the generated java class from the above schema to the AvroSchema in pulsar-client produces the following result:

[code]

outputs:

[code]

which is incorrect while

[2019-03-06 00:29] jerrypeng commented on #3762
@sijie @merlimat I can think of two ways we can solve this problem:

1. We just unshade avro in the pulsar-client library.  May conflict with a user imported library, but is anyone using older version avro i.e. 1.7 or older which was released in like 2014

2. In our code we search for the "SCHEMA$" field in a generated avro class and get the schema ourselves.

[2019-03-06 00:55] jerrypeng opened #3763 "Pulsar Function Authorization"
After Pulsar Function Authentication is implemented, we also need to implement the authorization model for functions.

I propose we add the following methods to the AuthorizationProvider (https://github.com/apache/pulsar/blob/master/pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationProvider.java) interface:

[code]
We should also add an action to AuthAction for

[2019-03-06 00:55] jerrypeng commented on #3763
@srkukarni @sijie @merlimat what do you think?

[2019-03-06 01:11] rdhabalia commented on #3763
Do we really need separate `AuthAction` for function? function is going to produce/consume from a specific topic so, can't we authorize function's principal-identity for produce/consume action?

[2019-03-06 01:20] jerrypeng commented on #3763
@rdhabalia but is there a situation in which I want to user to be able to consume/produce in a namespace but not be able to create functions in that namespace?

[2019-03-06 01:42] rdhabalia commented on #3763
so, do we have plan to store function-authorization metadata into same global/metastore zk?
so far we are able to keep function metadata separate from broker's cluster metadata by storing them into function itself. So, can't we do the same for function auth data?

[2019-03-06 02:02] jerrypeng commented on #3763
@rdhabalia would there be a problem storing the function authorization data in zk?  It will be basically the same as the other authorization data right?  I would rather not complicate the implementation and store the function specific authorization data somewhere else.

[2019-03-06 03:28] ambition119 commented on #3570
@merlimat I run branch-2.3 and master code not error
![image](https://user-images.githubusercontent.com/20353043/53854071-fd94a400-4002-11e9-88d8-ece91c860da4.png)

[2019-03-06 04:01] sijie commented on #3762
Ideally I would prefer unshading avro, so people can even replace the avro version with a suitable and compatible version. However it has a lot of unknowns when those unknowns only happens when you hit them.

so the second approach sounds like a safer approach to me.

[2019-03-06 05:58] sijie commented on #3763
@jerrypeng

If I understand this correctly, there are two parts in this proposal?

One part is authorization for end-users, where a user has permissions to create/delete/update functions?

The one part is for a function, where a function can produce, consume messages?

Is that correct?  Or is it just about the first part?

[2019-03-06 07:38] congbobo184 opened #3765 "Pulsar Functions should support disabling AllowNull"
### Describe the bug

Currently AvroSchema makes all fields default allowNull

### Expected behavior

Need to fix the default allowNull becomes optional

### Additional context

N/A

[2019-03-06 07:42] jerrypeng commented on #3763
@sijie I propose that if a user has the permissions to CRUD functions in a namespace, he or she should automatically also be able to consume and produce messages to any topic in that namespace as well.

[2019-03-06 07:47] sijie commented on #3763
I don't have any problems with that.

[2019-03-06 08:21] codelipenghui commented on #3765
#3752 This PR is fix pulsar avro schema aways make fields allow null.
@jerrypeng May need to make some changes on the function side.

[2019-03-06 15:08] wolfstudy opened #3767 "[go functions] support go pulsar function"
The pulsar function is a very eye-catching feature, but there is currently no support for the go language. I am developing functions related to go functions. The related PIP documentation will be updated later.

[2019-03-06 19:16] rdhabalia opened #3768 "[pulsar-function] intermittent test failure due to deadlock"
[org.apache.pulsar.functions.worker.PulsarWorkerAssignmentTest.shutdown()](https://builds.apache.org/job/pulsar_precommit_java8/7046/testReport/junit/org.apache.pulsar.functions.worker/PulsarWorkerAssignmentTest/shutdown/) has intermittent failure due to deadlock into function-worker. Disabling this for now and we have to enable back once deadlock issue is fixed at function-worker.
[code]

[2019-03-06 19:37] grantwwu opened #3769 "Websocket interface does not decode URLencoding"
**Describe the bug**
The Pulsar websocket server does not appear to decode URL encoded URLs properly.  This leads to consuming from (and presuming producing to, but I didn't test this) the wrong topic.

**To Reproduce**
Steps to reproduce the behavior:
1. Attempt to consume from a *new* topic whose name includes an RFC 3986 reserved character.  For this bug report, I am using the topic name `publi

[2019-03-06 19:56] srkukarni commented on #3768
@rdhabalia Could you please add more color on what the dead lock is?

[2019-03-06 20:01] merlimat commented on #3768
I think he's referring to the `PulsarWorkerAssignmentTest` test getting stuck during shutdown. There's already #3749 to fix that...though the ehm challenge is to get all these flaky to pass at once.

[2019-03-06 21:07] jerrypeng commented on #3715
@grantwwu how often have you seen this happen?  Did you find the exceptions you listed above in function logs or worker/broker logs?  How are you running cluster? Standalone?

[2019-03-06 21:50] grantwwu commented on #3715
In broker logs.  Running in a 3 node cluster.

Unfortunately I'm not sure we can reproduce this anymore - it was breaking clusters frequently enough (once every 1 or 2 days?, with no obvious path to recovery) that we've downgraded to 2.2.1 entirely.

[2019-03-06 23:38] jiazhai opened #3773 "Update documentation for topic partitions auto update"
Update documentation for topic partitions auto update

[2019-03-06 23:57] merlimat commented on #3535
As @hrsakai pointed out, the fix was ineffective because applied on a code path that's not being used.

The problem is that that while the cursor is set as "inactive" in the beginning, a periodic check is flipping back the state to "active":

https://github.com/apache/pulsar/blob/43380523c5269c152f61b2aa8f7b70281c770d1d/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerI

[2019-03-07 01:55] wolfstudy opened #3774 "[go client] add go related tests and checks in jenkins"
**Is your feature request related to a problem? Please describe.**

At present, Jenkins does not check the unit tests and code specifications related to go. When we modify the unit test of go or add new code, we can only check it locally. For some code formats and specifications, we have no way. Do a good job of specification and unification

**Describe the solution you'd like**

Regarding the che

[2019-03-07 02:36] merlimat commented on #3535
Updated #3612 with correct fix

[2019-03-07 05:01] lxkaka commented on #3671
I have the same problem.
`pulsar-admin topics list public/default` or `pulsar-admin persistent list public/default`
show error
`null
Reason: javax.ws.rs.ProcessingException: java.net.SocketTimeoutException: Read timed out`
Os Ubuntu 16 04
Pulsar 2.3.0
 broker log output just same as @skyrocknroll posted
[code]
@skyrocknroll how did you make it work?

[2019-03-07 07:06] skyrocknroll commented on #3671
It was a dev cluster. For some reason, we redeployed the whole cluster and the issue went away

[2019-03-07 07:22] merlimat commented on #3671
Fix is in #3776

[2019-03-07 07:59] jiazhai opened #3777 "Documentation: link in standalone page failed"
http://pulsar.apache.org/docs/en/standalone/

![image](https://user-images.githubusercontent.com/6348208/53940813-94d82500-40f1-11e9-8648-466d5e344143.png)

This is because in 2.3.0 each connector is packaged into a separate nar.
We need to change the link from old:
`https://archive.apache.org/dist/pulsar/pulsar-2.3.0/apache-pulsar-io-connectors-2.3.0-bin.tar.gz`
into
`https://archive.apache.org/d

[2019-03-07 08:05] jiazhai opened #3778 "Documentation: change download link from archive.apache.org to dyn/mirrors"
In current website, some download like from apache, is linked to: `https://archive.apache.org/dist/pulsar`
It would be better to change to  [dyn/mirrors](https://www.apache.org/dyn/mirrors/mirrors.cgi?action=download&filename=pulsar) to get a faster download experience for user

[2019-03-07 09:35] lxkaka commented on #3671
@sijie does this issue belong to a bug ?

[2019-03-07 09:41] lxkaka commented on #3671
@merlimat thanks, got it. I want to know is this new version in product environment ready?

[2019-03-07 10:15] Brenda-Rickards-Bose opened #3779 "Pulsar Client: Ack Over Closed Connection With Broker"
**Describe the bug**
This is an issue with the Python client. In the case that the connection to the broker node has been closed unexpectedly, when `consumer.acknowledge` is called the client (sometimes?) tries to send an ack over the closed connection.

**To Reproduce**
Steps to reproduce the behavior:
We haven't been able to reliably reproduce this behavior. We've observed it in the wild with a

[2019-03-07 13:47] #3728 closed

[2019-03-07 16:48] david-streamlio opened #3780 "Inaccurate documentation for `availablePermits` in the admin-api-non-persistent-topics documentation"
**Describe the bug**
The current definition of the `availablePermits` property on the http://pulsar.apache.org/docs/en/admin-api-non-persistent-topics.html#get-stats page is as follows:

"availablePermits: The number of messages this consumer has space for in the client library's listen queue. A value of 0 means the client library's queue is full and receive() isn't being called. A nonzero value m

[2019-03-07 17:39] merlimat commented on #3779
@Brenda-Rickards-Bose Added fix in #3782 . Workaround for this, before 2.3.1 is out, is to just ignore the exception:

[code]

[2019-03-07 17:46] merlimat commented on #3778
@jiazhai Which ones are you referring to? Some of the link need to be on archive (eg: old versions and signatures)

[2019-03-07 23:11] #3689 closed

[2019-03-08 01:44] sijie commented on #3671
@lxkaka yes. this fix will be released in 2.3.1

[2019-03-08 03:09] lsy180829 opened #3788 "Pulsar standalone does not read zk port form conf/standalone.conf"
**Describe the bug**
When we run the order bin/pulsar standalone, it does not read the zookeeper port form the file in conf/standalone.conf.

**To Reproduce**
Steps to reproduce the behavior:
1. Modify the file in conf/standalone.conf. Add zookeeperServers like this:
zookeeperServers=127.0.0.1:2182
2. run the order: sh bin/pulsar standalone
3. See error.
09:59:20.184 [main] INFO  org.apache.zookee

[2019-03-08 03:13] lxkaka commented on #3671
@sijie. Now we use pulsar 2.3.0 in test environment and pulsar 2.2.0 in product environment. After new version released we plan to upgrade product env.  How Do you think this plan?

[2019-03-08 04:51] jiazhai commented on #3778
@merlimat Thanks for the reminder.  I see, will close this issue.

[2019-03-08 04:51] #3778 closed

[2019-03-08 09:31] sijie commented on #3716
@rsamo sorry that I forgot to follow up. can you share you bookkeeper.conf ?

[2019-03-08 09:35] sijie commented on #3671
@lxkaka

I would suggest you waiting for 2.3.1 and upgrade your test environment to 2.3.1. and then upgrade your production.

[2019-03-08 11:05] #3535 closed

[2019-03-08 11:06] #3779 closed

[2019-03-08 16:00] rsamo commented on #3716
Sure @sijie and thanks for the follow up.

bookkeeper.conf
[code]

[2019-03-08 16:33] #3734 closed

[2019-03-08 16:40] sautran commented on #3369
@ambition119 , thanks for fixing it!! The issue has been solved.

[2019-03-08 16:40] #3369 closed

[2019-03-09 03:53] #3686 closed

[2019-03-09 11:46] liketic commented on #3733
Thank you @jiazhai @sijie . The method ```subscribe``` https://github.com/apache/pulsar/blob/41b286dc0cc7b6ca3aa24acfccd53dfed547c0c5/pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/kafka/clients/consumer/PulsarKafkaConsumer.java#L215

lists all partitions for each topic and create a ```TopicPartition``` instance for each pair of them, and update the member variables ```con

[2019-03-10 02:51] ConcurrencyPractitioner commented on #2122
@sijie I could take on this isse. :)

[2019-03-10 02:58] sijie commented on #3733
@liketic

I see your point now. if we don't care about notifying `ConsumerRebalanceListener`, then we can just use `#topicsPattern(pattern)`.

so I would suggest introducing a `TopicPartitionListener` in pulsar consumer to receive the partitions. so pulsar will manage notifying the topic partitions, instead of us doing this in kafka wrapper. so the implementation in kafka wrapper would be somethin

[2019-03-10 02:59] sijie commented on #2122
@ConcurrencyPractitioner ok.

Assigned to @ConcurrencyPractitioner

[2019-03-11 01:23] #3755 closed

[2019-03-11 02:52] lxkaka commented on #3671
@sijie thanks, I will do it.
@skyrocknroll you can close this issue. thank you!

[2019-03-11 05:08] sijie commented on #3671
This has been fixed by #3776

[2019-03-11 05:08] #3671 closed

[2019-03-11 05:09] #3788 closed

[2019-03-11 08:26] #3780 closed

[2019-03-11 18:06] evgmitskevich opened #3799 "[java client] main class location problem with pulsar-client-admin 2.3.0"
**Description:**
In gradle project having these two files
[code]
[code]
there is problem after building jar: `java -cp jar-with-dependencies.jar examplepackage.Launcher` results in `Error: Could not find or load main class examplepackage.Launcher`.

I guess the reason is in transitive `org.bouncycastle` dependency, because excluding it eliminates the problem.

**Desktop:**
 - OS: Mac OS & Ubuntu

[2019-03-11 22:56] aahmed-se opened #3800 "cmake config are not valid for windows"
Current Cmake config doesn't not work for non gcc compilers in windows

[code]

[2019-03-11 23:07] aahmed-se commented on #3800
[code]

[2019-03-11 23:20] aahmed-se commented on #3800
"C:\Users\test\pulsar\pulsar-client-cpp\pulsar-cpp.sln" (pulsarShared target) (1) ->
"C:\Users\test\pulsar\pulsar-client-cpp\lib\pulsarShared.vcxproj.metaproj" (default target) (2) ->
"C:\Users\test\pulsar\pulsar-client-cpp\lib\pulsarShared.vcxproj" (default target) (4) ->
(ClCompile target) ->
  cl : Command line error D8021: invalid numeric argument '/Werror=switch' [C:\Users\test\pulsar\pulsar-

[2019-03-11 23:21] aahmed-se commented on #3800
Build FAILED.

"C:\Users\test\pulsar\pulsar-client-cpp\pulsar-cpp.sln" (pulsarShared target) (1) ->
"C:\Users\test\pulsar\pulsar-client-cpp\lib\pulsarShared.vcxproj.metaproj" (default target) (2) ->
"C:\Users\test\pulsar\pulsar-client-cpp\lib\pulsarShared.vcxproj" (default target) (4) ->
(ClCompile target) ->
  cl : Command line error D8021: invalid numeric argument '/Wno-deprecated-declarations'

[2019-03-12 01:34] merlimat commented on #3763
The important part here is to have consistent way to declare and enforce authorization across topics and functions.

The authorization is already abstracted and pluggable through the `AuthorizationProvider`. This is to add the "function operations" action as one of the possible actions one can do in the system (other than "produce" and "consume").

Where the authorization is stored depends on the

[2019-03-12 05:51] Tevic commented on #3177
I've figure out why and test success.
`
https://github.com/apache/pulsar/pull/3801
`
But if use DeserializeMessageID and use consumer.AckID it will panic, i don't know what cause the panic.
`
fatal error: unexpected signal during runtime execution
[signal SIGSEGV: segmentation violation code=0x1 addr=0x8 pc=0x7fdbd4e1127f]

runtime stack:
runtime.throw(0x517df2, 0x2a)
        /home/tevic/Work/RunT

[2019-03-12 07:07] wolfstudy opened #3802 "[go client] cannot use size (type _Ctype_int) as type _Ctype_ulong"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**

build success

**Desktop (please complete the following information):**
 - OS: MAC OS
 - go: go 1.11.4

[2019-03-12 07:11] wolfstudy commented on #3802
At first, I think it is a problem that go is inconsistent with the version of cpp client. so, exec `go clean -modcache` , `go mod tidy` again. Unfortunately, I still encountered the same problem.

[2019-03-12 07:19] wolfstudy commented on #3767
[PIP-32: Support Go Function - API, Instance and LocalRun](https://gist.github.com/wolfstudy/773871ee0d24643f8111ccfa055b2f26)

[2019-03-12 09:39] sijie opened #3803 "Make ManagedLedger read batch size configurable"
*Motivation*

We should make managed ledger read batch size configurable. These settings include:

- MaxBatchSize
- MinBatchSize that read entries being throttled on encountering failures

[2019-03-12 09:41] sijie opened #3804 "ManagedLedger should streamline the read requests"
*Problems*

Currently managed ledger read entries in a very large batch requests - 100 entries by default. This is an inefficient approach. We should streamline the read requests like what dlog is doing.

[2019-03-12 09:43] sijie opened #3805 "Pulsar should use bookkeeper's default values"
*Motivation*

Currently Pulsar overrides some bookkeeper default values. For example, `maxPendingReadRequestsPerThread`. I would suggest making them using the default values provided by bookkeeper, rather than overriding the values in pulsar. This would make things much clearer and easier to maintain.

[2019-03-12 09:50] jiazhai opened #3806 "NPE in PartitionedProducerImpl##ProducerStatsRecorderImpl"
**Describe the bug**
meet NPE while call PartitionedProducerImpl.getStats()

**Screenshots**
![image](https://user-images.githubusercontent.com/6348208/54190161-4ad6b100-44ee-11e9-8044-03cdf725c177.png)

**Additional context**

In PartitionedProducerImpl, the stats instance(ProducerStatsRecorderImpl) is init like this.
[code]

while  in ProducerStatsRecorderImpl(), all member is set to null;
[code

[2019-03-12 10:05] jiazhai opened #3807 "Ledger Offload error when use S3 type"
**Describe the bug**
User use setting :
[code]
for ledgerOffload, and meet error when start broker:
[code]
**Additional context**
In Offload, we leverage [jclouds](https://jclouds.apache.org/reference/providers/#blobstore-providers) to support different blob store provider, in which type "s3" and "aws-s3" are different.
"aws-s3" is for service provided by Amazon S3;
while "s3" is for service that

[2019-03-12 14:05] sijie commented on #3804
I have seen in a production deployment the consumer can never catch up if bookie's avg read latency is 10+ms bad due to the disk and other workloads running on same machine. the problem can potentially be mitigated if we can have a proper readahead mechanism in managed like what dlog is doing.

[2019-03-12 16:30] david-streamlio opened #3809 "Source jars do not contain any source code"
**Describe the bug**
The source jar published to http://central.maven.org/maven2/org/apache/pulsar/pulsar-client-admin/2.3.0/pulsar-client-admin-2.3.0-sources.jar, does not contain any source code

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://central.maven.org/maven2/org/apache/pulsar/pulsar-client-admin/2.3.0/'
2. Click on 'pulsar-client-admin-2.3.0-sources.jar' to download

[2019-03-12 17:56] merlimat commented on #2662
tracked in #3767

[2019-03-12 17:56] #2662 closed

[2019-03-12 17:56] merlimat commented on #3767
@wolfstudy Added to the wiki at https://github.com/apache/pulsar/wiki/PIP-32%3A-Go-Function-API%2C-Instance-and-LocalRun
Please send email to dev@ list to start discussion

[2019-03-12 21:21] klevy-toast opened #3810 "Allow AuthenticationProviderToken to be configured to accept different claims"
**Is your feature request related to a problem? Please describe.**
I would like to use the AuthenticationProviderToken plugin with tokens that conform to the OAuth standard, but not necessarily the JWT standard, and identify the client by an arbitrary claim, not necessarily the "subject" claim (which is taken from line 109 of `AuthenticationProviderToken.java` : `            return jwt.getBody().g

[2019-03-12 23:16] merlimat commented on #3810
@klevy-toast Seems to be a good enhancement to have. Do you plan to work on it?

[2019-03-12 23:17] #3803 closed

[2019-03-13 02:42] wolfstudy commented on #3767
@merlimat Thanks for your reply, I have sent the corresponding email to dev@ list.

[2019-03-13 08:07] wolfstudy opened #3813 "[go client] Pointers vs. values in parameters"
In pulsar-client-go, all of the structures we define are passed using values, but if the structure itself is large, using value passing sometimes causes a lot of memory copies.

eg:

[code]
If we use pointers to pass, we will save a lot of resources.

[2019-03-13 08:07] wolfstudy commented on #3813
[https://golang.org/doc/faq#methods_on_values_or_pointers](https://golang.org/doc/faq#methods_on_values_or_pointers)

[2019-03-13 09:04] klevy-toast commented on #3810
@merlimat Yup I am happy to

[2019-03-13 09:19] sde-melo commented on #3715
I confirm that it happens quite a lot.  Pulsar deployed on EKS with 2 brokers and 3 bookkeepers.  A function is deployed, works well and after a few hours the function worker service becomes broken: "Function worker service is not done initializing. Please try again in a little while." and the brokers logs are full of this stack trace.

[2019-03-14 02:23] Tevic commented on #3813
In my opinion what you list it is a one-time costs,not the point. What‘s the point is that ProducerMessage struct used in producer.Send, copy occurs every time when produce. But if you refractor the code, sdk will not be forward compatible.

[2019-03-14 07:50] Archerxy opened #3820 "failed to load RocksDB jni library"
pulsar version 2.3
java version java8
rocksdbjni-5.13.1

At first I got an error: "invalid -XX:MaxDirectMemory=4g"  (default config) and  "The specified size exceeds the maximum representable size.".
Then I changed it to 3g and I got "failed to load RocksDB jni library"

Here's the error now:
Exception in thread "main" java.io.IOException: Failed to load RocksDB JNI library
	at org.apache.bookkeep

[2019-03-14 08:06] #3820 closed

[2019-03-14 09:15] murong00 opened #3822 "Add a sink connector to export stream data to Alluxio"
[Alluxio](https://www.alluxio.org/) is an open-source virtual distributed file system that provides a unified data access layer for hybrid and multi cloud deployments. For some application cases, someone may expect to provide a sink connector to export pulsar messages to Alluxio.

[2019-03-14 17:30] #3810 closed

[2019-03-15 03:40] sijie opened #3828 "Pulsar SQL is not able to read the latest message"
**Describe the bug**

Pulsar SQL is always lacking one message when querying pulsar topics.

**Expected behavior**

"read-my-write" semantic.

if I write a bunch of messages to pulsar topics, and issue a query after "my-write", I should be able to query all the messages I written.

**Reason**

The problem is due to broker doesn't advance LAC, so when pulsar sql bypasses broker to query the data, i

[2019-03-15 06:29] jerrypeng commented on #3828
@sijie yup have discussed this issue before with @merlimat but we decided not to take any action at that time because we reasoned that Pulsar is a streaming system thus we expect users to continuously pump data into pulsar and not just one time batch thus this wouldn't be an issue since LAC will eventually get updated if there is continuous data

[2019-03-15 06:45] sijie commented on #3828
@jerrypeng this is not just about not being able to read the event, but also about the latency (how fast it can query the data). current assumption is assuming there are are events "eventually" arrive and advance the LAC, which will significantly delay the messages being visible to users if the events are delayed. so I think we still need to enable explicit write lac on broker, so the lac will be

[2019-03-15 07:00] jerrypeng commented on #3828
@sijie I totally agree we should add something like this.  I was just presenting some previous thoughts we have had on this problem.

[2019-03-15 09:12] sijie commented on #3807
@jiazhai are you working on this bug?

[2019-03-15 11:13] sijie opened #3831 "[schema] support timestamp/date schema"
**Is your feature request related to a problem? Please describe.**

`timestamp` or `date` is a typical type supported in other data systems. we need to support `timestamp` or `date` type in pulsar. so we can add this in schema builder.

[2019-03-15 15:02] ambition119 commented on #3831
is java.sql.Date/Time/Time/Timestamp?

[2019-03-15 18:01] tcbuzor opened #3832 "io.netty.handler.codec.TooLongFrameException: Adjusted frame length exceeds 5242880: 369295620 - discarded"
**Describe the bug**
I installed Apache pulsar 2.3.0 and set up TLS by following the steps described in https://pulsar.apache.org/docs/en/security-tls-transport/
When I use the client in the pulsar distribution, I get the TooLonFrameException

11:36:56.866 [pulsar-io-49-3] INFO  org.apache.bookkeeper.mledger.impl.ManagedCursorImpl - [public/functions/persistent/coordinate-participants] Rewind from

[2019-03-15 18:15] merlimat commented on #3832
@tcbuzor this looks like a mismatch between client and server on whether TLS is enabled (eg: connecting with TLS on a non-TLS port or vice-versa)

the regular client command (`pulsar-client -n 0 -s "TEST" TEST_TOPIC`) will connector to `pulsar://localhost:6650` without TLS.

Use `pulsar-client --url pulsar+ssl://localhost:6651 ... ` to have the client use TLS when connecting.

[2019-03-15 19:01] geyrix57 opened #3833 "Error offloading:"
I'm getting this error when trying to manually offload a topic to s3 bucket.

#### Broker config
managedLedgerOffloadDriver=aws-s3
s3ManagedLedgerOffloadRegion=us-west-2
s3ManagedLedgerOffloadBucket=mybucket
s3ManagedLedgerOffloadServiceEndpoint=https://mybucket.blabla.blabla.com/

#### Error

[code]

It doesn't matter what region a use in s3ManagedLedgerOffloadRegion I'm always getting the same e

[2019-03-15 23:07] tcbuzor commented on #3832
I got the same exception with the url option. B/W, I already added the following to the CLI:
webServiceUrl=https://broker.example.com:8443/
brokerServiceUrl=pulsar+ssl://broker.example.com:6651/
useTls=true
tlsAllowInsecureConnection=false
tlsTrustCertsFilePath=/path/to/ca.cert.pem
tlsEnableHostnameVerification=false

[2019-03-16 13:17] sijie commented on #3211
Issue #3836 will fix it

[2019-03-16 13:20] sijie commented on #2786
@sjchicks

Pull request #3836 will fix the issue of step 1-5.

The reason why step 6 doesn't work is - when a topic is deleted, the schema of the topic isn't deleted. This is kind of by-design, for keeping the history for the schema of a topic. However we can provide a flag at deleting topic to remove schema when deleting a topic. I will create a separate issue for that.

[2019-03-16 13:27] sijie opened #3837 "Provide an option to delete schema when deleting a topic"
**Is your feature request related to a problem? Please describe.**

Currently the lifecycle of schema is not tied to the lifecycle of a topic. So when a topic is deleted, the schema might still be there. This will result in an unexpected behavior when people try to delete a topic to resolve schema incompatibility issue. See description at issue #2786

**Describe the solution you'd like**

Either w

[2019-03-16 13:27] sijie commented on #2786
Created #3837 for deleting schema as part of deleting topic

[2019-03-16 15:23] shiv4289 opened #3838 "Allow incompatible schemas to co-exist on a topic, allow set-schema-autoupdate-strategy = none"
**Is your feature request related to a problem? Please describe.**
The set-schema-autoupdate-strategy policy currently allows disabling schema update (--disabled) and one of --compatibility(FULL, BACKWARD, FORWARD). There is no way to currently allow multiple schemas for a topic.

**Describe the solution you'd like**
 It would be useful to allow --compatibility so the schemas can be added without

[2019-03-16 15:41] shiv4289 opened #3839 "Document default of schema-autoupdate-strategy : FULL"
**Describe the bug**
Doc bug. The document is missing default value for schema-autoupdate-strategy compatibilty

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://pulsar.apache.org/docs/en/pulsar-admin/#set-schema-autoupdate-strategy
2. In the options sections see the empty default box in front of compatibility.

**Expected behavior**
Document default value which is FULL

**Screen

[2019-03-16 16:39] ConcurrencyPractitioner commented on #2122
Hi, Just a meta-comment.
The backoff strategy in Pulsar is implemented by a class literally named ```Backoff```. I noticed that this particular class is used in both pulsar-broker and pulsar-client. So I'm curious:  should we only make the backoff in pulsar-client configurable or should the backoff strategy in pulsar-broker also be configurable? Thought it might be related.

[2019-03-16 19:49] shiv4289 commented on #3839
Got a patch for this in forked repo. Will send PR once issue #3838 is merged. The changes will conflict otherwise.

[2019-03-17 01:49] shiv4289 commented on #3839
Here is the fix for this: https://github.com/apache/pulsar/pull/3842

[2019-03-17 05:45] liangyuanpeng commented on #3294
It may already be working in version 2.3.0
i tried and i got it
[code]

[2019-03-17 10:00] jiazhai commented on #3807
@sijie doing it

[2019-03-17 16:03] sijie commented on #3294
@liangyuanpeng yes there were bunch of fixes on kafka source in 2.3.0

[2019-03-18 08:38] se7enkings opened #3850 "The numberOfRecords is always not more than 1 in pulsar-kafka-wrapper-consumer"
**Describe the bug**
- When the loop begin, "++numberOfRecords " is 1, so  "[++numberOfRecords < MAX_RECORDS_IN_SINGLE_POLL](https://github.com/apache/pulsar/blob/da2bb660461345f11446635298c2fdd35955ac32/pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/kafka/clients/consumer/PulsarKafkaConsumer.java#L357)" is true, which will lead to the loop exit right now.
- As a result, t

[2019-03-18 09:34] murong00 opened #3851 "java.net.BindException when starting broker via the config initialized in cluster metadata"
**Describe the bug**
Someone may change the port of service urls via `initialize-cluster-metadata` following the [Deploying a Pulsar instance](https://pulsar.apache.org/docs/en/deploy-bare-metal/) guide when the default ports (e.g. `8080`) have been already used:
[code]
However, when trying to start a broker after initializing the above cluster metadata, it results in the following Exception:
[cod

[2019-03-18 12:32] wolfstudy commented on #3813
Yes, this is also a point I am struggling with. As you have described, if there are some places where we can replace the value with point, I think this is a good idea. How to implement it, we can listen to the view of @merlimat .

[2019-03-18 12:51] wolfstudy opened #3855 "[go client]support schema functions for go client"
**Describe the solution you'd like**

While implementing the `go function`, I found that pulsar-client-go does not support schema-related functions. This is one of the reasons why the input and output of the current `go function` only support []byte. In the next time, I will try Understand and support the functions related to go schema

[2019-03-18 22:41] cckellogg opened #3860 "Unable to update builtin sink/source from cli or rest api"
**Describe the bug**
Updating a builtin sink/source from the cli does not work

**To Reproduce**
Steps to reproduce the behavior:
`CLI`
1. Create a builtin sink/source
[code]
2. Try up update the sink with cli
[code]
output:
[code]

3. Try to update the sink through the rest endpoint

data-gen-sink-config.json
[code]

[code]

[2019-03-19 13:08] #3807 closed

[2019-03-19 15:19] #2786 closed

[2019-03-19 15:19] #3211 closed

[2019-03-19 15:22] #3652 closed

[2019-03-19 15:25] #3741 closed

[2019-03-19 15:31] #3712 closed

[2019-03-19 15:50] #3838 closed

[2019-03-19 17:37] #3850 closed

[2019-03-19 17:37] #3806 closed

[2019-03-19 17:41] merlimat commented on #3828
Yes, we should have a way to configure the explicit LAC update on the topics and have some reasonable default.

Though, should this be for 2.3.1? I think it would more be appropriate for 2.4 since it's not a bug.. but rather a current limitation.

[2019-03-19 17:41] #3773 closed

[2019-03-19 19:13] #3839 closed

[2019-03-20 06:42] murong00 opened #3867 "Provide the description of sink/source command for better usage"
**Describe the bug**
Currently, it shows as bellow when providing zero args in command `sink` or `source`:
[code]
It is better to show the description of subcommands when missing some parameters.

**Expected behavior**
[code]

[2019-03-20 10:19] chrismiller commented on #3837
One use case for this is during development, when the schema is still in a state of flux. Currently for every incompatible schema change a new topic has to be created (e.g. MyTopic_v1, MyTopic_v2, ...). This makes testing and releasing (with the desired production topic name) more difficult than it should be.

[2019-03-21 02:10] jerrypeng opened #3873 "Exception when getting function stats"
**Describe the bug**
Exception when getting function stats

[code]

May happen when instance is not fully initialized?  Need to check null

[2019-03-21 15:57] markmarijnissen commented on #3211
Is there a workaround available for Pulsar 2.3.0, other than starting an entirely new topic which doesn't have soft-deleted schema's?

[2019-03-21 15:59] david-streamlio opened #3877 "Read timeout when listing topics"
**Describe the bug**
A socket timeout occurs when we issue the following command from the pulsar-admin CLI:

./pulsar-admin topics list auto/electric

**To Reproduce**
Steps to reproduce the behavior:
1. Start Pulsar in Standalone mode
2. Create a persistent topic named persistent://auto/electric/tesla`
3. Run the following command using the admin CLI tool `./pulsar-admin topics list auto/electric

[2019-03-21 16:04] david-streamlio opened #3878 "Read timeout on Presto query"
**Describe the bug**
Unable to retrieve schema for a persistent topic using the Presto SQL engine

**To Reproduce**
1. Start Pulsar in Standalone mode
2. Create a persistent topic named persistent://auto/electric/tesla`
3. Start the Presto SQL engine
4. Run the following command using the admin CLI tool ./pulsar-admin topics list auto/electric

presto> show schemas in pulsar;
       Schema
-------

[2019-03-22 04:33] tuan6956 opened #3882 "disableReplication in MessageBuilder does not work in PulsarClient C++ and Java"
**Describe the bug**
Data is still replicated when disableReplication is enabled

**To Reproduce**
Steps to reproduce the behavior:
1. Setup Geo-Replication with 3 cluster(A,B,C)
2. Set disableReplication = true in MessageBuilder
[code]
3. Producer create connect in cluster C and send  ```Message msg```
[code]
**Actual output is**
1. Cluster A
[code]
2. Cluster A
[code]
3. Cluster C
[code]
**Expec

[2019-03-22 04:55] merlimat commented on #3882
@tuan6956 It should be `disableReplication(true)` rather than `false`

[2019-03-22 05:10] tuan6956 commented on #3882
@merlimat sorry, i edit it but disableReplication not work

[2019-03-22 10:40] fananchong opened #3883 "Error go get pulsar: fatal: unable to access 'https://gopkg.in/natefinch/lumberjack.v2/'"
**Describe the bug**
I executed the command:
[code]
Output:
[code]

[2019-03-22 12:20] skyrocknroll commented on #3883
@fananchong seems like a connectivity issue. did you try again?

[2019-03-22 12:35] fananchong commented on #3883
I try again, now this issue is pass. But have a new issue:
[code]

[2019-03-22 13:25] murong00 opened #3884 "Pulsar IO connector for Solr Sink"
For some application cases (e.g. Log Aggregation), it is helpful to provide a sink connector to transfer pulsar messages to Solr.

[2019-03-22 14:08] skyrocknroll commented on #3883
You need to install pulsar c++ client package. Go client is  a wrapper on top of c++ client https://pulsar.apache.org/docs/latest/clients/Cpp/

[2019-03-22 15:33] gkatiforis opened #3886 "Running pulsar 2.3.0 locally as standalone throws an exception"
**Describe the bug**
I am trying to run pulsar 2.3.0 locally as standalone but i am getting an exception upon startup. I have successfully run it with pulsar 2.2.1. This is the corresponding [stack trace](https://github.com/apache/pulsar/files/2997143/pulsar-logs.txt).

**To Reproduce**
Steps to reproduce the behavior:

Follow the instructions [here](https://pulsar.apache.org/docs/en/standalone/)

[2019-03-22 19:05] lovelle commented on #3886
Hi!

The problem here is that there are not enough threads for jetty to initiate. One way I found to reproduce this on linux box is: `taskset -c 0 ./bin/pulsar standalone`

Also, I wasn't able to reproduce this with latest changes (master version) therefore, this issue might be already solved for future release 2.4, but is probably worth the effort to found it and backport the fix to 2.3 version,

[2019-03-22 19:09] merlimat commented on #3886
This was fixed in #3776 and it's scheduled for 2.3.1 release

[2019-03-22 19:12] lovelle commented on #3886
Oh great! I was driving crazy trying to find where the num of threads are being defined, thanks @merlimat !

[2019-03-24 09:40] #3886 closed

[2019-03-25 00:56] jerrypeng commented on #3878
I think this is the same issue as https://github.com/apache/pulsar/issues/3877

[2019-03-25 02:21] wolfstudy commented on #3883
@fananchong hello , now `pulsar-client-go` use the package management method of `go mod`, you first need to build `pulsar-client-cpp`, then you can use:
[code]
to get the required dependencies without having to get it separately.

[2019-03-25 03:14] fananchong commented on #3883
I follow https://github.com/apache/pulsar/issues/3883#issuecomment-475634546 , execute like：
[code]
now build pass

[2019-03-25 03:33] fananchong commented on #3883
have 1 new issue:
[code]

[2019-03-25 03:40] fananchong commented on #3883
I execute `sudo ldconfig`  ， now it's working.

[2019-03-25 03:40] #3883 closed

[2019-03-25 06:45] wolfstudy commented on #3802
I upgraded to the corresponding version, now its working

[2019-03-25 06:45] #3802 closed

[2019-03-25 10:04] ambition119 opened #3895 "master branch non-partitioned topics create 500 Request failed"
**Describe the bug**
topic create
[code]
then standalone info :
[code]

**To Reproduce**
$ bin/pulsar standalone
$ bin/pulsar-admin topics create persistent://public/default/topic_1

**Expected behavior**
create topic success.

[2019-03-25 10:12] ambition119 commented on #3895
Doubt is PR #3625  add internalCreateNonPartitionedTopic function occur this error.

[2019-03-25 13:49] svolland opened #3896 "ElasticSearchSink throws an NPE on records having a null key"
**Describe the bug**
ElasticSearchSink throws NPEs on records having an empty key. There is an error in the extractKeyValue() method on the line extracting the key:
`String key = record.getKey().orElseGet(null);`
This probably should be corrected to:
`String key = record.getKey().orElse(null);`

**To Reproduce**
Run an ElasticSearchSink on a topic which records have empty keys

**Expected behavior

[2019-03-25 20:19] sautran commented on #3402
@sijie, I saw this same issue when I used the minikube for the pulsar setup. It is in the broker log.
Has the issue been fixed?

I followed instruction in http://pulsar.apache.org/docs/en/deploy-kubernetes/
minikube start --memory=8192 --cpus=4

[2019-03-26 05:42] sijie opened #3901 "Functions/Source/Sink REST API page can't be loaded"
**Describe the bug**

http://pulsar.apache.org/functions-rest-api/ isn't loaded.

**Screenshots**
<img width="1666" alt="Screen Shot 2019-03-25 at 10 39 18 PM" src="https://user-images.githubusercontent.com/1217863/54973883-1a136480-4f4f-11e9-8cfd-d3757e6cc8e6.png">

**Context**

It might be related to #3871

See comment at https://github.com/apache/pulsar/pull/3871#pullrequestreview-217072136

[2019-03-26 05:44] sijie commented on #3901
@srkukarni ^

[2019-03-26 11:20] Xlingxiao opened #3903 "link failure"
An error occurred while installing the Pulsar-connectors

$ wget https://archive.apache.org/dist/pulsar/pulsar-2.3.0/apache-pulsar-io-connectors-2.3.0-bin.tar.gz

HTTP Code is 404

[2019-03-26 14:09] liangyuanpeng commented on #3903
repeated  #3292

[2019-03-26 16:28] srkukarni commented on #3901
That's wierd. Its interesting because this works on the laptop. I will send out a pr to revert it but any chance we can test it to make sure it works on apache infra?

[2019-03-26 17:22] #3896 closed

[2019-03-26 21:18] cavanaug commented on #3715
This is a blocking item for us as well...

[2019-03-26 22:41] prakashsaraf7 opened #3906 "Multi-Topic subscription across tenant and namespace in Java client"
The document suggest that we can create a multi-topic subscription across different namespaces. However, in MultiTopicConsumerImpl.java - there are explicit check to make sure all topics belong to one namespace only.
Can you please clarify, if it is possible to create multi-topic subscription across tenant and namespace? Or is it documentation bug?

[2019-03-26 22:48] jerrypeng commented on #3715
I have not seen this error so far on our deployments.  Can anyone provide any more logs or stacktraces?

[2019-03-27 00:12] devinbost opened #3908 "Pulsar source/sink creation fails when using JSON config values"
**Description**
When executing `pulsar-admin source create` or `pulsar-admin sink create`, the created source/sink fails to operate as expected when config values are specified via JSON rather than via a config file.
Being able to create sources and sinks with inline JSON is particularly important for our CI/CD automation because it gets complicated if we need to track a lot of config files

**To

[2019-03-27 02:05] ambition119 commented on #3903
this issue PR #3793

[2019-03-27 04:31] lovelle commented on #3895
Hi @ambition119, I made pr #3910 in order to assist you trying to fix this issue, please take a look when you find the time.

[2019-03-27 05:13] Xlingxiao commented on #3903
Please tell me which connector I should download if I need to use Pulsar SQL

[2019-03-27 05:43] ambition119 commented on #3903
just use sql function not necessary connector, doc info:
http://pulsar.apache.org/docs/en/sql-getting-started/

[2019-03-27 05:46] Xlingxiao commented on #3903
Many thanks

[2019-03-27 05:58] sijie commented on #3799
@evgmitskevich it seems you already find a solution to fix the issue. what else we can do for this issue here?

[2019-03-27 05:59] ambition119 commented on #3903
You are welcome, welcome to use and ask questions or create issue.

[2019-03-27 06:05] ambition119 commented on #3895
well done, I close my PR.

[2019-03-27 06:05] sijie commented on #3809
pulsar-client and pulsar-client-admin are shaded jars. so I don't think it is trivial to support source jar for shade jars.

[2019-03-27 06:08] sijie commented on #3828
@merlimat we can move this to 2.4.0

[2019-03-27 06:12] sijie commented on #3832
@tcbuzor does this happen constantly?

[2019-03-27 06:18] jiazhai commented on #3833
@geyrix57 , If you are using other blobstore provider rather than "aws-s3",
you should use config:
[code]
Seems currently there was some regression. I am still trying to fix "s3" type. will update this issue once fixed.

[2019-03-27 06:20] sijie commented on #3873
This has been fixed by #3891

[2019-03-27 06:21] #3873 closed

[2019-03-27 06:24] skyrocknroll commented on #3906
@prakashsaraf7 You can create multiple producers one per namespace and consume.

[2019-03-27 06:30] sijie commented on #3901
thank you @srkukarni

[2019-03-27 06:41] sijie commented on #2799
@MrThreepwood I think the documentation in the latest website is correct. You were checking the old website.

Closing this issue for now. If you need more help from us, feel free to reopen it.

[2019-03-27 06:41] #2799 closed

[2019-03-27 06:45] sijie commented on #2793
hostname verification has been added by #1215

[2019-03-27 06:51] sijie commented on #2731
close this as it seems to be not a problem.

[2019-03-27 06:51] #2731 closed

[2019-03-27 06:55] sijie commented on #2190
this has been implemented by #1996

[2019-03-27 06:55] #2190 closed

[2019-03-27 06:56] sijie commented on #917
close this since no one asks for it.

[2019-03-27 06:56] #917 closed

[2019-03-27 06:57] sijie commented on #1007
close it since there is no activities. please reopen it if there is anything required to be done here.

[2019-03-27 06:57] #1007 closed

[2019-03-27 07:02] sijie commented on #2664
Here is the PIP for supporting transactions: https://docs.google.com/document/d/145VYp09JKTw9jAT-7yNyFU255FptB2_B2Fye100ZXDI/edit#heading=h.40v9f3564x7t

I will break down this PIP into tasks and update the tasks here. This issue will be used as an anchor for all transaction related tasks.

[2019-03-27 09:42] tuteng commented on #3908
@devinbost Is there a problem with startup in mode standalone? Can you provide some log information?

[2019-03-27 10:23] ivankelly commented on #2793
@sijie that change only added the implementation. documentation needs to be updated too.

[2019-03-27 10:41] murong00 commented on #3908
@tuteng @devinbost I think the PR #3432 may occur this error when using `load(Map<String, Object> map)` which added a variable `Map<String, Object>` for properties.

[2019-03-27 10:46] murong00 commented on #3908
@sijie @jiazhai How do you think about this? I guess we should use a `CustomMapDeserializer` on this field to deseralize the config Map to the specific class. If so, I will work on this.

[2019-03-27 15:42] zarrarrana commented on #3715
We are getting the same issue when we enable the token authentication and authorization in the broker. I have tried setting clientAuthenticationPlugin and clientAuthenticationParameters in the functions_worker.yaml and that's when we we get the above error. It also fails without setting the token.
I have also tried setting authenticationEnabled but no luck. The functions worker is running inside t

[2019-03-27 15:47] #3895 closed

[2019-03-27 15:47] sijie commented on #3895
This is fixed by #3910

[2019-03-27 15:49] zarrarrana commented on #3715
Also we are running the pulsar cluster in kubernetes with functions_worker running inside the broker pod.

[2019-03-27 16:41] lovelle commented on #3877
Hi! @david-streamlio I wasn't able to reproduce this on master branch.
My set of steps trying to reproduce this were (all went ok):

[code]

Maybe I missed something ?

[2019-03-27 17:03] prakashsaraf7 commented on #3906
So, if I understand correctly, we will have to create multiple consumers, one per namespace and use it for processing? In that case, I suggest correcting the documentation - where it indicates, I can have one consumer for multiple topics spanning across namespaces.

[2019-03-27 18:10] yciabaud opened #3916 "Serialization error when encoding schema with subrecords in python client"
It seems that the schema support in the client 2.3.0 on python 3.7 is not working with subrecords.

This example produces an error when encoding ():

[code]
Is there something I missed in the implementation? I tested with `AvroSchema` with no success.

I expected the client to use a custom encoder that would have encoded the subrecord.

What do you think?

[2019-03-27 23:52] zarrarrana commented on #3715
@jerrypeng. Here are the logs.

`[conf/pulsar_env.sh] Applying config PULSAR_GC = "-XX:+UseG1GC -XX:MaxGCPauseMillis=10"
[conf/pulsar_env.sh] Applying config PULSAR_MEM = "-Xms15g -Xmx15g -XX:MaxDirectMemorySize=15g -Dio.netty.leakDetectionLevel=disabled -Dio.netty.recycler.linkCapacity=1024 -XX:+ParallelRefProcEnabled -XX:+UnlockExperimentalVMOptions -XX:+AggressiveOpts -XX:+DoEscapeAnalysis -XX:

[2019-03-28 03:04] jerrypeng commented on #3715
[broker (1).log](https://github.com/apache/pulsar/files/3016028/broker.1.log)

log provided by @zarrarrana what the issue

[2019-03-28 04:36] murong00 commented on #3908
@devinbost @tuteng The current implementation occurs the following error when using config such as`{"bootstrapServers":"localhost:6667","acks":"1","producerConfigProperties":{"sasl.kerberos.service.name":"kafka","client.id":"kobe.bryant"},"topic":"topic_2"}`:
[code]

[2019-03-28 06:59] #3831 closed

[2019-03-28 10:44] jiazhai opened #3925 "Meet schema error while using debezium source."
**Describe the bug**
If a debezium source connector stop and start again. the internal PulsarSink's schema type is changed.

In PulsarSink.open(), the schema is changed while restart the source.
Add a log after initializeSchema():
[code]
Here is the log of first run, the schema is KeyValue schema, which is right.
[code]
Here is the log of second run, get a wrong Bytes Schema:
[code]

[2019-03-28 11:04] laurent-chriqui opened #3926 "Add option to delete counter in python functions state"
**Is your feature request related to a problem? Please describe.**
It is possible to create a counter in a python pulsar functions using functions state and to retrieve it but there is no way to delete the counter. I am worried that with time these counters may add up to quite a considerable amount.

**Describe the solution you'd like**
I propose to expose the method delete_str of the tables in th

[2019-03-28 12:20] chairmank opened #3928 "Ledger offload to tiered storage fails with NoClassDefFoundError: com/jamesmurty/utils/XMLBuilder"
We see this stacktrace on brokers when we trigger offload to tiered storage:

[code]

It seems that `com.jamesmurty.utils.XMLBuilder` is missing from the tiered-storage-jcloud NAR file.

[2019-03-28 12:59] chairmank commented on #3715
I see this problem only when triggering offload to tiered storage:

[code]

On https://github.com/apache/bookkeeper/issues/1970, I described my investigation of this issue. Something (I haven't traced exactly what) is calling a method with an entry ID of `-2`, and `org.apache.bookkeeper.client.RoundRobinDistributionSchedule` can not handle a negative `entryId`.

[2019-03-28 19:53] devinbost opened #3931 "How to determine what a namespace contains"
How do we determine what objects still exist in our namespace? We are deleting everything we can find, but we're missing something; and, it's not clear what objects are preventing us from performing the deletion.

[2019-03-28 20:23] #3928 closed

[2019-03-28 20:33] #3908 closed

[2019-03-28 20:33] #1090 closed

[2019-03-28 23:13] sijie commented on #3715
@chairmank I think your problem is related to #3913 when offloader attempts to offload an empty ledger.

[2019-03-29 04:31] sijie opened #3935 "unload an non-existent topic returns 500"
**Describe the bug**

unload an non-existent topic returns 500

[code]

[code]

**To Reproduce**

[code]

**Expected behavior**

it should return 404

[2019-03-29 04:39] #3867 closed

[2019-03-29 05:21] sijie commented on #3931
@devinbost

you can use `bin/pulsar-admin topics list <tenant>/<namespace>` to list all the topics within a namespace. if there are topics, you are prevented to delete a non-empty namespace.

[2019-03-29 11:46] shiv4289 opened #3939 "Allow client authentication from pulsar-flink package"
**Is your feature request related to a problem? Please describe.**
We recently enabled JWT based authentication on our brokers. Though the native pulsar client allows setting tokens in the client builder, the pulsar-flink connector does not provide a way to provide authentication token to the pulsar client used internally.

**Describe the solution you'd like**
Pulsar-flink module should accept aut

[2019-03-29 13:11] liketic commented on #3837
Hi @sijie , I'm happy to work on this. From what I understand, we need to add an argument which may be called ```deleteSchema``` in the ```delete``` API of ```Topic```. Am I right?

[2019-03-29 13:24] tuteng commented on #3837
@liketic I just submitted this https://github.com/apache/pulsar/pull/3941

[2019-03-29 13:58] skyrocknroll opened #3944 "Support JWT Token Authentication in Support Dashboard"
**Is your feature request related to a problem? Please describe.**
Dashboard does not support authentication using JWT token
**Describe the solution you'd like**
We can support JWT token authentication for the dashboard.

[2019-03-29 15:33] ambition119 commented on #3939
Add org.apache.pulsar.client.impl.auth.AuthenticationJwt to solve JWT authorization. I will try to develop if everyone agrees with this way.

[2019-03-29 16:08] #3926 closed

[2019-03-29 16:11] #3925 closed

[2019-03-29 16:23] skyrocknroll commented on #3944
https://github.com/apache/pulsar/pull/3945

[2019-03-29 16:34] jerrypeng commented on #3715
@sijie some users who do not have tiered storage turned on are also reporting this problem

[2019-03-29 20:06] oliverisaac opened #3948 "2.3.0 Broker Gets "Insufficient configured threads""
**Describe the bug**
I am running Pulsar in a kubernetes cluster. When I upgrade to 2.3.0 I am unable to get it to listen for https requests. Jetty throws an insufficient threads error:

'''
20:02:06.036 [main] ERROR org.apache.pulsar.broker.PulsarService - java.lang.IllegalStateException: Insufficient configured threads: required=4 < max=4 for WebExecutorThreadPool[etp1373646877]@51e0301d{STARTED

[2019-03-29 20:39] shiv4289 commented on #3939
Hello,

I submitted a PR at https://github.com/apache/pulsar/pull/3949
Please have a look and let me know your feedback.

Regards,
Shivji Kumar Jha
http://www.shivjijha.com/
+91 8884075512

On Fri, Mar 29, 2019 at 9:03 PM wpl <notifications@github.com> wrote:

[2019-03-29 23:56] merlimat commented on #890
Test was fixed in e4fc42da737f5d62bb4d19e2d306a1d7101ba9bf and 1921bd98f20991248892717bbcfc102545e7c49c

[2019-03-29 23:56] #890 closed

[2019-03-29 23:56] merlimat commented on #788
Test was fixed in e4fc42da737f5d62bb4d19e2d306a1d7101ba9bf and 1921bd98f20991248892717bbcfc102545e7c49c

[2019-03-29 23:56] #788 closed

[2019-03-30 00:48] MarvinCai commented on #1088
If no one is actively working on this issue I'll take it up.

[2019-03-30 01:35] merlimat commented on #3860
Fixed in #3865

[2019-03-30 01:35] #3860 closed

[2019-03-30 05:29] sijie commented on #1088
I am not aware of anyone working on this. so feel free to pick it up

[2019-03-30 19:19] zarrarrana commented on #3715
With help form @jerrypeng , I have been able to get pass the issue by changing the following properties
[code]
to
[code]
Our pulsar cluster is on kubernetes with 3 bookies, 3 zookeepers and 3 brokers.
It might help you narrow down the issue.

[2019-03-30 19:34] sijie commented on #3948
@oliverisaac -

this is a jetty bug when broker running on a 1-cpu-core machine. you can configure `numHttpServerThreads` to be more than 2 to get around this bug. The bug is fixed and will be released as part of 2.3.1 release.

[2019-04-01 03:39] weishangkai opened #3953 "can not download pulsar c++ client-devel, link url is wrong."
**Describe the bug**
download pulsar c++ client-devel, the true url must:
https://archive.apache.org/dist/pulsar/pulsar-2.3.0/RPMS/apache-pulsar-client-devel-2.3.0-1.x86_64.rpm

but the link is
https://archive.apache.org/dist/pulsar/pulsar-2.3.0/RPMS/apache-pulsar-client-devel-2.3.0.x86_64.rpm

so 404 not found

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3.

[2019-04-01 05:09] shiv4289 opened #3954 "[pulsar-flink] Use an extensible client conf to forward to pulsar native client configs"
**Is your feature request related to a problem? Please describe.**
The current implementation of pulsar-flink takes serviceUrl and topic as params and initialises pulsar client from these params. It is not possible to pass other pulsar client params to pulsar-flink connector.

**Describe the solution you'd like**
pulsar-flink should accept all the params pulsar-client accepts. This should also be

[2019-04-01 07:14] #3935 closed

[2019-04-01 15:51] oliverisaac commented on #3948
Great, thanks! That seems to have fixed it

[2019-04-01 16:36] #3837 closed

[2019-04-01 16:38] #3884 closed

[2019-04-01 17:49] #3777 closed

[2019-04-02 02:51] soroshsabz commented on #2990
ITNOA

`__builtin_expect` does not exist in Windows on MSVC, did you any plan to resolve this?

[2019-04-02 02:53] soroshsabz commented on #2990
related to #3800

[2019-04-02 02:55] soroshsabz commented on #2461
A [vcpkg](https://github.com/Microsoft/vcpkg) support would make all this much simpler :)

[2019-04-02 04:21] #3851 closed

[2019-04-02 05:58] ayolivia opened #3963 "RedisSink not available"
**Describe the bug**
When trying to copy the `pulsar-io-redis-2.4.0-SNAPSHOT.nar` to the existing directory `connectors` and restart the broker, it failed to list the redis connector by the following script:
[code]

[2019-04-02 07:03] wolfstudy opened #3964 "[java client] run PulsarFunctionE2ETest failed"
**Describe the bug**

[code]

[2019-04-02 08:54] murong00 opened #3966 "UNAVAILABLE: io exception in a Sink which accepts pulsar messages as bytes"
**Describe the bug**
When trying to send a single string message to the topic occupied in a sink that treats the message as bytes, such as `RedisSink`, it occurs the following error:
[code]
The functions log shows below:
[code]

[2019-04-02 09:08] murong00 commented on #3966
@sijie It seems like the functions uses `JSONSchema` by default? It was normal when I submitted the `RedisSink`, what points have I missed?

[2019-04-02 15:43] xrayid opened #3968 "Can`t get pulsar-client-go lib"
Hello!
Centos 7
go version go1.12.1 linux/amd64

Reproduce:
[code]

Result:
[code]

How to fix it?

[2019-04-02 16:02] #3939 closed

[2019-04-02 16:41] #2122 closed

[2019-04-02 17:34] grantwwu commented on #3968
This looks like a version mismatch between the Go client and the installed C++ library.

[2019-04-02 21:31] #3963 closed

[2019-04-02 21:31] xrayid commented on #3968
Fixed! Thx

[2019-04-02 21:32] #3968 closed

[2019-04-03 00:34] aahmed-se commented on #3964
Is this a repeated behaviour ?

[2019-04-03 00:35] aahmed-se commented on #3906
Where in the documentation is this mentioned ?

[2019-04-03 01:27] prakashsaraf7 commented on #3906
In https://pulsar.apache.org/docs/en/client-libraries-java/
Multiple-Topic Subscriptions section -

_"You can also subscribe to an explicit list of topics (across namespaces if you wish):"_

[2019-04-03 02:11] jiazhai opened #3970 "In Pulsar 2.3,` pulsar-admin topics list` will report read timed out"
**Describe the bug**
user reported error while using `pulsar-admin topics list`, in cluster deploy.
![image](https://user-images.githubusercontent.com/6348208/55448017-bfd26d80-55f8-11e9-8dec-0b5797942b6e.png)

namespaces/tenants list works well
![image](https://user-images.githubusercontent.com/6348208/55448042-d4166a80-55f8-11e9-9c0a-acc1554a0d50.png)

[2019-04-03 02:22] ConcurrencyPractitioner commented on #2211
@jnioche @sijie If you are alright with it, I could pick up this one.

[2019-04-03 04:10] merlimat commented on #2211
@ConcurrencyPractitioner I think this is in a way superceded by the negative acks feature in master. At this point I’d wait to see if there is still a gap to be filled, before adding one more API

[2019-04-03 04:56] MarvinCai commented on #1088
Look into the code a bit and identify some places where change need to be made, also add proposed update to protobuf in the a [doc](https://docs.google.com/document/d/1yJ6GvtrdojY7EjQ4ZJK8dzX1M2i185Nf-dpwvsPWb1w/edit).
@sijie can you please take a look and see if I'm on the right track? Feel free to leave any comment in the doc or in this thread. Thanks!

[2019-04-03 05:32] sijie commented on #1088
@MarvinCai awesome! since it is proposing a new set of wire commands, it would be good to finalize your google doc into a PIP and share it to dev@ mailing list. loop @jiazhai in since he did look into this area before he would have more context in helping you finalizing a good proposal so that you can share with dev@ mailing list.

[2019-04-03 05:37] jiazhai commented on #1088
glad to help

[2019-04-03 05:45] sijie commented on #3966
@murong00 sorry for late response. functions try to infer the schema from the generic type in the identify function. since the identify function doesn't have a specific type and RedisSink also doesn't have a specific type, it hence causes pulsar to use `JSONSchema` by default. In general I would suggest using `Bytes` for most of the connectors (e.g. messaging queues, kv, nosql system and filesyste

[2019-04-03 09:16] murong00 commented on #3966
@sijie Got it. Thanks for pointing out these key points! I will fix it later.

[2019-04-03 14:19] alexsplashex commented on #3112
Same story. I see an error in Prometheus
`text format parsing error in line 189: second TYPE line for metric name "pulsar_subscriptions_count", or TYPE reported after samples`
but can see all metrics.

Any suggestions?

[2019-04-03 17:15] david-streamlio opened #3974 "Add steps to build Pulsar function to docs"
**Describe the bug**
Currently the instructions for developing Java based Pulsar functions does not include any documentation on how to bundle and build the jar file that gets deployed.

**To Reproduce**
If you scroll down to the "Programming Model" section of the https://pulsar.apache.org/docs/en/functions-overview/ page, you will see a section that describes the function code, followed by a sect

[2019-04-03 17:22] lelabo-marc commented on #3112
We had to update prometheus and grafana, and refactore the existing configuration for both until it was compatible with the last version in order to get ride of these errors.

[2019-04-03 18:30] sijie opened #3975 "Failed to reset subscription: Message id was not present"
**Describe the bug**

Currently Reader doesn't support seek-by-time. User has to down cast to get to consumer.seek and perform the cursor adjustment

[code]

But it always seems to come up with “Failed to reset subscription: Message id was not present”

**Expected behavior**

It should position at the first message whose timestamp is larger than or equal to the provided timestamp.

**Additional co

[2019-04-03 18:36] sijie opened #3976 "Support opening a reader by publish time"
**Is your feature request related to a problem? Please describe.**

Currently we only support opening a reader by `MessageId`. It would be great to support opening a reader by publish time

**Describe the solution you'd like**

Add `startMessageId(long timestamp)` to ReaderBuilder so users can builder a reader starting from a given timestamp.

**Describe alternatives you've considered**

down-cast

[2019-04-04 07:06] shan2015seyfert opened #3981 "Error during handshake for tls auth by apache pulsar client on ubuntu server"
I have setup the `apache pulsar v2.3` on Ubuntu 18.04.2 LTS from [Run Pulsar locally](https://pulsar.apache.org/docs/en/standalone/). It sends message successfully without any authentication.
But i would like to send message using tls authentication , so configuring tls certificate using [security-tls-transport](https://pulsar.apache.org/docs/en/security-tls-transport/) and [security-tls-authentic

[2019-04-04 09:09] RikCSherman commented on #3877
I've experienced the same issue. The steps I used to create it are
`# Run standalone server
$ ./bin/pulsar standalone

$ ./bin/pulsar-admin tenants create auto
$ ./bin/pulsar-admin namespaces create auto/electric

Auto created the topics rather than use pulsar admin`

Listing topics with pulsar-admin =  Read timeout
Listing topics using the browser via http://localhost:8080/admin/v2/persistent/aut

[2019-04-04 13:22] tuteng commented on #3981
Can you provide the configuration file？
bin/pulsar-admin tenants list is ok?
@shan2015seyfert

[2019-04-04 14:43] ConcurrencyPractitioner commented on #3976
@sijie I should be able to handle this one. Mind if I give it a try?

[2019-04-04 15:33] lovelle commented on #3976
@sijie @ConcurrencyPractitioner Hi! I'm also able to help with this one if you need

[2019-04-04 15:38] shan2015seyfert commented on #3981
Hi @tuteng , I have attached all the 3 configs which i modified. I did run with and without `tlsProtocols` and `tlsCiphers ` where broker uses to negotiate during TLS handshake but nothing worked. OpenSSL 1.1.0g is available on ubuntu server.
[tls_running_config_inprogress.zip](https://github.com/apache/pulsar/files/3044180/tls_running_config_inprogress.zip)

bin/pulsar-admin tenants list is ok? :

[2019-04-04 15:51] #3966 closed

[2019-04-04 15:54] merlimat commented on #3981
@shan2015seyfert it seems you either connecting with TLS to a cleartext port (or the reverse)

[2019-04-04 23:11] merlimat commented on #3970
This seems to be the same issue that was already fixed in #3776

[2019-04-04 23:11] #3970 closed

[2019-04-05 00:18] ConcurrencyPractitioner commented on #3976
Ok, just to let everybody know. Opened a PR for this issue.

[2019-04-05 01:29] rdhabalia opened #3985 "Publish rate limiting for topic"
### Motivation
Producers and consumers can interact with broker on high volumes of data. This can monopolize broker resources and cause network saturation, which can have adverse effects on other topics owned by that broker. Throttling based on resource consumption can protect against these issues and it can play an important role for large multi-tenant clusters where a small set of clients using

[2019-04-05 05:40] MarvinCai commented on #2792
I think there's already support for auto.offset.reset , at least earliest and latest are supported, code [reference](https://github.com/apache/pulsar/blob/master/pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/kafka/clients/consumer/PulsarKafkaConsumer.java#L183-L190).

[2019-04-05 07:42] shan2015seyfert commented on #3981
I can do telnet to port 8443, 6651 and this is enable `-Djava.net.preferIPv4Stack=true` in file `bin/pulsar-admin-common.sh`.
What and where i need to do changes to allow working with `webServiceUrl=https://localhost:8443/
` and `brokerServiceUrl=pulsar+ssl://localhost:6651/`

[2019-04-05 16:07] chairmank opened #3987 "admin REST API serves 404 response to GET /admin/v2/tenants/{tenant} even though tenant exists"
**Describe the bug**

The admin REST API returns a 404 Not Found response to `GET /admin/v2/tenants/$TENANT` even when `GET /admin/v2/tenants` shows that `$TENANT` exists.

**To Reproduce**

Using Pulsar 2.3.0:

[code]

After I update the tenant so that it has a valid `allowedClusters`, the get request returns a 200 OK response:

[code]

**Expected behavior**

I expect a 200 OK response with an em

[2019-04-05 18:07] wmccarley opened #3989 "[Question] Geo Replication docs out of date?"
The documentation on [Geo Replication](https://pulsar.apache.org/docs/latest/admin/GeoReplication/#creating-global-namespaces) mentions:

Is this part of documentation still valid? It seems I can create namespaces that replicate between two clusters (i.e. creating a namespace for a given tenant and then using set-clusters to set both ) without having to use the virtual cluster notation mentioned o

[2019-04-05 18:11] merlimat commented on #3989
@wmccarley Thanks for pointing out. the doc is indeed out of date. That was the behavior with Pulsar 1.x but we corrected the naming and simplified the namespaces in 2.0

[2019-04-06 20:16] jerrypeng opened #3993 "Fail to update functions in Effectively-once mode"
**Describe the bug**

Cannot update a function that was started in effectively-once mode.

**To Reproduce**

If I submit a function with function config:

[code]

Attempting to update the parallelism:

[code]

[2019-04-08 02:03] sijie opened #3998 "Failed to build pulsar docker image"
**Describe the bug**

[code]

**To Reproduce**

Build pulsar docker image

**Expected behavior**

Building pulsar docker image should succeed.

[2019-04-08 03:39] wolfstudy opened #4001 "[Release 2.3.1] go version error in DEB package"
**Describe the bug**

now, `pulsar-client-go` uses the package management method of `go mod`, `go mod` requires that the version of go must be 1.11 or higher

we can fix it , as follows:

[code]

[2019-04-08 04:19] tuteng opened #4002 "Pulsar standalone start failed"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to pulsar
2. ./bin/pulsar standalone

**Expected behavior**
Pulsar standalone start success

**Screenshots**
[code]

**Desktop (please complete the following information):**
 - OS: [e.g.Mac]
 - jdk1.8

**Additional context**
Add any other context about the problem here.

[2019-04-08 04:19] tuteng commented on #4002
./bin/pulsar standalone -nss
start success

[2019-04-08 04:49] #3998 closed

[2019-04-09 02:01] #3975 closed

[2019-04-09 12:43] KannarFr opened #4009 "Pulsar Functions add properties to result messages"
**Describe the solution you'd like**
I'm looking for a way to add properties to message during function processing.

[2019-04-09 13:24] kenandalley opened #4010 "Java ObjectMapper Non-Standard JSON causes a Function to fail and restart indefinitely"
Edited for grammar and clarity

**Describe the bug**
If a Function is created with an input based on a user-defined Type and a JSON message is sent in that is in a non-standard format (e.g. key is not surrounded by quotes), the function will fail, no acknowledgement is sent back to Pulsar for that message offset, and the function will be restarted.  Because no acknowledgement was sent, it will try

[2019-04-09 15:27] sijie commented on #3903
#3793 was fixed.

[2019-04-09 15:27] #3903 closed

[2019-04-09 15:43] sijie commented on #3993
This was fixed by #3994

[2019-04-09 15:43] #3993 closed

[2019-04-09 15:48] sijie commented on #2895
This was fixed by #3452

[2019-04-09 15:48] #2895 closed

[2019-04-09 15:49] sijie commented on #2891
This was fixed by #2957

[2019-04-09 15:49] #2891 closed

[2019-04-09 15:51] sijie commented on #2876
This was fixed by #2977

[2019-04-09 15:51] #2876 closed

[2019-04-09 16:32] one70six opened #4011 "Pulsar SQL - Add Support for TLS Auth"
**Features that would be awesome to have:**

1.  Allow TLS Auth on Pulsar SQL so that it works in a secure cluster environment
2. Allow the certificates used to be from a specific client(s) so that the user of Presto only has select to their data and not all namespaces, etc.

**Attempt to Test**
When using a Pulsar cluster that is currently secured via TLS certs, Pulsar SQL (Presto) doesn't seem t

[2019-04-09 19:18] rsamo commented on #3376
This functionality would be very useful for running a secure cluster and allowing a separate Pulsar functions cluster to also communicate with BK. Super interested in having that capability.

[2019-04-10 17:43] devinbost opened #4021 "Pulsar-admin commands do not support parallelization"
## Describe the bug
Executing pulsar-admin commands in parallel via bash results in only the last command succeeding. The other commands are ignored.

## To Reproduce
Steps to reproduce the behavior:
1. Start docker standalone via:
`docker run -it -p 80:80 -p 8080:8080 -p 6650:6650 apachepulsar/pulsar-standalone`
2. Ensure that /etc/pulsar/client.conf is pointed to the standalone instance.
3. Exec

[2019-04-10 17:49] merlimat commented on #4021
I think the problem might be related with the memory settings. Each admin tool is starting a JVM which requires a considerable amount of mem.

Alternatives would be to either use the Java admin API to do these operations in bulk or go directly to REST API.

[2019-04-11 04:07] jiazhai opened #4025 "Improve read performance for tiered-storage segment readout"
As discussed in slack channel with @chairmank , Steve suggested that we could do a read-ahead to improve the read performance:

[2019-04-11 06:08] #3987 closed

[2019-04-11 08:00] StartFeng commented on #3968
@xrayid How fixed it?

[2019-04-11 09:27] xrayid commented on #3968
I installed go library using go dep (package version v2.3.0)

[2019-04-11 11:57] foreversunyao commented on #3552
not sure if this is the same one ?
@ivankelly  @merlimat
https://builds.apache.org/job/pulsar_precommit_java8/7991/console

[2019-04-11 12:50] chairmank commented on #4025
possibly related: https://github.com/apache/pulsar/issues/3804

[2019-04-11 21:43] grantwwu commented on #3681
We just ran into this as well :(

[2019-04-11 22:14] phreed commented on #3948
I tried setting numHttpServerThreads=3 and it simply changed the error so that instead of complaining about 2 it now faults 3.
Increasing to numHttpServerThreads=8 seems to do the trick.

[2019-04-12 00:09] #3916 closed

[2019-04-12 05:01] jheinnic commented on #917
Aww...  I'm currently researching technologies for a new employer that has interest in Kafka and a significant existing data science investment in Python.  I'm strongly of an opinion that regulatory privacy compliance concerns will eventually require owning whatever streaming technology they deploy rather than delegating its operation to a 3rd party PaaS provider.

While exploring my options for r

[2019-04-12 05:04] jheinnic commented on #917
Ahh, but after posting my initial reaction to "no one asking for this", I examined the link to #950 and realized that the state of affairs is that DC/OS support may just be present in a different form than what I would have initially looked for.  I read further on...

[2019-04-12 10:31] sijie commented on #917
@jheinnic the initial idea was to provide a full DC/OS support. @jiazhai developed #950. #950 was good enough for people who uses DC/OS. We didn't continue the effort due to there were no enough activities around DCOS support. so I closed the issues.

If there are requirements for running Pulsar on DCOS, feel free to reopen this issue or create a new one with your requirements. We can look into it

[2019-04-12 18:51] #3974 closed

[2019-04-13 01:37] jerrypeng opened #4041 "For functions, allow users to configure whether the output should inherit the key of the input"
**Is your feature request related to a problem? Please describe.**

Currently, for Java functions, if the input message has a key associated with it, it is automatically inherit onto by the output message.

This might not be the desirable behavior for all scenarios.

In Python functions, the keys of input messages are not inherited by output messages.

**Describe the solution you'd like**

Allow u

[2019-04-13 01:41] jerrypeng opened #4042 "For Java Functions API: Improve how message properties can be set for output messages and context.published messages"
**Is your feature request related to a problem? Please describe.**

Currently there is no way to specify message properties/confs for messages that are return from the functions.

The API to set those configurations for Context.publish is not very using friendly

**Describe the solution you'd like**

A builder like API for configuring these message properties/confs would be nice for not only messa

[2019-04-13 01:41] jerrypeng commented on #4042
Related to #4041

[2019-04-13 09:04] LvBay opened #4043 "go build faild with go mod"
When I compiled the code in go-client/samples using go-mod mode, I got some error messages.

I checked the history of the relevant issue, is it because cpp-client is not compiled? But from the error message, I think it seems that there are fewer documents.

Also, can I help write a go-client that doesn't depend on cgo ?

My work-dir :

.
├── data
├── go.mod
├── go.sum
├── pulsar_pub.go
├── pulsar_

[2019-04-13 22:48] phreed opened #4044 "Pulsar Dashboard Displays Very Little Information"
**Describe the bug**

The pulsar-dashboard does not display the information published by the pulsar cluster.

**To Reproduce**
Steps to reproduce the behavior:
1. Install a [bare metal pulsar](https://pulsar.apache.org/docs/en/deploy-bare-metal/)
    1. on an openstack cloud
    2. rather than a DNS server distribute identical /etc/hosts files to each of the vm's and the development machine
    2.

[2019-04-14 12:46] phreed commented on #4044
The problem is with the name lookup. The messages returned by pulsar contain the urls for other objects. Those url contain host names and the docker image has no way of looking them up. This is easily remedied by changing the way the docker image is run.
[code]
Note the --network=host parameter.
In my case this amounts to granting access to the /etc/hosts files.
I would think that this would be th

[2019-04-14 13:14] wolfstudy commented on #4043
hello, this problem seems to be that you have not successfully built `pulsar-cpp-client`, you can exec:

[code]

welcome.  now, we also have the same idea. Under the [https://github.com/wolfstudy/pulsar-client-go](https://github.com/wolfstudy/pulsar-client-go) project, we have already started some work. If you are interested, you are welcome to join us.

Of course, if the pulsar official has the s

[2019-04-15 03:38] LvBay commented on #4043
@wolfstudy Thanks!

[2019-04-15 03:38] #4043 closed

[2019-04-15 09:54] murong00 opened #4047 "Need to catch up docs for functions/sink/source in Admin CLI"
**Describe the bug**
Some of the subcommands of functions/sink/source are not documented in [Pulsar admin CLI](http://pulsar.apache.org/docs/en/pulsar-admin/), such as `sink/source status`. We need update the doc to catch up the work.

[2019-04-15 13:46] Xlingxiao opened #4049 "Cant use the Admin Rest API"
![image](https://user-images.githubusercontent.com/34467450/56136158-c8e21800-5fc4-11e9-9ab3-8bf03d6a0732.png)
Could you please tell me the correct way?

[2019-04-15 18:15] #3989 closed

[2019-04-15 18:16] ruudk commented on #2467
:+1: for this. Just tried to produce a single message from PHP and it feels weird to setup an event loop, connect via websockets, wait for it to be connected, then send the message, and wait for a response to come back, and to close the connection. Super verbose in PHP. Sending a simple POST via HTTP would be so much easier.

[2019-04-15 22:23] nyluke opened #4051 "server checksum error when using pulsar-log4j2-appender"
I added pulsar-log4j2-appender:2.3.1 to my project and I am running an apache-pulsar-2.3.1 standalone server. I've configured the appender like this:

[code]

When I start my app, I get this error repeated on the server:

[code]

[2019-04-16 01:39] jerrypeng commented on #4047
@murong00 thanks for submitting this issue.  This is something that needs work.  Are you going to add the needed documentation?

[2019-04-16 01:44] tuteng commented on #4049
@Xlingxiao
[code]

[2019-04-16 02:30] foreversunyao commented on #4051
@nyluke , can you try to add below code to https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java#L178

[code]

or try to tcpdump the package you sent ?
it seems some buffer package is incomplete .

[2019-04-16 03:19] ConcurrencyPractitioner commented on #3217
[code]

[2019-04-16 03:53] k2la opened #4053 "Download lastest version in old version page"
https://pulsar.apache.org/docs/en/2.2.0/client-libraries-cpp/
When I clicked `deb cpp client` link in old version page,  I downloaded latest version of client.
Is that mistake?

[2019-04-16 05:50] wolfstudy opened #4054 "Exposing `MaxMessageSize` to user configuration"
**Is your feature request related to a problem? Please describe.**

Now, I want to send a larger message to pulsar, but pulsar's `MaxMessageSize` is in the form of hardcode. If the size of the message > 5MB, the pulsar client will fail.

code as follows:

[code]

**Describe the solution you'd like**

In kafka, `MaxMessageSize` is a configurable option. We can also consider exposing it to the user

[2019-04-16 06:03] merlimat commented on #4054
Yes, the limit was very arbitrarily picked. It would be nice to have config options in brokers/clients

[2019-04-16 06:25] foreversunyao commented on #4002
what I met is another error , but could due to **stream storage** as well.

[code]

[2019-04-16 07:01] chrislearn opened #4055 "could not determine kind of name for C.pulsar_configure_set_negative_ack_redelivery_delay_ms"
**Describe the bug**
When I upgrade my app to use the latest pulsar 2.3.1, compile report this error:
/home/chris/.gvm/pkgsets/go1.12.1/global/pkg/mod/github.com/apache/pulsar/pulsar-client-go@v0.0.0-20190416000109-76aacd3c3477/pulsar/c_consumer.go:101:3: could not determine kind of name for C.pulsar_conf
igure_set_negative_ack_redelivery_delay_ms
/home/chris/.gvm/pkgsets/go1.12.1/global/pkg/mod/g

[2019-04-16 08:22] #4047 closed

[2019-04-16 14:25] ambition119 commented on #4054
I'm interested in trying to solve this issue, tks

[2019-04-16 14:44] nyluke commented on #4051
[code]

[2019-04-16 14:54] one70six opened #4057 "Security Vulnerabilities - Black Duck Scan - Pulsar v.2.3.1"
## Issue
Black Duck, a product by Synopsys that scans for open source security threats, uncovered a few issues with dependencies for the Pulsar 2.3.1 binaries. Just posting the results here to make the community aware for future releases, I know this stuff is like a moving target.

 ### Apache Commons Compress - 1.15
- CVE-2018-11771
- CVE-2018-1324

### Apache Maven 2 - 3.0.4
- CVE-2013-0253
- CV

[2019-04-16 16:39] merlimat commented on #4055
@chrislearn Which tag are you pulling of the Go code? and which version of `libpulsar` C++ library do you have installed?

It looks like this is the code from master, though the `libpulsar` library is 2.3.1.

[2019-04-16 16:53] devinbost commented on #3877
I just experienced this as well on 2.3.0. I was using the Java Admin API.

[2019-04-16 17:01] merlimat commented on #3877
This issue was fixed in 2.3.1. Can you try with that?

[2019-04-16 23:25] chrislearn commented on #4055
I use latest libpulsar C++ library, 2.3.1
I use go module to install go client, but when I try to use `go get github.com/apache/pulsar/pulsar-client-go@v2.3.1` to install v2.3.1, it will report error:
`
go get github.com/apache/pulsar/pulsar-client-go@v2.3.1: unknown revision pulsar-client-go/v2.3.1
`
So I use this command to install go client from master:
`
go get github.com/apache/pulsar/pulsar-

[2019-04-16 23:36] merlimat commented on #4055
The tag is there though.. https://github.com/apache/pulsar/tree/v2.3.1/pulsar-client-go

you can work around by doing:
[code]

[2019-04-16 23:44] ConcurrencyPractitioner commented on #3217
Oh, just for ease of access. A PIP was created for this issue and here is the design doc:
https://docs.google.com/document/d/1vdHFbmDY5DodMMQqxBZLYpzfoEPh1ENP-kmEkJHYjq8/edit?usp=sharing

[2019-04-16 23:57] chrislearn commented on #4055
@merlimat You mean I need to checkout it manually. It is not supports go module?

[2019-04-17 02:22] merlimat commented on #4055
I think the problem is you’re trying to fetch a specific tad with go get which I’m not sure it supported (by Go get).

Have you tried to use

[code]

Like explained on https://pulsar.apache.org/docs/en/client-libraries-go/

[2019-04-17 03:26] chrislearn commented on #4055
@merlimat go supports version tag in go get.
https://github.com/golang/go/wiki/Modules
My project use go module and I want to change it to use dep.

[2019-04-17 08:37] Xlingxiao commented on #4049
Thank you,Thank you.

[2019-04-17 21:10] #4021 closed

[2019-04-18 04:23] heronr opened #4070 "[pulsar-client-cpp] Deadlock when closing the pulsar Client"
**Describe the bug**
There is a consistent deadlock when closing an instance of pulsar::Client if there is an active Consumer subscription. This is caused by the ExecutorService worker thread attempting to join() itself when a message is received from the broker that signals the Consumer is closed. The deadlock is not apparent on Unix because in the case of a thread joining itself, pthread_join re

[2019-04-18 06:00] jerrypeng opened #4072 "Exception in bookie when Function state enabled"
**Describe the bug**

These exception are thrown in bookies when function state is enabled.  Seems like there is something wrong with table service.  May have something to do with uploading large files for functions.

[code]

[2019-04-18 06:02] jerrypeng commented on #4072
[bookie.logs.zip](https://github.com/apache/pulsar/files/3092955/bookie.logs.zip)

Full bookie logs

[2019-04-18 06:10] jerrypeng commented on #4072
Seems like this is fixed by:
This is fixed by https://github.com/apache/bookkeeper/pull/2022

need to wait for a BK 4.9.2 release

[2019-04-18 06:37] jiazhai opened #4073 "Add Document for jdbc sink connector"
Add Document for jdbc sink connector

[2019-04-18 06:40] jiazhai opened #4074 "update debezium connector documentation"
After move it out of Kafka-connect-source, debezium connector documentation need some update.
May need provide doc for debezium postgres connector, and update debezium mysql connector

[2019-04-18 06:52] jiazhai opened #4075 "Debezium postgres connector will hang when create snap"
**Describe the bug**
Debezium postgres connector will first create a snap for current table. And this step will hang if the table is too big.

**To Reproduce**
1. start pulsar standalone;
2. start debezium pg server:

3. start a pg connect, and add 1 table with 10K lines:

[code]
4. using current default config of debezium [pg config](https://github.com/apache/pulsar/tree/master/pulsar-io/debezium

[2019-04-18 07:05] jiazhai opened #4076 "Add more debezium connector support"
currently, we only have postgres and mysql support added. We need add more supports if possible

[2019-04-18 07:15] kramasamy commented on #4072
any idea when bk 4.9.2 is slated?

[2019-04-18 10:27] codelipenghui opened #4077 "PIP-34 New subscription type Key_Shared"
There are many aspects to be covered for [PIP-34](https://github.com/apache/pulsar/wiki/PIP-34%3A-Add-new-subscribe-type-Key_Failover), this is a task list tracker for this PIP

**Tasks**

- [x] Core implementation #4079
- [x] Broker level flag to enable or disable this feature #4120
- [x] Integration tests #4352
- [x] Non persistent dispatcher #4462
- [x] Documentation  #4079
- [ ] Policy specify

[2019-04-18 12:02] RedBlackTreei opened #4078 "Migrate ledgers,admin,bookies,managed-ledgers,namespace Zookeeper directories to pulsar"
**Situation:**
This problem occurred when I tried to delete the metadata in Zookeeper. I found that Pulsar store the metadata in the root directory, such as `ledgers、admin、bookies、managed-ledgers、namespace`, this may lead to conflict with other middlewares and cause inappropriate operations, I think it is very dangerous.
Besides, it is also very difficult to delete those metadata.

**Expectation:*

[2019-04-18 14:25] merlimat commented on #4078
zookeeper has a way to define a base directory in the connection string. Eg: `zk1:2181/my-prefix`. You just need to use that in your zk  connection string

[2019-04-18 17:10] merlimat opened #4080 "Allow to enable/disable delayed deliver on a per-namespace base"
As a follow-up item for #4062, we need to add the config option to control the delayed-delivery feature per namespace.

I could work as:
 1. Broker will have the default value true/false.
 2. Super-user can override that on a particular namespace.

[2019-04-18 22:07] ConcurrencyPractitioner commented on #3217
Just one question in regarding to key ordering. By keys, do you mean the order of the messages or the indexes of the partitions or something? Because from my understanding, it can refer to multiple things.

[2019-04-18 22:27] merlimat commented on #3217
When producers specify a key they expect the messages with the same key to go in the same partition. That allows for key-based order.

[2019-04-19 02:45] RedBlackTreei commented on #4078
Thanks, great!
Add to document, may be better!

[2019-04-19 05:04] ConcurrencyPractitioner commented on #3217
Oh thanks for the advice.

Sorry, but trying to work out one final thing. In ```TopicsImpl.java```, the Web Target I think refers to the REST endpoint (```PersistentTopicsBase```), but what I found strange was that I thought it cycled back on itself. So when I looked at the files, PersistentTopicsBase#createSubscription called TopicsImpl#createSubscriptionAsync whose web target seemed to link back

[2019-04-19 11:09] ruudk commented on #4044
I cannot get it to work either:
[code]

Dashboard doesn't show any tenants and clusters.

[2019-04-19 14:12] phreed commented on #4044
@ruudk Does the pulsar server respond to requests generally?
That is, if you point your browser to the $SERVICE_URL/admin/v2/clusters what do you get?
The pulsar-dashboad does is wrap the https://pulsar.apache.org/docs/latest/reference/RestApi/ .
If the pulsar server does not respond the dashboard will show nothing.

[2019-04-19 14:15] phreed commented on #4044
@ruudk Another issue may be a docker interaction.
How does a docker process with --network=host look up 'localhost'?
You might want to try providing either the hostname or ipaddr for the machine hosting your pulsar service.

[2019-04-19 15:23] ruudk commented on #4044
[code]

So that works.

I think it would help a lot of the dashboard would just show errors when it cannot connect to the pulsar API. Right it just acts as if everything is empty and nothing is wrong.

When I run the dashboard with `--network=host` it says:
[code]

and it doesn't even come up.

Is there a way to somehow enable/view a debug log? To know what the error is?

[2019-04-19 15:24] ruudk commented on #4044
FYI: I run this all on my local machine with Docker.

[2019-04-19 15:28] ruudk commented on #4044
Even when I use `docker-compose` with this configuration it doesn't work:
[code]

[2019-04-19 17:20] ruudk opened #4085 "Tag v2.3.1 as latest"
Better, don't use the `latest` flag in Github :)

<img width="537" alt="Screenshot 2019-04-19 at 19 20 46" src="https://user-images.githubusercontent.com/104180/56435294-4022ef00-62d8-11e9-922b-2fc0e0e0ce8e.png">

[2019-04-19 18:10] phreed commented on #4044
Did you try...
docker run -p 80:80 -e SERVICE_URL=http://localhost:8080 apachepulsar/pulsar-dashboard

[2019-04-19 18:11] merlimat commented on #4085
Thanks for reporting! We forgot to publish the release on github last time. Done now and added to the release process instructions for next releases.

https://github.com/apache/pulsar/releases/tag/v2.3.1

[2019-04-19 18:11] #4085 closed

[2019-04-19 18:35] ruudk commented on #4044
I tried out this and it worked:
[code]

Weird thing is that I have to wait a couple of minutes before data becomes visible. The UI is there, but it shows "No tenants" etc... but after a couple of minutes of starts to appear.

[2019-04-19 18:38] ruudk opened #4086 "Small docker image that only contains Pulsar"
When looking at https://hub.docker.com/u/apachepulsar there are 3 major Docker images:

pulsar
pulsar-standalone
pulsar-all

They are massive. Ranging from 1GB to 2GB.

When I pulled them, they all seem to contain ZooKeeper, BookKeeper etc.

Why isn't there 1 image that contains only Pulsar?

When setting this up for production, these images are not useful. You want to setup separate ZooKeeper ins

[2019-04-20 00:06] vicaya opened #4089 "2.3+ python client depends on bookkeeper client"
**Describe the bug**
2.3+ python client pip install doesn't work on python slim images, as it pulls in bookkeeper client, which requires gcc to compile a source only dependency (mmh3). This breaks existing build systems that rely on python slim images.

**To Reproduce**
Use this Dockerfile
[code]

**Expected behavior**
Before 2.3 the above Dockerfile works fine

**Additional context**
It appears t

[2019-04-20 00:15] merlimat commented on #4089
We'll try to get this fixed in BookKeeper-4.9.2 to include in Pulsar-2.3.2

[2019-04-20 00:42] merlimat commented on #4089
Created fix in https://github.com/apache/bookkeeper/pull/2069

[2019-04-20 09:59] foreversunyao opened #4094 "[WIP][Pulsar Pipeline Plugin] add Pipeline plugin feature to pulsar"
**Is your feature request related to a problem? Please describe.**

Currently we already have pulsar-io framework to let us make source/sink easily. And it would be better if we can have **pipeline plugin system** to **combine** multiple source/sink and make them work together like a data pipeline , and also it could make everyone to implement pulsar pipeline easier(like just make a config file).

[2019-04-21 00:13] ConcurrencyPractitioner commented on #3217
Oh sorry, found the answer. Will be editing the doc within a few days. :)

[2019-04-21 13:12] chrislearn opened #4095 "go client use Ctype_int as type _C type_ulong"
**Describe the bug**
When I use pulsar go client in ubuntu (windows subsystem), I install cpp client 2.3.1 and use go client tagged v2.3.1, but I got an error:
`
/home/chris/.gvm/pkgsets/go1.12.1/global/pkg/mod/github.com/kenorld/pulsar-client-go@v0.0.0-20190421093301-10f7ec0db253/pulsar/c_message.go:91:63: cannot use size (type _Ctype_int) as type _C
type_ulong in assignment
`

**To Reproduce**
S

[2019-04-21 14:07] sekarpdkt commented on #1964
I tried it in Ubuntu. Still fails.
[code]

[2019-04-21 15:05] sijie commented on #4044
@ruudk in your docker compose case, you shouldn't use `--advertised-address 127.0.0.1`, you should either remove `--advertised-address`, or advertise an address that your dashboard docker can connect.

[2019-04-21 16:50] sekarpdkt opened #4096 "C++ client support for arm64 (like Raspberry Pi)"
**Is your feature request related to a problem? Please describe.**
I was trying to build it for Raspberry Pi so that client libraries can be built/ran on Pi. It failed. Error messages are attached below. Looks like we have very specific dependency on some CPU flags like `msse4.2 -mpclmul`

**Describe the solution you'd like**
Can we have a client library for Raspberry Pi

**Describe alternatives y

[2019-04-21 17:24] sekarpdkt commented on #4096
I think I am able to move forward by editing CMakeLists.txt. It might take few hours. If it is working will send a PR by enabling a switch. At this moment, I hardcoded it

[code]
changed to
[code]

[2019-04-22 01:42] wolfstudy commented on #4095
Hello, this problem seems to be that `pulsar-client-cpp` is not built successfully. Currently `pulsar-client-go` runs on `pulsar-client-cpp`, you can try the following command:

[code]

[2019-04-22 04:15] sijie commented on #3901
This has been fixed by #4024

[2019-04-22 04:15] #3901 closed

[2019-04-22 04:16] sijie commented on #3292
This has been fixed.

[2019-04-22 04:16] #3292 closed

[2019-04-22 04:23] sijie commented on #2996
This has been fixed recently.

[2019-04-22 04:23] #2996 closed

[2019-04-22 04:26] sijie commented on #1070
The nodejs client is under development at https://github.com/apache/pulsar-client-node . So close this issue here.

[2019-04-22 04:26] #1070 closed

[2019-04-22 05:41] k2la opened #4098 "Closed consumers remain in websocket proxy"
#### Expected behavior

After websocket clients are closed, consumers connected with them in websocket proxy should be closed and removed.

#### Actual behavior

After the clients are closed, some consumers remain in websocket proxy.
The consumers remain until websocket proxies restart.

#### Findings of research
- According to heap dump, their reference from `ConsumerHandler` is removed but they

[2019-04-22 06:00] skyrocknroll commented on #4095
We are facing the same in MacOS

[2019-04-22 06:39] skyrocknroll commented on #4095
@merlimat This commit 44c8fd552e1b005d8d531a2f9fb7200682794c46 should be commited into branch-2.3 to solve the issue ?

[2019-04-22 08:09] wolfstudy opened #4099 "[flaky unit test] testUnsupportedBatchMessageConsumer NullPointerException"
**Describe the bug**

[code]

when i run java unit tests of Jenkins, there will always be some strange mistakes. In java unit tests of pulsar, there are a lot of test cases that use the same topicName, I was wondering if it is related to this reason? Because, when I go to run this test alone, it can run correctly.

[code]

**Screenshots**

![image](https://user-images.githubusercontent.com/2096530

[2019-04-22 09:28] sijie commented on #2664
Broke the PIP into tasks and updated them in the description.

[2019-04-22 09:28] sijie commented on #2664
Marked this as for 2.5.0. since we are close to release 2.4.0 soon.

[2019-04-22 14:51] lakarchitect opened #4100 "DeadLetterTopic is not working for FailOver subscription type"
**Describe the bug**
DeadLetterTopic is not working for FailOver subscription type

**To Reproduce**
Steps to reproduce the behavior:
Create a subscription with type  FailOver, with maxRedeliverCount say 3, Do not ack the receipt of a message in the test code. After 3 retries, the message is supposed to be delivered to DeadLetterTopic, but it's continuously retrying without upper bound. The redeli

[2019-04-22 17:15] sekarpdkt commented on #4096
I am able to successfully compile it with following changes.

1. Removed crc32c_sse42.cc and crc32c_sse42.h from lib/checksum directory
2. Modified ChecksumProvider.cc and crc32c_sw.cc to remove references to above two files. Modified files are attached.
3. Disabled BUILD_TEST  thru `cmake . -DBUILD_TESTS=OFF`

Not sure how to configure a switch for the same.

[ChecksumProvider.cc.txt](https://git

[2019-04-22 20:57] sleungtoast opened #4101 "Fix Javadoc for ClientBuilder.keepAliveInterval"
**Describe the bug**
During the change in https://github.com/apache/pulsar/pull/1547, there was some copy and pasting that overlooked inconsistencies in variable naming and javadocs.
[code]
`keepAliveIntervalSeconds` should now be `keepAliveInterval` in the javadoc and variable name until it's converted into seconds
`@param unit time unit for {@code statsInterval}` should be `@param unit time unit

[2019-04-22 20:59] sleungtoast commented on #4101
Sorry, should have opened this as a "regular issue" and waited for someone to change the type to documentation.

[2019-04-23 06:39] murong00 opened #4106 "Improve usage hints for pulsar-perf subcommands"
**Describe the bug**
When running the subcommands of `pulsar-perf` without any parameters someone may encounter as below:
[code]
We should optimize the description for better usage.

[2019-04-23 17:40] #3976 closed

[2019-04-23 18:41] ruudk opened #4109 "[Websockets] Support server-side schema validation"
**Is your feature request related to a problem? Please describe.**
I'm using Websockets and want to use server-side Schema validation. Currently, this is not supported for Websockets.

**Additional context**
See [chat transcript](https://apache-pulsar.slack.com/archives/C5Z4T36F7/p1556043593312000) on Pulsar Slack channel.

[2019-04-23 19:20] sijie opened #4110 "Function should support `Message<T>`"
**Is your feature request related to a problem? Please describe.**

The message metadata is lost in source/function. People can not use these information for their computation.

**Describe the solution you'd like**

Similar as what was discussed in #4093, we should support using `Message<T>` as the input for a source or a function.

[code]

**Describe alternatives you've considered**

N/A

[2019-04-23 19:27] jerrypeng commented on #4110
@sijie aren't we using the Context object to expose these items?

More specifically:

[code]

Which will return a PulsarRecord

https://github.com/apache/pulsar/blob/master/pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarRecord.java

that contains the information about the input message

[2019-04-23 23:49] sijie commented on #4110
@jerrypeng yes. there is already a `getCurrentRecord`. However the Record interface doesn't catch up the Message interface, hence there are a few fields are not added. e.g. publish time, schema version and redelivery count. As I mentioned in the discussion in #4093 , the problem of having two interfaces is that it is really hard to make them consistent with each other.

There are a couple of optio

[2019-04-24 00:07] jerrypeng commented on #4110
@sijie I am open for having inputs as Message<T>, my only concern is for users to only have one way to get the contextual information about the input whatever that might be and not duplicating functionality in different parts of the functions code base. It just gets confusing not only for the user of functions but also developers when you can get the same info via different methods.

Alternatively

[2019-04-24 00:35] codelipenghui commented on #4100
DeadLetterTopic feature is disabled for `FailOver` and `Exclusive` subscription at broker side.

[2019-04-24 04:21] sijie commented on #4110
I am fine with this approach.

[2019-04-24 04:37] #4106 closed

[2019-04-24 05:12] ConcurrencyPractitioner commented on #4110
@jerrypeng If you hadn't started, could I try to take a hack at it?

[2019-04-24 05:31] jerrypeng commented on #4110
@ConcurrencyPractitioner sounds good!  Thanks for taking this up!

[2019-04-24 09:18] juan-daishogroup commented on #4095
We are experiencing the same issue in MacOS. Any ideas when this will be ready?

[2019-04-24 09:35] skyrocknroll commented on #4095
You can import "http://github.com/skyrocknroll/pulsar/pulsar-client-go/pulsar"

[2019-04-24 09:46] juan-daishogroup commented on #4095
Awesome! Thanks

[2019-04-24 10:34] sijie opened #4118 "Provide the ability to redeliver unacked messages only for Exclusive and Failover subscriptions"
**Is your feature request related to a problem? Please describe.**

Currently when redeliverUnacked was triggered, Pulsar redelivers the messages starting from the first unacked messages for Exclusive and Failover subscriptions. It would be great to provide an option to allow consumers to redeliver only unacked messages (aka allow out-of-order deliveries during redeliverUnack)

**Describe the solu

[2019-04-24 11:08] codelipenghui opened #4119 "Documentation for Dead letter topic"
This is a task to track documentation of dead letter topic.

[2019-04-24 15:08] ConcurrencyPractitioner commented on #4110
@jerrypeng Cool, thanks!
Just to clarify one thing, are we just adding this new method or is there something else that needs to be done?

[2019-04-24 17:47] ruudk commented on #4044
@sijie Thanks. Solved it with this config:
[code]

[2019-04-24 18:47] jerrypeng commented on #4110
@ConcurrencyPractitioner just add this new method to PulsarRecord class for now.

[2019-04-25 03:53] LvBay opened #4128 "Policies not found && ServiceNotReady"
**Describe the bug**

pulsar 2.3.0

1. When i produce or consumer the topic named `persistent://tenant/namespace1/topic1`,
pulsar returns the error `Policies not found for tenant/namespace1 namespace`. If the topic named `persistent://tenant/namespace1/ns/topic1`, it is fine.

2. When I produce a message to a new topic(`persistent://tenant/namespace1/ns/topic1`), I must subscribe to this topic fir

[2019-04-25 04:31] sijie commented on #4128
@LvBay

A couple questions to help with your problem:

- how do you setup pulsar? standalone or in a cluster.
- what was the commands you used for creating tenants and namespaces?

[2019-04-25 07:01] LvBay commented on #4128
@sijie
1. standalone, use pulsar/docker-compose/standalone-dashboard/docker-compose.yml
2. Sorry, I found that the second problem may be caused by my client. When I use ./bin/pulsar-client produce, everything is normal. But when I use go-client to send a message to a new tenant or topic under namespace, I have to initialize a consumer before I can generate a message.

[2019-04-25 07:43] ruudk opened #4131 "Warning: Nashorn engine is planned to be removed from a future JDK release"
When using the latest `pulsar-admin` commands I get this message every time:
[code]

Can it be removed / ignored?

[2019-04-25 08:00] LvBay commented on #4128
@sijie
About the second, i got it. I should send LookupTopic command before generating a message for a new topic.

Is there a progress in the first question?

[2019-04-25 09:43] genestack-solomatin commented on #3013
Hi, @sijie, I have noticed that [Start a standalone cluster with Docker](https://pulsar.apache.org/docs/en/standalone-docker/) does not reference pulsar-standalone image.

[2019-04-25 13:28] #3653 closed

[2019-04-25 22:44] jerrypeng opened #4137 "Incorrect behavior single Pulsar Client creating multiple consumers"
**Describe the bug**

After the introduction https://github.com/apache/pulsar/pull/3312 where the pulsar client try to return the same consumer on multiple consumer creates, incorrect and unexpected consumer creation behavior can occur.

If a single Pulsar client creates multiple consumers, some of the consumers retuned will be the the same consumer.

This is not the expected behavior, since if I

[2019-04-25 22:47] jerrypeng commented on #4137
@merlimat can you comment as well

[2019-04-25 22:55] merlimat commented on #4137
I think that the original PR kind of broke the semantic of the API (`newConsumer()` returning an actual consumer) and that causes the problems like in functions when running in thread runtime. That would probably be affecting other applications as well.

Other than that, I think there would be a problem coming with unacked messages.
 1. Consumer-1 gets M1
 2. Consumer-2 shares the same underlying

[2019-04-26 00:03] lovelle commented on #4137
First of all, my apologise for the trouble. Please, let me clarify when this is happening.

A previously built consumer would be returned when the next union is met: Shared mode consumers on the same topic with the same subscription within the same pulsar client.

Previously to #3312 creating a new consumer with the previous mentioned characteristics would result in a waste of resource and wouldn'

[2019-04-26 00:06] sijie commented on #4137
I think #3743 was attempting to revert to the change and #3746 comes up a fix with reference counting. If reverting, we need to revert all related changes. So I would suggest holding a bit on reverting. Let’s discuss it to see if there is any other fixes. If there is no, I am fine with reverting all the changes.

For the issue that functions is facing, I think it comes from MessageListener. Becaus

[2019-04-26 00:12] merlimat commented on #4137
That is only true if ack-timeout is enabled, but that is not the default behavior (because we cannot establish a "default" max processing time).

In the default case, the message received by application will stay unacked.

[2019-04-26 00:13] sijie commented on #4137
Alternatively we can return a wrapper consumer of the reference counted consumer. Although I am not sure if there are any problems around this approach.

[2019-04-26 00:15] sijie commented on #4137
That’s true.

[2019-04-26 00:18] lovelle commented on #4137
idk if is a good solution but unsubscribe() instead of close() would finish the consumer on the first try.

[2019-04-26 00:27] jerrypeng commented on #4137
@sijie in regards to how this impacts functions, even if we change PulsarSource to call receive() or add multiple message listener support , it still causes nondeterministic behavior when creating functions using ThreadRuntime.  Multiple attempts at creating the same function with the same number of instances will yield different number of consumers.  This creates a nightmare when trying to debug

[2019-04-26 00:39] sijie commented on #4137
@jerrypeng for functions, does it make better to set a consumer name (e.g. instance-<instance-if>-consumer) for both debugging and addressing the problem? Hence at broker side, if you are using stats, you know which consumer has problem. At client side, it should have returned a brand new consumer instance if a different consumer name is used. I forgot if current code can do that or not. If not, m

[2019-04-26 00:48] jerrypeng commented on #4137
@sijie I just tested with consumers with consumer name set as UUIDs, yet they still get returned as the same instance.  Though that just maybe be a bug.

We currently do set consumer meta data to indicate which function and instance this consumer is from which should be enough info for debugging purposes.

[2019-04-26 00:50] srkukarni commented on #4137
+1 to adding consumer name to resolve the functions issue.
As for the optimization issue, I think it breaks the newConsumer() abstraction in a fundamental way.

[2019-04-26 01:00] lovelle commented on #4137
subscription name instead of consumer name was added in order to identify duplicated consumers.

It breaks in the same way a singleton class does, and anyway it's used extensively in a lot of places.

[2019-04-26 01:02] jerrypeng commented on #4137
if that is the case, then there is no way for functions to side step this problem and we will have to revert the change because functions need to have to ability to create consumers using the same subscription

[2019-04-26 01:14] lovelle commented on #4137
Isn't possible for functions just to share the consumer instance instead of create multiple of the same?

Also, maybe we can modify #3312 to use consumer name instead of subscription name, idk if we will break issue #3226 with that.

[2019-04-26 01:32] lovelle commented on #4137
@jerrypeng I've just made #4139 in order to address what you need.

[2019-04-26 03:39] #2461 closed

[2019-04-26 03:54] lovelle commented on #4137
Hence, maybe the feature we don't want is #3795?

[2019-04-26 05:05] merlimat commented on #4137
Unsubscribe is a different operation from close. It will actually remove the subscription and stop retaining data.

@sijie Functions are already setting the consumer properties so they can be identified in the topic stats.

The problem is that the semantic of newConsumer() implies you're going to create a new "consumer" resource. If you're returning a cached object, the semantic is different. Appl

[2019-04-26 05:17] merlimat commented on #4137
I don't think that using the consumer name instead of the subscription name will solve the fundamental issue here.

There are different problems:
 1. Consumer name is randomly assigned if empty, so the caching will not take effect
 2. If application specifies same consumer name, then caching happen but:
    a. Unacked messages will not be redelivered
    b. 1 or more consumers will be created, dep

[2019-04-26 06:28] sijie opened #4140 "Allow ManagedLedger to configure using an existing bookkeeper cluster"
**Is your feature request related to a problem? Please describe.**

The bookkeeper client factory is using the same zookeeper cluster and assume ledgersPath is "/ledgers". If users already have a bookkeeper cluster under "/path/to/ledgers", there is no way for them to reuse the bookkeeper cluster.

**Describe the solution you'd like**

- add a setting to broker configuration, 'bkServiceUri'.
- swi

[2019-04-26 07:42] congbobo184 commented on #3216
I wiil to solve this issue

[2019-04-26 09:35] sijie opened #4141 "Kill the old version of site"
Currently Jenkins is still building the old site. It overrides the changes that I made to make old site redirects to new site. We need to kill the old site. Otherwise it will make things very confused.

[2019-04-26 12:31] lovelle commented on #4137
And isn't that what is meant to be in this case?

Yes, that's why at a first instance subscription name was chosen to verify duplicate consumers.

Agree with @Matteo that this optimizations maybe is not worth it just to fix issue #3226, maybe we can found a more easier solution to #3226 issue.

Since this optimizations seems to cause a lot of pain I made pull #4142 which reverts the entire feature

[2019-04-26 16:06] merlimat commented on #4137
But if you have 2 threads trying to use a consumer each:
 1. T1 subscribes and gets C1
 2. T2 subscribes and gets C2
 3. If C1 == C2 (same instance)
     a. T1 closes C1
     b. T2 gets exception on the next receive()

Here each thread has the expectation that it gets a consumer and it will be valid until it gets explicitly closed.

[2019-04-26 16:18] lovelle commented on #4137
Agree in that, but because of this ref count was implemented, I still don´t understand which use case within ref count on close() is broken.

The user expecting the consumer to be closed but the consumer still retaining messages (default redelivery disabled) ?

[2019-04-27 02:50] ConcurrencyPractitioner opened #4152 "Allow PersistentTopics#updatePartitionedTopic to also delete partitions"
### What is the problem?
So far, in the current Pulsar REST API available to users. ```PersistentTopics#updatePartitionedTopic()``` is able to increase the number of partitions, however it is unable to delete any partitions. This behavior should be modified so that the number of partitions could be deleted as well.

### Possible Solutions
Partitions could be forcefully deleted in Pulsar API. We co

[2019-04-27 04:05] ConcurrencyPractitioner commented on #4152
Oh @merlimat your thoughts on this?

[2019-04-27 06:17] #3944 closed

[2019-04-27 13:06] tuteng opened #4155 "Support schema versioning in key/value schema"
**Is your feature request related to a problem? Please describe.**
Key/Value should also support schema versioning as well. But it requires supporting schema evolution in key/value schema first.

**Additional context**
https://github.com/apache/pulsar/pull/4117/files#r279139226

[2019-04-27 20:22] readall opened #4156 "UNAVAILABLE: io exception in a elasticsearch sink"
define a sink to elastic search.
/pulsar/bin/pulsar-admin sink create --sink-type elastic_search --sink-config-file /var/exconf/sinkConfigElastic.yml

20:05:21.878 [main] INFO  org.apache.pulsar.admin.cli.CmdSinks - The sinkConfig read from file is SinkConfig(tenant=public, namespace=default, name=elastic-test-sink, className=null, sourceSubscriptionName=null, inputs=[assignments, my-topic], topic

[2019-04-28 03:56] sijie commented on #4128
@LvBay

Sorry for late response. I missed your reply 3 days ago.

It seems that you created a namespace `namespace1/ns`. Is that the case?

Pulsar doesn't allow using "/". Because it will confuses Pulsar whether it is a v1 topic or v2 topic.

[2019-04-28 04:04] #3742 closed

[2019-04-28 09:18] kuangye098 opened #4159 "The maximum number of outstanding messages (--max-outstanding) configuration may be inaccurate when the topic is multi-partitioned"
In the Producer Performance Benchmark, Topic has a partition number of 1024, specifying the parameter [-o 20000], and found that the maximum number of outstanding messages per producer is 48.
[code]

1. Created a Topic with 1024 partitions.
2. Test with the following command:
[code]
**Expected**
The number of outstanding consumption messages per partition is 20000 or 20000/partition number.

[2019-04-28 14:38] yangmingqi218 opened #4162 "kubectl appply -f bookie.yaml andthen Error"
14:32:40.592 [main-SendThread(zookeeper:2181)] INFO  org.apache.zookeeper.ClientCnxn - Opening socket connection to server zookeeper/172.16.0.204:2181. Will not attempt to authenticate using SASL (unknown error)
14:32:40.597 [main-SendThread(zookeeper:2181)] INFO  org.apache.zookeeper.ClientCnxn - Socket connection established to zookeeper/172.16.0.204:2181, initiating session
14:32:40.603 [main-S

[2019-04-28 16:58] NishealJ opened #4163 "Featuring pulsar in Docusaurus"
Hello, we would like to feature your project to the Docusaurus users page.
Would that be ok? Also can you provide your logo?

More info about this [here](https://github.com/facebook/Docusaurus/issues/1080)

[2019-04-28 17:13] sijie commented on #4163
@NishealJ yes. there is no problem about that.

You can find Pulsar's logo under https://github.com/apache/pulsar/blob/master/site2/website/static/img/pulsar.svg

[2019-04-28 19:00] NishealJ commented on #4163
Hi,
Has been added Thanks :) !

[2019-04-29 00:15] sijie commented on #4163
Awesome @NishealJ !

[2019-04-29 00:15] #4163 closed

[2019-04-29 02:17] MarvinCai commented on #2664
I'm very interesting in this PIP and I could help with some subtasks.

[2019-04-29 04:08] Xlingxiao opened #4164 "The superuser cannot obtain lastMessageId"
partition-0 get lastMessageId `401 Authentication required`
![image](https://user-images.githubusercontent.com/34467450/56876049-456dff80-6a77-11e9-8df7-f49a88a5e4e6.png)

partition-1 get lastMessageId is ok
![image](https://user-images.githubusercontent.com/34467450/56876036-30916c00-6a77-11e9-9f82-807362b2e35b.png)

[2019-04-29 04:58] Xlingxiao commented on #4164
The number of partitions for topic is 4.in java client  parition-0 and partition-3  is ok ,but partition-1 and partition-2 like this `401 Authentication required`

[2019-04-29 05:57] sijie commented on #2664
@MarvinCai : @tuteng and I start working on the TC part, and @zymap is already working on the TB part. Maybe you can help us in the acknowledgement part. I will try to do the api and protocol and coordinating the work around.

[2019-04-29 06:01] #4159 closed

[2019-04-29 06:03] sijie commented on #4164
@Xlingxiao are you using JWT authentication?

Which version of pulsar are you using?

[2019-04-29 06:06] Xlingxiao commented on #4164
@sijie Im using JWT authentication。Pulsar version is `pulsar-2.3.1`

[2019-04-29 06:06] sijie commented on #4162
@yangmingqi218 :

[code]

It seems the bookkeeper cluster is reformatted by `metaformat`. so the instance id stored in the bookie is different from the instance id in the cluster.

Can you describe more about the sequence you run for deploying the cluster? I guess you are using old persistent volumes but the zookeeper metadata is reformatted.

[2019-04-29 06:11] sijie commented on #4152
@ConcurrencyPractitioner

I don't think force deleting partition is the right direction. because it will cause data loss.

I think the right approach should be waiting for all the data in the old partitions to be consumed before deleting the old partitions. Hence:

- the broker has to maintain the metadata before partitions scaling-down and the metadata afterwards.
- the client needs to be able to

[2019-04-29 11:30] murong00 opened #4167 "Provide a method to get current number of messages"
In some app cases, someone may want to get the available number of messages in the cluster, it would be better to have a feature to get the number of current messages.

[2019-04-29 12:14] sijie opened #4169 "Support sticky consumer in Key_Shared subscription"
**Is your feature request related to a problem? Please describe.**

Master Issue: #4077

In supporting exactly-once stateful processing in Flink with Pulsar, the source function should be able to choose a key range to consume. So the events of a key range in a given partition would always be sent to the consumer to ensure the correctness for stateful processing. Because in Flink all the state mana

[2019-04-29 12:15] sijie commented on #4169
/cc @codelipenghui @jiazhai

[2019-04-29 12:19] sijie commented on #4077
@codelipenghui I added an issue #4169 for the requirements of supporting sticky consumers in Key_Shared subscription.

[2019-04-29 13:47] sijie opened #4170 "SchemaRegistry should support compatibility check over all existing schemas"
**Is your feature request related to a problem? Please describe.**

Currently the schema compatibility check is only done with the latest schema. That's probably not enough especially we now support schema versions for Struct schema. We need to the ability for check the compatibility with all existing schema version.

**Describe the solution you'd like**

We should introduce *transitive* schema ch

[2019-04-29 16:55] readall commented on #4156
I tried some more stuff.
Apparently a matching index must exist on elastic search before we can create a sink from pulsar.
Closing this to avoid confusion.

[2019-04-29 16:55] #4156 closed

[2019-04-29 18:11] jonb-streamlio opened #4171 "Pulsar Functions documentation does not mention deploying Functions workers in containers"
**Describe the bug**
The current Pulsar Functions deployment documentation (https://pulsar.apache.org/docs/latest/functions/deployment/) lists only localrun and cluster mode as the deployment options for Functions. Should also note that Functions can be deployed to run in containers/nodes that are separate from the broker nodes.

**Expected behavior**
Functions deployment documentation needs to in

[2019-04-30 02:18] #2734 closed

[2019-04-30 02:20] #3654 closed

[2019-04-30 03:01] wolfstudy opened #4175 "[go function] support health check for go function"
**Is your feature request related to a problem? Please describe.**

At present, the go function does not support the health check mechanism. During the operation of the go function, the broker has no way to manage it well.

[2019-04-30 03:17] ConcurrencyPractitioner commented on #4152
@sijie Oh, in that case, wouldn't we have to stop the flow of new records/messages into the ledgers? From my interpretation, I think from the approach you described, what we should do is basically stop all flow of new data from Producer to the partitions we wish to delete, finish processing the data that is still there, then delete them.

I think when we delete partitions, the most straightforward

[2019-04-30 07:25] wolfstudy opened #4176 "[pulsar function] refactor function runtime"
**Is your feature request related to a problem? Please describe.**

When writing the go function, I realized that the function runtime has some places that are not very reasonable, for example:

What does the runtime mean?

- Is java python or golang?
- or thread process or k8s?

I think the runtime itself wants to mean something like: thread, process and k8s and other different runtime environmen

[2019-04-30 07:38] Xlingxiao commented on #4164
Can I use Chinese ？

this is new problem：
这里又有新的问题出现了：

[code]

[2019-04-30 07:51] sijie commented on #4164
@Xlingxiao :

I looked at your screenshots - it seems that you are issuing the `lastMessageId` directly to the admin endpoint. it seems your JWT authentication is lost when the http request is redirected. There is a similar issue in java admin client : https://github.com/apache/pulsar/pull/3869 .

I would suggest you using admin cli or the java admin api. It handles the authentication header durin

[2019-04-30 08:09] Xlingxiao commented on #4164
@sijie

Yesterday I also made errors using Java cli，but today I deleted the topic and used the new topic. Now there is no problem with Java cli

What configuration do you need to see ?

[code]
![image](https://user-images.githubusercontent.com/34467450/56948321-59daf680-6b62-11e9-80bd-75ff98acbe75.png)

[2019-04-30 11:37] sijie opened #4179 "[schema] java.lang.NoClassDefFoundError: org/joda/time/ReadablePartial"
**Describe the bug**

When using AvroSchema from latest master, it throws following exceptions:

[code]

**To Reproduce**

1. Build the latest master.
2. Use the AvroSchema from latest master. It will throws the above exception.

**Expected behavior**

No exception should be thrown.

**Additional context**

I think the problem introduced by #3900. It doesn't shade the joda library properly.

[2019-04-30 11:38] sijie commented on #4179
/cc @congbobo184 @codelipenghui

[2019-04-30 12:27] sijie opened #4180 "Delete Inactive Topic should also clean up the schema"
Similar as #3941, we should also clean up schema when deleting inactive topic. Otherwise the schema information would be just left there :(

[2019-04-30 12:54] sijie commented on #4164
Talked with @Xlingxiao offline. The issue that cluster doesn't show up was due to a misconfiguration in zookeeper. It was gone after fixing the zookeeper setup.

The Authentication error seems to still happen. I guess it is related to the redirection problem similar to   #3869 . will keep working on this. @merlimat if you have any quick idea, please comment to help.

[2019-04-30 14:11] sijie opened #4182 "GenericAvroSchema should set supportSchemaVersioning to true"
We should use the right schema for deserializing the avro data to GenericRecord. Currently GenericAvroSchema doesn't set `supportSchemaVersioning` to true, so it uses the latest schema for deserializing data, which is problematic.

[2019-04-30 14:11] sijie commented on #4182
/cc @codelipenghui @congbobo184

[2019-04-30 17:58] jerrypeng commented on #4176
Yup I agree some refactoring can and should be done to make runtimes more modular and that the code between all of these runtimes is not sprinkled everywhere in the code.

I can definitely seen the confusion here with the overloaded term "runtime".  We have a interface call Runtime and we have an enum called Runtime but they refer to different things.  The former refers more to a Runtime Environme

[2019-04-30 18:01] jerrypeng commented on #4176
We should also make the setting of the Runtime/RuntimeFactory to be actually pluggable in the WorkerConfig.  Currently its not.  Ideally in the work config we should see something like:

RuntimeFactory: "org.apache.pulsar.functions.runtime.ProcessRuntimeFactory"
RuntimeFactoryConfigs:
  ...

[2019-05-01 07:44] foreversunyao commented on #4094
@sijie , I updated the design document, could be ready to start a discussion for more details.

[2019-05-01 09:46] hellozepp commented on #4180
Hi~ @sijie
I have reviewed CmdTopics.Java, is not the feature you mentioned the following code?
[code]

[2019-05-01 17:15] srkukarni commented on #4176
One simple fix to avoid the runtime overload confusion might be to just rename the RunTime enum to a Language enum. i believe that should be backwards compatible.

[2019-05-02 14:26] NotBad4U commented on #4055
I encounter the same errors with the `client-cpp 2.3.1`.
Fixing the pulsar-client-go version with `require github.com/apache/pulsar/pulsar-client-go v2.3.1` in the `go.mod` throw me the same error:
[code]

Desktop:
- Linux
- arch and ubuntu

[2019-05-02 17:20] waxzce opened #4194 "Use graalVM native image to build client and client admin"
Using the pulsar-admin command can be very frustrating because of the startup time. That's one point were graalVM native image is interesting: build a static "binary".

Various problem to compile to native-image can occur, using reflection and dynamic classloader are often the problems providers. From my point of view, auth plugins are the main problem, but apart of these, do you see any points to

[2019-05-03 04:24] #4182 closed

[2019-05-03 12:32] Inilien opened #4199 "documentation: unclear how to use Pulsar IO"
Couldn't figure out from documentation how to use Pulsar IO connectors ((

https://pulsar.apache.org/docs/en/io-managing/#configuring-connectors - here you tell to use yaml config files and give link to [run connectors](https://pulsar.apache.org/docs/en/io-managing/#running-connectors) but in `run connectors` section - not once yaml configs were mentioned

Also, I couldn't find any information on

[2019-05-03 22:17] lakarchitect commented on #4100
May i know more details on why? Also what are the alternatives suggested, does it mean cursor will not move until the message is processed and acked ?

[2019-05-03 22:56] simonliangnarvar commented on #4055
@chrislearn @merlimat Do you have any idea how to solve `go mod` issue mentioned by @NotBad4U ? From [official documentation](http://pulsar.apache.org/docs/en/client-libraries-go/), it never mentions about it, but instead only `go get` and `dep`.

[2019-05-04 01:46] pouledodue opened #4201 "trigger a function through a HTTP API"
Capability to trigger a function through a HTTP API
Without using `pulsar-admin`.
Goal is to get the output fast and be able to handle high number of calls.
Like AWS Lambda where you can serve website content directly from function output

[2019-05-04 02:04] merlimat commented on #4201
The CLI tool is always using the HTTP API.
The endpoint is https://pulsar.apache.org/functions-rest-api/#operation/triggerFunction

Setting up the content might be a bit involved though :/ since it requires a multi-part body a so on.

[2019-05-04 03:44] pouledodue commented on #4201
it works thanks

[2019-05-04 03:44] #4201 closed

[2019-05-04 03:44] pouledodue commented on #4201
do you know if it can handle a lot of hits?

[2019-05-04 04:04] jiazhai commented on #3491
would like to close this issue. since the main work is done here.

[2019-05-04 04:04] #3491 closed

[2019-05-04 14:46] ghost opened #4202 "State as first-class citizen"
Goal is to have capability equivalent to DynamoDB so I can rely less on external databases
Implement more capabilities of RocksDB: Get, Put, Range, Multiget
Access all those capabilities by Rest API, Python, Java
State less tied to Function like asked in #2489

[2019-05-04 23:49] #4042 closed

[2019-05-05 06:21] codelipenghui commented on #4100
For `FailOver` and `Exclusive` subscription mode, pulsar do not track the ack status for each message. When message redelivery happens in  `FailOver` or `Exclusive` mode,  broker just rewind the cursor(Currently, no sign for ack timeout message).  So we originally supported this feature in `Shared` mode.

This is possible to support this feature in  `FailOver` or `Exclusive` mode. Like in `Shared`

[2019-05-05 08:08] sijie opened #4206 "Download links for 2.3.1 rpm packages are broken"
![image (2)](https://user-images.githubusercontent.com/1217863/57190693-f977fa80-6f4f-11e9-8b20-2fffd580bf50.png)
![image (1)](https://user-images.githubusercontent.com/1217863/57190694-fa109100-6f4f-11e9-92f5-dc7d4bca8ade.png)

[2019-05-05 08:13] sijie commented on #4180
@hellozepp

Sorry for late response. the code snippet you pasted is the feature I mentioned in #3941

However the feature here is about doing the same thing when pulsar broker deleteInactiveTopic. In #3941 , users delete topic explicitly using pulsar-admin. In this issue, it is broker itself deleting the topics when they are inactive. Hope this give you the idea about what this issue for.

[2019-05-05 08:23] sijie commented on #4199
Thank you for your feedbacks. This helps us improve the documentation. We will try to make clarifications in the documentation according to your feedbacks.

Pulsar IO is more about getting data in and out. Most of the connectors just transferred `bytes`. Some of the connectors like CDC and JDBC will attempt to deserialize the events using pulsar generic schema.

Currently Pulsar IO doesn't provide

[2019-05-05 13:05] ambition119 commented on #4206
client and client-debuginfo link to https://www.apache.org/dyn/mirrors/mirrors.cgi?, but client-devel, asc, sha512 link to  https://archive.apache.org/dist/pulsar occur error.

[2019-05-05 15:29] #4206 closed

[2019-05-06 03:03] sreev opened #4209 "Pulsar IO Source Connector for Couchbase"
**Is your feature request related to a problem? Please describe.**
New Source io connector for Couchbase

**Describe the solution you'd like**
Create new Couchbase source connector

**Describe alternatives you've considered**
N/A.

**Additional context**
N/A

[2019-05-06 09:19] sijie opened #4213 "`rereplicationEntryBatchSize` should be smaller than `maxPendingReadRequestsPerThread`"
*Problems*

If you have only a small number of bookies, when a bookie crashes, auto recovery kicks in and it will quickly overwhelm the other bookies.

*Solution*

It would be good to set a reasonable value.

[2019-05-06 14:11] ivankelly opened #4215 "HTTP lookup doesn't work through proxy"
**Describe the bug**
When configuring a client, connecting directly to brokers you can specify that it uses http for lookup by configuring the HTTP url as the service URL. This works fine.

However, if you are connecting to the service through a proxy, specifying the HTTP url doesn't work, as the client doesn't know if it should connect to the returned endpoint via a proxy node, or directly.

**To

[2019-05-06 18:39] aahmed-se opened #4221 "State change feed"
They are certain use cases that need to monitor changes to the state , we should be able to publish write and update operations in our state store to a change feed pulsar topic that other functions can listen to and act upon.

[2019-05-06 20:07] srkukarni commented on #4201
It creates a producer for each http request. Meant for debugging rather than a fast data path.

[2019-05-06 22:05] simonliangnarvar commented on #4055
Hi @chrislearn @merlimat @NotBad4U
Any update one this issues? We meet the similar problem, especially unknown go modules for Pulsar 2.3.1.
Does anyone use go mod to successfully download/install Pulsar go client?
Thanks very much!

[2019-05-06 23:50] aahmed-se commented on #4194
I don't know how stable graalVM is last I checked it's still is an RC candidate we might also need to look at other http client libs that support aot code generation.

[2019-05-07 02:57] chrislearn commented on #4055
@simonliangnarvar
If the library's version is v1.x.x, I think add a version tag v1.x.x in git repository can let it supports go module.
But if the library's version is v2 or higher, according official documention, we need to change major branch or use subdirectory.
https://github.com/golang/go/wiki/Modules#releasing-modules-v2-or-higher
https://github.com/golang/go/wiki/Modules#semantic-import-ver

[2019-05-07 03:06] chrislearn opened #4225 "Is there any plan to add rust client?"
Rust is a good language, Is there any plan to add rust client?

[2019-05-07 03:53] merlimat commented on #4225
There are people working on https://github.com/wyyerd/pulsar-rs

[2019-05-07 10:09] briandoran opened #4228 "Schema Registry support through PulsarKafkaProducer"
**Is your feature request related to a problem? Please describe.**
In order to minimise integration issues with Kafka/Pulsar I am wondering if its possible to use the Apache Kafka producer API to specify using AVRO schemas in Pulsar? It looks like this can just be done through the pulsar ProducerBuilder API `pulsarClient.newProducer(avro).create();` which returns a pulsar.Producer rather than a ap

[2019-05-07 12:43] shiv4289 commented on #3954
The issue was re-oponed as a result of this chat on slack:

[2019-05-07 23:41] aahmed-se commented on #4225
you can also use the rust via websocket
https://github.com/quiye/pulsar-rust-websocket-client

[2019-05-07 23:42] pouledodue commented on #4201
@srkukarni would it be possible to add scalability, the goal would be direct content serve client->api gateway->http_api->function

[2019-05-08 00:25] bruth opened #4231 "Close blocks if called twice in Go Client"
**Describe the bug**
Calling `Client.Close()` twice blocks due to the presumably since the underlying [`CloseAsync`](https://github.com/apache/pulsar/blob/master/pulsar-client-go/pulsar/c_producer.go#L287-L291) blocks.

**To Reproduce**
Initialize a client and call `Close` twice successively. The second call will block indefinitely.

**Expected behavior**
Subsequent calls to `Close` should be a no

[2019-05-08 00:34] bruth commented on #4231
This appears to be the case for producers as well (and I would presume consumers).

[2019-05-08 06:58] #4128 closed

[2019-05-08 12:36] sijie opened #4233 "Function worker can't start when setting up a geo-replicated cluster"
**Describe the bug**

When setting up two geo-replicated clusters with functions-worker enabled, one cluster will fail to start functions worker because the cluster is not in the cluster list of `public/functions`.

**To Reproduce**

1. Setup cluster A
2. Setup cluster B. B shares the same configuration store with A.

**Expected behavior**

Cluster should start function worker as expected.

[2019-05-08 19:35] grantwwu opened #4234 "Make client logging configurable"
**Is your feature request related to a problem? Please describe.**
The Python and Go client libraries log - a lot.  It's annoying especially if you're trying to use a form of structured logging, or just debug something you know is unrelated to Pulsar.

**Describe the solution you'd like**
At bare minimum, there should be a way to just turn it off.

A more complete solution would allow configuring

[2019-05-08 20:08] merlimat commented on #4234
@grantwwu In Go it's already possible to configure. Take a look at the `Logger` in `ClientOptions`:
https://godoc.org/github.com/apache/pulsar/pulsar-client-go/pulsar#ClientOptions

We should do something similar for Python as well and probably move the logger to Py `logging` by default.

[2019-05-08 20:09] merlimat commented on #4234
C++ lib has a `setLogger()` method that we'd need to hook up in the Python bindings: https://pulsar.apache.org/api/cpp/classpulsar_1_1_client_configuration.html#aa0dc0968fea7621352aae5a82bda7222

[2019-05-08 20:18] grantwwu commented on #4234
Good to know for Go.  Definitely would love this in Python as well.

[2019-05-08 23:21] srkukarni commented on #4201
It should't be too hard. Please open an issue.
We love contributions as well :) I could guide you with this.

[2019-05-09 01:03] 18852996112 opened #4240 "c++ client too many files opens"
**Describe the bug**
open too many files.

**To Reproduce**
Steps to reproduce the behavior:
1. create client&consumer, subscribe, close and destroy client.
2. do `Step1` in a loop for many times
3. use `netstat` i find that the number of opened socket is increasing.
4. See error,  too many files open, when create client

**Expected behavior**
nothing.

[2019-05-09 01:23] merlimat commented on #4240
@18852996112 A client instance should be reused in a process.

What's the state of this sockets? OS will keep the ports busy for some time after closing the sockets. Once the limit is reached, the process will fail to create new sockets.

[2019-05-09 01:33] 18852996112 commented on #4240
All  states are ESTABLISHED.

[2019-05-09 01:34] 18852996112 commented on #4240
ESTABLISHED

[2019-05-09 03:12] zhengqz opened #4243 "Message size is bigger than 5232640 bytes"
**use pulsar-2.3.1 run in standalone,  and sync mysql binlog from canal(1.1.3), when message size more than 5M  cause IllegalReferenceCountException**

# ENV
1. pulsar 2.3.1
2. Centos 7.6.1810
3. canal-mysql-source-config.yaml
[code]
4. Command
[code]

**/opt/apache-pulsar-2.3.1/logs/functions/public/default/canal/canal-0.log**
[code]

[2019-05-09 03:18] shiv4289 commented on #4243
I think this is work in progress https://gist.github.com/zymap/08ec1bb688d2da16e9cd363780480e7a

[2019-05-09 08:22] Lsxk opened #4244 "pulsar bookie establish a tcp link with a port lower than 20,000, which is easy to occupy the port"
#### Expected behavior
![image](https://user-images.githubusercontent.com/12078538/57438481-9f8c7300-7276-11e9-8229-1da7beebd97c.png)

Tell us what should happen

#### Actual behavior

Tell us what happens instead

#### Steps to reproduce

How can we reproduce the issue

#### System configuration
**Pulsar version**: x.y

[2019-05-09 08:28] Lsxk commented on #4244
![image](https://user-images.githubusercontent.com/12078538/57438838-61dc1a00-7277-11e9-9734-bd94bab9485a.png)

[2019-05-09 14:48] tuteng opened #4248 "pulsar source localrun command report error: IllegalArgumentException"
**Describe the bug**
When I run the following command
[code]
This error occurred:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use the latest code

2. Configuration file debezium-mysql-source-config.yaml

[code]

3.
[code]

**Expected behavior**
localrun success

**Desktop (please complete the following information):**
 - OS: [Mac]

**Additional context**
I feel it has something t

[2019-05-09 16:49] ghost opened #4249 "Scalable HTTP API for Function triggering"
Goal is to serve content to end user using Functions.

[code]
like aws is doing with their combo apigateway+lambda where their ApiGateway can return content to user (json/html..) while also calling a Lambda function

The goal here is scalability to handle many user requests coming from the `my_api_gateway`

related to #4201

[2019-05-09 16:51] pouledodue commented on #4201
I read the PRs regularly and not sure I have the Java skills to contribute at this time.
Maybe later

[2019-05-09 17:17] merlimat commented on #4240
@18852996112 Can you share your test code to reproduce the issue?

[2019-05-09 17:24] merlimat commented on #4240
Error does not reproduce on MacOS with

[code]

[2019-05-09 18:10] KannarFr opened #4251 "Schema parsing validation"
**Describe the bug**
When you put a schema which has parsing issues using Avro, there is a 500 without stacktrace.

[2019-05-10 01:36] 18852996112 commented on #4240
In my last testing, i create connection and destroy the connection further slowly. Then  there's no that problem.  I think the season is OS keep the connection for some time.
thanks.

[2019-05-10 01:36] #4240 closed

[2019-05-10 01:54] merlimat commented on #4240
@18852996112 I actually mistakenly assumed this was with Java client. I haven checked with C++ client...

[2019-05-10 11:28] zymap opened #4260 "Not exist default tenants `public` and namespace `default`"
**Describe the bug**
When I start a broker there is not exist default tenants and namespace:

**To Reproduce**
Steps to reproduce the behavior:
1. Start a zookeeper
2. Start a broker `bin/pulsar broker`

**Expected behavior**
start a broker successfully

**Screenshots**
![image](https://user-images.githubusercontent.com/24502569/57524219-c1125b00-7359-11e9-8e3f-cccd5230d315.png)

**Desktop (please

[2019-05-10 11:41] pouledodue commented on #4221
yes like DynamoDB Streams

[2019-05-10 16:37] williamhammond commented on #4231
I'd like to take a shot at fixing this

[2019-05-11 08:18] liketic commented on #4180
hi @sijie , I opened #4262 , happy to hear your thoughts. :)

[2019-05-13 08:26] Xpray opened #4266 "Reuse Producer for Apache Flink Connector"
**Is your feature request related to a problem? Please describe.**
Pulsar Producer should be reuse across Flink tasks.

**Describe the solution you'd like**
Make Producer ```static``` and keep a counter for life cycle.

**Describe alternatives you've considered**
None

**Additional context**
None

[2019-05-13 21:38] moonboots300 opened #4271 "Pulsar Avro Schema Enum improvement request"
**Is your feature request related to a problem? Please describe.**
The pulsar API is not granular enough around Avro Schemas and Enums. There are currently 2 problems with the Pulsar Avro Schema resolution:

1.  Not able to set required=True for Enum types in python for an enum.
[code]

Desired Schema (with required enum):
[code]
Actual Schema - generated by AvroSchema(Test)
[code]
required=True,

[2019-05-13 21:43] merlimat commented on #4271
Yes, this is something we definitely need to do

How do you suggest the declaration for enums with "annotations" should look like in Python?

[2019-05-13 22:09] moonboots300 commented on #4271
so for #2. (java) I found that setting .withAlwaysAllowNull(false) and marking fields as @Nullable (org.apache.avro.reflect.Nullable) as a workaround works. Still not perfect, but slightly better than originally mentioned.

I suggest that there be a similar method to mark an Enum as required. It should look like this when I define a class that extends Record (to create a schema). I am not as famil

[2019-05-13 23:47] merlimat commented on #4271
the problem here is that `MyEnum` is really of Python type `Enum`. That enum might be defined elsewhere in the application (or might be coming from a library), therefore we cannot count on passing `required=True` there.

We would have to add a `c = pulsar.schema.Enum(MyEnum, required=True)`

[2019-05-14 02:12] moonboots300 commented on #4271
That would solve the issue I am currently facing. Would really appreciate this in an upcoming release!

[2019-05-14 03:16] moonboots300 commented on #4271
One last thing. The issue with java Enums still exists as I stated in the original post. I revisited and realized it was not working as I thought. See below:

In java, Building a Schema with Enums and withAlwaysAllowNull(false) is too restrictive. Suppose I have an AvroSchema that is defined by a java Class with two Enums, one that is required and one that is not required. I can only choose: withA

[2019-05-14 20:26] VagulaSundararajan opened #4274 "Prometheus Topic stats with remote cluster issue"
**Describe the bug**
The remote cluster label is appended without closing the topic label

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Prometheus broker metrics in which the topic has remote cluster
2. check the pulsar_replication_* types
4. The topic label has value like
pulsar_replication_rate_in{cluster="cluster",namespace="ns",topic="persistent://ns/ns/topicnameremote_cluster="v

[2019-05-14 20:39] wmccarley opened #4275 "Proxy Lookup for Partitioned Topics Requires Explicitly Granting Permissions on Each Partition"
**Describe the bug**

I have a cluster where all producers and consumers connect via a proxy instance (no direct connect to the brokers.)

The brokers are configured with:
proxyRoles=proxy@xyz

The proxy is configured with:
authorizationEnabled=true >>
forwardAuthorizationCredentials=false
authenticationEnabled=true

For non-partitioned topics granting permission to
proxy@xyz
and
original@xyz
is s

[2019-05-14 23:14] rdhabalia opened #4276 "zookeeper leader log file grows and fills up disk space"
### Issue

When Bk-client deletes the ledger, it also tries to delete ledger's parent nodes blindly and because of that ZK's entire log file fills up  with below log `Directory not empty for`. Broker rollovers cursor's metadata-ledger at every few configured hours. Broker with large number of global topics and cursors it generates really huge log (>10GB/day) file at zk-leader which consumes most o

[2019-05-14 23:16] rdhabalia commented on #4276
@sijie @merlimat does it make sense to check empty node before deleting ledger's parent node?

[2019-05-14 23:23] merlimat commented on #4276
Also, the "delete" operation will get appended to the ZK transaction log anyways, because it works as a write-ahead-log, so it's one more write op.

(Though I wouldn't characterize this as a "bug" :) )

[2019-05-14 23:41] merlimat commented on #4276
As a temp workaround, to increase log level to "warn" on `PrepRequestProcessor`. For proper fix, check the parent folder "stat" to get the list of current children and avoid issuing the delete requests.

[2019-05-15 00:39] rdhabalia commented on #4276
@merlimat can you please review: https://github.com/apache/bookkeeper/pull/2097

[2019-05-15 00:55] merlimat commented on #4276
LGTM

[2019-05-15 00:56] jerrypeng opened #4277 "Use separate classloader loading user functions JARs"
#### Motivation

Currently, we use are using a custom shaded java-instance.jar to run functions.

This creates a couple issues:

1. Increases the size of binary distributions
2. We have to keep shading dependencies as they are added to the pulsar function runtime.  This can be tricky especially for transitive dependencies
3. We don't shade pulsar dependencies e.g. pulsar-common.  If a user decides

[2019-05-15 00:57] jerrypeng commented on #4277
@sijie @srkukarni @merlimat can you please comment

[2019-05-15 01:11] jerrypeng commented on #4248
@tuteng I have a fix up.  Are you free to write some integration tests for the local run mode for functions/sources/sinks.  I don't think we have any add this current moment.  I would write them myself, but I am currently busy with some other matters. Thanks in advance!

[2019-05-15 01:46] merlimat commented on #4277
👍

[2019-05-15 01:49] jiazhai opened #4279 "some ZK path for Pulsar metadata is not configurable"
some ZK path for Pulsar metadata is hard coded and not configurable, It would be great to make them configurable, so user could leverage their existing zk cluster, and put all pulsar related data in user configured place.

[2019-05-15 05:51] codelipenghui commented on #4271
@moonboots300 I think you can add annotation `org.apache.avro.reflect.Nullable` for enum which you want it allow null. withAlwaysAllowNull(true) equivalent to `org.apache.avro.reflect.Nullable` for every field.

[2019-05-15 08:00] rshermanTHG commented on #4260
The public tenant and public/default namespace are only created automatically when you start a standalone broker

`bin/pulsar standalone`

[2019-05-15 08:08] zymap commented on #4260
ok, thank you

[2019-05-15 08:08] #4260 closed

[2019-05-15 19:46] moonboots300 commented on #4271
@codelipenghui, @merlimat  - That is another problem that I would like to highlight. Suppose I have a schema that we are currently using that has the following Avro Enum field:
[code]
If I do AvroSchema.of( <Classname of Pojo> ). I get the following Enum field in my definition (which is not backwards compatible - with the **,"default": Null** added at the end):

[code]
The use case I have for this

[2019-05-15 21:22] #4251 closed

[2019-05-16 07:11] shiv4289 opened #4283 "flink job crashes when serializing auth in pulsar client"
**Describe the bug**
pulsar flink connector now uses ClientConfigData to instantiate pulsar client. Pulsar client composes Authentication which can not be serialized. In an environment with Auth there is no way to set auth in pulsar client.

**To Reproduce**
The below code crashes on last line:

**Expected behavior**
Provide a way to set Auth for pulsar client from pulsar flink connector

[2019-05-16 08:36] cbornet opened #4285 "Pulsar Functions as a library"
**Is your feature request related to a problem? Please describe.**
Currently, Pulsar Functions need to be packaged and launched by pulsar-admin or loaded into a broker.
This has the disadvantage of being hard to debug and slow to REPL. And you can't use your favorite framework to integrate into your existing infrastructure (eg. Spring-Boot, Spring-Cloud, ...)

**Describe the solution you'd like**

[2019-05-16 09:11] codelipenghui commented on #4271
@moonboots300 Sorry, I didn't fully understand your question. I wrote a test, hope can help you.
[code]

[2019-05-16 15:31] Jim-Lambert-Bose opened #4286 "libpulsar Homebrew formula fails"
libpulsar Homebrew formula fails to install and reports that the "protobuf@2.6" dependency is "missing"

**To Reproduce**
Steps to reproduce the behavior:
Following the instructions from: https://pulsar.apache.org/docs/latest/clients/Cpp/#MacOS-684t0p

Running the brew command specified:

[code]

**Desktop (please complete the following information):**
MacOS Mojave version 10.14.4

[2019-05-16 15:45] merlimat commented on #4286
@Jim-Lambert-Bose the doc page above is from the old site and it's outdated (we need to get that out the google index).
Please refer to https://pulsar.apache.org/docs/en/client-libraries-cpp

To install on Mac, it would be just `brew install libpulsar` since it's already included in Homebrew-Core

[2019-05-16 15:54] merlimat commented on #4286
BTW: just removed the outdated docs from site.

[2019-05-16 16:12] Jim-Lambert-Bose commented on #4286
@merlimat that's 2.3.1 but that won't work with the go-client correct?
https://github.com/apache/pulsar/issues/4055

[2019-05-16 16:16] merlimat commented on #4286
You just need to make sure to pick the `v2.3.1` tag of the Go code

[2019-05-16 16:21] merlimat commented on #4286
Ok I haven’t fully read the other issue.... not sure what’s the problem there

[2019-05-16 16:46] Jim-Lambert-Bose commented on #4286
There is no v2.3.x tags on the "go code" in the pulsar repo.  How in the world does that even happen 🤷‍♂

I was able to find the git hash of the v2.3.1 commit and pull the right module version via:
`go get github.com/apache/pulsar/pulsar-client-go@ 7a6f2cca0fdb01e4a1ea1c72d907217a13af8ff1`

But... in the end, there is some compatibility issue.  Even the most basic go example client won't build:
[c

[2019-05-16 17:09] merlimat commented on #4286
The tag is set on the repo: https://github.com/apache/pulsar/tree/v2.3.1
Go client code is in the `pulsar-client-go` directory in the repo: https://github.com/apache/pulsar/tree/v2.3.1/pulsar-client-go

[2019-05-16 17:22] Jim-Lambert-Bose commented on #4286
Pulling the v2.3.1 does not work:
[code]

But, I got it work via...
[code]

[2019-05-16 17:23] Jim-Lambert-Bose commented on #4055
I got it work via...
[code]

[2019-05-16 17:23] Jim-Lambert-Bose commented on #4286
I updated https://github.com/apache/pulsar/issues/4055

[2019-05-16 17:28] merlimat commented on #4286
Got it. The problem is that 2.3.1 was missing a fix (#3759) that went in master and was backported in `branch-2.3`. This will be included in the upcoming 2.3.2 which will be released shortly.

[2019-05-17 05:57] #3475 closed

[2019-05-17 07:42] codelipenghui commented on #3731
Since #3732 is already fixed, close this issue.

[2019-05-17 07:42] #3731 closed

[2019-05-17 09:38] ppgoml opened #4294 "Is this code reasonable in GenericJsonSchema.java ?"
/pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericJsonSchema.java

 public byte[] encode(GenericRecord message) {
        checkArgument(message instanceof GenericAvroRecord);
        GenericJsonRecord gjr = (GenericJsonRecord) message;
        try {
            return objectMapper.writeValueAsBytes(gjr.getJsonNode().toString());
        } catch (IOException ioe) {

[2019-05-17 15:45] moonboots300 commented on #4271
@codelipenghui  Thanks! That will work and answers my question around java.

[2019-05-17 17:00] #4274 closed

[2019-05-17 20:18] merlimat commented on #4089
Fixed in BookKeeper 4.9.2.

`pip install apache-bookkeeper-client==4.9.2` Should let install the pulsar-client now.

[2019-05-17 20:18] #4089 closed

[2019-05-17 21:35] #4286 closed

[2019-05-17 21:42] Jim-Lambert-Bose opened #4302 "Go client blocks forever if tenant/namespace missing."
**Describe the bug**
If a tentant/namespace is missing, and you create a producer, the Go client hangs forever

**To Reproduce**
[code]
[code]
**Expected behavior**
I think this should timeout after 5 seconds.

**Desktop (please complete the following information):**
macOS Mojave v10.14.4

**Additional context**
pulsar v2.3.1 go client and libpulsar

[2019-05-18 12:27] #4283 closed

[2019-05-18 14:07] liketic opened #4304 "Number of placeholder and arguments mismatch in log message"
**Describe the bug**
We have some log like:
[code]
The number of ```{}``` is different to arguments count.  And for exception logging:
[code]
The last argument type is ```Throwable``` , here is last argument will not be treated as a format argument even there is a placeholder.

[2019-05-18 14:41] #4179 closed

[2019-05-19 11:27] Jim-Lambert-Bose commented on #4302
More information...  It appears there's some sort of "environment issue".  I've stripped my puslar code down to the example:
`
package main

import (
	"context"
	"fmt"

	log "github.com/apache/pulsar/pulsar-client-go/logutil"
	"github.com/apache/pulsar/pulsar-client-go/pulsar"
)

func Foo() {
	fmt.Println("starting Foo...")
	client, err := pulsar.NewClient(pulsar.ClientOptions{
		URL:       "pulsa

[2019-05-19 11:29] Jim-Lambert-Bose commented on #4302
This runs when it's in a stand-alone executable with the following broker logs
[code]
But when I pull it into my larger project it just hands with the following broker logs:
[code]
Both of working test and the failed test projects have the same go module graphs for puslar:
[code]

[2019-05-19 11:41] Jim-Lambert-Bose commented on #4302
Ah Ha!!!! I figured it out.  I was creating a producer in an init() function and apparently that just hangs forever.

[2019-05-19 12:13] Jim-Lambert-Bose commented on #4302
I think, this issue has to do with CreateProducer() depending on multiple goroutines executing so it can write/read to a channel:
https://github.com/apache/pulsar/blob/6485ccf75d96f282c2c61e1dd87b85e42de64102/pulsar-client-go/pulsar/c_client.go#L207

But all Go init() functions execute in a single goroutine: https://golang.org/ref/mem#tmp_4

[2019-05-19 12:33] sijie commented on #4294
@ppgoml I think this was an issue that was fixed in master.

[2019-05-19 12:34] Jim-Lambert-Bose opened #4307 "OperationsTimeout in pulsar go client pulsar.ClientOptions is a time.Duration but it's treated as Seconds"
**Describe the bug**
OperationTimeoutSeconds is defined as type time.Duration (https://golang.org/pkg/time/#Duration), which leads the developer to believe they should set it to a time.Duration which for 5s would be 5000000000, since time.Duration is in nanoseconds.  Unfortunately, it's treated an integer representing seconds and it expects 5s to be represented as 5.

**Expected behavior**
If you'

[2019-05-19 12:38] sijie commented on #4100
changed this issue from a bug to a feature. because originally we were planning to support deadletter topic for shared subscription only. If we are going to support it for exclusive and failover, it is a feature request here.

[2019-05-19 12:43] sijie commented on #4119
@codelipenghui wondering if you have time to provide the content for dead letter topic. @Jennifer88huang or @Anonymitaet can help with writing the documentation.

[2019-05-19 12:43] sijie commented on #4131
@ruudk can you provide more information on the jdk you are using?

[2019-05-19 12:45] Jennifer88huang commented on #4119
Sure. When the doc related material is ready, feel free to contact us.

[2019-05-19 12:48] sijie commented on #4162
@yangmingqi218 any more details about this issue?

[2019-05-19 12:53] sijie commented on #4199
@Inilien hope my previous comment already addressed your questions. If no, please let me know.

[2019-05-19 13:02] sijie commented on #4243
This has been addressed by #4247 and will be included in 2.4.0 release.

[2019-05-19 13:02] #4243 closed

[2019-05-19 13:04] sijie commented on #4248
This is fixed by #4278

[2019-05-19 13:04] #4248 closed

[2019-05-19 13:06] sijie commented on #4279
@jiazhai you can use zookeeper chroot to configure the root path for pulsar metadata.

e.g. "zk:2181/newroot"

So I don't think we need a code change for this.

[2019-05-19 13:06] #4279 closed

[2019-05-19 13:08] sijie commented on #4277
This proposal looks good to me. +1

[2019-05-19 13:16] sijie commented on #4271
@moonboots300

To summarize the problems here,

a) in Java, you can use `withJsonDef` in SchemaDefinitionBuilder to enforce the avro schema. Hence I think your question in Java is answered, correct?

b) in Python, does python schema provides similar `withJsonDef` work for you as well?

[2019-05-19 13:17] sijie commented on #4244
@Lsxk Can you explain a bit more about the screenshots?

[2019-05-19 13:20] sijie commented on #4302
@wolfstudy can you help with the question here?

[2019-05-19 13:22] sijie commented on #4307
/cc @wolfstudy

[2019-05-19 13:24] sijie commented on #2964
@rdhabalia was this fixed by #2981 already?

[2019-05-19 13:24] sijie commented on #2963
Closed this issue since the question was answered

[2019-05-19 13:24] #2963 closed

[2019-05-19 13:27] sijie commented on #2987
This was fixed by #3014

[2019-05-19 13:27] #2987 closed

[2019-05-19 13:36] sijie commented on #3073
The documentation about running functions on kubernetes is added in #4263

[2019-05-19 13:38] sijie commented on #3068
Closed this issue since the question was answered

[2019-05-19 13:38] #3068 closed

[2019-05-19 13:39] sijie commented on #2405
This was fixed by #3352

[2019-05-19 13:39] #2405 closed

[2019-05-19 13:40] sijie commented on #308
Close this issue due to inactivities. Please reopen it if there are more things we should be looking into it.

[2019-05-19 13:40] #308 closed

[2019-05-19 13:42] sijie commented on #3122
This is fixed by #3123

[2019-05-19 13:42] #3122 closed

[2019-05-19 13:44] sijie commented on #2466
This is fixed by #3904

[2019-05-19 13:44] #2466 closed

[2019-05-19 13:46] sijie commented on #3177
This is fixed by #3801

[2019-05-19 13:46] #3177 closed

[2019-05-19 13:48] sijie commented on #3208
Closed the issue since the question was answered.

[2019-05-19 13:48] #3208 closed

[2019-05-20 02:57] #4155 closed

[2019-05-20 08:53] moonboots300 commented on #4271
@sijie

a. Yes, originally I was not aware, @codelipenghui  pointed this out for me
b. No Python does not have a similar withJsonDef method. I think there is room for improvement around Avro in python.

[2019-05-20 08:55] #4170 closed

[2019-05-20 11:48] Anonymitaet commented on #4119
Glad to help @codelipenghui

[2019-05-21 08:29] KannarFr opened #4321 "[pulsar functions] import java class conflicts"
**Describe the bug**
Add a dedicated JerseyClient dependency on functions throws conflicts during import.

[code]

`pom.xml` looks like:
[code]

And the imports of the function:
[code]

I think it's about reflections on `javax.ws.rs.client.ClientBuilder` when it needs the jerserbuilder.

[2019-05-21 08:42] KannarFr commented on #4321
I got the same issue, even when I remove the dependencies of my functions (i.e. simple jar, not uber-jar one).

[2019-05-21 09:20] #3290 closed

[2019-05-21 09:52] yangl opened #4323 "multi consumer client subscribe partitioned topic by Exclusive subscriptionType don't throw Exception"
**Describe the bug**
first, create **partitioned topic**  A with 4 partitions,
then, start first consumer  client by Exclusive subscriptionType, and then start second consumer client with the same subscription name, but the second client don't throw exception as except just log WARN message：
[code]

**Expected behavior**
throw exception as consumer the none partitioned topic

[code]

**Additional

[2019-05-21 12:30] Jim-Lambert-Bose opened #4324 "Go client: consumer.Unsubscribe() places topic in unusable state."
**Describe the bug**
My unit tests use a static subscription name and topic name.  My test does a: create, publish, consume messages and then unsubscribe at the end.  This works the first time with no problem, but subsequent runs fail and the subscription is in an odd state.   I am able to clear the issue be running: `pulsar-client consume --subscription-name my-sub  --num-messages 0 my-topic`
The

[2019-05-21 13:32] #4119 closed

[2019-05-21 13:34] #4101 closed

[2019-05-21 19:26] jerrypeng opened #4330 "Supporting Message output for Java Function"
We have discussed and implemented Message as an input for a Java Function:
https://github.com/apache/pulsar/pull/4313

Perhaps its time to discuss supporting outputting Message as an option to that users can set any of the fields that is support in the Message interface for an outgoing message

We already have a message builder interface exposed via context, perhaps we can reuse it with some modif

[2019-05-22 00:12] #4074 closed

[2019-05-22 08:24] yangl opened #4333 "support create one partition partitioned-topic by pulsar-admin create-partitioned-topic command"
**Is your feature request related to a problem? Please describe**
[code]
above command parameter  **-p** the number of partitions should be more than 1

**Describe the solution you'd like**
use "./bin/pulsar-admin topics  create-partitioned-topic"  command  create **1 partition** partitioned-topic instead the none partitioned topic , because the none partitioned topic can't become partitioned topi

[2019-05-22 09:12] KannarFr commented on #4277
@jerrypeng I think https://github.com/apache/pulsar/issues/4321 is related.

[2019-05-22 09:49] #3073 closed

[2019-05-22 09:49] #4171 closed

[2019-05-22 11:14] gopalvd opened #4334 "How to configure the geo-replication we have two datacenters"
#### Expected behavior

Tell us what should happen

#### Actual behavior

Tell us what happens instead

#### Steps to reproduce

How can we reproduce the issue

#### System configuration
**Pulsar version**: 2.3.1

I am having some trouble in setting the geo-replication. I have two datancenters and i am succuessful in producing and consuming the messages in each data center individually and wanted

[2019-05-22 13:22] rcastagnet opened #4337 "Duplicate metrics Prometheus"
**Describe the bug**
The default metrics stay present even though there is an other metrics with more information.
Prometheus only processes this default metric.

**To Reproduce**
* Produce and consumer on your cluster
* Do a curl on metrics url :
[code]
* The result :
[code]
* Next, in prometheus you find only :
[code]

**Expected behavior**

* In Prometheus, you should find :
[code]

**Additiona

[2019-05-22 13:40] wolfstudy opened #4339 "[go client] max message size error"
**Describe the bug**

Encountered a very magical problem, when I use java-client to send data, the maximum size of the message is `MaxMessageSize=5 * 1024 * 1024 - 10 * 1024` can be sent normally, as follows:

[code]

When I send it using `pulsar-client-go`,  will tell me `MessageTooBig`, code as follows:

[code]

error as follows:

[code]

error location as follows:

**c_producer.go #line:257**
[

[2019-05-23 02:13] Anonymitaet opened #4344 "[Doc] Fix output after #4318 is merged"
I'll handle this.

https://github.com/apache/pulsar/pull/4318

https://github.com/apache/pulsar/pull/4338

[2019-05-23 03:07] merlimat opened #4345 "Intermittent test failure in ReplicatorRateLimiterTest"
Seen in https://builds.apache.org/job/pulsar_precommit_java8/9140/testReport/junit/org.apache.pulsar.broker.service/ReplicatorRateLimiterTest/setup/

[code]

cc/ @jiazhai

[2019-05-23 03:41] codelipenghui opened #4346 "Ledger directory is 100% used"
**Describe the bug**
A single ledger directory is 100% used, but other directories are used very low

**Screenshots**
![image](https://user-images.githubusercontent.com/12592133/58229119-674f5f00-7d63-11e9-8710-f97142fd7748.png)

**Heap dump**
https://drive.google.com/open?id=11J9OQjCj-pYgJxu0MLzEWg8ge63H71Te

**Pulsar version**
2.2.0

[2019-05-23 03:46] merlimat commented on #4346
Can you share the bookie config? For the ledger directories.

[2019-05-23 06:04] codelipenghui commented on #4346
@merlimat this the config for the ledger directories
[code]

[2019-05-23 06:50] yjshen opened #4347 "[ClientAPI]ReaderBuilder.loadConf() not working"
**Describe the bug**
Cannot create new reader while using loadConf method in reader builder chain.

**To Reproduce**
Steps to reproduce the behavior:
1. Create PulsarClient
2. `client.newReader().topic(tp).startMessageId(start).loadConf(readerConf).create()`

**Expected behavior**
Create a reader with both settings specified using methods as well as `loadConf`.

**Screenshots**
[code]

**Desktop (

[2019-05-23 06:57] yjshen commented on #4347
@sijie @jiazhai

[2019-05-23 09:29] hapihu opened #4350 "Not enough arguments for Logger's method"
There is not enough parameters when calling the Logger interface.

1. File: pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/ClustersBase.java
[code]
2. File:pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java
[code]
3. File:pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/LoadManager.java
[code]

[2019-05-23 09:39] #4213 closed

[2019-05-23 12:28] hellozepp commented on #4054
Hi~ @zymap , What is the progress now?

[2019-05-23 12:31] zymap commented on #4054
@hellozepp  It's already implement. https://github.com/apache/pulsar/pull/4247

[2019-05-23 16:09] merlimat opened #4353 "Intermittent test failure int KeySharedSubscriptionTest.testConsumerCrashSendAndReceiveWithHashRangeStickyKeyConsumerSelector"
https://builds.apache.org/job/pulsar_precommit_java8/9152/testReport/junit/org.apache.pulsar.client.api/KeySharedSubscriptionTest/testConsumerCrashSendAndReceiveWithHashRangeStickyKeyConsumerSelector/

[code]

cc/ @codelipenghui

[2019-05-23 17:22] srkukarni commented on #4330
I like the build interface

[2019-05-23 17:31] srkukarni commented on #4277
+1 from me.

[2019-05-23 17:44] #4330 closed

[2019-05-23 17:45] jerrypeng commented on #4321
@KannarFr even currently most the the internal function dependencies are shaded

[2019-05-23 20:42] merlimat opened #4355 "Intermittent test failure on PulsarFunctionE2ESecurityTest.testAuthorizationWithAnonymousUser"
https://builds.apache.org/job/pulsar_precommit_java8/9160/testReport/junit/org.apache.pulsar.functions.worker/PulsarFunctionE2ESecurityTest/testAuthorizationWithAnonymousUser/

[code]

cc/ @jerrypeng

[2019-05-24 02:27] jiazhai commented on #4353
Seems this is related to changes in https://github.com/apache/pulsar/pull/4329 ?

[2019-05-24 03:11] ambition119 commented on #4347
@yjshen I can't reproduce this issue, what about example code ?
[code]

[2019-05-24 03:39] jiazhai opened #4357 "tenants list not match between brokers"
**Describe the bug**
user report data not match when run `pulsar-admin tenants list` on different brokers. And after reboot broker, it get syned.

**Expected behavior**
get same result when run `pulsar-admin tenants list` on different brokers.

**Screenshots**
![941558667436_ pic_hd](https://user-images.githubusercontent.com/6348208/58301223-2a916f80-7e18-11e9-8b16-387933b2aea3.jpg)

[2019-05-24 03:48] jiazhai commented on #4357
A possible that will cause this isssue is zk disconnection.
while broker disconnect with zk, other broker's change to zk were not able to be synced to the disconnect broker.
It would be good to refresh the zk data that cached in broker periodically, to avoid this error happen.

[2019-05-24 05:28] yjshen commented on #4347
Put `startMessageId` before `loadConf` in the builder chain could reproduce it.

[2019-05-24 07:54] ambition119 commented on #4347
thanks, I can try solve.

[2019-05-24 09:38] davidtinker opened #4359 "Proxy doesn't start on machines with <= 2 CPUs with default proxy.conf"
**Describe the bug**
The proxy fails to start with 'Uncaught exception in thread main: Failed to start HTTP server on ports [8082]' with default proxy.conf (httpNumThreads=) on machines with <= 2 CPUs.

**To Reproduce**
Set 'httpNumThreads=' (default) and start the proxy on a machine with <= 2 CPUs.

**Expected behavior**
The proxy should start with the default httpNumThreads setting in proxy.conf

[2019-05-24 14:52] jiazhai commented on #4353
@codelipenghui  Hi Penghui  is this the fix?
https://github.com/apache/pulsar/pull/4352/commits/9b5f749c82aeb0f3579333bddbe3fec6175f3ad0

[2019-05-24 16:16] merlimat commented on #4353
Yes, the pending acks needs to be filled in from the same thread, instead of doing that from the consumer connection thread.

[2019-05-24 16:16] merlimat commented on #4353
s

[2019-05-24 16:16] #4353 closed

[2019-05-24 17:04] BJTiso opened #4361 "Go client: multi-topic unsubscribe hangs when regex does not match any topics"
**Describe the bug**
When performing multi-topic unsubscribe on a topic regex that does not not match any topics, then Unsubscribe call will block indefinitely.

**To Reproduce**
Steps to reproduce the behavior:
1. launch container ```apachepulsar/pulsar``` and listen on port 6650 on host

2. use ```github.com/apache/pulsar/pulsar-client-go v0.0.0-20190517092409-1f4a836a46483db408e0bf3990321597426

[2019-05-24 17:31] merlimat commented on #4361
@BJTiso are the topics existing or the regex leads to an empty list?

[2019-05-24 17:41] BJTiso commented on #4361
When I reproduce, the no topics exist, in fact ```curl localhost:8080/admin/v2/persistent/public/default``` returns ```[]```

when the regex matches a topic before Subscribe is called, Unsubscribe works well and pulsartest returns.

[2019-05-24 17:48] merlimat commented on #4361
Got it.. I think there should be an easy fix

[2019-05-24 18:34] merlimat commented on #4361
@BJTiso Added fix (though the issue it was on the underlying C++ lib )

[2019-05-24 18:36] BJTiso commented on #4361
@merlimat many thanks!

[2019-05-24 21:06] sleungtoast opened #4365 "Authentication provider getAuthData called before initialization"
**Describe the bug**
When I wrote a custom authentication provider, I expected `.getAuthData()` to not be called before `.start()` was called. When I turned on TLS, it hit a codepath where that happened.

**To Reproduce**
Steps to reproduce the behavior:
1. Add an Authentication provider that throws an exception if `start()` has not been called.
2. Use a TLS broker url
3. Create a consumer
4. On c

[2019-05-24 21:27] merlimat commented on #4365
@sleungtoast Can you past the stack trace for the initialization sequence?

[2019-05-24 21:48] sleungtoast commented on #4365
Sure thing
[code]

[2019-05-25 00:41] #4350 closed

[2019-05-25 00:46] hapihu commented on #4350
This issue has been resolved.

https://github.com/apache/pulsar/pull/4351

[2019-05-25 03:23] jiazhai commented on #4345
@merlimat looked at the log. not able to find any clue. It is a timeout in setup(), except setting the timeout to 30s, ReplicatorRateLimiterTest calls super.setup, not do anything additional.

[2019-05-25 04:09] jiazhai commented on #4365
seems the code is added in PR #3550, indeed called getAuthData before start
<img width="733" alt="WeChat23843512bff02c5c74b20d4a40daedf1" src="https://user-images.githubusercontent.com/6348208/58364317-59294c00-7ee5-11e9-8bae-54815eb6b7ca.png">

[2019-05-25 14:32] liketic opened #4370 "Implement Flume Source with Event driven source instead"
Currently, we implemented a Flume source which is also a Pulsar connector, the base class ```SourceOfFlume``` extends Flume's ```AbstractPollableSource```, which will be called in a poll interval by an external driver. In this way, the results consumed from Pulsar will be stored in a queue as the consuming logic maybe independent absolutely.

In the other hand, Flume also support Event Driven sour

[2019-05-26 02:17] #4180 closed

[2019-05-26 06:02] Anonymitaet commented on #4073
@zhaijack I've fixed this issue in https://github.com/apache/pulsar/pull/4338, you can close this.

[2019-05-26 09:17] sijie commented on #4359
@davidtinker #4375 for the fix

[2019-05-26 09:17] sijie commented on #4370
@tuteng can you chime in with your thoughts?

[2019-05-26 09:21] sijie commented on #4357
@jiazhai

I have worked with the engineer from huobi and figured out the problem. The problem is not in pulsar. The problem comes from a fall-behind zookeeper observer.

They setup a 6 nodes global zookeeper cluster, which 3 observers. If the broker connects to an observer that falls behind, it will not get all the namespace policies. Hence the latest created namespace will not show up.

The probl

[2019-05-26 09:21] #4357 closed

[2019-05-26 09:21] sijie commented on #4347
@ambition119 any luck?

[2019-05-26 09:22] sijie commented on #4346
@codelipenghui shall we create a bug in apache/bookkeeper ? my feeling is this is a bug in bookies?

[2019-05-26 09:24] #4073 closed

[2019-05-26 09:25] sijie commented on #4344
@Anonymitaet - #4338 is merged. fyi

[2019-05-26 09:30] sijie commented on #4334
@gopalvd

You can checkout the geo documentation here: http://pulsar.apache.org/docs/en/administration-geo/

If you want to enable geo-replication, you need a global zookeeper. so both two data centers can share the same namespace policy (with the replicated clusters). I guess the exception you got is due to you don't configure the two clusters with a global zookeeper.

If you don't have a global

[2019-05-26 09:33] sijie commented on #4321
@KannarFr can you double check if your problem is fixed in latest master?

[2019-05-26 09:35] Inilien commented on #4199
@sijie yes, thank you
Considering yaml configuration I found [this section](https://pulsar.apache.org/docs/en/pulsar-admin/#source) of docummentation - the [create](https://pulsar.apache.org/docs/en/pulsar-admin/#create-4) command accepts yaml configuration file which is I assume is exactly the file from this [example](https://pulsar.apache.org/docs/en/io-managing/#configuring-connectors) which I

[2019-05-26 10:01] sijie commented on #4199
You can write your own source and sink for doing that. My previous comment was that most of the (built-in) connector implementations are just about transferring bytes data in and out of Pulsar. so if you are using Pulsar's built-in connectors, you don't need to specify those settings. For example, if you connect data from Kafka to Pulsar, it just reads bytes from kafka and write bytes to Pulsar. P

[2019-05-26 10:41] Anonymitaet commented on #4344
@sijie Thanks.

[2019-05-26 11:00] Inilien commented on #4199
One of the use-cases at hand - is to pull data from Pulsar topic (which consists from protobuf messages) and push it into ElasticSearch.
If I understood you correctly, the [built-in ElasticSearch](https://pulsar.apache.org/docs/en/io-elasticsearch/#sink) connector wan't be able to deserialize protobuf messages and I should write my own connector for that purpose (probably just modify the existing

[2019-05-26 11:17] sijie commented on #4199
yes that's correct. you just need to modify the existing one or add a new one based on the existing one.

yes you can

[2019-05-26 11:50] #4199 closed

[2019-05-26 17:32] shiv4289 opened #4379 "ClientConfigurationData Authentication not set in PulsarClientImpl"
**Describe the bug**
1. Setting Auth class and auth param does not build authentication instance in ClientConfigurationData.java
2. The lombok builders don't set default values set to attributes in class ClientConfigurationData.java. So PulsarClientImpl(conf) crashes.

[2019-05-27 00:57] ambition119 commented on #4347
It was revised on Friday and will be submitted PR today, then you can have a look, thanks.

[2019-05-27 02:52] jerrypeng opened #4383 "Update Sinks and Sources Documentation after API change"
In regards to this PR:

https://github.com/apache/pulsar/pull/4363

[2019-05-27 03:32] zymap opened #4384 "[Web Service] Error code"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

This code is validate whether the user have permission for request content. I think it's more better return as 403. It just haven't permission to access the content. What do you think about this?

[2019-05-27 03:33] zymap commented on #4384
@sijie @merlimat  @jiazhai

[2019-05-27 10:05] phuongtailtranminh opened #4386 "Pulsar Function doesn't get started"
**Describe the bug**
After using Pulsar Java Client to create the function on specified topic, the function is not in running state.

**To Reproduce**

Java Code

[code]

If I try to use startFunctions method (which is not mentioned in the JavaDoc), the server returns me this exception

Start function
[code]

Return
[code]

and I have no idea why?

**Expected behavior**
Function in running state

[2019-05-27 12:30] KannarFr commented on #4118
Yes @sijie! It is my need.

[2019-05-27 13:24] tuteng commented on #4386
After successful creation, it will be in the running state. You cannot start a function in the running state. You can try to stop first and then start. @phuongtailtranminh

[2019-05-27 13:27] phuongtailtranminh commented on #4386
Yes. Thats what I expected.

Below is the content of `sanitizer.py` file that has been mentioned in the code:

[code]

For testing, I sent a word into the `inputTopic` and expect the output contain the exclamation mark but nothing be returned.

[2019-05-27 13:44] tuteng commented on #4386
You can try looking at the log at logs/function/xxxxx

[2019-05-27 16:12] phuongtailtranminh commented on #4386
How can I check the log at there? : D

[2019-05-27 21:24] jerrypeng commented on #4386
the logs are under logs/functions/<TENANT>/<NAMESPACE>/<FUNCTION_NAME>

[2019-05-28 01:04] phuongtailtranminh commented on #4386
Thanks you. It's really helpful to point out that I was missing something

[2019-05-28 02:27] phuongtailtranminh commented on #4386
After checked the log file, I updated the content of file to smt like below:

[code]

Then re-register the function with Pulsar, but then the log file shows new error:

[code]

[2019-05-28 02:54] lsy180829 opened #4389 "Could NOT find PythonLibs (missing: PYTHON_LIBRARIES PYTHON_INCLUDE_DIRS)"
**Describe the bug**
When I ran the order, pulsar-client-cpp/pkg/rpm/docker-build-rpm.sh , to build master, I got these:
[code]

**To Reproduce**
reference: https://pulsar.apache.org/docs/en/client-libraries-cpp/

**Expected behavior**
bulid success

**Desktop (please complete the following information):**
 - OS: centos7

[2019-05-28 03:02] tuteng commented on #4370
Using event-driven is a better way.
However, in the current environment, sink of pulsar is a wrapper for the consumer. In the interface sink, the write method does not return a value and needs a place to temporarily store the received message. Therefore, a buffer queue-like component is needed here.
I think it is simpler to use consumer components directly, similar to the following code:

[code]

[2019-05-28 04:47] sijie commented on #4384
@zymap Nice catch! I also didn't realize the difference between 401 and 403 after googling an answer from stack overflow - https://stackoverflow.com/questions/3297048/403-forbidden-vs-401-unauthorized-http-responses

I am +1 for returning 403

[2019-05-28 04:48] sijie commented on #4384
@zymap since this changes the response code returned from rest api, it might be better to start a PIP with a discussion in dev@ mailing list.

[2019-05-28 06:22] zymap commented on #4384
@sijie Ok, I will write a PIP and send it in mailing list.

[2019-05-28 07:34] codelipenghui commented on #4346
@sijie I'm already create bug report in apache/bookkeeper, https://github.com/apache/bookkeeper/issues/2103

[2019-05-28 08:55] KannarFr opened #4391 "pulsar consumption ack strange behavior"
**Describe the bug**
I create Exclusive consumer on persistent topic. I consume all the messages using pulsar4s (the scala library), which sends an ack directly after received the message with its ConsumerMessage class.

Anyway, it uses the java pulsar client, and it produce this log: ```10:43:45.806 [pulsar-timer-4-1] INFO  o.a.p.c.i.ConsumerStatsRecorderImpl - [persistent://clevercloud/logs/comm

[2019-05-28 09:12] KannarFr commented on #4321
@sijie It is not. Still have `java.lang.RuntimeException: java.lang.ClassNotFoundException: org.apache.pulsar.functions.runtime.shaded.org.glassfish.jersey.client.JerseyClientBuilder`. You can reproduce using createTenant method from function body:

[code]

But is `org.glassfish.jersey.client` shaded, and it changes nothing that this method comes from static context?

[2019-05-28 09:36] guozili520 opened #4394 "Broker start error"
When I started the broker,  some error happened. What should I do about this problem？
ERROR org.apache.pulsar.broker.PulsarService - keyCertChain required for servers
java.lang.NullPointerException: keyCertChain required for servers
        at io.netty.util.internal.ObjectUtil.checkNotNull(ObjectUtil.java:33) ~[io.netty-netty-all-4.1.32.Final.jar:4.1.32.Final]
        at io.netty.handler.ssl.SslCo

[2019-05-28 09:36] KannarFr commented on #4391
[code]

[2019-05-28 18:32] #4359 closed

[2019-05-28 22:45] KannarFr commented on #4321
Fixed. Jersey is now removed from shaded.

[2019-05-28 22:45] #4321 closed

[2019-05-28 22:54] KannarFr commented on #4391
According to @sijie it might be related to https://github.com/apache/pulsar/issues/4118.

[2019-05-28 23:50] merlimat opened #4397 "Intermittent test failure in PeerReplicatorTest.testPeerClusterInReplicationClusterListChange"
[code]

[2019-05-29 01:29] #4361 closed

[2019-05-29 07:19] #4294 closed

[2019-05-29 15:50] #4389 closed

[2019-05-29 17:54] #2375 closed

[2019-05-29 23:20] #4365 closed

[2019-05-30 01:37] kevinclcn opened #4405 "Why pulsar java client doesn't support batch message consuming?"
I am a Kafka user and attracted here by some Pulsar impressive features. However, I find Pulsar lacks one feature that Kafka has - the batching message consuming support.

In Kafka, we can fetch a list of message records in each poll invoking, while in Pulsar, we can [only get one message](https://github.com/apache/pulsar/blob/e3ece349d060b7ce0fd40e37e3a6d197036274c9/pulsar-client-api/src/main/jav

[2019-05-30 01:41] merlimat commented on #4405
If the concern is around efficiency, internally, messages are transported in batches. With that, there’s not a real difference between getting a list of messages or getting them one by one

[2019-05-30 04:27] kevinclcn commented on #4405
Yep, I agree the efficiency is not much different. But what I need to do is to get a batch list of messages and do a batch thing with them, such as batch insert, etc. In the current consumer API, I have to buffer the messages into memory myself, which is not convenient.

[2019-05-30 14:42] hapihu opened #4408 "[pulsar-broker][pulsar-common][pulsar-client]Incorrect log parameters"
1. File: /pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v1/NonPersistentTopics.java
[code]
2. File:pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java
[code]
3. File:pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java
[code]

4. File: pulsar-common/src/main/java/org/apache/pulsar/common/naming/NamespaceName.java

[code]

[2019-05-30 14:55] adamdyga commented on #3121
Not sure if it's related, but I get similar error message when running the K8S examples from `deployment/kubernetes/generic` in minikube. After restarting minikube, I also get the following error:

[code]

[2019-05-30 19:48] sleungtoast opened #4413 "Consumer subscribe memory leak when server not reachable"
**Describe the bug**
If you continually create new Consumers that fail to subscribe due to an unresponsive host, a memory leak in some resource inside ClientCnx happens. I'd assume something similar can happen for other clients. Let me know if I should upload a heap dump somewhere. Possibly related to https://github.com/apache/pulsar/pull/3422

**To Reproduce**
Steps to reproduce the behavior:
Run

[2019-05-30 20:47] sleungtoast commented on #4413
I noticed this problem doesn't exist if you point to something like "pulsar://unreachable:9999" if that helps narrow the scope.

[2019-05-30 21:36] merlimat commented on #4413
@sleungtoast Nice catch! The leak is there because the `ClientCnx` object is created but since the connection fails to get established, it will never call the `connectionInactive()` handler.

The leaked memory though is smaller than the above reported (eg: I did put a `System.gc()` in between because `Runtime.freeMemory()` is not accounting for non-referenced objects).

[2019-05-31 01:39] #4413 closed

[2019-05-31 02:27] murong00 opened #4422 "Bookie can't start in the background by pulsar-daemon when passing extra opts"
When trying to pass extra settings via `bkenv.sh` (e.g. set `BOOKIE_EXTRA_OPTS` when enable kerberos) and starting in the background via `bin/pulsar-daemon start bookie`, it failed to get the corresponding settings since `bin/pulsar-daemon` i.e. `bin/pulsar` use `pulsar_env.sh` by default.

One way is to start the bookie in the foreground via `bin/bookkeeper bookie`, or as a workaround, you can ju

[2019-05-31 05:45] vivekpd15 opened #4423 "Where can I find the helm chart to deploy Pulsar SQL with HA?"
Where can I find the helm chart to deploy Pulsar SQL with HA?

[2019-05-31 21:31] sleungtoast opened #4432 "Client stats on partitioned topics missing some aggregated values"
**Describe the bug**
In `ProducerStatsRecorderImpl.updateCumulativeStats`, it aggregates
[code]
but doesn't aggregate
[code]
leading to incomplete stats for a parent partitioned topic producer. The consumer stats have a similar problem.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a partitioned topic
2. Create a producer on that topic
3. Call `producer.getStats()`, the rate and lat

[2019-06-01 01:52] liketic commented on #4370
@tuteng I'm not sure if that's possible, I guess there are some differences between a pulsar sink and Flume source. Maybe need future work to figure what we can do.

[2019-06-01 03:37] liketic commented on #4408
Duplicated with #4304

[2019-06-01 13:24] #4370 closed

[2019-06-03 05:50] shiv4289 opened #4441 "Like PulsarClient.buiilder, ClientConfigurationData.java should enable tls if pulsar+ssl"
**Describe the bug**
There are two ways of instantiating a java client and both should behave in similar ways. As of now, PulsarClient.builder assumes tls enabled if the pulsar+ssl or https is used in the service url. In fact, the builder marks enableTls() as deprecated.

ClientConfigurationData.java lags a bit that way. It does not enable tls if pulsar+ssl or https is used in service url.

**To R

[2019-06-03 08:32] benxinglong opened #4443 "Can Pulsar support auto clear topic which has long time no consume subscriptions?"
Now Pulsar can support auto clear inactive topics.Sometimes we also need to auto clear those topics with subscriptions that have no consume operations in a long time .

[2019-06-03 10:21] wolfstudy opened #4444 "[cgo client] Shared subscribe type error"
**Describe the bug**

go test:

[code]

**To Reproduce**

copy the code above, and run it.

**Expected behavior**

In go test code, `consumer1` and `consumer2` each receive 10 messages. In fact, only `consumer1` receives 10 messages, and then remains blocked, and `consumer2` does not receive any messages.

In cpp test code, `consumer` and `consumer1` each receive 1 messages. In fact, only `consume

[2019-06-03 10:28] wolfstudy commented on #4444
@sijie @merlimat @jiazhai I am not an expert in cpp, I am not sure how to use `gdb` or `dlv` in cpp to locate this problem very well, but as far as the results of the current test are concerned, `cpp-client ` and `cgo-client` have some problems in the `shared` subscription mode.

[2019-06-03 12:42] #4444 closed

[2019-06-03 14:58] nkurihar opened #4447 "Broker gets stuck when getting partitioned stats"
**Describe the bug**

Brokers in our cluster get stuck when executing `internalGetPartitionedStats`:
https://github.com/apache/pulsar/blob/3cfa81250e49b24b4b195f8e2d510fcd24b93745/pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java#L609-L610

thread dump:
https://gist.github.com/nkurihar/5d90ce683802390cdec2d9fb65cc0297
[code]

**To Reproduce**
We haven't foun

[2019-06-03 15:46] sleungtoast opened #4448 "Upgrade ZooKeeper to 3.5.5 (stable)"
**Is your feature request related to a problem? Please describe.**
This is just a nice to have. The new version of ZooKeeper has many features such as dynamic membership reconfiguration. Hopefully this can also take out the need for some workarounds to maintain ZK version compatibility with BK as well.

**Additional context**
Release 3.5.5 is now stable https://zookeeper.apache.org/releases.html

[2019-06-03 16:13] merlimat commented on #4448
We already did the exercise of upgrading to 3.5.4-beta (and then rolled back because of the perceived instability of `-beta`...).

There are few breaking things in the on-disk format for zk 3.5, though we are already handling these (though AspectJ) in order to allow a rollback to 3.4.

[2019-06-03 17:53] scpeters opened #4449 "Build fails with boost 1.70.0"
**Describe the bug**
This package fails to compile with boost 1.70.0. I noticed this in the test logs of boost 1.70.0 in homebrew-core:

* https://github.com/Homebrew/homebrew-core/pull/38890
* https://jenkins.brew.sh/job/Homebrew%20Core%20Pull%20Requests/43080/version=sierra/testReport/junit/brew-test-bot/sierra/install___build_bottle_libpulsar/

**To Reproduce**
Steps to reproduce the behavior: