[2018-12-05 22:17] #136 closed

[2018-12-05 22:18] ivankelly commented on #135
Closing due to lack of activity. Feel free to reopen.

[2018-12-05 22:18] #135 closed

[2018-12-05 22:18] srkukarni commented on #1215
@sijie @merlimat pl review

[2018-12-05 22:21] ivankelly commented on #133
Closing as duplicate of #2375

[2018-12-05 22:21] #133 closed

[2018-12-05 22:22] ivankelly commented on #1
Closing as dupe of #1070 which is more active.

[2018-12-05 22:22] #1 closed

[2018-12-06 03:03] codelipenghui opened #3131 "Consumer stop receive messages from broker"
#### Actual behavior

A process subscribe a topic with 2 subscriptionName. After a few hours, we found backlog of 1 subscriptionName growing continuous, then check the broker stats:

![image](https://user-images.githubusercontent.com/12592133/49558266-6a859880-f945-11e8-9786-8f4cc9dc24c1.png)

![image](https://user-images.githubusercontent.com/12592133/49558323-9739b000-f945-11e8-8a6e-6f368e6bf7c3

[2018-12-06 17:46] shalinseban opened #3132 "Pulsar Functions (Python SDK) : Implement getCurrentRecord in contenxtimpl"
Implement `getCurrentRecord` interface in `contextimpl` in pulsar functions python sdk. This will be useful for accessing the `msg` object in pulsar functions.

#### System configuration
**Pulsar version**: 2.2

[2018-12-07 02:37] #3132 closed

[2018-12-07 04:13] jiazhai commented on #3042
#3111 merged, would like to close this issue.

[2018-12-07 04:13] #3042 closed

[2018-12-07 05:54] legendtkl commented on #3127
I would like to work on this issue

[2018-12-07 07:01] grantwwu commented on #3127
Ah, well, I'm not going to stop you :)   I tried to look at the source, but couldn't figure out how the Python source interacted with the C++ library off the top of my head, or where the bare Exceptions were coming from.

[2018-12-07 09:11] ngjaying opened #3140 "Function state does not work"
#### Expected behavior

Function context getState can read the state set by putState

#### Actual behavior

Function context getState does not return the state set by putState

#### Steps to reproduce
Run the following function on the cluster.  The incrCounter/getCounter works fine; but the getState always return empty string.
[code]
A sample log produced by this function:
[code]

#### System conf

[2018-12-07 09:20] MOLOCHT commented on #2533
@dsambandam
I encountered the same problem, prompting me to fail the handshake, and finally solved it?

[2018-12-08 08:17] legendtkl commented on #3127
@grantwwu  I just read the source code, and find that pulsar use boost.python to translate C++ to python，including the Exception.
Maybe you can follow the files:

- pulsar-client-cpp/lib/client.cc  //C++ source implement
- pulsar-client-cpp/python/pulsar/__init__.py   // python code
- pulsar-client-cpp/python/src/client.cc  // translate
- pulsar-client-cpp/python/src/pulsar.cc  // translate
- puls

[2018-12-08 08:20] legendtkl commented on #3127
And I wonder if any work should be do for the issue ? @srkukarni  @jiazhai

[2018-12-08 15:41] merlimat commented on #3127
@legendtkl ideally the exception should be wrapped in a `PulsarException`, so that application can catch a specific exception instead of a blanket catch. Also, for example when getting a timeout, one should be able to check the type of the exception

[2018-12-09 03:50] legendtkl commented on #3127
@merlimat  yeah, got it. A custom Exception `PulsarException` might be ok for this. I will try for that.

[2018-12-09 13:48] ngjaying commented on #3140
@sijie Thanks for your reply, but the getState and putState are in the documentation [function-state](https://pulsar.apache.org/docs/en/functions-state/) and it is already exposed in the context. I can't believe it takes no effect.

[2018-12-09 23:46] sijie commented on #3140
@ngjaying : I need to take a closer look at what happened in 2.2.0. but the feature in 2.2.0 is still a developer preview feature. we have made a lot of changes in bk 4.9.0 and the upcoming 2.3.0 release around state.

[2018-12-10 02:33] ngjaying commented on #3140
@sijie Thanks. When is the planned release date for 2.3.0?

[2018-12-10 08:02] hiscal2015 opened #3153 "java.lang.IllegalStateException: State is not enabled"
bookkeeper version: 4.7.3
Pulsar broker version : 2.2.0

We have a 3 nodes bk cluster on bare metal and 3 brokers on Kubernetes. We followed the guide to create a function, but when our Pulsar function calls "putState" the following exception occurs:
[code]
Are there missing steps that we need to take to enable State for functions?
By checking this document:
https://github.com/sijie/incubator-puls

[2018-12-10 08:21] sijie commented on #3153
@hiscal2015 this is related to #3140

[2018-12-11 10:20] cbornet commented on #3119
I did tests with `reorderReadSequenceEnabled=true`  and RackawareEnsemblePlacementPolicy and can confirm the WriteSet is not reordered from a preferred rack.

[2018-12-11 10:48] cbornet commented on #3119
And on the other hand, RegionAwareEnsemblePlacementPolicy with reorderReadSequenceEnabled works as expected.
Using the following placement
[code]
Consumption from "eu" brokers goes to "eu" bookies as expected

So I propose to add two broker config params:
* `bookkeeperClientRegionawarePolicyEnabled` to activate region aware policy. If set, the value of `bookkeeperClientRackawarePolicyEnabled` will

[2018-12-11 20:54] tobgu opened #3161 "Message ID of sent message should be returned in Go client producer"
#### Expected behavior

Go client library returns the message ID of a message that has been commited to disk. Just like the Java client currently does. Both for async and sync send.

#### Actual behavior

There is no way of getting the message ID of a sent message in the current implementation of the Go client as far as I can tell.

[2018-12-11 20:59] tobgu opened #3162 "There should be a way to get the last message ID of a topic"
#### Expected behavior

I can either read the last message (through a reader) to get the message ID of that message or get the last commited message ID for a topic in some other way (perhaps the REST API?).

This would be very convinient to be able to instantiate Readers starting from a given position.

Currently you can configure the Reader to start from LastMessageID. This will only give you mes

[2018-12-12 04:53] jiazhai commented on #2407
#3169 if for this issue

[2018-12-12 08:50] tobgu commented on #2682
Having an option like this on a Reader would be enough for me to close #2682.

[2018-12-12 09:37] cbornet commented on #3119
What should be the default value for these options ? Enabled/disabled ?
Should the default policy be rack-aware (current default) or region-aware ?

[2018-12-12 14:40] shalinseban opened #3173 "Pulsar Functions ( Python) : Support to submit python modules"
#### Expected behavior

We should be able to submit a pulsar function as a python module rather than a python file, i.e, ability to pass path to a python module to `py` parameter in `pulsar-admin functions create`. Fitting all the code into a python file makes it difficult to develop and test pulsar functions effectively.

[2018-12-12 14:52] sijie commented on #3119
better to be "disabled"

I think default policy should be rack-aware since that would be most of the people is using.

[2018-12-12 14:57] sijie commented on #3162
GetLastMessageId request is already there. However it is not exposed. It should be very straightforward to expose it. @jiazhai or @legendtkl can help with that.

[2018-12-12 15:03] sijie commented on #3161
/cc @legendtkl

[2018-12-12 17:02] srkukarni commented on #3173
We already support submitting .whl files. Does that satisfy this requirement?

[2018-12-12 17:08] shalinseban commented on #3173
Awesome. Yes it does.

[2018-12-12 17:08] #3173 closed

[2018-12-12 17:09] shalinseban commented on #3173
I'm assuming that is for **2.3** release though.

[2018-12-12 19:20] srkukarni commented on #3173
This is actually for 2.2 release.

[2018-12-12 19:33] shalinseban commented on #3173
Interesting. Is there documentation updated around submitting `.whl` as pulsar functions. I can't seem to find it. The release notes for 2.2 does not contain any mentions of this either.

[2018-12-12 19:34] srkukarni commented on #3173
Unfortunately we are a little behind wrt documentation. You can create a wheel file and just submit it using the same --py <wheel file> and things should work fine.

[2018-12-12 19:43] shalinseban commented on #3173
Got it. Thanks for clarifying that.

[2018-12-12 21:31] tobgu opened #3177 "MessageID always seems to serialize to empty slice in Go client Reader"
#### Expected behavior

[code]
#### Actual behavior

Message ID always seems to be empty.

#### Steps to reproduce
See example above. The behaviour is the same on a standalone cluster and a full blown cluster with 3 x zookeeper, 3 x broker and 3 x bookie.

#### System configuration
**Pulsar version**: 2.2.0
**Go client version**:
github.com/apache/pulsar v2.2.0+incompatible h1:i2dfg67DNdHRgdzdIiSO

[2018-12-12 21:55] merlimat commented on #2942
That is correct. Ideally the 6650 port should only be opened when all the components of the service are ready to accept requests.

The fix for #2935 was to cover for the problem of using schema service before it was actually initialized. I think this might actually still be a problem when the lookup is bypassed since the broker service get started before the schema registry service.

[2018-12-12 21:55] ivankelly commented on #3162
There was a conversation about whether to expose it when implementing Reader#hasMessageAvailable().

[2018-12-12 21:57] ivankelly commented on #2942
Ok, lets create an issue for this at least. I'll close this one.

[2018-12-12 21:57] #2942 closed

[2018-12-12 22:03] ivankelly opened #3178 "Broker should not serve requests until it is ready"
See discussion on #2942 .

The broker opens port 6650 before it is actually fully initialized, which can cause clients to see weird things (broker bounces and resends all unacknowledged messages). This can happen if there are still ephemerals from the previous instance in zk, so the broker would keep bouncing until session timeout and the client would end up getting a bunch of redeliveries.

[2018-12-12 22:13] tobgu opened #3180 "Go client Reader panics when passing custom StartMessageID"
#### Expected behavior

I can pass arbitrary type implementing the `pulsar.MessageID` interface in `pulsar.ReaderOptions`when creating a Reader instance.

#### Actual behavior

When I pass a custom type the client library panics:
[code]

The culprit is the following line:
[code]

#### Steps to reproduce
See above

#### System configuration
**Pulsar version**: 2.2
github.com/apache/pulsar v2.2.0+in

[2018-12-12 22:15] merlimat commented on #3094
@alapha23 Sorry missed this issue before.

The problem is that `go get` fetches the code from master which has moved on since the 2.2.0 release.

The Pulsar Go code needs to match the same version of `apache-pulsar-client` RPM.

You can use `dep ensure -add github.com/apache/pulsar/pulsar-client-go/pulsar@v2.2.0` to force a release version on the Go code.

[2018-12-13 04:37] #3119 closed

[2018-12-13 06:42] cbornet commented on #3104
Namespace isolation works fine. What's missing is a little more doc on how to use it. Do you want to close the issue or keep it open for the doc part ?

[2018-12-13 08:22] codelipenghui opened #3183 "[Feature Request] Control the speed of reading data from bookie"
We found from the monitoring that the outflow of high network bandwidth affects the delay of message writing.

![image](https://user-images.githubusercontent.com/12592133/49925062-daba8e00-fef2-11e8-8540-cee4d5c35e6e.png)

Troubleshoot the problem, i think may be caused by the broker reading data from bookie.

So, If the broker can control the speed of reading data from bookie, message write laten

[2018-12-13 09:01] codelipenghui opened #3185 "Re-delivery un-acked message repeated in different consumers"
#### Expected behavior

Re-delivery un-acked message should dispatch message to one consumer in a period of ack timout.

#### Actual behavior

Found that more than one consumer receive the redelivery message at the same time.

[code]

#### Steps to reproduce

Here is the test case:

[code]

#### System configuration
**Pulsar version**: 2.2.0

[2018-12-13 12:22] JevonQ opened #3186 "Can't use jPype on pulsar-client-original.jar"
Currently, I'm trying to write some test cases in Python to test against Pulsar cluster via Java driver. I download the jar package from offical website. JPype is used to call Java class in Python, the code is like:
`PulsarClient_class = jpype.JClass("org.apache.pulsar.client.api.PulsarClient")`

I got the following error:
`Class PulsarClient is not found.`

Then I realize that jPype might not rec

[2018-12-13 21:37] ewh opened #3189 "Can't pip install Pulsar 2.2.0 client for Python 3.6 on MacOS 10.13."
Please refer to these issues:
* https://github.com/apache/pulsar/issues/2568
* https://github.com/apache/pulsar/issues/1926

I'm interested in Pulsar 2.2.0 on Python 3.6 and Python 3.7 on MacOS 10.13 and 10.14. I'm just interested in hearing to what degree these configurations are expected to be supported and available on `pypi`.

[2018-12-14 00:55] sijie commented on #3186
@JevonQ I am wondering why don't you use pulsar python client?

[2018-12-14 01:00] sijie commented on #3189
@ewh you can find the current list of supported platforms here: https://pypi.org/project/pulsar-client/2.2.0/#files

[2018-12-14 06:42] JevonQ commented on #3186
The producer and consumer are using Java client, we need to guarantee it will be well tested. Unfortunately, our test cases has to be written in Python, so I have to use Jpype to call Java client in the test cases.

[2018-12-16 02:30] legendtkl opened #3197 "ut framework improvement"
Just as discussed with @jiazhai ,  there might be some more work for the pulsar unit test framework

When I implement an admin api, and write ut code for it. In the ut, I need produce message to some topic, but the MockedPulsarServiceBaseTest for admin does not implement BrokerServiceTest(with this service test, we can produce and consume message) inside.

So maybe we can improve the framework.

A

[2018-12-16 12:57] XuQianJin-Stars commented on #3031
@kaonick I have submitted a PR, you can try again .
[https://github.com/apache/pulsar/pull/3198](https://github.com/apache/pulsar/pull/3198)

[2018-12-17 16:10] jiazhai commented on #3131
Hi @codelipenghui, Do you think this is related with #3185?

[2018-12-18 01:56] #3185 closed

[2018-12-18 08:32] ngjaying opened #3208 "Is state shared by function instances?"
Given a function created with --parallelism 2, I wonder if these 2 function instances share the state storage. If not, is it going to be supported in the near future? Thanks.

#### System configuration
**Pulsar version**: 2.2.0

[2018-12-18 14:55] #3197 closed

[2018-12-18 17:13] srkukarni commented on #3208
Yes, the state is shared between the two instances. When you do a put/get inside the Context inside a function the real-key is the fully qualified function name + the key that you specify. This means that the key is visible to not just other instances of the function, but to other functions as well. However the Context api currently doesnt provide any way of accessing some other functions' keys.

[2018-12-19 00:59] ngjaying commented on #3208
Thank you. Is it thread-safe to use state in parallel function instances?

[2018-12-19 02:44] Michael-YuSha opened #3211 "pulsar producer create fail, get error :Received error from server: java.lang.NullPointerException"
#### Actual behavior

I have create a producer with JSON schema of Person object for topic named /xh/test/demo8, in the code review, we need to update Person to Student, the Student extends Person, so i delete the schema for persistent://xh/test/demo8, then i create the producer by pulsarClient, but the server response the error Received error from server: java.lang.NullPointerException. Then, i d

[2018-12-19 02:53] Michael-YuSha commented on #3211
I have create a producer with JSON schema of Person object for topic named /xh/test/demo8, in the code review, we need to update Person to Student, the Student  extends Person, so i delete the schema for persistent://xh/test/demo8, then i create the producer by pulsarClient, but the server response the error Received error from server: java.lang.NullPointerException. Then, i delete the topic persi

[2018-12-19 03:04] sijie opened #3213 "document co-run zookeeper and bookie on same machine"
#### Expected behavior

zookeeper and bookie should be able to co-run on same machine

#### Actual behavior

bookie will fail to start because zookeeper and bookie are using same prometheus port

#### Steps to reproduce

- start zookeeper
- start bookie

#### System configuration
**Pulsar version**: 2.2

[2018-12-19 03:11] sijie commented on #3186
@JevonQ : I haven't used JPype before. I will have to take a look and try it out.

[2018-12-19 04:09] yingfeng opened #3214 "[Feature Request]Tiered storage like Pravega"
Both Pulsar and [Pravega](https://github.com/pravega/pravega) are streaming storage solution based on BookKeeper. However, Pravega has an extra feature of automatic segment migration for tiered storage(auto tiering)---BookKeeper for streaming and distributed filesystem(HDFS,S3,..,etc) for long term storage.  Given this feature available, Pravega could be a unified storage solution for both streami

[2018-12-19 04:16] sijie commented on #3214
@yingfeng : Pulsar already provided tiered storage since 2.1. http://pulsar.apache.org/docs/en/concepts-tiered-storage/ Please check it out.

@jiazhai and me will be giving a presentation about "Unifying the Batch and Stream Elastic Processing with Apache Pulsar® and Apache Flink®" in Flink Forward China on Dec 20th. If you are attending this conference, feel free to stop by.

https://china-2018.f

[2018-12-19 04:43] yingfeng commented on #3214
@sijie I've seen the wiki page of tiered storage previously. It's not the same as Pravega:

- It's not an auto-tiering solution. User has to migrate to low tier storage manually through api. An unified storage for both streaming and batching should be able to automatically process these flow for users
- The supporting storage solution is limited, many kinds of storage such as HDFS, Ceph,...,etc ar

[2018-12-19 04:56] sijie commented on #3214
1) Pulsar has auto-tiering by namespaces. Pulsar is a multi-tenant system, so everything is controlled per tenant/namespace, not per cluster. A user can configure offloading to tiered storage by namespaces. I believe it can configure to auto-offload at size-based policy or interval-based policy. If it is not provided, it should be trivial to add that.
2) Not every user need tiered storage.

All th

[2018-12-19 07:08] yingfeng commented on #3214
Thank you. There are some other design features for auto tiering:
1. Retention policy, describes a policy about how much data to retain within a stream. This is similar with what Pulsar has done to let customer configure how data was migrated to low tier storage.
2. Scaling policy, describes if and under what circumstances a stream should `automatically` scale its number of segments. This is a bit

[2018-12-19 07:21] sijie commented on #3214
@yingfeng

it is already supported in Pulsar. I would suggest you taking a closer look at Pulsar and creating individual tasks for the features you would like to see in Pulsar. Pulsar and Pravega are different projects, Pulsar has a broader vision than Pravega. It unifies both messaging (queueing and streaming) and storage.

Pulsar provides all the mechanisms to scaling up and down partitions. App

[2018-12-19 07:24] sijie opened #3216 "HDFS Offloader"
This is the master ticket for tracking offloading segments to HDFS.

[2018-12-19 07:30] sijie opened #3217 "Auto scaling up and down number of partitions"
Currently Pulsar has all the mechanisms to change the number of partitions through admin REST api. Sometimes it might be easier if Pulsar provides some policies to auto-scale up and down number of partitions. The scale up and down can be based on policies.

[2018-12-19 07:31] sijie commented on #3214
Created the issues for the features you are interested in:

HDFS/Ceph offloader: https://github.com/apache/pulsar/issues/3216
Auto Scaling: https://github.com/apache/pulsar/issues/3217

[2018-12-19 07:34] sijie commented on #3214
As discussed above, Pulsar already has tiered storage in place. Closed this issue for now. Feel free to create/follow the issues that you are interested in. Contributions are warmly welcome!

[2018-12-19 07:34] #3214 closed

[2018-12-19 07:58] sijie opened #3218 "Pulsar client should be able to connect to brokers without DNS"
Sometimes people doesn't have DNS for brokers. It might be good for people to specify a list of brokers as bootstrap brokers.

Since ` ServiceUrlProvider` was introduced in #2543 , it should be trivial to add a service url provider implementation that randomly returns a chosen broker.

- [x] java pulsar client support multiple hosts #3249
- [x] pulsar-admin client support multiple hosts
- [x] supp

[2018-12-19 08:04] sijie opened #3219 "Make pulsar compile on windows"
#### Expected behavior

Compile successfully on windows

#### Actual behavior

Compilation failed on windows.

There are some bash scripts executed during compilation. We should add corresponding scripts for running on windows.

#### System configuration
**Pulsar version**: master

[2018-12-19 08:21] sijie commented on #2901
#2966 is merged and will be released in 2.3.0

[2018-12-19 08:21] #2901 closed

[2018-12-19 08:57] foreversunyao commented on #3213
@sijie  this case is only for container env? I have an env, but zk and bookie are running on the same  server?

[2018-12-19 13:09] sijie commented on #3213
@foreversunyao :

it can happen at running zookeeper and bookie on one same node (it can be one docker, one vm or physical machine).

did you successfully run zk and bookie one same server?

[2018-12-19 13:21] foreversunyao commented on #3213
@sijie I have to say yes, but actually, I used the official zookeeper version, and I just tried the pulsar zk, it is not working due to the "Address already in use".

[2018-12-19 13:30] foreversunyao commented on #3213
@sijie is it possible let me give a short if I can fix it? : )

[2018-12-19 13:34] sijie commented on #3213
@foreversunyao - yeah. it is awesome that you are willing to contribute a fix.

[2018-12-19 13:43] foreversunyao commented on #3213
welcome,

@sijie  technically it's not a big impact fix, but the **default port** for zk is in code(not configuration), if it is changed, the upgrade could be hard and have risks in the future?
or we could change the prometheus export port ?

they both don't have many files to chnage.

[2018-12-19 13:51] sijie commented on #3213
I was thinking - most of the people probably don't co-run zk and bk on the same node. so we don't necessarily need to change the default zk stats port. so a simple approach might be adding a note to the deployment guide (http://pulsar.apache.org/docs/en/deploy-bare-metal/#deploying-a-zookeeper-cluster) - something like: if you are planning to co-run zookeeper with bookie on the same node, you shou

[2018-12-19 17:39] srkukarni commented on #3208
When you mean 'thread' safe are you talking about multiple function instances updating/getting state. Yes it is, however note that if two or more instances are updating the same key, the last one will get through.

[2018-12-19 19:25] michael-card opened #3220 "Pulsar Java admin client should work with URL that points to a load balancer"
#### Expected behavior

When creating an instance of the Java Pulsar administrative client like this:

[code]

it should be possible to supply a URL that references a load balancer e.g.

[code]

#### Actual behavior

If you do this however the admin client cannot communicate correctly with Pulsar and you will get unexepected end-of-file errors when trying to use the admin client to create topics e

[2018-12-19 21:12] ivankelly commented on #3220
@michael-card Are you load balancing traffic to brokers or to proxies?

[2018-12-19 21:18] ivankelly commented on #3189
@ewh does this answer your question?

[2018-12-19 21:21] ivankelly commented on #2522
@vli02 did you ever create a PR for this?

[2018-12-19 21:22] michael-card commented on #3220
Hey Ivan I am load balancing traffic to brokers. The target group for my load balancer is the 3 Pulsar broker instances, see attached grab from EC2
![target group](https://user-images.githubusercontent.com/12663894/50248819-e1894b00-03a1-11e9-8a45-8e6aa707c32a.jpeg)

[2018-12-19 21:32] ivankelly commented on #1616
@zubchenok is this still an issue in 2.2?

[2018-12-19 22:19] michael-card commented on #3220
Hey Ivan I am not sure, I see nothing in EC2 Load Balancer info about L3 or L4. Do specific Pulsar brokers "own" topics? In any case the issue here is not with message sending or receiving but only with administrative tasks using the admin client, which seems to be incompatible with load balancers.

[2018-12-19 23:14] srkukarni commented on #1215
@sijie @merlimat can you guys please review this?

[2018-12-20 00:00] srkukarni commented on #2489
This is waiting for 4.9 release of bookkeeper

[2018-12-20 02:14] ngjaying commented on #3208
OK. I am concerned about the Read-Modify-Write scenario. For below scenario, given the initial value for state.key = "value". If the function has the below logic:
`
String currentValue = context.getState("key");
context.putState("key", currentValue + context.getInstanceId);
`
If this function is run with --parallelism 2. Is this read-modify-write run like a database transaction? If not, is there a

[2018-12-20 02:47] srkukarni commented on #3208
This is not going to be a read-modify-write as in database. In this particular scenario the final value of context.getState("key") is one of (value + "0", value + "1", value + "1" + "0", value + "0" + "1").
The only current server side support for some kind of serialization amongs't update is in form of counters. The Java API(and soon in 2.3 the python api) has support for getCounter/incrCounter m

[2018-12-20 03:03] ngjaying commented on #3208
The context.incrCounter is excellent for our use case. But the problem is that we want to store some string value in the state instead of integer. Is there any way to do that?

[2018-12-20 04:41] sijie commented on #3031
This is fixed by #3198

[2018-12-20 04:41] #3031 closed

[2018-12-20 05:12] srkukarni commented on #3208
Unfortunately currently I can't think of a way to accomplish this.
@sijie One thing that might be useful would be a interface like context.putIf("key", "newvalue", "oldvalue") that will do an update of key only if the old value was "oldvalue", otherwise throw an exception. Thoughts?

[2018-12-20 06:04] xinln opened #3223 "Info shown on Dashboard is not accurate"
1、按照官网的集群部署搭建集群。
2、通过该命令向消息队列里面发生数据
  bin/pulsar-client produce \
  persistent://public/default/test \
  -n 1 \
  -m "Hello, Pulsar"
3、再通过该命令消费
bin/pulsar-client consume   persistent://public/default/test -s hei
4、问题一、通过dashboard 访问http://172.19.36.119/admin/stats/topic/
如下面所示出现很多重复的tipic

TOPIC
--
persistent://public/default/test
persistent://public/default/test
persistent://public/default/test
p

[2018-12-20 06:09] foreversunyao commented on #3213
@sijie , sure . what about I made this parameter to configurable while I update the doc also ?

stats_server_port is like a mandatory parameter for zk in pulsar, so it could be better in the configuration(zookeeper.conf), instead of "hardcode" ?

[2018-12-20 07:07] MarvinCai commented on #3223
Translation:
1、Follow instruction on official cookbook to deploy pulsar cluster.
2、Use command listed below to produce message to a topic
bin/pulsar-client produce
persistent://public/default/test
-n 1
-m "Hello, Pulsar"
3、Then consume the message through command listed below:
bin/pulsar-client consume persistent://public/default/test -s hei
4、Issue1, visit dashboard at http://172.19.36.119/admin/

[2018-12-20 08:49] ngjaying opened #3224 "Function option --subscription-type does not work"
The option is documented at https://pulsar.apache.org/docs/en/pulsar-admin/#create-1, but it is actually an invalid option. I find it was once supported in the CmdFunctions.java source code but was deleted later. Will it be supported again?

#### System configuration
**Pulsar version**: 2.2.0

[2018-12-20 09:46] lxkaka opened #3225 "python example with aws loadbalancer connection stuck"
#### Expected behavior
hope connect to broker through LB  like directly connect
[code]
#### Actual behavior
[code]
when connect to broker through aws LB the connection stucks for about 5mins
#### Steps to reproduce
produce every time

#### System configuration
**Pulsar version**: 2.2.0

should I adjust some config with LB?

[2018-12-20 11:54] lxkaka commented on #3220
@michael-card I have similar problem.
[code]
As show above the connection stucks for about 4min.

[2018-12-20 12:01] ntysdd opened #3226 "Unclosed consumer after calling closeAsync"
#### Expected behavior

Consumer should be closed, and disappear in Pulsar Dashboard after we call closeAsync().

#### Actual behavior

Consumer still there, and if we create a new consumer to the topic (same subscription shared mode), we see two (and more and more) consumers (with same addresses and ports)

#### Steps to reproduce

Create two consumers (maybe in different JVMs) in shared mode to

[2018-12-20 13:03] getui-fe-ci commented on #3226
![71545303219_ pic](https://user-images.githubusercontent.com/45756656/50286538-a3238700-049a-11e9-90ee-8f6bd2294a9d.jpg)

[2018-12-20 13:04] xiangzilv123 commented on #3226
![71545303219_ pic](https://user-images.githubusercontent.com/1798683/50286586-d49c5280-049a-11e9-91f0-909b444f66ea.jpg)

[2018-12-20 16:03] sijie commented on #3225
@lxkaka - can you try to `telnet ip-172-31-xx-xx.cn-north-1.compute.internal 6650`?

[2018-12-20 16:09] sijie commented on #3224
@ngjaying :

the documentation is probably out of date. the subscription-type was removed since 2.1.0 release. instead you should use processing guarantees or retainOrdering, so the pulsar functions would choose the right subscription type for processing guarantees.

see details in #1880

@jerrypeng : can you help update the documentation about this tool?

[2018-12-20 16:15] sijie commented on #3226
@ntysdd @xiangzilv123 : the metrics are refreshed in a given interval. I don't remember it is 30 seconds or 5 mins. Can you wait for some time and verify if the metrics are refreshed?

[2018-12-20 16:16] sijie commented on #3213
@foreversunyao yeah, so good to me. +1

[2018-12-20 16:18] sijie commented on #3219
This has been fixed by @XuQianJin-Stars   in #3221

[2018-12-20 16:18] #3219 closed

[2018-12-20 16:24] sijie opened #3227 "Improve deployment guide on enabling tiered storage"
It seems that there is no documentation in deployment sections about enabling tiered storage for various deployment mechanisms.

[2018-12-21 01:17] jiazhai opened #3230 "expect not restart application after more partitions created"
http://pulsar.apache.org/docs/en/admin-api-partitioned-topics.html#update

Already created partitioned producers and consumers can’t see newly created partitions and it requires to recreate them at application so, newly created producers and consumers can connect to newly added partitions as well. Therefore, it can violate partition ordering at producers until all producers are restarted at applic

[2018-12-21 02:05] xiangzilv123 commented on #3226
we wait more than 30min
![101545357940_ pic_hd](https://user-images.githubusercontent.com/1798683/50320570-f97adf00-0507-11e9-9ee9-64e3877ef713.jpg)

[2018-12-21 02:43] lxkaka commented on #3225
@sijie, thanks for reply.  telnet no problem
[code]
when use lb dns, the connection stucks shows above

[2018-12-21 03:04] legendtkl commented on #3226
hi, @xiangzilv123 , would you mind giving the code snippet ?

[2018-12-21 04:23] ambition119 opened #3232 "Discuss whether remove JsonRow SerializationSchema and DeserializationSchema"
#### Expected behavior

while I commit PulsarAvroTableSink class found , streaming.connectors.pulsar.serde we can use the native SerializationSchema and DeserializationSchema classes provided by Flink directly. directly use flink-json model classes, maintain consistency and synchronization with Flink.

#### Actual behavior

We rewrote JsonRow SerializationSchema and DeserializationSchema classes o

[2018-12-21 05:13] sijie commented on #3232
@ambition119 :

if flink-json supports json schema, that is probably goodl

however I think a better approach is to integrate with pulsar schema directly.

[2018-12-21 05:18] sijie opened #3233 "Document new rest api - getLastMessageId"
We introduced a new rest endpoint `getLastMessageId` at #3196. We should also update the website about this new api

[2018-12-21 05:19] #3162 closed

[2018-12-21 05:20] sijie commented on #3233
we need to add the documentation to http://pulsar.apache.org/docs/en/admin-api-persistent-topics/

[2018-12-21 05:48] ambition119 commented on #3232
flink-json support JsonRowSerializationSchema.java and JsonRowDeserializationSchema.java, integrate with pulsar schema directly [PR #3234 ](https://github.com/apache/pulsar/pull/3234)

[2018-12-21 05:57] xiangzilv123 commented on #3226
[code]

[2018-12-21 06:00] xiangzilv123 commented on #3226
@legendtkl  you must start two consumers;    shared mode

[2018-12-21 06:31] legendtkl commented on #3233
I will do that later.

[2018-12-21 06:55] sijie commented on #3225
@lxkaka can you telnet the lb dns?

[2018-12-21 08:07] lxkaka commented on #3225
@sijie telnet the lb with timeout sometimes. More likely this is the lb problem?

[2018-12-21 09:42] lxkaka commented on #3225
@sijie I found the problem.  For example broker 1 can not telnet broker 1 through network elb.

[2018-12-21 10:57] ivankelly commented on #2489
@srkukarni is the code already in pulsar though?

[2018-12-21 11:00] ivankelly commented on #2522
Ok, will leave this open and perhaps someone will pick it up at some stage.

[2018-12-21 11:06] ivankelly commented on #3218
A subtask for this would be to make it possible to use a list of brokers in the proxy client configuration to allow proxy use without dns

[2018-12-21 11:32] ivankelly commented on #3220
Are the broker IPs routable from the machine connecting to the load balancer? And vice versa?

[2018-12-21 12:45] tuteng commented on #3226
Reference https://github.com/apache/pulsar/pull/3236

[2018-12-21 14:23] srkukarni commented on #2489
No. The prs exists and have been mostly reviewed. They can only be merged once pulsar switches to new bk version

[2018-12-21 20:55] #3232 closed

[2018-12-21 23:14] ConcurrencyPractitioner commented on #2792
@skyrocknroll  So are you suggesting that pulsar should allow the user to determine the reset policy for the Kafka consumer?

[2018-12-21 23:31] ConcurrencyPractitioner commented on #3030
Just want to point out that both #2375  and this one could be resolved now.

[2018-12-21 23:34] sijie commented on #3217
@ConcurrencyPractitioner

typically bps (bytes per second) and mps (messages per second) are good factors to drive scaling up and down number of partitions.

two major items need to think about this feature:

- how to track the partitions changes? consumers have to be aware of such partitions changes.
- how to ensure key ordering between scaling up and down?

Since this feature is a quite big feat

[2018-12-21 23:35] ConcurrencyPractitioner commented on #2664
@kuangye098 Are you still interested in picking this up? I don't mind if I pick it up.

[2018-12-22 00:36] ConcurrencyPractitioner commented on #3217
Ok, so we probably will have to call some new config partition.scaling.policy and give them a couple of choices on how to scale things. (although it will be better to discuss on the PIP)

[2018-12-22 01:42] tuteng commented on #3223
Reference https://github.com/apache/pulsar/issues/3226

[2018-12-22 02:19] ConcurrencyPractitioner commented on #1459
Hi @sijie,
Could you assign this issue to me?
I'm interested in picking this one up.

[2018-12-22 08:10] foreversunyao commented on #3213
@sijie
I just made a pr , but only updating the doc without change the code.

The reason is after I checked the configs for current zookeeper(zookeeper.conf and global_zookeeper.conf), all the parameters are from the official zookeeper template, without any special parameter for pulsar. So it's hard to add a new **pulsar exclusive** parameter to the config.

And also looks like pulsar-zookeeper ju

[2018-12-22 10:13] legendtkl commented on #3233
refer https://github.com/apache/pulsar/pull/3243

[2018-12-22 13:50] sijie commented on #1459
@ConcurrencyPractitioner : that's cool! Unfortunately Github doesn't allow assign issues to users who don't have write permissions. We just use comments to track who is working on this.

Assigned to @ConcurrencyPractitioner - he will pick this up.

[2018-12-22 13:55] sijie commented on #3213
Yeah. That was my original thought as well. so I think only updating the doc should be good enough for now.

If I understand burrow correctly, burrow is an http service that does consumer lag checks. What the pulsar-zookeeper does is providing stats for monitoring zookeeper service itself. The same component that serves same purpose as burrow in Pulsar is actually in broker itself. Broker exposes

[2018-12-22 15:12] foreversunyao commented on #3213
@sijie ,  you are right about burrow.

And what I am concerned about is if it could be a better way to isolate the http server for zk stats and zk service itself to different parts in code ,  If I understand the code (ZooKeeperStarter.java) correctly , it looks like this stats service is running or not should not affect zk service itself ?

[2018-12-22 17:19] ConcurrencyPractitioner commented on #1459
Oh, one more thing. How did you fill-up the disks?

I did a search on how to do it. And I found that they used something like this (a Linux command):
dd if=/dev/zero of=filename bs=1 count=1 seek=$((10*1024*1024*1024))
or
fallocate -l 5G file
Is this the way you did it?

[2018-12-22 18:39] ConcurrencyPractitioner commented on #1459
Hi,
I changed the configs as follows:
[change.pdf](https://github.com/apache/pulsar/files/2705451/change.pdf)

And I ran the following test:
https://github.com/apache/pulsar/blob/master/pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java#L1265

I wasn't able to replicate the error. Was this the right approach?

[2018-12-22 22:35] ConcurrencyPractitioner commented on #1459
Ok, so I realized that we need to use PulsarAdmin to unsubscribe once we are done. But how do we connect this back to Bookkeeper? I ran through the tests and saw a few examples where Pulsar Admin and bkEnsemble (LocalBookkeeperEnsemble) was used in conjunction. So should we tweak the ServerConfigurations of those BookkeeperServers to replicate this test error?

[2018-12-24 04:18] lxkaka commented on #3220
@ivankelly Thanks for the reply. I have found the problem, broker can not connect to the same broker through aws elb.

[2018-12-24 06:03] sijie commented on #1459
@ConcurrencyPractitioner - this issue requires you understand how managed ledger works and as well as how bookie works. If you want to replicate this test, you don't better not use standalone or local ensemble, since standalone hardcodes the disk thresholds. you need to try set with a cluster of bookies and reduce the disk threshold to a small values, which it will enforce all the bookies in reado

[2018-12-24 16:01] eolivelli opened #3247 "Build error on linux if userid is an huge number"
#### Expected behavior

Tell us what should happen

The build passes

#### Actual behavior

ERROR] Failed to execute goal org.apache.maven.plugins:maven-assembly-plugin:2.6:single (package) on project pulsar-presto-connector: Execution package of goal org.apache.maven.plugins:maven-assembly-plugin:2.6:single failed: group id '949000222' is too big ( > 2097151 ). Use STAR or POSIX extensions to ove

[2018-12-24 18:03] sijie commented on #3077
This has been fixed by #3079

[2018-12-24 18:03] #3077 closed

[2018-12-25 17:54] sijie commented on #3247
This is fixed by #3248

[2018-12-25 17:54] #3247 closed

[2018-12-25 19:19] eolivelli commented on #3247
Thank you @sijie

I hope to be able to complete my prototype soon. I am going to replace Kafka :)

[2018-12-26 02:08] ConcurrencyPractitioner commented on #1459
Hi @sijie,

I did try adding a test to stimulate the outage. Not sure if this was what you were thinking about.
https://github.com/apache/pulsar/commit/d7bf197367c24475adea3be51fb33869b6a071e3

[2018-12-26 02:50] cumtwwei opened #3253 "Can Producer and Consumer run with jdk1.7?"
In my env, there are some 'old-system' which running with JDK1.7 and Kafka,
but now I want to use Pulsar.
So, can Pulsar's Producer and Consumer run with jdk1.7?
How to?

[2018-12-26 03:05] ConcurrencyPractitioner commented on #1459
Oh, I realized this approach might not be best. I will probably add a spec to PulsarClusterSpec signaling when to have a near zero value for DiskUsageThreshold.

[2018-12-26 08:36] jerrypeng commented on #3224
@ngjaying there is really no point for a function that uses an exclusive subscription since the failover subscription can be viewed as a exclusive subscriptions with fault tolerance.

[2018-12-26 17:43] #3233 closed

[2018-12-26 17:50] sijie commented on #3224
@ngjaying it is an interesting use case. However I think the key requirement here is not  supporting exclusive subscription.

I think your key requirement is each function instance would have a different subscription name for that topic. in the case, it doesn't really matter it is exclusive, failover or shared subscription. because this instance is reading the entire topic.

Can you check if I und

[2018-12-26 19:54] sijie commented on #3253
@cumtwwei currently the java client requires java 8+, since it uses a lot of features like CompletableFuture, Java8 Functions.

one thing we can do is to add a java 6 or java 7 client that wraps existing C++ client using JNI.

[2018-12-27 02:49] sijie commented on #3225
@lxkaka have you fixed the problem?

[2018-12-27 02:50] sijie commented on #3226
@legendtkl is working on this issue.

[2018-12-27 02:59] sijie commented on #2551
This is fixed by #2543  #2671

[2018-12-27 02:59] #2551 closed

[2018-12-27 03:00] sijie commented on #2533
@dsambandam sorry for late response. Is your problem resolved?

[2018-12-27 03:01] sijie commented on #1981
Close due to inactivities.

[2018-12-27 03:01] #1981 closed

[2018-12-27 03:02] sijie commented on #1490
@coderfender any updates about this task?

[2018-12-27 03:07] ngjaying commented on #3224
@sijie This is exactly my requirement, thanks for summarizing it.

[2018-12-27 03:36] hlouf opened #3254 "can Online Upgraded Version"
#### Expected behavior
i install pulsar2.1.0 ,now i want to online upgraded pulsar2.2.0,how do i do it?
Tell us what should happen

#### Actual behavior

Tell us what happens instead

#### Steps to reproduce

How can we reproduce the issue

#### System configuration
**Pulsar version**: x.y

[2018-12-27 03:39] hlouf commented on #3254
thanks !!

[2018-12-27 03:40] codelipenghui opened #3255 "[Feature] Support multi-topic and pattern-topic for PulsarConsumerSource in pulsar-flink"
#### Expected behavior

Use PulsarConsumerSource to consume messages from topics(multi or pattern).

#### Actual behavior

Only one way to consume messages by a topic in PulsarConsumerSource

#### System configuration
**Pulsar version**: 2.2.0

[2018-12-27 03:49] sijie commented on #3254
Pulsar maintains backward compatibilities between versions. so it is trivial to upgrade between versions. A typical sequence would be:

- upgrade bookies, probably one by one.
- upgrade brokers

I have an outstanding task on documenting the upgrade sequence. you can check out as an example : https://github.com/apache/pulsar/blob/a8a1453486de6e94a76284503f80c3148bf819c3/site/docs/latest/admin/Upgra

[2018-12-27 07:03] codelipenghui commented on #3255
refer to #3256

[2018-12-27 08:03] lxkaka commented on #3225
@sijie In real case  we consume or produce messages not in the instance with broker, so thers is no problem. You may close this. Thanks

[2018-12-27 08:18] hlouf commented on #3254
yes ,i test upgrade bookies, one by one.It has now been settled.

[2018-12-27 08:19] #3254 closed

[2018-12-27 09:38] sijie commented on #3225
closed the issue as discussion above

[2018-12-27 09:38] #3225 closed

[2018-12-27 09:39] sijie commented on #3254
@hlouf awesome, glad that you figured it out.

[2018-12-27 10:20] sijie commented on #3213
@foreversunyao -

sorry, I missed your comment.

Correct. The pulsar zookeeper is just a starter wrapper for adding additional stats service for collecting stats from zookeeper and expose to prometheus.

[2018-12-27 10:20] sijie commented on #3213
This task has been fixed by #3242

[2018-12-27 10:20] #3213 closed

[2018-12-27 10:30] sijie commented on #3030
@ConcurrencyPractitioner - #2375 can not be resolved yet, since #3033 only addresses one part of the problem.

[2018-12-27 10:31] sijie commented on #2887
@jerrypeng @srkukarni : I moved this task to 2.4.0 for preparing 2.3.0 release.

[2018-12-27 10:32] sijie commented on #2842
removed milestone, since it is a known issue and no fix can be found so far.

[2018-12-27 10:33] sijie commented on #2797
The documentation has been updated to fetching `openssl.cnf` from github raw content link.

[2018-12-27 10:33] #2797 closed

[2018-12-27 10:35] sijie commented on #2688
@codelipenghui I moved this task to 2.4.0 since it seems that we need address system topic first.

[2018-12-27 10:36] sijie commented on #2689
moved this to 2.4.0 since the parent task #2688 is moved to 2.4.0

[2018-12-27 10:37] sijie commented on #2431
@merlimat seems that there is no activity on this issue, I moved it to 2.4.0

[2018-12-27 10:40] sijie commented on #2407
#3169 is just making configuration caught up with current code. However we need a general approach to do so - #3106 #3113 #3117 already added the documentation annotations.

[2018-12-27 11:31] eolivelli opened #3258 "Error with BookKeeper 4.8.1 and Pulsar 2.2.0"
#### Expected behavior

I am able to run a Pulsar Broker (2.2.0) having BookKeeper 4.8.1 client on the classpath.
It does now happen with 4.7.3.

#### Actual behavior

I have this error using v3 protocol. with v2 the error is not logged but with a debugger I see it is mostly the same.

[code]

#### Steps to reproduce

I have created a unit test inside by non-public application.
Maybe just by repla

[2018-12-27 11:41] sijie commented on #3258
- pulsar 2.2.0+ works with 4.7.2+ bookies

however if you are speaking of upgrading the bookkeeper client used by pulsar broker, you need the changes in https://github.com/apache/pulsar/pull/2906

because bk 4.8+ changed the behavior of reference counting in addEntry. so it requires code changes in managed ledger.

so typically you are okay to upgrade bookies (server) to a newer version. however w

[2018-12-27 19:00] sijie commented on #3258
Closed the issue since it is answered.

[2018-12-27 19:00] #3258 closed

[2018-12-27 20:11] ewh commented on #3189
@ivankelly The previous answer _does_ answer which exact configurations are supported for any given version of Python interpreter and OS. However, I was wondering if there might ever be support for Python 3.5 and 3.6 on Mac? It seems as if many Python 3.* versions are supported on Linux, but only Python 3.7 is supported on Mac. There are many users still running Python 3.5 and 3.6 on Mac. I was ju

[2018-12-28 02:50] ConcurrencyPractitioner commented on #2792
Just a couple of notes in regards to implementation. Looking through Kafka's code for auto.offset.reset, it might require some tweaking with Pulsar's internals as well since it requires knowledge of when an exception occurred for a missing offset and which offset to set it to.

[2018-12-28 02:54] ngjaying opened #3259 "[Question]How to configure log level for pulsar functions"
This may be a dumb question but I cannot find how to do.
[code]
I cannot find how to enable the debug message. I try to modify conf/log4j2.yaml to change all INFO to DEBUG, but that seems only affect broker log.

#### System configuration
**Pulsar version**: 2.2.0

[2018-12-28 05:43] #3255 closed

[2018-12-28 05:56] sijie commented on #3259
Currently there is no programming way to configure debug level on per function basis. If you are using Process runtime, it is no simple way to change the log level. because the log4j settings is controlled by this log4j2.yml file (https://github.com/apache/pulsar/blob/master/pulsar-functions/runtime/src/main/resources/java_instance_log4j2.yml) which is packaged into the java instance runner.

For

[2018-12-28 10:14] foreversunyao commented on #2880
@HaraldGustafsson , could you help to share your command to delete namespace ? I can't reproduce this error .  Thanks

[2018-12-28 11:48] sijie commented on #3230
@foreversunyao if @jiazhai has started the work, feel free to pick it up :-)

[2018-12-28 18:39] HaraldGustafsson commented on #2952
Hi,
Just a comment is it not normal to give status service unavailable 503, for
a retry scenario. Status conflict implies that the client has sent a faulty
request, which is not the case, and sometimes it could be hard to
distinguish this conflict from an actual conflict, and a need to still
parse response text. Or is this zookeeper conflict handled inside pulsar
with a retry.
Harald

On Fri, 28 D

[2018-12-28 18:44] HaraldGustafsson commented on #2880
I don't have the setup available currently, the delete should be in the log
I included in the issue. It could be that it is related to at the time the
tenant was created using a previous version of pulsar, the pulsar data
directory was reused for the new version.
Harald

On Fri, 28 Dec 2018, 11:14 Samuel <notifications@github.com wrote:

[2018-12-28 18:49] sijie commented on #2952
@HaraldGustafsson At the time of bad version happening, it means there are concurrent updates to namespace policy. It is hard to determine what is the real conflict and what conflict it is. so returning CONFLICT status code sounds a right approach to me. IMO, Pulsar applications which are using pulsar admin api should be able to catch this exception and retries, because pulsar applications are bet

[2018-12-28 19:18] HaraldGustafsson commented on #2952
I understand the reasoning, but from the api it is not obvious that when
you change permissions on different topics in the same namespace that you
could get this concurrent conflict (and should retry), if you don't know
that all topics permissions are stored in the namespace. At least I did not
know it before digging a bit deeper. When realising this I needed to queue
such operations on the client

[2018-12-28 20:02] sijie commented on #2952
@HaraldGustafsson I see your point now. Let me reopen this issue and think through a better solution on addressing such conflicts.

[2018-12-29 02:07] foreversunyao commented on #2952
@HaraldGustafsson for my point of view, **retry** could not a good solution, due to retry also could fail again.  Maybe a queue/or only one request at one time is a better idea, what I know for kafka-manager  to change policy does like this .

@sijie what do you think about this ?

[2018-12-29 05:40] sijie commented on #2952
@foreversunyao -

I was thinking about same thing. that sgtm

[2018-12-29 13:44] jiazhai opened #3264 "partitioned-stats reporting errors not match"
#### Expected behavior

use command `create-partitioned-topic` created topic, but  command `partitioned-stats` report topics not been generated.

[code]

It should not report "topics not been generated".

#### Actual behavior

![image](https://user-images.githubusercontent.com/6348208/50538654-6c8df080-0bad-11e9-9984-2f8430be576f.png)

#### Steps to reproduce

Use command as above picture

#### Sy

[2018-12-29 13:51] jiazhai commented on #3264
The situation is that:
` create-partitioned-topic` is an operation to create zookeeper data. while `partitioned-stats` try to get service stats for this topic in broker. Since no producer and subscription is there, and so this topic is not serviced by broker, and [pulsar().getAdminClient().topics()](https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/a

[2018-12-31 06:53] sijie commented on #2952
@foreversunyao sgtm

[2019-01-02 02:16] Michael-YuSha commented on #3211
this debug have not solved at version v2.2.1

[2019-01-02 03:39] codelipenghui commented on #2664
@sijie Is this the same as you mentioned before(Fast Transaction Message)?

[2019-01-02 07:33] jiazhai opened #3275 "Pulsar IO connector for Flume source"
This requirements has been asked from several people.
This is trying to track this requirement: use [flume](https://github.com/apache/) as source of data.

[2019-01-02 07:47] jiazhai opened #3276 "Pulsar IO connector for udp source"
This is trying to track this requirement: use udp as source of data.

[2019-01-02 07:53] jiazhai opened #3277 "The left menubar in the website for 2.2.1 release is missing"
In 2.2.1 website, the left sidebar is missing.
http://pulsar.apache.org/docs/en/io-overview/

![image](https://user-images.githubusercontent.com/6348208/50583798-66965900-0ea6-11e9-994a-3652b57c1398.png)

[2019-01-02 08:48] codelipenghui opened #3279 "Error while recovering ledger when send messages by producer"
This is a transient exception while send messages by producer.
Stack trace:
[code]
Restart the client, send messages will be ok!
#### System configuration
**Pulsar version**: 2.1.0

[2019-01-02 08:57] sijie commented on #3276
@jiazhai - can you explain more about the feature requirements for this udp source connector? or is there any examples to follow?

[2019-01-02 09:08] sijie commented on #3279
I have worked with @codelipenghui on debugging this issue. When the issue happened, following logging statements were found at broker.

[code]

So the `LedgerRecoveryException` received at producer side is coming from broker failing on updating ledger metadata when loading a topic - *Conditional update ledger metadata for ledger 153718 failed`.

**Why this happened**

The *Conditional update failu

[2019-01-02 09:34] codelipenghui opened #3280 "[Feature Request] Control the network bandwidth of the broker"
#### Network bandwidth in of broker

1. Client send message to broker
2. Read entries from bookie

#### Network bandwidth out of broker

1. Dispatch message to consumer
2. Write entries to bookie

Broker will be the network convergence point.

User send messages to pulsar will cause broker write entries to bookie, if broker dispatch messages use the high network bandwidth, latency of produce messa

[2019-01-02 13:42] jiazhai commented on #3277
#3278 is for this issue

[2019-01-02 15:52] #3277 closed

[2019-01-02 15:58] jiazhai commented on #3227
PR #3281 is for this issue

[2019-01-03 02:03] jiazhai opened #3287 "ConsumerImpl.redeliverUnacknowledgedMessages() get empty messageids"
#### Expected behavior

no panic and error.

#### Actual behavior
meet error info:
[code]

And some times, there is log: `0 messages have timed-out`.

#### Steps to reproduce

How can we reproduce the issue

#### System configuration
**Pulsar version**: 2.2.1

[2019-01-03 02:19] jiazhai commented on #3287
In 2.2.1 the redeliver is triggered as this code:
[code]
As the code, messageIds could be empty. and caused the issue.

While in latest 2.3.0, @codelipenghui added some change in PR #3118, and there is a check of condition `if (messageIds.size() > 0)` now.

[code]

[2019-01-03 05:31] sijie commented on #3226
added back to 2.3.0 since it is not difficult fix.

@ntysdd : @legendtkl pinged me offline, he will pick this up again this week. so hopefully we will have the fix for 2.3.0.

[2019-01-03 06:02] sijie opened #3288 "[feature request] allow consumers joining in standby state in failover subscription"
#### Feature

In streaming applications, when a subscription scales up the consumer group, the new consumers joining the consumer group might be doing expensive operations (e.g. like replaying db or state). In this case, it might be great to let consumer connect in a standby state, when the consumer finishes its application logic, it can then be converted to an normal state and get ready for being

[2019-01-03 06:51] jiazhai opened #3289 "curl http://localhost:8080/metrics return nothing"
#### Expected behavior

Following instructions in this page:
http://pulsar.apache.org/docs/en/next/deploy-monitoring.html

`curl http://localhost:8080/metrics`
should return some metrics info.

#### Actual behavior

nothing returned.

#### Steps to reproduce

1. start pulsar standalone
2. use `bin/pulsar-admin broker-stats monitoring-metrics` could return metrics info.
3. use `curl http://localhos

[2019-01-03 06:53] jiazhai commented on #3289
`curl http://localhost:8080/metrics` returns nothing
But
`curl http://localhost:8080/metrics/` could return metrics info.

This looks like a bug of jersey?

[2019-01-03 06:57] ambition119 opened #3290 "Pulsar IO connector for Hbase sink"
#### Expected behavior

Supporting the ability to write data to HBase sink

#### Actual behavior

This feature is not currently supported

#### System configuration
**Pulsar version**: 2.2

[2019-01-03 08:06] ambition119 commented on #3276
I can try to resolve this issue

[2019-01-03 08:07] sijie commented on #3276
Assigned to @ambition119

[2019-01-03 08:15] sijie opened #3292 "Connectors and offloaders are not available in download pages"
#### Expected behavior

Connectors and offloaders should be available to be downloaded in download page

#### Actual behavior

There is no simple way to find the connectors and offloaders packages.

http://pulsar.apache.org/en/download/

#### Steps to reproduce

[2019-01-03 08:41] sijie opened #3293 "[IO] [Kafka] Heartbeat must be set lower than the session timeout"
#### Expected behavior

Kafka source connector should be able to run when changing session timeout ms to be less than 10s

#### Actual behavior

localrun throws exception.

[code]

#### Steps to reproduce

1. Prepare a kafka yaml file and make sure `sessionTimeoutMs` to be less than 10s.

[code]

2. Start pulsar standalone

3. Localrun a Kafka source connector

[code]

#### System configuration
**

[2019-01-03 08:43] sijie commented on #3293
We should be doing followings to fix the issue

- add `heartbeat.interval.ms` parameter to kafka source config. so user can choose the right session timeout as he/she wants
- in general, we should allow users to configure whatever kafka client settings they like to configure in the kafka client used in kafka connectors.

[2019-01-03 09:15] sijie opened #3294 "[IO] [Kafka] a Kafka source submitted with invalid configuration stucks without consuming from Kafka topics"
#### Expected behavior

Create a Kafka source connector with invalid configuration should fail

#### Actual behavior

Create a Kafka source connector with invalid configuration succeed.

`getstatus` show the connector is running.
the function log doesn't show any exceptions.

#### Steps to reproduce

You can use the same steps in #3293  to repro this issue. Change `localrun` to `create`.

#### Sys

[2019-01-03 11:55] jiazhai commented on #3287
@sijie #3118 is another change, and it is not intention to do the fix for this issue. If we want to do the fix in 2.2 or earlier, we may need another PR.

And in the 2.2.1 code:
[code]
In [isAckTimeout](https://github.com/apache/pulsar/blob/v2.2.1-candidate-2/pulsar-client/src/main/java/org/apache/pulsar/client/impl/UnAckedMessageTracker.java#L162), it has already checked `oldOpenSet.isEmpty()`,

[2019-01-03 12:07] jiazhai commented on #3276
@ambition119 Thanks for the help, Yes, it need change current tcp source to support udp server.

[2019-01-03 12:56] jiazhai commented on #3276
Added some comments regarding documentation changes in the PR.

[2019-01-03 13:15] ambition119 commented on #3276
ok

[2019-01-04 03:31] merlimat commented on #3289
It’s not ideal, though the HTTP response is 302 redirect to /metrics so any http client following redirects is working

[2019-01-04 06:47] codelipenghui commented on #3131
![image](https://user-images.githubusercontent.com/12592133/50676431-43e37c00-102f-11e9-9388-59792ec2ed57.png)
Consumer in the same subscription stop consume messages, seems like broker update available permits problem?

[2019-01-04 09:39] jiazhai commented on #2984
pr merged

[2019-01-04 09:39] #2984 closed

[2019-01-04 10:39] vincent-pli opened #3302 "Could Subscription filter message for consumer"
#### Expected behavior
Subscription could filter message for consumer
Tell us what should happen
For example, certain user only care about message for himself, then he want filter all message and only get message specific for him based on one properties in the message, guess it's "user_id".
#### Actual behavior
Seems not support

#### Steps to reproduce

How can we reproduce the issue

#### System

[2019-01-04 14:27] JevonQ opened #3303 "[Question] A few questions on using Pulsar in different scenarios"
1. How to configure the pulsar protocol url for a pulsar instance?
Suppose I have a pulsar instance which consists of 3 pulsar clusters(C1, C2, C3), each cluster has one broker(B1, B2, B3), each broker manages one topic (T1, T2, T3). If I use DNS as service discovery method, how should I set the pulsar protocol url in order to allow pulsar client to create subscriptions on T1, T2 and T3? Per my un

[2019-01-04 15:57] legendtkl commented on #3289
@merlimat is right.

In centos:
[code]

And with the python urllib2 package, we can get result through http://localhost:8080/metrics
[code]

[2019-01-04 16:07] legendtkl commented on #3292
I can help with this.

@sijie , do you mean the connector and offloader in the path: https://archive.apache.org/dist/pulsar/pulsar-2.2.0/ , ie apache-pulsar-io-connectors-2.2.0-bin.tar.gz   and apache-pulsar-offloaders-2.2.0-bin.tar.gz

[2019-01-05 05:51] sijie opened #3305 ""--global-zookeeper" already deprecated and hidden but still referenced in documentation"
**Describe the bug**

`--global-zookeeper` has been deprecated and hidden since 2.0 release. However it is still
referenced in pulsar's documentation.

**Screenshots**

<img width="825" alt="screen shot 2019-01-04 at 9 48 41 pm" src="https://user-images.githubusercontent.com/1217863/50720883-a60da280-106a-11e9-9bfb-6f5e8fa53ba4.png">

**Additional context**

We should clean up the references of "-

[2019-01-05 05:58] sijie commented on #3302
@vincent-pli : currently it is not supported yet. One solution is to use pulsar functions. You can write a pulsar function to filter the messages by user_id and route the messages to user's own topic.

[2019-01-05 06:03] sijie commented on #3303
@JevonQ

If you have a DNS for your brokers, your pulsar service url would be:

- web service url : http://<dns>:8080/
- broker service url: pulsar://<dns>:8080/

[2019-01-05 08:05] JevonQ commented on #3303
@sijie Thanks for your reply, but I'm still not clear.

For the multi-clusters environment like I given in my previous question, suppose I have a domain name named pulsar.east-china.com which is provided for pulsar client to use, so how should I set the A record in DNS server for pulsar.east-china.com? I don't think it can work if I config DNS as follows:
pulsar.east-china.com    IN  A  B1-ip-addr

[2019-01-05 08:55] sijie commented on #3303
oh sorry, I misunderstood your question.

* for multiple cluster case:

I am not sure what do you want to achieve here. can you describe a bit more your use case?
Are you going to create a *global* cluster of C1, C2, C3? or do you want to ensure data is replicated across multiple clusters?

* for simple cluster environment

technically, the web-service-url and broker-service-url in a single cluste

[2019-01-05 09:32] #3276 closed

[2019-01-05 09:54] JevonQ commented on #3303
Yes, I want to create a multi-cluster instance without replication among themselves and allow users to access the topic within each cluster. I cannot figure out a way to achieve this.

But pulsar client also use service url to establish a connection and do the topic lookup, does that mean I need to set the url address to the node ip where the pulsar discovery process run? Also, if I need the fault

[2019-01-05 14:10] vincent-pli commented on #3302
Thanks for your reply, I want to know if creating/delete topic in run time is expensive or not.
If it's cheap, I can adopt the pulsar function, thanks

[2019-01-06 01:51] foreversunyao commented on #2952
@sijie for this issue, I am considering create a persistent zknode in zk if not exists, zknode name is the namespace name . by this way to implement a lock for change permission. But I have a problem which path I should use, what do you think about this ?

current path:
[zookeeper, counters, ledgers, managed-ledgers, schemas, namespace, admin, loadbalance]

[2019-01-06 02:49] foreversunyao commented on #3230
@sijie , for this issue, what I am considering is using zk temporary node when update any partitions for topic, and if creating succeeded , the watch on this temporary node will tell all producer/consumer reconnect this topic , the current producer/consumer will get from api, what do you think about this ?

[2019-01-06 03:33] merlimat commented on #3230
@foreversunyao producers/consumers are not directly connected to ZK. We have on the roadmap to add support for "system" topics, to be used to send notifications around events happening in the system (eg: new topics created, policies changes, number of partitions changed...).

In absence of that, I think the best approach is to poll periodically from the client.

[2019-01-06 04:53] foreversunyao commented on #3230
@merlimat If I am not wrong, your point is in the future , client would subscribe the system topics to get the these updates, and each type of update could have its own topic ? and the client could be producer, consumer, and any admin tools.  and only brokers would connect to zk only and get some changes and push to the "system" topics ?

[2019-01-06 05:05] merlimat commented on #3230
Correct, that will be a general solution for a variety of problems

[2019-01-06 10:51] jiazhai commented on #3264
The situation is that:  `create-partitioned-topic` is an operation to create zookeeper data. while get `partitioned-stats` try to get service stats for this topic in broker.
Since no producer and subscription has ever been created, so sub-partitioned-topic is not served by any broker, and [pulsar().getAdminClient().topics()](https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/

[2019-01-06 20:45] sijie commented on #3303
if it is "multi-cluster" instance without replication, then each cluster is a separate cluster. You have to manage which topic in which cluster.

Alternatively, you can setup a "global" instance, which requires a "global" zookeeper that spreads across multiple physical locations. In this way, pulsar will be acting as a "whole" system and managing the topic assignments.

If you want to setup additi

[2019-01-06 20:52] #3293 closed

[2019-01-06 21:06] sijie commented on #3302
Creating and deleting topics should be relatively cheap. However one thing to be kept in mind is that the number of topics that a single Pulsar cluster can support is bounded by how much metadata your zookeeper cluster can store for Pulsar. If you are going down into this approach, you might need to do a capacity plan to figure out how many of per-user-id topics you need.

[2019-01-07 00:15] vincent-pli commented on #3302
Got it, many thanks

[2019-01-07 00:15] #3302 closed

[2019-01-07 02:11] FDU-SE-LAB opened #3316 "Your project apache/incubator-pulsar is using buggy third-party libraries [WARNING]"
Hi, there!
We are a research team working on third-party library analysis. We have found that some widely-used third-party libraries in your project have major/critical bugs, which will degrade the quality of your project. We highly recommend you to update those libraries to new versions.
We have attached the buggy third-party libraries and corresponding jira issue links below for you to have more

[2019-01-07 04:09] vngantk commented on #3253
I have been doing a lot of Kotlin programming recently. One of the advantages of Kotlin is that it still supports JDK 1.6 because Kotlin is a very popular language for developing Android apps and the support for JDK 1.6 is a must. One approach to provide a pre-JDK1.8 client library is to rewrite or create an additional client library which is written in pure Kotlin. With proper annotations added,

[2019-01-07 04:11] ambition119 commented on #3289
@merlimat is right.
[code]
these shell command could return metrics info.

[2019-01-07 04:18] vngantk commented on #3253
To create a Kotlin client library, we do not need to do it completely from scratch. Jetbrains' Intellij provides a tool to convert Java code to Kotlin. Although the conversion is not perfect and still requires additional manual fixes and porting work, it can be a very good initial version for making a workable Kotlin client library.

[2019-01-07 05:30] sijie commented on #3253
Writing a client is probably easy. As what you said, there are tools on doing the initial work. However I think the main concern is maintainability (e.g. is the client production battle tested, are there people dedicated on maintaining it, fixing bugs and etc). What we have done in pulsar is trying to maintain two battle tested versions of clients, one is java and the other is c++. All other non-j

[2019-01-07 08:04] jiazhai commented on #3287
checked with the reporter again. They are using 2.2.1 server, but with 2.2.0 client. And this issue is caused by a wrongly change of above `toggle` orer, and it should be fixed in 2.2.1.
will close this issue.

[2019-01-07 08:04] #3287 closed

[2019-01-07 08:46] #3226 closed

[2019-01-07 10:18] skyrocknroll opened #3317 "Unable to find python client in pip."
**Describe the bug**
No matching distribution for pulsar-client 2.2.1
OS : macos High Siera (10.13.6)
**To Reproduce**
Steps to reproduce the behavior:
1. pip install pulsar-client==2.2.1

**Error**

Looking in indexes: https://pypi.org/simple
Collecting pulsar-client==2.2.1
  Could not find a version that satisfies the requirement pulsar-client==2.2.1 (from versions: 1.19.0, 1.20.0, 1.21.0, 1.22.

[2019-01-07 11:01] skyrocknroll commented on #3317
Also tried compiling from source and failed.
[code]

[2019-01-07 12:05] sebbASF opened #3319 "Broken KEYS link on https://pulsar.apache.org/download/"
The KEYS link still points to incubator

[2019-01-07 12:39] skyrocknroll commented on #3317
I was trying to install in 3.6 after switching the version to 3.7 it worked

[2019-01-07 12:39] #3317 closed

[2019-01-07 13:59] skyrocknroll opened #3320 "unable to set unacked_messages_timeout_ms in python client"
**Describe the bug**
When the value is set for `unacked_messages_timeout_ms` in python consumer client then we get
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
The message should be redelivered after the unacked_messages_timeout_ms.

**Desktop (please complete the following information):**
 - OS: MAC OS High siera.

[2019-01-07 21:56] jerrypeng opened #3322 "Get topic API for C++/Python client"
**Is your feature request related to a problem? Please describe.**

There is currently no way to get the topic name of a message using the C++/Python API.

**Describe the solution you'd like**

Be able to get the topic name from message just like in the Java API

[2019-01-07 23:58] merlimat commented on #3319
@sebbASF I had this fixed few days ago in https://github.com/apache/pulsar/pull/3282
The issue is that the website building job has been failing for a few days and not updating: https://builds.apache.org/job/pulsar-website-build/

[2019-01-08 01:49] JevonQ commented on #3303
The global zookeeper has the global view of all topic assignments, every broker will have the view cached locally? Does that mean the pulsar client can get find which broker hosts the topic via every broker?

BTW, for the zookeeper pulsar uses, is it the official versioned zookeeper or a modified versioned zookeeper? I mean if we already have a zookeeper available, can we just use it as the local

[2019-01-08 02:11] sebbASF commented on #3319
The build error is:

cp: target '/pulsar/generated-site/content' is not a directory

should be easy enough to fix?

[2019-01-08 02:15] sijie commented on #3303
yes.

all the brokers registered under same zookeeper instance will learn how topics are assigned to the broker. so when pulsar client connects to any broker, it will discover the right owner broker of the topic and then establish the connection with owner broker.

yes you can use your own zookeeper.

[2019-01-08 05:53] JevonQ commented on #3303
@sijie Appreciate you for all the replies, you help me a lot.

[2019-01-08 05:53] #3303 closed

[2019-01-08 05:58] merlimat commented on #3319
Unfortunately not. That was actually due to an attempt to fix the build.

Problem is we were still building the "old" website too as part of the build. The build happens in a Docker container with all the dependencies, though some Ruby dependencies are fetched at build time and, due to some changes in these dependencies, the old-site build script started failing.

I tried to fix by just building t

[2019-01-08 11:56] ivankelly commented on #2880
@HaraldGustafsson you made the request directly to the REST api, and not through the admin api?

[2019-01-08 12:08] skyrocknroll commented on #3320
@jerrypeng Any pointer would be highly helpful.

[2019-01-08 12:37] HaraldGustafsson commented on #2880
@ivankelly yes, I'm using the REST API directly from a Python client.

Here is the method that delete the namespace:

    async def namespace_remove(self, tenant, namespace):
        retry = 20
        while retry > 0:
            try:
                # Get topics
                ns_path = "{prefix}/persistent/{tenant}/{namespace}".format(
                    prefix=self.path_prefix,

[2019-01-08 12:44] ivankelly opened #3330 "tlsEnabled not respected in broker or proxy"
#2988 added a change that deprecated tlsEnabled, so now tls can only be enabled via setting webServicePortTls and brokerServicePortTls.

Deprecation shouldn't mean break though. It should mean, we will break this in the future. If tlsEnabled is set, we should set webServicePortTls and brokerServicePortTls to the default values.

[2019-01-08 12:45] ivankelly commented on #3330
cc @jai1

[2019-01-08 12:54] ivankelly commented on #3330
Also, this change breaks the documentation

[2019-01-08 15:10] ivankelly opened #3331 "namespaces grant-permission should accept comma separated roles"
[code]
should grant permissions to user1 & proxy, no a non-existant user 'user1,proxy'.

[2019-01-08 15:22] stepanbujnak opened #3332 "Cannot use topics regex pattern with using Go package (v2.2.1)"
I'm trying to subscribe to multiple topics specified by regex pattern using following code:

[code]

However the program immediately fails with:

[code]

It seems that it successfully retrieves the list of topics for tenant/namespace but fails to parse the response. When curling the endpoint I get:

[code]

This is not what the undelying C++ library expects as seen [here](https://github.com/apache

[2019-01-08 15:46] ivankelly opened #3333 "TLS Hostname verification doesn't get disabled if using https lookup in PulsarClient"
**Describe the bug**
If you connect to a broker using a https lookup url, and the cert doesn't match the hostname, and hostname verification is disabled, it will complain about the hostname.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a cluster with TLS authentication. The broker hostname shouldn't match the cert CN.
2.
[code]
3. The  client will fail to connect and give an err

[2019-01-08 16:18] merlimat commented on #3332
@stepanbujnak it looks a bug indeed when doing the service discovery through HTTP. As a workaround, it should be working if you use `pulsar://localhost:6650` as service URL

[2019-01-09 02:40] ambition119 commented on #3264
if we create-partitioned-topic  is an operation to create zookeeper data for topic, but no producer and subscription has ever been created, partitioned-stats should't return "Internal topics have not been generated yet", should return topic default info, like:
[code]
when producer and subscription has ever been created, return like:
[code]

[2019-01-09 06:33] codelipenghui commented on #3131
![image](https://user-images.githubusercontent.com/12592133/50880859-cfd41a00-141a-11e9-84de-a466334c5c48.png)

Found some common problem cause consumer stop consume messages, stats of broker show us AVAILABLE PERMITS is negative number.

[2019-01-09 10:51] ivankelly commented on #2880
@HaraldGustafsson
So, it turns out this isn't a bug but just something quite user unfriendly to configure.

To delete a namespace, all bundles of the namespace also need to be deleted. The broker does do this automatically, though the bundles may be owned by different brokers, so as part of the rest operation, the broker has to call out to other brokers (even if there are none, it calls out to its

[2019-01-09 10:51] #2880 closed

[2019-01-09 12:19] skyrocknroll commented on #3320
[code]
I was setting the value 5000ms which is less than 10000

[2019-01-09 12:19] #3320 closed

[2019-01-09 13:41] codelipenghui commented on #3131
This is a test case to show how consumer stop consume messages:

[code]

After a while, you will get following logs:

[code]

[2019-01-09 13:57] jiazhai commented on #3131
as discussed with @codelipenghui , above reproduce is under 2.2.0.

[2019-01-09 15:23] ivankelly opened #3343 "Proxy shouldn't require both brokerWebServiceURL & brokerServiceURL if http is being used for lookup"
This is in the context of configuring a proxy to not use ZK. Rather than requiring that the use specify the brokerServiceURL, if there is a brokerWebServiceURL specified, we should fallback to that and do http lookup.

[2019-01-09 20:49] bputt commented on #3131
Any indication when this fix would get released, maybe 2.2.2?

[2019-01-09 21:55] ivankelly commented on #3279
@sijie
With 4.9, the new producer will not have to worry about the exception, as the conditional update will succeed in this case. If the previous owner's attempt to close wins, the new owner's recovery close will fail, reread the metadata, see that the metadata is no longer in IN_RECOVERY state, so it can assume it is in CLOSED state. Since it is in closed state, it can just take the CLOSED metad

[2019-01-09 23:59] sijie commented on #3279
@ivankelly cool. thank you for the confirmation.

[2019-01-10 00:18] sijie commented on #3218
@ivankelly added the subtasks. however I removed "metadata format" and "proxy". because there is nothing to do at these two parts. If the pulsar client supports a URI with multiple hosts, both metadata format and proxy will be working. However the current most tricky part is pulsar-admin. still figuring out how to do it in jersey client.

[2019-01-10 10:15] jiazhai opened #3349 "Documentation error for title of page cookbooks-partitioned"
**Describe the bug**
Documentation error for tile of page: http://pulsar.apache.org/docs/en/cookbooks-partitioned/

**To Reproduce**
open link:
http://pulsar.apache.org/docs/en/cookbooks-partitioned/

**Expected behavior**
tile and content match.

**Screenshots**
![image](https://user-images.githubusercontent.com/6348208/50961653-3b91b200-1503-11e9-86db-206706ce809d.png)

[2019-01-10 10:16] ivankelly opened #3350 "Proxy should autodetect whether to use TLS to connect brokers"
Currently you need to set `tlsEnabledWithBroker` in the proxy to use TLS to connect to brokers. However, if the URL is https:// or pulsar+ssl:// it should be obvious that we should use TLS. Likewise, when the url is http:// or pulsar:// it should be obvious that we should not use TLS.

[2019-01-10 10:17] jiazhai commented on #3349
This should be an easy fix in cookbooks-partitioned.md
[code]

Need to check if other versions also have issue.

[2019-01-10 11:01] ivankelly opened #3351 "brokerWebServiceURL should not be required in proxy conf"
It's a perfectly valid usecase to only want the proxy to be used for produce and consume traffic, and to only allow admin requests from inside the pulsar cluster. However, currently if URL based configuration is being used (i.e. zk is not configured), then brokerWebServiceURL is required.

Update docs(http://pulsar.apache.org/docs/en/administration-proxy/) when this is fixed to note that not all U

[2019-01-11 01:11] codelipenghui commented on #3131
### Broker dispatch process:
1. Consumer subscribe to a topic, consumer will send a flow request.
2. By default, broker will read 100 entries from ledger and distribute entries to 5 consumers, one consumer will get 20 entries, in the test case, every entries has 2000 messages by enable the batching message in producer.
3. MaxUnackMessagesPerConsumer in broker settings is 100 and MaxUnackMessagesPe

[2019-01-11 07:56] JesusIslam opened #3359 "Failed to build Golang client."
**Describe the bug**
Failed to build Golang client, returning an error.

**To Reproduce**
Steps to reproduce the behavior:
1. Use Go v1.11.4
2. Use `go mod init`
3. `go build`

**Expected behavior**
Building my program should work without error

**Screenshots**

**Desktop (please complete the following information):**
 - OS: macOS Mojave 10.14.3

**Additional context**
The output of the build:
[co

[2019-01-11 08:01] JesusIslam commented on #3359
Turned out I missed this explanation in [this page.](https://pulsar.apache.org/docs/latest/clients/go/)

[2019-01-11 08:01] #3359 closed

[2019-01-11 08:02] ambition119 commented on #3294
Use 'source create' command we validate verify that the parameter key is included, but it does not verify that the value of the key is correct, so create sucessflully. If value is error, should we return the create source failure?
kafka.yaml info:
[code]
command like :
[code]
when I getstatus return info:
[code]

[2019-01-11 15:14] thatcort commented on #1070
Just a suggestion to use TypeScript, rather than JavaScript.

[2019-01-11 17:00] sautran opened #3361 "Kafka configure properties are not included subscription type and subscription mode"
I am trying to use the latest pulsar release to migrate current kafka client to pulsar and try to use the kafka pulsar wrapper.

I am using non-persistent topic,
in the kafka pulsar client config, Following is the default
"subscriptionTopicsMode" : "PERSISTENT",
 "subscriptionType" : "Failover",

Is there anyway to set subscriptionTopicsMode and subscriptionType through the kafka configuration pro

[2019-01-11 17:08] merlimat commented on #3361
I agree that `subscriptionTopicsMode` should be configurable. Though I believe `subscriptionType` can only be `Failover`, since Kafka API has no option to do individual acknowledge of messages.

[2019-01-11 17:15] sautran commented on #3361
For the subscriptionType, right now our kafka application have a few consumers using the same group.id on a partitioned topic.  Each consumer reads some partitions. My question is in Pulsar,  if one consumer die, are other consumers taking those partitions over?

[2019-01-11 18:33] sautran opened #3362 "java.lang.IllegalArgumentException: Illegal base64 character 2d"
I am using kafka api, the topic is persistent and partitioned topic, in the java consumer, the consumer.poll method  throws the following exception
java.lang.IllegalArgumentException: Illegal base64 character 2d
	at java.util.Base64$Decoder.decode0(Base64.java:714)
	at java.util.Base64$Decoder.decode(Base64.java:526)
	at java.util.Base64$Decoder.decode(Base64.java:549)
	at org.apache.kafka.clients

[2019-01-11 18:40] merlimat commented on #3362
@sautran The code there should be like :

[code]

Did you set the `StringDeserializer` for the key?

[2019-01-11 18:41] merlimat commented on #3362
(Above code was taken from https://github.com/apache/pulsar/blob/ef82f045257ae839c0208c75b1b31ba0ad6693aa/pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/kafka/clients/consumer/PulsarKafkaConsumer.java#L382 )

[2019-01-11 18:47] sautran commented on #3362
@merlimat , yes, I set the key as StringSerializer
props.put("key.serializer",
                StringSerializer.class.getName());

[2019-01-11 18:52] merlimat commented on #3362
This error is coming from consumer, so it should be the `StringDeserializer` there

[2019-01-11 19:33] sautran commented on #3362
Ok. I set the consumer
     props.put(KafkaKeys.VALUE_DESERIALIZER,
                ByteArrayDeserializer.class.getName());
        props.put(KafkaKeys.KEY_DESERIALIZER,
                StringDeserializer.class.getName());
in producer, I have the same setting but it is the serializer.

now I am getting the following error in the pulsar server:
14:16:27.791 [pulsar-io-49-12] WARN  org.apache.pulsar

[2019-01-11 19:37] merlimat commented on #3362
This seems like it's trying to connect the Pulsar service using HTTP?  What service url did you specify?

[2019-01-11 19:40] sautran commented on #3362
I set bootstrap.servers  pulsar://localhost:6650 in the properties

[2019-01-11 19:41] merlimat commented on #3362
Ok, that's strange. Can you also include the client logs?

[2019-01-11 19:47] sautran commented on #3362
Consumer log:

20190111.142908.328 INFO  [org.apache.kafka.clients.consumer.ConsumerConfig] ConsumerConfig values:
	auto.commit.interval.ms = 5000
	auto.offset.reset = latest
	bootstrap.servers = [pulsar://localhost:6650]
	check.crcs = true
	client.id =
	connections.max.idle.ms = 540000
	enable.auto.commit = false
	exclude.internal.topics = true
	fetch.max.bytes = 52428800
	fetch.max.wait.ms = 500

[2019-01-11 21:01] sautran commented on #3362
i am running local standalone mode. I already removed the data and logs directory, server still kept throwing this error. What files/directory do I need to delete to do the fresh restart.?

[2019-01-12 15:24] VinceShieh opened #3364 "the description of CLI pulsar-client produce/consume command"
![pulsar-client-produce](https://user-images.githubusercontent.com/2673819/51074883-82c4a200-16bf-11e9-90f7-e0766709ba24.png)
![pulsar-client-consume](https://user-images.githubusercontent.com/2673819/51074884-8a844680-16bf-11e9-95b4-d9f1059cec54.png)

it seems that the description messages of 'pulsar-client produce' and 'consume' are almost the same, wouldn't it be better that we just show the de

[2019-01-13 22:16] ConcurrencyPractitioner commented on #1090
Ok, I found out that a list of Pulsar consumer configs could be found in the class ```ConsumerConfigurationData```. I noticed that there is a map which allows for other properties to be added in the class itself. So I want to know if there is possibly a list of configs which Pulsar's ConsumerImpl uses which I could draw from as a resource.

[2019-01-14 14:51] jiazhai opened #3367 "Dashboard docker shows no data"
**Describe the bug**
Some user reported that Dashboard docker  shows no data by following instruction of [dashboard](http://pulsar.apache.org/docs/en/administration-dashboard.html#docsNav)

**To Reproduce**
Steps to reproduce the behavior:
1. following instruction of [dashboard](http://pulsar.apache.org/docs/en/administration-dashboard.html#docsNav) to start docker.

**Expected behavior**
dashboar

[2019-01-14 16:05] ivankelly commented on #2880
@merlimat @jai1 could I get some input on my previous comment?

[2019-01-14 16:28] sautran opened #3369 "IndexOutOfBoundsException in kafka ConsumerExample"
Steps:
1. unzip tar ball: tar -xf apache-pulsar-2.2.1-bin.tar.gz , cd the directory
2. ./pulsar standalone
3. change the topic to  following in
    org.apache.pulsar.client.kafka.compat.examples.ConsumerExample.java
        String topic = "persistent://public/default/test";
 4. Run  ConsumerExample

Server will have the following error
[code]

[2019-01-14 16:46] alexandrfox opened #3370 "CPP Client RPM sha512 links are broken"
Hey folks,

sha512 signature RPM links for cpp client (the ones here: https://pulsar.apache.org/docs/en/client-libraries-cpp/) are broken on some mirrors, e.g. a mirror link for devel RPM is leading to 404: http://ftp.tudelft.nl/apache/pulsar/pulsar-2.2.1/RPMS/apache-pulsar-client-devel-2.2.1-1.x86_64.rpm.sha512

As mentioned by @merlimat these should only be fetched from Apache servers to guarant

[2019-01-14 19:09] ivankelly commented on #3218
We should still test these, to ensure they do work. I would even stay we should only test these with multiple addresses, and not with single addresses, as single address is a special case of multiple.

[2019-01-15 09:36] foreversunyao commented on #3367
@jiazhai could show after have some prouder or consumer ran for the topics ? looks like the data comes from the stats api

[2019-01-15 13:09] ambition119 opened #3373 "pulsar/master branch run SampleProducer class occur RemotelyClosedException: Remotely closed"
**Describe the bug**
SampleProducer class info:
[code]

bin/pulsar standalone info:
[code]

**To Reproduce**
[code]
run org.apache.pulsar.client.tutorial.SampleProducer, update code info
[code]
but shell run ok.
[code]

[2019-01-16 11:11] pruthvivrp opened #3375 "Websocket example not working - Throwing Unexpected server response: 500"
**Describe the bug**
Since there's no client available for Node.js, I tried to using WebSocket API for creating producers/consumers. When I tried the example given in the documentation, it throws me the "Unexpected server response: 500" error.

**To Reproduce**
Steps to reproduce the behavior:
1. Run "Pulsar standalone" in docker container(WebSocket service is enabled by default in standalone mode

[2019-01-16 15:26] bputt opened #3376 "Add ability to connect to bookkeeper using tls"
**Is your feature request related to a problem? Please describe.**
I have a bookkeeper cluster that has TLS enabled and need pulsar clients to communicate to my cluster using tls

**Describe the solution you'd like**
The ability to specify tls settings for my broker to connect to bookkeeper

**Describe alternatives you've considered**
Using stunnel + iptables to redirect

[2019-01-17 00:40] #3370 closed

[2019-01-17 00:40] #3131 closed

[2019-01-17 00:42] sijie commented on #3289
Closed this issue as the question is answered.

[2019-01-17 00:42] #3289 closed

[2019-01-17 00:43] sijie commented on #3292
@legendtkl sorry for late response. Yes, I mean adding connector and offloader to the pulsar's download page.

[2019-01-17 00:46] sijie commented on #3294
@ambition119 I think my main concern here is the create operation succeed and get status shows the function instance is running. what I expect to see is get status should show the function instance is not running.

[2019-01-17 00:47] sijie commented on #3305
@liketic is working on this issue (#3307 and #3338)

[2019-01-17 00:48] sijie commented on #3322
This has been implemented by #3326

[2019-01-17 00:48] #3322 closed

[2019-01-17 01:15] sijie commented on #3349
This is fixed by #3353

[2019-01-17 01:15] #3349 closed

[2019-01-17 01:30] sijie commented on #3375
@pruthvivrp

in the example, it is using topic `my-tenant/my-ns/my-topic1` ( `"ws://localhost:8080/ws/v2/producer/persistent/my-tenant/my-ns/my-topic1"`). Have you manually created tenant `my-tenant` and namespace `my-ns`?

[2019-01-17 01:36] sijie commented on #3376
@bputt just try to clarify your requirement here:

are you looking for "connecting your pulsar clients to brokers via TLS" or "connecting your pulsar broker to bookies via TLS"?

[2019-01-17 01:53] bputt commented on #3376
@sijie "connecting your pulsar broker to bookies via TLS"

[2019-01-17 02:09] ambition119 commented on #3373
ok, I can fix this

I fix [SampleConsumer.java](https://github.com/apache/pulsar/issues/3369) and SampleProducer.java

[2019-01-17 03:24] ambition119 opened #3378 "[pulsar-io] Support Pulsar to receive and send data from Apache NiFi"
**Is your feature request related to a problem? Please describe.**
Support Pulsar to receive and send data from Apache NiFi

**Describe the solution you'd like**
Pulsar uses the NiFi Site-to-Site client  pulls data from Apache NiFi and delivers data to Apache NiFi.
[configure-site-to-site](http://nifi.apache.org/docs/nifi-docs/html/user-guide.html#configure-site-to-site-server-nifi-instance)

**De

[2019-01-17 06:02] ambition119 commented on #3373
[code]
Then SampleProducer.java and SampleConsumer.java.

[2019-01-17 07:36] #3373 closed

[2019-01-17 09:46] sijie commented on #3376
@bputt gotcha, thank you for clarification.

[2019-01-17 11:59] JevonQ commented on #386
Since there are several thresholds to control the split on the bundle, so there is one scenario that only one busy topic can cause the bundle to split, I'm wondering it the split can spread the load for that?

[2019-01-17 14:20] jiazhai commented on #3367
@foreversunyao  asked one usr that reported a similar issue, this could be fixed by setting advertisedAddress for both `broker.conf` and `bookkeeper.conf`.
[code]

[2019-01-17 14:58] ambition119 commented on #3375
In addition to the create, namespace has to be able to be used by standalone.
[code]
Then run sample.

[2019-01-17 17:54] kamal-brill opened #3382 "What's purpose of ackId when publishing to a topic ?"
**Describe the bug**
When we publish the message to a topic, it returns an `ackId`. What's the purpose of that `ackId` ? Can we use it to retrieve the particular message using any REST or WebSocket API ?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to WebSocket API Documentation page.
2. Run the Node.js Producer and Reader examples.
3. Send message from producer, it returns an unique "

[2019-01-17 18:03] joefk commented on #3376
👍

[2019-01-18 12:36] jiazhai commented on #3332
will check and fix it.

[2019-01-18 15:33] imaramos opened #3388 "[Go Client] - Add ability to send an atomic batch"
**Is your feature request related to a problem? Please describe.**
In this moment we can't produce/send an atomic batch throught de client.
Currently the producer batching is a buffer that is flushed according with batching configs. The problem is that we can loose the messages order, if some fails.

**Describe the solution you'd like**
I would like to have  a method to send an atomic batch.

**De

[2019-01-20 03:10] #3364 closed, assigned to nobody

[2019-01-20 11:08] foreversunyao opened #3390 "pulsar-daemon start broker without setting mandatory parameter failed without any errors"
**Describe the bug**
for the **./pulsar-daemon start broker** command, the mandatory configuration like **zookeeperServers**, **configurationStoreServers** and **clusterName** are not check in the code .

**To Reproduce**
Steps to reproduce the behavior:
1.  remove the **zookeeperServers** or **configurationStoreServers** or **clusterName** in broker.conf
2. ./pulsar-daemon start broker
3. broker

[2019-01-21 05:59] pruthvivrp commented on #3375
@sijie Yes you're right, I missed to create the tenants and topics.

@ambition119 It worked with the steps you have mentioned. Please update it in the documentation if possible.

[2019-01-21 05:59] #3375 closed

[2019-01-21 06:30] sijie commented on #3375
@pruthvivrp cool. glad to hear that it works for you now.

[2019-01-21 10:58] tuteng commented on #3275
Is this feature more suitable for submission to the flume repository? As a sink of flume

[2019-01-21 11:13] sijie commented on #3275
@tuteng :

I think there two ways to do connectors:

1) adding a connector in Flume repo, which implements Flume's plugin interfaces.
2) adding a pulsar connector that receives data from flume or to flume, which implements Pulsar's connector interfaces.

from functionalities perspective, both 1) and 2) are doing the same thing. the differences will be - who is running the "connecting" logic.

for

[2019-01-21 11:44] tuteng commented on #3275
For the second catecory.
Sending data to flume is relatively easy and can be implemented using both flume-ng-client and flume-ng-sdk.
However, I have not found a better way to receive data from flume. Flume officials have implemented various sink to send out data.For example https://github.com/apache/flume/tree/trunk/flume-ng-sdk

[2019-01-21 11:59] imaramos commented on #3388
@tuan6956 I didnt understand, can you detail please?

[2019-01-21 15:14] #3361 closed

[2019-01-21 17:43] sautran commented on #3361
Thanks, Guys.

[2019-01-21 22:45] david-streamlio opened #3396 "Add missing methods to SinkContext & SourceContext interfaces"
**Is your feature request related to a problem? Please describe.**
I would like it if the Context objects for Pulsar Sinks & Sources had the same methods defined as the Context object for Pulsar functions,
https://github.com/apache/pulsar/blob/master/pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/Context.java

**Describe the solution you'd like**
Make the following context

[2019-01-21 22:55] sijie commented on #3275
@tuteng your understanding is correct. for the second category, there is no easy way to receive data from flume.  I think @ambition119 or @jiazhai is looking into this. they might have better context than me regarding whether there is any approach to receive data from flume.

[2019-01-22 00:09] jerrypeng commented on #3396
@david-streamlio we can add some the methods from Function Context to Sink/Source Context.  However, there is a major difference between Function Context and Sink/Source Context.  Function Context is meant context for the message currently being processed while Sink/Source Context provide general context for the Sink and Source in general.

[2019-01-22 01:17] david-streamlio commented on #3396
That's fine, just add a subset that makes sense, which would include the getLogger() method

[2019-01-22 02:11] tuan6956 commented on #3388
it mean that can i batch acknowledge message?
Ex: acknowledge message 1 ->10 in one time

[2019-01-22 03:18] ambition119 commented on #3275
@jiazhai @sijie I just try FlumeAvroSink, not try FlumeSource like spark offer FlumeUtils.  @tuteng if you interest，you can commit this issue.  tks

[2019-01-22 04:04] jiazhai commented on #3275
@ambition119 Thanks for the comments. You could open the issue for FlumeAvroSink, and assign it to yourself.
@tuteng Would you like to contribute to this issue?

[2019-01-22 05:32] tuteng commented on #3275
Okay, thanks.

[2019-01-22 07:31] foreversunyao commented on #3369
@sautran , is it a reproduced issue ? or is it related the issue which was fixed recently #3373

[2019-01-22 08:06] imaramos commented on #3388
@tuan6956 Sorry I thought you were giving a suggestion to my problem. You can achieve that with cumulative ack I assume, at least in the exclusive subscription.

[2019-01-22 09:05] foreversunyao commented on #3390
looks like https://github.com/apache/pulsar/blob/master/pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java#L104 , **brokerServicePort** has no "required" attributes, so it will prompt an **java.lang.NullPointerException** exception, and don't do any check further .

[2019-01-22 09:53] VinceShieh opened #3399 "Hive source connector support"
**Is your feature request related to a problem? Please describe.**
Need to dump hive data to Pulsar while keeping the schema same as that of the message
**Describe the solution you'd like**
A hive source connector for Pulsar

[2019-01-22 10:13] murong00 commented on #3390
@foreversunyao In fact, the parameters have been checked but the error log is not printed as expected (see https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/PulsarBrokerStarter.java#L277). I replaced this line by following:
`System.out.println(">>>" + String.format("Uncaught exception in thread %s: %s", thread.getName(), exception.getMessage()));`
it printe

[2019-01-22 10:16] murong00 commented on #3390
@sijie How do you think about this, should we print the exception in stack trace?

[2019-01-22 10:21] foreversunyao commented on #3390
@murong00 ,you mean even it failed at here, it will continue the for loop , https://github.com/apache/pulsar/blob/master/pulsar-broker-common/src/main/java/org/apache/pulsar/common/configuration/PulsarConfigurationLoader.java#L133 . ?

[2019-01-22 10:46] murong00 commented on #3390
@foreversunyao yeah, it continues the for loop and appends all required fields error then throws it .

[2019-01-22 10:54] jiazhai opened #3400 "Documentation: Pulsar functions difference between thread and process mode"
**Describe the bug**
Document: pulsar functions lack of introduction for the difference between thread mode and process mode

**To Reproduce**
No introduce of these in docs of functions:
http://pulsar.apache.org/docs/en/functions-overview.html#docsNav

**Additional context**
thread mode: one function is running in thread mode, and running on same jvm with function worker;
process mode: one functio

[2019-01-22 11:03] ambition119 commented on #3369
sorry, I wrong related to #3373, this issue unresolved.

[2019-01-22 11:17] foreversunyao commented on #3390
@murong00 I could be wrong, but what I tested is **loop** would break when it met the first error , anything I could miss ?

[2019-01-22 13:17] ambition119 commented on #3369
example run result:
![image](https://user-images.githubusercontent.com/20353043/51537911-d2a72400-1e8a-11e9-80a0-5f7030e54e6b.png)
![image](https://user-images.githubusercontent.com/20353043/51537927-dc308c00-1e8a-11e9-94fe-e43df0b85c9d.png)
![image](https://user-images.githubusercontent.com/20353043/51537947-e9e61180-1e8a-11e9-9aa7-20258cc29969.png)

[2019-01-22 17:25] bputt opened #3402 "OutOfDirectMemoryError"
**Describe the bug**
We're using a proxy to connect to our pulsar cluster and the proxy was failing to send messages to our broker. The error on the broker is:

[code]

**Expected behavior**
I'd expect the proxy to send data to another broker, but I also don't see why this broker would have an OOM when it should be persisting to disk for the most part?

**Desktop (please complete the following inf

[2019-01-22 18:06] merlimat commented on #3402
@bputt This would be kind of addressed in 2.3. The changes were described in https://github.com/apache/pulsar/wiki/PIP-24%3A-Simplify-memory-settings .

The implementation was actually done in BookKeeper and will be available in 4.9.0 release (which is currently being voted). Once that's available, we'll add the hooks in Pulsar broker as well to ensure that under any circumstances, the broker will

[2019-01-22 18:59] bputt commented on #3402
@merlimat do you have an expected release date for 2.3?

[2019-01-23 00:15] bputt opened #3404 "Nightly builds"
**Is your feature request related to a problem? Please describe.**
We're looking to use pulsar and are having issues which should be addressed in a newer release (2.3) and would really like to download a nightly build so we can develop towards that

**Describe the solution you'd like**
A nightly build that we can download

**Describe alternatives you've considered**
I've attempted to use your buil

[2019-01-23 02:13] jiazhai commented on #3059
close this issue since penghui's prs merged.

[2019-01-23 02:13] #3059 closed

[2019-01-23 09:02] chowyu08 opened #3408 "pulsar golang error"
when client connect pulsar broker:
**Describe the bug**
[code]

 - OS: ubuntu16.04
- golang: 1.11

[2019-01-23 11:58] murong00 opened #3409 "Some of the "-help" options in the pulsar command line tool may not perform as expected"
**Describe the bug**

It may confuse novices as below when using '--help' option of Pulsar command-line tools to get help:
[code]

[2019-01-23 15:33] jiazhai commented on #2658
#3078 is for this and merged.

[2019-01-23 15:33] #2658 closed

[2019-01-23 15:34] #2657 closed

[2019-01-23 15:35] #2407 closed

[2019-01-23 22:50] one70six opened #3414 "pulsar-admin - HTTP 401 Authentication required / 500 Internal Server Error"
**Describe the bug**
When issuing some commands via the pulsar-admin CLI or REST API, you will receive a HTTP 401 Authentication required or 500 Internal Server Error.

**Version**
2.2.0

**To Reproduce**
Our cluster has TLS enabled and certs issued for use by the pulsar-admin CLI. The certs and settings are picked up by the  $PULSAR_HOME/conf/client.conf file.

Example $PULSAR_HOME/conf/client.co

[2019-01-24 11:24] wolfstudy opened #3417 "some thoughts about [pulsar-client-go]"
1. The go community provides some good libraries, which can help us save a lot of development work, as follows:

- log: [logrus](https://github.com/Sirupsen/logrus)
- error: [error](https://github.com/juju/errors)
- test: [test](https://github.com/stretchr/testify)
- so on

2. We can encapsulate a `check.sh` script to help us check some of Go's naming conventions, annotation specifications, etc. I

[2019-01-24 12:32] foreversunyao commented on #2952
@HaraldGustafsson @sijie @merlimat ,
Hi, I made a pr https://github.com/apache/pulsar/pull/3398/ for this issue , tried to add a zknode for mutex(to be honest, it's only a short way like queue size is one, could not a best way).

Right now, what I think we could have 2 other ways to do **retry** thing except this one:
- 1, use zk sequential node for a queue to do retry , could be smarter to do ret

[2019-01-24 13:00] foreversunyao commented on #3390
found another two places would have same issues like **PulsarBrokerStarter.java**,
shall I update them in the same time with a new issue for all of them ?

- 1, https://github.com/apache/pulsar/blob/master/pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/server/DiscoveryServiceStarter.java#L53

- 2, https://github.com/apache/pulsar/blob/master/pulsar-proxy/src/main/java/o

[2019-01-24 16:38] #3332 closed

[2019-01-24 16:39] JevonQ opened #3419 "[Question] Some questions about namespace bundle splitting"
According to the definition of bundle and relationship between a topic and a bundle, once a topic is created the hash of its name will be constant. If there is a splitting happens on a bundle, the hash of some of the topics that belong to the bundle will fall into the new bundle. If the new bundle is assigned to another broker, then the load for those topics will be shed to another broker. But if

[2019-01-24 17:39] ambud opened #3420 "Pulsar 2.2.1 compile fails"
**Describe the bug**
Pulsar compile from source is failing with jcloud issues `org.jclouds does not exist`
`Apache Pulsar :: Tiered Storage :: JCloud .......... FAILURE`

Please note that specific project build like `mvn clean compile -pl pulsar-broker` succeeds.

**To Reproduce**
[code]

**Expected behavior**
Compile should succeed without any failures.

**Screenshots**
-

**Desktop (please compl

[2019-01-24 18:02] merlimat commented on #3420
that should work with `mvn install -DskipTests`. There are some of the dependencies between modules that fail in maven when not installing the artifacts

[2019-01-24 18:08] merlimat commented on #3419
@JevonQ That's correct. Topics are the lowest unit of assignments to brokers and a topic is served by only 1 broker at a given point in time.

Keep in mind that Pulsar supports partitioned topics too (http://pulsar.apache.org/docs/en/admin-api-partitioned-topics.html#docsNav). If a topic is partitioned, it will be basically composed of multiple partitions (which are seen by the broker as independe

[2019-01-24 18:19] merlimat commented on #3408
@chowyu08 This looks like an empty callback object being passed. Can you describe a bit more how to reproduce this error?

Also, can you get a stack trace from gdb? That would be helpful.

[2019-01-24 18:23] merlimat commented on #3417
@wolfstudy All good points. Do you plan to get started on these tasks?

[2019-01-24 18:36] shrikant-pa opened #3421 "GKE unschedulable pods error"
I tried to deploy pulsar on google kubernetes engine. Everything is running except bookkeeper and prometheus. It is giving Your cluster has 2 unschedulable pods error.

pod has unbound PersistentVolumeClaims (repeated 3 times) for both bookkeeper an prometheus.

#### Steps to reproduce
1. Setup GKE
2. Select n1-standard-8
3. Local SSD 2
4. Download Pulsar version 2.2.1 src
5. Deploy from google-ku

[2019-01-24 18:36] #3420 closed

[2019-01-24 18:43] aahmed-se commented on #3421
how many nodes is the cluster have you tried the pulsar helm ?

[2019-01-24 18:43] shrikant-pa commented on #3421
3 nodes with auto scaling enabled unto 6.

[2019-01-24 18:56] shrikant-pa commented on #3421
Below are the details through screenshots.

![gke](https://user-images.githubusercontent.com/43746656/51701579-ba94e900-1fdf-11e9-948d-40cadb8f2366.jpg)

![image](https://user-images.githubusercontent.com/43746656/51701452-7a356b00-1fdf-11e9-893c-efc13b4606ee.jpg)

[2019-01-24 19:47] nick-allen commented on #1070
Agree with @thatcort, starting with TypeScript would be great. @merlimat has that work started and is it available to review anywhere?

[2019-01-24 19:59] merlimat commented on #1070
pinging @nkurihar on this

[2019-01-24 20:46] sijie opened #3423 "Hive Pulsar Integration"
**Is your feature request related to a problem? Please describe.**

Hive is a data warehouse software that built on top of Hadoop. It would be great that Pulsar topics can be registered as external tables in Hive, so people can use Hive:

1) dump data from Pulsar to Hive
2) dump data from Hive to Pulsar
3) query Pulsar directory

**Describe the solution you'd like**

Implement a Hive Pulsar Storag

[2019-01-24 20:49] merlimat commented on #2929
@codelipenghui any new occurrences of this problem with newer client lib?

The problem is that it's difficult to see the "real" stack trace of the root cause exception since it's being stripped by Java (it stops printing the full stack trace after a while as an optimization).

[2019-01-24 21:12] merlimat commented on #3161
When we defined and reviewed the Go client API, this was one of the discussed points. The idea was to keep the API surface as small as possible.

Would it be an option to add the message id to the returned `error` ? eg: downcast to a ProducerError interface which will contain an optional message id.

[2019-01-24 21:33] jerrypeng commented on #3423
@sijie it would be great if we can host this integration in the Hive repo as it would give Pulsar more visibility, though I am open to developing it first in the Apache Pulsar repo or another repo under Apache Pulsar and then pushing it out to Hive.

[2019-01-24 21:37] sijie commented on #3423
@jerrypeng will start with a sub module of pulsar, and get the work done first and then talk to Hive team to push the work there.

[2019-01-24 22:46] rdhabalia opened #3425 "Possible message loss when peer-cluster names changed into replication-clusters"
### Issue
There could be possible data-loss when user is using peer-cluster feature and changes replication cluster from peer1-cluster to peer2-cluster.

- Sometimes, broker never receives a zk-watch for namespace policies change so, if replication cluster list has been changed then there is a possibility that broker which is owning bundle of that namespace, might not see the change and still serv

[2019-01-25 02:09] ambition119 commented on #3423
Issue #3399 also involve support Apache Hive

[2019-01-25 02:11] wolfstudy commented on #3417
yes, if it is possible, I will implement the above ideas in the next time.

[2019-01-25 03:42] codelipenghui commented on #2929
@merlimat we can't reproduce this problem, it happened only once.

[2019-01-25 04:08] merlimat commented on #2929
Ok if this happen any other time, please remember to scroll up into the logs to the first occourence of the exception, which should have the full stack trace

[2019-01-25 04:45] jiazhai opened #3430 "Created a partitioned topic and a non-partitioned topic with same name"
**Describe the bug**
Created a partitioned topic and a non-partitioned topic with same name, which should fail. but got success. reported by user @bilahepan

**To Reproduce**
This seems a race condition and not able to reproduce easily.

This is meet like this steps:
1. Start to produce data:
[code]
And this will create a non-partitioned topic automatically.

2. create a partitioned topic with sam

[2019-01-25 05:41] sijie commented on #3423
@ambition119  - ah I see. I am working with @VinceShieh on this feature. I forgot that @VinceShieh already created an issue for that. I will probably mark that issue as a duplicate of this one.

[2019-01-25 05:43] sijie commented on #3399
@VinceShieh I missed the issue you created and I created a new one #3423. I will mark this as a duplicate and use #3423 for tracking the work.

[2019-01-25 05:43] #3399 closed

[2019-01-25 05:45] sijie commented on #3367
@jiazhai is this resolved by setting `advertisedAddress`?

[2019-01-25 05:55] sijie commented on #3382
@kamal-brill ackId (aka message id) is used for consumer to acknowledge it has received and processed the message. once a message is acknowledged, the message will not be delivered again. You can read the documentation here: http://pulsar.apache.org/docs/en/concepts-messaging/#acknowledgement

[2019-01-25 05:56] sijie commented on #3390
@foreversunyao I think if you can fix them at the same pull request, that would be great!

[2019-01-25 05:59] sijie commented on #3404
@bputt we published the nightly build to maven artifacts - (apache snapshot repository)

https://repository.apache.org/content/repositories/snapshots/org/apache/pulsar/

are you looking for a client fix or a broker side fix?

[2019-01-25 06:04] bilahepan commented on #3430
**This issue occurs in my production environment.**

I am trying to force delete the non-partitioned topic.
`./bin/pulsar-admin topics delete persistent://my-tenant/my-namespace/my-topic-test -f`
but it doesn't work.

finally I restart the consumer  cluster and the producer cluster.
while not restart the brokers.

partitioned topic disappeared, and it's working.

[2019-01-25 06:07] sijie commented on #3402
@bputt we are blocked at bookkeeper 4.9 release. A new 4.9 rc will be sent out for review today, hopefully we can have 4.9 available early next week. so hopefully we started pulsar 2.3 release late next week.

[2019-01-25 06:11] wolfstudy commented on #3094
hello @alapha23 @merlimat When I first used [pulsar-client-go], I also encountered the same problem. Unfortunately, `go get` itself has no concept of version control. In go 1.11, go officially supports the function of [go mod](https://github.com/golang/go/wiki/Modules), can solve this problem very well. Can we also consider using it?

[2019-01-25 06:43] sijie commented on #3421
@shrikant-pa "unscheduled pod" typically due to lack of resources. I would suggest you double-checking if you have enough resources.

[2019-01-25 06:58] sijie commented on #2576
@dsambandam do you have any updates on this issue? is the problem resolved with authentication enabled?

[2019-01-25 06:58] sijie commented on #2009
this has been addressed by #2025

[2019-01-25 06:58] #2009 closed

[2019-01-25 09:25] murong00 opened #3431 "[IO] [Kafka] Support Kafka source and sink to pass extra configs"
**Describe**
In a kafka production environment when enable kerberos or quota, we need to pass relevant parameters (e.g. `security.protocol`, `client.id`) for Producers and Consumers.

So it's necessary to add a properties file to pass configs.

[2019-01-25 11:31] JevonQ commented on #3419
@merlimat I meant to enable partioning on the  topic, if the partitioned-topic is overloaded, how to solve it?

[2019-01-25 11:57] lovelle commented on #3419
Hi! Afaik the default strategy for partitioned topics is round-robin, therefore you shouldn't have just 1 partition with much more load than the rest of the partitions, of course more partitions on a topic would result in a more finer grained load handling if you have enough broker to handle those partitions.

[2019-01-25 11:59] wolfstudy commented on #3180
@tobgu Sorry missed this issue before.

This problem looks like a go type assertion conversion error

If you are convenient, can you give me the corresponding code?

[2019-01-25 13:21] bretlowery opened #3435 "Can't run Pulsar locally on Mac, Bookkeeper throws "ZK exception checking and wait ephemeral znode expired""
Attempting to run latest Pulsar locally on Mac (latest Mojave OS 10.14.2) results in:

[code]

Bookeeper has a current issue reported that is similar:
https://github.com/apache/bookkeeper/issues/1019

[2019-01-25 13:22] bretlowery commented on #3435
To be clear, this is when I run "bin/pulsar standalone".

[2019-01-25 13:33] bilahepan opened #3436 "Add configuration properties to limit the automatic creation of topics."
**Describe**
When Pulsar client creates a producer or consumer, it first gets partition-metadata.
If partition-metadata is not queried, and the topic does not exist, the broker will automatically create a non-partition topic.

**Describe the solution you'd like**
 Add configuration parameters which can limit the broker to automatically create a non-partition topic.

#issue-number

[2019-01-25 13:33] bilahepan commented on #3436
#3430  is related

[2019-01-25 15:02] bputt commented on #3404
broker side, more or less, when downloading the tar.gz from pulsar's website

[2019-01-25 18:14] merlimat commented on #3419
@JevonQ in Pulsar there are "topics" and "partitioned-topics".

Partitioned topics are basically just a composition of non-partitioned topics. So, if you have a namespace with, say, 2 bundles and  1 partitioned topic composed of 16 partitions, you should expect that each bundle will contain roughly the same number of partitions (depending on where the hashing falls).

Basically, the bundles can be

[2019-01-25 20:04] merlimat commented on #3319
The website build was finally fixed and the page is updated now with the right link.

[2019-01-25 20:04] #3319 closed

[2019-01-25 20:11] shrikant-pa commented on #3421
So i was able to resolve both the issues. Below are the details.

Error 1:
`Warning  ProvisioningFailed  4m (x382 over 1h)  persistentvolume-controller  Failed to provision volume with StorageClass "bookie-ssd": kubernetes does not have a node in zone "us-east1-b"`

Solution:
Modify the bookie.yaml file in google kubernetes folder. Comment the `zones: us-east1-b ` as it is hard coded and my cluste

[2019-01-26 01:37] foreversunyao commented on #3435
@bretlowery Try mvn clean install ? Not sure if pulsar made a clean shutdown

[2019-01-26 05:30] JevonQ commented on #3419
Yes, I understand this.

Yes, my question is about this. If the bundle only contains one partition and the partition is still overloaded, is there a way to solve it. Increasing partition does not work for me cause I use key hash as the routing mode while producing the messages.

[2019-01-26 10:06] sijie commented on #3435
@bretlowery Can you see if you have another standalone running? Which version of pulsar are you running?

[2019-01-26 10:39] jiazhai commented on #3369
@ambition119  are you still looking into this issue?

[2019-01-26 14:35] skyrocknroll opened #3446 "Support Time Index to support seeking based on time in reader interface."
**Is your feature request related to a problem? Please describe.**
Right now we can seek to earliest or latest. But we are not able seek based on time in the reader interface.

**Describe the solution you'd like**
In the reader interface, we can support time-based seek along with earliest and latest?

**Describe alternatives you've considered**
We are thinking of randomly picking a message id and

[2019-01-26 14:54] tuteng opened #3447 "Running commands pulsar-admin source localrun report class java.lang.NullPointerException: null"
**Describe the bug**
Running commands pulsar-admin source localrun report class java.lang.NullPointerException: null

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. The latest master branch used
2. Run pulsar-admin source localrun

**Additional context**
I found it was for this pull request https://github.com/apache/pulsar/pull/3429.
In the following function setupCommands, admin is

[2019-01-26 15:06] skyrocknroll opened #3448 "Support message get_topic in python client"
**Is your feature request related to a problem? Please describe.**
Export get_topic_name for Message.

**Additional context**
Providing a way to figure out from which topic the message has been dispatched will help in regex pattern subscription.

[2019-01-26 15:37] #3448 closed

[2019-01-26 22:15] bretlowery commented on #3435
The issue is intermittent at startup. This is a code quality issue in Bookkeeper with how it is integrated with Zookeeper and how it checks and handles state at startup. Since it's a Bookkeeper issue, I'm closing this as a non-issue for Pulsar.

[2019-01-26 22:15] #3435 closed

[2019-01-27 00:47] ConcurrencyPractitioner commented on #3436
Ok, I have a pretty good idea on how to add these configuration parameters. I would be able to submit a PR pretty soon. :)

[2019-01-27 09:23] skyrocknroll opened #3453 "Support subscribe position - initial or latest in python client"
**Is your feature request related to a problem? Please describe.**
The subscribe method in python client does  not support SubscriptionInitialPosition for the new subscriptions

**Describe the solution you'd like**
A parameter to support SubscriptionInitialPosition

[2019-01-27 15:52] JevonQ opened #3454 "[Feature Request] Dynamically refresh client after updating the number of partitions when the routing mode is not key hash"
According to the web page (admin-api-partitioned-topics, https://pulsar.apache.org/docs/en/admin-api-partitioned-topics/), when admin increases the number of partitions on an existing partitioned topic, the newly created partition will not be seen until the producers/consumers are recreated. I think the way is not friendly for the users.

I understand that the requirement is needed for key hash ro

[2019-01-27 17:18] #3390 closed

[2019-01-28 01:44] ambition119 commented on #3369
@jiazhai @sautran
org.apache.pulsar.client.kafka.compat.examples.ConsumerExample.java should use pulsar shaded jar offered   [KafkaConsumer](https://github.com/apache/pulsar/blob/master/pulsar-client-kafka-compat/pulsar-client-kafka-shaded/pom.xml#L133) class. If you use a runtime environment like IDEA,  you actually Kafka native jar offer class, occurred this error.

solution：
Modify KafkaConsume

[2019-01-28 02:50] jiazhai commented on #3446
Thanks for point out, this is a good feature to have.

[2019-01-28 02:53] jiazhai commented on #3447
Thanks @tuteng for point it out, Would you like to solve this issue?

[2019-01-28 03:10] jiazhai commented on #3454
#3230 is related

[2019-01-28 03:17] tuteng commented on #3447
Okay, I'll create a pr later.

[2019-01-28 03:34] jiazhai commented on #3369
@ambition119 👍 . Would you like to help adding some comments in the code or documentation for this issue?

[2019-01-28 04:39] tfhappy opened #3455 "Acktimeout cannot be set in Go Client"
**Describe the bug**
When I create a consumer and specify acktimeout, I can't start it.
**To Reproduce**
[code]

**Expected behavior**
create a consumer
**Screenshots**
[code]

**Desktop:**
 - OS: Ubuntu 18.04.1 LTS
 - version:  2.2.1

[2019-01-28 05:37] jiazhai commented on #2877
PR #3154 was for this, and was closed

[2019-01-28 05:37] #2877 closed

[2019-01-28 07:33] JevonQ commented on #3230
@merlimat Is there any schedule for this?

[2019-01-28 07:49] wolfstudy commented on #3455
@tfhappy hello, I run the code you provided, and have the same problem, but when I set the timeout time to 10s or more, this code works fine.

the specific reasons are as follows

[code]

expect to be useful to you.

[2019-01-28 11:20] tfhappy commented on #3455
thanks

[2019-01-28 13:11] eolivelli opened #3457 "Do not set HierarchicalLedgerManagerFactory explicitly"
**Is your feature request related to a problem? Please describe.**
I would like to deploy a Pulsar cluster on an existing "old" BookKeeper cluster which is using the legacy FlatLedgerManagerFactory

**Describe the solution you'd like**
We can drop any direct reference to HierarchicalLedgerManagerFactory as it is the default in BookKeeper

**Describe alternatives you've considered**
Make the Ledger

[2019-01-28 13:11] eolivelli commented on #3457
@merlimat  @sijie  @ivankelly

I can send a PR, it should be straigthforward

[2019-01-28 13:15] eolivelli opened #3458 "Tag Pulsar ledgers in order to distinguish from other ledgers in the same Bookkeeper cluster"
**Is your feature request related to a problem? Please describe.**
I need a way to distinguish Pulsar ledgers from ledgers created by other applications.

**Describe the solution you'd like**
An idea to solve the problem in the short term is to add some "custom metadata" on every ledger created by Pulsar.
It would be good to add metadata to link the ledger to the owner component in Pulsar (topic..

[2019-01-28 13:15] eolivelli commented on #3458
@merlimat  @sijie  @ivankelly  how does this sounds to you ?

[2019-01-28 14:33] jiazhai commented on #3455
This looks more like a question. Thanks @wolfstudy for the help. would like to close this.
If there is anything that need follow up, Please feel free to reopen it.

[2019-01-28 14:33] #3455 closed

[2019-01-28 14:37] jiazhai commented on #3458
@eolivelli Would you mind share a little about How the tag will be used?

[2019-01-28 14:55] ivankelly commented on #3458
While you're at it, you could change managed ledger to use WriteHandle. It already uses ReadHandle in the read path.

[2019-01-28 16:11] eolivelli commented on #3458
@jiazhai  @ivankelly these tags in my case are only for debug/ops.

When an operator (using an automatic tool) looks at the contents of BookKeeper he must be able to understand which application/sub-system created the ledger.
Especially the case is for orphan ledgers, the application creates the ledger then it crashes and so there is no track of that ledger, it will remain forever on metadata.

[2019-01-28 16:12] eolivelli commented on #3458
@ivankelly

I can do this change but I guess it will be a different patch, I did not look at Pulsar write path yet but if it is using the old API it will be using callbacks and not CompletableFuture.
I will be happy to contribute a patch

[2019-01-28 16:14] eolivelli commented on #3458
@jiazhai @ivankelly  Am I in time to send a patch at least for the new custom metadata and have it in the new release of Pulsar ?
I am asking just to know if I have to work on this as soon as possible or I will eventually see mu change within months.
AFAIK the new Pulsar release is just waiting for BK 4.9 and this will happen very soon (hopefully)

thanks

[2019-01-28 16:40] sijie commented on #3457
Enrico, +1 from me. Feel free to submit a pull request.

[2019-01-28 16:43] sijie commented on #3458
Enrico, yes, you are still in time for a patch for adding tags for ledger metadata. Agreed that changing to WriteHandle should be in a separate patch. It would be great if you can create a GitHub issue, so that people in the community can pick it up at their convinience.

[2019-01-28 17:25] eolivelli commented on #3458
Another question:
Should I add a flag?
Custom metadata are there aince bk 4.5, so there should not be a real compatibility issue

[2019-01-28 17:35] eolivelli commented on #3458
Great, it is time to write code now!

[2019-01-28 18:03] #3425 closed

[2019-01-28 18:23] rdhabalia commented on #3457
what is the reason for not using `HierarchicalLedgerManagerFactory`?

[2019-01-28 18:46] rdhabalia commented on #3457
Yes, I agree. So, can we keep `LongHierarchical` default option?

[2019-01-28 19:59] sijie commented on #3457
@rdhabalia

we can use LongHierarchical as default option. however that is not very useful for zookeeper based metadata manager, because zookeeper's sequence id will not go beyond 2^32 :)

[2019-01-28 21:23] ivankelly commented on #2929
Closing for now since we can't repro and there's not enough info to go on. Please open again if it happens again.

[2019-01-28 21:23] #2929 closed

[2019-01-28 21:24] shrikant-pa opened #3463 "Unable to delete a namespace using pulsar-admin CLI"
**Expected behavior**
Delete a namespace created in tenant/namespace format after running namespaces command using pulsar-admin CLI.

**Actual behavior**
I can only delete namespace created in tenant/cluster/namespace format.

Returns below error when deleting namespace created with tenant/namespace format.

[code]

**Steps to reproduce**
1. pulsar-admin tenants create sample --admin-roles admin
2

[2019-01-28 22:08] eolivelli commented on #3457
My idea for the patch that I am going to send is to drop every explicit setting of the LMF, this way we will pick the default one on new clusters and let the system work on any layout supported by the version of BK bundled with Pulsar.

The alternative is to make it configurable

[2019-01-28 23:59] merlimat commented on #3457
@sijie  I'm actually a bit confused on the difference between `LongHierarchicalLedgerManagerFactory` and `HierarchicalLedgerManager`. As I understand `HierarchicalLedgerManager` is already handling the 64bit ledger id generation by having the 2 parts:

https://github.com/apache/bookkeeper/blob/e921193b464bc86b24fa63bb71ba85ebb2d523c6/bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/Hiera

[2019-01-29 02:20] jiazhai commented on #3362
As @murong00 point out this is a dup to #3369, @sautran  will close this issue for the dup.

[2019-01-29 04:42] #3417 closed

[2019-01-29 06:20] ambition119 opened #3471 "Support Pulsar to receive and send data from Apache NiFi integration test"
**Is your feature request related to a problem? Please describe.**
Has submitted Pulsar support apache NiFi, see Issue #3378 and PR #3379, But not familiar with the development of B/S control dataflow into interface development. so create a new issue to help with integration testing.

**Describe the solution you'd like**
[integration test](https://github.com/apache/pulsar/tree/master/tests/integra

[2019-01-29 15:16] murong00 opened #3475 "Create or update tenants with clusters that do not exist should not be allowed"
**Describe the bug**
Currently, it is allowed to run `pulsar-admin tenants` with clusters that do not exist as below:
[code]
It is better to check that the cluster exists before operating tenants with it.

[2019-01-29 15:39] liketic commented on #3463
I can't reproduce this bug on master branch. @jiazhai , do you have any suggestions ?

[2019-01-29 15:43] #3388 closed

[2019-01-29 15:49] shrikant-pa commented on #3463
So this feels like GKE deployment issue. The source code YAML files have pulsar-gke as local cluster name but metadata has us-central as cluster name. While creating namespaces it was causing issue and had to set the replication cluster for each namespace and cluster names were different.

I redeployed GKE cluster and changed cluster name in metadata to pulsar-gke as this value is provided in othe

[2019-01-30 04:40] wolfstudy commented on #3180
@tobgu about StartMessageID, we offer the following three ways:

[code]

you can use it, for example:

[code]

[2019-01-30 06:19] tobgu commented on #3180
Yes, my  problem was that I tried using a `StartMessageID` that implemented the required interface but which caused the code to blow up on a type assertion.
I never managed to use anything but the predefined `pulsar.EarliestMessage`, `pulsar.LatestMessage`. What I wanted to do was to start at an arbitrary message for which I had previously stored the offset (the byte slice).

[2019-01-30 10:15] tfhappy opened #3480 "ack not return error when consumer closed"
**Describe the bug**
just like the title

**To Reproduce**
Steps to reproduce the behavior:
1. Send 10 or more msg
2. Run code
3. You can still receive a message when consumer closes（ReceiverQueueSize = -1 invalid？）
    and `consumer.Ack(msg)` not return an error
4. Run code again to validate

cunsumer code:
[code]
Result:
[code]
**Expected behavior**
`consumer.Ack(msg)` return an error but not ni

[2019-01-30 12:07] ambition119 commented on #3275
@tuteng  FlumeSink I ok.  How is your work going?
![image](https://user-images.githubusercontent.com/20353043/51980299-9b5bf700-24ca-11e9-93a7-da21317622c5.png)

[2019-01-30 12:39] tuteng commented on #3275
@ambition119 Almost the tests have passed, and there are still some areas to be modified.But I import flume agent, source, sink, channel of flume need to be realized. I'm currently implementing sink of flume (source of pulsar). https://github.com/AmateurEvents/pulsar/tree/feature/support-flume/pulsar-io/flume/src/main

[2019-01-30 13:12] ambition119 commented on #3275
ok

[2019-01-30 15:44] wolfstudy commented on #3480
@tfhappy in `c_consumer.go`, the error always return nil. as follwows:

[code]

[2019-01-30 17:30] merlimat opened #3481 "Intermittent test failure in `BasicEndToEndTest.testDupConsumersOnSharedModeNotThrowsExcOnUnsubscribe`"
Intermittent test failure in `BasicEndToEndTest.testDupConsumersOnSharedModeNotThrowsExcOnUnsubscribe`

https://builds.apache.org/job/pulsar_precommit_cpp/5598/console

[code]

@lovelle Can you take a look at this one?

[2019-01-30 19:31] merlimat opened #3482 "Intermittent test failure in PulsarWorkerAssignmentTest.testFunctionAssignmentsWithRestart"
Seen failing a few times already `PulsarWorkerAssignmentTest.testFunctionAssignmentsWithRestart`

https://builds.apache.org/job/pulsar_precommit_java8/6037/testReport/junit/org.apache.pulsar.functions.worker/PulsarWorkerAssignmentTest/testFunctionAssignmentsWithRestart/

[code]

Full logs saved at https://gist.githubusercontent.com/merlimat/24b2f399eb8346cb7294ecd360d396e7/raw/437d824fbaad7015602b

[2019-01-30 22:34] aahmed-se opened #3485 "Improve mac python-client build process"
Currently the python-client build process for mac is a difficult, it's being managed by multiple vagrant images and complex distribution with mac os version specific packages.

eg.
[code]

We need to improve this and take cues from other projects such as catboost.
They are to publish python packages for all mac platforms in a singular wheel file
ie.
[code]
We can borrow design elements from there

[2019-01-31 02:32] tfhappy commented on #3480
thanks

[2019-01-31 06:21] jiazhai commented on #3230
@foreversunyao Thanks for looking into this issue. Do you still want to do this?

[2019-01-31 07:28] tuan6956 opened #3490 "Fail to reset-cursor on replicator subscription"
**Describe the bug**
Subscription not found when run command reset-cursor on replicator subscription.
**To Reproduce**
Steps to reproduce the behavior:
1. Run command
[code]
2. See error:
[code]

**Desktop :**
 - OS: macos sierra 10.12.6

**Setup :**
 - Cluster: 3

[2019-01-31 11:14] jiazhai opened #3491 "support kerberos authentication"
**Is your feature request related to a problem? Please describe.**
Currently both Zookeeper and BookKeeper could be secured by using Kerberos, It would be good to support Kerberos in Pulsar Broker and Client.
And some user also want it.

**Describe the solution you'd like**
In Pulsar code, we already have [AuthenticationProvider](https://github.com/apache/pulsar/blob/master/pulsar-broker-common/sr

[2019-01-31 16:35] one70six opened #3493 "Security Vulnerabilities - Black Duck Scan"
## Issue
Black Duck, a product by Synopsys that scans for open source security threats, uncovered a few issues with dependencies in the following libraries from Pulsar version 2.2.0:

1. pulsar-client
2. pulsar-client-admin
3. pulsar-client-kafka
4. pulsar-websocket

I browsed the 2.2.1 libraries and did not see any changes so I just wanted to make the community aware for future releases.

## puls

[2019-01-31 17:06] merlimat commented on #3491
@jiazhai A couple of notes:

 1. The Pulsar authn provider will have to be extended as in the current form it only supports a "single-step" authentication (and not multiple interactions between client and server). BK authn plugin is already fine.
 2. It might be worthwhile to consider implementing Kerberos on top of SASL wrapper

[2019-01-31 17:43] lelabo-marc opened #3494 "Feature: Allows multiple topics consumer to be able to listen to the earliest message in topics discovered."
**Is your feature request related to a problem? Please describe.**
I am working with the python client and a MultiTopicsConsumer in order to listen to events in streams following a specific pattern. I then archive any new events based on the incoming topics.
It allows us to split the routing and the archiving process into two different micro-services.

**Describe the solution you'd like**
I'd like

[2019-01-31 17:51] merlimat commented on #3494
I think the problem is that https://pulsar.apache.org/api/client/org/apache/pulsar/client/api/ConsumerBuilder.html#subscriptionInitialPosition-org.apache.pulsar.client.api.SubscriptionInitialPosition- is not exposed in C++ client (and Python/Go)

[2019-01-31 21:43] merlimat commented on #3493
@rsamo Thanks for reporting this. Created PRs for upgrade bouncy castle and guava. I don't see any usage of Jetty 9.3.11.20160721. The version we're currently using is 9.4.12.v20180830

[2019-01-31 21:45] rsamo commented on #3493
No problem at all! I think 9.4.12.v20180830 will be fine actually to fix those vulnerabilities.

[2019-02-01 01:12] jiazhai commented on #3230
Yes, as @sijie mentioned, I am preparing a PR for this. @foreversunyao
And current approach is to poll periodically from the client.

[2019-02-01 01:18] jiazhai commented on #3491
Thanks a lot @merlimat for the notes.
Yes, the implementation will be on top of SASL, which is similar as how kerberos is supported in bookkeeper

[2019-02-01 02:32] lanlin opened #3500 "Could we follow message in realtime in the browser as pusher or pubnub does?"
I notice that pulsar all implemented clients are the server side.

So, Could I follow message in realtime in the browser as pusher or pubnub does?

[2019-02-01 04:37] foreversunyao commented on #3230
@jiazhai , I don't work on this yet, please go ahead, thanks.

[2019-02-01 09:03] narkedboy opened #3504 "Failover mode consumer has inconsistent behaviour"
When using failover subscription mode with multiple Pulsar consumers, with partitioned topics, it is possible to have multiple consumers reading from the same partition.

**Steps to reproduce the behavior:**
Set up 3 consumers, pulling from the same topic and partition with the same subscription name, all in Failover mode, all with different consumer names, A, B, C.

E.g. (I added a consumer-name

[2019-02-01 10:35] ivankelly opened #3505 "REST api documentation not scoped by version"
http://pulsar.apache.org/en/admin-rest-api/

I can't switch to master, or 2.1.2, etc. It's unclear which version of the software the documentation is documenting.

[2019-02-01 10:40] ivankelly opened #3506 "Functions missing from REST api docs"
http://pulsar.apache.org/en/admin-rest-api/

There's no mention of the functions endpoints.

[2019-02-01 19:52] merlimat commented on #3504
@narkedboy with a failover subscription, having a unique active consumer on a given partition, is guaranteed at the broker level and I am not aware of any issues in that mechanism.

What you also might be seeing is that some the failover is being triggered when you start the consumer as the assignments are re-balanced.

When the rebalance/failover occurs, the broker will switch the active consumer

[2019-02-02 15:19] digi691 opened #3510 "Tiered Storage Offloaders download link is dead in the Docs"
**Describe the bug**
When trying to download the Pulsar Tiered Storage Offloaders 2.2.1 release, the download link appears to be dead.  In the browser it's giving a Not Found Error page, wget produces a 404.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://pulsar.apache.org/docs/en/standalone.html#installing-tiered-storage-offloaders-optional
2. Try downloading the release from t

[2019-02-03 20:42] aahmed-se commented on #1933
Here is an examples

https://github.com/streamlio/pulsar-embedded-tutorial/blob/master/src/test/java/org/apache/pulsar/PulsarEmbeddedTest.java

[2019-02-04 02:31] aahmed-se commented on #1933
@ganeshs try again I have me the repo public.

[2019-02-04 04:08] ganeshs commented on #1933
@aahmed-se Thanks for quick revert. The example code is under the package `org.apache.pulsar` and hence the start() method is accessible. It cannot be used outside of the package. This will require making the method public or protected

[2019-02-04 04:40] ganeshs opened #3515 "PulsarStandalone.start() is not accessible while using it in embedded mode"
PulsarStandalone.start() has package access and hence not accessible from packages outside of org.apache.pulsar. This makes it not usable in embedded mode.

Workaround: Use reflection to invoke the start() method

[2019-02-04 04:42] ganeshs commented on #1933
PR #3516

[2019-02-04 07:31] sijie commented on #3447
This is addressed by #3456

[2019-02-04 07:31] #3447 closed

[2019-02-04 16:51] #3515 closed

[2019-02-04 16:53] #3431 closed

[2019-02-04 17:02] sfescape commented on #2682
Is there any update on this feature request? I'll need to add a "marker" message to my writes if this is not coming relatively soon. Right now I just read from the beginning until I see the actual first message... but that is not going to scale at all.

[2019-02-04 19:56] merlimat opened #3518 "Python intermittent test failure on test_publish_compact_and_consume"
[code]

[2019-02-04 20:02] merlimat opened #3519 "Intermittent failure on Python function integration test"
Seen this failure on several integration test runs:

[code]

NPEs are triggered by the Java code waiting for messages on the out topic which are not coming in

[2019-02-05 12:20] narkedboy commented on #3504
@merlimat have you tried to reproduce this issue?

It's pretty easy to do so. With two consumers, start one with consumer name B and 10 seconds later one with consumer name A. Both attached to the same partition.

Both consumers will read from the partition simultaneously. B is not suspended when A starts.

[2019-02-05 12:35] narkedboy commented on #3504
@merlimat Yes that seems to be the case, if you let both consumers run for long enough, eventually the one with the lexically higher consumer name does stop. So it must just be the buffering that is causing both consumers to run simultaneously.

[2019-02-05 12:35] #3504 closed

[2019-02-05 13:03] lelabo-marc opened #3524 "Message.properties() not working as expected in Python."
### **Describe the bug**

TL;DR:

1.

`<class '_pulsar.map_indexing_suite_MessageStringMap_entry'>.data()`
 is rising the following exception:

[code]

2.

If you want message properties as a dictionary, use the following line of code:
`properties = {property.key(): msg.properties()[property.key()] for property in msg.properties()}`

### **The problem details**

The method description in the docum

[2019-02-05 14:48] eolivelli commented on #3458
@merlimat  @ivankelly I am not sure how to work in BookkeeperSchemaStorage, any hint ?

[2019-02-05 14:51] ivankelly commented on #3458
How do you mean? I would just change the component to "schema", everything else should be similar.

[2019-02-05 14:52] eolivelli commented on #3458
@ivankelly
I am not sure how to get the 'schema name' from the objects I have around createLedger

[2019-02-05 14:59] ivankelly commented on #3458
Just pass in SchemaId from the calling methods to BookkeeperSchemaStorage#addNewSchemaEntryToStore

[2019-02-05 15:00] eolivelli commented on #3458
@ivankelly  thank you.
I am totally new to Pulsar internals !

[2019-02-05 15:06] eolivelli commented on #3458
@ivankelly  this is my workbench #3525

[2019-02-06 12:53] nkurihar commented on #1070
Hi, Yahoo Japan are now starting to develop Node.js client by wrapping C++ Client, and planning to open first minimal Pull-Request as soon as possible.

[2019-02-06 16:14] bardock commented on #2431
Hello @merlimat @sijie,

Yesterday, we faced this problem again.
Here are the stats:
[topic-stats.txt](https://github.com/apache/pulsar/files/2837146/topic-stats.txt)
[topic-stats-internal.txt](https://github.com/apache/pulsar/files/2837147/topic-stats-internal.txt)

Brokers were logging this:

[code]

[code]

[code]

A bookie was also with higher CPU than the rest (~60%). We restarted some bookie

[2019-02-07 00:43] nkurihar opened #3535 "Deduplication causes a lot of Full GCs"
**Describe the bug**

**2019/02/14 Added**

In our experiments, we found that enabling deduplication causes a lot of Full GCs in Brokers, which
 seems to cause session expiration from ZooKeepers and finally shutdown.

**2019/02/07 Original report of unexpected Broker shutdown**

We have seen unexpected Broker shutdown.

1. There were LedgerFencedExceptions for a lot of ledgers:
[code]

2. There we

[2019-02-07 02:18] sijie commented on #3510
@merlimat I think offloader distribution was not generated for release 2.2.1.

[2019-02-07 02:21] sijie commented on #3500
@lanlin can you explain more about your feature request? if possible, can you show a few examples of your feature request?

[2019-02-07 02:30] sijie commented on #3535
@nkurihar *fencing* means there are other brokers taking over the ownership of topics. those brokers which took over the ownership has opened the topics and fenced the old ledgers.

by looking into the description here, it seems to be *reasonable* to me. I think it is somehow related to zookeeper session expired. when zookeeper session expired happened, the load manager has discovered the broker d

[2019-02-07 02:56] merlimat opened #3537 "Intermittent test failure in SimpleLoadManagerImplTest setup"
[code]

[2019-02-07 03:10] merlimat commented on #3524
Thanks for reporting. Will try to get a fix for this in 2.3

[2019-02-07 04:22] nkurihar commented on #3535
@sijie Thanks for your help!

No.
After ZK session expired, Broker becoame down.
[code]

[2019-02-07 04:44] sijie commented on #3535
@nkurihar :

this is current behavior. broker shutdown itself when the zookeeper session is expired. my question was "does the broker became down affect the clients?".

there is a plan on improve the logic on handling zookeeper session expires. /cc @merlimat @ivankelly

[2019-02-07 04:54] merlimat opened #3538 "Intermittent test failure in BrokerClientIntegrationTest.testUnsupportedBatchMessageConsumer"
[code]

[2019-02-07 05:16] nkurihar commented on #3535
@sijie

No.
Clients successfully reconnected to another Brokers.

We are now investigating ZK logs and found a lot of ZK session expiration.
(if we find more details, we will add)

Sounds great!

[2019-02-07 09:06] ivankelly commented on #1016
This is done in #2612

[2019-02-07 09:07] ivankelly commented on #1016
This is done in #2612

[2019-02-07 09:07] #1016 closed

[2019-02-07 09:17] ivankelly commented on #1334
Closing for inactivity

[2019-02-07 09:17] #1334 closed

[2019-02-07 09:37] ivankelly commented on #3446
One problem here would be that timestamps on messages aren't necessarily monotonically increasing, but there is a plan to fix that.

[2019-02-07 09:39] ivankelly commented on #3454
Marking this as a dupe of #3230 , so we can track this in a single place.

[2019-02-07 09:39] #3454 closed

[2019-02-07 09:47] ivankelly commented on #3490
@tuan6956 how many clusters do you have? Did you run this at the source cluster or the destination cluster?

[2019-02-07 09:50] ivankelly commented on #3493
jetty was upgraded to 9.4 a while back to get around thread pooling issues.
Looks like jquery is the last thing that needs upgrade.
@merlimat I assume you only upgraded master, we should upgrade on other live branches too.

[2019-02-07 16:47] #3481 closed

[2019-02-07 17:11] merlimat opened #3539 "Intermittent test failure in AuthenticatedProducerConsumerTest.testAnonymousSyncProducerAndConsumer"
[code]

[2019-02-07 18:24] merlimat opened #3541 "Intermittent test failure in PulsarFunctionE2ETest"
[code]

[2019-02-07 18:27] merlimat opened #3542 "Intermittent test failure in C++ test AuthPluginTest.testTlsDetectHttpsWithHostNameValidation"
[code]

[2019-02-07 19:36] merlimat commented on #3518
Dup of #2321

[2019-02-07 19:36] #3518 closed

[2019-02-07 19:38] merlimat commented on #2321
Still happening in https://builds.apache.org/job/pulsar_precommit_cpp/5783/console

[2019-02-07 20:51] #3230 closed

[2019-02-07 22:22] #3539 closed

[2019-02-07 22:23] #2842 closed

[2019-02-08 02:16] nkurihar commented on #3535
We found that producing from a particular topic causes Broker's frequent GCs, and finally ZK session will be disconnected.

Configuration of the problematic namespace:
[code]

Stats of the topic:
[code]
Stats internal of an internal-topic
[code]
* the number of partition: 8
*  deduplicationEnabled : true
* message_ttl_in_seconds : 86400
* There is no consumer. Thus the backlog is always full and m

[2019-02-08 02:31] merlimat opened #3548 "Intermittent test failure in CreateSubscriptionTest"
[code]

[2019-02-08 18:39] merlimat opened #3552 "Intermittent test failure in ProxyLookupThrottlingTest"
[code]

[2019-02-08 19:24] merlimat commented on #2321
Tried to run 100s of times in a loop within a Docker container on mac laptop and was not able to reproduce so far..

[2019-02-08 20:52] merlimat opened #3554 "Pulsar SQL support for Protobuf"
Currently Pulsar SQL support querying topics where the schema is set on JSON or Avro format, but not on Protobuf.

Main reason is that regular Protobuf library doesn't support to deserialize binary proto data without having the Java (C++/Python) generated code for the POJOs.

We should support this by having a protobuf binary parser that deserializes into a `GenericObject`. The information for map

[2019-02-09 07:36] #3538 closed

[2019-02-09 11:05] nkurihar commented on #3535
Disabling deduplication seems to suppress GCs.
We will investigate more detail.

[2019-02-10 10:15] tuan6956 commented on #3490
i have 3 cluster

[2019-02-11 01:31] lanlin commented on #3500
I want to subscribe to a topic(channel) from the browser(consumer), the server side(backend) as the producer.

So that I can replace [Pusher](https://pusher.com/) or [Pubnub](https://www.pubnub.com/) with the pulsar.

Not server to server, but server to the browser.

[2019-02-11 03:36] sijie commented on #3500
@lanlin you can check websocket proxy in pulsar. http://pulsar.apache.org/docs/en/client-libraries-websocket.html#docsNav

[2019-02-11 07:33] codelipenghui commented on #2688
@sijie @merlimat Are you already working on system topic now? I want to add dispatch rate limitation for a topic, it seems depends on system topic.

[2019-02-11 08:53] matansh opened #3565 "Please add option to start reader / consumer cursor by timestamp or time delta"
**Is your feature request related to a problem? Please describe.**
problem: currently a reader can take a message id and start from it, but knowing what message id to start from is not always possible.

**Describe the solution you'd like**
If readers (or consumers) could be initialised using a time based interface it would be very easy to develop services that need to aggregate statistics or execu

[2019-02-11 09:45] nkurihar opened #3566 "Unexpected ZooKeeper disconnection and finally Brokers shutdown"
**Describe the bug**
A Bookie (1 of 10 in one cluster) suddenly went down:
[code]

After that, we have seen unexpected Broker shutdown with ZooKeeper disconnection:
[code]
* This was happen on all Brokers (actually 14) in one cluster at the almost same time (21:32-35).
* All ZooKeepers seemed to be running normally at that time
* Any network error was not detected

I know when ZooKeeper is truly d

[2019-02-11 11:22] lanlin commented on #3500
@sijie thanks.
But I can't use TLS to identify the browser client as the server side do.
Is there any way to dynamically generate a token with an expiration time?

[2019-02-11 11:28] sijie commented on #3500
@lanlin there is a token-based authentication mechanism introduced in 2.3.0. You can checkout the details here : http://pulsar.apache.org/docs/en/next/security-token-admin/

2.3.0 will be released in 1 week or so.

[2019-02-11 17:07] merlimat commented on #1419
This was fixed in #3006

[2019-02-11 17:07] #1419 closed

[2019-02-11 21:10] merlimat opened #3570 "Intermittent test failure PulsarWorkerAssignmentTest. testFunctionAssignments"
[code]

[2019-02-12 01:30] lanlin commented on #3500
@sijie that's what we need! thank you very much!

[2019-02-12 01:30] #3500 closed

[2019-02-12 04:29] david-streamlio opened #3576 "Add support for multiple sinks/sources in a single NAR file."
**Is your feature request related to a problem? Please describe.**
We need to be able to bundle several related Pulsar IO connectors and functions into a single NAR file for deployment. The current implementation requires a separate NAR file for each sink/source pair, which in turn requires a separate project for each sink/source pair.

**Describe the solution you'd like**
Allow the definition of

[2019-02-12 07:13] jerrypeng commented on #3576
@david-streamlio after some thinking bundling multiple sources or sinks in NARs is problematic for us to support.  Our current reasoning for using the NAR format for connectors is so that users don't have to 1) upload anything (for built-in connectors) and 2) so that the user don't have to specify a classpath.  If we were to bundle multiple sources or sinks in a single NAR, the user has to now spe

[2019-02-12 08:56] murong00 opened #3578 "The description of CLI pulsar-admin subcommands should be specified"
**Describe the bug**
Currently, it shows as bellow when specified an action of subcommand in command `pulsar-admin`:
[code]
It is better to show the description of subcommands in command `pulsar-admin` as following which will be more concise:
[code]

[2019-02-12 11:30] tuan6956 commented on #3490
clusters
```["region_1","region_2","region_3","region_4"]```
Error occur when run in cluster region_1
```bin/pulsar-admin topics reset-cursor persistent://public/default/tx -s pulsar.repl.region_4 --time 24h```
```Reason: Subscription not found```
internal stats for topic in region_1:
[code]

[2019-02-12 13:23] massakam commented on #3566
This phenomenon seems to occur occasionally when rebooting the machine on which a bookie is running suddenly. I saw the same phenomenon occurred only once in our development environment.

The brokers in the development environment had been modified to output a thread dump using [ThreadDumpUtil](https://github.com/apache/pulsar/blob/v2.1.1-incubating/buildtools/src/main/java/org/apache/pulsar/tests

[2019-02-12 15:54] david-streamlio commented on #3576
@jerrypeng This request is to accommodate packages of "related" processors that share several external dependencies, e.g. AWS-connectors all rely on aws-java-sdk jar file, so we would only have to package that once and all the classes in the org.apache.pulsar.io.aws.* packages could use the same single jar file.

Currently the NiFi project packages several "processors" in each NAR file they mainta

[2019-02-12 15:58] david-streamlio commented on #3576
@jerrypeng To address you other points:

We will have to support NARs of two different formats.

**Not if we require all NARs to have a pulsar-io.yaml or similar manifest. We can first parse that to determine the contents of the NAR and then lookup the className based on the <name, classname> pairs. This approach would support single and multiple connectors**

User's will also have to uploaded a l

[2019-02-12 20:43] #3494 closed

[2019-02-12 23:07] #3578 closed

[2019-02-13 02:29] VinceShieh opened #3586 "Several broken links in spark adaptor docs"
**Describe the bug**
Several links to SparkStreamingPulsarReceiverExample are broken in spark adaptor mds

**To Reproduce**
click on those links will get 404 error

**Expected behavior**
links to the right files

[2019-02-13 09:59] feiyuyitiao opened #3590 "Expect provide a method to get broker server runtime configuration?"
We want to get broker configuration in runtime,  Currently we only have "pulsar-admin brokers list-dynamic-config" to fetch some dynamic configuration, or check zookeeper  node "/admin/configuration", if we have a feature to get all broker.conf in pulsar-admin would be better!

[2019-02-13 13:12] massakam commented on #3566
I think the cause of this problem is that thread `pulsar-ordered-OrderedExecutor-x-x-EventThread` is deadlocking itself.

[code]

Whenever the broker is shut down by reboot of bookie machine, this thread is waiting for data to be returned from the ZK cache on the following line:
https://github.com/apache/pulsar/blob/v2.1.1-incubating/pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper

[2019-02-13 13:25] merlimat commented on #3566
@massakam you analysis is 100% correct. I think that the problem should be solved by having all callbacks coming from `MetaStoreImplZookeeper` to be triggered outside of ZK event thread.

[2019-02-13 13:33] merlimat commented on #3566
This actually happens to be the case throughput `MetaStoreImplZookeeper`, except for the `asyncCreateFullPathOptimistic()` method. Fixing that.

[2019-02-13 14:52] #3458 closed

[2019-02-14 00:33] merlimat commented on #2465
Fixed in #3391, #3511 and #3557

[2019-02-14 00:33] #2465 closed

[2019-02-14 04:03] #3524 closed

[2019-02-14 04:05] hrsakai commented on #3535
We kept producing messages for 4 hours and memory usage of broker became as follow:
[code]

If deduplication is disabled, memory usage remained at 50G all the time. On the other hand, if deduplication is enabled, memory usage gradually increased from 50G to 99G.

■memory settings
-Xms96g -Xmx96g -XX:MaxDirectMemorySize=96g

■deduplication settings
brokerDeduplicationMaxNumberOfProducers=10000
brok

[2019-02-14 04:11] merlimat commented on #3535
@hrsakai can you share a `jmap histo:live` of the process with dedup turned on?

[2019-02-14 05:36] #3566 closed

[2019-02-14 09:12] #3586 closed

[2019-02-14 09:21] ivankelly commented on #3552
@merlimat Please link the failed build (and mark as "keep forever") for this flake issues.

[2019-02-14 09:22] ivankelly commented on #3548
@merlimat Please link the failed build (and mark as "keep forever") for this flake issues.

[2019-02-14 09:22] ivankelly commented on #3542
@merlimat Please link the failed build (and mark as "keep forever") for this flake issues.

[2019-02-14 09:22] ivankelly commented on #3541
@merlimat Please link the failed build (and mark as "keep forever") for this flake issues.

[2019-02-14 09:23] ivankelly commented on #3537
@merlimat Please link the failed build (and mark as "keep forever") for this flake issues.

[2019-02-14 09:25] ivankelly commented on #3506
Swagger was failing because the function endpoint was returning some protobuf. This protobuf needs to be refactored out of the API, and then swagger should work.

[2019-02-14 09:29] ivankelly commented on #2089
4.9 upgrade has fixed this.

[2019-02-14 09:29] #2089 closed

[2019-02-14 09:32] ivankelly commented on #1215
Fixed by #2475

[2019-02-14 09:32] #1215 closed

[2019-02-14 12:21] hrsakai commented on #3535
@merlimat
Here are outouts of `jmap -histo`.
[jmap-histo.txt](https://github.com/apache/pulsar/files/2864880/jmap-histo.txt)
[jmap-histo-live.txt](https://github.com/apache/pulsar/files/2864881/jmap-histo-live.txt)

Specs of this broker is different from those of a broker in the above test.
So, memory settings of this broker is different:
[code]

Full GC log (caused by `jmap histo:live`)
[code]

[2019-02-14 12:35] ivankelly commented on #3535
@hrsakai is this on a single topic? The histogram points to there being a lot of entries in the ManagedCursorContainer. There should only be one managed cursor for deduplication for each topic. So either something is triggering the creation and destruction of the dedupe cursors in a loop, or something about having any dedupe cursor at all is causing bad behaviour from the other cursors.

Can you t

[2019-02-14 14:23] merlimat commented on #3565
@matansh This is easily doable, as you also seen that reset to a timestamp is already there. Marking this for 2.4

[2019-02-14 14:55] merlimat commented on #1326
This was fixed by placing the client API in its own separated module. Back-links from API to Impl are now forced to be explicits (eg: through reflection)

[2019-02-14 14:55] #1326 closed

[2019-02-14 14:55] merlimat commented on #1326
(the fix was in #3309)

[2019-02-14 16:48] merlimat commented on #1267
This should be easy to do, since we're already checking the topic/partition name (to know which Nth partition we're looking at).

[2019-02-14 17:53] merlimat opened #3600 "Intermittent test failure in C++ BasicEndToEndTest.testSyncFlushBatchMessages"
[code]

[2019-02-15 00:42] hrsakai commented on #3535
@ivankelly
At this time, I produced messages to a partitioned topic (16 partitions).
And There are 4 producers, 0 consumer and 1 subscription.

The broker outputed a lot of logs as follow:
[code]

`brokerDeduplicationEntriesInterval` is 1 on this broker. This may be affecting.
However,  this issue occurs even if `brokerDeduplicationEntriesInterval` is default value(1000).

[2019-02-15 03:07] wolfstudy commented on #3565
hello @matansh @merlimat I am paying attention to this issue and will implement this function as soon as possible.

[2019-02-15 11:22] ivankelly commented on #3535
what is the publication rate to this topic?

[2019-02-15 13:29] skyrocknroll commented on #3565
https://github.com/apache/pulsar/issues/3446

[2019-02-15 13:30] hrsakai commented on #3535
@ivankelly
It is about 20000〜40000msg/s.
(5000〜10000msg/producer)

[2019-02-15 14:00] ivankelly commented on #3535
The histograms you sent only show 2.4GB and 131MB of objects respectively. Did you take them when the bad behaviour was happening?

How long does it take to grow from 50G to 99G.

[2019-02-15 17:57] merlimat commented on #3482
Saved the Jenkins job here: https://builds.apache.org/job/pulsar_precommit_java8/6447/

[2019-02-15 22:29] aahmed-se opened #3611 "Improve pulsar docker image distribution"
Currently the pulsar docker image  is large and is getting difficult to distribute.

Suggested list of improvements

* use multi-stage build to reduce layers
   ex : https://github.com/aahmed-se/pulsar-docker-slim-test
* switch base image to open jre slim, add jstack as addon utility (100 kb)
* Remove connectors from base image, (possibly make another image for each container bundle or link to a r

[2019-02-15 23:26] hrsakai commented on #3535
@ivankelly

The broker I took histograms is different from the broker grow from 50G to 99G.
heap size of the broker I took histograms is only 3G.
But, it seems that same problem is happening.

it take about 4hours.

[2019-02-16 00:38] merlimat commented on #3535
@hrsakai I think #3612 should be fixing this. I was able to reproduce the behavior locally (with a smaller heap).

[2019-02-16 05:31] jiazhai opened #3614 "Provide a NAR way to load customized implemented of class in broker config"
**Is your feature request related to a problem? Please describe.**
Some user is asking Provide a NAR way to load customized implemented of class in broker config.
e.g.
loadManagerClassName
authorizationProvider
schemaRegistryStorageClassName

[2019-02-16 13:26] hrsakai commented on #3535
@merlimat
Thanks for fix. I will try to test again with that code.

[2019-02-19 06:01] #3590 closed

[2019-02-19 08:33] easyfan opened #3623 "Pulsar C++/Python consumer performance issue, if producing message in batch mode, consuming ACK in single mode"
#### Expected behavior
Pulsar C++/Python client consuming  performance should keep at a stable level;

#### Actual behavior

 Pulsar C++/Python client consuming  performance  downgrade obviously;

#### Steps to reproduce
1. Producing messages in batch mode (locally with batch count as 1000);
2. Consuming messages with ACK in single mode (as appose to the cumulative mode) with C++ or Python clients

[2019-02-19 09:16] ivankelly opened #3624 "No documentation on how to get connector logs"
**Describe the bug**

Lets say you start a connector. It isn't working for some reason. How do you get detailed logging of what is happening? Same goes for functions. There are files on the filesystem, but you have to look at the running process to see what they are. With k8s this is probably even harder.

[2019-02-19 09:22] easyfan commented on #3623
This issue is led by a mistake in pulsar-client-cpp/BatchAcknowledgementTracker.cc.

[2019-02-19 13:09] merlimat commented on #3623
This is fixed in master https://github.com/apache/pulsar/pull/3618

[2019-02-20 07:23] massakam opened #3630 "Broker can not respond to client requests"
**Describe the bug**

One of the brokers in our Pulsar cluster suddenly hung up. The broker process was alive, but it seems that it could not respond to requests from clients.

At that time, the following errors occurred on the client side:

[code]

[code]

[code]

That broker returned to normal after restarting, and the errors no longer occur on the client side. The load of that broker was not hi

[2019-02-20 07:31] massakam commented on #3630
This is a thread dump acquired just before restarting the broker:
[threaddump.txt](https://github.com/apache/pulsar/files/2883472/threaddump.txt)

It seems that this thread is locking a `PersistentSubscription` object and the other pulsar-io threads are waiting for the lock to be released.
[code]

[2019-02-20 10:16] congbobo184 opened #3631 "Schema in JSON"
**Describe the bug**
this is the first time schema
![image](https://user-images.githubusercontent.com/39078850/53084016-f6699280-353a-11e9-930b-8e0d088fb707.png)
this is the second time schema
![image](https://user-images.githubusercontent.com/39078850/53084084-16995180-353b-11e9-804e-5a0290368f90.png)
but it report an error
![image](https://user-images.githubusercontent.com/39078850/53084158-37fa

[2019-02-20 19:24] massakam commented on #3630
The same problem occurred on another broker server.
This is a thread dump acquired at that time:
[threaddump2.txt](https://github.com/apache/pulsar/files/2886151/threaddump2.txt)

Does anyone know the cause?

[2019-02-21 03:22] aahmed-se commented on #3631
are you saying to can't add a int field ?

[2019-02-21 03:31] congbobo184 commented on #3631
it can't add primitive types but it can add boxing field

because it can judge  whether or not the field’s null

[2019-02-21 03:31] #3631 closed

[2019-02-21 04:54] foreversunyao opened #3640 "failed to mvn compile when using java 11.0.1 on Mac"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
cd pulsar
mvn clean install -DskipTests

**Expected behavior**
build successfully.

**Desktop (please complete the following information):**
[code]

[2019-02-21 04:54] foreversunyao commented on #3640
it works after change java version from 11 to 1.8

[2019-02-21 08:03] sijie opened #3643 "[client] Support seek at partitioned topic"
**Is your feature request related to a problem? Please describe.**

Currently seeking is not supported on partitioned topics.

**Describe the solution you'd like**

It should be doable to support seek on partitioned topics.

Because:

1) seeking by earliest / latest can just seek on all partitions.
2) seeking by messageId is also doable. because messageId provides partition id.

**Describe alterna

[2019-02-21 08:15] merlimat commented on #3643
Agree. It doesn't make sense not to support earliest/latest...

If the seek operation only affects the cursor in one partition, it might become confusing to a user, since it's a different behavior from the above.

In general, I'm not a big fan of seek by message id on the consumer interface, since the purpose of `Consumer` should be that the reading position is "managed" by the system. If an appli

[2019-02-21 09:13] sijie commented on #3630
@massakam

I think this is quite similar to what @rdhabalia hit - #3633 and what @merlimat fixed by #3591.

#3591 is released as part of 2.3.0. it might be worth double confirming if #3591 addressed the issue here.

[2019-02-21 09:17] sijie commented on #3623
closed the issue as #3618 fixed it.

@easyfan #3618 would be released as part of 2.3.1 and 2.4.0. you can check it out when 2.3.1 is release. if it happens again, please reopen the issue or create a new one.

[2019-02-21 09:17] #3623 closed

[2019-02-21 09:19] sijie commented on #3600
it seems we can just increase the timeout.

[2019-02-21 09:22] sijie commented on #2758
I think we already have the generator to automatically generate example yaml files from the code. so should just integration the generator as part of website build.

[2019-02-21 09:24] sijie commented on #2695
closed the issue as #2698 already concluded that we don't want to implement this feature.

[2019-02-21 09:24] #2695 closed

[2019-02-21 09:25] sijie commented on #2689
@codelipenghui are you still working on this? are we waiting for system topics? If no one else is working on system topics, are you interested in contributing the feature. /cc @merlimat @ivankelly

[2019-02-21 09:28] sijie commented on #2665
@maskit are you still working on this? I don't think we are able to pass the checks. because the website is now built using React.

[2019-02-21 09:29] codelipenghui commented on #2689
@sijie Yes, need to implement system topic first. some other topic configurations also need system topic(e.g. dispatch rate limit).

[2019-02-21 09:30] #1126 closed

[2019-02-21 09:34] sijie commented on #1022
@zhaijack can you work on this? since it has been there for a while. it should be a simple fix.

[2019-02-21 10:35] massakam commented on #3630
Thank you @sijie.

I think so too. With @rdhabalia's modification, broker will be able to return to normal even if this deadlock occurs. However, I think it is ideal that this deadlock does not occur.

We have already backported #3591 to v2.2.1 and are using it. So this problem is not fixed by #3591.

[2019-02-21 10:55] maskit commented on #2665
No, I'm not.

You mean it's because pages are rendered dynamically with JavaScript and the automated check doesn't find the links even if the pages have them, right? I'd be really surprised if we would not be able to put the links on our website.

I don't think making all the test results green is the real goal. The most important thing is people can access the pages from our website (the dynamica

[2019-02-21 11:06] sijie commented on #2665
Correct. Currently those links are in a dropdown menu. The dropdown menu only shows up when people clicks it. I am not sure if there are other ways to put the links on our website.

Agreed. +1 from me.

I think all the links are correctly provided.

[2019-02-22 00:07] aahmed-se opened #3651 "Debezium connector is broken in 2.3.0"
Steps to reproduce

```docker run -it -p 6650:6650 -p 8080:8080 apachepulsar/pulsar-all:2.3.0  /pulsar/bin/pulsar standalone```

Error Log
[code]

[2019-02-22 00:26] rdhabalia commented on #3630
@massakam, we need to figure out the root cause the issue so, it won't happen again. However, everytime I see deadlock, thread-dump showed that thread gets blocked while fetching data from zk and it happened multiple times at broker so, i don't believe that zk-client is failing this many times to return callback. However, I don't see any exception at that time which can give us evident to understa

[2019-02-22 02:15] jiazhai opened #3652 "Kerberos authenticate between client and broker"
**Is your feature request related to a problem? Please describe.**
Kerberos authenticate between client and broker.

**Additional context**
This is a sub task of issue #3491

[2019-02-22 02:19] jiazhai opened #3653 "Kerberos authenticate for pulsar web resource"
**Is your feature request related to a problem? Please describe.**
After Kerberos authenticate between client and broker,
There is a need to add web resource related work.

**Additional context**
This is a sub task of issue #3491

[2019-02-22 02:25] sijie commented on #3651
@aahmed-se I don't think you are using the right connector. you need to use `pulsar-io-kafka-connect-adaptor` instead of using `pulsar-io-debezium`. The documentation is here : http://pulsar.apache.org/docs/en/io-cdc/

Additionally I think debezium module should not be packaged as a NAR. it is just a normal module for keeping debezium related code changes and a dependency for `pulsar-io-kafka-conn

[2019-02-22 02:33] jiazhai opened #3654 "Kerberos authenticate documentation"
**Is your feature request related to a problem? Please describe.**
It need to add doc for Kerberos in Pulsar.

**Additional context**
This is a sub task of issue #3491

[2019-02-22 02:41] aahmed-se commented on #3651
I am running the docker image it's throwing the error

```docker run -it -p 6650:6650 -p 8080:8080 apachepulsar/pulsar-all:2.3.0 /pulsar/bin/pulsar standalone```

haven't changed anything.
It looks like a packaging issue

[2019-02-22 02:43] sijie commented on #3651
@aahmed-se I see. the problem is pulsar-io-debezium should not be packaged as NAR. should be a simple fix.

[2019-02-22 02:46] sijie commented on #3651
sending a fix soon

[2019-02-22 02:52] merlimat commented on #3651
Also packaging and downloads are now mentioning and linking to debezium
connector.

In any case, shouldn’t that be debezium connector rather that be named
Kafka connect?
On Thu, Feb 21, 2019 at 6:46 PM Sijie Guo <notifications@github.com> wrote:

--
Matteo Merli
<mmerli@apache.org>

[2019-02-22 02:58] jiazhai opened #3655 "Kerberos authenticate for proxy"
**Is your feature request related to a problem? Please describe.**
Kerberos authenticate for proxy

**Additional context**
This is a sub task of issue #3491

[2019-02-22 03:17] sijie commented on #3651
Sent pull request #3656

It is a generic kafka-connect adaptor connector that invokes debezium. because debezium is too tied to Kafka connect.

We can add a few wrappers to wrap  `kafka-connect-adaptor` to a `debezium` connector if needed. /cc @jiazhai to see if he can help with that. However I think keeping a generic `kafka-connect-adaptor` connector will have its own value.

[2019-02-22 06:37] wolfstudy opened #3660 "unit test failure in java PulsarWorkerAssignmentTest.testFunctionAssignmentsWithRestart"
**Describe the bug**

[code]

[2019-02-22 07:14] jiazhai opened #3663 "Change junit methods usage into testng methods"
**Describe the solution you'd like**
Currently in pulsar test code, testng is used mostly, but there are still some tests using junit method like `junit.Before`, `junit.Test`, `junit.Assert`.

It would be better to unify this to use only testng methods.

[2019-02-22 08:36] #3651 closed

[2019-02-22 09:33] maskit commented on #2665
It seems like the page we have for "^https?://.*apache.org/events/current-event" is the old one.
https://pulsar.apache.org/events/current-event/

I think having "/en/events" for Event page instead of "/events/current-event" is OK, but the two URLs should point to the same page.

[2019-02-22 14:04] skyrocknroll opened #3671 "pulsar-admin topics list public/default fails"
**Describe the bug**
pulsar-admin topics list public/default
Os Ubuntu 16 04
Pulsar 2.3.0

Failed with following error in log
[code]

[2019-02-22 17:18] #3409 closed

[2019-02-23 17:39] #3600 closed

[2019-02-25 01:42] ambition119 commented on #3378
[[pulsar-io] Support Pulsar to receive and send data from Apache NiFi ](https://github.com/apache/pulsar/pull/3379) is closed, so this issue can close.

[2019-02-25 01:42] ambition119 commented on #3378
[[pulsar-io] Support Pulsar to receive and send data from Apache NiFi ](https://github.com/apache/pulsar/pull/3379) is closed, so this issue can close.

[2019-02-25 01:42] #3378 closed

[2019-02-25 01:42] ambition119 commented on #3471
[[pulsar-io] Support Pulsar to receive and send data from Apache NiFi ](https://github.com/apache/pulsar/pull/3379) is closed, so this issue can close.

[2019-02-25 01:42] #3471 closed

[2019-02-25 03:28] jiazhai commented on #3663
Thanks @liketic for working on this.

[2019-02-25 03:32] jiazhai commented on #3671
@skyrocknroll  Would you please help provide more info about how to reproduce it?

[2019-02-25 05:58] ofaz opened #3679 "Pulsar SQL queries fail with "failed: refCnt: 0""
**Describe the bug**
When querying topics via Pulsar SQL all queries return `failed: refCnt: 0`

**To Reproduce**
A topic is created and data is input via the python client version 2.3.0 with:
[code]

This data is then queried via Pulsar SQL e.g. `select * from pulsar."tenant/namespace".topic";`

This returns something along the lines of `Query 20190225_054406_00025_mvftm failed: refCnt: 0`

**Log

[2019-02-25 07:59] skyrocknroll commented on #3671
@jiazhai 3 node zookeeper , 3 nodes with broker and bookeeper servers . Once the cluster is up after clust initialize metadata execute the command will results in the error. Please Let me know if you are not able to reproduce.

[2019-02-25 08:54] skyrocknroll commented on #3671
@jiazhai Call to this url fails with timeout. `http://pulsar-node-1.bm.infra:8080/admin/v2/non-persistent/public/default` . Call to persistent is a success.

[2019-02-25 08:57] skyrocknroll commented on #3671
is this issue related to this https://github.com/apache/pulsar/pull/3348 ?

[2019-02-25 10:18] Tevic opened #3680 "go static build error"
**Describe the bug**
Pulsar version: 2.3.0
dpkg -i apache-pulsar-client*.deb

**To Reproduce**
go build -a -ldflags '-extldflags "-static"' .

**Expected behavior**
build success

**Desktop (please complete the following information):**
go version go1.11.5 linux/amd64
gcc (Ubuntu 7.3.0-27ubuntu1~18.04) 7.3.0

**Additional context**
Some error output:(error log is long,i will upload if needed.)
[co

[2019-02-25 13:14] matansh opened #3681 "Via the python client I am unable to consume messages with a multi-topic regex consumer"
**Describe the bug**
Via the python client I am unable to consume messages with a multi-topic regex consumer

**To Reproduce**
Steps to reproduce the behavior:
1. bring up pulsar standalone instance via docker
[code]
2. init python client
[code]
3. create subscriber
[code]
4. create producer
[code]
5. via 2 different python instances / threads / processes attempt to send + read
[code]
[code]
6. ER

[2019-02-25 14:33] matansh commented on #3681
update:
just found a workaround!
if i change my code to contain the full topic path it works.
[code]

I guess the doc's should at least reflect this, or even better fixing the "shorter" syntax

[2019-02-25 16:23] #3663 closed

[2019-02-25 16:36] massakam commented on #3630
Each time a broker hung, one thread named `ForkJoinPool.commonPool-worker-x` always stopped in the following state:
[code]
This thread seems to be related to the processing of ZK cache. Could this be the cause of this problem?

[2019-02-25 19:00] jerrypeng commented on #3679
@ofaz was able to reproduce the error with a python pulsar client but everything works fine with the java pulsar client.  Will investigate further.

[2019-02-25 19:03] jerrypeng commented on #3679
The source exception is actually the following which causes the split to close and the exceptions in the close method

[code]

[2019-02-25 20:49] jerrypeng commented on #3679
@ofaz I have a fix up for this issue:

https://github.com/apache/pulsar/pull/3684

in the mean time, to side step this issue, you can enable batching in your producer:

[code]

[2019-02-26 01:24] srkukarni opened #3686 "python bookkeeper client defective for python2 in mac"
**Describe the bug**
Importing bookkeeper.admin module fails on a mac running python2
**To Reproduce**
Mac running Mojave and python2.
make sure to have python-client 2.3.0.post1 installed.
try doing
import bookkeeper.admin

it fails with
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/Users/sanjeevkulkarni/Library/Python/2.7/lib/python/site-packages/bookkeeper/ad

[2019-02-26 11:33] sijie opened #3689 "provide a *unack* mechanism to unack a message if the consumer can't process"
**Is your feature request related to a problem? Please describe.**

currently there is no way to only unack a message if the consumer can't process the message.

**Describe the solution you'd like**

provide a *unack* method like `ack`. when a consumer *unack* a message, broker should deliver the message to other consumers in the shared subscription.

*unack* is probably only making sense in *shar

[2019-02-26 13:50] merlimat commented on #3689
I have this in progress

[2019-02-26 15:44] ambition119 commented on #3369
@sautran so this issue solved?

[2019-02-26 16:16] david-streamlio opened #3692 "Unable to build Docker images"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Check out the latest version from the master branch
2. run `mvn clean install -Pdocker -DskipTests`
3. Error occurs

**Expected behavior**
Expected the build to complete successfully without errors

**Screenshots**

[ERROR] Failed to execute goal com.spotify:dockerfile-maven-plugin:1.4.9:build (default) on project pulsar-st

[2019-02-26 17:06] #3692 closed

[2019-02-26 19:28] jerrypeng commented on #3686
@sijie @ivankelly @jiazhai can you please take look as this prevents running functions on MacOS using python2

[2019-02-27 00:43] sijie commented on #3686
@jerrypeng @srkukarni I am not able to reproduce what your problem at my mac using the 4.9.0 bookkeeper client. my mac is Mojave 10.14.

do you have a different grpc proto3 installed? the stack trace shows it is related to proto3. Also I am not sure what does `2.3.0.post1` mean here. It doesn't seem to be an official release.

[2019-02-27 01:47] aahmed-se commented on #3686
2.3.0.post1 is official release it's an update to 2.3.0

[2019-02-27 01:51] jerrypeng commented on #3686
@sijie @srkukarni after I updated protobuf to the latest version for python2, I didn't get the error anymore:

[code]

[2019-02-27 05:16] #3679 closed

[2019-02-27 06:35] hwind001 opened #3699 "build failed without lombok"
why use lombok plugin ?

this plugin cause source build failed , not friendly to read source.

very very not friendly ~~

trash

[2019-02-27 07:02] sijie commented on #3686
@jerrypeng maybe we can set the version of protobuf to be 3.6.1

[2019-02-27 07:04] aahmed-se commented on #3686
https://pypi.org/project/protobuf/

that's the latest version so it should fine to take a dependency on it.

[2019-02-27 09:41] massakam commented on #3630
- This problem seems likely to occur in the following situations:
  - Consumer creation and closing are repeated many times in parallel using the WebSocket API
  - The topic is partitioned
  - The subscription type is Shared
- This problem no longer occurs (or has become difficult to occur) when I revert https://github.com/apache/pulsar/pull/2785

[2019-02-27 10:33] lelabo-marc commented on #3112
We have something similar:

`text format parsing error in line 189: second TYPE line for metric name "pulsar_subscriptions_count", or TYPE reported after samples`

When doing a port forward on my pod:
`kubectl port-forward   $(kubectl get pods -l component=broker -o jsonpath='{.items[*].metadata.name}') 8080`

I can see on [http://localhost:8080/metrics/](http://localhost:8080/metrics/).

Some of

[2019-02-27 16:18] massakam commented on #3630
I wrote a simple test code of caffeine used for ZK cache:
https://gist.github.com/massakam/3e15f0bad0260b17382dbc4bc785aa25#file-caffeinetest-java

Executing this code often results in the following:
https://gist.github.com/massakam/3e15f0bad0260b17382dbc4bc785aa25#file-result-sh

In this case, `ForkJoinPool.commonPool-worker-3` slept for 10 seconds.

Then, these three processes were completed abo

[2019-02-27 16:39] massakam commented on #3630
1. A thread `pulsar-io-x-x` locks a `PersistentSubscription` object to add a consumer.
2. In order to add the consumer, it is necessary to refer to `max_consumers_per_topic` included in the policy of the namespace, and it is assumed that a thread `ForkJoinPool.commonPool-worker-x` is in charge of that.
3. However, suppose that thread `ForkJoinPool.commonPool-worker-x` tries to add another consumer

[2019-02-27 17:01] srkukarni commented on #3686
That seems to be the right approach to make sure that protobuf is atleast 3.6.1

[2019-02-27 18:19] cdbartholomew opened #3702 "Admin create subscription intermittently fails in multi-broker config"
**Describe the bug**
When I try to create a subscription using pulsar-admin it intermittently fails with 504 Gateway Timeout. If I try again later, the creation will eventually succeed. I see the following exception in the broker log when it fails:

`17:38:07.080 [pulsar-web-28-28] INFO  org.apache.pulsar.broker.admin.impl.PersistentTopicsBase - [null][persistent://public/useast1-gcp/test5] Creati

[2019-02-27 22:10] rdhabalia commented on #3671
@skyrocknroll

I don't see any specific change in #3348 which can cause this issue. it seems broker is not able to fetch topics-list from other broker that owns specific bundle and then it's timing out. I tried to start pulsar cluster with 3 brokers and I am able to get successful response for` ./pulsar-admin non-persistent list public/default`

Do you see any errors at broker log? or can you shar

[2019-02-28 00:36] rdhabalia commented on #3630
yes, this happens when cache gets expired (after 5 mins) and at the same time many, threads tries to access the same key from the cache (so, it mainly occurs while adding-consumer which requires to to access global-zk cache). In our case, one of the client was keep disconnecting and creating new consumers and broker was going into deadlock state with in 10-20 mins.

Hmm..ok, so, should we process

[2019-02-28 01:49] rdhabalia commented on #3630
@massakam
I think you are right. thread-dump shows the same deadlock condition where
1. `pulsar-io` takes lock on `PersistentSubscription's` synchronized method and waiting for zk response
2. `ForkJoinPool` gets value from zk and same thread tries to access same lock taken by `pulsar-io` thread in `PersistentSubscription`. so, `ForkJoinPool-thread` couldn't complete and can't serve further zk-cach

[2019-02-28 02:54] massakam commented on #3630
@rdhabalia I modified the test code `CaffeineTest.java` of comment https://github.com/apache/pulsar/issues/3630#issuecomment-467926959 as follows, but the same phenomenon occurred. Just using an external executor may not solve this problem.

Change:
[code]

Execution result:
[code]

[2019-02-28 03:54] ConcurrencyPractitioner commented on #2664
Hi @sijie  BTW do you know how we create a PIP on Github? For example, do we need permission granted or something first before we create one.

[2019-02-28 04:03] ConcurrencyPractitioner commented on #2664
Hi @sijie BTW do you know how we create a PIP on Github? For example, do we need permission granted or something first before we create one.

[2019-02-28 04:13] sijie commented on #2664
@ConcurrencyPractitioner :

You don't need any permissions to start a PIP, but you do need permissions to post the PIP to Pulsar Github Wiki.

So you can just write down a PIP in gist and share it to dev@ mailing list. Any pulsar committer can help you re-post your gist to Pulsar wiki.

[2019-02-28 09:23] skyrocknroll commented on #3671
@rdhabalia Now it is Working as expected. I am also not able to reproduce it. So Closing the issue.

[2019-02-28 14:34] #596 closed

[2019-02-28 14:48] sijie commented on #3699
@hwind001

- if you are using `maven` build the source, it should be working.
- if you are using an ide like intellij, intellij will handle for you.

I would suggest you checkout pulsar docs or ask questions at mailing list or slack channel if you encounter any issue.

[2019-02-28 14:48] #3699 closed

[2019-02-28 14:48] #3446 closed

[2019-02-28 15:02] lelabo-marc opened #3712 "Be able to manage ConsumerConfiguration SubscriptionInitialPosition with the Python client."
**Is your feature request related to a problem? Please describe.**
SubscriptionInitialPosition have been added in PR #3494.
However, it is still impossible to manage it when creating a Consumer with the python client.

**Describe the solution you'd like**
From what I saw, all the code exist already in the CPP client.

The only missing thing is that some methods are not exposed yet in the ConsumerC

[2019-02-28 15:17] lelabo-marc commented on #3712
I can work on the PR if needed! I will try to prepare something since I understand most of what is missing already.

[2019-02-28 19:21] grantwwu opened #3715 "Pulsar functions worker fails to initialize"
**Describe the bug**
The Pulsar functions worker fails to initialize.  This breaks Pulsar Functions functionality.

[code]

[code]
Note: this issue persisted for a time period on the scale of hours until I gave up and tore down the cluster.

**To Reproduce**
Reproduction steps unclear.  Could possibly be related to updating existing functions.

**Expected behavior**
Expect Pulsar functions to beha

[2019-02-28 19:24] rsamo opened #3716 "BookKeeper rack-aware placement policies"
We are attempting to set the rack-aware policies on our bookies, but are seeing some odd behaviors that ultimately end in the rack-awareness not working.

### Pulsar Version
2.2.0

### Our Setup
- 6 Bookies
- 3 on rack-1, 3 on rack-2
- Ensemble: 3
- Write Quorum: 2
- Read Quorum: 2

### Issue 1

1. We check the cluster's default rack policy before making any changes and it shows to be empty. That'

[2019-03-01 06:15] Tevic commented on #3680
I've figure out a workaround:
1.install the requirements for build cpp client
2.build cpp client, finally make install
3.download curl source build and install, with specific build flags:
[code]
4.build your go code use command like this:
[code]

[2019-03-01 07:47] KannarFr opened #3725 "Documentation generation issues"
**Describe the bug**
Hi, the documentation of v2.2.1 normally available right there: https://pulsar.apache.org/docs/en/2.2.1/standalone/ has content of v2.3.0. More, how to choose the javadoc from pulsar version? What is the version of: https://pulsar.apache.org/api/client/?

[2019-03-01 08:34] murong00 opened #3726 "functions cli received HTTP 404 when trying to inspect a build-in I/O connector"
**Describe the bug**

When trying to use `pulsar-admin functions` CLI (e.g. `getstatus`) for inspecting a submitted build-in I/O sink connector by following the tutorial for Pulsar IO, someone will receive HTTP 404 like follows:
[code]
However, use `pulsar-admin sink` CLI can get the correct result.

[2019-03-01 08:40] murong00 commented on #3726
This is probably due to:
https://github.com/apache/pulsar/blob/master/pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java#L922
the method `calculateSubjectType` returns the actual component Type `SINK`, but the variable `componentType` initialized by `Utils.ComponentType.FUNCTION` via constructor `FunctionsImpl` in `FunctionsBase.functions`.

[2019-03-01 09:34] Tielem opened #3727 "Support for Distributed Tracing with OpenTracing"
### Is your feature request related to a problem? Please describe.

Distributed tracing, also called distributed request tracing, is a method used to profile and monitor applications, especially those built using a microservices architecture. Distributed tracing helps pinpoint where failures occur and what causes poor performance.

*From the description of OpenTracing* - https://opentracing.io/doc

[2019-03-01 12:14] jiazhai opened #3728 "Need to catchup doc for IO Connectors."
**Describe the bug**
some of the connectors are not documented in this link:
http://pulsar.apache.org/docs/en/io-connectors.html#docsNav
such as：
- [x] canal #3664
- [ ] elastic
- [ ] file
- [ ] hdfs2/3
- [ ] mongo

we need catch up the work.

[2019-03-01 17:03] srkukarni commented on #3726
This is the right behaviour. In 2.3, functions/sources/sinks are treated seperately. Thus submitting a source via source create and doing functions getstatus, etc will not work. You will need to use source commands to interact with sources

[2019-03-01 17:03] #3726 closed

[2019-03-02 04:16] rdhabalia opened #3731 "[pulsar-broker: message-dispatching] Slow message redelivery for subscription with large backlog and random unack messages."
### Issue
**Slow message redelivery for subscription with large backlog and random unack messages.**

Many times consumers don't ack messages properly which leads large number of unack-message list for that consumer and it also leads to huge backlog because `markDeletePosition` can't be advanced due to large number of ack-holes in acked-messages list at the broker.

Because of that broker ends up

[2019-03-02 07:10] jiazhai opened #3733 "support Pattern subscribe in kafka compat client"
**Describe the bug**
Kafka wrapper not support pattern subscribe, in this [link](https://github.com/apache/pulsar/blob/master/pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/kafka/clients/consumer/PulsarKafkaConsumer.java#L292)

Since Pulsar now support Pattern type subscribe, we should add the support for this.

[2019-03-02 12:32] liketic commented on #3733
Hi @jiazhai , I'd like to work on this. I just want to know how can we get the partitions for those matched topics, which can be used to construct TopicPartition like ```subscribe(Collection<String> topics, ConsumerRebalanceListener callback)``` did. Could you please give me some hints ?

[2019-03-02 13:09] sijie opened #3734 "NullPointerException at using BytesSchema.of()"
**Describe the bug**

Exception occurred when using `BytesSchema.of()`

[code]

**To Reproduce**

You can use following code to reproduce
[code]

**Expected behavior**

No exceptions should be thrown.

**Additional context**

This happens on 2.3.0. It is related to #3309 . After separating api module from client module, we are using reflection to construct implementations. This approach caused som

[2019-03-02 13:10] sijie commented on #3734
This potentially fails applications who use schema in productions :-(

[2019-03-03 03:33] tuteng commented on #3728
Document of canal has been updated here https://github.com/apache/pulsar/pull/3664.

[2019-03-03 15:36] sijie commented on #3733
@liketic

I am not sure you need to get the partitions. Because pulsar client already handles that.

If you want to subscribe to a list of topics, you can do that in ConsumerBuilder to set a list of topics.

Hope this clarify your questions.

[2019-03-03 15:41] sijie commented on #3716
@rsamo interesting, can you tell a bit more about the bookie identifiers you are using? e.g. bookie1. Is this bookie identifier an ip address or a hostname?

[2019-03-03 15:42] sijie commented on #3689
This is being implemented in #3703

[2019-03-03 16:51] rsamo commented on #3716
@sijie we are using IP:Port as our identifiers.

Example:
127.0.0.1:3181
127.0.0.2:3181
Etc...

Is that the desired way to identify the bookies? We used the IP:Port because the broker logs reference the bookies in that manner.

[2019-03-04 00:55] jiazhai commented on #3733
@liketic Thanks for take care this issue. Thanks @sijie for the clarification.
the original change for pulsar java client is in PR #1279
you could also reference #3256.

[2019-03-04 01:05] jiazhai commented on #3728
Thanks @tuteng  for point it out

[2019-03-04 01:06] wolfstudy commented on #3680
Currently `pulsar-client-go` is encapsulated using cgo. All code logic is implemented in `pulsar-client-cpp`. The execution of `pulsar-client-go` depends on `pulsar-client-cpp`. In principle, you only need to build `pulsar-client-cpp` locally, `pulsar-client-go` can be used.

[2019-03-04 01:13] wolfstudy commented on #3680
In my local area, I only need to build cpp-client, I have not run this step, and it can also run normally.

[2019-03-04 02:21] Tevic commented on #3680
If you only use `go build xxx.go` without any arguments, go will use dynamiclly build your program which runs rely on libpulsar.so, which means you need to copy libpulsar.so to every machine you run this program. But in my way, all dependencies will in one binary.

[2019-03-04 08:05] sijie opened #3741 "POJO AvroSchema always allowNull"
**Describe the bug**

Currently AvroSchema makes all fields allowNull, which makes the generated schema doesn't respect what POJO defines.

**Expected behavior**

AvroSchema should respect to what POJO defines

**Additional context**

N/A

[2019-03-04 08:06] sijie commented on #3741
@codelipenghui 's team is working on this issue.

[2019-03-04 08:15] sijie opened #3742 "AvroSchema should be constructed using writer schema and reader schema"
**Is your feature request related to a problem? Please describe.**

Currently POJO Avro Schema is using one schema for both its writer schema and reader schema. This implementation doesn't work well with BC story.

A better approach is:

for producer: we should use the user supplied schema as writer schema, and use the schema stored at broker as reader schema to construct the AvroSchema. In this w

[2019-03-04 08:15] sijie commented on #3742
@codelipenghui 's team is working on a fix

[2019-03-04 08:41] murong00 commented on #3726
@srkukarni Thanks for point it out. As the functions/sources/sinks are treated seperately, I think we should update the [Tutorial](https://github.com/apache/pulsar/blob/master/site2/docs/io-quickstart.md) to guide the novices.

[2019-03-04 08:53] jerrypeng commented on #3741
@sijie I don't quite follow.  If a class has a field "Integer" than the field shoulda allow vs if the field is "int" then it shouldn't:

[code]

produces:

[code]

which is correct.  Am I missing something?

[2019-03-04 11:13] sijie commented on #3741
@jerrypeng

the main problem of this is : if we are serializing POJO into avro formats, it should be respecting to how AVRO generates schema for POJOs. Otherwise, if you are migrating other AVRO data from other data sources to Pulsar, or from Pulsar to other data destinations, it will raise schema incompatibility issue. Because Pulsar schema generated schema always allow null, while the schema gen

[2019-03-04 17:58] jerrypeng commented on #3741
@sijie I don't understand why you say we are not respecting the rules of AVRO, we are using the official java AVRO library to schema generation.  And if another system is using AVRO java library to generate POJOs (java objects) then they will get the same result.  Are you talking about cross language support? The only flag that could be settable is the allow null flag that gets set in Pulsar's Avr

[2019-03-04 20:32] skyrocknroll commented on #3741
@jerrypeng usually we create POJO by defining avro schema file and create it by using avro maven plugin. Once we provide the generated POJO to pulsar producer the schema registered in registry not identical to schema we have written. This is because of allowNull as pointed out by sijieg . This came as an surprise . When we tried consuming with Python with the same schema it failed because of schem

[2019-03-04 20:35] skyrocknroll commented on #3741
Exposing the flag may also work with default as allowNull to false .

[2019-03-04 20:51] pouledodue commented on #2489
any news on this? 👍

[2019-03-04 22:04] jerrypeng commented on #3741
@skyrocknroll @sijie I don't think the current API is the problem, I think we just need to separate API to specify a custom schema.  We currently only allow users to derive a schema from a Java class using the Avro library.  This generates an Avro schema that matches the semantics of java i.e. classes can be null and primitives are not.  However, if I have my own custom avro schema, I can arbitrar