[2018-07-13 00:15] #2144 closed

[2018-07-13 09:31] sijie opened #2153 "Update pulsar functions SDK documentation"
#2137 update some python function examples. we need to make sure documentation page are updated.

[2018-07-13 09:34] sijie opened #2154 "How pulsar proxy routes http requests to function workers"
If function workers are started as part of brokers, http requests will be routed correctly. However if function workers are deployed separated from brokers, it becomes tricky to route the requests. proxy might need to become smart to figure out how to route the http requests.

[2018-07-13 18:40] pckeyan opened #2156 "Documentation need to be updated for Admin command to apply deduplication at namespace"
Documentation need to be updated for Admin command to apply deduplication at namespace:

bin/pulsar-admin namespaces set-deduplication \
  persistent://public/default/topic-1 \
  --enable # or just -e

should be

bin/pulsar-admin namespaces set-deduplication \
 public/default \
  --enable # or just -e

How can we reproduce the issue

Running the below statement will result in

bin/pulsar-admin nam

[2018-07-13 18:44] pckeyan commented on #2156
Created PR - https://github.com/apache/incubator-pulsar/pull/2157

[2018-07-14 02:58] zhaijack opened #2164 "Offload: track jclouds release update for JCLOUDS-1166"
currently we use shaded version of jclouds, because of [gson conflict]( https://issues.apache.org/jira/browse/JCLOUDS-1166), It is undergoing in Jclouds.

Once jclouds have it solved, we could use un-shaded version of jclouds..

In our code, jclouds shaded for gson conflict: https://issues.apache.org/jira/browse/JCLOUDS-1166

This issue could also be used for jclouds new release, because of [JCLOU

[2018-07-14 07:23] zhaijack opened #2165 "Offload: BlobStoreTestBase should support to use real AWS if a system property was set"
In review of #2065 , Ivan commented that BlobStoreTestBase should support to use real AWS if a system property was set.

Since the test changed a little, may need config for both aws and jcs, would like to do it in separate  issue.

[2018-07-14 18:02] #2156 closed

[2018-07-15 04:39] djKooks opened #2166 "'java.lang.NoSuchMethodError' when running standalone"
Hello,
I just started to run on `bin/pulsar standalone` after maven build, but it shows some problem.
Does someone knows about this?

Thanks.

#### Expected behavior
Standalone server goes on.

#### Actual behavior
[code]

#### Steps to reproduce
[code]

#### System configuration
Newest master branch

[2018-07-15 22:44] sijie commented on #2037
@dsambandam any more information?

[2018-07-16 16:51] srkukarni commented on #2166
I built master and did not encounter any such issue. What's your os/java version?

[2018-07-16 23:35] #2142 closed

[2018-07-17 00:36] sijie commented on #2037
It seems no updates here. I will close this for now. If there are more instructions on how to reproduce it,  open an issue for that, we will investigate the issue.

[2018-07-17 00:36] #2037 closed

[2018-07-17 00:38] sijie commented on #2013
@bardock it seems difficult to debug this issue without any logs. it is a bit hard to reproduce the behavior.

[2018-07-17 00:52] djKooks commented on #2166
@srkukarni It is MacOS(with Java8). Is MacOS not supported?

[2018-07-17 01:01] srkukarni commented on #2166
Mac is supported and I tried on mac as well.
Can you see if you can wipe your ~/.m2/repository and then try again?

[2018-07-17 01:17] merlimat commented on #2166
@djKooks one other thing that might help is to do `mvn clean` and try again. I've seen sometimes a double `mvn install` will leave the target directories in a weird state.

[2018-07-17 04:52] #2119 closed

[2018-07-17 14:57] djKooks commented on #2166
@srkukarni @merlimat seems working. Thanks for help!

[2018-07-17 14:57] #2166 closed

[2018-07-17 17:44] merlimat commented on #2141
This was fixed by #2148 and #2149

[2018-07-17 17:44] #2141 closed

[2018-07-17 17:45] sijie commented on #1433
This is fixed by #2103

[2018-07-17 17:45] #1433 closed

[2018-07-18 03:02] zhaijack opened #2190 "cpp client work to get the topic information from consumed message"
The issue details is in issue #2007 and PR #2135, This is mainly track Cpp client side.

When a user receives a message, allow them to get the topic from the
message itself. This is mostly useful in the case where a single
consumer is subscribed to multiple topics.

The change also contains a minor cleanup of the constructors in
MessageImpl.

[2018-07-18 03:47] #1288 closed

[2018-07-18 11:11] ratcashdev opened #2193 "REST Api returns "405 Method not allowed""
#### Expected behavior
Running apachepulsar/pulsar:2.0.1-incubating standalone docker image.

GET http://127.0.0.1:8080/admin/persistent/default/public/test-topic1/stats
HTTP 200

#### Actual behavior

GET http://127.0.0.1:8080/admin/persistent/default/public/test-topic1/stats
HTTP 405 METHOD NOT ALLOWED

#### Steps to reproduce

[code]
, afterwards in a browser window enter
`http://127.0.0.1:8080

[2018-07-18 12:04] jiazhai commented on #2013
@bardock, Is there a way for us to reproduce it？

[2018-07-18 12:46] jiazhai commented on #1383
@cckellogg. Seems this is function as designed.

Added a Test case for this
[code]

In the line `< ===`, while using   `admin.topics().deletePartitionedTopic(topicName)`,   It will report:
[code]

If  use force delete, which means set the second paramter to true, `admin.topics().deletePartitionedTopic(topicName, true)`, It get deleted success.

[2018-07-18 12:49] jiazhai commented on #1383
It means we need force delete, even there is no messages produced.
Would like to close this issue. We could re-open it, If I was wrong.

[2018-07-18 12:49] #1383 closed

[2018-07-18 16:47] dsambandam opened #2195 "Can't start Global Zookeeper in a Multi-cluster setup"
#### Expected behavior
Global Zookeeper in a Multi-Cluster Setup doesn't start and fails when started in foreground with Invalid arguments

Tell us what should happen
Global Zookeeper should successfully start on Configured client ports:2184

#### Actual behavior
Pulsar daemon and Pulsar  scripts fails to start with Invalid arguments
Tell us what happens instead

#### Steps to reproduce
1. Setup C

[2018-07-18 17:23] merlimat commented on #2193
Thanks for reporting @ratcashdev. I'll get a quick fix for the docs and the dashboard code.

[2018-07-18 17:49] dsambandam commented on #2195
Also, global zookeeper option isn't supported in the pulsar daemon script and wanted to confirm if running configuration-store does start a zookeeper process on global ports?

root@carocnxoappa8v apache-pulsar-2.0.0-rc1-incubating]# ./bin/pulsar-daemon
Error: no enough arguments provided.
Usage: pulsar-daemon (start|stop) <command> <args...>
where command is one of:
    broker              Run a b

[2018-07-18 17:50] dsambandam commented on #2037
Apologies for the delays and I was travelling last week. We can close this ticket as I was able to initialize metadata ..

[2018-07-18 17:54] dsambandam commented on #2037
Still having issues starting global zookeeper, so created a ticket to track the same.

[2018-07-18 18:33] merlimat commented on #2193
@ratcashdev Created https://github.com/apache/incubator-pulsar/pull/2196 for the doc fixes. Check the warning around the advertised address in the PR.

Please also be aware of #2088. This is scheduled to be fixed in 2.1 release. For now, I'd recommend to just build the docker image locally.

[2018-07-18 19:33] dsambandam commented on #2195
confirmed running  ./bin/pulsar-daemon start configuration-store starts zookeeper on global ports .
Scripts needs update. Please track this is an issue.

[2018-07-18 19:56] bardock commented on #2013
Sorry for the delay guys.

We faced the same issue past week.
This time we detected the issue 5 hours later, recreated the subscriptions, but when we moved back 5h the cursor the problem appeared again (clients did not receive messages from partition 4).
We finally decided to restart the entire cluster (bookies and brokers) and recreated the subscriptions. However, we didn't moved back the cursor

[2018-07-18 20:58] sijie commented on #2013
@bardock it seems that bookie throttles the read requests. did you see any increased read traffic from bookkeeper's metrics? it might be worth increasing following settings:

"maxPendingReadRequestsPerThread"

https://github.com/apache/incubator-pulsar/blob/master/conf/bookkeeper.conf#L154

[2018-07-18 21:34] sijie commented on #2195
@dsambandam yes global-zookeeper is renamed to configuration-store since 2.0 release.

[2018-07-18 21:44] sijie commented on #1001
Now pulsar have many shading jars:

- pulsar-client-shade
- pulsar-client-admin-shade
- pulsar-broker-shade

[2018-07-18 21:44] #1001 closed

[2018-07-18 21:46] sijie commented on #983
This is already implemented in #1064

[2018-07-18 21:46] #983 closed

[2018-07-18 21:48] ivankelly commented on #981
Do you have the full bookie log? It looks like the bookies are not responding to read requests. Are all 3 bookies up?

[2018-07-18 21:48] sijie commented on #978
Topic compaction documentation is available in https://pulsar.incubator.apache.org/docs/latest/cookbooks/compaction/

[2018-07-18 21:48] #978 closed

[2018-07-18 21:49] sijie commented on #977
Close this now. Will recreate the issue if we need more comprehensive rate limiting on compaction.

[2018-07-18 21:49] #977 closed

[2018-07-18 21:50] sijie commented on #976
Close this now. Will recreate the issue if we need more comprehensive rate limiting on compaction.

[2018-07-18 21:50] #976 closed

[2018-07-18 21:58] sijie commented on #954
I think this is related to #1949

[2018-07-19 13:30] zhaijack opened #2204 "in cpp client, NamespaceName not support V2 type"
In pulsar-client-cpp,  [TopicName](
https://github.com/apache/incubator-pulsar/blob/master/pulsar-client-cpp/lib/TopicName.h) support V2 type, and contains method `isV2Topic()`, but NamespaceName not support it.

We need to add support for NamespaceName.

[2018-07-19 14:31] dsambandam commented on #2195
Thanks @sijie  maybe documentation needs to be updated as well as the help. Quick Question - my configuration store in the meta data currently points to local zookeeper and I need to modify to point them to global zookeepers now. Is there a command to do this or do I have to delete the metadata and recreate the same?
Any pointers for the right commands would be very helpful.

[2018-07-19 17:10] bardock commented on #2013
@sijie We don't have bookkeeper's metrics.

This cluster has 9 bookies, and we see that 4 of them were using more CPU than the rest (3 of them were stuck at 13%). When we restarted the cluster, every bookie's CPU went normal.
![screen shot 2018-07-19 at 12 43 10 pm](https://user-images.githubusercontent.com/1980715/42953792-910c4628-8b51-11e8-9bbe-0fc10969c757.png)
The problem with partition-4 of

[2018-07-19 22:44] sijie opened #2207 "Add example yaml files for pulsar connectors"
*Problem*

We don't have any example yaml files for pulsar connectors. We need those examples to simplify users on configuring connnectors

[2018-07-20 06:47] zhaijack commented on #2204
https://github.com/apache/incubator-pulsar/pull/2205
is for this

[2018-07-20 09:15] jnioche opened #2210 "PulsarSpout to use consumer.redeliverUnacknowledgedMessages() ?"
The PulsarSpout keeps track of the pending messages as well as the failed ones in a queue and map. If the JVM containing a PulsarSpout crashes, this information will get lost with it and the pending or failed messages won't get acked in Pulsar but they also won't have a chance to get retried either when a new instance of the spout is started.

Should we add ` consumer.redeliverUnacknowledgedMessag

[2018-07-20 09:21] jnioche opened #2211 "Expose redeliverUnacknowledgedMessages(Set<MessageIdImpl> messageIds) in the public API"
See discussion on [slack](https://apache-pulsar.slack.com/archives/C5Z4T36F7/p1518204660000561)

Ideally, I'd love to be able set a delay for when the message(s) will be consumable again. I gather this is not currently possible, but would it be feasible at all or is there something in the architecture that would prevent adding such a feature?

[2018-07-20 13:12] #2204 closed

[2018-07-20 13:12] zhaijack commented on #2204
#2205 merged

[2018-07-20 16:38] merlimat commented on #2195
@dsambandam We currently don't have a ready-made command to do that.

The procedure would look like:
 1. Make sure no updates to policies happens while switching (No new namespaces, permissions updates, etc..) -- I think there was a config switch to ensure that as well.
 2. Copy the `/admin/` subtree into "global-zk"
 3. Change brokers config to point to "global-zk"
 4. Do brokers rolling restart

[2018-07-20 16:40] dsambandam commented on #2195
Thanks @merlimat I shall try this out .

[2018-07-23 03:33] cckellogg opened #2216 "function status list json returns strings for counts and timestamp"
#### Expected behavior

The function status fields numProcessed, numSuccessfullyProcessed, and lastInvocationTime should be longs instead of strings.

#### Actual behavior

{
  "functionStatusList": [
    {
      "running": true,
      "numProcessed": "148770",
      "numSuccessfullyProcessed": "148770",
      "lastInvocationTime": "1532301574265",
      "instanceId": "0",
      "metrics": {

[2018-07-23 15:43] dsambandam commented on #2195
@merlimat - can you please help with the Step#2 above as I don't see "copy" is supported in zookeeper shell..

[2018-07-23 16:11] grantwwu opened #2217 "Add v2 to Admin API REST documentation"
Just putting this here so I don't forget to do this

see https://pulsar.incubator.apache.org/docs/latest/reference/RestApi/

[2018-07-23 21:45] srkukarni commented on #2216
We are using JsonFormat class provided in the google protobuf library to convert the an internal protobuf structure to json. According to https://developers.google.com/protocol-buffers/docs/proto3#json int64 translate to string. Is there any way you can interpret them in your client as int64?

[2018-07-24 16:32] merlimat commented on #2195
@dsambandam It should work indeed, even if it would have more z-nodes than actually needed since it's also copying the local metadata.

Another approach would be something like https://github.com/ksprojects/zkcopy . With that you can do:

[code]

I think we should provide something similar to this tool in Pulsar itself.

[2018-07-24 16:55] merlimat commented on #2210
@jnioche Yes, that makes total sense. The only reason for this to not use `redeliverUnacknowledgedMessages()` in the spout was that the method didn't exist when we added the spout :).

Probably it would even be better to use the method at #2211 so that we can precisely control the redelivery.

When subscribing the unacked messages are automatically re-delivered. The only downside of `redeliverUnac

[2018-07-24 16:58] merlimat commented on #2211
@jnioche Yes, I still agree we should expose this in public API, perhaps with a slightly different signature:

[code]

[2018-07-24 19:34] IdanFridman opened #2221 "Getting UnAckedMessageTracker messages have timed-out without a reason"
#### Expected behavior

No warning at all

Tell us what should happen

No warning at all. consumer should have gotten the ack from the broker with warning ack timeout

Tell us what happens instead

We produce message to pulsar. the consumer recieve the message and ack it. for some reason we get this error:

`WARN  o.a.p.c.i.UnAckedMessageTracker:91 - [ConsumerBase{subscription=‘subscr-wallet’, con

[2018-07-24 19:53] jnioche commented on #2211
thanks @merlimat. What about being able to set a delay? Is that possible?

[2018-07-24 19:58] IdanFridman commented on #2221
added extra logs from consumer:

[code]

[2018-07-24 20:58] merlimat commented on #2221
@IdanFridman

Got to reproduce it with this simple code:

[code]

Interestinly it only happens when the sleep is inserted. I'll dig more to see what's happening

[2018-07-25 08:21] IdanFridman commented on #2221
@merlimat Can you tell if this issue can harm us in anyway with the current pulsar version? or can we just ignore it and move on untill this fix will be submitted ?

[2018-07-25 09:00] #2221 closed

[2018-07-25 12:18] jnioche commented on #2210
We need both  _redeliverUnacknowledgedMessages()_ and #2211. The latter could be used for failed messages but we'd still need to keep track of the number of times it failed and a delay to apply. This won't help for messages which were being processed when the JVM died, which is why we need _redeliverUnacknowledgedMessages()_ at init time.

I'm confused. Do you mean that this is what it does even w

[2018-07-25 14:09] dsambandam commented on #2195
15:00:23.240 [NIOServerCxn.Factory:::/0:0:0:0:0:0:0:0:2181] INFO  org.apache.zookeeper.server.ZooKeeperServer - Refusing session request for client /Zk2:44714 as it has seen zxid 0xe00000057 our last zxid is 0x100000000 client must try another server

Any suggestions @sijie @merlimat - This happened after copying over local meta data from Local to Global-Zk

[2018-07-25 21:48] ivankelly commented on #890
Instead of fixing as it is now, this should be converted to an integration test first.

[2018-07-25 23:57] mykidong opened #2236 "how to unsubscribe pulsar mailing list."
Sorry, it is not related to pulsar issue, but to pulsar mailing list unsubscription.
Even though I have sent unsubscription emails to users-unsubscribe@pulsar.incubator.apache.org and dev-unsubscribe@pulsar.incubator.apache.org, I am still receiving mails from pulsar.
I have no idea how to unsubscribe pulsar mailing list.

- Kidong Lee.
P.S: my email address: mykidong@gmail.com

[2018-07-26 06:02] #2110 closed

[2018-07-27 09:34] dbsd11 opened #2250 "How to manage namespace policies efficiently"
#### Expected behavior

Doubts about the use and policies of namespace . It's not very intuitive. I think need an admin-ui project to manage namespaces,topics like rocketmq

[2018-07-27 11:05] ratcashdev commented on #1334
According to the blog post here: https://dzone.com/articles/benchmarking-message-queue-latency
Kafka (and also RabbitMQ) can achieve sub 1 ms latency, while using persistence. Materials presented by Streaml.io suggest Pulsar has a 40% lower latency compared to Kafka (https://www.businesswire.com/news/home/20180306005633/en/Apache-Pulsar-Outperforms-Apache-Kafka-2.5x-OpenMessaging)
How can we achie

[2018-07-27 16:54] awilliams opened #2252 "documentation: incorrect flags for bin/pulsar"
#### Expected behavior

The documentation lists `-c` and `--conf` as possible arguments of the `bin/pulsar` command.

https://pulsar.incubator.apache.org/docs/v2.0.1-incubating/reference/CliTools/#zookeeper-90gyx

#### Actual behavior

In practice, the `-c` and `--conf` args to `bin/pulsar` are not respected. It seems that the proper way to specify an alternative config file is via env variables,

[2018-07-27 18:51] sijie commented on #1334
@ratcashdev

`persistence` means different things when different people talk about it.

when most of the projects talking about disk persistence, they mean data are written to filesystem. However when data is written to filesystem doesn't really mean data is persistent. Kafka only writes to filesystem without fsyncs. the "persistence" here is a `filesystem` persistence, but it still faces data-los

[2018-07-27 20:38] sijie commented on #2250
I never try rocketmq UI before. do you have any experiences that you can share with us?

[2018-07-27 20:38] sijie commented on #2236
@mykidong when you send emails to users-unsubscribe, did you receive any emails from the mailing list confirming you are removed?

[2018-07-28 14:32] XiaoZYang opened #2262 "PIP8 hyper-link address is wrong in wiki"
#### Expected behavior

When a reader clicks the hyperlink with the name `PIP 8 Pulsar beyond 1M topics` in [pulsar wiki homepage](https://github.com/apache/incubator-pulsar/wiki) section **Accepted** the reader will go to an address which doesn't exist so the reader will be redirected to [pulsar wiki homepage](https://github.com/apache/incubator-pulsar/wiki)

#### Actual behavior

Change the hype

[2018-07-28 14:39] XiaoZYang commented on #2262
ping @sijie

[2018-07-29 11:40] mykidong commented on #2236
No, I have not received any emails of remove confirmation.

2018-07-28 5:38 GMT+09:00 Sijie Guo <notifications@github.com>:

[2018-07-30 07:27] dbsd11 opened #2264 "Cannot guarante message sequence with sequnceId in exclusive/failover mode"
#### Expected behavior

Expect consume message orderly in exclusive/failover mode with sequnceId. In fact, the sequence of messages is disorderly(partial orderly). Is it a problem of broker configuration?

[2018-07-30 07:36] sijie commented on #2264
Can you describe more what did you observe? If possible, provide us some example code to reproduce.

Also it would be good to know what do you mean here - sequence id and message id are different: sequence id is per producer, not globally to a topic. Message id is pet topic, which is increasing.

[2018-07-30 07:36] merlimat commented on #2264
@dbsd11 can you provide an example of the sequences you're seeing?

Also, keep in mind, the sequence ids are tied to one particular producer

[2018-07-30 07:50] dbsd11 commented on #2264
I got it. Thank you!

[2018-07-30 07:59] #2264 closed

[2018-07-31 15:23] sijie opened #2271 "Rework Pulsar NOTICE file"
Feedback from IPMC :

[code]

[2018-07-31 17:23] sijie opened #2272 "Fix git-commit-id-plugin"
*Problem*

We are using git-commit-id plugin for generating a properties file containing all the build information. However you have to skip git-commit-id-plugin when the source code is not in a git repo.

So we need:

- update README to document the right build command
- find a better solution for git-commit-id plugin

[2018-07-31 23:51] sneerin commented on #1070
yeap, that would be really great

[2018-08-01 10:24] codelipenghui opened #2278 "Feature of message re-delivery and dead letters"
When consume message fail. usually the best practice is try if after. but in different scenes, user want to re-delivery minutes after. so expect pulsar support message re-delivery delayed.

But sometimes, user can't sure that message can be consume. like a little part of system bugs. so if don't control retry times of re-delivery message, consumer will consume the problem message nonstop. so it's

[2018-08-01 14:14] codelipenghui opened #2280 "Feature of message tracing"
Hope pulsar can support feature of message tracing. It very important for any system sensitive to messages.

Support enable or disable message tracing per topic and consumer group.

Client can set the trace info. If client not init set by user client must generate.

Tracing log can be consume for user. can be connect to Elasticsearch by connector. can be query by TraceId.

Point to record tracing

[2018-08-01 16:14] #855 closed

[2018-08-01 17:33] sijie opened #2282 "Document the settings to enable authorization"
https://pulsar.incubator.apache.org/docs/latest/security/authorization/ is lacking instructions on how to enable authorization. for example `authorizationEnabled` is not documented.

[2018-08-01 17:37] sijie opened #2283 "Improve error message if authorization is not enabled"
*Problem*

If `authorizationEnabled` is not enabled, authorization service is not set. All the accesses to this authorization service will throw NPE and clients will receive `Internal Server Error`. The message is meaningless. It is better to return a more meaningful message.

[2018-08-01 21:33] ivankelly commented on #2283
problem is visible when using grant/revoke permissions

[2018-08-01 21:40] sijie commented on #2262
@XiaoZYang thank you for reporting. this should be fixed now.

[2018-08-01 21:40] #2262 closed

[2018-08-02 00:59] pouledodue opened #2287 "Provide a Rancher package for Pulsar"
I'm considering switching from DC/OS to Rancher so it would be great to have a Pulsar package in the
[Rancher Catalog](https://rancher.com/docs/rancher/v2.x/en/catalog/). Rancher uses Kubernetes.

With 6000+ people on their Slack and 9000+ stars on Github, project is mature and works great, could give visibility to Pulsar just like the [DC/OS Package](https://github.com/apache/incubator-pulsar/iss

[2018-08-02 07:29] massakam opened #2289 "Broker suddenly goes down"
Recently, broker goes down occasionally in our some clusters.
The following is an excerpt from log of the broker that went down.

[code]

The broker service was shutdown since it could not reconnect to ZK for a long time.
However, all ZK servers seemed to be working normally at that time.

Does someone know this cause?

#### System configuration

- **Cluster-A**
  - **Pulsar version**: 1.22.1-incu

[2018-08-02 10:27] codelipenghui opened #2293 "Add metrics to prometheus"
Hope add some metrics to prometheus metrics.

Add subscription msgBacklog
Add subscription blockedSubscriptionOnUnackedMsgs
Add consumer blockedSubscriptionOnUnackedMsgs
Add subscription msgRateRedeliver
Add consumer msgRateRedeliver
Add subscription unackedMessages
Add consumer unackedMessages

[2018-08-02 18:18] sijie commented on #2289
@massakam can you share more logs about this issue? trying to see if we can find anything interesting in the log about why the broker can't connect to zookeeper.

[2018-08-02 19:08] sijie commented on #2293
#2294 is the pull request for this issue.

[2018-08-02 23:28] zubchenok opened #2298 "Wait for consumer “creation” to be completed before start delivering"
In Java client if you create a consumer in async way and set MessageListener,
in rare cases MessageListener will be called before you get a callback about created consumer.

It isn't intuitively expected.

I suggest to wait until the consumer's callback is called before starting deliver messages via listener callback.

**Pulsar version**: 1.22.1

[2018-08-03 14:42] #2293 closed

[2018-08-03 15:53] massakam commented on #2289
@sijie The logs of broker right before going down are here:
[pulsar-broker.log](https://github.com/apache/incubator-pulsar/files/2257929/pulsar-broker.log)
Topic names, host names etc. are masked.

[2018-08-03 17:59] rdhabalia commented on #2289
@massakam what's the zk timeout?
do you have zk gc logs/stats? it seems you have zk-timeout 30 seconds. can you increase zk-timeout to 60 seconds and also try to get zk gc stats?

[2018-08-03 18:39] sijie opened #2304 "URL Encoding problem on Pulsar Admin CLI"
*Problem*

[code]

[2018-08-03 23:03] fglaeser opened #2307 "Provide a netcore client"
It will be good to have a pulsar netcore client.

Thanks.

[2018-08-04 07:32] jiazhai opened #2312 "python client support for multi-topics-consumer"
Since we have already provide cpp client support for multi-topics-consumer and regex-topics support, we should add the support in python

[2018-08-04 10:43] jiazhai commented on #2164
asked on twitter, jclouds will have a release 2.1.1 in next week.

[2018-08-05 08:08] jiazhai opened #2313 "Connector: JDBC Connector (Sink)"
create a JDBC sink connector.

[2018-08-05 23:49] #1452 closed

[2018-08-06 09:15] massakam commented on #2289
@rdhabalia

zooKeeperSessionTimeoutMillis is set to 30000.

We don't have them... I will share if I get them.

[2018-08-06 11:44] ivankelly opened #2314 "TLS auth not supported for https lookup in C++ client"
Try the following test:
[code]

Should work. Does not. Code isn't there to support it.

[2018-08-06 17:45] merlimat commented on #2314
Is it just trying to use HTTP?

[2018-08-06 19:01] ivankelly commented on #2314
not sure. but i checked the connection code, and it doesn't pull any tls auth stuff

[2018-08-06 22:58] merlimat opened #2321 "Flaky python unit test test_publish_compact_and_consume"
#### Expected behavior

Seen failure at : https://builds.apache.org/job/pulsar_precommit_cpp/2951/console

[code]

[code]

[2018-08-07 00:07] merlimat commented on #2298
@zubchenok While I have seen that this issue might happen with multi-topic subscribe (which is in 2.x anyway), I don't see it happening when subscribing to either single or partitioned topics.

At https://github.com/apache/incubator-pulsar/blob/c9a369936af3b3ecc663b86ae959a3fbfa627aca/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java#L586-589 is where first the future is

[2018-08-07 07:24] codelipenghui opened #2323 "Dataset by pulsar functions"
When use pulsar functions, The ending strategy of consume messages is useful in dataset scenes.

Such as:

1. Ending by message produce time.
2. Ending by message id.
3. Ending by user(user support the ending strategy).

Is this feature suitable for pulsar function?
The reason for this feature is i think pulsar function can support offline not only stream.

[2018-08-07 07:33] codelipenghui opened #2324 "Use pulsar-daemon start zookeeper will use port of 8080"
Happens in version 2.1.0-incubating

[code]
I see that port of 8080 be used.

[2018-08-07 10:06] codelipenghui opened #2328 "Pulsar broker start failure when set functionsWorkerEnabled=true"
When i set functionsWorkerEnabled=true

[code]

I got exception like this:

[code]

My broker conf:

[code]

[2018-08-07 10:40] codelipenghui commented on #2328
Found the reason for this issue.

In zookeeper data of path named " /admin/policies/public/functions" has "replication_clusters":["standalone"]

When i set it to my cluster name. I can start the broker success.

[2018-08-07 11:44] codelipenghui commented on #2328
To change config pulsarFunctionsCluster in functions_worker.yml

[2018-08-07 11:47] codelipenghui opened #2329 "Need docs to config a function worker correctly"

[2018-08-07 12:04] codelipenghui opened #2330 "Functions localrun quit by can't get the reason"
First i write a demo package by gradle

[code]

[code]

I got info :

[code]

And then i use https://github.com/streamlio/pulsar-functions-java-starter.git

I got the same.

[2018-08-07 15:06] #2272 closed

[2018-08-07 15:18] sijie commented on #2328
@codelipenghui that's correct. the `functions_worker.yml` was shipped for standalone deployment. It has to be updated for cluster deployment. Let me improve the documentation on how to enable function worker in cluster mode in #2327

[2018-08-07 18:51] sijie commented on #2324
@codelipenghui :

in zookeeper 3.5, zookeeper will start an admin server at 8080. that's why the port of 8080 is used.
what you can do is adding following settings to the zookeeper configuration file. you can either disable zookeeper admin server, or changing the admin server port to a different port (e.g. 9990).

[code]

I have a pull request #2331 on adding them to configuration files.

[2018-08-07 18:52] sijie commented on #2328
Closed the issue. Since the problem was addressed by updating `functions_worker.yml`, #2327 will be used for tracking the documentation updates.

[2018-08-07 18:52] #2328 closed

[2018-08-07 23:50] srkukarni commented on #2323
This feature indeed make sense. Is it possible for you to to volunteer to add this functionality?

[2018-08-08 00:11] srkukarni commented on #2330
Hi,
Just tried it from pulsar master(your logs indicated that you were on 2.2.0-incubating) and was able to start the function. Which exact pulsar branch/head that you saw this error?

[2018-08-08 00:11] codelipenghui commented on #2323
yes, i try to implement.

[2018-08-08 00:14] codelipenghui commented on #2330
master branch on monday.
ok i will retry in master branch today.

[2018-08-08 01:38] sijie commented on #2330
I think the problem is state storage is not enabled in cluster mode by default. I am updating the documentation in #2335 . I will verify local run and update here.

[2018-08-08 03:39] #2153 closed

[2018-08-08 06:16] codelipenghui commented on #2330
Topic of plat.correctness.verification is a partitioned topic with six partitions.
When i set input to plat.correctness.verification local run will quit.
When i set input to plat.correctness.verification-partition-0 local run can process success.

[code]

[code]

[2018-08-08 06:54] sijie commented on #2330
I had a discussion with @codelipenghui .

the original question was around stateful function. stateful function was shipped as a preview feature in 2.1. however it is not fully integrated in cluster mode. so I will be working on that piece in #2335 .

However there is a bigger problem around `partitioned-topic`. It seems there is some regression in partitioned topic in 2.1, which pulsar functions

[2018-08-08 08:34] sijie opened #2340 "Cherry-pick GCS offloader documentation to new website"
Cherry-pick documentation changes at #2152

[2018-08-08 18:02] sijie opened #2343 "Enable state in cluster mode"
A couple of things missing on enabling state in cluster mode when I am working on #2335.

This is the master ticket for tracking the work items for enabling state in cluster mode.

- [ ]: initialize cluster should also initialize the metadata needed for enabling table service in bookkeeper.
- [ ]: include tools from bookkeeper for managing state.

[2018-08-08 18:06] #2252 closed

[2018-08-08 21:41] sijie commented on #2324
Close this one since it was answered.

[2018-08-08 21:41] #2324 closed

[2018-08-08 22:38] sijie commented on #2283
also need to remove authorizationEnabled since there is already a authProvider setting

[2018-08-10 11:52] ivankelly commented on #2282
@sijie look again. I added a bit when I was doing the TLS stuff, which added authorizationEnabled at least.

[2018-08-11 02:40] #2329 closed

[2018-08-11 02:40] #1067 closed

[2018-08-11 10:54] massakam commented on #2289
Updates:

- This phenomenon occured only once in v2.0.1, but occured many times in v1.22.1. So each cause may be different.
- v1.22.1 broker goes down when splitting and unloading a bundle. v2.0.1 and v1.21.0 do not go down.
- The following is a thread dump right before v1.22.1 broker goes down.
[threaddump.txt](https://github.com/apache/incubator-pulsar/files/2280143/threaddump.txt)
- This phenom

[2018-08-12 20:36] #2304 closed

[2018-08-13 18:16] sijie commented on #2195
@dsambandam it seems that there is inconsistent metadata after you copied the metadata. as the log say it has been a smaller zxid. when you copied the metadata, do you first cleanup the global zk directories?

[2018-08-13 18:18] sijie commented on #2289
@massakam great finding! so it seems the problems have been addressed in 2.x releases?

[2018-08-14 13:28] massakam commented on #2289
@sijie I think so. This phenomenon seems to be specific to v1.22.1.

[2018-08-14 18:02] #968 closed

[2018-08-15 06:58] kesavkolla opened #2375 "Support for delayed message delivery"
Scheduled and delayed message delivery is a good feature to support in pulsar.  Basically individual message can have a header which will be set by publisher and based on the header value the broker should hold message in queue.  Upon the interval is over message should be delivered to subscribers

[2018-08-15 14:27] Audace commented on #2037
@dsambandam how did you resolve this issue?

[2018-08-15 17:38] sijie opened #2379 "Initializing cluster metadata should handle /managed-ledger path better"
`/managed-ledger` can be created automatically by brokers without initializing metadata. so in helm deployment, all pods are usually started at the same time. hence the race condition can happen between broker starts and initializing cluster metadata.

- broker starts triggering creating `/managed-ledger`
- cluster-metadata-initializer attempts to initialize cluster metadata and fail since `/manag

[2018-08-15 21:37] sijie commented on #755
@merlimat should this be closed?

[2018-08-15 21:39] sijie commented on #752
@massakam it sounds like zookeeper session was gone, but the broker didn't get session expired, so the broker process remained up. did you see similar behaviors recently?

[2018-08-15 21:41] sijie commented on #715
@jai1 @merlimat : is this still a bug?

[2018-08-15 21:43] sijie commented on #690
The website has been redesigned. so the bug won't be valid anymore.

[2018-08-15 21:43] #690 closed

[2018-08-15 21:47] sijie commented on #682
We have change the distribution packaging modules. so this is probably not valid anymore. closing it now. If it happens again, we can open a new issue for it.

[2018-08-15 21:47] #682 closed

[2018-08-15 21:48] sijie commented on #637
This has been fixed by #1614

[2018-08-15 21:48] #637 closed

[2018-08-15 21:56] sijie commented on #596
@rdhabalia can you clarify more on this issue? doesn't broker already support both types of topics now?

[2018-08-15 22:35] #715 closed

[2018-08-15 22:57] sijie commented on #189
[PIP-22](https://github.com/apache/incubator-pulsar/wiki/PIP-22%3A-Pulsar-Dead-Letter-Topic) is the proposal for implementing dead letter queue.

[2018-08-15 22:58] sijie commented on #189
@codelipenghui @jiazhai : you guys can probably use this issue as the main issue for dead letter topic implementation.

[2018-08-16 11:46] ivankelly commented on #2379
@sijie @merlimat Seems to me like having the brokers initializing it is the problem. There's a bunch of metadata which is initialized once. Why is managed-ledgers an exception?

[2018-08-16 12:24] trathschlag opened #2384 "[java-client] ConnectionHandler: Log stack trace instead of printing"
https://github.com/apache/incubator-pulsar/blob/2bc48129bfb4433182f1b05a9008faef76e387ac/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionHandler.java#L74

The pulsar java client is currently very noisy in case of connection loss and it cannot be muted, as the stack trace is printed with `.printStackTrace()`. Moving this to the logging system will allow developers to configure t

[2018-08-16 15:00] jiazhai opened #2386 "[documentation]: release notes link of old versions broken"
http://pulsar.incubator.apache.org/en/versions/
release notes link of old versions broken

![image](https://user-images.githubusercontent.com/6348208/44216699-1a24d800-a1a8-11e8-9acb-3a1329ea1a31.png)

seems file https://github.com/apache/incubator-pulsar/blob/master/site2/website/pages/en/versions.js not translated well.

[2018-08-16 15:15] merlimat commented on #2384
@thrathschlag thanks for reporting. This printout was indeed committed by mistake when fixing a previous issue.

[2018-08-16 17:51] sijie commented on #2386
@jiazhai nice catch! I think the problem comes from double-slashes - `//`. web browsers will think the link it is a URL instead of a path.

[2018-08-17 02:14] sijie opened #2394 "NonPersistentTopicTest#testMsgDropStat"
*Problem*

[code]

The problem seems to related to #2351 (as commented https://github.com/apache/incubator-pulsar/pull/2390#issuecomment-413685952)

#2390 removed the assertion to make master stable first.

This issue for tracking the real fix for the problem.

[2018-08-17 02:14] sijie commented on #2394
@rdhabalia ^^

[2018-08-17 15:45] #2386 closed

[2018-08-17 15:48] #2283 closed

[2018-08-20 09:23] massakam opened #2401 "Consumer often discards received messages"
When TLS is enabled, consumer often discards received messages. The following is the consumer log when a message is discarded.

[code]

At this time, an IndexOutOfBoundsException has been thrown at [this line](https://github.com/apache/incubator-pulsar/blob/v2.1.0-incubating/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java#L713).

[code]

If receiving the discarded messa

[2018-08-20 09:43] massakam commented on #2401
It seems that this error does not occur if I revert the following change and deploy it to the broker side.

https://github.com/apache/incubator-pulsar/pull/1203

However, I don't understand the reason...

[2018-08-20 12:17] ivankelly opened #2402 "Document TLS version and ciphersuite configuration for server and proxy"
#1225 added support for specifying the TLS version and ciphersuite to use when configuring the proxy and broker. However, this is not documented in the respective configuration files, nor in the user documents. We should add such docs (and verify that they take effect).

[2018-08-20 12:26] ivankelly opened #2403 "Document hostname verification in TLS transport docs"
#1208 Added the feature.

Verify that it works, and add documentation to http://pulsar.apache.org/docs/en/security-tls-transport/

It is already mentioned in passing, but we should be more explicit.

[2018-08-20 12:31] ivankelly opened #2404 "Document proxy auth data forwarding"
Added in #1169

Which auth providers does it work for? How does it interact with proxy roles?

Ensure that it is supported in both the binary and http protocols.

Would probably be best if this was picked up by someone who with with Athenz.

[2018-08-20 12:43] ivankelly opened #2405 "Document configuring the proxy without service discovery"
Feature was added in #1002

Configuring without service discovery is basically configuring with a broker URL rather than zookeeper. Should mention VIPs and why you would want to do this.

Verify that it works (binary and http protocol, TLS and non-TLS) and add documentation on how to enable in
http://pulsar.apache.org/docs/en/administration-proxy/

[2018-08-20 12:47] ivankelly commented on #1229
Broke this down into more digestible issues:

#1225 -> #2402
#1208 -> #2403
#1169 -> #2404
#1168 -> Already there in http://pulsar.apache.org/docs/en/security-authorization/#proxy-roles
#1002 -> #2405

[2018-08-20 12:47] #1229 closed

[2018-08-20 13:02] ivankelly commented on #1126
@merlimat Can this be closed?

[2018-08-20 17:57] sijie opened #2407 "Make sure pulsar configuration files in-sync with the configuration definitions"
### Problem

It seems that following settings are missing at `proxy.conf`.

[code]

We need to make sure pulsar configuration files are in-sync with the configuration definitions in the code.

[2018-08-21 04:08] massakam commented on #2401
@merlimat Do you have any thoughts about what the cause might be?

[2018-08-21 06:15] codelipenghui commented on #2375
Is any idea to implement this feature?  I'm interest to join the discussion of design and contribute for this feature.

[2018-08-21 11:31] massakam commented on #2401
This phenomenon seems to happen when the consumer is receiving a lot of messages. For example, it is prone to happen when the consumer connects to a topic with a large number of messages in the backlog.

[2018-08-21 19:26] sijie commented on #2282
yeah the documentation is great!

[2018-08-21 19:26] #2282 closed

[2018-08-22 21:46] sijie commented on #411
I think the question here is answered. Close this issue. We can open a new issue if we need to introduce the off-heap entry index map.

[2018-08-22 21:46] #411 closed

[2018-08-22 21:53] sijie commented on #324
it seems that the question is answered. so close it now. please reopen it if there are more information provided.

[2018-08-22 21:53] #324 closed

[2018-08-22 21:57] sijie commented on #268
the rocksdb version has been upgraded to latest rocksdb stable release. so close the issue for now. if it occurs, please open a new issue.

[2018-08-22 21:57] #268 closed

[2018-08-22 21:58] sijie commented on #246
the minimal requirement for java is java8.  and there is a websocket proxy, so you can use websocket api.

[2018-08-22 21:58] #246 closed

[2018-08-23 06:26] sijie opened #2429 "delete inactive topics should not delete topics that have retention set"
*Problem*

If a  topic has retention set, brokerDeleteInactiveTopicsEnabled should not delete those topics.

[2018-08-23 09:29] sijie opened #2430 "Namespaces admin commands should be able to distinguish v1 and v2 namespace format"
#### Expected behavior

- setup a 2.0.0 cluster
- enable backlog : set-backlog-quotas test-tenant/test-cluster/ns1 --limit 500G --policy producer_exception
- run perf: pulsar-perf produce persistent://test-tenant/test-cluster/ns1/test-topic
- pulsar perf should be able to produce 500G data

#### Actual behavior

- pulsar perf encounters backlog exception when producing around ~10GB data

#### Step

[2018-08-23 09:32] sijie commented on #2430
the problem is namespace admin commands don't distinguish v1 and v2 format. so set-backlog-quotas is setting the quota in a wrong namespace.  since the v2 topic name is limited to (tenant)/(namespace)/(topic), we should be able to distinguish v1 and v2 namespace name in admin commands. if it has only 2 components `(tenant)/(topic)`, it is a v2 namespace. we can simply disallow v1 namespace name in

[2018-08-23 10:27] ivankelly commented on #2401
Looks like a bytebuf issue. When reading a bytebuf, we often do things like reading the size from the packet and setting the writeIndex to the current writeIndex + size, so that it can be passed into the protobuf parser. This is why the write index seems so messed up. Do you have a reliable repro, or do you just see it happening regularly in production?

Is TLS auth enabled, or just TLS transport?

[2018-08-23 10:29] ivankelly commented on #2401
What rate are messages arriving at the topic in question?
Is the client processing messages for just this topic, or other topics also?

I'm trying to get a feel for how we could repro this locally.

[2018-08-23 11:28] massakam commented on #2401
@ivankelly

In our environment, it can be reproduced by using the [OpenMessaging benchmark tool](https://github.com/openmessaging/openmessaging-benchmark) and applying the following load:
[code]
It seems that it tends to occur when there are many subscriptions. It also occurred several times in production.

We are not using TLS auth.

[2018-08-23 16:48] bardock commented on #2013
@sijie any thoughts?
We are now using version 4.7.1 and we are tracking almost every bookkeeper metric.
What metrics do you think will be useful to debug this issue?

[2018-08-23 17:07] ivankelly commented on #2401
I have a local repro, will look into it more in the morning.

[2018-08-23 17:13] bardock opened #2431 "Unable to consume messages, need to re-subscribe client"
This is similar to issue [2013](https://github.com/apache/incubator-pulsar/issues/2013). We have several shared subscriptions of partitioned topics and we found some cases where a subscription's client is not receiving messages, but it's not related to a specific topic partition.
In this case, if we re-subscribe the client (`PulsarClient.subscribeAsync`), messages start to be delivered as expected

[2018-08-23 17:15] merlimat commented on #2431
@bardock Can you shared topics stats : `pulsar-admin persistent stats $TOPIC` and internal stats  `pulsar-admin persistent stats-internal $TOPIC`

[2018-08-23 17:50] bardock commented on #2431
Here they are: [stats.zip](https://github.com/apache/incubator-pulsar/files/2315609/stats.zip)
Thanks!

[2018-08-24 02:48] massakam commented on #2401
Sorry, OpenMessaging benchmark tool has not yet supported TLS...
We are using the tool modified to enable TLS.

[2018-08-24 07:33] ivankelly commented on #2401
Yes, it's only a 2 line change to make it work.

[2018-08-24 10:30] skyrocknroll commented on #2375
This is an excellent feature we heavily depend on the current messaging system.

[2018-08-24 13:09] bardock commented on #2431
@merlimat sorry, that consumer is working ok right now. I will update this issue when it'll happen again. We are facing this problem almost every week. Thanks!

[2018-08-24 16:34] ivankelly commented on #2401
Spent some time on this today, still no root cause, but it looks very much like something is holding on to a bytebuf that has been released back to the pool, and then it's writing to it. Will continue looking.

[2018-08-24 17:00] sijie opened #2441 "Pulsar Flink Connectors"
This is the master ticket for pulsar flink connectors.

- [ ] sink connectors
  - [ ] table sink connector  #2434
  - [ ] support effectively-once producing
  - [ ] integrate with schema
- [ ] source connectors

[2018-08-24 18:01] sijie opened #2442 "JDBC Connectors"
This is the master ticket for tracking all the efforts of providing jdbc connectors

- [ ] cdc & source connector
- [ ] jdbc sink connector #2440
  - [ ] Provide a GenericObject(/GenericRecord) interface for typed messages

[2018-08-27 15:39] jiazhai commented on #2312
closed this for PR merged.

[2018-08-27 15:39] #2312 closed

[2018-08-27 16:42] pouledodue commented on #2375
I so wait for this

[2018-08-28 07:24] guzuomuse opened #2461 "windows server support needed!"
for some reason,we must stay windows platform.
 compiling  pulsar-cpp always give errors.
any plan offering support for windows? thanks!

[2018-08-28 08:08] RobIsHere opened #2462 "Looks like a small user base on SO. Marketing efforts? Will the project last?"
I'm looking into Pulsar and from an architectural standpoint it's made like I would have designed the system. So I'd prefer it over Kafka from this perspective. But there is a really small user base, e.g. only some messages about Pulsar on Stackoverflow.

So my quesition is: as there are many technical better projects loosing against others that are better in marketing - will this project last and

[2018-08-28 08:26] RobIsHere commented on #271
Whole Clusters run on grpc like k8s + istio and it's well supported by proxies like envoy.

You could think about clients talking to their user's topics directly, authenticated by ingress - e.g. envoy filters (see https://www.envoyproxy.io/docs/envoy/latest/configuration/http_filters/grpc_web_filter for ideas).

IMHO, I'm not convinced about GCP pub-sub. Making one thing like the other is almost o

[2018-08-28 11:57] RobIsHere opened #2463 "Multitopic subscription missing in most clients especially C++?"
Pulsar in contrast to Kafka allows to make a topic per user, which is a big win. But if I do that, I'll get a huge number of topics.

To access these topics in a sane way, subscribing to multiple topics would be absolutely necessary or I would need to make a huge number of topic specific connections per processing node.

I'd need either fast performance optimized processing in c++, or fast develop

[2018-08-28 14:22] skyrocknroll opened #2465 "Schema Registry support for Python Client"
Right now Python client does not support schema registry to produce & consume encoded messages

[2018-08-28 14:22] skyrocknroll opened #2466 "Schema Registry support for Go Client"
Right now Go client does not support schema registry to produce & consume encoded messages

[2018-08-28 15:15] cbornet opened #2467 "HTTP endpoints to consume and produce messages."
In addition to WebSockets, it would also be nice to be able to consume messages from a simple HTTP streaming endpoint and to publish on a REST API endpoint like is done in [Nakadi](https://nakadi.io/manual.html#/event-types/name/events_get).
HTTP streaming is even more easy and supported in any language/framework than WebSockets and you can use tools such as curl to directly interact with the puls

[2018-08-28 15:55] merlimat commented on #2463
@RobIsHere This is already in progress and coming in 2.1.1 release which will be available in ~1 week.

See:
 * C++ #1996
 * Go #2448
 * Python #2451

[2018-08-28 18:15] sijie commented on #2461
@guzuomuse thank you for reporting.  we'd love to support windows, however most of the committers are more familiar with linux/macos. if you can share some of your build errors, we might have some ideas on how to help you better.

[2018-08-28 18:47] jonb-streamlio commented on #2462
@RobIsHere appreciate the question. Although the software has been in production use at Yahoo for over 3 years, it was only open sourced as Apache Pulsar more recently and so is still earlier in its lifecycle than some other projects.

That said, there is a rapidly growing number of Pulsar users. A number of them are big companies who like its performance and scalability (but who don't like to tal

[2018-08-28 22:10] guzuomuse commented on #2461
@sijie ,thanks your reply,here is error log when i compile the c++ client with cmake gui:

`
BUILD_TESTS:  ON
LINK_STATIC:  OFF
USE_LOG4CXX:  OFF
CMAKE_BUILD_TYPE:
Found ZLIB: F:/en_folder_for_testing/zlib-1.2.11/cmake/Release (found version "1.2.11")
Could NOT find Protobuf (missing: Protobuf_LIBRARIES Protobuf_INCLUDE_DIR)
PYTHON: 3.7.0
DETECTED Python 3
CMake Warning at D:/Program Files/CMake/s

[2018-08-28 22:16] merlimat commented on #2461
@guzuomuse

You're missing some of the dependencies. For tests, you can disable by passing `-DBUILD_TESTS=OFF` to `cmake`.

For the rest, you need to install:
 * Libcurl : https://github.com/curl/curl
 * JsonCpp : https://github.com/open-source-parsers/jsoncpp
 * Protocol buffer: https://developers.google.com/protocol-buffers/

[2018-08-28 22:17] merlimat commented on #2461
Anyway, the deps for tests are :
 * GTest : https://github.com/google/googletest
 * Google Mock: https://github.com/google/googlemock

[2018-08-28 22:38] joefk commented on #2462
Yahoo/Oath is running Pulsar is production  at a large scale;  and will continue to do so.

[2018-08-28 22:47] guzuomuse commented on #2461
@merlimat ,thank you very much ,i will try and then give my feedback

[2018-08-29 01:26] pckeyan commented on #2462
This is a great question with a vision to decide future of a product. Let me fill in my thoughts.
As a user:
I was looking for a very good alternative for Kafka based upon its disadvantages. I am a techie looking for a better product looked into many products available in OpenSource world - ended up with Pulsar based upon its architecture and cloud adoption flexibility. Future lies on how it adopt

[2018-08-29 09:30] guzuomuse commented on #2461
@merlimat @sijie
unfortunately. cause too many dependencies drive me crazy.
i will look back.but i have to give up for now.

[2018-08-29 16:58] #2287 closed

[2018-08-29 20:47] RobIsHere commented on #2462
The fact that there is a growing number of mid-size companies and also a CE company from outside of the tech-bubble is very positive. It's good to see that you have a wider focus and they appreciate your work. I'm going to use pulsar.

[2018-08-29 20:59] RobIsHere commented on #2463
Thank you! That's great! I'll use the C++ API directly ;)

[2018-08-29 23:26] sijie opened #2476 "PIP-23: Pulsar Interceptors"
This is the master ticket for tracking all the tasks for pulsar interceptors

- [ ] Producer & Consumer Interceptors #2471
- [ ] Reader Interceptor
- [ ] Client level interceptor

[2018-08-29 23:28] sijie opened #2477 "Reader Interceptor"
This is part of #2476 for adding ReaderInterceptor to address comment : https://github.com/apache/incubator-pulsar/pull/2471#pullrequestreview-150671948

[2018-08-29 23:30] sijie opened #2478 "Pulsar Client Interceptor"
This is a sub task for #2476 for adding client-level interceptor, addressing comment: https://github.com/apache/incubator-pulsar/pull/2471#pullrequestreview-150671948

[2018-08-30 00:48] vli02 opened #2481 "`./bin/pulsar-admin clusters list` failed with `Error: Could not find or load main class "`"
#### Expected behavior

Expect to list the clusters I have created.

#### Actual behavior

It failed with Error: Could not find or load main class "

#### Steps to reproduce

* Deploy pulsar in a k8s cluster by using helm charts.
* kubectl exec -ti -n ... pulsar-broker-... bash
* ./bin/pulsar-admin clusters list

#### System configuration
**Pulsar version**: 2.1.0-incubating

We find the problem i

[2018-08-30 14:45] ivankelly commented on #2463
Looks to be resolved.

[2018-08-30 14:45] #2463 closed

[2018-08-30 14:48] ivankelly commented on #2462
It looks like this question has been resolved, so closing the issue.

[2018-08-30 14:48] #2462 closed

[2018-08-30 15:01] dsambandam opened #2483 "Apache Pulsar Version Upgrade query"
what's the most reliable method for Pulsar Upgrade from one dot release to another.
For instance apache-pulsar-2.0.0-rc1-incubating to pulsar-2.1.0-incubating?
Any documentation or help is highly appreciated.

#### System configuration
**Pulsar version**: x.y

[2018-08-30 15:01] ivankelly commented on #190
@sschepens did this issue ever get resolved, or do you continue to see it?

[2018-08-30 15:02] ivankelly commented on #189
Closing as a dupe of #2400

[2018-08-30 15:02] #189 closed

[2018-08-30 15:03] ivankelly commented on #173
@sschepens This could well be down to zookeeper being overloaded. Have you experienced this issue again?

[2018-08-30 15:04] #144 closed

[2018-08-30 15:06] ivankelly commented on #137
@DongbinNie Does subscriptionInitialPosition solve this for you?
http://pulsar.apache.org/api/client/org/apache/pulsar/client/api/ConsumerBuilder.html#subscriptionInitialPosition-org.apache.pulsar.client.api.SubscriptionInitialPosition-

[2018-08-30 15:11] ivankelly commented on #135
@merlimat @DongbinNie
Is this solved by ReaderBuilder#startMessageId?
http://pulsar.apache.org/api/client/org/apache/pulsar/client/api/ReaderBuilder.html#startMessageId-org.apache.pulsar.client.api.MessageId-

[2018-08-30 15:12] ivankelly commented on #133
@merlimat did anything ever happen with this?

[2018-08-30 15:14] ivankelly commented on #132
There's far too much java8 usage to ever go to JDK7, so closing this as a won't fix.

[2018-08-30 15:14] #132 closed

[2018-08-30 15:16] ivankelly commented on #118
@sschepens is this still an issue?

[2018-08-30 15:16] ivankelly commented on #58
@sschepens has this happened again?

[2018-08-30 19:47] sijie opened #2489 "Function State"
This is the master ticket for tracking state related requirements/tasks.

- [ ] Python State Support
- [ ] State lifecycle management (how do we manage the lifecycle of state tables  and how it is related to functions)
- [ ] API for a function to access other state tables or other functions' state
- [ ] AutoSync between a compacted topic and a state table
- [ ] Provide a way to access state table

[2018-08-30 22:18] aahmed-se opened #2495 "Trigger function not update function metrics correctly"
When running a pulsar function and triggering it via command line the metrics of the function are not updated correctly.

[code]

The expected behaviors is to have a
numProcessed and numSuccessfullyProcessed json entry with the correct value

[2018-08-31 02:06] kesavkolla opened #2499 "Support for passing basic auth credentials from Python client"
If broker is setup with BasicAuth (**AuthenticationProviderBasic**) currently Python client doesn't have an ability to pass the credentials.  Please add support in Python for sending basic auth credentials while connecting to topic.

[2018-08-31 22:39] #2401 closed

[2018-09-01 07:09] #2481 closed

[2018-09-05 07:41] congbobo184 opened #2520 "web rest api"
The persistent in Rest API connection error。

[2018-09-05 09:28] blutack opened #2521 "Go client reader hang when processing backlog of ~6M messages"
#### Expected behavior

The reader should read all topic messages and then continue to follow the topic

#### Actual behavior

The reader reads approximately 230K messages and then the following call to Next blocks forever.

#### Steps to reproduce

I have a topic configured with infinite retention which I've loaded approx 6M ~60 byte messages into. This topic is fed with a new test message every

[2018-09-05 09:31] blutack commented on #2521
Just to add to this, the hang occurs approx 1.6 - 1.7 seconds after creating the reader.

[2018-09-05 14:47] merlimat commented on #2521
Thanks @blutack for the detailed repro steps. I'll try to get a fix asap.

[2018-09-05 18:38] vli02 opened #2522 "Wrong zookeeper server names are used in zookeeper helm charts."
#### Expected behavior

By using kubernetes/helm deployment, expect zookeeper to start successfully and the other services can connect to zookeeper correctly.

#### Actual behavior

zookeeper did not config and start successfully:
[code]

#### Steps to reproduce

[code]

#### System configuration
**Pulsar version**: 2.1 and latest on master

[2018-09-05 18:43] vli02 commented on #2522
The name of zookeeper is deployed as:
```"{{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.component }}"```

the use of zookeeper name is:
```{{ printf "%s-%s-%s-%d" $global.Release.Name $global.Chart.Name $global.Values.zookeeper.component $i }}```

They are inconsistent, the template `pulsar.fullname` does not always combine the *release name* and *chart name* together.

I will create a p

[2018-09-05 21:36] sijie commented on #2520
@congbobo184 can you clarify what kind of error are you seeing?

[2018-09-05 21:43] sijie commented on #1949
Closed the issue since IPV6 is not supported right now. #954 is tracking for adding the support.

[2018-09-05 21:43] #1949 closed

[2018-09-05 21:44] sijie commented on #1933
This has been implemented by #2080

[2018-09-05 21:44] #1933 closed

[2018-09-05 21:45] #1916 closed

[2018-09-05 21:46] sijie commented on #1916
it is probably related to apache jenkins environment.

[2018-09-05 21:46] sijie commented on #1875
@merlimat can you take a look at @Audace 's last comment?

[2018-09-05 21:47] sijie commented on #1737
I think the 100% cpu usage is related to deleteRange. the change is merged to bk 4.7.2 and will be included in pulsar 2.1.1 and 2.2.0 releases.

[2018-09-05 21:47] #1737 closed

[2018-09-05 21:49] sijie commented on #1650
most of the REST apis except functions are updated in the new website. functions are tricky because it is using protobuf classes in the response, which cause swagger ui fails to load. will have to refactor how functions return the responses.

[2018-09-05 21:53] sijie commented on #1511
Tiered Storage has been implemented by multiple pull requests linked above.

[2018-09-05 21:53] #1511 closed

[2018-09-06 01:39] congbobo184 commented on #2520
When you enter the rest api page and click on the interface in the left topic of the persistent topic, then jump to the description of the non-persistent interface

[2018-09-06 02:11] peterbecker opened #2530 "Documentation issue: wrong file name in TLS instructions"
#### Expected behavior

Following the instructions for generating a server certificate at https://pulsar.incubator.apache.org/docs/latest/security/tls-transport/#Servercertificate-av2fql should provide me with a server certificate.

#### Actual behavior

The step labelled "… and sign it with the certificate authority." fails with:

[code]

#### Steps to reproduce

Follow the instructions on the pa

[2018-09-06 07:48] sijie commented on #2530
@peterbecker I think you are using an old website link, can you try using the instructions here: https://pulsar.incubator.apache.org/docs/en/security-tls-authentication/ ?

[2018-09-06 07:50] sijie commented on #2520
@congbobo184 oh I see. that's a bug on loading swagger ui. will investigate how to address the issue.

[2018-09-06 08:00] peterbecker commented on #2530
The page you link is the TLS auth page. Mine is the encryption one. You can follow the link on the page you linked, which takes you to https://pulsar.incubator.apache.org/docs/en/security-tls-transport/ which still has the issue.

[2018-09-06 09:06] ivankelly commented on #2530
@peterbecker you're right. Will update.

[2018-09-06 09:46] blutack commented on #2521
That was impressively quick for a tricky bug!

I can confirm the fix works at my end.

[2018-09-06 14:40] #2521 closed

[2018-09-06 19:04] aahmed-se commented on #687
what is the config ?

[2018-09-06 20:57] dsambandam opened #2533 "can't generate ca key using the open ssl cnf file suggested for TLS Auth"
#### Expected behavior

Tell us what should happen

#### Actual behavior
can't generate ca key using the open ssl cnf file suggested

#### Steps to reproduce
$ mkdir my-ca
$ cd my-ca
$ wget https://github.com/apache/incubator-pulsar/tree/master/site2/website/static/examples/openssl.cnf
$ export CA_HOME=$(pwd)

mkdir certs crl newcerts private
$ chmod 700 private/
$ touch index.txt
$ echo 1000 > se

[2018-09-06 22:39] grantwwu commented on #2217
This appears to have been done already by someone else, cheers

[2018-09-06 22:39] #2217 closed

[2018-09-07 13:51] ivankelly commented on #240
I repro'd on a checkout from when this was reported, and it looks like a legit bug and potentially serious.
However, I haven't been able to get a direct repro on master, though it looks like the bug still exists.

The bug occurs as follows:
- A managed ledger, with current ledger as 3
- The managed ledger attempts to write two entries to 3
- First entry write to 3 fails, 3 is closed, deleted, and

[2018-09-10 04:08] snoodleboot commented on #271
I would love to see this! I can understand about pub/sub. It really doesn't serve the same purpose as Pulsar or any distributed log. Different use cases.

[2018-09-10 09:17] codelipenghui opened #2551 "Client switch connection between different pulsar cluster."
## It's necessary to add a mechanism to support client switch connection between different pulsar cluster.

### Motivation
Generally, we can use DNS or TCP proxy to improve broker availability when you have many pulsar cluster and one cluster is not available(such as network error). But in this solution, we need a backup cluster, the backup cluster has the same configurations. And in this solution

[2018-09-10 09:29] codelipenghui commented on #2551
#2543

[2018-09-10 18:07] aahmed-se commented on #2495
This issue is resolves

[2018-09-10 18:07] #2495 closed

[2018-09-11 08:06] sijie opened #2556 "Messaging Gateway"
*Motivation*

There are already many messaging applications written based on other messaging protocols, such as Kafka, MQTT and other customized messaging protocol. For those messaging applications to leverage the features/advantages of Pulsar, people have to rewrite their applications to use Pulsar API. That creates barriers for people to tryout.

As Pulsar's messaging model is a flexible and uni

[2018-09-11 08:45] Inilien commented on #2556
It would be great to be able to just plug in Pulsar in existing network of corporation messages where Kafka is currently in use. Right now, the only solution I have found is to manually recompile all other applications connected to Kafka with [Kafka Wrapper](https://pulsar.incubator.apache.org/docs/latest/adaptors/KafkaWrapper/) which is only available for Java applications by the way.

With that

[2018-09-11 08:59] sijie commented on #2530
This is fixed by #2531

[2018-09-11 08:59] #2530 closed

[2018-09-11 11:07] guillaumepitel commented on #2431
Hi. I don't know if it's a similar issue, but here is what just happened on our Pulsar cluster (small three nodes clusters) :

One of the 3 broker suddenly stopped sending messages, its total MSG/S OUT was zero while MSG/I IN were still at ~100k/s. So it acted as if all the consumers on this particular broker were simultaneously disconnected. The odd thing is that **no exception were thrown, and n

[2018-09-11 15:26] sijie commented on #2431
@guillaumepitel : did you acknowledge the messages on consumers? One thing to check when this happens, you can run `pulsar-admin persistent stats $TOPIC` and `pulsar-admin persistent stats-internal $TOPIC` to collect the stats of topics. so we will have a better idea on how many consumers connected to broker for that topic and other metrics will potentially help a lot as well.

[2018-09-11 15:39] merlimat commented on #2431
@sijie I am looking at a heap dump from @guillaumepitel and trying to get repro of this issue.

[2018-09-11 18:11] dsambandam opened #2559 "Pulsar Dashboard image for RHEL OS"
#### Expected behavior
Trying to build docker image for RHEL to setup pulsar dashboards but the current version of scripts doesn't seem to be supported with apt-get commands in Dockerfile.
Any other existing options to explore to build the image ?

Tell us what should happen

#### Actual behavior

Tell us what happens instead

#### Steps to reproduce
run from pulsar source directory
$ docker build

[2018-09-11 20:13] merlimat commented on #1460
This was fixed in #1656 for 2.0.0 release

[2018-09-11 20:13] #1460 closed

[2018-09-11 21:58] sijie commented on #2559
@dsambandam

you want a image based on REHL OS? is that correct?

[2018-09-12 00:07] dsambandam commented on #2559
Yes, that’s correct. I am running RHEL ver7.5
Thanks

On Tue, Sep 11, 2018 at 4:59 PM Sijie Guo <notifications@github.com> wrote:

--

*Dayanand Sambandam *
Mobile: *+1 469 432 3348*
*dayanand.sambandam@gmail.com <dayanand.sambandam@gmail.com>*

[2018-09-12 08:04] sijie commented on #1485
This has been fixed by #1485

[2018-09-12 08:04] #1485 closed

[2018-09-12 08:08] sijie commented on #1081
This is fixed by #2406

[2018-09-12 08:08] #1081 closed

[2018-09-12 08:10] sijie commented on #2067
all the related tasks have been merged.

[2018-09-12 08:10] #2067 closed

[2018-09-12 08:15] sijie commented on #2313
This is fixed by #2440

[2018-09-12 08:15] #2313 closed

[2018-09-12 08:19] sijie commented on #2379
This is fixed by #2509 #2510

[2018-09-12 08:19] #2379 closed

[2018-09-12 08:44] kesavkolla opened #2566 "Support for cloning message in python client SDK"
It would be nice to support message copy/clone so that it would be easy to copy content and properties for easily resubmitting new message.

[2018-09-12 17:30] srids opened #2568 "MacOS: Could not find a version that satisfies the requirement pulsar-client==2.1.0"
#### Expected behavior
Using pip3, I've tried to install the latest release of the pulsar-client version 2.1.0. I expected a clean install, given that version 2.1.0 has been released via pypi (link [here](https://pypi.org/project/pulsar-client/2.1.0/)).

#### Actual behavior

Unfortunately, there seems to be an error finding the 2.1.0 distribution. Error as below:

[code]

#### Steps to reproduce

[2018-09-12 20:34] sijie opened #2569 "Add BC testing for functions CLI and function worker"
*Motivation*

Functions CLI does a lot of "magic" in submitting functions. so changes between releases can potentially break functionalities. e.g. #2501 breaks the trigger function. so we need a BC testing framework to be able to cover such BC issues.

[2018-09-12 21:37] sijie commented on #2568
@srids can you provide some information about your macOS version?

Also this is the list of python client versions we published for 2.1.0-incubating release.

https://pypi.org/project/pulsar-client/#files

[2018-09-12 21:41] sijie commented on #2551
This issue is being implemented on #2543

[2018-09-12 21:47] sijie commented on #2533
@dsambandam I think the problem is `wget https://github.com/apache/incubator-pulsar/tree/master/site2/website/static/examples/openssl.cnf`. This fetches the html file of github page. You can retrieve the file from the raw content :

[code]

[2018-09-12 21:48] sijie commented on #2000
This has been fixed with the new website.

[2018-09-12 21:48] #2000 closed

[2018-09-12 21:48] sijie commented on #1991
This has been fixed by multiple pull requests linked above.

[2018-09-12 21:48] #1991 closed

[2018-09-12 21:49] sijie commented on #1981
@bardock any updates from this issue?

[2018-09-12 21:50] sijie commented on #1964
This has been fixed.

[2018-09-12 21:51] sijie commented on #1490
@coderfender any updates from this issue?

[2018-09-12 22:31] coderfender commented on #1490
Hi @sijie ,

I am sorry i didnt get time to finish this.I am still working on this and aiming at pushing the changes in couple of weeks for review

[2018-09-13 00:46] sijie commented on #2568
yeah I think we only publishes 37 for MacOS. is it possible for you to upgrade to 37, or you can only use 36?

[2018-09-13 00:51] srids commented on #2568
Apparently we cannot upgrade to 3.7 yet (some issues with Python 3.7 distribution for us).

[2018-09-13 02:01] dsambandam commented on #2533
@sijie Thanks! I shall try it out and keep you posted.

[2018-09-13 03:44] dsambandam commented on #2533
Updated broker.conf and client.conf file with below configuration but not able to get pulsar-admin/client working . Fails to with exception DecoderException : javax.net.ssl.SSLHandshakeException: error:10000438:SSL routines:OPENSSL_internal:TLSV1_ALERT_INTERNAL_ERROR

@sijie Any suggestions to resolve this issue?

**# Broker Configuration to enable authentication**
authenticationEnabled=true
authe

[2018-09-13 15:13] jiazhai opened #2574 "Timeout message not get redeliver in TopicsConsumer when use message listener"
#### Expected behavior

Timeout message get redeliver in TopicsConsumer when use message listener

#### Actual behavior

Timeout message not get redeliver in TopicsConsumer when use message listener

#### Steps to reproduce
Here is an simple UT
[code]

[2018-09-13 15:15] jiazhai commented on #2574
Penghui meet this issue in their test.
This issue may be caused by the un-acked messages tracking in both individual ConsumerImpl and MultiTopicsConsumerImpl.

In MultiTopicsConsumerImpl, we are managing and tracking all un-acked message.  But when using MessageListener, there will be some issues.
This is because MessageListener.received() is only called 1 time when the message is delivered from u

[2018-09-13 19:12] sijie commented on #2568
@srids gotcha. we have a release 2.1.1 upcoming in 2 days. we can try to publish 37 for macos. does that work for you?

[2018-09-13 19:16] srids commented on #2568
you mean 36 for macos :) - yea that should work but think it will be consistent to publish 2.1.0 for 36 as its already done for Linux but not for MacOS.

[2018-09-13 19:29] sijie commented on #2568
@srids yes I mean 36. a release typically requires reviews and votes in apache software foundation. so if things are missing, we are fixing it in the next release :)

[2018-09-13 19:31] srids commented on #2568
ic. sounds good to fix in 2.1.1 then. thanks.

[2018-09-13 22:01] dsambandam opened #2576 "Pulsar client consume command fails with java.lang.IllegalArgumentException: port out of range:-1"
#### Expected behavior

Consume messages with TLS Auth and Authorization.
Below CLI works fine without TLS AUth.
Kindly suggest if I am doing anything wrong here?

#### Actual behavior

./bin/pulsar-client consume  persistent://apps/data/sim -s my-topic -n 10 -r 0

webServiceUrl=https://broker1:8443/
brokerServiceUrl=pulsar+ssl://broker1:6651/
useTls=true
tlsTrustCertsFilePath=/Path/my-ca/certs/ca

[2018-09-14 00:29] sijie commented on #2576
@dsambandam what is your broker url? is it `broker1`? or `broker1` was replacing the real domain name when you posting it?

[2018-09-14 01:15] dsambandam commented on #2576
@sijie I replaced the real hostname with broker1 when I posted it.

[2018-09-14 03:52] pablichjenkov opened #2581 "Android and IOS client support"
I am trying to build a Chat App with the purpose of testing Apache Pulsar. I wanted to make it in pure Android Java/Kotlin to avoid any possible oracle-java8 incompatibility either at compilation time or runtime.
I am able to run Pulsar server application on my local environment and send/receive messages using the pulsar-client program. However, I have not been able to connect to the server from A

[2018-09-14 08:10] #2154 closed

[2018-09-14 08:52] ivankelly commented on #240
Closed by #2573

[2018-09-14 10:15] ivankelly opened #2582 "Schema javadoc missing from client api docs"
http://pulsar.apache.org/api/client/ mentions passing a schema on constructor creating, but there's no linkage to JSONSchema or AVROSchema and the javadoc for these classes doesn't exist.

[2018-09-14 13:53] jiazhai commented on #2574
seems there was something wrong in above comments. will debug and post a new one.

[2018-09-14 14:36] dsambandam commented on #2576
@sijie is this a bug as the same command runs fine with TLS disabled. Kindly confirm.

[2018-09-14 14:46] jiazhai commented on #2574
The main reason for this error is that the message listener for TopicsConsumer was also set for individual sub-consumerImpl.
In above calling stack, when time-out, TopicsConsumer.UnAckedMessageTracker will let sub-consumerImpl to redeliver messages.

[2018-09-14 14:57] jiazhai opened #2584 "unacked message is not redelivered in setting ackTimeout"
#### Expected behavior

unacked message is not redelivered in setting ackTimeout

#### Actual behavior
unacked message is not redelivered in setting ackTimeout

#### Steps to reproduce
- create topic, producer and consumer, set consumer acktimeout
- call consumer.receive(), and not ack the received message.
- expected the message be redelivered after acktimeout; but actually not.
it is actually re

[2018-09-14 15:04] jiazhai commented on #2584
@codelipenghui meet this issue in their usage.
The main reason is in UnAckedMessageTracker.
[code]
before first timeout, all messageId was added in CurrentSet, not in OldOpenSet, so isAckTimeout() is false, and `redeliverUnacknowledgedMessages` was not called at first timeout.

The fix may move `toggle()` from behind if clause to before if clause.

[2018-09-14 15:39] dsambandam commented on #2576
Stack Trace:
java.lang.IllegalArgumentException: port out of range:-1

 at java.net.InetSocketAddress.checkPort(InetSocketAddress.java:143) ~[?:1.8.0_171]
        at java.net.InetSocketAddress.createUnresolved(InetSocketAddress.java:254) ~[?:1.8.0_171]
        at org.apache.pulsar.client.impl.BinaryProtoLookupService.lambda$null$2(BinaryProtoLookupService.java:109) ~[org.apache.pulsar-pulsar-clien

[2018-09-14 16:12] sijie commented on #2584
@jiazhai can you submit a PR for that?

[2018-09-14 16:14] sijie commented on #2576
@dsambandam : what are the command you are using for initializing cluster metadata?

especially what did you provide for `--web-service-url-tls` and `--broker-service-url-tls`?

[code]

[2018-09-14 17:52] dsambandam commented on #2576
./bin/pulsar initialize-cluster-metadata --cluster cluster1\
--zookeeper zk1:2181 \
--configuration-store zk1:2184 \
--web-service-url broker1:8080 \
--web-service-url-tls broker1:8443 \
--broker-service-url pulsar://broker1:6650 \
--broker-service-url-tls pulsar+ssl://broker1:6651

[2018-09-15 05:27] #2581 closed

[2018-09-15 10:46] realwanpengli opened #2589 "Fail to deploy on Kubernetes cluster"
#### Expected behavior
$ alias pulsar-admin='kubectl exec pulsar-admin -it -- bin/pulsar-admin'
$ pulsar-admin properties create prop \
  --admin-roles admin \
  --allowed-clusters us-central

Tell us what should happen
This command will create a property called prop

#### Actual behavior

Tell us what happens instead

Got:

[code]

#### Steps to reproduce

How can we reproduce the issue
Just foll

[2018-09-16 05:00] srkukarni commented on #2589
Did you try with 2.1.0?

[2018-09-16 10:44] realwanpengli commented on #2589
@srkukarni Yes. I tried. The problem is the same as 2.0.1

[2018-09-17 06:18] kramasamy opened #2592 "Package a docker compose file in the release distriution"
With a docker compose file, it will be easy to try out pulsar and pulsar dashboard. The steps will be

- Download and extract the release distribution
- docker compose will bring up pulsar and pulsar dashboard
- you can use the extracted cli to interact with pulsar running in the docker
- you can use the browser to visit the monitoring logs etc

This will simplify to quite an extent and still prov

[2018-09-17 08:00] sijie commented on #2589
@realwanpengli I think this is related to #2484 it is fixed and will be released as part of 2.1.1

for a workaround, you can remove this line from the `admin.yml` when you are deploying the admin tool pod.

https://github.com/apache/incubator-pulsar/blob/master/deployment/kubernetes/generic/admin.yaml#L44

[2018-09-17 14:50] dsambandam commented on #2576
@sijie - Is this a bug as the command runs fine without any TLS Auth. Also, please suggest if there are any work around that I can try it out to consume data ?

[2018-09-17 20:43] sijie commented on #2568
Closed this issue as question answered.

[2018-09-17 20:43] #2568 closed

[2018-09-18 02:17] realwanpengli commented on #2589
@sijie But in v2.0.1, the line you mentioned is not existed in pulsar-admin pod.

https://github.com/apache/incubator-pulsar/blob/v2.0.1-incubating/deployment/kubernetes/generic/broker.yaml#L105

[2018-09-18 10:05] #2384 closed

[2018-09-19 21:33] sijie commented on #1016
this is being implemented in #2612

[2018-09-19 21:42] sijie commented on #2576
@dsambandam I think the exception is quite similar ast the issue reported here: #1022 can you inspect your tls related service urls and make sure they don't have any special characters at the end of the hostname?

[2018-09-19 21:43] sijie commented on #2574
This is fixed by #2583

[2018-09-19 21:43] #2574 closed

[2018-09-19 21:45] sijie commented on #2033
multi-topic and regex subscription support is added to python. it is actually released in 2.1.1 and will also be in 2.2.0

[2018-09-19 21:45] #2033 closed

[2018-09-19 21:48] dsambandam commented on #2576
@sijie I don't have any special character in my service urls. In that case my command that runs fine with no authentication enabled should also fail right ? That gets completed successfully with no issues.

[2018-09-19 21:48] sijie commented on #2009
This is being fixed by #2025, will be included in  the upcoming release.

[2018-09-19 21:49] sijie commented on #2007
This has been implemented and merged.

[2018-09-19 21:49] #2007 closed

[2018-09-20 00:50] aahmed-se commented on #382
https://github.com/apache/incubator-pulsar/pull/2618

[2018-09-20 07:44] sijie commented on #2584
This is fixed by #2590

[2018-09-20 07:44] #2584 closed

[2018-09-22 18:49] sijie opened #2638 "com.fasterxml.jackson.databind.JsonMappingException: Infinite recursion"
*Problem*

Following stack trace was seen in CI

[code]

[2018-09-22 18:49] sijie opened #2639 "NullPointerException at closing consumer"
*Problem*

[code]

[2018-09-24 09:55] MarkAddison opened #2642 "Duplicate classes caught by maven-enforcer-plugin"
When **maven-enforcer-plugin** is utilised duplicate classes are found for shaded version of Jackson XML classes s e.g. in org.apache.pulsar:pulsar-client:jar and org.apache.pulsar:pulsar-client-schema:jar

Can a modification be made (as a workaround for the present time, these classes have been added for exclusion in *ignoreClasses*)

#### Expected behavior
This is a **maven** build issue.
Tell u

[2018-09-24 21:27] sijie opened #2647 "Flaky Test: DeadLetterTopicTest.testDeadLetterTopicWithMultiTopic"
It has been seen multiple times in CI.

[code]

[2018-09-24 23:31] #2638 closed

[2018-09-25 01:33] jiazhai commented on #2647
Here is an reference
[code]

[2018-09-25 01:39] aahmed-se commented on #382
this should be resolved in the next realease

[2018-09-25 05:57] sijie opened #2651 "Flaky Test: PartitionedTopicsSchemaTest.partitionedTopicWithSchema"
[code]

[2018-09-25 12:13] YutanpoFR opened #2652 "Exception thrown when running bin/pulsar standalone"
Hello !

#### Expected behavior

After fresh download & unzip of Pulsar incubator 2.1.1, "./bin/pulsar standalone" should run

#### Actual behavior

An exception is thrown:

[code]

#### Steps to reproduce

Download Pulsar from: http://www.apache.org/dist/pulsar/pulsar-2.1.1-incubating/ (the download link from Pulsar website is dead: http://pulsar.apache.org/download/),
uncompress
[code]
#### Syst

[2018-09-25 12:27] YutanpoFR commented on #2652
Solved:
a jar is not included in classpath because of bad naming:
`org.apache.pulsar-pulsar-functions-runtime-all-2.1.1-incubating.j`
instead of
``org.apache.pulsar-pulsar-functions-runtime-all-2.1.1-incubating.jar``

[2018-09-25 12:27] #2652 closed

[2018-09-26 03:39] codelipenghui opened #2655 "Bug of ConsumerInterceptor on method onAcknowledge()"
#### Expected behavior

Consumer acknowledge the batch message must call onAcknowledge()  for every messages in batch message.

#### Actual behavior

Consumer just call onAcknowledge() for the last message in batch message.

[2018-09-26 06:05] jiazhai opened #2657 "Change the StateGetter in admin tool to use the REST endpoint"
#2653, added rest endpoint for StateGetter,  it might be good to change the StateGetter in admin tool to use the REST endpoint.

https://github.com/apache/pulsar/blob/master/pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdFunctions.java#L976

This issue is for @sijie 's comments in #2653.

[2018-09-26 07:44] jiazhai opened #2658 "optimize the storage client interface in function state rest api"
In PR #2653 , actually it might be good to optimize the storage client interface, so we are able to cache the client in worker. and we don't need to initialize the client for each rest call.

[2018-09-26 07:51] realwanpengli commented on #2589
@sijie Problem solved. Thank you!

[2018-09-26 07:51] #2589 closed

[2018-09-26 13:58] laaksma opened #2660 "Can not get topic stats from the admin API"
#### Expected behavior

When fetching persistent topic stats with pulsar-admin cli tool I get the stats for that topic.

#### Actual behavior

The correct stats are returned every third time, and two times out of three the request times out.

#### Steps to reproduce

1. Have Pulsar cluster with three broker nodes and a Pulsar proxy in front of them.

2. Get stats for a single persistent topic, eit

[2018-09-26 21:36] sijie commented on #2655
This is fixed by #2656

[2018-09-26 21:36] #2655 closed

[2018-09-26 21:45] sijie commented on #2639
I think this is fixed by #2640

[2018-09-26 21:47] #2639 closed

[2018-09-26 21:52] sijie commented on #1266
Pulsar already graduated :)

[2018-09-26 21:52] #1266 closed

[2018-09-26 21:55] sijie commented on #1215
This is related to #2475

[2018-09-26 22:50] sijie opened #2662 "Go functions support"
Currently pulsar functions support java & python. This is the master issue for tracking the efforts on providing Go functions support.

[2018-09-27 03:56] kuangye098 opened #2664 "PIP-31: Transactional Streaming"
This is the master issue for tracking implementing PIP-31: https://docs.google.com/document/d/145VYp09JKTw9jAT-7yNyFU255FptB2_B2Fye100ZXDI/edit#heading=h.40v9f3564x7t

V1: https://github.com/apache/pulsar/issues/8657
V2: https://github.com/apache/pulsar/issues/8633

[2018-09-27 05:18] maskit opened #2665 "Pass all Apache Project Website Checks"
#### Expected behavior

https://whimsy.apache.org/site/project/pulsar
All checks are green.

#### Actual behavior

Some are red.

[2018-09-27 05:29] massakam opened #2666 "Specific topic becomes unavailable due to failure of cursor recovery"
Currently, specific topic is unavailable in our Pulsar cluster. We can not send/receive messages to/from the topic, and HTTP requests to get stats/stats-internal timed-out. We don't know how to reproduce this phenomenon.

The info-internal of that topic is as follows:
[info-internal.txt](https://github.com/apache/pulsar/files/2422553/info-internal.txt)

Metadata on ZK:
[code]

The following error

[2018-09-27 11:30] massakam commented on #2666
If ManagedCursorImpl has been modified as follows, the cursor recovery is successfully completed and the topic become available. Is this change appropriate?
[code]

[2018-09-27 12:25] merlimat opened #2667 "Intermittent test failure in ManagedLedgerTest.testAsyncAddEntryAndSyncClose()"
In `ManagedLedgerTest.testAsyncAddEntryAndSyncClose()` :

Test fails with timeout :

[code]

Cause seems to be assertion failed in callback thread:

[code]

[2018-09-27 21:15] jerrypeng commented on #2642
@MarkAddison let me look into this

[2018-09-27 21:48] jerrypeng commented on #2642
The reason this happens if because in Pulsar different modules depend on different version of the same dependencies.  While I think there is a way to fix it, I am not sure how much benefit it will actually bring.  @MarkAddison is this a critical issue for you?

[2018-09-28 03:14] #2660 closed

[2018-09-28 07:35] fenghuasky1991 opened #2672 "description mistake in doc"
#### Expected behavior

In the [Messaging] --> [Subscription modes] --> [Failover] part, the third paragraph
Consumer-C-1 is the master consumer while Consumer-C-2 would be the next in line to receive messages if Consumer-C-1 disconnected.
But the doc says
Consumer-C-1 is the master consumer while Consumer-C-2 would be the next in line to receive messages if Consumer-C-2 disconnected.

#### Actual

[2018-09-29 19:21] sfescape opened #2678 "websocket feature parity"
Is there a roadmap that discusses websocket features? It looks like websockets is pretty far behind in feature parity.
I'm considering moving from kafka to pulsar but topics regex consumer is an important feature for me.

[2018-09-30 07:19] templarzq opened #2680 "pulsar golang client install failed (on windows)"
![pulsar](https://user-images.githubusercontent.com/18200917/46254590-29e04d80-c4c4-11e8-9fd1-08ca204b9c9a.png)

[2018-09-30 07:44] sijie commented on #2680
@templarzq pulsar go client is a cgo wrapper over existing cpp client. currently we only provide cpp client for mac and linux. it doesn't support windows yet.

You can check out more details about go client here : http://pulsar.apache.org/docs/en/client-libraries-go/

[2018-09-30 07:47] sijie commented on #2672
This has been fixed by #2674

[2018-09-30 07:47] #2672 closed

[2018-09-30 07:55] sijie commented on #2664
@kuangye098 it is a nice feature request. I am wondering if you are interested in implementing this feature, we can collaborate on this if you are interested in contribution.

you mean "produce", instead of "pull", right?

[2018-09-30 08:06] kuangye098 commented on #2664
You are right, I may have described it incorrectly.

[2018-09-30 08:12] templarzq commented on #2680
好的，请问有windows的go client开发计划吗？

[2018-09-30 08:16] kuangye098 commented on #2664
@sijie I can try to implement it, because in other projects, I have implemented it.

[2018-09-30 08:29] Carl-Hee commented on #2551
@sijie Is dns necessary, or can we use IP address directly?

[2018-09-30 08:42] kuangye098 commented on #2664
@sijie OK，I will read it carefully and then write a PIP to describe the proposal of changes.

[2018-09-30 18:13] sfescape opened #2682 "The websocket reader API is not including the specified starting message."
#### Expected behavior

The websocket reader API should return messages inclusive of the messageId passed in.

#### Actual behavior

The websocket reader API is returning messages exclusive of the messageId passed in.

#### Steps to reproduce

Write a series of message, invoke the reader API passing in the first messageId as the starting message. The first message returned is the second message wr

[2018-09-30 18:34] sijie commented on #2680
@templarzq I think we just need to make the c++ client be able to compile on windows. Then you are able to use the go client. However most of the committers don't really use windows here, so it would take a while for us to support windows.

[2018-09-30 18:34] sijie commented on #2664
great thank you @kuangye098

[2018-10-01 01:14] sfescape opened #2687 "Websocket API - Expose ReachedEndOfTopic in Reader/Consumer API"
It would be very helpful if there was an ability to test ReachedEndOfTopic. It's not clear to me when you can stop reading if you're only interested in traversing existing messages for a topic.

[2018-10-01 01:18] jerrypeng commented on #2687
@sfescape the Reader API does have this functionality:

reader.hasReachedEndOfTopic()

[2018-10-01 01:26] codelipenghui opened #2688 "Polices On Topic"
This is the master ticket for tracking all the tasks for polices on topic
- [x]   1. MessageTTL [Get, Set, Remove] #7738
- [x]   2. Retention Policy [Get, Set, Remove] #7747
- [x]   3. Message Dispatch Rate [Get, Set, Remove] #7863
- [x]   4. Backlog Quota [Get, Set, Remove] #7646
- [x]   5. Persistence Policy [Get, Set, Remove] #7817
- [x]   6. Max Producer [Get, Set, Remove] #7914
- [x]   7. Max

[2018-10-01 01:31] codelipenghui opened #2689 "Backlog Quota Configuration on topic"
This is a sub task for #2688 for adding policy of backlog quota on topic level, addressing comment:  [#2659](https://github.com/apache/pulsar/pull/2659)(review)

Support get-backlog-quotas on topic level.
Support set-backlog-quota on topic level.
Support remove-backlog-quota on topic level.

[2018-10-01 01:32] codelipenghui commented on #2689
pull request from [#2659](https://github.com/apache/pulsar/pull/2659)

[2018-10-01 01:51] codelipenghui commented on #2551
#2671 Refactored to simplify API for adding ServiceUrlProvider

use

[code]
replace

[code]

[2018-10-01 07:01] MarkAddison commented on #2642
It's not ultra critical, as after a little reading it's possible to exclude these classes from detection.

That said I find it perplexing that different versions of the same dependencies would be being utilised!

[2018-10-02 02:15] aahmed-se opened #2695 "Provide void java function implementation implementing Consumer Interface"
@srkukarni @sijie

This Example should be using

https://github.com/apache/pulsar/blob/master/pulsar-functions/java-examples/src/main/java/org/apache/pulsar/functions/api/examples/WordCountFunction.java

https://docs.oracle.com/javase/8/docs/api/java/util/function/Consumer.html

[2018-10-02 03:54] massakam commented on #2666
This problem can be avoided by https://github.com/apache/pulsar/pull/2673

[2018-10-02 03:54] #2666 closed

[2018-10-02 09:56] macthestack opened #2697 "Offloading fails"
The following happens when I try to offload manually using: `pulsar-admin topics offload --size-threshold 0 public/default/my-topic && pulsar-admin topics offload-status -w public/default/my-topic`

The last broker log regarding offloading:

Everything else about the cluster seems to be running fine by the looks of logs and grafana.

#### Steps to reproduce

Spin up a new kubernetes cluster on gcp

[2018-10-02 18:08] sijie commented on #2687
@sfescape Currently this feature is not available in websocket. you can check this out for the feature parity between clients: https://github.com/apache/pulsar/wiki/Client-Features-Matrix

[2018-10-02 18:17] sfescape commented on #2687
Thank you, this feature seems to be "Reader hasMessageAvailable". This project doesn't seem to use JIRA, is there a place I can go look for any roadmap on websocket API features?

[2018-10-03 02:02] grantwwu opened #2703 "Improve Go/macOS C++ client installation documentation"
The Go client installation documentation instructs you to install the C++ client as well.  However, it does not note that you need the version to match exactly.

Additionally, the macOS C++ client installation instructions do not provide a way to choose what version you install: https://pulsar.apache.org/docs/en/client-libraries-cpp/#macos

[2018-10-03 07:52] merlimat commented on #2703
@grantwwu There is a warning at http://pulsar.apache.org/docs/en/client-libraries-go/#note

I think the main issue is that we instruct to get the latest version, eg:

[code]

But the MacOS brew recipe is still installing 2.1.0 C++ client. We need to push the brew recipe to homebrew and make sure that gets updated on each release, pointing to new archive.

[2018-10-03 08:21] HaraldGustafsson opened #2708 "Python messageId serialize is broken"
#### Expected behavior
MessageId object serialize method is broken at least in python 3.7

    pulsar.MessageId.latest.serialize()

Should return a string

#### Actual behavior

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
    UnicodeDecodeError: 'utf-8' codec can't decode byte 0xff in position 1: invalid start byte

#### Steps to reproduce

As above

#### Syste

[2018-10-03 08:33] HaraldGustafsson commented on #2708
String function produce a string with the 4 values stringified, but the deserialize function can't understand that. Anyone know a quick workaround until this is fixed?

    '(9223372036854775807,9223372036854775807,-1,-1)'

    Traceback (most recent call last):
      File "<stdin>", line 1, in <module>
      File "/Users/ecshdgn/.virtualenvs/py37_ventri/lib/python3.7/site-packages/pulsar/__init__

[2018-10-03 17:50] grantwwu commented on #2703
I've submitted a PR to improve that warning.  Particularly, it makes it more explicit and puts it up front.  I skipped over that warning because I wasn't using `go get`.

Currently having trouble viewing the changes locally because I can't figure out how to get the local webserver to pickup my changes, discussing in Slack #docs

[2018-10-03 17:59] merlimat commented on #2708
I think the might be broken on all python 3.x. With 2.7, the serialize is returning a string with a binary protobuf representation of the message id. Of course that would not be a valid utf-8.

Doing the `str(pulsar.MessageId.latest)` gives you a human readable version but the de-serialize expects the binary form.

I cannot think of a quick workaround. The wrapper should be fixed to return it as `

[2018-10-03 21:37] ivankelly commented on #2697
Have you configured an offload driver? What does your broker configuration look like?

[2018-10-03 21:37] sijie commented on #2695
the discussion is happening at #2698

[2018-10-03 21:43] sijie commented on #2667
@merlimat fixed it at #2694

[2018-10-03 21:43] #2667 closed

[2018-10-03 21:48] sijie commented on #2133
since we already have own s3mock image, I don't think we need that one from adobe. closing it for now, if there is a need we can discuss later : https://hub.docker.com/r/apachepulsar/s3mock/

[2018-10-03 21:48] #2133 closed

[2018-10-03 21:51] sijie commented on #1048
@jiazhai I am not sure if that is needed. close it now, let's create one if there is a real need.

[2018-10-03 21:51] #1048 closed

[2018-10-03 21:54] sijie commented on #1022
let's try improve error handling and produce meaningful message if we can't get around with the java URL api.

[2018-10-03 22:27] #2703 closed

[2018-10-04 12:53] macthestack commented on #2697
[code]

[2018-10-04 13:02] ivankelly commented on #2697
@macthestack did you restart the broker after updating the configuration? UnsupportedOperationException looks like its coming from the Null offloader.
https://github.com/apache/pulsar/blob/master/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/NullLedgerOffloader.java

[2018-10-04 13:17] macthestack commented on #2697
I actually set it before the broker start in this sequence:

[code]

[2018-10-04 13:27] macthestack commented on #2697
sure, I'll spin up a fresh cluster, thanks for the help

[2018-10-04 16:35] macthestack commented on #2697
Here we go:

[stderr](https://storage.googleapis.com/pulsar-topic-offload/stderr/2018/10/04/15%3A00%3A00_15%3A59%3A59_S0.json)
[stdout](https://storage.googleapis.com/pulsar-topic-offload/stdout/2018/10/04/15%3A00%3A00_15%3A59%3A59_S0.json)

I left everything in.

[2018-10-04 16:46] HaraldGustafsson commented on #2708
I wrote a simple protobuf generator based on the MessageId, so that I can serialize them while this is fixed.

    import itertools
    import pulsar
    def pb_varint(value, size):
        value = pow(2,size) + value if value < 0 else value
        s = "{{0:0{}b}}".format(size).format(value)
        b = [int(s[max(0,i-7):i], 2) for i in range(size, 0, -7)]
        b = reversed(list(itertools.drop

[2018-10-04 19:38] grantwwu commented on #2703
@merlimat Should I make a new issue for this?

[2018-10-04 19:45] grantwwu opened #2719 "Fix various bugs in the Go client doc examples"
Various parts of the Go client doc examples do not work with the existing API.

For example, https://pulsar.apache.org/docs/en/client-libraries-go/#producers is missing a Context
https://pulsar.apache.org/docs/en/client-libraries-go/#producer-operations more involved example refers to a message ID but the producer does not have that available.

Does anyone know a system that allows typechecking th

[2018-10-04 21:35] jerrypeng opened #2720 "Improving stop and start function instances"
Currently, when a user submits a request to stop or start a function instance, the worker that receives the request attempt to redirect the stop or start request to the actual worker running the function instance.  I don't think this is a good mechanism for this and it is prone to failures.  What is happening here is a state change, however the state change isn't persisted, thus when failures happ

[2018-10-05 00:40] jerrypeng commented on #2642
@MarkAddison the multiple version of dependencies has to deal with protobuf 2.0 vs 3.0.  In more recent code we started using protobuf 3.0 because of its integration with GRPC (2.0 does not work very well).  Thus, in some places we are using protobuf 2.0, while in other places we are using 3.0.  Eventually we will probably migrate everything to use protobuf 3 but that hasn't been done yet.

[2018-10-05 04:02] hrsakai opened #2731 "Ws client can't receive any more messages when number of timed-out messages reaches receiverQueueSize"
Ws proxy controls message-delivery to ws client by using `pendingMessages`.
`pendingMessages` increases when ws proxy sends a message to ws client and It decreases when ws client acks to ws proxy.
If `pendingMessages` reaches `receiverQueueSize`, ws proxy stops to send a message until ws client acks.
Even if a message times out(cause by ws client unack), `pendingMessages` doesn't decrease and ws p

[2018-10-05 13:59] macthestack commented on #2697
Thanks @ivankelly, that did the trick

[2018-10-05 14:05] ivankelly commented on #2697
I'm glad to hear it. Let us know if you have more trouble.

[2018-10-05 14:05] #2697 closed

[2018-10-05 19:24] sijie opened #2734 "Add namespace level enforcement on schema validation"
in 2.2 we have a broker-level setting on enforcing schema validation. in 2.3, we need to add the enforcement to namespace level and eventually get rid of broker-level settings.

see more discussions at this comment: https://github.com/apache/pulsar/pull/2730#pullrequestreview-161893567

[2018-10-05 20:17] sijie opened #2736 "Add admin command to truncate pulsar topics (partitions)"
requirement: set infinite retention on a namespace and then manually truncate the topic.

- truncate the topic by message id
- delete all the messages older than time X

[2018-10-08 01:32] sijie opened #2743 "NPE at RoundRobinScheduler"
[code]

[2018-10-08 01:32] sijie commented on #2743
@srkukarni @jerrypeng can you help look at this?

[2018-10-08 06:05] #2743 closed

[2018-10-09 12:35] nkurihar opened #2749 "Admin API via PulsarProxy with authentication fails"
I tried Admin API via PulsarProxy with Athenz authentication, and found a few unexpected behaviors. Please correct me if my expectation/understanding is wrong.

#### 1. proxyRoles

##### Expected
[`proxyRoles`](https://github.com/apache/pulsar/blob/90aa408b9ddc53629bdc5c0e540cf5335c34399b/conf/broker.conf#L206-L208) in broker.conf can be set to empty.
(In this case Proxy will be treated as a "norm

[2018-10-09 20:18] sfescape opened #2751 "null payload or property values generated NullPointerException in server"
#### Expected behavior

I expected the server to accept null valued properties and payloads

#### Actual behavior

NullPointerException in base64 processing in the case of payload
NullPointerException in the case of property values being null

java.lang.NullPointerException: null
        at org.apache.pulsar.common.api.proto.PulsarApi$KeyValue$Builder.setValue(PulsarApi.java:1923) ~[org.apache.pul

[2018-10-09 20:46] sfescape commented on #2751
Not an empty string, a null value. I'm not sure if a base64 encoded empty string works. I can test that later. Here is the null value property stack trace. I'll look to see if I can find the base64 nullpointerexception on payload.

`java.lang.NullPointerException: null
        at org.apache.pulsar.common.api.proto.PulsarApi$KeyValue$Builder.setValue(PulsarApi.java:1923) ~[org.apache.pulsar-pulsar-

[2018-10-10 00:55] #2708 closed

[2018-10-10 01:13] sijie opened #2757 "Kafka source connector should just transfer bytes like what we do in sink connector"
connector is mostly used for transferring bytes from kafka to pulsar, we should act on bytes rather than string. Kafka sink connector is already switched to bytes, we should switch source connector as well.

[2018-10-10 01:14] sijie opened #2758 "Provide example yaml files for pulsar builtin connectors"
We should provide example yaml files for pulsar builtin connectors.

[2018-10-10 15:35] sfescape commented on #2751
Here is a thread dump for the null payload error.

java.lang.NullPointerException: null
        at java.util.Base64$Decoder.decode(Base64.java:549)
        at org.apache.pulsar.websocket.ProducerHandler.onWebSocketText(ProducerHandler.java:158) ~[org.apache.pulsar-pulsar-websocket-2.1.1-incubating.jar:2.1.1-incubating]
        at org.eclipse.jetty.websocket.common.events.JettyListenerEventDriver.o

[2018-10-10 18:08] #2757 closed

[2018-10-10 21:37] sijie commented on #2749
@ivankelly can you help with this?

[2018-10-10 21:43] sijie commented on #2719
@grantwwu are you interested in submitting a PR fixing this?

[2018-10-10 21:45] sijie commented on #2195
close it due to inactivities, @dsambandam if you need more helps, please reopen it.

[2018-10-10 21:45] #2195 closed

[2018-10-10 21:46] sijie commented on #2193
This bug has been fixed by #2088 and documentation is improved by #2174 and #2196

[2018-10-10 21:46] #2193 closed

[2018-10-10 21:51] sijie commented on #2165
I think there is already available in current master

[2018-10-10 21:51] #2165 closed

[2018-10-10 21:51] sijie commented on #2164
#2410 already bumped the version to latest jclouds release `2.1.1`

[2018-10-10 21:51] #2164 closed

[2018-10-10 21:52] sijie commented on #1007
any updates @sschepens , @merlimat ?

[2018-10-10 21:53] sijie commented on #981
closed it due to inactivities. please reopen it if you can provide more details about the behavior.

[2018-10-10 21:53] sijie commented on #959
@sholla can you provide more details about the errors you encountered?

[2018-10-10 21:55] sijie commented on #917
@zhaijack anything we need to do for this task? if not, can we close it?

[2018-10-10 23:34] grantwwu commented on #2719
Yes, I can fix the immediate bugs.  But I also wanted to solicit thoughts about ways to bring tooling to check these automatically

[2018-10-11 00:51] nkurihar commented on #2749
Hi, I added my proposals to fix this issue.
Please check whether it is reasonable or not.
Then I will create PR.

[2018-10-11 04:43] sfescape commented on #2682
Discussed adding inclusive/exclusive option to specific messageId and latest as options.

[2018-10-11 05:22] gmethvin opened #2767 "ClassCastException when using custom JSON schema"
#### Expected behavior

It should be possible to create a custom JSON `Schema` that's not an implementation of `JSONSchema`, so I can use schemas from libraries like https://github.com/sksamuel/pulsar4s.

#### Actual behavior

I used the `pulsar4s` library, which creates custom schema implementations. I wrote some very simple code like this:

[code]

Because pulsar4s creates schema instances that

[2018-10-11 16:53] MrThreepwood opened #2771 "Can't run Example Pulsar Locally"
#### Expected behavior

Either the run from local files, or run with docker command should work.

#### Actual behavior

Running bin pulsar/standalone results in this:
[code]
And it never starts.

Running with the docker command tells me fetching failed and the repository may not exist. A quick check of dockerhub shows that apachepulsar/pulsar-standalone in fact does not exist.

#### Steps to repro

[2018-10-11 16:58] merlimat commented on #2771
@MrThreepwood Can you try with `docker run -it -p 80:80 -p 8080:8080 -p 6650:6650 apachepulsar/pulsar bin/pulsar standalone` ?

[2018-10-11 22:50] merlimat opened #2778 "Problem in Netty shading in Pulsar client lib"
The current master have a problem with the shading of Netty.

The result is that user with other Netty dependencies will get failures like :

[code]

or

[code]

[2018-10-12 00:11] jerrypeng commented on #2767
https://github.com/apache/pulsar/pull/2779

[2018-10-12 11:20] sjchicks opened #2786 "Problems introducing incompatible changes to persistent topic schema"
#### Expected behavior

When introducing incompatible changes to the schema for a persistent topic, deleting the schema/topic should allow the new schema to be used.

#### Actual behavior

After deleting the schema using pulsar-admin, the Java client gets an NPE when trying to create the producer. The same NPE happens if you delete schema, topic, namespace and tenant, then recreate tenant and name

[2018-10-14 08:44] macthestack opened #2792 "support auto.offset.reset on the Pulsar adaptor for Apache Kafka"
auto.offset.reset is currently ignored

[2018-10-14 13:57] foreversunyao commented on #2736
@sijie its kinda put an expired tag on one message or lot of message directly?

[2018-10-14 14:13] foreversunyao commented on #2771
@merlimat this command works for me.
pulsar: 2.2.0
image repo: apachepulsar/pulsar-all:latest

[2018-10-15 10:06] ivankelly commented on #2749
This could open up a security hole, as if the proxyRoles is empty, any client could then pass any value as the validateOriginalPrincipal, a therefore escalate their privileges.

The point of proxyRoles is to limit which roles can pretend to be other roles. Allowing proxyRoles to be ignored defeats this purpose.

The proxyRoles should be dedicated roles that are used for nothing but the proxy. I wo

[2018-10-15 12:18] ivankelly opened #2793 "TLS Hostname verification undefined for C++/python client"
I've not tested with code, but it looks like TLS hostname verification is a mess for the C++ client (and python by extension).

For binary connections, no hostname verification takes place as far as I can see. For http connections (for lookups) it takes place every time.

I suspect this made it through testing since the tls certs used to test C++ use localhost as the common name. We should expose

[2018-10-15 12:20] ivankelly commented on #2793
I'm currently adding documentation to security-tls-transport.md for hostname verification, and am stating that it doesn't work for C++. Please update the docs when this is fixed.

[2018-10-15 12:31] ivankelly commented on #2403
#2793 blocks this from being 100% completed.

[2018-10-16 03:09] nkurihar commented on #2749
Thanks your comments.

In producer/consumer proxied requests(not Admin REST API), we can use proxy without setting `proxyRoles` for now.
I have understood that as default behavior:
https://pulsar.apache.org/docs/en/security-authorization/#proxy-roles

* Should `proxyRoles` be mandatory when we use proxy?
* Is a role in `proxyRoles` not allowed to behave as a "normal" client?

[2018-10-16 03:41] jiazhai commented on #2751
```NullPointerException in the case of property values being null```
This is related to protobuf, it does not support null-able field directly.
https://github.com/protocolbuffers/protobuf/issues/1606

[2018-10-16 06:53] ivankelly commented on #2749
I think yes, as we give the proxy special abilities to spoof identity and this is a very powerful ability. However, my thinking on this is 100% TLS auth focussed, so I don't know how this interacts with athenz. Also, if auth is completely off between the proxy and broker, this would be unnecessary, though I don't know if this is currently the case.

But it would be good to get some other opinions.

[2018-10-16 16:04] oliverisaac opened #2795 "namespace grant-permission Returns 500 in 2.1.1-incubating"
#### Expected behavior

The below command should return successfully:

`pulsar-admin namespaces grant-permission public/pulsar-gke/default --actions produce,consume --role oisaac`

#### Actual behavior

The broker server returns a 500 server error.

#### Steps to reproduce

I deployed a fresh cluster using the GKE deployment method. When enabling authentication and authorization I am unable to gra

[2018-10-16 17:52] MrThreepwood commented on #2771
Yes, that command appears to work. If that's the intended method to run this in docker, then the documentation should probably be updated at:
http://pulsar.apache.org/docs/en/standalone/

[2018-10-16 17:52] #2771 closed

[2018-10-16 19:16] david-streamlio opened #2797 "Documentation error in TLS"
#### Expected behavior

Following the steps described in the documentation should produce a certificate and a private key.

#### Actual behavior

When executing the steps in order, you will get the following error when executing the

"openssl req -config openssl.cnf -key private/ca.key.pem \
      -new -x509 -days 7300 -sha256 -extensions v3_ca \
      -out certs/ca.cert.pem"
command:

error on li

[2018-10-16 19:16] david-streamlio commented on #2797
The associated page is here:  http://pulsar.apache.org/docs/en/security-tls-transport/

[2018-10-16 22:07] MrThreepwood opened #2799 "Receiving "Connection Already Closed Error on Creating Producer""
#### Expected behavior

I would expect the client to connect and build, or give a more useful error.

#### Actual behavior

When attempting to create the producer, I receive this error:
[code]

#### Steps to reproduce

We are not able to reproduce this issue with the python library. Here is the java code:

[code]

#### System configuration
This was originally encountered with 2.0.1-incubating (as

[2018-10-17 03:33] massakam commented on #2799
@MrThreepwood I think you need to set enableTls to true.

[code]

This configuration will be unnecessary in 2.2.0 or later.
cf. https://github.com/apache/pulsar/pull/2315

[2018-10-17 15:02] #2403 closed

[2018-10-17 15:38] srkukarni opened #2802 "Re-enable PrestoSql test"
#### Expected behavior

#2752 breaks sql thanks to spaghetti dependencies. This pr will disable the test for now. We need to re-enable it before the next release.
#### Actual behavior

Tell us what happens instead

#### Steps to reproduce

How can we reproduce the issue

#### System configuration
**Pulsar version**: x.y

[2018-10-17 17:54] haphut commented on #2556
It would be great if Pulsar could act as an MQTT broker while storing the received messages.

We at [HSL](https://github.com/HSLdevcom/) have sources sending us data over MQTT and we publish open APIs over MQTT. For example, our fleet produces [High-frequency positioning (HFP)](https://digitransit.fi/en/developers/apis/4-realtime-api/vehicle-positions/) MQTT messages with QoS 1. Including the conf

[2018-10-17 21:42] ivankelly commented on #2799
The message is still misleading. It would be good to have something a bit more explicit to say that the client was not able to connect to the remote endpoint.

[2018-10-17 21:47] ivankelly commented on #2792
@macthestack could you link some docs on what this option is supposed to do?

[2018-10-17 21:58] ivankelly commented on #2767
This has been addressed by #2779

[2018-10-17 21:58] #2767 closed

[2018-10-17 22:00] ivankelly commented on #2216
@cckellogg @srkukarni I guess this can be closed as a "won't fix", no?

[2018-10-17 22:05] ivankelly commented on #2211
@jnioche could you summarize the slack conversation in the description here?

[2018-10-17 22:08] ivankelly commented on #2207
Closing as dupe of #2758

[2018-10-17 22:08] #2207 closed

[2018-10-18 20:21] MrThreepwood commented on #2799
This appears to be working for me, thanks. It is not mentioned as part of the documentation here however:
https://pulsar.apache.org/docs/latest/security/tls/

I also agree with ivankelly that this is very misleading. Clearly I'm encountering an auth error, so simply closing the connection and throwing the first time I attempt to create a producer or consumer isn't behavior that I would expect.

[2018-10-19 00:06] #2216 closed

[2018-10-19 00:07] srkukarni commented on #2216
Yup, this is not on the horizon any time soon.

[2018-10-19 19:07] ivankelly opened #2812 "BrokerServiceTest#testOwnedNsCheck is completely broken"
It asserts in callbacks. It fails if you run individually, passes if you run all tests in file, which makes sense if you look at code.

[2018-10-22 16:21] cckellogg opened #2816 "pulsar-admin unable to peek messages from a subscription when a '/' is in subscription name"
The pulsar-admin is not able to peek message from a subscription when a '/' is in the subscription name.

[2018-10-23 03:10] nkurihar commented on #2749
In my opinion, regardless of auth methods(TLS, Athenz, etc.), authentication/authorization of original client in broker side is not necessary but optional since proxy has already done it.

[2018-10-23 04:00] Lizhooh opened #2821 "[Request] Pulsar client libraries Support Nodejs"
[Request] Pulsar client libraries Support Nodejs

[2018-10-23 05:42] codelipenghui commented on #2375
@pmwqld

I think if all messages with the same delay time in the topic, use Dead Letter Queue can match this scene. otherwise the dispatcher logic in broker and limited by the receive queue will affect the delay result.

[2018-10-23 06:18] codelipenghui commented on #2688
@ivankelly

Yes, this is a very necessary concern. I think 'system' topic is an excellent solution.

1. For policy changed, send message to the 'system' topic and  write to zookeeper, then 'system' topic consumer update policy cache in broker. So that just need to read the cache.
2. For topic owner changed, load the namespace policy and topic policy into broker cache.

For 'system' topic design. I

[2018-10-23 07:51] ivankelly commented on #2688
I would put it at the namespace level, so 2. It would be good to have a generic model for system topics, as currently it would require you wiring up something yourself. Maybe it would be better to put it at the managed ledger layer also, since if we put it at the pulsar level we would have a circular dependency of sorts.

[2018-10-23 07:57] ivankelly commented on #2749
@nkurihar the issue is that proxies are exposed to the world, so more likely to be compromised. If the proxy is compromised at that point that proxy has full control of the system. With TLS and without proxyRoles, there's no way to block this access without regenerating all certs. With TLS and proxyRoles, you just need to reconfigure proxyRoles to exclude the role of the proxy that was compromised

[2018-10-23 08:59] codelipenghui opened #2822 "[Pulsar-admin] Delete namespace can't delete topics"
#### Expected behavior

delete namespace and delete all topics belongs to this namespace

#### Actual behavior

namespace deleted but topics not deleted and when i delete topic manual, i got

[code]

#### Steps to reproduce

1.Delete the namespace (Has topics in this namespace)
2.`./pulsar-admin topics list-partitioned-topics namespace`
3.Delete the topic got before.

#### System configuration
**P

[2018-10-23 09:29] codelipenghui commented on #2822
Should add check for delete namespace interface.
If namespace has topics, delete topic process will failed by message 'The namespace still have topics'

[2018-10-23 13:38] sijie commented on #2688
@ivankelly I am a bit confused about using managed ledger. managed ledger doesn't have tailing facility, how do you propagate the policy changes using managed ledger?

[2018-10-23 13:46] ivankelly commented on #2688
You shouldn't need to propagate. When you update the policy, you're hitting the broker that owns the topic.

[2018-10-23 13:55] sijie commented on #2688
@ivankelly

I am lost now. Isn't the existence of system topic to address the concern of zookeeper notifications? so we convert the zookeeper notifications, to consume from system topic. penghui's previous comment was using system topic, which is making sense, since pulsar already has producer and consumer. but in your last comment, you suggest using mledger to avoid circular dependency, then my q

[2018-10-23 14:01] sijie opened #2823 "the download links of old releases are broken"
http://pulsar.apache.org/en/download/

I think the problem was introduced when Pulsar goes TLP. because old releases are still in `incubator` dist directory, rather than in the new TLP `pulsar` directory.

[2018-10-23 14:08] ybb1798 commented on #2823
Message:
Not Found
The requested URL /dist/pulsar/pulsar-2.1.0-incubating/apache-pulsar-2.1.0-incubating-bin.tar.gz was not found on this server.

[2018-10-23 14:09] sijie commented on #2823
@ybb1798 : the old releases are under https://archive.apache.org/dist/incubator/pulsar/

[2018-10-23 14:20] ivankelly commented on #2688
From what I can tell, system topics don't actually exist as an actual concept in pulsar, they're just normal topics. But as a conceptual concept, they don't exist just to replace notifications. They also exist as a place to store metadata which can scale.

Ok, so, to recap where the suggestion to use managed ledger came from...

The first suggestion was to put topic policies in zookeeper. This was

[2018-10-23 14:50] ybb1798 commented on #2823
OK, I will try to fix this problem.

[2018-10-23 14:51] sijie commented on #2688
okay. if system topic is to store metadata, isn't it overlapped with the goal of building table service for metadata storage. if you just use a pure log to store metadata, we still have too much to build and most of the work is overlapped with the goal of table service.

so I think we should first target system topic as a changelog of what's happening within namespace, rather than making it to rep

[2018-10-23 19:21] rsamo commented on #2795
This bug is also happening on my end, v2.1.1 on bare metal installation. Just an FYI.

[2018-10-24 06:35] jai1 opened #2830 "Inter Broker communication TLS not working for Pulsar Admin Client"
#### Expected behavior

Pulsar Admin Client in Broker should use TLS and connect to webServicePortTls.

#### Actual behavior

Pulsar Admin Client uses only the webServicePort

#### Steps to reproduce

A. Create a cluster with TLS enabled in brokers
B. Use AuthenticationTLS as brokerClientAuthPlugin
C. run `pulsar-client-admin persistent list ...`
D. You will see a 500 response and "Authentication

[2018-10-24 11:32] ivankelly opened #2834 "SQL docs source missing"
http://pulsar.apache.org/docs/en/next/sql-overview/

Does not exist in

https://github.com/apache/pulsar/tree/master/site2/docs

So I can't correct a typo.

[2018-10-25 00:54] chowyu08 opened #2842 "pulsar go client static build error"
#### System configuration
Pulsar version: 2.2.0

dpkg -i apache-pulsar-client*.deb

###build command
go build -ldflags '-extldflags "-static"'

####error
usr/local/go/pkg/tool/linux_amd64/link: running gcc failed: exit status 1
/usr/lib/gcc/x86_64-linux-gnu/5/../../../../lib/libpulsar.a: error adding symbols: Archive has no index; run ranlib to add one
collect2: error: ld returned 1 exit status

[2018-10-25 05:48] #2822 closed

[2018-10-25 06:51] merlimat commented on #2842
@chowyu08 this is a kind of known issue at this point but we have found no fix so far. The libpulsar.a looks ok in the sense that I can link it into a regular C++ binary but not into a Go binary.

Any hint in how to fix the libpulsar.a linking is welcome. In meantime, the only option is to link dynamically against libpulsar.so

[2018-10-26 15:54] mujimu commented on #1070
bump

[2018-10-26 15:58] mujimu commented on #1070
more recent example of wrapping an underlying C++ lib as a node library:
https://github.com/Blizzard/node-rdkafka

[2018-10-26 17:52] merlimat commented on #1070
@mujimu There are indeed plans to start soon working on this. Thanks for the link. If you have JS experience it would be also good to have feedback on API ergonomics once we start working on it.

[2018-10-27 02:43] benjaminhuo opened #2858 "What official pulsar helm chart request 15GB memory for bookeeper,zookeeper and broker?"
#### Expected behavior
The memory should be set to a reasonable size
The manifest(bookie.yaml) deploy bookeeper as daemonset, why not statefulset with persistent volume claim?

#### Actual behavior
Official pulsar helm chart request 15GB memory for bookeeper,zookeeper and broker

The manifest(bookie.yaml) deploy bookeeper as daemonset, why not statefulset with persistent volume claim?

![snip20181

[2018-10-27 05:39] benjaminhuo commented on #2858
Thanks for the explanation and suggestion.
I'd like to contribute.

Regards,
Ben

[2018-10-27 07:50] jiazhai opened #2860 "The link issue in http://pulsar.apache.org/en/contact/"
In [contact](http://pulsar.apache.org/en/contact) page, the links has some issue:
[code]
Thanks for the guy that report this,

[2018-10-27 08:01] quiye commented on #2860
Just now I've found it too. I'll fix it.
https://github.com/apache/pulsar/blob/96c10dc5d2d55bb9132f25b465e9062855e42285/site2/website/pages/en/contact.js#L17-L39

[2018-10-27 14:50] merlimat opened #2863 "Intermittent test failures in AdminApiOffloadTest.testOffloadV1"
[code]

From the job logs:
[code]

[2018-10-27 22:38] merlimat commented on #2860
fixed in #2861

[2018-10-27 22:38] #2860 closed

[2018-10-28 05:58] merlimat commented on #2816
#2809 was merged

[2018-10-28 05:58] #2816 closed

[2018-10-28 08:48] benjaminhuo commented on #2858
@sijie Another irrelevant question regarding pulsar:
Is the connection to broker per client or per producer?
If I create multiple producers using the same client, there will be multiple connections or just one connection?

PulsarClient client = PulsarClient.builder()
        .serviceUrl("pulsar://localhost:6650")
        .build();
Producer<byte[]> producer = client.newProducer()
        .topic("my

[2018-10-28 13:47] sijie commented on #2858
@benjaminhuo

Pulsar is using netty, so the connections will be managed per client.

it will be one connection per broker to the brokers that the client will connect to.

[2018-10-28 13:49] sijie commented on #2821
This is same as #1070

[2018-10-28 13:49] benjaminhuo commented on #2858
Great!
Thanks very much.

Ben

[2018-10-28 17:19] Audace opened #2874 "'ConsumerConfiguration' object has no attribute 'read_compacted'"
#### Expected behavior

I want to experiment with Pulsar functions. I'm running Pulsar using Docker in standalone mode using the image tagged `2.2.0`. I've created a file and added it to the image that looks like the following:
[code]

I register it using the following command:
[code]
#### Actual behavior

Rather than correctly running, the process immediately errors out with the following stacktr

[2018-10-28 17:55] Audace commented on #2874
The correct approach here was using `create` to create the function in cluster mode. However, the way the `docker-compose.yml` file was written, the cluster wasn't available when the function was trying to be created.

[2018-10-28 17:55] #2874 closed

[2018-10-29 00:15] codelipenghui opened #2876 "Limit the client reconnect behavior."
## Actual behavior

I got some abnormal metrics in broker stats.

<img width="554" alt="wechatimg101" src="https://user-images.githubusercontent.com/12592133/47623764-115d6480-db50-11e8-90fa-c7c4f31b45d0.png">

When this happened, I checked the network metrics. The network metrics showed network was saturated.

<img width="1279" alt="wechatimg111" src="https://user-images.githubusercontent.com/125

[2018-10-29 03:35] jiazhai opened #2877 "Add integration test for KafkaConnectSource"
In PR #2791, @sijie suggested to add an integration test for debezium.
KafkaConnectSource is a little not compatible with current source test framework.
In current existing source test framework, we call produceSourceMessages: Map<String, String> kvs = tester.produceSourceMessages(numMessages) and return expected kvs to verify later,
But in this KafkaConnectSource, the SourceMessages is created by

[2018-10-29 10:28] nanguawu opened #2879 "Failed to write entry (11, 0): Bookie handle is not available"
Hi:
I am currently deploying  a multi-cluster on bare metal.
Reference example：https://pulsar.apache.org/docs/en/deploy-bare-metal-multi-cluster/
my pulsar version: 2.2.0
os release: CentOS Linux release 7.5.1804 (Core)
my cluster node:
server057.opsadmin.com
server058.opsadmin.com
server059.opsadmin.com

Running the bookiesanity command for:    /ssd/pulsar/bin/bookkeeper shell bookiesanity
The fo

[2018-10-29 10:33] HaraldGustafsson opened #2880 "Unauthorised when deleting namespace with superuser role"
#### Expected behavior

All the following admin is done using a superuser role towards a pulsar broker over the REST API.

* create tenant - OK
* create namespace - OK
* Set permission with role testrole on a topic in that namespace - OK
* produce messages on that topic using testrole - OK
* delete topic using force - OK
* delete namespace - should be OK

#### Actual behavior

The step delete name

[2018-10-29 13:16] javabeanz opened #2882 "security vulnerabilties in 3rd party components"
mvn com.redhat.victims.maven:security-versions:check reveals many vulns, especially for jakscon and commons libs :
[ERROR] jline:jline is vulnerable to CVE-2013-2035
[ERROR] com.fasterxml.jackson.core:jackson-databind is vulnerable to CVE-2017-17485
[ERROR] com.fasterxml.jackson.core:jackson-databind is vulnerable to CVE-2017-7525
[ERROR] com.fasterxml.jackson.core:jackson-databind is vulnerable t

[2018-10-29 16:14] merlimat commented on #2882
Thanks @javabeanz for reporting. This is being addressed in #2884

[2018-10-29 18:41] sijie commented on #2879
@nanguawu :

where did you run `bookkeeper sanity`? was it in the bookie machine?

can you run `bookkeeper shell listbookies -rw` to get the list of bookies alive in the cluster?

This error message indicates that there is no bookies alive. I am suspecting that bookies advertised a non-reachable address.

[2018-10-30 03:43] nanguawu commented on #2879
The zookeeper that comes with pulsar is normal, always suggesting that bookie does not exist.
cluster node： server057.opsadmin.com

[root@server057 pulsar]# ./bin/bookkeeper shell listbookies -rw
11:33:40.444 [main] INFO  org.apache.zookeeper.ZooKeeper - Client environment:java.library.path=/usr/java/packages/lib/amd64:/usr/lib64:/lib64:/lib:/usr/lib
11:33:40.444 [main] INFO  org.apache.zookeeper.

[2018-10-30 07:16] sijie commented on #2879
yeah. it seems that bookie doesn't advertised itself to zookeeper. do you mind sharing the logs of bookies? @nanguawu

[2018-10-30 07:27] ngjaying opened #2887 "How to get user config at windowing function"
Pulsar functions SDK is not supported for windowing function, then how can we get the user config?

#### Expected behavior
Allow to access context object at windowing function in order to get the user configs.

#### Actual behavior

Use Pulsar functions SDK to implement windowing function would get below error:

[code]

#### Steps to reproduce

Create a Windowing function that implements Pulsar fu

[2018-10-30 10:36] jnioche opened #2890 "Dependencies for using Pulsar in Storm topologies"
**Pulsar version**: 2.2.0

I build an uber jar for a Storm toplogy containing the following dependency as per http://pulsar.apache.org/docs/latest/adaptors/PulsarStorm/

[code]

am getting

[code]

so I added the following dependency explicitly

[code]
which seems to solve this particular problem. Shouldn't the documentation list that dependency?

Am then getting an endless stream of errors in the

[2018-10-30 11:02] jnioche commented on #2890
The exception is thrown here

https://github.com/apache/pulsar/blob/b6a25f034bd8a9c3b30aa4a90eefdd45a0f0ee67/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java#L451

[code]

I can see that the library we are using at runtime contains

  _public static int computeChecksum(org.apache.pulsar.shade.io.netty.buffer.ByteBuf payload);_

whereas it is complaining about the lack of

[2018-10-30 11:10] jnioche commented on #2890
I tried reproducing the content of https://github.com/apache/pulsar/blob/b6a25f034bd8a9c3b30aa4a90eefdd45a0f0ee67/pom.xml

by setting
[code]

but it did not make any difference

[2018-10-30 11:33] nanguawu commented on #2879
Bookie server startup log has been added to the attachment，path of log：/ssd/pulsar/logs/pulsar-bookie-gpu057.aibee.cn.log

[pulsar-bookie-server057.opsadmin.cn.log](https://github.com/apache/pulsar/files/2529415/pulsar-bookie-server057.opsadmin.cn.log)

[2018-10-30 14:06] ivankelly opened #2891 "Expose read and connect timeout in PulsarAdmin"
When connecting to a pulsar broker endpoint which is not responding, the PulsarAdmin client will hang forever, because this is the default behaviour of the jersey client. We should set the default to something else (60 seconds), and allow the client to tune this down.

[2018-10-30 16:04] srkukarni commented on #2887
We need to cleanup WindowContext. It has several methods that don't exist anymore in a normal Context and does not have others that have since been added to Context.
@jerrypeng Can we address this in 2.3?

[2018-10-30 16:47] jerrypeng commented on #2887
@ngjaying for version 2.1.1-incubating only java.util.function is supported e.g.

[code]

As @srkukarni mentioned we will add full SDK support in the upcoming 2.3 release

[2018-10-30 18:22] sijie commented on #2890
@jnioche thank you for reporting this. will work on a fix.

[2018-10-30 18:42] sijie commented on #2879
@nanguawu it seems that the bookie doesn't finish starting up.  is your bookie still running? can you take a jstack trace? run `jstack <pid>`?

[2018-10-31 05:42] nanguawu commented on #2879
But the bookie process is already up，the attachment is the result of the  implementation of "jstack <pid>"

[root@server057 ~]# ps -ef |grep bookie
root     20119     1  0 Oct30 ?        00:01:19 /opt/jdk1.8.0_191/bin/java -cp /ssd/pulsar/conf:::/ssd/pulsar/lib/*: -Dlog4j.configurationFile=log4j2.yaml -Djute.maxbuffer=10485760 -Djava.net.preferIPv4Stack=true -Xms2g -Xmx2g -XX:MaxDirectMemorySize=4

[2018-10-31 06:06] sijie commented on #2879
@nanguawu :

the process is running, but
from the jstack, I didn't seem any journal thread `BookieJournal`  seems it doesn't complete startup.

did you have find anything more in the logs?

Can you restart one bookie and share me with the new log?

[2018-10-31 08:09] chrislearn opened #2894 "homebrew install pulsar-client is not updated to lastest version"
https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/homebrew/libpulsar.rb
This file is not updated to 2.2.0

[2018-10-31 09:39] nanguawu commented on #2879
https://github.com/apache/pulsar/files/2529415/pulsar-bookie-server057.opsadmin.cn.log

There is a log  i restarted . I have provided before. Below is another log file
#cat /ssd/pulsar/logs/pulsar-bookie-server057.opsadmin.com.out
Exception in thread "main" java.lang.RuntimeException: java.net.BindException: Address already in use
        at org.apache.bookkeeper.stats.prometheus.PrometheusMetric

[2018-10-31 09:52] nanguawu commented on #2879
This is the data that the zookeeper got bookies.

ode  : /bookies
data  : b'{}'
stat  : ZnodeStat(czxid=21474836493, mzxid=21474836493, ctime=1540801542043, mtime=1540801542043, version=0, cversion=0, aversion=0, ephemeralOwn
er=0, dataLength=2, numChildren=0, pzxid=21474836493)child : []

[2018-10-31 10:26] dreamcatchernick opened #2895 "pulsar-perf parameter lack description"
i am using pulsar-perf to do the performance testing. when i use pulsar-perf produce/consume, it doesn't tell me which parameter is required. And i searched the [document](http://pulsar.apache.org/docs/en/reference-cli-tools.html#pulsar-perf) , it doesn't give me much information. Suggest add "required" flag.

And also  pulsar-perf produce/consume have the same description in the  [document](http:

[2018-10-31 16:45] sijie commented on #2879
@nanguawu

Exception in thread "main" java.lang.RuntimeException: java.net.BindException: Address already in use
at

it seems that bookie fails to start due to it can't bind to prometheus port. are you running other components in the same port 8000?

[2018-10-31 16:49] sijie commented on #2879
@nanguawu

can you run ` lsof -i :8000` to see what process is using 8000?

[2018-10-31 19:54] #2890 closed

[2018-10-31 21:37] sijie commented on #2882
This is fixed by #2884

[2018-10-31 21:38] #2882 closed

[2018-10-31 21:41] sijie commented on #2876
@codelipenghui are you working on a fix for this?

[2018-10-31 21:43] sijie commented on #2858
Closed this issue since the question was answered

[2018-10-31 21:43] #2858 closed

[2018-10-31 21:45] sijie commented on #2834
I think this was fixed by #2849

[2018-10-31 21:45] #2834 closed

[2018-10-31 21:46] sijie commented on #2821
@Lizhooh I am going to close this issue, since it is a duplicated issue of #1070. let's use #1070 for tracking nodejs client.

[2018-10-31 21:46] #2821 closed

[2018-10-31 21:49] sijie commented on #2280
@codelipenghui : I think this task was partially done by #2476 , are you going to add a tracing interceptor?

[2018-10-31 21:49] sijie commented on #2278
This is fixed by #2400

[2018-10-31 21:49] #2278 closed

[2018-10-31 21:50] sijie commented on #2271
This NOTICE file was already reworked.

[2018-10-31 21:50] #2271 closed

[2018-10-31 21:51] #2236 closed

[2018-10-31 22:31] sijie commented on #2749
@sijie @merlimat please help review the comments.

[2018-10-31 22:44] sijie commented on #2795
@oliverisaac did you try @rsamo 's suggestion?

[2018-10-31 23:46] #2894 closed

[2018-11-01 02:05] nanguawu commented on #2879
8000 this port should be the zookeeper port that comes with pulsar。
I seem to know where the prolem is ,Thank you very much!
[root@server057 pulsar]# lsof -i:8000
COMMAND   PID USER   FD   TYPE    DEVICE SIZE/OFF NODE NAME
java    33839 root  215u  IPv4 163379008      0t0  TCP *:irdmi (LISTEN)
[root@server057 pulsar]# ps -ef |grep  33839
root      2799  1152  0 09:55 pts/0    00:00:00 grep --color

[2018-11-01 03:44] ngjaying opened #2900 "NoClassDefFoundError error happens when running custom source connector on cluster"
Run a custom source connector with dependency to eclipse paho is successful on localrun mode, but got java.lang.NoClassDefFoundError on cluster mode.

#### Expected behavior
Run the custom source connector successfully on cluster mode.

#### Actual behavior
Get below error in the function's log
[code]
#### Steps to reproduce
[emqx-source-0.0.2-SNAPSHOT.nar.zip](https://github.com/apache/pulsar/fil

[2018-11-01 04:01] srkukarni commented on #2900
Does your custom nar contain org/eclipse/paho/client/mqttv3/MqttCallback

[2018-11-01 05:47] ngjaying commented on #2900
Yes, it is inside META-INF\bundled-dependencies\org.eclipse.paho.client.mqttv3-1.0.2.jar

[2018-11-01 06:01] sijie commented on #2879
@nanguawu that's awesome. glad that you resolved the problem :) feel free to ping us if you have any other issues.

[2018-11-01 06:01] #2879 closed

[2018-11-01 08:48] codelipenghui commented on #2280
@sijie Already has a tracing implement base on zipkin in our group, but depends on few private libs, i will rearrange code later.

[2018-11-01 08:58] codelipenghui commented on #2876
@sijie Yes, i will fix it, We need to decide work on broker or client ?

[2018-11-01 10:13] nanguawu opened #2901 "pulsar-io/hdfs Maven compilation failed"
Version:
https://github.com/apache/pulsar/releases/tag/v2.2.0
HDFS client version:  2.6.0-cdh5.15.0

#cd /opt/soft/tmp/pulsar-2.2.0/pulsar-io/hdfs
#/opt/soft/apache-maven-3.3.9/bin/mvn   install

[INFO] --- maven-compiler-plugin:3.7.0:compile (default-compile) @ pulsar-io-hdfs ---
[INFO] Changes detected - recompiling the module!
[INFO] Compiling 17 source files to /opt/soft/tmp/pulsar-2.2.0/pulsa

[2018-11-01 17:17] sijie commented on #2876
@codelipenghui thank you, what is your thought around? can you describe both approaches and compare pros and cons?

[2018-11-01 17:30] sijie commented on #2280
@codelipenghui that would be great!

[2018-11-02 07:19] codelipenghui commented on #2876
I think more secure and unified on broker side, broker already limit the maxConsumersPerTopic and maxConsumersPerSubscription, broker limit the client reconnect(actually limit subscribe) is taken for granted.

If on client side, every client should implement this limiter.

But to identify consumer, on client side is more simple. On broker side, broker can get the consumerId, consumerName, ip addre

[2018-11-02 08:03] codelipenghui opened #2912 "Get message by messageId"
Is it possible to support a rest api to get message by messageId? For now we can peek the head message but can't query message by messageId.

[2018-11-02 16:39] oliverisaac commented on #2795
Yup, good to go!

[2018-11-02 16:39] #2795 closed

[2018-11-02 17:14] srkukarni commented on #2900
Is there a way I can reproduce this on my end?

[2018-11-04 16:39] Vanlightly commented on #2033
Hi, I am using the 2.2.0 Python client and I don't have multi-topic or regex subscription support still. Am I missing something?

[2018-11-04 16:44] merlimat commented on #2033
@Vanlightly the `subscribe()` method can take a list of topics or a regex in the new version: http://pulsar.apache.org/api/python/#pulsar.Client.subscribe

[2018-11-04 16:55] Vanlightly commented on #2033
Thanks @merlimat, I missed that Python API page. It is working now.

[2018-11-05 01:53] ngjaying commented on #2900
Thanks. I have attached the nar in the description of "Steps to reproduce". Could you please unzip it and try with the steps in the description?

[2018-11-05 07:10] codelipenghui opened #2929 "NullPointerException On Send Message"
Instance already run more than 1 month, but today we got some error log:
[code]
When restart the instance, no error log print anymore.
Client Version: 2.1.0-incubating

[2018-11-06 00:54] aahmed-se commented on #2929
So this was a one time event ?

[2018-11-06 01:10] codelipenghui commented on #2929
@aahmed-se No, it happens on a instance all the time until restart the instance.

[2018-11-06 01:14] aahmed-se commented on #2929
lot's of changes and fixes in ProducerImpl.java in 2.2.0 so will to check to see if it's replicated there.

[2018-11-06 04:06] codelipenghui opened #2939 "Config maxUnackMessagesPerConsumer and maxUnackMessagesPerSubscription on a namespace"
For now, we can config maxUnackMessagesPerConsumer and maxUnackMessagesPerSubscription in broker.conf.

It's useful to support config it on namespace level to overwrite global broker config.

[2018-11-06 07:28] merlimat opened #2942 "Intermittent test failure in TestS3Offload"
[code]

Full error logs at https://gist.github.com/merlimat/cf7823d2a5fafae7661772f91e1710a7

[2018-11-06 08:16] ivankelly commented on #2942
https://builds.apache.org/job/pulsar_precommit_integrationtests/4684/

Looks like a message is lost.

[2018-11-06 11:39] nanguawu commented on #2901
@sijie   yeah,I manually changed the hdfs client to 2.6.0

[2018-11-07 06:54] superbaobei opened #2950 "is Authentication available in java client？"
#### i'm newer for pulsar
today I read pulsar java client in org.apache.pulsar.client.impl.conf.ClientConfigurationData
in class ClientConfigurationData ,there's a field called authentication and type is Authentication.
Authentication is a interface,and I find 5 implements but their‘s start method all empty.no implement in start method ,what i want to know is ,is  authentication feature  can be us

[2018-11-07 09:39] lgleim opened #2951 "[FAQ] How does Pulsar Differ from Pravega"
While there is much documentation on differences between Kafka and Pulsar, no such information exists for Pulsar and Pravega (https://github.com/pravega/pravega)

C.f Pravega architecture
![image](https://user-images.githubusercontent.com/3898904/48123125-5d5b8800-e279-11e8-8b0d-3880b4e5a293.png)

[2018-11-07 12:50] HaraldGustafsson opened #2952 "Setting topic permission under load"
#### Expected behavior

Do a REST call to admin interface for setting topic permissions like:

    https://localhost:8081/admin/v2/persistent/tt1/testns1/t4%5Cdata/permissions/testrole

body:

    {'testrole': ['consume', 'produce']}

Should work every time and return status 204.

#### Actual behavior

When this is done with heavy load setting up permission for many topics in parallel. Some will r

[2018-11-07 15:10] jiazhai commented on #2430
@sijie Seems this is not able to produce. And the code that used in NamespacesImpl.java has already identified v1/v2 ns.
[code]

I am using a standalone cluster, and set --limit 1k, and test could not produce more data when limit reached.
[code]

[2018-11-07 15:19] HaraldGustafsson commented on #2952
Now verified same issue on a full Pulsar setup.

[2018-11-07 21:39] sijie commented on #2952
I think the problem might be related to concurrent updates on namespace policy. we can probably handle the bad version and retry, or put all the updates on same namespace in ordered executor.

[2018-11-07 21:47] sijie commented on #2343
This is done by #2706

[2018-11-07 21:47] #2343 closed

[2018-11-07 21:49] sijie commented on #2314
this is fixed by #2350

[2018-11-07 21:49] #2314 closed

[2018-11-07 21:52] #2289 closed

[2018-11-07 22:00] HaraldGustafsson commented on #2952
Yes, the zookeeper bad version implies that pulsar have concurrent updates.
At least a retry is needed. Don't know if a queue would help, do you only
have one entry point? Otherwise, you would still have potential concurrent
updates.
Harald

[2018-11-07 22:53] aahmed-se commented on #2891
https://github.com/apache/pulsar/pull/2957

[2018-11-07 22:53] aahmed-se commented on #2891
Will make it configurable also.

[2018-11-08 06:40] nanguawu commented on #2901
ok thanks a lot.

[2018-11-08 10:47] cbornet commented on #271
+1. Supporting gRPC would give access to a lot more clients, integration with reactive frameworks (like RxJava or Reactor), provide application-level flow control, etc...
Another stream protocol to watch IMO is [RSocket.io](http://rsocket.io/) which has built-in integration of reactive-streams spec (non blocking streams with back-pressure).

[2018-11-08 11:14] cbornet opened #2962 "Geo Replication and consumer failover"
Hi,

Could you give guidance on how to failover consumers in an async Geo Replication scenario ?
When a Pulsar cluster crashes in one region  (or is shutdown for whatever reason, or is too slow), it's a common need to failover the producers and consumers to the replicated cluster. But AFAIK, the subscription offsets are not preserved during replication (same as Kafka) so there's a need to reset th

[2018-11-08 16:44] risson opened #2963 "acknowledge message from another consumer"
Is it possible that consumer A receive message 1, but let consumer B acknowledge that message after processing it?

[2018-11-08 17:37] merlimat commented on #2963
@risson Yes, a consumer instance is able to acknowledge a message that was dispatched to a different consumer. The only thing you need to have is the `MessageId`, which can also be serialized into a `byte[]` and stored somewhere.

[2018-11-08 17:42] merlimat commented on #2962
There is the plan to implement the concept of "replicated subscriptions" in open-source Apache Pulsar, to have precise failover to a different cluster. We didn't get to actually implement it yet, but it's planned for near future.

Workarounds for that are:
 * Use active-active consumers (consume and process in both clusters)
 * Do manual failover and reset subscription to a timestamp. eg: Cluster

[2018-11-08 17:57] cbornet commented on #2962
In that case a message produced in one cluster will be consumed twice, once per cluster right ? It's not really what I want (eg. if the consumer sends mails, 2 mails are sent...)

Yes resetting the subscription is what is done with Confluent with strategies to minimize duplicates (like storing consumption timestamps). I was wondering if something built-in existed in Pulsar but it seems not yet.

[2018-11-08 22:58] rdhabalia opened #2964 "Allow subscriber to access cursor admin-api"
Right now, all cursor specific admin-apis (eg: skip-all, reset-cursor) can be only accessed by pulsar-system-admin or tenant-admin. Therefore, subscribers always have to request one of the admin to perform this operation. and this mechanism is not scaling because few of the subscribers require to call cursor-admin api more frequently.
**Solutions**

**1. Allow all subscribers (user who has `Consum

[2018-11-08 23:48] sijie commented on #2802
PrestoSQL integration test is renabled already.

[2018-11-08 23:48] #2802 closed

[2018-11-09 05:39] sijie commented on #2901
@nanguawu : fyi, @david-streamlio is working on supporting both hdfs 2.x and 3.x. Here is the pr #2966 you can follow the process

[2018-11-09 05:44] massakam opened #2967 "Topic becomes unavailable after being unloaded"
In our pulsar cluster, a specific topic became unavailable. The topic returned to normal after restarting the broker, but I would like to know the cause.

The following is the consumer log while the topic was unavailable:
https://gist.github.com/massakam/d2c3dbc1b3ea309b3fbc33f372859783#file-topic_unavailable_consumer-log

The following is log on the broker side at that time:
https://gist.github.c

[2018-11-09 13:35] ivankelly commented on #2950
@superbaobei There is a guide to setting up auth with TLS in our documents
http://pulsar.apache.org/docs/en/security-tls-authentication/

[2018-11-09 13:35] #2950 closed

[2018-11-12 13:06] codelipenghui commented on #2876
PR #2977

[2018-11-12 21:30] chrismiller commented on #2786
I see the same problem in 2.2.0. It seems like once this happens, the topic effectively becomes unusable with no way to write messages to it (even after deleting and recreating the entire tenant). Are there any workarounds?

[code]

[2018-11-13 02:32] srkukarni commented on #2786
@jerrypeng can you pl take a look? This seems rather serious.

[2018-11-13 06:02] jerrypeng commented on #2786
@merlimat have you seen this issue before?

[2018-11-13 06:04] jerrypeng commented on #2786
@merlimat have you seen this issue.  I know you are looking to redesign schema because of some race conditions

[2018-11-13 09:39] cbornet commented on #2962
If I understand well, if I have a shared subscription and need to failover to the backup cluster, I can't know which messages had been acked for this subscription, is that correct ? With a retry/dead letter queue strategy, the rollback needed could be more than 10 minutes and the amount of messages that would be duplicated could be quite huge... And I guess it would reset the retry counter (not th

[2018-11-13 15:36] #2967 closed

[2018-11-14 15:06] jiazhai opened #2984 "Provide flush method in producer for cpp client"
We already have flush() method in java api: http://pulsar.apache.org/api/client/org/apache/pulsar/client/api/Producer.html#flush--

It is better to provide a same method for cpp client.

[2018-11-14 21:57] sijie commented on #2963
@risson any thoughts on @merlimat 's comment?

[2018-11-14 22:35] sijie commented on #2749
@sijie @merlimat please help review the comments.

[2018-11-14 22:47] sijie commented on #2751
@jiazhai we might add some valiations before this method is called.

[2018-11-14 23:50] jai1 commented on #2749
The logic in validateOriginalPrincipal in PulsarWebResource seems incorrect it should loosely match the logic in invalidOriginalPrincipal in ServerCnx.java.

I will raise a PR with the fix by tomorrow EOD.

Yes - proxyRoles can be empty but it's not recommended.

[2018-11-15 07:47] foreversunyao commented on #2912
rest api could have bad performance to do this ?

[2018-11-15 08:00] codelipenghui commented on #2912
@foreversunyao I'm not sure ! Maybe better read from bookie straightforward.

[2018-11-15 08:23] codelipenghui opened #2987 "Change default AckTimeout when build consumer instance."
At present, default ackTimeoutMillis in ConsumerConfigurationData is 0. If user forgot set it, in shared model, un-ack message will not be redelivery.  If un-ack message accumulate to maxUnackMessage limit by broker, consumer will be blocked.

In version 2.2.0, support DeadLetterTopic feature. This feature based on message redelivery.

So propose change the default ackTimeoutMillis, such as 30 sec

[2018-11-15 11:05] cbornet opened #2990 "Conan recipe to build C++ client and publication to conan-center"
[Conan.io](https://conan.io/) is a popular C++ package manager. It would be very handy to have a conan recipe to build the C++ client. It would make it easy to build even on Windows, even with MSVC.
Ultimately, you could pre-build conan packages for various platforms and compilers so that it's easy to include the client lib in a conan-enabled project.

[2018-11-15 13:29] cbornet commented on #2990
I checked and all dependencies used by the C++ client seem to exist in conan except `log4cxx` (but it is optional, isn't it ?):
Boost, OpenSSL, zlib, json-cpp, curl, gtest/gmock --> conan-center
Boost-Python, protobuf,  --> bincrafters

Also the only Linux-only dependency seems to be the crc32 lib. Couldn't it be possible to use a cross-platform CRC32 so that the client can be built on Windows ?

[2018-11-15 13:32] cbornet commented on #2990
Related to #15 #2461 #2680

[2018-11-15 13:36] cbornet commented on #2461
A conan.io support would make all this much simpler

[2018-11-15 18:06] merlimat commented on #2990
@cbornet I don't have any experience with Conan.io but it seems to be a good way to package the client lib.

Yes, log4cxx is optional and disabled by default

boost-python is only needed at compile time (and we should refactor the CMakeList.txt to not require it at compile time as it's only used to build the python client wrapper).

We don't depend on crc32 libraries. We have a crc32-c implementat

[2018-11-15 19:20] nha opened #2992 "schemas feature request"
Feature request:

schemas ( https://github.com/apache/pulsar/blob/701f3ea7e3541f61f064167043de04e8a2db5c0f/pulsar-client-schema/src/main/java/org/apache/pulsar/client/api/Schema.java  )

If I want to pass arbitrary/dynamic Json schemas that are not POJOs - is there a way to pass something dynamic there?

I would like to create a Json schema that specifies a https://json-schema.org/ , or maybe a `M

[2018-11-15 19:42] nha commented on #2992
After discussion, the way to do what I want is to:

- 1 - create a schemaless topic
- 2 - use the `POST /admin/v2/schemas/:tenant/:namespace/:topic/schema` endpoint to set a schema straight after that ( http://pulsar.apache.org/docs/en/admin-api-schemas/#pulsar-admin )
- 3 - use `AUTO_PRODUCE_BYTES` as mentioned above

[2018-11-15 19:43] #2992 closed

[2018-11-15 23:15] cbornet commented on #2990
Yes. My point was more that this crc32-c implementation depends on pthread which is not natively supported on windows. Sorry for not being clear enough.
But there's actually a [conan package for pthread on windows](https://github.com/bincrafters/conan-pthread-win32) so maybe it could be used.

[2018-11-15 23:44] jai1 commented on #2749
@nkurihar - Can you help review and approve #2986

[2018-11-15 23:46] cbornet commented on #2990
Yes that's even better

[2018-11-16 09:57] sijie opened #2996 "[io] "User class must be in class path" in pulsar io localrun"
#### Expected behavior

localrun should pass with `file://` package url.

[code]

#### Actual behavior

It fails with following error:

[code]

#### Get-around Fixes

remove `file://` from `--archive` argument and remove `--classname`.

so there seems to be a problem when these two parameters are used together.

[2018-11-16 10:51] xinln opened #2997 "apache pulsar 安全认证问题"
#### Expected behavior

Tell us what should happen

#### Actual behavior

Tell us what happens instead

#### Steps to reproduce

How can we reproduce the issue

#### System configuration
**Pulsar version**: x.y

[2018-11-16 18:56] sijie commented on #2997
@xinln I guess I might know the problem. Did you follow the instructions here? (http://pulsar.apache.org/docs/en/security-tls-transport/#certificate-authority)

If so, Can you double check your openssl.cnf file?

I think there is one problem in the following command:

[code]

It should be

[code]

the first command is downloading the web page not the `openssl.cnf` file.

---

(in chinese)

想请问一下，你

[2018-11-16 18:59] Adam-Kazberuk-Narvar commented on #2581
Was a solution found to this?
I'm running into the same issue (coincidentally also setting up pulsar for websockets), I'm guessing it might also be a config issue, but having difficulty finding it

[2018-11-16 19:08] merlimat commented on #2581
@Adam-Kazberuk-Narvar I don't know the details but looks like the problem described here was due to some hostname resolution error from the websocket proxy to the broker service:

[code]

[2018-11-16 19:22] Adam-Kazberuk-Narvar commented on #2581
@merlimat, Yeah, honestly not super familiar with the inner workings yet. [Just tried getting the standalone Pulsar set up](https://pulsar.apache.org/docs/v1.19.0-incubating/getting-started/LocalCluster/), it appears to start and the internal test producer/consumers appear to function.

I'm guessing the issue is in the [Node.js implementation of producers/consumers](https://pulsar.apache.org/docs/

[2018-11-16 19:36] pablichjenkov commented on #2581
@Adam-Kazberuk-Narvar
I resolved the problem by specifying explicitly the hostname when running the pulsar standalone. The problem was that my MAC DNS config was returning a wrong domain when resolving localhost. The standalone command has an option to explicitly set the host name you want Pulsar to be launched.
On another hand I created a simple sample using the websocket api with Android, check

[2018-11-16 20:36] Adam-Kazberuk-Narvar commented on #2581
@pablichjenkov, @merlimat, thank you so much!

Just for documentation's sake (wish I read the comment!):
[code]
Hitting
`ws://127.0.0.1:${webServicePort}/ws/v2/producer/persistent/public/default/my-topic`
appears to work now.

I'll call out the Nodejs example URLs won't work out of the box
`producer/persistent/my-tenant/my-ns/my-topic1`
Swapping them for the Python URL examples worked
`producer/pe

[2018-11-17 00:15] sijie commented on #2997
fyi, I am fixing the documentation issue at #3001

[2018-11-17 00:17] sijie commented on #2987
@codelipenghui  A better solution might be set `ackTimeoutMillis` to 30 seconds if DLT is set and ackTimeoutMillis is not set yet.

[2018-11-17 00:18] sijie commented on #2877
@jiazhai any updates on this?

[2018-11-17 01:02] codelipenghui commented on #2987
👍

[2018-11-17 02:39] xinln commented on #2997
那个链接的openssl我知道，我在https://jamielinux.com/docs/openssl-certificate-authority/appendix/root-configuration-file.html  这个地址找到了对的openssl.cnf。如果openssl.cnf 是生成不了ca.cert.pem的

[2018-11-18 13:11] nha opened #3009 "documentation request: document presto http endpoint"
I asked on slack (cc @sijie) if it was possible to use the Java client to make SQL requests.
Apparently there are presto HTTP endpoints that would work as well, but they are not documented at the moment.

This is a request to document them.

[2018-11-18 17:39] merlimat opened #3012 "Intermittent failure in PulsarFunctionsThreadTest.testAutoSchemaFunction"
After adding integration tests timeout, it appears that this test is the once that never completes.

Consumer is stuck on receiving from the output topic.

https://builds.apache.org/job/pulsar_precommit_integrationtests/4932/

[code]

[2018-11-19 05:16] tonypu opened #3013 "Fail to pull the Docker image of apachepulsar/pulsar-standalone"
#### Expected behavior

The info under "Run Pulsar Standalone in Docker"
(https://pulsar.apache.org/docs/en/standalone/) , the command of `docker run -it -p 80:80 -p 8080:8080 -p 6650:6650 apachepulsar/pulsar-standalone` is not working. Either there is no such  `apachepulsar/pulsar-standalone` image available for public, or the info is missing something.
#### Actual behavior

Failed to execute the

[2018-11-19 20:46] sijie commented on #2997
reassigned to @jiazhai since he is helping @xinln

[2018-11-19 21:46] rdhabalia commented on #2964
we also want to address subscription-ownership usecase where pulsar enforces subscription access (consume, ack, admin-api) by only subscription-owner. One of the solution to configure sub-permission at namespace level implemented at #2981
however, it still doesn't enforce unless admin explicitly grants sub-permission to set of principals at namespace level.

Alternate solution to store subscriptio

[2018-11-19 23:34] sijie commented on #3013
@tonypu : I published the`pulsar-standalone` image: https://hub.docker.com/r/apachepulsar/pulsar-standalone/

and #3016 is the PR for adding `pulsar-standalone` into normal release process.

[2018-11-20 01:17] #3013 closed

[2018-11-20 07:20] jiazhai commented on #2984
pr #3020 is for this issue

[2018-11-20 09:11] jiazhai commented on #2997
After discuss with @xinln, This is a conf error. If running with pulsar standalone mode, we should change `standalone.conf` instead of `broker.conf`

[2018-11-20 15:04] jiazhai commented on #2731
As the [document](https://github.com/apache/pulsar/blob/branch-2.2/pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ConsumerHandler.java#L57) mentioned, In receive, it dispatches further messages after ack.

It seems be working as designed.

[code]

[2018-11-20 15:53] jiazhai commented on #2731
@merlimat @rdhabalia  Do you think we need break the original behaviour?
Seems the logic of [ConsumerHandler.java](https://github.com/apache/pulsar/blob/branch-2.2/pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ConsumerHandler.java) will changed a little for it.

[2018-11-20 18:37] cbornet commented on #271
And if I'm not mistaken BookKeeper uses gRPC internally, so it would be coherent to make it the base protocol in Pulsar also.

[2018-11-20 19:29] sijie commented on #271
Look forward to your PR.

gRPC is used only used for bookkeeper's table service. but the ledger service is still using custom protocol. but agreed with you, gRPC has very rich ecosystem, it is a good direction to good in general.

[2018-11-20 19:32] merlimat commented on #271
@cbornet The reason we haven't used gRPC is that it wasn't available when we started, so we went with custom protocol over protocol buffer. After that, migrating the internal protocol was a big step.

[2018-11-20 20:31] cbornet commented on #271
Yes. That's a very good reason indeed. Maybe in the future 😄 . I can understand there are bigger priorities.

[2018-11-21 07:40] codelipenghui opened #3030 "Expose Redelivery Count By Message Properties"
### Motivation

Use redelivery count as a solution for delayed message delivery feature.

For example, set ackTimeout 30 seconds in consumer, if consumer want to apply this message 60 seconds later, user can do ack when message redelivery count > 1.

### Implement

Set redelivery count to message properties(a system property) when message received in consumer.

[2018-11-21 07:41] codelipenghui commented on #2375
Delayed message redelivery feature based on expose redelivery count to client. #3030

[2018-11-21 07:43] codelipenghui commented on #3030
A solution for #2375 (delayed message delivery)

[2018-11-21 08:30] kaonick opened #3031 "Error open RocksDB database in docker"
Below is what I run in windows10's dos command

`D:\temp>docker run -it -p 6650:6650 -p 8080:8080 -v d:/temp/data:/pulsar/data apachepulsar/pulsar:2.2.0 bin/pulsar standalone`

I got this error below:

[code]

[2018-11-21 09:54] Ah39 commented on #2375
mark ,the feature have finished ??

[2018-11-21 10:14] codelipenghui commented on #2375
@Ah39 PR #3033

[2018-11-21 17:35] sijie commented on #3031
Can you try to remove “ -v d:/temp/data:/pulsar/data ” to use non-mounted directory? I think the problem is how docker handle volumes on windows.

[2018-11-21 21:38] sijie commented on #2375
@Ah39 it is not completed yet. there is an ongoing PIP for it.

[2018-11-21 21:41] sijie commented on #755
close it due to inactivities

[2018-11-21 21:41] #755 closed

[2018-11-21 21:42] sijie commented on #752
close due to no activities.

[2018-11-21 21:42] #752 closed

[2018-11-21 21:42] sijie commented on #687
ping @aahmed-se

[2018-11-21 21:45] sijie commented on #683
@merlimat is this related to your recent changes for java11?

[2018-11-21 21:46] sijie commented on #630
@jai1 is the right fix to increase the timeout in the test?

[2018-11-21 21:49] sijie commented on #614
This duplicates #788

[2018-11-21 21:49] #614 closed

[2018-11-21 21:50] sijie commented on #596
@rdhabalia is this feature still needed?

[2018-11-21 21:52] sijie commented on #1388
This seems to be fixed by #2318

[2018-11-21 21:52] #1388 closed

[2018-11-21 22:39] sijie commented on #2749
This is fixed by #2986

[2018-11-21 22:39] #2749 closed

[2018-11-21 23:42] rdhabalia commented on #596
@sijie yes, I will address this issue soon. thanks.

[2018-11-21 23:50] merlimat commented on #683
@sijie Yes, I think it would still be required to be fixed. In #3006 I just verified it compiles and run with Java 11 though I haven't ran the tests with that yet.

[2018-11-22 02:07] kaonick commented on #3031
I had tried it.
That is no problem.
Yes, I think is volumn handle error in windows.
So need for help to solve it ?

[2018-11-22 03:47] merlimat commented on #844
I think this was actually fixed in #2590 . I haven't seen this test fail anytime recently and the test code is anyway completely different.  I've run it in a tight loop and consistently passes locally, even when running in a docker inside vm env.

[2018-11-22 03:47] #844 closed

[2018-11-22 07:01] codelipenghui opened #3042 "Get stats on a exist topic but got topic not found error"
#### Expected behavior

Get a blank stats data rather than `Topic not found` error by `get partitioned stats` or `get stats` on a topic when topic have no stats data on broker.

#### Actual behavior

The topic is already created but no message in or out will get a error of `Topic not found` by get stats rest api or admin cli.

[code]

#### Steps to reproduce

1. Create a new topic
2. $ ./pulsar-ad

[2018-11-22 11:53] baby1937 opened #3044 "loadblance connect zookeeper error, broker down"
[broker.log](https://github.com/apache/pulsar/files/2607941/broker.log)

[code]

[2018-11-22 11:58] baby1937 commented on #3044
before broker down zookeeper error log:
ERROR [CommitProcessor:2:NIOServerCnxn@178] -Unexpected Exception:java.nio.channels.CancelledKeyException

[2018-11-22 12:17] jiazhai commented on #2942
Seems it happens a lot these days.

[2018-11-22 12:19] ivankelly commented on #2942
@jiazhai can you post some example runs where you've seen it happen? Did it happen locally, or only on jenkins?

[2018-11-22 13:20] jiazhai commented on #2942
https://gist.github.com/jiazhai/f758298f5a7c53081d2c80b3a575e4b7

[2018-11-22 13:20] jiazhai commented on #2942
@ivankelly above is an example in PR #2998
https://builds.apache.org/job/pulsar_precommit_integrationtests/5056/testReport/junit/org.apache.pulsar.tests.integration.offload/TestS3Offload/tiered_storage_test_suite/

[2018-11-22 15:10] ivankelly commented on #2942
The gist is a local run I guess, given the hanzi. What class of machine was it run on?

[2018-11-22 18:59] skyrocknroll commented on #2375
Getdelivery count does not cover all the use cases. We are pushing the logic to determine whether the delay has expired to the client(Implementing this in all the client languages will be repetitive & some language clients may not even get this feature implemented).  If the broker sends the message to the client after the expiry of the delay then it would be simple and straightforward to remember.

[2018-11-22 18:59] skyrocknroll commented on #2375
@sijie is there any link to the PIP definition to share?

[2018-11-22 19:12] sijie commented on #2375
@skyrocknroll : https://lists.apache.org/thread.html/977a8042581819769809f298bd2a2e9fd6b78598792c98069eb691e5@%3Cdev.pulsar.apache.org%3E this is the discussion thread.

[2018-11-22 19:30] sijie commented on #3031
@kaonick great to hear that helps. I think the problem is a problem either at docker side or rocksdb side. I don't have any immediate solution to fix that. will have to search around to see if there is any solution to fix it.

[2018-11-23 01:10] jiazhai commented on #3044
Thanks @baby1937 for reporting this.  Dumped the content out from Broker.log, and add some description in the issue.

Discussed with @baby1937 Here is the situation:
1. deploy broker and bookie on same machine.
2. zookeeper had an exception:
[code]
3, broker down, with above stack
[code]

@baby1937 is expecting broker could tolerate zk failure instead of panic.

[2018-11-23 02:51] sijie commented on #3044
@jiazhai - I think it happens during broker starting up on registering itself to zookeeper. it seems that the broker can't register itself to zookeeper, so it fails to start.

[2018-11-23 05:54] baby1937 commented on #3044
@sijie It is happening after the broker runs for a period of time. After the above error occurs, the broker is down. thx.

[2018-11-23 07:19] skyrocknroll commented on #2375
Awesome @sijie 👍 💥

[2018-11-23 08:15] ngjaying commented on #2900
Thanks for looking into it and sorry for my late reply.  I am still getting this problem in pulsar 2.2.0. I am running on Ubuntu.  I get the error on standalone and also on cluster setting up in 2 machines.

I tried both nar and jar, all have the same problem.

`15:47:58.189 [pulsar-web-30-8] WARN  org.eclipse.jetty.servlet.ServletHandler -
javax.servlet.ServletException: org.glassfish.jersey.serv

[2018-11-23 10:36] baby1937 commented on #3044
![image](https://user-images.githubusercontent.com/8623402/48939278-a8022300-ef4e-11e8-96fe-5307b74cbc3e.png)
@sijie it is the right log for the broken that crashed.

[2018-11-23 21:41] aahmed-se commented on #687
https://github.com/apache/pulsar/pull/3047

[2018-11-25 04:23] leenux opened #3051 "Fix pulsar-dashboard and docker-compose.yml,Port 8080 is valuable. We should release it."
# Port 8080 is valuable. We should release it.
#### Expected behavior

Browser at pulsar-dashboard, should be have Tenants   |   Brokers   |   Topics   |   Clusters data.

#### Actual behavior

Browser at pulsar-dashboard, Non data:No tenants,,,etc.

#### Steps to reproduce

How can we reproduce the issue

- Create file:docker-compose.yml

[code]
- docker-compose up
- browser at http://127.0.0.1:9

[2018-11-25 11:48] leenux commented on #3051
I had found how to change config.
- /volumes/cherry/configs/pulsar/standalone.conf:/pulsar/conf/standalone.conf
[code]
That is wokr fine

[2018-11-25 11:49] #3051 closed

[2018-11-25 17:06] cbornet opened #3052 "WebSocket manual consumer flow control"
Currently in the WebSocket proxy, `receiverQueueSize` is used for both sizing the internal buffer of incoming messages and also to ensure flow control with the WS-proxy client by stopping sending messages if the number of unacked messages reaches the `receiverQueueSize`.
This is a simple mode but there are cases where you want to have more control over how the messages are delivered and acked. For

[2018-11-25 19:42] #687 closed

[2018-11-25 22:41] sijie commented on #3044
@baby1937 okay I see. will take a look at how to improve this.

[2018-11-26 05:45] sijie opened #3055 "Unload should support unloading partitioned topic"
#### Expected behavior

admin.topics().unload(<partitioned-topic>);

it should unload all the partitions.

#### Actual behavior

it returns 500

#### Steps to reproduce

[2018-11-26 07:30] ngjaying commented on #2900
I finally find out the cause of this problem. My source class implements MqttCallback.
`public class MySource extends PushSource<String>  implements MqttCallback`
For some reason, the pulsar classloader cannot find this interface although it is included in the nar. I fix this by not implementing MqttCallback for my source class.

[2018-11-26 07:30] #2900 closed

[2018-11-26 12:08] codelipenghui opened #3056 "Client send timeout happens on one broker"
1. 2018.11.25 11:00:00 Restart bookie node in the cluster. some topic's producer send message timeout. After restart all brokers, most problem topic get right, but almost 3 topic still with problem. Then found problem topics owner broker is same, so we restart the broker again. All topics get right.
2. 2018.11.26 18:48:30 Two topic can't write again, after check topic's owner broker, still same br

[2018-11-26 17:07] cbornet opened #3059 "Behavior of redelivery and ackTimeout in Java client"
#### Expected behavior

With the Java client, when `ackTimeout` is specified for a consumer, unacked individual messages should be resent only after `ackTimeout` has expired.

#### Actual behavior

Unacked messages are all resent at once every `ackTimeout` period.

#### Steps to reproduce

Run this program
[code]
Output is something like:

2018-11-26T16:51:04.555Z consume 0
2018-11-26T16:51:05.552

[2018-11-27 01:57] codelipenghui commented on #3056
After check the broker dump, found some thing strange in current ledger of topic

1. lastAddPushed = 529 and lastAddConfirmed = -1
2. paddingAddOps has 530 elements

Here is the screenshot in yourkit

![image](https://user-images.githubusercontent.com/12592133/49053331-abd1c600-f22a-11e8-93e4-8b1dac494891.png)

And the broker dump file already upload to the slack:

https://apache-pulsar.slack.com/

[2018-11-27 07:21] jiazhai commented on #3056
@ivankelly
Regarding the Bk logs above, Do you think it is related with your fix: https://github.com/apache/bookkeeper/pull/1569

Through upgrade to latest pulsar, which contains your fix, would solve this issue, @codelipenghui is trying to get the reason of this issue.

[2018-11-27 08:22] sijie commented on #3056
@jiazhai I think the issue here is related to apache/bookkeeper#1569.

![screen shot 2018-11-27 at 12 11 25 am](https://user-images.githubusercontent.com/1217863/49067864-05f66b00-f1da-11e8-9d39-dbdb37e1e269.png)

![screen shot 2018-11-27 at 12 19 28 am](https://user-images.githubusercontent.com/1217863/49067916-26bec080-f1da-11e8-954f-e1f33823e5c5.png)

in the heap dump, you can see one of the Pe

[2018-11-27 12:04] ivankelly commented on #3056
v2.1.1 has the fix also, if they want a less disruptive upgrade .

[2018-11-27 14:02] ivankelly commented on #2942
The issue is due to the broker being rebooted, but I'm not sure if the client behaviour is problematic or not. It's nothing to do with offload in any case.

The sequence is:
1. Client writes a bunch of messages
2. Offload kicks some segments out to S3.
3. The test deletes a ledger and reboots the broker to ensure readback.
4. The client starts reading back the topic from the very start.

The probl

[2018-11-27 14:04] ivankelly commented on #2942
Also for completeness, the znode conflict issue is happening because the testcontainers integ tests are restarting the broker by killing the container and starting it again. The arquillian tests were using supervisorctl stop, which kills the broker gracefully.

[2018-11-27 14:49] drdrill opened #3068 "Maven Build Error 2.2.0"
#### Expected behavior

Maven build should work correctly, always, both in Linux and in Windows

#### Actual behavior

In Linux, maven build encounters error when it tries to access non-existing URL:  https://yahoo.bintray.com/maven/org/apache/apache/18/apache-18.pom

[DEBUG] Using transporter WagonTransporter with priority -1.0 for https://yahoo.bintray.com/maven
[DEBUG] Using connector BasicRepo

[2018-11-27 15:06] drdrill commented on #3068
Resolved: corrected bad password for proxy reference in .m2/settings.xml file

[2018-11-27 15:49] drdrill commented on #3068
Problems still exist.
Seems that Apache projects should not be referencing this repository:
    <repository>
      <snapshots>
        <enabled>false</enabled>
      </snapshots>
      <id>bintray-yahoo-maven</id>
      <name>bintray</name>
      <url>https://yahoo.bintray.com/maven</url>
    </repository>

[2018-11-27 17:15] drdrill opened #3069 "Maven Build Error 2.2.0 Linux"
#### Expected behavior

Successful error free build

#### Actual behavior
Build failure.
Note: Added to properties section in project level pom.xml file, but had no effect on the outcome
    <assembly.tarLongFileMode>posix</assembly.tarLongFileMode>

[INFO] Building tar: /home/user/apache-pulsar-2.2.0/apache-pulsar-2.2.0/pulsar-sql/presto-distribution/target/pulsar-presto-distribution.tar.gz
[INFO

[2018-11-27 18:05] jerrypeng commented on #3069
https://maven.apache.org/plugins/maven-assembly-plugin/faq.html#tarFileModes

[2018-11-27 18:12] jerrypeng commented on #3069
@drdrill can you try adding:

<tarLongFileMode>posix</tarLongFileMode>

to the configurations section in the assembly plugin:

https://github.com/apache/pulsar/blob/v2.2.0/pulsar-sql/presto-distribution/pom.xml#L128

Then try rebuilding and see if this solves your issue.  If it does feel free to submit a PR to put this fix in.

[2018-11-27 18:33] merlimat commented on #3068
@drdrill  Actually I was wrong, https://yahoo.bintray.com/maven is still the only place where there jars are being published.

The questions is that since this is a public repo with not auth required, where is the auth request coming from? Do you have a maven proxy in the middle?

[2018-11-27 18:46] drdrill commented on #3069
Thank you for the suggestion.  It fixed the problem.

[2018-11-27 18:46] #3069 closed

[2018-11-27 18:49] jerrypeng commented on #3069
@drdrill can you submit a PR for this fix?

[2018-11-27 18:56] drdrill commented on #3068
Yes, I do have a proxy in the middle and have corrected the password and the Linux build is now working.
However, the URL reference created by the Pulsar build does not point to a valid directory containing any jars that Pulsar needs or should use:
Valid Directory:  https://yahoo.bintray.com/maven
Valid Directory:  https://yahoo.bintray.com/maven/org/apache/

Note: there is only an "omid" director

[2018-11-27 19:13] merlimat commented on #3068
All the jars that are on Maven central should be fetched from `repo.apache.org`. Maven should be handling that. It might try on multiple repositories until it succeeds in fetching some artifact.

[2018-11-27 20:15] sijie commented on #2942
Yes. Users should do that. And Reader is preferred over Consumer in this case.

it is probably related to #2935 ?

[2018-11-28 01:45] codelipenghui commented on #3059
I tried the program in java client version 2.1.0-incubating
[code]
@jiazhai
looks like caused by the PR #2590

[2018-11-28 03:20] hiscal2015 opened #3073 "[Question] cluster mode fuctions in Kubernetes cluster"
Hi,

I can't see any documents introduce running pulsar function in cluster mode along side with broker in Kubernetes. But from broker configmap it looks like function is supported. How to use this? Do I need to customize broker image to add my jar file and yaml or something else? Thanks a lot.

![image](https://user-images.githubusercontent.com/15604715/49126796-fd985000-f2ff-11e8-82dd-12f7297b28

[2018-11-28 04:11] xluckly opened #3074 "pulsar-client produce topic -f file in cluster error if you use relative path"
pulsar-client produce topic -f file in cluster error if you use relative path
Solution：

you should use Absolute path

[2018-11-28 04:13] Hanqingkuo commented on #3074
you should use Absolute path

[2018-11-28 06:10] jiazhai commented on #2657
PR #2943 done with this. will close it.

[2018-11-28 07:08] codelipenghui opened #3077 "The client has not received the message yet but message already send to the dead letter topic."
#### Expected behavior

User process the same message many times but failed, if user set a dead letter policy, when message process times exceed the max redelivery count in dead letter policy, message will send to the dead letter topic.

#### Actual behavior

When a consumer subscribe a topic, but wait a while then start receive messages, but messages already send to dead letter topic.

#### Steps

[2018-11-28 10:35] ivankelly commented on #2942
This is surprising, though I guess we don't state otherwise anywhere. I guess immediately acknowledging would fix it, though the unload change fixes the problem anyhow.

I thought the same, but this code is in the branch I was testing.

[2018-11-28 10:41] ivankelly commented on #2942
Looking at #2935, it doesn't actually do anything to prevent the broker from serving traffic before it's ready, it just doesn't advertize it. In this case, the client doesn't need to do a lookup, because it already has an assignment for this topic. Not sure if this is problematic.

[2018-11-28 12:41] hiscal2015 commented on #3073
@sijie I'm wondering where does pulsar "store" user functions? If I delete broker pods after function created, what will happen? user functions still there?

[2018-11-28 14:13] srkukarni commented on #3073
Functions are distributed on all broker containers who have function enabled. If you take one or many of these brokers away, they get redistributed to remaining broker containers.

[2018-11-28 14:50] hiscal2015 commented on #3073
@srkukarni Is that mean:

1) If I have 10 pods, I delete 2 of them, after the 2 pods re-created by Kubernetes, functions on the 2 pods will be recovered?
2) if I delete broker deployment in Kubernetes (so all pods will be lost) I have to re-create my functions?

[2018-11-28 14:54] srkukarni commented on #3073
It depends on how you delete the pods
1a. If you just kill the pods, kubernetes will recreate the pods and the functions will be back on them
1b. If you scale down the number of broker pods from 10 to 8, the killed pods will not be recreated by kubernetes. In that case, functions running on those 2 pods will be redistributed among the remaining 8 pods
2. If all pods are deleted, functions will no

[2018-11-28 15:11] foreversunyao opened #3083 "Emhancement | NoopLoadManager could have more details for load report"
#### Expected behavior

when run pulsar-admin broker-stats load-report, should return load information even run as standalone mode, or return some load empty data instead of null

#### Actual behavior

return "null"

Tell us what happens instead

return the load normal report

#### Steps to reproduce

1, ./bin/pulsar standalone
2, ./bin/pulsar-admin broker-stats load-report
null

### Code
https://

[2018-11-28 20:34] sijie commented on #1334
pulsar's replication mechanism is handled by bookkeeper. bookkeeper is using a parallel replication scheme. with that being said, broker writes the data concurrently to a set of bookies and waiting for a majority (write-quorum-size) of responses coming back before acknowledging the publisher.

so the difference between fsync enabled and fsync disabled is that:

- fsync enabled: bookie sends respon

[2018-11-28 20:34] #2081 closed

[2018-11-28 21:33] sijie commented on #3083
@foreversunyao are you interested in contributing an improvement to this?

[2018-11-28 21:37] sijie commented on #3074
@Hanqingkuo are you interested in contributing a bug fix for this?

[2018-11-28 21:39] sijie commented on #3068
@drdrill does matteo's comment make sense to you?

[2018-11-28 21:40] sijie commented on #3059
@jiazhai can you take a look at this? as @codelipenghui pointed out, it seems to be a regression from #2590

[2018-11-28 21:45] sijie commented on #3042
@codelipenghui it sounds like there is no stats available for that topic. so it might be a simple fix to return some empty stats object instead of "topic not found". are you working on a fix for it?

[2018-11-28 21:49] sijie commented on #2404
@rdhabalia @merlimat @maskit since you guys might be more familiar with Athenz, I am wondering if anyone of you can help with task. or even commenting it about how it works :)

[2018-11-28 21:50] sijie commented on #2402
This issue was fixed by #3057

[2018-11-28 21:50] #2402 closed

[2018-11-28 21:51] sijie commented on #2394
@rdhabalia any ideas about the fix here?

[2018-11-28 21:52] sijie commented on #509
@jai1 you are working on this?

[2018-11-28 21:53] sijie commented on #386
@merlimat is there any thing we need to do more in this task?

[2018-11-28 21:55] sijie commented on #382
This is fixed by #2618

[2018-11-28 21:55] #382 closed

[2018-11-28 21:56] sijie commented on #346
close it due to inactivities in this thread. feel free to reopen it if it reoccurs

[2018-11-28 21:56] #346 closed

[2018-11-28 21:57] sijie commented on #342
@rdhabalia are you guys actively working on this?

[2018-11-28 21:59] rdhabalia commented on #2394
is it still happening, if not then we can close it for now?

[2018-11-28 22:31] sijie commented on #2942
@merlimat to read the whole thread

[2018-11-28 22:32] sijie commented on #2751
This is fixed by #3034

[2018-11-28 22:32] #2751 closed

[2018-11-28 22:37] cbornet commented on #3059
Was it really better before ? The message "0" is sent the first time at 34:26 and the second time at 34:35 where one would have expected to get it at 34:31. And the period of redelivery afterwards is 10s instead of 5s.
I think the problem comes that redelivery is done in batch, not taking into account the actual arrival time of the message. Now I understand that asking redelivery individually may

[2018-11-28 22:42] sijie commented on #2394
closed it as discussed.

[2018-11-28 22:42] #2394 closed

[2018-11-28 22:51] #2582 closed

[2018-11-28 22:55] ivankelly opened #3087 "javadoc doesn't respect the docusaurus versioning"
http://pulsar.apache.org/docs/en/client-libraries/ points to http://pulsar.apache.org/api/client
http://pulsar.apache.org/docs/en/next/client-libraries/ points to http://pulsar.apache.org/api/client

Of all the things that should be sensitive to version, javadoc is probably number 1.

[2018-11-28 23:01] rdhabalia commented on #3083
@merlimat in my opinion, I think we should not use separate `NoopLoadManager` for standalone broker but we should use `ModularLoadManager` everywhere and it should be generic enough to handle all usecases. So, I feel we should remove `NoopLoadManager` and start using ModularLoadManager everywhere.

[2018-11-28 23:58] foreversunyao commented on #3083
@sijie @rdhabalia @merlimat

Sure, I'll give it a shot.
Firstly, I need the conclusion for the direction, we will still use NoopLoadManager for some specific cases ?  or we use ModularLoadManager/LoadManager/...  as a unite entry for this function?
Thanks

[2018-11-29 00:18] cckellogg opened #3090 "kubernetes create function silently fails when broker/worker does not have the right permissions"
#### Expected behavior

When a function fails to create all resources in k8s the cli should return an error

#### Actual behavior

The cli returns "Created successfully" and no resources (pods, service, statefulset) are created in kubernetes

#### Steps to reproduce

Deploy the broker with the default service account in kubernetes

Then create a function

[2018-11-29 00:18] cckellogg commented on #3090
stack trace:
23:51:57.621 [FunctionActionerThread] INFO  org.apache.pulsar.functions.runtime.RuntimeSpawner - public/default/reverse--1 RuntimeSpawner starting function
23:51:58.422 [FunctionActionerThread] INFO  org.apache.pulsar.functions.runtime.KubernetesRuntime - Submitting the following service to k8 {"metadata":{"name":"pf-public-default-reverse"},"spec":{"clusterIP":"None","ports":[{"name"

[2018-11-29 00:44] rdhabalia commented on #3083
if we not going to use `NoOpLoadManager` then probably we can revert back #2487

[2018-11-29 00:51] merlimat commented on #3083
The ModularLoadManager has a lot of features that are unnecessary in standalone mode. In fact, with standalone, there is no load to manage.. as there's no way to send it.

As far as the standalone is concerned, we should also remove the embedded ZK as it's not needed.

The motivation for #2487 was to fix the broker restart when the broker Z-node was not cleared. This is a confusing error and unnec

[2018-11-29 01:00] codelipenghui commented on #3042
@sijie I will fix it later

[2018-11-29 01:16] drdrill commented on #3068
Yes.
My only point, stated indirectly, was to suggest removing the references in the Apache-Pulsar pom.xml to bintray to eliminated any ambiguity or unnecessary errors and confusion that Maven may generate.
Specifically, it seems to make sense to remove the following repository reference if it is not needed:
'''xml
<repository>
      <snapshots>
        <enabled>false</enabled>
      </snapshots>

[2018-11-29 01:19] sijie commented on #3083
@merlimat : so fix NoopLoadManager?

[2018-11-29 02:13] codelipenghui commented on #3077
PR #3079 for fix this issue

[2018-11-29 13:48] alapha23 opened #3094 "Error go get pulsar: Unknown type `pulsar_string_list_t` and `pulsarGetTopicPartitionsCallbackProxy`"
#### Expected behavior

So I would like to use pulsar in go and I expect the package to be install by `go get -u github.com/apache/pulsar/pulsar-client-go/pulsar
`
#### Actual behavior

So it seems there are some library version incompatibility.
[code]

#### Steps to reproduce

- Download two packages `apache-pulsar-client-2.2.0-1.x86_64.rpm  apache-pulsar-client-devel-2.2.0-1.x86_64.rpm` from htt

[2018-11-30 01:30] jiazhai commented on #3059
will look into it

[2018-11-30 04:41] huanhuang-wang opened #3098 "[Question] how to make consumer subscribe only one partition"
By using custom partitioner we let
all messages of user id 1 to 100 goes to topic A partition 1,
all messages of user id 101 to 200 goes to topic A partition 2,
...

and want to create multiple Failover subscriptions for each partition,
Failover subscription A1 with consumers(A1.x, A1.y) which consumes only message from topic A partition 1,
Failover subscription A2 with consumers(A2.x, A2.y) which

[2018-11-30 06:05] merlimat commented on #3098
@huanhuang-wang you can either user multiple topics without partitions or a single topic with partitions, there is no mandated solution.

With partitions, you can use the $TOPIC-partition-N as the topic name to subscribe to a specific subscription

[2018-11-30 06:08] huanhuang-wang commented on #3098
$TOPIC-partition-N as topic name looks great! didn't know that. thanks!

[2018-11-30 06:08] #3098 closed

[2018-11-30 07:59] Hanqingkuo commented on #3074
yes

At 2018-11-29 05:37:24, "Sijie Guo" <notifications@github.com> wrote:

@Hanqingkuo are you interested in contributing a bug fix for this?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub, or mute the thread.

[2018-12-01 01:37] sijie commented on #3083
@rdhabalia @merlimat : can we draw a conclusion here? fix NoopLoadManager or remove it?

[2018-12-01 10:48] cbornet opened #3104 "[Feature request] Namespace/topic rack affinity"
When deploying a single cluster over multiple AZ/regions, one of the main drawbacks is the cross-dc bandwidth used by the producers/consumers.
So it would be handy to be able to configure rack affinity either of namespaces or topics so that the brokers are chosen in priority on the preferred rack with fallback on other racks if no brokers are available on the preferred rack.

[2018-12-01 16:35] merlimat commented on #3104
@cbornet I think this could be achieved even today (this time for real :) ).

There is a concept of "namespace isolation". It's not super-well documented, but it's a feature that was there since the beginning. http://pulsar.apache.org/docs/en/pulsar-admin.html#ns-isolation-policy

The idea is that you can isolate namespaces to a subset of brokers and these brokers will be dedicated to these namesp

[2018-12-03 03:04] jiazhai commented on #3059
Seems indeed as @cbornet mentioned, changes in PR #2590 make it worse. I would like to use this issue to revert changes in #2590.

But as @codelipenghui requirement, we should make a more accurate redeliver.
A way todo this is that:
split acktimeout into several time-slots, and introduce a timewheel to do the redeliver for each time-slots, the more time-slots user set, the more accurate it will be

[2018-12-03 11:37] codelipenghui commented on #3042
@sijie Topics will auto delete while no active client and subscriptions.  I have already made a PR #3111 to improve the user prompts.

[2018-12-03 12:43] ivankelly commented on #2942
@merlimat pinging again.

[2018-12-03 14:46] yifan opened #3112 "broker error for prometheus metrics"
#### Expected behavior
I deployed pulsar with helm and minikube configuration in kubernetes. I tried multiple times, I having problem with one of the brokers, sometimes both brokers.  The problem has been consistent for three deployments so far.

#### Steps to reproduce
deploy pulsar with helm

#### System configuration
**Pulsar version**: x.y
image: apachepulsar/pulsar-all

#### Error in Broker.l

[2018-12-03 22:11] #3052 closed

[2018-12-04 01:06] ducquoc opened #3115 "JSONSchema should works with generic (parameterized type) POJO/DTO."
#### Expected behavior

JSONSchema should works with generic (parameterized type) POJO/DTO. No exception at runtime, or at least update documentation/errorMessage how to work-around/bypass the issue.

#### Actual behavior

Exception when running producer/consumer with `JSONSchema.of(clazz)` (or `Schema.JSON(clazz)` ) wiith generic/parameterized class:
[code]

#### Steps to reproduce

Create Produc

[2018-12-04 01:36] ducquoc opened #3116 "Error pulsar-admin functions localrun with javax validation-api 2.x (standalone)"
#### Expected behavior

Pulsar functions can be run using fat JAR without exception. (JAR build from Spring Data JPA - Hibernate 5.x with Hibernate validator & *validation-api 2.x* , gradle shadow plugins)

#### Actual behavior

Exception:
[code]

#### Steps to reproduce

1/ Create a Spring JPA project which use Hibernate vendor, with dependencies Hibernate Validator 6.x and javax validation-api 2

[2018-12-04 09:52] cbornet opened #3119 "[Feature request] Make brokers read on closest Bookie"
Rack-aware policy can be used to place bookies on different racks/AZ/regions.
Brokers can be isolated in racks/AZ/regions with a namespace-isolation-policy (#3104). With this cross-dc bandwidth can be minimized between clients and brokers.
Now to minimize cross-dc bandwidth between brokers and bookies, brokers should be aware of their own rack and of the rack location of bookies. Then they can do

[2018-12-04 15:19] pvanderlinden opened #3121 "Several issues with the kubernetes generic example"
#### Expected behavior
It should be able to be adjusted to run more then one bookie.

#### Actual behavior
When you adjust the kubernetes example to run more then one bookie without multiple kubernetes nodes, the second bookie will crash with `There are directories without a cookie, and this is neither a new environment, nor is storage expansion enabled. Empty directories are [data/bookkeeper/jour

[2018-12-04 15:21] pvanderlinden commented on #3121
The zookeeper fix might not be needed as kubernetes will just restart the pod and by that time zookeeper should be available

[2018-12-04 18:44] sijie commented on #3121
copied the conversation from slack to here. I think the main problem is the deployment was changed to using statefulset deployment, but it still using `hostIp` as the advertised address. It is a problem of documentation. I would update the documentation to address it.

[code]

[2018-12-04 18:50] sijie commented on #3119
@cbornet I think it should be already available via configuring `reorderReadSequenceEnabled` in bookkeeper client. https://github.com/apache/bookkeeper/blob/master/bookkeeper-server/src/main/java/org/apache/bookkeeper/conf/ClientConfiguration.java#L1130

I need to check whether this is exposed at broker configuration or not.

[2018-12-04 19:30] cckellogg opened #3122 "kubernetes fucntion labels are not formatted correctly"
Kubernetes does not allow "/" in the label or selector values

* spec.selector: Invalid value: "public/default/log": a valid label must be an empty string or consist of alphanumeric characters, '-', '_' or '.', and must start and end with an alphanumeric character (e.g. 'MyValue',  or 'my_value',  or '12345', regex used for validation is '(([A-Za-z0-9][-A-Za-z0-9_.]*)?[A-Za-z0-9])?')
* spec.select

[2018-12-04 19:33] jerrypeng commented on #3116
Interesting.  We shade almost everything in the function instance jar but not javax.  Not sure if its standard to shade javax though.  A quick solution would also be to shade javax in your uber jar.

[2018-12-04 21:30] cbornet commented on #3119
Also it seems the broker BK client has support for RackawareEnsemblePlacementPolicy but not for RegionAwareEnsemblePlacementPolicy.

[2018-12-04 22:03] jerrypeng commented on #3115
So we use Avro underneath to generate a schema for the class.  Parameterized/generics in Java are currently not support for schema generation in Avro.  Though there is discussion and a PR to add that:

https://issues.apache.org/jira/browse/AVRO-2248

https://github.com/apache/avro/pull/356

Though not sure if that is ever going to get merged in.

[2018-12-04 22:57] sijie commented on #3119
@cbornet :

that would be great!

from bookkeeper client perspective, the ensemble placement policy will use some sort of DNS resolver to resolve a bookie into its network location. the network locations will form a network topology of bookies. it will then use that the compute the shortest network path to find the best bookie to contract to.

in the context of pulsar broker, pulsar provides a RES

[2018-12-04 23:57] cbornet commented on #3119
Actually, reading the code, it seems that the client will already use `selectFromNetworkLocation` which will do `selectRandomFromRack` and fallback to `selectRandom`. So maybe there's nothing to do for racks and the client already reads from its detected rack in priority ?

Also looking at the code, it seems that the client will use the same DNSResolver as the bookies to determine its own rack: ht

[2018-12-05 00:01] merlimat commented on #3119
I might work or not. I haven't tried.

In any case we should package that in a better way, by having option to directly configure racks for brokers.

[2018-12-05 00:41] cbornet commented on #3119
About RegionAwareEnsemblePlacementPolicy  vs RackawareEnsemblePlacementPolicy, it seems the former one will order between regions to match the region of the client whereas the latter will not do the same for racks: https://github.com/apache/bookkeeper/blob/5602c51192483075686746afb84c3449a470a98d/bookkeeper-server/src/main/java/org/apache/bookkeeper/client/RackawareEnsemblePlacementPolicyImpl.java

[2018-12-05 01:58] grantwwu opened #3127 "Python Pulsar client appears to throw regular `Exception`s instead of `PulsarException`s"
#### Expected behavior
The Python client should throw a subclass of `Exception`, not just `Exception`.

#### Actual behavior
An Exception is thrown.  See, for example:

[code]

To demonstrate it's not a subclass:

[code]
#### Steps to reproduce
Easiest way is probably supply a bogus URL to get a ConnectError

#### System configuration
**Pulsar version**: 2.2.0 for both Pulsar and the Python client

[2018-12-05 13:41] ducquoc commented on #3115
Thank you for your quick response.

I hope the Avro fix will be merged soon (and not much performance overhead). Until then I will apply the work-around java.lang.Object - sufficient so far :)

[2018-12-05 16:14] ducquoc commented on #3116
Thank you for the suggested solution, but I had tried to shade validation-api (either 2.x or 1.x) in my uber jar (gradle shadow plugin - very similar to maven shade), that still raises the above exception when Spring JPA invokes some Hibernate method.

Besides, the last time I checked the instance jar has validation-api shaded (1.1.0.Final in Pulsar 2.2.0 )

I will extract a simple sample with sha

[2018-12-05 21:55] ivankelly commented on #3104
@merlimat could you followup?

[2018-12-05 21:59] ivankelly commented on #2476
@sijie looks like this, #2477 & #2478 can be closed, right?

[2018-12-05 22:10] ivankelly commented on #2442
@jiazhai @sijie is this complete? I see debezium stuff in the tree

[2018-12-05 22:10] ivankelly commented on #2441
@sijie can this be closed?

[2018-12-05 22:15] ivankelly commented on #190
Closing this for now, please reopen if you see again

[2018-12-05 22:15] #190 closed

[2018-12-05 22:15] ivankelly commented on #173
Closing since there's been no update in over 18 months.

[2018-12-05 22:15] #173 closed

[2018-12-05 22:16] ivankelly commented on #137
Closing for now since there's been no response. It looks like subscriptionInitialPosition solves the usecase

[2018-12-05 22:16] #137 closed

[2018-12-05 22:17] ivankelly commented on #136
Closing due to lack of activity. Feel free to reopen if you want to pick it up.