[2022-11-11 07:27] tisonkun commented on #2559
Closed as stale.

Feel free to open a new issue if it's still relevant to the maintained versions.

[2022-11-11 07:27] #2559 closed

[2022-11-11 07:30] tisonkun commented on #271
Closed as answered by https://github.com/apache/pulsar/issues/271#issuecomment-738815393. New questions or issues can be created separately.

[2022-11-11 07:30] #271 closed

[2022-11-11 07:30] tisonkun commented on #342
Closed as stale.

Feel free to open a new issue if it's still relevant to the maintained versions.

[2022-11-11 07:30] #342 closed

[2022-11-11 08:07] tisonkun commented on #2566
Closed as stale.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. If it's still relevant, please open an issue there.

[2022-11-11 08:07] #2566 closed

[2022-11-11 08:09] tisonkun commented on #1432
Closed as stale.

The development of this initiative seems stalled and this thread doesn't contain too much information. If one wants to revive the proposal, please open a brand new thread.

[2022-11-11 08:09] #1432 closed

[2022-11-11 08:12] tisonkun commented on #2682
Closed as stale.

Feel free to open a new issue if it's still relevant to the maintained versions.

[2022-11-11 08:12] #2682 closed

[2022-11-11 08:14] tisonkun commented on #2489
Closed as stale.

The development of this initiative seems stalled and this thread doesn't contain too much information. If one wants to revive the proposal, please open a brand new thread.

[2022-11-11 08:14] #2489 closed

[2022-11-11 08:14] tisonkun commented on #4202
Closed as stale.

The development of #2489 seems stalled and this thread doesn't contain too much information. If one wants to revive the proposal, please open a brand new thread.

[2022-11-11 08:14] #4202 closed

[2022-11-11 08:17] tisonkun commented on #4215
Closed as stale.

Feel free to open a new issue if it's still relevant to the maintained versions.

[2022-11-11 08:17] #4215 closed

[2022-11-11 08:17] tisonkun commented on #3614
Closed as stale.

The development of this initiative seems stalled and this thread doesn't contain too much information. If one wants to revive the proposal, please open a brand new thread.

IIRC we release connectors in NAR format, not sure whether it's supported already.

[2022-11-11 08:17] #3614 closed

[2022-11-11 08:21] tisonkun commented on #3576
Closed as implemented and stale.

Feel free to create a separated document issue if it's still relevant.

[2022-11-11 08:21] #3576 closed

[2022-11-11 08:22] tisonkun commented on #3733
The module is removed.

Closed as invalid. Perhaps it's something you can report to https://github.com/streamnative/kop.

[2022-11-11 08:22] #3733 closed

[2022-11-11 08:24] tisonkun commented on #4775
Closed as stale.

The development of this initiative seems stalled and this thread doesn't contain too much information. If one wants to revive the proposal, please open a brand new thread.

[2022-11-11 08:24] #4775 closed

[2022-11-11 08:25] #4672 closed

[2022-11-11 08:28] tisonkun commented on #4642
The related code has evolved quite a lot.

Closed as stale.

Feel free to open a new issue if it's still relevant to the maintained versions.

[2022-11-11 08:28] #4642 closed

[2022-11-11 08:28] tisonkun commented on #4397
Closed as stale.

Feel free to open a new issue if it's still relevant to the maintained versions.

[2022-11-11 08:28] #4397 closed

[2022-11-11 08:29] tisonkun commented on #4355
It seems not recent reports. Closed as stale.

Feel free to open a new issue if it's still relevant to the maintained versions.

[2022-11-11 08:29] #4355 closed

[2022-11-11 08:30] tisonkun commented on #886
Closed as stale.

I'll try to schedule some time to revive disabled tests. But it should be a brand new thread. Currently, there is no "unstable test testConsumerBlockingWithUnAckedMessagesAndRedelivery".

[2022-11-11 08:30] #886 closed

[2022-11-11 08:31] #2569 closed, assigned to nobody

[2022-11-11 08:46] tisonkun commented on #5437
Closed as stale and no recent reports.

Feel free to open a new issue if it's still relevant to the maintained versions.

[2022-11-11 08:46] #5437 closed

[2022-11-11 08:47] tisonkun commented on #5438
Closed as stale and no recent reports.

Feel free to open a new issue if it's still relevant to the maintained versions.

[2022-11-11 08:47] #5438 closed

[2022-11-11 08:48] tisonkun commented on #6924
Closed as answered.

Feel free to open a new issue if it's still relevant to the maintained versions.

[2022-11-11 08:48] #6924 closed

[2022-11-11 08:59] tisonkun commented on #7213
Closed as stale.

The development of the Kafka adapter has been permanently moved to https://github.com/apache/pulsar-adapters. If it's still relevant, please open an issue there.

[2022-11-11 08:59] #7213 closed

[2022-11-11 09:01] tisonkun commented on #7254
Closed as done.

[2022-11-11 09:01] #7254 closed

[2022-11-11 09:02] tisonkun commented on #7112
Closed as stale.

The development of the Helm Chart has been permanently moved to https://github.com/apache/pulsar-helm-chart. If it's still relevant, please open an issue there.

[2022-11-11 09:02] #7112 closed

[2022-11-11 09:03] tisonkun commented on #7569
Closed as stale and answered.

Feel free to open a new issue if it's still relevant to the maintained versions.

[2022-11-11 09:03] #7569 closed

[2022-11-11 09:06] tisonkun commented on #5866
Closed as stale. I suggest you report pulsar-flink related issues at https://github.com/streamnative/flink or https://issues.apache.org/jira/projects/FLINK/issues.

[2022-11-11 09:06] #5866 closed

[2022-11-11 09:08] tisonkun commented on #6907
Closed as stale.

The development of this initiative seems stalled and this thread doesn't contain too much information. If one wants to revive the proposal, please open a brand new thread.

[2022-11-11 09:08] #6907 closed

[2022-11-11 09:08] tisonkun commented on #7636
Closed as stale.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. If it's still relevant, please open an issue there.

[2022-11-11 09:08] #7636 closed

[2022-11-11 09:09] tisonkun commented on #7726
Closed as stale.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. If it's still relevant, please open an issue there.

[2022-11-11 09:10] tisonkun commented on #8772
Closed as stale.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. If it's still relevant, please open an issue there.

[2022-11-11 09:10] #8772 closed

[2022-11-11 09:24] tisonkun commented on #6901
Closed as stale.

The development of the Go client has been permanently moved to https://github.com/apache/pulsar-client-go. If it's still relevant, please open an issue there.

[2022-11-11 09:24] #6901 closed

[2022-11-11 09:25] tisonkun commented on #6864
Closed as stale.

The development of the Go client has been permanently moved to https://github.com/apache/pulsar-client-go. If it's still relevant, please open an issue there.

[2022-11-11 09:25] #6864 closed

[2022-11-11 09:25] tisonkun commented on #6556
Closed as stale.

The development of the Go client has been permanently moved to https://github.com/apache/pulsar-client-go. If it's still relevant, please open an issue there.

[2022-11-11 09:25] #6556 closed

[2022-11-11 09:26] tisonkun commented on #17917
@michaeljmarshall agree and file https://github.com/apache/pulsar/issues/18347. I'm doing this now.

[2022-11-11 09:27] tisonkun commented on #4307
Closed as stale.

The development of the Go client has been permanently moved to https://github.com/apache/pulsar-client-go. If it's still relevant, please open an issue there.

[2022-11-11 09:27] #4307 closed

[2022-11-11 09:52] tisonkun commented on #15830
Fixed at 2.10.1.

[2022-11-11 09:52] #15830 closed

[2022-11-11 10:37] #18353 closed

[2022-11-11 11:03] codelipenghui commented on #18408
Do you see which threads consumed lots of the CPU? If you are able to reproduce the issue. It's better to do some CPU profiling by using https://github.com/jvm-profiling-tools/async-profiler or other tools. So that we can understand which thread consumed the CPU resources

[2022-11-11 12:55] #17513 closed

[2022-11-11 15:32] hpvd commented on #18348
when looking through the security report again,
I was wondering why there is netty version 3.10.6 listet with 3 named vulnerabilities.
This is a version from the year 2016 (https://mvnrepository.com/artifact/io.netty/netty/3.10.6.Final)
and as far I have seen, we have upgraded to >netty 4.1

the question:
Can it also be a part of the problem that we only upgrade "some points of use" in the code wh

[2022-11-11 16:32] hpvd commented on #18338
not only some vulnerabilities are (very) old, but also the available fixes:
![2022-11-11_16h19_131](https://user-images.githubusercontent.com/5681880/201386511-ed0ac95d-9f66-4c68-ae2b-e6c413c23ec1.png)

[2022-11-11 16:34] hpvd commented on #18348
just add some release dates of the versions with fixes:
![2022-11-11_16h19_131](https://user-images.githubusercontent.com/5681880/201386827-d3b9ea86-884e-4bed-9612-36742cc012b9.png)

[2022-11-11 17:20] pgier commented on #15819
I'm not sure if this is exactly the same issue, but what I'm seeing is when I disconnect from a subscription, the message/byte count for that subscription goes back down to zero.

[2022-11-11 17:44] michaeljmarshall commented on #15819
@pgier - a similar issue was fixed here https://github.com/apache/pulsar/pull/10644. Can you clarify what you mean by "disconnect from a subscription"? That'll help me with looking into the issue.

[2022-11-11 18:21] pgier commented on #15819
@michaeljmarshall I mean when the consumer disconnects.  So, for example ctrl-c using pulsar-client.

[2022-11-11 18:58] michaeljmarshall commented on #15819
That's a very helpful observation @pgier. @dlg99 - any chance you're able to look into this again?

[2022-11-12 03:52] poorbarcode commented on #18300
another one:
 - https://github.com/apache/pulsar/actions/runs/3437251092/jobs/5731951247

[2022-11-12 09:29] labuladong opened #18439 "[Bug] wireshark lua script not work"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Master version of Pulsar.

Version 4.0.1 (v4.0.1-0-ge9f3970b1527) of Wireshark.

### Minimal reproduce step

https://github.com/apache/pulsar/pull/13564 add a lua script to parse Pulsar command, which is great.

I follow the step [here](https://github.com/apa

[2022-11-12 09:49] labuladong commented on #18439
cc @leizhiyuan

[2022-11-12 10:20] leizhiyuan commented on #18439
https://github.com/apache/pulsar/pull/15029

I fixed some issue, but need someone's review.

you can give a try

but If it is not ok, please upload your pcap file , I will upgrade my wireshark(I use 4.0.0 (v4.0.0-0-g0cbe09cd796b).) and test it again

[2022-11-12 12:47] tisonkun commented on #18314
another instance https://github.com/apache/pulsar/actions/runs/3446107017

It remains after 3 times of rerun. I highly suspect that it steadily fails now.

[2022-11-12 14:31] hzh0425 commented on #14495
Hi, what is the current status of this issue? Can I take this issue? @aloyszhang @codelipenghui

[2022-11-12 19:48] Somnium99 opened #18441 "[Bug] Unable to run locally using IntelliJ + Ventura MacOS"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

OS : 13.0.1 Ventura MacOS
Pulsar : 2.10.2

### Minimal reproduce step

build.gradle.kts :
[code]

 also tried :
[code]

Main.kt :
[code]

On running the program I get :
[code]

### What did you expect to see?

No error. And a functioning program.

### What di

[2022-11-13 02:02] labuladong commented on #18439
Thanks, I installed Wireshark V3.6.9, and this issue disappeared. You can try Wireshark 4.0.1 and just create a simple producer, this issue will occur.

[2022-11-13 02:20] leizhiyuan commented on #18439
ok,I will check it ,maybe there has an exception in wireshark 4.0.1 or some api can not used in higher version

[2022-11-13 02:26] labuladong commented on #18441
I think `Connection refused: localhost/127.0.0.1:6650` is the root cause.

Have you started the [pulsar standalone](https://pulsar.apache.org/docs/getting-started-standalone/) first?

[2022-11-13 03:44] nullscript opened #18442 "[Bug] [Dockerfile build] Malformed entry 3 in list file /etc/apt/sources.list (URI parse)"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

OS: win10
Java: 18.0.2.1
maven: 3.8.6
WSL2: Ubuntu-20.04
docker: 4.13.1

### Minimal reproduce step

after sucessfully running
`mvn clean install -DskipTests`
run
`mvn package -Pdocker,-main -am -pl docker/pulsar-all -DskipTests`

get this errors

### What di

[2022-11-13 06:20] Somnium99 commented on #18441
Ok, so I tried 3 ways of installing and running pulsar, and only one worked.

I. brew - problem exists
[code]

II. download local binary - problem exists
[code]

III. downloading and running via Docker - **Works!**
[code]

[2022-11-13 06:57] nullscript opened #18443 "[Bug] [build] /pulsar/bin/install-pulsar-client.sh: Permission denied"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

OS: win10
Java: 18.0.2.1
maven: 3.8.6
WSL2: Ubuntu-20.04
docker: 4.13.1

### Minimal reproduce step

after sucessfully running
`mvn clean install -DskipTests`
run
`mvn package -Pdocker,-main -am -pl docker/pulsar-all -DskipTests`

### What did you expect to s

[2022-11-13 07:21] labuladong commented on #18441
I guess you are using 2.10.x version of Pulsar on m1 MacBook. In 2.10.x, there will be an issue using the second way, and the newer version will resolve that issue.

[2022-11-13 07:23] Somnium99 commented on #18441
No it's actually a quite an old macbook - Macbook Pro 2019 , 2.6 GHz 6-Core Intel Core i7

[2022-11-13 07:36] labuladong commented on #18441
OK, maybe you can search your problem in issues. Or just use docker :)

[2022-11-13 18:31] pgier commented on #15819
The issue seems to be that pulsar_out_bytes_total and pulsar_out_messages_total are calculated by adding up the values from the currently connected consumers, instead of just using the subscription stats directly.  I'm not sure why it was done this way, but I created #18451 to hopefully address this.

[2022-11-14 02:12] tisonkun commented on #18442
Error code 100 is generally about network failure. Retry or setting another mirror proxy via `UBUNTU_MIRROR=` would help.

[2022-11-14 02:14] #18347 closed

[2022-11-14 02:15] tisonkun commented on #1459
Closed as stale. Please open a new issue if it's still relevant to maintain versions.

[2022-11-14 02:15] #1459 closed

[2022-11-14 02:17] tisonkun commented on #5021
Closed as stale. The development of Python client is permanently moved to https://github.com/apache/pulsar-client-python.

[2022-11-14 02:17] #5021 closed

[2022-11-14 02:18] tisonkun commented on #4861
Closed as answered.

[2022-11-14 02:18] #4861 closed

[2022-11-14 02:18] tisonkun commented on #5350
Closed as stale. Please open a new issue if it's still relevant to maintain versions.

[2022-11-14 02:20] tisonkun commented on #5683
Closed as stale. Please open a new issue if it's still relevant to maintain versions.

[2022-11-14 02:20] #5683 closed

[2022-11-14 02:21] tisonkun commented on #6002
Closed as stale. Please open a new issue if it's still relevant to maintain versions.

[2022-11-14 02:21] #6002 closed

[2022-11-14 02:25] tisonkun commented on #6022
Closed as workaround provided and no one worked on the suggested alternative.

BTW, @merlimat doesn't `Authentication` already implement `Serializable`?

[2022-11-14 02:25] #6022 closed

[2022-11-14 02:26] tisonkun commented on #6035
Closed as invalid. We're current using GitHub Actions for CI.

[2022-11-14 02:26] #6035 closed

[2022-11-14 07:20] benbro commented on #4861
There is still no good solution for retrying long running jobs.

[2022-11-14 08:28] harissecic commented on #4861
I think there's plenty of _good enough_ workarounds but I agree there should be one optimal for long running consumers out-of-the-box. Just to list a few:
1. Using message properties on consumers with `reconsumeLater` - not sure which version starts to support this feature but adding properties to the message like `processing=true` and later `isDone=true` would require just a little extra code to

[2022-11-14 08:33] tisonkun commented on #4861
I'm moving this discussion to the Discussions forum since it's an open-ended discussion instead of an actionable task :)

[2022-11-14 08:47] tisonkun commented on #4086
Closed as stale.

Currently, the packaging logic is located in `docker` folder under the code repo. If anyone is interested in this topic, feel free to do some investigations.

[2022-11-14 08:47] #4086 closed

[2022-11-14 08:48] tisonkun commented on #4010
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 08:48] #4010 closed

[2022-11-14 08:52] tisonkun commented on #4051
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 08:52] #4051 closed

[2022-11-14 08:53] tisonkun commented on #4167
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 08:53] #4167 closed

[2022-11-14 08:54] tisonkun commented on #4940
@BewareMyPower IIRC you're working on the message ID related stuff now. Do you have this issue in mind?

[2022-11-14 08:55] tisonkun commented on #4906
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 08:55] #4906 closed

[2022-11-14 08:56] tisonkun commented on #5616
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 08:57] tisonkun commented on #5586
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

Open-ended discussions can be posted at the Discussions forum.

[2022-11-14 08:57] #5586 closed

[2022-11-14 08:58] tisonkun commented on #5471
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 08:58] #5471 closed

[2022-11-14 08:58] tisonkun commented on #5370
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 08:58] #5370 closed

[2022-11-14 08:59] tisonkun commented on #5740
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 08:59] #5740 closed

[2022-11-14 08:59] tisonkun commented on #5727
Closed as fixed.

[2022-11-14 08:59] #5727 closed

[2022-11-14 09:01] tisonkun commented on #6146
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 09:01] #6146 closed

[2022-11-14 09:04] tisonkun commented on #5694
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

If we don't have a real-world issue on this NPE, I tend to close this kind of issue if there's no volunteer to improve.

[2022-11-14 09:04] #5694 closed

[2022-11-14 09:07] tisonkun commented on #5959
Closed as stale. There can be other issues about the Client Features Matrix, but we don't continue everything about it under the certain "To be Updated to 2.4.2" issue.

Open-ended discussion can be posted at the Discussions forum.

[2022-11-14 09:07] #5959 closed

[2022-11-14 09:07] tisonkun commented on #6254
Closed as stale and no recent report. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 09:07] #6254 closed

[2022-11-14 09:09] tisonkun commented on #6256
Closed as stale and no recent report. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 09:09] #6256 closed

[2022-11-14 09:09] tisonkun commented on #6267
Closed as stale and no recent report. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 09:09] tisonkun commented on #6299
Closed as stale and no recent report. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 09:10] tisonkun commented on #6300
Closed as stale and no recent report. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 09:10] #6300 closed

[2022-11-14 09:11] #6301 closed

[2022-11-14 09:11] tisonkun commented on #6302
Closed as stale and no recent report. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 09:11] #6302 closed

[2022-11-14 09:12] tisonkun commented on #6304
Closed as stale and no recent report. Please open a new issue if it's still relevant in maintained versions.

IIRC I fixed a related issue at #17849.

[2022-11-14 09:12] tisonkun commented on #6306
Closed as stale and no recent report. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 09:12] #6306 closed

[2022-11-14 09:12] tisonkun commented on #6332
Closed as stale and no recent report. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 09:12] #6332 closed

[2022-11-14 09:14] BewareMyPower commented on #4940
Yeah. I think we should remove the `MultiMessageIdImpl` class and disable `getLastMessageId` API for the multi-topics consumer. Instead, we should add a new API. But I'm still trying to figure out a good way and preparing a proposal.

[2022-11-14 09:15] tisonkun commented on #6332
@devinbost Thanks a lot for reporting these flaky tests at that moment. Sorry that the community doesn't have enough time to catch it up then.

As time goes on, the Pulsar codebase evolved a lot and I have to close these reports since it can be hard to validate to the current codebase. Now we have a dedicated issue form to file a ticket for flaky tests. If you're sure that several test cases are s

[2022-11-14 09:17] tisonkun commented on #6352
Closed as stale and no recent report. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 09:17] #6352 closed

[2022-11-14 09:18] tisonkun commented on #6369
Closed as stale and no recent report. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 09:18] #6369 closed

[2022-11-14 09:18] tisonkun commented on #6370
Closed as stale and no recent report. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 09:18] #6370 closed

[2022-11-14 09:18] tisonkun commented on #6371
Closed as stale and no recent report. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 09:18] #6371 closed

[2022-11-14 09:18] tisonkun commented on #6385
Closed as stale and no recent report. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 09:18] #6385 closed

[2022-11-14 09:18] tisonkun commented on #6387
Closed as stale and no recent report. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 09:18] #6387 closed

[2022-11-14 09:19] tisonkun commented on #6484
Closed as stale. 2.5 series is end of life.

[2022-11-14 09:19] #6484 closed

[2022-11-14 09:20] #7546 closed

[2022-11-14 09:21] tisonkun commented on #7210
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 09:21] #7210 closed

[2022-11-14 09:21] #7019 closed

[2022-11-14 09:23] tisonkun commented on #5657
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

The development of the Python client is permanently moved to https://github.com/apache/pulsar-client-python.

[2022-11-14 09:23] #5657 closed

[2022-11-14 09:24] tisonkun commented on #6614
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 09:24] #6614 closed

[2022-11-14 09:24] tisonkun commented on #6334
Closed as information delivered.

[2022-11-14 09:24] #6334 closed

[2022-11-14 09:24] tisonkun commented on #6536
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 09:24] #6536 closed

[2022-11-14 09:25] #4654 closed

[2022-11-14 09:25] tisonkun commented on #386
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 09:26] tisonkun commented on #6670
Closed as stale and answered. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 09:26] tisonkun commented on #6055
Closed as answered.

[2022-11-14 09:26] #6055 closed

[2022-11-14 09:26] tisonkun commented on #6723
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 09:26] #6723 closed

[2022-11-14 09:27] #18395 closed

[2022-11-14 09:27] tisonkun commented on #14534
@ypzhuang Thanks for your report. Closed as fixed.

[2022-11-14 09:27] #14534 closed

[2022-11-14 09:27] tisonkun commented on #8583
Closed as answered.

[2022-11-14 09:27] #8583 closed

[2022-11-14 09:30] tisonkun commented on #7614
Closed as answered.

[2022-11-14 09:30] #7614 closed

[2022-11-14 09:31] tisonkun commented on #14499
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

This seems not a feature request. If you'd like to ask a question, you can go to https://github.com/apache/pulsar/discussions/categories/q-a.

[2022-11-14 09:31] #14499 closed

[2022-11-14 09:46] tisonkun commented on #4940
@BewareMyPower Make sense. Then you can take over this issue and close it with a fix or superseding proposal :)

[2022-11-14 10:08] tisonkun commented on #6022
Found https://github.com/apache/pulsar/pull/10574 that can be related.

[2022-11-14 10:27] startjava opened #18460 "[Doc] Does this "cluster-specific" represent the zk cluster?"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

https://pulsar.apache.org/docs/concepts-architecture-overview/

One or more brokers handles and load balances incoming messages from producers, dispatches messages to consumers, communicates with the Pulsar configuration store t

[2022-11-14 10:36] startjava commented on #18460
cluster-specific represent ZooKeeper cluster?
cluster-specific represent Pulsar cluster?
cluster-specific represent BookKeeper cluster?

[2022-11-14 13:02] tisonkun commented on #11793
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 13:02] #11793 closed

[2022-11-14 13:05] tisonkun commented on #11796
Closed as a duplicate of #11282.

[2022-11-14 13:05] #11796 closed, assigned to nobody

[2022-11-14 13:06] #11787 closed, assigned to nobody

[2022-11-14 13:07] #11751 closed

[2022-11-14 13:21] momo-jun commented on #18460
The paragraph starts with `In a Pulsar cluster` so I think it represents a Pulsar cluster.
What you are suggesting is also correct. The difference is the original sentence adds an emphasis on the 1-on-1, that is, one ZooKeeper cluster serves a specific Pulsar cluster. Hope it helps.

[2022-11-14 14:16] tisonkun commented on #6540
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 14:16] #6540 closed

[2022-11-14 14:17] tisonkun commented on #6459
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

BTW, the development of the Python Client is permanently moved to https://github.com/apache/pulsar-client-python.

[2022-11-14 14:17] #6459 closed

[2022-11-14 14:20] tisonkun commented on #6818
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

From the latest `pom.xml` file, there's no `pulsar.protobuf.shaded.version` dependency.

[2022-11-14 14:20] #6818 closed

[2022-11-14 14:22] tisonkun commented on #6646
Closed as stale. Please open a new issue if it's still relevant in maintained versions. A new issue can attract more attention if it's still a flaky test.

[2022-11-14 14:22] #6646 closed

[2022-11-14 14:23] tisonkun commented on #3330
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 14:23] #3330 closed

[2022-11-14 14:24] tisonkun commented on #5128
IIRC this functionality is supported by BookKeeper now.

Closed as stale. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 14:24] #5128 closed

[2022-11-14 14:27] tisonkun commented on #5725
Closed as fixed by #15693.

[2022-11-14 14:33] tisonkun commented on #13126
Closed as stale. Please open a new issue if it's still relevant in master branch.

For development hint, we can post a discussion thread in the Discussion form, or add it to the contribution guide: https://pulsar.apache.org/contribute/.

[2022-11-14 14:40] tisonkun commented on #12211
Closed as fixed.

IIUC https://pulsar.apache.org/reference hosts all CLI docs for minor releases.

[2022-11-14 14:40] #12211 closed

[2022-11-14 14:43] tisonkun commented on #12199
Closed as won't do. I believe this is by design. Always pass absolute path for arguments is more stable.

[2022-11-14 14:43] #12199 closed

[2022-11-14 14:44] tisonkun commented on #5650
Closed as won't do. I believe this is by design. Always pass absolute path for arguments is more stable.

[2022-11-14 14:45] tisonkun commented on #12154
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

BTW, the development of the C++ client is permanently moved to https://github.com/apache/pulsar-client-cpp.

[2022-11-14 14:45] #12154 closed

[2022-11-14 14:46] tisonkun commented on #12002
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

BTW, the development of the Python client is permanently moved to https://github.com/apache/pulsar-client-python.

[2022-11-14 14:46] #12002 closed

[2022-11-14 14:48] tisonkun commented on #11926
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

Also, the issue report is lack of log, error message or reproduce steps so that we can hardly look into it.

[2022-11-14 14:48] #11926 closed

[2022-11-14 14:48] tisonkun commented on #11904
Closed as stale. The development of the Python client is permanently moved to https://github.com/apache/pulsar-client-python.

[2022-11-14 14:48] #11904 closed

[2022-11-14 14:49] tisonkun commented on #11899
Closed as stale. The development of the Python client is permanently moved to https://github.com/apache/pulsar-client-python.

[2022-11-14 14:49] #11899 closed

[2022-11-14 14:51] #11873 closed

[2022-11-14 14:53] tisonkun commented on #11745
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

Also, I suggest you ask MOP related issues on https://github.com/streamnative/mop or https://forum.streamnative.io/c/native/21.

[2022-11-14 14:53] #11745 closed

[2022-11-14 15:01] tisonkun commented on #11532
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

Please don't attach so many logs. No one is willing to debug with such an inline context. You can upload a log file instead.

BTW, I suggest you report KOP related issues on https://github.com/streamnative/kop.

[2022-11-14 15:01] #11532 closed

[2022-11-14 15:02] tisonkun commented on #11053
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 15:02] #11053 closed

[2022-11-14 15:03] tisonkun commented on #10985
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

I think that there're several log mismatch is not a big deal as long as the cluster can start properly.

[2022-11-14 15:04] #9830 closed

[2022-11-14 15:05] tisonkun commented on #9829
Closed as stale and no response. Please open a new issue if it's still relevant in maintained versions.

[2022-11-14 15:05] #9829 closed

[2022-11-14 15:06] tisonkun commented on #9484
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

Please ask questions on https://github.com/apache/pulsar/discussions/categories/q-a. And please upload logs as a file and only inline significant lines. It's a discourage hint for potential volunteer help debugging when they saw such a large inline content.

[2022-11-14 15:08] tisonkun commented on #6264
Closed as stale. Please open a new issue if it's still relevant in maintained versions.

We have the docker image so this is possible. But two years later there's little interest on implementing this feature among the community. If an optional improvement doesn't have a concrete proposal and no contributor works on it, it's valueless to keep it open.

[2022-11-14 15:08] #6264 closed

[2022-11-14 15:12] hpvd commented on #18348
hmm just another number: the ubuntu included, added 77 vulnerabilities with CVE...

[2022-11-14 15:13] tisonkun commented on #9374
IIRC we're implemented along with the move out of client C++ and Python at #17724.

[2022-11-14 15:13] #9374 closed

[2022-11-14 15:15] tisonkun commented on #17468
@BewareMyPower is it fixed now in the separate repo?

[2022-11-14 15:16] #8811 closed

[2022-11-14 15:27] ahothan commented on #15819
@pgier thanks for the RCA and for fixing this!

[2022-11-14 17:46] #17947 closed

[2022-11-15 01:10] zymap commented on #18208
Do you want this? https://pulsar.apache.org/docs/concepts-messaging#acknowledgement

[2022-11-15 01:17] startjava commented on #18208
YES，i see the doc too .

[2022-11-15 01:43] startjava commented on #18460
@momo-jun thank you very much !

[2022-11-15 02:07] BewareMyPower commented on #17468
@tisonkun Yes. Close this issue by https://github.com/apache/pulsar/issues/17468#issuecomment-1284912921

[2022-11-15 02:07] #17468 closed

[2022-11-15 02:23] codelipenghui opened #18466 "Flaky-test: TransactionEndToEndTest.produceCommitTest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3461842392/jobs/5780214137

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-11-15 02:41] #13207 closed

[2022-11-15 03:21] startjava opened #18468 "[Doc] A configuration store quorum stores configuration，what mean ?"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

https://pulsar.apache.org/docs/next/concepts-architecture-overview/#metadata-store

A configuration store quorum stores configuration for tenants, namespaces, and other entities that need to be globally consistent.

bottom text:

[2022-11-15 03:27] startjava commented on #18468
配置存储仲裁的结果，存储租户、命名空间和其它实体需要全局一致性的配置。
Can you translate it that way

[2022-11-15 03:30] startjava commented on #18468
configuration represent what ??

configuration is Configuration.java??

[2022-11-15 03:48] startjava commented on #18468
or
"配置存储仲裁的结果，配置存储租户、命名空间和其它实体需要全局一致性的配置。"
can this ?

[2022-11-15 06:09] momo-jun commented on #18419
Hi @zamazan4ik you can find more information on [requirements](https://pulsar.apache.org/docs/deploy-bare-metal#requirements) and [hardware considerations](https://pulsar.apache.org/docs/deploy-bare-metal#hardware-recommendations). Does this help?
Related issue: https://github.com/apache/pulsar/issues/8671.

[2022-11-15 07:13] leizhiyuan opened #18474 "[Bug] when deploy in ipv6,HeartbeatNamespace will failed when check"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.7 and master

### Minimal reproduce step

just run in ipv6

### What did you expect to see?

start ok

### What did you see instead?

failed

[code]

### Anything else?

because we use host as namespace ,but host has "[]" in ipv6 ,will fail when check in Na

[2022-11-15 07:56] #18443 closed

[2022-11-15 07:59] #17498 closed

[2022-11-15 07:59] #17917 closed

[2022-11-15 07:59] #12843 closed

[2022-11-15 08:09] tjiuming commented on #18300
sorry for missed the issue, I'll check it later

[2022-11-15 10:44] #17438 closed

[2022-11-15 12:22] tisonkun commented on #18355
@visortelle this has been fixed now. You're welcome to verify it.

[2022-11-15 12:43] visortelle opened #18479 "[Doc] Bug - Missing slash in link generated by the version switcher dropdown"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

`Not found` page as result:

https://user-images.githubusercontent.com/9302460/201922226-1869cfbb-40ba-4553-8dc8-be212016028e.mov

### What is your suggestion?

to fix it :)

### Any reference?

_No response_

### Are you willin

[2022-11-15 12:43] visortelle commented on #18355
@tisonkun thank you!
I confirm that it works, but I see another bug now: https://github.com/apache/pulsar/issues/18479

[2022-11-15 12:51] tisonkun commented on #18479
I notice it just now. I made the bug and fixed at https://github.com/apache/pulsar-site/commit/9bff0fe0e46a6ec971be6ae98eb609f3e0d7f98f :)

[2022-11-15 12:51] #18479 closed

[2022-11-15 12:55] visortelle commented on #18479
Cool!

[2022-11-15 13:05] codelipenghui opened #18480 "Flaky-test: NegativeAcksTest.testFailoverConsumerBatchCumulateAck"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3468163315/jobs/5798520468

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-11-15 14:28] hzh0425 opened #18483 "Support using sql to filter messages"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Currently, Pulsar uses the pluggable EntryFilter method for message filtering based on https://github.com/apache/pulsar/issues/12269. Users need to implement EntryFilter by themselves, and then filter messages on the broker side.
This way will require many

[2022-11-15 14:29] hzh0425 commented on #18483
@315157973 cc pls

[2022-11-15 15:50] tisonkun commented on #16578
another case https://github.com/apache/pulsar/actions/runs/3463258596/jobs/5800854674

[2022-11-15 16:52] tisonkun commented on #5366
Closed as stale. Please open a new issue if it's still relevant to the maintained versions.

[2022-11-15 16:52] #5366 closed

[2022-11-15 16:53] tisonkun commented on #5407
Closed as stale. Please open a new issue if it's still relevant to the maintained versions.

IIRC this is somehow implemented as `AuthenticationUtil#configureFromJsonString`.

[2022-11-15 16:53] #5407 closed

[2022-11-15 16:53] tisonkun commented on #5925
Closed as fixed.

[2022-11-15 16:53] #5925 closed

[2022-11-15 16:54] tisonkun commented on #5739
Closed as stale. Please open a new issue if it's still relevant to the maintained versions.

[2022-11-15 16:54] #5739 closed

[2022-11-15 16:54] #5732 closed

[2022-11-15 19:49] BewareMyPower commented on #18480
This test is too flaky.

https://github.com/apache/pulsar/actions/runs/3472040284/jobs/5805588109

[2022-11-16 01:50] codelipenghui commented on #17952
https://github.com/apache/pulsar/pull/18245 has fixed this issue.

[2022-11-16 01:50] #17952 closed

[2022-11-16 01:58] BewareMyPower commented on #18480
No, it's another fix, not related to this test.

[2022-11-16 02:08] Anonymitaet opened #18488 "[doc][improve] Add exception examples for transaction API"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

No exception examples for [transaction API docs](https://pulsar.apache.org/docs/next/txn-use/)

Thanks for raising this up! @BewareMyPower
Thanks for your technical guidance! @congbobo184 @liangyepianzhou

### What is your sugge

[2022-11-16 02:09] Anonymitaet commented on #18488
@liangyepianzhou would you like to submit a PR to add examples? Feel free to ping me to have a review, thanks!

[2022-11-16 03:00] momo-jun commented on #18468
This sentence introduces two meanings:
* The configurations for tenants, namespaces, and other entities need to be globally consistent.
* These configurations are stored in a configuration store quorum.

[2022-11-16 03:08] startjava commented on #18468
thank you very much !

[2022-11-16 03:08] #18468 closed

[2022-11-16 03:08] #18460 closed

[2022-11-16 03:13] momo-jun opened #18490 "[Doc] Add the missing configuration override information"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

**Background**
The reference doc for configurations has been moved to the new page https://pulsar.apache.org/reference/, and the content will be auto-generated from the code. See [here](https://pulsar.apache.org/contribute/docum

[2022-11-16 03:15] startjava commented on #18208
@momo-jun please see the question

[2022-11-16 03:21] Johnnyhooyo commented on #13779
macen i use is :https://mvnrepository.com/artifact/org.apache.pulsar/pulsar-flink.

[2022-11-16 03:36] Johnnyhooyo commented on #13779
Thanks all~
[pulsar-flink](https://mvnrepository.com/artifact/org.apache.pulsar/pulsar-flink)  is what i used.
now, it's marked Deprecated.

In the flink framework, ClientConfigurationData is initialised in JM, then serialised and sent through the web interface to TM, where it is referenced again. The problem is that the properties marked @JsonIgnore in TM are empty.

[2022-11-16 08:03] labuladong commented on #18488
You can assign me if @liangyepianzhou has no time :)

[2022-11-16 08:05] tisonkun opened #18494 "Flatten files (slug) and use a siderbar config to categorize documents"
So that we can keep the slug persistent from then on.

There're some references should be updated correspondingly.

[2022-11-16 08:09] liangyepianzhou commented on #18488
@labuladong Thanks for your support, But  I'm already working on this task.

[2022-11-16 08:10] Anonymitaet opened #18495 "[site][fix] Display issues on Reference site"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

We (@tisonkun) have found some issues on the [Pulsar Reference Site](https://pulsar.apache.org/reference/#/next/).

/cc @SignorMercurio @urfreespace

There are other tricky issues with the site navigation.
Try to clear the cache and re-visit to see if thos

[2022-11-16 08:14] momo-jun opened #18496 "[Doc] Pulsar admin statics miss some stats"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

As raised by @nlu90, Pulsar website [https://pulsar.apache.org/docs/2.9.x/administration-stats/](https://pulsar.apache.org/docs/2.9.x/administration-stats/) misses some stats and descriptions given by `pulsar-admin` tools. For e

[2022-11-16 08:20] liangyepianzhou commented on #18466
Ok,  I'm willing to resolve it.

[2022-11-16 09:49] labuladong opened #18497 "[Bug] `bin/pulsar-admin topics subscriptions` freeze if namespace not exists"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Master version of Pulsar.

### Minimal reproduce step

1. start standalone:
[code]

2. query subscriptions with a nonexistent namespace name:

[code]

### What did you expect to see?

Namespace not found error.

### What did you see instead?

Freeze until tim

[2022-11-16 11:58] anishsurge commented on #9040
Increasing the connectiontimeout & operationtimeout 5-10 minutes made the connection to reestablish and was able to resolve the frequent connection already closed issue

[2022-11-16 13:56] trojczak opened #18501 "[Bug] Incompatible schema when having Avro schema without nullable string fields"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Using Pulsar 2.9.1.

### Minimal reproduce step

Here is the project with the minimal reproducible example that leads to this problem: https://github.com/trojczak/pulsar-avro-schema-problem

Steps to reproduce:
1. Create topics and schemas from `README.md`. U

[2022-11-16 18:56] heesung-sn opened #18506 "[Doc] Improve Pulsar Pub/Sub Throttling Doc"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

The current documentation about Pulsar message pub/sub throttling is insufficient.

### What is your suggestion?

- Have a central page about Pulsar message throttling.
- Explain the goal of Pulsar message throttling.
- Explain

[2022-11-16 23:08] aymkhalil opened #18507 "[Bug] Pulsar Admin sink update can potentially wipe out "inputSpecs""
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.10 on M1 mac

### Minimal reproduce step

* Create any sink with input specs:
[code]
* Try to update the sink with `inputSpecs`
[code]

* Get the effective sink config:
[code]

### What did you expect to see?

[code]

### What did you see instead?

`receive

[2022-11-16 23:41] arpillai89 commented on #13167
@moweonlee , could you please let me know what exact config/value did you update for retention and TTL to get this issue resolved.

[2022-11-16 23:53] tisonkun commented on #18494
Closed by https://github.com/apache/pulsar-site/pull/295.

[2022-11-16 23:53] #18494 closed

[2022-11-16 23:55] tisonkun commented on #18494
Reverse links:

* https://github.com/apache/pulsar/pull/18508
* https://github.com/apache/pulsar/pull/18509

[2022-11-17 01:01] tisonkun commented on #17657
All subtasks are fixed. Closed as done.

If you find more slow tests after a recheck, feel free to reopen the issue. Or prefer to open a new issue to another turn.

[2022-11-17 01:01] #17657 closed

[2022-11-17 01:02] tisonkun commented on #17442
Closed as no response.

[2022-11-17 01:02] #17442 closed

[2022-11-17 03:33] gaozhangmin commented on #18507
I will check this out

[2022-11-17 06:08] pkumar-singh opened #18510 "PIP-210: Retry producing on next partition if possible when a partition is not available"
### Motivation

When a topic is a partitioned topic and a partition is not available for producing messages, currently pulsar client will still try to produce messages on unavailable partitions, which it may not necessarily need to do in certain cases. Pulsar Client may simply pick up another partition and try producing in certain cases.
Partition Unavailable
There could be a plethora of reasons a

[2022-11-17 07:42] labuladong opened #18514 "[Bug] `pulsar-admin namespaces set-retention` not work"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Master version of Pulsar.

### Minimal reproduce step

1. start stanalone Pulsar.
2. use `pulsar-admin namespace set-retention` then `pulsar-admin namespace get-retention`:

![image](https://user-images.githubusercontent.com/37220920/202385059-74604803-ac2a-4

[2022-11-17 07:44] mingyifei opened #18515 "[PulsarStandalone]The PulsarStandalond mode allows you to configure multiple brokers and multiple bookie launches."
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

To facilitate testing of broker functions, such as topic ownership transfer, simulating outages in extreme scenarios, etc.

### Solution

_No response_

### Alternatives

_No response_

### Anything else?

_No response_

### Are you willing to submit a PR?

[2022-11-17 07:56] labuladong commented on #18515
For now standalone can start multiple bookies with `--num-bookies`, try this for more information:

[code]

And I think this is a good suggestion to explore Pulsar locally if we can start multiple brokers. But seems it's not supported now.

[2022-11-17 08:10] labuladong opened #18516 "[Bug] `pulsar-admin tenants update` is useless"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Master branch.

### Minimal reproduce step

When I read the document about `pulsar-admin`:
https://pulsar.apache.org/docs/next/admin-api-tenants/#update

Seems `pulsar-admin tenants update` command is useless.

### What did you expect to see?

I want to chang

[2022-11-17 08:28] startjava opened #18517 "[Doc] centos8 seq command -t error !"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

https://pulsar.apache.org/docs/next/getting-started-standalone/#write-some-more-messages

bin/pulsar-client produce my-topic --messages "$(seq -s, -f 'Message NO.%g' -t '\n' 1 10)"

CentOS8 has error：
[ghy@localhost bin]$ pwd
/h

[2022-11-17 12:52] liangyepianzhou commented on #18466
This flaky test can be resolve by https://github.com/apache/pulsar/pull/17836

[2022-11-17 15:49] majk72 opened #18523 "[Bug] Namespace is being unloaded"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Pulsar 2.9.2
Kubernetes v1.22.15
The topic is a partitioned, persistent topic with a deduplication enabled.

### Minimal reproduce step

Cannot reproduce, a k8 cluster was just restarted as usual, and some services redeployed, but pulsar stopped allowing conn

[2022-11-17 17:19] heesung-sn commented on #16691
## Project Status: PRs and Sub-PIPs

**Please help to review these items.**

### Sub-PIPs
PIP-215: Configurable TopicCompactionStrategy for StrategicTwoPhaseCompactor and TableView: https://github.com/apache/pulsar/issues/18099
-> Pending Vote
PIP-220: TransferShedder (Only for PIP-192 New Broker Load Manager ): https://github.com/apache/pulsar/issues/18215
-> Pending Vote
PIP-221: Make TableView

[2022-11-17 21:13] labuladong commented on #18517
Seems `-t` option is only for macOS:

[code]

It's reasonable to remove this option in doc for common Linux.

[2022-11-17 21:22] labuladong opened #18525 "[Bug] `pulsar-admin topics skip-all` not work"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Master branch.

### Minimal reproduce step

I read doc: https://pulsar.apache.org/docs/next/admin-api-topics#skip-all-messages

Execute this command:

[code]

### What did you expect to see?

Skip all messages of the subscription.

### What did you see instea

[2022-11-18 01:25] labuladong commented on #18514
This is not a cli bug, because the `--size` and `--time` need to specify a unit. The default is `byte` and `second`, so it will be considered as 0 if too small:

[code]

But the site document is wrong, so fix doc in #18526.

[2022-11-18 02:06] labuladong commented on #18525
This is not cli bug, `skip-all` command has been renamed to `clear-backlog`, so fixing the document is enough.

[2022-11-18 02:29] labuladong commented on #18516
Actually, there are configurable parameters:

<img width="666" alt="image" src="https://user-images.githubusercontent.com/37220920/202602675-dac6da36-e757-4ef8-9524-d39b976c2b0b.png">

Doc need a fix.

[2022-11-18 03:27] Jason918 commented on #18348
This is from `presto-sql/pulsar-presto-distribution`. `presto-sql` contains a lot of legacy dependencies and not easily updated. Previously, I saw @tisonkun working on some updates to Trino in PulsarSQL. Not sure if it's related.

@hpvd I think you can start a discuss thread on the mail-list to get more attention on this matter.

[2022-11-18 03:29] tisonkun commented on #18348
@Jason918 No. The upgrade of Trino (PrestoSQL) dependency happened only for the unreleased master (2.12.0).

[2022-11-18 03:30] tisonkun commented on #18348
And yes, if we don't update Trino dependency for 2.10 (I think so), these reports should be suppressed.

[2022-11-18 03:49] mattisonchao commented on #18087
Close this issue because the issue has been to be Stale.

[2022-11-18 03:49] #18087 closed

[2022-11-18 04:00] #18417 closed

[2022-11-18 04:09] #17333 closed

[2022-11-18 04:18] #18314 closed

[2022-11-18 04:32] michaeljmarshall opened #18530 "[Bug] bin/pulsar-client NoClassDefFoundError: io/netty/incubator/channel/uring/IOUringEventLoopGroup"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

I built `bin/pulsar-client` using a recent version of master. Here is the commit sha 080213bdf7a00dda8f8e7c5927d83d7e6a9c5c6a.

### Minimal reproduce step

Build the pulsar project's `master` branch using `mvn -Pcore-modules,-main -T 1C clean install -DskipTe

[2022-11-18 06:04] imaffe opened #18532 "[Enhancement] Support reading config options from file in Function Java Runner (JavaInstanceStarter)"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Currently the `JavaInstanceStarter` uses `JCommander` to parse command line args. However in certain cases reading from command line is not very flexible (think we need to use a env var as an argument but the container has no shell access). Thus we need to

[2022-11-18 06:06] imaffe opened #18533 "[Enhancement] Support reading config options from file in Function Python Runner"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Currently the python runner uses `argparse`  to parse command line args. However in certain cases reading from command line is not very flexible (think we need to use a env var as an argument but the container has no shell access). Thus we need to support

[2022-11-18 06:40] #18480 closed

[2022-11-18 09:25] coderzc opened #18535 "Flaky-test: PrometheusMetricsTest.testBrokerConnection"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/coderzc/pulsar/actions/runs/3494482969/jobs/5850297404#step:8:1932

### Exception stacktrace

<details>
<summary>Full exception stacktrace</summary>
<pre><code>
    Error:  testBrokerConnection(org.apache.pulsar.broker.stats.Prometh

[2022-11-18 09:25] ZHr-UChiHa opened #18536 "[Bug] pulsar offload to S3 service failed, because BlobStoreManagedLedgerOffloader#offload close BlockAwareSegmentInputStream twice and throw exception."
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.10.1

### Minimal reproduce step

S3 service use huawei cloud obs service,
BlobStoreManagedLedgerOffloader#offload      line: 214
when trigger offload, blockStream will close both writeBlobStore.uploadMultipartPart(mpu, partId, partPayload) and try (BlockAw

[2022-11-18 09:53] lifepuzzlefun opened #18541 "[Enhancement] Only print 4xx RestException message without stacktrace in broker log."
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

i think for 4xx http response code relate exception. stack can be avoid in error log.

<img width="1555" alt="image" src="https://user-images.githubusercontent.com/13600283/202673843-761d57fe-854b-4c21-b476-70add38e76cf.png">

### Solution

drop stack trac

[2022-11-18 10:06] #18490 closed

[2022-11-18 11:50] coderzc commented on #18300
Another one: https://github.com/apache/pulsar/actions/runs/3496355710/jobs/5854319305

[2022-11-18 14:44] Mayaag02 commented on #13267
Hello @BewareMyPower
Can you please help us to understand, in which version this memory leak fix is available, it would be great help!!!

[2022-11-18 21:44] michaeljmarshall opened #18545 "Add WebSocket Proxy Prometheus Metrics Endpoint"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Metrics are essential to all production deployments.

### Solution

Expose a metrics endpoint. This will require formatting the metrics, and then exposing them. Typically, these metrics are exposed at the `/metrics` endpoint.

### Alternatives

There is cu

[2022-11-19 02:19] #18535 closed

[2022-11-19 04:55] #15819 closed

[2022-11-19 05:27] #16729 closed

[2022-11-19 06:10] #18088 closed

[2022-11-19 06:10] #18514 closed

[2022-11-19 06:10] #18517 closed

[2022-11-19 06:10] #18525 closed

[2022-11-19 06:10] #18516 closed

[2022-11-19 08:08] Technoboy- opened #18546 "[Bug] Stateful Functions not working"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Master branch/ branch-2.11

### Minimal reproduce step

1. Build the branch
2. Validate the branch by [Validate Release Candidate#validate-stateful-functions](https://pulsar.apache.org/contribute/validate-release-candidate#validate-stateful-functions)
3. Go t

[2022-11-19 08:43] ZHr-UChiHa commented on #18536
![image](https://user-images.githubusercontent.com/54945799/202842446-bda193e0-52f9-43df-b950-c719852f7b06.png)
![image](https://user-images.githubusercontent.com/54945799/202842506-76c8e077-dca5-4c68-abf4-bc8f19c9aea0.png)
if wireLog.isDebugEnabled() == true, wire.output(request) will also close BlockAwareSegmentInputStream, so blockStream closed Three times, the thrid time will throw exception.

[2022-11-19 11:57] BewareMyPower commented on #13267
@Mayaag02 You can see the labels of https://github.com/apache/pulsar/pull/15316, which means 2.8.4, 2.9.3, 2.10.1 include this fix. The latest [3.0.0 releas](https://github.com/apache/pulsar-client-cpp/releases/tag/v3.0.0)e of the separated repo also includes it.

[2022-11-19 12:04] tisonkun commented on #18530
cc @coderzc

I suspect that we shouldn't link io_uring if on platforms other than linux.

[2022-11-19 12:19] coderzc commented on #18530
@michaeljmarshall I build the pulsar project's master branch using `mvn -Pcore-modules,-main -T 1C clean install -DskipTests -Dspotbugs.skip=true`, and it works well.

[code]

I use java version:
[code]

[2022-11-19 12:24] tisonkun commented on #18530
@coderzc @michaeljmarshall which os/platform do you run this command?

[2022-11-19 12:27] coderzc commented on #18530
I use macOS 12.4 (M1 chip)

[2022-11-19 17:10] michaeljmarshall commented on #18530
I am on MacOS with an intel chip

[2022-11-19 17:10] michaeljmarshall commented on #18530
I'll try to reproduce it again.

[2022-11-20 02:37] drgnchan commented on #18530
@michaeljmarshall you can check your environment variable `enable.io_uring`. Is it '1' or 'true'?

[2022-11-20 03:32] liangyepianzhou opened #18547 "Flaky-test: TransactionEndToEndWithoutBatchIndexAckTest:transactionTimeoutTest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3493990704/jobs/5849468563

### Exception stacktrace

  Error:  Tests run: 39, Failures: 1, Errors: 0, Skipped: 21, Time elapsed: 69.182 s <<< FAILURE! - in org.apache.pulsar.client.impl.TransactionEndToEn

[2022-11-20 08:04] WJL3333 opened #18549 "[Bug] [ml] ManagedLedger missing if check all pendingReadOps timeout."
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

branch master

### Minimal reproduce step

change unit test `ManagedLedgerTest.testManagedLedgerWithReadEntryTimeOut` add more readEntry ops. the unit test fail

### What did you expect to see?

all readEntry can be finished in `ReadEntryTimeoutSeconds` wheat

[2022-11-21 02:10] #18396 closed

[2022-11-21 07:25] labuladong opened #18557 "[Bug] start standalone with zookeeper will cause `client must try another server`"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Master branch 177b96a78a

### Minimal reproduce step

Just start standalone using zookeeper as metastore:

[code]

### What did you expect to see?

Start standalone normally.

### What did you see instead?

Standalone started, but with a zk error log periodic

[2022-11-21 09:57] eolivelli commented on #18546
I believe that this cannot work without ZK, it requires BookKeeper StreamStorage and there are no tests about it without ZK

We should make it easy for people to run standalone with ZK and document this behavior.

[2022-11-21 11:06] Raunak-Agrawal commented on #7663
Is anyone able to run python function locally with custom dependencies? Please share the steps if possible.

[2022-11-21 13:01] nodece commented on #18530
This is a bug. I already reproduce it on my computer.

[code]
log:
[code]

[2022-11-21 14:04] Technoboy- commented on #18546
Decide to tell the users to set the ENV variable to verify the standalone mode.

[2022-11-21 14:18] tisonkun commented on #18530
Trying to fix it at https://github.com/apache/pulsar/pull/18559.

@michaeljmarshall @nodece you can verify it.

[2022-11-21 14:55] nodece commented on #18530
#18559 can fix this issue.

[2022-11-21 15:21] tisonkun commented on #18442
Closed as no response.

[2022-11-21 15:21] #18442 closed

[2022-11-21 19:01] tjiuming opened #18560 "PIP-223: Add metrics for all Rest Endpoints"
### Motivation

Currently, we have WebExecutor metrics and Jetty metrics in the pulsar broker.

The granularity of these metrics is relatively large, we can only know the metrics of the Server dimension, but we cannot know the metrics of each specific endpoint.

This can not provide more help when finding and troubleshooting problems.

For the purpose of solve the above questions, it is necessary

[2022-11-21 22:35] nlu90 commented on #18501
Hi @trojczak

The issue is due to the difference in the field `name` in your example.

In your asvc file, you write:
[code]

While in the pulsar-generated schema based on the `Person` class, it's

[code]

Could you change your asvc file to make them match? Or there's a specific reason you don't want to make the change?

[2022-11-22 02:44] startjava commented on #18158
@codelipenghui
This bug caused the JVM to crash, which is quite serious.

[2022-11-22 03:02] nareshv commented on #16107
closing.

[2022-11-22 03:02] #16107 closed

[2022-11-22 03:05] nodece commented on #18557
Could you remove the `data` folder? and then run your command.

[2022-11-22 03:18] labuladong commented on #18557
I have removed it, but still have this log. Can you reperduce it?

[2022-11-22 03:23] labuladong commented on #18557
OK, I restart my computer then this issue disappeared. I guess it is caused by some mistakes in zookeeper, so I'll close this issue.

[2022-11-22 03:23] #18557 closed

[2022-11-22 08:09] #18546 closed

[2022-11-22 08:40] momo-jun commented on #18208
I don't see the ambiguity in this paragraph. It means the negative acknowledgment of messages can be performed either individually (in Shared and Key_Shared subscription types) or cumulatively (Exclusive and Failover subscription types).

Did this answer your question? @startjava

[2022-11-22 08:50] trojczak commented on #18501
Hi, @nlu90!
The schema in the `Person.avsc` file is the one that we want to have for out topic. It shouldn't allow `null` fields. The second schema, with the nullable `name` field is the one generated by Pulsar when running a function.

We want some fields to be non-nullable, and I think there should be a way to make Pulsar recognize this requirement. Maybe there is one, but I don't know about it?

[2022-11-22 08:57] gaozhangmin commented on #18507
@aymkhalil  I can update successfuly with `bin/pulsar-admin sinks update --name print-sink  --input-specs '{"persistent://public/default/fresh":{"receiverQueueSize":12}}'` using master branch

[2022-11-22 09:23] startjava commented on #18208
@momo-jun

question1：
why
（1）individually (in Shared and Key_Shared subscription types)
（2）cumulatively (Exclusive and Failover subscription types).

why bottom is error：
（1）cumulatively  (in Shared and Key_Shared subscription types)
（2）individually  (Exclusive and Failover subscription types).

question2：
but not have about "negatively acknowledged cumulatively" api，only have "negatively acknowle

[2022-11-22 10:39] yaalsn commented on #18560
It would be better to avoid use reflection because it cost much. We can get the path in this way:

[code]

Furthermore, we can cache the result to reduce the stack allocation and method invocations.

[2022-11-22 11:26] tjiuming commented on #18560
this would be better and I'll take a test to ensure it works

[2022-11-22 17:53] tjiuming commented on #18300
cannot reproduce the issue on my local

[2022-11-22 23:36] AnonHxy opened #18570 "Flaky-test: MessageChunkingTest.testMaxPendingChunkMessages"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/AnonHxy/pulsar/actions/runs/3524785166/jobs/5910889006

### Exception stacktrace

<details>
<summary>Full exception stacktrace</summary>
<pre><code>
    Error:  testMaxPendingChunkMessages(org.apache.pulsar.client.impl.MessageChunki

[2022-11-23 02:40] tisonkun commented on #17302
Closed as halted and partially delivered. We moved out the C++/Python client from the main repo, and I've worked on the API docs, which are delivered as #17917.

Sooner or later we can restructure the client library in the proposed structure above, but it will be a new turn.

[2022-11-23 02:40] #17302 closed

[2022-11-23 02:42] tisonkun commented on #17918
IIRC @BewareMyPower is going to update the C++ release process after 3.1.0 released. @BewareMyPower could you create a corresponding subtask in https://github.com/apache/pulsar-client-cpp?

[2022-11-23 08:08] lhotari commented on #17737
Possibly related to #5284

[2022-11-23 08:20] RobertIndie commented on #18570
I have opened a PR to unblock it first: https://github.com/apache/pulsar/pull/18572 Then I will open a separate PR to fix it.

[2022-11-23 10:06] BewareMyPower commented on #17918
Created: https://github.com/apache/pulsar-client-cpp/issues/123

[2022-11-23 10:55] #18547 closed

[2022-11-23 11:31] cbornet commented on #16739
This PIP has been implemented.

[2022-11-23 11:31] #16739 closed

[2022-11-23 12:49] dragonls opened #18580 "[Bug] Reading data from tiered storage might have numerical overflow issue"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.9.3

### Minimal reproduce step

Not sure whether can be reproduced.

### What did you expect to see?

The log of available data bytes should be positive value.

### What did you see instead?

[code]

### Anything else?

I am using tencent COS as the tied s

[2022-11-23 13:36] lhotari commented on #18580
btw.  it looks like an easy fix in BlobStoreBackedInputStreamImpl.available .

naive fix:
[code]
`available()` should return "an estimate of the number of bytes that can be read (or skipped over) from this input stream without blocking."

[2022-11-23 14:02] cbornet commented on #17719
Closed by #17581

[2022-11-23 14:02] #17719 closed

[2022-11-23 14:22] cbornet commented on #16397
@shibd Is that the NAR built in `pulsar-functions-api-examples-builtin`. In that case, the artifact pulls `pulsar-functions-api-examples` as a dependency. This is not the way people generally build a NAR.

[2022-11-23 17:01] zzzming opened #18584 "Pulsar function replicas auto scaling"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Pulsar function and connector in Kubernetes runtime should be able to auto scale based on resource usage or the input topic backlog size or some other metrics. The auto scale should be horizontal scaling.

### Solution

_No response_

### Alternatives

Use

[2022-11-23 17:53] hpvd commented on #18584
maybe this is interesting
https://github.com/streamnative/function-mesh/issues/457

[2022-11-24 02:54] Hongten opened #18586 "[improve code]Optimize the method computeLocalQuota() in ResourceQuotaCalculatorImpl class"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

To optimize the method computeLocalQuota() in ResourceQuotaCalculatorImpl class. We can move `confUsage` before the `totalUsage`.
Please refer to [if (confUsage < 0) {](https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pul

[2022-11-24 03:01] codelipenghui opened #18587 "Flaky-test: AdditionalServletsTest.testEmptyStringAsExtractionDirectory"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3530823792/jobs/5923383709

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-11-24 03:03] codelipenghui opened #18588 "Flaky-test: NamespacesTest.testSetOffloadThreshold"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3530823792/jobs/5923383857

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-11-24 03:34] urfreespace opened #18591 "[Doc] the body param declaration for the Restful API about setting a backlog quota for a topic is missing"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

the body param declaration for the Restful API about setting a backlog quota for a topic is missing https://pulsar.apache.org/admin-rest-api/?version=master#operation/setBacklogQuota

### What is your suggestion?

add body param

[2022-11-24 04:07] poorbarcode commented on #18587
another one:
- https://github.com/apache/pulsar/actions/runs/3537347042/jobs/5937364498

[2022-11-24 04:07] labuladong opened #18593 "[Doc] Pulsar function document need improve"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

Pulsar function document is hard to read for Pulsar beginners.

For example, many errors:

1. the wrong usage of `putstate`:

<img width="513" alt="image" src="https://user-images.githubusercontent.com/37220920/203691516-d5aa1a3

[2022-11-24 07:20] #18232 closed

[2022-11-24 07:33] dragonls commented on #18580
Yes, I think this naive fix is enough.

[2022-11-24 08:21] Technoboy- opened #18597 "Flaky-test: AdditionalServletsTest.testEmptyStringAsExtractionDirectory"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3530823792/jobs/5937262614

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-11-24 09:26] Technoboy- opened #18598 "Discuss about reverting #16937 "skip mis-configured resource usage(>100%) in load balancer""
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

https://github.com/apache/pulsar/pull/16937 has corrected the misconfigured resource usage. But if the user configs the wrong one, the error log will print all the time. See the below logs:

![image](https://user-images.githubusercontent.com/6297296/203512

[2022-11-24 09:52] tjiuming commented on #18319
Vote thread: https://lists.apache.org/thread/7333qgpwtr6lmk569s1w8og5t3tf9vzg

[2022-11-24 10:21] labuladong opened #18600 "Flaky-test: AdminApiTransactionMultiBrokerTest.testRedirectOfGetCoordinatorInternalStats"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3539262113/jobs/5941141801#step:10:1363

### Exception stacktrace

<details>
<summary>Full exception stacktrace</summary>
<pre><code>
org.testng.internal.thread.ThreadTimeoutException: Method org.apache.pu

[2022-11-24 10:34] eolivelli commented on #18598
Unfortunately https://github.com/apache/pulsar/pull/16937 has been released also with 2.10.2 !

Do you mean that now you cannot configure a weight that makes the usage over 100% ?

[2022-11-24 10:47] Technoboy- commented on #18598
Ah, suppose the real CPU usage is only 20%, but we configure `loadBalancerCPUResourceWeight= 100`, so the current CPU usage is 2000%. This will cause the broker to unload some bundles before #16937.  But now, it won't.

[2022-11-24 11:33] lhotari commented on #18597
duplicates #18587

[2022-11-24 11:33] #18597 closed

[2022-11-24 11:34] lhotari commented on #18587
Yet another one: https://github.com/lhotari/pulsar/actions/runs/3539909385/jobs/5942579333#step:10:2813

[2022-11-24 12:49] lhotari opened #18605 "Flaky-test: TransactionTest.testEndTxnWhenCommittingOrAborting"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3539850595/jobs/5943437683#step:10:826

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-11-24 12:52] lhotari commented on #18588
another one: https://github.com/apache/pulsar/actions/runs/3539907924/jobs/5943355246#step:10:1285

[2022-11-24 12:54] lhotari commented on #15913
another one: https://github.com/apache/pulsar/actions/runs/3539850595/jobs/5943592808#step:12:15283

[2022-11-24 13:11] eolivelli commented on #18598
https://github.com/apache/pulsar/pull/16937 added some useful logs.

The "problem" you are pointing out is here
https://github.com/apache/pulsar/pull/16937/files#diff-e1bcbd73e100f8ab5f179644dc45ee684a77ec10edbfe17f957e77ee2a043417R197

I am not sure that this is a real problem or not, it looks like that setting loadBalancerCPUResourceWeight= 100 and see CPU usage as 2000% is like a hack.

Maybe w

[2022-11-24 14:06] andrasbeni commented on #18587
@lhotari, yes, it certainly is. See above my attempt at fixing it.

[2022-11-24 14:44] nicoloboschi commented on #18530
@nodece @tisonkun pushed a fix here: https://github.com/apache/pulsar/pull/18609

[2022-11-24 15:33] lhotari commented on #18587
thank you @andrasbeni for addressing this so quickly!

[2022-11-24 15:46] tisonkun opened #18610 "[Doc] Tracking issue for improving Download and release note pages"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What is your suggestion?

* [x] #18611
* [x] #18612
* [x] #18613
* [x] #18614

### Any reference?

_No response_

### Are you willing to submit a PR?

- [X] I'm willing to submit a PR!

[2022-11-24 15:46] tisonkun opened #18611 "Write the Download page in MDX syntax so that it's easy to extend"

[2022-11-24 15:46] tisonkun opened #18612 "Move Pulsar Manager Release Note under the `/release-note` route base"
* https://pulsar.apache.org/pulsar-manager-release-notes
* https://pulsar.apache.org/release-notes/

[2022-11-24 15:46] tisonkun opened #18613 "Separate Release Note by item categories"

[2022-11-24 15:46] tisonkun opened #18614 "Remove `Timeline` since there's no clear plan"

[2022-11-24 15:47] tisonkun commented on #18611
This comes from an offline discussion with @BewareMyPower that it's clumsy to edit JSX page manually while the Download page is almost MDX fit - just like All Releases.

[2022-11-24 15:48] tisonkun commented on #18612
Keep in mind to setup a redirection.

[2022-11-24 15:49] tisonkun commented on #18612
The problem here is: we made a Release Note doc page, but the legacy Pulsar Manager Release Note is left.

[2022-11-24 15:49] tisonkun commented on #18613
This is somewhat a follow-up to https://github.com/apache/pulsar/issues/18612. Since we now have the main release, client releases and Pulsar Manager release, it's more clear we separate them into different pages.

[2022-11-24 15:51] tisonkun commented on #18614
"Coming soon" is easy to be a liar. I don't find any clear plan or contributors active working on this page: https://pulsar.apache.org/release-notes/timeline

If there's any, I'm happy to close this issue and follow that initiative.

[2022-11-24 15:51] tisonkun commented on #18614
cc @Anonymitaet @dave2wave

[2022-11-24 15:55] BewareMyPower opened #18616 "PIP-XYZ:"
### Motivation

There are two ways to get a `MessageId` from consumer:
- `Message#getMessageId` from a received message
- `getLastMessageId`

The returned `MessageId` can be used in `seek` and `acknowledge` (including `acknowledgeCumulative`). A `MessageId` represents the position of a message. For a consumer that subscribes a single topic, things are usually right because the MessageId from a rec

[2022-11-24 16:17] lhotari opened #18617 "Flaky-test: KeySharedSubscriptionTest.testCanRecoverConsumptionWhenLiftMaxUnAckedMessagesRestriction"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3539850595/jobs/5943288285#step:10:592

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-11-24 16:17] lhotari commented on #18617
@mattisonchao Is this related to #17483? would you be able to take a look?

[2022-11-24 16:19] lhotari commented on #16978
@Demogorgon314  Yet another one, https://github.com/apache/pulsar/actions/runs/3541194507/jobs/5946967295#step:10:1050

[code]

[2022-11-24 17:14] lhotari commented on #15853
This problem isn't fixed. example [CI - System - Pulsar IO](https://github.com/apache/pulsar/actions/runs/3541194507/jobs/5947930088) job
[code]

[2022-11-24 17:27] #18587 closed

[2022-11-24 17:36] lhotari commented on #15853
There was an additional thread leak which will be fixed by #18618

[2022-11-24 18:28] lhotari commented on #18588
This seems to be caused by #17875 changes. I'll take a look.

[2022-11-24 19:10] #15853 closed

[2022-11-24 21:42] moweonlee commented on #13167
@arpillai89

Here is the configuration that I used for my pulsar cluster.

I didn't think about how much storage volume is necessary to store all data incoming.

Now it is clear that my case was pretty simple.

So it will be good to see Grafana's storage volume chart first as long as Pulsar is deployed in K8s

[code]

[2022-11-24 22:16] #18530 closed

[2022-11-25 00:57] Anonymitaet commented on #18614
OK

[2022-11-25 01:15] #18591 closed

[2022-11-25 01:46] codelipenghui commented on #18598
I discussed this issue with Hang a few days ago. Hang is the initial designer of the threshold shedder. The weight is not required to <= 1. I think we mistakenly merged https://github.com/apache/pulsar/pull/16937. Users can use any non-negative number for the weight. I support reverting the PR first and revisiting the issue that @heesung-sn wants to fix.

[2022-11-25 01:50] Technoboy- commented on #18598
I think the demo test is not clear, I have updated the test.

[2022-11-25 02:04] hangc0276 commented on #18598
In the Pulsar load balance strategy, including OverloadShedder and ThresholdShedder, the weight of each resource is not ensured in [0, 1]. The total `resourceUsage` of each broker won't ensure to be less than 100%.

For the motivation of https://github.com/apache/pulsar/pull/16937, the weight of the resource is not misconfigured, and it will break the old behavior, and lead to load balance not wor

[2022-11-25 02:52] #18424 closed

[2022-11-25 03:56] heesung-sn commented on #18598
Sure. If resourceUsage * weight is expected to be more than 100%, we should revert this change. The motivation does not hold.

Thanks for taking care of this.

[2022-11-25 06:22] heesung-sn commented on #18598
Note:

If resourceUsage > 100% becomes the winner, the moving avg function will decay it more slowly than others( unfair signal treatment).

But I assume this is the intention of the weighted configs too.

[2022-11-25 06:32] lhotari commented on #18365
Another one: https://github.com/apache/pulsar/actions/runs/3545605005/jobs/5953957450#step:10:719
[code]

[2022-11-25 06:33] lhotari commented on #18365
@nodece Would you mind fixing this issue?

[2022-11-25 06:35] lhotari commented on #18365
This issue duplicates #17933 . I'll close this one and re-open #17933

[2022-11-25 06:35] #18365 closed

[2022-11-25 06:36] lhotari commented on #17933
Reopening. Problem persists: https://github.com/apache/pulsar/actions/runs/3545605005/jobs/5953957450#step:10:719
[code]

[2022-11-25 06:36] lhotari commented on #17933
@nodece would you like to try to address this flaky test?

[2022-11-25 06:46] nodece commented on #17933
I tried to fix this test but still is a flaky test. Do you have any ideas?

[2022-11-25 06:58] jiangpengcheng opened #18626 "Support e2e in python function"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

python instance doesn't support e2e cryption

### Solution

_No response_

### Alternatives

_No response_

### Anything else?

_No response_

### Are you willing to submit a PR?

- [X] I'm willing to submit a PR!

[2022-11-25 07:29] jiangpengcheng opened #18627 "expose pulsar-client in python instance"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

since java instance has exposed it, it's better to expose it for python too

### Solution

_No response_

### Alternatives

_No response_

### Anything else?

_No response_

### Are you willing to submit a PR?

- [X] I'm willing to submit a PR!

[2022-11-25 08:46] #18175 closed

[2022-11-25 09:13] #18588 closed

[2022-11-25 09:53] Technoboy- commented on #18598
@lhotari @Jason918 Could you give some ideas for this?

[2022-11-25 15:25] Jason918 commented on #18598
+1 for reverting the PR. And I don't think this feature (set the weight over 1.0) is widely used, So let's just do this the right way.

Please do the same with the 2.10 branch and we should add an `important-note` label as it's a breaking change.

[2022-11-25 20:39] eolivelli commented on #18598
Thanks for your explanations. I agree to revert the patch here and in 2.10

[2022-11-26 01:53] tisonkun opened #18636 "[Doc] Unify different styles in capitalizing strategy"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

@momo-jun @Anonymitaet @DaveDuggins I noticed that we have different style in capitalizing strategy:

* Pulsar Configuration
* Pulsar metrics
* Geo Replication
* Cluster-level failover

What is the expected one?

### What is you

[2022-11-26 02:06] mgrajkumar commented on #14675
@Radiancebobo I am also facing the same issue while using external zookeeper (Zookeeper version: 3.5.5) and apache-pulsar-2.10.2. What is the workaround.

[2022-11-26 15:29] lifepuzzlefun opened #18641 "Flaky-test: ZKSessionTest.testReacquireLeadershipAfterSessionLost"
### Search before asking

- [ ] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

ses below

### Exception stacktrace

see below

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-11-26 15:30] WJL3333 commented on #18641
see https://github.com/apache/pulsar/pull/18578/files
![image](https://user-images.githubusercontent.com/13600283/204096504-c559bdc3-1c1b-48ac-9541-613ad605913d.png)
also this test fail in local environment very often.

[2022-11-26 15:42] WJL3333 commented on #18641
also https://github.com/apache/pulsar/pull/18518/files
![image](https://user-images.githubusercontent.com/13600283/204096954-eacfec40-e8b5-4507-b2ae-d132f4c9bcc2.png)

i dont know how to find the relate CI link.

[2022-11-27 04:46] onobc opened #18644 "Shaded DnsServerAddressStreamProviders problematic for Mac M1"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

When running on a Java client on Mac M1 we receive the annoying `WARN` log statement:

This can lead to actual issues - but in most cases is just an annoyance.

The suggested workaround is to add the M1-specific dependency [netty-resolver-dns-native-macos]

[2022-11-28 02:21] Anonymitaet commented on #18636
Hi @tisonkun thanks for raising this up!

I believe all the examples you listed above should be in lower cases because:

- Most of them are in lower cases in the current docs, for example,
<img width="1960" alt="image" src="https://user-images.githubusercontent.com/50226895/204177741-d91f61e3-26db-4d05-b919-17dda40ec683.png">

- Keeping them all in lower cases reduces maintenance cost.

[2022-11-28 04:51] codelipenghui commented on #18616
@BewareMyPower

It should be `TopicMessageIdImpl.getTopicPartitionName()` not `getPartitionedTopic()`

And we also missed the topic name when serializing the `TopicMessageIdImpl`, so we will lose the capability to deserialize the correct message ID from bytes. Users must have their own serialization implementation with the topic name and then use the method `fromByteArrayWithTopic` to recover a co

[2022-11-28 05:35] coderzc commented on #18617
+1 testCanRecoverConsumptionWhenLiftMaxUnAckedMessagesRestriction

[2022-11-28 06:35] BewareMyPower commented on #18616
Fixed.

No. We should not. The topic name should only be added in `seek` or `acknowledge` to replace more overloads like `void acknowledge(String topic, MessageId messageId)`.

The `toByteArray()` method could be affected. There is also a case when `MessageId` is returned from `Producer#send`. In this case, the returned `MessageId` should only used for serialization, e.g. write the `MessageId` int

[2022-11-28 06:48] BewareMyPower commented on #18616
Serializing the topic name could also break the `interoperability` with clients of other languages because **the topic name is not described in `PulsarApi.proto`**. To serialize a string, the charset should also be defined in the protocol.

If user want to serialize the topic name, they should define their own protocol like:

[code]

[2022-11-28 07:09] labuladong commented on #5912
I encountered this issue too. In my condition, the root cause is the wrong indent of python script. I copy code from site and the indent is wrong. I found this in log file `logs/functions/public/default/<your-function-name>`.

[2022-11-28 07:21] momo-jun commented on #18636
According to the [Pulsar writing style guide](https://docs.google.com/document/d/1lc5j4RtuLIzlEYCBo97AC8-U_3Erzs_lxpkDuseU0n4/edit#heading=h.whzx4q25s26e), we use sentence-style capitalization with predominantly lowercase. We can correct these unaligned occurrences when touching them.

[2022-11-28 07:25] labuladong opened #18652 "[Bug] `No module named 'pulsar.functions'` when start Pulsar function `localrun` mode"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Master branch of Pulsar.

macOS 13.

### Minimal reproduce step

I follow document https://pulsar.apache.org/docs/next/functions-deploy-localrun but cannot deploy function in `localrun`  mode.

1. Create a function in python as `./pyfunc.py`:

[code]

2. Run

[2022-11-28 07:26] #18497 closed

[2022-11-28 07:40] labuladong commented on #18652
Update: I start Pulsar standalone on docker, then run `./bin/pulsar-admin functions localrun` on docker, the function can start successfully.

I notice that in docker image script, it installs `pulsar-client[all]` instead of `pulsar-client`:

https://github.com/apache/pulsar/blob/598ca5dacd073e00367e320a1c98f8648eadcb18/docker/pulsar/scripts/install-pulsar-client.sh#L29-L31

[2022-11-28 07:53] #18580 closed

[2022-11-28 11:04] RobertIndie opened #18656 "[Doc] 404 URL for openssl.cnf example"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

There are many url like `wget https://raw.githubusercontent.com/apache/pulsar-site/main/site2/website/static/examples/openssl.cnf` link to the openssl.cnf. But this file was deleted at https://github.com/apache/pulsar-site/pull/

[2022-11-28 12:38] dciocirl opened #18657 "[Bug] Number of partitions metadata is not updated with replicated topics"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.10.2

### Minimal reproduce step

1. Have 2 pulsar clusters in 2 different regions
2. Create a namespace and topic that is replicated in both regions with lets say 6 partitions;
3. Notice that when you create in one region the pulsar-admin does a PUT in the

[2022-11-28 12:50] lhotari commented on #18657
It looks like #5306 added support for this use case. Perhaps there are certain conditions. @dciocirl do you see any errors in the logs when you update the number of partitions?

[2022-11-28 13:05] #18614 closed

[2022-11-28 13:07] lhotari commented on #18657
from the [Slack discussion](https://apache-pulsar.slack.com/archives/C5ZSVEN4E/p1669640177476369?thread_ts=1669632224.286389&cid=C5ZSVEN4E).  "the partitions are created in both clusters, the problem is the metadata is not updated in the remote one"

It looks like there's a gap in the solution provided by #5306 or it simply has broken after the addition since the test doesn't seem to validate that

[2022-11-28 13:21] alpreu opened #18658 "[Bug] Records with BytesSchema are now sent as AUTO_CONSUME"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

The affected version is Pulsar 2.9.3

### Minimal reproduce step

1) Produce a message without explicitly setting a schema:
[code]

2) Deploy a `Sink<GenericRecord>` connector (e.g. https://github.com/streamnative/pulsar-io-cloud-storage) consuming the topic

[2022-11-28 15:57] david-streamlio commented on #14675
Not sure if this is related to the problem or not, but I noticed that you have the wrong value for the `advertisedAddress` property in both your `bookkeeper.conf` and `broker.conf` files. These values should be set to the hostname of the bookie and broker respectively and **NOT**  the hostname of your external ZK hosts.

The fact that you are trying to use that same hostname _might_ be causing som

[2022-11-28 18:28] michaeljmarshall commented on #18584
Thanks for the suggestion @hpvd. I think this issue is requesting an improvement to the kubernetes runtime that ships with pulsar.

[2022-11-28 19:31] michaeljmarshall commented on #18530
Thanks for fixing this @nicoloboschi!

[2022-11-28 20:12] hpvd commented on #18584
jep. Sorry the issue was not the right target to link (it's a preview how function scaling in function mesh should/will work in the near future -> using keda)

Wanted to point to a solution how functions could be auto-scaled today (with additional tool: function-mesh)

source:
https://functionmesh.io/docs/scaling

[2022-11-29 01:30] #18598 closed

[2022-11-29 03:54] michaeljmarshall commented on #18656
Is the file here: https://raw.githubusercontent.com/apache/pulsar-site/main/site2/website-next/static/examples/openssl.cnf?

[2022-11-29 03:55] michaeljmarshall commented on #18656
Here is the stable link: https://pulsar.apache.org/examples/openssl.cnf. I wouldn't recommend linking to anything in the `pulsar-site` github repo.

[2022-11-29 03:58] tisonkun commented on #18656
I second @michaeljmarshall's comment and already commented at https://github.com/apache/pulsar-site/pull/307#pullrequestreview-1196819268.

[2022-11-29 07:05] RobertIndie commented on #18656
@michaeljmarshall @tisonkun I didn't notice that we already have the link  https://pulsar.apache.org/examples/openssl.cnf. I agree we shouldn't link to the GitHub repo. And I created a PR to fix all that 404 links: https://github.com/apache/pulsar/pull/18667. PTAL. Thanks.

I'm curious about where the source file for this link(https://pulsar.apache.org/examples/openssl.cnf) is maintained.

[2022-11-29 07:09] michaeljmarshall commented on #18656
The source that is put on the website is https://github.com/apache/pulsar-site/blob/main/site2/website-next/static/examples/openssl.cnf. Note that the file is copied to the `asf-site-next` branch when updates are published. Here is the current version that is available on the website: https://github.com/apache/pulsar-site/blob/f699156eaa2d39bbd999387a00163288f1dbfeb6/content/examples/openssl.cnf.

[2022-11-29 07:17] yaalsn commented on #18652
Have you installed `pulsar-client ` in your python interpreter ?

[2022-11-29 07:29] #18656 closed

[2022-11-29 07:37] eolivelli commented on #18658
@cbornet can you please take a look ?

[2022-11-29 07:39] eolivelli commented on #18658
I believe that Record.getSchema() should return BytesSchema, but maybe something is broken on 2.9.x.

@alpreu as a workaround you can try with `record.getMessage().getReaderSchema()` or something like that

[2022-11-29 07:48] labuladong commented on #18208
You can try `negativeAcknowledge` in `Failover/Exclusive` subscription types. All the messages the consumer didn't acknowledge will be redelivered, this behavior could be negatively acknowledged cumulatively. But there do have some discussions about the redelivery behavior on `Failover/Exclusive` subscription types, see https://lists.apache.org/thread/vdwhg5wrpjc8x41oqwxrsdhx7dmyzt3j

[2022-11-29 07:54] labuladong commented on #18104
Assign to me, this is a CSS style bug.

[2022-11-29 08:54] startjava commented on #18208
but i don't know what mean "negatively acknowledged cumulatively"。

[2022-11-29 09:00] momo-jun commented on #12226
@congbobo184 @liangyepianzhou @RobertIndie can anyone pls take a look at this issue and advise?

[2022-11-29 09:05] momo-jun commented on #15655
@congbobo184 @liangyepianzhou can you pls take a look at this issue of schema docs? I guess it has been addressed in. Any chance we can take care of it through [this doc improvement PR](https://github.com/apache/pulsar/pull/18434)?

[2022-11-29 09:18] momo-jun commented on #18208
You can understand it as "Cumulative NACK" - the negative acknowledgement is performed cumulatively, that is, consumers only negatively acknowledge the last message they receive.

[2022-11-29 10:38] nicoloboschi opened #18670 "Improve function worker bootstrap time when runtime is not equals to thread"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Currently, the Function Worker standalone loads builtin connectors and functions at the bootstrap.
For each connector, it creates a `Connector` object that contains metadata about the connector (name..) and the ClassLoader.

To create the class loader the

[2022-11-29 10:52] horizonzy opened #18671 "[Bug] The AutoRecovery didn't aware rack info after restart."
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

pulsar: master
auto-recovery: inline in pulsar.

### Minimal reproduce step

1. Use pulsar-admin to set rack info.
2. Observe the AutoRecovery log, it show that aware the newest rack info.
3. Restart AutoRecovery, it didn't aware the rack info, stepdown to de

[2022-11-29 11:11] horizonzy opened #18673 "[Bug] BookieRackAffinityMapping is not compatible with custom BookieId"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Pulsar: master

### Minimal reproduce step

1.Start bookie server with config property:
```bookieId=node1```.
2.Then start pulsar with bookkeeper config: ```reppDnsResolverClass=org.apache.pulsar.zookeeper.ZkBookieRackAffinityMapping```
3. The pulsar didn't p

[2022-11-29 13:15] liangyepianzhou commented on #18658
The [PR14847](https://github.com/apache/pulsar/pull/14847) adds a conversion here to ensure the record sent to the sink connector will not be an AutoConsume Scheme.

https://github.com/apache/pulsar/blob/58ad3d09ddca46e9e2805e9c7a37c0de1a5c302d/pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/PulsarSource.java#L122

This is why in 2.10.x the sink connector regained the By

[2022-11-29 13:40] cbornet opened #18674 "[Doc] Document how to write Window Functions"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

There is no documentation on how to write Window Functions

### What is your suggestion?

Add a page or a section in https://pulsar.apache.org/docs/next/functions-develop-api

### Any reference?

_No response_

### Are you willi

[2022-11-29 13:49] liangyepianzhou commented on #18658
And if you want to sink messages with Bytes schema, this [PR](https://github.com/streamnative/pulsar-io-cloud-storage/pull/508) may be helpful to you.

[2022-11-29 18:38] crossoverJie opened #18676 "Add additional data to negativeAcknowledge"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

When rejecting a message I want to add some additional information that I can get when the message is consumed again.

### Solution

Add new API:

[code]

Consumer:
[code]

### Alternatives

_No response_

### Anything else?

_No response_

### Are you wil

[2022-11-29 18:40] paullryan commented on #9731
These are now giving stale for all pulsar packages in alpine and is breaking builds, what is your recommended path for alpine now https://pkgs.alpinelinux.org/package/edge/testing/x86/py3-pulsar-client-cpp (gives a 404 as do the urls for pulsar-client-cpp and pulsar-client-cpp-dev).

[2022-11-29 21:33] eolivelli commented on #9731
@BewareMyPower @merlimat could you help here please?

[2022-11-29 21:44] merlimat commented on #9731
@paullryan Since 3.0.0, C++ client APK packages for Alpine are provided. See: https://dist.apache.org/repos/dist/release/pulsar/pulsar-client-cpp-3.0.0/

[2022-11-30 02:45] wmelton opened #18678 "Add Javascript/Nodejs runtime environment for Functions"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

The documentation for Functions shows existing support for Java, Python, & Go, but no current support for nodejs based Functions. Given the enormity of the JS community, it would seem like a huge value-add to support JS Functions, especially for folks look

[2022-11-30 06:02] lifepuzzlefun commented on #18641
another one  https://github.com/apache/pulsar/pull/18672/files
<img width="1581" alt="image" src="https://user-images.githubusercontent.com/13600283/204719495-cc8d3bb3-1dad-4ab6-8929-495d7499afe4.png">

[2022-11-30 07:38] Anonymitaet opened #18682 "[Doc] generate client conf doc from code automatically"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

Currently, [client conf doc](https://pulsar.apache.org/reference/#/next/config/reference-configuration-client) is inaccurate.
The content should be the same as in https://github.com/apache/pulsar/blob/master/conf/client.conf.

#

[2022-11-30 07:50] liangyepianzhou commented on #12226
@saveriogzz Thanks for you point that out.
https://github.com/apache/pulsar/pull/18434 has given some new examples without the annotations.

[2022-11-30 07:50] #12226 closed

[2022-11-30 08:13] labuladong opened #18683 "Flaky-test: ProxyAuthenticationTest.authenticatedSocketTest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3581022993/jobs/6023785454#step:10:1392

### Exception stacktrace

<summary>Full exception stacktrace</summary>
<pre><code>
org.apache.pulsar.websocket.proxy.ProxyAuthenticationTest.authenticatedSocketTest

[2022-11-30 08:23] labuladong opened #18684 "Flaky-test: TransactionBufferClientTest.testAbortOnTopic"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3581022993/jobs/6023785340#step:10:1394

### Exception stacktrace

<summary>Full exception stacktrace</summary>
<pre><code>
org.apache.pulsar.broker.transaction.buffer.TransactionBufferClientTest.testAbort

[2022-11-30 08:56] horizonzy commented on #18671
After https://github.com/apache/pulsar/pull/17922, pulsar also didn't aware the rack info after it restart.

[2022-11-30 11:45] jennifer88huang opened #18687 "[Bug] The search function on Pulsar home page does not work properly"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

V2.10.x

### Minimal reproduce step

When I search some keyword on [Pulsar home](https://pulsar.apache.org/docs/admin-api-tenants/#update) page, and does not get the expected result.
1. Enter a keyword in the search box, and click any item from the search lis

[2022-11-30 12:56] labuladong commented on #18617
+1

https://github.com/apache/pulsar/actions/runs/3582673357/jobs/6027379286#step:10:590