[2021-02-03 18:53] lhotari opened #9459 "Flaky-test: PulsarFunctionsTest.testDebeziumPostgreSqlSource"
org.apache.pulsar.tests.integration.functions.PulsarFunctionsTest is flaky. The testDebeziumPostgreSqlSource test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-01-27T06:39:14.9992308Z](https://github.com/apache/pulsar/runs/1774583665?check_suite_focus=true#step:13:4560)
[example

[2021-02-03 20:12] merlimat commented on #9408
@lhotari Submitted a fix at https://github.com/apache/pulsar/pull/9460

[2021-02-03 20:17] rangas26 opened #9461 "Encryption support for aws-s3 offloader"
#### Expected behavior
aws-s3 offloader should upload the segments even when the target bucket have restricted bucket policy to allow writes of encrypted objects only.

#### Actual behavior

aws-s3 offloaders fail to upload segments when the policy of the target bucket requires all objects to be encrypted.
offloader fails with the error below

[code]

#### Steps to reproduce

Edit the target bucke

[2021-02-03 21:35] #8163 closed

[2021-02-03 22:06] Alxander64 opened #9462 "Pulsar Functions Leak Database Credentials to Logs"
**Is your enhancement request related to a problem? Please describe.**
When I look at logs of function workers, I can see where database passwords are revealed in plain text.

[code]

This is an example snippet of logs I see. I've replaced some information with placeholders in all-caps, like `USERNAME` and `PASSWORD`. Most sensitive information is seen under `configs`.

Note that this is also the

[2021-02-03 23:28] alexanderursu99 opened #9464 "JDBC Sinks Stop Working as Intended after a Database Error"
**Describe the bug**
When running a ClickHouse JDBC Sink, and encountering some error from the database (e.g. timeout), the sinks seems to continue consuming, but not actually insert or ack any further messages.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a ClickHouse JDBC sink with batch size 100000 and timeout 60000ms, using kubernetes runtime on 2.6.1
2. Restart the ClickHouse ins

[2021-02-03 23:37] rdhabalia commented on #9288
If all the replicas are not available and data is not recoverable then user can always skip the messages on that cursor using skip-message admin API. I think manual handling for such data loss (using admin-api) is better than skipping it automatically without user's concerns.

[2021-02-03 23:59] merlimat commented on #9374
The only reason we compile the C++ library for the Docker images is to include the Python client library, so that Python function can be executed in the Docker containers.

For CI tests purposes, it would be ok to use a snapshot of the Python lib. We could be pushing a nightly wheel file to the Apache Snapshot maven repo and fetch it from there in the integration tests.

The thing to be careful th

[2021-02-04 01:04] hanguyen6 opened #9466 "Having record builder using JSON schema"
I am trying to build a generic record from JSON schema dynamically using SchemaBuilder and RecordBuilder.
Below is the code snippet

`
    val recordBuilder = SchemaBuilder.record("testJson")

    recordBuilder.field("eventType").type(SchemaType.STRING)
    val si: SchemaInfo = recordBuilder.build(SchemaType.JSON)
    val pulsarSchema = org.apache.pulsar.client.api.Schema.generic(si)
`
`

    val

[2021-02-04 02:31] dragonls commented on #9416
@Anonymitaet Thanks for reminding.

The `Run Pulsar in Kubernetes` doc is more likely to be the tutorial doc for k8s, using `examples/value-minikube.yaml`.

If we can add the note in `Deployment` doc, it can be a good point to note the user which is beginner of the helm deployment.

[2021-02-04 03:13] codelipenghui commented on #9466
@hanguyen6 Currently, Pulsar only supports AVRO Generic Schema. I labeled as type/feature

[2021-02-04 03:16] hanguyen6 commented on #9466
@codelipenghui  thanks for confirmation. Is there other way I can build record dynamically using json schema ?

[2021-02-04 03:39] Renkai commented on #9433
I will work on this.

[2021-02-04 03:43] aloyszhang opened #9467 "Exceptions when get optional field of protobuf Message"
**Describe the bug**
When I run pulsar cluter on the master branch with latest commit `fa41d02bebfd841767846240f3ae574047f118f0`,  meet some exceptions like
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Build pulsar dependencies on master branch
2. deploy a pulsar cluster and start
3. Start a client producer `bin/pulsar-client  produce  -n 10 -m "test" test/test/test`
4. Will see exc

[2021-02-04 03:44] Renkai commented on #9461
Looks like this part is not in our tests coverage yet, I will try to add some test to reproduce this.

[2021-02-04 04:50] merlimat opened #9470 "CI is broken on master failing on SQL integration test"
cc/ @hnail

After merging #8422 into master, the SQL integration tests are consistently failing now and are blocking all other changes.

Example:

https://github.com/apache/pulsar/pull/9435/checks?check_run_id=1820086019

The cause of the failure seems to be this exception:

[code]

I'd suggest to revert the commit to unblock master while the tests can be fixed.

[2021-02-04 05:25] lhotari commented on #9408
Thank you @merlimat

[2021-02-04 06:12] #9418 closed

[2021-02-04 06:26] Renkai commented on #9461
@rangas26  AWS has server side encryption and client side encryption, which one would you like to use?
https://docs.aws.amazon.com/AmazonS3/latest/dev/SSEUsingJavaSDK.html
https://docs.aws.amazon.com/AmazonS3/latest/dev/UsingClientSideEncryption.html

[2021-02-04 06:27] yangl opened #9474 "`delete-cluster-metadata` command unable to cleanup all metadata inited by `bin/pulsar initialize-cluster-metadata`"
**Describe the bug**

the `delete-cluster-metadata` command should clean all metadata in zookeeper inited by `bin/pulsar initialize-cluster-metadata`

**To Reproduce**

Steps to reproduce the behavior:
1. init cluster metadata by https://pulsar.apache.org/docs/en/deploy-bare-metal/#initialize-cluster-metadata
2. use the zkCli connect to the localzk, `ls /`, get the
`zookeeper
stream
bookies
ledger

[2021-02-04 06:44] Renkai commented on #9461
As far as I know, current offloaders don't support client side encryption,yet. So you may need to make you bucket to allow unencrypted object now.

[2021-02-04 07:06] Renkai commented on #9461
Pulsar already have an end to end encryption (https://pulsar.apache.org/docs/en/security-encryption/)
If you enabled it, the data is offloaded is encrypted, but it's not encrypted in S3's standard, so S3 will recognize it as unencrypted data, you'd better disable the `RequiredEncryptedPutObject` check in your bucket.

[2021-02-04 07:09] Anonymitaet commented on #9416
Resolve in https://github.com/apache/pulsar/pull/9417

[2021-02-04 07:09] #9416 closed

[2021-02-04 07:44] hnail commented on #9470
That error looks same as [Pulsar SQL Fails Out of the Box with Default Docker Deployment v2.5.0 #6501](https://github.com/apache/pulsar/issues/6501) , are you sure this is caused by #8422 ? cc @gaoran10

[2021-02-04 08:16] aloyszhang commented on #9441
@zymap Thanks for your comments.
As I comment in https://github.com/apache/pulsar/pull/9444. I think we have to passed a `MessageIdImpl` type parameter to broker, like `-d '{"ledgerId": 9223372036854775807, "entryId": 9223372036854775807, "partitionIndex": -1}'` or `-d '{"ledgerId": -1, "entryId": -1, "partitionIndex": -1}'`.

I removed the link of  https://github.com/apache/pulsar/pull/9444 since

[2021-02-04 08:39] yangl commented on #9474
after the init, the zk path as follow:

the --zookeeper  zk  contains  **`namespace stream bookies managed-ledgers`**
the --configuration-store zk contains **`admin pulsar`**  -- this may should not cleanup?
the --existing-bk-metadata-service-uri zk contains  **`/chroot/ledgers`**

[2021-02-04 09:10] BewareMyPower commented on #9474
This command is to delete a cluster's metadata. As you can see, the `/admin/clusters` node may contain two nodes:

[code]

Here `my-cluster` is the `clusterName` defined in `conf/broker.conf`. When we have multiple clusters that share the same configuration store, if we deleted the whole `/admin` node, other clusters would be affected.

The same goes for `/ledgers` node when multiple clusters shar

[2021-02-04 09:12] munir131 opened #9477 "Force delete subscription is not working"
**Describe the bug**
There is provision in admin API to force delete subscription. But, when I am passing ***force=true*** in querystring I am getting response with a 204 status code. But, when checking the subscription list, that subscription is still there.

**To Reproduce**
Steps to reproduce the behavior:
1. Run pulsar
2. Create producer & consumer on that topic. Here I used pulsar-client-go 2

[2021-02-04 09:18] BewareMyPower commented on #9474
By the way, in my own cluster, there's no `/pulsar` node, see

[code]

And for the change

I think it's not necessary. The parameter is different from `PulsarClusterMetadataSetup`, when we setup a cluster, we need to differ if the URI is an existed BK or a not existed BK that will be created. If we just use `--bookkeeper-metadata-service-uri`, it may be confused. So the parameter name became `--ex

[2021-02-04 09:20] Renkai commented on #5843
https://github.com/apache/pulsar/pull/9469
This pr may solve it.

[2021-02-04 10:04] yangl commented on #9474
Get, thanks! @BewareMyPower
so i just correct the "-cluster" --> **"--cluster"**

[2021-02-04 10:20] jack-tristan opened #9478 "Delete the old data of the same key in topic, so as to clean up the disk space 【topic compaction enhance】"
**Is your feature request related to a problem? Please describe.**
 There are many data of the same stock with different prices in the stock price topic. I only need to keep the data of the latest price of the same stock. How can I delete the historical price data of the same stock?  Because they take up too much storage space, I need to clean up the disk space.

**Describe the solution you'd like

[2021-02-04 11:15] lhotari opened #9479 "[Build] Cancelling workflows with airflow-cancel-workflow-runs action within each workflow doesn't seem to work"
Cancelling workflows with airflow-cancel-workflow-runs within each workflow doesn't seem to work. That change was made in #9357 .

However there's something that is cancelling workflows. Cancelling happened for example for PR #9443 . All of it's checks are now in cancelled state. I checked also a few other cases. It looks like someone is manually maintaining the build queue and cancelling jobs.
An

[2021-02-04 11:36] lhotari commented on #9479
@potiuk I guess airflow-cancel-workflow-runs would be perfect if we didn't have so many workflows. I wonder if it would be possible to have it get triggered only by a single workflow request, but still cancel all runs in all workflows for that particular branch?

[2021-02-04 12:26] #9474 closed

[2021-02-04 13:07] rangas26 commented on #9461
@Renkai I was trying to use SSE (server side encryption). I have tested that the offloader works with out the policy in place but our organization policy will not allow to create buckets with out that policy.

Wondering if there are any plans to add this new feature. Ideally it should be configurable in the broker configuration
s3OffloaderEncryptionType=sse

[2021-02-04 13:14] xxxxpenny commented on #9477
If you always run the consumer and use the API to force unsubscribe, the consumer will resubscribe. Maybe this is the reason for this problem? This problem is reproduced using the python client
This is python consumer log
[code]

[2021-02-04 13:24] sbourkeostk opened #9480 "support auto.offset.reset in kafka connector"
**Is your enhancement request related to a problem? Please describe.**
The kafka source sets auto.offset.reset to "earliest". This means all old messages from kafka are produced to pulsar. Often is it desirable to start form the present location "latest".
The option is set after the user config has been loaded so it cannot be changed:
[source code link](https://github.com/apache/pulsar/blob/master

[2021-02-04 13:26] Renkai commented on #9461
https://github.com/apache/jclouds

@rangas26 Could you have a try to use Jclouds to put an object on your bucket use SSE? Pulsar use Jclouds to offload data to S3 now, if Jclouds does not support SSE, Pulsar will not support it until Jclouds do or when Pulsar migrate from Jclouds to  Official AWS SDK.

[2021-02-04 13:59] matthewgettemy opened #9483 "Support for nested types in pulsar.schema.Record"
Are nested types supported in pulsar.schema.Record?

An example payload that I'd like to de/serialize is
`values={"A": [1.1, 2.2, 3.3], "B": [5.5, 6.6, 7.7]}`

### Minimal example:

[code]

### Produces:

2021-02-04 08:53:45.513 INFO  [140206084425536] ConnectionPool:85 | Created connection for pulsar://localhost:6650
2021-02-04 08:53:45.515 INFO  [140205875353344] ClientConnection:353 | [127.0.0.

[2021-02-04 14:03] xiaotongwang1 opened #9484 "pulsar performance help"
### VM Server config

1、9 broker  with 16C 128G
2、9 bookie  with  16C128G and  9 SSD disk * 500G data1，data2,data3 for journal,and data4、data5、data6、data7、data8、data9 for ledgers
3、5 zookeeper with 8C32G

### TPS Now

1、1 topic with 500 partitions
2、1500 producer thread
3、1 subscribeName and init 50 pulsar Consumers
4、message size is 100
5、producer TPS is 457K, avg time 9 ms ,max time 500+ms
6、con

[2021-02-04 14:13] Renkai commented on #9433
@klwilson227 I submitted a patch at https://github.com/apache/pulsar/pull/9469
Reviews are welcomed if you are willing to.

[2021-02-04 14:28] Renkai commented on #9424
Thanks for trying, may you try to use the pulsar binary?
 https://pulsar.apache.org/en/download/
So that we can find the problem is caused by Pulsar or the docker image.

[2021-02-04 15:20] addisonj commented on #9424
@YanshuoH this should already be fixed in master by  https://github.com/apache/pulsar/pull/9387. There was a regression in using tokens that can expire. The fix should land in 2.6.4 and 2.7.1.

[2021-02-04 15:38] #9470 closed

[2021-02-04 19:01] potiuk commented on #9479
You are inded usign the action wrongly.

The problem is that the workflow that runs from fork does not have permission to write in your repo:

This is what  `Could not cancel run 527073250: [403] Resource not accessible by integration` message means (thought it is not obvious).

The actual "cancel" action shoudl run in a separate worklfow (of `workflow_run` type): https://docs.github.com/en/action

[2021-02-04 20:18] lhotari commented on #9479
Thank you @potiuk , that would be helpful.

[2021-02-05 00:35] hanguyen6 opened #9488 "Check message backlog size using Reader interface"
I am using reader interface to read topic starting from a messageId.

When I check topicStats the backlogSize seems increasing, even after the reader completed.

Is it possible  to calculate message back log size when reader interface is used ? Like comparing with current messageId and latest messageId ?

[2021-02-05 01:08] ni-ze commented on #9332
Failed to read artifact descriptor for net.minidev:json-smart:jar:2.3-SNAPSHOT: Could not transfer artifact net.minidev:json-smart:pom:2.3-SNAPSHOT from/to spring-plugins-release (https://repo.spring.io/plugins-release/): Not authorized

[2021-02-05 01:16] ni-ze commented on #9332
------------
this problem occur in branch 2.7.0

[2021-02-05 02:11] xiaotongwang1 commented on #9484
@codelipenghui can you help check the  config and error log ,thanks

[2021-02-05 03:30] xiaotongwang1 commented on #9484
[dmq@host-10-33-141-93 arthas]$ jmap -histo:live 20135|head -n 100

 num     #instances         #bytes  class name
----------------------------------------------
   1:          2728     2908059496  [J
   2:         10303       35648096  [B
   3:         12900       13121224  [Ljava.lang.Object;
   4:         55838        5813320  [C
   5:          5226        3428256  io.netty.util.internal.shaded

[2021-02-05 06:08] munir131 commented on #9477
@xxxxpenny I already removed all permissions from that topic. So, consumer must not be resubscribed. If I am restarting consumer then I am getting an error that your token is unauthorized. Same thing is happening when I have an active producer and try to force delete the topic.

[2021-02-05 06:20] lhotari commented on #9479
@potiuk Is there a mode where one could limit "killing of the duplicates" to the same branch as the new triggered workflow run?

[2021-02-05 06:33] Jennifer88huang commented on #8872
@ In https://github.com/apache/pulsar/pull/9313, do you mean that since 2.7.1, `brokerClientAuthenticationParameters` supports JSON format for TLS keystore, [JWT](http://pulsar.apache.org/docs/en/next/security-jwt/), [Athenz](http://pulsar.apache.org/docs/en/next/security-athenz/), [Keberos](http://pulsar.apache.org/docs/en/next/security-kerberos/)?

[2021-02-05 06:46] #8000 closed

[2021-02-05 07:35] #9425 closed

[2021-02-05 09:21] lichuan6 opened #9491 "failed to delete topic with HTTP 500 Internal Server Error"
**Describe the bug**

I have a producer which produces logs to `public/logging/app` and a consumer which consumes the messages and sinks to elaticsearch. Occasionally, for debug purpose, I delete the topic or namespace using `pulsar-admin topics delete public/logging/app --force` or `pulsar-admin namespaces delete public/logging --force`. The reason why I use `--force` is that I cannot delete them

[2021-02-05 09:30] BewareMyPower commented on #9449
It's a catchup work of C++ client. I'll fix this issue. Please assign it to me, @sijie

[2021-02-05 10:30] eolivelli opened #9492 "Building Docker images locally is very slow while building the CXX client"
**Is your enhancement request related to a problem? Please describe.**
On my Mac building the docker images is very slow, and the slowest part is during the build of the CXX client

[code]
I found that there would be some way to skip this part by using `skipBuildCppClient,skipBuildCppClient`
but if I enable those flags the build fails

the command is
[code]

**Describe the solution you'd like**
To

[2021-02-05 10:56] #9409 closed

[2021-02-05 10:58] #9431 closed

[2021-02-05 11:49] potiuk commented on #9479
Yes. The `duplicates` mode works this way (see docs below). It was the original mode it worked on by default but it is not really effective in the "hight strain' situation as it turned out, and that's why I introduced `allDuplicates`.

Why this is not a good idea to use `duplicates` while we are having the "high queue strain" problem?

Because of the way how workflows are queued. The `allDuplicate

[2021-02-05 14:25] #9467 closed

[2021-02-05 14:45] codelipenghui commented on #9491
@lichuan6 I think this PR https://github.com/apache/pulsar/pull/7356 is fixed this problem but 2.6.3 does not contain this fix. You can try the 2.7.0.

[2021-02-05 14:47] codelipenghui commented on #9492
@eolivelli @Renkai I think RenKai is working on this.

[2021-02-05 15:15] eolivelli commented on #9492
Cool. Thanks

[2021-02-05 15:17] eolivelli commented on #9332
We could cherry pick #9280 to branch-2.7.0, that repo was useless

[2021-02-05 15:44] weibetter opened #9495 "[pulsar-client-cpp] ProducerConfiguration's addEncryptionKey really not adding encryption."
#### Expected behavior

Tell us what should happen:
While waiting for the DefaultCryptoKeyReader, I follow the https://pulsar.apache.org/docs/en/security-encryption/ page by implementing the RawFileKeyReader in cpp. By including the setCryptoKeyReader and addEncryptionKey, the producerconfiguration.isEncryptedEnabled returns True. Then calling the client.createProducer(topic, config, producer), th

[2021-02-05 18:45] WJL3333 opened #9496 "[test-tool] pulsar-perf managed-ledger test tool fail when ledgerNum < threadNum"
**To Reproduce**
pulsar-2.7

./pulsar-perf managed-ledger -e 3 -w 2 -o 10000 --threads 20 -r 100000 -s 2048 -zk localhost:2181

**Expected behavior**
A clear and concise description of what you expected to happen.

02:42:35.871 [bookkeeper-ml-workers-OrderedExecutor-1-0] INFO  org.apache.bookkeeper.mledger.impl.ManagedLedgerFactoryImpl - [test-0d205-000] Successfully initialize managed ledger
02:4

[2021-02-05 21:46] YanshuoH commented on #9424
Thanks guys.

Didn't look into the latest code, my bad.

The MR seems fine. I'll wait the 2.6.4 to land. By the way, do we have an ETA for that?

Feel free to close this issue if needed.

[2021-02-05 21:55] megfigura commented on #9045
I hit a similar issue today where adding a dependency on pulsar-client-admin (2.6.0) caused compilation errors in other code in my project using protobuf. Checking the pulsar-client-admin jar, I see that its protobuf dependency (and others) are included inside and their packages are not [shaded / relocated.](https://maven.apache.org/plugins/maven-shade-plugin/examples/class-relocation.html) This c

[2021-02-06 01:05] MarvinCai commented on #9488
I think we can probably add a admin API to calculate backlog size given a current position.

[2021-02-06 08:50] xche opened #9502 "Restart all instances of a Pulsar Source failed"
**Describe the bug**
Restart all instances of a Pulsar Source failed

Runtime ： Thread Runtime
functionWorker number ： 3
Source task instances number: 6

And  Each functionworker has 2 source instance

**To Reproduce**
Steps to reproduce the behavior:
1. When I call the "https://pulsar.apache.org/admin/v3/sources/{tenant}/{namespace}/{sourceName}/restart"
2. See error "Failed to perform http post

[2021-02-06 12:30] potiuk commented on #9479
Sorry it's been a little later PR is here: https://github.com/apache/pulsar/pull/9503

Since it need master merge first, I run it on my fork to test it here:

https://github.com/potiuk/pulsar/runs/1844795428

[2021-02-06 19:47] #9408 closed

[2021-02-07 02:10] codelipenghui opened #9507 "Allow pulsar-perf to enable or disable batch index acknowledgment."
**Is your enhancement request related to a problem? Please describe.**
PIP-45 https://github.com/apache/pulsar/wiki/PIP-54:-Support-acknowledgment-at-batch-index-level introduced batch index level acknowledge but the pulsar-perf client does not support to enable it for the consumer. It's better to allow users to do the performance test for the batch index acknowledgment.

**Describe the solution y

[2021-02-07 02:13] limingnihao commented on #9507
I will fix this issue, please assign it to me.

[2021-02-07 02:28] #8591 closed

[2021-02-07 03:20] xuesongxs opened #9508 "Add listeningInterface in broker.conf,Use Network Interface instead of IP"
**Is your feature request related to a problem? Please describe.**
Use Network Interface instead of IP in broker.conf.

If the advertisedAddress property is configured, use advertisedAddress. If the advertisedAddress property is not configured, use listening interface. If the listening interface property is not configured, use host name.

example:
#Set the network interface that the broker should

[2021-02-07 03:27] nadikattu07 commented on #4599
Hi Team,

our team is using Bookkeeper , and we are seeing many under replicated ledgers in the bookies. Could you please hlelp in understating what could be the root cause for Underreplicated Ledgers? Thanks
Note: we do bookeeper upgrade with latest AMI for every 3 months.

[2021-02-07 04:54] flowchartsman opened #9511 "[Go Functions] NewOutputMessage does not cache producers"
The multi-dispatch functionality in go (as implemented with `NewOuputMessage()` in #8327) needs some rethinking. The primary concern of this issue is that it creates a new producer for every output message which is then immediately discarded after one message. At the very least, these producers should be cached, as [suggested here](https://github.com/apache/pulsar/pull/8327#discussion_r511014789).

[2021-02-07 05:10] flowchartsman opened #9512 "[Go Functions] NewOutputMessage API should probably be changed to Publish()"
The multi-dispatch functionality in Go Functions (as implemented with `NewOuputMessage()` in #8327) is a bit of an awkward API to use. For one, it returns a new Producer, not a new `OutputMessage` (in fact, the Go SDK does not have the concept of the message builder that is present in Java). For another, no customization of the producer is possible, so it seems unnecessary to have it returned at a

[2021-02-07 06:23] eolivelli commented on #4599
Probably it is better to place this question in Bookkeeper project.
You can open an issue in github.com/bookkeeper or reach out the community at user@bookkeeper.apache.org

[2021-02-07 08:32] Renkai commented on #8282
Could not reproduce in my environment, that's the commands I used.
Could you give more information about the compact command you use? @lukestephenson @lukestephenson-zendesk
By the way, the error should not be swallowed any more after https://github.com/apache/pulsar/pull/9323
Feel free to upgrade or cherry-pick this patch to get more detailed diagnosis info
[code]

[2021-02-07 09:57] yongliangcode opened #9518 "get-message-by-id command require friendly reminder tips"
**Describe the bug**
Step 1: Where execute this command, get tips 'Topic not found' .

$ bin/pulsar-admin topics get-message-by-id persistent://public/melon-namespace/melon-topic -l 110 -e 24630
17:20:57.545 [AsyncHttpClient-7-1] WARN  org.apache.pulsar.client.admin.internal.TopicsImpl - Exception 'Topic not found' occurred while trying to get message.
java.lang.NullPointerException
  at org.apach

[2021-02-08 02:26] #9433 closed

[2021-02-08 04:49] #9254 closed

[2021-02-08 04:54] #9496 closed

[2021-02-08 05:01] #9449 closed

[2021-02-08 05:02] lichuan6 commented on #9491
@codelipenghui
As it is not practical and takes much engineering time to upgrade the whole pulsar cluster, any workaround to fix this in the old version?

Thanks

[2021-02-08 06:21] #9507 closed

[2021-02-08 08:59] lichuan6 commented on #9491
My current solution was to remove data in zookeeper using `zdCli.sh`:

[code]

The topic was deleted.

[2021-02-08 10:35] eolivelli opened #9526 "CI is not running tests"
Today I have a PR that is not validated, this is the error on GitHub actions.

Basically GitHub is believing that this is a website only change and it is not performing tests

![Screenshot 2021-02-08 at 11 34 23](https://user-images.githubusercontent.com/9469110/107208301-b2127e00-6a01-11eb-8632-87655f2a24f1.png)

[2021-02-08 10:38] eolivelli commented on #9526
It happened at least in those two Pull requests:
https://github.com/apache/pulsar/pull/9448
https://github.com/apache/pulsar/pull/8590

[2021-02-08 10:46] lhotari commented on #9526
This issue has been reported as https://github.com/apache/pulsar-test-infra/issues/12 . It's a bug in https://github.com/apache/pulsar-test-infra/blob/master/diff-only/entrypoint.sh .
The diff-only solution doesn't work well together with shallow clones. Because of performance and efficiency, the Pulsar workflows use a shallow clone of last 25 commits. That doesn't work together with diff-only sol

[2021-02-08 11:01] limingnihao commented on #9364
I will fix this issue, please assign it to me.

[2021-02-08 11:39] lhotari commented on #9526
Changes to eliminate diff-only action completely in pulsar workflows: https://github.com/apache/pulsar/pull/9527

Fix to the bug in diff-only action: https://github.com/apache/pulsar-test-infra/pull/16

[2021-02-08 12:27] gaoran10 commented on #9242
Yes, the broker logs could help us to find more Infomation.

And I have some questions, please take a look.

1. If the topic didn't set the namespace offload policies, the offload operation could be executed successfully?
2. What authentication way do you use? refer to http://pulsar.apache.org/docs/zh-CN/tiered-storage-aws/#authentication-required
3. Do you upgrade the offloader nar package to `2.

[2021-02-08 14:10] lhotari commented on #9479
Fixed by @potiuk 's PR #9503 which has been merged.

@potiuk Thank you for the great help!

[2021-02-08 14:10] #9479 closed

[2021-02-08 17:51] joncashe commented on #9242
hello,

since we rollbacked this and we are close to deliver  will need to get the broker logs again but i remember there was nothing out of normal

related to your questions

1. havent tried that just with the offload policy
2. we are using iam role so im passing s3ManagedLedgerOffloadRole which works in 2.6.1
3. not sure about this but since we are using apachepulsar/pulsar-all/2.7.0 image, will

[2021-02-08 21:10] eolivelli commented on #9526
What's the status of this issue?

[2021-02-08 23:13] odmarkj commented on #8772
I did something similar myself here, if it helps: https://github.com/pandio-com/pulsar-python-functions/blob/master/functions/python-schema/src/PythonSchema.py

[2021-02-09 00:59] codelipenghui opened #9535 "Add metrics for the cursor ack state"
**Is your enhancement request related to a problem? Please describe.**

The acknowledgment state is persistent to the Ledger or Zookeeper(can't persistent to the Ledger). But currently, we don't have any metrics for the persistence of the acknowledgment state such as the total count of the success/failed persistent operations.

**Describe the solution you'd like**
Add metrics for the ManagedCursor

[2021-02-09 01:32] #9364 closed

[2021-02-09 01:43] #9423 closed

[2021-02-09 02:41] limingnihao commented on #9535
I will fix this issue, please assign it to me.

[2021-02-09 03:36] codelipenghui commented on #9491
@lichuan6 I have marked #7356 for the 2.6.4 release. We might release a minor version 2.6.4 for fixing some issues that 2.6.3 have.

[2021-02-09 03:42] codelipenghui commented on #9483
@congbobo184 Could you please help take a look at this issue?

[2021-02-09 03:48] codelipenghui commented on #9478
@jack-tristan Yes, you can use topic compaction to achieve your requirement.

[2021-02-09 03:51] codelipenghui commented on #9477
@munir131 Have you closed all the consumers under the subscription? By default, the subscription will be  created automatically when the active consumer reconnects to the broker.

[2021-02-09 04:23] YanshuoH commented on #9491
@codelipenghui And do we have an ETA for the 2.6.4 release? Thanks.

[2021-02-09 07:24] #9526 closed

[2021-02-09 07:56] anvinjain opened #9540 "Pulsar client does not shutdown when messages are being produced to dead letter topic"
**Describe the bug**
Pulsar client does not shutdown (deadlock occurs internally) when DLQ is configured in the consumer and failures are being produced to DLQ topic. This happens intermittently. I have been able to reproduce locally more often than not.

**To Reproduce**
Steps to reproduce the behavior:
1. Produce messages to a topic and build a large backlog (tens of thousands of messages to ens

[2021-02-09 08:25] #9315 closed

[2021-02-09 09:32] 0x5e commented on #2499
+1
I have no idea how to extend auth in python. There's only java documentation.
https://pulsar.apache.org/docs/en/next/security-extending/

[2021-02-09 09:35] congbobo184 commented on #9483
I check the java client can support nested type, can you check the python client @BewareMyPower?  Thanks :)

[2021-02-09 09:37] BewareMyPower commented on #9483
@congbobo184 OK, I'll take a look.

[2021-02-09 10:21] BewareMyPower commented on #9495
Could you follow the [tests](https://github.com/apache/pulsar/pull/9074/files#diff-4864d6f442c0448dfa305af4f15c52d5f6f008f4779c535a5953b8a411c104f4) and try the `DefaultCryptoKeyReader`?

[2021-02-09 10:25] hpvd commented on #9483
maybe it should be tested for clients described to have schema support?
see https://github.com/apache/pulsar/wiki/Client-Features-Matrix

[2021-02-09 10:40] #9168 closed

[2021-02-09 11:20] BewareMyPower commented on #9483
Yeah, I also tested for Python client, the nested types don't work. I guess it's an issue with Python `fastavro` library.

[2021-02-09 11:55] anvinjain opened #9543 "Add origin topic related properties when publishing message to dead letter topic in java client"
**Is your enhancement request related to a problem? Please describe.**
When message is produced to dead letter topic, its origin related information like original message-id and topic is lost. This info is useful when debugging failures and correlating failure logs with messages in dead letter topic.

**Describe the solution you'd like**
Add properties: real_topic and origin_message_id when a mess

[2021-02-09 12:55] BewareMyPower commented on #9483
I've added more detail logs.

| values | error message |
| :- | :- |
| `Array(Array(Float()))` | `org.apache.avro.SchemaParseException: Undefined name: "array"` |
| `Map(Array(Float()))` | `org.apache.avro.SchemaParseException: Undefined name: "array"` |
| `Map(Map(Float()))` | `org.apache.avro.SchemaParseException: Undefined name: "map"` |
| `Array(Map(Float()))` | `org.apache.avro.SchemaParseExc

[2021-02-09 12:57] eolivelli commented on #8559
This issue has been fixed on master branch, it was due to log4j configuration

[2021-02-09 12:57] #8559 closed

[2021-02-09 12:57] tuteng commented on #2499
I think the current python client does not support this feature, the python client is a wrapper around cpp, according to the code here https://github.com/apache/pulsar/tree/master/pulsar-client-cpp/lib/auth, the cpp client does not implement basic authentication @sijie @codelipenghui @0x5e @kesavkolla I'll mark it as `help-wanted` first, and see if anyone wants to contribute this feature

[2021-02-09 12:58] eolivelli commented on #9483
I cited this problem in this issue
https://github.com/apache/pulsar/issues/9004

It was my plan to work on adding support for Array and Map as follow up work for #9004 (that in turn has an open PR)

[2021-02-09 13:22] KannarFr opened #9545 "[Pulsar SQL] From prestodb to trinodb?"
As presto recently split to trino (https://github.com/trinodb/trino) and presto (https://github.com/prestodb/presto). Trino has more activity, more contributors and the project seems to improve faster than presto. There is a plan to switch from presto to trino?

[2021-02-09 13:28] #9545 closed

[2021-02-09 16:59] BewareMyPower commented on #9483
From the comparison between Java and Python. It looks like Python client doesn't generate a right schema bytes. Here's the Java client code for tests:

[code]

And it works well.

Compare these two schema string (they are both formatted).

1. Java

[code]

2. Python

[code]

The key difference is the type of array item, in Python it's just

[code]

But in Java it's

[code]

[2021-02-09 20:54] Alxander64 commented on #9464
Updated the title, since I tested this using a PostgreSQL sink connector and get the same result, and I now believe this is a general issue with JDBC sinks.

[2021-02-09 20:56] Alxander64 commented on #9464
Logs from the PostgreSQL sink connector. Configured with all the same settings as were used with the ClickHouse sink connector, and using the same Kubernetes runtime.

[code]

[2021-02-09 23:10] yabinmeng opened #9549 "Pulsar topic compaction through "pulsar compact-topic" is not working"
**Describe the bug**
I'm testing pulsar topic compaction using both `pulsar-admin topics compact` and `pulsar compact-topic` commands.
* `pulsar-admin topics compact` command works fine
* `pulsar compact-topic` command fails right away

I tested with versions 2.6.3 and 2.7.0. Both fail, but with different errors.

**2.6.3** (**NOTE**: my pulsar cluster doesn't have any security feature, including

[2021-02-10 00:15] #9502 closed

[2021-02-10 00:33] codelipenghui opened #9550 "Allow cursor move forward even if bookies are in the RO state"
**Is your enhancement request related to a problem? Please describe.**

The Ledger deletion depends on the moving forward the cursors and if the cursor moving forward need to write the ack state to the cursor Ledger, if the bookie switch to the read-only mode, the cursor can't move forward so the ledgers of the topic can not be deleted. So is it possible to skip the persistence of the ack state wh

[2021-02-10 07:50] WJL3333 commented on #9549
can you upload your `broker.conf`? i think if `zookeeperServers` config is set the 2.7 NPE will gone.

[2021-02-10 15:44] yabinmeng commented on #9549
@WJL3333 here is the part of the broker.conf (for 2.7 cluster). Almost all settings are default except the following ones. zookeeperServers config is set and it is as below (note the cluster is a 3-node cluster)
[code]

[2021-02-10 15:59] 0x5e commented on #2499
Thanks @tuteng , I have tried to build a c++ auth plugin and finally succeed. Not basic auth, just custom auth for my company, they are similar.
If anyone interested I can provide some code when my test completed.

[2021-02-10 16:09] Alxander64 commented on #9464
Now believe that this issue is related to using the `EFFECTIVELY_ONCE` mode for the sink. The issue doesn't seem to happen when using `ATLEAST_ONCE`.

[2021-02-10 18:32] #9279 closed

[2021-02-10 20:37] jbellis commented on #7477
I ran into this today.

It looks like BookKeeper revved its requirement to include up to 1.28, but in the meantime grpcio released even more versions which are not compatible (1.35 is the latest now).

I think Pulsar client needs to specify a grpcio version that matches a version compatible with the appropriate BK release.

Until then the Python client is effectively uninstallable for the majority

[2021-02-10 22:13] Lanayx opened #9557 "Batch message serialization ignores batch size"
**Describe the bug**
Since batch index message acknowledgement was added the seek method was updated to support more precise seek using ack sets ([source code](https://github.com/apache/pulsar/blob/branch-2.6/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java#L1852-L1857)). However when the seek is performed by the message that was serialized and deserialized, the _batchSi

[2021-02-10 22:17] dlg99 opened #9558 "Bookkeper's and pulsar's dependencies are out of sync"
**Describe the bug**

I tried updating pulsar to use latest bookkeeper (4.13 from master) and the same version of grpc that BK uses now and noticed that pulsar relies on maven to figure out dependency version to use.
It is not alway possible to do so safely. I.e. BK needs specific (not latest) version of grpc for the etcd client to work etc., pulsar might have similar issues.

What I noticed so fa

[2021-02-11 01:45] #6368 closed

[2021-02-11 01:48] #9540 closed

[2021-02-11 03:37] #9495 closed

[2021-02-11 06:21] michaeljmarshall commented on #9450
Just had this one fail for one of my PRs. I am going to start digging into this test.

[2021-02-11 07:18] MarvinCai opened #9560 "Admin CLI expire-message command can fail silently."
**Describe the bug**
When there's ongoing expire message request or subscription is almost catch up, an expire-message request won't be executed while admin cli won't inform user about that.

**To Reproduce**
Steps to reproduce the behavior:
1. Produce some message to a topic.
2. Try to expire message with a larger ttl say 100 second.
3. The condition check will fail and no messages will be expire

[2021-02-11 07:32] danielsinai opened #9562 "maxMessageBufferSizeInMB is not working?"
After some load testing on my pulsar cluster, thr maxMessageBufferSizeInMB configuration does not protect the broker from being OOMED, im publishing to a single topic about 150 mb/s (5mb message size) and my direct memory is going up until the broker crashed because of bookie disk latencies, I would expect some throttling on the producers side using this configuration released in 2.5.1 https://git

[2021-02-11 08:53] WJL3333 commented on #9549
@yabinmeng hi, can you check where you run the `pulsar compact-topic --topic <topic_name>`.
if you don't specify config file path. the logic right now will read `${pwd}/conf/broker.conf` as configuration file.
which may cause read the wrong file and `zookeeperServers` is blank.

[2021-02-11 14:10] lhotari opened #9564 "[Broker] Topic auto-creation fails due to a race condition"
**Describe the bug**
Topic auto-creation fails due to a race condition. This seems to happen to be one of the issues causing flakiness in PulsarFunctionLocalRunTest, reported as #8720 .

**To Reproduce**
[code]

**Expected behavior**
A topic should get created when topic auto-creation is enabled.

[2021-02-11 14:10] lhotari commented on #9564
I'll submit a PR for this soon.

[2021-02-11 14:24] lhotari commented on #8720
One reason for the flakiness of this test has been #9564 . There's a fix in #9565 for that issue. It might fix the flakiness in PulsarFunctionLocalRunTest. However there could be multiple issues behind the flakiness.

[2021-02-11 15:38] yabinmeng commented on #9549
@WJL3333 you're right. I was executing command `pulsar compact-topic --topic <topic_name>` under my home directory. Based on your suggestion, I ran the command under pulsar installation home directory as `bin/pulsar compact-topic --topic <topic_name>`.

The NPE error does go away; then it comes to the error of SSL hand-shake failure, as experienced in Pulsar 2.6.3. But as I mentioned, the cluster

[2021-02-11 16:08] WJL3333 commented on #9549
@yabinmeng do you config any tlsport like `brokerServicePortTls`. According to code logic if config `brokerServicePortTls` will try to connect server in tls. see `org.apache.pulsar.compaction.CompactorTool` and check again.

[2021-02-11 16:09] KannarFr opened #9566 "[Proxy] no port available to connect to zk/broker, so redirect to another proxy"
**Is your feature request related to a problem? Please describe.**
When a proxy has no more ports available to connect to ZK/brokers, it throws an exception, and the client retries (with another IP proxy).

**Describe the solution you'd like**
Is there no way to make a proxy redirect to another proxy directly?

[2021-02-11 16:11] KannarFr opened #9567 "[Broker] on changing allowedCluster, automatically assign topics to the correct cluster"
**Is your feature request related to a problem? Please describe.**
When a tenant allowedCluster to c1, then to c2, ns are not unloaded to c2 automatically.

**Describe the solution you'd like**
On allowedCluster changes and there is c1 to c2 change, we should unload c1 running topics to c2 automatically?

[2021-02-11 18:10] #9483 closed

[2021-02-11 19:58] dlsprague commented on #9197
If I understand correctly, the configuration store is the global zookeeper, is that correct?  What we are using is 5 zookeepers with both local and global for each cluster.    Each quorum of zookeepers should be syncing to the other cluster's zookeepers.

[2021-02-12 05:31] michaeljmarshall commented on #9450
These are the logs (and possibly a little extra) from the pulsar cluster (out of surefire reports) for a failed `testResetCursorNotFail`. I haven't been able to narrow in on the problem yet.

[code]

[2021-02-12 05:34] michaeljmarshall commented on #9450
I also noticed that there are also failures in this test class for `activeBrokerParse`. This test runs before the `testResetCursorNotFail` test. It seems like an additional test failure, but I haven't been able to figure that out yet. I'll look into both. Seems like some of the failures @lhotari references above have a failure from `activeBrokerParse`.

[code]

[2021-02-12 07:04] markussteininger opened #9571 "Avro schema incompatible with schema upload vs python producer"
**Describe the bug**
Hi i just want to know if i do something wrong or if someone has identify following behavior (and found some solution for fixing it)
I create a topic and upload the Avro Schema as Yaml
[code]
Content of Avro Yaml Schema:
`{"type": "AVRO","schema":"{\"name\":\"Validation\",\"type\":\"record\",\"fields\":[{\"name\":\"messagetimestamp\",\"type\":\"string\"}]}","properties": {}}`

[2021-02-12 07:25] lhotari opened #9572 "Exclude Pulsar Functions Worker dependencies from Pulsar IO .nar files"
**Is your enhancement request related to a problem? Please describe.**

Currently the Pulsar IO .nar files are large in size. The total size of Pulsar IO files is 1952MB!
Break down: https://gist.github.com/lhotari/810a543524e25457b521ac666913ad3c

**Describe the solution you'd like**

Exclude all Pulsar Functions Worker dependencies from Pulsar IO .nar files .

For example,

[code]

pulsar-io-dat

[2021-02-12 07:38] lhotari commented on #9450
Yes, it's possible that the last failure in the logs isn't the root cause. There are test retries in place for most unit tests so that a test failure gets retried once. It's possible to disable the custom test retry solution for TestNG tests by passing `-DtestRetryCount=0`.

There are quite a few different failures in ReplicatorTest class. I have also reported #9457 and #9458 . It probably makes s

[2021-02-12 07:53] lhotari commented on #8720
I have revisited PulsarFunctionLocalRunTest [in my experimental branch](https://github.com/lhotari/pulsar/commits/lh-refactor-github-action-workflows) where I'm working on the Pulsar CI GitHub Actions workflow refactoring. I was forced to revisit it as a result of a build dependency change I'm working on where Pulsar IO .nar packaging would be switched to properly specify `<packaging>nar</packagin

[2021-02-12 13:42] lhotari commented on #9451
I'll fix this one.

[2021-02-12 15:39] lhotari opened #9576 "Flaky-test: BrokerServiceLookupTest.testModularLoadManagerSplitBundle"
BrokerServiceLookupTest is flaky. The testModularLoadManagerSplitBundle test method fails sporadically.

[example failure](https://github.com/lhotari/pulsar/runs/1887852579?check_suite_focus=true#step:10:551)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
Error:  Tests run: 12, Failures: 1, Errors: 0, Skipped: 1, Time elapsed: 145.47 s <<< FAILURE! - in org.apache.puls

[2021-02-12 15:55] eolivelli opened #9578 "Build Pulsar on JDK11 - keep binary compatibility with JDK8"
This is an umbrella issue about moving the build of Pulsar to JDK11.

The outcome of this work will be to switch the development on Pulsar to JDK11, but the binary artifacts produced by the build will be 100% compatible with JDK8.
So users will be able to run the server side on JDK8 and to use JDK8 in order to run the Java client.

At the end of this work:
- You can build Pulsar on JDK11
- Tests p

[2021-02-12 16:16] yabinmeng commented on #9549
@WJL3333 Yes, I have `brokerServicePortTls` set with port 6551. But `**tlsEnabled**` is set as false and other TLS related settings (e.g. `tlsCertificateFilePath` etc.) are empty
[code]

Now I do see in broker.conf comment it says that `tlsEnabled` is deprecated (and the code indeed does the only check of the existence of tls port). For "deprecated" feature/setting, my understanding is that the ol

[2021-02-12 16:20] TheNotary opened #9579 "Issues connecting to standalone docker compose from within docker"
**Describe the bug**
When docker compose is used to orchestrate the standalone pulsar service along with a python consumer and producer client, there is an apparent buffering for messages before the client receives them.

**To Reproduce**
Steps to reproduce the behavior:
1. clone down https://github.com/TheNotary/pulsar-latency-test
2. use `docker-compose up -d standalone` to boot the standalone p

[2021-02-12 19:08] #9576 closed

[2021-02-12 19:09] #9451 closed

[2021-02-12 20:55] #9432 closed

[2021-02-12 21:08] #9564 closed

[2021-02-12 21:08] #7477 closed

[2021-02-13 10:45] #9549 closed

[2021-02-14 08:42] MarvinCai opened #9582 "Disable message negative ack for Key_Shared subscription type."
The message negative ack will break the message ordering dispatch guarantee, Key_Shared is an ordering dispatch guarantee subscription, so we should avoid the message negative ack for the Key_Shared subscription.

[2021-02-14 10:28] alexku7 opened #9585 "The consumer doesn't reconnect to the multi partitioned topic after the topic deletion and recreating"
**Describe the bug**
When we delete the multi partitioned topic and recreate it again the  existing connected consumer can't re-subscribe and consume messages. We must kill the consumer and create again.

Note: The multi topic consumer with regex works as expected. The problem is with a regular consumer only.
Tested on the multi portioned topic only . Suspect the the non-partitioned topics has the

[2021-02-14 20:10] mlyahmed commented on #9585
Hi,

Could you please share more about the way you’ve proceeded? and the version you’ve used ?

Actually I created a partitioned topic through the cli let’s say :
`pulsar-admin topics create-partitioned-topic persistent://public/default/issue-9585  -p 3`

Created a consumer with the minimum options: topic + subscriptionName:
`pulsar-client consume -s ahmed -n 0 persistent://public/default/issue-95

[2021-02-14 20:44] alexku7 commented on #9585
Very Interesting .
I performed very similar tests with the same tools.
I used actually the 2.6.2 version (Client and server)
And the difference that I have auto topic create flag = false. So i must explicitly create the topic.

But it still interesting, because in your case the new auto created topic should be non-partitioned topic. I performed right now the same test. The pulsar-client consume ,

[2021-02-15 05:03] #9560 closed

[2021-02-15 05:06] #9480 closed

[2021-02-15 05:06] #9518 closed

[2021-02-15 06:39] mlyahmed commented on #9585
Yes I confirm the topics created by the consumer are not partitions they are regular topics. And when I tried to list the partitioned topics it returns empty.

I tested it on the both versions 2.7.0 and 2.8.0-SNAPSHOT (CLI and Server)
Regarding the Go client I used the version v0.3.0 of github.com/apache/pulsar-client-go
OS : Ubuntu 20.04.2 LTS

[2021-02-15 08:05] mlyahmed commented on #9585
I just retested with the java client version 2.7.0

**Scenario: Subscription to pattern**
Given a partitioned topic
And a java consumer subscribed to a **pattern** matches that topic
When delete that topic **forcefully**
Then **No topic is recreated automatically**
And When recreate the partitioned topic manually
And publish new messages
Then the consumer receives the new messages

**Scenario: Sub

[2021-02-15 08:23] alexku7 commented on #9585
Hi
In the first scenario everything is working for me as well. There is no problem with regex multitopic subscribers.

Regarding the second scenario -  We have a policy that prevents automatic topic creation. We create them manually as needed.
So in our scenario I simply create the topic again as multi portioned, but as mentioned, the consumer can't re-subscribe and can't receive messages .

Are y

[2021-02-15 09:33] mlyahmed commented on #9585
I just retested with the topic auto-creation disabled and yes when recreate manually the partitioned topic and publish messages into it the consumer can't receive the messages.

[2021-02-15 10:24] lhotari commented on #9572
There seems to be a regression in master branch.

in master branch, the size of pulsar-io-data-generator is about 45MB
in branch-2.7, the size of pulsar-io-data-generator is about 11MB.

commands to use for comparison
[code]

[2021-02-15 10:32] alexku7 commented on #9585
So seems the problem exists in 2.7.0 as well :(

[2021-02-15 10:33] lhotari commented on #9572
The regression seems to have been caused by #9246 .

[2021-02-15 11:15] munir131 commented on #9477
@codelipenghui No. I haven't closed all the consumers. Consumers can be run on many systems which are not accessible sometime. Doesn't control should be in pulsar server?
You mentioned that
```By default, the subscription will be created automatically when the active consumer reconnects to the broker.```

Doesn't consumer have to reauthenticate for create consumer. I already removed all permission

[2021-02-15 16:52] radiantone opened #9589 "Consumers should not have access to private keys"
The documentation refers to producers using public keys to encrypt data and consumers using private keys to decrypt data. This is backwards to how PKI normally works. Private keys are usually never disseminated (hence private). Public keys ARE shared in order to decrypt data from the private key holder.

In Pulsar docs this role reversal is confusing and apparently not the norm.

[2021-02-15 18:29] mlyahmed commented on #9585
It seems that the way subscription to a topic is managed differently than to a pattern.

When the consumer points to a topic and it is partitioned then the subscription is managed by **MultiTopicsConsumerImpl** which handles only one case where there is new partition(s) and subscribes to the new one(s) only. So if you delete the topic and recreate it with the same partitions the consumer will do n

[2021-02-15 21:46] sijie commented on #9572
@lhotari Thank you for catching this!  I think we want to have an admin API interface module to be used by the pulsar functions API because we want to expose PulsarAdmin through function context. So the problem seems to be that we didn't break down the interface to pulsar-admin-api and unnecessarily pull into other dependencies. @freeznet Can you take a look at this issue?

[2021-02-16 00:56] fmiguelez opened #9591 "Zombie consumer after close"
**Describe the bug**
We have a SpringBoot application that acts as a Gateway. Client connects using WebSockets/STOMP and application connects to Pulsar.  We have only one `PulsarClient` instance that creates each `Consumer` or `Reader` associated with a `STOMP` subscription.

We also expose a REST API to allow operation on namespaces/topics (basically create or destroy whole namespace+topics).

In

[2021-02-16 04:17] #8751 closed

[2021-02-16 06:53] 0x5e opened #9594 "Could not find a version that satisfies the requirement pulsar-client==2.7.0"
**Describe the bug**
Python pulsar-client can't be installed on both Raspberry Pi 4B and M1 MacBook Pro.

**To Reproduce**
[code]

**Desktop (please complete the following information):**
MacBook Pro (13-inch, M1, 2020):
- OS: macOS Big Sur 11.1 (20C69)
- Python: 3.9.1
- Arch: arm64

Raspberry Pi 4 Model B:
- OS: Raspbian GNU/Linux 10 (buster)
- Python: 3.5.2
- Arch: armv7l

I've tried to build fr

[2021-02-16 07:42] aahmed-se commented on #9594
You can try this, this is what I use to build and distribute python libs
https://github.com/aahmed-se/spack/wiki/Pulsar-python-wheel-spack-instructions-for-macosx

[2021-02-16 08:40] #9360 closed

[2021-02-16 10:58] WJL3333 opened #9595 "Flaky-test: V1_AdminApiTest.testNamespaceSplitBundleConcurrent"
V1_AdminApiTest is flaky. The `testNamespaceSplitBundleConcurrent` test method fails sporadically in **local environment**

[example failure](https://gist.github.com/WJL3333/de319f644e976d25f522c8b14f6cc1b9#file-gistfile1-txt)

i check some github Action log found that this less happen in CI env but fail in local env very often.

[2021-02-16 11:34] rvashishth opened #9597 "Add api to delete retained message for a topic"
**Is your enhancement request related to a problem? Please describe.**
When retention policies are applied on a topic. Messages acknowledged for all subscription are kept on topic storage because of retention policies.

At time we are required to clear up all data from topic storage.

**Describe the solution you'd like**
There should be an api, which allow api user to delete all acknowledged messa

[2021-02-16 15:34] TheNotary commented on #9594
I noticed this issue too.  You can debug the problem by viewing the files uploaded to [pypi](https://pypi.org/project/pulsar-client/#files).  You'll see file names such as `pulsar_client-2.7.0-cp38-cp38-macosx_10_15_x86_64.whl` wherein the cp38 means C Python 3.8.  They don't have a package for C Python 3.9 or 3.5 (your current python version).  As a work around until they perform more builds, you

[2021-02-16 15:47] lhotari commented on #9594
btw. One such issue, #7477,  was recently fixed by #9569 .

[2021-02-16 20:21] dlsprague commented on #9370
codelipenghui    Our pulsar version is actually 2.6.0.   Not that it will matter, but can you please test in that version?

[2021-02-16 20:50] frankjkelly opened #9599 "Admin CLI: namespaces set-subscription-expiration-time and get-subscription-expiration-time operations are not documented on web page"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Downloaded Pulsar 2.7.0 and install it (`gunzip` and `tar -xvf`)
2.
[code]
No such documentation here --> https://pulsar.apache.org/docs/en/pulsar-admin/

**Expected behavior**
Documentation for `set-subscription-expiration-time` and `get-subscription-expiration-time` are

[2021-02-16 22:11] alex-treebeard commented on #9453
hi @lhotari, did you generate this issue with a script? I'm researching tooling for battling test flakiness so am curious

[2021-02-17 06:40] rvashishth opened #9602 "Could not add AVRO schema using producer client"
**Describe the bug**
Unable to add AVRO schema on a topic using producer client.

**To Reproduce**
Steps to reproduce the behavior:
1. create a topic
2. produce a message with json schema

[code]
3. get schema api - return json schema type

[code]

4. produce 2nd message with avro schema
[code]

5. get schema api - returns only previously created json schema object. it did not include AVRO schema

[2021-02-17 06:51] rvashishth opened #9603 "SubscriptionInitialPosition.Latest should not fetch message from retention storage"
**Describe the bug**
A subscription with default/latest initial position gets data produces(and retained) before subscription was created. A subscription created with initial position latest acts as if it's a subscription with earliest position.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a topic with retention by size/time policy
2. Produce message on this topic. Since no subscri

[2021-02-17 06:51] rvashishth commented on #9603
Refer [this](https://apache-pulsar.slack.com/archives/C5Z4T36F7/p1613041751376900) slack thread

[2021-02-17 06:54] rvashishth commented on #9603
Following are the example topic stats after running through error steps
1. create topic
2. produce message
3. create subscription

admin/v2/persistent/{tenant}/{namespace}/{topic}/internalStats
[code]

/admin/v2/persistent/{tenant}/{namespace}/{topic}/stats

[code]

[2021-02-17 07:03] codelipenghui commented on #9602
@rvashishth This is expected behavior, you can get more details from http://pulsar.apache.org/docs/en/schema-evolution-compatibility. The JSON schema and AVRO schema are incompatible with each other. So the step 4 that you mentioned should fail with `schema incompatible exception`. If the new schema incompatible with the old schemas(based on the compatibility policy), the new schema will not updat

[2021-02-17 07:15] MarvinCai opened #9605 "GenericJsonWriter not properly serializing message."
**Describe the bug**
Pojo serialized with GenericJsonSchema can't be reconstruct back to original class.
Code snippet:

[code]
Exception was thrown:
[code]

**To Reproduce**
Use above code snippet.

**Expected behavior**
Should be able to reconstruct original pojo.

Suspect due to the "toString()" [here](https://github.com/apache/pulsar/blob/7bf7cdda1a2181c329176b403f7a60fc84f557fa/pulsar-client/s

[2021-02-17 07:19] rvashishth commented on #9602
But still the producer client didn't throw any exception and produced message successfully.

[2021-02-17 10:59] lhotari commented on #9605
@MarvinCai I pushed a fix in #9608 .

[2021-02-17 14:18] fmiguelez commented on #9591
As a workaround closing Pulsar client actually closes all those zombie consumers. We have verified it.

[2021-02-18 00:54] freeznet commented on #9572
@lhotari thanks for your detailed description.
@sijie sure, i will create a pr to fix this issue.

[2021-02-18 01:29] ta1meng commented on #8510
Thank you @michaelkux for this detailed ticket! I ran into the exact same issue and I use the Java client. The error message was misleading. Thank you so much for pointing out that it was a whitespace problem!! I removed the trailing whitespace from the schema file and it solved the problem.

Pulsar could log a better message than `Schema not found and schema auto updating is disabled`, because th

[2021-02-18 01:30] gaoran10 commented on #9242
The IAM role authentication may cause the problem, I'll have a try.

[2021-02-18 03:19] codelipenghui commented on #9603
@rvashishth I think this issue is related to https://github.com/apache/pulsar/pull/9444. The code that you mentioned before is based on the master branch. I think branch-2.7 uses the earliest position as the default subscription position, #9444 changed to the latest in the master branch. You can try the master branch as well.

[2021-02-18 04:34] sijie commented on #8510
Thanks, @ta1meng and @michaelkux!

@congbobo184 @codelipenghui I think we should improve the comparison logic at the broker side.

[2021-02-18 07:14] RobertIndie commented on #9599
Thanks for reporting this issue. I have added a pr #9611 that fixes this issue.

[2021-02-18 08:13] congbobo184 commented on #9602
because we record the json schema by avro schema generate, broker validate the compatibility unified management through avro. the above example ```User.class``` Schema.JSON and Schema.AVRO are the same. So you can use the ```Schema.Avro(User.class)``` send message. This logic was like this before. This is a wrong logic, but if change this logic, it maybe produce the problem after broker version up

[2021-02-18 09:17] Shoothzj opened #9613 "Create consumer timeout, client side and server side unconsistent"
**Describe the bug**
When you create a consumer, cost time more than you config, It may be create success in server side, but client side not works.

Server side can see the consumer
[code]
But the client can not receive any message.

**To Reproduce**
create consumer in 1 seconds delay
[code]
Inject three seconds delay in pulsar server with java-agent
[code]
start pulsar with agent
[code]
**Expect

[2021-02-18 13:49] Eywek commented on #4593
Hi,
I still have this issue (macOS Mojave 10.14.6) with apachepulsar/pulsar:2.7.0 (docker 20.10.0, build 7287ab3), I've fixed it in adding my hostname to /etc/hosts.

[2021-02-18 17:31] frankjkelly commented on #9599
That is excellent - thanks so much!

[2021-02-18 17:59] sijie commented on #9585
@codelipenghui Can you take a look at this thread?

[2021-02-18 20:04] ta1meng commented on #9571
This might be a duplicate of https://github.com/apache/pulsar/issues/8510.

I ran into the same issues using the Java client.

Issue #1: I believe that the above two schema versions are not identical. They likely contain a whitespace difference. Unfortunately, Pulsar seems to consider two schema definitions that differ by whitespace different, and compatible.

Issue #2: your policies may be set in

[2021-02-18 20:11] dlsprague commented on #9370
I am working with alpna13's team and  we have confirmed that the problem seems to exist on partitioned topics only.   They were able to successfully consume using key_shared with encryption on non-partitioned.  Is there something specific that needs to be done when using partitioned and key_shared with encryption?    Would you be able to test  using partitioned topic?  Thank you for your help.

[2021-02-18 20:13] frankjkelly commented on #9266
@codelipenghui it appears now that there might be a plan for a 2.6.4 release (I noticed the release label on https://github.com/apache/pulsar/pull/7356). Any chance https://github.com/apache/pulsar/pull/9323 could be back-ported?
Thanks in advance.

[2021-02-18 20:13] ta1meng commented on #8510
Potential duplicate ticket, https://github.com/apache/pulsar/issues/9571

I've asked the reporter to triage.

[2021-02-18 20:35] danielorf commented on #8146
@Syphixs It's been a few months.  Have you managed to sort out the issue?  I'm planning to follow a very similar configuration.

[2021-02-18 20:36] frankjkelly commented on #9484
I could be misreading this but if you have `9 broker with 16C 128G` then thats `128G/9 = 14.2G` per Broker but you have configured
[code]
which requires 30g (at least) per broker. Am I misunderstanding?

[2021-02-19 00:56] codelipenghui commented on #9585
@alexku7 @mlyahmed  The problem is after you disabled the topic auto-creation and delete the topic forcefully, the regular consumer can't reconnect after recreating this topic? But the regex consumer works?

If I understand correctly, this is expected behavior. If the topic-auto creation is disabled, the consumer will stop when occurs TopicNotFoundException. The regex consumer has different behavi

[2021-02-19 03:57] h-j-13 commented on #9132
i would like to do this, but don't kown how to use the `Crowdin`

[2021-02-19 04:20] lhotari opened #9622 "Flaky-test: CLITest (and possibly a lot of other integration tests because of the same reason)"
CLITest is flaky. It fails when test retries are disabled. This problem can be reproduced by running CLITest in IntelliJ.
**It seems that the same root cause is causing test failures in other integration tests**.

Bookies die in the test after this kind of error message `failed to allocate 16777216 byte(s) of direct memory (used: 536870912, max: 536870912)`.

To investigate the issue I set the env

[2021-02-19 04:31] lhotari commented on #9622
There's PR #9623 to fix this issue.

[2021-02-19 07:11] mlyahmed commented on #9585
Actually the first need is to qualify the current behavior if is it correct or must be reviewed.

When the consumer is subscribed to a pattern it is behavior is correct since is does not recreate the topics and when topics are created or deleted it changes its subscriptions automatically (discovery)

the "odd" behavior is noticed when it is subscribed to a partitioned topic:

- When the topic is d

[2021-02-19 14:09] eolivelli opened #9633 "Pulsar Admin: functions - NullPointerException in case of disabled Pulsar Functions"
**Describe the bug**

I see this NullPointerException on the broker logs while issuing "`pulsar-admin sinks available-sinks`"

I have `functionsWorkerEnabled=false` in _broker.conf_

[code]

We should return a more user friendly error that explain the problem.

Tested on current master on 2.8.0-SNAPSHOT

[2021-02-19 14:16] frankjkelly opened #9634 "bookie_journal_JOURNAL_QUEUE_SIZE Prometheus metric is negative (Pulsar 2.6.1)"
**Describe the bug**
The prometheus metric `bookie_journal_JOURNAL_QUEUE_SIZE` exposed by bookie is negative. Shouldn't queue lengths be positive

**To Reproduce**
1. Launch Pulsar on Kubernetes
2. Inspect metrics endpoint of Bookkeeper
[code]

**Expected behavior**
Queue lengths are zero or above

**Screenshots**
![image](https://user-images.githubusercontent.com/62910985/108514728-34b4fc00-7292-

[2021-02-19 15:10] lhotari opened #9636 "Flaky-test: MultiTopicsReaderTest"
Flaky-test: org.apache.pulsar.client.impl.MultiTopicsReaderTest.testReaderWithTimeLong
Number of failures: 2

org.apache.pulsar.client.impl.MultiTopicsReaderTest is flaky. The testReaderWithTimeLong test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-01-25T12:16:19.9405080Z](https

[2021-02-19 15:19] frankjkelly commented on #9241
Closing - we had 2G assigned but `Xmx` was 1G and `DirectMemory` was also 1G so we needed to have more than `2G` allocated to the pod

[2021-02-19 15:19] #9241 closed

[2021-02-19 16:42] lhotari opened #9640 "pulsar-client-admin-api has excessive transient dependencies"
**Describe the bug**

It seems that the intention of `pulsar-client-admin-api` introduced in #9246 has been to provide a library that has minimal transient dependencies in the similar way as `pulsar-client-api`. However this is not the case. `pulsar-client-admin-api` has a lot of transient dependencies.

**To Reproduce**

[code]

`pulsar-client-admin-api` has a lot of dependencies at runtime

[cod

[2021-02-19 16:43] lhotari commented on #9572
@freeznet @sijie I have created a separate issue about the excessive `pulsar-client-admin-api` dependencies: #9640 .

[2021-02-19 16:45] #9622 closed

[2021-02-19 17:32] #9605 closed

[2021-02-19 21:17] rdhabalia opened #9641 "Project-10: Replace Zookeeper API access in REST resources with Pluggable metadata resources"
### Goal
Replace Zookeeper API access in REST resources with Pluggable metadata resources

### Component
Rest resources: Tenant, Cluster, Broker, Namespace, Topic

### Note
1. Introduce PulsarResources which provides metadata-API to access each one of the above resources
2. Refactor REST admin handlers to replace ZooKeeper API access with newly introduced PulsarResources

[2021-02-19 21:21] #9641 closed

[2021-02-19 21:31] rdhabalia opened #9642 "Project-10: Replace Zookeeper API access from Authorization-service with Pluggable metadata resources"
### Goal
Replace Zookeeper API access in Authorization-service with Pluggable metadata resources

### Reference
**Component**: Authorization Service
**Class-reference**: PulsarAuthorizationProvider
**Affeceted Modules**: Broker, Discovery, Proxy, WebSocket

### Notes
1. Authorization service uses ZooKeeper-API from the [ConfigurationCacheService](https://github.com/apache/pulsar/blob/master/pulsar

[2021-02-19 21:41] rdhabalia opened #9643 "Project-10: Replace global ZooKeeper and cache access from PulsarService and replace with Metadata-store API"
### Goal
PulsarService initializes `Global-ZooKeeper` and that is used by multiple components across pulsar-services. Remove global-zk access from dependent component and eventually remove global-zk initialization from the PulsarService.

### Reference
**Component**: Pulsar-Service
**Class-reference**: "- [PulsarServie::globalZkCache](https://github.com/apache/pulsar/blob/master/pulsar-broker/src/

[2021-02-19 21:48] rdhabalia opened #9644 "Project-10: Replace local ZooKeeper and cache access from PulsarService and replace with Metadata-store API"
### Goal
PulsarService initializes `Local-ZooKeeper` and that is used by multiple components across pulsar-services. Remove local-zk access from dependent component and eventually remove local-zk initialization from the PulsarService.

### Reference
**Component**: Pulsar-Service
**Class-reference**: "- [PulsarServie:: localZkCacheService](https://github.com/apache/pulsar/blob/master/pulsar-broker/

[2021-02-19 22:22] rdhabalia opened #9645 "Project-10: Remove ConfigurationCacheService (global-zk + local-zk) cache with Metadata-store API"
### Goal
[ConfigurationCacheService](https://github.com/apache/pulsar/blob/master/pulsar-broker-common/src/main/java/org/apache/pulsar/broker/cache/ConfigurationCacheService.java) keeps local-zk-cache and global-zk-cache which is used by multiple components eg: Broker, Proxy, Discovery-service, WebSocket, etc. #9586 introduced `ConfigurationMetadataCacheService` which is an alternative of `Configu

[2021-02-19 22:44] rdhabalia opened #9646 "Project-10: Replace ZooKeeperCacheLoader to fetch broker-metadata into Proxy/Discovery service with Metadata-store api"
### Goal
`ZookeeperCacheLoader` is used by [BrokerDiscoveryProvider](https://github.com/apache/pulsar/blob/master/pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/BrokerDiscoveryProvider.java#L72), [DiscoveryServiceServlet](https://github.com/apache/pulsar/blob/master/pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/web/DiscoveryServiceServlet.java#L81), [Proxy](

[2021-02-19 23:52] rdhabalia opened #9647 "Project-10: Final task: Remove all ZooKeeper resource classes from Pulsar"
### Goal
This is the final task: Once, all ZK api access is replaced by Metadata-store API , remove all the ZK resource classes.
[code]

[2021-02-20 00:34] codelipenghui commented on #9585
Yes, the current behavior is recreating "partitions" since the consumer already subscribed to each partition. For the partitioned topic, the consumer fetches the partitioned metadata first then subscribes to each partition. Do you mean the partitions are created but the consumer does not subscribe to them? This is not expected behavior. If you want to recreate a partitioned topic you can change th

[2021-02-20 03:21] #9642 closed

[2021-02-20 08:12] mlyahmed commented on #9585
I just test and yes, with the `allowAutoTopicCreationType` set to partitioned the consumer recreates the topic and its partitions and resubscribe to them.

But if `allowAutoTopicCreationType` is set to non-partitioned, the default, it creates the partitions as regular topics and does not subscribe to them.

[2021-02-20 09:03] #9643 closed

[2021-02-20 11:25] SleeperSmith commented on #572
@kjaggann split brain is a situation where the minority "server team" accepts write/read command and leads to a situation where the two clusters becomes inconsistent (in terms of data). It does not occur trivially from just 2 servers being cut off (say AWS AZ connection outage) from the rest of the cluster. That's a clear cut case of minority / not holding the quorum. One potential scenario is whe

[2021-02-20 15:04] pointearth opened #9658 "incompatible issue between ExplicitLac and message compression"
**Describe the bug**
When I produce some compressed messages to Pulsar, and use ExplicitLac, get an error from the presto server.

**To Reproduce**
Steps to reproduce the behavior:

I tried to  fix the issue [#7076](https://github.com/apache/pulsar/issues/7076), so:
1. wrote code to produce messages to pulsar.
`producer = pulsarClient.newProducer(JSONSchema.of(Record.class))`
                   `

[2021-02-20 16:57] alexku7 commented on #9585
Hi @codelipenghui

The problem that if we don't allow the auto topic creation at all ( the requirement in most secured environments) , we encounter with that issue.

Let's say that some legitimate topic was deleted for any reason, let's say by mistake. In this case, the consumer simple is being disconnected and "stuck". It doesn't have any retry or re-discovery logic like a regex  consumer with pa

[2021-02-21 10:02] mlyahmed commented on #9585
Above a hack as a suggestion. I am not sure it is the best implementation. I think we can use a kinda of observer to remove the disconnected consumers on the fly. But first we need you @codelipenghui to qualify the current behavior whether it must be revisited.
I am available for a live chat if you want to discuss a suitable design.
Thanks

[2021-02-21 11:17] yangl opened #9661 "Can we provide a uniform code formatting template like the eclipse-java-google-style.xml and intellij-java-google-style.xml provided in the google style guide"
**Is your enhancement request related to a problem? Please describe.**
Currently we only provide a uniform checkstyle.xml, but we do not provide a uniform code formatter template to format the code, which results in many different lines of code in PR due to different formatting styles.

**Describe the solution you'd like**

1. provide a unified formatter.xml like the eclipse-java-google-style.xml

[2021-02-22 00:32] codelipenghui opened #9666 "BufferOverflowException occurs while query data by Pulsar SQL and compression enabled."
**Describe the bug**
Here is the error log:

[code]

The root cause of this issue is the compression data size greater than the original data size.

**To Reproduce**
Steps to reproduce the behavior:
1. Send message `Pulsar` to a topic with Zstd compression
2.  Query data from topic
3. See error

**Versions**
1. branch master
2. branch-2.7
3. branch-2.6

[2021-02-22 00:33] codelipenghui commented on #9666
Related to #9658

[2021-02-22 00:37] codelipenghui commented on #9658
Hi @pointearth This issue is fixed by #8990 and it is cherry-picked to branch-2.7. You can build from branch-2.7 or you can use https://github.com/streamnative/pulsar/releases/tag/v2.7.0.8 directly, we have a weekly release for the branch-2.7.

But I found another problem #9666, @gaoran10 is working on this one. Since 2.7.1 will be released soon, so we need to get this fix merged soon.

[2021-02-22 00:38] codelipenghui commented on #9666
@gaoran10 Please help take a look at this issue, thanks.

[2021-02-22 02:08] gaoran10 commented on #9666
Ok, I'll fix this problem.

[2021-02-22 07:51] #9658 closed

[2021-02-22 08:14] #9535 closed

[2021-02-22 08:23] #9543 closed

[2021-02-22 08:42] #2687 closed

[2021-02-22 09:07] eolivelli commented on #9644
I am picking this up, @rdhabalia please assign to me

[2021-02-22 12:40] #9666 closed

[2021-02-22 13:37] eolivelli commented on #9644
@rdhabalia  @merlimat
I am taking a look to `ModularLoadManagerImpl`, field `brokerDataCache`

I cannot find a good replacement for `ZooKeeperDataCache`

https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java#L123

Also I see that `MetadataCacheImpl` is not able to set a listener on updates, and in fact it is n

[2021-02-22 14:18] narzach commented on #6894
Any updates on this? I see this failure very frequently when running a standalone Pulsar cluster locally in docker.

[2021-02-22 15:18] KannarFr opened #9674 "[Proxy] add better error response when proxy host can't create socket"
**Is your enhancement request related to a problem? Please describe.**
When Netty couldn't create a socket on the proxy host, the client could retry on this proxy but shouldn't.

**Describe the solution you'd like**
Return a qualified error to force the client to retry on another proxy

[2021-02-22 15:31] fmiguelez commented on #7407
@sijie, @gaoran10 Any update on this?

[2021-02-22 15:51] hpvd commented on #2687
nice :-)
with having this, feature matrix shoud be updated: https://github.com/apache/pulsar/wiki/Client-Features-Matrix

[2021-02-22 15:53] hpvd commented on #5959
just another topic to be updated in feature matrix: https://github.com/apache/pulsar/issues/2687

[2021-02-22 15:57] hpvd commented on #5959
this topic could be added to feature matrix too: https://github.com/apache/pulsar/issues/9483

[2021-02-22 17:05] merlimat commented on #9644
@eolivelli I actually had this already almost done locally. I just need to get one other PR in first (the locks reacquiring after the session gets re-established).

[2021-02-22 19:23] eolivelli commented on #9644
Okay. No problem from my side.
Please assign me any ticket from this project that is still not started.

[2021-02-23 00:51] rdhabalia commented on #9644
@eolivelli would like to take #9645 ?

[2021-02-23 04:37] danielorf opened #9679 "[OAuth 2.0] Expand OAuth 2.0 flow and token retrieval options"
**Is your enhancement request related to a problem? Please describe.**
Pulsar's OAuth 2.0 flow currently only supports the [OIDC](https://ldapwiki.com/wiki/Openid-configuration) [well-known](https://tools.ietf.org/html/rfc5785) metadata configuration.  Many OAuth2.0 providers do not publish their metadata to a `/.well-known/openid-configuration` endpoint and instead the auth flow starts and ends w

[2021-02-23 04:41] danielorf commented on #9679
I realize that the paragraph about the token public key (under *Additional consideration* section) may be out of scope and require its own issue.  If so, I'll break it out and link to this issue.

[2021-02-23 06:01] eolivelli commented on #9645
I am picking this up

[2021-02-23 06:01] eolivelli commented on #9644
@rdhabalia sure

[2021-02-23 06:14] michaeljmarshall commented on #9634
I started looking into this tonight. I believe this issue belongs in the [apache/bookkeeper](https://github.com/apache/bookkeeper) repo because the metric is defined there.

Regarding the problematic metric, I already see some irregularities based on parameter names and things getting passed around.

@frankjkelly can you confirm that your only seeing this negative value for `bookie_journal_JOURNAL

[2021-02-23 06:39] flowchartsman opened #9680 "Backlog quota: allow time-based quota"
Retention policies can be set based on size or time limit (or both), while backlog quotas can only be based on size. The recommendations I've gotten are to set backlog quota to be equal to or less than the retention policy, but if the retention policy is based solely on time, the backlog quota cannot be certain to be less than the retention policy.

[2021-02-23 06:43] michaeljmarshall commented on #9634
I found some interesting things that I wanted to share, so I opened a copy of this issue in bookkeeper. I think we should continue all work against this issue there.

[2021-02-23 07:31] BewareMyPower opened #9682 "CI cpp-tests is broken now for the latest pulsar-build image"
**Describe the bug**
Currently, the CI for cpp tests is broken because it uses the `apache/pulsar-build:ubuntu16.04` image as the base image to build cpp client. However, the image was updated yesterday to contain the change of https://github.com/apache/pulsar/pull/9609. This PR add python3 and pip3 and then CMake found python3 by default and tried to find boost python for python3. However, the bo

[2021-02-23 07:40] BewareMyPower commented on #9682
I think one available solution is to update the image again to add boost python for python3. It could also remove python2 and use python3 for python tests. And I'm trying to do this work.

However, the image could only be tested in local environment. It seems that there's no way to verify if the new `pulsar-build` image works. It may need another empty PR to verify if CI would pass after the new `

[2021-02-23 07:49] eolivelli commented on #9682
@BewareMyPower @aahmed-se probably it would have been better to tag the image with a new name and to not override the old name.
I am sorry I did not ask for it explicitly.

I believe the best way to fix this is to publish again the old image.

We can work on the new image without hurry.

My expectation was to have a new image and test it on CI

[2021-02-23 08:00] BewareMyPower commented on #9682
@eolivelli I agree with you. Currently it should use the old image and the CI for `pulsar-build` image is necessary.

[2021-02-23 08:13] eolivelli commented on #9682
@BewareMyPower are you working on a fix on the build image or should I do it ?
No problem from my side.
Your call

I hope that @aahmed-se @merlimat or anyone how has deploy permissions can fix the problem ASAP

[2021-02-23 08:19] BewareMyPower commented on #9682
I think @zymap is going to publish the old image soon.

BTW, I'm working on fix the image that contains changes of #9609 . The problem is, since it cannot be verified by CI currently, should we wait until the CI for `pulsar-build` image first?

[2021-02-23 08:20] eolivelli commented on #9682
Yes.
In the meantime you can test the image locally.
you build it and tag it with your preferred name and then you change the build scripts of the cpp-client to use that image

[2021-02-23 08:22] BewareMyPower commented on #9682
@eolivelli OK

[2021-02-23 09:47] zymap commented on #9682
I have pushed the old image. And will push the new image after @BewareMyPower is fixed the issue.

[2021-02-23 11:24] eolivelli commented on #9645
@rdhabalia I see that basically `ConfigurationMetadataCacheService` is only a subclass of `ConfigurationCacheService` that owns a `PulsarResources`.
But it is not possible to implement all methods.

I am thinking about using `ConfigurationMetadataCacheService#pulsarResources` and implement into PulsarResources all of the missing resource types.

I wonder if there is a need to have a `Configuration

[2021-02-23 13:24] frankjkelly commented on #9634
@michaeljmarshall Yes only `bookie_journal_JOURNAL_QUEUE_SIZE` is negative - see below where `bookie_journal_JOURNAL_CB_QUEUE_SIZE` is positive (and almost the exact inverse value)
![image](https://user-images.githubusercontent.com/62910985/108849681-730f2b80-75b0-11eb-90de-0b30f646f330.png)

[2021-02-23 15:20] michaeljmarshall commented on #9634
That's a helpful observation. When I was looking through the code last night, I was wondering if there was any type of relationship between those two metrics.

[2021-02-23 16:43] TheNotary commented on #9579
A coworker of mine was able to reproduce this issue.  I've also reproduced it on a second MacBook pro.  Is this a known bug in Pulsar?  I'm going to try deploying Pulsar and a consumer to Kubernetes this week, hopefully the messages will stream more smoothly by changing that what container platform is in use.

[2021-02-23 17:09] eolivelli opened #9687 "[Tests] [Kubernetes] [PulsarFunctions] Create integration tests for Pulsar Functions as k8s pods"
We should have integration tests for Pulsar Functions as Kubernets pods.

We could clone our helm chart and boot a Pulsar cluster with kind.

[2021-02-23 17:10] eolivelli commented on #9687
Currently there is no support for 'kind' or k8s in test containers

[2021-02-23 21:53] ta1meng commented on #9602
I observed the same behavior using the Java client.

Was it really the wrong logic @congbobo184?

Because one interpretation is that the "JSON" schema type means the JSON-formatted Avro schema type, so the two types, "AVRO" and "JSON", should be interchangeable inside Pulsar?

Avro schemas can also be binary-encoded. However, I did not see support for binary Avro schemas in SchemaDefinitionBuilder

[2021-02-23 22:18] rdhabalia commented on #9645
The only issue in removing `ConfigurationCacheService` is it's used by `AuthorizationProvider::initialize` and part of the contract. We can deprecate it and eventually remove it.
However, `PulsarAuthorizationProvider` already uses `ConfigurationMetadataCacheService` now. So, yes, we can replace `PulsarResources` with `ConfigurationCacheService` at other places.

yes. We can directly use `PulsarRes

[2021-02-24 01:12] congbobo184 commented on #9602
now, schema check don't check the schema type, the avro logic will be fixed later.

[2021-02-24 04:37] michaeljmarshall commented on #9634
@frankjkelly - I believe you're running with apache bookkeeper `4.10.0` (that is what shipped in the pulsar docker image for pulsar `2.6.1`. This bug was fixed for bookkeeper `4.10.1`, as seen in this PR: https://github.com/apache/bookkeeper/pull/2290. Pulsar `2.6.2` is `4.10.0` too, but Pulsar `2.6.3` comes with bookkeeper `4.11.1`, which has the fix to the metric.

[2021-02-24 07:09] lxcid commented on #7395
I'm on 2.7.0 I have a kinda similar error

[code]

The main error line that is of interest is

I have test this on 2.5.2 and above and they all provide similar errors, only working version is 2.5.1.

This can be tested with pulsar-standalone running debezium. if you make sure to store pulsar data between restart:

- start pulsar-standalone
- run debezium postgres source
- stop pulsar-standalone
-

[2021-02-24 08:36] lxcid commented on #7395
Good news, we were able to resolve this issue and as @sijie suspect, for our side, retention policy is the culprit.

Setting it to non 0 fix our issue and debezium run fine now.

[code]

Do note that -1 means retain everything.

[2021-02-24 09:09] #9599 closed

[2021-02-24 12:34] epsteina16 opened #9697 "Java Client: NullPointerException with GenericRecord.getField() on a sub-record"
**Describe the bug**
Calling GenericRecord.getField(Field field) on a GenericRecord that is a sub-record, where the field is a string, the Pulsar client throws a NullPointerException:

java.lang.NullPointerException
	at org.apache.pulsar.client.impl.schema.generic.GenericJsonRecord.isBinaryValue(GenericJsonRecord.java:110)
	at org.apache.pulsar.client.impl.schema.generic.GenericJsonRecord.getField

[2021-02-24 13:17] epsteina16 opened #9698 "Add support for strings with SCHEMA.AUTO_CONSUME"
**Is your enhancement request related to a problem? Please describe.**
schema.AUTO_CONSUME() should be used to consume from a schema without knowing what it is. I am looking to use this feature to consume from a schema that could be any of:
- JSON
- Avro
- Any primitive type

**Describe the solution you'd like**
When using a consumer with schema schema.AUTO_CONSUME() you should be able to receive

[2021-02-24 13:24] eolivelli commented on #9698
Unfortunately AUTO_CONSUME is strongly typed to GenericRecord.
I see your pain, probably we should have some new kind of Schema that maps to java.lang.Object.

do you want to implement this feature ?

[2021-02-24 13:43] frankjkelly commented on #9634
@michaeljmarshall Thanks so much for hunting this down. Closing this ticket . . . .

[2021-02-24 13:43] #9634 closed

[2021-02-24 14:47] MonicaMagoniCom commented on #9582
I also found this issue using Pulsar. We had to insert a timestamp to maintain the order of messages.

[2021-02-24 15:01] MonicaMagoniCom opened #9699 "Key_Shared subcription not working correctly"
We are using Pulsar in our cloud environment (deployed with Kubernetes).
Pulsar is configured in **key_shared** mode subscription and it happens that when the traffic is higher than usual (in our case,  Pulsar suddendly receives 300 messages), messages which have the same key are mapped to a different consumer.
This lasts for the duration of the traffic peak, then the situation is restored and the

[2021-02-24 15:52] epsteina16 commented on #9698
If Pulsar has a new kind of Schema that maps to java.lang.Object, then that should include all types of schema, yes?
i.e. all complex and primitive types

[2021-02-24 16:19] eolivelli commented on #9698
@epsteina16 yes, it will be very useful.

Btw currently you can build it by yourself, because every Message has Schema information and you can deserialize the payload using the Schema information attached to the message.

it is a bit tricky but you can do it

[2021-02-24 16:23] patricklucas opened #9700 "Triggering offload on new topic causes NPE, topic stuck with in-progress offload"
I'm relatively new to Pulsar and wanted to experiment with tiered storage.

I set up a standalone cluster with Docker and enabled the `aws-s3` offloader, providing credentials and a MinIO endpoint. I created a new topic and wrote a few arbitrary messages into it.

Then, in pulsar-manager, I clicked "Offload" on the topic information screen, and got an error printed to the screen (full traceback be

[2021-02-24 17:17] MarvinCai commented on #9582
@MonicaMagoniCom Hi, please see the discussion in this pr: https://github.com/apache/pulsar/pull/9583
I think we decided to still keep the ability for Key_Shared to do negative acknowledge since it's not all about ordering, e.g. guarantee message of same key go to same consumer, instead we added document to warn user that doing negative ack on order subscription type(exclusive, failover, key_share

[2021-02-24 22:55] megfigura opened #9703 "non-persistent topics don't seem to work with Key_Shared"
**Describe the bug**
With a non-persistent topic, I see messages published in the topic stats, but consumers do not consume them if they use Key_Shared. Other consumer modes work fine.

**To Reproduce**
Steps to reproduce the behavior:
1. In one window, start consumer: bin/pulsar-client consume --hex -n 0 -s cli -p Earliest -t Key_Shared non-persistent://public/default/test
2. In another window, s

[2021-02-24 23:58] MarvinCai commented on #9699
hi, what to confirm is any consumer added during the peak?
Cause if new consumer is added default behavior will cause rehash and message with same key can then be sent to different consumer.

[2021-02-25 00:42] MarvinCai commented on #9703
Can reproduce the error, I'll fix it.

[2021-02-25 01:35] gaoran10 commented on #7407
@fmiguelez Is there any block about this issue? Could you provide more details?

[2021-02-25 01:52] megfigura commented on #9703
Hi @MarvinCai, thank you! Do you know at this point if the bug is in the broker or the java client? Thanks!

[2021-02-25 02:47] gaoran10 opened #9704 "[Pulsar SQL] Query key-value schema data error"
**Describe the bug**
If the producer uses the key-value schema in a separate mode and disables the batch feature, the Pulsar SQL will get in trouble.

**To Reproduce**
1. produce key-value schema data use separate mode

set enableBatching to false
[code]

[code]

2. query data by Pulsar SQL
3. see the error logs

[code]

**Expected behavior**
Query data successfully.

**Desktop (please complete th

[2021-02-25 03:00] Anonymitaet commented on #9216
@315157973 @codelipenghui will these code changes apply to 2.7.1?

[2021-02-25 03:01] Anonymitaet commented on #9174
@eolivelli does this code change apply to 2.7.1?

[2021-02-25 03:57] MarvinCai opened #9708 "Flaky-test: PersistentTopicE2ETest.testPayloadCorruptionDetection"
https://github.com/apache/pulsar/pull/9659/checks?check_run_id=1975526561

[code]

[2021-02-25 04:01] MarvinCai commented on #9703
@megfigura  Hi, I verified the bug is in broker.

[2021-02-25 05:26] jadbin commented on #6459
Emmm, any updates?

[2021-02-25 06:15] lhotari opened #9709 "Flaky-test: AuthorizationTest.simple"
AuthorizationTest is flaky. The simple test method fails sporadically.

The assertion error shown in logs is misleading. The assertion error happens as a result of a retry. The actual problem can be found by downloading the surefire artifacts file. This is the NPE that happens:

[code]

<details>
<summary>Full log from artifacts/artifacts/pulsar-broker/target/surefire-reports/org.apache.pulsar.bro

[2021-02-25 06:21] michaeljmarshall opened #9710 "Broker's ServerCnx Class Logs Excessively at INFO Level"
**Is your enhancement request related to a problem? Please describe.**
I would like to propose turning the log level down from INFO to DEBUG for several of the especially noisy logs in the `org.apache.pulsar.broker.service.ServerCnx` class.

Anecdotally, in 24 hours, my 5 node broker cluster has logged over 23,800,000 INFO log lines from that class alone.

**Describe the solution you'd like**
Upda

[2021-02-25 06:33] lhotari opened #9711 "Creating and modifying authorization policies is not thread safe"
**Describe the bug**

Creating and modifying authorization policies is not thread safe. It leads to unexpected NullPointerExceptions for example and could lead to authorization data corruption.

**To Reproduce**

The flaky test #9709 is one example of the problem.

**Expected behavior**

Creating and modifying authorization policies should be thread safe.

**Observations**

It looks like the [org.

[2021-02-25 06:33] michaeljmarshall commented on #9710
I am working on a PR for this issue to demonstrate the proposed changes. I should have it ready to go tomorrow.

[2021-02-25 07:03] MarvinCai opened #9713 "[Tests]Docker image used for integration test is outdated."
Docker image used for integration test apachepulsar/pulsar-test-latest-version:latest was built 2 years ago, we're not testing against many of our recent changes, we should build and publish test image regularly or just use the normal pulsar image for test.
see:
https://hub.docker.com/r/apachepulsar/pulsar-test-latest-version/tags?page=1&ordering=last_updated
https://github.com/apache/pulsar/blob/

[2021-02-25 07:05] codelipenghui commented on #9585
Hi @alexku7 If the topic auto-creation is disabled and we delete the existing topic, the clients should be rejected when they try to connect to a not exist topic. If the consumer is a single topic consumer and the topic been removed, the consumer should be close with an exception(Topic does not found), If the consumer is multiple topic consumer, only part of the topics been removed, the correct be

[2021-02-25 07:09] codelipenghui commented on #9585
@mlyahmed I noticed your PR, seems related to a previous issue https://github.com/apache/pulsar/issues/9173. Currently, if disabled the topic auto-creation, it will avoid creating partitions of a partitioned topic even if the partitioned topic exist.

[2021-02-25 07:12] MarvinCai opened #9714 "[Tests] Non-persistent topic is not properly tested."
We have integration test run against non-persistent topics: [NonPersistentTopicMessagingTest](https://github.com/apache/pulsar/blob/master/tests/integration/src/test/java/org/apache/pulsar/tests/integration/messaging/NonPersistentTopicMessagingTest.java), however, it is not creating non-persistent topic during the test(https://github.com/apache/pulsar/blob/master/tests/integration/src/test/java/or

[2021-02-25 07:14] eolivelli commented on #9174
@Anonymitaet it is working since 2.7.0

I am sorry I don't have much time to write down the docs.
But I will very happy to answer to all of your questions and review

[2021-02-25 07:23] eolivelli commented on #9711
Good catch @lhotari

I believe this is a blocker issue.

@wolfstudy @codelipenghui can we fix it for 2.7.1 ?

[2021-02-25 07:33] MonicaMagoniCom commented on #9699
@MarvinCai Hi, actually not, we are not creating any new consumer during the peak. That's why I do not expect any reshashing process to be performed.

[2021-02-25 09:08] #9682 closed

[2021-02-25 09:25] mlyahmed commented on #9585
In the case of multi-topics, actually, if you delete the whole topic, hence all its partitions, the consumer does not close. **The partitions' consumers are closed but kept in the root consumer list.** Thus my PR #9660 updates this list automatically so the closed ones are dropped and new consumers are created when the topic is created again.

[2021-02-25 10:00] Anonymitaet opened #9717 "[Website] pulsar-admin bookies related commands are not shown on pulsar-admin website"
`pulsar-admin bookies` related commands are not shown on [pulsar-admin website](http://pulsar.apache.org/tools/pulsar-admin/2.8.0-SNAPSHOT/#sources)

https://github.com/apache/pulsar/pull/9692#discussion_r582116556

![image](https://user-images.githubusercontent.com/50226895/109136454-1881f500-7793-11eb-890f-94be832eef07.png)

[2021-02-25 10:01] patricklucas opened #9718 "Avro "fixed" field causes ClassCastException"
**Describe the bug**
If you have an Avro "fixed" field in a record (or presumably if you try to produce a "fixed" field directly), you get a ClassCastException when producing a message.

[code]

(full traceback below)

I slightly tweaked @sijie 's [`pulsar-avro-schema-example`](https://github.com/sijie/pulsar-avro-schema-example) project to demonstrate the issue: [patricklucas/pulsar-avro-schema-e

[2021-02-25 10:02] #3104 closed

[2021-02-25 11:16] eolivelli opened #9720 "[jdk11] Test failure KeyStoreTlsProducerConsumerTestWithAuth on JDK11: Received fatal alert: handshake_failure"
**Describe the bug**
With JDK11 there are a few changes regarding TLS, this is a test that is failing when you run tests on JDK11
[code]

**To Reproduce**
Run the test in JDK11

**Expected behavior**
The test passes

[2021-02-25 12:31] eolivelli commented on #9720
This stacktrace is still related to TLS

[code]

[2021-02-25 13:54] #9457 closed

[2021-02-25 13:55] #9582 closed

[2021-02-25 14:46] eolivelli opened #9721 "Pulsar-Perf: Producer - java.lang.OutOfMemoryError: Direct buffer memory with very simple workload"
**Describe the bug**

[code]

**To Reproduce**
I am running pulsar-perf produce (on Pulsar 2.6.2, actually Luna Streaming 2.6.2_1.0.0) with very simple configuration, after 3 minutes it breaks.

[code]

Relevant logs on broker
[code]

[2021-02-25 14:49] eolivelli commented on #9721
I am trying with more memory to the tool, but in general I do not expect Pulsar-Perf to retain much memory

[2021-02-25 15:41] harissecic commented on #8233
Sorry it took some time but unshaded lib is colliding because of some netty loop. So it cannot be used with this approach. Not sure should I close this issue as it will not be resolved or to wait maybe some good idea comes along.

[2021-02-25 19:08] lhotari commented on #8233
@harissecic The Netty conflict might be addressable if the other code you have is compatible with Netty 4.1.x.  In that case, the Netty conflict might be caused by "misaligned" versions which can be resolved by importing the netty-bom input Maven's dependency management (or with Gradle's support for BOM).

[code]
You can ask for more help for such usage problems on [Pulsar Slack](https://pulsar.ap

[2021-02-25 19:13] frankjkelly opened #9723 "Documentation: Add a feature/defaults chart for each official Client (e.g. Java, Go, Python etc.) so folks can compare/contrast"
**Is your enhancement request related to a problem? Please describe.**
As a microservices developer we have folks who use Java, some who use Go and some who use Python etc.
It appears that the clients are on a slightly different feature development timeline and/or have some different defaults.

**Describe the solution you'd like**
Create a matrix/chart of the clients and the various features that

[2021-02-25 19:26] ta1meng commented on #9602
If the validation logic will be fixed later, could you publish some documentation explaining the semantic difference between JSON schemas and AVRO schemas?

For example, does an AVRO schema support more field types than JSON schemas? Are there syntactical differences?

[2021-02-25 19:31] david-streamlio opened #9724 "Cleanup the org.apache.pulsar.io.PulsarFunctionE2ETest class"
The scope of current implementation of the org.apache.pulsar.io.PulsarFunctionE2ETest class is too broad, it is responsible for the end to end testing of Pulsar Functions, Pulsar Sources, and Pulsar Sinks. These test suites should be implemented in different test classes altogether since they test fundamentally different things.

Furthermore, there is a lot of code inside the setup() method that s

[2021-02-25 19:32] harissecic commented on #8233
Thanks a lot. It does help. I need to recheck this with Micronaut team and how could I adapt this to their rules. If this is not possible to change then I stick with what is given by Pulsar. If it's possible to change which I doubt then I can adapt this. Anyways anyone having any quality input how to do some advance stuff can suggest here https://github.com/micronaut-projects/micronaut-pulsar/. I'

[2021-02-25 19:32] #8233 closed

[2021-02-25 19:58] alexku7 commented on #9585
@codelipenghui  In my case I observed the same behavior.
I delete multi partioned topic and create the same topic again after , let's say half minute. The client remained in kind of "hang" state and doesn't reconnect again. We should restart the client completely in order to reconnect, which is not always convenient .

We tried to catch this event in the code and re- create the client again in the

[2021-02-25 20:31] Addyvan commented on #9242
I am also seeing this error with `2.7.0` using a ceph s3 store.

[2021-02-25 21:50] seeday opened #9725 "Netty leak in pulsar-broker 2.7.0"
**Describe the bug**
I noticed a direct memory leak after updating to pulsar 2.7.0, causing OOMs and restarts. Using `-Dpulsar.allocator.leak_detection=Paranoid` I produced the attached logs.

**To Reproduce**
Steps to reproduce the behavior:
1. Based on the last trace in the logs, this seems to happen whenever messages are being consumed from the broker.

**Expected behavior**
Pulsar not to leak

[2021-02-25 22:24] dlg99 opened #9728 "Upgrade GRPC and bookkeeper"
**Describe the bug**

See https://github.com/apache/bookkeeper/issues/2581 for motivation.
Upgrading dependencies (grpc as a primary motivation).

[2021-02-25 22:34] dlg99 opened #9730 "[Website] Coding Guide: link to "Third party dependencies and licensing" is broken"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://pulsar.apache.org/en/coding-guide/
2. Click on 'Third party dependencies and licensing.'
-> get error 404 for https://pulsar.apache.org/community/licensing

**Expected behavior**
a page with required steps to check License files

**Desktop (please complete th

[2021-02-26 01:09] #8034 closed

[2021-02-26 02:10] golden-yang commented on #9633
yes, this NullPointerException is  related to `org.apache.pulsar.functions.worker.WorkerService`. When we set `functionsWorkerEnabled=false`, `org.apache.pulsar.broker.PulsarService#getWorkerService` method  will get a 'null', and no parameter verification has been done wherever it is used(This method is cited in eight places, They all have NullPointerException problems).

Perhaps we should not al

[2021-02-26 02:24] kelvinlong opened #9731 "Pulsar C++ Client Library not working on Alpine Linux"
**Describe the bug**
Pulsar C++ Client Library not working on Alpine Linux, not able to run example scripts using pulsar-client(npm/yarn) in docker container built based on alpine linux image.

hostname # node node_modules/pulsar-client/examples/consumer
/mars/node_modules/bindings/bindings.js:121
        throw e;
        ^

Error: Error loading shared library ld-linux-x86-64.so.2: No such file or

[2021-02-26 03:45] 315157973 commented on #9711
When updating, a version will be passed in to determine whether the data has been modified. This is an optimistic lock. Why is there a thread safety issue?

[2021-02-26 05:44] michaeljmarshall commented on #9710
There was more communication in the mailing list. Going to hold off on the PR until there is more clarity.

[2021-02-26 07:42] eolivelli commented on #9633
@golden-yang thanks for picking this up

Probably we could simply throw an exception
`public WorkerService getWorkerService() { return functionWorkerService.orElseThrow(....); }`

[2021-02-26 08:16] #8204 closed

[2021-02-26 08:32] golden-yang commented on #9633
Yes.This is what i want to say.

[2021-02-26 09:38] hpvd commented on #9723
+1 on this.
A good start is already available but not that easy to find:
https://github.com/apache/pulsar/wiki/Client-Features-Matrix

[2021-02-26 09:44] patricklucas commented on #9700
@WJL3333 I can confirm this happens calling the REST API directly too (output below). pulsar-manager proxies the request `PUT /admin/v2/persistent/${tenant}/${namespace}/${topic}/offload` directly from the frontend.

Looking at Pulsar itself where this API is defined, at [PersistentTopics.java:2059](https://github.com/apache/pulsar/blob/v2.7.0/pulsar-broker/src/main/java/org/apache/pulsar/broker/a

[2021-02-26 09:45] hpvd commented on #9723
and there is something more detailled in work, see https://github.com/apache/pulsar/issues/5959#issuecomment-744968387

- it's till now only about comparing the big feature,
- new is the topic  harmonizing the default values
- personal wish for mid-time: feature parity with especially catching up on websocket side

[2021-02-26 09:48] hpvd commented on #5959
some more interests in a detailed feature matrix and in addition in harmonizing defaults and features: https://github.com/apache/pulsar/issues/9723

[2021-02-26 11:52] disserakt opened #9739 "Add the ability to transform an existing non-partitioned to a partitioned topic without deleting it."
**Context:**
At the moment we cannot change the topic type from non-partitioned to partitioned for topics that already exist and contain data. Such topics can now only be deleted and created as partitioned.
In this case, we lose data.
In order to keep the existing data in topics, it is highly desirable to have a way to transform the topic type from non-partitioned to partitioned and vice versa.

*

[2021-02-26 12:55] lhotari commented on #9711
that part is not the concern. The concerns are the maps that are the maps contained in the cached AuthPolicies entry. They are mutated without synchronization on both read & write access. Mutation for example here:
https://github.com/apache/pulsar/blob/7001f64aab6335b5192b408dba1e85602dd5ea6b/pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/NamespacesBase.java#L688
Accessed here:
ht

[2021-02-26 15:01] Addyvan opened #9741 "DeadLetterTopics for python client"
Are Dead Letter Topics available for the python client?

If not, what is the pathway to adding them?

[2021-02-26 16:50] lhotari commented on #9711
Another example of missing concurrency control:
https://github.com/apache/pulsar/blob/1fab5aa69446b4c2eaebb615d35fe9f5a509ba4c/pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java#L325-L330

[2021-02-26 17:12] aloyszhang opened #9742 "Consumer receive extra messages when enableRetry and retryLetterTopic and deadLetterTopic are not set"
**Describe the bug**
Consumer receive extra messages when enableRetry and retryLetterTopic and deadLetterTopic are not set.

Currently, if enableRetry is set to true for a consumer and retryLetterTopic and deadLetterTopic are not set, ConsumerBuilderImpl will build the default retryLetterTopic and deadLetterTopic like :
`tenant/namespaces/subscriptionName-RETRY` and `tenant/namespaces/subscription

[2021-02-26 17:16] eolivelli commented on #9742
That's pretty bad.
I am not sure how we can fix this in a compatible way

[2021-02-26 17:25] 315157973 commented on #9711
Could you give an example like the following?

[code]
Normal scene:
t1: thread 1 updates zk successfully
t2: thread 1 updates the cache
t3: thread 2 updates zk successfully
t4: Thread 2 updates the cache

Concurrent scene:
t1: thread 1 updates zk successfully
t2: Thread 2 updates zk, which fails because the version is different
t3: Thread 1 updates the cache

[2021-02-26 20:10] ShuAiii commented on #4608
@yjshen following your user example, I get this error

[code]

[2021-02-26 21:05] lhotari commented on #9711
the problem is not about certain sequence of events. It's about unsafe mutation and access of the TreeMap / HashMap instances contained in the AuthPolicies class. A TreeMap or HashMap can only be safely mutated when all access (mutation and reading) happens under the same object monitor. Violating this rule will lead to undeterministic behavior.

[2021-02-28 06:16] michaeljmarshall commented on #9725
@seeday - can you confirm that you're using transactions? That is where I found the memory leak that will be fixed in #9751.

This was accurate, thanks for the pointer.

I believe this fix may take care of the whole memory leak because the first stack traces all reference the `BookieProtoEncoding$ResponseDecoder`. Given that this fix calls `release` on an entry decoded from a bookie, it's possible

[2021-02-28 06:33] fantapsody opened #9753 "Support Kubernetes Quantity format when specifying functions resources"
**Is your enhancement request related to a problem? Please describe.**
When specifying resources in either function worker configuration (min/max/...) or function APIs (creation), the specified value must be an explicit number, just as the [official example](http://pulsar.apache.org/docs/en/functions-deploy/) shows:
[code]
Especially for the storage which could be a large number, it's tedious and

[2021-02-28 12:21] fantapsody opened #9754 "Clean up function instances after deleting the broker cluster when using the Kubernetes runtime"
**Is your enhancement request related to a problem? Please describe.**
In a Kubernetes environment, if the functions are not deleted before the broker cluster is deleted, the function objects (StatefulSets and Services) are left undeleted. It seems the best practice to clean up these objects is to add customized labels to the Kubernetes runtime configuration and then find objects to delete with th

[2021-02-28 18:55] anvinjain opened #9755 "Cannot consume using older subscriptions if max subscription limit is reached"
**Describe the bug**
If maxSubscriptionsPerTopic is set in the broker (or even as a namespace policy), once this limit is reached, broker does not allow consumers to be created for even older subscriptions.

**To Reproduce**
Steps to reproduce the behavior:
1. Broker config: `maxSubscriptionsPerTopic=5`
2. Create a topic with which we reproduce this behaviour:
`./pulsar-admin topics create-partiti

[2021-03-01 02:51] jadbin commented on #6459
It maybe because of a c++ client building option named `USE_LOG4CXX`. If this option is not set, the c++ client will create a simple logger (not log4cxx logger) using stdout to output logs.  `log_conf_file_path` will work if and only if c++ client is set to use log4cxx logger.

[2021-03-01 04:21] wmccarley commented on #9589
I believe the documentation is correct but pki is not inherently intuitive... from Wikipedia entry for ‘Public-key cryptography’:

“...In such a system, any person can encrypt a message using the intended receiver's public key, but that encrypted message can only be decrypted with the receiver's private key.”

This implies that the recipient of the data is the responsible party for generating a ke

[2021-03-01 06:16] lhotari commented on #9711
While investigating the flakiness in ReplicatorTest, I happened to come across this NPE related to the issues in creating and modifying authorization policies:
[code]

[2021-03-01 06:28] sikangliu opened #9756 "It is recommended to add dispatch throttling for a broker"
Currently there are brokerPublisherThrottlingMaxByteRate and brokerPublisherThrottlingMaxMessageRate to limit the publishing traffic of a single broker. But sometimes we need to limit the distribution traffic of the broker. This can limit even when the outgoing traffic is large, it will not exceed the threshold we set. Prevent a single node from crashing. Prevent cluster problems in advance.

[2021-03-01 06:34] codelipenghui opened #9757 "Support to get which broker is the load coordinator"
**Is your feature request related to a problem? Please describe.**
Currently we only print logs if a broker becomes the load coordinator, so if users want to check who is the load coordinator, they must check the logs of the brokers. It's better to add a command to get who is the load coordinator, this is useful for the Pulsar maintainer.

[2021-03-01 07:13] eolivelli commented on #9757
+1 that would be super useful

[2021-03-01 07:43] lhotari commented on #9711
It seems that ReplicatorTest triggers some of the thread safety issues  in updating policies. Some of the [reported issues about ReplicatorTest flakiness](https://github.com/apache/pulsar/search?o=desc&q=replicatortest&s=updated&type=issues).

[2021-03-01 08:12] lhotari opened #9760 "[Java Client] NullPointerException in ClientCnx"
**Describe the bug**

Occasionally I have seen this kind of NPE in the logs when running ReplicatorTest locally:
[code]

<details>
<summary>More log lines around exception</summary>
<code><pre>
12:42:35.971 [pulsar-io-59-1] INFO  org.apache.pulsar.client.impl.ConnectionPool - [[id: 0x13a67ea1, L:/127.0.0.1:37514 - R:localhost/127.0.0.1:37469]] Connected to server
12:42:35.971 [pulsar-io-139-1] INF

[2021-03-01 08:25] lhotari opened #9762 "[Broker] NullPointerExceptions in PersistentReplicator"
**Describe the bug**

Occasionally I have seen this kind of NPE in the logs when running ReplicatorTest locally:
[code]
and
[code]

<details>
<summary>More log lines around exception</summary>
<code><pre>
09:10:41.664 [pulsar-io-219-1] INFO  org.apache.pulsar.client.impl.ConnectionPool - [[id: 0x4ec03f82, L:/127.0.0.1:47540 - R:localhost/127.0.0.1:41495]] Connected to server
09:10:41.665 [BookKeep

[2021-03-01 09:12] kelvinlong commented on #9731
@sijie any progress?

[2021-03-01 09:33] pointearth opened #9765 "Record topics acrossed in __peroperties__"
**Is your enhancement request related to a problem? Please describe.**
When a message is processed by multiple functions, there is a key "__pfn_input_topic__ " in the "__properties__" attribute of the message, but this message is only recorded the last topic name. If I don't want the last one, I need a middle one, how could I do?

**Describe the solution you'd like**
use the key "__pfn_input_topic

[2021-03-01 10:44] #9700 closed

[2021-03-01 11:16] eolivelli commented on #9721
I am no more able to reproduce the failure.
I have tested again with JDK8/11, 2.8.0-SNAPSHOT and the same version (2.6.2x) in which I saw the failure.

It looks like it is working pretty well, even in case of failures in the Broker.
I am closing the issue, now. I will reopen in case it happens again.

[2021-03-01 13:18] eolivelli commented on #9721
I managed to reproduce with apachepulsar/pulsar-all 2.7.0 docker image  (on JDK8)

[code]

[2021-03-01 13:37] eolivelli commented on #9721
The command is
`bin/pulsar-perf produce -m 0 -z NONE -time 1800 --exit-on-failure -i 20 -t 1 -r 10000 -threads 10 -u http://pulsar-proxy:8080`

with the default configuration that comes with the docker image

Actually I am applying this k8s manifest
[code]

[2021-03-01 13:52] #9755 closed

[2021-03-01 15:24] codelipenghui opened #9768 "Transaction state check in the client side."
**Is your enhancement request related to a problem? Please describe.**

Currently, we have done the transaction state check at the server-side, so that we can avoid users to commit or abort an invalid transaction(already committed or aborted). It also needs to add the validation at the client-side to avoid users to use an invalid transaction to publish messages, acknowledge messages or abort/commi

[2021-03-01 15:25] codelipenghui commented on #9768
@congbobo184 Please help fix this issue, thanks.

[2021-03-01 16:04] eolivelli commented on #9721
I have send this patch with some tool that I am using to debug this issue
https://github.com/apache/pulsar/pull/9769

[2021-03-01 16:39] eolivelli commented on #9721
With that patch this is the configuration I see
[code]

[2021-03-01 17:51] #9430 closed

[2021-03-01 19:06] seeday commented on #9725
@michaeljmarshall nice catch!

After disabling the transaction worker the leak has stopped. Not sure what was using it, but the brokers are much happier now.

Not sure when we want to close this issue - when 2.7.1 drops or because of #9751.

[2021-03-01 19:21] #9760 closed

[2021-03-01 19:56] #9402 closed

[2021-03-01 20:00] #9762 closed

[2021-03-01 22:43] dlg99 opened #9771 "Docker build fails on MacOS"
**Describe the bug**

Docker build fails on MacOS with `error: could not create 'build/lib.linux-x86_64-3.7': Permission denied`

**To Reproduce**
Same steps as the CI:
1. `mvn clean install -DskipTests`
2. `mvn -B -f docker/pulsar/pom.xml install -am -Pdocker -DskipTests -Ddocker.nocache=true `
-> get error

**Expected behavior**
successfully built docker

**Desktop (please complete the following

[2021-03-01 22:54] flowchartsman opened #9772 "[Go Functions] Allow user metrics"
Currently Go function metrics are implemented with a Prometheus registry and [instantiated at runtime in an init()](https://github.com/apache/pulsar/blob/206ea82e012af34c5bb7f824826205019f3dd4ff/pulsar-function-go/pf/stats.go#L57-L150). These metrics are exposed to the functions runtime and automatically updated by the SDK, which makes sense, but the registry is inaccessible to the user.

It would

[2021-03-01 22:56] flowchartsman commented on #9772
I'd be willing to take a crack at this. @codelipenghui, @wolfstudy do you know if it would be enough to register metrics with the registry to have them exposed, or would it be necessary to do work on the runtime as well?

[2021-03-02 02:32] codelipenghui commented on #9585
@alexku7 You can register a `ConsumerEventListener` to the consumer by `consumerBuilder.consumerEventListener()`, if a partition becomes inactive, you will receive a notification

@mlyahmed Thanks for the clarification, the change looks good, could you please help add some tests for it?

[2021-03-02 02:35] codelipenghui commented on #9464
Thanks @Alxander64 , Sorry for the late response, have you tried the new Pulsar version 2.7.0? or 2.6.3? If the problem still there, we need to fix it ASAP

[2021-03-02 02:38] codelipenghui commented on #9078
close this issue since no update.

[2021-03-02 02:38] #9078 closed

[2021-03-02 02:38] nlu90 commented on #9765
Could you elaborate a real world use case for this change?

[2021-03-02 02:39] zymap commented on #7804
Move this to the next release.

[2021-03-02 02:40] zymap commented on #8419
Move this to the next release.

[2021-03-02 02:41] zymap commented on #8977
Looks like documentation already added. Close this issue.

[2021-03-02 02:41] #8977 closed

[2021-03-02 02:42] zymap commented on #9084
Move this to the next release.

[2021-03-02 02:45] zymap commented on #9173
Move this to the next release

[2021-03-02 02:49] codelipenghui commented on #9085
Thanks @joncashe, I will close this issue first.

[2021-03-02 02:49] #9085 closed

[2021-03-02 02:50] zymap commented on #9301
Move this to the next release

[2021-03-02 02:50] codelipenghui commented on #9086
@sixhj I will close this issue first since @zymap has fixed this problem.

[2021-03-02 02:50] #9086 closed

[2021-03-02 02:51] zymap commented on #9345
Move this to the next release.

[2021-03-02 02:51] zymap commented on #9462
Move this to the next release.

[2021-03-02 03:16] codelipenghui commented on #9089
@kyontan The `isSchemaValidationEnforced` is the control the schema validation which the producer without schema but the topic has schema. This means if the topic with schema but the produce does not have a schema and `isSchemaValidationEnforced=true`, the broker will reject the producer. Otherwise, the broker will do the schema compatibility check, from your description, I think the problem is yo

[2021-03-02 03:19] jack-tristan commented on #9478
@codelipenghui
Pulsar topic compaction is different from Kafka compact. I need a Kafka compact to save it permanently after de duplication, so as to save space.

Pulsar topic compaction will save the original topic before compact. I need to delete the original topic and keep only the compacted topic.

How should I achieve my requirement?

[2021-03-02 03:24] codelipenghui commented on #9109
https://github.com/apache/pulsar/pull/9552 fixed this problem

[2021-03-02 03:24] #9109 closed

[2021-03-02 03:39] codelipenghui commented on #9135
@innerNULL Thanks, I will update the title of this issue to `Batch receive support for Python client`.

[2021-03-02 03:42] #9138 closed

[2021-03-02 03:44] codelipenghui commented on #9141
@klevy-toast Yes, It seems reasonable to me. Are you interested in pushing a PR for this issue?

[2021-03-02 03:44] #9146 closed

[2021-03-02 03:53] #9189 closed

[2021-03-02 03:57] codelipenghui commented on #9197
Ok, interesting. Have you tried the new Pulsar version 2.7.0 or 2.6.3?

[2021-03-02 04:04] codelipenghui commented on #9197
BTW, @dlsprague Did you disabled the topic auto-creation?

[2021-03-02 04:05] codelipenghui commented on #9200
@flowchartsman I will close this one first.

[2021-03-02 04:06] codelipenghui commented on #9209
close this issue first since no update for a long time.

[2021-03-02 04:06] #9209 closed

[2021-03-02 04:07] codelipenghui commented on #9210
Close this one first since no update.

[2021-03-02 04:07] #9210 closed

[2021-03-02 04:08] #9213 closed

[2021-03-02 04:12] codelipenghui commented on #9216
@Anonymitaet No, this will available in 2.8.0

[2021-03-02 04:13] flowchartsman commented on #9200
Is there another issue tracking this I should mention here? I never ended up creating an issue to migrate to OpenAPI3, so as far as I know the swagger is still broken.

[2021-03-02 07:14] mlyahmed commented on #9585
thanks @codelipenghui for your feedback ! Sure for the tests (y)

regarding the #9173 I will get back to you soon with some comments to make sure I understand well the issue. I will happy to work on this issue if you'd like to assist me on it. Thanks

[2021-03-02 07:16] linlinnn commented on #9757
@codelipenghui  hi, is that means to add a command to get who is leader broker?

[2021-03-02 07:32] eolivelli commented on #9721
My suspect was about how Netty pools memory (as it uses pools bounds to the thread the allocates the memory), but
with -Dpulsar.allocator.pooled=false (that implies to use the heap and not Netty Pooled Direct Memory) I get the same error.
I will dig into the memory dump and check what's going on.

[code]

[2021-03-02 08:24] Anonymitaet commented on #9282
Hi @BewareMyPower I've added descriptions for the methods in the [ProducerConfiguration.h](http://pulsar.apache.org/api/cpp/2.8.0-SNAPSHOT/classpulsar_1_1_producer_configuration.html), could you please help review? Thanks
https://docs.google.com/document/d/1SjO8SCVcbCMuEVW-HI1kf_jJjy-Ej5yFZoY9g4jUAQQ/edit

[2021-03-02 08:47] ilpanich commented on #9699
Hi @MarvinCai.
Any news about this issue?

[2021-03-02 08:53] asadsalman commented on #9699
Hi!
I'm new to the Pulsar project and trying to take this up as my first issue. I tried to reproduce this issue by writing a simple producer/consumer in standalone mode with Key_Shared subscription but wasn't able to reproduce the issue.

I had to the producer produce 1000+ messages with the same key as quickly as possible, but they all end up at the same consumer (I ran 2-4 consumers).

I'm happy

[2021-03-02 09:05] ilpanich commented on #9699
Just to help you to reproduce: we have 3 producer enqueing messages on the same queue.
Messages are then pull in batch mode by 3 consumer performing some actions for each message and saves data on a DB (thus raising an optimitic lock exception, which means that more than one consumer is working on two different messages related to the same key).
We reach the issue even with less than 1000 messages

[2021-03-02 09:25] asadsalman commented on #9699
Ah okay, thanks for the additional details. I only had one producer and I didn't add batching. I'll try with that.

Moreover, were the messages persistent or non-persistent? I don't know if it makes a difference, just trying to match your setup as closely as possible.

[2021-03-02 09:44] ilpanich commented on #9699
Thank you.
We use persistent messages currently, we noticed the issue with them.

[2021-03-02 09:50] xiemeilong commented on #9213
@codelipenghui  why did you close this?

[2021-03-02 12:35] mlyahmed commented on #9173
I'll be happy to participate

[2021-03-02 12:59] codelipenghui commented on #9227
@yufan022 I will close this issue first. Feel free to reopen it if needed.

[2021-03-02 12:59] #9227 closed

[2021-03-02 13:44] codelipenghui commented on #9271
Thanks @lichuan6, close this issue first.

[2021-03-02 13:44] #9271 closed

[2021-03-02 13:46] codelipenghui commented on #9285
@xiemeilong Could you please help add an issue at https://github.com/streamnative/pulsar-flink/issues? Since this is related to the flink connector. I will close this one first.

[2021-03-02 13:46] #9285 closed

[2021-03-02 13:48] codelipenghui commented on #9288
@rdhabalia Make sense. I will close this issue first.

[2021-03-02 13:48] #9288 closed

[2021-03-02 13:48] xiaotongwang1 opened #9777 "[improve] zookeeper connections monitor data"
The value of zookeeper_server_connections is incorrect when we open tls connection between client(broker、bookie) and zookeeper server

can i commit a pr?

[2021-03-02 13:54] #9111 closed

[2021-03-02 13:56] codelipenghui commented on #9347
Close this issue first since on update for a long time.

[2021-03-02 13:56] #9347 closed

[2021-03-02 14:02] codelipenghui commented on #9370
@dlsprague Could you please share the details such as error logs? This will help us to locate the problem, I think the partitioned topic will not affect the encryption.

[2021-03-02 14:04] #9404 closed

[2021-03-02 14:08] #9330 closed

[2021-03-02 14:09] #9424 closed

[2021-03-02 14:13] codelipenghui commented on #9428
@fmiguelez The `autoSkipNonRecoverableData` only works for the ledger does not exist, does not work for some IO exception, this will avoid losing data in some unknown circumstances.

[2021-03-02 14:23] codelipenghui commented on #9441
@zymap makes sense to me, we can add a new endpoint to handle this issue.

[2021-03-02 14:36] codelipenghui commented on #9466
@hanguyen6 Have you tried using `schema.JSON(Map.class)`? I'm not sure if this can work for your case.

[2021-03-02 14:40] codelipenghui commented on #9477
Interesting, you can check the topic stats through the pulsar-admin  `bin/pulsar-admin topics stats`, so that you can get the `connectedSince` of the consumer. this can help to determine if the consumer reconnects to the broker.

[2021-03-02 14:45] codelipenghui commented on #9478
After discussion with @jack-tristan, the problem is enabling the retention of the topic, so the original data will not be deleted. If we want to remove the original data and just retain the compacted data, we should not specify the data retention for the topic.

If this is works for you, you can close this issue first.

[2021-03-02 14:49] codelipenghui commented on #9491
@YanshuoH We are releasing the 2.7.1 now, I think we can start a minor release for 2.6.4 after 2.7.1 released.

[2021-03-02 15:04] codelipenghui commented on #9557
@Lanayx Sorry for the late response, I think https://github.com/apache/pulsar/pull/8285 is fixed this problem. Currently, we don't use the toByteArray method to do the seek operation. It is achieved by https://github.com/apache/pulsar/pull/8285/files#diff-f6e4c1c4091aa10525f331e48e66b29f22b9f7987755c1b4fb887e24f198bed6R1934-R1942.

The fix is released at 2.6.2 and 2.7.0. What pulsar version you ha

[2021-03-02 15:08] codelipenghui commented on #9562
@danielsinai What is the persistent policy set? If you are using the write quorum greater than the ack quorum, I think you can try to keep them equals and retry.

[2021-03-02 15:18] codelipenghui commented on #8510
close via https://github.com/apache/pulsar/pull/9612

[2021-03-02 15:18] #8510 closed

[2021-03-02 15:18] codelipenghui commented on #9571
@ta1meng could you please check if https://github.com/apache/pulsar/pull/9612 is fixed this problem?

[2021-03-02 15:27] Lanayx commented on #9557
Hi, @codelipenghui It seems you've misunderstood the issue :) My concern is that [this line](https://github.com/apache/pulsar/blob/branch-2.6/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java#L1854) will give incorrect result if batched message id passed to the method had been taken from byte array (serialized and deserialized) since bath size is missing in byte represent

[2021-03-02 15:38] codelipenghui commented on #9597
@rvashishth You can try to delete the topic directly. This will delete the ledgers of the topic.

[2021-03-02 15:41] codelipenghui commented on #9602
@ta1meng We are working on the PR to fix this problem. The difference between the AVRO schema and JSON schema is the serialization, JSON schema encode to the JSON bytes and the AVRO schema encode to the AVRO format bytes.

[2021-03-02 15:42] codelipenghui commented on #9603
@rvashishth I will close this issue first. If #9444 does not fix this issue, feel free to reopen it.

[2021-03-02 15:42] #9603 closed

[2021-03-02 15:50] codelipenghui commented on #9613
@Shoothzj Are there any error logs on the consumer side? Seems the problem is the client got the Operation timeout and does not disconnect from the broker, then the consumer will try to reconnect to the consumer since the subscription type is Exclusive, so the retry also failed.

[2021-03-02 15:58] codelipenghui commented on #9680
@flowchartsman You can use the message TTL to expire the backlogs of the subscription.

[2021-03-02 15:59] codelipenghui commented on #9697
@congbobo184 Could you please take a look at this issue?

[2021-03-02 16:03] mlyahmed commented on #9173
@codelipenghui can you please share more details on the way you proceed to reproduce the issue ?

Here is how I've tested and the results.

### Auto Creation **Enabled**
By keeping the auto-creation enabled, `allowAutoTopicCreation=true`, I created a **non-persistent partitioned topic**:
` bin/pulsar-admin topics create-partitioned-topic non-persistent://public/default/issue-9173 -p 3`
The partiti

[2021-03-02 16:06] codelipenghui commented on #9698
@epsteina16 For the primary schema type, one topic only has one schema. It does not support multiple version schemas for primary schema types. So you can get the schema first so that you can know this is the String schema or Other primary schema types, and then you can use message.getData() to get the original byte array so that you can converting to the expected type.

[2021-03-02 16:11] codelipenghui commented on #9699
@ilpanich If you want to enable producer batching and want to consume by the key_shared subscription, you can set the `batcherBuilder(BatcherBuilder.KEY_BASED)`. So that the producer will combine messages of the same key in a batch to send.

[2021-03-02 16:15] codelipenghui commented on #9704
@gaoran10 Is this one is fixed by https://github.com/apache/pulsar/pull/9685?

[2021-03-02 16:17] ilpanich commented on #9699
Hi @codelipenghui.
Is your suggestion to enable producer batching mandatory in order to consume batch?
We are only using batch consumers, our producers still work in standard mode.

[2021-03-02 16:20] codelipenghui commented on #9711
@eolivelli we don't want to block the 2.7.1 release, instead we can accelerate the 2.7.2 release. Here is the release proposal that we have discussed before https://github.com/apache/pulsar/wiki/PIP-47%3A-Time-Based-Release-Plan. If the problem is not introduced after 2.7.0 and it does not break the existing behavior, it's better to do not to block the 2.7.1 release.

[2021-03-02 16:27] codelipenghui commented on #9725
@seeday Can we close this issue?

[2021-03-02 16:28] #9725 closed

[2021-03-02 16:49] flowchartsman commented on #9680
There's no backpressure policy applied to TTL though, unless I missed something. Even if I'm combining them, there's no way for me to ensure that backlog is less than TTL.

[2021-03-02 17:43] rvashishth commented on #9597
At least for our use case we can not delete topics but still wants to delete messages. I am not sure if others has the similar use case or not.

[2021-03-02 18:04] dlg99 commented on #9562
@danielsinai Have you tried enabling backpressure?
there is a discussion in dev mailing list (subject: "Unbounded memory usage for WQ > AQ ?") on this topic, I'll copy my comment from there with some ideas for you to experiment with:
[code]

[2021-03-02 18:30] dlg99 commented on #9562
another thing to look at is "because of bookie disk latencies"
Large messages are a part of the problem (unless you have pulsar chunk them).
you need really carefully review bookie configuration to tune it better for the large messages:
https://github.com/apache/bookkeeper/blob/master/conf/bk_server.conf
At least:
[code]
probably something else.
Can you move journal to a dedicated fast disk?

Incr

[2021-03-02 19:15] eolivelli commented on #9711
@codelipenghui I am fine with keeping it only on master branch.

[2021-03-02 22:19] ta1meng commented on #9571
I'm not working on Pulsar this sprint but I've inserted a task into the sprint to do this testing. I'll post an update here once I've done the testing.

[2021-03-03 01:06] #8340 closed

[2021-03-03 01:14] Shoothzj commented on #9613
@codelipenghui the consumer side report timeout error. So maybe we should periodly check if the consumers consistent with broker ?

[2021-03-03 02:10] codelipenghui commented on #9613
@Shoothzj I think we can fix it in the client directly? If the consumer occurs the timeout exception, it can close the connection so that the broker can cleanup the consumers that bind to this connection, and then the consumer will try to reconnect.

The periodic check can solve the problem more thoroughly, but we need to sync all consumer ids between the client and broker.

[2021-03-03 02:39] Shoothzj commented on #9613
@codelipenghui let me try if can work

[2021-03-03 04:07] codelipenghui commented on #9597
@rvashishth Ok, make sense. It's better to support drop the data of the topic.

[2021-03-03 04:10] codelipenghui commented on #9680
Yes, it needs to combine them to achieve the purpose.

[2021-03-03 04:13] #9633 closed

[2021-03-03 04:18] codelipenghui commented on #9699
@ilpanich The producer enabled the default batch policy based on the time(1ms for a batch), so this will lead to the messages with different keys add to one batch and send to the broker. So after the batch dispatched to the consumer, the consumer might receive the different keys of the batch.

There are 2 options to get it to work

1. Disable the message batching on the producer side
2. Use the KE

[2021-03-03 04:21] codelipenghui commented on #9173
@mlyahmed 2.7.0 does not contain https://github.com/apache/pulsar/pull/9029, so you can connect to the non-persistent topic partitions. You can try it based on the last master.

[2021-03-03 04:23] codelipenghui commented on #9557
@Lanayx I see, thanks for the clarification. We will push a fix soon.

[2021-03-03 04:32] codelipenghui commented on #9757
@linlinnn Yes, are you interested in push a PR to add this feature?

[2021-03-03 05:22] Shoothzj commented on #9613
@codelipenghui Will there be a problem when client close the consumer while broker creating consumer. concurrently, I mean

[2021-03-03 05:23] Shoothzj commented on #9613
@codelipenghui How could I close the consumer, when create consumer timeout, I don't have the consuemr pointer?

[2021-03-03 05:37] linlinnn commented on #9757
@codelipenghui  ok

[2021-03-03 06:35] mlyahmed commented on #9173
@codelipenghui What if the partitions are created automatically when the partitioned topic is created? Like for persistent topics ?
So we keep a consistent behavior on topics creation.

[2021-03-03 07:35] codelipenghui commented on #9173
@mlyahmed For the persistent topic, we can create all partitions when creating the partitioned topic, the metadata for each partition also maintains in the zookeeper. But for the non-persistent topic, we don't need to store any metadata for the partition, so we can't keep consistent with the current persistent topic behavior

I think we can fix the non-persistent topic case directly, if the non-pe

[2021-03-03 07:38] codelipenghui commented on #9757
Thanks, assigned.

[2021-03-03 07:41] codelipenghui commented on #9613
@Shoothzj I mean close the ClientCnx in the consumer internal. you can't get the consumer outside if create with a timeout exception. This should be fixed in the Pulsar Client.

[2021-03-03 08:00] mlyahmed commented on #9173
@codelipenghui when the partitions, for non persistent topics, created are those metadata created?

[2021-03-03 08:24] ilpanich commented on #9699
@codelipenghui There is a misunderstanding.
As I stated above, we use batching only on consumers, there is no batching enabled on the producers side.
So I suppose we already use option 1.
The consumers still receive messages from different keys in the batch only during the peak.

[2021-03-03 08:42] lhotari commented on #9724
There's some cleanup that is handled by PR #9673 . @david-streamlio Please review that before starting refactorings on PulsarFunctionE2ETest. I hope we get that merged first.

[2021-03-03 08:43] eolivelli commented on #9721
The trigger for the problem is the number for "threads", that for pulsar-perf produce is basically a number of producers.

in this case we have threads = 10, and basically you are running 10 PulsarClient/Producer concurrently.

The only "fix" or mitigation for this issue would be to add a global (static) memory limit like in PIP-74
https://github.com/apache/pulsar/wiki/PIP-74%3A-Pulsar-client-memo

[2021-03-03 08:53] congbobo184 commented on #9697
@epsteina16 does the ```subrecord_field``` have value?

[2021-03-03 09:46] Shoothzj commented on #9613
@codelipenghui I am debugging close consumer on consuemr timeout, but things doesn't go well.
I believe that this log in broker not works well
[code]
Seems in this logic, the broker will clean the timeout consumer automaticly, but the *stats* command can still see them alive.

[2021-03-03 10:17] zymap commented on #9557
@Lanayx I am trying to reproduce this issue, I am using the following case to test but everything looks good. Could you please take a look at the test case?

[code]

[2021-03-03 11:10] xuesongxs opened #9783 "Pulsar Proxy HashedWheelTimer and Frame Exception"
**Describe the bug**
![image](https://user-images.githubusercontent.com/54351417/109797111-fa653a80-7c53-11eb-8cad-804755a63464.png)

![image](https://user-images.githubusercontent.com/54351417/109796913-b4a87200-7c53-11eb-9bba-66072cfbd6fa.png)

[2021-03-03 11:34] DonHaul opened #9784 "The partitioned topic startMessageId is illegal"
When using a reader to read a single message from a  partitioned topic the error  The partitioned topic startMessageId is illegal appears:

[code]
I implemented the code in https://pulsar.apache.org/docs/en/client-libraries-java/#reader which works for non partitioned topics.

I just consumed and saved the msg id bytes into a file and then loaded that file as the msg_id . Is any additional paramet

[2021-03-03 11:36] Lanayx commented on #9557
@zymap Hi! This test works, but not because the seek logic isn't broken, but because seek message id is stored as startMessageId in consumer and extra messages are ignored on receive. So basically if you have batch of 10000 messages and do seek to the last one of the batch all 10000 will be returned from broker, but 9999 will be ignored due to the startMessageId. My understanding is that [this log

[2021-03-03 14:49] codelipenghui commented on #9557
@Lanayx The broker does not do deserialization and filter the messages from a batch, this is expected behavior. And yes, this issue should be fixed since the consumer does not pass the right position to the broker, this will lead to the message acknowledgment issues(filtered messages by the client never get changes to ack, the mark delete position will stop to move forward)

@zymap I think you can

[2021-03-03 14:50] dlsprague commented on #9370
HI Actually when this occurs there are no errors in the logs on either client or server side.  just does not consume.  We have moved topic to a 2.7.0 server to see if this will correct as we are currently on 2.6.0.   Previously it was working only on non-partitioned topic but then would stop working after several hours until subscription removed and restarted and then it would be fine for a while.

[2021-03-03 14:55] codelipenghui commented on #9370
Thanks and looking forward to your feedback.

[2021-03-03 15:00] codelipenghui commented on #9783
Thanks @xuesongxs . Seems the problem is the proxy creates a Pulsar client for each connection since the proxy need to do the authentication by the client. Since each Pulsar client will create a HashedWheelTimer, so the error occurs and more HashedWheelTimer will waste a lot of cpu cycles(the tick time is 1ms in the Pulsar client).

I think we should make the HashedWheelTimer static in the Pulsar

[2021-03-03 15:07] codelipenghui commented on #9699
@ilpanich The producer enabled the batching by default. You can print the message ID that the consumer received to check if the message is a batch message. If it is a batch message, you will see the batch index, if not, the batch index will always -1.

[2021-03-03 15:09] codelipenghui commented on #9173
@mlyahmed No, Pulsar does not store any metadata for the non-persistent topic.

[2021-03-03 15:41] DonHaul commented on #9784
Thanks :), will wait be waiting for the next release.
Will be using non partitioned topics as a workaround for now.

[2021-03-03 15:41] #9784 closed

[2021-03-03 16:16] mlyahmed commented on #9173
@codelipenghui got that thanks !
This auto-creation must be only for partitions right? The current behavior must be kept for the non-partitioned topics. For example, if a new subscription to a non-persistent regular topic and it does not exist the topic must not be created. Right?

[2021-03-03 19:14] mlyahmed commented on #9173
Here is a suggestion

[2021-03-03 19:46] dlsprague commented on #9197
HI.. thank you for the response.   yes, we are planning to upgrade to 2.7.0, or actually I think maybe waiting for 2.7.1.   Its in the planning and testing stage  now.

Also, the broker settings I found for auto creation is:
# Enable topic auto creation if new producer or consumer connected (disable auto creation with value false)
allowAutoTopicCreation=false
# The type of topic that is allowed to

[2021-03-04 00:18] codelipenghui commented on #9197
@dlsprague I see, I think the problem is the `allowAutoTopicCreation=false` and the partitions have not created in the second cluster. It's related to https://github.com/apache/pulsar/issues/9173

[2021-03-04 00:58] dsm1212 commented on #9703
This pretty seriously impacts using non-persistent. Do you have any idea how long it might take for a fix? Or if you pin it down maybe you will see a work-around to share. thx

[2021-03-04 01:51] codelipenghui opened #9790 "Support disabled the tenants/namespaces force deletion in the broker.conf"
**Is your feature request related to a problem? Please describe.**
Currently, we added the tenants and namespaces force deletion feature in the broker, which allows users to force delete the topics under the namespace or tenants and also delete the namespace or tenant itself. This is a very influential operation, so it's better to provide a way for the Pulsar maintainers to enable or disable the t

[2021-03-04 02:28] Crtrpt opened #9791 "How to fetch all function state？"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
[code]

[code]

How to fetch hello counter and json counter at once ?

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've conside

[2021-03-04 03:16] codelipenghui commented on #9791
@Crtrpt You can use `bin/pulsar-admin functions querystate` to fetch the current state associated with a Pulsar Function.

[2021-03-04 03:18] Crtrpt commented on #9791
But only one

[2021-03-04 03:57] xche opened #9792 "Producer cannot connect after broker load shedding"
**Describe the bug**
pulsar：2.6.1

When the broker does loadshedding, producer can see the following log：

client log:
[code]
server log:
[code]

I think that for some reason the process of ServerCnx#handleProducer was interrupted, and then the CompleteFuture corresponding to the producerId in that ServerCnx couldn't complete or exception, causing the producer using that connection to fail to conn

[2021-03-04 04:16] xiaotongwang1 commented on #8670
@eolivelli @jiazhai @codelipenghui we had modify the source code base on 2.7.0 and it test and work fine in our system ,can i commit a pr to fix this problem with adding a judgment condition.

like:

if ("true".equals(System.getProperty("pulsar.zkEnableSecurity", "false"))) {
    localZk().create(path, content, ZooDefs.Ids.CREATOR_ALL_ACL, CreateMode.PERSISTENT);
} else {
    localZk().create(path

[2021-03-04 05:08] pointearth opened #9793 "the class loader in pulsar function recognizes jar file as an nar file?"
**Describe the bug**
  I met an exception when I run a pulsar function, it seems that the class loader in pulsar recognizes it as a nar file, but I don't use any nar.

**To Reproduce**
Steps to reproduce the behavior:
1. run a pulsar function
./pulsar-admin functions localrun \
  --jar /path/to/xxx.jar \
  --tenant xxxtenant --namespace xxxnamespace \
  --classname com.xx.functions.xxxxtransformer

[2021-03-04 05:40] linlinnn commented on #9792
@xche hi, can you reproduce this problem and provide detail error trace?

[2021-03-04 06:55] limingnihao commented on #9602
I will fix this issue, please assign it to me. A check for Scheme Type will be added.

[2021-03-04 07:10] codelipenghui commented on #9793
@nlu90 @freeznet Could you please help take a look at this issue?

[2021-03-04 07:18] codelipenghui commented on #9792
I think this issue is not easy to reproduce, it needs to simulate the producer creation with a timeout exception. We have fixed the related problem by introducing the epoch https://github.com/apache/pulsar/pull/5571 of the connection handler, seems the epoch number does not increase in this case.

[2021-03-04 07:25] yitian108 opened #9796 "Segment fault occur while test the example of asyn producer using c++"
#### Expected behavior
When I try to use c++ to test the pulsar program with asyn producer, I expect the program could run well like sync mode
Tell us what should happen
However, I encounter the segment fault,
#### Actual behavior
2021-03-04 15:18:28.363 INFO  [139953628752320] ConnectionPool:85 | Created connection for pulsar://localhost:6650
2021-03-04 15:18:28.364 INFO  [139953598220032] Client

[2021-03-04 07:28] codelipenghui commented on #9796
/cc @BewareMyPower Please help take a look at this issue.

[2021-03-04 11:45] james-bright-helix opened #9803 "Adding properties in ConsumerInterceptor doesn't work as expected"
#### Expected behavior

I should be able to add and modify properties on a message in `ConsumerInterceptor` and `ProducerInterceptor`. Added or modified properties should be reflected when accessing them through the Message interface. Redelivery through `reconsumeLater` and `negativeAck` should have modified properties set. Additionally, I don't think it should be necessary to cast to implementati

[2021-03-04 12:21] epsteina16 commented on #9697
The `subrecord_field` contains fields. Whether or not `substring_field` is an empty string or has content, I see this. Pulsar should not have a NPE either way.

[2021-03-04 12:38] codelipenghui commented on #9803
@james-bright-helix I think the problem is here https://github.com/apache/pulsar/blob/2fd878a8f4bfdd5cffa7fa6450714ec1ad25f514/pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java#L408, since when the consumer receives a message, the properties of the MessageImpl is not null, we update the message builder then use msg.getProperties() to get the properties will return the old

[2021-03-04 12:47] codelipenghui commented on #9697
@epsteina16 Agree, I notice `substring_field` is not allow null from the schema definition right? Can the writer write a message with `substring_field=null`?

@congbobo184 I think we need to fix this case, we should check if the GenericRecord has this field, if not, we should return null. You mentioned have value or don't have value, this means not null or null?

[2021-03-04 13:32] codelipenghui opened #9804 "Allow to enable or disable the cursor metrics in the broker.conf"
**Is your feature request related to a problem? Please describe.**

https://github.com/apache/pulsar/pull/9618 introduced the managed cursor metrics, it's better to add a flag in the broker.conf to enable or disable the cursor level metrics.

`exposeManagedCursorMetricsInPrometheus=false`, keep the default value as false.

[2021-03-04 13:34] lhotari commented on #9793
It would be interesting to have steps to reproduce this problem.
I have fixed quite a few issues in with the LocalRunner implementation in  #9673 .

[2021-03-04 13:38] james-bright-helix commented on #9803
Thanks, good to know I'm not going mad.

IMO it's not great that to implement an interceptor requires cast to `MessageImpl` or `TopicMessageImpl` and then `MessageImpl` and it makes those interceptors fragile to future changes.

It would be nice to have a type-safe way to modify the message either with something that lets me build a new message from an existing message (copies id, value, propertie

[2021-03-04 13:54] codelipenghui commented on #9803
Yes, make sense. If you are interested in this enhancement, you can start a discussion in the dev email thread to share your ideas. Or you can create a separate issue to track the enhancement, this one this tracking the bug fix.

[2021-03-04 14:04] xianhua commented on #4054
I am using 2.7.0 and I tried to set the maxMessageSize to 10M. I still got error complaining about max size allowed is 5M when published message > 5M. I wonder if I missed any other config and need to do something on client side. I am using java API for pulsar v2.7.0.  Thanks.

[2021-03-04 14:45] BewareMyPower commented on #9796
What is your `MAX_COUNT` used for? Did you mean running

[code]

for 10000 times? Sleeping for 10000 seconds is too long, I changed it to 10 milliseconds and rerun in my local environment. No segmentation fault happened.

[code]

BTW, did you use the default logger which prints logs to `stdout` or your self-defined logger?

[2021-03-04 15:37] phijohns-tibco opened #9805 "The log4cxx tool no longer builds"
This effects the Dockerfile in `pulsar-client-cpp/docker/Dockerfile`
Issue 1) The logging-log4cxx that we are building is the master not a tagged version.

Solution:
Part 1) Check out a tag then build

[2021-03-04 16:05] TIBCOeddie opened #9806 "AutoConsumeSchema NPE"
**Describe the bug**
NPE seen by the client when it tried to use AUTO_CONSUME against a topic

**To Reproduce**
Consumer created this way:
[code]

Message sent to server as follows:
`./pulsar-client produce topic1 -m "hello"`
which, understandably is not JSON nor AVRO but an NPE should have been avoided

**Expected behavior**
No NPE. If there's some configuration that could have been done better,

[2021-03-04 16:08] phijohns-tibco commented on #9805
As I dig around more I see that in the packaging Dockerfiles we grab log4cxx from the system's package manager. Why is this Dockerfile special?

[2021-03-04 16:26] TIBCOeddie commented on #7728
I've hit this as well. A consumer shouldn't so easily leave a server-side resource ( a topic ) in an undesirable state like this...

[2021-03-04 16:30] #9805 closed

[2021-03-04 18:36] alexku7 commented on #8815
Hello guys

We try to certify the pulsar according the few security standards .
We scanned the pulsar image 2.7.0 by  WhiteSource
Unfortunately  , 167 high risk CVE have be discovered in the 55 outdated libraries that were marked is High risk vulnerable .

It's "bit" makes our effort to certify the pulsar for the highly secured production environment to be complicated :disappointed:

On the other

[2021-03-04 19:05] flowchartsman commented on #9680
It still feels inconsistent. With TTL there is no good backpressure strategy, and I am then still stuck with trying to guess whether or not backlog-quota fits into TTL time or not, since it is only measured in bytes.

This would also then require me to use retention, TTL _and_ backlog quota, and the docs seem to indicate that this is unusual.

[2021-03-04 19:54] jerrypeng commented on #9640
@lhotari thanks for filling this issue!

[2021-03-04 20:32] hpvd commented on #8815
many thanks @alexku7 for describing your findings and view in details including the concrete consequence.
Imho this is not only an obstacle for "highly secured production environment" but for a not small part of possible production usages.
As trying to describe in the issue and it's comments, it's not only about security but also about performance and "bug-freeness" which both potentially saves lo

[2021-03-04 20:36] hpvd commented on #8815
-> Could there be a better advertising for pulsars' awesome quality, than being used by people and companies working in highly secured fields ?? :-)

[2021-03-04 20:43] frankjkelly commented on #8815
Yeah these code / dependency / image scanners are pretty harsh but several of our own customers want security reports of all dependent software so any effort to minimize these issues in Pulsar - especially if it's in a maintenance release e.g. `2.6.4` could be extremely valuable.  And if there's a documented process to mitigate in a PR then even someone like me could probably do it as it's in our

[2021-03-04 20:51] hpvd commented on #8815
Of course we have also seen, the major work in field of security and code quality in the past month, like enabling spotbugs in many components, working on E2E encryption etc... -> thisis pretty awesome, and important.
Beyond that, this issues is about the routines and automatics making it possible to get most out of all the works put into pulsar.

[2021-03-04 21:19] hpvd commented on #8815
@alexku7 would be happy to see the statistics when scanning upcoming v2.8 with same tool (white source)!

[2021-03-04 21:25] alexku7 commented on #8815
Sure :) no problem
I posted the exported report in the slack channel .
https://apache-pulsar.slack.com/archives/C5Z4T36F7/p1614882939234100

[2021-03-04 23:43] #9709 closed

[2021-03-05 00:12] codelipenghui commented on #9680
Yes, the TTL can't achieve the backpressure strategy by the time duration. Thanks for the clarification, I think this should be a new feature, so I will change the label to `type/feature`.

[2021-03-05 00:33] #9728 closed

[2021-03-05 00:37] zymap commented on #4054
You need to set `maxMessageSize` in broker.conf and set `nettyMaxFrameSizeBytes` in bookkeeper.conf.

[2021-03-05 00:39] codelipenghui commented on #9806
It should not throw NPE, the auto_consume schema only works for the struct schema such as Avro, Json. I labeled as release/2.7.2 to make sure this one can be fixed in the next release.

[2021-03-05 02:01] yitian108 commented on #9796
@BewareMyPower Hello Mr Xu, I use the const MAX_COUNT just for testing the running times just like your 'for' loop, the following code is original:

`
int cnt = 0;
while(true)
{
     Message msg = MessageBuilder().setContent("content").setProperty("x", "1").build();
     producer.sendAsync(msg, callback);

     if (++cnt == MAX_COUNT )
          break;
     std::cout << "Current times: " << cnt <<

[2021-03-05 02:49] houbeibei123 opened #9812 "Pulsar is deployed in a Kubernetes cluster, but it does not bind to PVCs in the cluster"
#### Steps to reproduce

According to the official website to provide the installation method of pulsar (https://github.com/streamnative/charts) in Kubernetes cluster deployment, but it cannot bind the cluster of PVC.
Each component that needs to be bound to PVC will report the following error:
   pod has unbound immediate PersistentVolumeClaims

#### Steps:
helm repo add streamnative https://char

[2021-03-05 03:05] wolfstudy commented on #9812
Can you help determine whether there are PV resources available in your current environment?

Maybe you should Provide a persistentVolume fulfilling the constraints of the claim ( eg: a size >= 100Mi)

[2021-03-05 03:07] wolfstudy commented on #9812
@houbeibei123 Is it convenient for you to create an issue under `streamNative/charts` to describe your problem? So we can close this issue in the `apache/pulsar` repo?

[2021-03-05 03:13] wolfstudy commented on #9772
Thanks @flowchartsman proposal, This is indeed the missing feature of Go Function. Are you interested in this? Welcome to submit a pull request to support this feature.

[2021-03-05 03:19] BewareMyPower commented on #9796
You can modify the callback and retry to check if the issue is caused by `LOG_INFO`. Here're some callbacks that you can try.

For example,

[code]

[code]

[code]

[2021-03-05 04:41] pointearth commented on #9793
yea, I am in a rush this week, let me write another demo to show you in next days. @lhotari

[2021-03-05 09:33] sakurafly123 opened #9818 "No such ledger exists on Metadata Server"
#### Expected behavior

when I use  Presto SQL, I encountered a mistake；

presto> select * from pulsar."public/default".test8;
Query 20210305_090629_00024_pnys3 failed: org.apache.bookkeeper.mledger.ManagedLedgerException: java.util.concurrent.CompletionException: **org.apache.bookkeeper.client.BKException$BKNoSuchLedgerExistsOnMetadataServerException: No such ledger exists on Metadata Server**
wh

[2021-03-05 12:15] codelipenghui commented on #9818
Have you deleted the ledgers from the bookie? From the error log, it means the topic metadata contains a LedgerId but the LedgerId does not exist in the bookkeeper cluster. Can this reproduce stably? Another possibility is the topic is in the process to delete the Ledger, the ledger is deleted from the bookie cluster but the topic metadata does not update yet. Have you tried run the same SQL query

[2021-03-05 12:38] codelipenghui commented on #7280
@sundar-10 You can check the `ZeroQueueConsumerImpl`.

[2021-03-05 12:52] codelipenghui commented on #7280
@merlimat How about syncing the backlog between the broker and client periodically. Treat topics with more backlogs as a high priority. Since we don't know if a topic will there be any messages written, to avoid a consumer block to one topic(no more data are written), we can reset the permits in a sync cycle if there are topics that have more backlog, looks like

1. reset permits to 0
2. re-order

[2021-03-05 13:41] eolivelli opened #9821 "pulsar-perf produce: "-t" option is broken"
The patch #9716  broken compatibility with the previous version of the pulsar-perf tool.

I have tools that used the useful feature, that is to auto create many topics on demand and automatically

I will be happy to send a patch that at least restores the auto-topic creation behaviour

`bin/pulsar-perf produce -t 10 test`

should create 10 topics, now it does not work anymore
[code]

[2021-03-05 20:58] slavitch commented on #9812
I have the same issue.

[2021-03-06 05:33] MarvinCai commented on #9703
Sorry for the delay, was trying to wait for some issue related to test to be fixed first.
I'll fix this soon.

[2021-03-06 06:31] eolivelli commented on #9812
Probably you have to set the storageClass?
As you are talking about a third party chart I suggest you to open an issue on the issue tracker for that chart as well

[2021-03-06 18:29] vishnuvardhanp4 commented on #1953
after replacing lib and started apache pulsar facing below error
 ERROR org.apache.bookkeeper.bookie.Bookie - Cookie for this bookie is not stored in metadata store. Bookie failing to come up
INSTANCEID not exists in zookeeper. Not considering it for data verification
ERROR org.apache.pulsar.PulsarStandaloneStarter - Failed to start pulsar service.

Using it in production.data should not be loose

[2021-03-07 07:35] vishnuvardhanp4 opened #9829 "Apache pulsar error after upgrade"
using pulsar standalone in integration version 2.6.1 now i upgraded it to 2.7.0 by replacing lib data directory
when i started the server showing below error
 ERROR org.apache.bookkeeper.bookie.Bookie - Cookie for this bookie is not
stored in metadata store. Bookie failing to come up
INSTANCEID not exists in zookeeper. Not considering it for data verification
ERROR org.apache.pulsar.PulsarStandalo

[2021-03-07 08:26] vishnuvardhanp4 opened #9830 "Apache pulsar is not starting"
08:16:54.952 [main] INFO  org.apache.bookkeeper.proto.BookieNettyServer - Binding bookie-rpc endpoint to 0.0.0.0/0.0.0.0:3181
08:16:55.057 [main] INFO  org.apache.bookkeeper.meta.MetadataDrivers - BookKeeper metadata driver manager initialized
08:16:55.061 [main] INFO  org.apache.bookkeeper.meta.zk.ZKMetadataDriverBase - Initialize zookeeper metadata driver at metadata service uri zk+null://127.0.

[2021-03-07 16:43] lhotari commented on #9216
@codelipenghui @315157973 I'd suggest fixing #9711 before making more changes to policy handling. WDYT?

[2021-03-07 17:20] 315157973 commented on #9216
I will fix thread safety issues in a unified way，will not affect this issue

[2021-03-07 17:33] lhotari commented on #9216
@315157973 that would be very good. How?

[2021-03-08 00:20] codelipenghui commented on #9216
@lhotari This task is to support get applied policy for a topic, I don't understand why the new feature needs to wait for #9711. The topic policy does not persistent to zookeeper.

[2021-03-08 00:22] codelipenghui commented on #9830
@vishnuvardhanp4 Could you please provide the reproduce steps? I tried on my laptop, the standalone can start successfully.

[2021-03-08 00:50] codelipenghui commented on #9829
@vishnuvardhanp4 You can run

1. bin/pulsar zookeeper-shell
2. ls /ledgers/cookies

To get the bookie ID stored in the zookeeper, if the bookie ID exists in the zookeeper, you can check if the bookie ID is the same as your specified.

And could you please paste the complete stack trace?

[2021-03-08 04:40] vishnuvardhanp4 commented on #9830
1.upgraded data directory bookkeeper upgrade -u data 2.Again rolled back as
data is showing ./bin/bookkeeper upgrade --rollback
3.replaced the 2.7.0 lib directory with 2.6.0 4.And taken backup of lib and
conf
5.started apache pulsar then it showing the error

On Mon, Mar 8, 2021 at 5:52 AM lipenghui <notifications@github.com> wrote:

[2021-03-08 04:43] vishnuvardhanp4 commented on #9830
when upgraded data directory data is missing so i rolled back is this ths
issue
locally i checked its working for me also

On Mon, Mar 8, 2021 at 10:10 AM Vishnu Vardhan <vishnuvardhanp4@gmail.com>
wrote:

[2021-03-08 05:19] #9804 closed

[2021-03-08 06:21] lhotari commented on #9216
I have added a comment here: https://github.com/apache/pulsar/pull/9832/files#r589192556

The thread safety issue isn't related to Zookeeper. It's mainly about unsafe mutation and access of HashMaps.

[2021-03-08 06:58] lhotari commented on #9711
On a busy system, unsafe HashMap mutation and access will eventually lead to infinite loops and 100% CPU core usage when the HashMap data structures get corrupted.
This problem is [demonstrated and explained in this article](https://dzone.com/articles/java-7-hashmap-vs), in the section "HashMap infinite looping problem replication".

I might be missing something, but I can see that the Pulsar poli

[2021-03-08 07:15] codelipenghui commented on #9216
@lhotari Thanks for the clarification. I don't think it should block the new feature implement. I understand your concern, if we merge more PRs related to the policies, we need to do more changes when fixing #9711. But for community cooperation, we should not block the new features. #9216 is planned to release in 2.8.0. So we can confirm before release 2.8.0, #9711 can be fixed, is this works for

[2021-03-08 07:28] lhotari commented on #9216
@codelipenghui Makes sense.

Fixing #9711 might have broader impacts and dealing with it asap would be important. I hope it gets prioritized since it seems that the issue is cross-cutting and the current unsafe pattern is copied over to new feature development like we have seen in this case.
There might be simple fixes to address some of the issues, for example replacing plain HashMaps with thread

[2021-03-08 07:35] sakurafly123 commented on #9818
i don't delete ledgers from the bookie

broker conf:

[2021-03-08 07:35] #9818 closed

[2021-03-08 07:51] codelipenghui commented on #9830
I think you can try to replace the lib directory directly, before this backup your old lib directory.

[2021-03-08 07:52] 315157973 commented on #9711
@lhotari  How about change HashMap to ConcurrentHashMap, and do not update the cache, only invalidate the cache

[2021-03-08 08:08] Anonymitaet commented on #9410
Hi @vkvm, thanks for your work, any progress about the doc?

[2021-03-08 08:29] #8694 closed

[2021-03-08 08:57] lhotari commented on #9711
+1, I guess ConcurrentHashMap is one possibility and probably leads to the simplest fix to the issue.

In general, I'd prefer a solution that is based on immutability so that an update returns a new copy and new instance. This approach is used in an open PR #9598 . However in that case, there aren't Maps that are involved.
Using persistent collections such as [PCollections library](https://github.

[2021-03-08 09:15] abhilashmandaliya opened #9837 "Error while running two broker docker containers on the same physical host"
**Describe the bug**
I am trying to run a pulsar cluster on docker in a bare metal multi-cluster fashion. I have one zookeeper, 2 bookkeeper and 2 pulsar containers. On broker startup, one of the brokers starts normally but the other one fails with this error:

```ERROR org.apache.pulsar.broker.namespace.NamespaceService - namespace already owned by other broker : ns=pulsar/pulsar-cluster-1/192.16

[2021-03-08 09:24] 315157973 commented on #9711
Creating new objects will produce garbage, I think ConcurrentHashMap will be better

[2021-03-08 09:34] lhotari commented on #9711
New objects are only a problem if it causes a bottleneck. I don't think that policy modifications would be a large part of the workload. Therefore there isn't a reason to reject solutions around immutability.
btw. Persistent data collections such as [PCollections library](https://github.com/hrldcpr/pcollections) help minimize the number of new objects that are created when using immutable collecti

[2021-03-08 09:39] 315157973 commented on #9711
In the scene of this issue, compared with ConcurrentHashMap, what are its advantages?

[2021-03-08 10:16] vishnuvardhanp4 commented on #9830
But after replacing lib  apache server is not starting showing the above
error that cookie of that bookie is not exist

On Mon, Mar 8, 2021 at 1:21 PM lipenghui <notifications@github.com> wrote:

[2021-03-08 10:39] codelipenghui commented on #9830
Interesting, If do not do the bookkeeper upgrade, the cookie also disappear from the zookeeper?

[2021-03-08 11:15] vishnuvardhanp4 commented on #9830
No actually i upgraded data directory and again i rolled it back .After
that i replaced lib now pulsar is not starting

On Mon, Mar 8, 2021 at 4:10 PM lipenghui <notifications@github.com> wrote:

[2021-03-08 11:20] eolivelli commented on #9830
what is the content of "data/data/standalone/bookkeeper0/current" now ?
can you dump the contents of "VERSION" file, that is the "Cookie" ?

[2021-03-08 14:19] flowchartsman commented on #9772
Yeah, not a problem, any thoughts on implementation? I am tempted to add methods into `pf`

[2021-03-08 21:39] #9585 closed

[2021-03-09 05:12] freeznet commented on #3218
go client now support multiple hosts (ref: https://github.com/apache/pulsar-client-go/pull/484)

[2021-03-09 07:29] eolivelli opened #9844 "Support KeyValue Schema with GenericRecord/AUTO_CONSUME"
We have the `KeyValue` schema that supports a generic key-value model, and both the key and the value have a schema.

When you are dealing with structured data types, currently you usually use `Sink<GenericRecord>` and the `AUTO_CONSUME` schema, this way you can deal automatically with any supported from of data structures.

But if you use `AUTO_CONSUME` you cannot consume `KeyValue` records.

**D

[2021-03-09 07:43] eolivelli opened #9845 "Cannot build docker image in 2.7.1 from the source tarball"
During the validation of 2.7.1rc1 we discovered that it is not possible to build the docker image from the source tarball.

The problem is that we are using "git" command outside of a git repo.

This is the error:
[code]

[2021-03-09 07:51] sakurafly123 opened #9847 "Presto SQL throw Exception:No such ledger exists on Metadata Server when use 10.176.5.177:2181/test as zkServers;"
Describe the bug
A clear and concise description of what the bug is.

presto>select * from pulsar."public/default".test9;

2021-03-09 ERROR Query-20210309_0354421_00002_frcuq failed:org.apache.pulsar.sql.presto.PulsarSplitManager Failed to get splits
org.apache.bookkeeper.mledger.ManagedLedgerException: java.util.concurrent.CompletionException: org.apache.bookkeeper.client.BKException$BKNoSuchLedg

[2021-03-09 07:57] eolivelli opened #9848 "Kafka Sink Connector: support non-String keys"
Currently the Kafka Sink Connector is able to support only keys with a String value.

We should support the generic byte[] key, as it is in Kafka.
Also we should support other data types and possibly may the generic key/value pair of Kafka to a KeyValue Pulsar schema

[2021-03-09 07:58] eolivelli commented on #9848
@sijie  comment in #9448

[2021-03-09 09:38] thesquiff opened #9851 "Pulsar IO Source Connectors properties not added to message"
**Describe the bug**
I have been developing a couple of Pulsar IO Source connectors. They are able to write out message bodies but properties (even though the getProperties() message does appear to be called) are not added to the messages published onto the destination topic.

A minimal test case can be demonstrated by adding properties to the Data Generator Source.

**To Reproduce**
Add the follo

[2021-03-09 09:47] codelipenghui commented on #9847
@sakurafly123 Seems related to https://github.com/apache/pulsar/issues/9818? I have left a comment here https://github.com/apache/pulsar/issues/9818#issuecomment-791382600

[2021-03-09 09:53] sakurafly123 commented on #9847
yes ,i see it; now I give the complete configuration；

[2021-03-09 09:58] sakurafly123 commented on #9847
i think there‘re a problem on  PulsarConnectorCache.java row115;
it may be replaced by  "
 return new ManagedLedgerFactoryImpl(bkClientConfiguration,managedLedgerFactoryConfig,bkClientConfiguration.getMetadataServiceUri());
"

[2021-03-09 11:43] gaoran10 commented on #9851
Which function mode are you using? Local-run, thread mode, or process mode?

If you use the thread or process mode, you could try to set the param `--forward-source-message-property` to `true`.
It seems that the local-run mode doesn't set this param to `true` for source connector.

[2021-03-09 11:47] lhotari commented on #9711
One of the advantages of immutable objects (all fields final in Java) is that there isn't any need for locks at access time after there is a reference to the object. A design where there's some kind of "single writer principle" and immutable objects can be easier to get right. However it might be an overkill to modify an existing solution to follow this type of pattern.
I guess that the benefit of

[2021-03-09 12:08] gaoran10 commented on #9851
It seems that the source connector couldn't publish the properties along with the message content to the Pulsar topic.
There is a config `forwardSourceMessageProperty` to determine whether set properties to the Pulsar message properties.
But the source connector doesn't set this param, so its default value is `false`. If it's a function you could use the param `--forward-source-message-property` t

[2021-03-09 12:46] thesquiff commented on #7262
This is still an issue in 2.7.0

[2021-03-09 15:13] codelipenghui commented on #9847
Oh, I see. The problem is related to the chroot of the zk connection string. Are you interested in fixing this problem?

[2021-03-10 00:28] codelipenghui commented on #9698
@eolivelli I think we can use `Record.getSchema().getSchemaInfo().getType()` to get the schema type, and then convert.

[2021-03-10 01:22] tuteng opened #9854 "Using a websocket client with authentication on the browser side"
**Is your feature request related to a problem? Please describe.**
Some users want to use a WebSocket client with authentication on the browser to connect to the pulsar service, but the current authentication information, such as the token, cannot be set to the header, which prevents sending authentication information to the pulsar cluster

**Describe the solution you'd like**
A clear and concise

[2021-03-10 01:26] sakurafly123 commented on #9847
yes,i

ok,i can try to fix this problem

[2021-03-10 01:51] #9845 closed

[2021-03-10 02:45] codelipenghui commented on #9768
close via https://github.com/apache/pulsar/pull/9776

[2021-03-10 02:45] #9768 closed

[2021-03-10 03:30] yangl commented on #3716
any updates ?

[2021-03-10 03:45] hxnan opened #9856 "Pulsar sql query failed with broker"
**Describe the bug**
pulsar sql query failed with broker.

version: 2.7.0

**To Reproduce**
Steps to reproduce the behavior:
1. setup a jwt auth cluster
2. start a pulsar worker
3.  query:  `show tables in pulsar."public/default";`
4.  500 error in query cli;
5. the access log shows request like : `/admin/v2/non-persistent/tenant/ns`

with the same admin token
request  `/admin/v2/persistent/tenant

[2021-03-10 04:03] codelipenghui commented on #9856
@hxnan Could you please share the configuration files of the pulsar presto connector? and what permissions does your role granted. So that we can try to reproduce it first.

[2021-03-10 06:44] #9821 closed

[2021-03-10 06:50] #9790 closed

[2021-03-10 07:51] eolivelli commented on #9698
@codelipenghui Unfortunately I think that it does not work.
You have to declare the sink datatype.
If you use Sink<byte[]> in order to create a Sink that works with topic with and without a schema you will see that Record.getSchema() return Schema.BYTES and not the actual schema.

If you think that that should be the expected behaviour I will be happy to fix it.

[2021-03-10 07:54] yitian108 commented on #9796
@BewareMyPower， sorry for delay response.

As I tried above you support, there is the same error as before, and the successful times is randomly, I don't think it caused by LOG_INFO, because when I modify the method from sendAsync to send, it works ok.

Any other ideas would be welcome!

Thanks

[2021-03-10 07:58] hxnan commented on #9856
My fault.

Get request to `/admin/v2/non-persistent/tenant/ns` include broker to broker http request.

Error story I met : client -- token--> broker -- no token--> broker = 401 code
Success story: client--token-->broker-- token(provide by brokerClientAuthenticationParameters) --> broker = 200 code

Set the config blow solve my problem.
[code]

[2021-03-10 07:59] hxnan commented on #9856
Something confused me is why this request is working:
`/admin/v2/persistent/sql-tenant/ns` also include broker to broker request, but it is working without `brokerClientAuthenticationParameters` config in broker.conf

[2021-03-10 08:49] thesquiff commented on #9851
My view on this one is that properties should always be sent on by the source. The source should set them if required and not set them if not required. I can't think of a use case for having the switch currently.

[2021-03-10 09:03] gaoran10 commented on #9704
I think this issue has not been solved yet. The key point is use the key-value schema in seperate mode and disable the batch feature, if enable the batch feature the Pulsar SQL works well.

[2021-03-10 11:20] jarleaase opened #9861 "Pulsar standalone fails to start up when I set clusterName != "standalone""
**Describe the bug**
When setting `clusterName` in standalone mode, the server fails to start.

**To Reproduce**
Steps to reproduce the behavior:
1) Deploy in a kubernetes cluster.
2) Set the environment variable: `clusterName=whatever`
3) Set pod command to: `sh -c '/pulsar/bin/apply-config-from-env.py /pulsar/conf/standalone.conf; exec /pulsar/bin/pulsar standalone;'`
Tested today with images: `

[2021-03-10 11:25] eolivelli commented on #9861
Why do you want to run "pulsar standalone" on k8s ?
It is a tool that is very useful for local development.
Can't you use the Pulsar Helm Chart ?

[2021-03-10 13:35] hpvd commented on #9854
+1 for this!

would be also a perfect additional component to show in this "Full scale example" https://github.com/apache/pulsar/issues/9008

[2021-03-10 13:37] hpvd commented on #9008
this feature would be a perfect addition for this example:
Using a websocket client with authentication on the browser side https://github.com/apache/pulsar/issues/9854

[2021-03-10 14:04] codelipenghui commented on #9704
@congbobo184 Could you please take a look again? @gaoran10 Do you mean if use key-value schema in separate mode and disabled the message batching, the problem still there?

[2021-03-10 14:10] lhotari opened #9863 "Flaky-test: PulsarFunctionsTest.testExclamationFunction"
org.apache.pulsar.tests.integration.functions.PulsarFunctionsTest is flaky. The testExclamationFunction test method (used by multiple tests) fails sporadically.

Some old examples:
[code]

[example failure 2021-02-01T12:01:59.5076056Z](https://github.com/apache/pulsar/runs/1805264766?check_suite_focus=true#step:13:14331)
[example failure 2021-01-31T21:26:48.5466323Z](https://github.com/apache/puls

[2021-03-10 14:14] lhotari commented on #9863
PR #9864 is for fixing this.

[2021-03-10 14:20] codelipenghui commented on #9851
If I understand correctly, you want to keep `forwardSourceMessageProperty=true` as default right? I think there are some internal properties that the function introduced or others, not the user-defined, maybe the initial motivation is to avoid passing the internal properties.

@nlu90 @freeznet Please help double confirm.

[2021-03-10 14:46] eolivelli opened #9865 "Make pulsar-client and pulsar-perf tools "testable" (do not call System.exit directly)"
Pulsar client and Pulsar Perf command line tools use System.exit in order to abort the execution and report an exit code to the caller process.
This makes them hard to test because System.exit will abort the JVM.

We should add some little framework to define a callback instead of calling directly System.exit

[2021-03-10 14:46] jarleaase commented on #9861
Hi,
I am working on a distributed cloud app where Pulsar is one of many components. In production, Pulsar is deployed with Helm Charts. For my local development setup, I need to test and debug my components, and they use Pulsar. Therefore, I have been deploying Pulsar standalone, as this is pretty straight forward. It has worked fine for a long time - both with docker-compose and kubernetes.

Now,

[2021-03-10 14:55] eolivelli commented on #9861
@jarleaase I understand your need.

We should make it work, it can be considered a bug, or a "nice to have feature".

Would you like to spend time in providing a fix ?

[2021-03-10 14:56] lhotari commented on #9636
One attempt to fix this issue is in PR #9866 .

[2021-03-10 15:49] fmiguelez opened #9867 "Script gen-yml-from-env.py does not work with array types"
**Describe the bug**

Script `gen-yml-from-env.py` is typically used when separate function worker instances (e.g. on a Docker cluster) are configured. This script takes environment variables starting with `PF_` prefix and assigns their values to `conf/functions_worker.yml`.

Some properties in YAML file take the form of an array. If we set one of those properties with an environment variable, e.g

[2021-03-10 17:42] EronWright opened #9872 "Enabled TLS hostname verification by default"
**Is your enhancement request related to a problem? Please describe.**
Hostname verification is a critical aspect of TLS, especially when using the system-provided certificate bundle.  TLS server authentication consists of two steps, a) verify the certificate is **valid** according to a trust chain (i.e. a certificate bundle), and b) verify that the certificate is **applicable** to the connection

[2021-03-10 18:26] DonHaul opened #9873 "admin getMessageById vs api seek+readnext Performance difference"
Performance of  Regular org.apache.pulsar.client.api, is about 5x slower then admin org.apache.pulsar.client.admin to fetch single messages that were already consumend.

I am implementing a reader that needs to fetch 1 document at a time from bookeeper in a non sequential way.

Using a regular Reader to fetch a single document it takes around 119ms to fetch one message, while using the admin api i

[2021-03-10 19:38] MarvinCai commented on #2736
After discussing with @sijie #9514 is not implementing what we want here, we want to able to truncate the topic which is actually delete ledger from BK for given topic.
Should reopen it.

[2021-03-10 19:39] MarvinCai commented on #2736
I can work on a solution for it.

[2021-03-10 19:40] #9863 closed

[2021-03-10 23:18] #6198 closed

[2021-03-10 23:20] codelipenghui commented on #2736
related to https://github.com/apache/pulsar/issues/9597

[2021-03-10 23:36] #9757 closed

[2021-03-11 01:03] hxnan commented on #9856
Thank you for your answer.

[2021-03-11 01:04] #9856 closed

[2021-03-11 01:44] #9636 closed

[2021-03-11 02:24] freeznet commented on #9851
@codelipenghui  according to pr #8158, i think `forwardSourceMessageProperty=true` is the default setting, please let me know if I missed something.

@thesquiff would you please help to check:
- make sure add `forwardSourceMessageProperty=true` to `functions_worker.yml`
- restart and see if properties are still not pass to the destination topic

Also, please provide what kind of function runtime y

[2021-03-11 03:50] #7728 closed

[2021-03-11 06:12] jarleaase commented on #9861
Thanks.

I'm a C++ developer, so trying to fix this would not be effective. I'll ask if any of the Java developers on the project has capacity to do it.

[2021-03-11 06:50] jarleaase commented on #9861
I have created a ticket for it. Hopefully it will be fixed in not too long.

[2021-03-11 07:44] Anonymitaet commented on #9410
Hi @vkvm, would you like to add docs accordingly? Then I can help review, thanks

[2021-03-11 08:13] murong00 commented on #9867
You can try to use `[org.apache.pulsar.broker.authentication.AuthenticationProviderTls]` or `[org.apache.pulsar.broker.authentication.AuthenticationProviderTls,org.apache.pulsar.broker.authentication.AuthenticationProviderAthen]` to fetch values of array types.

[2021-03-11 08:57] psisoyev opened #9881 "KeyShared subscription doesn't work on non-persistent topics"
**Describe the bug**
According to https://github.com/apache/pulsar/pull/4462 `non-persistent` topics should have the support of KeyShared subscriptions. However, it seems it doesn't work (at least in Java client).

**To Reproduce**
Steps to reproduce the behavior:
0. Using the official `pulsar-client` 2.7.0
1. Create a producer for non-persistent topic
2. Create a consumer for the same topic
3. Se

[2021-03-11 09:15] psisoyev commented on #9881
Nvm, seems like a duplicate - https://github.com/apache/pulsar/issues/9703

[2021-03-11 09:15] #9881 closed

[2021-03-11 09:41] Anonymitaet commented on #9008
@Huanli-Meng could you please share your thoughts? Thanks

[2021-03-11 09:41] thesquiff commented on #9851
I have added `forwardSourceMessageProperty: true` to the bottom of functions_worker.yml with pulsar running as a standalone instance for test purposes and there was no change. Properties are still not being sent.

On my main cluster where I initially observed this problem, the function workers are running as threads on the brokers.

[2021-03-11 10:10] fmiguelez commented on #9867
It will not work either. You can try your proposal yourself with (it fails with same error):

[code]

The problem is that they python script interprets the value as a string so final value you will see in yaml file will be:

[code]

I does not matter if you enclose the value in square brackets or not, final result will always be quoted (string) and thus provoke an exception on Java when trying to

[2021-03-11 10:58] DonHaul commented on #9873
That still happens when reader API is already created, and only needs to call `reader.seek();` and `reader.readNext();` ?

[2021-03-11 11:02] eolivelli commented on #9873
Just out of curiosity, why do you use Pulsar for this usecase? Pulsar is for pub/sub and queueing.

If you want to leverage your BK cluster to store objects and access them more efficiently you could take a look to
https://github.com/diennea/blobit

[2021-03-11 13:59] eolivelli commented on #9844
@rdhabalia @sijie @merlimat @jerrypeng

is there any current work in this direction on your side ?

[2021-03-11 18:03] lhotari opened #9885 "Flaky-test: StreamingEntryReaderTests.testCanReadEntryFromMLedgerSizeExceededLimit"
StreamingEntryReaderTests is flaky. The testCanReadEntryFromMLedgerSizeExceededLimit test method fails sporadically.

It seems that the 300 millisecond timeout for async operations is too short.

example failure

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
 [INFO] Running org.apache.pulsar.broker.service.streamingdispatch.StreamingEntryReaderTests
 [ERROR] Tests run:

[2021-03-11 18:04] lhotari commented on #9885
@MarvinCai Would you mind taking a look? This test was introduced in PR #9056 .

[2021-03-11 19:44] devinbost commented on #6054
We're still having this issue on 2.4.1, 2.4.2, 2.6.2, 2.6.3, and 2.7.0, making it impossible for us to upgrade from 2.4.0.

[2021-03-11 19:51] devinbost commented on #6054
@sijie We noticed that the subscription after the frozen topic has a high number of negative permits.

[2021-03-11 20:36] lhotari commented on #6054
@devinbost Would be able to test with a 2.8.0-SNAPSHOT version? What might fix some lockup issues is #9787 .

[2021-03-11 21:31] david-streamlio commented on #9724
Thanks. I will revisit this now that the above PR has been merged.

[2021-03-11 22:40] #7271 closed

[2021-03-11 22:42] #6932 closed

[2021-03-11 22:43] david-streamlio commented on #8162
This has been resolved.

[2021-03-11 22:43] #8162 closed

[2021-03-11 23:52] Anonymitaet commented on #9410
Hi @vkvm, would you like to add docs accordingly? Then I can help review, thanks

[2021-03-12 00:25] zymap opened #9888 "[Build] Failed to build pulsar-build:manylinux-3.9"
**Describe the bug**
PR #9389 introduces the python 3.9 client wheel supports. But it's will failed to build the base image `pulsar-build:manylinux-3.9`.

Logs:

[code]

**reproduce**

1. checkout to the master code,
2. cd pulsar/pulsar-client-cpp/create-images.sh

[2021-03-12 00:27] david-streamlio opened #9889 "Cleanup the org.apache.pulsar.tests.integration.functions.PulsarFunctionsTest class"
The scope of current implementation of the org.apache.pulsar.tests.integration.functions.PulsarFunctionsTest class is too broad, it is responsible for the end to end testing of Pulsar Functions, Pulsar Sources, and Pulsar Sinks. These test suites should be implemented in different test classes altogether since they test fundamentally different things.

**Is your enhancement request related to a pr

[2021-03-12 00:34] gaoran10 commented on #9851
I think SourceConnector couldn't set the config forwardSourceMessageProperty through the functions_worker.yml, it's only used for the Function.

Please check these codes in the class `SourceConfigUtils`, this is the sink spec generation code for the SourceConnector.
The default value of the param `forwardSourceMessageProperty` should be `false`.
[code]

[2021-03-12 02:20] zymap commented on #9888
I removed the python3.9 wheel file build temporarily so we can build the master branch successfully. After the pulsar-build:manylinux-3.9 build out I will add the python 3.9 build back

[2021-03-12 05:23] pointearth opened #9892 "Pulsar function Should support Generic output Message"
**Is your feature request related to a problem? Please describe.**
In the pulsar function, I don't want to define a particular class as O in
`public interface Function<I, O> {
    O process(I var1, Context var2) throws Exception;
}`

because I have a POJO class, but I always want to push a wrap class to wrap the POJO class as output. because the only different thing between this wrap class and the

[2021-03-12 06:25] eolivelli commented on #9892
This is related to:
https://github.com/apache/pulsar/pull/9590
and to
https://github.com/apache/pulsar/pull/9481

I really would like to see this feature land soon.
I believe that the work at #9590 could be extended in order to add an integration test about this specific case

[2021-03-12 07:37] #9602 closed

[2021-03-12 08:15] gaoran10 commented on #9704
Yes, I think the problem still exists.

[2021-03-12 08:16] gaoran10 commented on #9704
Yes, I think the problem still exists.

[2021-03-12 08:18] eolivelli commented on #9698
@easyfan  I have prepared a prototype of Schema@OBJECT
would you mind to take a look please ?
https://github.com/apache/pulsar/pull/9895

[2021-03-12 08:19] eolivelli commented on #9844
Related work:
https://github.com/apache/pulsar/pull/9895

[2021-03-12 08:50] blaghed commented on #5534
Hi all,
I'm very much interested in the discussion revolving around the Cluster and Resource Operators for Pulsar.
So, kind of hope that the reason this ticket went quiet is that you moved the ongoing convo over to Slack?
Is there any update from that side that would make sense adding here?

[2021-03-12 08:59] #9557 closed

[2021-03-12 09:37] freeznet commented on #9851
Thanks @gaoran10 for correct me, you are right about this. In this case, I can work on the fix later.

[2021-03-12 09:46] DonHaul commented on #9873
We are using it, not for the pub/sub but for it realtime capabilities and these persistent storage features (which are actually from bookkeeper). We also use it for reliability as if any messages failed to be consumed, they are still stored and can be consumed later.
Our program stores xml documents on bookkeeper and the consumer is responsible for creating references to it in an external db for w

[2021-03-12 09:46] #9873 closed

[2021-03-12 11:24] eolivelli commented on #9873
@DonHaul

yes it is, most notably it was initially designed to read the objects as soon as it has been written by the writer (it is using some feature in BK that is not used in Pulsar, like `readUnconfirmed`, in order to reduce latency.
feel free to open a ticket with your use case on the issue tracker on github.

cc @nicoloboschi @diegosalvi @dianacle

[2021-03-12 13:05] eolivelli commented on #9045
This is my patch to fix the issue and upgrade Avro
#9898
Please take a look.

Eventually we could only pick the part about removing the JodaTimeConversion class usage and keep Avro 1.9.1 in Pulsar, but it is better to upgrade to the new version in order to keep up with the latest release.

[2021-03-12 13:22] eolivelli opened #9899 "Support non String keys in Pulsar IO: Record#getLogicalKey() and Record#getKeyBytes()"
**Is your enhancement request related to a problem? Please describe.**
In Pulsar IO we have Record#getKey that returns an Optional<String>, this way you cannot support non String keys.

You can write Non string keys with:
- with `KeyValue`
- With `MessageBuilder#keyBytes`

**Describe the solution you'd like**
I would like to see a Record#getKeyObject() (or other name) that returns the key as Objec

[2021-03-12 13:22] eolivelli commented on #9899
cc @dlg99

[2021-03-12 13:54] vroyer commented on #9899
As the message value, the message key could be Json, Avro, Protobuf or whatever. So we could have a way to store byte[] returned by Schema.encode() as a base64.

[2021-03-12 14:00] eolivelli commented on #9899
Here I am talking more about the Sink part, that is when we read from Pulsar.
But yes, my idea is that we are able to ready the "logical key", whatever it is.

- raw byte[]
- String
- KeyValue  - SEPARATED
- KeyValue - INLINE

[2021-03-12 14:10] vroyer commented on #9899
May you coud have in Record:
default Optional<byte[]> getKeyBytes() {
       return getKey().map(s -> Base64.getDecoder().decode(s));
    }

And if the schema is a KeyValueSchema<Object,Object>, you should get the actual ket with getKey() properly decoded with  the ObjectSchema of the key.

[2021-03-12 14:29] eolivelli commented on #9899
That was my first idea.
We can add that as well.

But in Pulsar we are used to automatic decoding of the value, so probably it is good to add getLogicalKey as well, otherwise the Sink code will have to deal explicitly with KeyValueSchema and I believe that it is some kind of implementation detail that is better to hide.

In my mind I have that only the KeyValue class is usable by the Sink code, li

[2021-03-12 14:50] eolivelli commented on #9771
@dlg99 I am able to build the image on Mac,
do you still see this problem on current master branch ?

the build is also quicker because it will compile less stuff

[2021-03-12 15:40] vroyer commented on #9899
I think Record, Sink and Source should be concret class of KeyValue<Object,Object> , because we want generic connectors working whatever is the schema or encoding. So we would have Record like this:

[code]

The sink connectors would use getRecordKey() and getRecordValue() to get the concret key and value object, and they can query the schema to process it properly, and whatever the key is INLINE

[2021-03-12 15:48] eolivelli commented on #9899
@vroyer
that's something I would like to achieve but we have to take into account compatibility with the past

with https://github.com/apache/pulsar/pull/9896 we will open the way to Sink<Object> , and in that case Record.getValue() will contain your KeyValue object if you are coming from a KeyValue encoded message.

we could also create a new interface KeyValueRecord with your code and add some
R

[2021-03-12 15:48] vroyer commented on #9899
Why pulsar functions depends on pulsar-io Record ? Record is not only used by pulsar-io connectors ?

[2021-03-12 15:57] eolivelli commented on #9899
Pulsar-IO Sinks and Sources are special instances of Functions :-)

[2021-03-12 17:48] devinbost commented on #6151
We ran into this again and stopped all the brokers, waited several minutes for the Zookeeper session to clear, and then started all the brokers again. That resolved the issue.

[2021-03-12 20:45] frankjkelly commented on #9741
According to this document Dead Letter Policy is not yet supported in the Python API
https://github.com/apache/pulsar/wiki/Client-Features-Matrix

[2021-03-12 23:46] #3554 closed

[2021-03-13 03:18] #9345 closed

[2021-03-13 10:08] vmarchaud opened #9904 "Crash when retrieving prometheus metrics"
**Describe the bug**

When trying to retrieve prometheus metrics from a broker, i get:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Launch broker, version 2.7.0
2. Run `curl localhost:8080/metrics/
4. See error

**Expected behavior**

Retrieve metrics for the broker in prometheus format

**Desktop (please complete the following information):**
 - OS: Debian 10
 - Broker Config: htt

[2021-03-14 10:40] Syphixs opened #9906 "Python Client segmentation fault (core dumped) or free(): invalid pointer Errors"
**Describe the bug**
I wrote a very simple test method cause I do get some very hard to debug interactions between pulsar client 2.8 and 2.7 too with cv2 (all last 4 versions tested and same problem)
This is the Testprogram:
![test_cv2 py](https://user-images.githubusercontent.com/33832024/111064999-a3632f00-84b7-11eb-8e9f-036e81b7063d.png)

If I import cv2 first the core gets dumped at the line i

[2021-03-14 10:43] Syphixs commented on #9906
Maybe related to  #9796

[2021-03-14 19:28] danielsinai commented on #9562
Thanks for your answer and I am really sorry for the delay.

I will try to tune this stuff later on but isn't it strange that the broker getting OOMed? Is back pressuring to the broker will solve the problem?

I mean I would expect pulsar broker to throttle the producer before getting his memory filled

[2021-03-15 02:07] Huanli-Meng commented on #9008
@hpvd Thanks for bringing such a great idea. Here are my thoughts:
1: currently, the frontend web console for Pulsar is not available on the website. You can try to use the Pulsar Manager. Pulsar Manager is a GUI dashboard for managing and monitoring Pulsar components.

2: The[ get-started](https://pulsar.apache.org/docs/en/standalone/) section on the Pulsar website can provide a full example of h

[2021-03-15 02:35] BewareMyPower commented on #9906
I tried with OpenCV 4.5 that is installed by `pip3 install opencv-python` and Pulsar client that is built with latest master in MacOS Big Sur 11.2.

Then tried the command line with a Pulsar standalone, there's no error.

[code]

The segmentation fault might be something with the dependencies conflicts with Pulsar and OpenCV. But it's hard to debug. I suggest that you can simplify your code and wa

[2021-03-15 02:39] vkvm commented on #9410
Hi @Anonymitaet - I will work on it later this week.

[2021-03-15 08:32] Syphixs commented on #9906
You are correct I just have tested it on my mac and no problems there though I use the exact same libraries? boost 1.75 and pulsar client 2.8 ( 84cfb3affa1ce5bc1db29baab5498205049019dd ). I also tried the backtrace with your suggestion , thanks for that.

![out3](https://user-images.githubusercontent.com/33832024/111122944-0a8fea80-856f-11eb-91f9-6a90b3db9555.png)

First output with cv2 import fir

[2021-03-15 09:23] ludusrusso commented on #9731
I've also having this issue! Trying to add the missing library using `apk add gcompat` but then when I import pulsar-client node crashes in segmentation fault:

[code]

any help?

[2021-03-15 12:52] lhotari commented on #6251
Issue #9711 is also related to metadata management. There's PR #9900 to address #9711 and one of the observations made is that all metadata management operations (classes that use org.apache.pulsar.broker.resources.BaseResources as base class) have a local thread safety issue which is currently being fixed. It might be necessary to file a separate issue that captures this.
/cc @315157973 @eolivell