[2019-10-30 08:29] youurayy commented on #4941
may be related - cannot unsubscribe (delete a subscription) via the admin tool:

![image](https://user-images.githubusercontent.com/588573/67841147-1278f700-fb00-11e9-935e-fe22d5269034.png)

[2019-10-30 08:41] Jennifer88huang commented on #5493
Yes, when you click https://archive.apache.org/dist/incubator/pulsar/pulsar-1.19.0-incubating/apache-pulsar-1.19.0-incubating-src.tar.gz, it works; however, when you click `sha512` under that package, it does not work. The `asc` links work well.

[2019-10-30 09:02] #5377 closed

[2019-10-30 09:14] youurayy commented on #4941
I can confirm this is an issue:  once a Reader as been seen on a topic, it is not possible to delete any Consumer subscription.

This is a **massive** issue because it means that we basically cannot use Readers and Consumers combined on a topic, because we will never be able to clean that topic and it will be amassing data forever (until quotas are hit).

Here's minimal replication case:

1. subsc

[2019-10-30 10:36] sijie commented on #5454
@tuteng is correct. The problem is that all non-java clients don't attach the schema version to the messages when clients produce them. The fix should be straightforward by attaching the schema version to the messages at c++ client.

To get around this problem for now, please use java client to produce AVRO messages first.

[2019-10-30 10:39] tuteng opened #5503 "[Schema]GenericData$Record cannot be cast"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
[code]

2. See error

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Desktop (please complete the following information):**
 - OS: [e.g.Mac]

**Additional context**
Add any other context about the problem here.

[2019-10-30 10:39] tuteng commented on #5503
@codelipenghui @congbobo184

[2019-10-30 11:04] PierreZ commented on #5495
I digged through the code, roles are stored within ZK as a serialized version of the policies class. Which means that it is  [PulsarAuthorizationProvider which is responsible for this](https://github.com/apache/pulsar/blob/master/pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/PulsarAuthorizationProvider.java#L261). I'm wondering if we should add a new method to the inter

[2019-10-30 13:18] xujianhai666 commented on #5393
@sijie okay, I got it.

[2019-10-30 13:26] tuteng commented on #5474
Yes, Debezium has already supported MongoDB. That should be easy to add support to Mongo in pulsar-io, you can refer to https://github.com/apache/pulsar/blob/master/pulsar-io/debezium/postgres/src/main/java/org/apache/pulsar/io/debezium/postgres/DebeziumPostgresSource.java
[code]
, but we haven't had time to add this recently, if you are interested, you can try it.

[2019-10-30 13:43] codelipenghui opened #5505 "NPE occur when get partitioned topic stats"
**Describe the bug**
![image](https://user-images.githubusercontent.com/12592133/67863080-2eab8100-fb5e-11e9-8621-0c07c388757d.png)

**Pulsar version**
2.4.1

[2019-10-30 14:13] lxy1992 commented on #4540
We met the some problem.
* Mac OS 10.14.6
* python 3.7.4
* pulsar-client 2.4.1
I can install it perfectly, but when I run the server locally, it shows me the following error
[code]

[2019-10-30 15:45] rebootmoishe opened #5509 "Similar to issue #5129. Unable to install pulsar-client 2.4.1 on Windows"
**Describe the bug**
Unable to pip install pulsar-client 2.4.1 on Windows

**To Reproduce**

C:\Users\name>python --version
Python 3.7.5

C:\Users\name>pip install pulsar-client==2.4.1
ERROR: Could not find a version that satisfies the requirement pulsar-client==2.4.1 (from versions: none)
ERROR: No matching distribution found for pulsar-client==2.4.1

**Expected behavior**
client installs.

**Des

[2019-10-30 16:40] merlimat commented on #5495
That's true for the default implementation, though the AuthZ backend can be (and is in real-life) also pluggable with different implementations.

That would be requiring to do a scan of the metadata to search for namespaces in which a role has access to. Or maintaining a different mapping, with the trouble of keeping that in sink with the source of truth.

[2019-10-30 17:17] PierreZ commented on #5495
True, I was thinking about implementing your first proposal. Something that is looping through znodes, and check if `auth_policies.namespace_auth.containsKey(role)` for the default implementation.

I agree with you, not sure it's worth it for now and for a first implementation.

That means that I don't have many options regarding the location of where that piece of code should be: it must be hold

[2019-10-30 17:47] aslom commented on #5252
@sijie how can I find that proposal? link?

[2019-10-30 17:56] sijie commented on #5252
The proposal was a bit old. I think the CloudEvents has evolved to 1.0. So the proposal might need to be reworked to 1.0 specification.

[2019-10-30 21:48] aahmed-se commented on #5509
we don't publish python packages for windows currently.

[2019-10-30 21:49] aahmed-se commented on #4967
This issue is resolved

[2019-10-30 21:49] #4967 closed

[2019-10-30 21:50] aahmed-se commented on #4540
@lxy1992 try this
[code]
I will take a look at why the static linking didn't work correctly

[2019-10-31 01:48] sunlc210 opened #5510 "splitting bundle error"
Met the split bundle error when supply huge data into pulsar,block the data transfer

[code]

[2019-10-31 02:18] Jennifer88huang commented on #5505
@codelipenghui Thank you for raising the issue. Do you know the reason of this issue, and could you fix it?

[2019-10-31 02:20] TC-oKozlov commented on #271
We have real-time messaging system implemented in Erlang, and looking at pulsar as a pub/sub /queue message broker. Unfortunately that means implementing our own client lib with tons of features on top of binary / protobuf protocol. Having gRPC support would have greatly helped

[2019-10-31 02:26] Jennifer88huang commented on #5481
@limadelrey Thank you for raising the issue.
@jiazhai @tuteng Is it possible to use `slot.name` property?

[2019-10-31 03:06] Jennifer88huang commented on #5465
@wolfstudy Is it by design, or shall we add a note in the document?

[2019-10-31 03:09] Jennifer88huang commented on #5474
@tuteng Shall we add this to code only, or add it to both code and doc?

[2019-10-31 03:16] codelipenghui commented on #5505
@Jennifer88huang I will take a look this issue later

[2019-10-31 03:36] congbobo184 commented on #5503
What is the producer's schema

[2019-10-31 04:04] Anonymitaet commented on #5345
* Inconsistent and incorrect issues have been fixed in

* Broken links issues have been fixed in

* For Python API doc, as discussed with @tuteng, the correct information on http://pulsar.apache.org/api/python/ should be:

![image](https://user-images.githubusercontent.com/50226895/67918188-3ad32500-fbd6-11e9-8e2c-4944f5148de5.png)

This website is automatically generated and cannot be modified fr

[2019-10-31 04:05] Anonymitaet commented on #5368
#1 and #2 are tracked (and fixed) in https://github.com/apache/pulsar/issues/5345

[2019-10-31 05:19] congbobo184 commented on #5503
[code]
you should change the name to Foo2 and add the namespace,  like
[code]
the namespace like this output

[2019-10-31 05:53] Jennifer88huang commented on #5505
@codelipenghui Thank you.

[2019-10-31 06:38] #4057 closed

[2019-10-31 07:10] jiazhai opened #5513 "Publish rate limit on broker to avoid OOM"
Out Of Memory is seen frequently while client produced message too quickly and used all the direct memory.
This happens like this:
1. Client send message to broker;
2. Broker call bookkeeper client to write message to Bookie, and hold the direct memory until write success;
If in the 2nd step the direct memory not get released, then the Broker will get OOM.

It would be great to have a way to detec

[2019-10-31 08:54] nathan-zhu opened #5514 "use pulsar get error in mac os"
#### Expected behavior
hi, i use docker to start pulsar, use simple code to test connect pulsar server. the code like below:
[code]
#### Actual behavior
[code]
#### Steps to reproduce

How can we reproduce the issue

#### System configuration
**Pulsar version**: 2.4.1
**python**: 3.7.1

[2019-10-31 09:23] kevenYLi opened #5516 "COMPILATION ERROR:pulsar-kafka-compat-client-test"
**Describe the bug**
pulsar-kafka-compat-client-test: Compilation failure
`detail`:[ERROR] /Users/liyi/workspace_java/github/myrepo/pulsar/tests/pulsar-kafka-compat-client-test/src/test/java/org/apache/pulsar/tests/integration/compat/kafka/PulsarKafkaProducerThreadSafeTest.java:[24,41] 找不到符号
[ERROR]   符号:   类 PulsarKafkaProducer
[ERROR]   位置: 程序包 org.apache.kafka.clients.producer

**To Reproduce**

[2019-10-31 11:12] candlerb opened #5518 "python functions cannot find python3 interpreter"
**Describe the bug**
python functions do not start if the system has "python3" but not "python" (which is the case for modern Ubuntu systems - "python" is python2 and is not installed by default)

**To Reproduce**
Write a simple function `func1.py`

[code]

Deploy it:

[code]

(side note: have to give absolute path to function, pulsar-admin changes the working directory)

Check its status:

[code]

[2019-10-31 11:13] KannarFr opened #5519 "Zookeeper issue"
**Describe the bug**
Hi,

Today, one of our zookeeper node had the following error:

[code]
Then no log and zk node seems stucked. We restarted it and after a while (10 minutes), it recovered alone. WDYT?

[2019-10-31 11:36] candlerb commented on #5518
Hmm, I found [docker/pulsar/scripts/set_python_version.sh](https://github.com/apache/pulsar/blob/master/docker/pulsar/scripts/set_python_version.sh) which suggests that people *are* making python a symlink to python3

[code]

As I say, this is generally frowned upon.

I found there is pythonInstanceLocation in WorkerConfig.java.  The documentation says "change the python instance location only whe

[2019-10-31 11:39] candlerb commented on #5369
Actually, I believe the shebang lines in these python source files are spurious, since they do not have the eXecute bit set anyway:

[code]

Shebangs are only needed if you `exec()` the file directly.  So I'm guessing pulsar is explicitly running the interpreter, like `/usr/bin/python <path-to-file>.py`, but I can't find that code right now.

If it's true, then I think it would be good idea to rem

[2019-10-31 12:16] candlerb opened #5520 "Missing documentation for window functions"
**Describe the bug**
There is no documentation for window functions, and no python examples for window functions.

**To Reproduce**
Search for "window" in the docs (site2).

It's mentioned in passing:

(my emphasis)

In some CLI flags:

[code]

And in a reference to release notes:

**Expected behavior**
N/A

**Screenshots**
N/A

**Desktop (please complete the following information):**
N/A

**Addit

[2019-10-31 12:34] candlerb commented on #5518
Part of the answer comes from pulsar's debug output: it is running `python .../python_instance_main.py ...args...`

[code]

So a configuration option to change "python" to "python3" here would be great, and solve the problem.

[2019-10-31 13:05] candlerb opened #5521 "Python exception message not shown when python function fails to start"
**Describe the bug**
I have a problem starting a python function.  However, the actual python error message (reported on stderr) is being lost.  I can only see it if I "strace" the entire pulsar stack.

**To Reproduce**
I am using pulsar functions with pulsar 2.4.1 in standalone mode, base OS is Ubuntu 18.04, and I've done the frig to link "python" to "python3":

[code]

Here's my function:

[code

[2019-10-31 13:23] candlerb opened #5522 "localrun fails to load python functions from correct file"
**Describe the bug**
If you try to run a function like this:

[code]

Then the function fails to start.  Strace output shows that it's trying to read python code from `/home/ubuntu` instead of `/home/ubuntu/func1.py`

**To Reproduce**
As per #5521

I have `func1.py` in the current directory:

[code]

What I originally wanted to do was run it like this:

[code]

That's because pulsar-admin changes

[2019-10-31 13:32] candlerb commented on #5521
Argh, I found the logs under `apache-pulsar-2.4.1/logs/functions/public/default/womble/`, not on pulsar output.  Sorry for the noise!

[2019-10-31 13:32] #5521 closed

[2019-10-31 13:35] PierreZ commented on #5495
Thanks a lot @merlimat for all your insights 😄 How this issue should be adressed in your opinion?

[2019-10-31 13:48] candlerb commented on #5522
Argh, this is user error (although IMO documentation could be much better).  Required usage is:

[code]

Note required duplication of "func1".

[2019-10-31 13:50] #5522 closed

[2019-10-31 14:03] candlerb commented on #5520
I got part of the answer from pulsar:

[code]

But I'd still like to see documentation for what windowing is supposed to do :-)

[2019-10-31 15:57] aahmed-se commented on #5518
the question would be what is the default option if any.

[2019-10-31 16:08] aahmed-se commented on #5516
did you build the dependent modules ?

[2019-10-31 16:11] aahmed-se commented on #5514
@nathan-zhu you are naming your file pulsar.py it's confusing python

[2019-10-31 16:28] apankha opened #5523 "Similar to issue #2037 - Initialization of cluster meta data fails with KeeperErrorCode = NodeExists"
Very similar issue to: https://github.com/apache/pulsar/issues/2037

Initialization of cluster meta data fails while setting up a cluster pulsar instance following the steps in https://pulsar.apache.org/docs/en/deploy-bare-metal/

**Actual behaviour:**
Exception in thread "main" org.apache.zookeeper.KeeperException$NodeExistsException: KeeperErrorCode = NodeExists for /namespace
        at org.apa

[2019-10-31 16:29] candlerb commented on #5518
I would be fine with the default remaining at "python" for backwards-compatibility reasons, as long as there's a way to override it.

[2019-10-31 17:30] candlerb opened #5525 "python API missing get_input_topics"
**Is your feature request related to a problem? Please describe.**
Java and Go APIs have getInputTopics / GetInputTopics in the context object. This is missing from the Python API - although it has [get_output_topic](https://github.com/apache/pulsar/blob/master/pulsar-functions/instance/src/main/python/contextimpl.py#L138)

**Describe the solution you'd like**
Add `get_input_topics()`

**Describe

[2019-10-31 20:09] #5475 closed

[2019-10-31 21:29] vicaya commented on #5417
We're seeing this in 2.4.0 clusters as well. I suspect that bumping the jetty thread count would help. Let's make the jetty thread count configurable.

[2019-10-31 23:12] #5525 closed

[2019-11-01 00:50] rdhabalia commented on #5513
@jiazhai have you started seeing OOM recently in 2.5 or it was there before 2.5?
are you proposing similar publish rate implemented at #3985

[2019-11-01 00:51] nathan-zhu commented on #5514
i already change file name to others but still get same error.
[code]

[2019-11-01 01:49] kevenYLi commented on #5516
Yes, I did. Steps to build dependencies:
- cd pulsar
- mvn clean -U install -Dmaven.test.skip=true

and the result is success.

![build_pulsar](https://user-images.githubusercontent.com/20899711/67996952-cad3a600-fc8c-11e9-9b96-a258aadceb71.png)

[2019-11-01 01:49] tuteng commented on #5514
Please send command about how to install pulsar-client?
You can try
[code]

[2019-11-01 02:10] #5414 closed

[2019-11-01 05:14] Jennifer88huang commented on #5520
@candlerb Thank you very much for raising the issue. I'll look into the issue, and provide related docs soon.

[2019-11-01 05:16] Jennifer88huang commented on #5519
@jiazhai could you please help look into the issue?

[2019-11-01 05:19] Jennifer88huang commented on #5518
@wolfstudy could you please help look into the issue? Thank you.

[2019-11-01 06:00] aahmed-se commented on #5514
@nathan-zhu you have python cache files still interfering with the execution remove all *.pyc files.

[2019-11-01 07:49] codelipenghui opened #5530 "Task tracker for transaction documentation"
### This is the task tracker for transaction documentation

- [ ] how to upgrade exists cluster support transaction streaming

[2019-11-01 09:22] candlerb commented on #5518
How about adding a setting to broker.conf / standalone.conf? e.g.

[code]

However I notice some places where searching in  `$PATH` search is currently required:

[code]

So I suggest:

1. Default is `python_interpreter=python`
2. If the setting starts with slash, it's an absolute path (avoids some edge-case security issues)
3. Otherwise search for it in `$PATH` as today

[2019-11-01 09:28] candlerb opened #5533 "Missing CLI error handling in pulsar-admin"
**Describe the bug**
pulsar-admin can raise Java exceptions in certain conditions

**To Reproduce**

(1) Giving an invalid command - e.g. "functions getstate" (should be "functions querystate"), with or without `--help` added

[code]
(Hangs here, have to press `^C`)

(2) Giving a querystate command without the "--key" option

[code]

tcpdump shows no traffic on port 8080, so this appears to be a l

[2019-11-01 10:40] sky-big opened #5534 "Pulsar Operator On Kubernetes"
Add pulsar operator for kubernetes(https://github.com/sky-big/pulsar-operator) based on deployment/kubernetes/*.yaml

[2019-11-01 11:10] disanji opened #5535 "failed to add producer to topic after connection closed"
Client timed out  while trying to send message to brokers, and failed to add producer to topic. Below are related logs.

connection closed log:
![WeChatWorkScreenshot_9cd78c74-bd86-4bbd-bafa-1662679f50f7](https://user-images.githubusercontent.com/8382020/68020781-85d66080-fcda-11e9-8787-aed7ad57f9ef.png)

client log:
![企业微信截图_2065c1f1-3a3c-4703-b437-c6d35e9de62f](https://user-images.githubusercont

[2019-11-01 12:01] candlerb commented on #5345
The python version message is from [`pulsar-client-cpp/python/pulsar/__init__.py`](https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/python/pulsar/__init__.py#L24)

Therefore I think it should be sufficient to update it there, and then somehow republish the API docs (maybe this won't happen until a new version of the package is pushed into pip?)

[2019-11-01 12:20] KannarFr commented on #5519
Same issue today:

[code]

[2019-11-01 12:37] KannarFr commented on #5519
And the first exception comes from:

[code]

I quoted related zk error logs

[2019-11-01 12:57] KannarFr commented on #5519
After multiple try on restart, clean things. The only way to fix it, is to restart brokers. More interesting problem during this one: the functions are for admins things 404 not found but the messages are processed.

[2019-11-01 12:59] KannarFr commented on #5519
In separate function worker, the log is:

[code]

[2019-11-01 13:10] #4448 closed

[2019-11-01 15:15] digi691 commented on #5417
Currently `numHttpServerThreads=8` is set to what #3776 suggests.

[2019-11-01 17:36] aahmed-se commented on #5518
conf file is a better options makes it more explicit

[2019-11-02 01:47] ronaldofreitas commented on #5373
I haven't run bin/pulsar standalone -nss yet but even if that solved my problem, I would still be unsure of putting it into production. I am currently testing NATS. Thanks for the answer.

[2019-11-02 02:53] sijie commented on #5373
@ronaldofreitas standalone for development purpose. so we enable all the components and new features in standalone. The one you had problems with is from function state. It is irrelative to Pulsar pub/sub. You can use "-nss" to disable this component.

[2019-11-02 05:13] ronaldofreitas commented on #5373
Ok, I'll try, it makes sense what you said.

[2019-11-02 07:33] candlerb opened #5537 "Reader method to locate message ID by event time"
**Is your feature request related to a problem? Please describe.**
I would like to be able to initialize a reader using an event time.  Typical use cases:
* I have a long-lived, persistent topic containing system logs, and I want to do an ad-hoc query saying "show me logs starting from 1 hour ago"
* I have a reader which is storing its messageID state in a database, and I want to rewind it to a pa

[2019-11-02 08:01] aahmed-se commented on #5516
Looks good no issue then.

[2019-11-02 08:10] candlerb opened #5538 "Pulsar function to read compacted topics"
**Is your feature request related to a problem? Please describe.**
Pulsar functions cannot currently be configured to read the compacted version of a topic.

**Describe the solution you'd like**
An option to `pulsar-admin functions create/update`, and/or setting in `--function-config-file`, to request subscribing to the compacted version of a topic.

Note: a function can have multiple topics as in

[2019-11-02 08:18] candlerb commented on #5533
Another example:

[code]

[2019-11-02 08:35] candlerb opened #5539 "Bulk admin operations for function state"
**Is your feature request related to a problem? Please describe.**
At the moment you can only `querystate` if you know in advance the name of the key you're looking for.

So I would like to be able to:
* List / iterate over all stored state belonging to a function
* Delete all stored state belonging to a function

It is apparently possible via bk interfaces.

**Describe the solution you'd like**
A

[2019-11-02 09:27] youurayy commented on #4687
Issues with the current Helm chart:

- some insane default values, e.g. 4 GB RAM for the Proxy component (and there are 3 replicas)
- a Helm redeploy which happens to restart the Broker (and possibly other) pods will render the cluster unusable
- there is no `RollingUpdate` defined on any of the deployments, so a Helm redeploy which affects these will restart all the pods at once (means no High Av

[2019-11-02 10:13] candlerb opened #5540 "reset-cursor to absolute time"
**Is your feature request related to a problem? Please describe.**
It would be handy to be able to [reset-cursor](https://pulsar.apache.org/docs/en/next/pulsar-admin/#reset-cursor) to an absolute time, e.g. "start consuming from midnight".  Otherwise you have to calculate the time offset, and stuff it into the command immediately.

There is a [mention](https://pulsar.apache.org/docs/en/next/admin-

[2019-11-02 10:37] candlerb opened #5541 "Python API: seek(eventtime)"
**Is your feature request related to a problem? Please describe.**
Feature-parity between APIs: Java Consumer and Reader have [`seek(messageId)`](https://github.com/apache/pulsar/blob/master/pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Consumer.java#L319) and [`seek(timestamp)`](https://github.com/apache/pulsar/blob/master/pulsar-client-api/src/main/java/org/apache/pulsar/client/ap

[2019-11-02 10:40] #5537 closed

[2019-11-02 13:56] candlerb commented on #5541
On further investigation I think some work on C++ API would be needed as well.

1. C++ API has seek in Consumer but not in Reader (which is where I want it)
2. `Consumer::seek` accepts only `MessageId` as its argument - although I see no reason why it can't be overloaded like its Java counterpart

In terms of the wire protocol, it would need to copy whatever the Java client [does](https://github.c

[2019-11-02 16:14] l786170309 opened #5543 "Is this normal？The "msgBacklog" is "-2"."
**Describe the bug**
I use the exclusive consumer to receive messages and ack them, but I found some message lost. So I check the stats of the topic, and I found "msgBacklog" is "-2". I do not konw how this happened.  Is there any reason to explain it?

**To Reproduce**
I do not how to reproduce the behavio.

**Screenshots**
![96661a0accf3c50aa6e7d4a1b4ae31f](https://user-images.githubusercontent.

[2019-11-02 22:38] aahmed-se commented on #5541
https://github.com/apache/pulsar/pull/5542

[2019-11-03 06:06] sky-big commented on #5534
Welcome everyone to contribute

[2019-11-03 07:03] kevenYLi commented on #5516
No, the problem is still there.
My second snapshot means the dependencies without testing can be built successfully.
But the module `pulsar-kafka-compat-client-test` still can't build successfully as you can see in my first snapshot.

[2019-11-03 07:30] aahmed-se commented on #5516
you are not passing the right command
[code]

[2019-11-03 09:47] candlerb opened #5546 "C++ API: insufficient digits in reader temporary subscriptions"
**Describe the bug**
In C++/python API, only [6 hex digits of ID](https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/lib/ClientImpl.cc#L57) are used for the temporary subscription name for a reader.  This means that with 4,000 readers there is a ~40% chance of two readers picking the same subscription name.

However in the Java client API, [10 hex digits of ID](https://github.com/apach

[2019-11-03 15:30] l786170309 opened #5548 "Could pulsar support UUID as sequence id?"
**Is your feature request related to a problem? Please describe.**
My data use UUID as sequence id in database, so i want to use UUID as sequence id in pulsar to avoid message duplicate. Would pulsar support it in the future?

[2019-11-03 16:37] merlimat commented on #5548
You can add your UUID as a property of the message and use that to dedup at the database level.

[2019-11-04 02:13] nathan-zhu commented on #5514
Hi,  i use pip to install client.

`pip install pulsar-client==2.4.1`

i can't use dir(pulsar) command,  is there missing something?
![image](https://user-images.githubusercontent.com/1650457/68096447-b8a37300-feeb-11e9-8acb-595b2a9cbc74.png)

[2019-11-04 02:17] nathan-zhu commented on #5514
thanks, but there no pulsar.pyc for my file.

[2019-11-04 02:40] sijie commented on #5480
@limadelrey Have you tried what @tuteng suggested?

[2019-11-04 02:46] sijie commented on #5503
@congbobo184 the question is - if a user specific a POJO class in the SchemaDefinition, it should return a POJO not a GenericData$Record. This is something I don't quite understand when looking into this issue. Since you introduced SchemaDefinition, would you mind taking a look at this?

[2019-11-04 02:58] sijie commented on #5513
@rdhabalia

We have users doing load tests over Pulsar broker. The behavior we have observed is as follows:

disks are overwhelmed. the entries are queuing up in the broker side. the load test is continuing and causing broker OOM.

The tests were done in 2.4.2. They are upgrading the cluster to 2.5.0 and run the test again.

Regarding the feature you introduced in #3985, we have asked them to try

[2019-11-04 03:51] #5393 closed

[2019-11-04 04:02] sijie commented on #5516
@kevenYLi can you try the command that @aahmed-se points out?

[2019-11-04 04:03] sijie commented on #5519
@KannarFr I think the issue comes from session expires at the broker side.

[2019-11-04 04:05] sijie commented on #5523
@apankha it seems that you already set up a Pulsar cluster before. Are you planning to set up multiple Pulsar clusters using one zookeeper cluster?

[2019-11-04 04:12] sijie commented on #5543
@l786170309 it seems like a calculation problem. we will take a look at it.

[2019-11-04 04:15] sijie commented on #3813
@wolfstudy did we address the problem in native client implementation?

[2019-11-04 04:17] sijie commented on #3832
@youurayy I think similar exceptions will be thrown if you connect to a port using a wrong protocol. it is a bit difficult to throw a better exception.

[2019-11-04 04:58] sijie commented on #3877
Closed this issue since the problem is fixed by #3776 in 2.3.1.

If the problems occurs again in a newer version, please comment or open a new issue.

[2019-11-04 04:58] #3877 closed

[2019-11-04 04:59] sijie commented on #3878
Closed this issue since #3776 fixed it.

[2019-11-04 04:59] #3878 closed

[2019-11-04 05:07] sijie commented on #2250
@dbsd11 there is a Pulsar Manager (https://github.com/apache/pulsar-manager) now for managing namespaces in web UI.

[2019-11-04 05:07] #2250 closed

[2019-11-04 05:10] sijie commented on #2280
FYI. There is a Skywalking plugin for tracing messages in Pulsar. https://streamnative.io/blog/tech/2019-10-10-use-apache-skywalking-to-trace-apache-pulsar/

[2019-11-04 05:13] sijie commented on #3981
@shan2015seyfert did you configure standalone to start with TLS settings?

See: http://pulsar.apache.org/docs/en/security-tls-transport/

[2019-11-04 05:14] sijie commented on #3985
This has been fixed by #3986

[2019-11-04 05:14] #3985 closed

[2019-11-04 05:17] sijie commented on #2307
Currently there are two dotnet clients:

https://github.com/fsharplang-ru/pulsar-client-dotnet
https://github.com/danske-commodities/dotpulsar

[2019-11-04 05:31] zymap commented on #5344
Hi @Jesse-Zhang-Bose . I think that is the right process.

There are two variables of NackRedelivery. One is `NackRedeliveryDelay`, another is `TimeInterval`.

The `NackRedeliverDelay` is the message should redelivery after how long. And the `TimeInterval` is the scheduler time interval.

The scheduler will check is there any messages that need to redeliver. And it will be scheduled with the time

[2019-11-04 05:34] sijie commented on #2951
@lgleim

I am not an expert of Pravega. However I do have known the history of pravega. Here are some of my thoughts. Hope that is helpful to you.

These two projects have very different scopes. Pulsar starts from a Pub/Sub messaging system and evolves into a full-fledged event streaming platform, including unified pub/sub and streaming, infinite streaming storage (via tiered storage) and light-we

[2019-11-04 05:34] #2951 closed

[2019-11-04 05:35] sijie commented on #4025
Closed this since it is a duplicate of #3804

[2019-11-04 05:35] #4025 closed

[2019-11-04 05:36] sijie commented on #4044
Closed this issue since it was resolved

[2019-11-04 05:36] #4044 closed

[2019-11-04 05:38] sijie commented on #4051
@nyluke did you happen to resolve the problem?

[2019-11-04 05:43] sijie commented on #4072
Pulsar has already upgraded to use 4.9.2

[2019-11-04 05:43] #4072 closed

[2019-11-04 05:44] #4076 closed

[2019-11-04 05:45] sijie commented on #4076
Let's create specific tasks for adding debezium connector supports.

[2019-11-04 05:46] sijie commented on #4078
This has been documented in the website.

[2019-11-04 05:46] #4078 closed

[2019-11-04 05:48] sijie commented on #4094
@foreversunyao sorry that I forgot to review this. I am wondering if you would like to send this out as a PIP, so that more people in the community can help review it.

[2019-11-04 05:48] sijie commented on #4095
Fixed in #4212

[2019-11-04 05:48] #4095 closed

[2019-11-04 05:49] sijie commented on #4096
@sekarpdkt do you want to send a pull request to add this support?

[2019-11-04 06:00] tuteng commented on #4053
You can try to download from [here](https://archive.apache.org/dist/pulsar/), we will fix the old version address of the download.

[2019-11-04 07:23] wolfstudy opened #5552 "[Pulsar Functions] Allowed to subscribe from an arbitrary point in time"
**Is your feature request related to a problem? Please describe.**

In some times, user wants a specific subscription-position for input-topic consumer in Pulsar Functions.

**Describe the solution you'd like**

- Add `SubscriptionInitialPosition` param in create consumer for input topics.

[2019-11-04 07:38] jiazhai commented on #5513
Hi @rdhabalia @merlimat. Thanks for your concern. And thanks @rdhabalia for your great feature of #3985.
Recently there is a user trying to use Pulsar along with Flink, and there is a significant amount of messages produced. They meet the OOM of direct memory very often.
#3985 and the setting that Matteo mentioned may solve part of the issue, but the OOM in Broker may still exists.
I thought we co

[2019-11-04 08:38] nyluke commented on #4051
no i didn’t

[2019-11-04 08:42] l786170309 commented on #5543
OK，got it

[2019-11-04 09:14] Jennifer88huang opened #5553 "[website] Lack of a coding-guide page on Pulsar website"
**Describe the bug**
Jennifer has added a `coding-guide.md` file in https://github.com/apache/pulsar/pull/5494, we need to add a coding-guide.js file to the `/pages/en` folder as well.

[2019-11-04 09:31] #5345 closed

[2019-11-04 10:11] candlerb commented on #5533
Another similar one:

[code]

[2019-11-04 10:31] candlerb opened #5554 "pulsar-admin topics delete with multiple topics"
**Is your feature request related to a problem? Please describe.**
To clean up after running test suite, I have a bunch of old topics that need deleting.

[code]

**Describe the solution you'd like**
Option 1: Allow topic wildcard matches, like subscription wildcards

[code]

Option 2: Allow `topics delete` to accept more than one topic on the command line.  Currently it enforces a single topic:

[2019-11-04 10:44] candlerb opened #5555 "Compacted topics can't be deleted - 500 Internal Server Error"
**Describe the bug**
500 Internal Server error when trying to delete compacted topic.

**To Reproduce**
Run python test suite.

After running the test suite several times, I'm left with a bunch of topics which can't be deleted:

[code]

**Expected behavior**
* Topic to be deleted, or:
* a sensible error message returned explaining why the deletion cannot be done

[2019-11-04 11:09] youurayy commented on #4687
Here's how (difficult it is) to currently achieve direct Pulsar Broker access on Kubernetes:

1. change Broker deployment to a `StatefulSet` (go by how the Bookkeeper deploy is spec'd)
2. change Broker service to type `NodePort` and add `externalTrafficPolicy: Local`
3. comment out the line `clusterIP: None` from the Broker service
4. change *both* Broker internal and external `pulsar://` ports to

[2019-11-04 11:47] candlerb commented on #5537
Fixed by #5542

[2019-11-04 11:59] mausch commented on #2307
@sijie I guess that means Pulsar will not officially support .net ? Can you confirm?

[2019-11-04 12:21] Jesse-Zhang-Bose commented on #5344
@zymap, thanks for the feedback.
The internal work does explains the behavior I reported. But I would still think the behavior itself is unexpected, or at least quite confusing.

[2019-11-04 12:38] tuteng commented on #5533
You can try pulsarctl, https://github.com/streamnative/pulsarctl

[code]

[2019-11-04 12:45] KannarFr commented on #5519
I think the main problem comes from:

[code]

I got it again today, on a ZK node.

The broker configured timeout for ZK is 30s, but when I got the exception of sessiontimeout, it's instant, there is no 30s waited to throw the exception.

[2019-11-04 12:45] KannarFr commented on #5519
@sijie ^

[2019-11-04 12:45] sijie commented on #2307
@mausch Since there are already two active groups developing .net clients, we don't have a plan to develop a third one. We will work with these two groups on developing the .net clients. If any of them is willing to contribute the client back to the ASF, PMC will figure out a plan for it.

[2019-11-04 12:54] candlerb commented on #5533
Yes, I have also been trying pulsarctl - that also has issues which I have raised [separately](https://github.com/streamnative/pulsarctl/issues).

pulsar-admin is the official admin tool for now, and means that I don't have to triage whether the problem is with pulsarctl or with Pulsar itself.

[2019-11-04 13:06] tuteng commented on #5514
You can try:

[code]

[2019-11-04 13:13] zymap commented on #5344
@Jesse-Zhang-Bose Ah. I see.

You need a explicit value to control the redeliver delay.

I will try to add this feature.

[2019-11-04 14:03] yiyi1223 opened #5558 "When we use the pulsar-admin.sh script to delete partitioned topic, it will throw the http error, error code is 500"
**Describe the bug**
When we use the pulsar-admin.sh script to delete partitioned topic, it will throw the http error, error code is 500.

**To Reproduce**
Steps to reproduce the behavior:
1. when we run the benchmark test, the cluster of bookie has one or more bookie state that is read only;
2. and then we use the script to delete the partitioned topic, ../bin/pulsar-admin topics deleted-partitio

[2019-11-04 23:17] rdhabalia commented on #5513
Is it possible for you to reproduce OOM with master code-base. Just make sure that broker has change #3985 and you don't have to enable publish-rate limiting. I know disabling auto-read was not working all the time with `ByteToMessageDecoder` because of [this reason](https://stackoverflow.com/questions/37535482/netty-disabling-auto-read-doesnt-work-for-bytetomessagedecoder) and I think it's taken

[2019-11-05 01:23] nathan-zhu commented on #5514
HI, tuteng. here is my dir(pulsar) information
[code]

[2019-11-05 02:22] tuteng commented on #5514
Please try command:

[code]

[2019-11-05 02:48] codelipenghui opened #5560 "KeyValue schema support in Pulsar SQL"
This is the task tracker for add support for KeyValue schema in Pulsar SQL

[2019-11-05 02:52] congbobo184 commented on #5503
@tuteng define the AvroSchema withJsonDef, it is not null. The logic now is to generate the schema defined with withJsonDef first. So, withJsonDef don't define the schema with namespace and the name is not foo2, so generate a GenericData$Record. I think we can change this logical to withPojo first or  use one of withJsonDef and withPojo.

[2019-11-05 03:06] #5546 closed

[2019-11-05 05:01] krnaveen14 opened #5561 "Update Debezium version to 0.10.0.Final"
Right now builtin debezium io connector (pulsar-io-debezium-postgres-2.4.1.nar) is using debezium version 0.9.5.Final which is a bit old. Debezium 0.10.0.Final supports PG10+ native pgoutput plugin for logical decoding. This eliminates to need to install any other thirdparty logical decoding plugins.

#### System configuration
**Pulsar version**: 2.4.1

[2019-11-05 06:05] zymap commented on #5344
@Jesse-Zhang-Bose

I think we can expose the `TimeInterval` to config.

Because of all nacked messages will queue into the redeliver map. We need to keep the `TimeInterval` as small as possible so that we can redeliver the nacked message quicker.

As your case, if it retries after 200s, it will redeliver the first message and the rest messages will redeliver after the next 200s if the messages are

[2019-11-05 06:23] congbobo184 opened #5562 "Add the doc for new schema compatibility strategy."
link #5227 , add the new schema compatibility strategy doc for 2.5.0 version in pulsar.

[2019-11-05 07:25] Jennifer88huang commented on #5562
When you add docs for this feature, feel free to ping us.

[2019-11-05 08:27] #5425 closed

[2019-11-05 09:50] #5543 closed

[2019-11-05 09:59] l786170309 opened #5564 "I can not recevie message and the msgBacklog is 1"
**Describe the bug**
I found some message lost in the pulsar , so I checked the stats of topic and the log of pulsar, and I found An error occurred. Any reason to explain it?

**Screenshots**
The screenshots of the stats of topic
![QQ截图20191105175402](https://user-images.githubusercontent.com/24506890/68197537-62baf200-fff5-11e9-92d0-0e901cd8f9ca.png)

The screenshots of pulsar log
![QQ截图201911051

[2019-11-05 10:01] verdaster opened #5565 "Zookeeper znodes not created for partitioned topics if allowAutoTopicCreation=false"
I've come into an issue when allowAutoTopicCreation is set to false and partitioned topic is created, then pulsar will not create znodes for partitions in managed ledgers and then subscriptions fails with error org.apache.pulsar.client.api.PulsarClientException: No value present

**To Reproduce**
Steps to reproduce the behavior:
1. set allowAutoTopicCreation to false in broker.conf
2. create parti

[2019-11-05 10:08] l786170309 commented on #5564
A new screenshots of pulsar log
![QQ截图20191105180740](https://user-images.githubusercontent.com/24506890/68198557-4029d880-fff7-11e9-9490-456bc8f2fba1.png)

[2019-11-05 10:51] candlerb commented on #5518
Please can this be re-opened?  That might have been my mistake, but #5536 doesn't fix this issue, it only documents the (bad) workaround.

IMO Pulsar still needs a conf option to set the python interpreter path.

[2019-11-05 11:16] wolfstudy commented on #5109
@LeisureChou

Hello, i use `pulsar 2.4.1`, the protobuf schema function can create correctly.

[code]

schema def as follows:

[code]

You can try again with version 2.4.1.

[2019-11-05 11:39] wolfstudy opened #5566 "[Java Functions] Use protobuf schema error"
**Describe the bug**

I am trying to write a Java function using the `protobuf` schema, code as follows:

[code]

proto definition as follows:

[code]

Create a function with the following command:

[code]

I have encountered the following error:

[code]

**To Reproduce**

Build java function using the code example provided above.

**Expected behavior**

Java function was successfully created

**S

[2019-11-05 14:39] yuanjingshi commented on #4510
I have the same problem. I have a pulsar cluster with 3 brokers, no DNS and no proxy. My producer is using multi-hosts service url to connect to the cluster, one broker is down and it doesn't try to connect to the other 2 brokers that are live. When will it be fixed?

[2019-11-05 14:55] Jennifer88huang commented on #5518
You can reopen it manually.
Since we relate PR-#5536 to this issue, when that PR is merged, this issue is closed automatically.

[2019-11-05 14:57] Jennifer88huang commented on #5518
When you add the conf info in a PR, you can relate the PR to this issue as well.

[2019-11-05 15:12] codelipenghui commented on #5310
Sorry for the late response, i will take a look soon.

[2019-11-05 18:08] rvashishth opened #5567 "dashboard is unable to connect with borker cluster"
**Describe the bug**
Pulsar dashboard is unable to connect with broker cluster

**To Reproduce**
i followed the steps mentioned in the pulsar doc. 1st [started a pulsar standalone cluster using docker](https://pulsar.apache.org/docs/en/standalone-docker/), and then [pulsar dashboard using docker](https://pulsar.apache.org/docs/en/administration-dashboard/). but the dashboard is unable to connect w

[2019-11-05 19:12] yuanjingshi opened #5568 "Function worker fails to be authenticated when TLS authentication is enabled in Pulsar standalone"
**Describe the bug**
When TLS authentication is enabled in Pulsar 2.4.1 and 2.4.0 and I start Pulsar standalone cluster, it fails to start

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the Pulsar 2.4.1 TLS encryption and authentication documentation to sign both client and broker certificate.

2. Set below config in Standalone.conf
brokerServicePort=6650
brokerServicePortTls=6651
tl

[2019-11-05 22:43] youurayy commented on #1475
This definitely happens when 2 separate clients/producers register to the same multiple topics in parallel in a fast succession.

The one producer of the two which encountered these errors will not recover and keeps repeating the message. (Java client)

[2019-11-06 00:46] codelipenghui commented on #5565
Thanks for the feedback, will take a look soon

[2019-11-06 05:22] yittg commented on #5141
@sijie, PIP-43 has been fully implemented, may we close this issue?

[2019-11-06 05:49] sijie commented on #5141
@yittg yes. closing it now and will update the status of the PIP.

[2019-11-06 05:49] #5141 closed

[2019-11-06 05:50] sijie commented on #5141
@yittg well done!

[2019-11-06 06:05] #4790 closed

[2019-11-06 08:27] #5566 closed

[2019-11-06 08:45] #4994 closed

[2019-11-06 10:04] yittg commented on #4806
@sijie This feature addressed in PIP-43 #5141  has been completed, pls close this issue.

[2019-11-06 10:11] sijie commented on #4806
This feature is implemented in PIP-43 (#5141).

[2019-11-06 10:11] #4806 closed

[2019-11-06 13:35] chenyuyun-emc opened #5575 "fix the typo error"
I read the code, I found there is typo error in org.apache.pulsar.broker.admin.impl.BrokersBase.java

![image](https://user-images.githubusercontent.com/16811354/68302625-5ca04080-00dd-11ea-8d3a-877842452f52.png)

this should be getOwnedNamespaces

[2019-11-06 15:36] tuteng commented on #5510
I seem to have reproduced this problem today.
When multiple producers deliver messages to the same topic at the same time, the bundle will be split when the current bundle load is very high, so multiple producers will split the same bundle.

reproduce:

1. Start three broker, loadBalancerAutoUnloadSplitBundlesEnabled=true

2. Execute on any broker

[code]

test-topic-n lookup  broker-3
[code]

It

[2019-11-06 16:45] sijie commented on #5575
@chenyuyun-emc are you interested in sending a pull request to fix this typo?

[2019-11-06 16:55] sijie commented on #5567
Can you share the command you used for starting the dashboard container?

[2019-11-06 22:14] cdbartholomew opened #5579 "[broker] Every time PersistentMessageExpiryMonitor runs, it deletes a non-expired message when using TTL"
**Describe the bug**

I have a topic in a namespace with messageTtl set to 24 hours. The topic has a subscription without a connected consumer. I publish a handful of messages to the topic.  Within 5 minutes the oldest message in the topic is deleted. Every 5 minutes after that, one more message gets deleted from the topic even though none have expired yet.

I configured the expiry monitor to run

[2019-11-07 00:16] tuteng commented on #5510
@sijie @jiazhai

[2019-11-07 03:07] ChangWinde opened #5580 "error when using pulsar-client with Kerberos"
**Describe the bug**
I use kerberos in pulsar. And I want use pulsar cli tools, but occuring some error.

**To Reproduce**
Steps to reproduce the behavior:
 bin/pulsar-client produce -m "dog" -n 10 persistent://test-tenant/test-sp/test-topic-partition-0

**Screenshots**
10:54:34.862 [pulsar-client-io-1-1] INFO  org.apache.pulsar.client.impl.ProducerStatsRecorderImpl - Starting Pulsar producer perf

[2019-11-07 03:17] Jennifer88huang commented on #5568
@wolfstudy could you please help to look into the issue? Thank you.

[2019-11-07 03:24] TC-oKozlov commented on #5206
We are having similar issue in our setup, however in our case we run Pulsar on Kubernetes and trying to have SSL terminate on the load balancer in-front of the Pulsar Proxy, so the client has to send msgs using "pulsar+ssl", but it's not encrypted behind the load balancer, so it's not clear whether  proxy and broker should use standard broker port 6650, or TLS broker port 6651?

[2019-11-07 03:34] #5561 closed

[2019-11-07 03:41] Jennifer88huang commented on #5558
@codelipenghui @tuteng Could you please help check the issue and give explanation? Thank you.

[2019-11-07 03:43] Jennifer88huang commented on #5553
@tuteng Could you please help add coding-guide.js file? Thank you.

[2019-11-07 03:49] Jennifer88huang commented on #5552
@wolfstudy will add feature and docs requested from @candlerb .

[2019-11-07 04:21] wolfstudy commented on #5520
Sorry, I missed this message.

@candlerb Currently, does not support `window function` in Python Function.

[code]

[2019-11-07 05:12] Jennifer88huang commented on #5520
@candlerb Currently, window function is supported in Java, not in Python.

[2019-11-07 06:40] #5541 closed

[2019-11-07 07:38] candlerb commented on #5520
Yep, I got that.  But I don't see any documentation for how it would work for a *Java* Pulsar Function either.

[2019-11-07 08:21] ltamber opened #5582 "pulsar dashboard collector encountered error message"
we deployed a cluster on bare metal, and running pulsar dashboard in docker, then we found some exceptions in /var/log/supervisor/collector-error.log, Is there a problem with this exception?

Traceback (most recent call last):
  File "/usr/local/lib/python3.7/site-packages/django/db/backends/utils.py", line 64, in execute
    return self.cursor.execute(sql, params)
psycopg2.errors.UniqueViolation:

[2019-11-07 08:45] f7753 opened #5583 "Rate limiting or priority control to restrict the resource consumption while restart the whole pulsar cluster"
Suppose on some corner-cases, the operators need to restart the whole cluster while the consumers and the producers are still working.  Can I set come configs to prevent loading all the topics that may take a big bite of the resource pool and also do the harms to the most important service that should be restart asap?

It might potentially be useful that add a mechanism which could limit the rate

[2019-11-07 08:48] nathan-zhu commented on #5514
Hi, tuteng, thanks for help. i follow your step to reinstall python3, but still get error, like below.

[code]
i use pip3 install pulsar-client==2.4.1 get successfully
![image](https://user-images.githubusercontent.com/1650457/68373650-45fdf600-017e-11ea-8e60-a7aa1f645df7.png)

but get new error at below.

[code]

[2019-11-07 09:01] Anonymitaet opened #5584 "[Doc] Improve Pulsar Functions Admin API guide"
Currently, Pulsar Functions Admin API is [here](https://github.com/apache/pulsar/blob/master/pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/Functions.java) but not well documented.

Besides, @sijie suggests adding examples.

[2019-11-07 09:01] Anonymitaet commented on #5584
@wolfstudy could you please provide technical inputs? Thank you

[2019-11-07 09:57] Jennifer88huang commented on #5520
@srkukarni could you help add the related documentation?

[2019-11-07 10:00] weishuisheng opened #5585 "Non-persistent topic's replication has a deadlock"
NonPersistentReplicator disable batching. If there is batch message,producer will acquire one,but release num in message's meta when process ack.

[code]
So the ProducerImpl's semaphore  no longer has any effect,  the ProducerImpl's sendAsync method maybe  blocked in pendingMessages's put method .

There may be a deadlock between ackReceived  and sendAsync .

The deadlock  is   between  pulsar-io-

[2019-11-07 10:07] codelipenghui commented on #5585
welcome @weishuisheng , look forward to your fix.

[2019-11-07 10:19] codelipenghui opened #5586 "[DISCUSS] Sticky consumer reset cursor"
**Is your feature request related to a problem? Please describe.**
Sticky consumer consume messages with distributed to a fixed hash key range, also like a logical partition or a virtual partition. PR https://github.com/apache/pulsar/pull/5388 is added support for sticky consumer.

However, we need to rethink the reset cursor of sticky consumer. Currently, if one sticky consumer reset cursor to a

[2019-11-07 10:49] tuteng commented on #5514
There seems to be a lack of package boost-python3, if you try to install with source code, don't install with pip anymore.

The following command is installed based on source code:
[code]

[2019-11-07 13:11] sijie opened #5588 "java.lang.IllegalArgumentException: ledgerId doesn't match with acked ledgerId"
**Describe the bug**

Broker throws IllegalArgumentException on write failures.

[code]

**To Reproduce**

Has seen this behavior on several stress tests.

**Expected behavior**

No exception throw during stress tests.

**Additional context**

The problem was introduced because we reuse OpAddEntry between two different ledgers.

1) when a ledger fails to write an entry, the ledger is closed. but w

[2019-11-07 13:41] KannarFr commented on #5519
[code]

I think this is related too.

[2019-11-07 13:44] KannarFr commented on #5519
I think because the exception occurs instantly. The ZK timeout is confired to 30000ms everywhere.

[2019-11-07 14:30] cdbartholomew commented on #5579
I believe this also affects the REST expiry call:
`https://pulsar.apache.org/admin/v2/persistent/{tenant}/{namespace}/{topic}/subscription/{subName}/expireMessages/{expireTimeInSeconds}`

Every time I call that API, it removes a message from the topic, even if `expireTimeInSeconds `is 1.

[2019-11-07 20:09] aahmed-se commented on #5514
@nathan-zhu try this
```pip3 install pulsar-client==2.4.1.post1```

[2019-11-08 02:12] cdbartholomew commented on #5360
This is definitely what is happening in #3702. I was just debugging that with tcpdump and ended up here. Great to see a fix is on its way. Thanks @addisonj and @merlimat.

[2019-11-08 03:06] jiazhai commented on #5582
@tuteng would you please help take a look of this issue?

[2019-11-08 03:17] jiazhai commented on #5585
👍

[2019-11-08 03:23] jiazhai commented on #3833
will check and handle this issue

[2019-11-08 04:27] jiazhai commented on #5558
need handling the exception reported

[2019-11-08 05:32] Jennifer88huang commented on #5101
Fixed in #5212 , so close this issue.

[2019-11-08 05:32] #5101 closed

[2019-11-08 05:33] jiazhai commented on #5568
@yuanjingshi Thanks for reporting this issue. this should be a documentation issue. Once broker is set to use TLS, function worker should also set useTls to true.
In function worker, there are some internal pulsar-client and pulsar-manager which need to auth with broker.

[2019-11-08 06:10] huangdx0726 commented on #5474
@tuteng May i try it？

[2019-11-08 06:12] Jennifer88huang commented on #5474
@huangdx0726 Sure, thank you very much for your contribution.

[2019-11-08 06:28] huangdx0726 commented on #5474
ok ，i got it

[2019-11-08 06:57] Sunkwan-Kwon opened #5589 "Memory leak of pulsar-function-go library"
**Describe the bug**
It seems that there is a memory leak in the `pulsar-function-go` library.

I implemented a simple pulsar function worker that just write logs using `pulsar-function-go/logutil` for sending logs to log topic. I tried to long-term test by sending request messages consecutively to the input topic to check the feasibility.

At the first time, I set `--log-topic` for the function w

[2019-11-08 08:17] nathan-zhu commented on #5514
Thanks , tuteng. follow your step to do, currently get another error during cmake . like below:

[code]
here is CMakeOutput.log file.
[CMakeOutput.log](https://github.com/apache/pulsar/files/3823548/CMakeOutput.log)

[2019-11-08 11:07] Jennifer88huang commented on #5553
I've refined parts according to powered-by page: https://github.com/apache/pulsar/pull/5018
I've added coding-guide.js, and updated footer.js file.
Maybe we need to update another part to display it correctly. See https://github.com/apache/pulsar/pull/5594

[2019-11-08 11:49] wolfstudy commented on #5312
@devinbost Sorry, I missed this message.

The REST API for create function should be correct. In [pulsarctl](https://github.com/streamnative/pulsarctl/blob/master/pkg/pulsar/functions.go#L142), I also called this REST API and successfully created the function.

Copy the code from pulsarctl:

[code]

[2019-11-08 12:27] wolfstudy commented on #2719
@grantwwu @sijie According to the go community's processing specification, we should add a `README.md` file to pulsar-client-go and introduce [godoc](https://godoc.org/) to ensure consistency between the document and the interface code. In this way we can completely solve this problem.

[2019-11-08 12:56] sijie commented on #2719
@wolfstudy can you drive the work to solve the problem?

[2019-11-08 14:24] huangdx0726 commented on #5575
shall i try to fix this issue?

[2019-11-08 14:34] Jennifer88huang commented on #5575
@huangdx0726 Sure, please go ahead, and thanks for your contribution.

[2019-11-08 15:56] ltamber opened #5597 "[pulsar-client-java] retry when getPartitionedTopicMetadata failed"
**Is your feature request related to a problem? Please describe.**
when pulsar client create producer async, we can provide a serviceUrl with multi service address divided by comma, but when the connection to the first address failed or other exception, the producer init will fail.

**Describe the solution you'd like**
we can retry the other addresses

[2019-11-08 16:12] waxzce opened #5598 "Proxy Websocket authentication using websocket in browser"
Websocket API in a browser does not allow to manage header https://developer.mozilla.org/en-US/docs/Web/API/WebSocket/WebSocket

The authentication using plain HTTP is not possible on this case, and it seems that is what the pulsar implement at the moment https://github.com/apache/pulsar/blob/master/pulsar-websocket/src/main/java/org/apache/pulsar/websocket/AbstractWebSocketHandler.java#L70

There

[2019-11-08 18:40] vicaya commented on #5598
Ideally, the browser websocket api needs to be enhanced to support additional headers per websocket RFC 6455 (section 4.1). OTOH, IMO, #3 (using basic auth info as token) is the most practica and requires minimal change at both client and server side. Using subprotocols for auth is even more hackish and requires more substantial changes to existing clients and servers.

[2019-11-09 02:05] tuteng commented on #5582
It seems that there are more namespaces. You can check whether there are many identical namespaces in your cluster. In theory, in one environment, multiple cluster namespaces should be unique in one environment.

[2019-11-09 03:35] nathan-zhu commented on #5514
thanks,  aahmed-se. now it works on my mac. thanks all people to help me on it.

[2019-11-09 04:12] #5514 closed

[2019-11-09 05:44] sky-big opened #5600 "[Kubernetes] Fix zookeeper yaml prometheus pull metrics port"
Zookeeper expose 8000 for prometheus pull metrics, however kubernetes yaml file is 8080.

[2019-11-09 06:50] raghavi92 commented on #4672
Coming from Slack here. Would like to know if there's any scope and when we can expect custom kafka-like transforms in pulsar? For transforming messages before being published to a topic

[2019-11-10 17:33] #5575 closed

[2019-11-11 03:04] #5553 closed

[2019-11-11 03:13] #5600 closed

[2019-11-11 03:50] ltamber commented on #5582
@tuteng I have used the pulsar-admin tool to check namespace, it seem thats there is only one namespace in my cluster.
$ ./pulsar-admin tenants list
tenantTest
$ ./pulsar-admin namespaces list tenantTest
tenantTest/namespaceTest

[2019-11-11 03:50] Jennifer88huang commented on #4141
We've removed the old `site` folder and related links to this folder in #5576
Have we fix related things in Jenkins? If so,  shall we close this issue?

[2019-11-11 03:55] Jennifer88huang commented on #3009
@zymap Let's finalize the PR #5376 this week together.

[2019-11-11 04:06] zymap commented on #3009
@Jennifer88huang  Sure

[2019-11-11 05:41] #4141 closed

[2019-11-11 05:42] #2719 closed

[2019-11-11 05:43] #5585 closed

[2019-11-11 06:13] codelipenghui opened #5606 "Handle create producer timeout on other language client"
This this the task tracker for added epoch to handle producer create timeout. #5571 is fixed in java client, we need to catch up in other language client.

[2019-11-11 06:18] huangdx0726 commented on #5451
<classes>
            <class name="org.apache.pulsar.tests.integration.cli.CLITest" />
            <class name="org.apache.pulsar.tests.integration.cli.HealthCheckTest" />
            <class name="org.apache.pulsar.tests.integration.compaction.TestCompaction" />
            <class name="org.apache.pulsar.tests.integration.cli.AdminMultiHostTest"/>
            <class name="org.apache.pulsar.tests.i

[2019-11-11 06:20] huangdx0726 commented on #5451
[code]

[2019-11-11 07:57] candlerb opened #5608 "[Doc] Document that --py can be a zipfile"
It's possible to provide a zipfile for the `--py` argument to pulsar-admin functions create/update, but this doesn't appear to be documented.

It would be good to note that this can be done, and also give an example (e.g. how it interacts with `--className`)

Current:

[code]

[2019-11-11 08:18] pradeep-mishra opened #5610 "Fluentd connector for Apache Pulsar"
Currently we are using Kafka + Fluentd + (Elasticsearch + MongoDB) for log processing
I am looking into replacing Kafka with Pulsar, but for that, we need Fluentd connector for Pulsar.

[2019-11-11 08:32] candlerb opened #5611 "[Doc] unlinked pages"
The following pages appear to be completely unlinked, both from other pages and from `website/sidebars.json`

* developing-load-manager.md
* functions-guarantees.md
* io-cassandra.md
* security-token-admin.md

io-cassandra.md appears to have been superceded by io-cassandra-sink.md.

security-token-admin.md appears to have been superceded by security-jwt.md

functions-guarantees.md content is alrea

[2019-11-11 09:04] huangdx0726 opened #5612 "Update Deprecated classes for MongoSink"
Some Classes have Deprecated in ”com.mongodb.async.client” package ，LIke MongoClient、MongoClients。

should we replace ”com.mongodb.async.client” package with ”com.mongodb.reactivestreams.client.”

[2019-11-11 10:51] Jennifer88huang opened #5614 "Deprecate `brokerDeleteInactiveTopicsFrequencySeconds` or `brokerServicePurgeInactiveFrequencyInSeconds`"
**Describe the bug**
There are two similar parameters: `brokerDeleteInactiveTopicsFrequencySeconds` and `brokerServicePurgeInactiveFrequencyInSeconds`.
In documentation, `brokerDeleteInactiveTopicsFrequencySeconds` is recommended. However, `brokerServicePurgeInactiveFrequencyInSeconds` is implemented in code.

![image](https://user-images.githubusercontent.com/47805623/68581697-ea03dc00-04b3-11ea-

[2019-11-11 11:09] Jennifer88huang commented on #5611
@candlerb Thank you very much for raising the issue.
Except io-cassandra.md, functions-guarantees.md, security-token-admin.md, there are more deprecated files that should be removed from `master`. Before removing them from `master`, we need to fix links to those files in the older version. @tuteng is checking the process.

For developing-load-manager.md, somebody updates the name as "develop-load-

[2019-11-11 11:49] codelipenghui opened #5616 "[DISCUSS] Consumer messages from un-support compression type"
**Is your feature request related to a problem? Please describe.**
Currently, if use an old version pulsar consumer (e.g. 2.2.0) to read messages from a new version producer(e.g. 2.4.0), if producer enable compression and use a 2.2.0 un-supported compression type, we will get following error logs:

[code]

It's difficult to troubleshoot the problems from the error log, after doing some compatibili

[2019-11-11 11:50] zymap commented on #5533
hi @candlerb. I fix the problem that when typing an invalid args the client hangs.

And another issue is resolved at https://github.com/apache/pulsar/pull/5145.  I think this issue can be added to 2.4.2.

[2019-11-11 13:34] tuteng opened #5618 "[Docs]The document of python function example is incorrect"
**Describe the bug**
There was an error in the example of using [python function](http://pulsar.apache.org/docs/en/functions-develop/#example) that causes the following exception to be thrown:

[code]

Parameters should not appear in the initialization function of class TweetSerDe, messages should come from the topic and should not be assigned during initialization. the document example is wrong,

[2019-11-11 14:48] rvashishth commented on #5567
i am using mac. Below is the first command to run [doc - docker standalone](https://pulsar.apache.org/docs/en/standalone-docker/)

`docker run -it -p 6650:6650 -p 8080:8080 -v $PWD/data:/pulsar/data apachepulsar/pulsar:2.4.1 bin/pulsar standalone`

This will start the pulsar cluster, accessible at localhost:8080, on mac the same will also be accessible on <http://docker.for.mac.localhost:8080/>

L

[2019-11-11 16:33] vishalananth07 opened #5619 "Is there an alternate address we can provide for the fields while setting up cluster metadata in case we do not have a DNS?"
When running the command `bin/pulsar initialize-cluster-metadata` I do not have a DNS name set up for the cluster to give **web-service-url** and **broker-service-url** fields. Is there an alternate way to set up a single cluster with 3 Bookies/Brokers? or can you help us with how to set up the required DNS?

I saw a similar issue at [https://github.com/apache/pulsar/pull/3249](https://github.com/

[2019-11-11 16:33] candlerb opened #5620 "cpp/python API: please log to stderr instead of stdout by default"
**Is your feature request related to a problem? Please describe.**

The pulsar python client is a thin wrapper around the C++ API.  When it runs, it generates debugging messages, e.g.

[code]

However, these messages are generated on stdout, not stderr.  As a result, this causes problems for any client program which wishes to use stdin and stdout for data communication.

Example: an rsyslog `ompro

[2019-11-11 16:36] candlerb commented on #5618
Also,

[code]

is redundant and can be omitted entirely.

[2019-11-11 17:57] sijie commented on #5558
The root cause of this problem will be fixed in #5621

[2019-11-11 18:47] candlerb commented on #5620
I have a workaround:

[code]

... then write to `new_stdout` instead of `stdout`.  Anything which is written to fd 1 gets sent to stderr.

[2019-11-11 19:30] merlimat commented on #5620
We could switch the messages to stderr by default. Also, in master there's the option to configure the logger function from Python directly.

[2019-11-11 19:38] candlerb commented on #5620
It's master I am looking at.  Which option are you referring to?  All I could find was `log_conf_file_path`, which apparently doesn't do anything when not built against `log4cxx`.

[2019-11-11 19:42] candlerb commented on #5533
Great, thanks!

[2019-11-11 20:16] candlerb commented on #5610
Fluentd writing messages to pulsar, or consuming messages from pulsar?

It's not exactly what you're asking for, but I just made a plugin for rsyslog to write to pulsar [here](https://github.com/candlerb/rsyslog-omprog-pulsar).

[2019-11-11 20:20] merlimat commented on #5620
Oh, it was not merged yet: https://github.com/apache/pulsar/pull/5279

[2019-11-11 21:54] trotman23 opened #5623 "Dashboard assets referenced from absolute path fail to load when running behind a proxy"
**Describe the bug**
After deploying the dashboard to kubernetes, and configuring the ingress from the chart correctly, the dashboard is referencing assets from an absolute server path instead of the path behind the proxy.

I am running an nginx ingress controller in front of the dashboard, proxying to the dashboard based on the path `/pulsar`.

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-11-12 02:26] huangdx0726 commented on #5395
@sleungtoast  You maybe try  admin.brokers().updateDynamicConfiguration(“allowAutoTopicCreation”, false);

[2019-11-12 06:07] pradeep-mishra commented on #5610
@candlerb I'll look into it, but I need solution which can be deployable on production.

[2019-11-12 06:22] Sunkwan-Kwon opened #5626 "Memory leak of pulsar-function-go library regarding time.NewTimer()"
**Describe the bug**
There is a memory leak in the pulsar-function-go library.
I reported an issue regarding the package(#5589), but this report is another one.

It is related to KillAfterIdleMs configuration value. If I set the value to 0, time.NewTimer() function has occupied more memory indefinitely. Refer to `pprof ` result of that below.
[code]
If I set `KillAfterIdleMs` value higher than 0,

[2019-11-12 06:44] sijie commented on #5619
@vishalananth07 you can put your brokers in the service url. for example: `pulsar://broker1:6650,broker2:6650` or `http://broker1:8080,broker2:8080`.

[2019-11-12 07:38] Jennifer88huang commented on #5611
@candlerb The id of the `developing-load-manager.md` file is `develop-load-manager`, and in the sidebar.json file, the id used is `develop-load-manager`. I found many similar cases in the `docs` folder, namely, the file names and their ids are not consistent. As long as the id in the sidebar.json file is correct, it does not influence the link.

If we can keep the file name and its id consistent,

[2019-11-12 08:03] sky-big commented on #5534
Basically realized the function of pulsar operator，include pulsar dashboard, grafana, prometheus and so on[Pulsar Operator](https://github.com/sky-big/pulsar-operator)，weclome to use and contribute.

[2019-11-12 08:05] sky-big commented on #5534
Next step concern pulsar stateful component(include Bookeeper and Zookeeper).

[2019-11-12 08:38] vishalananth07 commented on #5619
Thanks for the response, also how do we refer to this cluster from the client program since we are not having a dns name?

[2019-11-12 08:44] sijie commented on #5619
@vishalananth07 I just showed you the service url.

[2019-11-12 09:00] vishalananth07 commented on #5619
Thanks sijie for the quick response!

[2019-11-12 09:00] #5619 closed

[2019-11-12 09:11] jiazhai commented on #5610
Thanks for the help @pradeep-mishra

[2019-11-12 09:13] jiazhai commented on #5612
@huangdx0726 Would you like to contribute to it?

[2019-11-12 09:16] jiazhai commented on #5626
@Sunkwan-Kwon Thanks for the fix.

[2019-11-12 09:29] vishalananth07 opened #5630 "Error when trying to run Producer-Consumer commands in a 2 node cluster"
**Describe the bug**
Producer command
[code]
and Consumer command
[code]
are giving the following error messages:

Producer error message:
[code]

Consumer error message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start zookeeper, set cluster meta data, start bookie, start broker after modifying necessary configurations.
2. Bookiesanity is succeeding but simpletest fails with the

[2019-11-12 09:33] codelipenghui opened #5631 "Enable or disable topic auto creation for non-persistent topic."
**Is your feature request related to a problem? Please describe.**
Currently, we can disable the topic auto creation at broker side, but for non-persistent topic, disable topic auto creation isn't works well.

Unlike persistent topic, we need to create mledger znode in zookeeper, non-persistent topic only maintained in broker, so must allow topic auto creation for non-persistent topic now.

But we

[2019-11-12 09:34] codelipenghui commented on #5631
relate to #5572

[2019-11-12 09:42] huangdx0726 commented on #5612
OK，I’ll&nbsp; try

---Original---
From: "Jia Zhai"<notifications@github.com&gt;
Date: Tue, Nov 12, 2019 17:13 PM
To: "apache/pulsar"<pulsar@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"huangdx0726"<localhost80@foxmail.com&gt;;
Subject: Re: [apache/pulsar]   Update Deprecated classes for MongoSink  (#5612)

@huangdx0726 Would you like to contribute to it?

—
You are receivi

[2019-11-12 12:10] vishalananth07 commented on #5630
I noticed that the Broker process stops automatically after 2 minutes on one node, but on the other node its running fine. Also the node in which the broker stops is not able to produce and consume, but the other node is able to run as consumer alone but fails when it tries to run the producer.

[2019-11-12 13:32] #5558 closed

[2019-11-12 13:46] raghavi92 opened #5633 "Support Avro schema from Debezium source connector"
**Describe the bug**
Currently the Debezium postgres source produces KeyValueSchema to the topics. Support is required for Avro schema type.

**To Reproduce**
Steps to reproduce the behavior:
1. The connector configuration I used for the debezium source connector is:

namespace: "default"
name: "debezium-postgres-source"
topicName: "debezium-postgres-topic"
archive: "connectors/pulsar-io-debezium-

[2019-11-12 13:52] sijie commented on #5630
It indicates that you don't have enough bookies. use `bookkeeper shell listbookies` to list the bookies. make sure you have enough bookies, because by default you need at least 2 bookies.

[2019-11-12 14:26] bry00 opened #5634 "Python consumer does not accept receiver_queue_size=0"
**Describe the bug**
Python client does not accept receiver queue size equal to 0, but according to [documentation](https://pulsar.apache.org/docs/v2.0.1-incubating/cookbooks/message-queue#client-configuration-changes):

while other clients (e.g. C++ and Java clients) accept receiver queue size equal to 0 and work according to documentation.

**To Reproduce**
Steps to reproduce the behavior:
1. Ru

[2019-11-12 14:36] vishalananth07 commented on #5630
I have run bookkeeper on two nodes

[2019-11-12 15:47] frank-dkvan commented on #3208
If I want to read  states from the other functions, which API can help with this?  since context API doesn't support this.

[2019-11-12 16:36] sleungtoast commented on #5395
@huangdx0726 Hmm that could work, but if my app had admin privileges already, I could just have it create topics as an admin before using them, and I wouldn't have to temporarily turn on auto topic creation just so this single app can do so.
What I need is for a single non-admin user be able to create topics on a namespace, but nobody else can.

[2019-11-12 21:33] simoneau commented on #4043
To anyone else landing here, this is how I resolved this error on a Mac:
[code]

[2019-11-13 00:33] #5618 closed

[2019-11-13 02:06] Anonymitaet commented on #5345
@tuteng, any thoughts on the @candlerb's comment?

[2019-11-13 02:12] tuteng commented on #5345
@candlerb you are right, we need to update file https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/python/pulsar/__init__.py#L24

[2019-11-13 02:41] jinxfei opened #5637 "Is there any plan for a pure golang client?"
**Is your feature request related to a problem? Please describe.**
I want to write a tool that will install on lot's of  hosts, some of the hosts run windows and others with linux. I'am familiar with java but if I write the tool in java, the installation package can't be very small. So go is a proper choice, but use pulsar from go needs install C++ client first, which make the installation complex

[2019-11-13 02:42] #5476 closed

[2019-11-13 03:19] jiazhai commented on #5630
@vishalananth07 Please check the log of each bookie node, there should be some error caused bookie not start success.

[2019-11-13 03:20] jiazhai commented on #5637
https://github.com/apache/pulsar-client-go @jinxfei

[2019-11-13 03:28] jiazhai commented on #5633
@raghavi92 In Debezium, we have to use KeyValueSchema, and inside the KeyValueSchema, key and value could be avro type.

[2019-11-13 03:30] jiazhai commented on #5633
Please reference [KeyValueSchema.java](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/KeyValueSchema.java) for more details.

[2019-11-13 03:31] jiazhai commented on #5633
@tuteng Could we add some doc for how to config and use schema in debezium connector?

[2019-11-13 06:01] raghavi92 commented on #5633
@jiazhai  yes I went through the KeyValueSchema code. As mentioned in the actual issue, I have provided the "schemaType" as Avro in my source config yaml file. But still, the avro type exception is thrown in this line :
https://github.com/apache/pulsar/blob/d3cb108590713735ef1b23ff61997bf68e0fd7f3/pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/KeyValueSchema.java#L62

I guess its

[2019-11-13 09:51] jiazhai commented on #5633
@raghavi92  This need to config the `key.converter` and `value.converter` for the debezium connector. The default converter is Jason converter `org.apache.kafka.connect.json.JsonConverter`.

[2019-11-13 09:55] candlerb opened #5650 "pulsar-admin: avoid changing working directory"
**Is your feature request related to a problem? Please describe.**
When pulsar-admin starts, the first thing it does is [change the working directory](https://github.com/apache/pulsar/blob/master/bin/pulsar-admin#L26).

This causes several problems.

(1) Any filename you give on the command line cannot be in the current directory

[code]

2. Even if you give an absolute path on the command line, a

[2019-11-13 09:56] Anonymitaet commented on #5345
@tuteng @candlerb I've updated the file https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/python/pulsar/__init__.py#L24 in https://github.com/apache/pulsar/pull/5649

[2019-11-13 10:08] Anonymitaet commented on #5368
#3 has been fixed, here is the [latest doc](http://pulsar.apache.org/api/python/2.5.0-SNAPSHOT/).

* `client.create_producer` and `client.create_reader` can take a "schema"
argument
![image](https://user-images.githubusercontent.com/50226895/68753334-ca99ba00-063f-11ea-8ef5-3128b33e27e2.png)

![image](https://user-images.githubusercontent.com/50226895/68753392-ea30e280-063f-11ea-8458-1d29865aa99d.

[2019-11-13 10:59] candlerb opened #5652 "Server wedged after deleting and recreating functions"
**Describe the bug**
I managed to get pulsar (standalone 2.4.1) into a wedged state reporting bookkeeper errors after deleting and recreating the same function.

**To Reproduce**

[code]

and repeat.

**Expected behavior**
Obviously, should be able to delete and recreate the function as many times as required.

**Actual behavior**
I got into a state where pulsar commands are hanging, and timing ou

[2019-11-13 13:26] tuteng commented on #4053
@Jennifer88huang @Anonymitaet Can you fix this problem?
Replace download link of the document to correct link https://archive.apache.org/dist/pulsar/

[2019-11-13 17:06] dtwright opened #5654 "Python Pypi installation of pulsar-client broken because 2.4.1.post1 doesn't have Linux files"
**Describe the bug**
Trying to install pulsar-client on anything other than MacOS fails, because the 2.4.1.post1 published to Pypi only has MacOS files included. This means installing any package with Pipenv that declares a dependency on pulsar-client will result in strange failures, because Pypi says 2.4.1.post1 is available, but the the matching files for my arch (Linux) don't actually exist in

[2019-11-13 17:31] aahmed-se commented on #5654
try ```pip install pulsar-client==2.4.1```

[2019-11-13 17:36] merlimat commented on #5654
We should probably publish the `.post1` also for Linux

[2019-11-13 17:43] dtwright commented on #5654
@aahmed-se that does work (as noted above), but is not ideal because then my `Pipfile` is stuck on a particular version instead of tracking the latest when I update.

@merlimat that would be great, it would take care of the issue.

[2019-11-13 22:35] HarishAtGitHub opened #5656 "[CLIENT SDK] The KeyShared is only supported in java SDK and not in python"
**Describe the bug**
There is feature to have KeyShared implementation in apache pulsar. and it works as expected. but there is no equivalent implementation in python. Can you please add ?
Can you also check and guarantee that c++ client also supports it ?

**To Reproduce**
![image](https://user-images.githubusercontent.com/5524260/68810298-ac719100-0622-11ea-98f9-71ee0e218dea.png)

**Expected beh

[2019-11-13 22:41] HarishAtGitHub opened #5657 "[CLIENT SDK] Absense of MessageRouter support in python"
**Describe the bug**
the message router explained here is supported only in java, but i cannot find an equivalent in python. can you help us by supporting the python equivalent ?

**To Reproduce**
1. Go to link : https://pulsar.apache.org/docs/en/cookbooks-partitioned/
2. see the java implementation
3) but i cannot see way to send custom message router in python

**Expected behavior**
the message

[2019-11-13 22:50] jerrypeng commented on #5656
@HarishAtGitHub this feature is actually already added to the python client but haven't be officially been released yet.

[2019-11-14 01:01] Sunkwan-Kwon commented on #5589
Is there any update for merging?

[2019-11-14 01:01] Sunkwan-Kwon commented on #5626
Is there any update for merging?

[2019-11-14 01:04] Anonymitaet commented on #5584
Fix in https://github.com/apache/pulsar/pull/5593

[2019-11-14 01:04] #5584 closed

[2019-11-14 01:05] Anonymitaet commented on #5368
@Jennifer88huang all issues have been fixed, could you please close this issue?

[2019-11-14 01:28] #5368 closed

[2019-11-14 01:29] Jennifer88huang commented on #5368
@Anonymitaet When you fix an issue, you can follow the template in PR, and write "Fixes #xxx". When the PR is merge, the related issue is closed automatically.

[2019-11-14 02:40] jiazhai commented on #5650
@candlerb

Usually the executing path is `PULSAR_HOME`, so the relative paths is based on `PULSAR_HOME`.

[2019-11-14 02:54] jiazhai commented on #5650
@candlerb Will it work after remove (change the working directory)[https://github.com/apache/pulsar/blob/master/bin/pulsar-admin#L26]?

[2019-11-14 03:06] Jennifer88huang commented on #4675
@xujianhai666 could you please pull request to https://github.com/apache/pulsar/pulls

[2019-11-14 03:10] sky-big opened #5658 "Prometheus in kubernetes need all namespace access control"
**Describe the bug**
Prometheus in kubernetes need all namespace access control, but now access control not enough.

**Expected behavior**
Prometheus access metrics data success.

[2019-11-14 03:18] jiazhai commented on #5652
@candlerb Thanks for reporting this issue. Seem there is some race condition caused some overlap time between function delete and start.
@wolfstudy Would you please help to take a look if this is reproduce-able?

[2019-11-14 03:34] jiazhai commented on #5656
@jerrypeng @HarishAtGitHub Could we close this issue, since it is already in master?

[2019-11-14 03:36] sky-big commented on #5658
Prometheus need list all namespace pod resource and so on in kubernetes, so need add rbac for prometheus pod.

[2019-11-14 03:43] jiazhai commented on #5657
It is named as `MessageRoutingPolicy` in Cpp.
and in python is used as: `                      message_routing_mode=PartitionsRoutingMode.RoundRobinDistribution,`

[2019-11-14 03:44] jiazhai commented on #5657
Here is a detailed define in python:
[code]

[2019-11-14 03:45] jiazhai commented on #5657
Hi @HarishAtGitHub I would like to close this issue. If is not solved, please open it again.

[2019-11-14 03:57] merlimat commented on #5657
The point here is that it’s not possible to specify a message router in python

[2019-11-14 07:04] raghavi92 commented on #5633
@jiazhai , I tried that also. Looks like we are yet to support Avro converter ??

[2019-11-14 07:04] Anonymitaet commented on #4053
@tuteng glad to help

[2019-11-14 07:07] jiazhai commented on #5634
In Cpp, `ConsumerImpl::receive(Message& msg)` supports `receiver_queue_size=0`.
 but with `timeout` parameter,  `ConsumerImpl::receive(Message& msg, int timeout)` not support.

But in python, the methods both with and without `timeout` parameter, finally calls into
`ConsumerImpl::receive(Message& msg, int timeout)`.

[code]

[2019-11-14 07:10] jiazhai commented on #5637
would like to close this issue. @jinxfei please feel free to reopen it.

[2019-11-14 07:10] #5637 closed

[2019-11-14 07:17] jiazhai commented on #5633
@raghavi92 , Seems need to include related jar into the pom.xml file of pulsar-debezium to support it.

[2019-11-14 07:47] huangdx0726 opened #5661 "typo error"
**Describe the bug**
A typo error of this website of pulsar

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://pulsar.apache.org/docs/en/standalone
2. Click on 'Deployment > bare-metal-multi-cluster '
3. Scroll down to 'Provisioning new tenants'
4. See error
[code]
the test-tentant maybe typo test-tenant.  if we can't fix it，it can run normal .

[2019-11-14 08:21] Jennifer88huang commented on #5661
@huangdx0726 would you like to fix it?

[2019-11-14 08:28] jiazhai commented on #5634
@tuteng Not sure why python not call `consumer.receive(msg)`directly. Would you please help to take a look?

[2019-11-14 08:28] candlerb commented on #5650
The script sets PULSAR_HOME to be the directory in which pulsar itself is installed; any existing value is ignored.

As an end user, I cannot see why anyone would want to store their *user* data in the *application's* private directory tree; normal users won't even have permission to do so.

If other components need to find each other relative to PULSAR_HOME, then it would be fine to set PULSAR_HO

[2019-11-14 08:29] jiazhai commented on #5633
@tuteng to have a try and help provide a doc of how to do it.

[2019-11-14 09:01] Jennifer88huang commented on #4053
@Anonymitaet would you like to fix it?

[2019-11-14 09:05] kaonick commented on #5392
I try below in windows:
docker run -it -p 6650:6650 -p 8080:8080 --mount source=pulsardata,target=/pulsar/data --mount source=pulsarconf,target=/pulsar/conf apachepulsar/pulsar:latest bin/pulsar standalone

Could run ok.
But How can I mount directory in my windows like e:/data ?

[2019-11-14 09:12] candlerb opened #5662 "[doc] API documentation doesn't describe behaviour of async callbacks"
**Is your feature request related to a problem? Please describe.**
The various APIs include asynchronous operations with callbacks on completion - for example the [Python API](https://pulsar.apache.org/docs/en/client-libraries-python) has [send_async](https://pulsar.apache.org/api/python/#pulsar.Producer.send_async).

However, I cannot see it documented anywhere whether the callbacks occur in a di

[2019-11-14 09:57] huangdx0726 commented on #5661
em，I'll try.

[2019-11-14 11:00] candlerb opened #5664 "Python, Go APIs: flush not blocking, send_async leaks memory"
**Describe the bug**

1. `producer.flush()` does not wait until all messages have been published
2. `producer.send_async()` appears to leak memory

**To Reproduce**

This program reproduces both behaviours.

[code]

Output:

[code]

**Expected behavior**

1. The [documentation](https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/python/pulsar/__init__.py#L892) for "flush" says:

    The

[2019-11-14 11:40] candlerb commented on #5664
I wonder if flush() is intended to do with [batching](https://pulsar.apache.org/docs/en/concepts-messaging/#batching).

Suppose you enable batching, then:

1. `send_async()` 50 messages
2. do other stuff
3. `flush()`

At the point you do call flush, the batch may or may not have already reached its maximum latency and been sent.  If any messages are still in RAM, presumably flush will send them.

[2019-11-14 12:21] candlerb commented on #5664
Identical problems with Go API. I'm adding this to the same ticket as it may be to do with the underling C++ API.

Code:

[code]

Output:

[code]

Check memory usage:

[code]

[2019-11-14 12:51] candlerb commented on #5664
Sorry, this was me being dumb.

* C++ API is allocating, then freeing memory
* malloc is not returning it to the system, in case it's needed again; but it can re-use this space

To test this, I changed the program to:

- send 500MB of messages; wait for them all to be delivered
- send another 500MB of messages; wait for them all to be delivered

Results are fine:

[code]

In fact, memory footprint

[2019-11-14 12:51] #5664 closed

[2019-11-14 13:01] candlerb opened #5666 "Python, Go APIs: producer.flush() not blocking"
**Describe the bug**
`producer.flush()` returns before all message acknowledgement callbacks have been invoked

**To Reproduce**

[code]

Output:

[code]

**Expected behavior**
The [documentation](https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/python/pulsar/__init__.py#L892) for "flush" says:

Therefore I was expecting that by the time `producer.flush()` returns, all messages would

[2019-11-15 02:05] Jennifer88huang commented on #5661
Thanks for your contribution~

[2019-11-15 04:22] Anonymitaet commented on #5397
@tuteng it seems that the connector download links on the http://apache.claz.org/pulsar/pulsar-2.4.1/connectors/ and https://pulsar.apache.org/en/download/ are incomplete?

If so, how can I add them?

[2019-11-15 04:23] Anonymitaet commented on #5037
@tuteng any progress on this issue?

[2019-11-15 04:33] Anonymitaet commented on #4053
@Jennifer88huang sure

[2019-11-15 04:42] Anonymitaet opened #5667 "[Doc] Re-organize built-in connector guide & add HBase sink connector guide"
* "Configuration" and "example" of each connector should be displayed on the "built-in connector" homepage.

* Add HBase sink connector guide

[2019-11-15 05:41] kaykillyou opened #5668 "bookie server's log error: Failed to restore rocksdb 000000000000000000/000000000000000001/000000000000000000"
**Describe the bug**
i have a pulsar instance consisting of two clusters, there is a bookie server background log in each cluster that continuously outputs the following error:
Failed to restore rocksdb 000000000000000008/000000000000000001/000000000000000000
Now producer and consumer are stopped, and bookie's heap memory usage reaches 90%.

**To Reproduce**
[root@iZbp1h590z6jc4f0ib1fjyZ logs]# pw

[2019-11-15 07:06] #5661 closed

[2019-11-15 07:33] laxpio opened #5669 "Pulsar Broker restart fail owing to create functions/assignments topic fail"
**Describe the bug**
restart pulsar broker，throws nullponitexception at create functions/assignments topic

error log：

[code]

[2019-11-15 07:43] #5564 closed

[2019-11-15 10:06] frejonb opened #5672 "[C++ client] Deadletter queue functionality"
Is anyone working on porting DLQ from the Java client to Cpp https://github.com/apache/pulsar/pull/2508? I'd like to help/contribute.

I'm thinking on the following API
[code]

[2019-11-15 10:24] ArtemShaban opened #5673 "[pulsar-broker] fix ConcurrentModificationException while load-report serialization/updateLocalBrokerData"
**Issue desctiption:**

Pulsar version = 2.4.1

Sometimes I see 2 ConcurrentModificationException in broker logs.

[code]

[code]

[2019-11-16 06:48] zwzch commented on #5610
I made a [plugin](https://github.com/zwzch/fluent-plugin-pulsar) for this

[2019-11-17 01:02] frejonb opened #5676 "[C++ client] Expose redelivery count"
Expose the redelivery count like in the Java client #3030

[2019-11-17 10:38] ssrkr opened #5678 "all-messages-shared subscription mode"
**Is your feature request related to a problem? Please describe.**

We are trying to use pulsar in a scenario where there is many-to-many relation with producers and consumers. Specifically we would like to have **n producers** producing messages  on same topic for **m** **consumers** and importantly, every single message is copied to all consumers. That way all consumers can work independently wi

[2019-11-18 06:19] vishalananth07 commented on #5630
Sorry for the late reply, one of our machines crashed. We tried using another machine and tried setting up Pulsar, but we could not even start Bookie because of less RAM availability. We used two machines one with 12Gb RAM + SSD and another with 8Gb RAM + HDD, Bookie ran perfectly on the 12GB system, but in the 8Gb system, it crashed exactly after 2 minutes. Is lesser RAM causing the issue? What a

[2019-11-18 10:17] huangdx0726 opened #5681 "Documentation java client example error"
**Describe the bug**
java client example error
version:2.4.1

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://pulsar.apache.org/docs/en/client-libraries-java/'
2. Scroll down to 'Subscription modes'

copy the example code
[code]

display Cannot resolve method 'enableBatch(boolean)'.Maybe the methodName is enableBatching.

[2019-11-18 10:47] codelipenghui opened #5682 "Documentation for sticky consumer"
This is a task tracker for create a document for sticky consumer since #5388 is merged.

[2019-11-18 12:55] candlerb opened #5683 "Cannot create topic under sample/standalone/ns1"
**Describe the bug**
In pulsar 2.4.1 standalone, a "sample/standalone/ns1" namespace is created by default, but I cannot create a topic under it using pulsar-admin - I get a 405 error.

**To Reproduce**

[code]

There is also odd behaviour with curl on the `/admin/v2/namespaces/` endpoint: it works for namespaces without slash, but not with slash.

[code]

**Expected behavior**
Be able to create t

[2019-11-18 13:12] candlerb opened #5684 "Documentation: units for storageSize"
**Is your feature request related to a problem? Please describe.**

[code]

What are those units? Bytes, KiB, MiB, GiB, something else?

**Describe the solution you'd like**
Document at https://pulsar.apache.org/docs/en/pulsar-admin/#stats-1 and/or https://pulsar.apache.org/admin-rest-api/?version=2.4.1#operation/getStats

[2019-11-18 13:25] candlerb opened #5685 "Documentation: skip-all versus clear-backlog"
**Is your feature request related to a problem? Please describe.**
Documentation shows [skip-all](https://pulsar.apache.org/docs/en/pulsar-admin/#skip-all) followed by [clear-backlog](https://pulsar.apache.org/docs/en/pulsar-admin/#clear-backlog-1), both at the topic with no description of what the difference is.

I don't know when it's appropriate to use one or the other.

Note: there is a separa

[2019-11-18 15:22] codelipenghui commented on #3112
Seems the problem can still happens, but i can't get the restful response, broker is crashed at that time.
[code]

[2019-11-18 15:24] codelipenghui opened #5686 "NPE in RackwareEnsemblePlacementPolicyImpl."
**Describe the bug**
[code]
**To Reproduce**
Have no idea to reproduce it.

**Additional context**
in master branch

[2019-11-18 15:53] pedro93 opened #5687 "Failed to enable State API in K8s installation"
**Describe the bug**
Can't enable State API in a minikube-based installation of Pulsar, despite adding the appropriate property `extraServerComponents` to the values-mini.yaml in the bookkeeper.configData section.

**To Reproduce**
Steps to reproduce the behavior:
1. Add the following line to values-mini.yaml under the bookkeeper.configData section:
[code]
2. Launch pulsar cluster via helm (this i

[2019-11-18 20:09] frejonb opened #5688 "[Pulsar dashboard] dashboard docker image installs incorrect version of postgres"
**Describe the bug**
Docker image install postgres 11 instead of 9.6. This results in
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Build dashboard docker image from master
1. Run image

**Expected behavior**
Dashboard running

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Docker

**Addit

[2019-11-18 22:22] jm7647 opened #5690 "Elasticsearch 5.x Sink connector incompatible"
**Describe the bug**
Works with ES 7.x version
Fails with ES 5.x version

Didn't try other versions.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure and run ES Sink
2. See error

{"error":{"root_cause":[{"type":"invalid_type_name_exception","reason":"Document mapping type name can't start with '_', found: [_doc]"}],"type":"invalid_type_name_exception","reason":"Document mapping typ

[2019-11-19 01:53] #5474 closed

[2019-11-19 01:54] tuteng commented on #5474
Mongodb's connector is ready for use https://github.com/apache/pulsar/pull/5590.

[2019-11-19 01:58] tuteng opened #5692 "[Doc]Add document for mongodb connector"
After adding MongoDB connector https://github.com/apache/pulsar/pull/5590, we need to add a document to tell users how to use MongoDB connector. Like this: http://pulsar.apache.org/docs/en/io-cdc-debezium/

[2019-11-19 02:47] codelipenghui opened #5693 "[documentation] Clarify the messages(data) be invisible"
**Is your feature request related to a problem? Please describe.**
If all subscriptions mark delete at a position, the messages before that position will be delete. Always, users understand the mechanism like send a message to the topic, and a new consumer A create a new subscription SUB-A with the earliest position and acknowledge the message, then a new consumer B also create a new subscription

[2019-11-19 03:18] Jennifer88huang commented on #5681
@huangdx0726 thank you very much for your contribution~

[2019-11-19 03:19] laxpio opened #5694 "PositionImpl init throws NullPointerException"
**Describe the bug**
version 2.4.1

code path：
managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/PositionImpl.java

init function
[code]
when the param "other" be Null Object, the process will throw NullPointerException.

[2019-11-19 03:59] #5535 closed

[2019-11-19 04:51] #5346 closed

[2019-11-19 04:55] pradeep-mishra commented on #5610
@zwzch  thanks, i ll look into it. :)

[2019-11-19 05:08] #4912 closed

[2019-11-19 05:10] #5533 closed

[2019-11-19 06:11] lspgn opened #5695 "Go: Segfault on messageId serialize after getting it from producer"
**Describe the bug**
Looks like the following Go code (also happens with async):
[code]
causes the following:
[code]
Note: `id` is not null, it's a `*pulsar.messageId` pointer.

**Desktop:**
Mac OS 10.14.6
github.com/apache/pulsar/pulsar-client-go v0.0.0-20191115070645-69cd6eb660af

Thank you :)

[2019-11-19 06:15] #5688 closed

[2019-11-19 07:27] #5681 closed

[2019-11-19 07:37] Jennifer88huang commented on #5614
@lsy180829 Thanks very much for your contributions~

[2019-11-19 07:37] codelipenghui commented on #5672
I will recommend to use only one step to enable dead letter topic, it might can be:

[code]

BTW, welcome.  I think there is no one works on it.

[2019-11-19 08:42] codelipenghui commented on #5678
I think you can use different subscription name for each consumers, pulsar use subscription to multicast messages

[2019-11-19 09:07] f-ld commented on #5623
Got this issue as well (before giving up with dashboard using a LOT of memory and not being of any use because of many bugs. But I did not try latest versions).

I did fix it with a workaround in dashboard deployment yaml:
[code]
i.e. add this `command` and `args` entries to perform a couple sed commands before running the default `/pulsar/start.sh` script. This was (at least on 2.3.x, to be confi

[2019-11-19 09:59] ssrkr commented on #5678
Could you elaborate on what you mean by subscription name? In our scenario, all consumers have to subscribe to a topic and subscription is based on a specific topic, as per pulsar document. Are you saying there is another control like subscription name?

[2019-11-19 10:05] Jennifer88huang commented on #4423
I've checked Presto documentation, HA is not added anywhere at https://prestodb.io/docs/current/ .
Since Pulsar SQL uses Presto, and HA is actually not available in Presto (https://coding-stream-of-consciousness.com/2018/12/29/presto-coordinator-high-availability-ha/), we'd better not add setup info in Pulsar SQL doc. However, we can add a short paragraph on how to deploy Pulsar SQL with HA with t

[2019-11-19 10:21] Jennifer88huang commented on #4423
I've checked the latest prestosql https://prestosql.io/docs/current/, it does not support HA either.

[2019-11-19 10:26] weishuisheng opened #5698 "Geo replicator has ProducerBusyException"
**Describe the bug**
We  replicate messages from Cluster A to Cluster B. The replicator failed when has exception.

[2019-11-19 18:00:13]10.1.2.79
content: 18:00:12.456 [pulsar-io-22-4] WARN org.apache.pulsar.broker.service.AbstractReplicator - [non-persistent://pxx/xx/ttt][pulsar-a -> pulsar-b] Failed to create remote producer (org.apache.pulsar.client.api.PulsarClientException$ProducerBusyExcept

[2019-11-19 10:27] Jennifer88huang commented on #4423
In the latest Presto release, HA is not mentioned either https://prestosql.io/Presto_SQL_on_Everything.pdf

[2019-11-19 10:33] codelipenghui commented on #5698
Since  https://github.com/apache/pulsar/pull/5571 handle the generated producer name, i think the producer name of replicator producer also can be considered as a producer with generated producer name, because only producer for a replicated topic.

So, we can handle it simple by considered replicator producer as generated name producer.

[2019-11-19 10:41] codelipenghui opened #5699 "Expose last execution time of message expiration."
**Is your feature request related to a problem? Please describe.**
If user enable the message ttl and want to know the last execution time of message expiration for a subscription, it's only can be check by broker log,  since the topic is maintained by a broker in the cluster, users must do a lookup to find that broker and then check the logs.

So, expose the last execution time of message expirat

[2019-11-19 11:47] zymap commented on #5683
Hi @candlerb,
I think this tenant and namespace should remove from the standalone.

here is a PIP for removing the cluster of a namespace: https://github.com/apache/pulsar/wiki/PIP-10:-Remove-cluster-for-namespace-and-topic-names.

A topic name consists of `domain`, `tenant`, `namespace`, and `topic`. The latest version of Pulsar already removes the cluster name for a topic name. The tenant name a

[2019-11-19 12:28] candlerb commented on #5683
The REST API doc shows e.g. `https://pulsar.apache.org/admin/v2/namespaces/{tenant}/{namespace}` - it doesn't mention the optional `{cluster}` part.

At least, I can delete the sample namespace and tenant:

[code]

I agree it would be a good idea to remove this from the default standalone configuration.

PIP-10 says:

I think it should be mentioned *somewhere* in the documentation that older versi

[2019-11-19 17:58] #5667 closed

[2019-11-19 22:41] danvixent opened #5703 "Apache Netbeans 11.1 Not Opening"
The Apache Netbeans 11.1 never opens but keeps on creating error files in its application install directory(named hs_err_pid15684 or something similar).

This particular one *hs_err_pid15684* contents below:
[code]

[2019-11-20 01:00] laxpio opened #5704 "revert terminate topic"
**Is your feature request related to a problem? Please describe.**
sometimes need restrict publish message，when use terminate function，the topic will can not be reverted as a normal topic

**Describe the solution you'd like**
Support un-terminate function

[2019-11-20 03:57] jiazhai commented on #5666
@wolfstudy Would you please take a look?

[2019-11-20 03:58] Jennifer88huang commented on #4423
Since Presto does not support HA, I'll close this issue.

[2019-11-20 03:58] #4423 closed

[2019-11-20 04:05] jiazhai commented on #5668
@kaykillyou Thanks for reporting this.
If you are not using table service, you could pass in `-nss`(no stream store service) parameter when start broker or standalone.

we will try to reproduce this issue and track it.

[2019-11-20 04:09] Jennifer88huang commented on #5684
@candlerb The unit is Byte. We'll add it in docs. Thanks for your question.

[2019-11-20 04:35] jiazhai commented on #5662
@candlerb This is related to the thread that user setting in client config?
[code]

[2019-11-20 08:32] candlerb commented on #5662
I've no idea.  I'm approaching this as a Python API user, and that setting is not something I can control.

[2019-11-20 08:47] candlerb commented on #5684
That doesn't make sense for my test cluster.  When I got the figures posted at the top of this mail, my data/ directory was about 5.5GB in size.  I had posted many test messages, each 1MB in size, although some of these had expired and were awaiting garbage collection.

But I see large figures at site2/docs/admin-api-persistent-topics.md which do make sense in bytes.  I'm just trying to understand

[2019-11-20 09:13] whisper-bye commented on #4988
+1
Failed to create Producer: ProducerBlockedQuotaExceededError

[2019-11-20 09:36] candlerb commented on #5684
I've made a simple test for this. Before run:

[code]

Run program which publishes 500 x 1MB messages to topic "temp" (see below)

After run:

[code]

Weird. Stats are supposed to update every minute, but:

[code]

If I give an invalid topic name to `stats` (e.g. `tempz`) it tells me the topic does not exist, so I must be looking at the right topic.  The retention period on this namespaces is set

[2019-11-20 10:15] Jennifer88huang commented on #5684
@jiazhai could you please help on this issue? Thank you.

[2019-11-20 10:43] Jennifer88huang opened #5708 "[docs] Fix persistent and non-persistent docs"
**Describe the bug**
Some information in persistent and non-persistent topics duplicate, and some info are not correct. For example, wrong info at https://pulsar.apache.org/docs/en/admin-api-persistent-topics/#get-stats

**Expected behavior**
The information should be consistent, clear and correct.

**Screenshots**
![image](https://user-images.githubusercontent.com/47805623/69232148-6dfd4880-0bc5-

[2019-11-20 12:57] tuteng opened #5709 "Support multiple topic subscriptions across multiple namespace"
Currently, multiple topic subscriptions are supported in the same namespace. Some users want to support multi-topic subscriptions across multiple namespaces. The main consideration is authentication and authorization under multiple namespaces and multiple topics.

First:

MultiTopicsConsumerImpl.java => topicNamesValid
Remove check logic

Second:
Check the content related to permissions, mainly fo

[2019-11-20 18:43] ypt commented on #3906
+1. I also just ran into this. Reading the docs, I had assumed that I was able to create a consumer that could consume topics across different namespaces, but in trying to do so with the Java client, I'm seeing an `java.lang.IllegalArgumentException: Topics should have same namespace` exception.

For what it's worth, my usage looks something like the following:

[code]

[2019-11-20 19:14] sijie commented on #5513
@rdhabalia

We are able to reproduce OOM problem with master code-base (including your code change and doesn't enable publish-rate limiting).

The steps to reproduce:

1) setup a bookkeeper cluster with 10 nodes. Each node has one SSD disk for both journal and ledger directory.
2) setup a broker with 10 nodes.
3) create a topic with 20 partitions.
4) launch a flink job with a data-generator source

[2019-11-20 20:57] youurayy commented on #4941
@sijie - I think this is not a `component/client` issue (since the subscription cannot be deleted through the admin cli either)

[2019-11-20 21:42] sijie commented on #4941
The problem (inconsistent range) has been fixed as part of fixing #5621.

[2019-11-20 21:42] #4941 closed

[2019-11-20 21:43] sijie commented on #4941
@youurayy the data is deleted segment by segment. unless the whole segment is deleted, the reader will see the messages of the segment that is not deleted.

[2019-11-20 23:22] aahmed-se commented on #5703
How is this relevant for apache pulsar ?

[2019-11-20 23:24] aahmed-se commented on #5690
this probably requires another version of the connector should be part of a large discussion of managing the growing list of connectors.

[2019-11-21 01:26] #4937 closed

[2019-11-21 02:38] jiazhai commented on #5709
Seems this not need to much change, maybe remove the namespace checking, and check if all the the tests passed.

[2019-11-21 02:43] #5698 closed

[2019-11-21 02:57] jiazhai commented on #5704
@laxpio Thanks for open this issue. Do you mind share a little of your use case? why a topic is terminated but need to revert?

[2019-11-21 03:01] jiazhai commented on #5703
@danvixent Is this a mistaken? would like to close it. please feel free to reopen if is indeed a pulsar issue,.

[2019-11-21 03:01] #5703 closed

[2019-11-21 03:15] lxkaka opened #5711 "K8s: through pulsar proxy visit api return 502"
**Describe the bug**
through proxy call admin api return error_code 502
[code]

**Expected behavior**
expect return 200 and valid response

**Environment **
 - deploy in k8s and image is `pulsar-all:2.4.1`

**Additional context**
pulsar proxy logs
[code]

[2019-11-21 03:30] jiazhai commented on #5695
@lspgn Thanks for the reporting.
@wolfstudy Would you please take a look of this?

[2019-11-21 03:37] jiazhai commented on #5694
@laxpio Thanks for reporting this. How about return a NULL when passed in NULL?

[2019-11-21 03:41] jiazhai commented on #5690
@tuteng to take a look

[2019-11-21 03:43] jiazhai commented on #5687
Thanks @pedro93 for reporting this. :) since you have already root caused this issue, would you like to provide a fix for this?

[2019-11-21 03:50] jiazhai commented on #5683
@zymap @candlerb Would you like to fix this?

[2019-11-21 04:03] jiazhai commented on #5678
@ssrkr you are right. use a new `subscriptionName ` for each consumer could achieve the fan-out use case.

[2019-11-21 04:04] jiazhai commented on #5678
I would like to close this issue. welcome to open other issue when meet new problem.

[2019-11-21 04:04] #5678 closed

[2019-11-21 04:05] jiazhai commented on #5676
Thanks @frejonb for the contribute.

[2019-11-21 06:41] #5634 closed

[2019-11-21 07:26] #5656 closed

[2019-11-21 07:33] laxpio commented on #5694
the readPosition will be  null when ledger list is null or can not find the nextValidPosition
the code as follow:
managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java
[code]
managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpReadEntry.java
[code]

[2019-11-21 07:36] jinxfei commented on #5637
Thank you for the information!

[2019-11-21 07:41] laxpio commented on #5704
case 1:
update/modify route function，before update function，need restrict message write to the topic，prevent dirty data from being written to other topics
case 2:
Misoperation

[2019-11-21 08:55] pedro93 commented on #5687
Hello @jiazhai I can try to provide a fix.

Do you confirm that this is indeed a bug and not some misconfiguration on my part?

As to the fix, I’ve tried locally to uncomment said property in the bookkeeper.conf file and build the project but the built docker images when run still have the property commented. Any idea why?

[2019-11-21 10:12] Geal opened #5712 "check super user status through the authorization provider instead of the configuration file"
**Is your feature request related to a problem? Please describe.**
Hello, I am building an authentication provider and an authorization provider, and I noticed that for some calls from pulsar-admin, the authorization provider is not called.

Examples:
- `pulsar-admin tenants list` returns "This operation requires super-user access"
- `pulsar-admin namespaces list <tenant>` returns "Don't have perm

[2019-11-21 15:55] Geal opened #5720 "authorize tenant level and namespace level access from the authorization provider"
**Is your feature request related to a problem? Please describe.**
I am currently writing an authentication provider and an authorization provider, and the authorization API only provides the `isSuperUser` method for admin level usage. There is no way to authorise a client depending on the affected tenant or namespace. In my use case, I want my clients to have their own tenant, and be able to give

[2019-11-21 19:37] #5658 closed

[2019-11-22 02:57] zymap commented on #5287
@tooptoop4 Sorry for the late response.

If you want to use multi hosts you should use `,` to connect each broker host, not `;`.

@sijie Will add. Thanks for your reminder.

[2019-11-22 09:15] chrsoo commented on #5534
Great initiative! I know you have to start somewhere and cannot do everything at once but have you thought about CRD's for Sources and Sinks? What about configuration like Channels, Tenants and Namespaces?

I would really like to get out of an imperative approach based on pulsar-admin for managing the cluster. Still trying to figure out how to get the whole configuration for a geo-replicated clust

[2019-11-22 10:11] wolfstudy commented on #5534
Maybe the [pulsar-manager](https://github.com/apache/pulsar-manager) is a good idea for you.

[2019-11-22 10:27] chrsoo commented on #5534
@wolfstudy thanks for the tip (I am aware) but how is [pulsar-manager](https://github.com/apache/pulsar-manager) not **imperative**?

A web UI where you do point-and-click is virtually the same thing as issuing commands on the command line. At each instance in time you tell the system what to do instead of telling it the desired target state and have it figure out the changes by itself.

In the en

[2019-11-22 10:39] sky-big commented on #5534
@chrsoo Cloud you please give a sepcific example based on your sence? then we can add this function in the pulsar operator.

[2019-11-22 14:20] KannarFr opened #5723 "Quota, retention (macro management) on tenant level."
**Describe the solution you'd like**
Currently quota, retention, everything regarding limits are namespaces level or topic level.

I think we should rework that part to be mastered by a tenant level definition.

Here is an example: I can define a global quota for all content of a tenant to 10GB retention size. So all namespaces and topics on it couldn't define a retention size that can takes over

[2019-11-22 14:26] tuteng opened #5724 "[pulsar-broker]Support batch authorization of partitioned topic"
At present, if a topic is a partitioned topic, the sub-partition topic below it is not authorized when grant it, resulting in an error in connection creation. So if the topic is found to be a partitioned topic when authorizing or canceling permissions, all partitioned topics should be authorized or revoke permissions.

Implement similar `pulsar-admin topics skip` https://github.com/apache/pulsar/b

[2019-11-22 15:22] Geal commented on #5598
FYI I just implemented it in our authentication provider, it's straightforward to add https://github.com/CleverCloud/biscuit-pulsar/blob/master/src/main/java/com/clevercloud/biscuitpulsar/BiscuitAuthenticationPlugin.java#L68-L73

[2019-11-22 18:22] chrsoo commented on #5534
The difficulty here is where to draw the line between more or less static configuration and what should remain dynamically defined at runtime by the clients/users of the system. This might vary in different contexts.

I think it could be useful to define CRDs for the following Pulsar configuration items:

1. **Tenants** with namespaces and their relation to Clusters
1. **Persistent Topics** and th

[2019-11-22 18:24] devinbost commented on #3727
OpenTracing was recently merged with OpenCensus into the OpenTelemetry framework.

My team (and myself especially) are willing to contribute to this, and our preference is integration with Jaeger (over Zipkin or others).

[2019-11-22 19:36] devinbost commented on #2280
Does that plugin allow a message to be traced through functions across namespaces? It looks like it's not quite that sophisticated.

[2019-11-22 19:43] vivekpd15 commented on #4687
@youurayy Any chances you have a working sample with you? It would be great if you can share.

[2019-11-22 20:45] sijie commented on #2280
@devinbost not. currently the plugin treats Pulsar as a blackbox and only traces messages for producers and consumers. I had a discussion with Skywalking creator about tracing messages flowing through functions. but we haven't done anything yet. If you have any ideas or requirements, feel free to add your thoughts here. We can incorporate your ideas when we start working on the functions tracing.

[2019-11-22 22:29] phreed opened #5725 "Relax PULSAR_HOME requirement."
**Is your feature request related to a problem? Please describe.**

I am developing gradle plugins for nifi and pulsar. The main gradle task for the nifi-gradle-plugin is to produce nar files from gradle. The main task for the pulsar-gradle-plugin is to run sink-connectors, source-connectors, functions as localrun processes. This makes debugging of these components from withing IDE (idea) simpler.

[2019-11-22 22:46] phreed opened #5726 "Unhandled NoClassDefFoundError in SourceConfigUtils.java (and friends)"
**Describe the bug**

I am running a custom LocalRunner under the control of Gradle.
There is a problem in SourceConfigUtils::validate()
When the jarClassLoader is used a ClassNotFoundException is caught.
The catch results in using the narClassLoader which would succeed.
But instead a  NoClassDefFoundError is produced for which there is no catch and consequently the narClassLoader is not used.

**

[2019-11-22 23:08] #5676 closed

[2019-11-22 23:20] youurayy commented on #4687
@vivekpd15 not yet, hopefully I can contribute at some later point. (private repo & too many other modifications)

Also on my local test env, the `externalTrafficPolicy: Local` (nor `service.beta.kubernetes.io/external-traffic`) wasn't honored (possible causes: CNI/Flannel, Hyper-V networking, or possibly https://github.com/kubernetes/kubernetes/issues/74383), so I had to use the proxy for externa

[2019-11-22 23:50] TC-oKozlov commented on #5284
We are getting a similar issue from our custom client code when running a load test from 10 concurrent producer processes. In our setup we create a new producer before sending each message, send message, and close producer.  We start getting "topic temporarily unavailable" after about 8000 producers / messages were created. This is runs through Pulsar Proxy ->Broker deployed on kubernetes. It seem

[2019-11-23 02:26] codelipenghui opened #5727 "NPE when create message meta builder"
**Describe the bug**
Here is the stack trace:
[code]

**Additional context**
Pulsar client version:2.4.0

[2019-11-23 02:50] huangdx0726 opened #5728 "[doc] Missing right Parentheses"
**Describe the bug**
Missing right Parentheses

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://pulsar.apache.org/docs/en/concepts-messaging/'
2. Click on 'Messaging'
3. Scroll down to 'Producers>Send modes'
4. See error
![图片](https://user-images.githubusercontent.com/29513837/69471843-f571d400-0dde-11ea-932b-cefdd98d2f91.png)

[2019-11-23 02:57] huangdx0726 commented on #5728
The right parentheses should be added after the word of 'the right Parentheses should be added after the word of 'web'. Is right？

[2019-11-23 03:58] huangdx0726 opened #5729 "[doc] Picture and text are not match"
**Describe the bug**
Picture and text are not match.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://pulsar.apache.org/docs/en/concepts-messaging/'
2. Click on 'Messaging'
3. Scroll down to 'Subscription modes > Exclusive'
4. See error

**Expected behavior**

May be the Consumer-A  should be Consumer A-0.

**Screenshots**
![图片](https://user-images.githubusercontent.com/29513837

[2019-11-23 12:23] jiazhai commented on #5727
found a similar one: https://github.com/netty/netty/issues/9640

[2019-11-23 12:47] codelipenghui commented on #5727
The following demo can reproduce:

[code]
It's better to add check for TypedMessageBuilder, because it can only send once.

[2019-11-24 03:54] sky-big commented on #5534
@wolfstudy  @sijie  @jiazhai  Can you disscuss it together?

[2019-11-24 04:02] sky-big commented on #5534
@chrsoo I generally understand what you mean, Starting with Tenants CRDs, Can you make a specific design and let everyone discuss？

[2019-11-24 05:52] sijie commented on #5534
@chrsoo @sky-big @wolfstudy I think what @chrsoo request is an operator for the full lifecycle management for all the resources within a Pulsar instance. This includes both ClusterOperator and ResourceOperator.

A ClusterOperator is what @sky-big is doing and most of the *operators* are doing. It is used for setting up a cluster and managing the upgrade, downgrade and scaling up-and-down a cluster

[2019-11-24 18:29] chrsoo commented on #5534
@sijie yes, exactly. Should we take your comment regarding StreamNative to mean that you are planning to open source an Operator for Pulsar on Kubernetes that deals with the full scope of CRD's for Pulsar management? How soon is "soon"?

@sky-big regarding a specific design I would design it as explained above but I will see if I can produce a more detailed design specification as a PR.

[2019-11-25 01:26] jiazhai opened #5732 "Automatic configure max publish rate limit based on NIC bandwidth"
In PR #5710 , we provide a broker publish rate limiter, which provide a dynamic system config to set the rate limit.
we should consider automatically configuring the max bytes based on the NIC bandwidth that broker detects from the system. Pulsar already has this mechanism detecting the NIC bandwidth for load report. We should piggyback this functionality to re-use that feature.

[2019-11-25 01:28] jiazhai commented on #5729
@huangdx0726 Would you like to provide a fix for this?

[2019-11-25 02:19] sky-big commented on #5534
@chrsoo OK, Looking forward to you PR.

[2019-11-25 06:31] sijie commented on #5684
@candlerb

1) first question, how to understand "storage size"?

The total size = sum(size of each ledger) + currentLedgerSize.

"size of each ledger" is the `size` field of a ledger stat in `ledgers` list. The size of the last ledger (active and not-closed ledger) is shown in `currentLedgerSize`.

The size of each ledger is the total of the entry size. Each entry is comprised of size of entry dat

[2019-11-25 08:40] jiazhai commented on #5684
There was a fix for the storageSize always 0 issue: #5108

[2019-11-25 08:41] jiazhai commented on #5684
But #5108 is not contained in 2.4.1

[2019-11-25 08:44] jiazhai commented on #5633
This involves convert Avro schema that stores in Kafka registry into Pulsar readable data. We will provide a fix for this issue.

[2019-11-25 09:00] Jennifer88huang commented on #5684
Since I've merged #5707, this issue is closed automatically.
@candlerb If you have any further question on this, you can reopen this issue.

[2019-11-25 09:01] candlerb commented on #5684
Thank you for the explanations, and I'll expect to see correct behaviour in 2.4.2

[2019-11-25 09:03] sijie commented on #5684
@Jennifer88huang you can remove "Fixes" from #5707 when merging it. so it willl not automatically close the issue. When @candlerb acknowledges in #5684, we can then close #5684.

[2019-11-25 09:06] PierreZ opened #5735 "Provide raw counters metrics"
**Is your feature request related to a problem? Please describe.**
Pulsar is offering many [built-in metrics](https://pulsar.apache.org/docs/en/reference-metrics/), which is pretty awesome. You can find metrics on any layer, from the pulsar-proxy to Bookkeeper. There are easy to plot within Grafana as most of the rate are already computed, for example `pulsar_throughput_in` is directly offering **

[2019-11-25 09:06] Jennifer88huang commented on #5684
Ok,  got it.

[2019-11-25 09:19] wolfstudy opened #5736 "Add test check in branch"
**Is your feature request related to a problem? Please describe.**

Currently, the test check of branch not work, there are two main problems:

- the java8 tests missing
- the cpp tests not work

**Describe the solution you'd like**

Add test check in branch.

**Additional context**

#5733
![image](https://user-images.githubusercontent.com/20965307/69527615-a6c36600-0fa7-11ea-91da-4a51eaa7a031.png

[2019-11-25 12:04] wolfstudy commented on #5312
@devinbost I will close this pull request first. If you have any issues, please let me know, thanks.

[2019-11-25 12:04] #5312 closed

[2019-11-25 12:10] zymap commented on #5580
@ChangWinde Have you configure the broker? You can follow this document https://pulsar.apache.org/docs/en/security-kerberos/ to config the broker. If you using proxy service, you need to configure the proxy too.

[2019-11-25 12:34] jiazhai opened #5739 "Use message bytes instead of message number for producer pending messages"
In PR #5045 we introduce use bytes instead of message number to limit a batch message.  It would be good to following the same way to use bytes instead of message number for  the `maxPendingMessages` and `maxPendingMessagesAcrossPartitions`

[2019-11-25 13:17] jiazhai opened #5740 "handle broker shutdown when no zk session"
currently, when no zk session, broker is shutdown.
In issue https://github.com/apache/pulsar/issues/308
It mentioned how to handle no zk session for broker, this is to tracking that work.

[2019-11-25 16:34] zhaohaidao commented on #5724
Is there someone working on it?
If not, I want to have a try.

[2019-11-25 20:09] sijie commented on #5269
Assigned to @tuteng for applying his suggestions.

[2019-11-25 20:09] sijie commented on #4737
This has been addressed by #5227

[2019-11-25 20:09] #4737 closed

[2019-11-25 20:10] sijie commented on #5562
@Jennifer88huang @congbobo184 can you please add the documentation for 2.5.0 features. It is a blocker for 2.5.0 release.

[2019-11-25 20:11] sijie commented on #4626
This is fixed by #4811

[2019-11-25 20:11] #4626 closed

[2019-11-25 21:00] #5692 closed

[2019-11-25 21:06] sijie commented on #5682
@codelipenghui @Jennifer88huang can you work together to add the documentation for sticky consumer? It is a blocker for releasing 2.5.0.

[2019-11-25 21:14] sijie commented on #4077
@codelipenghui I added one item to the key_shared subscription - adding the support for a sticky-range reader. The requirement is coming from Flink connector. We need to read a sub-stream (a range) from a given message id. This should be pretty straightforward to add since a reader is an exclusive non-durable subscription. So we can just seek to the provided message id and filter the messages base

[2019-11-25 22:16] sijie commented on #5222
@congbobo184 Can you please update the documentation for #5227 ?

[2019-11-25 22:24] sijie commented on #3715
Closed this issue since the bookkeeper version is updated to 4.10 including the bookkeeper client fix.

[2019-11-25 22:24] #3715 closed

[2019-11-25 22:27] sijie commented on #4782
This has been fixed by #4800

[2019-11-25 22:27] #4782 closed

[2019-11-25 22:29] sijie commented on #4753
@Jennifer88huang @wolfstudy can you add the functions documentation for 2.5.0? It is better to make documentation as completed as possible in 2.5.0.

[2019-11-25 22:30] sijie commented on #4752
@Jennifer88huang as we chatted before, we should consider adding those missing tabs. It is a way to tell user that this feature is not implemented. Otherwise people is confused about whether this feature is not implemented or not documented.

[2019-11-25 22:31] sijie commented on #4704
@Jennifer88huang please work with @congbobo184 adding the documentation for HDFS offloader. it is a blocker for 2.5.0.

[2019-11-25 22:31] sijie commented on #4607
This is fixed by #4646

[2019-11-25 22:31] #4607 closed

[2019-11-25 22:34] sijie commented on #4788
This has been implemented by #5123

[2019-11-25 22:34] #4788 closed

[2019-11-25 22:37] sijie commented on #4742
This has been fixed in the latest master.

[2019-11-25 22:37] #4742 closed

[2019-11-25 22:39] rdhabalia commented on #5513
There's already a limit per-connection of max outstanding entries between broker and bookies. Do you have a precise scenario for this to happen?

create a topic with 20 partitions. with parallelism == 20. The producer setting in the pulsar sink is the default producer setting.

I gave a try with similar setup and  somehow I couldn't reproduce it. and reason broker doesn't go OOM because I think wh

[2019-11-25 23:15] sijie commented on #5513
@rdhabalia

I am not sure how do you setup. Are you running the flink connector? or you simulate it? Did you run enough parallelism to stress test the cluster?

OOM is a common scene during our test.

But the broker is still facing OOM when the number of connections increase, no?

The feature we are adding is controlled by a flag. People need to pre-configure what is the rate that a broker can acc

[2019-11-25 23:30] rdhabalia commented on #5513
no, I have pref broker setup and trying to publish messages with multiple processes of perf-producers.

my only point is to figure out root cause of OOM and address it. if broker is going OOM with 20 topics and 20-400 producers then do we think auto-read is not working as expected and broker is still accepting messages after auto-read disable and keeping them in memory is causing OOM?

[2019-11-25 23:52] sijie commented on #5513
Yes. we think auto-read is not working as expected, because `maxPendingRequestPerConnection` is not a useful mechanism. 1) it is not a broker level mechanism. it only limits per connection. when a broker has increase number of connections, the limit is changed; 2) it is not a `bytes` mechanism. it limits on number of requests, the request size can change when the batching behavior changes in the c

[2019-11-25 23:57] sijie commented on #5513
@rdhabalia putting OOM question aside, what are the concerns of adding a broker-level rate limiter as a feature? Just looking into features that Pulsar has, it usually has broker-level settings and namespace-level settings. As a feature, doesn't it make sense to also have a broker-level rate limiter in addition to namespace-level rate limiter?

[2019-11-25 23:59] Jennifer88huang commented on #4704
@sijie Got it, I've contacted with @congbobo184 on this issue last week, and @Anonymitaet is dealing with this issue this week.

[2019-11-26 00:00] Jennifer88huang commented on #4752
@sijie Got it.

[2019-11-26 00:01] Jennifer88huang commented on #4753
Got it.

[2019-11-26 00:04] Jennifer88huang commented on #5562
Got it.

[2019-11-26 00:08] rdhabalia commented on #5513
I wanted to figure out root cause of OOM as we are trying to target that issue mainly. I had verified autoread behavior while implementing #3985 so, was curious about the actual issue. also, all threads are going to do rate limit using one counter and that could be bottleneck as well so, one wants to avoid it as well.

[2019-11-26 00:25] sijie commented on #5513
what else we can provide you to figure out the root cause of OOM?

We also verified #3985 works as expected. As I explained, auto-read mechanism is not a problem. The problem is we need to a broker-level metric/mechanism to disable auto-read, which is not a namespace based or a connection based mechanism. That's why we need a broker-level rate limiter.

1) this is a feature that users can turn it

[2019-11-26 00:35] sijie commented on #5513
The current implementation of RateLimiter is using LongAdder for counting the bytes and msgs. A LongAdder maintains multiple cells for counters. They are only aggregated when `sum` is called. The `sum` is called when the monitor, which is done periodically in the background thread. I am not sure how this would be a bottleneck.

LongAdder is also used for other metrics. Shouldn't they be all concer

[2019-11-26 00:36] rdhabalia commented on #5513
sure. If you feel this will be useful for your usecase and useful to your users then we can add it. 👍

[2019-11-26 01:52] jiazhai commented on #5513
@rdhabalia @sijie Thanks for your comments. And many thanks for @rdhabalia 's PR #3985, It worked well in our test.
And as the steps that @sijie mentioned, It could be reproduced easy in user side. And user complained a lot for this OOM. This should be a good way to solve this issue.

[2019-11-26 02:42] Anonymitaet commented on #4704
@congbobo184 could you please provide technical inputs? Then I can review from the perspective of technical writing, thank you

[2019-11-26 03:05] yjshen commented on #5495
I'm facing the same situation while developing pulsar-flink-connector.

My scene is as follows:
I was developing a Pulsar catalog in Flink and mapping `tenant/namespace` to `database`,`topic` to `table`. Therefore, for each role, I need to list all topics it has access to, and users could fire queries based on his/her tables.

[2019-11-26 03:12] Anonymitaet commented on #5562
I'm handling this task and @congbobo184 will provide technical inputs.

[2019-11-26 06:19] jiazhai commented on #5720
Hi Geal, there was a discussion of role and authorize in pulsar dev mail list. And also a PIP is here: https://github.com/apache/pulsar/wiki/PIP-49%3A-Permission-levels-and-inheritance

Would you please check if these could help your case.

[2019-11-26 06:27] jiazhai commented on #5723
👍 . @KannarFr Would you like to contribute to this feature？ It would be good to start a pip to discuss what to do and how to do it.

[2019-11-26 06:48] jiazhai commented on #5725
It seem OK to me.
@jerrypeng @sijie. Is there any particular reason to use `System.getenv("PULSAR_HOME")` instead of `System.getProperty("PULSAR_HOME")` in PulsarLocalRunner?

[2019-11-26 06:48] jiazhai commented on #5724
@zhaohaidao You are welcome to do it. Please go ahead. Feel free to ping @tuteng if you meet problem

[2019-11-26 07:04] jiazhai commented on #5735
Thanks @PierreZ for working on this. it sounds good to me.  Add @sijie @merlimat, to see if they have more suggestions.

[2019-11-26 07:05] congbobo184 commented on #5222
I will update documentation soon.

[2019-11-26 07:08] #5728 closed

[2019-11-26 07:19] jiazhai commented on #5711
Seems local deploy works well, This may related to K8s configs. @lxkaka Would you mind share a little details of how you deployed you pulsar in K8S?

[2019-11-26 07:26] jiazhai commented on #5726
@phreed Thanks for your detailed issue reporting. Would you like to provide a PR for your fix?

[2019-11-26 07:27] #5513 closed

[2019-11-26 07:50] tuteng commented on #5724
Welcome, if you have any questions, you can ping me at any time. @zhaohaidao

[2019-11-26 07:52] PierreZ commented on #5495
I cheated for my part, I'm injecting the tenant/namespace in the user field of the SASL_PLAIN to find topics. Leaving the issue opened as the main problem is still here, like for @yjshen.

[2019-11-26 08:28] sijie commented on #5735
@PierreZ +1

Can I suggest using names like "pulsar_in_bytes_total" or "pulsar_in_bytes_counter", "pulsar_in_messages_total" or "pulsar_in_messages_counter"?

[2019-11-26 08:39] Jennifer88huang commented on #5728
@huangdx0726 @atlantic2099 Thank you very much for your contribution.

[2019-11-26 08:48] codelipenghui opened #5746 "NPE occur when send an over size message."
**Describe the bug**
Here is the error log:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Send a message which over than 5MB
2. check the client log
3. See error

**Expected behavior**
Add check not null when process send message op

**Additional context**
Happens in master branch

[2019-11-26 08:53] codelipenghui opened #5747 "Release ByteBuf failed when send a over size message in message batch container"
**Describe the bug**
Here is the error log when publish a over size message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Send a message which over than 5MB
2. check the client log
3. See error

**Expected behavior**
Don't release the ByteBuf since it is already released

**Additional context**
in master branch

[2019-11-26 09:55] vishalananth07 opened #5749 "Bookie does not start because of UnknownHostException"
We are trying to set up Pulsar using 3 systems each with 8GB RAM and AMD A8 processors. We are planning on running bookkeeper, zookeeper, broker on the same machines.

**Describe the bug**
[main] ERROR org.apache.bookkeeper.server.Main - Failed to build bookie server
java.net.UnknownHostException: Trying to listen on loopback address, 127.0.1.1:3181 but this is forbidden by default (see ServerConf

[2019-11-26 10:36] PierreZ commented on #5735
I like `pulsar_in_bytes_total`!

[2019-11-26 11:03] KannarFr commented on #5723
@jiazhai will write one.

[2019-11-26 11:28] wolfstudy commented on #4753
Sure, will add it.

[2019-11-26 11:31] codelipenghui opened #5751 "[DISCUSS] Avoid broker OOM"
**Is your feature request related to a problem? Please describe.**
Currently, we have do some performance tests, if broker with a smaller direct memory(e.g. 2G) and run pulsar-perf to write messages, the broker becomes unstable, because broker read messages from the channel automatically and the ByteBuf released until the entry write to Bookie successfully or timeout.

#3986 and #5710 introduce th

[2019-11-26 12:52] lxkaka commented on #5711
Other components work well, sometimes proxy return 200, but more proable return 520. so service of proxy is configured correctly.
[code]
I doubt that I give too few memory?

[2019-11-26 13:02] vivekpd15 commented on #4718
I am facing the same issue. @f-ld were you able to resolve this?

[2019-11-26 13:04] cbornet opened #5752 "Expose key shared consumer selector range in API"
**Is your feature request related to a problem? Please describe.**
When using Key-Shared subscription, there's currently no way to know which consumer will read a given message based on its key.

**Describe the solution you'd like**
It would be nice if the selector range handled by a consumer is exposed in the relevant subscription stats API/endpoints.
For instance in /{topic}/stats.

Related to #

[2019-11-26 13:07] wangyunpeng666 opened #5753 "[Doc] link for TLS Authentication on Proxies is dead"
Expected behavior
Show a page / Enabling TLS Authentication on Proxies
Actual behavior
404
Steps to reproduce
1、Open https://pulsar.apache.org/docs/zh-CN/security-authorization/
2、Click a link for  Enabling TLS Authentication on Proxies

[2019-11-26 13:11] wangyunpeng666 commented on #5753
@Anonymitaet Thank you for solving my problem

[2019-11-26 16:51] #5287 closed

[2019-11-27 03:46] jiazhai commented on #5746
Thanks @codelipenghui for the fix.

[2019-11-27 03:49] Jennifer88huang commented on #5753
@Anonymitaet @wangyunpeng666 Have you solved the issue?

[2019-11-27 03:51] kaykillyou commented on #5668
@jiazhai Thanks for your reply!
today my bookie server found this issue again, when i restart bookie service ,it also hapen. And each bookie's heap memory usage reaches 97%.
I try to start the broker with command "./pulsar-daemon start broker -nss", then failed!
I don’t know if I use it like this！

Looking forward to your reply！

log error:
11:27:48.175 [BookieReadThreadPool-OrderedExecutor-1-0] I

[2019-11-27 03:54] jiazhai commented on #5752
Thanks @cbornet for watching on this.  will put this in our backlog. It would be great if you or any other would like to contribute to it.

[2019-11-27 03:58] jiazhai commented on #5751
Thanks @codelipenghui for the discussion. right, This is more directly for the OOM issue.
add @sijie @rdhabalia @merlimat to the discuss.

[2019-11-27 03:58] wolfstudy commented on #5695
@lspgn Could you please provide your msg struct content? In here, there is an example about sendWithMsgID, please use it as a reference : [example-SendWithMsgID](https://github.com/apache/pulsar/blob/master/pulsar-client-go/examples/sendWithMsgID/producer.go#L54)

[2019-11-27 04:03] jiazhai commented on #5749
@vishalananth07 regarding this issue:
[code]
this is because listen on 127.0.0.1 while you are setting "allowLoopback=false" in bookkeeper.conf.
you could try to set `useHostNameAsBookieID=true` in bookkeeper.conf

[2019-11-27 04:04] jiazhai commented on #5747
Thanks @codelipenghui for the issue and PR.

[2019-11-27 04:14] wolfstudy commented on #5652
In fact, after I tried many times in my locally, i can't  reproduce the issue. As @candlerb said:

**So actually reproducing this again may be harder.**

[2019-11-27 04:23] wolfstudy commented on #5669
@laxpio If you enabled `Deduplication` feature. If possible, please provide more detailed information, thanks.

[2019-11-27 04:37] Anonymitaet commented on #5753
@Jennifer88huang not yet, I'll fix when I'm available.

[2019-11-27 08:35] Anonymitaet commented on #5753
@Jennifer88huang could you please help tag `help-wanted`?

[2019-11-27 09:40] nathan-zhu commented on #4540
same error for me in mac 10.14.6
[code]
i already installed protobuf with brew.

[2019-11-27 10:19] Jennifer88huang commented on #4752
@sijie #5750 can be finished before 12/3, maybe we can add this to 2.5.0.

[2019-11-27 10:24] Fomal-haut opened #5755 "UnAckedMessages admin information not correct"
We are trying to test UnAck message redelivery function.

Version: 2.4.1 standalone

**Describe the bug**
We use pulsar admin CLI to check topic stats. The unackedMessages field number is negative which makes no sense to me.

**To Reproduce**
Steps to reproduce the behavior:
1. Set "maxUnackedMessagesPerConsumer" to be 0 (Non 0 value won't trigger this bug)
2. Start pulsar(standalone)
3. Use java

[2019-11-27 13:02] KannarFr commented on #5723
Here is the mailing discussion start
[code]

@merlimat is it ok to be sent on the mailing list?

[2019-11-27 13:21] KannarFr commented on #5449
@sijie do you have news about this point?

[2019-11-27 13:22] KannarFr commented on #5449
@sijie As a reminder you told me this by Slack:

I thnk we need to fix this bug or revert the approach back to the shade approach

[2019-11-27 15:41] Jennifer88huang commented on #5753
@Anonymitaet We can add `help-wanted` tag. If the link affects user experience, and no contributors fix it within two days, we need to fix it promptly.

[2019-11-27 16:24] youurayy commented on #4941
@sijie - please is it known when should 2.4.2 proper be out (image pushed)?  There's no new commits on the milestone for last 7 days.

[2019-11-27 16:38] sijie commented on #4941
@youurayy the 2.4.2 is under voting. once it passes voting, it will be released. I would expect it is going out around Friday. You can follow the process by subscribing to dev@pulsar.apache.org mailing list, or you can read community weekly updates (https://streamnative.io/weekly/2019/2019-11/2019-11-22-pulsar-weekly/) as well.

[2019-11-27 16:56] wmccarley opened #5759 "Inactive non-persistent subscriptions not purged"
**Describe the bug**

I have set up a cluster with brokers that only serve non-persistent topics. Furthermore, I have set the topic/subscription purge intervals/frequencies to low values to satisfy the use case I am focused on. However I am not seeing topics get cleaned up due to inactivity.

In the original pull request (1352) by @yush1ga  that implemented the inactive subscription purge feature

[2019-11-27 18:15] sijie commented on #4752
This issue is for adding Go SerDe documentation. #5750 is for adding notes indicating that the feature is not available in Go Functions. So we need to leave this issue open until we add SerDe to go function. Thus I remove milestone from this issue, but leave #5750 for 2.5.0. I will also remove "Fixes #4752" from the description of #5750, because we shouldn't close this issue when merging #5750

[2019-11-27 18:38] #5729 closed

[2019-11-27 20:37] aahmed-se commented on #4540
@nathan-zhu try this
[code]

[2019-11-27 21:46] #5712 closed

[2019-11-27 22:04] #4715 closed

[2019-11-28 02:25] codelipenghui opened #5760 "IndexOutOfBoundsException in PerformanceProducer"
**Describe the bug**
Here is the error log:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use pulsar-perf to run long times(e.g. 8 hours)
2. Can see the above error log
3. The pulsar-perf will exit

[2019-11-28 02:25] laxpio commented on #5669
enabled Deduplication，
the logs are cleaned.

[2019-11-28 04:04] belinda-wong commented on #5753
what is the target page for "Enabling TLS Authentication on Proxies"？ can you give the target link?

[2019-11-28 04:05] belinda-wong commented on #5753
@wangyunpeng666  what is the target page for "Enabling TLS Authentication on Proxies"？ can you give the target link?

[2019-11-28 05:05] wangyunpeng666 commented on #5753
[https://pulsar.apache.org/docs/zh-CN/security-authorization/security-tls-authentication#on-proxies](url)

[2019-11-28 05:06] wangyunpeng666 commented on #5753
[https://pulsar.apache.org/docs/zh-CN/security-authorization/security-tls-authentication#on-proxies](url)

[2019-11-28 07:04] codelipenghui opened #5763 "Broker graceful shutdown when znode of loadbalance disappeared"
**Describe the bug**
[code]

**Expected behavior**
Catch the no node exception and create the disappeared znode

[2019-11-28 09:52] rcollina commented on #2307
Without an official, supported .NET Core client it becomes hard to suggest Pulsar versus e.g. Kafka.
Would you please reconsider your stance on this matter?

[2019-11-28 10:10] jiazhai commented on #5755
@Fomal-haut Thanks for reporting this.

[2019-11-28 13:11] mickdelaney commented on #2307
@rcollina this might also be viable: https://github.com/apache/pulsar/issues/271

[2019-11-28 13:33] Jennifer88huang commented on #4752
@sijie Got it.

[2019-11-28 13:33] #5614 closed

[2019-11-28 14:52] Jennifer88huang commented on #5753
@belinda-wong The following image will help you to resolve the issue.
![image](https://user-images.githubusercontent.com/47805623/69815498-670faf00-1231-11ea-8092-61e93692594e.png)
You need to update it as "see ["Enable TLS Authentication on Proxies"](security-tls-authentication.md#enable-tls-authentication-on-proxies)". After you update, you can run website locally and verify the change.

[2019-11-28 15:08] rcollina commented on #2307
@mickdelaney thanks for the link

[2019-11-28 15:21] jiazhai commented on #5755
This issue contains a detailed re-produce steps. mark as help wanted.

[2019-11-28 15:26] jiazhai commented on #5759
Thanks for the detailed reports @wmccarley . This is a feature that need to fix for non-persistent topics. This should be a direct fix that need following #1352 have done, mark this as help wanted.

[2019-11-28 15:43] jiazhai commented on #5763
Hi @codelipenghui Thanks for the reporting. Seems the fix is direct,  need to "Catch the no node exception and create the disappeared znode" , right?

[2019-11-28 16:11] jiazhai commented on #5760
hi @codelipenghui I could reproduce this in a short way.
1. start a standalone: `bin/pulsar standalone`
2. run  pulsar-perf  to produce message: `bin/pulsar-perf  produce  persistent://public/default/test-topic  --num-producers 1 -r 2000`
3. kill pulsar standalone, and no touch pulsar-perf(let it still running)
4. after a while (5-10 minutes) restart standalone, then will find this issue in pulsar

[2019-11-28 16:53] sijie commented on #271
@mickdelaney @TC-oKozlov thank you for your input.

just to understand a bit more about the requirements, are you expecting a gRPC based proxy or pulsar broker protocol exposed in gPRC? This would lead into two different approaches.

A gRPC based proxy means providing a much simpler protocol than the current broker protocol. So it is easy to have different language gRPC clients. But it will has it

[2019-11-28 17:11] sijie commented on #2307
@rcollina

Sure.  I hear your concerns. Just to understand it more, if I understand correctly, Kafka doesn't provide an _official_ dotnet client in the apache repo. The dotnet client was maintained by confluent outside of the ASF. What is your thought about this? Is this model okay to you?

The model that Pulsar is using is very similar as Kafka. The Pulsar core repo maintains two core implementat

[2019-11-28 17:19] cbornet commented on #271
I think moving to gRPC for the Pulsar clients would have some benefits. For instance it already handles flow control and bi-directional streaming.
Another interesting alternative could be RSocket which has some very nice features such as session resumption and message-level backpressure. In JAVA, it would be possible to have a fully reactive-streams API using these protocols.

[2019-11-28 17:21] mickdelaney commented on #271
@sijie thanks for the detailed feedback. i was thinking of the former, my thinking being that it would atleast remove some of the concerns in maintaining the various language level clients.

[2019-11-28 22:04] #3009 closed

[2019-11-28 22:29] rcollina commented on #2307
@sijie thank you for your thorough reply, much appreciated.

Confluent is an official enough a name when it comes to evaluating Kafka’s pros and cons.

I can’t honestly comment on which scenario would work best, whether to follow Kafka’s model regarding project ownership.

What I know, given my current understanding of Pulsar’s featureset, it’s that it is closer to my requirements than Kafka’s. Ho

[2019-11-28 22:38] #5746 closed

[2019-11-29 05:20] #5682 closed

[2019-11-29 06:25] alphashaw opened #5770 "Pulsar Broker Sometimes does not return CommandSendReceipt/CommandSendError to prducer send CommandSend"
I'm writing a Pulsar client library for Erlang. I first started with the producer implementation.
I'm doing non/partitioned topics publishing  and everything at protocol level works fine.
However, when I'm doing a batch partitioned topic produce( max. 1000 msgs) with a max. **batch delay** of 1ms, I noticed that some **CommandSend** requests doesn't get an equivalent **CommandSendReceipt** respons

[2019-11-29 07:46] codelipenghui commented on #5763
Yes, i think so, will fixed soon

[2019-11-29 08:52] PierreZ opened #5772 "Bump Lombok version to allow building with a JDK >=12"
**Describe the bug**
Running `mvn clean install` on branch master using JDK13 results on a Lombok annotation failure.

**To Reproduce**
Steps to reproduce the behavior:
1. Pull JDK13
2. Run `mvn install`

**Expected behavior**
Build success

**Screenshots**
[code]

It is an [closed Lombok issue](rzwitserloot/lombok/issues/1888), so we should be fine by upgrading Lombok.

**Desktop (please complete

[2019-11-29 09:24] sijie commented on #5699
This was fixed by #5721

[2019-11-29 09:24] #5699 closed

[2019-11-29 09:28] sijie commented on #5686
@codelipenghui Can you create an issue at  apache/bookkeeper? I think it is a problem at bookkeeper.

[2019-11-29 09:44] jiazhai commented on #5770
@alphashaw Great to know that you are working on an Erlang client.
In current client, each partition is handled in an individual connection. so for several partitions in broker side the order between partitions is not guaranteed.

[2019-11-29 10:08] zymap commented on #5384
Hi @Lanayx  I try running the pulsar 2.4.1 on the Kubernetes with Helm template. It works well after I trigger the compaction. I am sorry but I can not reproduce this problem.

Did you do some other operations after you start the cluster?

[2019-11-29 10:36] codelipenghui commented on #5686
@sijie I have create issue https://github.com/apache/bookkeeper/issues/2208 in apache/bookkeeper, so can we close this issue now?

[2019-11-29 10:48] PierreZ commented on #5735
I started working on it. From what I see, the rate is computed through [Rate](https://github.com/apache/pulsar/blob/master/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/util/Rate.java), which seems to be hold by [Producer](https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Producer.java) which `Represents a currently connected pro

[2019-11-29 11:02] codelipenghui commented on #5747
Close this issue since #5748 is fixed

[2019-11-29 11:02] #5747 closed

[2019-11-29 13:43] NotBad4U commented on #4055
Hello ! Any update on this one ?

[2019-11-29 14:14] Geal commented on #5720
I agree with the thread, the current access levels are problematic for multi tenant systems. The underlying point I'd like to add is that there should be check for individual operations or resources, not just for super user, tenant admin (we already have the `canProduceAsync` function and others that work like that).

[2019-11-29 14:26] rohts-patil commented on #3115
@vamsi360 ,

I cloned your fork and built it to version 1.8.3-ppe-9.10.
I still get the errror.
[code]

[2019-11-29 15:00] Lanayx commented on #5384
@zymap thank you, for checking this out. I don't remember doing anything with cluster, but today I've reinstalled it from ground and the error doesn't come up, so I'm closing the ticket.

[2019-11-29 15:00] #5384 closed

[2019-11-30 00:35] alphashaw commented on #5770
@jiazhai  Thanks for the swift response. It seems that my last questioned wasn't clear semantically. Let me rephrase it:

[2019-11-30 02:06] zhaohaidao commented on #5739
Is there someone working on it?
If not, I want to have a try.

[2019-11-30 05:56] sijie opened #5775 "[documentation] Document how to use broker-tool"
#5768 introduced a broker tool for troubleshooting broker-side issues such as load reporting. This issue is for tracking adding the documentation for broker-tool.

[2019-11-30 06:02] #5772 closed

[2019-11-30 06:06] sijie commented on #5686
Close this issue since it is a dup of apache/bookkeeper#2208

[2019-11-30 06:06] #5686 closed

[2019-11-30 09:25] dramaPainter commented on #5370
does it fixed?  i download the binary file pulsar 2.4.1 from offical page: https://pulsar.apache.org/download/   and i checked the presto version is still 0.206???

[2019-11-30 09:57] candlerb commented on #5370
@dramaPainter:  pulsar 2.4.1 includes presto 0.206.

Note that #5386 was closed without merging, and git head https://github.com/apache/pulsar/blob/master/pulsar-sql/presto-distribution/pom.xml still fetches presto 0.206.

Therefore, unless this changes, the problem will still be in 2.4.2/2.5.0 when they are released.

[2019-12-01 01:03] codelipenghui commented on #5739
welcome @zhaohaidao and looking forward to your contribution.

[2019-12-01 16:47] #5753 closed

[2019-12-02 00:26] acedrew opened #5778 "Python API Docs are not updated"
**Describe the bug**
Python API docs do not represent the 2.4.1 code that the rest of the site is based on.
Specifically, the Client.subscribe method now takes an initial_position argument that is missing from the documentation. It appears that the doc generation pipeline is still broken from #5368

**To Reproduce**
https://pulsar.apache.org/api/python/

**Expected behavior**
The Python API docume

[2019-12-02 00:31] codelipenghui commented on #5755
@Fomal-haut the the unackMessages represent the messages already dispatched to the consumer but the consumer have not acked, the backlog is the total remaining messages of the subscription. So the messages which not deliver to consumers will not be contains by unAckMessages.

The negative number of unAckedMessages looks weird, is your client version also 2.4.1?

[2019-12-02 00:46] tuteng commented on #5778
Please try http://pulsar.apache.org/api/python/2.5.0-SNAPSHOT/

[2019-12-02 01:44] Fomal-haut commented on #5755
@codelipenghui Thanks for the elaboration.
Yes, the client version is also 2.4.1.

[2019-12-02 01:56] codelipenghui commented on #5755
@Fomal-haut Thanks, i will try to reproduce the negative number of `unackedMessages`.

[2019-12-02 02:01] Jennifer88huang opened #5779 "[docs] Reorganize "Tiered storage" content"
**Describe the bug**
There are two sections about "tiered storage" under "Concepts and Architecture" and "Cookbooks", the information splits. It's better to reorganize the the content for "tierage storage" after merging https://github.com/apache/pulsar/pull/5762

[2019-12-02 02:34] codelipenghui commented on #5755
@Fomal-haut I can't reproduce the negative number of `unackedMessages`, can you provide a reproduce demo?

[2019-12-02 02:51] jiazhai commented on #4675
Seems this already fixed in https://github.com/apache/pulsar/pull/5293

[2019-12-02 02:51] #4675 closed

[2019-12-02 03:53] jiazhai commented on #5770
@alphashaw I think in your example,  **res1 < res2**  is not guaranteed.

[2019-12-02 04:26] jiazhai opened #5780 "CPP client: support multiple hosts for C++"
This is a sub issue for #3218
In #3249 java support is provided, this is for support of CPP and other client

[2019-12-02 04:27] sijie commented on #5370
didn't realize #5386 was closed. we will pick it up again.

[2019-12-02 04:29] acedrew commented on #5778
@tuteng Thanks, yes I was able to find the docs and just look at the source to answer my question, but it was confusing to follow the link from the 2.4.1 docs to find a completely different version of the API

![image](https://user-images.githubusercontent.com/977415/69930691-5d38b680-1492-11ea-8dc5-7b601add84ff.png)

[2019-12-02 05:05] Fomal-haut commented on #5755
**Sure. Here is my POC code.**

_**Pulsar admin(create topic and subscription):**_

[code]

_**Pulsar producer(publish messages):**_

[code]

_**Pulsar consumer(receive messages):**_

[code]

[2019-12-02 05:14] tuteng commented on #5778
We have an e-mail to discuss this matter https://lists.apache.org/thread.html/a6a91990907cf8d2458ff8b7e1e916a9bfb17ec0cd216d57c66ab96c@%3Cdev.pulsar.apache.org%3E. We are doing this, this is a pr https://github.com/apache/pulsar/pull/5660. After adding the old version of API documents, we will consider replacing the jump links in the documents. @acedrew

[2019-12-02 06:49] codelipenghui commented on #5755
Is the the negative number of `unackedMessages` can reproduce every time, i have test it by using your POC code, but the stats of the topic is always:
[code]

[2019-12-02 07:08] jiazhai commented on #3218
add a sub task issue for cpp client

[2019-12-02 07:09] #5626 closed

[2019-12-02 08:58] bry00 commented on #4162
I have the same issue. Any update on this?

[2019-12-02 09:24] ChangWinde commented on #5580
thanks for your reply.it seems something wrong with my kerberos, and it can work correctly~

[2019-12-02 11:38] wolfstudy commented on #5580
@ChangWinde Thanks for your reply, I will close this issue.

[2019-12-02 11:38] #5580 closed

[2019-12-02 11:59] shan-96 commented on #3115
I am facing the same problem. It seems we are creating the build in a wrong way

[2019-12-02 12:32] jiazhai commented on #5687
@pedro93,  Thanks for the clarification.  and sorry for the delay.
`apply-config-from-env.py` will use the env vars, which passed into docker, to replace the config file(no mater the value is setting or not in the file). so your change to `deployment/terraform-ansible/templates/bookkeeper.conf` or `conf/bookkeeper.conf` will not take effect.
In your example, the value in `values-mini.yaml` will ta

[2019-12-02 13:21] jiazhai commented on #4510
I would like to contribute to this issue.

[2019-12-02 13:54] jiazhai commented on #5687
@wolfstudy to fix this issue.  This is a bug in apply-config-from-env.py

[2019-12-02 15:46] Fomal-haut commented on #5755
Yes, a little weird... it can be reproduced on my side every time. Looks like you have changed some parameters, 1 out of 2 message is acknowledged in your code.(Mine is 1 out of 1000). Not sure whether this matters.
Another thing is that have you changed "maxUnackedMessagesPerConsumer" to 0 in standalone config file?

[2019-12-02 15:50] jiazhai commented on #5668
@kaykillyou Sorry for the late. If you were starting broker by `./pulsar-daemon start broker`, then I guess you were running in a cluster mode.  In cluster mode '-nss' will not take effect.
besides `./pulsar-daemon start broker`, was there any other conf file changes for `broker.conf`, and which command is used to start a bookie, was there any change for  `bookkeeper.conf`?
looked into the code, s

[2019-12-02 16:01] jiazhai opened #5787 "deploy-kubernetes in minikube tutorial doc seems not work"
**Describe the bug**
In Pulsar website: http://pulsar.apache.org/docs/en/deploy-kubernetes/#minikube
It is suggested use this command:

but this will report error in macos 10.14.2
![image](https://user-images.githubusercontent.com/6348208/69974222-ca664d80-155f-11ea-99eb-f604d09ccec0.png)

**To Reproduce**
Steps to reproduce the behavior:
1. follow instructions  in above like to install the latest

[2019-12-02 16:02] jiazhai commented on #5787
add @wolfstudy  to take a look

[2019-12-02 16:08] wmccarley commented on #5395
@sleungtoast I am in a similar situation as you I would love to control this behavior at namespace level. For most of my clients I want allowAutoTopicCreation = false so I can funnel topic creation through a workflow and have an admin review the request etc.. However I have one client that uses only non-persistent topics and needs allowAutoTopicCreation = true. The way I have accomplished this is

[2019-12-02 16:48] PierreZ commented on #5735
Found a naive solution, by creating a [Counter directly on the AbstractTopic class](https://github.com/apache/pulsar/commit/8625db717c021318d65f70b9b19b0c181ebbc64b). I am not sure if this is recommend though. What do you think @sijie?

[2019-12-03 02:36] Anonymitaet commented on #5779
@Jennifer88huang FYI:

Suggestions from @sijie:

- Keep tiered storage in the "Concepts and Architecture" chapter to let users know we have this feature.
- Tiered storage is one of the most important features in Pulsar. Same as we did for functions, connector, and schema, we can create an independent chapter for tiered storage and add sections to explain principles of offloaders, how to use offloa

[2019-12-03 02:40] jiazhai commented on #5417
@digi691 increase the numHttpServerThreads could solve this issue?

[2019-12-03 02:48] kaykillyou commented on #5668
@jiazhai i start bookie with command "./pulsar-daemon start bookie",   i found to configurate function "extraServerComponents=org.apache.bookkeeper.stream.server.StreamStorageLifecycleComponent
"  for the bookkeeper.conf, now i close it  and seems normal now, I will observe it for a while.
thanks very much!

[2019-12-03 03:09] jiazhai commented on #5623
@bbonnin provided a work-around in https://github.com/bbonnin/pulsar-express/issues/19#issuecomment-560562570

[2019-12-03 03:29] wolfstudy commented on #5652
@candlerb will close the issue If you encounter the same error, please let me know, thanks.

[2019-12-03 03:29] #5652 closed

[2019-12-03 03:32] wolfstudy commented on #5695
@lspgn will close the issue if `sendWithMsgID` example does not solve your problem, please reopen or let me know, thanks.

[2019-12-03 03:32] tuteng commented on #5690
I will find some time to test the relevant version. If there is any problem, I think we may need to provide special support. Such as developing a new connector for the corresponding version. If there are others who need this feature, please leave a message under this issue to let us know. Thank you.

[2019-12-03 03:37] wolfstudy commented on #4055
@NotBad4U can you provide more info for the issue, e.g:

- OS: Mac OS or Linux
- CPP Client Version:
- CGO client version:
- Go Version:
- so on..

This information can help me reproduce the problem better, thanks.

[2019-12-03 03:39] tuteng commented on #5417
I understand that it is possible to solve this problem by increasing the number of threads of the parameter numHttpServerThreads. If the amount of concurrency for HTTP requests is large, we should increase the value of this parameter. We may need to add documents to illustrate the HTTP request problem under the condition of high concurrency.

[2019-12-03 03:49] zymap commented on #5683
hi @candlerb,
If you are using curl to request the service. You should request the v1 version of the service.

In the Pulsar admin, we are using the namespace name to distinguish the client should request which version of the service. And there are some methods that are not supported in the v1 version of the service. Like the create a non-partitioned topic you are trying.

You can find the support

[2019-12-03 04:19] jiazhai commented on #5787
![image](https://user-images.githubusercontent.com/6348208/70020290-1e584d00-15c7-11ea-9d06-7165459b6628.png)
minikube verison 1.5.2

[2019-12-03 04:22] wolfstudy commented on #5787
@jiazhai On `v1.4.0`, it can work normally.

[code]

Output as follows:

[code]

[2019-12-03 06:41] congbobo184 commented on #5222
#5227 has fixed it.

[2019-12-03 07:09] lspgn commented on #5695
@wolfstudy sorry to re-open (was on vacations), I ran tests with the example file:
I'm getting the following:
It rarely manages to display a message Id (maybe a race condition?), most of the time, it just panic at the first one.
[code]

[code]

I'm trying to debug it. Issue seems to be there:
https://github.com/apache/pulsar/blob/be6a102511560349701dbe6b83fabf831dc81340/pulsar-client-go/pulsar/c_m

[2019-12-03 08:26] Anonymitaet commented on #4704
Fixed in https://github.com/apache/pulsar/pull/5762.

[2019-12-03 08:30] #4704 closed

[2019-12-03 08:31] #5222 closed

[2019-12-03 08:40] lspgn commented on #5695
I created a branch with more debug:
https://github.com/lspgn/pulsar/commit/7d1c0f4c2074f2240b888306822d81092042a490

The following C prints more information about the messageId structure:
[code]

The output of this is:
[code]

Quite a few messages have a length of zero?

[2019-12-03 09:32] jiazhai commented on #5668
Thanks @kaykillyou for your report. Since this is not a blocking issue. will put it in a low priority.
we will try to reproduce and fix the issue later.

[2019-12-03 09:39] sky-big commented on #5534
Operator add pulsar manager component success.

[2019-12-03 11:40] #4880 closed

[2019-12-03 11:58] alphashaw commented on #5770
Yeah. I realized that after some few tests. I was using a queue to hold the request metadata to be poll when a responsive arrived. I realized, in some times, the head of the queue does not match the response. Thanks @jiazhai .
I have a working producer implementation here [Pulserl](https://github.com/alphashaw/pulserl). The README doc is very minimal right now. I'll give it more look over the week

[2019-12-03 12:36] zymap commented on #5344
Hi @Jesse-Zhang-Bose, I think exposing the `TimeInterval` might is not a good idea to address this.

I will close this issue if you have not any problem.

[2019-12-03 13:47] wolfstudy commented on #5669
Thanks @laxpio feedback.

Can you provide the operation way when this error occurred or any information that can help locate this error?

[2019-12-03 15:10] wolfstudy commented on #5465
hello @Jennifer88huang the issue needs to be fixed, may be we need to refactor the logic.

[2019-12-03 15:57] wmccarley opened #5792 "Extend autoSkipNonRecoverableData to apply to missing Schemas in Bookkeeper"
**Background**
Pulsar uses bookkeeper as the storage mechanism for data/cursors. In #1046 a flag was added by  @rdhabalia : _autoSkipNonRecoverableData_ that allows an admin to tell the broker to disregard missing ledgers and skip ahead. This helps in certain scenarios where the ledger is gone and it is unrecoverable (or not worth recovering.)

This flag helps prevent users from getting stuck with

[2019-12-03 17:37] #5589 closed

[2019-12-03 17:54] #5562 closed

[2019-12-03 19:44] digi691 commented on #5417
What is the appropriate number?  Like I said earlier, I currently have it set to 8.  Which is the suggested default.  What I don't understand is that if I make any other requests on the API, it finishes fine.  It's only this endpoint that causes the whole broker to crash.  I don't have proof of what is going on, though it seems like when I hit that endpoint it ties up a HttpServerThread indefinite

[2019-12-04 01:07] Jennifer88huang commented on #5465
Ok, when you fix the logic, if you need any support in writing docs, feel free to let me know.

[2019-12-04 01:29] sijie commented on #5735
I don't think we have used Prometheus counter directly.

I would suggest:

- use LongAdder in AbstractTopic for counting only.
- expose those counters in PersistentInternalTopicStats or TopicStats
- update NamespaceStatsAggregator to expose those counters to prometheus servlet.

[2019-12-04 02:25] tuteng commented on #5417
Thank you for your reply. I will test it under the cluster and try to fix this problem.

[2019-12-04 02:25] wolfstudy commented on #3813
No, in the native go client, we still have this problem. [pr:69](https://github.com/apache/pulsar-client-go/pull/69) is a better way to solve this problem.

In cgo client, maybe we can ignore this the problem, make sure sdk is forward compatible.

[2019-12-04 03:55] kaykillyou commented on #5668
@jiazhai OK, look forward to the next version update.

[2019-12-04 03:55] #5668 closed

[2019-12-04 05:05] jiazhai commented on #5792
Thanks @wmccarley for such a great github issue reporting.
@wmccarley Would you like to contribute a fix for this?

[2019-12-04 07:52] PierreZ commented on #5735
Thanks, I will do this 👍

[2019-12-04 14:57] wmccarley commented on #5792
Yes I will work on a fix

[2019-12-04 19:49] Lanayx commented on #4931
I want to add a similar behaviour:
Let's say we have 10 messages in a batch sent by some producer, also we have MaxRedeliverCount is 1. Consumer acked 9 messages and 1 nacked.
**Current behaviour**
All 10 messages will be redelivered which will lead to double processing of 9 messages.
**Expected behavior**
Only 1 message should be redelivered

[2019-12-05 00:12] vicaya opened #5798 "s3 offloading generates huge zk txn logs in some conditions"
**Describe the bug**
When s3 offloading is turned on but credentials is incorrect the zookeeper /managed-ledger znode entries grow to be fairly large (1MB), causing zk txn log to be in the range of multiple GBs, which could easily run out of the space on the zk log device under default log purging configuration.

An example of the content of such a znode:
[code]
where the bucket, endpoint, and reg

[2019-12-05 01:57] jiazhai commented on #5798
Thanks @vicaya for reporting this, we will try to reproduce and fix this issue.

[2019-12-05 04:38] devinbost commented on #4721
Does anyone know of a workaround? I'm stuck on this exact issue.

You should be able to reproduce it with this example:

[code]

with this POM file:

[code]

[2019-12-05 05:39] laxpio commented on #5669
i modify the code，deal NUll return，and now can not reproduce it.
original code：
org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java
[code]

[2019-12-05 09:06] Sunkwan-Kwon opened #5799 "Using the latest release version of pulsar-client-go module from pulsar-function-go"
**Describe the bug**

Is it possible to use the latest released version of `pulsar-client-go` module from `pulsar-function-go`?

The current version of `pulsar-function-go` uses `v0.0.0-20190320194916-f03971cb5b4f` of `pulsar-client-go` module like below.
https://github.com/apache/pulsar/blob/180e28aceb39d1683df034c8c2234595d23ab935/pulsar-function-go/go.mod#L4

Actually, I faced a worker process

[2019-12-05 09:19] AllenChien opened #5800 "C API 'pulsar_message_id_t' couples to C++ 'class pulsar::MessageId'"
**Describe the bug**

The C API prototype defined in message_id.h, such as:

the return type is pulsar_message_id_t, which is defined as:

where the pulsar::MessageId is a C++ class. Thus this kind of APIs can't work smoothly in pure C env.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to source file 'message_id.h'
2. Check its definition

**Expected behavior**
C API should not couple t

[2019-12-06 00:45] tuteng commented on #5417
I tested this problem. under a cluster (including three brokers and three bookies), I used the `ab` tool to test. numHttpServerThreads defaults to 8. when the number of query requests initiated is significantly higher than the number that the thread can handle, it will indeed block the broker.

I think this is because `non-persisten topic` is stored in memory. when there are multiple brokers, your

[2019-12-06 06:51] sijie commented on #5669
I think the NPE was thrown when `ledgers.ceilingKey` return a NULL value. so a proper fix would be change `long ledgerId` to `Long ledgerId` and check if ledgerId is NULL.

[2019-12-06 07:25] aziwoqpd commented on #4599
I've run into this too anytime a node goes down.

[2019-12-06 07:26] bigbang489 opened #5807 "When CryptoFailureAction is FAIL, after a number of redeliver a message, the message is not move to deadletter topic"
**Describe the bug**
The decypt action fail should be treated as a Unack message, therefore it should be moved to the deadletter topic if Dead Letter Topic is enabled

**To Reproduce**
Steps to reproduce the behavior:
1. At comsumer: Set the decryption keys to an incorrect key
2. Enable dead letter policy
3. At producer: Sent a encrypted message to the topic (End to End Encryption)

**Expected beh

[2019-12-06 08:19] #5787 closed

[2019-12-06 08:49] huangdx0726 opened #5808 "[docs] The example code does not display correctly"
**Describe the bug**
Ununderstood example code .
**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://pulsar.apache.org/docs/en/schema-understand'
2. Click on 'Understand schema'
3. Scroll down to 'Complex type>Example'

**Expected behavior**
this  example code is for java or other?
**Screenshots**
![图片](https://user-images.githubusercontent.com/29513837/70309120-bebca480-1847-11ea-8

[2019-12-06 10:07] #5687 closed

[2019-12-06 12:16] tuteng commented on #5417
@digi691 You can try 2.4.2 https://github.com/apache/pulsar/blob/v2.4.2/pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java#L234

A blocking operation was used in version 2.4.1 version https://github.com/apache/pulsar/blob/v2.4.1/pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/NonPersistentTopics.java#L184, and has been fixed in version 2.4.2 versio

[2019-12-06 15:57] JarrodJ83 commented on #2307
@sijie I think either of those ideas would be a step in the right direction. Anything that will increase the confidence that, if you are using dotnet and want to use Pulsar, you'll have the ability to leverage the features you need and have good support from the community.

The two projects out there now seem to be going in different directions. One aiming to match the features of the java client

[2019-12-06 17:03] sijie commented on #5808
@huangdx0726 the example is written in Java. I guess there are typos when we put up the documentation.

[2019-12-06 18:55] Jesse-Zhang-Bose commented on #5344
@zymap i agree with you,`timeInterval` is pulsar's internal work, exposing it is not necessary.  However,  I would still think this is an issue need to fix, maybe use another way?

[2019-12-06 20:19] frejonb opened #5811 "Add redelivery count to python client"
**Is your feature request related to a problem? Please describe.**
Add redelivery count to python client

[2019-12-07 00:40] tuteng commented on #5417
I think this issue can be closed, if there are any problems, we can consider open it back on.

[2019-12-07 03:20] frank-dkvan opened #5813 "version 2.4.2 doesn't support bookkeeper 4.10.0？pulsar can NOT startup successfully based on BK 4.10.0"
**Describe the bug**
version 2.4.2 doesn't support bookkeeper 4.10.0？pulsar can NOT startup successfully based on BK 4.10.0

**To Reproduce**
0.  download latest 2.4.2 source code from github
1. Maven build 2.4.2 source code with Bookkeeper 4.10.0
2. then start up  this pulsar
3. then exception shows
4. then pulsar shut down

**Screenshots**
11:12:05.943 [main] ERROR org.apache.pulsar.PulsarStanda

[2019-12-07 09:05] #5760 closed

[2019-12-07 11:53] wolfstudy commented on #5813
@frank-dkvan Yes, version 2.4.2 is just a bug fix for version 2.4.0. To ensure compatibility, we should not support any component version changes in version 2.4.2, including bk.

In version 2.5.0, it will support bk 4.10.0.

[2019-12-07 12:03] wolfstudy commented on #5799
Thanks @Sunkwan-Kwon, this is a good proposal, when the 2.5.0 is released, we can replace the latest version of `pulsar-client-go` in `pulsar-function-go`.

[2019-12-07 14:00] frank-dkvan commented on #5813
by the way, when will the version 2.5.0 get released? :-)

[2019-12-07 15:01] #5763 closed

[2019-12-08 02:13] thlautenschlaeger commented on #4540
for me it's still not working

[2019-12-08 02:15] thlautenschlaeger commented on #4540
only works with python 3.6 and pulsar 2.0.1 but missing mandatory updates

[2019-12-08 03:23] sijie commented on #2307
@rcollina and @JarrodJ83 thank you for your input. I am reopening the issue for tracking this task. I will follow up with this soon.

[2019-12-08 04:21] frank-dkvan commented on #4976
I tested and found this bug  hasn't solved in latest 2.5.0 snapshot with BK 4.10 release yet.
will this bug get solved in 2.5.0 official release?

[2019-12-08 07:17] sijie commented on #5813
@frank-dkvan we will start releasing 2.5.0 next week.

[2019-12-08 07:25] sijie opened #5816 "website failed to build due to "Invalid code tab markdown""
**Describe the bug**

The website fails to build because there is an "invalid code tab markdown" in `website/translated_docs/zh-CN/version-2.4.2/functions-develop.md`

[code]

**Additional context**

It seems that when crowdin generates the translated markdown file, some code tabs (e.g. ``, ``) are removed.

[2019-12-08 07:45] sijie commented on #4976
@frank-dkvan I think it requires a change at Pulsar side. since we are cutting 2.5.0 next week, I don't think we are able to include this in time. We can do this for 2.5.1 or 2.6.0.

you might be able to work around with 4.10 with a bk client configuraiton. @codelipenghui should be able to help you with this.

[2019-12-08 08:04] rcollina commented on #2307
@sijie thank you

[2019-12-08 11:57] #5811 closed

[2019-12-08 12:40] frank-dkvan commented on #4976
thanks @sijie
Hi @codelipenghui wld you pls help with this: providing more details on bk client configuration at pulsar side...sample code if any would be nice..thanks

[2019-12-08 20:50] youurayy opened #5818 "2.4.2 on Kubernetes, can't start Brokers, functions.worker.WorkerService"
**Describe the bug**
Starting image 2.4.2 on Kubernetes config where 2.4.1 worked, puts the brokers into `CrashLoopBackOff`.

**To Reproduce**
Steps to reproduce the behavior:
1. in your k8s yamls, change your pulsar image ref from 2.4.1 to 2.4.2 and clean-deploy
2. observe the pod initialization

**Expected behavior**
Pulsar should start normally.

**Screenshots**
![image](https://user-images.git

[2019-12-08 21:36] lspgn commented on #5695
Up @jiazhai / @wolfstudy ?

[2019-12-09 03:13] jiazhai commented on #5799
@wolfstudy Thanks for the help. Since you are releasing 2.4.2, Is it easy to update it with 2.4.2?

[2019-12-09 03:20] jiazhai commented on #5800
@AllenChien , Thanks for the reporting.  Currently Pulsar provided a native Cpp client, and the c client is a wrapper for Cpp client. And seems this is the reason that `struct _pulsar_message_id` exists.
Would you please help provide a detailed error information that you have meet?

[2019-12-09 03:48] jiazhai commented on #5816
Thanks @sijie for provided a work around in #5817.

[2019-12-09 03:51] jiazhai commented on #5818
@wolfstudy,  @yjshen Is it a known issue?

[2019-12-09 03:55] jiazhai commented on #5813
@frank-dkvan Seems this has a clear answer, would like to close this issue. Please feel free to re-open it if needed.

[2019-12-09 03:55] #5813 closed

[2019-12-09 03:56] Jennifer88huang commented on #5816
Do not close this issue currently. #5817 hasn't addressed the root cause.
The language specific tab works well in v2.4.1. However, it does not work well in v2.4.2.

[2019-12-09 03:56] jiazhai commented on #5808
Thanks @huangdx0726 for the help

[2019-12-09 04:05] jiazhai commented on #5807
@bigbang489 Thanks for reporting this issue.
usually a countable deliver message is the one that get a success receive() in consumer. For this case, if decryption keys is incorrect, the receive() should be failed?
From my point of view, If this is the case, user should handle this kind of receive error manually. And of cause, user could choose to  put the error message into a dead-letter-topic in

[2019-12-09 04:15] jiazhai commented on #5807
@bigbang489 There is action for user to choose:
[code]

[2019-12-09 04:48] jiazhai commented on #5807
The default CryptoFailureAction is `FAIL`, so it will add to unAckedMessageTracker and get redeliver.
`DISCARD` will auto `ack` the message, and it will not get redelivered.
`CONSUME` will need the consumer to choose and handle it.

[2019-12-09 06:06] wolfstudy commented on #5799
The #5324 and #5336 will be released in 2.5.0.

[2019-12-09 07:16] sijie opened #5819 "[discussion] Pulsar release 2.6.0"
This issue is used for collecting the features planned for release 2.6.0.

### Features
- [PIP-37] Large message size support #4400 `approved` `doc-added`
- [PIP-39] Namespace change events(System Topic) #4955  `merged` `no-need-doc`
- [PIP-45] Switch ManagedLedger to use MetadataStore interface #5358 `merged`
- [PIP 53] Contribute DotPulsar to Apache Pulsar
- [PIP-54] Support acknowledgment at ba

[2019-12-09 07:17] sijie commented on #5819
Please link or comment the issues here.

[2019-12-09 07:24] codelipenghui commented on #5755
No, it is 50000

[2019-12-09 07:59] frank-dkvan commented on #5819
hopefully this bug  #4976 can be fixed in release 2.6.0  :-D

[2019-12-09 08:15] youurayy commented on #5818
Adding `functionsWorkerEnabled: "false"` to the Broker config works as a temporary workaround - the Brokers start normally.

[2019-12-09 09:06] murong00 commented on #5819
Both pulsar and bk should support ipv6, such as [#5713](https://github.com/apache/pulsar/pull/5713)

[2019-12-09 09:35] codelipenghui commented on #4976
@frank-dkvan @sijie I have create a new pull request #5822 for expose the config in broker.conf.

[2019-12-09 09:57] #4753 closed

[2019-12-09 09:58] sijie commented on #4976
@frank-dkvan

I think you can add `bookkeeperExplicitLacIntervalInMills=5` in the JVM system properties when starting the broker.

[2019-12-09 10:08] sijie opened #5825 "Improve PulsarClusterMetadataSetup to make it idempotent"
*Problem*

Currently the cluster metadata setup can be interrupted if `/namespace` znode already exists.

*Change*

We need to improve the program to make it idempotent.

1) try to use zookeeper `multi` to ensure certain atomicity if possible.
2) make sure the program handle znode already exists correct.
3) add a test case to cover the change.

[2019-12-09 10:09] sijie opened #5826 "Provide commands to delete or reformat cluster metadata"
*Problem*

Sometimes a tool to delete or reformat cluster metadata would be very helpful for testing purposes.

This is related to #5825

[2019-12-09 10:17] codelipenghui commented on #4976
@sijie I think we need to use `explicitLacInterval`, this is the name in Bookkeeper client configuration. The `bookkeeperExplicitLacIntervalInMills` is named in broker side.

[2019-12-09 10:34] sijie commented on #4976
You are right!

[2019-12-09 10:57] Jennifer88huang commented on #5819
Some users are expecting Pulsar transaction and KOP in the new release.

[2019-12-09 11:18] bigbang489 commented on #5807
In the case of CONSUME, I don’t know If The payload I received is decryptEd successfully or not. How can I get that information?

[2019-12-09 12:17] jiazhai commented on #5683
as mentioned in #5791,

[code]

[2019-12-09 12:52] gbensa opened #5827 "Netty UDP connector ClassCastException"
When trying to create a Netty udp connector, a ClassCastException is thrown

configs:
    type: "udp"
    host: "127.0.0.1"
    port: 10999
    numberOfThreads: 1

Exception :
12:50:43.259 [nioEventLoopGroup-6-1] WARN  io.netty.channel.ChannelInitializer - Failed to initialize a channel. Closing: [id: 0xbeba8942]
java.lang.ClassCastException: io.netty.channel.socket.nio.NioDatagramChannel cannot b

[2019-12-09 14:46] gbensa opened #5828 "Netty UDP connector doesn't work"
NettyServerHandler doesn't work for UDP as it will receive DatagramPacket instead of byte[]

I managed to make the UDP connector working using a new NettyUDPServerHandler :

public class NettyUDPServerHandler extends SimpleChannelInboundHandler<DatagramPacket> {

    private static final Logger logger = LoggerFactory.getLogger(NettyUDPServerHandler.class);
    private NettySource nettySource;

[2019-12-09 17:42] digi691 commented on #5417
@tuteng will talk to my team about upgrading our test environment.  Hopefully I will be able to get to testing 2.4.2 within the next couple of weeks.

[2019-12-09 20:58] sijie opened #5831 "[doc] Add a section to document function types and schema"
#### Problem

This task is used for tracking adding a section in functions documentation about the function argument types and schema.

[2019-12-10 02:15] xiemeilong opened #5832 "NullPointerException throwed by Debezium Connector when a row deleted"
**Describe the bug**
Debezium Connector will throw NullPointerException and shutdown  when a row is deleted anytime.

**To Reproduce**
1. run a new Debezium Connector  pulsar io instance
2. delete a row in mysql
3. NullPointerException is throwed by Connector

**Expected behavior**
delete transaction in bin log is write into pulsar normally

**Screenshots**

**Desktop (please complete the followin

[2019-12-10 02:58] jiazhai commented on #5832
Thanks @xiemeilong for help reporting this issue. This is a special case that we should fix. And seems it is clear that we need to fix the Null value in `KeyValue.encode(KeyValue.java:101)`.

@tuteng  to help take a look.

[2019-12-10 03:01] jiazhai commented on #5828
Thanks @gbensa for the issue and PR

[2019-12-10 03:06] jiazhai commented on #5827
👍 Thanks for the issue and PR @gbensa

[2019-12-10 05:52] Sunkwan-Kwon commented on #5799
@wolfstudy Thank you for considering.

By the way, I have a question.
There is another git repository `https://github.com/apache/pulsar-client-go`.
What is the difference between that and `https://github.com/apache/pulsar/pulsar-client-go`?
And what would you recommend using for go application?

[2019-12-10 07:15] #4554 closed

[2019-12-10 09:37] jiazhai commented on #5807
@bigbang489 , how do you consume the successfully received messages? will you meet error when you read the failed-decypted message?

[2019-12-10 10:56] bigbang489 commented on #5807
I used MessageListener interface as below:
builder.messageListener(new MessageListener<byte[]>() {
					private static final long serialVersionUID = 1L;
					@Override
					public void received(Consumer<byte[]> consumer, Message<byte[]> msg) {
						try {
							if(logger.isDebugEnabled()) {
								logger.debug("Received msgId: " + BinaryUtil.bytesToHex(msg.getMessageId().toByteArray())+ ", topic

[2019-12-10 16:55] sijie opened #5835 "Exception is thrown when generating javadoc for apache-kafka wrappers."
**Describe the bug**

Exception is thrown when generating javadoc for apache-kafka wrappers.

[code]

**To Reproduce**

run `mvn deploy`

**Expected behavior**

The command should succeed.

[2019-12-11 04:32] jiazhai commented on #5807
I see. Seems we need a way to let user know that the decrypt failed in CONSUME mode?

[2019-12-11 05:38] jiazhai commented on #5695
ping @wolfstudy

[2019-12-11 08:57] Anonymitaet opened #5839 "[Doc] Variable issues in website download links"
### Issue

Currently, for different contents, we use the same variables in multiple versions.

### Incorrect example 1

When I resolve https://github.com/apache/pulsar/issues/4053, I find that:

**From `2.1.0-incubating` to `2.4.2`, the download links for the contents in the red box are redirected to **2.4.1 links****, which are the **latest version of docs** now (2.4.2 is released, but the docs a

[2019-12-11 14:47] patronovski opened #5840 "Subscription mode Key_Shared not working as expected"
#### Expected behavior

When running two instances of my app, i expect that pulsar should loadbalance between the two instances. Also, messages with the same key should always go to the same instance.

#### Actual behavior

However, all messages are handled by instance 1. Instance 2 only receive messages when instance 1 is down.

#### Steps to reproduce
Create a SpringBoot app with a single Pulsar

[2019-12-11 19:40] KannarFr opened #5841 "Biscuit customs authentication and authorization providers usages."
**Describe the bug**
pulsar-client java invalid connection state using custom authentication & authorization provider:

Here are the breakpoints and their results:
[
![1](https://user-images.githubusercontent.com/7518245/70654540-d2587880-1c56-11ea-8251-520bdbc1a90b.png)
](url)

![Screenshot from 2019-12-11 20-41-53](https://user-images.githubusercontent.com/7518245/70654549-d5ebff80-1c56-11ea-938

[2019-12-11 22:16] phreed commented on #5726
The more I have dug into testing Pulsar io-connectors/functions the more issues I have found.
It appears that the ClassNotFoundException/NoClassDefFoundError is more common that I thought.
I will make a PR for it.

[2019-12-12 01:25] jiazhai commented on #5269
@tuteng Please go ahead to do the deleting of topics.

[2019-12-12 03:06] jiazhai commented on #5839
@tuteng could be able to help on this issue.

[2019-12-12 03:26] jiazhai commented on #5840
@patronovski what does the code of producer side looks like? What is the key for each message?

[2019-12-12 05:48] #5708 closed

[2019-12-12 07:52] jiazhai commented on #5835
@sijie I tried several commands on latest master:
`mvn deploy -DskipTests`

`mvn javadoc:javadoc`

both not meet this issue.
Would you please help retry and provide more detailed steps to reproduce?

[2019-12-12 08:28] bry00 opened #5842 "pip can't find pulsar-client 2.4.2 for Python 3.8"
**Describe the bug**
Cannot install [`pulsar-client==2.4.2`](https://pulsar.apache.org/docs/en/client-libraries-python/#installation-using-pip) on Python 3.8.0, receiving error: `No matching distribution found for pulsar-client`.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to install pulsar-client in the Python 3.8.0 environment:

[code]

2. See error

**Expected behavior**
The pytho

[2019-12-12 08:51] Fomal-haut commented on #5755
I C, only when the value is set to 0, the error can be triggered on my side. :)

[2019-12-12 09:02] cckellogg opened #5843 "Duplicate flags when running bin/pulsar bookie"
**Describe the bug**
A recent change (https://github.com/apache/pulsar/pull/5675) was made to the the bin/pulsar script. This change loads the bkenv.sh file and then sets the opts when running the bookie. This produces duplicate flags when running a bookie.

[code]
/usr/bin/java -cp /Users/ckellogg/apps/apache-pulsar-2.6.0-SNAPSHOT/conf:::/Users/ckellogg/apps/apache-pulsar-2.6.0-SNAPSHOT/lib/*: -D

[2019-12-12 09:57] alikelleci commented on #5840
Hi, below is the code for the producer:

`@Slf4j
@RestController
@RequestMapping(value = "/customers")
public class CustomerController {

  @Autowired
  private Producer<Customer> producer;

  @GetMapping(value = "/create/{id}")
  public void create(@PathVariable String id) throws PulsarClientException {
    Faker faker = new Faker();
    producer.newMessage()
        .key(id)
        .value(Custo

[2019-12-12 09:58] alikelleci commented on #5840
Hi, below is the code for the producer:

`@Slf4j
@RestController
@RequestMapping(value = "/customers")
public class CustomerController {

  @Autowired
  private Producer<Customer> producer;

  @GetMapping(value = "/create/{id}")
  public void create(@PathVariable String id) throws PulsarClientException {
    Faker faker = new Faker();
    producer.newMessage()
        .key(id)
        .value(Custo

[2019-12-12 11:47] patronovski commented on #5840
Hi, below is the code for the producer:

`@Slf4j
@RestController
@RequestMapping(value = "/customers")
public class CustomerController {

  @Autowired
  private Producer<Customer> producer;

  @GetMapping(value = "/create/{id}")
  public void create(@PathVariable String id) throws PulsarClientException {
    Faker faker = new Faker();
    producer.newMessage()
        .key(id)
        .value(Custo

[2019-12-12 14:20] tkram01 opened #5845 "log4j2-appender producer name should be configurable"
When using the log4j2-appender it always gives a producer name of "pulsar-log4j2-appender-" + topic which means you can only send logs from one process to that topic at a time. When there are multiple instances of an application I think it makes sense to be able to consolidate them into a single topic.

[2019-12-12 15:50] rally-bot opened #5846 "[pulsar-client-cpp/python] pypi has no tracked versions of the client for python 3.8"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
Make available the python pulsar client for python version 3.8 via pypi.

**Additional context**
this issue was created by request [following a conversation with @srkukarni on slack](https://apache-pulsar.slack.com/archives/C5Z4T36F7/p1576095405150400).

[2019-12-12 18:46] phreed commented on #5726
I am working on a PR. On which branch should I base my work? master? branch-2.4? branch-2.5?

[2019-12-12 19:06] julio666 opened #5847 "Error at starting apachepulsar/pulsar-dashboard docker container within Kubernetes"
Hi there!

**Issue**
I've used the helm chart available in the 2.4.2 Apache Pulsar project. Every pod is created and running correctly except `pulsar-dashboard` which has the `CrashLoopBackOff` status.

It looks like the initdb file from postgresql does not exist. Here what the logs are saying :

[code]

**To Reproduce**
Simply install the helm chart with values-mini.yaml and look at the pods in t

[2019-12-12 20:20] julio666 commented on #5847
It looks like the installed version of postgresql is now 11 and no more 9.6.

[2019-12-12 22:38] sijie commented on #5842
@bry00 this is related to #5846

[2019-12-13 01:05] codelipenghui commented on #5755
Thanks, i will try to reproduce it on my laptop

[2019-12-13 02:15] murong00 commented on #5843
@sijie @jiazhai The change in #5675 is not consistent with our previous discussion in #4555, the original intention of `bin/pulsar` is to use `pulsar_env.sh` and the only requirement is for people to add extra bookie opts.

[2019-12-13 03:55] jiazhai commented on #5842
would like to close this issue and dup this to #5846

[2019-12-13 03:55] #5842 closed

[2019-12-13 03:56] jiazhai commented on #5846
copy from #5842

**Describe the bug**
Cannot install [`pulsar-client==2.4.2`](https://pulsar.apache.org/docs/en/client-libraries-python/#installation-using-pip) on Python 3.8.0, receiving error: `No matching distribution found for pulsar-client`.

**To Reproduce**
Steps to reproduce the behavior:
1. Try to install pulsar-client in the Python 3.8.0 environment:

[code]

2. See error

**Expected beh

[2019-12-13 04:02] jiazhai commented on #5846
copy some of the info from slack channel, which @brendan discussed with @sijie and @srkukarni.
[code]
According to the slack discussion, need support for python 3.8 and @srkukarni will help on this.
Thanks @rally-bot @srkukarni

[2019-12-13 04:23] tshh commented on #5847
running into same problem too.
use “kubectl set image deployment”
set image to
pulsar-dashboard:2.3.0
is ok.

[2019-12-13 04:39] tshh opened #5849 "pulsar-admin get HTTP 403 Forbidden return with kubernetes"
**Describe the bug**
$pulsar-admin tenants list
HTTP 403 Forbidden

Reason: HTTP 403 Forbidden

**To Reproduce**
Steps to reproduce the behavior:
1. my kubernetes is up and fine
$ kubectl get nodes
NAME             STATUS   ROLES    AGE    VERSION
k8s-node-141     Ready    <none>   2d3h   v1.13.2
k8s-node-142     Ready    <none>   2d1h   v1.13.2
k8s-node-143     Ready    <none>   22h    v1.13.2
k8

[2019-12-13 05:14] jiazhai commented on #5843
@murong00 Thanks for the notice. Thanks @cckellogg for the report.
If the java run time options provided twice, in the most of JVM version, winner will be the right-most value.
It is a little confuse, But seems no easy way to solve this issue.

@murong00 From my point of view, 5675 is not too much conflict with 4555, in current code, we could have all the env in bkenv exported, and in these shell

[2019-12-13 05:27] jiazhai commented on #5845
Thanks @tkram01 for report this requirements.

The 'topic' in log4j2 appender is configurable,
If user want to append all logs into a single topic, only need to set the same `topic` name.
If want to append to different topic, user also could set the different `topic` name.
I may not understand it well, Would you please provide an example for the requirement?

[2019-12-13 05:42] jiazhai commented on #5847
Thanks @julio666 , Seems you already found the version issue . Would you like to provide a PR to fix it?

[2019-12-13 05:44] jiazhai commented on #5847
And also in master pulsar-manager is added in helm, you could try pulsar-manager instead of dashboard.

[2019-12-13 05:51] jiazhai commented on #5849
@tshh `HTTP 403 Forbidden` usually means not have the right permission.  Is there any other additional change?

[2019-12-13 06:22] tshh commented on #5849
no further change.
just following the guide:
http://pulsar.apache.org/docs/en/deploy-kubernetes/#minikube

by the way:
pulsar 2.4.2 deployment failed on k8s v1.6
I'm using k8s v1.3.2

[2019-12-13 07:00] tshh commented on #5849
tear pulsar deployment down and re deploy again.
pulsar-admin success.

[2019-12-13 07:00] #5849 closed

[2019-12-13 07:12] atagunduzalp commented on #4718
I am having the same issue. When it first starts, it can write it on pulsar successfully, but after some time, it throws this issue. Any updates or solutions ?

[2019-12-13 07:49] atlantic2099 commented on #5779
Reorganized and proofread "Tiered Storage" section per your comments. See details from https://github.com/atlantic2099/pulsar/commit/b7fb118800bf170ee34ddba78244c98db18360cd

[2019-12-13 08:28] atagunduzalp commented on #5242
How did you solve it ?

[2019-12-13 09:01] f-ld commented on #5459
Any doc / repo that would help us build this package locally and unblock devs having up to date OSX laptops ?

[2019-12-13 09:07] kuido85 commented on #5242
It suddenly started to working and I never had this issue anymore.

[2019-12-13 09:32] aahmed-se commented on #5459
have a look here
https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/python/pkg/osx/vagrant-build.sh

[2019-12-13 09:46] tuteng commented on #5582
I'm very sorry for the late reply. I didn't have your problem tested locally. Can you show me some steps of your deployment or read some more detailed log information?

[2019-12-13 10:07] Anonymitaet commented on #5397
@thps Thanks for your questions.

## #1

If you want to download connector NAR files, see [here](https://archive.apache.org/dist/pulsar/), this is the **complete and most accurate list** for all Pulsar versions, from 2.1.0 to the latest (currently is 2.4.2).

Thanks for reporting this issue.

Yes, the connector list in the `Pulsar IO connectors` section on the Pulsar download page are incomplete.

[2019-12-13 12:56] Javac7 commented on #5847
I'm looking for a working docker-compose for local standalone pulsar with dashboard, someone already made it?

[2019-12-13 16:18] one70six opened #5854 "Prometheus - Add Metrics Around Message Storage"
Currently you can visualize message backlog via Prometheus/Grafana by observing the **pulsar_msg_backlog** metric.  Since Pulsar allows for TTL and Retention to be set on a namespace, it would be very nice if we could somehow visualize if the messages are in TTL phase or in Retention phase. Pulsar does a great job of abstracting storage from the consumer by design, but developers ask all the time

[2019-12-13 16:59] cckellogg commented on #5843
@jiazhai the main issue I see with #5675 is it's a breaking change. Users who update to a newer version of pulsar will have to change their configurations and that's not a good user experience. Also, all of the kubernetes charts default to using PULSAR_MEM to set resources for the bookies and that will no longer work.

I agree with @murong00 only variables from `pulsar_env.sh` should be loaded by

[2019-12-13 18:46] SakaSun opened #5857 "Ability to specify an existing storage class instead of creating one when using Helm deployment"
**Is your feature request related to a problem? Please describe.**
Yes. With current aproach for specifying storage class in persistent volume claim it's not possible to customize the provisioner parameters. If the property 'storageClass' is declared the chart always create a new storage class with hardcoded parameters.

**Describe the solution you'd like**
It would be helpful if the chart templat

[2019-12-13 20:00] JarrodJ83 commented on #2307
@sijie Building on @rcollina 's comment about Confluent, a potential third option may be to reach out to some of the companies that are building commercial platforms around Pulsar (Streamlio?) and see if they would be interested in contributing to one of the existing repos or starting their own. This would give Pulsar an equivalent to Confluent which would greatly increase the confidence that dotn

[2019-12-13 20:28] julio666 commented on #5847
@jiazhai no problem, I'll do it. Thanks for the tip about pulsar-manager.

[2019-12-13 20:52] juliohm1978 opened #5858 "Helm chart does not allow ingress TLS to be enabled without a secretName"
**Describe the bug**
The provided helm chart can create an Ingress with TLS, but it requires a `secretName` to be added. This is not an Ingress requirement and, in some cases, the ingress controller can provide a default certificate when the Ingress object does not declare one.

**To Reproduce**
Deploy the helm chart with an Ingress enabled and an empty tls `secretName`.

**Expected behavior**
I e

[2019-12-14 02:40] #5827 closed

[2019-12-14 02:40] #5828 closed

[2019-12-14 02:53] jiazhai commented on #5843
@cckellogg Thanks for the feedback.
Using `PULSAR_MEM` instead of `BOOKIE_MEM` to set bookies, this seems be not a good way.
Is it OK to change the k8s charts to use `BOOKIE_MEM` for bookies setting?

[2019-12-14 04:45] sijie commented on #2307
@JarrodJ83 thank you for your input. I am following up with the owners of these projects since they are already working on these projects. it would be great to make sure we don't create another project to spread out the community efforts. regarding the comment around Confluent, we (StreamNative) are also happy to provide the support for dotnet client as well. but I will want the community can work

[2019-12-14 16:08] Javac7 commented on #5688
Same problem here, running in docker.

[2019-12-14 16:09] frejonb commented on #5688
@Javac7 it's fixed in the PR #5689

[2019-12-14 16:19] Javac7 commented on #5688
@frejonb I was pulling from apachepulsar/pulsar-dashboard image that was updated 9 days ago but no success.