[2022-08-23 17:58] rillo-carrillo opened #17244 "[Bug] Geo Replication failed using Proxy"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.10.0

Environment:
2 Kubernetes Clusters
2 Pulsar Clusters

### Minimal reproduce step

Create two Pulsar clusters on different k8s clusters.
Expose brokers using the proxy.

To create a cluster entry on each cluster for geo-replication using proxy
On clust

[2022-08-23 21:30] heesung-sn commented on #16691
vote email : https://lists.apache.org/thread/4s0869ndt6ppjzgklqjnjk6bjt3zngkd

[2022-08-24 03:07] michaeljmarshall commented on #16584
@tjiuming - sorry, I missed your comment. I implemented the metrics today. Feel free to review the PR if you have time.

[2022-08-24 07:48] #16613 closed

[2022-08-24 08:33] lhotari commented on #17225
another failure: https://github.com/apache/pulsar/runs/7988259605?check_suite_focus=true#step:10:2074

[2022-08-24 08:34] lhotari commented on #16578
another one https://github.com/apache/pulsar/runs/7988259367?check_suite_focus=true#step:10:1055

[2022-08-24 09:33] teabot opened #17258 "[Doc] Binary Protocol Documentation is incomplete"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

The [binary protocol specification documentation](https://pulsar.apache.org/docs/next/developing-binary-protocol/) is incomplete. For example, it does not cover in any great detail `RedeliverUnacknowledgedMessages` or transactio

[2022-08-24 09:45] #17086 closed

[2022-08-24 10:28] teabot opened #17260 "[Doc] Client Specification Document"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

Pulsar, like many other distributed systems, is able to achieve scalability by off-loading some responsibilities to clients. This means that many features will include some client component, often non-trivial. For example, in th

[2022-08-24 11:48] zhanghaou commented on #16564
I had changed to openjdk 17, but it does not work.

[2022-08-24 16:54] poorbarcode commented on #17220
Current implementation: `ManagedCursor` will skip the invalid data during `recover`, even if the feature `autoSkipNonRecoverableData ` is disabled.

Ledger data invalid occurs in two cases:

- ledger could not be found
- some entries could not be found

----

#### Ledger could not be found

When the ledger could not be found, we can recover data from ZK. But when switching ledger, data stored in Z

[2022-08-24 20:50] michaeljmarshall commented on #17258
@teabot - thanks for creating this issue. I've noticed the same short comings, and I agree that a review of the existing spec would be very valuable. I'd be happy to help work on this or to review any resulting documentation.

[2022-08-24 21:00] #16584 closed

[2022-08-25 02:22] tisonkun commented on #16783
@lhotari thoughts? I'm not sure where we can run the check-binary-license.sh with a Pulsar SQL distro.

[2022-08-25 02:52] aloyszhang opened #17267 "PIP-204 Extensions for broker interceptor"
### Motivation

Currently, we have a reconciliation system that compares the messages(or entries) produced and consumed at a minute level to indicate whether all the data has been consumed completely by the consumers.

We want to track the message(or entry) properties (including the timestamp and msgSize) for messages has been persistent to bookie and messages that have been consumed & acked. Also

[2022-08-25 02:56] baomingyu opened #17268 "PIP-202: Enable read-only partition, add read and write control for a single partition."
### Motivation

In the exclusive consumption mode of exclusive, failover, reader, etc. if a large number of messages accumulate due to limited consumption capacity or consumption logic problems, expanding partitions or modifying consumption logic cannot reduce the consumption of new messages in time. Influence, a certain proportion of newly added messages will still be produced in the accumulated

[2022-08-25 03:07] aloyszhang commented on #17268
The pip number is duplicated. See
https://github.com/apache/pulsar/issues/17090

baomingyu ***@***.***> 于2022年8月25日周四 10:56写道：

[2022-08-25 03:13] lordcheng10 commented on #17268
discuss thread? @baomingyu

[2022-08-25 03:24] baomingyu commented on #17268
https://lists.apache.org/thread/mmboc573dp1dgqdj563cnrdqsf02k8sy

[2022-08-25 06:34] #16564 closed

[2022-08-25 06:39] tisonkun commented on #16564
@zhanghaou So why do you close this issue as completed while JDK17 doesn't help?

[2022-08-25 06:59] #16761 closed

[2022-08-25 07:57] xiaogang-sn opened #17274 "[Doc] Missing documentation for topic level policy settings"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

The current admin API doc page at https://pulsar.apache.org/docs/admin-api-topics does not include the features of [topic level policies](https://pulsar.apache.org/release-notes/versioned/pulsar-2.7.0/#topic-policy) introduced i

[2022-08-25 10:27] zhcn opened #17279 "[Bug] cpp client segmentation fault"
`###` Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

gcc version 4.8.2 20140120 (Red Hat 4.8.2-16) (GCC)
pulsar cpp client version 2.11

### Minimal reproduce step
[code]
### What did you expect to see?

works

### What did you see instead?
[code]
### Anything else?

_No response_

### Are you willing to subm

[2022-08-25 10:36] #16547 closed

[2022-08-25 10:37] #16619 closed

[2022-08-25 11:43] zhcn commented on #17279
I found that when I use make_shared<string> in ReportClient, the program will core, remove make_shared<string>, it works fine

[2022-08-25 12:28] tisonkun commented on #17279
@zhcn code doesn't render well. Could you wrap them inside a [code block](https://www.markdownguide.org/extended-syntax/#fenced-code-blocks)?

[2022-08-25 15:10] xiaogang-sn commented on #17274
It's interesting that the legacy admin CLI doc page has them under https://pulsar.apache.org/docs/pulsar-admin/#topics-1 but it's deprecated already. On the top of it as well as the page at https://pulsar.apache.org/docs/admin-api-topics, the [Pulsar Admin doc](https://pulsar.apache.org/tools/pulsar-admin/) is referred but the format there is not very friendly for end user consumption.

[2022-08-26 01:30] Demogorgon314 commented on #14848
[Another failure](https://github.com/apache/pulsar/runs/8028058162?check_suite_focus=true#step:11:217)
[code]

[2022-08-26 02:22] aloyszhang commented on #17267
PIP discuss thread : https://lists.apache.org/thread/3zgpbxffo7gzsb5mdh0sk2rq27bgw2bo

[2022-08-26 02:46] zhanghaou commented on #16564
@tisonkun

It seems to a bug of arthas, not connected to jdk version. When I add more log in method getMemUsage(), total and used is correct. BTW, the memory of pod is useless, because of the override of jvm heap and direct memory in `LoadManagerShared:getSystemResourceUsage()  `
![企业微信截图_e7c24f36-7669-40bd-b663-58193ae45f14](https://user-images.githubusercontent.com/5668441/186805181-7b973b34-496

[2022-08-26 02:57] zhcn commented on #17279
ok

[2022-08-26 03:40] #16796 closed

[2022-08-26 04:57] michaeljmarshall commented on #5881
@frejonb - I think it comes down to how we define which messages can be classified as "delivered". From the broker's perspective, I only consider a message as delivered when the client sends a protocol message indicating ack or nack. By only incrementing the redeliveryCount when a client sends a nack (`CommandRedeliverUnacknowledgedMessages`) protocol message, we ensure that an application sees a

[2022-08-26 05:16] codelipenghui commented on #11428
Another one: https://github.com/apache/pulsar/runs/8029353543?check_suite_focus=true

[2022-08-26 08:00] lhotari opened #17292 "[Bug] Broker shutdown could hang at ModularLoadManagerImpl.disableBroker / ResourceLock.release"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

master b21f7288

### Minimal reproduce step

Happens in PulsarFunctionTlsTest.tearDown in CI. [Example failure](https://github.com/apache/pulsar/runs/8026627215?check_suite_focus=true#step:11:77)

### What did you expect to see?

Broker shutdown shouldn't get

[2022-08-26 08:01] lhotari commented on #17292
Duplicates #15643

[2022-08-26 08:01] #17292 closed

[2022-08-26 08:02] lhotari commented on #15643
recent stack trace:
[code]
at https://github.com/apache/pulsar/runs/8026627215?check_suite_focus=true#step:11:77

[2022-08-26 08:40] nguyenthanhlong98 opened #17294 "[ Doc ] I can't configure TLS vector to pulsar like vector to kafka"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

Vector TLS pulsar
I can't configure TLS vector to pulsar like vector to kafka
![image](https://user-images.githubusercontent.com/45157728/186860893-ec81f596-4a55-45ab-a1a4-9cda868a9ae8.png)
Vector to pulsar
![image](https://user

[2022-08-26 08:44] nodece commented on #17294
See https://pulsar.apache.org/docs/next/security-tls-transport and https://pulsar.apache.org/docs/next/security-tls-keystore.

[2022-08-26 08:55] nguyenthanhlong98 commented on #17294
@nodece thank you but the problem I have is when configuring the TLS vector with pulsar it doesn't have the same TLS attribute as kafka

[2022-08-26 08:57] nguyenthanhlong98 commented on #17294
@nodece kafka example has config vector
tls
tls.ca_file
tls.crt_file
tls.key_file
tls.key_pass
and for vector to pulsar there is no this attribute to config

[2022-08-26 09:10] #17101 closed

[2022-08-26 10:26] xiaogang-sn opened #17298 "[Doc] Fix the example for metadata store with etcd"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

In the [current configuration example](https://pulsar.apache.org/docs/next/administration-metadata-store#use-etcd-as-metadata-store), it shows as follows.

[code]

It will not work per https://github.com/apache/pulsar/pull/16309

[2022-08-26 14:57] nodece commented on #17294
tls.ca_file -> tlsTrustCertsFilePath
tls.crt_file -> tlsCertificateFilePath
tls.key_file -> tlsKeyFilePath
tls.key_pass -> not supported

See https://pulsar.apache.org/docs/next/security-tls-transport#configure-broker

If you want to learn the authentication and authorization, see https://pulsar.apache.org/docs/next/security-extending

[2022-08-26 14:58] tisonkun opened #17302 "Tracking Issue for multilingual clients document catching up"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

We have a [Client Libraries](https://pulsar.apache.org/docs/next/client-libraries) page to host all official client libraries documents. Despite the Java client's document being relatively completed, documents for multilingual clients are outdated and less

[2022-08-26 15:02] tisonkun opened #17303 "Sync (Duplicate) "Connection URLs" section for all clients"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Before showing examples about creating producer/consumer, it's common to tell users about Pulsar URLs formats. So far, we don't have a common place to document this information. So I'd like to sync (duplicate) it into every client library's document.

###

[2022-08-26 15:16] tisonkun opened #17305 "[Doc] Remove CGo client standalone page and its reference in Go client page"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

pulsar-client-cgo is deprecated from 2.7.0 and now it has been already deleted from the master branch.

However, we still hold a standalone page and some references from the Go client page (pulsar-client-go).

### What is your s

[2022-08-26 15:22] tisonkun commented on #17305
This can be related to https://github.com/apache/pulsar/issues/17302. But the tracking issue focuses on catching up content. So keep this miscellaneous issue standalone.

[2022-08-26 15:25] codelipenghui commented on #17225
Another one: https://github.com/apache/pulsar/runs/8037496908?check_suite_focus=true

[2022-08-26 15:28] tisonkun opened #17307 "Turn on syntax highlight for all related programming languages"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

This can be a trivial config change on the [docusaurus.config.js](https://github.com/apache/pulsar-site/blob/1d837ec3bda5c6bad69200fb9422a79d4298860e/site2/website-next/docusaurus.config.js#L355) file:

[code]

### Solution

_No response_

### Alternatives

[2022-08-26 16:45] GBM-tamerm commented on #13892
I'm still seeing the same error in  2.9.2 and 2.9.3 , it  occasionally happened when we restart one or more ZKs.

[2022-08-26 17:44] #17305 closed

[2022-08-27 00:37] ypzhuang commented on #14534
upgrade from pulsar-client-all:2.10.0 to 2.10.1, the issue gone.

[2022-08-27 15:16] azhsmesos opened #17311 "Run `mvn clean install -DskipTests` command got exception"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

无

### Exception stacktrace

<img width="1747" alt="image" src="https://user-images.githubusercontent.com/65518067/187036316-aa0b33c8-f664-4a70-ab24-8d40d71d0de8.png">

这个可能啥原因呀

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-08-27 15:36] nicoloboschi commented on #17311
@azhsmesos please try to build from the root directory

[2022-08-28 03:09] cjfff commented on #16566
Thank you for your reply, It's completely installed for your recommended version of google-test.

[2022-08-28 03:09] #16566 closed

[2022-08-28 05:07] sollecitom commented on #16818
I thought we were starting an email thread.

On Sun, 28 Aug 2022, 03:16 github-actions[bot], ***@***.***>
wrote:

[2022-08-28 05:17] azhsmesos commented on #17311
谢谢 解决了，但是跑单侧时也会报错：
<img width="1147" alt="image" src="https://user-images.githubusercontent.com/65518067/187058746-541a5adf-ec22-4e38-b78f-4301154b7192.png">
<img width="1419" alt="image" src="https://user-images.githubusercontent.com/65518067/187058756-35400fd5-3613-42c7-b74b-3ad374e84e09.png">
麻烦帮忙看下可能啥原因呢

[2022-08-28 07:28] leizhiyuan commented on #17213
I think it should be, sometimes we want to analyze the usage of bk.( multi pulsar clusters use one bk cluster)

[2022-08-28 09:11] tisonkun commented on #17311
@azhsmesos this can be relevant to https://github.com/apache/pulsar/issues/16694.

Please update the issue tile and content in English which is the default language to use. Also, these questions is not about `component/test` or `flaky-tests`. You'd better close it and ask in English on the [discussions forum](https://github.com/apache/pulsar/discussions/categories/q-a) or in Chinese on a [third-pa

[2022-08-28 17:27] lhotari commented on #16736
running an experiment in https://github.com/lhotari/pulsar/pull/78

[2022-08-28 17:59] eolivelli commented on #16736
The experiments looks promising

[2022-08-28 18:02] eolivelli commented on #17213
The proposal names sense to me

[2022-08-29 01:41] #17303 closed

[2022-08-29 02:05] nguyenthanhlong98 commented on #17294
@nodece Thank you, but this config is only for pulsar client and broker of pulsar. I want config for vector and pulsar
https://vector.dev/docs/reference/configuration/sinks/pulsar/
Because in vector's doc there is no config tls for vector and pulsar so i don't know how to configure effectively
Thanks @nodece

[2022-08-29 02:09] BewareMyPower commented on #10328
The C++ client will be supported after https://github.com/apache/pulsar/pull/17209 is merged.

[2022-08-29 02:19] nodece commented on #17294
Sorry, I don't know how to config the vector, but it looks like not supported the TLS.

[2022-08-29 02:26] SignorMercurio commented on #13453
Shall we close this?

[2022-08-29 02:30] nguyenthanhlong98 commented on #17294
@nodece, yes, there are vectors in the doc that don't support tls, but i hope there is a configuration that can replace tls for example
Thanks

[2022-08-29 02:41] nodece commented on #17311
The root cause is `broker.keystore.jks` not found, the Maven can copy this resource, but the IDEA cannot.

Please run the `mvn clean install -DskipTests=true` first, and then run your test.

[2022-08-29 02:42] Pradhyumnakashyap commented on #17298
Hi @sijie ,

I'm interested in updating this doc could you please assign this to me.

TIA,
Pradhyumna K R

[2022-08-29 02:43] RobertIndie commented on #17298
Thanks. I have assigned it to you.

[2022-08-29 03:07] Anonymitaet commented on #13453
@SignorMercurio we have not completely finished it, right?

[2022-08-29 03:34] coderzc commented on #14848
+1 https://github.com/apache/pulsar/runs/8062672745?check_suite_focus=true

[2022-08-29 05:11] SignorMercurio commented on #13453
@Anonymitaet The Pulsar Configuration part is finished now.

[2022-08-29 06:29] tisonkun commented on #16736
https://github.com/apache/pulsar/pull/17282/checks?check_run_id=8047947991 I notice another issue on test reports that the report can be assigned to multiple jobs.

[2022-08-29 08:25] kongh commented on #6542
We also encounter the same error, but when a broker's server is restarted.

We are deploying via k8s, and we have k8s with automatic node configuration lift.

We are load balancing the connection via plusar-proxy.

[2022-08-29 10:40] alpreu opened #17333 "[Bug] PulsarAdminBuilderImpl overrides timeout properties passed through config map"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

master commit id [0e149ef](https://github.com/apache/pulsar/commit/0e149ef0484755d42e214f03003237299433c89a)

### Minimal reproduce step

PulsarAdminBuilder allows configuration of PulsarAdmin either by using the setters on the builder, or by using the `loadC

[2022-08-29 11:12] lhotari commented on #15392
this remains very flaky
[code]
at https://github.com/apache/pulsar/runs/8066475125?check_suite_focus=true#step:11:19252

[2022-08-29 11:35] tisonkun commented on #17302
@RobertIndie @shibd when you merge some patches requiring docs, you can cc me in this thread and I'm glad to track them and help on the docs side.

[2022-08-29 11:44] gaoran10 commented on #17219
It seems it's hard to reproduce this problem.

[2022-08-29 12:27] lhotari opened #17335 "PIP-205: Reactive Java client for Apache Pulsar"
Status: Accepted
Mailing list thread: https://lists.apache.org/thread/9n961zvr5y4g77n7pfsptg796r2obfo1

### Motivation

There's a need to "go reactive from end-to-end" when building modern reactive applications with platforms such as Spring Reactive. \
There are ways to adapt the Apache Pulsar Java client async API calls to Reactive Streams with a few lines of code. \
However, a lot will be missin

[2022-08-29 15:45] codelipenghui commented on #17333
@alpreu Do you want to push a PR to revert https://github.com/apache/pulsar/pull/17313? Anyway, I think we should revert it first.

[2022-08-29 23:39] dave2wave commented on #17307
Please submit a PR

[2022-08-30 00:56] liliang950210 commented on #17097
Security hardening has been performed on my environment, gdb these need to be reinstalled, I am trying to reinstall.
Is it true that our pulsar client does not support Python 3.9?

[2022-08-30 02:03] tisonkun commented on #17307
See also https://github.com/apache/pulsar-site/pull/187.

[2022-08-30 02:08] tisonkun commented on #17307
See also https://github.com/apache/pulsar/pull/17342 for the main repo part.

Thanks for your reminder @dave2wave!

[2022-08-30 04:08] coderzc commented on #16763
@gaoran10 @liudezhi2098 @eolivelli @mattisonchao @Technoboy- @poorbarcode  Please take a look at the vote email and help complete the vote, Thanks!
Vote Mailing list thread: https://lists.apache.org/thread/51n8kp64d16vxwh9h6klvyh1zo0owf91

[2022-08-30 04:32] congbobo184 commented on #17040
https://github.com/apache/pulsar/pull/17051 This Pr will fix the `reader.hasMoreEvents` has been blocked problem. please re-build the branch-2.9 or wait for tag 2.9.4

[2022-08-30 05:26] BewareMyPower commented on #17097
It supports Python 3.9.

[2022-08-30 05:29] BewareMyPower commented on #17097
You can verify if the library supports Python 3.9 with a simple e2e case on a Pulsar standalone (no TLS or authentication configured).

[2022-08-30 07:06] kaushalmadani commented on #17203
Hi @codelipenghui . I have replied on the same question.So it was from browser side.Need to handle this from either client side or need to send ping from producer this this consumer in specific interval. You can close this issue. Thanks for supprot.

[2022-08-30 07:41] liudezhi2098 opened #17345 "[improve][replicator] add the original message ID to the replicated cluster's messages"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

In some financial scenarios, it is necessary to track the source meassage id of the copied message, easy to locate and track.

### Solution

Add the original message id to properties in the copied message.

### Alternatives

The business key can be written

[2022-08-30 07:43] tjiuming commented on #17345
@liudezhi2098 assign me plz

[2022-08-30 07:54] liudezhi2098 commented on #17345
assigned, thanks.

[2022-08-30 08:40] RobertIndie commented on #14848
This issue still exists when I use the latest master branch code:
https://github.com/apache/pulsar/runs/8086575635?check_suite_focus=true#step:11:256

[code]

[2022-08-30 09:10] yapxue opened #17348 "[Bug] cannot import S3 offloader even tiered-storage-jcloud-2.10.0.nar is put in offloader folder"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.10.0

### Minimal reproduce step

1. pull image pulsarall:2.10.0
2. add managedLedgerOffloadDriver=S3 in configmap.
3. start pulsar in container.

### What did you expect to see?

pular application is started.

### What did you see instead?

<img width="142

[2022-08-30 09:25] codelipenghui commented on #17203
Thanks for the update, close the issue for now.

[2022-08-30 09:25] #17203 closed

[2022-08-30 10:29] #17348 closed

[2022-08-30 10:29] #16736 closed

[2022-08-30 10:29] yapxue commented on #17348
S3 is not supported in 2.10

[2022-08-30 11:38] #17165 closed

[2022-08-30 12:41] #16870 closed

[2022-08-30 15:45] cbornet opened #17354 "[Bug] Subscription with schema fails if there is an AUTO-CONSUME consumer attached to a topic"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.10.1, master

### Minimal reproduce step

* create an auto-consumer : bin/pulsar-client consume topic-a -s sub0 -n 0 -t Shared -st auto_consume
* create a consumer on same topic, same sub this time with a schema

[code]

* ==> failure with `IncompatibleSche

[2022-08-30 15:52] dave2wave opened #17896 "[Site Error] https://pulsar.apache.org/admin-rest-api/ page crashes"
The page fails with
<img width="604" alt="Screen Shot 2022-08-30 at 8 49 04 AM" src="https://user-images.githubusercontent.com/29803617/187482644-1981ebaa-a4cb-4235-b0f2-09fcc887bfe2.png">

[code]

[2022-08-30 17:15] #16688 closed

[2022-08-31 01:08] #17307 closed

[2022-08-31 02:09] aloyszhang commented on #17267
PIP VOTE thead : https://lists.apache.org/thread/ckxqgoyjkqgbp6szn2vh9ynzbsjxm3yy

[2022-08-31 02:11] RobertIndie commented on #16860
https://github.com/apache/pulsar/runs/8014028307?check_suite_focus=true#step:10:9672

[2022-08-31 02:22] rogueVpedro opened #17360 "[Bug] How to solve or optimize this problem [Client memory buffer is full]"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.10.1 master

### Minimal reproduce step

When we call the client for a long time, we find that the client is down and cannot send messages.
Then we got an exception while calling the client producer to send messages.  (Maybe the frequency of use is too high

[2022-08-31 03:25] #16054 closed

[2022-08-31 03:25] #9958 closed

[2022-08-31 03:42] codelipenghui opened #17361 "[feature] Automatic trigger offloading by time"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Pulsar has supported triggering the data offloading by size threshold

broker.conf
[code]

It will be great if Pulsar can support a time-based offloading threshold
With the time-based offloading threshold, we can easily offload data older than
a certain pe

[2022-08-31 03:48] codelipenghui opened #17362 "[feature] Support offload throttling"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Pulsar doesn't have offload throttling for now.
The offload task can have a chance to use up all the broker resources(CPU, network)

It's better to have a mechanism to throttle the offloading task
to improve the broker's stability.

### Solution

_No respo

[2022-08-31 04:00] tjiuming commented on #17112
@codelipenghui how about split it into 2 parts?

[2022-08-31 04:17] codelipenghui opened #17363 "Flaky-test: BatchMessageWithBatchIndexLevelTest.testBatchMessageAck"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/8104817693?check_suite_focus=true

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-08-31 04:19] codelipenghui commented on #16729
Looks the issue happened again https://github.com/apache/pulsar/runs/8104817651?check_suite_focus=true

[2022-08-31 04:20] nodece commented on #17294
I suggest you can make an issue to request help on the vector repo. If someone in the Pulsar community is willing to support it, that would be great.

[2022-08-31 04:21] codelipenghui commented on #17219
Another one https://github.com/apache/pulsar/runs/8104817953?check_suite_focus=true

[2022-08-31 04:22] codelipenghui opened #17365 "Flaky-test: RawReaderTest.testFlowControlBatch"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/8104784434?check_suite_focus=true

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-08-31 04:22] #16695 closed

[2022-08-31 06:27] eolivelli opened #17367 "Flaky-test: KinesisSinkTest.testWrite is flaky: SdkClientException: Unable to parse date : 1.661894722507E9"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://pipelines.actions.githubusercontent.com/serviceHosts/365d4aae-a024-4701-977d-a4807b036dda/_apis/pipelines/1/runs/639469/signedlogcontent/11?urlExpires=2022-08-31T06%3A26%3A00.6700367Z&urlSigningMethod=HMACV1&urlSignature=jIFWMl4F6R4OoLcQV%2BHh

[2022-08-31 07:48] nicoloboschi commented on #17367
Fixed with https://github.com/apache/pulsar/pull/17357

[2022-08-31 07:48] #17367 closed

[2022-08-31 08:00] tisonkun commented on #17335
@lhotari Cool! Several comments here:

`org.apache.pulsar.client.reactive`?

Does the test plan include integration with all or part of the framework listed here?

Could you share the links for these statements?

[2022-08-31 08:01] tjiuming commented on #17362
@codelipenghui assign me plz

[2022-08-31 09:08] zhcn commented on #17279
can you see anything wrong？ @tisonkun

[2022-08-31 09:11] lhotari commented on #17335
thanks for the comments @tisonkun

I was thinking about that option. However, I intentional proposed `org.apache.pulsar.reactive.client`.
I was simply thinking that it reads better. For the module and repository name I'd rather have pulsar-reactive-client than pulsar-client-reactive, but since there's an existing naming convention for the client modules, I thought it would be good to follow that.

[2022-08-31 09:20] Technoboy- commented on #17354
Fixed by #17353

[2022-08-31 09:24] tisonkun commented on #17335
Yep. I can see the reason that `reactive.client` is more suitable to be globally unique. I'm interested to learn your thoughts on the alternative. It sounds reasonable to me.

Agree. A proposal can go with a test plan, I'm trying to ask for the plan you'll cover in this turn.

I'd expect conversations on issues or a public channel where more contributors show their interests :) Although I support

[2022-08-31 09:37] Technoboy- commented on #17360
The default memoryLimit is 64M.
Try to set a larger value.
[code]

[2022-08-31 09:55] cbornet commented on #17354
No it's not fixed by https://github.com/apache/pulsar/pull/17353.
Can we reopen ?

[2022-08-31 09:58] eolivelli commented on #17354
reopened

[2022-08-31 10:44] zhcn commented on #17279
more infomation is here https://stackoverflow.com/questions/73554350/make-sharedstring-segment-fault#comment129889831_73554350

[2022-08-31 11:52] codelipenghui opened #17373 "Flaky-test: PulsarSinksTest.testKinesis"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/8111865921?check_suite_focus=true

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-08-31 11:58] gaozhangmin commented on #17360
If you encountered send error, like timeout,  there were multiple bug about client memory release, please reference
https://github.com/apache/pulsar/pull/16837
https://github.com/apache/pulsar/pull/16915
https://github.com/apache/pulsar/pull/16957
https://github.com/apache/pulsar/pull/16958
https://github.com/apache/pulsar/pull/16971

[2022-08-31 12:53] lhotari commented on #17335
We have a mailing list thread for this PIP, it's https://lists.apache.org/thread/xkfl5px7qgt5rrxw5pj0g318r6mbdlz1 .

[2022-08-31 12:58] liliang950210 commented on #17097
[coredump.log](https://github.com/apache/pulsar/files/9461686/coredump.log)
please help check it,thanks

[2022-08-31 12:59] zhcn commented on #17279
I use apache-pulsar-client-2.10.1-1.x86_64.rpm download from web, it also cause segment fault

[2022-08-31 13:21] BewareMyPower commented on #17279
How did you install the Pulsar library? Compiled from source or just installed from yum?

[2022-08-31 13:38] BewareMyPower commented on #17279
Could you give a complete example? Your code cannot be compiled.

I just downloaded the latest code in branch-2.11 and built the Pulsar C++ client from source. The following example works well.

[code]

Outputs:

[code]

The dependencies are:

[code]

I installed Protobuf 3.20.0 from source.

The GCC version:

[code]

[2022-08-31 13:58] BewareMyPower commented on #17279
I also tried the 2.10.1 RPM package and it works well with GCC 4.8.

[code]

[code]

Outputs:

[code]

I suspect there are multiple GCC compilers in your environment and you didn't set the related environment variables (`PATH` and `LD_LIBRARY_PATH`) well. Could you show the `ldd` result of your executable file and the GCC version?

[code]

[2022-08-31 22:24] michaeljmarshall commented on #13584
I think this is probably happening because two brokers make "decentralized" load decisions for the same bundle but to different brokers. Then, when each broker goes to load the bundle, one will win and one will lose.

My follow up question is whether the client should retry this type of failure or if it should propagate the failure back to the application code? It seems like a pretty retriable fai

[2022-09-01 01:51] labuladong opened #17384 "[Doc] Remove first and last newline in code block"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

Every code block in [pulsar document](https://pulsar.apache.org/docs/) has redundant newlines:

<img width="1123" alt="image" src="https://user-images.githubusercontent.com/37220920/187814413-695a34cc-42de-4e5d-b1dd-779f650daa91

[2022-09-01 01:54] tisonkun commented on #17384
Make sense. I'm doing this when touching related documents. I don't make a patch to apply it globally yet, though. If you have some time to do it and we get two or more committers' approval, we can try to take the move. Otherwise, it's quite easily to conflict with continuous contributions.

[2022-09-01 01:57] tisonkun commented on #17384
cc @Anonymitaet @momo-jun @Huanli-Meng

[2022-09-01 02:02] momo-jun commented on #17384
I'm working on this. https://github.com/apache/pulsar/pull/17355

[2022-09-01 02:06] labuladong commented on #17384
Seems great, thanks.  I'll close this issue.

[2022-09-01 02:06] #17384 closed

[2022-09-01 02:06] tisonkun opened #17385 "[Doc][CPP] Simplify the Install section and promote a top-level "Install" title"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

We have a long section describing all details of installing Pulsar C++ clients, users can be overwhelmed to read all of them.

Although we have a table of content so users can jump where they want to read, generally, (first-time

[2022-09-01 02:42] zhcn commented on #17279
[code]
[code]

[2022-09-01 02:49] zhcn commented on #17279
[code]

[2022-09-01 02:50] zhcn commented on #17279
I use -D_GLIBCXX_USE_CXX11_ABI=0, it still get a segment fault
[code]

[2022-09-01 03:06] mattisonchao opened #17386 "Flaky-test: NamespaceServiceTest. testModularLoadManagerRemoveBundleAndLoad"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/8126481494?check_suite_focus=true

### Exception stacktrace

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
  Error:  Tests run: 39, Failures: 1, Errors: 0, Skipped: 33, Time elapsed: 54.468 s

[2022-09-01 03:08] zhcn commented on #17279
when I use gcc  4.8.5, it works fine, no segment fault

[2022-09-01 03:09] zhcn commented on #17279
so, should I compile pulsar client with gcc 7.3.1 to fix this problem?

[2022-09-01 04:26] #17171 closed

[2022-09-01 04:45] BewareMyPower commented on #17279
According to your `ldd` info, your executable links to `/lib64/libstdc++.so.6`, it should be the C++ dependency of GCC 4.8 unless it has been overwritten.

[code]

If you compiled your program with GCC 7, you must set the `LD_LIBRARY_PATH` environment variable to the correct path (where the `libstdc++.so` of GCC 7 exists).

Maybe not. You should link to the correct library when you ran it. Even if

[2022-09-01 05:14] zhcn commented on #17279
[code]

[2022-09-01 05:20] michaeljmarshall commented on #16768
In the event that revoking this permission is really important, I think the current workaround would be to grant permission on the "new" partitions, and then revoke permission for the partitioned topic itself.

[2022-09-01 06:38] HQebupt opened #17388 "Flaky-test: PersistentSubscriptionMessageDispatchStreamingDispatcherThrottlingTest.testMultiLevelDispatch"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

PersistentSubscriptionMessageDispatchStreamingDispatcherThrottlingTest.testMultiLevelDispatch is flaky. It fails sporadically.

### Example failure

[Example failure](https://github.com/apache/pulsar/runs/8115929202?check_suite_focus=true)

### Exception stacktrace
[code]

[2022-09-01 07:35] BewareMyPower commented on #17279
Yes. Maybe you can try building the library from source with GCC 7.

[2022-09-01 07:42] zhcn commented on #17279
when I use gcc7 to build pulsar client from source to build a rpm. I get a problem, and when I use gcc4.8 it can make rpm succ
[code]

[2022-09-01 08:04] eolivelli commented on #17155
merged

[2022-09-01 08:04] #17155 closed

[2022-09-01 08:08] BewareMyPower commented on #17279
Could you skip building RPM packages first? I think you can verify your `libpulsar.so` first.

[2022-09-01 08:11] Pradhyumnakashyap commented on #17298
Hi @RobertIndie ,

Thanks for assigning this to me and my PR got merged : https://github.com/apache/pulsar/pull/17341

[2022-09-01 08:24] BewareMyPower opened #17392 "[Bug][C++] Segmentation fault might happen when resending messages"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

- The master branch (952985)
- macOS Monterey 12.3.1
- Apple clang version 13.1.6 (clang-1316.0.21.2.5)

### Minimal reproduce step

Run the unit test (`testResendViaSendCallback`) for multiple times.

[code]

### What did you expect to see?

Segmentation fau

[2022-09-01 08:27] BewareMyPower commented on #17392
The backtrace:

[code]

[2022-09-01 08:35] nicoloboschi commented on #17373
Fixed with https://github.com/apache/pulsar/pull/17357

[2022-09-01 08:35] #17373 closed

[2022-09-01 09:03] zhcn commented on #17279
I use gcc7 compiled pulsar client, but get following compile errors:
[code]

[2022-09-01 10:12] zhcn commented on #17279
I already install protobuf-3.20.0 from source , and install at /usr/local/lib
export LD_LIBRARY_PATH=/usr/local/lib:$LD_LIBRARY_PATH
still get compile errors

[2022-09-01 11:12] labuladong opened #17397 "[Doc][Go] Fix mistakes and improve code snippet of golang client document"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

Golang client document has some mistakes, for example:

<img width="959" alt="image" src="https://user-images.githubusercontent.com/37220920/187899599-3d812602-274c-4cc7-84c8-8ec063bb3c7e.png">

### What is your suggestion?

I w

[2022-09-01 11:13] syhily commented on #13103
We met the same issue on Flink connector test. Any progress on this?

[2022-09-01 11:18] syhily commented on #13103
The thread dump for our test failure. It shows almost the same dead lock.

[code]

[jps-traces.log](https://github.com/apache/pulsar/files/9469341/jps-traces.log)

[2022-09-01 11:50] BewareMyPower commented on #17097
Could you provide your OS version and how did you install the Python client? Installed from `pip` or building from source?

Could you try the wheel from [StreamNative's 2.10.1.6 release](https://github.com/streamnative/pulsar/releases/tag/v2.10.1.6)?

[2022-09-01 11:59] zhcn commented on #17279
I compile pulsar client use gcc7. but I get the following compile errors
[code]

[2022-09-01 12:05] BewareMyPower commented on #17279
You should use `-L` option to specify the path of the directory that contains `libpulsar.so`. The path should also be added into `LD_LIBRARY_PATH`.

[2022-09-01 12:10] zhcn commented on #17279
add -D_GLIBCXX_USE_CXX11_ABI=1  and it works fine
[code]

[2022-09-01 12:24] zhcn commented on #17279
but I'm still confued, if my gcc is -with-default-libstdcxx-abi=gcc4-compatible, why compiled with pulsar client using gcc4.8 will segment fault?

[2022-09-01 13:41] liliang950210 commented on #17097
Linux kwephis349347 4.18.0-147.5.1.6.h579.eulerosv2r9.x86_64 #1 SMP Wed Sep 8 09:00:35 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux

pip install *.whl

[2022-09-01 14:10] liliang950210 commented on #17097
After the TLS is loaded to the Python client, a core dump occurs. According to the analysis, the ARM version is correct, but the x86 version is incorrect. The difference is that the OpenSSL version in the .so file is different. The ARM version is 1.1.1, and the x86 version is 1.1.0. Is this the cause?

[2022-09-01 14:10] liliang950210 commented on #17097
Could you try the wheel from [StreamNative's 2.10.1.6 release](https://github.com/streamnative/pulsar/releases/tag/v2.10.1.6)?
--- i tried, core too。

can make the openssl to 1.1.1?

[2022-09-01 14:34] BewareMyPower commented on #17097
Maybe we need to enhance the Python wheel build script. @RobertIndie would you like to take over this task?

[2022-09-01 14:45] KannarFr opened #17406 "[Bug] handleSubscribe doesn't check for CREATE_TOPIC permission"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.10

### Minimal reproduce step

Using a custom authZ provider, subscribe to a topic that does not exist with CONSUME permission but without CREATE_TOPIC permission.

### What did you expect to see?

Authorization error as CREATE_TOPIC is not authorized.

##

[2022-09-01 15:13] RobertIndie opened #17407 "Flaky-test: TopicReaderTest.testMultiReaderIsAbleToSeekWithTimeOnMiddleOfTopic"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/8127487718?check_suite_focus=true#step:10:2418

### Exception stacktrace

[code]
### Are you willing to submit a PR?

- [X] I'm willing to submit a PR!

[2022-09-01 16:58] tisonkun opened #17409 "[Doc] Simplify the get started page for local cluster"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

The current [Get Started page for local cluster](https://pulsar.apache.org/docs/next/getting-started-standalone) is too much redundant than it should be. Most users want a short happy path to boot a Pulsar cluster and play with

[2022-09-01 17:11] BewareMyPower commented on #17279
The segmentation fault might not be caused by the ABI compatibility, otherwise it should still failed in compile time, not runtime. I still suspect your compilation environment and runtime environment are not consistent, e.g. when it's compiled, it linked to GCC 7, when it's executed, it linked to GCC 4.8.

[2022-09-01 17:32] adrian-tarau opened #17412 "Unusual jar naming strategy"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

The naming of the Pulsar jars is a bit unusual. If the project provides shaded JARs, they are named _*-shaded.jar_, and the original JAR is left as is. Most of the time, projects will include the non-shaded jar since it is not desired to duplicate another

[2022-09-01 18:09] tisonkun commented on #17412
Is it a big deal about the name? Every project can has its own preference and if only it doesn't become a trouble for some integrations, it looks neutral to me to use `pulsar-client` as the shaded version and `pulsar-client-original` as the slim version.

If we just change `pulsar-client` to the slim version, it will shock users who already use it as a shaded version. This is a user-facing interfa

[2022-09-02 01:16] rogueVpedro commented on #17360
In fact, the size of each message is controlled within 64M. We judge the size of each message before sending it to the producer queue. But still found this problem again

[2022-09-02 01:18] rogueVpedro commented on #17360
OK, I will refer to the solutions to these bugs, but I am not sure whether they are useful.

[2022-09-02 01:49] liliang950210 commented on #17097
Can we put out a temporary package first, and we'll check if it's feasible?

[2022-09-02 02:11] labuladong opened #17413 "[Doc] REST API render mistake"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

Some REST API tabs have rendering problems:

<img width="1134" alt="image" src="https://user-images.githubusercontent.com/37220920/188043563-da8e8c03-9c4d-4079-83ee-be1fbb43f374.png">

Expected:

![image](https://user-images.git

[2022-09-02 02:28] nodece commented on #15311
Any updates?

[2022-09-02 02:32] zhcn commented on #17279
so if I set my GCC 7 ABI gcc4-compatible, I must use GCC 4 libstdc++.so not GCC 7 libstdc++.so ?

[2022-09-02 02:38] momo-jun opened #17415 "[Doc] Support switching versions on the same topic page"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

To change the doc version, there are only two ways available:
1. Manually modify the version number in the URL, which is not intuitive for non-developers.
2. Select another version on the `Version` page, but this redirects users

[2022-09-02 02:39] momo-jun commented on #17415
@urfreespace Can you pls take a look and evaluate?
CC @Anonymitaet The label may need an update to `doc`.

[2022-09-02 02:41] nodece commented on #17097
My OpenSSL version is 2.8.3.

[2022-09-02 02:50] BewareMyPower commented on #17279
I didn't test that. But I think you can test the official C++ library in a pure environment like docker container. Then you can figure out if there is something wrong with your env.

[2022-09-02 03:03] zhcn commented on #17279
thanks alot for you help!@BewareMyPower

[2022-09-02 03:03] #17279 closed

[2022-09-02 03:03] zhcn commented on #17279
closed

[2022-09-02 03:36] liliang950210 commented on #17097
The version is a bit high, I don't know if it's feasible. Or can the so file dynamically depend on OpenSSL without specifying the version?

[2022-09-02 04:01] #17413 closed

[2022-09-02 05:28] labuladong opened #17422 "[Doc] There are many fullwidth quotes in code snippet"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

There are many fullwidth quotes in code snippets:

<img width="421" alt="image" src="https://user-images.githubusercontent.com/37220920/188063346-73b0f642-474f-4ad7-bb2c-940e776100e8.png">

This bug has confused me for a while 😂

[2022-09-02 06:35] kong62 commented on #12628
[code]

[code]

[2022-09-02 08:09] congbobo184 commented on #13103
@syhily What version of the broker are you using?
Is this problem stable to reproduce or probably to happen?
https://github.com/apache/pulsar/pull/17051 This pr may be fixed this problem, but I am not sure they are the same problem. Please provide the log of the client to determine whether they are the same problem

[2022-09-02 08:14] liliang950210 opened #17427 "[Bug]"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.7.4

### Minimal reproduce step

I tried compiling pulasr-client on Euler OS. However, an error is reported, and no related package is found.

### What did you expect to see?

comilling success

### What did you see instead?

(tt) [root@DisbNode02 python]#

[2022-09-02 08:42] #8407 closed

[2022-09-02 08:42] #13865 closed

[2022-09-02 09:21] #17422 closed

[2022-09-02 09:30] shibd opened #17428 "[feature request] C++ client support acknowledging a list of messages"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

https://github.com/apache/pulsar/issues/7626

### Solution

Can refer: https://github.com/apache/pulsar/pull/7688

### Alternatives

_No response_

### Anything else?

_No response_

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-09-02 09:35] shibd commented on #17428
@RobertIndie @BewareMyPower Please assign it to me.

[2022-09-02 09:44] tisonkun opened #17430 "ci-python-build-3.9-client.yaml failed to run"
This section is incorrect and produces:

[code]

See https://github.com/apache/pulsar/actions/runs/2978090895.

I guess it will cause all PRs to fail. Please take a look @nodece @RobertIndie.

Weird why it's not failed on PR CI workflows.

_Originally posted by @tisonkun in https://github.com/apache/pulsar/pull/17232#discussion_r961497433_

[2022-09-02 09:59] liliang950210 commented on #17427
Can I provide the compilation method of pulsar-client on CentOS?
Many packages that Ubuntu depends on cannot be found in CentOS.

[2022-09-02 10:19] liliang950210 commented on #17097
This issue has a great impact on the version release. When will this issue be resolved?

[2022-09-02 10:45] labuladong opened #17433 "[Doc] Cluster-level failover shouldn't be part of Java client chapter"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

When I read the Java client document, I found a very long chapter to introduce [cluster-level failover](https://pulsar.apache.org/docs/next/client-libraries-java#cluster-level-failover). Seems that cluster-level failover is a fe

[2022-09-02 11:24] TakaHiR07 commented on #17040
@congbobo184 I re-build the branch-2.9, restart my cluster. This time I can successfully txn_produce on some topic, but when I try txn_produce on a 10-partition topic, client still has the same timeout exception.

The client log is the same as before. For the server log, this time it seems some partition has finish the transaction recover and can successfully create producer. But some other partit

[2022-09-02 11:55] cbornet commented on #3012
See #17353

[2022-09-02 12:00] cbornet commented on #4285
Yes LocalRunner seems to fill that gap.

[2022-09-02 12:00] #4285 closed

[2022-09-02 12:40] poorbarcode commented on #17363
assign to me

[2022-09-02 12:44] poorbarcode commented on #16729
assign to me

[2022-09-02 12:44] poorbarcode commented on #17365
assign to me

[2022-09-02 13:34] coderzc commented on #17365
@poorbarcode I already push a PR(#17365) to fix this issue.

[2022-09-02 13:46] poorbarcode commented on #16864
assign to me

[2022-09-02 14:31] gaoran10 commented on #17406
I'll try to resolve this problem.

[2022-09-02 15:13] leizhiyuan opened #17437 "[Bug] keyshared will block the pulsar-io thread"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.7.2

### Minimal reproduce step

no way

### What did you expect to see?

no

### What did you see instead?

[code]

the lock object

[code]

### Anything else?

[sh_219.log](https://github.com/apache/pulsar/files/9479083/sh_219.log)

### Are you willing to

[2022-09-02 15:21] coderzc commented on #17169
Please assign it to me.

[2022-09-02 15:47] DaveDuggins commented on #17409
@tisonkun, I was preparing to edit these docs today.  Thank you very much for your help! I'll work together with you and Yu to improve the documentation. I'll wait until you submit your draft to take any action.

[2022-09-02 15:52] tisonkun opened #17438 "[Doc] Create an alias with version number to latest stable version"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

You can find docs for `2.9.x` at: https://pulsar.apache.org/docs/2.9.x, for `2.10.1` at https://pulsar.apache.org/docs/2.10.1, but the latest stable version `2.10.x` only lives at `https://pulsar.apache.org/docs`, not at `https:

[2022-09-02 16:01] tisonkun commented on #17409
@Anonymitaet Thanks for your information! I'll try to integrate your comment, submit the patch and answer which ones I accepted.

@DaveDuggins Good to know :) Looking forward to co-work on the content.

FYI - the estimate is by the next Monday (20220905).

[2022-09-02 16:15] RobertIndie commented on #17011
Another failure: https://github.com/apache/pulsar/runs/8159197059?check_suite_focus=true#step:10:824

[2022-09-02 17:22] yuweisung opened #17442 "[Bug] Zookeeper TLS breaks /bin/pulsar zookeeper-shell"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.9 and 2.10

### Minimal reproduce step

zookeeper server sslquorum and client TLS on (2281 port).

[code]

### What did you expect to see?
[code]

### What did you see instead?
[code]

zk server log
[code]

### Anything else?

According to zookeeper guide,

[2022-09-02 17:45] poorbarcode commented on #17011
The cause of the problem:
- Messages are received out of order. see #17418
- There may be bugs when enabled streaming dispatch

[2022-09-02 22:13] devinbost commented on #5252
I'm interested in this. We're taking a serious look at CloudEvents.

[2022-09-03 00:18] tisonkun commented on #17442
@yuweisung please format the output and share your full setup for minimal reproduction:

1. What's the ZK config exactly?
2. What's the concrete steps to reproduce the issue?

[2022-09-03 00:27] tisonkun commented on #17442
And basically, I think you can use the `client-configuration` option to force the connection using Netty impl.

Reference: https://zookeeper.apache.org/doc/r3.7.0/zookeeperCLI.html (search `client-configuration`)

[2022-09-03 02:13] leizhiyuan commented on #17437
org.apache.pulsar.common.util.collections.ConcurrentSortedLongPairSet#items(int, org.apache.pulsar.common.util.collections.LongPairSet.LongPairFunction<T>)

it seem if messagesToRedeliver has many messages ,this method will take much time,

there has an

public synchronized void readMoreEntries()

with will be blocked in synchronized

[2022-09-03 04:14] #17430 closed

[2022-09-03 09:08] Gleiphir2769 opened #17446 "[Bug] Producer may be permanently blocked by chunking messages when blockIfQueueFull is enabled"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Pulsar 2.11

### Minimal reproduce step

It can be reproduced simply by following.
[code]

### What did you expect to see?

The reason for this bug is how the chunk message semaphore is obtained.
https://github.com/apache/pulsar/blob/359cfa7bc05775bf6dd004f21

[2022-09-03 14:36] MarvinCai commented on #17433
though, this feature is only available in Java client for now: https://docs.google.com/spreadsheets/d/1YHYTkIXR8-Ql103u-IMI18TXLlGStK8uJjDsOOA0T20/edit#gid=1784579914

[2022-09-03 15:56] tisonkun commented on #17047
I think I found the root cause. After the first run, we have both:

[code]

... in the path. And perhaps due to `ServicesResourceTransformer` first treat them as different files, but after relocated, they are under the same name, so when shaded into the final jar file, it failed on:

[code]

This should be an upstream issue to resolve. As long as we hold the dependency and relocation logic, it's a

[2022-09-03 16:19] tisonkun commented on #17047
Here https://github.com/apache/maven-shade-plugin/pull/150 is the fix for upstream. I've verified locally. Please react an emoji to prioritize it :)

[2022-09-03 16:47] Denovo1998 commented on #17354
Fixed by #17449

[2022-09-03 22:53] leizhiyuan commented on #17437
https://github.com/apache/pulsar/pull/16304 this may fix a part of this

[2022-09-03 23:46] leizhiyuan opened #17451 "[Bug] if there are many message hole with delay message, sub will very slow and occupy the io thread"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

master

### Minimal reproduce step

just keep many message hole in memory

### What did you expect to see?

do not block pulsar-io,which will make the sub failed with timeout

### What did you see instead?

[code]

### Anything else?

we should not execute lo

[2022-09-04 06:55] poorbarcode commented on #14540
Hi @lhotari  @mattisonchao

PR #17216 has been merged, should this issue be closed?

[2022-09-04 07:02] poorbarcode commented on #17386
assign to me

[2022-09-04 10:19] labuladong commented on #17433
Thanks for pointing out that, but I think moving the chapter is better. Reasons:

1. Cluster-level failover is a concept based on Geo replacation rather than a feature of the client.
2. Advanced features shouldn't be at the beginning of documentation.

We can emphasize this feature is only ready for the Java client yet, and add usage examples at the end of the Java client doc.

[2022-09-05 01:57] MarvinCai opened #17460 "[Doc] [Website] Rest API page broker"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

https://pulsar.apache.org/admin-rest-api/#/ is broken
<img width="1814" alt="image" src="https://user-images.githubusercontent.com/13480084/188345441-b9ecaf8b-b26e-43cb-872b-44dab10b4c9c.png">

### What is your suggestion?

N/A

[2022-09-05 02:11] labuladong commented on #17460
Seems it's our network issue?

<img width="1468" alt="image" src="https://user-images.githubusercontent.com/37220920/188346497-ff0e1fe0-e311-49ef-956d-6750667ff652.png">

[2022-09-05 03:30] Anonymitaet commented on #17433
@labuladong thanks for raising this up! That’s a good point!

Just my two cents:

☘️☘️☘️ **1. Content mapping**

[Pulsar doc IA](https://docs.google.com/spreadsheets/d/1Zl7OUlh4McGOgkeePWP46HqMDEyG5GF8k0B3C5D5T7w/edit#gid=958558547) in being redesigned. Specific guides are being created for different roles:

- Beginners
- Developers
- Operators
- Contributors

Should the [existing content of clust

[2022-09-05 03:56] Anonymitaet commented on #17438
@tisonkun thanks for reporting this issue!
It makes sense to update `https://pulsar.apache.org/docs` to `https://pulsar.apache.org/docs/2.10.x` for 2.10.x doc URL. @momo-jun thoughts?

[2022-09-05 03:58] liliang950210 commented on #17097
hi，Any progress?

[2022-09-05 06:03] MarvinCai commented on #17460
weird, will let one more user to confirm

[2022-09-05 06:05] MarvinCai commented on #12271
@tisonkun seems we've enabled the plugin for all modules, can close this issue?

[2022-09-05 06:10] momo-jun commented on #17438
I don't have any objection to this request. CC @urfreespace.

In my understanding, `https://pulsar.apache.org/docs` always represents the latest stable doc, which is version-neutral and good for doc iteration. When 2.10.x became an older version, it will have the URL `https://pulsar.apache.org/docs/2.10.x` then.

[2022-09-05 06:18] tisonkun commented on #17438
@momo-jun yes. Please be aware that I'm _not_ proposing **remove** `docs` and adding `docs/2.10.x`, but **barely adding an alias**.

Supposed you're a user using 2.10.x, you share a link to the latest doc with your colleague, then 2.11.0 is released, and the link result changes.

[2022-09-05 06:20] tisonkun commented on #12271
@MarvinCai No. There're still several dangling issues:

* https://github.com/apache/pulsar/pull/17275
* https://github.com/apache/pulsar/issues/16991

[2022-09-05 06:21] tisonkun commented on #12271
Concretely, we turn on the plugin for `pulsar-broker`, but ignore several patterns now for gradually handling them. I think @youzipi is actively working on this. We can help with reviewing.

[2022-09-05 06:50] momo-jun commented on #17438
@tisonkun I understand your concern. But I do think it somehow has a positive effect by sharing a version-neutral doc link, since we are continuously improving the existing content. The links pointing to the latest stable version can enable users to always look at a better version of the doc. If there are new features out of their reach in the new versions, they can switch doc versions then or eve

[2022-09-05 07:16] congbobo184 commented on #17040
@TakaHiR07 Hi
what version of the client you are using?
[code]
this log is normal and does not affect behavior, we will change it to warn or debug level.

for creating a producer timeout problem, can you conveniently provide the jstack, dump and log file?
https://github.com/apache/pulsar/issues/17040#issuecomment-1214544142 Is the thread still stuck here?

[2022-09-05 07:23] TakaHiR07 commented on #17040
Oh, still 2.9.2, I notice the pr-17040 fix on client side, not on broker side. I would try to update the client version and test again. Thanks a lot.

[2022-09-05 07:29] urfreespace commented on #17415
https://github.com/apache/pulsar-site/pull/201

[2022-09-05 07:35] nodece commented on #17097
Cannot reproduce this issue on OpenSSL 1.1.1.

- Linux
Linux 900b7587f8c0 5.10.25-linuxkit #1 SMP Tue Mar 23 09:27:39 UTC 2021 x86_64 x86_64 x86_64 GNU/Linux
- OpenSSL
OpenSSL 1.1.1f  31 Mar 2020
- Python 3.9.6

[2022-09-05 07:43] BewareMyPower commented on #17097
I think the core question is that how did you generate the certificates? What's the version of the `openssl` you used? It could help reproduce the issue.

[2022-09-05 07:58] momo-jun commented on #17460
The link https://pulsar.apache.org/admin-rest-api/#/ works well on my side.

[2022-09-05 08:18] BewareMyPower opened #17468 "[Bug] Cannot build Python wheels for macOS"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

- OS: macOS Monterey 12.3.1
- CMake version: 3.21.1
- Clang++ version: Apple clang version 13.1.6 (clang-1316.0.21.2.5)
- Python version: 3.10.6
- Pulsar version: v2.10.1

### Minimal reproduce step

Run the following command.

[code]

### What did you expect

[2022-09-05 08:22] momo-jun commented on #17433
@labuladong @Anonymitaet  I agree it's a quick win to move the concept/ref information to a new topic in parallel with [Geo-replication](https://pulsar.apache.org/docs/next/concepts-replication) and only keep the content with code snippets for how to configure the java client to use cluster-level failover.  Regarding 2.2., IMHO, cluster-level failover is an HA (`high availability`) solution while

[2022-09-05 08:56] momo-jun commented on #17274
@xiaogang-sn as mentioned at the beginning of [this doc page](https://pulsar.apache.org/docs/admin-api-topics) - It only introduces some frequently used operations. For the latest and complete list of APIs, you can visit the corresponding docs.

<img width="1058" alt="image" src="https://user-images.githubusercontent.com/60642177/188409739-11bb11fc-d2ea-4481-ac52-57bb0db29882.png">

[2022-09-05 09:01] andrasbeni opened #17472 "[Bug] Additional servlets are extracted to wrong directory when narExtractionDirectory is not set"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Pulsar version: 2.11-SNAPSHOT git hash: 359cfa7bc05
OS: Mac OS

### Minimal reproduce step

- Create an `AdditionalServlet` implementation.
- Configure broker to use it.
- Leave `narExtractionDirectory` in the `broker.conf` the default (empty string)
- Start

[2022-09-05 09:02] #17298 closed

[2022-09-05 09:05] xiaogang-sn commented on #17274
Yes I noticed the [Pulsar Admin doc](https://pulsar.apache.org/tools/pulsar-admin/) site before. It's just not very friendly for end user to consume.

[2022-09-05 09:05] #17274 closed

[2022-09-05 09:06] andrasbeni commented on #17472
For a quick reproduction, see PR https://github.com/apache/pulsar/pull/17450 :
When removing `brokerEnvs.put(PREFIX + "narExtractionDirectory", "/tmp");` from `TestAdditionalServlets.setupCluster`, the tests fail because the broker is unable to start.

[2022-09-05 09:22] xiaogang-sn opened #17473 "[Doc] Rename "Admin API" to "Admin Interfaces""
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

On the left navigation bar, "Admin API" is a bit misleading. People tend to take it as "Rest API" or similar stuff while most of the time they are just looking for admin commands.

### What is your suggestion?

Change it to "Adm

[2022-09-05 10:47] tisonkun commented on #17409
@Anonymitaet Patch at https://github.com/apache/pulsar/pull/17475. For your suggestions:

Good point! Addressed at https://github.com/apache/pulsar/pull/17475/commits/e1bd5cece9c13ef2f0d84fe938b394a5077116e2.

Accepted. Addressed at https://github.com/apache/pulsar/pull/17475/commits/e758f05411fc75f84a396eebe2c461e1e706cc4c.

"how to install JDK on M1" is not suitable to document on the Get Starte

[2022-09-05 11:17] liliang950210 commented on #17097
OpenSSL 1.1.1f  31 Mar 2020

[2022-09-05 11:26] liliang950210 commented on #17097
[root@DisbNode02 site-packages]# strings _pulsar.cpython-39-x86_64-linux-gnu.so|grep -i openssl|grep OpenSSL
UI_OpenSSL
OpenSSL_version_num
OpenSSL_version
DH_OpenSSL
DSA_OpenSSL
EC_KEY_OpenSSL
RAND_OpenSSL
RSA_PKCS1_OpenSSL
OpenSSL
OpenSSL SSL_read: %s, errno %d
OpenSSL SSL_connect: %s in connection to %s:%ld
OpenSSL SSL_read on shutdown: %s, errno %d
OpenSSL SSL_write: %s, errno %d
OpenSSL was b

[2022-09-05 11:32] mkoertgen commented on #14697
@noelo That's right, because somewhere between 2.7 -> 2.9 the base image changed the java base version from Java 1.8 to Java 11.
Also the ANSI-Charset in the default image changed. We also had some breaking issues with this (function user config piped as json on the command line)

Ways to accommodate this

- Upgrade pulsar to 2.9.3/2.9.4 (helm)
- Only upgrade the function worker images to a newer

[2022-09-05 14:18] #15392 closed

[2022-09-05 14:24] #16782 closed

[2022-09-05 15:52] syhily commented on #13103
@congbobo184 We are using Pulsar 2.10.0. This issue is hard to reproduce, I think this could be some race conflict.

[2022-09-05 15:53] syhily commented on #13103
https://dev.azure.com/apache-flink/apache-flink/_build/results?buildId=33945&view=logs&j=fc5181b0-e452-5c8f-68de-1097947f6483&t=995c650b-6573-581c-9ce6-7ad4cc038461&l=28511

The detailed test pipeline can be checked on flink azure.

[2022-09-06 00:58] labuladong opened #17480 "[Bug][Java client] main thread won't exit if not close pulsar client"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

macOS 12.5.1

Pulsar 2.10.1

Pulsar Java client 2.10.1

### Minimal reproduce step

Run this snippet:

[code]

### What did you expect to see?

Print `hello world` then exit normally.

### What did you see instead?

Print `hello world` but never exit.

### An

[2022-09-06 01:00] labuladong commented on #17480
We (+ @yaalsn) discuss this, seems that netty has a shutdown hook to prevent client exit.

[2022-09-06 01:31] urfreespace commented on #17415
https://github.com/apache/pulsar-site/pull/202

[2022-09-06 01:31] hangc0276 commented on #17433
@labuladong @Anonymitaet Thanks for tuning the document.
I support moving the  Concept and Reference category parts into the high availability section and placing it in parallel with Geo-replication. The Geo-replication part also belongs to the HA section.

[2022-09-06 02:39] #17392 closed

[2022-09-06 03:15] labuladong commented on #17433
Thanks for your discussion. Seems that a document redesign is planned in [Pulsar doc IA](https://docs.google.com/spreadsheets/d/1Zl7OUlh4McGOgkeePWP46HqMDEyG5GF8k0B3C5D5T7w/edit#gid=958558547), so do I need pull a request to simplify the current Java doc?

I plan to create a new chapter "Cluster-level failover" behind the [Geo Replication](https://pulsar.apache.org/docs/next/concepts-replication)

[2022-09-06 03:52] #17365 closed

[2022-09-06 04:09] nguyenthanhlong98 commented on #17294
@nodece, Hi nodece, I am configuring python basic auth credentials but it does not support config so do you have a link or doc to help me solve this problem

[2022-09-06 04:12] nodece commented on #17294
The Pulsar client doesn't support basic authentication, I submitted #17482 to support that.

[2022-09-06 04:20] nguyenthanhlong98 commented on #17294
Ok, Thanks nodece, and the problem is still not solved

[2022-09-06 04:31] congbobo184 commented on #13103
@syhily  hi
as you can see the jstack, thread block in `at org.apache.pulsar.broker.systopic.SystemTopicClientBase.close(SystemTopicClientBase.java:100)`, this close method is

[code]
only close producers or consumers can block the thread.
https://github.com/apache/pulsar/pull/17051 has to fix the close produce or consumer block thread problem, and I reproduce it in v2.10.0. carry this fix, I can'

[2022-09-06 04:43] coderzc commented on #17080
Another one: https://github.com/apache/pulsar/runs/8199112460?check_suite_focus=true

[2022-09-06 05:38] momo-jun commented on #17433
@labuladong I think you can go ahead. The IA redesign is a long-term project with continuous improvements.

[2022-09-06 05:43] #17415 closed

[2022-09-06 06:21] nodece commented on #17294
@nguyenthanhlong98 Sorry, should be Python client doesn't support basic authentication.

[2022-09-06 06:56] nodece commented on #2499
Link to #17482.

[2022-09-06 07:31] nodece commented on #11381
This issue can be closed by #17486 and #16924.

[2022-09-06 08:27] nguyenthanhlong98 commented on #17294
@nodece, Hi nodece don't know if vector supports pulsar with token have you done it, if yes, can you confirm it for me
https://vector.dev/docs/reference/configuration/sinks/pulsar/#auth.token
vector support pulsar token

[2022-09-06 08:48] nodece commented on #17294
vector looks support token authentication.

[2022-09-06 08:53] nguyenthanhlong98 commented on #17294
token and author basic just tokens and have you done this or you guessed it about using tokens with vectors

[2022-09-06 09:08] nodece commented on #17294
Guessed. The basic authentication and token authentication are different.

[2022-09-06 10:09] #11381 closed

[2022-09-06 10:27] nicoloboschi commented on #17480
@labuladong if you close the Pulsar client (`client.close()`) the process exits?

[2022-09-06 10:42] lhotari commented on #17480
Live non-daemon threads are a common reason why normal shutdown doesn't happen in a Java application.

The [javadoc of java.lang.Thread](https://docs.oracle.com/javase/8/docs/api/java/lang/Thread.html):

I believe that Pulsar client creates threads that are non-daemon threads. This might be intentional.
I assume that it's better to handle the shutdown in a controlled way in any case.
A simple fix

[2022-09-06 11:11] noelo commented on #14697
cheers thanks for this @mkoertgen

[2022-09-06 11:11] #14697 closed

[2022-09-06 11:13] azmandzamiri opened #17492 "[Bug] Java Pulsar Producer - ProducerBuilder loadConf() throws RuntimeException when loading "maxPendingMessages" property from config map."
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Pulsar version: 2.10.1

### Minimal reproduce step

Add `maxPendingMessages` parameter into the config map and load the config.

[code]

### What did you expect to see?

This seems to be a regression because this seems to be working in Pulsar 2.9.2 .

### Wha

[2022-09-06 11:37] zbye opened #17493 "[Bug] subscription freezes (consumers stop receiving new data from pulsar)"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Pulsar version: 2.10.1
KoP version: 2.10.1.6

### Minimal reproduce step

Start a consumer , the consumer will receive some data after it has started immediately, and then stops receiving. This phenomenon can recur stably.

### What did you expect to see?

th

[2022-09-06 11:38] zbye commented on #17493
I have seen some similar issues such as: https://github.com/apache/pulsar/issues/6054 , but the bug have fixed since 2.8.2

[2022-09-06 13:40] D-2-Ed commented on #17433
@Anonymitaet  @labuladong I love the quick win - at a high-level this makes good sense, but before making changes and moving content, please create the information set map. (By doing so, you will ensure the relationships between the existing content and new /. updated content will make sense to the user, and verifies the navigation path and learner paths.)

[2022-09-06 13:45] D-2-Ed commented on #17433
@momo-jun > I think you can go ahead. The IA redesign is a long-term project with continuous improvements.
I agree the overall IA work is a long-term project, but as we touch any content we should apply the best practices so we can make incremental improvements in keeping with the overall strategy.

[2022-09-06 15:18] MarvinCai commented on #17493
seem `availablePermits` is -1 which will certainly block dispatch, any suspicious log from broker？

[2022-09-06 15:22] tisonkun opened #17495 "[Doc] Tracking issue for incorrect contents and links"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

When I go through the document of Pulsar, I found some contents are wrong, outdated, or incomplete, and some links are incorrect or broken.

### What is your suggestion?

It happens that I have some time to work on these issues.

[2022-09-06 15:28] ddieruf opened #17895 "I/O connectors pages loose the navigation"
When navigating from the connectors listing [https://pulsar.apache.org/docs/next/io-connectors] to an individual connector page [https://pulsar.apache.org/docs/next/io-canal-source#configuration], the left navigation dissappears.

[2022-09-06 15:34] MarvinCai commented on #17492
I tried your code snippet, if you scroll down there're more exception message
`Caused by: com.fasterxml.jackson.databind.JsonMappingException: maxPendingMessagesAcrossPartitions needs to be >= maxPendingMessages`
which means you need to set none of them or set both of them.
And I'm afraid the doc is outdated, sorry for the confusion, seem default for `maxPendingMessages` and `maxPendingMessagesAcr

[2022-09-07 01:05] #17119 closed

[2022-09-07 01:53] labuladong commented on #17480
Yes, it will.

[2022-09-07 01:53] labuladong commented on #17480
@lhotari Hi, I'm just curious about how to exit even if missing `client.close()`. Now I figured it out from your answer. Thanks a lot!

[2022-09-07 01:53] #17480 closed

[2022-09-07 01:55] #17397 closed

[2022-09-07 01:56] #17409 closed

[2022-09-07 01:57] #16082 closed

[2022-09-07 01:59] tisonkun opened #17497 "[Doc] Fix backlinks to getting-started-standalone page"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

After #17475 merged, some links to Install built-in connectors (optional) and Install tiered storage offloaders (optional) are broken.

### What is your suggestion?

A follow-up to fix all these backlinks, as described in https:

[2022-09-07 02:11] tisonkun opened #17498 "[Doc] C++ Client API docs are incompleted"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

If you check https://pulsar.apache.org/api/cpp/

<img width="1728" alt="image" src="https://user-images.githubusercontent.com/18818196/188773010-c48cc025-b093-4ba8-9069-d8ccc69072a2.png">

There's no stable release after 2.5.0.

[2022-09-07 02:19] nodece commented on #2499
Closed by #17482.

[2022-09-07 02:19] #2499 closed

[2022-09-07 02:29] #16938 closed

[2022-09-07 02:55] zbye commented on #17493
I didn't found warn or error logs in the log file

[2022-09-07 03:12] BewareMyPower commented on #17498
I realized this issue as well. The release process doesn't include the release of C++ docs.

[2022-09-07 03:19] labuladong opened #17501 "[Doc] Add prompt to users who are reading old version doc"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

There is no prompt if users read the old version document.

<img width="1135" alt="image" src="https://user-images.githubusercontent.com/37220920/188780881-7a5221ed-1795-41a6-bfbc-d542c8bc1358.png">

Users may be confused if the

[2022-09-07 03:22] labuladong commented on #17501
cc @tisonkun  @Anonymitaet @momo-jun @urfreespace

[2022-09-07 03:39] momo-jun commented on #17098
Move it to pending at this time point since there has been no feedback on the [discussion thread](https://lists.apache.org/thread/k376q0tgsrjr1wdqc8r9hqqtt1kl4qxx) yet and no engineering resources to build the page.
Will revisit it later.

[2022-09-07 04:43] liliang950210 commented on #17097
The OpenSSL is carried during Python compilation. The OpenSSL version is 1.1.1n. The .so file in the pulsar client also contains the OpenSSL static compilation. The OpenSSL version appears to be 1.1.0j. Therefore, the Python version does not match the client version.
Can you compile the pulsar client without OpenSSL so that the client can dynamically connect to OpenSSL?

[2022-09-07 05:04] Anonymitaet commented on #17501
Thanks! @labuladong
This feature is supported by Docusaurus. Info like below can be added.

<img width="1697" alt="image" src="https://user-images.githubusercontent.com/50226895/188792714-424312cd-ffc1-43b5-93e5-eb40667f204a.png">

[2022-09-07 05:08] tisonkun commented on #17501
+1 Also refer to how Flink displays this infohttps://nightlies.apache.org/flink/flink-docs-release-1.12/:

<img width="1728" alt="image" src="https://user-images.githubusercontent.com/18818196/188793273-32cc40db-7c33-4754-b847-59afc7c380a5.png">

[2022-09-07 05:11] azmandzamiri commented on #17492
Thanks @MarvinCai. I just realised the exception cause message after inspecting it further. Yes, the docs is outdated and I suggest to also document the condition in the docs too - ie: maxPendingMessagesAcrossPartitions needs to be >= maxPendingMessages .

But another confusion I have is that the source code have marked `maxPendingMessagesAcrossPartitions` parameter as deprecated but doesn't sugge

[2022-09-07 05:19] BewareMyPower commented on #14848
[Another failure](https://github.com/apache/pulsar/runs/8190894294?check_suite_focus=true)

[code]

[2022-09-07 05:23] Anonymitaet commented on #17495
Thanks for raising this up!

We (@SignorMercurio @urfreespace) are implementing [PIP 78: Generate Docs from Code Automatically](https://github.com/apache/pulsar/discussions/17328). The 1st and 3rd items in `Links` might belong to this scope.

cc @DaveDuggins @momo-jun

[2022-09-07 06:34] momo-jun commented on #14705
There was an attempt and discussion about adding`skipListSizeLimit` to the docs. The conclusion is that this config is not recommended to be used and we'd better not introduce any unused configurations in the docs. Refer to the [comment](https://github.com/apache/pulsar/pull/16641#discussion_r925254911) and close the issue.

[2022-09-07 06:34] #14705 closed

[2022-09-07 06:50] momo-jun commented on #13916
@michaeljmarshall thanks for your updates to fix this issue. I just notice that the javadoc for 2.9.3 and 2.7.5 is not available. Did you know the reason?

[2022-09-07 06:51] #14285 closed

[2022-09-07 07:27] #17451 closed

[2022-09-07 08:09] momo-jun commented on #16637
Closed the issue since the PIP has been implemented.

[2022-09-07 08:09] #16637 closed

[2022-09-07 08:37] Technoboy- commented on #17493
You need to confirm why there are so many messages not acked.
[code]

[2022-09-07 09:09] eolivelli opened #17513 "[Transactions] Add pulsar-admin commands to lookup Coordinators"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Actually there is no way using pulsar-admin to get the list of coordinators and to know which broker is running them.

I am using this command
`bin/pulsar-admin topics partitioned-lookup pulsar/system/transaction_coordinator_assign`

There are a few proble

[2022-09-07 09:16] Anonymitaet opened #17514 "[website][feat] Pulsar All Releases Page"
### Discussed in https://github.com/apache/pulsar/discussions/17310

<div type='discussions-op-text'>

<sup>Originally posted by **Anonymitaet** August 27, 2022</sup>
Hi team,

1. How about providing more useful content to the [Pulsar Release Notes > All Releases](https://pulsar.apache.org/release-notes/) page as [below](https://docs.google.com/spreadsheets/d/1XHmzno-1kbHvPp7eogri8XAiShH-EgpEG40sv

[2022-09-07 09:16] Anonymitaet commented on #17514
@SignorMercurio will help implement it, thank you!

cc @urfreespace

[2022-09-07 09:27] #14928 closed

[2022-09-07 10:02] zymap opened #17516 "[Bug] Consumer trying to read a non-exist ledger"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.8.1

### Minimal reproduce step

Not reproduced yet.

### What did you expect to see?

The offload data shouldn't lose.

### What did you see instead?

**The error message we saw in the broker is caused by the consumer trying to read a non-existing ledger.*

[2022-09-07 10:53] nodece opened #17517 "PIP-206: Refresh different authentication data"
### Motivation

For the Pulsar protocol, the client passes the authentication data to the broker/proxy by sending the `CommandConnect` command.

In the Pulsar proxy, we support forwarding the authentication data from the user client to the broker, this authentication data is named the **original authentication data**, we also need to pass the proxy’s authentication data, this authentication data i

[2022-09-07 11:12] MarvinCai commented on #17492
We should use memoryLimit instead: https://github.com/apache/pulsar/issues/13306

[2022-09-07 11:16] MarvinCai commented on #17460
ok, then it might be issue with my browser or network, closing it

[2022-09-07 11:16] #17460 closed

[2022-09-07 12:43] lhotari opened #17519 "ProducerBuilder should support setting "messageCrypto" since there's a field for it in ProducerConfigurationData which is used"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

ProducerBuilder should support setting "messageCrypto" since there's a field for it in ProducerConfigurationData which is used.
This seems to be a gap in #6588

### Solution

support setting messageCrypto in ProducerBuilder

### Alternatives

_No response_

[2022-09-07 13:11] Technoboy- opened #17520 "[Bug] Failed to open ledger"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

- Master branch.
- Branch-2.11.

### Minimal reproduce step

Run test `ReplicatorTest#testReplicationWithSchema` in the master branch.

The test could run success if revert #17414.

### What did you expect to see?

The test should pass

### What did you see i

[2022-09-07 13:12] Technoboy- commented on #17520
Need some help for this issue @zymap @horizonzy

[2022-09-07 14:08] michaeljmarshall commented on #17513
What kind of authorization will ` pulsar-admin transactions list-coordinators` require?

[2022-09-07 23:45] poorbarcode commented on #17112
assign to me

[2022-09-08 00:48] codelipenghui opened #17530 "Flaky-test: AdminApi2Test.cleanup"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/8238194308?check_suite_focus=true

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-09-08 00:53] #17497 closed

[2022-09-08 01:57] zymap commented on #17520
I am taking a look

[2022-09-08 02:00] Technoboy- commented on #17120
https://github.com/apache/pulsar/runs/8235931618?check_suite_focus=true

[2022-09-08 02:06] #17386 closed

[2022-09-08 02:39] urfreespace commented on #17501
Done, screenshot here:
![image](https://user-images.githubusercontent.com/76024046/189021261-50b9f509-aee8-4a1f-adbd-36d0d8ac08df.png)

[2022-09-08 02:50] tisonkun commented on #17501
@urfreespace Thanks! I added some comments after merge for following improves :)

This issue can be closed as completed, though.

[2022-09-08 02:52] labuladong commented on #17501
@urfreespace Looks great, thanks! I'll close this issue.

[2022-09-08 04:30] congbobo184 opened #17534 "[improve][txn] The transaction message is integrated with the delay feature"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Now, transaction messages can't send with delay messages. we need to implement it.

### Solution

_No response_

### Alternatives

_No response_

### Anything else?

_No response_

### Are you willing to submit a PR?

- [X] I'm willing to submit a PR!

[2022-09-08 04:52] michaeljmarshall commented on #13916
Thank you for asking about this @momo-jun. I need to finalize the release process for generating these docs, but I ran out of time in July when I was last working on this. I just generated the docs for both releases in these two PRs: https://github.com/apache/pulsar-site/pull/205 https://github.com/apache/pulsar-site/pull/206.

I'd like to see us put together a script that joins together all doc g

[2022-09-08 05:53] momo-jun commented on #17501
@urfreespace thanks for the quick implementation!
Only one concern on the wording - actually, we maintain the last four minor versions, e.g., 2.8.x, 2.9.x, and 2.10.x. Shall we differentiate that in the prompt? @Anonymitaet any thoughts?

[2022-09-08 07:03] RobertIndie commented on #17097
I find that we are already using the OpenSSL 1.1.1n in the 2.10.1: https://github.com/apache/pulsar/blob/0702b51ce09cc99044f4110e6bf98e82a0e86283/pulsar-client-cpp/docker/manylinux2014/Dockerfile#L59. But the released python wheels still using the OpenSSL1.1.0j. I think there may be a problem during the release process. I have created a PR to fix it: https://github.com/apache/pulsar/pull/17536

Yo

[2022-09-08 07:16] Anonymitaet commented on #17501
@momo-jun that's already done, you can check the website

2.8.x
<img width="1153" alt="image" src="https://user-images.githubusercontent.com/50226895/189058748-9fa0b181-e8d2-4534-a85c-345c15745a99.png">

2.9.x
<img width="1164" alt="image" src="https://user-images.githubusercontent.com/50226895/189058800-8680f532-b80d-4f1f-a9f9-c808d3ac79a4.png">

2.10.x
No tip

[2022-09-08 07:21] Anonymitaet commented on #17501
@urfreespace thanks for your contribution!

One question:
<img width="1343" alt="image" src="https://user-images.githubusercontent.com/50226895/189060046-0a51ec92-0d48-44c5-ae0e-d5b2ff465866.png">

Reasons: https://github.com/apache/pulsar-site/pull/176#issuecomment-1239013191

[2022-09-08 07:26] syhily commented on #17534
Can we catch up the 2.11.0 release?

[2022-09-08 08:16] isminexxb opened #17540 "[Bug] It doesn't work when using JWT auth on top of TLS transport encryption with proxy service"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

server: v2.10.0
client: c++

### Minimal reproduce step

1. We already have an internal cluster without any auth mechanism.

2. Now we need to open the cluster to external services. Considering that existing internal clients connect to the cluster without any

[2022-09-08 09:57] BewareMyPower commented on #14848
Now it cannot be reproduced in my local env (macOS 12.3.1, Apple clang version 13.1.6) but it can be reproduced in ubuntu 20.04 container (Ubuntu 9.4.0-1ubuntu1~20.04.1). All the error logs are the same that the reference count of the producer, consumer, reader are 7, 7, 4.

I will investigate more for this flaky test.

[2022-09-08 10:33] nodece commented on #17540
Only Pulsar 2.11 supports JWT with TLS transport, you need to use the TLS authentication now.

[2022-09-08 11:59] smthlow commented on #16625
Hello, would you mind telling me where should I put `-Dio.netty.recycler.maxCapacityPerThread=0` in order to mitigate this issue?  I'm trying to use `apachepulsar/pulsar:2.10.1` Docker image with `bin/pulsar standalone`

[2022-09-08 12:24] isminexxb commented on #17540
Did you mean [#15289](https://github.com/apache/pulsar/issues/15289)?  Does it still not support the proxy and c++ library? In addition, will JWT authorization be supported for proxy then? @nodece

[2022-09-08 15:34] nodece commented on #17540
I improve the broker and proxy, but the CPP client misses this improvement, I can make a PR to improve that.

[2022-09-09 01:52] mattisonchao commented on #17225
The fix here: #17225

[2022-09-09 01:53] mattisonchao commented on #17388
same with #17225

[2022-09-09 02:01] liangyepianzhou commented on #16913
The latest proposal can be found [here](https://docs.google.com/document/d/1hBk2nGcj0Os-ULi2q404gCoxIsPleGY8p5H1hqWD5kI/edit#heading=h.t85y6pbv4a48).

[2022-09-09 02:20] dimaqq commented on #15185
Poke

[2022-09-09 02:49] nodece commented on #17540
We support this feature, you need to add `forwardAuthorizationCredentials=true` to the `proxy.conf` file, and add the  `authenticateOriginalAuthData=true` to the `broker.conf`.

I'll improve this doc today.

[2022-09-09 02:59] labuladong opened #17555 "[Doc] There are many broken links in Pulsar IO chapter"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

When I read the Pulsar IO document,  I found many links got 404 errors.

### What is your suggestion?

Find out and fix them.

### Any reference?

For example:

https://pulsar.apache.org/docs/io-overview/#set

<img width="1028"

[2022-09-09 03:33] zymap commented on #17520
The root cause is [this PR ](https://github.com/apache/bookkeeper/pull/3383).

The problem is that we cannot call [await() ](https://github.com/apache/bookkeeper/blob/be7053b850a3ad53c09baeac15b01cabc8e9412a/bookkeeper-server/src/main/java/org/apache/bookkeeper/proto/PacketProcessorBase.java#L139)from an IO thread, even if we don’t have the consolidation in place
if the socket buffer is full, that

[2022-09-09 04:03] tisonkun commented on #17555
Set cross-reference to https://github.com/apache/pulsar/issues/17495. You can comment there if find any further related issues. We can play a bash to handle them :)

[2022-09-09 04:08] lhotari opened #17558 "[CI] macos-build should be skipped for cpp-only workflows"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

macos-build should be skipped for cpp-only workflows

example workflow run:
https://github.com/apache/pulsar/actions/runs/3019336357

In addition, it would be good to have a name defined for the build job.
"Build Pulsar on macOS" would be consistent with o

[2022-09-09 04:08] syhily commented on #13103
OK, I have tested. It seems like get fixed by this commit. Can you tell me which version it would be included?

[2022-09-09 04:11] labuladong commented on #17555
@tisonkun Great, thanks!

[2022-09-09 04:13] tisonkun commented on #16849
This can be related to https://github.com/apache/pulsar/issues/17468.

[2022-09-09 04:55] lhotari opened #17560 "[CI] Replace `runs-on: ubuntu-latest` with `runs-on: ubuntu-20.04` in GitHub Action workflows"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

The workflows currently contained mixed usage of `runs-on: ubuntu-latest` and `runs-on: ubuntu-20.04`.
It's better to be consistent and use `runs-on: ubuntu-20.04` for all cases. It's better to be able to control when we switch to use `ubuntu-22.04` image

[2022-09-09 04:57] tisonkun commented on #17560
Sounds good! I just do the same thing in incubator-kvrocks days before.

[2022-09-09 05:40] alpreu opened #17561 "[Doc] Authentication documentation mismatch / outdated"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

The documentation regarding authentication methods is mismatched/outdated.

On the security overview page, it lists most providers (it is missing SASL though):
https://pulsar.apache.org/docs/2.10.1/security-overview/#authenticat

[2022-09-09 06:19] yaalsn opened #17563 "[Client][CPP] Python client for Windows"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

I try to build cpp client  with `static` flag, and it seems that link progress will be fail. https://github.com/apache/pulsar/runs/8223165825?check_suite_focus=true#step:12:239

Maybe we need to fix CMakeLists.txt to support the compile.

### Solution

_No

[2022-09-09 06:44] #17433 closed

[2022-09-09 07:02] lhotari opened #17567 "[CI] Change branch workflows so that they are triggered only upon request or scheduled"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

We have many active branches and many commits are pushed to these branches. master branch gets commits by merging PRs and in most cases, commits are pushed by cherry-picking commits from master branch to maintenance branches (branch-2.11, branch-2.10, bran

[2022-09-09 07:05] lhotari commented on #17567
In addition, master could have a scheduled workflow to run in the similar way as the existing "CI - Maven Dependency Cache Update" workflow. That workflow after having a scheduled workflow for master branch.

[2022-09-09 07:29] lhotari commented on #17112
another one: https://github.com/apache/pulsar/runs/8261825287?check_suite_focus=true#step:11:556

[2022-09-09 07:35] momo-jun commented on #16571
@Technoboy- you resolved https://github.com/apache/pulsar/issues/15891, so can you pls take a look at this issue as well?

[2022-09-09 07:58] nicoloboschi commented on #17567
We can set the manual trigger for branch-2.11. For branch-2.10 and previous, the workflow Pulsar CI doesn't exist. A good solution would be to:
- Remove the post-commit trigger for all the jobs in branch-2.10 (and prev) branches. When the release manager needs to validate the branch, it has to open a pull. It's not very common that we open pulls against release branches so it will reduce the CI lo

[2022-09-09 07:58] momo-jun commented on #14987
@polyzos as Dave suggested, you can add comments to https://github.com/apache/pulsar/issues/15813.
I will close this issue as it's duplicated with https://github.com/apache/pulsar/issues/15813.

[2022-09-09 07:58] #14987 closed

[2022-09-09 08:07] mattisonchao commented on #17388
Got it, thanks a lot!  @tisonkun

[2022-09-09 08:07] #17388 closed

[2022-09-09 08:15] isminexxb commented on #17540
Does it seems that  I need to enable authorization at the broker level? Can authorization checked by proxy itself? We already have many clients which connect to broker directly and we'd better not change them.

[2022-09-09 08:28] lhotari commented on #17567
@nicoloboschi makes sense. triggering 25+ workflows in branch-2.10 (and before) in the UI wouldn't be very usable.

[2022-09-09 08:44] momo-jun commented on #6967
Close the issue since it might have been fixed and cannot be reproduced now.

[2022-09-09 08:44] #6967 closed

[2022-09-09 09:25] nodece commented on #17540
Yes, you need to enable authorization on the broker.

No, you have to enable authorization on the broker.

Do you need the authorization?

[2022-09-09 09:25] liliang950210 commented on #17097
Can you send a whl file and I'll verify it first?

[2022-09-09 09:35] momo-jun commented on #17561
@alpreu thanks for raising this up. I will follow up with the updates.

[2022-09-09 09:41] chenearl commented on #6961
why i did configure file and then restart the server and it did not take  effect?   https://pulsar.apache.org/docs/concepts-messaging/

[2022-09-09 09:43] isminexxb commented on #17540
Yes for new clients of public network. And I don't want to affect previous intranet clients connected to brokers directly without authorization. I tried to use proxy for new clients of public network to realize this requirement before, but it seems not feasible at present.
Look forward to your suggestions.

[2022-09-09 10:20] dragonls opened #17572 "[Bug] Subscription is deleted unexpectedly"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.8.3

### Minimal reproduce step

Set up a Pulsar cluster and set the broker to enable subscription expiry check (`subscriptionExpirationTimeMinutes>0`).

1. Having a topic `persistent://test/test/test` with durable subscription `sub-test`, running on `broke

[2022-09-09 10:24] dragonls commented on #17572
Updating `lastActive` in `ManagedCursorImpl` during stable consumption can fix this bug.

Fox example, add `cursor.updateLastActive()` to the end of `org.apache.pulsar.broker.service.persistent.PersistentSubscription#acknowledgeMessage` but I am not sure whether this is the right place.

[2022-09-09 10:27] nodece commented on #17540
Let's back to the original issue.

Is public and trusted for the TLS certificates? Do you need the mTLS?

should be JWT authentication, not authorization?

The proxy only does authentication, and cannot do authorization by itself.

[2022-09-09 11:38] tarunannapareddy opened #17574 "[feature request] Java Client support to Cumulative Acknowledge messages for multiple partitions or topics"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

**Email from Yunze Xu**

Assuming users called "acknowledgeCumulative" periodically, there is a chance that some messages of the specific partition has never been passed to the method.
For example, a consumer received: P0-M0, P1-M0, P0-M1, P1-M1, P0-M2, P1

[2022-09-09 11:52] isminexxb commented on #17540
That is the key point. I thought the proxy can do authorization by itself, so I tried to let the proxy undertake encryption, authentication and authorization alone.
By the way, why cannot the proxy do authorization by itself? What are the considerations?

[2022-09-09 13:34] D-2-Ed commented on #5831
@david-streamlio Can you help @momo-jun with documenting the function argument types and schema?

[2022-09-09 15:50] nodece commented on #17540
Because the client and the broker communicate through the proxy, and the proxy is a transparent component, this means that the client communicates directly with the broker.

So the proxy needs forward the authentication data from the client to the broker, and the broker handles the proxy and the client authorization.

[2022-09-09 17:08] nodece commented on #17112
Link to #17017 and #16538.

[2022-09-09 18:17] tisonkun opened #17576 "[Doc] Add ceveat of PIP-200 to the Pulsar SQL overview page"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

To complete https://github.com/apache/pulsar/issues/17137.

### What is your suggestion?

Add ceveat of PIP-200 in Pulsar SQL overview page.

### Any reference?

_No response_

### Are you willing to submit a PR?

- [X] I'm will

[2022-09-09 20:03] #17560 closed

[2022-09-09 22:06] lhotari commented on #10437
[PIP-205 Reactive Java client for Apache Pulsar](https://github.com/apache/pulsar/issues/17335) started a new repository for developing a reactive client: https://github.com/apache/pulsar-client-reactive . I'm closing this ticket since there's now a development version of the client. Feedback and Contributions are welcome!

[2022-09-09 22:06] #10437 closed

[2022-09-09 22:08] lhotari commented on #10588
[Introducing Experimental Spring Support for Apache Pulsar](https://spring.io/blog/2022/08/16/introducing-experimental-spring-support-for-apache-pulsar) provides an answer to this question.

[2022-09-09 22:08] lhotari commented on #15169
[Introducing Experimental Spring Support for Apache Pulsar](https://spring.io/blog/2022/08/16/introducing-experimental-spring-support-for-apache-pulsar) provides an answer to this question.

[2022-09-12 03:09] tisonkun commented on #15477
I think it's because we didn't release wheel for cpython 3.10. cc @codelipenghui @BewareMyPower

[2022-09-12 04:11] lhotari opened #17583 "[Bug] "Pulsar CI checks completed" runs too early"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

"Pulsar CI checks completed" runs too early and causes re-runs of other builds in the workflow to fail with error message `Unable to find an artifact with the name: pulsar-maven-repository-binaries.tar.zst`.

### Minimal reproduce step

sample failure:
https:

[2022-09-12 04:57] wthahaha commented on #4002
-nss, --no-stream-storage
      Disable stream storage
      Default: false

[2022-09-12 07:33] #6501 closed

[2022-09-12 07:51] #17583 closed

[2022-09-12 09:47] tisonkun commented on #17047
@BewareMyPower upstream fix is [pending to release](https://lists.apache.org/thread/gg4k3tg1qqfr1l3hooj60fjxq7gm6j4k). You can assign this issue to me and I will do the upgrade after it's done.

[2022-09-12 10:47] #17112 closed

[2022-09-12 10:54] lhotari commented on #16578
another one https://github.com/apache/pulsar/runs/8303606708?check_suite_focus=true#step:10:1071

[2022-09-12 11:18] #17558 closed

[2022-09-12 11:37] lhotari opened #17587 "[Bug] Pulsar logs are truncated when logging to files and Pulsar runs out of direct memory when -Dpulsar.allocator.exit_on_oom=true"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.10.x

### Minimal reproduce step

It's possible to reproduce the issue when running Pulsar in a configuration where Pulsar logs to log files. (a VM based deployment). To reproduce, configure the direct memory to a low value and stress the broker with suffic

[2022-09-12 11:41] lhotari commented on #17587
It seems that `LogManager.shutdown();` should be called before `Runtime.getRuntime().halt` is called in the Pulsar code base.

[2022-09-12 12:22] eolivelli opened #17588 "[Bug] Delete Tenant Forcefully is broken if issued to a broker that is not owning all the topics/namespaces"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.10.x

### Minimal reproduce step

On a 2 brokers pulsar cluster:
- localhost:8080
- localhost:8081

Connect pulsar-admin (or pulsar-shell) to the first broker
[code]

Then run this command using the second broker as Admin URL
`admin tenants delete foo -f`

[2022-09-12 12:52] eolivelli commented on #17588
I am not able to reproduce it consistently

[2022-09-12 13:05] eolivelli commented on #17588
it looks like the problem is due to the fact that in order to find the "non persistent" topics we are following a separate procedure than for "persistent" topics:

[code]

[2022-09-12 13:10] eolivelli commented on #17588
The call to `checkLocalOrGetPeerReplicationCluster` is there from
https://github.com/apache/pulsar/pull/2025

But the check about `policies.delete` is new in 2.11 and recently ported to 2.10.1
https://github.com/apache/pulsar/pull/14730

and #14730 is related to some problems  while deleting namespaces with partitioned topics and automatic topic creation in place with connected clients (@dlg99 @po

[2022-09-12 13:12] eolivelli commented on #17588
The problem may arise when there is a partially deleted namespace, so that policies.deleted is still true, but the namespace wasn't fully deleted due to some kind of error or even if deleting the namespace took too much time and the broker died in the mean time.

We need a way to continue the deletion in spite of having `policies.deleted` = true

[2022-09-12 14:02] lhotari opened #17593 "Flaky-test: ConsumerBatchReceiveTest.testBatchReceiveAndRedeliveryNonPartitionedTopic"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/8306845946?check_suite_focus=true#step:10:1324

### Exception stacktrace

<!-- optionally provide the full stacktrace ->

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
  Error:  Tests run: 204

[2022-09-12 14:32] nicoloboschi opened #17595 "[Bug] Entry filters stats should not be increased if there's no entry filter"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.10.1

### Minimal reproduce step

[code]

The result is
[code]

### What did you expect to see?

I do expect that if no entry filter has been used by the dispatcher, the `filterProcessedMsgCount` and `filterAcceptedMsgCount` metrics should not be increased.

[2022-09-12 14:33] nicoloboschi commented on #17595
@tjiuming is this intended? https://github.com/apache/pulsar/pull/16932

[2022-09-12 14:59] Raven888888 commented on #15891
Same the same issue today. Out of nowhere broker unable to create topic due to "Topic policy cache have not init".
I have enabled systemTopic and topic level policy, been using the same config for almost a month and suddenly this pops up in production.
Delete topic, unload topic, restart broker, delete `__change_events` topic, all did not help.

Had to urgently pull down production pulsar cluster

[2022-09-12 15:21] emanueledomingo opened #17596 "[Bug] ConnectError while using `pyarrow.fs`"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

OS: Ubuntu 22.04.1 LTS
Pulsar: 2.9.2
`python`: 3.10.6
`pulsar-client`: 2.9.3
`pyarrow`: 7.0.0

### Minimal reproduce step

The client doesn't connect to the Broker if i import the  `pyarrow.fs` library before.
[code]

If i just comment or import the `pyarrow.

[2022-09-12 15:25] BewareMyPower commented on #15477
@tisonkun Yes. And the Python wheels of new versions (2.10.1+, 2.11.0+) for macOS are still blocked, see https://github.com/apache/pulsar/issues/17468

[2022-09-12 15:40] liangyuanpeng commented on #17595
IMO, It might be better if the relevant metrics show -1 without entryFilter.

[2022-09-12 15:54] vitosans commented on #7157
@sijie - What is the official position on this? Is it suggested to use earliest? I see it has gone stale and has not been updated for two years. We are running into this issue, which is counter-intuitive to how a queue should work.

[2022-09-12 19:01] #17567 closed

[2022-09-13 01:25] #17540 closed

[2022-09-13 02:24] labuladong opened #17599 "[Doc] Batch of broken links"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

Follow #17495, I use a script to extract the links below, which are probably broken or wrong. You can click `website page` to jump to our site and search the keyword in `[]` to test its correctness. I've done this check for most

[2022-09-13 02:25] labuladong commented on #17495
I made a long list of broken links, so I open a new issue #17599 to discuss.

[2022-09-13 02:31] tisonkun commented on #17495
@labuladong Cool! Replace the section with a link to your issue.

[2022-09-13 02:59] michaeljmarshall commented on #16998
Do you have any updates on this OOM issue? I have been tracking similar issues recently, and I am thinking we probably need to improve Pulsar's back pressure implementation. Specifically, if the bookie cannot handle the broker's load, then the broker should provide back pressure to producers/consumers so that the broker works without running out of memory.

One side effect of decreasing overall th

[2022-09-13 04:00] tjiuming commented on #17595
assign me plz, I'll fix it

[2022-09-13 04:58] Raven888888 commented on #15891
Same the same issue today. Out of nowhere broker unable to create topic due to "Topic policy cache have not init".
I have enabled systemTopic and topic level policy, been using the same config for almost a month and suddenly this pops up in production.
Delete topic, unload topic, restart broker, delete `__change_events` topic, all did not help.

Had to urgently pull down production pulsar cluster

[2022-09-13 05:00] tjiuming commented on #17595
A new PR created.

[2022-09-13 08:18] ronfarkash commented on #17076
bumping

[2022-09-13 09:27] emanueledomingo commented on #17596
Hi guys, i made more tests today at office. I found out that the problem is the combination of `python` and `grpcio` libraries. I tried the connection script with
[code]
and it doesn't work. The same script with
[code]
works.

[2022-09-13 09:45] #17021 closed

[2022-09-13 13:04] Shoothzj commented on #10916
have been fixed in 2.8

[2022-09-13 13:04] #10916 closed

[2022-09-13 13:37] lhotari commented on #13092
Another one in PulsarFunctionTlsTest.tearDown

[code]

https://github.com/apache/pulsar/actions/runs/3044816917/jobs/4905919291#step:11:528

[2022-09-13 14:01] lhotari commented on #13092
full thread dump: analysis: https://jstack.review/?https://gist.github.com/lhotari/24168b03bf697c8e4fbe34ac0f795b08#tda_1_dump
raw file: https://gist.github.com/lhotari/24168b03bf697c8e4fbe34ac0f795b08

[2022-09-13 17:04] poorbarcode opened #17621 "slowly-test: ClusterMetadataSetupTest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

This test run took more than 5 minutes

![截屏2022-09-14 01 03 42](https://user-images.githubusercontent.com/25195800/189963148-59cb6d08-3b83-4459-9314-b9c41ce8c561.png)

https://github.com/apache/pulsar/actions/runs/3023647567/jobs/4867728935

### Solution

[2022-09-13 17:13] poorbarcode opened #17622 "slowly-test: org.apache.pulsar.broker.admin.NamespacesTest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

This test run took more than 5 minutes

![截屏2022-09-14 01 12 27](https://user-images.githubusercontent.com/25195800/189964810-70ca969c-1c4e-4002-a4e2-b11b47b0f1de.png)

https://github.com/apache/pulsar/actions/runs/3023647567/jobs/4867729056

### Solution

[2022-09-13 17:13] poorbarcode opened #17623 "slowly-test: org.apache.pulsar.client.impl.TransactionEndToEndTest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

This test run took more than 5 minutes

![截屏2022-09-14 01 07 58](https://user-images.githubusercontent.com/25195800/189963966-489c8ab5-bfc4-40ed-b6bc-10131d3ea2d2.png)

https://github.com/apache/pulsar/actions/runs/3023647564/jobs/4866741045

### Solution

[2022-09-14 01:37] zengguan opened #17625 "PIP-207"
### Motivation

### Motivation

Add a new api named clientStats to proxy stats. After the producer or consumer is created, we can find some client stats like topic or producer name/subscription name。This is useful for knowing which topic the client is connecting to.

[code]

clientName is producerName/subscriptionName

### Goal

With the increase of the number of clients, it becomes unclear or eve

[2022-09-14 02:22] liangyuanpeng commented on #17625
Split `clientName` to `producerName`  and `subscriptionName` would be great.

[2022-09-14 03:05] keyboardbobo commented on #16998
@Technoboy- hi, any progress?

[2022-09-14 03:07] zymap commented on #17520
Fixed through this PR https://github.com/apache/bookkeeper/pull/3480

[2022-09-14 03:14] #17555 closed

[2022-09-14 03:16] zengguan commented on #17625
thanks, I have split it

[2022-09-14 03:40] coderzc commented on #17621
I push a PR(#17627) to improve it.

[2022-09-14 03:59] zengguan commented on #17625
PIP discuss thread : https://lists.apache.org/thread/d8508p9lz80ggzsgd8fxctk8o5h7y38b

Please ignore the error json format in the email

[2022-09-14 04:07] casuallc opened #17630 "[Bug] Failed to open ledger caused by org.apache.pulsar.broker.service.schema.exceptions.SchemaException: Error while recovering"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

OS: Linux
Pulsar: 2.9.3

### Minimal reproduce step

1. Create cluster with three nodes.
2. Create namesapce ns01.
3. Set persistence to 2:2:2.
4. Create topic topic01.
5. Start test client to send 10 messages, set schema to String.
6. Find schema ledger stor

[2022-09-14 05:44] tisonkun commented on #17495
@urfreespace @momo-jun it seems that `/api/cpp` is now resolved as `/api/cpp/2.10.0-SNAPSHOT` or so. Do you know which PR is related?

Although, we still need `/api/cpp/2.10.0` and so on without `-SNAPSHOT`.

[2022-09-14 06:34] poorbarcode opened #17634 "slowly-test: SimpleProducerConsumerTest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

This test run took more than 5 minutes

![截屏2022-09-14 14 33 18](https://user-images.githubusercontent.com/25195800/190077507-fef23d08-1f09-4b1a-b71f-bacdcbb5ca3b.png)

https://github.com/apache/pulsar/actions/runs/3046366380/jobs/4910018507

### Solution

[2022-09-14 06:42] #17588 closed

[2022-09-14 06:59] poorbarcode opened #17635 "slowly-test: KeySharedSubscriptionTest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

This test run took more than 5 minutes

![截屏2022-09-14 14 59 09](https://user-images.githubusercontent.com/25195800/190083426-6df971f1-b8f9-41ed-a749-10d41e3c7d41.png)

https://github.com/apache/pulsar/actions/runs/3046366380/jobs/4910018507

### Solution

[2022-09-14 07:02] poorbarcode opened #17636 "slowly-test: SubscriptionMessageDispatchThrottlingTest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

This test run took more than 5 minutes

![截屏2022-09-14 15 01 54](https://user-images.githubusercontent.com/25195800/190083977-d336afe5-fb1d-4229-beea-da38dbaa8404.png)

https://github.com/apache/pulsar/actions/runs/3046366380/jobs/4910018507

### Solution

[2022-09-14 07:05] poorbarcode opened #17637 "slowly-test: TransactionEndToEndWithoutBatchIndexAckTest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

This test run took more than 5 minutes

![截屏2022-09-14 15 03 48](https://user-images.githubusercontent.com/25195800/190084445-c239213f-01d4-43c3-a94b-89c130477896.png)

https://github.com/apache/pulsar/actions/runs/3046366380/jobs/4910018507

### Solution

[2022-09-14 07:29] poorbarcode opened #17639 "slowly-test: org.apache.pulsar.broker.service.ReplicatorTest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

This test run took more than 5 minutes

![截屏2022-09-14 15 26 56](https://user-images.githubusercontent.com/25195800/190089313-873f4d51-7685-4b45-9e37-57da6184c929.png)

https://github.com/apache/pulsar/actions/runs/3045941219/jobs/4908748120

### Solution

[2022-09-14 07:41] poorbarcode opened #17640 "slowly-test: org.apache.pulsar.broker.admin.AdminApiTest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

This test run took more than 5 minutes

![截屏2022-09-14 15 40 08](https://user-images.githubusercontent.com/25195800/190092134-8af75ba4-4c18-424a-8b76-bfb8262ea223.png)

https://github.com/apache/pulsar/actions/runs/3045941219/jobs/4908748335

### Solution

[2022-09-14 07:42] poorbarcode opened #17641 "slowly-test: org.apache.pulsar.broker.admin.v1.V1_AdminApiTest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

This test run took more than 5 minutes

![截屏2022-09-14 15 40 08](https://user-images.githubusercontent.com/25195800/190092134-8af75ba4-4c18-424a-8b76-bfb8262ea223.png)

https://github.com/apache/pulsar/actions/runs/3045941219/jobs/4908748335

### Solution

[2022-09-14 07:43] poorbarcode opened #17642 "slowly-test: org.apache.pulsar.broker.admin.AdminApi2Test"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

This test run took more than 5 minutes

![截屏2022-09-14 15 40 08](https://user-images.githubusercontent.com/25195800/190092134-8af75ba4-4c18-424a-8b76-bfb8262ea223.png)

https://github.com/apache/pulsar/actions/runs/3045941219/jobs/4908748335

### Solution

[2022-09-14 07:45] BewareMyPower commented on #14848
**Steps to reproduce**

First, start a container:

[code]

Then, run the following commands inside the container:

[code]

[2022-09-14 07:49] poorbarcode opened #17643 "slowly-test: SimpleProducerConsumerTestStreamingDispatcherTest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

This test run took more than 5 minutes

![截屏2022-09-14 15 48 42](https://user-images.githubusercontent.com/25195800/190093814-c5dd6000-1b99-4d17-aa87-ee2bdbc80f19.png)

https://github.com/apache/pulsar/actions/runs/3042908155/jobs/4902070933

### Solution

[2022-09-14 07:52] poorbarcode opened #17644 "slowly-test: org.apache.pulsar.client.api.SimpleSchemaTest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

This test run took more than 5 minutes

![截屏2022-09-14 15 51 23](https://user-images.githubusercontent.com/25195800/190094540-f03fef2f-4958-44b9-bc01-628e71729f5d.png)

https://github.com/apache/pulsar/actions/runs/3038983441/jobs/4915130539

### Solution

[2022-09-14 09:11] arnarg commented on #8152
The JWT parser builder used in the `AuthenticationProviderToken`'s `initialize` method also supports providing a `SigningKeyResolver` that could be used to implement this.

see:
https://github.com/apache/pulsar/blob/822f89752b48840f658280d1c25ae8af37214190/pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderToken.java#L133

and:
https://github.com/jwtk/

[2022-09-14 09:29] tisonkun commented on #17644
@poorbarcode could you batch these slow-tests with a tracking issue like https://github.com/pingcap/tidb/issues/26022 so that we have a global comment-able view about the situation?

[2022-09-14 09:40] zcola opened #17646 "[Doc] Requires security guidelines at the network layer"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

For example, zk only allows broker and bk access
The broker only allows pub/sub access
bk only allows broker, bk, zk access

What is the listening port range for each process

### What is your suggestion?

supplement the above

[2022-09-14 09:55] #16416 closed

[2022-09-14 11:12] lhotari commented on #10439
Pulsar uses Bookkeeper protocol V2 by default because V3 uses GRPC and that is not "garbage free". With V2 protocol, there is less GC overhead.

The backpressure feature in bookkeeper wasn't implemented in V2 until https://github.com/apache/bookkeeper/pull/3324 . This is released in 4.14.6 / 4.15.1 versions of bookkeeper.

[2022-09-14 11:31] frankjkelly commented on #16249
Bump

[2022-09-14 13:37] liliang950210 commented on #1964
root@5b71bc487c67:/usr2/code/pulsar-2.10.1.6/pulsar-client-cpp# cmake . -DBUILD_TESTS=OFF
-- ARCHITECTURE: x86_64
-- BUILD_DYNAMIC_LIB:  ON
-- BUILD_STATIC_LIB:  ON
-- BUILD_TESTS:  OFF
-- BUILD_PYTHON_WRAPPER:  ON
-- BUILD_WIRESHARK:  OFF
-- BUILD_PERF_TOOLS:  OFF
-- LINK_STATIC:  OFF
-- USE_LOG4CXX:  OFF
-- CMAKE_BUILD_TYPE:  RelWithDebInfo
-- Threads library: -pthread
Failed to find Protobuf in

[2022-09-14 16:05] #14848 closed

[2022-09-14 17:18] lhotari opened #17655 "Flaky-test: BlobStoreManagedLedgerOffloaderTest times out and the JVM runs out of memory"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3050809339/jobs/4920269198#step:10:10631

### Exception stacktrace

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
 Error:  Error occurred in starting fork, check output in log
  Error:

[2022-09-14 17:26] lhotari commented on #17655
over 500MB in the PulsarMockBookKeeper:
![image](https://user-images.githubusercontent.com/66864/190221842-1bd115ba-aa3a-4ac3-a330-995a1a4845cb.png)

over 4 million LedgerEntryImpl instances
![image](https://user-images.githubusercontent.com/66864/190222027-60cbdde2-8241-4a05-a545-e8e21a5f358c.png)

[2022-09-14 18:40] poorbarcode opened #17657 "Tracking issue for slow tests"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

This issue tracks efforts to optimize slow testing(which took more than 5 minutes), focusing on unit tests.

### Slowly Test

- [x] #17644
- [x] #17643
  - https://github.com/apache/pulsar/pull/17887
- [x] #17642
- [x] #17641
- [x] #17640
- [x] #17639
- [x

[2022-09-14 18:45] poorbarcode commented on #17644
Hi @tisonkun

I have created the tracking issue: #17657

[2022-09-15 00:28] #17621 closed

[2022-09-15 02:07] momo-jun commented on #15434
Close the issue because of no plan for it yet, and a workaround has been provided instead.

[2022-09-15 02:07] #15434 closed

[2022-09-15 02:08] momo-jun commented on #15791
Close the issue because it cannot be reproduced and no further context to help with the diagnosis.

[2022-09-15 02:08] #15791 closed

[2022-09-15 03:13] momo-jun commented on #13227
Close the issue at this moment since there is no plan for it yet.

[2022-09-15 03:13] #13227 closed

[2022-09-15 03:28] #17473 closed

[2022-09-15 03:28] #14695 closed

[2022-09-15 03:28] #16017 closed

[2022-09-15 04:15] BewareMyPower commented on #17563
The root cause might be

Pulsar Python client build requires a Python library installed on Windows. Could you help set up the Python in the workflow file? @yaalsn

[2022-09-15 04:19] BewareMyPower commented on #17427
Here is an example to build C++ client in CentOS 7 container.
- https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/docker-build-centos7.sh
- https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/docker/centos-7/Dockerfile

Only protobuf needs to be compiled from source.

[2022-09-15 04:21] #17311 closed

[2022-09-15 04:52] AnonHxy opened #17662 "[Bug] Producer exceeds PulsarClient memory limit when sending fail timeout using CompressionType.NONE"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

* Java version: 17.0.3.1, vendor: Oracle Corporation, runtime: /Users/didi/Documents/jdk-17.0.3.1.jdk/Contents/Home
*  Default locale: zh_CN_#Hans, platform encoding: UTF-8
*  OS name: "mac os x", version: "12.3.1", arch: "x86_64", family: "mac"
*  Pulsar ver

[2022-09-15 05:10] #17047 closed

[2022-09-15 05:41] Technoboy- commented on #15891
@Raven888888 @diegosalvi @truong-hua
We have found the root cause and pushed out the fix https://github.com/apache/pulsar/pull/17562
Thanks for reporting the issue.

[2022-09-15 06:25] lhotari commented on #16783
@tisonkun Please take a look at #15253 . The license check should be done when the docker image is built.

[2022-09-15 06:39] Raven888888 commented on #15891
Awesome to hear that @Technoboy- appreciate it
Hope to use back topic level policy in the next release.

[2022-09-15 07:03] Demogorgon314 commented on #17646
@nodece Can you help take look at this issue?

[2022-09-15 07:10] nodece commented on #17646
This is a good practice, assign to me.

[2022-09-15 07:33] lhotari commented on #17657
@poorbarcode This is a really good initiative. Thanks for starting this!

[2022-09-15 08:41] lhotari opened #17665 "Flaky-test: ProxyConnectionThrottlingTest.testInboundConnection"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/lhotari/pulsar/actions/runs/3058452434/jobs/4934839318#step:10:433

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-09-15 08:42] lhotari commented on #17665
test was added in #17167 . @mattisonchao would you mind fixing this?

[2022-09-15 10:19] BewareMyPower commented on #17563
I have confirmed again, the `python3` dependency has already been added to `vcpkg.json` in your PR, I think it might be something wrong with the `CMakeLists.txt`.

[2022-09-15 11:10] ethqunzhong commented on #17516
it seems this PR have fixed.
https://github.com/apache/pulsar/pull/17056

[2022-09-15 11:30] tisonkun commented on #16991
The remaining packages are:

[code]

Thank you @youzipi and go ahead!

[2022-09-15 11:50] mattisonchao commented on #17665
Sure

[2022-09-15 13:04] tjiuming opened #17673 "[feat][offload] Support namespace/topic level auto trigger offload policy."
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Currently, Pulsar only supports global offload auto trigger policy: `managedLedgerOffloadAutoTriggerSizeThresholdBytes` and `managedLedgerOffloadTimeThresholdInSeconds`(see: https://github.com/apache/pulsar/pull/17398),
this is a very coarse granularity.
F

[2022-09-15 13:52] #17267 closed

[2022-09-15 13:56] zhcn opened #17674 "[Bug] cpp client coredump"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

gcc version 7.3.1 20180303 (Red Hat 7.3.1-6) (GCC)
pulsar cpp client version 2.11

### Minimal reproduce step

It use with my internel packages, so it may not easy to reproduce

### What did you expect to see?

send pulsar message  successfully

### What did

[2022-09-15 14:52] zhcn commented on #17674
I found the reason: pulsar client is compiled with protobuf 3.20.0 , other package in my program use protobuf 3.8.0. I recompiled pulsar client with protobuf 3.8.0, and it works

[2022-09-15 14:52] #17674 closed

[2022-09-15 21:41] oliverisaac opened #17678 "Broker metrics on `/metrics/` not `/metrics` [Doc]"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

The broker metrics are behind `/metrics/` _not_ `/metrics` as documented. (Not the trailing slash.)

### What is your suggestion?

Update docs (for all versions) to reflect the trailing slash.

Would also be nice to fix this so

[2022-09-15 21:59] syhily opened #17679 "[Bug] Can't consume messages by using a subset of sticky key hash range"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.10.0

### Minimal reproduce step

Here are a reproduce code by adding test on `KeySharedSubscriptionTest` class.

[code]

### What did you expect to see?

Consumed the sent messages with given key.

### What did you see instead?

No messages can be consumed

[2022-09-15 22:03] syhily commented on #17679
@eolivelli I got the reproduce test code passed after comment the code you added in #14014.

[code]

[2022-09-15 23:47] syhily opened #17680 "[Improve] Calculate the sticky key hash by using keyBytes instead of Base64 encoded key"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

The method `peekStickyKey` in `Commands.java` is used for acquiring sticky key bytes. But I think the implementation of this method could be wrong.

[code]

The Partition Key in metadata could be defined by using `TypedMessageBuilder#setKeyBytes` or `Typed

[2022-09-15 23:47] syhily commented on #17680
@codelipenghui Can you help me check this?

[2022-09-16 00:56] liliang950210 commented on #17097
Why Is the OpenSSL Version in the Wheel File Compiled by Ubuntu Still 1.1.0? The local OpenSSL version is 1.1.1f. How Do I Specify the OpenSSL Version?

[2022-09-16 01:23] #17385 closed

[2022-09-16 01:59] Technoboy- commented on #17680
I think you are right.

[2022-09-16 02:10] leizhiyuan opened #17681 "[Bug] if dynamicConfig item in zk do not exist in broker, will fail for other dynamic config"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

master

### Minimal reproduce step

we upgrade broker ,add a new dynamic config,then we have a,b,c in zk config

then we rollback broker, only a ,c exist in broker code,

 Field configField = dynamicConfigurationMap.get(configKey).field;

dynamicConfiguration

[2022-09-16 02:27] momo-jun commented on #17678
@tjiuming can you pls take a look at this issue?

[2022-09-16 02:29] tisonkun commented on #17678
Generally, the trailing slash should be able to omit. It may not a doc issue but less than awesome software experience :)

[2022-09-16 02:44] momo-jun opened #17682 "[Doc] The top search result for Pulsar-Admin in Google redirects to a French version of doc page"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

When searching "Pulsar-Admin" in Google, the first result redirects to this page in French: https://pulsar.apache.org/fr/docs/pulsar-admin/, which is not expected. And the link [Pulsar admin doc](https://pulsar.apache.org/fr/too

[2022-09-16 02:45] momo-jun commented on #17682
@urfreespace @tuteng can you pls take a look at this issue?

[2022-09-16 02:52] Technoboy- commented on #17679
For sticky mode, the consumer will only receive messages of hashes in the specified ranges.
In the above case, the consumer only config one hash range. But the produced messages hash are in other ranges, so the consumer is blocked.

[2022-09-16 02:53] #17679 closed

[2022-09-16 02:57] syhily commented on #17679
Yep, you are right. I have found another workaround for this issue.

https://github.com/streamnative/flink/blob/pull/FLINK-26182/flink-connectors/flink-connector-pulsar/src/main/java/org/apache/flink/connector/pulsar/source/config/PulsarConsumerBuilder.java

[2022-09-16 02:59] tisonkun commented on #17678
@oliverisaac I try `localhost:8080/metrics` and the browser automatically directs me to http://localhost:8080/metrics and returns the correct result. This manner should be fine to me.

Do you encounter a case that 404 or other critical error when open `/metrics`?

[2022-09-16 03:20] poorbarcode commented on #17225
failure:
- https://github.com/apache/pulsar/actions/runs/3053391609/jobs/4932388162
- https://github.com/apache/pulsar/actions/runs/3057952598/jobs/4933640170

[2022-09-16 03:22] poorbarcode commented on #14109
another one: https://github.com/apache/pulsar/actions/runs/3062091034/jobs/4943495494

[2022-09-16 03:32] RobertIndie opened #17683 "[Bug] NoClassDefFoundError when using the pulsar admin tools"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

86ea31b2409a7b62624278dc133d443ca62ffb76

### Minimal reproduce step

* Build the project
* run `bin/pulsar-admin`

### What did you expect to see?

Able to run

### What did you see instead?

➜  pulsar git:(master) ✗ bin/pulsar-admin
Error: Unable to initial

[2022-09-16 04:15] labuladong commented on #17501
I found that only versions in sidebar have the banner, but many old versions in [other version page](https://pulsar.apache.org/versions) do not have the banner. For example [Pulsar V2.6.3](https://pulsar.apache.org/docs/2.6.3/):

![image](https://user-images.githubusercontent.com/37220920/190555323-42ad9df8-bd65-4a1e-af82-0696ca90b590.png)

Reopen this issue.

[2022-09-16 04:58] #15702 closed

[2022-09-16 06:52] momo-jun opened #17688 "[Doc] Broken links in `io-connectors` page for versions prior to 2.5.2"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

Most of the links on this page appear broken (404 error): https://pulsar.apache.org/docs/2.3.1/io-connectors.

The issues in the historical versions of the `io-connectors` page include:
1. **404 issue** - The doc files linked in

[2022-09-16 07:25] nicoloboschi commented on #17683
@RobertIndie I'm not able to reproduce it from the current master.

[2022-09-16 07:36] momo-jun commented on #17688
@urfreespace @Anonymitaet @DaveDuggins @D-2-Ed feel free to share your thoughts and findings here.

[2022-09-16 07:51] #17120 closed

[2022-09-16 09:37] thetumbled opened #17692 "[Bug] ThresholdShedder calculate wrong percentOfTrafficToOffload"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

pulsar 2.9.3

### Minimal reproduce step

org/apache/pulsar/broker/loadbalance/impl/ThresholdShedder.java:105
<img width="660" alt="image" src="https://user-images.githubusercontent.com/52550727/190605693-91dd452f-8bbc-4e1f-9c33-28d74fd41685.png">
the documen

[2022-09-16 10:17] #17683 closed

[2022-09-16 10:50] andrekramer1 commented on #14242
It seems likely that the following commit already fixed this issue: https://github.com/apache/pulsar/commit/dfe02475e6d949855d412c37718552d252c7d6c8

[2022-09-16 13:20] oliverisaac commented on #17678
Ah, yes! That endpoint returns a 302 and it didn't occur to me to try the `curl -L`! 🤦‍♂️

I'm going to close this issue as, technically, `/metrics` works even though the metrics are "actaully" at `/metrics/`. On the other hand, having to do `curl -L` instead of just a `curl` probably falls under the "less than awesome software experience" umbrella. 🤷‍♂️

Thanks for the quick response!

[2022-09-16 13:20] #17678 closed

[2022-09-16 13:34] #17572 closed

[2022-09-16 15:56] #17680 closed

[2022-09-17 03:09] shink commented on #17011
There are some failed checks in the PR #16003 because of this flaky test, what can I do about this issue?

[2022-09-17 03:20] poorbarcode commented on #17011
The first thing you should do is determine if any of the failed tests were caused by the code you submitted. If not, you can comment `/pulsarbot rerun-failure-checks` to retry the test

[2022-09-17 03:59] shink commented on #17011
@poorbarcode Thank you for your suggestions! But the problem is, all failed checks are about this flaky test, it seems that they are not caused by changed code, but they fail again when I re-run them.

[2022-09-17 04:47] poorbarcode commented on #17011
Hi @shink

we can discuss it at PR #16003

[2022-09-17 09:27] #16912 closed

[2022-09-18 03:44] michaeljmarshall opened #17707 "Why pulsar retention quota must exceed configured backlog quota"
### Discussed in https://github.com/apache/pulsar/discussions/17697

<div type='discussions-op-text'>

<sup>Originally posted by **mnit016** September 16, 2022</sup>
Hello everyone,

I'm new to Pulsar, recently I get into a problem when configure the backlog/retention quota for namespace.

The problem:
retention: {time: -1, size: 10M} => then I can set backlog quota as much as I want.
But if reten

[2022-09-18 03:45] michaeljmarshall commented on #17707
This appears to be a bug, based on @Jason918's analysis here:

https://github.com/apache/pulsar/discussions/17697#discussioncomment-3672520

[2022-09-18 04:16] ZWiley opened #17708 "[Bug] pulsar-cpp-client pulsar::HTTPLookupService::handleLookupHTTPRequest coredump"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

pulsar-cpp-client v2.8.3
<img width="1427" alt="image" src="https://user-images.githubusercontent.com/17757598/190885409-bb1435fd-bb00-4984-9232-6d07ffae0336.png">
<img width="1414" alt="image" src="https://user-images.githubusercontent.com/17757598/190885427

[2022-09-19 02:29] #17707 closed

[2022-09-19 02:40] codelipenghui commented on #17225
Another failure: https://github.com/apache/pulsar/actions/runs/3050809344/jobs/4918810532

[2022-09-19 06:27] lhotari commented on #16863
similar problem in https://github.com/apache/pulsar/actions/runs/3069039857/jobs/4957355531#step:10:1881

[code]

[2022-09-19 06:30] lhotari opened #17713 "Flaky-test: SqliteJdbcSinkTest.tearDown"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3069039857/jobs/4977568132#step:10:4694

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-09-19 07:21] lhotari opened #17714 "Flaky-test: Out-of-memory error in Broker Group 3 unit tests"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3080021439/jobs/4976960591#step:10:1323

### Exception stacktrace

[code]

heap dump uploaded to https://transfer.sh/whRQiJ/Unit-BROKER_GROUP_3-heapdump.zip
thread dump extracted from heap dump https://gis

[2022-09-19 08:18] Anonymitaet commented on #17688
1. For 404 links, whether they are in the docs that are in the maintenance life cycle or not, it makes sense to fix them since users feel frustrated when getting the 404 pages and might end up on those pages.
2. All missing docs, for example, https://pulsar.apache.org/docs/2.3.1/io-connectors/io-aerospike.md (404), are available at https://pulsar.staged.apache.org/docs/en/2.3.1/io-aerospike/, whic

[2022-09-19 08:21] Anonymitaet commented on #17501
@labuladong https://github.com/apache/pulsar-site/pull/207#issuecomment-1250665086 is the proposed solution

[2022-09-19 09:07] momo-jun commented on #17688
@Anonymitaet thanks for sharing your information. Seems it's the only way to trace back some of the files, requiring manual formatting though.
I will start with the second issue - reverting the incorrect versions of connector content and recovering the versions of missing files.

[2022-09-19 11:04] lhotari commented on #17657
There are some memory leaks in tests that cause slow down.
Pulsar CI collects a heap dump when an OOM happens. There are 2 recent examples of this:
#17714 and #17655

When there's a memory leak, it can slow down tests when there's constant GCs happening due to very limited available heap.

[2022-09-19 11:12] lhotari commented on #17714
I checked this and found a bug pattern in the tests. There are quite a few locations where the test code calls "setup" or "internalSetup" without first cleaning up previous state and cleaning up resources. I started changes [in this branch](https://github.com/apache/pulsar/compare/master...lhotari:pulsar:lh-fix-resourceleak-in-tests?expand=1), but there's a problem to be solved so that the Service

[2022-09-19 11:37] #17587 closed

[2022-09-19 12:33] #17681 closed

[2022-09-19 14:59] cbornet opened #17719 "PIP-208: HTTP Sink"
### Motivation

Currently, when you want to consume from Pulsar topics in applications written in languages that don't have a Pulsar driver supported, you need to run some type of proxy like the WebSocket Proxy or Pulsar Beam. In production this needs additional effort to deploy, scale, load balance, monitor, and so on...
Pulsar IO is a framework that deals with all these operational subjects and

[2022-09-19 17:17] zbentley commented on #16013
Any update on this?

[2022-09-19 23:23] merlimat opened #17724 "PIP-XYZ:"
### Motivation

Pulsar C++ code base is in the same main repository for the Pulsar project.

While the decision was the right one at the time, there is a considerable overhead
in keeping the C++ client in its current position.

### Issues with the current approach

The Pulsar repository has grown a lot in size and number of active developers.

 1. The frequency of changes in various parts of the c

[2022-09-20 01:54] kingdom998 commented on #5312
I solved it with curl expression below in my env.
curl --location --request POST 'http://127.0.0.1:8080/admin/v3/functions/sample/ns1/toupper' \
--header 'Content-Disposition;' \
--form 'data=@"/Users/zy/01_prj/pulsar/func/uppercase.py"' \
--form 'functionConfig=@"/Users/zy/01_prj/pulsar/func/upper.json"'

[2022-09-20 02:21] tisonkun commented on #17688
@Anonymitaet if we can redirect docs of old versions, said before 2.7.0, to pulsar.staged.apache.org and keep them work as is, it will help to focus on current versions instead of fixing very old versions while they can work well as previously it did.

[2022-09-20 02:31] kingdom998 commented on #16631
you can use curl like below
[code]

or python script below

[code]

[2022-09-20 02:42] Anonymitaet commented on #17688
@tisonkun thanks! I think we do not want users to know pulsar.staged.apache.org.

Reasons:

1. For users: they might be confused about why there are 2 Pulsar websites, we need to spend some effort explaining it.

2. For maintainers:

    2.1 we should give users the minimal necessary info, which reduces their cognitive load. What they need to know is https://pulsar.apache.org, that is enough.

[2022-09-20 02:45] tisonkun commented on #17688
@Anonymitaet It's not about the domain `pulsar.staged.apache.org`, but the artifacts...

If you take a look at an ancient trino version, you will find that the style changes overtime:

* https://trino.io/docs/current/
* https://trino.io/docs/334

[2022-09-20 04:36] lhotari commented on #15913
another one: https://github.com/apache/pulsar/actions/runs/3086967858/jobs/4991995273#step:12:15153

[2022-09-20 05:14] #17561 closed

[2022-09-20 05:19] momo-jun commented on #9008
Closed the issue since it hasn't been planned yet at this moment. Feel free to reopen it when it's relevant.

[2022-09-20 05:19] #9008 closed

[2022-09-20 05:20] momo-jun commented on #8569
Closed the issue since it hasn't been planned yet at this moment. Feel free to reopen it when it's relevant.

[2022-09-20 05:20] #8569 closed

[2022-09-20 05:25] momo-jun commented on #12201
Closed the issue since it hasn't been planned yet at this moment. Feel free to reopen it when it's relevant.

[2022-09-20 05:25] #12201 closed

[2022-09-20 05:35] momo-jun commented on #14967
Hi @eolivelli Noticed you have labeled the relevant PR https://github.com/apache/pulsar/pull/14930 as `doc-complete` while the other PR https://github.com/apache/pulsar/pull/14966 is closed. Does it mean that this issue can be closed?

[2022-09-20 05:36] momo-jun commented on #16911
Closed the issue since it hasn't been planned yet at this moment. Feel free to reopen it when it's relevant.

[2022-09-20 05:36] #16911 closed

[2022-09-20 06:54] lwclover opened #17731 "[Bug] Cannot get replicatedFrom in EntryFilter"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

linux cenos
pulsar version 2.10.1

### Minimal reproduce step

Configure topic level Geo Replicator bidirectional synchronization.
Implement Entryfilter below:
[code]

### What did you expect to see?

I want get replicatedFrom in EntryFilter.

### What did yo

[2022-09-20 08:59] lightzhao opened #17737 "unload bundle causes topic fence, OpAddEntry NPE appears in addComplete."
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.8.1

### Minimal reproduce step

1. unload bundle causes topic fence
2. OpAddEntry NPE appears in addComplete.
3. add producer/consumer fail

### What did you expect to see?

When the bundle is unloaded, the producer/consumer can be added normally, and the

[2022-09-20 09:04] thetumbled opened #17738 "Duplicate data stored in loadbalance/brokers/"
### Search before asking

- [x] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

i find that method getBundleStats return member lastStats, causing  duplicate data stored in ZK when Jackson serializing LocalBrokerData, and the size of data in lastStats is pretty large, consisting of metrics data concerning to every bundles that belong

[2022-09-20 09:27] tisonkun commented on #12944
With #17733 we should be able to build ARM-based docker image manually. Integrating it with automation or CI is another topic.

[2022-09-20 09:56] andrasbeni commented on #17132
@codelipenghui , can you please what tests you would like to see for the admin CLI? As I can see, [runAdminCommandOnAnyBroker](https://github.com/apache/pulsar/blob/master/tests/integration/src/test/java/org/apache/pulsar/tests/integration/topologies/PulsarCluster.java#L634) does use the admin cli and is used extensively by integrations tests. And there are some more usages through the constant `A

[2022-09-20 14:35] andrekramer1 commented on #14242
The fix uses a cache with a 1 hour expiry - a lot of messages could pass by in an hour. A different eviction could risk cache misses would lead to acks not being recorded. Possibly recovered by re-transmissions on ack wait timeouts. Maybe this solution should be re-evaluated and something more robust put in place (i.e. not use a cache).

[2022-09-20 16:06] andrasbeni opened #17747 "[Bug] PerformanceConsumer does not stop at numMessages messages received"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

master branch, 8b771a6a528d85bbec6a3d791356a9ab6e9e5ea3

### Minimal reproduce step

start `./pulsar-perf consume -u pulsar://localhost:6650 -m 100 topic`
run `./pulsar-perf produce -u pulsar://localhost:6650 -m 110 topic` in parallel

### What did you expect

[2022-09-20 16:48] D-2-Ed commented on #17688
Thank you for calling out this issue. Can we identify the types of changes that break older versions? Ideally, we need to be able to preserve the old links while making changes to the current documentation. Because we will not be updating / maintaining content in versions prior to 2.8, we need to come up with a reasonable strategy.

[2022-09-21 01:50] BewareMyPower commented on #17097
@liliang950210 Did you build the wheel file using latest https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/docker/build-wheels.sh? It should use OpenSSL 1.1.1n dependency now.

[2022-09-21 01:58] gaoran10 commented on #14291
Sorry, I'm not sure about your question, could you describe more details?

[2022-09-21 02:05] codelipenghui opened #17755 "Flaky-test: PersistentSubscriptionTest.testCanAcknowledgeAndCommitForTransaction"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3087399137/jobs/4996282487

### Exception stacktrace

Error:  Tests run: 5, Failures: 1, Errors: 0, Skipped: 2, Time elapsed: 2.162 s <<< FAILURE! - in org.apache.pulsar.broker.service.persistent.Persisten

[2022-09-21 04:20] tisonkun commented on #17688
@momo-jun now I know the issue you reported is about low quality of old version documents. There are hard links to the "latest" pages which have been changed over time, or the content is itself incorrect.

For example, one of the broken links you mentioned for 2.3.1 has never been correct since it was created https://github.com/apache/pulsar/pull/4040 - a link to `io-aerospike.md` but no the named

[2022-09-21 05:48] eolivelli commented on #15902
This PIP was not accepted

The work has been posted here
https://github.com/datastax/pulsar-transformations
and it is available to anyone, it is Apache 2 licensed

[2022-09-21 05:48] #15902 closed

[2022-09-21 05:49] michaeljmarshall opened #17759 "[bug] Infinite Loop Observed for ResourceLockImpl after Zookeeper Session Expired"
## Observations

I haven't been able to reproduce this issue, but in one of my test environments, I see this behavior often. It seems pretty clear that there is a potential for an infinite loop in the `ResourceLockImpl` class. I specifically see it taking place for the bookie's lock on its znode. Here are the observed events. The bookie's logs are below.

1. The bookie starts out connected and as

[2022-09-21 05:51] eolivelli opened #17760 "Kafka Source: add option to copy Kafka Headers to Pulsar properties"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Currently in the Kafka Source we are not copyng the headers  but only the payload.
I would be great to have all Kafka Headers and maybe some additional metadata, like the original topic, partition, offset....

### Solution

Add a flag in the Kafka Source

[2022-09-21 06:09] tisonkun commented on #17179
It can be related to a JDK issue: https://bugs.openjdk.org/browse/JDK-8280357.

[2022-09-21 06:31] mattisonchao commented on #17759
2022-07-29T19:44:17,411+0000 [metadata-store-3-1] INFO  org.apache.pulsar.metadata.coordination.impl.ResourceLockImpl - Lock on resource /ledgers/available/bookkeeper-0:3181 was invalidated

Looks like we have two same path locks in the same broker.

[2022-09-21 06:40] coderzc commented on #16578
another one https://github.com/coderzc/pulsar/actions/runs/3094888567/jobs/5008832313

[2022-09-21 06:52] gaozhangmin opened #17761 "[Bug] pulsar-admin script encountered error without providing full parameters"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Master

### Minimal reproduce step

just run bin/pulsar-admin

### What did you expect to see?

[code]

### What did you see instead?

[code]

### Anything else?

_No response_

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-09-21 07:03] nicoloboschi commented on #17761
@lhotari it's related to https://github.com/apache/pulsar/pull/17589

[2022-09-21 07:11] tisonkun commented on #17468
@BewareMyPower I'm running the `build-mac-wheels.sh` script on macOS with Apple M1 silicon. It seems that old versions of Python don't support new arch.

After comment out the old version:

[code]

I build `pulsar_client-2.11.0-cp310-cp310-macosx_10_15_universal2.whl` successfully to `pulsar-client-cpp/python/dist`.

You may try to reproduce and I suggest we release more Python client as possible

[2022-09-21 07:15] eolivelli commented on #17759
I added a implementation of the SerDe in this PR
https://github.com/apache/pulsar/pull/17762

I have found the problem of #17762 while trying to understand this bug

[2022-09-21 07:18] urfreespace commented on #17688
搜索正则：
`(\[[^\]]+\]\((?!http|assets|\.|\/|#)((?!\.md|:|\.|#|\/).)*)\)`
替换正则：
`$1.md)`
搜索路径：
site2

<img width="588" alt="image" src="https://user-images.githubusercontent.com/76024046/191439759-768756ac-e00e-4113-b0b1-1dbf97816e9c.png">

@momo-jun /cc @Anonymitaet @tisonkun

[2022-09-21 07:20] mattisonchao commented on #17759
Thanks for your fix. @eolivelli

[2022-09-21 07:21] tisonkun commented on #17468
Confirm that Python support Apple M1 silicon arch from 3.9: https://docs.python.org/3/whatsnew/3.9.html#macos-11-0-big-sur-and-apple-silicon-mac-support

[2022-09-21 07:27] BewareMyPower commented on #17468
Thank you @tisonkun, I'm testing it with 3.10 now.

[2022-09-21 07:35] BewareMyPower commented on #17468
@tisonkun It still doesn't work.

[code]

[2022-09-21 08:58] momo-jun commented on #17688
@tisonkun I don't have answers to this question. @Anonymitaet @urfreespace any thoughts?

----
Discussed with @urfreespace, that redirecting the historical versions of docs to the archived/staged site has potential risks:
* it's just a snapshot without any maintenance possibilities.
* it also provides 2.8.x/2.9.x/2.10.x docs in the old website framework which will confuse users.
----

To sum up:
1

[2022-09-21 09:25] codelipenghui commented on #17517
@nodece Could you please provide more context about the difference of the self/original auth data?

[2022-09-21 10:23] tisonkun commented on #17468
@BewareMyPower can you attach the full log file and tell me what branch you're running against?

[2022-09-21 10:46] nodece commented on #17517
@codelipenghui This PIP has been updated.

[2022-09-21 10:52] ethqunzhong commented on #17673
This is a practical proposal!

[2022-09-21 11:05] tisonkun commented on #17761
@gaozhangmin what do you mean by "without providing full parameters"? From the issue description the only difference is the real manner contains extra logs.

[2022-09-21 11:51] hpvd commented on #15981
+1 for this!

[2022-09-21 12:23] dionjansen opened #17772 "[Bug] python function ignores"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Pulsar version: 2.10.1

### Minimal reproduce step

Follow [Pulsar functions quickstart](https://github.com/apache/pulsar/blob/master/site2/website/versioned_docs/version-2.3.0/functions-quickstart.md#writing-and-running-a-new-function). I'm using Docker to r

[2022-09-21 12:32] hpvd commented on #14092
@lhotari would you mind pointing to a sub dictory of https://hub.docker.com/u/apachepulsar where one can obtain the smaller image and cross check the MBs saved in size (before and after this change - should be arround v2.10)?
Does it meet your expectations?

Do we have to make any changes in text or link tragets in doc on https://pulsar.apache.org/docs/next/deploy-docker ?

[2022-09-21 12:38] dionjansen opened #17773 "[Bug] python function ignores `--forward-source-message-property true`"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Pulsar version: 2.10.1

### Minimal reproduce step

Follow [Pulsar functions quickstart](https://github.com/apache/pulsar/blob/master/site2/website/versioned_docs/version-2.3.0/functions-quickstart.md#writing-and-running-a-new-function). I'm using Docker to r

[2022-09-21 12:38] lhotari commented on #14092
I think the simplest way to get a comparison of #14093 changes would be to build a docker images before and after locally.

yes, for the particular changes. However, I think that Pulsar lacks a proper slim image, but that's a topic for a separate discussion.

That document looks very much outdated. It doesn't make sense to me.

[2022-09-21 12:50] hpvd opened #17774 "[Doc] Deploy Docker: outdated"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

in https://github.com/apache/pulsar/issues/14092#issuecomment-1253650641

### What is your suggestion?

update

### Any reference?

_No response_

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-09-21 12:51] hpvd commented on #14092
thanks for getting back that fast!

ps: filed an issue for doc update https://github.com/apache/pulsar/issues/17774

[2022-09-21 13:17] BewareMyPower commented on #17468
[code]

- [out.log](https://github.com/apache/pulsar/files/9616855/out.log)
- [err.log](https://github.com/apache/pulsar/files/9616856/err.log)

The error logs are still the same as before. I think it's because some C dependencies must be installed when building Python from source. The script might require users to install some dependencies via `brew install`.

For example, the `'lzma/version.h' f

[2022-09-21 13:34] dionjansen opened #17776 "[Bug] python function does not respect `--retain-ordering` flag"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Pulsar version: 2.10.1

### Minimal reproduce step

Follow [Pulsar functions quickstart](https://github.com/apache/pulsar/blob/master/site2/website/versioned_docs/version-2.3.0/functions-quickstart.md#writing-and-running-a-new-function). I'm using Docker to r

[2022-09-21 14:04] moweonlee commented on #13167
@fmiguelez

I'm also trying to find the solution.

Could you please update anything of your finding?

What I have done is configuring these two setting in bookie's configurations.

- minorCompactionThreshold : -1
- majorCompactionThreshold : -1

![image](https://user-images.githubusercontent.com/16459517/191525669-0f2648d0-64ba-4daa-a120-8f6fa848e824.png)
![image](https://user-images.githubusercon

[2022-09-21 15:27] BewareMyPower commented on #17563
I checked this issue today. It requires the changes to CMakeLists.txt because the dynamic library of Python client (`_pulsar.so`) should be linked statically, i.e. with the `-DLINK_STATIC=ON` CMake option. Unfortunately, when `LINK_STATIC` option is enabled, it only tries to find the `*.a` library, which is a static library in Linux and macOS, as the static library, while it should also be `*.lib`

[2022-09-21 17:43] aymkhalil commented on #17760
I'm working on it.

[2022-09-21 18:34] lhotari commented on #14092
Thank you @hpvd

[2022-09-22 01:03] moweonlee commented on #13167
@fmiguelez

In my case, What [frankjkelly](https://github.com/frankjkelly) said works for me.

I think what he had done is to minimize compaction triggering inverval shorter than default value for more aggressive GC.

https://github.com/apache/pulsar/issues/6639

[2022-09-22 01:03] leizhiyuan opened #17784 "add telemetering for client"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

now ,if clients use some wrong configs,  we can not recognize, the only way is to ask users to check their code

### Solution

add a channel to allow server send command (like report the config of produce or client ) to client, then client will report the

[2022-09-22 01:24] codelipenghui opened #17785 "Flaky-test: LookupRetryTest.testCloseConnectionOnBrokerRejectedRequest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3101892132/jobs/5023814359

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-09-22 01:35] tisonkun commented on #17774
@hpvd I think this issue can be an instance of #17495 and all these related documents should be considered in a rewrite on the topic "get started in containers (cluster)":

* https://pulsar.apache.org/docs/next/deploy-docker
* https://pulsar.apache.org/docs/next/getting-started-helm
* https://pulsar.apache.org/docs/next/helm-install
* https://pulsar.apache.org/docs/next/getting-started-docker
* ht

[2022-09-22 01:59] momo-jun opened #17786 "[Doc] Inconsistent npm compatibility across multiple sites"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

The npm compatibility for Node clients is inconsistent on multiple sites.

- https://github.com/apache/pulsar-client-node
   <img width="813" alt="image" src="https://user-images.githubusercontent.com/60642177/191409510-fa9f6930

[2022-09-22 02:17] tisonkun commented on #17786
Generally speaking, it's not about a single source of truth because here we don't have a reasonable single source.

* The difference between README.md and npm.js is due to that the latest version isn't uploaded to npm.js. npm.js displays README.md of uploaded artifacts.
* The difference between the doc site and the other two is due to...we don't update it :)

Actually, pulsar-client-node doesn't h

[2022-09-22 03:09] michaeljmarshall commented on #14092
I've found [dive](https://github.com/wagoodman/dive) to be a helpful tool for inspecting docker images.

[2022-09-22 03:26] michaeljmarshall commented on #17595
I am a bit late on this issue, but one comment is that the naming on that metric is ambiguous and could have been meaningful in the previous design. For example, we filter out certain entries that are system messages even when there are not entry filters. Perhaps we should make sure not to count system messages in the `filterProcessedMsgCount` counter to prevent them from skewing the numbers for t

[2022-09-22 05:16] lhotari opened #17791 "[Bug] Broken link: https://pulsar.apache.org/docs/develop-binary-protocol"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

The link https://pulsar.apache.org/docs/develop-binary-protocol is first hit for google search "[pulsar binary protocol](https://www.google.com/search?q=pulsar+binary+protocol)". It is broken.

We should redirect links referring to old content location so tha

[2022-09-22 05:20] tisonkun commented on #17791
Related changes https://github.com/apache/pulsar/pull/17265

It actually doesn't place on every versions but fair enough to adopt the redirection approach.

[2022-09-22 07:12] tisonkun opened #17794 "[Doc] Updating Python installation section according to C++ client doc structure changes"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

This is a follow-up to https://github.com/apache/pulsar/issues/17385.

### What is your suggestion?

Updating Python installation section according to C++ client doc structure changes

### Any reference?

_No response_

### Are

[2022-09-22 07:44] fmiguelez commented on #13167
@moweonlee I have reviewed my notes of that day. The result was the same, if compaction was enabled at namespace level, bookies unreadable due to disk full.

In our systems we usually have compaction enabled globally but allow disabling it at topic level. We were surprised to check that such feature does not work anymore (I would swear to have seen it working in previous versions). We reported the

[2022-09-22 08:32] tisonkun commented on #17791
@lhotari this issue should be resolved now. Please confirm and close if it works for you.

[2022-09-22 09:24] lhotari opened #17799 "[Bug] Pulsar Helm Charts are missing: https://pulsar.apache.org/charts/ returns 404"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Any

### Minimal reproduce step

[code]

### What did you expect to see?

https://pulsar.apache.org/charts should contain Pulsar Helm Charts

### What did you see instead?

A 404 was returned

### Anything else?

_No response_

### Are you willing to submit a

[2022-09-22 09:24] lhotari commented on #17799
@tisonkun can you help in resolving this? thanks

[2022-09-22 09:35] tisonkun commented on #17799
@lhotari root cause located. Will push commits for this issue. Although, shall the helm chart be self-contained? Said depend on artifacts under its code repo.

[2022-09-22 09:40] lhotari commented on #17799
Thanks @tisonkun . I guess the location is where it is because of some legacy reasons: that's where it was published initially...

[2022-09-22 09:47] tisonkun commented on #17799
@lhotari sure...

In any aspect we should keep the original file, but it would be reasonable to be self-contained.

[2022-09-22 09:48] tisonkun commented on #17799
Perhaps change logics under https://github.com/apache/pulsar-helm-chart/blob/master/.ci/release.sh.

[2022-09-22 09:52] tisonkun commented on #17799
Supposed the Helm Chart is part of the Apache release, perhaps upload the index.yaml to https://dist.apache.org/repos/dist/release/pulsar/.

[2022-09-22 11:22] tisonkun commented on #17799
The issue reported here should be fixed now. Please confirm and close if it works.

[2022-09-22 11:24] startjava commented on #10890
@xuesongxs
hi !  look this url :
https://forum.streamnative.io/t/f-noack/487

[2022-09-22 11:27] #17472 closed

[2022-09-22 11:27] #17799 closed

[2022-09-22 13:20] poorbarcode commented on #12033
another one:

- https://github.com/apache/pulsar/actions/runs/3103950216/jobs/5028077061

[code]

The class name has been changed to `RGUsageMTAggrWaitForAllMsgsTest` by PR #12438, and the class name is `...Mesgs...`( has a misstake )

[2022-09-22 13:21] poorbarcode commented on #17131
another one:

- https://github.com/apache/pulsar/actions/runs/3103950216/jobs/5028076961

[2022-09-22 13:47] #16527 closed

[2022-09-22 14:47] leonardjin opened #17805 "Pulsar needs opentelemetry agent plugin for tracing"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

In order to get the ability of non-intrusive-tracing, pulsar should connect the opentelemetry agent

@tjiuming

### Solution

_No response_

### Alternatives

_No response_

### Anything else?

_No response_

### Are you willing to submit a PR?

- [ ] I'm

[2022-09-22 16:11] poorbarcode commented on #17011
another one:

- https://github.com/poorbarcode/pulsar/actions/runs/3105874288/jobs/5032329689

[2022-09-22 17:01] tjiuming commented on #17805
@codelipenghui assign me please

[2022-09-22 23:31] urfreespace commented on #17501
@labuladong fixed; pls close this issue after you checked

[2022-09-23 00:58] labuladong commented on #17501
Thanks for your work, it looks good to me. I'll close this issue : )

[2022-09-23 00:58] #17501 closed

[2022-09-23 02:44] michaeljmarshall commented on #17799
I started a thread on this back in June, but I wasn't able to find the time to update the release process. Here is a link to the thread: https://lists.apache.org/thread/2xmks3zzkh5cm4ghrqt4ys6zwh4c3gbj.

I agree that we should fix the release process. Updating where the `index.yaml` is stored will probably take a little time to change unless we can respond with an appropriate "moved" error to the

[2022-09-23 02:47] michaeljmarshall commented on #17599
[code]

For this string, and others like it, I think there was a time when the packaging was updated in the Java but not in the docs. I believe the updated version of the above link is: https://pulsar.apache.org/api/admin/2.10.1/org/apache/pulsar/client/admin/Sources.html#getSource(java.lang.String,java.lang.String,java.lang.String). I researched this a bit back in July, but I wasn't able to compl

[2022-09-23 03:15] BewareMyPower commented on #17563
I'm working on this issue in my own branch: https://github.com/BewareMyPower/pulsar/commits/bewaremypower/cpp-static-link. Now the Pulsar libraries can be built successfully on MSVC with `LINK_STATIC=ON`, but the Python build still failed. I will continue fixing it.

[2022-09-23 03:24] momo-jun commented on #12253
@edgebroker sorry for the late response. Can you pls help address this issue by providing the link to the docs?

[2022-09-23 03:34] momo-jun commented on #13411
Closed this issue as per https://github.com/apache/pulsar/pull/13791.

[2022-09-23 03:34] #13411 closed

[2022-09-23 03:40] liliang950210 commented on #17097
Is there a new whl package based on this? It is difficult to compile on the intranet.

[2022-09-23 04:19] TakaHiR07 opened #17812 "[Bug][broker] cursor recover to earliest by mistake"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

server version : pulsar 2.9.3
client version: go client, github.com/Shopify/sarama v1.26.1

### Minimal reproduce step

Our pulsar cluster has large number of producers and consumers. When we do cluster expansion, topic start unload/load.

However, we found t

[2022-09-23 05:35] BewareMyPower commented on #17097
You can wait StreamNative's next release (2.10.1.9) on branch-2.10. The latest release is [2.10.1.8](https://github.com/streamnative/pulsar/releases/tag/v2.10.1.8) that doesn't include https://github.com/apache/pulsar/pull/17538.

[2022-09-23 05:49] lhotari commented on #13092
again
[code]
https://github.com/apache/pulsar/actions/runs/3110223307/jobs/5041516576#step:11:79 in @codelipenghui PR build for #17804 . @mattisonchao do you have a chance to take a look?

[2022-09-23 06:17] liliang950210 commented on #17097
When is this expected to be released? Can I test a temporary version?

[2022-09-23 06:22] #17688 closed

[2022-09-23 06:36] BewareMyPower commented on #17097
Maybe next week. You can build the wheel by yourself. Or do you want anyone to build the wheel for you?

[2022-09-23 07:02] poorbarcode commented on #16863
another one:

- https://github.com/poorbarcode/pulsar/actions/runs/3110671341/jobs/5042172175

[2022-09-23 07:08] catsun26 opened #17814 "Failed to create producer: org.apache.bookkeeper.mledger.ManagedLedgerException: Not enough non-faulty bookies available"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

centos 7.9
apache-pulsar-2.8.0  one pulsar cluster
apache-pulsar-2.8.0 + broker-2.8.1  and two pulsar cluster

servers:
server1:
ip:192.168.209.81
proxy+zookeeper+broker+bookie
server2:
ip:192.168.209.82
zookeeper+broker+bookie
server3:
ip:192.168.209.83
zook

[2022-09-23 07:25] yaalsn commented on #17563
@BewareMyPower  Thanks for your help!

[2022-09-23 08:17] liliang950210 commented on #17097
Yes, I want to help me compile a whl file first, I'll verify it on the environment first.

[2022-09-23 08:51] ethqunzhong commented on #17814
1. whether some bookie is unhealthy (read-only/...) ?
2. are you set `bookkeeperClientRegionawarePolicyEnabled=true` in broker.conf ?

[2022-09-23 09:06] thetumbled opened #17815 "[Bug] incorrect CPU usage collected by pulsar"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

pulsar 2.9.3
linux 4.19.16

### Minimal reproduce step

1. enable CGROUP
2. assign 23 CPUs to broker process,while there are 40 CPUs in the system
```taskset fffffe0000 bin/***```

### What did you expect to see?

1. cpu usage is smaller than 100%

### What d

[2022-09-23 09:16] tisonkun opened #17817 "Hosting blogs content on pulsar-site repo only"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Currently, we host blogs in the main repo and sync the files to the pulsar-site repo regularly.

This doesn't produce extra benefits. We can keep those files on the pulsar-site repo only.

### Solution

Keep those files on the pulsar-site repo only. That i

[2022-09-23 09:22] Sherlock113 commented on #17817
I agree. We can use the pulsar-site repo to host blogs. I don't think this will affect our blogs.

[2022-09-23 09:23] catsun26 commented on #17814
Thank you for your reply

1. stop one bookie's service,give the result as follows
[root@pulsar1 apache-pulsar-2.8.0]# pulsar-admin bookies list-bookies
{
  "bookies" : [ {
    "bookieId" : "192.168.209.82:3181"
  }, {
    "bookieId" : "192.168.209.81:3181"
  }, {
    "bookieId" : "192.168.209.83:3181"
  } ]
}

ls /ledgers/available
[192.168.209.82:3181, 192.168.209.83:3181, readonly]

2.`bookkeepe

[2022-09-23 09:34] momo-jun commented on #17817
CC @Anonymitaet

[2022-09-23 09:34] TakaHiR07 commented on #11433
I have encounter the same problem when do cluster expansion in our production environment.

We firstly change rack information in zk /bookies, and then add broker and bookie to our cluster. Then the same Timeout Exception occur. I guess it has successfully get data from /bookies, but block due to dead lock in executors.

[2022-09-23 09:38] ethqunzhong commented on #17814
it seems all bookies not available
<img width="783" alt="image" src="https://user-images.githubusercontent.com/16517186/191932840-545468bb-dfc8-4f42-a21e-b2b5ac58ad6b.png">
you could have a test for bk cluster
1. `bin/bookkeeper shell bookiesanity`
2. `bin/bookkeeper shell simpletest --ensemble 2 -writeQuorum 2 --ackQuorum 2 --numEntries 2`

the key point is found out why these two bookies marked

[2022-09-23 09:47] catsun26 commented on #17814
1.bin/bookkeeper shell bookiesanity

17:45:19.971 [main] INFO  org.apache.zookeeper.common.X509Util - Setting -D jdk.tls.rejectClientInitiatedRenegotiation=true to disable client-initiated TLS renegotiation
17:45:19.975 [main] INFO  org.apache.zookeeper.ClientCnxnSocket - jute.maxbuffer value is 1048575 Bytes
17:45:19.980 [main] INFO  org.apache.zookeeper.ClientCnxn - zookeeper.request.timeout val

[2022-09-23 09:55] catsun26 commented on #17814
why Change the attribute in the broker.conf from 322 to 222, restart broker and stop one bookie's server
managedLedgerDefaultEnsembleSize=3
managedLedgerDefaultWriteQuorum=2
managedLedgerDefaultAckQuorum=2
Change to
managedLedgerDefaultEnsembleSize=2
managedLedgerDefaultWriteQuorum=2
managedLedgerDefaultAckQuorum=2

**the broker's logs shown as follows**
ensembleSize=3, writeQuorumSize=2 and ackQu

[2022-09-23 10:23] catsun26 commented on #17814
![图片](https://user-images.githubusercontent.com/44943254/191941028-40417c5e-f5dd-4944-aa6a-322f56957d8f.png)
This should be correct, because it has stopped（192.168.209.81:3181）

[2022-09-23 10:43] catsun26 commented on #17814
Thanks for your reply, this problem has been solved, because the policy was specified as 322 when the namespace was created

[2022-09-23 10:44] #17814 closed

[2022-09-23 10:53] coderzc commented on #16795
Another one: https://github.com/coderzc/pulsar/actions/runs/3096439259/jobs/5041008782

[2022-09-23 11:08] coderzc commented on #16860
Another one: https://github.com/coderzc/pulsar/actions/runs/3111914477/jobs/5044891092

[2022-09-23 11:23] andrasbeni opened #17823 "[Bug] PerformanceReader needs one more message than numMessages"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

master; hash: 08df28a616

### Minimal reproduce step

Start `bin/pulsar-perf read -u pulsar://localhost:6650 -n 100 topic`.
Run `bin/pulsar-perf produce -u pulsar://localhost:6650 -m 100 topic` in parallel.

### What did you expect to see?

`pulsar-perf read`

[2022-09-23 11:49] andrasbeni opened #17824 "[Bug] PerformanceConsumer and PerformanceReader run with -time quit only after another message"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

master; hash: 8e855bc694b97cc0bac3861e3c24d63d7ef883f2

### Minimal reproduce step

Start `bin/pulsar-perf read -u pulsar://localhost:6650 -time 15 topic`
Run ` bin/pulsar-perf produce -u pulsar://localhost:6650 -m 10 topic` in parallel.

### What did you exp

[2022-09-23 13:19] #17576 closed

[2022-09-24 01:57] tisonkun commented on #17137
Closed as all subtasks done.

cc @codelipenghui @eolivelli perhaps we should note somewhere that this change need a release note. The ceveat is included in https://github.com/apache/pulsar/pull/17798/commits/33905b608abdd9d7d71054526e89ce04ba0759b3.

[2022-09-24 01:57] #17137 closed

[2022-09-24 07:11] JohnMops commented on #6054
Still have stalled topic issue in 2.9.2

[2022-09-24 17:27] BewareMyPower commented on #17097
I'm afraid not. You'd better use a newer Python client.

[2022-09-26 01:22] mattisonchao commented on #17824
RC: In the current implementation, we put the time check in the listener. If we can't receive any message, the `PerfClientUtils` will never exit. I think.

Would you like to fix it? @andrasbeni

[2022-09-26 01:24] mattisonchao commented on #17823
Cool and thanks!

[2022-09-26 01:27] mattisonchao commented on #17815
Thanks for your contribution!

[2022-09-26 01:34] mattisonchao commented on #17805
@tjiuming  Thanks a lot for your contribution.

[2022-09-26 01:35] mattisonchao commented on #17776
Hi @freeznet
Would you like to take a look at it?

[2022-09-26 01:37] mattisonchao commented on #17784
@leizhiyuan
Do you mean the broker can know the client-side configuration?

[2022-09-26 01:40] mattisonchao commented on #17759
After #17762 merged, I think we solved this problem, but it still has risks in the future.

[2022-09-26 01:42] mattisonchao commented on #17738
Thanks a lot for your contribution.

[2022-09-26 02:49] momo-jun commented on #17791
Closed this issue as it has been fixed through https://github.com/apache/pulsar-site/pull/219.

[2022-09-26 02:49] #17791 closed

[2022-09-26 03:40] #17817 closed

[2022-09-26 06:51] rickif commented on #1964
@wolfstudy @merlimat Hi, I've met this problem with pulsar 2.10.1. I've created a fix #17771. PTAL.

[2022-09-26 07:33] liliang950210 commented on #17097
Is there a release now? The project is about to go live. I want to try it.

[2022-09-26 07:43] BewareMyPower commented on #1964
@rickif See my comments [here](https://github.com/apache/pulsar/pull/17771#discussion_r979662754). BTW, this issue is not related to `BUILD_TESTS` option, it's related to `LINK_STATIC=ON`, but it's fixed now.

@liliang950210 It might be caused by the CMake cache, could you run the following commands instead?

[code]

[2022-09-26 07:54] andrasbeni commented on #17824
@mattisonchao, I don't think I have time this week, so if anybody else wants to take it in the meantime, I'm fine. But I might come back to fix this later.

[2022-09-26 07:54] BewareMyPower commented on #17097
@liliang950210 I'm afraid the upgrade doesn't work because the base image to build Python wheel is somehow wrong. For now, I can build a wheel for Python 3.9 for x86_64 arch for your temporary use.

@merlimat This issue is exactly what I've concerned in https://github.com/apache/pulsar/pull/17536, uploading an image manually in DockerHub is not good for maintain and the changes for Dockerfile migh

[2022-09-26 08:21] liliang950210 commented on #17097
OK, thank you very much, can give me one, I'll test it first.

[2022-09-26 09:06] leizhiyuan commented on #17784
yes

and we can include some thread info or goroutine info

[2022-09-26 09:14] BewareMyPower commented on #17097
@liliang950210 https://drive.google.com/drive/folders/10KYlvcins_cE3YEHCD7x4_UPiu0YpL02?usp=sharing

[2022-09-27 00:11] adrian-tarau commented on #17412
I would not say it is a big deal ... it's just unusual. Honestly, I used hundreds of libraries, and none of them have this file name policy in reverse. The shaded JAR has a different name, and the original JAR is based on the artifact identifier.

[2022-09-27 00:19] Shoothzj commented on #17412
I agree it's unusual. But that's a kind of breaking change. I don't think we have enough motivation to change the name.

[2022-09-27 02:14] poorbarcode commented on #17755
assign to me

[2022-09-27 02:24] #16701 closed

[2022-09-27 02:49] liangyepianzhou commented on #17774
@tisonkun I think your mind is 'deployment in containers(cluster) '

[2022-09-27 05:05] poorbarcode commented on #16980
another one:

- https://github.com/poorbarcode/pulsar/actions/runs/3129690847/jobs/5079281833

[2022-09-27 05:08] poorbarcode commented on #17713
another one:
- https://github.com/poorbarcode/pulsar/actions/runs/3129690847/jobs/5079282084

[2022-09-27 05:13] tisonkun commented on #17713
I'm working for a patch now.

[2022-09-27 05:34] lhotari commented on #14861
@zymap Is there a resolution for this issue? Would it be possible to add documentation to Pulsar for describing the way to tune Pulsar and Bookkeeper properly?

[2022-09-27 05:35] lhotari commented on #12169
@wenbingshen this seems to match the problem description of #14861

[2022-09-27 06:38] mattisonchao commented on #17824
@andrasbeni I see, thanks. I marked this PR with the `help-wanted` label.

[2022-09-27 07:39] momo-jun commented on #17113
Closed the issue since it‘s not planned. Feel free to reopen it when it's relevant.

[2022-09-27 07:39] #17113 closed

[2022-09-27 07:44] momo-jun commented on #16716
Closed the issue since it has been addressed. Feel free to reopen it when it's relevant.

[2022-09-27 07:44] #16716 closed

[2022-09-27 07:48] momo-jun commented on #14967
Closed the issue since the relevant PRs have been closed or labeled `doc-complete`. Feel free to reopen it when it's relevant.

[2022-09-27 07:48] #14967 closed

[2022-09-27 07:50] momo-jun commented on #12023
Closed the issue since the original question has been addressed. Feel free to reopen it when it's relevant.

[2022-09-27 07:50] #12023 closed

[2022-09-27 07:51] Technoboy- commented on #16571
Hi @truong-hua
The topic policy issue has been fixed. You don't need to delete it manually.

[2022-09-27 07:54] momo-jun commented on #13588
Can this [doc page](https://pulsar.apache.org/docs/next/deploy-monitoring#collect-metrics) be helpful?

[2022-09-27 08:02] momo-jun commented on #17599
@michaeljmarshall thanks. Most of the links have been working now.
@labuladong can you pls review the issue again?

[2022-09-27 08:10] lhotari commented on #17655
This issue was fixed by #17743

[2022-09-27 08:10] #17655 closed

[2022-09-27 08:11] momo-jun commented on #14042
Closed the issue since it has been tracked in https://github.com/apache/pulsar/issues/14184.

[2022-09-27 08:11] #14042 closed

[2022-09-27 08:12] labuladong commented on #17599
OK, I'll update the issue today.

[2022-09-27 08:13] lhotari commented on #17714
This appears to be a separate issue than #17655 .

The reason why this happens is simply that Mockito tracks each invocation of mocks / spies. I'll push a fix soon.

[2022-09-27 08:14] lhotari commented on #17714
Most recent example is https://github.com/apache/pulsar/actions/runs/3132961869/jobs/5086038214#step:10:1338 . Heapdump https://github.com/apache/pulsar/suites/8484248497/artifacts/377355494

[2022-09-27 08:15] #17794 closed

[2022-09-27 08:46] momo-jun commented on #13916
Closed the issue since the original request has been resolved.

[2022-09-27 08:46] lhotari commented on #17714
Analysis of stored invocations: https://gist.github.com/lhotari/520428ca36779217a633b32f105db073

[code]

with https://github.com/vlsi/mat-calcite-plugin query
[code]

[2022-09-27 08:46] #17747 closed

[2022-09-27 08:50] labuladong commented on #17824
@mattisonchao Could you please assign this issue to me? I will fix it.

[2022-09-27 09:17] #17760 closed

[2022-09-27 12:20] wenbingshen commented on #12169
@lhotari You are right, same problem.

[2022-09-27 14:54] liangyepianzhou commented on #13992
@dave2wave Do you mind adding the PULSAR_LOG_LEVEL and PULSAR_LOG_ROOT_LEVEL to the environment variable section in reference-cli-tools.md?

[2022-09-27 17:24] dave2wave opened #17860 "Add Metrics to understand Load Balancing Decisions"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

When pushing pulsar clusters to see maximum performance it is important to understand which metric is causing bundle splits and unloading. The metrics shared here:

### Solution

_No response_

### Alternatives

_No response_

### Anything else?

_No respo

[2022-09-27 20:27] #17714 closed

[2022-09-28 02:01] poorbarcode commented on #16860
https://github.com/apache/pulsar/actions/runs/3135745108/jobs/5096996875

[2022-09-28 02:08] #17186 closed

[2022-09-28 04:16] #17713 closed

[2022-09-28 10:00] #17637 closed

[2022-09-28 10:00] #17785 closed

[2022-09-28 13:19] eolivelli opened #17871 "[Bug] DLQ and BatchMessages and ConsumerInterceptor don't work well together"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.10.x (and possibly 2.11 and all of the other Pulsar versions), Java Client

### Minimal reproduce step

1. Send batch messages
2. Consume the messages, enabling DLQ, do not acknowledge the messages, set `batchIndexAckEnabled:true`
3. the ConsumerInterceptor

[2022-09-28 13:22] codelipenghui commented on #17132
@andrasbeni Most of the admin CLI integration tests are under `tests/integration/cli` and yes we already have some coverage for this part. I think we should also consider the improve the coverage for this part to avoid someone changing the output format or introducing new incompatible options. But it's not a very strong opinion, we need to maintain so many test codes in the future. WDYT?

[2022-09-28 13:35] lhotari commented on #17871
@BewareMyPower do you have some ideas to fix this issue? I wonder if this is related to #17833 which you have been working on.

[2022-09-28 13:46] BewareMyPower commented on #17871
@lhotari No. I was just revisiting the batch index ACK implementation before. But I also noticed this issue as well. It seems like when the batch index ACK was introduced, the DLQ feature has not been considered well.

[2022-09-28 15:23] congbobo184 commented on #17755
https://github.com/apache/pulsar/pull/17845 has fixed it, so closed this PR

[2022-09-28 15:23] #17755 closed

[2022-09-28 16:14] phijohns-tibco opened #17874 "Upgrade to Zookeeper 3.8.0"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

The currently shipped version of Zookeeper does not allow users to disable HTTP Track/Trace functionality. The 3.8.0 version allows this. There is no functional difference between 3.6.x and 3.8.x. That being said, this is where the fun begins. When testing

[2022-09-28 17:24] syhily opened #17876 "[Bug] TransactionCoordinatorClientImpl.start() hangs forever"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Pulsar Java Client 2.10.0
Pulsar 2.10.0

### Minimal reproduce step

Enable the transaction in Pulsar 2.10.0 docker. Create a `PulsarClient`. Then we may see the `TransactionCoordinatorClientImpl.start()` hangs and block the whole process.

### What did you e

[2022-09-28 17:59] poorbarcode commented on #17407
another one:
- https://github.com/poorbarcode/pulsar/actions/runs/3145169735/jobs/5112123882

[2022-09-28 21:00] Apurva007 opened #17878 "[Doc] Fix Admin Interface docs for Managing partitioned topics"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

The pulsar docs for updating partitioned topics states that it works only for non-global topics. This seems to be incorrect as per the below pull request:
https://github.com/apache/pulsar/pull/5306

### What is your suggestion?

[2022-09-29 00:36] tisonkun opened #17879 "[Doc] `docs` and `docs/` have different widget"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

* `docs/`:

<img width="1728" alt="image" src="https://user-images.githubusercontent.com/18818196/192912287-261f0ca1-1ac1-43e5-92bf-641ff157b6f3.png">

* `docs`:

<img width="1728" alt="image" src="https://user-images.githubuser

[2022-09-29 00:48] tisonkun commented on #16637
@momo-jun @Anonymitaet is it possible to name the doc version as `2.11` instead of `2.11.x` and ditto for the following new versions? I don't think it's a brand new proposal here but a `.x` brings unnecessary confusion from my perspective.

For example:

* https://hbase.apache.org/2.4/book.html
* https://nightlies.apache.org/flink/flink-docs-release-1.15/

I agree it's a good idea to merge patch r

[2022-09-29 01:04] tisonkun commented on #17879
Closed via https://github.com/apache/pulsar-site/commit/6da7de8d7edc2743b30f875be3be93219625b493. Thanks @urfreespace.

[2022-09-29 01:04] #17879 closed

[2022-09-29 01:54] Anonymitaet commented on #16637
@tisonkun thank you!

🔹🔹🔹

Here are some similar cases to Pulsar (use `.x` in doc management and URL)

- [Kong docs](https://docs.konghq.com/mesh/1.8.x/)
<img width="1280" alt="image" src="https://user-images.githubusercontent.com/50226895/192919817-6eccba1f-680f-46c3-9be2-462d2f9029d5.png">

- [RocketMQ](https://rocketmq.apache.org/en/docs/4.x/)
<img width="1280" alt="image" src="https://user-ima

[2022-09-29 02:57] momo-jun commented on #17878
@liangyepianzhou can you pls help double-check the issue from a technical accuracy perspective?

[2022-09-29 02:58] #15705 closed

[2022-09-29 04:33] syhily commented on #17876
Another jstack file.
[210.log](https://github.com/apache/pulsar/files/9670957/210.log)

[2022-09-29 04:41] syhily commented on #17876
@congbobo184 Can you help me find out the real cause.

[2022-09-29 06:22] #16571 closed

[2022-09-29 06:30] momo-jun commented on #17878
@Apurva007 welcome to the Pulsar community. It's a good first issue. Would you like to fix it?

[2022-09-29 06:31] Apurva007 commented on #17878
@momo-jun Thanks alot! I was trying to learn about Apache Pulsar and stumbled upon this issue. I would gladly help fix this issue. 😄

[2022-09-29 06:48] #14109 closed

[2022-09-29 08:14] thetumbled opened #17885 "[Bug] Incorrect TotalNicLimit collected by pulsar"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.11

### Minimal reproduce step

org.apache.pulsar.broker.loadbalance.LinuxInfoUtils#getTotalNicLimit
![图片1](https://user-images.githubusercontent.com/52550727/192977255-fe621470-a2a8-43b9-81e5-31fd879fc027.png)

speed value read in ```/sys/class/net/<iface>

[2022-09-29 08:37] gaurav-ashok opened #17886 "Update Schema APIs requires Tenant Admin Permissions which is a much broader than required."
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Quite recently the GET /schema API has been made to work with Topic's GET_METADATA check. The POST and DELETE still requires tenant admin validation to succeed.

Tenant Admin has a very wide capabilities where it can be used to manage & modify every namesp

[2022-09-29 08:40] syhily commented on #17876
The detailed test log is here: [mvn-1.log](https://github.com/apache/pulsar/files/9672766/mvn-1.log).

[2022-09-29 08:53] andrasbeni commented on #17132
@codelipenghui , I believe integration tests are too expensive to do a full validation of output and command line parameters. Having taken a quick look at admin command implementations and `PulsarAdminToolTest`, it looks to me that admin commands are designed to be easily unit tested: the `PulsarAdmin` can be mocked by setting a `Supplier` and `CaptureStdOut` makes their output verifiable.  So, in

[2022-09-29 09:06] #9962 closed

[2022-09-29 09:07] #17823 closed

[2022-09-29 09:08] codelipenghui commented on #17132
@andrasbeni Sound good to me.

[2022-09-29 11:47] zhanghang91 opened #17891 "[Bug]CursorNotFoundException: ManagedCursor not found: reader-1d0faf5700"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

pulsar version: 2.10.0
I had the follow problem when I clear data

ERROR:
`2022-09-29T18:16:30,763+0800 [bookkeeper-ml-scheduler-OrderedScheduler-3-0] INFO  org.apache.bookkeeper.mledger.impl.MetaStoreImpl - [pulsar_test_kp/routingdata100/persistent/__transac

[2022-09-29 12:27] zhanghang91 commented on #17891
when I delete namespace, then I got many many warnings like below:
`2022-09-29T20:08:37,224+0800 [pulsar-io-8-8] WARN  org.apache.pulsar.client.impl.BinaryProtoLookupService - [persistent://pulsar_test_kp/routingdata100/__transaction_buffer_snapshot] failed to send lookup request : {"errorMsg":"org.apache.pulsar.broker.web.RestException: Namespace not found","reqId":2386858287879233556, "remote":"

[2022-09-29 14:54] congbobo184 commented on #17876
Hi @syhily
TransactionCoordinator loadBalance base on partition topic `persistent://pulsar/system/transaction_coordinator_assign` , so when starting transaction client, make sure that partition topic `persistent://pulsar/system/transaction_coordinator_assign` has been created. Otherwise `persistent://pulsar/system/transaction_coordinator_assign` will be automatically created as Non-partition topic

[2022-09-29 15:53] #15773 closed

[2022-09-29 15:55] congbobo184 commented on #16860
https://github.com/apache/pulsar/pull/17865 has fixed it

[2022-09-29 15:55] #16860 closed

[2022-09-29 15:56] congbobo184 commented on #16863
https://github.com/apache/pulsar/pull/17865 has fixed it

[2022-09-29 15:56] #16863 closed

[2022-09-29 16:04] congbobo184 commented on #14540
https://github.com/apache/pulsar/pull/17216 has fixed it

[2022-09-29 16:04] #14540 closed

[2022-09-29 18:25] syhily commented on #17876
I don't think the end user should care about these system topic design. This should be a system topic initialization issue.

[2022-09-29 19:01] poorbarcode commented on #16538
Should we close this issue ?

[2022-09-30 01:08] Anonymitaet commented on #17896
I'll close this issue since it has been transferred to `pulsar`.
For more context, see https://github.com/apache/pulsar-site/pull/236

[2022-09-30 01:09] Anonymitaet commented on #17895
I'll close this issue since it has been transferred to `pulsar`.
For more context, see https://github.com/apache/pulsar-site/pull/236

[2022-09-30 01:27] tisonkun commented on #16637
@Anonymitaet Thanks for your information! This makes many sense.

[2022-09-30 01:44] Technoboy- commented on #17886
We have fixed this by https://github.com/apache/pulsar/pull/15956

[2022-09-30 02:34] congbobo184 commented on #17876
@syhily  What users should care about is whether the transaction is fully enabled, rather than using it when it is not fully enabled, isn't it? If there are no other issues, I will close this issue

[2022-09-30 02:42] #16538 closed

[2022-09-30 03:38] #17885 closed

[2022-09-30 04:09] HQebupt commented on #17225
@MarvinCai @congbobo184 @mattisonchao I found the failure it is due to dataProvider. I split the subscriptions into two separate data provider. It works. PTAL

[2022-09-30 17:38] jcalcote commented on #9084
Here's a possible work around for some people's use cases: https://stackoverflow.com/questions/73169813/jclouds-getbucketlocation-timeout-on-getblob/73902608#73902608

Note also that this ticket also suggests a possible general solution whereby jclouds provides a mechanism for users to pre-load the bucket-to-region LoadingCache with key/value pairs for their buckets that are in known regions. This

[2022-09-30 23:51] codelipenghui opened #17908 "Flaky-test: ManagedLedgerBkTest.verifyConcurrentUsage"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/codelipenghui/incubator-pulsar/actions/runs/3162222563/jobs/5148685244

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-10-02 05:16] Jason918 commented on #17360
FYI: 64MB is the total memory limit, not for each message.

[2022-10-03 11:38] asafm commented on #16680
What ended up with this feature?

[2022-10-03 13:27] asafm commented on #17155
The design document is written very clearly, thanks for that 💯

[2022-10-03 14:06] AnonHxy commented on #16680
There was a VOTE[1] about this PIP and end up with 1 bingding -1 and 1 non-bing +1.  So maybe this feature need more discussion or be canceled @asafm

*  [1] https://lists.apache.org/thread/21900d06plmjx23z5ww8kkqkgdlwszh5

[2022-10-03 20:56] eolivelli opened #17913 "[Bug] Deadlock while reading Schema from BookKeeper"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.10.2rc

### Minimal reproduce step

There is a combination of facts in which you can end up in a stuck broker with the main ZK client thread stuck like this:

[code]

### What did you expect to see?

the broker works

### What did you see instead?

the brok

[2022-10-04 03:32] tisonkun commented on #17724
There're still several works to complete PIP-209. For example, dangling references, release processes, and doc gen processes. I will create issues for all of them and try to pick up some.

[2022-10-04 03:33] tisonkun opened #17916 "Cleanup or migrate all reference to pulsar-client-cpp and the python client"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Subtasks of https://github.com/apache/pulsar/issues/17724.

### Solution

_No response_

### Alternatives

_No response_

### Anything else?

_No response_

### Are you willing to submit a PR?

- [X] I'm willing to submit a PR!

[2022-10-04 03:36] tisonkun opened #17917 "[Doc] Migrate C++ and Python client API docs generate process"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

After https://github.com/apache/pulsar/issues/17724 moves pulsar-client-cpp and pulsar-client-python to new repository, the original `doxygen-doc-gen.sh` and `pdoc` generation process can break.

### What is your suggestion?

We

[2022-10-04 03:38] tisonkun opened #17918 "[Doc] Update the release process about how to release C++ and Python client"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

After https://github.com/apache/pulsar/issues/17724 moves pulsar-client-cpp and pulsar-client-python to new repository, the original release process is no longer valid.

### What is your suggestion?

cc @merlimat @BewareMyPower

[2022-10-04 03:38] tisonkun commented on #17724
@merlimat please add these issues to the description as a checklist so that we can properly [track subtasks](https://docs.github.com/en/issues/tracking-your-work-with-issues/about-task-lists).

* https://github.com/apache/pulsar/issues/17916
* https://github.com/apache/pulsar/issues/17917
* https://github.com/apache/pulsar/issues/17918

[2022-10-04 06:22] #17913 closed