[2020-10-26 15:54] lhotari commented on #8307
@e-marchand-exensa yes you are right, that it should behave that way. I wasn't fully understanding how the batch receive has been implemented. I now see how it works.

The reason why the batch receive stops working is that when an unhandled exception happens in the https://github.com/apache/pulsar/blob/v2.5.2/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java#L591-L608 ,
t

[2020-10-26 16:35] codelipenghui opened #8380 "[Refactor] Introduce Policy Resolver"
**Is your enhancement request related to a problem? Please describe.**
In Pulsar, there are multiple level policies such as topic level policy, namespace level policy, broker level policy. Therefore we have to merge the different level policies. The priority is the topic level > namespace level > broker level.

The user should get the real policy that set. For example, if the broker level enables

[2020-10-26 16:49] Lanayx opened #8382 "e2e encryption for pulsar functions"
**Is your feature request related to a problem? Please describe.**
Currently functions don't provide api for uploading public/private keys for managing e2e encryption/decryption

**Describe the solution you'd like**
Most obvious solution will be to expose ICryptoKeyReader to be used on source/sink creation. Implementation should be providing public and private keys.

**Describe alternatives you've

[2020-10-26 16:56] otmanel31 opened #8383 "Multi topics subscription using topic pattern over lot of topics"
Hi,
**Describe the bug**
I'm trying start (in server side-back end) a consumer that should subscribe to a topic Pattern. This consumer should be able to handle all incoming message from all connected client ( remote client) through pulsar broker.
Until now, i worked with few remote client,  no more 50 clients and 4 topics by clients. so 200 topics.
Now, i have a lot of client (50000) * 4 = 200000

[2020-10-27 01:33] #8266 closed

[2020-10-27 02:25] wolfstudy commented on #3813
@codelipenghui This question is raised for the cgo client. In the native go client, we have used this recommended method. Given that we are temporarily giving up maintaining the cgo client, I think we can close this issue.

[2020-10-27 02:25] #3813 closed

[2020-10-27 03:38] turtleDeng commented on #8366
Thank you, everyone. I solved the problem. I need to parse the SingleMessageMetadata before the payload. If my producer is a single message, it will not add SingleMessageMetadata so it cannot be parsed. Thanks again!

[2020-10-27 03:38] #8366 closed

[2020-10-27 04:33] lhotari commented on #8383
I don't think multi topics subscription is meant to be used for thousands of topics.
It's better to [join Pulsar Slack](https://pulsar.apache.org/en/contact/) and discuss use cases and recommended solutions there, instead of creating Github issues. Please describe your use case and ask your question on Slack instead.
Since this is not a bug, please close this issue.

[2020-10-27 05:45] lhotari commented on #6231
There are some suggestions in this SO Q&A: https://stackoverflow.com/questions/55899091/maven-retry-dependency-download-if-failed .
It seems that passing `-Dmaven.wagon.http.retryHandler.count=3` would help reduce the issues when downloads are retried 3 times. One of the answers suggests passing `-Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false`, however that might have a performance impact.
I

[2020-10-27 07:23] e-marchand-exensa commented on #8307
@lhotari Thanks a lot for your answers.

So, do you think the fix on the NPE issue here may avoid the non-rescheduling or do I need to open another issue ?

[2020-10-27 09:04] lhotari commented on #6231
I ended up trying to use `-Dmaven.wagon.httpconnectionManager.ttlSeconds=25 -Dmaven.wagon.http.retryHandler.count=3` in `MAVEN_OPTS` environment variable in the PR to fix this issue. Let's see if that's effective.

[2020-10-27 09:36] lhotari commented on #6231
I now found https://issues.apache.org/jira/browse/WAGON-545 which is a close match to this issue.
In the [last comment](https://issues.apache.org/jira/browse/WAGON-545?focusedCommentId=16755035&page=com.atlassian.jira.plugin.system.issuetabpanels%3Acomment-tabpanel#comment-16755035), it says "Azure users shall set the TTL to 240 seconds or less."

[2020-10-27 09:46] lhotari commented on #8307
@e-marchand-exensa yes I believe that the issue is fixed with PR #8326 . That should be part of the 2.6.2 release.

[2020-10-27 13:47] lhotari opened #8390 "Flaky-test: InactiveTopicDeleteTest"
This is a common flaky test failure on CI:

[code]
example: https://github.com/apache/pulsar/pull/8386/checks?check_run_id=1314711141

[2020-10-27 14:23] congbobo184 commented on #8168
I did not see any error message under pulsar package and this look like use an Illegal schema name. Can you use a simple schema name and test again?

[2020-10-27 15:04] eaba commented on #8322
Hi @mingfang I don't think this has to do with Pulsar, maybe.
Pulsar just acts as the data source, Presto is responsible for executing the SQL command.
I encountered a scenario that needed the wildcard table but Presto does not yet have that feature.
A similar issue is opened [here](https://github.com/prestosql/presto/issues/4124)
You can open an issue [here](https://github.com/prestodb/presto) to

[2020-10-27 19:29] otmanel31 commented on #8383
question already asked in slack without any response. i close it as this is only a question

[2020-10-27 20:35] sijie commented on #8383
@lhotari Questions are encouraged in Github. Because they are searchable on the public internet rather than in Slack.

[2020-10-27 20:37] lhotari commented on #8383
Oh I'm really sorry about that @otmanel31 . I'm still learning the rules of Pulsar community.

[2020-10-27 21:13] gsi-gilberto commented on #4086
Well sure I would love to. Although I've never contributed to an open
source project before so I would appreciate it if you can point me in the
right direction.

On Sun, Oct 25, 2020 at 10:49 PM lipenghui <notifications@github.com> wrote:

--

*Gilberto Muñoz*
Software Engineer
General Software Inc
(+535) 515-3781 <+5354170987>
gilberto@generalsoftwareinc.com
[image: https://generalsoftwareinc.com

[2020-10-28 01:12] handywc commented on #8254
hi，I upload core-site.xml and hdfs-site.xml.
By the way, the two files is copied from my hadoop cluster.

[hdfs-site&core-site.zip](https://github.com/apache/pulsar/files/5448931/hdfs-site.core-site.zip)

[2020-10-28 01:58] congbobo184 commented on #8254
can you add the hadoop.tmp.dir = /tmp/bar configuration in core-site.xml and test again?

[2020-10-28 01:59] congbobo184 commented on #8254
@handywc can you add the hadoop.tmp.dir = /tmp/bar configuration in core-site.xml and test again?

[2020-10-28 02:09] handywc commented on #8254
hi，thanks for your reply.
I add the hadoop.tmp.dir = /tmp/bar configuration in core-site.xml and test again, but still like before.
![image](https://user-images.githubusercontent.com/25581080/97382027-641bb380-1905-11eb-9def-363133f5fd91.png)

[2020-10-28 02:28] congbobo184 commented on #8254
@handywc the fs.defaultFS configuration in your core-site.xml is hdfs://dims32, should we add the port for this? like hdfs://dims32:port

[2020-10-28 05:58] codelipenghui commented on #8390
close by #8392

[2020-10-28 05:58] #8390 closed

[2020-10-28 07:29] handywc commented on #8254
I add the port, but still like before.
![image](https://user-images.githubusercontent.com/25581080/97405161-2ed98a80-1932-11eb-8490-a9e888e98299.png)

[2020-10-28 07:30] handywc commented on #8254
![image](https://user-images.githubusercontent.com/25581080/97405335-7102cc00-1932-11eb-9e0d-83e1f8f3da26.png)

[2020-10-28 07:31] handywc commented on #8254
I add the port, but still like before.
![image](https://user-images.githubusercontent.com/25581080/97405415-9394e500-1932-11eb-9ade-5a6faacc30f3.png)

[2020-10-28 07:36] congbobo184 commented on #8254
@handywc can you change the config hadoop.tmp.dir = tmp/bar and change the directory = tmp/bar?

[2020-10-28 08:06] handywc commented on #8254
Thank you for your patience.
I change the setting, but it's not ok.
![image](https://user-images.githubusercontent.com/25581080/97408777-8d553780-1937-11eb-956a-aa4b9d3e403c.png)

[2020-10-28 08:08] Jennifer88huang commented on #7372
@ErikJansenIRefact I've submitted a PR in #8397, could you please help review it? Any issue, feel free to comment, thank you.

[2020-10-28 08:50] #8176 closed

[2020-10-28 08:53] #8220 closed

[2020-10-28 09:27] congbobo184 commented on #8254
@handywc I think the pulsar01 don't have core-site.xml, so it will work by local file system.  may be you should copy the core-site.xml to pulsar01. You can try and I don't know if that's true. and then  I look up the code, if you set hadoop.tmp.dir = /tmp/bar and the directory should be "", you can choose one.

[2020-10-28 09:35] #8364 closed

[2020-10-28 09:55] jianyun8023 opened #8400 "[doc] The command bin/pulsarctl cannot be used in the offloader document"
**Describe the bug**
The command bin/pulsarctl cannot be used in the offloader document.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://pulsar.apache.org/docs/en/next/tiered-storage-filesystem/#example-2'
2. The command `bin/pulsarctl`  cannot be found in the PULSAR_HOME/bin

[2020-10-28 14:44] hozumi commented on #6163
I'm hitting the same problem right now on a production cluster of 5 bookie node.
Is there a way to speed up the rereplicatation process?

- decommissionbookie command log

[code]

- a bookie log

[code]

[code]

Pulsar docker image version: `apachepulsar/pulsar-all:2.5.2`
BookKeeper docker image version: `apachepulsar/pulsar-all:2.5.2`

[2020-10-28 15:56] #8354 closed

[2020-10-28 23:54] MaitreyaBuddha commented on #8215
Awesome, thanks for clearing that up @lhotari

[2020-10-28 23:54] #8215 closed

[2020-10-29 02:21] #8311 closed

[2020-10-29 05:51] handywc commented on #8254
@congbobo184 The pulsar01 doesn't have the core-site.xml. It writes to hdfs after when I copy the file to pulsar01.
Thank you.
But I have another questions.
![image](https://user-images.githubusercontent.com/25581080/97530487-3ad65280-19ed-11eb-9824-74b08032d472.png)
I set the configuration of syncinterval and maxpendingrecords, but it doesn't seem to work.
I produce five messages
![image](https:/

[2020-10-29 08:55] premforgame commented on #8168
@congbobo184  the issue unable to list schemas in pulsar sql using the command `show schemas in pulsar`;`
Not sure, your question was addressed to reporter or for other

[2020-10-29 10:15] marksilcox opened #8407 "Metrics are not grouped by type"
**Describe the bug**
When calling the metrics endpoint I would expect them to be grouped by type. However, some metrics are grouped under the incorrect type header

**To Reproduce**
Steps to reproduce the behavior:
1. Run Pulsar v2.6.0
2. Fire some messages to topics
3. Access metrics endpoint
4. See error

**Expected behavior**
All metrics are grouped appropriately.

**Screenshots**
![image](http

[2020-10-29 14:39] MarvinCai commented on #8383
can you share debug level client side log?
and it'll be better if you can also provide server side log to help diagnosing

[2020-10-29 16:34] gaoran10 commented on #8168
This issue will be fixed in the next release, please refer to the issue https://github.com/apache/pulsar/issues/7888, and this issue was fixed by the PR https://github.com/apache/pulsar/pull/7898.

[2020-10-29 18:55] jianyun8023 commented on #8009
@codelipenghui pr #8143 has solved the NumberException problem. The current question is whether to close or newly open Function to support the multiple service url address.

[2020-10-29 19:52] david-streamlio opened #8408 "Add test coverage for the Pulsar IO Batch connectors"
**Is your enhancement request related to a problem? Please describe.**
The Pulsar Batch IO classes do not have any unit tests for them

**Describe the solution you'd like**
I will be adding some unit tests for these classes

**Describe alternatives you've considered**
Not implementing unit tests.

**Additional context**
N/A

[2020-10-30 01:40] zymap commented on #7390
Already fixed by #7898. close this issue.

[2020-10-30 01:40] #7390 closed

[2020-10-30 04:30] codelipenghui commented on #8378
close via #8347

[2020-10-30 04:30] #8378 closed

[2020-10-30 07:46] #8214 closed

[2020-10-30 10:04] lhotari commented on #6259
I was running into some issues where there were timeouts in the Pulsar client application logs. The Pulsar brokers were restarting. This was happening in a load test and it seemed that the broker restarts made the problem worse.

To mitigate the issue, the brokers were recently configured to use zookeeperSessionExpiredPolicy=reconnect setting. The broker zookeeper timeout related settings are at t

[2020-10-30 10:14] lhotari commented on #6251
Some of the Zookeeper related issues in the broker might get fixed by #8406 . I documented my experiences in https://github.com/apache/pulsar/issues/6259#issuecomment-719460964 . I haven't yet tested the fix since it was done about 24 hrs ago.

[2020-10-30 14:34] #4635 closed

[2020-10-30 15:40] jiangmincong opened #8414 "After the bookie service goes down, the broker will go down accordingly"
**Describe the bug**
A clear and concise description of what the bug is.
After the bookie service goes down, the broker will go down accordingly
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
[pulsar-bookie-jxnc-bd-olmc-001.zip](https://github.com/apache/pulsar/files/5466079/pulsar-bookie-jxnc-bd-olmc-001.zip)
[pulsar-broker-jxnc-bd-olm

[2020-10-30 23:24] Redirts opened #8417 "Producer Consumer design"
I am looking for advice on how the following problem is handled in solutions that use Pulsar.

The scenario is: A producer is sending messages (in JSON) and the consumer is taking them and inserting data into database tables (specified in the message).

Suddenly the producer changes the structure of the data sent in the messages (let's say because the table structure in the database has a new colu

[2020-10-31 00:19] uatach commented on #5350
I've seen this error, I mixed topics and ended up setting the serde input on a topic that had an avro schema.

[2020-10-31 03:00] wolfstudy commented on #7455
It seems that #8292 has solved this problem, let us consider closing this issue.

[2020-10-31 03:00] #7455 closed

[2020-10-31 03:00] wolfstudy commented on #6554
It seems that #8292 has solved this problem, let us consider closing this issue.

[2020-10-31 03:00] #6554 closed

[2020-10-31 03:03] wolfstudy commented on #8121
@hangc0276 What is the current status of this issue? Has pr fixed this problem?

[2020-10-31 03:06] wolfstudy commented on #8121
Move this issue to 2.7.0.

[2020-10-31 03:06] wolfstudy commented on #7804
Move this issue to 2.7.0.

[2020-10-31 03:07] wolfstudy commented on #7395
Move this issue to 2.7.0.

[2020-10-31 03:07] wolfstudy commented on #6869
Move this issue to 2.7.0.

[2020-11-01 21:56] alexku7 opened #8419 "multiple pulsarAdmin.topics().grantPermission calls created excessive transactions on the zookeepers"
Hello
Recently we started to implement the fine  grained permissions to the topics.

We wrote simple java program which is calling to the pulsarAdmin.topics().grantPermission

Unfortunately after running the program for defining the permissions over few thousands topics (3.5k topics and 2-3 calls for each topics for consume and produce role) we realized that the zookkeeper start to suffer from hug

[2020-11-02 01:00] codelipenghui commented on #8419
@alexku7 The broker will call `getData` and `setData` for each `grantPermission` operation. If you have 3.5 topics and 2-3 calls for each topic. I think this will introduce almost 10,000 operations on the zookeeper, does this match your zookeeper's index?

[2020-11-02 01:12] codelipenghui commented on #8417
There is a build-in schema registry in Pulsar. You can update your schema when the database schema is changed. From the consumer side, you can get the schema version of the schema. For example, the schema version changes from 1 to 2, this means version 1 is the old data structure and version 2 is the new data structure. So that you can make make a decision according to the different schema version

[2020-11-02 01:17] codelipenghui commented on #8414
@jiangmincong From you bookie log and broker log, I think the problem is the session expire on zookeeper, could you please share the zookeeper status?

[2020-11-02 01:24] codelipenghui commented on #8407
@marksilcox The broker just expose the Prometheus formatted metrics, if you want to do some aggregate calculations, it's better to achieve at the Prometheus.

[2020-11-02 01:36] codelipenghui commented on #8419
@alexku7 Is the 3.5k topics is 3.5k partitioned topics or 3.5k partitions?

[2020-11-02 01:45] ndr-thitinan opened #8420 "Pulsar Proxy caught exception"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up/Run the Pulsar Proxy outside the proxy
2. Set up the Pulsar Proxy inside the proxy
3. Allow ACL for 6650, 6650, 8080, 8443
4. Tested the pulsar-client from the Pulsar Proxy to the Pulsar Broker: Success for both producer/consumer
5. Run the Pulsar Proxy
6. Test usin

[2020-11-02 02:26] jiangmincong commented on #8414
[pulsar-bookie-jxnc-bd-olmc-012.log](https://github.com/apache/pulsar/files/5472339/pulsar-bookie-jxnc-bd-olmc-012.log)
[zk_log.zip](https://github.com/apache/pulsar/files/5472340/zk_log.zip)
[bookkeeper.conf.txt](https://github.com/apache/pulsar/files/5472346/bookkeeper.conf.txt)
[broker.conf.txt](https://github.com/apache/pulsar/files/5472347/broker.conf.txt)

This is my zk log and the bookie lo

[2020-11-02 03:27] congbobo184 opened #8421 "[Transaction] Pending ack server follow-up work"
link #8256
1. add the logic for ack List<MessageId> for transaction
2.delete pending ack message from consumer in server

[2020-11-02 08:01] marksilcox commented on #8407
@codelipenghui I am not wanting to aggregate. As you can see from the screenshot, some metrics are not being grouped under their `# TYPE` header. See `# TYPE pulsar_msg_backlog gauge` header, under that I can see 9 other metrics not related to that header. This happens in a few other places and metrics are scattered across the output.

[2020-11-02 08:21] freeznet opened #8425 "[pulsar-function-go]add secrets provider for golang function"
**Is your enhancement request related to a problem? Please describe.**
currently go function do not have secrets provider implemented. for Java and Python functions, we already have secrets providers implemented, such as `EnvironmentBasedSecretsProvider` and `ClearTextSecretsProvider`.

this enhancement is also mentioned in https://github.com/apache/pulsar/pull/8352 and https://github.com/apache/p

[2020-11-02 08:53] firefeifei commented on #7327
#0  0x0000000000c3ba64 in boost::asio::detail::task_io_service::wake_one_thread_and_unlock(boost::asio::detail::scoped_lock<boost::asio::detail::posix_mutex>&) ()
#1  0x0000000000e5902e in boost::asio::detail::task_io_service::init_task (this=0x7f75200022c0) at /usr/local/include/boost/asio/detail/impl/task_io_service.ipp:130
#2  0x0000000000e590e0 in init_task (this=<optimized out>) at /usr/local

[2020-11-02 08:55] firefeifei commented on #7327
Hello， sijie
Basic function debugging, connect pulsar coredump

[2020-11-02 09:45] BewareMyPower commented on #7327
From the stack we can see the segmentation fault was caused by `boost::asio::ip::tcp::socket`'s constructor. I found some similar issues:
- https://stackoverflow.com/questions/45923885/boost-asio-io-service-multiple-objects-from-multiple-source-files-threads-cras
- https://github.com/mostphotos/beanstalkpp/pull/6

Could you give the version of boost dependencies by `ldd libpulsar.so`?

[2020-11-02 10:15] alexku7 commented on #8419
@codelipenghui  Something about 3.5k partitioned topics with 3 partitions  for each.
So i guess it will be 10.5k calls ?

For each partitions we have few sets of permissions (consume, produce or both)

So, I understand that it's normal to "kill" 40 gb disk space by  this load ?

Btw, what do you mean "zookeeper's index"
Assume.  I put large disks, how can i improve the zookeepers performance in or

[2020-11-02 10:37] losiu97 commented on #8298
Hi, sorry i missed your reply. I found a way of fixing it for myself, but we could change the default format to
%d{YYYY-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n

[2020-11-02 12:03] firefeifei commented on #7327
1.54.0
link use static lib

[2020-11-02 14:55] Redirts commented on #8417
Thank you for the comment.
What you describe makes total sense.

My idea would be that the consumer does not need to be upgraded since it will just read the metadata inside the message and know what the tablename, structure and data he needs to write to.

From what I read, pulsar currently does not support multiple schemas on a topic so I would need to have one topic per domain of data produced.

[2020-11-02 17:37] robshep opened #8429 "Cannot parse <null> schema"
**Describe the bug**

Reconnecting an updated consumer application that had NOT changed any of the following:

* Any connection or topic details
* Any message object details used to generate the AvroSchema

This system was restarted from an update of application code unrelated to pulsar handling, and has two consumers.
At first both consumers were failing but after a restart one is OK and the othe

[2020-11-02 17:42] gaoran10 commented on #8168
I think this issue could be closed.

[2020-11-02 18:20] geomagilles opened #8430 "Custom SchemaReader/SchemaWriter are not working for Avro schemas"
**Describe the bug**
When using `Schema.AVRO(mySchemaDefinition)` custom SchemaWriter/SchemaReader provided in `mySchemaDefinition` are not used even if present in `mySchemaDefinition`.

The use case is to be able to serialize/deserialize Kotlin data classes using avro4k package by providing custom Avro reader/writer.

**Expected behavior**
This could work
[code]

**Additional context**
Apparently

[2020-11-02 18:28] nlu90 opened #8431 "Adding document for e2e encryption pulsar functions"
**Is your feature request related to a problem? Please describe.**
Document work for #8382 and PR #

**Describe the solution you'd like**
Adding related document for the new e2e support

[2020-11-02 19:12] alexku7 commented on #8419
Good explanation for this issue on the slack from @addisonj

Addison Higham  2 hours ago
is this in a single namespace? if so, then the reason for this is because it is all stored in single document, and because of the way the transaction log works, you are going to see a lot of churn with continuing to add to a single big document.
First off, what is the use case you are trying to solve for? Are

[2020-11-02 19:13] alexku7 commented on #8419
So I believe  , this is bad combination of the permissions storing model in the zookeeper with our per-topic RBAC design :(

[2020-11-02 21:11] devinbost opened #8433 "Issues producing to Pulsar"
We're seeing issues with producing to one of our clusters running Pulsar 2.4.0.
The chart below shows the occurrences of errors producing to the cluster.
![image](https://user-images.githubusercontent.com/7418031/97919321-d3821080-1d14-11eb-9930-b607f15d565d.png)

While looking through the logs, we see:

org.apache.pulsar.broker.loadbalance.impl.LeastLongTermMessageRate - Broker x is overloaded

o

[2020-11-03 01:19] devinbost opened #8435 "GCP Tiered Storage org.jclouds.rest.ResourceNotFoundException - Pulsar 2.6.1"
I have a heartbeat topic that receives messages on the topic `persistent://public/default/canary`, and I configured retention on this topic to test tiered storage in GCP. When I manually trigger offloading from the topic, I get the error `java.util.concurrent.CompletionException: org.jclouds.rest.ResourceNotFoundException: Not Found`, as shown below:

`bin/pulsar-admin topics offload --size-thresh

[2020-11-03 01:26] devinbost commented on #8435
FYI @david-streamlio

[2020-11-03 01:32] wolfstudy commented on #8400
Yes, maybe we need to remove `pulsarctl` from Apache Pulsar docs, @Jennifer88huang @Huanli-Meng please help to check?

[2020-11-03 01:41] devinbost commented on #8435
Could the bucket path be incorrect? Perhaps it doesn't like the prefix.

[2020-11-03 02:03] devinbost commented on #8435
I removed the "gs://" prefix from the bucket name in broker.conf, and the issue was resolved.

[2020-11-03 02:26] Huanli-Meng commented on #8400
@wolfstudy , OK, will update the doc accordingly.

[2020-11-03 02:59] codelipenghui commented on #8419
@alexku7 Yes, currently all permissions of the topic are stored in a zookeeper znode. There are 2 ways to change the situation:

1. Use multiple znodes to store permissions of the topics under the namespace(split by the hash of the topic name)
2. Use system topic to store the namespace policy, currently, we already use the system topic to store the topic level policy. So, this is a more elegant wa

[2020-11-03 03:43] Jennifer88huang commented on #8431
@nlu90 thanks for raising the issue.

[2020-11-03 05:05] bigbang489 commented on #8359
I close this issue because I found a workaroud for this

[2020-11-03 05:05] #8359 closed

[2020-11-03 09:30] alexku7 commented on #8419
@codelipenghui  What do you mean "system topic" ?

[2020-11-03 18:52] vaihtovirta commented on #8216
Hey @flowchartsman
I added user config support in my PR some time ago https://github.com/apache/pulsar/pull/8290
Have you checked if this solves the issue?

[2020-11-03 23:06] rivernate opened #8439 "Include MD5 hash for server side validation when offloading ledgers"
**Is your enhancement request related to a problem? Please describe.**
It doesn't appear that we currently include the `Content-MD5` when we upload the ledgers using JCloud. While we haven't seen any corruption from offloading so far, it would be nice to send the `Content-MD5` so that services that support validation could check the integrity of the upload

**Describe the solution you'd like**
Loo

[2020-11-03 23:51] rivernate opened #8440 "pulsar-admin cli namepsace offload policy labels deletion lag incorrectly"
**Describe the bug**
When using the pulsar-admin cli tool to set an offload policy for a namespace, the deletion lag setting is labeled as "offloadAfterElapsedInMillis" and the documentation for the command describes it as setting the amount of elapsed time before an offload happens. What it actually sets is the deletion lag for the namespace

**To Reproduce**
Steps to reproduce the behavior:
1. U

[2020-11-04 01:08] codelipenghui commented on #2688
All topic policies are ready for 2.7.0. Thanks to all contributors work together to complete the great feature.

[2020-11-04 01:08] #2688 closed

[2020-11-04 01:11] 315157973 opened #8441 "Residual of inactive partitioned-topic cleaning"
**Describe the bug**
When `inactivityMonitor` clean inactive partitioned-topic, the node in ZK is not deleted

**To Reproduce**
Steps to reproduce the behavior:
1. Create a partitioned-topic
2. Turn on automatic cleanup of inactive topics
3. Waiting for automatic cleanup
4. Execute `admin.topics().getPartitionedTopicList`, the topic still exists

**Expected behavior**
The topic is not exists

[2020-11-04 01:15] #4641 closed

[2020-11-04 01:25] codelipenghui commented on #5270
@merlimat @jerrypeng Any update on this issue? Looks it has been a long time.

[2020-11-04 01:29] codelipenghui commented on #6257
The broker interceptors is already released at 2.6.0, so close this issue

[2020-11-04 01:29] #6257 closed

[2020-11-04 01:30] codelipenghui commented on #6257
https://github.com/apache/pulsar/pull/7143

[2020-11-04 01:38] wolfstudy opened #8443 "Improve branch-2.6 action CI"
**Is your enhancement request related to a problem? Please describe.**

In the current branch-2.6 branch, some test cases are difficult to pass in action CI, but these test cases can be passed multiple local verifications. This may be caused by ignoring the flaky test and not including cherry-pick in the pull request of cherry-pick 2.6.2.

**Describe the solution you'd like**
A clear and concise d

[2020-11-04 02:49] codelipenghui commented on #6929
@wolfstudy Could you please take a look at this issue?

[2020-11-04 05:15] lhotari opened #8445 "Building Pulsar (incl. docker images) from source with Java 9+ (Java 11, Java 15, etc.) causes silent NoSuchMethodErrors at runtime"
Building Pulsar (incl. docker images) from source with Java 11 causes silent NoSuchMethodErrors at runtime

**To Reproduce**
Steps to reproduce the behavior:

Use Java 11.
Then, compile v2.6.2-candidate-1 docker images locally:
[code]

Start pulsar in docker
[code]

Compile & run this Pulsar code with required libraries:

[code]
The producer never gets created and it times out.

What happens on a

[2020-11-04 05:21] lhotari commented on #8445
@eolivelli I noticed that you had done some changes to allow compiling with JDK 14+. Have you come across the ByteBuffer incompatibilities?

[2020-11-04 06:54] wolfstudy commented on #8445
This problem should not only exist in 2.6.2, but it should also be a master problem, @zymap helped to verify the logic with JDK 1.8, it seems that everything is OK. It looks like we need to support different JDK versions to build Apache Pulsar.

[2020-11-04 07:32] MarvinCai commented on #8308
@kent-crypto Is it possible that we just use consumer.[pause](https://pulsar.apache.org/api/client/)() to stop receiving message from broker and process/ack outstanding messages before closing the consumer. Sounds to me that can also achieve what you describe.

[2020-11-04 07:45] eolivelli commented on #8445
@lhotari
my efforts about building with JDK14+ are about using JDK14 for development,
if you build it with JDK>8 you cannot run with JDK8.

We should add maven.compiler.release=8 in our pom.xml, it must be done in a profile activated when you are on jdk9+, it is a quite easy fix.

that's a very common problem:
java.lang.NoSuchMethodError: java.nio.ByteBuffer.rewind()Ljava/nio/ByteBuffer;

[2020-11-04 07:51] #7372 closed

[2020-11-04 09:16] codelipenghui commented on #7195
@hangc0276 Are you working on implement this fix?

[2020-11-04 09:20] lhotari commented on #8445
@eolivelli I think it would be valuable. It's easy to miss that you must compile Pulsar with Java 8 since the compilation passes without errors and even at runtime the errors are swallowed and not logged (at least in this particular case). Very hard to debug.

[2020-11-04 09:22] eolivelli commented on #8445
I guess that if you build with JDK14+ and you run everything on JDK14+ you won't hit problems.
probably you are not going to run Pulsar on JDK8, as newer JVMs are generally (I don't want to start a discussion now) more efficient and provide better performances.

In BK community we are switching to JDK11+ (but still next release will work on JDK8)

[2020-11-04 09:32] codelipenghui commented on #7349
@wolfstudy Please help check if this issue is fixed in `branch-2.6`

[2020-11-04 09:32] codelipenghui commented on #7348
@wolfstudy Please help check if this issue is fixed in `branch-2.6`

[2020-11-04 09:33] codelipenghui commented on #7352
@Jennifer88huang Any update on this issue?

[2020-11-04 10:10] codelipenghui commented on #7742
@wolfstudy Are you interested in working on this issue?

[2020-11-04 10:16] codelipenghui commented on #7825
Close by https://github.com/apache/pulsar/pull/8087

[2020-11-04 10:16] #7825 closed

[2020-11-04 10:54] wolfstudy commented on #7349
Yes, in `branch-2.6`, the `testNamespaceBundleOwnershipListener` can pass.

[2020-11-04 12:29] codelipenghui commented on #7935
close by https://github.com/apache/pulsar/pull/8143

[2020-11-04 12:29] #7935 closed

[2020-11-04 13:47] Jennifer88huang commented on #7352
@codelipenghui thanks for your reminder. I've fixed in the latest doc, and we'll close this issue after syncing the updates in different versions.

[2020-11-04 14:36] hadesy opened #8449 "Pulsar CDC io.netty.util.internal.OutOfDirectMemoryError"
**Describe the bug**
We create debezium source in the kubernetes cluster,the error on the broker is:

[code]

**To Reproduce**
Steps to reproduce the behavior:

1.Create a cluster
`helm upgrade --install pulsar pulsar`

2.Create a task
[code]
3. OOM
![1](https://user-images.githubusercontent.com/6346047/98123275-9a9c9400-1eec-11eb-8a31-5f5fc05dc6f8.jpg)

[2020-11-04 21:00] robshep commented on #8429
A log file showing the same issue encountered just now.

A restart of the application recovered, but seemingly wasn't able to recover itself.

[thingping.log](https://github.com/apache/pulsar/files/5490475/thingping.log)

[2020-11-05 01:14] wolfstudy commented on #7742
Sure, will try to process it.

[2020-11-05 01:15] wolfstudy commented on #7348
Yes, the flaky test can work in `branch-2.6`.

[2020-11-05 04:03] ndr-thitinan commented on #8420
I found the problem.

Because the Pulsar server using the standalone mode, the advertisedAddress= inside the conf/standalone.conf file needed to be set. After setting this the exception is gone.

[2020-11-05 04:03] #8420 closed

[2020-11-05 09:50] codelipenghui commented on #8340
@murong00 If users disabled the topic auto-creation or subscription auto-creation. Users should create a Topic or Subscription for perf test, any reason for introducing new options in #8342?

[2020-11-06 00:56] codelipenghui commented on #8449
@hadesy Which Pulsar version are you using? we have added the publish buffer limitation `maxMessagePublishBufferSizeInMB` for the broker in 2.5.1. If you are using an old version, you can try to add system.d for the broker, Or you can try to upgrade the broker version to the last release.

[2020-11-06 01:00] codelipenghui commented on #8440
@rivernate Could you please provide the version information of the Pulsar broker and pulsar-client-admin?
@gaoran10 Could you please help take a look at this issue, seems we have already fixed in the master branch, please help double-check.

[2020-11-06 01:39] hadesy commented on #8449
@codelipenghui 2.6.1

[2020-11-06 01:46] codelipenghui commented on #8449
@hadesy ok, could you please provide the persistent policy(EnsembleSize, WriteQuorum, AckQuorum)? Currently, if the AckQuorum < WriteQuorum and there is one bookie always in the slow write state, this might cause the buffer can't release quickly.

[2020-11-06 01:57] devinbost opened #8457 "Updating Helm chart to support GCP cert provider for TLS"
In most production environments, using self-signed certs is not acceptable for TLS. Certs are expected to be backed by a CA for security reasons. It appears that the Pulsar Helm charts currently only support self-signed certificates.
The doc https://pulsar.apache.org/docs/en/helm-overview/ seems to suggest that the Helm chart also supports Let's Encrypt, but the Helm chart template appears to only

[2020-11-06 02:51] codelipenghui commented on #8439
@rivernate Are you interested in implementing this feature? I think we can add a config in the broker.conf to enable or disable the Content-MD5 for the ledger offload.

[2020-11-06 02:53] codelipenghui commented on #8435
@devinbost Seems we should clarify it in the document, are you interested in fix it?

[2020-11-06 03:04] codelipenghui commented on #8430
@congbobo184 Could you please take a look at this issue?

[2020-11-06 03:08] codelipenghui commented on #8429
@robshep Could you please provide more information about the schema configuration? Which schema compatibility policy are you using? how the schema of the topic looks like now(You can use the pulsar-admin schemas to get the current schema of the topic)

[2020-11-06 03:09] codelipenghui commented on #8425
@wolfstudy Could you please help take a look at this feature?

[2020-11-06 03:12] codelipenghui commented on #8419
@alexku7 It's an internal topic in a namespace. We can store some configurations in the system topic such as the topic policy configurations. After the broker startup, we can recover the configurations from the system topic. And the system topic is a compacted topic, it will only retain the last value of a key, the old values of the key will be deleted automatically.

[2020-11-06 03:16] codelipenghui commented on #8417
@Redirts

We have already support multiple schemas on a topic and support one schema compatibility policies on a topic. For more detailed, you can see http://pulsar.apache.org/docs/en/schema-evolution-compatibility/ and https://github.com/apache/pulsar/pull/3876

[2020-11-06 03:20] codelipenghui commented on #8457
@devinbost Is it better to move this issue to https://github.com/apache/pulsar-helm-chart/issues? We have moved all helm charts to https://github.com/apache/pulsar-helm-chart/issues

[2020-11-06 03:21] codelipenghui commented on #8400
@Huanli-Meng Any update on this issue?

[2020-11-06 03:22] Huanli-Meng commented on #8400
still working on it and will summit a PR by the end of today. Thanks.

[2020-11-06 04:38] Esakkimuthu991 opened #8459 "Converting Schema from STRING to JSON not working in pulsar function"
**I have a pulsar function, which will process the incoming STRING message convert it to JSON schema and publish it to output topic. Then pulsar sink will process it and saving into postgres db.**

Implementation for the pulsar functions
`context.newOutputMessage({pulsarsinkinputtopic}, Schema.JSON(POJO.class)).value().sendAsync();`

**To Reproduce**
Steps to reproduce the behavior:
1. create a pu

[2020-11-06 05:01] #7949 closed

[2020-11-06 05:45] #8079 closed

[2020-11-06 06:38] Jennifer88huang commented on #7352
From the Pulsar doc side, we've removed the deprecated content. There is sth wrong with the algolia search, and I've reported an issue in https://github.com/algolia/docsearch-configs/issues/2725. So we can close this issue.

[2020-11-06 06:39] #7352 closed

[2020-11-06 07:26] hadesy commented on #8449
@codelipenghui We use the default policy in helm chart:
[code]

[2020-11-06 08:08] murong00 commented on #8340
@codelipenghui I agree with you, however,  when `--num-topics` or `--num-consumers` is larger than one current `--topic` and `--subscription`(whose size are not allowed to be greater than one) are regarded as a prefix and topics and subscriptions prefixed with this are auto-created.  If we fix it by allowing multi topis/subs, I think it is a break change, what's more, how do users decide whether t

[2020-11-06 09:37] codelipenghui commented on #8340
@murong00 I think we can check if the specified topic name and subscription name is already created, if created we should use the existing topic and namespace directly, if not we should create new topics and subscriptions as expected. I think it's more clear for users(Pulsar client also following this pattern).

[2020-11-06 13:17] congbobo184 commented on #8430
@geomagilles  #8464 this PR add the support of avro schema user define reader and writer and add a interface to handle the multi version schema. you can define the reader and writer by yourself.

[2020-11-06 13:48] BewareMyPower commented on #7327
I've reproduced it with boost 1.54.

[code]

The output:

[code]

Not sure whether it's the same issue. Or it's just because boost version is too low. I'll look into the issue later.

[2020-11-06 16:23] robshep commented on #8429
Thank you,

I'm afraid I don't know how to get the schema compatibility policy of a topic - please can you advise.  I don't see a cli command to show this)

On the few occasions this has happened, it typically works OK after restarting the application.
On once occasion it has failed to recover so I used a fresh broker cluster.  (in testing environment so no data lost)

You can see in the original

[2020-11-06 17:20] sijie opened #8466 "[Doc] How to configure CL tools to use OAuth2 authentication"
*Motivation*

http://pulsar.apache.org/docs/en/security-oauth2/ doesn't provide any instructions on how to configure CLI tools (pulsar-admin, pulsar-client and pulsar-perf) to use OAuth2 authentication.

[2020-11-06 23:12] premforgame opened #8469 "Unable to create pulsar function with --window-length-duration-ms or --window-length-count"
**Describe the bug**

There are two ways to develop a custom pulsar function. 1.) by implementing interface Function 2.) by implementing WindowFunction.

Custom pulsar function that is developed using interface Function has a null issue When we try to create function  with options --window-length-duration-ms or --window-length-count.
This issue observed in Pulsar version:2.6.1 and Pulsar version-a

[2020-11-07 01:56] #8012 closed

[2020-11-07 02:02] codelipenghui commented on #8449
@hadesy From your dashboard, the max direct memory is 5GB but from your configData, the max direct memory size is 256MB, I'm not sure if the config data is applied correctly.

Anyway, Can you share the log of your broker? I want to check if there some other error logs excepts the oom log, maybe that would be some clues cause the ByteBuffer not properly released

[2020-11-07 02:07] codelipenghui commented on #8429
@robshep Thanks, seems the schema definition is not the problem, I think maybe the problem is the reader cache in the StructSchema.
@congbobo184 Could you please help take a look at this issue?

[2020-11-07 02:11] codelipenghui commented on #8459
@Esakkimuthu991 Could you please provide the detailed stacktrace of the class not found exception? This is very useful for troubleshooting the problem.

[2020-11-07 02:15] codelipenghui commented on #8469
@premforgame Is the generated jar is a fat jar? And is there any more detailed error logs in the function worker or function?  Through your screenshot, there is no detailed information. If you can get more error logs, this will help us to find the problem, Thanks.

[2020-11-07 03:21] jiazhai opened #8471 "admin command `ns-isolation-policy brokers` leak handling "isPrimary""
**Describe the bug**
command `bin/pulsar-admin ns-isolation-policy brokers` not handled the "isPrimary" parameter. and caused always "false" output

![image](https://user-images.githubusercontent.com/6348208/98430675-35ae8d00-20ea-11eb-85ce-32d1a394d5fa.png)

[2020-11-07 06:22] hadesy commented on #8449
@codelipenghui We only modified PULSAR_MEM
`-Xms2048m -Xmx2048m -XX:MaxDirectMemorySize=5000m`
We also checked the broker log and there were no more errors and this is a new cluster,I think it can be easily reproduced

[2020-11-07 06:47] codelipenghui commented on #8449
@hadesy Ok, you can send the whole broker log here when the oom occurs. This will help to troubleshoot the problem.

[2020-11-08 03:34] Jennifer88huang opened #8477 "[docs] Duplicate info of using C++ in Pulsar"
**Describe the bug**
There are duplicated info of using C++ in Pulsar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://pulsar.apache.org/docs/en/next/client-libraries-cpp and https://pulsar.apache.org/docs/en/next/develop-cpp/
2. Some info are duplicate and distributed, we should integrate info and put info users care together, which is user-friendly

[2020-11-08 08:32] MarvinCai commented on #2211
I think the feature requested for able to ask message(s) to be redelivered with certain delay is supported by this pr: https://github.com/apache/pulsar/pull/6449.
Can just close this one.

[2020-11-08 08:45] #8382 closed

[2020-11-08 09:21] geomagilles commented on #8430
@congbobo184 Thx! I'm not able to run the PR myself as I do not manage yet to run Pulsar from sources - but it seems good to me.

Note: I'm not sure how to handle schema version and use getSchemaReaderBySchemaInfo - can you please point me to the documentation?

[2020-11-08 09:29] MarvinCai commented on #1190
can be close via https://github.com/apache/pulsar/pull/7131

[2020-11-08 12:33] BewareMyPower commented on #8254
@handywc see https://stackoverflow.com/questions/32231105/why-is-hsync-not-flushing-my-hdfs-file

The default HDFS sink doesn't specify the `UPDATE_LENGTH` flag to update the metadata of namenode, see https://github.com/apache/pulsar/blob/d7f65451dadc573fc2bb75dbb03cce705ed04d0a/pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/HdfsSyncThread.java#L73

[2020-11-08 19:49] tomas-c opened #8484 "ackTimeoutMillis is set to 30000 when ConsumerBuilder.deadLetterPolicy is called"
Hey everyone,

I'm a bit confused about the usage of Dead Letter Queue with NACKs.

Initially I had a shared consumer like so (apologies for my Kotlin) and was using NACKs:

[code]

Later I decided it would be good to make sure failed messages don't get redelivered too many times so I added a dead letter policy:

[code]

#### Expected behavior

I expected this to start forwarding messages after 2

[2020-11-08 23:56] premforgame commented on #8469
Yes, the generated jar is a fat jar. Unfortunately I'm unable to find any logs (i.e) usually in docker container once pulsar functions is created in /tmp/functions/<tenant-name>/<namespace-name><pulsar_function>.log will created. But in this case tmp has only these folder.
![image](https://user-images.githubusercontent.com/26475477/98487824-55a99200-224b-11eb-9d6a-e90a992be22b.png)
moreover even i

[2020-11-09 01:28] congbobo184 commented on #8429
@robshep hello, I look up your log and are you consume more than one topic in your consumer?  it look like one topic does not have schema.

[2020-11-09 01:53] congbobo184 commented on #8430
@geomagilles  hello, if use AvroSchema will have multi version schema, so we should generate different version reader to decode the data. this PR will change, add the MultiVersionReader to solve the question.

[2020-11-09 08:44] robshep commented on #8429
Hi, thanks for taking a look.
There are 3 topics in use in this deployment.
All have schemas.
None of this code, or the Payload objects have changed for many months.

I notice in App1 there is another topic `-RETRY` created presumably to handle redelivery.  I don't maintain a schema here.

The log above is from restarting `App1` below but I have seen the same issue with the "Null Schema" also when

[2020-11-09 09:24] jnioche commented on #2211
Haven't checked the PR mentioned above but it looks like it does provide this functionality indeed. Thanks everyone

[2020-11-09 09:24] #2211 closed

[2020-11-09 10:25] BewareMyPower commented on #7327
Please try with following diff and take a look again

[code]

[2020-11-09 15:23] tongsucn opened #8492 "Unloaded namespace bundles may not be assigned to suitable brokers."
After unloading namespace bundle, one of the available brokers shall be selected for the unloaded bundle to continue working. All available broker candidates will be filtered in `org.apache.pulsar.broker.loadbalance.impl.ModularLoadManagerImpl.selectBrokerForAssignment`, it:

1. applies NS policy if any, then,
2. filters out brokers with too many topics from candidates, then,
3. filters out broker

[2020-11-09 20:33] geomagilles commented on #8430
@congbobo184  thx - do you think it could be included in the next release?

[2020-11-09 21:33] devinbost commented on #8457
@codelipenghui Noted. I linked the issue, and I'll close it here.

[2020-11-09 21:33] #8457 closed

[2020-11-10 00:16] lukestephenson-zendesk commented on #8282
This was replicated in pulsar 2.6.1

[2020-11-10 01:43] congbobo184 commented on #8430
@geomagilles 2.6.2 have been voted, so it will move to 2.7.0, 2.7.0 will release immediately after 2.6.2 finish.

[2020-11-10 03:07] BewareMyPower commented on #7327
After discussing with @firefeifei , the issue is with the link order of `libpulsar.a`. After putting `libpulsar.a` before other dependencies like boost, it works well.

[2020-11-10 03:16] #7327 closed

[2020-11-10 03:39] #7312 closed

[2020-11-10 04:01] sixhj opened #8496 "document is err"
look http://pulsar.apache.org/docs/zh-CN/administration-pulsar-manager/

the  docker command  no  -- link,

[2020-11-10 06:42] #8471 closed

[2020-11-10 08:00] #8400 closed

[2020-11-10 08:00] murong00 commented on #8340
@codelipenghui Thanks for pointing this out, however, the user may not have permissions to create new topics and subscriptions. In addtion, if we fix --topic (which is `List<String>` but only one is allowed) to support using the specified topics and check its size by `--num-topics`, it is inconvenient when auto-creation is allowed.

[2020-11-10 09:11] yeouchien opened #8502 "Upgrade Debezium to a newer version"
Pulsar currently use [1.0.0.Final](https://github.com/apache/pulsar/blob/0c9648b79ff92271536da07a884ec4854ca97027/pom.xml#L153) version of Debezium.

This version of Debezium causes issue when using it with Postgres as describe in [here](https://gitter.im/debezium/user?at=5e3d21556f9d3d3498275d2f)

[code]

[2020-11-10 09:43] bloodyjuice opened #8503 "Python lib connectors"
anyone can help me how to use elasticsearch connector in python code?

[2020-11-10 10:41] geomagilles commented on #8430
ok, thx

[2020-11-10 13:27] jdbeck opened #8507 "Overridden 'jobName' in Kubernetes runtime with custom runtime options can have collisions when same 'jobName' is used"
**Describe the bug**
As part of the closed issue: https://github.com/apache/pulsar/issues/8012 a customRuntimeOption of "jobName" was added in order to allow an override of the pod name for the function in the Kubernetes runtime.  While it covers most issues one was discovered where a jobName could be re-used for a different function and it would cause collisions with the pod and potentially state

[2020-11-10 14:37] racorn commented on #8109
Unfortunately, this breaks configuration of authentication parameters with a property map supported by

`PulsarClient.builder().loadConf(configMap)`

like TLS client certificate authentication (where this is no sensitive information, just filenames).

It breaks because the way `ConfigurationDataUtils.loadData` is implemented, where the configuration data is serialized to a string before it is dese

[2020-11-10 14:58] racorn opened #8509 "Java client: cannot configure 'authParams' with PulsarClient.builder().loadConf"
`ClientBuilder loadConf(Map<String, Object> config)` does not support `authParams` nor `authParamMap` anymore.

Most likely this was broken by #8110

**Possible fix:**

Add annotation:
[code]

Serializer:

[code]
And view:
[code]

Then in `ClientConfigurationData`
[code]
and in `ConfigurationDataUtils.loadData`
[code]

**Version**: 2.6.2

[2020-11-10 15:17] michaelkux opened #8510 "AVRO Schema with modified whitespaces uploaded via API is incompatible with Schema generated from Record (IncompatibleSchema)"
**Describe the bug**
If an AVRO schema is uploaded via CLI / REST API and a client (in the example Python) tries to create a producer with schema=AvroSchema(...) the producer will be rejected with IncompatibleSchema because the schema contains additional/less whitespaces.

E.g.Schema that works:
`{
"type": "AVRO",
"schema": "{\n \"name\": \"SimpleAvroRecord\",\n \"type\": \"record\",\n \"fields\":

[2020-11-10 19:46] lhotari opened #8512 "Flaky-test: KeySharedSubscriptionTest.testContinueDispatchMessagesWhenMessageTTL"
The test KeySharedSubscriptionTest.testContinueDispatchMessagesWhenMessageTTL is flaky.

[example failure](https://github.com/apache/pulsar/pull/8511/checks?check_run_id=1381553002#step:11:458):
[code]

[2020-11-10 19:53] lhotari opened #8513 "Flaky-test: cpp-test KeySharedConsumerTest"
cpp-test KeySharedConsumerTest.testMultiTopics is flaky

[example failure](https://github.com/apache/pulsar/pull/8511/checks?check_run_id=1381552896#step:11:145)
[code]

cpp-test KeySharedConsumerTest.testOrderingKeyPriority is flaky

[example failure](https://github.com/apache/pulsar/pull/8511/checks?check_run_id=1381552896#step:11:707)
[code]

[2020-11-11 02:31] xuesongxs opened #8516 "Add topic message counter"
I want to view the amount of messages written by topic through pulsar admin or restapi. However, the current amount of messages written is only stored in the broker. If the broker restarts or the bundle is unloaded, the amount of messages written will be incorrect. In practical applications, no matter what the reason is, it must be accurate.

[2020-11-11 05:37] congbobo184 commented on #8429
@robshep could you please provide more detailed information from app3, log and which topic the consumer `Cannot parse <null> schema`

[2020-11-11 06:35] #7981 closed

[2020-11-11 06:38] #8507 closed

[2020-11-11 06:42] #8466 closed

[2020-11-11 11:43] #5126 closed

[2020-11-11 11:44] #8441 closed

[2020-11-11 11:52] codelipenghui commented on #8484
@tomas-c The DLQ should work with NACKs, if it does not work, it should be fixed. Are you interested in fix it?

[2020-11-11 12:00] codelipenghui commented on #8492
I think you can try to use`topic_count_equally_divide` for the defaultNamespaceBundleSplitAlgorithm, the default policy is `range_equally_divide`, when there are few topics, the `topic_count_equally_divide` is better than `range_equally_divide`

[2020-11-11 12:03] codelipenghui commented on #8496
@sixhj Could you please give more details about the problem? Or if you are interested in fix this issue you can push a PR for it.

[2020-11-11 12:11] codelipenghui commented on #8503
@bloodyjuice I think there are no python connectors now, all connectors are based on Java Function. But Pulsar has python functions, I think it's easy to implement a connector based on the python functions. If you are interested in implement it, you are welcome to push a PR.

[2020-11-11 12:14] codelipenghui commented on #8509
@hangc0276 Could you please help take a look at this issue?

[2020-11-11 12:17] codelipenghui commented on #8510
@congbobo184 Could you please confirm if the Java Client also has this problem?

[2020-11-11 12:26] codelipenghui commented on #8513
@BewareMyPower Could you please help take a look at this issue?

[2020-11-11 12:29] hangc0276 commented on #8509
OK, I will take a look.

[2020-11-11 12:36] tomas-c commented on #8484
Hey @codelipenghui !

If it's something small, I could have a try but just to make it clear - I haven't observed DLQ not working with NACKs.

I was just surprised by deadLetterPolicy() auto-setting ackTImeoutMillis to 30s and breaking my time-consuming message processing. And also confused by changes in #3014 implying that ackTImeoutMillis was necessary (but I now see that NACKs were implemented a

[2020-11-11 12:44] BewareMyPower commented on #8513
It's introduced in #7487 , the flaky test is caused by the verification of key shared distribution like https://github.com/apache/pulsar/blob/61e62133a8d63210915e737c2affd6935fc3c528/pulsar-broker/src/test/java/org/apache/pulsar/client/api/KeySharedSubscriptionTest.java#L968-L973.

Since C++ unit tests are running in parallel, I thought it may be easier to fail. (I'm not sure if Java tests were ru

[2020-11-11 15:03] hadesy commented on #8449
we suspect that it is caused by incorrect load balancing settings,when we set it up properly, it works fine

[2020-11-11 15:03] #8449 closed

[2020-11-11 15:32] reswqa opened #8524 "encounter ClassNotFoundException when using master branch to create PulsarAdmin"
**Describe the bug**
In order to use transaction to make exactly-once sink of pulsar-flink connector, I packaged the master branch of pulsar. When the dependency was imported to create pulsarAdmin, it happened `java.lang.ClassNotFoundException`

**To Reproduce**
Steps to reproduce the behavior:
1、Use `mvn clean install` to package pulsar master branch.
2、Create pulsarAdmin by
`PulsarAdmin.builder(

[2020-11-11 15:38] reswqa commented on #8524
This problem has been discussed with @gaoran10 and further track is needed.

[2020-11-11 15:42] alexku7 opened #8525 "Certificate and Token revocation"
**Is your feature request related to a problem? Please describe.**
Currently the pulsar doesn't have an ability to check and ensure that the client certificates used for the authentication is not revoked, In case of compromised certificate , an attacker can't continue using the stolen certificate until its expiration date and the only solution here is to replace the whole CA

**Describe the soluti

[2020-11-11 16:15] lhotari commented on #5510
I'm running into the same issue with a custom build of Pulsar built from v2.6.2-candidate-2 tag (same as v2.6.2).
In my case, I have a separate namespace with auto topic creation disabled and the application creates topics explicitly.
The scenario where this fails creates 7500 topics in 3 minutes at the rate of 25 topics/second. 5 messages are produced in the each created topic and then later on r

[2020-11-11 20:37] rivernate commented on #8440
We have been using 2.5.2, but it looks like it's still in the source code on the current master: https://github.com/apache/pulsar/blob/14c145e3d371c3ceab979277f4b2717d7046b4a5/pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdNamespaces.java#L1665

[2020-11-11 20:38] rivernate commented on #8439
I'd be happy to work on it. It may be a while before I have time to do it though.

[2020-11-12 02:13] jiazhai opened #8532 "Export Consumer/Producer connection status to user"
Some times consumer/producer get re-connect to broker, but this is the internal connect retry, and user may not know the current connection status. It would be better to export the connection status.

[2020-11-12 02:32] congbobo184 commented on #8510
@codelipenghui  Java client does not have this problem.

[2020-11-12 03:35] jiazhai opened #8533 "Change method `getWebServiceUrl` into async mode in `NamespaceService`"
**Is your enhancement request related to a problem? Please describe.**
In class NamespaceService, method `getWebServiceUrl` is a sync method, it will finally call into getting data from zkcache, and if the zk is in high pressure, it will wait for the CompletableFuture.get, and block for a while.  And such sync mode methods will occupy the thread resources and caused other threads not get handled.

[2020-11-12 06:33] devinbost opened #8536 "TLS Authentication in Kubernetes, Pulsar 2.6.1 - Broker crash loop on startup due to 401 in WorkerService.start(..)"
**Describe the bug**
After configuring TLS Authentication in Pulsar 2.6.1 with this helm chart: https://github.com/devinbost/pulsar-helm-chart/tree/tls-auth
the broker gets stuck in a restart loop due to the `WorkerService` crashing with:

during the `WorkerService.start(..)` method execution.
With TLS Authentication enabled, the endpoint above should be the TLS endpoint (https://pulsar-ci-broker-

[2020-11-12 06:46] sijie commented on #8536
@devinbost It doesn't seem to be a pulsar core issue. Can you create the issue under pulsar-helm-chart repo?

[2020-11-12 06:52] jiazhai commented on #8524
https://github.com/apache/pulsar/pull/7515/files#diff-9c5fb3d1b7e3b0f54bc5c4182965c4fe1f9023d449017cece3005d3f90e8e4d8
in this change, the version of jersey changed, maybe this is related.

[2020-11-12 07:01] codelipenghui opened #8539 "Invalid signature file digest for Manifest main attributes"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
Add maven dependency:

[code]
Or:
[code]

[2020-11-12 08:09] reswqa commented on #8524
This is caused by the previous PR that @jiazhai mentioned, I will fix it and add some tests to prevent similar problems from appearing later.

[2020-11-12 08:44] jiazhai opened #8542 "Add smoke test to cover our shaded client module"
currently our shaded client module pulsar-client-all, pulsar-client-admin, and pulsar-client have no test coverage.
And some issues (#8539, #8524 ) related to this leak test coverage, It would be great to have a test to cover them.
A suggestion is to add it to integration tests, and start with some smoke test to make sure these jars could work.

[2020-11-12 08:45] jiazhai commented on #8539
@codelipenghui  verified that latest master `2.7.0-SNAPSHOT` already not have this issue. it should be fixed by #8491
And meanwhile,  we should provide a test to cover our shaded module: pulsar-client-all, pulsar-client-admin, and pulsar-client;
And @reswqa will help on add test for this.

[2020-11-12 08:46] jiazhai commented on #8524
@reswqa  Thanks for the work. Maybe have 2 prs is also fine for this issue. one for this direct fix. and also added #8542 for the test coverage.

[2020-11-12 08:48] jiazhai commented on #8542
@reswqa Thanks for the help to add related tests.s

[2020-11-12 08:50] jiazhai commented on #8539
would like to close this issue.

[2020-11-12 08:50] #8539 closed

[2020-11-12 09:31] codelipenghui commented on #8539
Thanks @jiazhai

[2020-11-12 11:04] robshep commented on #8429
Thank you,

Attached is the application log from the first time this happened.

It isn't clear exaclty which topic the consumer finds a null schema, but you can see in this example it was both consumers.

On this occasion a plain restart recovered one of them (persistent://myorg/appB/notify:expiry) but the other (persistent://myorg/myappA/ingress) did not recover (same error of Null schema on each

[2020-11-12 13:09] 315157973 commented on #8532
I will solve it

[2020-11-12 13:50] tongsucn commented on #8492
@codelipenghui Thank for your reply! I just changed the configuration you suggested, let me observe it for a while, thanks~

[2020-11-12 14:10] eolivelli commented on #3104
it looks like that ZkIsolatedBookieEnsemblePlacementPolicy is not activated.

On current master it kicks in only in case of the presence of configuration of a bookieAffinityGroup
https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java#L1193

[2020-11-12 14:11] eolivelli commented on #3716
it looks like that ZkIsolatedBookieEnsemblePlacementPolicy is not activated.

On current master it kicks in only in case of the presence of configuration of a bookieAffinityGroup
https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java#L1193

[2020-11-12 14:12] xbblq62 commented on #3630
We are hitting a similar issue where all operations performed on a broker gets timed out.
Error in pulsar client:
Pulsar Handshake was not completed within timeout, closing connection

Have tried to run commands via pulsar-admin as well and face timeout exception for any commands ran on the broker.

In our case, we generate large number of topics dynamically on the fly. After a while, under peak l

[2020-11-12 14:44] michaelkux commented on #8510
I tried it now with java also: Same/similar issue. Uploading the generated schema leads to an IncompatibleSchema Exception. I hope the way how I upload the schema is correct.

SimpleAvroRecord Pojo:

`public class SimpleAvroRecord {

    public String data;

    public SimpleAvroRecord() {

    }

    public SimpleAvroRecord(String data) {
        this.data = data;
    }

    public String getData

[2020-11-12 17:30] nha opened #8547 "java client: expose endOfTopic event listener"
**Is your enhancement request related to a problem? Please describe.**

In the pulsar java client, one cannot register a `MessageListener` for the `endOfTopic` event that can be used AND call `Consumer.receive()` or `Consumer.receiveAsync()`.

From https://pulsar.apache.org/api/client/org/apache/pulsar/client/api/ConsumerBuilder.html#messageListener-org.apache.pulsar.client.api.MessageListener-
(e

[2020-11-12 17:36] arumugamtp commented on #8502
I am trying to understand the problem here. Will update in few days. Thank you.

[2020-11-12 18:18] rdhabalia commented on #3630
@xbblq62 this issue should be fixed by: https://github.com/apache/pulsar/pull/8304

[2020-11-12 19:10] #8536 closed

[2020-11-12 19:25] michaeljmarshall commented on #6871
@sijie - I noticed that bookkeeper is still only on 4.10.0 in this week's pulsar release  (2.6.2), but that it is 4.11.1 in master. Is there a plan to cut a new release with this updated version of bookkeeper any time soon? Thanks.

https://github.com/apache/pulsar/blob/v2.6.2/pom.xml#L158
https://github.com/apache/pulsar/blob/master/pom.xml#L101

[2020-11-12 20:23] nha commented on #8547
Closing following the discussion on Slack, I can use the `TopicTerminatedException` instead.

[2020-11-12 20:23] #8547 closed

[2020-11-12 22:20] #8524 closed

[2020-11-12 22:48] sijie commented on #7349
Close it since it has passed in branch-2.6. If it is still a problem, please reopen it again.

[2020-11-12 22:48] #7349 closed

[2020-11-12 22:48] sijie commented on #7348
Close it since it has been fixed in branch-2.6.

[2020-11-12 22:49] sijie commented on #7395
@codelipenghui Are you going to fix this in 2.7.0? Or is it a critical bug?

[2020-11-13 01:48] #8134 closed

[2020-11-13 02:26] #7450 closed

[2020-11-13 03:22] Shoothzj opened #8551 "Is auto delete inactive topic works well on partitioned topic"
**Describe the bug**
According to my understanding, **partitioned-topic** is implemented by multi topics which suufix is {partition-index}. We have this situtation in version 2.6.0. When we enable **brokerAutoDeleteInActiveTopic** (aka. aging), our $TOPIC_NAME-partition-index topic is aged, but /admin/../partitioned-topic data remains.Eventually, when client query if topic exist, it exists. But ca

[2020-11-13 03:47] ltamber opened #8553 "[Pulsar Broker] support apache ranger"
**Is your feature request related to a problem? Please describe.**
Currently, Pulsar only support stores authorization policies under local-zookeeper. Is it possible to support [ranger](https://github.com/apache/ranger), apache ranger can provide a framework for central administration of security policies and monitoring of user access.

[2020-11-13 04:38] congbobo184 commented on #8429
if restart, this topic `persistent://myorg/myappA/ingress` not recover you can use admin api to check is the schema exist.

[2020-11-13 05:54] congbobo184 commented on #8510
`admin.namespaces().setIsAllowAutoUpdateSchema(namespaceName.toString(), false);` this make you can't update schema. if you `admin.namespaces().setIsAllowAutoUpdateSchema(namespaceName.toString(),true);` you can produce the message. but the schema version will update, because broker update the schema version by comparing the SchemaInfo Json String.

[2020-11-13 06:24] Esakkimuthu991 commented on #8459
Sorry for late response. The problem was occurred due to the jar generation. Now it resolved

[2020-11-13 06:24] #8459 closed

[2020-11-13 07:34] eolivelli opened #8558 "Cannot run Pulsar Bookie on JDK14+"
**Describe the bug**
The Bookie cannot start on JDK14, this is the error.
the command is
`bin/pulsar bookie`

[code]
**Expected behavior**

The bookie should start

**Additional context**
Probably it is just a matter of upgrading Commons Lang Dependecy

[2020-11-13 07:37] eolivelli commented on #8558
I am sending a patch with the dependency upgrade

[2020-11-13 07:44] michaelkux commented on #8510
Thank you for clarifying that. In this case the uploaded schema and used in python and java are equal (except whitespace differences). The schema update (via AllowAutoUpdateSchema) is in this case not necessary.

Maybe a normalisation of the json schema string while updating/comparing the schema on broker side (in case of manual upload or generated from class) would solve this.

Otherwise it could

[2020-11-13 07:49] eolivelli opened #8559 "Weird warning messages about Nashorn and ScriptEngine on JDK11+ and worst message on JDK15"
**Describe the bug**
In JDK14 they deprecated Nashorg, the server side JS engine, and in JDK15 it was removed.

When I am running pulsar-admin on JDK15 I see this warning at every command:
`2020-11-13 08:46:06,969 main ERROR No ScriptEngine found for language JavaScript. Available languages are:`

When running on JDK11-JDK14 the warning is:
`Warning: Nashorn engine is planned to be removed from a

[2020-11-13 08:25] jiazhai commented on #8553
Thanks @ltamber for this initiative. It would be a great supplementary to current authorization.

[2020-11-13 11:07] strangeman375 opened #8562 "[Question] Last-value-queues support"
Hello!
Does Pulsar support last-value-queue, like [artemis](https://activemq.apache.org/components/artemis/documentation/latest/last-value-queues.html)?

[2020-11-13 11:16] aahmed-se commented on #8562
pulsar supports topic compaction so in essence it provides the same functionality

[2020-11-13 12:37] codelipenghui commented on #8551
@Shoothzj Looks the same as #8441 and it fixed by #8442

[2020-11-13 15:13] nhathatrinh commented on #6834
@jiazhai @sijie
I am having a same issue with pulsar client 2.6.2. Could you please let me know if i miss any dependency?
dependency:
`<dependency>
     <groupId>org.apache.pulsar</groupId>
     <artifactId>pulsar-client</artifactId>
     <version>2.6.2</version>
 </dependency>`

Error:
`org.apache.pulsar.client.api.PulsarClientException: java.lang.NoSuchMethodError: org.apache.pulsar.client.api.M

[2020-11-14 00:38] hangc0276 commented on #8502
@arumugamtp  Are you trying to fix it?

[2020-11-15 11:04] Shoothzj commented on #8551
It is ! Thank you very much

[2020-11-15 11:04] #8551 closed

[2020-11-15 23:38] strangeman375 commented on #8562
Thanks!
Unfortunately, this is not exactly the same functionality.
Last-value-queues are vital to my project, so i can't use pulsar yet.

[2020-11-16 01:00] jiazhai commented on #8532
Thanks @315157973  for the help

[2020-11-16 01:27] jiazhai commented on #8532
@315157973 some times it will help a lot if we could also provide some connection information, such as the last success time or the first non-success re-connection time.

[2020-11-16 03:15] codelipenghui opened #8569 "[document] How to deploy Pulsar SQL on docker/k8s"
Currently, Pulsar documentation introduces how to deploy Pulsar SQL manually http://pulsar.apache.org/docs/en/sql-getting-started. It's better to provide a guide for deploying Pulsar SQL on docker/k8s.

[2020-11-16 03:48] cclient opened #8570 "pulsar producter write to 3 node gluster slower than standalone"
#### Actual behavior

pulsar producter write to 3 node cluster slower than standalone

#### System configuration
Pulsar version: 2.6.2

all use the default config and same disk(hdd)/net

##### to standalone

time bin/pulsar-client --url pulsar://a.b.c:6650  produce   persistent://public/default/test   -n 1000  -m "Hello Pulsar"
real	0m5.940s
user	0m8.329s
sys	0m0.964s

##### to 3 node gluster

tim

[2020-11-16 04:59] codelipenghui opened #8571 "Expose last disconnect timestamp for consumer"
Currently, the consumer tries to reconnect to the broker while the consumer disconnected from the broker. It's better to expose the last disconnect timestamp for the consumer.

[2020-11-16 05:40] codelipenghui commented on #8532
related to #8532

[2020-11-16 07:59] xuesongxs opened #8572 "Export Prometheus metric for the number of messages that topic subscription skip through the TTL"
Export Prometheus metric for the number of messages that topic subscription skip through the TTL。

[2020-11-16 08:00] #8572 closed

[2020-11-16 08:00] xuesongxs opened #8573 "Export Prometheus metric for the number of messages that topic subscription skip through the TTL"
Export Prometheus metric for the number of messages that topic subscription skip through the TTL。

[2020-11-16 08:32] eolivelli commented on #8558
Issue https://github.com/sundrio/sundrio/issues/153

[2020-11-16 08:33] #8513 closed

[2020-11-16 08:46] codelipenghui commented on #8573
Thanks, @xuesongxs made this feature request. I also met some users who want to know how many messages are expired at what time? Currently, these metrics are too few, so that TTL looks like a black box, unobservable.

I think we can do the following things to improve the observability.

1. Expose the last TTL task execute timestamp
2. Recore the total expired message

Furthermore, I think it's bet

[2020-11-16 08:48] 315157973 commented on #8571
I will solve it

[2020-11-16 08:49] codelipenghui commented on #8571
Thanks, @315157973

[2020-11-16 09:15] codelipenghui commented on #8516
Seems this can achieve by leverage https://github.com/apache/pulsar/wiki/PIP-70%3A-Introduce-lightweight-raw-Message-metadata. We can add an offset for a topic, So the `offset of the last message` + 1 is the total messages that sent to this topic.

[2020-11-16 09:21] codelipenghui commented on #8570
@cclient The data fsync is disabled by default in the standalone but enabled by default in the broker. I think you can try to enable the data fsync in standalone.conf or disable the data fsync in the broker.conf.

[2020-11-16 09:29] xche opened #8575 "When a task is stopped or deleted, it will cause all other tasks to stop consuming data"
**Describe the bug**
Runtime ： Thread Runtime
broker number ：3
bookie number ：6
functionWorker number ： 6
task number: 423

**When I call the following api, all other tasks will stop consuming data.**
https://pulsar.apache.org/admin/v3/sinks/{tenant}/{namespace}/{sinkName}/stop
**When all tasks stop consuming data, we can see the following stack information.**
![image](https://user-images.githubus

[2020-11-16 10:42] xbblq62 commented on #3630
Thanks @rdhabalia
Have upgraded to 2.6.2 and still the issue occurs. May be the symptoms of issue is similar to the above mentioned but the problem might be different.

found the following errors in the broker which is down:

`13:10:32.240 [pulsar-2-1] ERROR org.apache.bookkeeper.mledger.impl.ManagedLedgerImpl - Deleting cursor`

`13:11:14.571 [pulsar-zk-session-watcher-5-1] ERROR org.apache.pulsa

[2020-11-16 11:30] cclient commented on #8570
thanks

cluster:
conf/bookkeeper.conf
journalSyncData=false

standalone:
conf/standalone.conf
journalSyncData=true

it was my negligence

[2020-11-16 11:30] #8570 closed

[2020-11-16 13:23] #8542 closed

[2020-11-16 13:46] lhotari opened #8580 "ProxyKeyStoreTlsTestWithAuth and ProxyKeyStoreTlsTestWithoutAuth fail when TLS1.3 is available, (JDK version >= 8u261)"
**Describe the bug**

There's some issue with Pulsar when TLS 1.3 is available. JDK versions since 8u261 bundle TLS 1.3 .
One sign of the issues is that ProxyKeyStoreTlsTestWithAuth and ProxyKeyStoreTlsTestWithoutAuth fail when TLS1.3 is available.

Underlying exception is:
[code]

and

[code]

**To Reproduce**
Steps to reproduce the behavior:

Install Java JDK equal or newer than 8u261, for examp

[2020-11-16 19:59] rdhabalia commented on #3630
@wolfstudy I think #8304 is not correctly cherry-picked into 2.6 branch.  we have removed data-cache expiry on [ZooKeeperCache.java#L112](https://github.com/apache/pulsar/blob/branch-2.6/pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/ZooKeeperCache.java#L112) but it still there in 2.6 branch. can we fix it?

@xbblq62  Is it possible for you to try latest master changes to pick up

[2020-11-16 20:14] EliHarper opened #8582 "Pulsar sink creation --topics-pattern argument not working as expected in Docker with pulsar-all image & cassandra sink"
**Describe the bug**
While I'm not sure which version is right (--topics-pattern & --topics-Pattern are listed in documentation, --topicsPattern also mentioned in man-style error messages and I _think_ I saw --topic-pattern elsewhere), I created a sink that passed both micro_.* and micro_*; neither of which matched any of the expected pulsar topics.

**To Reproduce**
1. Run pulsar-all docker image

[2020-11-16 20:22] sijie commented on #3630
@wolfstudy @rdhabalia let's create a fix on branch-2.6 and create a 2.6.3 release.

[2020-11-16 21:19] eolivelli commented on #3630
@nicoloboschi FYI

[2020-11-17 00:40] #5752 closed

[2020-11-17 02:11] #3643 closed

[2020-11-17 02:12] codelipenghui commented on #7742
move to 2.8.0 first

[2020-11-17 02:16] codelipenghui commented on #7804
move to milestone 2.8.0

[2020-11-17 02:45] codelipenghui commented on #8121
Seems this issue is fixed by #8557, So close it first.

[2020-11-17 02:45] #8121 closed

[2020-11-17 03:08] xuesongxs opened #8583 "The RESTAPI "Get the internal stats for the topic" does not show the status of the ledger"
**Describe the bug**
The RESTAPI "Get the internal stats for the topic" does not show the status of the ledger，so the status displayed on the pulsar manager page may not be correct。

![image](https://user-images.githubusercontent.com/54351417/99341352-b0cf2a80-28c4-11eb-9643-57aad8cffa3e.png)
![image](https://user-images.githubusercontent.com/54351417/99341476-eb38c780-28c4-11eb-9c3f-1c5cb7fcbdd0.

[2020-11-17 03:42] #8268 closed

[2020-11-17 03:47] codelipenghui commented on #8431
@nlu90 I will start the 2.7.0 release process soon. Do you have time to add the documentation for https://github.com/apache/pulsar/pull/8432?

[2020-11-17 03:49] wolfstudy commented on #8431
@codelipenghui Please add this task to me, I will process this task.

[2020-11-17 04:25] bsergean opened #8584 "WebSocket broker: url (path and query) args (namespace, topic, etc...) exposed through message fields"
**Is your enhancement request related to a problem? Please describe.**
If a client need to publish to 2 different topics, it will take 2 tcp connections between the client and the broker. 3 topics, 3 tcp connections etc... if ssl is enabled this is more costly.

**Describe the solution you'd like**

It would be very handy to be able to specify all the url info in the websocket message instead. The

[2020-11-17 05:03] lhotari opened #8585 "Update certificates used in TLS tests to use SHA-256 signature algorithm so that TLSv1.3 support can be added"
** Problem **

In TLSv1.3, certificates using SHA-1 signature algorithm are considered legacy and it's not recommended that TLSv1.3 implementations accept certificates that use SHA-1 signature algorithms.

[In RFC8446, section 4.4.2.4.  Receiving a Certificate Message](https://tools.ietf.org/html/rfc8446#section-4.4.2.4)
_SHA-1 is deprecated, and it is RECOMMENDED that any endpoint receiving any c

[2020-11-17 05:35] lhotari opened #8586 "Update TLS instructions to cover the change in default keystore type from JKS to PKCS12 in Java 9+"
**Problem**

TLS instructions in https://github.com/apache/pulsar/blob/master/site2/docs/security-tls-keystore.md break in Java 9+ since the [default keystore type is PKCS12 in Java 9+](http://openjdk.java.net/jeps/229).
Prepare for supporting Java 9+ by updating the instructions.

**Solution**

Add `-storetype JKS` parameter to `keytool` commands in https://github.com/apache/pulsar/blob/master/si

[2020-11-17 06:39] lhotari commented on #3630
@sijie @wolfstudy @rdhabalia for consistency, it might be good to also cherry pick d8f319ea , #8302 before removing the extra line (expireAfterWrite from dataCache) to fix the cherry-picking of #8304. There wouldn't have been a merge conflict if that change would have been included.

[2020-11-17 06:53] codelipenghui commented on #7395
@fmiguelez I try to reproduce the issue, but can't be reproduced on the master branch, Here is my test code :

[code]

Output:

[code]

Could you please provide more information about your reproduce steps? I will move this issue to milestone 2.8.0 first.

[2020-11-17 07:04] codelipenghui commented on #7696
@e-marchand-exensa I have added the test case for part A https://github.com/apache/pulsar/pull/8587. Seems the problem can't be reproduced.

[2020-11-17 07:09] #7642 closed

[2020-11-17 07:09] #7674 closed

[2020-11-17 09:04] Renkai opened #8591 "Configurable data source for offloaded messages"
Currently, if the data in pulsar was offloaded to the second storage layer, data can still exists in bookkeeper for a period of time, but the client will directly read data from the second layer.

This may lead to several problems:

- Read from second layer have different performance characteristics, which may lead wrong estimate from users if they didn't know which layer they are reading.
- The s

[2020-11-17 09:36] #7696 closed

[2020-11-17 12:04] gaoran10 commented on #8591
LGTM

[2020-11-17 12:06] Renkai commented on #8591
I will try to implement this design.

[2020-11-17 12:17] jiangmincong opened #8593 "Java client connection lookup timed out, 7 lookup request timedout after ms 30000"
#### Expected behavior
2020-11-06 14:13:16,906 | WARN  | [pulsar-client-io-1-1] | Failed subscription for createPartitionedConsumer: persistent://tenant/namespace/topic_test 30, e:{} | org.apache.pulsar.client.impl.MultiTopicsConsumerImpl (MultiTopicsConsumerImpl.java:775)
java.util.concurrent.CompletionException: org.apache.pulsar.client.api.PulsarClientException: java.util.concurrent.CompletionE

[2020-11-17 13:50] dlmutart commented on #4472
@sijie was there a code fix because I can't find the related pull request or was @mirlimat answer the right resolution?

[2020-11-17 17:38] bsergean commented on #8584
Some developer notes / the producer is handled here -> https://github.com/apache/pulsar/blob/master/pulsar-websocket/src/main/java/org/apache/pulsar/websocket/WebSocketProducerServlet.java

A first good step would be to still have different url for producer/consumer/reader, but be able to still use the same websocket connection for publishing to different topics.

[2020-11-17 17:44] bsergean commented on #8584
AbstractWebSocketHandler.java and    private TopicName extractTopicName(HttpServletRequest request) {

is where the request is being parsed, and where topic is extracted

[code]

[2020-11-17 20:58] sijie commented on #6834
@jiazhai Can you check the last comment?

[2020-11-17 21:18] sijie opened #8597 "[CI] Add a CI job to make sure pulsar is able to build on different operating systems"
Prevent a similar situation (https://github.com/apache/pulsar/pull/7854) from happening again, we should add a CI job to ensure Pulsar is able to build on different operation systems.

[2020-11-18 00:57] devinbost commented on #5568
I'm getting this issue here: https://github.com/apache/pulsar-helm-chart/issues/84

[2020-11-18 01:29] devinbost commented on #5568
@jiazhai  In my case though, I tried setting useTls, but it didn't solve the problem. So, maybe it's a separate issue.

[2020-11-18 01:46] wangjialing218 opened #8599 "DispatchRateLimiter does not take effect in case of concurrently read"
**To Reproduce**
Steps to reproduce the behavior:
1. Set dispatch rate with topic level for a topic.
2. Create multi subscriptions for this topic.
3. Start producer to write to this topic, and start consumers for each subscriptions to read from this topic.

**Expected behavior**
Total read speed of all subscriptions should be close to the topic dispatch rate.

**Actual behavior**
Total read speed

[2020-11-18 02:32] wolfstudy opened #8602 "Add e2e encryption for Python Function"
We introduced a feature to support end-to-end encryption in Pulsar Function in #8432. Similarly, we need to support the same function in Python Function.

[2020-11-18 02:34] fantapsody opened #8603 "Several Chinese documents are not formatted correctly"
**Describe the bug**
I found several Chinese documents are not formatted correctly:
https://pulsar.apache.org/docs/zh-CN/reference-configuration/
https://pulsar.apache.org/docs/zh-CN/next/reference-configuration/

**To Reproduce**
Just open the URLs above.

**Expected behavior**
The Chinese document should have the same format as the English document.

**Screenshots**
![image](https://user-images.

[2020-11-18 02:37] fmiguelez commented on #7395
@codelipenghui your code looks very similar to the one I posted. If it works now then the BUG must have been fixed elsewhere in the code.

[2020-11-18 08:19] xuesongxs opened #8607 "functions-worker get function instance's metrics error"
**Describe the bug**
Prometheus collects metrics from functions-worker and throws the following exceptions. After multiple functions are created, the   metrics returned by functions worker is too large, at present, we solve this problem by modifying the timeout of Prometheus.

![image](https://user-images.githubusercontent.com/54351417/99503183-fc630080-29b8-11eb-8dec-2ccc12a1bf7c.png)
![image](ht

[2020-11-18 08:59] Jennifer88huang commented on #8603
@fantapsody Thanks for raising the issue. Someone might have deleted some metadata when translating.
@sijia-w could you please help check the metadata in the Crowdin and fix it? Any block, please let me know. Thank you.

[2020-11-18 09:05] Jennifer88huang opened #8610 "Enrich the usage of Websocket in Pulsar docs"
Add the following doc in [Websocket docs](http://pulsar.apache.org/docs/en/client-libraries-websocket/):
1. how to deploy websocket and how to enable TLS for websocket;
2. how to configure your client to connect to a tls-secured websocket endpoint
3. how to connect to our websocket endpoint for each cluster.

[2020-11-18 09:55] jiangmincong commented on #8593
Our test found that this situation is random. Lookup timeouts are rare when there are not many consumers, and there is a high probability when there are many consumers. The situation we tested is 30 topic partitions, continuous When multiple programs are started, the probability of the later startup program reporting lookup timeout is significantly higher than that of the previous startup, causing

[2020-11-18 10:55] hadesy commented on #3630
@sijie any update? we had the same problem on 2.6.2
[code]

[2020-11-18 11:03] jiazhai commented on #6834
That should be fixed in current master, I will add tests to verify this

[2020-11-18 13:35] #8430 closed

[2020-11-18 14:51] milos-matijasevic opened #8615 "Failed to read ledger from s3, NPE"
**Describe the bug**
Consumers are stuck and logs from the broker are:
[code]

This is maybe related to the error we got after cluster auto-upgraded to v2.6.2 and we got this error (https://gist.github.com/milos-matijasevic/1502d90293bb89ce4fb16b4c61bb81a0), and also zookeeper went to a state where they don't see each other and brokers were crashing so we downgraded to 2.6.1 (which we used before)

[2020-11-18 16:49] verminity opened #8616 "ML metric types appear more than once if there are multiple tenants"
#### Expected behavior

According to the [Prometheus text format documentation](https://prometheus.io/docs/instrumenting/exposition_formats/)

It is expected that each `# TYPE` line returned by /metrics is unique

#### Actual behavior

When a cluster has more than one tenant some pulsar_ml metrics types appear more than once on /metrics

The issue does not exist on Pulsar 2.5.1 and appears to have

[2020-11-18 17:04] aloyszhang opened #8617 "[Feature]Introduce lightweight raw Message metadata"
**Is your feature request related to a problem? Please describe.**
Introduce lightweight raw Message metadata  which does not combine with MessageMetadata to Pulsar.

**Describe the solution you'd like**
Details about this feature can be found here [PIP-70](https://github.com/apache/pulsar/wiki/PIP-70%3A-Introduce-lightweight-raw-Message-metadata)

[2020-11-18 17:17] EliHarper commented on #8582
Also, I've reached a somewhat unrelated question: is it possible to store multiple fields in their respective columns with the Cassandra sink? The example illustrates an example with a single keyname and a single columnName. This works for me, but when I add in the rest of the fields I defined in the schema, the sink will only save the keyname and one columnName, both of which hold the entire mess

[2020-11-18 17:36] sijie commented on #8591
@Renkai Can you write a PIP for that?

[2020-11-18 18:43] aloyszhang opened #8619 "Master branch compile failed"
**Describe the bug**
Master branch compile failed.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. git pull origin master
2.  mvn clean package -DskipTests

[2020-11-18 23:50] Renkai commented on #8591
Of course, what should I supply to make this issue description a PIP?

[2020-11-19 01:21] zymap opened #8622 "Migrate the python2.7 to python3.7"
**Motivation**

[PIP-56](https://github.com/apache/pulsar/wiki/PIP-56:-Python3-Migration) proposed we should upgrade our python version in the Docker image, we did that in the PR #7963.
But I still find some python2.7 usage in the pulsar repository:

function module:
https://github.com/apache/pulsar/blob/master/pulsar-functions/scripts/python/generate.sh

cpp module:
https://github.com/apache/puls

[2020-11-19 02:24] #8580 closed

[2020-11-19 02:49] codelipenghui commented on #8532
Currently, the consumer and the producer has a method to check the isConnected. So I think it's can help users to check the connection state, So I think we can close this issue first.

[2020-11-19 02:49] #8532 closed

[2020-11-19 05:39] BewareMyPower commented on #8622
The C++ related build and test scripts rely on the docker image `apachepulsar/pulsar-build:ubuntu-16.04`.

`Dockerfile`s under https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/docker directory also need changes.

[2020-11-19 07:12] hadesy opened #8625 "ZooKeeperDataCache TimeoutException"
**Describe the bug**

when we grant permission, exception occurs on the broker:
[code]
[code]
and all producer and consumer also throw exceptions:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a standard pulsar cluster in k8s
2. Create 20 partitioned topics, and set the number of partitions to 2
3. Randomly grant permissions  to these topics
4. See error

**Expected behavior*

[2020-11-19 07:14] hadesy commented on #8625
and we can reproduce this problem in version 2.6.1

[2020-11-19 09:00] aloyszhang commented on #8619
close by #8621

[2020-11-19 09:01] #8619 closed

[2020-11-19 11:47] Shoothzj opened #8627 "Support report unrecoverable failure warnning by plugin"
**Is your feature request related to a problem? Please describe.**
Sometimes, we are meeting some unrecovered problems. For example, delete zk topic node error, split bundle error

**Describe the solution you'd like**
If we can have an interface to report these situation, either to separate log, or to alarm platform, or alarm center in cloud.

[2020-11-19 14:15] frankjkelly commented on #6639
I am affected by this also - we're trying to reclaim disk for two reasons
1) Security / customer requirements to NOT retain data
2) Cost

What I have done so far inspired by @addisonj
i) Lowered `majorCompactionInterval` from 86400 (1 day) to 7200 (2 hours)
ii) Lowered `managedLedgerMaxLedgerRolloverTimeMinutes` from 240 (4 hours) to 90 (1.5 hours)

Open question on whether I should change `majorC

[2020-11-19 14:54] racorn commented on #8509
Also see my comment here that explains [what I think is the problem](https://github.com/apache/pulsar/issues/8109#issuecomment-724742159)

[2020-11-19 17:30] #8571 closed

[2020-11-19 19:22] LeoSht opened #8632 "Pulsar Helm repository index.yaml is not recognized as a valid repository"
Running the command to register Pulsar charts repository with Helm, as described in the documentation on the apache website (Step 1: Install Pulsar Helm chart) fails.

Produces the following error:

**Steps to reproduce**
Steps to reproduce the behavior (with the latest version of Helm, 3.4.1 at the moment) :
1. Follow the steps as described on http://pulsar.apache.org/docs/en/kubernetes-helm/
2.

[2020-11-19 20:11] sijie opened #8633 "PIP-31: Transactional Streaming V2"
This is the master issue for tracking the remaining tasks for PIP-31 (#2664)

- [ ] Offloader: Make offloader aware of transactional data
- [ ] Functions: Make functions use transactions
- [ ] Integration Tests
- [ ] Chaos (Jepsen) Tests

[2020-11-19 20:12] sijie commented on #2664
Created a separate issue for tracking the remaining tasks at #8633.

The transaction feature will be released as a developer-preview feature as part of 2.7.0.

[2020-11-19 20:23] sijie commented on #3630
I think @wolfstudy and @codelipenghui are cherry-picking that change. we will see if we can cut a 2.6.3 release next week.

[2020-11-19 20:25] hpvd commented on #5959
just to push it a little since this is imho an important part of doc
2.6.2 was already released. Matrix is still 2.5.0
https://github.com/apache/pulsar/wiki/Client-Features-Matrix

[2020-11-19 20:44] hpvd commented on #8584
just as crosslink to an other websocket performance relevant issue:
Websocket API should support cumulative acknowledgement
https://github.com/apache/pulsar/issues/5979

[2020-11-19 20:46] hpvd commented on #5979
just as crosslink to an other websocket performance relevant issue:
WebSocket broker: url (path and query) args (namespace, topic, etc...) exposed through message fields:
https://github.com/apache/pulsar/issues/8584

[2020-11-19 20:53] hpvd commented on #5925
client feature matrix shows auth support for websocket (version 2.5.0)
https://github.com/apache/pulsar/wiki/Client-Features-Matrix

[2020-11-19 20:58] hpvd commented on #2678
feature parity would indeed be pretty awesome and would imho help adoption further

[2020-11-19 21:05] hpvd commented on #2678
for latest state see: https://github.com/apache/pulsar/wiki/Client-Features-Matrix

[2020-11-20 00:26] jiazhai commented on #3630
Thanks @lhotari for the information.  Yes, we need to add tests to cover this.

[2020-11-20 03:41] jiazhai opened #8640 "[documentation] replace old helm contents and replace it with new apache/pulsar-helm-chart in website"
We have repo https://github.com/apache/pulsar-helm-chart for the latest Pulsar-helm-chart, but the docs in website: http://pulsar.apache.org/docs/en/helm-overview/ still using the old link:
[code]
we should search and replace the old helm contents and replace it with new https://github.com/apache/pulsar-helm-chart in the website

[2020-11-20 09:54] Renkai commented on #8591
I posted a PIP draft at https://gist.github.com/Renkai/e5be927404fbfd8289e7703c55812b1c

[2020-11-20 12:19] #7811 closed

[2020-11-20 21:56] sijie opened #8649 "Topic Stats show proxy address not the actual consumer address"
*Motivation*

The `address` field in TopicStats is useful for troubleshooting problems. However, when the clients are connected through a proxy, the `address` field shows the proxy address, not the actual client address. We should improve the way how we capture the address for clients and provide the actual client address in the topic stats.

[2020-11-20 23:09] sijie opened #8650 "Expose the receiver queue size to client consumer stats"
*Motivation*

Currently, we log the receiver queue size. But we don't expose the receiver queue size to the client consumer stats. We should expose it.

[2020-11-21 02:09] codelipenghui commented on #5530
close via #8652 8628

[2020-11-21 02:09] #5530 closed

[2020-11-21 02:11] #8431 closed

[2020-11-21 02:22] 315157973 commented on #8650
I will work on it

[2020-11-21 02:40] gaoran10 commented on #2664
# More PRs in Transaction Streaming V1

- [x] transaction buffer
   - [x] transaction buffer refactor https://github.com/apache/pulsar/pull/8347
   - [x] transaction buffer interface adjust https://github.com/apache/pulsar/pull/8291
- [x] transaction message
   - [x] produce batch transaction messages https://github.com/apache/pulsar/pull/8415
   - [x] send tranasction messages to consumer https:/

[2020-11-21 03:42] gaoran10 opened #8657 "Transactional Streaming V1"
# Transaction Streaming V1

#### This is the master issue for tracking implements in transaction streaming V1.

- [x] API change #4161 #4165 #4952
- [x]  Protocol change #4866 #4776
- [x] Transaction buffer
   - [x]  In-memory transaction buffer #4165
   - [x] Persistent transaction buffer #4738
   - [x] Transaction buffer client #6544
   - [x] transaction buffer interface adjust #8291
   - [x] tr

[2020-11-21 03:45] #8657 closed

[2020-11-21 03:47] codelipenghui commented on #2664
Create transaction V1 issue to track the tasks that release at  2.7.0, so move this issue to 2.8.0

[2020-11-21 10:19] wolfstudy opened #8660 "[CPP Client] Can't build successfully when LINK_STATIC is ON"
**Describe the bug**

I use the following command to execute cmake, and can't build successfully when LINK_STATIC is ON,

[code]

the error info as follows:

[code]

When  replace`-DLINK_STATIC=ON` with `-DLINK_STATIC=OFF`, we can build successfully.

**Desktop (please complete the following information):**
 - OS: MAC OS
 - Python: 2.7

[2020-11-21 10:21] wolfstudy commented on #8660
We can use the following script to get the location of `PYTHON_LIBRARY` and `PYTHON_INCLUDE_DIR`:

[code]

[2020-11-21 18:32] alexku7 commented on #8625
I thin this issue is related to this one https://github.com/apache/pulsar/issues/8419

We see the same behavior

Currently in order to prevent this issue we simply insert a sleep of 500 ms between each topics set permission request

[2020-11-22 01:59] #8650 closed

[2020-11-22 05:47] jiangmincong opened #8666 "java client Metadata is not available for client consumption"
**Describe the bug**
A clear and concise description of what the bug is.
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the f

[2020-11-22 21:23] alexku7 commented on #8000
is it solved in the 2.6.2 ? anybody knows ? :)

[2020-11-23 06:23] MarvinCai commented on #7717
@become-nice
Hi, are you using python or c++ client only or java is also fine?
For java there's already method to do that [subscribeToAdditionalTopic](https://github.com/apache/pulsar/blob/72b9f5d96ca19c358afd83952eed7ab7ebe61e5d/pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java#L883), [unSubscribeFromTopic](https://github.com/apache/pulsar/blob/72b9f5d96ca19c3

[2020-11-23 06:30] handywc commented on #8254
@BewareMyPower hi，tks for your reply.
So the default HDFS sink is actually not available, right?

[2020-11-23 13:04] e-marchand-exensa commented on #7696
@codelipenghui, the issue as reported still exists.
https://github.com/apache/pulsar/blob/4316d96bffae471f2c963dd5b05cc401f4cdea03/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java#L117-L125

[2020-11-23 13:08] xiaotongwang1 opened #8670 "Security issues:pulsar create zookeeper path、data without ACL"
any suggestion to avoid the problem?

SSL two-way authentication？
iptables?
![image](https://user-images.githubusercontent.com/6071261/99965765-480a1580-2dd0-11eb-8d8b-80e3dd29084c.png)

[2020-11-23 13:16] eolivelli commented on #8670
@yanshuchong
if you use ZooKeeper 3.6.x servers you can simply require that every client is authenticated
see:
https://zookeeper.apache.org/doc/r3.6.0/zookeeperAdmin.html#sc_authOptions

[2020-11-23 13:17] eolivelli commented on #8670
Pulsar 2.5.x onwards works with ZooKeeper servers 3.6.x, I saw it running in production

[2020-11-23 13:19] hpvd commented on #4722
Would be nice to have some hardware recommodations / name the reqirements also for dev setups
- standalone Pulsar locally https://pulsar.apache.org/docs/en/standalone/
- standalone Pulsar in Docker  https://pulsar.apache.org/docs/en/standalone-docker/
- Pulsar with Helm on Kubernetes https://pulsar.apache.org/docs/en/kubernetes-helm/

for production there are already some startingpoints regarding

[2020-11-23 13:24] hpvd opened #8671 "doc: hardware recommodations (Cores, RAM, storage) for dev"
**Is your enhancement request related to a problem? Please describe.**

Would be nice to have some hardware recommodations / name the reqirements also for dev setups (Cores, RAM, storage)
- standalone Pulsar locally https://pulsar.apache.org/docs/en/standalone/
- standalone Pulsar in Docker  https://pulsar.apache.org/docs/en/standalone-docker/
- Pulsar with Helm on Kubernetes https://pulsar.apache

[2020-11-23 13:38] yanshuchong commented on #8670
thanks a lot @eolivelli ,zookeeper.sessionRequireClientSASLAuth only fix the problem of user auth ,but permission limit still a problem ,but sessionRequireClientSASLAuth  still can intercept most of Illegal request

[2020-11-23 14:29] eolivelli commented on #8670
@yanshuchong  do you think we can close this issue or you would like to see ACLs assigned to every znode ?

[2020-11-23 16:00] EliHarper opened #8672 "Complex Schema Deserialization Issues"
**Describe the bug**
message.value() deserialization failing with complex schema defined within the Python client when using Json and Avro schemas.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the "pulsar-all" image in a Docker container
2. Configure a nested object that uses a previously defined record as a field in another using the Python client
3. Attempt to deserialize the messag

[2020-11-23 16:08] eolivelli opened #8673 "Tests of pulsar-functions-runtime are not passing on 2.7.0rc1 - if you do not have a local Kubernets environment"
**Describe the bug**
Tests are not passing due to an error on Kubernetes client runtime, it created to a default configuration, failing with a NullPointerException.

**To Reproduce**
- build pulsar from 2.7.0rc1 sources
- run tests in pulsar-functions-runtime

**Expected behavior**
Tests are passing

**Desktop (please complete the following information):**
 - OS: Fedora
- Maven 3.6.3
- JDK 1.8 (Op

[2020-11-23 16:14] yanshuchong commented on #8670
@eolivelli  thanks for you reply. i would like to see ACLs assigned to the znode of pulsar zookeeper ,i will open acl in bookkeeper also.
I am considering replacing Kafka with pulsar,because the structure of pulsar separate  computing and storage , but my company's security specifications need to be based on the untrusted authentication status of the intranet,we need make sure every request should

[2020-11-23 16:19] eolivelli commented on #8670
Regarding BookKeeper we already have a "zkEnableSecurity" configuration option.
Put it is to be set on BookKeeper client created by ManagedLedgerFactoryImpl, so that part would be easier to implement

[2020-11-23 16:19] eolivelli commented on #8673
The same error is on pulsar-functions-worker module
[code]

[2020-11-23 16:28] yanshuchong commented on #8670
@eolivelli yes ,I open zkEnableSecurity in bookkeeper.and your are very great in zookeeper and bookkeeper,after do some research of pulsar ,I can just only use SASL/kerberos with TLS，but kerberos will bring in a module of KDC, i like to make our system structure as simple as it can with shorter latency(TLS is our last choose,we can suggest producer encrypt or sign their message if sensitive),  is

[2020-11-23 16:35] eolivelli commented on #8670
As far as I know there is not support for SASL/SCRAM-SHA256/512 in the stack, at least for ZK and BK.
It would be great to see such kind of implementation.
Like using https://github.com/ongres/scram (the library used in PostGRESQL JDBC Driver)

Unfortunately I don't have time, but the stack is pluggable so making an implementation MAY be possible

[2020-11-23 16:40] yanshuchong commented on #8670
@eolivelli  awesome.

[2020-11-24 01:12] BewareMyPower commented on #8254
@BewareMyPower Yeah, you're right. I think it may needs a flag for user to specify whether to set the `UPDATE_LENGTH` flag.

[2020-11-24 01:19] jiazhai commented on #8593
@jiangmincong  This seems more related to the issue https://github.com/apache/pulsar/issues/8533. And @reswqa is helping on this issue.

[2020-11-24 02:19] jiazhai commented on #8593
@jiangmincong  What is the zookeeper side stats when the lookup hang happens? Is Zookeeper in a busy status?

[2020-11-24 02:20] jiazhai commented on #8673
@wolfstudy is helping on this issue.

[2020-11-24 02:37] jiazhai commented on #8672
@EliHarper which version of the Pulsar image are you using?
@gaoran10 @congbobo184  to take a look. Since is easy to reproduce, also mark this as help-wanted, anyone is interested in this issue could also to have a try.

[2020-11-24 03:20] jiangmincong commented on #8593
Hi， I looked at the monitoring and it seemed that the zookeeper status was not very busy during the abnormal time.
![image](https://user-images.githubusercontent.com/22076140/100042610-c5706d00-2e46-11eb-9b1a-d0a8744326b7.png)

[2020-11-24 03:24] jiangmincong commented on #8593
From the JVM monitoring, there seems to be no exception
![image](https://user-images.githubusercontent.com/22076140/100043029-8abb0480-2e47-11eb-98be-24263869ee4c.png)

[2020-11-24 03:38] jiazhai commented on #8666
@jiangmincong Would you please provide more detailed steps of how to reproduce this issue?  It seems that the client and server are not connected well.

[2020-11-24 03:43] wolfstudy commented on #8673
Hello @eolivelli More info reference to: https://apache-pulsar.slack.com/archives/C5ZSVEN4E/p1606187284156200?thread_ts=1606147723.154600&cid=C5ZSVEN4E

[2020-11-24 03:53] zymap opened #8676 "[PIP-50] Package management service implement"
PIP-50 implementation:
- [x] Introduce the packages management interface API #8669  #8680
- [x] Support bookkeeper storage for the packages management storage #8744
- [x] Introduce REST APIs for the package management service #8764 #8858
- [x] Add client-side APIs for the package management service #8816 #8817
- [x] Add integration tests for this service #8876
- [x] Add auth related changes #8893

[2020-11-24 03:56] MarvinCai commented on #4642
I tried to reproduce and actually get an exception. I did the following
1) Create producer with batch enabled.
2) Produce 3 messages,
3) Set connectionhandler state to Connecting
4) Call flush
5) Set connectionhandler state back to Ready and produce 3 messages then call flush again.
I'm seeing
`Got ack for msg. expecting: 0 - 2 - got: 3 - 5 - queue-size: 2`
in log, then connection is closed.
So th

[2020-11-24 05:28] sixhj commented on #8496
docker run -it \
  -p 6650:6650 \
  -p 8080:8080 \
  --mount source=pulsardata,target=/pulsar/data \
  --mount source=pulsarconf,target=/pulsar/conf \
  apachepulsar/pulsar:2.6.2 \
  bin/pulsar standalone

 no.  --name.

docker pull apachepulsar/pulsar-manager:v0.2.0
docker run -it \
    -p 9527:9527 -p 7750:7750 \
    -e SPRING_CONFIGURATION_FILE=/pulsar-manager/pulsar-manager/application.propert

[2020-11-24 06:41] jiangmincong commented on #8666
Hi, My program only appeared after running for about 2 days, and then I restarted the program. Currently, this does not happen. Below is the log information I obtained from the broker server.

broker log：
14:10:05.174 [pulsar-web-42-75] INFO  org.eclipse.jetty.server.RequestLog - 192.168.1.171 - - [21/Nov/2020:14:10:05 +0800] "GET /metrics HTTP/1.1" 302 0 "-" "Prometheus/2.18.0" 1
14:10:05.188 [pr

[2020-11-24 07:41] eolivelli commented on #8673
I have resolved my local problem by starting a **minikube instance**

This is something we should document in some "how-to-build" document.

As we are releasing a source package the users must able to build it and all tests MUST pass, otherwise it is impossible for downstream users to check if the code is in good shape.

cc @ivankelly @merlimat @sijie @rdhabalia @jiazhai

[2020-11-24 08:10] eolivelli opened #8677 "Cannot get lastMessageId for an empty topic (due to message retention)"
**Describe the bug**
It looks like that when a topic remains empty due to message retention, it is not possible to ask for the lastMessageId

I see these errors in the HTTP server logs:

And this line:

**To Reproduce**
I don't have a reproducer yet, I have only seen this issue in production.

**Expected behavior**
Some non-error code should be returned to the client

** System (please complete th

[2020-11-24 08:57] e-marchand-exensa opened #8679 "[Java] [v2.6.2] ConsumerBase: Bug: Removed entry wasn't the expected one."
**Describe the bug**
Found this error log:

**To Reproduce**
I guess hard to reproduce, probably a race condition somewhere.

**Desktop (please complete the following information):**
openjdk version "11.0.8" 2020-07-14
OpenJDK Runtime Environment (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1)
OpenJDK 64-Bit Server VM (build 11.0.8+10-post-Ubuntu-0ubuntu118.04.1, mixed mode, sharing)

[2020-11-24 12:40] xiaotongwang1 opened #8681 "Basic function bug : multi hots like http://localhost:8080,localhost:8081,localhost:8082 not work in sasl auth serviceUrl scenario"
pulsar.version =  2.6.1
		<dependency>
			<groupId>org.apache.pulsar</groupId>
			<artifactId>pulsar-client</artifactId>
			<version>${pulsar.version}</version>
		</dependency>

		<dependency>
			<groupId>org.apache.pulsar</groupId>
			<artifactId>pulsar-client-admin-original</artifactId>
			<version>${pulsar.version}</version>
			<scope>test</scope>
		</dependency>

	sample in pulsar website
   h

[2020-11-24 12:42] KannarFr opened #8682 "[Schemas] only auto update if schema is different than current"
**Is your enhancement request related to a problem? Please describe.**
Currently when a producer contains a schema it is takes as topic Schema and schema version is incremented even if the schema has not changed between producer restarts.

**Describe the solution you'd like**
On allow auto update schema, only update it if the schema changed.

[2020-11-24 14:36] xiaotongwang1 opened #8684 "SASL improvement：config serviceHttpUrl with ip"
admin client code can init with both ip or hosts like :
        PulsarAdminBuilder pulsarAdminBuilder = PulsarAdmin.builder().serviceHttpUrl("http://10.33.50.71:8080");
        or
        PulsarAdminBuilder pulsarAdminBuilder = PulsarAdmin.builder().serviceHttpUrl("http://host-10-33-50-71:8080");

code of PulsarSaslClient.java

       String serverPrincipal = serverType.toLowerCase() + "/" + serve

[2020-11-24 20:18] hpvd opened #8688 "[Doc]Contradictory documentation of websocket features"
**Describe the bug**
at https://pulsar.apache.org/docs/en/client-libraries-websocket/ is written:

When looking at the Pulsar client feature matrix
at https://github.com/apache/pulsar/wiki/Client-Features-Matrix

the picture looks different: Websocket seems to offer by far the least number of features.

**Expected behavior**
Same statements of the documentation at both places.

**Screenshots**
![2

[2020-11-24 20:39] hpvd commented on #2678
imho websocket is for pulsar something like the window to the web world. It enables usage of pulsar for fields like web-tracking,live  chat and many more...
If one see the potential of this community, on should give websocket bugs and features a fair priority in the next releases.
While writing this there are roughly 25 issues regarding websocket topics open.
https://github.com/apache/pulsar/issue

[2020-11-25 00:41] sijie opened #8689 "Clear delayed message tracker when clear backlog"
**Describe the bug**

It seems that when a user attempts to clear the backlog for a user, brokers don't clear the delayed message tracker. So the delayed messages are still indexed in the delay priority queue. It causes confusion when accessing topic stats.

We should clear the delayed message tracker when clearing the backlog.

[2020-11-25 07:07] abhilashmandaliya opened #8694 "advertisedListener should have advertisedPort as well"
**Is your enhancement request related to a problem? Please describe.**
From pulsar 2.6.x, you guys have introduced `advertisedListeners` which is a useful feature. But the problem with that is, it uses the broker/web port underneath which is a problem. Let's say I have 2 containers running pulsar broker and they have the same public IP because they are on the same physical host (e.g. IP 192.168.20

[2020-11-25 08:28] eolivelli commented on #8677
I am working on a fix

[2020-11-25 08:31] munir131 opened #8696 "Admin REST API peek endpoint response should be more neat"
**Is your enhancement request related to a problem? Please describe.**
As per pulsar documentation,
[code]
There is no easy way to extract payload from response of https://pulsar.apache.org/admin-rest-api/?version=2.6.2&apiversion=v2#operation/peekNthMessage endpoint.

**Describe the solution you'd like**
Ideally, peek should only return the payload without protobuf headers/commands. Alternatively

[2020-11-25 09:10] abhilashmandaliya opened #8699 "Http 409 Conflict when running two brokers"
**Describe the bug**
Pulsar throws "HTTP 409 Conflict: Subscription already exists for topic" when you launch 2 brokers. Sometimes it fails with "Failed to fence subscription" as well. And sometimes weird 500 internal server error. I handled it by putting this line in try-catch: https://github.com/apache/pulsar/blob/master/pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Wo

[2020-11-25 09:46] xiaotongwang1 opened #8700 "Unauthorized Error when I use PulsarAdmin API to query another host's ownedNamespaces"
1、init code with one ip of cluster
`       PulsarAdminBuilder pulsarAdminBuilder = PulsarAdmin.builder().serviceHttpUrl("http://host-10-33-50-144:8080");`
2、getActiveBrokers and getOwnedNamespaces
[code]

current brokers : [host-10-33-50-144:8080, host-10-33-50-71:8080, host-10-33-50-88:8080]
current broker : host-10-33-50-144:8080-->{pulsar/pulsar-cluster-1/host-10-33-50-144:8080/0x00000000_0xfff

[2020-11-25 10:02] hpvd opened #8701 "push websocket"
extracted from: https://github.com/apache/pulsar/issues/2678#issuecomment-733220888

**Is your feature request related to a problem? Please describe.**
imho websocket is for pulsar something like "the window to the realtime website world". It enables universal usage of pulsar for fields like web-tracking, live chat and many more...
If one see the potential of this community, one should give websoc

[2020-11-25 11:55] yanshuchong commented on #8700
some error log
9:54:25.058 [pulsar-web-42-12] ERROR org.apache.pulsar.broker.admin.impl.PersistentTopicsBase - [client@MY.REALM] Failed to get list of subscriptions for persistent://www/mynamespace/wxt.mq1-partition-1
javax.ws.rs.WebApplicationException: HTTP 307 Temporary Redirect
	at org.apache.pulsar.broker.web.PulsarWebResource.validateTopicOwnership(PulsarWebResource.java:598) ~[org.apache.pu

[2020-11-25 12:02] yanshuchong commented on #8700
another api  adminClient.topics().getSubscriptions(topic) have same problem  with package

Server 1 :
GET /admin/v2/persistent/www/mynamespace/wxt.mq1-partition-1/subscriptions HTTP/1.1
Accept: application/json
SASL-Type: Kerberos
SaslAuthRoleToken: u=client@MY.REALM&i=6&e=1606309235270&s=eF1GLXyx4QL4+zZsYJTygDVnagBgDDnf016sR5TuCNSHfFmM8bTsNeDOT4hzkG+8wFLm1eKkAm89GEdG3Pq0Pg==
State: Done
host: hos

[2020-11-25 12:19] yanshuchong commented on #8700
the PulsarBroker  kerberos principal in each server are different
Is that the problem?

i will do some test

[2020-11-25 12:52] hpvd commented on #8610
if you like to push websocket possibilities in pulsar,
please just add your thoughts and comments or simply vote for it https://github.com/apache/pulsar/issues/8701

[2020-11-25 12:53] hpvd commented on #8584
if you like to push websocket possibilities in pulsar,
please just add your thoughts and comments or simply vote for or react to it https://github.com/apache/pulsar/issues/8701

[2020-11-25 13:39] codelipenghui commented on #8677
Thanks @eolivelli

[2020-11-25 13:43] codelipenghui commented on #8679
Looks related to #8326, @lhotari could you also please help take a look at this issue?

[2020-11-25 13:46] codelipenghui commented on #8681
@yanshuchong Seems you already found the root cause of this issue? Are you interested in pushing a PR for the fix?

[2020-11-25 13:50] codelipenghui commented on #8682
@KannarFr This expected behavior is the schema will update once the schema is changed. If a producer with the same schema but the schema version is incremented after the producer restart, I think this is a bug. Could you please provide more information about this issue? Which Pulsar version are you using (broker and client) and It would be best if there is a reproducible example

[2020-11-25 13:55] codelipenghui commented on #8688
Thanks @hpvd, we should update the document. @Jennifer88huang @Huanli-Meng Could you please help take a looks at this issue?

[2020-11-25 14:01] codelipenghui commented on #8694
@abhilashmandaliya I think the advertisedListeners does not works for webservice. Could you please send a PIP to the dev mail thread? So that we can have a discussion with the new feature( advertise ports separately) as well.

[2020-11-25 14:03] codelipenghui commented on #8694
@Huanli-Meng @Jennifer88huang I think we can add a document for the `advertisedListeners`. You can find some details about the advertisedListeners at https://github.com/apache/pulsar/wiki/PIP-61%3A-Advertised-multiple-addresses. If you have any problems you can ping me.

[2020-11-25 14:09] KannarFr commented on #8682
@codelipenghui 2.6.2 broker and pulsar-rs latest client. Will try to create a reproductible case.

[2020-11-25 14:20] codelipenghui commented on #8701
Hi @hpvd, I think the community didn’t give unfair treatment to the WebSocket Client. If you want that problem to be solved first? you can left a comment on the issue or create a new issue if there is no issue to track the problem.  Also, If you are interested in fixing the WebSocket client related issue, feel free to push a PR and we will review it and merge it as soon as possible.

[2020-11-25 14:29] Jennifer88huang commented on #8688
@codelipenghui  Sure.
@hpvd Thanks for raising the issue, we should sync the info in different places. Would you like to submit a PR and fix it?

[2020-11-25 15:04] jeames00 commented on #7695
I've been trying to override this classmethod myself, as you did, but not sure what it's supposed to look like.

[2020-11-25 15:36] yanshuchong commented on #8681
@codelipenghui  this issue can be avoid，and I am facing some of block issue，can you help and  check, thanks a lot https://github.com/apache/pulsar/issues/8700

[2020-11-25 16:29] fretiq opened #8703 "Delayed messages + Key_Shared causes blocked consumers"
**Describe the bug**

When combining Key_Shared subscriptions and delayed messages, consumers fail to receive messages.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a topic + Key_Shared subscription
1. Send 40 delayed messages
1. Send 40 messages
1. Create subscription with `receiverQueueSize=10`
1. Create another subscription with `receiverQueueSize=10`
1. Receive messages on eac

[2020-11-25 16:43] hpvd commented on #8701
Hi @codelipenghui,
sorry the word "fair" was not meant as opposite to unfair - of course nothing is unfair here. It is just about a "fair amount of.." which should mean "a reasonable amount" regarding the importance it may have for the adoption of pulsar in the field of websites.
Since i'm not an advanced developer but working in the field of technology prescreening, i'm sadly not able to push a q

[2020-11-25 17:53] bsergean commented on #8584
FYI I have worked around this by writing a websocket client based on libuv, which allow to have multiple tcp connections using a single thread.

https://github.com/bsergean/uvweb/blob/master/uvweb/PulsarClient.cpp

If someone want to gives this a try (it's very alpha) feel free.

Previously I was planning on using [IXWebSocket](https://github.com/machinezone/IXWebSocket) which is designed to have

[2020-11-25 19:25] hpvd commented on #8584
@bsergean many thanks - will have a look into it!

[2020-11-25 19:42] klwilson227 opened #8704 "When upgrading to 2.7 Errors in apply-config-from-env.py prevent configuration files updates."
**Describe the bug**
The zookeeper configuration is applied into the config files via the apply-config-from-env.py. This process run into a error when processing the pulsar_env.sh that now contains lines other than value assignments and receives a fatal error, leaving the configurations in a unwritten state.

In addition the following additional bugs/enhancements will be fixed.
1) If environment v

[2020-11-25 19:42] klwilson227 commented on #8704
I will post a PR for this shortly.

[2020-11-26 00:09] lhotari opened #8710 "Flaky-test: TopicsConsumerImplTest.testConsumerUnackedRedelivery"
The test TopicsConsumerImplTest.testConsumerUnackedRedelivery is flaky

[example failure](https://github.com/apache/pulsar/pull/8706/checks?check_run_id=1456298484#step:9:280):

[code]

[2020-11-26 00:13] lhotari opened #8711 "[CI] Github Actions workflow "CI - Build - Multiple - OS" fails on macos-latest runner"
The Github Actions workflow  "CI - Build - Multiple - OS" fails on macos-latest runner.

[example failure](https://github.com/apache/pulsar/pull/8706/checks?check_run_id=1456298506#step:4:6):
Fails in step "Check if this pull request only changes documentation"
[code]

[2020-11-26 00:16] lhotari opened #8712 "Flaky-test: TopicReaderTest.testHasMessageAvailable"
TopicReaderTest.testHasMessageAvailable is flaky

[example failure](https://github.com/apache/pulsar/pull/8707/checks?check_run_id=1456314338#step:11:306):
[code]

[2020-11-26 01:08] jeames00 commented on #7695
I managed to override the schema classmethod correctly (I think):

[code]
However it doesn't seem to work with 'AvroSchema', after inserting a new field and running again I receive the error:

[code]

[2020-11-26 01:25] #8689 closed

[2020-11-26 01:49] codelipenghui commented on #7076
Close via #8635.

[2020-11-26 01:49] #7076 closed

[2020-11-26 02:15] yanshuchong commented on #8700
10:08:09.894 [pulsar-web-42-8] ERROR org.apache.pulsar.client.impl.auth.PulsarSaslClient - SASL error
10:08:09.894 [pulsar-web-42-8] INFO  org.apache.pulsar.client.impl.auth.PulsarSaslClient - Using JAAS/SASL/GSSAPI auth to connect to server Principal broker/host-10-33-50-115,
10:08:09.900 [pulsar-web-42-8] ERROR org.apache.pulsar.client.impl.auth.PulsarSaslClient - SASL error
10:08:09.901 [pulsar

[2020-11-26 03:36] yanshuchong commented on #8700
AuthenticationProviderSasl  this.signer = new SaslRoleTokenSigner(Long.toString(new Random().nextLong()).getBytes());
sign will failed when HTTP/1.1 307 Temporary Redirect

SaslAuthRoleToken sign by broker1 ,so broker2 will verify failed for the signer are different

[2020-11-26 05:10] #8711 closed

[2020-11-26 07:42] holmes07 opened #8718 "protobuf compile error"
**Describe the bug**
1. add one option fileds at proto file
2. rebuild it by exe :  /d/dev/protobuf-2.4.1/protoc --java_out=src/main/java src/main/proto/PulsarApi.proto

but found error like this ,some method are removed( herer is recycle() )
![企业微信截图_16063763149492](https://user-images.githubusercontent.com/5210343/100321363-88021000-2ffd-11eb-941e-27510819b62c.png)

so which version protobuf sho

[2020-11-26 07:47] holmes07 commented on #8718
It doesn't work even according to the document protobuf/readme.md . Can anyone provide a working solution？

[2020-11-26 08:31] yanshuchong commented on #8700
finally i try to change the code of  org.apache.pulsar.broker.authentication.AuthenticationProviderSasl

line 98： this.signer = new SaslRoleTokenSigner(Long.toString(new Random().nextLong()).getBytes());

to
 this.signer = new SaslRoleTokenSigner("xxxxx".getBytes());

and repleace all  the broker ,make sure all  the broker have the  same secret ,and the cross request will be sign success

[2020-11-26 08:42] tongsucn commented on #8492
@codelipenghui I tried the config you gave me, but the issue persists. But I tried split the big topic into more partitions, the situation is better now. Thanks anyway~

[2020-11-26 08:42] #8492 closed

[2020-11-26 08:49] lhotari commented on #6368
this problem still exists. [recent failure](https://github.com/apache/pulsar/pull/8706/checks?check_run_id=1457587307#step:12:788):
[code]

[2020-11-26 08:59] codelipenghui commented on #8701
It does not matter, I will mark some of them that you have mentioned in 2.7.1 release. So that we can push forward the issue fixes for websocket client.

[2020-11-26 09:01] codelipenghui commented on #8701
I think most of issues that #3493 are been fixed. @hpvd Could you please help double-check?

[2020-11-26 09:20] lhotari opened #8720 "Flaky-test: PulsarFunctionLocalRunTest"
PulsarFunctionLocalRunTest is flaky. The setup method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/8707/checks?check_run_id=1457593039#step:9:171)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
Error:  Tests run: 14, Failures: 3, Errors: 0, Skipped: 3, Time elapsed: 169.285 s <<< FAILURE! - in org.apache.pulsar.functions.worker.PulsarFun

[2020-11-26 09:30] hpvd commented on #8671
in general it would be handy to put hardware recommendations for all setup types(not only for dev setups)  in form of
- number of cores
- amount of RAM [GB]
- amount of storage [GB]

Of course it helps like already done at https://pulsar.apache.org/docs/en/deploy-bare-metal/
 to name the according AWS instances.
But also the "translation" would help for comparison reasons a lot.

In this case:
- f

[2020-11-26 10:37] abhilashmandaliya commented on #8694
@codelipenghui  how can I generate PIP?

[2020-11-26 10:56] psisoyev opened #8721 "[Java client] Reader always `hasMessageAvailable`"
**Describe the bug**
Whenever you create a new `Reader` with `startMessageId` set to `latest` and `startMessageIdInclusive`, `hasMessageAvailable` will be always `true` even if the topic is freshly created without any messages inside. If you remove message inclusiveness, then the issue is not appearing.

**To Reproduce**
[code]
Create a new `Reader` for a new topic, set the settings accordingly, c

[2020-11-26 10:58] nakonczy opened #8722 "RedeliveryCount is 0 on redelivery"
**Describe the bug**
I have a pulsar server with a single topic and a message produced to the topic.
It is a standalone server.
I have a client app having a single consumer.
Subscription type is Shared.
When I receive the message, and then stop the client app before ack-ing, and then start the client app again, then the message is redelivered as expected, but with redeliveryCount=0 (expected 1).
S

[2020-11-26 10:58] nakonczy opened #18239 "RedeliveryCount is 0 on redelivery"
**Describe the bug**
I have a pulsar server with a single topic and a message produced to the topic.
It is a standalone server.
I have a client app having a single consumer.
Subscription type is Shared.
When I receive the message, and then stop the client app before ack-ing, and then start the client app again, then the message is redelivered as expected, but with redeliveryCount=0 (expected 1).
S

[2020-11-26 12:44] hpvd commented on #8688
@Jennifer88huang
Thanks for asking. I think someone with internal technical deep knowlegde and overview should do this, because it's not only about syncing but also about updating to what is possible with latest/up coming version.
I'm pretty new in the pulsar world and at this time only looking from extern (does not have an own active installation - hopefully this will change next year and we choo

[2020-11-26 13:17] jeames00 commented on #7695
Further on my previous comment, it DOES work... eventually. Checking the docker standalone log messages upon sending updated schema the first time:

`12:49:55.948 [pulsar-io-51-3] INFO  org.apache.pulsar.broker.service.ServerCnx - New connection from /172.26.0.1:38094
12:49:55.954 [pulsar-io-51-3] INFO  org.apache.pulsar.broker.service.ServerCnx - [/172.26.0.1:38094][persistent://public/default/my

[2020-11-26 14:33] eolivelli commented on #8677
I have found an error in the logs during TrimConsumedLedgers
20-11-22-03-25-41       [XXX/YYY/ZZZZ] End TrimConsumedLedgers. ledgers=11 totalSize=34130
20-11-22-03-25-41       [XXX/YYY/ZZZZ] Removing ledger 180334035 - size: 1964
20-11-22-03-25-41       [XXX/YYY/ZZZZ] Failed to mark delete while trimming data ledgers: Invalid mark deleted position
20-11-22-03-25-41       [XXX/YYY/ZZZZ] End TrimCon

[2020-11-26 15:29] Jennifer88huang commented on #8688
@hpvd Thanks for sharing this. Welcome to Pulsar community.
I'll take care of this issue after the Summit, and will sync with you next week.
Thanks for raising the issue. If you find any further issue, feel free to let us know.

[2020-11-26 16:56] eolivelli commented on #8677
I have created a reproducer, I will work on a fix tomorrow

[2020-11-26 17:18] lhotari opened #8726 "Flaky-test: MessagePublishBufferThrottleTest.testBlockByPublishRateLimiting"
MessagePublishBufferThrottleTest.testBlockByPublishRateLimiting is flaky. The test fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/8706/checks?check_run_id=1457916704#step:9:884)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
[INFO] Running org.apache.pulsar.broker.service.MessagePublishBufferThrottleTest
Error:  Tests run: 6, Failures: 3,

[2020-11-27 01:05] codelipenghui commented on #8694
@abhilashmandaliya You can draft a PIP with google doc? and send it to the dev@pulsar.apache.org mail list so that we can discuss the new feature there.

[2020-11-27 07:52] eolivelli commented on #8677
The fix is in #8725

[2020-11-27 09:47] eolivelli opened #8730 "[TEST] OverloadShedderTest fails on machines with non English locale"
**Describe the bug**
The test is failing due to unexpected formatting of decimal separators.

[code]

**To Reproduce**
Run the tests on a machine with Italian locale

**Expected behavior**
The test should pass

[2020-11-27 10:31] hpvd commented on #8688
@Jennifer88huang Thanks a lot!
I've seen you have already worked on the feature matrix. Looks already a little more friendly for websocket :-)
Just a question: why are red crosses used in the websocket column for "missing features" but empty fields in the other columns?

[2020-11-27 11:01] hpvd commented on #2682
is this related to https://github.com/apache/pulsar/pull/8724 ?

[2020-11-27 11:02] hpvd commented on #8688
- effectively once for websocket seems to be still open: https://github.com/apache/pulsar/issues/8175
- for NACK Support there is an open pull request: https://github.com/apache/pulsar/pull/8249, https://github.com/apache/pulsar/issues/8247

[2020-11-27 11:08] BewareMyPower opened #8731 "[Pulsar 2.6.2] Partitioned topics was not deleted completely"
**Describe the bug**

After a partitioned topic was automatically deleted because `brokerDeleteInactiveTopicsEnabled=true`, the topic's metadata was not deleted but we cannot get the topic's info and also cannot create the same topic.

The current state is:

[code]

And before the topic was deleted, the stats is different because I have sent a message:

[code]

**To Reproduce**
It happened when I

[2020-11-27 12:13] 315157973 commented on #8731
https://github.com/apache/pulsar/pull/8442
Has this pr fixed the problem?

[2020-11-27 13:21] erobot opened #8734 "[C++] Batch message should reserve some buffers for subsequent messages"
**Describe the bug**
Change #8283 makes no buffer reserved for subsequent messages, so each new message in batch leads to a new buffer allocation and data copy. In our case, cpu usage increases about 20% compared to v2.6.0.

**To Reproduce**
Steps to reproduce the behavior:
1. Use cpp client version v2.6.2
2. Use batch message send
3. Have many messages in a batch
4. Commands::serializeSingleMessa

[2020-11-27 14:03] BewareMyPower commented on #8731
Yeah, thx for your help.

[2020-11-27 14:03] #8731 closed

[2020-11-27 14:23] BewareMyPower commented on #8734
LGTM for this solution. I think you can push a PR.

[2020-11-27 16:40] #8726 closed

[2020-11-28 06:54] eav opened #8737 "pulsar-admin doesn't respect pulsar.service.url set in the connector config"
**Describe the bug**
Trying to run debezium-postgres connector from pod in kubernetes, pg and pulsar are also deployed as separate pods. Looks like connector doesn't take into account provided pulsar.service.url: "pulsar://pulsar:6650" but trying to connect to  localhost/127.0.0.1:6650

The run command for connector:
[code]

Logs from connector:
[code]

Connector config:

[code]

[2020-11-28 07:44] lxcid commented on #8502
I think the issue is that debezium 1.0.0 final have a known connection bug with Postgres which is fix in the later version like 1.1.0.Beta1 or 1.0.1.Final. If we bump this version. It should resolve the issue.

[2020-11-28 13:33] 315157973 commented on #8712
I checked this and found it to be a bug. Now the broker has an `ackSet` to record the ack position of a message in `BatchMessage`. But the client did not return this ack position when calling `GetLastMessageId`. This will happen:
The MessagId of seek is `3:31:-1:0` and the lastMessageIdInBroker is `3:31:-1`.
Therefore, when compareTo is called, it must return <0, which causes hasMessageAvailable t

[2020-11-28 20:50] #8710 closed

[2020-11-29 05:49] zubchenok commented on #6555
Unable to maintain a local consumer cache if I don't know when a key is not served by the consumer any more.

[2020-11-30 08:06] sijie commented on #8737
`pulsar.service.url` is used for the offset topic used in debezium. It is not the one used for connecting to the sink topic.

You can run `bin/pulsar-admin --admin-url http://pulsar:8080 sources localrun --source-config-file configs/pg-pulsar-config.yaml` to point to the right pulsar cluster.

---

@Jennifer88huang @Huanli-Meng Can you take a look at this thread to improve our documentation for de

[2020-11-30 08:09] Huanli-Meng commented on #8737
Got it. will check the doc and update it accordingly.

[2020-11-30 11:03] eav commented on #8737
ok, works now, I had to provide  --broker-service-url pulsar://pulsar:6650 as well.

[2020-11-30 17:24] Lanayx commented on #6527
@sijie Hi, is adding key shared mode on the roadmap soon?

[2020-11-30 18:29] sijie commented on #6527
@Lanayx I think @wolfstudy is picking that up already.

[2020-11-30 19:04] michaeljmarshall opened #8751 "Pulsar containers should not run as the root user"
**Is your enhancement request related to a problem? Please describe.**
The image produced by pulsar unnecessarily runs as the root user. My company requires applications to run with the least privilege necessary, and the current pulsar docker images do not comply with that policy.

**Describe the solution you'd like**
Given that pulsar only needs privileges to read/write from/to certain directorie

[2020-11-30 20:02] david-streamlio opened #8752 "Can't deploy Stateful Pulsar Functions"
**Describe the bug**
Getting the following error when deploying a Stateful Pulsar Function on a docker container running the apachepulsar/standalone:latest version of the Docker Image.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start a Docker container using apachepulsar/pulsar-standalone:latest
2. Start a LocalRunner instance pointing to the container, e.g.
    localRunner = Lo

[2020-11-30 20:42] hpvd commented on #8751
related to https://github.com/apache/pulsar/issues/7210

[2020-11-30 20:53] eolivelli commented on #8752
The current master of Pulsar is using BK 4.12.

Btw it looks like a compatibility problem with Guava and not directly with BK version

[2020-11-30 21:23] david-streamlio commented on #8752
Thanks Enrico. The problem is that the current apachepulsar/pulsar-standalone:latest Docker image published on DockerHub still contains the older version (4.10) of all the BK jars.  I think someone with publish permission for the apachepulsar/pulsar-standalone image needs to just run and publish a newer version that is based on the the 2.8.0 version IMHO

[2020-11-30 22:28] sp-davidpichler opened #8753 "Mac OSX pulsar-client python wheels missing for 2.6.2"
**Describe the bug**
The wheels for macosx seem to be missing on the latest release of pulsar: https://pypi.org/project/pulsar-client/#files. The osx wheels are present for https://pypi.org/project/pulsar-client/2.6.1/#files

**To Reproduce**
Steps to reproduce the behavior:
1. Be on Mac OSX 10.14.6 and python==3.7
2. Run `pip install pulsar-client==2.6.2`

**Expected behavior**
The python client

[2020-12-01 01:54] wolfstudy commented on #6527
Yes, we already support key_shared mode on pulsar functions in #7647.

[2020-12-01 02:14] flowchartsman commented on #8216
Testing has been unsuccessful so far, but I may be doing something wrong. Currently testing #8365 with `--user-config '{"foo":"bar"}'` but getting

[code]

[2020-12-01 02:17] sijie commented on #8320
This is fixed by #8434

[2020-12-01 02:17] #8320 closed

[2020-12-01 02:20] sijie opened #8754 "[Function] Support cluster location for input/output topic in Pulsar for different lanaguages"
We support cluster location for input/output topic in Java functions (apache/pulsar#8320). We need to provide the same functionality for other languages.

- [ ] Python
- [ ] Go

[2020-12-01 02:53] #8734 closed

[2020-12-01 02:55] #8721 closed

[2020-12-01 05:16] flowchartsman commented on #8216
@vaihtovirta I have discovered a couple of issues. The first issue is that spurious single quotes (`'`) are getting added to the arguments to the pulsar function, causing it to fail. The offending line is located in `pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/RuntimeUtils.java`:

[code]

Should be:

[code]

[2020-12-01 05:30] flowchartsman opened #8757 "[Go functions]: Spurious single-quotes added to user-conf"
**Describe the bug**
When go functions are run with `--user-conf` they fail because single quotes are getting added to the argument when they're not needed.

**To Reproduce**
`pulsar-admin functions create --name test --namespace default --go <path to pfunc binary> --inputs test --output test.o
ut --user-config '{"foo":"bar"}'`

**Expected behavior**
Pulsar function starts

**Additional context**

[2020-12-01 05:30] flowchartsman commented on #8757
cc @vaihtovirta

[2020-12-01 05:55] flowchartsman commented on #8757
ref: #8216

[2020-12-01 06:31] Lanayx commented on #6527
That's great news!

[2020-12-01 08:27] xuesongxs opened #8759 "DeadLetterPolicy, If allowAutoTopicCreation enabled in broker, the same subscriber name will conflict under different non-partitioned topics"
**Describe the bug**
Consumer code:
            Consumer<String> consumer = getClient().newConsumer(Schema.STRING)
                    .topic("persistent://public/default/test-string2")
                    .subscriptionType(SubscriptionType.Shared)
                    .subscriptionName("my-subscription32")
                    .enableRetry(true)
                    .deadLetterPolicy(DeadLetterPolic

[2020-12-01 08:32] BewareMyPower commented on #8175
The WebSocket already supports effectively-once because the client side only needs to set producer name and timeout, i.e. `sendTimeoutMillis` and `producerName`. See http://pulsar.apache.org/docs/en/client-libraries-websocket/#producer-endpoint for details.

The effectively-once means message deduplication from producer side, see http://pulsar.apache.org/docs/en/cookbooks-deduplication/#pulsar-cli

[2020-12-01 08:34] Jennifer88huang commented on #8688
@hpvd Thank you very much for your feedback. I'd like to explain the following points:
1. I've updated the [client feature matrix page](https://github.com/apache/pulsar/wiki/Client-Features-Matrix) accordingly. Some features in Websocket are not supported, yet we have plan to support them in the future. If you are familiar with any feature and would like to help, feel free to contact us.
2. Effect

[2020-12-01 08:39] hpvd commented on #8688
@Jennifer88huang
Many thanks for these details  and work!
4 -> sounds perfect!

[2020-12-01 12:16] jeames00 commented on #7695
I'm no longer confident it's solely an issue with the Python schema classmethod. I also get the same 'IncompatibleSchemaException' error with a Java producer after updating the struct schema, the newly added field is also missing the 'default' field.

Namespace values are set to:

[code]

[2020-12-01 14:02] flowchartsman opened #8769 "[Go functions]: Panic on discard message"
**Describe the bug**
Go functions with the signature `func contextFunc(ctx context.Context, in []byte) ([]byte, error)` crash on attempting to discard the message by returning nil.

**To Reproduce**

Create a pulsar function with the following code:

[code]

Deploy: `pulsar-admin functions create --name test --namespace default --go <path to function binary> --inputs test --output test.out`

[code

[2020-12-01 15:04] cvuijst commented on #8175
Sounds like a solution, thank you for the additional description.

[2020-12-01 15:04] #8175 closed

[2020-12-01 15:10] EliHarper commented on #8672
I'm sorry for the late response, and thanks for getting back to me.

I'm pulled the latest on 11/9, which I believe is 2.6.2, according to the digest (4baf6e...)

Thanks again for your help, and please let me know if there's anything else I can get for you.

[2020-12-01 17:48] michaeljmarshall opened #8770 "SIGTERM Not Forwarded to Component Process for bin/pulsar Script, Preventing Clean Shutdown"
I am deploying a pulsar cluster on Kubernetes using the `apachepulsar/pulsar-all:2.6.2` docker image. I start each of the component containers using the `bin/pulsar` script. This is the same method used by the pulsar helm chart.

I've noticed that when stopping any of the component pods (Zookeeper, Broker, Bookkeeper), they do not run their shutdown hooks, but are instead killed forcefully after t

[2020-12-01 17:50] michaeljmarshall commented on #8770
The same improvement could be made to the [bin/bookkeeper](https://github.com/apache/bookkeeper/blob/master/bin/bookkeeper) script in the bookkeeper project.

[2020-12-01 18:22] flowchartsman commented on #8769
The issue appears to be a mismatch between `inputMessage.Topic()` and the consumers in `gi.consumers`:

If `ackInputMessage` is instrumented like so
[code]
In the logs we see:

[code]
I am unsure whether the failure here is with pulsar-admin or with my use of an abbreviated topic, but in any case a panic is not helpful.

[2020-12-01 18:38] lhotari commented on #8770
@michaeljmarshall  It might be an issue in the deployment too. I recently fixed a related problem in the helm charts with https://github.com/apache/pulsar-helm-chart/pull/59 . Please check that your deployment doesn't block the signals.

What is the problem in using `exec`? I'd assume that it's the best practice.

[2020-12-01 18:52] michaeljmarshall commented on #8770
@lhotari - thanks for your quick comment. You're right that the issue was with my deployment, and that by changing `bin/pulsar bookie` to `exec bin/pulsar bookie`, the sigterm is properly handled by the component process.

In case anyone else runs across this, I started with this:

[code]

and changed it to this:

[code]

and now it works.

[2020-12-01 18:52] #8770 closed

[2020-12-01 19:37] vaihtovirta commented on #8216
Hey @flowchartsman
It seems the change has been introduced here: [k8s runtime with go functions support #8352](https://github.com/apache/pulsar/pull/8352/files#diff-aafe8947b1fae9aec06d90c14db1b3b9fe720eb2a55ca48bfe7b43ecfb39efb4R231)
Also, it looks like python and java functions use a similar technique, but process configuration string through `JsonFormat.printer()`:
https://github.com/apache/pul

[2020-12-01 20:08] sp-davidpichler opened #8772 "Python pulsar-client schema support for pulsar function's output"
**Is your enhancement request related to a problem? Please describe.**
As the python pulsar client is currently written, I don't think pulsar functions output schema can be configured

**Describe the solution you'd like**
The user should be able to specify the output schema when deploying a function

**Describe alternatives you've considered**
I could write my functions like the following but woul

[2020-12-01 20:36] haphut commented on #6526
Another variant of this problem occurs when we are using an in-order pub-sub API, e.g. an MQTT API, or any ephemeral event source to feed Pulsar.

If we are running only one instance of the Pulsar Producer or Pulsar Source and the instance crashes or has network issues, some messages might never reach Pulsar. An obvious HA solution would have several identical instances of Producers running in par

[2020-12-01 22:53] jeames00 commented on #7695
I've fiddled around some more, testing a Python and Java producer side-by-side, each one iterating the schema incrementally. It seems that to make a Python client produce schema that is compatible with that produced by the Java client, the following modification would be necessary:

[code]

For example in the generated JSON schema, Python sets an empty string as the default for String whereas Java

[2020-12-02 00:50] wolfstudy commented on #8757
Thanks @flowchartsman feedback, `single-quotes` may be more used for JSON parsing, so we need to confirm whether the string JSON to be parsed is correct?

@freeznet When you implemented the corresponding function, did you encounter the problem of json parsing error, so you added the following code?

[code]

[2020-12-02 00:59] wolfstudy commented on #8769
@flowchartsman If our go function does not require a return value, we can use the following method:

[code]

This panic is caused by not handling the case where the output is nil. When a user uses a signature with an output function, we will assume that the output is a result by default, and we should add the processing of the nil value here, thanks @flowchartsman feedback.

[2020-12-02 01:54] sijie commented on #8753
@jiazhai @codelipenghui Can you check this issue?

[2020-12-02 02:17] wolfstudy commented on #8769
@flowchartsman I will fix this issue, thanks to feedback.

[2020-12-02 02:23] jiazhai commented on #8752
@david-streamlio This step is include in the 2.7 release. @codelipenghui  updated it 21 hours ago. not the latest tag is the same as 2.7.0 tag.
It should be Ok now. Would you please verify the issue fixed?

[2020-12-02 03:37] Jennifer88huang commented on #5959
I've updated the page to the latest release https://github.com/apache/pulsar/wiki/Client-Features-Matrix

[2020-12-02 03:38] Jennifer88huang commented on #5959
I think we need to add a workflow to remember update this page before each release.
Thank you all for your reminder.

[2020-12-02 03:39] Renkai commented on #8591
PIP draft at google docs:
https://docs.google.com/document/d/1IyTd3GyUjGacu9bP3M1R9YINMTPC8xzhRigApsCpzTo/edit#heading=h.irwvg5wh2y3i

[2020-12-02 04:04] Jennifer88huang commented on #8377
It works now.

[2020-12-02 04:04] #8377 closed

[2020-12-02 04:53] arumugamtp commented on #8502
@hangc0276  => Yup, I am trying to understand the issue and looking for a fix.

@lxcid => Thanks for the lead..

[2020-12-02 05:51] #8688 closed

[2020-12-02 06:00] sijie commented on #8718
@holmes07

Please use this following command. It is documented in the README.

[code]

---

@Jennifer88huang We might consider update the protobuf/readme.md file to make it clear.

[2020-12-02 06:14] holmes07 commented on #8718
got it . i will try it later.  thanks ~

[2020-12-02 06:20] Lanayx commented on #5959
@Jennifer88huang Thanks for the update! However it's not enough, there's a dozen of other features that clients should support and they should also be reflected on the matrix

[2020-12-02 06:56] xuesongxs opened #8778 "DeadLetterPolicy, If allowAutoTopicCreation enabled in broker, The number of automatically created DLQ topic partitions is not correct"
**Describe the bug**
Comsuer code：
            Consumer<String> consumer = getClient().newConsumer(Schema.STRING)
                    .topic("persistent://public/default/test-string8")
                    .subscriptionType(SubscriptionType.Shared)
                    .subscriptionName("my-subscription32")
                    .deadLetterPolicy(DeadLetterPolicy.builder()

[2020-12-02 08:13] Jennifer88huang commented on #5959
@Lanayx Thanks. Would you like to update on the WIKI page?
I was wondering whether it would be better to add a table directly in http://pulsar.apache.org/docs/en/next/client-libraries/#feature-matrix

[2020-12-02 09:27] Lanayx commented on #5959
@Jennifer88huang it really might be better to move it to the site page as it would allow sending PRs there. I can enumerate the features that should be added, but the research should be made to figure out which libraries support which features. As for features I can name: e2e encryption, batchReceive, statistics, receive cancellation, batchIndex acks, chunking support, retryLetterTopic, SNI, produ

[2020-12-02 09:44] Jennifer88huang commented on #5959
@Lanayx Would you like to create a table in http://pulsar.apache.org/docs/en/next/client-libraries/#feature-matrix and add the features you mentioned here? Or we can create the table, so everyone can help to update with PRs.
Never mind that you might miss some, you can add more in the following PRs.

[2020-12-02 09:44] 180254 opened #8783 "non-persistent topic unsubscribing hangs and makes topic unusable"
**Describe the bug**
non-persistent topic doesn't allow new subscriptions to be created, after removing some subscription due to expiration.
This has happend several times over the past weeks.
Restarting affected broker fixes the issue.

**To Reproduce**
We have non-persistent topic configured as follows:
[code]

Issue timeline:
1. Topic was working correctly.
2. We see the following pulsar logs:

[2020-12-02 11:28] jiazhai opened #8787 "Add setter for the reader subscription name"
In the current reader, we set the subscription name combine with a random part.
e.g. in java impl:
[code]

This is OK for most of the case, but some times user may want to track the stats of the reader(e.g. by prometheus), and want to have a way to set the reader to a fixed name to make it easy to track.

It would be helpful to provide a way to set the internal subscription name for reader.

[2020-12-02 11:57] mkozioro commented on #8783
EDIT:
After enabling debug on org.apache.pulsar.broker.service.nonpersistent, we've seen adding new consumer & subscription hangs after logging:
[code]

It fits to code in NonPersistentTopic:
[code]

Is it possible that there is something wrong with subscriptions collection (ConcurrentOpenHashMap<String, NonPersistentSubscription>)?

When we saw previously Unsibscribing.... log, the next thing tha

[2020-12-02 13:16] baynes commented on #8344
Maybe. But It won't be for until after Christmas before I have any time to try. I am happy for someone else to take it on if they want to.

[2020-12-02 13:57] Lanayx commented on #5959
@Jennifer88huang can you please create a table, managing markup is not my strength :)

[2020-12-02 14:10] zymap opened #8790 "The test HealthCheckTest.testBookKeeperDown always failed"
The test HealthCheckTest.testBookKeeperDown failed in a lot of PRs.

Failed log:

[code]

[2020-12-02 14:28] Jennifer88huang commented on #5959
@Lanayx sure, we can do that soon.

[2020-12-02 15:04] toneill818 opened #8793 "Store Docker Images in AWS ECR Public"
**Is your enhancement request related to a problem? Please describe.**
DockerHub has aggressive rate limits now and impacts the usage when running Apache Pulsar on Kubernetes, if the rate limit is reached.

**Describe the solution you'd like**
AWS created the public ECR with not rate limiting. The solution could be to store images in Dockerhub and AWS ECR and possibly Google's GCR. This will allow

[2020-12-02 16:28] sijie opened #8794 "[Python] Publish python clients for macOS Big Sur"
Big Sur was released a couple of weeks ago. We should be looking into publishing python clients for macOS Big Sur users.

[2020-12-02 17:33] flowchartsman opened #8795 "[Pulsar Functions] Support URL fetching for Go functions"
Both `pulsar-admin` and `pulsarctl` support instructing the API to fetch a jar for a pulsar function from a URL.

This is very handy for functions which share code, since an endpoint can be set up locally to provide fast access to deploying these functions. Since Go functions are single binaries, this feature would work very well for them as well.

Examples for `--jar`

**`pulsar-admin`**
[code]

[2020-12-02 18:25] mkozioro commented on #8783
We've added some logging to NonPersistentTopic.java and rebuilt docker image:
[code]

Now we see in logs that subscribing hangs on:
[code]
And there is no ...Created NonPersistentSubscription ...

[2020-12-02 23:41] #8790 closed

[2020-12-03 01:07] zymap commented on #8150
That cause by my network.

[2020-12-03 01:07] #8150 closed

[2020-12-03 01:27] #8769 closed

[2020-12-03 01:29] xuesongxs opened #8797 "pulsar_ env.sh add different JVM options for different components"
**Is your feature request related to a problem? Please describe.**
Multiple components of pulsar are deployed on a machine, and all components share a pulsar when they are PULSAR_MEM environment variable. If the JVM memory settings of each component are different, you can either export PULSAR_MEM when starting different components, or modify PULSAR_MEM in pulsar_env.sh, Each component can be provi

[2020-12-03 04:13] aloyszhang commented on #8787
Currently, we can set the readername by
[code]
But  `readerName` is used for setting  consuemrName (not subscription name) for the internal subscription
[code]
I think we can set the subscription name  by :
1. if we set the `readerName`, we can set the subcription name to `readerName`
2. if not set the `readerName`, we use the origin logic which is  ”reader-“ or "multiTopicsReader-"  combine with

[2020-12-03 04:57] 315157973 commented on #8787
If we want to customize the settings of `conusmerName` and `subName` separately, this way cannot be done. So is it better to add a `subName`?

[2020-12-03 05:29] 315157973 commented on #8759
I will fix it

[2020-12-03 05:40] aloyszhang commented on #8787
It's better to have two seperate setting for `subName` and `consumerName` if we want to distinguish different consumers in a same subscription.  Actually, internal subscription of reader is EXCLUSIVE type,  maybe it's not necessary to distinguish consumers.
What I'm considering is that if we have all of  `readerName`, `subscriptionName` and `consumerName`, it's will bring some complexity for under

[2020-12-03 06:26] 315157973 commented on #8759
Fixing this issue is simple. But if we modify the rules of name generation when DLQ is automatically created, there will be backward compatibility issues. So it needs to be discussed.

The current generation rules are as follows:
[code]

[2020-12-03 06:28] zongtanghu commented on #8308
This issue can you help to resolve it? @zhanghaou @shaojie

[2020-12-03 06:31] #8730 closed

[2020-12-03 06:32] #8712 closed

[2020-12-03 09:08] #8718 closed

[2020-12-03 09:11] #8704 closed

[2020-12-03 09:19] mkozioro commented on #8783
Hi.

I've checked again on broker with more debugging lines, and the first time issue appears is:
[code]

Which fits to code fron NonPersistentTopic:
[code]

There is no "Unsubscribed subscription from topic" log line. Somehow operations on ConcurrentOpenHashMap hangs.

[2020-12-03 09:24] sijie commented on #8699
@abhilashmandaliya Are you interested in contributing a fix?

[2020-12-03 10:04] hpvd opened #8811 "Docker is deprecated in Kubernetes -> identify need for action"
**Is your feature request related to a problem? Please describe.**
Docker is **now deprecated** in Kubernetes.
By the **end of 2021** "dockershim" which implements CRI support for Docker will be **removed.**

see:
https://dev.to/inductor/wait-docker-is-deprecated-in-kubernetes-now-what-do-i-do-e4m
https://kubernetes.io/blog/2020/12/02/dockershim-faq/

**Describe the solution you'd like**
Directly

[2020-12-03 10:12] holmes07 opened #8812 "advertisedAddress question"
is a broker can supports both internal and external network ip ?
i want to  run one cluster support diff network env, is there any solutions？

[2020-12-03 10:15] sijie commented on #8583
@xuesongxs All the ledgers in the `ledgers` list are all `closed`.

[2020-12-03 10:23] BewareMyPower opened #8813 "Get partition metadata for a non-existed topic returns 0"
**Describe the bug**
When getting the partition metadata for a non-existed topic, it returns 0 instead of throwing an exception.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a pulsar standalone
2. Get a topic's partition number

[code]

3. The output is 0 and no exception was thrown.

**Expected behavior**
It should throw an exception because for a non-partitioned topic, its partition

[2020-12-03 10:55] mkozioro commented on #8783
Hi,

In NonPersistentTopic there is checkInactiveSubscriptions method that is going through subscriptions using forEach method:
[code]

NonPersistentSubscription is removed by unsubscribing from NonPersistentTopic:
[code]
[code]

This is causing locking failure in ConcurrentOpenHashMap.
I've made simple code that makes similar locking failure:
[code]

Result is similar like in broker:
[code]
Code

[2020-12-03 10:55] abhilashmandaliya commented on #8699
yes but I am not sure where to fix this. will need some guidance from you people

[2020-12-03 10:56] hpvd commented on #8701
@codelipenghui of course one can check this versions manually but what do you think of making it an automated routine before every release?

what would help (if not already used):

1. enabling githubs alerts for vulnerable dependencies for pulsar see https://docs.github.com/en/free-pro-team@latest/github/managing-security-vulnerabilities/about-alerts-for-vulnerable-dependencies

-> if possible a b

[2020-12-03 11:13] hpvd opened #8815 "Automated security and update routine before release"
**Is your enhancement request related to a problem? Please describe.**
To get the most out of every release regarding security, performance and "bug-freeness" it may be a good idea to make reasonable updating of dependencies a good routine before every release.

**Describe the solution you'd like**

what would help (if not already used):

1. enabling githubs alerts for vulnerable dependencies for

[2020-12-03 11:16] hpvd commented on #3493
one could solve/minimize this for the future with:
Automated security and update routine before every release
https://github.com/apache/pulsar/issues/8815

[2020-12-03 11:28] hpvd commented on #5979
@sijie  this one likes to have the "component/websocket" label

[2020-12-03 20:37] hpvd commented on #8811
good summarizing thread (with 10 parts): https://twitter.com/Dixie3Flatline/status/1334188913724850177

[2020-12-03 22:10] cdbartholomew commented on #8811
From Kubernetes web site:

"Docker as an underlying runtime is being deprecated in favor of runtimes that use the Container Runtime Interface(CRI) created for Kubernetes. **Docker-produced images will continue to work in your cluster with all runtimes, as they always have.**"
https://kubernetes.io/blog/2020/12/02/dont-panic-kubernetes-and-docker/ (edited)

Kubernetes
Don't Panic: Kubernetes and Do

[2020-12-04 07:08] merlimat opened #8825 "Test BatchMessageIndexAckTest.testDoNotRecycleAckSetMultipleTimes is failing"
There's a bug in master and tests are failing.

The issue was introduced in #8161 and the test `BatchMessageIndexAckTest.testDoNotRecycleAckSetMultipleTimes` is failing as a result, although apparently is not being run from Github.

[code]

We should also understand why the PR validation jobs are not running all the tests and which ones are missing.

@congbobo @codelipenghui Please take a look.

[2020-12-04 07:22] codelipenghui commented on #8825
@merlimat Thanks, we will take a look soon.

[2020-12-04 07:40] #8757 closed

[2020-12-04 07:53] Renkai commented on #8591
Official PIP: https://github.com/apache/pulsar/wiki/PIP-73%3A-Configurable-data-source-priority-for-message-reading

[2020-12-04 08:04] aloyszhang opened #8827 "AdminResource#fetchPartitionedTopicMetadata Exception cast error"
**Describe the bug**
[code]
if `pulsar.getBrokerService().fetchPartitionedTopicMetadataAsync(topicName).get()` throws exception and `e.getCause()`  is instance of `RestException`, will meet exception cast error like
[code]
This reason is that `CompletableFuture#get` may throw `InterruptedException` or `ExecutionException`, both of these two exception can't be cast to `RestException`.
We should use

[2020-12-04 08:33] hpvd commented on #8811
yes, one have to look at this topic in detail when docker is not supported anymore:

this and some other interesting stuff in the following paragraph can be found here:
https://cloud.google.com/kubernetes-engine/docs/concepts/using-containerd

[2020-12-04 08:38] hpvd commented on #8811
so it's about looking at the
- dev-
- build- and
- operation processes
to identify "the need for action" resulting from this topic.

[2020-12-04 08:56] hpvd commented on #8793
To make it available from as many places as possible, is also a way to make pulsar even more visible  (Marketing) and grow the community and adoption :-)

[2020-12-04 10:19] wolfstudy commented on #8216
@flowchartsman It seems that #8780 is already solving this problem, can you help to check whether we can close this issue, thanks.

[2020-12-04 12:43] hpvd commented on #8815
here you can find a blog post with the anoucement of the availability of  automatic code scanning for security
https://github.blog/2020-09-30-code-scanning-is-now-available/

[2020-12-04 14:31] cbornet commented on #271
Since v2.7.0 has been released, you can now use the [gRPC protocol handler](https://github.com/cbornet/pulsar-grpc) which implements [PIP59](https://github.com/apache/pulsar/wiki/PIP-59%3A-gPRC-Protocol-Handler).
So far all features of 2.7.0 are implemented except transactions (coming soon) and credentials refreshing (probably harder).
You can download a pre-version of the nar [here](https://githu

[2020-12-04 14:44] geomagilles commented on #6527
Does it mean this issue should be closed with 2.7? Is there somewhere in the documentation explaining how to use it this feature?

[2020-12-04 15:22] astream2018 opened #8830 "Support Pulsar Python client for windows 10"
Currently i'm trying to use Python (3.7, 3.8) client for windows 10.
This seems not to work.
On the Pulsar side the 2 supported platforms are also Linux and MacOs.

As most of the companies laptop are operating on Windows (10).
It would be a big plus to also make the client work on Windows 10 laptops.

[2020-12-04 17:31] #8827 closed

[2020-12-04 17:44] merlimat commented on #8825
Thanks for fixing this quickly

[2020-12-04 22:17] geomagilles opened #8832 "consumer do not use custom SchemaReader when provided (2.7)"
**Describe the bug**
When creating a new Consumer with custom SchemaDefinition:
[code]
then `myReader` is not used when trying to deserialized value and
[code]
throws an error (the message was initially serialized with a producer using `myWriter`)

**Expected behavior**
I expect `myReader` to be used to deserialize `Message<T>` and `Message<T>.value()` been correctly deserialized

**Screenshots**

[2020-12-05 15:03] moutasemalakkad opened #8833 "Failed to start Pulsar in stand alone mode"
#### Expected behavior
Pulsar Standalone should start using command: bin/pulsar standalone

#### Actual behavior

Error: Could not find or load main class org.apache.pulsar.PulsarStandaloneStarter
Caused by: java.lang.ClassNotFoundException: org.apache.pulsar.PulsarStandaloneStarter

#### System configuration
**Pulsar version**: 2.7.0

[2020-12-06 08:06] MarvinCai opened #8834 "Make Pulsar Dispatcher Pluggable"
**Is your enhancement request related to a problem? Please describe.**
To support features like apache/pulsar#8544 without changing default dispatcher, we should to make the dispatcher pluggable. So user will be able to customize their own dispatcher can replace the default one.

**Describe the solution you'd like**
Add config to specify if customized dispatcher is needed for each subscription mod

[2020-12-06 08:57] eolivelli opened #8836 "NullPointerException while boostrapping a Producer with a Reader with a Schema (pulsar 2.8.0-SNAPSHOT) standalone"
**Describe the bug**

A NullPointerException happens when you create a Producer, write messages with a Schema, then start a Reader on the topic.
Using current master at 05c91569b5ec7e2b83395b8f30f7802912e793a7

Steps
- start pulsar standalone
- create a Java Producer with Avro schema, on persistent://public/default/topic
- topic is auto created
- create a reader with the same Java schema
- see the

[2020-12-06 11:09] cbornet commented on #271
New pre-release with full transaction support : https://github.com/cbornet/pulsar-grpc/releases/tag/v1.0.0-20201206-rc

[2020-12-07 01:01] wolfstudy commented on #8795
The issue will be supported in #8808, so close this issue.

[2020-12-07 01:01] #8795 closed

[2020-12-07 01:02] #8216 closed

[2020-12-07 02:27] Shoothzj opened #8838 "Does topic policy plans to be required feature"
In future, does topic policy plans to be required feature ? Or an optional feature.

[2020-12-07 02:37] #8783 closed

[2020-12-07 02:37] #8787 closed

[2020-12-07 02:52] hepyu opened #8839 "how to retain the message when messages were consumed?"
how to retain the message when messages were consumed?

Because when app occur errors, we need reconsumed the messages.

Is this config in bookeeper.conf ?

[2020-12-07 04:03] tuteng opened #8843 "Enable spotbugs for pulsar-io module"
**Is your enhancement request related to a problem? Please describe.**

- [x] aerospike(https://github.com/apache/pulsar/pull/8842)
- [x] aws(https://github.com/apache/pulsar/pull/8842)
- [ ] core
- [x] batch-discovery-triggerers(#8889)
- [x] batch-data-generator(#8889 )
- [ ] common
- [ ] docs
- [ ] twitter
- [ ] cassandra
- [ ] kafka
- [ ] rabbitmq
- [ ] kinesis
- [ ] hdfs3
- [ ] jdbc
- [ ] jdbc

[2020-12-07 05:37] johanhaleby commented on #5252
I think this would be a great contribution.

[2020-12-07 08:29] ltamber opened #8846 "[Pulsar Client Cpp] memory leak when receive async"
**Describe the bug**
Currently when the consumer invoke `receiveAsync()`, there will a callback push to `pendingReceives_ `, https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/lib/ConsumerImpl.cc#L644, but if where has no more message in the topic, the callback in  `pendingReceives_` will not pop anymore, and lead to memory leak.

**To Reproduce**
Steps to reproduce the behavior:
1. in

[2020-12-07 08:33] #8338 closed

[2020-12-07 11:43] hepyu commented on #8839
here:
https://pulsar.apache.org/docs/en/2.6.2/cookbooks-retention-expiry/

[2020-12-07 11:43] #8839 closed

[2020-12-07 12:03] codelipenghui commented on #8838
@Shoothzj It's an optional feature, please provide more details that you met. Thanks.

[2020-12-07 12:07] codelipenghui commented on #8825
close this issue via #8829

[2020-12-07 12:07] #8825 closed

[2020-12-07 12:23] codelipenghui commented on #8722
Hi @nakonczy , Currently only the client call redeliver messages(use redelivery method or enable ack timeout) will result in the message redelivery count increase. The redelivery count is introduced by the DLQ feature in Pulsar originally. If the connection broker also lead to the redelivery count increase, the consumer might never process the message but the message delivered to the DLQ.

[2020-12-07 12:57] skyrocknroll opened #8849 "Failed to create Producer"
**Describe the bug**
We are seeing a lot of following ERROR logs
[code]

* Once we restart the broker the exception stopped and we are able to create producer.

Environment
* ubuntu 18.04  x86_64
* Java 1.8
* Pulsar version 2.6.1

[2020-12-07 13:16] #8677 closed

[2020-12-07 14:01] RobertIndie commented on #6834
You could try to add this dependency `bouncy-castle-bc` by
[code]

[2020-12-07 14:18] Jennifer88huang-zz opened #8853 "[website] The REST API links in the doc body do not work now"
**Describe the bug**
When I click the REST API links in the doc body, they do not work properly at the moment. The following two links are just examples.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://pulsar.apache.org/docs/en/admin-api-topics/#list-of-topics
2. Click the link in the REST API tabs.
3. They navigates to a blank page.  Shown as follows:
![image](https://user-imag

[2020-12-07 14:21] wolfstudy commented on #6527
Yes, in 2.7.0, we can use this feature.

@sijie It seems that we need to expose the corresponding parameters to users. Currently, when creating pulsar function, `--retain-key-ordering` is not exposed.

[2020-12-07 14:57] BewareMyPower commented on #8846
Firstly it's true, not like the producer's send operation, consumer's receive operation has no timeout. So calling `receiveAsync` infinitely without any limit while no messages could be received will make pending receives in memory growing infinitely.

However, you can add the limit for the number of pending receives from a client side:

[code]

As for a timeout limit, it's a little more complicat

[2020-12-07 15:24] BewareMyPower commented on #8846
I think the issue is similar to #8300 . Bur unlike the Java Client, C++ API only exposes the receive callback so there's no case like a future of receive is cancelled but the associated pending receive is still in the queue.

The C++ client's receive logic is more simple:

1. Add a pending receive when `receiveAsync` is called.
2. Remove a pending receive when an incoming messages is received by `

[2020-12-07 22:14] geomagilles commented on #6527
Is there a turnaround to be able to use it?

[2020-12-08 00:06] jiazhai commented on #6834
@RobertIndie This issue exists in 2.6.2, and should be work now in 2.7 and the latest master. And thanks for working on the verify.

[2020-12-08 00:49] Shoothzj commented on #8838
Well, during running, there are logs like this:
![image](https://user-images.githubusercontent.com/12933197/101422633-12b60980-3932-11eb-9551-c2fb67757a91.png)
I think it induces me to enable it.
I update broker version to 2.7.0, is there any migration must do ?

[2020-12-08 06:46] ltamber commented on #8846
@BewareMyPower thanks for your detail reply, I think client side should avoid these risk which will cause application unstable but not depend on some workaround on application size.

[2020-12-08 13:49] BewareMyPower commented on #8846
@ltamber The cost of flexibility is the complexity. It's not like `sendAsync` vs. `send`, `receive(Message&, int)` is easy and enough to use in most cases. The only case to use `receiveAsync` is to wait multiple messages.

If you're using Java client, when you choose `receiveAsync`, the logic will still be complicated.

Let's start with a simple client code:

[code]

The issue is the same. If ther

[2020-12-08 19:30] hpvd opened #8864 "[website] Search on website not working"
**Describe the bug**
Search on website not working

**To Reproduce**
1. Go to https://pulsar.apache.org/docs/en/standalone/
2. Put something into search field
3. press enter
4. nothing happens

**Expected behavior**
search results show up

**Desktop (please complete the following information):**
 - tested with the latest Firefox and Edge

[2020-12-08 22:41] sijie commented on #8849
@skyrocknroll Can you provide more context on this issue?

[2020-12-08 22:49] sijie commented on #8833
@moutasemalakkad Can you describe how did you start it? It would be super helpful if you can include detailed steps.

[2020-12-08 22:55] sijie commented on #8815
@hpvd thank you for reporting this. We will consider it in our future releases.

[2020-12-08 23:00] sijie commented on #8811
@hpvd thank you for bringing this up.

[2020-12-09 00:10] sijie commented on #8812
@Jennifer88huang @Huanli-Meng Can you point @holmes07 the documentation about that? If we don't have that, can you work on providing the documentation?

[2020-12-09 00:17] Huanli-Meng commented on #8812
@holmes07 , you can check this document: https://pulsar.apache.org/docs/en/next/concepts-multiple-advertised-listeners/. If there are more info required, please reach out to us. Thanks.

[2020-12-09 00:49] codelipenghui opened #8866 "Support configure max subscriptions per topic on the namespace level policy and topic level policy"
Currently,  #8289 introduced max subscriptions per topic at the broker level but does not support overwrite on the namespace level and topic level.

[code]

[code]

[2020-12-09 01:00] codelipenghui opened #8867 "The consumer should stop retry when exceed the maximum number of subscriptions"
Currently, if the consumer try to subscribe to a topic but the maximum number of subscriptions is exceeded, the consumer will retry and never stop. It's not expected behavior, the consumer should stop retry.

[2020-12-09 03:11] Jennifer88huang-zz opened #8868 "[docs] REST API issues"
**Describe the bug**
There are sth wrong with the REST APIs.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://pulsar.apache.org/docs/en/admin-api-functions/
2. Check the REST API tabs, and found they do not work.

**Expected behavior**
It should be displayed as link format, and the link navigates to the REST API pages.

**Screenshots**

![image](https://user-images.githubusercon

[2020-12-09 03:11] Jennifer88huang commented on #8868
Related to https://github.com/apache/pulsar/issues/8853

[2020-12-09 03:14] Jennifer88huang commented on #8864
@hpvd Thanks for raising the issue. There is sth wrong with the search engine, we've tried to fix it in https://github.com/algolia/docsearch-configs/pull/3005
It takes effect 24 hours after that PR merge. Let's wait and check it tonight.

[2020-12-09 03:38] h-j-13 opened #8869 "[pulsar-client-cpp] When I use the `consumer.receiveAsync()`, how to properly confirm message?"
I want use `consumer.receiveAsync()` to receive a single message from topic. but i don't know how to confirm message properly, because the `receiveAsync()`'s callback function don't provide a consumer target as parameter.

[code]

OR the message has already been confirmed before callback function called?
My Demo. i don't know how to properly confirm message. confused.

[code]

I want confirm messa

[2020-12-09 03:44] zhoutong1996 commented on #8869
that must be a problem

[2020-12-09 03:45] h-j-13 commented on #8869
Related to https://github.com/apache/pulsar/pull/577

[2020-12-09 05:12] #8867 closed

[2020-12-09 05:15] 315157973 commented on #8866
I will work on it

[2020-12-09 06:00] Jennifer88huang opened #8872 "Error occurs when configure client auth"
**To Reproduce**
From @evfurman:

I got authentication configured on the brokers.
[code]
However, when I try to produce with the pulsar-perf client, I get the following error:
[code]
The client.conf is:
[code]

[2020-12-09 06:02] Jennifer88huang commented on #8872
Workaround from @sijie : try to configure `authParam` as JSON string.

[2020-12-09 06:13] dojiao commented on #8849
i meet the same issue using v2.6.1.
[code]
the log "Unexpected throwable caught" lasted about 200~300ms then got over it.

it seems like the check failed at
[code]
in OpAddEntry::safeRun() when creating ledgers

[2020-12-09 06:28] Shoothzj commented on #8838
@codelipenghui

[2020-12-09 06:42] sijie commented on #8849
loop @codelipenghui to see if it is already fixed or not.

[2020-12-09 06:45] woodsmur opened #8873 "multiple topic sink to multiple elasticsearch index"
Hi,
Is there a way to send data from multiple topic to different elasticsearch indices? For example, if I have `t-2020.12.01` and `t-2020.12.02`, how could I consume these two topics and create two corresponding indices `t-2020.12.01` and `t-2020.12.02`?

[2020-12-09 07:11] #8682 closed

[2020-12-09 07:42] kemburi commented on #6054
We are observing the same issue, is there a fix or workaround for this issue like any config changes so that this issue does not appear. And is there any way we can detect this from java code.

[2020-12-09 07:59] zymap opened #8874 "[Package management] Upload package is failed"
**Describe the bug**
Using package upload command can not upload package successfully.

[code]

[2020-12-09 08:06] w6m6 opened #8875 "garbage collection occured too often"
**Describe the bug**
After we upgrade pulsar from 2.4.0 to 2.6.2, we found the frequency of garbage collection is much higher than v2.4.0 and the Journal Add latency of bookie is increased, which might related to the increase of gc frequency.

**Screenshots**
![WechatIMG90](https://user-images.githubusercontent.com/28854175/101601830-159b2200-3a38-11eb-8574-0345072f440b.jpeg)

[2020-12-09 08:25] hpvd commented on #8873
yes this would be helpful in many cases of bigger installations.
At this time doc is only talking about "singular" https://pulsar.apache.org/docs/en/io-elasticsearch/

Problem and possible solution looks somehow equal to https://github.com/apache/pulsar/issues/4547

[2020-12-09 08:30] hpvd commented on #6054
@kemburi which version are you using?

[2020-12-09 08:36] kemburi commented on #6054
pulsar client version 2.6.2

[2020-12-09 09:40] hpvd commented on #8815
A new GitHub feature which may also lead to some kind of "security routine" when merging pull requests, was presented at GitHub Universe 2020: "Dependency Review" see
https://docs.github.com/en/free-pro-team@latest/github/collaborating-with-issues-and-pull-requests/reviewing-dependency-changes-in-a-pull-request

[2020-12-09 11:34] hpvd commented on #8815
These points could possibly be classified as "low-hanging fruits" in the field of security (at least if they work as expected and there are not to many false positive findings introduced...)

[2020-12-09 11:49] hpvd commented on #8815
as a last point to this topic: it may be also interesting to give GitHub's "super linter" a try and let it check the hole project on every release or on every pull via GitHub action...
see https://github.com/github/super-linter/

[2020-12-09 13:29] WJL3333 commented on #8778
i think this maybe partition-1 do not have any messages to publish to DLQ. if it has one message, the DLQ topic will be auto create when republish

[2020-12-09 15:06] BewareMyPower commented on #8869
Use lambda capture

[code]

[2020-12-09 16:08] lhotari commented on #6368
Another [recent failure](https://github.com/apache/pulsar/pull/8879/checks?check_run_id=1524185081#step:9:352):
[code]

[2020-12-09 16:19] evfurman commented on #8872
When converting the authParams to JSON, the error disappears.

`authParams={"keyStoreType":"JKS","keyStorePath":"/opt/pulsar/tls/keystore.jks","keyStorePassword":"XXXXXXXXXXX"}`

However, it seems we are still unable to authenticate.

[code]

[2020-12-09 16:25] eolivelli opened #8882 "GenericJsonReader converts the null value to string "null""
**Describe the bug**
It looks like GenericJsonReader is not handling correctly `null` values

This is a reproducer:

[code]
**Expected behavior**
The null value is not converted to a string, but it is still a null value

**Additional context**
The problem affects Pulsar Functions/Pulsar IO

[2020-12-09 16:34] eolivelli commented on #8882
fixed by #8883

[2020-12-09 20:01] dlsprague opened #8884 "After upgrade pulsar client version to 2.6.2, getting the Null pointer exception while publishing a message"
User upgraded pulsar java client to 2.6.2 due to security vulnerabilities found in lower versions.  Was able to produce messages fine in 2.5.0 and 2.6.0, but after upgrade getting following error:
[code]
Error seems to suggest message size over limit but have sent very small messages for testing and still fails.

Pulsar broker is at version 2.6.0.  Could this be a compatibility issue with client a

[2020-12-10 03:40] h-j-13 commented on #8869
Thx, it worked.  But I still think that the parameters of the callback function should be updated like
[code]
to keep the code style uniform

[2020-12-10 04:00] yufan022 opened #8887 "Does tiered storage support aliyun oss?"
**Is your feature request related to a problem? Please describe.**
We're using aliyun oss as storage, How can we use aliyun oss offloader with Pulsar?

**Describe the solution you'd like**
Support aliyun oss tiered storage.

[2020-12-10 04:36] Jennifer88huang commented on #8872
@evfurman Thanks for your feedback. I've refined the "brokerClientAuthenticationParameters" as json type as well to configure the client auth.
Have you met issues in configuring other auth, for example, token auth?

[2020-12-10 04:42] Jennifer88huang commented on #8872
@sijie  Except in TLS keystore, in Token auth, [JWT](http://pulsar.apache.org/docs/en/next/security-jwt/), [Athenz](http://pulsar.apache.org/docs/en/next/security-athenz/), [Keberos](http://pulsar.apache.org/docs/en/next/security-kerberos/), `brokerClientAuthenticationParameters` is used. Shall we change all of them as JSON string?

[2020-12-10 05:28] #8882 closed

[2020-12-10 05:58] BewareMyPower commented on #8869
It's a thing about API design. Though both `MessageListener` and `ReceiveCallback` are `std::function` callbacks, they're much different. Let's see what Java API does first.

[code]

The `MessageListener` is a real callback and it's noted that the callback is responsible for asking messages.

[code]

There's no `ReceiveCallback` in Java client because `receiveAsync` just returns a future of `Messa

[2020-12-10 06:01] Jennifer88huang commented on #8864
It does not work well, try to re-open the issue in https://github.com/algolia/docsearch-configs/issues/2994
@hpvd if you need to search some content, use the `next` version http://pulsar.apache.org/docs/en/next/standalone/

[2020-12-10 06:40] #8869 closed

[2020-12-10 07:56] zymap opened #8891 "[Doc] The master branch admin rest api page seems has a issue"
There has some request example are not in any of a group.

https://pulsar.apache.org/admin-rest-api/?version=master&apiversion=v2

![Screen Shot 2020-12-10 at 3 55 14 PM](https://user-images.githubusercontent.com/24502569/101737710-362eaf00-3b00-11eb-9b4c-c39b0432bc29.png)

[2020-12-10 08:26] h-j-13 commented on #8869
Thx for your explanation!

[2020-12-10 09:06] KannarFr opened #8894 "[TieredStorage] AWS id/secret vs Role"
**Is your enhancement request related to a problem? Please describe.**
I worked on https://github.com/apache/pulsar/pull/7950/, which adds the support of aws credentials in the offloadpolicies. But these credentials are not used correctly. In fact I defined `DefaultAWSCredentialsProviderChain` but it is used as `STSAssumeRoleSessionCredentialsProvider`.

**Describe the solution you'd like**
Need t

[2020-12-10 09:25] hpvd opened #8895 "browser warning: Website unsecure"
**Describe the bug**
Website https://pulsar.apache.org/en/ is unsecure -> browser warning and parts of website is blocked

reason: mixed content, tencent logo is not loaded using https
see
https://support.mozilla.org/en-US/kb/mixed-content-blocking-firefox

**To Reproduce**
Steps to reproduce the behavior:
1. visit https://pulsar.apache.org/en/
2. see browser warning beside url field (seen in fire

[2020-12-10 09:37] eolivelli opened #8897 "Flaky-test: Integration tests: PulsarStateTest#testSinkState"
I have seen this temporary error on current master 6987d911897e66c384f8791535681f90887436b4

**Additional context**
Add any other context about the problem here.
pulsar-standalone-suite(org.apache.pulsar.tests.integration.functions.PulsarStateTest)  Time elapsed: 15.033 s  <<< FAILURE!
java.lang.AssertionError: expected [val1-9] but found [val1-7]
	at org.testng.Assert.fail(Assert.java:99)
	at org

[2020-12-10 11:22] kemburi commented on #6054
Guys any one, or can any provide info on how to reproduce this issue?

[2020-12-10 11:27] kemburi opened #8899 "retention support per topic"
**Is your enhancement request related to a problem? Please describe.**
We have some complex calculations to be performed on specific topics and those calculations are not finishing within the retention period configured. hence we see data loss. since only on few of the topics we need to these calcuations to be performed we dont want to set retention globally for all topics.

**Describe the solutio

[2020-12-10 11:36] kemburi commented on #8899
we are using pulsar client 2.6.1

[2020-12-10 13:46] Jennifer88huang commented on #8864
@hpvd it works well now. You can have a try, and I'll close this issue if you agree.

[2020-12-10 14:08] eolivelli opened #8901 "Support BookieID using bookie-rack affinity groups"
With Pulsar 2.7.0 we include Apache BookKeeper 4.12.0 that allows you to configure a static "BookieID" that does not depend on the current Network Address of the Bookie.

Unfortunately it is not possible to leverage this feature we need to inject the BookieAddressResolver into Pulsar  DNSToSwitchMapping implementation ZkBookieRackAffinityMapping.

An enhancement is required on BK side
https://gith

[2020-12-10 14:41] Shoothzj opened #8902 "Stability test, Jetty hang"
**Describe the bug**
My pulsar jetty port sometimes can't response. Frequently.
It's like jetty probleam, looks like the java program don't accept. Many requests are CLOSE_WAIT, and can't server new request.
I can only restart the broker. I try to update the broker to version 2.7.0, nothing works better.

**To Reproduce**
Steps to reproduce the behavior:
Currently, I don't know how to reproduce th

[2020-12-10 15:29] hpvd commented on #8864
@Jennifer88huang
yes! with great fast and grouped search suggest :-) many thanks.
closing...

[2020-12-10 15:29] #8864 closed

[2020-12-10 15:31] Jennifer88huang commented on #8864
Thank you~

[2020-12-10 16:34] lhotari commented on #6368
Yet another [failure](https://github.com/apache/pulsar/pull/8892/checks?check_run_id=1531075794#step:9:377)

[code]

[2020-12-10 16:40] lhotari commented on #6231
I seems that the solution introduced in #8386 doesn't fix all "Connection reset" issues. The recommendation seems to be to disable the connection pooling completely with `-Dhttp.keepAlive=false -Dmaven.wagon.http.pool=false` options instead of configuring the pool TTL and retry counts.

Here's a[ recent failure](https://github.com/apache/pulsar/pull/8879/checks?check_run_id=1529132663#step:9:9):
[

[2020-12-10 18:28] harissecic opened #8904 "Client auto re-connect on specific idle time"
**Is your feature request related to a problem? Please describe.**
Azure App Services time out after being idle for 240 seconds (4 minutes) and there's no actual way to avoid this. All connections at least in my experience get killed but not 100% sure about properly closed.

**Describe the solution you'd like**
Using clients (Java client in my case) inside such environment makes me restart manuall

[2020-12-10 22:15] michaeljmarshall opened #8906 "Add support for specifying subscription type when creating subscription"
**Is your feature request related to a problem? Please describe.**
I want to create a subscription with a non default subscription type. As it currently stands, the `pulsar-admin` utility and the even the REST endpoints don't support this functionality.

It appears that the only way to specify the type of subscription is to create it while also creating a consumer. In my use case, I have auto subs

[2020-12-10 22:21] merlimat commented on #8906
At any point in time, if there are no consumers, a subscription has no specified type.
Eg: you can also "change" the type of subscription by restarting all your consumers with a different configuration.

[2020-12-10 22:31] michaeljmarshall commented on #8906
Eg: you can also "change" the type of subscription by restarting all your consumers with a different configuration.

Thanks for your explanation. That explains why creating a subscription without any consumers doesn't, and shouldn't, allow for a subscription type.

I wasn't able to find documentation on this--maybe I missed it. I'll look again, and if I can't find it, it might be worth adding docu

[2020-12-10 22:31] #8906 closed

[2020-12-11 01:20] tuteng opened #8909 "Giggso logo link error"
**Describe the bug**
The company giggso icon link error

**To Reproduce**
Steps to reproduce the behavior:
http://pulsar.apache.org/powered-by/
![image](https://user-images.githubusercontent.com/1907867/101848876-80ac3c00-3b91-11eb-81b4-c60577b99c19.png)

**Expected behavior**
A clear and concise description of what you expected to happen.
Update the giggso logo link in the [user.json](https://git

[2020-12-11 02:34] hangc0276 opened #8911 "Compile individual module failed"
**Describe the bug**
When i compile individual module, it failed as following exceptions
[code]
It may be introduced by #8706

**To Reproduce**
Steps to reproduce the behavior:
1. In pulsar root directory, run `mvn install -DskipTest`, wait for compile success.
2. go to `pulsar-client` module, run `mvn install -DskipTests`, it will compile failed

**Expected behavior**
For each individual module,

[2020-12-11 02:35] hangc0276 commented on #8911
@lhotari Would you please help take a look?

[2020-12-11 03:26] sijie commented on #8904
@harissecic

I didn't use Azure App Service before. But Pulsar client periodically sends heartbeats to brokers to detect if a connection is broken or not. Then it will automatically reconnect if it detects connections are broken.

See http://pulsar.apache.org/api/client/2.7.0-SNAPSHOT/org/apache/pulsar/client/api/ClientBuilder.html#keepAliveInterval-int-java.util.concurrent.TimeUnit-

[2020-12-11 03:30] sijie commented on #8911
@hangc0276 you can try run `mvn -pl pulsar-client install -DskipTests`?

[2020-12-11 03:34] sijie commented on #8899
@kemburi topic-level policy (including retention settings) are supported in 2.7.0. You can use `bin/pulsar-admin topics` to set topic-level retention. The documentation for topic-level policy is being added by @Jennifer88huang

[2020-12-11 04:00] sijie commented on #8887
@yufan022 Currently aliyun oss is not supported yet. You're welcome to contribute a feature to us.

[2020-12-11 04:57] #6527 closed

[2020-12-11 04:59] #8533 closed

[2020-12-11 05:21] hangc0276 commented on #8911
@sijie Ok, run `mvn -pl pulsar-client install -DskipTests` in pulsar root directory, compile succeed.
However, in the past, run `run install -DskipTests` in sub module directory, it may also compile succeed.
I close this issue.

[2020-12-11 05:40] abhilashmandaliya commented on #8694
it is here @codelipenghui https://docs.google.com/document/d/1YelHBuFAAYkmRNWzhVg4j39-VovGb9Ng2_Vg6zbCqGM/edit?usp=sharing

[2020-12-11 06:05] #8911 closed

[2020-12-11 06:48] BewareMyPower opened #8914 "[C++] AckGroupingTrackerEnabled may cause segmentation fault"
**Describe the bug**
Sometimes the program may crashed at `AckGroupingTrackerEnabled#scheduleTimer`. Though #8519 tries to solve the problem by extending the lifetime of `AckGroupingTrackerEnabled` so that the callback won't access the outdated `this`. However, the segmentation fault still happens.

A typical stack trace is:

[code]

**To Reproduce**
It cannot be reproduced easily. The running env

[2020-12-11 07:34] harissecic commented on #8904
This was not the case in my services. However it could have been that the App Service didn't have configuration called Always ON enabled. In this case there's no way that heartbeat would work, yet service would work if one would to make a HTTP request like GET on REST service. Now I don't fully understand what's happening in them but I will try to debug this with Always ON enabled and disabled. ch

[2020-12-11 07:58] wolfstudy opened #8915 "[Spotbugs] Add spotbugs plugin for Pulsar Functions"
The currently supported modules are as follows:

the https://github.com/apache/pulsar/pull/8851 will track these module

- [x] Instance
- [x] API
- [x] Java Examples
- [x] Localrun
- [x] Runtime All
- [x] Secrets

The currently not supported modules are as follows:

- [ ] Runtime
- [ ] Utils
- [ ] Worker

[2020-12-11 08:27] VanderChen commented on #4654
I have the same problem in WSL2 Ubuntu 20.04 with OpenJDK 11 in branch-2.7

[2020-12-11 08:28] wolfstudy commented on #8607
After communicating with @xuesongxs , we found that we have started nearly 2000 function instances, so there is no way to return the required metrics information within the default prometheus timeout period. This problem can be solved by adjusting the prometheus timeout period.

[2020-12-11 08:28] #8607 closed

[2020-12-11 10:19] cvuijst opened #8917 "Documentation references deprecated MessageBuilder in version 2.7.0."
#### Expected behavior

Example with non deprecated class.

#### Actual behavior

Example uses MessageBuilder class.

#### Steps to reproduce

At: [https://pulsar.apache.org/docs/en/cookbooks-compaction/](https://pulsar.apache.org/docs/en/cookbooks-compaction/)
An import is done through:
**import org.apache.pulsar.client.api.MessageBuilder;**
However, the jar file of 2.7.0 does not contain the int

[2020-12-11 12:14] sijia-w commented on #8477
see 8919 in pulsar repo

[2020-12-11 13:31] wolfstudy commented on #8582
@EliHarper Sorry for the late reply.

I tried to use the latest 2.7.0 standalone mode to reproduce this scene, unfortunately, it did not reproduce, and it works normally in my local area.

### Reproduce step

1. Set up a cassandra cluster.

[code]

1.1 check the cluster status

[code]

Output:
[code]

2. Create keyspace and table.

Run cqlsh:

[code]

In the cqlsh, create the pulsar_test_keyspace

[2020-12-11 13:33] wolfstudy commented on #8582
@EliHarper If `--topics-pattern` still does not work in your environment, please feel free to contact me or please let me know.

[2020-12-11 13:34] fmiguelez opened #8922 "Infinite reconnections (with error) when authentication fails on Java client"
**Describe the bug**
Connection layer of Java client keeps on trying (and failing to) reconnect to broker when access token used to authenticate expires.

It seems that connection pool handles connections transparently in the background even if all consumers/readers are closed.

To reproduce it create a consumer with a Pulsar with security (JWT auth) enabled. Use a short-lived token (a few minutes

[2020-12-11 14:42] lhotari opened #8923 "Flaky-test: org.apache.pulsar.tests.integration.presto.TestBasicPresto"
TestBasicPresto is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/8918/checks?check_run_id=1537345628#step:13:3716)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
14:05:27.907 [pulsar-load-manager-1-1] INFO  org.apache.pulsar.broker.loadbalance.impl.ModularLoadManagerImpl - Writing local data to ZooKeeper because maximum change 1

[2020-12-11 15:05] 315157973 commented on #8884
I will see what the problem is

[2020-12-11 15:28] reswqa opened #8925 "messages may be out of order in transactions"
**Describe the bug**
With the transaction on, since the first message of each partition has to go to the TC to add the relevant partition metadata, it may cause the later messages to be sent first since the method is asynchronous.

**To Reproduce**
[code]
The above code `Assert.assertEquals` will report an error because the first message is out of order.
**Expected behavior**
The above code execut

[2020-12-11 16:14] reswqa commented on #8923
Hi, I'm not quite sure if it was caused by this pr (https://github.com/apache/pulsar/pull/8746) I created earlier, because I was getting this error from the CI test SQL when I pull the request, but today the test suddenly passed, so it was merged into master. if it was caused by it, I'm very sorry, but I didn't find out what went wrong at the time, any problems are welcome to point out.

[2020-12-11 17:29] reswqa commented on #8909
The color of this icon seems to overlap with our background color, making it unrecognizable when placed on it.
<img width="520" alt="WeChat96a8e7a122b2299ce3cf9cedf214739a" src="https://user-images.githubusercontent.com/19502505/101935052-6ae25980-3c19-11eb-839a-28e4b417686f.png">

when i change html body's background color to black, it show like below.
<img width="472" alt="WeChat82408395b73d231c

[2020-12-11 17:30] michaeljmarshall commented on #8343
Is there any work being done to resolve this bug?

[2020-12-11 18:12] #8573 closed

[2020-12-11 18:12] #8872 closed

[2020-12-11 21:54] flowchartsman opened #8929 "pulsar standalone docker image should support initialization of some kind"
This would be very useful for development and integration testing. Currently have to run a parallel container calling `pulsar-admin` in a loop to wait on the relevant endpoints to be up and spin up the tenants/namespaces/policies that I need to simulate my deployment environment.

Perhaps this could be read from a file at a known location and then spun up in place fo the sample tenant/namespaces i

[2020-12-11 23:37] flowchartsman commented on #8929
My suggestion would be something like the following:
1) before spinning up the admin endpoint, look for a file in a known location (following mongo's example, this would be something like `docker-entrypoint-init.d/pulsar-init`
2) If this file is found, process it
3) otherwise, proceed with `sample` tenant/namespace creation

As for the format of the file, one option would be to simply treat it as

[2020-12-12 00:53] tuteng commented on #8909
thanks, you can try add field `logo_white: true` @reswqa

[2020-12-12 02:40] 315157973 commented on #8884
Hello, could you provide more information?
Such as your producer creation parameters、 How does the producer send the message?

I use the latest broker and 2.6.2 client locally, and this problem cannot be reproduced temporarily.
It does not seem to be caused by the message size limit.
When the message size limit is exceeded, the producer of 2.6.2 cannot successfully produce until it times out. The

[2020-12-12 05:15] #8617 closed

[2020-12-12 08:39] Shoothzj opened #8935 "How about split the Client config NumIOThreads"
**Describe the solution you'd like**
The client config numIOThreads controls two things,
1. The netty event loop threads
2. The callback method of message received invoke
For example, if a client only for producer message , it seems like it needs no or few threads situation 2.
I think they are different scene, may be we should deprecate numIOThreads, and split it to two config

[2020-12-12 19:11] flowchartsman opened #8940 "NSQ Connector fails to appear."
The NSQ connector does not load correctly and does not appear in the output of `pulsar-admin sources available-sources` This is because the pulsar-io yaml definition file is incorrectly named `pulsar-io.yml` and not `pulsar-io.yaml`.  In addition, the configuration class was incorrect.  I have fixed this issue and tested the fix, and will link a PR.

[2020-12-12 21:41] lhotari commented on #8875
This is probably caused by https://github.com/apache/pulsar/commit/efa984bf5afd7af828622780e1522293fdaa19de . There's a fix in PR #8908 . /cc @sijie

[2020-12-13 13:29] fshafiee opened #8943 "Specifying delivery delays per subscription"
**Is your enhancement request related to a problem? Please describe.**
I am unable to setup delayed deliveries per subscription. In other words, the current approach to delaying messages does not conform to [following diagram (taken from official docs)](https://pulsar.apache.org/docs/en/concepts-messaging/#delayed-message-delivery).

![Delayed delivery structure](https://pulsar.apache.org/docs/ass

[2020-12-13 18:42] lhotari commented on #8875
There's also a PR to enable Log4j2's Garbage Free logging mode, it's #8944 . Applying both #8908 and #8944 should reduce GC pressure.

Since both PRs are simply changes to the bin/pulsar script, it would be easy to path the wrapper script to re-test with the changes. I have created a script to patch the apachepulsar/pulsar-all docker images for 2.6.2 and 2.7.0 here: https://github.com/lhotari/puls

[2020-12-13 19:32] moutasemalakkad commented on #8833
It worked fine when I downloaded Pulsar from Apache.

[2020-12-13 19:32] #8833 closed

[2020-12-14 01:18] #8909 closed

[2020-12-14 03:52] lxcid commented on #8502
No problem! Hope to check back on this issue, any chance of dropping in next release?

[2020-12-14 04:22] #8832 closed

[2020-12-14 04:35] wolfstudy commented on #8582
@EliHarper Any update for this issue?

[2020-12-14 05:38] #8940 closed

[2020-12-14 09:05] lhotari commented on #8343
One thing to try is to [enable "autoCommitEnabled" configuration](https://pulsar.apache.org/docs/en/io-kafka-source/#configuration) for the Kafka source connector. It should be enabled by default unless it's explicitly disabled.

The reason why this might help is that Kafka Consumer API's commitSync method throws an unchecked exception according to this SO answer: https://stackoverflow.com/a/65193