[2021-08-13 07:24] eolivelli commented on #11576
thank you @gaoran10 for looking into this !

[2021-08-13 08:37] abhilashmandaliya commented on #11647
@eolivelli @lhotari PTAL

[2021-08-13 08:47] hangc0276 opened #11662 "Flaky-test: PersistentTopicsTest.testSetReplicatedSubscriptionStatus on branch-2.8"
### Bugs
On branch-2.8, the `PersistentTopicsTest.testSetReplicatedSubscriptionStatus` test always run failed

The stack
[code]

[2021-08-13 09:34] freeznet opened #11665 "`pulsar-admin functions` cannot use package URL to create function"
**Is your feature request related to a problem? Please describe.**
Pulsar 2.8 introduced Pulsar Package management service, which allows user to management function/connector packages. It will be great if pulsar-admin can apply package URL as argument when create functions.

When trying to create function with package URL, pulsar-admin returns error `The specified jar file does not exist`

below i

[2021-08-13 13:24] #11659 closed

[2021-08-13 13:38] andrekramer1 commented on #11070
Our chart does not have SSL enabled and I tried adding:
PULSAR_EXTRA_OPTS: >
      -Dzookeeper.ssl.hostnameVerification=false
      -Dzookeeper.ssl.quorum.hostnameVerification=false
But still failing on 3 node cluster. It's the same null reference exception. Possibly some startup race condition rather than SSL configuration?

[2021-08-13 13:47] andrekramer1 commented on #11070
I see the diff you point to above explicitly set Zookeeper to 2.7.2 until this issue here is fixed:

images:
  # bump to 2.8 after https://github.com/apache/bookkeeper/pull/2740 is fixed
  zookeeper:
    repository: apachepulsar/pulsar-all
    tag: 2.7.2
    pullPolicy: IfNotPresent
  bookie:
    repository: apachepulsar/pulsar-all
    tag: 2.7.2
    pullPolicy: IfNotPresent

Possibly the chart yo

[2021-08-13 13:49] eolivelli commented on #11070
I used that Helm Chart by overriding the version of the docker image for all the components (zookeeper, broker, bookie...)
And I had verified that the version of ZK and Pulsar was good

[2021-08-13 23:34] #8502 closed

[2021-08-14 00:56] leizhiyuan commented on #11652
in DeadLetterTopicTest

[2021-08-14 01:13] Technoboy- opened #11669 "Flaky-test: ManagedLedgerTest.testLedgerReachMaximumRolloverTime"
ManagedLedgerTest is flaky. The [testLedgerReachMaximumRolloverTime]test method fails sporadically.

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
Error:  Tests run: 121, Failures: 1, Errors: 0, Skipped: 52, Time elapsed: 55.596 s <<< FAILURE! - in org.apache.bookkeeper.mledger.impl.ManagedLedgerTest
Error:  testLedgerReachMaximumRolloverTime(org.apache.bookkeeper.mledger.impl

[2021-08-14 15:09] zbentley commented on #11203
With an N of several (folks posting here, colleagues, peers) all successfully using the latest `2.8.0.post0` PyPi release on several MacOS versions, I'm going to close this issue--I filed it, if that's a violation of triage procedure for this project please reopen.

[2021-08-14 15:09] #11203 closed

[2021-08-15 01:23] #11669 closed

[2021-08-15 05:03] lukestephenson commented on #6995
Hi @vsly-ru , we didn't proceed with Pulsar at the time as I didn't feel it was mature enough.  That was a year ago now, and pulsar may be more stable now.  I wrote up https://medium.com/zendesk-engineering/evaluating-apache-pulsar-92e6ed3fc792 with more details.

What you are suggesting sounds like it could work.  How will you move the topic producers across to the new topic?  It's could be trick

[2021-08-15 05:30] merlimat commented on #6995
@lukestephenson What is described in this issue (and in the docs) was actually not the intended behavior (as it's not practically useful). The behavior was fixed in #11287 and scheduled to be released in 2.8.1 in the next few days.

[2021-08-15 06:15] avirlrma commented on #11507
Hi @mfortman11,

I was not able to replicate this. I am getting 412 on an invalid namespace name. Please find the screenshot below:

![image](https://user-images.githubusercontent.com/22575238/129469077-d1a39392-1473-4b4b-892a-5d44bd5e732e.png)

it would be great if you could help with a curl to replicate this.

Thanks!

[2021-08-15 08:41] lhotari commented on #11637
This problem seems to be fixed by #11656 . @Technoboy- can you confirm?

[2021-08-15 18:44] vsly-ru commented on #6995
@lukestephenson luckily we have only one producer per compacted topic at a time.
In case of multiple producers you indeed need some kind of lock or service time to perform the migration. I've also heard a _hack_ to enable retention and run a cron job to _touch_ every key with the last value. However it also requires a lock.

 @merlimat wow, great news! Sounds like exactly what we need!

[2021-08-16 01:21] hangc0276 commented on #11662
Addressed by #11661

[2021-08-16 01:21] #11662 closed

[2021-08-16 02:11] #11649 closed

[2021-08-16 02:12] #11496 closed

[2021-08-16 05:48] hepyu commented on #9491
same question on same version：2.7.0。

[2021-08-16 07:09] ca-simone-chiorazzo commented on #11203
The new 2.8.0.post0 release does not contain a wheel for many Linux, breaking dockerized application that uses the python pulsar client. Are you aware of this issue?

[2021-08-16 07:29] Technoboy- commented on #11637
Yes, I think so.

[2021-08-16 07:44] lhotari commented on #11637
Closing since this is fixed by #11656

[2021-08-16 07:44] #11637 closed

[2021-08-16 08:36] sijia-w commented on #8671
@codelipenghui Any recommendations for the numbers?
From Ran: "We usually give recommendations according to the user requirements in POC, then they run tests in this environment and see what should be changed."

[2021-08-16 12:01] hpvd opened #11677 "keep performance up: performance regression testing"
**Is your enhancement request related to a problem? Please describe.**
When Pulsar grew, it always becomes a little more complex with more lines of code.
Many of these steps could influence the performance. Working with long term contributors and pulsar-experts, there is a good feeling for possible performance impact.
But it is nearly impossible to be sure, performance is getting better from relea

[2021-08-16 16:46] bharanic-dev opened #11678 "Pulsar functions terminateFunction doesn't clean up intermediate topics created for batchSource."
**Describe the bug**
The cleanupBatchSource() tries to delete the intermediate topic here:

https://github.com/apache/pulsar/blob/b8dce10a88cc186897fa600f3595b10c4af61b8c/pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/FunctionActioner.java#L642

But the topic does not get cleaned up because of a bug in the Actions.run() function here (when continueOn is not set):

https:/

[2021-08-16 18:08] eolivelli commented on #11677
You may be interested in this work I am doing about Performance regression testing for Pulsar
https://www.youtube.com/watch?v=NZnlLBT3BBY

https://github.com/datastax/pulsar-fallout

I would be happy to share how to use the tool

[2021-08-16 18:44] hpvd commented on #11677
@eolivelli
many thanks for pointing to this!

[2021-08-16 20:22] zbentley commented on #11324
This may be fixed by https://github.com/apache/pulsar/issues/11203; if convenient, could you re-test?

[2021-08-16 21:02] eolivelli commented on #11548
So your problem is that you cannot disable non TLS ports?

[2021-08-17 04:59] #11665 closed

[2021-08-17 05:01] #11380 closed

[2021-08-17 05:05] #11605 closed

[2021-08-17 05:23] codelipenghui commented on #11652
@srouthu1 Have you tried a new Pulsar Client version? I noticed the client version is 2.6.0 which released almost 2 years ago.

[2021-08-17 09:19] lhotari commented on #11548
@yabinmeng There's a PR #11681 to fix some issues. Most of the fixed issues in that PR apply to Pulsar Standalone.

Setting TLS only requires setting `brokerClientTlsEnabled=true` besides the configuration settings that you have enabled. With self-signed certificates you might have to specify `tlsAllowInsecureConnection=true` unless `brokerClientTlsEnabledWithKeyStore=true` with all required setti

[2021-08-17 10:03] gaozhangmin opened #11682 "failed update partition of topic。"
1、I tried to update partition num of a topic, but got error:
[code]
2、When I attempted to try update partition once again, i got below error:
[code]

[2021-08-17 10:40] Lucgarg commented on #11457
I think the problem is that to enter data in JSON format, you have to specify the clickhouse type of JSONEachRow format. But i think the jdbc connector doesn't give that option.

[2021-08-17 11:04] Nicklee007 opened #11685 "can not update topic when the update topicName is contained by an existed topic as a part"
**Describe the bug**
can not update topic when  the update  topicName is contained by an existed topic as a part

![image](https://user-images.githubusercontent.com/84127069/129704520-93293d10-4b13-4507-8083-9a62a03bc381.png)

[2021-08-17 12:31] Maxzouz opened #11687 "Excessive RAM consumption on kubernetes pulsar bookie pods"
#### Expected behavior

RAM usage of pulsar bookie pods shouldn't exceeds xms/xmx values

#### Actual behavior

RAM usage is way over the limits fixed in config file

#### Steps to reproduce

S/O

#### System configuration
**Pulsar version**: 2.6.1
**K8s version**: v1.17.5

Hello,

I'm working on a pulsar cluster integrated inside a Rancher kubernetes cluster and deployed via helm.
Here's the valu

[2021-08-17 14:28] Vanlightly opened #11689 "Java consumer can block forever on batchReceive"
**Describe the bug**
When `Consumer.batchReceive()` is called concurrently by different threads there exists a race condition in `ConsumerBase.java` which when triggered causes a CompletableFuture in the queue `pendingBatchReceives` to be removed from the queue but not completed, causing the consumer to block forever.

The issue is that there are concurrent calls to peek and poll in `peekNextBatch

[2021-08-17 14:29] lhotari opened #11690 "Flaky-test: LockManagerTest.revalidateLockOnDifferentSession"
LockManagerTest is flaky. The revalidateLockOnDifferentSession test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/11681/checks?check_run_id=3348683996#step:9:4714)

[code]

[2021-08-17 19:20] merlimat commented on #10734
@marcoguest The memory limit in 2.8 is currently only working on limiting the amount of memory used by producers.

In this the problem is also reproducible with non-persistent topics and KeyShared subscription using a Java client.

From a first look, it looks like the non-persistent dispatcher for KeyShared in the broker is not respecting the control flow from consumers.

[2021-08-17 20:51] harissecic commented on #4861
Stumbled upon this looking for another answer. However in case it helps anyone I'll leave a comment. For such cases I guess it's possible to combine DLQ with ackTimeout. Default value I use is 3. Although I don't use auto-ack I guess it will still work the same way. If message times-out 3 times (in this case) it will automatically go to Dead Letter Queue. This will prevent it to loop endlessly bet

[2021-08-17 22:58] #11678 closed

[2021-08-18 00:39] #11625 closed

[2021-08-18 01:22] #10734 closed

[2021-08-18 05:47] wangjialing218 opened #11695 "Stop one broker may cause another broker shutdown when enable function woker in broker"
**To Reproduce**
1. Start pulsar cluster with 3 brokers and `functionsWorkerEnabled=true`
2. Stop the broker which is the leader of function worker and the owner of function worker coordinate topic.
3. Another broker will become leader and then shutdown due to fail to get coordinate topic.

**Expected behavior**
Should not trigger shutdown when fail to get coordinate topic.

**Additional context**

[2021-08-18 06:24] lhotari opened #11696 "Flaky-test: test_producer_routing_mode (__main__.PulsarTest)"
test_producer_routing_mode (__main__.PulsarTest) is flaky.

[example failure](https://github.com/apache/pulsar/pull/11681/checks?check_run_id=3357855612#step:12:1565)

[code]

logs in https://transfer.sh/1xwyvVp/test-logs%20%281%29.zip

the broker logs contain this type of timeout exception (however, this log entry might be unrelated to the flaky test_producer_routing_mode )
[code]

[2021-08-18 08:09] rayliu419 opened #11698 "General questions on Pulsar - leader broker and ZK performance issues."
Hi team,

I can't find a template to ask general question so I just post it here, please direct me to the right template/place if I am wrong.

1. Kafka(<2.8) use ZK to do leader broker election, as far as I know, when doing rolling update, when the leader broker update, the kafka cluster needs to select a new leader. During the time, the whole cluster can't offer service(at least not for write). I

[2021-08-18 09:09] marcoguest commented on #10734
Thank you @merlimat

[2021-08-18 09:34] sijia-w opened #11699 "The link for `pulsar-java-tutorial` is broken"
**Is your enhancement request related to a problem? Please describe.**
The links for `pulsar-java-tutorial` and relevant content on page https://pulsar.apache.org/docs/en/deploy-dcos/#download-and-prepare-the-pulsar-java-tutorial are broken.

**Describe the solution you'd like**
Provide available source for `pulsar-java-tutorial`.

[2021-08-18 10:25] #11291 closed

[2021-08-18 10:41] congbobo184 commented on #10627
@Anonymitaet each algorithm is affected by these configurations the same. `range_equally_divide` use hash range, `topic_count_equally_divide` is evenly distributed.

[2021-08-18 10:49] congbobo184 commented on #8357
batch is every subscription mode feature, there is no need document key_shared separately.  Is there an issue link?

[2021-08-18 11:06] congbobo184 commented on #4856
@grantwwu The document has now been added. Does this problem still exist? If there are no problems, we will close this issue.

[2021-08-18 11:19] lhotari opened #11700 "Flaky-test: ReplicatorTest.testTopicReplicatedAndProducerCreate"
ReplicatorTest is flaky. The testTopicReplicatedAndProducerCreate test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/11681/checks?check_run_id=3359802221#step:10:393)

[code]

[2021-08-18 11:21] lhotari opened #11701 "Flaky-test: BrokerServiceThrottlingTest.testLookupThrottlingForClientByBroker"
BrokerServiceThrottlingTest is flaky. The testLookupThrottlingForClientByBroker test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/11681/checks?check_run_id=3359802221#step:10:1118)

[code]

[2021-08-18 12:44] Huanli-Meng commented on #4856
@congbobo184 could you please help provide the link/PR for the added document? Thanks.

[2021-08-18 14:38] sijia-w commented on #7663
@sergescevenels-naspers The functions are available in the latest version. See https://pulsar.apache.org/docs/en/next/functions-package/#python. Do you have further questions regarding this topic?

[2021-08-18 16:39] liangyuanpeng commented on #11647
Seems like we support now. (master)

[2021-08-18 17:46] lhotari opened #11703 "Flaky-test: SubscriptionSeekTest.testShouldCloseAllConsumersForMultipleConsumerDispatcherWhenSeek"
SubscriptionSeekTest is flaky. The testShouldCloseAllConsumersForMultipleConsumerDispatcherWhenSeek test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/11697/checks?check_run_id=3363209858#step:10:3935)

[code]

[2021-08-18 17:48] lhotari commented on #10786
Another [recent failure](https://github.com/apache/pulsar/pull/11697/checks?check_run_id=3363209858#step:10:115):
[code]

[2021-08-18 17:49] lhotari commented on #10786
@mattisonchao would you like to take a look since you made the previous attempt to fix this flaky test.

[2021-08-18 17:51] lhotari opened #11704 "Flaky-test: AdminApiTest.testGetPartitionedStatsInternal"
AdminApiTest is flaky. The testGetPartitionedStatsInternal test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/11697/checks?check_run_id=3363209858#step:10:1100)

[code]

[2021-08-18 19:22] #11647 closed

[2021-08-18 20:13] michaeljmarshall opened #11708 "[Websocket] Pulsar Request Logger Logs Token Query Param for WS"
**Is your enhancement request related to a problem? Please describe.**
When opening a websocket connection with the Pulsar Websocket Service, the request is logged. When the token is passed as a query param, the token is logged because we log the original URI, which includes the query params. Given that tokens are sensitive, the token param should not be logged. Here is a sample log line with my a

[2021-08-19 00:45] Anonymitaet commented on #4856
@congbobo184 do you refer to this doc (https://pulsar.apache.org/admin-rest-api/?version=2.8.0&apiversion=v2#operation/resetCursor) ?

[2021-08-19 01:36] congbobo184 commented on #4856
https://pulsar.apache.org/admin-rest-api/?version=2.8.0&apiversion=v2#operation/resetCursorOnPosition  this is right

[2021-08-19 01:39] #4856 closed

[2021-08-19 02:42] yabinmeng commented on #11548
@lhotari Thanks for looking into this.

In my testing, I only have one node. So I don't think `brokerClientTlsEnabled=true` and`brokerClientTlsEnabledWithKeyStore=true` matter because they're used for inter-broker communication.  Technically speaking, if I want to only expose TLS ports on a broker, then I should set `brokerClientTlsEnabledWithKeyStore=true`. But in my testing it really doesn't mat

[2021-08-19 04:41] lhotari commented on #11690
Another [recent failure](https://github.com/apache/pulsar/pull/11706/checks?check_run_id=3364849405#step:9:8501):
[code]

[2021-08-19 04:42] lhotari commented on #10870
[recent failure](https://github.com/apache/pulsar/pull/11706/checks?check_run_id=3364849405#step:9:5163)

[code]

[2021-08-19 04:44] lhotari commented on #11690
yet another

[code]

[2021-08-19 05:30] #10627 closed

[2021-08-19 06:29] liangyuanpeng commented on #11538
So what's your pulsar version? and more info for this.

[2021-08-19 06:53] liangyuanpeng commented on #11476
May help. https://pulsar.apache.org/source-rest-api/?version=2.8.0#operation/registerSource

[2021-08-19 06:55] liangyuanpeng commented on #11475
Duplicate issue #11476

[2021-08-19 07:14] liangyuanpeng commented on #11503
Tested in pulsar 2.8.0 and got 404(Topic not found).

[code]

[2021-08-19 07:28] liangyuanpeng commented on #11503
I will create PR for fix this.

[code]

[2021-08-19 07:48] tuteng opened #11711 "Add integration test for function protobuf schema"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the enhancement is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any ot

[2021-08-19 07:59] liangyuanpeng commented on #11504
[code]

May shoule be `set-auto-topicreation ` and not ` set-auto-topic-creation`

[2021-08-19 08:36] #11548 closed

[2021-08-19 09:48] gaozhangmin commented on #11531
This is a bookkeeper related issue, this pr may fix this issue.
https://github.com/apache/bookkeeper/pull/2767/files

[2021-08-19 10:08] manjupriya-ar opened #11713 "Request for documentation on "ZoneawareEnsemblePlacementPolicy" of Bookie"
**Describe the bug**

Please provide us more details about "ZoneawareEnsemblePlacementPolicy" of Bookie and point us to the documentation on how to configure it and how it works

**To Reproduce**
Not Applicable

**Expected behavior**

Documentation on how to use "ZoneawareEnsemblePlacementPolicy" and how it works

**Screenshots**
Not Applicable

**Desktop (please complete the following information

[2021-08-19 10:18] hapihu opened #11714 "[spelling mistakes] There are some spelling mistakes in the document."
[code]

[2021-08-19 10:51] frankjkelly commented on #10627
Thanks @codelipenghui this is super helpful!

[2021-08-19 11:17] manjupriya-ar opened #11717 "Request for steps to upgrade Pulsar from Single AZ to Multi-AZ deployment on AWS"
**Describe the bug**

We are looking for steps to upgrade from Single AZ to Multi-AZ deployment on AWS. The options considered and the challenges are listed below

**Option 1: Deploy a new statefulset which spans across different AZ and decommission Bookie one by one from single AZ statefulset.**

**Assumption** : Autorecovery replicates data so that when Bookies are decommissioned one by one ther

[2021-08-19 12:55] fsergii opened #11719 "Namespace retention policy not working as expected"
**Describe the bug**
I`m trying to set a retention policy for namespace
bin/pulsar-admin namespaces set-retention testtenant/testnamespace --size -1 --time 1m

The main purpose is to save messages on topics even if there is no subscription. But not to store them infinitely, and delete them when some time passed.
When you set retention policy messages start writing to the topic without subscription

[2021-08-19 15:28] gaozhangmin commented on #11719
It seem that pulsar retention onyl takes effect in closed ledger.

[2021-08-19 15:43] nlu90 opened #11721 "[function] support protobuf_native schema type in pulsar functions"
**Is your enhancement request related to a problem? Please describe.**
Currently we cannot run functions with protobuf_native schema, it will throw unsupported exception.
The code is here:
https://github.com/apache/pulsar/blob/master/pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/TopicSchema.java

**Describe the solution you'd like**
We need to add the protobuf_native s

[2021-08-19 15:57] light-x opened #11722 "[help]python client 2.7.2:topic lookup after, client choose broker1,bug send nack message to another borker"
I use python client, use negative_acknowledge to delay consumption several times after, and last time I found  the ack message send  to other brokers

[2021-08-19 15:57] light-x commented on #11722
I have three broker.

[2021-08-19 17:18] yabinmeng commented on #11548
@lhotari I also tested this on Pulsar version 2.8.0. Here is what i got

1) I only explicitly set TLS ports (6651 and 8443) and leave non-TLS ports empty. The TLS settings are as below:
[code]

When I start broker, I get the following error in broker.log file
[code]

2) If I explicitly specify all 4 ports, the broker server is able to start. But again, the server is listening on all 4 ports, not i

[2021-08-19 18:17] lhotari commented on #11548
Thanks for testing this @yabinmeng . This problem is fixed by the PR. I assume that you are testing with Pulsar Standalone or with Pulsar that has Functions Worker as part of the broker. That will fail without the changes in #11681 .
I was assuming that it might be possible to workaround the issues in a k8s deployment or when Functions worker is deployed separately from the broker.

[2021-08-19 18:54] lhotari commented on #9562
@danielsinai Did this problem get resolved by upgrading to a specific Pulsar version?

[2021-08-20 01:24] Technoboy- commented on #11719
@gaozhangmin @fsergii
Yes, the remove operation is based on segment in bk, and only remove these when they are closed. Different messages may store in different segments.
Even though you set the retention policy to 1m, but maybe the segment is open.

[2021-08-20 06:06] fsergii commented on #11719
@Technoboy- so there is no guarantee that message will be deleted after a period in "time" parameter and we nothing can`t do to fix this behavior?

[2021-08-20 06:20] gaozhangmin commented on #11719
For opened ledger, broker will roll over it every 4 hours by default. So, opened ledger will be deleted after  4 hours.

[2021-08-20 11:34] abhilashmandaliya opened #11727 "Allow message router to be passed as a class name for MessageRoutingMode.CustomPartition"
**Is your enhancement request related to a problem? Please describe.**
Currently, we can set `messageRoutingMode` and `messageRouter` via the `ProducerBuilder`. `messageRouter` takes a class object as a parameter. We should have an option to take the class name as an input and create the object at runtime. One use case where this will help is to extend the functionality of source connectors where

[2021-08-20 13:59] batmac opened #11730 "ZkBookieRackAffinityMapping gives a java.lang.NullPointerException"
Hi, I'm trying to enable the rack-aware capability, but my bookkeeper services look like they don't take it, throw a java.lang.NullPointerException and fallback to the default-rack.(I'm a beginner so please forgive any dumb mistake :) )
We haven't found a way to have a more specific error message.

(Pulsar 2.8.0)

[code]

bookkeeper log:
[code]

bookkeeper conf:

[code]

Thanks!

[2021-08-20 15:56] liangyuanpeng commented on #11041
I think you can check your config file does correct for start.

[2021-08-20 16:16] liangyuanpeng commented on #10881
I think it is a k8s question about use websocket.

[2021-08-20 16:20] liangyuanpeng commented on #10560
I think it's true.

[2021-08-20 17:31] fsergii commented on #11719
Thanks for your reply. So it seems not a bug then, but normal behavior. So I think I can close the issue.

[2021-08-20 17:31] #11719 closed

[2021-08-20 22:26] bharanic-dev opened #11734 "namespace znodes (in zookeeper) don't get deleted when namespace is deleted"
**Describe the bug**

When a namespace is deleted, the namespace nodes in zookeeper in the following hierarchies are not getting deleted.

/namespace/<tenant>/<namespace>
/managed-ledgers/<tenant>/<namespace>

If namespaces are added/deleted over time, the znode count keeps increasing leading to performance issues. It also leads to slow broker startup times.

**To Reproduce**
Steps to reproduce th

[2021-08-21 00:33] #11581 closed

[2021-08-21 00:38] #11412 closed

[2021-08-21 03:09] liangyuanpeng commented on #10560
Ran had create the first PR for bk-client-go (add proto file). see https://github.com/apache/bookkeeper/pull/2750

[2021-08-21 04:13] codelipenghui opened #11735 "Flaky-test: BatchSourceExecutorTest.testPushLifeCycle()"
[code]

[2021-08-21 14:30] nishantvas commented on #9594
Did anyone have any success with this ? I've been trying different means to install the python pulsar-client but haven't been able to.

If there is a specific version of python and the pulsar-client library which works, I'm more than happy to try that combination out.

[2021-08-21 20:24] lhotari commented on #6555
When adding this feature, would it be possible to support this in the asynchronous API of the Pulsar Java Client too? I guess race conditions could be problematic unless pending receives are completed with exceptions?

[2021-08-22 02:42] codelipenghui commented on #6555
@lhotari We have a consumer events listener https://github.com/apache/pulsar/blob/6704f12104219611164aa2bb5bbdfc929613f1bf/pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerEventListener.java, users need to register a listener for getting the new events of the consumer https://github.com/apache/pulsar/blob/ef06691531002c5d7cdbbdafc5494914ee8e0765/pulsar-client-api/src/main/java/

[2021-08-22 05:58] shibd opened #11742 "Enhancement message deduplication"
**Is your enhancement request related to a problem? Please describe.**

Pulsar no support message deduplication when non-replayable source , Similarly, pulsar does not support message duplication of received history messages.

For example, the user may have sent the same order message as 5 minutes ago, pulsar cannot recognize duplicate messages.

Can pulsar support the de duplication of all arbitr

[2021-08-23 06:08] beyondyinjl2 opened #11745 "mop plugin: mqtt does not support sending or subscribing permissions to the specified topic"
mqtt starts the token authentication method and uses the tool to create the token:
bin/pulsar tokens create --secret-key file:///opt/my-secret.key
--subject test-user1
The token is as follows:
eyJhbI1NiJ9.eyJzdWIiOiJ0VzZXIyIn0.c_eE4mh4tOw_K8tKG_lI8FATkgqVTpUsBBrDOTlWg48

Use token to connect to mqtt, but it can subscribe to topic and send topic data at will, how to restrict the sending and subscri

[2021-08-23 08:19] beyondyinjl2 opened #11746 "What is the development process of the client authentication plug-in?"
update standalone.conf
authenticationEnabled=true
authenticationProviders=com.talkweb.iot.test.VVAuthenticationProvider
brokerClientAuthenticationPlugin=com.talkweb.iot.test.VVAuthentication

 VVAuthentication implements Authentication
 VVAuthenticationProvider implements AuthenticationProvider

Put the jar package into the pulsar home lib directory

Start up
bin/pulsar standalone
java.util.concur

[2021-08-23 10:10] xtuyaowu opened #11747 "install on mac client fail"
-- ARCHITECTURE: x86_64
-- BUILD_DYNAMIC_LIB:  ON
-- BUILD_STATIC_LIB:  ON
-- BUILD_TESTS:  ON
-- BUILD_PYTHON_WRAPPER:  ON
-- BUILD_PERF_TOOLS:  OFF
-- LINK_STATIC:  OFF
-- USE_LOG4CXX:  OFF
-- CMAKE_BUILD_TYPE:  RelWithDebInfo
-- Threads library:
Failed to find Protobuf in config mode, try to find it from system path
-- Protobuf_LIBRARIES: /usr/local/lib/libprotobuf.dylib
-- Protobuf_INCLUDE_DIR

[2021-08-23 12:09] lhotari opened #11750 "Flaky-test: BrokerClientIntegrationTest.testConsumerWithPooledMessagesWithReader"
BrokerClientIntegrationTest is flaky. The testConsumerWithPooledMessagesWithReader test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/11748/checks?check_run_id=3399716676#step:9:2325)

[code]

[2021-08-23 14:55] amitkaushal16 opened #11751 "Zookeeper instance packaged as part of Pulsar 2.8 build not able to connect to Pulsar 2.6 zookeeper"
**Describe the bug**
Zookeeper instance packaged as part of Pulsar 2.8 build not able to connect to Pulsar 2.6 zookeeper which leads to down in Zookeeper cluster during the maintenance.

**To Reproduce**
Steps to reproduce the behavior:
Start upgrading the Pulsar 2.6 zookeeper to a 2.8 zookeeper in a rolling fashion.

**Expected behavior**
Zookeeper in Pulsar 2.8 should be backward compatible with

[2021-08-23 15:37] #11462 closed

[2021-08-23 17:58] smazurov commented on #11457
I'm assuming it has to do with the way schemas are handled regardless of destination, [here's another issue](https://github.com/apache/pulsar-client-go/issues/546) that makes it seem specific to golang & sql

[2021-08-23 19:12] syhily opened #11752 "ClientBuilder didn't expose setter for in ClientConfigurationData"
**Describe the bug**
We can't set requestTimeoutMs by using ClientBuilder.

[2021-08-23 23:09] #11689 closed

[2021-08-24 01:04] Shoothzj opened #11755 "[code question] One branch of ProducerImpl doesn't call completeCallbackAndReleaseSemaphore."
One branch of ProducerImpl doesn't call  completeCallbackAndReleaseSemaphore. Is there any problem ?
In class ProducerImpl
![image](https://user-images.githubusercontent.com/12933197/130538935-3ea92fbd-f39b-47bb-8496-92bb0a982184.png)

After `if (!populateMessageSchema(msg, callback)) {`, it just call release the payload

[2021-08-24 01:10] #11755 closed

[2021-08-24 01:31] xuesongxs opened #11756 "When one consumer subscribes to multiple topics, disable allowAutoTopicCreation in broker.conf, as long as one topic in the topic list does not exist, messages cannot be received"
**Describe the bug**
Pulsar v2.8.0
Disable allowAutoTopicCreation in broker.conf, when one consumer subscribes to multiple topics, as long as one topic in the topic list does not exist, messages cannot be received.

Steps:
1.Create Topic "persistent://public/default/test-string111";
2.Send message to "persistent://public/default/test-string111";
3.Create Consumer：
[code]
Note: Topic "persistent://

[2021-08-24 02:18] beyondyinjl2 opened #11757 "Failed to load an authentication provider java.lang.NullPointerException"
macos big sur11.4

apache-pulsar-2.8.0

vim conf/standalone.conf
Turn on authentication basic
authenticationEnabled=true
authenticationProviders=org.apache.pulsar.broker.authentication.AuthenticationProviderBasic

start pulsar
bin/pulsar standalone

error:
org.apache.pulsar.broker.PulsarServerException: Failed to load an authentication provider.
	at org.apache.pulsar.broker.authentication.Authenti

[2021-08-24 03:33] Anonymitaet commented on #11714
Fixed in https://github.com/apache/pulsar/pull/11715

[2021-08-24 03:33] #11714 closed

[2021-08-24 05:26] abhilashmandaliya commented on #11727
closing the issue as the PR has been closed.

[2021-08-24 06:57] Saner-Lee commented on #6096
@Gray-Fullbuster hey gays, I have just sloved it by unstalling the old version java and installing the java8.

[2021-08-24 07:46] lhotari commented on #11690
[recent failure](https://github.com/apache/pulsar/pull/11706/checks?check_run_id=3408265551#step:8:4748)
[code]

[2021-08-24 07:47] lhotari commented on #11690
another
[code]

[2021-08-24 07:48] lhotari commented on #11690
also
[code]

[2021-08-24 08:27] hangc0276 commented on #11713
@manjupriya-ar hi, would you please give more information of using this placement policy, i wonder whether `RegionAwareEnsemblePlacementPolicy` can satisfy your requirements?

[2021-08-24 08:58] manjupriya-ar commented on #11713
@hangc0276 : We want to place the pulsar pods across different Availability Zones  within a given region in AWS. We need High Availability of pulsar in scenarios, where one of AZ in the given region goes down.

[2021-08-24 09:44] lujiwen commented on #3121
@sijie Hi, I got the same error, have you ever figured out why bookie starts with the empty directories?

[2021-08-24 10:43] lhotari opened #11760 "Flaky-test: C++ test BasicEndToEndTest.testLookupThrottling"
BasicEndToEndTest.testLookupThrottling is flaky.

[example failure](https://github.com/apache/pulsar/pull/11753/checks?check_run_id=3409367305#step:11:387)

try `#1`
[code]

and try `#2`
[code]

[2021-08-24 10:44] lhotari commented on #11760
@BewareMyPower do you have a solution for this flaky C++ test?

[2021-08-24 10:53] Demogorgon314 commented on #11757
If you use `AuthenticationProviderBasic`, you need to set the environment variable `pulsar.auth.basic.conf` to specify the basic auth users config path.

Example conf file content:
[code]

[2021-08-24 11:03] #11750 closed

[2021-08-24 11:21] lhotari commented on #11032
This test remains flaky. Reopening this issue

Here's a recent failure:
[code]

this happened in https://github.com/apache/pulsar/pull/11758/checks?check_run_id=3408040594#step:8:4706

[2021-08-24 11:24] lhotari commented on #11690
[recent failure](https://github.com/apache/pulsar/pull/11758/checks?check_run_id=3408040594#step:8:1447)
[code]

[2021-08-24 11:26] lhotari commented on #11032
There's also `expected [SessionReestablished] but found [Reconnected]` type of assertion failures
[code]
in https://github.com/apache/pulsar/pull/11758/checks?check_run_id=3408040594#step:8:3079

[2021-08-24 11:37] BewareMyPower commented on #11760
Current not. From the existing logs, it's because C++ client encountered segmentation fault during client's `shutdown()`, more accurately, the `ExecutorProvider`'s close phase (but there's no log).

https://github.com/apache/pulsar/blob/ac5fce55e1394698072d0cbdd0e289bd289a217e/pulsar-client-cpp/lib/ClientImpl.cc#L571-L573

https://github.com/apache/pulsar/blob/ac5fce55e1394698072d0cbdd0e289bd289a2

[2021-08-24 12:25] lhotari commented on #10870
related to #11735

[2021-08-24 12:25] lhotari commented on #10870
[recent failure:](https://github.com/apache/pulsar/pull/11737/checks?check_run_id=3410256416#step:8:6804)
[code]

[2021-08-24 12:26] lhotari commented on #11032
[also](https://github.com/apache/pulsar/pull/11737/checks?check_run_id=3410256416#step:8:1454)
[code]

[2021-08-24 12:50] YanshuoH commented on #9424
Sorry but I got to reopen the issue.

Currently upgraded to pulsar 2.7.3, the failure still occurs.

I've created another pod with the same AWS credentials injected, upload file to s3 works fine:

[code]

I wonder if there is something that I've missed?

I could always use a pair of static AK/SK but it seems a regression.

Thanks.

[2021-08-24 14:36] lhotari commented on #10439
There is also https://github.com/apache/bookkeeper/issues/2521 in BK related to the lack of backpressure configuration in Pulsar by default.

[2021-08-24 21:15] imaffe commented on #11756
So in my understanding, there are two bugs
1. when subscribe to a non-exist topic and some existing topics, the consumer  is expected to consume data from the existing topics, but we find it can't.
2. Despite case 1, when we delete the non-exsit topic subscription from the subscription, the consumer is expected to consume data from existing topics, and now we observed after case 1, the consumer do

[2021-08-25 00:48] xuesongxs commented on #11756
After step 8, the consumer's log show subscribe succeeded, but no more information:
[code]

The consumer app has no other log information.

[2021-08-25 00:55] imaffe commented on #11756
Interesting, will try to reproduce this when I get a chance, thanks for your information !

[2021-08-25 03:03] liangyepianzhou opened #11765 "Add perf test for transaction"
**Is your feature request related to a problem? Please describe.**
Add perf test for transaction.
**Describe the solution you'd like**
A transaction mainly includes the production and consumption of messages. So we can use a transaction including production and consumption as a unit, randomly abort and commit.

The performance indicators are:
- Total number of transactions.
-  Number of transactio

[2021-08-25 03:05] liangyepianzhou commented on #11765
@codelipenghui @congbobo184 I sincerely hope that you can help to take a look at this solution when you are free, and give you valuable comment

[2021-08-25 03:08] urfreespace opened #11766 "[website] website upgrade"
## Preview
- [x] make preview supported on netlify https://github.com/apache/pulsar/pull/11770?w=1

## New syntax rules
Click [here](https://docs.google.com/document/d/1IV35SI_F8G8cL-Vuzknc6RTGLK9_edRMpZpnrHvAWNs/edit#) to see details.

## Action

### Base framework
- [x] init website-next base project https://github.com/apache/pulsar/pull/11770?w=1

### Compatibility process
1. [x] implement cust

[2021-08-25 03:18] beyondyinjl2 commented on #11757
Start to report 401 after adding pulsar.auth.basic.conf

WARN  org.apache.pulsar.client.admin.internal.BaseResource - [http://localhost:8080/admin/v2/persistent/public/functions/assignments] Failed to perform http put request: javax.ws.rs.NotAuthorizedException: HTTP 401 Unauthorized
11:15:40.654 [main] ERROR org.apache.pulsar.functions.worker.PulsarWorkerService - Error Starting up in worker
org.

[2021-08-25 04:36] imaffe commented on #11699
Seems this is a duplicate issue and has been resolved already, shall we close or resolve this one ?

[2021-08-25 04:46] imaffe commented on #11699
Uh I see, seems the link https://github.com/streamlio/pulsar-java-tutorial is 404 now.

[2021-08-25 05:05] sunby opened #11768 "Failed to restart pulsar standalone"
**Describe the bug**
I start a pulasr standalone using docker-compose and produce some messages. Then run `docker-compose down ` and `docker-compose up -d`. Pulsar container failed to start.

**To Reproduce**
Steps to reproduce the behavior:
1. docker-compose up -d
2. produce messages
3. docker-compose down
4. docker-compose up -d
4. See error

**Expected behavior**
pulsar container restarts succe

[2021-08-25 05:46] lhotari commented on #11690
again
[code]

[2021-08-25 06:02] #11685 closed

[2021-08-25 06:05] lhotari commented on #11768
@sunby Please add the error message and stacktrace to the description. This will help finding the issue if someone else encounters the same issue.

[2021-08-25 06:06] lhotari commented on #11768
@sunby  Pulsar 2.6.x isn't actively maintained at the moment. Please check the result with Pulsar 2.7.3 and 2.8.0.

[2021-08-25 06:17] lhotari commented on #11032
there's a mitigation for this flaky test in #11771 by using a solution which cleans up state between test retries.

[2021-08-25 06:17] lhotari commented on #11690
there's a mitigation for this flaky test in #11771 by using a solution which cleans up state between test retries. please review

[2021-08-25 06:19] #11760 closed

[2021-08-25 06:29] sunby commented on #11768
Ok, I will check it later. I uploaded the full log above which contains the error message and stacktrace.

[2021-08-25 06:40] lhotari commented on #11687
@Maxzouz Pulsar 2.6.x isn't actively maintained. Please switch to use Pulsar 2.7.3. .

It is expected behaviour that Pulsar bookie pods consume more memory than the `-Xmx4` and `-XX:MaxDirectMemorySize` values. Please find more information in https://stackoverflow.com/a/53624438 about how Java processes consume memory.
That also applies to Pulsar Brokers. For Bookies, there's in addition the memor

[2021-08-25 06:42] xuesongxs opened #11772 "Open MLPendingAckStore managedLedger failed"
**Describe the bug**
Pulsar v2.8.0
Cluster:
1、3 zookeepers
2、3 bookies
3、1 broker

Consumer Code:
[code]

Consumer log:
[code]

broker.log:

[code]

[2021-08-25 06:54] lhotari commented on #11696
similar failure happened again. logs in https://transfer.sh/1uzS8XY/test_logs_test_producer_routing_mode_failure.zip

[2021-08-25 06:56] Maxzouz commented on #11687
Hello,

Thanks for your reply.
Regarding de version, the upgrade process is on the way ;).
As far as I know there is no helm charts for 2.7.3 it stops at 2.7.2 right now or maybe I'm not looking where I should be :
https://github.com/apache/pulsar-helm-chart/tags

Regarding the JVM point, I totally agree, it's just that the memory consumption looks enormous, almost 16Go used in one pod.
I guess th

[2021-08-25 07:10] lhotari commented on #11687
Yes that's a gap. The reason for that the intention has been to upgrade to Pulsar 2.8.0, but that has some breaking changes and it has been postponed. Pulsar 2.7.3 just hasn't  been updated to the Helm chart in the mean time, although it would make sense.

It's possible to use the 2.7.2 Helm chart and define the images to use 2.7.3 .
One way is to specify the tags in your custom values.yaml:
[code

[2021-08-25 07:12] sunby commented on #11768
I reproduce it with pulsar 2.8.0.
[code]

Here is the log file
[pulsar-08-25(1).log](https://github.com/apache/pulsar/files/7044481/pulsar-08-25.1.log)

[2021-08-25 07:15] lhotari commented on #11768
@sunby what happens if you append `--no-stream-storage` to your startup command in docker-compose.yaml ? (port 4181 is the stream storage port, that's why it might change the result)

[2021-08-25 07:20] lhotari commented on #11772
@xuesongxs the description doesn't explain how to reproduce this issue. Please provide a detailed procedure for reproducing the issue. Providing that information will increase the chances that your problem gets fixed. Reproducing issues is a large part of the work in fixing issues.

[2021-08-25 07:47] leizhiyuan commented on #11757
it use openssl   apr1 and crypt algorithm
set

[code]

and set

[code]

in standalone.conf

you can debug
[code]

[2021-08-25 07:50] sunby commented on #11768
@lhotari I got another error after adding the `--no-stream-storage`.
[code]

[2021-08-25 07:54] leizhiyuan opened #11773 "should we allow users use clear password in AuthenticationProviderBasic"
**Is your enhancement request related to a problem? Please describe.**
now AuthenticationProviderBasic only support  apr1 and crypt.

**Describe the solution you'd like**

maybe we can allow users use clear password , just like `password` not encrypt(password)

**Describe alternatives you've considered**

will match the original password first. if not match ,we check apr1 , then  check crypt etc

[2021-08-25 08:23] leizhiyuan commented on #11752
it use  lombok annotation to generate this method.

you can invoke

[code]

directly

[2021-08-25 08:28] Richard-Yi opened #11774 "Fail to restart broker Due to org.apache.pulsar.client.api.PulsarClientException$BrokerMetadataException"
**Describe the bug**
When I restart broker after installing kafka-source plugin into the running broker,  the broker restart failed.
the error log as belows:
[code]

**Additional context**
- pulsar version: 2.8.0
- pulsar mode: cluster

[2021-08-25 09:34] lhotari commented on #11774
This problem is most likely fixed by #10968 which will be included in Pulsar 2.8.1 .

[2021-08-25 09:38] lhotari commented on #11774
this issue duplicate #10967 . Closing.

[2021-08-25 09:38] #11774 closed

[2021-08-25 09:38] xuesongxs commented on #11772
I modified the description of the issue and added the step description.

[2021-08-25 09:59] beyondyinjl2 commented on #11757
Thank you very much, it has been successful. I set pulsar.auth.basic.conf to modify the pulsar_env.sh file. Is there a better way?

[2021-08-25 10:29] leizhiyuan commented on #11757
it is right, I think you change the PULSAR_EXTRA_OPTS settings is ok

[2021-08-25 10:56] Maxzouz commented on #11687
Thank you.
We were planning on using 2.7.2 for now but I will submit the idea of using 2.7.3 images in our chart.

Yes, sorry my english is not that great. That's exactly what I meant.
I'll update the values to add memory limits on each pulsar component and then upgrade the configuration with 'helm upgrade'

Issue can be closed

[2021-08-25 13:02] #11742 closed

[2021-08-25 16:26] yuruguo opened #11775 "[testclient] --subscriptions size is less than --num-subscriptions can cause IndexOutOfBoundsException in consumption"
**Describe the bug**
`--subscriptions` size is less than `--num-subscriptions` can cause IndexOutOfBoundsException when execute `bin/pulsar-perf consume`

**To Reproduce**
Steps to reproduce the behavior:
**case 1:**
`bin/pulsar-perf consume -ns 2 -n 1 -st Exclusive -sp Earliest -ss sub -r 100 test01`
**case 2:**
`bin/pulsar-perf consume -ns 3 -n 2 -st Share -sp Earliest -ss mysub01,mysub02 -r 100

[2021-08-25 19:45] zbentley opened #11779 "Deleting tenants with active namespaces yields a 500 and stacktrace, not 409 or 405"
**Describe the bug**
If I issue an HTTP DELETE for a tenant which has one or more active namespaces, the API docs indicate that I should get either a 405 (`Broker doesn't allow forced deletion of tenants`) or a 409 (`The tenant still has active namespaces`).

However, I instead get the below stacktrace.

**To Reproduce**
1. Start a 2.8.0 broker in standalone configuration.
2. Create a tenant.
3. C

[2021-08-25 19:47] geomagilles opened #11780 "producer.sendAsync is interrupted by client.close()"
**Describe the bug**
If the client closes while sendAsync() is processed, the message is lost.

**To Reproduce**
see https://github.com/infiniticio/pulsar-bug-clientAsync

**Expected behavior**
The message should be sent before actually closing the client (https://apache-pulsar.slack.com/archives/C5Z4T36F7/p1629752614463900?thread_ts=1629723649.441700&cid=C5Z4T36F7)

**Additional context**
none

[2021-08-26 00:55] freeznet opened #11781 "[package management service] inequality file issue when having large file content"
**Describe the bug**
When uploading a large file to the package management service, the downloaded file is not the same file when uploaded. The downloaded file has the same size as the uploaded file, but with different content.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. enable `enablePackagesManagement` in broker.conf
2. upload a large file with `pulsar-admin packages upload`
3.

[2021-08-26 01:27] Shoothzj opened #11783 "ConcurrentModificationException occurs when failPendingMessages"
### Describe the bug
![image](https://user-images.githubusercontent.com/12933197/130885099-ecb22a9c-5422-4057-9f00-d85d1c24b84b.png)

### To Reproduce
It's hard to reproduce.

### Expected behavior
Keep the list operation safely.

Additional context
It occurs when restarting one of brokers(there were 2 running brokers), first client recevied `DisConnected` event, and then ConcurrentModificationExc

[2021-08-26 03:05] oversearch opened #11787 "Question: copy or move topics between Pulsar clusters"
**Is your feature request related to a problem? Please describe.**
I'm wondering if it's currently possible to copy or move a topic that exists in one Pulsar cluster to another independent cluster?

For example, say I have a topic with a long retention time (perhaps backed by tiered storage in S3) associated with some entity in my business logic that exists specifically in one AWS region in a mult

[2021-08-26 04:24] hangc0276 opened #11789 "java.lang.NoSuchMethodError: java.nio.ByteBuffer.position(I)Ljava/nio/ByteBuffer"
**Describe the bug**
When create a function, the server side throws NosuchMethodError exception
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Created Successfully

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]

**Additional context**
Add any other context about the problem here.

[2021-08-26 08:10] #11781 closed, assigned to nobody

[2021-08-26 08:12] #11789 closed, assigned to hangc0276

[2021-08-26 08:39] HistoryGift opened #11793 "docker pulsar standalone模式开启transaction会挂掉"
**Describe the bug**
docker启动pulsar standalone，配置transaction，容器 重启后无法正常启动

**To Reproduce**
Steps to reproduce the behavior:
1. docker run -it --name pulsar\
  -p 6650:6650 \
  -p 8080:8080 \
  apachepulsar/pulsar:2.8.0 \
  bin/pulsar standalone
2.   vim standalone.conf
    transactionCoordinatorEnabled=true
3. 初始化数据
   bin/pulsar initialize-transaction-coordinator-metadata -cs 127.0.0.1:2181 -c s

[2021-08-26 10:40] casuallc opened #11796 "throw NPE when readEntry"
**function call chain：**

**ManagedCursorImpl**

[code]

**OpReadEntry**

[code]

**ManagedLedgerImpl**

[code]

**OpReadEntry**

[code]

**description**
if read ledger not in ledgers, there is a exception.
but OpReadEntry instance is not be initialized, variable cursor is null.
function readEntriesFailed will throw NPE, and OpReadEntry is not recycle.

[2021-08-26 15:50] ivankelly opened #11799 "PIP-89: Structured document logging (Master issue)"
This is the master issue (for the changes for PIP-89).

https://github.com/apache/pulsar/wiki/PIP-89:-Structured-document-logging

[2021-08-26 23:16] codelipenghui opened #11805 "[Doc] missed doc for topic lookup metrics"
https://github.com/apache/pulsar/pull/8272 introduced some new metrics for the topic lookup but looks like we don't have any documentation for the new metrics

[2021-08-27 00:33] hangc0276 opened #11806 "Generate javadoc failed for kafka-connect-adaptor"
**Describe the bug**
When run `mvn deploy`, it throws the following exception
[code]

**To Reproduce**
1. Go to `pulsar-io/kafka-connect-adaptor`
2. run `mvn javadoc:javadoc`
3. See error

**Expected behavior**
generate javadoc success.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: mac
 - java: 1.8.0_2

[2021-08-27 01:48] #11806 closed, assigned to hangc0276

[2021-08-27 07:58] zhanghaou opened #11814 "[Pulsar admin] admin command 'get-message-by-id' can get message by messageId regardless of topic name"
![image](https://user-images.githubusercontent.com/5668441/131091854-f756ba41-5ad3-4082-a541-6c78120285ab.png)

[2021-08-27 09:11] NothinkingGao opened #11817 "ServiceUnitNotReady"
we have 4000+ topics,when it was running for a while,the server will response:
2021-08-24 09:30:58,835 - (unknown file)[line:0] - ERROR - [10.1.16.11:27265 -> 10.1.57.110:62901] Failed lookup req_id: 15183 error: ServiceUnitNotReady

is anyone meet this

[2021-08-27 15:37] tonisojandu-sympower opened #11819 "Custom conversions for Avro Specific Records are ignored"
I think we found a bug in the Pulsar Java Client. You maybe aware of it or you may have already addressed it. When writing Avro Specific Records into Pulsar producer then it uses shaded Avro code. This means that when it reaches:
`org.apache.pulsar.shade.org.apache.avro.specific.SpecificDatumWriter.writeField(Object datum, Field f, Encoder out, Object state)`
[code]
it has a decision to make:
[cod

[2021-08-27 23:11] zbentley opened #11823 "Using the Python pulsar client with a logger can cause arbitrary/unrelated `async` Python functions to return `None`"
If a `logger` object (any logger object) is supplied to `pulsar.Client` objects in Python, its presence can cause arbitrary `async` Python functions to return `None` incorrectly.

# Steps to reproduce

To reproduce, run the following:

[code]

# Test setup

Python: 3.9
OS: MacOS 10.11
Arch: x86_64
Pulsar broker: 2.8.0 standalone, running locally
Client: `2.8.0.post0`

# Pathology/root cause

This

[2021-08-27 23:13] zbentley commented on #11823
Since this is a reasonably subtle and silent bug when it occurs, I suggest removing client support for a user-supplied `logger`.

That breaks backwards compatibility, and is not to be undertaken lightly, but the risk otherwise seems pretty significant: the bug surface is the intersection of "a custom logger is in use", "any `async` python function is running in my program, anywhere" and "any pulsa

[2021-08-27 23:18] zbentley commented on #11823
Actually, after thinking about it a bit, this may be possible for the Pulsar client to mitigate (though it still seems like a Boost problem fundamentally).

Since `PyErr_Print` mutates interpreter state (clears the global exception bit), calling it in the C++ python bindings is making this bug worse. Without that call, any logger interactions during C++ object destruction would still fail, and som

[2021-08-28 04:48] BewareMyPower commented on #11823
@lbenc135 Could you help take a look?

[2021-08-28 05:07] BewareMyPower commented on #11823
I cannot reproduce this bug in my local env (macOS Big Sur 11.2, Boost-python 1.74). Here's my output:

[code]

I also noticed `PyErr_Print` is only called when exceptions are caught. Does removing the call of `PyErr_Print` really work?

----

BTW, I found https://github.com/apache/pulsar/pull/10981 might fix this issue because the Python client I used was compiled from latest master. Could you al

[2021-08-28 06:08] aloyszhang opened #11825 "Consumer may receive duplicated message after seek if AcknowledgmentAtBatchIndexLevelEnabled"
**Describe the bug**
If AcknowledgmentAtBatchIndexLevelEnabled, consumer may receive duplicated messages after seek to batchIndex.

**To Reproduce**
Steps to reproduce the behavior:
1. Create producer and enable batch
2. send some message and pick one BatchMessageId
3. create consumer and seek to the BatchMessageId
4. consumer may receive duplicated messages whose MessageId is  less than BatchMess

[2021-08-28 10:26] yuruguo opened #11827 "[testclient] deprecate option --subscriber-name and substitute --subscriptions first element for it"
**Is your enhancement request related to a problem? Please describe.**
Option `--subscriber-name` is redundant and easy to cause interference when the size of `--subscriptions` is equal to 1 but `--num-subscriptions` is not equal to 1 in command `bin/pulsar-perf consume`, as follow:
_**case 1:**_
`bin/pulsar-perf consume -ns 2 -st Shared  -r 100 persistent://public/default/test01`
<table class="ta

[2021-08-28 11:01] BewareMyPower commented on #11823
It's weird that somehow I can reproduce this bug now, the output is

[code]

[2021-08-28 11:25] BewareMyPower commented on #11823
I think a temporary solution is to avoid C++ object's destructor in `async` functions, like

[code]

[2021-08-28 12:58] zbentley commented on #11823
I believe so, though that only solves part of the issue. Without the call to PyErr_Print, return values aren't altered. However, the logger won't work in those situations (destruction after an async return) even without the call to PyErr_Print, as boost::python::call fails before invoking the requested function in that context.

That does indeed work. However, because the Pulsar client is heavily

[2021-08-28 13:25] gaozhangmin commented on #11756
I just tested, After delete topics that is not exists, I can consume the message. version:2.8.0

[2021-08-29 10:06] chlyzzo opened #11830 "the machine a, i run a standalone pulsar, and can produce and consume message on machine a; but on machine b, how can i produce message?"
**Is your feature request related to a problem? Please describe.**

   the machine a, i run a standalone pulsar, and can produce and consume message on machine a;
   but on machine b, how can i produce message?

   use bin/pulsar proxy command and first write conf/proxy.conf， but get error:

17:45:28.322 [main] ERROR org.apache.pulsar.proxy.server.ProxyServiceStarter - Failed to start pulsar proxy

[2021-08-29 14:53] chlyzzo opened #11832 "on machine a which install pulsar standalone，then send message to machine's pulsar one topic on machine b,but get error Connection reset by peer"
download apache-pulsar-2.8.0-bin.tar.gz, and run the command: ./bin/pulsar-daemon start standalone on machine a.
then, edit conf/proxy.conf, ：
brokerServiceURL=pulsar://dev.bcc-bdbl-1:6670
brokerServiceURLTLS=pulsar+ssl://dev.bcc-bdbl-1:6671
brokerWebServiceURL=http://dev.bcc-bdbl-1:8090
brokerWebServiceURLTLS=https://dev.bcc-bdbl-1:8453
bindAddress=dev.bcc-bdbl-1
advertisedAddress=dev.bcc-bdbl-1

[2021-08-29 15:07] liangyuanpeng commented on #11832
Do you mean you use send message to pulsar broker by proxy and it's not work?

Does work if you just use pulsar broker?

[2021-08-29 15:10] liangyuanpeng commented on #11830
Duplicate #11832

[2021-08-29 15:23] chlyzzo commented on #11832
------
first，i just want to send/get message from pulsar, which install machine a； use proxy, beacuse i find the document "https://pulsar.apache.org/docs/en/administration-proxy/", so i try,
but do not work, on machine b, send message get "Connection reset by peer" error.

[2021-08-29 15:48] zbentley opened #11833 "Build/packaging: source tarballs on Apache mirror are missing executable mode for some shell scrips (e.g. rename-netty-native-libs.sh)."
Some shellscripts required to build Pulsar are executable in `master`, but are not marked as executable in the source tarballs available on apache.org.

One such example is `src/rename-netty-native-libs.sh`, which is executable [in master](https://github.com/apache/pulsar/blob/master/src/rename-netty-native-libs.sh). However, if I download a source tarball from https://www.apache.org/dyn/mirrors/m

[2021-08-29 15:50] zbentley commented on #11833
There may be other shell scripts affected by being not executable; however, `rename-netty-native-libs.sh` is the only one that needs a `chmod` for `mvn -X clean package -DskipTests -Pcore-modules` (my minimal build) to succeed. It might be worth auditing the pom.xml files in this repo to make sure that either a) all shellscripts invoked are executable or b) all of them are invoked with an explicit

[2021-08-29 17:37] zbentley opened #11834 "500 error and stacktrace when attempting to terminate a non-persistent topic via the admin API"
**Describe the bug**
When I attempt to POST `/terminate` to a non-partitioned, non-persistent topic, I recieve a 500 error and a stacktrace starting with `class org.apache.pulsar.broker.service.nonpersistent.NonPersistentTopic cannot be cast to class org.apache.pulsar.broker.service.persistent.PersistentTopic`.

The full stacktrace and HTTP logs from my client are at the bottom of this issue.

**T

[2021-08-30 01:11] Anonymitaet commented on #11832
Hi @chlyzzo thanks for your issue.

1. Please use English to communicate so that most of us can understand your problem and give suggestions.

2. If you ensure your problem is caused by doc missing / inaccurate rather than other factors, you can label an issue with `doc-required`. Otherwise, please investigate your issue thoroughly first, thanks.

[2021-08-30 01:27] BewareMyPower commented on #11823
Yeah, I tried in my local env that removing `PyErr_Print` works. It's because when the `LoggerWrapper` is constructed in a destructor, `py::call_method` for `logger.getEffectiveLevel` failed and `PyErr_Print` is triggered. I'll push a PR soon.

[2021-08-30 01:45] gaoran10 commented on #11834
Currently, I think the non-persistent topic is the lack of the terminating operation, there is a lack of a check to reject the non-persistent topic requests, and we need to add the terminating operation for the non-persistent topic.

[2021-08-30 02:15] xuesongxs commented on #11756
1.If the consumer subscribes to two topics and one of them doesn't exist, are you sure they can't consume?

2.If the consumer subscribes to an existing topic, can he receive a message? Can historical messages sent to this existing topic be received?

[2021-08-30 03:05] NothinkingGao opened #11836 "after split bundle,what happened next"
if a topic request to broker1,after a while the bundle of the topic be splited to broker2,then the topic still request broker1,what happened next,the broker1 handle this request or broker2 handle it,what the flow,could anyone can help

[2021-08-30 03:07] graceon opened #11837 "how to disable pre-fetch message before python client consumer.acknowledge(msg)"
server version 2.8.0
python client version 2.8.0

 /docker/pulsar/pulsar_test_prefetch.py
[code]
i run
python3 /docker/pulsar/pulsar_test_prefetch.py 1 0.01
python3 /docker/pulsar/pulsar_test_prefetch.py 1 20
then run
python3 /docker/pulsar/pulsar_test_prefetch.py 0 50

the result of python3 /docker/pulsar/pulsar_test_prefetch.py 1 0.01 is
[code]
the result of python3 /docker/pulsar/pulsar_test_pr

[2021-08-30 03:30] liangyuanpeng commented on #11832
@chlyzzo
I think this error have more message, you can check again.

I try to use proxy for pulsar standalone and it's working.

1. set advertisedAddress on standalone.conf
2. `bin/pulsar standalone`   (machineA)
3. set pulsar broker info for proxy.conf
4. `bin/pulsar proxy`  (machineB)
5. pulsar consumer subscribe topic from proxy
6. pulsar producer send message to topic from proxy
7. pulsar cons

[2021-08-30 03:39] #11682 closed

[2021-08-30 03:55] liangyuanpeng commented on #11836
I think you can talk about this in mail list or slack.

[2021-08-30 05:34] liangyuanpeng commented on #11698
Slack is good place of talk about this.

[2021-08-30 06:08] wangjialing218 commented on #10933
This issue is fixed by #8143

[2021-08-30 06:08] #10933 closed

[2021-08-30 06:10] rayliu419 commented on #11698
@liangyuanpeng , thanks for your suggestion, I just joined it.

[2021-08-30 06:49] #11837 closed

[2021-08-30 06:51] graceon commented on #11837
i restart my pulsar server and set queue size to 0 now it is ok

[2021-08-30 07:00] eolivelli commented on #11698
@liangyuanpeng @rayliu419

This is good, but in Apache we usually prefer to discuss on the mailing lists, like users@pulsar.apache.org (subscribe here https://pulsar.apache.org/contact/)

This is because in the mailing lists the discussion is more asynchronous and more people are able to interact with the discussion thread.
Slack is very good for quick answers/replies and possibly targeted to spec

[2021-08-30 09:01] JohnMops commented on #5284
Hi, Is this issue fixed after 2.7.x?

[2021-08-30 13:49] zbentley commented on #11823
Confirmed that #10981 does not resolve this issue. That's because the root cause is pretty broad (any time C++ code calls back into Python during a C++ destructor, not just during global finalization, the call fails--and worse, if you then call the standard "print why this failed" python utility function, it corrupts the interpreter frame).

[2021-08-30 14:13] flowchartsman commented on #10560
If we're going to have `bk-client-go`, I probably don't need to file an issue for pulsar-client-go then,  unless there are broader non-function-SDK uses for bk integration into the go client.

[2021-08-30 15:05] BewareMyPower commented on #11823
Yeah, I just opened a PR #11840 to fix this issue, PTAL. Since the test cannot be verified in current Python2 based CI, you can verify it in your local env.

[2021-08-30 15:24] #11836 closed

[2021-08-30 15:25] lhotari commented on #11836
Besides the mailing list or Pulsar Slack, you can also ask questions on Stackoverflow, please use the [apache-pulsar tag](https://stackoverflow.com/tags/apache-pulsar).

[2021-08-30 15:53] zbentley commented on #11823
@BewareMyPower testing now.

[2021-08-30 16:22] zbentley opened #11842 "[2.8.0] After being killed with SIGKILL, pulsar will not start unless its data directory is removed."
**Describe the bug**
If I kill Pulsar standalone with SIGKILL/`kill -9` after it has been started, the broker will not successfully start anytime thereafter unless its data directory is removed and it is reset to initial state.

If this isn't easily fixable, please provide a workaround that I can use on Pulsars that get into this state to bring them back  without deleting all their data (something

[2021-08-30 17:25] zbentley commented on #11823
Unfortunately I am able to reproduce the bug on your branch:

[code]

[2021-08-30 19:29] lhotari commented on #11628
ElasticSearchClientTests.testBulkRetry is failing frequently. @eolivelli @vroyer  any chance to reduce the flakiness?

[recent failure](https://github.com/apache/pulsar/pull/11843/checks?check_run_id=3464533950#step:8:14749)
[code]

[2021-08-30 20:45] zbentley opened #11845 "[2.8.0] Python client instances emit logs for every client instance ever constructed with a `logger` argument"
**Describe the bug**
When `Client` instances are constructed with the Python driver, they seem to accumulate the value of the `logger` argument as global state. This means two things:

1. If a Client is constructed *without* a `logger`, all subsequent clients constructed with a `logger` will not use it.
2. If a Client is constructed *with* a logger, and another client is constructed with a differe

[2021-08-30 21:04] zwalsh-toast opened #11846 "[Java client] Allow consumer to be created in a paused state"
**Is your enhancement request related to a problem? Please describe.**
Our applications currently start up and immediately subscribe and consume pulsar messages. We would like to decouple deployment from activation, and then use pause/resume to safely turn different deploys on and off.

**Describe the solution you'd like**
Add an option to the consumer builder to subscribe in a paused state, e.g.:

[2021-08-30 21:09] zbentley opened #11847 "[2.8.0] Python programs hang uninterruptibly on shutdown if pulsar clients are used anywhere non-global with the `logger` argument"
**Describe the bug**
If a pulsar `Client` instance is constructed with its `logger` argument set to a Python logger, and that client is destroyed anywhere other than at global destruction/interpreter shutdown time, the Python interpreter will not shut down or respond to kill signals.

**To Reproduce**
0. Ensure a broker is running (I used a local 2.8.0 standalone).
1. Control group: run the follow

[2021-08-30 21:11] zbentley commented on #11823
Additionally, in the process of debugging this issue, I found a couple more issues related to the `logger` argument in Python.
- Annoying/potentially damages logging integrity (medium/low severity for me, unsure about others): https://github.com/apache/pulsar/issues/11845
- Extremely problematic for any affected code (high severity for me, likely others too unless there is something about my insta

[2021-08-31 00:20] zbentley commented on #11847
Interesting addendum: if *any* Client object is destroyed at global destruction time, the hang no longer occurs.

So the workaround is straightforward, if odd: construct at least one global Client--even if it's never connected or used.

For example, all of the example snippets work as expected if the line `Client('')` is added to the bottom of each snippet.

Doing so is a bit messy because of http

[2021-08-31 00:27] sijie opened #11849 "Allow configuring SchemaCompatibilityStrategy at broker level"
*Motivation*

Currently, SchemaCompatibilityStrategy can only be configured per namespace. It would be great that this setting can be configured at the broker level.

[2021-08-31 02:10] graceon opened #11850 "Java Client not allow newConsumer().receiverQueueSize(0)"
My Code
[code]
debug it run into
[code]
i can receive messages when I use .receiverQueueSize(1)
i can not receive messages when I use .receiverQueueSize(0)

[2021-08-31 02:13] BewareMyPower commented on #11823
I found the second issue as well. We can take a look at these two issues later.

Regarding to this issue, could you upload you code `scratch.py` to reproduce? In my local env, `custom_logger_test.py` and the code in this PR work well. Here's my code with debug level logging.

[code]

When I ran it, the output was like

[code]

You can see there're two lines that use the default logger.

In your ou

[2021-08-31 03:08] liangyuanpeng opened #11855 "Can not found doc for "Enable pulsar function to send message to external pulsar cluster ""
Please answer the following questions before submitting your doc issue. Thanks!

# What issue do you find in Pulsar docs?

Not found doc about this PR https://github.com/apache/pulsar/pull/8434

# What is your suggestion?

Add explanations or use case about this on https://pulsar.apache.org/docs/en/functions-overview/

# Do you have any references?

# Would you like to fix this issue?

No, I want

[2021-08-31 03:47] beyondyinjl2 opened #11857 "java.lang.NoSuchMethodError: org.apache.pulsar.broker.ServiceConfigurationUtils.getAppliedAdvertisedAddress(Lorg/apache/pulsar/broker/ServiceConfiguration;Z)Ljava/lang/String;"
apache-pulsar-2.8.0/protocols/
2 versions
pulsar-protocol-handler-mqtt-2.9.0-SNAPSHOT.nar
pulsar-protocol-handler-mqtt-2.8.0.8.nar

vim conf/standalone.conf
messagingProtocols=mqtt
protocolHandlerDirectory=./protocols
brokerServicePort=6651
mqttListeners=mqtt://127.0.0.1:1883
advertisedAddress=127.0.0.1

mqttProxyEnable=true
mqttProxyPort=5682

bin/pulsar-daemon start broker

11:39:29.712 [main] E

[2021-08-31 04:46] BewareMyPower commented on #11847
It's stuck at `PyGILState_Ensure` caused by some thread-safety problems. I'll push a fix soon.

[2021-08-31 04:49] BewareMyPower commented on #11857
It's because Pulsar side has some API changes from 2.8.0. You can use StreamNative Pulsar, for example, your MoP version is 2.8.0.8, you can use [StreamNative Pulsar 2.8.0.8](https://github.com/streamnative/pulsar/releases/tag/v2.8.0.8).

[2021-08-31 06:03] graceon commented on #11850
it works thanks

[2021-08-31 06:15] liangyuanpeng commented on #11857
Duplicate https://github.com/streamnative/mop/issues/86

Thanks for your reply,

[2021-08-31 06:17] #11850 closed

[2021-08-31 06:46] beyondyinjl2 commented on #11857
Thank you very much, 2.8.0.8 can be used

[2021-08-31 09:43] beyondyinjl2 opened #11860 "topic: persisten://public/default/my-topic/# This format defines an error"
subscribe topic persisten://public/default/my-topic/# and persisten://public/default/my/+/topic and persisten://public/default/aaa/bbb/topic Report all errors

What are the definition rules of topic, like mqtt protocol, this kind of topic is supported

[2021-08-31 09:46] liangyuanpeng opened #11861 "Function list API return more message"
**Is your feature request related to a problem? Please describe.**

Now. function list API just return functions name and it's greate if return more message:

- Running [true/false]
- workerId ""
- Restarts (from status.numRestarts)

like this,

|  NAME  | RUNNING | RESTARTS | WORKERID |
|  ----  | ----  | ----  | ----  |
| first  | true |  0 | c-standalone-fw-localhost-8080 |
| second | false |

[2021-08-31 09:49] liangyuanpeng commented on #11860
What's error message?

[2021-08-31 11:53] MaxHub commented on #10437
@lhotari
Thank a lot for the invite. Do you have smth production ready? And also is there any issues that I can help with& =)
I implemented reactive facade in out company, but it hardly can satisfy others

[2021-08-31 12:41] #10917 closed

[2021-08-31 13:56] zbentley commented on #11823
The contents of my `scratch.py` were the snippet in the description of the bug.

When I run your code exactly as written, I get this output:

[code]

...after which the code hangs (per the other bug linked).

I'm using python 3.9.6 installed via `brew`, in a clean virtual environment; the only commands I've issued other than venv creation are `pip install pulsar-client` and `pip install fastavro`.

[2021-08-31 14:00] zbentley commented on #11823
On Python 3.7.10, the bug still occurs, but I get a lot more output, which may be useful:
[code]

[2021-08-31 14:06] lhotari commented on #10437
I've been busy getting the adapter library into a state where it fulfils the promise made [in the conference talk abstract](https://springone.io/2021/sessions/reactive-applications-with-apache-pulsar-and-spring-boot). Conference Driven Development. The code is already available at https://github.com/lhotari/reactive-pulsar and https://github.com/lhotari/reactive-pulsar-showcase .

I have put most

[2021-08-31 15:02] BewareMyPower commented on #11823
The output looks like to be the case that you mentioned in another issue but my code has called `client.close()`, it should not happen.

How did you build the C++ library? I suspected your C++ library was not built well. I didn't use `pip install`. Instead I built from source using CMake in `pulsar-client-cpp` directory.

[code]

After compilation completed, copy the `_pulsar.so` from `_builds/pyt

[2021-08-31 15:04] BewareMyPower commented on #11823
I'll try to build Python client in a Ubuntu based docker image so that the code can be verified in a general environment. It might take some time.

[2021-08-31 15:34] Shoothzj commented on #11783
I just figure out why, because the client code retry to send messages when exception occurred to avoid network "Jitter"(Translate on google). the sample code are like this
[code]
The `exceptionally` is called from `ProducerImpl.failPendingMessages`'s forEachLoop, and `sendAsync` will add messages to `pendingMessages`, then the error ocurred.

I have a question. Should we allow to retry on `excepti

[2021-08-31 16:17] avirlrma commented on #11780
Hi folks,

Can I take this up? @sijie

[2021-08-31 16:19] avirlrma commented on #11507
Hi @eolivelli ,

Can we close this?

[2021-08-31 16:37] zbentley commented on #11823
I didn't; `pip install pulsar-client` does not by default invoke the compiler. Instead, it downloads [wheels](https://packaging.python.org/guides/distributing-packages-using-setuptools/#wheels) of precompiled artifacts that were submitted by project maintainers.

However, the usual means of overriding this (`pip install pulsar-client --no-binary :all:`) does not work for me:
[code]

I think this m

[2021-08-31 16:47] BewareMyPower commented on #11823
You can open an issue or send an email for this issue. I'm not familiar with how Python client was published but someone else might know.

Never mind, glad to hear it works for you :)

[2021-08-31 16:48] #11823 closed

[2021-08-31 17:06] zbentley commented on #11823
Thanks again for the fix!

What's the Pulsar policy on cutting new client releases? Should your bugfix cause publication of updated Python client packages to PyPi, or should that wait until the next main Pulsar release?

Either one is fine, I just want to know whether I should publish a hand-built version of the Python client to my organization's internal package mirror or wait for PyPi to have it

[2021-08-31 19:33] zbentley opened #11866 "Attempting to delete a namespace immediately after deleting all topics in that namespace raises `org.apache.zookeeper.KeeperException$NotEmptyException: KeeperErrorCode = Directory not empty`"
**Describe the bug**
If I delete a namespace (without `force`) via the V2 admin API immediately (less than a second) after issuing deletes for all topics in that namespace, I get a stacktrace and a 500 response code (full stacktrace at the bottom of this issue).

If I wait a moment (2 seconds is sufficient in all of my tests), that error no longer occurs when I attempt to delete the namespace.

It

[2021-08-31 19:45] merlimat commented on #11866
The reason is probably related to the caching of metadata in brokers and that the the different requests are hitting different brokers.

When you delete all topics, when you get the 200 responses, all the topics are gone. That will trigger notification to all brokers to update their cached views.

If the the delete namespace ends up in a different broker, its cache might still not have been update

[2021-08-31 20:08] zbentley commented on #6463
I am also affected by this (pulsar client `2.8.0.post0`, broker 2.8.0 standalone, Python 3.9.6 on MacOS 10.11). The following script reliably reproduces the segfault:

[code]

[2021-08-31 20:09] zbentley commented on #11635
If it's the same segfault I mentioned [here](https://github.com/apache/pulsar/issues/6463#issuecomment-909587000), that may provide a means to more predictably reproduce it.

Might be a totally unrelated issue though.

[2021-08-31 20:09] zbentley commented on #11866
This occurred against a standalone broker; are there multiple (e.g. thread local) metadata caches in use in standalone as well?

[2021-08-31 20:27] zbentley commented on #6463
@BewareMyPower I suggest updating this issue's description to reflect affected platforms, e.g. `Pulsar client segfaults Python if any Producer instance outlives the garbage collection of any Client instance` or similar.

[2021-08-31 20:46] zbentley commented on #10721
Sorry for taking so long to come back to this. I was able to reproduce the issue on 2.8.0 with the `2.8.0.post0` Python client
 (MacOS 10.11, Python 3.6.9).

Better yet, I was able to reproduce it against standalone broker with the below snippet, no partitioned topic or multi-node ensemble required.

Additionally, another symptom of this bug is that if the below snippet is launched after the broke

[2021-08-31 22:28] zbentley commented on #10721
On master, which has merged https://github.com/apache/pulsar/pull/11029, the issue still occurs. I built _pulsar.so against `master` and re-ran the above snippet twice: once against a running broker that I SIGSTOPped, and once against an already SIGSTOPped broker.

Both runs exhibited the bug (both uninterruptibly hung), though the first run emitted more logs and retried internally while on `maste

[2021-09-01 01:10] Anonymitaet commented on #11855
@liangyuanpeng thanks for your issue. Since the PR https://github.com/apache/pulsar/pull/8434 was already labeled with `doc-required`, there is no need to label this issue with `doc-required` again, so I close this issue. We will add docs later.

If you have any problems in using this feature, you can create another issue, thanks.

[2021-09-01 01:10] #11855 closed

[2021-09-01 02:03] beyondyinjl2 commented on #11860
code:
PulsarClient client = PulsarClient.builder()
                .serviceUrl("pulsar://192.168.146.17:6650,192.168.146.18:6650,192.168.146.19:6650")
            .authentication(AuthenticationFactory.token("eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJhZG1pbiJ9.OhQ8GtHiF4_oB7j_0Lzf8eTHhxJYfTeKg8t2aKxOuUQ"))
 .build();

        Producer<String> stringProducer = client.newProducer(Schema.STRING)

[2021-09-01 02:35] 315157973 commented on #11783
In my opinion, we can only use interfaces to restrict the use of methods, verbal conventions are not a good way

[2021-09-01 02:50] BewareMyPower commented on #11823
It should only be published to PyPi for stable versions. For master branch, you need to build from source.

If the related PR was already cherry-picked to branch of last stable version (branch-2.8 currently), the wheel file would be included in StreamNative's weekly release, like https://github.com/streamnative/pulsar/releases/tag/v2.8.0.15.

[2021-09-01 02:52] beyondyinjl2 opened #11869 "Is there any development documentation for the authentication and authorization plug-in, and what is the address?"
Is there any development documentation for the authentication and authorization plug-in, and what is the address?

[2021-09-01 03:00] chgxtony commented on #11158
I have the same problem

[2021-09-01 03:12] gaoran10 opened #11871 "Flaky-test: [LockManagerTest].[revalidateLockOnDifferentSession]"
[LockManagerTest] is flaky. The [revalidateLockOnDifferentSession] test method fails sporadically.

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
Error:  revalidateLockOnDifferentSession(org.apache.pulsar.metadata.LockManagerTest)  Time elapsed: 30.984 s  <<< FAILURE!
org.apache.pulsar.metadata.api.MetadataStoreException: org.apache.zookeeper.KeeperException$ConnectionLossExce

[2021-09-01 03:14] BewareMyPower commented on #10721
I still cannot reproduce the bug. For the first log file, it looks like the reconnection logs only happened for `send`, instead of `create_producer`. I ran your code with a little change that adds the timeout for send

[code]

Here's the output:

[code]

The reconnection related logs should appear before the `Got exception: Pulsar error: TimeOut` line, but it appeared after this line in your logs.

[2021-09-01 05:43] lhotari commented on #11871
This is a duplicate of #11690.

[2021-09-01 05:43] #11871 closed

[2021-09-01 05:46] lhotari commented on #11768
The root cause of the issue has been reported as #11842 .

[2021-09-01 05:47] #11768 closed

[2021-09-01 06:19] eolivelli commented on #11783
Cannot prevent the user to call `sendAsync` that way.
We have to deal with this case.
Now that you have a reproducer it will be easier to create a test case that reproduces the issue.
good catch !

[2021-09-01 06:29] lhotari commented on #11783
Good catch @Shoothzj !

I think that this is a bug that needs to be fixed. I took a quick look and I have a relatively simple way to solve it.

[2021-09-01 08:35] fewrwee2 opened #11873 "使用avro格式传递数据时报错"
#### Expected behavior

期望mysql到pulsar的source，pulsar到mysql的sink可正常实时同步数据

#### Actual behavior

创建mysql到pulsar的source，pulsar到mysql的sink时，使用avro格式source日志中报错，报错如下：
15:07:09.706 [public/default/mysql-avro-source-0] INFO  org.apache.pulsar.functions.sink.PulsarSink - Opening pulsar sink with config: PulsarSinkConfig(processingGuarantees=ATLEAST_ONCE, topic=dbserver1.test_pulsar.student, serdeClassNam

[2021-09-01 08:42] NothinkingGao opened #11874 "Read failed: End of file,python client"
receive so many read failed error,why
[code]

[2021-09-01 09:13] lhotari commented on #11690
summary reports for LockManagerTest failures in markdown format:
https://github.com/lhotari/pulsar-flakes/blob/master/2021-08-25-to-2021-09-01/1630481590725/org.apache.pulsar.metadata.LockManagerTest.revalidateLockOnDifferentSession.md
https://github.com/lhotari/pulsar-flakes/blob/master/2021-08-25-to-2021-09-01/1630481590725/org.apache.pulsar.metadata.LockManagerTest.revalidateLockWithinSameSessi

[2021-09-01 09:45] yebai1105 opened #11876 "在topic层级进行produce、consume授权后无法被删除"
**Describe the bug**
在topic层级进行过生产或者消费授权之后，无论是否取消权限或者直接删除topic，在zk上的数据都一直存在，除了删除namespace否则无法删除

**To Reproduce**
1、使用topic删除依旧无法删除zk上的权限数据，见截图一、截图二
2、如果新增一个topic之后再删除，并再次新增了一个同名的topic并进行授权，那么以前的策略不会有新增的策略冲突吗？
图三：先增了一个topic5有100个分区，授予consume权限，之后删除topic5，再新增topic5有5个分区，授予produce、consume权限，这个时候如图三所示，topic5的分区0-4显示拥有produce、consume权限，而分区5-99显示consume权限。

**Screenshots**
图一：![image](https://user-imag

[2021-09-01 09:55] YannPerthuis opened #11877 "Reader stuck after reading all the messages on a topic that were each published via a separate transaction."
**Describe the bug**
It seems to me that when a message is posted to a topic via a transaction, two entries are inserted into the topic (as seen with pulsar manager ui, there is probably a system message and the actual posted message) as opposed to only one entry when the message is posted without a transaction.

When I use a reader to read all the messages in the same topic, I use the 'hasMessage

[2021-09-01 10:47] chlyzzo commented on #11832
yes,i change port, then it can work.becase on machine a, the port 8*** can be connect from other machine, it is my company rule.

[2021-09-01 10:47] #11832 closed

[2021-09-01 10:48] chlyzzo commented on #11832
he port 8*** can be connect from other machine, it is my company rule. so change the port then it work

[2021-09-01 12:57] eolivelli commented on #11796
Did you see this error in production ?

[2021-09-01 14:07] zbentley commented on #10721
OK, I modified my code to the following:
[code]

I ran once with a running broker that was SIGSTOPped. The kill command was `pkill -SIGSTOP -f pulsar; echo -e '\nKILLED HERE\n' >> debug.log`, so the logs should contain that string when it happened.

Here is the debug log file (I waited a couple minutes before shutting down my script):

[debug.log](https://github.com/apache/pulsar/files/7091645/deb

[2021-09-01 15:47] merlimat commented on #6463
This problems stems by the fact that in C++ lib, you need to keep the `Client` instance alive. The `Producer` only keeps a `weak_ptr` to the `Client` to prevent a cyclic dependency.

In the boost::python wrapping, there's no easy way to keep a reference on the C++ `Client` instance. We'd need to create a custom wrapper class instead of automated wrapping done at https://github.com/apache/pulsar/bl

[2021-09-01 16:23] shibd commented on #11834
@gaoran10  Yes, non persistent topics also need to disconnect all producer links when terminating.

[2021-09-01 16:42] lucasrpb opened #11883 "Exclusive subscription mode for partitioned topics not seeing consistent order among different consumers"
**Describe the bug**

In the official documentation of Apache Pulsar it says that an exclusive subscription sees a consistent order for a single consumer. Suppose we have multiple consumers each of them with its own exclusive subscription and they are reading from a partitioned topic. As presented in the docs:

"Decisions about routing and subscription modes **can be made separately in most cases*

[2021-09-01 16:51] lhotari commented on #11783
I created #11884 as a draft PR to fix the issue. I don't have a way to reproduce the problem in a test case and that's one of the problems.

[2021-09-01 17:18] BewareMyPower commented on #10721
I found the reason why I can't reproduce it. Because I used to just type Ctrl+C to stop the standalone. With your provided command:

[code]

Now I can reproduce this issue in my local env. I'll look into this issue for the solution.

[2021-09-01 17:53] BewareMyPower commented on #10721
It's a bug of connect timeout. I'll push the fix soon.

[2021-09-01 20:57] zbentley commented on #6463
@merlimat I suggest solving it in Python: have producer objects, when created, store a Python-side reference to the Client that created them. Python's cyclic garbage collector should be able to appropriately handle that cleanup, in python 3 at least. The cyclic GC works "all right", not perfectly, in Python 2, but is much improved in 3. I think this can be done without changes in the native code.

[2021-09-01 21:00] zbentley commented on #6463
Though I guess that raises a larger question: for consumers of the C++ API, it might be desirable in some cases to provide a producer object without providing the ability to create additional producers/consumers. If that's the case, it may make sense to alter the C++ code to use `shared_ptr` and allow producers to keep clients alive. Since I don't code to the C++ API, I am not sure whether that's

[2021-09-01 21:31] merlimat commented on #6463
Typically it's not a big deal in the sense that you're expected to keep 1 single instance of C++ Pulsar client for the duration of your application. You can still pass on producers instances to sub-components of that application.

[2021-09-01 21:32] merlimat commented on #6463
I was actually thinking in fixing that in the C++/Python wrapper, but your suggestion is much easier to implement!

[2021-09-01 21:35] merlimat commented on #6463
I wouldn't even need to be a cyclic dependency. There are 2 layers of wrappers:
[code]

We just need to retain a reference to the client boost-python object from the pure-python producer object.

[2021-09-01 22:34] zbentley commented on #11823
I did not know about the weekly releases, thanks!

[2021-09-02 01:49] #11814 closed, assigned to nobody

[2021-09-02 02:31] #6463 closed

[2021-09-02 02:40] gaoran10 commented on #11834
I add a help wanted label first.

[2021-09-02 02:44] casuallc commented on #11796
Nope.

When I add some other functions in broker, this error appeared.

[code]

[2021-09-02 03:01] congbobo184 commented on #11873
@feiyuyitiao could you please provide mysql schema and pulsar avro schema? What the type of the `K`?
```org.apache.avro.AvroTypeException: Unknown type: K```

[2021-09-02 03:21] fewrwee2 commented on #11873
@congbobo184
source的配置
![image](https://user-images.githubusercontent.com/88083754/131776291-87d527e1-f884-457f-944d-838a34ad47a6.png)
avro配置
{
   "type": "AVRO",
   "schema": "{\"type\":\"record\",\"name\":\"Test\",\"fields\":[{\"name\":\"id\",\"type\":[\"null\",\"int\"]},{\"name\":\"name\",\"type\":[\"null\",\"string\"]}]}",
   "properties": {}
}

[2021-09-02 04:39] lhotari commented on #11635
This might be fixed by #11887 . Closing. We can reopen if this appears in the future.

[2021-09-02 04:40] lhotari commented on #11696
This might be fixed by #11887 . Closing.

[2021-09-02 04:40] #11696 closed

[2021-09-02 04:42] #11857 closed

[2021-09-02 04:48] #11721 closed

[2021-09-02 04:49] lhotari commented on #11143
duplicates #11032, fixed by #11886

[2021-09-02 04:49] #11143 closed

[2021-09-02 04:49] lhotari commented on #11032
fixed by #11886

[2021-09-02 04:51] lhotari commented on #9936
Please retest and discuss general testing failures on #testing channel in Pulsar Slack.

[2021-09-02 04:51] #9936 closed

[2021-09-02 06:17] beyondyinjl2 commented on #11869
I have read the document you mentioned, but I don’t know the role of each interface, the loading process, and the flow of data.

[2021-09-02 06:33] eolivelli commented on #11814
@zhanghaou
thank you for sharing this finding.

this bug looks like a security issue.
please take into consideration to file a "Security report" for the next time.
This issue is disclosing a potential security risk to a wide audience.

the correct process is to send an email to security@apache.org or to private@pulsar.apache.org

we will follow up with a release soon

[2021-09-02 06:36] beyondyinjl2 opened #11890 "Do tenants and namespaces support wildcards"
1 For example: persistent://my-tenant/*/*Monitor tenant: all topics in all namespaces under my-tenant
2 For example: persistent://*/*/* monitor all topics in all namespaces of all tenants
3 persistent://my-tenant/my-namespace/*Monitor tenants: all topics of my-namespace under my-tenant

[2021-09-02 06:36] beyondyinjl2 opened #11891 "Do tenants and namespaces support wildcards"
1 For example: persistent://my-tenant/*/*Monitor tenant: all topics in all namespaces under my-tenant
2 For example: persistent://*/*/* monitor all topics in all namespaces of all tenants
3 persistent://my-tenant/my-namespace/*Monitor tenants: all topics of my-namespace under my-tenant

[2021-09-02 06:42] wolfstudy opened #11892 "In ReconsumeLater interface, support level increment delay"
**Is your feature request related to a problem? Please describe.**

At present, ReconsumrLater only supports specifying a specific delay time for distribution processing. If we can here follow a certain delay level from low to high and allow it to automatically retry, it is a more user-friendly way. For example, we can define the following delay level:

[code]

Here we can expose two interfaces to

[2021-09-02 07:42] shibd opened #11895 "Flaky-test: DiscoveryServiceWebTest.testRiderectUrlWithServerStarted"
DiscoveryServiceWebTest is flaky. The testRiderectUrlWithServerStarted test method fails sporadically.

<details>
<summary>Full exception stacktrace</summary>
<code><pre>

java.lang.AssertionError: Expected to receive UnknownHostException, but received : javax.ws.rs.ProcessingException: java.net.SocketException: Unexpected end of file from server

	at org.testng.Assert.fail(Assert.java:99)
	at org

[2021-09-02 07:46] #11825 closed

[2021-09-02 08:49] congbobo184 commented on #11873
what are the schema of the mysql table?  There seems to be no `K` type```{
"type": "AVRO",
"schema": "{"type":"record","name":"Test","fields":[{"name":"id","type":["null","int"]},{"name":"name","type":["null","string"]}]}",
"properties": {}
}
[code]

[2021-09-02 09:18] sijia-w commented on #11805
@Anonymitaet Just wanna confirm with you: should I add the metrics [here](https://pulsar.apache.org/docs/en/next/reference-metrics/#topic-metrics)? Thanks in advance.

[2021-09-02 12:22] leizhiyuan commented on #11860
Cluster does not exist: cluster=default

When you start a local standalone cluster, a public/default namespace is created automatically. The namespace is used for development purposes. All Pulsar topics are managed within namespaces. For more information, see Topics.

maybe you need to create the  namespace first?

[2021-09-02 12:32] leizhiyuan commented on #11860
try to list the namespace of public

[code]

[2021-09-02 12:53] zbentley opened #11899 "If feasible, publish source releases of the Python `pulsar-client` package"
**Is your enhancement request related to a problem? Please describe.**
Discovered while diagnosing and working to test fixes on https://github.com/apache/pulsar/issues/11823; this would be an easy way to release fixes such as that without making a packager spend a lot of unplanned time between major releases.

Additionally, issues like https://github.com/apache/pulsar/issues/11203 would have a wor

[2021-09-02 16:05] zbentley commented on #11834
If non-persistent topics don't support termination (totally fine), adding an error code indicating that rather than a 500 and a stacktrace would be preferable.

[2021-09-02 16:35] zbentley opened #11902 "[2.8.0] Attempting to create a non-persistent topic with the same name as a persistent topic yields a 500 error and a stacktrace"
**Describe the bug**
If I PUT to the v2 admin api to create a non-persistent topic with the same name as a persistent topic that already exists, I would expect to be forbidden from doing that with a 4XX response code. Instead I get a 500 response code and a stacktrace (at the bottom of this bug).

**To Reproduce**
Steps to reproduce the behavior:
1. Ensure a 2.8.0 broker is running. I've also repr

[2021-09-02 16:53] #11847 closed

[2021-09-02 17:32] frejonb opened #11904 "Support `KEY_VALUE` schema in the python client"
**Is your enhancement request related to a problem? Please describe.**
It's not possible to serialize/deserialize `Schema.KeyValue` in the python client. In particular the debezium source will return a bytes array.

A quick workaround is to do
[code]
where `event_key` and `event_value` are the json key and value of the message.

**Describe the solution you'd like**
It should be possible to define

[2021-09-03 02:18] Anonymitaet commented on #11805
@sijia-w I think you can add a `Topic lookup metrics` subsection after `Replication metrics` subsection.
@codelipenghui @merlimat please correct me if I'm wrong, thanks.

![image](https://user-images.githubusercontent.com/50226895/131940496-73d6b6d6-080b-47ef-99b1-2bfc2bf37743.png)

[2021-09-03 02:46] gaoran10 commented on #11834
@zbentley Yes, if the non-persistent topic doesn't need to support terminate operation, we could add a check and reject the non-persistent topic termination request.

[2021-09-03 03:38] chlyzzo opened #11909 "use helm install pulsar on k8s, how change the nodeport, then can connect from machine b."
# What issue do you find in Pulsar docs?

from https://pulsar.apache.org/docs/zh-CN/kubernetes-helm/, use helm install pulsar on k8s, and get the services:
<img width="842" alt="9bf8b42d0b5e4207a1e887a88b60deee" src="https://user-images.githubusercontent.com/19646469/131947256-dac7149f-8346-40b1-8e7c-3251494efad2.png">

but the service, like pulsar-spatio-pulsar-manager, the port 31335 is random c

[2021-09-03 04:58] BewareMyPower opened #11910 "[C++] Forget to release memory usage for exception cases"
**Describe the bug**
See https://github.com/apache/pulsar/pull/11906 and https://github.com/apache/pulsar/pull/11761 for the Java client side fix. After a simple code review on C++ client, I think C++ client has the same bugs.

**To Reproduce**

**Expected behavior**
We should release memory usage for exception cases.

[2021-09-03 05:00] BewareMyPower commented on #11902
We should enhance the broker side process to return a human readable error code. I assign this issue to myself first.

[2021-09-03 05:01] BewareMyPower commented on #11899
@timmyyuan @zymap Could you help take a look?

[2021-09-03 06:03] shibd commented on #11902
@BewareMyPower #11902 https://github.com/apache/pulsar/pull/11903 Fixed this problem.  Can you review it?

[2021-09-03 06:20] fewrwee2 commented on #11873
@congbobo184
![image](https://user-images.githubusercontent.com/88083754/131959583-186f9cf8-c8bd-4d77-bc16-d7c87f2e987f.png)
这是mysql的表结构

[2021-09-03 06:31] #11698 closed

[2021-09-03 06:31] rayliu419 commented on #11698
close the issue.

[2021-09-03 06:44] sijia-w commented on #11805
@Anonymitaet Thank you for your reply. That's also what I thought. Will do accordingly.

[2021-09-03 07:06] BewareMyPower commented on #11902
@shibd It looks like your PR is to fix the `PersistentTopics#terminate`, not this issue.

[2021-09-03 07:40] shibd commented on #11902
@zbentley  @BewareMyPower I didn't reproduce the bug.

### To Reproduce
1. create persistent topic **test-topic**: `pulsar-admin topics create persistent://sample/ns1/test-topic`
2. create non-persitent topic **test-topic**: `pulsar-admin topics create non-persistent://sample/ns1/test-topic`
3. All succeeded

The same steps were successful using HTTP.

[2021-09-03 08:19] shibd commented on #11883
@lucasrpb

I think pulsar ensures the orderly consumer of one partition-topic. If multiple partition-topics are consumed in subscription mode, the a consistent global order cannot be guaranteed.

[2021-09-03 08:49] tuhao1020 opened #11911 "Need docs for building pulsar from source and run on windows"
I have exec `mvn clean install -DskipTests` on windows, but `bin/pulsar` is still a shell script for linux.
What is the right way to build and run it on windows?

[2021-09-03 09:30] BewareMyPower commented on #11902
@shibd Me too. I also tried to reproduce it and failed.

[2021-09-03 11:00] tuhao1020 commented on #11911
I changed some code in  `bin/pulsar` and use a bash environment to run it,  then got some errors:

[code]

[2021-09-03 11:29] zhanghaou commented on #11814
OK.

[2021-09-03 12:12] zbentley commented on #11902
Ah shoot, this was my mistake when filing. I should have read the logs more closely; sorry for wasting your time!

This does indeed work as expected. Closing as notabug.

[2021-09-03 12:12] #11902 closed

[2021-09-03 13:33] siaron opened #11914 "help Java client topicsPattern"
**Describe the solution you'd like**
[code]
- Is it possible to consume topics from multiple tenants
- Whether to automatically consume when adding tenant's topic

[2021-09-03 13:42] miguelemosreverte commented on #11883
Just to make sure @shibd : Using the combo of SinglePartition config for the producer and ExclusiveSubscription for the consumer would not guarantee ordering?

[2021-09-03 15:00] shibd commented on #11883
This can guarantee ordering.

[2021-09-03 15:14] lucasrpb commented on #11883
https://stackoverflow.com/questions/68988929/does-pulsar-partitioned-topics-support-global-ordering-when-consuming-from-diffe/69032885#69032885

[2021-09-03 15:16] NSocec-Mindsmiths opened #11915 "Message corruption with `deliver_after`"
**Describe the bug**
Sending a message with compression, batching enabled and `deliver_after` results in a corrupted message. Disabling compression resolves the problem.

**To Reproduce**
Steps to reproduce the behavior:

Create a Pulsar Consumer subscribed to some topic
Start the consumer

Create a Pulsar Producer on the same topic with LZ4 compression enabled (see `Additional context`)
Call the

[2021-09-03 15:21] lucasrpb commented on #11883
Thanks guys for the explanations! Unfortunately with the current implementation I cannot get the behavior I want! But it will be very easy to achieve it using an approach I have in mind already ! :) Maybe in the near future I can propose a pull request on it! :)

[2021-09-03 20:04] hozumit opened #11920 "Topics occasionally remain unassigned. (Namespace is being unloaded, cannot add topic)"
**Describe the bug**
I found that sometimes a topic remains unassigned after unloading.
The following message is repeatedly appeared in broker log.

[code]

The following log is the beginning of unloading.
[code]

[code]

I saw this issue several times on different partitions of a topic, which have heavy loads.
I have solved the problem by restarting a broker process(docker container).

**To Repro

[2021-09-04 03:24] shibd opened #11923 "[pulsar-admin] getPartitionedTopicMetadata method supports setting automatic topic create"
**Describe the solution you'd like**

`PersistentTopics` Interface supports setting automatic topic create.  However, admin does not support this configuration.

`PersistentTopics#getPartitionedMetadata`
[code]

pulsar client admin: `Topics#getPartitionedTopicMetadata`
[code]

**Describe alternatives you've considered**
I hope interfaces can be added.

[code]

**Additional context**
Original issue

[2021-09-05 07:19] SonMooSans opened #11926 "Can't use "bin/pulsar standalone" cmd on powershell in Windows 10"
I am new to pulsar, when I follow the doc to setup pulsar
The doc tells me use "bin/pulsar standalone" cmd to start Pulsar standalone
but the system only ask me to choose software to open the file
What should I do, am I missed something?

[2021-09-05 15:27] liangyepianzhou commented on #11765
# solution
* One producer per topic, the producer will execute several transactions, and each transaction produces a fixed number of messages. The number of transactions executed by each producer can be set, if not set, it will be executed until it times out.
* Multiple subscriptions per topic, one consumer per subscription . The consumer additionally opens the transaction to confirm the message
*

[2021-09-06 01:36] tuhao1020 commented on #11911
same issue: #11926

[2021-09-06 03:34] BewareMyPower commented on #11911
[code]

You can ignore this error.

[2021-09-06 03:51] tuhao1020 commented on #11911
Is the `Failed to collect GC stats` error serious?
Are there any plans to provide official scripts on Windows? @BewareMyPower

[2021-09-06 05:55] BewareMyPower commented on #11911
It's not reproducible in my env (macOS). But it's not a serious for standalone mode because Pulsar standalone is mainly for tests.

AFAIK the answer is no.

[2021-09-06 06:51] yakir-Yang opened #11930 "pulsar client meet IndexOutOfBoundsException error"
pulsar client keep got IndexOutOfBoundsException error, and we can't fix up this issue by reboot the pulsar cluster.

Seems like some record data have some problem, need some help to figure out what happened.

2021-09-06 14:01:07.354  WARN [,,] 1 --- [] [-client-io-10-1] o.a.p.c.i.ClientCnx                      [exceptionCaught,269] : [10.150.65.133/10.150.65.133:6650] Got exception java.lang.Inde

[2021-09-06 08:36] gaozhangmin commented on #11920
which version you are using? this pr may fixed. #11310

[2021-09-06 09:39] tuteng opened #11932 "Pulsar client oauth2 client support optional parameter scope"
Please answer the following questions before submitting your doc issue. Thanks!

# What issue do you find in Pulsar docs?

(For example, something missing, inaccurate, incomplete, hard to use/understand/find, etc)

# What is your suggestion?

(For example, add explanations about xx, correct descriptions of xx, delete information about xx, etc)

# Do you have any references?

(For example, website

[2021-09-06 13:58] codelipenghui commented on #11930
@yakir-Yang Could you please provide more context such as which Pulsar version are you using? And does the producer side also use the Java Client(Which version)? I noticed the client failed with `deSerializeSingleMessageInBatch`, it might related to the batch message serialization

[2021-09-06 14:14] codelipenghui commented on #11923
@shibd Are you interested in pushing a fix? We should check the corresponding permissions(`PolicyName.PARTITION, PolicyOperation.WRITE`) if checkAllowAutoCreation is set to true.

[2021-09-06 14:19] codelipenghui commented on #11915
@NSocec-Mindsmiths Does the compression issue only happens when sending the delayed messages? @BewareMyPower Do we have a test coverage for this case in the CPP client?

[2021-09-06 14:23] codelipenghui commented on #11914
@siaron Currently you can only apply the regex patterns under a namespace, there is a PR for supporting the regex patterns across tenants and namespaces but have not merged yet.

[2021-09-06 14:27] codelipenghui commented on #11891
Close this one which is a dup from https://github.com/apache/pulsar/issues/11890

[2021-09-06 14:27] #11891 closed

[2021-09-06 14:29] codelipenghui commented on #11890
Currently, Pulsar does not support the tenants or namespaces wildcards, there is a PR https://github.com/apache/pulsar/pull/7855 for adding this feature but have not merged yet.

[2021-09-06 14:47] #11849 closed

[2021-09-06 14:49] codelipenghui commented on #11860
@beyondyinjl2 Pulsar does not support the MQTT topic name filters and the local topic name of Pulsar can't with `/`, We have done some topic name mapping on MoP https://github.com/streamnative/mop#topic-names--filters, maybe can help you.

[2021-09-06 14:51] shibd commented on #11923
@codelipenghui Ok, I'll try to fix it.

[2021-09-06 14:53] codelipenghui commented on #11846
@zwalsh-toast Are you interested in contributing the feature in Pulsar?  Sounds good if we have an option to control the message flow when creating a consumer.

[2021-09-06 16:25] hozumit commented on #11920
@gaozhangmin v2.8.0. Thank you for sharing the pr. It seems to be the same problem. I will wait v2.8.1 release.

[2021-09-06 16:55] #11775 closed

[2021-09-07 01:18] Shoothzj opened #11936 "Forget to call Sendcallback on a branch of closeAsync"
In #11906 , it fixed the update of memory usage, but still one branch of `closeAsync` doesn't call callback too.

But this seems hard to write an unit test. This needs during the producer close, the broker is ready, and there are still remaining pending messages.

Any idea for how to add tests?

@codelipenghui @merlimat @michaeljmarshall

[2021-09-07 01:35] BewareMyPower commented on #11915
@codelipenghui No. The existing tests don't cover the compression case.

[2021-09-07 02:54] codelipenghui commented on #11936
@Shoothzj Maybe we can disable the channel auto_read at the broker side for simulating the messages pending in the queue.

[2021-09-07 03:21] Shoothzj commented on #11936
But we still need a close success resp from broker side. How ?

[2021-09-07 04:21] codelipenghui commented on #11936
@Shoothzj You can create a method for handling the close producer response, then you can call it directly. If the code is untestable, we should make it testable.

[2021-09-07 05:30] BewareMyPower commented on #11915
I cannot reproduce this issue in my local env. I tried both latest Pulsar and Pulsar 2.6.0 with latest Python client.

Could you try latest Python client (built from source) or 2.8.0?

[2021-09-07 05:34] BewareMyPower commented on #11915
Here is my test script:

[code]

Output:

[code]

I cannot install Python client 2.7.0 in my local env so I didn't test it. The `pip3 install` stuck at:

[code]

[2021-09-07 06:12] 315157973 commented on #11783
Is there any progress here? Why not just set the queue to concurrent?

[2021-09-07 06:58] lhotari commented on #11783
there's progress in #11884, it's currently in draft.

@315157973 I replied in https://github.com/apache/pulsar/pull/11884#issuecomment-911169103 . Does that answer your question?

[2021-09-07 07:22] assert-0 commented on #11915
@codelipenghui Yes, the issue only happens when using delays.

[2021-09-07 07:24] assert-0 commented on #11915
@BewareMyPower I ran your code and it worked properly on my setup too. However, your producer does not have `batching_enabled` set to True. When I set `batching_enabled` to True, it stops working again.

[2021-09-07 07:25] NSocec-Mindsmiths commented on #11915
@codelipenghui Yes, the issue only happens when using delays.

[2021-09-07 07:25] NSocec-Mindsmiths commented on #11915
@BewareMyPower I ran your code and it worked properly on my setup too. However, your producer does not have batching_enabled set to True. When I set batching_enabled to True, it stops working again.

[2021-09-07 07:39] BewareMyPower commented on #11915
I reproduced the error successfully with batching enabled:

[code]

It's weird because the batching should be enabled by default. I cannot reproduce the bug with the underlying C++ client so I removed the `component/c++` label first. It might be something wrong with the Python wrapper and I'll investigate this bug soon.

[2021-09-07 07:42] NSocec-Mindsmiths commented on #11915
I'm sorry, that was a missclick. I didn't mean to close the issue.

[2021-09-07 07:55] #11827 closed

[2021-09-07 08:10] Shoothzj commented on #11936
Thanks a lot for your help, I found the way to add test.

[2021-09-07 09:49] nicoloboschi commented on #7623
Any news here? @codelipenghui

[2021-09-07 09:57] eolivelli opened #11945 "Admin/Permissions: getPartitionedTopicListshould work even with Topic Level Permissions"
Currently (Pulsar 2.8.x) in order to use admin().topics().getPartitionedTopicListAsync(topicName) you have to have "Tenant admin" role.

**Describe the solution you'd like**
It should be enough to require topic level permissions and allow users that are allowed to produce/consumer on the topic to use that API.

**Describe alternatives you've considered**
I don't see any alternative

**Additional c

[2021-09-07 09:58] eolivelli commented on #11945
@BewareMyPower @codelipenghui PTAL

if this request makes sense to you I will send a PR for this enhancement.

[2021-09-07 10:10] BewareMyPower commented on #11945
I'm not so familiar with the authentication part. I only know the admin permission cannot only be granted to the tenant role. And `AuthAction` doesn't have admin related permissions.

https://github.com/apache/pulsar/blob/981cb626e59267e38c3b29faa02c14f0848a530f/pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/AuthAction.java#L24-L42

IMO we can add a readonly admin per

[2021-09-07 14:45] zbentley opened #11950 "On master, connection attempts from the C++/Python client on "localhost" do not fall back from IPv6 to IPv4"
**Describe the bug**
If I run Pulsar listening on 127.0.0.1:6650 and attempt to connect to `pulsar://localhost:6650` via the C++ client (Python bindings) I am unable to connect. If I change the connection string to `pulsar://127.0.0.1:6650` I am able to connect.

This is a regression; the Python/C++ client available from PyPi (2.8.0.post0) is able to connect to `localhost`.

This appears to be due

[2021-09-07 15:41] #11936 closed

[2021-09-07 17:03] zwalsh-toast commented on #11846
Hi @codelipenghui - yes, I'll be working on it this week!

[2021-09-07 17:46] zbentley opened #11953 "C++ client (via Python bindings) `abort`s and hangs in child processes and is generally not `fork`-safe"
**Describe the bug**
If I `fork()` with a connected Pulsar C++ client instance, the child process ends up having a few issues:
- On garbage collection of the client instance in the child process, `abort` is called: `libc++abi: terminating with uncaught exception of type std::__1::system_error: thread::detach failed: No such process`
- If I explicitly call `shutdown` on the client instance in the c

[2021-09-07 19:34] zbentley commented on #11953
As a workaround, an `atfork` handler can be registered that intentionally swallows the error that occurs on shutdown.

An example demonstrating this is here (the weakref parts aren't necessary for the demo, but they do prevent client instances from being kept away from GC by the atfork callback):
[code]

[2021-09-07 19:45] lordcheng10 commented on #11866
Can I take this up?

[2021-09-07 21:07] EronWright commented on #10951
I believe that the root cause is that Pulsar is erroneously using the configured `advertisedListeners` to formulate the web service endpoint in some cases.  A reasonable fix would be to use only `advertisedAddress: webServicePort` for that purpose, and allow `advertisedListeners` to also be configured for the broker service endpoint.

[2021-09-08 00:47] #11950 closed

[2021-09-08 05:21] BewareMyPower opened #11962 "PIP 94: Message converter at broker level"
## Motivation

The initial motivation was from Kafka's protocol handler, i.e. KoP (https://github.com/streamnative/kop). KoP allows Kafka producer to configure entry format to `kafka`, which means the message from Kafka producer can be written to bookies directly without any conversion between Kafka's message format and Pulsar's message format. This improves the performance significantly. However,

[2021-09-08 06:03] eolivelli commented on #11962
do we need do add a Converter on the Publish side ?
IIUC this Converter is for the Consumer

[2021-09-08 06:04] eolivelli commented on #11962
we should define some constraints on what the Converter can do with the input ByteBuf. Should it keep the reader/writer indexes ? what about refcount ?
can the Converter modify the ByteBuf in place or should it always create a copy ?

[2021-09-08 06:04] eolivelli commented on #11962
I would add some "init(ServerConfiguration configuration)" method and a close() method, in order to let it be configurable and to let it release resources.

[2021-09-08 06:10] BewareMyPower commented on #11962
Protocol handler can be used for the publish side.
For example in KoP, if messages were produced from Pulsar producer, when
KoP read entries from BK, it converts the message to Pulsar format so that
Pulsar consumer can receive the message.
See https://github.com/streamnative/kop/pull/632 <https://github.com/streamnative/kop/pull/632> for details.

Thanks,
Yunze Xu

[2021-09-08 06:16] BewareMyPower commented on #11962
Thanks for your suggestion. It makes sense to me. When we need to load converters from other systems, the load and release phase are necessary.

[2021-09-08 06:41] wangjialing218 commented on #11962
If I use kafka client to produce messages and pulsar client to consume messages, the performace of message publish could be improve but performace of message dispatch may be downgrade.
If the topic has multi subscriptions, one message could be dispatched to multi consumers, does the covert of this message happen multi times in this case?

[2021-09-08 06:54] BewareMyPower commented on #11962
@wangjialing218 The conversion is unavoidable. We have to sacrifice either producer or consumer side. But before this proposal, if we're going to support both Kafka and Pulsar clients, the conversion was:

1. Pulsar producer -> BK
2. Kafka producer -> convert to Pulsar format -> BK
3. BK -> convert to Kafka format -> Kafka consumer
4. BK -> Pulsar consumer

After this proposal:
1. Pulsar producer

[2021-09-08 06:58] BewareMyPower commented on #11962
BTW, here is my demo implementation in https://github.com/BewareMyPower/pulsar/tree/bewaremypower/payload-converter (will be deleted after pushing the final implementation). The unit tests were not pushed but I've added them in my local env. And the interface was also a little different.

[2021-09-08 07:00] lhotari commented on #11796
this might be a duplicate of #11282 .

[2021-09-08 07:10] codelipenghui commented on #10937
Reopen the issue since we need to add integration tests at the Pulsar side to avoid regression.

[2021-09-08 07:23] BewareMyPower commented on #11962
Yes. I'll add more description.

[2021-09-08 07:36] wangjialing218 commented on #11962
@BewareMyPower Just a idea. Current there is one ManagedLedger(ledger) associated with `PersistentTopic`. Could we add another ManagedLedger(kafkaLedger) associated with the topic.
1. Pulsar producer -> ledger
2. Kafka producer -> kafkaLedger
3. ledger -> Pulsar consumer
4. kafkaLedger-> Kafka consumer
5. ledger -> convert from pulsar format to kafka  -> kopLedger
6. kopLedger -> convert from kafk

[2021-09-08 08:01] BewareMyPower commented on #11962
@wangjialing218 It could be an enhancement. I think we can submit another PIP for the design details. It sounds like a solution that each `PersistentTopic` has multiple `ManagedLedger`s and each `ManagedLedger` has its own message converter. But I think we can still use only one `ManagedLedger` because `MessageConverter#accept` can distinguish whether the buffer needs to be converted.

For example

[2021-09-08 08:10] truonglenhut16111989 commented on #11070
I faced the same issue when I tried with 2.8.0. Can this bug be fixed in branch 2.8?

[2021-09-08 08:16] baomingyu opened #11964 "key_shared mode maybe deadlock and with a lot of CLOSE_WAIT"
**Describe the bug**
With key_shared  consumer mode,  sometimes, there will be deadlock and there are a lot of CLOSE_WAIT status in broker

**To Reproduce**
Steps to reproduce the behavior:
1.  one topic whit 10 partition
2.  10 producer ,and 100 consumer
3.  running , consumer reconnected
4.  there are a lot of CLOSE_WAIT status in broker, and printing stack info , there are deadlock info.

**Add

[2021-09-08 08:37] BewareMyPower commented on #11962
I've updated the `MessageConverter` API and add the validator to the implementation. PTAL again @eolivelli

[2021-09-08 10:38] lhotari opened #11966 "[Proxy] Proxied /admin endpoint connections might remain blocked forever"
**Describe the bug**

Proxied /admin endpoint connections might remain blocked forever.

Example stacktrace

[code]

**Expected behavior**

There should be a timeout in place which prevents threads to hang forever in this state.
When investigating the issue and code, it can be seen that the timeout isn't set for proxied requests.

The call to `super.setTimeout` method is missing in AdminProxyHandl

[2021-09-08 10:56] eolivelli commented on #11070
The problem is in the helm chart, not in Pulsar itself

[2021-09-08 10:59] eolivelli commented on #11966
very good explanation

[2021-09-08 12:15] andrekramer1 commented on #11070
@eolivelli when you say the problem is "in the helm chart" what exactly do you think is the issue? As far as I could tell it's a timing issue in start 3 Zookeepers when the cluster is created. It may work with 1 Zookeeper and the only smoking gun I saw was the Null reference exception in the zookeeper kubernetes pod logs. 2.8.0 uses Zookeeper 3.6.3 and won't start but using 2.7.0 which has Zookeep

[2021-09-08 12:32] wangqianfront opened #11968 "Pulsar-Client Has Too Much Third Jars"
When I use pulsar-client to provide a  message-client to my customer, I found pulsar-client has 40MB Size，it's really too large.

Then I look at why it's so big, I found the shade-plugin include so much third jars.

[2021-09-08 12:47] eolivelli commented on #11968
you can use "pulsar-client-original" that does not include shaded jars.
it will probably play well with other dependencies.
but you sure take care of version compatibility

[2021-09-08 12:48] codelipenghui commented on #11962
@BewareMyPower

We should avoid converting(serialization and deserialization) the data at the broker side, this will put a very heavy burden on the broker GC. In my opinion, we should do the data converting at the client-side, we can have a diverse data format implementation and by default, the Pulsar client only has the Pulsar data format processor. if users want to consume the data with Kafka da

[2021-09-08 12:52] eolivelli commented on #11962
@codelipenghui

 consume the data with Kafka data format, they can add a separate dependency such as org.apache.pulsar:kafka-format-converter.

 this is not always possible because downstream users may not be aware of the format of the data.
it should be something like Compression if you want to do it in the client, you must put a metadata in the message and let the client apply the converter depe

[2021-09-08 13:31] codelipenghui commented on #11962
@eolivelli Both KoP or the client-side converter are optional plugins, not required. If users tend to convert the data at the broker side, the existing KoP implementation already supports this requirement. They can just convert the data at the publish side, no need to convert it multiple times on the consumption side.

I think we need to clarify the purpose of this proposal, we are trying to find

[2021-09-08 13:46] zbentley commented on #11845
Could someone please point me at what code I should look at if I wanted to put up a PR to fix this? It's quite a hassle for environments with more than one Pulsar cluster (and thus more than one client). I'm happy to do the work, but am not familiar with C++ enough to find out the code responsible here--I think it has something to do with `constexpr` but am not positive.

[2021-09-08 14:04] megfigura commented on #10495
Thanks @MarvinCai,

The new behavior in 2.8.1 is much better. At least as far as I can tell, it still requires a type cast, but that's not so bad. This code is working:
[code]

This beats my previous work-around in 2.7.1 (which no longer worked in 2.8.0):
[code]

[2021-09-08 14:05] BewareMyPower commented on #11962
@codelipenghui The GC problem for KoP is caused by the heap memory usage, not the conversion, the converter only affects CPU theoretically because all memory usages of messages are from direct memory.

It's not. Introducing data format in KoP is to avoid the data conversion, right. Because we tends to push users to use pure Kafka client when using KoP. However, if they want to turn to Pulsar clien

[2021-09-08 14:10] BewareMyPower commented on #11962
@codelipenghui You can see https://github.com/streamnative/kop/pull/673 for more details about the GC problem. In this PR, I used the direct memory allocator and the GC problem was fixed. The left heap memory usage is a KoP side problem, not related to data format conversion. Before this PR, deserializing Kafka records doesn't use heap memory.

1. Kafka records to Pulsar message
- Read records (no

[2021-09-08 14:36] codelipenghui commented on #11962
@BewareMyPower

Because we are converting the Kafka format data to Pulsar format data right? If yes, what is the difference when we converting Kafka format data to Pulsar format data at the consumption path?

[2021-09-08 14:57] codelipenghui commented on #11962
If using `entry.format=pulsar`,

for the Kafka client publish:  kafka format -> pulsar format, for Kafka client consume: pulsar format -> kafka format (improved by streamnative/kop#673)
for the Pulsar client consume pulsar format -> pulsar format

After introduced the message converter and `entry.format=kafka`:

for the Kafka client publish:  kafka format -> kafka format, for Kafka client consume:

[2021-09-08 15:34] sourabhaggrawal opened #11972 "NPE while preparing racksandhost detail through RackawareEnsemblePlacementPolicyImpl"
**Describe the bug**
We are trying to configure rack-aware policy, when starting pulsar we get this error at RackAwareEnsemblePlacementPolicyImpl and then it end up using default-rack as per the logs.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Enable bookkeeperClientRackawarePolicyEnabled in pulsar broker.conf
2. Configure ensemblePlacementPolicy=org.apache.bookkeeper.client.Rac

[2021-09-08 18:22] zwalsh-toast commented on #3288
See https://github.com/apache/pulsar/pull/11974

[2021-09-09 01:10] BewareMyPower commented on #11962
@codelipenghui The fact is the most existing KoP users prefer `entry.format=kafka`. If we changed `entry.format` from `kafka` to `pulsar`, all existing topics/data would be not available because the entries are all Kafka format.
- Pulsar consumers cannot recognize these entries without PIP 94.
- KoP itself cannot recognize these entries because KoP assumes them as Pulsar format, so Kafka consumers

[2021-09-09 01:16] BewareMyPower commented on #11962
If the user only had Kafka clients for now, they can choose `entry.format=kafka` for high performance. If one day they switched to Pulsar clients, they can configure message converters to consume old data.

If the user already had Kafka clients and Pulsar clients for the same topics, they must choose `entry.format=pulsar` now without PIP 94. In future, when they eliminate all Kafka clients, even i

[2021-09-09 02:09] wangjialing218 commented on #11962
@codelipenghui We could consider how to keep FIFO semantics when using multiple managed ledgers. For example, only one primary ledger is writeable (store original messages from producer), other ledgers are readable (store conversion  result for each message from primary ledger), and keep the message order same in all ledgers. consumer could select primary ledger or one readable ledger to consume m

[2021-09-09 02:31] codelipenghui commented on #11962
If the user already had Kafka clients and Pulsar clients for the same topics, they must choose entry.format=pulsar now without PIP 94. In future, when they eliminate all Kafka clients, even including KoP itself, they'll find there's no way to consume old data.

@BewareMyPower
Yes, I know this case. Use `entry.format=pulsar`, the message publishing side burden the broker. With PIP-94 consume from P

[2021-09-09 02:45] codelipenghui commented on #11962
@wangjialing218

@wangjialing218 This looks like need to copy data between different managed ledgers? and we have multiple copies with the primary managed ledger and the other managed ledgers.

Currently, if we want to do some customized message conversion before send messages to consumer, we could use pulsar funtion to consume messages from the original topic, do the conversion and publish result

[2021-09-09 02:56] beyondyinjl2 opened #11978 "Why is the topic of the pulsar protocol not like the mqtt protocol, it can support aaa/bbb/ccc or aaa/# or aaa/+/bbb"
The topic of the pulsar protocol: persistent://public/default/my-topic, why the last local-name does not support/, like the mqtt protocol, it can support aaa/bbb/ccc or aaa/# or aaa/+/bbb, I Think it should be easy to achieve

[2021-09-09 03:01] BewareMyPower commented on #11962
@codelipenghui

It's right. But this proposal is mainly for **the first case**, not the second case. What if the user switched to Pulsar client later? Without the converter, they have to discard old messages. If it's not acceptable, they would never consider switching to Pulsar client.

It's right because in this case users prefer to store messages as Pulsar format. However, as I've said, the mess

[2021-09-09 03:16] wangjialing218 commented on #11962
@codelipenghui

Yes, I means convert user's data in broker side. Thanks for your advise, I'll consider the disadvantages and see if there is a solution.

Could we record the primary ledger id in other managed ledgers' metadata, write only one data copies to bookies? If the data is lost, we read data from primary ledger (which have multiple copies) with same entry id and do conversion again.

[2021-09-09 03:22] codelipenghui commented on #11962
@BewareMyPower Users should avoid using `entry.format=kafka` if they consider consuming data from the Pulsar clients in the future until we provide a way to consume the Kafka format data in the Pulsar client. And the pulsar format is the default option for KoP https://github.com/streamnative/kop/blob/330c3bf084104a548eb28f310860ac519c45d999/kafka-impl/src/main/java/io/streamnative/pulsar/handlers/

[2021-09-09 03:45] BewareMyPower commented on #11962
@codelipenghui The default `entry.format` is `pulsar` is just because there's no way to interact among Pulsar clients and Kafka clients when `entry.format` is `kafka` before. https://github.com/streamnative/kop/pull/632 fixed a part of this problem so that Kafka consumer can consume messages from Pulsar producer. But if we want Pulsar consumer to consume messages from Kafka producer, we need to fi

[2021-09-09 04:34] jerrypeng opened #11979 "Topic stats "unackedMessages" not updated correctly for subscription and consumer"
**Describe the bug**
The "unackedMessages" stat is not updated correctly when getting topic stats via "pulsar-admin topics stats <TOPIC_NAME>"

For example
[code]

**To Reproduce**
1. Start Pulsar standalone cluster
2. Create a consumer that reads from a topic but does not ack any messages
3. Start producing messages to the topic
4. Get stats of the topic.

**Expected behavior**

The "unackedMessa

[2021-09-09 04:45] BewareMyPower commented on #11962
I just thought of a problem. If we added converter on client side, only Java client (>= 2.9.0) was able to consume these messages.  There is still no way for other client to consume them. We need to write converters for other language clients, it could take much effort because we cannot reuse the Java classes.

[2021-09-09 06:15] BewareMyPower commented on #11962
After discussing with @codelipenghui and @hangc0276 , I think it's better to add converter on client side. The main reason is we cannot find a good implementation to insert the converter.

Currently, we must convert entries in callback of `asyncReadEntries`, like https://github.com/apache/pulsar/blob/3cd5b9ed3b59dd153b04ce4f6e61da377900f9be/pulsar-broker/src/main/java/org/apache/pulsar/broker/serv

[2021-09-09 07:20] eolivelli commented on #11962
Make sense to me.
You probably can push this PIP to the Wiki and tag it as "Rejected"
this way it will stay as docs for the future

cc @merlimat

[2021-09-09 08:25] zymap commented on #11241
We need to cherry-pick this patch for 2.7.x. The 2.7.x also has this issue

[2021-09-09 08:31] #11962 closed

[2021-09-09 10:30] srouthu1 commented on #11652
Hi @codelipenghui @leizhiyuan I am able to reproduce this issue with multi-topic consumer of a key shared subscription, can you please check if you can reproduce this issue

[2021-09-09 11:45] LeBW commented on #11876
我在复现过程中，在 revoke permission 之后，zk 中的确删掉了相关权限。
![image](https://user-images.githubusercontent.com/18557164/132679902-e548a423-d7ee-49fa-ad01-21d06eba1960.png)
可以提供下使用的各组件版本吗？

[2021-09-09 12:47] yuruguo opened #11983 "Improve parameter checking in pulsar-perf"
**Is your enhancement request related to a problem? Please describe.**
When I execute `pulsar-perf` to simulate pub/sub test, I found that the task can be started normally after some options are set to unreasonable values, but there is no instance running, which leads to a waste of resources.
In fact, when these unreasonable values appear, we should check to prevent the task from starting.
_**case

[2021-09-09 14:20] codelipenghui commented on #11652
@srouthu1 Which Pulsar version are you testing? /cc @Technoboy-

[2021-09-09 14:28] codelipenghui commented on #11846
@zwalsh-toast Cool! Looks forward to your great contribution.

[2021-09-09 15:17] senax opened #11984 "Zookeeper prometheus metrics inconsistent with Docs."
**Describe the bug**
The [documentation ](https://pulsar.apache.org/docs/en/reference-metrics/#zookeeper) and [zookeeper dashboard](https://github.com/streamnative/apache-pulsar-grafana-dashboard.git) use prometheus metrics prefixed with 'zookeeper_server_' which are no longer there.

For example `zookeeper_server_connections`

**To Reproduce**
Steps to reproduce the behavior:
1. `docker run --rm

[2021-09-09 16:45] tomscut commented on #11834
Hi @shibd @zbentley , has this [#11903](https://github.com/apache/pulsar/pull/11903) solved the problem? Can we close this issue?

[2021-09-09 16:54] shibd commented on #11834
I think we can closed. 😁

[2021-09-09 17:40] adeal commented on #6962
@gm7y8 were you able to make progress?

[2021-09-10 00:59] tomscut commented on #8298
Hi @losiu97 @hangc0276 , this problem has been solved. Can we close the issue? Thanks.

[2021-09-10 01:43] Anonymitaet commented on #11984
Hi @senax Thanks for raising this up. Can you update docs accordingly? Then you can ping me to review, thanks

[2021-09-10 02:02] shulaoh commented on #7398
Just wondering why this issue is closed, is it harmless or fixed indirectly?
I hit this issue by using pulsar as flink source.

[2021-09-10 02:40] yebai1105 commented on #11876
我的pulsar版本2.7.2
首先，我反馈的并不是topic层级授权能不能取消的的问题，我问题中的“权限数据堆积”指的是：凡是进行过授权的topic，其对应的权限json数据会一直保存在zk上，无论其具体权限是produce、consume还是为空。
下面进行详细解释：
1、第一个点：topic在授权之后，zk上保存了大量的权限json数据，即便在这个topic删除之后，这个权限数据都不会删除。在你的截图里面取消授权也只是将具体的topic对应的权限设置为空，但这个topic数据还保存在zk上，即便是topic被删除依旧无法得到清理，那么这样随着topic越来越多，zk上的数据就越来越大，这样在topic层级授权的就会收到限制。
2、第二个点：可以尝试新建一个topic之后，然后再对这个topic进行授权比如授权prodece，这个时候再直接删除topic，那么zk上的topic对应的权

[2021-09-10 02:56] Anonymitaet commented on #11984
Confirmed w/ @codelipenghui, the content in the red box is out-of-date, they should be replaced with the latest ZK metrics.
But there are no metrics descriptions on [ZK doc website](https://zookeeper.apache.org/doc/r3.7.0/zookeeperMonitor.html#Metrics), we might need to find the appropriate ZK metrics used in Pulsar and update the doc accordingly.

@senax could you please update the docs? Then you

[2021-09-10 04:00] TimXu0713 opened #11991 "How to add an new disk to an exists bookkeeper node?"
#### Expected behavior

When my pulsar cluster ledgerDirectories path is full,I want to increase ledgerDirectories  capacity.How can I expand the storage capacity by increasing the existing node disks instead of increasing the number of nodes? Because I don't have more machines. Is there any document?

thank you very much.

#### Actual behavior

#### Steps to reproduce

#### System configuration
*

[2021-09-10 06:18] WavesLi commented on #9135
@sijie Are you planning to add this feature to the python client?

[2021-09-10 06:27] #8298 closed

[2021-09-10 07:14] lhotari commented on #11635
The problem remains. Reopening the issue.

Happens quite often. Most recent is https://github.com/apache/pulsar/pull/11994/checks?check_run_id=3564315253 .
Logs at https://transfer.sh/z7Pa5K/logs_347931.zip and https://transfer.sh/lJtmwo/test-logs%20%283%29.zip (contains also broker logs).

@BewareMyPower would you mind checking what the problem is?

[2021-09-10 07:22] BewareMyPower commented on #11635
Okay, I'll take a look soon.

[2021-09-10 07:25] shibd commented on #11979
I repeated the bug, I'll try to fix it.

[2021-09-10 07:57] xuesongxs opened #11996 "ZK Unable to read additional data from server while initialize-cluster-metadata"
**Describe the bug**
![image](https://user-images.githubusercontent.com/54351417/132820281-a3df9d3c-947d-4d53-b23b-65caa582fa4d.png)

**To Reproduce**
Steps to reproduce the behavior:
1. bin/pulsar initialize-cluster-metadata XXXX

[2021-09-10 09:14] billyShen198602 opened #11999 "Some errors A few minutes after the container starts"
I use the standalone image pulled by docker for deployment，Why is there such an error report？
WARN  org.apache.bookkeeper.stream.storage.impl.sc.ZkStorageContainerManager - Failed to start storage container (1)
java.util.concurrent.CompletionException: org.apache.distributedlog.exceptions.BKTransmitException: Failed to open ledger handle for log segment [LogSegmentId:1, firstTxId:1, lastTxId:-999,

[2021-09-10 09:52] eolivelli commented on #11999
which is your command to start Pulsar ?

[2021-09-10 11:08] billyShen198602 commented on #11999
docker run -itd --name my_pulsar -p 6650:6650 -p 8080:8080 --mount source=pulsardata,target=/pulsar/data --mount source=pulsarconf,target=/pulsar/conf my_pulsar:v1.0.feature_test

[2021-09-10 11:38] frankjkelly commented on #11260
@liangyepianzhou are there particular fixes in Pulsar `2.6.2` and above that might be helping this?

[2021-09-10 14:08] BewareMyPower commented on #11635
I might not have enough time for this issue recently, so I assigned it to me first to avoid forgetting this issue.

[2021-09-10 15:00] thesquiff opened #12002 "pulsar-client>=2.8.0 is missing dependencies that used to be specified for pulsar-client==2.7.0."
pulsar-client==2.7.0 had the following dependencies listed (pip show):

certifi, protobuf, fastavro, apache-bookkeeper-client, ratelimit, prometheus-client, six, grpcio

pulsar-client>=2.8.0 only lists the following dependencies:

certifi, six

This means that when python-instance tries to start up it complains about not being able import from protobuf etc until they are all installed manually. I

[2021-09-10 15:31] MarvinCai commented on #11996
From ZK side, it seems an acceptable behavior: https://github.com/apache/zookeeper/blob/master/zookeeper-server/src/main/java/org/apache/zookeeper/ClientCnxn.java#L1283-L1290
Also pulsar metadata initialization seems completed as log `Cluster metadata for 'xxx' setup correctly`
Is the cluster not working as expected after the init script?

[2021-09-10 15:40] moliqingwa opened #12003 "subscribe to partitioned topic(s) error while non-partitioned topics ok through re.Pattern topics"
**Describe the bug**
I tested on subscribing to multiple topics ( partitioned topics error, but non-partitioned topics ok)

**To Reproduce**
Steps to reproduce the behavior:
1. Using pulsar-admin to create one partitioned topic with one partition
2. Using one python consumer to subscribe.
     e.g. TOPICS = re.compile(f"persistent://{MQ_TENANT}/{MQ_NAMESPACE}/.*")
3. Error with occur
4. In step 2,

[2021-09-10 15:41] MarvinCai commented on #11991
From the doc, seems bookkeeper doesn't support adding disk dynamicly, you'll need to restart bookie after adding the disk: https://bookkeeper.apache.org/docs/latest/admin/bookies/#missing-disks-or-directories

[2021-09-10 15:50] MarvinCai commented on #11978
From my point of view, Pulsar is already using `/` as a special character to separate different part in the topic name, like schema, tenant, namespace, topic
`/` in topic name will just be misleading as user will think there're more level of topic grouping while there isn't.

[2021-09-10 16:12] zbentley opened #12004 "Python client versions (2.8.1 and 2.8.0.post0) are not consistently available for both linux and MacOS"
**Describe the bug**
If I pin the `pulsar-client` library version, my pinned requirements end up being mutually exclusive between MacOS and Linux.

The 2.8.0.post0 client is only available for MacOS, not Linux.

The 2.8.1 client is only available for Linux, not MacOS.

If a [source release](https://github.com/apache/pulsar/issues/11899) cannot be made available so that users can build the client t

[2021-09-10 20:26] MaksymSlobodianyk opened #12010 "Pulsar standalone console should print better error message when schema is invalid"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the enhancement is.

I'm trying to POST a Pulsar schema using Admin API. But always get 500 Error without any helpful explanation why does it happening:
Unfortunately, the documentation doesn't contain any example of the correct protobuf schema format for passing into the API.

Here is a

[2021-09-10 21:20] michaeljmarshall commented on #11909
@chlyzzo - Node ports are random if they are not declared in the yaml. The current helm chart does not allow for setting the node port for the pulsar manager. Are you trying to connect to it from inside the k8s cluster or from outside the cluster? Also, it looks like you want the port to be 4 digits. This is not possible in k8s, as node ports range from 30000 to 32767. https://kubernetes.io/docs/c

[2021-09-11 01:49] TimXu0713 commented on #11991
Hi,@MarvinCai:
I have read this document, but the document is very vague and has no operability.I tried but failed. Can you help me write down the specific steps?

[2021-09-11 06:27] xuesongxs commented on #11996
Pulsar cluster works normally.

[2021-09-11 14:34] Shoothzj commented on #11529
+1, 2.4.2 is too old

[2021-09-12 03:38] BewareMyPower commented on #11635
It looks like this bug can be reproduced easily in docker container

[code]

Hope the cause can be figured out soon.

[2021-09-13 03:51] shibd commented on #11979
Currently, `unackedMessages` operates under the following scene:

1. Consumer use `Shard model` (SubscriptionType eq Shared / Key_Shared)
2. Consumer use `Individual ack`(consumer.acknowledge())

I try support all scene. But I found that this will have a great impact on the previous design.

I think we can discuss it clearly before we start.

Can be understand by PR: https://github.com/shibd/pulsa

[2021-09-13 04:29] mostafij-rahman opened #12019 "Flaky-test: ManagedLedgerTest.testMaximumRolloverTime"
ManagedLedgerTest is flaky. The testMaximumRolloverTime test method fails sporadically.

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
[ERROR] testMaximumRolloverTime(org.apache.bookkeeper.mledger.impl.ManagedLedgerTest)  Time elapsed: 2.016 s  <<< FAILURE!
java.lang.AssertionError: expected [2] but found [3]
	at org.testng.Assert.fail(Assert.java:99)
	at org.testng.Assert.fai

[2021-09-13 05:45] srouthu1 commented on #11652
@codelipenghui I am using 2.8 version

[2021-09-13 05:47] hozumit commented on #11920
I've confirmed that the problem has been fixed in v2.8.1.

[2021-09-13 05:47] #11920 closed

[2021-09-13 06:28] xuesongxs opened #12021 "Send to retry letter topic exception with topic"
**Describe the bug**
Pulsar v2.6.2

[code]
Topic Storage Size Cannot release.
![image](https://user-images.githubusercontent.com/54351417/133034107-d96202f7-e1e6-45fd-8a75-a95178aeca11.png)

**To Reproduce**
Steps to reproduce the behavior:
1.create consumer.
[code]
2.10 threads share a consumer to receive messages.
3.If the message processing fails, call the recommerlater interface.

[2021-09-13 06:40] beyondyinjl2 opened #12022 "How to dynamically produce and consume topic data"
After creating a Producer, I want to send data to multiple different topics, or create a Consumer, I want to consume data from multiple topics

[2021-09-13 08:21] beyondyinjl2 commented on #12022
For example, first subscribe to topic:persistent://public/default/my-topic:
Consumer consumer = client.newConsumer()
.topic("persistent://public/default/my-topic")
                     .subscriptionName("my-subscription")
.subscribe();
Then I want to dynamically subscribe to other topics: persistent://public/default/aaa or persistent://public/mynamesapce/bbb without restarting the service

[2021-09-13 08:22] beyondyinjl2 commented on #12022
When producing data, I want to dynamically send it to different topics. The topics may be in different namespaces and different tenants.

[2021-09-13 09:20] beyondyinjl2 commented on #12022
Like mqtt, a producer can send data on any topic, and a consumer can subscribe to topics dynamically

[2021-09-13 09:57] beyondyinjl2 opened #12023 "Tenant namespace topic length limit"
What are the length limits for tenants, namespaces, and localnames?

[2021-09-13 10:52] tonyvelichko opened #12024 "Endless receive retries on closed consumer"
**Endless receive retries on closed consumer**

**To Reproduce**
Start the consumer, then close it async when the readBatchAsync hasn't finished yet. The result would be repeating trying to read from consumers, that never finished.

I think the root cause is here, it seems to the ClientClosed exception should explicitly stop the retrying:
https://github.com/apache/pulsar/blob/master/pulsar-client/

[2021-09-13 12:14] tonyvelichko commented on #12024
Such behavior is only related to v2.8.1+ and was introduced in this PR https://github.com/apache/pulsar/pull/11843

[2021-09-13 18:13] Lakshmi-Balu opened #12026 "Allow us to easily get a mapping of topics to brokers"
A clear and concise description of what the enhancement is.
We need to have a quick way to figure out which topics are served by which brokers. So it will be helpful if if get broker URL and list of its partitioned topics which it serves from topic name

**Describe the solution you'd like**
Will use partitioned-lookup of the topic and  sort them by broker URL

**Describe alternatives you've consid

[2021-09-13 20:51] zbentley commented on #11953
Confirmed that the above PR fixes my issue. Thanks @merlimat!

[2021-09-13 20:51] zbentley commented on #11950
Confirmed that the above PR fixes my issue. Thanks @merlimat!

[2021-09-13 20:54] zbentley commented on #11834
@tomscut I will retest this week and close if that fix works.

[2021-09-14 01:52] tomscut commented on #12019
Hi @sijie @mostafij-rahman , please assign this task to me. Thanks.

[2021-09-14 01:53] casuallc commented on #11991
Dynamic add disk is not supported, you best should stop bookkeeper cluster when you want to add disk, because bookkeeper node  unable to start when it's configuration changed.

1. Stop bookkeeper cluster.
2. Change bookiePort (like add a new bookkeeper node).
3. Clear ledger and journal data in this node.
4. Add disk in journalDirectories and ledgerDirectories, separated by ','.
5. Start bookie.
6

[2021-09-14 01:57] casuallc commented on #11972
Same proble in https://github.com/apache/bookkeeper/pull/2788.

[2021-09-14 03:07] TimXu0713 commented on #11991
OK, I will try it.Thank you!

[2021-09-14 04:40] #12019 closed

[2021-09-14 06:02] Jason918 opened #12033 "Flaky-test: [org.apache.pulsar.broker.resourcegroup.RGUsageMTAggrWaitForAllMesgsTest].[testMTProduceConsumeRGUsage]"
[org.apache.pulsar.broker.resourcegroup.RGUsageMTAggrWaitForAllMesgsTest] is flaky. The [testMTProduceConsumeRGUsage] test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/12032/checks?check_run_id=3594996553#step:9:1898)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
java.lang.AssertionError: expected [3200] but found [0]
	at org.tes

[2021-09-14 09:28] hozumi opened #12036 "Broker high cpu usage due to producer's batching misconfiguration."
Hi,
I asked about the high CPU usage of my brokers on the pulsar slack channel several months ago, which I cannot see that post now.
I just want to share that I solved the problem by changing producer's batch configuration properly.

I thought that I had already enabled batching, but I did set the following wrong configuration.

1. 3000 micro seconds batch duration instead of 3000 ms.

[code]
Yeah

[2021-09-14 09:28] #12036 closed

[2021-09-14 12:12] dojiao commented on #9144
I meet this issue too and i just provide a solution in my situation. Try to run `netstat` and check if it very slow. If it is, the problem is the DNS resolution.

[2021-09-14 12:30] aloyszhang commented on #12026
Do you mean than you want a result like  `Map<brokerUrl, List<topic-partition>>` with a given partitioned-topic name?
If so , I think I can help with this by changing the result of  `partitoned-lookup` command.

[2021-09-14 14:40] zbentley commented on #11834
This works great; a 406 is now returned on attempt to terminate nonpersistent topics.

Thanks for the resolution!

[2021-09-14 14:40] #11834 closed

[2021-09-14 15:52] #11722 closed

[2021-09-14 17:00] syhily opened #12039 "Client fails by java.lang.OutOfMemoryError when running under Java 11"
**Describe the bug**

[code]

**To Reproduce**

1. Create a pulsar client.
2. Consuming messages on JDK 11.

**Additional context**

This affects the e2e test on flink: https://github.com/apache/flink/pull/17271

[2021-09-14 17:19] EronWright opened #12040 "[PIP 95] Smart Listener Selection with Multiple Bind Addresses"
* **Status**: Under Discussion
* **Author**: Eron Wright
* **Pull Request**:
* **Mailing List discussion**:
* **Release**:

### Motivation

The Pulsar broker has the concept of advertised listeners representing broker endpoints that are discoverable by, and accessible to, Pulsar clients.  In addition, one listener may be designated as the _internal_ listener, to be used for broker-to-broker commun

[2021-09-14 20:21] eolivelli commented on #12039
Did you try to allow netty reflective access?

[2021-09-15 00:07] EronWright commented on #1152
I wonder if an alternative fix would have been to force the proxy flag when no advertised address is configured.  This would improve support for advanced configurations in standalone mode.

[2021-09-15 00:33] merlimat commented on #1152
That would pose a problem in a typical bare-metal deployment where the `advertisedAddress` is left empty and it's derived from hostname, but you still don't want to act like a proxy, for efficiency reasons

[2021-09-15 01:23] wangjialing218 commented on #12040
If we only add multiple bind addresses of pulsar binary port in broker, I think we could not make smart endpoint selection for ordinary Kafka clients, we need to add multiple bind addresses of Kafka port in KoP.
I already have a desgin to add multiple bind addresses in KoP and working on it. https://github.com/streamnative/kop/issues/669

[2021-09-15 01:25] syhily commented on #12039
@eolivelli Yep, you are right. This is not a bug.

[2021-09-15 01:25] #12039 closed

[2021-09-15 02:17] firefeifei opened #12042 "pulsar 2.6.4 cpp client compile error"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-09-15 03:30] Anonymitaet commented on #12023
Hi @beyondyinjl2 thanks for your question.

If you want to create a doc issue, please use the [doc issue template](https://github.com/apache/pulsar/issues/new?assignees=&labels=doc-required&template=doc_request.md&title=) and answer the questions there.
Please show your research, question, and potential solution. In this way, others know your thoughts more clearly, thanks.

[2021-09-15 05:24] lhotari commented on #11909
@michaeljmarshall provided an answer to the problem as a resolution to this issue. Closing this.

[2021-09-15 05:24] #11909 closed

[2021-09-15 05:25] lhotari commented on #11932
#11931 was merged. Closing this one.

[2021-09-15 05:25] #11932 closed

[2021-09-15 06:49] gaozhangmin commented on #11320
reason: http://mail-archives.apache.org/mod_mbox/bookkeeper-dev/202109.mbox/browser

[2021-09-15 06:49] #11320 closed

[2021-09-15 08:10] liangyuanpeng commented on #11978
@beyondyinjl2
Actually, Pulsar support  this format of topic now，like persistent://public/default/my-topic/A/B.

And you can use `topicsPattern` for consumer to receive multiple topics message.

[2021-09-15 08:11] lhotari commented on #12024
Very good analysis @tonyvelichko . Thanks for reporting this. I have pushed a PR in #12044.

[2021-09-15 08:48] liangyuanpeng opened #12046 "Use tlsEnabled=true and not set webServicePortTls/brokerServicePortTls just got "No value present""
**Describe the bug**

Don't know what is mean when Got the error `No value persent`

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. use `tlsEnabled=true` and not set `webServicePortTls/brokerServicePortTls`
2. bin/pulsar standalone

**Expected behavior**
A clear error log, like `webServicePortTls/brokerServicePortTls must be present`

**Screenshots**
If applicable, add screenshots to

[2021-09-15 09:10] beyondyinjl2 opened #12048 "Topic does not have schema to check"
The specified object subscription data error: Topic does not have schema to check
code:
Consumer<DeviceDataBean> consumer = pulsarClient.newConsumer(Schema.JSON(DeviceDataBean.class))
					.topicsPattern(topicsPattern)
					.subscriptionName(subscriptionName)
					.subscriptionTopicsMode(RegexSubscriptionMode.AllTopics)
					.subscribe();

[2021-09-15 09:12] liangyuanpeng commented on #12022
You can use `client.newConsumer().topicsPattern()` for multiple topics.

[2021-09-15 09:13] liangyuanpeng commented on #12021
Could you try pulsar 2.8.x for this?

[2021-09-15 09:38] lhotari commented on #12022
In Pulsar client, you must create a separate producer for sending to a different topic. There are many ways to achieve what you are describing. The simplest approach is to create a producer, send the message and then close the producer. However, for most cases, this wouldn't be efficient, and producer caching is needed.
This challenge is handled in the [Reactive Streams adapter for Pulsar Java Cli

[2021-09-15 12:10] Cczzzz opened #12049 "how about the performance"
I use rocketmq send p99 hard to reach < 2ms.
pulsar ，can it be achieved

[2021-09-15 12:13] eolivelli commented on #12039
@syhily can you please share your solution here ? for future references ?

[2021-09-15 13:38] ZedZipDev opened #12050 "Docker and dashboard"
I run the app CsharpExamples and RunSimple() function only.

If I run the docker as wrote in the doc
`docker run -it -p 6650:6650 -p 8080:8080 --mount source=pulsardata,target=/pulsar/data --mount source=pulsarconf,target=/pulsar/conf apachepulsar/pulsar:2.8.0 bin/pulsar standalone
`
and then run the test app it works fine.

If I run the docker-compose file
https://github.com/apache/pulsar/tree/ma

[2021-09-15 13:54] siaron commented on #11914
针对此功能后续的如何计划的?

[2021-09-15 14:33] syhily commented on #12039
This issue occurs in testing on the Flink. We would create multiple Producers, Consumers, and PulsarClients. This would cause this error. So I have to just increase the off-heap memory on Flink.

https://github.com/apache/flink/blob/2b5acc096443e48a72afadcd180bfe62c1ea6f2f/flink-end-to-end-tests/flink-end-to-end-tests-pulsar/src/test/java/org/apache/flink/tests/util/pulsar/common/FlinkContainerWit

[2021-09-15 15:33] frankjkelly commented on #11320
@gaozhangmin @Vanlightly Thanks for posting that update - I had no idea that an Ack Quorum of 1 could cause a problem like that.

[2021-09-15 15:33] thesquiff opened #12051 "Java Sinks/Sources fail due to noexec on /tmp - no way to override JVM options for spawned processes"
There is no way to provide additional (and configurable) -D options to java processes started by RuntimeUtils.java of pulsar-functions-runtime.

More specifically, when attempting to start a source/sink using Pulsar 2.8 / Centos7 there are Java JNI binaries that appear to extract to /tmp and execute from /tmp. Our corporate policy is to have noexec specified for /tmp and so alternative paths need

[2021-09-15 15:34] thesquiff opened #12052 "Java Sinks/Sources fail due to noexec on /tmp - no way to override JVM options for spawned processes"
There is no way to provide additional (and configurable) -D options to java processes started by RuntimeUtils.java of pulsar-functions-runtime.

More specifically, when attempting to start a source/sink using Pulsar 2.8 / Centos7 there are Java JNI binaries that appear to extract to /tmp and execute from /tmp. Our corporate policy is to have noexec specified for /tmp and so alternative paths need

[2021-09-15 16:52] michaeljmarshall commented on #12050
@Oleg26Dev - I would recommend working with the [Pulsar Manager](https://pulsar.apache.org/docs/en/administration-pulsar-manager/). The Pulsar Dashboard is deprecated in 2.8.x and is removed in 2.9.0. This was discussed recently on the dev mailing list [here](https://lists.apache.org/x/thread.html/red2428e8a50fa93dbdd5bdc950cf60dbe6839c322c0ad662b4786107@%3Cdev.pulsar.apache.org%3E) and it was alr

[2021-09-15 17:43] tgrieger-sf commented on #11793
I got the transactions working. Instead of updating the values and running the transaction initialization command, I run this script at startup as the entrypoint:

[code]

[2021-09-15 18:01] alexsapps opened #12053 "Docs clarification needed for concepts-messaging/#retry-letter-topic"
I find the [Retry letter topic](https://pulsar.apache.org/docs/en/next/concepts-messaging/#retry-letter-topic) docs confusing. Here are some questions:

 * Is it really the producer's responsibility to send the message to the retry topic? The docs say "you can configure the producer to send messages to both the business topic and the retry letter topic". If this is accurate, should the producer se

[2021-09-15 18:02] alexsapps commented on #12053
If somebody answers the questions here I can try sending a PR.

Really great to have built-in retries. Thank you!

@Huanli-Meng @liudezhi2098  :)

[2021-09-15 21:17] EronWright commented on #1152
Good point.

Here's another possibility, force the proxy flag when in standalone mode and the advertised address is `localhost`.  This would allow standalone mode to support advertised listeners.  I observe that `PulsarStandaloneStarter` does the following:

https://github.com/apache/pulsar/blob/5ad405988fabb4b28dbdbd5aa5c9a10802f39af1/pulsar-broker/src/main/java/org/apache/pulsar/PulsarStandalone

[2021-09-16 00:32] allnode-github opened #12054 "pulsar-admin sinks localrun options"
The program example in the sins pulse to PostgreSQL document is based on the cluster environment. The database table cannot be successfully inserted in the stand-alone mode. Can you create a new configuration example in the stand-alone mode? In stand-alone mode, pulsar 2.8.1.0, mop 2.8.1.0, pulsar-io-jdbc-postgres-2.8.0.nar

[2021-09-16 00:36] allnode-github opened #12055 "pulsar-admin sinks localrun options"
The program example in the sins pulse to PostgreSQL document is based on the cluster environment. The database table cannot be successfully inserted in the stand-alone mode. Can you create a new configuration example in the stand-alone mode? In stand-alone mode, pulsar 2.8.1.0, mop 2.8.1.0, pulsar-io-jdbc-postgres-2.8.0.nar

[2021-09-16 00:37] #12054 closed

[2021-09-16 00:37] EronWright commented on #12040
@wangjialing218 thanks for sharing, I believe our efforts are complimentary.  It would be reasonable to use the new `bindAddresses` property to define KOP ports; each protocol handler would filter on the scheme component.  For example, the Pulsar broker service would act on the bindings for `pulsar` and `pulsar+ssl`.

[2021-09-16 01:43] beyondyinjl2 commented on #11978
topicsPattern cannot use * wildcards for tenants and namespaces

[2021-09-16 04:20] lhotari commented on #11978
@beyondyinjl2 please discuss this type of topics on the mailing list or on Pulsar Slack.

[2021-09-16 04:20] #11978 closed

[2021-09-16 06:18] #12024 closed

[2021-09-16 08:03] yakir-Yang opened #12059 "[Pulsar Websocket] Consumer message can't be acknowleaged successfully after toByteArray & fromByteArray"
Case 1. After receiving the message from Pulsar consumer, just calling the consumer.acknowledge() immediately, this message can be acknowledged successfully. Here's the code
[code]

Case 2. If I calling the toByteArray & fromByteArrayWithTopic functions, the message just can't be acknowledged successfully.
[code]

Case 3. If I calling the toByteArray & fromByteArray functions, the message just sti

[2021-09-16 08:14] yakir-Yang commented on #12059
@codelipenghui

[2021-09-16 08:45] yakir-Yang commented on #12059
Here's my simple code that can reproduce this problem quickly.

You can check the unacked messages through pulsar-admin tools

[code]

[code]

[2021-09-16 14:11] tspannhw opened #12062 "Pulsar SOLR Sink Fails to Write Indexed Fields"
**Describe the bug**

the SOLR sink will create documents but they only consist of

   "id":"2488c53a-261d-4c03-9a54-33393ebeeea0",
        "_version_":1711065421618085888},

The rest of the JSON data is lost.    It will not add another other fields or indexed fields.

There is no option to set what fields/format.   There is no documentation on showing best practices.

**To Reproduce**
Steps to re

[2021-09-16 22:11] michaeljmarshall opened #12069 "[Metrics] Make Histogram Buckets Configurable"
**Is your feature request related to a problem? Please describe.**
The current Pulsar metrics implementation has very fine grained histogram buckets. This leads to more metrics data, which means more compute to calculate the metrics, more memory to store them, and then more cost downstream on the service storing the historical metrics. Since different installations have different requirements, it

[2021-09-16 22:24] dlg99 opened #12070 "Debezium connector hung and failed to restart, "Failed to get batch size for entry .. No such ledger exists on Metadata Server" logged for the offset topic"
**Describe the bug**

Debezium connector hung (was not processing messages) and was not working after restarts until the offset storage topic was deleted and recreated.

**To Reproduce**

I do not have a repro, this happened in prod and so far I cannot repro it.

Interesting log excerpts:
[code]

[code]

retention:
[code]

Past issues that look similar: https://github.com/apache/pulsar/issues/8677

[2021-09-17 01:18] Shoothzj commented on #12055
You mean stand-alone pulsar ?
What's the program example ?

[2021-09-17 03:27] sruon opened #12074 "PersistentReplicator Unexpected exception: null"
**Describe the bug**
Whenever replication is enabled between two clusters, we come across the following error messages:

[code]

- The messages appear every couple seconds
- The messages appear on both ends
- The replication appears to be operating properly
- Replication was enabled and disabled a couple of times with no meaningful progress, the error keeps appearing.
- There's no stack trace occu

[2021-09-17 03:30] xuesongxs opened #12075 "Topic subscription backlog can't be cleared"
**Describe the bug**
Pulsar v2.6.2
Use clear-backlog command:
bin/pulsar-admin topics clear-backlog ***
Topic subscription backlog can't be cleared.

Use unload command:
bin/pulsar-admin topics unload ***
Topic subscription backlog can be cleared.

But I don't know if any messages are lost, and why the clear backlog can't be cleared. Is it a counter error?

![image](https://user-images.githubuserc

[2021-09-17 16:12] Srar commented on #5704
Same feature request.

[2021-09-17 17:27] #11984 closed

[2021-09-17 22:33] #12062 closed

[2021-09-17 22:46] allnode-github commented on #12055
Thank you for your attention. Yes, I have successfully run the local stand-alone mode pulsar according to the document. Now I need to run the stand-alone mode pulsar admin sins localrun options in the same computer. I have operated according to the document and found no problems at all, but I still can't write the pulsar message into the PostgreSQL database table in the end, Although this message

[2021-09-18 00:52] gaoran10 commented on #12074
It seems that PR #9763 fixed an NPE problem, but this issue didn't have clear error information. The topic replication could work well, right? Could the remote topic receive all replicated messages?

[2021-09-18 01:11] Shoothzj commented on #12055
Could you please give me the example link ?

[2021-09-18 02:55] BewareMyPower commented on #12042
It's caused by incorrect cherry-pick operations. If you just want to build the C++ client, add `-DBUILD_TESTS=OFF` CMake option.

[2021-09-18 06:47] moeagle opened #12086 "producer can't send to other running broker when force kill the broker"
Report Bug
pulsar 2.8.0
3 broker cluster

To Reproduce
step
1.start some producers with non-partition topic, or start 1 producer with partition topic. make sure the broker load a partition or topic in producer.
2.force kill one broker by  "kill -9 $pid"

[code]

[2021-09-18 07:27] BewareMyPower opened #12087 "PIP 96: Message payload processor for Pulsar client"
## Motivation

The initial motivation was from Kafka's protocol handler, i.e. KoP (https://github.com/streamnative/kop). KoP allows Kafka producer to configure entry format to `kafka`, which means the message from Kafka producer can be written to bookies directly without any conversion between Kafka's message format and Pulsar's message format. This improves the performance significantly. However,

[2021-09-18 07:53] BewareMyPower commented on #12087
There're something in addition to the implementation.

Before this proposal, I tried to add following method.

[code]

It's simple but looks ugly. After discussing with @codelipenghui, I adopted the current way to load converter at runtime. But there's something different. @codelipenghui's original opinion was that no changes should be made for client configs like `ConsumerBuilder`. However, there

[2021-09-18 07:56] nodece commented on #12059
@yakir-Yang I tried to run the code provided by you, it works fine.

Set up the environment:

- JAVA: 11
- Pulsar: 2.8.0
- Pulsar-client: 2.8.1

[code]

The code so like:

[code]
If you use other versions of pulsar, please tell me.

[2021-09-18 12:24] MarvinCai commented on #11158
@xuesongxs have you checked with `pulsar-admin topics stats <topic-name>` or `bookkeeper shell ledger ` to make sure entries do exist in BookKeeper?
If not filtering by __publish_time__ then default behavior is read all entries in a topic, the connector won't filter out or swallow any entry.

[2021-09-18 12:32] vvijayv opened #12091 "Apache Pulsar delayed messages are not redelivered when consumers were offline during that time"
**Describe the bug**
When consumers loose the messages that were supposed to be delayed messages when they are offline during the time frame scheduled messages have to be consumed. The broker does not attempt to redeliver the messages when consumers are back online.

**To Reproduce**
Steps to reproduce the behaviour:
1. Create a persistent topic with some partitions
2. Create a producer that produ

[2021-09-18 16:45] eolivelli commented on #12087
Why can't we pass an instance of the converter instead of using classpath lookup?

[2021-09-18 20:42] saveriogzz commented on #4096
Hey guys, has anyone succeeded in making the Java client work on a RaspberryPi? I would appreciate a feedback, thanks!

[2021-09-19 02:34] BewareMyPower commented on #12087
@eolivelli `ConsumerBuilder` is a class in **pulsar-client-api** module that has no dependency. If **pulsar-common** was added as the dependency of **pulsar-client-api** because it will cause cyclic dependency.

[code]

Also we can't put `PayloadConverter` into **pulsar-client-api** package because we must import `BrokerEntryMetadata` and `MessageMetadata` from **pulsar-common** package.

If we ch

[2021-09-19 09:36] eolivelli commented on #12087
Now I understand better the problem.
Let me think more about it....

My first thought is that if we want this to be part on the client supported API then we must explicitly link to those APIs.

Maybe in some new Pulsar client API extensions package ?

Otherwise we risk to fail to support compatibility for future versions.

[2021-09-19 10:19] BewareMyPower commented on #12087
@eolivelli

I don't understand well for the compatibility issue. The interface is a part of **pulsar-common** package. If there're no compatibility changes for `BrokerEntryMetadata` and `MessageMetadata`, it should be stable.

----

Actually there's a similar API. When creating a producer, we can configure a `BatcherBuilder` interface.

https://github.com/apache/pulsar/blob/fccc1cf60467bc0600c6507

[2021-09-19 15:15] eolivelli commented on #12087
Another thought about this PIP, thinking out loud:
The selection  of the decidere should be automatic, depending on some metadata in the message, the same way we do with compression (probably compression could be made pluggable one day when  we solve the problem for the payload converter...)

[2021-09-19 17:23] allnode-github commented on #12055
[](https://pulsar.apache.org/docs/zh-CN/io-quickstart/#connect-pulsar-to-postgresql)
I just refer to this document completely. However, data cannot be inserted into the table in the database.

[2021-09-19 17:23] allnode-github commented on #12055
https://pulsar.apache.org/docs/zh-CN/io-quickstart/#connect-pulsar-to-postgresql

[2021-09-20 01:53] RollBack2010 opened #12098 "Delayed message is not valid"
1. Download apache-pulsar-2.8.0-bin.tar.gz

2. Execute "pulsar-daemon start standalone" to start the service

3. Producer code:

[code]

4. Consumer Code

[code]

Sending " base/sendmsg " request, the consumer immediately got the message, " deliverafter ( 3l, timeunit.Minutes ) " three minutes of delay doesn't work, why?

[2021-09-20 01:56] RollBack2010 commented on #12098
Pulsarconf code:

[code]

[2021-09-20 01:57] #12098 closed

[2021-09-20 09:05] eolivelli commented on #12087
@BewareMyPower
I think that we have to think more in general about these extensibility points that we add to Pulsar, especially on the client.

On one hand we need the power to access the internals of Pulsar (and use internal APIs, Netty....)
On the other hand we must provide to the end user something that:
- it is able to deal with backward/forward compatibility
- it does not add additional depen

[2021-09-20 09:06] eolivelli commented on #12087
second topic:
the client must be able to auto detect the "format" of the payload and then apply it automatically to the messages tagged with that format, the only constraint is that in the classpath you have the proper "MessageConverter"

[2021-09-20 12:54] BewareMyPower commented on #12087
Good suggestion. I'll think about some proper interfaces for it.

If I didn't understand wrong, I think it's a part of converter's implementation. In the previous PIP, I used two methods, one of them is for detecting the format. In this PIP, I merged them into one because the format detection is usually simple. See https://github.com/apache/pulsar/pull/12088/files#diff-f1e742e597b262e9da738239c878

[2021-09-20 13:06] eolivelli commented on #12087
Sorry, I didn't check the implementation (this is expected, because if I take a look to the implementation we could miss some details here in the document).
So the example implementation simply skips messages that are not handled by the Converter.

I see only one problem with this approach: if the Consumer does not load the Converter the application will receive some corrupted data, because it fai

[2021-09-20 14:19] liangyuanpeng commented on #11999
So what's mean `my_pulsar:v1.0.feature_test` of docker image?

[2021-09-20 14:32] liangyuanpeng commented on #11484
@zhaoqiang1980
Did this answer solve your problem?

[2021-09-20 21:01] michaeljmarshall opened #12105 "PIP 97: Asynchronous Authentication Provider"
## Motivation

Pulsar's current `AuthenticationProvider` interface only exposes synchronous methods for authenticating a connection. To date, this has been sufficient because we do not have any providers that rely on network calls. However, in looking at the OAuth2.0 spec, there are some cases where network calls are necessary to verify a token. As a prerequisite to adding an OAuth2.0 `Authenticat

[2021-09-21 02:16] BewareMyPower commented on #12087
I think our goal is to configure multiple converters and choose the proper one for the message. Since I missed the case in this PIP, I merged them into one. You're right that the `accept` method should be separated.

But existing messages don't have this field, for example, KoP adds the property `entry.format=kafka` to mark messages as Kafka format. I think the detail steps should be:

1. Check th

[2021-09-21 09:39] #11783 closed

[2021-09-21 09:53] eolivelli commented on #12105
@merlimat FYI

[2021-09-21 11:56] VadimMolodyh opened #12115 ""Clusters can not be empty" error on tenant creation when authentication is enabled"
**Describe the bug**
I’m trying to set-up authentication via JWT tokens in a standalone pulsar container, but I keep getting “HTTP 412 Precondition Failed Clusters can not be empty” error when try to create a tenant via pulsar-admin command, although it works correctly with disabled authentication. According to pulsar logs it “Successfully authorized admin1 as super-user" but then “[admin1] Failed

[2021-09-21 15:33] zbentley commented on #12004
The 2.8.1 client has been published for MacOS now; this issue has been resolved.

[2021-09-21 15:33] #12004 closed

[2021-09-21 15:52] VadimMolodyh commented on #12115
I found an example of working [pulsar standalone docker container with JWT authentication enabled](https://github.com/david-streamlio/pulsar-in-action/tree/master/docker-image/src/main/docker/standalone-secure), but the problem is that, it has "anonymousUserRole=admin" in standalone.conf, which effectively means - no authentication.

After replacing it on "anonymousUserRole=anonymous" I got errors

[2021-09-22 01:06] xuesongxs commented on #11158
I have checked with pulsar-admin topics stats <topic-name>，indeed, the number of records found by pulsar SQL is less than the number of records written by the producer.

[2021-09-22 03:06] Shoothzj commented on #12055
https://github.com/apache/pulsar/pull/12124. You can look if this PR fix your problem

[2021-09-22 04:34] liangjiangliang opened #12125 "Repeated consumption"
In the case of normal consumption, consumption to individual historical records

[2021-09-22 04:51] Technoboy- commented on #11652
@codelipenghui @srouthu1
When is the partitioned topic, broker (2.8, latest version), client version (2.6, 2.8) could reproduce this issue.
We will fix this later. Please assign to me.

[2021-09-22 07:14] Shoothzj commented on #12125
could you please give more specific description and how to reproduce

[2021-09-22 07:16] Shoothzj commented on #12086
It seems like your program doesn't catch the exception, could you please show the code ?

[2021-09-22 07:18] munir131 commented on #9477
@codelipenghui Thanks for the quick responses. I verified that 2.7.3 and it is working perfectly now.

[2021-09-22 07:18] #9477 closed

[2021-09-22 07:33] congbobo184 opened #12129 "PIP 98: Transaction coordinator loading mechanism."
* **Status**: Proposal
* **Authors**: Bo Cong, Penghui Li
* **Pull Request**:
* **Mailing List discussion**:
* **Release**:

## Motivation
Now transaction coordinator load use `NamespaceBundleOwnershipListener`, but when bundle onload and the process `NamespaceBundleOwnershipListener.onLoad()` and then transaction coordinator load fail, we did not try again, it will make this transaction coordinat

[2021-09-22 07:59] #12055 closed

[2021-09-22 08:51] liangjiangliang commented on #12125
we use the consumer of Java pulsarClient ：
`Messages<String> msgs=someTopicsConsumer.batchReceive();`
`SubscriptionType subscriptionType = SubscriptionType.Shared;
            someTopicsConsumer = client.newConsumer(Schema.STRING)
                   .topic(topic)
                   .subscriptionType(subscriptionType)
                   .subscriptionName("sink_"+SinkConstants.getINSTNAME())

[2021-09-22 08:54] liangjiangliang commented on #12125
how to find out the problem ,when we get  Iterator it=msgs.iterator();
 while(it.hasNext()){Message<String> msg= (Message<String>) it.next();
String by = msg.getValue();
 LOG.info("—————表："+topic+"获取数据_________"+by);

[2021-09-22 08:56] aloyszhang opened #12131 "broker not clean ledger from metastore successfully"
**Describe the bug**
In our cluster, some ledger disks are used up(data4) but others are not.
[code]
After list the ledger file, the oldest file are created two monthes ago.
[code]
Then read the first file by `bin/bookkeeper shell readlog 367.log` and only on ledger 1110144 in this file. This ledger can be also found on the metastore.

![image](https://user-images.githubusercontent.com/48062889/13

[2021-09-22 09:04] aloyszhang commented on #12131
@codelipenghui @hangc0276 PTAL, thx.

[2021-09-22 14:25] YannPerthuis commented on #11877
@315157973 @sijie @codelipenghui @lhotari @wolfstudy, I'm sorry to tag you but I just want to know if I'm doing something wrong with the transactions or with the reader or if this problem is already known. In this [pr](https://github.com/apache/pulsar/pull/10414#issue-869516719) I saw that the problem had been fixed but not in the context of posts published via a transaction.

Thanks for the help

[2021-09-22 15:51] MarvinCai commented on #12125
could this due to the ack was lost?

[2021-09-22 16:37] MarvinCai commented on #12086
any additional error messages or is only single broker address configured for `brokerServiceUrl` if it's not url to a LB?
if broker is killed and connection is closed, client will do lookup again which will trigger another broker to load the topic and continue the produce.

[2021-09-22 16:38] lordcheng10 opened #12138 "After the replication subscription is turned on, changing cluster consumption does not continue to consume"
**Describe the bug**
After the replication subscription is turned on, changing cluster consumption does not continue to consume

**To Reproduce**
Steps to reproduce the behavior:
1. Create a tenant:
bin/pulsar-admin tenants create my-tenant3 --admin-roles my-admin-role --allowed-clusters ss_share1,ss_share2
2. Create a namespace:
bin/pulsar-admin namespaces create my-tenant3/my-namespace
bin/pulsa

[2021-09-22 17:06] lordcheng10 opened #12139 "After using the pulsar-client consume command to consume, repeatedly close the consume"
**Describe the bug**
When using the following commands to consume topics, although the data can be consumed, an exception will be thrown at the end:
![image](https://user-images.githubusercontent.com/19296967/134389223-0e66a772-2799-4c5b-ac9a-01953dfa8f3d.png)

**To Reproduce**
Steps to reproduce the behavior:
1.produce data：
bin/pulsar-client produce my-tenant3/my-namespace/test1 --messages  25

[2021-09-22 17:20] lordcheng10 opened #12140 "When transactionCoordinatorEnabled=true is configured, data cannot be consumed by using the pulsar-client consume command;"
**Describe the bug**
When transactionCoordinatorEnabled=true is configured, data cannot be consumed using the following command:
./bin/pulsar-client consume my-tenant3/my-namespace/test1 -p Earliest -s sub1

**To Reproduce**
1. Modify the configuration transactionCoordinatorEnabled=true:
vim conf/broker.conf
2. Restart the broker:
sh bin/pulsar-daemon stop broker
3. Write data:
bin/pulsar-client p

[2021-09-23 01:01] Huanli-Meng commented on #12053
@alexsapps thanks for pointing these questions out and I will ping related engineers to see if they can clarify these issues?

[2021-09-23 02:14] #11983 closed

[2021-09-23 05:56] aahmed-se opened #12151 "Pulsar producer can encounter and integer overflow due to excessive release requests"
**Describe the bug**
ProducerImpl.java use default java semaphores, which don't have bound limit checks calling release successively can lead to overflow.

[code]

[2021-09-23 07:28] Shoothzj commented on #12151
IMHO, we don't need bound limit checks, it's a bug for releasing more than expected

[2021-09-23 08:22] chlyzzo commented on #7755
if already has hadoop cluster, so how to set conf/filesystem_offload_core_site.xml，can offload data into hdfs;
i set the filesystem_offload_core_site.xml:
<configuration>

    <property>
        <name>fs.defaultFS</name>
        <value>hdfs://hadoop-cluster:54310</value>
    </property>
    <property>
        <name>hadoop.tmp.dir</name>
        <value>/app/dt/data/pulsar_data</value>
    </propert

[2021-09-23 08:24] LunckyB opened #12154 "pulsar C++ client"
**Describe the bug**
file could not be found. in ./googlemock/libgmock.a
**To Reproduce**
Steps to reproduce the behavior:
$ sudo apt-get install cmake libssl-dev libcurl4-openssl-dev liblog4cxx-dev \
  libprotobuf-dev protobuf-compiler libboost-all-dev google-mock libgtest-dev libjsoncpp-dev
$ cd /usr/src/googletest
$ sudo cmake .
$ sudo make
$ sudo cp ./googlemock/libgmock.a ./googlemock/gtest/l

[2021-09-23 09:11] shibd commented on #12091
@vvijayv Can you show your consumer configuration？Maybe you should use `SubscriptionInitialPosition.Earliest` when create consumer.

Example:
[code]

[2021-09-23 09:19] chlyzzo opened #12156 "pulsar offload into hdfs, offload-status is success, but hdfs has no file and topics stats-internal return "offloaded" : false"
# What issue do you find in Pulsar docs?

     https://pulsar.apache.org/docs/en/tiered-storage-filesystem/#hadoop-profile-path-required

     when i set the broker.conf
     -----------
   managedLedgerOffloadDriver=filesystem
   fileSystemURI=hdfs://hadoop-cluster:54310
   fileSystemProfilePath=../conf/filesystem_offload_core_site.xml

   managedLedgerMinLedgerRolloverTimeMinutes=2
   managedLed

[2021-09-23 09:35] leizhiyuan commented on #12151
pulsar-client-2.6.0?
could you update 2.8.1 to check?

[2021-09-23 10:30] eolivelli opened #12157 "PIP-99: Pulsar Proxy Protocol Extensions"
# PIP-99 Pulsar Proxy Extensions

**Status**: Under Discussion
**Author**: Enrico Olivelli
**Pull Request**: https://github.com/apache/pulsar/pull/11838
**Mailing List discussion**: https://lists.apache.org/x/thread.html/r259cfd0d20162e5e24290bc2ea8f8ac74d53489975e0c7b40d326fec@%3Cdev.pulsar.apache.org%3E
**Release**: (candidate for 2.9.0)

## Motivation

In Pulsar 2.5.0 Pulsar has been enriched b

[2021-09-23 11:22] lhotari commented on #12049
Please discuss this on the users@pulsar.apache.org mailing list or on Pulsar Slack. You can also ask questions on Stackoverflow by tagging the question with "apache-pulsar"

[2021-09-23 11:22] #12049 closed

[2021-09-23 12:08] vvijayv commented on #12091
@shibd I will try this. But does it mean every time this consumer starts (restart/deployment/crash recovery) it will start consuming from the most earliest?

[2021-09-23 12:09] Shoothzj opened #12159 "NPE When create OpReadEntry"
**Describe the bug**
NPE When `OpReadEntry.create()`. When the `ledgerId` in `ManagedLedgerImpl.ledgers` is  null.
the call to `OpReadEntry.create()` will trigger `readEntryFailed` callback but this time the cursor of `OpReadEntry` is still unseted.

More seriously, it will make the variable `havePendingRead` can't become true again.

**To Reproduce**
It's quitely hard to reporduce the problem. In

[2021-09-23 12:11] Shoothzj commented on #12159
@codelipenghui @merlimat @wolfstudy @eolivelli @sijie @BewareMyPower @lhotari

IMHO, it probably need a sync callback failure instead of async callback failure.
Any better idea to fix this problem ? Thanks for your help.

[2021-09-23 12:17] lhotari commented on #12159
@Shoothzj is this related to #11796 / #11282 ? There's PR #11813 to fix that issue.

[2021-09-23 12:21] #12046 closed

[2021-09-23 12:24] Shoothzj commented on #12159
Thanks, that's same as #11282/#11796. I should search more carefulness before I submit the issue. Thank you very much.

[2021-09-23 12:24] #12159 closed

[2021-09-23 12:38] eolivelli commented on #12040
@EronWright can you please start a discussion on dev@pulsar.apache.org mailing list ?
this is required in order to accept this PIP

[2021-09-23 12:42] eolivelli commented on #12040
btw the PIP looks good to me.
I have no comments to make.

[2021-09-23 13:03] otmanel31 commented on #8383
Wow sorry i forgot this issue ... Currently no log to provide. I 'll try to test it again asap and get more logs. :). I forgot this issue because we finally removed topics patterns notions from our code and handle list of all consumers manually

[2021-09-23 13:14] shibd commented on #12091
No, If you use `subscribe api`, `SubscriptionInitialPosition` just take effect when first create subscribe. Pulsar can record(persistent) the position of subscribers.

[2021-09-23 13:17] BewareMyPower commented on #12087
@eolivelli I've just made a lot of changes for this proposal. PTAL

Some differences from the previous thoughts:
1. Only configure one converter to avoid extra complexity.
2. The `messageFormat` field was not added to MessageMetadata, though it doesn't take much effort to do that. Checking the property could be compatible with messages produced by older Pulsar API.

Here's the branch for the lates

[2021-09-23 13:17] otmanel31 opened #12160 "[question] pulsar broker reboot"
Hi,

To begin, i'm not able to labelize this issue as a question. Could you move the label ?

We are in production since almost a year now.

Today our Pulsar platform manage 26 000+ topics with 4 brokers, 4 proxies, 3 bookies and 3 zookeeper.
The number of connections we have are under our forecast due to customer issue in selling its safe home services.
We are in version 2.6.1 and in load balanci

[2021-09-23 13:19] Shoothzj commented on #12115
I follow your operations in pulsar 2.8.1, doesn't appear this problem. Maybe you can try higher version ?

[2021-09-23 13:30] Shoothzj commented on #12160
which `LoadSheddingStrategy` are you using? It seems like five broker's load balance doesn't balanced

[2021-09-23 13:37] eolivelli commented on #12087
I really love this new proposal.
But I don't understand how newSingleMessage works.
it is for creating batched messages ?

can you sketch an example in pseudo code ?

apart from that I think we are on our way

[2021-09-23 13:44] otmanel31 commented on #12160
i found loadBalancerLoadSheddingStrategy=org.apache.pulsar.broker.loadbalance.impl.OverloadShedder, but no loadSheddingStrategy

[2021-09-23 13:47] BewareMyPower commented on #12087
@eolivelli

See this commit: https://github.com/BewareMyPower/pulsar/commit/e51486357e42af73a70a5ea697e64c67914f9922

- DefaultPayloadConverter is an implementation for the default case. It uses `newSingleMessage` to create each single message of a batch.
- The actual implementation is in `ConsumerImpl#newSingleMessage`, which is simply called in `MessageContextImpl#newSingleMessage`.
- See the re

[2021-09-23 13:55] eolivelli commented on #12087
from your example it looks like newSingleMessage is useful to extract a Message from a batch.
how can you apply this to KOP ?

do we need to refactor  ConsumerImpl ?
I though that this would be a simpler change, but in fact you have to deal with the fact that the Converter may decide to split the single message into multiple messages.

I am not sure if we should have a `DefaultConverter`.
if you r

[2021-09-23 14:04] Shoothzj commented on #12160
Could U please provider the zookeeper data in path `/loadbalance/brokers/{broker-num}`
like
![image](https://user-images.githubusercontent.com/12933197/134521857-a9076238-8687-404d-b01b-f019158297c2.png)

[2021-09-23 14:08] BewareMyPower commented on #12087
@eolivelli

Each entry produced by KoP is a buffer that can be converted to a `MemoryRecords`.

[code]

Then we can reuse the method of `MemoryRecords` to create iterable records

[code]

Each `Record` is a single message, i.e. `MessageImpl<T>`.

No, the converter did the same as the code before. The buffer is an entry but not a single message.

The default converter's behavior is:
1. If the entry

[2021-09-23 14:11] BewareMyPower commented on #12087
I think yes. Maybe the code will look ugly. I'll try this way soon.

[2021-09-23 14:14] BewareMyPower commented on #12087
In addition, actually it only affect the client side that usually consumes not many topics, the overhead of iterator allocations might not be significant IMO. But it still need tests to prove that. I think we can skip the converter for the default case as you've said. @eolivelli Though there will still be some refactors to `ConsumerImpl`.

[2021-09-23 14:20] VadimMolodyh commented on #12115
@Shoothzj I switched on 2.8.1 and reproduced the same issue.

Here is [pulsar-auth-container.tar.gz](https://drive.google.com/file/d/1FvUILiTm0DYDrsFq_IZQUfdqV3PjiIEk/view?usp=sharing) archive with a small script (run_pulsar_container.sh) that reproduces the issue along with Dockerfile and changed config files.

[2021-09-23 15:02] otmanel31 commented on #12160
@Shoothzj , the data is in filesystem of zookeeper under /data ? or via an http request ? or the log content of log file under /data/zookeeper/version-2 ?

[2021-09-23 15:08] Shoothzj commented on #12160
via the zookeeper command line client

[2021-09-23 15:44] otmanel31 commented on #12160
sorry, but i didn't find any zookeeper client in my pulsar toolset deployment.  Only pulsar-admin, client CLI etc ... let me check if i can install the zkCli.sh.

[2021-09-23 20:38] otmanel31 commented on #12160
is there another way to get zookeeper data ? from zookeeper logs for example ?

[2021-09-23 22:55] alexsapps commented on #12053
That would be great @Huanli-Meng, thank you!

[2021-09-24 00:36] Shoothzj commented on #12115
did you missed to config the `brokerClientAuthenticationPlugin` and `brokerClientAuthenticationParameters ` in `standalone.conf`

It should be config like
[code]

[2021-09-24 00:56] hangc0276 commented on #12156
It has only one ledger `ledgerId=68` and in `open` state, and only the `closed` state ledger can be offload to tiered storage. You can produce more message to the topic and wait for up to `managedLedgerMinLedgerRolloverTimeMinutes` to ensure the current ledger rollover. @chlyzzo

[2021-09-24 00:56] #12156 closed

[2021-09-24 01:40] Shoothzj commented on #12160
This command would work, but before #12102 release, you need to copy a jline jar into `pulsar/lib` directory, it can be easily find in zookeeper binary package or other place.
[code]

[2021-09-24 01:57] Shoothzj commented on #12125
He does not config ackTimeout, the unack message would not resend unless restart the consumer.
@liangjiangliang If you doesn't restart the consumer or broker in your test.
Can you check if the topic are unload, you can search
[code]

[2021-09-24 03:32] suiyuzeng opened #12165 "Client repeat registration when unload a bundle"
**Describe the bug**
One client has about 500 producers or consumers which belongs to different bundles. When unloading a bundle, some producers or consumers which do not belong to the bundle will register again such as:
2021-09-18 16:28:37,000 [ForkJoinPool.commonPool-worker-12] INFO  org.apache.pulsar.broker.service.ServerCnx - [/xx.xx.xx.aa:51064] Created new producer: Producer{topic=Persistent

[2021-09-24 03:59] Thearas opened #12166 "Failed to start standalone pulsar on Apple M1"
**Describe the bug**
I follow the document <https://pulsar.apache.org/docs/en/standalone-docker/#start-pulsar-in-docker>, run the following command:
[code]

but got an error:
[code]

**To Reproduce**

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: macOS
`Darwin ThearasdeMacBook-Pro-13.local 20.6.0 Darwin Kernel Version 20.6.0: Mon Aug 30 06:

[2021-09-24 04:14] Thearas commented on #12166
Looks like it's a common problem <https://github.com/localstack/localstack/issues/4456#issuecomment-905904064>.

[2021-09-24 07:02] wenbingshen opened #12169 "[BUG] Questions about pulsar broker direct OOM"
**Describe the bug**
A clear and concise description of what the bug is.

Pulsar and bookkeeper version:
pulsar-2.8.0 and pulsar-2.8.0 built-in bookkeeper

In order to figure out the reason for the OOM of the pulsar broker's direct memory, I tested different scenarios and got some different results.

After analyzing the pulsar broker heap dump, a large number of PendingAddOp instances have not bee

[2021-09-24 12:15] wenbingshen commented on #12169
ping @merlimat @codelipenghui @lhotari PTAL

[2021-09-24 12:38] lhotari commented on #12169
@wenbingshen Do you have a chance to test with 2.8.1 ? That contains quite a few fixes, just to see if there's a difference.

I assume you are intentionally testing an overload situation?

That is probably expected if there's such a high load on the system.

One possibility to protect from overload is to configure rate limiters on the system.
However, it would be good if the Pulsar system would ha

[2021-09-24 12:49] eolivelli commented on #10937
@codelipenghui can you please open a new ticket ?
this ticket is bound to 2.8.1 release
it is awkward to see this re-opened, as 2.8.1 has been released.

I believe it will be clearer from a project management and release management perspective to open a new issue

[2021-09-24 12:54] wenbingshen commented on #12169
@lhotari Thank you very much for your reply. I don’t know much about bookkeeper's back pressure mechanism and related parameters. I will learn this content later. In fact, here, the question I want to understand is:
Keep the producerRate at 880000000, and perform the following four tests for the same traffic:
1. Configure maxMessagePublishBufferSizeInMB, OOM occurs when EWA=3:3:2
2. Configure maxM

[2021-09-24 13:13] #11652 closed

[2021-09-24 13:41] VadimMolodyh commented on #12115
@Shoothzj, thanks a lot! I tried these parameters but for some reason they it did not work on 2.7.x but it does work on 2.8.0 and 2.8.1.
So, this means that JWT token authentication does not work on 2.7.x (at least in standalone mode).

[2021-09-24 13:54] golden-yang opened #12174 "[Pulsar io]Support JDBC-Source for data sync, when Debezium does not meet the demand"
In [issue#2442](https://github.com/apache/pulsar/issues/2442), Pulsar IO already support JDBC-sink and debezium-source.

In some simple scenarios, I expect a more direct way to synchronize data, not rely on third-party debezium.
And in some special cases,  it is not easy to obtain binlog data.
I hope to use JDBC connection through Pulsar to support richer DB sources.

Here are some tools that can

[2021-09-24 15:19] #1240 closed

[2021-09-24 18:03] vvijayv opened #12177 "Helm installation fails"
**Describe the bug**
The Pulsar Helm installation to EKS fails with the below message.
`Error: INSTALLATION FAILED: failed to create resource: ConfigMap in version "v1" cannot be handled as a ConfigMap: v1.ConfigMap.Data: ReadString: expects " or n, but found t, error found in #10 byte of ...|bleData":true,"broke|..., bigger context ...|tMemorySize=256m\n","autoSkipNonRecoverableData":true,"broker

[2021-09-24 19:53] frankjkelly commented on #12026
It would be nice if maybe the `pulsar-admin` supported this when we call `topic stats` or `topic stats-internal`?

[2021-09-24 23:08] danielorf opened #12182 "[OAuth2.0] Token request should use Basic auth instead of urlencoded credentials"
**Describe the bug**
The OAuth2 token request should use Basic auth instead of urlencoded credentials.  [RFC 6749 section 2.3.1](https://datatracker.ietf.org/doc/html/rfc6749#section-2.3.1) (The OAuth 2.0 Authorization Framework)  states:
[code]

**Expected behavior**
The OAuth2 token request should use the "Authorization: Basic ..." header for Oauth2 `client_id` and `client_secret` credential exc

[2021-09-25 01:14] glcrazier opened #12185 "ratePeriodInSecond in DispatchRate should be non-positive"
**Is your enhancement request related to a problem? Please describe.**
If set ratePeriodInSecond of DispatchRate as 0 when setting namespace policy, the admin api indicates success. However, successive operations like creating subscriptions under this namespace would fail and the caller doesn't know why due to improper settings.

**Describe the solution you'd like**
When calling admin api, check r

[2021-09-25 03:34] BewareMyPower commented on #12087
I have simplified this design and update the description, PTAL again. @eolivelli

Some changes:
1. Rename `MessageContext` to `EntryContext` to avoid misunderstanding. Because `MessageContext` looks like a context of `Message<T>`.
2. Simplify the `MessagePayload` interface. It's only responsible to convert itself to `ByteBuf` now.
3. Don't apply a default converter for consumer.

You can also see

[2021-09-25 13:26] itaross commented on #6797
@sijie  any updates on this? Thx

[2021-09-25 14:34] azui007 opened #12189 "How to get the messageID"
Please answer the following questions before submitting your doc issue. Thanks!

# What issue do you find in Pulsar docs?

I want to know how to get the messageID
The docs does not describe this
can you help me?
thanks

# What is your suggestion?

add the describe and demo

# Do you have any references?

no

# Would you like to fix this issue?

(Welcome to contribute docs! Pulsar grows from a tiny

[2021-09-26 02:47] Shoothzj commented on #12189
What timing or phase do you want to get the messageID, consumer?

[2021-09-26 04:50] lordcheng10 opened #12197 "When the producer or client is normally closed, data will be lost"
**Describe the bug**
In the following example, the data will be lost（The data cannot be consumed）:
` try {
PulsarClient client = PulsarClient.builder().serviceUrl("pulsar://127.0.0.1:6650").build();

        Producer<byte[]> producer = client.newProducer().topic("test1").create();

        producer.sendAsync("hello".getBytes());
        client.close();
    } catch (PulsarClientException e) {

[2021-09-26 04:51] lordcheng10 commented on #12197
I submitted a PR to fix:https://github.com/apache/pulsar/pull/12195

[2021-09-26 07:02] wangjialing218 commented on #12040
@EronWright
Let me know if I understand correctly, The scope of this PIP is only for Pulsar bind address.
KOP bind kafka address through `KafkaChannelInitializer` when `ProtocolHandler.newChannelInitializers()` is called.

[2021-09-26 07:48] #12139 closed

[2021-09-26 09:51] asagjj opened #12199 "User can only excute bin/pulsar in $PULSAR_HOME"
Similiar as  [ISSUE-5650.](https://github.com/apache/pulsar/issues/5650)
#### Expected behavior
when use bin/pulsar shell, like generate public key or token, we should can excute it in any dirs and specify a relative path.

#### Actual behavior

If current dir is not  $PULSAR_HOME,  the relative path specified for bin/pulsar,will not  work, throw exception like "file doesn't exist"

#### Steps to

[2021-09-26 12:07] kellyfj opened #12201 "Document when Pulsar configuration settings or changes were introduced"
Please answer the following questions before submitting your doc issue. Thanks!

# What issue do you find in Pulsar docs?

It's hard to tell when Configuration parameters were introduced
https://pulsar.apache.org/docs/en/reference-configuration/
We are currently using 2.7.2 and there are new parameters in 2.8.0 that we might

# What is your suggestion?

Please add a column the tables indicating wh

[2021-09-27 02:00] hellomyboy commented on #12185
/assign

[2021-09-27 06:23] beyondyinjl2 opened #12207 "How to turn on debug mode in pulsar cluster"
I wrote a custom authentication plug-in, I want to turn on the debugging mode, how to turn it on, print the log

[2021-09-27 07:56] 4onni opened #12208 "Consumers get stuck in Key_shard mode and delayed messages"
Pulsar version : 2.7.3
Pulsar Client version: 2.7.1

I have a topic that sends delayed messages, and consumers use Key_shard mode, and whenever consumers make changes (batch reboots or adding machines) messages start to pile up and deliveries stop. Here are the topic statistics when stuck
[code]

Note: unload topic can solve the problem

Steps to reproduce the behavior:
1. a producer keeps sending

[2021-09-27 08:04] BewareMyPower commented on #12189
[code]

[2021-09-27 09:03] 4onni commented on #12208
Delayed messages can only be used with shard mode

[2021-09-27 09:03] #12208 closed

[2021-09-27 09:12] Raven888888 commented on #7076
Tried the above for a pulsar cluster of 3 nodes. Still unable to get the latest row. Am using 2.7.0 pulsar release.

Anybody has any idea? Has this been verified on a cluster setup?

Thank you

[2021-09-27 09:40] Raven888888 opened #12209 "Pulsar SQL cannot get the latest message (still!)"
**Describe the bug**
Exactly the same as #7076.
Tried exactly [this](https://github.com/apache/pulsar/issues/7076#issuecomment-699638900) in both standalone and clustered setup, both unable to get the latest row.

**Expected behavior**
This bug is said to have been fixed in 2.7.0 pulsar release.

The previous issue is closed, thus opening a new one to track on this.
Any pointer is appreciated.

[2021-09-27 11:32] Anonymitaet opened #12211 "[Website] generate CLI docs for minor releases"
## Issue

Currently, automatic CLI docs (`pulsar-client`, `pulsar-perf`, and `pulsar`) are [only available for major releases](https://pulsar.apache.org/tools/).

For example,

- If click `Pulsar Perf` on `next` version, it goes to the https://pulsar.apache.org/tools/pulsar-perf/2.9.0-SNAPSHOT/ (this page is generated **automatically**), which is the correct behavior.

![image](https://user-images