[2019-12-14 16:21] frejonb commented on #5688
@Javac7 ok you'd have to ask the maintainers. I guess you can build the docker image yourself for now.

[2019-12-14 16:55] Javac7 commented on #5688
Thank you @frejonb

[2019-12-14 19:45] cckellogg commented on #5843
@jiazhai my main concern is the current behavior was to use `PULSAR_MEM` to set the memory for bookies when running `bin/pulsar` now that is not the case so all users that upgrade to a newer version will have to change their configuration before upgrading. Also, this is provides duplicate flags which is confusing regardless if the right most one takes.

In my opinion bkenv.sh should only be applie

[2019-12-15 10:38] yjshen commented on #5505
@codelipenghui does this bug still exists? how could I reproduce it?

[2019-12-15 10:58] codelipenghui commented on #5505
@yjshen Yes, i think it have not fixed and i have not reproduce it yet.

[2019-12-15 11:57] jiazhai commented on #5630
@vishalananth07 Have you figure out the issue. 8G RAM should be enough. you could check the settings in `conf/pulsar_env.sh` and `conf/bkenv.sh`

[2019-12-16 03:05] vishalananth07 commented on #5749
@jiazhai sorry for the delayed response, I tried changing useHostNameAsBookieID=true, still Bookie failed with same error. I tried changing allowLoopback=true and the Bookie started and Bookie sanity passed. But when we tried (we have 3 bookies and 3 zookeepers on the same nodes)
[code]
It failed with the following error
[code]

I tried doing `./bin/bookkeeper shell listbookies -rw`, but it is fai

[2019-12-16 03:08] jiazhai commented on #5843
@cckellogg  Thanks for bring up this discussion.
4555 and 5675 both will bring in duplicate of flags when execute `bin/pulsar bookie`.
4555 resolved the issue that pulsar scripts not support BOOKIE settings.
5675 loaded BOOKIE_EXTRA_OPTS, but not using it unless it is really needed(like in command `bin/pulsar bookie`), it will not effect other non-bookie commands.

From my view, It is still the is

[2019-12-16 06:18] zymap commented on #5841
Hi @KannarFr, I have reproduced your problem on my laptop.

And I got the same error as you. At the same time, the server was throwing an exception:
[code]

That looks like something error when authenticating the client.

Is there any association between the biscuitRootKey and the pulsar client?

[code]
It seems we always create a new root to connect to the broker. I am not sure if this is the rig

[2019-12-16 06:49] jiazhai commented on #5749
@vishalananth07 sorry, not notice that you are using 3 nodes. For 3 nodes, you should not change `allowLoopback` to `true`.
How about a try on this?
[code]
Then in a clean deploy, all bookie nodess should be identified by their IP:3181

[2019-12-16 07:07] jiazhai commented on #5854
Thanks @one70six for reporting this issue.  This should be an independent task, mark it as help wanted.
Would you please provide more details of the requirements?
pulsar_msg_ttl:  the number of messages that will not be in backlog after a TTL?
pulsar_msg_retention:  for [retention](https://pulsar.apache.org/docs/en/2.4.1/cookbooks-retention-expiry/#__docusaurus), it is independent from pulsar_msg_

[2019-12-16 07:07] jiazhai commented on #5857
Thanks @SakaSun on working this.

[2019-12-16 07:11] jiazhai commented on #5858
Thanks @juliohm1978 for working on this issue

[2019-12-16 07:26] vishalananth07 commented on #5749
@jiazhai Thanks a lot, all the components are starting up and the bookies are listed. I just need one more help, How do you connect to this cluster from external computers which will act as producer and consumer? Should the computers be on the same network?
My,
web service url: http://10.6.8.14:8080,10.6.8.13:8080,10.6.8.15:8080
broker service url: pulsar://10.6.8.14:6650,10.6.8.13:6650,10.6.8.15:

[2019-12-16 07:28] jiazhai commented on #5749
@vishalananth07 It should be working on any computer that could telnet these x.x.x.x:6650/8080

[2019-12-16 07:30] murong00 commented on #5843
@jiazhai The motivation of 4555 is to pass the `BOOKIE_EXTRA_OPTS` (just for passing jaas file when enable kerberos) when using `pulsar-daemon`, as sijie's comment in 4555 it doesn't use `BOOKIE_MEM` and `BOOKIE_GC`.

I agree with @cckellogg to some extent `PULSAR_MEM` is used to set the memory for all command，from my point of view bookeeper is also a part of pulsar.

[2019-12-16 07:35] vishalananth07 commented on #5749
I tried to connect to this cluster from an external system using the pulsar-client tool, I modified the conf/client.conf as follows
[code]
But I am not able to produce or consumer and getting this error
[code]

[2019-12-16 07:36] hangc0276 commented on #5843
I agree with @jiazhai ,the key problem of the issue is:

this way is good or not?
when start bookie, the right configuration will be used, the `BOOKIE_MEM` will override `PULSAR_MEM`

In my opinion, `PULSAR_MEM` should represent pulsar memory configuration and `BOOKIE_MEM` should represent bookie memory configuration. For a newcomer to pulsar, he will  be confused to set `bkenv.sh` to configure bo

[2019-12-16 07:38] vishalananth07 commented on #5630
Yes, I have fixed this issue, there were other processes taking more RAM in my machine. Thanks for your help :)

[2019-12-16 07:38] #5630 closed

[2019-12-16 07:40] hangc0276 commented on #5843
When only start bookie using `PULSAR_MEM`, it will force user to copy pulsar directory to another one the start bookie, otherwise you can't set bookie's memory independently.

[2019-12-16 07:51] jiazhai commented on #5749
@vishalananth07 there was also a setting in pulsar broker.conf called `advertisedAddress` would you please try to set it as your _ip_address? and then reboot the broker.
From the error log. seems it is trying to use hostname "masterfyp-HP-Compaq-Pro-6305-SFF".

[2019-12-16 07:58] vishalananth07 commented on #5749
@jiazhai Everything is working perfectly now :), Thanks a lot for your patient help and support

[2019-12-16 07:58] #5749 closed

[2019-12-16 08:08] murong00 commented on #5843
@hangc0276 yes, it is not elegant to override the setting, from my point view I can accept both as long as the doc is detailed. The issue here is duplicate flags may confuse some users.

[2019-12-16 09:40] frank-dkvan commented on #4976
Hi @codelipenghui   "5" means there would be  5-ms delay before we can see the latest message in Pulsar SQL?  Am I understanding correctly?

[2019-12-16 09:41] frank-dkvan commented on #4976
Thanks @codelipenghui

[2019-12-16 12:41] wolfstudy commented on #5695
Thanks @lspgn, Unfortunately, I can't  reproduce the issue in my local.

Use code as follows:

[code]

The broker version:

- 2.4.1
- 2.4.2
- 2.5.0

The client version:

-  github.com/apache/pulsar/pulsar-client-go v0.0.0-20191214024039-b52449a6604c

[2019-12-16 14:17] subbu107 opened #5866 "Flink event time based windowing functions not working with pulsar"
We are using Event time based windowing functions in Flink. The source is a partitioned Pulsar topic . The timestamp field is decided by the processing function in flink.
The event time is extracted from the message by attaching a TimeStampExtractor to the stream which extracts time from the message

#### Expected behavior

The window should get triggered once the watermark is crossed.

#### Actua

[2019-12-16 14:54] lspgn commented on #5695
@wolfstudy thanks a lot.
This code is also giving me the segfault.

I realize the only variable in our setups is I'm using a Pulsar docker-container.
[code]
(either 2.4.1 or 2.4.2, there's no 2.5.0 yet on Docker Hub).
[code]
My hunch is: on Mac OS, Docker is in a VM, for heavy tasks, they are usually slowed down. Would it be possible that the broker does not reply with the ID fast enough to the cl

[2019-12-16 17:14] jeloba opened #5868 "JDBC Sink Leaks DB Credentials"
**Describe the bug**
The JDBC sink leaks db credentials (the in contents of 'configs') into logs and API results.

**To Reproduce**
Steps to reproduce the behavior:
0. Start Pulsar standalone
1. Register a JDBC sink
2. Observe the log output on a standalone pulsar instance
3. It contains the credentials in a line starting with 'ProcessBuilder starting the process with' in a JSON object called '--f

[2019-12-16 17:52] roman-popenov opened #5869 "[terraform] Error while using terraform init command in pulsar/deployment/terraform-ansible/aws using Terraform v0.12.18"
I am trying to run the terraform `init command` to set-up my AWS cluster so I can deploy a Pulsar cluster, and I am getting the following error:

[code]

I have installed the terraform on my Mac using `brew install terraform` command and the output of `terraform -version` is `Terraform v0.12.18`

[2019-12-16 18:45] lspgn commented on #5695
Just tried in a Debian VM with 4GB RAM with openjdk-11-jre, 2.4.2, still segfault :/ .

But I also installed the deb dev library and ran the go program from the Linux: it is working without issues.

So it's likely the libpulsar lib on Mac OS. :(
Sorry I thought it would be the Go API.

Is there something I can do to troubleshoot more the libpulsar brew package?

[code]

[code]

[2019-12-16 19:03] RAbraham commented on #4540
works on python 3.7, Mojave

[2019-12-17 01:44] jiazhai commented on #5866
@yjshen to take a look

[2019-12-17 02:00] jiazhai commented on #5868
@tuteng Would you please help on this issue?

[2019-12-17 02:24] jiazhai commented on #5869
@roman-popenov you need to update the aws provider to minimum 2.7 to use this:
https://www.terraform.io/docs/providers/aws/guides/version-2-upgrade.html

[2019-12-17 02:40] jiazhai commented on #5582
@ltamber Would you please help provide detailed steps for reproduce?

[2019-12-17 03:07] tuteng commented on #5868
Thank you for reporting this problem. The current configuration is printed in function_worker. We may need to plan how to replace this sensitive information. Please let us know if you have any good suggestions. @jeloba

[2019-12-17 03:11] wolfstudy commented on #5695
OK,  thanks @lspgn

So, we can ensure there is no problem with the implementation of this `SendAndGetMsgID `, right?

I agree with you, maybe we can change the way of build cpp lib:

[code]

[2019-12-17 09:21] Lanayx opened #5877 "Shared subscription doesn't work well with partitioned topic in 2.4.2"
**Describe the bug**
Shared subscription doesn't work well with partitioned topic in 2.4.2. It worked well with 2.4.1 release. To reproduce issue I use 2 consumers with shared subscription and a topic with 2 partitions. Most of the times I run the test messages from only one partition are successfully consumed, while only the first message from another partition is consumed.

**To Reproduce**
Step

[2019-12-17 09:56] jeloba commented on #5868
Maybe storing the password in the 'secrets' map instead of 'configs' would be an option?

[2019-12-17 10:16] superbaobei opened #5880 "run bin/pulsar-admin namespaces list public with 404 return"
**Describe the bug**
when I start pulsar in standalone model,I change conf *webServicePort* in file *conf/standalone.conf* from 8080 to 8081.
I want to take a look at namespace list,when I run *bin/pulsar-admin namespaces list public*,pulsar gave me a reqponse with 404

**To Reproduce**
cd {pulsar_home}/
bin/pulsar-admin namespaces list public
return:
[code]

**Desktop (please complete the followi

[2019-12-17 10:24] jiazhai commented on #5726
Thanks @phreed based on master should be fine.
It would be more easy to checkout a new branch based on your master.
https://pulsar.apache.org/en/contributing

[2019-12-17 10:37] frejonb opened #5881 "Redelivery count implementation can bring down all the consumers"
**Is your feature request related to a problem? Please describe.**
The current implementation of the redelivery count only increases the counter when either:

1. the message is negatively ack'd
2. the ack timeout expires

However, the ack timeout is tracked by the consumer so consider the following situation:

1. Consumer-1 picks up a message for the first time. Redelivery count is 0. After some t

[2019-12-17 11:40] #5858 closed

[2019-12-17 11:44] #5397 closed

[2019-12-17 11:48] #5808 closed

[2019-12-17 11:57] #5724 closed

[2019-12-17 13:10] roman-popenov commented on #5869
So I should make the changes in the `provider.tf` file?

[2019-12-17 13:11] roman-popenov commented on #5869
Currently the contents are:
[code]

[2019-12-17 14:53] #5735 closed

[2019-12-17 14:55] #5269 closed

[2019-12-17 15:11] codelipenghui commented on #5881
The redelivery count is used by DLQ, therefore we'd better increase it after ack timeout expires or a nack happens. Otherwise, if user enable the DLQ, messages may be put into the dead letter topic in advance

[2019-12-17 15:12] codelipenghui commented on #5880
You can try to use:
[code]

[2019-12-17 15:16] codelipenghui commented on #5877
@Lanayx Could you help to check is your test still fail with master branch?

[2019-12-17 15:52] Lanayx commented on #5877
@codelipenghui I don't think so, I'm on windows, so only able to run pulsar as docker or kubernetes image. This is java code that I used to test those consumers if it helps (sorry for quality, I'm newbie in Java).
[code]

[2019-12-17 16:22] frejonb commented on #5881
@codelipenghui But doesn't DLQ suffer the same problem that I describe? A "bad" message will never go to the DLQ since it kills consumers before the redelivery count goes up.

If the redelivery count is increased when the message is received, can't we change the implementation of DLQ so it checks whether the message should go to DLQ:
1. after ack timeout
1. after nack
1. before receiving the messa

[2019-12-18 01:29] superbaobei commented on #5880
Ok.When I specified *--admin-url* ,pulsar executed correctly.
thanks！

[2019-12-18 01:57] dockerzhang commented on #5847
there is a bug in apachepulsar/pulsar-dashboard:2.4.2 docker image,
/usr/lib/postgresql/9.6/bin/initdb  - > /usr/lib/postgresql/11/bin/initdb  for /pulsar/init-postgres.sh
or you can set image tag to other version, apachepulsar/pulsar-dashboard:2.4.1 works fine for me.

[2019-12-18 03:51] jiazhai commented on #5877
@codelipenghui would you please help on this issue?

[2019-12-18 03:53] jiazhai commented on #5880
@superbaobei you could also set config/client.conf to do it.
Thanks @codelipenghui for help on this issue. would like to close it.

[2019-12-18 03:53] #5880 closed

[2019-12-18 03:57] codelipenghui commented on #5877
@jiazhai I have test on 2.4.2 but can’t reproduce. @Lanayx I think you can disable batch, maybe messages are in a batch.

[2019-12-18 03:58] tuteng opened #5887 "[Docs]Old version download link error"
**Describe the bug**

http://pulsar.apache.org/docs/en/2.3.0/standalone/

![image](https://user-images.githubusercontent.com/1907867/71054469-1387e580-218d-11ea-9c08-289f509c8970.png)

The old version has been removed https://archive.apache.org/dist/pulsar/. Only the latest two versions are kept here in https://www-eu.apache.org/dist/pulsar/.

**To Reproduce**
Steps to reproduce the behavior:
1. G

[2019-12-18 04:13] ltamber commented on #5582
@jiazhai sorry, it has been a long time since we last used pulsar dashboard, and I don't remember well about the steps of the deployment. we are currently using pulsar-manager.

[2019-12-18 04:19] tuteng commented on #5582
@ltamber Thank you for your feedback. Let's close this issue first. If you have any questions, you can consider reopen it.

[2019-12-18 04:19] #5582 closed

[2019-12-18 06:40] jiazhai commented on #5881
@frejonb I may not understand this issue. what do you mean by "bring down" all the consumers?
From the example situation, the consumer got OOM is because the timeout too long, and hold too many messages in consumer?

[2019-12-18 07:14] frejonb commented on #5881
@jiazhai the reason a consumer can get OOM killed is because it received a "bad message". The processing of this bad message can lead to an application crash (the consumer) for many reasons. For example if the processing of the bad message requires too much RAM, then it may be OOM killed. But the application can also be unresponsive for many reasons.

The particular cause is not important here. My

[2019-12-18 07:25] Lanayx commented on #5877
@codelipenghui I've disabled the batch, but see exactly the same behaviour. Have you tried reproducing several times on the same topic/subscription? I've just checked without batches and it worked once, on another run I see the same behavior.

[2019-12-18 07:50] codelipenghui commented on #5877
I have test by using your java code.

1.start 2 consumers
2.send some messages by using pulsar-client produce(50 messages)

But consumers can consume all messages:
[code]

I add consumer name before each log.

I think you can save the topic stats, stats-internal, heap dump of broker which owned that topic and heap dump of the client. This will facilitate troubleshooting.

[2019-12-18 08:21] Lanayx commented on #5877
Here are some stats, it's visible here 24 messages in backlog, and connected consumers, but those messages are not delivered until consumers reconnect
![image](https://user-images.githubusercontent.com/3329606/71067851-60b48900-2186-11ea-8dd0-bfbfd77c5c32.png)
![image](https://user-images.githubusercontent.com/3329606/71068174-36170000-2187-11ea-8491-bd36dacad4be.png)
![image](https://user-images.

[2019-12-18 08:30] Lanayx commented on #5877
Broker's logs
![image](https://user-images.githubusercontent.com/3329606/71069229-55169180-2189-11ea-9de9-5f1ea08db7c4.png)
![image](https://user-images.githubusercontent.com/3329606/71069427-c22a2700-2189-11ea-83b9-522dc5e04793.png)

[2019-12-18 08:42] Lanayx commented on #5877
Looks like the problem is not on consumer side, since the same behavior is seen on Java client 2.4.1, 2.4.2 and .net client that I'm developing.

[2019-12-18 09:12] codelipenghui commented on #5877
I have also recently checked a problem with the consumer stopping consumption. If you can easily reproduce, could you help to make a broker log(in debug level) and heap dump of broker(which owned the stop consume topic). Other users have also found this problem, but difficult to reproduce.

BTW, currently we used 2.4.0 , seems the problem has not happened yet.

[2019-12-18 09:26] Lanayx commented on #5877
Probably cursors are from other subscriptions, I've cut them for brevity. I don't think I can change debug level for broker, but I can take the dump, can you help me with that? Can't find a tool to see the processes on the node, top and ps are unavailable

[2019-12-18 11:53] Lanayx commented on #5877
Attaching the dump, hopefully I managed to take it correctly
[heap.zip](https://github.com/apache/pulsar/files/3978257/heap.zip)

[2019-12-18 18:42] aleichter commented on #4593
I found this thread as I was having similar exceptions.  I received consistent failures while logged into wifi but seemed a bit more stable when hard connected to the network.  It would still crash, however, when plugged into the network.  Looking through the logs I noticed that the hostname of my mac is being used as a connection for some service in standalone mode (and I assume non-standalone mo

[2019-12-18 20:20] mprokushenkov opened #5891 "Dead letters incorrect processed for messages batch"
**Describe the bug**
Producer produces 10 messages. Consumer with set deads letters policy acks 9 messages and 1 nacks. This will lead to all 10 messages coming to dead letters topic.

**To Reproduce**
I'm testing scenario where producer sents messages using batch. Consumer with enabled dead letters policy acks all messages but nacks one message. Then another consumer receives messages from dead l

[2019-12-19 01:50] jiazhai commented on #5881
@frejonb Thanks for the explanation. I get it now. When message redeliver around consumers, A killer message will kill all the consumers.
It make sense.
@codelipenghui What do you think of change the behavior?

[2019-12-19 02:28] codelipenghui commented on #5881
@jiazhai @frejonb If i understand correctly, the problem is the redelivery count not increase but the message was actually redelivered since only increase redelivery count when client send redelivery request.  Currently, we maintain the redelivery count at broker side, i think we'd fix it at broker side, the brokers need to guarantee the correctness of redelivery count cannot completely depends on

[2019-12-19 03:48] zymap commented on #5344
@Jesse-Zhang-Bose Sorry for my late response.

I think we can use the NackRedeliveryDelay as the redeliver time. So you can configure it by yourself.

Hi @merlimat. Because you wrote the NackRedelivery, what do you think? Can we use NackRedeliveryDelay?

[2019-12-19 04:15] jiazhai commented on #5891
Looking from the code, currently dead letter not support batch messages very well. a batch is handled as a unit. This is more of an enhancement requirements. ping @codelipenghui to confirm.

[2019-12-19 04:50] codelipenghui commented on #5877
@Lanayx Maybe this issue related to 2.4.2 broker while dispatcher read 0 message from bookie, the dispatcher stop dispatch more messages. If your broker log contains following log, the issue will happens:

23:18:27.125 [bookkeeper-ml-workers-OrderedExecutor-0-0] DEBUG org.apache.pulsar.broker.service.persistent.PersistentDispatcherMultipleConsumers - [persistent://message-platform/client-metrics/m

[2019-12-19 06:04] huangdx0726 commented on #5887
It means download  the latest two versions  from https://www-eu.apache.org/dist/pulsar/, others from https://archive.apache.org/dist/pulsar?  Or, all of them from https://archive.apache.org/dist/pulsar/.

[2019-12-19 06:48] tuteng commented on #5887
I think both methods are ok, our goal is to let users to download the package correctly.

[2019-12-19 06:52] frejonb commented on #5881
@codelipenghui sounds good

[2019-12-19 09:00] ltamber commented on #3643
@sijie Is this feature expected to have time to do?

[2019-12-19 09:19] zymap commented on #5841
@KannarFr, The null represents the IllegalArgumentException has no exception message. You can dive into the `checkArgument`, it will throw an IllegalAgumentException. This issue does not impact your authentication and authorization implements.

I will fix this.

Thank you.

[2019-12-19 11:25] Lanayx commented on #5877
@codelipenghui can you please help with setting broker's log mode to debug? Helm template uses apachepulsar/pulsar-all docker image, I don't understand how to configure log level there.

[2019-12-19 12:03] andrekramer1 opened #5896 "Out of Memory with many consumers"
Load testing on one standalone Pulsar with 4 producers and many consumers (1000s) we are getting out of memory errors - failing to allocate direct memory. Increasing memory has not helped with enough producers, Pulsar is failing with exceptions like the following when there are many consumers:

[code]

Looking into a memory dump showed many buffers allocated to nio/netty.

This issue could be rela

[2019-12-19 14:53] huangdx0726 opened #5898 "Receive many emails for PR run failed CI-*"
**Describe the bug**
After creating a PR, i received many emails notification on PR run failed CI-**.

![图片](https://user-images.githubusercontent.com/29513837/71183032-2b0cbe80-22b2-11ea-8155-eeb09a6a51c6.png)

[2019-12-19 20:42] youurayy commented on #5818
Might have something to do with the Broker seeing no initialized Bookie:

![image](https://user-images.githubusercontent.com/588573/71207749-41b21600-22b0-11ea-95a6-d8bdee659e1d.png)

The Bookies in my cluster eventually initialize fine, so this is probably a init race issue.
The Brokers also recover after a few restarts (they are hitting an error where they discover their ZK node entry from the p

[2019-12-19 23:22] bry00 opened #5899 "Cannot import Python pulsar-client==2.4.2 on Mac Os Catalina 10.15.2"
**Describe the bug**
With correctly installed `libpulsar` and `protobuf` and pulsar-client 2.4.2 cannot import pulsar on Python 3.7.5. An attempt to import raises ```ImportError: dlopen(/tmp/check/.venv/lib/python3.7/site-packages/_pulsar.cpython-37m-darwin.so, 2): Library not loaded: /usr/local/opt/protobuf@2.6/lib/libprotobuf-lite.9.dylib```

**To Reproduce**
Steps to reproduce the behavior:
1.

[2019-12-20 03:04] zymap opened #5901 "[pulsar-broker][REST API] Support `offload` all partitions of a partitioned topic"
**Is your feature request related to a problem? Please describe.**

Pulsar supports offload a non-partitioned-topic or a partition of a partitioned topic. If there has a partitioned topic with too many partitions, users need to get all partition and offload them one by one. We need to support `offload` all partition of a partitioned topic.

**Describe the solution you'd like**

Support offload all

[2019-12-20 03:08] zymap opened #5902 "[pulsar-broker][REST API] Support get all partitions `internal-info` of a partitioned topic"
**Is your feature request related to a problem? Please describe.**

Pulsar supports get `internal-info` for a non-partitioned-topic or a partition of a partitioned topic. If there has a partitioned topic with too many partitions, users need to get all partition and get the `internal-info` one by one. We need to support get all partition `internal-info` of a partitioned topic.

**Describe the solut

[2019-12-20 03:13] zymap opened #5903 "[pulsar-broker][REST-API] Support `compact` all partitions of a partitioned topic"
**Is your feature request related to a problem? Please describe.**

Pulsar supports `compact` a non-partitioned-topic or a partition of a partitioned topic. If there has a partitioned topic with too many partitions, users need to compact them one by one. We need to support `compact` all partition of a partitioned topic.

**Describe the solution you'd like**

Support `compact` all partition of a pa

[2019-12-20 03:15] zymap opened #5904 "[pulsar-broker][REST API] Support `unload` all partitions of a partitioned topic"
**Is your feature request related to a problem? Please describe.**

Pulsar supports `unload` a non-partitioned-topic or a partition of a partitioned topic. If there has a partitioned topic with too many partitions, users need to get all partition and `unload` them one by one. We need to support `unload` all partition of a partitioned topic.

**Describe the solution you'd like**

Support `unload` a

[2019-12-20 03:17] zymap opened #5905 "[pulsar-broker][REST API] Support `terminate` all partitions of a partitioned topic"
**Is your feature request related to a problem? Please describe.**

Pulsar supports `terminate` a non-partitioned-topic or a partition of a partitioned topic. If there has a partitioned topic with too many partitions, users need to get all partitions and `terminate` them one by one. We need to support `terminate` all partition of a partitioned topic.

**Describe the solution you'd like**

Support

[2019-12-20 03:20] zymap commented on #5412
break down to #5901 #5902 #5903 #5904 #5904

close this issue.

[2019-12-20 03:20] #5412 closed

[2019-12-20 03:25] wolfstudy commented on #5695
hello @lspgn, the `SendAndGetMsgID` is a new function added in pulsar 2.4.2 version. If you want to use it, please change the version to 2.4.2+. About how to build a higher version of `pulse-client-cpp`, please refer to the method provided above.

[2019-12-20 03:28] wolfstudy commented on #5695
@lspgn If the issue is fixed, please close the issue, thanks.

[2019-12-20 05:09] #5825 closed

[2019-12-20 05:12] #5857 closed

[2019-12-20 05:28] #5726 closed

[2019-12-20 05:37] #5612 closed

[2019-12-20 06:04] jiazhai commented on #5899
@sijie is helping on this 2.4.2 version.

[2019-12-20 06:05] #5832 closed

[2019-12-20 07:18] sijie commented on #5798
This is fixed by #5834

[2019-12-20 07:18] #5798 closed

[2019-12-20 07:20] sijie commented on #5465
@wolfstudy I think the problem is due to the default NAR package is /tmp. I think we should change the default location to under the pulsar binary directory.

[2019-12-20 07:22] sijie commented on #5673
@codelipenghui does #5784 fix the issue here?

[2019-12-20 08:08] jiazhai commented on #5896
@andrekramer1 . Thanks for reporting this issue. This could be reproduce by these steps?
1. start standalone.
2. create 4 producer, and 1000 consumer.
3. find OOM in client.

Is there any configurations changed?
How many topics and partitions used in each producer?
Is there any information regarding the message size and message produce/consume rate?

Is there any change details for this memory inc

[2019-12-20 08:49] sijie commented on #5899
I don't think we publish the client for 10.15. we only have vagrant images to build 10.12, 10.13 and 10.14. We will have to figure out a plan for 10.15.

[2019-12-20 09:03] andrekramer1 commented on #5896
4000 consumers leads to the OOM happening for standard configuration and one topic / no partitions. Messages were about 200 bytes and rate is "as fast as possible" (we did not use pulsar-perf).

[2019-12-20 10:24] Jennifer88huang commented on #5684
@candlerb 2.4.2 is release. Could you please check the behavior in 2.4.2? If there is any issue, feel free to comment.

[2019-12-20 11:14] tuteng commented on #5778
Now that python's old version of the document has been generated, please check here.
python:
http://pulsar.apache.org/api/python/2.2.0/
http://pulsar.apache.org/api/python/2.2.1/
http://pulsar.apache.org/api/python/2.3.0/
http://pulsar.apache.org/api/python/2.3.1/
http://pulsar.apache.org/api/python/2.3.2/
http://pulsar.apache.org/api/python/2.4.0/
http://pulsar.apache.org/api/python/2.4.1/
http:/

[2019-12-20 11:16] jiazhai commented on #5898
![image](https://user-images.githubusercontent.com/6348208/71251319-fefa4780-235c-11ea-8db9-df2763d5881c.png)
This is because you are watching this issue, and this issue experiencing a lot of ci error. try un-sub should resolve this issue. Would like to close this issue, feel free to open if not solved.

[2019-12-20 11:16] #5898 closed

[2019-12-20 13:22] makkus commented on #5215
@JamieCressey would you linking your custom build? I'd like to try out a Postgres sink and if I don't have to figure out how to rebuild Pulsar myself I wouldn't mind...

[2019-12-20 16:27] candlerb commented on #5684
With 2.4.2, after publishing 500 x 1M messages as before:

[code]

Therefore storageSize now looks sensible, thank you.

(Aside: although I've just written a big burst of messages, I don't understand averageMsgSize=0, msgRateIn=0.0.  I've done this after 0, 60, 300 seconds.  Maybe these also don't come into play until there are consumers and/or subscriptions?  But that's a separate issue)

[2019-12-20 16:32] #5684 closed

[2019-12-20 17:36] candlerb opened #5908 "[doc] Document which exceptions can be returned by API calls"
**Is your feature request related to a problem? Please describe.**
Looking at the [python API](https://pulsar.apache.org/api/python/): currently it's undocumented which calls can return exceptions, and under what conditions.  This means that user has to experiment to find out the behaviour.

For example, take the following producer code:

[code]

1. What happens if the broker is down, at the time

[2019-12-20 18:53] dodalovic opened #5909 "Error when following getting started"
* MacOS latest
* Downloaded latest via `wget https://archive.apache.org/dist/pulsar/pulsar-2.4.2/apache-pulsar-2.4.2-bin.tar.gz`
* Started via `bin/pulsar standalone`
* Tried the following:

[code]

[2019-12-20 23:08] one70six commented on #5854
@jiazhai thanks for the response! I would think:

- pulsar_msg_ttl: Yes, the number of messages that will not be in backlog after a TTL. Or maybe you could calculate a histogram of the avg. TTL for 1m, 5m, 30m, 1h, etc. so that you can visualize how the messages are being affected by TTL.

- pulsar_msg_retention: Yes, this aimed to show the messages in retention. After the TTL expires, the message

[2019-12-20 23:17] tuteng commented on #5909
I think your broker did not start successfully, you can try to start broker with the following command:

[code]
@dodalovic

[2019-12-20 23:23] thlautenschlaeger opened #5912 ""UNAVAILABLE: io exception" pulsar functions"
Pulsar functions keeps crashing in localrun and in cluster mode.
I'm trying to execute a simple word count python [function](https://github.com/apache/pulsar/blob/master/pulsar-functions/python-examples/wordcount_function.py) but it never successfully executes.

**Execution command**
./pulsar-admin functions localrun --py  /home/vagrant/python_scripts/example_function.py --classname WordCountFunct

[2019-12-20 23:49] tuteng commented on #5912
Have you installed pulsar-client? @thlautenschlaeger

If not, please install pulsar-client first.
[code]

In addition, you can also check your log `/home/vagrant/apache-pulsar-2.4.2/logs/functions/test/test/excfunc/excfunc-0.log`

[2019-12-21 01:49] Jennifer88huang commented on #5684
@candlerb Great, thanks for your feedback.

[2019-12-21 10:27] thlautenschlaeger commented on #5912
Pulsar client is already installed. Got the newest version running
`Python pulsar version : 2.4.2`
Also checked my log.
Pulsar is not finding the class WordCountFunction. Checked the name and everything. but it's not working.

`excfunc-0.log` shows:
[code]

Do I need to place the python script that contains the `WordCountFunction` class in a specific location or do is special python setup necessar

[2019-12-21 12:54] thlautenschlaeger commented on #5912
fixed it.
added the python file name before the classname.

correct:
**--classname example_function.WordCountFunction**
wrong:
**--classname WordCountFunction**

full command
[code]

[2019-12-22 17:44] thlautenschlaeger commented on #5912
error still existing in cluster mode.
the log folders exist but are empty for cluster mode.
didn't find other log locations.
i only see this function status.

[code]

[2019-12-22 20:55] thlautenschlaeger commented on #5912
forgot to run the function worker.
still got an error:
` "error" : "No such file or directory" `
think it's a problem with python. already symlinked the python versions.
do i need to consider the worker configurations to run python?

[2019-12-22 23:27] nirodg commented on #5847
Same issue here, downgraded to `2.4.1` and now it's up and running!

[2019-12-23 02:00] codelipenghui commented on #5877
@Lanayx Maybe this issue related to #5894.

[2019-12-23 03:07] jiazhai commented on #5908
Thanks @candlerb for this issue.

[2019-12-23 03:10] jiazhai commented on #5909
thanks @tuteng for the help. @dodalovic Is it help with @tuteng 's suggestion?

[2019-12-23 03:21] jiazhai commented on #5912
@tuteng  to help on this.

[code]
@thlautenschlaeger Which link are you using for this test？  we may need to help fix the doc also

[2019-12-23 04:13] tuteng commented on #5912
If possible, please show the detailed context error information.
Debug in cluster mode can refer to this document https://pulsar.apache.org/docs/en/2.4.2/io-debug/#debug-in-cluster-mode. @thlautenschlaeger

[2019-12-23 05:33] Javac7 commented on #5847
I made a build from version 2.4.2 you can pull here: docker pull javac7/apachepulsar-dashboard
or can get the docker-compose from my "docker-composes" repository.

[2019-12-23 06:56] Lanayx opened #5917 "Add ability to change server log level for prebuilt images"
**Is your feature request related to a problem? Please describe.**
Sometimes I need to provide debug-level broker logs to resolve the issue (like https://github.com/apache/pulsar/issues/5877). With current helm chart I don't see a way to do this

**Describe the solution you'd like**
Expose log level as helm chart value for brokers. I think it will be helpful for other components as well: proxy, bo

[2019-12-23 08:13] dockerzhang opened #5918 "pop up "Templating init failed " when querying topics on grafana dashboard"
**Describe the bug**
version: 2.4.2
bug: pop up "Templating init failed " when querying topics on grafana dashboard, deployed by kubernetes.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://k8s_node_ip:grafana_node_port/dashboard/file/topic.json?refresh=5s&orgId=1'
2. See error
![image](https://user-images.githubusercontent.com/18047329/71344796-71a63580-259e-11ea-9952-0c6f950d4

[2019-12-23 10:32] bry00 commented on #5846
Any news on the subject? Is there any chance to use pulsar-client 2.4.2 with Python 3.8?

[2019-12-23 10:37] LarsT42 commented on #5711
same problem. The proxies uses old IPs after k8s cluster (down)scaling. Probably the K8S Scheduler moves proxies to other nodes, but the config holds the old ip.
After Restarting the proxies manually  (kubectl delete pod...) pulsar works successfully until next cluster scaling

[2019-12-23 12:09] tuteng opened #5920 "[Pulsar IO]Add an integration test for rabbitmq source"
**Is your feature request related to a problem? Please describe.**
The current rabbitmq connector lacks an integration test, and we need to add it.

**Describe the solution you'd like**
At present, we have added relatively perfect integration tests to various connectors of the debezium, and we can refer to this https://github.com/apache/pulsar/blob/master/tests/integration/src/test/java/org/apache

[2019-12-23 12:54] #5669 closed

[2019-12-23 15:00] davdes44 opened #5921 "Where can I find the logs for the deployed helm installation?"
#### Expected behavior
When running pulsar standalone, I can see the server logs in stdout and also logs in the pulsar directory for functions and etc.

#### Actual behavior

 In my deployed helm install, I cannot figure out where these logs are in the pods. When I exec into the pods and look in /pulsar/logs/ the log files are empty.

#### Steps to reproduce

Deploy pulsar through its helm chart

[2019-12-23 15:55] lihanhui opened #5922 "On the dependencies in the pom.xml files."
**Describe the bug**
Most of pom.xml files, in which some dependencies on the pulsar itself are written as following:
    ......
    \<dependency>
      \<groupId>org.apache.pulsar\</groupId> // **THIS LINE**
      \<artifactId>pulsar------\</artifactId>
      \<version>${project.version}\</version>
    \</dependency>
    ......
But most of them are like this:
\<dependency>
      \<groupId>${proje

[2019-12-23 16:58] cabello commented on #4540
I am having the same issue, just following the [documentation](https://pulsar.apache.org/docs/en/standalone-docker/) trying to product some messages.

* MacOS: 10.15.2
* Pulsar: 2.4.2 on Docker 19.03.5
* Python: 3.7.2
* protobuf: stable 3.11.2
* pulsar-client: 2.4.2

[code]

And contents of the `consume.py` script:

[code]

I tried changing the protocol from `pulsar://` to `http://`, but the impor

[2019-12-23 17:05] cabello commented on #4540
I also tried compiling & installing the Python library from source after `brew install libpulsar` [MacOS C++ libraries documentation](https://pulsar.apache.org/docs/en/client-libraries-cpp/#macos) and [Python documentation](https://pulsar.apache.org/docs/en/client-libraries-python/#installing-from-source) but I got the following error:

[code]

[2019-12-23 17:11] ograycode opened #5924 "Is georeplication docs outdated since PIP-33 was released?"
The [site](https://github.com/apache/pulsar/blob/master/site2/docs/administration-geo.md#subscriptions-are-local-to-a-cluster) says:

Should this be updated since [PIP-33](https://github.com/apache/pulsar/wiki/PIP-33%3A-Replicated-subscriptions) was released in 2.4.0?

My understanding is since PIP-33 was released then subscriptions are replicated so a consumer can fail over?

[2019-12-23 17:29] cckellogg commented on #5921
I think logs only go to standard out when running in kubernetes. Can you see the logs if you run `kubectl logs -f <a-pulsar-pod>`

[2019-12-23 17:34] davdes44 commented on #5921
Yes, I guess what I'm looking for is logs for my function I created, or even the "server" logs. Do the fall under the broker pods?

[2019-12-23 17:40] cckellogg commented on #5921
What kind of runtime are you using for functions? If you run them using the kubernetes runtime the logs will run as separate pods and the logs will go to standard out. If you are running them in process or thread mode the logs should be where the worker is running. This could be with the broker or in a separate worker pod depending on how the chart was deployed.

[2019-12-23 18:03] davdes44 commented on #5921
Currently using the kubernetes runtime, not too familiar with process or thread mode

[2019-12-23 18:12] cckellogg commented on #5921
If you run `kubectl logs -f <a-function-pod>` are you able to see the logs?

[2019-12-23 18:23] davdes44 commented on #5921
So when I say function, i'm specifically referring to pulsar functions ie: https://pulsar.apache.org/docs/en/functions-overview/
I don't think there is a pod for a pulsar function.

[2019-12-23 19:09] #5921 closed

[2019-12-24 00:20] thlautenschlaeger commented on #5912
@jiazhai i used this [link](https://pulsar.apache.org/docs/en/functions-quickstart/#write-and-run-a-new-function)
@tuteng followed this link and found this result
[code]
seems as if the python file won't get uploaded to the function worker. i'm using the [java pulsar-admin client](https://pulsar.apache.org/docs/en/admin-api-overview/#java-admin-client) to create the pulsar function and provide the

[2019-12-24 01:59] sijie commented on #5924
@ograycode yes we need to update the document.

after PIP-33, user can configure a subscription to be replicated. hence it supports both local subscription and replicated subscription.

[2019-12-24 02:29] #5881 closed

[2019-12-24 03:29] jiazhai commented on #5922
@lihanhui `<groupId>${project.groupId}</groupId>` Thanks for the checking. Would you like to contribute to make them unify?

[2019-12-24 04:01] pantianying opened #5925 "Ftr:pulsar-proxy should support WebSocket && Use Pulsar's WebSocket API to Extend Authentication and Authorization"
**Is your feature request related to a problem? Please describe.**
pulsar WebSocket Client libraries not support Authentication and Authorization which I really want to. And this should add to pulsar-proxy
**Describe the solution you'd like**

Websocket is a good cross language tool, but the lack of this function makes me headache. We have customers who use the Java version of the lower version (1

[2019-12-24 05:44] sijie opened #5927 "Change the time unit of `patternAutoDiscoveryPeriod` to SECONDS"
**Is your feature request related to a problem? Please describe.**

Currently the time unit of `patternAutoDiscoveryPeriod` is MINUTE. People is not able to configure the time duration to be leass than 1 minute.

**Describe the solution you'd like**

It would be good to add an overloaded method in the consumer builder to support passing TimeUnit in.

[code]

[2019-12-24 06:35] jiazhai commented on #5917
Thanks @Lanayx for reporting this issue. also put this into help wanted.

[2019-12-24 07:42] zhenglaizhang commented on #5927
i think i could help add the overload this week.

[2019-12-24 07:59] wolfstudy commented on #5465
@sijie The `/tmp` file path is configurable in `functions-worker.yml`, as follows:

[code]

[code]

so this is a correct logic, will close issue.

[2019-12-24 08:06] wolfstudy commented on #5818
yes, thanks @youurayy work for this, will fix the issue.

[2019-12-24 12:27] codelipenghui commented on #5755
@Fomal-haut I have create a PR to fix this problem, please help take a look.

[2019-12-24 12:37] sijie commented on #5927
@zhenglaizhang awesome!

[2019-12-25 02:42] jiazhai commented on #5465
@wolfstudy to change the default value of downloadDirectory

[2019-12-25 02:51] jiazhai commented on #5866
Seems @yjshen not able to reproduce, because lack of table info.

[2019-12-25 03:18] yjshen commented on #5866
Hi @subbu107 , I saw you were logging in trigger as well as window function, could you please provide the log file of the program?

[2019-12-25 03:30] yjshen commented on #5866
Or could you simply remove `.trigger(new MovingAverageTrigger(timeField,0L,(long)windowSize))` and use the default trigger to see what's happening?

BTW I think this issue is off-topic since the watermark generation and window trigger / proceessing are all constructed in the program instead of inside pulsar-flink connector.

[2019-12-25 04:16] #5695 closed

[2019-12-25 05:01] subbu107 commented on #5866
Hi @yjshen , I did also try with default trigger, it still didn't work.

Basically it can be simulated in the following way :
 - set flink env parallelism to 4
 - set consumerConfigurationData.setSubscriptionType(SubscriptionType.Failover); .
 - number of partitions of source/ sink topics = 2
 - If I increase the number of partitions on  my source and sink topics to 4, it works. Basically if I hav

[2019-12-25 05:14] duli559 opened #5934 "Can support read/write properties from/to Message in flink pulsar consumer/producer"
**Is your feature request related to a problem? Please describe.**
Currently, flink pulsar consumer/producer can not read/write properties from/to Message, we hope to support it.

**Describe the solution you'd like**
A) For consumer,
change method `deserialize(Message message)’` access level from private to proteced in class 'PulsarConsumerSource', and we can overrided it in derived class.
B) For

[2019-12-25 05:47] SunDapeng1 opened #5935 "Multiple pulsar clusters use the same bookkeeper cluster ?"
Can multiple pulsar clusters use the same bookkeeper cluster? If I had deployed the bk separately in advance and the metadata was stored under  `/ledgers`, how would I configure the pulsar so that every pulsar recognizes `/ledgers` ?
(According to my test: pulsar initializes metadata to `/pulsar`, then the pulasr cluster can only recognize `/pulsar/ledger` to store metadata of bk)

[2019-12-25 05:58] subbu107 commented on #5866
Attaching log after streaming 30 messages in the following format

message 1:{"source":"test","host":"btpvm0933.hpeswlab.net","diskValue":"300","datatype":"metric_streaming","metricClass":"DISK","metricName":"DISK_UTIL","sampleValue":"0.8727556612521685","timeMeasured":"1577252926318"}

message 30:{"source":"test","host":"btpvm0933.hpeswlab.net","diskValue":"300","datatype":"metric_streaming","met

[2019-12-25 07:03] yjshen commented on #5866
Hi @subbu107 , thanks for the log. Regarding the log, your watermark seems to be Long.minvalue and never changes, I think this could be the reason:

[code]

and your code path never when to `FIRE_AND_PURGE` branch, therefore window never fired

[2019-12-25 07:35] Fomal-haut commented on #5755
@codelipenghui Thanks for fixing it. :)

[2019-12-25 08:27] duli559 commented on #5934
@yjshen , hi, can you have a lool, thanks!

[2019-12-25 11:21] zymap commented on #5555
Hi @candlerb, I am trying to reproduce this issue. Which python test suite you were running?  How did you run the test suite? With local clusters?

[2019-12-25 11:36] yjshen commented on #5934
Hi @duli559 , thanks for bringing this up.

For the consumer, I think the proposed way is possible, your derived class could return a Tuple (Map, T) for each message, and use the tuple afterward.

For the producer, the `invoke` method is invoked for each `value` in the stream, therefore,  you should use this `value` and tell which part goes into properties and which part went goes into Message bod

[2019-12-25 12:23] duli559 commented on #5934
Hi @yjshen , thanks for your reply.

I think Message properties not only created by `value`, but also other ways, eg: some constants, values that are updated periodically, etc. so i think if we extract a method in super class and override in derived class, it is a better way, and we don't need care other details in derived class.

Thanks!

[2019-12-25 13:53] dockerzhang commented on #4906
Is there any plan for this issue recently?

[2019-12-25 13:58] yjshen commented on #5934
@duli559 that makes sense to me. Please create a PR for this :)

[2019-12-25 14:19] subbu107 commented on #5866
This is the log with a different topic -- this topics have multiple partitions. No code change !
But as you can see here the window is triggering here.

Usage:
./bin/flink run preloadjob-1.0-SNAPSHOT-jar-with-dependencies.jar  --props /root/flink-1.8.2/config.properties --brokerType pulsar --source moving_average_partitioned_source_1 --sink moving_average_partitioned_sink_1 --keyFields host,metric

[2019-12-25 15:28] zhouyangang commented on #5840
i have met this problem also....
finally, i find when use Key_Shared subscrition mode, the producer must set  enableBatching(false), like this:
`client.newProducer(Schema.JSON(User.class))
                    .topic(topic)
                    **.enableBatching(false)**
                    .messageRoutingMode(MessageRoutingMode.RoundRobinPartition)
                    .hashingScheme(HashingScheme.M

[2019-12-25 15:58] dodalovic commented on #5909
@jiazhai Will try it out soon. Should the docs be updated or?

[2019-12-26 01:46] BGRichi commented on #4981
marked, I will take care of this issue, and get back if any news.

[2019-12-26 02:27] jiazhai commented on #5935
Thanks @SunDapeng1 for open this issue. currently `class PulsarClusterMetadataSetup`, which is called by command `bin/pulsar initialize-cluster-metadata`, will do all the metadata setup for Pulsar.
As discussed here with @murong00 ,
https://github.com/apache/pulsar/pull/5879#discussion_r359134619
we should make this configuration more easy.

But, Seems in current code, of PulsarClusterMetadataSetu

[2019-12-26 02:50] SunDapeng1 commented on #5935
Thank you for your reply.  Maybe I didn't describe it clearly. What I want to express is that if the bk metadata is in ` /ledgers`, then when the first pulsar is deployed, the metadata can be initialized to `/`. At this time, the first pulsar cluster can normally identify `/ledgers` Bk cluster, but how can I deploy a second pulsar cluster, so that the second pulsar cluster also uses the same bk cl

[2019-12-26 03:19] lihanhui commented on #5922
OK

[2019-12-26 03:26] jiazhai commented on #5935
@SunDapeng1 , as we  discussed, the main issue is make bookie service (/ledgers)  configurable. This may involves some change like `PulsarClusterMetadataSetup` `InternalConfigurationData`.
at present, `ZkLedgersRootPath` that passed into `InternalConfigurationData` is some kind of hard coded.

[2019-12-26 04:23] yjshen commented on #5866
1. since you are using `MovingAvgTimestampExtractor` which is an implement of `AssignerWithPeriodicWatermarks`, you should set `env.setAutoWatermarkInterval()` to make flink emit watermarks periodically in your `FlinkWindowApp`.

2. The definition of `MovingAverageTrigger` is vague here. Since you are doing watermark based window computation, check `EventTimeTrigger` which is the default trigger f

[2019-12-26 05:12] cutiechi commented on #4162
Because the bookie nodes use host path, delete /mnt/disks/ssd0 and /mnt/disks/ssd1, then reapply

[2019-12-26 06:48] subbu107 commented on #5866
Attaching the logs with 2 changes :
- default trigger
-  env.getConfig().setAutoWatermarkInterval(1000L);

[flink-root-taskexecutor-0-btpvm3362.hpeswlab.net.log](https://github.com/apache/pulsar/files/4001622/flink-root-taskexecutor-0-btpvm3362.hpeswlab.net.log)

I still don't get the result data in the sink topic with this change.

We were using Kafka earlier, we did not have to create separate p

[2019-12-26 08:53] xiemeilong opened #5941 "Upgrade debezium to v1.0.0.Final"
Debezium has released the major version  v1.0.0.Final.

[2019-12-26 09:54] candlerb commented on #5555
A ran the `python/pulsar_test.py` suite as per `pulsar-client-cpp/run-unit-tests.sh` - this starts a cluster in standalone mode (note how it calls `./pulsar-test-service-start.sh` to do this)

[2019-12-26 12:42] nicolo-paganin opened #5944 "PulsarIO Sink "topics-pattern" regex is not filtering inputs topics correctly"
**Describe the bug**
PulsarIO Sink "topics-pattern" regex is not working as expected

**To Reproduce**
We have two topics:

1. ://public/default/topic1
2. ://public/default/topic2

We are using the builtin **influxdb connector,** so check to have it installed before try to reproduce the behaviour.

Steps to reproduce the behavior:
1. We would like to create a new sink using a regex topic-pattern t

[2019-12-26 13:10] nicolo-paganin commented on #5944
I noted that specifying the whole topic url, so `--topics-pattern "public/default/t.*"` it is working correctly

[2019-12-26 14:40] #5944 closed

[2019-12-27 02:55] cutiechi commented on #4162
@yangmingqi218 Could you try it?

[2019-12-27 03:47] Jennifer88huang commented on #4898
@jonb-streamlio Thank you very much for reporting the issue. We've update the docs accordingly, see http://pulsar.apache.org/docs/en/next/functions-develop/#state-storage
Could you please help confirm? If it fixes this issue, we can close it. Any issue, feel free to comment.

[2019-12-27 04:52] duli559 commented on #5934
ok

[2019-12-27 06:54] jiazhai commented on #5909
@dodalovic, thanks, There may be other issue, please try the command, and check the log to see what it the error that caused broker not started.

[2019-12-27 08:05] #5465 closed

[2019-12-27 09:11] wjybupt opened #5947 "got HTTP 404 error when running "pulsar-admin functions list" on functions-worker"
**Describe the bug**
when running "pulsar-admin functions list" on functions-worker, i got HTTP 404 error, however, running "pulsar-admin functions status ..." got the right response

**To Reproduce**
Steps to reproduce the behavior:
I have 3 functions-worker and 3 broker, and in the client.conf on all functions-worker, webServiceUrl =http://\<functions-worker ip1\>:6750/
brokerServiceUrl=pulsar:/

[2019-12-27 09:23] wjybupt opened #5948 "can't create function on some node of the functions-worker"
**Describe the bug**
I have 3 functions-worker and 3 broker, and in the client.conf on all functions-worker, webServiceUrl =http://\<functions-worker ip1\>:6750/
brokerServiceUrl=pulsar://\<broker ip1\>:6650,\<broker ip2\>:6650,\<broker ip3\>:6650/

when webServiceUrl set ip1, i can delete my function but got "HTTP 500 Internal Server Error" when create it again,
but when the ip is set to ip2 or i

[2019-12-27 12:15] patronovski commented on #5840
Thank you, this solves my problem.

[2019-12-27 12:15] #5840 closed

[2019-12-27 12:35] tuteng commented on #5284
Can you give me a test code? It seems that it is difficult for me to reproduce this problem locally. including some configurations of the cluster. @TC-oKozlov

[2019-12-27 16:17] jerrypeng commented on #4176
This is done:

apache#5463

[2019-12-27 16:17] #4176 closed

[2019-12-27 21:25] Poluect commented on #2431
Hello! We started using Pulsar instead of Kafka in our system, and currently facing the same issue, when few subscriptions (like 1 - 3 of 30) stop receiving messages, and they get stuck in a backlog, until either a subscriber, or pulsar proxy restarted.

We are using version 2.4.2, with 3 brokers in a cluster. Issue appears pretty often, like 3 - 6 times in a day. Stats also attached. Hope this is

[2019-12-28 07:50] Lanayx commented on #5819
Custom functions runtime

[2019-12-28 10:45] huangdx0726 commented on #5898
@jiazhai  I'v tried as per your advice, i could't receive any notification, including whether the PR is approved or not.

[2019-12-29 07:10] sekarpdkt commented on #4096
Hi As mentioned I was not sure how to configure a switch. So, uploaded the files, I modified.

[2019-12-30 02:14] jiazhai commented on #5898
@huangdx0726 . right, there is only 1 switch: receive all , or nothing.

[2019-12-30 02:20] jiazhai commented on #5947
Thanks @wjybupt for reporting this issue.  Which version of Pulsar is used?
@wolfstudy Is this a know issue?

[2019-12-30 02:23] jiazhai commented on #5948
@wolfstudy to confirm this issue.

[2019-12-30 03:12] sijie commented on #2307
For anyone who is interested in this topic, here is the summary of it.

I have reached out to both the owners of `pulsar-client-dotnet` and `dotpulsar` about contributing their pulsar client library back to the community. The maintainer of `dotpulsar` is interested in moving the project to the ASF. They have started the email thread for discussing the contribution.

https://lists.apache.org/thread

[2019-12-30 03:18] tuteng commented on #5912
I am so sorry for the late reply. I tested in cluster mode and did not reproduce your problem. My test environment, 3 brokers, 2 function_worker, uses Ubuntu 16.04.6 LTS and pulsar version 2.4.2. The command is as follows:

Install the pulsar client on each function_worker:

[code]

Create and start function

[code]

The content of word_function.py,

[code]

If you have any questions, please ping

[2019-12-30 03:21] Anonymitaet commented on #5693
@codelipenghui could you please provide technical inputs (docs/PR) for this issue? Then I'm glad to review it from a technical writer's perspective.

Thank you

[2019-12-30 03:39] jerrypeng opened #5952 "ConcurrentModificationException in ModularLoadManagerImpl"
**Describe the bug**

Saw the following exception thrown in broker:

[code]

**To Reproduce**

Not sure

[2019-12-30 06:28] wolfstudy opened #5958 "unknown field "requests" in io.k8s.api.core.v1.Container"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. helm install test-pulsar --values ./pulsar/values.yaml ./pulsar

**Desktop (please complete the following information):**
 - OS: Mac os

**Additional context**

[code]

[code]

[2019-12-30 06:33] wolfstudy commented on #5958
When we comment out the following code in `grafana` in `values.yaml`:

[code]

everything is ok.

[2019-12-30 06:38] kavi-n opened #5959 "[doc] Client Features Matrix - To be Updated to 2.4.2"
**Describe the bug**
Client Feature Matrix is not updated to the latest released version **2.4.2**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to webpage https://pulsar.apache.org/docs/en/client-libraries/#feature-matrix
2. Click 'Client Features Matrix' link under feature-matrix
3. It will take you to https://github.com/apache/pulsar/wiki/Client-Features-Matrix
4. Matrix was last upd

[2019-12-30 08:08] dockerzhang opened #5961 "Pulsar dashboard support getting authorization token from a file"
**Describe the solution you'd like**
According to [administration-dashboard.md](https://github.com/apache/pulsar/blob/d20ce8851f375611c10aba0cdd32a345df7f2c48/site2/website/versioned_docs/version-2.4.2/administration-dashboard.md), dashboard container get authorization token from **JWT_TOKEN** environment.
If the token was generated by Public/Private keys, it will be too long for **JWT_TOKEN**, It

[2019-12-30 08:25] liudezhi2098 opened #5962 "After stopping the bookie and recovering, it can be produced at this time, but cannot be consumed normally. Restarting the broker can resume normal"
**Describe the bug**
Topic(E=3,W=3,A=2), stopped 2 bookie nodes, then recover the 2 bookie,
The message can be produced normally, but the consumer cannot pull the message unless the broker is restarted.

**To Reproduce**
Steps to reproduce the behavior:
1. sh pulsar-daemon stop bookie -- A
2. sh pulsar-daemon stop bookie -- B
3. production message, return result is normal
4. consumers have been un

[2019-12-30 08:26] xiaojieshi opened #5963 "Proof-read test "sql-getting-started""
Proof-read "sql-getting-started" under the directory site2\docs

[2019-12-30 09:48] dockerzhang commented on #5961
I found **JWT_TOKEN** is good enough, this issue will be closed.

For docker run command:
[code]

For kubernetes cluster:
[code]

[2019-12-30 09:48] #5961 closed

[2019-12-30 10:17] zymap commented on #5555
My reproduce steps:
[code]

After run the python file several times, I will left some compaction topics:
[code]

Delete them one by one
[code]

The delete operation is executed successfully.

Hi @candlerb, I try to reproduce this issue. I am using the master code to reproduce this issue,  but it seems can not reproduce on my laptop(macOs Catalina 10.15.2).

Can you reproduce this issue now?
Do you

[2019-12-30 10:44] ntysdd commented on #5952
Possibly a threading problem.

[2019-12-30 10:49] candlerb commented on #5555
I was using 2.4.1.  I will need to re-test with 2.4.2

[2019-12-30 22:21] zuquan-song opened #5967 "Vagrantfile problem"
**Describe the bug**
When I try to setup the vm environment, and build the project. I failed because zip/unzip tools are not installed.

**To Reproduce**
Steps to reproduce the behavior:
1. Clear your pulsar environment
2. cd dev/
3. vargrant up; vagrant ssh
4. cd /pulsar
5. mvn test

**Expected behavior**
Build failure because of Pulsar Shaded Broker depends on zip/unzip tool.

**Desktop (please

[2019-12-31 03:56] jiazhai commented on #5963
@xiaojieshi Would you please help provide more details for this issue?
Not quite understand this issue.

[2019-12-31 04:48] gmethvin opened #5969 "Acked messages unexpectedly redelivered when others are negatively acked"
**Describe the bug**

We've encountered an issue in which acknowledged messages are redelivered one or more times after other messages are negatively acknowledged. This seems to occur when messages are produced in batches. This happens in the absence of any known broker or connection failures.

**To Reproduce**

I've modified the `NegativeAcksTest` to test for the correct behavior here: https://gi

[2019-12-31 06:32] ntysdd commented on #5952
Possible duplicate #5673

[2019-12-31 23:39] gmethvin commented on #5891
I also noticed this after reporting essentially the same issue as #5969. I’d argue it’s a bug because the consumer APIs are defined on messages, not batches. At the very least it’s a bug because the documentation does not mention batches at all and suggests only the negatively acknowledged message will be redelivered. Even if the current behavior were correctly documented, though, it makes negativ

[2020-01-01 00:28] #5967 closed

[2020-01-01 00:38] #5841 closed

[2020-01-01 00:55] #5454 closed

[2020-01-01 01:18] sijie commented on #5958
It seems that this is a helm issue.

[2020-01-01 01:21] sijie commented on #5969
I think the fundamental problem of #5891 #5969 is the *cursor* in tracking at batch level not at message level. Hence failures can result in redelivering the whole batch. In order to address the fundamental problem here, we need to improve the cursor tracking at the message level in the broker side.

Loop in @jiazhai @codelipenghui in the discussion.

[2020-01-01 21:16] jerrypeng commented on #5969
@sijie @gmethvin we could track cursors at the batchLevel i.e. track cursors on the granularity of LedgerId:EntryId:BatchIndex, however there are performance implications if we would want to redeliver only messages that are NOT ACK ed or NACK ed.  To do so would require us to de-serialized BK entries on the broker side, filter the messages in the entry, re-serialize the message, send it to the cli

[2020-01-02 01:43] sijie commented on #5969
@jerrypeng there are many ways to avoid serialization and deserialization. Broker can deliver a bit metadata along with the batches to tell the client what messages are acked. Clients can filter out the already delivered messages during deserialization at client side.

The ability to control cursor tracking at the message level is a requirement for transactions anyway. We'd resolve the problem in

[2020-01-02 06:30] jiazhai commented on #5962
thanks @liudezhi2098 for helping this this issue

[2020-01-02 06:36] jiazhai commented on #5959
Thanks @kavi-n for help rise up this up this issue.

[2020-01-02 06:40] jiazhai commented on #5952
Thanks @ntysdd and @jerrypeng.  would like to close this issue, and use #5673 to track this issue.

[2020-01-02 06:40] #5952 closed

[2020-01-02 06:41] jiazhai commented on #5673
@codelipenghui Would you please help confirm sijie's comments?

[2020-01-02 07:03] ntysdd commented on #5673
https://github.com/apache/pulsar/pull/5966
This is my fix.

[2020-01-02 07:18] jijikarikkad commented on #5610
@zwzch  Fluentd is restarting , because of the unhandled exception while socket connection reading bytes of data on PulsarClient.rb #1
https://github.com/zwzch/fluent-plugin-pulsar/issues/1

[2020-01-02 07:52] #5818 closed

[2020-01-02 15:57] jiazhai commented on #5284
Looks like bundle unload/load happened in the middle.

[2020-01-02 16:16] shiv4289 opened #5978 "[offload] CLI/Rest endpoint to list and describe offloaded topics of namespace"
**Is your feature request related to a problem? Please describe.**
Currently, it is difficult to find which topics of a namespace are offloaded to secondary storage. It would be have such a command / REST end point. There should be other related information (like size, time info, link?) against this list.

[2020-01-02 16:18] shiv4289 commented on #4547
Really looking forward to this feature. The following can be implemented once the directory structure for tenant, namespace and topic is there: https://github.com/apache/pulsar/issues/5978

[2020-01-02 16:37] jerrypeng commented on #5969
@sijie isn't that design just trading cpu usage for network usage?  If don't filter on the broker side and resend the whole batch to be filtered on the client side, there will be network implications especially if batches are big.

[2020-01-02 16:44] Loghijiaha commented on #5905
I am quite experienced in pulsar and also interested in this ticket.

[2020-01-03 00:09] sijie commented on #5969
@jerrypeng yes it is a trade off here - whose resource to be used for this task. However i think the core problem here isn’t the resource problem so far. It is a semantic issue. Redelivering batches mostly are okay. But people doesn’t have the knowledge of which messages have acknowledged when a batch is redelivered. Semantic issue is what most of people care about first.

[2020-01-03 01:17] gmethvin commented on #5969
I agree @sijie. The main issue is that the API semantics don't match what users expect. If the `negativeAcknowledge` API acts on a single message, then it is a very surprising behavior for all the messages in the batch to be redelivered. If on the other hand the `negativeAcknowledge` API applies to a batch, then the current behavior would be more understandable. I would argue that single-message s

[2020-01-03 02:46] jeffgrunewald opened #5979 "Websocket API should support cumulative acknowledgement"
**Is your feature request related to a problem? Please describe.**
In order to support feature parity with other clients, the WebSocket should also be able to cumulatively acknowledge messages up to and including the supplied message ID.

**Describe the solution you'd like**
Ideally, the acknowledgement payload that currently only seems to support `{"messageId":"CAoQKA=="}` could accept an optiona

[2020-01-03 03:17] jiazhai commented on #5866
@yjshen Would you please help answer above question？

[2020-01-03 04:12] #4075 closed

[2020-01-03 04:15] zuquan-song commented on #5979
Does it like the TCP delayed acknowledgement?

[2020-01-03 04:23] jiazhai commented on #342
ping @rdhabalia to confirm

[2020-01-03 04:26] jiazhai commented on #386
@JevonQ loadbalancer will help on the load spread. https://pulsar.apache.org/docs/en/administration-load-balance

[2020-01-03 04:58] jiazhai commented on #509
From the description, This seems to be easy to reproduce, mark as help-wanted

[2020-01-03 05:08] jiazhai commented on #622
Seems not meet this issue for a long time,  would like to close this issue. could reopen it once meet again

[2020-01-03 05:08] #622 closed

[2020-01-03 05:20] jiazhai commented on #623
https://builds.apache.org/job/pulsar_precommit_java8/test_results_analyzer/
Seems not happened for a long time, would like to close it currently.

[2020-01-03 05:20] #623 closed

[2020-01-03 05:21] jiazhai commented on #624
![image](https://user-images.githubusercontent.com/6348208/71708390-f78e7000-2e2b-11ea-9568-f4591de1afc7.png)
seems not happened for a long time, would like to close this.

[2020-01-03 05:21] #624 closed

[2020-01-03 06:07] jiazhai commented on #4011
@yjshen to help on this issue

[2020-01-03 06:29] jiazhai commented on #5918
@dockerzhang Which yaml file were you using, and was there any changes?

[2020-01-03 06:29] jiazhai commented on #5918
@tuteng  @wolfstudy  to take a look

[2020-01-03 06:30] jiazhai commented on #5917
@wolfstudy we may need to export log4j configs out to yaml

[2020-01-03 06:41] jiazhai commented on #5912
@thlautenschlaeger  Are you still meeting this issue? seems @tuteng could run success

[2020-01-03 07:12] jiazhai commented on #5958
helm3 has this issue, while helm2 is Ok

[2020-01-03 07:14] jiazhai commented on #5958
After comments the config out, it is OK now. would like to work with helm to solve this issue later.

[2020-01-03 07:14] #5958 closed

[2020-01-03 08:34] tuteng commented on #5912
It seems that you should check your log =>workerId/logs/functions/test/test/excfunc/excfunc-0.log
@thlautenschlaeger

[2020-01-03 08:53] fangpengcheng95 opened #5983 "one small barrier in starting the standalone cluster"
**Describe the bug**
When I started a local standalone cluster according to the documentation, I encountered a small problem that the standalone cluster start failure.
Using the following command
[code]
The error message is as follows:
[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Desktop (please complete the following information):**
 - OS: Mac OS

**Additional context**
Act

[2020-01-03 08:56] fangpengcheng95 commented on #5983
If this issue is important enough, i can add some tips in standalone documentation.

[2020-01-03 08:56] fangpengcheng95 commented on #5983
@Jennifer88huang @codelipenghui @zhaijack @sijie PTAL.

[2020-01-03 09:07] abhilashmandaliya commented on #5387
It seems that issue is still there @hrsakai
I am getting this exception:
[code]

[2020-01-03 09:36] wolfstudy commented on #5918
@dockerzhang i can't reproduce your issue.

My step of reproduce:

- cd deployment/kubernetes/helm
- helm install test-pulsar --values ./pulsar/values-mini.yaml ./pulsar
- kubectl exec -it test-pulsar-grafana-5b6db946f9-dprkg -n pulsar  /bin/bash
- curl -v http://127.0.0.1:3000/dashboard/file/topic.json?refresh=5s&orgId=1

the output as follows:

[code]

- helm version

[code]

@dockerzhang please

[2020-01-03 09:52] zxbfeng opened #5984 "version in PulsarApi.proto(v2) and PulsarApi.pb.go(v3) not match"
The file PulsarApi.pb.go in this project is used proto version 3, but I find the PulsarApi.proto file provided by  https://github.com/apache/pulsar/blob/master/pulsar-common/src/main/proto/PulsarApi.proto is version 2.

[2020-01-03 12:55] wolfstudy commented on #5947
The pulsar-admin is using `8080`, can you try it again?

[2020-01-03 12:58] #5962 closed

[2020-01-03 13:02] #5597 closed

[2020-01-03 13:41] wjybupt commented on #5947
ok, i will try on monday as it was deploy in the product environment which is isolate from the public network. thank u~

---Original---
From: "冉小龙"<notifications@github.com&gt;
Date: Fri, Jan 3, 2020 20:55 PM
To: "apache/pulsar"<pulsar@noreply.github.com&gt;;
Cc: "wjybupt"<wjybupt@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
Subject: Re: [apache/pulsar] got HTTP 404 error when running "pul

[2020-01-03 16:00] thlautenschlaeger commented on #5912
thank you for your help!

got it working now. changed the permissions for the pulsar function files download directory that is definied in `functions_worker.yml` with the following entry
`downloadDirectory: /tmp/pulsar_functions`
now the function_worker has access to the python files and executes them.

[2020-01-03 16:00] #5912 closed

[2020-01-03 16:08] Fransvanierland opened #5987 "New feature"
I was wondering if we could add Quality of Stream to set stream priority in a stream <kind of QOS>  . Labeling streams based on priority and shortest route,AKA Cost path>  . Something broader than the 3 levels of priority in the queue scheme. Thinking about adding cost of a stream to the 3 different levels.

[2020-01-03 17:35] cdbartholomew commented on #5969
@jerrypeng @sijie @gmethvin I agree that redelivering batches is OK in most cases. Redelivery of unacked/nacked messages is the exception, not the rule, but when it occurs it should behave in a way that makes sense to the user of the API.

It's not that hard for the client to filter out the already acked messages from the batch. It is already keeping track of this so it knows when it can ack the b

[2020-01-04 01:17] jiazhai commented on #5969
Oh, since it is also related to transaction implementation, Penghui and me are already writing a PIP for this. We are going to share the PIP soon.

[2020-01-04 08:51] alphashaw opened #5991 "Consumer negative acknowledgement not working"
**Describe the bug**
According to doc, `When a consumer does not consume a message successfully at a time, and wants to consume the message again, the consumer can send a negative acknowledgement to the broker, and then the broker will redeliver the message.`

If I log the message and **negative-acknowledge** it afterwards, shouldn't it be redeliver back to the consumer on the next **receceive()**

[2020-01-04 14:19] jeffgrunewald commented on #5979
I’m not sure how to accomplish that; can you give me an example of triggering a delayed ack of a block of messages that I could test?

[2020-01-04 14:53] zuquan-song commented on #5979
Just forget it. I think I misunderstood the meaning of the feature. But now I know what you mean.

[2020-01-04 18:57] zzzming commented on #4540
Latest update with this line up working on MacOS 10.14.6

MacOS: 10.14.6
Python 2.7.16
Pip 19.3.1 from /Library/Python/2.7/site-packages/pip-19.3.1-py2.7.egg/pip (python 2.7)
Pulsar client: 2.4.1
=======
I had to manually install these software. Probably you may not need sudo pip which I could have messed up originally with my python install from brew.
[code]
I also did try to uninstall 2.4.1.post

[2020-01-04 20:38] alphashaw commented on #5991
Well I just realized that a call to `Consumer#negativeAcknowledge(MessageId)` does not actually trigger the redelivery mechanism but add the `MessageId` to the list of ids to be redeliver. The actual triggering is scheduled by a timer controlled by `ConsumerBuilder#negativeAckRedeliveryDelay()`.

So, setting this delay to 100ms creates the effect I expected.

[2020-01-04 20:38] #5991 closed

[2020-01-04 22:12] jeffgrunewald commented on #5979
Thanks for clarifying. I am attempting to build and run pulsar locally for development mode but I receive a 404 whenever attempting to connect to the websocket to create a producer due to a missing "serviceUrl" param. I have set this value to my local host/port in the conf/websocket.conf file but the result is the same. Is there somewhere else this should be set or an undocumented requirement for

[2020-01-05 13:01] jiazhai commented on #4510
Thanks for @kaynewu for working on this issue

[2020-01-05 13:08] jiazhai commented on #5979
@jeffgrunewald , Do you mean, you are running `bin/pulsar standalone` locally, but websocket client not able to connect?  Since you are running success by docker, this localrun may related to host resolve? try to add advertise parameter after command, e.g. `bin/pulsar standalone -a 127.0.0.1`

[2020-01-05 13:28] jiazhai commented on #5984
Hi @zxbfeng  PulsarApi wire protocol serialization is generated with a patched version of the protobuf-2.4.1 compiler (for efficiency reasons, eg: pool all the object instances when serializing/deserializing).  So you may find proto 2 and 3 both exist in pulsar

[2020-01-05 13:34] wolfstudy commented on #5948
@wjybupt same with #5947

[2020-01-05 16:32] jeffgrunewald commented on #5979
Your assumption is correct, but adding that didn't seem to produce any different behavior. I also tried the same with `bin/pulsar standalone -a localhost` because I believe MacOS can sometimes be difficult about resolving one or the other option. No change.
Just to be clear, I am attempting this off a clone of the tip of the master branch, not the latest release tarball. I do see in the logs the `

[2020-01-05 16:49] jeffgrunewald commented on #5979
For further context, I am writing a pulsar client library for the Elixir language based on the websocket api. My producer and consumer is connecting to the endpoint `ws://localhost:8080/ws/v2/producer/persistent...` where localhost is dynamically supplied as part of the client configuration and my dockerized pulsar for development purposes is mapping the default service port 8080 from the containe

[2020-01-05 16:56] ckdarby opened #5992 "Helm deployment fails to deploy properly"
**Describe the bug**
Unable to get Pulsar working correctly following the helm deployments.

**To Reproduce**
Steps to reproduce the behavior:
1. Follow instructions on [helm deployment](https://github.com/apache/pulsar/tree/master/deployment/kubernetes/helm)
2. Try to add a new environment from Pulsar admin manager

**Expected behavior**
Expect Pulsar to come up & be able to use pulsar admin mana

[2020-01-05 18:53] ckdarby commented on #5992
Since at least commit: 23ae5ec

Everything related to Zookeeper coming up properly is broken in the helm deployment.

[2020-01-05 20:58] merlimat commented on #5992
@ckdarby  Could you verify just before that commit if it works?

[2020-01-05 22:18] youurayy opened #5994 "k8s/EKS some Proxies fail to get Broker info from Zookeeper"
![image](https://user-images.githubusercontent.com/588573/71786914-e014da00-3019-11ea-8632-19f3c4f78887.png)

1 - seeing a lot of these errors during cluster init
2 - this is a response to e.g. `bin/pulsar-admin topics list cb/test`, which on the console returns `HTTP 403 Forbidden`

This only happens on 1 or 2 out of 4 total Proxies in the cluster. The healthy Proxies return a correct response.

[2020-01-05 22:28] Lanayx commented on #5994
Same issue happens for me with 2.4.2 cluster. Proxies don't work until manual restart.

[2020-01-05 22:34] cdbartholomew commented on #3702
This is working in 2.4.2. It was fixed under https://github.com/apache/pulsar/issues/5360. Closing.

[2020-01-05 22:34] #3702 closed

[2020-01-05 23:08] ckdarby commented on #5992
Works in 811dd45 and it doesn't work with 23ae5e

No idea where it broke between those commits but I know when I pulled master at 23ae5ec the helm deployment stopped working.

[2020-01-06 01:36] wjybupt commented on #5947
according to the official doc, "pulsar-admin functions list" is support by the functions-worker, and in functions-worker's config file(functions_worker.yml), the workerPort is 6750 and workerPortTls is 6751.&nbsp;

when i use 6750, "pulsar-admin functions list" is unavailable, but "pulsar-admin sinks list" works. and other cmd just like "pulsar-admin functions get/state/stats" works well, that why

[2020-01-06 01:40] wjybupt commented on #5948
if you mean both the problem is about pulsar-admin, they are same issue, but the phenomenons are different

------------------&nbsp;原始邮件&nbsp;------------------
发件人:&nbsp;"冉小龙"<notifications@github.com&gt;;
发送时间:&nbsp;2020年1月5日(星期天) 晚上9:34
收件人:&nbsp;"apache/pulsar"<pulsar@noreply.github.com&gt;;
抄送:&nbsp;"kiss fire"<wjybupt@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
主题:&nbsp;Re: [apache/

[2020-01-06 02:13] jiazhai commented on #5983
@fangpengcheng95  right, you need `advertisedAddress` setting in conf file. or use command like: `bin/pulsar standalone -a 127.0.0.1` to assign the advertisedAddress.

It is appreciate if you could improve the documentation.

[2020-01-06 03:32] jiazhai commented on #5994
Thanks for the reporting. we will look into it.  @Lanayx @youurayy Which yaml file is used to start your K8S?

[2020-01-06 03:38] jiazhai commented on #5992
@ckdarby as @merlimat mentioned, would you please help try the commits before 23ae5ec ? , such as
f95c71f21aae9e8299597295ccb2bc6954d82ae5 or 88fc454173af94d33986e608e94037db556a9226
[code]

[2020-01-06 03:42] jiazhai commented on #5987
@Fransvanierland not quite follow this requirements, what is the priority mainly used for?  Would you please help provide more details.

[2020-01-06 03:44] huangdx0726 opened #5996 "[doc] The link of Pulsar Functions SDK for Java is 404"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'https://pulsar.apache.org/docs/en/functions-overview/'
2. Scroll down to 'Word count example'
3. Click on 'Pulsar Functions SDK for Java'
4. See error

![图片](https://user-images.githubusercontent.com/29513837/71793907-edfa4780-3079-11ea-923f-fe9dc697ed1f.png)

[2020-01-06 03:48] jiazhai opened #5997 "websocket meet 404 when create producer in standalone mode"
**Describe the bug**
This issue is split from issue #5979, which reported by @jeffgrunewald

I am attempting to build and run pulsar locally for development mode but I receive a 404 whenever attempting to connect to the websocket to create a producer due to a missing "serviceUrl" param. I have set this value to my local host/port in the conf/websocket.conf file but the result is the same. Is there

[2020-01-06 03:49] jiazhai commented on #5979
Thanks @jeffgrunewald for your feed back. Since the 404 error is not too related to the initial issue, I opened a new issue #5997, we could discuss it in 5997?

[2020-01-06 03:50] jiazhai commented on #5997
@jeffgrunewald  have you use `telnet` to check that the port is OK?

[2020-01-06 04:01] #5755 closed

[2020-01-06 05:18] merlimat commented on #5992
cc/ @aahmed-se

[2020-01-06 05:30] zymap opened #5999 "[REST] Tenant creates should use local cluster if the cluster is empty"
**Describe the bug**
When using REST API to create a tenant and specify the cluster name as an empty string, the broker will return the error `Clusters do not exist`.

**To Reproduce**
1. Startup a standalone
2. Using REST API to create a tenant with empty cluster name

**Expected behavior**
The tenant can be created with the local cluster successfully.

[2020-01-06 06:57] Lanayx commented on #5994
I'm using the helm template, so proxy's yaml is [here](https://github.com/apache/pulsar/blob/master/deployment/kubernetes/helm/pulsar/templates/proxy-deployment.yaml)

[2020-01-06 07:25] tongsucn opened #6000 "Sending Individual ACK for multiple messages in one command."
Shared subscription can only employ Individual ACK, which may limit the throughput. However, from [`PulsarApi.proto`](https://github.com/apache/pulsar/blob/5504dc6e280237ab1abc70fc2889be6149ae518a/pulsar-common/src/main/proto/PulsarApi.proto#L461) we find that Pulsar supports acknowledging multiple messages in one command even in Individual mode.

Java client supports this feature by adding `ackno

[2020-01-06 07:50] jiazhai commented on #4345
seems not seen this issue for a long time. would like to close this first.

[2020-01-06 07:50] #4345 closed

[2020-01-06 11:23] GarimaM92 commented on #3820
@Archerxy I am facing the same issue. Can you please help me with the solution?

[2020-01-06 13:07] jeffgrunewald commented on #5997
No but I did confirm that pulling down the latest release tarball and running the same command (`bin/pulsar standalone -a 127.0.0.1`) I get the normal behavior I expect based on the docker image. I have built with the `mvn install` command listed on the readme.

[2020-01-06 16:59] DanielFerreiraJorge opened #6001 "Push Subscriptions through REST"
**Is your feature request related to a problem? Please describe.**
Even for the simplest cases, if we want to consume messages from pulsar, we need to write specific pulsar code to do it. And then, we have to deploy this code somewhere. If we have hundreds o consumers, it becomes pretty hard to manage.

**Describe the solution you'd like**
Implement "Push". Pulsar will make an HTTP request to a sp

[2020-01-06 17:24] youurayy opened #6002 "2.4.2 pulsar dashboard cannot view a message"
- 2.4.2, trying to view a topic message in dashboard fails silently (w/ error 500)
- the dashboard image is actually 2.4.1 as there was another error with 2.4.2 dashboard which completely prevented it from running (https://github.com/apache/pulsar/issues/5847)
- nothing in the dashboard log
- broker log shows:

`16:56:55.159 [pulsar-web-30-6] INFO  org.eclipse.jetty.server.RequestLog - 192.168.21.

[2020-01-06 18:17] nicolo-paganin opened #6003 "Possibility to add builtin Pulsar Functions with a shared jar copied inside the function folder"
**Is your feature request related to a problem? Please describe.**
In order to create a pulsar function you have to build a `fat jar` (or `nar`) and the submit the `jar` when you create the function. The jar is copied by default inside `pulsar/tmp/function_name`. Currently it is not possible to load a shared jar containing one or more functions to be used without loading the jar (something similar

[2020-01-06 18:47] rdhabalia commented on #342
@jiazhai I had some changes checked in local branch and wanted to get thoughts before creating the PR. Will try to look into it again soon. let me know if you guys have any thoughts on it.

[2020-01-06 19:17] nicolo-paganin commented on #6003
I found that this feature is part of [PIP 50](https://github.com/apache/pulsar/wiki/PIP-50%3A-Package-Management)

[2020-01-07 08:26] jiazhai commented on #5994
@wolfstudy @zymap  This looks like a start ordering issue. would you please help check this?

[2020-01-07 08:30] jiazhai commented on #5997
@jeffgrunewald thanks for the info. so latest 2.4.2 release is fine, while latest master have issues?  We will produce and looking into it.

[2020-01-07 10:00] Jennifer88huang commented on #5996
@huangdx0726 Thank you very much for your report.

[2020-01-07 10:26] aahmed-se commented on #5992
@merlimat I don't my changes to docker build files can affect this,I did not change the runtime docker images.

[2020-01-07 15:39] KannarFr commented on #5841
@zymap Thanks for your work sorry, I'm using hadoop-unit which is not logging the exception, we are working on a fix with its maintainer.

[2020-01-07 17:00] digi691 commented on #5417
I was able to upgrade our dev/test Pulsar cluster to version 2.4.2.  Now hitting the /admin/v2/non-persistent/{tenant}/{namespace} API endpoint causes a HTTP ERROR 504 whether the namspace has non-persistent topics or not.  When Pulsar is run in standalone mode, it produces an empty list.

[2020-01-07 17:07] jeffgrunewald commented on #5997
The current commit is failing to build but I checked out a commit 10 back from HEAD (roughly where it was at tip when I last attempted from source over the weekend) and I am still getting the inability to connect, but I am able to successfully telnet to the local host on both ports 6650 and 8080.

When I attempt to connect with my client I see the following two messages in the logs one immediately

[2020-01-07 18:55] Antti-Kaikkonen commented on #5370
I got it working with OpenJDK 8 by running
`./bin/pulsar sql-worker run -D "java.vendor"="Oracle Corporation"`
Also tested same with OpenJDK 11 but it failed with unrelated nullpointer exception.

[2020-01-07 20:11] rdhabalia opened #6010 "Broker can not reload expired bookie certs and fails to connect to bookie"
### Issue

Bookkeeper-client caches the tls certificates when it first tries to create a cnx with a given bookie and after that it never reloads certs even when valid certs changes on the file-system or new bookie-connection is created. Because of that as soon as client certs expires and broker disconnects from bookie then broker is not able to reconnect to bookie until we restart the broker proce

[2020-01-07 20:15] rdhabalia commented on #6010
This should be fixed by : https://github.com/apache/bookkeeper/pull/2235

[2020-01-08 03:20] yjshen commented on #5866
Hi @subbu107, I've created a repo for you to enable IDE-based flink program debugging,  using JUnit, you could find it here https://github.com/yjshen/flink-pulsar-playground. Please make your program as a test case and check what happens by debugging it. :)

[2020-01-08 04:36] tuteng opened #6012 "[Github Actions]Remove dependence on personal project"
**Is your feature request related to a problem? Please describe.**
The current Github action test run depends on a personal maven project https://github.com/aahmed-se/setup-maven. We need to remove it https://github.com/apache/pulsar/blob/master/.github/workflows/ci-unit.yaml#L45.

[2020-01-08 07:00] jiazhai commented on #6000
Thanks @tongsucn for rising up this issue. Cpp client need to catchup with the feature of group-ack. Would you like to contribute to this feature?

Regarding this issue, right, currently java and cpp clients have the same behavior,  acks are in a try-best way.  this will be handled after transaction feature added in.

[2020-01-08 07:05] jiazhai commented on #6001
Thanks @DanielFerreiraJorge for rising up this issue. it is a useful feature.

[2020-01-08 07:19] jiazhai commented on #6002
@youurayy Will this appear each time? Would you please help provide a detailed steps to reproduce?

[2020-01-08 07:23] jiazhai commented on #6003
thanks @nicolo-paganin ,right, this is part of the work in pip-50, which tries to manage the nars in a better way.

[2020-01-08 07:41] jiazhai commented on #6012
@aahmed-se will you fix this issue? or @tuteng could work on it.

[2020-01-08 08:03] tongsucn commented on #6000
@jiazhai Thanks for the reply, I would like to contribute to this feature. I'm a newbee of contributing code to Apache's project, so it may take some time for me to figure out the rules (such as CLA), but it won't be too long.

### About implementation

Similar to the Java client, I would create a new item in `ConsumerConfiguration` called `groupAckTimeMs`, which defines the max. duration (in mill

[2020-01-08 09:21] jiazhai commented on #6000
@tongsucn Great!  Here is the [guide](https://pulsar.apache.org/en/contributing). CLA is not a must at present, only when become a committer, CLA is needed.

the implementation looks great, we should follow the Java client's behavior to implement it.

[2020-01-08 10:36] tuteng opened #6013 "[Github actions]V1_ProducerConsumerTest test error"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]

**Addi

[2020-01-08 10:37] tuteng opened #6014 "Flaky-test: PersistentFailoverE2ETest.testSimpleConsumerEventsWithPartition"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]

**Addi

[2020-01-08 10:56] youurayy commented on #6002
@jiazhai yes happens each time. Steps:
1. install pulsar 2.4.2 from the Helm Chart (I use Helm 3)
    - note: To get 2.4.2 working on Kubernetes, do the following workarounds:
      - turn off functions #5818
      - change the image spec for the Dashboard to 2.4.1 due to #5847
      - check if admin api works on all proxy pods, and restart those which are stuck #5994
2. create a tenant and a name

[2020-01-08 12:42] Fransvanierland commented on #5987
prio is used in case of congestion in a stream

[2020-01-08 16:30] DanielFerreiraJorge commented on #6001
Hi @jiazhai thanks for the response,

Actually, I think you misunderstood the functionality I'm suggesting. It is not an endpoint to consume and produce messages, like Kafka REST Proxy, for instance...

With feature I'm suggesting, we would, create a shared subscription and configure an http endpoint to this subscription. Then, the pulsar cluster itself will push every message of this subscription

[2020-01-08 17:08] ShahOdin opened #6018 "Consumer API: add acknowledge in batch"
**Is your feature request related to a problem? Please describe.**

I want to be able to process messages in batches and in parallel. One of the selling features of Pulsar for me, is being able to acknowledge messages separately which allows me to avoid re-processing messages if one message in a batch failed to be processed. However, I don't want to send acknowledgements for each. I'd like to wait

[2020-01-08 19:18] aahmed-se commented on #6012
I don't have time right now

[2020-01-08 22:05] dhagrow opened #6019 "Multiple topics consumer not able to receive the earliest message (python client)"
**Describe the bug**
When using multiple topics with the Python client and `initial_position=Earliest`, new subscriptions still begin with the *latest* message. Related: #3494, #3712.

**To Reproduce**
Code for consumer:
[code]

When a new topic is created, it is auto-discovered, as expected. However, all messages sent from the creation of the topic, until the subscription is made, are lost.

**Ex

[2020-01-09 02:40] #5565 closed

[2020-01-09 03:27] jiazhai commented on #6018
@ShahOdin  regarding the api link, it has some issue and @tuteng is fixing this in Issue #5037
you could add the release version manually. e.g. https://pulsar.apache.org/api/client/2.4.2/org/apache/pulsar/client/api/Consumer.html

[2020-01-09 03:40] jiazhai commented on #6018
And you are right, the workaround above is good.

Regarding this feature,  it seems that without pulsar code change, we could also achieve it by application  side code changes?  e.g.  call several acknowledgeAsync, and wait for all the future complete?

[2020-01-09 03:50] jiazhai commented on #6019
@dhagrow thanks for reporting this issue. Which version are you using?

[2020-01-09 03:54] jiazhai commented on #6019
This issue seems been not very hard, mark this as help wanted.
looks like the setting of `InitialPosition.Earliest` from the client, was lost when create new subscription.

[2020-01-09 03:57] dhagrow commented on #6019
@jiazhai this is 2.4.2.

[2020-01-09 06:18] #5588 closed

[2020-01-09 06:55] zymap commented on #5905
@Loghijiaha Sorry for the late response.

You can pick up this and feel free to let me know if you have any problems.

Thanks.

[2020-01-09 07:11] sydnash opened #6021 "reader's subscription not auto delete after reader disconnected on non persistent topic"
**Describe the bug**
On persistent topic, a reader's subscription will auto delete after reader disconnected, but on non-persistent topic, the reader's subscription is not auto deleted.
**To Reproduce**
1. connect a reader on a non-persistent topic
2. then disconnet the reader
3. use bin/pulsar-admin topics stats topicname, the reader's subscription is not been deleted.

**Expected behavior**
on p

[2020-01-09 08:14] dockerzhang commented on #5918
@wolfstudy I deployed pulsar referring to
[deploy-kubernetes](http://pulsar.apache.org/docs/en/deploy-kubernetes/), i didn't use helm.
There is only one different step, pulsar-dashboard is deployed with 2.4.1 tag because of [5847](https://github.com/apache/pulsar/issues/5847).

[2020-01-09 09:48] saosir opened #6022 "flink pulsar producer can not connect to cluster when enable Token Authentication"
**Describe the bug**
When Token Authentication is enabled in Pulsar 2.4.1 I start Pulsar standalone cluster,  `org.apache.flink.streaming.connectors.pulsar.FlinkPulsarProducer` can not startup. However it work well if disable pulsar token authentication.

**To Reproduce**
Steps to reproduce the behavior:
1. Startup a standalone cluster with Token Authentication config:

[code]

2. Run flink job in

[2020-01-09 10:32] ShahOdin commented on #6018
Well that was the obvious solution which I ruled out as I wanted to avoid making all those calls.

[2020-01-09 15:15] dawillcox opened #6024 "PulsarSpout emits only to default stream"
**Is your feature request related to a problem? Please describe.**
We have an application, currently using another streaming ingestion method, that we'd like to replace with either Kafka or Pulsar. Either would be a candidate, _except_ the spout needs to emit to different output streams (to be processed by different bolts) based on the content of individual messages.

The Kafka spout supports this

[2020-01-09 17:56] antimpatel commented on #5905
Hey, I want to go ahead with this,
after initial investigation what I have understood is that We can implement a new method similar to the one you mentioned, in TopicImpl .java class and make a post-call to the path for all partitioned topic and return.
let me know if I am missing something here?

[2020-01-10 02:22] jiazhai commented on #5847
@tuteng also has already pushed the 2.4.2 version into apachepulsar 's dockerhub, @julio666 Could we close this issue?

[2020-01-10 02:57] jiazhai commented on #6021
@sydnash This issue should be fixed in master issue. Would you please help have a try on latest master?

[2020-01-10 03:04] jiazhai commented on #6022
@saosir ,  Not sure if it is related with the token config itself, or flink connector.
have you verified the auth config is right?
e.g. change `config/client.conf` file to add the token, and use `bin/pulsar-client produce` to do a verify.

[2020-01-10 03:08] jiazhai commented on #5983
#5998 is for the fix

[2020-01-10 03:08] jiazhai commented on #5983
Thanks @fangpengcheng95 for the PR

[2020-01-10 03:16] jiazhai commented on #6024
Thanks @dawillcox for the help on this issue and PR

[2020-01-10 03:23] saosir commented on #6022
It is related with flink connector

In obove example set client auth token with

[code]

but when flink job startup with obove example, the `clientConfigurationData.authentication` auto change to `AuthenticationDisabled`

[2020-01-10 03:45] fantapsody commented on #5690
I have done some research in documents and some change histories of Elasticsearch, the problem is fundamentally related to the long term "[removal of types](https://www.elastic.co/guide/en/elasticsearch/reference/current/removal-of-types.html)"  project in Elasticsearch.

In brief, Elasticsearch supported multiple [types](https://www.elastic.co/guide/en/elasticsearch/reference/5.6/_basic_concepts.

[2020-01-10 03:46] jiazhai commented on #6001
Thanks @DanielFerreiraJorge for the explanation. So, how about a HTTP connect, through [pulsar-io](http://pulsar.apache.org/docs/en/io-overview/)

[2020-01-10 04:19] jiazhai commented on #6022
@yijie to check if this is a known issue.

[2020-01-10 15:30] julio666 commented on #5847
@jiazhai yes, I close it !

[2020-01-10 15:30] #5847 closed

[2020-01-10 15:36] dawillcox commented on #6024
Any guidance on what I I need to do with this going forward would be appreciated. For example, should a do a separate PR to master?

[2020-01-10 16:36] jm7647 commented on #5690
agree, configuration "typeName" would be a perfect solution.

[2020-01-10 23:56] fantapsody opened #6030 "Support bulk write in Elasticsearch Sink"
**Is your feature request related to a problem? Please describe.**

The [current implementation](https://github.com/apache/pulsar/blob/master/pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSink.java#L84) of Elasticsearch Sink connector write documents to the cluster individually in sync mode, while write documents to Elasticsearch clusters in bulk could [imp

[2020-01-11 09:02] sijie commented on #6003
@itaross I have included this task into the Pulsar release 2.6.0. If you have any features that would like to see in 2.6.0, please comment in #5819. We will prioritize those features.

[2020-01-11 13:49] #5941 closed

[2020-01-12 17:40] vlsi opened #6035 "Pulsar precommit Jenkins jobs consume too much ASF resources and it leads to "unable to create native thread""
See https://lists.apache.org/thread.html/r9cb0772531814fdf10c82b61fb4bb8d3a187852ddf98ac84754bf778%40%3Cbuilds.apache.org%3E

H23 node was unresponsive, and it turned out to have lots of Pulsar Java processes (~14 processes, 9000+ threads):

[code]

Thread dump includes 1020 threas like

[code]

733 threads like

[code]

and so on (see the attached threaddump)

[pulsar_threaddump.txt.gz](https://g

[2020-01-13 04:23] murong00 commented on #5999
@sijie just treat a blank cluster as a cluster is not specified to pass the REST api validatation, please help to take a look, thanks.

[2020-01-13 08:00] zymap commented on #5905
Hi, @antimpatel

Maybe we can implement this on the original method.
Currently, we have already support terminate a non-partitioned topic or a partition of a partitioned topic. So we just add some codes to delete them one by one if the topic is partitioned topic.

[2020-01-13 12:46] #5887 closed

[2020-01-13 14:48] Jennifer88huang opened #6038 "[docs] The subscription types are not updated"
**Describe the bug**
Four subscription modes are available in Pulsar:  exclusive, shared, failover, and Key_Shared.; however the doc content is not updated on https://pulsar.apache.org/docs/en/next/concepts-messaging/#limitations-of-key_shared-mode

**Screenshots**
![image](https://user-images.githubusercontent.com/47805623/72264916-82564280-3656-11ea-9f14-7e1730be1fae.png)

[2020-01-13 15:46] dawillcox commented on #6024
I'll note that branch-1.20 has quite a bit more extensive unit tests for pulsar_storm. They really ought to be brought forward.

[2020-01-13 18:02] #5920 closed

[2020-01-13 22:15] simoneau opened #6040 ""incompatible pointer types" warnings building the Go (golang) pulsar client"
**Describe the bug**
When building with the Go Pulsar client, I always see about 10 warnings about incompatible pointer types. Is this a known issue?

**To Reproduce**
Steps to reproduce the behavior:
1. `❯ go get -u github.com/apache/pulsar/pulsar-client-go/pulsar`
4. See warnings

**Screenshots**
[code]
**Desktop (please complete the following information):**
 - OS: macOS, LInux

[2020-01-14 02:03] #5775 closed

[2020-01-14 02:30] wolfstudy commented on #6040
Yes, this is a known issue. This does not affect normal use. The issue was caused by the introduction of the `SendAndGetMsgID` interface.

[2020-01-14 02:35] wolfstudy commented on #6035
Thanks @vlsi,

This is a known issue.

Currently, We are trying to replace Apache Jenkins with Github Action CI. And @tuteng is working on this. Once Action CI is stable, we will start to replace it.

[2020-01-14 03:17] rdhabalia opened #6042 "Bookie-server picks invalid empty config of journalDirectories"
### Issue
We have config management tool which manages bookie-server configuration and sets empty value of `journalDirectories` if bookie-server is still wants to use single journal dir: `journalDirectory`. In this case, bookie-server doesn't consider `journalDirectory` value and keeps empty list of `journalDirectories` which stats bookie with invalid configuration.

### Expected behavior
Bookie-s

[2020-01-14 06:58] blsnt opened #6043 "How to force delete subscribers"
pulsar-admin topics unsubscribe  persistent://public/default/xxx -s xxx

14:57:36.617 [AsyncHttpClient-5-1] WARN  org.apache.pulsar.client.admin.internal.BaseResource - [http://localhost:8080/admin/v2/persistent/public/default/merchant-item-sit/subscription/ypsx-wms-sit] Failed to perform http delete request: javax.ws.rs.ClientErrorException: HTTP 412 Precondition Failed
Subscription has active co

[2020-01-14 07:19] sijie commented on #6000
You don't need CLA to start contribution. CLA is typically required when you become a committer.

[2020-01-14 07:24] sijie commented on #5992
@ckdarby are you building your image or do you just use the helm chart?

[2020-01-14 07:26] sijie commented on #6002
@youurayy I don't think the current pulsar dashboard supports protobuf serialized messages.

[2020-01-14 07:28] sijie commented on #6001
@DanielFerreiraJorge Are you talking about a webhook in the subscription?

[2020-01-14 07:35] sijie commented on #6021
This is fixed by #5719 and will be released in 2.5.0.

[2020-01-14 07:35] #6021 closed

[2020-01-14 07:39] sijie commented on #6022
@saosir I would suggest not using

[code]

since the authentication object will not be serialized correctly.

Use the client configuration data to pass in the token.

[code]

[2020-01-14 07:46] sijie commented on #5984
the protobuf file is written in v2 syntax. In java client, we use a customized compiler to generate the Java code; in other language clients, we use latest compiler to generate the code. So you will see a newer version in those generated code.

[2020-01-14 07:46] sijie commented on #5984
Closed this since the question is answered.

[2020-01-14 07:46] #5984 closed

[2020-01-14 07:54] Jennifer88huang commented on #6038
@sijia-w Could you take this task?

[2020-01-14 07:59] sijie commented on #4304
This was fixed by #4436

[2020-01-14 07:59] #4304 closed

[2020-01-14 08:12] sijie opened #6044 "[doc] Add documentation about running Pulsar Functions using LocalRunner"
*Motivation*

Besides running or submitting functions using CLI, Pulsar also supports running Pulsar Functions in a programmable way via `LocalRunner` class. It is better to document how to run Pulsar Functions in a programmable way.

See: https://github.com/apache/pulsar/blob/320cebe09f80116a2df81a5df1bcfd518ecf8c08/pulsar-functions/localrun/src/main/java/org/apache/pulsar/functions/LocalRunner.j

[2020-01-14 08:14] sijie commented on #4285
@cbornet I think we have already provided a runner library to run the functions. This should have achieved the same purpose. I will create an issue #6044 to follow up on the documentation for running functions in library.

[2020-01-14 08:15] sijie commented on #4285
@cbornet does this meet your requirements?

[2020-01-14 08:26] sijie opened #6045 "[Broker] Provide a way to retrieve the real msgBacklog value"
*Motivation*

Currently, the broker exposes `msgBacklog` to topic & subscription stats. However, this value is an *estimated* value by calculation based on *numProduced* and *numConsumed* seen by a broker since it starts. This value is an estimated value.

We can consider providing a way to retrieve the real msgBacklog value from the storage or providing a tool to force load the metric into topic

[2020-01-14 08:33] sijie opened #6046 "[Broker] Expose lastConsumedTimestamp and lastAckedTimestamp to subscription stats"
*Motivation*

Currently, `msgBacklog` measures the number of messages that a subscription has not consumed and it is an *estimated* value. It is hard to tell the difference between a backlog estimate being wrong and messages being otherwise stuck. It would be great to expose `lastConsumedTimestamp` and `lastAckedTimestamp` to measure the activities of dispatch and acknowledge. So people can use th

[2020-01-14 09:01] sijie commented on #4276
This is fixed by apache/bookkeeper#2097

[2020-01-14 09:01] #4276 closed

[2020-01-14 09:12] sijie commented on #4110
Closed this issue since it has been supported in a different manner.

[2020-01-14 09:12] #4110 closed

[2020-01-14 09:39] Jennifer88huang opened #6048 "[docs] Provide a generator to generate configuration files automatically"
**Describe the bug**
When parameters in the `broker.conf`, `standalone.conf`  and other configuration files are updated in the code, the docs are not updated synchronously on the [Pulsar configuration page](http://pulsar.apache.org/docs/en/next/reference-configuration/) . And then we have to check those PRs one by one and add those parameters in the md file. Take https://github.com/apache/pulsar/p

[2020-01-14 09:39] Jennifer88huang commented on #6048
@tuteng Could you share how to implement the auto generator tool? Thank you.

[2020-01-14 09:45] sijie commented on #4266
This has been fixed by #5900

[2020-01-14 09:45] #4266 closed

[2020-01-14 09:47] sijie commented on #4225
Closed this issue since the question has been answered.

[2020-01-14 09:47] #4225 closed

[2020-01-14 09:50] sijie commented on #4244
Closed this issue since there are no detailed information provided.

[2020-01-14 09:50] #4244 closed

[2020-01-14 09:53] sijie commented on #4194
alternatively, you can now use [pulsarctl](https://github.com/streamnative/pulsarctl). it is a static linked CLI written in golang.

[2020-01-14 09:53] sijie commented on #4175
@devinbost has been looking into this issue.

[2020-01-14 09:55] sijie commented on #4164
@Xlingxiao any luck about this issue?

[2020-01-14 09:56] Jennifer88huang opened #6049 "[docs] Provide a generator to generate yaml files and documentation for connectors"
**Describe the bug**
The configuration of IO connectors are added manually by technical writers on [IO connector page](http://pulsar.apache.org/docs/en/next/io-connectors/). It consumes time and energy, and docs might not be updated synchronously with code update.

**Expected behavior**
The doc content on the [IO connectors](http://pulsar.apache.org/docs/en/next/io-connectors/) can be updated sync

[2020-01-14 09:57] sijie commented on #4169
This has been fixed by #5388 and #5928

[2020-01-14 09:57] #4169 closed

[2020-01-14 10:02] #4140 closed

[2020-01-14 10:06] sijie commented on #4131
Since the warning message is from the JDK itself, there is nothing we can do from Pulsar side. Closed this issue.

[2020-01-14 10:06] #4131 closed

[2020-01-14 10:11] sijie commented on #3055
Closed this issue since lack of information.

[2020-01-14 10:11] #3055 closed

[2020-01-14 10:43] saosir commented on #6022
@sijie It works
But I think this way is not clear , because some people does not know the class `org.apache.pulsar.client.impl.auth.AuthenticationToken` exist

[2020-01-14 11:16] Xlingxiao commented on #4164
sorry,no

[2020-01-14 11:16] #4164 closed

[2020-01-14 12:33] sijie commented on #3954
This has been fixed.

[2020-01-14 12:33] #3954 closed

[2020-01-14 12:35] sijie commented on #5505
@codelipenghui I am closing this issue for now. if you have reproduced the behavior, please re-open the task.

[2020-01-14 12:35] #5505 closed

[2020-01-14 12:36] sijie commented on #2793
@Jennifer88huang this requires documentation updates.

[2020-01-14 12:44] #5963 closed

[2020-01-14 12:48] sijie commented on #5909
This issue was fixed at 2.5.0 and documentation is updating at 2.4.x

[2020-01-14 12:48] #5909 closed

[2020-01-14 12:55] sijie commented on #5899
@bry00 we have just published 2.4.2 python client for osx 10.15. Can you try it again?

[2020-01-14 12:56] sijie commented on #5868
+1 we should pass in the credentials through secrets map.

[2020-01-14 13:01] sijie commented on #6043
@blsnt oh i see. it seems that the current restful API doesn't support force deleting subscription.

[2020-01-14 13:07] sijie commented on #5845
@jiazhai we might consider adding documentation for this.

[2020-01-14 13:10] wolfstudy commented on #5799
@Sunkwan-Kwon

This is a native go client(https://github.com/apache/pulsar-client-go).

This is a cgo client(https://github.com/apache/pulsar/tree/master/pulsar-client-go)

Once feature parity and stability are reached, this will supersede the current CGo based library.

[2020-01-14 13:13] #5835 closed

[2020-01-14 13:18] sijie commented on #5778
This has been fixed in the latest website.

[2020-01-14 13:18] #5778 closed

[2020-01-14 14:37] Jennifer88huang commented on #2793
Got it.

[2020-01-14 14:46] sijie commented on #4508
Closed this issue since we are providing scripts for cutting documentation for minor releases.

[2020-01-14 14:46] #4508 closed

[2020-01-14 14:52] sijie commented on #5611
@Jennifer88huang I don't think we can delete unlinked pages because those pages are required for old versions. It is a limitation of our current documentation framework. I am closing this issue for now. If we have a better framework, we can revisit this issue again.

[2020-01-14 14:52] #5611 closed

[2020-01-14 14:53] sijie commented on #5610
Closing this issue since there are multiple efforts building fluentd plugins.

[2020-01-14 14:53] #5610 closed

[2020-01-14 14:55] sijie commented on #5654
Close this issue since 2.4.2 release is already published.

[2020-01-14 14:55] #5654 closed

[2020-01-14 15:23] Jennifer88huang commented on #5611
That's ok.

[2020-01-14 15:51] digi691 commented on #5417
@tuteng Let me know how I should proceed or offer further help into figuring out this issue.

[2020-01-14 16:30] sijie commented on #6022
@saosir correct. we need to make AuthenticationToken serializable. Are you interested in contributing a fix for that?

[2020-01-14 16:45] sijie commented on #2912
I think reading a message by a message-id is the same as peeking messages.

[2020-01-14 16:47] sijie commented on #5516
FYI. It is an issue when you are using a version of maven which is older than 3.5. You can fix the issue by upgrading maven to be newer than 3.5.

[2020-01-14 16:47] #5516 closed

[2020-01-14 16:51] #4053 closed

[2020-01-14 16:54] sijie commented on #3981
Closing this issue due to lack of activities

[2020-01-14 16:54] #3981 closed

[2020-01-14 17:05] sijie commented on #954
This is fixed by #5713

[2020-01-14 17:05] #954 closed

[2020-01-14 17:06] sijie commented on #5392
This has been fixed by #5419

[2020-01-14 17:06] #5392 closed

[2020-01-14 17:22] sijie commented on #5095
@ShadowDAssange Can you provide more information about this issue?

[2020-01-14 17:26] sijie commented on #3774
Closed this since we are adding Github Action based CI.

[2020-01-14 17:26] #3774 closed

[2020-01-14 17:26] #5065 closed

[2020-01-14 17:30] sijie commented on #3490
@tuan6956  any more information about this issue?

[2020-01-14 17:31] #3419 closed

[2020-01-14 17:32] #3408 closed

[2020-01-14 17:34] sijie commented on #3279
Pulsar has already upgraded bookkeeper to 4.10+

[2020-01-14 17:34] #3279 closed

[2020-01-14 17:35] #4954 closed

[2020-01-14 17:38] #5009 closed

[2020-01-14 17:40] sijie commented on #3430
This has been fixed by #5148

[2020-01-14 17:40] #3430 closed

[2020-01-14 17:43] #4834 closed

[2020-01-14 17:43] sijie commented on #4863
This is fixed by #4811

[2020-01-14 17:43] #4863 closed

[2020-01-14 17:47] devinbost opened #6054 "Catastrophic frequent random subscription freezes, especially on high-traffic topics."
**Describe the bug**
Topics randomly freeze, causing catastrophic topic outages on a weekly (or more frequent) basis. This has been an issue as long as my team has used Pulsar, and it's been communicated to a number of folks on the Pulsar PMC committee.

(I thought an issue was already created for this bug, but I couldn't find it anywhere.)

**To Reproduce**
We have not figured out how to reproduc

[2020-01-14 17:48] sijie commented on #3331
This feature has been implemented in the golang CLI pulsarctl - https://github.com/streamnative/pulsarctl

[2020-01-14 17:48] #3331 closed

[2020-01-14 17:50] sijie commented on #4808
This has been fixed by 4873

[2020-01-14 17:50] #4808 closed

[2020-01-14 17:56] sijie commented on #4721
This has been fixed by #5068

[2020-01-14 17:56] #4721 closed

[2020-01-14 17:57] sijie commented on #4761
We are moving to Github Actions. This is not required anymore.

[2020-01-14 17:57] #4761 closed

[2020-01-14 20:44] cdbartholomew commented on #5387
@abhilashmandaliya the fix is not in 2.4.2. It went into 2.5.0.

[2020-01-14 21:01] cdbartholomew commented on #6054
FWIW, @devinbost I am suspicious of the netty version in the 2.4.X stream. There is a know memory usage issue (https://github.com/netty/netty/issues/8814) in the 4.1.32 version of netty that is used in the stream. When I was testing, I would see issues like you are describing. Then I patched in the latest version of netty, and things seemed better. I have been running with a patched 2.4.2 for a wh

[2020-01-14 22:54] bry00 commented on #5899
It does not work yet:
[code]

[2020-01-14 23:25] tuteng commented on #5417
Can you give me a detailed description of your use of context information, such as whether to turn on authentication, the command used, the relevant configuration of the cluster, etc. @digi691

[2020-01-14 23:43] merlimat commented on #6024
@dawillcox The Storm tests were moved to the integration tests, because of issues with shading dependencies. https://github.com/apache/pulsar/tree/master/tests/pulsar-storm-test

[2020-01-15 02:00] Jennifer88huang commented on #4053
It's was fixed in #5865

[2020-01-15 02:43] ChangWinde commented on #3820
@GarimaM92 Do you solve this problem？I met this problem before and solved it by updata the version of glibc, which is required more than 2.12. But this time the version of glibc is 2.28 ,this problem appear again.

[2020-01-15 02:47] saosir commented on #6022
I wrote source and sink based on the puslar flink connector in our project, but that is not very general. I hope to participate in the code development of pulsar in the next time.

[2020-01-15 03:47] Gray-Fullbuster commented on #3820
@ChangWinde Hello ,Do you solve this problem？I meet the same problem.My glibc's version is also 2.28. Is this version too low?

[2020-01-15 04:06] pantianying opened #6055 "Ftr: The pulsar function specifies the outtopic internally, not when the function is started"
**Is your feature request related to a problem? Please describe.**

I hope to do some message routing works with complex logic in function. I want to distribute messages of the same inTopic to different outTopics. Obviously, the current mode does not support this operation. I believe that many developers will have the same needs as me.

**Describe the solution you'd like**
1.can specify the outtop

[2020-01-15 04:06] Jennifer88huang opened #6056 "[docs] Add info on how to choose partition when using a key"
**Describe the bug**
On [Partitioned topics](https://pulsar.apache.org/docs/en/next/cookbooks-partitioned/) page, it does not say what happens when you use a key. Does that override things? Does it change how a partition is chosen? Looking at the API docs, all of them talk about the absence of keys but don't say what happens with keys.

I see the link now to the routing modes. It doesn't really ma

[2020-01-15 04:12] Jennifer88huang opened #6057 "[docs] Add docs on TypedMessageBuilder"
**Describe the bug**
From the way TypedMessageBuilder is set up, it looks like the best practice is to always have the key be a string. Is that the case?

What if you want the key to be an Avro object? You obviously send it as bytes, but the API will make it more difficult to get the Avro object back on the consumer.

---
Comments from Jesse Anderson

[2020-01-15 04:20] Jennifer88huang opened #6058 "[docs] Add docs to specify whether the consumer push or pull"
**Describe the bug**

The wire protocol is actually *push*. The client sends "permits" to the broker to ask for messages. The broker will push the requested number of messages to the consumer.

There is a queue at the consumer side to receive messages pushed from broker. The queue size is configurable by `receiveQueueSize`. Each time `consumer#receive` is called. A message is dequeued from the buf

[2020-01-15 05:57] Jennifer88huang commented on #5959
Since 2.5.0 release is coming soon in several days, we've updated the page directly to 2.5.0 at https://github.com/apache/pulsar/wiki/Client-Features-Matrix

[2020-01-15 06:01] Jennifer88huang commented on #5959
Meanwhile, we've also update content in Client libraries in https://github.com/apache/pulsar/pull/6050

[2020-01-15 08:59] sijie opened #6061 "Support auto-deleting inactive topics for regex subscription"
*Motivation*

In some use cases, it is useful to support inactive topic auto-deletion for regex subscription.

A topic is treated as "inactive" when no data is produced for a while and all subscriptions have already successfully consumed all messages in it.

[2020-01-15 09:14] Jennifer88huang commented on #2793
hostname verification has been added in #1208

[2020-01-15 09:26] juanpecatala opened #6062 "Add SQL Server CDC Debezium or JDBC Source Connector"
**Is your feature request related to a problem? Please describe.**
Right now there is no Pulsar connector to connect to a SQL Server database.

**Describe the solution you'd like**
That a CDC connector for SQL Server from Debezium or JDBC be offered as in Kafka.

**Describe alternatives you've considered**
- SQL Server CDC Debezium Source Connector
- JDBC Source CDC Connector

**Additional context

[2020-01-15 09:31] Jennifer88huang commented on #6057
Add specification at http://pulsar.apache.org/docs/en/next/concepts-messaging/#messages

[2020-01-15 09:33] Jennifer88huang commented on #6056
@zymap Could you please share a code snippet for this? Thank you.

[2020-01-15 09:53] sijie commented on #6055
@pantianying you can use [context.publish](http://pulsar.apache.org/docs/en/functions-develop/#context) to publish the results of a function to different topics.

Example: http://pulsar.apache.org/docs/en/functions-overview/#content-based-routing-example

[2020-01-15 09:53] zymap commented on #6056
[code]

[2020-01-15 09:58] sijie commented on #6054
@devinbost have you looked into `permits` when this issue happens?

[2020-01-15 13:32] abrahamsangha commented on #3968
@gurgen2727 how did you solve this issue?

[2020-01-15 14:40] gurgen2727 commented on #3968
just run server correctly before running client, was stupid question from my side, easy solvable.

[2020-01-16 07:25] ShadowDAssange commented on #5095
Sorry,I have solved

[2020-01-16 07:25] #5095 closed

[2020-01-16 13:56] yangwenjie88 opened #6069 "Subscription metrics name error"
The metric name of the document is pulse_subscription_unacked_messages but Prometheus print is pulsar_subscription_unacked_massages , word messages spelling mistakes

[2020-01-16 14:27] hanbo1990 commented on #5326
I am going to create a config interface in pulsar's bookie.conf  `# local storage directories for storing table ranges data (e.g.  sst files)
storage.range.store.dirs=data/bookkeeper/ranges

# whether the storage server capable of serving readonly tables. default is false.
storage.serve.readonly.tables=false

# the cluster controller schedule interval, in milliseconds. default is 30 seconds.
stora

[2020-01-16 17:40] sijie commented on #5899
@bry00 can you try install `protobuf` and `zstd`?

[code]

[2020-01-16 19:06] wolfstudy commented on #6069
Thanks @yangwenjie88 can you help fix the typo issue?

[2020-01-16 23:01] bry00 commented on #5899
[code]

[2020-01-17 01:59] Anonymitaet commented on #5839
@tuteng seems that this issue is not resolved.

### Incorrect example 1

After clicking the contents in the red boxes (https://pulsar.apache.org/docs/en/2.3.2/client-libraries-cpp/), I got a `404 Not Found` error.

![image](https://user-images.githubusercontent.com/50226895/72576313-506d0680-390a-11ea-8242-44889b055e4a.png)

### Incorrect example 2

After clicking `downloads page`, I got a `404 No

[2020-01-17 02:01] Jennifer88huang opened #6071 "[website] Download page is messed up"
**Describe the bug**
It seems like some messed up apache_pulsar prebuilt packages.

Every mirror is only listing 2.5.0 even though 2.4.2 is the last stable version. This especially bad if CI/CD is depending on these mirrors.

https://pulsar.apache.org/docs/en/client-libraries-cpp/ list prebuilt .deb files at 2.4.2.

2.5 is being staged for release and per ASF policy only latest version is kept on

[2020-01-17 02:31] tongsucn commented on #6000
@sijie @jiazhai Thx, I got it. I'll ignore it for now.

[2020-01-17 02:31] Jennifer88huang commented on #4898
I think we can close the issue now. @jonb-streamlio If you have any further issue on this, feel free to contact us.

[2020-01-17 02:31] #4898 closed

[2020-01-17 03:47] Fomal-haut opened #6073 "Unacked message timeout redelivery for ZeroQueueConsumer"
**Is your feature request related to a problem? Please describe.**
Currently we leverage on ZeroQueueConsumer to keep our service stateless. We also need unacked message timeout redelivery feature to support our business scenario. However, these two features cannot be turned on together now.

**Describe the solution you'd like**
Unacked message timeout redelivery feature can be supported by ZeroQu

[2020-01-17 03:47] Fomal-haut commented on #6073
@codelipenghui
Started an issue for this new feature.

[2020-01-17 03:53] abrahamsangha commented on #2874
I also got the same error. Why does using `localrun` fail with this error message?

[2020-01-17 04:43] abrahamsangha commented on #2874
This is probably a clue: http://pulsar.apache.org/docs/en/functions-debug/#debug-with-localrun-mode

But a better error message would be helpful

[2020-01-17 12:12] sijie commented on #6073
This is fixed by #6076

[2020-01-17 12:12] #6073 closed

[2020-01-17 12:20] sijie commented on #6071
The new website has been built. The issue is fixed.

[2020-01-17 12:20] #6071 closed

[2020-01-17 12:51] VitalyShein opened #6079 "Cannot create producer via websocket in standalone mode"
**Describe the bug**
Websocket api is broken - it is impossible to connect with producer to any existing topic.

**To Reproduce**
Steps to reproduce the behavior:
1. Run pulsar in standalone mode (docker-compose file):
[code]
2. Try to create producer via websocket (python 3.7)
[code]
3. An exception will occur: error 400
4. Pulsar logs in docker:
[code]
5. Change version of pulsar to 2.4.2 - all

[2020-01-17 13:07] VitalyShein commented on #6079
I think this is the same promblem: https://github.com/apache/pulsar/issues/5997

[2020-01-17 16:17] digi691 commented on #5417
@tuteng In my development environment I have two HA-Proxy servers that load balance between 2 - Pulsar proxy servers.  I then have 3 brokers, these brokers then point to 4 bookkeepers.  I also have 3 Zookeeper nodes.  The difference between my development and production environments are that the development environment's configuration store is also the Zookeeper quorum.  In my Production environme

[2020-01-17 16:49] sijie commented on #5816
@Jennifer88huang just one though, I think this issue might be related to the duplicated string setting in crowdin. We might try to disable that setting.

[2020-01-17 17:30] bry00 commented on #5899
I've succeed with installing and using `pulsar-client==2.5.0` using regular (brew not pyenv) Python 3.7.6 installation.
It seems, that this segmentation fault is caused by some incompatibility of` pulsar-client` with pyenv, but it would be another issue.
I close this issue.

[2020-01-17 17:30] #5899 closed

[2020-01-18 12:39] frejonb opened #6084 "[v2.5.0] Functions dead-letter-topic parameter not supported"
**Describe the bug**
In the Functions reference https://pulsar.apache.org/docs/en/functions-cli/ it shows a parameter `dead-letter-topic`. When using it, it is passed to `/pulsar/instances/python-instance/python_instance_main.py` under the `--function_details` json as
[code]
But `customRuntimeOptions` is not recognized:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create pulsar fun

[2020-01-18 21:19] sijie opened #6085 "[docs] Update configuration information for 2.5.0 releases"
#6047 is merged after 2.5.0 is built. so we need to update the documentation files in 2.5.0 release as well.

[2020-01-19 01:57] Jennifer88huang commented on #6085
Got it.

[2020-01-19 01:59] #6038 closed

[2020-01-19 01:59] #6057 closed

[2020-01-19 02:33] Jennifer88huang opened #6086 "[docs] Add doc on how to run Pulsar Functions as pod in Kubernetes"
**Describe the bug**

Does anyone have clear instructions as to how run Pulsar Functions as pod in kubernetes?

- Addison Higham

@roman yeah... the docs are lacking, we have it working. Let me grab our config

- Addison Higham

I assume you are running your broker on k8s? If so, then the only config you need in broker.conf is `functionsWorkerEnabled=true`, the rest of the config is all in the `fu

[2020-01-19 02:42] codelipenghui opened #6087 "[docs] Document for delete inactive topic when subscriptions caught up"
This issue tracks the document for delete inactive topic when subscriptions caught up(#6077)

[2020-01-19 02:47] Jennifer88huang commented on #5816
@sijie I'm not sure whether this issue is related to the duplicated string setting in Crowdin, we can try to disable it before building the website for a new release.

[2020-01-19 03:57] Gray-Fullbuster commented on #3820
@Archerxy Did you solve this problem? "Failed to load RocksDB JNI library" How to solve this problem

[2020-01-19 04:01] codelipenghui commented on #4824
I think #5230 is fixed this issue, @AnandSinha do you use  pulsar 2.4.2 or master branch?
And i checked your reproduce steps, is the producer closed or just stop publish messages? If just stop publish message, the producer may cause topic auto creation.

[2020-01-19 04:05] codelipenghui commented on #6061
Since #5230 and #6077 merged, i think this issue was fixed.

[2020-01-19 06:00] tuteng commented on #5816
After you close it, you can download a new document and test it locally. @Jennifer88huang

[2020-01-19 09:27] youurayy commented on #6002
@sijie it probably shouldn't quietly fail with an Error 500 though.

Also, it would be very beneficial to just display the message ID and other metatadata, the message content isn't that important.

Currently, there's just no metadata displayed even in the overview list, just queue sequential numbers which are quite useless.

[2020-01-19 10:51] Jennifer88huang commented on #5816
I've disabled the duplicated string in the setting, we can build and test it again.
![image](https://user-images.githubusercontent.com/47805623/72679698-9d103780-3aec-11ea-97fb-7d35c549ff1b.png)

[2020-01-19 13:45] Lanayx commented on #5877
Fixed in 2.5.0

[2020-01-19 13:45] #5877 closed

[2020-01-20 05:01] mileschao opened #6091 "libpulsar from homebrew is not updated to v2.5.0"
**Describe the bug**
libpulsar from homebrew is not updated to v2.5.0

**To Reproduce**
[code]

[2020-01-20 05:58] sijie commented on #6002
@youurayy agreed. we need to add the support for it.

Although the dashboard is in the process of being deprecated and you are encouraged to use pulsar-manager, I would suggest using pulsar-manager and creating an issue there to request this feature.

http://pulsar.apache.org/docs/en/administration-pulsar-manager/
https://github.com/apache/pulsar-manager

[2020-01-20 06:02] sijie commented on #6091
@mileschao which howbrew formulae are you using? I don't think PMC is maintaining any official homebrew tab.

[2020-01-20 06:18] nareshgbhat opened #6093 "Update ARM64 supported protobuf version in pom.xml"
I am trying to compile the Apache Pulser on ARM64 board with Debian distribution installed on it,  But the build is getting failed because of the old protobuf version used in the project pom.xml file.  Can we please update the protobuf version of the pom.xml file across all the project files ?

#### Expected behavior

The Apache Pulser project should get compiled on ARM64 Debian distribution.

###

[2020-01-20 06:52] huangdx0726 opened #6094 "[doc] Incorrect picture in pulsar function-overview"
**Describe the bug**
Incorrect picture in pulsar function-overview.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://pulsar.apache.org/docs/en/2.4.2/functions-overview'
2. Click on '....'
3. Scroll down to 'Programming model'
4. See error

**Expected behavior**
The last "in" should is "pudding".

**Screenshots**
![图片](https://user-images.githubusercontent.com/29513837/72704600-3

[2020-01-20 08:20] Gray-Fullbuster opened #6096 ""failed to load RocksDB jni library""
When i start up bookie I meet this problem. Does anyone know how to solve this problem？help me please!

[2020-01-20 08:45] huangdx0726 opened #6099 "[doc] 404 error in Pulsar Functions"
**Describe the bug**
404 error in Pulsar Functions.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://pulsar.apache.org/docs/en/2.4.2/functions-deploy'
2. Scroll down to end
2. Click on 'NEXT'

4. See error

**Expected behavior**
Show correct page.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):

[2020-01-20 09:01] huangdx0726 opened #6100 "[doc] 404 error Pulsar IO"
**Describe the bug**
404 error Pulsar IO.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://pulsar.apache.org/docs/en/2.4.2/io-quickstart'
2. Click on 'Get started'
3. Scroll down to ' Install Pulsar and builtin connector'
4.Click `here` like.
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![图片](https://user-im

[2020-01-20 09:57] Jennifer88huang commented on #6099
@huangdx0726 Thank you very much for reporting this issue.
The reason for this issue is that we'll add more content on Pulsar configure, Monitor, secure and troubleshooting. The content is under construction. So you could not click "Next" at the end of the page. When the content is ready, the link to "Next" works automatically.
![image](https://user-images.githubusercontent.com/47805623/72716858-e

[2020-01-20 09:57] #6099 closed

[2020-01-20 09:59] mileschao commented on #6091
thx for your reply. I'm using official now.
I think you can check this [brew libpulsar link](https://formulae.brew.sh/formula/libpulsar)

[2020-01-20 17:09] andrekramer1 commented on #5896
The OOM appear to be in reading from Bookkeeper and possibly the broker is issuing too many read requests at a time. We've had some limited success with the dispatcher throttling introduced in 2.5. Using both:
./bin/pulsar-admin namespaces set-dispatch-rate public/default \
  --msg-dispatch-rate 500 \
  --dispatch-rate-period 1
./bin/pulsar-admin namespaces set-subscription-dispatch-rate public/de

[2020-01-20 18:03] sijie commented on #6091
okay. didn't realize that we manage that before. that wasn't discussed by the PMC before.

[2020-01-20 18:03] sijie commented on #6091
will have to look into it how to update it.

[2020-01-20 18:35] ckdarby commented on #5992
@sijie Just using the helm charts

[2020-01-20 18:38] bwalendz commented on #5997
Having the same issue with 2.5.0 standalone. WS receives unexpected server response: 400 on connect. This is a complete blocker for anyone using WS. So reverting back to 2.4.2 is working .

[2020-01-20 19:36] sijie commented on #5992
if you are just using the helm charts, I don't think the changes to images will impact you. What are the errors you have encountered?

[2020-01-20 21:14] sijie commented on #6096
@Gray-Fullbuster

1) what is your operating system?
2) what version of Pulsar are you using?

Besides that, I don't think that is a problem. It should be just a warning as it falls back to java code if the JNI library is not found.

[2020-01-20 21:15] sijie commented on #6093
@nareshgbhat I don't have any ARM64 machine to verify this. Do you know what version of Protobuf supports ARM64?

[2020-01-20 21:29] sijie commented on #6084
@frejonb I don't think python function supports this feature yet.

@Anonymitaet we need to improve the documentation about this part.

[2020-01-20 22:34] sijie commented on #6084
The dead letter topic support in java functions also has one problem. #6101 is used for addressing the problem in java functions.

Python functions doesn't support this feature at all.

[2020-01-21 01:46] sijie commented on #6079
It seems to be a regression from #5486. I am working on a fix.

[2020-01-21 01:47] sijie commented on #5997
@bwalendz 2.5.0 has a regression about initializing websocket introduced from #5486. I am working on a fix.

[2020-01-21 01:58] Gray-Fullbuster commented on #6096
@sijie
My operating system is Linux version 4.19.36-vhulk1905.1.0.h276.eulerosv2r8.aarch64 and Pulsar's veriosn is 2.4.2
I meet this problem When i start bookkeeper.Then bookie can't start up.The following is the error message：
[main] ERROR org.apache.bookkeeper.server.Main - Failed to build bookie server
java.io.IOException: Failed to load RocksDB JNI library
		at org.apache.bookkeeper.bookie.sto

[2020-01-21 02:28] nareshgbhat commented on #6093
@sijie The protobuf version 3.6 is officially supported.  We can help to get the ARM64 systems from Linaro side for CI (a developer cloud instance access) or else we can also help to test the same on ARM64 machines.

[2020-01-21 02:49] Anonymitaet commented on #5839
Related PR:
https://github.com/apache/pulsar/pull/5865
https://github.com/apache/pulsar/issues/4053

[2020-01-21 03:56] sijie commented on #6096
Ah, what is the platform of the CPU?

[2020-01-21 04:04] sijie commented on #6093
@nareshgbhat Okay. It should be easy to bump the protobuf 3.5.1 to 3.6.

You don't need to worry about protobuf 2.4.1. It is a customized protoc for generating Pulsar Api. The java API has already been generated. So you don't need protoc runtime for 2.4.1.

I can send out a pull request if you can help me verify if it works on the ARM64 systems that would be great.

[2020-01-21 05:23] nareshgbhat commented on #6093
@sijie sure go ahead and please issue a pull request.  I will verify the same on ARM64 machine and try to continue the compilation.

[2020-01-21 06:32] zymap opened #6107 "[website] The 2.5.0 REST API page seems can not be loaded"
![image](https://user-images.githubusercontent.com/24502569/72780814-c353e580-3c5a-11ea-8a94-6a036e386551.png)

[2020-01-21 06:59] huangdx0726 opened #6108 "[doc] 404 error in pulsar io-use"
**Describe the bug**
404 error in pulsar io-use.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://pulsar.apache.org/docs/en/io-use'
2. Click on 'Use'
3. Scroll down to 'reload'
4.Click `here` link
4. See error

**Expected behavior**
Right page is displayed.

**Screenshots**
![图片](https://user-images.githubusercontent.com/29513837/72782364-84c02a00-3c5e-11ea-991e-45b5b8543839.png

[2020-01-21 07:11] huangdx0726 opened #6109 "[doc][suggest] Tell user the available values of "--sink-type" parameter"
**Is your feature request related to a problem? Please describe.**
Tell user the available values of "--sink-type" parameter.

**Describe the solution you'd like**
When i create a Cassandra sink like this.
[code]
I could't understand,  Why is the value of  "--sink-type" parameter cassandra ,And when i create the other sinks,  What value should be set for this parameter.

**Describe alternatives yo

[2020-01-21 07:22] huangdx0726 opened #6110 "[Doc 2.5.0] The content of Connector Admin CLI is blank"
**Describe the bug**
The content of Connector Admin CLI is blank .

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://pulsar.apache.org/docs/en/reference-connector-admin/'
2. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the f

[2020-01-21 07:48] huangdx0726 opened #6111 "[Doc][pulsar] Add Debezium Mongodb for io-connectors"
**Describe the bug**
Add Debezium Mongodb for io-connectors.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to 'http://pulsar.apache.org/docs/en/io-connectors'
2. See error

**Expected behavior**
CDC Connector for MongoDB has supported in 2.5.0 , so the document should be updated.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete th

[2020-01-21 08:07] Gray-Fullbuster commented on #6096
@sijie
CPU's platform intel.Is this related to CPU？

[2020-01-21 08:45] archfish opened #6114 "[Doc 2.5.0] Wrong link address in doc"
**Describe the bug**

Wrong link address in doc. doc version 2.5.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to [rest-api](https://pulsar.apache.org/docs/en/admin-api-overview/#rest-api)
2. Click on 'document'
3. Redirect to https://pulsar.incubator.apache.org/en/admin-rest-api#/
4. Blank page

**Expected behavior**

should redirect to a valid page.

**Screenshots**
![image](https://

[2020-01-21 08:45] archfish commented on #6114
ping @sijie

[2020-01-21 09:08] huangdx0726 commented on #6109
--source-type as above

[2020-01-21 10:55] Jennifer88huang commented on #3681
@matansh @grantwwu We're fixing the issue in #6050. You can check the update in #6050. If there is any issue with it, feel free to comment.

[2020-01-21 12:57] sebbASF opened #6115 "Download page link text does not agree with file name"
The displayed text in the links for the Older Releases on the page https://pulsar.apache.org/download/ does not agree with the file to which the link points. e.g.

apache-pulsar-2.4.2-bin-tar.gz
points to a file with the name
apache-pulsar-2.4.2-bin.tar.gz

The links work, but this is confusing.

[2020-01-21 14:04] tuteng commented on #6114
The reason for this problem is that the swagger file for 2.5.0 https://github.com/apache/pulsar/tree/master/site2/website/static/swagger was not generated correctly. Are you interested in fixing this problem, please refer to the following steps:

[code]

And then, you can try new a pull request. @archfish

[2020-01-21 14:18] tuteng commented on #6109
The type `sink-type` or `source-type` of the currently built-in connector should be determined according to the parameter `name` of this file.`pulsar-io.yaml` https://github.com/apache/pulsar/blob/master/pulsar-io/debezium/mongodb/src/main/resources/META-INF/services/pulsar-io.yaml. @huangdx0726

I think we can consider adding instructions about pulsar-io.yaml to the document. @Anonymitaet

[2020-01-21 14:57] #4080 closed

[2020-01-21 15:01] jack-newbury commented on #5992
@sijie I can confirm the issues that are @ckdarby  is having as I'm only using the helm charts and was running into the same issue as described above using the latest release. However, going back to the commit https://github.com/apache/pulsar/commit/811dd45e87600d7163c8f74b40d377831f64bbfb Helm charts work again.

[2020-01-21 15:05] sebbASF opened #6116 "Download page has multiple entries for some artifacts"
The download page has separate entries for "Flume sink" and "Flume source", however these link to identical downloads.

This is confusing and could lead to someone downloading both.

Why not combine the two as "Flume source and sink"?
Similarly for the other duplicates on the page.

[2020-01-21 17:09] adamfeldman commented on #572
@mingfang thank you for sharing that you're using zetcd! How has your experience been?

(pardon me for potentially hijacking this issue -- it is very difficult to find information on zetcd in production...)

[2020-01-21 17:30] mingfang commented on #572
Unfortunately zetcd didn't work very well so I stopped using reverted back to using zookeeper.

The problem was it intercepts the four letter health check command (srvr) so there was no way of knowing if the backend fails.  Also the project seems abandoned.

[2020-01-21 17:43] parth-sarathy opened #6117 "FlinkPulsarProducer: Setting topic dynamically based on message content"
While using FlinkPulsarProducer we need to set topic dynamically based on the message content.

In FlinkKafkaProducer, the sink topic can be set dynamically by overriding getTargetTopic method in KeyedSerializationSchema. FlinkPulsarProducer uses SerializationSchema, PulsarKeyExtractor is used to extract key from the message. How can we change the sink topic based on message content in case of Fli

[2020-01-21 17:46] grantwwu commented on #3681
Unfortunately, I have moved on from my employer which uses Pulsar.  But thanks, anyways, for the fix!

[2020-01-21 17:53] devinbost commented on #6054
@sijie We have, but I can't remember exactly what our findings were.
Is there anything in particular that we should look for regarding `permits`?

[2020-01-21 18:11] devinbost commented on #6054
@cdbartholomew We actually started experiencing this issue before 2.4.0.

[2020-01-21 18:22] devinbost commented on #6054
I noticed that each topic lives on a single broker, which creates a single point of failure.
Is there any interest in making topics higher availability? (I suppose it would be a workaround, but it might help prevent other issues.)

[2020-01-21 19:00] sijie commented on #6054
Is there any interest in making topics higher availability?

We (StreamNative) have been helping folks from Tencent at developing a feature called ReadOnly  brokers. It allows a topic can have multiple owners (one writeable owner and multiple readonly owners). It has been running on production for a while. They will contribute it back soon.

[2020-01-21 19:04] sijie commented on #6054
Incorrect permits has been one of the main reasons causing the consumer to be stalled. You can use "unload" command to unload a topic or a namespace bundle to trigger a consumer reconnect. It resets the consumer state to mitigate the problem.

@codelipenghui and @jiazhai are working a proposal on improving the permits protocol.

I am not sure if your problem is related to permits. but if the same

[2020-01-21 20:02] devinbost commented on #6054
I found an example case where we had a dead topic. (This was on a low-volume topic.)

![image](https://user-images.githubusercontent.com/7418031/72838754-29863b80-3c4e-11ea-9aba-c8538a8f6a4f.png)

[2020-01-21 20:03] devinbost commented on #6054
I found an example involving a dead topic:
![image](https://user-images.githubusercontent.com/7418031/72838845-59354380-3c4e-11ea-9114-b6ccd50ec663.png)

[2020-01-21 20:15] devinbost commented on #6054
Here's another case where we saw the topics on a particular broker freeze.
![image](https://user-images.githubusercontent.com/7418031/72839740-11172080-3c50-11ea-9d42-ed280d0918cd.png)
Notice that both topics on broker 09 froze.

[2020-01-22 01:24] antimpatel commented on #5905
@zymap
Since terminate Api returns the messageId, so To accommodate the above changes we also need to change the response of the API if we want to implement this in the same method.
Why it's not recommended by you to create a new method in API and in TopicBase to accommodate this change?
I believe it's better to have two separate API method, one for a single topic and other for the partitioned top

[2020-01-22 01:28] Jennifer88huang commented on #3681
@grantwwu that's OK. Thanks for reporting the issue.

[2020-01-22 01:37] zymap commented on #5905
@antimpatel  Oh. I missed the response. You are right.

[2020-01-22 01:44] huangdx0726 commented on #6109
[code]
This name is same as  `name`  of  `pulsar-io.yaml` ?

[2020-01-22 02:09] mileschao opened #6119 "Question: consumer seek by timestamp for C ?"
Hi, I notice that there is an member function of `Consumer`
[code]
at `branch-2.5`

Question:
**`consumer seek` by timestamp for C** is supported? or any plan to add this feature?

[2020-01-22 02:16] codelipenghui commented on #6119
Since 2.5.0 released, and #5542 is in the 2.5.0 release. You can download the 2.5.0 at http://pulsar.apache.org/en/versions and try.

[2020-01-22 02:26] sijie commented on #6096
It is a JNI library. So I am not sure why it fails to load it at your platform. Do you have the whole log file of the bookies?

[2020-01-22 02:28] sijie commented on #6054
Interestingly, the available permits seems to be fine (1000). Are you able to get some more stats that we can help debug？

[2020-01-22 02:48] mileschao commented on #6119
I mean this [pulsar_consumer_seek](https://github.com/apache/pulsar/blob/f0d339e67b551a63224c537cfe9518dc5b99574b/pulsar-client-cpp/include/pulsar/c/consumer.h#L235)

But I could not found something like `pulsar_consumer_seek by timestamp` in the 2.5.0 release.

Anything wrong? pls tell me. thx

[2020-01-22 02:52] sijie commented on #5839
@Anonymitaet I think the website has been fixed by #5865. Please double check if the problem exists.

[2020-01-22 02:55] #6058 closed

[2020-01-22 02:57] Gray-Fullbuster commented on #6096
@sijie ok，this is all of bookies's log.
09:31:00.247 [main] INFO org.apache.bookkeeper.bookie.Bookie - Using ledger storage: org.apache.bookkeeper.bookie.storage.ldb.DbledgerStorage
09:31:00.249 [main] INFO org.apache.bookkeeper.bookie.storage.ldb.DbledgerStorage - Started Db Ledger Storage
09:31:00.249 [main] INFO org.apache.bookkeeper.bookie.storage.ldb.DbledgerStorage - - Number of directories:

[2020-01-22 03:00] sijie commented on #6110
I think this is related to #5700. @tuteng can you check why the content was removed?

[2020-01-22 03:02] #6114 closed

[2020-01-22 03:03] sijie commented on #6108
This is related to #6110

[2020-01-22 03:04] sijie commented on #6100
I think this is related to #6110

[2020-01-22 03:20] mileschao commented on #6119
@sijie by the way, the same question for client-go in 2.5.0 release. thx

[2020-01-22 04:24] tuteng commented on #6109
Yes, it is the same, but some connectors do not have the annotation `Connector`, but there must be the pulsar-io.yaml file. @huangdx0726

[2020-01-22 04:27] tuteng commented on #6107
This has been fixed https://github.com/apache/pulsar/pull/6118, so close it.

[2020-01-22 04:27] #6107 closed

[2020-01-22 05:03] sijie commented on #6119
@mileschao it only supports java, c++, and python for 2.5.0.

c is not exposed yet. but it should be straightforward to add one. c-go is doable after c interface is exposed. Do you want to try to contribute one?

[2020-01-22 05:45] mileschao commented on #6119
Ohh.., let me try it.

and
why not code `c++`, `python` and `go` client by wrapping the same `C` client library?
any idea about this?
:)

[2020-01-22 07:27] sijie commented on #6119
The client was originally developed in c++ :-)

[2020-01-22 07:48] jiazhai opened #6121 "Admin rest request for Partitioned topic, like create subscribe, need handle redirect"
Admin rest request for Partitioned topic, like create subscribe, need handle redirect.
This is because some of the sub-partition is not owned by the current broker.

![image](https://user-images.githubusercontent.com/6348208/72861559-3fa30300-3d05-11ea-9e28-8fd556ddda40.png)

[2020-01-22 09:49] snowcrumble opened #6123 "Improve recover time from SPOF"
**Is your feature request related to a problem? Please describe.**
I have done some testing of SPOF by kill a broker which dealing a topic pub/sub on it, my pulsar is deployed on k8s.
The problem is it cost avg 1 minutes for recover time and I found some possible reasons:

1. I found the broker ip in zk "/loadbalance/brokers" was still exist until about 10 second after the broker down, so I think

[2020-01-22 09:55] #6094 closed

[2020-01-22 10:04] sijie commented on #6117
@parth-sarathy I don't think this feature is supported. @yjshen can help look into this issue.

[2020-01-22 11:03] subbu107 commented on #5866
hi yjshen,
Sorry I was away on vacation and could not try this yet.
Were you able to try out the sample code, to reproduce the issue on standalone pulsar?
Do you see any issues with the sample code?

[2020-01-22 13:00] Anonymitaet commented on #5839
I've checked related links in all releases, they are redirected correctly.

[2020-01-22 13:00] #5839 closed

[2020-01-22 14:12] #3681 closed

[2020-01-22 16:21] nareshgbhat commented on #6093
@sijie I am posting a kind of complete log where you can understand more to debug the issue,

pulsar$ git branch
* branch-2.5
  master
pulsar$
pulsar$ mvn --version
Apache Maven 3.6.3 (cecedd343002696d0abb50b32b541b8a6ba2883f)
Maven home: /use/share/apache-maven-3.6.3
Java version: 1.8.0_232, vendor: Oracle Corporation, runtime: /usr/lib/jvm/java-8-openjdk-arm64/jre
Default locale: en_US, platform

[2020-01-22 17:53] merlimat commented on #6123
In case of an ungraceful shutdown (eg: the IP of broker stops responding) there are 2 settings that controls how quickly the failure is detected/fixed:

 1. ZooKeeper session timeout. default 30s. Before the session expires, the ownership of topics still belongs to the failed broker.
 2. Client keep-alive probes. The client sends periodic probes in the connection to detect stale TCP connections. T

[2020-01-22 22:24] Lanayx opened #6127 "Broker can't start with 2.5.0 helm release and replicaCounts set to 1"
**Describe the bug**
The broker is stuck in _CrashLoopBackOff_ on both minikube and google cloud with the same errors.

**To Reproduce**
Steps to reproduce the behavior:
1. use helm template with values-mini.yaml
2. set the following
[code]
3. set zookeeper, bookeeper, broker, proxy replicaCount to 1
4. See error (attached both logs for bookeeper and broker)

**Expected behavior**
Broker can be st

[2020-01-22 22:34] one70six commented on #4334
FYI, for those with TLS issues on Geo-Replication:
https://gist.github.com/sijie/79364497eaa349bf58d9fb760561f930#gistcomment-3149751

[2020-01-23 08:23] #5620 closed

[2020-01-23 08:27] #6056 closed

[2020-01-23 08:29] #5983 closed

[2020-01-23 08:30] #5690 closed

[2020-01-23 13:57] stauvel commented on #1334
I add https://kafkaesque.io/performance-comparison-between-apache-pulsar-and-kafka-latency/

I add this link in reaction to this : https://kafkaesque.io/performance-comparison-between-apache-pulsar-and-kafka-latency/

[2020-01-23 13:58] atris commented on #3828
Hi, If nobody is working on this, can I please be assigned this?

[2020-01-23 15:41] ratcashdev commented on #1334
Nice test, but it seems those measurements might be affected by 'coordinated omission'
http://disq.us/p/26upfkx

[2020-01-23 17:12] gperinazzo opened #6131 "Unable to upgrade bookie to 2.5.0"
**Describe the bug**
When upgrading an existing 2.4.1 bookie cluster to 2.5.0 on kubernetes, the bookie fails to start with the following exception during initialization: `io.netty.util.internal.OutOfDirectMemoryError: failed to allocate 16777216 byte(s) of direct memory (used: 2147483648, max: 2147483648)`

The node where the bookie was deployed has more than enough free memory. Rolling the booki

[2020-01-23 17:50] gperinazzo commented on #6131
Seems that reducing `dbStorage_writeCacheMaxSizeMb` and `dbStorage_readAheadCacheMaxSizeMb` to 512 each allows the bookie to initialize, while setting it to 2048 (after adjusting the MaxDirectMemorySize to 14g) gives me the following error: https://github.com/apache/bookkeeper/blob/master/bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/DbLedgerStorage.java#L114

Maybe nett

[2020-01-23 19:10] merlimat commented on #6131
Seems like the max memory size is set to 2GBs, are you setting directly the `dbStorage_writeCacheMaxSizeMb` or leaving them empty?

[2020-01-23 19:27] gperinazzo commented on #6131
I had them set at first, but then tested leaving it empty. It defaults to 512Mb, no matter what I set `XX:MaxDirectMemorySize` to (tried up to 14Gb)

[2020-01-23 19:35] merlimat commented on #6131
It should get set to 1/4th of overall direct mem size:

https://github.com/apache/bookkeeper/blob/163db4496d50cae198b80c9d88c14579f6d2e9f3/bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/DbLedgerStorage.java#L83

[2020-01-23 19:38] gperinazzo commented on #6131
Yes, it's seeing a max direct memory of 2gb regardless of what I set it. The same settings worked properly for pulsar 2.4.x

[2020-01-23 19:52] merlimat commented on #6131
Got it.

It works for standalone:

[code]

I think this got badly broken in #5675 because it's applying the mem setting from `conf/bkenv.sh`.

[2020-01-23 20:12] gperinazzo commented on #6131
I just tested it and I can confirm that #5675 is the reason: I added `BOOKIE_MEM` to my deployment and `bin/apply-config-from-env.py conf/bkenv.sh` to the container command  (don't think this is necessary, but it's done for `pulsar_env.sh`), and the default has changed to the expected value given my MaxDirectMemorySize, as expected.

This should be changed in the example kubernetes yaml and helm c

[2020-01-24 03:22] #6115 closed

[2020-01-24 03:47] sijie commented on #6127
@Lanayx

the error "org.apache.bookkeeper.mledger.ManagedLedgerException: Not enough non-faulty bookies available".

The bookkeeper replicaCount was 3 in values-mini.yaml. If you are changing it to 1, you need to change the ensemble size, write quorum and ack quorum to 1.

[code]

[2020-01-24 03:56] sijie commented on #3828
@atris the bookkeeper change has made to Pulsar. #5822 is enabling the explicit lac configuration. once that is fixed, this task is done.

[2020-01-24 04:06] sijie commented on #6108
This was fixed by #6125

[2020-01-24 04:06] #6108 closed

[2020-01-24 04:28] sijie commented on #6093
@nareshgbhat thank you! will take a look.

[2020-01-24 07:02] #5997 closed

[2020-01-24 07:02] #6079 closed

[2020-01-24 09:26] Lanayx commented on #6127
@sijie Unfortunately it didn't help, adding new logs
[bookeeper-new.log](https://github.com/apache/pulsar/files/4107608/bookeeper-new.log)
[broker-new.log](https://github.com/apache/pulsar/files/4107609/broker-new.log)

[2020-01-24 09:29] subbu107 commented on #5866
Hi @yjshen ,
I've added the program but haven't been able to run it as yet since I'm having a few issues running it on the local docker environment.
Attaching the code in case you could  run it.
[flink-pulsar-playground-flinkwindow.zip](https://github.com/apache/pulsar/files/4107618/flink-pulsar-playground-flinkwindow.zip)

[2020-01-24 11:03] sebbASF commented on #6115
The links on the website still show the wrong text

[2020-01-24 14:25] gfexensa opened #6134 "broker prometheus metrics export fails when bookie is launched by the broker"
#### Expected behavior

in our setting, the bookeeper was started at the same time as the broker with:
% bin/pulsar broker --run-bookie --run-bookie-autorecovery

and I was able to get bookkeeper metrics on
'http://pulsar-node-1.mydomain.net:8000/metrics'

and I should had been able to get metrics from the broker too here :
http://pulsar-node-1.mydomain.net:8080/metrics

#### Actual behavior

The

[2020-01-24 15:43] dmi-kov commented on #4481
hey @liketic, I've got the same issue on the latest (2.5.0) version of Pulsar.

[2020-01-24 19:06] pixime opened #6135 "Unable to deploy on GKE, blocked at bookie.yaml step"
I'm trying to deploy pulsar on gke according to the Deploy pulsar components chapter in the documentation (https://pulsar.apache.org/docs/en/deploy-kubernetes/#deploy-pulsar-components). I use the apache-pulsar-2.5.0/deployment/kubernetes/google-kubernetes-engine yaml source directory.

Steps :
- kubectl create -f zookeeper.yaml : OK, ok 3 replicated pods are running
- kubectl create -f cluster-ma

[2020-01-24 22:13] EugenDueck commented on #6019
@dhagrow @jiazhai `InitialPosition` is a feature of the **reader**, but pattern subscription is a feature of the **consumer**, so unless and until Pulsar starts offering pattern subscription for readers, this is not a bug.

[2020-01-24 22:56] devinbost opened #6137 "Large number of unstable Github tests for Pulsar"
**Description**
Pulsar tests regularly succeed locally, but after submitting a Pull Request to merge changes into master, some of the tests (usually < 3 at a time) will randomly fail.

Examples include, but are not limited to:

In CI - CPP, Python Tests / cpp-tests:

-     BasicEndToEndTest.testPatternEmptyUnsubscribe
-     BasicEndToEndTest.testSinglePartitionRoutingPolicy

In CI - Unit - Brokers

[2020-01-24 23:19] devinbost commented on #6137
Do we ever have cases where multiple threads are stubbing/verifying a shared mock?

[2020-01-25 00:59] devinbost commented on #6137
@merlimat Do you have any theories about what could be happening? It looks like you've spent a decent amount of time in a lot of these tests.

[2020-01-25 03:05] dhagrow commented on #6019
@EugenDueck #3494 seems to suggest otherwise. Unless I'm missing something?

[2020-01-25 03:07] devinbost commented on #6054
We will need to capture some stats when this happens next. After my team made some changes to improve the stability of the Zookeeper cluster, the frequency of this issue decreased on v2.4.0. So, we will need to update one of the clusters to use 2.4.2 to reproduce this issue again.

[2020-01-25 03:14] sijie commented on #6115
@sebbASF the website CI hasn't run yet. I kicked one now. let's see the result.

[2020-01-25 03:21] #5326 closed

[2020-01-25 03:21] devinbost commented on #6054
I also noticed that some of the bookkeeper nodes are currently running:
`apachepulsar/pulsar-all:2.3.0`
and some of them are running:
`streamlio/pulsar-all:2.4.0-streamlio-24`

I don't know if that would have anything to do with the issue.

[2020-01-25 03:33] sijie commented on #6054
usually, this kind of problem is not related to bookkeeper. Is the broker running the same version and what is the version?

[2020-01-25 05:54] EugenDueck commented on #6019
@dhagrow You are absolutely right!

So I checked your link and the docs, the only thing that readers can do and consumers cannot in terms of initial position is their ability to start at a specific message, denoted by message id.

[2020-01-25 16:53] nicktoker opened #6140 "dependiencis"
dependencies versions not need to be in the parent pom file, e.g. let the user choose

when using pulsar for example flink-pulsar, it bring a old version of flink

even if i use a new one
flink 1.9 and it bring me from pulsar dependencies flink 1.6 without option to change

don't set a versions in pulsar pom of external  jar if they are not part of the pulsar version
user need to add his dependenc

[2020-01-25 17:24] devinbost commented on #6137
@sijie I added a lot of detail about the different exceptions that are appearing.

[2020-01-25 20:08] roman-popenov opened #6141 "Pulsar manager Negative initial size: -1 error"
Following error can be seen in the logs of the pulsar manager:

[code]
It happens when the pulsar manager tries to communicate to the broker via the pulsar proxy.  Proxy is working just fine when producing and consuming messages via python client code. The pulsar manager UI just spins.

Possibly similar issue to https://github.com/streamnative/pulsarctl/pull/157

[2020-01-25 20:22] agilob commented on #3289
Question is answered, but bug isn't fixed and documentation is misleading.

[2020-01-25 23:13] sebbASF commented on #6115
AFAICT the web page has not yet been updated.
All the 'Older releases' artifact display names end in '-tar.gz' instead of '.tar.gz'

[2020-01-25 23:36] sijie commented on #6115
@sebbASF the website failed to build due to some other changes. a fix is in progress : #6142

[2020-01-25 23:56] sijie commented on #3289
@agilob can you let us know which documentation page you were checking? We can improve it. Or your contributions are welcome as well.

[2020-01-26 00:07] roman-popenov opened #6143 "Add the rbac policy to give the brokers permissions to deploy functions"
It is possible to set the `Functions` environment as **Kubernetes** so that they can be scheduled and run in a pod. First, the broker should have a `serviceAccountName` set. Second, in order for the broker to deploy functions it needs to have rbac policy set. Currently, one would need to create a yaml object definition file and apply it manually. It would be great to have that file already in the

[2020-01-26 07:33] agilob commented on #3289
Since I'm here, I would like to say that documentation is misleading and incorrect in many places. It took me 3 days to setup cluster of zookeeper, bookkeeper and pulsar with metrics for each to get messages passing :(

The problem wasn't purely in pulsar, bookkeeper is also badly documented, official docker examples often do not work, are out of date or incomplete. It's not my, I learnt about pul

[2020-01-26 17:05] sijie commented on #6141
@roman-popenov the code repo of pulsar-manager is at  https://github.com/apache/pulsar-manager

[2020-01-26 17:06] sijie commented on #6141
I have created apache/pusar-manager#252. will close this issue.

[2020-01-26 17:06] #6141 closed

[2020-01-26 17:13] sijie commented on #6140
@nicktoker the current flink connector in the main repo only works for 1.6. It doesn't work for 1.9.

If you want to run a flink connector on Flink 1.9, you can try https://github.com/streamnative/pulsar-flink. That's the connector that is being pushed to Flink upstream.

[2020-01-26 17:34] sebbASF commented on #6115
Looks like the page has now been updated.

[2020-01-26 17:36] sijie commented on #3289
@agilob yes. there are too many stuff to improve regarding documentation. any contributions are highly recommended.

[2020-01-26 17:38] sijie commented on #6115
yes. we merged #6142 yesterday and the website was built successfully.

[2020-01-26 20:18] dhealy05 opened #6146 "Pulsar SQL Cluster Fails Out of the Box with Default Deployment v2.5.0"
With a default deployment of 3 Zookeeper nodes, 3 Broker/BookKeeper nodes, and 3 Pulsar SQL nodes, SQL query "select * from pulsar."public/default".generator_test;" fails.

"select * from system.runtime.nodes;" works correctly and
"show tables in pulsar."public/default";" works correctly.

There are two ways in which it fails:

1. For a cluster with multiple hosts, where conf/presto/catalog/pulsar

[2020-01-27 05:19] stevenarvar commented on #5555
I ran in the the same issue in 2.4.2:

pulsar-admin topics delete-partitioned-topic persistent://qa04/messaging/topic-a
05:12:04.404 [AsyncHttpClient-5-1] WARN  org.apache.pulsar.client.admin.internal.BaseResource - [http://pulsar.narvar.internal:8080/admin/v2/persistent/qa04/messaging/topic-a/partitions?force=false] Failed to perform http delete request: javax.ws.rs.InternalServerErrorException:

[2020-01-27 09:33] sbourkeostk commented on #5518
I have a potential fix for this. I mentioned it over on https://github.com/streamnative/pulsar/issues/85 but I just noticed now that that's a fork. So here's the info:

sbourkeostk@60f5163
The main idea is that it adds a boolean python3 option to the function config.
This involves a change to the function config protobuf definition. Is that ok? If that's not a show stopper, I can bring it up to da

[2020-01-27 13:34] yoavcloud commented on #6127
I'm experiencing the same issue. Any assistance will be appreciated.

[2020-01-27 14:03] roman-popenov commented on #5958
There is a mistake in the charts pulsar manager template file at line 65:
{{ toYaml .Values.grafana.resources | indent 10 }} should be {{ toYaml .Values.pulsar_manager.resources | indent 12 }}

[2020-01-27 15:54] gaborho commented on #6135
Hello, I have the same issue, but on AWS EKS. In case you remove PULSAR_PREFIX_ from all the keys defined in the ConfigMap of resource of bookie.yaml (in case of GKE) or in bookkeeper.yaml (in case of AWS) then it works.

[2020-01-27 16:58] devinbost commented on #5518
@sijie I've been talking with @sbourkeostk about the change.
We're wondering what the best approach would be regarding adding support for Python3.
I'm wondering if it makes sense to treat Python3 like a different runtime. Perhaps we could change the Python runtime to Python2 and then add Python3 as a new runtime.
(In the picture below from @sbourkeostk 's commit, I'm thinking we would move python3

[2020-01-27 17:25] pixime commented on #6135
What do you mean exactly ?

This is what I did:

**1. fist attempt:**
I commented only the PULSAR_PREFIX_zkServers variable
[code]
**But it failed**.

**2° attempt:**
With all PULSAR_PREFIX variables commented
[code]
**And it failed as well**.

[2020-01-27 22:03] svenhornberg commented on #5447
Any statement if you would try to implement it ? 3 months have passed

[2020-01-27 22:19] aahmed-se commented on #5518
@merlimat @jerrypeng @srkukarni Please add your comments. I am don't think this a clean way to add support for switching python interpretes.

[2020-01-27 23:05] devinbost commented on #5518
I'm open to better ideas about how to switch Python interpreters.
It's true that making a change in the gRPC layer would touch a lot of things.

[2020-01-27 23:12] devinbost commented on #6054
The brokers are all running `streamlio/pulsar-all:2.4.0-streamlio-24`

[2020-01-27 23:13] devinbost commented on #6054
The brokers are also running as the function workers. (There aren't dedicated function worker instances.)

[2020-01-27 23:33] devinbost commented on #5555
Is this issue intermittent or continuous?

[2020-01-27 23:35] devinbost commented on #5209
I've seen this issue as well.
@merlimat For what it counts, on other issues, I've seen intermittent 500's appear without stack traces appearing in the broker logs. Perhaps the errors are getting suppressed somewhere.

[2020-01-27 23:39] devinbost commented on #5948
@wjybupt Is this issue intermittent or constant?

[2020-01-27 23:41] devinbost commented on #4937
@pouledodue What was the resolution on this?

[2020-01-28 00:20] devinbost commented on #5519
@KannarFr Do you notice any behavior where topics on a particular broker are freezing (where the topics on a particular broker seem to stop producing output) until the broker is restarted?
The reason I ask is that you mentioned:

[2020-01-28 00:39] srkukarni commented on #5518
We already have the runtimeflags that was used to pass any runtime specific flags. We could use the same approach in creating a new flag(say runtimebinary or something like that) that would just take in a string and use that as exec point.

[2020-01-28 01:31] roman-popenov commented on #5994
I have tried the following work-around in the helm template `pulsar-manager-deployment.yaml` file, and it does seem to be working:

[code]

Anyone has suggestions as to how this can be improved?

[2020-01-28 01:32] EugenDueck opened #6149 "[docs] docusaurus in dev crashes"
**Bug description**
When running docusaurus locally, as described in pulsar/site2/README.md, the server will run and serve for a while, and then, after some minutes (11:55 in the one case that I timed) crash out of the blue - without any browsing activity at the time of the crash that could be related.

The error message:
[code]

**To Reproduce**
[code]
Then browse to a page like e.g. http://local

[2020-01-28 01:47] wjybupt commented on #5948
it is constant

---Original---
From: "Devin Bost"<notifications@github.com&gt;
Date: Tue, Jan 28, 2020 07:39 AM
To: "apache/pulsar"<pulsar@noreply.github.com&gt;;
Cc: "wjybupt"<wjybupt@qq.com&gt;;"Mention"<mention@noreply.github.com&gt;;
Subject: Re: [apache/pulsar] can't create function on some node of the  functions-worker (#5948)

@wjybupt Is this issue intermittent or constant?

—
You are rece

[2020-01-28 02:00] sijie commented on #5994
The approach is great. A small improvement you can make is to change `-ge {{ .Values.broker.replicaCount }}` to `-ge 1`.

[2020-01-28 02:13] EugenDueck commented on #6149
This is actually not a Pulsar bug, so I guess the type/bug label is wrong, but I don't see a way to change it.

[2020-01-28 02:59] devinbost opened #6151 "Producers stopped producing, intermittent 500's from Admin CLI and Zookeeper exceptions in broker logs"
**Describe the bug**
Periodically, running various Admin CLI commands results in a 500 error.
Usually, when we run the command again several seconds later, the error does not reoccur. However, sometimes the problem seems to get worse and result in consistent 500 errors for a period of time. Sometimes, restarting brokers seems to resolve the issue.

**To Reproduce**
Not sure what usually causes thi

[2020-01-28 03:00] devinbost commented on #6151
This might be related to this issue (#4718): https://github.com/apache/pulsar/issues/4718

[2020-01-28 03:04] devinbost commented on #6151
It's also possible that this is related to this issue: https://github.com/apache/pulsar/issues/3044
(Both issues are associated with `org.apache.zookeeper.KeeperException$ConnectionLossException: KeeperErrorCode = ConnectionLoss`)

[2020-01-28 03:43] devinbost commented on #6151
One of the clusters is also showing that all of the producers are dead.
![image](https://user-images.githubusercontent.com/7418031/73234029-9ebda900-4145-11ea-8aa3-04728e0e116e.png)

[2020-01-28 03:47] devinbost commented on #6151
We're also seeing timeouts on `persistent://public/functions/assignments`:

[code]

We also found this:

[code]

[2020-01-28 04:03] devinbost commented on #6151
Here's where the "is own my different zookeeper-ssession" exception is getting thrown:
https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java#L806

[2020-01-28 04:15] devinbost commented on #6151
There might be a problem with how the clusters are getting replicated.
There are two local clusters in this configuration and one global cluster.
Only one of the local clusters is replicating to the global cluster.

This is present on the global zookeeper:
[code]

[2020-01-28 04:24] devinbost commented on #6151
So, it almost appears that the Global Zookeeper is mixing up the brokers in the different local clusters.

[2020-01-28 05:05] devinbost commented on #6151
What would cause a broker to end up with a znode that's owned by a different Zookeeper session?

[2020-01-28 05:14] devinbost commented on #6151
What would cause a broker to end up with a znode that's owned by a different Zookeeper session?

Is it something like this?

(https://zookeeper.apache.org/doc/r3.3.5/zookeeperProgrammers.html#ch_zkSessions)

[2020-01-28 05:24] parth-sarathy commented on #6117
Since we are upgrading our application to use Pulsar instead of Kafka as message bus, I had raised this issue as Enhancement Request (to prevent functionality loss after the upgrade).

[2020-01-28 07:44] gaborho commented on #6135
What I meant is that you should remove PULSAR_PREFIX_ from the key names. So you should try with this settings:

dbStorage_writeCacheMaxSizeMb: "1024"
dbStorage_readAheadCacheMaxSizeMb: "1024"
zkServers: zk-0.zookeeper,zk-1.zookeeper,zk-2.zookeeper
statsProviderClass: org.apache.bookkeeper.stats.prometheus.PrometheusMetricsProvider
useHostNameAsBookieID: "true"

[2020-01-28 08:47] Lanayx opened #6154 "Brokers constantly crash in the k8s cluster (Could not connect to bookie) after bookies ip change"
**Describe the bug**
Brokers constantly failing in a 2.5.0 GKE cluster with a _CrashLoopBackOff_ . They work for several hours and then fail. Tried installing clean cluster 3 days in a raw and the behavior persisted. Looks like there is a bookie discovering issue

**To Reproduce**
Steps to reproduce the behavior:
1. Use default helm chart values-mini.yaml on GKE 3 nodes
2. Use following values:
[c

[2020-01-28 09:07] sijie commented on #5447
@svenhornberg The beam community was trying to drive the development for this connector. Since they are the experts of beam. I didn't closely follow the progress there. Happy to follow up with them and get back here.

[2020-01-28 09:10] sijie commented on #6054
Given it is running a special version, it is hard for us to realize if there are any special changes in that version. I think it is better to provide some jstack or heap dump when this problem happens. Otherwise it is hard for the community to help here.

[2020-01-28 09:37] #4756 closed

[2020-01-28 10:04] youurayy opened #6157 "Failing to cumulative acknowledge messages as old as 15 seconds"
Observed behavior: Topic backlog is filling up and never cleared.
Expected behavior: Topic backlog is cleared.
In further tests observed to exhibit over as low as 5 seconds / 5 consecutive messages.

- Pulsar 2.4.2, cluster of 4 * brokers/proxies/bookies/zk
- Single persistent non-partitioned topic
- Failover subscription
- Single Producer
- Single Consumer

Namespace creation:
[code]

Client (sha

[2020-01-28 10:31] youurayy commented on #5994
in addition to the borker-waiting script above, I'm currently using this to wait for ZooKeeper:

`{{- define "pulsar.waitZookeeperReady" -}}`
`set -o pipefail; CMD="bin/pulsar zookeeper-shell -server {{ template "pulsar.fullname" . }}-{{ .Values.zookeeper.component }} ls /admin/clusters"; until [ $( $CMD 2>&1 | tail -n 1 | grep -c {{ template "pulsar.fullname" . }} ) -eq 1 ]; do echo "waiting"; sl

[2020-01-28 11:06] svenhornberg commented on #5447
@sijie thank you for clarifying

[2020-01-28 17:08] devinbost commented on #6151
Here's an exception that appeared in the Bookeeper logs:

[code]

[2020-01-28 20:39] devinbost commented on #6054
@sijieg Thanks for the advice.
I'll talk with the team about moving to a standard Pulsar release.
We did, however, experience this issue on the standard Pulsar 2.4.2 release.

[2020-01-28 22:32] KannarFr commented on #5519
Only the log lines quoted in this issue.

[2020-01-28 22:33] KannarFr commented on #5519
But I had this issue on v2.3.0 IIRC, it's not the case on v2.4.0+.

[2020-01-29 02:22] codelipenghui commented on #6054
@devinbost There is a fix https://github.com/apache/pulsar/pull/5894 for broker stop dispatch messages and it was released in 2.5.0.

[2020-01-29 05:41] devinbost commented on #4718
We were getting this exact error when trying to deploy a source (after turning on geo-replication). I started exploring in the local Zookeeper cluster, and I found that two of our brokers had different entries.
It looked like this:

[code]

So, we tried deploying the source from a broker that wasn't host07 or host08, and it succeeded without the exception.

[2020-01-29 15:19] bezmax opened #6161 "Cloning subscriptions"
**Is your feature request related to a problem? Please describe.**
We are designing a stateful stream processing system with periodic snapshots of the state. Only after the state is snapshotted - we acknowledge all the pending messages in pulsar's subscription, allowing us to process the stream in a fault-tolerant way. If the processing fails - we can always redeliver unacknowledged messages and s

[2020-01-29 16:01] pl6306 opened #6162 "Can't control the queue size in shared subscription with multiple topics"
**Describe the bug**
In the use case where I have multiple consumers of the type pulsar.ConsumerType.Shared, the receiver_queue_size=1 parameter is ignored? It works fine when it is a single topic. It also doesn't work in a partitioned topic

**To Reproduce**
Steps to reproduce the behavior:
pts = ['topic-1','topic-2','topic-3']
consumer = client.subscribe(topic=pts,

[2020-01-29 21:14] devinbost commented on #6137
I noticed that there are many tests (including at least two of the tests above) that use this block of code that involves a Thread.sleep, which is often an anti-pattern in tests.

In MockedPulsarServiceBaseTest.java:
[code]

At least these two tests (referenced above) use `retryStrategically`:

org.apache.pulsar.client.kafka.test.KafkaProducerSimpleConsumerTest
  -     testPulsarKafkaProducerWithS

[2020-01-29 22:24] pushkar-engagio opened #6163 "Pulsar cluster slow to recover from a failed bookkeeper node"
#### Expected behavior
I am trying to replace bookkeeper nodes in the cluster. I have a 3 nodes bookkeeper cluster. I added 3 new bookkeeper nodes to the cluster. Shutdown one of the nodes and initiated decommissionbookie process to move ledger to other healthy nodes. There were total 13k ledgers. the process is going but it's been 3 weeks and i still have around 6k ledgers to recover.
First 6k le

[2020-01-30 00:43] nicknezis commented on #5534
This is cool to see.  A team I am on was going to start making a Pulsar Operator using Ansible OperatorSDK.  https://github.com/operator-framework/operator-sdk/blob/master/doc/ansible/user-guide.md

Here is an Ansible Operator example for reference.
https://github.com/tomaszkiewicz/mysql-operator/tree/335556ee3331ee7deba9049eafd67ad130125174/playbooks

Would the Pulsar team be interested in this w

[2020-01-30 02:39] avillev opened #6165 "Topic auto expiration"
I am using Pulsar as a very convenient PubSub system with most of its topics created automatically over time. The problem is that I obviously end up with a lot of unused topics over time.

I would love to have some kind of: "Topic expiration" parameter which could allow me to say: "If a topic does not have any activity (producer, subscription) since X amount of time, then delete it"

I can clean t

[2020-01-30 02:48] avillev opened #6166 "Windowed consumers/functions"
Using Kafka Streams, I was able to use WindowedStreams to filter and rate limit the events of a topic over time based on event priorities.
Ex: Only 5 messages are accepted per second. We only take the most important ones within one second.
I have been checking Pulsar functions to achieve the same thing and could not find a way.

I would love to have the possibility in a pulsar function or in a con

[2020-01-30 02:50] codelipenghui commented on #6161
Reader supports seek method https://github.com/apache/pulsar/blob/master/pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Reader.java#L133 . Is it a achieve for your requirement?

[2020-01-30 03:04] codelipenghui commented on #6162
If topic count of a multi topic consumer greater than the given receiverQueueSize, the receiverQueueSize of the consumer will be the topic count. In java, you can check here: https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java#L164

BTW, what language client do you use?

[2020-01-30 03:22] codelipenghui commented on #6165
This PR #6077 supports delete inactive topic when subscriptions caught up and added the `brokerDeleteInactiveTopicsMaxInactiveDurationSeconds`,  here
 is the added configurations for inactive topic deleteion :https://github.com/apache/pulsar/pull/6077/files#diff-429aadcb840118bf9881b1d696e02cfdR103-R113

[2020-01-30 03:32] bezmax commented on #6161
Yes, as I mentioned in my last paragraph, Reader is the only alternative that would work. I would like to avoid using it if possible, as we would need to reimplement full functionality of subscriptions but on the client side, as we need an out-of-order acknowledgements as well.

Maybe explaining the full flow of the system (Apache Flink based) would be useful:

Message is read from pulsar and sent

[2020-01-30 03:38] codelipenghui commented on #6166
Batch receiving for consumer was supported in 2.5.0, here is the documentation for batch receiving : http://pulsar.apache.org/docs/en/client-libraries-java/#batch-receive

Pulsar supports window function since 2.1.0, looks there is no document for window function. I think you can see the example of window function

https://github.com/apache/pulsar/blob/master/pulsar-functions/java-examples/src/mai

[2020-01-30 03:53] codelipenghui commented on #6161
But essentially the copied subscription is copy a starting point of original subscription, isn't it?  We just need to store last N committed message id so that we can re-consume message from that point. Remind me if i miss something here, thanks.

I'm not familiar with Apache Flink, I would like add @yjshen to join the discussion since he has done a lot of work on Pulsar and Flink integration.

[2020-01-30 04:32] avillev commented on #6165
Thanks @codelipenghui
The ticket mentions "Currently, pulsar support delete inactive topic which has no active producers and no subscriptions". Which configuration is that ?

[2020-01-30 04:36] avillev commented on #6166
Wonderful, with this and that I should be able to do the same thing :). Thank you

[2020-01-30 06:41] avillev commented on #6166
I have checked the examples but it does not seem to be the same thing.

To have the equivalent of the TimedWindow feature of Kafka stream we would need a function that takes only the messages from t1 to t2 periodically.
Neither the batch consumer and those window functions would allow us the do the same.

Is there a way to do that?

[2020-01-30 07:12] k2la opened #6168 "Unacked messages are not redelivered on time on C++"
#### Expected behavior
Unacked messages are redelivered after about unAckedMessagesTimeout.

#### Actual behavior
As the following log, unacked messages are redelivered after about 2 * unAckedMessagesTimeout.

[code]

#### Steps to reproduce
On C++ lib:
1. Set `unAckedMessagesTimeout`.
2. Receive messages and not ack them.

#### System configuration
**Pulsar version**: 2.5.0
**Client OS**: MacOS 1

[2020-01-30 07:56] codelipenghui commented on #6165
[code]
Not released yet, you can build from master branch.

[2020-01-30 08:11] devinbost commented on #6137
After discovering quite a few closed issues involving intermittent tests, I realized that almost all of them involved race conditions or concurrency issues involving shared state.
So, I'll start looking at these failing tests in greater depth individually.
I'm hoping that some common causes will emerge, but so far, it looks like each one of the solved intermittent tests has been a unique case.

[2020-01-30 08:27] codelipenghui commented on #6166
You can try to set `windowLengthDurationMs` to start a time based window function. Because there is no example or documentation for time window function.

[2020-01-30 08:32] avillev commented on #6166
Hum, okay. Shouldn't we consider adding an example in the documentation?

[2020-01-30 08:36] codelipenghui commented on #6166
Yes, here is a issue track the function documentation https://github.com/apache/pulsar/issues/5520 , if you are interested in contribution, welcome!

[2020-01-30 08:49] codelipenghui commented on #6168
@k2la Thanks for adding this issue. Feel free to discuss here if you have any idea. I think cpp client can use the same approach as java client. Here is the pull request in java client: #3118

[2020-01-30 14:11] KannarFr opened #6170 "Support system env var as functions parameters"
**Is your feature request related to a problem? Please describe.**
Hi, I'd like to use YAML functions configurations files to pass creds to functions, but I still want use versioned YAML configurations file without have creds in repo.

**Describe the solution you'd like**
Something in the YAML description that uses `runtimeFlags: -Denv1=${SYSTEM_ENV1}...`

[2020-01-30 15:05] sbourkeostk opened #6171 "Python Functions broken by logging change"
**Describe the bug**
Native logging was added to the Python client in #6113 with a change to the constructor args. This change is not accommodated in the Python Function handling. python_instance_main uses the old args order causing the args to get misinterpreted.
The new pulsar.Client constructor is:
[code]
pulsar-functions-instance python_instance_main calls:
[code]
causing the args from `use_tl

[2020-01-31 01:00] EugenDueck opened #6173 "Log compaction fails due to timeout"
**Describe the bug**
Log compaction fails due to a timeout.

**To Reproduce**
1. Start pulsar standalone
1. Create producer
2. Produce messages at high throughput
3. Trigger topic compaction
4. Read compaction status

**Detailed steps to reproduce:**

0. Clear all state
[code]

1. Start pulsar standalone
[code]

2. Create producer
[code]

3. Produce messages at high throughput
[code]

4. Trigger t

[2020-01-31 02:42] codelipenghui commented on #6173
@EugenDueck
I've tried on my laptop, it's hard to reproduce. Here is my reproduce steps:
[code]

Did I lose some information？

[2020-01-31 02:58] EugenDueck commented on #6173
@codelipenghui  kannarfr over on slack#general is seeing the same problem, so it's certainly not just me.
Did you create your producer exactly as I did, and did you produce messages in the same way? (see "detailed steps to reproduce")

[2020-01-31 05:26] sijie commented on #5534
I think both ansible and go operators can co-exist. I would also recommend submitting the operators to the operator hub as well so that it can be exposed to wider community.

[2020-01-31 05:43] sijie commented on #5958
I think the change was for helm3. We might need to consider support both helm3 and helm2.

[2020-01-31 10:44] pienio7 commented on #6173
I have the same problem with timeout. This problem occurs when I add empty message to topic and start it compaction.
After this problem appear I can't read this compacted topic till I reset broker.

[2020-01-31 11:03] nicolo-paganin opened #6175 "Strange CPU usage in standalone using Docker"
**Describe the bug**
I am testing Pulsar 2.5.0 in the standalone mode using Docker 2.2.0.0.
The container is created using docker-compose, this is the configuration:

[code]

I noted a strange cpu usage, always ~40% cpu usage without doing any operation after the `docker-compose up`, look at this log

[code]

[2020-01-31 11:19] EugenDueck commented on #6173
@pienio7 What do you mean by "empty"? Is the value of the message empty? What is the data type of your message?

[2020-01-31 11:39] pienio7 commented on #6173
@EugenDueck Yes, the value of message is empty.
`producer.send(''.encode('utf-8'), partition_key=key)`

[2020-01-31 11:55] EugenDueck commented on #6173
@pienio7 So I guess this is python, and the data type of your topic as a `bytes` (a byte array), and an empty one in this case.

[2020-01-31 12:06] pienio7 commented on #6173
@EugenDueck  Yes

[2020-01-31 14:27] KannarFr commented on #6173
Hi, in my case the topic is empty, but anyway the error displayed if not meaning full. But I understand that it fails if topic is empty.

[2020-01-31 15:28] yjshen opened #6177 "[Documentation]Wrong description of routing modes"

[2020-01-31 18:23] sijie opened #6179 "Flaky-test: FunctionsCLITest#testUploadDownload"
[code]

[2020-02-01 07:52] #5994 closed

[2020-02-02 04:30] pl6306 commented on #6162
I use the python client.

[2020-02-02 04:34] pl6306 opened #6185 "persistent://public/default/extract-text-.* does match everything topic starts with extract-text?"
**Describe the bug**
I am using the python client with pulsar 2.4.2. I made a subscription with persistent://public/default/extract-text-.* expecting that it would subscribe to all topics that start with extract-text but instead pulsar just creates a topic called persistent://public/default/extract-text-.*? Is this a bug or is there a different syntax to subscribe to all topics starting with extra

[2020-02-02 05:32] sky-big commented on #5534
The next step is to publish to [OperatorHub](https://operatorhub.io/)

[2020-02-02 11:44] chrsoo commented on #5534
@sijie any feedback on this?

@sky-big  sorry for not getting back to you, the pulsar project took a back-seat for while where I work. It is getting reprioritised again so I will start looking into that PR again. Note that I am not talking about code at this point but at least I should be able to put how I think it should work.

[2020-02-02 12:02] sky-big commented on #5534
@chrsoo OK

[2020-02-02 12:57] sky-big commented on #5534
I created slack https://pulsaroperator.slack.com/

[2020-02-02 15:05] pl6306 commented on #6185
The multi topic feature does not work as documented. Here is a simple test to show

bin/pulsar-client consume my-topic-.* -s "first-subscription"

That should make a subscription to all topics that start with my-topic-

That means the consumer should receive a message from producer publishing to my-topic-hello

bin/pulsar-client produce my-topic-hello --messages "hello-pulsar"

It doesn't. Somethi

[2020-02-02 15:45] nicknezis commented on #5534
Why not just an #operator channel in the Pulsar Slack? We hang out in there so not sure if this is big enough effort to need a whole new Slack.

Having a design spec laid out is a great idea because we are starting to build something similar. If we have an agreed upon approach, members from my team could contribute functionality to flesh out the implementation.

Also we can perhaps keep separate O

[2020-02-03 02:26] Anonymitaet opened #6186 "[Doc] Add explanations for methods in producer and consumer are thread-safe in 5 language clients"
Add missing docs

![image](https://user-images.githubusercontent.com/50226895/73621053-8c74cb00-466f-11ea-910b-469cc057ee45.png)

[2020-02-03 02:56] jiazhai commented on #6137
Thanks @devinbost for the great help

[2020-02-03 03:24] jiazhai commented on #6146
@dhealy05 Thanks for reporting this issue.
the 1st issue seems related to the error handling of multi-host client config.
the 2nd issue seems related to the error of metadata init.
regarding the 2nd issue, did you execute the metadata format for the cluster?

[2020-02-03 03:28] jiazhai commented on #6149
Thanks @EugenDueck for the help of report and analysis this issue, seems this is related to  shama/gaze#126

[2020-02-03 03:32] jiazhai commented on #6185
@pl6306 This is not supported in client tools like `bin/pulsar-client`. But it should be supported in python  client.
What is your python code looks like?

[2020-02-03 03:39] jiazhai commented on #6185
Here is the test code that cover's this case:
[test_topics_pattern_consumer](https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/python/pulsar_test.py#L901)

[2020-02-03 03:46] jiazhai commented on #6154
@Lanayx How is the status now?
looks from `broker-1.log`, the first error is related to  net work routing error:
[code]

[2020-02-03 03:57] jiazhai commented on #6151
Thanks for the report and analysis @devinbost . What is the status now? Is there a way to reproduce this issue?

[2020-02-03 04:03] jiazhai commented on #6157
Thanks for the detailed issue reporting @youurayy . we will look into it.
@codelipenghui Is it related with the dispatcher issue that you fixed recently?

[2020-02-03 04:06] jiazhai commented on #6161
@bezmax Would you please help answer @codelipenghui's comments above?

[2020-02-03 04:08] jiazhai commented on #6162
@pl6306 how about change this to 3: `max_total_receiver_queue_size_across_partitions=3`

[2020-02-03 04:11] jiazhai commented on #6165
Thanks @codelipenghui for the help.
@avillev Does it resolve your issue?

[2020-02-03 04:12] jiazhai commented on #6166
@avillev @codelipenghui Is it ok to close this issue?

[2020-02-03 04:14] codelipenghui commented on #6166
Yes, #5520 is tracking the documentation of windowed function

[2020-02-03 04:14] #6166 closed

[2020-02-03 04:16] jiazhai commented on #6168
Thanks @k2la for reporting this issue. Thanks @codelipenghui for the analysis.
This is a cpp client feature catchup. The approach is as penghui's PR #3118. This is a direct fix, and also
 a good task for beginner,  marked this as help-wanted.

[2020-02-03 04:17] yjshen commented on #6161
If I understand it correctly, by cloning a subscription, you want to "bookmark" a reading position for a partition, and you could start from it later on? If this is the situation, I suggest you use the `Reader` API instead of `Consumer` in tasks and maintain read position for each commit internally in your app.

Here is what I've done in flink-pulsar-connector:
1. an app-wide durable subscription

[2020-02-03 04:30] codelipenghui commented on #6157
@youurayy I'm not sure the acknowledge request is sent.

[code]
I notice that sending 15 messages from the log, `msgAckDelayCounter` can't reach 15 right?

[2020-02-03 04:34] sky-big commented on #5534
@nicknezis Hi,
Sorry, I didn't know there was pulsar slack，now, I created one pulsar operator channel in the Pulsar Slack，We will discuss the following here.

There's another team looking at the same thing, we can discuss it together here. We've been talking about priorities for all function points, and we've been talking about rules.

[2020-02-03 04:34] avillev commented on #6166
I guess it is yeas :)

[2020-02-03 04:34] avillev commented on #6165
It does. Thank you.

[2020-02-03 04:34] #6165 closed

[2020-02-03 04:35] sky-big commented on #5534
@nicknezis I‘ve invited you to join the channel

[2020-02-03 04:39] jiazhai commented on #6170
also added @wolfstudy and @EronWright in this thread. What is your idea on this issue?

[2020-02-03 04:46] jiazhai commented on #6175
@nicolo-paganin is there any suspicious error logs?

[2020-02-03 08:39] youurayy commented on #6157
@codelipenghui yes but that's irrelevant - the fact is that with a smaller ack period the acks go all through. Higher periods will leak acks. This makes Pulsar unusable in all scenarios where consumers need to take more than a few seconds to process and then ack messages.

[2020-02-03 10:15] nicolo-paganin commented on #6175
Hi @jiazhai these are the logs starting from the command `docker-compose up`

[code]

I do not see any strange log but the cpu is always between the 30% and 40% without doing nothing. Is this something that happen only to me or are you able to reproduce?

<img width="1083" alt="Screenshot 2020-02-03 at 11 13 57" src="https://user-images.githubusercontent.com/13291751/73644815-5dae2300-4676-11ea-8e

[2020-02-03 13:40] bezmax commented on #6161
Yes, that would work, however unless I'm missing something it will result in a lot of duplicates reprocessed. I'm ok with duplicates but in my case the messages might have completely different processing times (some need enrichment, some do not) and this would result in hundreds of thousands duplicates being reprocessed.

For example, if message 1 needs a second long enrichment (with async operato

[2020-02-03 16:12] hjohannsen commented on #6135
We're facing the same issue with AWS EKS.

The [apply-config-from-env.py](https://github.com/apache/pulsar/blob/master/docker/pulsar/scripts/apply-config-from-env.py) script doesn't strip away the `PULSAR_PREFIX_` when overwriting _existing_ keys.
So, if a key, such as `zkServers` already exists in the `bookkeeper.conf`, the setting isn't overwritten.

In the [EKS deployment sources](https://githu

[2020-02-03 17:45] KannarFr opened #6195 "`error while create opSendMsg by batch message container`"
**Describe the bug**
I'm writing a logstash-output-pulsar plugin, but I've got the issue

[code]

It's using batches.

[repo of the plugin](https://github.com/CleverCloud/logstash-output-pulsar)

**To Reproduce**
It seems to run smoothly but after some hours, I've got the error and it doesnt recover. Only restart all works.

[2020-02-03 18:03] #6024 closed

[2020-02-03 20:03] devinbost commented on #6151
@jiazhai We rebuilt the entire cluster. We think that the cause was related to how the Global and Local Zookeper clusters were configured. It appeared that the two local Zookeeper clusters were replicating over each other. I'll need to reach out to some of my colleagues to get more information about how to reproduce this.

[2020-02-03 20:06] devinbost commented on #6137
I found an interesting study that examined common causes of Flaky tests: http://mir.cs.illinois.edu/~qluo2/fse14LuoHEM.pdf

[2020-02-03 20:53] devinbost opened #6197 "Flaky-test: PulsarStateTest.testPythonWordCountFunction"
When running tests in Github CI, this exception occasionally occurs:

[code]
Interestingly, line 410 of publishAndConsumeMessages is the first line of this block:

[code]

This issue was first mentioned here: https://github.com/apache/pulsar/issues/6137

[2020-02-03 21:53] devinbost opened #6198 "Flaky-test: PulsarStateTest.testSinkState - wrong number of messages received"
[code]

**To Reproduce**
I reproduced this exact issue locally by running the tests in PulsarStateTest while running:
`stress-ng --matrix 0 -t 15m`
which was running during the entire test process.

Originally mentioned here: https://github.com/apache/pulsar/issues/6137

[2020-02-03 21:55] devinbost commented on #6198
(I was able to install stress-ng on my mac via brew.)

[2020-02-03 21:56] devinbost commented on #6198
@jiazhai @yjshen Using stress-ng might be helpful for you guys if you're investigating the flaky tests.

[2020-02-03 22:14] devinbost commented on #6198
The issue is intermittent locally even when running stress-ng.

[2020-02-03 22:27] bezmax commented on #6161
I have reread how asynchronous operators work in Flink and yes, Reader approach would suffice the way @yjshen has described. I'll close this feature request.

I was under assumption that async operators are inherently stateless, meaning that if my asynchronous processing of message fails - source would be responsible to redeliver original on recovery. Now I found out that async operators actually

[2020-02-03 22:28] #6161 closed

[2020-02-03 22:56] devinbost opened #6200 "Flaky-test: PulsarStateTest.testSourceState"
[code]
Related to the issues here: https://github.com/apache/pulsar/issues/6137

**To Reproduce**
I reproduced this issue locally by running the tests in PulsarStateTest while running:
`stress-ng --matrix 0 -t 15m`
which was running during the entire test process.
It's still intermittent though.

I have attached the log that I produced locally.

[log.txt](https://github.com/apache/pulsar/files/415