[2021-03-15 17:22] pointearth opened #9909 "No factory for connector 'memory'"
**Describe the bug**
I added a memory database connector config file memory.properties in conf/presto/catolog/ ,
https://trino.io/docs/current/connector/memory.html

`connector.name=memory`
`memory.max-data-per-node=128MB`

when I start the presto worker to run "./bin/pulsar sql-worker run", i get:

java.lang.IllegalArgumentException: No factory for connector 'memory'.  Available factories: [syste

[2021-03-16 01:17] #9885 closed

[2021-03-16 01:19] #9703 closed

[2021-03-16 04:12] #9851 closed

[2021-03-16 06:11] yuvalgut commented on #6030
If we could use the windows semantics for sinks thta would make life easier for batching.

[2021-03-16 07:10] jack-tristan commented on #9478
@codelipenghui
The experimental results are not in line with expectations

namespace policy base on pulsar 2.6.3
[code]

Experiment process:
one producer, one million messages, ten thousand keys, and one consumer's over subscription

[code]

Experimental result:  The expectation is 10000, but the result is 7355
[code]

[code]

[2021-03-16 07:13] danielsinai commented on #9562
Tried the WQ = AQ and it helped, but didn't prevent the problem.

It just made the brokers to last longer ![image](https://user-images.githubusercontent.com/51213812/111269902-da604e80-8637-11eb-9e04-12d2b070b13a.jpeg)

Any ideas?

[2021-03-16 08:30] eolivelli commented on #9899
Partial support for KeyValue records with separate schema for Key and Value is provided by https://github.com/apache/pulsar/blob/3b2c8526a96fc90e948dbeb510e8400a628c749a/pulsar-functions/api-java/src/main/java/org/apache/pulsar/functions/api/KVRecord.java#L31

but it looks useful only to Sources

it is used for Kafka Connect Source, that encodes directly the key and the value to byte[]
https://git

[2021-03-16 08:30] eolivelli commented on #9899
It was implemented by @tuteng  in #6034

[2021-03-16 10:29] danielsinai commented on #9562
It also seems like there is memory leak.

After stopping the writes the direct memory doesn't decrease

[2021-03-16 11:29] #6291 closed

[2021-03-16 11:30] #6195 closed

[2021-03-16 11:30] #5017 closed

[2021-03-16 11:31] #4515 closed

[2021-03-16 11:31] #7398 closed

[2021-03-16 11:31] #7419 closed

[2021-03-16 11:31] #7692 closed

[2021-03-16 11:34] lhotari opened #9914 "Flaky-test: ClientTestBase.resetCursorCompatibility / ClientTest2_x.testResetCursorCompatibility"
ClientTestBase.resetCursorCompatibility is flaky. This is called from ClientTest2_2.testResetCursorCompatibility , ClientTest2_3.testResetCursorCompatibility , ClientTest2_4.testResetCursorCompatibility and ClientTest2_5.testResetCursorCompatibility.

Flaky-test: org.apache.pulsar.tests.integration.backwardscompatibility.ClientTest2_2.testResetCursorCompatibility
Number of failures: 8

org.apache.

[2021-03-16 11:42] KannarFr commented on #6930
@pointearth @sijie How do you imagine the index composition regarding ledgers? As the first implementation, regarding pub/sub system, timestamp index-based would be a good start. I think we should first be able to auto-create an index per topic like:

[code]
Or maybe

[code]

WDYT?

[2021-03-16 11:48] lhotari opened #9915 "Flaky-test: PulsarFunctionsTest.testExclamationFunction remains flaky after fixes"
PulsarFunctionsTest is flaky. The testExclamationFunction test method fails sporadically.
The failure is now different after fixing #9863 with #9864:

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-03-14T18:36:43.3982378Z](https://github.com/apache/pulsar/runs/2107456985?check_suite_focus=true#step:13:8979)

[2021-03-16 11:53] lhotari commented on #9453
@alex-treebeard yes, I have some ugly scripts to scrape GitHub Action workflow run logs. Please join Pulsar Slack and ping me there if you want to discuss more. The issue tracker is not for discussions about the tooling. Please don't continue the discussion on this issue.

[2021-03-16 11:55] lhotari commented on #9453
more recent failures:

[example failure 2021-03-13T10:46:02.2204787Z](https://github.com/apache/pulsar/runs/2101609704?check_suite_focus=true#step:13:37539)
[example failure 2021-03-15T16:09:16.2362273Z](https://github.com/apache/pulsar/runs/2113745655?check_suite_focus=true#step:13:19767)
[example failure 2021-03-11T03:01:30.8891230Z](https://github.com/apache/pulsar/runs/2082583912?check_suite_f

[2021-03-16 12:09] lhotari opened #9916 "Flaky-test: DeadLetterTopicTest.testDeadLetterTopic"
Flaky-test: org.apache.pulsar.client.api.DeadLetterTopicTest.testDeadLetterTopic
Number of failures: 20

org.apache.pulsar.client.api.DeadLetterTopicTest is flaky. The testDeadLetterTopic test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-03-10T21:36:48.2364681Z](https://github.c

[2021-03-16 12:25] lhotari opened #9917 "Flaky-test: TransactionLowWaterMarkTest.testPendingAckLowWaterMark"
Flaky-test: org.apache.pulsar.broker.transaction.buffer.TransactionLowWaterMarkTest.testPendingAckLowWaterMark
Number of failures: 14

org.apache.pulsar.broker.transaction.buffer.TransactionLowWaterMarkTest is flaky. The testPendingAckLowWaterMark test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[ex

[2021-03-16 12:26] lhotari commented on #9917
Flaky-test: org.apache.pulsar.broker.transaction.buffer.TransactionLowWaterMarkTest.testTransactionBufferLowWaterMark
Number of failures: 4

org.apache.pulsar.broker.transaction.buffer.TransactionLowWaterMarkTest is flaky. The testTransactionBufferLowWaterMark test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/C

[2021-03-16 12:40] alexku7 commented on #9888
@zymap  Can we add back the python 3.9 support...please :)
We need it so much 👍

[2021-03-16 13:02] lhotari commented on #9917
@congbobo184 do you have a chance to take a look at this issue?

[2021-03-16 13:04] lhotari opened #9918 "Flaky-test: PendingAckInMemoryDeleteTest.txnAckTestNoBatchAndSharedSubMemoryDeleteTest"
Flaky-test: org.apache.pulsar.broker.transaction.pendingack.PendingAckInMemoryDeleteTest.txnAckTestNoBatchAndSharedSubMemoryDeleteTest
Number of failures: 11

org.apache.pulsar.broker.transaction.pendingack.PendingAckInMemoryDeleteTest is flaky. The txnAckTestNoBatchAndSharedSubMemoryDeleteTest test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, o

[2021-03-16 13:04] lhotari commented on #9918
Flaky-test: org.apache.pulsar.broker.transaction.pendingack.PendingAckInMemoryDeleteTest.txnAckTestBatchAndSharedSubMemoryDeleteTest
Number of failures: 2

org.apache.pulsar.broker.transaction.pendingack.PendingAckInMemoryDeleteTest is flaky. The txnAckTestBatchAndSharedSubMemoryDeleteTest test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open t

[2021-03-16 13:05] lhotari commented on #9918
@congbobo184 Do you have a chance to take a look at these flaky tests?

[2021-03-16 13:08] lhotari opened #9919 "Flaky-test: ManagedCursorMetricsTest.testManagedCursorMetrics"
Flaky-test: org.apache.pulsar.broker.stats.ManagedCursorMetricsTest.testManagedCursorMetrics
Number of failures: 10

org.apache.pulsar.broker.stats.ManagedCursorMetricsTest is flaky. The testManagedCursorMetrics test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-03-08T17:30:26.39

[2021-03-16 13:11] lhotari commented on #9919
@limingnihao ManagedCursorMetricsTest was introduced by #9618 and it seems to be flaky. Would you be able to take a look at this issue? Thank you

[2021-03-16 13:15] lhotari opened #9920 "Flaky-test: MultiTopicsConsumerImplTest.testConsumerCleanupOnSubscribeFailure"
Flaky-test: org.apache.pulsar.client.impl.MultiTopicsConsumerImplTest.testConsumerCleanupOnSubscribeFailure
Number of failures: 9

org.apache.pulsar.client.impl.MultiTopicsConsumerImplTest is flaky. The testConsumerCleanupOnSubscribeFailure test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example f

[2021-03-16 13:17] lhotari commented on #9920
already fixed by #9705 and there aren't any recent failures. Closing.

[2021-03-16 13:17] #9920 closed

[2021-03-16 13:20] lhotari commented on #9458
Flaky-test: org.apache.pulsar.broker.service.ReplicatorTest.testReplication
Number of failures: 6

org.apache.pulsar.broker.service.ReplicatorTest is flaky. The testReplication test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-03-08T00:24:45.4688122Z](https://github.com/apache/p

[2021-03-16 13:21] eolivelli opened #9921 "[Java client] Consumer#receive returns null in case of InterruptedException and does not reset Thread.interrupted flag"
**Describe the bug**
if you execute Consumer#receive() and thread is Interrupted the method returns a null value but it does not set Thread.currentThead().interrupt().
This way the caller is not aware of the Interrupted status of the Thread and cannot deal with this situation appropriately.

**Expected behavior**
Returning null is fine, but we must set Thread.currentThread.interrupt() and also doc

[2021-03-16 13:24] lhotari commented on #9458
This issue might have been mitigated with earlier fixes, since there's no recent failures. The most recent failure is 2021-03-08. It seems that #9823 and #9787 have eliminated the flakiness of ReplicatorTest.testReplication.

[2021-03-16 13:29] eolivelli commented on #9921
@merlimat this problem is related to #852

IMO we should add Thread.currentThread.interrupt() after catching InterruptedException

[2021-03-16 14:42] zymap commented on #9888
Sure. I will take a look ASAP.

[2021-03-16 15:24] jefferyshivers-toast commented on #5310
Has there been any movement on this? This is an example of a similar feature in Azure Service Bus: https://docs.microsoft.com/en-us/azure/service-bus-messaging/service-bus-dead-letter-queues#moving-messages-to-the-dlq.

[2021-03-16 15:51] adg25 opened #9922 "Create c++ producer/consumer with protobuf schema"
#### Expected behavior

I would like to use the schema registry for my c++ consumers/producers with protobuf schemas.
There are examples/test for AVRO and Json but not for protobuf and I'm seeing failures creating the producer/consumer.

#### Actual behavior

c++ test app output:
[code]

pulsar-standalone container output:
[code]

#### Steps to reproduce

Code snippet:
[code]

#### System configur

[2021-03-16 17:07] klwilson227 opened #9923 "Zookeeper sslQuorum Support"
Zookeeper leader elections are performed on non-SSL ports prior to zookeeper 3.5. In 3.5 zookeeper added support for running the leader elections on ssl and transitioning to SSL with zero downtime based configuration over a series of updates.

sslQuorum and portUnification parameters need to be added to the zookeeper.conf file to support the transition and use of ssl based zookeeper leader electio

[2021-03-16 17:13] klwilson227 commented on #9923
https://github.com/apache/pulsar/pull/9924 PR up for review.

[2021-03-16 18:40] david-streamlio opened #9926 "Message properties don't get passed from Pulsar Sources"
**Describe the bug**
When a PulsarSource writes a `Record` that has property values set inside its `getProperties()` method. Those properties are not passed through to the Message written to the output topc.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a class that extends implements the Source interface and a class that implements the Record interface
2. Have the Source instantiat

[2021-03-16 20:18] lhotari commented on #9916
I tried to reproduce this locally on latest master branch, but didn't get the test to fail. If someone is able to reproduce, please comment here.

[2021-03-17 02:58] freeznet opened #9932 "[docs] Add docs about monitoring Functions/IO with internal metrics."
**Is your enhancement request related to a problem? Please describe.**
Functions/Sinks/Sources has metrics support and can be used to monitoring the status. But we dont have detailed documents to show what metrics we already support and how we can use the metrics to monitoring functions/io.

**Describe the solution you'd like**
Add monitoring section to pulsar functions & pulsar io's document.

**

[2021-03-17 03:17] yitian108 commented on #9796
I don't think it is related with python client segmentation as described above. Actually, it seems to run many times of sendAsync() method would result in crashed, and if run the method only one time, it usually runs ok.
Is it because of callbackProducerQueueIsFull, if that, how can I solve it?

Thanks

[2021-03-17 03:50] BewareMyPower commented on #9796
The problem is how to reproduce it.

To reproduce `ProducerQueueIsFull`, I tried to set the max pending messages to 1.

[code]

And remove the `sleep` call in the code before. The example program ran well and no segmentation fault happens. There're 79 messages that were sent successfully and 9921 messages that encountered `ProducerQueueIsFull` in an example run.

If you want to avoid this error, y

[2021-03-17 07:35] yuvalgut opened #9935 "Dead letter producer does not handle AUTO_CONSUME_SCHEMA"
**Describe the bug**
when using an auto consume schema together with dead letter policy, the dead letter producer fails to start with this exception:
ConsumerImpl - Create dead letter producer exception with topic: deadLetterTopic
 org.apache.pulsar.client.api.PulsarClientException$InvalidConfigurationException: AutoConsumeSchema is only used by consumers to detect schemas automatically

**To Repr

[2021-03-17 07:41] devinbost commented on #6054
I created a test cluster (on fast hardware) specifically for reproducing this issue. In our very simple function flow, using simple Java functions without external dependencies, on Pulsar **2.6.3**, as soon as we started flowing data (around 4k msg/sec at 140KB/msg average), within seconds the bug appeared, blocking up the flow, and causing a backlog to accumulate.

I looked up the broker the froz

[2021-03-17 07:46] LutzWeischerFujitsu opened #9936 "test fails on AArch64, Fedora 33"
[jw@cn06 pulsar]$ mvn test
[INFO] Scanning for projects...
[WARNING]
[WARNING] Some problems were encountered while building the effective model for org.apache.pulsar:pulsar-functions-worker:jar:2.8.0-SNAPSHOT
[WARNING] 'build.plugins.plugin.(groupId:artifactId)' must be unique but found duplicate declaration of plugin org.apache.maven.plugins:maven-surefire-plugin @ line 223, column 15
[WARNING]

[2021-03-17 11:35] yitian108 commented on #9796
Unluckily, when I try to add the configuration ProducerConfiguration as above, the segment fault still persist, and a small good news, if I set the producerConf.setBlockIfQueueFull(100000), the program can run more times, however, it still failed while run more than serval thousand times, I don't know whether can I send the source code to you via email or some other platform, or if you can help me

[2021-03-17 12:12] KannarFr commented on #6930
And where/how we store this index?

[2021-03-17 14:26] TIBCOeddie opened #9939 "s/device/measurement"
https://github.com/apache/pulsar/blob/94bf13f2f216c9f5d7ca00af31a5efaedde7e397/pulsar-io/influxdb/src/main/java/org/apache/pulsar/io/influxdb/v2/InfluxDBSink.java#L70

[2021-03-17 14:37] fransguelinckx opened #9940 "Messages can get consumed out of order with key_shared subscriptions and small receiverQueueSize"
**Describe the bug**
Messages can get consumed out of order with key_shared subscriptions and small receiverQueueSize

**To Reproduce**
Steps to reproduce the behavior:
* A producer that produces a relatively high load of messages with different keys. Crucial to have related messages with the same message key in a specific order.
* Partitioned topic on which the messages are produced.
* A lot of k

[2021-03-17 15:21] BewareMyPower commented on #9796
I noticed that you provided some confused info.  `setBlockIfQueueFull` accepts a `bool` value, `setBlockIfQueueFull(100000)` is same with `setBlockIfQueueFull(true)` in C++, or did you mean `setMaxPendingMessages(100000)`?

And I also found a point from your gdb core. The stack 0 is `bits/std_functions.h` (just an included header of `<function>`) from `devtoolset-9` (did it mean GCC 9?) but the ot

[2021-03-17 16:15] klevy-toast commented on #9141
@codelipenghui sure, although it may take me a while to find the spare cycles.

[2021-03-17 19:35] devinbost opened #9944 "Still get red in IntelliJ..."
It seems like every once in a while I find myself facing this same issue in IntelliJ with Pulsar, and I can't ever seem to remember how to get it to go away...
![image](https://user-images.githubusercontent.com/7418031/111527335-6d2ae700-8725-11eb-9cac-0f054ce91f03.png)

I've followed the steps with enabling annotations and reloading the modules, as documented here: https://github.com/apache/pulsa

[2021-03-17 19:51] frankjkelly commented on #5510
Thanks @lhotari I have hit this too in Apache Pulsar 2.6.1
CC @addisonj

[2021-03-17 22:08] csthomas1 opened #9946 "Deleting a Pulsar Function with a name that includes a colon character crashes the pulsar broker"
**Describe the bug**
I'm able to successfully deploy in Pulsar a Pulsar function that includes a ':' as part of its function name.  When I later try to delete the function deployment, the Pulsar broker ends up crashing with an IllegalArgumentException in its log stating "Invalid format for fully qualified instance name: <fqfn>:<instanceid>". If the KubernetesRuntime is configured, this prevents de

[2021-03-18 00:00] devinbost commented on #6054
**I found a huge clue on this issue** (in Pulsar 2.6.3).
Several hours after we collected those stats, I got a heap dump on the function that was consuming from the dead topic, and its permits were actually positive.
(In the heap dump of `third-function`, in `ConsumerImpl`, the function's `availablePermits` were positive.)
![image](https://user-images.githubusercontent.com/7418031/111550705-44feb0

[2021-03-18 00:32] jerrypeng commented on #6054
Yes, batching at the pulsar client level is enabled when a Pulsar function is writing messages to the "output" topic.

[2021-03-18 03:05] yitian108 commented on #9796
First, I am sorry for the confusion, my bad, actually, I just used the api  setMaxPendingMessages(100000)
Second, I list my enviornment for your reference:

- CentOS 7.6
- G++ 9.3 & G++ 4.8.5
- boost 1.6.4
- protobuf 3.13

Maybe the problem is due to g++ version, I used the g++ 9.3 in the top program at 14 days ago(the front program I used g++ -o -g ... to build<command line>), and yesterday's pro

[2021-03-18 04:00] BewareMyPower commented on #9796
Can you upload your library (built with GCC 4.8.5)? Then I could try it in my CentOS 7 environment. BTW, I assume your library links dependencies dynamically.

[2021-03-18 04:17] devinbost commented on #6054
After taking a closer look at #7266, it's not clear if it will resolve the issue because we're seeing this issue with functions running with exclusive subscriptions, not shared subscriptions.

[2021-03-18 04:18] codelipenghui commented on #9922
@BewareMyPower Could you please help take a look at this issue?

[2021-03-18 04:42] michaeljmarshall commented on #3804
@MarvinCai, @sijie, @eolivelli - It looks like the feature to improve read throughput for blob storage is still outstanding. I'm very interested in helping to contribute this feature. Do you think it deserves its own issue to start a dedicated discussion for offloading?

[2021-03-18 05:33] softwareace opened #9950 "client-cpp checksum failure on big endian"
Direct quote from the code in crc32c_sw
/* Table-driven software version as a fall-back.  This is about 15 times slower
 than using the hardware instructions.  This assumes little-endian integers,
 as is the case on Intel processors that the assembler code here is for. */

Steps to reproduce: Any big endian processor communicating to Pulsar.

I have a patch I can submit

[2021-03-18 06:33] BewareMyPower commented on #9922
Currently `AVRO`, `JSON` and `PROTOBUF` (not `PROTOBUF_NATIVE`) share the same schema validator. See https://github.com/apache/pulsar/blob/7d3317e290ca34918e10379b6592e28678cde90f/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/validator/SchemaDataValidator.java#L37-L43

Therefore, following code works well.

[code]

The logs is

[code]

So the problem is with your JSON string

[2021-03-18 06:34] xuesongxs opened #9952 "The consumer subscribes to a topic and has no output on the log"
**Describe the bug**
![image](https://user-images.githubusercontent.com/54351417/111580467-88175d00-87f2-11eb-93b4-fa145f3306bc.png)

topicName: persistent://public/default/test-string5

When a consumer subscribes to a topic, the name of the topic is not output in the consumer log，after deleting topic from conf and creating consumer, the topic is not inserted into conf again. If there are multiple

[2021-03-18 06:34] yitian108 commented on #9796
[pulsarTest.tar.gz](https://github.com/apache/pulsar/files/6161780/pulsarTest.tar.gz)

hi, I upload the test project which built with gcc 4.8.5

[2021-03-18 06:38] xuesongxs opened #9953 "The consumer subscribes to a topic and has no output on the log"
**Describe the bug**
![image](https://user-images.githubusercontent.com/54351417/111580467-88175d00-87f2-11eb-93b4-fa145f3306bc.png)

topicName: persistent://public/default/test-string5

When a consumer subscribes to a topic, the name of the topic is not output in the consumer log，after deleting topic from conf and creating consumer, the topic is not inserted into conf again. If there are multiple

[2021-03-18 06:39] #9952 closed

[2021-03-18 07:06] BewareMyPower commented on #9796
Sorry I didn't express well. I mean the `libpulsar.so` or `libpulsar.a` that you used. From the `CMakeLists.txt`, what I wanted is your `/usr/local/app/pulsar-2.7/lib` directory. Then I can verify the library in my own CentOS

[2021-03-18 08:05] tapanbavaliya opened #9955 "Search is broken"
**Describe the bug**
Pulsar search is the broken user can not search anything.

**To Reproduce**
* go to home page
* type something
* nothing will happand
*
**Expected behavior**
user can able to search

**Screenshots**
![ggggg](https://user-images.githubusercontent.com/1378636/111592474-d62a6180-87ee-11eb-98f6-fc74c1444a33.png)

**Desktop (please complete the following information):**
 - OS: [e.g

[2021-03-18 09:07] yitian108 commented on #9796
sorry, I try to upload the .tar.gz file, but it always failed, the size of the .gz file is more than 66MB, it seems to beyond the limit of github. Can I upload it via other ways?

[2021-03-18 09:09] eolivelli commented on #3804
@michaeljmarshall you can start a discussion with a proposal.
you can start on dev@pulsar in order to have more people in the discussion.

[2021-03-18 09:13] BewareMyPower commented on #9796
You can send email to me, xyzinfernity@163.com

[2021-03-18 09:17] pointearth commented on #6930
I know querying with timestamp is very fast, because data in bookKeeper save timestamp as key.
My suggestion is to create a non-clustered index, based on the key in bookKeeper, for example:
If we want to create an index on the field name, We can create indexItem as
map[name, List<__publish_time__>]

Can you supply some describe the source code around this? and then we can discuss it again.

[2021-03-18 09:21] pointearth commented on #6930
Can we store it in bookKeeper? and it may be able to start when the presto enhancement switching is open.

[2021-03-18 10:10] eolivelli commented on #9944
sometimes I right-click in the module (in this case is pulsar-common) that I click "rebuild module"

in this case "Rebuild module pulsar-common"

[2021-03-18 12:02] lhotari opened #9958 "[Performance] Optimize allocations in ManagedLedgerImpl.getEarlierReadPositionForActiveCursors()/ManagedCursorContainer.iterator()"
### Problem

In profiling, I can see that a lot of allocations in TLAB are made for this kind of stack trace:
[code]
(Broker version is Pulsar 2.7.0)

### Expected behavior

Calls on the hot paths shouldn't create a lot of allocations.

[2021-03-18 12:07] lhotari commented on #9958
@merlimat would you mind taking a look at this issue? In the stack trace it shows that ConcurrentSkipListMap is used in ManagedCursorContainer. Would there be a benefit to switch over to ConcurrentOpenHashMap?
I understood from our earlier discussions that you have optimized it for minimal allocations.

[2021-03-18 12:57] thesquiff opened #9959 "Getting function status for function on another broker fails when TLS HTTP endpoints are configured"
Let's say we have a cluster of three brokers, A, B & C. Broker A&B are also configured as functions workers. All brokers are TLS enabled for both https:// and pulsar://. The https endpoint is configured on port 8443.

If I query broker A for the status of a function that is actually running on broker B the expected behaviour is that that broker A queries B and returns the result to the requestor.

[2021-03-18 13:04] thesquiff commented on #9959
Note, I've also observed the same problem when deleting a function - the delete command must be run from the broker that a function is running on when TLS is enabled.

[2021-03-18 13:13] frankjkelly opened #9960 "Pulsar 2.6.1: Bookie GarbageCollectorThread does not execute major or minor compaction as scheduled"
**Describe the bug**
Monitoring the GarbageCollectorThread in the Bookie it is running but although configured to run Major compaction every 2 hours and Minor compaction every 20 minutes neither has occurred for several days

**To Reproduce**
Compaction Related settings
[code]

but we only saw the Enter major compaction log line twice in the last 3 days according to Sumo (see image)
![image](https

[2021-03-18 14:36] thesquiff commented on #9926
Looks like a duplicate of [https://github.com/apache/pulsar/issues/9851]

[2021-03-18 15:05] michaeljmarshall opened #9962 "[Tiered Storage] Eagerly Delete Offloaded Segments On Topic Deletion"
**Problem**
From my testing and reading through of the code, when a topic with segments in tiered storage and on bookies is deleted, the data on the bookies eventually gets deleted (because the bookies notice that the ledger metadata is no longer in zookeeper), but the offloaded segments are orphaned and must be deleted manually. Given the way these objects are named, it is not very easy to find t

[2021-03-18 15:49] adg25 commented on #9922
Yes that worked for me as well! MessageToJsonString will not work for what I need here

[2021-03-18 16:12] david-streamlio commented on #9926
You are correct. However, there is an on going discussion w.r.t to the solution to this issue so I will keep this open for now for tracking purposes.

[2021-03-18 18:47] jianyun8023 opened #9964 "[BUG] SchemaInfo toString occurs NPE"
**Describe the bug**

Writing`schemaInfo#properties` may cause the client not to consume it when it is a Pulsar native type.

**To Reproduce**
Write `key` to `SchemaInfo#properties` has value, `value` is null, update schema. create subscriber will fail, throw NPE.
example code :
[code]

Console output.

[code]

After troubleshooting once, the problem occurs with the `schemaInfo.toString()` impleme

[2021-03-18 22:26] david-streamlio opened #9966 "Fail immediately on ErrorNotifierRecord inside BatchPushSource"
**Is your enhancement request related to a problem? Please describe.**
When an IO connector that implements the BatchPushSource interface wants to fail a task, it publishes a `ErrorNotifierRecord` to the internal queue. However, the exception isn't thrown until the readNext method reads the message from the internal queue.

This results in an unnecessary delay between the time the error condition

[2021-03-19 00:12] merlimat commented on #9950
If you have a patch, please submit :)

One other way, would be to use instead https://github.com/google/crc32c, although it would be preferable not to add additional compile dependencies.

[2021-03-19 01:50] yitian108 commented on #9796
hi BewareMyPower, I've sent the email to you, please check it.

[2021-03-19 01:58] tuteng opened #9969 "Add the version command for the command pulsar, pulsar-admin, pulsar-client etc"
**Is your feature request related to a problem? Please describe.**
Add the `version` command for the command ./bin/pulsar, ./bin/pulsar-admin, ./bin/pulsar-client etc

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered

[2021-03-19 02:34] michaeljmarshall commented on #3804
@eolivelli - thanks, I'll do that.

[2021-03-19 03:29] Jennifer88huang opened #9971 "[website] The REST API commands do not display correctly"
**Describe the bug**
On [admin api package](http://pulsar.apache.org/docs/en/next/admin-api-namespaces/#create-namespaces) page, the REST APIs are not displayed correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://pulsar.apache.org/docs/en/next/admin-api-namespaces/#create-namespaces
2. Click the REST API tabs and check the commands. They are displayed as follows:

![image

[2021-03-19 03:30] Jennifer88huang commented on #9971
Related to #8896 #9071

[2021-03-19 03:31] Jennifer88huang commented on #9971
@tuteng @zymap could you please give some guidance on it? Thank you.

[2021-03-19 05:56] jerrypeng commented on #9966
This is done intentionally so messages that were already consumed will still get a chance to be published.

In what scenario will records get processed that shouldn't be processed?  The ErrorNotifierRecord is sent in stream, thus messages that came before it should be valid messages that can be sent out.

[2021-03-19 05:59] jerrypeng commented on #9966
Perhaps there should be two modes of notifying a fatal error.  One is to restart without flushing the internal queue of records.  The other one is to restart after flushing the internal queue of records.

[2021-03-19 06:10] michaeljmarshall commented on #9916
I made some solid progress running through this test with a debugger. It does indeed look like there is a race condition based on the design of the test and the way that we send messages to dead letter queues. Essentially, we send a message to a DLQ before we acknowledge it on the original topic. Combine that with the fact that when a consumer client is closed, it releases all unacknowledged messa

[2021-03-19 06:28] michaeljmarshall commented on #9916
Quick note: it does seem rather intentional that we send to the DLQ first and only acknowledge the message on the original topic upon successful delivery to the DLQ. This ordering is essential to our DLQ delivery semantics. If we switched the order, we'd end up with an at most once delivery to the DLQ, which seems undesirable to me and like a breaking change from the current behavior.

I have a fe

[2021-03-19 07:27] lhotari commented on #9958
@merlimat This performance problem has also been reported on Pulsar Slack in this discussion: https://apache-pulsar.slack.com/archives/C5Z4T36F7/p1614293057103600 .

It seems that adjusting `managedLedgerCacheEvictionFrequency` configuration value is one way to workaround the performance issue. The description of this configuration setting is "Configure the cache eviction frequency for the managed

[2021-03-19 10:08] #9045 closed

[2021-03-19 11:52] lhotari commented on #9916
Thanks for putting effort into fixing this @michaeljmarshall . Fixing this test seems pretty challenging. If there are obstacles that are hard to overcome, perhaps there's a way to simplify the test.

One thing that I've noticed before with testing DLQ behavior is that disabling batching in the producer is necessary to get consistent behavior. That's one thing to try out when fixing this one.

[2021-03-19 16:29] david-streamlio opened #9977 "Unable to access StateStore running inside a Docker container"
**Describe the bug**
If you run Pulsar in standalone mode inside a Docker container, calls (direct or indirect) to the StateStore using "localhost", e.g. bk://localhost:4181 fail because the StateStore client is using a different hostname

**To Reproduce**

1. Start a Pulsar standalone instance inside a docker container
2. Deploy a stateful function to the cluster
3. Trigger the function

**Expect

[2021-03-19 18:29] devinbost commented on #5519
We're getting this issue on Pulsar 2.4.0

[2021-03-19 18:37] david-streamlio commented on #9966
I guess my main concern is the duplication of data if a task is failed and re-processed. Consider a scenario where the task is a list of 1,000 records to be put into a database, and we fail on record 500 on a non-connectivity errors such as "invalid foreign key ".  Then we proceed with inserting the remaining 499 records before failing the entire task.

The task message will get redelivered and th

[2021-03-19 18:40] david-streamlio commented on #9966
Agreed, there could be more than one way to handle a single bad record depending upon the type of error, and the needs of the class implementing the BatchPushSource, etc

[2021-03-19 18:46] BewareMyPower commented on #9796
Sorry to tell you the bad news that I still cannot reproduce it on CentOS 7. The only difference is that I just used a single C++ source file to simulate your CMake project.

[code]

And see the following content for the detail experiment process.

### 1. Prepare CentOS 7 environment
First, pull a CentOS 7 docker image and run it.

[code]

### 2. Copy necessary files
Copy the `apache-pulsar-2.7.0-

[2021-03-19 19:05] BewareMyPower commented on #9796
**Good news, I just found the problem.**

Wait, I just found your callback

[code]

You used `pulsar::SendCallback` as the returned value? And the function has no `return`?

`sendAsync` accepts a `SendCallback` as the param:

[code]

It returns `void`. You just passed `std::function<std::function<Result, const MessageId&> (Result, const MessageId&)>` to `sendAsync`. I think it's a UB in C++ and I'

[2021-03-19 20:49] eolivelli commented on #9977
did you try with` --network=host` ?

[2021-03-19 20:51] eolivelli opened #9982 "Do not run PR validation for "Draft PRs""
We should not run PR validation on Draft PRs, Draft PRs may receive many commits and at every "git push" we are rerunning the tests.

Sending Draft PRs is useful in order to have an early feedback from the community.

If the developer wants to run the full suite that can be done in his private repo or by sending a non Draft PR.

[2021-03-19 20:52] eolivelli commented on #9982
@lhotari PTAL

[2021-03-19 20:53] lhotari commented on #9982
LGTM

[2021-03-19 22:28] MarvinCai commented on #9060
this pr already add logic to close currentledger if it pass retention size or time: https://github.com/apache/pulsar/pull/7111

[2021-03-20 00:16] #9977 closed

[2021-03-20 02:13] yangl commented on #9944
File --> Invalidate Caches / Restart... --> Invalidate and Restart

[2021-03-20 04:50] MarvinCai commented on #9680
I'll try to add this feature.

[2021-03-20 07:58] devinbost opened #9986 "[Functions] Need a way to disable message batching between functions"
**Is your feature request related to a problem? Please describe.**
It has been identified that there is a major stability issue that appears to be associated with message batching. As Pulsar functions currently always have `.enableBatching(true)` set during instance creation, there needs to be a way to disable message batching per user config.

**Describe the solution you'd like**
I'm proposing th

[2021-03-20 08:25] rvashishth commented on #6131
I am noticing this issue again when i upgrade pulsar from 2.7.0 to 2.7.1

[2021-03-20 08:46] rvashishth opened #9988 "Bookie containers throw OutOfDirectMemoryError on Upgrade to 2.7.1"
**Describe the bug**
Bookkeeper pod failed to start with below Error. Even though the allocated memory to pods & `MaxDirectMemorySize` size is much more the what is mentioned in error log.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install pulsar-helm-chart version 2.7.0 using the pulsar image 2.7.1
2. Bookie pods won't start and status will change to `CrashLoopBackOff`

**Expec

[2021-03-20 10:37] yuvalgut opened #9990 "Add write(Collection<Record> records) to pulsar io sink interface"
I see that a lot of pulsar sinks tries to implement some sort of accumulation/batching behavior on pulsar sink, which makes sense because a lot of targets prefer handling a batch of data.
this code is just a duplication of what pulsar already offers for consumer, the 'batchReceive' method.

**Describe the solution you'd like**
1. add to org.apache.pulsar.io.core.Sink: void write(Collection<T> reco

[2021-03-20 11:37] sbourkeostk commented on #6054
You sure? I didn't know it was possible to have have a function on an exclusive subscription.

[2021-03-20 16:35] BewareMyPower opened #9993 "Thread safe problem about HandlerState#changeToReadyState"
I'm not sure if it's bug. It's more a question. As we can see, https://github.com/apache/pulsar/blob/608929227824fe4303f46aa432e42af77bcbf625/pulsar-client/src/main/java/org/apache/pulsar/client/impl/HandlerState.java#L53-L56

`HandlerState#changeToReadyState` is not an atomic operation. I'm not sure there's a race case like following timeline

| Time | Event | State Before | State Now |
| :---- |

[2021-03-20 16:51] BewareMyPower commented on #9993
Is following implementation better?

[code]

[2021-03-20 16:55] BewareMyPower commented on #9982
LGTM, running CI on draft PRs will waste unused CI resource.

[2021-03-20 17:05] eolivelli commented on #9982
Is anyone interested in sending a patch?

[2021-03-20 18:22] lhotari commented on #9982
we need to get https://github.com/apache/pulsar/pull/9963 merged before making this change. A solution was proposed in the mailing list discussion, it's https://github.community/t/dont-run-actions-on-draft-pull-requests/16817/16 .

[2021-03-20 18:32] eolivelli commented on #9982
@lhotari we committed #9963
You are good to go now

[2021-03-21 06:42] lhotari commented on #9982
@eolivelli I created #9994 , but it comes with a risk for merging PRs before checks have passed. Let's continue the discussion on the PR.

[2021-03-21 13:31] vmarchaud commented on #9904
Found the issue, it was because the option `enableRunBookieAutoRecoveryTogether` was set to `true` even though i wasn't in standalone (bookies were running independently on my setup)

[2021-03-21 13:31] #9904 closed

[2021-03-22 00:24] #9179 closed

[2021-03-22 01:25] #9971 closed

[2021-03-22 02:02] yitian108 commented on #9796
Great. Thanks for your help.

 According to your advice, I recorrect the returned type of callback to void, it really could work in my IDE, however, for the first program that I list in front of the topic, I used the void as the returned type, but it will report segment fault, why?

So, I planed to change the gcc version in command line, indeed, when I change the g++ to 4.8.5, it could work, that'

[2021-03-22 03:29] #9964 closed

[2021-03-22 03:37] BewareMyPower commented on #9796
Use the same compiler for the libraries (libpulsar.so and its dependencies) and the executable. I've tried to compile libpulsar.so with GCC 10.1 before. There's no problem with `sendAsync`.

[2021-03-22 06:14] michaeljmarshall commented on #9916
I agree this test is a bit complicated, but annotating the test should help to discuss the behavior that I believe is leading to test flakiness. Because there are no timeouts in the test, I only see one place for a race condition, and I'm able to consistently get failures by adding a `sleep` in one key location.

## Annotated Test

In the following code block, we create a normal consumer, a DLQ co

[2021-03-22 06:27] lhotari commented on #9944
@devinbost Did you also follow the ["Further configuration in IntelliJ" step]( https://github.com/apache/pulsar#further-configuration-in-intellij)? That should fix the error that is shown in your screenshot. Limiting projects to "core-modules" profiles (and unchecking all other profiles) and running "generate sources" and then "Build -> Rebuild Project" should help. If this doesn't help, it's also

[2021-03-22 06:43] lhotari commented on #9944
I created a PR to upgrade Lombok to 1.18.18, which contains some fixes for IDE (Eclipse, IntelliJ, Netbeans) compatibility: https://github.com/apache/pulsar/pull/10000 . It might help fix some IntelliJ issues too.

[2021-03-22 08:30] softwareace commented on #9950
How do I submit the patch? (Yes, in 30 years, this is my first submission to open source)

[2021-03-22 09:54] codelipenghui commented on #9916
A quick fix is to close the consumer before ensuring the messages already get acked at the broker side? I think we can check the backlog by using the pulsar-admin?

[2021-03-22 10:59] lhotari opened #10003 "Flaky-test: CurrentLedgerRolloverIfFullTest.testCurrentLedgerRolloverIfFull"
org.apache.pulsar.broker.service.CurrentLedgerRolloverIfFullTest is flaky. The testCurrentLedgerRolloverIfFull test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-03-11T14:58:37.9420192Z](https://github.com/apache/pulsar/runs/2086847834?check_suite_focus=true#step:8:653)

<details

[2021-03-22 15:05] #10003 closed

[2021-03-22 19:53] Alxander64 commented on #9464
I have recently updated to 2.6.3, but since then I've only been running sinks on a more stable database. I first noticed this issue when sinking to ClickHouse, which I didn't have a great production setup for.

[2021-03-22 20:00] Alxander64 commented on #9464
For a simple test, I had my Pulsar cluster in k8s and brought up a singe Postgres replica with a Helm chart. I had a sink running configured like how I described above, and then I just deleted the pod running Postgres and waited for it to respawn. If new rows don't eventually populate in the table being sinked to, then the problem persists.

[2021-03-23 00:58] Jennifer88huang commented on #9955
@tapanbavaliya thank you for raising the issue. I tried it on the home page and found the search works on my chrome (shown as follows). Could you try it again? If it still does not work, feel free to let us know.
![image](https://user-images.githubusercontent.com/47805623/112076675-d42d1d80-8bb5-11eb-9145-84765a351f48.png)

[2021-03-23 00:59] Jennifer88huang commented on #9988
@zymap could you please help check the issue? Thank you.

[2021-03-23 01:05] Anonymitaet commented on #9955
Same to @Jennifer88huang, search works on my side as well.
![Uploading image.png…]()

[2021-03-23 02:20] Jennifer88huang commented on #9932
@Huanli-Meng @Anonymitaet when you triage doc issues, could you please add the "triage/week-xx" labels? Thank you.

[2021-03-23 02:37] Jennifer88huang commented on #9730
@dlg99 thank you for raising the issue.
@Anonymitaet I found that we don't have `licensing` file in the `pulsar` repo. Could you please help check and fix the issue? Thank you.

[2021-03-23 02:45] MarvinCai opened #10010 "[Client] Potential resource leak in Java PulsarClient"
**Is your enhancement request related to a problem? Please describe.**
 When creating a java pulsarclient,if the constructor throws exception, resources created like executor won't be properly released, and if user code keep retrying it'll eventually cause OOM. It can happen if user make a typo in broker url, like "htps://localhost:6651"

**Describe the solution you'd like**
Catch exception in con

[2021-03-23 02:48] MarvinCai opened #10011 "[Client] Allow user to provide executor when creating pulsarclient"
It'll be great if we can allow user to pass in their own executor when creating pulsarclient which will allow them to use their own threadfactory.

[2021-03-23 02:48] Jennifer88huang commented on #9982
@eolivelli @lhotari thank you for your efforts in driving this.
I was wondering how do we judge whether a PR is draft or not? Do we mark it as draft by adding the `[WIP]` as prefix in the PR title, and the Github Action will not run test jobs for this draft PR?

[2021-03-23 02:49] Jennifer88huang commented on #9982
Or if I send a draft PR, what should I pay attention to?

[2021-03-23 03:14] Jennifer88huang commented on #9589
@wmccarley I agree with your understanding.
@gaoran10 @zymap could you please help double confirm?

[2021-03-23 03:43] Jennifer88huang commented on #9723
@frankjkelly @hpvd Thank you for raising the issue, we've summarized the client matrix and Function Features in https://docs.google.com/spreadsheets/d/1iTzn6QnOpTYK8QQHxXRb6a25nvuTNGPPJDdUQHGBUS4/edit#gid=1784579914
I'll upload this sheet on the [Client Feature Matrix page](https://github.com/apache/pulsar/wiki/Client-Features-Matrix) soon.

[2021-03-23 03:45] Jennifer88huang commented on #5959
Hi all, thank you for raising the issue, we've summarized the client matrix and Function Features in https://docs.google.com/spreadsheets/d/1iTzn6QnOpTYK8QQHxXRb6a25nvuTNGPPJDdUQHGBUS4/edit#gid=1784579914
I'll upload this sheet on the [Client Feature Matrix page](https://github.com/apache/pulsar/wiki/Client-Features-Matrix) soon. If you find anything to be updated, feel free to comment in the goog

[2021-03-23 03:45] Jennifer88huang commented on #9723
If you find anything to be updated, feel free to comment in the google sheet directly.  Thank you very much for your patience and support~

[2021-03-23 04:00] #9867 closed

[2021-03-23 04:34] michaeljmarshall commented on #9916
After looking at this a little more, I am wondering if it is inexpensive enough to use a transaction to produce to the DLQ topic and acknowledge the original message atomically. Then, the messages would not be end up available on both the source topic and the DLQ topic, as this test shows is currently possible.

@codelipenghui - I do not think this solution will work. When a consumer is closed, it

[2021-03-23 05:27] Anonymitaet commented on #9932
@Jennifer88huang yes, thanks for reminding

[2021-03-23 05:28] lhotari commented on #9982
In GitHub, you can create a PR in draft status or change an open PR into draft status.
Here's an old GitHub announcement about the feature:
https://github.blog/2019-02-14-introducing-draft-pull-requests/#tag-your-work-in-progress

An existing open PR can be switched to draft mode by clicking the link "Still in progress? Convert to draft". This is in the beginning of the PR page, on the right side

[2021-03-23 05:31] lhotari commented on #9982
Setting a PR in draft status indicates to reviewers that it's work-in-progress and the PR author is still revisiting the changes before making it ready for review. The author of the PR might request reviewers to provide early feedback as guidance.

[2021-03-23 05:44] Jennifer88huang commented on #9982
@lhotari Thank you very much for your detailed info. I got your point now and I totally agree with you on this great idea.

[2021-03-23 05:54] #9969 closed

[2021-03-23 06:39] tapanbavaliya commented on #9955
@Jennifer88huang Yes verified from my side as well, when I checked at the time it's not worked in chrome, firefox. but now it's working, we can close this ticket.

[2021-03-23 06:59] #9955 closed

[2021-03-23 07:09] tuteng commented on #9854
This fixed #9886

[2021-03-23 07:09] #9854 closed

[2021-03-23 07:54] damioune123 opened #10014 "Add "pong" logic in websocket server"
**Is your enhancement request related to a problem? Please describe.**
As described in the websocket protocol, the ping/pong would allow to have a control frame to detect network issue in the websocket layer.

**Describe the solution you'd like**
When message sent to server via websocket via a "ping", the server should send a "pong" back.

**Describe alternatives you've considered**
Message acknow

[2021-03-23 08:47] hpvd commented on #9723
@Jennifer88huang awesome! Many thanks!
Great idea to split into code and doc :-)

Thinking this further one could directly link from matrix to the detail doc...

[2021-03-23 08:54] hpvd commented on #9723
Having such a great overview, the feature matrix deserves a more prominent place to be found.
Or a least more links pointing to it...

[2021-03-23 10:12] Jennifer88huang commented on #9955
@tapanbavaliya thank you for letting us know it.

[2021-03-23 10:26] Jennifer88huang commented on #9723
@hpvd I'm thinking about it. If you have any idea or suggestion, feel free to let me know. Thank you.

[2021-03-23 10:45] frankjkelly commented on #9723
That is just wonderful news - thank you @Jennifer88huang definitely worth sharing far and wide in Slack, Emails, links from doc. Will be super helpful for current and future developers! Thanks so much!

[2021-03-23 14:17] frankjkelly opened #10016 "pulsar_ml_cache_used_size Prometheus metric is negative (Pulsar 2.6.1)"
**Describe the bug**
The prometheus metric `pulsar_ml_cache_used_size` exposed by Broker is negative. I would presume cache sizes should be 0 or above?

**To Reproduce**
1. Launch Pulsar on Kubernetes
1. Inspect metrics endpoint of Broker
[code]

**Expected behavior**
Cache sizes are zero or above

**Screenshots**
![image](https://user-images.githubusercontent.com/62910985/112160813-ebbdd380-8bc0-

[2021-03-23 15:37] Jennifer88huang commented on #9723
@frankjkelly  thank you for your advice, I'll share it in different channels so more people who care about it will know it.

[2021-03-23 17:08] cbornet commented on #2467
@sijie I'm having a look at PIP64.

* For the [subscription endpoint](https://github.com/apache/pulsar/wiki/PIP-64%3A-Introduce-REST-endpoints-for-producing%2C-consuming-and-reading-messages#post-topicsstring-tenant_namestring-namespace_namestring-topic_namesubscriptionstring-subscription), since a subscription can be done on a list of topics, shouldn't this list be passed in the request body and

[2021-03-23 17:38] DonHaul opened #10018 "pulsar admin not acessing bookies"
Hello I am trying to look at a message on the ledgers via the admin command of the pulsar client:
```/bin/pulsar-admin topics get-message-by-id persistent://public/default/testtopic9 -l 4 -e 3``` however it doesnt work, returning the following error:
[code]

I've done  ```bin/pulsar-admin brokers list``` and it returns all bookies as expected:

[code]
I have also verified that that ledfer id and e

[2021-03-23 21:16] sheperdsonbrown commented on #9988
We are also experiencing this issue. What information are we able to provide for a fix?

[2021-03-23 22:31] kjaggann opened #10021 "Websocket Encryption"
A producer is sending a messages using encryption while the consumer should be able to consume the encrypted message using the websocket
wanted an help

If no is there a way
 we can configure to
start websocket proxy with option to avoid decryption, and let it pass same payload to web-socket client
the configuration settings or the steps required to change
or any other option where we can resolve

[2021-03-23 22:48] dlg99 opened #10022 "MessageImpl is out of sync with the documented behavior of Message"
**Describe the bug**

MessageImpl is out of sync with the documented behavior

[code]
note `return the message id null if ...`
and then check

[code]

note `checkNotNull`

**Expected behavior**

Actual behavior to match documented behavior (one of these has to change).

[2021-03-23 23:06] michaeljmarshall opened #10023 "[Docs] Missing Valid Namespaces Subcommand in Pulsar admin CLI Documentation"
**Describe the bug**
The `set-inactive-topic-policies` subcommand is only shown as a `topics` command and not as a `namespaces` command in the pulsar-admin docs: https://pulsar.apache.org/docs/en/pulsar-admin/.

I know it is a valid subcommand by looking at the source code as well as looking at the available `bin/pulsar-admin namespaces` commands.

**To Reproduce**
Steps to reproduce the behavior:

[2021-03-24 01:02] zymap commented on #9988
Is there has any more information about this? I tried it with 2.7.0 helm charts and with 2.7.1 pulsar images, I can't reproduce this issue.

Following is my clusters information:

[code]

[2021-03-24 01:15] zymap commented on #10018
The request looks like redirected to another broker. Can you try with pulsar proxy? You can expose the proxy port on local and use pulsar-admin to connect proxy then execute that command.

[2021-03-24 02:03] ta1meng commented on #9571
I downloaded Pulsar 2.7.1 and checked one case. I uploaded an Avro schema through pulsar-admin. The schema had an extra newline in it.

In Pulsar 2.7.0 that newline made it impossible for the producer application to publish to the topic with that schema registered. The client side error I got was:

```org.apache.pulsar.client.api.PulsarClientException$IncompatibleSchemaException: org.apache.pulsar

[2021-03-24 03:51] rdhabalia commented on #10021
@kjaggann I think this will help: https://github.com/apache/pulsar/pull/10026

[2021-03-24 06:27] devinbost opened #10030 "[Docs] Invalid instructions for generating license headers"
On this page: https://pulsar.apache.org/en/contributing/
the instruction to generate license headers is to run:
`mvn license:format`
Running that command produces this error:

The correct command is:
`mvn initialize license:format`

The docs should be updated.

[2021-03-24 08:27] BewareMyPower commented on #9950
https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/creating-a-pull-request may help.

[2021-03-24 08:55] #9847 closed

[2021-03-24 09:32] codelipenghui commented on #9916
@michaeljmarshall We can close the original consumer after check the DLQ has enough messages?

[2021-03-24 09:52] #9946 closed

[2021-03-24 10:06] rvashishth commented on #9988
@zymap we will investigate more at our end. Feel free to close this issue for me unless @sheperdsonbrown can provide more insight into this.

[2021-03-24 10:26] DonHaul commented on #10018
That was it, I was connecting directy to the broker service instead of to the proxie's webservice webServiceUrl

[2021-03-24 10:26] #10018 closed

[2021-03-24 16:34] sheperdsonbrown commented on #9988
Please close

[2021-03-25 01:28] Jennifer88huang commented on #9988
@sheperdsonbrown thank you for your feedback.

[2021-03-25 01:28] #9988 closed

[2021-03-25 03:45] gaozhangmin commented on #3716
I tested with pulsar 2.7.0. Got total different results.
1. After I restarted the Broker，found below log:
Adding a new node: /rack-1/x.x.x.x:3181
2.Attempting to delete a rack policy. And  the data is actually unaffected in zookeeper.

[2021-03-25 04:50] michaeljmarshall commented on #9916
That is essentially what we're currently doing in the test. We consume all of the messages from the DLQ and then close the two clients.

Regarding my earlier comment about using transactions, it looks like the transaction client isn't available in the consumer client class. I am going to look into delaying the closing of the client if there are outstanding messages to be ack'ed

[2021-03-25 06:12] michaeljmarshall commented on #9916
I took a look at updating the client so that when closeAsync is called, it waits for the DLQ steps to complete. It doesn't look like that would fit into the paradigm for how the client is currently closed.

I'm not sure about the right way to move forward here, but I'll keep thinking about it.

[2021-03-25 06:59] devinbost opened #10039 "[docs] [build] [tests] Maven build script is breaking intelliJ's test runner"
When attempting to run Pulsar tests in IntelliJ, I was getting this error:

[code]
I verified that the project was set to use JDK 1.8.

What I discovered was that in the Maven settings in IntelliJ, the "JDK for importer" was set to use JRE 11.
After changing this value, I noticed that immediately after running Reload All Maven Projects from the Maven sidebar, I was given this pop-up:
![Screen Shot

[2021-03-25 08:44] Anonymitaet opened #10040 "[Website] generate "Pulsar command-line tools" page from code automatically"
Our community has developed many features and enhancements for Pulsar command-line tools (for example, adding various commands and flags, that is great!)

However, docs are always ignored and lag behind the code. This might be caused by that devs do not want to add this kind of docs manually, which is an inefficient way. So may I suggest generating the contents of the [Pulsar command-line tools pa

[2021-03-25 08:47] Anonymitaet opened #10041 "[Website] generate "Pulsar configuration" page from code automatically"
Our community has developed many features and enhancements for Pulsar components (for example, adding various configurations, that is great!)

However, docs are always ignored and lag behind the code. This might be caused by that devs do not want to add this kind of docs manually, which is an inefficient way. So may I suggest generating the contents of the [Pulsar configuration page](https://pulsa

[2021-03-25 10:20] Anonymitaet commented on #10023
@michaeljmarshall The Pulsar Admin CLI page is deprecated (2.8.0: https://github.com/apache/pulsar/pull/9813, 2.7.1: https://github.com/apache/pulsar/pull/10037) since the contents of this page lag far behind code. The latest commands and descriptions of Pulsar Admin are shown on the [pulsar-admin website](http://pulsar.apache.org/tools/pulsar-admin/2.8.0-SNAPSHOT/). Users can navigate to that sit

[2021-03-25 10:20] #10023 closed

[2021-03-25 10:27] Anonymitaet commented on #10040
@michaeljmarshall  can you take a look on this? Thanks

[2021-03-25 12:13] hoswey opened #10042 "refresh delay time for "Delayed message delivery""
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

For the [delayed message delivery](https://pulsar.apache.org/docs/en/concepts-messaging/#producer), the delay time will be fixed when the message is produced. There is no way to update the delay time in the future even when the message is not been deliveried.

But in some business scenario lik

[2021-03-25 12:20] frankjkelly commented on #9266
FYI could be a dupe of https://github.com/apache/pulsar/issues/8282

[2021-03-25 15:24] michaeljmarshall commented on #10023
@Anonymitaet - I didn't realize there was a difference. Thank you for pointing that out. I think we should add some type of banner or notice at the top of that page to redirect users to the new resource. What do you think about that?

[2021-03-25 16:01] michaeljmarshall commented on #10023
I posted a review on https://github.com/apache/pulsar/pull/10037, so no need to respond here.

[2021-03-25 18:06] danielorf opened #10044 "Python Client`tls_validate_hostname` should validate hostname match against SANs"
**Is your enhancement request related to a problem? Please describe.**
The Python [Client](https://pulsar.apache.org/api/python/2.7.0-SNAPSHOT/#pulsar.Client.__init__) parameter `tls_validate_hostname` only validates that the endpoint hostname matches the Common Name in the TLS cert supplied by the endpoint.

**Describe the solution you'd like**
The Python Client should also validate against [Subj

[2021-03-25 21:06] harissecic commented on #4194
I'm experiencing similar issues trying to make Micronaut integration for Pulsar Java client is really hard mainly due to reflection and Micronaut now demands that it can build for GraalVM native image. If anyone has advice how to make this library run (which reflection calls to add) please let me know. Otherwise I support @fantapsody as Java client library is a bit too heavy now to run due to many

[2021-03-25 23:49] aahmed-se commented on #4194
Broker will require many changes and unlikely it can be made to work with graalvm anytime soon. Client should not an issue it has a dependency on netty , but netty authors should have already provided a guide to to use it with graal and it should work just fine.

[2021-03-26 01:15] Anonymitaet commented on #10030
Hi @devinbost thanks for reporting this. Would you like to update the doc (`pulsar/site2/website/contributing.md`)?

[2021-03-26 01:48] codelipenghui commented on #10042
@hoswey You can resend a new delay message when received the old one.

[2021-03-26 02:01] Jennifer88huang commented on #10039
@zymap @gaoran10 could you please help check the issue? Thank you.

[2021-03-26 03:57] Jennifer88huang commented on #10022
@codelipenghui could you please help confirm which behavior is correct? Thank you.

[2021-03-26 04:38] michaeljmarshall commented on #9916
I added this issue to the upcoming Pulsar Community meeting. There are a few design decisions I'd like to quickly talk through. Hopefully that will help identify a good solution to the existing race condition I exposed above.

[2021-03-26 06:01] michaeljmarshall opened #10046 "[Question] chuckedMessageRate vs chunkedMessageRate - Is chucked a typo?"
## Observation of Typo
Based on looking through the results of a topic stats call, I noticed that there appears to be a typo in one of the keys. Producers use the key `chunkedMessageRate` while consumers use `chuckedMessageRate`. [Here](https://github.com/apache/pulsar/blob/c754f9e90c4ec08a1be744d497ce81fa3dcfd568/site2/docs/admin-api-topics.md#stats-1) is an example result from topic stats. Notic

[2021-03-26 06:05] rvashishth commented on #9988
@zymap @Jennifer88huang what could be possible reason for this error? we keep on seeing this intermittently, i can ensure enough resource are available for the release to use.

[2021-03-26 06:33] #10014 closed

[2021-03-26 06:57] deekshith-elear opened #10047 "Appropriate authentication method to access Tuya cloud pulsar client"
Hi,
Tuya cloud is providing accesskey and accessId to authenicate to their pulsar message queue. What is the appropriate authentication between `AuthenticationTls, AuthenticationAthenz, AuthenticationToken`.
Can anyone help me to achieve this.
Thanks.

[2021-03-26 09:16] DragonDriver opened #10050 "[Question] change maxMessageSize by deploying pulsar with docker"
Hi, I deploy pulsar using docker-compose. Now, I want to change maxMessageSize in pulsar config and I refer to this issue #4054 .

Below is the content of my docker-compose.yaml. I use volumes to bind `broker.conf` and `bookkeeper.conf`.

[code]

I change the `maxMessageSize` in `broker.conf` and `nettyMaxFrameSizeBytes` in `bookkeeper.conf`.

[code]

But after I start-up pulsar by `docker-compose

[2021-03-26 10:25] zymap commented on #9988
Is any compaction error on it? Do you have more logs in the bookie container?

[2021-03-26 11:33] alivannikov commented on #9141
Hi all!

We are also interested in redelivery delay with exponential back-off feature, and while investigating possible ways to implement it I got a bit confused by different existing options and mechanisms. In particular - what is the relation between `reconsumeLater` api and `nacking`? Let's pretend I just want fixed retry delay. Is there any difference between
a. Configuring `NackRedeliveryDela

[2021-03-26 17:11] harissecic commented on #4194
Shaded client which is the one I have to use in this case as netty needs to be supported independently of the Pulsar Client so I really can't due to other limitations extract it. I can only research again what netty methods are used with reflection and try to list them with org.apache.pulsar... prefix. On the other hand looking at the source code I'm not sure how safe calls to Schema instantiation

[2021-03-26 17:22] lvs071103 opened #10053 "broker can not start"
zookeeper and bookkeeper  Separate deployment

[code]
zookeeper query:
[code]

package:
[code]

report Error:
[code]

[2021-03-26 18:17] frankjkelly commented on #8248
I have a similar error but on the GET side using Pulsar 2.6.1

[code]

[2021-03-26 21:44] yabinmeng opened #10054 "[Geo-replicaiton] Subscription replication is not working across clusters"
**Describe the bug**
I'm testing geo-replication with subscription enabled. In my testing environment, there are 2 clusters (ClusterA and ClusterB) with a global zookeeper on  a dedicated server host.

Each cluster also has its own producer and consumer client application which is based on Pulsar (Java) producer API and consumer Sync API.

Below is the summary of my testing steps:
1. ProducerA pub

[2021-03-27 10:30] Jennifer88huang-zz opened #10056 "[doc] Improve Pulsar client docs"
- [x] [Summarize Pulsar Client Matrix](https://docs.google.com/spreadsheets/d/1iTzn6QnOpTYK8QQHxXRb6a25nvuTNGPPJDdUQHGBUS4/edit#gid=1784579914)
- [ ] Collect feedback on the Client Feature Matrix, make a more complete and correct list
- [x] [Set up Pulsar Client doc template](https://docs.google.com/document/d/19bSptteYi0AD4DcqkcfE2tQcRnMTQGFwsQ9MxTvfRyA/edit)
- [ ] Improve the Client docs based o

[2021-03-27 11:25] BewareMyPower commented on #10053
It looks like your broker cannot connect to ZK. Could you use the pulsar's builtin ZK and try again? Or you can try to run the pulsar's builtin ZK shell in your broker's machine:

[code]

[2021-03-27 13:47] klwilson227 opened #10058 "Apply-config-from-env.py to comment values"
When values exist in the environment that match commented out keys in the file those key values should be placed into the file. It is common practice to leave default values commented out in the configuration files. These values cannot be replaced by apply values currently. For example bookkeeper has a mix of commented and I commented values to adjust disk almost full checks. One one may be modifi

[2021-03-27 13:48] klwilson227 commented on #10058
Please assign back to me I have begun work on code change.

[2021-03-27 14:45] klwilson227 commented on #10058
https://github.com/apache/pulsar/pull/10060

[2021-03-28 11:17] lhotari commented on #7684
#10001 solves maven dependency caching. This issue can be closed.

[2021-03-28 11:28] #7684 closed

[2021-03-29 02:17] baomingyu opened #10064 "After passing through pulsar, the payload information may be changed. Payload is made by protobuf Marshal method for serializing"
**Describe the bug**
After passing through pulsar, the payload information may be changed. Payload is made by protobuf Marshal method for serializing and contain html info。
*Such as*：
Consumer receive byte[]:  [10 22 103 114 97 115 115 121 108 99 97 111 64 116 101 110 99 101 110 116 46 99 111 109 18 28 227 128 144 116 101 115 116 227 128 145 231 148 168 230 136 183 230 179 168 229 134 140 232 174

[2021-03-29 03:20] #9783 closed

[2021-03-29 04:01] codelipenghui commented on #10022
@Jennifer88huang The document is correct, @dlg99 already push out a PR #10025  to fix the code part,

[2021-03-29 04:59] Jennifer88huang commented on #10022
@codelipenghui thank you for your confirmation.
@dlg99 thank you for fixing it.

[2021-03-29 06:06] lvs071103 commented on #10053
![image](https://user-images.githubusercontent.com/5029708/112792668-7f4a4500-9096-11eb-8647-163d25d94f28.png)

The test is okay

May be related to the system kernel

[code]
At present, no problems have been found on the 3.10 kernel. We will install the system as a 3.10 kernel for a test

thanks @BewareMyPower

[2021-03-29 06:38] gaoran10 commented on #10064
Do you use the byte schema?

[2021-03-29 07:06] DragonDriver commented on #10050
When deploying docker using `standalone` mode, `maxMessageSize` can be modified by `standalone.conf`. Just add two lines in `standalone.conf`.

[code]

And then use volumes to bind `standalone.conf` in pulsar container.

[code]

[2021-03-29 07:13] #10050 closed

[2021-03-29 08:53] Anonymitaet commented on #9282
Hi @BewareMyPower, I've [added descriptions](https://docs.google.com/document/d/1NuPUK4pUx_uXmhw-l3lPE9k4uKeH2IGMQ5o7MtvSp70/edit#) for the methods in the following files:

- ClientConfiguration.h
- ConsumerConfiguration.h
- ReaderConfiguration.h

Could you please help review?

Feedback before 3/31 is highly appreciated, thanks!

[2021-03-29 08:55] BewareMyPower commented on #9282
@Anonymitaet OK

[2021-03-29 09:02] Technoboy- opened #10067 "'Global' cluster will always create in standalone mode."
**Describe the bug**
![image](https://user-images.githubusercontent.com/6297296/112812591-e1fc0a80-90af-11eb-92b4-003f0ef76dfd.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Run pulsar in Standalone mode.
2. After the bootstrap, everything goes well, restart it.
3. See error 'RestException: Cluster already exists'

**Expected behavior**
Should not throw exception in the console

**Scre

[2021-03-29 09:06] lvs071103 commented on #10053
It is indeed a problem with the system kernel
I did verification today

[2021-03-29 09:07] #10053 closed

[2021-03-29 09:49] lhotari opened #10069 "[Broker] Mutations of propertiesMap is not threadsafe in ManagedLedgerImpl"
### Problem

`propertiesMap` is mutated and read in multiple threads, it's backed by an ordinary HashMap.
There is a comment in the code related to thread safety in `org.apache.bookkeeper.mledger.impl.ManagedLedgerImpl`:

https://github.com/apache/pulsar/blob/1b8da9245e111718acb337bce310ffdef7b30496/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java#L187-L190

H

[2021-03-29 12:04] slowman0718 opened #10071 "CVE-2021-21295 & CVE-2021-21290"
**Describe the bug**
Security scans reporting Netty package is having a known vulnerability CVE-2021-21295/CVE-2021-21290
--

**To Reproduce**
Scan the latest version of Apache pulsar 2.7.1

[2021-03-29 14:14] codelipenghui commented on #9141
The recosumeLater can works while the client crashes, if use the nack delay and the client crashes at a time, the message will retry immediately.

[2021-03-29 14:22] eolivelli opened #10075 "Schema API: add a way to access the Native Schema"
As we did for GenericRecord#getNativeRecord() we should have a Schema#getNativeSchema() method to access the underlying schema.

The alternative is currently to parse again the schema definition, but this is not efficient.

[2021-03-29 14:24] codelipenghui commented on #10054
@yabinmeng Does the consumeA acknowledged the received messages before killing it? You can try to get the topic internal-stats(bin/pulsar-admin topics stats-internal) before run consumerB to make sure the mark delete position is moving forward in the local cluster.

[2021-03-29 16:27] merlimat commented on #9958
The main reason is to make sure the data stays cached for least possible amount of time.

The data itself is not the main problem (it's already stored in pooled direct memory and there's a max size to the cache).

The problem typically comes from the tracking objects that are stored in the cache (eg: the pointers to the data). The current implementation is based on the `ConcurrentSkipListMap` whic

[2021-03-29 18:10] david-streamlio commented on #9926
Resolved

[2021-03-29 18:10] #9926 closed

[2021-03-30 01:47] #10071 closed

[2021-03-30 03:03] xausky opened #10080 "Push the correct source package to the maven repository"
Push the correct source package to the maven repository, and the wrong version now can hinder development.
from https://repo1.maven.org/maven2/org/apache/pulsar/pulsar-client-admin/2.7.1/pulsar-client-admin-2.7.1-sources.jar
![](https://i.imgur.com/MgQb1iO.png)
no sources !

[2021-03-30 03:40] #9923 closed

[2021-03-30 03:47] Technoboy- opened #10081 "Remove redundant signSafeMod"
Remove signSafeMod in ConnectionPool, use MathUtils.signSafeMod instead.

[2021-03-30 06:25] jiangmincong commented on #8593
This exception occurs when there are two different versions (2.5.0/2.6.1) of client consumption or production data at the same time. After replacing the topic, this exception does not appear. I will close this issue.

[2021-03-30 06:26] jiangmincong commented on #8666
This exception occurs when there are two different versions (2.5.0/2.6.1) of client consumption or production data at the same time. After replacing the topic, this exception does not appear. I will close this issue.

[2021-03-30 06:26] #8666 closed

[2021-03-30 06:26] #8593 closed

[2021-03-30 08:04] Anonymitaet commented on #9932
@freeznet thanks for raising this up. I've drafted [one](https://docs.google.com/document/d/1lAJE88GLePfI8KqMXsbMnWllEP0feVwpgAongAgSv-w/edit#) to solve this issue, could u pls help review? Feedback before 4/1 is highly appreciated, thanks!

[2021-03-30 08:05] lvs071103 opened #10083 "bookkeeper Manual recovery report Error"
Error:

[code]
package:
[code]

[2021-03-30 10:40] wuzhanpeng opened #10086 "[BUGFIX] cannot cleanup expired data after managed-ledger restart"
**Describe the bug**
Expired data can not be cleanup by trimming thread after managed-ledger restart.

**To Reproduce**
Steps to reproduce the behavior:
1. add some entries to a specific managed-ledger
2. read entries from the managed-ledger until the end
3. close the managed-ledger to simulate bundle-unload or broker-shutdown
4. re-open the same managed-ledger
5. the current ledger in managed-led

[2021-03-30 13:11] yabinmeng commented on #10054
@codelipenghui yes, consumeA acknowledged each message after receiving it.

[2021-03-30 13:28] eolivelli commented on #10080
This is the correct place
https://repo1.maven.org/maven2/org/apache/pulsar/pulsar-client-admin-original/2.7.1/

pulsar-client-admin is an uber jar that collects third party dependencies,
if you use pulsar-client-admin-original you use the base package and you should be able to download the sources properly

[2021-03-30 13:28] #10081 closed

[2021-03-30 17:23] otmanel31 commented on #9936
hello @sijie, is there any update for this issue ? i also tried to build apache pulsar locally but i face some issues.
When i run mvn -B -Dorg.slf4j.simpleLogger.log.org.apache.maven.cli.transfer.Slf4jMavenTransferListener=warn license:check test package (cmd in travis yml file), i face same issue in pulsar-client-java.
And if i skip test using maven command mvn -B -Dorg.slf4j.simpleLogger.log.org

[2021-03-30 20:39] MrThreepwood opened #10092 "Allow Checking age of Oldest Message in Queue"
**Is your feature request related to a problem? Please describe.**
We are currently using the Java client to work queues of data. This data needs to be processed in order. We create a thread  that then just constantly loops trying to grab new messages from this queue. Occasionally these queues stop being processed (perhaps an OOM error, but we aren't certain). Ideally we would like a health check

[2021-03-30 22:08] merlimat commented on #10092
You can check the oldest message in queue through the admin API: https://pulsar.apache.org/api/admin/2.7.0-SNAPSHOT/org/apache/pulsar/client/admin/Topics.html#peekMessages-java.lang.String-java.lang.String-int-

[2021-03-31 08:05] lhotari opened #10097 "Replicated Subscription fail with IllegalStateException"
### Problem

This exception is repeated on the log when using replicated subscriptions:
[code]

### To reproduce

1. Create 2-cluster k8s deployment ([sample script/helm to do so](https://github.com/lhotari/pulsar-playground/blob/master/test-env/redeploy_multi_cluster.sh))
2. Create consumer with replicated subscription for topic georep/default/t1 in cluster-a and close it
3. Create consumer with

[2021-03-31 08:49] eolivelli opened #10100 "[java client] Cannot integrate ProducerStats with external metrics systems"
**Describe the bug**
In case of PartitionedProducerImpl the getStats() method modifies the state of the internal "stats" object

[code]

The fact that the method is `synchronized` does not save the user from having corrupted stats, because the getStats() returns a reference to the internal `stats` object.
So if you call getStats() and the call some methods on the returned object from two different

[2021-03-31 09:09] lhotari commented on #10054
I did some investigation on this issue and I found a pattern.
The problem occurs if there are pending messages in the subscription.

As described above, I first produced 6 messages in the topic in cluster A.
If I consume all 6 messages in the consumer running in cluster A, starting the consumer in cluster B won't get any messages as expected.
However if only 3 messages are consumed and 3 remain in

[2021-03-31 09:27] lhotari commented on #10054
this is another example where there's multiple individual message ranges:

[code]
in this case, the 1. consumer was run on cluster-B (to consume 3 messages). The other steps performed where the same as described in the previous comment.

[2021-03-31 09:33] lhotari commented on #10054
I also wonder about the `messagesConsumedCounter`. I've only produced and consumed <50 messages in this cluster after it's creation. The readPosition and markDeletePosition seem to increase a lot too. I wonder if this is because of the subscription replication message that are part of the "messages" in the topic ([as described in PIP-33](https://github.com/apache/pulsar/wiki/PIP-33%3A-Replicated-s

[2021-03-31 09:49] lvs071103 commented on #10083
Sorry, I read the old manual， I find match version manual
![image](https://user-images.githubusercontent.com/5029708/113125162-e7d92380-9248-11eb-933a-d0e3caf85b69.png)

[2021-03-31 09:49] #10083 closed

[2021-03-31 10:45] lhotari commented on #10054
another observation. After leaving it running, there are negative values in the messagesConsumedCounter:

[code]
It seems odd to have negative values. I wonder if this causes any issues.

[2021-03-31 10:54] lhotari commented on #10054
It seems that `org.apache.bookkeeper.mledger.impl.ManagedLedgerImpl#getPreviousPosition` doesn't take the "marker messages" for replicated subscriptions into account and that is part of the problem.

https://github.com/apache/pulsar/blob/1b8da9245e111718acb337bce310ffdef7b30496/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java#L3092-L3115

[2021-03-31 11:39] lhotari commented on #10097
After fixing the exception in the description with #10098 changes, a new issue appears:
[code]

[2021-03-31 14:28] frank-montyne opened #10104 "Gson support"
**Is your enhancement request related to a problem? Please describe.**
In our projects we are using Gson not Jackson for Json serialization/deserialization. On top of that we make use of immutables (immutables.org) to define our data objects. Getters and setters are of the form field(), field(type data) not getField(), setField(...). When passing these data classes to JSONSchema.of() the fields ar

[2021-03-31 14:34] lhotari commented on #10054
In PIP-33 there is [this documented limitation](https://github.com/apache/pulsar/wiki/PIP-33%3A-Replicated-subscriptions#limitations):

It seems that because of the "marker messages" [being acknowledged automatically](https://github.com/apache/pulsar/blob/d3465529d33f0bf35fe837444e2216085eecbc5f/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java#L97), the mess

[2021-03-31 14:35] frank-montyne opened #10105 "Trino"
**Is your enhancement request related to a problem? Please describe.**
The current Pulsar connector is not usable in Trino. The package names have been changed from io.presto to io.trino
The presto sql functionality is also directly packaged with Pulsar, it would be better to let Trino package the connector.

**Describe the solution you'd like**
Separate the presto connector from pulsar and let it

[2021-03-31 14:39] yabinmeng opened #10106 "Exclusive subscription mode in not respected across regions"
**Describe the bug**
I was doing some geo-replication related testing and I found out  that Exclusive subscription mode is NOT respected across regions.

**To Reproduce**
Steps to reproduce the behavior:

**NOTE**: In my test, hosts in ClusterA is in subnet "172.16.10.xxx" and ClusterB is in subnet "172.16.20.xxxx".

1. In **ClusterA**, start a consumer **ConsumerA1** in Exclusive mode on a topic

[2021-03-31 21:17] MrThreepwood commented on #10092
This is handy, thanks! That said, it'd be nice if we didn't have to give our worker service admin access in order for it to check it's own health.

[2021-03-31 22:34] jpenning-tibco opened #10108 "Exclusive consumer creates non-partitioned topic instead of failing with ConsumerBusy"
**Describe the bug**
Exclusive consumer creates a non-partitioned topic instead of failing with ConsumerBusy.

**To Reproduce**
Steps to reproduce the behavior:
- Brokers are configured with `allowAutoTopicCreationType: "partitioned"` (as a requirement to use Kafka-on-Pulsar).
- Run 4 consumers configured for exclusive subscriptions simultaneously:

```sub=foobar14 ; for i in $(seq 0 3); do golang

[2021-03-31 23:37] david-streamlio opened #10109 "Add --batch-source-config switch to the Pulsar Admin Source API"
**Is your feature request related to a problem? Please describe.**
We are unable to create BatchSource connectors using the Pulsar Admin CLI, as there is no way to provide the batch source configuration.

For example, the following command will fail with an error that states `source class org.apache.pulsar.io.batchdatagenerator.BatchDataGeneratorPushSource implements org.apache.pulsar.io.core.Batc

[2021-04-01 03:50] codelipenghui commented on #10058
close via #10060

[2021-04-01 03:50] #10058 closed

[2021-04-01 04:07] codelipenghui commented on #9550
Close this issue since if the bookies not able to write data, the cursor state will be maintained by Zookeeper instead.

[2021-04-01 04:07] #9550 closed

[2021-04-01 09:31] Anonymitaet commented on #9932
@freeznet thanks for your guidance!

I've updated the [doc](https://docs.google.com/document/d/1flvqczz1_cKBESwvATuxZqHbila09hfjls0M0VRyS4A/edit#) based on your comments, could u pls provide tech inputs and help review?

Feedback before 4/3is highly appreciated, thanks!

[2021-04-01 10:35] tuteng opened #10114 "Support schema for python function"
**Is your feature request related to a problem? Please describe.**
Currently there is no support for configuring schema in python functions, some users want to use schema in python functions

**Describe the solution you'd like**
Support Configure schema for python function
Reference:
Implement topic schema search: https://github.com/apache/pulsar/blob/master/pulsar-functions/instance/src/main/java

[2021-04-01 12:02] #10030 closed

[2021-04-01 12:08] lhotari commented on #10054
this test https://github.com/apache/pulsar/pull/10098/commits/28faa8efd98a88004222d810407875c585cd8d67 reproduces the issue when "allowDuplicates" is set to "false". The test is part of PR #10098 .

[2021-04-01 14:00] lhotari opened #10117 "Flaky-test: SimpleProducerConsumerTestStreamingDispatcherTest.testRedeliveryFailOverConsumer"
org.apache.pulsar.broker.service.persistent.SimpleProducerConsumerTestStreamingDispatcherTest is flaky. The testRedeliveryFailOverConsumer test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-03-31T14:03:07.4363111Z](https://github.com/apache/pulsar/runs/2235404251?check_suite_focu

[2021-04-01 15:33] #10075 closed

[2021-04-01 16:24] eolivelli opened #10122 "[jdk11] Avro tests fail on JDK11"
AvroSchemaTest fails on JDK11:

[2021-04-01 17:38] Florentina55 opened #10123 "Pulsar installation on Docker Windows 10"
Hi All,

I am new to Pulsar and would love to install Pulsar on Docker on my Windows 10. I was using the below code:

`docker run -it -p 6650:6650 -p 8080:8080 --mount source=pulsardata,target=/pulsar/data --mount source=pulsarconf,target=/pulsar/conf apachepulsar/pulsar:latest bin/pulsar standalone`

But on Windows PowerShell I get the below and the Request Log just goes on. Can anyone tell me wh

[2021-04-01 18:39] #10067 closed

[2021-04-01 19:12] addisonj opened #10124 "Don't require webServicePort to allow for TLS only listeners"
**Describe the bug**
In the code, `webServicePort` is marked as optional and in many places in the code, we properly check if it is present before starting a non TLS listener.

However, other paths in code are not properly checking this. For example:
https://github.com/apache/pulsar/blob/bf00673fa0a2b35b22c00e47a72fca1d28a6f05f/pulsar-broker/src/main/java/org/apache/pulsar/broker/namespace/Namespa

[2021-04-02 03:14] gaoran10 commented on #10039
You could only retain the `main` profile.

[2021-04-02 03:30] gaoran10 commented on #9589
@wmccarley I agree with your understanding.

[2021-04-02 07:00] freeznet commented on #9932
@Anonymitaet Just did some comments on the latest version, PTAL, thanks.

[2021-04-02 07:51] Anonymitaet commented on #9932
@freeznet thanks for your guidance! I'll incorporate your comments and send a doc PR.

[2021-04-02 08:32] bry00 opened #10128 "Debian packages of Pulsar 2.7.1 C++ client cannot be downloaded"
Links in the page <https://pulsar.apache.org/docs/en/client-libraries-cpp/> related to Debian packages
(section "Install Debian") are broken or the packages have not been prepared yet.

As a result, Debian packages of version 2.7.1 cannot be downloaded.

[2021-04-02 10:48] alivannikov commented on #9141
@codelipenghui Thank you for reply. One more point regarding the issue.

While this is true for `Nack` case, which really increments the counter, `reconsumeLater` flow actually `Ack` original message under the hood and uses internal map structure to track the counter. For me redelivery count exposed by api was always 0 while testing `reconsumeLater`. I was reading real counter from message propert

[2021-04-03 00:52] gmethvin commented on #10104
I don't think this issue is so much about Gson support as it is about making it easy to generate schemas via other means, using other libraries. We've had similar challenges with pulsar4s and generating JSON schemas to support various Scala JSON libraries.

In my opinion the JSON schema support should be entirely pluggable. The core `Schema` interface should exist in the pulsar client library, and

[2021-04-03 01:03] devinbost opened #10132 "[CI] Build stability warning"
I saw this in the build output in Github:

If the way we're declaring the plugin could create build stability issues, we might want to fix that.

[2021-04-04 14:02] galrose opened #10136 "Memory leak"
**Describe the bug**
I'm producing to a persistent topic in pulsar with no subscriptions.
While producing the direct memory increases every time there is disk latency from the bookie's storage.
I've stopped writing and the memory (in broker ) doesn't get released. It's been that way for a few days and I haven't found a solution.

**To Reproduce**
Steps to reproduce the behavior:
1. Create pulsar c

[2021-04-04 15:01] frank-montyne commented on #10104
I completely agree. Another problem is the current reliance on getter/setter method to determine the properties of the POJO. Immutables (immutables.org) work with builders instead of setter methods and by default the getter methods for properties are not prefixed with 'get'.

[2021-04-05 06:02] gauravAshok opened #10137 "Ability to temporarily pause topic replication."
**Is your feature request related to a problem? Please describe.**
Currently, there is no provision to temporarily pause a topic's geo-replication.

The namespace's "--clusters" configuration acts as both, a way to configure the list of clusters across which geo-replication will happen and a way to tell where its topics will be available for msg production and consumption.

Removing a cluster from

[2021-04-05 09:44] eolivelli opened #10138 "Java Client Transactions: NullPointerException if transactions are not enabled and you try to create a transaction"
**Describe the bug**
On Pulsar Client 2.7.1 if you try to create a transaction but you have not enable transactions on the PulsarClient you  get a bad NPE.

java.lang.NullPointerException
	at org.apache.pulsar.client.impl.transaction.TransactionBuilderImpl.build(TransactionBuilderImpl.java:60)
..

**Expected behavior**
Some better error like IllegalStateException "In order to use Transactions enab

[2021-04-05 17:01] #9724 closed

[2021-04-06 04:00] thanhcb opened #10143 "Partitioned topics not served enough active brokers"
**Describe the bug**
I have 3 active brokers in the picture, using pulsar-admin brokers list to show
![image](https://user-images.githubusercontent.com/34120284/113657748-c81e8100-96c8-11eb-95e0-9fa62cb22ff1.png)
When i create partitioned topics with number of partitions for the topic is 8, using pulsar-admin topics partitioned-lookup
![image](https://user-images.githubusercontent.com/34120284/113

[2021-04-06 07:57] michaeljmarshall commented on #10143
@thanhcb - I have some questions based on what you provided. Are you actively producing to all topic partitions? Can you also provide the current number of bundles for the namespace? Do you have any bundle limits on the topic's namespace? Further, what is your bundle splitting configuration?

[2021-04-06 09:22] yitian108 commented on #6894
Today, the issue still persist, v2.7

[2021-04-06 12:46] lhotari opened #10150 "Flaky-test: PersistentTopicE2ETest.testBrokerConnectionStats / PersistentTopicStreamingDispatcherE2ETest.testBrokerConnectionStats"
Flaky-test: org.apache.pulsar.broker.service.PersistentTopicE2ETest.testBrokerConnectionStats
Number of failures: 12

org.apache.pulsar.broker.service.PersistentTopicE2ETest is flaky. The testBrokerConnectionStats test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-04-03T11:15:23.

[2021-04-06 12:50] lhotari opened #10151 "Flaky-test: KeySharedSubscriptionTest.testOrderingWithConsumerListener"
Flaky-test: org.apache.pulsar.client.api.KeySharedSubscriptionTest.testOrderingWithConsumerListener
Number of failures: 33

org.apache.pulsar.client.api.KeySharedSubscriptionTest is flaky. The testOrderingWithConsumerListener test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-04-

[2021-04-06 12:55] lhotari opened #10152 "Flaky-test: MultiTopicsReaderTest.testReadMessageWithBatchingWithMessageInclusive / MultiTopicsReaderTest.testReadMessageWithoutBatchingWithMessageInclusive"
Flaky-test: org.apache.pulsar.client.impl.MultiTopicsReaderTest.testReadMessageWithBatchingWithMessageInclusive
Number of failures: 5

org.apache.pulsar.client.impl.MultiTopicsReaderTest is flaky. The testReadMessageWithBatchingWithMessageInclusive test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[e

[2021-04-06 12:57] lhotari commented on #6300
Some recent failures:

Flaky-test: org.apache.pulsar.proxy.server.ProxyLookupThrottlingTest.testLookup
Number of failures: 5

org.apache.pulsar.proxy.server.ProxyLookupThrottlingTest is flaky. The testLookup test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-04-01T14:56:59.080060

[2021-04-06 14:25] diegosalvi commented on #7623
I've this exact problem, I need to figure out how many messages are still in the backlog but I receive a backlog count way more lower than the expected number. Finding a message backlog value way lower than excepted give the false feeling that some message has been lost "on the way" (still they are there to be read).

[2021-04-06 16:08] #10138 closed

[2021-04-06 16:40] devinbost commented on #6300
That's interesting.

Looks like it failed at ProducerBuilderImpl.create

Devin G. Bost

On Tue, Apr 6, 2021 at 6:57 AM Lari Hotari ***@***.***> wrote:

[2021-04-06 19:44] devinbost opened #10153 "[Go functions] Very high (abnormal) average process latency"
In Pulsar 2.6.2:

We ran a performance test of passthrough functions (meaning we just redirect the input to the output without any additional processing or logic) in Java, Python, and Go. Each function subscribed to the same input topic with an exclusive subscription. We delivered approximately 1000 msg/sec to the input topic.

Here are the findings:
![image](https://user-images.githubusercontent.

[2021-04-06 22:54] devinbost opened #10155 "[Python functions] Unable to run tests locally: No module named '_pulsar'"
In an attempt to run the Python Function tests, I ran the script https://github.com/apache/pulsar/blob/master/pulsar-functions/instance/src/scripts/run_python_instance_tests.sh

That blew up with this exception:

Sure enough, log.py has the line `pulsar._pulsar.CompressionType.LZ4` (https://github.com/apache/pulsar/blob/master/pulsar-functions/instance/src/main/python/log.py#L51).
However, in `pyt

[2021-04-06 23:00] devinbost commented on #10155
Usually, for things like this, I'd also expect there to be a requirements.txt file that contains the versions of all the Python dependencies. That would enable the dependencies to be installed into a conda env or virtual env to prevent dependency conflicts with other packages.

[2021-04-07 03:51] gaoran10 opened #10157 "[WebSocket] Token authentication param optimization"
**Is your feature request related to a problem? Please describe.**

The PR #9854 supported the browser side uses the token param to make the authentication like this.

*javascript*
[code]

*python*
[code]

The token value needs a prefix `Bearer `, this is inconvenient. We should find a way to remove the prefix `Bearer `.

[2021-04-07 03:57] devinbost commented on #9916
I just got this test in #10154
The fundamental problem with this test (and many of the other Flaky tests) is that we are basing test logic on timing, which falls apart when the test runner non-deterministically encounters a "stop the world" garbage collection event (or some other kind of event that creates random delays) somewhere in the middle of that. If the test runner is very resource-constrai

[2021-04-07 04:59] michaeljmarshall commented on #9916
@devinbost - I agree that those conditions make these tests more likely to fail. This test is also problematic because the underlying dead letter logic has a data race that can lead to messages being read from both the DLQ topic and then from the source topic. Any chance that you looked up the logs before triggering another run of that test?

[2021-04-07 05:17] devinbost commented on #9916
I didn't see anything really useful in the logs, but perhaps this stack
trace will be of some value.

Errors: 0, Skipped: 2, Time elapsed: 66.568 s <<< FAILURE! - in
org.apache.pulsar.client.api.DeadLetterTopicTest
233Error:
testDeadLetterTopic(org.apache.pulsar.client.api.DeadLetterTopicTest) Time
elapsed: 6.148 s <<< FAILURE!
234java.lang.AssertionError: expected [null] but found
***@***.***
235

[2021-04-07 07:04] astifter opened #10161 "Pulsar 2.7.1 doesn't build with USE_LOG4CXX=ON"
**Describe the bug**
Pulsar 2.7.1 doesn't build with USE_LOG4CXX=ON.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure pulsar-client-cpp with -DUSE_LOG4CXX=ON
2. Build

**Expected behavior**
A working build.

**Desktop (please complete the following information):**
 - OS: Debian 9

**Additional context**
With issue [PR 7132](https://github.com/apache/pulsar/pull/7132) the typedef for

[2021-04-07 12:25] #9932 closed

[2021-04-08 01:32] codelipenghui commented on #7623
@diegosalvi Yes, we are working on a fix currently, the new approach is based on the message index which can provide the message-based backlogs.

[2021-04-08 01:34] devinbost commented on #6054
I double-checked, and you were right that we're using shared subscriptions. However, with the way we're using the functions, each function has its own subscription, so we aren't routing messages between multiple consumers of the same shared subscription. It looks like the behavior mentioned in #7266 applies primarily to cases involving multiple consumers on a single shared subscription.

Regardles

[2021-04-08 01:51] #8115 closed

[2021-04-08 02:29] gaozhangmin opened #10167 "consumer stucked after adding new consumers to the KEY_SHARED subscriptions"
linked issue: #8115
Consumer could be stucked. after adding new consumer to the key_shared subscriptions.  same issue #8115 raised  before , be fixed in #10096
But after testing the code, We still got stucked.

To Reproduce:
1、firstly, create a new key_shared consumer

2、produce data with two keys：

3、adding a new consumer:

after adding new consumer, the old consumer got stucked:
![image](https:/

[2021-04-08 02:40] 315157973 commented on #10152
I am trying to fix it, which is caused by 2 issues.

[2021-04-08 03:43] thanhcb commented on #10143
i thought each of internal topics was split across to all active brokers at first, after reading the bundles you said, maybe i have some misunderstanding here.
The bundles in broker.conf i keep all default

# When a namespace is created without specifying the number of bundle, this
# value will be used as the default
defaultNumberOfNamespaceBundles=4

# enable/disable namespace bundle auto split
l

[2021-04-08 06:31] michaeljmarshall commented on #10143
The following documentation describes Pulsar's load balancing feature: https://pulsar.apache.org/docs/en/2.7.0/administration-load-balance/. I think it should help explain these configurations and their impact on your cluster. Note that if your topics do not have much data flowing through them, they will not get unloaded, which means they will not get distributed across all 3 brokers. Feel free to

[2021-04-08 06:40] baomingyu opened #10169 "Delayed messages may be executed several milliseconds in advance"
**Describe the bug**
Delayed messages may be executed several milliseconds in advance

**To Reproduce**
Steps to reproduce the behavior:
1. Produce a lot of  delay message and set deliverAfter 1 seconds
2. Consum such delay message
3. it may be found. some delay message may be executed several milliseconds in advance.

[2021-04-08 09:50] Anonymitaet commented on #9282
@BewareMyPower I've added more descriptions for various classes [here](https://docs.google.com/document/d/10Zp0V_R5QCvc3mv0YofU0D1rIGliirtakQZIUVM83xM/edit#).

Could you please review and **give feedback before 4/13**? Many thanks!

[2021-04-08 09:59] BewareMyPower commented on #9282
@Anonymitaet OK, I'm a little busy these days and may give some feedbacks on 4/11 or 4/12.

[2021-04-08 10:08] Anonymitaet commented on #9282
@BewareMyPower OK, take your time and thanks for your help.

[2021-04-08 10:23] jianyun8023 opened #10170 "Optimize the lock in AuthenticationAthenz"
**Describe the bug**
The use of the lock in AuthenticationAthenz will reduce the efficiency of AuthenticationAthenz. Hope it can be optimized.

**To Reproduce**

For more information, please see #8980 CI logs

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complet

[2021-04-08 10:28] kenbaev opened #10171 "Broker fails. Log contains only failed metrics requests (500 error code)"
**Describe the bug**
Pulsar broker for no apparent reasons stops returning metrics for Prometheus. The following entries appears in the broker log
`11:25:52.830 [pulsar-web-42-7] INFO  org.eclipse.jetty.server.RequestLog - 10.247.144.56 - - [07/Apr/2021:11:25:22 +0000] "GET /metrics/ HTTP/1.1" 500 553 "http://10.247.106.218:8080/metrics" "Prometheus/2.18.1" 30002
11:44:07.847 [pulsar-web-42-20] IN

[2021-04-08 10:51] jianyun8023 opened #10172 "pulsar-client-all still need to add dependencies when packages use"
**Describe the bug**
When using the pulsar-client-all.jar package, it still needs to add some dependencies before it can be used. Not just a jar can use pulsar-client.

The following are required dependencies
 - `org.slf4j:jul-to-slf4j`: When PulsarAdmin is initialized, it must be relied upon.

 - The following part does not need to add dependencies before 2.7
 - `io.airlift:aircompressor`
 - `org

[2021-04-08 10:58] kenbaev commented on #10171
We also see problems at the service level. We use Go client and it fails with error
`Failed to perform initial handshake`

[2021-04-08 12:23] abhilashmandaliya opened #10173 "Tests of class NullValueTest are randomly failing"
**Describe the bug**
Tests of class org.apache.pulsar.broker.service.NullValueTest are randomly failing. I tried running it from Intellij IDEA. Test output seems nondeterministic. Not sure what is wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. Run tests from the IDE. CLI can also reproduce the same behaviour.

**Expected behavior**
A deterministic success or failure output of the tes

[2021-04-08 13:54] bmsilva opened #10174 "Record.schema classmethod shouldn't sort the schema fields"
Hi,

I step into this problem when using AvroSchema and connecting to pulsar for read. The writers are implemented in Java, and in my case that I'm reading using python with the pulsar-client, I noticed that the schema doesn't respect the field order and it sorts the field alphabetically, link to the code here:

https://github.com/apache/pulsar/blob/3d7a6bae1d4de4eaa399d45b8f59b92b0f090faa/pulsar-

[2021-04-08 14:06] eolivelli commented on #10174
I am not sure about how it works in Python but usually this is the problem with Avro because when you read you have both the writer schema and the reader schema so Avro is able to decode the value using the writer schema and apply the content to the reader side model.

Pulsar stores the Writer schema in the I terbal schema registry

[2021-04-08 17:59] linlinnn commented on #10173
The cause of this issue is when the key is null and the route is SinglePartition, the partitioned producer will randomly pick one single partition.

[2021-04-08 22:01] Alxander64 commented on #7695
Is there any work on this still? I've recently discovered as well that the Python client doesn't correctly include the default values, at least when creating the JSON representation of it. I'm not sure of what technical issues there might also be with it.

[2021-04-08 22:11] linlinnn commented on #10173
When I change to non partitioned topic, it works well always. Something broken the order of the message sequence when consuming partitioned topic.

[2021-04-09 00:03] dlg99 opened #10176 "NPE in pulsar-admin topics partitioned-stats"
**To Reproduce**
Steps to reproduce the behavior:

[code]
succeeds

[code]

**Expected behavior**

Stats or human-friendly error

**Additional context**
tried with pulsar standalone

[2021-04-09 01:33] abhilashmandaliya commented on #10173
Exactly. And this seems a critical issue then.

[2021-04-09 05:51] linlinnn commented on #10176
I cannot reproduce this issue in version 2.7.1

[2021-04-09 05:53] dlg99 commented on #10176
@linlinnn I got that with 2.8 snapshot

[2021-04-09 06:59] linlinnn commented on #10173
Emm. I was not able to spot any bug yet :( @codelipenghui @eolivelli Please take a look for this issue.

[2021-04-09 08:05] Anonymitaet commented on #9216
@315157973 thanks for your great contribution!

Since you've finished all code work, could u pls add docs for them? Then users know your changes and how to use it.

I think the descriptions should be added to [pulsar-admin](http://pulsar.apache.org/tools/pulsar-admin/2.8.0-SNAPSHOT/), [REST API](https://pulsar.apache.org/admin-rest-api/?version=master&apiversion=v2), or [Java admin API](https://pu

[2021-04-09 08:10] thanhcb commented on #10143
ok, i've got it, close issue

[2021-04-09 08:10] #10143 closed

[2021-04-09 09:40] 315157973 commented on #9216
There are descriptions in my code, and we already have automatic document generation tools, so I don’t need to add them manually, right? @Anonymitaet

[2021-04-09 09:41] 315157973 commented on #9216
![image](https://user-images.githubusercontent.com/9758905/114161556-ccfa6380-995a-11eb-95b9-9c4793e1f677.png)

Looks like it has been generated

[2021-04-09 09:52] Anonymitaet commented on #9216
@315157973 yes, the "docs" are added in the code files and they will be shown on websites automatically.

One thing should pay attention to is that if your changes apply to [pulsar-admin](http://pulsar.apache.org/tools/pulsar-admin/2.8.0-SNAPSHOT/), [REST API](https://pulsar.apache.org/admin-rest-api/?version=master&apiversion=v2), and [Java admin API](https://pulsar.apache.org/api/admin/), make s

[2021-04-09 10:10] 315157973 commented on #9216
"docs" are added in `pulsar-admin`, `REST API`.
The `Java admin API` does not seem to be automatically generated yet?
Many new APIs do not exist, not just those I added

[2021-04-09 10:46] eolivelli opened #10181 "Transactions: broker side NullPointerException in case of enableTransactionCoordinator=false"
**Describe the bug**
[code]

**To Reproduce**
Try to create a transaction against a broker that is not configured for transactions

**Expected behaviour**
a better error for the user

**Additional context**
I am testing current Pulsar master

[2021-04-09 12:51] Anonymitaet commented on #9216
@315157973 If you want to add docs for [Java admin API](https://pulsar.apache.org/api/admin/), you may need to add descriptions to [these files](https://github.com/apache/pulsar/tree/master/pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin).

[2021-04-09 19:57] #10097 closed

[2021-04-09 21:41] devinbost commented on #6255
Thanks for creating this issue. I'm actively working on it, but I haven't found a clear root cause yet.
What I've noticed, however, is that the client consumer has the correct number of permits, but the broker dispatcher and broker Consumer are getting negative permits.
What's strange is that some people do not seem to experience this issue in their clusters, so it seems that there may be a config

[2021-04-09 22:09] devinbost commented on #6255
It's also possible that only certain kinds of workloads trigger the issues.
We've seen this issue in function workloads using shared subscriptions with one or more consumers per topic (but only one consumer per subscription) on persistent topics.
When looking at a heap dump, the dispatchers all used `PersistentDispatcherMultipleConsumers`. I'll post more information about the heap dump details on

[2021-04-09 22:24] devinbost commented on #6054
I've confirmed that permits are positive (and appear healthy) on ALL the functions' ConsumerImpl objects when the _brokers_ reported **negative** permits for the topics in two locations:

- `broker.service.persistent.PersistentDispatcherMultipleConsumers`
- `broker.service.Consumer`

I was a little surprised that `PersistentDispatcherMultipleConsumers` was used instead of `PersistentDispatcherSing

[2021-04-09 22:53] devinbost commented on #6054
The negative permits value matches between the dispatcher and the broker Consumer for the corresponding topic:
![image](https://user-images.githubusercontent.com/7418031/114248073-0380b000-9954-11eb-84b2-4d0f49028cd0.png)
![image](https://user-images.githubusercontent.com/7418031/114248118-15625300-9954-11eb-84c0-8d39a56ebe21.png)

[2021-04-10 04:33] 315157973 commented on #9216
All of my new APIs have descriptions. However,  my new APIs and many old APIs with descriptions are not displayed in `Java admin API`. Please help to check the tool. @Anonymitaet
For example:
https://github.com/apache/pulsar/blob/56bad04d702311cffed2ba94ff35f170af185eda/pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java#L1660-L1674

This API has been around for a long

[2021-04-10 13:09] MarvinCai commented on #10173
I don't think the test should expect fixed order of message anyway, partitioned topic can only guarantee order on single partition right? And for default if key is null round robin routing is used, so I think the test case is just making wrong assumption about message ordering.

[2021-04-10 13:31] linlinnn commented on #10173
@MarvinCai Yes, I agree that. I tried as you said before, but still got wrong order randomly with partitioned topic which have only one partition or use custom routing that just return 0.

[2021-04-11 05:21] MarvinCai commented on #10173
you're right, I see the same behavior, I checked with admin peek command that messages are in correct order in single partition, while some messages somehow arrive at consumer out of the original order.

[2021-04-11 13:00] codelipenghui commented on #10167
close via #10096

[2021-04-11 13:05] codelipenghui commented on #10167
@gaozhangmin From the topic stats, there are 13 messages does not been acked for consumer "5382f", this might cause the mark delete position can't move forward, could you please help check why the consumer "5382f" does not ack the messages?

[2021-04-12 01:58] gaozhangmin commented on #10167
OK I will check it.

[2021-04-12 04:33] rajcspsg commented on #8640
I would like to work on this issue.

[2021-04-12 06:51] gaozhangmin commented on #10167
After I checked why messages were not acked. I found, Event there is just one key_shared cosumer without adding new consumer, unacked messages still  increment.
I tried consumer provided by bin/pulsar-client. it worked as expected.
MayBe I wrongly used the tools provided by streamnative/examples。
since it's not a bug, i will close this issue.
thanks!

[2021-04-12 06:51] #10167 closed

[2021-04-12 09:02] yitian108 opened #10189 "Test REST API of Get Message By id"
Hello, I just test the REST API for Get Message By id via [https://pulsar.apache.org/docs/en/admin-api-topics/#get-message-by-id](url) however, I got two many same output content, while I expected only one message output like pulsar-admin command line, please see the REST API output and COMMAND LINE output

![output to much contents](https://user-images.githubusercontent.com/3113836/114368856-6707

[2021-04-12 09:33] Anonymitaet commented on #9216
@315157973

`setMessageTTL(String topic, int messageTTLInSecond)` is shown on https://pulsar.apache.org/api/admin/2.7.0-SNAPSHOT/ but not shown on https://pulsar.apache.org/api/admin/.

I've checked all commands and documented details [here](https://docs.google.com/spreadsheets/d/1GYi9O4bwL-7spFiBcXJ82wB4QSwlCDkSubDUDSBDLjI/edit#gid=0). I found that all commands (except `setMessageTTL(String topic

[2021-04-12 09:38] Anonymitaet commented on #9216
Hi @tuteng

@315157973 has added various commands and docs correspondingly in their source code files.

Docs for pulsar-admin and REST API are shown on websites but **docs for Java Admin API are not shown** on any version of the Java Admin API website (https://pulsar.apache.org/api/admin/2.7.0-SNAPSHOT/ or https://pulsar.apache.org/api/admin/).

**Do you have any clues?** Many thanks.

[2021-04-12 11:45] MarvinCai commented on #10173
From what I observed, the message is still in order when it arrives the Consumer but it sometimes gets out of order when it's processed by the MultiTopicConsumer holding the Consumer instance, suspecting the messageReceived callback is executed in different thread causing message processed out of order.

[2021-04-12 13:05] MarvinCai commented on #10173
From this line of code ([ref](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java#L261)), the `receiveMessageFromConsumer` should only be executed by thread from `pulsar-client-internal` executor which should guarantee ordering, while I was getting log like:
`21:00:56.338 [pulsar-external-listener-39-1:org.apache.pulsa

[2021-04-12 14:48] MarvinCai commented on #10173
So the future returned by `consumer.receiveAsync()` could be completed by the `pulsar-external-listener`'s thread, causing the following thenAccept also executed on `pulsar-external-listener`'s thread, this will happen if `incomingMessages` queue is empty when `consumer.receiveAsync()`  is called.
I think to fix this issue we can use thenAcceptAsync and provide a target executor for it.
Might need

[2021-04-12 15:19] linlinnn commented on #10173
I think another cause is that when exist pending receive, we should response the head of incomingMessages queue first instead of returning current message. And then we process the message on the same thread.

[2021-04-12 19:49] devinbost opened #10200 "[docs] Log4j configuration needs to be better documented"
We currently don't have much documentation around how to configure Log4j debugging for Pulsar, and the log4j docs are confusing. For example, I'm trying to enable DEBUG logging for Pulsar, but we're having trouble getting debug statements to show up in our rolling log. The Pulsar docs don't provide sufficient explanation around how to do this.

[2021-04-12 20:17] devinbost commented on #10200
For example, the following Log4j file doesn't emit debug statements for permits from `ConsumerImpl`, `Consumer`, or `PersistentDispatcherMultipleConsumers`

[log4j2.yaml.txt](https://github.com/apache/pulsar/files/6299567/log4j2.yaml.txt)

[2021-04-12 22:15] devinbost commented on #10200
I tried hard-coding `"debug"` in place of `"${sys:pulsar.log.level}"` in this part of the file:
[code]
but the only classes that appear to be emitting debug-level information are bookkeeper classes.

[2021-04-12 22:22] kaushik-develop opened #10202 "Authentication state refresh needs to be handled"
**Describe the bug**
In ServerCnx::doAuthentication(), the authentication data needs to be refreshed (instead of doing nothing) at an authentication refresh.

**To Reproduce**
Steps to reproduce the behavior:
1. When a Pulsar client talks with a broker, and the client updates the authentication data, the broker can be seen to continue using the older data.

**Expected behavior**
The broker is expe

[2021-04-12 23:13] devinbost commented on #10200
I was able to get debug statements after hard coding `"debug"` in place of `"${sys:pulsar.log.level}"` in this part of the log4j2.yaml file:
[code]
However, I haven't been able to get debug logging on the functions.

[2021-04-12 23:54] MarvinCai commented on #10173
@linlinnn 's response via email
`I think another cause is that when exist pending receive, we should response the head of incomingMessages queue first instead of returning current message. And then we process the message on the same thread.`

[2021-04-13 00:50] devinbost opened #10205 "[Functions] Need a way to enable debug log level in functions running in production"
As mentioned in this issue: https://github.com/apache/pulsar/issues/3259
there is currently no way to change the log level of a function to debug level.
For solving the issue here: https://github.com/apache/pulsar/issues/6054
I need to be able to enable debug logging in Pulsar functions to observe the permits behavior of `ConsumerImpl`.
Only being able to see the permit behavior on the broker tell

[2021-04-13 00:51] devinbost commented on #10205
Running functions in local-run mode is not sufficient to solve the problems linked above.

[2021-04-13 03:17] devinbost commented on #6054
I extracted this permit information from one of the brokers after enabling debug mode:

[2021-04-13 06:03] devinbost commented on #6054
The permits seem to jump to negative numbers in the broker debug logs with very little explanation.

If I filter out ZK logs, after this permit-related line:

I see some ManagedLedgerImpl logs, including this one:

Then, there are more ManagedLedgerImpl and some OpReadEntry logs.
Then, there are EntryCacheImpl and ManagedLedgerImpl logs.
Then, I get this:

The next time I get a `Distributing x mes

[2021-04-13 06:06] #10010 closed

[2021-04-13 06:48] devinbost commented on #6054
One possibility is that we're passing the wrong value (or maybe there's a race condition) when we get the number of messages when updating the permits.
We use the value [here](https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java#L517)
which is set [here](https://github.com/apache/pulsar/blob/

[2021-04-13 06:51] eolivelli opened #10210 "Schema: "IllegalReferenceCountException: refCnt: 0" while getting schema with AutoConsumeSchema"
**Describe the bug**
I am observing this error while working on new tests cases about AutoConsumeSchema.
I am still investigating in order to find a simple way to reproduce the problem, I am not able to reproduce it manually.

[code]

[2021-04-13 07:12] devinbost commented on #6054
I took a careful look through `AbstractBaseDispatcher.filterEntriesForConsumer(..)` where that value is used, but I didn't see any obvious issue with how the `totalMessages` are aggregated.

[2021-04-13 07:28] eolivelli commented on #10210
My understanding is that:
- in ClientCnx#sendGetSchema we call `sendGetRawSchema`() and it returns a CompletableFuture
(https://github.com/apache/pulsar/blob/c9c116767235491aca6f27ef7a07705666bbd647/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java#L879)
- in PulsarDecoder we receive the response from the server  and call ClientCnx#handleGetSchemaResponse ( https://github.co

[2021-04-13 07:29] eolivelli commented on #10210
@merlimat @codelipenghui @jerrypeng do you have cycles to take a look ?
I hope I am wrong in my explanation

[2021-04-13 08:59] bry00 commented on #10128
The issue seems to be solved now.

[2021-04-13 08:59] #10128 closed

[2021-04-13 09:03] Anonymitaet commented on #9216
Hi @tuteng could u pls give us some instructions? Many thanks.

[2021-04-13 09:55] lly00 opened #10212 "Support key shared mode-sticky consistent hashing in C++ client"
**Is your feature request related to a problem? Please describe.**
Currently there is no support for configuring sticky hash ranges in C++ client while using key shared mode. Although we can set key shared mode as STICKY in [KeySharedPolicy.h](https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/include/pulsar/KeySharedPolicy.h ), there seems to be no way to specify the sticky hash range

[2021-04-13 11:19] StoyanTc commented on #9861
The Pulsar in standalone mode is always started with enabled function workers however they are configured only for a cluster named `standalone`.
So, if one wants to change the cluster name this must be done in both `standalone.conf` and `functions_worker.yml`.
Another option is to skip the function worker using the parameter `--no-function-workers`.

[2021-04-13 12:54] jarleaase commented on #9861
It works now in k8s, with this configuration:
[code]

[2021-04-13 22:00] sijie opened #10219 "PIP 62: Move connectors, adapters and Pulsar Presto to separate repositories"
This is the master issue for tracking the progress of [PIP-62](https://github.com/apache/pulsar/wiki/PIP-62%3A-Move-connectors%2C-adapters-and-Pulsar-Presto-to-separate-repositories)

- [ ] Move pulsar-sql module to pulsar-presto repository
   - [ ] cherry-pick the changes from main repository to pulsar-presto repository
   - [ ] build the pulsar-presto image & release in pulsar-presto repository

[2021-04-13 22:11] merlimat commented on #10210
I think the problem is that https://github.com/apache/pulsar/blob/c9c116767235491aca6f27ef7a07705666bbd647/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ClientCnx.java#L879 is getting called potentially in a different thread, when the `request` buffer is going to be already released.

In particular, due to lazy initialization of fields, calling `commandGetSchemaResponse.getSchema()` wi

[2021-04-14 03:07] dragonls opened #10221 "Failed to create consumer while using proxy and `Prefix` Subscription Authentication Mode"
**Describe the bug**
I am using pulsar cluster on k8s, deployed by `pulsar-helm-chart`, having `proxy` component and using JWT for authentication.
If one namespace change the subscription authentication mode from `None` to `Prefix`, the consume can not subscribe the topic even having the valid role prefix.

**To Reproduce**
Steps to reproduce the behavior:
1. Using pulsar cluster on k8s, having `p

[2021-04-14 03:47] dragonls commented on #10221
Dig into the code, the broker will check the operation in [org.apache.pulsar.broker.service.ServerCnx#isTopicOperationAllowed](https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java#L305)

In this case:
`service.isAuthorizationEnabled()` is `true`, `originalPrincipal` is `roleA`, `authRole` is `proxy-admin`.
`isProxyAuthorizedFuture

[2021-04-14 05:34] MarvinCai opened #10222 "[Bug] Message can arrive out of order for MultiTopicConsumer"
See #10173 for more detail and instruction to reproduce.

Seems the root cause is, for `MultiTopicConsumer`, when it tries to receive messages from an underlying Consumer `C` for a single topic partition, if `C.incomingMessages` (consumer's receiver queue) has message, then message will be processed by the "pulsar-client-internal" executor, if `C.incomingMessages` doesn't have message, then it'll

[2021-04-14 07:03] MarvinCai commented on #10016
The cache_used_size is get from [here](https://github.com/apache/pulsar/blob/f800fde9f27b2e14994f822b8ddac4d01583fb08/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryMBeanImpl.java#L74) which is stored in `EntryCacheManager` , the cacheSize is decrement [here](https://github.com/apache/pulsar/blob/f800fde9f27b2e14994f822b8ddac4d01583fb08/managed-ledger/src/main/

[2021-04-14 09:25] MarvinCai commented on #10189
![image](https://user-images.githubusercontent.com/13480084/114687334-82654800-9cc8-11eb-94b0-d697671547d0.png)

I'm not able to reproduce with Postman, can you confirm it is not something within your cpp code?
Like seems the
        `curlpp::options::WriteStream ws(&os);`
and
        `os << myRequest;`
might duplicate output?

[2021-04-14 09:49] bilahepan opened #10227 "Error writing broker data on ZooKeeper"
**Describe the bug**
The cluster runs normally, with occasional error reports.
Pulsar version 2.5.1

**Exception details**
[pulsar-load-manager-3-1] WARN  org.apache.pulsar.broker.loadbalance.impl.ModularLoadManagerImpl - Error writing broker data on ZooKeeper: {}
com.fasterxml.jackson.databind.JsonMappingException: (was java.util.ConcurrentModificationException) (through reference chain: org.apac

[2021-04-14 09:53] bilahepan opened #10229 "Error when attempting to update local broker data"
**Describe the bug**
The cluster is running normally and an exception is occasionally reported。
Pulsar Version 2.5.1

**Exception details**
[pulsar-load-manager-3-1] WARN  org.apache.pulsar.broker.loadbalance.impl.ModularLoadManagerImpl - Error when attempting to update local broker data: {}
java.util.ConcurrentModificationException: null
	at java.util.HashMap$HashIterator.nextNode(HashMap.java:14

[2021-04-14 10:01] bilahepan opened #10230 "Failed to read policies data"
**Describe the bug**
The cluster is running normally with an occasional error. Causes the cluster to be temporarily unavailable.
Pulsar version 2.5.1

**Exception details**
[pulsar-io-22-6] ERROR org.apache.pulsar.broker.service.BacklogQuotaManager - Failed to read policies data, will apply the default backlog quota: namespace={tenant}/{namespace}
java.util.concurrent.TimeoutException: null
	at ja

[2021-04-14 10:32] frank-montyne opened #10231 "Exception using topic level policies"
**Describe the bug**
I enabled topic level policies in Pulsar 27.1 by setting the following properties in broker.conf and standalone.conf as is mentioned in the documentation:
systemTopicEnabled=true
topicLevelPoliciesEnabled=true

When creating a topic with a retention policy I constantly get the following error:

PULSAR >org.apache.pulsar.broker.service.BrokerServiceException$TopicPoliciesCacheN

[2021-04-14 12:53] frankjkelly commented on #10016
Thanks @MarvinCai for the patch.  For your last comment does this mean there should be an improvement ticket filed as I think understanding the size of this cache is super useful for performance/scaling decisions but I could be wrong. CC: @sijie @addisonj

[2021-04-14 13:40] lhotari opened #10232 "[CI] GitHub Actions reverse lookup for hostname is inconsistent"
### Problem

A lot of builds are currently failing in CI. The problem seems to be inconsistency in reverse lookups for the hostname.

Problems such as
[code]

### Example of the problem

Here's a screenshot of a ssh debugging session where I used https://github.com/lhotari/github-actions-debug and https://github.com/lhotari/action-upterm to get a ssh shell in a GitHub Runner VM.

When doing `nsloo

[2021-04-14 14:07] lhotari commented on #10232
It seems that this command will fix the issue:
[code]
I'll make a PR to fix this.

[2021-04-14 17:14] #10232 closed

[2021-04-14 17:33] jeffreytolar commented on #9888
This appears to be due to [`cryptography` dropping its `manylinux1` builds](https://cryptography.io/en/latest/changelog/#v3-4). They do produce `manylinux2010` and `manylinux2014` wheels.

Per https://github.com/pypa/manylinux,

The simplest fix is likely to bump https://github.com/apache/pulsar/blob/f800fde9f27b2e14994f822b8ddac4d01583fb08/pulsar-client-cpp/docker/Dockerfile#L21 to `manylinux2010

[2021-04-14 19:02] #10202 closed

[2021-04-14 22:41] klwilson227 opened #10235 "Deadlock on Monitoring thread ... LeaderService.isLeader()"
**Describe the bug**
When checking dashboards, we found that the pulsar summary board showed that 33% of brokers were running. However kubernetes showed that all of the brokers were running. We traced this back to problems with the metrics queries not returning "wget http://localhost:8080/metrics" and this was indeed returning a Gateway timeout. We checked the logs and found no errors in the logs

[2021-04-15 00:42] Anonymitaet opened #10236 "[Doc] generate 2.7.2 docs"
2.7.1 has been released and the Pulsar is on the way to 2.7.2 (and 2.8.0).

Since 2.7.2 docs might be different from 2.7.1, but now we[ do not have the 2.7.2 docs](https://github.com/apache/pulsar/tree/master/site2/website/versioned_docs) and can not update the 2.7.2 docs if needed. Consequently, 2.7.2 docs need to be generated.

[2021-04-15 00:43] Anonymitaet commented on #10236
Hi @eolivelli seems that you are the release manager of Pulsar 2.7.2? If so, would you like to generate 2.7.2 docs? Thanks

[2021-04-15 04:17] Anonymitaet opened #10237 "[Doc + Website] generate 2.8.0-SNAPSHOT for various API docs"
[All API docs](https://pulsar.apache.org/api/) should be automatically generated after each release.

However, the following API docs do not have 2.8.0-SNAPSHOT currently.

- [Java admin API](https://github.com/apache/pulsar/tree/asf-site/content/api/admin)
- [pulsar-broker](https://github.com/apache/pulsar/tree/asf-site/content/api/pulsar-broker)
- [pulsar-functions](https://github.com/apache/pul

[2021-04-15 04:26] Anonymitaet commented on #9216
@315157973 the docs you added for Java Admin API should be shown on https://pulsar.apache.org/api/admin/2.8.0-SNAPSHOT/, however, currently https://pulsar.apache.org/api/admin/2.8.0-SNAPSHOT/ is not generated yet and it should be generated after 2.7.1 is released. I've discussed w/ @tuteng and opened [this issue](https://github.com/apache/pulsar/issues/10237) to track. He will handle it.

Since co

[2021-04-15 04:26] #9216 closed

[2021-04-15 06:43] #9812 closed

[2021-04-15 07:18] yangbajing commented on #6425
Officials can add instructions to the document before fixing this problem, which caused me to waste a whole day ......

[2021-04-15 07:51] Anonymitaet opened #10241 "[Doc + Website] show multiple versions for various API docs"
For API docs, only [pulsar-broker](https://pulsar.apache.org/api/pulsar-broker/) shows various versions now.

To improve usability and searchability, the [following API docs ](https://pulsar.apache.org/api/)should show various versions as well.
- admin
- client
- cpp
- pulsar-functions
- python

As instructed by @tuteng, I've [deleted `index.html` files for the API docs above](https://github.com/a

[2021-04-15 07:59] #9282 closed

[2021-04-15 08:40] wangjialing218 opened #10242 "Support config remote clusters' authentication for geo-replicator"
**Is your feature request related to a problem? Please describe.**
Currently the pulsarClient for geo-replicator using the local cluster's authentication configuration in broker.conf. If the remote cluster is using a different authentication configuration (such as a different token), the geo-replicator will fail due to authentication fail.

**Describe the solution you'd like**
Add authentication p

[2021-04-15 10:07] eolivelli commented on #10236
Okay. Let me try to do it

[2021-04-15 10:24] Anonymitaet commented on #10236
@eolivelli thanks! FYI: @Jennifer88huang is documenting the doc release process for a minor release.

[2021-04-15 10:46] eolivelli commented on #10236
Thanks

[2021-04-15 11:08] #10046 closed

[2021-04-15 11:23] codelipenghui commented on #10231
@frank-montyne Is this issue can be reproduced stable? We have fixed some related issues in the https://github.com/apache/pulsar/pull/9781 in 2.7.1.

[2021-04-15 11:27] codelipenghui commented on #10230
@bilahepan From the log, the problem is related to fetch policy data from the zookeeper or zookeeper cache. There is a fix https://github.com/apache/pulsar/pull/8304 which is released in 2.6.2 and 2.6.3. You can try to upgrade to 2.6.3 or 2.7.1 to check if the problem still there.

[2021-04-15 11:38] codelipenghui commented on #10227
@bilahepan This issue is fixed by https://github.com/apache/pulsar/pull/7729, you can upgrade to 2.7.0 to try out.

[2021-04-15 11:38] codelipenghui commented on #10227
I will close this issue now, feel free to reopen it if necessary.

[2021-04-15 11:38] #10227 closed

[2021-04-15 11:54] gvolpe opened #10244 "Pulsar 2.7.1 checks schema compatibility even if set to ALWAYS_COMPATIBLE"
**Describe the bug**

Pulsar checks schema compatibility of JSON schemas when deploying new consumers even when the schema compatibility strategy of the namespace is set to [ALWAYS_COMPATIBLE](https://pulsar.apache.org/docs/en/schema-evolution-compatibility/#schema-compatibility-check-strategy), where *all changes should be allowed*.

**To Reproduce**

Steps to reproduce the behavior:

1. Set the

[2021-04-15 14:19] Jennifer88huang commented on #10236
I'll share the link when it's ready. Thank you all.

[2021-04-15 15:23] frank-montyne commented on #10231
Yes every time I enable these settings and create a topic with a retention policy I get this error. One question though, I assume it is ok to set the retention policy on the namespace to 0 for size and time and override these settings on the topic level with for example size 100 and time -1.

[2021-04-15 15:35] #10016 closed

[2021-04-15 15:59] #10176 closed

[2021-04-15 17:47] #10157 closed

[2021-04-15 20:22] michaeljmarshall commented on #9962
I am still interested in helping out with this feature, but I don't know when I will be able to implement it. Just wanted to mention that here in case someone else needs the feature sooner and would like to implement it.

[2021-04-16 11:57] kenbaev commented on #10171
Broker crashes again
On the client side i see
`"ERROR":"Short read when reading frame size: read tcp 10.247.144.5:41024->10.96.137.199:6650: i/o timeout"`
`"MESSAGE":"Failed to perform initial handshake"}`

On the proxy side i see this lines
`09:57:00.425 [pulsar-proxy-io-2-1] INFO  org.apache.pulsar.proxy.server.ProxyConnection - [/10.247.144.5:41024] New connection opened
09:57:00.427 [pulsar-pr

[2021-04-16 15:01] lhotari commented on #10054
@merlimat do you have a chance to take a look at this issue and answer [the question above](https://github.com/apache/pulsar/issues/10054#issuecomment-811117125)? thanks

the test case to reproduce the issue has been merged to master branch. You can reproduce the issue by modifying `allowDuplicates = false` in the `org.apache.pulsar.broker.service.ReplicatorSubscriptionTest#testReplicatedSubscript

[2021-04-17 06:54] merlimat commented on #10054
I took a look at the test and the issue is that by the time the consumer has acknowledged all the messages there is still no valid snapshot, therefore we cannot advance the position of the replicated subscription.

After the topic is created, the brokers will start sending markers and creating snapshots of the cursors. This happens with default cadence of 1sec.

If the consumer asks everything bef

[2021-04-17 10:50] hoswey commented on #10042
It is a work around. But it seems it is not so  efficient.

[2021-04-18 04:35] abhilashmandaliya commented on #9837
as an work around for now, I am using pulsar proxy which has solved the issue,

[2021-04-18 04:35] #9837 closed

[2021-04-18 09:49] bilahepan commented on #10230
Thanks. I'll try

[2021-04-18 09:49] #10230 closed

[2021-04-18 11:10] eolivelli commented on #10236
it looks to me that here https://github.com/aahmed-se/pulsar-wiki/blob/master/Release-process.md it reads that we should update the website only after the release has been closed

[2021-04-18 12:03] Anonymitaet commented on #10236
Hi @eolivelli, @Jennifer88huang is updating the release process.

We'd better generate docs for x.y.z after x.y.z-1 is released. Reason:
If we have docs specific for 2.7.2, and if we do not generate docs [after 2.7.1 is released] and [before 2.7.2 is released], then users can not update 2.7.2 docs.
(P.S. for docs, a new release is a full set of a previous one. For example, 2.7.2 is a full set of 2

[2021-04-18 12:26] MarvinCai commented on #10231
@frank-montyne
I tried following steps but not able to reproduce.
1. Run pulsar standalone.
2. Set retention policy on namespace "public/default" with --size 0 --time 0
3.  Set retention policy on topic "persistent://public/default/my-topic" with --size -1 --time 3h
4. Create a pulsarclient then create a producer on this topic.
Can you share the step you tried so we can try to reproduce the except

[2021-04-18 13:53] #10210 closed

[2021-04-18 14:40] eolivelli commented on #10236
@Anonymitaet
makes sense to me.
let me create the structure for 2.7.2, I will send a PR

[2021-04-18 15:11] frank-montyne commented on #10231
I also tried it with a locally running copy of 2.7.1 instead of our custom docker image. I also got no errors. There must be something wrong with our docker image. Sorry for the trouble!

[2021-04-18 18:06] adrianog commented on #6523
@jiazhai could you possibly expand on how to go about this. I'm not clear from your explanation.

[2021-04-18 18:15] adrianog commented on #4912
@kimcs and what would the workaround be for python?
Here https://pulsar.apache.org/api/python/2.7.0-SNAPSHOT/#pulsar.Consumer.seek I read:
"The message id can either be a specific message or represent the first or last messages in the topic"

Are there special ids for the first or last messages in the topics?

[2021-04-18 18:20] adrianog commented on #4912
to answer myself - found pulsar.MessageId.latest

[2021-04-18 19:29] adrianog commented on #9330
How do you use this in python? I see no provision for it.

[2021-04-19 03:11] #10221 closed

[2021-04-19 05:27] eolivelli opened #10258 "Broker NullPointerException seen in 2.7.1 logs for Commands#skipMessageMetadata about handleTxnAbortMarker"
**Describe the bug**
I am seeing this error in broker logs, 2.7.1

[code]

**To Reproduce**
I still do not have a reproducer, probably it is about transaction rollback

**Expected behavior**
No error in logs

** Environment **

Using Apache Pulsar 2.7.1 docker image

[2021-04-19 05:33] eolivelli commented on #10258
I have never seen this error in current master logs.

In 2.7 transactions are a "Developer preview", so I am not sure it is worth a fix

[2021-04-19 06:21] Jennifer88huang commented on #10236
@eolivelli thank you for making the effort. I've updated the workflow at https://github.com/apache/pulsar/wiki/Release-process#update-the-site-for-minor-releases
@Anonymitaet thank you for driving the process.

[2021-04-19 07:02] Tom-python0121 commented on #6093
@sijie Is this problem solved?

[2021-04-19 09:17] sandrzejczak commented on #8214
It seems that the bug described in this issue has not been fixed. The description mentions the case where consumers for new topics are discovered/added. `PatternMultiTopicsConsumerImpl` achieves this by invoking `MultiTopicsConsumerImpl#subscribeAsync(String topicName, boolean createTopicIfDoesNotExist)` method. It is still possible to add unpaused consumers to `MultiTopicsConsumerImpl` by using t

[2021-04-19 09:19] frank-montyne opened #10263 "Cannot delete non empty bundle"
**Describe the bug**
Creating a tenant, namespace and topic and then deleting the topic, namespace and tenant again in quick succession using the Java client **_often_** fails at the moment of deletion of the namespace with the following exception:

org.apache.pulsar.client.admin.PulsarAdminException$ConflictException: Cannot delete non empty bundle
	at org.apache.pulsar.client.admin.internal.Base

[2021-04-19 09:37] frank-montyne commented on #10231
I created a new issue that more specifically pinpoints the issue
#10263

[2021-04-19 09:37] #10231 closed

[2021-04-19 09:38] eolivelli opened #10264 "Java Client: Provide PulsarAdminBuilder.loadConf as for PulsarClientBuilder"
Currently (Pulsar 2.7.x) it is very awkward to build an AdminClient instance from a configuration file.

We already have a useful PulsarClientBuilder#loadConf method that allows you to pass named properties, that usually can be read from a file.

The risk is to always implement some custom procedure that uses non standard names

**Describe the solution you'd like**
I would like to see a PulsarAdmi

[2021-04-19 13:16] MarvinCai commented on #10263
Seems to be metadata syncing issue, the namespace service read metadata about topic from a cache, while the topic deletion operation finished and updated metadata in zookeeper, the change might not immediately reflected in the cache, hence you see the exception. Is it possible to add some wait time after the deletion? Or add a retry to the delete namespace operation.

[2021-04-19 13:19] codelipenghui commented on #8214
Cool @sandrzejczak, looking forward to your PR.

[2021-04-19 14:22] adrianog opened #10268 "Retention to be based on number of messages"
**Is your enhancement request related to a problem? Please describe.**
Currently I can only specify the size and time for retention.

**Describe the solution you'd like**
I would like pulsar to provide a mechanism for me to say "keep n messages"

**Describe alternatives you've considered**
Utilizing an amount of storage space as a retention policy roughly equal to n X message_size

[2021-04-19 14:24] adrianog commented on #6350
Is startMessageIdInclusive available in python?

[2021-04-19 14:32] #10153 closed

[2021-04-19 14:42] codelipenghui commented on #10042
@hoswey Yes, it's not efficient for handling this case but seems this is only a way to achieve the purpose. Supports update delay time of the message will introduce more complex in Pulsar or a message system.

[2021-04-19 15:05] codelipenghui commented on #9962
ping @zymap Could you please help take a look at this issue since you are working on tiered storage for now.

[2021-04-19 15:09] codelipenghui commented on #10244
@gvolpe Looks the problem is not about the compatibility, could you please share the schema definition? From the log, seem the problem is the the provided schema definition is not valid.

[2021-04-19 15:34] lhotari commented on #10054
Thanks for checking this @merlimat .

I tried these changes in this experiment: https://github.com/lhotari/pulsar/commit/2892e25d1654ea0e2c71891ffc89502a637612e3

However, if the subscription isn't created before the producer is created, no messages are received on R2. I wonder if the test case is missing some necessary configuration?

[2021-04-19 20:03] frank-montyne commented on #10263
I can do that but that’s quite arbitrary. Is it possible to fix this in the future?

[2021-04-19 20:24] david-streamlio opened #10269 "Pulsar IO Sink errors are not bubbled up correctly"
**Describe the bug**
When an Error or Exception occurs in write() method of the sink, the error is logged but no actions are performed.   The reason why is the logic that was added to enabled async processing in functions prevents errors in the sink to be bubbled up:

**Expected behavior**
When an exception occurs inside the write() method of a Sink, the error should be logged AND an exception thr

[2021-04-19 20:33] kirill-kosenko commented on #9114
I observe similar errors when "Pulsar Transactions" feature is enabled
[code]

[2021-04-19 22:20] dlg99 opened #10271 "schema registry / pulsar-admin: Schema type BYTES is returned as Schema type NONE"
**Describe the bug**

Schema type BYTES set for the topic is returned as Schema type NONE.

I hit this issue while working on the sink that uses GenericObject / relies on AutoConsumeSchema returning correct schema.
While there is a workaround there to make AutoConsumeSchema handle schema type NONE as BYTES this whole behavior is rather unexpected and illogical.

**To Reproduce**

[code]
This is ok

[2021-04-20 01:57] MarvinCai commented on #10263
We're relying on Zookeeper watch to invalidate cache entry and refetch, so that delay is inevitable.
We might able to invalidate entry in cache before delete/update in Zookeeper, but currently metadata store is not aware of all the caches, so that'll be non trivial work and not sure how much value it brings.
Could use a second opinion here.

[2021-04-20 07:07] gvolpe commented on #10244
@codelipenghui here's the full error including the old schema (which was a dummy one)

[code]

The system was working just fine with this until we released a new update of the schema. I think the real problem here is that Pulsar should not verify the schema at all with the selected compatibility strategy.

[2021-04-20 09:02] lhotari commented on #9792
I made a fix to some epoch handling concurrency issues in #10278

[2021-04-20 10:07] viviel opened #10281 "Maven profile configuration problem"
**Describe the bug**
Maven profile configuration problem.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Master branch
2. Use command 'mvn -Pcore-modules -DskipTests clean package'

**Expected behavior**
Than some modules like test or docker modules will be packaged, this is not what I want.

**Screenshots**
No.

**Desktop (please complete the following information):**
 - OS: macos

[2021-04-20 10:35] Jennifer88huang-zz opened #10282 "[website] Improve the user experience in switch tab"
**Is your enhancement request related to a problem? Please describe.**
We adopted the switch tab for Pulsar docs.  It's not switched automatically once for all.
Take [Functions develop](http://localhost:3000/docs/en/next/functions-develop) as example, when you select one tab, the other tabs are not switched automatically.
![image](https://user-images.githubusercontent.com/47805623/115382361-29853a

[2021-04-20 11:12] lhotari commented on #9792
@xche Can you share details about the client JDK/JVM ? Is it 32-bit or 64-bit JVM? In case of 32-bit, #10278 fixes a concurrency issue. For 64-bit JVMs it's unlikely that #10278 makes a difference.

[2021-04-20 11:50] frank-montyne commented on #10263
If I add a retry is there a way to know that I got the exception due to the
fact that the cache was not up to date yet? If not how can I discriminate
between a real error and a cache problem?

On Tue, Apr 20, 2021 at 3:58 AM Marvin Cai ***@***.***> wrote:

[2021-04-20 12:29] frank-montyne opened #10283 "Do not tie a producer to a specific topic"
**Is your enhancement request related to a problem? Please describe.**
In most other systems like Kafka, RabbitMQ, MQTT,... a producer is not tied to a specific topic. This allows me to use the same producer to publish to multiple topics. Is there a specific reason why this is different in Pulsar?
If not could this dependency be removed?

**Describe the solution you'd like**
A producer that can pu

[2021-04-20 14:16] baomingyu opened #10284 "Occasional consumer stucked when restart consumer whit key_shared subscription type ."
In such scene , consumer will be stucked after restart.
First  step ， tow consumers with key_shared subscription type and same group.
           such as  consumer1 and consumer2
Second  step, broker receive consumer1 flow command with 1000 permits and do not get consumer2's flow command.
Third  step, broker start send message to consumer, but messages whit keys are assigned to consumer2, so it wil

[2021-04-20 15:29] MarvinCai commented on #10268
To implement this it should be pretty similar to current size limit.

[2021-04-20 16:01] eolivelli commented on #10271
I am reopening the issue, as my PR did not address the problem directly.

Setting SchemaType = BYTES means to not set a schema at all, I am not sure about what it the best behaviour we should implement.

@jerrypeng @sijie what do you think ?

[2021-04-20 16:12] adrianog commented on #10268
Looks like an easy win.

[2021-04-20 16:51] asafm commented on #572
Also bear in mind you still have to maintain 3 separate machines with a special role that function just for raft, so it’s not that different. Kafka specifically adapted Raft to match their needs. IMO it just makes more difficult to fix issues.

[2021-04-20 17:30] adrianog commented on #5447
Any update?

[2021-04-20 19:26] merlimat opened #10289 "Graceful shutdown stopped working on master"
Trying to do a graceful stop of a broker with `CTRL-C` will fail due to an unexpected exception and then it will shutdown after 30 sec.

The logs show:

[code]

@lhotari I think this is probably related to #10199

[2021-04-20 19:49] lhotari commented on #10289
@merlimat Thanks for the report. I'll take a look tomorrow.

[2021-04-20 21:23] #9792 closed

[2021-04-21 01:15] devinbost opened #10291 "[Functions] PulsarAdminException when getting status on function 2/3 times"
I created a build based on the current snapshot of master (2.8.0-SNAPSHOT), and when I try running status on functions, about 2 out of 3 times, I get an exception with this stacktrace:

[2021-04-21 01:27] zymap commented on #9962
There has a delete method for the offload data but looks like we didn't trigger it when deleting a topic.

When we deleting a topic, it will delete from the bookkeeper directly(https://github.com/apache/pulsar/blob/ef06691531002c5d7cdbbdafc5494914ee8e0765/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java#L2569), and I found the offload data only deleted when a

[2021-04-21 02:19] devinbost opened #10293 "[Functions] Unable to create/update functions, Admin operations often fail, and performance is unusably slow"
I created a build based on master (2.8.0-SNAPSHOT), and I'm getting a number of issues.
First of all, the ingestion rate is very slow, at least 100th of the typical rate.

Attempts to publish often timeout with `Unable to publish to topic` or `Unable to create Pulsar Producer: org.apache.pulsar.client.api.PulsarClientException$TimeoutException`

Here are more:

Also, when I try to update a functio

[2021-04-21 02:28] devinbost commented on #10293
I'm also getting bookie timeouts, like:
`2021-04-21T02:25:14,625 [BookKeeperClientWorker-OrderedExecutor-24-0] WARN  org.apache.bookkeeper.client.PendingAddOp - Failed to write entry (1211784, 9): Bookie operation timeout`

[2021-04-21 02:44] devinbost commented on #10293
Note: The slow performance was resolved after switching from debug log level to info log level, but the Admin operations are still failing.

[2021-04-21 02:55] lhotari commented on #10289
@merlimat I wasn't able to reproduce this issue. I started pulsar directly in the repository directory with `./bin/pulsar standalone` and then hit `CTRL-C`. This is the output I get:
[code]
and the JVM stops as expected.

I wonder if you were able to capture the exception stacktrace?

[2021-04-21 03:50] Tom-python0121 opened #10294 "mvn install -DskipTests failed in aarch64:protoc-gen-grpc-java-1.18.0-linux-aarch_64.exe: program not found or is not executable"
see:
[code]
Here's my proxy settings for maven:
[code]
This is my system information：
[code]
Can you help me to find out how to solve this problem: protoc-gen-grpc-java-1.18.0-linux-aarch_64.exe: program not found or is not executable

[2021-04-21 04:09] merlimat commented on #10289
No, I couldn’t see any stack trace. I think it was just the JVM default exception handler when the thread is terminated.

I also cannot reproduce always, though I’ve seen it few times. I think we should prob just  add a catch Throwable in there and it should fix it.

One other minor thing that is reproducible is there seems to be always a 5 sec delay when the executors are being shut down. It seem

[2021-04-21 04:47] lhotari opened #10295 "[Bookie] Bookie fails to start when httpServerEnabled=true after upgrading vertx to mitigate vulnerabilities"
**Describe the bug**

Vertx was upgraded in #10261 to 3.9.7 version. Netty was upgraded to 4.1.63.Final in #10266 .
[Vertx 3.9.7 isn't compatible with Netty 4.1.63.Final](https://github.com/eclipse-vertx/vert.x/issues/3865#issuecomment-819355207) .

**To Reproduce**

Start a bookie with httpServerEnabled=true (for example by using the default Pulsar Helm chart)

**Expected behavior**

Bookie shoul

[2021-04-21 06:11] MarvinCai commented on #10263
I'm afraid `org.apache.pulsar.client.admin.PulsarAdminException$ConflictException: Cannot delete non empty bundle` is the only information we can get, pulsar can't tell that's because metadata cache not synced or the bundle is we actually have some more topics in the bundle.
I think the easiest work around might be just add a retry with some backoff.

[2021-04-21 06:19] devinbost opened #10298 "[Functions] Possible memory leak"
I got the error below in one of my simple filter functions after upgrading from 2.6.3 to a cut built from master (2.8.0-SNAPSHOT).
To get the function to run, I needed to increase the function's RAM through the Admin API. When I captured a heap dump, the function had grown to 6.5 GB! I hadn't needed to increase its RAM in any previous version of Pulsar.
In the heap dump, it appears that it's retai

[2021-04-21 06:28] michaeljmarshall commented on #10268
I like this addition. It definitely seems like a good corollary to the size limit retention that already exists. @adrianog - are you interested in contributing this feature?

[2021-04-21 06:36] devinbost commented on #6054
I was able to demonstrate the issue with the new debug statements currently in a build I created from master (2.8.0-SNAPSHOT). If you study the logs below, you will see that more permits were dispatched than available, which blocks dispatching of new messages and results in repeated entries of this message:
`Trigger new read after receiving flow control message with permits -11 after adding 0 perm

[2021-04-21 08:38] hoswey commented on #10042
Ok.

[2021-04-21 08:38] #10042 closed

[2021-04-21 08:53] abcCL opened #10299 "Batch Receive Messages is 0 after several time"
**Describe the bug**
First I produce 1,000,000 messages into the topic and batch receive from it , but not ack them.
After one or two batch receive , I get  almost 250,000 messages ,  and later the num of batch receive messages is 0.

**To Reproduce**
batch policy
[code]

**Expected behavior**
I just want to receive the messages

**Screenshots**
first receive
![image](https://user-images.githubuse

[2021-04-21 09:15] dragonls opened #10300 "Failed to produce/consumer partitioned topic if updated the topic partition number"
**Describe the bug**
While using partitioned topic, if we control the authorization of the topic in topic level and update the topic partiton number, new producer/consumer will recerive auth error `org.apache.pulsar.client.api.PulsarClientException$LookupException: Proxy Client is not authorized to Lookup`

**To Reproduce**
Steps to reproduce the behavior:
1. Having a pulsar cluster using JWT for

[2021-04-21 10:23] MarvinCai commented on #10299
Hi, can you run admin command `pulsar-admin topics stats [topicname]` to get the topic status and share the result? If broker has been restarted you might need to reproduce the issue so the topics stats is accurate.
And can you share the broker config, especially the message TTL, message retention and backlog quota settings.

[2021-04-21 10:30] linlinnn commented on #10300
This issue is caused by when updated the partition number of topic, triggering `TopicsPartitionChangedListener` look up the partition number of topic, but `roleA` do not have been granted `LOOKUP`

[2021-04-21 10:57] lhotari commented on #10289
I added printing of the stacktrace in #10304 .

I didn't yet add any new catches. I expect that #10304 changes will help find the underlying issue.

This is expected behavior. For Netty Event Loop Shutdown, there's a quiet time parameter. It's 2 seconds by default. I have increased it to use a fraction of the configured `brokerShutdownTimeoutMs` with the maximum value of 5 seconds.

https://github

[2021-04-21 11:07] #10236 closed

[2021-04-21 11:32] kirill-kosenko opened #10306 "[Transactions]. Transaction is not aborted after timeout"
Hello
I'm running into an issue with Pulsar Transactions, here are the details:
I'm following the documentation:
[code]
Before commiting the transaction  `txn.commit().get()` I kill the app process.
However after waiting for 5 mins(Transaction timeout) if I restart app and try to process the same message with commiting the transaction
I get an exception:
[code]
Did I miss something?
Hope it was cl

[2021-04-21 12:12] dragonls commented on #10300
Is that any solution or suggestion for this?

[2021-04-21 12:48] linlinnn commented on #10300
@dragonls you can add such config in broker.conf
[code]

[2021-04-21 15:35] lhotari opened #10310 "Flaky-test: TransactionMetadataStoreServiceTest.transactionTimeoutRecoverTest"
TransactionMetadataStoreServiceTest is flaky. The transactionTimeoutRecoverTest test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/10307/checks?check_run_id=2401183687#step:9:508)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
java.lang.AssertionError: expected [1] but found [0]
	at org.testng.Assert.fail(Assert.java:99)
	at org.te

[2021-04-21 15:36] lhotari commented on #10310
@congbobo184 Would you mind fixing this test? It was recently introduced in #10162

[2021-04-21 15:51] lhotari opened #10311 "[Documentation] Add documentation about Pulsar Broker 64-bit JVM requirement"
**Is your enhancement request related to a problem? Please describe.**

Pulsar Broker isn't thread safe when running on 32 bit JVM. The requirement is a 64-bit JVM. This isn't currently documented.

**Describe the solution you'd like**

Document the requirement of using a 64-bit JVM.

**Additional context**

See comments in discussion https://github.com/apache/pulsar/pull/10280#discussion_r6168919

[2021-04-21 18:32] #10295 closed

[2021-04-21 19:42] #10022 closed

[2021-04-21 22:52] #10310 closed

[2021-04-21 22:57] #9438 closed

[2021-04-22 00:29] MarvinCai commented on #9597
@jangwind
You're using `managedLedgerFactory.asyncDelete` which is delete managed ledger backing the topic and topic metadata, which is essential delete the topic.
You can take a look at `ManagedLedgerImpl.internalTrimConsumedLedgers` which only delete the fully consumed ledger from topic.

[2021-04-22 01:09] #6437 closed

[2021-04-22 01:54] codelipenghui opened #10316 "Partitions number not equals as expected error in 2.7.1"
**Describe the bug**

Related to https://github.com/apache/pulsar/issues/8000

We have a PR https://github.com/apache/pulsar/pull/9446 before to fix some related issues, seems #9446 does not cover all cases, so it needs to investigate more details about this issue.

[code]

**Additional context**
Pulsar client version 2.7.1

[2021-04-22 05:12] dlg99 commented on #10219
missing (from what I remember from the community meeting):
* bring pulsar-adaptors up to the standards, CI, license check, fix integration tests.
* trigger scheduled (daily, weekly) rebuilds/tests of these repos with latest pulsar master to detect breaking API changes
* Docs update (i.e. check links to code/examples)

[2021-04-22 06:52] eolivelli commented on #10244
@gvolpe do you have a chance to try out current master ? 2.8.0-SNAPSHOT
we fixed as couple of problems recently

[2021-04-22 08:11] Anonymitaet commented on #10311
@lhotari thanks for raising this up. Would you like to update the docs? Then I'd like to help review, thanks.

[2021-04-22 08:15] Anonymitaet commented on #10241
Hi @tuteng any progress? thanks

[2021-04-22 08:15] Anonymitaet commented on #10237
Hi @tuteng any progress? thanks

[2021-04-22 08:39] lhotari commented on #10219
More tasks:
- Setup scheduled build to do snapshot publishing to https://repository.apache.org/content/groups/snapshots/org/apache/pulsar
  - needed so that development branch (master) of pulsar-adaptors / pulsar-connectors can depend on snapshot versions of pulsar libraries
- Extract integration testing library from `tests/integration` in `apache/pulsar` so that integration tests in pulsar-adapto

[2021-04-22 09:42] BewareMyPower opened #10324 "Inaccurate throughput statistics from pulsar-perf"
**Describe the bug**
When I run a pulsar-perf to produce messages to a single broker cluster with 100000 messages per second and the default 1KB message size, the throughput from client side is too large:

However, from the dashboard's metrics, the throughput is normal, which should be about 100000 / 1024 = 97.65 MB/s.

**To Reproduce**
Steps to reproduce the behavior:
1. Run a pulsar cluster or s

[2021-04-22 11:32] dragonls commented on #10300
@linlinnn I am using pulsar on k8s, and tried the config as you said. Still getting the same error.
 We can look into the exception, https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java#L408 , it is not about pulsar proxy component but the authorization control.

[2021-04-22 12:34] dragonls commented on #10300
There are 2 ways to solve this bug:
1. After updating the partition num of the topic, try to regrant the permissions of the topic. It is to say that in the end of [`org.apache.pulsar.broker.admin.impl.PersistentTopicsBase#updatePartitionedTopic`](https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java#L3446) , try to ge

[2021-04-22 13:43] #10181 closed

[2021-04-22 13:48] adrianog opened #10328 "startMessageIdInclusive not avail in c++ / python"
**Describe the bug**
startMessageIdInclusive is not avail for c++/python
https://pulsar.apache.org/api/client/2.7.0-SNAPSHOT/

    startMessageIdInclusive

    ReaderBuilder<T> startMessageIdInclusive()

    Set the reader to include the given position of startMessageId(MessageId)

    This configuration option also applies for any cursor reset operation like Reader.seek(MessageId).

    Returns:

[2021-04-22 14:18] lhotari commented on #10298
Try sorting the instances by the "retained sizes", that will give more useful information of what instances are leaked. What tool are you using for analysing the heap dump?
You could also try using the free and opensource [Eclipse MAT](https://www.eclipse.org/mat/downloads.php) tool and its ["Leak suspects report" feature](https://help.eclipse.org/2021-03/index.jsp?topic=%2Forg.eclipse.mat.ui.help

[2021-04-22 14:54] linlinnn commented on #10300
Emm.. If the permission granularity is partition, you are right.

[2021-04-22 15:48] linlinnn commented on #10324
This is right.
Dashboard's unit is MB, PerformanceProducer's unit is Mbit.

[2021-04-22 16:00] BewareMyPower commented on #10324
@linlinnn Thanks, I just got used to MB/s.

[2021-04-23 02:48] zymap opened #10332 "Function api not pass the auth data to check superuser role"
**Describe the bug**
We do not pass the auth data to the superuser role check, which will cause if the authorization provider needs to parse the superuser from the token, it will get an NPE.

https://github.com/apache/pulsar/blob/master/pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/rest/api/ComponentImpl.java#L1534

[2021-04-23 05:09] lhotari commented on #9720
The client key and certificate in `src/test/resources/authentication/keystoretls/client.keystore.jks` are invalid for TLSv1.3.

The public key is "DSA 1024 bits" and signature algorithm is "SHA1WITHRSA". Both DS and SHA1 are prohibited in TLSv1.3.
![image](https://user-images.githubusercontent.com/66864/115820789-39b93780-a40a-11eb-96a3-9bb840dc0196.png)

However I'm not sure why this problems com

[2021-04-23 06:34] lhotari opened #10335 "[Broker] Change default TLS protocols to "TLSv1.3,TLSv1.2" (replace previous default "TLSv1.2,TLSv1.1,TLSv1")"
**Is your enhancement request related to a problem? Please describe.**

TLSv1.3 support has been introduced in the JDK since [JDK 8 since 8u261](https://github.com/AdoptOpenJDK/openjdk-build/issues/1254#issuecomment-678900470). TLS protocol TLSv1.1 and TLSv1 aren't considered secure.

**Describe the solution you'd like**
Change the default TLS protocols to "TLSv1.3,TLSv1.2", which replaces the pre

[2021-04-23 06:37] lhotari commented on #10335
#10336 is a prerequisite before making this change.

[2021-04-23 06:50] lhotari commented on #9720
SHA1 signature algorithm isn't accepted in JDK11 since it includes a change "JEP 288: Disable SHA-1 Certificates". The problem in the TLS tests on JDK11 isn't related to TLS1.3. The problem is fixed by #10336 .

[2021-04-23 08:19] eolivelli commented on #9806
This issue has been fixed in 2.8.0. we enhanced a lot the support for AutoConsumeSchema, now it is able to deal with every Schema and with topics without a Schema.

Look for GenericObject related issues and PRs

[2021-04-23 08:19] #9806 closed

[2021-04-23 08:38] baomingyu opened #10338 "PersistentTopics#getMessageTTL maybe throw nullpointException"
**Describe the bug**
  PersistentTopics#getMessageTTL maybe throw nullpointException

**To Reproduce**
execute  TopicPoliciesTest#testAutoCreationDisabled test
when topic is not exist , and getMessageTTL will throw nullpointException

[2021-04-23 13:43] lhotari commented on #9578
This PR fixes the binary compatibility so that binary compiled with JDK11 are compatible with JDK8 at runtime: #10343

[2021-04-23 18:00] #10152 closed

[2021-04-23 19:28] #10122 closed

[2021-04-25 00:16] Anonymitaet opened #10355 "[Blog] announce Pulsar 2.7.2"
Hi @eolivelli

I see you are cutting the 2.7.2 release, thanks for your great effort!

To announce the new release officially, would you like to write a blog for 2.7.2 as we did before? After that, I can help review.

In this blog, I suggest highlighting major enhancements/bug fixes and adding necessary explanations for them instead of putting every enhancement/bug fix in it. In this way, users ca

[2021-04-25 04:01] lhotari opened #10356 "Flaky-test: TransactionEndToEndTest.cleanup / ManagedLedgerFactoryImpl.shutdown doesn't complete (causes "CI - Unit - Brokers - Other" to hang and timeout)"
TransactionEndToEndTest. The cleanup method sporadically never completes since ManagedLedgerFactoryImpl.shutdown doesn't complete.

[example failure](https://github.com/apache/pulsar/pull/10351/checks?check_run_id=2427671612#step:10:2025) (use CMD/CTRL click to open in new tab)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
"main" #1 prio=5 os_prio=0 tid=0x00007fd48400

[2021-04-25 04:07] lhotari commented on #10356
thread dump https://jstack.review/?https://gist.github.com/lhotari/f300646746ea45fa5c60f8478b438cb5#tda_1_dump

[2021-04-25 05:58] eolivelli commented on #10355
Sure. I am happy to do it

[2021-04-25 07:34] dockerzhang opened #10358 "[docker] build pulsar-standalone image error: could not find a suitable tls ca certificate bundle"
**Describe the bug**
build pulsar-standalone image error: could not find a suitable tls ca certificate bundle

**To Reproduce**
Steps to reproduce the behavior:
1. check to v2.7.1 version
2. build docker images
3. See error

**Expected behavior**
all images built successfully.

**Screenshots**
![image](https://user-images.githubusercontent.com/18047329/115984834-a59eca00-a5db-11eb-87e3-2d50b98d70e

[2021-04-25 08:53] lhotari opened #10360 "Flaky-test: TransactionEndToEndTest.txnMessageAckTest"
TransactionEndToEndTest is flaky. The txnMessageAckTest test method fails sporadically.

example failure:
[code]

It seems that the condition logic in `markDeletePositionCheck` is flaky.
https://github.com/apache/pulsar/blob/e0fefe2d49a0a644cbdade2850f2394d1f2d5841/pulsar-broker/src/test/java/org/apache/pulsar/client/impl/TransactionEndToEndTest.java#L589-L606

[2021-04-25 08:54] MarvinCai commented on #10268
I can work on this if no one else feel like giving a try.

[2021-04-25 08:57] lhotari commented on #10360
@congbobo184 @gaoran10 PTAL, I wonder if the logic could be refactored to use Awaitility?

[2021-04-25 09:44] dockerzhang opened #10361 "[docker] there is no Java command in the pulsar docker image: java: command not found"
**Describe the bug**
there is no Java command in the pulsar docker image.

**To Reproduce**
Steps to reproduce the behavior:
1，check to v2.7.1 version
2，build docker images
3，docker run the built pulsar image
4，See an error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubusercontent.com/18047329/115988720-91

[2021-04-25 10:27] dockerzhang commented on #10361
this issue may not be a bug in pulsar, it works fine with the `docker version 20.10.0`.

[2021-04-25 11:20] #10361 closed

[2021-04-25 14:47] #10356 closed

[2021-04-25 17:33] #10360 closed

[2021-04-25 21:56] #8445 closed

[2021-04-26 00:30] Anonymitaet commented on #10355
@eolivelli thanks. You can ping me once you finish.

[2021-04-26 06:17] lhotari opened #10372 "[Performance] Accelerate Jetty HTTPS performance by configuring Jetty to use Conscrypt / OpenSSL provider, also fixes mutual TLS auth on JDK11"
**Is your enhancement request related to a problem? Please describe.**

Quote from https://webtide.com/conscrypting-native-ssl-for-jetty/

**Describe the solution you'd like**

Enable Conscrypt for Jetty in the Broker and in the Proxy.

The Jetty documentation describes a way [to enable Conscrypt for Jetty](https://www.eclipse.org/jetty/documentation/jetty-9/index.html#conscrypt):

[code]

**Addit

[2021-04-26 06:27] lhotari commented on #9578
Configuring Jetty to use Conscrypt/OpenSSL will fix some JDK11 issues, #10372 .
It fixes `BrokerServiceTest#testTlsAuthDisallowInsecure` and `SuperUserAuthedAdminProxyHandlerTest#testAuthWithRandoCert`.

[2021-04-26 06:41] lhotari opened #10373 "[Build] Skipping tests for documentation changes isn't working in the GitHub Actions workflows"
**Describe the bug**

The solution in the GitHub Actions workflows isn't skipping tests for pull requests that contain only documentation changes.

**To Reproduce**

Create a PR with changes to documentation. All checks will run.
See examples:
- #10371
- #10317
- #10267

**Expected behavior**

Tests should be skipped for pull requests that contain documentation changes without any source code chan

[2021-04-26 07:27] jvoigt opened #10377 "Schema prevents usage of Dead Letter Queue DLQ"
**Describe the bug**
When using a Schema pushing a negativeAcknowledged Message to a DeadletterQueue will fail.
There is no obvious Errors/Exceptions. The Message, just stay in the current Topic and is never published to the DLQ-Topic.
When using no Schema oder Schema.STRING it will work.

This happende when using pulsar 2.7.1 and the Java-Client.

Pulsar was started as standalone docker container

[2021-04-26 07:46] michaeljmarshall commented on #10268
@MarvinCai, I would like to contribute this feature, unless you've already begun working on it. Let me know. I should be able to work on it this week.

[2021-04-26 08:06] lhotari opened #10378 "Flaky-test: TestDefaultMessageFormatter.testFormatMessage is flaky"
TestDefaultMessageFormatter is flaky. The testFormatMessage test method fails sporadically.

After adding a debug message to the assertion `Assert.assertTrue(0 < i2, "i2 was " + i2);`, this is the exception:
[code]

[2021-04-26 08:20] lhotari opened #10380 "Flaky-test: ConsumedLedgersTrimTest.testConsumedLedgersTrimNoSubscriptions"
ConsumedLedgersTrimTest is flaky. The testConsumedLedgersTrimNoSubscriptions test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/10371/checks?check_run_id=2434862981#step:9:454)

[code]

[2021-04-26 08:23] lhotari commented on #10380
Previous issue about the same test: #9409 . A fix was made in #9420 .

@315157973 would you mind taking a look at the remaining flakiness in this test?

[2021-04-26 09:03] lhotari commented on #10372
It seems that switching to use Conscrypt would require more changes than just enabling the Security provider. Quite a few tests (for example org.apache.pulsar.client.api.AuthenticatedProducerConsumerTest) fail  with this type of exception:

[code]

[2021-04-26 10:02] MarvinCai commented on #10268
@michaeljmarshall please go ahead, I haven't started yet.

[2021-04-26 10:08] adrianog commented on #10268
@michaeljmarshall please go ahead

[2021-04-26 11:08] galrose opened #10382 "PreciseTopicPublishRateLimiterEnable doesn't always work."
**Describe the bug**
When using the pulsar-perf and writing messages either in large batches (>100) or large number of outstanding messages (>100).
When limiting either the -bm or -o to a small number around 5, preferably 1 it works perfectly.
The easiest way to check is not setting the -bm or -o in pulsar-perf.

Slack thread: https://apache-pulsar.slack.com/archives/C5Z4T36F7/p1619419736156600?th

[2021-04-26 11:44] #10378 closed

[2021-04-26 12:08] 315157973 commented on #10380
I have executed it about 1000 times locally, but it can't be reproduced.

[2021-04-26 13:33] otmanel31 opened #10385 "DiskErrorException: directory is not writable"
**Describe the bug**
After trying to migrate from apache pulsar 2.7.0 to 2.8 version, i face some issues on runtime:
Pulsar is deployed in a k8s deployement ( not in standalone)
I build apache pulsar 2.8  by my self by exeecuting mvn build of pulsar project ( " mvn -Pcore-modules -T 1C clean install -DskipTests -Dspotbugs.skip=true).
Then, i execute docker build file that is under docker folder in

[2021-04-26 13:48] lhotari commented on #10380
Yes I have noticed the same. Some issues reproduce only when you limit CPU resources. CI runs with 2 cores and it's usually effective to run tests within a docker container with limited resources. Docker can limit resources with `--cpus` and `--cpuset-cpus` parameters for `docker run`. I have shared some scripts that I use for development in https://github.com/lhotari/pulsar-contributor-toolbox#pt

[2021-04-26 14:19] lhotari commented on #10382
@galrose thanks for reporting .

When reproducing, I needed to also specify a message limit to the publish rate limit.
For example,
`pulsar-admin namespaces set-publish-rate mytenant/default -b 102400 -m 1000`
That seems to be another bug which is perhaps the "open issue" in PR #10384 .

I was able to reproduce the issue. When the amount of outstanding messages is high the rate limiting is very in

[2021-04-26 15:08] galrose commented on #10382
Yes you are correct my bad, you can also do just the -m for message limitation and you can reproduce it like that as well.
I'm not sure if your PR covers this issue as well, but I'll check if it fixes it as soon as it is merged.

[2021-04-26 15:53] lhotari commented on #10289
It might not be directly related to this issue, but #10365 fixed an issue in tests where the shutdown didn't complete gracefully.

[2021-04-26 15:54] linlinnn commented on #10377
This issue is not about DLQ, but the schema cannot decode without default constructor.
@eolivelli any suggestion for enhancement

[2021-04-26 16:17] lhotari commented on #10385
this might be related to the change made in #8796 .

[2021-04-26 16:53] #10358 closed

[2021-04-26 17:18] #9720 closed

[2021-04-26 18:35] eolivelli commented on #10377
I cannot see the error in the logs.
BTW when we write to the DLQ we should not deserialize the payload and encode it again, we just have to copy the payload as it is.
If we are decoding it we should enhance this mechanism

[2021-04-26 19:25] evfurman opened #10388 "Exception caught io.netty.handler.codec.DecoderException: io.netty.handler.ssl.NotSslRecordException: not an SSL/TLS record"
**Describe the bug**
Bookies unable to connect to ZK over TLS on Pulsar version `2.7.1`.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy Pulsar cluster version `2.7.1`
2. Configure certificate-based TLS/SSL cluster-wide.
3. Bookies fail to initialize metadata drive and `pulsar-admin` commands return a 500 errror.

**Expected behavior**
Bookies should be able to connect to Zookeeper no

[2021-04-26 20:24] evfurman commented on #10388
It looks like the pulsar command script changed which set of options get passed to the "bookie" command specifically.  It used to collect from `PULSAR_EXTRA_OPTS` but seems to skip those now.

[2021-04-26 20:28] #10388 closed

[2021-04-26 20:52] Rockyyost opened #10390 "Consumers not receiving messages"
#### Expected behavior

Consumers, in a shared setup, should each receive messages in queue. If we have 4K messages for one topic and we have 20 consumers, each consumer should be receiving messages.

#### Actual behavior

Some of the Consumers will get the messages, while others remain ideal. With 20 consumers, only about 4 of 5 of the consumers will get messages at any given time, while the othe

[2021-04-26 22:26] ta1meng commented on #9571
@codelipenghui @congbobo184 Today I tried the Python client as well, against Pulsar 2.7.1. The same use case worked for me in Python, as expected (because the fix in #9612 was a server-side change).

[2021-04-27 02:21] linlinnn opened #10393 "Struct schema(AvroSchema/JSONSchema) cannot decode without default constructor."
Related #10377

**Is your enhancement request related to a problem? Please describe.**
Struct schema(AvroSchema/JSONSchema) cannot decode without default constructor.

**Reproduce code**
[code]

**AvroSchema Exception stack**
[code]

**JSONSchema Exception stack**
[code]

[2021-04-27 02:24] linlinnn commented on #10393
@eolivelli Please take a look

[2021-04-27 02:35] ta1meng commented on #9571
Retracting the previous comment. I got the Python client to work only against required float fields. I was unable to get it to work against required string fields.

While testing, I fixed two bugs locally. There seems to be another bug concerning string fields.

All of the bugs give the "IncompatibleSchema" error.

It's late today and I'll resume testing tomorrow.

[2021-04-27 03:18] sijie commented on #9099
This has been resolved by https://github.com/apache/pulsar/pull/10013

[2021-04-27 03:18] #9099 closed

[2021-04-27 03:18] bigbang489 opened #10394 "[Pulsar SQL] Some of the most recently published messages are not returned when execute Pulsar SQL query"
Steps to reproduce the behavior:
1. Publishing 10 messages into topic my-tenant/my-topic (with JSON Schema)
2. Opening Pulsar SQL by command: Pulsar SQL
3. Executing the query: select * from pulsar."my-tenant"."my-topic";

**Expected behavior**
10 messages should be returned to client

**Actual behavior**
Some of the most recently published messages are not returned to client.

Pulsar Version: 2.7

[2021-04-27 05:31] eolivelli commented on #10393
I am not sure we can do something here.
We should open a ticket in Avro and in Jackson Mapper libraries.

If we add too much 'magic' we could introduce some new behaviour that diverges from the downstream libraries and it will be very hard to maintain.
In java parameters are set by position and not by name so there is no way we can decide which constructor to use and the order of parameters.

We c

[2021-04-27 05:42] linlinnn commented on #10393
@eolivelli
I agree with you, so maybe we should hint user to add default construct when using struct schema, otherwise they will be confused about send message sucessfully but receive message cannot decode.

[2021-04-27 07:18] lhotari opened #10398 "Flaky-test: TransactionStablePositionTest.abortTxnTest is flaky"
TransactionStablePositionTest is flaky. The abortTxnTest test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/10340/checks?check_run_id=2445270415#step:9:522)

[code]

Might be related to #9917 and #9918 since they contain a CoordinatorNotFoundException .

[2021-04-27 07:51] #9595 closed

[2021-04-27 07:56] eolivelli commented on #9697
@vroyer PTAL
are you interested in providing a fix ?

[2021-04-27 07:57] eolivelli commented on #9301
This is a new API, it is better to add it only on a new major release (2.8.0)

[2021-04-27 08:07] eolivelli commented on #10244
it this fixed by #10386 ?

[2021-04-27 08:08] codelipenghui commented on #10244
Yes, I think this can be fixed by #10386

[2021-04-27 08:11] #10244 closed

[2021-04-27 08:54] MySabers opened #10399 "How to use python-client to connect to a pulsar cluster"
How to use python-client to connect to a pulsar cluster ?
[code]
I didn't find a way to connect to the cluster.

[2021-04-27 09:04] linlinnn commented on #10399
[code]

[2021-04-27 09:18] MySabers commented on #10399
OK, Thank you very much.

[2021-04-27 09:32] MySabers commented on #10399
Successfully connected to cluster.
[code]

However, when we tried to turn off one of the broker(10.255.174.52:6650), the following exception occurred:
[code]
is there anything we didn't notice?

[2021-04-27 10:25] jvoigt commented on #10377
@linlinnn
I've added a constructor. Like this:
[code]
But the problem is still there: When using the schema the message will not be delivered to the DLQ-Topic, there are no Logs indicating an error... just nothing happens :)

[2021-04-27 10:52] linlinnn commented on #10377
I work well locally after add default constructor, could you share your code?

[2021-04-27 11:07] jvoigt commented on #10377
@linlinnn  i ve pushed the update to https://github.com/jvoigt/pulsar-schema-dlq-issue/blob/master/src/main/java/com/jvoigt/issue/BrokenJsonExample.java

[2021-04-27 12:54] kirill-kosenko opened #10403 "[Transactions] ReadException on ledger if transactions are enabled"
Hello

I noticed suspicious errors in log if "Pulsar Transactions" feature is enabled(**standalone.conf** has `transactionCoordinatorEnabled=true`) during producing/consuming messages

Please note that it doesn't matter if transactions are used or not in client's code

[code]
It's reproduced on 2.7.0, 2.7.1, master

Kindly take a look

[2021-04-27 13:23] adrianog commented on #10328
Can this be added to the 2.8 roadmap? I'm using some horrible hack to get around it.

[2021-04-27 14:38] #10222 closed

[2021-04-27 14:38] #10173 closed

[2021-04-27 14:40] linlinnn commented on #10377
@jvoigt
There are some issues in your code.
1. Consumer should subscribe before producer send message.
2. The right name of dlq topic is `jsonTopic-subscription-DLQ`(persistent://public/default/jsonTopic-subscription-DLQ).
3. Add something like `CountDownLatch` to avoid `main thread` exit.

[2021-04-27 14:58] LiPengze97 opened #10406 "Message loss in non-persistent geo-replication at high sending throughput"
**Describe the bug**
I set up five single-broker Pulsar clusters in five regions, Clemson, Wisconsin, Massachusetts, and two in Utah (Utah1, Utah2). The publisher is in Utah1, and the subscribers are in each of the rest clusters.
For my experiment purpose, I prefer **non-persistent** topics.
I want to use the geo-replication of Pulsar, and I found that when the sending throughput is high (like 1k

[2021-04-27 15:23] Joshhw opened #10408 "add the ability to set the authMethodName"
**Is your enhancement request related to a problem? Please describe.**
Many authN/authZ setups use tokens. But the way pulsar relies on determining which authentication class to call requires a user to configure the `authMethodName` on the `Authentication` class on the client side. This is fine for java, but for the python client and many others this leads to difficulties and duplicating much of t

[2021-04-27 17:07] devinbost commented on #6054
I was able to reproduce this issue on a cluster with a single broker and a partitioned topic (with 4 partitions) sending messages to a single filter function. I was also able to reproduce it using a non-partitioned topic after allowing backlog to accumulate (by stopping the function) and then resuming the function after several thousand messages accumulated on the backlog.

[2021-04-27 17:21] #10170 closed

[2021-04-27 17:48] devinbost commented on #6054
Also, `pendingReadOps = 0` whenever the subscription is stuck, so that's another clue.

[2021-04-27 18:41] rajcspsg commented on #8640
@jiazhai what is the old repo that I have to look for to replace?

[2021-04-28 01:42] ta1meng commented on #9571
I went deeper today and now believe that the original issue, in its exact form, was resolved by #9612.

Here are all the cases I got working, including workarounds where I encountered bugs.

All schemas were uploaded through pulsar-admin. Producers and consumers were disallowed from updating schemas.

CAVEAT: Pulsar does not support `"default": null` fully. The workaround is to remove it from any

[2021-04-28 02:08] ta1meng commented on #9571
@codelipenghui @congbobo184 while the original issue was fixed, there were three bugs that I encountered that also resulted in an `IncompatibleSchema` exception.

Consider the workarounds that I implemented locally:

[code]

which overrides `Record::schema()` in `definition.py`.

`First issue`: Pulsar's schema comparison logic seems textual in nature, so if two fields are specified in reverse orde

[2021-04-28 08:43] YannPerthuis commented on #8539
Hi, I'm currently working with the pulsar-functions-local-runner 2.7.1 dependency and a JDK 8, and I get this same error when I run my application.

It throws when I instantiate the FunctionConfig class like the [example](https://pulsar.apache.org/docs/en/functions-debug/#debug-with-localrun-mode) in the doc.

Error:

[code]

@jiazhai, did the #8491 solve this problem for pulsar-functions-local-ru

[2021-04-28 08:45] lhotari commented on #10398
Another flaky test with CoordinatorNotFoundException problem [here](https://github.com/apache/pulsar/pull/10371/checks?check_run_id=2455146689#step:9:529):
[code]

@congbobo184 @gaoran10 please fix the source of flakiness in tests where the problem is about `TransactionCoordinatorClientException$CoordinatorNotFoundException` . Would you be able to take a look? It's this issue #10398 and #9917 & #9

[2021-04-28 08:47] ilpanich commented on #9699
Hi @codelipenghui, we have checked and resolved as you suggested.
You can close this issue, there are no further actions needed.
Thank you for your support..

[2021-04-28 08:48] #9699 closed

[2021-04-28 09:35] lhotari opened #10418 "[Broker] Retrieving a schema can block the Zookeeper client thread"
**Describe the bug**

While investigating a flaky build failure, this type of stack trace was observed:

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
"pulsar-ordered-OrderedExecutor-3-0-EventThread" #8258 daemon prio=5 os_prio=0 tid=0x00007fbffa928800 nid=0x96fc waiting on condition [0x00007fbf86f6c000]
   java.lang.Thread.State: WAITING (parking)
	at sun.misc.Unsafe.

[2021-04-28 10:21] #10373 closed

[2021-04-28 10:25] YannPerthuis opened #10419 "Local runner: Invalid signature file digest for Manifest main attributes"
**Describe the bug**
Hi, I'm currently working with the pulsar functions local runner and I got this following error when I run my application. It throws when I instantiate the FunctionConfig class like the [example](https://pulsar.apache.org/docs/en/functions-debug/#debug-with-localrun-mode) in the doc.

Error:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create gradle project
2.

[2021-04-28 10:27] #10229 closed

[2021-04-28 13:07] Anonymitaet opened #10421 "[Doc] Contribute the Presto (Trino) connector to the Trino project"
Background: below are some of the [discussions](https://lists.apache.org/thread.html/racac4ed01d79ec5f24eeb72aaf2112803b733750369e1c52ba5b7575%40%3Cdev.pulsar.apache.org%3E) from the Pulsar Mailing List.

[code]

[code]

[code]

[2021-04-28 13:14] Anonymitaet commented on #10421
@sijie @MarvinCai

For the doc side, if we contribute the Presto connector to the Trino project, can we still keep the [docs](https://pulsar.apache.org/docs/en/sql-overview/) on the Pulsar website and add the `Presto connector link of the Trino project` to the Pulsar docs? In this way, Pulsar can retain traffic and we can upgrade docs conveniently.

[2021-04-28 14:04] #10393 closed

[2021-04-28 18:38] otmanel31 commented on #10385
Hi, @lhotari, thanks for the advice. After checking https://github.com/apache/pulsar/pull/8796 and removing all dockerfile modification in 2.8 ( new pulsar user/rigth in docker file), i'm able to start my zookkie/bookie/broker/proxy again.

[2021-04-28 19:09] ta1meng opened #10426 "Pulsar schema validation: schema info should log "default": null if it was part of Avro schema"
**Describe the bug**
The Avro schema supports default values of null. The syntax is `"default": null`. pulsar-admin accepts this syntax, but support for this syntax is lacking elsewhere in Pulsar, resulting in IncompatibleSchema exceptions between schemas that appear identical.

This ticket asks for improved logging for schema info objects that contain the `"default": null` specification.

**To Re

[2021-04-28 19:10] ta1meng commented on #9571
Filed `Third issue` as https://github.com/apache/pulsar/issues/10426

[2021-04-28 22:02] vroyer opened #10427 "UUID not supported by AVRO Schema"
**Describe the bug**
The pulsar AvroSchema does not support UUID, it causes the following exception:

[code]

**To Reproduce**

    static class MyPojo {
        public UUID uid;
    }

    @Test
    public void testAvroUUID() {
        org.apache.pulsar.client.api.Schema schema = org.apache.pulsar.client.api.Schema.AVRO(MyPojo.class);
        MyPojo pojo = new MyPojo();
        pojo.uid = UUID.ra

[2021-04-29 00:15] devinbost opened #10429 "NPE when creating consumer stats for subscription __compaction from checkAndUnblockIfStuck()"
@rdhabalia I believe this is a bug with https://github.com/apache/pulsar/pull/9789

When running `PersistentSubscription.checkAndUnblockIfStuck`, it complains on the internal `__compaction` topic.
It occurred immediately after starting the brokers and is repeating the exception (filling the logs).

[2021-04-29 01:06] congbobo184 opened #10431 "[Messaging] Cumulative ack may lose message."
example:
Transaction abort message1, message2 and then clear incomingMessages.
after incomingMessage  cleared the message3 can add in incomingMessages. This time we cumulativeAck message3 with txn will lose message1 and message2.

[code]

It not a transaction bug, now normal cumulative ack will produce race condition.

consumer pull request and clear incomming queue is not synchronized

![image](h

[2021-04-29 01:36] LiPengze97 commented on #10406
Taking a deep view into the source code, in[ NonPersistentReplicator.java](https://github.com/apache/pulsar/blob/6704f12104219611164aa2bb5bbdfc929613f1bf/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/nonpersistent/NonPersistentReplicator.java#L123), if the netty connection is not writable, the non-persistent messages are just dropped silently. I think the connection is not writable

[2021-04-29 02:07] rdhabalia commented on #10406
yes, non-persistent topic doesn't persist messages so, it doesn't give message delivery guarantee. it's used for usecases which only care about the latest data and don't care about past data for example live video streaming.

[2021-04-29 03:41] dinghram opened #10433 "NPE in broker: EntryImpl.getLength()"
During a CHO test, one broker crashed with a NPE. We lost the logs due to a cleanup of files, but we have the general stack trace:
managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryImpl.java: 132: return data.readableBytes();
managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryCacheImpl.java: 115: manager.entryAdded(entry.getLength());

[2021-04-29 03:44] Anonymitaet commented on #10311
@lhotari does this change apply to both Pulsar 2.7.2 and 2.8.0?

[2021-04-29 04:59] lhotari commented on #10311
yes.

[2021-04-29 05:40] lhotari commented on #10433
@dinghram Thanks for reporting.

Did I understand the problem report correctly, that the NPE is happening on EntryImpl.java, line 132?

https://github.com/apache/pulsar/blob/8ea4a39dc8bf6f2f23a160688bb70a80f6acfd4d/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryImpl.java#L130-L133

Called from EntryCacheImpl.java, line 115:

https://github.com/apache/pulsar/blob/8ea4a39dc8bf6

[2021-04-29 05:43] merlimat commented on #10433
Though it won't disable the call to recycle, in where we're resetting the fields to nulls.

[2021-04-29 05:53] lhotari commented on #10433
@merlimat I guess the `data` field shouldn't be null in this case at all. EntryImpl.create is setting the `data` field by calling `EntryImpl.create(position, cachedData)` on line 112.

https://github.com/apache/pulsar/blob/8ea4a39dc8bf6f2f23a160688bb70a80f6acfd4d/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryImpl.java#L130-L133

`EntryImpl.create`:

https://github.com/apache

[2021-04-29 06:08] merlimat commented on #10433
the only explanation would be for the `entry` passed in (https://github.com/apache/pulsar/blob/8ea4a39dc8bf6f2f23a160688bb70a80f6acfd4d/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryCacheImpl.java#L86) to be released while the cache insert is still happening.

[2021-04-29 06:27] merlimat commented on #10433
But that too doesn’t look to be possible....

[2021-04-29 06:35] lhotari commented on #10433
I wonder if something in this direction could be happening:

Let's say we have 2 threads, T1 and T2 and a single object instance O1.

1. T1 gets O1 from the pool
2. T1 sets fields on O1
3. T1 shares O1 to T2
4. T2 set O1 fields to null and returns O1 to the pool
5. T1 gets O1 from the pool
6. T1 sets fields on O1
7. **T2 reads O1 fields. The values that T1 set in step 6 aren't visible to T2. The v

[2021-04-29 07:02] stanbog opened #10434 "pulsar-broker not writing in log"
Hello,

We have a pulsar-broker cluster made from 3 nodes.
We would like to forwards the logs into splunk so we are reading the file` /opt/pulsar/logs/pulsar-broker.log`.
However, the pulsar-broker service doesn't write anything in this file. The only logging that we have is the systemd logging via journalctl.

If we remove the` pulsar-broker.log` file and restart the service, the file will be re-

[2021-04-29 07:54] codelipenghui commented on #10433
@lhotari The pool here we are using is a thread-local pool, and always use the the same thread for a managed ledger to insert entry to the cache https://github.com/apache/pulsar/blob/6704f12104219611164aa2bb5bbdfc929613f1bf/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java#L188. Seems the entry does not have an opportunity to share with other thread.

And if passed he

[2021-04-29 08:19] lhotari commented on #10433
@codelipenghui The pool is a thread-local pool, but the instance might be returned to a pool where it wasn't initially created, no?

Thanks for pointing to the OpAddEntry code location. I initially didn't realize that the code had both `entry` and `cachedEntry` and that it's the `entry.data` that is null and the source for the field is `OpAddEntry.data` as you pointed out.

https://github.com/apac

[2021-04-29 08:37] lhotari commented on #10433
@codelipenghui it seems that [Netty's Recycler ](https://github.com/netty/netty/blob/netty-4.1.51.Final/common/src/main/java/io/netty/util/Recycler.java)is thread-local for lookup and creation, but an object can be returned to the pool in any thread. The multi-thread access seems to lead to visibility problems which are possible in the JMM.

[2021-04-29 09:05] AtticusLv opened #10437 "pulsar java reactor based client support"
Please support java and reactor client, reactive programming based client api.

[2021-04-29 09:07] lhotari commented on #10434
logging to the log file can be achieved by setting `PULSAR_ROUTING_APPENDER_DEFAULT=RollingFile` .
The roll-over happens once per day or when the size of the log file reaches 1GB. This can be adjusted by customizing the `conf/log4j2.yaml` file.

[2021-04-29 09:14] vroyer opened #10438 "Add a Message.getSchema() in the client API"
When the schema is not known at compile time, a `Consumer<GenericObject>` should be able to get the message schema.

Currently, a `Consumer<GenericRecord>` can get the AVRO message and retreive its schema, but if the message is a KeyValue for example, there is no way to get the actual Schema.

The idea is to introduce a `CompletableFuture<Schema<?>> getSchema()` in the Message API, returning null

[2021-04-29 09:28] lhotari commented on #10437
@AtticusLv Thanks for the feature request. I have some plans for this. The initial support would be an adapter library which adapts the existing Pulsar Java Client's Async API to Project Reactor / Reactive Streams. This approach isn't perfect, but it's a good starting point.

[2021-04-29 09:32] eolivelli commented on #10438
@congbobo184 here https://github.com/apache/pulsar/pull/9970/files#diff-955419b4b0ad976e96f9f7595989e79c391109aeaa304bd286a80fc6eb9360c7R324 you are adding MessageImpl#getSchema() with CompletableFuture<Schema>

but why can't we use directly the schema instance that is cached inside the Message ?

[2021-04-29 10:15] zymap commented on #8989
Hi @rounak11, which pulsar version you are using?
For the first issue, I can use a superuser to produce and consume messages with pulsar 2.7.1.

For the second issue, I think you need to enable the authorization service as well. In the Pulsar, the authentication service will parse the auth data from the request, and the authorization service will check the role has correct permission to operate.

[2021-04-29 10:33] zymap commented on #8989
@lmccay I think it's a document issue. You can find the rest API here: https://pulsar.incubator.apache.org/admin-rest-api/#operation/deleteTopic

[2021-04-29 10:42] lhotari opened #10439 "[Broker & Bookie] Configure Bookkeeper client & server backpressure by default"
**Is your enhancement request related to a problem? Please describe.**

Pulsar doesn't take advantage of Bookkeeper's client-side and server-side backpressure features.
https://github.com/apache/bookkeeper/issues/1086 and https://github.com/apache/bookkeeper/issues/1409 are the original Bookkeeper issues about the lack of backpressure handling.

**Describe the solution you'd like**

Configure `wai

[2021-04-29 10:59] eolivelli commented on #10439
@lhotari since 2.8 you can configure the bookkeeper client inside the broker just by adding
bookkeeper_xxx in broker.conf

check for instance the case of "bookkeeper_opportunisticStriping"

[2021-04-29 11:22] lhotari commented on #10439
@eolivelli Would it be possible to cherry-pick #9232 to branch-2.7 so that it would be possible to configure `waitTimeoutOnBackpressureMs` on the broker side by using `bookkeeper_waitTimeoutOnBackpressureMs` configuration key?

[2021-04-29 11:33] lhotari commented on #10136
Is this a duplicate of #9562 ?

[2021-04-29 11:43] galrose commented on #10136
No because the maxMessageBufferSizeInMb is just the buffer for messages. Even after there is no producers and the all the data is in the bookie then the memory stays the same, instead of going back down.

[2021-04-29 11:43] lhotari commented on #10136
For direct memory leaks, it's most likely about Netty pooled memory. For debugging the situation, it might be useful to check if there are log messages from the Netty leak detector.

The default setting for Netty leak detection for Pulsar broker is [SIMPLE](https://netty.io/4.1/api/io/netty/util/ResourceLeakDetector.Level.html#SIMPLE).

@galrose Can you check if you find this type of log messages:

[2021-04-29 11:45] eolivelli commented on #10439
@lhotari yes
I have picked it to branch-7.2

[2021-04-29 11:45] galrose commented on #10136
Thanks I'll try to do that :)

[2021-04-29 12:05] lhotari commented on #10136
For example, In the k8s Helm chart deployment, an environment variable can be set for the broker by adding it under `broker.configData` in the `values.yaml` for the deployment.

[code]

[2021-04-29 12:59] josephlim75 commented on #572
I hope Pulsar and BookKeeper will ditch Zookeeper and come out with their internal built-in cluster coordination like Raft, what new Kafka 2.8 has developed `KIP-500` and also how Docker Swarm cluster coordinate with each other without using any external system like Etcd, Consul or Zookeeper.

[2021-04-29 13:24] eolivelli commented on #10438
Related work:
Here in this existing test we have a Consumer with AUTO_CONSUME schema
the tests tests that it is possible to access the "current" AvroSchema using Schema.getNativeSchema()

https://github.com/apache/pulsar/blob/7c0a798c28fc8dfcc72f072876b9c11eccc14b5c/pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleSchemaTest.java#L530

[2021-04-29 13:24] eolivelli commented on #10438
The problem with AUTO_CONSUME and especially while dealing with multi-version schemas, is that Message.getSchema() should return the exact schema applied to the message, that is the schema identified by "topic" + "schemaVersion".

[2021-04-29 13:52] abhilashmandaliya opened #10440 "Sink config parsing doesn't preserve the original data type"
**Describe the bug**
Pulsar IO Sink config parsing is using Gson to parse the user-supplied config. Gson parses numeric values to double if we parse it to Java's Object class. This can be a problem in cases where the numeric value is a Long number above [2^52](https://stackoverflow.com/a/12077794/5611068). Even there can be use cases where int should remain int after parsing.

**To Reproduce**
Ste

[2021-04-29 14:16] dinghram commented on #10433
Pulsar version: 2.7.0 + cherry-picked fixes
Deployment: helm
Java version:
  openjdk version "1.8.0_282"
  OpenJDK Runtime Environment (IcedTea 3.18.0) (build 1.8.0_282-b07 suse-lp152.2.9.1-x86_64)
  OpenJDK 64-Bit Server VM (build 25.282-b08, mixed mode)
OS: openSUSE Leap 15.2 + patches

[2021-04-29 14:34] wmccarley commented on #10406
We use a lot of high-throughput non-persistent topics on our system for streaming telemetry, it's useful for use cases where the overhead of tracking message acknowledgement and redelivery is just not worth it.

1. If you can spare the CPU cycles compressing the data will dramatically reduce the bits on the wire (obviously that's the point) which may be useful if the latency is high.
2. You mentio

[2021-04-29 14:59] LiPengze97 commented on #10406
Thanks for your useful suggestions, I will try it!

[2021-04-29 15:00] LiPengze97 commented on #10406
Get confirmed from the author of the pulsar is indeed useful, thanks a lot!