[2021-11-23 14:36] sl1316 commented on #12835
just related to the scaling down process of bookies. does pulsar provide any automatic bookie hosts scale down/up strategies? if not, is there a good strategy to estimate how many bookies we can release?
the use case is we usually have the peek traffic for few days a month and the remaining days the usage is rather low

[2021-11-23 15:40] DAvalentinC commented on #11747
Same error on macos 12.0.1 (monterey)

[2021-11-23 15:58] Jason918 commented on #12883
OK，I will look into these.

[2021-11-23 19:17] zhavir opened #12949 "Use Protobuf as schema registry for python client"
**Is your enhancement request related to a problem? Please describe.**
I was wondering if there was a possibility to use protobuf in order to auto-generate code for my pulsar client services (both producer and consumer). By reading documentation and searching on the internet I was able to find some references related to other languages (like Java or C).

**Describe the solution you'd like**
I've t

[2021-11-23 19:50] nlu90 commented on #12905
@YouJiacheng @codelipenghui

1. Here's the previous discuss about this issue. I think it's mainly for extensibility.:
https://github.com/apache/pulsar/pull/4311/files/b1a8b9706717b573bb28e1a3b80cc96c514800a0#r285781802

2. To successfully send put function state request, You need to provide the either "stringValue" or "byteVaule". Here's an example:
[code]

3. Please let me know which document you

[2021-11-24 01:25] xuesongxs commented on #12716
In pulsar v2.8.1, broker oom also appears.

[2021-11-24 01:28] codelipenghui commented on #6163
@truong-hua

[2021-11-24 02:25] mingyifei commented on #12942
![image](https://user-images.githubusercontent.com/38995810/143160041-d2df67f3-aa64-497b-bc1a-dac9bf84f362.png)

At that time, it was not released within a few minutes. I don’t know how long it took to release. I want to know the specific reason so that I can control it.

[2021-11-24 02:48] nddipiazza opened #12952 "Pulsar Manager Docker Image v0.2.0 - needs some updates"
**Is your feature request related to a problem? Please describe.**
The `apachepulsar/pulsar-manager:v0.2.0` docker image is getting pretty out of date.

I cannot install it in my org because the containers are so out of date they need bumped for versions to fix known CVEs.

**Describe the solution you'd like**
Let's bump the pulsar-manager container to get some fixes for java libraries and contain

[2021-11-24 05:41] YouJiacheng commented on #12905
@nlu90
1. However, get state API just use JSON not a stream, if developers want to extend to big object, they need to rewrite get state API.
MOST IMPORTANT: ALL pulsar REST API using multipart/form-data DOES NOT provide ANY reference about request body! While other REST API using JSON DOES! For example: https://pulsar.apache.org/functions-rest-api/?version=2.8.1#operation/putFunctionState vs https

[2021-11-24 05:56] michaeljmarshall commented on #12944
+1. This would be a good feature for end users. My only concern as a contributor is that it will increase build times. That shouldn't stop this feature, though.

Ideally, we'll be able to follow the instructions here: https://www.docker.com/blog/multi-arch-build-and-images-the-simple-way/. I haven't done a mutli-arch build using maven before (we build our docker images using maven), so that is one

[2021-11-24 06:44] Jason918 opened #12958 "[Bug] Producer fails to send message size equals to maxMessageSize in topic policy setting."
**Describe the bug**
See the following unit test code to reproduce this issue.

The root cause of this is that in topic policy setting, it limits the size of message **header and payload**.
See https://github.com/apache/pulsar/blob/6b8ebbd288085dc5a93a9e92706eb5f5ad397cb8/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java#L413

**To Reproduce**
Steps to re

[2021-11-24 06:47] Jason918 commented on #12958
I think we can add new field "payload size" in CommandSend API.
And make topic policy only checks the payload size.
What do you think? @codelipenghui @315157973 @eolivelli

[2021-11-24 07:20] pgandhap commented on #5418
Hi @tuteng @jm7647

Even i am unable to configure a JDBC Sink .  I followed this link : [https://pulsar.apache.org/docs/en/io-quickstart/#configure-a-jdbc-sink](url) . In this Step 1 and Step 2 was done , but coming to step 3 which is upload schema to topic . Getting error here with below

root@a817052bbed6:/pulsar# bin/pulsar-admin schemas upload pulsar-postgres-jdbc-sink-topic -f ./connectors/av

[2021-11-24 07:31] #12883 closed

[2021-11-24 07:51] wangjialing218 opened #12959 "maxMessagePublishBufferSizeInMB does not consider the messages handled by Protocol Handler"
**Is your enhancement request related to a problem? Please describe.**
We use `maxMessagePublishBufferSizeInMB` to limit the direct memory usage for reading messages from producers, default value is 1/2 of direct memory.
If we enable any Protocol Handler in broker such as KoP, the direct memory to buffer the pending messages from Kafka producers is not limited by `maxMessagePublishBufferSizeInMB`.

[2021-11-24 08:03] mingyifei commented on #12942
![image](https://user-images.githubusercontent.com/38995810/143198167-f60f93ad-10be-45ad-a762-1ad1a9ab15bf.png)
I found the reason, ledger did not switch.

Why is the entry more than 50000 and has not been switched?

[2021-11-24 08:03] mingyifei commented on #12942
@sijie

[2021-11-24 09:01] mingyifei commented on #12942
It has been resolved that the managedLedgerMinLedgerRolloverTimeMinutes configuration causes the ledger to not switch and the space is not released. This configuration is very dangerous. Is the default value considered to be changed to 0.

[2021-11-24 09:01] #12942 closed

[2021-11-24 09:04] #12509 closed

[2021-11-24 10:07] pgandhap opened #12960 "Unable to configure a JDBC Sink"
I am unable to configure a JDBC Sink . I followed this link : https://pulsar.apache.org/docs/en/io-quickstart/#configure-a-jdbc-sink . In this Step 1 and Step 2 was done , but coming to step 3 which is upload schema to topic . Getting an error with below

root@a817052bbed6:/pulsar# bin/pulsar-admin schemas upload pulsar-postgres-jdbc-sink-topic -f ./connectors/avro-schema
java.io.FileNotFoundExcep

[2021-11-24 13:48] #10495 closed

[2021-11-24 14:25] jiazhai commented on #12587
```Caused by: javax.naming.AuthenticationException: SASL/JAAS errorjavax.security.sasl.SaslException: GSS initiate failed [Caused by GSSException: No valid credentials provided (Mechanism level: Server not found in Kerberos database (7) - LOOKING_UP_SERVER)]```
From the error log, looks like the server, which contained in client's configuration, is not exist in KDC.

[2021-11-24 16:01] julyday2015 opened #12962 "Java client consumer acknowledge issue. It should work for both of the cases"
**Describe the bug**
Hi, I found an issue in java client library. When consumer tried to acknowledge, if consumer acknowledge like following, its working:
`consumer.acknowledge(message.getMessageId())`
But if I do following, it’s failed:
`consumer.acknowledge(MessageId.fromByteArray(message.getMessageId().toByteArray()))`
Ideally, both of the cases should work. There should be something wrong with

[2021-11-24 17:05] ru-guo opened #12964 "ERROR org.apache.bookkeeper.proto.ReadLacProcessorV3 - No ledger found while trying to read last entry: 306 org.apache.bookkeeper.bookie.Bookie$NoLedgerException: Ledger 306 not found"
03:29:34.194 [BookieReadThreadPool-OrderedExecutor-0-0] ERROR org.apache.bookkeeper.proto.ReadLacProcessorV3 - No ledger found while performing readLac from ledger: 306
org.apache.bookkeeper.bookie.Bookie$NoLedgerException: Ledger 306 not found
	at org.apache.bookkeeper.bookie.LedgerDescriptor.createReadOnly(LedgerDescriptor.java:52) ~[org.apache.bookkeeper-bookkeeper-server-4.12.0.jar:4.12.0]
	at

[2021-11-25 00:40] #12783 closed

[2021-11-25 02:09] sl1316 opened #12967 "Add more detail regarding how pulsar treats newly added broker/bookies nodes"
Please answer the following questions before submitting your doc issue. Thanks!

# What issue do you find in Pulsar docs?
I am investigating how pulsar treat the newly added nodes in detail but unable to find useful information under the public pulsar doc and google. the only thing I found is pulsar load balancing and it's mostly talking about how pulsar group topics into bundles, split a bundle w

[2021-11-25 02:31] #12834 closed

[2021-11-25 02:32] tuteng commented on #12952
I think I need to take the time to look at it

[2021-11-25 02:54] gaozhangmin commented on #12959
I want to work on it. Thx

[2021-11-25 03:07] gaozhangmin commented on #12759
@merlimat  May be you can help explain the ` subscription.acknowledgeMessage` here.

[2021-11-25 03:32] wolfstudy opened #12968 "[Zk-node Leak] When delete tenant, zk-node leak"
Like https://github.com/apache/pulsar/issues/12710, when we run the `delete tenant` cmd, in `/admin/partitioned-topics` and `/admin/local-policies` the zk-node don't be deleted, as follows:

![image](https://user-images.githubusercontent.com/20965307/143375039-dbcee718-39a3-4f9d-882b-52c260308d11.png)

The `tenant3` already deleted, but zk-node still exists.

[2021-11-25 03:42] freeznet opened #12969 "`AutoConsume` should support protobuf schema"
**Describe the bug**
When consuming protobuf schema messages with `AUTO_CONSUME` consumer, will get `Retrieve schema instance from schema info for type 'PROTOBUF' is not supported yet` exception.

**Expected behavior**
Consume protobuf as `GenericRecord` with `AUTO_CONSUME`

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following infor

[2021-11-25 08:14] lhotari opened #12974 "[Functions] Function workers require more memory on Pulsar 2.8.x+"
**Describe the bug**
Function workers require more resident RAM memory on Pulsar 2.8.x compared to Pulsar 2.7.x .
The "built-in" NAR files from the connectors directory are loaded and retained in memory as NARClassLoaders.
This could lead to OOM killer killing the function worker on Kubernetes when there are low limits for the function worker. ​

**Expected behavior**
The expectation is that a fun

[2021-11-25 08:25] eolivelli commented on #12974
This is for the Function Worker ? not for the Process that is running the Function.
So it is not a big deal, as you usually run only one Worker per machine.

On the Function Process we observe more Heap usage on JDK11 but this is due to how the JVM stores the Jar file contents and we cannot do much.

[2021-11-25 09:09] nodece commented on #12832
@storm-5 You should pass the `msg.ID()` to `consumer.AckID()`, it is working. When you call the `pulsar.DeserializeMessageID(midBytes)` to get the message ID and pass it to ack, it is not working, the `messageID` doesn't include the consumer, you can check out this: https://github.com/apache/pulsar-client-go/blob/master/pulsar/consumer_multitopic.go#L133, maybe we can use the consumer of the curre

[2021-11-25 10:01] RobertIndie commented on #10497
What pulsar version did you use? I was unable to reproduce the problem in 2.8.1 by following the steps above. Can this problem be reproduced stably?
Could you enable the debug log for `org.apache.pulsar.broker.delayed.InMemoryDelayedDeliveryTracker` and paste the broker log here when you can reproduce the problem? This helps to debug.

[2021-11-25 10:33] storm-5 commented on #12832
@nodece Yes, it should be a solution.  But in my scene, i want to hide the mq detail to my client, so my code act as a agent. And  i also want to balance the client work with multiple agents. Then the problem is, the client fetch a message and ack the message might consult diffent agent, and the ack can fail.

Maybe the Serialize operate should move to the consumer, so that the serialized message

[2021-11-25 11:51] #12832 closed

[2021-11-25 13:28] lhotari commented on #12974
I didn't measure how big of a deal it is. The impact was that on CircleCI I couldn't get DataStax Pulsar Helm Chart to run with Functions Worker with all .nar files. It seems to be a big deal since [CircleCI has 7.5GB RAM by default for machines](https://circleci.com/docs/2.0/executor-types/#using-machine).

There is something that can be done. In Pulsar 2.7.x, the NarClassloader was closed after

[2021-11-25 13:29] #12907 closed

[2021-11-25 15:01] sl1316 opened #12980 "Distribute segments in multiple data centers"
**Is your feature request related to a problem? Please describe.**
we have a use case where requires data backup across multiple data centers and needs strong consistency. The ideal view is each segment is replicated to three clusters located at three different data centers. pulsar supports using multiple clusters as a large bookie pool but does not provide the selection logic to ensure each data

[2021-11-25 22:56] lhotari commented on #11070
I created this fix for the Apache Pulsar Helm Chart: https://github.com/apache/pulsar-helm-chart/pull/180

[2021-11-25 23:04] lhotari commented on #11070
Zookeeper issue is https://issues.apache.org/jira/browse/ZOOKEEPER-3988

[2021-11-26 03:13] Anonymitaet commented on #12269
Hi @315157973 for the doc side, I've discussed with @codelipenghui, he suggests creating an independent chapter `message filter` under `Development` and considering adding `plugin` and `protocol handler` sections under that chapter.

![image](https://user-images.githubusercontent.com/50226895/143521166-207ffdb3-e406-45f9-92e8-e51cb8984664.png)

[2021-11-26 03:19] aerfalwl commented on #12868
![image](https://user-images.githubusercontent.com/18342885/143521618-208371c0-95d4-4ef1-996f-4a0d03bffeb9.png)
I didn't try it, but from the code base 2.8.1, I don't think it has been fixed.

[2021-11-26 06:31] pgandhap opened #12987 "Unable to create a JDBC sink"
Hi

Iam unable to create jdbc sink connector . Followed the below document

[https://pulsar.apache.org/docs/en/io-quickstart/#create-a-jdbc-sink] .

While running this command in terminal , i got an error with no such file or directory for connectors folder .

Error :

root@11c5b3431963:/pulsar# bin/pulsar-admin sinks create --archive ./connectors/pulsar-io-jdbc-postgres-2.8.1.nar --inputs pulsar-

[2021-11-26 06:46] pgandhap commented on #4002
Hi @tuteng

Iam using windows machine . Even in my case also pulsar standalone started failing .

I followed this document -> https://pulsar.apache.org/docs/en/standalone/#install-pulsar-using-binary-release

I downloaded pulsar through binary release using wget command .

Followed below steps :

1. wget https://archive.apache.org/dist/pulsar/pulsar-2.8.1/apache-pulsar-2.8.1-bin.tar.gz
2. tar xvfz

[2021-11-26 06:47] eolivelli commented on #12987
As it is a builtin connector you don't need to pass the archive

[2021-11-26 07:09] pgandhap commented on #12987
Hi @eolivelli

I skipped the archive flag , even though i am getting the same error .

For your information ->

 1. I installed the pulsar through docker command . ( docker run -d -it -p 6650:6650 -p 8080:8080 -v pulsardata:/pulsar/data -v
    pulsarconf:/pulsar/conf apachepulsar/pulsar:2.8.1 bin/pulsar standalone )
 2. I am using windows machine .

![jdbcsink](https://user-images.githubuserconten

[2021-11-26 07:23] ATaurenRideRocket commented on #12921
Are there any params to config, then the pulsar try to send another topic partition when timeout?

[2021-11-26 07:42] ATaurenRideRocket commented on #8321
Have you sloved the problem?

[2021-11-26 10:04] casuallc commented on #12987
Use absolute paths, such as `--sink-config-file /home/vv/connectors/pulsar-postgres-jdbc-sink.yaml`.

[2021-11-26 10:11] Aaronzk commented on #12510
@codelipenghui
why not set `blockIfQueueFull(true)` as default?

[2021-11-26 12:30] codelipenghui opened #12991 "Expose backlogSize for the topic stats and prometheus metrics"
**Is your enhancement request related to a problem? Please describe.**

Currently, we are able to get the backlog size of the topic by using `bin/pulsar-admin topics stats`, but we are not exposing the backlog size to the Prometheus metrics. The backlog size is very important for users to monitor the data deletion, the large backlog size will lead to the topic data will not being deleted. So it wi

[2021-11-26 12:51] pgandhap commented on #12987
Let me explain the steps what I followed :

1) I am trying to run Pulsar standalone on my windows machine.I am using Docker:
docker run -d -it -p 6650:6650 -p 8080:8080 -v pulsardata:/pulsar/data -v pulsarconf:/pulsar/conf --name pulsar-standalone apachepulsar/pulsar:2.8.1 bin/pulsar standalone

2) I want to use pulsar-postgres connector to store my data in PostgreSQL.So I gave database settings i

[2021-11-26 13:53] Jason918 commented on #12991
I can work on it.

[2021-11-26 16:34] nodece commented on #12962
@julyday2015 You should use the `MessageId.fromByteArrayWithTopic()`, it will be working, and I checked the `MessageId.fromByteArrayWithTopic()`, which only supports partition topic, so I made a PR: https://github.com/apache/pulsar/pull/12994, please take a look if you are free.

[2021-11-26 19:46] julyday2015 commented on #12962
Hi @nodece , thank you for your help. But it does not work for me either. It will not throw exception, but message looks like not acked because consumer can still receive previous message with same subscription. please check below code
`consumer.acknowledge(
                            MessageId.fromByteArrayWithTopic(
                                    msg.getMessageId().toByteArray(), consumer.

[2021-11-27 08:37] huzk8 opened #12998 "Pulsar IO support Clickhouse Load Balance"
**Describe the solution you'd like**
 Pulsar IO support Clickhouse Load Balance.

[2021-11-27 10:01] nodece commented on #12962
@julyday2015 Could you provide a code to reproduce this issue? I need to know how to produce.

[2021-11-27 10:12] liudezhi2098 commented on #12053
@alexsapps retry topic scene is mainly to customize different delay intervals for consumers. Of course, you can handle the failed actions by themselves, but in fact, this can be encapsulated and the experience is better.

[2021-11-27 11:55] Jason918 commented on #12980
Is geo-replication what you're look for?
See https://pulsar.apache.org/docs/en/administration-geo

[2021-11-27 12:09] Jason918 commented on #12967
With default conf in broker.conf,  pulsar will try to do auto rebalance every `loadBalancerSheddingIntervalMinutes` (default 1) minutes if `loadBalancerSheddingEnabled` is true.

you can refer to **Load balancer** part in broker.conf for more details.

[2021-11-27 12:17] Jason918 commented on #12967
The auto balance mechanism will shed topics from overloaded brokers. And these topics will be loaded agains on some broker according to "loadmanager", which should be the least loaded.

And we have "loadBalancerSheddingGracePeriodMinutes" to avoid repeated shedding and loading.

[2021-11-27 12:20] Jason918 commented on #12964
@ru-guo It would be easier for others to understand if you could provide the steps to reproduce this.

[2021-11-27 13:24] sl1316 commented on #12980
@Jason918
as I mentioned in the alternative approach, it's async and increases the cost. what we want is to have one segment replica per data center and they are replicated in a synchronous way similar to Ack Quorum Size which guarantee the data has x copies before returning success back to client. basically, it's some thing like "Ack one copy per clusters."

[2021-11-27 13:38] sl1316 commented on #12967
@Jason918  thank you for your reply. 1st question is answered and thank you!

I need to clarify my second question since it seems you didn't get my point. say you have an overloaded broker fleet and you need to add a host(just to simplify since you need some in real production). now each overloaded broker try to shed the load to the newly added host, which is much more beyond what it can process,

[2021-11-27 16:00] Jason918 commented on #12980
Oh, sorry for missed alternatives part.

This is quite an interesting topic.
May I ask, what is the status of your producer and consumers in these data centers. Possible  situation contains:

- Produce and consume in one data center, just want remote replicas to recover data.
- Produce in one and consume in all. Some async consuming case.
- Produce in all and  only consuming  local data. Typical i

[2021-11-27 16:13] Jason918 commented on #12967
There are several `LoadSheddingStrategy` can be configured, default is `org.apache.pulsar.broker.loadbalance.impl.OverloadShedder`, which will select one namespace bundle at a time for shedding.
Also you can always try to define your own LoadSheddingStrategy or do it manually with `admin.namespaces().unloadNamespaceBundle(...)`.

[2021-11-28 02:03] sl1316 commented on #12980
we have use cases for all the above scenarios and the most common one is producing in one and consuming in all(3~5 data centers at most). AFAIK, bookies already have the mechanism to replicate segments in different hosts so I guess it's not hard to just add additional config to make sure the hosts are located in different datacenters.

[2021-11-28 02:52] sl1316 commented on #12980
even for use case 1, I do see use cases where strong consistency is required for backup data such as finance department

[2021-11-28 06:03] hangc0276 commented on #12759
This is the expected behavior.
It was introduced by https://github.com/apache/pulsar/wiki/PIP-33%3A-Replicated-subscriptions

In order to support replicated subscription stats between different pulsar clusters, it will start subscription snapshot every 1 second by default if we enable this feature in consumer subscription `replicateSubscriptionState(true)`.

The snapshot will write an internal mar

[2021-11-28 08:11] Jason918 opened #13004 "[metadata] Race condition in ResourceLockImpl#revalidate"
**Describe the bug**
Current unit test `org.apache.pulsar.metadata.LockManagerTest#updateValueWhenKeyDisappears` have a small chance that will fails with following exception:

It fails on the line here:
https://github.com/apache/pulsar/blob/693a066d73ea4012fb2bb750d7450474f210cccd/pulsar-metadata/src/test/java/org/apache/pulsar/metadata/LockManagerTest.java#L198

After some digging, I found that i

[2021-11-28 14:28] sl1316 commented on #271
@cbornet can you provide some guidance regarding how to use the grpc protocol? I only saw binary protocol in http://pulsar.apache.org/docs/en/develop-binary-protocol/ .

[2021-11-29 02:09] #11805 closed

[2021-11-29 04:00] Jason918 opened #13008 "Flaky-test: ZKSessionTest.testDisconnection"
[org.apache.pulsar.metadata.ZKSessionTest] is flaky. The [testDisconnection] test method fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/4349119853?check_suite_focus=true#step:8:8523)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
java.lang.AssertionError: expected [Reconnected] but found [null]
	at org.testng.Assert.fail(Assert.java:99)
	a

[2021-11-29 07:14] xuesongxs opened #13016 "Consumer: Failed to load config into existing configuration data"
**Describe the bug**
Pulsar v2.8.1

Build consumer by loadConf(), An exception occurred when starting the consumer.

consumer code:

[code]

[code]

[2021-11-29 07:22] mattisonchao commented on #13016
i will check it.

[2021-11-29 08:30] #12968 closed

[2021-11-29 09:13] ignacioli opened #13019 "pulsar-io-elasticsearch-sink support rolling create index"
**Background describe**
Current [elasticsearch-sink](https://pulsar.apache.org/docs/en/io-elasticsearch-sink/#configuration) has a solid([code here](https://github.com/apache/pulsar/blob/master/pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchConfig.java#L61)) `indexName` configuration, which is inflexible, we must specific the index name accurately when creat

[2021-11-29 11:01] pgandhap opened #13021 "Pulsar sink is not running ( sink status : false )"
Hi ,
I created a JDBC sink connector to persist the messages from pulsar topic to postgresql database . I am running latest version of pulsar through docker .

Followed this document : https://pulsar.apache.org/docs/en/io-quickstart/#create-a-jdbc-sink

This command is to create a sink :
$ bin/pulsar-admin sinks create \
--archive ./connectors/pulsar-io-jdbc-postgres-2.8.1.nar \
--inputs my-topic

[2021-11-29 11:07] codelipenghui commented on #12991
Close the issue since we already have `pulsar_storage_backlog_size` for topics.

[2021-11-29 13:36] mattisonchao commented on #13016
You need to use Set collection in topicNames.

[code]

[2021-11-29 14:01] xuesongxs commented on #13016
In this way, not all attributes can be loaded directly through loadconf, but the pulsar document describes that this can be done, and the producer can load through loadconf.

***@***.***

From: Qiang Zhao
Date: 2021-11-29 21:36
To: apache/pulsar
CC: xuesongxs; Author
Subject: Re: [apache/pulsar] Consumer: Failed to load config into existing configuration data (Issue #13016)
You need to use Set col

[2021-11-29 14:10] mattisonchao commented on #13016
which attributes you can not to load ? @xuesongxs

[2021-11-29 14:40] ronfarkash opened #13028 "[Bug] Topic Lookup on non-existent topics unexpected response."
**Describe the bug**
When using the Rest API to look up a topic
http://{broker}/lookup/v2/topic/persistent/{tenant}/{namespace}/{topic}
**on a topic that does not exist**, two things can happen:
1. I receive a redirect (307) to another broker
2. I receive a response (200) containing a broker

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a normal cluster, BookKeeper/ZooKeeper/Configur

[2021-11-29 16:07] aloyszhang commented on #13028
I can help with this problem.

[2021-11-29 16:14] ronfarkash commented on #13028
2.8.1

[2021-11-29 17:32] #13004 closed

[2021-11-30 01:07] xuesongxs commented on #13016
I hope that all attributes of the consumer can be loaded directly through loadconf, so that the consumer's configuration can be placed in a configuration file. The consumer can directly load the contents of the configuration file. If the topic needs to use HashSet, it has to be converted twice.

***@***.***

From: Qiang Zhao
Date: 2021-11-29 22:10
To: apache/pulsar
CC: xuesongxs; Mention
Subject:

[2021-11-30 01:14] mattisonchao commented on #13016
@xuesongxs
I commit a PR for this issues.    #13026

[2021-11-30 01:31] mattisonchao commented on #13016
@xuesongxs
I need to discuss with members.

[2021-11-30 01:35] nlu90 commented on #12998
@huzk8 could you provide some more details regarding `clickhouse load balance`? Any doc or link could be helpful

[2021-11-30 01:36] nlu90 commented on #13021
@pgandhap Could you provide some more detailed logs about your pulsar standalone cluster?

[2021-11-30 02:58] mattisonchao commented on #12969
@freeznet
Can i try to work on it ?

[2021-11-30 03:03] mattisonchao commented on #12303
@codelipenghui
i want to work on it.

[2021-11-30 03:53] Technoboy- commented on #13016
Not a bug. Please use the right data type. Not all the properties are string.
All the properties can be set from conf, but please use the correct type first.

[2021-11-30 03:53] #13016 closed

[2021-11-30 04:41] Anonymitaet opened #13036 "[Doc] add docs for Log4J2 appender"
Context: https://github.com/apache/pulsar/pull/11247#issuecomment-876216798

[2021-11-30 04:58] pgandhap commented on #13021
Pulsar Logs :
--------------
Using function root classloader: jdk.internal.loader.ClassLoaders$AppClassLoader@55054057

Using function instance classloader: java.net.URLClassLoader@5451c3a8

WARNING: sun.reflect.Reflection.getCallerClass is not supported. This will impact performance.

Starting function instance...

04:49:11.525 [pulsar-web-63-12] INFO  org.eclipse.jetty.server.RequestLog - 127.0.

[2021-11-30 05:05] zymap opened #13038 "Website has wrong layout in filesystem offloader page"
**Describe the bug**
<img width="1544" alt="Screen Shot 2021-11-30 at 13 05 01" src="https://user-images.githubusercontent.com/24502569/143988796-1c6d0c90-5e25-49d4-a250-bb4af8201736.png">

Website link:

https://pulsar.apache.org/docs/en/tiered-storage-filesystem/

[2021-11-30 05:09] zymap commented on #13038
Looks like all versions of the website has this issue, I checked the 2.7.1, 2.8.0 and master, all of them has this issue

[2021-11-30 05:35] freeznet commented on #12969
@mattisonchao thanks and sure, I just assigned this issue to you, let me know if you need any help.

[2021-11-30 06:35] huzk8 commented on #12998
use `BalancedClickhouseDataSource` to get clickhouse connection.
example: `jdbc:clickhouse://host1:port1;host2:port2;host3:port3`

[2021-11-30 07:10] xuesongxs commented on #12800
我们使用pulsar 2.8.1版本，在broker.conf中使用key_shared一致性哈希，没有再出现接收不到消息的问题。
subscriptionKeySharedUseConsistentHashing=true

[2021-11-30 07:18] markcheney1 commented on #11448
pulsar.ConsumerType.Exclusive not support delayed message，you can try share mode

[2021-11-30 09:47] Andreashej commented on #11747
I get the same error on MacOS 12.0.1

[2021-11-30 09:49] pgandhap opened #13046 "Operation failed on schema upload to a topic while configuring a jdbc sink"
Getting an error while running command to upload a schema to a topic .

I got an error like below :

![schema-upload](https://user-images.githubusercontent.com/71866730/144030011-244defa8-d04e-4a49-85ee-f3899ead8a7f.PNG)

avro-schema file :
-------------------
{
    "type": "JSON",
    "schema": "{\"type\":\"record\",\"name\":\"User\",\"namespace\":\"com.foo\",\"fields\":[{\"name\":\"file1\",\"typ

[2021-11-30 11:10] Anonymitaet opened #13051 "[Doc] add explanations for function (autoack and nack)"
This is something we need to improve in Pulsar Functions documentation.:

It is an inconsistent behavior that resulted from using autoAck and manual nack .

In Pulsar Functions, if you want to control the ack behavior, people should disable autoAck and call record.ack() / record.fail() explicitly.

If you want to let Pulsar control the acknowledge behavior, people should enable autoAck and reply o

[2021-11-30 11:14] Anonymitaet opened #13052 "[Doc] add docs for configuring rack"
Context:

Raghavender Mittapalli, Thu 10:17 PM, Edited
What is expected in the below scenario:
We started the publish with the below configuration.
bookie0-rackb0
bookie1-rackb1
bookie2-rackb1
bookie3-rackb2

And after some msgs are produced, killed the bookie3(rack b2). So in this scenario, all the ledgers that are in rackb2 while trying to rereplicate should have said not enough non-faulty booki

[2021-11-30 11:24] Anonymitaet opened #13053 "[Doc] add docs for backlog retention"
Context:

Yuval Gutman
hi all,
I have set backlog quota for a namespaces but I do not see that pulsar actually enforces it.
I have a quota lets say for 100GB with consumer backlog eviction, but practically on that namespace there is a topic with more than 400GB.
anyone experienced that?

Lari Hotari
There are multiple factors that impact eviction so understanding all factors and configurable param

[2021-11-30 11:27] Anonymitaet opened #13054 "[Doc] how to migrate data between environments (eg. copy data to a new AWS region or K8S namespace)"
Context:

Frank Kelly
Perhaps related to the Cluster/Instance conversation above - how do folks migrate data between environments e.g. say copying data to a new AWS region or K8S namespace?

Addison Higham
Hey Frank, here is my preferred approach assuming that you don't have large amounts of data to move over:
Generally,you are just using geo-replication. This doesn't actually even need a "global

[2021-11-30 12:34] #12885 closed

[2021-11-30 12:45] oscerd opened #13056 "Provide Docker Image for Pulsar 2.9.0"
**Describe the bug**
Just noticed Pulsar 2.9.0 has been released but the related docker image doesn't.

This is probably more a task than a bug, but just wanted to report it.

[2021-11-30 13:12] eolivelli commented on #13056
Hello,
I am the release manager for Pulsar 2.9.0.

I am still in the middle of the "release" procedure.
We still miss some other pieces, like the website update.

https://github.com/apache/pulsar/wiki/Release-process

We will announce the release when everything will be done, just stay tuned

[2021-11-30 13:12] #13056 closed

[2021-11-30 13:14] oscerd commented on #13056
Thanks, sorry for the noise, I thought the release was completed and there was just the image missing.

[2021-11-30 18:42] xqianwang commented on #12962
Hi @nodece , just simply try
`consumer.acknowledge(MessageId.fromByteArrayWithTopic( message.getMessageId().toByteArray(), consumer.getTopic()))` instead of
`consumer.acknowledge(message.getMessageId())`
I got same issue

[2021-11-30 21:09] #12894 closed

[2021-12-01 02:53] nodece commented on #12962
@xqianwang Could you try the code of https://github.com/apache/pulsar/pull/12994, I fix the `acknowledge()`, but I'm not sure whether to fix your problem.

[2021-12-01 03:04] mattisonchao commented on #12969
maybe we can not support this feature ?

[2021-12-01 03:30] mattisonchao commented on #12969
@freeznet
According to this description of pip, we seem to be unable to support AutoConsume protobuf.
https://docs.google.com/document/d/1XR_MNOuSXyig-CKsdVhr6IXvFwziBRdSoS3oEUiLFe8/edit

Could you give me more advice?

[2021-12-01 05:12] jcQuartic commented on #7663
@sijie Hi bud, is that possible to use TensorFlow as a custom dependency for the pulsar function?

[2021-12-01 05:29] #12477 closed

[2021-12-01 05:44] mattisonchao commented on #12969
According to this description of pip, we seem to be unable to support AutoConsume protobuf.

https://docs.google.com/document/d/1XR_MNOuSXyig-CKsdVhr6IXvFwziBRdSoS3oEUiLFe8/edit

Could you give me more advice for this?

[2021-12-01 06:19] pgandhap commented on #12960
I got the solution . Previously avro-schema file is in local machine not in docker container , but i am trying to run this command to upload schema to a topic . That's why i am getting this error . Now i copied schema file into pulsar docker container and that error was gone .

[2021-12-01 06:22] pgandhap commented on #12987
I got the solution . Previously pulsar-postgres-jdbc-sink.yaml is in my local machine not in docker container , but i am trying to run this command to create sink . That's why i am getting this error . Now i copied yaml file into pulsar docker container and that error was gone . But now the new issue is sink is not running ( sink -> status : false ) .

[2021-12-01 06:36] aerfalwl opened #13060 "ERROR Failed to evaluate client token: javax.security.sasl.SaslException: Final handshake step failed"
**Describe the bug**
1. The version of puslar cluster is 2.7.0.
2. Cluster uses kerberos for authentication.
3. When use tools pulsar-admin to list topics under public/default, pulsar-admin shows the following exceptions:
[code]

and the broker shows the following exceptions:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. execute the following command:
[code]
2. Wait for one hour (wh

[2021-12-01 06:44] eolivelli commented on #13056
The image should be available now.

Please note that we found a regression in 2.9 after closing the VOTE.
You can use 2.9 for testing the new features but I would wait 2.9.1 (that will come soon, in a couple of weeks) before going to production with the update

[2021-12-01 07:02] hepyu commented on #12800
其实这个issue最后查明也不是说”收不到消息“，是因为大量堆积后push大量推，把服务的pulsar-client的无界队列打慢造成内存泄漏（消费能力严重不足），造成了“收不到消息”的现象。

已经解决了，在前文里。

[2021-12-01 08:42] wenbingshen opened #13061 "[BUG] Judgment criteria for reconnecting the producer"
**Describe the bug**
Related to this issue https://github.com/apache/pulsar-client-go/issues/676

https://github.com/apache/pulsar/pull/11804, this PR rewrites the equals method of the Producer, resulting in that when different   `pulsar-client-go` uses different port to reconnect, the ` old producer` cannot be removed because the `remoteAddress` will be verified by equals:
[code]

https://github.

[2021-12-01 08:51] Technoboy- commented on #12909
This issue is fix by [apache/pulsar#12896](https://github.com/apache/pulsar/pull/12896)

[2021-12-01 08:51] #12909 closed

[2021-12-01 11:07] #13038 closed

[2021-12-01 11:10] eolivelli commented on #12928
I believe that the problem is that you are missing "-L", that tells curl to follow the redirections.

I have a test cluster with two workers, on port 8080 and 6751
The worker on port 8080 is the "leader"

If I issue this command:
`curl -v  -L -X PUT http://localhost:6751/admin/v2/worker/rebalance`

This is the output:
[code]

Then I see correctly the logs on the "leader" that report that the "reba

[2021-12-01 13:35] kezhenxu94 commented on #12944
I'm glad to work on this if there is nobody already working on it?

[2021-12-01 13:46] advancedwebdeveloper opened #13067 "Supporting RISC-V (OpenJ9)"
**Is your feature request related to a problem? Please describe.**
Supporting Apache Pulsar on https://www.sifive.com/boards/hifive-unleashed

**Describe the solution you'd like**
Support related Maven's artifacts

**Additional context**
https://github.com/trustin/os-maven-plugin/issues/61

[2021-12-01 15:16] daniwb opened #13070 "Pulsar Broker: Enable EC256 Support for WebService"
**Is your feature request related to a problem? Please describe.**
Let's Encrypt creates default Certificates with EC256, unfortunately when starting the Broker Service, it fails with the Information, that the Version of the Certificate is 0.

When deploying RSA4096 Certificates it works flawlessly.

Also when disabling only the webServicePortTls but leave brokerServicePortTls enabled, the Service

[2021-12-01 17:50] lhotari opened #13071 "Flaky-test: PulsarLedgerAuditorManagerTest.testSimple"
PulsarLedgerAuditorManagerTest introduced in #12770 is flaky. The testSimple test method fails sporadically.

@merlimat This test seems to be very flaky.
[example failure](https://github.com/apache/pulsar/runs/4384832543?check_suite_focus=true#step:8:1479)

[code]

[2021-12-01 20:14] #13071 closed

[2021-12-02 02:48] xiaofan-luan opened #13078 "What is the minimal cpu/memory request to run pulsar in production?"
Please answer the following questions before submitting your doc issue. Thanks!

# What issue do you find in Pulsar docs?
In the document, it didn't mention what's the minimal memory requirement to run pulsar in high availability mode, and how we split memory into different node(zk,bookie,broker...)

# What is your suggestion?
offer a minimal setting list, such as 16c64g, and the minimal requireme

[2021-12-02 02:50] xiaofan-luan commented on #13078
Any suggestion are welcomed, we are also an OSS project(Milvus the vector database) using pulsar as are message store.
The write request is kind of large(few megabytes), and we are trying to setup a minimal usage requirement for our user. 3ks!

[2021-12-02 05:23] odidev commented on #12501
Team, Please let me know your interest in releasing Linux aarch64 wheels.

[2021-12-02 07:27] WrathLi opened #13083 "pulsar with kop,run in standalone model cannot change zookeeper port 2181 to other port"
In my project, I run pulsar with kop plugin,and change the port 2181 to 12181.
Pulsar Version:2.8.1
Kop Version:2.8.1.23
This is my standalone.conf file.
![image](https://user-images.githubusercontent.com/3929247/144377450-eae6986b-aec4-4d33-8375-5f4a1b5501f5.png)

when I run the script
`./bin/pulsar standalone`
pulsar start failed. pulsar create a zookeeper client with port 2181 to connect to zoo

[2021-12-02 08:58] xiaofan-luan opened #13084 "Go client keep receive close from broker"
**Describe the bug**
We've seen that go client keep receive closed info from broker, the log as following, is that correct behaviour?

time="2021-12-02T01:21:39Z" level=info msg="[Reconnected consumer to broker]" consumerID=8 name=dhnik subscription=by-dev-queryNode-13-429498844746874881-6545233210522002565 topic="persistent://public/default/by-dev-rootcoord-dml_5"
time="2021-12-02T01:21:39Z" leve

[2021-12-02 08:59] xiaofan-luan commented on #13084
[milvus-pulsar-broker-58bc5db7cc-ws225.log.zip](https://github.com/apache/pulsar/files/7640518/milvus-pulsar-broker-58bc5db7cc-ws225.log.zip)

[2021-12-02 09:58] BewareMyPower commented on #13083
You can run following command without any code change or config change.

[code]

The `-nss` option is to disable the stream storage, which is an unstable feature (distributed log as you mentioned in `dl`). It's not required if you started standalone without existing data.

But if your scenario is that you have already run KoP standalone with 2181 port before and want to modify the config, you have

[2021-12-02 10:10] lhotari commented on #13008
I'm attempting to fix this.

[2021-12-02 13:23] codelipenghui commented on #12303
Thanks @mattisonchao, assign the issue to you.

[2021-12-02 13:28] lhotari opened #13092 "[Tests] LockManagerImpl.close hangs and causes the test run to timeout eventually"
**Describe the bug**

LockManagerImpl.close sporadically hangs and causes the test run to timeout eventually.

Here's an example thread stack trace:

[code]

[Full thread dump in jstack.review analyzer](https://jstack.review/?https://gist.github.com/lhotari/029ed15e907e41222a3b845b4f0082f2#tda_1_tg_10)

[2021-12-02 13:36] lhotari commented on #13092
I it seems to be a leak in the "mutex" lock / unlock in MockZooKeeper

the thread dump contains this type of stacks too:

[code]

[2021-12-02 13:36] lhotari commented on #13092
I'll work on a fix.

[2021-12-02 13:51] codelipenghui commented on #12959
@gaozhangmin It should be better to start with a PIP, to make everyone on the same page for this issue.

[2021-12-02 13:52] codelipenghui commented on #12960
Thanks @pgandhap, I will close the issue first.

[2021-12-02 13:52] #12960 closed

[2021-12-02 13:58] codelipenghui commented on #12964
@ru-guo Could you please try to use `bin/bookeeper shell ledgermetadata -ledgerid` to check if the ledger metadata exists and also can use `bin/bookeeper shell readledger` to try to read data from the Ledger.

[2021-12-02 14:08] codelipenghui commented on #12980
@sl1316 If I understand correctly, you need one pulsar cluster, but the cluster can be across multiple regions, and the data replicas should be distributed to different regions right?

[2021-12-02 14:08] #12991 closed

[2021-12-02 14:30] mattisonchao commented on #12303
@beyondyinjl2  Could you offer me more detail to reproduce it ?
i did't reproduce this issue. i think i was lost some configuration.

[2021-12-02 15:27] hangc0276 commented on #13084
It looks like the consumer doing reconnecting to the broker. Does this logs keep appear?

[2021-12-02 15:28] #13083 closed

[2021-12-02 15:32] hangc0276 commented on #13078
Please provide your max throughput and QPS, the requirements are depend on your throughput and QPS to support.

If you just want to test the pulsar, you can setup the pulsar on your laptop in standalone mode. That maybe the minimal usage requirement.

[2021-12-02 15:42] adityaIndexlabs opened #13096 "Pulsar support for Apache Avro library as published by Apache"
**Is your enhancement request related to a problem? Please describe.**

We have a requirement to use both Kafka and Pulsar with Apache Avro Schemas. This is not possible currently as Pulsar uses it's own shaded (masked) version of apache avro implementation, which looks identical to Apache Avro.

**Describe the solution you'd like**

The enhancement is for Pulsar to work directly with Apache's Avr

[2021-12-02 16:02] hangc0276 commented on #12980
@sl1316 Does the region aware placement policy can fulfill your requirements?
 You can configure the three replica located into three different data centers on each entry's write. https://pulsar.apache.org/docs/en/administration-isolation/

[2021-12-02 16:09] hangc0276 commented on #12964
When we create a ledger and not entry writes to the ledger, and then call `readLastAddConfirmedAsync`, it will just check whether the request ledger has been exist in ledgerStorage. Due to we have not write any entry into the ledger, the check will return false, and it will throw `NoLedgerException`. The following test will reproduce this issue.
[code]

However, the response builder will wrap the

[2021-12-02 16:37] lhotari commented on #13092
This was most likely a bug in my PR #13066 . I have addressed the lock leakage problem in the PR to prevent such issues in the future.

[2021-12-02 16:55] lhotari opened #13102 "Flaky-test: BrokerServiceLookupTest.testModularLoadManagerSplitBundle"
BrokerServiceLookupTest is flaky. The testModularLoadManagerSplitBundle test method fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/4397027419?check_suite_focus=true#step:9:587)

[code]

[2021-12-02 17:42] lhotari commented on #11130
#10809 is related

[2021-12-02 17:48] lhotari opened #13103 "[Transactions] SystemTopicBaseTxnBufferSnapshotService.close could hang forever"
**Describe the bug**
SystemTopicBaseTxnBufferSnapshotService.close could hang forever.

Here's an example stacktrace from a test which was stuck:
[code]

[Full thread dump of all threads.](https://jstack.review/?https://gist.github.com/lhotari/ef19b7ee3596281c074ce36d0f95fa79#tda_1_dump)

[2021-12-02 18:08] lhotari commented on #13103
@315157973 @codelipenghui @gaoran10 @hangc0276 @congbobo184 @Renkai Could one of you take a look at this failure?

[2021-12-02 18:37] lhotari commented on #13102
another failure: https://github.com/apache/pulsar/runs/4398163273?check_suite_focus=true#step:9:587

[2021-12-02 18:46] sijie commented on #13096
@adityaIndexlabs if you use pulsar-client-original library, you will not use the shaded library.

[2021-12-02 19:04] lhotari commented on #12552
The PRs #13066 #13069 might fix this type of issues.

[2021-12-02 19:50] lhotari commented on #13102
@rdhabalia do you have an idea what the issue could be?

[2021-12-02 20:10] gaoran10 opened #13109 "Failed to deserialize load report data"
**Describe the bug**

I deploy a Pulsar cluster in google cloud based on the image `streamnative/pulsar-all:2.10.0-rc-202111212205`, but I found some broker error logs as below. It seems that the load report data couldn't be deserialized.

[code]

[2021-12-02 23:26] mattisonchao commented on #13109
can i try to work on it ? :)

[2021-12-03 00:03] aloyszhang opened #13110 "Flaky-test: BrokerServiceLookupTest. testModularLoadManagerSplitBundle"
**Describe the bug**
[code]

**To Reproduce**
see https://github.com/apache/pulsar/runs/4400370844?check_suite_focus=true

[2021-12-03 02:04] hangc0276 commented on #13109
@mattisonchao Thanks for your help, I have assigned it to you.

[2021-12-03 02:04] gaozhangmin commented on #12959
OK, I will create a new PIP later.

[2021-12-03 02:21] wuzhanpeng commented on #13102
I can help to follow up the issue~

[2021-12-03 02:24] hangc0276 commented on #13102
@wuzhanpeng Thanks for your help, I have assigned this issue to you! If you have any questions, please reply in this issue.

[2021-12-03 02:29] mattisonchao commented on #13046
@hangc0276
i can work on it.

[2021-12-03 02:45] hangc0276 commented on #13046
@mattisonchao Thanks for you help, I have assigned this issue to you.

[2021-12-03 03:08] mattisonchao opened #13111 "Flaky-test: BrokerServiceLookupTest.testModularLoadManagerSplitBundle"
Error:  testModularLoadManagerSplitBundle(org.apache.pulsar.client.api.BrokerServiceLookupTest)  Time elapsed: 15.176 s  <<< FAILURE!
org.awaitility.core.ConditionTimeoutException: Assertion condition defined as a lambda expression in org.apache.pulsar.client.api.BrokerServiceLookupTest that uses org.apache.pulsar.broker.PulsarService, org.apache.pulsar.broker.PulsarServiceorg.apache.pulsar.common

[2021-12-03 03:08] #13111 closed

[2021-12-03 03:09] mattisonchao commented on #13110
i will work on it. :)

[2021-12-03 05:47] liguangcheng commented on #5274
@volfco & @sijie Now whether the replication subscription status is available, the version I tested is 2.8.0, and it does not work normally at present. One site produces 10 messages and consumes two. another sites do not start from the third one, but start from the beginning.

How did you solve this problem

[2021-12-03 06:11] aloyszhang commented on #13110
@mattisonchao Thanks, but this issue is same as #13102, so I'll close it here. You can track #13102 for more information.

[2021-12-03 06:11] #13110 closed

[2021-12-03 07:15] billowqiu commented on #12888
When restart one broker，i use tcpdump to capture packet，it show that libcurl follow new url without auth token header
<img width="1405" alt="wecom-temp-734f584adac9a9f900e67e1ff04289ea" src="https://user-images.githubusercontent.com/720496/144560905-8845ff3c-ed71-457b-a719-abda50626978.png">
<img width="1402" alt="wecom-temp-38c19b01c3bd6bba29650e0f6dba76df" src="https://user-images.githubusercont

[2021-12-03 07:24] liguangcheng commented on #10054
@yabinmeng Has the problem of not being able to continue consumption on another cluster been resolved?

[2021-12-03 07:50] sl1316 commented on #3217
any update? it seems a pretty useful feature considering the throughput of a single topic is limited by a broker so we have to call the admin api to add more partitions and it does not support scaledown :(

[2021-12-03 07:56] eolivelli commented on #12552
I totally agree.

[2021-12-03 08:00] lhotari commented on #12552
PR #13066 has been cherry-picked to branch-2.8 . The fix #13069 is in progress and I started a separate branch targeting 2.8.x , that is https://github.com/lhotari/pulsar/commits/lh-fix-topic-ownership-assignment-branch-2.8 . It currently contains a test case that reproduces error 404 and error 500 issues.

[2021-12-03 09:03] mattisonchao commented on #13019
i can work on it :)

[2021-12-03 09:34] cbornet commented on #7859
The images now use JDK11. I believe this issue can be closed.

[2021-12-03 09:50] congbobo184 opened #13116 "[Transaction] Transaction coordinator sequenceId generate discontinuity."
**Describe the bug**
When all of transaction log has been delete, transaction sequenceID will not generated in order. Now we store the sequenceID by managedLedger properties, bu the properties storage is not synchronized, so it is not reliable.

**To Reproduce**
You can reproduce in test.
[code]

**Expected behavior**
sequenceId is continuous and increasing

**Desktop (please complete the followin

[2021-12-03 10:56] lhotari commented on #12552
The PR for branch-2.8 is https://github.com/apache/pulsar/pull/13117 . The goal is to get this fix included in 2.8.2 which will be released next week.

[2021-12-03 11:43] suiyuzeng opened #13119 "Load balance shedding not in time with the strategy of ThresholdShedder"
**Describe the bug**
Upgrading a cluster which has 3 nodes, the last node will not be assigned a bundle for a long time even if the load of other 2 nodes is very high.

[code]
In org.apache.pulsar.broker.loadbalance.impl.ThresholdShedder#updateAvgResourceUsage, if a broker change to be a leader, brokerAvgResourceUsage has no recoder about any broker. As the historyUsage was set to be 0,  it wil ta

[2021-12-03 12:42] lhotari commented on #12552
PR #12650 also contains relevant fixes. This will also be part of 2.8.2 .

[2021-12-03 14:54] Jason918 opened #13125 "Flaky-test: [org.apache.pulsar.client.api.BrokerServiceLookupTest].[testModularLoadManagerSplitBundle]"
[org.apache.pulsar.client.api.BrokerServiceLookupTest] is flaky. The [testModularLoadManagerSplitBundle] test method fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/4409105676?check_suite_focus=true#step:9:592)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
org.awaitility.core.ConditionTimeoutException: Assertion condition defined as a lamb

[2021-12-03 15:21] #7859 closed

[2021-12-03 17:33] lhotari opened #13126 "[Build] Java compiling can fail with NullPointerException and mask a compilation issue"
**Describe the bug**

This is a problem that happened:
[code]

The problem is https://issues.apache.org/jira/browse/MCOMPILER-346

workaround is to add `<forceJavacCompilerUse>true</forceJavacCompilerUse>` to

[code]

[2021-12-03 17:34] lhotari commented on #13126
@eolivelli @michaeljmarshall FYI, if you ever encounter this issue after cherry-picking etc.

[2021-12-03 17:45] longtengz opened #13127 "sql EOF exception when empty payload message in topic"
**Describe the bug**
Trino EOF exception when I send empty byte array as payload for messages.

**To Reproduce**
Steps to reproduce the behavior:
1. send some non-empty payload message of avro type
2. use trino to `select *` or any `select` from that topic
3. trino returns correctly
4. now, send one empty payload message
5. use trino to `select *` or any `select` from that same topic
6. trino EOF

[2021-12-03 17:52] david-streamlio opened #13128 "Pulsar Function's cannot reference classes inside NAR file when running Pulsar in standalone mode"
**Describe the bug**
If you are running Apache Pulsar in standalone mode, either via a docker image, minikube, or locally and submit a Pulsar Function that references a class that is included in a separate jar file inside the META-INF/bundled-dependencies folder of the NAR file you will get a java.lang.TypeNotPresentException

**To Reproduce**
Steps to reproduce the behavior:
1. Start Pulsar in st

[2021-12-03 18:21] bharanic-dev opened #13129 "Add a watchdog monitor to monitor and log long-running metadata-store callback tasks"
**Is your enhancement request related to a problem? Please describe.**
There can be instances when the metadata-store callback tasks take a very long time, sometimes even block forever (https://github.com/apache/pulsar/issues/12929).

**Describe the solution you'd like**
When issues like the above happen in production environments, it is non-trivial to debug and figure out what the underlying issu

[2021-12-03 18:59] david-streamlio commented on #13128
Same issue exists in Pulsar-Java-v2.10.0-SNAPSHOT running locally.

[2021-12-03 20:36] nlu90 commented on #13021
[code]

Are you using the k8s runtime? Could you check what's the container status and log?

[2021-12-04 01:16] mattisonchao commented on #13125
same to #13102

[2021-12-04 03:14] Jason918 commented on #13125
Duplicated of #13102

[2021-12-04 03:14] #13125 closed

[2021-12-04 03:24] Jason918 commented on #13119
@hangc0276 Maybe we can make each broker calculate it's own historyUsage, and upload to zk like TimeAverageBrokerData ?

[2021-12-04 05:30] longtengz commented on #12465
@Raven888888 are you able to work around this? And what version of golang client are you using?

[2021-12-04 07:23] sl1316 commented on #12980
not really. there is no guarantee the replicas will sit in different regions. it could be possible that all the replicas of a segment colocated at nodes of the same region.

[2021-12-04 07:26] sl1316 commented on #12980
could you elaborate on this? it looks like only limiting the tenants/namespace to a specific set of nodes. what I want to achieve is to have the segment replicated to different regions(one replica per region)

[2021-12-04 14:53] hangc0276 commented on #13119
@Jason918 Considering not import useless fields for other shedder strategy, we can use the current resource usage value as history usage value when leader change to speed up getting the actual value.

[2021-12-04 17:11] michaeljmarshall commented on #13102
I am seeing this test on https://github.com/apache/pulsar/pull/13133, too

[2021-12-05 04:28] aloyszhang commented on #13119
@suiyuzeng @hangc0276 I met this problem too.

[2021-12-05 14:02] dragon-zhang opened #13139 "模块混乱"
建议参考shenyu的模块组织方式：https://github.com/apache/incubator-shenyu

[2021-12-06 02:17] liguangcheng commented on #10054
thank you @merlimat , The cause of the problem is that **continuous produce messages are required**, and one-time production messages that are too short indeed cannot trigger the replication state.

[2021-12-06 02:44] xuesongxs commented on #12716
Is there any progress on this bug? I also encountered broker oom in pulsar v2.8.1.

[2021-12-06 02:57] Technoboy- commented on #13139
Thanks for your kindly suggestion, we may take it into consideration later.

[2021-12-06 02:57] #13139 closed

[2021-12-06 04:37] zbye opened #13148 "Cluster switching failed for producers"
**Describe the bug**

We have deployed two pulsar clusters and enabled geo-replication. We use domain names for load balancing and cluster switching when disaster occurs.
For example, under normal circumstances, producers  are connected to cluster A. When cluster A is down, producers can automatically connect to the backup cluster B to perform data operations.

However, in the actual test, it was

[2021-12-06 04:49] wuxinle0412 opened #13149 "pulsar-2.8.1中ledger长时间处于closing状态"
1.集群版本与信息
pulsar服务端版本:2.8.1
broker: 3台机器，堆10G，直接内存20GB
bookie: 3台机器，堆10G，直接内存20GB

2.总体现象
使用了kop，在pulsar中创建了8个partition，设置的retention为6小时，message ttl为6小时，通过flume收集日志到到这个kop的集群，下游是flink程序进行消费，并行度为8，从pulsar-manager查看，大量ledger处于closing状态，导致无法触发TTL机制。
![1638764678(1)](https://user-images.githubusercontent.com/40948194/144788210-df746f82-cde2-4333-9a8d-23afb4f780cf.png)

3.broker端日志
![1638765094(1)](htt

[2021-12-06 05:11] wuxinle0412 commented on #13149
日志片段:

13:07:47.019 [pulsar-web-40-16] INFO  org.eclipse.jetty.server.RequestLog - 10.1.2.84 - - [06/Dec/2021:13:07:47 +0800] "GET /admin/v2/brokers/prod-pulsar-cluster HTTP/1.1" 200 55 "-" "Pulsar-Java-v2.5.2" 1
13:07:47.019 [pulsar-web-40-15] INFO  org.eclipse.jetty.server.RequestLog - 10.1.2.84 - - [06/Dec/2021:13:07:47 +0800] "GET /admin/v2/broker-stats/topics HTTP/1.1" 200 32349 "-" "Pulsar-J

[2021-12-06 05:11] zbye commented on #13148
pulsar-client使用的是java版，2.8.1； pulsar 服务端是2.8.1；

[2021-12-06 05:22] mattisonchao commented on #13109
sorry,  i could't reproduce it. could you give me more information ? i think maybe somethings is missing. :)

[2021-12-06 05:23] mattisonchao commented on #13148
i will try to reproduce it first ~

[2021-12-06 05:44] zbye commented on #13148
@mattisonchao 真实场景中，生产者会对接交易所并往pulsar集群中发送实时最新行情数据（时序数据），消费者从pulsar中消费并使用数据。  我们是想做pulsar集群的高可用，正常情况下，应用程序（含生产者和消费者）只使用本地集群；如果本地机房断电，应用程序能自动切换到远端集群继续运行。

我们初期是想用域名或虚IP方式做切换，希望切换pulsar集群时，应用程序不做改动。

[2021-12-06 06:29] mattisonchao commented on #13148
@zbye
Can you be sure that all your dns servers will be updated before reconnect to broker ?

[2021-12-06 06:40] zbye commented on #13148
@mattisonchao yes. dns servers are also deployed and managed by us.  目前内网DNS服务器是我们自行搭建和管理的，还没引入云机机房。 （之前网上的腾讯案例是结合服务发现方式做集群的探活和自动切换，但是社区讲dns和vip也是一种方式，只是比较缺少实践案例介绍）。

[2021-12-06 08:19] longtengz commented on #6734
Does this also imply pulsar sql cannot process empty payload messages? Because I'm experiencing #13127

[2021-12-06 08:35] longtengz commented on #7407
I think pulsar sql can't deal with empty payload messages because of the same issues here described here. See my issue here #13127.

[2021-12-06 09:22] pgandhap commented on #13021
@nlu90
Currently , I am running pulsar in local through docker . Whatever i pasted above those are docker pulsar logs only .

[2021-12-06 10:28] SapnaGirdhani1 opened #13151 "Not able to run pulsar postgres jdbc sink"
**Describe the bug**
I am using Docker to create pulsar_postgres_jdbc_sink but it is not running. Status shows running as false.

**To Reproduce**
I followed this document : **https://pulsar.apache.org/docs/en/io-quickstart/#create-a-jdbc-sink** to create jdbc sink
I used below command to create a sink :
$ bin/pulsar-admin sinks create \
--archive ./connectors/pulsar-io-jdbc-postgres-2.8.1.nar \
-

[2021-12-06 10:45] Shoothzj commented on #13151
is there any error in the log ?

[2021-12-06 12:47] SapnaGirdhani1 commented on #13151
This is what I could find in logs:

10:01:31.534 [function-timer-thread-91-1] ERROR org.apache.pulsar.functions.runtime.process.ProcessRuntime - Health check failed for jdbc-postgres-sink-0
java.util.concurrent.ExecutionException: io.grpc.StatusRuntimeException: UNAVAILABLE: io exception
	at java.util.concurrent.CompletableFuture.reportGet(CompletableFuture.java:395) ~[?:?]
	at java.util.concurren

[2021-12-06 14:04] #11765 closed

[2021-12-06 14:28] timmyyuan opened #13152 "[Security] Upgrade vulnerable packages in the pulsar-all image"
**Describe the bug**
Currently, the pulsar-all image has many CVEs due to dependency packages. We can list them by using image scanners such as [grype](https://github.com/anchore/grype):

[code]

**To Reproduce**

[code]

**Expected behavior**
No critical CVE exists here

**Additional context**
Most of CVEs above are introduced by `presto` and for users do not need pulsar-sql, we can simply remove

[2021-12-06 16:31] krissetto opened #13153 "Python pulsar-client not available for Apple Silicon (M1)"
**Describe the bug**
When trying to build a dockerized python application that has pulsar-client <2.8.0 & >= 2.7.1 as a dependency, the build always fails with
`ERROR: Could not find a version that satisfies the requirement pulsar-client`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a dockerized python app with a pulsar-client dependency >= 2.7.1 in the requirements.txt file and a

[2021-12-06 17:33] thiagohernandes opened #13154 "Consumer subscription type - behavior not working properly"
**Describe the bug**
I created a sample generic class to use in some anothers beans. However, the subscription type of a consumer haven't working correctly.

Below the images:

![01-connect](https://user-images.githubusercontent.com/2352110/144892586-56b0a2e5-8ba5-482d-8121-66036318adb2.png)
![02-producer-consumer](https://user-images.githubusercontent.com/2352110/144892592-5323784c-c6d9-45af-bdf5

[2021-12-06 17:36] alexsapps commented on #12053
Hi Liudezhi, I'm not sure I understand your comment. What does "scene" mean here? What do you mean handling failed actions "by themselves" - as opposed to what? What can be encapsulated?  Thanks!

[2021-12-06 19:18] zbentley commented on #12552
After building at HEAD this morning, a lot of previous transient errors that occurred when deleting topics (not subscriptions) have since turned into this stacktrace on the client:

[code]

Should I file another bug? Or is that now expected behavior?

[2021-12-06 19:52] lhotari commented on #12552
@zbentley Yes, please file another issue.

[2021-12-06 22:41] #12929 closed

[2021-12-06 23:04] amadav opened #13156 "[python-client] Support KeySharedPolicy in consumer configuration"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
Support for auto-hash and sticky-hash based policy was added to cpp client via https://github.com/apache/pulsar/commit/3142456107e8bc5d3d0d7fa526fda114c0d64c42#diff-1b1837b789a66c62bdfb2a483d36011b45ab880f9ad8758964cb6f7c7e08041b It would b

[2021-12-07 03:09] wang-yeliang opened #13158 "[DISCUSS] proposal: APISIX support Pulsar service plugin"
Hi, community,

My name is Yeliang Wang, and I am Apache APISIX Committer.

At present, Apache APISIX supports Kafka in real-time log processing [(),](https://apisix.apache.org/docs/apisix/plugins/kafka-logger/) and RocketMQ has also submitted PR to support APISIX [().](https://github.com/apache/apisix/pull/5653)

but, in many enterprises I met, Apache Pulsar is used in both transaction and log sc

[2021-12-07 04:01] nlu90 opened #13160 "[admin] enhance rest api to help calculate the ending MessageID with a starting MessageID and an offset number"
**Is your feature request related to a problem? Please describe.**
Data processing framework sometimes need to limit the # of messages read from one read iteration, and this requires knowing the ending message id. Unlike kafka, pulsar's message id is not linear offset based, so this information is tricky to get on client side.

**Describe the solution you'd like**
Add a new admin rest api or enhan

[2021-12-07 06:24] leizhiyuan opened #13162 "bundle-data do not be deleted when delete namespace"
**Describe the bug**
when namespace deleted, the /loadbalance/bundle-data/{tenant}/{namespace} should be deleted

this will cause zk node leak

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots

[2021-12-07 07:11] mattisonchao commented on #13154
i will work on it. :)

[2021-12-07 07:20] wuzhanpeng opened #13165 "refine cursor last active"
**Is your enhancement request related to a problem? Please describe.**
We found that after turning on the automatic cleanup for inactive subscriptions, if only resetting a sub without continuous consumption, the sub will also be cleaned up. Among them, using pulsar-flink-connector for consumption is a typical scenario due to its strategy of committing offset when checkpoint is triggered regularly.

[2021-12-07 08:32] #11298 closed

[2021-12-07 08:41] yunfeng79 opened #13167 "Not enough non-faulty bookies available"
apache-pulsar-2.8.0

three pulsar cluster

second pulsar messages:

16:33:15.772 [BookKeeperClientWorker-OrderedExecutor-0-0] WARN  org.apache.bookkeeper.client.PendingAddOp - Failed to write entry (135, 0): Bookie handle is not available
16:33:15.801 [BookKeeperClientWorker-OrderedExecutor-0-0] ERROR org.apache.bookkeeper.client.MetadataUpdateLoop - UpdateLoop(ledgerId=135,loopId=413ab672) Except

[2021-12-07 08:53] xuesongxs commented on #13149
实际ledger根本就没有状态，pulsar-manager上看到的opening或closing只是pulsar-manager设置上去的，本质是按照ledgers列表的创建时间排序的，最新创建的ledger是opening，其它统一都设置为closing。如果你设置了消息保留策略，或者消费者还没有把backlog消费掉，这个列表里就是会显示多个ledger，如果使用默认的消息保留策略，或消费追得上生产，这里只会显示一个ledger，并且是opening的状态。

[2021-12-07 09:43] pgandhap commented on #12987
@tuteng @nlu90 Any idea about this , why the sink status shows false .

[2021-12-07 11:56] gaozhangmin opened #13170 "Add messages produced by Protocol Handler When checking maxMessagePublishBufferSizeInMB"
## Motivation

MaxMessagePublishBufferSizeInMB is used to limit the direct memory usage for reading messages from producers, default value is 1/2 of direct memory.
The problem is:
If we enable any Protocol Handler in broker such as KoP, the direct memory to buffer the pending messages from Kafka producers is not limited by maxMessagePublishBufferSizeInMB. And if we have Pulsar producers and Kafka

[2021-12-07 11:58] wuxinle0412 commented on #13149
感谢解答 @xuesongxs

[2021-12-07 11:58] #13149 closed

[2021-12-07 12:43] zbentley opened #13172 "Attempting to delete persistent topics shortly after they are created yields intermittent "BKException$BKUnexpectedConditionException: Unexpected condition""
**Describe the bug**
Using a standalone broker built at HEAD (as of 12/7/2021), attempting to delete topics a second or two after they are created returns a 500 error and a stacktrace.

This occurs primarily in tenant/namespace combos that are also created very shortly before the topic deletion is attempted (e.g. I see this in test code a lot).

This error is intermittent; it does not occur every

[2021-12-07 12:44] zbentley commented on #12552
Done, thanks! https://github.com/apache/pulsar/issues/13172

[2021-12-07 12:54] longtengz opened #13173 "Elasticsearch sink `keyIgnore` config support non-keyvalue schemas (i.e. avro and json)"
**Is your enhancement request related to a problem? Please describe.**

Currently, `keyIgnore` config only works when keyvalue schemas are used for a topic, because of this line below

https://github.com/apache/pulsar/blob/ede95e9ba084c03822e40824c0ea41878f5fc102/pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch/ElasticSearchSink.java#L169

**Describe the solution you'd lik

[2021-12-07 13:11] sl1316 opened #13174 "Pulsar admin api golang client"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
we are looking into automating some maintenance work by calling pulsar admin api in a service(could call it autoscaling service) but pulsar only provide java client/website pages/rest api: https://pulsar.apache.org/docs/en/admin-api-overvie

[2021-12-07 13:34] mingyifei opened #13175 "[Pulsar-Reader] Support setting specified end MessageID or sending time."
I hope the Reader API can specify the ending MessageID or sending time.

[2021-12-07 13:37] xiaofan-luan commented on #13078
Hi there, we are targeting to production with high availability, the qps could be really small such as 10 MB/s, just want to know what is the smallest memory config for production, 3ks

[2021-12-07 13:43] ericsyh commented on #13167
@yunfeng79 Not enough non-faulty bk means your alive bk node number is less than broker‘s `managedLedgerDefaultEnsembleSize` config request https://github.com/apache/pulsar/blob/master/conf/broker.conf#L902. You can take a check on it.

[2021-12-07 14:03] krissetto commented on #12944
I am also interested in support for ARM docker images, especially for testing locally on Apple Silicon based machines

[2021-12-07 14:12] kezhenxu94 commented on #12944
Thank you @krissetto !! Will let you know when I have a docker image for testing on ARM!

[2021-12-07 14:50] RobertIndie commented on #13160
I think I can help with this.

[2021-12-07 17:08] #12486 closed

[2021-12-08 01:11] tuteng commented on #13151
@SapnaGirdhani1 I think you can refer to this document for debugging https://pulsar.apache.org/docs/en/io-debug/#debug-in-localrun-mode

[2021-12-08 01:13] leizhiyuan opened #13178 "Producer publishMessage uses a wrong sequence id?"
**Describe the bug**

in  ServerCnx
[code]

invoke the producer
[code]

**To Reproduce**
Steps to reproduce the behavior:

read the code. maybe sendError needs to use lowestSequenceId, which is the sequence id of the original send command, or the producer client will not find the correct pending request.

**Expected behavior**

 cnx.getCommandSender().sendSendError(producerId, lowestSequenceId, Se

[2021-12-08 01:14] tuteng commented on #13021
@pgandhap  I think you can refer to this document for debugging https://pulsar.apache.org/docs/en/io-debug/#debug-in-localrun-mode In the log `logs/functions/tenant/namespace/function-name/function-name-instance-id.log` file, you will be able to see the reason for the failure

[2021-12-08 02:21] zhanghaou commented on #12558
Sorry for late response, both of the pr are not merged. I closed my pr due to the early one had done the same thing.

[2021-12-08 03:02] Technoboy- commented on #12551
For this issue, the broker will only print the log containing `MetadataNotFoundException: Managed ledger not found`, but won't throw any exception.
That means: when deleting the topic forcibly, the broker may print this log, but the response is 200.

[2021-12-08 04:14] Anonymitaet commented on #13078
@xiaofan-luan FYI:
![image](https://user-images.githubusercontent.com/50226895/145147049-14004b04-9007-4aad-b35e-0c18ba2a15ff.png)
![image](https://user-images.githubusercontent.com/50226895/145147072-80c0cad5-d4c6-4272-adac-e83bf29c416f.png)

I've added basic and recommended hardware settings to Pulsar doc in https://github.com/apache/pulsar/pull/13187, PTAL, thanks

[2021-12-08 05:21] xiaofan-luan commented on #13078
Nice！ thanks Anonymitaet , we will try to do some pressure test and see.

[2021-12-08 05:37] gaozhangmin commented on #13175
In what situation, you will need this feature?

[2021-12-08 06:43] #13162 closed

[2021-12-08 06:45] Technoboy- commented on #12553
The possible cause of this problem is that when tenants are being deleted, a new namespace is created, resulting in tenants having sub-nodes in the zk directory.

[2021-12-08 08:06] mingyifei commented on #13175
custom message traceback, query the messages that have been consumed in the historical interval.

[2021-12-08 08:57] BewareMyPower commented on #11747
A simple patch is to remove these lines https://github.com/apache/pulsar/blob/d033e726e0981851d9d196da0e4fe3d12c11b863/pulsar-client-cpp/python/CMakeLists.txt#L74-L80

[2021-12-08 10:30] pgandhap commented on #13021
@tuteng  Getting error related to postgresql . But postgresql is running in local with port 5432 .

root@9f2800695c6b:/pulsar# bin/pulsar-admin sinks localrun --archive ./connectors/pulsar-io-jdbc-postgres-2.8.1.nar --tenant public --namespace default --inputs my-topic --name jdbc-postgres-sink --sink-config-file ./connectors/pulsar-postgres-jdbc-sink.yaml --parallelism 1
10:11:36.052 [main] INFO

[2021-12-08 12:42] suiyuzeng commented on #13119
It will work for this issue. But some time, we may need a high percentage of the history.
I think the threshold strategy should recorder the history even if the leader change. How about this way:
1. store the history in zk.
2. if a broker restart, discard the history. If the czxid of the broker in ledger/available change,  discard the history.

@hangc0276 @Jason918

[2021-12-08 12:52] ericsyh commented on #13158
I also take some attention on this point and I think the current challenge for Pulsar is lacking of the Lua client library unlike [lua-resty-kafka](https://github.com/doujiang24/lua-resty-kafka) for Kafka and [lua-resty-rocketmq](https://github.com/yuz10/lua-resty-rocketmq) for RocketMQ.

Maybe another solution is to leverage the [Plugin Runner](https://apisix.apache.org/docs/java-plugin-runner/de

[2021-12-08 14:01] fantapsody commented on #13019
Hi @mattisonchao , any updates on this?

[2021-12-08 14:20] Shawyeok opened #13194 "Dead loop in BacklogQuotaManager.dropBacklogForTimeLimit"
**Describe the bug**
After upgraded our staging cluster from `2.6.3` to `2.8.1`, there are so many `reset position` logs with same thread and same cursor:
![image](https://user-images.githubusercontent.com/5058708/145220305-2454861b-2be9-4538-8a48-b8ca0aa426e8.png)

thread `pulsar-backlog-quota-checker-31-1` is keeping `resetCursor` with same position forever:
[code]

`internal-stats` of the topic

[2021-12-08 15:46] codelipenghui commented on #13194
@Shawyeok Thanks for the feedback, I think you can disable `backlogQuotaDefaultLimitSecond` first. And are you going to work on a fix?

[2021-12-08 15:50] codelipenghui commented on #13175
@mingyifei You can just check the messageID or publish time of the received message, if you got the end message, you can just close the reader.

[2021-12-08 15:51] codelipenghui commented on #13174
@sl1316 Here is a go client admin tool for Pulsar https://github.com/streamnative/pulsarctl

[2021-12-08 16:18] Shawyeok commented on #13194
@Shawyeok Sure, I'll try submit a fix in next couple days. But I need to figure out the whole procedure first, and do you have any suggestions?

[2021-12-09 01:49] sl1316 commented on #13174
@codelipenghui it's a cli tool which operator runs manually. we would like to use the client like the consumer/producer client package which you can run your application on top of it programatically.

[2021-12-09 02:42] mingyifei commented on #13175
yes, but you have to loop every message......

[2021-12-09 02:44] #12888 closed

[2021-12-09 04:36] merlimat commented on #13175
@mingyifei I like the idea. It make sense to pair a startMessageId with an endMessageId.

do you want to work on a PIP for this feature?

[2021-12-09 06:56] #13078 closed

[2021-12-09 07:21] mingyifei commented on #13175
ok.

[2021-12-09 07:22] mingyifei commented on #13175
ok.

[2021-12-09 08:45] Richard-Yi opened #13206 "Pulsar metric endpoint should be designed to be reusable by other plugins"
Currently, pulsar use `/metric` endpoint to expose its metrics in prometheus format，but it cannot be reused by other plugins such as aop/kop..
I checked the source code. Pulsar defines `PrometheusRawMetricsProvider` to abstract the metrics provider class.
[code]
But In `PrometheusMetricsServlet`, It only collect the metric from `PrometheusMetricsGenerator`, which only contains metrics from pulsar

[2021-12-09 08:59] liguangcheng commented on #10054
To sum up: There are two conditions for subscription replication between multiple sites in pulsar 2.8:
1. Continuous production data
2. Close message deduplication

[2021-12-09 09:09] #13206 closed

[2021-12-09 09:11] Richard-Yi commented on #13206
Sry..I missed the code. I know how to do it now. Just ignore this issue🤣

[2021-12-09 09:33] Anonymitaet opened #13207 "PIP 112: Generate Release Notes Automatically"
Design proposal, solution, implementation progress, and all details are available [here](https://docs.google.com/document/d/1Ul2qIChDe8QDlDwJBICq1VviYZhdk1djKJJC5wXAGsI/edit#).

[2021-12-09 09:37] wang-yeliang commented on #13158
Maybe I missed the information before.

Who developed lua-resty-kafka
<https://github.com/doujiang24/lua-resty-kafka> for Kafka?

Eric Shen ***@***.***> 于2021年12月8日周三 20:53写道：

[2021-12-09 11:36] nodece opened #13211 "[Pulsar 2.9.0] ZK callbacks are sometimes unresponsive"
**Describe the bug**

When I call the `pulsarctl topics compact test-compact-topic` command, which cannot get a response from the pulsar.

I check out this codebase, this [code](https://github.com/apache/pulsar/blob/master/pulsar-metadata/src/main/java/org/apache/pulsar/metadata/impl/ZKMetadataStore.java#L148) doesn't work when receiving the request from the pulsarctl, the `zkc.multi()` doesn't ca

[2021-12-09 11:48] leizhiyuan opened #13212 "ENTRY_SIZE_BUCKETS_BYTES is wrong for 1MB"
**Describe the bug**
pulsar ENTRY_SIZE_BUCKETS_BYTES is wrong for 1MB

**To Reproduce**

in ManagedLedgerMBeanImpl ，you can see

    public static final long[] ENTRY_SIZE_BUCKETS_BYTES = { 128, 512, 1024, 2048, 4096, 16_384, 102_400, 1_232_896 };

the last one is not 1024*1024， but for 1024*1204， It is wrong。

**Expected behavior**
it should be 1_048_576 which is 1024*1024

**Screenshots**
If appl

[2021-12-09 11:52] lorthirk commented on #12944
+1!

[2021-12-09 12:37] aloyszhang opened #13214 "producer create failed with `connectionFailed ` will leak some resource"
**Describe the bug**
As describe in #13055，in the progress of building a new producer,  if `connectionFailed ` happens, there will left some resources not released like the `sendTimeout` TimerTask.

**To Reproduce**
Steps to reproduce the behavior:
1. create a new producer
2. simulate a `connectionFailed `
3. check the `client.timer.pendingTimeouts()` , result will > 0

**Expected behavior**
Once

[2021-12-09 12:38] aloyszhang commented on #13214
I'm gonna send a PR soon.

[2021-12-09 13:54] murong00 opened #13217 "Package management filesystem storage doesn't work"
**Describe the bug**
Currently, the package management filesystem storage doesn't work, when using `pulsar-admin packages upload` command to upload a new package, it throws error as below:
[code]
**Expected behavior**
The  `packages` commands can work as expected.

**Additional context**
This is because `packagePath` is the parent path of `metadataPath`
https://github.com/apache/pulsar/blob/65046c

[2021-12-09 14:07] jibbolo commented on #12944
+1

[2021-12-09 14:17] YanshuoH opened #13219 "BKNoSuchLedgerExistsException occurred during offload and the ledger is missing in tiered storage"
Hi,

**Describe the bug**

Got some `BKNoSuchLedgerExistsException` from time to time during offload (to AWS S3).

I've extracted some representative logs to illustrate the timeline.

Firstly, got `Closing ledger 33033 for being full` and `Preparing metadata to offload ledger 33033`, see details below:

<details>

[code]

</details>

Then about 4 minutes later, got `EntryLocationIndex - Deleting i

[2021-12-09 17:09] alicebi-streamnative opened #13220 "Submitting a community blog for Pulsar's 10k+ Github stars milestone"
Please answer the following questions before submitting your doc issue. Thanks!

# What issue do you find in Pulsar docs?

I would like to post a community blog for Pulsar's 10k+ Github stars milestone.

# What is your suggestion?
I would like to post a blog to the apache-pulsar.org site

# Do you have any references?
[Apache Pulsar hits 10,000 GitHub stars. .md](https://github.com/apache/pulsar/f

[2021-12-09 17:25] #11747 closed

[2021-12-09 18:12] #13212 closed

[2021-12-10 01:16] tuteng commented on #13174
https://github.com/apache/pulsar-client-go Maybe you need this

[2021-12-10 02:36] xuesongxs opened #13224 "Broker Java heap space OOM"
**Describe the bug**
Pulsar v2.8.1

[code]
**To Reproduce**
Steps to reproduce the behavior:
1. set PULSAR_MEM=${PULSAR_MEM:-"-Xms80g -Xmx80g -XX:MaxDirectMemorySize=80g"}
2. Producer / consumer， read / write messages

[2021-12-10 03:34] xuesongxs commented on #13224
broker.conf
[code]

[2021-12-10 03:54] sl1316 opened #13227 "Deploy function worker in a separate kubernetes"
Please answer the following questions before submitting your doc issue. Thanks!

# What issue do you find in Pulsar docs?
we are looking into deploy the connector in a separate kubernetes cluster to achieve resource isolation. from the document for setting up the function worker, https://pulsar.apache.org/docs/en/functions-worker/#run-functions-worker-separately, the process mentioned in the secti

[2021-12-10 03:56] Dulingxiao opened #13228 "Only 0 bookies are live since 1629 seconds elapsed, wait for another 1 bookies for another 1 second"
log keep hitting

03:48:26.020 [LedgerDirsMonitorThread] WARN  org.apache.bookkeeper.bookie.LedgerDirsMonitor - LedgerDirsMonitor check process: All ledger directories are non writable
03:48:26.020 [LedgerDirsMonitorThread] INFO  org.apache.bookkeeper.bookie.BookieStateManager - Disable high priority writes on readonly bookie.
03:48:26.021 [LedgerDirsMonitorThread] ERROR org.apache.bookkeeper.util

[2021-12-10 04:30] sl1316 commented on #13174
@tuteng  this package only contains the producer/consumer apis but not the admin apis

[2021-12-10 04:37] Anonymitaet opened #13229 "PIP 45: Update zookeeperServers to metadataStoreUrl"
As discussed with @codelipenghui, https://github.com/apache/pulsar/pull/13077 changes `zookeeperServers` to `metadataStoreUrl`.

Consequently, the flag `zookeeperServers` of `pulsar-perf managed-ledger` should be changed to `metadataStoreUrl`. Code files should be updated.

https://pulsar.apache.org/tools/pulsar-perf/2.10.0-SNAPSHOT/#managed-ledger

![image](https://user-images.githubusercontent.c

[2021-12-10 05:00] tuteng commented on #13174
https://github.com/streamnative/pulsarctl/blob/master/docs/en/overview_of_pulsarctl.md#admin-api This sdk for admin api
https://github.com/apache/pulsar-client-go This sdk for consume and produce @sl1316

[2021-12-10 08:35] HQebupt opened #13232 "[security vulnerability] Remote code injection in Log4j"
**Describe the security vulnerability**
There is a remote code injection in Apache Log4j 2.x <= 2.14.1.
Attackers can directly construct malicious requests to trigger remote code execution vulnerabilities which is verified by Alibaba Cloud security team.
- CVE ID: CVE-2021-44228

The current Pulsar is using 2.14.0 (`<log4j2.version>2.14.0</log4j2.version>` in pom.xml)
Log4j versions prior to 2.15.

[2021-12-10 09:40] hangc0276 commented on #13228
The reason is you have no available bookies, and the starter waiting for new writeable bookies.

[2021-12-10 09:40] #13228 closed

[2021-12-10 09:42] hangc0276 commented on #13224
Would you please provide more detail for the monitor metrics? just from the log, we can't address the root cause of the problem.

[2021-12-10 09:45] #13165 closed

[2021-12-10 09:57] hangc0276 commented on #13219
The ledger 33033 has been deleted by retention during offloading, so it is the expected behavior.

[2021-12-10 09:57] #13219 closed

[2021-12-10 10:11] hangc0276 commented on #13178
@leizhiyuan Would you please write a test the confirm the problem?

[2021-12-10 10:16] hangc0276 commented on #13175
@merlimat We can just check the MessageId or publish time when received the message. I wonder do we really need this feature? It may makes pulsar more complex.

[2021-12-10 11:23] YouJiacheng commented on #13175
You can just wrap(use inheritance) reader class to implement this feature. No need to modify pulsar. And your wrapped API will handle this check, you don't need repeat code for it.

[2021-12-10 11:30] YouJiacheng commented on #13232
already fix:
https://github.com/apache/pulsar/commit/b136a734eecf5719780f5dc4c97e7a7c395af3d6

[2021-12-10 13:05] jonaskint commented on #13232
Any idea when the actual tags will be released?

[2021-12-10 16:10] #11846 closed

[2021-12-10 17:40] lhotari commented on #13232
Addressed by #13226

I have posted information about Log4Shell mitigations for existing Pulsar releases on the mailing list: https://lists.apache.org/thread/pf8wfzt09c2dv4z291httlgdwtc1495c
https://lists.apache.org/thread/dbcy49yjsm6qtmxws2zf6zogv8yylq4c

[2021-12-10 17:40] #13232 closed

[2021-12-10 17:55] loganloganlogan opened #13235 "PIP 113: Update Pulsar Website Design & Content"
## Motivation and Goal
Several ML threads indicated that the Pulsar site underrepresented the technology and community. Our goal is to make the Pulsar website the premier destination for end users and current/prospective community members with a holistic update to the design and content -- get a full picture of Pulsar in one place.

## Implementation
The community has voted on a new design for the

[2021-12-10 17:57] michaeljmarshall commented on #7804
@codelipenghui - removing the 2.7.4 label. I'm not sure that we'll do a 2.7.5 release. We'll determine which branches to cherry pick to when this is completed/merged.

[2021-12-10 17:59] michaeljmarshall commented on #8419
Since we don't have a PR for this, I am going to remove the 2.7.4 label. We should still try to fix it, of course, but there is no target release if we don't have a commit.

[2021-12-10 18:03] michaeljmarshall commented on #9084
Removing the release label. We need a PR to have a release.

[2021-12-10 18:13] michaeljmarshall commented on #9697
@epsteina16 - can you confirm whether or not this bug is still present in recent releases of Pulsar? We are releasing 2.7.4 now, so I am going to remove this label. However, if the bug still exists, we should fix it. Thanks

[2021-12-10 18:17] michaeljmarshall commented on #9940
@fransguelinckx - can you confirm that this is still an issue? I am releasing 2.7.4 now, so I am going to remove the label. I believe there were some recent fixes to the key_shared subscription this past fall, but I am not sure that they address the specific bug you're seeing.

[2021-12-11 03:10] hangc0276 commented on #13148
We are designing a proposal for auto switch cluster service provider when one cluster is failed.

[2021-12-11 04:31] #13119 closed

[2021-12-11 07:20] #12554 closed

[2021-12-11 08:04] hangc0276 opened #13238 "Should introduce deleting state for ledger deletion"
**Is your enhancement request related to a problem? Please describe.**
In current ledger deletion, we divided it into two separate steps.
1. Remove all the waiting to delete ledgers from ledger list and update the newest ledger list into meta store.
2.  In the meta store update callback operation, delete the waiting to delete ledgers from storage system, such as BookKeeper or Tiered storage.

Due

[2021-12-11 08:06] wuzhanpeng commented on #13238
I can help with this issue~

[2021-12-11 08:10] hangc0276 commented on #13238
@wuzhanpeng Thanks for your help, I have assigned this issue to you. If you have any questions or need any help, please ping me at any time.  You'd better write a proposal first.

[2021-12-12 02:15] sl1316 commented on #13174
@tuteng thank you! feel free to close the issue

[2021-12-12 03:25] imaffe opened #13244 "[Enhancement] Use SonarQube to run static code analysis for detecting bugs early"
**Is your enhancement request related to a problem? Please describe.**
Current code analysis tool is not able to detect unused variables, which can be potential bugs. Using SonarQube can mitigate this problem.

**Describe the solution you'd like**
Integrate SonarQube to Pulsar's build process.

**Describe alternatives you've considered**

Not yet.

[2021-12-12 03:39] sicklife commented on #13167
I got the same error, my broker config is
  `managedLedgerDefaultEnsembleSize=2`

what should I do to fix this error?

[2021-12-12 20:46] KryukovaLidiya opened #13250 "[Pulsar-perf] In org.apache.pulsar.testclient.PerformanceProducer aggregated latency stats prints twice"
**Describe the bug**
At the end of the test org.apache.pulsar.testclient.PerformanceProducer, the aggregated statistics are printed and the latency prints twice, the second time all the values are unexpected.

**To Reproduce**
Steps to reproduce the behavior:
1. Run server
bin/pulsar standalone &
2. Run test
bin/pulsar-perf produce --rate 100000 --warmup-time 60 --test-duration 120 my-topic
3. We

[2021-12-13 03:41] tomscut commented on #13250
I will work on it. :)

[2021-12-13 03:43] hangc0276 commented on #13250
@tomscut Thanks for you help.

[2021-12-13 03:56] Technoboy- commented on #10263
Currently, you can set `forceDeleteNamespaceAllowed=true` in broker.conf and then try to delete the namespace forcibly.
We will optimize here later.

[2021-12-13 04:04] Technoboy- commented on #10263
When I run the test locally on my MacBook Pro using the Pulsar docker image eventually the namespace is deleted after a number of retries. When I run the test on Jenkins the delte keeps failing for 90 seconds (=max wait time in the back-off strategy) and 91 tries (the delete is retried every second). I already tried to use longer wait times between retries it does not help.

yes, the root cause is

[2021-12-13 04:21] shibd commented on #10263
I think the easiest work around might be just add a retry with some backoff.

@MarvinCai   When delete a namespace, can directly redirect the call `deletenamespacebundleforcefully`?

Because it has been checked that there is no user topic in the `deletenamespace`,  do not need to check again when deleting namespacebundle.

[2021-12-13 05:51] #13217 closed

[2021-12-13 06:23] lightzhao opened #13255 "Increase the metric of topic current limit time"
**Is your feature request related to a problem? Please describe.**
When a topic is set to current limit, it is currently uncertain whether it is restricted and how long it has been restricted. I hope that an metric can be added to the broker to view the specific current limit.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives

[2021-12-13 08:10] paladin-dalao opened #13267 "Pulsar CPP client mem leak"
**Describe the bug**

pulsar host can't connect successfuly,
send pulsar will mem leak

**To Reproduce**
Steps to reproduce the behavior:
1. Config pulsar host can't connect successfully
2. Send a msg
3. ClientConnection will mem leak

**Expected behavior**
If Pulsar fails to connect, each message will leak memory

Code:

[code]

**Screenshots**
valgrind
[code]
**Desktop (please complete the follo

[2021-12-13 08:19] HQebupt commented on #13178
@leizhiyuan I believe it is unnessarry since the metadata of send command is broken. You can never know which sequeence id is broken. And Pulsar Client hand the send error in this way:

[2021-12-13 08:58] wangjialing218 opened #13269 "PoolMessage and DLQ can not work together"
**Describe the bug**
PoolMessage and DLQ can not work together

**To Reproduce**
Steps to reproduce the behavior:
1. Enable poolMessages and DLQ in consumer side
2. Call `consumer.negativeAcknowledge(message)` and then call `message.release()`
3. The message did not resend to DLQ topic.

**Expected behavior**
The message should be sent to DLQ topic.

**Additional context**
The negative ack msgs wi

[2021-12-13 11:57] BewareMyPower commented on #13267
What's your C++ client version?  I see

[code]

The constructor of `ExecutorService` starts a thread. However, some refactors have been introduced after #12427, please check again with latest master.

BTW, could you upload a (minimum) whole code file and the valgrind command so that I can try to reproduce it in my local env?

[2021-12-13 12:59] mattisonchao commented on #13255
Could i work on it ?  @hangc0276

[2021-12-13 13:20] Shoothzj commented on #13154
You need use the same subscriptionName. The `SubscribeType` only works in the same subscritpionName

[2021-12-13 13:27] thiagohernandes commented on #13154
Did u simulate that? No make sense @Shoothzj the answer. Current posted example should emit an exception when the second consumer try to connect at the same topic.

[2021-12-13 13:33] Shoothzj commented on #13154
I didn't simulate that. You can try with same `subscriptionName`.  What's the reason for this `should`, did you see any doc for this behavior?

[2021-12-13 13:37] hangc0276 commented on #13255
@mattisonchao Thanks for you help, I have assigned it to you.

[2021-12-13 13:41] thiagohernandes commented on #13154
I saw the doc. No make sense i try to connect in the same topic with the same "subscriptionName". I believe and the docs show that in this case is a probably problem.
[Subscriptions Types](
https://pulsar.apache.org/docs/en/concepts-messaging/#subscriptions)

[2021-12-13 13:47] thiagohernandes commented on #13154
Make sense to connect in cases subscription type "shared". First one is "exclusive", and should block any others new connects.

[2021-12-13 13:48] ericsyh commented on #13167
Pls run the command `bin/bookkeeper shell listbookies -rw -h` to get the list the ReadWrite Bookies. And check that all broker configs keep consistent `managedLedgerDefaultEnsembleSize`, `managedLedgerDefaultWriteQuorum`, `managedLedgerDefaultAckQuorum`.

Then check that ReadWrite Bookies number >= `managedLedgerDefaultEnsembleSize` >= `managedLedgerDefaultWriteQuorum` >= `managedLedgerDefaultAckQ

[2021-12-13 13:56] Shoothzj commented on #13154
@thiagohernandes Currently, the "exclusive" only works on same `subscritpionName` :)

[2021-12-13 15:07] Shoothzj commented on #13154
I don't think so. If you want the exclusive behavior, you can use the same consumer name.

[2021-12-13 15:34] thiagohernandes commented on #13154
Why don't think? It's so easy to see that behavior on **exclusive** case. If it is exclusive type, **no more one can connect in that**. Shared, everyone can connect. Key based every configured subscriber. Failover the reserve instance keep waiting a fail.

[2021-12-13 19:59] sollecitom commented on #13096
@sijie does `pulsar-client-original` have a `org.apache.pulsar.client.api.Schema<org.apache.avro.generic.GenericRecord>`? That's what's needed to support native Avro types.

[2021-12-14 01:14] wangjialing218 commented on #13269
I'm working on this

[2021-12-14 03:13] lightzhao opened #13275 "Find the mapping topic according to the scope of the bundle"
**Is your enhancement request related to a problem? Please describe.**
If you want to manually adjust the topic distribution, you need to know which bundles the topic is on, and then uninstall the bundle to reach the topic migration.
At present, the corresponding bundle can be found through topic,the command is "pulsar-admin topics bundle-range", but there is no tool to find the mapping topic thro

[2021-12-14 03:39] gaozhangmin opened #13276 "Unload namespace bundle has timed out"
Unload namespace bundle time out
[code]
this log is logged by code
[code]
I thought this timeout may be cause by unloadServiceUnit, but from log, I could see all topics are closed  very soon. I don't know why time out happened.

[2021-12-14 03:40] shibd commented on #13275
Pulsar does not store all topic metadata in order to save the storage pressure of metadata.

Pulsar calculates which bundle it belongs to according to the hash value of topic, getting all topics in the bundle maybe not be supported.

[2021-12-14 04:39] thecodeway opened #13278 "When will Python 3.10 be supported"
Pulsar Python client
from the doc(https://pulsar.apache.org/docs/en/client-libraries-python/), highest support version was  python 3.8(linux)、python 3.(mac).
My current version is 3.10. I hope it can be supported

[2021-12-14 05:13] gaozhangmin commented on #13276
already fixed by  #12993

[2021-12-14 05:13] #13276 closed

[2021-12-14 06:05] wangjialing218 commented on #13275
I have just add API for this feature, please refer to #13184
You can get the topic list in a bundle, all list all bundles with their topics undle a namespace for one broker.

[2021-12-14 06:19] wangjialing218 commented on #13275
In fact broker have already cached the topics belongs to each bundle in memory, we can easily support it

[2021-12-14 06:40] shibd commented on #13275
Thanks, But There are some questions:

1. The cache does not represent accurate raw data, does it?
2. Only when topic is active can get it?
3. In ZK, the node storing topic metadata is temporary?

[2021-12-14 06:50] mingyifei commented on #13175
There are four ideas: 1. The broker modifies the bottom layer, such as looking for the ledger and entry codes according to publish time. 2. The broker changes the outer layer, and filters before responding. 3. Filters in the client api. 4. Filters by users themselves.

[2021-12-14 07:00] lightzhao commented on #13275
Thanks，this api will very useful.

[2021-12-14 07:01] paladin-dalao commented on #13267
1 . gcc version 4.8.5 20150623 (Red Hat 4.8.5-16) (GCC)
2. Test like this, create producer failed

[code]

[2021-12-14 07:44] kezhenxu94 commented on #12944
Hi all in this thread, I just pushed a multi-arch image to my own repo, anyone interested is welcome to pull and test it in your environment. https://hub.docker.com/repository/docker/kezhenxu94/pulsar/tags?page=1&ordering=last_updated

To test, just replace the docker image with `kezhenxu94/pulsar`, example:

[code]

Note this is not official and not well tested now, I'll test, polish and then ope

[2021-12-14 08:13] Shoothzj commented on #13154
@Anonymitaet could you please help to see if the documentation is ambiguous, we can only exclusive on same `subscritpionName` :)

[2021-12-14 08:54] Anonymitaet commented on #13154
Hi @Shoothzj @thiagohernandes

IMO, the doc has already pointed out that `If multiple consumers subscribe to a topic **using the same subscription**, an error occurs.`, this means only exclusive **on the same subscription name**, correct?

![image](https://user-images.githubusercontent.com/50226895/145965131-bfb8b841-596e-4130-a9e5-8556342e87da.png)

[2021-12-14 09:51] #13178 closed

[2021-12-14 09:51] xiasf opened #13283 "websocket when ssl tsl is enabled, error reported: Error during handshake"
**Describe the bug**

**websocket** when **ssl tsl is enabled**, error reported: **Error during handshake**

----

**To Reproduce**

Steps to reproduce the behavior:

1. config：broker.conf, client.conf, proxy.conf, standalone.conf, websocket.conf

2. run：bin/pulsar standalone

3. pulsar-client is good：bin/pulsar-client produce my-topic --messages "hello-pulsar"

4. python3 test.py: Handshake statu

[2021-12-14 10:06] Shoothzj commented on #13154
Thank you, that's clear :)

[2021-12-14 10:25] tongsucn opened #13285 "[cpp-client] Optimize MessageBuild and SharedBuffer to avoid unnecessary memory copy."
## Background

In out project, a common use case of Pulsar C++ client is that sending some serialized data to Pulsar, e.g.

[code]

Here, `.setContent(serialized)` copies `serialized` into the newly-built  message object. If the serialized data is big (say, ~1MB), the performance cost will be significant.

`MessageBuilder::setAllocatedContent` does not help much, since it requires caller to keep t

[2021-12-14 11:31] thiagohernandes commented on #13154
@Anonymitaet That's nice! Thanks!

[2021-12-14 11:31] #13154 closed

[2021-12-14 11:38] Anonymitaet opened #13288 "PIP 116: Create Pulsar Writing Style Guide"
Design proposal, solution, implementation progress, and all details are available [here](https://docs.google.com/document/d/1lc5j4RtuLIzlEYCBo97AC8-U_3Erzs_lxpkDuseU0n4/edit#).

[2021-12-14 11:48] aloyszhang opened #13289 "c++ client Producer with name 'xxx-18-31667' is already connected to topic"
**Describe the bug**
C++ producer may blocked sometimes, and from the logs in broker we can see
![image](https://user-images.githubusercontent.com/48062889/147339110-8603911d-eebd-4d2f-a39b-fe0329dc0c31.png)

[2021-12-14 12:00] aloyszhang commented on #13289
cc @BewareMyPower

[2021-12-14 12:01] marksilcox opened #13290 "Exception on creating sink on Java 17"
We are deploying Pulsar 2.8.1 to AWS using Ansible (following the playbook provided) and have started getting the exception below when creating a new sink. The playbook hasn't changed and has worked before in AWS (we currently have a number of environments running that were created with the same code).

I have noticed however that the latest AMI is using Java 17 and our other older ones are using

[2021-12-14 12:54] #13028 closed

[2021-12-14 13:25] thiagohernandes opened #13294 "Pulsar does not run after the first time - standalone mode"
**Describe the bug**
I've downloaded version 2.8.1 and started once with success on standalone mode. But, when a tried to producer and consumer on Java this not work. There seems not connect on Java and locking my app without any logs. Still, when stopping Apache and trying to run again, some exceptions occur and it doesn't run.

**To Reproduce**
Steps to reproduce the behavior:
1 start Pulsar sta

[2021-12-14 13:32] mgrenonville commented on #11646
I've also have this issue with client 2.8.0

[2021-12-14 13:42] Shoothzj commented on #13290
@marksilcox it needs a higher version of bookkeeper

https://github.com/apache/bookkeeper/pull/2847

[2021-12-14 13:43] Shoothzj commented on #13290
@marksilcox currently, pulsar doesn't have a version to run on java17, I suggest you to use java11

[2021-12-14 13:46] marksilcox commented on #13290
@Shoothzj Thanks. Is the update to java17 on the roadmap?

[2021-12-14 13:51] mgrenonville commented on #11646
@naveenkusakula I've found a workarround, that may help you :
You should loadConf before setting deadLetterPolicy.
[code]
@eolivelli I've reproduced the bug in `org.apache.pulsar.client.impl.conf.ConfigurationDataUtilsTest`.

[code]
This is due to serialization of dead letter policy in JSON by ConfigurationDataUtils, and jackson inability to create DeadLetterPolicy, since there is no default const

[2021-12-14 13:59] Shoothzj commented on #13290
I am not sure that `update to java17`, I think we will support `java17` to run..
Maybe in `2.10.0` ? @merlimat @codelipenghui

[2021-12-14 14:39] Technoboy- opened #13299 "Flaky tests in branch-2.7"
## Motivation
We decide to release 2.7.4, but we meet some flaky tests in branch-2.7. We will disable these flaky tests temporarily and use this issue to track them and if anyone is interested in fixing, feel free to push the pr.

## Flaky tests:
- AdminApiTest2#testMaxSubPerTopicApi
[code]
- AdminTest#properties
[code]
- TopicReaderTest#testMessageAvailableAfterRestart
[code]
- KeySharedSubscript

[2021-12-14 14:56] #13290 closed

[2021-12-14 15:26] hangc0276 commented on #13294
@thiagohernandes I can't reproduce your exception, did you changed other configurations?

[2021-12-14 15:28] hangc0276 commented on #13283
@MarvinCai  Would you please help take a look?

[2021-12-14 15:34] thiagohernandes commented on #13294
No! Local machine only instructions before.

[2021-12-14 15:48] Haaroon opened #13301 "File Connector repeats reading the same file if not deleted"
**Describe the bug**

When using the file connector, if specifying a directory, a file name and setting `keepFile = true` the connector simply re-reads the file once it is complete, this is regardless of whether it was modified or not. If setting `keepFile = false` then it does not, as after the first read the connector deletes the file.

**To Reproduce**
Steps to reproduce the behavior:
1. First

[2021-12-14 17:15] merlimat opened #13302 "PIP-117: Change Pulsar standalone defaults"
## Motivation

Pulsar standalone is the "Pulsar in a box" version of a Pulsar cluster, where
all the components are started within the context of a single JVM process.

Users are using the standalone a as way to get quickly started with Pulsar or
in all the cases where it makes sense to have a single node deployment.

Right now, the standalone is starting by default many components, several of
whi

[2021-12-14 17:45] #9646 closed

[2021-12-14 17:46] #9644 closed

[2021-12-14 17:46] #9645 closed

[2021-12-14 18:00] merlimat opened #13304 "PIP-118: Do not restart brokers when ZooKeeper session expires"
## Motivation

After all the work done for PIP-45 that was already included in 2.8 and 2.9
releases, it enabled the concept of re-acquirable resource locks and leader
election.

Another important change was to avoid doing any deferrable metadata operation
when we know that we are not currently connected to the metadata service.

Finally, that enabled to stabilize in 2.9 the configuration setting t

[2021-12-14 18:14] merlimat opened #13305 "PIP-119: Enable consistent hashing by default on KeyShared dispatcher"
## Motivation

The consistent hashing implementation to uniformly assign keys to consumers
in the context of a KeyShared subscription, was introduced in
https://github.com/apache/pulsar/pull/6791, which was released in Pulsar 2.6.0.

While consistent hashing can use slightly more memory in certain cases, it is
more suitable as a general default implementation, as it leads to a fairer
distribution

[2021-12-14 18:38] KryukovaLidiya commented on #13294
@thiagohernandes  I'm not sure, but maybe I can help you. Tell me, after the first start and a complete stop after the server, Do you have the logs and data directories?

[2021-12-14 19:15] merlimat opened #13306 "PIP-120: Enable client memory limit by default"
## Motivation

In Pulsar 2.8, we have introduced a setting to control the amount of memory
used by a client instance.

[code]

By default, in 2.8 and 2.9 this setting is set to 0, meaning no limit is being
enforced.

I think it's a good time for 2.10 to enable this setting by default and,
correspondingly, to disable by default the producer queue size limit.

This will simplify a lot the configurat

[2021-12-14 19:21] #9647 closed

[2021-12-14 19:53] jonasbark commented on #10798
Sorry to hijack this but in case anyone stumbles upon this:
We were using pulsar java 2.7.1 and it caused an immediate EXCEPTION_ACCESS_VIOLATION crash on Microsoft Azure App Service. Updating it to 2.8.1 fixed it.

[2021-12-14 20:52] nlu90 opened #13307 "[function] `--update-auth-data` doesn't work"
**Describe the bug**
We met the issue that need to update token for functions and used the `--update-auth-data`, but it doesn't work.
After kill the function and start it again, the problem solved.

Need to investigate why it doesn't update the token correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected beh

[2021-12-15 01:19] tomscut commented on #13304
I want to try to implement this feature, could you assign it to me. Thanks.

[2021-12-15 02:20] hangc0276 opened #13315 "PIP-121: Pulsar cluster level auto failover on client side"
### Motivation
We have geo-replication to support Pulsar cluster level failover. We can setup Pulsar cluster A as a primary cluster in data center A, and setup Pulsar cluster B as backup cluster in data center B. Then we configure geo-replication between cluster A and cluster B. All the clients are connected to the Pulsar cluster by DNS. If cluster A is down, we should switch the DNS to point the

[2021-12-15 02:36] ericsyh commented on #13158
After a brief discuss with @wang-yeliang and @jiazhai, it'll be better to develop the APISIX plugin with native Lua cause of the performance and usability than using the [Plugin Runner](https://apisix.apache.org/docs/java-plugin-runner/development/).

So this issue will be breakdown into:
* Lua Pulsar Library: like [lua-resty-kafka](https://github.com/doujiang24/lua-resty-kafka) and [lua-resty-roc

[2021-12-15 03:08] liangyuanpeng commented on #13021
Does Your container is host network?   in your pulsar container, can not found postgresql from `localhost:5432`

[2021-12-15 03:18] pgandhap commented on #13021
Yes . Both pulsar and postgresql ( with port 5432 ) are running through docker .

[2021-12-15 05:53] wang-yeliang commented on #13158
We are looking forward to the development of pulsar community friends Lua
Pulsar Library and APISIX Pulsar Plugin.

Let's enrich the surrounding ecology of Aapche Pulsar.

Eric Shen ***@***.***> 于2021年12月15日周三 10:36写道：

[2021-12-15 06:39] cnmade opened #13325 "Split FutureUtils in to dedicated mvn package?"
https://github.com/apache/pulsar/blob/master/pulsar-common/src/main/java/org/apache/pulsar/common/util/FutureUtil.java

The source code is a very good Future library , i never found any other library like it.
I also want to use it for our projects.

I wonder to know, may your please release it under a dedicated mvn package?

We only need the Future, Not the whole pulsar-common

[2021-12-15 07:03] goku321 commented on #13305
Can I work on this?

[2021-12-15 07:05] liangyuanpeng commented on #13021
What about your docker container run command?

[2021-12-15 07:29] hangc0276 commented on #12716
@YanshuoH @xuesongxs Would you please provide the heap?

[2021-12-15 07:30] hangc0276 commented on #13224
@xuesongxs Would you please provide the heap?

[2021-12-15 07:36] KryukovaLidiya commented on #13294
@thiagohernandes In fact, just during the testing of Pulsar-Perf, we had something similar, and the point is not in emptiness, but in their presence, if you delete both the logs folder and the data folder, then you may be able to start. Not guaranteed, but worth a try. Actually, having turned gray a bit in the code, we switched to github and not to the release builds.
If you have time, try to eras

[2021-12-15 08:04] #9441 closed

[2021-12-15 08:20] BewareMyPower commented on #13289
I have checked the C++ client, it looks like the error is not caused by the issue like https://github.com/apache/pulsar-client-go/pull/639. See https://github.com/apache/pulsar/blob/8625ffe0cce476539faf38c7d8a97adbfbe95855/pulsar-client-cpp/lib/ProducerImpl.cc#L68-L70

The `userProvidedProducerName_` field is only initialized once when the `ProducerImpl` is created.

[2021-12-15 08:47] codelipenghui opened #13330 "Migrate topic authorization data to topic policies"
**Is your enhancement request related to a problem? Please describe.**

Pulsar stored the topic permission data by the namespace policy znode, if there are many topics under the namespace, the znode becomes very large, and for each policy update, will introduce a heavy workload to the Zookeeper.

After Pulsar supports topic level policy which is able to store the topic policy to a system topic, mi

[2021-12-15 08:53] BewareMyPower commented on #13289
And I simulated the reconnection by modifying the SDK implementation just now.

[code]

i.e. there will be a reconnection for the 3rd time to send a message. And I also added some logs for debugging.

Here are the output:

[code]

From following lines:

[code]

We can see `userProvidedProducerName_` is always false (0). I also checked from the broker side as well.

----

I think there is something

[2021-12-15 08:56] BewareMyPower commented on #13289
![image](https://user-images.githubusercontent.com/18204803/146154925-ebb18617-6e61-42ca-af66-51ffb64dca8a.png)

For example, the image above is the result after I modified `AbstractTopic#removeProducer` like:

[code]

[2021-12-15 09:08] casuallc commented on #12303
I think you should connect websocket server but not pulsar server.

Check the cofig in conf/websocket.conf
[code]

[2021-12-15 09:09] vkuznecovas commented on #12944
I've tested it out, seems to work great. Thanks!

[2021-12-15 09:42] sarimak commented on #13278
I was missing support for Linux, Python 3.9 and pulsar-client 2.8.1 and I was able to compile the wheel myself (using Ubuntu 21.10). Perhaps you could do the same for 3.10 in the meantime.

I checked out this Git repo, switched to v2.8.1 tag and back-ported the diff from pull request which introduced the dockerized build for Python 3.9 (which has to use manylinux2014 instead of manylinux1 due to a

[2021-12-15 09:47] sarimak commented on #13278
Since the build script is using PyPA's official base Docker image for manylinux wheels, it could be just a matter of changing the `PYTHON_VERSION="3.9"` and `PYTHON_SPEC="cp39-cp39"` to 3.10 (in the build script) and adding it to `PYTHON_VERSIONS` (both in build-wheels.sh and create-images.sh).

Since the whole build happens inside the Docker image, there is no need to install C++ libraries on you

[2021-12-15 10:21] sarimak opened #13334 "Wheel for pulsar-client 2.8.1, Python 3.9 and OS X x86_64 is missing"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://pypi.org/project/pulsar-client/2.8.1/#files
2. Wheel for pulsar-client 2.8.1, CPython 3.9 and OS X 11 on x86_64 is not available
(but wheel for pulsar-client 2.8.1, CPython 3.9 and OS X 11 on arm64 (M1) is available)

**Expected behavior**
Intel HW on OS X is supported for all combinations of pulsar-client + O

[2021-12-15 10:59] krissetto commented on #12944
I have also started testing it on an M1 device, and it seems to work 😄 I haven't gone very deep into it yet though, so i'll be back with feedback if I encounter any specific issues with it. Thanks for the build! Ping when you have a PR too since i'm curious

[2021-12-15 11:07] kezhenxu94 commented on #12944
Sure, will keep you all in this thread posted. Thanks all for testing. 🙇

[2021-12-15 11:59] thiagohernandes commented on #13294
Really work after delete "data" folder. I believe it's a bug. Yet, after creating a simple producer and consumer occur a lock on my consumer and not receive a value. Bellow the screenshots of Java code:
![Captura de tela de 2021-12-15 08-54-06](https://user-images.githubusercontent.com/2352110/146182670-35c24a89-bae3-491f-b68c-ace2406d8a2d.png)
![Captura de tela de 2021-12-15 08-54-59](https://use

[2021-12-15 12:08] Anonymitaet opened #13338 "[Blog] 2.9.0 announcement blog"
Hi @eolivelli

Thanks for creating 2.9.0 release notes https://github.com/apache/pulsar/pull/12425
(P.S. there are still some issues in this release note, for example, many inconsistencies).

Just a soft reminder: since you are the 2.9.0 release manager, please do not forget to create the 2.9.0 announcement blog, thanks.
Example: https://pulsar.apache.org/blog/2021/09/23/Apache-Pulsar-2-8-1/

[2021-12-15 12:11] xuesongxs commented on #13224
There is no Java dmp file, and I read the metrics information, but there is no more useful information. Add me wechat: daxia_xue, let's talk.

***@***.***

From: Hang Chen
Date: 2021-12-15 15:30
To: apache/pulsar
CC: xuesongxs; Mention
Subject: Re: [apache/pulsar] Broker Java heap space OOM (Issue #13224)
@xuesongxs Would you please provide the heap?
—
You are receiving this because you were menti

[2021-12-15 13:13] nlandeker commented on #12623
@timmyyuan any idea when PMC members will get to this? I have build it myself but it is much more convenient to have it available via PyPi :)

[2021-12-15 13:25] thiagohernandes commented on #13294
@KryukovaLidiya Take a look the log when the consumer get receive the producer's data.
![Captura de tela de 2021-12-15 10-23-16](https://user-images.githubusercontent.com/2352110/146194507-d89fb260-5c2a-4d2b-91b8-281776a91b04.png)

[2021-12-15 13:29] hangc0276 opened #13340 "PIP-122: Change loadBalancer default loadSheddingStrategy to ThresholdShedder"
### Motivation
The ThresholdShedder load balance policy since Pulsar 2.6.0 by https://github.com/apache/pulsar/pull/6772. It can resolve many load balance issues of `OverloadShedder` and works well in many Pulsar production clusters.

In Pulsar 2.6.0, 2.7.0, 2.8.0 and 2.9.0, Pulsar's default load balance policy is `OverloadShedder`.

I think it's a good time for 2.10 to change default load balance

[2021-12-15 13:56] thecodeway commented on #13278
Thank you for your reply. I'll try as you say

[2021-12-15 14:34] wenbingshen opened #13342 "[BUG]"
**Describe the bug**
Master issue: #13061 https://github.com/apache/pulsar-client-go/issues/676
Pulsar version:2.8.1

After our investigation, this problem occurs when the ping/pong between the client and the server gradually deviates, until the client senses that the connection is closed, and the connection close operation fails due to network reasons, and the underlying network is not disconnect

[2021-12-15 14:38] wenbingshen commented on #13342
@codelipenghui @BewareMyPower

[2021-12-15 14:44] BewareMyPower commented on #13342
It looks like the same issue with https://github.com/apache/pulsar/issues/13289. /cc @aloyszhang

[2021-12-15 14:57] wenbingshen commented on #13289
https://github.com/apache/pulsar/issues/13342

[2021-12-15 18:52] merlimat opened #13346 "PIP-123: Introduce Pulsar metadata CLI tool"
## Motivation

For a very long time, we have included a CLI command to start the ZooKeeper
shell utility: `pulsar zookeeper-shell`, which is essentially a repackaging
of the ZooKeeper tool `zkCli.sh`.

This is useful in some cases to either verify the content of metadata or
to perform cleanup and modification tasks for which there is not an available
option through the Pulsar REST APIs.

While it'

[2021-12-15 21:06] rdhabalia commented on #13340
this is not backward compatible change and one usecase can't make decision, this will impact existing users.

[2021-12-16 01:23] mattisonchao commented on #13283
I think i can help with this issue.

[2021-12-16 01:36] mattisonchao commented on #13346
I think it's will be very useful.

[2021-12-16 01:55] isminex opened #13347 "Support user defined and pluggable consumer selector"
**Is your enhancement request related to a problem? Please describe.**
When we try to Introduce pulsar to our existing system, compatibility is our first consideration. Firstly, our production system uses jump consistent hash algorithm to select consumers, but pulsar uses range consistent hash algorithm natively. It's impossible for us to guarantee that the same node can consume data with the same

[2021-12-16 02:00] casuallc commented on #13046
You can not change schema type of a topic.

Recreate topic and try again. :)

[2021-12-16 02:37] casuallc commented on #13301
It's a feature.

[code]

[2021-12-16 02:50] casuallc commented on #13283
Same problem in #12303 ?

[2021-12-16 02:51] casuallc commented on #13283
Websocket server is a proxy :)

[2021-12-16 03:12] gaozhangmin commented on #13347
Consumer selector is only used in Key_Shared mode. Right？
May be we can implement it like  `MessageRouter`.

[2021-12-16 05:51] gaozhangmin commented on #13347
I can help  implement it.

[2021-12-16 06:11] mattisonchao commented on #13283
@casuallc
Maybe we need to clearly explain in the document.
what do you think about it ?

[2021-12-16 07:32] Haaroon commented on #13301
Well no it's a bug, not  feature. How ridiculous.  It shouldn't be like this. You cannot expect the user to want to delete their files. It should just skip files already processed.

Get Outlook for Android<https://aka.ms/AAb9ysg>
________________________________
From: liuchangqing ***@***.***>
Sent: Thursday, December 16, 2021 2:38:09 AM
To: apache/pulsar ***@***.***>
Cc: Haaroon Y ***@***.***>; A

[2021-12-16 08:27] yunfeng79 opened #13356 "Not enough non-faulty bookies available"
apache-pulsar-2.8.0
java.util.concurrent.CompletionException: org.apache.pulsar.client.api.PulsarClientException$BrokerPersistenceException: org.apache.bookkeeper.mledger.ManagedLedgerException: Not enough non-faulty bookies available
        at java.util.concurrent.CompletableFuture.encodeThrowable(CompletableFuture.java:292) ~[?:1.8.0_301]
        at java.util.concurrent.CompletableFuture.comple

[2021-12-16 08:29] #13356 closed

[2021-12-16 08:37] yunfeng79 commented on #13167
@ericsyh  check that ReadWrite Bookies number  is  same,Still have the same error?

[2021-12-16 08:39] yunfeng79 commented on #13167
java.util.concurrent.CompletionException: org.apache.pulsar.client.api.PulsarClientException$BrokerPersistenceException: org.apache.bookkeeper.mledger.ManagedLedgerException: Not enough non-faulty bookies available
at java.util.concurrent.CompletableFuture.encodeThrowable(CompletableFuture.java:292) ~[?:1.8.0_301]
at java.util.concurrent.CompletableFuture.completeThrowable(CompletableFuture.java:3

[2021-12-16 08:40] xiasf commented on #13283
❤ Thank you very much, Already solved, It's a configuration problem, but also because the documentation is not clear enough

These points solved my problem:

1. `bin/pulsar standalone` will not be used websocket.conf

2. ws client Trusting CA root certificates and set not to verify the host name

[code]

3. Note the difference between server certificate and client certificate issuance: `-extension

[2021-12-16 08:43] xiasf commented on #13283
#12303

[2021-12-16 08:47] #13283 closed

[2021-12-16 08:49] eolivelli opened #13358 "Functions: NullPointerException in FunctionStatsManager.reset"
**Describe the bug**
I have seen this NPE in FunctionStatsManager.reset.
Probably it is a race while the function is still starting and it receives a "reset" request

**To Reproduce**
It is hard to reproduce it manually.

**Expected behavior**
No error

**Screenshots**
[code]

**Envrironment (please complete the following information):**
Pulsar 2.7.2 (actually Luna Streaming fork 2.7.2.1.1.21, but

[2021-12-16 10:59] Jason918 opened #13360 "[Bug] Produce chunk messages failed when topic level maxMessageSize is set."
**Describe the bug**
Produce chunk messages failed when topic level maxMessageSize is set.
See details in the following unit test case.

**To Reproduce**
See this new unit test code in org.apache.pulsar.broker.admin.TopicPoliciesTest

[code]

**Expected behavior**
Chunking should work fine if we change maxMessageSize.

**Screenshots**
NA

**Desktop (please complete the following information):**
 -

[2021-12-16 11:10] Jason918 commented on #13360
I am working on a fix.

[2021-12-16 11:15] isminex commented on #13347
Yes, we just use the Key_Shared mode now.

[2021-12-16 11:26] isminex commented on #13347
Nice to hear that! Can I have your implementation process and schedules？

[2021-12-16 12:48] xiaotongwang1 opened #13362 "【Critical issue】pulsar-broker block when process start"
pulsar version : 2.8.1

cat broker.stack |grep -A 10  pulsar-web

"pulsar-web-47-3" #235 prio=5 os_prio=0 tid=0x00007f95e2227800 nid=0x2d33b0 waiting on condition [0x00007f91693e2000]
   java.lang.Thread.State: WAITING (parking)
	at sun.misc.Unsafe.park(Native Method)
	- parking to wait for  <0x00000005d7d613a0> (a java.util.concurrent.CompletableFuture$Signaller)
	at java.util.concurrent.locks.Lo

[2021-12-16 12:48] suiyuzeng opened #13363 "Producer registe failed when reconnecting"
**Describe the bug**
   Producer registe failed and retry still failed when reconnecting after keep-alive timeout. Logs as follows:
[code]
In client, it seems there is some problem about the network. Close the connection and retry. But the server send the error "Producer is already connected to topic" for earch retry.

In the server log,  do not find the log about close event.
2021-12-14 15:11:07

[2021-12-16 13:56] xiaotongwang1 commented on #13362
"pulsar-io-4-35" #403 prio=5 os_prio=0 tid=0x00007fb428039000 nid=0x2e9c04 waiting on condition [0x00007fb334c65000]
   java.lang.Thread.State: WAITING (parking)
	at sun.misc.Unsafe.park(Native Method)
	- parking to wait for  <0x00000005be7f4680> (a java.util.concurrent.CompletableFuture$Signaller)
	at java.util.concurrent.locks.LockSupport.park(LockSupport.java:175)
	at java.util.concurrent.Compl

[2021-12-16 14:10] xiaotongwang1 commented on #13362
From 39e546958be2bef0fa4a2f0061f2d6cc5d38af0d Mon Sep 17 00:00:00 2001
From: wWX976718 <wangxiang134@huawei.com>
Date: Wed, 13 Oct 2021 16:00:05 +0800
Subject: [PATCH] [Huawei]Fix kop producer frequent register.

Offering: BigDataPlatformComputeNGPubSub

[TicketNo:]DTS2021080621983
---
 .../pulsar/handlers/kop/KafkaRequestHandler.java   |  8 +-
 .../kop/KafkaTopicConsumerManagerCache.java        |

[2021-12-16 14:44] KryukovaLidiya commented on #13250
Apparently, the pool request was not added here and it did not close automatically.

I close, because I checked that everything works with the master. Thanks a lot:)

If you deem necessary (do not agree with me) - please reopen

[2021-12-16 14:44] #13250 closed

[2021-12-16 14:49] KryukovaLidiya commented on #13294
@thiagohernandes
To be honest, I'm not a committer to this repository and I'm not sure I have rights, but you can offer a patch here (If you have).
I just faced the same problem and "delete" works for us.

I am just involved in the analysis of the performance of the pulsar, so when faced with a problem I solve it on our side as it would be convenient for us and I report here.

Thank you for report

[2021-12-16 18:28] #13285 closed

[2021-12-17 02:00] wangjialing218 commented on #13315
If  cluster B has a different authentication data with cluster A, such as another token string, how to change the authentication setting in client when auto failover happen?

[2021-12-17 03:30] Jason918 commented on #13363
@michaeljmarshall  PTAL

[2021-12-17 04:54] kwenZh opened #13375 "broker offload use s3 driver, java.io.IOException: No offloader found for driver 'S3'. Please make sure you dropped the offloader nar packages under `${PULSAR_HOME}/offloaders`"
in pulsar 2.8.1 version, use offload, broker err log:

[code]

and this broker config about offload:
[code]

and work dir offloaders has nar :

 ll offloaders/
total 149912
-rw-r--r-- 1 root root 85993675 Dec 17 09:36 tiered-storage-file-system-2.8.1.nar
-rw-r--r-- 1 root root 67514044 Dec 17 09:36 tiered-storage-jcloud-2.8.1.nar

[2021-12-17 06:22] michaeljmarshall commented on #13363
@suiyuzeng - thanks for opening this issue. I have been working in this part of the code base recently, so I am happy to take a look. I should be able to sometime in the next few days. I am going to assign this to myself for now.

[2021-12-17 09:09] tuteng commented on #13375
Have you tried using this name `aws-s3`? @kwenZh

[2021-12-17 09:12] kwenZh commented on #13375
aws-s3 driver  is ok, but the other error log is :

org.jclouds.http.handlers.BackoffLimitedRetryHandler - Cannot retry after server error, command has exceeded retry limit 100: [method=org.jclouds.aws.s3.AWSS3Client.public abstract java.lang.String org.jclouds.s3.S3Client.getBucketLocation(java.lang.String)[pulsar-offload], request=GET https://s3.amazonaws.com/pulsar-offload?location HTTP/1.1]

i

[2021-12-17 09:16] kwenZh commented on #13375
because， we are using a storage based on the S3 protocol， not aws  , so  i need set my private storage url

[2021-12-17 09:39] eolivelli opened #13379 "Metrics: noise stacktrace if Prometheus closes the connection due to a timeout"
**Describe the bug**
if Prometheus closes the connection due to a timeout or some other reason you will see these errors in the logs and this is very noisy.
We can simply report a better message in the logs.

10:35:18.642 [prometheus-stats-58-1] ERROR org.apache.pulsar.broker.stats.prometheus.PrometheusMetricsServlet - Failed to generate prometheus stats
org.eclipse.jetty.io.EofException: null
	at

[2021-12-17 11:20] eolivelli commented on #13379
This is another common error that happens when the timeout is elapsed on the server side
java.lang.IllegalStateException: AsyncContext completed and/or Request lifecycle recycled
	at org.eclipse.jetty.server.AsyncContextState.state(AsyncContextState.java:52) ~[jetty-server-9.4.43.v20210629.jar:9.4.43.v20210629]
	at org.eclipse.jetty.server.AsyncContextState.complete(AsyncContextState.java:72) ~[je

[2021-12-17 14:25] lhotari opened #13382 "Setting `PULSAR_EXTRA_OPTS` causes the process to run without significant default JVM options"
**Describe the bug**
When setting `PULSAR_EXTRA_OPTS`, the expectation would be that the JVM options would be added to the existing JVM arguments. However, this is not the case.

If `PULSAR_EXTRA_OPTS` isn't set, these parameters will get set `-Dpulsar.allocator.exit_on_oom=true -Dio.netty.recycler.maxCapacity.default=1000 -Dio.netty.recycler.linkCapacity=1024` .
If you set `PULSAR_EXTRA_OPTS`, th

[2021-12-17 15:21] devinbost commented on #6054
This bug has been resolved in DataStax Luna Streaming 2.7.2_1.1.21

[2021-12-17 15:48] dave2wave commented on #11766
You can find the Incubator releases here: https://archive.apache.org/dist/incubator/pulsar/

[2021-12-17 16:50] sijie commented on #13382
@lhotari: in the opposite, people should have the ability to overwrite the defaults. I don't think keeping the defaults is a good idea. If people want to update the `PULSAR_EXTRA_OPTS`, they should just put all the settings they need there.

[2021-12-17 17:13] eolivelli commented on #13382
probably we could have two variables in order to full fill both of the needs

[2021-12-17 17:13] lhotari commented on #13382
I agree.

@sijie  Do you see a problem in the behavior that setting `PULSAR_EXTRA_OPTS` causes the process to run without significant default JVM options, for example `-Dpulsar.allocator.exit_on_oom=true`?

How does anyone know that relevant settings get overridden when setting PULSAR_EXTRA_OPTS?

[2021-12-17 18:49] skyrocknroll commented on #6054
@devinbost Which version of apache pulsar has this fix ?

[2021-12-18 05:42] golden-yang commented on #6930
Is there any progress on this issue?
Being able to support indexes in Pulsar Sql will be a very meaningful feature.

One way is to support it **natively**, and the other way I think it can be achieved through **tiered storage**. For example, combined with the data lake, with the help of Apache Hudi and so on.

I saw some articles about the combination of hudi and pulsar, is there any progress?
@si

[2021-12-18 20:49] zbentley commented on #12554
@merlimat thanks, I can no longer repro this issue when I test against that PR. There are a few other related issues whose incidence reduced as well.

It is now much harder to repro these issues: https://github.com/apache/pulsar/issues/12551
https://github.com/apache/pulsar/issues/12556
https://github.com/apache/pulsar/issues/12555

[2021-12-18 20:53] zbentley commented on #12551
@Technoboy- that doesn't seem accurate; this error manifests as a 500 error returned to clients. The deletion attempt used in my initial reproduction of this bug did use `force=true`.

[2021-12-19 09:18] Shoothzj commented on #13283
@xiasf I want to know where you think the documentation is not clear enough.

Is that `bin/pulsar standalone will not be used websocket.conf` ?

[2021-12-19 09:39] mattisonchao commented on #13346
@merlimat

After this pip is passed, can I help?

[2021-12-19 12:32] ericsyh commented on #13375
Use `s3ManagedLedgerOffloadServiceEndpoint` to set as your pricate storage url, the value should be `http://<storage-url>:port`.

[2021-12-20 01:49] Jason918 commented on #13340
Hi @rdhabalia
Any specific compatible issue for this change?

[2021-12-20 02:57] Anonymitaet commented on #11766
Hi @dave2wave Thanks for your answer. However, https://archive.apache.org/dist/incubator/pulsar/ hosts code files rather than doc files. We are looking for doc files (source files) of these versions, do you know where hosts them? Thanks again

- 2.0.1-incubating
- 2.0.0-rc1-incubating
- 1.22.0-incubating
- 1.21.0-incubating
- 1.20.0-incubating
- 1.19.0-incubating

[2021-12-20 04:00] timmyyuan commented on #12623
@nlandeker Sorry for the late reply, I'll take a look this weekend

[2021-12-20 06:47] kwenZh commented on #13375
broker.conf  it also set
s3ManagedLedgerOffloadServiceEndpoint=http://host:12001
but it still connect  https://s3.amazonaws.com

[2021-12-20 06:49] kwenZh commented on #13375
org.apache.bookkeeper.mledger.offload.jcloud.impl.BlobStoreManagedLedgerOffloader - Constructor offload driver: aws-s3, host: http://host:12001, container: pulsar-offload, region

[2021-12-20 07:18] #13379 closed

[2021-12-20 07:22] kwenZh commented on #13375
broker log：
15:20:47.294 [offloader-OrderedScheduler-0-0] ERROR org.jclouds.http.handlers.BackoffLimitedRetryHandler - Cannot retry after server error, command has exceeded retry limit 100: [method=org.jclouds.aws.s3.AWSS3Client.public abstract jClient.getBucketLocation(java.lang.String)[pulsar-offload], request=GET https://s3.amazonaws.com/pulsar-offload?location HTTP/1.1]

[2021-12-20 09:21] congbobo184 opened #13405 "[Transaction] Add transaction coordinator disconnect command."
# Background

​		Now, transaction coordinator client connect coordinator has `CommandTcClientConnectRequest` , when CoordinatorClient connect to coordinator will lookup `transaction_coordinator_assign` topic and then find  coodinator broker then send `CommandTcClientConnectRequest` to broker, broker will init tc.

​		Tc client disconnect from coordinator when do transaction op throw exception `Tra

[2021-12-20 09:26] shaniMaayan opened #13406 "Topic Policies get/set not working properly"
**Describe the bug**
I am managing two Pulsar Clusters that were created at version 2.8.0 and upgraded to 2.8.1. At some point one of the clusters started acting weird when editing topic specific policies.

Topics in new namespaces and old namespaces won't react to policy changes for example and return 204 or 200 with no body/empty {}
An old topic that had his policies changed in the past did work

[2021-12-20 09:57] RobertIndie opened #13408 "PIP-124: Create init subscription before sending message to DLQ"
## Motivation

If we enable the DLQ when consuming messages. For some messages that can't be processed successfully, the messages will be moved to the DLQ, but if we do not specify the data retention for the namespace or create a subscription for the DLQ to retain the data, the data of the DLQ will be removed automatically. Therefore, we need to create the initial subscription before sending messa

[2021-12-20 11:24] xuesongxs opened #13410 "Add custom properties for the reconsumeLater interface"
**Is your feature request related to a problem? Please describe.**
When the reconsumelater interface is called once, the orgid of the message will change once. I hope that no matter how many times the reconsumelater interface is called, the orgid of the message is the msgid in the input topic.

`void reconsumeLater(Message<?> message, long delayTime, TimeUnit unit) throws PulsarClientException;
`

[2021-12-20 13:39] eolivelli opened #13411 "[Doc] add docs for additionalJavaRuntimeArguments"
Add docs for https://github.com/apache/pulsar/pull/13282

[2021-12-20 17:08] dave2wave opened #13414 "[Doc] Pulsar Client Libraries Page has a Dead Link"
### What issue do you find in Pulsar docs?

The link in the section [here](https://pulsar.apache.org/docs/en/client-libraries/#feature-matrix) refers to a wiki page which is missing.

Instead the information is in a [Google](https://docs.google.com/spreadsheets/d/1YHYTkIXR8-Ql103u-IMI18TXLlGStK8uJjDsOOA0T20/edit#gid=1784579914) doc which is not editable by any committer through a PR nor is it desc

[2021-12-20 19:07] TIBCOeddie commented on #13152
In light of all the new CVEs with log4j please ensure a newly updated image is posted with log4j 2.17+ (at time of writing)

[2021-12-20 22:47] yannick commented on #4942
maybe a much easier solution that would already solve quite a few cases:
(mainly: development and hard disaster recovery where a bit of missing data is ok)
since data can be written to tiered storage it would be nice if there would be an easy way to bootstrap a cluster with such data.
e.g. for development you would just copy over from s3 a few days worth of data and bootstrap.
is this already poss

[2021-12-21 01:00] xiasf commented on #13283
@Shoothzj  Yes, and the `brokerClientAuthenticationParameters` configuration is not mentioned when `tlsEnabled=true` is enabled.

I also found a problem: configuring `authenticationEnabled=true` as documented caused the startup to fail because `useTls=true` was also required in `functions_worker.yml`, which was not mentioned in the documentation. I tried several times without success, until I saw

[2021-12-21 01:12] hangc0276 commented on #13315
Cluster A and Cluster B should be configured with the same authentication, otherwise the client should update authentication settings when switch cluster.

[2021-12-21 01:16] hangc0276 commented on #13340
@rdhabalia The two load balance policy are has no state, and users can switch between them at any time. IMO, there is no incompatible issue for this change. Do you have any case for the compatible issue?

[2021-12-21 01:32] wangjialing218 commented on #13315
Is it possible to auto update authentication settings when switch cluster by implements `AuthenticationDataProvider` for `AutoClusterFailover`? We already support config geo-replicator cluster with different authentication in #10242.

[2021-12-21 02:59] timmyyuan commented on #13152
I think this issue should be closed since we have updated log4j to 2.17+

[2021-12-21 02:59] #13152 closed

[2021-12-21 03:25] jack-tristan opened #13419 "python sdk bug "Pulsar error: IncompatibleSchema""
**Describe the bug**
python sdk bug "Pulsar error: IncompatibleSchema".

**To Reproduce**
Steps to reproduce the behavior:
1. schema v1 (mind the key `mmid`)
[code]
2. schema v2 (mind the key `mmid`)
[code]
3. pulsar schema setting:
[code]

**Expected behavior**
Exception: Pulsar error: IncompatibleSchema

**Screenshots**
Error:
[code]

**Desktop (please complete the following information):**
 - O

[2021-12-21 03:28] jack-tristan commented on #13419
AutoUpdate Strategy = Full
Schema Validation Enforced = Disabled

[2021-12-21 07:39] gaoran10 opened #13427 "[Pulsar SQL] Query data with empty schema version for no-bytes schema type"
**Describe the bug**

If we query data on Pulsar SQL, if the data has an empty schema version, the query will encounter `java.nio.BufferUnderflowException` exception.

Normally, if we use the producer to publish messages with bytes schema, the message will maintain an empty schema version, it's an empty array bytes.

We could handle this case in Pulsar SQL.

But if the topic has a no-bytes schema,

[2021-12-21 07:58] gaozhangmin commented on #13347
@isminex  what you need is config selector class  through broker configuration, Right?

[2021-12-21 08:01] isminex commented on #13347
Yes, that's it.

[2021-12-21 08:02] gaozhangmin commented on #13347
I  will implement it this week.

[2021-12-21 08:12] eolivelli opened #13429 "Release procedure: Building OSX packages is broken, at least in 2.9.1"
**Describe the bug**

Building OSX packages is broken, at least in 2.9.1
https://github.com/apache/pulsar/wiki/Release-process

**To Reproduce**

[code]

**Error**

[2021-12-21 08:24] Anonymitaet commented on #13414
1. fixes the invalid URL issue.
2. [The google doc](https://docs.google.com/spreadsheets/d/1YHYTkIXR8-Ql103u-IMI18TXLlGStK8uJjDsOOA0T20/edit#gid=1784579914) can be editable by some committers and the content in that doc is appropriate for `master`.
3. As you can see from [the google doc](https://docs.google.com/spreadsheets/d/1YHYTkIXR8-Ql103u-IMI18TXLlGStK8uJjDsOOA0T20/edit#gid=1784579914), the s

[2021-12-21 09:37] yuruguo opened #13431 "We can still get topic’s schema When deleting both the topic&schema and then recreate the topic"
**Describe the bug**
We can still get the topic’s schema When we delete both the topic & schema and then recreate the topic.

**To Reproduce**
Steps to reproduce the behavior:
1. **step-1**: Get topic's schema
![0](https://user-images.githubusercontent.com/13013780/146904743-ed4b38a0-23c3-4352-bdb9-6e1fd8ff2491.jpg)

2. **step-2**: Delete topic but not delete it's schema
![1](https://user-images.g

[2021-12-21 11:26] lalit-g-deepr opened #13432 "[pulsar-cpp-client] Consumer should be able to read messages in batch"
**Consumer batch reading of messages**
There is important feature to consumer messages in batch for a message broker. Apache pulsar java client is providing this feature by function consumer config property batchreceive policy. This should be available for pulsar-cpp-client as well. It would help in increasing read capacity of consumer.

**Describe the solution you'd like**
consumer would read the

[2021-12-21 13:01] BewareMyPower commented on #13432
I assign this issue to me first. But I might not have much time for it recently. If anyone is interested in this issue, please ping me and I will assign it to you.

[2021-12-21 15:47] TIBCOeddie commented on #13152
from https://hub.docker.com/r/apachepulsar/pulsar/tags I see nothing updated ?

[2021-12-21 19:58] zbentley opened #13439 "Regression creating a namespace with "null" in "backlog_quota_map" causes a NullPointerException on 2.9.1, but not 2.9.0 or earlier"
**Describe the bug**
A stacktrace is raised when creating a namespace with a backlog quota map containing null, e.g.:

[code]

**To Reproduce**
1. Start a standalone 2.9.1 broker, I used `brew install apache-pulsar` on an updated Homebrew on 12/21/21.
2. Create a new Namespace via the admin API. When POSTing to create it, set the backlog quota map field to the example value above.
3. See error

**

[2021-12-21 20:10] #11833 closed

[2021-12-21 21:25] merlimat commented on #13432
@lalit-g-deepr The consumer is already internally receiving the messages in batches and doing prefetching. There is no performance difference in calling `receive()` or `batchReceive() ` in Java.

[2021-12-22 01:54] #13414 closed

[2021-12-22 02:02] ericsyh opened #13441 "feat(offloader): support kerberos config set for hdfs offloader"
**Is your feature request related to a problem? Please describe.**

Usually hdfs is kerberos is enabled in production environment.

**Describe the solution you'd like**

Support kerberos config set for hdfs offloader.

[2021-12-22 02:03] ericsyh commented on #13441
@zymap PTAL

[2021-12-22 03:58] 315157973 opened #13444 "Topic policy across multiple clusters"
**Is your feature request related to a problem? Please describe.**
In PIP 92, we have supported remote replication of Topic Policies

However, many existing APIs do not support IsGlobal parameters yet, so remote replication needs to be supported for the following interfaces：

- [x] backLogQuotaMap @315157973
- [x] subscriptionTypesEnabled @315157973
- [x] persistence @315157973
- [x] retentionPoli

[2021-12-22 04:17] timmyyuan commented on #13152
@TIBCOeddie FYI: https://github.com/apache/pulsar/pull/13392

[2021-12-22 06:08] mattisonchao commented on #13444
Can i try to work on it ?

[2021-12-22 06:08] mattisonchao commented on #13444
Can I try to help with this?

On Wed, 22 Dec 2021 at 11:58, feynmanlin ***@***.***> wrote:

[2021-12-22 07:53] BewareMyPower commented on #13342
Could you confirm whether https://github.com/apache/pulsar/pull/13428 fixed the problem?

[2021-12-22 10:44] Anonymitaet opened #13452 "[Website] `pulsar` CLI website shows commands of `pulsar-perf`"
[`pulsar` 2.10 page](https://pulsar.apache.org/tools/pulsar/2.10.0-SNAPSHOT/) shows the commands of `pulsar-perf`, this is incorrect.

![image](https://user-images.githubusercontent.com/50226895/147079982-2dfefa09-667a-444a-b990-6d76d54a0344.png)

[2021-12-22 10:44] Anonymitaet commented on #13452
@urfreespace can you help resolve this issue? Thanks

[2021-12-22 10:47] Anonymitaet opened #13453 "[Website] generate HTML for Pulsar configuration pages"
Generate HTML for the components in the red box:
![image](https://user-images.githubusercontent.com/50226895/147080710-c9bbdb69-0aa8-427a-898d-40d2f2f71816.png)

Details see [here](https://docs.google.com/spreadsheets/d/1P6tePGmU1lEhGKY_hE3JWgJ1rUTBCmW7AshDICJZr3o/edit#gid=1030826289)

[2021-12-22 10:48] Anonymitaet commented on #13453
@urfreespace can you help resolve this issue? Thanks

[2021-12-22 12:15] liudezhi2098 commented on #13410
The orgid of the message is currently written in properties, and the corresponding field is ORIGIN_MESSAGE_ID.
Add custom properties for the reconsumeLater interface，I will support。

[2021-12-22 12:54] lalit-g-deepr commented on #13432
@merlimat nice. Can I know how batching is being done?

[2021-12-22 13:28] BewareMyPower commented on #13429
Could you try this patch? At this moment I cannot test in my local env because it takes much time to install vagrant.

[code]

If it doesn't work, you can just try to remove the `-Wno-error=cpp` option.

BTW, /cc @oversearch please take a look when you have time. It looks like to be caused by https://github.com/apache/pulsar/pull/11668.

[2021-12-22 13:49] BewareMyPower commented on #13432
Consumer reads entries from broker one by one. Each entry represents a batch. Then consumer will deserialize single messages from the batch.

[2021-12-22 15:54] samzph opened #13457 "Pulsar branch-2.9 build failure in auditwheel running build-wheel-file-within-docker.sh"
**Description**
Docker build fails in `pulsar-client-cpp/docker/build-wheel-file-within-docker.sh` with error on `+ auditwheel repair dist/pulsar_client-2.8.2-cp38-cp38-linux_x86_64.whl dist/pulsar_client-2.9.1-cp38-cp38-linux_x86_64.whl`

**To Reproduce**
Steps to reproduce the behavior:
`git clone https://github.com/apache/pulsar.git`
`git checkout branch-2.9`
Follow steps [here](https://github.

[2021-12-22 21:26] eolivelli commented on #13457
Can you try to 'git clean -xdf' your repo?
IIRC that errors occurs if you have multiple builds locally

I have built the official images for 2.9.1 and 2.9.0  and it worked well

[2021-12-22 22:38] samuelzimmermanphillips commented on #13457
That seemed to get rid of the auditwheel error, but now it's failing on the `java.security` file. This appears to be an issue in the docker container as it's using the amd64 version and I'm compiling on arm.

`[ERROR] Failed to execute goal com.spotify:dockerfile-maven-plugin:1.4.13:build (default) on project pulsar-docker-image: Could not build image: The command '/bin/sh -c echo networkaddress.c

[2021-12-22 23:21] leizhiyuan commented on #13439
Null of Long transalte to long
![image](https://user-images.githubusercontent.com/2684384/147165803-d7c72dcd-725b-44ee-b1b0-050dd2197ebd.png)

![image](https://user-images.githubusercontent.com/2684384/147165847-cca678f8-994b-4b9b-a753-862f23177905.png)

[2021-12-22 23:33] leizhiyuan commented on #13439
{"policy": "producer_exception", "limitTime": 7200.0}
you has not limit or limitSize provided,

limit and limitType will be null both

[2021-12-22 23:35] leizhiyuan commented on #13439
@Shoothzj

[2021-12-23 00:09] Shoothzj commented on #13439
@leizhiyuan @zbentley #13353 was written based on the `pulsar-admin` tools, in `pulsar-admin` tools, the limitStr, aka limitSize, is a required parameter, that's why I think `the limitSize and limit can't be both null`. Sorry for my fault.
Now, I think we need to compat situation that the user uses rest API to set `backlogQuotaMap` without any limit set.
@codelipenghui WDYT?

[2021-12-23 03:54] wenbingshen commented on #13342
I don't think the problem is solved, because when the problem occurs, the `channelInactive` method is not entered, that is, after the producer reconnect, the old connection still does not trigger `channelInactive`.

I just built a test with the master branch (including #13428 ), and the repeat steps described in the issue can still be reproduced stably.

![image](https://user-images.githubusercont

[2021-12-23 08:28] leizhiyuan opened #13466 "StatsBuckets addAll use count as sum"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
![image](https://user-images.githubusercontent.com/2684384/147211508-bd7ace78-58d1-4233-8251-d18b86747517.png)

**Expected behavior**
A clear and concise description of what you expected to happen.

It should add add sum，not count

**Screenshots**
If applicable, add screensho

[2021-12-23 09:23] 315157973 commented on #13444
which one do you want?

[2021-12-23 09:47] gaozhangmin commented on #13347
@isminex A pr is committed. PTAL

[2021-12-23 10:32] casuallc opened #13472 "PIP-125: Support rename the file has been processed"
## Motivation

#13301

## Goal

Support rename the file has been processed.

## API Changes

Add `processedFileSuffix` to `FileSourceConfig`.

[code]

## Implementation

#13373

[2021-12-23 12:02] isminex commented on #13347
LGTM. Thanks very much.

[2021-12-23 12:13] gaozhangmin opened #13473 "[PIP-126] Support custom and pluggable consumer selector"
## Motivation

When we try to Introduce pulsar to our existing system, compatibility is our first consideration.

 Firstly, our production system uses jump consistent hash algorithm to select consumers, but pulsar uses range consistent hash algorithm natively. It's impossible for us to guarantee that the same node can consume data with the same routing key from pulsar and our existing system simul

[2021-12-23 12:16] mattisonchao commented on #13444
- offloadPolicies
- inactiveTopicPolicies
- dispatchRate
- subscriptionDispatchRate
- compactionThreshold

[2021-12-23 12:24] mattisonchao opened #13474 "[PIP-127] Support Consul metadata"
## Motivation

In many companies today, Consul is used in microservices to achieve related business requirements.
If we can support Consul metadata, it will bring a better user experience.

After PIP-45, I think we can support consul metadata.

PIP-45: https://github.com/apache/pulsar/wiki/PIP-45%3A-Pluggable-metadata-interface

## Goal

Support consul metadata.

## API Changes

- Add ``ConsulMeta

[2021-12-23 16:46] #13194 closed

[2021-12-24 02:53] ericsyh opened #13479 "[bug](broker): brokerDeleteInactiveTopic should exclude pulsar internal topics"
**Describe the bug**
On the Pulsar 2.8.1, we found that `brokerDeleteInactiveTopicsEnabled=true` will make pulsar internal topics like healthcheck deleted by inactivity.

<img width="1748" alt="截屏2021-12-24 上午10 35 10" src="https://user-images.githubusercontent.com/10498732/147309937-ab833432-53f2-4726-9a10-fd4a416c5d45.png">

**To Reproduce**
Steps to reproduce the behavior:
1. Set up pulsar clus

[2021-12-24 02:54] ericsyh commented on #13479
@zymap @hangc0276 PTAL
cc @codelipenghui

[2021-12-24 03:16] ericsyh opened #13480 "[bug](zkclient): ledger znode delete incomplete when broker delete topic"
**Describe the bug**
On pulsar 2.8.1, we found in some corner case zkclient clean ledger znode is incomplete when broker deleting the topic. The data in target ledger znode is clean but the znode still exists which leads bk audit parse ledger metadata error then exit the bk process.

* listledgers can get the ledger id 278117

<img width="878" alt="截屏2021-12-24 上午10 37 28" src="https://user-images

[2021-12-24 03:16] ericsyh commented on #13480
@hangc0276 @zymap PTAL.
cc @codelipenghui

[2021-12-24 06:48] #13432 closed

[2021-12-24 07:04] gaozhangmin commented on #13431
After step-3 createPartitionedTopic, This topic is not owned by any broker,  the assignment is triggered by the lookup request in producer or consumer action.
If you add this `pulsarClient.newConsumer().subscriptionName("subscriptionName").topic(topic).subscribe();` before step-4,  this unit test will pass. you can try.

[2021-12-24 07:12] gaozhangmin commented on #13479
Should we check why this topic become  inactive, I think this topic should not become inactive.

[2021-12-24 07:58] ericsyh commented on #13479
In below broker log, you can get the life cycle of healthcheck from creating to deleting by inactivity.

[broker.log](https://github.com/apache/pulsar/files/7773314/broker.log)

[2021-12-24 08:10] zcola opened #13486 "[Doc] Want to find the corresponding metrics"
### What issue do you find in Pulsar docs?

https://pulsar.apache.org/docs/en/2.8.0/reference-metrics/

### What is your suggestion?

https://segmentfault.com/a/1190000023706815

In addition to the following metrics, I have found all the metrics that the article recommends to observe
The metrics that need to be focused on are as follows:

1. Pulsar Broker

* loadbalance
* Cache hit rate on the bro

[2021-12-24 08:28] shibd opened #13488 "[PIP-128] Add new command STOP_PRODUCER and STOP_CONSUMER"
## Motivation

Broker send `CLOSE_PRODUCER/CLOSE_CONSUMER` to client when delete topic, But client will be reconnect. If config `allowAutoTopicCreation=true` will trigger create topic again.

https://github.com/apache/pulsar/blob/9f599c9572e5d9b1f15efa6e895e7eb29b284e57/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConnectionHandler.java#L130-L133

## Goal

Add new commands `STOP_PRODU

[2021-12-24 08:33] shibd commented on #13488
@hangc0276 @MaiCw4J @Technoboy-  PTAL.

[2021-12-24 08:38] xiaobing0508 opened #13489 "Failed to create subscription"
Failed to create consumer for topic partition-3.
Other partition is normal.
pulsar-broker.log:
16:27:13.669 [pulsar-io-4-38] INFO  org.apache.bookkeeper.mledger.impl.ManagedCursorImpl - [product/thor/persistent/data_out-partition-3] Cursor data_out_g_flt_xgks_test recovered to position 99681:294407

16:27:13.669 [pulsar-io-4-38] INFO  org.apache.bookkeeper.mledger.impl.ManagedLedgerImpl - [product

[2021-12-24 08:40] yuruguo commented on #13431
@gaozhangmin

`optTopic` is null:

You are right and I also find it, `Topic` is not loaded in broker and maybe we need to delete from schema registry, so I modify the logic of `deleteSchemaStorage()` method as below:
![image](https://user-images.githubusercontent.com/13013780/147330246-32cc1a82-1b76-48f3-a8c3-fc145939d8b9.png)
Then I can get the expected result.

**In addition**, we actually have

[2021-12-24 09:04] eolivelli opened #13490 "PIP-124: Pulsar Client Shared State API (draft)"
## Motivation

Explain why this change is needed, what benefits it would bring to Apache Pulsar
and what problem it's trying to solve.

## Goal

Define the scope of this proposal. Given the motivation stated above, what are
the problems that this proposal is addressing and what other items will be
considering out of scope, perhaps to be left to a different PIP.

## API Changes

Illustrate all the

[2021-12-24 09:11] gaozhangmin commented on #13431
@yuruguo
[code]
this change makes no effect. I think, for the same reason.

[2021-12-24 10:30] rj1031cp opened #13493 "minio support"
**Is your feature request related to a problem? Please describe.**
from now ,  Tiered Storage had bean support like s3 etc, but did not support native storege solution such as minio
**Describe the solution you'd like**
do u have any plan to support minio?

[2021-12-25 05:35] liudezhi2098 opened #13497 "Optimize the debug log that affects performance, and unify the style"
**Is your feature request related to a problem? Please describe.**
It is found that log.debug has been judged by isDebugEnabled in most places, but not in all places. It is recommended to add judgement in some areas that affect performance.

**Describe the solution you'd like**
unify the style add judgement in some areas that affect performance.

[2021-12-25 12:14] mattisonchao opened #13504 "[ Merry Christmas ] Merry Christmas pulsar community 🎄🎁🎅"
**Merry Christmas pulsar community**

----

🎄🎁🎅🎄🎁🎅🎄🎁🎅    🎄🎁🎅           🎄🎁🎅    🎄🎁🎅                       🎄🎁🎅🎄🎁🎅🎄🎁🎅                🎄🎁🎅               🎄🎁🎅🎄🎁🎅🎄🎁🎅
🎄🎁🎅           🎄🎁🎅    🎄🎁🎅           🎄🎁🎅    🎄🎁🎅                       🎄🎁🎅                                  🎄🎁🎅🎄🎁🎅        🎄🎁🎅            🎄🎁🎅
🎄🎁🎅           🎄🎁🎅    🎄🎁🎅           🎄🎁🎅    🎄🎁🎅                       🎄🎁🎅🎄🎁🎅🎄🎁🎅          🎄🎁🎅   🎄🎁🎅       🎄🎁

[2021-12-25 12:14] #13504 closed

[2021-12-26 03:46] Jason918 commented on #13486
You mean you can't find the corresponding metrics? like

pulsar_lb_unload_broker_count
pulsar_lb_unload_bundle_count

pulsar_ml_cache_hits_rate
pulsar_ml_cache_misses_rate
pulsar_ml_cache_xxx

[2021-12-26 11:13] mattisonchao commented on #13479
@ericsyh

can i try to work on it ?

[2021-12-26 15:14] mattisonchao commented on #13490
Could i help with this PIP ?

[2021-12-27 01:45] RobertIndie commented on #13490
This PIP number is duplicated with https://github.com/apache/pulsar/issues/13408

[2021-12-27 01:57] hangc0276 commented on #13479
@mattisonchao  Thanks for your help, I have assigned this issue to you.

[2021-12-27 03:23] #13497 closed

[2021-12-27 03:39] leizhiyuan opened #13517 "provide a lua plugin for pulsar in wireshark"
**Is your feature request related to a problem? Please describe.**

https://github.com/apache/pulsar/tree/master/pulsar-client-cpp/wireshark

this is difficult in many different operation systems， I can write a Lua plugin for pulsar。 which will be easy to change and run in different systems， if it is ok， you can assigin to me

A clear and concise description of what the problem is. Ex. I'm always

[2021-12-27 06:00] gaozhangmin opened #13520 "Broker health check with `TopicVersion.V2` failed"
1、Broker health check failed with `TopicVersion.V2` but it's ok with `TopicVersion.V1`, The failed reason is:
[code]
Policies not found for namespace  `pulsar/host:8080` under  znode `admin/policies`.

But Why v1 is successful?  v1's healthcheck topic name is global, `checkReplication` is skipped.

I cannot decide the best solution to fix it.

[2021-12-27 09:12] keyboardbobo opened #13523 "kill the broker or ack takes a long time, which will cause the cluster traffic to drop instantaneously"
**Is your enhancement request related to a problem? Please describe.**
I have nine brokers，when I kill one, the traffic of the remaining eight brokers will drop within 30 seconds, reach a peak after 30 seconds, and then return to normal. I found that the sending thread is blocked:
`
    private boolean canEnqueueRequest(SendCallback callback, long sequenceId, int payloadSize) {
        try {

[2021-12-27 10:23] mingyifei opened #13524 "[pulsar-client] Support receiverQueueRefillThreshold configuration."
`org.apache.pulsar.client.impl.ConsumerImpl#receiverQueueRefillThreshold`

`        this.receiverQueueRefillThreshold = conf.getReceiverQueueSize() / 2;
`

Currently the configuration is fixed, do you consider letting the user decide?

[2021-12-27 11:19] codelipenghui commented on #13520
@gaozhangmin Can you reproduce the issue on 2.8.x or 2.9.1? We are enabled health checks for many clusters but never found such an anomaly.

[2021-12-27 11:30] wuzhanpeng opened #13526 "PIP 129: Introduce intermediate state for ledger deletion"
## Motivation

Related to #13238

Corresponding logic: `org.apache.bookkeeper.mledger.impl.ManagedLedgerImpl#internalTrimLedgers`

Under the current ledger-trimming design, we need to collect those ledgers that need to be deleted first, and then perform the asynchronous deletion of the ledger concurrently, but we do not continue to pay attention to whether the deletion operation is completed. If t

[2021-12-27 11:47] gaozhangmin commented on #13520
Yes, i tested with  2.9.1.

[2021-12-27 11:51] nongcundeshifu opened #13527 "if you installed 'Win32/Win64 OpenSSL' on windows10,compiling Pulsar C++ client library will failure"
**Describe the bug**

When compiling Pulsar C++ client library on windows10,If your computer is installed [Win32/Win64 OpenSSL](http://slproweb.com/products/Win32OpenSSL.html),The following build command will fail when run:

[code]

output:

[code]

![image](https://user-images.githubusercontent.com/29112325/147466960-d235e3ad-bd4b-41ee-ba53-c0c830d8c5cc.png)

If I uninstall the `Win32/Win64 OpenS

[2021-12-27 13:22] codelipenghui opened #13528 "PIP 130: Apply redelivery backoff policy for ack timeout"
PIP 130: Apply redelivery backoff policy for ack timeout

- Status: DISCUSS
- Author: Penghui Li
- Issue:
- Pull Request:
- Mailing list discussion:
- Release: 2.10.0

## Motivation

PIP 106 https://github.com/apache/pulsar/wiki/PIP-106%3A-Negative-acknowledgment-backoff
introduced negative acknowledgment message redelivery backoff which allows users to achieve
more flexible message redelivery del

[2021-12-27 14:34] liudezhi2098 commented on #13528
I can try it

[2021-12-27 22:53] zbentley commented on #13439
I'm happy to forward fix (I don't need back compat for multiple broker versions, though I understand if others do). Could you provide the ideal/desired way to specify these limits? Specifically, looking for examples of JSON payloads for:
- Size and time-based limits.
- No limits.
- Size limits but no time limits.
- Time limits but no size limits.

[2021-12-28 02:29] xuesongxs opened #13532 "Producers and consumers throw PulsarClientException.AlreadyClosedException"
**Describe the bug**
Pulsarclientexception is thrown by producer and consumer applications running in the online environment AlreadyClosedException.
Pulsar v2.8.1

![image](https://user-images.githubusercontent.com/54351417/147520335-8b760aea-19c3-41d7-acce-0e1eb5f68999.png)
![image](https://user-images.githubusercontent.com/54351417/147520708-3163882c-18f8-4771-ad27-8b2b7336f206.png)
![image](htt

[2021-12-28 06:13] mattisonchao commented on #13532
Could you provide more information to help us to find problem?

[2021-12-28 06:18] mattisonchao commented on #13524
@mingyifei

Why do you want to change this threshold ?

[2021-12-28 06:43] xuesongxs commented on #13532
1.There is no error information in the broker's log.
2.allowAutoTopicCreation=false
3.The memory of zookeeper is set "-Xms2g -Xmx8g -XX:MaxDirectMemorySize=8g", and the GC pause time may reach 4s if the autopurge operation is performed once every 24 hours.

[2021-12-28 07:22] eolivelli commented on #13526
There is no need to add a background operation.
We can do the deletion in the same thread, after the 'mark' phase.

Otherwise we will introduce more complexity in understanding when the deletion happens (and you will see many new flaky tests for instance)

[2021-12-28 07:24] eolivelli commented on #13526
We should also take into consideration the rollback procedure in this PIP and the upgrade procedure.

1. What happens when you upgraded only one part of the brokers?
2. What happens if I rollback Pulsar to the previous version ?

[2021-12-28 07:49] xuesongxs commented on #13532
When I tested the environment simulation, I found that if it was in broker.conf, allowAutoTopicCreation=false,
use"bin/pulsar-perf consumer -q 10 -n 1-st shared -s consumersych persistent://public/default/test-string1” commad to test, then execute "bin/pulsar-admin topics delete partitioned topic -f persistent://public/default/test-string1",
after that, pulsar perf throws an error similar to the o

[2021-12-28 07:53] mattisonchao commented on #13532
I think i can work on it.

[2021-12-28 08:07] xuesongxs commented on #13532
I have a question about the conditions under which pulsarclientexception will be thrown AlreadyClosedException?

[2021-12-28 09:50] mingyifei commented on #13524
I can control how often it initiates a pull request to the broker

[2021-12-28 09:51] mingyifei commented on #13524
I can control how often it initiates a pull request to the broker

[2021-12-28 10:04] mingyifei commented on #13524
This value is determined by the consumption rate. If the consumption is very slow, it may be better to configure it to 0.7-0.9. 0.5 may be a compromise

[2021-12-28 11:06] #13214 closed

[2021-12-28 11:33] #13466 closed

[2021-12-28 12:18] xuesongxs commented on #13532
Now I use jmap dump to generate files. Can I add wechat to chat?

[2021-12-28 13:04] gaozhangmin commented on #13523
Let me take a look at this.

[2021-12-28 20:05] zbentley commented on #13439
Some additional conversation related to my above questions is here: https://apache-pulsar.slack.com/archives/C5Z4T36F7/p1640719936008200

[2021-12-28 20:28] addisonj opened #13542 "[Doc Bug] - Function/Sources/Sinks API Docs are incorrect"
#### Expected behavior

The documentation for the Functions/Connectors APIs (https://pulsar.apache.org/functions-rest-api/?version=2.8.1#operation/registerFunction) should be correct in helping get a user able to upload a function.

This same doc bug also applies for registerSource and registerSink APIs

#### Actual behavior

The docs erroneously indicate that this API accepts a JSON payload. This

[2021-12-29 00:32] Shoothzj commented on #13439
@zbentley Thanks for your report. Today I will prepare a PR fix this issue. I can't read slack message now,  I will check slack message six hours after

[2021-12-29 01:37] #13452 closed

[2021-12-29 02:20] Jason918 opened #13544 "[PIP 131] Resolve produce chunk messages failed when topic level maxMessageSize is set"
## Motivation

Currently, chunk messages producing fails if topic level maxMessageSize is set [1]. The root cause of this issue is because chunk message is using broker level maxMessageSize as chunk size. And topic level maxMessageSize is always <= broker level maxMessageSize. So once it is set, the on-going chunk message producing fails.

## Goal

Resolve topic level maxMessageSize compatibility

[2021-12-29 03:25] tuhaihe opened #13545 "[website] Pulsar Version Page: Release note links cannot work well."
*Description*

For the [Pulsar version page](https://pulsar.apache.org/en/versions/), when clicking the links of Pulsar past version release notes, they cannot guide us to the right place. The links are not matched.

Eg: The link should be like `https://pulsar.apache.org/release-notes/#270`, instead of `https://pulsar.apache.org/release-notes/#2.7.0`

[2021-12-29 06:56] wuzhanpeng commented on #13526
@eolivelli We can delete after marking, but if the broker process happens to be restarted after the marking is completed, or the bookkeeper cluster is in an abnormal state when the ledger is deleting and the deletion cannot be completed normally, then this part of the ledger needs to be rechecked and deleted. If we do not start a background thread, do we have other ways to complete such a check?

[2021-12-29 07:34] Anonymitaet commented on #13542
Have talked to @tuteng, we might need to modify both content and format, he will provide an example of that, and then we'll discuss more.

[2021-12-29 07:57] zymap opened #13551 "NPE when reset-cursor at a non-existent topic"
**Describe the bug**
An NPE will appear when reset-cursor at a non-existent topic. In the old version, we are throw topic is not found error to the client, I think we should keep that behavior.

**To Reproduce**
Steps to reproduce the behavior:
1. `docker pull apachepulsar/pulsar-all:2.9.1`
2. `docker run --name pulsar -it  apachepulsar/pulsar-all:2.9.1 bash`
3. enter the docker to start up pulsar

[2021-12-29 08:14] mattisonchao commented on #13551
i can work on it~

[2021-12-29 08:57] #13545 closed

[2021-12-29 09:14] urfreespace opened #13555 "pulsar cli build failure due to /pulsar/distribution/server/target/classpath.txt: No such file or directory"
**Describe the bug**
pulsar cli build failure due to /pulsar/distribution/server/target/classpath.txt: No such file or directory

**To Reproduce**
[code]

**Expected behavior**
`pulsar-admin-doc-gen.sh` and `pulsar-client-doc-gen.sh` work fine and the cli docs really changed

**Screenshots**
![image](https://user-images.githubusercontent.com/76024046/147645826-1b8691b0-1570-4b7c-8eb2-4a06d2fa5300.

[2021-12-29 09:18] #13555 closed

[2021-12-29 11:59] hangc0276 opened #13559 "Offload compacted ledger into tiered storage"
**Is your feature request related to a problem? Please describe.**
For current compaction logic, it will compact topic message into the compacted ledger, which is stored in BookKeeper. We'd better offload the compaction ledger into tiered storage.

**Describe the solution you'd like**
Offload the compacted ledger into tiered storage. When read compacted ledger, which is in tiered storage, it will

[2021-12-29 11:59] Jason918 opened #13560 "[Bug] Producer timeout when sending message with huge properties."
**Describe the bug**
Producer timeout when sending message with huge properties.

**To Reproduce**
Add the following test case in `org.apache.pulsar.broker.admin.TopicPoliciesTest`
[code]
Got the following exception:

**Expected behavior**
Send fail immediately.

**Screenshots**
NA

**Desktop (please complete the following information):**
 - OS: macOS

**Additional context**

N/A

[2021-12-29 12:00] Jason918 commented on #13560
Key exception in broker:
2021-12-29T19:44:54,624+0800 [pulsar-io-6-21] WARN  org.apache.pulsar.broker.service.ServerCnx - [/127.0.0.1:60447] Got exception io.netty.handler.codec.TooLongFrameException: Adjusted frame length exceeds 10340: 20339 - discarded
	at io.netty.handler.codec.LengthFieldBasedFrameDecoder.fail(LengthFieldBasedFrameDecoder.java:503)
	at io.netty.handler.codec.LengthFieldBasedF

[2021-12-29 12:28] shibd commented on #13488
server-side,
because we don't if the client-side can handle this case well.
Or, if the topic will retire, and you don't want the clients to connect to
it, you can just terminate the topic.
--- author @codelipenghui

Thanks reply, `terminate the topic` is useful

[2021-12-29 12:28] #13488 closed

[2021-12-29 12:29] tuteng commented on #13542
This is a sink example
[code]

[2021-12-29 12:29] tuteng commented on #13542
This is a sink example
[code]

[2021-12-29 13:59] eolivelli commented on #13560
What's the use case of having 'huge' properties?
This will be very bad for performances in any case, even we you enlarge the limits

[2021-12-29 14:53] hangc0276 commented on #13551
@mattisonchao I have assigned this issue to you, Thanks for your help.

[2021-12-29 15:00] hangc0276 commented on #13524
I wonder whether different value has better performance. You'd better give more reason to make the value configurable. @mingyifei

[2021-12-29 15:24] qq619618919 commented on #13559
Hi, I am interested in this task and I will complete it.

[2021-12-29 15:48] hangc0276 commented on #13523
It's an interesting issue. I will keep track it.

[2021-12-29 15:53] hangc0276 commented on #13517
Good job. Hoping for your plugin. @leizhiyuan

[2021-12-29 15:56] hangc0276 commented on #13559
@qq619618919  Thanks for your help, I have assigned this issue to you. Hoping for your contribution.

[2021-12-29 17:49] tdrozdowski commented on #12944
I can also validate that this appears to work on M1 Pro Max based machine.  Would love to see the PR so we can get an official image; this works for local development in the meantime (and eliminates yet another tie to an Intel based machine!).  Thanks so much!

[2021-12-29 17:57] kezhenxu94 commented on #12944
Heads up: The last (hard) step is to build the pulsar client with multiple architectures. Everything else is ready. I have some ideas to build pulsar client in multi architectures but need some time to verify, which may be also ready in 2 weeks (due to public holidays and my personal stuffs)

[2021-12-30 02:05] urfreespace opened #13565 "website build fail due to download page parse error"
**Describe the bug**
website build fail due to download page parse error

**To Reproduce**
[code]

**Expected behavior**
website build work fine

**Screenshots**
![image](https://user-images.githubusercontent.com/76024046/147715917-8a982703-bdfc-463f-8085-444090c39a0b.png)

[2021-12-30 02:31] xuesongxs opened #13567 "The Producer deliverAfter‘s time should use the broker's time"
**Is your enhancement request related to a problem? Please describe.**
deliverAfter uses the time of the producer's host, If the time of the producer's host is less than that of the broker's host, the messages after deliverAfter will be sent immediately, at the same time, the internal implementation of reconsumerLater also uses deliverAfter. In this way, the messages will be received immediately a

[2021-12-30 02:33] Jason918 commented on #13560
Yes, using 'huge' properties is not a good practice.
Some pulsar user may not do it on purpose, but pulsar client does not forbid this.

The root cause of this case is that on the client side maxMessageSize check does not contains message header.

[2021-12-30 02:37] #13565 closed

[2021-12-30 02:49] xiasf opened #13568 "websocket: Producers will fail the first time they send a message"
The first time I send a message every day the producer reports an error, if I try again it works fine, I'm using a websocket client.

This is the error message:

[code]

[2021-12-30 05:49] liudezhi2098 commented on #13567
This problem does exist at present. not uses the time of the broker's host because it is due to performance considerations. At present, the broker does not know which messages is delayed, and the MessageMetadata is not decoded when the message is produced to ensure maximum performance. we can add some signs to distinguish delayed messages and do some special processing，we can also keep the client

[2021-12-30 06:20] liudezhi2098 commented on #13526
maybe we can accomplish this in internalTrimLedgers, if the broker process happens to be restarted after the marking is completed, can still find the deleteable ledgers, then need to rechecked and delete.

[2021-12-30 07:37] 315157973 opened #13570 "Flaky-test: PersistentTopicTest.setup"
PersistentTopicTest is flaky. The setup() test method fails sporadically.

[code]

[2021-12-30 08:37] mattisonchao commented on #13568
Could you give us more detail to reproduce it ?

[2021-12-30 09:42] Anonymitaet commented on #13486
Hi @zcola

I've discussed with @hangc0276, the author of https://segmentfault.com/a/1190000023706815, here is the reply:

## 1. Pulsar Broker

### loadbalance

- pulsar_lb_unload_broker_count
- pulsar_lb_unload_bundle_count

They have been documented here: https://pulsar.apache.org/docs/en/next/reference-metrics/#bundleunloading-metrics. Please read the docs carefully.

### Cache hit rate on the b

[2021-12-30 11:10] mfrancisc opened #13576 "apachepulsar/pulsar-all:2.8.2 docker image missing"
**Describe the bug**
I've noticed that pulsar 2.8.2 was released.

I was searching for the docker image in docker hub:
https://hub.docker.com/r/apachepulsar/pulsar-all/tags?page=1&name=2.8

but cannot find it with 2.8.2

Is there any expected date for this version (or above) to be released?

We are looking for the fixes to: CVE-2021-44228,CVE-2021-45046

Thanks,
Francisc

**To Reproduce**
$ docker

[2021-12-30 17:27] sarimak commented on #13457
I encountered the same issue when self-building manylinux2014 wheel for Pulsar Client 2.8.1 and Python 3.9 using backported Docker-based build procedure from https://github.com/apache/pulsar/pull/10954/files to v2.8.1 tag. The wheel gets built and works fine, just the auditwheel step failed.

[2021-12-30 21:47] kezhenxu94 commented on #13457
@samuelzimmermanphillips please subscribe https://github.com/apache/pulsar/issues/12944 to follow the process on building under ARM architecture

[2021-12-31 00:32] zymap commented on #13551
The delete compacted topic and delete subscription also have a similar problem, would you like to fix that?

[2021-12-31 00:46] mattisonchao commented on #13551
@zymap

Yes, i can do that.

[2021-12-31 01:12] zymap commented on #13551
Thanks a lot!

[2021-12-31 01:17] mattisonchao commented on #13551
It’s my pleasure.

[2021-12-31 01:40] Anonymitaet commented on #13411
Hi @eolivelli any progress on this doc?

[2021-12-31 02:05] zbye opened #13582 "Support user defined and pluggable consumer selector"
**Is your enhancement request related to a problem? Please describe.**

For a topic on Pulsar, if there are multiple consumers, is there a good way to limit the global consumption rate at the topic level ?
In other words, We hope to control the total amount of consumer traffic for this topic, no matter how many consumers there are downstream.

Pulsar can only set subscribe rate limit for every con

[2021-12-31 02:56] zymap commented on #13576
2.8.2 still in voting. It's not released

[2021-12-31 03:03] fanla2021 opened #13583 "[Doc] pulsar-manager installation and deployment documentation optimization sequence"
### What issue do you find in Pulsar docs?

Currently, when deployed according to the documentation, the structure is confusing and not easy to install quickly.

### What is your suggestion?

The overall installation and deployment documentation is based on the docker method of deployment, with other installation methods as supplementary instructions.
The general idea is as follows:

- 1 Easy inst

[2021-12-31 03:19] gaozhangmin opened #13584 "Failed to acquire bundle ownership"
Pulsar version：2.9.1
[code]
The error logs said  the resource is already locked, this means, the ZNODE of this namespace bundle created by previous broker was not removed yet.
Normally, broker would firstly query the bundle owner before tried to acquire it.

[code]

If the ZNODE created by previous broker was not removed yet. Why `lockManager.readLock(path)` returned none owner of this bundle.

##

[2021-12-31 03:31] shibd commented on #13489
Could you give us more detail or reproduce steps?

[2021-12-31 04:26] xiaobing0508 commented on #13489
I don't know what happened,but I create new subscription without that wrong.

[2021-12-31 04:28] Anonymitaet commented on #13583
Hi @fanla2021 can you help update docs?

[2021-12-31 04:32] xiaobing0508 commented on #13489
I use pulsar-perf to consume partition-3 with that subscription name.

12:28:12.313 [pulsar-timer-5-1] INFO  org.apache.pulsar.client.impl.ConnectionHandler - [persistent://product/thor/data_out-partition-3] [data_out_g_flt_xgks] Reconnecting after connection was closed

12:28:12.316 [pulsar-client-io-1-1] INFO  org.apache.pulsar.client.impl.ConnectionPool - [[id: 0x3f2e5cc7, L:/192.168.191.53:587

[2021-12-31 04:32] xiaobing0508 commented on #13489
What should I do?

[2021-12-31 04:34] Anonymitaet opened #13585 "[Doc] add docs for "how to develop plugin" in "development" guide"
Need to add docs for the following missing contents:

![image](https://user-images.githubusercontent.com/50226895/147803490-d78734af-7c26-4b8e-b2b5-2bc04c72f72f.png)

Related code PR: https://github.com/apache/pulsar/pull/12536

[2021-12-31 05:31] mattisonchao commented on #13582
@zbye
I think this feature fit you.

https://github.com/apache/pulsar/issues/13444

[2021-12-31 06:03] mattisonchao commented on #13551
#13551 can fix NPE.

But the test in https://github.com/streamnative/pulsarctl/pull/544 maybe we need to do some change.
Because of this issue cause by ZK sessionTimeout, the real server internal error.

What do you think about this?

[2021-12-31 06:07] shibd commented on #13489
Emmm, I'm not really sure how it happened. The subscribe(`data_out_g_flt_xgks_test `) can be delete?  You can try run the following command to unsubscribe first and then subscribe.
[code]

[2021-12-31 06:21] Anonymitaet opened #13587 "[Doc] add examples of ""
Add examples for how to use metrics

Reference: https://github.com/streamnative/apache-pulsar-grafana-dashboard/tree/master/dashboards

[2021-12-31 06:22] Anonymitaet opened #13588 "[Doc] add examples of "how to use metrics" to "Metrics" guide"
Add examples of "how to use metrics" to https://pulsar.apache.org/docs/en/next/reference-metrics/

Reference: https://github.com/streamnative/apache-pulsar-grafana-dashboard/tree/master/dashboards

[2021-12-31 06:23] mattisonchao commented on #13587
@Anonymitaet  same to #13588 ?

[2021-12-31 06:23] fanla2021 commented on #13583
No problem

[2021-12-31 06:26] zbye commented on #13582
@mattisonchao   I'm sorry. We want to control the subscribe rate for a specific topic in a pulsar cluster.  The command "set-dispatch-rate" is "Set subscribe-rate **per consumer** for a namespace or topic", we can only control every consumer.

For example, we set subscribe-rate 10 msg/s for a topic, when there is 5 consumers, the whole consumption rate is 10*5. If we have a way to set a global rat

[2021-12-31 06:29] mattisonchao commented on #13582
ohhh, i see.

[2021-12-31 06:31] zbye commented on #13148
thanks. In my experiment, applications using go client (pulsar go-client sdk) works well when modify dns or /etc/hosts.

[2021-12-31 06:34] Anonymitaet commented on #13587
Oh yes, it's a mistake, I'll close this. Thanks for reminding me. @mattisonchao

[2021-12-31 06:34] #13587 closed

[2021-12-31 06:36] mattisonchao commented on #13582
@zbye

I see,
So, how do you want to config this?
could you give me a example, i think i can work on this.

[2021-12-31 07:37] ericsyh commented on #13493
@rj1031cp minio supports s3, it is supported to offload to minio. Just config the s3 endpoint to minio service and use ak sk generated by minio.

[2021-12-31 07:58] xiaobing0508 commented on #13489
I can't unsubscribe,Reason is Subscription not found.

[2021-12-31 08:31] zbye commented on #13582
For example, we can use "set-global-dispatch-rate" to control the total rate limits for a namespace or topic (from a different dimension).  This is different from "set-dispatch-rate", which used to set rate limits for each consumers.  thanks a lot.

[2021-12-31 09:49] liudezhi2098 commented on #12053
I’m sorry I didn’t get here in time.

Retry topic scene is mainly traditional business logic, such as when processing a message fails, the user wants to be able to customize the delay time to process the failed message, such as 1 second, 5 seconds, 10 seconds, it could be any number.

these actions can be implemented in logic, such as having the producer delay sending this message to the current t

[2021-12-31 10:07] mfrancisc commented on #13576
Ok, this explains why is missing from the versions page:
![image](https://user-images.githubusercontent.com/10716933/147817180-63b59d9c-2722-4f32-bf30-2ea03de48b86.png)

I got confused after seeing it in the [release notes page](https://pulsar.apache.org/release-notes/#282) with 2021-12-20 as date.

Do you have any expected date for the release?

Thanks again!

[2021-12-31 12:02] Jason918 opened #13591 "[PIP 132] Include message header size when check maxMessageSize for non-batch message on the client side."
## Motivation

Currently, Pulsar client (Java) only checks payload size for max message size validation.

Client throws TimeoutException if we produce a message with too many properties, see [1].
But the root cause is that is trigged TooLongFrameException in broker server.

In this PIP, I propose to include message header size when check maxMessageSize of non-batch messages, this brings the follow

[2022-01-02 14:20] eolivelli commented on #12629
We should prevent the user to set properties on individual partitions in a partitioned topic (because partitions are like topic for many aspects)

Please also explain the permissions needed to update such properties (and add authz coverage in the test cases )

[2022-01-03 08:18] truong-hua commented on #572
We love etcd too due to it simplification in deployment and easier to maintain than Zookeeper. We are using both and etcd is definitely take us less time to control and maintain it.

[2022-01-03 18:56] hsaputra commented on #10923
Ping for this issue. It was added to support:
[Issue 9790] Support disabled the tenants/namespaces force deletion in the broker.conf

[2022-01-03 21:23] eolivelli commented on #10923
I believe that is it safer to let this be 'disabled' and we can add something in the release notes.

We are now at 2.10, so if we change the default we will break compatibility with 2.8 and 2.9  users.

We did something wrong in breaking compatibility, we should not do it twice.

@hsaputra you could start a thread in dev@ mailing list

[2022-01-04 01:57] KevinyhZou opened #13594 "Enable message offset auto commit in pulsar client consumer"
**Is your feature request related to a problem? Please describe.**
When consume from a pulsar topic,  it need to commit the consumed message offset in the program code by use pulsar client `acknowledge` method, this problem also appear in pulsar-flink-connector, which need commit the offset by flink checkpoint. it may be better to auto commit the offset like kafka client.

**Describe the solution

[2022-01-04 02:12] mattisonchao commented on #13594
I think i can work on it.

[2022-01-04 02:22] zymap commented on #13551
I think we need to figure out the root cause of why the zk is always timeout. And then check the corresponding response to return to the client.

[2022-01-04 02:25] Jason918 commented on #13582
Current "global policy" refers to topic policies across clusters.
"dispatch-rate" is topic level rate limiter, it limits all the consumer for a non-partitioned topic.
"subscription-dispatch-rate" is subscription level rate limiter.

[2022-01-04 02:27] mattisonchao commented on #13591
Hi,  @Jason918

I think we can deprecate ``maxMessageSize `` to ``maxPayloadSize``, and add  ``maxHeaderSize `` to limit header size.
after then, we can use ``maxPayloadSize`` + ``maxHeaderSize`` to get ``maxMessageSize`` at internal.

What do you think about it?

[2022-01-04 02:39] mattisonchao commented on #13551
By the way, null cause check is also useful.

[2022-01-04 02:40] mattisonchao commented on #13551
Yes, find root cause is more important. but null cause check is also useful i think.

[2022-01-04 02:44] #13486 closed

[2022-01-04 02:53] zymap commented on #13551
make sense to me

[2022-01-04 05:17] liangyuanpeng commented on #13229
Thanks for your confirmation, i will update for it.

[2022-01-04 06:01] gaozhangmin commented on #13523
@hangc0276  @keyboardbobo  This issue is thrown https://github.com/apache/pulsar/wiki/PIP-74%3A-Pulsar-client-memory-limits. It tried to control the whole client memory usage. not per partition. I think it's the expected behavior.

[2022-01-04 06:31] keyboardbobo commented on #13523
[code]
@gaozhangmin The client configuration is as above, and the memoryLimitBytes parameter is not set. The main problem now is that a single broker has a problem, which will cause the traffic of other brokers to also drop. It is not that I want to limit the client memory or queue size.

[2022-01-04 06:52] deadwind4 commented on #13153
I have the same problem.

[2022-01-04 08:41] hangc0276 commented on #13315
@wangjialing218 Thanks for your suggestion, i have updated the design to support different authentication configuration for different clusters.

[2022-01-04 10:04] zbye commented on #13582
@Jason918 that is, "pulsar-admin set-dispatch-rate" has already meet  the need ?

[2022-01-04 11:39] paladin-dalao commented on #13267
8192 bytes lost in 2 blocks (one of them allocated at 34457959.603612), from following call stack:
        /data/gse/gse_com_lib_src/gcc-4.8.2/x86_64-redhat-linux/libstdc++-v3/libsupc++/../../.././libstdc++-v3/libsupc++/new_op.cc:52
        ??:?
        /usr/local/include/boost/regex/v4/perl_matcher_non_recursive.hpp:109
        /usr/local/include/boost/regex/v4/regex_match.hpp:50
        /usr/loc

[2022-01-04 12:56] Jason918 commented on #13582
I think so, you can try it out for yourself.
Notice that there is a config `dispatchThrottlingOnNonBacklogConsumerEnabled` about the throttling.

[2022-01-04 14:19] lhotari opened #13605 "Flaky-test: MultiTopicsReaderTest.testHasMessageAvailableAsync"
MultiTopicsReaderTest is flaky. The testHasMessageAvailableAsync test method fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/4702786250?check_suite_focus=true#step:9:1905)

[code]

[2022-01-04 14:23] lhotari commented on #13605
This test was introduced by #13332 . @Demogorgon314 could you please take a look?

[2022-01-04 14:36] Markfesenk0 opened #13607 "Vulnerability in gson version 2.8.6"
**Is your enhancement request related to a problem? Please describe.**
gson version 2.8.6 is vulnerable to desirealization of untrusted data, as shown here:
https://security.snyk.io/vuln/SNYK-JAVA-COMGOOGLECODEGSON-1730327

**Describe the solution you'd like**
Upgrade gson version to 2.8.9

[2022-01-04 15:43] BewareMyPower commented on #13267
Could you try the code in master branch? It's compatible with older Pulsar broker.

[2022-01-04 15:50] lhotari commented on #13570
similar issue here https://github.com/apache/pulsar/runs/4702786621?check_suite_focus=true#step:9:557

[2022-01-04 16:15] lhotari commented on #13570
attempt to fix this issue: #13608 , @315157973  please review

[2022-01-04 17:32] #13570 closed

[2022-01-04 21:55] hsaputra commented on #10923
@cckellogg - we should just close this issue for now. It is already exist to 2 versions. Thanks

[2022-01-04 22:24] vicaya commented on #13576
Looks like the 2.8.2 image is published 3 days ago on docker hub. Would that be considered as the final build for the 2.8.2 release?

[2022-01-05 00:42] mattisonchao commented on #13607
i can work on it. :)

[2022-01-05 07:26] paladin-dalao commented on #13267
104960 bytes lost in 64 blocks (one of them allocated at 34542804.906951), from following call stack:
        /data/gse/gse_com_lib_src/gcc-4.8.2/x86_64-redhat-linux/libstdc++-v3/libsupc++/../../.././libstdc++-v3/libsupc++/new_op.cc:52
        /usr/local/include/boost/asio/detail/impl/service_registry.hpp:81
        /usr/local/include/boost/asio/detail/impl/service_registry.ipp:124
        /usr/lo

[2022-01-05 07:42] gaozhangmin commented on #13523
Recently, I upgrade broker, also found this problem, when kill on broker, other broker's bundle traffic will drop off

[2022-01-05 08:08] eolivelli commented on #13315
The proposal makes sense to me.
This is only a client side feature and only for the Java client (initially)

So I would like to see it stated in the title of the PIP

[2022-01-05 08:40] Anonymitaet opened #13617 "[Doc] add explanations for topic policy"
As discussed with @315157973, we need to add complete explanations for https://github.com/apache/pulsar/pull/12517/files

For example,

Except for this command, there are dozens of commands to be added similar explanations. Will add them together later.

![image](https://user-images.githubusercontent.com/50226895/148185687-0a7884b8-741a-42d5-ac6c-84ee446ad461.png)

[2022-01-05 09:15] lhotari opened #13620 "Flaky-test: Spy creation sporadically fails in some tests and causes Mockito misuse warning"
Mockito spy creation fails sporadically and causes an exception and Mockito misuse warning:

[example failure](https://github.com/apache/pulsar/runs/4711466595?check_suite_focus=true#step:9:1418)

[code]

[2022-01-05 09:16] lhotari commented on #13620
Related to #13570 . That issue contained several issues, including this one.

[2022-01-05 12:04] lhotari commented on #9919
recent failure: https://github.com/apache/pulsar/runs/4713066229?check_suite_focus=true#step:9:7671

[2022-01-05 12:10] lhotari opened #13625 "Flaky-test: BrokerBkEnsemblesTests.testCrashBrokerWithoutCursorLedgerLeak"
[BrokerBkEnsemblesTests is flaky. The testCrashBrokerWithoutCursorLedgerLeak test method fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/4713066229?check_suite_focus=true#step:9:482)

[code]

[2022-01-05 12:13] lhotari opened #13626 "Flaky-test: ReplicatorSubscriptionTest.testGetReplicatedSubscriptionStatus"
ReplicatorSubscriptionTest class is flaky. The testGetReplicatedSubscriptionStatus test method fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/4713066229?check_suite_focus=true#step:9:4385)

[code]

[2022-01-05 13:33] lhotari commented on #13605
yet another failure: https://github.com/apache/pulsar/runs/4714307973?check_suite_focus=true#step:9:1120

@Demogorgon314 could you please take a look? It might be a simple as increasing the 10000ms timeout. I'd suggest doubling it.

[2022-01-05 14:04] Demogorgon314 commented on #13605
@lhotari Increasing the timeout might not work. I try it in my local env, we should find another way to fix it.

[2022-01-05 14:15] lhotari commented on #13605
ok great. thanks for looking into the issue @Demogorgon314 . For reproducing CI issues, it can help to run the tests in a VM with low resources.

[2022-01-05 15:06] mattisonchao opened #13628 "[ PIP 134 ] Support Pulsar system event."
## Motivation

In some case or for better observability. We can support Pulsar event notification mechanism, that can let user subscribe this system topic to receive some **"we need notice to user"** event.

## Goal

Enable users to receive Pulsar system event.

## API Changes

1. Add config ``pulsarSystemEventEnabled``

[code]
2. Add ``SystemEventMessageBuilder``
[code]
3. Add ``SystemEventServic

[2022-01-05 17:49] eolivelli commented on #13628
Some preliminary questions:
- Where are you going to store this data? (Think about a huge cluster with thousands of independent, isolated tenants)
- How do we deal with authorisation? Who can subscribe and who can write?
- can you implement this with Broker interceptors and write your events to a topic?

[2022-01-05 17:55] eolivelli commented on #13315
The PIP mentions primary and secondary.

Can we make it more general for an arbitrary number of clusters?

[2022-01-05 19:05] hpvd commented on #13315
@eolivelli +1 for this, was thinking in the same direction:
https://github.com/apache/pulsar/pull/13316#issuecomment-995509184

[2022-01-05 19:40] devinbost opened #13631 "[Docs] Need to add suppressions instruction to readme for configuring IntelliJ checkstyle rules"
On the main Pulsar Github readme, in the section of configuring Checkstyle rules in IntelliJ (https://github.com/apache/pulsar#configure-checkstyle)

I noticed that there's a suppressions.xml file in the same directory as the checkstyle.xml file:
![image](https://user-images.githubusercontent.com/7418031/148278249-17d53c22-26a0-48b2-af72-1fde6d4a8cf9.png)

After following the instructions to selec

[2022-01-05 23:35] #13607 closed

[2022-01-05 23:41] Ethan-Merrill opened #13633 "[PIP 133] Pulsar Functions Add API For Accessing Other Function States"
## Motivation

Certain uses of Pulsar functions could benefit from the ability to access the states of other functions. Currently functions can only access their own states, and so sharing information between functions requires other solutions such as writing to a separate database.

## Goal

The goal is to enable the ability for a function to access another function's state. Given another functio

[2022-01-06 01:18] mattisonchao commented on #13628
**Answer 1**
I think this PIP face to middleware team,  business team do not have interest to care about system event.
Therefor, We can store that event to global **System Topic**.
**Answer 2**
Maybe we need to create a new authority to handle this.
**Answer 3**
Maybe not, because we need report some internal event, like node changed, ledger deleted ... etc.

@eolivelli
What do you think about my

[2022-01-06 01:48] ross710 commented on #11100
We were able to reproduce this issue with one of our applications.

With ~40 producers spun up but idle (not producing any messages) we tested with pulsar client 2.6.3 and 2.7.2 and analyzed the CPU usage using datadog's profiler.

2.63:
<img width="1505" alt="2 6 3" src="https://user-images.githubusercontent.com/3477670/148313853-53695457-e8e0-4f1e-970c-484b9147e901.png">

2.7.2:
<img width="752"

[2022-01-06 02:07] keyboardbobo commented on #13523
Theoretically speaking, only a slow response from any broker or a slow network will drag down other producers, because the slowest producer will always be the bottleneck

[2022-01-06 02:53] Demogorgon314 commented on #13605
@lhotari I already pushed a patch, please take a look, thanks : )

[2022-01-06 02:55] mingyifei opened #13635 "Some questions about bookeeper."
After the bookeeper obtains the FileChannel, it writes the called write(), reads the called read(), write() writes to the system buffer, and force writes to the disk through fileChannel.force(). Why not use mmap here?

[2022-01-06 03:10] mattisonchao opened #13637 "[ Schema ] Should we deprecated ``Protobuf`` Schema ?"
**Is your enhancement request related to a problem? Please describe.**

Relate pull requests :

https://github.com/apache/pulsar/pull/8372
https://github.com/apache/pulsar/pull/13094

**Some problem :**
- Current ProtobufSchema based on avro-protobuf only works when JVM classloader can load Java implementation class of GeneratedMessageV3 . this is unfriendly for long-running server ( e.g. Presto )

[2022-01-06 04:39] dragonls opened #13640 "Subscribing non persistent topic error if cluster disallow auto subscription creation"
**Describe the bug**
I am trying to use non persistent topic on pulsar 2.7.2 non persistent topic. Pulsar cluster disallow auto subscription creation, `allowAutoSubscriptionCreation=false`.

I tried to create subscription using pulsar admin api but receiving error `Create subscription on non-persistent topic can only be done through client`

**To Reproduce**
Steps to reproduce the behavior:
1. Del

[2022-01-06 06:18] keyboardbobo commented on #13523
By isolating the problematic producer, I can prevent the cluster traffic from dropping

[2022-01-06 06:19] keyboardbobo commented on #13523
I modified the source code, and by isolating the problematic producer, I can successfully prevent the cluster traffic from dropping.

[2022-01-06 06:21] pavikarunakaran opened #13642 "org.apache.bookkeeper.client.LedgerHandle - ReadException on ledgerId"
Hi,

I'm getting error logs in pulsar bookkeeper and because of this I'm not getting acknowledged from the pulsar whether the job is pushed successfully or not. Since there is no acknowledgment the jobs are lost once the instance is restarted.  Following is the error trace,

Dec 21 11:45:33 ip-10-60-27-174 pulsar[2024114]: 11:45:33.013 [pulsar-io-23-13] ERROR org.apache.bookkeeper.client.LedgerHan

[2022-01-06 06:56] gaozhangmin commented on #13523
@keyboardbobo  You can  commit your source code if you want.

[2022-01-06 07:27] leizhiyuan opened #13643 "NamespaceIsolationPolicies may need support priority"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the enhancement is.

current， if we have two Policies that match the same namespace。 which one will take effect is not certain.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
add an `order` field  in NamespaceIsolationData, to order them

[2022-01-06 07:31] leizhiyuan commented on #13643
if this is ok，you can assign to me

[2022-01-06 07:32] mattisonchao commented on #13643
@leizhiyuan

Maybe ``priority`` make more sence.

What do you think about it ?

[2022-01-06 07:47] leizhiyuan commented on #13643
ok, priority is more clear

[2022-01-06 07:47] shibd commented on #13640
Hi, Why create subscription on non persistent topic is not support by admin api? @hangc0276

[2022-01-06 07:56] dragonls opened #13645 "No subscription metrics for non persistent topic consumer"
**Describe the bug**
It seems that there are no subscription throughput out metrics for non persistent topic consumer, which make it hard to know whether the consumers are working fine.

I tried to produce and consumer a non persistent topic. The metrics `pulsar_subscription_msg_throughput_out` and `pulsar_throughput_out` are always 0 for non persistent topics, but work correctly for persistent to

[2022-01-06 08:21] dragonls commented on #13640
Relative issue: #7397

[2022-01-06 08:56] lhotari commented on #11704
[recent failure](https://github.com/apache/pulsar/runs/4724281539?check_suite_focus=true#step:9:383)
[code]

[2022-01-06 08:59] lhotari commented on #11704
the diff of the above assertion error:
[code]

[2022-01-06 09:29] mattisonchao commented on #13645
i can work on it.

[2022-01-06 09:32] mattisonchao commented on #13617
@315157973  @Anonymitaet
Could i work on it ?

[2022-01-06 10:52] Anonymitaet commented on #13617
@mattisonchao sure, welcome to contribute docs!

[2022-01-06 11:07] YanshuoH opened #13648 "Spawned function worker pod does not have auth related params while downloading functions"
Hi team,

**Describe the bug**

Recently try to use Pulsar's function worker, encountered some problems.

I enable the function worker in a k8s pulsar cluster and create a function. The created pod does not have the `auth-params`
with the `pulsar-admin download functions` command.

I've checked both the worker config printed in logs and the source code, normally the auth params should be well inje