[2022-04-25 10:54] Anonymitaet commented on #15213
Fixed in https://github.com/apache/pulsar/pull/15309

[2022-04-25 12:04] BewareMyPower commented on #13267
I just completed the patch that makes the code above (with C API) pass the valgrind check. It would be better to test your reproduce code so that we can verify it works.

[2022-04-25 12:55] fu-turer opened #15313 "Broker LoadBalance uneffective because broker ResourceUsage is always 0"
**Describe the bug**

leader broker calculate broker resource usage(e.g. cpu,memory,directMemory) is 0 when do loadbalance.

loadbalance log:
[code]

broker configs about loadbalance
[code]

broker data in zookeeper path:  /loadbalance/brokers/
[code]

And we found that problem happens after [pr#13639](https://github.com/apache/pulsar/pull/13639)

The reason is zk json data deserialize to pojo `or

[2022-04-25 13:27] fu-turer commented on #15313
@michaeljmarshall

[2022-04-25 14:32] #15305 closed

[2022-04-25 18:47] michaeljmarshall commented on #15313
@fu-turer - can you clarify where this deserialization happens? I took a quick look, but I couldn't find it.

[2022-04-25 22:16] michaeljmarshall commented on #15300
@casuallc - which version of Pulsar are you running?

[2022-04-25 23:37] DR9885 opened #15317 "Key_Shared Nack causes events to be played out of order for a specific key."
**Describe the bug**
If events are consumed as key_shared, and the first event was nacked it changes the order of the events for that key. It has that event pushed to the end.

Expected Order: 0,1,2,3,4
Actual Order: 1,2,3,4,0

This is an issue, when building a materialized view based off a key/id. If the events are played out of order it could change the resulting object.

**To Reproduce**
C# tes

[2022-04-26 00:08] Anonymitaet commented on #15311
Thanks @nodece !
You mean we should select https://github.com/amannn/action-semantic-pull-request, correct？

[2022-04-26 00:40] casuallc commented on #15300
@michaeljmarshall  2.9.1

[2022-04-26 01:26] fu-turer commented on #15313
broker data in zk path /loadbalance/brokers/10.244.2.23:8080
[code]
deserialize  to `org.apache.pulsar.policies.data.loadbalancer.LocalBrokerData`

@michaeljmarshall

[2022-04-26 01:34] #15213 closed

[2022-04-26 01:39] liudezhi2098 opened #15319 "[python client] If the first service_url ip is an invalid，will fail to connect"
**Describe the bug**
If service_url is list, and first ip is an invalid, will fail to connect, and will not choose other ip to try
`pulsar-client=2.9.1`

**To Reproduce**
[code]
error log
[code]

**Expected behavior**
`sh pulsar-client  --url  pulsar://127.0.0.2:6650,127.0.0.1:6650   produce -m 'test' -n 1 topic`
`[main] INFO  org.apache.pulsar.client.cli.PulsarClientTool - 1 messages successfully

[2022-04-26 01:58] leizhiyuan commented on #15284
I see， it seems  that pulsar go client  not implement this , thanks~

[2022-04-26 01:59] leizhiyuan commented on #15284
If one client hang, UnAckedMessageTracker has no change to execute, is there any way that broker can redeliver ?

[2022-04-26 02:00] nodece commented on #15311
Yes, you are right.

[2022-04-26 02:04] haoyann opened #15320 "[Client] use CompletableFuture#get(long, TimeUnit) instead of CompletableFuture#get()"
**Is your enhancement request related to a problem? Please describe.**
The client uses `CompletableFuture#get()`  to convert async to sync.

But `CompletableFuture#get()`  has performance issues in some versions of JDK 8 such as JDK 1.8.0_202，[details](https://bugs.openjdk.java.net/browse/JDK-8227018).

**Describe the solution you'd like**
Should use CompletableFuture#get(long, TimeUnit) instead o

[2022-04-26 03:34] Jason918 opened #15323 "Flaky-test: AutoScaledReceiverQueueSizeTest.testConsumerImpl"
AutoScaledReceiverQueueSizeTest.testConsumerImpl is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/6168493028?check_suite_focus=true#step:11:645)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-04-26 03:35] michaeljmarshall commented on #15313
@fu-turer - thanks for the reference. I didn't understand the nuance until I read through your test on the PR. I was confused because I didn't know that Gson could set final fields.

[2022-04-26 03:43] leizhiyuan opened #15324 "metadata-store thread sometimes will running too long and occurs timeout of admin api"
**Describe the bug**
A clear and concise description of what the bug is.

metadata-store is one thread .it should not running too long
[auto_jstack.log](https://github.com/apache/pulsar/files/8559588/auto_jstack.log)

**To Reproduce**
Steps to reproduce the behavior:
**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**

[code]

it seems

[code]

wi

[2022-04-26 03:43] michaeljmarshall commented on #15225
@thinker0 - the motivation for removing the standalone service discovery module is in this mailing list thread: https://lists.apache.org/thread/dz776xbjt2ncg464r7y1w26j2hz2pldb. Are you able to provide more specific justification explaining why you need this module? Thanks.

[2022-04-26 03:49] liudezhi2098 opened #15325 "[python client] no listenerName parameter settings in create client"
**Is your enhancement request related to a problem? Please describe.**
no listenerName parameter settings in   create client , when  set advertisedListeners parameter

[code]

**Describe the solution you'd like**
add listenerName parameter

[2022-04-26 03:52] codelipenghui commented on #15317
@DR9885 For the Key_Shared subscription, the redelivery operation will cause the message to redeliver to the same consumer again, you can retry the message locally, don't need to call the redelivery method, the redelivery operation will break the message reading order.

[2022-04-26 03:59] #14863 closed

[2022-04-26 04:01] #14790 closed

[2022-04-26 04:03] #14786 closed

[2022-04-26 07:24] fmiguelez commented on #11866
Related to (probably same issue as) #12553

[2022-04-26 08:30] DR9885 commented on #15317
@codelipenghui, but lets say a specific key is failing again and again. If we did this locally, we could block the queue from processing and the subscription could timeout... It would be better if we could use a re-queue mechanism to backlog all subsequent keys... Otherwise I'm just going to throw them in a queue to be reprocessed later... but this should be a pulsar mechanism.

Isn't event order

[2022-04-26 09:41] wojtekkedzior opened #15332 "ledgers not getting deleted when disk used exceeds threshold on all bookies"
**Describe the bug**
I'm trying to understand the behavior where my bookies run out of space and how quickly the cluster will return to normal.  In my scenario I produce enough data to fill the bookies and then use a consumer to empty them only to observer that the ledgers drive remains full, but there are no more messages in the backlog.  The cluster is the essentially locked because no producers

[2022-04-26 12:00] Technoboy- opened #15333 "PIP-162: Enable system topic by default"
## Motivation
In [PIP-39](https://github.com/apache/pulsar/wiki/PIP-39%3A-Namespace-Change-Events), we have introduced namespace event to support topic level policy. This feature was released in Pulsar 2.6.

Then [PIP-92](https://github.com/apache/pulsar/wiki/PIP-92%3A-Topic-policy-across-multiple-clusters), we support topic policy to replicate across clusters and release in Pulsar 2.10.

And with

[2022-04-26 12:09] RobertIndie commented on #14722
https://github.com/apache/pulsar/pull/14740 fixed this issue.

[2022-04-26 12:09] #14722 closed

[2022-04-26 13:04] liangyepianzhou opened #15334 "[PIP-159]Reuse transaction buffer reader"
## Motivation
Now, a namespace will have a system topic that stores the TransactionBuffer snapshot of all topics under the namespace. When the broker  recover, all topic transaction buffers in this namespace will create a reader to read the snapshot in the system topic. A large number of read op will reach to bookkeeper. The read operations performed by all topics under this namespace are the same

[2022-04-26 13:41] rhenwood-arm commented on #12944
Hi All, I'm interested to learn if I can support this effort.

[2022-04-26 13:47] thinker0 commented on #15225
A simple seed broker is required.

However, when a client is a Producer/Consumer, a server that only plays a seed role is needed, which only discovers a Broker through a seed (discovery) server.

[2022-04-26 17:14] dave2wave commented on #12944
PRs are welcome!

[2022-04-26 17:55] skheberi opened #15336 "Ability to support custom header sizes for HTTP Requests"
**Is your enhancement request related to a problem? Please describe.**
Currently, Pulsar broker and proxy do not support use cases involving Http requests with a header size of more than 8k. Certain applications require large header sizes to support features such as custom authentication with Pulsar.

**Describe the solution you'd like**
The HTTP Request header size for Pulsar broker and proxy sho

[2022-04-26 23:04] nlu90 commented on #15274
I can help take a look later this week.

[2022-04-26 23:40] mattisonchao opened #15337 "Flaky-test: PersistentDispatcherFailoverConsumerTest.testAddRemoveConsumer"
PersistentDispatcherFailoverConsumerTest.testAddRemoveConsumer is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/6170808045?check_suite_focus=true)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
org.apache.pulsar.broker.service.PersistentDispatcherFailoverConsumerTest
  Error:  testAddRemoveConsumer(org.apache.pulsar.broker.servi

[2022-04-27 00:55] mattisonchao opened #15338 "Flaky-test: AutoScaledReceiverQueueSizeTest. testConsumerImpl"
AutoScaledReceiverQueueSizeTest.testConsumerImpl is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/6172370760?check_suite_focus=true)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
org.apache.pulsar.client.impl.AutoScaledReceiverQueueSizeTest
  Error:  testConsumerImpl(org.apache.pulsar.client.impl.AutoScaledReceiverQueueSizeTest

[2022-04-27 01:56] Technoboy- commented on #14851
#14856 and #14876 has fixed this issue.

[2022-04-27 01:56] #14851 closed

[2022-04-27 02:06] #15229 closed

[2022-04-27 02:24] algoqt opened #15339 "[standalone]ERROR org.apache.bookkeeper.client.LedgerCreateOp - Not enough bookies to create ledger with"
still have 100G available in my disk, but create producer for new topic failed ,log error shows:

Not enough bookies to create ledger with ensembleSize=1, writeQuorumSize=1 and ackQuorumSize=1

can anyone tell me how to config this ?

![image](https://user-images.githubusercontent.com/93410715/165426271-afc5dc85-0cbc-4603-9463-4da4de27a56f.png)

[2022-04-27 03:53] #15338 closed

[2022-04-27 04:31] yebai1105 opened #15341 "negativeAcknowledge() parameter does not take effect"
#### Expected behavior
message redelivery

#### Actual behavior
Message cannot be redelivered

#### Steps to reproduce
producer code：
`   public static void main(String[] args) throws PulsarClientException, InterruptedException {

        String token = "xxx";
        PulsarClient client = PulsarClient.builder()
                //设置pulsar集群连接地址
                .serviceUrl("xxx")
                //

[2022-04-27 04:55] codelipenghui commented on #15341
@yebai1105 You can acked the message at

[code]

A acked message can not be redeliver again

[2022-04-27 05:47] wuxuanqicn commented on #15337
Duplicated with #14540

[2022-04-27 06:46] #15313 closed

[2022-04-27 06:53] #15323 closed

[2022-04-27 07:10] #13267 closed

[2022-04-27 07:39] eolivelli opened #15343 "[enh] [broker] Subscriptions properties (PIP-105): support for non durable subscriptions"
In PIP-105 we added support for Subscription Properties but we implemented it only for Durable subscriptions.

**Describe the solution you'd like**
I need the same support for non durable subscriptions, otherwise I cannot leverage PIP-105 (EntryFilter)

**Describe alternatives you've considered**
There is no alternative

[2022-04-27 08:59] lhotari commented on #13946
@ronfarkash What type of deployment is this? Is it a Kubernetes deployment?

[2022-04-27 09:34] leizhiyuan commented on #14493
https://medium.com/asyncparadigm/logging-in-a-multithreaded-environment-and-with-completablefuture-construct-using-mdc-1c34c691cef0

maybe we can use this method to track one message flow

[2022-04-27 09:34] eolivelli opened #15346 "Pulsar Broker 2.11.0-SNAPSHOT maven dependency is broken"
**Describe the bug**
If I create a Maven project that depends on pulsar-broker, 2.11.0-SNAPSHOT, when I build it Maven enters an infinite loop while resolving the dependencies.

**To Reproduce**
1) Build current Pulsar master locally
2) create a Maven project with a dependency on pulsar-broker, 2.11.0-SNAPSHOT
3) build the project

[2022-04-27 09:37] lhotari commented on #15346
I ran into a maven infinite loop recently and the resolution was #15234.

[2022-04-27 09:38] RayneHwang commented on #14493
Making messages traceable is critical when all processing stages are asynchronous, and it would be even better to add metrics and statistics about cost time in each stage.

[2022-04-27 09:40] eolivelli commented on #15346
thanks @lhotari

Adding this to my pom.xml unblocked the situation.

[code]

But I believe we have to fix the problem, otherwise many users will fall into troubles while updating their code.
It is very common to depend on pulsar-broker at least for tests

[2022-04-27 09:50] nodece commented on #15324
@leizhiyuan I guess we use the synchronization method to cause this issue,  I submitted #15347 to fix this issue, could you review this PR?

[2022-04-27 09:55] thinker0 commented on #15225
@michaeljmarshall  pulsar-proxy cannot be used for high-volume services.

[2022-04-27 11:12] lhotari opened #15349 "DnsResolverUtil "Cannot get DNS TTL settings from sun.net.InetAddressCachePolicy class" in Java 17"
**Describe the bug**

DnsResolverUtil fails to get existing DNS TTL settings. This happens in Java 17. Error message:

[code]

**To Reproduce**

Use Pulsar Java Client in Java 17

**Expected behavior**

Pulsar Java Client should be able to detect DNS TTL settings used in Java and apply them to Netty's DnsNameResolverBuilder.

**Additional context**
#15219

[2022-04-27 11:53] lhotari commented on #15346
It's probably a Maven bug similar to https://issues.apache.org/jira/browse/MNG-5592 . Perhaps a workaround is the only suitable approach?

[2022-04-27 12:07] BajrangDubeyPersistent opened #15351 "Facing this issue while using authentication with TLS"
I followed all the steps mentioned in https://pulsar.apache.org/docs/en/security-tls-transport/ and https://pulsar.apache.org/docs/en/security-tls-authentication/ to use authentication using TLS but somehow whenever I make config changes and restart, broker containers get excited. while trying to look into the logs, I see following errors:

1. org.apache.pulsar.common.util.FileModifiedTimeUpdater

[2022-04-27 12:09] Technoboy- commented on #6869
Hi @lhotari , I think this issue has been fixed by #9440.

[2022-04-27 12:12] eolivelli commented on #15346
I am using Maven 3.8.5, the problem is still there.

we should git bisect the changes in master branch and find out the problem.
it will take much time...

[2022-04-27 13:42] #15343 closed

[2022-04-27 13:59] liangyepianzhou opened #15355 "Flaky-test: BacklogQuotaManagerTest.testConsumerBacklogEvictionTimeQuota"
BacklogQuotaManagerTest.testConsumerBacklogEvictionTimeQuota is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/6192268507?check_suite_focus=true)

[code]

[2022-04-27 15:25] frankjkelly commented on #14459
Congrats on the merge - any chance we can get this backported? @sijie @tjiuming

[2022-04-27 15:27] nodece commented on #15351
Maybe you use a relative path? This should use an absolute path.

[2022-04-27 22:09] michaeljmarshall commented on #15225
@thinker0 - when I discussed removing this feature with @merlimat, he mentioned that Load Balancers and DNS can solve this network routing problem (this is in the mailing list link I posted above). All that is required for the initial broker discovery is a stable endpoint to target your lookup requests towards. Any broker can handle a lookup request. Once the request is handled, the client will ge

[2022-04-27 23:30] #15337 closed

[2022-04-28 02:29] Jason918 commented on #15225
@michaeljmarshall I am glad this topic is brought up. We also have a use case with `pulsar-discovery` for a 10-Million+ topic scenario. As we known, one pulsar broker cluster works fine with about 1M topics under proper tuning, but not more topics. So we use pulsar-discovery as a federation solution for multiply pulsar-broker clusters.

[2022-04-28 03:57] #9919 closed

[2022-04-28 04:13] nlu90 opened #15362 "[PackagesService] 2.9 Package Service cannot download if uploaded by 2.10"
**Describe the bug**
Package upload and download error for 2.9 and 2.10.

When a package is uploaded by Pulsar Broker 2.10, it can not be downloaded by 2.9 Broker even though the metadata and list-version can work:

[code]

And vice versa. The issue should be caused by this PR:  https://github.com/apache/pulsar/pull/13218/files which makes the path different across pulsar versions.

**To Reproduce

[2022-04-28 04:21] michaeljmarshall commented on #15225
Thanks for adding to this conversation @Jason918. It sounds like we should move this conversation back to the mailing list. It seems likely that `pulsar-discovery` shouldn't have been removed from the project.

[2022-04-28 05:36] eolivelli commented on #15362
This is a bad regression.

We can make the path configurable as a workaround.

@zymap

[2022-04-28 07:45] lhotari opened #15364 "Flaky-test: KinesisSinkTester.addMoreRecordsAndGetMillisBehindLatest"
KinesisSinkTester.addMoreRecordsAndGetMillisBehindLatest is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/6205142531?check_suite_focus=true#step:12:20926)

[code]

[2022-04-28 07:48] lhotari commented on #15364
@nicoloboschi @cbornet  This test is really flaky. Do you have a chance to fix the issue? I noticed that changes were made in #14796, #14929, #14948 and #15030 .

[2022-04-28 09:32] horizonzy commented on #10150
I will try to fix it.

[2022-04-28 09:33] zymap commented on #10117
Happened again: https://github.com/apache/pulsar/runs/6001472983

[2022-04-28 09:35] horizonzy commented on #10117
assign to me.

[2022-04-28 09:37] zymap commented on #10150
again: https://github.com/apache/pulsar/runs/5878639079

[2022-04-28 14:51] poorbarcode opened #15370 "Add batched ManagedLedger"
## Motivation

`ManagedLedger` provides apis for operating on Bookie, now  has only one implementation: `ManagedLedgerImpl`, In the case of an `Entry` only has single message, performance is less perfect. We should provide a feature that could accumulative and batch processing. Just like this:

[code]

If Pulsar have this feature, Broker can recieve a lot request in short time, but only write to B

[2022-04-28 16:08] RedemptionC commented on #13160
Hi, I'd like to work on this issue,maybe you could  assign this to me

[2022-04-28 17:40] eolivelli opened #15375 "[Transactions] NullPointerException during Java Client bootstrap"
**Describe the bug**
I have seen this error, using 2.10.0 Java client, and the Java Client fails to create

[code]

**To Reproduce**
I am not able to reproduce it consistently

**Expected behavior**
No error

[2022-04-28 17:44] eolivelli commented on #15375
@congbobo184 @zymap @codelipenghui  you may be interested in this error

[2022-04-29 00:42] codelipenghui commented on #15375
@eolivelli Thanks, we will take a look.

[2022-04-29 02:02] #14526 closed

[2022-04-29 02:12] utahkay commented on #14736
Verified in 2.10.0.1

[2022-04-29 03:02] #15297 closed

[2022-04-29 05:20] larshp opened #15380 "[Doc] Terminology? Message Key, Partition Key, Ordering Key"
### What issue do you find in Pulsar docs?

https://pulsar.apache.org/docs/en/concepts-messaging/#messages introduces the concept of a message

In my application I wanted to set the message key, to my surprise, the type contained a "PartitionKey" and "OrderingKey", which at first sight does not seem identical to the message key?

https://github.com/apache/pulsar-client-node/blob/master/index.d.ts#

[2022-04-29 09:00] Shawyeok opened #15390 "Cursor recover took long time"
**Describe the bug**
In our production, after a node restart, a topic partition keeping load timed out:
[code]
The log shows there's one cursor recovery didn't callback, it seems cursor's ledger recover took very long time:
[code]

And it will start a new recover op after `managedLedgerMetadataOperationsTimeoutSeconds`, so bookie keep logging `Ledger fence request received for ledger`:
<img width=

[2022-04-29 09:02] Shawyeok commented on #15390
broker.conf
[code]

[2022-04-29 11:02] tavoda commented on #12695
I'm getting this error on new Debian system where exception is caused by:
Caused by: java.lang.UnsatisfiedLinkError: /tmp/librocksdbjni205253776051654618.so: /tmp/librocksdbjni205253776051654618.so: failed to map segment from shared object

I traced error to linux /tmp/ folder which is mounted with 'noexec' flag. Because if this, library can't be loaded to process. Solution is to remount /tmp/ fol

[2022-04-29 12:31] lhotari opened #15392 "Flaky-test: PulsarFunctionsJavaThreadTest.testJavaLoggingFunction"
PulsarFunctionsJavaThreadTest.testJavaLoggingFunction is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/6225857381)

[code]

[2022-04-29 12:48] shibd commented on #15392
Please assign to me. Thanks.

[2022-04-29 12:53] lhotari commented on #15392
@shibd I would recommend investigating this with a "Personal CI" where you work on a fix in your own fork before create a PR. You can open PRs to your own fork of apache/pulsar to run GitHub Actions workflows in your own fork.

There are some instructions in https://lists.apache.org/thread/1ofdbd9j1hhj4c0rw3o7vv8y6rbsxrp0 about using "Personal CI".

The additional benefit of the "Personal CI" is t

[2022-04-29 13:14] horizonzy commented on #10117
Change the code as follow as trigger CI. Get useful info:

<img width="774" alt="image" src="https://user-images.githubusercontent.com/22524871/165950905-df88067e-79dc-436c-9ba0-bcf44381002a.png">

<img width="1601" alt="image" src="https://user-images.githubusercontent.com/22524871/165950438-9da20080-51d7-4e8c-a0e7-e0ab5f64faec.png">

`msg = consumer.receive(RECEIVE_TIMEOUT_SECONDS, TimeUnit.SECO

[2022-04-29 17:03] horizonzy commented on #10117
There is my test
https://github.com/horizonzy/pulsar/pull/3/files

[2022-04-29 22:30] zbentley opened #15397 "Delayed message delivery intermittently fails to deliver messages until consumers reconnect when a KeyShared consumer is used and delays are randomized"
**Describe the bug**
When consuming from a topic with a KeyShared consumer, messages with delayed delivery are often not returned from the consumer. This doesn't happen with all delayed messages, but seems to happen with around half.

This issue doesn't occur when using Shared subscriptions.

After the consumer is restarted, all messages that should have been delivered but were not are immediately

[2022-04-30 12:02] dragon-zhang opened #15399 "Does plusar support key-shared producer?"
Such as title.

[2022-04-30 12:04] Shoothzj commented on #15399
What effect do you want to achieve? Key-shared is kind of a policy broker dispatch to consumers.

[2022-04-30 12:09] dragon-zhang commented on #15399
Send order-message faster. Most scenarios do not require a `global order` at the queue level.

[2022-04-30 16:45] skysiders opened #15400 "permission"
**Describe the bug**
While RocksdbMetadataStore init , it will create directory from dataPath use Files.createDirectories(dataPath); this path create with too loose that any one can read file in this directory.This may cause everyone can read logs, perhaps strict permission is more safe.

**Expected behavior**
Perhaps right permission for metadata directory is 700.

**Desktop (please complete the

[2022-04-30 16:47] zbentley commented on #15399
I'm not quite sure what you're asking.

If you mean "can I produce messages with common keys in a topic such that they are delivered in order", then yes; if you use a key-based batcher for your producer and publish multiple messages with the same key, they will be delivered in order to a single [KeyShared consumer](https://pulsar.apache.org/docs/en/concepts-messaging/#key_shared).

If you mean "ca

[2022-04-30 16:56] zbentley opened #15401 "Standalone broker on MacOS often fail to start after workstation sleep or reboot"
**Describe the bug**
Often, but not always, if I start Pulsar standalone on my workstation and then close/reopen my laptop lid or restart the computer, subsequent attempts to start the standalone broker fail. The JVM process keeps running and emits some errors in its logs (see attachment), but never reaches a connectible state.

Repeatedly restarting the broker usually causes this condition to go

[2022-04-30 17:20] zbentley commented on #15397
Additional interesting info: if I call `redeliver_unacknowledged_messages()` on the consumer periodically (when there are no unacknowledged messages--i.e. if I replace the `pass` in the `except Timeout` in the example code with `c.redeliver_unacknowledged_messages()`), the consumer gets more, but not all, delayed messages. In the above test, periodically calling redeliver regularly gets 7-9/10 mes

[2022-04-30 17:54] zbentley opened #15402 "[python] Pulsar Client package is missing from PyPi for Macosx and Python37"
**Describe the bug**
On PyPi, there are macosx `pulsar-client` wheels for python 38, 39, and 310, but not 37.

Python 3.7 is the most widely used version of Python 3; supporting it should be a priority.

[2022-04-30 17:54] zbentley commented on #8753
Suggest closing this issue as it is very old and macosx wheels are published more reliably now.

[2022-04-30 17:56] zbentley commented on #15397
Also reproduced on 2.10

[2022-04-30 20:40] #8753 closed

[2022-04-30 23:33] merlimat commented on #15402
Good point. The main problem was that Python 3.7 doesn't support universal2 binaries out of the box, so it was making it a bit more difficult to integrate in the build scripts. Working on a fix to patch python 3.7 to make this work.

[2022-05-01 02:01] dragon-zhang commented on #15399
For example, there are topic 1(this topic has only 1 partition) and 5 messages:
1. message1、2、3 with `key1`;
2. message4、5 with `key2`;

There is no need to guarantee the "global order" of key1 messages and key2 messages, the global order such as `1 2 3 4 5`.

But need to guarantee the order of key1 messages and key2 messages, examples of qualified message sequences are as follows:
4 5 1 2 3
4 1 5

[2022-05-01 03:18] #10150 closed

[2022-05-01 03:52] stalary commented on #14592
What is your ES version @JackrayWang

[2022-05-01 04:35] #13734 closed

[2022-05-01 10:34] zbentley commented on #15402
Thank you!

[2022-05-01 11:19] zbentley commented on #15399
That makes sense. The second answer I posted above is applicable, then. You should either:
- Add partitions to the topic.
- Use a key-based batcher in your producer with multiple IO threads.
- Use multiple producers.

Unless you use multiple partitions (or multiple topics), Pulsar will still totally order your messages according to their timestamps. If you truly want these messages to be handled f

[2022-05-01 13:35] dragon-zhang commented on #15399
Thanks for your patience, zbentley. `Pulsar will still totally order your messages according to their timestamps`, I got it and I want to ask one more question: if sorting is not considered and there is `only one partition`, can key1 messages and key2 messages be written to `native memory` in `parallel`? I guess not.

[2022-05-01 14:19] merlimat commented on #15402
@zbentley Fixed the scripts and uploaded the 3.7 wheel: https://files.pythonhosted.org/packages/02/7f/3eff77a28595a7654b40807e23bd0ea5ceb4738a3e87a4787e3d81ca4748/pulsar_client-2.10.0-cp37-cp37m-macosx_11_0_x86_64.whl

[2022-05-01 15:55] zbentley commented on #15399
I'm not sure; two things are in play:
- How much sorting Pulsar actually does, after messages arrive at the broker. I suspect that the answer is "not much", and that messages are causally ordered based on when they arrive at either the broker or BookKeeper. I'd be surprised if there were much in the way of "loop over all messages that have arrived recently and reorder them", but you'd have to ask

[2022-05-01 15:57] zbentley commented on #15402
Awesome, thanks! Any chance of an macosx ARM wheel for 37? Happy to run a build for it if the issue is hardware availability.

[2022-05-01 16:09] merlimat commented on #15397
This looks to be caused by #12890.

We're calling `this.getMessagesToReplayNow(1)` (which  pops the message out of the delayed-delivery tracker) but then we're not doing anything with that message because `minReplayedPosition == null`

[2022-05-01 18:22] zbentley commented on #15397
Thanks, I will test against a master build and respond here with results.

[2022-05-01 19:28] merlimat commented on #15402
I don’t think it’s possible because Python 3.7 doesn’t support ARM on Mac.

[2022-05-01 22:27] BajrangDubeyPersistent commented on #15351
No, I have checked and made sure that the path for certificate files is absolute only

[2022-05-02 01:32] zbentley commented on #15402
3.7 works well on ARM; we use `pyenv` to install it (`pyenv install 3.7.13` or `pipenv --python 3.7.13` with a `brew install pyenv pipenv` rather than relying on Homebrew pythons. Are there build instructions I can follow for M1? If so, I can initiate a build.

[2022-05-02 04:52] Hongten commented on #13167
I encountered the same issue when I run `bin/bookkeeper shell bookiesanity`. I'm using the pulsar-2.10.0.

[code]

[2022-05-02 07:36] dragon-zhang commented on #15399
`partition`, copy that.

[2022-05-02 07:36] #15399 closed

[2022-05-02 07:49] nodece commented on #15351
Could you provide how to reproduce this issue and the version information?

[2022-05-02 08:39] Hongten commented on #5947
I encountered the same issue when I list brokers. In my case, I change the 8080 port to 8087. The pulsar version is 2.8.1.
[code]

[2022-05-02 09:18] BajrangDubeyPersistent commented on #15351
I am using apachepulsar/pulsar-all:2.5.0 docker image to run pulsar. Everything is running well because I have tried all pulsar functions using this image only. While doing some changes in conf files taken from sijie's repo: https://github.com/streamnative/tgip/tree/master/episodes/001/conf and making changes to implement authentication using TLS as mentioned in official documentation https://puls

[2022-05-02 11:29] skysiders opened #15411 "NarUnpacker create directory and file without permission check."
**Describe the bug**
While NarUnpacker create directory and files , it forget to check if the directory or file have write or others permission they need.So I create new method to setPermission for them.

**Additional context**
I still push this issue for PULSAR-19.

[2022-05-02 13:07] zhavir commented on #14148
same for the pulsar-client 2.10

[2022-05-02 14:44] nodece commented on #15351
The `apachepulsar/pulsar-all:2.5.0` version is too old, the Pulsar 2.10.0 has been released, you can try this image:
[code]
You can find any version [here](https://hub.docker.com/r/apachepulsar/pulsar-all/tags).

[2022-05-02 15:33] nodece commented on #13734
This issue has been fixed by #13740.

You can update the following config in `standalone.conf` if you are using the standalone model:
[code]
The `SunJSSE` is JDK built-in provider.

[2022-05-02 16:59] merlimat commented on #15402
@zbentley This is the script used to build the mac wheels, the version in the PR has added 3.7: https://github.com/apache/pulsar/blob/b435b760e60f37188d2c32905d78abf8db34e857/pulsar-client-cpp/python/build-mac-wheels.sh

I actually run the build on M1 and I had to force to build Python 3.7 for x86_64 to avoid failure in building it. There is some description of the issues in https://bugs.python.or

[2022-05-02 17:17] #15052 closed

[2022-05-02 17:17] Tlaloc-Es commented on #15052
Currently, I can get the messages, was there any not reachable error but currently, I can process all subscriptions.

[2022-05-02 18:42] #15397 closed

[2022-05-02 21:35] zbentley commented on #15402
Try `brew install pyenv; pyenv install 3.7.13` on your M1; I bet it'll work. If not, I'll try building when back at work in a couple days.

[2022-05-02 22:58] merlimat commented on #15402
I tried that. Pyenv seems to be back porting a series of patches into 3.7 to make it compile on Arm, though there are still issues with some of the modules. Eg: I'm getting error when creating the wheel file because the `_ctypes` modules was somehow not enabled:

[code]

[2022-05-02 22:59] merlimat commented on #15402
[code]

[2022-05-03 08:20] zhavir commented on #14148
oh! you're right, yesterday I was getting errors while trying to get the latest version of the pulsar-client on my Mac OS Monterey. Thanks!

[2022-05-03 09:40] zhavir commented on #14148
ok, now I get which version is missing. I was trying to pull the 2.7 version for ARM. It is missing also from [here](https://pypi.org/project/pulsar-client/#files) as you can see

[2022-05-03 14:05] merlimat commented on #14148
We’re removing support for Python 2.7 at this point, so there will be no more wheel files published. https://github.com/apache/pulsar/issues/15185

[2022-05-03 14:43] zhavir commented on #14148
It makes sense, but why the build is missing only for ARM architecture?

[2022-05-03 14:58] thalesmg commented on #14661
This is still relevant, as there is no documentation for basic authentication.

[2022-05-03 16:31] truong-hua commented on #7653
Let's say that in an unexpected accident that we lost all of the bookie data. Is there any option to force delete relative ledgers and force decommission the bookie?

[2022-05-03 19:18] merlimat commented on #13429
This issue was fixed by a new script to build `universal2` wheel files without using vagrant: `pulsar-client-cpp/python/build-mac-wheels.sh`. We still need to update the release instructions though.

[2022-05-03 19:19] merlimat commented on #14148
We have these wheel files for Pulsar 2.10.0 on Mac:

 * pulsar_client-2.10.0-cp37-cp37m-macosx_11_0_x86_64.whl
 * pulsar_client-2.10.0-cp38-cp38-macosx_11_0_universal2.whl
 * pulsar_client-2.10.0-cp39-cp39-macosx_11_0_universal2.whl
 * pulsar_client-2.10.0-cp310-cp310-macosx_11_0_universal2.whl

 The `universal2` wheels include x86_64 and arm binaries.

For Python 3.7, we only have intel binaries

[2022-05-03 22:47] devinbost opened #15417 "Unable to run Pulsar Python client on M1 Mac, including when building from source on master"
I can't find a way to get the Pulsar Python client working on an M1 Mac.
Here are my steps / attempts:

[code]

[2022-05-04 03:17] #15325 closed

[2022-05-04 04:34] hzluyang opened #15419 "pulsar 2.9.2 ns-isolation-policy Not work correctly And cause lookup unavaible"
pulsar 2.9.2
3 brokers:
4 bookeepers
recently I am testing brokers isolation

But I came across these problems below:
**1 My ns-isolation-policy**
bin/pulsar-admin ns-isolation-policy get appops-pulsar-jdlt ly
{
  "namespaces" : [ "luyanghaha/ly" ],
  "primary" : [ "appops-pulsar-05.jdlt.163.org:8080" ],
  "secondary" : [ "appops-pulsar-06.jdlt.163.org:8080" ],
  "auto_failover_policy" : {
    "pa

[2022-05-04 06:47] #15018 closed

[2022-05-04 06:58] Jason918 commented on #14902
What's the broker version?

[2022-05-04 07:00] hzluyang commented on #15419
I change set command as below  it works
bin/pulsar-admin ns-isolation-policy set --auto-failover-policy-type min_available --auto-failover-policy-params min_limit=1,usage_threshold=80 --namespaces luyanghaha/ly --primary appops-pulsar-05.jdlt.163.org --secondary appops-pulsar-06.jdlt.163.org appops-pulsar-jdlt ly

[2022-05-04 07:00] #15419 closed

[2022-05-04 07:16] BewareMyPower opened #15421 "Flaky-test: RackAwareTest.testPlacement"
RackAwareTest.testPlacement is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/15413/checks?check_run_id=6285362452)

[code]

[2022-05-04 07:17] BewareMyPower opened #15422 "Flaky-test: SimpleProducerConsumerTestStreamingDispatcherTest.testRedeliveryFailOverConsumer"
SimpleProducerConsumerTestStreamingDispatcherTest.testRedeliveryFailOverConsumer is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/15414/checks?check_run_id=6260684559)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-05-04 07:51] leizhiyuan commented on #14902
2.7.2  use auto split without consistent hash

[2022-05-04 08:07] liangyepianzhou opened #15423 "[PIP-163] Add lowWaterMark check before appending entry to TB"
## Motivation
In the current implementation, if the user sends messages using the previously committed transaction, these messages are automatically visible to the consumer. And this can confuse users. So we added an optimization to throw exception when users send messages using the wrong transaction.

## Goal
* Add a map to store the lowWaterMark of TC in TB.
* Check lowWaterMark before appending

[2022-05-04 09:43] shibd commented on #15392
I did not reproduce the problem locally env.  I suspect that it is caused by the relatively small resource constraints in the CI environment. I unassigned this issue first.

[2022-05-04 12:58] ethqunzhong opened #15429 "[Broker] Broker Lookup authentication failed while call get-subscriptions API with JWT authentication."
**Describe the bug**
We upgrade Broker version to 2.8.3 from 2.7.2.
while we call rest api / python client to get topics subscriptions not get except result as normal.
log says **authentication failed for provider token: Invalid HTTP Authorization header.**
this phenomenon seem as `HTTP Authorization header` lost while client lookup the topic subscriptions by redirect http request to the own broke

[2022-05-04 13:02] cometa-haley commented on #4199
Hey @sijie I am having a similiar issue: how do I tell the connector where my custom SerDe class lives? - I have managed to use them for functions because I can tell Pulsar the path for function's code where everything is (through --py), but for Sinks I am lost as to hoy to tell them where to find my code (since i can only use --archive once).

[2022-05-04 13:27] zbentley opened #15433 "Terminating a partitioned topic that has just been created often fails with "PreconditionFailedException: Failed to find ownership for topic...""
**Describe the bug**
Using pulsar standalone, when running integration tests, I often create tenants, namespaces, and topics, then rapidly take actions on those topics (like publishing, termination, deletion). When I attempt to terminate a topic right after it has been created, it sometimes fails with "PreconditionFailedException: Failed to find ownership for topic" errors (see stacktrace below).

[2022-05-04 13:33] cometa-haley opened #15434 "[Doc] JSON/AVRO SerDe for Functions and Connectors"
### What issue do you find in Pulsar docs?

I am having a lot of issues while working with Functions and Connectors for the following reason:
If a create a producer using python like this:
[code]

I am then able to use connectors for loading the data somewhere else. BUT if I try to use a function to preprocess the data in some way,  Connectors (I have tried Postgres and Influx) don't seem to be ab

[2022-05-04 15:26] Raven888888 commented on #12284
@gaoran10

[2022-05-04 18:22] devinbost commented on #15417
I was able to build from source from master locally on my M1 Mac, but when I try to install the pip wheels, I get:

(I was running Python 3.9.12)

I tried all of the wheel files produced by the build. They are:

- pulsar_client-2.11.0-cp310-cp310-macosx_11_0_universal2.whl
- pulsar_client-2.11.0-cp39-cp39-macosx_11_0_universal2.whl
- pulsar_client-2.11.0-cp37-cp37m-macosx_11_0_x86_64.whl
- pulsar_

[2022-05-04 18:24] devinbost commented on #15417
@merlimat I heard this is something you've worked on.

[2022-05-04 18:29] merlimat commented on #15417
[code]

How are these failing? What error are you getting?

Can you try with the official released wheels? https://pypi.org/project/pulsar-client/2.10.0/#files

Can you also report the `pip debug --verbose` (this would include all the tags supported by your python env).

[2022-05-04 18:39] devinbost commented on #15417
Hi Matteo,

I get the error `not a supported wheel on this platform`. e.g.

[code]

I've attached the output of `pip debug --verbose` (since it had a lot of output):
[pip_debug.log](https://github.com/apache/pulsar/files/8626198/pip_debug.log)

[2022-05-04 18:42] devinbost commented on #15417
The official released wheels are what I tried first. (I provided reproduction steps that used those wheels in my first entry in this thread.)
I was able to install one of the official wheels by using python 3.9.12, but when I tried importing it, I got:

`illegal hardware instruction  python`

[2022-05-04 18:43] merlimat commented on #15417
It looks like the python you have installed is not compiled with macOS 11.0 support.

[code]

How did you get that Python version?

Can you try with the Python from `brew`?

[2022-05-04 18:49] merlimat commented on #15417
I'm trying to see it's possible to target Mac 10.15 in a general way. I got errors in the past though I don't remember exactly what.

[2022-05-04 19:06] devinbost commented on #15417
I got the Python version via Anaconda.

Here's what happens when I try doing it on the OS directly. (I must be missing something.)

[code]

[2022-05-04 19:09] merlimat commented on #15417
It looks you're installing in Python 3.8 and trying to use it from Python 3.9

[2022-05-04 19:09] devinbost commented on #15417
Even more strange...

[code]
Here's how I installed pip:

[code]

[2022-05-04 19:18] devinbost commented on #15417
I tracked down the path to pip that was installed by brew.
When I tried installing into that pip, I got the `No matching distribution` error I was seeing when I tried installing via anaconda for Python 2.10:

[code]

[2022-05-04 19:20] devinbost commented on #15417
I tracked down the path to the pip that was installed by brew, and when I installed into that pip, it worked!

[code]

Thanks for helping me think through this.

I guess the next question is why it wasn't working from Anaconda.

[2022-05-05 01:19] xuesongxs commented on #12695
I agree, but rocksdbjni use String DEFAULT_TEMP_DIR = "/tmp", rocksdbjni needs to be modified.

[2022-05-05 02:22] MarvinCai opened #15439 "[Doc] inappropriate/Outdated description for metric pulsar_storage_backlog_size for namespace"
### What issue do you find in Pulsar docs?

Description of  pulsar_storage_backlog_size for namespace (https://pulsar.apache.org/docs/en/reference-metrics/#namespace-metrics) said this metric is message count.
But looking into the code of how this metric get calculated, it's actually in byte.

### What is your suggestion?

Update to accurate description (in byte) if that's the case.

### Do you ha

[2022-05-05 02:37] BewareMyPower commented on #15421
Some other failures:
- https://github.com/apache/pulsar/pull/15282/checks?check_run_id=6298763232
- https://github.com/apache/pulsar/pull/15376/checks?check_run_id=6299007757
- https://github.com/apache/pulsar/pull/15436/checks?check_run_id=6298814274

[2022-05-05 05:38] 704237006 opened #15443 "get a PulsarAdmin in function ,and then error calling pulsar interface"
**Describe the bug**

When developing a function, I get pulsaradmin from the context and try to get the schema of the target outputtopic, but there was an error.

function code:
![image](https://user-images.githubusercontent.com/42430068/167084213-e0ba3133-18c7-4c70-96b2-7dca8010a4c1.png)
An error occurred while running function:
![cdcf0329ebb90b752ba9f5ce6eefaf1](https://user-images.githubusercon

[2022-05-05 05:43] shibd commented on #13346
I will try it.

[2022-05-05 06:17] lhotari commented on #5510
I now noticed that there's an old issue #1117 which has a similar problem description. PR #1428 was merged to address that. Perhaps some issue is remaining.

[2022-05-05 06:22] momo-jun commented on #9410
Hi @BewareMyPower any updates on this issue or can you pls share your updated plan? Thanks.
Just a quick follow-up because this is involved in 2.11 release.

[2022-05-05 06:32] lhotari commented on #5510
btw. In my 2.7.x testing, I'm also hitting a problem fixed by #12252 . That is also related to bundle splitting. I'll soon experiment by cherry-picking #14680 and #12252 to see if that helps.

[2022-05-05 07:22] BewareMyPower commented on #9410
No update yet.

[2022-05-05 08:40] Shawyeok opened #15445 "CPU usage 100% when use Key_Shared"
**Describe the bug**
When use `Key_Shared`, if one consumer consume slowly and others are normal, `MessageRedeliveryController#messagesToRedeliver` will keep growing and could be very large.

`MessageRedeliveryController#getMessagesToReplayNow` will be very expensive cause `messagesToRedeliver.items()` is a O(n) operation in both time and space complexity.
https://github.com/apache/pulsar/blob/2b2

[2022-05-05 09:08] Shawyeok commented on #15445
Additional context:
The slow consumer will ends with zero availablePermits, and message positions will be recorded in `MessageRedeliveryController#messagesToRedeliver`, when none of the whole batch of messages sent to consumer, `isDispatcherStuckOnReplays` will be marked.
https://github.com/apache/pulsar/blob/2b2e0c50183c71e954f5c6e8bfcd7e36130279a5/pulsar-broker/src/main/java/org/apache/pulsar/br

[2022-05-05 11:52] leizhiyuan opened #15448 "how metastore reslove the atomicity when deleting"
**Describe the bug**

if we create a namespace a， we will  write some node in zk

maybe  /namespaces/a ,/admin/policies/a. /balance/a some nodes were created

then we delete namespace a, and the pulsar will delete in zk

if deleting /namespaces/a succeeds, but admin/policies/a occurs error, we return an error for the client

but if they delete twice, we judge `/namespaces/a` was deleted, we won't

[2022-05-05 11:56] leizhiyuan commented on #15028
maybe merge next version

[2022-05-05 12:07] MarvinCai opened #15450 "Cleanup all Pulsar related metadata in delete-cluster-metadata command"
**Is your feature request related to a problem? Please describe.**
Currently seems the `delete-cluster-metadata` is only cleaning the /admin/clusters and /managed-ledgers path in MetaStore, which might left some metadata in MetaStore like tenant and namespace data. And if user reuse same MetaStore for a new Pulsar cluster could observe tenant/namespace from previous installation.

**Describe the s

[2022-05-05 12:25] youg9203 opened #15451 "Topic is already fenced"
**Describe the bug**
The force delete tenant is causing an error on topic deletion.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create a tenant
2. Create a namespace
3. Create a topic and send a message.
4. Create a subscription and consume that message and remove the subscription
5. Now delete the tenant forcefully, and you will get an error

**Expected behavior**
Whether either

[2022-05-05 12:56] KannarFr opened #15452 "allowAutoTopicCreation has weird behavior"
**Describe the bug**
allowAutoTopicCreation doesn't work with default configuration files.

**To Reproduce**
1. Download https://www.apache.org/dyn/mirrors/mirrors.cgi?action=download&filename=pulsar/pulsar-2.10.0/apache-pulsar-2.10.0-bin.tar.gz
2. Extract it
3. Run `bin/standalone -nfw`
4. Ensure that the `standalone.conf` `allowAutoTopicCreation=true`
5. Create a tenant `test` on `standalone` cl

[2022-05-05 13:06] Anonymitaet commented on #15434
FYI @momo-jun since u'r working on the function docs.

[2022-05-05 15:27] eolivelli opened #15455 "PIP-105 pulsar-admin create-subscription - allow to set subscription properties"
With PIP-105 we added support for subscription properties, but there is no pulsar-admin command to set those properties.

I would be useful to have:
- a command to create the subscription and set the properties
- a command to update the subscription properties (as a whole, not a single properties)

[2022-05-05 18:30] frankjkelly commented on #5510
Thanks for the updates @lhotari

[2022-05-05 23:15] mattisonchao opened #15463 "[WIP] PIP-164 Support accurate permission control."
# PIP-164 Support  precision permission control

Authors: @Mattisonchao, @Technoboy

## Motivation

In the current implementation, the default authorization provider `PulsarAuthorizationProvider` doesn't support accurate operation permission control. We can see its related implementation:

### Validate tenant operation

[https://github.com/apache/pulsar/blob/8b2f3dd095f365fdb22c71078d5a3e0bf6cc962

[2022-05-05 23:29] Anonymitaet commented on #15439
Hi @momo-jun can you take a look at this issue? Thanks

[2022-05-05 23:31] Anonymitaet commented on #15380
Hi @momo-jun can you take a look at this issue? Thanks

[2022-05-06 01:59] Shawyeok commented on #15445
@merlimat  [cpu_profile.html.zip](https://github.com/apache/pulsar/files/8637078/cpu_profile.html.zip) attached

[2022-05-06 02:04] #15362 closed

[2022-05-06 02:10] momo-jun commented on #15434
Hi @freeznet can you take a look at this issue? Shall we clarify more in the SerDe section? It's beyond my knowledge.

[2022-05-06 02:48] wuxuanqicn commented on #15421
Duplicated with #14106

[2022-05-06 03:00] momo-jun commented on #15439
@MarvinCai thanks for filing this issue.
@tjiuming will follow up with the doc updates. Thanks for your volunteering.

[2022-05-06 03:07] kwenZh opened #15464 "auto recovery error log : Corrupted frame received from bookie， under replicated can not covery"
**Describe the bug**
there are a  pulsar cluster in k8s

We decided to migrate bookie to a new  bookie cluster,
1, we set auto recovery is enabled
2. deploy a new bookie statefulset normally
3. Reduced number of instances one by one .
4. i can see recovery is working

 old bookie cluster has 5 pod (0-4), first i close  bookie-4
but in latest , there are some ledgerId are not  migrate successful,

[2022-05-06 05:02] michaeljmarshall commented on #13429
@merlimat - thanks for the update. I'll close this now.

[2022-05-06 05:02] #13429 closed

[2022-05-06 07:18] ericsyh opened #15466 "[feat](replicator): reset-cursor supports geo-replicator's subsription."
**Is your feature request related to a problem? Please describe.**

I want to use geo-replicate to migrate data from existing Pulsar cluster to a new Pulsar cluster by:
1. Create geo-replicate rule between exising cluster and new empty cluster.
2. Reset replicator cusror to earliest then migrate data.

But i found that geo-replicator's subsription is an internal subs and cannot be reset by `reset-

[2022-05-06 07:46] mattisonchao commented on #15466
Hi, @ericsyh  What about this PR?
https://github.com/apache/pulsar/pull/14887

[2022-05-06 08:41] #9466 closed

[2022-05-06 09:03] momo-jun commented on #15380
@larshp thanks for filing the issue. Your concern has been addressed in #15469.
Thanks @RobertIndie for looking into this issue.

[2022-05-06 09:15] larshp commented on #15380
thanks, looks good to me 👍

[2022-05-06 13:15] Shoothzj opened #15471 "NPE during get topic stats"
### screenshot
<img width="1373" alt="image" src="https://user-images.githubusercontent.com/12933197/167137942-20cb9264-3842-4644-acbd-72b44f3106c2.png">

### which version do you use
compile the master code for test

### content
I think it's a regression by https://github.com/apache/pulsar/pull/12401 when client `isSupportsPartialProducer` is false.
@equanz please have take a look

[2022-05-06 13:32] KannarFr commented on #15452
@mattisonchao I dived into this issue and it seems to be a pulsarctl https://github.com/streamnative/pulsarctl/issues/703 issue. Can you confirm it?

[2022-05-06 13:49] Technoboy- commented on #15471
Which test?

[2022-05-06 13:53] Shoothzj commented on #15471
@Technoboy- Sorry for misleading, we use pulsar nightly code for some tests. Not tests in pulsar repo.

[2022-05-06 14:38] Shoothzj commented on #15471
@Technoboy- @equanz It's caused by using null value for comparator. When `isSupportsPartialProducer ` is false, `PublisherStatsImpl::getProducerName` return null.

[2022-05-06 15:57] Nicklee007 opened #15473 "[Bug][broker] expired ledger cannot be cleanup when ledger consumed completely"
**Describe the bug**
In some case, expired ledger data cannot be cleanup when the topic has not new message and ledger consumed completely, because the slowestReaderPosition which set to the new ledger will be cover to the old ledger by some cursor operator which like flink reset the Durable Cursor and the auto  flushed dirty mark-delete position.

Also, the last expired ledger can not be clean if

[2022-05-06 16:00] horizonzy opened #15475 "PulsarAdmin maybe create nonPartitionTopic and partitionedTopic for same topic."
**Describe the bug**
In PersistentTopics, there are two methods `createNonPartitionedTopic` and `createPartitionedTopic`.
There is race condition, maybe create nonpartitioned and partitioned managed-ledgers.

**To Reproduce**

**broker**
I modify some code to help to reproduce problem. see commit: https://github.com/horizonzy/pulsar/commit/991bf82f218567cea5c3511b7a807b55652c596e

**client**
[code

[2022-05-06 16:16] Paninka opened #15476 "JDBC Postgresql Error: This connection has been closed"
**Describe the bug**
I'm using the JDBC driver to sink Postgresql, and when Postgresql stops It says that "This connection has been closed". When Postgresql starts again the sink doesn't work and it doesn't reconnect.

**To Reproduce**

Steps to reproduce the behavior:
1. Start Postgresql and Pulsar
2. Set JDBC Postgresql sink. I did this quickstart
https://pulsar.apache.org/docs/en/io-quickstart/

[2022-05-06 16:43] #14224 closed

[2022-05-06 17:02] b0mbays opened #15477 "Python Pulsar-Client: Import error with Python 3.10"
**Describe the bug**
Hi, we're experiencing an import error when using Python 3.10 on OSX 11 and 12. We're installing the python pulsar-client-2.10.0 and having the same error on two machines:

[code]

If we switch to Python 3.8 or 3.9 this issue is resolved but we would really like to use python 3.10.

Thank you

[2022-05-07 01:03] casuallc opened #15480 "ClassCastException when create message instance"
**Describe the bug**
Message instance create exception when doing open-messaging tests.

May be thread safe error.

**Screenshots**

![image](https://user-images.githubusercontent.com/9473606/167231760-83f0c195-5381-4ae5-87cb-8e383a561a2b.png)
![image](https://user-images.githubusercontent.com/9473606/167231790-07776a5f-a79a-421d-beb7-be3a77646b11.png)

**Desktop (please complete the following inf

[2022-05-07 02:33] mattisonchao commented on #15452
Hi, @KannarFr

Could you try using `pulsar-admin` to test it? it's not related to `pulsarctl.`

@nodece  Could you have time to help check this issue?
/cc @nodece

[2022-05-07 02:35] momo-jun commented on #14705
Hi @armandxu, the explanation for `skipListArenaChunkSize` and `skipListArenaMaxAllocSize` can also be found in https://pulsar.apache.org/docs/en/reference-configuration/.

Hi @tjiuming, thanks for providing more information.
The `skipListSizeLimit` parameter is missing in the reference-metric.md file. Can you pls help add it next time when you submit a PR for #15439 ?

[2022-05-07 06:58] xyhmnb opened #15484 "REST API send message fail: cannot look up topic"
**Describe the bug**
i use the latest version pulsar and find use the rest api to send message for some of the topics is error
A clear and concise description of what the bug is.

**To Reproduce**
i have topic is "/persistent/public/default/my-topic"
use the url "http://pulsar.fscut.com:8080/topics/persistent/public/default/my-topic" to send http post request
but it response is network
and then, i

[2022-05-07 09:01] yhjlsy123 opened #15486 "android Duplicate class org.bouncycastle"
**Describe the bug**
A clear and concise description of what the bug is.
Duplicate class org.bouncycastle.x509.X509V2CRLGenerator$ExtCRLException
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screensho

[2022-05-07 09:25] wuxuanqicn commented on #15484
@xyhmnb Can you provide the request detail and response detail?
![image](https://user-images.githubusercontent.com/89442834/167248029-bf1acc51-d466-4ecc-8c8b-cdf638264058.png)

my local pulsar works fine
[code]

[2022-05-07 12:03] haoyann commented on #15476
If want to implement reconnect feature, may be judge `connection.isClosed()` in `JdbcAbstractSink#flush`, if it has been closed,  create a new connection.

[2022-05-07 13:19] ericsyh opened #15487 "[bug][proxy]: http requests forwarded by pulsar proxies to brokers will fail when using Istio"
For a pulsar cluster with both proxy and broker running on istio with the support, I noticed an interesting problem that all http requests forwarded by pulsar proxies to brokers would fail, but other requests seem to be working fine, including
- pulsar binary requests that produce & consume messages
- http requests served by proxies directly, like `/status.html`, `/metrics/`
- http requests issued

[2022-05-07 13:22] xyhmnb commented on #15484
thx, i try it . the rest api on local pulsar is ok.
but the problem is not there.
we have three brokers on the lan and have one proxy to forwarding the request on the internet.
now, the rest api only request some one of the machines. some topics are fail because no-partation topic exist one machine.(if not on this machine)

[2022-05-07 13:23] ericsyh commented on #15487
Host header mismatch is the root cause, and proxy should strip HOST header. CC @fantapsody

[2022-05-07 14:27] nodece commented on #15486
See https://pulsar.apache.org/docs/en/security-bouncy-castle/#exclude-bc-non-fips-and-include-bc-fips

[2022-05-07 14:35] nodece commented on #15480
Could you provide a code to reproduce?

[2022-05-08 00:59] mattisonchao commented on #15452
@KannarFr  Already use RestAPI confirm it. So, I will close this issue.

[2022-05-08 01:00] #15452 closed

[2022-05-08 01:41] #15380 closed

[2022-05-08 09:41] yuanmabiji commented on #15487
hello

[2022-05-09 01:48] #15439 closed

[2022-05-09 02:20] leizhiyuan opened #15492 "pulsar_storage_size used backlogsize?"
**Describe the bug**
A clear and concise description of what the bug is.

 pulsar_storage_size means

[code]

but in PersistentTopic

[code]

maybe it should be

[code]
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information

[2022-05-09 02:40] mingyifei opened #15493 "[pulsar-server]Automatically create topic. You can specify tenant or namespace level"
I want to create topic automatically. I can specify tenant or namespace level

[2022-05-09 03:10] #15421 closed

[2022-05-09 06:20] #13973 closed

[2022-05-09 06:49] nodece commented on #15452
Hi @KannarFr, thanks for your report, this issue should be from pulsarctl, and has been fixed by https://github.com/streamnative/pulsarctl/pull/556.

[2022-05-09 06:58] equanz commented on #15471
Thank you for sharing the issue. Could you tell me full stack traces and use cases, please? (I'm not sure when the publisher's producerName is null.)

The `isSupportsPartialProducer` is false means the broker conf `aggregatePublisherStatsByProducerName` is true and old publishers connects to the topic? Or, `aggregatePublisherStatsByProducerName` is false?
https://github.com/apache/pulsar/blob/f501

[2022-05-09 07:15] xyhmnb commented on #15484
@wuxuanqicn hello,i try to send it on the local pulsar.but its has other problem.
![image](https://user-images.githubusercontent.com/30762020/167358950-3fd7a200-b897-4f9a-8bc2-cb1adf355d02.png)

[2022-05-09 07:27] JavaXiaoJun opened #15500 "Optimization of massive delayed message scenarios"
# Motivation

### Business scene
Delayed messages are a common scenario in the Message business system. For example, group-opening reminders in group buying activities, automatic deductions when continuous monthly subscriptions expire, and coupon expiration reminders can all be implemented with delayed messages.

### Current Mode
Currently Pulsar implements arbitrarily delayed messages based on in

[2022-05-09 09:01] ZGHAP opened #15504 "pulsar2.9.2 in C++ conflict with protobuf 3.17.2"
when I compile the C++ source, it prompt as below:

[libprotobuf FATAL google/protobuf/stubs/common.cc:87] This program was compiled against version 3.3.0 of the Protocol Buffer runtime library, which is not compatible with the installed version (3.17.2).  Contact the program author for an update.  If you compiled the program yourself, make sure that your headers are from the same version of Proto

[2022-05-09 10:42] hpvd commented on #15500
there is already another pip with this number:
PIP-156: Build and Run Pulsar Server on Java 17
https://github.com/apache/pulsar/issues/15207

[2022-05-09 10:45] hpvd commented on #15500
please have a look on how the PIP process works:
https://github.com/apache/pulsar/wiki/Pulsar-Improvement-Proposal-%28PIP%29

[2022-05-09 12:20] Raven888888 commented on #12284
I noticed that one of the differences of `broker.conf` between pulsar 2.7.0 and pulsar 2.8.0+ is the introduction of this
[code]
Could it be what causing the `BufferUnderflowException`?

[2022-05-09 12:22] BajrangDubeyPersistent commented on #15351
Hi @nodece, apologies for the late response.
I tried working on TLS with Pulsar 2.10.0 but the docker image seems corrupted as it showed some access error for data directory : https://stackoverflow.com/questions/72165829/apache-pulsar-zookeeper-unable-to-access-datadir-exiting-abnormally

So, to switch to more stable version, I am currently using 2.8.2 but facing the same errors in log.
Is there s

[2022-05-09 14:05] nodece commented on #15351
You can try to use [cfssl](https://github.com/cloudflare/cfssl) to generate the TLS certificate.
[code]

[2022-05-09 14:54] nicoloboschi opened #15514 "[Doc] Specify which ElasticSearch and Opensearch versions are compatible with Pulsar IO ElasticSearch Sink"
### What issue do you find in Pulsar docs?

In the Elastic Search Sink doc it is not specified which ElasticSearch and Opensearch versions are supported.
https://pulsar.apache.org/docs/en/io-elasticsearch-sink

### What is your suggestion?

Inform the users which versions are supported.

### Do you have any references?

ElasticSearch and Opensearch
https://pulsar.apache.org/docs/en/io-elasticsearc

[2022-05-09 15:01] codelipenghui commented on #14902
@leizhiyuan You can check the topic stats if you can reproduce the problem, and share the topic stats/internal-stats here.

[2022-05-09 15:03] codelipenghui commented on #14906
@sikangliu @xuesongxs The fix has been cherry-picked into release branches, close the issue for now.

[2022-05-09 15:03] #14906 closed

[2022-05-10 02:31] poorbarcode opened #15516 "[PIP-165] Auto release client useless connections"
## Motivation
Currently, the Pulsar client keeps the connection even if no producers or consumers use this connection.
If a client produces messages to topic A and we have 3 brokers 1, 2, 3. Due to the bundle unloading(load manager)
topic ownership will change from A to B and finally to C. For now, the client-side will keep 3 connections to all 3 brokers.
We can optimize this part to reduce the br

[2022-05-10 05:59] yhjlsy123 opened #15519 ".tools.r8.internal.ez0: MethodHandle.invoke and MethodHandle.invokeExact are only supported starting with Android O (--min-api 26)"
**Describe the bug**
A clear and concise description of what the bug is.
aused by: org.gradle.api.internal.artifacts.ivyservice.DefaultLenientConfiguration$ArtifactResolveException: Could not resolve all files for configuration ':SmartFllowUp:debugRuntimeClasspath'.
	at org.gradle.api.internal.artifacts.configurations.DefaultConfiguration.rethrowFailure(DefaultConfiguration.java:1419)
	at org.grad

[2022-05-10 06:48] #15079 closed

[2022-05-10 06:48] #14984 closed

[2022-05-10 07:17] #14436 closed

[2022-05-10 07:30] tuteng opened #15522 "[Doc] Update encryption and decryption documentation for cpp, python and nodejs clients"
### What issue do you find in Pulsar docs?

https://pulsar.apache.org/docs/en/security-encryption/#get-started
The cpp, python and nodejs clients do not support the ecdsa algorithm and we should consider highlighting it in the documentation

### What is your suggestion?

https://pulsar.apache.org/docs/en/security-encryption/#get-started
The cpp, python and nodejs clients do not support the ecdsa a

[2022-05-10 07:45] Anonymitaet commented on #15514
@momo-jun can you take a look at this issue? Thanks

[2022-05-10 07:45] Anonymitaet commented on #15522
@momo-jun can you take a look at this issue? Thanks

[2022-05-10 07:49] drriguz opened #15523 "Supporting Java 9 Modular System"
**Is your feature request related to a problem? Please describe.**
I'm currently trying to build a java gui browser for pulsar, however, I found that pulsar jars are not compatible with java 9.

**Describe the solution you'd like**
Please consider to support the java 9 modular system.

**Additional context**
I'm using javafx/jdk11, and the shaded libraries(client.jar/client-admin.jar, etc) seems t

[2022-05-10 07:55] Anonymitaet commented on #15514
Fix in https://github.com/apache/pulsar/pull/15515

[2022-05-10 08:24] poorbarcode commented on #15370
@eolivelli @hangc0276 @codelipenghui @merlimat @rdhabalia @315157973 @congbobo184 @gaoran10

I have sended email. Could you take a look. Thanks

https://lists.apache.org/thread/mfgctq88oocj30h3yh69hh8vqps4rgdb

[2022-05-10 08:33] hpvd commented on #15500
sorry for bothering again, just upcounting 1 doesn't do the trick: There is already PIP 157, see PIP-157: Bucketing topic metadata to allow more topics per namespace https://github.com/apache/pulsar/issues/15254
@lhotari could you help?

[2022-05-10 09:46] leizhiyuan commented on #14902
ok， next time I will keep it

[2022-05-10 12:01] gus-maurizio commented on #15477
It works with version 3.8 from brew, but fails with 3.10.

[2022-05-10 12:53] eolivelli opened #15528 "PIP-161 Exclusive Producer: new mode ExclusiveWithFencing"
## Motivation

In [PIP-68](https://github.com/apache/pulsar/wiki/PIP-68%3A-Exclusive-Producer) we introduced two access modes for the Producer:
- Exclusive: The producer is the only one who can publish to the topic. Fail if there is another Exclusive Producer connected to the topic while creating the new Producer.
- WaitForExclusive: Like Exclusive, but instead of Failing we are going to wait for

[2022-05-10 13:29] Shoothzj commented on #15471
@equanz Sorry for my late reply, I don't save the full stacktraces. But I think it's easy to reproduce using lower-version client like 2.8.0.

[2022-05-10 14:15] b0mbays commented on #15477
Are you seeing the same error on your machine as well?

[2022-05-10 15:31] gus-maurizio commented on #15477
yes, same exact error. I switched to 3.8.x (whatever brew installed) and the problems went away. My guess is that the library is somehow missing for 3.10. `_pulsar.cpython-310-darwin.so`
Works in 3.9 as well. so seems the problem is limited to 3.10 version of python.

[2022-05-10 15:33] gus-maurizio commented on #15477
Actually the library is indeed there: `/usr/local/lib/python3.10/site-packages/_pulsar.cpython-310-darwin.so` but it lacks some linked modules: `Symbol not found: __ZN5boost6python6detail13current_scopeE`

[2022-05-10 15:33] gus-maurizio commented on #15477
so if the powers that be can relink it it might solve the issue.

[2022-05-10 17:16] dave2wave opened #17900 "Data driven pages - How to Submit New Content"
There needs to be a way for users to submit new content for these pages on these pages.

The javascript files that contain this data are here - https://github.com/apache/pulsar-site/tree/main/site2/website-next/data

- ? - [connectors.js](https://github.com/apache/pulsar-site/blob/main/site2/website-next/data/connectors.js) is this still live?
- Ecosytem - [ecosystem.js](https://github.com/apache/

[2022-05-10 18:04] nvmav opened #15532 "java.lang.NoClassDefFoundError: org/apache/pulsar/shade/com/google/common/primitives/Ints"
I am trying to consume from pulsar topic. But, I am not able to consume. It is throwing NoClassDefFoundError. how can this be resolved?

pulsar client version: 2.10
pulsar server version: 2.10
OS: Ubuntu 20.04.4 LTS
installation type: standalone(not docker)
java sdk version: 11 & 17

consumer code:

[code]

schema for my topic:

[code]

I am seeing below error:

[code]

[2022-05-10 21:06] michaeljmarshall commented on #15492
As far as I can tell, this bug only affects the `/broker-stats/metrics` endpoint on brokers. The `/metrics` endpoint has the correct logic.

[2022-05-10 21:15] heesung-sn commented on #15523
Please refer to this runtime Java version recommendation, https://github.com/apache/pulsar#pulsar-runtime-java-version-recommendation

[2022-05-10 22:44] lonerzzz opened #15536 "Exception: Failed to build bookie server should include more end user applicable information for problem diagnosis."
**Is your enhancement request related to a problem? Please describe.**
The enhancement is related to a problem. I encountered an issue that gives an unhelpful exception and could not find the root cause, only other issues raised where the cause was not clearly stated. The exception that is raised "Failed to build bookie server" should be converted to friendly English so that when it happens, a per

[2022-05-11 01:44] #15463 closed

[2022-05-11 02:11] #15094 closed

[2022-05-11 03:12] wuxuanqicn commented on #15484
@xyhmnb Please provide more information, for instance curl with "-v" option.
As you mentioned, proxy server is used to forward request, relative log maybe helpful too.

![image](https://user-images.githubusercontent.com/89442834/167760405-0d6a2ab2-af8a-44f0-83fe-775c7475e15a.png)

[2022-05-11 04:27] Technoboy- commented on #15349
I only know to add vm options `--add-opens=java.management/sun.management=ALL-UNNAMED` ` --add-opens=java.base/sun.net=ALL-UNNAMED` could solve the issue

[2022-05-11 04:31] Technoboy- commented on #15278
We have fixed this by https://github.com/apache/pulsar/pull/13890 and released in pulsar 2.10.0

[2022-05-11 04:31] #15278 closed

[2022-05-11 04:53] lhotari commented on #14861
@zymap This seems to be related to #10439 .

[2022-05-11 04:58] lhotari commented on #10439
related: #14861 and  https://github.com/apache/bookkeeper/pull/3139

[2022-05-11 05:33] eolivelli commented on #15532
Do you have other libraries in the claspath ?
Which client are you using? pulsar-client (shaded) or pulsar-client-original (with explicit dependencies?)

[2022-05-11 05:44] nvmav commented on #15532
@eolivelli This is my pulsar client library

[code]
How do I check other libraries in classpath?

[2022-05-11 07:20] zymap commented on #14861
Yes

[2022-05-11 07:30] Anonymitaet opened #15538 "[Discussion] New Pulsar Website"
[We've launched the New Pulsar Website on May 11, 2022 (UTC +8).](https://lists.apache.org/thread/7nx3rm3cmpbw0ws1b62k17935xgyw2tj)

Now everything goes fine except for a few known issues as below.

### `Search` does not fully work
🙌 Status: WIP.
🙌 Technical details and progress see [here1](https://apache-pulsar.slack.com/archives/C02Q4JLUB38/p1649233950692869) and [here2](https://apache-pulsar.sl

[2022-05-11 07:35] mattisonchao opened #15539 "JvmDefaultGCMetricsLogger cannot access class sun.management.ManagementFactoryHelper"
**Describe the bug**
The following error was found when running test with JDK 17.

[code]

[2022-05-11 08:33] b0mbays commented on #15477
Which Python 3.9 version are you using? When using Python 3.9.7 and pulsar-client 2.10.0 (or 2.9.2) i'm getting:

`segmentation fault`

Thanks!

[2022-05-11 09:03] #14472 closed

[2022-05-11 09:18] zwOvO opened #15542 "ISSUE-15542: [Doc] Invalid hyperlink for Apache BookKeeper Upgrade guide"
### What issue do you find in Pulsar docs?

Invalid hyperlink for Apache BookKeeper Upgrade guide

### What is your suggestion?

Update hyperlink

### Do you have any references?

https://bookkeeper.apache.org/docs/next/admin/upgrade/

### Would you like to fix this issue?

yes

### Note

- [X] I have researched my question.

[2022-05-11 10:19] xyhmnb opened #15546 "REST API Redirect（307） location is error"
**Describe the bug**
i use the rest api to send message,but it return the err.
![image](https://user-images.githubusercontent.com/30762020/167828304-58d93fc5-7059-46d8-aadc-e4cd5ec8241f.png)

the 105 broker donnt own the topic（my1）

**To Reproduce**
1. create some topics on the Cluster.
2. select one topic and one broker.（the broker donot own this topic ）
3. use the rest api to send message

becau

[2022-05-11 10:22] xyhmnb commented on #15546
@wuxuanqicn hello, I described the problem well, can you help me?

[2022-05-11 10:57] hpvd commented on #15538
looks awesome!!

when looking in devtools (firefox) there seems to be a small error:
![2022-05-11_12h55_29](https://user-images.githubusercontent.com/5681880/167833801-44c6b9b7-7960-4722-9477-dc6b2050060e.png)

[2022-05-11 11:15] hpvd commented on #15538
it's a little bit irritating that not the latest release is advertised (probably missing blog content...maybe linking to changelog https://github.com/apache/pulsar/releases/tag/v2.10.0 ?)
![2022-05-11_13h11_05](https://user-images.githubusercontent.com/5681880/167836690-051a5569-34b2-4d52-80c5-7b371f2b61c5.png)

[2022-05-11 11:17] hpvd commented on #15538
stunning fast!

[2022-05-11 11:19] hpvd commented on #15538
depending on browser used: the step is less or more visible:
![2022-05-11_13h17_08](https://user-images.githubusercontent.com/5681880/167837437-037e916c-60b7-49f1-a02d-ade90859e1a2.png)

[2022-05-11 12:06] #15542 closed

[2022-05-11 14:22] nodece commented on #15351
If you are using the Pulsar with docker, maybe you need to check the user permission.

[2022-05-11 18:51] surahman commented on #15445
This is a very interesting issue to examine.

I think the time bound is likely `O(n*log(n))` due to the `TreeSet` generation (sorting) here:
https://github.com/apache/pulsar/blob/2b2e0c50183c71e954f5c6e8bfcd7e36130279a5/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/MessageRedeliveryController.java#L116

[2022-05-12 01:52] leizhiyuan opened #15549 "metadata-store thread will running too long and occurs timeout of admin api when allowTopicOperation"
**Describe the bug**

same issue https://github.com/apache/pulsar/issues/15324
A clear and concise description of what the bug is.

[code]
[10342.log](https://github.com/apache/pulsar/files/8674446/10342.log)

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complet

[2022-05-12 02:32] leizhiyuan commented on #15549
it seems https://github.com/apache/pulsar/pull/14153 will fix this？

[2022-05-12 03:35] Anonymitaet opened #15550 "[Improvements] New Pulsar Website"
We launched the [New Pulsar Website](https://pulsar.apache.org/) on May 11, 2022.

If you have more suggestions on the website, feel free to discuss [here](https://github.com/apache/pulsar/issues/15538).

➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖

This issue records the improvements that will be implemented based on our consensus.

Please submit your code to the [pulsar-site repo](https://github.com/apache/pul

[2022-05-12 03:53] Anonymitaet commented on #15538
@hpvd Thanks for raising this up! @Paul-TT will look into #1 and #3 issues.

[2022-05-12 03:56] Anonymitaet commented on #15538
@hpvd Now the latest tech blog is 2.9.2.
2.10 tech blog is not available, @DaveDuggins is working on it, stay tuned.

[2022-05-12 04:14] dave2wave commented on #15538
This is the animated sine wave graphic. @hpvd di this ever animate? What brower, version, and os are you on? Do you allow javascript or block it?

[2022-05-12 04:17] dave2wave commented on #15538
Here's what I see on macOS Catalina, Firefox 99.0.1
<img width="1187" alt="Screen Shot 2022-05-11 at 9 14 51 PM" src="https://user-images.githubusercontent.com/29803617/167991114-1a03ab33-d692-48bb-b771-189c8e1c179d.png">

[2022-05-12 04:24] Technoboy- commented on #15549
Not fixing.

[2022-05-12 05:30] eolivelli commented on #15124
@HelenParr thanks for your detailed report.

For the future: if you know a security related problem please do to report on GH, that automatically means disclosing it to the public.
The process is to send a message to private@pulsar.apache.org or security@apache.org

We can update the library (@nicoloboschi FYI)

[2022-05-12 05:48] equanz commented on #15471
I've created the PR https://github.com/apache/pulsar/pull/15502 to fix the issue.

And I forgot the specification written below.
https://github.com/apache/pulsar/pull/15502#issuecomment-1122374761

[2022-05-12 06:18] BajrangDubeyPersistent commented on #15351
I have root privileges too and have also tried using TLS in root user but it didn't work. I also used chmod to change permission to 777 to make sure it is readable. Still for some reason, it is trying to fetch lastModified time and then is unable to locate file too.

[2022-05-12 06:30] leizhiyuan opened #15555 "setbacklog will fail if retention policies cache not updated immediately"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. set retention policies which routed to broker 1
2. set backlog policies which routed to broker 2
3. broker 2 checkBacklogQuota which will fail sometimes

![image](https://user-images.githubusercontent.com/2684384/168006030-09758fb0-214d-4152-bc33-7f7c121301be.png)

because

[2022-05-12 06:49] momo-jun commented on #15522
Hi @tuteng , this issue has been addressed in #15526 . Can you pls review that PR? Thanks.

[2022-05-12 07:07] hpvd commented on #15538
@dave2wave

seems like a grabbed an extreme case with Firefox 100 @ W10 @ 4K screen, everything is animated perfectly, js active..
![2022-05-11_13h17_08](https://user-images.githubusercontent.com/5681880/168011964-2ec6b069-b4aa-4a8f-8b46-38c4cd11995b.png)

[2022-05-12 07:09] hpvd commented on #15538
@dave2wave
in other environments it's visible but not that extreme:

always latest browser versions:

![2022-05-12_08h55_06](https://user-images.githubusercontent.com/5681880/168012331-efcc1db6-f056-4751-bba4-cb4b119fb494.png)
![2022-05-12_08h57_05](https://user-images.githubusercontent.com/5681880/168012336-d4fdb080-3fe6-47e8-ab21-21414da39b86.png)
![2022-05-12_09h02_07](https://user-images.githu

[2022-05-12 07:44] asafm commented on #15333
I think the numbering collides as there is an existing [PIP-156](https://github.com/apache/pulsar/issues/15207)

[2022-05-12 08:22] xuesongxs opened #15559 "Producer can‘t continue sending messages after all brokers are restarted"
**Describe the bug**
Pulsar v2.8.1
Pulsar cluster: 3 brokers
Producer can‘t continue sending messages after all brokers are restarted.

**To Reproduce**
Steps to reproduce the behavior:
1. Create producer
[code]
2. Run producer
3. After sending 100 messages, stop all brokers
4. See producer's log
[code]
5. Start all brokers
6. See producer's log
[code]
Creating producer success, but producer can‘t

[2022-05-12 08:30] Technoboy- commented on #15333
Thanks, I have updated it to PIP-162.

[2022-05-12 08:41] nodece commented on #15351
Could you provide a docker image to reproduce this issue?

[2022-05-12 08:43] BajrangDubeyPersistent commented on #15351
apachepulsar/pulsar-all 2.8.2 using this image with documentation from https://pulsar.apache.org/docs/security-tls-transport/

[2022-05-12 08:46] shibd opened #15560 "PIP-166: Function add `MANUAL` delivery semantics"
Discussion thread: https://lists.apache.org/thread/4f2w1mqvhhs3mvccbcg2sk19b60xwkgf
Vote thread: https://lists.apache.org/thread/1ojcc12sxd87nz49yrflk8jv2nk98hvr (Pass)

## Motivation

Currently, Function supports three delivery semantics and also provides autoAck to control whether to automatically ack.
Because autoAck affects the delivery semantics of Function, it can be confusing for users to u

[2022-05-12 08:51] boatrainlsz opened #15561 "[Doc] The contributing page URL in CONTRIBUTING.md is not correct"
### What issue do you find in Pulsar docs?

The contributing page URL(https://pulsar.apache.org/en/contributing) in CONTRIBUTING.md is not correct, as shown below:
![image](https://user-images.githubusercontent.com/18243785/168031011-0fd525fd-3494-4f03-9454-f479942ea979.png)
after some researching, I think the right URL might be https://pulsar.apache.org/contributing.

### What is your suggestion?

[2022-05-12 11:36] b0mbays opened #15565 "Pulsar-Client: segmentation fault"
Hi, i'm getting a 'segmentation fault' when importing the pulsar-client(2.10.0 or 2.9.2) inside a Python 3.9.X virtual environment.

I'm using Mac OS 12.3.1 and others in my team are reporting the same error.

Thanks

[2022-05-12 18:25] Paninka commented on #15476
Thanks, I did that and now the sink reconnects after a shutdown of Postgresql. But sometimes It loses some data after this reconnection happens, I think It's because of the batch size.

[2022-05-13 01:46] codelipenghui commented on #15565
@b0mbays Could you please provide the complete error stack?

[2022-05-13 02:45] Anonymitaet commented on #15538
I got much negative feedback about the **blue** background color, it **decreases readability significantly**.

They prefer the **white** background color as before, which looks more clearly.

Feel free to +1 if you feel the same, thanks!

[2022-05-13 03:13] jinmu003 commented on #15538
Can we redesign this part?
<img width="603" alt="Screen Shot 2022-05-12 at 8 09 32 PM" src="https://user-images.githubusercontent.com/103222375/168204155-80c233ce-0d03-4d72-b089-61a8267d878b.png">

[2022-05-13 03:35] Technoboy- commented on #15559
From you demo, when the brokers restart, the client throws exception. so it can't send anymore.

[2022-05-13 06:34] Anonymitaet commented on #15538
Hi @jinmu003 thanks for your feedback! Can you explain more about your requirements? Do you mean re-categorize the industries or something else?

P.S. We plan to [add filters for the Case Studies page](https://github.com/apache/pulsar/issues/15550) to keep things organized.  .
<img width="954" alt="image" src="https://user-images.githubusercontent.com/50226895/168224688-82d3a5a0-1dcb-46df-bfb3-a0f

[2022-05-13 06:38] Shawyeok commented on #15131
Fixed in https://github.com/apache/pulsar/pull/15570

[2022-05-13 06:38] #15131 closed

[2022-05-13 08:30] yebai1105 commented on #15341
Unacknowledged messages will be redelivered by default. If A acked message can not be redeliver again, what is the role of "negativeAcknowledge"?In what scenarios is the "negativeAcknowledge" parameter used?

[2022-05-13 09:58] zfchai opened #15584 "Dapr Pub/sub brokers for Pulsar"
**Dapr Pub/sub for Pulsar**
Look forward to the functional enhancement of the components of pulsar and dapr pub/sub brokers, the current state is only Alpha, look forward to the combination of the two, enter the Stable state as soon as possible.

**Dapr Pub/sub brokers**
Check out the combination of dapr and pulsar pub/sub: https://docs.dapr.io/reference/components-reference/supported-pubsub/

[2022-05-13 10:18] ca-simone-chiorazzo opened #15585 "[python] Pulsar Client 2.10.0 package is missing from PyPi for Macosx 12"
On Pypi, there are only wheels built for MacOS 11. The current stable version of macOS is the 12 and I would expect to have wheels built also for such a version

[2022-05-13 10:40] Shawyeok commented on #5202
We are suffering from same problem here, msgBacklog is 40k+ but real msgBacklog is 0. It is annoying cause it'll trigger alert but there isn't any real backlog.

Stats with `preciseBacklog=false`
[code]

internal-stats
[code]

[2022-05-13 10:41] gvolpe commented on #15189
@Technoboy- I came back from my holidays and tried to reproduce this but it no longer happens in my application 🤷🏽. There was probably some bad state either in my Pulsar broker or in my services, can't know for sure.

I also created an isolated application to try and reproduce this issue I had with the steps I had documented, but it turned out unsuccessful, which is good news! There is no such a b

[2022-05-13 13:09] #15522 closed

[2022-05-13 13:32] zbentley commented on #6477
This remains a problem with the current client. For SIGINT to be received by a Python program, you have to do one of two thigns:
- call `receive` with a timeout, in which case the signal will be received after the timeout.
- use a `message_listener` handler, which really changes guarantees and behavior.

Other network service drivers are interruptible when in their `receive` operation; can this on

[2022-05-13 13:35] hpvd commented on #15538
what do think of documenting and highlighting the project quality with hard facts and numbers
using automatic badges summarizing some interesting/important quality markers?

e.g.
activity: date of latest commit, latest release, number of contributers
check status: tests, owasp-dep-check
popularity: number of downloads

this could be done either on the new website
or in the readme.md shown on githu

[2022-05-13 14:57] #15423 closed

[2022-05-13 15:02] nodece commented on #15351
Sorry, I cannot reproduce this issue by using apachepulsar/pulsar-all:2.8.2.

[2022-05-13 15:55] #15071 closed

[2022-05-13 17:27] zbentley commented on #8722
The feature @asgeirrr describes would be incredibly useful for us. One or both of two things (the first probably easier than the second to implement) would be ideal:
- Redelivery count to be provided on a per-subscription basis, rather than on a per-message basis. I.e. if consumer A connects on subscription X, gets message 123, then crashes before acking it, consumer B (A's replacement) would see

[2022-05-13 19:44] michaeljmarshall opened #15597 "PIP-167: Make it Configurable to Require Subscription Permission"
Mailing list thread: https://lists.apache.org/thread/x6zg2l7hrtopd0yty93fhctsnm9n0wbt

## Motivation

Pulsar supports subscription level authorization. When combined with topic level authorization, a user can configure Pulsar to limit which roles can consume from which topic subscriptions. However, when this feature is left unconfigured for a subscription, a role that has permission to consume fro

[2022-05-13 22:08] zbentley commented on #13156
This feature would be very useful for numerous use cases of ours.

[2022-05-13 22:10] dave2wave commented on #15538
Who is the "we" here? On what channel was this feedback received?

[2022-05-14 01:33] #15514 closed

[2022-05-14 04:29] Technoboy- commented on #15561
Fixed by https://github.com/apache/pulsar/pull/15595

[2022-05-14 04:29] #15561 closed

[2022-05-14 04:30] Technoboy- commented on #15546
Fixed by #15551

[2022-05-14 04:30] #15546 closed

[2022-05-14 04:52] michaeljmarshall commented on #11269
The last requirement for completing non-root feature support is updating the helm chart. Here is the PR to make the non-root docker image fully supported in the Pulsar ecosystem: https://github.com/apache/pulsar-helm-chart/pull/266.

[2022-05-14 05:40] #15471 closed

[2022-05-15 16:50] zbentley opened #15609 "[2.8.1] [broker] ProducerBlockedQuotaExceeded error occurs on partitioned topics without a backlog"
# Describe the bug
Using partitioned topics and KeyShared subscriptions, when a time-based quota is exceeded, the quota is not properly "cleared", so producer creation and publication still gets ProducerBlockedQuotaExceeded even when there is no backlog on the topic.

Unloading the topic temporarily resolves the issue, but it reoccurs.

# Behavior

Earlier today, we had a production user with a to

[2022-05-15 17:00] zbentley commented on #15609
Broker logs during the `unload` of a wedged topic attached here.
[Logs.txt](https://github.com/apache/pulsar/files/8695459/Logs.txt)

[2022-05-15 17:24] zbentley opened #15610 "Python pulsar-client 2.8 is not compatible with broker 2.10.0"
**Describe the bug**
The Python `pulsar-client` package at version 2.8.1 on Macos cannot connect to Pulsar brokers at version 2.10.0.

**To Reproduce**
1. Ensure a 2.10 broker standalone instance is running (I used `brew install apache-pulsar` and confirmed the version with `brew info apache-pulsar`).
1. With a working Python environment, do `pip install 'pulsar-client>2.8'`
1. Do `python -c "impo

[2022-05-15 17:36] zbentley commented on #15433
@mattisonchao I suspect that the use of `pulsar-admin` is inducing too much latency to reproduce the issue, as `pulsar-admin` takes some time to start. We use a custom ORM to interact with Pulsar admin objects; below I have captured the HTTP calls made by the ORM in a situation that reproduces this bug. The steps are roughly the same (create namespace with various configs, create a topic in it, im

[2022-05-16 01:53] merlimat commented on #15610
@zbentley It looks some weird stuff with the local DNS.

I can repro locally too and switching the url to `pulsar://127.0.0.1:6650` works. I don't think the 2.10 broker is involved at all in the interaction.

The 2.8.1 client is connecting to the IPv6 address first and not trying any other one:

<img width="1105" alt="image" src="https://user-images.githubusercontent.com/62500/168506715-1d1340de-1

[2022-05-16 02:07] #15484 closed

[2022-05-16 02:40] Technoboy- commented on #15609
It seems that one of the consumers is not ack the msg.
Could you share the partitioned-internal-stats of the topic?

[2022-05-16 03:13] Anonymitaet commented on #15550
@zrsaber will finish issues 2 & 4

[2022-05-16 05:32] #15073 closed

[2022-05-16 07:28] leizhiyuan opened #15618 "delete namespace will fail if cache not updated immediately"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. create namespace which routed to broker 1
2. delete namesapce which routed to broker 2

broker2 find no ns in cache，will return fail

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to he

[2022-05-16 08:11] hpvd commented on #15538
@Anonymitaet  showing github stars on the website as already planned in https://github.com/apache/pulsar/issues/15550 task 4
goes into the same direction as proposal in https://github.com/apache/pulsar/issues/15538#issuecomment-1126064195

The other markers named there, goes more into detail and give every prospect/interested party and also existing users a great peace of mind to use / to start us

[2022-05-16 08:44] Anonymitaet commented on #15538
@hpvd thanks for your valuable suggestions! Adding badges to README.md is a good way to show community growth.

[2022-05-16 08:45] Anonymitaet commented on #15538
@dave2wave Pulsar Website User Survey and Slack.

[2022-05-16 11:01] hpvd commented on #15538
two things that are not that great for seo (ranking in search engines) and accessibility:

- alt tag of pulsar logo is misspelled
- title of svg (images) are pretty generic
-
![2022-05-16_12h56_30](https://user-images.githubusercontent.com/5681880/168578738-1481ce84-c4b5-4aae-8620-a003fb62307c.png)

![2022-05-16_12h53_48](https://user-images.githubusercontent.com/5681880/168578811-fe606c12-80f6-49

[2022-05-16 13:24] zbentley commented on #15610
Is this a regression of https://github.com/apache/pulsar/issues/11950 ?

[2022-05-16 15:10] gaoyanliang commented on #15043
I'll take care of （Namespaces - deleteSubscribeRate / setSubscribeRate / getSubscribeRate）, please assign to me

[2022-05-16 18:29] james-bright-helix commented on #14079
@mattisonchao did you manage to get a cluster running to reproduce in the end? As discussed on slack it must be a cluster and not a standalone instance to reproduce.

[2022-05-16 21:32] dave2wave opened #15624 "PIP 163: LTS Releases"
## Motivation

Some users of Pulsar cannot move as quickly as development does. In order to better support users we should declare certain release versions to be "Long Term Supported" or **LTS**

One motivation to declare a version LTS would be if the next version requires an environmental change like an update to the JDK version, or a major protocol change.

## Goal

For each version that we want

[2022-05-17 00:26] Anonymitaet commented on #15538
@hpvd good catch! We'll update them

[2022-05-17 02:10] Nicklee007 opened #15625 "[Broker] Logging in shutdown could not print gracefully"
**Describe the bug**
Logging in shutdown could not print gracefully when broker shutdown.

**To Reproduce**
Steps to reproduce the behavior:
1. start broker and stop broker few min later.

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
When shutdown broker, the logging could not print fully, and there can not print if there has some exception

[2022-05-17 06:11] momo-jun opened #15629 "[Doc] Add concepts to explain failure domain and anti-affinity group"
### What issue do you find in Pulsar docs?

As raised by @heesung-sn, docs about failure domain and anti-affinity group are not in place.

### What is your suggestion?

Add concepts to explain failure domain and anti-affinity group, and links to related APIs/configs.

### Do you have any references?

PIP: https://github.com/apache/pulsar/wiki/PIP-7:-Pulsar-Failure-domain-and-Anti-affinity-namespac

[2022-05-17 06:22] merlimat commented on #15610
Yes. That fix was backported to 2.8.2 and that's why 2.8.1 has the issue

[2022-05-17 06:44] gaozhangmin opened #15630 "Pulsar standalone failed start , Master Branch"
Branch - Master

The   detail log:
[code]

According to the code
https://github.com/apache/pulsar/blob/f90ef9c6ad88c4f94ce1fcc682bbf3f3189cbf2a/pulsar-zookeeper-utils/src/main/java/org/apache/pulsar/zookeeper/LocalBookkeeperEnsemble.java#L371-L386

It should create the missing namespace, If `NamespaceNotFoundException ` occurred. But I cannot found corresponding log
`"Creating default namespace"`.

[2022-05-17 08:20] coderzc opened #15631 "[PIP-168] Support zero-copy of NIC to NIC on Proxy"
Mailing list thread: https://lists.apache.org/thread/gjys9tvbd5hy28mbkbcq7wkqfldycn7v

## Motivation

Currently, when the `Proxy` server transfer data will have four triggered the user mode and kernel mode of context switching, respectively is the read() / write() call and return when cut, it is inefficient for the `Proxy`.

There is an efficient way of reducing the times of copies of data and red

[2022-05-17 12:09] gaozhangmin commented on #15630
[code]
previous version would throw above exception. master didn't

[2022-05-17 12:13] gaozhangmin commented on #15630
@merlimat  it may related with this pr #15212

[2022-05-17 13:30] zbentley commented on #15609
Here are the internal stats:
[code]

[2022-05-17 13:37] zbentley commented on #15609
@Technoboy if a consumer is not acking a message, how come Prometheus reports no messages in backlog, and a zero or negative backlog size? Similarly, it reports no subscription backlogs. That also wouldn't explain why unloading the topic solves the problem.

Grafana screenshots below:
<img width="1394" alt="Screen Shot 2022-05-17 at 9 36 13 AM" src="https://user-images.githubusercontent.com/109991

[2022-05-17 16:01] lhotari commented on #15630
@gaozhangmin I cannot reproduce the issue.

I do get the `Namespace 'default' is not found` in logs, but the namepsace is successfully created.
[code]

What are the steps to reproduce in your case? Can you reproduce if you remove the `data` directory?

[2022-05-17 21:26] heesung-sn commented on #11677
Hi,

Just to revive this thread, do we have any performance regression tests in apache/puslar CI? Is the [pulsar-fallout] currently (https://github.com/datastax/pulsar-fallout) used in the CI tests?

[2022-05-17 23:44] momo-jun commented on #14967
Hi @eolivelli I can do the information design work. Can you pls provide source material in a google doc?

[2022-05-18 01:45] Anonymitaet commented on #15538
@zhaoyajun2009 thanks for your feedback! We need to check other people's thoughts on this.
If you feel the same, please 👍

[2022-05-18 01:45] Anonymitaet commented on #15538
@zhaoyajun2009 thanks for your feedback! We need to check other people's thoughts on this.
If you feel the same, please 👍 on @zhaoyajun2009's comment.

[2022-05-18 02:12] BewareMyPower opened #15639 "[Admin] Support updating schema"
**Is your feature request related to a problem? Please describe.**
Pulsar HTTP server support updating the schema of a topic.

https://github.com/apache/pulsar/blob/132ba4ad8e3808923b2c8b0a9fa5db5a8d413542/pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/SchemasResource.java#L161-L165

However, it looks like there is no associated method in `PulsarAdmin`, see [Schemas.java](https://gi

[2022-05-18 02:29] gaozhangmin commented on #15630
@lhotari   Sorry for accidentally deleting your comment.
That's weird, just start standalone normally. no special configuration.

[2022-05-18 02:30] Demogorgon314 commented on #15639
Can you assign this issue to me?

[2022-05-18 04:01] BewareMyPower commented on #15639
The `Schemas#createSchema`  admin API just sends the POST request. However, it doesn't return the schema version in [PostSchemaResponse](https://github.com/apache/pulsar/blob/master/pulsar-common/src/main/java/org/apache/pulsar/common/protocol/schema/PostSchemaResponse.java)

[2022-05-18 05:25] lhotari opened #15643 "Shutting down broker hangs in ModularLoadManagerImpl.disableBroker"
Tests sporadically get stuck in the broker shutdown sequence. This could also be a production code issue.

Relevant stack traces:

[code]

[code]

Full thread dump in [jstack.review](https://jstack.review/?https://gist.github.com/lhotari/ec2144c43ecbc12ac698e99657877886#tda_1_tg_28)

This seems to be related to a race condition in the shutdown sequence.

https://github.com/apache/pulsar/blob/e268d

[2022-05-18 05:37] lhotari commented on #15643
One observation is that LockManagerImpl's asyncClose method doesn't wait for locks to be released:
https://github.com/apache/pulsar/blob/12ca27fa800c72b0c9a6e7f2583a9daa2497add9/pulsar-metadata/src/main/java/org/apache/pulsar/metadata/coordination/impl/LockManagerImpl.java#L181-L185

This could cause a race.

[2022-05-18 05:47] MrKong6 opened #15644 "Bookie存储占用的存储一直不释放，且没有topic堆积（三节点bookie）"
![image](https://user-images.githubusercontent.com/19570750/168966111-216bdd58-632d-4819-a539-c74f67862eaa.png)
![image](https://user-images.githubusercontent.com/19570750/168966154-3fe1aa96-b7e3-4b7e-b1b8-2d8f9fbd5b5f.png)
![image](https://user-images.githubusercontent.com/19570750/168966205-bf4714e5-dc0d-4e78-af48-a017e7bcec93.png)

[2022-05-18 05:48] MrKong6 commented on #15644
版本是2.4.0

[2022-05-18 06:40] zfchai opened #15647 "[2.10.0] ERROR org.apache.pulsar.zookeeper.LocalBookkeeperEnsemble - Exception while instantiating ZooKeeper"
**docker image version**

![25317113938999ae9532727d63bedd2](https://user-images.githubusercontent.com/82487746/168973649-1090921a-7cad-48c6-8597-de5551a51b1b.png)

**docker start command**

docker run -it -p 6650:6650 -p 8080:8080 --mount source=pulsardata,target=/pulsar/data --mount source=pulsarconf,target=/pulsar/conf --name pulsar apachepulsar/pulsar:2.10.0 bin/pulsar standalone

**log error

[2022-05-18 07:44] lhotari opened #15650 "Broker doesn't get killed when the shutdown exceeds brokerShutdownTimeoutMs"
**Describe the bug**

Broker should get killed after brokerShutdownTimeoutMs, which is 60 seconds by default.

[code]

I have noticed that sometimes broker pods don't get stopped and pods will have to be manually killed.

**To Reproduce**

I haven't found a way to reproduce the problem.

**Expected behavior**

Broker should get killed after brokerShutdownTimeoutMs

**Additional context**

It looks

[2022-05-18 07:54] lhotari commented on #15643
another failure today: https://github.com/apache/pulsar/runs/6483941218?check_suite_focus=true#step:11:531

[2022-05-18 08:02] lhotari opened #15652 "Flaky-test: Failed to get tenant admin data for tenant public"
There's a common problem in tests which make them flaky "Failed to get tenant admin data for tenant public" happens when creating a namespace.

[example failure](https://github.com/apache/pulsar/runs/6484025367?check_suite_focus=true#step:12:17310)

[code]

[2022-05-18 08:26] lhotari commented on #15652
Similar problem in a completely different test.
[code]

[2022-05-18 08:30] lhotari commented on #15652
@Technoboy- Have you seen these errors? asking, since #15518 changes seem in the same area where these timeouts happen.

[2022-05-18 08:33] lhotari commented on #15652
3 integration/system test failures in a single workflow run, all caused by the same issue:
https://github.com/apache/pulsar/runs/6484025367?check_suite_focus=true
https://github.com/apache/pulsar/runs/6484269027?check_suite_focus=true
https://github.com/apache/pulsar/runs/6484269298?check_suite_focus=true

[2022-05-18 08:36] lhotari commented on #15652
Another one, https://github.com/apache/pulsar/runs/6485278752?check_suite_focus=true

[2022-05-18 09:05] lhotari commented on #15652
#15603 might be one of the changes to check as well.

I'm running an experiment where I revert both #15603 and #15518 to see if that makes a difference.

[2022-05-18 09:13] lhotari commented on #15652
Yet another flaky failure from another PR, https://github.com/apache/pulsar/runs/6463528996?check_suite_focus=true . That failed in @wolfstudy 's PR #15628 .

[2022-05-18 09:30] #15149 closed

[2022-05-18 12:10] Technoboy- commented on #15652
Make a fix here https://github.com/apache/pulsar/pull/15605/commits/d2c0fc8360cbdf247921d540a1ee2dc64b6bcfe9

[2022-05-18 12:27] lhotari commented on #15652
@Technoboy- looks good, is that already in a PR?

[2022-05-18 12:37] Technoboy- commented on #15652
It contains in https://github.com/apache/pulsar/pull/15605.

[2022-05-18 12:40] BewareMyPower opened #15655 "[Doc] SchemaDefinition must be used to create Avro schema in a certain case"
### What issue do you find in Pulsar docs?

Currently Pulsar docs only shows a simple way to create Avro schema. See https://pulsar.apache.org/docs/next/schema-understand#usage.

Given the following `User` class:

[code]

We can create an producer with Avro schema like:

[code]

However, if the class has a nullable field with a default value like:

[code]

We must create the Avro schema via a `Sch

[2022-05-18 12:42] lujiwen commented on #15152
I have the same problem with pulsar-2.10.0

[2022-05-18 13:36] BewareMyPower commented on #15655
In addition, the description of **Changes allowed** column in [Schema compatibility check strategy](https://pulsar.apache.org/docs/next/schema-evolution-compatibility#schema-compatibility-check-strategy) is wrong.

Optional fields, which are decorated with `@AvroDefault` annotation, can be added or deleted for all strategies other than `ALWAYS_INCOMPATIBLE`. The description "Modify optional fields

[2022-05-18 14:07] BewareMyPower commented on #15639
The design of the `Schemas#createSchema` API is bad but it does exist. For compatibility, it's better not to add a new API.

At the moment we can implement the **correct API** by:

[code]

[2022-05-18 14:08] hpvd commented on #15538
doc/connectors:

- tiny: should be plural (see attachment)
- when following link to "elastic search" config: the menu disappears
https://pulsar.apache.org/docs/io-elasticsearch-sink/
- "elastic" could not be found by search

![2022-05-18_16h03_01](https://user-images.githubusercontent.com/5681880/169061472-5685dbae-273b-47e2-bf17-a3c98dc28cd5.png)

![2022-05-18_16h03_46](https://user-images.github

[2022-05-18 14:54] hpvd commented on #15538
the visible structuring of blog-posts is not that clear,
for comparison, simple release notes are much easier to understand
- both at 100% zoom:
![2022-05-18_16h46_24](https://user-images.githubusercontent.com/5681880/169071806-28c1226f-eca0-4e01-9a87-d2a0d5acbea5.png)

[2022-05-18 20:49] dave2wave opened #17899 "Sitemap URLs should have the trailing '/'"
In the website many urls are left bare without the trailing '/'. The website redirects these to the url with the '/'. In working with the Algolia crawler it spends time scanning one and then the other.

I think if the `sitemap.xml` was generated with the '/' then we might get better search results from a google search.

For example:
[code]

[2022-05-18 21:08] dave2wave opened #17898 "Only Index Docs from Currently Supported Versions"
In Algolia there is a crawler configuration which skips "incubating" docs. I think that we should stop creating an index for versions of pulsar components which are no longer supporting.

(1) We can either remove these pages from the site.

or more likely

(2) Include those versions in the exclude pattern.

[2022-05-18 23:44] heesung-sn commented on #15207
Hi ,
As a follow-up task here, I have a proposal to update pulsar server default GC configs. I tried to summarize the details in my fork PR: https://github.com/heesung-sn/pulsar/pull/1, and It would be great if I could get some early feedbacks.

[2022-05-19 00:08] zbentley commented on #15610
That makes sense. In this case, this issue can be closed (unless y'all would like to document the incompatibility somehow).

[2022-05-19 02:10] #15204 closed

[2022-05-19 02:54] lujiwen commented on #15152
@xiaobing0508 Hi, have you resolved this problem? I have the same problem as you.

[2022-05-19 02:57] xiaobing0508 commented on #15152
No,waiting new version..

[2022-05-19 06:18] leizhiyuan opened #15659 "how to solve backlog quota exceeds when another subscription reset the cursor to retention position"
for a topic A ， set backlog quota 1G， retention 1T， strategy is  produce exception

there has sub1, which is consuming normally, and then sub2 started from earliest，maybe users reset the cursor，then backlog  size will be 1G+1T  which is bigger than backlog quota,  producer will fail .

except for setting backlog quota -1 (which will make broker serve much data), is there any better way?

[2022-05-19 06:23] lujiwen commented on #15152
@xiaobing0508 The weird thing is that, my problem get resolved, but I did nothing, after tens of hours. But I have another problem, I was trying to get a partitioned topic internal stats by pulsar admin, and the response is 500 internal error, with exception on the broker "Error while recovering ledger"

[2022-05-19 06:26] xiaobing0508 commented on #15152
This problem is only for viewing topic stats .

[2022-05-19 07:59] Anonymitaet commented on #15538
@hpvd thanks for your feedback! Please see my interlined reply:

OK, we're redesigning the Pulsar Information Architecture. Re-constructing the connector doc is on the way.
/ cc @D-2-Ed @DaveDuggins @momo-jun

All connectors do not have the left navigation. They only have the right panel.

`Search does not work properly` is a known issue recorded [here](https://github.com/apache/pulsar/issues/1553

[2022-05-19 08:00] Anonymitaet commented on #15538
Hi @DaveDuggins you're the author of the 2.10.0 tech blog, any thoughts on this comment?

[2022-05-19 08:13] #15625 closed

[2022-05-19 08:13] Anonymitaet opened #15662 "[New Website] Wrong NO. in steps"
@BewareMyPower has reported this issue:

I found another bug of the new website again.:wink: See the following screenshot (https://pulsar.apache.org/docs/next/schema-understand). The indexes should be 1,2,3, not 1,11,16.
In other tab pages, the indexes are 1,9 and 1,11,17. It looks like a problem related to the Markdown rendering.

![image](https://user-images.githubusercontent.com/50226895/169245

[2022-05-19 08:21] Anonymitaet opened #15664 "[New Website] Set up Matomo (an alternative to Google Analytics)"
Comments from @dave2wave:

Google Analytics are no longer allowed on ASF websites due to privacy concerns. See https://privacy.apache.org/policies/website-policy.html

This is a new policy. The privacy committee has setup an alternative Matomo service [- ](https://privacy.apache.org/matomo/)[https://privacy.apache.org/matom](https://privacy.apache.org/matomo/)o/

🔹🔹🔹🔹🔹🔹

Comments from @Anonymitaet

[2022-05-19 08:26] Anonymitaet commented on #14928
Feedback from @BewareMyPower:

Hi, I'm reporting a bug of the new website again:joy:The rendering of the REST API is wrong. See https://pulsar.apache.org/docs/next/schema-manage/#topic-level.

We can see `GET /admin/v2/topics/:tenant/:namespace/:topic`. However, the original text is
{@inject: endpoint|GET|/admin/v2/topics/:tenant/:namespace/:topic|operation/schemaCompatibilityStrategy?version=[[pu

[2022-05-19 08:38] hpvd commented on #15538
@Anonymitaet  regarding blog structure, it's possibly mostly about predifined css for different elements (headlines, p, lists) like
- font sizes
- whitespaces
- margins/intend
- ...

[2022-05-19 08:53] Technoboy- commented on #15659
Seems fixed by 15663

[2022-05-19 09:00] Technoboy- commented on #15659
Not the same, sorry.

[2022-05-19 09:01] #15652 closed

[2022-05-19 09:04] gaozhangmin commented on #15630
![image](https://user-images.githubusercontent.com/9278488/169256374-8a9924f2-49ee-4894-b7cf-bf6a8488789e.png)
@lhotari  Are you using the latest master branch code?

[2022-05-19 09:05] gaozhangmin commented on #15630
[code]

[2022-05-19 09:34] freeznet opened #15667 "`topicName` should not be a `required` config for source connector"
**Describe the bug**
For some of the source connectors, like debezium connector, it actually not sending any messages to the `topicName`. And the `topicName` cannot be null: https://github.com/apache/pulsar/blob/branch-2.10/pulsar-functions/utils/src/main/java/org/apache/pulsar/functions/utils/SourceConfigUtils.java#L296-L298

But from the java instance, if no topic is provided, it will use [Pulsa

[2022-05-19 10:27] #15630 closed

[2022-05-19 10:31] liangyuanpeng commented on #15630
I can run standalone from master.

[2022-05-19 11:08] gaozhangmin commented on #15630
Maybe, it related with my env.

[2022-05-19 11:23] lhotari opened #15672 "[Website] The Slack joining instructions are missing and "Pulsar Slack" button does a google search"
**Describe the bug**

The Slack joining instructions are missing and "Pulsar Slack" button does a google search.

https://pulsar.apache.org/community#section-discussions

The old content seems to be available at https://pulsar.apache.org/contact/

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://pulsar.apache.org/community#section-discussions
2. The information to join Pulsar Sla

[2022-05-19 11:57] eolivelli opened #15673 "PulsarAdmin Java library: sometimes it fails with NullPointerException"
**Describe the bug**
Sometimes I see this error using the PulsarAdmin API, using Pulsar 2.10.x

**To Reproduce**
I can't reproduce consistently, it happens more often is the server is unreachable

[2022-05-19 13:24] dave2wave commented on #15664
@Anonymitaet
1. How does Google Analytics 4 property fix the PII issues with GA? Nothing on that link you provided indicates any improvements.
2. Here is what Google has about GDPR - https://support.google.com/analytics/answer/6366371?hl=en#zippy=%2Cin-this-article
3. The ASF has taken several years to address GDPR and this issue should be fully decided by the Foundation in one month. This is bein

[2022-05-19 13:27] dave2wave commented on #15662
I've found with Github Flavored Markdown / CommonMark that you will get proper renumbering if and only if you indent your code examples three spaces. (I'm not sure what flavor of Markdown is used by Docusaurus.

[2022-05-19 14:07] liudezhi2098 commented on #15274
@nlu90 Did you find the cause of this problem?

[2022-05-19 14:29] dave2wave commented on #15662
The example box numbering with the copy icon is getting in the way of the steps. This markdown with html does not seem to be compatible with Docusaurus 2.

[2022-05-19 14:45] nicoloboschi opened #15676 "Flaky-test: PendingAckPersistentTest.testPendingAckLowWaterMarkRemoveFirstTxn"
PendingAckPersistentTest.testPendingAckLowWaterMarkRemoveFirstTxn is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/15638/checks?check_run_id=6506945433)

[code]

[2022-05-19 14:46] nicoloboschi commented on #15676
I believe it is related to #15530 @liangyepianzhou, can you take a look ?

[2022-05-19 15:22] zbentley commented on #15402
#15436 remains open, which should make building these easier.

In the meantime, on a recently factory-reset M1, I built a py37 client on a few different tags this morning
[pulsar_client-2.9.1-cp37-cp37m-macosx_11_0_arm64.whl.zip](https://github.com/apache/pulsar/files/8730661/pulsar_client-2.9.1-cp37-cp37m-macosx_11_0_arm64.whl.zip)
[pulsar_client-2.9.1-cp37-cp37m-macosx_11_0_x86_64.whl.zip](https

[2022-05-19 16:37] asafm commented on #15538
Notes on Main Page
![image](https://user-images.githubusercontent.com/989425/169349752-59a9b9cb-2721-4850-8d8a-0defe6befa69.png)

1. Background color: I can express this technically as I'm not a designer, but I can say it doesn't feel right. Something about the contrast to the other colors on the page and that vague color to it, instead more bright and vivid colors, broadcast that sense of "gloomi

[2022-05-19 19:42] lhotari commented on #15207
@heesung-sn looks good. Great analysis you have there.

[2022-05-19 20:48] zwalsh-toast opened #15679 "Topic rebalances cause consumers with receiverQueueSize=0 to get stuck"
**Describe the bug**
Topic rebalances cause consumers with receiverQueueSize=0 to get stuck.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a consumer with receiverQueueSize=0
2. Restart the broker that is serving the topic so that the topic is unloaded and rebalanced

**Expected behavior**
The consumer should continue to process new messages on the topic.

**Actual behavior**
The co

[2022-05-20 00:37] liangyepianzhou commented on #15676
The test has fixed by https://github.com/apache/pulsar/pull/15592

[2022-05-20 02:27] Anonymitaet commented on #15538
@hpvd @asafm I feel the same as you.

Here is the feedback from the website designer team:

But do not hesitate to add more comments! Suggestions are always welcome!

[2022-05-20 02:35] RobertIndie commented on #14002
Another failure: https://github.com/apache/pulsar/runs/6505830937?check_suite_focus=true

[2022-05-20 02:49] Technoboy- commented on #15650
[code]

[2022-05-20 03:02] mattisonchao commented on #15650
It looks like the BK client blocked on `awaitUninterruptibly `, do we have another operation to use `eventLoop` causing the promise can not complete by thread blocked.

[2022-05-20 03:36] horizonzy commented on #15650
Is there more stack info?

[2022-05-20 04:38] urfreespace commented on #14928
@Anonymitaet you can access the old website here: https://pulsar.staged.apache.org/ (it's the old website backup, it will be closed AFTER the new site is stable)

[2022-05-20 05:34] #15455 closed

[2022-05-20 06:48] Anonymitaet commented on #14928
@urfreespace OK, thanks!

[2022-05-20 07:20] eolivelli commented on #15624
what does LTS mean ?
should the community treat in a different way LTS releases ?

'LT' stands for "Long Term", can we define what does "Long" means ?
And 'S' stands for "Support", can we define what does "Support" means ?

[2022-05-20 07:33] Technoboy- commented on #15650
Another case:
[code]

[2022-05-20 08:43] Anonymitaet opened #15686 "[New Website] Inaccurate community info"
The info below on the [community page](https://pulsar.apache.org/community#section-community) is inaccurate. It needs to be updated.
![image](https://user-images.githubusercontent.com/50226895/169489825-6f507f13-22ee-42b7-b189-757b668cce7f.png)

More context: https://apache-pulsar.slack.com/archives/C02Q4JLUB38/p1650931270994189
Discussion in ML: https://lists.apache.org/thread/kvsjw9p9vh8tcw09h1o

[2022-05-20 09:18] #15429 closed

[2022-05-20 09:19] ethqunzhong commented on #15429
solved by this
https://stackoverflow.com/questions/60358216/python-requests-post-request-dropping-authorization-header

[2022-05-20 09:48] zubchenok commented on #14721
@mattisonchao how is it going?

[2022-05-20 09:58] lhotari commented on #15631
@coderzc Are you thinking of covering TLS too? Is it technically even possible in that case?

[2022-05-20 10:00] nicoloboschi commented on #15277
another failure here: https://github.com/apache/pulsar/runs/6520937037?check_suite_focus=true

[2022-05-20 10:07] minchowang opened #15688 "Using Regex Subscription topics Got exception io.netty.handler.codec.TooLongFrameException: Adjusted frame length exceeds - discarded"
**Describe the bug**
Using Regex Subscription topics Got exception io.netty.handler.codec.TooLongFrameException: Adjusted frame length exceeds 5253120: 5488916 - discarded

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screens

[2022-05-20 10:09] minchowang commented on #15688
[code]

[2022-05-20 10:09] lhotari commented on #15631
@coderzc I suppose you mean to use [Netty's splice support](https://netty.io/news/2015/05/07/4-0-28-Final.html#:~:text=This%20release%20includes%20support%20for%20splice%20when%20using%20the%20native%20epoll%20transport.%20Splicing%20allows%20to%20directly%20transfer%20bytes%20from%20one%20filedescriptor%20to%20another%20without%20copy%20data%20from%20kernel%20to%20user%2Dspace.%20This%20makes%20s

[2022-05-20 10:10] minchowang commented on #15688
[code]

[2022-05-20 10:12] coderzc commented on #15631
yes, I thinking of covering TLS too, but I want to try transform the `SslHandler` to make it possible.

[2022-05-20 10:24] coderzc commented on #15631
yes, I will use [Netty's splice support](https://netty.io/news/2015/05/07/4-0-28-Final.html#:~:text=This%20release%20includes%20support%20for%20splice%20when%20using%20the%20native%20epoll%20transport.%20Splicing%20allows%20to%20directly%20transfer%20bytes%20from%20one%20filedescriptor%20to%20another%20without%20copy%20data%20from%20kernel%20to%20user%2Dspace.%20This%20makes%20splice%20a%20perfect

[2022-05-20 10:48] wojtekkedzior commented on #15332
Right, so after playing around with this a bit I realise that the only way to get out of this scenario is to scale your resources, if you can.   In case you cannot scale becuase you are at the limit of your hardware, then you have to decommission the bookies and bring them back that way.  Since the cluster is not usable anyway it doesn't really matter that your are going to decommission them.
I al

[2022-05-20 10:48] #15332 closed

[2022-05-20 11:05] lhotari commented on #15631
I don't think that it could work without implementing SNI  proxying.

[2022-05-20 11:54] Technoboy- opened #15689 "Flaky-test: MessageImplTest.testMessageBrokerAndEntryMetadataTimestampMissed"
https://github.com/apache/pulsar/runs/6522138165?check_suite_focus=true

[code]

[2022-05-20 12:01] Radiancebobo commented on #15493
mark

[2022-05-20 12:01] Radiancebobo commented on #15493
我想试试，可以分配给我么？

[2022-05-20 12:54] Radiancebobo commented on #15493
You can use
bin/pulsar-admin namespaces set-auto-topic-creation  apache/pulsar  -e -n 3 -t partitioned

[2022-05-20 14:17] coderzc commented on #15631
That's indeed so.

[2022-05-20 14:21] zhavir commented on #14148
Same problem for pulsar client 2.10 and macOS 12.3.1

[2022-05-20 15:00] larshp opened #15690 "[Doc] Pulsar binary protocol specification, structure"
### What issue do you find in Pulsar docs?

reading https://pulsar.apache.org/docs/develop-binary-protocol/

it introduces how to connect and to create producers and consumers, however following that structure will fail, connecting and creating a producer does not work, nor does it produce any Error commands, just quietly closes the connection(tested with 2.8.1.30)

### What is your suggestion?

A

[2022-05-20 16:15] MMirelli opened #15691 "[Broker] Support configuration of the memory allocated to replication producer"
**Describe the bug**

When replicating messages at high rates, brokers on the cluster originating message georeplication crash with the following error:

[code]

Currently, only the broker configuration `replicationProducerQueueSize` is in place to increase the replicating production rate. It would be convenient to have a configuration key setting the actual memory limit - what about `replicationP

[2022-05-21 08:29] minchowang commented on #15688
In the above case, regex can be matched to `100k` topics of prefix within `persistent://xxx/xxx/reports_xx`.

[2022-05-21 10:08] truong-hua opened #15696 "Java pulsar function can not subscribe to a non-defined schema topic"
**Describe the bug**
I rewrite all of my current pulsar function from Python to Java and facing a problem that the new functions can not subscribe to topics with error logged from brokers:

[code]

While the python function is running well. My java functions is implementing `Function<String, Void>`.
Our `isAllowAutoUpdateSchema` config is set to true (default value) and we have no any override in

[2022-05-21 15:43] zbentley opened #15701 "max_total_receiver_queue_size_across_partitions does not work"
**Describe the bug**

The `max_total_receiver_queue_size_across_partitions` kwarg to the Python `subscribe` method is nonfunctional.

**To Reproduce**
1. Create a persistent partitioned topic. I used 4 partitions.
2. Create a `Shared` subscription on the topic.
3. Publish 10 messages to the topic using `batching_type=BatchingType.KeyBased` and a unique partition key for each message (this is not n

[2022-05-21 15:47] zbentley opened #15702 "`receiver_queue_size` has no effect on partitioned topics, but is allowed"
**Describe the bug**

Setting the `receiver_queue_size` kwarg to `subscribe` in the Python client has no effect when a partitioned topic is in use.

[These docs](https://pulsar.apache.org/docs/cookbooks-message-queue/) indicate that this argument is not supported with partitioned topics, but nothing at runtime indicates an invalid argument. If this is an invalid configuration, then it should cause

[2022-05-21 16:03] zbentley opened #15703 "`receiver_queue_size` of 1 does not work; Shared consumers with receiver_queue_size=1 can "steal" messages that other consumers should receive"
**Describe the bug**

When the Python client calls `subscribe`, setting `receiver_queue_size` to a value of 1 results in an effective receiver queue behavior of more than one; Shared-type consumers with `receiver_queue_size=1` can "steal" messages that other consumers could process.

**To Reproduce**
1. Create a persistent **non partitioned** topic.
2. Create a `Shared` subscription on the topic.

[2022-05-21 16:06] zbentley opened #15704 "With the Python client, receiver_queue_size=0 results in an InvalidConfiguration error, but is documented to work"
**Describe the bug**
Passing `receiver_queue_size=0` to the Python client's `subscribe` method results in a `InvalidConfiguration` exception.

However, [these docs](https://pulsar.apache.org/docs/cookbooks-message-queue/) indicate that a receiver queue size of 0 is supported.

**To Reproduce**
1. With a connected Python client, call `subscribe` on any topic with the `receiver_queue_size` kwarg set

[2022-05-21 16:32] zbentley opened #15705 "New KeyShared consumers will not get any messages until a consumer that did get messages disconnects or acks/nacks some messages"
**Describe the bug**

If a KeyShared consumer has any unacknowledged messages, new KeyShared consumers on the same subscription after that point will not get any new messages (even messages with brand new keys) until the original consumer either disconnects or acks/nacks some indeterminate number of messages.

This is a really bad bug!

**Bug scenario 1**

1. Create a **non partitioned** topic.
2.

[2022-05-21 16:38] zbentley commented on #15703
This is especially severe in our use case because many of our messages take a long time to process, so we parallelize by running many consumers and setting each one's receiver queue size to 1. However, this bug results in 50% or more of messages being artificially delayed even when idle consumers are available to handle them.

[2022-05-22 01:42] codelipenghui commented on #15701
@zbentley It should be related to the producer batch, the broker dispatches the whole batch to a consumer, not a message. For your test case, the producer might add 10 messages into 1 batch, so all the 10 messages will dispatch to one consumer. The other consumer will not receive any messages.

You can try to disable the message batch on the producer side.

[2022-05-22 01:49] codelipenghui commented on #15702
@zbentley The queue size of a partitioned topic consumer will be limited by both the `receiver_queue_size` and `max_total_receiver_queue_size_across_partitions`.

As mentioned here https://github.com/apache/pulsar/issues/15701#issuecomment-1133799640, it's not a receiver queue size-related issue. it's a pulsar's problem with batch message processing. The batch is for improving the throughput, and

[2022-05-22 01:51] codelipenghui commented on #15704
@zbentley It should be a feature catch-up, the Java client supported zero queue consumer but looks like the Python client does not support it. We will add zero queue consumer support for the Python client in 2.11.0.

[2022-05-22 01:57] codelipenghui commented on #15703
@zbentley It should be the same reason with https://github.com/apache/pulsar/issues/15701#issuecomment-1133799640, please try to disable the produce side batch.

[2022-05-22 02:06] codelipenghui commented on #15705
@zbentley

It's expected behavior because the old consumer has unacked messages, the new messages after the `unacked messages` might break the message dispatch order by the key.

Here is more context about the key-shared subscription ordering guarantee

https://github.com/apache/pulsar/issues/6554
https://github.com/apache/pulsar/pull/7106

[2022-05-22 10:55] BewareMyPower commented on #15704
I think zero queue size consumer has already been supported from a very early version. I've also fixed a related bug last year, see https://github.com/apache/pulsar/pull/10506.

![image](https://user-images.githubusercontent.com/18204803/169691757-b1cf46af-071a-4e66-a83f-355ed386039b.png)

It's better to show your Python client version and paste your code.

[2022-05-22 11:01] BewareMyPower commented on #15704
No.

[2022-05-22 11:28] codelipenghui commented on #15704
@BewareMyPower Do we have a test for the zero queue consumer of the Python client? If we have a test, please share the test in this issue.

[2022-05-22 12:41] minchowang commented on #15688
Hi, @sijie  I had found out about `netty` setting in `conf/bookkeeper.conf`, whether recommend increasing this size to the solution?
[code]

[2022-05-22 14:21] zbentley commented on #15704
@BewareMyPower

See https://github.com/apache/pulsar/issues/15701; that contains Python/client/etc. version.

The code I'm using is:

[code]

[2022-05-22 14:21] zbentley commented on #15704
Could you clarify the difference between a setting of 0 and a setting of 1?

[2022-05-22 14:36] BewareMyPower commented on #15704
@codelipenghui See https://github.com/apache/pulsar/blob/defeec0e84a63ea865f3a2790bc61b66a02254c5/pulsar-client-cpp/python/pulsar_test.py#L289-L306

This test was introduced in https://github.com/apache/pulsar/pull/5706 that was included since Pulsar 2.5.0. It fixes https://github.com/apache/pulsar/issues/5634.

[2022-05-22 14:41] BewareMyPower commented on #15704
@zbentley The common behavior between 0 and 1 receiver queue size is that the permits of FLOW request is 1.

However, if the receiver queue size is 0, only when `receive` is called will the consumer send the FLOW request to broker, which means the consumer won't prefetch the messages.

If the receiver queue size is 1, the consumer will send a FLOW request to broker immediately after the consumer i

[2022-05-22 14:49] zbentley commented on #15701
@codelipenghui this issue occurs with and without `batching_enabled` in the producer. Additionally, with `batching_enabled=True` it occurs regardless of which batching strategy is used.

[2022-05-22 14:50] zbentley commented on #15701
I edited the code in the example to print out ledger/entry/partition/batch so that it is evident that the batch index is `-1` for messages received.

[2022-05-22 14:55] zbentley commented on #15703
@codelipenghui I have reproduced with batching both enabled and disabled.

[2022-05-22 14:59] zbentley commented on #15704
@BewareMyPower thanks, can that be added to the client documentation for receiver-queue related flags?

[2022-05-22 15:00] zbentley commented on #15704
Update (and updated issue title): this only happens with *partitioned* topics. While [I'm not quite sure what receiver queue size does](https://github.com/apache/pulsar/issues/15702) on partitioned topics, I'm pretty sure it shouldn't start throwing errors for configurations that are valid for non-partitioned topics.

[2022-05-22 15:09] BewareMyPower commented on #15704
It looks like zero queue consumer cannot be used on a partitioned topic. I tested the Java code as well.

[code]

The error message is more friendly and clear:

[2022-05-22 15:16] BewareMyPower commented on #15704
I think it's a common problem for clients of all languages. This check was introduced in https://github.com/apache/pulsar/pull/1103.

[code]

IMO, it's a bug. It looks like the multi topics consumer requires the receiver queue size is at least 2. (from the `Math.max(2, conf.getReceiverQueueSize())` call). I guess in the early time of Pulsar, the number of partitions must be at least 2, so we have

[2022-05-22 15:20] zbentley commented on #15705
@codelipenghui if I'm reading that correctly, that's really concerning behavior.

If a topic has no consumers, and a backlog of message index:key pairs `0:a, 1:a, 2:a, 3:b, 4:b, 5:b`, and a KeyShared consumer `c1` joins with a receiver queue size of 1 and gets message 0, why would we prevent a new consumer `c2` from joining and getting messages 3-5? That doesn't compromise key ordering in any way.

[2022-05-22 15:29] zbentley commented on #15702
@codelipenghui I don't think this is affected by batching being enabled or disabled; see my reply to your other comment.

Additionally, when you say:

How do those two settings interact? That should be documented. I.e. if I have receiver_queue_size=0 and max_total_receiver_queue_size_across_partitions=10, what is the result? What about 10 and 0? 10 and 10?

Additionally, [these docs](https://pulsa

[2022-05-22 15:30] #15610 closed

[2022-05-23 01:05] codelipenghui commented on #15704
@zbentley @BewareMyPower

from https://github.com/apache/pulsar/issues/7280#issuecomment-644238363
This is the main challenge to supporting zero queue consumers for a partitioned topic.

One option here is to create a function to merge messages  from multiple topics/partitions to a non-partitioned topic,
the `zero consumer` only consumes the messages from the merged topic.

[2022-05-23 01:14] codelipenghui commented on #15701
@zbentley

Does the second consumer use the same subscription name as the first consumer?

[2022-05-23 01:19] codelipenghui commented on #15702
@zbentley

Yes, looks like the doc is incorrect

Here is the code snippet

[code]

For a partitioned topic, not able to set the receiver queue size to 0 as I mentioned here https://github.com/apache/pulsar/issues/15704#issuecomment-1134050431

[2022-05-23 01:19] jiazhai commented on #15688
Seems the error happened when the matched topic names are returned in a single package by the protocol.

[2022-05-23 02:53] liudezhi2098 commented on #15688
If there are too many topics subscribed using regular mode, the size limit may be exceeded when acquiring topic information. We can reduce the number of subscription topics.

[2022-05-23 03:19] Anonymitaet commented on #15705
Hi @momo-jun can you help add that note? Thanks

[2022-05-23 03:40] BewareMyPower commented on #15704
Got it. For zero queue consumer, there is no way to determine which internal consumer (on a specific partition) should be chosen to call `receive`.

[2022-05-23 05:42] vinz2714 commented on #14660
As this is not yet marked fixed we haven't tried 2.10.0 yet. The linked ticket is marked for fix with netto update on 2.10.1 release. We are at 2.8.3 right now

[2022-05-23 06:05] gaozhangmin commented on #15691
I will take a look at this.

[2022-05-23 08:35] #15333 closed

[2022-05-23 09:25] mattisonchao opened #15711 "[DISCUSS] Gather missing permission granularity"
### Motivation

According to issue https://github.com/apache/pulsar/issues/5720, we introduced more fine-grained authorization, named `XXXOperations`. (package path: `org.apache.pulsar.common.policies.data`)

After summarizing all the operations, it is found that we have missed some `Operations`, which may be caused by new features and so on.

In this discussion, we want to collect all the missing

[2022-05-23 13:50] zbentley commented on #15704
While I don't know much about this area of the code, that sounds fine to me.

Other solutions that may make sense:
- Document that a zero queue size with a partitioned topic would potentially buffer up to N messages (where N is the number of partitions on the topic).
- Sequentially loop over the internal receive calls for each partition, returning when a message is found on any. The interactions w

[2022-05-23 14:13] zbentley commented on #15701
@codelipenghui no, see example code:

[2022-05-23 17:31] lhotari commented on #15691
@gaozhangmin We are blocked by this issue and since you didn't create a PR, I have created one in #15723.

[2022-05-23 19:31] merlimat commented on #15585
@ca-simone-chiorazzo @zhavir  The version compiled for MacOS 11.0 is supposed to work on any version >= 11.0, including 12.1, 12.2, ...

If you do `pip3  debug --verbose` you should be able to see all the tags supported by your python version. Can you share yours?

[2022-05-23 19:55] nlu90 commented on #15274
@liudezhi2098 Based on a discussion with @freeznet, we think it's related to uninitialized error handler in `LogAppender` class

[2022-05-23 20:02] klevy-toast commented on #15679
I have made more accurate local reproduction steps with docker / kotlin which should be straightforward to run with this test file: https://gist.github.com/klevy-toast/38d737c8abdbeb8d352c7617e4a96cfa

It appears to be a bug specifically related to the `ZeroQueueConsumer`'s `receiveAsync`, after a topic has been unloaded while the consumer is connected. Using `receive` instead does not get stuck.

[2022-05-24 02:07] #15690 closed

[2022-05-24 02:34] Anonymitaet opened #15732 "Rename doc label (Bot)"
# Requirement
Rename doc labels as below
<img width="1051" alt="image" src="https://user-images.githubusercontent.com/50226895/169936714-affd24fe-281e-4717-9571-3b3f9754c284.png">

# References
- [Instructions](https://docs.google.com/document/d/1Qw7LHQdXWBW9t2-r-A7QdFDBwmZh6ytB4guwMoXHqc0/edit#bookmark=id.5d66olk7l4oz)
- [Implementation process](https://docs.google.com/document/d/1bQfZkSu5nG1tNyc

[2022-05-24 02:35] Anonymitaet commented on #15732
@maxsxu would you like to take care of this issue? Thanks

[2022-05-24 02:37] maxsxu commented on #15732
@Anonymitaet  Sure, I'll be working on it. Please assign to me.

[2022-05-24 03:51] mingyifei opened #15735 "About TripleLongPriorityQueue thread safety."
Don't TripleLongPriorityQueue.add() and TripleLongPriorityQueue.pop() methods have thread safety issues?
In pulsar, we don't see thread safety using two methods.

[2022-05-24 04:06] #6477 closed

[2022-05-24 07:20] #15662 closed

[2022-05-24 08:13] yxl1014 commented on #15735
Triplelongpriorityqueue is obviously not a thread safe queue. It is just an ordered queue based on bytebuf, which is used to store the index of long type and the delay time of long type. When you use it in the outer layer, you need to lock it to ensure its thread safety.

[2022-05-24 08:15] epitka opened #15746 "running in docker throws exception"
**Describe the bug**
Following steps on how to run docker for local as described here https://pulsar.apache.org/docs/getting-started-docker

Getting following exception
[code]

**To Reproduce**
 docker run -it -p 6650:6650  -p 8080:8080 --name pulsar_standalone --mount source=pulsardata,target=/pulsar/data --mount source=pulsarconf,target=/pulsar/conf apachepulsar/pulsar:2.10.0 bin/pulsar standalo

[2022-05-24 08:27] mingyifei commented on #15735
ok. thanks. add() and pop() methods, i see PersistentDispatcherMultipleConsumers is  the lock object.

[2022-05-24 08:28] #15735 closed

[2022-05-24 08:34] zhavir commented on #15585
mine is:
https://www.codepile.net/pile/vEgpoxA1

but when I try to install the pulsar-client dep I get:
[code]

[2022-05-24 08:53] eolivelli opened #15750 "PIP-105 Per-subscription properties are not persistent to MetadataStore"
**Describe the bug**
When you are using subscription properties, if you restart the broker or you unload the topic, you lose the subscription properties, as they are not stored on the Metadata Service (or in any other place)

**To Reproduce**
- Create a subscription with properties
- Verify the properties using "pulsar-admin topics stats"
- Restart the broker
- Verify the properties using "pulsar-

[2022-05-24 09:05] lhotari commented on #15650
@Technoboy- The issue where the broker doesn't get killed is separate from the unloadNamespaceBundlesGracefully hanging forever. It's true that the cause might be the unloading hanging forever, but it's another problem that should be addressed. I noticed your PR, but that doesn't really deal with the underlying problem which causes the hanging.

[2022-05-24 09:11] lhotari opened #15753 "BrokerService.unloadNamespaceBundlesGracefully() hangs and doesn't complete"
**Describe the bug**

This behavior is currently seen in tests, but it might be a production code issue.

The call to `BrokerService.unloadNamespaceBundlesGracefully()` can hang and it doesn't complete.

Example stack trace:
[code]
[full thread dump](https://jstack.review?https://gist.github.com/lhotari/968ee78b2b6f708590fadc130d6a9d05)

**Expected behavior**

The root cause of the issue should be

[2022-05-24 09:11] lhotari commented on #15650
@Technoboy- I reported #15753 about the unloading hanging.

[2022-05-24 09:20] ca-simone-chiorazzo commented on #15585
I'm using a python 3.8.6 virtualenv on a mac with MacOS 12.3.1 (21E258), this is the output of pip debug:
[code]

The output is weird, looks like the platform tags haven't been updated along with the OS major update.
Installing a python 3.8.13 from scratch I got the following output instead

[code]

@merlimat Do you think I should raise a ticket to virtualenv / python for this? Looks like that the

[2022-05-24 14:26] visortelle opened #17897 "Algolia search doesn't work"
https://user-images.githubusercontent.com/9302460/170059683-887cb086-5836-4d00-8e65-def534fdfbea.mov

Checked with Chrome and Firefox.

[2022-05-24 15:42] merlimat commented on #15585
@zhavir Looks like you're on MacOS 10.15? The wheels are compiled with 11.0 as the min version.

We wanted to try to target 10.15 instead. There were few issues before, though hopefully we can get away with it.

@ca-simone-chiorazzo Maybe the pre-compiled Python was compiled targeting MacOS 10.16 and that's why pip will not fetch any wheel tagged with 11.0. As above, if we target 10.15, it should

[2022-05-24 16:22] shibd commented on #15746
I reproduce this on MAC OS, i will try to fix it.

[2022-05-24 22:40] #15074 closed

[2022-05-24 22:43] michaeljmarshall opened #15764 "Flaky-test: ConnectionTimeoutTest.testLowTimeout"
ConnectionTimeoutTest.testLowTimeout is flaky. It fails sporadically.

https://github.com/apache/pulsar/runs/6582172714

[code]

[2022-05-25 00:49] #15691 closed

[2022-05-25 02:38] drianpauL commented on #15230
Another workaround is to create a custom/derived Docker image and create the `data` directory with the correct permissions
[code]

[2022-05-25 03:27] merlimat commented on #15703
@zbentley The pre-fetching is tied to the `receive()` calls and not the acknowledgements.

As long as you keep calling receive, you are making more space in the queue and the client library will ask for more messages to the broker. In this case, it is expected to be a race for consumer-2 to get the 2nd message prefetched.

To have the precise behavior of 1 single message, you need to disable pre-f

[2022-05-25 04:37] mingyifei opened #15768 "[ProtocolHandler] It is hoped that the compiled class directory can be generated for the NAR file"
When there is a problem with AOP, Kop or ROP, it is difficult to troubleshoot, and the unit test scenario has limitations. Therefore, we hope to provide a way to generate class directory, which can be used to DEBUG.

1. Generate compiled class directory when loading NAR file

2. Provide a tool class and manually generate the class directory

[2022-05-25 05:21] merlimat commented on #15705
C2 will joined and be marked that it can only receive messages dispatched from the moment it joins.

In this example, a message nacked by c1, will still get redelivered to c1 (unless c1 disconnects), because the keys are not switched until everything that c1 has already received is acked.

Otherwise, we could get a nack on one message and then on another and they could end up being out of order, e

[2022-05-25 05:52] michaeljmarshall commented on #15746
@shibd - just so you know, it looks like #15769 is a proposed solution.

[2022-05-25 07:49] momo-jun opened #15771 "[Doc] Auto-hide deprecated parameters in Pulsar admin CLI docs"
### What issue do you find in Pulsar docs?

In Pulsar admin CLI docs, some commands have duplicate parameters. For example, processing guarantees have duplicate parameters as shown below:
<img width="1134" alt="image" src="https://user-images.githubusercontent.com/60642177/170207999-52e629cb-6511-4f45-9001-1cd5f62e2114.png">

However, in the code file, we can tell that `--processingGuarantees` has

[2022-05-25 08:11] diegosalvi commented on #7623
Any news on this issue @codelipenghui? It would be really helpful to detect how much "lag" an application has processing events. Currently as fallback I can only know how much "old" is the next event that I have to process but I don't know really if I have 1K events or 1M (just how many entries)

[2022-05-25 08:33] lhotari opened #15773 "Flaky-test: BookKeeperPackagesStorageTest.setUp"
BookKeeperPackagesStorageTest.setUp is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/6586743061?check_suite_focus=true#step:10:16369)

[code]

[2022-05-25 08:40] eolivelli commented on #7623
@diegosalvi
we already have the 'getPreciseBackLog' option.
Does not work for you ?
https://github.com/apache/pulsar/blob/e2fa1898f7e9a38b1743b2abf21c87eafe126ee2/pulsar-client-admin-api/src/main/java/org/apache/pulsar/client/admin/Topics.java#L1097

[2022-05-25 08:41] lhotari opened #15774 "CoordinationServiceImpl.close hangs and doesn't complete"
**Describe the bug**

CoordinationServiceImpl.close hangs and doesn't complete. This causes some test runs to get stuck. This might also be a production issue.

[Example thread dump](https://jstack.review/?https://gist.github.com/lhotari/6f7d659eb0651491e1a59d545d8559c7#tda_1_tg_25).

[code]

**Expected behavior**

Calling CoordinationServiceImpl.close should complete or timeout.

[2022-05-25 08:46] lhotari commented on #15774
Since we are now on Java 17, it would be possible to start leveraging Java API methods that have been added since Java 8.

One useful method is [`CompletableFuture.orTimeout`](https://docs.oracle.com/en/java/javase/17/docs/api/java.base/java/util/concurrent/CompletableFuture.html#orTimeout(long,java.util.concurrent.TimeUnit)) . It's a simple way to add a timeout to a Completable Future.

[2022-05-25 08:56] diegosalvi commented on #7623
I already use the precise backlog but from my understanding still reports entries and not messages.
I should deactivate batches on the producer but it doesn't seem to me a performance wise choice.

[2022-05-25 08:58] yebai1105 opened #15776 "bookie failed to decommission successfully"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-05-25 09:03] leizhiyuan commented on #14902
[stats.log](https://github.com/apache/pulsar/files/8769552/stats.log)
[stats_internal.log](https://github.com/apache/pulsar/files/8769553/stats_internal.log)

there are two subscriptions , one is key shared, the other is shared, shared is ok

[2022-05-25 09:08] eolivelli commented on #7623
@diegosalvi  would you mind working on this ? the implementation should be pretty straightforward if you take a look to the getPreciseBacklog code path.
The MessageMetadata structure has the number of messages in the Entry.

[2022-05-25 09:12] xuesongxs commented on #15705
Your broker.conf file changed to:
subscriptionKeySharedUseConsistentHashing=true

[2022-05-25 09:22] ethqunzhong commented on #13788
yes, i also see this error while offloading of Pulsar 2.8.3 with s3 offloader in product env.

[2022-05-25 12:34] RobertIndie opened #15780 "Flaky-test: BasicEndToEndTest. testRegexTopicsWithInitialPosition"
BasicEndToEndTest. testRegexTopicsWithInitialPosition is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/6588959111?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-05-25 13:16] liliang950210 opened #15781 "Consumers keep pulling duplicate data"
**Describe the bug**
A clear and concise description of what the bug is.

Consumers keep pulling duplicate data。

 pulsar-admin topics stats bms_calculate_dto-1
{
  "msgRateIn" : 1.0000113916131006,
  "msgThroughputIn" : 944.3440908133047,
  "msgRateOut" : 100.0011371412641,
  "msgThroughputOut" : 167396.90351761904,
  "bytesInCounter" : 180801601,
  "msgInCounter" : 20044,
  "bytesOutCounter" : 2

[2022-05-25 13:31] yapxue opened #15782 "for ungraceful shutdown ledgers , recoverry may cause data inconsostency."
**Describe the bug**
When a broker is shutdowm suddenly, for example it holds ledger L1 and LAC is E0, has pending writes E1 and E2, WQ is B1, B2, B3. E1 has been written to B1, E2 has been written to B3. Then before bookkeeper client opens a new ledger and it is supposed to try to recover L1. There maybe some problem for current recovery policy.  Recovery has two principles.
principle 1:     One

[2022-05-25 14:18] nicoloboschi opened #15783 "[Doc] Kafka Sink documentation is malformed"
**Describe the bug**
This page is malformed: https://pulsar.apache.org/docs/next/io-kafka-sink
The code is out of its formatter.

[2022-05-25 15:01] zbentley opened #15786 "[python client] message properties are not round-trippable"
**Describe the bug**
Properties objects on messages can be set to (and published with) values that cannot be deserialized on the far side.

**To Reproduce**
1. Using the Python client, publish a message on any topic with `properties={'foo': b'\x01-\x00\x97'}`
2. Using a Python consumer, consume that message and attempt to access `message.properties()`.
3. Observe that a `UnicodeDecodeError` is rai

[2022-05-25 15:51] zbentley commented on #15705
@merlimat that's not accurate; if I start a KeyShared consumer `c1` per the test setup here, wait until it receives its first message, then start another consumer `c2`, then trigger `c1` to nack all of its messages, then `c2` starts getting (some, not all, hash-based) messages.

Is that not supposed to happen? [The docs](tests/unit/test_checksum.py) seem to indicate that this is expected:

Additio

[2022-05-25 16:12] maxsxu commented on #15732
@Anonymitaet We need to do one more thing before the two above PRs were merged.

Please create the following label manually to ensure the Bot works properly:

- `doc-not-needed`
- `doc-complete`

[2022-05-26 00:44] #15146 closed

[2022-05-26 01:05] Martin-Narvar opened #15791 "Following the getting started guide results in a ClassNotFound exception at runtime."
### What issue do you find in Pulsar docs?

The getting started guide doesn't work, and this makes it very hard to get off the ground.
According to https://pulsar.apache.org/docs/2.2.1/client-libraries-java/ I just need to add
[code]
to pom.xml, but when I do this and add a call to
[code]
The code compiles OK. but I get a `ClassNotFound` error at runtime like this:
[code]
Which is super unhelpful.

[2022-05-26 01:23] drianpauL commented on #15746
Yes, this issue is a duplicate of issue #15230

[2022-05-26 01:26] heesung-sn opened #15792 "[performance] Intermittent Pub Latency Spikes"
**Describe the bug**
Intermittent latency spikes have been observed from the current master branch, 2.11. When running OpenMessaging Benchmarks long enough for hours, sometimes Pub latency abnormally spikes and comes back to the normal. I suspect this could be due to some random network issues in the test environment(AWS) or some edge-case performance regressions introduced in the latest code. Unf

[2022-05-26 01:49] RobertIndie opened #15793 "Flaky-test: BinaryProtoLookupServiceTest.maxLookupRedirectsTest1"
BinaryProtoLookupServiceTest.maxLookupRedirectsTest1 is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/6592130187?check_suite_focus=true)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
  Error:  maxLookupRedirectsTest1(org.apache.pulsar.client.impl.BinaryProtoLookupServiceTest)  Time elapsed: 0.012 s  <<< FAILURE!
  java.util.con

[2022-05-26 01:55] hzluyang opened #15794 "non-persistent的topic 在消费能力不够出现堆积的时候限制使用内存的大小放置OOM"
non-persistent的topic 的消息数据是在内存中的
但是如果消费组消费能力弱，但是生产者生产大那么可能出现堆积大量数据在内存中的情况导致OOM的可能。

在5月份的开发用户沟通会上确认了确实会有OOM的风险

建议限制一下non-persistent topic的可以堆积消息的数量 避免这种场景下的OOM

[2022-05-26 02:16] hzluyang opened #15795 "在配置ns-isolation-policy 的时候broker的配置不能采用hostname:端口 但是"
1  用命令行列出broker的时候
bin/pulsar-admin brokers list

“hostname1:8080”
“hostname2:8080”
“hostname3:8080”

bin/pulsar-admin   ns-isolation-policy  brokers
{
  "brokerName" : "hostname1:8080",
  "namespaceRegex" : [ ],
  "primary" : false
}
{
  "brokerName" : "hostname2:8080",
  "namespaceRegex" : [ ],
  "primary" : false
}
{
  "brokerName" : "hostname3:8080",
  "namespaceRegex" : [ ],
  "primary" : fal

[2022-05-26 02:37] yhjlsy123 opened #15796 "Android user java cilent"
**Describe the bug**
A clear and concise description of what the bug is.
 Consumer<byte[]> consumerCreated = client.newConsumer()
                    .topic("bootTopic", "topic2")
                    .subscriptionName("pulsar")
                    .subscriptionType(SubscriptionType.Shared)
                    .subscriptionInitialPosition(SubscriptionInitialPosition.Latest)
                    .rec

[2022-05-26 02:37] Anonymitaet opened #15797 "PIP 176: Refactor Doc Bot"
# PIP

[PIP 176: Refactor Doc Bot to Improve Efficiency of Managing Doc](https://docs.google.com/document/d/1syM2irXZQtcVXHNWP7v_m4EdPvOy9olnxJUd62gtiDI/edit#)

# Issues (new)

- [ ] P0: doc bot check is pending or waiting and `documentation label check` is changed to `label check` after it is set to `required`.

This blocks many PRs, eg. https://github.com/apache/pulsar/pull/16298, https://github

[2022-05-26 02:39] #15732 closed

[2022-05-26 03:08] maxsxu commented on #15732
Thanks our genius @Anonymitaet , we just need to rename labels:

- `no-need-doc` -> `doc-not-needed`
- `doc-added` -> `doc-complete`
- `doc-info-missing` -> `doc-label-missing`

[2022-05-26 03:10] Anonymitaet commented on #15732
@maxsxu thanks for your great and super fast contribution! 🚀

[2022-05-26 03:30] maxsxu commented on #15797
Thanks @Anonymitaet brings this out.

More context from the previous maintainer:

So from all perspectives, refactoring is necessary. I'll be working on this to make the doc Bot more maintainable extendable.

[2022-05-26 04:20] michaeljmarshall commented on #15647
@zfchai - thanks for reporting this issue. It should be fixed by #15769 and released in the 2.10.1 release.

[2022-05-26 04:23] #15230 closed

[2022-05-26 04:23] #15746 closed

[2022-05-26 04:35] michaeljmarshall commented on #15647
Fixed by https://github.com/apache/pulsar/pull/15769

[2022-05-26 04:35] #15647 closed

[2022-05-26 05:34] BewareMyPower commented on #15786
I don't look into the Python code at the moment, but I think the keys and values should be `str`. The Java client also requires the key and value of a property being a `String`. While in C++, the `std::string` is just a sequence of ASCII characters. We should handle the encode and decode at Python client side.

[2022-05-26 06:38] poorbarcode commented on #15516
@eolivelli @gaoran10 @gaozhangmin @315157973 @lhotari @michaeljmarshall I have sent an email to dev@pulsar.apache.org, could you take a look.

[2022-05-26 06:45] Demogorgon314 commented on #15791
I have tried the 2.2.1 version of the pulsar client, but it doesn't get the `ClassNotFound ` error.

Can you provide more context here? For example, you can give the minimal failed code to a Github repo. It can help us diagnose.

[2022-05-26 07:21] gaozhangmin commented on #15795
@hzluyang  It use regex to match broker's with `brokerUrl.getHost()`,
[code]

[2022-05-26 08:41] yhjlsy123 opened #15803 "Android java Cilent MeesageLissener"
**Describe the bug**
A clear and concise description of what the bug is.
Android
    api ('org.apache.pulsar:pulsar-client:2.10.0'){
        exclude group: 'org.bouncycastle'
    }
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screens

[2022-05-26 09:10] Anonymitaet commented on #5816
Fixed. Thanks for your reminder @signormercurio

[2022-05-26 09:10] #5816 closed

[2022-05-26 09:30] Anonymitaet opened #15804 "Optimize blog page"
This issue records the ideas to improve the [blog page](https://pulsar.apache.org/blog).

### Add search feature

Currently, there is no search feature, it may take time if you want to find a historical blog.

Can we implement a similar style as it as below?

https://en.pingcap.com/blog/
<img width="1375" alt="image" src="https://user-images.githubusercontent.com/50226895/170460402-b8bd5a46-f46d-4

[2022-05-26 09:36] Anonymitaet commented on #6928
@codelipenghui you can find legacy blogs [here](https://pulsar.apache.org/blog), so I'll close this issue.
<img width="1456" alt="image" src="https://user-images.githubusercontent.com/50226895/170461310-073881ca-ada0-442b-a404-b1b7347a6205.png">

And I've submitted more ideas to improve the blog page here: https://github.com/apache/pulsar/issues/15804

@signormercurio thanks for your reminder!

[2022-05-26 09:36] #6928 closed

[2022-05-26 09:39] Anonymitaet commented on #7083
We've already implemented this.

[2022-05-26 09:39] #7083 closed

[2022-05-26 09:39] Anonymitaet commented on #7083
@signormercurio thanks for your reminder!

[2022-05-26 09:42] Anonymitaet commented on #8853
This issue has been resolved. @signormercurio thanks for your reminder!

[2022-05-26 09:44] #8853 closed

[2022-05-26 09:52] Anonymitaet commented on #9008
Hi @hpvd
This is an awesome idea!

I also see other similar playgrounds and collected those good ideas [here](https://docs.google.com/document/d/1IV35SI_F8G8cL-Vuzknc6RTGLK9_edRMpZpnrHvAWNs/edit#bookmark=id.v236yundf077)

I've discussed it w/ engineers (@codelipenghui @urfreespace), however, they think that, unlike [Go interactive web tool](https://go.dev/), ASF may need to provide resources (eg.

[2022-05-26 11:13] ByrsH commented on #15464
I had a similar problem，broker log :
[code]

**Describe** :
there are a pulsar cluster in k8s，pulsar version 2.8.2。The purpose is replace new disk.

**operating steps**：
1、run bin/bookkeeper shell bookieformat -deleteCookie -f
2、restart pod
3、wait bookie auto sync data to new disk

business service run normal, but when restart business service,  Throws the following exception：
[code]

[2022-05-26 11:19] gaozhangmin opened #15805 "Retry letter topic shouldn't be supported for non shared sub."
As doc says: `Currently, retry letter topic is enabled in Shared subscription types.`
But in fact, all sub type support retry topic.  I think retry topic shouldn't be supported for  non shared sub, because of message order considieration.

[2022-05-26 13:10] mattisonchao commented on #6197
The scenario appears after two years. affect master, branch-2.10, branch-2.9...

FYI:

https://github.com/apache/pulsar/pull/15801
https://github.com/apache/pulsar/pull/15757
https://github.com/apache/pulsar/runs/6602813932?check_suite_focus=true
https://github.com/apache/pulsar/runs/6602339258?check_suite_focus=true

[2022-05-26 14:15] RobertIndie commented on #6197
Also, it has failed on my PR https://github.com/apache/pulsar/pull/15571/ many times recently.

https://github.com/apache/pulsar/runs/6608041290?check_suite_focus=true

[2022-05-26 18:21] zbentley commented on #15702
@codelipenghui thanks! Could that min formula be added to the documentation? It's non-obvious at present.

[2022-05-26 19:42] #8904 closed

[2022-05-26 23:29] mattisonchao commented on #6197
The test is recovered.

[2022-05-27 03:13] nodece commented on #14883
Blocked by https://github.com/apache/pulsar/pull/15761

[2022-05-27 03:58] michaeljmarshall commented on #8509
I think we need to add support for the `View` concept described in this issue and in this comment: https://github.com/apache/pulsar/pull/8910#issuecomment-743767701. The current implementation of the `@Secret` annotation negatively affects the `ConfigurationDataUtils#loadData` method in such a way that you cannot override certain fields.

I am not able to look into this just yet, but I am going to

[2022-05-27 05:32] Anonymitaet commented on #15797
@maxsxu I've added more improvements as we discussed just now

[2022-05-27 06:38] drriguz commented on #15341
I'm also confused about this, I found that messages are not redelivered in my application by using the following code:
[code]

The document does not say clearly about that, and there's also someone asking in Stackoverflow: https://stackoverflow.com/questions/69590720/pulsar-if-a-message-gets-nackd-negativeacknowledge-when-will-it-be-redeliv

[2022-05-27 07:27] diegosalvi commented on #7623
I'm looking into it :)

[2022-05-27 08:55] MarvinCai opened #15813 "[Doc] [New Website]"
### What issue do you find in Pulsar docs?

Many CLI commands are missing from new website
e.g. the command  to trigger offload on topic is missing:
it's there on old website but missing from new website
<img width="1688" alt="image" src="https://user-images.githubusercontent.com/13480084/170665883-dc43f80f-f0be-4339-bc3f-b92405afa77d.png">

Also on new website CLI command no longer have detailed

[2022-05-27 10:21] #14661 closed

[2022-05-27 10:48] Anonymitaet commented on #12381
@freeznet will provide tech inputs before July 1.

[2022-05-27 14:19] lgxbslgx commented on #15776
I can reproduce this bug locally by using the following steps:

1. Deploy a cluster according to the [document](https://pulsar.apache.org/docs/next/deploy-bare-metal). The cluster has 3 zookeeper nodes, 3 bookkeeper nodes and 3 brokers, which is same as the document.
2. Use the command `bin/bookkeeper shell simpletest --ensemble 3 --writeQuorum 3 --ackQuorum 3 --numEntries 3` to test the bookkeepe

[2022-05-27 14:41] lgxbslgx commented on #15349
@lhotari @Technoboy- Have you started the work locally? If not, I would like to take it over.

[2022-05-27 15:03] michaeljmarshall commented on #15813
I think this is a function of how the docs are generated. It's also relevant that these docs are generated as `-SNAPSHOT` docs. Ideally, the docs would be generated as part of each release.

I found that the `bookies` sub-command was missing last week. I tried to fix it here https://github.com/apache/pulsar-site/pull/80. However, either the new docs haven't been built or there is another place tha

[2022-05-27 17:29] dlg99 commented on #9962
@michaeljmarshall @zymap @codelipenghui @eolivelli
a gist of the test "reproing" the problem: https://gist.github.com/dlg99/caecaee9d7c8fa690027ce8843e3948e

For the offloaded ledgers to get deleted one needs to truncate the topic first and delete after that.
This can be done in admin utils but it is an easy to miss step and one cannot truncate a topic after it is deleted.

This is fairly easy to

[2022-05-27 23:54] ahothan opened #15819 "pulsar_out_bytes_total and pulsar_out_messages_total metrics act as gauges instead of counters"
**Describe the bug**
pulsar_out_bytes_total and pulsar_out_messages_total metrics should normally be counters (always increasing) in the same way as pulsar_in_bytes_total and pulsar_in_messages_total metrics.
However they behave incorrectly as they go up and down.
Furthermore, when producer is idle, these 2 metrics are no longer reporting when pulsar is scraped.

**To Reproduce**
Steps to reproduc

[2022-05-27 23:56] ahothan commented on #15819
related PR: https://github.com/apache/pulsar/pull/6918

[2022-05-27 23:58] ahothan commented on #15819
corresponding stats from the cli shows correct values for msgOutCounter and msgInCounter,
[code]

[2022-05-29 02:05] mattisonchao commented on #13342
I'm working on it and some solutions need to be discussed. Once a reasonable solution is finalized, I'll fix it in time.

[2022-05-29 02:19] #12795 closed

[2022-05-29 10:17] #12274 closed

[2022-05-29 12:56] boatrainlsz commented on #15673
@eolivelli could you please provide more detail? is it cluster or standalone? code sample and detail logs would much useful. I'm new to Pulsar and trying to learn Pulsar by fixing issues. Many thanks!

[2022-05-29 14:53] eolivelli commented on #13526
@dlg99 you are interested in this work, PTAL

[2022-05-29 18:10] eolivelli commented on #14493
Did you try with a Interceptor that sets the MDC while receiving a message?

[2022-05-29 18:11] zbentley commented on #15703
@merlimat that makes great sense, thanks. So "receiver queue size" could be better thought of as "extra messages to fetch (if available) whenever `receive` is called"?

If so I can totally work with that; it would be great if that were documented more clearly. Documentation indicates that Pulsar uses a pull-based protocol, but doesn't go into detail about when pulls happen and how they work. It'd

[2022-05-29 18:13] eolivelli commented on #14874
The problem is related to the transaction buffer.
Do you know why this happens so frequently here?
I am not surprised about @gaoran10 case but here this looks like a bigger problem

[2022-05-29 18:14] eolivelli commented on #15375
@codelipenghui do you have news?
I see this very frequently, especially when the user configures a wrong address

[2022-05-29 18:14] eolivelli commented on #13342
I see this problem quite often is some  environments.

Do you have news @mattisonchao ?

[2022-05-30 02:10] Anonymitaet commented on #15813
@MarvinCai
`Admin API` chapter is not actively maintained. This important notice was added previously (and might need to be shown more prominent). Please click the link in the red circle.
<img width="1521" alt="image" src="https://user-images.githubusercontent.com/50226895/170904533-5914cc0e-5745-4cc6-bfb2-cc7cf52be8fd.png">

/cc @momo-jun @D-2-Ed @DaveDuggins

[2022-05-30 02:12] codelipenghui commented on #15702
@zbentley Yes, I have added doc-required label, the document team will improve the document.

[2022-05-30 02:14] Anonymitaet commented on #15791
@Martin-Narvar can you retitle this issue to make it more clear?

[2022-05-30 02:16] codelipenghui commented on #15703
@zbentley https://pulsar.apache.org/docs/next/developing-binary-protocol#flow-control here is some context for this part.

[2022-05-30 02:27] Jason918 commented on #15225
@thinker0 Would you like to send a discussion mail to `dev@pulsar.apache.org`?

[2022-05-30 03:21] jokeyuHhhh opened #15828 "test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
`com.mysql.jdbc.exceptions.jdbc4.MySQLSyntaxErrorException: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'org.apache.shardingsphere.sharding.rewrite.token.pojo.ShardingInsertValuesToken@' at line 1
	at sun.reflect.Native

[2022-05-30 03:22] jokeyuHhhh commented on #15828
at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAccessorImpl.newInstance(NativeConstructorAccessorImpl.java:62)
	at sun.reflect.DelegatingConstructorAccessorImpl.newInstance(DelegatingConstructorAccessorImpl.java:45)
	at java.lang.reflect.Constructor.newInstance(Constructor.java:423)
	at com.mysql.jdbc.Util.handleNewInstance(Util.java:425)

[2022-05-30 03:22] jokeyuHhhh commented on #15828
- com.mysql.jdbc.exceptions.jdbc4.MySQLSyntaxErrorException: You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near 'org.apache.shardingsphere.sharding.rewrite.token.pojo.ShardingInsertValuesToken@' at line 1
	at sun.reflect.NativeConstructorAccessorImpl.newInstance0(Native Method)
	at sun.reflect.NativeConstructorAcces

[2022-05-30 03:22] #15828 closed

[2022-05-30 04:57] gaoyanliang commented on #15043
<img width="862" alt="image" src="https://user-images.githubusercontent.com/33021341/170919640-e0b89633-9c10-4765-89e5-b480094f597c.png">

please assign these tasks to me .

[2022-05-30 05:38] warriorsfly opened #15830 "The standalone pulsar runs sql-worker error with macOS."
I'm following the [guide](https://pulsar.apache.org/zh-CN/docs/next/sql-getting-started)，step 2, I mean the `./bin/pulsar sql-worker run`,then get errors below.
[code]

2022-05-30T11:01:01.951+0800	INFO	main	com.google.inject.Guice	An exception was caught and reported. Message: java.lang.NoClassDefFoundError: Could not initialize class com.google.inject.internal.cglib.core.$MethodWrapper

java.lan

[2022-05-30 05:44] Anonymitaet opened #15831 "[Website] layout of "powered by" page is incorrect"
Same as the issue title, the layout on https://pulsar.apache.org/powered-by/ is incorrect.
<img width="826" alt="image" src="https://user-images.githubusercontent.com/50226895/170924449-abc8a8c1-bcee-4af3-8cf1-e385cdad5a06.png">

Anyone would like to fix it? Thank you!

[2022-05-30 05:46] Anonymitaet commented on #15831
@urfreespace @maxsxu @signormercurio it would be grateful if you can take a look at this issue, thanks!

CC @jiazhai

[2022-05-30 05:47] liangyepianzhou opened #15832 "[Bug] Get batch size return 1 when is not Individual ack mode"
**Describe the bug**
If the ack mode is not key-shared or shared, batch size defaults to 1. And this is will make transaction pending ack can not check
conflict.
[code]

**To Reproduce**
1. produce 3 batch messages
2. receive message1
3. receive message2
4. ack message2 with the transaction1.
5. ack message2 with the transaction2.
6. commit transaction1
7. commit transaction2
[code]
**Expected beh

[2022-05-30 07:46] diegosalvi commented on #7623
@eolivelli I've looked into getPreciseBacklog code (Topic.getStats -> PersistentSubscription.getStats -> MangedCursor.getNumberOfEntriesInBacklog -> ManagedCursorImpl.getNumberOfEntries).

Probably I'm missing something but from what i saw it "count" entry ranges without looking int any entry at all.
From my undersanding I should read every entry from subscription position up to lac, build theirs

[2022-05-30 08:23] nicoloboschi commented on #15392
another failure: https://github.com/apache/pulsar/runs/6625554986?check_suite_focus=true

[2022-05-30 08:44] SignorMercurio commented on #15831
Seems styles for `.logo-box` are missing. Besides, some pics are not rendered because they're from an HTTP source, which should be replaced.

[2022-05-30 09:08] MarvinCai commented on #15813
that's just so weird that part of the doc are migrated but part of them are not, this is not good UX IMO.

[2022-05-30 09:57] AnonHxy opened #15836 "Message has no redelivery count if subscription type is Exclusive or Failover"
**Describe the bug**
`Message.getRedeliveryCount()` is always zero  if subscription type is Exclusive or Failove. So we can not take advantage of the `RedeliveryBackoff` which use `redeliveryCount` as a parameter.

 I wander if it's a bug or feature. In other word, why only share or key_share subscription type enable subscription message redelivery tracker to send redelivery, as Line:84:

https://

[2022-05-30 10:15] nicoloboschi commented on #6197
It's back https://github.com/apache/pulsar/runs/6652119261?check_suite_focus=true

[2022-05-30 10:18] truong-hua opened #15838 "Is it possible to migrate from zookeeper metadata store to etcd?"
### What issue do you find in Pulsar docs?

New 2.10.0 pulsar now supported ETCD as metadata store and we would like to migrate current zookeeper to etcd. Is it possible and is there any guidlines existed? Downtime should be acceptable :D

### What is your suggestion?

Provide metadatastore migration documents or a tool for doing it.

### Do you have any references?

Nope

### Would you like to fi

[2022-05-30 12:01] leizhiyuan opened #15841 "deleteTopic need to be async"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. create and delete topic frequently
**Expected behavior**
A clear and concise description of what you expected to happen.

you will see there will a waiting forever in internalDeleteTopicForcefully

**Screenshots**
If applicable, add screenshots to help explain your

[2022-05-30 12:02] coderzc commented on #15836
It seems to be compatible with the `cumulative-ack`：https://github.com/apache/pulsar/pull/2508#discussion_r217257441

[2022-05-30 14:16] zhavir opened #15844 "Python Client doesn't clean up reserved field when publishing message with Schema"
**Describe the bug**
If you have a complex schema, the reserved keys `_default`, `_required` and `_required_default` are not cleaned up

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
reserved keys are cleaned up recursively.

**Desktop (please complete the following information):**
 - MacOS 12.3.1

**Additional context**
the problem seems to be [here](https://gith

[2022-05-30 22:56] mattisonchao commented on #13946
Hi, @ronfarkash
When you get a new address, you need to make `authoritative=true`.

If you open the `Automatically follow redirects`, the broker will help you do that thing when redirected.

[2022-05-30 23:00] mattisonchao commented on #15433
@zbentley  Could you provide the full log?

[2022-05-30 23:03] mattisonchao commented on #15451
@youg9203  Looks like we have some system topic that state is `fenced` when deleting tenant/namespace, I need to try to reproduce it and then find a way to fix it.

[2022-05-31 01:42] #15055 closed

[2022-05-31 01:51] Technoboy- commented on #13342
Ah, we find that `keepAliveIntervalSeconds ` exists on both client and server-side. The default value is 30s.
In your reproduce step, the server-side is 100s.
The broker will clean up the producer info when the channel is inactive. So it's about 100s to do this.
But client-side will close the channel in the 30s, and the firewall may cause the closure of the channel not to be sent, then the client

[2022-05-31 01:55] urfreespace commented on #15831
@SignorMercurio do you have time to help fix it? if not, I will take look.

[2022-05-31 01:56] Technoboy- commented on #15841
Will fix this week

[2022-05-31 02:00] Anonymitaet commented on #15838
ping @momo-jun

[2022-05-31 02:01] Technoboy- commented on #13342
For this issue, it's better for the client to config this value, and the broker will use the client value.

[2022-05-31 02:08] yangl opened #15849 "PIP-171: Expose SubscriptionProperties to the Consumer interface"
## Motivation

When we send message by producer, the automatic batching of messages is enabled default. This cause the pulsar broker side cannot get the properties of the per message in the batch message, when people use the properties to filter some message, which will not work well by the [PIP 105: Support pluggable entry filter in Dispatcher](https://github.com/apache/pulsar/issues/12269). So t

[2022-05-31 02:08] #10282 closed

[2022-05-31 02:32] Jason918 commented on #13560
Solved with PIP 132

[2022-05-31 02:32] #13560 closed

[2022-05-31 03:23] lhotari opened #15850 "Flaky-test: MultiTopicsConsumerImplTest.testParallelSubscribeAsync"
MultiTopicsConsumerImplTest.testParallelSubscribeAsync is flaky. It fails sporadically.

[example failure](https://github.com/lhotari/pulsar/runs/6660340044?check_suite_focus=true#step:10:8126)

[code]

More logs in [org.apache.pulsar.client.impl.MultiTopicsConsumerImplTest-output.txt](https://gist.githubusercontent.com/lhotari/17f690fd839ce3717a832fb6f972e374/raw/15e4c2b8bce348fe41437e5d55693a5ca

[2022-05-31 03:39] lhotari commented on #15793
A similar NoClassDefFoundError happened in another flaky test which is reported as #15850 . It might be possible that this is a JDK bug https://bugs.openjdk.java.net/browse/JDK-8257534 .

"It may be that the initialization failed due to OOME but is being reported as a NoClassDefFoundError. " ([comment link](https://bugs.openjdk.java.net/browse/JDK-8257534?focusedCommentId=14424036&page=com.atlassi

[2022-05-31 03:45] lhotari commented on #15849
I think that the implementation proposal `this.conf.getSubscriptionProperties()` might conflict with persistent subscription properties stored in the broker (#15503). @eolivelli WDYT?

[2022-05-31 06:01] lhotari commented on #15764
I have a fix in https://github.com/apache/pulsar/compare/master...lhotari:lh-fix-ConnectionTimeoutTest . I'll create a PR after CI is unblocked (after merging #15846) .

[2022-05-31 06:13] lhotari opened #15853 "Pulsar IO tests leak resources in Kafka related tests"
**Describe the bug**

Resources are leaked in Pulsar IO tests.

This type of entries repeat in the test logs:
[code]

**To Reproduce**

Check the output of "[CI - System - Pulsar IO](https://github.com/apache/pulsar/runs/6664811881?check_suite_focus=true#logs)"

**Expected behavior**

Resources should be properly closed in tests using try-with-resources blocks or Lombok's `@Cleanup` annotation.

[2022-05-31 07:00] lhotari commented on #15853
I'll create a PR with these changes: https://github.com/apache/pulsar/compare/master...lhotari:lh-fix-pulsar-io-integration-test-resource-leaks after CI is unblocked.

[2022-05-31 07:18] SignorMercurio commented on #15831
Thanks, please go ahead.

[2022-05-31 07:23] geomagilles opened #15854 "[Doc] code highlighting issues"
### What issue do you find in Pulsar docs?

in some parts like https://pulsar.apache.org/docs/functions-develop - there is no code highlighting for Java and Go

### What is your suggestion?

all codes snippets should be code-highlighted based on selected language

### Do you have any references?

For example in https://pulsar.apache.org/docs/functions-develop/#language-native-interface, python cod

[2022-05-31 07:46] jon-hanson opened #15855 "Schema evolution docs make reference to unexplained schemaRegistryCompatibilityCheckers flag"
### What issue do you find in Pulsar docs?

Regarding schema evolution, the [Pulsar documentation](https://pulsar.apache.org/docs/schema-evolution-compatibility#how-does-pulsar-support-schema-evolution) states the following:

What exactly is "schemaRegistryCompatibilityCheckers" and where is it configured? The term seems to appear out of the blue without any context.

It isn't referenced anywhere

[2022-05-31 08:09] coderzc commented on #15631
@lhotari @merlimat @cbornet @nodece  I have sent a vote email, could you take a look.
https://lists.apache.org/thread/2ycpoltmh7z76nj62bz35q5o64x7by1w

[2022-05-31 08:43] lhotari commented on #15774
Yet another failure: https://github.com/apache/pulsar/runs/6666238441?check_suite_focus=true#step:11:86

[2022-05-31 09:54] leizhiyuan opened #15856 "make internalSetMaxConsumersPerSubscription async"
**Describe the bug**
A clear and concise description of what the bug is.

make internalSetMaxConsumersPerSubscription async

**To Reproduce**
Steps to reproduce the behavior:
1. create and delete topic frequently
**Expected behavior**
A clear and concise description of what you expected to happen.

you will see there will a waiting forever in internalDeleteTopicForcefully

**Screenshots**
If appli

[2022-05-31 10:06] fmiguelez opened #15858 "SchemaDefinitionBuilder.withJSR310ConversionEnabled(true) has no effect (it should use timestamp-millis for java.time.Instant)"
**Describe the bug**
When JSR310 is enabled in `SchemaDefintionBuilder` the `TimestampMillisConversion` is registered for `java.time.Instant` (using logical type `timestamp-millis`), however that conversion is never applied as `TimestampMicrosConversion` is also registered first (i.e. with higher priority) inside `AvroSchema` class of Pulsar client.

E.g. take this POJO definition:

[code]

Consid

[2022-05-31 11:19] coderzc opened #15859 "PIP-172 : Introduce the `HEALTH_CHECK` command in the binary protocol"
## Motivation

Currently, the broker has an admin `health check` endpoint, which is very good, But in some scenarios, we may not be able to use the admin API (such as https://github.com/apache/pulsar/pull/13316#discussion_r773313991), so I propose to introduce the `HEALTH_CHECK` command in the broker binary protocol.

## Goal

Introduce the `HEALTH_CHECK` command in the broker binary protocol.

##

[2022-05-31 11:39] gvolpe commented on #9076
@ZiyaoWei as long as all I have to do is to click on transfer, I'd be happy to help. Last time I was asked to do a lot of free work, and even write a Change Proposal or something like that, and honestly I don't have time for that.

[2022-05-31 12:42] leizhiyuan opened #15861 "metadata-store thread should not execute onPoliciesUpdate synchronized when PoliciesUpdate"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
 loadtest the admin api
**Expected behavior**
A clear and concise description of what you expected to happen.

metadata-store will not be blocked

**Screenshots**
If applicable, add screenshots to help explain your problem.

[code]

**Desktop (please complete the following in

[2022-05-31 17:09] #15850 closed

[2022-06-01 02:29] leizhiyuan commented on #15861
[code]

it seems here use a single thread ,  maybe the owner want to keep order?  can we use ordered threadpool to execute receivedNotification?

[2022-06-01 03:40] Gleiphir2769 opened #15871 "Topic internalStats/stats get failed: Topic not found"
**Describe the bug**
Pulsar v2.8.2
I craete a topic by using https://pulsar.apache.org/admin/v2/persistent/{tenant}/{namespace}/{topic}, then use https://pulsar.apache.org/admin/v2/persistent/{tenant}/{namespace}/{topic}/internalStats and https://pulsar.apache.org/admin/v2/persistent/{tenant}/{namespace}/{topic}/stats to check it. It will be failed and return "404 "reason": "Topic not found"". But

[2022-06-01 04:56] yebai1105 commented on #15776
Below are answers to some of your questions and our findings：
1、your questions ：
1.1 we never used this command：bin/bookkeeper shell simpletest --ensemble 4 --writeQuorum 4 --ackQuorum 4 --numEntries 4
1.2 command 'bin/bookkeeper shell listunderreplicated' and command'bin/bookkeeper shell decommissionbookie' are executed on the faulty machine 10.101.129.75
1.3 All namespace persistence strategies

[2022-06-01 05:05] yebai1105 commented on #15776
In addition, we also want to know the following and to deal with the scenario where the ledger data has been lost, can the parameter journalWriteData be set to false?

[2022-06-01 06:52] truong-hua commented on #10231
I got the same issue with Pulsar 2.10.0 but it's weird that the error happened on a specific topic and not with others in the same namespace.

Exception is:
[code]

I make the same Rest API request to another topic in the same namespace and tenant and it's success. Also tried to delete the topic and recreate and it's the same. I checked all partitions of the topic is created properly.

[2022-06-01 06:55] truong-hua commented on #10231
Can we reopen the issue @frank-montyne?

[2022-06-01 06:57] leizhiyuan commented on #15043
@gaoyanliang

maybe I can help for

[code]

[2022-06-01 07:16] gaoyanliang commented on #15043
This task will be completed soon and a review will be launched.  maybe you can help for
<img width="842" alt="image" src="https://user-images.githubusercontent.com/33021341/171348930-f58a2972-cfce-425d-8117-ec6bf984a3a1.png">

[2022-06-01 07:22] poorbarcode commented on #15516
@eolivelli @gaoran10 @gaozhangmin @315157973 @lhotari @michaeljmarshall I have start a vote and already send email, could you take a look.

Discuss Link: https://lists.apache.org/thread/t6h98qs2coc56z06tw38hdlljl67ft4n
Vote Link: https://lists.apache.org/thread/qfg9jfocpsc0tzy45ozgoothw1jpxk5g

[2022-06-01 07:38] zqcece commented on #15043
我可以帮助完成 removePublishRate / getPublishRate / getDispatchRate / setDispatchRate / deleteDispatchRate @leizhiyuan @Technoboy- @gaoyanliang

[2022-06-01 08:09] nodece commented on #15871
Could you try the Pulsar 2.8.3?

[2022-06-01 08:49] Gleiphir2769 commented on #15871
It still doesn't work. I also test it in v2.9.1 and get the same result. So can you reproduct it? By the way, I uesed pulsar cluster with 3 brokers.

Topic List Response:
`[
    "persistent://public/lxx-consumer-test/consumer-partition-0"
]`

Topic internal stats Response:
`{
    "reason": "Topic not found"
}`

[2022-06-01 08:58] #15858 closed, assigned to nobody

[2022-06-01 09:46] hpvd commented on #15538
@Anonymitaet

did some optimizations on the wave images, to cut size down (both are near 1 MB)
to improve download time, client and server load...
Got less than 1/3 for each image with IMHO near identically visual quality.

just have a look:

originals (downloaded from website):
![feature-waves-top_original-918KB](https://user-images.githubusercontent.com/5681880/171376152-eccf21e6-dce6-448a-ba74-

[2022-06-01 12:58] miton18 opened #15879 "[Doc] broken link"
### What issue do you find in Pulsar docs?

Broken link on Pulsar sql doc:

https://github.com/apache/pulsar/blob/master/site2/docs/sql-deployment-configurations.md?plain=1#L144

### What is your suggestion?

Update the link

### Do you have any references?

https://github.com/apache/pulsar/blob/master/site2/docs/sql-deployment-configurations.md?plain=1#L144

### Would you like to fix this issue?

[2022-06-01 17:31] truong-hua opened #15881 "Inactive topic cleaning up does not work properly"
**Describe the bug**
I'm using Pulsar 2.10.0 with `brokerDeleteInactivePartitionedTopicMetadataEnabled=true` and `allowAutoTopicCreationType=partitioned`. We disabled the `brokerDeleteInactiveTopicsEnabled` at broker level and enabled it in namespace level with this inactive topic policy: `{"inactiveTopicDeleteMode": "delete_when_subscriptions_caught_up", "maxInactiveDurationSeconds": 3600, "delet

[2022-06-01 18:30] vamsiprasanth-narvar opened #15882 "Fatal error with pulsar client and Java 17(open jdk 17.0.2_8-7-1937)"
**Describe the bug**
We are deploying our consumer app using pulsar client 2.9.1(tried with 2.10 version too) with java version 17(open jdk 17.0.2_8-7-1937) and we are getting fatal error during init of PulsarClient. The app is working with Java 11 and Java 15.

**To Reproduce**
Steps to reproduce the behavior:
Error occurs in this statement -  PulsarClient.builder().serviceUrl(broker).connections

[2022-06-02 01:28] lujiwen commented on #15152
@xiaobing0508 yes, and I find the bad request exception is only thrown for the topic who has a huge throughput.

[2022-06-02 02:06] leizhiyuan commented on #15043
ok

I will work for splitNamespaceBundle / getTopicHashPositions / setPublishRate

[2022-06-02 02:41] yangl commented on #15849
Ohh, What will happen when config the subscription properties by cli and init the client with the subscription properties ?

[2022-06-02 03:03] Technoboy- opened #15885 "PIP-163: Pulsar client : Connect Command add `keep_alive_interval`"
## Motivation

When investigating #13342, we found that both the client and the server have the keepAliveIntervalSeconds configuration, which is 30s by default. During the configured time, the channel will send ping/pong commands to maintain connection availability. If the pong command is not replied within the cycle, the channel will be closed. For the client side, the reconnect logic is triggere

[2022-06-02 03:51] lujiwen commented on #15152
I looked into the source code, and I found this may highly be related to this configuration 'httpMaxRequestSize',  I guess getting partitioned topic stats can possibly increase HTTP request body size @shibd

[2022-06-02 03:53] zqcece commented on #15043
thx~ i will work for removePublishRate / getPublishRate / getDispatchRate / setDispatchRate / deleteDispatchRate

[2022-06-02 03:54] xiaobing0508 commented on #15152
Have you found a solution?

[2022-06-02 04:49] leizhiyuan commented on #15043
setPublishRate is same with these work, you can do it together

[2022-06-02 06:52] lhotari commented on #15225
@Jason918 This is an interesting use case. Would you be able to share more details of what is "proper tuning" for broker clusters for this use case? What are your hardware requirements? How is pulsar-discovery configured and used? This topic would also be a great talk for [Pulsar Summit](https://pulsar-summit.org/)!

[2022-06-02 07:08] truong-hua opened #15891 ""Topic policies cache have not init" randomly happen on different topics in the same namespace"
**Describe the bug**
I think my bug is related to this issue https://github.com/apache/pulsar/issues/10231 but actually it's not because our Pulsar has disabled the `brokerDeleteInactiveTopicsEnabled` in broker level. And the issue "Topic policies cache have not init" happened on both  namespaces with "inactiveTopicPolicies" enabled and disabled.

We are all using partition topics.

Our full adjus

[2022-06-02 07:10] lhotari commented on #15885
I think that this is unnecessary complexity. The broker side keep alive should be kept short enough and that should be independent of the client setting.

There were some bugs that caused the connection to stay open for longs durations.
#15382 Closes the connection if a ping or pong message cannot be sent .
#15366 Fixes a proxy connection leak when inbound connection closes while connecting is in

[2022-06-02 07:11] lhotari commented on #13342
There were some bugs that caused the connection to stay open for longs durations.
https://github.com/apache/pulsar/pull/15382 Closes the connection if a ping or pong message cannot be sent .
https://github.com/apache/pulsar/pull/15366 Fixes a proxy connection leak when inbound connection closes while connecting is in progress
Both of the above fixes address issues where the symptom is "Producer wi

[2022-06-02 07:14] lhotari commented on #13342
@wenbingshen I think that this is not a bug that you are describing. It might be a way to reproduce "Producer with name xxx is already connect to topic", but if the steps are followed, I think that it's completely expected behavior.

[2022-06-02 07:14] Anonymitaet opened #15892 "[improve][doc] highlight important notice"
Some important notices are not highlighted, they are buried in the running texts.
<img width="1120" alt="image" src="https://user-images.githubusercontent.com/50226895/171573740-03db8548-7b8d-4bac-85b3-acce03e9a0f4.png">

We can make it more prominent by using `tip`, so that they are in green background.
![image](https://user-images.githubusercontent.com/50226895/171573957-900c83bd-6f15-49e5-a3ac-

[2022-06-02 07:17] lhotari commented on #15885
The steps for reproducing "Producer with name xxx is already connect to topic" in #13342 doesn't describe a bug. It's expected and correct behavior of the broker. I commented in https://github.com/apache/pulsar/issues/13342#issuecomment-1144527924 about this. Therefore this PIP is attempting to solve a problem that isn't a problem at all.

[2022-06-02 07:23] Technoboy- commented on #15885
I don't think it's a problem either, only an optimization.  The broker side does not need this configuration at all, and uses the  client-side instead.

[2022-06-02 07:24] lhotari commented on #15885
I don't see how this could be an optimization when it's not needed at all.

[2022-06-02 07:26] Technoboy- commented on #15885
Broker doesn't need this configuration anymore, that's not an optimization?

[2022-06-02 07:26] #15783 closed

[2022-06-02 07:33] Technoboy- commented on #15885
Why should be separated?

[2022-06-02 07:34] Technoboy- commented on #15885
This value is based on the channel according to the client configuration, is there any problem? Why separate configuration?

[2022-06-02 08:17] Anonymitaet commented on #15538
Hi @hpvd thanks for your great idea, that makes sense! Would you like to replace the old one with the new image? Please submit the new image to [pulsar repo](https://github.com/apache/pulsar). Thanks!

cc @Paul-TT

[2022-06-02 08:21] wenbingshen commented on #13342
These PR looks great, but I'm not sure if this has been resolved #13061, may need to be validated in production environment.

If the steps to reproduce end up being an expected behavior, it may not be easy to reproduce the issue.
Perhaps it should be considered whether this expected behavior is correct, is there a way to replace and optimize.

@eolivelli often encountered this problem in some envi

[2022-06-02 08:25] Technoboy- commented on #15881
Seems that there exist some subscriptions are not caught up which means these subscriptions have messages not acked.

[2022-06-02 08:35] Anonymitaet commented on #15879
The link is not broken, I can access it
<img width="1855" alt="image" src="https://user-images.githubusercontent.com/50226895/171590082-958a81b8-c689-4f51-a77d-525699a92263.png">

How about you? @momo-jun

[2022-06-02 08:51] truong-hua commented on #15881
Is there anyway to verify it? The backlog size is 0 and we have disable the only producer for a while.

[2022-06-02 08:57] Technoboy- commented on #15891
Could you provide some broker logs when this error happens?

[2022-06-02 09:16] momo-jun commented on #15879
It works well on my side too.

[2022-06-02 09:38] truong-hua commented on #15891
Dear @Technoboy- ,

The broker logs has no more information than the exception

[code]

[2022-06-02 09:41] miton18 commented on #15879
hum...
1. I go on https://pulsar.apache.org/docs/sql-deployment-configurations/
2. I hit F5
3. I clic on `[Query data](https://pulsar.apache.org/docs/sql-deployment-configurations/sql-getting-started)`
I land on a 404 page

![pulsar](https://user-images.githubusercontent.com/5887985/171602429-7c94a62c-f47c-4b27-b175-08528d0fa09e.png)

[2022-06-02 11:09] lhotari commented on #15392
This is currently the most flaky test in our CI. There were 32 failues in the last 7 days. [Detailed report](https://github.com/lhotari/pulsar-flakes/blob/master/2022-05-26-to-2022-06-02/org.apache.pulsar.tests.integration.functions.java.PulsarFunctionsJavaThreadTest.testJavaLoggingFunction.md)

[2022-06-02 11:17] hpvd commented on #15538
@Anonymitaet please let your designer double check if quality target is reached with the new image versions.
He/she could easily save the images from my comment and integrate them into the website.

[2022-06-02 11:27] lhotari commented on #14106
Flaky-test: org.apache.pulsar.broker.service.RackAwareTest.testPlacement
Number of failures: 5

org.apache.pulsar.broker.service.RackAwareTest is flaky. The testPlacement test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2022-06-01T02:22:11.0397115Z](https://github.com/apache/pulsar/

[2022-06-02 11:38] lhotari opened #15894 "Flaky-test: PersistentTopicsTest.testTriggerCompactionTopic"
org.apache.pulsar.broker.admin.PersistentTopicsTest is flaky. The testTriggerCompactionTopic test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2022-06-01T02:01:43.4754992Z](https://github.com/apache/pulsar/runs/6681608749?check_suite_focus=true#step:10:517)
[example failure 2022-06-0

[2022-06-02 11:39] lhotari commented on #15894
Possibly related to #14030

[2022-06-02 11:44] lhotari commented on #15894
There's seems to be an issue in the test. The test reuses the same `response = mock(AsyncResponse.class)` instance for multiple calls and expects that the response is resumed once. This doesn't make sense.

https://github.com/apache/pulsar/blob/ecd275dc21f33483a649e5b872990771257b1d45/pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/PersistentTopicsTest.java#L902-L908

@Technoboy- would

[2022-06-02 11:47] lhotari opened #15895 "Flaky-test: RackAwareTest.testRackUpdate"
Flaky-test: org.apache.pulsar.broker.service.RackAwareTest.testRackUpdate
Number of failures: 6

org.apache.pulsar.broker.service.RackAwareTest is flaky. The testRackUpdate test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2022-05-31T23:07:39.3281362Z](https://github.com/apache/pulsa

[2022-06-02 11:48] lhotari commented on #15895
Test was introduced in https://github.com/apache/pulsar/pull/14248 . @aloyszhang would you like to fix this flaky test?

[2022-06-02 11:49] lhotari opened #15896 "Flaky-test: PulsarLedgerIdGeneratorTest.testGenerateLedgerId"
org.apache.pulsar.metadata.bookkeeper.PulsarLedgerIdGeneratorTest is flaky. The testGenerateLedgerId test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2022-06-01T14:25:28.8616198Z](https://github.com/apache/pulsar/runs/6691176380?check_suite_focus=true#step:9:1542)
[example failure 2

[2022-06-02 11:51] lhotari opened #15897 "Flaky-test: ClientCnxTest.testClientCnxTimeout"
org.apache.pulsar.client.impl.ClientCnxTest is flaky. The testClientCnxTimeout test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2022-06-01T04:00:12.5747954Z](https://github.com/apache/pulsar/runs/6682553637?check_suite_focus=true#step:9:3387)
[example failure 2022-06-01T02:53:51.118

[2022-06-02 11:52] lhotari commented on #14107
Flaky-test: org.apache.pulsar.metadata.ZKSessionTest.testSessionLost
Number of failures: 4

org.apache.pulsar.metadata.ZKSessionTest is flaky. The testSessionLost test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2022-05-27T11:52:22.1431735Z](https://github.com/apache/pulsar/runs/662

[2022-06-02 11:53] lhotari commented on #14107
@gaozhangmin This didn't get fixed by #14189 . Would you like to take another look?

[2022-06-02 11:54] lhotari commented on #15764
Fixed by #15865

[2022-06-02 12:57] GBM-tamerm opened #15898 "KeyShared consumers with sticky hash range generate backlog with messages not fall within consumer hash range - v2.9.2"
**Describe the bug**
KeyShared consumers with sticky hash range generate backlog with messages not fall within consumer hash range, and that cause consumers to not receive any messages even for the ones that fall in its range .

**To Reproduce**
Steps to reproduce the behavior:
1. create Keyshared consumer with sticky has range example 35891,35899
2. create producer to generate message with Murmur

[2022-06-02 13:14] fmiguelez opened #15899 "SchemaDefinition.<T>builder().withJsonDef() does not register logical type conversions (e.g. java.lang.Instant)"
**Describe the bug**
When using either `SchemaDefinition.<T>builder().withPojo()` (or directly `Schema.AVRO()`) time conversions for logical types are registered so POJOs with some java.time objects (not all) are correctly serialized.

However when method  `SchemaDefinition.<T>builder().withJsonDef()` is used instead such registration is not performed. We have to manually register those types for

[2022-06-02 13:33] horizonzy opened #15900 "Support batch local memory metadata store."
Now we already support local memory metadata store, but it didn't support batch operation.

In some case, we need batch operation to support it.

[2022-06-02 13:46] mendonk commented on #15892
I can help with this.

[2022-06-02 14:53] cbornet opened #15902 "[PIP] PIP-173 : Create a built-in Function implementing the most common basic transformations"
## Motivation

Currently, when users want to modify the data in Pulsar, they need to write a Function.
For a lot of use cases, it would be handy for them to be able to use a ready-made built-in Function that implements the most common basic transformations like the ones available in [Kafka Connect’s SMTs](https://docs.confluent.io/platform/current/connect/transforms/overview.html).
This removes us

[2022-06-02 15:03] azhsmesos commented on #15892
please assigned it to me ~

[2022-06-02 15:46] frankjkelly opened #15904 "[Doc] Load Balancer - Broker overload thresholds does not apply to some Shedding algorithms"
### What issue do you find in Pulsar docs?

In talking with @sijie he mentioned that the `loadBalancerBrokerOverloadedThresholdPercentage` setting does not apply to the ThresholdShedder

However if you look at the documentation for "Broker overload thresholds" that heading comes at the same level and right after "UniformLoadShedder"

https://pulsar.apache.org/docs/next/administration-load-balance#