[2019-08-13 12:00] kimcs commented on #4912
Currently I'm using the following workaround to be able to read the last message of a topic:
Use the pulsar-admin-client to get the last-message-id of a topic (-1 means empty topic), then use pulsar-client Consumer.seek to that id and then the next receive call will get the last message of the topic. This is not an ideal solution as it also relies on the pulsar-admin client.

[2019-08-13 18:28] mingfang commented on #3121
I'm still seeing this problem with 2.4.0.
I'm deploying bookie as stateful set and just using in container storage for testing.
The error seems to be related to zookeeper info and not related to storage.

[2019-08-14 01:25] #4917 closed

[2019-08-14 06:51] kimcs commented on #4928
I have changed my design and now rely on the pulsar client application to track positions rather than using subscriptions and acknowledgements, so I no longer need this feature for what I'm working on. Still I think this option is useful, as it allows using Pulsar subscriptions to be master of stream progress with at-least-once semantics.

[2019-08-14 07:08] LeisureChou opened #4947 "[function]Does the pulsar support connecting to the database in function?"
Does  the pulsar support connecting to the database in function?

[2019-08-14 07:11] LeisureChou commented on #4947
or  can the state in function  save into db

[2019-08-14 07:29] congbobo184 commented on #4838
what are the steps for the recurrence of this problem and
[code]
I did not reproduce it in this way.

[2019-08-14 08:11] sijie commented on #4838
@congbobo184 I think I made a mistake in the description I provided. The exception was thrown when I use AUTO_CONSUME schema.

[2019-08-14 09:46] congbobo184 commented on #4838
OK, I will reproduce this and fix the bug

[2019-08-15 01:23] Anonymitaet commented on #4897
This issue has been fixed, thanks for your suggestion @cumtwwei and thanks for your review @sijie.

[2019-08-15 01:23] #4897 closed

[2019-08-15 02:29] benxinglong opened #4954 "'msgBacklog' is wrong when use Producer.sendAsync() send message"
**Describe the bug**
When use Producer.sendAsync() method send message to some topic( already has subscription),the value of 'msgBacklog' is wrong.

**To Reproduce**
Steps to reproduce the behavior:
1. use command "pulsar-client consume -s test -n 0 test" to create topic and subscription ,then exit
2. send 10 messages to Topic "test"  by  Producer.sendAsync()
3. use command "pulsar-admin persisten

[2019-08-15 04:25] mingfang opened #4956 "gen-yml-from-env.py is broken in 2.4.0"
[code]
configurationStoreServers=foo
/pulsar/bin/gen-yml-from-env.py:49: YAMLLoadWarning: calling yaml.load() without Loader=... is deprecated, as the default Loader is unsafe. Please read https://msg.pyyaml.org/load for full details.
  conf = yaml.load(open(conf_filename))
configurationStoreServers: localhost:2181

[2019-08-15 07:55] mingfang opened #4957 "docker image needs to install 'less'"
I'm getting this message when running `pulsar sql`

[code]

I was able to temporarily resolve this by running `apt-get update && apt-get install -y less`

[2019-08-15 08:56] codelipenghui opened #4959 "Pulsar admin always timeout until restart the broker"
**Describe the bug**

pulsar-admin be blocked until restart the broker.

Check the broker log, some logs looks abnormal:
[code]

And then make the heap dump of the broker:
[172.30.91.40.dump.tar.zip](https://github.com/apache/pulsar/files/3504896/meta_block_172.30.91.40.tar.zip)

[2019-08-15 11:35] ThirdLibResearch opened #4961 "Third-Party Library Version Inconsistencies in your project"
We are currently investigating the usage of different versions of the same third-party library in different modules of a project (i.e., the library version inconsistency problem). It is a non-trivial and time-consuming task to maintain the evolving third-party libraries. In that sense, it seems necessary to harmonize the different versions of the same third-party library in different modules into

[2019-08-15 15:12] xixiss commented on #4560
i write these in broker.conf:
brokerClientAuthenticationPlugin=org.apache.pulsar.client.impl.auth.AuthenticationTls
brokerClientAuthenticationParameters=tlsCertFile:/root/my-ca/broker.cert.pem,tlsKeyFile:/root/my-ca/broker.key-pk8.pem
brokerClientTrustCertsFilePath=/root/my-ca/certs/ca.cert.pem

but it still fail with error code 401 when i  use pulsar-admin to  list topic

[2019-08-15 16:24] mingfang opened #4964 "Broker unable to restart"
I have a working Broker cluster with 3 replicas.
When I bounce any of the replicas, then they fail to start.
Here is the error
[code]

[2019-08-16 02:52] aahmed-se commented on #4904
you can submit connectors  via res api as a nar file , is that what you are looking for ?

[2019-08-16 02:54] aahmed-se opened #4967 "Static linking for c/c++ libraries broken for osx"
unable to generated statically linked libraries on osx.
[code]

[code]

[2019-08-16 02:55] aahmed-se commented on #4944
We are just using the default python provided by the debian, if 3.7 is needed best fork to build a custom image.

[2019-08-16 03:49] pouledodue commented on #4943
it's ok when specifying a key so just needs a cosmetic fix for when the key is not specified

[code]

[2019-08-16 09:21] freeznet opened #4969 "FD leakage found in FunctionActioner.downloadFile"
**Describe the bug**
When function package downloaded from bookkeeper, a new `FileOutputStream` passed to `WorkerUtils.downloadFromBookkeeper`, but `WorkerUtils.downloadFromBookkeeper` dosent close `FileOutputStream`, which cause the `FileOutputStream` as a leaked fd.

**To Reproduce**
Steps to reproduce the behavior:
- docker standalone pulsar v2.4.0
- use pulsar admin to create a new function wi

[2019-08-16 09:28] freeznet opened #4971 "docker image should have C++ client installed"
**Describe the bug**
pulsar standalone v2.4.0 docker image do not have C++ client installed, we have to manually install C++ client from deb package from https://pulsar.apache.org/docs/en/client-libraries-cpp/#deb. The lack of C++ client caused go function cannot be executed. following logs shown that the elf do not have required lib `libpulsar.so.2.4.0`.

[code]

[2019-08-16 12:44] #4854 closed

[2019-08-16 23:33] KannarFr commented on #4515
@sijie poke.

Another question, tiered storage is never clean. Currently, there is no retentionpolicies for tieredstorage right? What do you think about have offloadpolicies that define when a message should be offloaded and when an offloaded message should be removed? Both should have duration and size conditions.

[2019-08-17 13:42] jiazhai commented on #4560
Sorry for not notice this. @Liu-Junlin @xixiss. I will take a look.
@sijie We should add doc. But after re-think of this, we may should provide a config for user to disable the auth between brokers.
currently this config is re-used at a lot of places,
[code]
Broker internal client, Broker internal admin, Broker internal function worker will all use this. If we want to use this config in more than

[2019-08-17 16:10] yittg commented on #4720
It's not about the snappy version, at least not completely. `res` is a undeclared identifier for sure.

[2019-08-18 01:22] fxbing opened #4973 "org.apache.pulsar.tests.integration.functions.PulsarFunctionsThreadTest failure"
[code]

[2019-08-18 01:22] fxbing commented on #4973
#4963

[2019-08-18 03:05] tuteng commented on #4956
This is a warning and will not affect the normal operation. Fix has been made here https://github.com/apache/pulsar/pull/4974

[2019-08-18 03:08] mingfang commented on #4956
My function_worker.yml file does not seem to pick up the env.
I thought it was because of this problem.

[2019-08-18 03:17] mingfang commented on #4956
ok, nvm
I looked at the script. The env needs PF_ prefix.

[2019-08-18 03:47] tuteng commented on #4956
Yes, PF_ prefix is required for parameters customized in environment variables

[2019-08-18 06:40] mingfang commented on #4260
What is the downside to automatically create public/default when not running standalone mode?
Many of the online tutorials/samples request the default namespace and not having it creates a bad first experience.

[2019-08-18 06:55] Anonymitaet commented on #4854
@sijie @congbobo184 thank you

[2019-08-18 07:39] #4909 closed

[2019-08-18 11:15] sijie commented on #4904
@aahmed-se what @tuteng is looking for is a mechanism (or an http endpoint) to trigger reloading connectors when people adding more connectors to the connectors directory

[2019-08-18 11:23] sijie commented on #4926
This will be fixed by #4963

[2019-08-18 11:33] sijie commented on #4937
@pouledodue interesting. Can you describe more about this case?

- what is the function?
- does the topic `test/app/func` exist?

[2019-08-18 11:42] sijie commented on #4947
@LeisureChou in theory you can just open a connection to a data in the constructor of the function, so that you can use the db connection in the function method.

Is that what you are looking for? Or can you describe more about what you are looking for?

[2019-08-18 11:45] sijie commented on #4954
@benxinglong I am not sure if this is a problem. Because sendAsync are async operations. There is no guarantee that all 10 messages are sent to the topic. You have to wait on the futures returned by sendAsync to make sure all 10 messages are produced to the topic.

Please try to wait for the last sendAsync and check if you can get the right `msgBacklog`.

[2019-08-18 11:51] sijie commented on #4959
@codelipenghui It might be related the issues we have seen in broker that admin requests don't timeout and block the http requests. I think there are multiple changes checked in master to make http requests async.

If the timeout happens again, take a jstack to see if there is any http threads are blocked.

[2019-08-18 11:55] sijie commented on #4971
@freeznet I believe the docker image should have C++ client installed. otherwise python client is unable to be used and python functions can not be run.

@wolfstudy can you work with @freeznet to see why he can't run go function?

[2019-08-18 12:00] sijie commented on #3259
Closed the question since the question is answered

[2019-08-18 12:00] #3259 closed

[2019-08-18 12:05] #2576 closed

[2019-08-18 12:05] sijie commented on #3294
The issue has been fixed in 2.3.0

[2019-08-18 12:05] #3294 closed

[2019-08-18 12:06] #3305 closed

[2019-08-18 12:09] sijie commented on #3367
Closed it since it is related to advertisedAddress.

[2019-08-18 12:09] #3367 closed

[2019-08-18 12:13] #3382 closed

[2019-08-18 12:14] sijie commented on #3419
Currently partition is the finest granularity in Pulsar. We can't split it now.

Does the new subscription mode `key_shared` address your problem?

[2019-08-18 12:16] sijie commented on #3408
@chowyu08 any more context about this issue?

[2019-08-18 12:17] sijie commented on #3404
Question is answered. So closed this issue.

[2019-08-18 12:17] #3404 closed

[2019-08-18 12:18] sijie commented on #3402
@sautran the settings are available since 2.3.0

[2019-08-18 12:18] #3402 closed

[2019-08-18 12:19] sijie commented on #3396
This is fixed by #3397

[2019-08-18 12:19] #3396 closed

[2019-08-18 12:21] sijie commented on #3436
This is fixed by #3450

[2019-08-18 12:21] #3436 closed

[2019-08-18 12:21] sijie commented on #3463
Closed this issue since it seems to be related GKE issue.

[2019-08-18 12:21] #3463 closed

[2019-08-18 12:22] #3480 closed

[2019-08-18 12:27] sijie commented on #3510
since 2.2.2 was released, close this issue.

[2019-08-18 12:27] #3510 closed

[2019-08-18 12:31] sijie commented on #3506
The docs of functions, sinks and sources are all added.

[2019-08-18 12:31] #3506 closed

[2019-08-18 12:31] sijie commented on #3506
The docs of functions, sinks and sources are all added.

[2019-08-18 12:36] #4969 closed

[2019-08-18 21:11] rdhabalia commented on #4964
can you try with this fix #4965

[2019-08-18 21:14] mingfang commented on #4964
Is there CI/CD to push daily builds to Docker Hub?
Or do I have to build my own image?

[2019-08-19 07:13] freeznet commented on #4971
@sijie @wolfstudy i have located the problem. python version has a shortcut to solve the dependency problem by copy a compiled dynamic lib file called `_pulsar.so` to python's `site-packages`.

https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/python/setup.py#L50

for golang function, ELF will not search dynamic lib within python's site path.

[2019-08-19 07:47] frank-dkvan opened #4976 "Pulsar SQL can not query the latest ingested event in a topic , but Pulsar Consumer/Read always can."
**Describe the bug**
Pulsar SQL can not query the latest ingested event in a topic , but  Pulsar Consumer/Read always can.

the testing Pulsar version is 2.4.0

from the two screenshots below, we can see the latest event is always missed in Palsar SQL. but Pulsar reader client can fetch the latest one correctly.

I am new to Pulsar but very interested in Pulsar. don't know this is a bug, or just a

[2019-08-19 10:59] MrBlueMoo opened #4977 "Unable to delete schema from topic after getting schema into a certain state"
**Describe the bug**
I have run into an issue where after a schema has been applied to a topic automatically by referencing the schema during Producer creation in Java, I am unable to delete the schema, and have tried via a number of methods. This is causing an "Incompatible schema used" message when I try to connect via a connection with Java, which I cannot workaround. This has occurred on a num

[2019-08-19 11:09] LeisureChou commented on #4947
The state in function is saved into  local memory or bookeeper memory  or bookeeper disk

[2019-08-19 11:25] #4956 closed

[2019-08-19 11:33] sijie commented on #4947
in bookkeeper. stored and replicated on disks.

[2019-08-19 12:00] frank-dkvan commented on #4976
looking at the screenshots above, we can find  Pulsar Reader returns 5 records with the latest ingested event,  but Pulsar SQL only returns 4 records without the latest ingested event.   always missing one latest ingested event from Pulsar SQL while new event comes into Pulsar Topic

[2019-08-19 13:07] guillaume-braibant opened #4978 "Pulsar - K8S : admin pod should use the broker service instead of proxy service to discover brokers"
### Motivation

Currently, the pulsar-admin pod uses the service provided in proxy.yml to discover broker pods and interact with them. Here is the part of the admin.yml script I am talking about :

The first problem is that you need to deploy the proxy service (proxy.yml) in order to make your pulsar-admin pod work. If you don't, your pulsar-admin pod will not be able to locate broker pods and, fo

[2019-08-19 18:10] jerrypeng opened #4979 "Update Function API Java docs"
The Pulsar Function java docs found here:

https://pulsar.apache.org/api/pulsar-functions/

Are out of date.  We need to generate a new doc

[2019-08-20 02:14] fxbing opened #4980 "Expose an REST endpoint to trigger backlogQuotaCheck"
**Is your feature request related to a problem? Please describe.**
In master, there are 2 ways to trigger backlogQuotaCheck:
1. Create a new producer.
2. Wait until the default trigger time. (Default `backlogQuotaCheckIntervalInSeconds` is 60.)

So, if I want to trigger backlogQuotaCheck without creating a new producer in integration tests, I have to wait at least 60 seconds.

**Describe the solut

[2019-08-20 03:22] ghost opened #4981 "[Doc] update config docs"
[Docs](https://pulsar.apache.org/docs/en/reference-configuration/#broker) not up-to-date with [conf](https://github.com/apache/pulsar/blob/branch-2.4/conf/broker.conf)

for example `isSchemaValidationEnforced=false` is not there

[2019-08-20 04:00] #4720 closed

[2019-08-20 05:38] ghost opened #4982 "Pulsar SQL unusable when topic contains malformed message"
**Describe the bug**
[code]
and
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. create a topic with an AvroSchema
2. using the CLI, send non-Avro message to the topic:
 `pulsar-client produce persistent://test/app/topic1 -m yoshi`
3. Query the topic from CLI:
`$ pulsar sql --execute 'select * from pulsar."test/app".topic1' \
 --output-format ALIGNED`

**Expected behavior**
I expect a

[2019-08-20 05:55] jiazhai commented on #4840
@codelipenghui @sijie Seems PR #4892 was cloesed. Could we move this to 2.5.0?

[2019-08-20 05:56] banishee opened #4983 "[cgo client] The function Send(ctx, msg) performance is not good"
#### Expected behavior

I want to send a quantity of messages using [pulsar-client-go](https://github.com/apache/pulsar-client-go) (not cgo), and I hope it can be done in less than 1 second

#### Actual behavior

I call Send(ctx,msg) about 2000 times in a loop, it costs me 6 seconds to finish totally.
One message's capacity is 60 Bytes or so.

#### Steps to reproduce

[code]

#### System configura

[2019-08-20 06:01] jiazhai commented on #4804
@sijie How about move this into 2.5.0?

[2019-08-20 06:01] jiazhai commented on #4803
move this into 2.5.0, since PR has already moved.

[2019-08-20 06:04] jiazhai commented on #4742
@YangZunYu @sijie  How about move this into 2.5.0?

[2019-08-20 06:23] bicouy0 commented on #4721
Seems like `org.apache.pulsar.client.impl.conf.ProducerConfigurationData` throws the exception :

[code]

throws `Exception in thread "main" java.io.NotSerializableException: org.apache.pulsar.client.impl.DefaultBatcherBuilder`

(flink 1.8.1-2.12, pulsar 2.4.0)

Ended with a custom FlinkPulsarProducer with ProducerConfigurationData replaced with simple topic name.

[2019-08-20 08:57] wolfstudy commented on #4983
Now, the go client depends on the cpp client. When we send the message every time, we will call the send of the cpp client to implement the real send function. In this process, a system call from go to c will occur, so there will be a certain performance issues.

Currently we use native go to rewrite pulsar's go client, the interface is consistent with the cgo client, the project address: https://

[2019-08-20 09:16] #4983 closed

[2019-08-20 09:44] fxbing opened #4984 "AdminMultiHostTest, CLITest, HealthcheckTest and PulsarFunctionsProcessTest failed"
Details:

https://builds.apache.org/job/pulsar_precommit_integrationtests/10076/console

[code]

[2019-08-20 09:49] fxbing opened #4985 "BinaryLookupServiceTest.basicLookup failed"
Details:

https://builds.apache.org/job/pulsar_precommit_cpp/9109/console

[code]

[2019-08-20 09:50] fxbing commented on #4985
#4963

[2019-08-20 09:50] fxbing commented on #4984
#4963

[2019-08-20 11:18] jiazhai commented on #4831
@sijie @congbobo184 I am trying to do 2.4.1 release. How about move this into 2.5.0?

[2019-08-20 12:57] sijie commented on #4831
moved to 2.5.0

[2019-08-20 13:38] sijie commented on #4840
@jiazhai I think #4877 already fixes it and it is in 2.5.0.

[2019-08-20 17:31] tcbuzor opened #4988 "Producer create method blocked forever"
**Describe the bug**
When we call the create method from the producer and there are no partitions available in the broker, the create method never returns and the thread blocks trying to connect. The connectionTimeout does not seem to help. The only option is to restart the entire JVM

**To Reproduce**
Steps to reproduce the behavior:
Try to create a producer on a broker with insufficient partitio

[2019-08-21 02:10] wolfstudy commented on #4988
By default, when the used topic is not created, the specified topic is automatically created when the producer is created. We can modify this behavior in `broker.conf`:

[code]

Can you provide a simple code to stabilize this problem?

[2019-08-21 02:20] sijie commented on #4977
@MrBlueMoo It is a known bug in 2.4.0 when handling deleted schema. The issue is fixed by #4669 and will be released in 2.4.1. 2.4.1 is coming next week.

[2019-08-21 02:25] sijie commented on #4976
@frank-dkvan this is a known issue of #3828. because Pulsar doesn't flush LAC so when Presto SQL reads data from bookkeeper bypassing broker, it will miss the latest message because the advanced LAC is not flushed back.

The fix is waiting for BK 4.10 release.

[2019-08-21 02:28] sijie commented on #4978
@guillaume-braibant +1

[2019-08-21 02:37] sijie commented on #4982
It seems to me that we can provide a flag to allow skipping the corrupted messages.

/cc @codelipenghui @congbobo184

[2019-08-21 04:06] tuteng opened #4990 "[website]Tab page, click no response"
**Describe the bug**
![image](https://user-images.githubusercontent.com/1907867/63401926-b44adc00-c40b-11e9-93e9-86b7e78572ea.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://pulsar.apache.org/docs/en/next/concepts-messaging/
2. Click sidebar => Manage schema
3. Open Chrome Developer Tool to View Errors

**Expected behavior**
Click OK, no error

**Screenshots**
If applicable

[2019-08-21 07:26] fxbing opened #4994 "Non-partitioned topic with '-partition-[number]' suffix conflicts with partitioned topic"
**Is your feature request related to a problem? Please describe.**

First, create a non-partitioned topic with the '-partition-[number]' suffix, such as  'topic-name-partition-0'.
And then, create a partitioned topic which name is 'topic-name' by cli.
The result is that the non-partitioned topic that was originally created will be overwritten.
**The consumer that previously planned to consume the

[2019-08-21 08:27] guillaume-braibant commented on #4978
Pull request : #4995

[2019-08-21 08:38] congbobo184 commented on #4831
how we check compatibility for INT8 and INT16? we allow they decode the message for themself or allow INT16 read INT8? any suggestion can give to me ?

[2019-08-21 08:45] tuteng opened #4997 "[Pulsar-IO]Nar package for connector not generated for Flume, Redis, Solr and InfluxDB"
**Describe the bug**
At this download address http://apache.communilink.net/pulsar/pulsar-2.4.0/connectors/, Nar package of Flume, Redis, Solr, and InfluxDB was not generated.

**Additional context**
These connectors were not correctly added to the configuration file.

[2019-08-21 08:54] frank-dkvan commented on #4976
@sijie got it! thanks

[2019-08-21 08:59] congbobo184 commented on #4840
#4877 this PR didn't fix it, i will fix ti and move it to 2.5.0

[2019-08-21 09:31] frank-dkvan opened #4998 "[BUILD FAILURE] pulsar-broker-auth-athenz of 2.5.0-SNAPSHOT[master], due to wrong maven repository"
**Describe the bug**
don't have jar in the maven repository: http://repo1.maven.org/maven2/com/yahoo/

the building error info below for reference:

[ERROR] Failed to execute goal on project pulsar-broker-auth-athenz: Could not resolve dependencies for project org.apache.pulsar:pulsar-broker-auth-athenz:jar:2.5.0-SNAPSHOT: Failed to collect dependencies at com.yahoo.athenz:athenz-zpe-java-client:j

[2019-08-21 10:02] yittg commented on #4626
@sijie Anyone is working on this? otherwise i would like to take it.

[2019-08-21 10:34] MrBlueMoo commented on #4977
@sijie Thank you, thats good to hear, apologies I didn't notice the existing issue before raising!

[2019-08-21 13:16] jiazhai commented on #3414
This seems be a dup to #4560

[2019-08-21 15:47] StormRyders opened #5003 "Python - Exception: Pulsar error: IncompatibleSchema when trying to send message to Pulsar Topic"
**Describe the bug**
I am trying to create Pulsar Producer in Python and getting below exception:
Exception: Pulsar error: IncompatibleSchema

**To Reproduce**
import pulsar
from pulsar import Client, AuthenticationTLS
from pulsar.schema import *
import jsonschema
import json
from enum import Enum

class Example(Record):
    a = String()

# set the application specific cert and key file path
auth

[2019-08-21 16:22] Lanayx opened #5004 "RedeliverUnacknowledgedMessages by ids returns more messages than requested"
**Describe the bug**
I'm writing a [.net client](https://github.com/fsharplang-ru/pulsar-client-dotnet) and got an issues while implementing _AckTimeout_ logic. When ack is not received [RedeliverUnacknowledgedMessages ](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java#L1266)function is called.
Let's say 100 messages where pro

[2019-08-21 16:50] vicaya opened #5005 "WebSocket API: support unsubscribing from a topic"
**Is your feature request related to a problem? Please describe.**
Unlike all other client APIs, websocket API doesn't support unsubscribing from a topic, which leaves many subscriptions around that need to be cleaned up by pulsar-admin.

**Describe the solution you'd like**

Add a boolean query param (e.g. unsubscribe) to the consumer endpoint.

**Describe alternatives you've considered**

pulsar

[2019-08-21 18:56] tcbuzor commented on #4988
When a Producer.create is called, how long does it create request last ? does it wait forever for the producer to be created? Can I pass a timeout to the create method ?
I dont have to restart the JVM to remove blocking threads due to hanging Producer create call.

[2019-08-21 20:44] #4997 closed

[2019-08-21 20:44] #4971 closed

[2019-08-21 20:53] sijie commented on #4994
+1 Pulsar should prohibit the creation of a partitioned topic with the same name if there is already a non-partitioned topic already exists.

[2019-08-21 20:57] sijie commented on #4998
@frank-dkvan can you provide more details about what command you are running?

[2019-08-21 20:58] sijie commented on #4998
@frank-dkvan just FYI. I don't have any problems building the master and also all the jenkins CI jobs can build master as well.

[2019-08-21 20:59] sijie commented on #5003
@StormRyders

- does the topic exist before you create the producer?
- try to use `pulsar-admin schemas` to fetch the schema information to see if there is any schema already defined for that topic.

[2019-08-21 21:02] sijie commented on #5004
@Lanayx what is the subscription mode?

[2019-08-21 21:08] KannarFr opened #5006 "AvroSchema in pulsar function producer doesn't output correct message"
**Describe the bug**
I'm using pulsar4s (pulsar scala client) and `pulsar-client consume` to debug.

When I produce and consume using pulsar4s-avro, I've got the following message using `pulsar-client consume`:

[code]
This one is well parsed to the wanted type using pulsar4s subscription.

Now, if I produce using pulsar-function Context like:

[code]

I used this native avro method to ensure that

[2019-08-21 21:09] KannarFr commented on #5006
poke @sijie @merlimat @gmethvin

[2019-08-21 21:10] Lanayx commented on #5004
@sijie Subscription mode is default - exclusive

[2019-08-21 21:34] sijie commented on #5004
@Lanayx : If it is exclusive or failover, it is the expected current behavior. There is an issue following up improving the behavior. See #4118

[2019-08-21 21:38] sijie commented on #4831
@congbobo184 to keep simple, we only check compatibilities when using same schema type. different schema types are always incompatible.

[2019-08-21 21:40] sijie commented on #4537
#4811 is fixing the issue.

[2019-08-21 21:40] sijie commented on #4626
@yittg : #4811 is fixing the issue in C++ client and CGo client. For the python fix, it has to wait for #4811 to be merged.

[2019-08-22 02:20] congbobo184 commented on #4831
ok, i will do with what you mean :)

[2019-08-22 04:21] tuteng commented on #4957
@mingfang
Can you describe your context in detail?
For example, whether the container environment was used or the local environment, what command was used to start the pulsar sql?

[2019-08-22 04:29] mingfang commented on #4957
[code]

[2019-08-22 06:41] pierre94 opened #5009 "[INSTALL FAILURE] pulsar/pulsar-client-cpp/python"
**Describe the bug**
pulsar/pulsar-client-cpp/python

**To Reproduce**

I install client-libraries-python from source following [document](http://pulsar.apache.org/docs/en/client-libraries-python/).

Run... then...failure

[code]
[code]
**Desktop (please complete the following information):**
 - OS:
    - 18.7.0 Darwin Kernel Version 18.7.0
    - Mojave 10.14.6 (18G87)

[2019-08-22 06:46] frank-dkvan commented on #4998
@sijie Hi, I just clone master code from github to local directory, then execute command in my MAC as follow, consequently failure occured:
mvn install -DskipTests

[2019-08-22 07:07] aahmed-se commented on #5009
you haven't built thee C++ libraries
http://pulsar.apache.org/docs/en/client-libraries-cpp#compilation

[2019-08-22 07:07] tuteng commented on #5009
If you want to install the client before version 2.4.0, you need to install [libpulsar](http://pulsar.apache.org/docs/en/client-libraries-cpp/#macos) first and then use pip to install client.
If you want to use source code installation, you need to compile the C++ library first refer to https://github.com/apache/pulsar/tree/master/pulsar-client-cpp#compile-on-mac-os-x.

[2019-08-22 07:08] sijie commented on #4998
@frank-dkvan

The athenz dependencies are in yahoo's maven repo.

The yahoo's maven repo is already defined in pulsar's root pom file. so please make sure you are able to access the maven repo.

[code]

[2019-08-22 08:14] Lanayx commented on #5004
Thank you, I've checked that with shared mode is works as expected. Closing the issue.

[2019-08-22 08:14] #5004 closed

[2019-08-22 09:32] fxbing opened #5012 "[flaky test] BasicEndToEndTest.testNegativeAcks"
[code]

[2019-08-22 12:25] jiazhai commented on #4642
would like to move to 2.5.0

[2019-08-22 12:28] jiazhai commented on #4626
since 4811 is marked as 2.5.0, would like to make this 2.5.0

[2019-08-22 12:29] jiazhai commented on #4737
would like to move this to 2.5.0

[2019-08-22 13:29] Anonymitaet opened #5015 "[Doc] Update Pulsar Connector Guide"
Currently, the Pulsar connector guide is not clear, accurate and complete.

[2019-08-22 13:30] Anonymitaet commented on #5015
![image](https://user-images.githubusercontent.com/50226895/63518611-0121d600-c524-11e9-8ca2-2864ed3571fd.png)

[2019-08-22 15:19] KannarFr commented on #5006
@congbobo184 I saw you worked on related things, do you have ideas about this issue?

[2019-08-22 15:21] KannarFr opened #5017 "pulsar-proxy serves pulsar sql worker?"
I checked the proxy.conf and there is no mention about pulsar sql-worker support.

Does the pulsar-proxy support redirect presto://<proxy-url> to pulsar sql workers?

[2019-08-22 15:46] KannarFr commented on #5017
And if it doesn't, does pulsar sql worker supports SslContextAutoRefreshBuilder?

[2019-08-22 16:28] jerrypeng commented on #5006
@KannarFr what is pulsar4s-avro? Is this a library?

[2019-08-22 16:30] jerrypeng commented on #5006
@KannarFr can you try first with just consuming and producing with the official java client?

[2019-08-22 17:08] KannarFr commented on #5006
@jerrypeng

It's a pulsar4s sub part to manage avro decode/encode.

Will do it.

[2019-08-22 18:00] sijie commented on #5006
@KannarFr

I would suggest you using the java client to consume the AVRO messages to verify if java client can consume the AVRO messages produced by the function context. This would help you understand if the issue is from pulsar4s. If the problem only exists in pulsar4s, you should consult the pulsar4s author for the fix.

[2019-08-22 22:56] LeisureChou commented on #4947
import lombok.*;
import lombok.experimental.Accessors;

@Data
@Setter
@Getter
@Accessors(chain = true)
@ToString
public class WindowConfig {

    public static final String WINDOW_CONFIG_KEY = "__WINDOWCONFIGS__";
    /*The number of messages per window*/
    private Integer windowLengthCount;
    /*The time duration of the window in milliseconds*/
    private Long windowLengthDurationMs;
   /*The

[2019-08-22 23:44] #4821 closed

[2019-08-22 23:50] KannarFr commented on #5006
@sijie @jerrypeng

When I run this:

[code]

I got:

[code]

And thats it, it stucks to the getValue(). No exception, just stucked.

[2019-08-23 00:01] sijie commented on #5006
@KannarFr the consumer will reading the schema of the version associated with the message it received. so it seems that the consumer stucks at reading the schema info.

- what version of broker and client?
- any error logs at the broker side?
- any error logs at the client side?
- can you get a jstack of your test application?

[2019-08-23 00:32] KannarFr commented on #5006
Oh just remember about the version brokers v2.5.0-SNAPSHOT from monday (to handle the fix on schema deletion). Bookies are v2.4.0.

I've got a broker exception:

[code]

No errors client side.

[2019-08-23 00:39] aahmed-se opened #5021 "Investigate publishing windows python artifacts"
Github actions has support for windows vm's we should try to use to enable python client generation for windows platforms.

[2019-08-23 02:03] Anonymitaet commented on #5015
Old Structure of Pulsar Connector Guide:

![Pulsar IO old](https://user-images.githubusercontent.com/50226895/63561631-43cbc880-c58d-11e9-8431-379d24c6f5f6.png)

[2019-08-23 02:04] Anonymitaet commented on #5015
Updated Structure of Pulsar Connector Guide:
![Pulsar IO Updated](https://user-images.githubusercontent.com/50226895/63561670-6362f100-c58d-11e9-88b0-0d1474f5eddf.png)

[2019-08-23 02:06] Anonymitaet commented on #5015
PRs related to this issue:

[placeholder]

[2019-08-23 02:16] Anonymitaet commented on #5015
[placeholder for other related info]

[2019-08-23 02:34] Anonymitaet commented on #5015
[placeholder for other info]

[2019-08-23 02:43] Anonymitaet commented on #5015
@sijie @tuteng could you please help review the "Updated Structure of Pulsar Connector Guide"?

[2019-08-23 02:51] congbobo184 commented on #5006
the exception seem to that client didn't send the schema version to broker

[2019-08-23 02:57] zubchenok opened #5025 "ProducerStats invalid stat values"
Producer latency stat values are actually in microseconds, but ProducerStats method names state that it should be milliseconds.

[2019-08-23 02:57] zubchenok commented on #5025
https://github.com/apache/pulsar/blob/958dcfee764285f12044d2b626960968569c7302/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerStatsRecorderImpl.java#L194

[2019-08-23 04:05] mingfang commented on #3822
I think having an Alluxio Source would be great too.

[2019-08-23 04:14] frank-dkvan commented on #4998
@sijie it works! great, thanks!
I just paste this repository into sub-project "pulsar-broker-auth-athenz" POM file.

[2019-08-23 04:14] frank-dkvan commented on #4998
I think this thread can be closed.

[2019-08-23 05:42] #4998 closed

[2019-08-23 05:50] sijie commented on #5006
@KannarFr what is the version of your client?

[2019-08-23 05:54] gmethvin commented on #5006
I assume he's using 2.4.0 since that's the version pulsar4s is using now.

[2019-08-23 07:57] vontikov opened #5026 "Create ZooKeeper znodes under a dedicated parent"
Apache Pulsar related znodes are placed under ZooKeeper root:
_[admin, bookies, counters, ledgers, loadbalance, managed-ledgers, namespace, schemas, stream]_
Placing them under a dedicated parent (someting like "/apache-pulsar") would simplify support in case of sharing ZooKeeper cluster between different apps

[2019-08-23 10:24] KannarFr commented on #5006
Yes V2.4.0.

[2019-08-23 13:19] KannarFr commented on #5006
When I curl to .../schemas I got the schemas list, there is one schema with version `0`, it's not a problem? The 0?

[2019-08-23 15:07] KannarFr commented on #5006
I tested it on v2.4.0 pulsar standalone and no issue. It's to be an issue v2.5.0-SNAPSHOT brokers with v.2.4.0 bookies or just v2.5.0-SNAPSHOT.

[2019-08-23 16:15] #4990 closed

[2019-08-23 16:28] vicaya commented on #3833
We ran into this issue in 2.4 as well. What's the current status/plan? Is this gonna be fixed in 2.4.1?

[2019-08-23 16:43] merlimat commented on #4979
I think there's something broken in the website publish script. The javadoc/Doxygen/etc.. are apparently not being copied in the right place

[2019-08-23 23:47] KannarFr commented on #5006
I tested with v2.5.0-SNAPSHOT standalone. Will rollback brokers to v2.4.0 and test.

[2019-08-23 23:51] KannarFr commented on #5006
It worked.

[2019-08-23 23:54] KannarFr commented on #5006
And the initial issue too. @jerrypeng so the bookies version has to be the same of brokers for the v2.5.0-SNAPSHOT changes.

[2019-08-24 00:05] KannarFr commented on #5006
Will update brokers and bookies to v2.5.0-SNAPSHOT.

[2019-08-24 00:33] KannarFr commented on #5006
Ok, so I removed the previous message because they finally were incorrects. So, v2.4.0 or v2.5.0 standalone work properly.

I tested my bookies and brokers with v2.4.0 and v2.5.0-SNAPSHOT I still have the broker exception:

[code]

[2019-08-24 00:35] KannarFr commented on #5006
@congbobo184

The client does it by itself, it takes the latest version I guess. It's not a configuration of the consumer, right?

[2019-08-24 09:21] #4978 closed

[2019-08-24 17:18] skyrocknroll commented on #5026
You can use zookeeper chroot to achieve the same

[2019-08-24 17:33] #5026 closed

[2019-08-24 17:33] vontikov commented on #5026
Thanks!

[2019-08-25 22:10] #4957 closed

[2019-08-25 22:13] #4838 closed

[2019-08-26 02:37] Anonymitaet commented on #4509
@yjshen any progress on this issue?

[2019-08-26 02:44] Anonymitaet commented on #2758
@tuteng any progress on this issue?

[2019-08-26 02:46] Anonymitaet commented on #3624
@tuteng Just a soft reminder: you are working on writing the **How to Debug Pulsar Connector Guide** these days, could you please add **how to get connector logs** to the guide? Thank you

[2019-08-26 03:02] congbobo184 commented on #5006
@KannarFr  client did not get schema based on version, pulsar4s-avro may not implement it.

[2019-08-26 08:03] Anonymitaet opened #5037 "[Doc] `start` is not documented on JAVA admin API website"
@tuteng

Could you please add `start` information on the following JAVA admin API websites?

* source: https://pulsar.apache.org/api/admin/org/apache/pulsar/client/admin/Source.html
* sink: https://pulsar.apache.org/api/admin/org/apache/pulsar/client/admin/Sink.html

Many thanks

[2019-08-26 09:25] fxbing commented on #4895
Fixed in #5040

`individualDeletedMessages` is an instance of `ConcurrentOpenLongPairRangeSet` in `ManagedCursorImpl`.
In `CursorStats`,  the value of `totalNonContiguousDeletedMessagesRange`  is `individualDeletedMessages.size()`, and the value of `individuallyDeletedMessages` is `individualDeletedMessages.toString()`.
But in `ConcurrentOpenLongPairRangeSet`, `size()` and `toString()` use the sam

[2019-08-26 09:42] KannarFr commented on #5006
@congbobo184 Ok, but this occurs on java client.

For the pulsar4s-avro, the issue was on data vs binary format of avro, the fix is here: https://github.com/sksamuel/pulsar4s/pull/80.

[2019-08-26 11:54] KannarFr commented on #4515
@sijie @jiazhai poke

[2019-08-26 15:15] yittg commented on #4806
@sijie i have a similar scenario, a producer with AUTO_PRODUCE_BYTES schema(AVRO inner schema in schema registry) to send bytes encoded with AVRO.
After updating a new compatible schema,
the producer will use older schema when sending bytes, even if they are encoded with newer schema,
on the contrary, a new producer will use newer schema when sending bytes encoded with older schema.

Is there any

[2019-08-27 00:04] rdhabalia opened #5047 "Bookie fails to load PKCS8Key tls-key file"
### Issue

Sometimes user  sees `Invalid TLS configuration` at bookie while loading PKCS8Key file and that can be fixed by using Bouncycastle provider.: https://stackoverflow.com/questions/6559272/algid-parse-error-not-a-sequence/18912362#18912362

[code]

[2019-08-27 06:04] fxbing commented on #4903
Appearing again in #5040

Jenkins Link : https://builds.apache.org/job/pulsar_precommit_java8/11011/console

[code]

[2019-08-27 07:31] #4984 closed

[2019-08-27 08:17] Monica-zy opened #5050 "[Doc] 'JSON Web Token Authentication' is not documented in the Security chapter of Pulsar document"
Need to add the corresponded reference content of 'JSON Web Token Authentication' link in the Security chapter of Pulsar document. Its descriptive md. file is not added at present.

![image](https://user-images.githubusercontent.com/44013755/63753636-02694f00-c8e6-11e9-9101-a203c06640b3.png)

[2019-08-27 10:35] yittg commented on #4806
@sijie i drafted a solution, would you have a look whether it make sense, thanks.

[2019-08-27 11:55] borlandor opened #5057 "Can't publish messages with schema on Pulsar C++ client"
**Describe the bug**
Using Pulsar C++ client，I can't publish messages with  the desired schema .

**To Reproduce**
Steps to reproduce the behavior:
1. C++ Client as Producer，Python Client as Consumer
2. Using JSONSchema  which defined as：
static const std::string exampleSchema =
    "{\"type\":\"record\",\"name\":\"Example\","
    "\"fields\":[{\"name\":\"a\",\"type\":[\"null\", \"int\" ]},{\"name

[2019-08-27 12:07] borlandor commented on #5057
C++ Test cases have no test of "producer.send" or "consumer.receive"
SchemaTest.cc
--------------------------------------------------------------------
static std::string lookupUrl = "pulsar://localhost:6650";
static const std::string exampleSchema =
    "{\"type\":\"record\",\"name\":\"Example\",\"namespace\":\"test\","
    "\"fields\":[{\"name\":\"a\",\"type\":\"int\"},{\"name\":\"b\",\"type\":\

[2019-08-27 22:05] lanwen opened #5059 "[Feature request] Per key cleanup for the GDPR requirements"
**Is your feature request related to a problem? Please describe.**
We are using Pulsar for the event sourcing as the source of truth with the indefinite number of events. Since we are storing some personal information in the events (like name or email) and operating in Europe we have to be compliant to GDPR and be able to remove all the data for the specific key.

**Describe the solution you'd lik

[2019-08-27 22:06] lanwen commented on #5059
Can be related https://github.com/apache/pulsar/issues/4515

[2019-08-28 00:03] vicaya opened #5060 "pulsar-admin topics skip-all is missing"
**Describe the bug**
According to the pulsar-admin doc, skip-all should work. But it throws unknown command.

**To Reproduce**
pulsar-admin topics skip-all some-topic -s some-sub

**Expected behavior**
Succeeds

**Additional context**
It's available under the persistent command. It appears that the topics command unification commit forgot to add skip-all: https://github.com/apache/pulsar/pull/1634

[2019-08-28 10:12] lorraine1 opened #5061 "deliverAfter(...).sendAsync() -> CompletableFuture returning immediately"
**Describe the bug**
The delayed publishing feature deliverAfter(...) is working good and well with sendAsync().  However, the CompletableFuture return of the sendAsync() is getting a completion immediately.  Expected is that it will return only after the delayed publishing is actually done.  Or is my understanding wrong?...

**To Reproduce**
Steps to reproduce the behavior:
`producer.newMessage()

[2019-08-28 10:14] eolivelli commented on #3804
@sijie
I agree that pushing that mechanism to the low level API will be useful

[2019-08-28 11:18] lanwen commented on #5059
Can't give any specific document and I think that depends on the principal in each case, but generally speaking, some of them provide an argument that still even with the data being encrypted, its user data. And who knows how powerful will be computers in the next years and how easily they could crack the algorithm chosen. So if you want to choose the highest possible compliant way you have to rea

[2019-08-29 08:03] Muyoo opened #5065 ""Connection is already closed" when creating a Producer"
After I set up a Pulsar in standalone on MacOS, I get an exception `Connection is already closed` when I create a Producer:
[code]

And I run Pulsar in Docker(18.09.2) with the command in the document:
[code]
There is no ERROR in the log messages.

And my code is here:
[code]

I've tried to start Pulsar without Docker and it works.  But I want to set up it with Docker.

How do I solve this please?

[2019-08-29 13:31] merlimat commented on #4727
It’s now available on home brew

[2019-08-29 13:31] #4727 closed

[2019-08-29 14:37] kimcs opened #5073 "java-client: Consumer closed after using seek(timestamp)"
**Describe the bug**
Consumer is closed after a seek(timestamp) operation.

**To Reproduce**
[code]

**Expected behavior**
That seek(timestamp) should never close the consumer.

**Additional context**
In attempting to reproduce this bug I have also seen the consumer fail before calling unsubscribe on it, e.g. when calling receive on it, but that was harder to reproduce consistently.

[2019-08-29 14:40] kimcs commented on #5073
I tested using released version 2.4.0 of pulsar only.

[2019-08-29 16:17] #4895 closed

[2019-08-29 17:01] #3505 closed

[2019-08-29 18:38] merlimat commented on #5073
@kimcs It happens because there's a brief disconnection during the seek.

The disconnect is ultimately not necessary, and it's being removed as part of #5022.

[2019-08-29 18:40] merlimat commented on #5073
To clarify, the current behavior is that the consumer gets disconnected and internally the client library will automatically reconnect.

In your test above, the unsubscribe actually happens before the client lib had the chance to reconnect.

[2019-08-30 01:07] ppgoml commented on #1022
It seems I cannot use '_' in host.
(new URI("pulsar://tkiot_pulsar1:6650")).getPort()  returns  -1

[2019-08-30 02:06] Muyoo commented on #5065
Ok. I've just upgraded my Docket Desktop version to 19.03.1 and it works then.

[2019-08-30 02:17] Muyoo commented on #5065
What make me confused is that I've never met the same problem when I used other middlewares like PostgreSQL, Kafka, HBase and so on with Docker 18.09.2.

[2019-08-30 03:00] #4894 closed

[2019-08-30 08:48] Jennifer88huang commented on #5050
@sijie From the engineer part, who is familiar with "JSON Web Token Authentication"? We need some support to write this topic.

[2019-08-30 10:43] otmanel31 opened #5081 "PulsarClientException NO SHUCH METHOD ERROR"
**Describe the bug**
Hi, i'm trying to send data to pulsar broker via Apache Nifi flow. I'm able to get connection to pulsar but when i tried to send my data i get an exception that is may be a dependency issue ...
The pulsar client generate this error and more precisly that happen when producer class is called and the not found method is com.scurrilous.circe.checksum.Crc32cIntChecksum.computeChec

[2019-08-30 14:26] otmanel31 commented on #855
hi i have the same issue in Nifi context. I'm able to connect to Pulsar broker via NIFI flow but when i try to publish my data, i got an exception for checksum dependency and more precisly:

org.apache.pulsar.client.api.PulsarClientException: java.lang.NoSuchMethodError: com.scurrilous.circe.checksum.Crc32cIntChecksum.computeChecksum(Lorg/apache/pulsar/shade/io/netty/buffer/ByteBuf;)I
	at org.apac

[2019-08-30 14:53] #5006 closed

[2019-08-30 18:18] sijie commented on #5050
@Jennifer88huang @Monica-zy :

It is already documented: http://pulsar.apache.org/docs/en/security-token-client/ and http://pulsar.apache.org/docs/en/security-token-admin/

[2019-08-30 21:27] sijie commented on #855
@otmanel31 how do you build your NIFI processor? what are the dependencies you are using?

[2019-08-30 21:32] sijie commented on #5057
@borlandor I don't think c++ client provides natively support on schemas on c++ structs. I believe you have to serialize the c++ structs using AVRO or JSON.

[2019-08-30 21:40] sijie commented on #5061
@lorraine1 the delay applies to delivering message to the consumer. it doesn't 'delay' at producing.

[2019-08-30 21:42] sijie commented on #5065
@Muyoo connection already closed doesn't mean your docker has any problem. It just means at the time you created producer, the connection from your cllient to broker is already closed. I don't believe it is related to docker version.

[2019-08-30 21:43] sijie commented on #5081
@david-streamlio can you please help @otmanel31 with his issue?

[2019-08-30 21:44] sijie commented on #5081
@otmanel31 I think you'd better to create an issue on streamlio/nifi-pulsar-bundle repo. hence you will get direct support over there

[2019-08-30 21:51] sijie commented on #1022
@ppgoml yes it is a problem from java's URI

[2019-08-30 21:54] sijie commented on #3611
This fixed by #4184

[2019-08-30 21:54] #3611 closed

[2019-08-30 21:57] #2680 closed

[2019-08-30 23:37] david-streamlio commented on #5081
Yes I will take a look and update this ticket as well as https://github.com/streamlio/nifi-pulsar-bundle

[2019-08-30 23:39] david-streamlio commented on #5081
Could it be related to this issue?  https://github.com/apache/pulsar/issues/2890

[2019-08-31 01:31] Anonymitaet opened #5086 "[Doc] Add *Python and CPP clients support read_compacted*"
https://twitter.com/arrdem/status/1167580097571737600

[2019-08-31 09:17] yittg commented on #4806
@sijie here i drafted a PIP for this feature, https://gist.github.com/yittg/56c6dedf7509f634ec7effc4f6f3631d#file-pip-md
@jiazhai @codelipenghui please help to review before sending it to the mailing list, thanks.

[2019-09-01 01:08] devinbost commented on #4857
I think that's appropriate. I'll post another update if we experience this issue again.

[2019-09-01 01:08] #4857 closed

[2019-09-01 17:31] david-streamlio commented on #5081
I have published a fix in the https://github.com/streamlio/nifi-pulsar-bundle repo, let's close this issue.

[2019-09-01 20:09] pouledodue opened #5088 "can't update JSON Schema to AVRO with pulsar-admin"
**Describe the bug**
Changing just the type of schema does not work

**To Reproduce**
Steps to reproduce the behavior:
1. create a file `/tmp/yoshi` containing:
[code]
2. now type `pulsar-admin schemas upload -f /tmp/yoshi persistent://public/default/yoshi` to upload the schema
3. now type `pulsar-admin schemas get persistent://public/default/yoshi`
the result will say:
[code]
which is ok
4. edit

[2019-09-01 20:20] pouledodue opened #5089 "[doc] Admin Rest Api page do not show"
**To Reproduce**
Steps to reproduce the behavior:
1. Go to`http://pulsar.apache.org/admin-rest-api/`
2. Stare at a blank page for 5 minutes
3. go make coffee
4. Page is still blank
5. cry

**Desktop (please complete the following information):**
 - macos, safari, chrome

[2019-09-02 01:25] tuteng commented on #5089
Thank you very much, this [pr](https://github.com/apache/pulsar/pull/5076) is being fixed.

[2019-09-02 01:47] pouledodue commented on #4944
debian 10 uses 3.7 as default

[2019-09-02 03:41] Jennifer88huang commented on #5050
@Monica-zy Try to investigate the issue. If needed, you can come up with a solution with new structure.

[2019-09-02 05:31] aahmed-se commented on #4944
debian 10 can be considered for 2.5 , that will be later in the year.

[2019-09-02 05:55] yittg commented on #4806
ping, any suggestions?

[2019-09-02 08:46] otmanel31 commented on #5081
hi thanks for  quick response. that"s work for me i'm now able to publish to pulsar broker without any issue. I close this issue.
👍

[2019-09-02 08:46] #5081 closed

[2019-09-02 08:46] otmanel31 commented on #5081
@david-streamlio Thank you very much.

[2019-09-02 12:02] f-ld commented on #4718
Well, this happened again but for a local namespace (i.e. one not replicated between clusters in different region, so no risk of confusion between local and global zk).

What I can see is that `/namespace/<mytenant>/<mynamespace>` is consistent between instances of local zookeeper (same list of subnodes, same empty content for each).

[2019-09-02 12:40] f-ld commented on #4718
Some colleagues using the pulsar cluster got it reach the same state.

What I can see is again for a topic replicated between (4) different regions.

Looking at each region individually, in local ZK, I can see the same data for znode `/namespace/<mytenant>/<mynamespace>` children on all zk instances (zk-0, zk-1, zk-2). But looking at the global picture, data is different between regions (2 regions

[2019-09-02 13:11] codelipenghui commented on #4806
@yittg  Great work!

Left few comments:
1. I think use `CommandGetOrCreateSchema` and `CommandGetOrCreateSchemaResponse`  is more accurate.
2. Similar to the reader cache, the writer cache can be handled in the same way.
3. Need to consider the batch message, messages of different schema versions cannot be contained in a batch.

[2019-09-02 13:34] yittg commented on #4806
@codelipenghui thanks for your comments.

it's ok to use a more direct and clear name;

seems we do not need a writer cache like reader cache, we already have the schema itself;

you just knocked me, i missed it.

thanks  again.

[2019-09-02 18:07] pouledodue opened #5094 "Improve response of REST API on AvroSchemaBasedCompatibilityCheck"
posting (non-compatible?) schema outputs a unuseful html page with 500 code.
It should output maybe a 409 with the compatibility error shown in json output or something beautifully helpful for a developer

POST to
[code]
Get response
[code]
Developer needs to read the logs to understand the error
[code]

[2019-09-02 18:49] sijie commented on #5086
This is fixed by #5085

[2019-09-02 18:49] #5086 closed

[2019-09-02 18:50] sijie commented on #5094
@codelipenghui @congbobo184 can you help check the issue ?

[2019-09-02 18:53] sijie commented on #5088
@pouledodue I don't think we allow changing the schema type at this moment. In your case, you are changing the schema type from AVRO to JSON

[2019-09-03 01:43] yittg commented on #4806
@codelipenghui comments 1 & 3 fixed.

[2019-09-03 01:54] Anonymitaet commented on #3624
@ivankelly @tuteng @sijie

Done in https://github.com/apache/pulsar/pull/5041, so we can close this issue.

[2019-09-03 02:11] ShadowDAssange opened #5095 "Error while producing messages"
I use pulsar-client to produce msg.

It returns "ERROR org.apache.pulsar.client.cli.PulsarClientTool - Error while producing messages
ERROR org.apache.pulsar.client.cli.PulsarClientTool - Could not send message to broker within given timeout
"
![Capture](https://user-images.githubusercontent.com/30060632/64139351-20c5d200-ce33-11e9-9bd8-3b54e7a87da9.PNG)

[2019-09-03 02:19] ShadowDAssange commented on #5095
And I use pulsar-client to consume

![Capture](https://user-images.githubusercontent.com/30060632/64139697-57501c80-ce34-11e9-93b9-612b6fcf85ee.PNG)

[2019-09-03 03:37] f7753 opened #5098 "[Doc] Wrong reference in kubernetes deployment README.md"
![image](https://user-images.githubusercontent.com/5338550/64142532-ee21d680-ce3e-11e9-8980-3606e708b168.png)
The reference of Kubernetes.md seems linked to the wrong path.

[2019-09-03 03:56] #3624 closed

[2019-09-03 04:23] sijie commented on #4806
@yittg the proposal looks good to me. do you mind sending an email to dev@pulsar.apache.org mailing list to start a discussion thread to see if there are more comments from other people in the community?

[2019-09-03 04:54] yittg commented on #4806
@sijie sure.

[2019-09-03 05:44] frank-dkvan opened #5099 ""ConnectException: Connection refused: /127.0.0.1:49695" when running python example function"
**Describe the bug**
"ConnectException: Connection refused: /127.0.0.1:49695"  when running python example function...the function got failed.....

**To Reproduce**
1.  start a standalone Pulsar  on my  MAC
2. run a python function example -  "ExclamationFunction" of  built-in examples
bin/pulsar-admin functions localrun   --py /examples/python-examples/exclamation_function.py   --classname Exclam

[2019-09-03 05:57] sijie opened #5101 "Add documentation of pulsar-client-node to website"
Pulsar community just release the first version of pulsar-client-node. We should add the documentation for this client.

[2019-09-03 07:28] frank-dkvan commented on #5099
Only Python Function Example has this problem.  Java function example works well.

[2019-09-03 07:30] Jennifer88huang commented on #5101
The project is at https://github.com/apache/pulsar-client-node
For writing documentation, refer to different `Client libraries` at https://github.com/apache/pulsar-client-node

[2019-09-03 12:11] codelipenghui opened #5104 "Handle already have connected replicate produce with same name"
**Describe the bug**
Broker print the following log continuous
![image](https://user-images.githubusercontent.com/12592133/64172075-b9397200-ce86-11e9-9e62-f855406ef5ab.png)

**To Reproduce**
Well, it's hard to reproduce.

**Expected behavior**
Stop create replicate producer while already have connected replicate producer with same name.

[2019-09-04 04:34] LeisureChou opened #5109 "[function]ProtobufSchema.of run time error"
when I use ProtobufSchema.of in fuction  , throwing  the error as below:

[code]

[2019-09-04 07:35] ChangWinde commented on #4654
@lsroudi Do you work around this problem?I have the same error as yours when I try to execute ‘mvn clean install -DskipTests’ .
And the version of maven is 3.6.1.

[2019-09-04 07:59] aahmed-se commented on #4654
@ChangWinde whats your jdk version ?

[2019-09-04 08:50] ChangWinde commented on #4654
@aahmed-se I see this problem in another issue #4641,and I change jdk from 12 to 1.8. But it still have the same error.

[2019-09-04 09:09] Anonymitaet commented on #4509
Done in several PRs:

* https://github.com/apache/pulsar/pull/5087/files
* TO DO

[2019-09-04 11:57] KannarFr opened #5112 "How to Date type -> AVRO -> Presto"
Hi,

I checked https://github.com/apache/pulsar/blob/master/pulsar-client/src/test/java/org/apache/pulsar/client/impl/schema/AvroSchemaTest.java#L80.

First question, `java.time.LocalDateTime` is supported?

Second about this issue:

I've got a schema with timestamp value, I tried to encode it using the example provided via Joda. Here is the schema for this attribute:

[code]

How get a generic da

[2019-09-04 11:57] KannarFr commented on #5112
@jerrypeng

[2019-09-04 14:58] pouledodue opened #5114 "Add pulsar-client 2.4.1 wheels to pypi"
Add pulsar-client 2.4.1 wheels to
https://pypi.org/project/pulsar-client/#history

[2019-09-04 15:22] sijie commented on #5114
@pouledodue please stay tuned for 2.4.1. The 2.4.1 vote was just closed a couple of hours ago. Jia is still working on the remaining steps for completing the release process and he will announce the release in the mailing list once he completed the process.

[2019-09-04 15:30] pouledodue commented on #5114
thanks for the hard work @jiazhai

[2019-09-04 19:45] aahmed-se opened #5116 "Provide a flag for message properties pass through in functions"
Currently is unclear to the user what happen to message properties when a functions outputs a message. To reduce ambiguity and increase flexibility there should a parameter in the function config to enable to disable this behavior.

If enabled the output message will carry over all properties sound in the input topic if disabled none will be. The function can still modify the properties as current

[2019-09-04 20:03] devinbost commented on #5116
I was just about to create a new feature request until I saw this issue.
I want to provide an example use case that might be helpful to identify the value of this feature.

Let's say we have a pipeline like this:

Let's say that I want to create a message tracing capability for an application that sends a test message through the pipeline and listens for the message to indicate how far the message

[2019-09-04 22:03] vivekkrj commented on #4988
Here is the sample code base for the client and pruducer block:

/**
	 *
	 * @throws PulsarClientException
	 */
	private PulsarClient getProducerClient() throws PulsarClientException {
		PulsarClient client = null;
		if(producerOptionBean.isAuthenticationEnable()) {
			Authentication authentication = AuthenticationFactory
					.TLS(producerOptionBean.getClientCertificateFile(), producerOptionBean.

[2019-09-04 22:06] vivekkrj commented on #4988
Here is the JSTACK of the JVm where you can see that thread is stuck for forver in-order to create to be completed:

"Streaming.Test: netty server 5" #99780 prio=5 os_prio=0 tid=0x00002b41d431a800 nid=0x6929 waiting on condition [0x00002b40a1cda000]
   java.lang.Thread.State: WAITING (parking)
	at sun.misc.Unsafe.park(Native Method)
	- parking to wait for  <0x000000071d8d0308> (a java.util.concurr

[2019-09-04 22:09] vivekkrj commented on #4988
@wolfstudy  : I have provided above both buliding producer and JSTACK where thread is stuck on create method. Let me know if you need anything else.

[2019-09-05 01:22] ChangWinde commented on #4654
@aahmed-se  by the way, I run it on a win10. Does it support on win10?

[2019-09-05 01:24] aahmed-se commented on #4654
I don't know if it works on win10 never tried it, we are running bash scripts so my guess it without bash support it won't work.

[2019-09-05 03:23] hrsakai opened #5119 "Consumers remain even though connections were already closed"
**Describe the bug**
Consumers remain until unloading the topic even though connections between consumer and broker were already closed.

stats
https://gist.github.com/hrsakai/d312d61dc0b2c75d50bfb6b1b14f8b16

broker log
https://gist.github.com/hrsakai/806362e989c630443814a282e0ef41b7

[code]

pulsar version:
broker: 2.3.2
client: 2.2.1

[2019-09-05 07:00] murong00 opened #5120 "Client may not work well when using invalid multi-hosts"
**Describe the bug**
Some users especially the new ones may be puzzled when using multi-hosts in `client.conf`, such as:
[code]

or

[code]
It would be better to add the configuration example when using multi-hosts. More details can be found in unit test `ServiceURITest.java`.

[2019-09-05 07:38] borlandor commented on #5099
My Java function also has this problem:
15:12:04.466 [function-timer-thread-90-1] ERROR org.apache.pulsar.functions.runtime.ProcessRuntime - Health check failed for ContextWindowFunction-0
java.util.concurrent.ExecutionException: io.grpc.StatusRuntimeException: UNAVAILABLE: io exception
        at java.util.concurrent.CompletableFuture.reportGet(CompletableFuture.java:357) ~[?:1.8.0_222]
        a

[2019-09-05 08:06] #5094 closed

[2019-09-05 09:02] Zhen-hao commented on #5059
This is an interesting viewpoint: https://www.thesslstore.com/blog/deleting-data-for-gdpr-could-encryption-do-the-trick/

[2019-09-05 18:48] Guchman opened #5126 "Consume from/to offset API"
**Problem**
It's hard to debug topic currently. I stuck on trying check last message in topic with cli/rest, when my colleague just ask "look, I'd send something to that topic. Is it there?"

**Solution**
There is good api in [kafka kt](https://github.com/fgeller/kt). I could consume messages with earliest+N or latest-N semantic.
It would be great to have same option with REST and cli consumer. An

[2019-09-05 19:15] sijie opened #5127 "java.sql.SQLException: cannot commit - no transaction is active"
https://builds.apache.org/job/pulsar_precommit_java8/11250/testReport/junit/org.apache.pulsar.io.jdbc/JdbcSinkTest/tearDown/

[code]

[2019-09-05 19:15] sijie commented on #5127
@tuteng can you help check how to improve the JDBC sink?

[2019-09-05 19:17] sijie commented on #5089
waiting #5107 to  be merged

[2019-09-05 19:27] sijie commented on #5095
@ShadowDAssange Can you describe more about  how do you set up a Pulsar cluster, how do you configure your Pulsar client?

[2019-09-05 19:33] sijie commented on #5099
@frank-dkvan @borlandor

Have you check the status of your function and the log for the function?

Please check out the doc : http://pulsar.apache.org/docs/en/functions-debugging/#debug-with-localrun-mode to see if you can get some more information of the function and the log of the function.

[2019-09-05 19:34] sijie commented on #5112
@codelipenghui @congbobo184 can any of you help @KannarFr with his question? Also if the documentation is missing, it might be worth improving the documentation about this part.

[2019-09-05 19:41] rdhabalia opened #5128 "Bookie : provide option to skip adding entry to journal"
### Motivation
Right now, bookie serves WAL and provides durability by writing entry to journal before acking the message and it persist the entry to entry log file. bookie also provides below options to improve throughput
- to persist entry with fsync disable
- writing entry to separate devices for journal and ledger.

So, persisting entry to journal before acking gives durability but sometimes i

[2019-09-05 19:55] rdhabalia commented on #5128
created PR at: https://github.com/apache/bookkeeper/pull/2157

[2019-09-05 21:48] #5098 closed

[2019-09-05 21:50] #5025 closed

[2019-09-05 23:54] RAbraham opened #5129 "Pip can't find pulsar-client 2.4.1 for Python 3.7"
**Describe the bug**
Hi,
I'm on python 3.7.4 and when I do a `pip install pulsar-client==2.4.1` according to the [docs](https://pulsar.apache.org/docs/en/client-libraries-python/#installation-using-pip), I get the following error.

[code]

**Desktop (please complete the following information):**
 - OS: MacOS Mojave

**Additional context**
I'm using `pyenv`

[2019-09-06 00:00] aahmed-se commented on #5129
mac os artifacts have not been published yet.

[2019-09-06 01:15] #5120 closed

[2019-09-06 03:02] jiazhai opened #5134 "[Documentation] Add Geo Replicated subscriptions documentation in website"
In [PIP-33](https://github.com/apache/pulsar/wiki/PIP-33%3A-Replicated-subscriptions), Geo Replicated subscriptions, feature is added, but documentation is not updated.
related PRs: #4396 #4299 #4340 #4354

This issue tries to track the documentation work.

[2019-09-06 07:04] borlandor opened #5136 "Java Function cannot work with any JSON parser JAR"
**Describe the bug**
When I use any json.jar ,such as Gson, fastjson, org.json, the Pulsar Java function with JSONObject/JsonObject will crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Add JSON parse process based a function example ,such as ContextWindowFunction.java or AddWindowFunction.java:
cat AddWindowFunction.java
----------------------------------------------------------------

[2019-09-06 08:22] borlandor commented on #5099
I have filled a github issue, pls see also: https://github.com/apache/pulsar/issues/5136

[2019-09-06 08:48] wolfstudy commented on #2719
@grantwwu @sijie We can introduce `godoc` in the go client to automatically generate the interface code and related examples we need.

For example: https://godoc.org/github.com/apache/pulsar-client-go

[2019-09-06 08:48] Jennifer88huang commented on #3725
When I navigate to the link https://pulsar.apache.org/docs/en/2.2.1/standalone/ , it shows content of v2.2.1. So has this issue been fixed?

[2019-09-06 08:49] wolfstudy commented on #2719
But there is a premise, we need to follow the go community related code specifications, I suggest to add the relevant check tool: `gofmt`, `golint`, `goimport` and so on.

[2019-09-06 09:00] mrijkeboer opened #5137 "[Go Function API] Ability to do content-based routing"
In the Java Function API there's the option to do routing based on content ([fruit and vegetable example](https://pulsar.apache.org/docs/en/functions-overview/)) by using the `publish` method of the `context`. It would be useful if this functionality would be available in Go as well.

[2019-09-06 09:02] mrijkeboer opened #5138 "[Go Function API] Ability to store state"
Currently the Go Function API doesn't seem to have the ability to store state like the Java Function API. It would be useful if this functionality would be available to Go as well.

[2019-09-06 10:13] KannarFr commented on #3725
Probably yes.

[2019-09-06 10:13] #3725 closed

[2019-09-06 10:23] Jennifer88huang commented on #3087
I've just checked the two links, they navigate to the right destination now.
@ivankelly Could we close this issue?

[2019-09-06 10:25] Jennifer88huang commented on #3725
@KannarFr  Thanks for your confirmation.

[2019-09-06 10:59] Jennifer88huang commented on #3224
Does Pulsar support the requirement from @ngjaying now?

[2019-09-06 11:57] tuteng commented on #4560
I will try to add more documents to fix these problems.

[2019-09-06 15:05] yittg opened #5141 "PIP-43: Producer Send Message with Different Schema"
This is a master issue for tracking the work to implement [PIP-43](https://github.com/apache/pulsar/wiki/PIP-43%3A-producer-send-message-with-different-schema).

* [x] core implementation.
* [x] expose `newMessage` to interface with different parameterized type.
* [x] move general `SchemaHash` to pulsar-common module.

[2019-09-06 15:52] yittg commented on #5141
cc @sijie. BTW, would you help to update the PIP wiki, some typos fixed and header supplemented.

[2019-09-06 15:52] rocketraman opened #5142 "[docs] Managing partitioned topics page has odd "Nonpartitioned topics resources" section"
**Describe the bug**

The docs about managing partitioned topics has an odd sub-heading "Nonpartitioned topics resources". However, everything under that sub-heading except the first "Create" sub-heading seems to be related to partitioned topics (as one would expect for this page). The "Nonpartitioned topics resources" and the "Create" subheading under that seem to be a copy/paste error or somethi

[2019-09-06 16:10] pouledodue commented on #5114
ref #5129

[2019-09-06 16:44] RAbraham commented on #5129
great, thanks

[2019-09-06 16:44] #5129 closed

[2019-09-06 18:33] RAbraham opened #5144 "Mac(Mojave). Standalone quits. Failed to start pulsar service."
**Describe the bug**
Hi,
When I run `bin/pulsar standalone` it quits.

**To Reproduce**
Steps to reproduce the behavior:
[code]
**Expected behavior**
I expected it to continue to run

**Desktop (please complete the following information):**
 - OS: MacOS(Mojave)

**Additional context**
The error dump is in [error.txt](https://github.com/apache/pulsar/files/3585220/error.txt). My etc/hosts file just

[2019-09-06 18:38] aahmed-se commented on #5144
it runs fine for me , are you saying it runs for a while and then quits ?

[2019-09-06 18:41] RAbraham commented on #5144
Yes, it just quits. If you look at the error.txt file, it says the following errors. Do you get the same errors too?
[code]
and
[code]

[2019-09-06 18:44] aahmed-se commented on #5144
keeps running for me, probably something to do with your hosts file, but don't see any problems locally.

[2019-09-06 18:49] aahmed-se commented on #4944
debian 10 has open jdk 11 as default , we will decide to move that as default jvm also as part of the move.

[2019-09-06 21:29] sijie commented on #5141
@yittg done

[2019-09-06 21:29] RAbraham commented on #5144
Thanks for your quick reply. I'll work on the docker image then.

[2019-09-06 21:29] #5144 closed

[2019-09-06 21:53] rakesh415 commented on #4323
I am facing this issue. could some one please help me to resolve it.

from logs:

yteToMessageDecoder.channelRead(ByteToMessageDecoder.java:297)
        at org.apache.pulsar.shade.io.netty.channel.AbstractChannelHandlerContext.invokeChannelRead(AbstractChannelHandlerContext.java:362)
        at org.apache.pulsar.shade.io.netty.channel.AbstractChannelHandlerContext.invokeChannelRead(AbstractChannel

[2019-09-07 05:24] sijie commented on #3087
@Jennifer88huang I don't think they are resolving to the right version of javadoc

[2019-09-07 08:34] Jennifer88huang commented on #3087
Then who can resolve this issue correctly?

[2019-09-07 21:45] RAbraham commented on #5144
the off chance, someone else has the same issue. I resolved it by:
- moving to openjdk8(may not be required. but it exposed the issue with a better error message than the default mac java 8, I think)
- add `127.0.0.1       <laptop name>.local` to `/etc/hosts` or whatever name it errors out on your laptop
- `dscacheutil -flushcache`

[2019-09-08 19:04] #4943 closed

[2019-09-08 20:16] #5089 closed

[2019-09-09 03:32] borlandor commented on #5057
Yes, I have to encode my data by using avro lib. Thanks!

[2019-09-09 06:45] sijie commented on #5057
closed as the question is answered

[2019-09-09 06:45] #5057 closed

[2019-09-09 07:29] sijie commented on #5142
@Jennifer88huang can you help check the issue?

[2019-09-09 10:12] Jennifer88huang commented on #5142
Sure.

[2019-09-09 13:44] KannarFr commented on #5112
poke @codelipenghui @congbobo184

[2019-09-09 18:13] stupidusername opened #5157 "[docs] How does --processing-guarantees affect source connectors?"
The command `sources create` accepts a `--processing-guarantees` option. I tried to find out what's the difference between the accepted options but I could not find an answer in the docs.

Did I miss something or does the documentation need a little improvement?

Thank you!

[2019-09-10 02:00] k2la commented on #4634
This image is the `PersistentDispatcherMultipleConsumers` instance which has the topic.

![image](https://user-images.githubusercontent.com/15376628/64578317-069f6d00-d3ba-11e9-862f-d7463ae47ce6.png)

[2019-09-10 02:20] k2la commented on #4634
Delivery of messages to consumers resumes when `unload` executes.
So, there might be hints in `unload`.

[2019-09-10 10:36] Jennifer88huang commented on #5142
While I pull request on the modification today, I notice that @rocketraman has already pulled request for this issue, see https://github.com/apache/pulsar/pull/5143
While investigating the issue, I come up with the following structure:
## Partitioned topic resources
### Create
### Get metadata
### Update
### Delete
### List
### Stats (not sure whether the content is same for partitioned and non-pa

[2019-09-10 11:58] congbobo184 commented on #5112
@KannarFr First, AvroSchema only support org.joda.time. The second, you should use Avro logicalType like ``        @org.apache.avro.reflect.AvroSchema("{\"type\":\"long\",\"logicalType\":\"timestamp-millis\"}")
        DateTime timestampMillis;``

[2019-09-10 12:01] KannarFr commented on #5112
@congbobo184 I tried this but in presto side it's a bigint, not a timestamp.

[2019-09-10 12:02] KannarFr commented on #5112
Yes I saw this in AvroSchemaTest.java or something related but still the presto type issue.

[2019-09-10 12:03] KannarFr commented on #5112
(The second part of the issue described on top of this thread).

[2019-09-10 12:24] codelipenghui commented on #5112
@KannarFr Are you using the master branch to build a snapshot version?  I test with master branch, it seems worked:

[2019-09-10 12:36] KannarFr commented on #5112
Ok, will try maybe I probably did something wrong. Thanks for your time, keep you updated.

[2019-09-10 12:37] KannarFr commented on #5112
@codelipenghui and about List[String] to presto array, do you have an example?

[2019-09-10 12:42] Fernandoize commented on #3211
i get this issue in 2.4.1

[2019-09-10 12:44] codelipenghui commented on #5112
@KannarFr Currently can not work well with list, i think we need add support for presto ARRAY type in pulsar SQL.

[2019-09-10 12:57] borlandor commented on #5136
Trying to use Localrun mode, the function works well, but always works abnormally in Create mode.

[2019-09-10 13:08] rocketraman commented on #5142
@Jennifer88huang Note the title of the page is "Managing Partitioned Topics". I think a different page "Managing Non-Partitioned Topics" needs to be created, as such a page does not currently appear to exist. If so, I can add this to my pull request.

[2019-09-10 13:38] rocketraman commented on #5142
I have added a new page "Managing non-partitioned topics", for review, to pull request #5143 .

[2019-09-10 15:23] KannarFr commented on #5112
@congbobo184 @codelipenghui

I used joda, with the logical schema type. like

[code]

The output of `show columns from topic`

[code]

When I select this particular field I've got `Column 'timestamp.imillis' cannot be resolved` other fields (text, int) work well.

The `select *` works and outputs

[code]

[2019-09-10 17:28] mickdelaney commented on #271
Any progress likely on this ?
We’re Python, dotnet & so have no viable option to use Pulsar.

[2019-09-10 17:29] feathj opened #5170 "Kinesis source stalls on startup"
**Describe the bug**
Kinesis source function appears to just stall on startup.

**To Reproduce**
Steps to reproduce the behavior:
1. Create kinesis source, tied to actual kinesis stream
2. Write records to kinesis stream
3. Notice kinesis source pulsar function attempts to read from source kinesis stream, and stalls indefinitely.

**Expected behavior**
Kinesis source pulsar function should process

[2019-09-10 17:30] feathj commented on #5170
Hey @david-streamlio / @addisonj , here is the issue report for the problem I am seeing with the kinesis source.

[2019-09-10 18:32] sijie commented on #271
@mickdelaney Pulsar has a python client and there is an ongoing development of dotnet client. Does it meet your requirement? Or gRPC is your preferred option?

[2019-09-11 01:29] Jennifer88huang commented on #5142
Great, I'll check the added content in #5143. Thanks for doing so.

[2019-09-11 02:28] codelipenghui commented on #5112
@KannarFr I see something different.

[2019-09-11 03:53] Monica-zy commented on #5050
Here is my suggested solution: Merge and rewrite the original two file security-token-client.md and security-token-admin.md into a new security-jwt.md which links to the list item "JSON Web Token Authentication" in the file security-overview.md; adjust the related content in security-overview and unify the sidebar title into a similar format as much as possible.
Changes in security-overview.md:
![

[2019-09-11 06:50] efynn opened #5175 "Namespace missing local cluster name in clusters list"
I've started zookeeper, bookkeeper and broker without error.

and the conf:
 `functionsWorkerEnabled=false`
`clusterName=pulsar-clusar-1`

Now when I send a message:
`./pulsar-client produce  persistent://public/default/test  -m "Hello Pulsar"`

I received such an error：

![image](https://user-images.githubusercontent.com/50618747/64673582-21004600-d4a1-11e9-8763-77c336b8aa1d.png)

I'm not sure wh

[2019-09-11 07:03] massakam opened #5176 "NPE occurs while searching for namespace bundle"
The other day, stopping a broker caused an NPE on another broker in the same cluster. At this time, the client continued to fail to lookup the topic. The following is the log of the broker where NPE occurred:

[code]

NPE was occurring on this line:
https://github.com/apache/pulsar/blob/v2.3.2/pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LoadManagerShared.java#L294

This m

[2019-09-11 07:11] massakam commented on #5176
Is there a possibility that `brokerToNamespaceToBundleRange` may be updated by other threads during the execution of the` removeMostServicingBrokersForNamespace()` method?
https://github.com/apache/pulsar/blob/01422476248d23741ff74f68e9cbd48ddf097108/pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/LoadManagerShared.java#L260-L296

[2019-09-11 07:50] #5015 closed

[2019-09-11 07:55] JoyJava opened #5177 "function querystate command causes the number of broker threads to increase"
**Describe the bug**
`bin/pulsar-admin function querystate --name xxx --tenant public --namespace default --key SumFunction -w`
Resulting in a surge in the number of pulse broker server threads, eventually OOM

**To Reproduce**
Steps to reproduce the behavior:
1. bin/pulsar-admin function querystate --name xxx --tenant public --namespace default --key SumFunction -w
2. run the command on broker se

[2019-09-11 10:21] KannarFr commented on #5112
@codelipenghui I deliberately trim, the metadata columns are here and publishtime is typed timestamp.

For your example what is the schema if you schemas get on topic for field timestamp?

[2019-09-11 10:22] KannarFr commented on #5112
(I described mine un top of this thread.)

[2019-09-11 11:30] jiazhai commented on #5177
@wolfstudy to take a look

[2019-09-11 11:33] jiazhai commented on #5157
http://pulsar.apache.org/docs/en/functions-overview/#processing-guarantees
Does this link contain the info you want?

[2019-09-11 13:43] jiazhai opened #5179 "A placeholder for function security doc of brokerClientAuthenticationPlugin"
This is a placeholder for function security doc of brokerClientAuthenticationPlugin
In #5153, we add some configuration doc for brokerClientAuthenticationPlugin,
In Function worker security, this brokerClientAuthenticationPlugin also need to be taken care.
reference #4560 for more details.

[2019-09-11 13:44] jiazhai commented on #5179
@wolfstudy

[2019-09-11 14:42] stupidusername commented on #5157
Thank you but that document does not explains how the `--processing-guarantees` option affects source connectors.

For sink connectors using a value of `EFFECTIVELY_ONCE` changes the subscription mode to fail over, thus enabling the connector to retain message order. But I do not understand why is this an option for source connectors. I tried reading the source code without luck. Maybe the option

[2019-09-11 20:17] areebahmed04 commented on #4807
@sijie I'd like to work on this. How should I proceed?

[2019-09-12 00:21] tuteng commented on #4979
This tool script https://github.com/apache/pulsar/blob/master/site2/tools/javadoc-gen.sh throws a lot of exceptions when it is running, resulting in many interface documents not being generated correctly. I will try to replace it with `mvn javadoc:javadoc`. Do you think this is okay? @jerrypeng @merlimat @sijie

https://builds.apache.org/job/pulsar-website-build/749/consoleFull
Some exceptions are

[2019-09-12 01:17] sijie commented on #4979
@tuteng sounds good to me.

[2019-09-12 02:20] codelipenghui commented on #5112
@KannarFr This is my schema info(use pulsar-admin schemas get):

[2019-09-12 03:59] #4560 closed

[2019-09-12 04:58] Jennifer88huang commented on #5050
@Monica-zy In the TLS transport topic and other topics, make the heading consistent. The following is an example.
![image](https://user-images.githubusercontent.com/47805623/64754408-cf67c200-d559-11e9-914a-62c82502dc03.png)
When you update this, make sure that
1. Update all similar cases in the Security and Deployment chapters;
2. Check links related to those headings;
3. Add related lead-in sent

[2019-09-12 06:36] yjshen commented on #4509
Close this issue since all PRs has been merged.

[2019-09-12 06:36] #4509 closed

[2019-09-12 06:37] Anonymitaet commented on #4509
@yjshen thanks for your guidance and help.

[2019-09-12 06:39] yjshen commented on #4509
Glad to help~

[2019-09-12 08:22] efynn opened #5182 "Multiple LAN clusters configure multi-cluster"
In multiple lans, multiple clusters and each cluster network is not connected, how should the configuration storage be deployed?
Is it necessary to set up another DNS server?

Not found in the documentation:  http://pulsar.apache.org/docs/en/deploy-bare-metal-multi-cluster/

[2019-09-12 20:29] aahmed-se opened #5186 "Make the separator character for pulsar-cli produce an input parameter"
Currently the pulsar-cli produce with "-m" parameter uses comma as fixed character for splitting message strings. This is fine most of the time but for say handling json strings it becomes a problem. We should make the splittable character another cli parameter with a default value of comma.

[2019-09-13 08:19] SirBigoo opened #5189 "2.4.1 - Pulsar standalone + debezium mysql do not work"
Hello !

**Describe the bug**
I tried to connect pulsar with CDC debezium on MySQL database. So, I'm following this tutorial : https://pulsar.apache.org/docs/en/io-cdc-debezium/

But, when I start my local run with my source file, it crashes.

Logs on pulsar standalone :
[code]

Logs on source loading :
[code]

**To Reproduce**
Steps to reproduce the behavior (all config in tutorial link) :
1. Dow

[2019-09-13 09:59] tuteng commented on #5189
It seems that the tenant's name is wrong, please use `public`, I have fixed it here https://github.com/apache/pulsar/pull/5190.

[2019-09-13 16:19] massakam commented on #5176
I think that the cause of NPE is that entries of `brokerToNamespaceToBundleRange` are cleared in the following part:
https://github.com/apache/pulsar/blob/01422476248d23741ff74f68e9cbd48ddf097108/pulsar-broker/src/main/java/org/apache/pulsar/broker/loadbalance/impl/ModularLoadManagerImpl.java#L543-L549

In the above part, `namespaceToBundleRange` is locked, but it is not locked when executing `rem

[2019-09-13 23:57] #5186 closed

[2019-09-14 14:30] #5189 closed

[2019-09-15 03:07] vicaya commented on #3804
This is a also blocking issue for practical use of tiered storage as historical retention, since replay from tiered storage (at least s3) is too slow.

It'd be great if number of read-ahead threads and/or outstanding requests is tunable, as many blob/object store scale throughput proportional to number of connections.

[2019-09-15 05:23] sijie commented on #3804
@vicaya thank you for your feedback. @MarvinCai are you willing to give it a try?

[2019-09-15 12:31] #5176 closed

[2019-09-15 14:21] qindongliang opened #5195 "About pulsar single partition caching problem on a broker"
Hello, everyone，I want to ask if the pulsar's single partition broker cache has multiple copies on multiple brokers, or is it only in one broker. If there is only one node cache, is there a hotspot problem which include read or write?

[2019-09-15 15:56] qindongliang commented on #5195
I have got the answer from slack，https://app.slack.com/client/T5Z3B324U/C5Z4T36F7/thread/C5Z4T36F7-1568557002.035600

[2019-09-15 15:56] #5195 closed

[2019-09-15 20:41] #5060 closed

[2019-09-16 10:53] #4979 closed

[2019-09-16 10:55] #5142 closed

[2019-09-17 07:16] vicaya opened #5200 "Broker high cpu usage under light load"
**Describe the bug**
All 3 of the brokers in a cluster gradually consume ~3 cores/vcpus (per broker) and went into load balancing mode (according to the broker log, it was using 90+% cpu, which is over the 85% threshold) under very light load (sum of pulsar_rate_in of the cluster is under 1000msg/s with average message size under 200 bytes with a few producers and a few hundred consumers). Restart

[2019-09-17 08:07] shustsud opened #5202 "Incorrect msgBacklog value"
**Describe the bug**
Despite there are no messages in the backlog, positive value was set to "msgBacklog" in the response of partitioned-stats(API).

I think "msgBacklog" is calculated from "ManagedLedgerImpl.ENTRIES_ADDED_COUNTER_UPDATER" and "ManagedCursorImpl.messagesConsumedCounter".
 https://github.com/apache/pulsar/blob/dc7d01efc6cf2df5631bc509758f2212bede35ce/managed-ledger/src/main/java/or

[2019-09-17 11:09] codelipenghui commented on #5202
Seems like a bug which i see different subscription with same mark delete position but different delete count.

@shustsud If you are interested in fixing it, welcome!

[2019-09-17 21:00] iravishah opened #5206 "TooLongFrameException : Adjusted frame length exceeds 5253120: 369295620 - discarded => Error while producing message with TLS on standalone setup"
I am using apache pulsar 2.4.0 on standalone setup on ubuntu machine 18.04.

When i am producing message without TLS enabled it works fine but when i enable TLS throws error. Using Apache Pulsar docs i have created certs and updated standalone.conf and client.conf to producer message.

I am trying with inbuilt producer client itself.

### **Broker side error:**
`02:01:51.790 [pulsar-io-50-3] INFO

[2019-09-17 21:37] merlimat commented on #5206
This looks like you're trying to connecting in clear text to the TLS port.

Did you use `pulsar+ssl://x.x.x.x:6651` as your service URL?

[2019-09-17 21:43] iravishah commented on #5206
yes, I am using the same url.
pulsar+ssl://localhost:6651

[2019-09-18 01:56] #5088 closed

[2019-09-18 02:10] pouledodue opened #5208 "Schema modification question"
I delete a schema:
`pulsar-admin schemas delete  persistent://a/b/c`

I verify it is deleted:
`pulsar-admin schemas get persistent://a/b/c`
`> HTTP 404 Not Found`

I verify it is deleted with the `version`
`pulsar-admin schemas get --version 0 persistent://a/b/c`
[code]

oops it is still there why?
Should it have a prop `deleted = true` ?

[2019-09-18 02:14] stupidusername commented on #5088
Have you tried deleting the schema before changing its type?

[code]

And then upload the new schema.

[2019-09-18 02:16] ghost opened #5209 "HTTP 500 on pulsar-admin schemas delete"
when there is no schema to delete the command
`pulsar-admin schemas delete  persistent://a/b/c`

gives:
HTTP 500 Internal Server Error

Should probably be a different http code

There is nothing particular in the logs

[2019-09-18 02:19] pouledodue commented on #5088
yes it's ok when I delete it before

[2019-09-18 02:20] merlimat commented on #5209
500 is typically associated with an exception stack trace on broker side. Can you paste that as well?

[2019-09-18 02:23] stupidusername commented on #5208
I don't think `deleted` it's the right field name to indicate that the schema is no longer in use. Messages created before the schema was deleted will still use it. But I do think that adding two fields to the reponse of the `schemas get` command would be useful:

- `version`: to indicate the version number of the schema (useful if you do not specify the `--version` option).

- `active`: to indica

[2019-09-18 02:26] pouledodue commented on #5208
great

[2019-09-18 02:29] pouledodue commented on #5209
no stack trace with `docker logs` and no stack trace in `logs/pulsar-standalone.log` is there a log file I missed?

[2019-09-18 02:32] pouledodue commented on #5209
only the INFO:
[code]

[2019-09-18 03:34] addisonj commented on #4926
This looks to be all fixed now? Seems like this should be closed

[2019-09-18 04:01] sijie commented on #4926
Fixed by #4963

[2019-09-18 04:01] #4926 closed

[2019-09-18 04:33] sijie commented on #5134
@Jennifer88huang can you add this to the backlog? It is good to have this documentation added before 2.5.0 release.

[2019-09-18 04:42] sijie commented on #5136
the original `AddWindowFunction` example is `Function <Collection<Integer>, Integer>`. If you run this function before, the input topic and output topic will be Schema.Integer. You can't change the schema type.

So I would suggest double-check if you are submitting the right function to Pulsar.

[2019-09-18 07:45] ChangWinde commented on #4721
I run into similar problem.
I follow the https://github.com/apache/pulsar/blob/master/examples/flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/example/README.md and I execute the './bin/flink run -c org.apache.flink.streaming.connectors.pulsar.example.PulsarConsumerSourceWordCount ${PULSAR_HOME}/examples/flink/target/pulsar-flink-examples.jar --service-url pulsar://localhost:6650

[2019-09-18 09:22] Jennifer88huang commented on #5134
Sure, got it.

[2019-09-18 10:45] nkurihar commented on #5101
https://github.com/apache/pulsar/pull/5212

[2019-09-18 14:18] JamieCressey opened #5215 "Support Postgres as a JDBC source/sink"
Having ran a custom build of Pulsar 2.4 with the PostgreSQL client built in for a number of days now, I have not come across any problems using the PSQL driver as a JDBC sink at load.

I note the JDBC tests are all performed against an embedded SQL instance, are there any other tests that should be ran before I create a PR to support Postgres?

[2019-09-18 15:38] vruc commented on #4721
You can use 2.3.2 or 2.5.0-SNAPSHOT have a try.

DefaultBatcherBuilder in 2.4.1 didnot extends Serializable.

This is hotfix commit: https://github.com/apache/pulsar/commit/6a67ae094b5ecfa1a4602b8f7baff9a838b44e23#diff-d4876cc56bcbd7b0fe549311203cd213

[2019-09-18 15:47] idantony commented on #4721
FYI, the commit fix this issue is this one: https://github.com/apache/pulsar/pull/5068

[2019-09-18 15:50] sijie commented on #5157
@stupidusername

A source connect receives messages from external system and writes them to a Pulsar topic. The "--processing-guarantees" is use for ensuring the processing guarantees for writing messages to the Pulsar topic.

@jiazhai @tuteng @Anonymitaet Can you work on clarifying the meanings for this flag?

[2019-09-18 15:56] sijie commented on #5182
the configuration storage should be stored in locations that are accessible by all the brokers in different clusters.

[2019-09-18 15:59] sijie commented on #5206
@iravishah can you provide more details about how do you configure TLS for your broker and your client? This can help us debug your issue.

[2019-09-18 16:04] sijie commented on #5208
`version` is already added in master and will be released in 2.5.0.

If a topic or a schema is deleted, the schema is not used anymore because all the messages using that schema are gone. However the old versions of schema will be still there until they are compacted. We can improve the broker to return 404 if an admin client attempts to retrieve a deleted version. /cc @codelipenghui @congbobo184

[2019-09-18 16:07] sijie commented on #5209
@pouledodue does the topic exist or not? or was the topic deleted before?

[2019-09-18 16:12] sijie commented on #5215
@JamieCressey the JDBC connectors are using JDBC for talking to different database instances. It doesn't depend on any other database implementation specific logic. So ideally whether it is using an embedded SQL instance or an external one, it should work as the same.

From CI perspective, I don't think we can support running the JDBC connectors against all different type of databases.

However it

[2019-09-18 16:38] FlorentinDUBOIS opened #5216 "Got a class cast exception when creating a subscription on non-persistent partitioned topic"
**Describe the bug**
The pulsar broker admin api return the status internal server error when creating a subscription on a non-persistent partitioned topic.

**To Reproduce**
1. Create a new tenant
2. Create a namespace on this new tenant
3. Create a new non-persistent partitioned topic on the fresh namespace
4. Create a new subscription on it, the name is not important

**Expected behavior**
The

[2019-09-18 17:00] stupidusername commented on #5208
@sijie

What do you mean by gone?

Let's say you have unacked messages that use an schema, and you delete that schema. What happens then?

I thought that messages would still reference the deleted schema.

From the schema version docs:

[2019-09-18 17:09] sijie commented on #5208
I meant if the schema was deleted when a topic is deleted.

In the case you described above, yes it will still referencing the old schemas.

[2019-09-18 17:27] stupidusername commented on #5157
Thank you.

I think that for sink connectors the functionality is clear enough:

- `ATMOST_ONCE`: Shared subscription - Does not retry on unknown delivery status.
- `ATLEAST_ONCE`: Shared subscription - Retries on unknown delivery status.
- `EFFECTIVELY_ONCE`: Failover subscription - Retries on unknown delivery status.

A technical explanation on how this option is implemented on source connectors

[2019-09-18 17:45] sijie commented on #5157
@stupidusername :

Actually I think you had a wrong impression here.

the processing guarantees are used for determining the subscription type that Pulsar uses for reading messages from a Pulsar topic and the error handling for Pulsar writing messages to a Pulsar topic.

So the actual processing guarantee for connectors is not just relied on Pulsar guarantee but also on the implementation of sourc

[2019-09-18 18:00] stupidusername commented on #5157
I do understand that the processing guarantees are also determined by the implementation of the connectors.

I'm going to try to make some free time to further explore this topic and make a PR to update the docs if I see it necessary.

I appreciate you taking the time to clarify my doubts.

[2019-09-18 18:26] sijie commented on #5157
@stupidusername you are welcome. looking forward to your contributions.

[2019-09-18 19:25] pouledodue opened #5217 "Python pulsar-client==2.4.0 segfaults on macOS Catalina beta 8 (19A558d)"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install macOS Catalina beta 8
2. install python3.7
3. `pip install pulsar-client==2.4.0`
4. execute in Terminal `python -c 'from pulsar.schema import Record'`

**Expected behavior**
no segfault message

**Desktop (please complete the following information):**
 - macOS Catalina beta 8 (19A558d)

**Additional context**

[2019-09-18 19:59] sleungtoast opened #5218 "Enabling Deduplication may drop messages"
**Describe the bug**
Since deduplication drops messages based on the the largest sequence id recorded pre-persist, if there’s an error persisting to BK, a retry attempt will just be “deduplicated” with no message ever getting persisted.
<img width="801" alt="dedupe_fail_case" src="https://user-images.githubusercontent.com/7429691/65181039-2a068f80-da2c-11e9-9d24-550ab3c0a220.png">

**To Reproduce*

[2019-09-18 21:04] aahmed-se commented on #5217
hopefully we can find hosted mac os env to make build and deploy soon https://github.com/microsoft/azure-pipelines-image-generation/issues/1243

[2019-09-18 22:04] pouledodue commented on #5217
@aahmed-se is it the correct way to build the wheel on my mac:
[code]

because it gives me err when importing pulsar so my procedure is probably not correct to build wheel :

[code]

[2019-09-18 22:11] pouledodue commented on #5217
ok I found why

[2019-09-18 22:12] pouledodue commented on #5217
`cmake -DPYTHON_LIBRARY="/Library/Frameworks/Python.framework/Versions/3.7/lib/libpython3.7.dylib" .`

[2019-09-18 22:20] pouledodue commented on #5217
hmm not sure it's the correct way because in `pipenv` virtualenv it outputs me the same err
but in non-virtualenv it works

[2019-09-18 22:23] pouledodue commented on #5217
ok recreated the `pipenv` virtualenv from scratch and seems to work in pipenv virtualenv too

[2019-09-19 02:01] shustsud commented on #5202
@codelipenghui
thank you for your comment.

Add comments to the ticket if there is additional information.

[2019-09-19 06:52] sydnash opened #5220 "how to safely delete bookie of pulsar cluster?"
**Describe the bug**
I have a pulsar cluster with four bookie, and ledger set like this:
[code]
when I publish some message to topic.(witch is already has subscriptions but no comsumer)
I close tow of the bookie and run the follow command which wait until the closed bookie's ledger is re-replicated to other bokie.（I do this step one by one)
[code]
after that  i couldn't  receive message on it any

[2019-09-19 07:42] ChangWinde commented on #4721
@vruc @idantony  thanks for your help

[2019-09-19 07:53] pouledodue opened #5222 "2.4.1 pulsar-admin should have 8 schema compatibility check strategies"
**Describe the bug**
2.4.1 `pulsar-admin` should have 8 schema compat check strategy, it only has 3.

**To Reproduce**
Steps to reproduce the behavior:
[code]
gives:
[code]
**Expected behavior**
A change of strategy

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: catalina

[2019-09-19 08:04] #5208 closed

[2019-09-19 09:02] Anonymitaet opened #5223 "[Doc] Add configs for broker"
Document features related to auto topic creation (https://github.com/apache/pulsar/pull/4963)

[2019-09-19 09:20] iravishah commented on #5206
@sijie I have followed [this](https://pulsar.apache.org/docs/en/security-tls-transport/) guide to generate certs for CA and Server.

**Standalone config**
`brokerServicePort=6651
webServicePort=8443
tlsEnabled=true
tlsCertificateFilePath=/path/to/broker.cert.pem
tlsKeyFilePath=/home/path/to/broker.key-pk8.pem
tlsTrustCertsFilePath=/path/to/ca.cert.pem`

**Client config**
`useTls=true
webServiceUrl

[2019-09-19 10:16] iravishah commented on #5206
I have added `brokerServicePortTls=6651` and now i am getting
`ERROR org.apache.pulsar.common.util.SslContextAutoRefreshBuilder - Execption while trying to refresh ssl Context Private key loading error`
while starting standalone pulsar

[2019-09-19 12:22] #5050 closed

[2019-09-19 12:36] sijie commented on #5220
@sydnash can you share the `topic stats-internal` result?

[2019-09-19 12:40] sijie commented on #5222
@pouledodue : you can use `NONE` for `always_compatible` check policy. The other 3 transitive policies are added recently. It seems that the pulsar-admin is not updated to include them.

@codelipenghui @congbobo184 can you help with this issue?

[2019-09-19 16:26] 0x6e6562 commented on #4593
I can reproduce these symptoms on OSX by starting prometheus before starting pulsar.

[2019-09-19 17:35] merlimat opened #5229 "Intermittent test failure in PulsarFunctionE2ESecurityTest.testAuthorizationWithAnonymousUser"
The test is reproducibly failing from time to time due to the subscription cleanup failure and the function api giving up deleing the subscription after N attempts.

Full tests logs: https://gist.github.com/merlimat/3cd7102e39be08789d21d18bbbdbc255

[2019-09-19 20:38] pouledodue opened #5231 "schema scheme BACKWARD should permit removing fields"
**Describe the bug**
With schema scheme set to `backward` I should be able to upload a new schema containing one less field. However uploading  a schema with one less fields fails 500

**To Reproduce**
Steps to reproduce the behavior:
I wrote a small script:
[3_to_2.sh.txt](https://github.com/apache/pulsar/files/3633152/3_to_2.sh.txt)

**Expected behavior**
updated schema should not contain `lakit

[2019-09-19 20:43] pouledodue commented on #5231
oops other way around fixing it

[2019-09-19 21:07] pouledodue commented on #5209
yes it's when the topic does not exist:
[code]

[2019-09-20 00:52] sijie commented on #5231
in 2.4.1 and before, the namespace level compatibility check policy is only applied for producers and consumers. the admin restful api is using FULL compatibility check. there is a change in 2.5.0 to change restful admin to respect to namespace setting.

See #4821

[2019-09-20 01:10] #5231 closed

[2019-09-20 02:29] congbobo184 commented on #5222
@pouledodue now pulsar-admin only support four compatibility strategy, here will have an update.
you can see [PIP-44](https://github.com/apache/pulsar/wiki/PIP-44%3A-Separate-schema-compatibility-checker-for-producer-and-consumer), auto update schema and compatibility strategy will be separated, #5227

[2019-09-20 03:02] k2la opened #5234 "Memory Leak in `CreateProducer` of pulsar-client-go"
Memory usage increases every time we create a producer with `CreateProducer` of pulsar-client-go and close it.
Memory leaks might be happening in`createProducer` of pulsar-client-cpp.

[2019-09-20 03:43] stevenwangnarvar opened #5235 "lost message when not ack in partitioned topics in go client"
**Describe the bug**
try to test this fix https://github.com/apache/pulsar/pull/4653, but found have message lost during re-process messages which are not acknowledgment.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a partitioned topic
2. run a test go program, send several messages, and receive them but not ack them.
3. Check the received message, check if any messages are lost.

[2019-09-20 07:03] efynn commented on #5182
Thank you for your reply

[2019-09-20 07:03] #5182 closed

[2019-09-20 14:12] one70six opened #5241 "Pulsar Client - Allow TLS Certs to be loaded from memory"
Currently the Pulsar client allows for the use of TLS certificates to be loaded and passed to the brokers, but these certs have to exist on the file system where the Pulsar client resides.

Example:
[code]

**Describe the solution you'd like**
Allow the authentication portion of the client builder to accept strings from memory, as well as, file paths. This way you can:

- utilize certificate vault

[2019-09-20 14:29] kuido85 opened #5242 "Consumer fails to retrieve messages when using multi-host connection with Avro schema and one broker is down in cluster."
**Describe the bug**
When using multi-host connection in java client and also using schema registry for example Avro schema. Then it's not possible to retrieve messages when 1 broker is down from cluster. It's not happening without schema eh.g. using byte[] as message content.

**To Reproduce**
Steps to reproduce the behavior:
1. Set up pulsar cluster with multiple brokers.
2. Send few messages to

[2019-09-20 16:58] merlimat commented on #5218
@sleungtoast Thanks for reporting. We also discovered this issue and had already a plan for fixing it. @jerrypeng is working on that.

The fix is two-fold:
 * Double check the pending messages and return error to producer when the dup status is uncertain (eg. message is still pending)
 * Sync back the lastPushed map with the lastStored map after the failures

[2019-09-20 17:00] merlimat commented on #5218
To clarify one additional aspect: with the default config, this error can only happen if the BK cluster is completely unavailable for writes.

[2019-09-20 17:35] merlimat commented on #5235
Looks like the message is not lost, since the "backlog" count shows 5 messages, though for some reason is not being retried.

Can you paste the topics stats for partition-0?

[2019-09-20 17:37] sleungtoast commented on #5218
Thanks @merlimat. One other thing that we found was when turning off dedupe on the broker config (and doing a restart) instead of dynamically through the API, the dedupe topic was not cleaned up.

[2019-09-20 17:39] merlimat commented on #5218
You mean the dedup cursor?

[2019-09-20 17:42] sleungtoast commented on #5218
Yes, sorry that's what I meant.

[2019-09-22 21:59] RAbraham opened #5248 "Segmentation Fault: Mac OS Mojave"
[code]

Note: I was trying to install from source earlier if that made any difference. I did `brew uninstall libpulsar` before doing the above

[2019-09-23 00:44] aahmed-se commented on #5248
looks fine to me on mojave

[code]

[2019-09-23 01:47] pouledodue commented on #5248
that wheel was working for me on Mojave.
if you do not find the solution you can build a wheel direct on your mac:
[code]

[2019-09-23 02:02] JointHero opened #5249 "Where's the messages gone ? / pulsar SQL (Presto) can only query data less than 100000 ?"
**Architect：**
1、Pulsar cluster : zookeeper (3nodes) + Bookkeeper (3nodes)+ Broker&funcation worker (3nodes)+ proxy (1nodes)+ sql worker (3nodes)
all these nodes running in docker
2、Nifi：1 node running in docker

**Senario：**
I create a persistent topic named "persistent://public/default/tusr1", use a nifi workflow to read user data from https://randomuser.me/ and push the userdata in to "persiste

[2019-09-23 06:00] tangxusc opened #5252 "support cloud event"
**Is your feature request related to a problem? Please describe.**
Does pulsar now support cloud event for cncf? Are there any plans for future support?
Is there a support plan for knative event components?

**Describe the solution you'd like**
support cloudevents and knative

**Describe alternatives you've considered**
support https://cloudevents.io/ CloudEvents 0.3
knative now support kafka,It i

[2019-09-23 13:06] RAbraham commented on #5248
@aahmed-se @pouledodue  could you try python3.7? I just tried on python2.7 and python3.6 and it worked for me but not python3.7.4. @pouledodue I'll also try your solution but still wanted to raise the issue, just in case something went wrong with the python3.7 binaries.

[2019-09-23 13:10] RAbraham commented on #5248
@pouledodue. I see you had the same issue https://github.com/apache/pulsar/issues/5217. Was your resolution, the one above?

[2019-09-23 13:48] ivankelly opened #5259 "Calling statsInternal can cause topic creation to fail"
**Describe the bug**
When creating a topic, if there is some other client querying stats (or probably many other things), then the creation can fail.

This is because of how BrokerService ensures that only one client can create the topic at a time. A future is inserted into a map for the topic. However, the computation for this future differs depending on where the call to get the topic comes from

[2019-09-23 15:41] pouledodue commented on #5248
does it work with 3.7.0 or 3.7.3

[2019-09-23 15:49] pouledodue commented on #5248
my issue #5127 is with Catalina, not Mojave.

[2019-09-23 16:01] RAbraham commented on #5248
Fails on both 3.7.0 and 3.7.3. To check if my 3.7 binaries are ok, I installed `numpy`(because it may have c extensions like Pulsar)  and `numpy` worked.

[2019-09-23 16:28] RAbraham opened #5260 "How do I test Pulsar Functions Locally? ModuleNotFoundError: No module named '_pulsar'"
**Describe the bug**
How do I run functions on my local Mac OS(Mojave) machine? It fails with `ModuleNotFoundError: No module named '_pulsar'`

**To Reproduce**
Steps to reproduce the behavior:
- In Terminal 1, I run `bin/pulsar functions-worker`
- In Terminal 2,
[code]

**Desktop (please complete the following information):**
 - OS: Mac OS (Mojave)

**Additional context**
I don't have `pulsar-cli

[2019-09-23 16:38] pouledodue commented on #5248
I used successfully 3.7.0 and 3.7.3 in the past with Mojave

[2019-09-23 16:56] pouledodue commented on #5248
did you try outside pyenv

[2019-09-23 17:02] pouledodue commented on #5260
what happens if you `pip install pulsar-client` before the above command

[2019-09-23 17:03] pouledodue commented on #5260
with or without using `pyenv`

[2019-09-23 17:24] pouledodue commented on #5260
you can run the docker standalone but it's python 3.5 #4944

[2019-09-23 18:25] RAbraham commented on #5260
Yes, `pip install pulsar-client ` moved it forward but it failed looking for the latest python code I think. I'm running Pulsar 2.4.1 but on python 3.6.8, the python library is at 2.0 and my personal problem is that I can't get pulsar to work with 3.7. Thanks for that tip though.

[2019-09-23 18:25] #5260 closed

[2019-09-23 18:26] RAbraham commented on #5248
@pouledodue I'l try but the python 3.6.8 version I tried it with and worked was using `pyenv`.

[2019-09-23 19:39] mickdelaney commented on #271
Hi,
Sorry for the late reply.

So we use Kafka at the moment, confluent provide dotnet & python clients, based on librdkafka which
in theory gives a baseline for all clients that extend it.

The reality is that its very expensive to maintain all these language drivers, and so you get differences, you get things that are coming down the line, for example the schema/avro support in the various langu

[2019-09-23 20:03] RAbraham commented on #5248
@pouledodue  It worked in 3.7.4 in a non pyenv environment. Thanks for that tip. However, I'm a bit confused as it worked for python 3.6.8 in a pyenv environment and  pyenv is such a blessing when it comes to managing multiple python environments for many projects.

[2019-09-23 20:03] #5248 closed

[2019-09-23 23:11] aahmed-se commented on #5252
It's been discussed though not enough requests have been made to give consideration.

[2019-09-24 00:36] #5249 closed

[2019-09-24 00:36] zinohome opened #5262 "pulsar SQL (Presto) can only query data less than 100000"
**Describe the bug**
I create a persistent topic named "persistent://public/default/tusr1", use a nifi workflow to read user data from https://randomuser.me/ and push the userdata in to "persistent://public/default/tusr1", then I use pulsar sql to get the message count.
the sql is simply: [ SELECT COUNT(ssn) FROM pulsar."public/default"."tusr1"; ]
I Expected the return value is the message count s

[2019-09-24 07:49] JoyJava opened #5264 "It takes too long for the client to reconnect to the broker server"
**Description error**

producer.serviceUrl("server1:6650,server2:6650,server3:6650")
If the producer connection to server1, kill -9 server1, will cause the producer to reconnect continuously within 2-5 minutes.

This time too long.

**Reproduced**
Steps to reproduce the behavior:
1. producer.serviceUrl("server1:6650,server2:6650,server3:6650")
2. If the producer is connected to server1
3. kill -9

[2019-09-24 08:29] sydnash commented on #5220
@sijie The scene has been destroyed, I solved it by restart all brokers.

[2019-09-24 08:29] #5220 closed

[2019-09-24 08:32] sydnash commented on #5220
@sijie after restart all brokers, the all commonds are working corrected.

[2019-09-24 09:38] Jennifer88huang commented on #5134
After reading PIP-33, and discussing with @zymap, we come to the conclusion that snapshot belongs to internal implementation, and users need not know it. If so, I'll not document how snapshot works in the user docs. If there is any misunderstanding, feel free to tell me.
Thing to be confirmed (@jiazhai @tuteng @zymap @merlimat) :
- "The snapshots are taken periodically. Proposed default is every 1

[2019-09-24 12:54] merlimat opened #5269 "Flaky test in DebeziumMySqlSourceTester"
The `DebeziumMySqlSourceTester` integration test is intermittently failing, seen it many times failing.

From a superficial look, the test logic is not accounting for dups.

@zhaijack Can you take a look?

[code]

[2019-09-24 15:40] #5218 closed

[2019-09-24 15:54] merlimat opened #5270 "Intermittent test failures in PulsarFunctionsTest.testSlidingCountWindowTest"
Seen few times in integration tests:

@jerrypeng can you take a look?

[code]

[2019-09-25 05:13] volfco opened #5274 "geo replicated subscribers"
One of the big things missing in my book, is a way to have multiple subscribers across datacenters consume messages "exactly" once.

DC A produces 5 messages. DC A has a consume subscription named TEST. DC B has a consumer with the same name. Ideally, a consumer in DC A process messages 1,2,3 while DC B is able to process 4 and 5.

From my admittedly limited research, I don't think this is current

[2019-09-25 14:06] tuteng commented on #5269
When testing testDebeziumMySqlSource in the PulsarFunctionsProcessTest, the following exception occurred, causing the data to change from the default 9 to 18, during this process, MySQL instance was restarted. The test was not completed and some tests were skipped. Such as field `SKIPPED` in the log below:

[code]

But I have not reproduced this problem locally and testDebeziumMySqlSource under Pu

[2019-09-25 15:31] #5234 closed

[2019-09-25 18:31] atombender commented on #572
I'd like this, too. We use Etcd.

How solid is zetcd? It's not been updated since January, the last pre-release was 16 months ago, and the last release was 2 years ago. Readme doesn't have any information on whether it's production-ready. Not too promising.

[2019-09-26 03:32] codelipenghui opened #5281 "Producer blocked after send an over size message while batch enabled"
**Describe the bug**
Here is the error log at client side:
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Create a producer and enable batch producing
2. Send a over size message
3. Send any not over size messages
4. not over size message will be blocked and above logs appear

[2019-09-26 04:17] ChangWinde opened #5283 "JAAS login in broker failed"
**Describe the problem：**
I followed the guidance of the docs[https://pulsar.apache.org/docs/en/security-kerberos/] and try to use kerberos for authentication in pulsar. But I encountered following problem.

The information of exception：
ERROR org.apache.pulsar.broker.authentication.AuthenticationProviderSasl - JAAS login in broker failed: {}
javax.security.auth.login.LoginException: Unrecognized

[2019-09-26 06:42] valiantljk commented on #4162
any update on this?

[2019-09-26 11:40] codelipenghui opened #5284 "Persistent topic fenced"
**Describe the bug**
Here is the error log at broker side:
[code]

[2019-09-26 19:07] cavanaug opened #5285 "Schema support for Flatbuffers??"
**Is your feature request related to a problem? Please describe.**
Organizationally we have been looking at a variety of serialization solutions, there has been significant interest around flatbuffers as a messaging model.   This has a lot of benefits for IOT style devices and communication between services on device.   This also has potential benefits for rpc and/or rest style binary payloads.

*

[2019-09-27 05:39] #5223 closed

[2019-09-27 06:23] #5134 closed

[2019-09-27 14:08] kevenYLi commented on #5144
I encountered a similar problem and solved by doing as your second step. @RAbraham Thanks for your solution.

I was trying to set up a standalone Pulsar locally according to this doc[https://pulsar.apache.org/docs/en/standalone/#start-pulsar-standalone](url),  but failed.
ERROR: caused by: java.util.concurrent.CompletionException: java.net.UnknownHostException: failed to resolve 'liyi.local' after

[2019-09-27 14:19] #4337 closed

[2019-09-27 15:29] merlimat commented on #5144
@kevenYLi thanks for the complete logs. it seems related to the Function worker that tries to use `hostname`. I think we should fix this by making sure that, in standalone mode, it will always attempt to use `localhost` instead.

[2019-09-27 17:12] tooptoop4 opened #5287 "presto connector - how to specify cluster (multi broker/zk) connection"
**Describe the bug**
Trying to connect existing presto (not part of pulsar distro) to pulsar (multi host cluster)

**To Reproduce**
Steps to reproduce the behavior:

catalog/pulsar.properties in presto has

[code]

major (1st issue)
[code]

There is no documentation about how to provide multi hosts for brokers or zk

minor (2nd issue)
`pulsar.entry-read-batch-size=100 --> this config causes error`

[2019-09-28 03:09] codelipenghui commented on #5281
close since #5282 merged

[2019-09-28 03:09] #5281 closed

[2019-09-28 03:33] #5170 closed

[2019-09-28 08:17] kevenYLi commented on #4593
I encountered the same issue when running pulsar in docker.

mac Mojave 10.14.6
pulsar 2.4.1

`https://pulsar.apache.org/docs/en/standalone-docker/  --> Get Started --> Run pulsar in Docker`

[2019-09-28 08:41] aahmed-se commented on #4593
I am not able to see this issue as interim people can try and use the docker image and volume mount the data folder, also please check to see /etc/hosts files or any strange entries.

[2019-09-28 08:44] aahmed-se commented on #5285
It's possible to add flatbuffers schema support just like protobuf. But it's not clear what the advantages would be. Flatbuffers is generally used in the context of low latency ipc not really suitable for persisting messages in log based pub sub systems.

[2019-09-28 08:45] aahmed-se commented on #5284
is this for a new consumer ?

[2019-09-28 08:46] aahmed-se commented on #5274
There has been discussion on geo replicated subscriptions @merlimat can provide more insights.

[2019-09-28 08:49] aahmed-se commented on #5217
will consider this solved

[2019-09-28 08:49] #5217 closed

[2019-09-28 08:52] aahmed-se commented on #5114
this is resolved

[2019-09-28 09:28] pouledodue commented on #5114
mac?

[2019-09-28 18:09] aahmed-se commented on #5114
there is issue with the cmake script.

https://github.com/apache/pulsar/pull/5263

It should be fixed and mac binaries releases as part of 2.4.2 which will be
soon.

On Sat, Sep 28, 2019 at 2:29 AM Poule Dodue <notifications@github.com>
wrote:

--
-Ali

[2019-09-28 18:09] aahmed-se commented on #5114
there is an issue with the cmake script.

https://github.com/apache/pulsar/pull/5263

It should be fixed and mac binaries releases as part of 2.4.2 which will be soon.

[2019-09-29 02:40] codelipenghui commented on #5284
@aahmed-se

both new producer and new consumer, and lasted for a few minutes, restart the broker can resolve.

[2019-09-29 03:28] kevenYLi commented on #4593
I reproduced the issue. It happened After I pressed Ctrl+C to stop the program.  I tried three times, and the exception happened three times.

**To Reproduce**
- [run Pulsar standalone in docker](https://pulsar.apache.org/docs/en/standalone-docker/)
- Press Ctrl+C to stop Pulsar.

**Environment**
mac Mojave 10.14.6
pulsar 2.4.1
wifi connected

[2019-09-29 05:05] xujianhai666 commented on #5209
@sijie on my opinion, if the topic dost not exist or has been deleted, the response should be text clear instead of 500 error.

[2019-09-29 05:19] xujianhai666 commented on #4675
can I  do it ?

[2019-09-29 06:10] codelipenghui commented on #4675
@xujianhai666 welcome!

[2019-09-30 06:26] volfco commented on #5274
The one thing I thought of in the background is that messages would have to be replicated with origin DC and origin ID or part of an Avro schema- as currently message IDs are unique per DC (from my understanding)

[2019-09-30 08:27] Loghijiaha opened #5294 "Getting errors when creating JWT"
**Describe the bug**
I created private/public key pairs using :

`$ bin/pulsar tokens create-key-pair --output-private-key my-private.key --output-public-key my-public.key`

And I couldn't create a token using the secretkey 👎

`bin/pulsar tokens create --private-key file:///path/to/my-private.key \
            --subject test-user`

**To Reproduce**
1. `$ bin/pulsar tokens create-key-pair --output-

[2019-09-30 10:25] tuteng commented on #5294
Can you write more detailed information, such as the version of the pulsar, whether there are exceptions thrown, and if so, what are the exceptions? @Loghijiaha

Note: path needs to be replaced by your real path

[2019-10-01 09:26] tooptoop4 opened #5300 "presto connection to pulsar issues"
1.
#hanging for more than 10mins so i killed it (presto .220 and pulsar 2.4.0)
select * from "event-notification-test-topic" limit 1;

2.

presto:public/default> show create table "trade-status-test";
Query 20191001_090836_00019_dq4m7 failed: Table has no columns: TableHandle{connectorId=pulsar, connectorHandle=PulsarTableHandle{connectorId=pulsar, schemaName=public/default, tableName=trade-status

[2019-10-01 18:07] vicaya commented on #2967
We're seeing this (topic unavailable due bundle being unloaded) in 2.4.1:
``
"00:52:30.838 [pulsar-io-24-2] INFO  org.apache.pulsar.broker.lookup.TopicLookupBase - Failed to lookup null for topic persistent://... with error Namespace bundle .../0x00000000_0x40000000 is being unloaded\n"
"00:52:30.838 [pulsar-io-24-2] INFO  org.apache.pulsar.broker.service.ServerCnx - [/10.244.0.50:47136] Subscribi

[2019-10-01 19:50] merlimat commented on #5270
Similar failure :

[code]

[2019-10-02 12:16] #4391 closed

[2019-10-02 12:21] KannarFr commented on #5059
It could be great to be able to set retention or expiration date for offloaded data too. Today there is no way to clean offloaded data, right?

@sijie

[2019-10-02 12:42] j4fm commented on #5252
+1

[2019-10-02 18:55] #5114 closed

[2019-10-02 19:19] vl185050 opened #5304 "Loading certificates from classpath rather from filesystem"
**Is your feature request related to a problem? Please describe.**
running pulsar consumer program as java -jar target\xyz.jar .
For authentication, it could NOT load certificates file from classpath under the resource folder and throws file not found an exception.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
It should also be able to load the c

[2019-10-03 04:55] rocketraman opened #5309 "[docs] Clarify wording around retention policies"
In section https://pulsar.apache.org/docs/en/cookbooks-retention-expiry/#retention-policies, this text appears:

The "**even** acknowledged messages" seems to imply the settings apply to all messages, both unacked and acked.

As I understand the retention settings, these apply *only* to acknowledged messages, which implies that unacked messages are retained indefinitely (or actually as per the bac

[2019-10-03 04:59] rocketraman commented on #5309
Never mind, I was confused.

[2019-10-03 05:15] rocketraman opened #5310 "Add meta-data to DLQ"
**Is your feature request related to a problem? Please describe.**
The automatic DLQ is a nice feature, but its lacking any ability to add meta-data to the entry in the DLQ. For example, setting a property like "causalException" with an exception message and stack trace is very useful when looking at the entries in the DLQ and deciding how to handle them.

**Describe the solution you'd like**
One

[2019-10-03 05:46] rocketraman commented on #3762
I'd like to at least have the option to use the Java Pulsar client with an unshaded Avro. We use Avro extensively with Kafka, and while we migrate to Pulsar, its imperative we have compatibility at the Avro message level, which means using the same version of Avro.

Here is an issue we are running into because our messages use Avro 1.9.1 which supports the java.time APIs:

[code]

[2019-10-03 16:03] vicaya commented on #5200
We've tracked down the issue, which is due to repeated websocket consumer subscription failures (multiple consumers trying to connect to the same exclusive subscription) which is causing resource/task leaks in the pulsar client of the embedded websocket proxy. We've verified that the issue appeared to be resolved by https://github.com/apache/pulsar/pull/5204.

[2019-10-03 16:03] #5200 closed

[2019-10-03 16:40] sijie commented on #4515
Currently it doesn't support time based offloading. We can look into adding it. Although there is some tricks need to be taken care. The offload happens on a segment / ledger basis. So a segment can only be offloaded when it is sealed. A segment is only sealed when a new ledger is rolled over, which mean it also depends on the ledger rollover settings.

+1 that sounds a good idea

[2019-10-03 17:01] vicaya commented on #5285
What about people want to use non-persistent topics for lower latency pubsub for certain topics? Flatbuffer also uses a lot less CPU and memory allocations (esp. vs protobuf). We'd welcome things that would reduce the CPU/memory usage of pulsar broker.

[2019-10-03 17:06] merlimat commented on #5285
Keep in mind that serialization/deserialization are done only by producers/consumer. Brokers will not do these at any point. The only thing that broker does is to validate the schema definition.

[2019-10-03 18:01] pouledodue commented on #4249
any news on this missing part?
[X] Pulsar <s>Kinesis + SQS</s>
[X] Bookkeeper <s>DynamoDB</s>
[ ] Pulsar API Gateway <s>AWS APi Gateway</s>

[2019-10-03 22:39] devinbost opened #5311 "Mysterious random errorless failures of functions and sinks - only resolved by restarting brokers"
**Describe the bug**
This incident has been occurring approximately once every 2 weeks or so. In the most recent case, two of our functions mysteriously stopped working.
No user or system exceptions were being thrown on the functions. The only way we determined that there was a problem was due to accumulating backlog. Restarting the functions had no effect. There were no errors in their function l

[2019-10-03 23:34] devinbost opened #5312 "Function REST API documentation is insufficient for Create POST action"
**Describe the bug**

I’m attempting to create a function through the REST API, and I’m getting a 415 Unsupported Media Type response. I had this same issue when creating a PUT to create a new tenant through the REST API, but I resolved that issue by setting the content type to "application/json; charset=utf-8". However, with the POST of the function, I’m still getting this issue.

**To Reproduce*

[2019-10-04 21:55] digi691 opened #5318 "Pulsar 2.4.1 - Broker stops server Admin API at random"
**Describe the bug**
The broker stops serving the Admin API.  When it stops serving the Admin API, there is a corresponding WARN message from org.eclipse.jetty.util.thread.strategy.EatWhatYouKill.  Right now the issue is random but seems to be happening every few hours.  Restarting the Broker is the only way to recover.

**To Reproduce**
Steps to reproduce the behavior:

The cluster has two HAProx

[2019-10-06 15:22] hrsakai opened #5324 "[go client] Producer::Close() may get stuck"
**Describe the bug**
In the situation I confirmed, when entering [the logic](https://github.com/apache/pulsar/blob/v2.3.2/pulsar-client-cpp/lib/ProducerImpl.cc#L478-L484), [`C._pulsar_producer_close_async()`](https://github.com/apache/pulsar/blob/v2.3.2/pulsar-client-go/pulsar/c_producer.go#L228) gets stuck with [`c<-err` in callback](https://github.com/apache/pulsar/blob/v2.3.2/pulsar-client-go/p

[2019-10-07 11:33] Guchman commented on #5312
I think expected behaviour is to support application/json:)

[2019-10-07 16:53] rocketraman commented on #2328
I have this same issue with running Pulsar on Kubernetes. I see that the script `gen-yml-from-env.py` is supposed to update `functions_worker.yml`, but I think the script is missing the value `pulsarFunctionsCluster` in INT_KEYS  `https://github.com/apache/pulsar/blob/60d2bfa389815b1769b36a0158059bfc3372a9a0/docker/pulsar/scripts/gen-yml-from-env.py#L30`

[2019-10-07 17:13] rocketraman opened #5325 "Pulsar on k8s: broker start failure when set functionsWorkerEnabled=true"
**Describe the bug**
The Kubernetes deployment sets `PF_pulsarFunctionsCluster` but this doesn't appear to get applied to `conf/functions_worker.yml`.

Looking at the source, it appears that the script `gen-yml-from-env.py` is supposed to update `functions_worker.yml`, but I think the script is missing the value `pulsarFunctionsCluster` in INT_KEYS  here: https://github.com/apache/pulsar/blob/60d2

[2019-10-07 18:24] hanbo1990 opened #5326 "pulsar released package missing configuraion for ranges from bookkie"
**Describe the bug**
Standalone pulsar's bookie creates data/ranges folder even bookkeeper's data path is changed to another folder. This data/ranges folder is used by data.bookkeeper.ranges, which can be configured in the bookkeeper package downloaded from apache bookkeeper but not pulsar.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to the conf folder and change all data paths of the

[2019-10-07 19:29] sijie commented on #5325
@rocketraman INT_KEYS are used for the settings whose value is Integer. So I don't think pulsarFunctionCluster is an INT key.

You need to specify the function settings by prefixing the settings with "PF_". That says, you need to specify the system variable "PF_pulsarFunctionCluster", so that `gen-yml-from-env.py` can work as expected.

[2019-10-07 19:33] cdbartholomew commented on #5325
@rocketraman expanding on @sijie's comment, I can confirm that if you set it as an environment variable, it gets applied. I have added this to my broker configmap for k8s:

[code]
Then `gen-yml-from-env.py`  picks it up and applies it to `functions_worker.yml`.

[2019-10-07 20:06] chairmank commented on #5318
related to https://github.com/apache/pulsar/pull/5079

[2019-10-08 04:36] rocketraman commented on #5325
Hmm, for some reason it did not work for me. I have exactly that (based on the sample in the repo) and yet the broker was still starting up with an error looking for cluster "standalone".  Will try again tomorrow.

[2019-10-08 17:04] devinbost commented on #5312
Here's additional detail that I get from Wireshark on the content of the `multipart/form-data` message:

[code]

[2019-10-08 17:12] devinbost commented on #5312
Also, I found the code for the CLI in org.apache.pulsar.client.admin.internal.FunctionsImpl.java, which contains:

[code]

[2019-10-08 17:34] devinbost commented on #5312
I think the issue is that when uploading a Jar from a local path, it needs to be uploaded as a binary object. So, I think that's why they're using `multipart/form-data`, rather than `application/json`.

[2019-10-08 20:17] Guchman commented on #5312
But when you send not jar file, but http link to file I'll be more clear to use application/json. Probably it must be different options

[2019-10-09 08:05] #5283 closed

[2019-10-09 13:30] Jesse-Zhang-Bose opened #5344 "In Pulsar client, the effective value of NackRedeliveryDelay is about 1/3 of its specified value"
**Describe the bug**
the effective value of NackRedeliveryDelay is about 1/3 of its specified value.

**To Reproduce**
Steps to reproduce the behavior:
In my test, I set NackRedeliveryDelay=200 second delay, but it is retrying at second 57
See my log:
[code]
**Expected behavior**
The delay for the nack redelivery is not meant to be precise, but it should not be around 1/3 of the value. In my case,

[2019-10-09 14:01] Anonymitaet opened #5345 "[Doc] Fix doc issues related to BookKeeper, Python Client, and so on"
Fix some issues reported by @candlerb (b.candler@pobox.com):

![image](https://user-images.githubusercontent.com/50226895/66488067-f0332100-eadf-11e9-9c4b-4a8c2bdf19c2.png)

[2019-10-09 14:29] ccronemberger opened #5346 "bin/pulsar standalone --zookeeper-port 2183 does not work with version 2.4.1"
I need to run Zookeeper in a different port number, so I specify "--zookeeper-port 2183" in the command line, but it is still using default port 2181 in the BookieServer configuration. As you can see in the attached log.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to Pulsar installation directory
2. Run the command "bin/pulsar standalone --zookeeper-port 2183"
3. Search for 2181 in th

[2019-10-09 16:23] liangyuanpeng opened #5348 "Load tls file fail on Windows"
**Describe the bug**

[code]

I try to load tls file on windows,but i just got the error:
[code]

I have debug the client code and i found that

![image](https://user-images.githubusercontent.com/28711504/66500192-b704ac00-eaf3-11e9-98ed-c92096fd21e2.png)

``org.apache.pulsar.client.api#AuthenticationUtil.configureFromPulsar1AuthParamString``

In Windows OS,kv.length = 3, so authParams put fail,

[2019-10-09 16:45] merlimat commented on #5348
One workaround is to use the preferred way to add the TLS auth, like:

[code]

(The docs should be updated to suggest this form by default)

[2019-10-09 19:13] rocketraman opened #5349 "UnAckedMessageTracker: 3600 messages have timed-out... but they haven't?"
**Describe the bug**
~I've deployed a topic into Pulsar 2.4.1 with default configuration for message TTL, which as I understand it should mean that unacked messages should be retained forever.~

UPDATE: I've realized the UnAckedMessageTracker does something different than I thought it did. The behavior is still unexplained though.

I've deployed a topic into Pulsar and my consumers are configured

[2019-10-09 19:21] sijie opened #5350 "Pulsar can't load the customized SerDe"
**Describe the bug**

Pulsar couldn't find deployed SerDe class. But it exists in my fat jar

[code]

The command used to submit the function

[code]

[2019-10-09 19:31] sijie commented on #5350
The problem is in PulsarSink.java. We don't use the right class loader to load the SerDe class.

https://github.com/apache/pulsar/blob/6ff1bbae0fe230eb72d62574d7685a745f884416/pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java#L330

The fix should be straightforward to use `functionClassLoader` to load the SerDe class.

[2019-10-10 05:10] MarvinCai commented on #1190
@merlimat
Looking into the code, [PersistentTopic#delete](https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java#L838) will first remove cursor metadata then remove cursor ledgers, but it doesn't care about result of deleting cursor ledger so it'll proceed even with failure. Then it'll try [delete all ledgers](https

[2019-10-10 05:38] merlimat commented on #1190
The error was not referring to the `NoSuchLedgerExistsException`. That is when the metadata for the ledger is not found.

There are still examples in which the topic will fail to get deleted:
 1. Create a topic, create some subscription and publish some data
 2. Delete the data from the bookie (all the replicas)
 3. Kill broker
 4. Try to delete topic

What will happen is that a new broker will fi

[2019-10-10 11:11] Ranganaths commented on #4510
i am having a same problem- I am Just trying to start pulsar using bin/pulsar standalone on mac book, It throws up unknownhostexception for my mac host- any fix for this is appreciated..

[2019-10-11 03:56] addisonj opened #5360 "Proxy doesn't send request body on redirects"
**Describe the bug**
When using multiple brokers behind a proxy, requests with a request body from the client fail. See #3702 as an example. The following seems to be what happens:

- The client makes a request to proxy
- The proxy forward the requests to the broker
- The broker is not authoritative for that request, so it responds with a redirect
- The proxy follows the redirect but DOES NOT forw

[2019-10-11 03:59] #5136 closed

[2019-10-11 04:18] addisonj commented on #5360
Okay, one more follow up. It seems like the default ProxyServlet provides its own ContentProvider, https://github.com/eclipse/jetty.project/blob/jetty-9.4.12.v20180830/jetty-proxy/src/main/java/org/eclipse/jetty/proxy/ProxyServlet.java#L244, that is a really thing wrapper over this class: https://github.com/eclipse/jetty.project/blob/jetty-9.4.12.v20180830/jetty-client/src/main/java/org/eclipse/je

[2019-10-11 04:32] merlimat commented on #5360
Nice finding!

Seems similar to the fix for #4059. In that commit I had added a test to verify the auth headers were being propagated after a redirect, though I didn't think about testing with a request body.

[2019-10-11 04:46] addisonj commented on #5360
I have it implemented, going to to try it out and will push it up

[2019-10-11 06:37] wolfstudy commented on #5324
The issue has been fixed。

[2019-10-11 06:37] #5324 closed

[2019-10-11 10:05] Jennifer88huang opened #5362 "[website] Some company logos are not displayed well on poweredby website"
**Describe the bug**
Some company logos are not displayed well on website http://pulsar.apache.org/powered-by/

![image](https://user-images.githubusercontent.com/47805623/66643570-9488a500-ec51-11e9-978a-aa3aad9e8547.png)
![image](https://user-images.githubusercontent.com/47805623/66643578-9ce0e000-ec51-11e9-842e-f6fbd9362a99.png)
![image](https://user-images.githubusercontent.com/47805623/666435

[2019-10-11 12:56] rocketraman commented on #4162
I'm having the same issue.

[2019-10-11 13:01] liangyuanpeng commented on #5348
@merlimat
Yes, you are right and it solved my TLS problem！Thank you

But, new wrong and can you help me?  thanks!

[code]

and my code

[code]

[2019-10-11 13:19] liangyuanpeng commented on #5362
Actually, five

[2019-10-11 13:24] candlerb opened #5365 "python API missing `is_read_compacted` in create_reader()"
**Describe the bug**

The python API has `is_read_compacted` in the Consumer API, but not in the Reader API.

I think this may be an accidental omission.  I checked the Java API docs, both ConsumerBuilder and ReaderBuilder have [readCompacted](https://pulsar.apache.org/api/client/org/apache/pulsar/client/api/ReaderBuilder.html#readCompacted-boolean-)

Similarly, the C++ API has [setReadCompacted](

[2019-10-11 13:37] Guchman opened #5366 "Deploy function without starting it"
I want to start and stop function on different system events.
Example:
I have dataflows A and B.

"A" is initial db state, "B" is updates from journal log.
I need datastream where B goes strongly after A.
So I have Bridge function that will shot circuit B on A

I could deploy function when event occurred, but I don't want my application service to deploy functions. It must simply start and stop it

[2019-10-11 13:37] Guchman opened #5367 "Start function from different offsets"
There is no option to start function from earliest offset.
I think it's basic need for that api.

start earliest, start oldest, start earliest + 10, start oldest - 10

In my cases I need strongly guarantee to start function only from earliest offset

[2019-10-11 14:09] Jennifer88huang commented on #5362
What's the other one?

[2019-10-11 14:22] Jennifer88huang opened #5368 "[docs] Contradictory information about what versions of python are supported"
**Describe the bug**
There is contradictory information about what versions of python are supported.
1. It says that versions 3.4-3.7 are supported at http://pulsar.apache.org/docs/en/client-libraries-python/
2. It says that only version 2.7 is supported at http://pulsar.apache.org/api/python/
The info is out-of-date and needs regenerating.
3. python3 now being supported, there is other new functi

[2019-10-11 14:43] liangyuanpeng commented on #5362
![image](https://user-images.githubusercontent.com/28711504/66660814-75e9d480-ec78-11e9-8133-22b84ca5c919.png)

...

[2019-10-11 14:53] candlerb opened #5369 ""#!/usr/bin/env python" doesn't work on Ubuntu 18.04 / python3"
**Describe the bug**

Ubuntu 18.04 comes with python3 only by default, so scripts which try to start "python" don't work.

**To Reproduce**

On Ubuntu 18.04, try to start the sql worker:

[code]

Tracing shows that sql-worker runs `lib/presto/bin/launcher` which runs `lib/presto/bin/launcher.py` whose first line is `#!/usr/bin/env python`

The underlying problem is: Ubuntu 18.04 comes with python3

[2019-10-11 15:25] candlerb opened #5370 "sql worker on Ubuntu 18: libprocname.so failing, and failing JVM vendor check"
**Describe the bug**

On Ubuntu 18.04, using the pulsar 2.4.1 binary distribution, the sql worker doesn't start.

After fixing python/python3 (#5369), an error is returned about the ELF format of `libprocname.so`.  `file` and `nm` say that the file is corrupt.

**To Reproduce**

[code]

**Desktop (please complete the following information):**
 - OS: Ubuntu 18.04, openjdk-8-jre-headless:amd64 8u222

[2019-10-11 15:34] merlimat commented on #5362
That's because the logo img url is HTTP and we're serving the page with HTTPS.

[2019-10-11 15:40] candlerb commented on #5370
I think that's it:

[code]

Presto 0.206 was tagged on Jul 17 2018.  Current version is 0.226 (Sep 22 2019).

[2019-10-11 15:56] liangyuanpeng commented on #5262
There are may be other reasons.

I can query 100000+ data

``pulsar-admin persistent stats-internal``  result

[code]

``sql run`` result

[code]

and my test code

[code]

pulsar 2.4.1

[2019-10-11 19:56] aahmed-se commented on #5369
This isn't a bug it's env specific issue. We can start discussing deprecating support for python2 but that's a different discussion.

[2019-10-11 19:59] aahmed-se commented on #5366
Functions are not meant to start stop on events, they respond to messages on  topic messages, they are stateful be design. They are closer to stream processing.

[2019-10-11 23:23] TC-robV commented on #4162
i found that if you use the deployment files in the repo that it creates directories on the nodes at /mnt/disks.

if you have installed it previously, you must blow away these directories. once i did that the next install worked fine.

[2019-10-12 01:28] Jennifer88huang commented on #5362
@liangyuanpeng I see, there are some differences in display on our PC. "Giggso" and "Onde" display well on my PC.
@merlimat Is there a solution for this?

[2019-10-12 01:42] tuteng commented on #5362
It seems that the links to some images are incorrect.

[2019-10-12 02:18] Jennifer88huang commented on #5368
@merlimat @jerrypeng @sijie The generated API files are not copied to the right path, could you please help to resolve the issue?
![image](https://user-images.githubusercontent.com/47805623/66693229-6058c700-ecd9-11e9-985d-f033532f40b9.png)

[2019-10-12 02:21] ronaldofreitas opened #5373 "Pulsar Standalone is shutdown before complete starting"
**Describe the bug**
Before this problem happened, I was using it normally. I had to restart the machine at brute force and after I restarted my computer the pulsar started to catch this problem. I removed and installed the pulsar from scratch and the problem continues.

**To Reproduce**
./pulsar standalone

23:14:51.138 [BookKeeperClientWorker-OrderedExecutor-0-0] INFO  org.apache.distributedlog.

[2019-10-12 02:41] liangyuanpeng commented on #5362
![image](https://user-images.githubusercontent.com/28711504/66693561-d1e64480-ecdc-11e9-8fc5-af63e9d61181.png)

This is what I saw in firefox

[2019-10-12 02:59] Jennifer88huang commented on #5362
I've just fixed the issue in https://github.com/apache/pulsar/pull/5374, and build it locally, now all of them display well on website now.
The following image comes from my local update.
![image](https://user-images.githubusercontent.com/47805623/66693763-415d3380-ecdf-11e9-9ac1-1c28985a2e28.png)

[2019-10-12 07:19] codelipenghui opened #5377 "Old message continue redeliver after clear backlog."
**Describe the bug**
We have some messages can't be consume correctly, so i clear the backlog of that subscription, but message redelivery did not stop.

**To Reproduce**
Steps to reproduce the behavior:
1. Producer send some messages
2. Consumer receive messages but do not ack them
3. Clear backlog of the subscription which consume use
4. un-acked messages will redeliver continuously

**Expected

[2019-10-12 14:23] frank-dkvan opened #5379 "Kafka Wrapper can NOT support new Kafka version, >=0.11+, 1.0+ and 2.0+"
**Describe the bug**
Error: Failed to sample data: java.lang.UnsupportedOperationException

look like currently it only supports Kafka version <=0.10?

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.githubusercontent.com/17067653/66702857-c0358900-ed3e-11e9-9e2e-2fe3c17bfe96.png)

[2019-10-12 17:48] liangyuanpeng commented on #5348
I tried several times and failed to create a consumer or producer

``
org.apache.pulsar.client.impl.ProducerBuilderImpl#create
``

``
org.apache.pulsar.client.impl.ConsumerBuilderImpl#subscribe
``

This is confusing to me

[2019-10-13 03:06] stupidusername opened #5380 "Kubernetes deployment: Pods from a service are being scheduled on the same node"
I was trying to deploy pulsar using GKE. While I was deploying the ZooKeeper service I noticed that its pods were being scheduled on the same node. I am really new to Kubernetes but this looks a little odd to me:

`deployment/kubernetes/google-kubernetes-engine/zookeeper.yaml`

[code]

I read this [Kubernetes affinity example](https://kubernetes.io/docs/concepts/configuration/assign-pod-node/#an-e

[2019-10-13 10:50] cdbartholomew commented on #5380
@stupidusername you are correct. To fix it, you might want to add a `component `key to the podAffinityTerm, not change to change `app` since the pod has both those labels. Doing that would be more important if you wanted to create multiple Pulsar instances in one Kubernetes cluster.

Here is an example of what I am using (I also have `release`):

[code]
I noticed this issue in the Helm chart and h

[2019-10-13 10:59] cdbartholomew commented on #5380
Actually, looking at the Helm chart more closely, there is a different problem with the anti-affinity rules, but the effect is the same. Pods don't get scheduled on different nodes.

[code]

The issue here is that `app ` is a concatenation of 'pulsar' and the component name, but the pods aren't labeled that way.

I will create a PR to clean both of these up.

[2019-10-13 15:39] pouledodue commented on #5380
they put `component` in this one [here](https://github.com/guillaume-braibant/unofficial-pulsar-digitalocean-k8s-deployment)

[2019-10-13 16:55] stupidusername commented on #5380
@cdbartholomew Thanks for submitting the PR!

[2019-10-14 04:42] leonidv commented on #4641
I've run Apache Pulsar 2.4.1 in standalone mode on open-jdk-13:

`
 07:28:28.461 [main] INFO  org.apache.zookeeper.server.ZooKeeperServer - Server environment:host.name=lv-linux
07:28:28.461 [main] INFO  org.apache.zookeeper.server.ZooKeeperServer - Server environment:java.version=13
07:28:28.461 [main] INFO  org.apache.zookeeper.server.ZooKeeperServer - Server environment:java.vendor=N/A
07:28:28

[2019-10-14 07:01] Guchman commented on #5366
@aahmed-se I mean external control of function, stop and start that with API.
Anyway, it's may be useful to deploy full stream pipeline before starting that

Actually I have stream processing pipeline, but complex one, so I need to merge two streams sequentially.

[2019-10-14 09:08] a1onzo commented on #2799
hi, is the issue above solved? i am confused with that error "Error Checking/Getting Partition Metadata while creating producer" too @gurgen2727

[2019-10-14 15:41] liangyuanpeng commented on #5348
Update, I confirm that my problem is on configuring TLS transport

and can i not use proxy?

Actually, I tried to start proxy,but i just got error

[code]

and my ``proxy.conf``

[code]

[2019-10-14 16:00] merlimat commented on #5348
@liangyuanpeng
From the error looks like you're connecting with TLS to a non TLS port.

Typically, the TLS port is `6651`,  so the URL should be `pulsar+ssl://192.168.1.11:6651`

[2019-10-14 16:11] liangyuanpeng commented on #5348
@merlimat

Thanks,Just solved the problem,

I realized what a fool I was

Now,i got the error

``
org.apache.pulsar.broker.PulsarServerException: org.apache.pulsar.broker.PulsarServerException: java.lang.IllegalArgumentException: Private key must be accompanied by certificate chain
``
I am checking my configuration

If this is a silly question, I'm sorry for that

[2019-10-14 19:18] addisonj opened #5383 "deleteSubscription fails and leaves a dangling thread in jetty threadpool"
**Describe the bug**
For unknown reasons, a `deleteSubscription` call can fail and it leaves around a dangling thread in the the broker, specifically the Jetty server threadpool. If this happens too many times, the broker can start having issues as Jetty is starved of threads.

**To Reproduce**
Not sure of exactly what happens, but here appears to be what usually gets me into this state
Steps to r

[2019-10-14 19:45] Lanayx opened #5384 "Topic compaction fails with 500 error"
**Describe the bug**
I'm running pulsar 2.4.1 on minikube installed with Helm template. I create topic in `retention` namespace where some retention is set ( in my case --time 3h --size 1G). Then I sent 100 messages to the topic with the same key, and then wanted to enable compacting for this topic. Tried several ways,

`bin/pulsar-admin topics compact persistent://public/retention/topic-2`
return

[2019-10-14 21:22] addisonj commented on #5383
Okay, after a bit of research, this looks like it likely is mostly a non issue in master with the changes to move to an async http handler. There may still be some exceptions in this code path that aren't getting handled properly, but this issue may well be fixed already

[2019-10-15 05:26] k2la opened #5387 "When I create many PulsarClients and Consumers, fail to resolve hostname"
I have use cases that needs to create many  `PulsarClient` and `Consumer` instances.

[code]

When I set MaxDirectMemorySize of JVM 1GB and create 100 each `PulsarClient` and `Consumer` instances like above code, the client program fail to resolve hostname with the following logs.

[code]

How do I resolve this ?

### Steps to reproduce
- Set MaxDirectMemorySize of JVM 1GB and create 100 each `Pul

[2019-10-15 16:07] nnivruth commented on #2962
@sijie is there an update on this?

[2019-10-15 16:09] merlimat commented on #2962
The replicated subscription feature was proposed in https://github.com/apache/pulsar/wiki/PIP-33%3A-Replicated-subscriptions and it was released in Pulsar 2.4.0

[2019-10-15 18:22] stupidusername commented on #5380
Solved in #5381.

[2019-10-15 18:22] #5380 closed

[2019-10-16 01:56] junlia opened #5392 "Error open RocksDB database when 'Set up a standalone Pulsar in Docker'"
Hello,

I am following the instruction on Set up a standalone Pulsar in Docker to setup Pular on windows 10 with the following command on both cmd.exe and powershell:

`docker run -it  -p 6650:6650  -p 8080:8080 -v "c:\docker\pulsar:/pulsar/data" apachepulsar/pulsar:2.4.1 bin/pulsar standalone`

 I am getting this error as appeared to be fixed already - per https://github.com/apache/pulsar/issues/

[2019-10-16 02:49] xujianhai666 opened #5393 "Support service mesh for pulsar"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
service mesh save lots of devops time.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutio

[2019-10-16 09:42] f-ld commented on #5104
I am facing the same issue.

[2019-10-16 10:00] f-ld commented on #5104
I am facing the same issue.

I have 5 datacenters with each a pulsar cluster. So that make 5 pulsar clusters (named 'region1' ... 'region5'), with geo replication for some namespaces.
- in 3 datacenters (region2, region4, region5), it looks all ok: other replication producers are connected just fine.
- but in 2 datacenters (region1, region3), I have logs like (those come from region3):
[code]
and

[2019-10-16 10:40] f-ld commented on #5104
Additional information to understand the above logs and explanations.

IPs per region:
- region1 : 10.10.0.0/16
- region2 : 10.11.0.0/16
- region3 : 10.12.0.0/16
- region4 : 10.13.0.0/16
- region5 : 10.14.0.0/16

We have 5 brokers per region. And for that topic, 12 partitions.

Regarding the partitioned-stats from previous message and the inbound connection from region3 to region1, I can see it on

[2019-10-16 12:58] xiemeilong commented on #4718
I am facing the same exception after I deployed my custom pulsar io source connector. My namespace is created by rest admin api.

[2019-10-16 13:00] f-ld commented on #5104
In my previous messages I mixed things a bit (because I am discovering things at the same time).

This:
[code]
does not mean that the broker is not seeing the connection but it means that the broker is creating the producer on a connection from its pool. So the connection exists (and this is what we see on both brokers).

I also mixed two connections on port 43300 and 43308. Indeed, there is anoth

[2019-10-16 13:05] f-ld commented on #4718
I haven't reproduced that issue ultimately. I have also changed the pulsar version to 2.4.0 and then 2.4.1 (I was on 2.3.2 when I got it). If it happens again with that version, I will let you know (and maybe be able to investigate it because I am getting quite some experience with Pulsar that causes me troubles)

[2019-10-16 15:27] f-ld commented on #5104
Could it be linked to the fact that, after creating the clusters and brokers, when I created the `tenant/namespace` namespace, I already had some clients trying to produce / consumer from the `persistent://tenant/namespace/topic`.
Then it would have been automatically created as non partitioned. And then a few (milli)seconds later I created it partitioned causing some bad state inside brokers ?

T

[2019-10-16 15:36] amrfaisal commented on #4540
Any updates on this?

[2019-10-16 16:19] candlerb opened #5394 "Add ability to truncate raw partition after compaction"
**Is your feature request related to a problem? Please describe.**
When using an event stream as a "table", Create/Update/Delete options are modelled as posting new key/value pairs.  The stream needs an infinite retention policy, because some keys may never get new values.

Pulsar already has a Compaction feature, which converts a raw topic into a compacted topic, containing only the latest value

[2019-10-16 17:17] sleungtoast opened #5395 "Enable/disable allowAutoTopicCreation per namespace"
**Is your feature request related to a problem? Please describe.**
Currently, `allowAutoTopicCreation` is set as a broker configuration. Generally in my cluster, I want to set that to false to lock down auto topic creation. However, there are still some use cases where topics change a lot and dynamic topic creation would be easier.

**Describe the solution you'd like**
I want to be able to turn on

[2019-10-16 17:27] sleungtoast opened #5396 "anonymousUserRole is not consistently applied on http endpoint"
**Describe the bug**
When an `anonymousUserRole` is defined, that role name is used on the broker pulsar endpoint, but it's inconsistent on the http endpoint, sometimes using `<none>` instead

**To Reproduce**
Steps to reproduce the behavior:
1. Enable authentication on broker config
2. Add an anonymousUserRole to broker config
3. Add that same role name as a super-user
4. Try using admin http end

[2019-10-16 19:20] pouledodue commented on #5393
i'm just a user, can you give more info

[2019-10-16 19:20] aahmed-se commented on #4540
Is this still an issue ?
It's working fine for me.

[2019-10-16 19:54] thps opened #5397 "Pulsar-io connectors not all showing up in releases"
Pulsar-io connectors that have been advertised as released are not all available for download.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://apache.claz.org/pulsar/pulsar-2.4.1/connectors/
or https://pulsar.apache.org/en/download/
or list the 'pulsar-all' container 'connectors' directory.

2. Not all connectors in releases show up as NAR file artifacts as shown in
Release Note

[2019-10-16 21:57] addisonj opened #5399 "Create documentation for KubernetesSecretsTokenAuthProvider"
Currently, the `KubernetesSecretsTokenAuthProvider` used by the K8S runtime is not documented at all. This should be documented along with details of how it works and the new functionality to add the CA as well

[2019-10-17 01:31] xiemeilong commented on #4718
It works well when I pub and sub the same topic using python client， but failed in my pulsar io source connector. This is my first time use of pulsar.  I having no idea of this.

### my source connector log
[code]

[2019-10-17 02:08] junlia commented on #5392
Based on the comment from Sijie Guo on https://github.com/apache/pulsar/issues/4684:

[2019-10-17 02:14] MarvinCai commented on #3804
@sijie sorry just saw the replies, how about I start with doc with problem statement and try propose a solution. If everything looks good then we can proceed from there.

[2019-10-17 02:33] hozumi opened #5401 "Create documentation for docker deployment on bare metal"
**Is your feature request related to a problem? Please describe.**
I'd like to setup ZooKeeper, BookKeeper and Pulsar cluster on bare metal server not on k8s, using official docker image provided by Pulsar project, but currently there is not a documentation about this scenario.
So I have to decipher how to use official docker image from k8s config.
On bare metal setup, I prefer docker deployment t

[2019-10-17 03:12] kevenYLi opened #5402 "[doc]missing coding guide"
#### Expected behavior

The coding guild should be there.

#### Actual behavior

404 Not Found

#### Steps to reproduce

* open [pulsar's home page](https://pulsar.apache.org), choose "Community -> Contributing" on the top navigation bar.
* scroll to the module- Code
* click the [Coding Guide](https://pulsar.apache.org/en/coding_guide)

[2019-10-17 12:18] tsasaki609 opened #5407 "pulsar-client should support JSON in authparams"
**Is your feature request related to a problem? Please describe.**
I'm always frustrated when using pulsar-client of Pulsar CLI tools.
This is because it is easy to misunderstand that JSON can be set as auth-params.

https://pulsar.apache.org/docs/en/reference-cli-tools/#pulsar-client

Since it is written like this, it seems that JSON can be set at first glance.
However, tabs, indents and line bre

[2019-10-17 14:55] Jesse-Zhang-Bose commented on #5349
I have seen the same.

[2019-10-17 15:28] david-streamlio commented on #3376
Any update on this issue?  Is there an ETA for this?

[2019-10-17 17:49] rdhabalia commented on #3376
@david-streamlio
I think we have added broker to bookie mTLS support with this PR: https://github.com/apache/pulsar/pull/5042

https://github.com/apache/pulsar/blob/master/pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java#L792-L818

Is that you are looking for?

[2019-10-17 17:55] david-streamlio commented on #3376
Yes, thank you!!

[2019-10-17 18:01] #3376 closed, assigned to nobody

[2019-10-17 20:01] TC-oKozlov commented on #4807
Hi, what's the recommended work around ? I'm getting this intermittently while trying to a 16-thread producer on 16-core machine, 1 time out of 2-3 runs

[2019-10-18 01:42] cdbartholomew commented on #5392
This is a Docker configuration issue. The command in the documentation:

[code]

Is faulty. Here's why.

When the pulsar Docker image is built, it defines two volumes:

[code]
This means at run time the Docker image expects an externally mounted volume for those the two paths. When you do "docker run" without specifying any storage it will automatically create anonymous Docker volumes. It will loo

[2019-10-18 04:04] zymap opened #5412 "Pulsar-admin commands `Offload`, `internal-info`, `compact`, `unload`, `terminate` are not support the partitioned topic"
**Is your feature request related to a problem? Please describe.**

Currently, the command `Offload`, `internal-info`, `compact`, `unload`, `terminate` are not support to operate a partitioned topic. If there was a big partitioned topic, we need to find all the partitions and operate them one by one. It's not friendly to the users.

**Describe the solution you'd like**

We need to provide a flag `

[2019-10-18 08:20] zymap opened #5414 "list non-persistent topics shows the persistent topics"
**Describe the bug**
When using the REST API to request to list all the non-persistent topics, it will show the persistent topics.

**To Reproduce**
Steps to reproduce the behavior:
1.  Start a standalone pulsar
2. create a persistent topic
3. curl http://localhost:8080/admin/v2/non-persistent/public/default
4. See the persistent topics

**Expected behavior**

show the non-persistent topics

**Scr

[2019-10-18 13:30] junlia commented on #5392
@cdbartholomew It works for me with your revised command in PowerShell. A PR to update the installation guide will help others from windows world like me for sure

[2019-10-18 16:03] cdbartholomew opened #5415 "Dashboard doesn't work in pulsar-standalone docker image"
**Describe the bug**
If you run the pulsar-standalone docker image, which bundles the dashboard with pulsar, the dashboard collecter fails to run, with this error:

[code]

The issue is that the endpoint `/admin/v2/broker-stats/destinations` doesn't exist. In the V2 API, the endpoint was renamed to `/admin/v2/broker-stats/topics`. The fix is a simple replacement of "destinations" with "topics" in

[2019-10-18 18:21] digi691 commented on #5318
Since changing the pulsar.log.root.level to info from the default of debug, the brokers have been stable.

[2019-10-18 20:00] digi691 opened #5417 "Broker hangs and crashes when listing non-persistent topics"
**Describe the bug**
On a Pulsar cluster w/ versions 2.3.0 or 2.4.1 when I send the API request /admin/v2/non-persistent/{tenant}/{namespace} to one of my brokers, the request just hangs.  If I send this request to frequently, the broker's API becomes unresponsive until the broker is restarted.  The broker also never logs the GET request.

**To Reproduce**
Steps to reproduce the behavior:
1. Run s

[2019-10-18 21:37] jm7647 opened #5418 "Unable to Configure a JDBC sink"
**Describe the bug**
Pulsar 2.4.1 docker image is missing IO file.

**To Reproduce**
Steps to reproduce the behavior:
1. Get docker image:
        docker pull apachepulsar/pulsar:2.4.1
2. Make it running
3. Start pulsar:
        docker start pulsar
4. List connectors folder:
        docker exec -it pulsar /bin/bash -c "ls -l connectors"
5. See error:
        ls: cannot access 'connectors': No such

[2019-10-19 20:25] cdbartholomew commented on #5392
Created pull request #5419.

[2019-10-21 01:11] jiazhai opened #5425 "website page `coding_guide` return 404"
As @Retardust reported on slack, when you click the link to "coding guide" at  http://pulsar.apache.org/en/contributing/#code, it returns `404`.
Actually, the link to http://pulsar.apache.org/en/coding_guide does not work.

[2019-10-21 03:44] tuteng commented on #5418
You can download nar packages from [here](http://pulsar.apache.org/en/download/) . All connector files are put into containers, which will result in very large images.

[2019-10-21 04:01] #3161 closed

[2019-10-21 14:23] jm7647 commented on #5418
I followed your suggestion and download nar package. Then I followed tutorial:

           https://pulsar.apache.org/docs/en/io-quickstart/#connect-pulsar-to-mysql

Still jdbc connector is not working according to pulsar logs:

14:20:14.877 [function-timer-thread-86-1] INFO  org.apache.pulsar.functions.runtime.ProcessRuntime - ProcessBuilder starting the process with args java -cp /pulsar/instance

[2019-10-21 15:00] tuteng commented on #5418
[code]

Try adding useSSL parameter to the link.

[code]

[2019-10-21 15:44] adeora commented on #3671
We are seeing this issue in a Pulsar cluster with version 2.4.1, see issue #5417 .

[2019-10-21 17:55] jm7647 commented on #5418
I'm using now useSSL=false.  Notice SSL warning is gone but jdbc sink connector continue to fail:

17:50:54.652 [function-timer-thread-86-1] INFO  org.apache.pulsar.functions.runtime.ProcessRuntime - ProcessBuilder starting the process with args java -cp /pulsar/instances/java-instance.jar:/pulsar/instances/deps/* -Dpulsar.functions.extra.dependencies.dir=/pulsar/instances/deps -Dpulsar.functions.

[2019-10-21 19:14] jm7647 commented on #5418
I looked directly at sink log and it seems to be some schema issue:

19:09:46.263 [pulsar-client-io-1-1] INFO  org.apache.pulsar.client.impl.PulsarClientImpl - Configuring schema for topic pulsar-mysql-jdbc-sink-topic : {
  "name": "public/default/pulsar-mysql-jdbc-sink-topic",
  "schema": "",
  "type": "NONE",
  "properties": {}
}
19:09:46.264 [public/default/pulsar-mysql-jdbc-sink-0] ERROR org.a

[2019-10-21 20:29] fhalim opened #5430 "Flink connector sink doesn't work on blink SQL context"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Flink SQL application in Flink 1.9.0, using the blink optimizer, and register a PulsarJsonTableSink (for instance as described in https://flink.apache.org/2019/05/03/pulsar-flink.html).
2. Run the application.

**Expected behavior**
Sink should be available for wr

[2019-10-21 21:02] stupidusername commented on #5325
I spent more than 12 hours on this...

There are 2 problems here:
- The functions worker needs to know the cluster name.
- The `public/functions` namespace needs to have that cluster set.

The list of `public/functions` clusters is set when the ZooKeeper service is created.

Here is my solution:

- `zookeeper.yaml`

[code]

- `broker.yaml`:

[code]

I hope this helps you.

[2019-10-21 21:24] rocketraman commented on #5325
@stupidusername  None of the zookeeper conf files have anything related to function worker cluster names in them (nor would I expect them to). I'm not certain why setting `PF_pulsarFunctionsCluster` for the zookeeper container would solve the issue. I don't even use the zookeeper that comes with Pulsar.

[2019-10-21 21:47] stupidusername commented on #5325
I'm not adding that value to the ZooKeeper configuration. It is being added to `functions_worker.yml`. Both for the broker and ZooKeeper services.

After reading (https://github.com/apache/pulsar/issues/2328#issuecomment-411013973)[this] I got the idea that maybe there was an error during the creation of the ZooKeeper data.

I tried this workaround and it looks like it's working.

Keep in mind tha

[2019-10-21 22:37] wmccarley opened #5433 "Implementing a Sink to a non thread-safe destination"
I am implementing a Sink to a proprietary socket-based system. The API provided by the destination system does not supply thread-safe classes and write methods.

Is the write method of a class implementing the Pulsar Sink interface expected to be thread safe?

If yes, can someone explain the lifecycle of a Sink within a given JVM?
- When exactly is open/close called?
- Can multiple instances of th

[2019-10-21 23:59] tuteng commented on #5418
Have you created a schema for your topic, http://pulsar.apache.org/docs/en/io-quickstart/#configure-a-jdbc-sink

[2019-10-22 01:58] rocketraman commented on #5325
I'd be very surprised if the container running ZooKeeper was responsible for reading `functions_worker.yml`, and initializing any data inside zookeeper from that file. If that is the case, I'd say that's a major bug. Nothing in the Pulsar docs indicates you need to initialize ZK this way, or indeed, even use the ZooKeeper provided by Pulsar.

[2019-10-22 02:04] rocketraman commented on #5325
My ZK, which is a standalone ZK rather that the one started by `bin/pulsar zookeeper` does have this key `/admin/policies/public/functions`, and it does have the wrong value in it:

[code]

so this means two things:

1) This value is being initialized from somewhere, but it isn't the `functions_worker.yaml` in the ZK container, because my ZK container does not have `functions_worker.yaml` in it.

[2019-10-22 03:10] stupidusername commented on #5325
How did you initialize you cluster metadata?

[2019-10-22 04:22] stupidusername commented on #5325
@rocketraman you were right. My solution does not make any sense. When I tried it for the first time I was working on a new cluster. Before that, I tried many other solutions but none of them work (including setting the `PF_` env variables in `broker.yaml`). And I think that's the issue here, once the clusters of `/admin/policies/public/functions` are set, they can't change.

Check this code from

[2019-10-22 04:41] stupidusername commented on #5325
This may be the solution...

- If you are starting from fresh you need to make sure to configure `PF_pulsarFunctionsCluster` right before deploying the worker.

- If you already started the worker with a wrong configuration, you can try this out:

[code]

    And then redeploy the worker with a fixed configuration.

[2019-10-22 08:49] f-ld opened #5436 "Topic do not always expire as expected"
**Describe the bug**
I have 5 pulsar clusters with geo-replication. All running version 2.4.1.
They are called "region1", "region2", "region3", "region4", "region5".
Each cluster has 5 brokers / 3 bookies / 3 zookeeper / 3 global zookeeper

My brokers are configured with:
[code]

I have non partitioned persistent topics in a namespace "tenant/namespace" allowed in all 5 regions. Everything worked

[2019-10-22 09:59] f-ld commented on #5436
Actually found something for that topic.

It has been created in region1 via a subscription on a non-existing topic.
That subscription has a consumer kept alive.
During that creation, producers are created for replication in all regions and after some time (30-90 secs), because of inactivity,  replicators are closed.

Example of logs for another topic having same symptoms :
[code]

I then have wit

[2019-10-22 09:59] #5436 closed

[2019-10-22 11:33] kuido85 commented on #5242
Couldn't replicate the issue anymore

[2019-10-22 11:33] #5242 closed

[2019-10-22 15:06] jm7647 commented on #5418
That was side effect of me removing sink, so we can ignore it.
After spending some time with suggested solution I see two cases and both fail.

1. Passing useSSL=false to link in .yaml file
             jdbcUrl: "jdbc:mysql://127.0.0.1:3306/pulsar_mysql_jdbc_sink&useSSL=false"

            that brings mysql error:
            [Note] Unknown database 'pulsar_mysql_jdbc_sink&useSSL=false'

2. Adding

[2019-10-22 15:56] merlimat opened #5437 "Test errors in BrokerServiceLookupTest.testMultipleBrokerDifferentClusterLookup"
The test seems to be failing by getting stuck in the consumer creation at:

https://github.com/apache/pulsar/blob/88c854473346507563305d6b65d7a094f7531964/pulsar-broker/src/test/java/org/apache/pulsar/client/api/BrokerServiceLookupTest.java#L261

The problem is that client gets redirected between the 2 brokers in a loop.

cc/ @rdhabalia

[2019-10-22 16:08] merlimat opened #5438 "Test errors in DispatcherBlockConsumerTest"
There are several open issues for intermettent test failures in `DispatcherBlockConsumerTest`.
#506, #786, #1082 and #814.

After a closer look, it seems to me that in some cases, the unblocking of consumers is not working as expected (eg. after consumer sends redelivery requests) and the tests are passing because of a race condition that masks the problem.

cc/ @rdhabalia

[2019-10-22 18:01] f-ld commented on #4718
Getting the issue again with all kind of topics :
- non partitioned global topics
- partitioned global topics
- local (i.e. only one cluster) non partitioned topics
- local (i.e. only one cluster) partitioned topics

And for the latter, I checked that all 3 zk instances have the same content for `/namespace/<mytenant>/<mynamespace>`

When I do a `pulsar-admin topics list tenant/namespace` I get a

[2019-10-22 18:24] jm7647 commented on #5418
OK, it looks like I have first case #1 working now. I had typo in that link.
Thank you for your support.

[2019-10-22 18:24] #5418 closed

[2019-10-23 07:09] svenhornberg opened #5447 "Apache Beam support for Pulsar"
I would like to use Apache Beam and Pulsar as my source, for writing my batch or streaming jobs.

Please consider adding a PulsarIO class to the sdk like Kafka (https://beam.apache.org/releases/javadoc/2.4.0/org/apache/beam/sdk/io/kafka/KafkaIO.html)

I found the pulsar-flink and pulsar-spark folders, but i really like the Apache Beam API.
Maybe you could add a pulsar-beam example or subfolder

[2019-10-23 11:03] #5362 closed

[2019-10-23 11:51] ivankelly commented on #2321
For the record I only managed one natural repro of this (with stress-ng --aggressive --class scheduler --all 5). It appears to be a very narrow race. It can be widened by changing the thenAccept to thenAcceptAsync at https://github.com/apache/pulsar/blob/13ea25a3e0b1d4b01ec678049964816a1275a95f/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/CompactorSubscription.java#L99,

[2019-10-23 11:55] KannarFr opened #5449 "function worker v2.4.1 issues on shared dependencies"
**Describe the bug**
We bumped our functions workers to v2.4.1 from v2.4.0 and the function which is using several dependencies can't boot because of the following stack:

[code]

[2019-10-23 13:40] apacheBright opened #5450 "Some functional requirements about pulsar sql"
**Is your feature request related to a problem? Please describe.**
       There is currently a need to manage and display pulsar's unconsumed metadata. But currently pulsar SQL will display the consumed data.

**Describe the solution you'd like**
       According to the cursor to get the largest markDeletePosition, which is the location of the last spent cursor, and then reassemble the messageId,

[2019-10-23 16:36] #2321 closed

[2019-10-23 18:32] jerrypeng opened #5451 "SchemaUpdateStrategyTest is broken and not run"
**Describe the bug**
Schema integration tests in SchemaUpdateStrategyTest are not run because they are not added in https://github.com/apache/pulsar/blob/master/tests/integration/src/test/resources/pulsar.xml.

Some of the tests also appear to be broken

[2019-10-23 18:39] jerrypeng opened #5452 "PersistentTopicMessagingTest and NonPersistentTopicMessagingTest broken and not running"
Describe the bug
Topic integration tests in PersistentTopicMessagingTest and NonPersistentTopicMessagingTest are not run because they are not added in https://github.com/apache/pulsar/blob/master/tests/integration/src/test/resources/pulsar.xml.

Some of the tests also appear to be broken

[2019-10-23 20:26] jm7647 opened #5454 "mysql JDBC Sink - consumer error"
**Describe the bug**
Running mysql jdbc sink (helped in issue #5418)  but unable to receive data from producer.

**To Reproduce**
Steps to reproduce the behavior:
1. Define Test schema and send producer data

        class Test(Record):
            id = Integer()
            name = String()

        producer = client.create_producer(
                        'pulsar-mysql-jdbc-sink-topic',

[2019-10-24 00:17] tuteng commented on #5454
Please show your producer's code.

[code]

[2019-10-24 00:19] hrsakai commented on #5318
The issue has been fixed.

[2019-10-24 00:19] #5318 closed

[2019-10-24 06:26] codelipenghui commented on #5451
@congbobo184 Can you  help take a look this issue?

[2019-10-24 15:15] tuteng commented on #5454
http://pulsar.apache.org/docs/en/next/io-connectors/
It is already being fixed.

[2019-10-24 16:58] #5360 closed

[2019-10-24 18:55] e14nielson opened #5459 "macOS 10.15 support"
**Describe the bug**
pip install pulsar-client==2.4.1 on macOS 10.15 results in:
ImportError: dlopen(/Users/ericnielson/venv/lib/python3.7/site-packages/_pulsar.cpython-37m-darwin.so, 2): Library not loaded: /usr/local/opt/protobuf/lib/libprotobuf-lite.20.dylib
  Referenced from: /Users/ericnielson/venv/lib/python3.7/site-packages/_pulsar.cpython-37m-darwin.so
  Reason: image not found

**To Repro

[2019-10-24 19:58] aahmed-se commented on #5459
the packages published are for mac os 10.14, will try to publish osx 10.15 packages next release.

[2019-10-24 20:58] vicaya commented on #3671
See this on a 2.4.0 cluster as well.

[2019-10-24 21:01] jm7647 commented on #5454
This  is producer code I used based on your sample - still same error:

        producer = client.create_producer(
                        topic='pulsar-mysql-jdbc-sink-topic',
                        properties={"EVENT": "INSERT"},
                        schema=AvroSchema(Test))

        r = Test(id=1, name="Hello World")
        producer.send(r)

[2019-10-24 21:28] aahmed-se commented on #5447
this should be a request in the beam repo.

[2019-10-25 00:10] gm7y8 commented on #5425
@jiazhai can i pick this up?

[2019-10-25 00:18] pouledodue commented on #5459
@e14nielson https://github.com/apache/pulsar/issues/5248#issuecomment-533939386

[2019-10-25 08:52] jiazhai commented on #5425
@gm7y8 sure you could do it, please feel free for it. It is very appreciate for your help.
This may need a check when the `coding_guide` is removed and un-linked.

Besides this, I checked use a tool: https://www.drlinkcheck.com/,
and it showed there are a lot of links with issue, It would be great if you could help on them.
![image](https://user-images.githubusercontent.com/6348208/67557450-b0a73e

[2019-10-25 10:10] wolfstudy opened #5465 "[Pulsar Functions] User class constructor throws exception"
**Describe the bug**

A few days ago, I could use this command to create a function instance correctly,
[code]

but now I re-use the same command, the creation fails, the error is as follows:

[code]

**To Reproduce**

This problem does not seem to be stable and reproducible.

**Expected behavior**

Can always create functions correctly.

**Screenshots**

![image](https://user-images.githubusercon

[2019-10-25 10:16] wolfstudy commented on #5465
After I delete the files in the following two paths, the instance of function can be created normally.

[code]

So, I guess after a while, the contents of these two folders may be lost.

[code]

But the `nar-md5sum` file should still exist, otherwise it will rewrite the contents of the entire folder.

[2019-10-25 20:06] youurayy commented on #3832
This happens when you try to connect with `pulsar+ssl://` to a `https://` pulsar API endpoint.

The currently thrown exception is confusing.

[2019-10-26 14:34] svenhornberg commented on #5447
okay, looks like there is a story for that (https://issues.apache.org/jira/browse/BEAM-8218), but anyway it would be a push for pulsar. Maybe working together on this is an option.

[2019-10-26 16:39] youurayy opened #5471 "Support multiple Broker URL aliases (by supplied connection context)"
Currently (Pulsar 2.4.1), there is the possibility to use the Proxy component to hardcode alternate Broker URLs to be then used in discovery and sent back to clients which cannot use the primary Broker URLs (e.g. when these are Kubernetes Cluster IP type).

However this has the following drawbacks:
- only one alternate type is supported, e.g. I have to choose whether I support my AWS-internal or m

[2019-10-26 19:23] Eminov-Vasif commented on #4321
Hello
I am facing below issue:
Exception in thread "main" java.lang.NoSuchFieldError: INSTANCE
	at org.apache.http.conn.ssl.SSLConnectionSocketFactory.<clinit>(SSLConnectionSocketFactory.java:146)
	at org.jboss.resteasy.client.jaxrs.HttpClientBuilder43.initDefaultEngine43(HttpClientBuilder43.java:111)
	at org.jboss.resteasy.client.jaxrs.ResteasyClientBuilder.build(ResteasyClientBuilder.java:422)

[2019-10-27 16:17] sijie commented on #5252
@tangxusc there was actually a proposal I sent to cloud events a year ago. we can pick it up again. also if you are interested in contributing this, you are very welcome to do so.

[2019-10-27 16:26] sijie commented on #5262
@JointHero

what is the retention for your topic? did you set the data retention to long enough so that the data will be kept in Pulsar?

[2019-10-27 16:28] sijie commented on #5269
@tuteng +1 can you try to do what you suggested?

[2019-10-27 16:29] sijie commented on #5274
@volfco you might check out the replicated subscription introduced in 2.4.0. that can potentially solve you problem.

[2019-10-27 16:33] sijie commented on #5285
@cavanaug

As what Matteo pointed out, the serialization and deserialization are only done at the client side. Brokers only deal with the schema definition and validation. So adding a new type is trivial if we are able to get the schema definition. I am not familiar with flatbuffer. but if there is a way to get schema definition, we can easily add it.

[2019-10-27 16:34] sijie commented on #5287
@zymap can you please help with this question? If this is not documented, can you work with @Jennifer88huang or @Anonymitaet to add it?

[2019-10-27 16:35] sijie commented on #5294
@Loghijiaha Can you provide the error messages you encountered when you ran the commands?

[2019-10-27 16:37] sijie commented on #5300
@tooptoop4 it seems that you attempted to query topics without schema. The presto integration didn't handle topics without schema. There is a fix in master (will be released 2.5.0) to handle topics without schema.

[2019-10-27 16:38] sijie commented on #5304
@vl185050 can you provide more information about how do you configure the certificates file?

[2019-10-27 16:39] sijie commented on #5309
@rocketraman your understanding is correct. Can you submit a pull request for it?

[2019-10-27 16:40] sijie commented on #5309
/cc @Jennifer88huang @Anonymitaet

[2019-10-27 16:41] sijie commented on #5310
@codelipenghui @congbobo184 this is a good feature to add to DLQ

[2019-10-27 16:43] sijie commented on #5311
@codelipenghui @wolfstudy can you help with this issue?

[2019-10-27 16:46] sijie commented on #5325
yeah I think @stupidusername already provided the right solution

[2019-10-27 16:47] sijie commented on #5326
@hanbo1990 yeah, this should be simple fix. do you want to try to make a contribution to this?

[2019-10-27 16:49] sijie commented on #5345
@Anonymitaet was this fixed?

[2019-10-27 16:50] sijie commented on #5346
@ccronemberger did you change standalone.conf (which is the right conf used by pulsar standalone)?

[2019-10-27 16:53] sijie commented on #5348
@liangyuanpeng it seems that you are using the truststore as a keystore. Can you double check if you are using the right keys?

[2019-10-27 16:58] sijie commented on #5368
@Jennifer88huang I think @tuteng was looking into fixing the API generation. Can you work with him on this?

[2019-10-27 16:59] sijie commented on #5370
@candlerb the presto version was just updated recently in master.

[2019-10-27 17:01] sijie commented on #5373
@ronaldofreitas Can you try to start with `bin/pulsar standalone -nss`?

[2019-10-27 17:04] sijie commented on #5383
@addisonj

are you saying this is still a problem in master?

[2019-10-27 17:08] sijie commented on #5393
@xujianhai666 Can you provide more information?

[2019-10-27 17:10] volfco commented on #5274
@sijie I'll try that tomorrow and let you know if it meets my need. I didn't see that in my search of the docs

[2019-10-27 17:11] sijie commented on #5396
We also found some other inconsistencies around authorization. @wolfstudy and @zymap are working on submitting a PIP to improve it. this can be included as well.

@wolfstudy @zymap please take a look at this issue and include it in your PIP

[2019-10-27 17:13] sijie commented on #5402
@Anonymitaet @Jennifer88huang please help with this issue.

[2019-10-27 17:22] sijie commented on #5447
@svenhornberg there is a discussion in BEAM mailing list. We will collaborate with beam community on adding a pulsar connector in BEAM repo.

[2019-10-27 17:25] sijie commented on #5433
yes.

open is called once when an instance of sink connector is initialized.

close is called when an instance of sink connector is closed. the instance is closed when the instance is moving from one function worker to another function worker, or a function worker running the instance is shutting down.

That's possible. If you configure the parallelism to be more than the number of function worker

[2019-10-27 17:28] sijie commented on #5430
@fhalim for the integration with Flink 1.9, you might checkout this out : https://github.com/streamnative/pulsar-flink

We are working with Flink community at pushing this new connector back to upstream Flink repo. There is a FLIP for it : https://cwiki.apache.org/confluence/display/FLINK/FLIP-72%3A+Introduce+Pulsar+Connector

[2019-10-27 17:31] sijie commented on #5454
@tuteng I suspected the problem from the schema uploaded by python client. Can you try to reproduce the problem using the example provided by @jm7647 ?

[2019-10-27 17:32] sijie commented on #5452
this is fixed by #5456

[2019-10-27 17:32] #5452 closed

[2019-10-27 18:27] candlerb commented on #5370
Thanks!

I can't see the commit which does this, and [pulsar-sql/presto-distribution/pom.xml](https://github.com/apache/pulsar/blob/master/pulsar-sql/presto-distribution/pom.xml) still says `<presto.version>0.206</presto.version>`, but I'll test again when the next pulsar release comes out.

[2019-10-27 20:07] hanbo1990 commented on #5326
Sure, I will do it.

[2019-10-27 20:27] addisonj commented on #5383
I haven't validated for sure... but based on where the thread was left dangling it *could* still be a problem. Specifically, here, https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java#L908, it is still calling to resolve a future without a timeout, rather than composing it together into the future chain.

[2019-10-27 22:44] limadelrey opened #5474 "Support CDC Connector for MongoDB"
At this moment, Apache Pulsar's [documentation](https://pulsar.apache.org/docs/en/io-cdc/) on CDC Connectors states the following information:

However, there isn't any available option to capture change logs on MongoDB instances.

Is it on Apache Pulsar's roadmap? If so, [Debezium's Connector for MongoDB](https://debezium.io/documentation/reference/1.0/connectors/mongodb.html) could be supported.

[2019-10-27 23:29] fhalim commented on #5430
@sijie thanks so much for the information. I did not see any artifacts for `pulsar-flink-connector` at https://dl.bintray.com/streamnative/maven/io/streamnative/connectors/, so incorrectly assumed that the project was not actively developed. I'll build the library locally and use it for now. I'll close this issue as `pulsar-flink-connector` is the future.

[2019-10-27 23:29] #5430 closed

[2019-10-28 00:15] ccronemberger commented on #5346
Hi,
Yes, I have changed all places were I found port 2181. I will double check anyway.
Regards,    Constantino

Enviado do Yahoo Mail no Android

  <div>Em dom, 27 27e out 27e 2019 às 13:51, Sijie Guo</div><div><notifications@github.com> escreveu:</div>
@ccronemberger did you change standalone.conf (which is the right conf used by pulsar standalone)?

—
You are receiving this because you were ment

[2019-10-28 01:11] Jennifer88huang commented on #5368
@sijie Sure.

[2019-10-28 01:14] Jennifer88huang commented on #5402
Duplicate with https://github.com/apache/pulsar/issues/5425.
A contributor named `gm7y8` is fixing it.

[2019-10-28 01:15] Jennifer88huang commented on #5402
@kevenYLi Thank you very much for raising the issue, @gm7y8 is fixing it in #5425.
So I'll close this issue currently.

[2019-10-28 01:15] #5402 closed

[2019-10-28 01:27] Anonymitaet commented on #5345
@sijie Not yet, I'll fix it.

[2019-10-28 02:06] sijie commented on #2719
@wolfstudy any progress on this issue?

[2019-10-28 02:07] sijie commented on #2792
This is already supported in latest master.

[2019-10-28 02:07] #2792 closed

[2019-10-28 02:08] sijie commented on #3799
Closed this issue since the problem was found.

[2019-10-28 02:08] #3799 closed

[2019-10-28 02:09] sijie commented on #3804
@MarvinCai Are you working on this issue already?

[2019-10-28 04:07] Jennifer88huang opened #5475 "Doc display issue on message deduplication page"
**Describe the bug**
There are some display issues at http://pulsar.apache.org/docs/en/cookbooks-deduplication/
See the following images
![image](https://user-images.githubusercontent.com/47805623/67651354-8ccc3e80-f97b-11e9-91d9-bdde4a990b3f.png)

[2019-10-28 04:11] sijie opened #5476 "Message deduplication is not well handled when batching is enabled with external provided sequenceId"
**Describe the bug**

Current implementation of Pulsar producer doesn't check the sequenceId when adding messages to a batch container. That results in violations to idempotent producing with external sequenceId.

**To Reproduce**

- provide 10 message with sequenceId from 0-9
- provide 10 message with sequenceId from 0-9 again
- flush the producer
- these 20 messages will be received by the consu

[2019-10-28 04:56] hrsakai commented on #5387
Fixed by https://github.com/apache/pulsar/pull/3613

[2019-10-28 04:56] #5387 closed

[2019-10-28 05:17] jiazhai commented on #5349
will look into it.

[2019-10-28 06:11] jiazhai commented on #5365
will look into it.

[2019-10-28 09:11] #5349 closed

[2019-10-28 12:36] limadelrey opened #5480 "CDC Debezium Connector is generating unwanted topics"
When using CDC Debezium Connector with PostgreSQL we need to specify which tenant, namespace and topic we're using to persist change logs. However, Debezium is generating unwanted topics on both specified and "public" tenants.

I'm using the following configurations in order to create a CDC Source Connector:

[code]

What I would expect to see the generation of two topics on the tenant/namespace c

[2019-10-28 12:36] sijie commented on #5430
@fhalim ah, I don't think we have ever uploaded the artifacts to our maven repo. The plan is to push the connector to upstream Flink repo. So both Flink and Pulsar communities can work together to provide the best connector for the users who use Pulsar and Flink. For now, if you are interested in trying out the Pulsar-Flink connector, you can clone the repo and build the connector yourself.

[2019-10-28 12:38] sijie commented on #5383
hmm :( are you working on a pull request to fix it?

[2019-10-28 12:40] sijie commented on #5370
@candlerb ah sorry. the pull request is not merged yet. https://github.com/apache/pulsar/pull/5386

[2019-10-28 12:48] jiazhai commented on #5365
@candlerb , have you tried `read_compacted`? it is defined as this in the code:
[code]

[2019-10-28 13:00] limadelrey opened #5481 "CDC Debezium Connector isn't allowing to specify replication slot name"
I think that it's safe to say that Apache Pulsar has multi-tenancy as a first-class citizen. However, when using it with CDC PostgreSQL Debezium Connector we actually have a issue that isn't allowing to separate data from different tenants.

Most companies use a schema-per-tenant approach when it comes to multi-tenancy so it is desirable to have a source connector for each schema. However, when us

[2019-10-28 13:03] rocketraman commented on #5309
Pull request submitted.

[2019-10-28 13:10] candlerb commented on #5365
Yes I had already tried it, and it fails.

Code:

[code]

Exception:

[code]

This is with `pulsar-client (2.4.1)`

[2019-10-28 13:16] candlerb commented on #5365
I notice in `pulsar-client-cpp/python/pulsar/__init__.py` that `subscribe` has this option:

[code]

but `create_reader` does not:

[code]

But it does create a ReaderConfiguration:

[code]

I think it's just missing an argument to pass on.  (Or maybe it should have `**kwargs` and pass them all?)

[2019-10-28 13:27] candlerb commented on #5365
I made a fix, it's pretty simple (PR to follow).  However I spotted another problem:

[code]

In the code you posted before, should

[code]

be changed to

[code]

?  Or should the python code be changed to use `message_listener` instead?

[2019-10-28 13:45] candlerb opened #5484 "Python API: create_reader() argument `reader_listener` causes exception"
**Describe the bug**
Python API describes option `reader_listener` but it causes an exception when used.

**To Reproduce**
Steps to reproduce the behavior:

[code]

Generates the following exception:

[code]

**Expected behavior**
To configure reader successfully

**Screenshots**
N/A

**Desktop (please complete the following information):**
N/A

**Additional context**

Issue separated out from #53

[2019-10-28 14:59] tuteng commented on #5480
Please set topicName

[code]

[2019-10-28 16:16] #5365 closed

[2019-10-28 16:33] addisonj commented on #5383
Not at the moment, trying to get my other PRs updated and merged. Should be fairly small though

[2019-10-29 01:17] jiazhai commented on #5365
Thanks @candlerb for the verify.
And Yes, Your change is needed.
[code]
👍

[2019-10-29 01:23] jiazhai commented on #5484
Thanks @candlerb for the help. Nice reporting and analysis for this issue, will you provide a PR for the fix?

[2019-10-29 01:59] rec7y33 commented on #5418
Hello, I have a similar problem/ error following this tutorial : https://pulsar.apache.org/docs/en/io-quickstart/#submit-a-jdbc-sink

When I try to submit a jdbc sink, the following error occurs:

01:37:38.550 [function-timer-thread-90-1] INFO  org.apache.pulsar.functions.runtime.ProcessRuntime - Creating function log directory /pulsar/logs/functions/public/default/pulsar-mysql-jdbc-sink
01:37:38.

[2019-10-29 03:00] tuteng commented on #5418
Please try use localrun to start and look at broker's log.

[code]
References: http://pulsar.apache.org/docs/en/next/io-debug/#debug-in-localrun-mode

[2019-10-29 03:00] tuteng commented on #5454
Please try use localrun to start and look at broker's log.

[code]
References: http://pulsar.apache.org/docs/en/next/io-debug/#debug-in-localrun-mode
@jm7647

[2019-10-29 03:29] rec7y33 commented on #5418
This is the log:

Warning: Nashorn engine is planned to be removed from a future JDK release
Warning: Nashorn engine is planned to be removed from a future JDK release
11:13:48.959 [main] INFO  org.apache.pulsar.functions.utils.io.ConnectorUtils - Searching for connectors in /Users/meta/Documents/apache-pulsar-2.4.1/connectors
11:13:49.222 [main] INFO  org.apache.pulsar.common.nar.NarClassLoader -

[2019-10-29 03:42] rec7y33 commented on #4386
@phuongtailtranminh, Did you fix the problem?

[2019-10-29 05:47] MarvinCai commented on #3804
@sijie  I was new to BK code base and was reading the some LeadferHandler and DL codes tog figure out what should be change, have a simple [doc](https://docs.google.com/document/d/1_GgFugybNQXxxvbZnPYw6PmU30NSFogEDrtYqF68f0w/edit?usp=sharing) about what I think may need to change.
I haven't start writing any code yet. If someone with more experience with BK plan to work on it then I'm fine. Else I

[2019-10-29 08:54] wolfstudy commented on #5109
@LeisureChou

In Pulsar Functions runtime, we use `protobuf-shaded`, but when you use `ProtobufSchema`, you use a non-shaded protobuf, which makes the two incompatible.

[code]

[2019-10-29 09:57] Jennifer88huang opened #5493 "[website] Broken links to some download packages"
**Describe the bug**
When I check the Pulsar website with link check tool, I've found some broken links to download packages. I've fixed the ones i could. Could someone give some help on the ones with red boxes? The following is the report.
![image](https://user-images.githubusercontent.com/47805623/67756694-6be81400-fa75-11e9-9e3d-f66fefb33ad0.png)

[2019-10-29 09:58] Jennifer88huang commented on #5493
@tuteng could you give some help? Thank you.

[2019-10-29 12:11] jiazhai commented on #3414
close for dup

[2019-10-29 12:11] #3414 closed

[2019-10-29 13:15] jiazhai commented on #5425
@gm7y8, since it's some kind of urgent, @Jennifer88huang is handling this issue.

[2019-10-29 14:05] PierreZ opened #5495 "Add a reverse mapping from role to namespaces"
Hi!

**Is your feature request related to a problem? Please describe.**
I'm working on KoP, and I'm currently implementing security on it. I'm currently struggling to list all topics according to a *Pulsar role*.

Part of the Kafka handshake is called the Metadata request:

Most of the client implementation are expecting to retrieve all available topics by sending a MetadataRequest with an empty l

[2019-10-29 14:29] xujianhai666 commented on #5393
@sijie same work for kafka: https://github.com/envoyproxy/envoy/pull/8188/files.  This is just layer 4 impl, layer 7 is working. I think this feature for pulsar is beyond my effort.

[2019-10-29 14:46] jm7647 commented on #5454
**Tried to do localrun. Below is result from main broker log.**
_(Notice "Closing consumer: 0" - next "Closing consumer: 1" - it will continue in a loop)_

   14:25:12.806 [pulsar-io-50-3] INFO  org.apache.pulsar.broker.service.ServerCnx - New connection from /135.25.67.53:33764
14:25:12.810 [pulsar-io-50-3] INFO  org.apache.pulsar.broker.service.ServerCnx - [/135.25.67.53:33764][persistent://publ

[2019-10-29 14:59] jiazhai commented on #5495
Thanks @PierreZ . This would also be useful for admin and other protocol implementations.

[2019-10-29 15:01] sijie commented on #5393
@xujianhai666 I see. so it seems like a feature request adding Pulsar filter in envoy. The work seems to have be done at Envoy side though.

[2019-10-29 15:01] #5484 closed

[2019-10-29 15:30] PierreZ commented on #5495
Thanks @jiazhai, where do you think I should put the implementation? I am hesitating between:

* PulsarAuthorizationProvider
* NamespacesBase
* NamespaceService

[2019-10-29 20:35] volfco commented on #5274
@sijie I've gotten a MVP cluster setup between two DCs that are ~40ms apart with replication between them.

This is my code (I'm horrible at java):
[code]

Reading PEP-33, I'm operating under the assumption if I run one consumer reading from AUS, that consumer dies, and I start one reading from IAD a few seconds later, I shouldn't encounter many duplicate messages.

This is not what I'm seeing. I

[2019-10-29 20:49] merlimat commented on #5495
I think that most AuthZ implementation won't be able to fulfill that info though

[2019-10-29 20:50] merlimat commented on #5274
Keep in mind that the subscription state in asynchronously replicated at configurable interval.

Take a look at broker.conf:

[code]

[2019-10-29 20:52] merlimat commented on #5274
Ok, missed that you mentioned you're waiting few secs..

[2019-10-29 20:52] merlimat commented on #5274
Can you check on the broker logs if it's enabling the replicated subscription on that topic?

[2019-10-29 20:59] volfco commented on #5274
@merlimat These logs tel me that replication has been enabled:

[code]

[2019-10-29 21:27] merlimat commented on #5274
Ok, that doesn't look correct then. Can you enable debug logs on `org.apache.pulsar.broker.service.persistent.{ReplicatedSubscriptionsController,ReplicatedSubscriptionSnapshotCache,ReplicatedSubscriptionsSnapshotBuilder}`?

Also there are a couple of metrics in Prometheus:
 * `pulsar_replicated_subscriptions_pending_snapshots`
 * `pulsar_replicated_subscriptions_snapshot_ms`

[2019-10-29 21:43] volfco commented on #5274
@merlimat Sure.

[code]

log4j2.yaml config:
[code]

[2019-10-30 01:40] #5309 closed

[2019-10-30 06:51] tuteng commented on #5454
Thank you, I have reproduced this problem locally, and I am looking at how to fix it.

[2019-10-30 07:52] tuteng commented on #5493
I think this css file https://github.com/cckellogg/incubator-pulsar/blob/26d7dfbc651353f91eea4ecf0400685c331eaf5c/site2/website/static/css/code-blocks-buttons.css  can be added, but some download links I tested are normal.
https://archive.apache.org/dist/incubator/pulsar/pulsar-1.20.0-incubating/apache-pulsar-1.20.0-incubating-src.tar.gz
https://archive.apache.org/dist/incubator/pulsar/pulsar-1.19