[2022-06-02 15:53] frankjkelly opened #15905 "[Doc] Threshold Shedder documentation - need to add documentation on the individual weights"
### What issue do you find in Pulsar docs?

In https://pulsar.apache.org/docs/next/administration-load-balance#thresholdshedder

1) `LocalBrokerData#getMaxResourceUsageWithWeight` should be a link or in different font. In addition so should
`loadBalancerHistoryResourcePercentage` and `loadBalancerBrokerThresholdShedderPercentage`

2) "The weights for each resource are configurable." - it would be

[2022-06-02 16:34] MichaelDeSteven opened #15906 "[Doc] website about pulsar java client"
### What issue do you find in Pulsar docs?

![image](https://user-images.githubusercontent.com/51652084/171679391-841dc564-7344-444c-869e-9e60bc619a47.png)

### What is your suggestion?

plz make the form right.

### Do you have any references?

[Pulsar Clients](https://pulsar.apache.org/zh-CN/docs/next/client-libraries-java#configure-messages)

### Would you like to fix this issue?

I would like

[2022-06-02 17:31] zbentley commented on #15401
Hmmm, nope; I'm now able to reliably induce this issue on 2.10. Nothing's bound to Pulsar's ports, but it fails to come up.

The logs from a recent start attempt are attached.
[pulsar_start.log](https://github.com/apache/pulsar/files/8826200/pulsar_start.log)

[2022-06-02 17:34] lhotari commented on #15689
The `java.lang.OutOfMemoryError: test` seems to leak from
https://github.com/apache/pulsar/blob/dc602c04a6daf55e7391cda3e9f9e3c2850db815/pulsar-client/src/test/java/org/apache/pulsar/client/impl/BatchMessageContainerImplTest.java#L41-L44 . There was a change in this area in #14250. @nicoloboschi Is this going to be resolved with #15513 ?

[2022-06-02 17:55] michaeljmarshall commented on #13342
My fix for https://github.com/apache/pulsar/pull/12846 was in 2.8.2, and this issue is opened against 2.8.1. Also note that the go client started using `epoch` in the producer connection logic in https://github.com/apache/pulsar-client-go/pull/582. That went in 0.7.0, which is the version being used here https://github.com/apache/pulsar-client-go/issues/676.

I think we need to reproduce this agai

[2022-06-02 20:01] lhotari opened #15912 "[Cli tools] Add command line option for configuring the memory limit"
**Is your enhancement request related to a problem? Please describe.**
Cli tools such as `pulsar-perf` don't contain a way to configure the Pulsar client memory limit.

**Describe the solution you'd like**
Cli tools should have a way to configure the Pulsar client memory limit.

**Additional context**
See https://github.com/apache/pulsar/pull/15748#issuecomment-1145013379

[2022-06-02 20:04] lhotari commented on #15793
There was a bad test that caused the problems. #15911 fixes the issue.

[2022-06-02 20:05] lhotari commented on #15897
There was a bad test that caused the problems. #15911 fixes the issue.

[2022-06-02 20:13] lhotari opened #15913 "Flaky-test: GeoReplicationTest.testTopicReplication"
GeoReplicationTest.testTopicReplication is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/6715214224?check_suite_focus=true#step:12:15869)

[code]

[2022-06-02 21:47] jabbaugh commented on #15152
We are seeing the same issue.
The steps to produce for us:
- Actively publish to the partitioned topic
- Run `bin/pulsar-admin` topics partitioned-stats {TOPIC}`

[2022-06-02 22:06] fistan684 commented on #15152
We recently upgraded to 2.10 as well and have hit this issue. When we turn off the producers we can correctly get partitioned stats but with any level of input the command fails. We are running these commands from the brokers (via CLI) and from the java client. We have business logic, alerts, and scaling around the backlog amount so this is definitely causing some issues for us. We're also using t

[2022-06-03 00:52] #15689 closed

[2022-06-03 00:52] #15793 closed

[2022-06-03 00:52] #15897 closed

[2022-06-03 01:23] Technoboy- commented on #15881
You can use topics status to verify this : https://pulsar.apache.org/docs/next/admin-api-topics
[code]

[2022-06-03 01:59] jabbaugh commented on #15152
Hitting the broker with curl (/admin/v2/persistent/{TENANT}/{NAMESPACE}/{TOPIC}/partitioned-stats?perPartition=false&getPreciseBacklog=false&subscriptionBacklogSize=false) does give us:
`(was java.lang.NullPointerException) (through reference chain: org.apache.pulsar.common.policies.data.stats.PartitionedTopicStatsImpl["publishers"])`

[2022-06-03 02:39] michaeljmarshall commented on #15152
@jabbaugh - that's a very helpful error message. I see that PIP 79 modified the partitioned topic stats: https://github.com/apache/pulsar/wiki/PIP-79%3A-Reduce-redundant-producers-from-partitioned-producer#change-partitionedtopicstats-about-producer. That PIP only just took affect in 2.10. I'm taking a closer look at that now.

[2022-06-03 03:45] gaoran10 commented on #15516
Left a comment in discuss email list.

[2022-06-03 03:47] gaoran10 commented on #15516
Maybe the config `connectionMaxIdleSeconds` could be as the switch, disable this feature if the `connectionMaxIdleSeconds` is a negative value.

[2022-06-03 03:59] liangyuanpeng commented on #15871
topic of `consumer-partition-0` and `consumer`, which one is you use when you request for the topic?

[2022-06-03 05:03] michaeljmarshall commented on #15152
Quick update: I reproduced this behavior using a small standalone cluster on my machine.

1. Run `bin/pulsar standalone`.
2. Run `bin/pulsar-admin topics create-partitioned-topic -p 1 test` (you only need a single partition).
3. Start two producers that will maintain an active connection `bin/pulsar-perf produce -r 1 test`. (I didn't see any errors when connecting a single producer.)
4. Run `bin/p

[2022-06-03 05:30] truong-hua commented on #15881
@Technoboy-

There is no backlog and no message published for a while and the topic is still there. Can I force the inactive topic cleaner to run now?

[code]

[2022-06-03 05:34] truong-hua commented on #15881
FYI, this is the inactiveTopicPolicies configured at that namespace

[code]

[2022-06-03 05:37] michaeljmarshall commented on #15152
Looks like this is fixed by https://github.com/apache/pulsar/pull/15502, which is already cherry picked to `branch-2.10`, so it will be released in version 2.10.1. I am going to close this since it has a resolution.

Here is some additional research I was about to comment before finding the above PR:

The root cause is how the `TopicStatsImpl#getPublishers` method is implemented. I modified test `

[2022-06-03 05:37] #15152 closed

[2022-06-03 05:46] michaeljmarshall commented on #15471
@Shoothzj - it would have been really helpful if your screen shot was actually text so that it could be indexed and searchable. I would have found this issue much sooner when debugging #15152, which was the same issue. I think it would be worth discussing the issue wording to remove "screenshot" since copied and pasted logs are much more valuable.

[2022-06-03 05:57] lhotari opened #15916 "Flaky-test: AdminApiTransactionTest.testGetPendingAckInternalStats"
AdminApiTransactionTest.testGetPendingAckInternalStats is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/6713195445?check_suite_focus=true#step:10:2573)

[code]

[2022-06-03 05:57] lhotari commented on #15916
I'll fix this.

[2022-06-03 06:42] jaak-pruulmann-sympower commented on #2952
Any news here? I have topics where there are ~10 different roles with different permissions. I manage them with pulsar terraform provider which basically does 10 POSTs in a row. In a new cluster with no load it was almost certain that already the second POST would fail. Also, the terraform provider uses internally pulsarctl which does not have any retry mechanism, although it could, at least while

[2022-06-03 07:03] #15750 closed

[2022-06-03 07:03] ssstopalle commented on #14547
Any workaround or resolution for this issue? I'm seeing the same issue

[2022-06-03 07:29] ssstopalle commented on #14547
This was due to cert-manager version changes, 1.5.4 version of cert-manager only works with the current helm charts.

[2022-06-03 08:17] lhotari commented on #14540
another one in https://github.com/apache/pulsar/runs/6721616096?check_suite_focus=true#step:10:1241

[code]

[2022-06-03 08:43] Gleiphir2769 commented on #15871
Tnx, I have get the right response using  `consumer-partition-0` .

[2022-06-03 08:43] #15871 closed

[2022-06-03 09:38] lhotari opened #15920 "Flaky-test: PartitionedSystemTopicTest.cleanup"
PartitionedSystemTopicTest.cleanup is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/6721616096?check_suite_focus=true#step:10:1876)

[code]

[2022-06-03 09:40] lhotari commented on #15920
PulsarClientImpl.close shouldn't throw an exception when closing producers and consumers times out.

[2022-06-03 10:04] eolivelli commented on #15902
I would not go too much into the implementation details in the PIP like `TransformContext`

I would only cite the steps, the configurations and the first operations that will be available.
the TransformContext without the PR is very hard to understand and actually, it is a implementation detail, hidden to the users and we will change it in the future as needed.

I would add to "Reject Alternatives

[2022-06-03 10:18] Jason918 commented on #15225
The tuning work mostly includes two aspects, one is broker configuration, like turn-off topic level metrics. The other is solving some OOM issues in bookie(some minor code optimization).

Broker use 16C32G, and bookie use 16C48G. One cluster contains 10 brokers and 5 bookies and can host 1.5 million topics. Number of clusters can scale out with pulsar-discovery.

Actually we did some optimization

[2022-06-03 10:25] lhotari commented on #6298
A recent failure: https://github.com/apache/pulsar/runs/6723820880?check_suite_focus=true#step:11:52
[code]

[2022-06-03 11:39] lhotari commented on #6298
I pushed a fix in #15924

[2022-06-03 13:20] boatrainlsz opened #15925 "downloads page link in documentation is not correct"
### What issue do you find in Pulsar docs?

The downloads page link in [this guide](https://pulsar.apache.org/zh-CN/docs/next/getting-started-standalone/#install-pulsar-standalone) can not be accessed:
![image](https://user-images.githubusercontent.com/18243785/171862060-ddfaeb58-e8d6-4d1b-aaa3-a3b1bed544d6.png)

### What is your suggestion?

fix it

### Do you have any references?

https://pulsar

[2022-06-03 14:31] boatrainlsz commented on #15830
@warriorsfly maybe you should try a jdk that lower than 17, see [this](https://github.com/nroduit/Weasis/issues/201), after changing to jdk11, it works fine:
![image](https://user-images.githubusercontent.com/18243785/171874843-80a358dd-0ba7-4a96-8ef6-bbefd7d7142c.png)

[2022-06-03 15:03] cbornet commented on #15902
Thanks Enrico. I did the updates.

[2022-06-03 15:25] fistan684 commented on #15152
Thank you @michaeljmarshall  - appreciate the thorough review. :)

[2022-06-03 19:26] grahambunce opened #15927 "[Doc] Get Started in Kubernetes Step 4 - Use Pulsar Manager to manage the cluster is incorrect"
### What issue do you find in Pulsar docs?

Follow instructions in this URL:

https://pulsar.apache.org/docs/getting-started-helm/#step-4-use-pulsar-manager-to-manage-the-cluster

The Helm script does not appear to install the Pulsar Manager nodes. Therefore Step 4 is not possible.

### What is your suggestion?

Fix the script to install pulsar manager as described or change the instructions in st

[2022-06-03 20:08] #6298 closed

[2022-06-03 23:03] #15920 closed

[2022-06-03 23:13] #15854 closed

[2022-06-04 02:45] boatrainlsz commented on #15882
@vamsiprasanth-narvar could you please kindly provide the core dump file and error report file?
![image](https://user-images.githubusercontent.com/18243785/171975588-93874e7a-8484-4d4d-8682-839b8d2ee31c.png)

[2022-06-04 05:55] Technoboy- commented on #15891
Can you search for any other error logs in this broker?

[2022-06-04 05:56] Technoboy- commented on #15894
Sure

[2022-06-04 07:36] #15916 closed

[2022-06-04 12:15] Technoboy- commented on #15881
Ah, sorry, I mistakenly thought it was topic level. Could you use the CLI to get the topic level policy ?
[code]

[2022-06-04 15:12] horizonzy opened #15930 "Etcd and Zk metadata store support transaction operation."
At now, etcd and zk metadata store already support batch operation, it use etcd and zookeeper transaction feature to implements.

But in the batch operation, if one of this batch failed, the others not failed operation will retry, so it can't support transaction operation.

In some case, we need transaction to support new feature.

[2022-06-04 18:05] poorbarcode commented on #15516
Good idea. I changed it. Thanks @gaoran10

[2022-06-04 18:36] dave2wave commented on #15925
The `download from the Apache mirror` is also incorrect. This looks like a Docusaurus problem.

[2022-06-04 18:49] dave2wave commented on #15813
I agree with @MarvinCai - this is an incomplete part of the new website. These issues may require a more general discussion on the dev@pulsar mailing list so that we can find consensus on (a) the most important parts to complete, and (b) the best approach to fixing the issues. One thing for sure the problems here would not be as critical if site search was fixed.

[2022-06-04 18:52] dave2wave commented on #15813
@Anonymitaet - Who made the decision to stop maintaining this chapter?

[2022-06-05 03:04] boatrainlsz opened #15935 "Compiling pulsar-client-cpp on Ubuntu Server 20.04 did not work as intended"
**Describe the bug**
Compiling pulsar-client-cpp on Ubuntu Server 20.04 did not work as intended

**To Reproduce**
Steps to reproduce the behavior:
1. follow the [compile instruction](https://github.com/apache/pulsar/tree/master/pulsar-client-cpp#compile-on-ubuntu-server-2004)
2. the first step works fine
3. the second and third step reports a error: `cp: cannot stat '*.a': No such file or directo

[2022-06-05 04:11] warriorsfly commented on #15830
Hi,Dragon Boat Festival passed now. I tested, you are right, java11 works fine.
Em,at first my java version is 18(home-brew  upgraded),with the error info ，after reading the documents(see [this](https://pulsar.apache.org/docs/getting-started-standalone) in the get started,reinstall java at version 17, still error, so at that time, I think I don't need to test java11, because if it works, means the

[2022-06-05 11:22] #15894 closed

[2022-06-05 13:18] boatrainlsz commented on #15844
I can fix this, I'm working on it

[2022-06-06 01:32] liangyepianzhou commented on #15516
Left a comment in discuss email list:)

[2022-06-06 02:24] Anonymitaet commented on #15813
Docs are generated from code files as HTML pages (as below) rather than manually maintained in .md files, which is a more efficient and scalable way.

- https://pulsar.apache.org/tools/pulsar-admin/
- https://pulsar.apache.org/api/
- https://pulsar.apache.org/admin-rest-api/?version=master

[2022-06-06 02:29] Anonymitaet commented on #15892
@azhsmesos thanks! Assigned. Looking forward to your contribution!

[2022-06-06 02:42] Anonymitaet commented on #15925
@urfreespace is this a Docusaurus issue?

The links in English docs work well but Chinese do not.

[2022-06-06 02:45] Anonymitaet commented on #15906
Similar case: https://github.com/apache/pulsar/issues/15925#issuecomment-1146977584

[2022-06-06 06:49] RobertIndie commented on #14540
Another one : https://github.com/apache/pulsar/runs/6750419408?check_suite_focus=true#step:10:2742

[2022-06-06 06:51] RobertIndie commented on #15392
Another failure: https://github.com/apache/pulsar/runs/6750702609?check_suite_focus=true

[2022-06-06 08:00] liangyepianzhou commented on #15927
@zymap Could you please take a look at this Issue？

[2022-06-06 08:17] horizonzy commented on #13526
@wuzhanpeng @eolivelli @dlg99 Hi all, we are doing the work at now. There is the new design and the pr already complete.
https://github.com/apache/pulsar/pull/15834
[SNIP45_Introduce two phase deletion protocol .md](https://github.com/apache/pulsar/files/8842883/SNIP45_Introduce.two.phase.deletion.protocol.md)

[2022-06-06 08:26] zymap commented on #15927
Looks like the pulsar manager [disabled by default](https://github.com/apache/pulsar-helm-chart/blob/master/charts/pulsar/values.yaml#L128), could you please enable it and then retry the steps?

[2022-06-06 08:27] ghost opened #15948 "msgbacklog is not accurate between shutdowns"
**Describe the bug**
the msgBacklog is not accurate after restarts and request msgBacklog for subscription even specify --get-precise-backlog

**To Reproduce**
Steps to reproduce the behavior:
1. get msgBacklog by 'pulsar-admin topics partitioned-stats --get-precise-backlog --get-subscription-backlog-size "
alias ts="pulsar-admin topics stats --get-precise-backlog --get-subscription-backlog-size'

[2022-06-06 11:14] grahambunce commented on #15927
@zymap maybe so, but then the docs are wrong which was the reason why I raised the ticket 😀

they should list the steps to enable this setting when you invoke the helm script

[2022-06-06 11:30] catsun26 opened #15952 "pulsar-broker's log: PulsarServiceNameResolver - Invalid service-url"
Describe the bug
My puslar cluster is a two place multi center cluster. It is found that only this node has the following log errors. All other nodes are normal. The whole cluster is normal and the connectivity is normal. There is only one upgrade (2.8.0 to 2.8.1) between these nodes, and the physical network card is changed once

To Reproduce
19:15:33.422 [pulsar-web-40-5] ERROR org.apache.pulsar

[2022-06-06 11:32] nicoloboschi commented on #15952
it looks like you're missing a colon in the url protocol: `http//10.104.6.18:8080,10.104.6.23:8080,10.104.6.24:8080`

[2022-06-06 11:46] catsun26 commented on #15952
thks, Can you tell which service is connected to this configuration? My proxy has seen that the configuration is normal

[2022-06-06 11:52] catsun26 commented on #15952
From the point of time when the error occurred, it should be from the time when the monitoring was added. The pulsar admin namespaces list is used, but the monitoring value is normal, and the viewing configuration is normal.

[2022-06-06 17:11] #15900 closed

[2022-06-06 17:11] #15930 closed

[2022-06-07 00:42] merlimat opened #15954 "PIP-174: Provide new implementation for broker dispatch cache"
## Motivation

The current implementation of the read cache in the Pulsar broker has largely
remained unchanged for a long time, except for a few minor tweaks.

While the implementation is stable and reasonably efficient for typical workloads,
the overhead required for managing the cache evictions in a broker that is running
many topics can be pretty high in terms of extra CPU utilization and on t

[2022-06-07 00:58] zymap commented on #15927
Let's enable it in the examples values file. The minikube values file should enable all the features we have documented on the GetStarted page, because it is a demo project.

Would you like to contribute to fixing that? Enabling the pulsar-manager in the [minikube values](https://github.com/apache/pulsar-helm-chart/blob/master/examples/values-minikube.yaml). That should be an easy fix.

[2022-06-07 02:22] urfreespace commented on #15925
no, due to a multi-language build failure, I will fix it

[2022-06-07 02:40] azhsmesos commented on #15892
收到！

| |
11
|
|
***@***.***
|
签名由网易邮箱大师定制

On 06/6/2022 ***@***.***> wrote：

@azhsmesos thanks! Assigned. Looking forward to your contribution!

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you were mentioned.Message ID: ***@***.***>

[2022-06-07 02:54] lujiwen commented on #15152
Thank you @michaeljmarshall

[2022-06-07 04:45] #15832 closed

[2022-06-07 05:55] eolivelli commented on #15375
new stacktrace, based on 2.10

[2022-06-07 06:50] congbobo184 commented on #15375
@eolivelli, what version of brokers?

[2022-06-07 07:16] Anonymitaet opened #15958 "[feat][website] add badges to README"
Can we add some badges to `README`？

- https://docs.jupyter.org/en/latest/contributing/docs-contributions/doc-new-repos.html#badges-in-readme

<img width="894" alt="image" src="https://user-images.githubusercontent.com/50226895/172283585-feda8dca-1b6e-4824-bf74-ff8bcd23bba6.png">

- https://github.com/apache/pulsar/issues/15538#issuecomment-1126064195

[2022-06-07 07:23] eolivelli commented on #15375
I have branch-2.10 broker and 2.10.0 client (from our DataStax fork, but the code is the same).

This is the client
https://github.com/datastax/pulsar/tree/ls210_0.4

This is the broker
https://github.com/datastax/pulsar/tree/ls210_0.1

[2022-06-07 07:24] eolivelli commented on #15375
I am not able to reproduce this problem consistently, in happens only while running a very long suite of tests that takes 2 hours on CI (it is the JMS TCK) and the problem happens only once over 800 PulsarClient creations.

[2022-06-07 09:33] boatrainlsz opened #15959 "[Doc] The powered-by link in contributing page is broken"
### What issue do you find in Pulsar docs?

The powered-by link in[contributing page](https://pulsar.apache.org/contributing/) is broken, located at `Updating user logo` part:
![image](https://user-images.githubusercontent.com/18243785/172347852-e34a1272-e9f1-4eb6-9c1f-7e06744225c9.png)

### What is your suggestion?

I would suggest making a full check to all doc pages to avoid such problems:
#159

[2022-06-07 09:54] tal705 opened #15960 "initialize pulsar cluster metadata failed, can;t recognize ipv6 ip and port"
**Describe the bug**
when I build a new pulsar cluster, but initialize metadata failed, logs show an error that ipv6 ip is Invalid hostname.

logs (I use x to replace some character):
[code]

**To Reproduce**
Pulsar Version:2.9.2 (it use bookkeeper 4.14.4)
Zk can be connected.
Use Pulsar script `bin/pulsar`, then run command:
[code]

**Expected behavior**
A issue and PR has been push in apache/boo

[2022-06-07 11:35] Radiancebobo commented on #15948
What is your Pulsar version? I didn't reproduce the behavior in v2.9.2

[2022-06-07 12:42] eolivelli commented on #15560
I have one last comment:
"then delete it"

We cannot "delete it", at least we can ignore it, otherwise when you upgrade Pulsar the function won't start.
There are huge Pulsar multi-tenant clusters and we cannot force users to find all the instances of such functions and then upgrade the configuration.

[2022-06-07 14:26] lgxbslgx commented on #15776
@yebai1105 I read the log you provided and have no idea now. And I agree your opinion that such situation should be recovered by pulsar. Maybe we need other more experimented developers to fix it.

[2022-06-07 14:58] #15844 closed

[2022-06-07 19:25] lhotari commented on #15207
@heesung-sn Please review #15670 , that includes a Java 17 optimization, the usage of `-Xlog:async` .

[2022-06-07 19:31] lhotari commented on #9958
Will be addressed by "PIP-174: Provide new implementation for broker dispatch cache" , #15954 / #15955

[2022-06-07 22:22] merlimat opened #15966 "PIP-175: Extend time based release process"
## Motivation

In PIP-47 (https://github.com/apache/pulsar/wiki/PIP-47:-Time-Based-Release-Plan), we have adopted a time-based release plan. This was the first attempt at establishing a new principle on how releases should b

The main two benefits of this approach have been:

 1. Clarity for users and developers on when to expect a release
 2. Breaking a hard relationship between feature and relea

[2022-06-08 02:38] Anonymitaet commented on #15959
Hi @boatrainlsz thanks for your interest in fixing this issue.

The correct URL should be https://pulsar.apache.org/powered-by/ and https://github.com/apache/pulsar-site/blob/main/site2/website-next/data/users.js

And you can use https://www.drlinkcheck.com/ to check all URLs and fix invalid ones.

Look forward to your PR, thanks! 😊

[2022-06-08 05:25] ciiiii commented on #15565
Same question, this is the full log
[code]
env info:
[code]

[2022-06-08 06:05] ciiiii commented on #15565
Also in Linux:
[code]

[code]

[2022-06-08 06:18] boatrainlsz commented on #15959
Thanks for your information

[2022-06-08 06:30] shibd commented on #15560
Thank review. Agreed, I changed it.

[2022-06-08 07:46] pablopla opened #15972 "[Doc] docker improvments"
### What issue do you find in Pulsar docs?

1. The instructions on Docker hub and the Pulsar docs are different, one use volumes and the other mounts. In addition, Docker hub is missing the conf volume.
2. Both pages missing basic instruction how to modify the config (add a file named broker.conf under pulsarcof/broker.conf ...).
3. The container log is very noisy. For a new user like me it looks

[2022-06-08 07:51] leizhiyuan opened #15973 "LookupRequestSemaphore don't release when success"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. just invoke lookup some times.

**Expected behavior**
in lookup v2 and v1

[code]

only when exception, getLookupRequestSemaphore().release() when called

we need release when success.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop

[2022-06-08 07:53] leizhiyuan commented on #15973
https://github.com/apache/pulsar/pull/14188/files

[2022-06-08 09:21] BewareMyPower opened #15976 "[Python] Flaky-test: test_listener_name_client"
`test_listener_name_client` is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/6789857471?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-06-08 10:03] Nicklee007 opened #15978 "[bug][broker] The DEFAULT_NAR_EXTRACTION_DIR will cause NoClassDefFoundError"
**Describe the bug**
The  `DEFAULT_NAR_EXTRACTION_DIR = System.getProperty("java.io.tmpdir")` always use /tmp dir, os will auto cleanup unused file which is in  /tmp dir and unused in a few days. In this case, the protocol handler's .class file will be clean  and cause NoClassDefFoundError.

**Expected behavior**
The default  project tmp dir should be specified under the project home dir.

**Scree

[2022-06-08 11:29] lgxbslgx commented on #15935
Please note that the command `sudo cp *.a /usr/lib` only intends to copy the libs `*.a` (you just built) to the path `/usr/lib` so that you can use them in pulsar.

From your log, I kown that in your local env, the libs `*.a` after linking were put into path `/usr/src/gtest/lib` and `/usr/src/gmock/lib` instead of the source code root path `/usr/src/gtest` and `/usr/src/gmock`. So you need to use

[2022-06-08 13:04] pablopla opened #15981 "deb packages"
**Is your feature request related to a problem? Please describe.**
Installation and upgrades on bare metal using manual commands or Ansible can be greatly simplified using deb and rpm packages.
Compare for example the [Pulsar bare metal instructions](https://pulsar.apache.org/docs/next/deploy-bare-metal) to [redpanda](https://docs.redpanda.com/docs/quickstart/quick-start-linux/).
[code]

Packages

[2022-06-08 13:59] boatrainlsz commented on #15935
Thanks

[2022-06-08 14:33] codelipenghui commented on #15898
@GBM-tamerm You can't only have a key hash range [35891,35899] but don't have [0, 35890], [35900, 65535]. The key_shared consumer will not work for this case. If you only want to receive parts of messages, you can use Reader API with specific key hash range.

[2022-06-08 15:46] dave2wave opened #15984 "[Doc] The page https://pulsar.apache.org/api/ needs to be a true map into all api versions"
### What issue do you find in Pulsar docs?

It is very hard to find the versioned api docs - when you navigate to https://pulsar.apache.org/api/ you can only go one level down.

### What is your suggestion?

Instead of the httpd default index page there should be a resource js driven docusaurus page that provides mapping to almost all of these api docs

### Do you have any references?

https://pul

[2022-06-08 15:48] michaeljmarshall commented on #15984
Adding some context. There used to be a javascript program that was run as part of the website build and updated references so that they pointed to the correctly versioned docs. It appears that is broken at the moment.

[2022-06-08 16:04] michaeljmarshall opened #15985 "Add getLastMessageId feature to Python Client"
**Is your feature request related to a problem? Please describe.**
The `getLastMessageId` feature is available in the C++ client, but not in the python client.

**Describe the solution you'd like**
It'd be great if we can add the necessary python bindings to call the C++ client code.

[2022-06-08 17:39] nlu90 commented on #15902
I would suggest having some concrete implementations of the TransformFunction in a separate repo first instead of starting right in the main pulsar project.

[2022-06-09 02:12] BewareMyPower commented on #15985
I think it's a simple job because it can leverage the C++ reader's API directly.

[2022-06-09 02:18] TakaHiR07 opened #15992 "[AutoRecovery] keep rereplicate a ledger which is deleted"
**BUG REPORT**

***Describe the bug***

Our Production pulsar cluster is multiple nodes with  E-Qw-Qa(3-3-2), enabling auto-recovery by "./bin/bookkeeper shell autorecovery -enable", bookkeeper version is 4.14.1 . Now one bookie server is down, and cluster do autoRecovery. However, there is a ledger can not read by the other 2 ensemble, the error is both : Ledger 1294 not found (It seems the ledge

[2022-06-09 02:19] michaeljmarshall commented on #15985
@BewareMyPower - that's great! The C++ consumer (or possibly ConsumerImpl) has the specific method, so it doesn't even need to be switched between reader/consumer.

[2022-06-09 02:24] BewareMyPower commented on #14885
It's fixed by #15928.

[2022-06-09 02:24] #14885 closed

[2022-06-09 02:27] BewareMyPower commented on #14714
Another test failure

[code]

It looks like a problem related to the multi topic consumer.

[2022-06-09 03:12] michaeljmarshall commented on #15985
Here is a draft PR to resolve this issue: https://github.com/apache/pulsar/pull/15993. If it is really just that simple, I will probably go through and add several features that are currently present in the C++ client but missing in the Python client.

[2022-06-09 05:42] wuxuanqicn commented on #15896
On my local environment, RocksdbMetadataStore.java is the cause,  it is transaction lock timout with default value 1 second, and 60 seconds don't work on my environment either.
[code]

there are two plans i have,
1. make method RocksdbMetadataStore#storePut synchronized, since Rocksdb as metadata store is mostly used at light-weight environment with light workload
2. make RocksdbMetadataStore exte

[2022-06-09 08:09] nicoloboschi opened #15996 "[bug][java-client] Client creation fails with enableTransactions=true if topic transaction_coordinator_assign has not been created yet"
**Describe the bug**
Client creation fails with enableTransactions=true if topic transaction_coordinator_assign has not been created yet

[code]

I found this while enabling transactions on Pulsar standalone but it could apply also in a real cluster.

**To Reproduce**
- Start Pulsar standalone with transactions enabled (see [this pull](https://github.com/testcontainers/testcontainers-java/pull/547

[2022-06-09 09:18] cbornet commented on #15902
@nlu90 see the comment from @eolivelli . We've put this in "Rejected alternatives" for the reasons that:
* it won't be easily available to all Pulsar users
* it would be hard to guarantee compatibility with many Pulsar versions, and the Transformations will use many advanced features of Pulsar APIs

[2022-06-09 09:58] nicoloboschi commented on #15902
@nlu90 The transformations will be well tested in the codebase. The use cases do not came out of the blue (in that case you may wonder if they add value for users) but they are inspired by Kafka/Confluent Platform.

The very good thing about this proposal is that they are builtin but they won't be an additional weight for users that do not want to use them.

[2022-06-09 13:48] dave2wave commented on #15902
@nlu90 Would you like to have a conversation with @cbornet to discuss the performance motivations for this change?

[2022-06-09 14:14] lgxbslgx commented on #15830
Such similar issues began at OpenJDK16 because of [JEP-396](https://openjdk.java.net/jeps/396). So you need to add something like `--add-opens java.base/java.lang=ALL-UNNAMED` to the options when using `java` command after JDK 16 (included).

Back to `sql-worker`, in order to solve @warriorsfly 's error of JDK17, you need to add the following two lines to the file `conf/presto/jvm.config`. Please

[2022-06-09 19:30] #15349 closed

[2022-06-10 01:06] codelipenghui opened #16000 "[test] NPE of StringSchema for branch-2.10"
**Describe the bug**
https://github.com/apache/pulsar/runs/6812506434?check_suite_focus=true

[code]

**To Reproduce**
Always fail on CI but it's not able to reproduce on my laptop

[2022-06-10 01:51] Anonymitaet commented on #15959
@boatrainlsz feel free to ping me to review if you submit a PR, thanks.

[2022-06-10 02:03] Anonymitaet commented on #15838
Hi @momo-jun any feedback on this? Thanks!

[2022-06-10 02:11] #15935 closed

[2022-06-10 02:12] Anonymitaet commented on #15972
Hi @momo-jun this issue is related to getting started with Pulsar. It would be grateful if you can take care of it, thanks!

[2022-06-10 02:12] Anonymitaet commented on #15927
Hi @momo-jun this issue is related to getting started with Pulsar. It would be grateful if you can take care of it, thanks!

[2022-06-10 02:37] momo-jun commented on #15838
Checked this issue with @nodece  -  it is not supported to migrate from ZK metadata store to ETCD.

[2022-06-10 02:47] gaozhangmin opened #16002 "[client] Pulsar Client stuck with reverseMemory"
Our environment encountered a producer client with memory limit set to 8MB stuck.

the producer always reported error:  org.apache.pulsar.client.api.PulsarClientException$TimeoutException: The producer xxxxx can not send message to the topic xxxx  within given timeout : createdAt 30.003 seconds ago, firstSentAt 6.3327106674E7 seconds ago, lastSentAt 6.3327106674E7 seconds ago, retryCount 0

[code]

[2022-06-10 04:05] Jason918 commented on #15896
@wuxuanqicn What's the root cause of the lock timeout?

[2022-06-10 04:48] urfreespace commented on #15879
It works well on my side too. @miton18 could you please have a test again?

[2022-06-10 06:22] #15855 closed

[2022-06-10 06:29] Anonymitaet commented on #15838
@truong-hua truo
Thanks for raising this issue! Does the answer LGTY? Feel free to close this issue if you have more questions.

[2022-06-10 07:19] Jaudouard commented on #14588
We observe the same thing with the python client, when we do `consumer.unsubscribe()`, several file descriptors are left open.

It looks like an issue with the c++ client, and it is very blocking for us

[2022-06-10 07:52] BewareMyPower commented on #14714
@Jaudouard Could you open another issue for it? I think it's not related to the flaky Python tests. `unsubscribe` is an API to delete the subscription of the consumer. It does not close the connection so the file descriptors are still open, while `close` just closes all related connections.

[2022-06-10 07:56] nodece commented on #15838
I suggest add documentation on how to switch the metadata store from ZK to ETCD/Memory/RockDB.

[2022-06-10 08:08] truong-hua commented on #15838
Agree. Pulsar will be more portable and less depended on metadata store if we can do it.

[2022-06-10 08:11] Jaudouard commented on #14714
Thanks for your answer, we'll make our case in a dedicated issue today.

Our problem might be that when calling `unsubscribe()`, it is not possible to call `close() `afterwards to properly close the connection.

And if we skip the `unsubscribe()`, pulsar topics accumulate in a dangerous way

[2022-06-10 08:14] codelipenghui commented on #16000
Looks like temurin has a new release [jdk-11.0.15+10](https://github.com/adoptium/temurin11-binaries/releases/tag/jdk-11.0.15%2B10) which introduced the issue. After rollback to `[jdk-11.0.15+10]`, the failed test get passed.

[2022-06-10 09:08] BewareMyPower commented on #14714
Yeah, I have seen similar feedback from other people. I'll confirm if this behavior is right soon.

Could you explain it in detail? It's possible to delete the topic even if it has a subscription unless the subscription is active.

[2022-06-10 09:28] Jaudouard commented on #14714
It is indeed possible but it requires a pulsar-admin call doesn't it ? Hence with auth and access to this command, which is not trivial in our case

[2022-06-10 09:39] poorbarcode commented on #15370
@eolivelli @gaoran10 @gaozhangmin @315157973 @lhotari @michaeljmarshall @congbobo184 @Technoboy-   I have start a vote and already send email, could you take a look.

Discuss Link: https://lists.apache.org/thread/lsmn0hg9np97qrzzh2wovxq1yhxj9qhy

[2022-06-10 09:43] BewareMyPower commented on #14714
Got it. I think one workaround is to modify the `brokerDeleteInactiveTopicsMode` config of the broker and acknowledge messages.

BTW, I just tested `close` after `unsubscribe` with the Java client, it's okay to do that. I'll look into the issue with the C++ client soon.

[2022-06-10 12:05] Jason918 commented on #15896
@wuxuanqicn I have pushed a PR #16005 to fix this. PTAL.

[2022-06-10 12:39] Jaudouard opened #16006 "[python client] cannot close consumer after an unsubscribe"
**Describe the bug**
Currently, calling close() after unsubscribe() with the latest python client crashed and the connection with pulsar is not fully released if close() is not called, causing a leak in file descriptor.

**To Reproduce**
Steps to reproduce the behavior:

[code]
The `consumer.close()` crashes and raises an `AlreadyClosed: Pulsar error` exception.

Several file descriptor are left o

[2022-06-10 12:44] Jaudouard commented on #14714
Thanks for your help, the workaround might well be helpful if we manage to apply it only to our product topics.

I've created a simple bug report: https://github.com/apache/pulsar/issues/16006

[2022-06-10 12:49] eolivelli commented on #16000
@codelipenghui @nicoloboschi is there any link to a OpenJDK issue ?
I can create tickets on OpenJDK JIRA, if it is a new issue we can report it but we need more context

[2022-06-10 12:54] codelipenghui commented on #16000
Sorry @eolivelli

I'm still testing. It's not a JDK issue but related to `reuseFork`. I have disabled the `reuseFork in PR #15995`, the test gets passed. Looks like the `reuseFork` lead some static code doesn't work.

[2022-06-10 15:16] e-marchand-exensa commented on #13712
The issue still exists with version 2.10.0. Still no problem with 2.6.4.

[2022-06-10 15:51] zbentley opened #16009 "When using the Python pulsar client, crashes occasionally happen on connect/disconnect/close due to pthread_mutex_lock assertion failures"
**Describe the bug**
Occasionally, in flakey CI tests that run Python code in a heavily threaded environment, we have segfaults when calling `connect`, `create_producer`, or `producer.close()` on Pulsar client objects.

I wish I had more debugging info or a full C system call trace, but the failures occur only in CI where I can't use `gdb`, and Python's `faulthandler` doesn't seem to provide a sta

[2022-06-10 18:18] devinbost commented on #8666
Does this issue occur with other mismatched Pulsar versions? We see it a lot.

[2022-06-10 18:19] david-streamlio opened #16013 "Pulsar Standalone Docker image does not work."
**Describe the bug**
Following the instructions on the Apache Pulsar documentation site found [here](https://pulsar.apache.org/docs/getting-started-docker),  the pulsar cluster fails to start.

**To Reproduce**
Steps to reproduce the behavior:
1. On a machine with Docker installed, open a shell
2. Run the following command:
$ docker run -it -p 6650:6650  -p 8080:8080 --mount source=pulsardata,targ

[2022-06-11 05:47] ericsyh opened #16017 "[Discuss][Doc]: Remove active-standby replication mode on Geo Replication doc"
### What issue do you find in Pulsar docs?

I think this mode on [Geo Replication doc](https://pulsar.apache.org/zh-CN/docs/concepts-replication/#active-standby-replication) is quite easy to misunderstand for users.

Because the [replicated-subscriptions](https://pulsar.apache.org/docs/administration-geo/#replicated-subscriptions) needs two-way replication which means if users config one-way repli

[2022-06-11 13:24] maxsxu commented on #15797
The new documentation bot is implemented at https://github.com/apache/pulsar-test-infra/pull/43

[2022-06-11 15:23] benbro commented on #16013
https://github.com/apache/pulsar/issues/15230
https://github.com/apache/pulsar/issues/15746

[2022-06-12 04:23] Radiancebobo opened #16020 "allowAutoTopicCreation and allowAutoTopicCreationType etc should be dynamically configured"
**Is your enhancement request related to a problem? Please describe.**
In the broker.conf configuration, there are these configurations:

- allowAutoTopicCreation
- allowAutoTopicCreationType
- defaultNumPartitions
- maxNumPartitionsPerPartitionedTopic
- brokerDeleteInactiveTopicsEnabled
- brokerDeleteInactiveTopicsFrequencySeconds
- brokerDeleteInactiveTopicsMaxInactiveDurationSeconds
- brokerDel

[2022-06-12 05:23] mattisonchao commented on #15549
The pull request https://github.com/apache/pulsar/pull/15694 fixed this issue.

[2022-06-12 07:14] xiaofan-luan commented on #5284
hi there @codelipenghui, any progress on the issue? we are also blocking on #5284 for our release?
Or anything we could do the temporary work around?

[2022-06-12 15:37] visortelle opened #16024 "[admin] Inconsistent response in GET namespace deduplication REST API endpoint"
## How it works now

If deduplication wasn't set, it returns `undefined`.

After `pulsar-admin namespaces set-deduplication --enable public/default` it returns `true`.

Then after `pulsar-admin namespaces set-deduplication --disable public/default` it returns `false`.

So there are three possible values: `undefined`, `true`, and `false`.

## What I expect

I would expect `true` and `false` values

[2022-06-13 01:02] momo-jun commented on #16017
Does it make sense to add the limitation instead of removing the option? In case there is a need for this use case without the concern of the limitation.

[2022-06-13 01:05] #15274 closed

[2022-06-13 01:27] ericsyh commented on #16017
Because the limitation of the active-standby mode is it cannot achieve the target of the active-standby. If users want to achieve the target of the active-standby, they should config the active-active replication mode.

[2022-06-13 02:02] codelipenghui commented on #5284
@xiaofan-luan

This PR https://github.com/apache/pulsar/pull/11737
is related to this issue.

Which version you are using?

[2022-06-13 02:13] catsun26 commented on #15952
Thank you. This problem has been solved. It is mainly caused by the fact that the new broker in the pulsar-manager does not write the HTTP service URL. Deleting the invalid broker address will solve the problem

[2022-06-13 02:39] #15952 closed

[2022-06-13 02:55] xyhmnb opened #16029 "Help!We have some questions about flink-connector-pulsar."
**Describe the bug**
these problems about PulsarSource.
1. use the Exclusive subscribeType .when i start the job ,it can receive messages but not ack messages. i query the topic subscription backlog num is not 0.
2. use the Shared subscribeType . the flink receive the old messages when i restart the job for each time.it show the topic subscription backlog num is 0,but it still receive the old mess

[2022-06-13 03:10] xyhmnb commented on #16029
@Technoboy-  hello, can you help me?

[2022-06-13 03:25] frank-xf opened #16030 "[client][cpp] The declaration of the function name of pulsar_producer_configuration_get_crypto_failure_action in the cpp library is inconsistent with the implementation"
**Describe the bug**
In the C language interface provided by `pulsar-client-cpp`, there is an interface for getting producer configuration properties:
`pulsar_producer_configuration_get_crypto_failure_action`.
However, when call the function to try to get the attribute value, it will prompt that the corresponding symbolic link cannot be found in the library, This is because the cpp library wrote t

[2022-06-13 07:10] #13684 closed

[2022-06-13 07:59] poorbarcode commented on #15516
@eolivelli  Can you give a vote for this proposal, Thanks. https://lists.apache.org/thread/qfg9jfocpsc0tzy45ozgoothw1jpxk5g

[2022-06-13 08:41] Technoboy- commented on #16024
https://github.com/apache/pulsar/issues/9216
Since the topic-level policy is introduced, users need a specific value (null) to determine whether a policy has been set at the topic-level. Otherwise, for this boolean type of policy, if it returns false, it is difficult to determine whether it is a topic-level policy or a namespace-level policy.

[2022-06-13 08:52] visortelle commented on #16024
@Technoboy- Thank you for the response. It explains the reason, but probably it would be better to return something like:

[code]

[2022-06-13 09:47] FushuWang opened #16036 "[Doc] Some reference links are 404"
### What issue do you find in Pulsar docs?

On this page https://pulsar.apache.org/docs/concepts-messaging/#messages, the reference link `schemas`, and `topic compaction ` are not found.

<img width="1154" alt="image" src="https://user-images.githubusercontent.com/93108425/173327471-fd062934-cead-4fe3-8e96-616a361b7a19.png">

<img width="1073" alt="image" src="https://user-images.githubusercontent

[2022-06-13 10:59] Koh-Meta opened #16037 "FlinkPulsarSink EXACTLY_ONCE issue"
**Describe the bug**
FlinkPulsarSink encounter issue with PulsarSinkSemantic.EXACTLY_ONCE.

**To Reproduce**
Steps to reproduce the behavior:
1.  In apache-pulsar/conf/broker.conf, set transactionCoordinatorEnabled=true
2.  Restart the broker
3. Added PulsarSinkSemantic.EXACTLY_ONCE
![image](https://user-images.githubusercontent.com/107404257/173338060-10804fdc-4b28-4e27-8178-6d5d9879ab21.png)
4.

[2022-06-13 11:04] Anonymitaet opened #16038 "[feat][workflow] add interactive features to bot"
# Features

Can we enforce the Bot to execute the following commands?

- [ ] Assignee is automatically assigned to a PR author after the PR is submitted.

- [ ] assign
<img width="1515" alt="image" src="https://user-images.githubusercontent.com/50226895/170635224-d906b49e-a33a-4fc7-82f9-7e5c3995c5c5.png">

- [ ] help wanted + good first issue
<img width="1413" alt="image" src="https://user-images.

[2022-06-13 11:05] Anonymitaet commented on #16038
@maxsxu thanks for your great help on this! Feel free to add more ideas! 💡

[2022-06-13 14:10] frankjkelly commented on #13864
bump

[2022-06-13 14:13] liangyepianzhou opened #16042 "PIP178:Multiple snapshots for transaction buffer"
## Motivation
Transaction buffer stores aborted transaction IDs to filter messages which are aborted. In order to recover, the Transaction buffer will take snapshots to store the aborted transaction IDs in the bookkeeper, but the size of aborted transaction IDs is not limited. When the size of aborted transaction IDs is bigger than the size that a bookkeeper entry can store, the Transaction buffer

[2022-06-13 14:35] hangc0276 commented on #15859
Will each broker service set up the `healthCheck` service? Does all the client request to the same broker?

[2022-06-13 15:09] sicklife commented on #13167
any update ? still stuck with this~

[2022-06-13 15:22] merlimat commented on #13864
@frankjkelly for the 2.10.0 client the packages are already being published with 10.15 as the target platform: https://pypi.org/project/pulsar-client/2.10.0/#files

[2022-06-13 16:50] shaniMaayan commented on #15891
it happened to me and my team as well, we are currently testing topic policies(so topic policies are enabled) , this error pops up randomly for us (probably related to tests), the way around we found is to unload namespace, we also did not find a way to reproduce

[2022-06-13 18:20] #16030 closed

[2022-06-13 19:12] dave2wave commented on #15624
Deferring to PIP-175 - https://lists.apache.org/thread/rg1g083c06ozm5go6zo1jophg9y9zl2f

[2022-06-13 19:14] dave2wave commented on #16038
Please do not automate cherry pick. Each cherry pick must be a deliberate action by the developer of the PR.

[2022-06-13 19:20] dave2wave commented on #16036
The links are invalid. The first link should be: `schema-get-started`

[2022-06-13 20:27] armangurkan commented on #9213
This should be open we have the same issue in 2.8.2

[2022-06-13 21:26] nlu90 commented on #15902
@dave2wave @cbornet @nicoloboschi

Thanks for your replies. I really would like to hear more about use cases and performance motivations to better understand it.

[2022-06-14 01:48] #15973 closed

[2022-06-14 01:51] momo-jun commented on #15927
@Anonymitaet it's not a doc issue. As suggested by @zymap, the Pulsar Manager should have been enabled in the [minikube values](https://github.com/apache/pulsar-helm-chart/blob/master/examples/values-minikube.yaml). With this file update, there is no need to update docs.

[2022-06-14 02:12] aloyszhang commented on #15895
Sorry for the late, I'll check this issue soon.

[2022-06-14 02:32] Technoboy- commented on #16029
Sure, I will take a look and reply later.

[2022-06-14 03:13] momo-jun commented on #15838
Make sense. @nodece can you provide more inputs?

[2022-06-14 03:46] coderzc commented on #15859
@hangc0276 Each broker service will set up the `healthCheck` service.

Client request which broker is determined by `serviceUrl`.

[2022-06-14 05:27] hwittenborn commented on #15981
Would [makedeb](https://makedeb.org) be of any interested for this? It's a project I personally lead, but I think it could greatly reduce the maintenance cost of having a Debian package.

[2022-06-14 05:29] lhotari commented on #16038
-1 for cherry picking in a bot

[2022-06-14 05:30] lhotari commented on #16038
@Anonymitaet please add some motivation to the feature requests. Why do we need those features?

[2022-06-14 05:31] Anonymitaet commented on #16038
@dave2wave @lhotari thanks for your feedback! I should clarify more clearly.
We want to cherry-pick only documentation PRs (not code PRs) to reduce manual maintenance work.
Some doc changes are applicable to multiple doc versions. Currently, we need to copy them manually.

[2022-06-14 05:33] michaeljmarshall commented on #16038
We could also reduce manual work by changing the workflow. Do we have documentation explaining why we still need this repo?

Can you explain this more? Doc version changes are not cherry picked, they are copied to the appropriate files.

[2022-06-14 05:34] lhotari commented on #16038
That can be solved outside a docbot. There are security considerations so it's not just about convenience or preference using a bot. I'd suggest that there's a script that a committer can run to semi-automate your process.

[2022-06-14 05:47] lhotari opened #16046 "The new Docbot spams PRs with multiple comments"
**Describe the bug**
The new Docbot (#15797) added in #16027 spams PRs with multiple comments.

**To Reproduce**
There's an example in https://github.com/apache/pulsar/pull/16045
https://github.com/apache/pulsar/actions/workflows/ci-documentbot.yml

Example jobs:
![image](https://user-images.githubusercontent.com/66864/173501851-477c0d85-08e9-46e7-856e-eae05a8140a5.png)
Logs:
https://github.com/ap

[2022-06-14 05:48] lhotari commented on #16046
@maxsxu @Anonymitaet I have disabled the docbot until this problem has been addressed since it's also spamming users with GitHub notifications.

[2022-06-14 05:56] lhotari commented on #16046
In https://github.com/apache/pulsar/blob/master/.github/workflows/ci-documentbot.yml
there should be config to limit the concurrency so that there's one build job handling events for a single PR at a time.

Adding this to the yaml will accomplish that:
[code]
docs for concurrency: https://docs.github.com/en/actions/using-jobs/using-concurrency

[2022-06-14 06:31] momo-jun commented on #15972
@pablopla Thanks for reporting this issue.

#1. The instructions on the Docker hub have been updated by removing the commands and referencing Pulsar docs only.
#2. I will follow up with a pull request to explain how to modify the config.
#3. To improve the log readability, can you open another issue to track?

Thanks to @zymap for technical guidance.

[2022-06-14 07:12] Technoboy- commented on #16029
Hi @xyhmnb
We have fixed a bug that may cause the reader not ack the message (#12853). The root cause is that: when ack, PersistentAcknowledgmentsGroupingTracker#`lastCumulativeAck` may recycle by another thread, so it may cause an NPE exception thrown by flushTask and stop continuing to execute.

Could you upgrade to flink-connector-pulsar 1.15.0 ?

[2022-06-14 07:39] momo-jun commented on #16036
Ping @urfreespace.

[2022-06-14 07:47] leizhiyuan opened #16050 "when ServerCnx has no consumers and producers, recycle the connection"
**Is your feature request related to a problem? Please describe.**

now, we sometimes meet this issue

our users use an old version of the client,  for example, backlog exceeded.

the client will close the producer, but they won't close the connection, then the TCP connection will increase very quickly.

we can think of another scene: if the user creates a pulsar client, then create a producer,the

[2022-06-14 08:08] Anonymitaet commented on #16046
@lhotari thanks for your guidance and resource! @maxsxu is fixing this issue and will keep you updated.

[2022-06-14 08:13] AlphaWang opened #16052 "[Doc] The JDK version in README.md is not consistent"
### What issue do you find in Pulsar docs?

The [README.md](https://github.com/apache/pulsar/blob/master/README.md#configure-java-version-for-maven-in-intellij) explains how to configure JDK version for maven, and says the purpose is "uses the Java 11 JDK for running Maven when importing the project to IntelliJ"; However, use project JDK will leverage JDK 17 instead of JDK 11, the project jdk vers

[2022-06-14 08:19] AlphaWang commented on #16052
Please help check if this PR looks good https://github.com/apache/pulsar/pull/16053

[2022-06-14 08:39] lhotari opened #16054 "Broker cache eviction evicts entries that haven't been read by active consumers"
**Describe the bug**

There's a performance regression with large fan-outs (large number of consumers).

#12045 changed cache eviction. The problem is that cache eviction is done to the position whatever happens to be the first cursor in the "heap" list in ManagedCursorContainer. There's a chance for a race condition: another cursor in the list might have an older position, but that hasn't been up

[2022-06-14 08:49] xyhmnb commented on #16029
@Technoboy- sure~ ,but I always use this 1.15.0 version. These problems still exist.

[2022-06-14 08:50] lhotari commented on #16054
@315157973 @lordcheng10 @merlimat @codelipenghui  What's your thoughts on this issue?

I wonder if the need for #14985 was caused by the regression described in this issue?

[2022-06-14 08:57] lhotari commented on #15954
btw. The current broker cache seems to be broken. That happened in 2.8.2 / 2.9.0 . I have created an issue #16054 .

[2022-06-14 09:15] lhotari commented on #16054
@315157973 @lordcheng10 I'll work on a fix.

[2022-06-14 09:16] frankjkelly commented on #15904
Great - thank you @momo-jun - will the PR be linked in here when submitted?

[2022-06-14 09:16] Anonymitaet commented on #16038
Yes, they are manually copied to files rather than cherry-pick to multiple branches (I use the inaccurate word `cherry-pick`, sorry, it results in confusion).

[2022-06-14 09:19] Anonymitaet commented on #16038
@lhotari
1. can you explain what the security concerns are?
2. any examples or resources for the script? Thanks!

[2022-06-14 09:20] Choqs opened #16056 "[Bug][Python Client] _check_record_or_field exception throw another exception"
### Describe the bug

Using python pulsar-client, instantiating a schema with an array of a wrong type, leads exception to throw another exception. This make it harder to debug and understand what is wrong for the user.

### How to reproduce

[code]

This script will give the below traceback :

[code]

Instead of :

[code]

### Environment

- pulsar-client==2.8.0

[2022-06-14 09:31] momo-jun commented on #15904
Yes, you will be notified.

[2022-06-14 09:54] poorbarcode commented on #15134
It has been fixed at https://github.com/apache/pulsar/pull/15877, so close this pull request.

[2022-06-14 09:54] poorbarcode commented on #15050
fixed by #15051

[2022-06-14 09:54] #15050 closed

[2022-06-14 10:41] #15205 closed

[2022-06-14 13:53] coderzc opened #16058 "PIP-177: Add the classLoader field for SchemaDefinition"
Mailing list thread: https://lists.apache.org/thread/ydslz3h8ymjjwm5ng02kwszmc5j5hy30

## Motivation

Now, don‘t register logical type conversions when use `SchemaDefinition.<T>builder().withJsonDef()` to create the schema, beacase it without classLoader param. (e.g: https://github.com/apache/pulsar/issues/15899)

See: https://github.com/apache/pulsar/blob/04aa9e8e51869d1621a7e25402a656084eebfc09/

[2022-06-14 18:53] eolivelli commented on #16058
how does this work with other Schema types ?

[2022-06-14 19:39] visortelle opened #16063 "NullPointerException if GET /admin/v2/namespaces/public/default/maxTopicsPerNamespace"
**To Reproduce**

Start `apachepulsar/pulsar:2.10.0`

You can start Pulsar in docker with: `docker run -it -p 8080:8080 apachepulsar/pulsar:2.10.0 bin/pulsar standalone`

Wait for 30-60sec.

Then run

`curl localhost:8080/admin/v2/namespaces/public/default/maxTopicsPerNamespace`

or

`pulsar-admin namespaces get-max-topics-per-namespace public/default`

<img width="692" alt="Screen Shot 2022-06-14

[2022-06-15 00:48] #16046 closed

[2022-06-15 00:56] #16052 closed

[2022-06-15 01:42] #15927 closed

[2022-06-15 02:06] #15896 closed

[2022-06-15 02:56] coderzc commented on #16058
@eolivelli it only work with the avro schema

[2022-06-15 03:33] xuesongxs commented on #14982
I have verified these 2 PRs in the latest pulsar version and have not solved this bug.

[2022-06-15 06:07] Technoboy- commented on #16029
Yes, right.  After discussing it, we find that the problem still exists.  We will push a fix later.  Very thanks for reporting this.

[2022-06-15 08:21] eolivelli opened #16070 "[pulsar admin] Add commands to run 'scanOffloadedLedgers'"
We need a pulsar-admin command to execute scanOffloadedLedgers, introduced with #14930

[2022-06-15 08:48] Hongten commented on #4162
**Solution**
My solution is to remove the bookie PVC first. And redeploy the chart again. The new PVC will be created. Note: **The PVC save the data, you need to know the risk when you delete it.**
[code]

**Root cause**
- The old PVC has the historical data which includes the instanceID under the `/pulsar/data/bookkeeper/ledgers/current/VERSION`(This is my ledger dir)(The old InstanceID)
- After

[2022-06-15 09:41] visortelle opened #16073 "Wrong swagger definitions for POST /admin/v2/namespaces/sample/ns1/deduplicationSnapshotInterval"
This endpoint doesn't have DELETE method. The `undefined` request body is used instead to remove this policy.

Source: https://github.com/apache/pulsar/blob/e6b12c64b043903eb5ff2dc5186fe8030f157cfc/pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/Namespaces.java#L1395

The topic-level policy has DELETE method. Probably there is a sense to implement it for namespace-level policy.

Sour

[2022-06-15 10:07] leizhiyuan opened #16074 "stackoverflow when many unacked messages or delay messages"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

in sendMessagesToConsumers ,maybe we should  execute         readMoreEntries();

in another thread

**Screen

[2022-06-15 13:12] zymap opened #16077 "The standalone service can not start in the non-root container"
**Describe the bug**
When I running the command `$ docker run -it -p 6650:6650  -p 8080:8080 --mount source=pulsardata,target=/pulsar/data --mount source=pulsarconf,target=/pulsar/conf apachepulsar/pulsar:2.10.0 bin/pulsar standalone`, the pulsar standalone service can not start successfully.

error log:

[code]

Anything I missed?

[2022-06-15 13:16] zymap commented on #16077
@michaeljmarshall You made the change about this. Maybe you are familiar with it. Any suggestion about this?

[2022-06-15 15:27] MonicaMagoniCom opened #16080 "Connection refused: localhost/127.0.0.1:8080"
In our environment we are using Pulsar deployed with helm chart on Kubernetes. We have authentication and authorization enabled.
Our current version is 2.6.2 and it works fine.
I tried to update it to version 2.7.0 but the brokers are not able to run; this is the error I get:

[AsyncHttpClient-7-1] WARN  org.apache.pulsar.client.admin.internal.BaseResource - [http://localhost:8080/admin/v2/namespa

[2022-06-15 15:39] visortelle opened #16081 "GET admin/v2/namespaces/public/default/topics?mode=ALL returns persistent topics only."
**To Reproduce**

You can start Pulsar in docker with:

`docker run -it -p 8080:8080 apachepulsar/pulsar:2.10.0 bin/pulsar standalone`

Run:

[code]

For both curl calls, non-persistent topics are missing:

<img width="992" alt="Screen Shot 2022-06-15 at 5 35 39 PM" src="https://user-images.githubusercontent.com/9302460/173867837-e3b4e9ef-b5a2-4c17-a5a5-1f562e3eb16d.png">

If you use pulsar-admin,

[2022-06-15 16:19] syhily commented on #16029
`flink-connector-pulsar` has added a workaround for this situation. Check the code [here](https://github.com/streamnative/flink/tree/feature/new-seek-lifecycle).

[2022-06-15 16:19] spartakos87 commented on #14156
Hello again
This time I run Pulsar locally from binary with the  yaml,
`configs:
    host: "localhost"
    port: 5672
    virtualHost: "/"
    username: "username"
    password: "password"
    queueName: "topic"
    connectionName: "my-connection"
    requestedChannelMax: 0
    requestedFrameMax: 0
    connectionTimeout: 60000
    handshakeTimeout: 10000
    requestedHeartbeat: 60
    prefetchCoun

[2022-06-15 19:06] Anthony-Bible opened #16082 "--help and action are not consistent for set-retention on a namespace"
**Describe the bug**
A clear and concise description of what the bug is.
When running set-retention with no units for the time. It defaults to seconds when --help says the default measurment is in minutes
**To Reproduce**
Steps to reproduce the behavior:
In pulsar 2.7.0, issue the following command:
[code]

After that is set run
[code]

**Expected behavior**
This should in fact set the retention t

[2022-06-15 20:33] hpvd commented on #14168
vote for reopening, since a SBOM (Software Bill of Materials) in the Software Package Data Exchange (SPDX) format
(an international open standard (ISO) for communicating SBOM information)
is very helpful and already becomes mandatory for some application/in some organizations to manage security, compliance, and compatibility.

Other major projects provides it e.g. kubernetes see  https://sbom.k8s.

[2022-06-16 00:44] Anonymitaet commented on #16042
Hi @liangyepianzhou this PIP NO. is the same to https://github.com/apache/pulsar/issues/15797 which was created 21 days ago. Would you like to choose another PIP NO.? Thank you

[2022-06-16 03:51] zymap commented on #16077
related fix: https://github.com/apache/pulsar/pull/15769

[2022-06-16 03:51] #16077 closed

[2022-06-16 05:29] michaeljmarshall commented on #13705
Fixed by https://github.com/apache/pulsar/pull/15824.

[2022-06-16 05:29] #13705 closed

[2022-06-16 05:38] xiaofan-luan commented on #5284
Thanks for replying @codelipenghui
We are using 2.8.2 and seems the error is still there, seems that it should be fixed in 2.8.1?

[2022-06-16 07:13] momo-jun commented on #14695
I've checked both master and versioned docs, the `io-elasticsearch.md` file is not referenced now.

Regarding this `io-elasticsearch.md` topic, is it still in use? It is not displayed in the left navigation (not in the sidebar.json).

[2022-06-16 07:23] momo-jun commented on #7625
@Anonymitaet seems this issue has been fixed and can be closed.

[2022-06-16 07:38] momo-jun commented on #13856
@Anonymitaet This issue can be closed. Docs have been added.

[2022-06-16 07:45] momo-jun commented on #13617
Hi @mattisonchao, do you have any updates?

[2022-06-16 07:53] Anonymitaet commented on #11911
@BewareMyPower thanks for helping on this issue! I see you answered this question 9 months ago, is that still true now? If yes, this issue can be closed.

[2022-06-16 07:56] mattisonchao commented on #13617
@momo-jun
Sorry for the late response. I will finish this work next week.

[2022-06-16 07:58] lhotari commented on #16074
@leizhiyuan Please share some details how this problem occured. Do you have a way to reproduce the issue?

[2022-06-16 08:18] RobertIndie commented on #12023
Currently, Pulsar didn't introduce the length limit for the name of tenants, namespaces and topic.

[2022-06-16 08:30] #16002 closed

[2022-06-16 08:34] momo-jun commented on #2499
Confirmed by @nodece - this issue has a dependency on #15822 and needs to support basic auth on node.js + python client.

[2022-06-16 08:52] nicoloboschi opened #16089 "[Doc] Improve pulsar-perf transaction example"
### What issue do you find in Pulsar docs?

When using pulsar-perf transaction is not trivial to understand how you can make it working because the consume topic needs to contains enough messages to consume and the formula is:
message to write before the command = --numSubscriptions * --numMessage-perTransaction-consume

### What is your suggestion?

I suggest to prepend the pulsar-perf produce co

[2022-06-16 08:52] coderzc commented on #16058
@eolivelli Do you have any questions about this proposal?

[2022-06-16 08:53] nicoloboschi commented on #16089
cc/ @congbobo184 @liangyepianzhou

[2022-06-16 08:55] Niceies commented on #15310
What is the reason? I also encountered the same problem. The above method works normally

[2022-06-16 09:40] maxsxu commented on #16038
Thanks for bringing this out!

[2022-06-16 09:43] lujiwen commented on #15948
@Radiancebobo I am using 2.10.0

[2022-06-16 09:43] eolivelli commented on #16058
LGTM thanks

[2022-06-16 10:15] #11911 closed

[2022-06-16 12:48] tisonkun commented on #13954
Could you verify whether this exception occurs while it suffers a ZK disconnection? If there is a period of disconnection, it's possible that the op success on server but fail to response, and since we retry on CONNECTIONLOSS then it can be this case. #13892 can be in such situation, cc @MichalKoziorowski-TomTom

[code]

[2022-06-16 12:50] MarvinCai commented on #15813
I think no matter how we maintain the doc, current status is we have incomplete info here, user following just this doc can't use the commands, like `pulsar-admin topics set-offload-policies` I mentioned, what options should they put in the command?

[2022-06-16 13:43] nicoloboschi opened #16094 "[Doc] Javadoc links point to a snapshot repository"
### What issue do you find in Pulsar docs?

There are many links that point to https://pulsar.apache.org/api/ which contains javadocs content of very old versions (2.4.x) and snapshot versions. Also the user has to navigate in a archive which leads to very poor UX

### What is your suggestion?

Inside a doc page the current versions is known. It should be possible to point directly to the related

[2022-06-16 14:21] eolivelli commented on #14695
@nicoloboschi can you help here please ?

[2022-06-16 14:26] nicoloboschi commented on #14695
@momo-jun @Anonymitaet both https://pulsar.apache.org/docs/io-elasticsearch-sink/ and https://pulsar.apache.org/docs/io-elasticsearch/ are obsolete. We can remove them. It's better to have a not found page instead of very old page.

The official page is https://pulsar.apache.org/docs/next/io-elasticsearch-sink#configuration

[2022-06-16 14:38] GBM-tamerm commented on #15898
Thanks codellipenghui for reply , the mentioned issue is happening regardless ,other clients registered to other different ranges  or not ,  that issue does exist in v2.7.4 , it only appear after we upgrade to v.2.9.2

[2022-06-16 16:37] #12616 closed

[2022-06-17 00:24] mans2singh opened #16101 "[Doc] Pulsar dashboard link in the pulsar-manager doc note section is broken"
### What issue do you find in Pulsar docs?

The pulsar-dashboard link in pulsar-manager page note section (https://pulsar.apache.org/docs/administration-pulsar-manager/) is broken and leads to a page not found (https://pulsar.apache.org/docs/administration-pulsar-manager/administration-dashboard).

Here is the pulsar manager page

<img width="1318" alt="PulsarDashboardLinkOnPulsarManager" src="htt

[2022-06-17 02:19] momo-jun commented on #16101
Hi @mans2singh thanks for reporting this issue.
It is a known issue and has been occurring in many places recently. The topic ID (administration-pulsar-manager in this case) is mistakenly added to the URL string in the front-end processing.
@urfreespace is investigating it. Will keep you posted as soon as it is fixed.

[2022-06-17 02:38] JavaXiaoJun opened #16103 "Issue of pulsar client under multi-topic consumption : org.apache.pulsar.client.api.PulsarClientException$LookupException"
**Describe the bug**
In the scenario where a consumer subscribes to two topics under different namespaces, the produce and consume client code occasionally report errors in  `HTTP 500 Failed to get data from xxxx `

**To Reproduce**
client side log:

	at org.apache.pulsar.client.api.PulsarClientException.unwrap(PulsarClientException.java:1018)
	at org.apache.pulsar.client.impl.ProducerBuilderImpl.

[2022-06-17 03:26] duxugang opened #16105 "Why Roles do not support concurrent authorization？"
version：2.10
I used multiple admin clients to concurrently grant multiple topic permissions to a role, but threw concurrent modification exceptions；

I think this should add support for concurrent authorization；

Exception Info：
java.util.concurrent.CompletionException: com.sf.mw.exceptions.InternalException: 角色:[j4hcvds:testSubRole:SUB]授予主题[duxgTenant/duxgNameSpace/duxgTopicToPro22-j4hcvds:testSu

[2022-06-17 03:37] mans2singh commented on #16101
@momo-jun - Thanks for your response.   Mans

[2022-06-17 03:42] coderzc commented on #16058
@codelipenghui @congbobo184 @eolivelli @mattisonchao @shibd I sent a PIP vote mail, take a look at it.
mail: https://lists.apache.org/thread/ydslz3h8ymjjwm5ng02kwszmc5j5hy30

[2022-06-17 03:56] momo-jun commented on #14561
PIP-65 was implemented in #7090. @nlu90 @freeznet do you have any doc inputs for this PR?

//cc @Anonymitaet. May need to add a `doc-required` label to #7090.

[2022-06-17 03:59] nareshv opened #16107 "allow custom sequence numbers in the producer for dedup"
**Is your enhancement request related to a problem? Please describe.**
Current producer api allows for creation of messages and the sequence numbers logic is not exposed to the programmers.

**Describe the solution you'd like**
Provide a mechanism using which the sequence numbers can be controlled by the developers instead of the Producer api

**Describe alternatives you've considered**
Not availa

[2022-06-17 04:18] #15631 closed

[2022-06-17 05:38] momo-jun commented on #16094
Related issue: #14838, #13916.

[2022-06-17 07:28] Anonymitaet commented on #15813
The website shows complete info containing flags
https://pulsar.apache.org/tools/pulsar-admin/2.11.0-SNAPSHOT/#-em-set-offload-policies-em--88
<img width="1284" alt="image" src="https://user-images.githubusercontent.com/50226895/174248087-5409f3a5-6871-4763-8dbf-9f771ee97d70.png">

[2022-06-17 07:30] Anonymitaet commented on #13856
@momo-jun OK, done.

[2022-06-17 07:30] #13856 closed

[2022-06-17 07:31] Anonymitaet commented on #7625
@momo-jun not yet. Status: https://github.com/apache/pulsar/pull/11716#issuecomment-939882228

[2022-06-17 07:31] Demogorgon314 commented on #15905
You can see these configurations.
[code]

Is that percentage an absolute percentage?

It should be an absolute percentage.

Example:
Assume we have three brokers, the broker1 avg broker usage is 40%, the broker2 avg broker usage is 10%, the broker3 avg broker usage is 10%, then the cluster avg usage should be ((40% + 10% + 10%) / 3) = 20%.

If we set `loadBalancerBrokerThresholdShedderPercentage=1

[2022-06-17 07:45] eolivelli commented on #15370
@nicoloboschi FYI

[2022-06-17 08:20] urfreespace commented on #16101
fixed with https://github.com/apache/pulsar-site/pull/120 @momo-jun @Anonymitaet @mans2singh you could have a test again, thanks.

[2022-06-17 08:20] #16101 closed

[2022-06-17 08:30] momo-jun commented on #14463
@zdufour-asp Thanks for reporting this issue. I will add this command to the Get Started topics as reference.

[2022-06-17 08:38] fmiguelez commented on #13167
Same problem here. We are unable to restart our cluster. Brokers keep on crashing all the time due to this issue.

Any workaround?

[2022-06-17 08:56] fmiguelez commented on #13167
When I issue that command from our toolset pod I get the following:

[code]

@ericsyh what do you suggest?

[2022-06-17 11:31] codelipenghui commented on #15859
We can remove this one? The broker always returns the cached value, not a real publish latency

    // ....
    CompletableFuture<HealthCheckResult> healthCheck();
}

Could you please add some details about how this method will be used?
It will check all the clusters or the connected cluster?

  //......
  CompletableFuture<HealthCheckResult> healthCheck();
}

Could you please add some context abo

[2022-06-17 11:51] coderzc commented on #15859
It will check all the clusters or the connected cluster?

ok, I add some details.
It will check all the connected cluster.

Because it needs to use the ServiceNameResolver of BinaryProtoLookupService to get the socket address, perhaps should be created a new ServiceNameResolver.

[2022-06-17 12:35] ericsyh commented on #13167
@fmiguelez Your bookie replica should be more than 3 but the returned readwrite bookie is only `rev-pulsar-bookie-2`.

Is the bookie pod `rev-pulsar-bookie-0` and `rev-pulsar-bookie-1` still running? You can check their disk free status by https://bookkeeper.apache.org/docs/admin/http#endpoint-apiv1bookieinfo

In the toolset pod, you can try `curl rev-pulsar-bookie-0.rev-pulsar-bookie.mdp-dgt-revi

[2022-06-17 13:06] fmiguelez commented on #13167
It was actually a matter of disk space. I reviews logs of all bookies and reported disk usage beyond threshold, so they were set in read-only mode.

[code]
I modified the bookie configmap to set a threshold of 0.98.

`	fer@N315D154:~$ kubectl -n mdp-dgt-review-check-data-ocdup2 get configmaps rev-pulsar-bookie -o yaml > rev-pulsar-bookie-cm.yaml
`
Edit `pulsar-bookie-cm.yml` and add following prop

[2022-06-17 15:34] BewareMyPower commented on #15976
It's easy to reproduce it locally. It's a bug when processing a partitioned topic. Because `test_listener_name_client` reuses a partitioned topic created by `test_get_partitioned_topic_name`.

We can reproduce it by creating a partitioned topic in advance:

[code]

Then, run the following Python script:

[code]

There is a high chance that it failed with `AlreadyClosed`:

[code]

[2022-06-17 15:36] frankjkelly commented on #15905
@Demogorgon314 thanks the example is super helpful and perhaps could be added to the documentation?

As regards the weights - isn't the purpose of the documentation so that I don't have to read the code / configuration files?
Also what are the range of values to set to weights? 0 to 1.0, 1.0 to 100.0?

I also realized another question - when I read the code I was surprised to see when the resource

[2022-06-17 15:37] BewareMyPower commented on #15976
There is also a chance that the problem stuck. I used `lldb` to print the stacktraces:

Thread 1:

[code]

Other threads:

[code]

[2022-06-17 18:08] dave2wave commented on #15813
The bad UX is here: https://pulsar.apache.org/tools/pulsar-admin/

[2022-06-17 18:13] dave2wave commented on #15813
I also find the generated documents to be scattered and unsorted and dependent on good code comments.

Doc writers are not coders. Coders tend to always check the "no need docs" button. A hand written md file will provide examples and appropriate use. These can be written in proper English and translated if there is effort.

[2022-06-17 19:09] dave2wave commented on #14987
@polyzos sorry you have not received a proper reply here. Please add your comments to #15813

[2022-06-17 19:14] dave2wave opened #16112 "[bug][docs] Develop Pulsar Functions page does not show Python and Go examples"
**Describe the bug**
https://pulsar.apache.org/docs/functions-develop/ the Python and Go tabs do nothing.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://pulsar.apache.org/docs/functions-develop/
2. Click on `Python` or `Go` tabs
3. Nothing happens

**Expected behavior**
The Python or Go examples should be displayed

**Browser**
 - Google Chrome

[2022-06-18 00:11] leizhiyuan opened #16114 "inconsistent behavior in ttl strategy"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the enhancement is.

inconsistent behavior in ttl strategy，

![image](https://user-images.githubusercontent.com/2684384/174414265-3a260e06-7124-405a-b64e-59a746d1e6b1.png)

if we have a sub in which msgbacklog is 1， we set retention is 24h, , msgbacklog is smaller than 1000,

if one messa

[2022-06-18 00:42] codelipenghui commented on #15859
I think we can move out of this proposal. Since we will not select the optimal
cluster based on the performance metrics of the cluster.

If we really want to do cluster selection based on the metrics, we can add it.
Just make the changes focus on the proposal really want to do. The metrics may be
a point that needs to consider, but it needs to discuss first.

Adding a ServiceNameResolver is better

[2022-06-18 08:01] Wyy522 opened #16122 "Test"
### What issue do you find in Pulsar docs?

Test

### What is your suggestion?

Test

### Do you have any references?

Test

### Would you like to fix this issue?

Test

### Note

- [X] I have researched my question.

[2022-06-18 08:01] Wyy522 commented on #16122
Test

[2022-06-18 08:01] Wyy522 commented on #16122
Test

[2022-06-18 08:02] #16122 closed

[2022-06-18 09:45] visortelle opened #16123 "brokerClientAuthenticationPlugin param doesn't restore to default after deletion dynamic config value"
**To Reproduce**

You can start Pulsar in docker with:

`docker run -it -p 8080:8080 apachepulsar/pulsar:2.10.0 bin/pulsar standalone`

Check the default value:

<img width="673" alt="Screen Shot 2022-06-18 at 11 40 54 AM" src="https://user-images.githubusercontent.com/9302460/174432075-c99e15e8-4ddb-46f3-9eb6-62c16ce1c6d5.png">

Set new value:

<img width="848" alt="Screen Shot 2022-06-18 at 11 4

[2022-06-18 10:28] liangyepianzhou opened #16124 "[Bug][Client] NullPointerException for doTransactionAcknowledgeForResponse"
**Describe the bug**
When consumer reconnects to broker due to channelInactive, the cnx will be null, but doTransactionAcknowledgeForResponse will call `cnx().newAckForReceipt(cmd, requested);` and then NullPointerException will be reported.
* connectionClosed
[code]
* doAcknowledge
[code]
* doTransactionAcknowledgeForResponse
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. new a cons

[2022-06-18 14:34] coderzc commented on #15859
@codelipenghui

And why add to the proxy server? not the broker configuration? It's better to add a new section Configuration Change

Sorry, I write it wrongly, it is broker configuration. I will add a new section `Configuration Change`.

[2022-06-19 04:45] boatrainlsz commented on #16056
I'm woking on it

[2022-06-19 08:04] golden-yang opened #16132 "[Functions] Upload nar file to start function task failed"
**Describe the bug**
When we start task in separately pulsar-worker , upload nar file restful request failed.

**To Reproduce**
Steps to reproduce the behavior:
1. Run function workers separately
2. Submit function task to this worker and upload nar file as uploadedInputStream
3. Restful request blocked, and we got nothing

**Solve this issue**
We compare separately function-worker and function-wo

[2022-06-20 01:30] codelipenghui commented on #15370
// Array for buffer transaction log data.
  repeated TransactionMetadataEntry transaction_log = 1;
}

  // Array for buffer pending ack data.
  repeated PendingAckMetadataEntry pending_ack_log=1;
}

we should use plural names for the repeated fields such as entries or records.

[2022-06-20 01:37] momo-jun commented on #16036
Hi @FushuWang thanks for reporting this issue. It has been fixed in this PR(https://github.com/apache/pulsar-site/pull/120). Please try again and let us know of any questions.

[2022-06-20 01:40] momo-jun commented on #15925
Hi @boatrainlsz, thanks for reporting this issue. It has been fixed in this PR(https://github.com/apache/pulsar-site/pull/120). Please try again and let us know of any questions.

[2022-06-20 02:09] hangc0276 commented on #15859
@coderzc
Does the `healthCheck` operation on the broker side triggered by the broker itself? As you described, using plan A will only detect the requested broker, and check whether the broker is healthy or not. If the Pulsar cluster has 1000 brokers, and all the clients connect to the broker by serviceUrl, which only configured three brokers. It means only the three brokers will receive `healthChe

[2022-06-20 03:09] coderzc commented on #15859
@hangc0276
 The healthCheck service on the broker side should be triggered by client instance of regular check by the broker to avoid
 other brokers are idle?

[2022-06-20 04:01] liangyuanpeng commented on #16123
let me check it and work for it.

[2022-06-20 04:03] poorbarcode opened #16135 "[PIP-179] Support the admin API to check unknown request parameters"
### Motivation

The design of the Admin API is now such that if an incorrect parameter name is submitted, this property (if not required) will be ignored, then execution continues, and the response is “204 Success”. This will trick the user into thinking the setup succeeded when it didn't correctly as expected in some cases, as shown below:

User POST request to /{tenant}/{namespace}/{topic}/reten

[2022-06-20 05:07] poorbarcode commented on #15370
OK

[2022-06-20 07:16] fantapsody opened #16137 "The order of items in a configuration field of the type Set is not preserved"
**Describe the bug**
The order of items is not preserved for configuration fields of the type `Set`, just like [`authenticationProviders`](https://github.com/apache/pulsar/blob/8730c22688f90edffa61c201789838cc63e6864d/pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java#L1372). Preserving the order of items in the config would make the program behavior to be more p

[2022-06-20 07:43] momo-jun commented on #13992
Ping @RobertIndie for taking a look.

[2022-06-20 07:46] zbye opened #16139 "pwd"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-06-20 07:53] zbye opened #16140 "Broker often shutdown after using KoP"
**Describe the bug**

**One Broker shutdown with the following logs :**

2022-06-17T13:27:16,824+0800 [main-SendThread(10.187.128.229:2181)] WARN  org.apache.pulsar.broker.service.persistent.PersistentTopic - [persistent://gmtp_cffex/SF_test/bar] Failed to persist msg in store: Error while using ZooKeeper
2022-06-17T13:27:16,824+0800 [main-SendThread(10.187.128.229:2181)] WARN  org.apache.pulsar.b

[2022-06-20 10:06] fmiguelez commented on #15891
It also happens to us when we try to determine a topic compaction threshold.

We use Pulsar 2.8.3.

Error when issuing command to get compaction threshold:

[code]

Error seen on broker:
[code]

[2022-06-20 10:53] xiaotongwang1 opened #16145 "[BUG] ThresholdShedder Bundles Inaccurate traffic statistics"
broker DEBUG Log in leader :

2022-06-20 18:50:20.324 [pulsar-load-manager-1-1] INFO  o.a.p.broker.loadbalance.impl.ThresholdShedder - [x.x.x.x:8080] broker is planning to shed throughput 0.0 MByte/s less than minimumThroughputThreshold 10.0 MByte/s, skipping bundle unload.

ZK STAT

 get /loadbalance/broker-time-average/x.x.x.x:8080

{"shortTermMsgThroughputIn":3.8429246523532754E-20,"shortTermMs

[2022-06-20 12:11] #15629 closed

[2022-06-20 12:11] #15904 closed

[2022-06-20 12:51] eolivelli commented on #15375
@congbobo184 this is my fix
https://github.com/apache/pulsar/pull/16147

[2022-06-20 22:15] frankjkelly commented on #15904
Thanks @Anonymitaet and @momo-jun

[2022-06-21 01:23] #15375 closed

[2022-06-21 02:13] leizhiyuan opened #16151 "support retry strategy when produce message"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

when we restart broker,  client will sometimes fail, but if we support retry internal , they will retry to next partition in another broker (maybe )  will improve the success rate.

**Describe the solution you'd like**
A clear and concise

[2022-06-21 04:06] Jason918 commented on #16135
PIP ID is used by #16042

[2022-06-21 04:09] poorbarcode commented on #16135
I have corrected it. Thanks

[2022-06-21 04:17] Jason918 opened #16153 "PIP-180: Shadow Topic, an alternative way to support readonly topic ownership."
## Motivation

The motivation is the same as [PIP-63](https://github.com/apache/pulsar/wiki/PIP-63%3A-Readonly-Topic-Ownership-Support), with a new use case support for 100K subscriptions broadcast in a single topic.
1. The bandwidth of a broker limits the number of subscriptions for a single topic.
2. Subscriptions are competing for the network bandwidth on brokers. Different subscriptions might

[2022-06-21 07:22] RobertIndie opened #16156 "Flaky-test: AuthPluginTest.testOauth2"
AuthPluginTest.testOauth2 is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/6979360746?check_suite_focus=true#step:11:75)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-06-21 07:22] RobertIndie opened #16157 "Flaky-test: AuthPluginTest.testOauth2CredentialFile"
AuthPluginTest.testOauth2CredentialFile is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/6979360746?check_suite_focus=true#step:11:143)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-06-21 07:33] #16124 closed

[2022-06-21 07:47] px7066 opened #16158 "load liborg_apache_pulsar_shade_netty_transport_native_epoll_x86_64 error"
Register to memory mapping:

RAX=0x0000000000000000 is an unknown value
RBX=0x000056501be467a0 is an unknown value
RCX=0x0000000000000000 is an unknown value
RDX=0x0000000000000003 is an unknown value
RSP=0x00007fb371c06678 is pointing into the stack for thread: 0x000056501e008800
RBP=0x00007fb371c066b0 is pointing into the stack for thread: 0x000056501e008800
RSI=0x0000000000000018 is an unknown

[2022-06-21 10:19] liangyuanpeng commented on #15100
This problem have happen in my case, I begin check it again.

[2022-06-21 11:37] #15978 closed

[2022-06-21 15:48] dlg99 opened #16162 "KCA Sink needs an e2e integration test"
Kafka Connect Adaptor source has integration test via debezium sources.
KCA Sink does not have implementations in Apache Pulsar but it needs e2e tests to ensure it runs on the function worker without classloader conflicts.
FileSink can be used for the tests, similarly to the unit tests.

[2022-06-22 02:52] Technoboy- commented on #13701
Closed by #15712

[2022-06-22 02:52] #13701 closed

[2022-06-22 02:53] Technoboy- commented on #14013
All the tracked methods have been resolved.

[2022-06-22 02:53] #14013 closed

[2022-06-22 02:55] poorbarcode commented on #16135
Discuss Link: https://lists.apache.org/thread/m8vkxl46njm7sh0r1mqsn25jggq9v8kb

[2022-06-22 03:28] codelipenghui commented on #15859
@coderzc I think we should also add a config to disable the new feature. And it's better to make it disabled by default. Others looks good to me.

[2022-06-22 03:39] poorbarcode commented on #15370
@eolivelli @gaoran10 @gaozhangmin @315157973 @lhotari @michaeljmarshall @congbobo184 @Technoboy-   @hangc0276  @merlimat @jiazhai @lhotari  I have start a vote and already send an email, could you take a look.

Discuss Link: https://lists.apache.org/thread/lsmn0hg9np97qrzzh2wovxq1yhxj9qhy

Vote Link: https://lists.apache.org/thread/hykz4fpz6dnz1skzks3h4ht0t3twf70b

[2022-06-22 05:24] gaozhangmin commented on #16151
@Why not do the retry in the application self?

[2022-06-22 05:25] #16139 closed

[2022-06-22 06:32] momo-jun commented on #16112
@urfreespace can you pls take a look? It worked well last week.

[2022-06-22 06:52] Demogorgon314 commented on #15905
The range is 0 to 1.0. I agree with you, and it is a little confusing for users. We might need to explain in the doc.

That is a good catch! We should limit the max weight to 1.0.

[2022-06-22 06:58] coderzc commented on #15859
Disable the feature on the client side or on the broker side?

[2022-06-22 08:12] NiuBlibing opened #16169 "Error when get a non-persist topic info which is not initialized with jwt token"
[code]

**To Reproduce**
1. set up a pulsar(v2.10.0) cluster with jwt key pair
2. `curl -v http://localhost:8080/admin/v2/non-persistent/test-tenant/ns1 -H "Accept: application/json" -H "Authorization: Bearer [token]" -H "user-agent: Pulsar-test-v2.7.0"`, which the pulsar-manager v0.3.0 dose
3. get the java back trace response

[2022-06-22 08:54] urfreespace commented on #16112
OK, I will take a look later.

[2022-06-22 09:18] leizhiyuan commented on #16151
we can not ask users do anything,  if we allow failfast and failover ,the users will have an easy way to use pulsar client

[2022-06-22 09:49] NiuBlibing commented on #16169
There may be a mistake in the [docoument](https://pulsar.apache.org/docs/security-jwt/#enable-token-authentication-on-brokers).The `brokerClientAuthenticationParameters` should be `brokerClientAuthenticationParameters=file///path/to/proxy-token.txt` rather than json format `# brokerClientAuthenticationParameters={"file":"///path/to/proxy-token.txt"}`
[code]

[2022-06-22 10:30] imqishi opened #16173 "Normal & Delay Message stuck monitor"
Keypoint is to **monitor message consuming is correct and not stuck**. Now I want to monitor this.
First I found there's GetLatestMessageID method to get partition's latest message_id, then I can sub current consuming message_id to calculate the partition's backlog;
but delayed message cannot be count by this, and I don't find any method to access delayed message num or position info, so is there

[2022-06-22 10:43] Anonymitaet opened #16174 "[improve][website] highlight navigation menus when scrolling on a page"
### Issue

1. On the [old Pulsar website](https://pulsar.staged.apache.org/docs/en/next/getting-started-standalone/), menu items are highlighted when scrolling.

<img width="1444" alt="image" src="https://user-images.githubusercontent.com/50226895/175008827-d8ee0ed7-097c-49a3-980e-caf93b42238d.png">

However, it disappears on the [new Pulsar website.](https://pulsar.apache.org/docs/next/getting-st

[2022-06-22 12:19] akshayar opened #16176 "AWS Deployment using terraform | all nodes have SSH open to the world"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the enhancement is.
I am referring to https://github.com/apache/pulsar/blob/master/deployment/terraform-ansible/aws/security.tf. The default security group (SG) opens SSH to the world and this SG gets applied to all the nodes. This is not a right practice. I would recommend opening only t

[2022-06-22 12:55] codelipenghui commented on #15859
The broker side.

[2022-06-22 14:20] yapxue commented on #15948
@lujiwen pulsar count number of entries. Did you enabled batching in producer side?

[2022-06-22 14:44] tjiuming opened #16178 "[broker][monitoring]Support push metrics data to remote endpoint"
**Is your enhancement request related to a problem? Please describe.**
Currently, pulsar only support expose metrics data by PULL.
I believe we also need to support PUSH.

If we support expose metrics data by PUSH, it could solve some existing problems:

1. scraping metrics data cause high network usage
2. high CPU usage when calculate metrics data.
3. high memory usage when write metrics data

Al

[2022-06-22 14:44] tjiuming commented on #16178
@codelipenghui  Please assign to me

[2022-06-22 15:04] Anonymitaet opened #16180 "[improve][website] highlight tab"
### Issue

Tab is not highlighted
https://pulsar.apache.org/docs/next/functions-develop
<img width="1259" alt="image" src="https://user-images.githubusercontent.com/50226895/175063397-cc575349-3467-4bee-ab10-6c58d363f89d.png">

### Expected behavior
Tab is highlighted (or any better way to make the tab which is being read more prominent?)
https://docusaurus.io/docs/next/markdown-features/tabs#cust

[2022-06-22 15:05] brigen opened #16181 "Unauthorized; error code: 401 when using pulsar-io-kafka connector with schema-registry that requires auth"
Got com.google.common.util.concurrent.UncheckedExecutionException: java.lang.RuntimeException: io.confluent.kafka.schemaregistry.client.rest.exceptions.RestClientException: Unauthorized; error code: 401
when trying to use kafka-source connector with schema registry that requires basic auth

#### Steps to reproduce
Start the connector that connects to a kafka-broker, but with KafkaAvroDeserializer

[2022-06-22 17:22] #16056 closed

[2022-06-22 19:57] gantryyork opened #16184 "pulsar.Client() needs option to supress STDOUT"
**Is your feature request related to a problem? Please describe.**
This isn't necessarily a problem, but requires a workaround

**Describe the solution you'd like**
Simply add
client = pulsar.Client(ip, stdout=False)

**Describe alternatives you've considered**
Otherwise I have to manually supress stdout when I call pulsar.Client() or producer.send()

**Additional context**
Add any other context o

[2022-06-22 23:35] silrag opened #16186 "Es-sink not publishing to indexName with date append"
**Describe the bug**
A clear and concise description of what the bug is.

Pulsar version: apache-pulsar-2.10.0
ES version: 7.17.0

Running an es-sink connector with sink-config field "indexName": "my_index-%{+yyyy-MM-dd}"  as suggested in the documentation. https://pulsar.apache.org/fr/docs/next/io-elasticsearch-sink/

However whenever the connector consumes a message and pushes to ES, the date is

[2022-06-22 23:48] silrag commented on #16186
@fantapsody I see you originally contributed to this feature in [Issue 13019]. Am I using the right version with the feature available/enabled? Thanks

[2022-06-23 03:16] TianFeng111 opened #16187 "[topic][HTTP 500 Internal Server Error] when trying to delete a partitioned topic"
Describe the bug

Pulsar version: apache-pulsar-2.10.0

When I trying to delete a partitioned topic with admin-cli :

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your prob

[2022-06-23 03:16] #16187 closed

[2022-06-23 03:33] TianFeng111 opened #16188 "[topic][HTTP500 Internal Server Error] unexpected error when trying to delete partitioned-topic with admin-cli"
**Describe the bug**
A clear and concise description of what the bug is.

**Pulsar version:** apache-pulsar-2.10.0
**When I trying to delete partitioned-topic with admin-cli like this:**
==> pulsar-admin topics delete-partitioned-topic {persistent|non-persistent}
**Got result :**Failed to perform http delete request: javax.ws.rs.InternalServerErrorException: HTTP 500 Internal Server Error

[2022-06-23 04:13] #16063 closed

[2022-06-23 08:52] urfreespace commented on #16112
@dave2wave @momo-jun Fixed, PTAL, thanks.

[2022-06-23 08:55] pfalez opened #16193 "Function State differs between Java SDK and Rest API"
**Describe the bug**
When storing a buffer larger than 130 bytes with Java Functions SDK, retrieving this buffer with the Rest API give a larger buffer.

Example with a buffer of size 131

Stored buffer: (size: 131)
`0a8001127e0a172e6576656e74732e437573746f6d65724372656174656412630a2432336366666263652d623038342d346631352d616565342d32633064313535613166636312026e311a370000000000000000000000000000000

[2022-06-23 11:27] BewareMyPower opened #16195 "Message chunking might not work in certain cases after PIP 132"
**Describe the bug**
Sometimes a large message cannot be split into chunks and then failed to pass the `isMessageSizeExceeded` check. It's a bug introduced from PIP-132 (https://github.com/apache/pulsar/pull/14007).

**To Reproduce**

Add the following unit test to `MessageChunkingTest`:

[code]

It will fail with

**Expected behavior**
It should not fail. Instead, this message should be split int

[2022-06-23 13:04] coderzc commented on #16193
It seems should use `response.data.byteValue` to receive the buffer.

[2022-06-23 13:07] pfalez commented on #16193
Yes but this field is always undefined, I don't known how to force pulsar to answer byte instead of string

[2022-06-23 13:50] coderzc commented on #16193
Because it priority to returns a string value first, it does not return a byte value until the string decode failed.

But string decode seems to have a bug, I will try to fix it.

[2022-06-23 16:34] #15899 closed, assigned to nobody

[2022-06-23 18:36] devinbost opened #16203 "[Doc] Batch index acknowledgment doc doesn't mention requirement to enable it in client"
### What issue do you find in Pulsar docs?

In the doc for batching (https://pulsar.apache.org/docs/next/concepts-messaging/#batching), it mentions the need to enable batch index acknowledgment on the broker, but it omits the important detail of enabling it in the consumers.

As you can see from https://github.com/apache/pulsar/blob/bb0e0f2b432bbcdd67a59d8c08cf768811c459ec/pulsar-client/src/main/j

[2022-06-24 01:46] 704237006 opened #16206 "pulsar-io-hdfs3 error"
**Describe the bug**
try to create a pulsar-io-hdfs3 sink connector get error

**To Reproduce**
Steps to reproduce the behavior:
1. create sink-config-file as Picture 1。Make sure core-site.xml and hdfs-site.xml is correct，and directory exist 。
2.  create sink:
bin/pulsar-admin sink create \
--archive connectors/pulsar-io-hdfs3-2.10.0-SNAPSHOT.nar \
--inputs persistent://public/default/hdfs_test_3

[2022-06-24 03:13] xuesongxs opened #16207 "Exception when iterating through the ledgers to check for over-replication"
**Describe the bug**
![image](https://user-images.githubusercontent.com/54351417/175454358-fba12119-7274-4446-a5ca-10f24d3503d4.png)
Pulsar v2.8.1
Exceptions thrown when pulsar cluster is running.

[2022-06-24 08:47] ningpp opened #16208 "upgrade commons collections to 4.4"
commons-collections 3 is too old.

[2022-06-24 09:40] fantapsody commented on #16186
Hi @silrag , I just checked the code, and the PR was cherry-picked to the branch 2.10 after the release of 2.10.0: https://github.com/apache/pulsar/tree/v2.10.0/pulsar-io/elastic-search/src/main/java/org/apache/pulsar/io/elasticsearch

You can wait for the release of 2.10.1 which should include this commit but has not been released yet, or you can build the sink from the master or the 2.10 branch

[2022-06-24 09:54] lujiwen commented on #15948
@yapxue yes I did

[2022-06-24 10:27] jbgzz opened #16210 "Problems with Reader mode"
Is there no ACK when using pulsar Reader mode? Because every time a Reader restarts, it reads the message that was read before. If there are multiple Reader instances, each Reader will read the same data, resulting in repeated reads, is this the design?

[2022-06-24 15:42] michaeljmarshall commented on #13342
Closing this issue and marking as fixed for now since there is a likely fix and the issue hasn't been reproduced against more fixed versions of Pulsar.

[2022-06-24 21:06] michaeljmarshall opened #16214 "Optimize AbstractTopic#getBytesOutCounter and AbstractTopic#getMsgOutCounter"
**Is your enhancement request related to a problem? Please describe.**
In reading through the `AbstractTopic` code, I noticed that there are some inefficient stat generations. Specifically:

https://github.com/apache/pulsar/blob/b23689930e3af65cfc913e2890164a071acda440/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractTopic.java#L1135-L1141

**Describe the solution you'd like**

[2022-06-25 06:31] michaeljmarshall commented on #15984
@urfreespace @Anonymitaet - is there any way you can help debug this? A few months ago, I understood how the docs were built and how to make sure the `replace.js` script properly replaced the links in the docs. Those files are now moved and I don't know what the current workflow is. Is there anywhere that we document how the `pulsar` and the `pulsar-site` repositories relate to each other? Thanks.

[2022-06-25 06:32] michaeljmarshall commented on #16094
+1. I think we need to fix this. I plan to spend some time next week looking at this.

[2022-06-26 11:52] SignorMercurio commented on #15958
I would like to help with this. Could you please assign this to me?

[2022-06-27 01:51] Anonymitaet commented on #15958
@SignorMercurio cool! Assigned.

[2022-06-27 02:20] gaozhangmin commented on #16210
@jbgzz  Yes, reader interface uses non-durable cursor, it won't store the cursor data.

[2022-06-27 02:39] jbgzz commented on #16210
So what are the scenarios for the Reader model, which is supposed to be unfriendly to most businesses right now

[2022-06-27 02:39] jbgzz commented on #16210
So what are the scenarios for the Reader model, which is supposed to be unfriendly to most businesses right now

[2022-06-27 06:06] rdhabalia commented on #15631
@coderzc why can't we use SNI routing and use enterprise solution
https://github.com/apache/pulsar/wiki/PIP-60%3A-Support-Proxy-server-with-SNI-routing
eg: ATS, HAProxy?  why are we adding unnecessary component and complex module in pulsar git repo?

[2022-06-27 07:27] xuesongxs opened #16237 "Failed to flush mark-delete position"
**Describe the bug**
Pulsar v2.8.1
broker log:
[pulsar/iot/persistent/19_rate_merge-partition-0][consumer19] Failed to flush mark-delete position
org.apache.bookkeeper.mledger.ManagedLedgerException: java.lang.IllegalArgumentException: Mark deleting an already mark-deleted position
Caused by: java.lang.IllegalArgumentException: Mark deleting an already mark-deleted position
	at org.apache.bookkeep

[2022-06-27 13:38] startjava commented on #11413
我的天.2.10版本还有这个问题！

2022-06-27T21:29:37,012+0800 [main-SendThread(127.0.0.1:2181)] WARN  org.apache.zookeeper.ClientCnxn - An exception was throw                                                                                                        n while closing send thread for session 0x100001299940005.
org.apache.zookeeper.ClientCnxn$EndOfStreamException: Unable to read additional data from ser

[2022-06-27 13:40] startjava opened #16242 "version 2.10单机启动出现近10个异常，我已经无语了，和2.8，2.9版本一样，旧版有的启动异常新版还有！"
2022-06-27T21:29:38,379+0800 [main] INFO  org.apache.bookkeeper.stream.server.service.RegistrationStateService - Successfully register myself under registration path /stream/servers/127.0.0.1:4181
2022-06-27T21:29:38,394+0800 [main] INFO  org.apache.bookkeeper.stream.server.service.ClusterControllerService - Successfully started the cluster controller.
2022-06-27T21:29:38,733+0800 [client-schedule

[2022-06-27 13:40] startjava commented on #16242
2022-06-27T21:29:39,792+0800 [client-scheduler-OrderedScheduler-0-0] ERROR org.apache.bookkeeper.clients.impl.internal.RootRangeClientImplWithRetries - Reason for the failure {}
io.grpc.StatusRuntimeException: NOT_FOUND
        at io.grpc.Status.asRuntimeException(Status.java:535) ~[io.grpc-grpc-api-1.42.1.jar:1.42.1]
        at io.grpc.stub.ClientCalls$UnaryStreamToFuture.onClose(ClientCalls.java

[2022-06-27 13:41] startjava commented on #16242
2022-06-27T21:29:52,346+0800 [pulsar-web-56-5] WARN  org.apache.pulsar.broker.admin.impl.ClustersBase - [null] Failed to create already existing cluster global
2022-06-27T21:29:52,347+0800 [pulsar-web-56-5] ERROR org.apache.pulsar.broker.admin.impl.ClustersBase - [null] Failed to create cluster global
org.apache.pulsar.broker.web.RestException: Cluster already exists
        at org.apache.pulsar.b

[2022-06-27 13:42] startjava commented on #16242
2022-06-27T21:37:27,593+0800 [main-SendThread(127.0.0.1:2181)] WARN  org.apache.zookeeper.ClientCnxn - An exception was thrown while closing send thread for session 0x10000129994000a.
org.apache.zookeeper.ClientCnxn$EndOfStreamException: Unable to read additional data from server sessionid 0x10000129994000a, likely server has closed socket
        at org.apache.zookeeper.ClientCnxnSocketNIO.doIO(C

[2022-06-27 13:42] startjava commented on #16242
2022-06-27T21:37:27,837+0800 [main-SendThread(127.0.0.1:2181)] WARN  org.apache.zookeeper.ClientCnxn - An exception was thrown while closing send thread for session 0x100001299940009.
org.apache.zookeeper.ClientCnxn$EndOfStreamException: Unable to read additional data from server sessionid 0x100001299940009, likely server has closed socket
        at org.apache.zookeeper.ClientCnxnSocketNIO.doIO(C

[2022-06-27 13:42] startjava commented on #16242
2022-06-27T21:37:33,043+0800 [DLM-/stream/storage-OrderedScheduler-0-0-SendThread(127.0.0.1:2181)] WARN  org.apache.zookeeper.ClientCnxn - An exception was thrown while closing send thread for session 0x100001299940008.
org.apache.zookeeper.ClientCnxn$EndOfStreamException: Unable to read additional data from server sessionid 0x100001299940008, likely server has closed socket
        at org.apache.

[2022-06-27 13:42] startjava commented on #16242
2022-06-27T21:37:33,145+0800 [DLM-/stream/storage-OrderedScheduler-0-0-EventThread] INFO  org.apache.zookeeper.ClientCnxn - EventThread shut down for session: 0x100001299940008
2022-06-27T21:37:33,147+0800 [main-SendThread(127.0.0.1:2181)] WARN  org.apache.zookeeper.ClientCnxn - An exception was thrown while closing send thread for session 0x100001299940006.
org.apache.zookeeper.ClientCnxn$EndOfSt

[2022-06-27 13:43] startjava commented on #16242
启动的过程中，出现有10个左右异常，我不知道是pulsar的原因还是我不会使用，请教了。

[2022-06-27 13:44] Technoboy- commented on #16237
@merlimat
When the above exception occurs, can we consider `asyncMarkDelete` successfully?
If so, I will push a patch to improve it.

[2022-06-27 14:04] KannarFr commented on #10105
@merlimat does StreamNative plan to work on this?

[2022-06-27 14:23] startjava opened #16244 "2.8->2.10 version，start pulsar show exception：org.apache.pulsar.broker.web.RestException: Cluster already exists"
future version fix，thank you

[2022-06-27 20:39] frankjkelly opened #16249 "Pulsar Admin API client should support retries on operations"
**Is your enhancement request related to a problem? Please describe.**
When autoscaling brokers up and down the namespace bundles move about.
I would like for the Admin Client to handle the retries when a namespace bundle moves and I am trying to either create a new topic or delete a topic.

As best I can tell the Pulsar Client Admin code does not support retries .

Compare Admin Client https://gi

[2022-06-27 21:58] #15972 closed

[2022-06-27 22:06] #16036 closed

[2022-06-27 22:06] #15925 closed

[2022-06-27 22:08] Anonymitaet commented on #15959
This issue has been fixed.

[2022-06-27 22:08] #15959 closed

[2022-06-27 22:09] Anonymitaet commented on #15879
The links work well.

[2022-06-27 22:09] #15879 closed

[2022-06-27 22:30] nicoloboschi opened #16250 "PIP-181: Pulsar Shell"
[Interactive mode demo](https://user-images.githubusercontent.com/23314389/176125261-35e123a1-1826-4553-b912-28d00914c0e4.mp4)

[Non interactive mode demo](https://user-images.githubusercontent.com/23314389/176178618-0bdc6cb3-05e3-4967-885a-646182d613ae.mp4)

## Motivation

Currently Pulsar comes with a couple of utility scripts with the goal of managing an existing cluster, test behaviours and ve

[2022-06-28 00:08] benbro commented on #15972
I don't think the log level changed. This is still an issue.

[2022-06-28 01:08] startjava opened #16252 "what mean param : pulsar -nss -nfw"
-nss -nfw param what mean ?
thank you !

[2022-06-28 01:23] startjava opened #16253 "2.10 version run：./pulsar standalone -nss -nfw result exception"
六月 28, 2022 9:19:02 上午 org.glassfish.jersey.internal.Errors logErrors
警告: The following warnings have been detected: WARNING: Return type, java.util.Map<java.lang.String, ? extends org.apache.pulsar.common.policies.data.NamespaceIsolationData>, of method, public java.util.Map<java.lang.String, ? extends org.apache.pulsar.common.policies.data.NamespaceIsolationData> org.apache.pulsar.broker.admin.i

[2022-06-28 01:32] momo-jun commented on #15972
We closed this doc issue because the reported doc gaps have been fulfilled. Regarding the log levels, the doc cannot be changed unless the code is changed. So you can create a new thread for log issue triage and scope if required. Hope it helps.

[2022-06-28 02:59] #15984 closed

[2022-06-28 03:00] michaeljmarshall commented on #15984
Following up here, I now see how the docs are made. Some docs are synced from this repo to the pulsar-site repo. Then, there are scripts in the site2/website site2/website-next directories. Scripts are run against the `main` branch there, and then the final website build is pushed to `asf-site-next`. (We no longer build the `website` or the `asf-site` version of the website, we only build the `-ne

[2022-06-28 03:16] momo-jun commented on #12023
I think it is not necessary. If there is a limit, we should document it; if not, it's good to go and don't over-communicate.

[2022-06-28 03:29] momo-jun commented on #16017
@codelipenghui can you pls share your idea on this?

[2022-06-28 03:29] michaeljmarshall commented on #15984
Confirming that the website-next built and works correctly!

[2022-06-28 04:49] Anonymitaet commented on #12023
I think it makes sense to document this to reduce guesswork. Other users may have the same issue if we do not explain it explicitly.

[2022-06-28 05:13] michaeljmarshall commented on #13289
I'm going to close this issue for the same justification provided here https://github.com/apache/pulsar/issues/13342#issuecomment-1145151323.

It's like that this issue was solved in a subsequent release of Pulsar.

[2022-06-28 05:13] #13289 closed

[2022-06-28 05:22] gaozhangmin commented on #16242
@startjava
[code]
This error is ok when startup.

[2022-06-28 05:23] michaeljmarshall commented on #12023
I don't know of length restrictions, but there are character restrictions for tenants and namespaces. Here is the comment in the code:

https://github.com/apache/pulsar/blob/eec46ddcba4d2b4f956e1b4d63154cc43087f507/pulsar-common/src/main/java/org/apache/pulsar/common/naming/NamedEntity.java#L30-L33

Note that the logic does not apply to topic names for some reason. I don't know why.

[2022-06-28 05:23] startjava commented on #16242
@gaozhangmin   error is ok ???  why ??? bug ?? thank you

[2022-06-28 05:27] gaozhangmin commented on #16210
The reader interface provides Pulsar clients with the low-level abstraction necessary to "manually position" themselves within a topic.
If you want manually manage offset, reader is a choice

[2022-06-28 06:14] startjava opened #16262 "After version 2.10, it is recommended to fix more than 20 exceptions during startup"
[启动报错.txt](https://github.com/apache/pulsar/files/8998151/default.txt)

[2022-06-28 06:33] #16195 closed

[2022-06-28 06:43] gaozhangmin commented on #16242
@startjava  This  is not a bug, maybe need some improvement.

[2022-06-28 06:57] RobertIndie commented on #16244
Could you provide the broker log and other related information if possible?

[2022-06-28 07:07] #16242 closed

[2022-06-28 07:17] BewareMyPower commented on #8622
It's already done by [PIP-155](https://github.com/apache/pulsar/issues/15185).

[2022-06-28 07:17] #8622 closed

[2022-06-28 07:18] nicoloboschi commented on #16252
Hi @startjava please use this command to see the full options explanation
[code]

`-nss` will disable the stream storage component
`-nfw` will disable the function worker component

they're useful because they speed up the startup when you don't need these features

[2022-06-28 07:18] #16252 closed

[2022-06-28 09:26] bpereto commented on #14732
/remove stale

[2022-06-28 13:14] #16208 closed

[2022-06-28 16:03] #16137 closed

[2022-06-28 22:02] #15958 closed

[2022-06-29 01:23] codelipenghui opened #16270 "[branch-2.10]Flaky-test: PulsarDebeziumOracleSourceTest.testDebeziumOracleDbSource"
[code]

[example failure](https://github.com/apache/pulsar/runs/7102968484?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-06-29 02:04] SignorMercurio commented on #9717
I believe there's an incomplete fix for this issue: apache/pulsar-site#80. I would like to complete the fix, could you please assign this issue to me?

[2022-06-29 02:20] Nicklee007 opened #16272 "[bug][broker] The local police IsolationGroups permanent cover the defaultIsolationGroups"
**Describe the bug**
When we set the isolation policy `bookkeeperClientIsolationGroups=group1`  in `broker.conf`  as the `defaultIsolationGroups` for the namespace bundle which in the brokers , and then we set the dynamic isolation policy like `set-bookie-affinity-group public/default --primary-group group2` the IsolationGroups is covered by the local policy.
But after invoke `delete-bookie-affini

[2022-06-29 03:04] horizonzy commented on #14928
The pr https://github.com/apache/pulsar-site/pull/127 submit, maybe fix this problem

[2022-06-29 03:42] HQebupt opened #16274 "PIP-181: Provide new implementation for ModularLoadManagerStrategy"
## Motivation
The modular load manager, implemented in ModularLoadManagerImpl, is a flexible alternative to the previously implemented load manager, which attempts to simplify how load is managed while also providing abstractions so that complex load management strategies may be implemented.

The load management component determines the criteria for unloading bundles and contains the following loa

[2022-06-29 04:03] Anonymitaet commented on #9717
@SignorMercurio people can not be assigned until he/she leaves a comment on that issue. Would you like to leave a comment on that issue? Then I can assign it to you

[2022-06-29 05:12] Anonymitaet opened #16275 "[feat][community] Enable GitHub Discussions"
## Context

ML:
https://lists.apache.org/thread/83pst643h9cqcryo3zsjd240jmqzvn73
https://lists.apache.org/thread/1y7zbchlbokwnpd0jv2tt5jtzg6px6yn

We need to define what kind of messages that should be synced between GitHub Discussion and ML and research on how to achieve that.

Anyone would like to help? Thank you!

[2022-06-29 05:48] SignorMercurio commented on #9717
@Anonymitaet Sorry, I mean assigning this issue (#9717) to me. apache/pulsar-site#80 is just a pull request I referenced.

[2022-06-29 05:59] #16058 closed

[2022-06-29 07:13] nahguam commented on #16214
I can look at this one

[2022-06-29 09:33] BohanZhang0222 opened #16280 "geo-replication AuthenticationException: Unable to authenticate"
#### Actual behavior
##### broker.log
16:18:10.795 [pulsar-io-4-16] WARN  org.apache.pulsar.broker.service.AbstractReplicator - [persistent://public/x01/iot-signal-canlog-testtwo-partition-0][pulsar-cluster-ontest-1 -> pulsar-ontest] Failed to create remote producer (org.apache.pulsar.client.api.PulsarClientException$AuthenticationException: Unable to authenticate), retrying in 57.915 s

##### sou

[2022-06-29 11:03] nodece opened #16283 "[Test] Add an integration test to verify the authentication data source of authorization provider"
In Pulsar, the default authorization provider doesn't use the authentication data source, but when we make a custom authorization provider, usually we need to get the authentication data. Because the pulsar lacks the test of this scenario, so leads to the issue mentioned in #16201.

[2022-06-29 11:20] visortelle opened #16284 "Partitioned topics stats doesn't appear in "pulsar-admin broker-stats topics" response until get the specific topic stats manually"
**How to reproduce**

- Create a partitioned topic

  `pulsar-admin topics create-partitioned-topic -p 2 persistent://public/default/prt-1`

- Wait for about a minute and try to get broker topics stats

  `pulsar-admin broker-stats topics -i | grep prt`

  You'll get an empty output.

- Now try to get the specific topic stats

  `pulsar-admin topics partitioned-stats persistent://public/default/pr

[2022-06-29 12:41] AnonHxy commented on #16284
The topic's stats comes from `PulsarStats`, which updated at fix rate. You can set `statsUpdateFrequencyInSecs`(default 60) and `statsUpdateInitialDelayInSecs`(default 60) to config it.

[2022-06-29 12:56] visortelle commented on #16284
@AnonHxy, thank you for the reply.

I wait 120 seconds here and get no output:

<img width="664" alt="Screen Shot 2022-06-29 at 2 52 57 PM" src="https://user-images.githubusercontent.com/9302460/176440869-c2f18b15-8d09-4720-a7b8-94bf0cc97b40.png">

I waited about 5 minutes with the same result.

This behavior is only for partitioned topics.

Please try to reproduce it.

[2022-06-29 21:09] #15207 closed

[2022-06-30 01:21] Anonymitaet commented on #9717
@SignorMercurio ok, assigned

[2022-06-30 02:13] xjfeng306602097 opened #16291 "Exception occurs when runs clickhouse sink"
**Describe the bug**
I use standalone mode to start pulsar and plan to localrun sink to clickhouse, but when after running command './bin/pulsar-admin sinks localrun --archive ./connectors/pulsar-io-jdbc-clickhouse-2.10.0.nar --inputs public/default/mail_stat_goods_click_sink --name pulsar-clickhouse-goods-click-jdbc-sink --sink-config-file ./connectors/pulsar-clickhouse-goods-click-jdbc-sink.yaml

[2022-06-30 02:26] Technoboy- commented on #16280
Can you use the above `authenticationPlugin` and `authenticationParameters` to create the PulsarClient to build producer ?

[2022-06-30 04:11] NiuBlibing opened #16294 "s3ManagedLedgerOffloadReadBufferSizeInBytes not work when set in broker"
**Describe the bug**
When set s3ManagedLedgerOffloadReadBufferSizeInBytes,managedLedgerOffloadMaxThreads,managedLedgerOffloadPrefetchRounds in the broker.conf,it not work in namespace.

**To Reproduce**
Steps to reproduce the behavior:
1. set the configures in the broker.conf
2. trigger the offload for a namespace `bin/pulsar-admin namespaces set-offload-threshold --size 100M test-tenant2/ns2`
3.

[2022-06-30 06:17] momo-jun commented on #16112
@urfreespace this issue reopens on this page: https://pulsar.apache.org/docs/2.10.0/admin-api-brokers/.

[2022-06-30 06:52] coderzc commented on #16284
I think the partition topic has not been created until when we really use it (create a producer/consumer).

[2022-06-30 07:19] gaozhangmin commented on #16294
I will take a look

[2022-06-30 07:30] NiuBlibing commented on #16294
my broker config is
[code]
It's not work, the offloader use the default config which fetch s3 ledgers 1MB without pretch leading the throughtoutput is only about 10Mbit/s

[2022-06-30 07:37] RobertIndie opened #16296 "Flaky-test: Segmentation fault in CPP Tests"
There is a segmentation fault in the CPP test. I couldn't find the specific failing test in the log. Could someone take a look? Thanks.

[example failure](https://github.com/apache/pulsar/runs/7125015873?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</de

[2022-06-30 07:41] liangyepianzhou opened #16297 "The link to the Pulsar admin doc is invalid."
**Describe the bug**
The [link](https://pulsar.apache.org/zh-CN/docs/next/admin-api-clusters#:~:text=see%20Pulsar%20admin%20doc) to pulsar admin doc is invalid.
![image](https://user-images.githubusercontent.com/55571188/176620785-644f0771-69a0-48f6-b188-181b37e37fe5.png)

[2022-06-30 07:58] NiuBlibing commented on #16294
It not works even when set the value by `bin/pulsar-admin namespaces set-offload-policies test-tenant/ns1 -rbs 128M -d aws-s3 -b jr-pulsar -oat 100M -e http://[xxxx]`
It works when set the value by the `bin/pulsar-admin namespaces set-offload-policies test-tenant/ns1 -rbs 128M -d aws-s3 -b jr-pulsar -oat 100M -e http://[xxxx]` command and need to restart the broker.

[2022-06-30 07:59] NiuBlibing commented on #16294
But I didn't found how to set the managedLedgerOffloadPrefetchRounds config with the command.

[2022-06-30 08:17] gaozhangmin commented on #16294
There is a bug, I will fix it.

[2022-06-30 08:18] RobertIndie commented on #11704
Still fail after https://github.com/apache/pulsar/pull/13656 merge:
https://github.com/apache/pulsar/runs/7126133660?check_suite_focus=true

Here is another PR to try to fix this issue: https://github.com/apache/pulsar/pull/16238

[2022-06-30 08:26] gaozhangmin commented on #16294
Are you testing with standalone？ @NiuBlibing N

[2022-06-30 08:39] NiuBlibing commented on #16294
[multi-cluster](https://pulsar.apache.org/docs/next/deploy-bare-metal-multi-cluster)

[2022-06-30 08:53] visortelle commented on #16284
@coderzc

I use `apachepulsar/pulsar:2.10.0` docker image with `bin/pulsar standalone` command.

I have only one standalone.conf (broker.conf) option override:

[code]

If the step you mentioned is critical to reproduce, feel free to ask me to record a video or create a repo with docker-compose and the configs.

[2022-06-30 08:55] NiuBlibing commented on #16294
But when I removed the namespace policies,It didn't use the configurations in the broker.conf, and when I set the namespace policies,it need to restart the cluster brokers to take effect.

[2022-06-30 09:01] gaozhangmin commented on #16294
You need do topic unload to make it take effect.

[2022-06-30 09:03] urfreespace commented on #16112
fixed, pls check, and https://pulsar.apache.org/docs/2.10.0/admin-api-brokers/ is wrong link, the correct URL is https://pulsar.apache.org/docs/admin-api-brokers/

[2022-06-30 09:07] momo-jun commented on #16112
@urfreespace thank you. @Anonymitaet then this issue can be closed.

[2022-06-30 10:06] NiuBlibing commented on #16294
Thx, I've tried unload the topic, and the `bin/pulsar-admin namespaces set-offload-policies test-tenant/ns1 -rbs 128M -d aws-s3 -b jr-pulsar -oat 100M -e http://[xxxx]` works.
But but the broker.conf was still not work for me, when I removed the policies by `bin/pulsar-admin namespaces remove-offload-policies test-tenant/ns1` and unload the topic, it used the default config rather than the broker'

[2022-06-30 10:15] #16112 closed

[2022-06-30 11:25] ethqunzhong commented on #16294
it seems that namespace-offload-policies not merge with broker config.
i set `managedLedgerOffloadMaxThreads=10` in broker.conf and test in standalone mode, this argument take effort in PulsarService, but when i check my offloaded-namespace's policies  still see `managedLedgerOffloadMaxThreads=2`

[2022-06-30 12:00] gaozhangmin commented on #16294
Yes, they are independent with each other.

[2022-06-30 12:01] NiuBlibing commented on #16294
I think it should also be supported for s3, so that it can download parallelly for me.

[2022-06-30 12:03] gaozhangmin commented on #16294
I am not familiar with these storage, I cannot be sure  `managedLedgerOffloadPrefetchRounds ` `managedLedgerOffloadMaxThreads ` should be supported

[2022-06-30 12:04] NiuBlibing commented on #16294
But the `s3ManagedLedgerOffloadReadBufferSizeInBytes` was not effect for me,I checked the packet by tcpdump, the http range header was the default value 1MB rather than the value in the broker.conf

[2022-06-30 12:09] ethqunzhong commented on #16294
what is the offloader-driver you set?
and you cloud try this conf `managedLedgerOffloadReadBufferSizeInBytes`

[2022-06-30 12:13] NiuBlibing commented on #16294
s3,
[code]
[code]

[2022-06-30 13:07] eolivelli commented on #15673
@mattisonchao would you be interested in taking a look ?

[2022-06-30 13:25] NiuBlibing commented on #16294
![064A2F76-7D2C-496f-B358-E4783408E4BC](https://user-images.githubusercontent.com/88433283/176688117-0d3fe2a1-69a7-4def-92f2-e0e8b94a8de7.png)
![2FCC12C2-16E2-467e-A152-9B0CAD21CC4D](https://user-images.githubusercontent.com/88433283/176688171-55006807-58d2-4c8c-b87f-125cfbbb5ae3.png)
Then check the packets with wireshark, found the s3 download request range header is `Range: bytes=681574528-68262

[2022-06-30 13:58] jon-hanson opened #16307 "[Doc] cookbooks-partitioned page has link to an admin-api-topics page that doesn't exist"
### What issue do you find in Pulsar docs?

This page

https://pulsar.apache.org/docs/cookbooks-partitioned/

contains a link to this URL:

https://pulsar.apache.org/docs/cookbooks-partitioned/admin-api-topics

which doesn't exist - I get the following response if I open the URL:

Older versions of the documentation have a similar issue, e.g., last link on this page:

https://pulsar.apache.org/doc

[2022-06-30 18:31] heesung-sn commented on #16274
This proposal looks good to me.

[2022-06-30 20:09] phptib opened #16311 "[Python Schema] Incomplete schema with collections of Enums"
**Describe the bug**
Enum symbols are not present in the python schema when the Enum is packed in an Array or a Map. Then, the schema verification done at server side is less precise.

**To Reproduce**
You can run the next tests with and without the proposition of fix.
[code]
Sorry for not taking the time to follow the contributing process.

**Expected behavior**
In addition to the expected schema

[2022-06-30 22:02] #13067 closed

[2022-07-01 02:13] RobertIndie commented on #10788
This issue still happens: https://github.com/apache/pulsar/runs/7130098037?check_suite_focus=true

[2022-07-01 02:49] Anonymitaet commented on #16180
@SignorMercurio

[2022-07-01 02:53] coderzc commented on #15859
@michaeljmarshall I went back to you, please take a look, thanks
https://lists.apache.org/thread/6td3wyfybsys4vf1tgf7fxy36w10nb5k

[2022-07-01 02:56] nodece opened #16314 "[Branch-2.7][Test] Failed tests"
### Motivacation

Currently, we have multiple errors in the test, the test failure log:

[code]

[code]

### Effected PR

- [ ] #16278

### Todo

- [ ] AuthenticationTlsHostnameVerificationTest#testTlsSyncProducerAndConsumerWithInvalidBrokerHost, testTlsSyncProducerAndConsumerCorrectBrokerHost, testDefaultHostVerifier,
- [ ] BrokerServiceTest#`testTopicLoadingOnDisableNamespaceBundle`
- [ ] TlsPro

[2022-07-01 03:05] #16214 closed

[2022-07-01 03:25] Technoboy- commented on #16284
`broker-stats` will list the topics which are loaded by the current broker.  So if you create the partitioned topic but without loading it (create producer/consumer),  it can't be listed. Even if you use the `topics partitioned-stats`.

[2022-07-01 03:25] Technoboy- commented on #16284
`broker-stats` will list the topics which are loaded by the current broker.  So if you create the partitioned topic but without loading it (create producer/consumer),  it can't be listed. Even if you use the `topics partitioned-stats`.

[2022-07-01 03:37] freeznet commented on #15434
Hi @cometa-haley, currently the python functions do not support customize the schema, so all messages send from python functions are in BYTES schema, and this is why the other connectors cannot handle the messages correctly.
There is a hacky way to do:

- use a Java function with the SerDe to convert the messages from Python (BYTES) to Avro Schema messages as an intermediate step, then use the out

[2022-07-01 05:48] tisonkun commented on #12419
@yuruguo Perhaps we should reopen this issue before #16018 merged?

[2022-07-01 06:18] NiuBlibing commented on #16294
My version is 2.10.0 with java 11, deploy with cluster, is it related to these?

[2022-07-01 07:03] visortelle commented on #16284
Aha! @Technoboy- Thank you for the explanation.

For the context, I'm building UI for Pulsar https://www.youtube.com/watch?v=0Xs8phdnta4

And now I see my mistake that I build it against a single-node cluster.

Am I understanding it right that everything under `broker-stats` APIs should be considered broker-specific and to get the whole Pulsar instance picture, I should ask each broker in my Pulsa

[2022-07-01 07:04] xuesongxs opened #16321 "Add gzip compression before http service response"
**Is your feature request related to a problem? Please describe.**
With the continuous expansion of the tenant / namespace /topic/ application of pulsar cluster, the index text output by the broker is getting larger and larger. If promethues requests the /metrics URL time of the broker to be fixed, such as 10s, with the index getting larger and larger, this 10s will definitely timeout, so the foll

[2022-07-01 07:04] momo-jun commented on #7663
As @freeznet pointed out, the request has been covered in the [docs](https://pulsar.apache.org/docs/next/functions-package-python/).
@Anonymitaet we can colse this issue.

[2022-07-01 07:08] momo-jun commented on #13227
Check with @freeznet - It is unavailable in the Pulsar helm charts yet.

[2022-07-01 07:11] momo-jun commented on #7005
Checked with @freeznet - It has been covered in this [doc page](https://pulsar.apache.org/docs/next/functions-runtime-java-options).
@Anonymitaet we can close this issue.

[2022-07-01 07:26] momo-jun commented on #5831
Hi @sijie, can you pls provide more context regarding the argument types and schema you mentioned?
We are revisiting backlog doc issues for functions and trying to resolve them with engineering support (@freeznet ).

[2022-07-01 08:59] #15771 closed

[2022-07-01 09:10] #7005 closed

[2022-07-01 09:11] #7663 closed

[2022-07-01 09:19] hepyu opened #16327 "Namespace bundle xxx is being unloaded because of bundle unload failed somehow and topic backlog massive accumulation"
**Directory**
**(1).pulsar cluster info**
**(2).accident site statement**
**(3).I tracked**
**(4). I guess**

**(1).pulsar cluster info**

Pulsar cluster is deployed in aws ec2, six ec2 totally.

3 ec2: ec2 is 4c8g, only deployed broker per ec2.
3 ec2: ec2 is 8c16g, deployed 1 broker and 1 bookie per ec2.

pulsar version: 2.8.0

topic scale:
topic number: 420

topic detail:
tenant: 3 number, flink

[2022-07-01 11:33] arnarg commented on #15891
Do you have `schemaValidationEnforced` turned on on a namespace level? I'm seeing the following in logs just before receiving the `Topic policies cache have not init.` exception.

[code]

And to me it suggest that the reader that the broker creates on this internal `__change_events` topic can't work in a namespace with `schemaValidationEnforced` enabled since it doesn't specify any schema.

[2022-07-01 11:42] #16284 closed

[2022-07-01 11:42] #16024 closed

[2022-07-01 12:30] arnarg opened #16331 "Topic level policies do not work in a namespace with auto update schema disabled"
**Describe the bug**
When attempting to set or get topic level policies in a namespace where `is_allow_auto_update_schema` is disabled I am unable to get or set any topic level policies. I get an exception `TopicPoliciesCacheNotInitException` (see #15891).

I have also discovered the cause of this which is that the reader that reads the internal `__change_events` topic that is created in the names

[2022-07-01 21:07] #14505 closed

[2022-07-02 00:00] #9717 closed

[2022-07-02 00:56] SignorMercurio commented on #15550
Shall we close this issue?

[2022-07-02 01:41] Anonymitaet commented on #15550
@SignorMercurio yes, closed.

[2022-07-02 01:41] #15550 closed

[2022-07-02 06:10] cpp-user opened #16344 "mac os 11.4 install pulsar-client-cpp failed"
pulsar-client-cpp/lib/libpulsar.dylib) was built for newer macOS version (11.0) than being linked (10.15)

[2022-07-02 14:14] tjiuming commented on #16173
@codelipenghui please assign to me.

[2022-07-03 06:29] tisonkun opened #16354 "Pulsar SQL example cannot reproduce in master (2.11.0-SNAPSHOT)"
**Describe the bug**

Running follow the instructions https://pulsar.apache.org/docs/sql-getting-started doesn't give the expected result. But sql-worker failed to connect to ZooKeeper server.

**To Reproduce**

1. Compile pulsar from master branch (2.11.0-SNAPSHOT)
2. Start standalone Pulsar cluster (from ` pulsar/distribution/server/target/apache-pulsar-2.11.0-SNAPSHOT`): `./bin/pulsar standalon

[2022-07-03 08:41] MarvinCai commented on #15450
@mattisonchao hi, are you still working on it?

[2022-07-03 08:42] welkinakash5 commented on #15519
<img width="1412" alt="Screenshot 2022-07-03 at 2 11 30 PM" src="https://user-images.githubusercontent.com/16204392/177032167-8c22d2f7-4e30-406f-a68f-65fbeeb653a8.png">

[2022-07-03 12:48] horizonzy opened #16358 "Discuss: Make hasMessageAvailable to interface Consumer."
**Describe the bug**

Now the method `hasMessageAvailable` just is announced in ConsumerImpl and MultiConsumerImpl.
If we want to check is there message available, we should transfer Consumer to ConsumerImpl or MultiConsumerImpl,
then invoke hasMessageAvailable like below:
[code]

Maybe we can make method `hasMessageAvailable` to Consumer.

[2022-07-03 13:47] tisonkun commented on #16354
OK. The problem about ZK could be, as PIP-117 (https://github.com/apache/pulsar/issues/13302) moving forward, ZK doesn't always start by default. However, Pulsar SQL depends on ZK settings and thus generate errors like above.

With `PULSAR_STANDALONE_USE_ZOOKEEPER=1 ./bin/pulsar standalone` the problem above is overcomed.

However, the Pulsar SQL example still cannot runs correctly. Now the `show

[2022-07-04 01:24] #16020 closed

[2022-07-04 01:43] Anonymitaet commented on #15672
This issue has been resolved. Thanks for your confirmation. @SignorMercurio

[2022-07-04 01:43] #15672 closed

[2022-07-04 03:43] michaeljmarshall commented on #16214
@nahguam - thanks for contributing the fix for this issue!

[2022-07-04 07:40] #16180 closed

[2022-07-04 09:48] shibd commented on #16358
What are the scenarios for consumers to use `hasMessageAvailable`?

[2022-07-04 11:06] tisonkun commented on #16354
SQL Worker logs:

[code]

[2022-07-04 12:52] tisonkun commented on #16354
After I clean up `data` dir and retry the example, it works this time. Closed as invalid.

[2022-07-04 14:50] codelipenghui opened #16373 "Flaky-test: ProducerCloseTest. brokerCloseTopicTest"
[code]

[example failure](https://github.com/apache/pulsar/runs/7182477785?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-04 14:51] #16373 closed, assigned to nobody

[2022-07-04 14:54] codelipenghui opened #16374 "Flaky-test: PatternTopicsConsumerImplTest.testAutoSubscribePatternConsumer"
[code]

[example failure](https://github.com/apache/pulsar/runs/7182477785?check_suite_focus=true)

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-04 15:29] codelipenghui opened #16376 "Flaky-test: PackagesApiNotEnabledTest.testPackagesOperationsWithoutPackagesServiceEnabled"
[code]

[example failure](https://github.com/apache/pulsar/runs/7175862912?check_suite_focus=true)

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-04 15:47] codelipenghui commented on #14540
Another one https://github.com/apache/pulsar/runs/7125582230?check_suite_focus=true

[2022-07-04 15:50] codelipenghui opened #16378 "Flaky-test: NonPersistentTopicE2ETest.testGCWillDeleteSchema"
[code]

[example failure](https://github.com/apache/pulsar/runs/7125582230?check_suite_focus=true)

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-04 16:21] coderzc opened #16379 "[bug][broker] Timestamp value 0 gets the scheme"
**Describe the bug**

Timestamp value 0 gets the scheme when using admin API.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a pulsar version
2. Create a schema.
[code]
Response:
{"version":{"version":0}}

3. Get the schema.
[code]
Response:
{"version":0,"type":"KEY_VALUE",***"timestamp":0,***"data":"{\"key\":{\"type\":\"record\",\"name\":\"Foo\",\"namespace\":\"org.apache.pulsar.brok

[2022-07-04 16:58] codelipenghui opened #16382 "Flaky-test: PersistentTopicTest.setup"
[code]

[example failure](https://github.com/apache/pulsar/runs/7183236017?check_suite_focus=true)

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-04 16:59] codelipenghui commented on #16382
Another one: https://github.com/apache/pulsar/runs/7183558937?check_suite_focus=true

[2022-07-04 17:41] arnarg commented on #16331
Yeah looks like that'll fix it. Thanks!

[2022-07-04 17:41] #16331 closed

[2022-07-05 00:22] codelipenghui opened #16384 "Flaky-test: BrokerServiceAutoTopicCreationTest. testDynamicConfigurationTopicAutoCreationPartitionedWhenDefaultMoreThanMax"
[code]

[example failure](https://github.com/apache/pulsar/runs/7184525970?check_suite_focus=true)

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-05 02:12] feiyuyitiao opened #16387 "the bookie heap used not balance after run a while and cause one bookie OOM."
**Describe the bug**
We have four bookie node, all the parameter setting was the same, but the bookie heap used not balance after run a while,  one bookie head memory used high and the gc time enlarge and frequencily  , this can risk bookie OOM.

  PULSAR_GC: |
    -XX:+UseG1GC -XX:MaxGCPauseMillis=20 -XX:+ParallelRefProcEnabled -XX:+UnlockExperimentalVMOptions -XX:+AggressiveOpts -XX:+DoEscapeAna

[2022-07-05 02:24] #16384 closed

[2022-07-05 02:33] #16272 closed

[2022-07-05 02:38] #16378 closed

[2022-07-05 03:35] Technoboy- commented on #16358
I think it's the same with adding `getLastMessageId`(#1066).
BTW, there is a case here : https://github.com/apache/pulsar/pull/1066#discussion_r162751622

[2022-07-05 05:17] horizonzy commented on #16358
Sorry for delay reply.
Not the method hasMessageAvailable is defined in both ConsumerImpl and MultiConsumerImpl.

https://github.com/apache/pulsar/blob/aabd5d020543210921f10648caf6720adc41d651/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java#L2188

https://github.com/apache/pulsar/blob/aabd5d020543210921f10648caf6720adc41d651/pulsar-client/src/main/java/org/apache/pulsar

[2022-07-05 07:23] ericsyh opened #16393 "feat(pulsar-io): Add support for jdbc-sink connector for Oracle"
**Is your feature request related to a problem? Please describe.**
Compared to the Kafka Connector ecosystem, I think Pulsar is missing the JDBC sink connector for Oracle: https://docs.confluent.io/kafka-connect-jdbc/current/#oracle-database

**Describe the solution you'd like**
Add support for JDBC-sink connector for Oracle

**Describe alternatives you've considered**
A clear and concise descript

[2022-07-05 07:24] ericsyh opened #16394 "feat(pulsar-io): Add support for jdbc-sink connector for SQL Server"
**Is your feature request related to a problem? Please describe.**
Compared to the Kafka Connector ecosystem, I think Pulsar is missing the JDBC sink connector for SQL Server: https://docs.confluent.io/kafka-connect-jdbc/current/#microsoft-sql-server

**Describe the solution you'd like**
Add support for jdbc-sink connector for SQL Server

**Describe alternatives you've considered**
A clear and con

[2022-07-05 09:12] cbornet opened #16397 "Incorrect detection of NAR files"
**Describe the bug**
In several parts of the code (`org.apache.pulsar.common.nar.FileUtils`, `NarClassLoader`, ...), the type of the archive  (NAR or JAR) is detected by looking at the existence of the `META-INF/bundled-dependencies` directory. But this directory doesn't necessarily exist in a NAR archive. For instance, if all the dependencies of the artifact are set as `provided` because they alr

[2022-07-05 12:49] dragonls commented on #15891
It also happens to us just the same error as describe above.

[2022-07-05 12:49] dragonls commented on #15891
It also happens to us just the same error as describe above. Also Pulsar 2.8.3.

[2022-07-05 20:11] omnilight commented on #15891
Pulsar 2.9.2, same issue. #16331 won't help us because we have `is_allow_auto_update_schema` enabled

[2022-07-06 02:43] Technoboy- commented on #16081
Fixed by #16170 .

[2022-07-06 02:43] #16081 closed

[2022-07-06 02:50] ethqunzhong commented on #16294
it seems that `s3ManagedLedgerOffloadReadBufferSizeInBytes` and `managedLedgerOffloadReadBufferSizeInBytes` is an invalid configuration.

[2022-07-06 03:16] Technoboy- commented on #16327
Closed by #16313

[2022-07-06 03:16] #16327 closed

[2022-07-06 08:55] fantapsody opened #16416 "The pulsar-admin doesn't set SNI properly when `tlsEnableHostnameVerification` is `false`"
**Describe the bug**
The async-http-client used in pulsar-admin doesn't set SNI properly when `tlsEnableHostnameVerification` is `false`, see https://github.com/AsyncHttpClient/async-http-client/blob/master/client/src/main/java/org/asynchttpclient/netty/ssl/DefaultSslEngineFactory.java#L65. This will fail https requests that rely on SNI routing, like a pulsar cluster deployed behind an istio gatew

[2022-07-06 09:27] eolivelli commented on #7623
@diegosalvi you are correct!
we would need to read all the entries from BK, and that's not doable, because it costs too much, and also you would be going to pollute all the caches.

You can implement it, but we should warn the users that the operation has a very high cost and it should not be done frequently

[2022-07-06 10:02] shibd commented on #16397
Have a question: If all dependency scope is provided, My test result is that there will be a jar package(function itself).

<img width="663" alt="image" src="https://user-images.githubusercontent.com/33416836/177525533-a92b67a2-6f38-4e3f-8a24-1ee5cb4925be.png">

[2022-07-06 10:06] gaozhangmin opened #16418 "Flaky-test: org.apache.pulsar.broker.service.BacklogQuotaManagerTest.testConsumerBacklogEvictionTimeQuotaWithEmptyLedger"
[code]

[2022-07-06 13:29] fantapsody commented on #16186
@silrag The newly released 2.10.1 should include the commit, please give it a try: https://github.com/apache/pulsar/releases/tag/v2.10.1

[2022-07-06 13:34] eolivelli opened #16421 "Shared subscription + Batch messages: consumerFlow trigger reading the same messages from storage"
I am doing some testing on Shared subscription and Batch messages with the current Pulsar master.

The behaviour that I am observing is that when you have Batch messages the Consumer is sending flow control messages for more messages that it can handle.

This is how to reproduce the problem:
- write 100.000 messages using batching
- start a Consumer with a Shared subscription (from the beginning o

[2022-07-06 13:55] eolivelli commented on #16421
The problem is here, when you use MessageListener we increase permits of 1, even for Messages that are part of a batch.

https://github.com/apache/pulsar/blob/926834ef8b2b57d3964aa7e9773e6245bcee861c/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java#L1087

So the problem is mostly with the MessageListener API, used by pulsar-perf (and also OpenMessaging benchmark)

[2022-07-06 14:02] AnonHxy opened #16422 "PIP-181: Reduce unnecessary REST call between brokers"
## Motivation

The design of admin API now is such that: when handle a partitioned topic request, the broker will query the topic's partition meta, and then use the internal admin client to query all the non-partitioned topics (I.e. the suffix of  the topic name is `-partition-`),
even if the non-partitioned topic is owned by the broker, which will cause unnecessary  REST call between brokers.

we

[2022-07-07 00:26] rdhabalia opened #16424 "PIP-136: Sync Pulsar policies across multiple clouds"
# Sync Pulsar policies across multiple clouds

Implementation : PR: https://github.com/apache/pulsar/pull/15223

## Motivation

Apache Pulsar is a cloud-native, distributed messaging framework which natively provides geo-replication. Many organizations deploy pulsar instances on-prem and on multiple different cloud providers and at the same time they would like to enable replication between multip

[2022-07-07 00:26] rdhabalia commented on #13728
closing with new PIP: https://github.com/apache/pulsar/issues/16424

[2022-07-07 00:26] #13728 closed

[2022-07-07 02:03] HQebupt commented on #16422
@AnonHxy  We have a conflict in the PIP number here. Could you please change the number ?
https://github.com/apache/pulsar/issues/16274
https://github.com/apache/pulsar/issues/16250

[2022-07-07 02:18] #16174 closed

[2022-07-07 02:18] Jason918 commented on #16422
@AnonHxy changed to 183

[2022-07-07 02:32] AnonHxy commented on #16422
Thanks @Jason918 @HQebupt

[2022-07-07 02:52] gaozhangmin opened #16427 "Flaky-test: org.apache.pulsar.broker.service.persistent.PersistentTopicStreamingDispatcherTest.setup"
[code]

[2022-07-07 02:55] silrag commented on #16186
Thanks, the new version works for me.

[2022-07-07 02:55] #16186 closed

[2022-07-07 04:31] michaeljmarshall commented on #16416
@fantapsody - can you please provide the stack trace for the error you're seeing?

[2022-07-07 05:59] michaeljmarshall commented on #15401
I didn't realize you could start pulsar that way, thanks for sharing!

Your issue helped me solve a question I have been wondering about for a while (thank you!).

I think I found the likely root cause of your issue, but you will need to confirm. If I am correct, here is the TLDR: Pulsar discovers its IP address for things like `advertisedAddress` using a lookup of the hostname, and if your machin

[2022-07-07 06:02] michaeljmarshall commented on #15401
I've just realized that `192.168.1.2` is for network routers, so it is likely that my analysis might not solve your problem. Let me know if any of this is helpful.

[2022-07-07 06:26] yapxue opened #16431 "support seek by MessageId in MultiTopicsConsumerImpl"
**Is your feature request related to a problem? Please describe.**
For pulsar consumer,  seek by MessageId is not supported by MultiTopicsConsumerImpl, but it is supported by ConsumerImpl.
How about support seek by messageId in MultiTopicsConsumerImpl?

**Describe the solution you'd like**
MultiTopicsConsumerImpl can support seek by MessageId.

[2022-07-07 06:41] Shoothzj commented on #16431
You can use `seek(Function<String,Object> function)`. functions is used providing messageId per partition.

[2022-07-07 07:05] #14767 closed

[2022-07-07 07:12] ethqunzhong opened #16432 "[tiered-storage]managedLedgerDataReadPriority may not work?"
**Describe the bug**
from this PR's configuration [#8717 Configurable data source for offloaded messages](https://github.com/apache/pulsar/pull/8717/files#:~:text=private%20String%20managedLedgerDataReadPriority%20%3D%20OffloadPolicies.OffloadedReadPriority.TIERED_STORAGE_FIRST) ,  we could set data read priority `bookkeeper-first` or `tiered-storage-first` by cli cmd or set `managedLedgerDataRead

[2022-07-07 08:22] yuruguo commented on #12419
Yep, done.

[2022-07-07 09:34] Anonymitaet commented on #14928
@momo-jun I check some occurrences on `master`, and they do not function well. For example:
![image](https://user-images.githubusercontent.com/50226895/177741977-ee7ffda0-4ee6-4203-9a8f-4e1caf28d645.png)
https://pulsar.apache.org/docs/next/admin-api-functions

Can you take a look? Thank you!

[2022-07-07 09:42] Anonymitaet commented on #14928
@momo-jun your PR was merged 3 hours ago and the website build was done 4 hours ago, maybe that is the reason why the new changes do not take effect. Let's wait for a while to see if it works. Thank you.

[2022-07-07 09:43] Anonymitaet commented on #14928
@momo-jun do you update all occurrences only for `master` or `master + other versions`?

[2022-07-07 09:50] Anonymitaet opened #16439 "[improve][workflow] Optimize CI/CD"
The existing CI/CD workflow can be optimized for the following aspects:

### Issue 1

Compared with other projects' workflows, Pulsar has many workflows and the [list](https://github.com/apache/pulsar/actions) is long.

Abandoned workflows should be hidden and the same workflow should be combined together to make the list looks clearer and tidy.

### Issue 2

Shall we check if there are any duplic

[2022-07-07 10:11] momo-jun commented on #14928
Master only. I want to verify whether they work well before applying the changes to more versions.

[2022-07-07 10:23] eolivelli commented on #16421
with batch messages we fall into this case:
https://github.com/apache/pulsar/blob/8b1d7a0c894c3124db99302e60e0e523a55dc3b2/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherMultipleConsumers.java#L625

basically the dispatcher reads N entries from Storage (BK or Offloader) and the Consumer does not have enough permits, so we are throwing away part of the e

[2022-07-07 10:24] eolivelli commented on #16421
After doing some testing I have found that the problem is that the ManagedLedger EntryCache is evicted only by taking into account the "readPosition" of the cursor.
But the "messages to replay" are behind the "readPosition", so those entries are evicted from the cache

[2022-07-07 12:15] eolivelli commented on #16421
In order to solve the problem we should not evict from the cache the entries that are still in "messagesToReply", otherwise we will keep reading from BK (or from TieredStorage).

[2022-07-07 13:09] RobertIndie opened #16444 "Flaky-test: PersistentDispatcherFailoverConsumerStreamingDispatcherTest.setup"
PersistentDispatcherFailoverConsumerStreamingDispatcherTest.setup is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7229588051?check_suite_focus=true#step:10:566)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
org.mockito.exceptions.base.MockitoException: Unable to create mock instance of type 'ServerCnx'
  	at org.apache.pulsar.

[2022-07-07 13:12] RobertIndie opened #16445 "Aggregates test reports failed in CI - Unit - Brokers - Broker Group 1"
**Describe the bug**
Aggregates test reports failed in CI - Unit - Brokers - Broker Group 1

**To Reproduce**
See: https://github.com/apache/pulsar/runs/7229588051?check_suite_focus=true#step:12:22

**Expected behavior**
Should not fail in this CI step.

**Additional context**
[code]

[2022-07-07 13:45] maxsxu commented on #16439
@Anonymitaet  Thanks for bringing this out!

FYI, I made a list of **invalid** (the workflow file does not exist in any branches) and **inactive** (the workflow file exists in an old branch but no workflows runs within a year) workflows about issue 1.

### Invalid Workflows

- https://github.com/apache/pulsar/actions/workflows/ci-build-muiti-os.yaml
- https://github.com/apache/pulsar/actions/workf

[2022-07-07 13:49] maxsxu commented on #16439
### Issue 3

Old branches have different workflows from the `master` branch. e.g, [workflows of branch-2.7](https://github.com/apache/pulsar/tree/branch-2.7/.github/workflows)

[2022-07-07 14:45] yabinmeng opened #16449 "[Doc] Add missing consumer config "ackReceiptEnabled" in the Pulsar document"
#### Actual behavior
In the current Pulsar doc for Java client consumer configuration, the parameter "ackReceiptEnabled" is missing
https://pulsar.apache.org/docs/next/client-libraries-java/#configure-consumer

[2022-07-07 15:41] nicoloboschi opened #16450 "Flaky-test: PersistentSubscriptionMessageDispatchStreamingDispatcherThrottlingTest. testDispatchRateCompatibility2"
org.apache.pulsar.broker.service.persistent.PersistentSubscriptionMessageDispatchStreamingDispatcherThrottlingTest is flaky. The testDispatchRateCompatibility2 test method fails sporadically.

[code]

[example failure 2022-06-10T12:29:11.2963739Z](https://github.com/apache/pulsar/runs/6830374279?check_suite_focus=true#step:10:5696)

[2022-07-07 18:28] thalesmg commented on #14547
I got the same problem as well.  Pulsar chart version `2.9.3`, cert-manager chart version `v1.5.4`.

[2022-07-07 20:30] michaeljmarshall opened #16454 "DistributedIdGenerator should retry on BadVersion error"
**Describe the bug**
When starting several brokers concurrently, there is a risk that one will fail with the following error:

[code]

The key problem is `org.apache.pulsar.metadata.api.MetadataStoreException$BadVersionException: org.apache.zookeeper.KeeperException$BadVersionException: KeeperErrorCode = BadVersion for /counters/producer-name`, and in looking at the `/counters/producer-name` initi

[2022-07-07 20:42] michaeljmarshall opened #16455 "ZKMetadataStore: BadVersion for /ledgers/underreplication/LAYOUT"
**Describe the bug**
When starting several bookies, I ran into this error:

[code]

Note that the error is in the `org.apache.pulsar.metadata.impl.ZKMetadataStore` class. After hitting the error, the bookie exited. I'm not sure what would have cause this issue, but it seems like a concurrent modification issue.

**Expected behavior**
The bookie should not fail to start without retrying first.

**A

[2022-07-07 21:13] gjanardh commented on #15267
We had a similar issue in our DEV environment. Deleting a topic when the BK was faulty, could have caused it in our environment.

[2022-07-08 00:50] hdiode-florian opened #16457 "Invalid use of `type`s in error messages in `definition.py`"
**Describe the bug**
In several places https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/python/pulsar/schema/definition.py uses incorrect type (name) to string conversions when exceptions are raised, for example:
https://github.com/apache/pulsar/blob/66e8206f129a7ea303099af1317f78652240f985/pulsar-client-cpp/python/pulsar/schema/definition.py#L29

**To Reproduce**
[code]

[code]

**E

[2022-07-08 00:52] SignorMercurio commented on #16439
I'll try resolving these issues with a new workflow that delete stale workflows.

[2022-07-08 01:02] zymap opened #16458 "Flaky-test: org.apache.pulsar.client.impl.schema.SchemaInfoTest.testSchemaInfoToString"
SchemaInfoTest.testSchemaInfoToString is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7234112994?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
  Error:  Tests run: 9, Failures: 1, Errors: 0, Skipped: 5, Time elapsed: 1.121 s <<< FAILURE! - in org.apache.pul

[2022-07-08 01:30] codelipenghui opened #16460 "Flaky-test: MessageTTLTest.testMessageExpiryAfterTopicUnload"
[code]

[example failure](https://github.com/apache/pulsar/runs/7240796341?check_suite_focus=true)

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-08 01:44] Anonymitaet commented on #14928
@momo-jun

I check some occurrences randomly and find that:

1. It shows `loading` all the time, do you have the same issue?
package: https://pulsar.apache.org/docs/next/admin-api-packages
<img width="1960" alt="image" src="https://user-images.githubusercontent.com/50226895/177899427-2dfbf5bb-f3ef-47ad-a12a-f167ba7a9382.png">

3. Some contain `version` while others not, is this intended behavior?

[2022-07-08 02:04] #16432 closed

[2022-07-08 03:10] momo-jun commented on #14928
Same on my side. I checked the MD file and its syntax `{@inject: endpoint|POST|/admin/v3/packages/:type/:tenant/:namespace/:packageName/:version}` doesn't contain any anchor nor the version number variable, that's why it cannot be loaded. Since it doesn't contain the version number variable, such cases are not covered in the previous fix. I need to use a new search term to clean up this type of oc

[2022-07-08 03:44] dragonls commented on #15891
I solved my problem anyway.

I tracked the code and found that "Topic policies cache have not init" most likely because something wrong with the `__change_events` topic. The broker failed to consume the system topic. In this scene of mine, the system topic can not be loaded.

I checked the system topic and found that one partition (`__change_events-partition-1`) is `terminated` and the ledger had

[2022-07-08 04:44] truong-hua commented on #15891
@dragonls thank for that, is it safe to manually update the znode. Do we have any document about metadata stored in the zk?

[2022-07-08 06:38] dragonls commented on #15891
I'm not sure whether it is safe, but for my case, the topic has beed terminated and no ledgers left, which make the topic can not be loaded. I also reproduce my case in test env and do not see anything else wrong.

I do not see any document about metadata stored in the zk.

[2022-07-08 06:43] RobertIndie commented on #14540
Another one: https://github.com/apache/pulsar/runs/7245266694?check_suite_focus=true#step:10:908

[2022-07-08 07:11] RobertIndie opened #16467 "Flaky-test: schema_test.SchemaTest.test_field_type_check"
schema_test.SchemaTest.test_field_type_check is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7245006983?check_suite_focus=true#step:11:1715)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-08 07:14] ChooHui0429 opened #16469 "Duplication of data occurs when send from device to pulsar with messageid different but timestamp exactly same upto millisec"
#### Expected behavior

The number of message received in pulsar should be same as the what the total number of message device send.

#### Actual behavior

1. We send the message from our device to pulsar via websocket.

2. On our device log, we had already send out 2 message within time 2022-07-08 09:14:12 and the status response showing ok means the message already successfully send to the pulsa

[2022-07-08 07:20] momo-jun commented on #15667
@freeznet I'm adding the information for this issue. Can you pls address the involved versions that the issue applies to?

[2022-07-08 07:55] momo-jun commented on #14928
When searching for the remaining incorrect REST API links, I found the REST API docs missed "lookup topic" and "get bundles".
@shibd helped checked the issue in code and pushed a PR-#16470  to fix it.

I've fixed other incorrect REST API links in #16433 and will update for  "lookup topic" and "get bundles" as soon as #16470 is merged.

[2022-07-08 11:06] philjzmith opened #16478 "Golang pulsar function can not subscribe to topic using regex"
**Describe the bug**
I am trying to create a pulsar function using golang that subscribes to a topic with a regex for example "persistent://payments/payment-instruction/.*.created". The consumer logs a message that the subscription was created, when messages are produced matching the pattern the consumer does not receive them.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Go funct

[2022-07-08 12:29] zbentley commented on #15401
@michaeljmarshall you may still be onto something; just because the IP in my logs is an RFC1918 address doesn't mean it necessarily resolves to my host (or a router). I'll try setting `advertisedAddress`; if that makes the problem disappear, I can check that into the Homebrew formula for Pulsar.

[2022-07-08 12:58] nahguam opened #16481 "PIP-184: Topic specific consumer priorityLevel"
## Motivation

The Pulsar Java consumer supports setting a priority level for priority message
dispatch in shared subscription consumers and priority assignment in failover
subscription consumers. See the [ConsumerBuilder.html#priorityLevel(int)
Javadoc](https://javadoc.io/static/org.apache.pulsar/pulsar-client-api/2.10.1/org/apache/pulsar/client/api/ConsumerBuilder.html#priorityLevel(int))
for a

[2022-07-08 14:48] nicoloboschi commented on #15895
Now fails less often and with a different stacktrace

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2022-07-05T04:26:49.8961342Z](https://github.com/apache/pulsar/runs/7189889422?check_suite_focus=true#step:10:635)
[example failure 2022-07-04T14:41:08.7998055Z](https://github.com/apache/pulsar/runs/7182607492?ch

[2022-07-08 14:50] nicoloboschi opened #16483 "Flaky-test: PulsarFunctionTlsTest.tearDown"
Flaky-test: org.apache.pulsar.functions.worker.PulsarFunctionTlsTest.tearDown
Number of failures: 35

org.apache.pulsar.functions.worker.PulsarFunctionTlsTest is flaky. The tearDown test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2022-06-09T15:48:02.0352047Z](https://github.com/apa

[2022-07-08 16:03] dave2wave commented on #16439
Here's a thread from April with @lhotari - https://lists.apache.org/thread/n05xp17krb4f3cc0jjkh65ytqk1w6130

[2022-07-08 19:19] dave2wave opened #16486 "[Doc] Algolia Crawler cannot parse four critical pages"
### What issue do you find in Pulsar docs?

The Algolia crawler which prepares the search index fails to parse these pages including in versioned docs:

1. https://pulsar.apache.org/docs/reference-pulsar-admin/
2. https://pulsar.apache.org/docs/reference-metrics/
3. https://pulsar.apache.org/docs/pulsar-admin/
4. https://pulsar.apache.org/docs/reference-configuration/

The error is "Extractors ret

[2022-07-08 19:39] dave2wave commented on #16486
I've sent an email to Algolia crawler support.

[2022-07-08 20:33] #16449 closed

[2022-07-08 20:51] frankjkelly commented on #16274
I like this idea
`select a broker based on which one has the least average resource usage with weight.`.

If I understand things correctly it seems right now we can identify a broker as overloaded using the resource usage but
then select the broker to move the bundle to based on a somewhat different set of criteria that may or may not always line up (even if it does generally correlate).

[2022-07-08 21:01] michaeljmarshall opened #16487 "Make DeadLetterPolicy deserializable"
**Describe the bug**
The `DeadLetterPolicy` is not deserializable.

**To Reproduce**
Run the following test and you'll see the following error:

[code]

[code]

**Expected behavior**
A consumer dead letter policy should be configurable via the `loadConf` method.

**Additional context**
The above test was run on a recent version of the `master` branch.

[2022-07-08 21:28] michaeljmarshall opened #16488 "Improve naming for delete topic error"
**Is your enhancement request related to a problem? Please describe.**
When I try to delete a topic with a consumer connected, I get the following error:
[code]

Then, when I disconnect my consumer, the deletion succeeds. It is confusing that the error indicates active `subscriptions`. The code appears to have some legacy use cases where subscriptions prevented deletion, but that doesn't appear to

[2022-07-08 22:18] Anthony-Bible opened #16489 "Pulsar no longer works when zookeeper global goes into read only"
**Describe the bug**
A clear and concise description of what the bug is.
Pulsar no longer works when zookeeper global (configuration store) goes into read-only mode with the error:
```pulsar-zookeeper-global-0 pulsar-zookeeper-global org.apache.zookeeper.server.ServerCnxn$CloseRequestException: Refusing session request for not-read-only client /10.76.10.9:54502```
**To Reproduce**
Steps to reprodu

[2022-07-08 23:39] grishick commented on #12944
Looks like a related PR has been closed, but ARM image has not yet been published. I would appreciate any update on this

[2022-07-09 00:32] #16382 closed

[2022-07-09 02:40] zbentley commented on #15401
That seems useful. Which of the `broker.conf`, `proxy.conf`, `standalone.conf` and `bookkeeper.conf` config files should I set `advertisedAddress` in for a standalone broker?

[2022-07-09 04:47] michaeljmarshall commented on #15401
The brew service command uses standalone mode, which you can see in the formula code: https://github.com/Homebrew/homebrew-core/blob/9441684087afc2c59ef7c6341bc434e3b818a950/Formula/apache-pulsar.rb#L60.

When running Pulsar as a standalone broker, all configuration is passed via the `standalone.conf` file, so you only need to configure that file.

[2022-07-09 05:12] michaeljmarshall commented on #15401
I agree that this configuration makes sense as a default for the Homebrew formula, though it might be worth mentioning it on the dev@ mailing list.

You can set the `advertisedAddress` in the `standalone.conf` or on the command line (e.g. `bin/pulsar standalone --advertised-address localhost`).

https://github.com/apache/pulsar/blob/5bad9b37c183033e597c9cbbe300c20bad429342/pulsar-broker/src/main/j

[2022-07-09 06:28] michaeljmarshall commented on #12944
Now that https://github.com/apache/pulsar/pull/15142 is merged, there are no technical blockers for this work to continue on in the Pulsar project. I'll follow up on this one to try to push this through for the 2.11 release.

[2022-07-09 07:20] michaeljmarshall commented on #12944
New mailing list thread: https://lists.apache.org/thread/52bncdx2j4j982m9xob85sjmsr23tgzt

[2022-07-09 07:46] codelipenghui commented on #6014
Another one https://github.com/apache/pulsar/runs/7260806428?check_suite_focus=true

[2022-07-09 11:42] liangyuanpeng commented on #16478
I will test it and work for it.

[2022-07-09 11:48] Technoboy- opened #16496 "Master: flaky tests"
Stack Trace
[code]

[2022-07-09 11:49] Technoboy- opened #16497 "Flaky-test: ManagedLedgerCompressionTest. testRestartBrokerEnableManagedLedgerInfoCompression"
[code]

[2022-07-09 11:50] Technoboy- opened #16498 "Flaky-test: PersistentDispatcherFailoverConsumerTest. testAddRemoveConsumerNonPartitionedTopic"
[code]

[2022-07-09 14:20] codelipenghui opened #16500 "Flaky-test: ReplicatorTest.testReplicatorWithFailedAck"
[example failure](https://github.com/apache/pulsar/runs/7263941429?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-10 06:01] liangyuanpeng commented on #16478
I Have reproduce it,

Use command of `pulsarctl functions create --name log --go logFunc --topics-pattern persistent://public/default/a.*` to created function and inputSpecs.IsRegexPattern is false of function info.

[2022-07-10 09:12] BewareMyPower opened #16509 "C++ Flaky-test: ClientTest.testWrongListener"
ClientTest.testWrongListener is flaky. It fails sporadically.

- [example failure 1](https://github.com/apache/pulsar/runs/7267589938?check_suite_focus=true)
- [example failure 2](https://github.com/apache/pulsar/runs/7268632561?check_suite_focus=true)
-

[code]

[2022-07-10 09:20] BewareMyPower commented on #16509
It can be reproduced easily with following command:

[code]

The root cause is the connection could be broken after `ServiceUnitNotReady`, then the next time the topic is subscribed would it fail with `NotConnected` or `ConnectError` before receiving `ServiceUnitNotReady` from broker.

The `ConnectError` case:

[code]

The `NotConnected` case:

[code]

[2022-07-10 13:39] Technoboy- commented on #16496
[code]

[2022-07-10 14:15] omnilight opened #16511 "Pulsar 2.9.2: messages are in backlog, but not dispatched to consumers"
**Describe the bug**
I have Pulsar 2.9.2 installed on virtual servers, 9 brokers, 9 bookeepers.

We have plenty of topics in this cluster, all of them are consumed by the same application (our internal queue system).

For several topics we can see that there are some time some messages are not dispatched to consumers.
Here what we can see in internal-stats:

[code]
[stat.txt](https://github.com/ap

[2022-07-10 15:11] liangyuanpeng commented on #16511
More client-go info maybe help.
- What's your pulsar-client-go version?
- What's consumer type? eg:  Regular match pattern topic |  multiple topic | one topic
etc...

[2022-07-10 15:12] omnilight commented on #16511
pulsar-client-go version 0.8.1
consumer type is shared, one topic (but topic has partitions)

[2022-07-11 01:06] Technoboy- commented on #16496
[code]

[2022-07-11 01:07] Technoboy- commented on #16496
[code]

[2022-07-11 01:07] Technoboy- commented on #16496
[code]

[2022-07-11 01:08] Technoboy- commented on #16496
[code]

[2022-07-11 01:14] Technoboy- commented on #16496
[code]

[2022-07-11 02:21] codelipenghui opened #16515 "Flaky-test: FilterEntryTest.testEntryFilterRescheduleMessageDependingOnConsumerSharedSubscription"
[code]

[example failure](https://github.com/apache/pulsar/runs/7274700601?check_suite_focus=true)

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-11 02:22] codelipenghui opened #16516 "Flaky-test: BrokerInterceptorTest.testProducerCreation"
[example failure](https://github.com/apache/pulsar/runs/7274700601?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-11 02:44] Technoboy- commented on #16496
[code]

[2022-07-11 02:44] Technoboy- commented on #16496
[code]

[2022-07-11 02:44] Technoboy- commented on #16496
[code]

[2022-07-11 02:47] Technoboy- commented on #16496
[code]

[2022-07-11 02:47] Technoboy- commented on #16496
[code]

[2022-07-11 02:48] Technoboy- commented on #16496
[code]

[2022-07-11 05:27] nodece commented on #16314
Has been fixed by #16430 and #16435.

[2022-07-11 05:27] #16314 closed

[2022-07-11 05:51] jaggerwang commented on #6587
Same request, I want to use pulsar as my spring websocket server's STOMP message broker.

[2022-07-11 08:45] codelipenghui opened #16521 "Flaky-test: BrokerServiceTest.testLookupThrottlingForClientByClient"
[code]
[example failure](https://github.com/apache/pulsar/runs/7277547968?check_suite_focus=true)

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-11 09:25] hpvd commented on #6587
MQTT on Pulsar (MoP) can be found here:
https://github.com/streamnative/mop

[2022-07-11 09:29] #15686 closed

[2022-07-11 12:56] hpa16 commented on #15892
I'd like to take this up this docs issue if it is available.

[2022-07-11 12:56] hpa16 commented on #15892
I'd like to take up this docs issue if no one is working on it.

[2022-07-11 13:59] zubchenok commented on #14721
@mattisonchao @sijie @merlimat how can we draw some attention to the problem?

[2022-07-11 19:10] zbentley commented on #15401
@michaeljmarshall sounds good, I'll put that on my to-do list. In the mean time, this bug should probably stay open: the appropriate fix, I think, is to either:
a) Always default `advertisedAddress` to 0.0.0.0 or 127.0.0.1 when in `standalone` mode, or.
b) Find a better way to probe whether the default `advertisedAddress` is correct; could ARP lookups or something be used? Is that more trouble tha

[2022-07-11 20:13] dave2wave commented on #16294
I was able to see an impact on performance using:

[2022-07-11 20:21] dave2wave commented on #16275
https://cwiki.apache.org/confluence/display/INFRA/Git+-+.asf.yaml+features#Git.asf.yamlfeatures-GitHubDiscussions

I've conversed with ASF infra before and there is the thread here: https://lists.apache.org/thread/wtk7wm5wp33vgjchv06m75y8n04zk9pv

[2022-07-11 20:31] zbentley opened #16527 "Due to missing Python GIL management, Python clients constructed with a non-default Logger fail to clean up their threads and often segfault when Python garbage collects them"
**Describe the bug**
If I build a Pulsar client object in Python and supply a `logger=` value that is not the default result of `logging.getLogger()`, e.g. `logging.getLogger("foobar")`, and if I interact with that Pulsar object from a thread in Python while another thread is running, two things happen:
- When that Client object and its thread are GC'd by Python, the internal threads that the puls

[2022-07-11 20:31] zbentley commented on #16527
My theory as to why this is happening:

The problem is the [GIL](https://wiki.python.org/moin/GlobalInterpreterLock). When Python object reference counts are manipulated from compiled code, those manipulations are not atomic or protected by the GIL in any way. Incrementing a refcount is often coincidentally safe to do without the GIL, since the data structures in the Python interpreter that are al

[2022-07-11 22:21] #14693 closed

[2022-07-11 22:22] dave2wave commented on #16275
I created INFRA-23477

[2022-07-11 22:37] dave2wave commented on #16275
Merge PR #16528 once INFRA has completed INFRA-23477

[2022-07-11 23:01] dave2wave commented on #15966
@merlimat Are you ready to make this official?

[2022-07-11 23:06] dave2wave commented on #15906
The main English version is correct. The `zh-CN` translation is still broken.

[2022-07-11 23:14] dave2wave commented on #16486
I'm not getting support from Algolia. I think we will need to look at splitting up these pages. I think that the experience will be improved if we do this.

[2022-07-12 00:40] #16460 closed

[2022-07-12 01:41] RobertIndie opened #16532 "Flaky-test: PersistentFailoverStreamingDispatcherE2ETest. testSimpleConsumerEventsWithoutPartition"
PersistentFailoverStreamingDispatcherE2ETest. testSimpleConsumerEventsWithoutPartition is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7281271405?check_suite_focus=true#step:10:1626)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</detai

[2022-07-12 02:15] Anonymitaet commented on #15892
@hpa16 thanks! You can ping me to review your PR.

[2022-07-12 07:02] #16379 closed

[2022-07-12 07:08] #15905 closed

[2022-07-12 07:10] #12911 closed

[2022-07-12 07:54] nodece opened #16538 "Flaky-test: org.apache.pulsar.functions.worker.PulsarFunctionTlsTest.PulsarFunctionTlsTest"
[code]

[2022-07-12 10:45] codelipenghui opened #16544 "Flaky-test: AdvertisedListenersTest.setup"
[code]

[example failure](https://github.com/apache/pulsar/runs/7299823276?check_suite_focus=true)

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-12 14:16] billysmt commented on #7660
I'm also having issues with this.  Is there a planned fix for this in the future?

[2022-07-12 14:38] eolivelli opened #16547 "Java client: batch messages - do not create a batch message of 1 single message"
I think that we could implement a small but effective enhancement to batching.

It may happen that even if you enable batching you come to create entries with 1 only message.

Processing batch messages requires a good amount of resources, both on the broker and on the client side.

Especially when you are using PIP-105, Broker side filtering, you have to unpack (and decompress) the whole entry in

[2022-07-12 14:42] AnonHxy commented on #16547
I am working on that, thanks

[2022-07-12 14:43] lhotari commented on #16054
@315157973 @lordcheng10 @merlimat @codelipenghui please take a look at this issue since it seems that the broker cache is broken atm.

[2022-07-12 14:48] eolivelli commented on #16054
this is partially related
https://github.com/apache/pulsar/issues/16421

[2022-07-12 15:14] nahguam commented on #15836
Hi @gaozhangmin, I understand why we wouldn't want to implement features that break message ordering. However in this case, in all 4 subscription types, we can negative-ack and have the message redelivered out of order. It seems only the redelivery counter is erroneous on two of them. Can you explain how making the counter report the correct number would break message ordering?

[2022-07-12 15:23] zbentley commented on #11845
@BewareMyPower that's pretty unusual and bad behavior at least in the Python ecosystem. Client objects aren't singletons; they shouldn't store state once discarded. Most production code that uses clients for anything (databases, brokers, you name it) supports the total destruction and then reconnection/reconfiguration of clients.

That includes logging behavior; especially because there are some r

[2022-07-12 15:43] frankjkelly commented on #15905
Awesome - thanks so much @Anonymitaet !

[2022-07-12 15:51] BewareMyPower commented on #11845
Yes. I think it's just because all Pulsar C++ client's source code share the same logger factory. But the `ClientConfiguration` has a logger factory config.

I think we should add an independent logger config to C++ client that manages the logger of the whole library, it should not be configured on a `Client`. And we should make it clear which classes can be affected by changing the `Client`'s log

[2022-07-12 15:54] dave2wave opened #16548 "[Doc] Manage Schema - Upload a Schema - Example 1 is incorrect"
### What issue do you find in Pulsar docs?

On https://pulsar.apache.org/docs/schema-manage/#upload-a-schema in Example 1 there are problems with the example schema.

1. The schema type should be \"JSON\"
2. File 3 needs to be \"string\",\"null\"

### What is your suggestion?

Fix the example

### Do you have any references?

https://pulsar.apache.org/docs/schema-manage/#upload-a-schema

### Would

[2022-07-12 16:29] #6014 closed

[2022-07-12 16:32] rdhabalia opened #16551 "PIP-188: Cluster migration or Blue-Green cluster deployment support in Pulsar"
# Motivation

Cluster migration or Blue-Green cluster deployment is one of the proven solutions to migrate live traffic from one cluster to another. One of the examples is applications running on Kubernetes sometimes require a Kubernetes cluster upgrade which can cause downtime for the entire application during a Kubernetes cluster upgrade. Blue-green deployment is an application release model tha

[2022-07-12 19:23] zbentley commented on #11845
I think that still may result in issues, though. What if the library-global logger factory is configured to wrap a logger object whose lifecycle is not bound to the library--like a Python logger, which may need to be mutated, created, destroyed etc., between constructions of `Client`? Wouldn't that result in issues like this one?

In other words, I think a library-global logger is not a good idea

[2022-07-12 20:27] #14882 closed

[2022-07-13 00:15] gkimes opened #16555 "Python PulsarClient::create_reader() doesn't accept MessageId instance"
Python pulsar-client package

**Describe the bug**
Attempting to provide the function `PulsarClient::create_reader()` with the param `start_message_id` as an instance of `pulsar.MessageId` raises an error. It only accepts a `_pulsar.MessageId`, which is the [internal implementation of MessageId](https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/python/pulsar/__init__.py#L123).

**To R

[2022-07-13 02:08] nodece opened #16556 "Flaky-test: org.apache.pulsar.client.impl.PatternTopicsConsumerImplTest.testAutoSubscribePatternConsumer"
[code]

[2022-07-13 02:18] nodece opened #16558 "Flaky-test: org.apache.pulsar.tests.integration.functions.java.PulsarFunctionsJavaThreadTest.testJavaLoggingFunction"
[code]

[2022-07-13 02:22] momo-jun commented on #16307
@jon-hanson Thank you for reporting the link access issue. It has been fixed now. You can try it out.

[2022-07-13 02:24] momo-jun commented on #16203
@devinbost Thank you for reporting and fixing this issue.
@Anonymitaet We can close this issue now.

[2022-07-13 02:33] #16203 closed

[2022-07-13 03:06] #16454 closed

[2022-07-13 03:59] #16548 closed

[2022-07-13 05:12] #14108 closed

[2022-07-13 06:19] gaozhangmin opened #16561 "Flaky-test: testSplitBundleForMultiTimes"
https://github.com/apache/pulsar/runs/7313687530?check_suite_focus=true

[code]

[2022-07-13 06:26] lhotari commented on #16439
@Anonymitaet Please don't do any GH actions workflow changes without adding me in the reviews. Please also add @nicoloboschi as a reviewer to any such PRs.

I have commented on #16539 about reasons why making the change would cause disruption for our CI. Each GitHub API token has a quota of 5000 API calls per hour. Our GitHub token will run out of quota if we start using this workflow.

[2022-07-13 06:30] zhanghaou opened #16564 "Confused with method getMemUsage() in LinuxBrokerHostUsageImpl.java"
**Environment**
1. broker run in kubernetes, set memory request to 20GB and limit to 20GB
2. pulsar version 2.8.1
3. os:ubuntu:20.04
4. jdk: openjdk version "11.0.11" 2021-04-20
5. PULSAR_GC:   -XX:+UseG1GC -XX:MaxGCPauseMillis=10 -Dio.netty.leakDetectionLevel=disabled -Dio.netty.recycler.linkCapacity=1024 -XX:+ParallelRefProcEnabled -XX:+UnlockExperimentalVMOptions -XX:+DoEscapeAnalysis -XX:Paral

[2022-07-13 06:48] lhotari commented on #16439
@Anonymitaet  It seems that the priority of this work item should be low since it's only about making the "list look clearer and tidy". Why does it matter? It would be good to have a better rationale for implementing this.
We might be fine with the 400 day retention policy that is now the default in GitHub. There's more context about this in my comment on the PR: https://github.com/apache/pulsar/p

[2022-07-13 07:25] cjfff opened #16566 "Build C++ Client Error"
**Describe the bug**
I'm following the [guide](https://pulsar.apache.org/zh-CN/docs/client-libraries-cpp/#macos) about in the macOS how to install the c++ client of the pulsar.

But at the end of the steps.  when I try to run the "make" command in my terminal. I get an error...

**Screenshots**
Steps to reproduce the behavior:

Just according to my description at the end of the building, the pulsa

[2022-07-13 07:28] isminexxb opened #16567 "Thread is blocked when close the partitioned consumer"
When I create a consumer for a partitioned topic after close other consumer, the new consumer cannot receive any messages occasionally(C++ LIBRARY, v2.10.0). It seems to have been fixed recently ([https://github.com/apache/pulsar/commit/6b40749dd4d6be5ea93fc987986a65209c5a8a56](url)). But did it forget to close messages_ in PartitionedConsumerImpl?

[2022-07-13 07:45] horizonzy commented on #16551
Hi, PIP-184 already exist. https://github.com/apache/pulsar/issues/16481, should increate the number to 185

[2022-07-13 08:02] BewareMyPower commented on #11845
IMO, the library-global logger is more for safety. Currently C++ client uses a thread local logger for all source files of the library so that the user-provided Logger implementation doesn't need to be thread-safe. If a logger binds to a specific class instance like `Client`, the logger could be used by multiple threads, so it has to be thread-safe.

Do you have any better idea? @merlimat

[2022-07-13 08:08] RobertIndie commented on #16532
Fixed by https://github.com/apache/pulsar/pull/16493

[2022-07-13 08:38] horizonzy opened #16569 "PIP-186: Introduce two phase deletion protocol based on system topic"
## Motivation

Original issue: #13238

In the current ledger deletion, we divided it into three separate steps.

* Mark the ledger Id list which will be removed.

* Remove the ledger id list from whole ledgers and update the whole ledgers into a pulsar meta store.

* In the meta store successful update callback, delete the ledgers corresponding to the ledger id from the storage system, such as Boo

[2022-07-13 08:42] asafm commented on #12269
I can't find the vote in the mailing list searching PIP-105.

[2022-07-13 09:32] eolivelli commented on #12269
@asafm good call! I can't find it either

[2022-07-13 09:48] truong-hua opened #16571 "Is there any way to delete a broken topic"
### What issue do you find in Pulsar docs?

Do not found any way to resolve or delete a topic which can not be deleted with API or pulsar-admin even with force=true.

We are under this situation https://github.com/apache/pulsar/issues/15891 and the broken topics of these issue can not be deleted (even forced). Someone also suggest a way to manually delete the znode of the topic like this https://g

[2022-07-13 12:43] zbentley commented on #15213
Thanks!

[2022-07-13 12:57] acortes-okode opened #16574 "MultiRolesTokenAuthorizationProvider only authorizes first role (at least for superuser)"
First of all, thank you all for your work! This seems an amazing tool and thats why I am looking into it to use it as a domain event bus for my application.

**Describe the bug**
I'm setting JWT token authentication/authorization with multiple roles and using org.apache.pulsar.broker.authorization.MultiRolesTokenAuthorizationProvider in order to check for 'superuser' role in the list of roles that

[2022-07-13 12:58] zbentley commented on #11845
To double down, I think the statement @merlimat made [here](https://github.com/apache/pulsar/issues/6463#issuecomment-910782962):

is not going to be true in a lot of the Python world. In Python, the pulsar client is one library of many in potentially long-lived applications; it's not necessarily part of a global, nor is it expected (or desired) for it to manage a global pool of connection state.

[2022-07-13 13:04] zbentley commented on #11324
Suggest closing this issue as I believe it is outdated.

[2022-07-13 13:16] #16487 closed

[2022-07-13 15:00] nicoloboschi commented on #10788
Another time: https://github.com/apache/pulsar/runs/7320980102?check_suite_focus=true

[2022-07-13 15:03] nicoloboschi opened #16578 "Flaky-test: PulsarSinkE2ETest.testPulsarSinkDLQ"
[example failure](https://github.com/apache/pulsar/runs/7320943955?check_suite_focus=true)

[code]

[2022-07-13 16:09] nodece opened #16582 "Test: mockito broken"
In our tests, I found this log that looks like the mockito broken:
[code]

[2022-07-13 21:26] michaeljmarshall opened #16584 "Add Broker Cache Entry Eviction Rate Metric"
**Is your enhancement request related to a problem? Please describe.**
The current broker cache eviction metric, `pulsar_ml_cache_evictions`, measures when the cache's [hasSpaceInCache](
https://github.com/apache/pulsar/blob/e4092498cc01473a8a67441b082b9d86ed06890d/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/cache/RangeEntryCacheManagerImpl.java#L112-L138) triggers an eviction.

[2022-07-13 21:27] michaeljmarshall commented on #16584
@lhotari - I think additional metrics like the one described above could help make an issue like https://github.com/apache/pulsar/issues/16054 easier to observe.

[2022-07-13 21:36] mfortman11 opened #16585 "[Doc] Manage Schema - Upload a Schema - Example 1 is incorrect"
### What issue do you find in Pulsar docs?

On [https://pulsar.apache.org/docs/schema-manage/#upload-a-schema](https://pulsar.apache.org/docs/schema-manage/#upload-a-schema) in Example 1 there are problems with the example schema. (This is in addition to changes requested in [#16548](https://github.com/apache/pulsar/issues/16548))

The schema type should be switched back to  "record"
File 2 needs

[2022-07-13 22:11] michaeljmarshall opened #16587 "Broker Cache Allocations Metrics Always 0"
**Describe the bug**
The `allocator-stats` for the broker's entry cache appear to be broken because they are always 0, even when the cache is in use.

**To Reproduce**
Steps to reproduce the behavior:
1. Build apache/pulsar master.
2. Run `bin/pulsar standalone`
3. Run `bin/pulsar-perf consume -r 99 test`
4. Run `bin/pulsar-perf produce -r 100 test`
5. Run `bin/pulsar-admin broker-stats allocator-

[2022-07-13 22:12] michaeljmarshall commented on #16587
These are 0 because `managedLedgerCacheCopyEntries` is `false` in the broker.conf. I wonder if it is worth not exposing allocator metrics when that value is false? Closing this issue since it is not a bug.

[2022-07-13 22:12] #16587 closed

[2022-07-14 00:05] rillo-carrillo opened #16588 "Pulsar Audit - Question"
Need to know if there is a way to know which user with what role executed a REST API call to Pulsar Broker for Audit purposes.

I have look throughout documentation but was not able to find it.

Is there a way to achieve such goal?

[2022-07-14 00:26] codelipenghui opened #16589 "Flaky-test: TransactionEndToEndWithoutBatchIndexAckTest.txnAckTestBatchAndCumulativeSub"
[example failure](https://github.com/apache/pulsar/runs/7327040379?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-14 01:39] #16585 closed

[2022-07-14 02:34] nodece commented on #16582
@nicoloboschi Thanks for your fix, I need some tim to test this, if there no problem, I'll close this issue.

[2022-07-14 04:44] hpa16 commented on #15892
@Anonymitaet I have updated the PR. Can you please assign this issue to me and merge the PR? Thanks!

[2022-07-14 05:15] truong-hua commented on #15696
Sorry, this is my mistake, just define `Function<byte[], Void>`worker and it can consume any schema. If possible, it should be clearly describe in the document.

[2022-07-14 05:15] #15696 closed

[2022-07-14 05:19] AnonHxy opened #16595 "Flaky-test: org.apache.pulsar.client.impl.PatternTopicsConsumerImplTest.testAutoSubscribePatternConsumer"
org.apache.pulsar.client.impl.PatternTopicsConsumerImplTest.testAutoSubscribePatternConsumer is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7333593643?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-14 06:40] Anonymitaet commented on #15892
@hpa16 assigned. Feel free to ping me to merge your PR after all checks pass.

[2022-07-14 07:02] eolivelli opened #16596 "Broker: add metrics about server-side filtering (PIP-105)"
**Is your enhancement request related to a problem? Please describe.**
I would like to see a metric about the outcomes of filters:
- number of messages passes thru the filter
- number of accepted messages
- number of rejected messages
- number of rescheduled messages

This must be per-subscription

**Additional context**
This is useful to estimate how many messages are filtered out by a subscripti

[2022-07-14 07:09] #9721 closed

[2022-07-14 07:20] eolivelli opened #16597 "PIP-187 Add API to analyze a subscription backlog and provide a accurate value"
## Motivation

Currently there is no way to have a accurate backlog for a subscription:
- you have only the number of "entries", not messages
- server side filters (PIP-105) may filter out some messages

Having the number of entries is sometimes not enough because with batch messages the amount of work on the Consumers is proportional to the number of messages, that may vary from entry to entry.

[2022-07-14 07:45] eolivelli opened #16598 "Pulsar IO: KafkaSink handle KeyValue schema"
**Is your enhancement request related to a problem? Please describe.**
KafkaSink does not work with KeyValue schema.

**Describe the solution you'd like**
KafkaSink should work with KeyValue schema, I am especially interested in the case of KeyValue<AVRO,AVRO>

**Describe alternatives you've considered**
Use function to convert from KeyValue to something else

[2022-07-14 09:17] lhotari opened #16601 "Add support for cgroup v2 in Pulsar Loadbalancer"
**Is your feature request related to a problem? Please describe.**

The Pulsar loadbalancer detects CPU limits using cgroup v1 API.
Newer Kubernetes runtimes support cgroup v2 and popular Linux distributions are migrating to use cgroup v2 as the default option.

https://kubernetes.io/docs/setup/production-environment/container-runtimes/#cgroup-v2

https://kubernetes.io/docs/concepts/architecture/c

[2022-07-14 10:04] mouchar commented on #10972
It also happened to us after upgrading from pulsar 2.7.x to 2.9.2.
The problem is that existing namespaces have subscriptionExpirationTimeMinutes set to `0` instead of `null`.

The fix is to remove the setting by `pulsar-admin namespaces remove-subscription-expiration-time tenant/namespace`.
Then, all stale subscriptions without consumers were automatically deleted without any user intervention.

[2022-07-14 10:28] eolivelli commented on #16596
This is already partial support here
https://github.com/apache/pulsar/pull/14531
but we are missing the 'rescheduled' messages

[2022-07-14 11:04] hpa16 commented on #15892
@Anonymitaet the checks have passed, you can merge it now. Thanks for the quick turnaround.

[2022-07-14 14:18] #15892 closed

[2022-07-14 15:43] RobertMukuchura opened #16606 "msgBacklog, storageSize, backlogSize metrics keep increasing after stopping consumers"
**Describe the bug**
Anytime after I start a consumer for a topic and stop it when the backlog is >= 0, the msgBacklog, storageSize, backlogSize metrics continuously rise. Expected these metrics to remain constant when the consumers stop.

**To Reproduce**
Steps to reproduce the behavior:
1. Migrate topic to test
2. Check topic stats via `pulsar-admin topics partitioned-stats my_topic`
3. Run a co

[2022-07-14 18:14] RobertMukuchura commented on #16606
`pulsar-admin topics partitioned-stats my_topic` ouput

`{
  "msgRateIn" : 0.0,
  "msgThroughputIn" : 0.0,
  "msgRateOut" : 0.0,
  "msgThroughputOut" : 0.0,
  "bytesInCounter" : 0,
  "msgInCounter" : 0,
  "bytesOutCounter" : 0,
  "msgOutCounter" : 0,
  "averageMsgSize" : 0.0,
  "msgChunkPublished" : false,
  "storageSize" : 4524,
  "backlogSize" : 2349,
  "publishRateLimitedTimes" : 0,
  "earliest

[2022-07-14 18:22] RobertMukuchura commented on #16606
Namespaces info:

`{
  "auth_policies": {
    "namespace_auth": {},
    "destination_auth": {},
    "subscription_auth_roles": {}
  },
  "replication_clusters": [
    "standalone"
  ],
  "bundles": {
    "boundaries": [
      "0x00000000",
      "0x40000000",
      "0x80000000",
      "0xc0000000",
      "0xffffffff"
    ],
    "numBundles": 4
  },
  "backlog_quota_map": {
    "destination_storage

[2022-07-14 18:45] RobertMukuchura commented on #16606
This was caused by `replicate_subscription_state_enabled` always being set to `True`. Resolved by setting `replicate_subscription_state_enabled=self.subscription.replicate_state`

[2022-07-14 22:51] gitanjali-pandey opened #16608 "Message Key not copied to messages published on DLQ"
**Describe the bug**
when message is produced on a DLQ topic, the message doesn't contain the key which was in the original message.

**To Reproduce**
Steps to reproduce the behavior:
1. using a java client, produced this message on a topic:  MessageId msgId = producer.newMessage()
                            .key("key1").value("value1").send();
2. Have a consumer with the following config:3.
4..

[2022-07-15 01:53] congbobo184 commented on #16589
https://github.com/apache/pulsar/pull/16592 fixed.

[2022-07-15 01:53] #16589 closed

[2022-07-15 02:17] congbobo184 commented on #10431
https://github.com/apache/pulsar/pull/10478

[2022-07-15 02:17] #10431 closed

[2022-07-15 02:18] #13945 closed

[2022-07-15 02:18] congbobo184 commented on #15133
https://github.com/apache/pulsar/pull/15157 implement it

[2022-07-15 02:18] #15133 closed

[2022-07-15 02:19] #13944 closed

[2022-07-15 02:40] #15549 closed

[2022-07-15 03:30] Anonymitaet opened #16613 "[improve][client] Optimize Third-Party Client Matrix Page"
Third-Party Client Matrix Page: https://pulsar.apache.org/docs/next/client-libraries

1. Some clients are obsolete, they have not been updated for a long time, should we still show them?

2. What's the definition of "obsolete client"?
For example, a client was last updated before a certain date or something else?

3. Can we show the `last update time` automatically in the third-party client matrix

[2022-07-15 03:32] shibd commented on #16595
same #16556

[2022-07-15 03:51] gaozhangmin commented on #16608
I will take a look

[2022-07-15 05:35] tisonkun commented on #16558
Another instance: https://github.com/apache/pulsar/runs/7351817517?check_suite_focus=true

[2022-07-15 06:00] errayzhao commented on #13347
It's too hard to see this news. We also encounter the problem of consumer routing compatibility in the legacy system upgrade. If the community can't support this feature, is there any better suggestion for the legacy system routing compatibility problem? At present, we can think of two ways. One is custom development, but it's troublesome to synchronize the subsequent community version upgrades; T

[2022-07-15 06:02] errayzhao commented on #13347
@gaozhangmin It's too hard to see this news. We also encounter the problem of consumer routing compatibility in the legacy system upgrade. If the community can't support this feature, is there any better suggestion for the legacy system routing compatibility problem? At present, we can think of two ways. One is custom development, but it's troublesome to synchronize the subsequent community versio

[2022-07-15 06:04] andyzhao9527 commented on #13347
@gaozhangmin It's too hard to see this news. We also encounter the problem of consumer routing compatibility in the legacy system upgrade. If the community can't support this feature, is there any better suggestion for the legacy system routing compatibility problem? At present, we can think of two ways. One is custom development, but it's troublesome to synchronize the subsequent community versio

[2022-07-15 06:53] #16595 closed

[2022-07-15 07:51] lhotari commented on #16601
Java 11 is getting cgroup v2 support in 11.0.16 with https://bugs.openjdk.org/browse/JDK-8230305 changes. It seems that Java 17 already supports cgroup v2.

[2022-07-15 08:25] shibd commented on #16558
same https://github.com/apache/pulsar/issues/15392

[2022-07-15 08:36] shibd commented on #16556
fix by https://github.com/apache/pulsar/pull/16599

[2022-07-15 08:57] AnonHxy opened #16619 "PIP-189: No batching if only one message in batch"
discuss mail-thread: https://lists.apache.org/thread/dbq1lrv03bhtk0lr5nwm5txo9ndjplv0
## Motivation

The original discussion mail :
https://lists.apache.org/thread/5svpl5qp3bfoztf5fvtojh51zbklcht2

linked issue: https://github.com/apache/pulsar/issues/16547

Introduce the ability for producers to publish a non-batched message if there is only one message in the batch.

It is useful to save the `Si