[2021-06-21 17:05] lanwen commented on #5059
@rcusters we offload everything to a database on an event gateway (see github.com/bsideup/liiklus) with a custom plugin and keep only references and meta information in pulsar. Then if we need to delete something, we delete that from db directly. Same could be achieved with multiple topics with different retention and pulsar functions. We don't have huge numbers yet and quite a naive solution of t

[2021-06-21 19:03] newur commented on #10971
@Anonymitaet I would say so, yes. For me transaction are all about the boundaries, so I want to know where does it start and till which point can it rollback. And pictures are pretty useful to illustrate borders. :D

Btw. I would drop statement like "Today’s businesses need to handle ever-increasing amounts of live data." This probably sounds great in marketing, but is fluff for most people who wi

[2021-06-21 20:18] klevy-toast opened #11008 "Java client: consumer listener does not respect receiver queue size"
**Describe the bug**
When using a consumer on a shared subscription with `messageListener`, messages are queued up to the consumer beyond what the `receiverQueueSize` should allow. As a result, a 2nd consumer on the shared subscription that comes online afterwards will not receive messages, even if the 1st consumer is very slow in processing.

**To Reproduce**
1. Create a consumer with Shared subs

[2021-06-21 22:51] #10938 closed

[2021-06-22 02:40] #10951 closed

[2021-06-22 03:03] wolfstudy commented on #10994
I will process it.

[2021-06-22 06:19] zhucanyi commented on #10998
Is it possible that only pod can send messages in K8S? Or there may be other solutions that enable local access to pulsar in K8s

[2021-06-22 07:56] aloyszhang opened #11013 "Field 'publish_time' is not set"
**Describe the bug**

KoP deserialize error after  upgrade from 2.7.2 to 2.8.0.
Similiar to https://github.com/apache/pulsar/issues/9467

[code]

[2021-06-22 08:15] linusmotu commented on #9594
Anyone have any success with this? I wanted to try and compile on the Raspberry Pi but I don't know where to even start.

[2021-06-22 08:28] #10994 closed

[2021-06-22 09:20] BewareMyPower commented on #10975
This issue is resolved, we need to configure

[code]

in `conf/standalone.conf`.

https://github.com/apache/pulsar/pull/8442 fixed the bug while the default value of `brokerDeleteInactivePartitionedTopicMetadataEnabled` is false, which means the metadata won't be deleted automatically.

BTW, the `conf/standalone.conf` didn't add this config.

[2021-06-22 09:34] Zhen-hao commented on #11007
Kafka's approach is to support both POJO and Avro's GenericRecord; see https://faun.pub/tutorial-validate-your-data-pipeline-using-schema-registry-and-kafka-streams-523595d7fe3d

It seems Pulsar only supports POJO as far as the validation is concerned.

[2021-06-22 09:42] eolivelli commented on #11007
for reference:
here you can find an example about how to deal with a pure org.apache.avro.Schema

https://github.com/apache/pulsar/blob/d81b5f8b8e6cb17f307ec830accaf9dd95d7643b/pul[…]a/src/main/java/org/apache/pulsar/io/kafka/AvroSchemaCache.java

basically you can create an implementation of org.apache.pulsar.schema.Schema that:
- reports the Schema definition from Avro
- keeps the encoded value

[2021-06-22 10:21] BewareMyPower commented on #10996
Does `consumer.close()` work? `unsubscribe()` is just to send an UNSUBSCRIBE command to broker. For `MultiTopicsConsumer`, it calls `unsubscribe()` method for each single topic.

[2021-06-22 10:27] qq459673705 commented on #6894
This problem is caused by https://github.com/apache/bookkeeper/issues/2357
First the pulsar server log showed me that :  Not enough non-faulty bookies available.
Then a minutes later , the log showed  me this:  io.netty.util.internal.OutOfDirectMemoryError: ....
After 5 times retry，Pulsar server is shutdown.
When i found this, i tried to restart the pulsar server, but the log tell me that:  Failed

[2021-06-22 10:48] Anonymitaet commented on #10971
Hi @newur thanks for your suggestions.

After discussing w/ @congbobo184, we've adjusted the doc architecture and want to make the following changes:

1. Move the following contents to the `What is txn` chapter since they are general explanations and appropriate for stream processing (like Pulsar Flink connector, Pulsar Spark connector, and Function)

![image](https://user-images.githubusercontent

[2021-06-22 10:51] Zhen-hao commented on #11007
@eolivelli thanks a lot for your help!

I can confirm it works. I'm happy that my work is unblocked.

On the other hand, it feels like cheating. Because we are telling Pulsar it's a schema for `byte []` (or `ByteBuffer`) while it is for some Avro `GenericRecord`.

[2021-06-22 11:35] Shoothzj commented on #10996
`Consumer.close()` work， but when you call `unsubscribe()`, it changes the state to `Closing`, and then U can't call `close` any more. And the `ConsumerImpl` close the consumer, while `MultiConsumerImpl` doesn't.

[2021-06-22 11:36] Shoothzj commented on #10996
Fixed in this PR
https://github.com/apache/pulsar/pull/10997

[2021-06-22 11:36] #10996 closed

[2021-06-22 11:40] newur commented on #10971
Sounds good. Maybe you can add a brace to the picture from which start to which end the transaction applies (I think I understand it from the text now, but would be nice anyway).

Nit: I think `writes the resulting messages to another topic` is more like `writes the result to one or more topics`?

Hu? I was under the impression I can write my own transaction in a pulsar function? Thought there wer

[2021-06-22 11:42] Jason918 commented on #7723
@codelipenghui HI, I'll be happy to participate.
Please check this more detailed solution.
Add a new parameter `managedLedgerRolloverRateLimit`, rate limit the amount of rollover per second in one broker. This parameter can be set as 0 by default meaning no rate limiting .

As `ManagedLedgerImpl#currentLedgerIsFull` is called before each ledger rollover, we can add a global rate limiter after that

[2021-06-22 13:03] eolivelli commented on #11002
The problem is that we have holes in the `individuallyDeletedMessages`.
I have to try to reproduce this problem with a simple reproducer.
It may be related to transaction rollback, because I reproduce this situation only after running some tests about transactions

[2021-06-22 14:19] #7544 closed

[2021-06-22 14:56] tausifrazi123 commented on #10925
Apologies for the late reply . I think we have figured out the issue. The underlining controller service which is getting called is not closing the thread and trying to open a new thread connection which is not possible in "Exclusive" subscription type mentioned in the attached picture above.

But how do we solve the problem of pulsarclientservice trying to create a new thread of connection when t

[2021-06-22 23:36] #10908 closed

[2021-06-23 00:39] #10932 closed

[2021-06-23 01:19] Anonymitaet commented on #10971
Thanks for your suggestion. I think the directions of these arrows already point out the start and end (from left to right), correct?

![image](https://user-images.githubusercontent.com/50226895/123019754-abf6ca00-d403-11eb-88b3-d2c262a59664.png)

Thanks for reminding me, I've updated it to `writes the result to one or more topics`.

Hi @congbobo184 for this question, could you please help explain

[2021-06-23 05:12] lhotari commented on #10870
More recent failure: https://github.com/apache/pulsar/pull/11025/checks?check_run_id=2889196047#step:9:5128

[2021-06-23 05:15] lhotari opened #11031 "Flaky-test: KeyValueSchemaInfoTest.encodeDecodeNestedKeyValueSchemaInfo"
KeyValueSchemaInfoTest is flaky. The encodeDecodeNestedKeyValueSchemaInfo test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/11025/checks?check_run_id=2889196047#step:9:8734)

[code]

[2021-06-23 05:18] lhotari commented on #10872
The problem remains. I wonder if this is a real problem in the conflict resolution since I might have seen the same error message in other locations.

[Recent failure:](https://github.com/apache/pulsar/pull/11025/checks?check_run_id=2889196047#step:9:10734)
[code]

[2021-06-23 05:18] lhotari commented on #10872
@sursingh Would you be able to take another look? Thanks

[2021-06-23 05:25] lhotari commented on #10872
The above exception happens on line 143:

https://github.com/apache/pulsar/blob/4cf1008a7b5faf48e02cc3a68560ff469d700c73/pulsar-metadata/src/test/java/org/apache/pulsar/metadata/MetadataCacheTest.java#L143

[2021-06-23 05:33] lhotari commented on #10872
It's also possible that there was a previous failure and TestNG retried the test (In Pulsar, TestNG will retry a failed test once). The original test failure is now lost since I restarted the test run. It would have been in the surefire logs, but that gets lost if the build is restarted.

[2021-06-23 05:42] lhotari opened #11032 "Flaky-test: ZKSessionTest.testReacquireLeadershipAfterSessionLost"
ZKSessionTest is flaky. The testReacquireLeadershipAfterSessionLost test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/11026/checks?check_run_id=2889407530#step:9:4861)

[code]

[2021-06-23 05:46] lhotari commented on #11032
[Another exception in the same test](https://github.com/apache/pulsar/pull/11026/checks?check_run_id=2889407530#step:9:3196)

[code]

[2021-06-23 05:47] lhotari commented on #10872
[One more recent failure](https://github.com/apache/pulsar/pull/11026/checks?check_run_id=2889407530#step:9:1489)

[2021-06-23 07:11] #10989 closed

[2021-06-23 07:36] roelrymenants opened #11036 "Support configuring the BatcherBuilder through a producer property"
**Is your enhancement request related to a problem? Please describe.**
Consumers support `KEY_SHARED` subscriptions. For this to work with producer batching, the producer needs to use a `KEY_BASED` `BatcherBuilder`. The `subscriptionType` of the consumer is currently configurable through properties. The `BatcherBuilder` used by the producer however, is only configurable through code. It would be n

[2021-06-23 07:47] lbenc135 commented on #11004
This is because the build image was not released yet. Maybe @BewareMyPower knows when that happens? I see no reason why we couldn't build it now, but someone with the correct rights needs to run `pulsar-client-cpp/docker/create-images.sh` and `pulsar-client-cpp/docker/push-images.sh`.

As a workaround, you can build the image locally with `pulsar-client-cpp/docker/create-images.sh`, and edit the `

[2021-06-23 07:52] eolivelli opened #11037 "Flaky-test: org.apache.pulsar.client.impl.schema.PrimitiveSchemaTest.allSchemasShouldSupportNull and allSchemasShouldRoundtripInput"
[code]

output:

[2021-06-23 07:52] eolivelli commented on #11037
one key of the test data is null, there may be some weird issue with static initialization

[2021-06-23 08:29] k0rnpisey opened #11041 "Can not set retention policies via config file"
**Describe the bug**

Retention was configured via standalone config file but get retention via admin cli or rest api return null.
**Additional info**: It works as expected if setting retention via rest-api or admin cli.

pulsar image
[code]
standalone.conf
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. set retention values in standalone.conf
2. start pulsar container
3. get retentio

[2021-06-23 10:02] MaxHub opened #11043 "Sources on Maven Central"
Hello guys.

Are sources for java client not available for any particular reason on Maven Central?
sources.jar is there, but contains nothing

[2021-06-23 10:09] anvinjain opened #11044 "Dispatch rate discrepancies when byte rates used"
**Describe the bug**
When using byte rates, we see that dispatch rates are often not respected (regardless of being a namespace or topic policy)

**To Reproduce**
This happens when dispatch rates are set on the lower side, say, 100KB/s while dispatcherMaxReadSizeBytes=5MB and dispatcherMaxReadBatchSize=100 which are defaults

On debugging, we discovered that dispatcherMaxReadSizeBytes and dispatch

[2021-06-23 10:10] anvinjain commented on #11044
One way to fix this could to be penalize subsequent rate period too if we have gone over the limit in one of the period (in this case period = 1 second).
Another way would be to calculate messagesToRead proportionally according to byte limit. In fact this is even done here: https://github.com/apache/pulsar/blob/b9db969d6bc3e2d18ee35e84629c6634560fb622/managed-ledger/src/main/java/org/apache/bookke

[2021-06-23 10:10] anvinjain commented on #11044
Continuing on the exploration, maybe this is as simple as changing https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java#L343 from serviceConfig.getDispatcherMaxReadSizeBytes() to Math.min(serviceConfig.getDispatcherMaxReadSizeBytes(), dispatch-byte-rate-limit)

[2021-06-23 10:20] kant777 commented on #572
kafka got rid of ZK and doesnt depend on etcd or consul either(way to go).

[2021-06-23 12:12] lhotari opened #11045 "Flaky-test: ResourceGroupConfigListenerTest.testResourceGroupAttachToNamespace"
ResourceGroupConfigListenerTest is flaky. The testResourceGroupAttachToNamespace test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/11026/checks?check_run_id=2894464546#step:10:571)

[code]

[2021-06-23 12:17] lhotari commented on #11045
@bharanic-dev The fix seems to be to remove the `.atMost` method calls from Awaitility. It's better to rely on the default that is 10 seconds. The code will also be less cluttered without the `.atMost` statements.

[2021-06-23 12:23] yangl commented on #11043
Yes, the current sharded jar is missing source code. https://github.com/apache/pulsar/pull/10597

[2021-06-23 14:00] lhotari commented on #11045
@bharanic-dev I'll fix this, pushing a PR soon.

[2021-06-23 14:07] lhotari opened #11049 "Flaky-test: AdminApiTest.testUpdateDynamicLocalConfiguration"
AdminApiTest is flaky. The testUpdateDynamicLocalConfigurationtest method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/11026/checks?check_run_id=2894465015#step:10:5352)

[code]

[2021-06-23 14:09] lhotari opened #11050 "Flaky-test: ServerCnxTest.testDuplicateConcurrentSubscribeCommand"
ServerCnxTest is flaky. The testDuplicateConcurrentSubscribeCommand test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/11026/checks?check_run_id=2894465015#step:10:356)

[code]

[2021-06-23 14:15] eolivelli commented on #11002
I am continuing my investigation and it looks like when I send messages using a transaction the 'commit' operation uses a messageId.

So:
- create transaction 1
- send message using transaction 1, message id is for instance `3:0:-1`
- commit transaction 1
- create transaction 2
- send message using transaction 2, message id is for instance `3:2:-1`
- commit transaction 2

so message 3:1:-1 does no

[2021-06-23 14:24] lhotari commented on #6014
[Recent failure](https://github.com/apache/pulsar/pull/11046/checks?check_run_id=2894997728#step:10:1084):
[code]

[2021-06-23 14:25] codelipenghui commented on #11002
@congbobo184 Could you please help take a look at this issue? Looks like related to the transactions

[2021-06-23 14:26] lhotari commented on #10786
[recent failure](https://github.com/apache/pulsar/pull/11046/checks?check_run_id=2894997728#step:10:2128):
[code]

@Renkai @congbobo184 @gaoran10 Would you be able to check what's causing the flakiness in this test? thank you

[2021-06-23 19:38] xuamao opened #11053 "start apache-pulsar-2.7.2 get Exception"
**Describe the bug**
run "bin/pulsar standalone" in terminal getting the following Exception.

21:25:19.829 [main] INFO  org.apache.zookeeper.server.NIOServerCnxnFactory - binding to port 0.0.0.0/0.0.0.0:2181
21:25:19.854 [main] INFO  org.apache.zookeeper.server.persistence.FileSnap - Reading snapshot data/standalone/zookeeper/version-2/snapshot.0
21:25:19.869 [main] INFO  org.apache.zookeeper.ser

[2021-06-23 20:04] #11045 closed

[2021-06-23 20:47] shaunek commented on #5672
This functionality would be much appreciated. I'm mainly interested because adding functionality to the C++ client would enable the functionality in the nodejs client as well.

[2021-06-23 21:20] lhotari opened #11054 "Flaky-test: KeyValueSchemaTest.testKeyValueSchemaSeparatedEncoding"
KeyValueSchemaTest is flaky. The testKeyValueSchemaSeparatedEncodingtest method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/11026/checks?check_run_id=2898206737#step:9:10391)

[code]

[2021-06-23 21:24] lhotari commented on #11032
[yet another](https://github.com/apache/pulsar/pull/11026/checks?check_run_id=2898206737#step:9:6817)

[2021-06-23 21:26] lhotari commented on #10870
[another failure](https://github.com/apache/pulsar/pull/11026/checks?check_run_id=2898206737#step:9:5139)
[code]

[2021-06-23 21:50] brummetj opened #11055 "linker error for curl when using pulsar lib"
**Describe the bug**
Can anyone help me here? I built the pulsar-client-cpp from source, but when i try to compile my project with the libpulsar.a files, i get linker errors all over.

I was able to resolve it by adding the curl library as a target_link in my own CMake, but I've been told this a cheat and i need to resolve the dependency between pulsar and curl.

The linker errors i see are as bel

[2021-06-23 22:42] rdhabalia commented on #10021
websocket just pass through message payload with key to client without modifying anything.

[2021-06-24 01:56] dhinesherode91 commented on #8429
Hey,

I am facing a similar issue.
I am running pulsar 2.7.1 and I have a topic with AVRO schema where my producers push avro messages and consumer receives and process the avro data. My consumer application receives the message through pulsar client's MessageListener. All my topic messages are tagged with the latest avro schema version. And I could see that schema in the Pulsar cluster's SchemaRe

[2021-06-24 02:11] mattisonchao commented on #11050
I want to fix this flaky test. : )

[2021-06-24 02:53] #10929 closed

[2021-06-24 03:21] mattisonchao commented on #11032
I want to fix it. :)

[2021-06-24 04:02] esadek opened #11064 "Nav bar backgroud color"
**Describe the bug**
For screens with a width below 1024px, the nav bar on the pulsar website has a dark green background.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://pulsar.apache.org/ on a screen with a width below 1024px
2. See error

**Expected behavior**
The background should be white or perhaps light grey.

**Screenshots**
![Screenshot](https://i.imgur.com/ehydBHE.png

[2021-06-24 06:11] mattisonchao opened #11066 "Flaky-test: AdminApiTest.testDeleteTenantForcefully"
AdminApiTest is flaky. The testDeleteTenantForcefully method fails sporadically.

[code]

[2021-06-24 06:33] robshep commented on #8429
Hi
No, sadly I cannot recreate this issue in isolation.

But It occurs on ~50% of redeploys and requires repeated restarts of the application to clear it.

We use TestContainers as part of the integration tests to spin up pulsar in isolation and it never happens in this scenario. (Empty schema registry when consumer and producer connects, then schema def on first use)

I’d be happy to spend time o

[2021-06-24 06:54] Jason918 commented on #10757
@xqianwang Hi, can you add more detailed info about how to set up websocket client to reproduce this issue ?
I am using cmd `bin/pulsar-client produce <topic> -n 1000 -r 1000` and  sets `brokerServiceUrl=ws://localhost:8080/` in `conf/client.conf`.  Not able to reproduce this issue.

[2021-06-24 07:23] Jason918 opened #11067 "pulsar-client produce failed sending v2 topic name through websocket"
**Describe the bug**
pulsar-client produce failed sending v2 topic using websocket.

**To Reproduce**
Steps to reproduce the behavior:
1. run standalone server using default configs.
2.  config `brokerServiceUrl=ws://localhost:8080/` in conf/client.conf
3. send message with cmd `bin/pulsar-client produce persistent://public/default/jason -m "HELLO" `
4. See error "java.lang.IllegalArgumentExceptio

[2021-06-24 08:47] andrekramer1 opened #11070 "Zookeeper in 3 node Kubernetes cluster does not pass heath check in 2.8.0"
**Describe the bug**
Running the Kubernetes Helm chart with a 2.8.0 pulsar image, Zookeeper pod 0 runs but fails repeatedly. The rest of the Pulsar cluster is waiting on Zookeeper initialization. The Zookeeper health check is not passing "echo ruok | nc localhost 2181" is not returning "imok" - just hanging I think. So the kubernetes health check is failing repeatedly. Zookeeper is also complainin

[2021-06-24 10:17] dhinesherode91 commented on #8429
Thanks for the information.

In my case, in my local I am running a standalone Pulsar and Consumer applications are Spring boot application. The above issue is not occurring in local.

But in staging and production setups, we are running Pulsar in kubernetes and our Consumer spring boot applications are running as Containers. In those setups I could see this issue more often and I have to restart

[2021-06-24 10:58] mattisonchao commented on #10786
I want to fix it. :)

[2021-06-24 11:37] mattisonchao commented on #10796
@lhotari  this PR may be fixed this issue: https://github.com/apache/pulsar/pull/11016

[2021-06-24 12:27] lhotari opened #11075 "[Functions] Python instance doesn't use the given subscription name for input topic consumer"
**Describe the bug**

When creating a function, it's possible to set the subscription name with the `--subs-name` parameter

[code]

However this setting is ignored in the Python instance runner.

**Expected behavior**

The given subscription name should be used.

**Additional context**

Code:
https://github.com/apache/pulsar/blob/334dffdb95035349cc0fdbc9f84a15d2422a825b/pulsar-functions/instance/

[2021-06-24 12:38] mattisonchao opened #11077 "Flaky-test: ConsumedLedgersTrimTest. testConsumedLedgersTrimNoSubscriptions"
[code]

[2021-06-24 12:45] #11049 closed

[2021-06-24 13:02] suiyuzeng opened #11079 "Increase the rate of topic creation"
**Is your enhancement request related to a problem? Please describe.**
   The count of topic created in 1 second is less than 200, when the topic count of the namespace is about 200,000.

**Describe the solution you'd like**
   Increase the rate of topic creation.

**Describe alternatives you've considered**
   The reason is that the time cost of topic exist checking is too long when the topic cou

[2021-06-24 13:13] #11079 closed

[2021-06-24 13:20] congbobo184 commented on #11002
now, transaction delete marker is an asynchronous operation, if new messages continue produce and ack message continue, there will not produce problem. in some race condition, ack message1 the `delete marker` in process and ack message2 will not in `delete marker` process, in this time the producer don't send new message to broker and will not process the ack operation. the sub may not delete the

[2021-06-24 14:30] aloyszhang commented on #11013
@BewareMyPower @hangc0276

This is problem happends when broker entry metadata is enabled without `AppendBrokerTimestampMetadataInterceptor`.

Let's see the logic of expire message
[code]
 we will get an entry and get the `brokerEntryTimestamp` or the `publishTime` to compare with the message-ttl.

And if broker entry metadata is enabled without `AppendBrokerTimestampMetadataInterceptor`.

After`M

[2021-06-24 15:41] MarvinCai commented on #10495
the MsgDropRate is also missing from `stats` in mainline after the interface update, figure out it's a weird serialization issue, I'll try to fix it.

[2021-06-24 15:52] congbobo184 commented on #11044
hi @anvinjain , now only dispatch-rate-limit-by-msg-number can cumulate messagesToRead https://github.com/apache/pulsar/blob/0be9d1373f0077286812f2636acf451ee3f10e4b/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsumer.java#L427 if want dispatch-rate-limit-by-byte precise, when cumulate messagesToRead by the dispatch-rate-limit-by-byte. I

[2021-06-24 16:12] BewareMyPower opened #11081 "[C++] Support Windows Debug mode build"
**Is your enhancement request related to a problem? Please describe.**
Currently we can follow https://github.com/apache/pulsar/tree/master/pulsar-client-cpp#compile-on-windows to build release version Pulsar C++ library on Windows.

However, we cannot easily change Change `Release` to `Debug` for a debug version. Because the `vcpkg_installed` directory hierarchy may be like:

[code]

The name of

[2021-06-24 23:19] nlu90 opened #11083 "consecutive `mvn install` failes due to some shading behavior"
**Describe the bug**
The compilation fails due to some previous compilation output. Here is the error message:
[code]

**To Reproduce**
Steps to reproduce the behavior:
run `mvn install -DskipTests` without `clean`

**Expected behavior**
`mvn install` should be successful.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following inform

[2021-06-25 01:21] W-Gavin opened #11086 "Start pulsar error : Failed to start pulsar service. io.grpc.StatusRuntimeException: NOT_FOUND"
**Describe the bug**
start pulsar error by standalone ->  ./pulsar standalone
the first wxception:
20:51:49.299 [main] ERROR org.apache.pulsar.PulsarStandaloneStarter - Failed to start pulsar service.
io.grpc.StatusRuntimeException: NOT_FOUND
        at io.grpc.Status.asRuntimeException(Status.java:530) ~[io.grpc-grpc-core-1.18.0.jar:1.18.0]
        at io.grpc.stub.ClientCalls$UnaryStreamToFuture.

[2021-06-25 01:26] #11075 closed

[2021-06-25 02:17] zymap commented on #10903
@KKcorps Why do you need to set up the standalone cluster in this way? Did you want to do some test or something else?

[2021-06-25 03:04] BewareMyPower commented on #11055
Could you give the detail commands that you ran?

[2021-06-25 05:40] k2la commented on #10212
https://github.com/apache/pulsar/pull/11088 implements this.

[2021-06-25 07:17] KKcorps commented on #10903
Yes, I need it for testing using TestNG. The team doesn't want docker container for testing.

[2021-06-25 08:28] mattisonchao commented on #269
I think this flaky test is Has been fixed.
@lhotari

[2021-06-25 08:29] mattisonchao commented on #811
I think this flaky test is Has been fixed.
@lhotari

[2021-06-25 08:36] mattisonchao commented on #2651
I think this flaky test is Has been fixed.
@lhotari

[2021-06-25 09:22] mattisonchao opened #11096 "Flaky-test: ResourceGroupConfigListenerTest. testResourceGroupAttachToNamespace"
[code]

[2021-06-25 13:39] jtzero commented on #10912
related https://github.com/apache/pulsar/issues/10694

[2021-06-25 14:21] YannPerthuis opened #11098 "From v2.8.0, unable to use bookkeeper state storage component on pulsar local runner function : Provider org.apache.pulsar.functions.runtime.shaded.io.grpc.netty.shaded.org.apache.pulsar.functions.runtime.shaded.io.grpc.netty.NettyChannelProvider not found"
**Describe the bug**
16:07:28.745 [public/default/LocalPulsarFunction-0] ERROR org.apache.pulsar.functions.instance.JavaInstanceRunnable - [public/default/LocalPulsarFunction:0] Uncaught exception in Java Instance
java.util.ServiceConfigurationError: org.apache.pulsar.functions.runtime.shaded.io.grpc.ManagedChannelProvider: Provider org.apache.pulsar.functions.runtime.shaded.io.grpc.netty.shaded.o

[2021-06-25 14:29] YannPerthuis commented on #11098
It's seems (I suppose) probably that is a broken fqn for the used NettyChannelProvider class. In my local, this class has this defined package: 'org.apache.pulsar.functions.runtime.shaded.io.grpc.netty' and the stack try to reach it from this package 'org.apache.pulsar.functions.runtime.shaded.io.grpc.netty.shaded.org.apache.pulsar.functions.runtime.shaded.io.grpc.netty'

[2021-06-25 17:20] brummetj commented on #11055
Of course, i believe you will need to first compile pulsar from source ( i found same issue with brew libpulsar ) then create a new c/c++ project with a CMake that will need to first find the pulsar lib then try to compile your library ( without including curl into your Cmake) So this is all a little bit of a setup to re-produce but i can help as much as i can. The CMake i have is fairly tied to o

[2021-06-25 17:55] dlg99 opened #11099 "PulsarDebeziumSourcesTest does not run on CI"
**Describe the bug**

AFAICT PulsarDebeziumSourcesTest does not run on CI currently.

**To Reproduce**

Check CI logs.

**Expected behavior**

Test suite runs on CI

**Additional context**

There were refactorings of tests that created tests/integration/target/test-classes/pulsar-io-[suite|sinks|sources].xml (PulsarDebeziumSourcesTest moved to pulsar-io-sources.xml, included into pulsar-io-suite.x

[2021-06-25 17:58] klevy-toast opened #11100 "Java client: high CPU regression for producer between 2.6.x and 2.7.x"
**Describe the bug**
When upgrading our pulsar client to 2.7.x, we noticed significantly higher CPU used for applications running multiple produces with the newer version. We have been unable to isolate the exact cause of the regression.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the example dropwizard application at https://github.com/klevy-toast/dropwizard-pulsar-test/
2. Run `./w

[2021-06-25 18:36] #10747 closed

[2021-06-25 19:26] #10781 closed

[2021-06-25 21:49] dlg99 commented on #11099
Definitely does not run on CI because it fails locally:

- MongoDb source's test fails with some docker error - instead of some expected output it returns docker's help screen
- MySql source's test fail when it tries to get state of source: expects running, gets not running
- Postgres one was failing because it expected one message on record delete, got two.
  - Second one is expected, it is a tom

[2021-06-26 00:46] mattisonchao commented on #10788
I want to fix this issue.

[2021-06-26 01:09] mattisonchao opened #11103 "Compile Error"
**Describe the bug**

When I submit a PR to CI, I got a Compile Error.

**Expected behaviour**

Compile Success.

**Screenshots**
[code]
**Desktop (please complete the following information):**
 - CI

[2021-06-26 02:41] codelipenghui opened #11105 "Flaky-test:ResourceGroupConfigListenerTest.testResourceGroupAttachToNamespace"
[code]

[2021-06-26 04:53] #11103 closed

[2021-06-26 06:13] mattisonchao opened #11108 "Flaky-test: LoadBalancerTest. testBrokerRanking"
LoadBalancerTest is flaky. The testBrokerRanking method fails sporadically.

[code]

[2021-06-26 15:36] hangc0276 commented on #10972
`subscriptionExpirationTimeMinutes` > 0 means how long to delete inactive subscriptions from last consuming. If the consumer still connected to the topic without consuming messages, the subscription is still active, and it won't be auto deleted.

@ocelot93  Between step 4 and 5, did you close the consumer?

[2021-06-26 22:06] #11066 closed

[2021-06-27 00:48] mattisonchao commented on #11105
This issue relates #11096

[2021-06-27 01:22] hangc0276 commented on #10949
I  can't reproduce your warning list above according to your reproduce method, and the default `maxReceiverQueueSize` is 1000, could you give more informations?

[2021-06-27 02:26] complone commented on #11100
@klevy-toast  It seems to be a very strange question. I want to know what version you upgraded to before 2.7.

[2021-06-27 14:52] klevy-toast commented on #11100
Hey @complone. I was using client version 2.5.2 before upgrading to 2.7.1. But I also did some tests with 2.6.x, and observed that the CPU usage was _not_ elevated in that version. It only regressed in 2.7.x

[2021-06-27 15:13] moliqingwa commented on #6819
Same issue.
If let metadataPrefix be empty, then all pods runs soothly.
If metadataPrefix was configured, then some pods would run error. Here are the issues of pulsar-pulsar-init-xxxx:
===============================================
│ ulsar-bookkeeper-verify-clusterid 15:11:21.203 [main] ERROR org.apache.bookkeeper.discover.ZKRegistrationManager - BookKeeper metadata doesn't exist in zookeeper. H

[2021-06-28 01:14] BewareMyPower commented on #10721
I've also pushed a PR to add the connection timeout: https://github.com/apache/pulsar/pull/11029, though it might not be the real cause of your issue.

[2021-06-28 03:16] wolfstudy opened #11122 "[Reader] The topic not found when create reader with listener name"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**

[code]

**Expected behavior**
We can create the reader successfully

**Screenshots**
<img width="1271" alt="bdcb83d8-758d-4545-91f8-3ba1ac7685a7" src="https://user-images.githubusercontent.com/20965307/123574245-15127f00-d802-11eb-88c7-8190742154df.png">

**Desktop (please complete the following information

[2021-06-28 03:17] wolfstudy commented on #11122
But this topic already exists, it is normal to use producer or consumer

[2021-06-28 03:21] wolfstudy opened #11123 "When using TopicsPattern mode to subscribe, there will be a 403 error"
**Describe the bug**

[code]

**Screenshots**

![企业微信截图_1da1205e-82c5-4608-b6c8-ff4f50d1d571](https://user-images.githubusercontent.com/20965307/123574650-d4673580-d802-11eb-8a00-17cc23e626d7.png)

**Desktop (please complete the following information):**
 - OS: Mac OS
 - Go version: master

[2021-06-28 03:28] wolfstudy commented on #11123
[code]

[2021-06-28 03:40] #11122 closed

[2021-06-28 03:41] #11123 closed

[2021-06-28 03:51] Technoboy- opened #11124 "Flaky-test: [TopicFromMessageTest].[testMultiTopicConsumerBatchShortName]"
[TopicFromMessageTest] is flaky. The [testMultiTopicConsumerBatchShortName] test method fails sporadically.

[code]

As the consumers subscribe  different topics in async way, the order of the messages consumed from different topics will not be guaranteed.

[2021-06-28 06:10] feiyuAcc commented on #11001
@EAHITechnology
How many schemas in topic?
this bug depend on a specfic environment?

[2021-06-28 07:16] BOYINASAI opened #11127 "Please help me to unlist my email id from receiving emails."
Hello Team,

This is not related to pulsar but i failed to find a way to unsubscribe from flood of emails. Hence this request, appreciate your help.

I sent an email to below emails.
from: | Saikrishna Boyina <sae.boyina@gmail.com>
-- | --
to: | users-unsubscribe@pulsar.incubator.apache.org,unsubscribe@pulsar.incubator.apache.org
cc: | mykidong@gmail.com

Still i'm getting emails from below. I thi

[2021-06-28 07:57] mattisonchao opened #11130 "Flaky-test: TransactionBufferClientTest.setup"
[code]

[2021-06-28 11:12] #11108 closed

[2021-06-28 12:59] zbentley commented on #10721
@BewareMyPower thanks, still tracking this issue on my side, but I can't work your proposed reproduction steps in this sprint; will update here when I have more findings.

[2021-06-28 15:12] #11124 closed

[2021-06-28 18:43] MaxHub commented on #10437
@lhotari hey, I want to contribute towards reactor client, is there any development currently going on?

[2021-06-28 20:20] lhotari commented on #10437
@MaxHub I'll soon have time to focus on an adapter library which adapts the existing Pulsar Java Client's Async API to Project Reactor / Reactive Streams. Such an adapter library is fairly simple to implement when the goal isn't to implement a purely reactive library and the requirements are relaxed.

There are a few areas which might need some changes to the Java Client. One of such is the produc

[2021-06-29 06:36] JohnMops opened #11142 "Subsctiption per topic limit reached"
**Describe the bug**
maxSubscriptionsPerTopic is set to 0 and yet all of our consumers are throwing:

{"timestamp":"2021-06-29T06:31:23.683Z","logger":"org.apache.pulsar.client.impl.MultiTopicsConsumerImpl","thread":"pulsar-external-listener-3-1","level":"WARN","stacktrace":"java.util.concurrent.CompletionException: org.apache.pulsar.client.api.PulsarClientException$ConsumerBusyException: Subscrip

[2021-06-29 07:05] Jason918 opened #11143 "Flaky-test: [org.apache.pulsar.metadata.ZKSessionTest].[testReacquireLeadershipAfterSessionLost]"
[org.apache.pulsar.metadata.ZKSessionTest] is flaky. The [testReacquireLeadershipAfterSessionLost] test method fails sporadically.

[example failure](url here)
https://github.com/apache/pulsar/pull/11069/checks?check_run_id=2910408005#step:10:222

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2021-06-29 07:08] Jason918 opened #11145 "Flaky-test: [org.apache.pulsar.broker.service.ConsumedLedgersTrimTest].[testConsumedLedgersTrimNoSubscriptions]"
[org.apache.pulsar.broker.service.ConsumedLedgersTrimTest] is flaky. The [testConsumedLedgersTrimNoSubscriptions] test method fails sporadically.

[example failure](url here)
https://github.com/apache/pulsar/pull/11069/checks?check_run_id=2910408005#step:10:4356

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2021-06-29 09:17] MathiasHaudgaard commented on #8152
+1 on this one.
@sijie is this being worked on atm?

[2021-06-29 10:51] HistoryGift opened #11147 "flume io connector can not run normally"
**Describe the bug**
when flume io connector run , Exception:
java.lang.IllegalArgumentException: Source class org.apache.pulsar.io.flume.sink.SourceOfFlume does not implement the correct interface

**To Reproduce**
Steps to reproduce the behavior:
1. I am running Pulsar in docker with apachepulsar/pulsar-all image
2.  #vim flume-connector.yaml
    configs:
       name: a1
       confFile: source.

[2021-06-29 12:19] aerfalwl commented on #5283
how did you solve this problem

[2021-06-29 12:36] #10579 closed

[2021-06-29 12:42] Technoboy- opened #11149 "Flaky-test: [LoadBalancerTest].[testBrokerRanking]"
[LoadBalancerTest] is flaky. The [testBrokerRanking] test method fails sporadically.

[code]

The season is below :
SimpleLoadManagerImpl listens zk for node change, as the below test code runs :
[code]
It will trigger SimpleLoadManagerImpl#accept to call back running:
[code]
The listener is async, when will be triggered is not accurate. So updateRanking may run in a later time and lead to the tes

[2021-06-29 12:51] HistoryGift commented on #11147
I download and copy pulsar-flume-io.jar to lib,I get a new issue "JavaInstanceRunnable - Encountered exception in sink write:
java.lang.NullPointerException: null"

Exception description:
JavaInstanceRunnable - Encountered exception in sink write:
java.lang.NullPointerException: null
        at org.apache.pulsar.io.flume.source.AbstractSource$FlumeRecord.getKey(AbstractSource.java:121) ~[pulsar-io

[2021-06-29 15:20] ocelot93 commented on #10972
@hangc0276 yes, I did

[2021-06-29 15:34] aarondonwilliams commented on #11127
this is for users:
To remove your address from the list, send a message to:
   <users-unsubscribe@pulsar.apache.org>

so just change users to the list that you would like to be removed from...

[2021-06-29 16:15] JohnMops commented on #11142
Redeploying the consumers completely fixed the issue for now. New reloaded config might not be honored or is not actively reloaded on the brokers.

[2021-06-29 20:38] bharanic-dev opened #11153 "Missing metadata-store watch events"
**Describe the bug**
When a metadata-store resource is updated repeatedly via the admin command, some times watch events get missed.

**To Reproduce**
The issue can be reproduced by executing the unit test in the commit below.

https://github.com/bharanic-dev/pulsar/commit/e5182450215873a3ade678487b177c3a8c826ffa

The test registers a metadata-store callback for 'resourceGroup' and creates a 'reso

[2021-06-29 22:35] devinbost commented on #6054
Related to https://github.com/apache/pulsar/issues/10813 except that issue seems to not occur if batching is disabled.

As an update, I've reproduced this bug even after correcting the non-standard broker.conf settings that were mentioned earlier in this issue.

[2021-06-29 23:24] bharanic-dev commented on #11153
Here is one case where the test fails:
https://github.com/apache/pulsar/pull/11155/checks?check_run_id=2947061052

[2021-06-29 23:47] yangou opened #11156 "Consumer Name is required in 2.8.0"
**Describe the bug**
Got below exception trying to connect to pulsar

13:43:29.834 [pulsar-io-29-19] WARN  org.apache.pulsar.broker.service.ServerCnx - [/127.0.0.1:61345] Got exception java.lang.IllegalStateException: Field 'consumer_name' is not set
	at org.apache.pulsar.common.api.proto.CommandSubscribe.getConsumerName(CommandSubscribe.java:220)
	at org.apache.pulsar.broker.service.ServerCnx.han

[2021-06-30 01:18] xuesongxs opened #11158 "[Pulsar Sql] The number of query result records of pulsar SQL is less than that sent by producer"
**Describe the bug**
Pulsar version 2.6.2

The number of query result records of pulsar SQL is less than that sent by producer.

1、Producer sends 7 records；
2、Pulsar SQL only queries 4 records；
      sql: select * from XXX;
3、Topic has no subscription；

[2021-06-30 01:46] mingjliu9 opened #11161 "Ready for JEP 395 - Rename `record` Variable Name to be ready for JDK 14+"
**Is your enhancement request related to a problem? Please describe.**
`record` had became the [Java restricted identifiers](https://docs.oracle.com/javase/specs/jls/se16/html/jls-3.html#jls-3.8) start from [JEP 359 Records (Preview)](http://openjdk.java.net/jeps/359), and released as production ready by [JEP 395: Records](http://openjdk.java.net/jeps/395) in JDK16
e.g.
`
public record Point(int x

[2021-06-30 01:50] aloyszhang commented on #9742
closed by #10129

[2021-06-30 01:51] #9742 closed

[2021-06-30 05:22] codelipenghui opened #11163 "Warning log of org.apache.avro.SchemaValidationException: Unable to read schema"
[code]

[2021-06-30 06:58] Anonymitaet commented on #10041
Hi @315157973 any progress on the development? Thanks

[2021-06-30 07:25] 315157973 commented on #10041
I am working on Broker, and I will PR this week

[2021-06-30 07:29] Anonymitaet commented on #10041
@315157973 thanks, look forward to your contribution.

[2021-06-30 08:11] mattisonchao commented on #11158
Could you provide a simple example to describe this problem in detail? @xuesongxs

[2021-06-30 08:19] mattisonchao opened #11170 "Flaky-test: TestPrestoQueryTieredStorage. testQueryTieredStorage1"
[code]

[2021-06-30 08:20] urfreespace commented on #10040
@tuteng @Anonymitaet pulsar-perf: https://github.com/apache/pulsar/pull/11169?w=1

[2021-06-30 08:55] xiaozongyang commented on #3289
It seems that this problem hasn't been fixed in release 2.8.0. Is there any plan to make the path `/metrics` return data?

[2021-06-30 22:21] #11149 closed

[2021-07-01 01:19] xuesongxs commented on #11158
@mattisonchao The producer sent seven records to topic, but only four records were found by pulsar SQL, Look at the picture above.

[2021-07-01 03:11] EAHITechnology commented on #11001
pulsar 2.6.2

[2021-07-01 05:07] lhotari commented on #11127
the unsubscribe addresses for all 3 mailing lists can be found on this page: https://pulsar.apache.org/en/contact/

[2021-07-01 05:07] #11127 closed

[2021-07-01 05:46] lhotari commented on #11147
The stack trace shows that Pulsar 2.7.1 is used to run the Pulsar Flume connector that is of version 2.8.0 . @HistoryGift Please use a connector version that matches the Pulsar version.
For Pulsar 2.7.1, the Flume connector is https://www.apache.org/dyn/mirrors/mirrors.cgi?action=download&filename=pulsar/pulsar-2.7.1/connectors/pulsar-io-flume-2.7.1.nar

[2021-07-01 06:24] gaoran10 opened #11177 "[Tiered Storage] Create offloader for every namespace"
**Describe the bug**

Currently, Pulsar will create a new ledger offloader for every namespace even if not setting offload policies for the namespace, create a ledger offloader is an expensive operation.

**Expected behavior**

We could reuse the ledger offloader that has the same offload policies.

[2021-07-01 07:22] wangliansong opened #11178 "debezium-io +mysql cdc netty UNAVAILABLE"
version:
pulsar 2.8.0
centos 7

**Describe the bug**
I want to use debezium-io to receive mysql cdc data ，I can create connector successfull，and the topic also can automatic created,but wait a moment will error

**command:**

pulsar-admin source create \
--archive connectors/pulsar-io-debezium-mysql-2.8.0.nar \
--name debezium-mysql-source-quanxian --destination-topic-name debezium-mysql-topic-qua

[2021-07-01 08:35] HarryFQ opened #11180 "Cancel delayed message"
**Is your feature request related to a problem? Please describe.**
Now only add a delayed message above the delayed message, there is no function to cancel the delayed message. We have about 40-50 million delayed messages every day, and currently we are using redis zset to add and cancel.
**Describe the solution you'd like**
Delayed messages that are not consumed can be cancelled.

**Describe alte

[2021-07-01 20:55] chris-gentile commented on #10021
Can someone please tell me if the above mentioned "key" ("Original routing key set by producer") is actually the '(aes) encrypted data key' ?

[2021-07-01 23:43] sursingh opened #11185 "[broker test] auth test broken due to token expiry"
**Describe the bug**
Currently the test is using a hardcoded token. This token has expired on 7/1/2021. Due to this the test case is failing

[code]
A clear and concise description of what the bug is.

**To Reproduce**

Steps to reproduce the behavior:
1. Run the test: ` mvn test -pl pulsar-broker -Dinclude='TokenAuthenticatedProducerConsumerTest.java'`

**Expected behavior**
test should pass

**S

[2021-07-02 03:53] superxiaohuihui opened #11190 "DotPulsar.Exceptions.CompressionException:“Support for Lz4 compression was not found""
### producer 的代码如下：

    const string myTopic = "persistent://public/default/neat-topic";
`   public async Task TestPulsar()
        {
            await using var client = PulsarClient.Builder().Build();
            await using var producer = client.NewProducer()
                .StateChangedHandler(Monitor)
                .CompressionType(CompressionType.Lz4)
                .Topic(myTopic)

[2021-07-02 03:58] dros6 opened #11191 "Failed to create source - Failed to transmit entry: -6"
**Describe the question**
The following error occurred when I created the source.

The error in logs/pulsar-broker-node1.log is as follows
`
11:05:33.454 [pulsar-web-44-5] ERROR org.apache.pulsar.functions.worker.rest.api.SourcesImpl - Failed process Source public/default/debezium-mysql-source package:
org.apache.distributedlog.exceptions.BKTransmitException: Failed to transmit entry : -6

[2021-07-02 05:32] wangjialing218 commented on #11044
@anvinjain This issue could be fixed in #8611 by this way, which already merged in 2.8.0.  You can have a try.

[2021-07-02 07:35] #11185 closed

[2021-07-02 09:56] tuteng commented on #10041
@urfreespace working on `broker-tool` command

[2021-07-02 10:12] Geal opened #11193 "Document that the message key is the partition key in the Protobuf message"
The reference (ex: https://pulsar.apache.org/docs/en/cookbooks-compaction/ ) and the API docs ( https://pulsar.apache.org/api/client/2.8.0-SNAPSHOT/org/apache/pulsar/client/api/Message.html#getKey-- and https://pulsar.apache.org/api/client/2.8.0-SNAPSHOT/org/apache/pulsar/client/api/TypedMessageBuilder.html#key-java.lang.String- ) mention a message key but the Protobuf definition does not indicate

[2021-07-02 12:54] aloyszhang opened #11195 "Force delete tenant or namespace left un-used znode"
**Describe the bug**
when delete a namespace or tenant forcefully,  there are some znodes not cleaned under `/manager-ledger`

**To Reproduce**
1. create a new tenant
[code]
2. create a new namspace
[code]
3. create a new topic
[code]
4. delelete namespace forcefully
[code]

**Expected behavior**
znode under `/managed-ledger` path related to the deleted namespace should also be cleaned

**Screensh

[2021-07-02 13:46] kjaggann opened #11197 "Websocket decrypting the message support"
Hi Right now
websocket allows the encrypted payload to be passed thru to the client.

Can we get the fields how client is using to manage decryption and also update in the websocket document
https://pulsar.apache.org/docs/en/client-libraries-websocket/#consumer-endpoint
as of know this are the fields
![image](https://user-images.githubusercontent.com/59704044/124283659-c6225d80-db11-11eb-8bf2-57b5

[2021-07-02 15:10] Zhen-hao commented on #5175
@efynn did you resolve this issue?

[2021-07-02 15:23] kjaggann commented on #10021
https://github.com/apache/pulsar/issues/11197

[2021-07-02 17:31] bharanic-dev opened #11200 "Metadata cache inconsistency across brokers (race condition)"
**Describe the bug**

When a metadata store resource is updated using pulsar-admin, the broker that handles the update works fine. But some times on one of the other brokers, the getData() can return stale data in the cache. This results in that broker being out of sync forever (if there are no further updates) or being a step behind (if there are subsequent updates).

**To Reproduce**
Steps to re

[2021-07-02 17:33] bharanic-dev commented on #11200
One can also observe the inconsistency by executing the unit test here. The test only fails intermittently (not always) as the issue is a race condition.

https://github.com/bharanic-dev/pulsar/commit/c1aec841d724acf7e088c393c9633d6c4f5fd9c6

[2021-07-02 18:21] #11156 closed

[2021-07-02 21:14] zbentley opened #11203 "2.8.0 Python client library for Mac OS Big Sur won't load due to absolute linker paths left over from build environment"
**Describe the bug**
The compilation of the Python binary artifact for the 2.8 client library appears to have been performed incorrectly. The client currently tries to dynamically link against libraries that don't exist, which causes `import pulsar` to fail.

The library has static (absolute) linker paths baked in which appear to correspond to paths that were only present on the environment on whi

[2021-07-03 00:04] aahmed-se commented on #11203
Looks like it's published with dynamic linking, I will try and publish new
versions with static linking.

-Ali

On Fri, Jul 2, 2021 at 2:15 PM Zac Bentley ***@***.***> wrote:

--
-Ali

[2021-07-03 00:59] tuteng opened #11205 "Can only specify option --broker-conf once"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
Support for specifying configuration files from the command line

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]

**Additional context**
Ad

[2021-07-03 08:13] devinbost commented on #6054
I mapped out more of the ack flow, so I will add it to what I documented [here](https://github.com/apache/pulsar/issues/6054#issuecomment-839495126) and make it more readable.

The bracket notation below is intended to specify an instance of the class (to distinguish from a static method call.)

When `ProducerImpl` sends the messages, it builds `newSend` command instances,
which get picked up by `

[2021-07-03 09:07] hangc0276 opened #11211 "Compacted topic will lose data when original topic message expired"
**Describe the bug**
When produce message to topic and trigger topic compaction, and then the original message expired by retention policy, the message which compacted into the compact ledger will also be lost.

The following test will show this case.

[code]

[2021-07-03 10:13] shibd opened #11212 "pulsarAdmin topic list non-persistent is empty"
**Describe the bug**

Use PulsarAdmin to create a non persistent topic, But the query topic list is empty

**To Reproduce**
Steps to reproduce the behavior:
1. `pulsar-admin topics create-partitioned-topic non-persistent://public/default/my-topic -p 3`
2. `pulsar-admin topics list public/default`

**Expected behavior**
can see the topic

**Screenshots**
![image](https://user-images.githubuserconte

[2021-07-04 06:47] #11013 closed

[2021-07-05 01:56] MarvinCai commented on #10021
it is not, the **key** mentioned here is used to determine which partition a message will be sent to: https://pulsar.apache.org/docs/en/admin-api-topics/#publish-to-partitioned-topics

[2021-07-05 02:22] Anonymitaet commented on #11193
Hi @Geal can you share the info of "multiple conversations about it"? (so that we can know your needs more clearly) thanks

[2021-07-05 04:14] Jason918 commented on #11212
@shibd Maybe you should use `list-partitioned-topics`

[2021-07-05 08:24] #10896 closed

[2021-07-05 16:24] eolivelli commented on #10903
If you can use "pulsar-broker" instead of "pulsar-broker-shaded" life will be simpler.

I usually create a class like this one in order to launch PulsarService
https://github.com/datastax/pulsar-jms/blob/master/pulsar-jms/src/test/java/com/datastax/oss/pulsar/jms/utils/PulsarCluster.java

Btw BookKeeper has a way to workaround "shading"/"class name relocation"
see here
https://github.com/apache/bo

[2021-07-05 18:50] Alxander64 opened #11221 "Python 2.7.2 Can't Produce Nested Records"
**Describe the bug**
I try to produce an Avro message which has a nested record, but I'm unable to do so without getting some kind of error.

**To Reproduce**
Steps to reproduce the behavior:
1. Use Python 3.8.5
2. Use Python Pulsar client 2.7.2
3. Create the desired record classes like so
[code]
4. Create a producer and send a message like so
[code]
5. See the `ValueError` that appears after atte

[2021-07-06 02:05] Anonymitaet commented on #11193
@freeznet could you please help look into this issue? Thanks

[2021-07-06 02:08] nayoaixgnat opened #11223 "ERROR org.apache.bookkeeper.proto.BookieRequestHandler - Unhandled exception occurred in I/O thread or handler on [id: 0x50be42ef, L:/172.19.148.137:3181 - R:/172.19.148.138:57452] io.netty.handler.codec.TooLongFrameException: Adjusted frame length exceeds 5253120: 7051363 - discarded"
The default single message size of pulsar is 5m. If a message exceeds 5m, an error will be reported. I changed the max message size of broker's configuration file to 10m. The error was solved, but a new problem appeared. The error is as follows:

22:11:15.867 [bookie-io-1-19] ERROR org.apache.bookkeeper.proto.BookieRequestHandler - Unhandled exception occurred in I/O thread or handler on [id: 0x50

[2021-07-06 02:28] #11044 closed

[2021-07-06 03:27] freeznet commented on #11193
@Anonymitaet agree with @Geal, it is quite confusing about the message key and the partition key. From the interface of `Message`, we have `getKey()` but the implementation of `getKey()` returns the partition key.
https://github.com/apache/pulsar/blob/fe7cf676e59e08b34b388fce3a190133d390d61c/pulsar-client/src/main/java/org/apache/pulsar/client/impl/MessageImpl.java#L561-L567
According to @Geal's s

[2021-07-06 03:45] #11067 closed

[2021-07-06 04:14] Anonymitaet commented on #11193
@freeznet thanks for your explanations!

I'll add the clarification (`Partition key is used as the message key`) [here](http://pulsar.apache.org/docs/en/next/develop-binary-protocol/#message-metadata).

![image](https://user-images.githubusercontent.com/50226895/124541218-8fbb4a00-de53-11eb-9d93-d7a22097d4e2.png)

[2021-07-06 06:58] hadesy opened #11224 "Pulsar Java Client 2.8.0 does not work on openjdk:8-jdk-alpine"
**Describe the bug**

- Docker image: openjdk: 8-jdk-alpine
- Pulsar client verison: 2.8.0

It crashes with a core dump.

[code]
**To Reproduce**
In order to reproduce you have to run a Java application that boots the Pulsar Client on a docker container with an imaged based on openjdk:8-jdk-alpine.

**Expected behavior**
The client works as for Pulsar 2.7.0

[2021-07-06 08:06] lhotari commented on #11099
I was wondering when this happened. The Pulsar IO tests got removed out of CI as a consequence of #10140 .

Thanks for reporting and fixing the issue.

[2021-07-06 08:33] xuesongxs opened #11227 "[question]"
How many consumers or producers can be created on a pulsar client?

[2021-07-06 10:09] Technoboy- opened #11233 "Failed to retrieve Cluster data due to empty ConfigurationStoreServers"
**Describe the bug**
Start pulsar proxy with WebSocketServiceEnabled=true in command line.

**Additional context**
[code]

[2021-07-06 10:27] hpvd commented on #11224
see https://github.com/apache/pulsar/issues/10798

[2021-07-06 13:17] KKcorps commented on #10903
@eolivelli I am currently using pulsar-broker only. I want to use the shaded one because it would lead to fewer dependency convergence errors via maven enforcer plugin.
Anyways, the shaded one is also working now after the following changes in pom.
https://github.com/apache/pulsar/compare/v2.7.2...KKcorps:pulsar_broker_shaded_patch?expand=1

[2021-07-06 17:04] wmccarley commented on #11227
In the Java implementation the `PulsarClient` class stores producer and consumer instances in a set backed by a `ConcurrentHashMap` so the count is theoretically unbounded I guess. In practice everything has a limit but it's dependent on your system resources.

I have seen a client application open 30K concurrent consumers to one single topic (wasn't by design, it was a poorly coded application.)

[2021-07-06 17:07] TomAndersen0714 commented on #9135
+1

[2021-07-06 21:52] devinbost commented on #6054
After spending many hours digging through the ack paths and not finding any issues, I took another look at the client (`ProducerImpl`), and I noticed something interesting in the heap dump.
`ProducerImpl` is in a `Connecting` state, so it's waiting to get the connection.
However, `[ProducerImpl].connectedSince` says it's been connected for about 3 days...
If it's in a `Connecting` state, that impl

[2021-07-06 23:45] #11233 closed

[2021-07-07 03:35] aloyszhang commented on #11223
you should also increase the `nettyMaxFrameSizeBytes` from the bookie size.

[2021-07-07 03:44] aloyszhang opened #11241 "Retention size policy may delete too much ledgers"
**Describe the bug**
If namespaces is enable Retention size policy, broker may delete too much ledgers if all cursors have no backlog.

Assume that we have a topic with retentino size is 5MB, and retention time is -1.
And this topic have 10 ledgers  in `ManagedLedger` and each ledger has 1MB size,  and all cursors has no backlog.
when the retention size policy works, i't will delete the first 9 le

[2021-07-07 09:34] eolivelli commented on #5059
My colleague @dlg99
started recently a work on BookKeeper (that is the storage layer of Pulsar)
in order to address GDPR compliance at storage layer

you can take a look here
https://github.com/apache/bookkeeper/pull/2730

[2021-07-07 09:46] yakir-Yang opened #11246 "Pulsar Handshake was not completed within timeout, closing connection"
我有三个 pulsar broker 节点，但是经常遇到部分 broker 节点 6650 端口服务不可用。节点故障情况下， 从 broker 的日志可以看出 healthcheck 一直处于失败的状态。healthcheck 失败的原因，我判断就是 handshake timeout，下面会贴具体日志。

另外我发现即使 broker 节点不可用，但是其 8080 端口依旧能正常提供服务，可以执行 ./bin/pulsar-admin persistent get-partitioned-topic-metadata persistent://pulsar/pulsar-cluster/10.2.1.26:8080/healthcheck 命令，也能获取到正确的结果，所以只有 6650 端口服务异常。

我通过在故障 broker 节点，通过 tcpdump 抓取 6650 端口报文，发

[2021-07-07 11:33] yakir-Yang commented on #11246
下面是 jstack & jmap 的信息

=============== jstack ================
[jstack.txt](https://github.com/apache/pulsar/files/6776768/jstack.txt)

=============== jmap ===================
[jmap.txt](https://github.com/apache/pulsar/files/6776767/jmap.txt)

[2021-07-07 22:40] devinbost opened #11250 "Connection issue when backlog quota is exceeded - unable to consume"
It seems that there's an edge case that's not handled properly when a backlog quota is exceeded.
The clients aren't able to connect, and I understand that they shouldn't be able to produce, but consumption gets blocked as well, even if the downstream topic has no subscribers (so the messages should be easily consumed, thus resolving the backlog.)

[2021-07-08 01:05] #10971 closed

[2021-07-08 03:11] murong00 commented on #11205
This is because this option `--broker-conf` is specified in the startup script `bin/pulsar` as below:
[code]
we can just remove this option in `bin/pulsar` as a workaround since `PulsarBrokerStarter` will use the default `broker.conf` as below:
[code]

[2021-07-08 04:04] nayoaixgnat commented on #11223
it`s default 5M too, i change to 20 M, test alright! thank you very much!

[2021-07-08 04:04] #11223 closed

[2021-07-08 04:16] #9173 closed

[2021-07-08 04:21] #11241 closed

[2021-07-08 05:17] #11195 closed

[2021-07-08 07:34] complone commented on #11100
@klevy-toast I want to try to reproduce this problem, but it is currently tested on a local machine and cannot be restored to the cpu and thread configuration in the aws instance you provided. If the configuration of my current local machine is lower than the configuration you provided and it does not work properly, there is a problem. Do you think it is appropriate for me to verify this

[2021-07-08 08:16] HistoryGift opened #11257 "broker Failed to authenticate HTTP request: Invalid signature"
**Describe the bug**
A clear and concise description of what the bug is.

broker集群和proxy配置Kerberos，客户端使用client/xxx keytab直接访问broker没有问题，通过proxy访问不能返回正确结果，客户端使用proxy的keytab直接访问broker没有问题

具体环境如下：
Broker  10.2.177.39
Proxy   10.2.177.48

1.1)Broker_jaas.conf
PulsarBroker {
   keyTab="/opt/brokers/conf/broker_10.2.177.39.keytab"
   principal="broker/10.2.177.39@EXAMPLE.COM";
};

PulsarClient {
   key

[2021-07-08 08:36] yakir-Yang opened #11259 "non-persisitent topics were lost after all broker reboot"
I have disabled the 'allowAutoTopicCreation', and create all those non-persistent topics manually.

But after I reboot all broker nodes, those non-persistent topics were missing in the cluster, I need to recreate them again.

Is it a bug?

[2021-07-08 08:54] wenjun8888 opened #11260 "Can not connect to topics"
hey, i use pulsar based on version 2.6.0
once broker had an oom problem and soon shut down, after we restart the broker, we find our apps can not connect pulsar, it said:

[code]

then we check with command "pulsar-admin topics list" and found that some topics can not display which return 500 internal error but the othders worked.

the log show :

[code]

how can i fix it, thanks~

[2021-07-08 09:13] coute opened #11261 "function worker doesn't use zookeeper configurationStoreServers parameter while creating function"
**Describe the bug**
When I try to create a function in my cluster, I have this error :
[code]
I deployed pulsar in cluster mode and Zookeeper service is not install on broker servers.
ConfigurationStoreServers is set with zookeeper server IP but functions worker try to connect to it with localhost.
[code]
I ran this command to add my function :
[code]

**To Reproduce**
Steps to reproduce the beha

[2021-07-08 11:01] Technoboy- commented on #11259
Not a bug.  Non-persistent topics are keeped in memory.

[2021-07-08 14:31] Technoboy- commented on #11257
Try to reference [Authentication and authorization in Pulsar](http://pulsar.apache.org/docs/en/security-authorization/). and re-check if something config wrong.

[2021-07-08 14:32] coute commented on #11261
I have the same issue with 3 brokers and numFunctionPackageReplicas set to 3.

[2021-07-08 15:40] frankjkelly commented on #8751
@sijie Although originally closed due to this PR https://github.com/apache/pulsar/pull/8796 however this PR appears to have reverted it https://github.com/apache/pulsar/pull/10861 - should the issue be reopened or is there an equivalent issue that covers this request?

[2021-07-08 15:48] michaeljmarshall commented on #8751
@frankjkelly - I don't know of any equivalent issue. I will open a new issue today with details for what needs to happen in order to get this feature added. Based on a recent pulsar community meeting, there is a desire for more integration testing before merging this change. I plan to help contribute this feature, but I don't expect to be able to work on it for a couple of weeks.

[2021-07-08 15:57] frankjkelly commented on #8751
@michaeljmarshall thanks - that sounds good

[2021-07-08 23:34] michaeljmarshall opened #11269 "[Docker Images] Default Pulsar docker images to run as a non-root user"
**Is your feature request related to a problem? Please describe.**
Update the Pulsar docker images to run as a non root user by default.

**Describe the solution you'd like**
The right solution will meet the following requirements:

* Pulsar docker images run as a non root user by default.
* Pulsar docker images are able to run on OpenShift (a platform with stricter requirements than basic kuberne

[2021-07-08 23:34] michaeljmarshall commented on #8751
@frankjkelly - here is the new issue: https://github.com/apache/pulsar/issues/11269.

[2021-07-09 02:17] Jason918 opened #11270 "Use NarClassLoader in protocol hander callbacks."
**Is your enhancement request related to a problem? Please describe.**
I am working on a new protocol handler for an existing mq implementation.
ClassNotFoundException occurs when I am calling methods like `com.fastjson.JSON.parseObject("some json str", MyConfig.class)`. This happens because the  MyConfig.class is dynamically loaded by a NarClassLoader in protocol hander mechanism, but current thr

[2021-07-09 02:46] #11193 closed

[2021-07-09 03:29] xuesongxs opened #11271 "When the bookie storage is about to reach the threshold and then returns to the normal level, the producer cannot write topic normally"
**Describe the bug**
Pulsar v2.6.2

When the bookie storage is about to reach the threshold and then returns to the normal level, the producer cannot write topic normally.

1、Producer log:
![image](https://user-images.githubusercontent.com/54351417/125018546-eae57a80-e0a7-11eb-9f9e-1eafaf6cd19b.png)
2、Bookies storage:
![image](https://user-images.githubusercontent.com/54351417/125018606-051f5880-e

[2021-07-09 03:42] Anonymitaet opened #11272 "[Doc] Add guides for "consumer" and "txn" to "Development" chapter"
## Consumer

Fix https://github.com/apache/pulsar/pull/8996

![image](https://user-images.githubusercontent.com/50226895/125019902-621c0e00-e0aa-11eb-8012-9cfc715f074e.png)

## Txn

https://github.com/apache/pulsar/pull/11235#issuecomment-876070583

[2021-07-09 05:00] hpvd commented on #11269
Perfect. Non root and making minimal images available will be a huge step in security.

The one thing I would like to think about is the future availability of full images in the actual manner including devtools.

Imho one often start with with pulsar or a new release version in a dev environment.

Having the possibility directly using ready to start dev images in addition to in sync production on

[2021-07-09 07:23] polyzos opened #11273 "hasReachedEndOfTopic() for consumers/readers always returns false"
**Describe the bug**
When using a compacted topic, the `hasReachedEndOfTopic()` method on consumers and readers doesnt seem to be working **(always returns false).**

**To Reproduce**
1. Create a compacted topic
2. Ingest some messages
3. create a consumer/reader to read the compacted topic
4. the method will always return false

[2021-07-09 08:10] eolivelli commented on #11269
@hpvd
during the first iteration of the rootless docker image I sent this PR
https://github.com/apache/pulsar/pull/10815

that is in the direction of your comment

[2021-07-09 08:16] merlimat commented on #11273
`hasReachedEndOfTopic()` is associated with topic termination, so unless a topic is terminated (which is a permanent state) and the the consumer/reader has go through all the backlog, this condition will not be met.

[2021-07-09 08:22] hpvd commented on #11269
@eolivelli
many thanks for pointing to this discussion!

In an ideal world we would have both:
- one pure image without any tools
- and one ready to start to use and dive in

Having these both offers, everyone can choose which image best meets their needs.
The big question: is there an efficient way to do so?

[2021-07-09 08:26] polyzos commented on #11273
@merlimat how is Topic Termination defined? For example i sent 40k messages in a compacted topic.
I'm reading all the messages. the **hasMessageAvailable()** method on the reader will return false when all the messages are consumer, but the **hasReachedEndOfTopic()** method will never return true.
So what is the condition that needs to be met in order for a topic to be considered **terminated**?

[2021-07-09 08:44] yakir-Yang commented on #11259
Thanks, any way to keep the non-persistent topic configuration, so that I don't need to recreate topics.

[2021-07-09 09:01] eolivelli commented on #11269
having more images to maintain is very costly because ideally you would have to run tests and security auditing against all the released images.

I suggest to just add the basic tools to the standard images, and if you want to add more than you can create a custom image locally and create an issue/send a PR to add the missing tool to the next version of the standard public image

[2021-07-09 13:29] eolivelli opened #11274 "Cannot use org.apache.avro.generic.GenericRecord inside a Pulsar Sink (to manage GenericRecord.getNativeObject)"
**Describe the bug**
In current master (2.9.0-SNAPSHOT and probably in 2.8.0) it is not possible to use  `org.apache.avro.generic.GenericRecord ` class in order to manipulate the returned object from `GenericRecord.getNativeRecord()`.

If I put the "avro" library inside the NAR file I see this error:

[code]
If I do not put the AVRO library inside the NAR I see a ClassNotFound error.

**To Reprodu

[2021-07-09 15:24] eolivelli commented on #11274
In order to make IT pass in the ElasticSearch Sink patch
I added AVRO to the Functions class path and now the test is passing.

https://github.com/apache/pulsar/pull/11263/files#diff-d6656e6646e3133b65fe303a84f70f1f410f3d1b80b3c64d42011cf86b6bab42R92

This is only a partial solution (it does not cover JsonNode and Protobuf Dynamic Descriptor)

[2021-07-09 23:54] complone commented on #11270
@Jason918 Do you expect to get the class loader in this way
[code]
see This is how the dubbo2.7 metadata module obtains the class loader
https://github.com/apache/dubbo/pull/4767

[2021-07-10 00:11] complone commented on #11197
@kjaggann I will try to follow up on this issue

[2021-07-10 07:32] hadesy commented on #11224
we changed to openjdk:8-jdk-slim, It works

[2021-07-10 07:32] #11224 closed

[2021-07-10 15:07] Jason918 commented on #11270
@complone Yes, I am currently using `MyProtocolHandler.class.getClassLoader()` in my protocol handler project.  I am assuming  it's better that we set the NarClassLoader as current thread's context class loader. You can see my PR above.

[2021-07-10 19:18] archenroot opened #11277 "Pulsare won't starting on"
**Describe the bug**
I am running on qemu (libvirt) vagrant k8s cluster with 1 master and 2 nodes with following config (just for imagination that it has enough resources):
[code]

I use following values file (customized from examples): https://gist.github.com/archenroot/c6c15b957758226473530825deae7649

I use following sequence to install pulsar on k8s (tls is disabled as there was some additiona

[2021-07-10 19:53] archenroot commented on #11277
Ok, I understand its in waiting state for bookkeeper and zookeeper after examining:
[code]

I wonder pulsar-cs-zookeper is valid address in kubernetes cluster its should be using service cluster name:
pulsar-mini-zookeeper.svc.cluster.local
and not pulsar-cs-zookeeper

But I will need to examine pod networking first...

[2021-07-10 20:16] archenroot commented on #11277
So found tested connectivity on zookeeper pod itself via service cluster URL:
[code]

So it works at least, so the other pod is having issue with connectivity. I searched for the command prefix from wait-for-zookeper pod:
command prefix:
`[' until bin/bookkeeper org.apache.zookeeper.ZooKeeperMain -server pulsar-cs-zookeeper:2181 get /admin/clusters/pulsar-mini; do echo "pulsar cluster pulsar-mini

[2021-07-10 20:39] archenroot commented on #11277
So I finally got this command working on zookeeper pod:
`root@pulsar-mini-zookeeper-0:/pulsar# until bin/bookkeeper org.apache.zookeeper.ZooKeeperMain -server pulsar-mini-zookeeper.pulsar.svc.cluster.local:2181 get /admin/clusters/pulsar-mini; do echo "pulsar cluster pulsar-mini isn't initialized yet ... check in 3 seconds ..." && sleep 3; done;`

It results in following error:
`org.apache.zookeep

[2021-07-10 20:47] archenroot commented on #11277
ref: https://github.com/apache/pulsar/issues/4480
I am getting now suspicious that its the metadata of the cluster whats being not in good shape:
[code]
This is pulsar-cluster-initialize.yaml file where metadata gets initiated

[2021-07-10 21:59] archenroot commented on #11277
I am not able to figure out, but on zookeeper logs when starting I see another suspicious messages:
[code]
The message is WARN only, but the address which is trying to connect to is wrong. pulsar-mini-zookeeper string shoulnd't be there.

[2021-07-11 05:13] archenroot commented on #11277
So, it seems when I comment out the following configuration:
[code]
I only enabled limited components set
![image](https://user-images.githubusercontent.com/553512/125183512-4aae6380-e217-11eb-8d5f-166eb1f145d1.png)
I will continue with uncommenting and redeploying to see what attribute causes failures.

I also need to enable ingress nodeport for services so I can easily access from localhost for

[2021-07-11 06:04] archenroot commented on #11277
So with enabling metadataPrefix: "/cluster1" the cluster won't start:
![image](https://user-images.githubusercontent.com/553512/125184489-9ca6b780-e21e-11eb-9ae0-edfa770ec388.png)

[2021-07-11 07:12] archenroot commented on #11277
same failed state observed with:
[code]

So these metadataPrefix and configurationStore enabled causing clsuter not initialize.

[2021-07-11 14:04] complone commented on #11272
@Anonymitaet I will do this

[2021-07-12 01:20] Anonymitaet commented on #11272
@complone many thanks! You can ping me and @congbobo184 if you need a doc review.

[2021-07-12 03:38] aloyszhang opened #11278 "Expose more attribute to peekMessages/getMessageById/examineMessage"
**Is your enhancement request related to a problem? Please describe.**
Currently,  interface like `peekMessages` only show few attributes of Message like
![image](https://user-images.githubusercontent.com/48062889/125224662-9c7ee880-e300-11eb-8a8a-77bc6144951b.png)

Some attributes like `eventTime`/ `deliverAtTime` and `brokerEntryMetadata` are not included.

So,
1.  we can't get the `eventTime `f

[2021-07-12 07:44] littleorca opened #11282 "NPE in OpReadEntry"
In OpReadEntry.create:

In ManagedLedgerImpl.startReadOperationOnLedger:

Back to OpReadEntry.readEntriesFailed:

Version: 2.8.0-SNAPSHOT

[2021-07-12 12:02] Geal commented on #11193
@Anonymitaet great, thanks!

[2021-07-12 12:12] Geal opened #11286 "IllegalStateException: Field 'read_compacted' is not set"
**Describe the bug**
Hello, I got the following error fro Pulsar 2.8.0 (binaries downloaded from the website):

[code]

But `read_compacted` is still marked as an optional field in the binary protocol: https://github.com/apache/pulsar/blob/6704f12104219611164aa2bb5bbdfc929613f1bf/pulsar-common/src/main/proto/PulsarApi.proto#L355

**To Reproduce**
1. Download 2.8.0 binaries from https://pulsar.apac

[2021-07-12 12:30] Geal commented on #11286
while I'm here, apparently `consumer_name` is not optional anymore either:

[code]

https://github.com/apache/pulsar/blob/6704f12104219611164aa2bb5bbdfc929613f1bf/pulsar-common/src/main/proto/PulsarApi.proto#L340

[2021-07-12 14:23] #11278 closed

[2021-07-12 14:26] #11270 closed

[2021-07-12 17:56] dmcarver opened #11288 "2.8.0 sink can no longer process batched records from Python producer"
**Describe the bug**
I have a simple Python producer that has been sending messages to Pulsar since 2.6.1 with `batching_enabled=True`. These messages are processed an instance of the built-in InfluxDB sink connector. Since upgrading to 2.8.0, I receive this warning and the records are not processed:

[code]

My messages do have a simple schema required by the sink and `measurement` (as seen above

[2021-07-12 18:04] aloyszhang commented on #11286
I think it's resolved by #11199

[2021-07-12 18:06] Geal commented on #11286
Right, it looks like it is

[2021-07-12 19:45] kaushik-develop opened #11289 "Regression in the behavior of subscribe()"
**Describe the bug**
If a topic is created, and a subscribe() is done on a ConsumerBuilder using that topic, the subscribe hangs.
This is a regression.

The unit-test which shows this issue runs to completion on Pulsar up to commit-id 555042a45d9692148c302fbdedbb47f1f2572a48
But it stalls starting from commit-id 794aa20d9f2a4e668cc36465362d22e042e6e536

**To Reproduce**
The issue can be reproduced

[2021-07-12 19:52] kaushik-develop commented on #11289
For the unit test, see https://github.com/apache/pulsar/pull/11290

[2021-07-12 20:36] hsaputra commented on #11289
FYI @merlimat , @sijie - could yo help with this?
The [unit test](https://github.com/apache/pulsar/pull/11290) added by @kaushik-develop help to isolate and reproduce the issue.

We had suspicion that the regression is caused by this PR:
https://github.com/apache/pulsar/pull/11012/commits

Thanks

[2021-07-13 01:26] Anonymitaet opened #11291 "[Doc] Remove Pulsar Dashboard contents"
Fix https://github.com/apache/pulsar/pull/11284

[2021-07-13 06:19] HistoryGift commented on #7314
I have the same problem，and don't have the resolution

Worker Configs: {
  "workerId" : "worker1",
  "workerHostname" : "10.2.216.201",
  "workerPort" : 6750,
  "workerPortTls" : 6751,
  "authenticateMetricsEndpoint" : true,
  "includeStandardPrometheusMetrics" : false,
  "jvmGCMetricsLoggerClassName" : null,
  "numHttpServerThreads" : 8,
  "httpRequestsLimitEnabled" : false,
  "httpRequestsMaxPer

[2021-07-13 07:28] HistoryGift opened #11295 "function worker cannot startup normal"
**Describe the bug**
Pulsar Cluster is configured with kerberos , when I start a independant function worker ,I got a error "org.apache.pulsar.client.admin.internal.BaseResource - [http://10.2.177.38:8081/admin/v2/persistent/public/functions/assignments] Failed to perform http put request: javax.ws.rs.NotAuthorizedException: HTTP 401 Unauthorized" in function worker's log , I also get a error "WAR

[2021-07-13 07:33] #10427 closed

[2021-07-13 07:57] HistoryGift opened #11297 "Hope the official provide the detailed configuration document of authorization and authentication"
在配置pulsar集群时使用SASL进行身份验证和授权时，遇到很多问题，官方文档比较简洁，部分配置只给参数没有给参考值，服务启动时经常无法正常启动，能否提供一些身份验证和授权配置的具体例子，让入门小白配置时可以进行参考，身份验证和授权是业务使用上是比较重要的，如果可以的话，希望提供从集群搭建+授权+验证+function worker+proxy 这些的一次性到底的例子

Pulsar in the configuration when the cluster using SASL authentication and authorization, encounter many problems, the official document is concise, only part of the configuration parameters are given, did not gi

[2021-07-13 08:19] eolivelli commented on #11288
GenericObjectWrapper is a generic wrapper for every message that is not a Structure (AVRO, JSON, Protobuf).
Can you please check the schema on the topic ?
The logs of the sink will show the Schema when the Consumer is connected.

[2021-07-13 08:35] gaozhangmin opened #11298 "pulsar-daemon script should support restart for easy use"
pulsar-daemon script should support restart  for easy use

[2021-07-13 08:57] aloyszhang opened #11300 "peekmessage return wrong result with X-Pulsar-batch-size < 0"
**Describe the bug**
if peekMessages by admin tool and the peeked message is a batch message, the result of `X-Pulsar-batch-size` is less than zero.

**To Reproduce**
Steps to reproduce the behavior:
1. create a topic `test/test/test`
2. send a message which content is "test" by a batching enabled producer
3. run the Admin Tool with command `bin/pulsar-admin topics peek-messages test/test/test -s

[2021-07-13 14:23] #11081 closed

[2021-07-13 15:21] dmcarver commented on #11288
If I start from a clean slate (new topic, new sink connector) and send data from the producer with `batching_enabled=True`, the schema isn't written to the logs. The only thing logged is the error above, even with the logging level for the connector set to FULL.

However, I can retrieve the schema with `bin/pulsar-admin schemas get mytopic`:

[code]

[2021-07-13 15:27] eolivelli commented on #11288
can you try to consume the topic with `bin/pulsar-client consume  -st auto_consume -s subscname TOPICNAME`

`-st auto_consume` means to use AutoConsumeSchema that is the magic schema that downloads the Schema and returns the GenericRecord implementations.

[2021-07-13 15:54] dmcarver commented on #11288
Running that against the existing topic, it does show the schema:

[code]

And upon producing a new event, it is consumed:
[code]

[2021-07-13 15:56] eolivelli commented on #11288
it is consumed as a `type=class java.lang.String`, not as a JSON object
this is consistent with seeing a GenericObjectWrapper (that is the wrapper for the java.lang.String)

[2021-07-14 00:11] nlu90 opened #11307 "[go function] Not using the provided `subscriptionName` in the config to read from pulsar cluster"
**Describe the bug**
When `SubName` is set for go functions:
[code]

The actual subscription name is not correct: (it's using the default `tenant/namespace/function_name` instead of the `subName`)
[code]

**To Reproduce**
Steps to reproduce the behavior:
As described above

**Expected behavior**
Once the `subName` is set for go functions, the go instance runtime should use the `subName` instead of

[2021-07-14 00:12] nlu90 commented on #11307
@flowchartsman Can provide more details if needed.

[2021-07-14 00:13] nlu90 commented on #11307
The root cause should be here:
https://github.com/apache/pulsar/blob/master/pulsar-function-go/pf/instance.go#L264

And later this subscription name is used:
https://github.com/apache/pulsar/blob/master/pulsar-function-go/pf/instance.go#L285

[2021-07-14 02:14] codelipenghui commented on #11259
@yakir-Yang I think you can create a partitioned non-persistent topic first.

[2021-07-14 02:29] codelipenghui opened #11308 "[Topic Policy] Delete the topic policy for the topic when the topic been deleted."
**Describe the bug**
Currently, when the topic has been deleted, the topic policy will retain in the system topic, and this will also introduce a problem when a new topic with the same name is created. The new topic will apply the policy of the old one.

So, when the topic has been deleted, we should also remove the topic policy from the system topic.

- The topic can be deleted manually.
- The to

[2021-07-14 02:59] horizonzy commented on #11308
Hi, I will try to fix it, you can assign it to me.

[2021-07-14 04:10] codelipenghui commented on #11308
Thanks, @horizonzy, Looking forward to your contribution.

[2021-07-14 07:04] #10720 closed

[2021-07-14 07:51] NiccoMlt opened #11313 "Swagger dependency scope is too broad"
**Is your enhancement request related to a problem? Please describe.**

I'm using `org.apache.pulsar:pulsar-broker` and `org.apache.pulsar:pulsar-client-original` and I see that Swagger dependencies are "leaked" as transitive dependencies, because they are declared in the default compile Maven scope.
I'm currently using Swagger 2.X in the same project, and I don't like having two versions of the s

[2021-07-14 08:36] xuesongxs opened #11314 "[question] A subscription on topic can't ack messages. Is there any way to know which messages don't ack?"
A subscription on topic can't ack messages. Is there any way to know which messages don't ack?

[2021-07-14 12:12] HugoPelletier commented on #7785
Does anyone have an update on this?
Code didn't change in 2.8.0 and still has the same error message.

[2021-07-14 12:23] Johnnyhooyo opened #11315 "How to retry send message after send fail at async mode?"
![image](https://user-images.githubusercontent.com/35983936/125621225-6f2c2b4a-0043-44e7-a5b5-77759967a600.png)
The exception is queuefull.

[2021-07-14 12:23] Johnnyhooyo commented on #11315
org.apache.pulsar.client.api.PulsarClientException$ProducerQueueIsFullError: Producer send queue is full

[2021-07-14 12:38] jannatkumaran commented on #5175
Any one have solution for that

[2021-07-14 13:59] eolivelli commented on #11315
You cannot have a messageId because the message was not sent an so there is no "message", the ID is assigned by the broker while persisting the message on BookKeeper (in fact the message id contains the ledgerId and the entryId)

[2021-07-14 14:00] eolivelli commented on #11315
you have to implement your own retry mechanism

[2021-07-14 14:00] eolivelli commented on #11315
or you can use the blockIfQueueFull feature

[2021-07-14 15:30] Dapperton-prog commented on #10985
@Mrcopytuo  the case needs to be configured!

[2021-07-14 16:55] gotopanic commented on #7785
No update from my side. I ended up not using complex types because of this issue.

[2021-07-14 19:58] HugoPelletier commented on #7785
@gotopanic If it helps, I'm using version 2.8.0 and we stopped using the AvroSchema. To many issues. We end up using the JsonSchema. I'm aware that it may not be your objective, but I end up overwriting a few methods from the Pulsar-client Python code. Here is what I found

A. the validation is broken
Both classes (Record and Field) have default keyword arguments. The `required=False`(should be Tr

[2021-07-14 20:48] gotopanic commented on #7785
Thank you for the snippets, they may prove useful at some point.
I sticked with the AvroSchema because of the supposed performance gain over JsonSchema. In some places, I am also using the BytesSchema at the expense (or benefit!) of losing the broker-side schema validation.

[2021-07-15 02:22] Johnnyhooyo commented on #11315
Do you consider returning the data what we send when fail? so that i can save this data for retry.
now, i just know something was error but i can not find out which data send fail.

[2021-07-15 02:35] kukuzidian opened #11318 "NonRecoverableLedgerException No such ledger exists on Metadata Server"
**Describe the bug**
ERROR  Topic TransactionBuffer  -  Transcation buffer recover fail when recover transaction entry !

ERROR org.apache.bookeeper.mledger.impl.ManagedLedgerImpl   Error opening ledger for reading at position 44:0 , ManagerLedgerException$NonRecoverableLedgerException: No such ledger exists on Metadata Server

[2021-07-15 04:34] gaozhangmin opened #11320 "AutoRecovery failed replicate ledger which in open state, because, it would read lac from failed bookie."
As title, When bookie is lost, the ledger which state is open cannot replicated because of reading lac from failed bookie.
it would failed read lac from failed bookie, because it cannot be connected.

How bookkeeper auto recovery deal with open ledger in failed bookie ?

I don't know if it's a bug or not.

The error log:
[code]

[2021-07-15 05:18] Nisha19988 opened #11321 "issue"
Unhandled Exception: System.ComponentModel.Win32Exception: The directory name is invalid
   at System.Diagnostics.Process.StartWithCreateProcess(ProcessStartInfo startInfo)
   at System.Diagnostics.Process.Start()
   at Microsoft.Git.CredentialManager.GitProcessConfiguration.TryGet(GitConfigurationLevel level, String name, String& value)
   at Microsoft.Git.CredentialManager.Settings.<GetSettingVa

[2021-07-15 05:19] #11321 closed

[2021-07-15 08:39] ca-simone-chiorazzo opened #11324 "Missing python wheel for Mac Os 11.4 for both 2.7.2 and 2.8.0"
**Describe the bug**
There is no wheel available for Mac OS 11.4 for both the 2.7.2 and 2.8.0 python client versions.

It is possible to add them?

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screens

[2021-07-15 08:49] #11300 closed

[2021-07-15 12:43] gaozhangmin commented on #11318
how to reproduce?

[2021-07-15 13:49] moliqingwa commented on #5175
Same issue.

[2021-07-15 14:57] moliqingwa commented on #5175
Solved.
Run the following command `bin/pulsar-admin clusters  list`, you'll see these cluster names are not includes the local cluster which is specified by field `clusterName` in values.yaml. I resolved the issue by creating a new local cluster name.

Hope this can help you.

[2021-07-15 18:42] dipinhora commented on #11315
i'm running into this issue also.. (note: i'm new to pulsar so it is possible i'm missing something)

i'm trying to figure out how to handle/retry `async send` failures (`timeout`/`queue full`/etc).. from what i can tell, the pulsar client (i'm using `nodejs` but things seem to function the mostly same way in other clients i've looked at so far [`cpp`/`java`]) assigns a `messageId` internally and

[2021-07-16 04:35] mnit016 commented on #11070
I've faced the same issue here when upgrade to 2.8, is any update?

[2021-07-16 04:51] littleorca opened #11334 "Strange behavior of open cursor with initial position"
v2.8.0, managed-ledger:

When using ManagedLedger.openCursor with InitialPosition, for the first time (creation), it seems that the markDeletePosition will be persisted using the LAC position at that moment, regardless of the initial position parameter passed to the openCursor method. After that the cursor position will be set according the initial position parameter in-memory only, and the cursor

[2021-07-16 06:44] #11307 closed

[2021-07-16 09:19] eolivelli opened #11338 "[Pulsar Functions and IO] Cannot upgrade Function built for Pulsar 2.7 to Pulsar 2.8"
**Describe the bug**
Pulsar Functions and Pulsar IO connectors that use the Pulsar Client API, in particular the "Schema" API (like `Schema.JSON(Pojo.class)`) do not work anymore if you upgrade your Pulsar cluster to Pulsar 2.8.x.

This is because of an `IncompatibleClassChangeError` around the class `SchemaInfo` that was a "class" in Pulsar 2.7 and now it is a pure interface in Pulsar 2.8 (see co

[2021-07-16 09:20] manjupriya-ar opened #11339 "Pulsar Admin List Subscription lists only subscriptions created for Partition-0 when partition specific subscriptions are created"
**Describe the bug**

Pulsar Admin List Subscription lists only subscriptions created for Partition-0 when partition specific subscriptions are created

**To Reproduce**
Pulsar Version: 2.7.0 and 2.7.2.

Steps to reproduce the behavior:
	1. Create a topic with N partitions [./pulsar-admin topics create-partitioned-topic public/default/nodatahere1 -p 3]
	2. Create Partition specific Subscriptions [

[2021-07-16 10:09] Technoboy- commented on #11339
I will try to fix it.

[2021-07-16 10:21] #11002 closed

[2021-07-16 12:01] lhotari opened #11340 "Extracted Pulsar Function jar file content in /tmp/pulsar-nar directory gets corrupted or overridden by different content"
**Describe the bug**

By default, Pulsar Functions runtime extracts files of a Pulsar Function implementation jar file to a directory `/tmp/pulsar-nar/[function-jar-file-name].jar-unpacked` where the "function-jar-file-name" part is determined used a logic which doesn't produce unique file name.

When the Pulsar Function is installed from a URL source over http/https, the filename seems to always

[2021-07-16 14:39] CoderCookE commented on #11315
at least in node, and i'd imagine you can do something similar in Java, if you wrap the `send` method you'll have the `msg` in scope for your catch method to do whatever you want with on error.

[code]

[2021-07-16 14:50] eolivelli commented on #11315
@CoderCookE idea is good.

In Java you can "capture" the variables outside your function.

[code]
probably a better style is:
[code]

[2021-07-16 14:59] HugoPelletier commented on #7785
We are in the same situation.
The serialization/deserialization doesn't work with complex schemas.

With a super simple "complex" schema like this

[code]

I'm having the following error:
[code]

Basically, the Pulsar Python client is unable to rebuild sub-record from the bytes format

[code]

The problem is [here](https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/python/pulsar/schema

[2021-07-16 14:59] sijie commented on #11338
@eolivelli will take a look.

@nlu90 @freeznet Can you also check this?

[2021-07-16 15:59] dipinhora commented on #11315
@CoderCookE @eolivelli thanks for the idea and examples.. i can't believe i missed that..

[2021-07-16 17:35] afedulov commented on #7660
Any progress on this issue?

[2021-07-16 17:39] eolivelli commented on #7660
There is an open PR of mine that implements this feature

[2021-07-17 03:19] zhanghaou opened #11348 "[Pulsar admin] Can not get leader broker in non-leader brokers."
**Describe the bug**
I can use admin cmd to get the leader broker in leader broker, but can not get the info from non-leader broker.

**To Reproduce**
1. enter non-leader broker
2. run ' pulsar-admin brokers leader-broker'
3. output:

Couldn't find leader broker

Reason: Couldn't find leader broker

link PR: https://github.com/apache/pulsar/pull/9799

[2021-07-17 03:35] zhanghaou commented on #11348
@linlinnn @codelipenghui Please take a look and check, thanks.

[2021-07-17 03:39] Demogorgon314 commented on #11348
I will try to fix it.

[2021-07-17 03:58] Johnnyhooyo commented on #11315
Wow!~ @CoderCookE @eolivelli thanks very mach for help~~ i got it~ then i close this issue.

[2021-07-17 03:58] #11315 closed

[2021-07-17 06:29] lhotari opened #11349 "Flaky-test: RackAwareTest.testPlacement"
RackAwareTest is flaky. The testPlacement test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/11345/checks?check_run_id=3089005869#step:10:2090)

[code]

[2021-07-17 06:33] lhotari opened #11350 "Flaky-test: TopicDuplicationTest.testDeduplicationPriority"
TopicDuplicationTest is flaky. The testDeduplicationPriority test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/11345/checks?check_run_id=3089005869#step:10:1340)

[code]

[2021-07-17 06:35] lhotari commented on #11050
A [recent failure](https://github.com/apache/pulsar/pull/11343/checks?check_run_id=3089235382#step:10:529).

[2021-07-17 06:36] lhotari commented on #11050
Another [recent failure](https://github.com/apache/pulsar/pull/11343/checks?check_run_id=3089235382#step:10:1299).

[2021-07-17 06:37] lhotari commented on #11349
Another [recent failure](https://github.com/apache/pulsar/pull/11343/checks?check_run_id=3089235382#step:10:2099).

[2021-07-17 18:48] lhotari commented on #10787
This test remains flaky. Recent failure: https://github.com/apache/pulsar/runs/3091955732#step:10:418 .

[code]

[2021-07-17 21:13] danielsinai opened #11351 "Fix precise publish rate limiting"
**Is your enhancement request related to a problem? Please describe.**
Currently, precise publish rate limiting doesn't work as expected and that's because multiple reasons

1. Renew function called every second and resets reading from socket every second no matter how many messages produced in the last second (FixedWindow Algorithm)
2. The FixedWindow algorithm does not fit here because a permit

[2021-07-17 21:15] danielsinai commented on #11351
I will publish a pull request soon

[2021-07-18 16:19] 315157973 commented on #10787
Some code has been added to this unit test recently, the reason is the same as before

[2021-07-18 18:25] #10749 closed

[2021-07-18 18:26] #9562 closed

[2021-07-18 20:05] Zhen-hao opened #11356 "unclear relation between namespace and cluster"
See my console output:

[code]

`pulsar-cluster-1` was the cluster name I used in the first deployment, which was changed to `pairtime-test` in later deployments.
Somehow the first name is sticky to namespaces created under that name.

And in the [documentation page](https://pulsar.apache.org/docs/en/pulsar-admin/#get-clusters), it says "replication clusters". It seems all the settings around the

[2021-07-19 02:44] Technoboy- commented on #11356
Hi, could you add the pulsar version?

[2021-07-19 03:03] Technoboy- commented on #11356
Try to use the below cmd to check if it works:
[code]

[2021-07-19 06:31] lhotari opened #11366 "[Pulsar Admin] Add support for creating replicated subscriptions"
**Is your feature request related to a problem? Please describe.**

`pulsar-admin topics create-subscription` doesn't currently support creating replicated subscriptions.

**Describe the solution you'd like**

Add option for specifying the replicated parameter for subscription creation.

[2021-07-19 07:22] andrekramer1 commented on #11070
A work around is using 2.7.x image for just Zookeeper.

[2021-07-19 07:24] Zhen-hao commented on #11356
This doesn't work.
[code]

[2021-07-19 08:13] Zhen-hao commented on #11356
It works after running `pulsar-admin tenants update pairtime-test -c nt-test-cluster`.

So, the cluster name is also used when creating a tenant.

[2021-07-19 08:57] baomingyu opened #11367 "make maxEnsembleChangeSize can be config from pulsar broker"
**I need config maxEnsembleChangeSize for bookkeeper client in broker, but now there is not this config**
make maxEnsembleChangeSize can be config from pulsar broker

**Describe alternatives you've considered**
if using maxEnsembleChangeSize with default value Integer.MAX_VALUE , there will be using lots of times during retry changing ensemble when writing entry timeout always. so I need to config

[2021-07-19 09:37] Zhen-hao commented on #11356
Even after updating the cluster name on the tenant and namespace level, there are still problems on the producer client.

[code]

It is really a disaster to change the cluster name of a running cluster. The documentation should warn against that.

[2021-07-19 09:40] liangyuanpeng commented on #11212
@shibd  Hi, Does it solved your problem?

[2021-07-19 09:47] Technoboy- commented on #11366
I will try to make it.

[2021-07-19 10:43] lhotari commented on #11366
@Technoboy- One of the challenges in making the changes is keeping the interfaces in Pulsar Admin Java API backwards compatible. Please consider that when doing the changes.

[2021-07-19 10:53] lhotari commented on #11349
I also took a look at the test. There's a problem in the RackAwareTest itself in setup and cleanup.

These are the required changes for fixing setup and cleaup:
[code]

(also adding `throws Exception` to `configurePulsar`)

With these changes, the test goes into a deadlock. There's some change in Zookeeper caching that seems to trigger the problem. It's probably caused [by the PIP-45 changes](http

[2021-07-19 11:19] lhotari commented on #11349
It looks like there are multiple thread-safety issues in org.apache.pulsar.zookeeper.ZkBookieRackAffinityMapping . It's not a dead lock that is happening. I can see the BookiesRackConfiguration data structure getting corrupted which causes an infinite loop. This can be reproduced by making the changes to RackAwareTest that were described in the previous comment.

[2021-07-19 12:10] lhotari opened #11371 "[Pulsar Client Tool] Add support for creating a replicated subscription in pulsar-client consume"
**Is your feature request related to a problem? Please describe.**

`pulsar-client consume` doesn't currently support creating replicated subscriptions.

**Describe the solution you'd like**

Add option for specifying the replicated parameter for subscription creation.

[2021-07-19 12:11] lhotari commented on #11371
There's a separate feature request for pulsar-admin: #11366

[2021-07-19 12:55] Technoboy- opened #11373 "Flaky-test: ResourceGroupRateLimiterTest.createResourceGroup"
ResourceGroupRateLimiterTest is flaky. The createResourceGroup test method fails sporadically.
[code]

[2021-07-19 14:52] Shoothzj opened #11377 "From 2.7.2 upgrade to 2.8.0, there are continously http request not respond without any error."
**Describe the bug**
After upgrading pulsar 2.8.0,  there are continously http request not respond without any error.
And then the client timeout in 60 seconds.
Downgrade to 2.7.2, everything works well.

**To Reproduce**
The continuously test calls these http api
- list tenants (20 per second)
- create partition topics (20 per second)
- list paritition topics (20 per second)
- delete partition to

[2021-07-19 14:54] Shoothzj commented on #11377
I tried to rollback jetty and Jersey version， doesnot works

[2021-07-19 22:09] nlu90 commented on #11338
I did some check.
If function compiled with 2.7.1 is submitted to a Pulsar 2.8.0 cluster directly, the following error is reported:
[code]

User need to compile their function code with pulsar 2.8.0 dependency in order to avoid this problem. And after recomplie, the problem is resolved:
[code]

[2021-07-20 01:31] freeznet opened #11379 "Directory facing race condition on NarUnpacker"
**Describe the bug**
This issue is an extension for #11340. When users create functions with `parallelism` larger than the number of functions-worker, the directory race condition can be observed.

[code]

Above exception from a single node broker + functions worker, with a sample function `parallelism=3`. The exception shows that it is unable to delete `/tmp/pulsar-nar/pulsar-java-functions-pojo-

[2021-07-20 02:26] Jennifer88huang opened #11380 "CLI in TTL config is not clear"
**Is your enhancement request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/47805623/106427770-e71f4d80-64a2-11eb-8fc3-a467b1e9c6b8.png)

Not quite understand what does "N/A", "100" mean in a separate CLI in https://pulsar.apache.org/docs/en/next/admin-api-namespaces/#configure-message-ttl

Is it the returned value?

**Describe the solution you'd like*

[2021-07-20 02:30] Jennifer88huang-zz opened #11381 "The info for TLS security is not clear"
**Is your enhancement request related to a problem? Please describe.**

The information on [TLS page](https://pulsar.apache.org/docs/en/security-tls-authentication) is not clear, and hard to use for users. Some contents are out-of-date, and incorrect.

**Describe the solution you'd like**
* Try to reproduce with the steps as new users.
* Improve the user guides.

**Additional context**
see comment

[2021-07-20 05:40] eolivelli commented on #11338
@nlu90 that's exactly the same problem that I found.
Thanks for your time in reproducing the issue.

As discussed in the mailing list we have to add a note in the release notes about the upgrade path.

I will send a PR against the website @Anonymitaet

[2021-07-20 05:59] #11308 closed

[2021-07-20 06:20] lhotari opened #11383 "[Broker] Direct memory leak when using replicated subscriptions and Key_Shared consumers"
**Describe the bug**

The broker leaks direct memory when using replicated subscriptions and Key_Shared consumers. The Pulsar version 2.7.2 .

Some Netty leak detector logs were captured passing these JVM options to the broker in `broker.configData.PULSAR_EXTRA_OPTS` :
[code]

<details>
<summary>Full leak detector log entry (click to expand)</summary>
<code><pre>
19:20:10.644 [pulsar-io-23-4] ERRO

[2021-07-20 08:09] lhotari commented on #11379
Great work @freeznet ! Thanks for providing the repro case for the NarUnpacker issue!

[2021-07-20 08:54] lhotari commented on #7683
@sijie It seems that ack response was added by #8996 and that is included in Pulsar 2.8.0 . Would that help resolve this issue (#7683) ? /cc @congbobo184 @codelipenghui

[2021-07-20 15:13] Demogorgon314 opened #11393 "Flaky-test: NamespacesTest.testSubscribeRate"
NamespacesTest is flaky. The testSubscribeRate test method fails sporadically.

[code]

[2021-07-20 15:17] klevy-toast commented on #11100
@complone If you can measure your CPU usage on your local machine effectively, I believe you will still see the issue. I used AWS because of the convenient monitoring tools.

Regarding #2, I was not monitoring those pulsar metrics. I was simply monitoring the CPU usage of the whole server while it was running my program.

[2021-07-20 17:12] lhotari opened #11395 "Flaky-test: PersistentTopicStreamingDispatcherE2ETest.testMessageExpiryWithTopicMessageTTL"
PersistentTopicStreamingDispatcherE2ETest is flaky. The testMessageExpiryWithTopicMessageTTL test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/11343/checks?check_run_id=3112038013#step:10:1384)

[code]

[2021-07-20 18:59] rfigueroa opened #11397 "[Docs] oauth sample code does not match api"
[Java](https://pulsar.apache.org/docs/en/security-oauth2/#java) code sample uses string when the actual API expects URLs

Update sample from the docs to reflect the api

[2021-07-20 23:54] startjava opened #11402 "Will not attempt to authenticate using SASL"
pulsar 2.8 version

run command:
./pulsar standalone

show bottom unknown error:
19:45:53.411 [main-SendThread(127.0.0.1:2181)] INFO  org.apache.zookeeper.ClientCnxn - Opening socket connection to server localhost/127.          0.0.1:2181.
19:45:53.411 [main-SendThread(127.0.0.1:2181)] INFO  org.apache.zookeeper.ClientCnxn - SASL config status: Will not attempt to authenticate using SASL (unknown

[2021-07-20 23:55] Anonymitaet commented on #11397
@rfigueroa would you like to help fix? Thanks

[2021-07-21 00:01] Anonymitaet commented on #11397
@rockybean could you please help review this PR from the technical perspective? Thanks

[2021-07-21 00:06] startjava opened #11403 "Will not attempt to authenticate using SASL"
pulsar 2.8 version

run command:
./pulsar standalone

show bottom unknown error:
19:45:53.411 [main-SendThread(127.0.0.1:2181)] INFO  org.apache.zookeeper.ClientCnxn - Opening socket connection to server localhost/127.          0.0.1:2181.
19:45:53.411 [main-SendThread(127.0.0.1:2181)] INFO  org.apache.zookeeper.ClientCnxn - SASL config status: Will not attempt to authenticate using SASL (unknown

[2021-07-21 00:06] #11403 closed

[2021-07-21 02:25] MarvinCai opened #11404 "[Broker] Backlog Quota not properly fetched for message_age BacklogQuotaType"
**Describe the bug**
pr https://github.com/apache/pulsar/pull/10093 introduced time based backlog and new BacklogQuotaType `message_age`.
While we can use admin cli to set backlog limit for `message_age` type, when fetching backlog https://github.com/apache/pulsar/blob/5ad405988fabb4b28dbdbd5aa5c9a10802f39af1/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BacklogQuotaManager.java#L73

[2021-07-21 02:29] MarvinCai commented on #11404
plz assign to me

[2021-07-21 06:18] tuteng commented on #11004
Fixed https://hub.docker.com/layers/apachepulsar/pulsar-build/manylinux-cp39-cp39/images/sha256-7406830c7fe0afc8b9ce8b51948ef66b02bd35b7f3a0a573ea67bb4d89a59da6?context=repo

[2021-07-21 07:59] saveriogzz opened #11409 "sending timestamps or dates within a schema"
When using my python client, I don't find a way to assign to the data I want to send, the type **timestamp** or **date**.
The only data types I can use are ones that can be found in :
https://github.com/apache/pulsar/blob/5ad405988fabb4b28dbdbd5aa5c9a10802f39af1/pulsar-client-cpp/python/pulsar/schema/__init__.py

How can I send timestamps or dates?

I would really like this to be possible!

[2021-07-21 08:38] 315157973 commented on #11377
Can you provide the name of the API ? @Shoothzj

[2021-07-21 08:57] nudala opened #11410 "[ERROR] Failed to execute goal org.apache.nifi:nifi-nar-maven-plugin:1.2.0:nar (default-nar) on project tiered-storage-jcloud: not found in any repository: org.apache.yetus:audience-annotations:nar:linux-ppcle_64:0.5.0: Could not find artifact org.apache.yetus:audience-annotations:nar:linux-ppcle_64:0.5.0 in central (https://repo1.maven.org/maven2)"
Trying to build apache pulsar on RHEL 8 ,As it required java and maven i have installed and export the path already

Envinorment :-
NAME="Red Hat Enterprise Linux"
VERSION="8.4 (Ootpa)"
ID="rhel"
ID_LIKE="fedora"
VERSION_ID="8.4"
PLATFORM_ID="platform:el8"
PRETTY_NAME="Red Hat Enterprise Linux 8.4 (Ootpa)"
ANSI_COLOR="0;31"
CPE_NAME="cpe:/o:redhat:enterprise_linux:8.4:GA"
HOME_URL="https://www.red

[2021-07-21 12:29] littleorca opened #11412 "When open ledger encountered factory shutdown, callback may never be called back."
**Describe the bug**
For the moment that ManagedLedgerFactoryImpl.open() runs into MetaStoreImpl.getManagedLedgerInfo() and waiting for the future returned by store.get() to complete, if ManagedLedgerFactoryImpl.shutdown() is invoked then, the executor will be shutdown, and thus the future will be unable to run following stage after it's completion, as the executor will reject. Unfortunately, the

[2021-07-21 12:58] altre commented on #11203
Hi, it would be really great if you could fix this @aahmed-se , I can find no way to install any version of the python client on mac currently. Building from source and old versions all fail for different reasons. This seems to be the easiest path to fix.

[2021-07-21 13:08] startjava opened #11413 "pulsar ! Can you fix the exception that occurred at startup?"
Standalone mode start, can you solve the error that occurred at startup, I use version 2.8 use "./pulsar standalone" start, N more errors, you officially can try it yourself ah? Can you fix the exception that occurred at startup?

[2021-07-21 13:35] #10136 closed

[2021-07-21 14:01] bry00 commented on #11203
I have the same problem. Any chance for a quick fix to this issue?

[2021-07-21 14:04] saveriogzz commented on #4096
Hello! Is @sekarpdkt 's procedure the suggested way to build the client on ARM/Docker ?

[2021-07-21 15:36] santhoshsath opened #11415 "JVM Core dumps on 8-jre-alpine docker image"
I have an existing  lightbend Play server in production running as a docker image
recently I added a pulsar client library to it (org.apache.pulsar:pulsar-client:2.7.2)
I tested the connectivity on my laptop and everything runs well
After testing, I created a docker image of my server
When I run it in docker, the JVM core dumps when I try to create the client instance
PulsarClient.builder().
    s

[2021-07-21 20:10] nlu90 opened #11416 "[pulsar function] puslarAdmin is not exposed properly even function worker is set to expose it"
**Describe the bug**
In Standalone puslar cluster with functions_worker.yaml config `exposeAdminClientEnabled ` set to true, the `context. getPulsarAdmin` results in exception.

The function worker config:
[code]

The submitted function instance config:
[code]

The exception reported in function:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Set `exposeAdminClientEnabled ` to true f

[2021-07-21 20:20] santhoshsath commented on #11415
At the very least is there a way to disable epoll and use java nio in pulsar client ?

[2021-07-22 01:24] #11007 closed

[2021-07-22 05:11] lhotari commented on #10872
[Yet another recent failure](https://github.com/apache/pulsar/pull/11343/checks?check_run_id=3130775230#step:9:3186)

[2021-07-22 05:49] lhotari commented on #11170
[Another failure](https://github.com/apache/pulsar/pull/11387/checks?check_run_id=3130781098#step:14:13411). I'll fix this.

[2021-07-22 06:16] lhotari opened #11426 "Flaky-test: KeySharedSubscriptionTest.testRemoveFirstConsumer"
KeySharedSubscriptionTest is flaky. The testRemoveFirstConsumer test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/11343/checks?check_run_id=3130775265#step:10:1061)

[code]

[2021-07-22 06:17] lhotari commented on #11395
[another one](https://github.com/apache/pulsar/pull/11343/checks?check_run_id=3130775265#step:10:2177):
[code]

[2021-07-22 06:33] lhotari commented on #11050
@mattisonchao [Yet another recent failure](https://github.com/apache/pulsar/pull/11387/checks?check_run_id=3130780794#step:10:2056).

[code]

[2021-07-22 06:36] lhotari commented on #11393
[another recent failure](https://github.com/apache/pulsar/pull/11407/checks?check_run_id=3130789624#step:10:392)
[code]

[2021-07-22 06:57] #11383 closed

[2021-07-22 07:26] lhotari opened #11428 "Flaky-test: StreamingEntryReaderTests.testCanCancelReadEntryRequestAndResumeReading"
StreamingEntryReaderTests is flaky. The testCanCancelReadEntryRequestAndResumeReading test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/11407/checks?check_run_id=3130789624#step:10:392)

[code]

[2021-07-22 07:38] lhotari commented on #10788
Another failure [here](https://github.com/apache/pulsar/pull/11407/checks?check_run_id=3131354883#step:10:441):
[code]

[2021-07-22 07:43] lhotari commented on #10788
I didn't try reproducing this, but I have had success reproducing issues by running the tests inside docker with resource limits. This helps simulate the resource constraints that there is in GitHub Actions Runner VMs.
I have [shell scripts for this.](https://github.com/lhotari/pulsar-contributor-toolbox#ptbx_until_test_fails_in_docker) The solution has been only tested on Linux since I use Linux

[2021-07-22 08:08] lhotari commented on #11350
[another failure](https://github.com/apache/pulsar/pull/11425/checks?check_run_id=3131538027#step:10:2123)
[code]

[2021-07-22 08:24] lhotari commented on #11393
It seems that #11281 changes made this test unstable since it started failing very often after those changes. The fix in #11394 by @Demogorgon314 will address the issue.

[2021-07-22 09:28] Demogorgon314 commented on #10787
[ another failure](https://github.com/apache/pulsar/runs/3132013580?check_suite_focus=true#step:10:1964)
[code]

[2021-07-22 14:06] #7785 closed

[2021-07-22 14:29] lhotari commented on #11373
another recent failure: https://github.com/apache/pulsar/pull/11394/checks?check_run_id=3134499334#step:10:657

[2021-07-22 14:29] lhotari commented on #11373
also happens in ResourceGroupConfigListenerTest.

[code]

[2021-07-22 15:38] bublikhpt opened #11431 "Support for Elliptic Curve Cryptography (EC, ECC) (certificates/private keys)"
**Is your enhancement request related to a problem? Please describe.**
I was trying to setup Transport Encryption using TLS with EC private key/certificate. Problem is that pulsar cannot use EC private key and probably EC certificates at all. I needed to replace this "new" EC certificate which i was intended to use with another which have RSA private key. In logs I can see only "Invalid RSA privat

[2021-07-22 15:46] evfurman opened #11432 "Topic-Level Metrics That Are Partition-Inclusive"
**Is your enhancement request related to a problem? Please describe.**
We'd love to be able to get topic-level metrics that are partition-inclusive. We use the openmetrics integration in Datadog but when we break out the metric by `topic` it includes the partition number in the topic name.

**Describe the solution you'd like**
Would like `topic` tag to be the actual topic (without partition number

[2021-07-22 15:57] lhotari opened #11433 "Investigate root cause for quarantined test RackAwareTest.testPlacement"
**Describe the bug**

Flaky test RackawareTest.testPlacement has been moved to quarantine test group so that it doesn't block CI, this change was made in #11370.

The root cause seems to be a production code issue. The stacktrace shown in the logs of a failing test hints that there might be a dead lock that happens. One common issue is locking up Zookeeper threads when Zookeeper operations are ini

[2021-07-22 16:01] lhotari commented on #10786
Reopening this issue since the issue remaining. [Recent failure:](https://github.com/apache/pulsar/pull/11370/checks?check_run_id=3135317263#step:10:1495)
[code]

[2021-07-22 16:57] frankjkelly opened #11434 "Pulsar Upgrade from 2.6.1 to 2.7.2: Bookie reporting "No ledger found while performing readLac from ledger""
**Describe the bug**
We performed an in-place upgrade of Pulsar 2.6.1 to Pulsar 2.7.2. Although it appears to be functional overall I am seeing the following in the Bookie logs. Same LedgerID is being repeated across all.

[code]

NOTE: This is our first time doing an in-place upgrade so I may have missed a step e.g. disabling autorecovery

**To Reproduce**
Steps to reproduce the behavior:
1. Crea

[2021-07-22 17:16] #11170 closed

[2021-07-22 17:27] #11349 closed

[2021-07-22 17:28] #10787 closed

[2021-07-22 20:27] santhoshsath commented on #11415
I had to upgrade to 2.7.2 because the lower versions had security vulnerabilities as reported by blackduck.
It's that .so file packaged with 2.7.2 jar, I think it was a mistake to package a buggy .so

**_pulsar-client-2.7.2.jar/META-INF/native/liborg_apache_pulsar_shade_netty_transport_native_epoll_x86_64.so_**

If I remove that .so from the jar file, and rebuild the docker image it runs fine

[2021-07-22 22:25] #11340 closed

[2021-07-22 22:25] #11379 closed

[2021-07-22 22:38] #11393 closed

[2021-07-23 02:06] Technoboy- commented on #11432
Currenly, pulsar broker owns the topic based on namespace bundles, that means : a topic with 3 partitions may own by different brokers, so topic level metrics is hard to aggregate between brokers.

[2021-07-23 05:32] ericsyh opened #11436 "[Question][Protocol Handler] Does single broker node support multi msg protocols in config?"
**Is your enhancement request related to a problem? Please describe.**
When setting the `KoP`, `MoP`, `AMQP` and `RoP`, we should use the config of `messagingProtocols` in broker and it seems that one single broker node only supports one message protocol at same time.

I wanna check that whether the config `messagingProtocols` could set multi protocol at same time like `messagingProtocols=[amqp,ka

[2021-07-23 06:57] codelipenghui commented on #11436
@ericsyh You can enable multiple protocol handlers for one broker. Can you share your configurations?

[2021-07-23 07:21] ericsyh commented on #11436
@codelipenghui I didn't make this test so could you share a sample config that how to enable multiple protocol handlers in one broker? I checked on Pulsar docs and KoP/MoP/AMQP/RoP repos and didn't find related sample.

[2021-07-23 09:02] Jason918 opened #11440 "Incomplete metadata in MessageImpl return by admin.topics().examineMessage()"
**Is your enhancement request related to a problem? Please describe.**
We can get MessageImpl object using `org.apache.pulsar.client.admin.Topics#examineMessage`,
but it has Incomplete metadata , e.g. keys.
Same things happens to `getMessageByID` and `peekNthMessage`, since they use the same `generateResponseWithEntry` to serialize the message, And only a few metadata entries are added to the resp

[2021-07-23 09:02] Jason918 commented on #11440
I would like to submit PR to fix this soon.

[2021-07-23 12:47] codelipenghui commented on #11436
You can just set the `messagingProtocols=kafka,mqtt` and copy the kop and mop Nar package to the protocolHandlerDirectory

[2021-07-23 13:20] ericsyh commented on #11436
@codelipenghui got it, many thanks. Maybe we can add this sample to [broker.conf](https://github.com/apache/pulsar/blob/master/conf/broker.conf) and [standalone.conf](https://github.com/apache/pulsar/blob/master/conf/standalone.conf) so that others can also know the way to enable multiple protocol handlers.

[2021-07-23 13:33] bry00 commented on #4271
Is there any chance to add Enum field supporting properly `required` and `default` parameters?

[2021-07-23 13:39] sbourkeostk opened #11444 "Provide DLQ capibilities for Sinks"
Currently Sinks do not have DLQ capabilities. There are many cases for which this would be useful. Eg. the message is not suitable for the sink destination.

Functions already have this capability, exposed via `deadLetterTopic` and `maxMessageRetries`.
It would be useful for the sinks API to support this too.

[2021-07-23 15:38] rvashishth opened #11445 "deduplication is not working as expected"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Create pulsar cluster with version 2.7.1
2. enabled topic level policy at broker config. https://pulsar.apache.org/docs/en/pulsar-admin/#topics-1
3. created a topic and set the deduplicationEnabled to true
4. Created a pulsar producer with a static name and set the timeout

[2021-07-23 20:34] david-streamlio opened #11448 "Delayed message delivery doesn't work in Python."
**Describe the bug**
Messages sent using the Python client, 2.6.3 that specify a value in the deliver_after parameter are delivered immediately to any attached consumer.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a consumer in a separate thread that is consuming from a topic
2. Run the code below to publish messages to the same topic
3. Observe that the consumer immediate processe

[2021-07-23 20:39] david-streamlio opened #11449 "Python client documentation is incorrect"
**Describe the bug**
In the latest [documentation](https://pulsar.apache.org/docs/en/client-libraries-python/) on the Python client library, the installation instructions for the optional components is wrong.

The commands ` pip install pulsar-client=='2.8.0[avro]' ` using invalid syntax

**To Reproduce**
Steps to reproduce the behavior:
1. Open a terminal window
2. Run the command ` pip install p

[2021-07-23 20:56] #11339 closed

[2021-07-24 02:53] Technoboy- commented on #11008
I will try to fix it.

[2021-07-24 11:53] #11436 closed

[2021-07-26 01:32] #11416 closed

[2021-07-26 06:01] ericsyh commented on #11449
This command works for me `pip install pulsar-client[avro]==2.8.0` and my env below:

[2021-07-26 06:44] JohnMops commented on #5284
Same here "Failed to create producer: Topic is temporarily unavailable" , getting this intermittently

[2021-07-26 06:46] Jason918 commented on #11412
After checking the codes, I think you're right about this issue.
But ManagedLedgerFactoryImpl.shutdown() is only invoked during server shutodwn, so it has no actual damage, right?

[2021-07-26 06:53] littleorca commented on #11412
Actually I am using managed-ledger module as a library in our project, not the pulsar case. Factory shutdown is not the end of the JVM process in our case.

[2021-07-26 14:14] congbobo184 commented on #10717
https://github.com/apache/pulsar/pull/10708 has fix it and cherry-pick to 2.7, release 2.7.3, so close it.

[2021-07-26 14:14] #10717 closed

[2021-07-26 14:15] congbobo184 commented on #7804
Move this to the next release.

[2021-07-26 14:17] congbobo184 commented on #9084
Move this to the next release.

[2021-07-26 14:19] congbobo184 commented on #9697
Move this to the next release.

[2021-07-26 14:20] congbobo184 commented on #9940
Move this to the next release.

[2021-07-26 15:17] eolivelli commented on #9697
I believe that probably this has already been fixed

[2021-07-26 21:21] jeffschnellerEnvisa opened #11456 "keyCertChain required for servers"
Upgraded from 2.5.2 to 2.8.0 using a standalone cluster/server.  Using config file from 2.5.2.   2.5.2 was running fine.

Getting the following error when starting 2.8.0.

[code]

[2021-07-26 22:31] smazurov opened #11457 "[sink jdbc-clickhouse] avro (and possibly others) sink is broken"
**Describe the bug**

When publishing & consuming messages avro & json schema encoding works as expected. After creating a simple clickhouse sink (using config from the docs), the messages get written to the table, but every value is `null`, making it useless. Downgrading to 2.7.2 and re-running the test, with no avro or db schema changes or sink config works as expected.

**To Reproduce**
Steps t

[2021-07-26 22:47] #11200 closed

[2021-07-27 01:42] Jason918 commented on #11412
That explains it.
I would like to come up with a PR lately.

[2021-07-27 06:50] nodece commented on #11413
@startjava Could you provide context or log about the error?

[2021-07-27 07:55] congbobo184 opened #11461 "Standalone start workService and transaction cannot open at the same time."
**Describe the bug**
Standalone start workService and transaction cannot open at the same time.

**To Reproduce**
Steps to reproduce the behavior:
1. change standalone.conf ```transactionCoordinatorEnabled=true```
2. start standalone. will not use transaction

1. change standalone.conf ```transactionCoordinatorEnabled=true```
2. start standalone -nfw. can use transaction

**Expected behavior**
can

[2021-07-27 08:29] skyguard1 opened #11462 "Why use == instead of equals to compare strings in PulsarColumnMetadata"
In `PulsarColumnMetadata`, use == instead of equals to compare strings
https://github.com/apache/pulsar/blob/master/pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarColumnMetadata.java#L190

Is there any special reason for this? if not, I can provide a pr to fix it, thanks

[2021-07-27 09:01] eolivelli commented on #11461
Are you sure? Is it a recent regression? Do you have some stacktra c'è of an error?

[2021-07-27 09:45] mark-yyc opened #11464 "container terminated at 'Creating single directory db ledger storage' when setup in docker"
OS: macOS
Version: 2.8.0
Command:
[code]

Then the container exit after:
[code]

Total log shown below:
[code]

There is no log of error except:
[code]
But it is the first time that I start this container

After creating single directory db ledger storage, the container exit.

Besides, I use binary package to setup pulsar , it works just fine

[2021-07-27 12:14] eolivelli commented on #11434
do you have a way to see what it ledger 2392970 ?
usually ledger metadata on zookeeper should tell you what is the purpose of the ledger

you can use the bookkeeper "shell" or a tool like BKVM (https://github.com/diennea/bookkeeper-visual-manager)

[2021-07-27 12:23] eolivelli commented on #11404
sure

[2021-07-27 13:20] james-bright-helix commented on #11377
We're experiencing a similar issue after upgrading from 2.6.3 to 2.8.0. It seems to be particularly problematic when creating a producer using the Java client. "2 request timedout after ms 30000".

[2021-07-27 13:31] Shoothzj commented on #11377
You can try to revert the commit  https://github.com/apache/pulsar/pull/9338
But I still don't know why

[2021-07-27 13:41] jeffschnellerEnvisa commented on #11456
Figured out it was a System Administrator issue when installing.  Properties file from 2.5.2 was copied over to 2.8.0 properties file.  2.8.0 properties file had the same key file properties defined but were set to empty.  When properties file is read it uses the last property value defined which in our case is null even though the same property was defined at the top of the file.

[2021-07-27 13:41] #11456 closed

[2021-07-27 14:25] yabinmeng opened #11467 "Zookeeper stats_server_port override is not respected in version 2.8.0"
**Describe the bug**
I'm installing Apache Pulsar 2.8.0 on VM host, sharing the same host for all components (zookeeper, bookie, broker). According to the document, I need to start zookeeper with an extra option, as below

[code]

It turns out that zookeeper still starts metrics port at 8000. The log file snippet is as below (httpPort=8000)

[code]

This cause the issue when I try to start bookies

[2021-07-27 19:34] frankjkelly commented on #11434
Thanks @eolivelli

I used the following command to get the metadata about the ledgerId being complained about
[code]

and I get
[code]

If I Base64 decode the metadata I get
- component: managed-ledger
- ledger: cogito-dialog/stf/persistent/ec5f1d10-e402-4201-be09-c1a46e3d2b3f
- application: pulsar

So it looks to be one of our analytics data topics

[2021-07-27 20:08] eolivelli commented on #11434
Is it possible to drop the topic and recreate it?

[2021-07-27 20:29] frankjkelly commented on #11434
Unfortunately no

[2021-07-28 02:10] Anonymitaet commented on #11449
@david-streamlio thanks for your suggestions! Would you like to help update the docs?

[2021-07-28 04:20] jdimeo commented on #6889
@lhotari Something is still fishy, and I can't quite get to the bottom of it. I injected my own `ObjectMapper` using the `SchemaDefinitionBuilder` as recommended and I even confirmed it was being used with ugly logging in the function itself (using the new output  message builder to send a message):
[code]
So the correct bytes are being generated (notably timestamps as UTC and using `@JsonValue` f

[2021-07-28 07:16] Technoboy- commented on #11462
I think you @skyguard1  can make a pr to fix it.
@codelipenghui, could you help to confirm ?

[2021-07-28 07:20] Technoboy- commented on #11467
I will try to confirm,  and if this is a bug ,we will fix it later.

[2021-07-28 08:45] DevinLi001 opened #11470 "Caused by: org.apache.distributedlog.exceptions.BKTransmitException: Failed to open ledger handle for log segment"
**Describe the bug**
Perform error bin/pulsar-admin brokers list pulsar-cluster
null

Reason: javax.ws.rs.ProcessingException: pulsar.example.com: 未知的名称或服务

**To Reproduce**
Steps to reproduce the behavior:
1. After the start zookeepe bookie broker
2. exec bin/pulsar-admin brokers list pulsar-cluster
3. output
null

Reason: javax.ws.rs.ProcessingException: pulsar.example.com: 未知的名称或服务
4. See error

[2021-07-28 08:48] skyguard1 opened #11471 "Support brotli compression algorithm"
`Brotli` is a high performance, high compression ratio compression algorithm. Does Pulsar plan to support this compression algorithm? If yes, I can provide a pr, see https://github.com/google/brotli, thanks

[2021-07-28 09:22] #11004 closed

[2021-07-28 09:23] gaoran10 opened #11473 "[Python Client] Encode a struct schema object with None field"
**Describe the bug**

The Python client couldn't encode a struct schema object which has None fields.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**error log**
[code]

**Expected behavior**

Encode and decode operations should work well.

[2021-07-28 09:47] Johnnyhooyo opened #11474 "Retry letter producer does not handle AUTO_CONSUME_SCHEMA"
same as #9935

Describe the bug
when using an auto consume schema together with dead letter policy, the retry letter producer fails to start with this exception:
ConsumerImpl - Create retry letter producer exception with topic: retryTopic
org.apache.pulsar.client.api.PulsarClientException$InvalidConfigurationException: AutoConsumeSchema is only used by consumers to detect schemas automatically

**

[2021-07-28 10:42] Technoboy- commented on #11467
Due to zookeeper 3.6.0+ has add internal prometheus metric provider, So we remove old prometheus metric provider in `ZooKeeperStarter` and `ConfigurationStoreStarter`
The ZooKeeper metrics are exposed under "/metrics" at port `8000`. You can use a different port by configuring the `metricsProvider.httpPort` in conf/zookeeper.conf.

[2021-07-28 10:58] fewrwee2 opened #11475 "create source rest api"
#### Expected behavior

Tell us what should happen

#### Actual behavior

Tell us what happens instead

#### Steps to reproduce

How can we reproduce the issue

#### System configuration
**Pulsar version**: x.y

[2021-07-28 11:03] fewrwee2 opened #11476 "create source rest api 接口请求接口时如何用json格式传参"
能否提供一个完整的create source rest api接口的示例，针对于configs应该怎么传递参数。

[2021-07-28 12:39] sqtce opened #11480 "服务重启无法注册上，pulsar-manager上无法查看namespaces"
pulsar 2.8.0 15:20:16.831 [pulsar-io-4-4] INFO  org.apache.pulsar.broker.lookup.TopicLookupBase - Failed to lookup null for topic persistent://base/message/delay_notify_service_pulsar_topic-partition-6 with error Namespace bundle base/message/0x2aaaaaaa_0x3fffffff is being unloaded
导致在pulsar-manager上无法查看namespaces,所有消费者无法订阅到topic 上，重启broker后就能正常显示，

[2021-07-28 12:41] qiansheng2 opened #11481 "standalone模式下，开启事务时，pulsar2.8.0不能正常使用。急急急！"
**Describe the bug**
standalone模式下，开启事务时，pulsar2.8.0不能正常使用

**To Reproduce**
Steps to reproduce the behavior:
1. Download 2.8.0 and unzip it
2. Modify the conf to enable the transaction
3. Start by:pulsar standalone
4. Got the exceptiion when program running

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
![image](https://user-images.githubus

[2021-07-28 13:23] smallhorsegg opened #11482 "Why admin management users are only allowed to log in in one browser, and the current connection is interrupted when others log in"

[2021-07-28 14:11] balakrishna222111 opened #11483 "Apache pulsar stopped after a while in docker"
**After a couple of minutes apache pulsar docker container is stopped**

**To Reproduce**
docker run -itd   -p 6650:6650   -p 8080:8080   --mount source=pulsardata,target=/pulsar/data   --mount source=pulsarconf,target=/pulsar/conf   apachepulsar/pulsar:2.8.0   bin/pulsar standalone

**Logs**
14:00:14.458 [main] ERROR org.apache.pulsar.broker.PulsarService - Failed to start Pulsar service: org.apa

[2021-07-28 15:18] eolivelli commented on #11474
you are right.
do you want to submit a patch ?
please add a test cases that reproduces your problem

[2021-07-28 15:20] david-streamlio commented on #11449
@Anonymitaet , Yes, I can update the docs to include a section that have installation instructions for MacBooks.

[2021-07-28 15:31] zhaoqiang1980 opened #11484 "咨询下不同的topic下，存在相同的subscription会有问题吗？因公司所有的项目都使用了一各pulsar集群。可能会存在subscription写重的情况。"
#### Expected behavior

Tell us what should happen

#### Actual behavior

Tell us what happens instead

#### Steps to reproduce

How can we reproduce the issue

#### System configuration
**Pulsar version**: x.y

[2021-07-28 15:33] zhaoqiang1980 commented on #11484
即：topicA下存在一个subscription1，在topicF下也出现了一个subscription1。这种会有问题么，subscription是在topic下存在，还是独立存在。
因公司所有的项目都使用了一各pulsar集群。可能会存在subscription写重的情况。

[2021-07-28 15:42] Vanlightly opened #11485 "C++ client connect timeout timer cancellation not handled correctly"
**Describe the bug**
C++ client tests are failing with ConnectError on my Mac (BigSur).

On my machine, multiple endpoints ("localhost", "127.0.0.1") need to be iterated over before a connection succeeds. In each iteration the connectTimeoutTask (PeriodicTask) is stopped and started. Stopping it cancels the timer, which fires the handler (handleTimeout) which in turn calls the connect timeout call

[2021-07-28 16:27] zbentley commented on #11203
Bump. Not to be annoying, but having the latest client library for the 2nd most popular programming language in the world fail to link/load is probably a blocker for many folks.

If it helps, I'm happy to compile and supply properly linked versions of the library to any Pulsar package maintainers if that would expedite a fix here.

[2021-07-28 17:00] bhasvij opened #11488 "Problem while deploying into helm in EKS , kubernetes version >= 1.16.0"
#### Expected behavior

helm repo add streamnative https://charts.streamnative.io
helm repo update
helm install pulsar-storage-provisioner streamnative/local-storage-provisioner

Should be successful

Tell us what should happen

#### Actual behavior

bash-3.2$ helm install local-storage-provisioner streamnative/local-storage-provisioner --namespace mynamespace
Error: unable to build kubernetes obj

[2021-07-28 17:04] bhasvij commented on #11488
Work around for this issue is to download from github:

bash-3.2$ git clone git@github.com:streamnative/charts.git
Cloning into 'charts'...

bash-3.2$ ls
charts

bash-3.2$ ls charts
LICENSE		charts		docs		hack		license_test.go
README.md	ct.yaml		examples	images		scripts

bash-3.2$ helm install pulsar-storage-provisioner $PWD/charts/charts/local-storage-provisioner
NAME: pulsar-storage-provisioner

[2021-07-28 19:09] hpvd commented on #11471
just some interesting inside from competition
(including benchmarks of different algorithms)

It's all about finding the best balance (most cost-efficient) between storage/network/compute
for the use case: save storage and network bandwidth and pay with compute

https://blog.cloudflare.com/squeezing-the-firehose/

[2021-07-28 19:17] hpvd commented on #11471
just edited comment above

[2021-07-28 19:38] hpvd opened #11489 "Enhance doc in the field of "compression""
**Is your enhancement request related to a problem? Please describe.**
doc for the field of compression seems to be very limited https://pulsar.apache.org/docs/en/concepts-messaging/#compression

**Describe the solution you'd like**
stumbled across this when looking into the topic of compression in general, triggered by a new issue offering brotli compression
https://github.com/apache/pulsar/issue

[2021-07-28 19:45] hpvd commented on #11471
opened a related issue regarding doc of compression feature in pulsar: https://github.com/apache/pulsar/issues/11489

[2021-07-28 20:04] aahmed-se commented on #11203
The issue is pypi does not allow overriding of published versions. We will have to wait for the next release tag to be created.

[2021-07-28 21:16] zbentley commented on #11203
Could a pre-release version be created in PyPi as a workaround? Or perhaps a non-semver tag (e.g. `2.8.0-1`)?

[2021-07-28 23:15] #11467 closed

[2021-07-29 01:09] codelipenghui commented on #11484
@zhaoqiang1980 You can use the same subscription name to subscribe to different topics and the subscription exists independently under each topic

[2021-07-29 01:10] codelipenghui commented on #11481
@liangyepianzhou I think you already start investigate this issue right?

[2021-07-29 01:13] liangyepianzhou commented on #11481
@codelipenghui
Yes, the problem is clear.
I'm trying to solve and write tests for it.

[2021-07-29 01:18] codelipenghui commented on #11476
@fewrwee2 I think you can refer to https://github.com/apache/pulsar/blob/301a76435ce918520f1b70b95b7ebed9bf1b08b5/pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/FunctionsImpl.java#L341

[2021-07-29 01:28] codelipenghui commented on #11480
@sqtce Just want to confirm some details from the last community meeting

1. the issue happens both on 2.7 and 2.8
2. list the namespace that can't show the given namespace but when you try to create the namespace again, shows the namespace already exists.
3. After restarts the broker, the namespaces appears when listing the namespaces
4. After restarts the broker, the consumer subscribed to the t

[2021-07-29 03:12] leiless opened #11491 "Pulsar Java 2.7.2 admin API topics().getLastMessageId() return 500 HTTP status code"
# **Describe the bug**

When I utilize Pulsar Java Admin API to get the topic's last message-id, I got 500 HTTP status code from Java API.
As a comparison, I use `pulsar-admin topics get-message-by-id ...`, it seems OK.

# **To Reproduce**
I cannot reproduce it, it'll happen occasionally after several hours running.

# Behavior stated

## Java API side

My `getTopicLastMessage` API snippet:

[code

[2021-07-29 03:27] leiless commented on #11491
When I issued a `podman restart`, it seems the 500 error still there:

[code]

[2021-07-29 03:40] leiless commented on #11491
When I call `getTopicLastMessage()` again in my App:

<details>
<summary>App logs ...</summary>

[code]
</details>

Which the error message is similar to the result of `pulsar-admin topics get-message-by-id persistent://foobar/mysql-cdc/binlog -l 4716 -e -1` shown above.

[2021-07-29 03:41] #11440 closed

[2021-07-29 06:25] bry00 commented on #11203
Have you tried to publish the corrected package as a post-
release (e.g. `2.8.0.post1`)?
<https://michaelgoerz.net/notes/inter-release-versioning-recommendations.html#release-versioning>

[2021-07-29 06:54] manjupriya-ar opened #11493 "Get the number of references to the given pulsar client instance at a given point of time."
**Is your feature request related to a problem? Please describe.**
Pulsar Version: 2.7.2
Pulsar Client: Pulsar CPP Client

In Pulsar, we use a single client to create multiple producers/consumers/readers. Is there any method/attribute that can give information on number of producers/readers/consumers connected to the given pulsar client instance at the given point of time?

Say there is a single p

[2021-07-29 08:11] Vanlightly opened #11496 "Reduce producer lookups and connections in partitioned producers"
**Is your enhancement request related to a problem? Please describe.**
Producers that send messages to partitioned topics start a producer per partition, even when using single partition routing. For topics that have the combination of a large number of producers and a large number of partitions, this can put strain on the brokers. With say 1000 partitions and single partition routing with non-key

[2021-07-29 08:23] sqtce commented on #11480
1，我用的是2.8.0版本
2，当时是通过pulsar-manager去查看namepaces，发现我创建的namepaces不见了，尝试创建同名的namespaces时，提示说namespaces存在
3，重新启动broker后，在pulsar-manager看又能正确显示namespaces名字
4，重新启动broker后，消费者成功订阅topic

[2021-07-29 10:51] balakrishna222111 commented on #11483
@sijie
Can we resolve this issue any how

[2021-07-29 11:28] Sunny-Island commented on #11493
I'll handle this issue.

[2021-07-29 11:49] Johnnyhooyo commented on #11474
the code almost like this:
[code]

and i will try to make a patch.

[2021-07-29 15:48] HugoPelletier commented on #11473
There are 2 classes to modified to fix this issue. In both cases (Field and String), the method validate_type is ignoring the required keyword argument.

**Field class** (https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/python/pulsar/schema/definition.py#L148)

[code]

**String class** (https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/python/pulsar/schema/definition.py#

[2021-07-29 16:11] krissetto commented on #11324
#11203

[2021-07-29 16:13] krissetto commented on #11324
This issue is also relative to the linking problems #11203

[2021-07-29 17:03] gaoran10 commented on #11473
@HugoPelletier Thanks, are you interest to fix this issue?

[2021-07-29 18:59] mfortman11 opened #11502 "REST API Create topic returns a 204 instead of 409 for duplicate topics"
When creating a topic via the REST API if you create a duplicate topic it returns a 204 instead of the 409 the documentation states or is returned for calls like create namespace.

![Screen Shot 2021-07-29 at 1 58 27 PM](https://user-images.githubusercontent.com/6100513/127550387-28065cb7-8f32-405d-9f1f-d485a49c50b0.png)

[2021-07-29 19:02] mfortman11 opened #11503 "Pulsar 2.6 Delete admin/v2/persistent/firsttenant27/ns2/topic?force=true&deleteSchema=true"
Always returns 204 successful even when the topic has been deleted

[2021-07-29 19:03] mfortman11 opened #11504 "Pulsar 2.6: POST ​/namespaces​/{tenant}​/{namespace}​/autoTopicCreation"
-e -t "partitioned" options would not work together

$ bin/pulsar-admin namespaces set-auto-topic-creation -e -t "partitioned" ming-luo/newns
java.lang.NullPointerException
at org.apache.pulsar.admin.cli.CmdNamespaces$SetAutoTopicCreation.run(CmdNamespaces.java:503)
at org.apache.pulsar.admin.cli.CmdBase.run(CmdBase.java:76)
at org.apache.pulsar.admin.cli.PulsarAdminTool.run(PulsarAdminTool.java:2

[2021-07-29 19:04] mfortman11 opened #11505 "Pulsar 2.6: POST ​/persistent​/{tenant}​/{namespace}​/{topic}​/all_subscription​/expireMessages​/{expireTimeInSeconds}"
The swagger doc missing successful status code 204 description

[2021-07-29 19:04] mfortman11 opened #11506 "Pulsar 2.6: GET /persistent/{tenant}/{namespace}/{topic}/backlog automatically creates a topic if the topic does not exist"
The expected behaviour should return 412 as swagger describes

[2021-07-29 19:06] mfortman11 opened #11507 "Pulsar 2.6: GET persistent/{tenant}/{namespace} with invalid namespace returns 200"
Query topics under an invalid namespace, according the swagger, it should return 412 status code, however, it returns 200

[2021-07-29 19:09] HugoPelletier commented on #11473
@gaoran10 Yes

[2021-07-29 22:12] nlu90 commented on #11502
Which Pulsar version are you using. It seems the 2.8.0 release fixed the problem:
[code]

[2021-07-30 00:29] #11485 closed

[2021-07-30 06:52] ca-simone-chiorazzo commented on #11203
We have the same issue with the 2.7.2 version. Any chance to publish a fixed version for this issue?

[2021-07-30 07:55] codelipenghui opened #11510 "[branch-2.7] Failed test org.apache.pulsar.broker.admin.PersistentTopicsTest.testPeekWithSubscriptionNameNotExist"
[code]

[2021-07-30 08:22] Anonymitaet commented on #11489
@hpvd thanks for raising this up. Would you like to update the doc or provide some tech inputs? Thanks

[2021-07-30 08:34] Sunny-Island opened #11511 "[C++ Client] Bug when compile C++ Client in MacOS."
**Describe the bug**
When conpile pulsar C++ client under the instruction from [website](https://pulsar.apache.org/docs/en/client-libraries-cpp/), I met question about brew:
$ brew tap homebrew/versions.
$ Error: homebrew/versions was deprecated. This tap is now empty and all its contents were either deleted or migrated.
This command doesn't work and the commad from [README.md ](https://github.com

[2021-07-30 10:59] gaozhangmin opened #11514 "bookie configuration "dbStorage_rocksDB_blockCacheSize" different with bookeeper "dbStorage_rocksDB_blockSize""
As title, It's mistake, right?

[2021-07-30 11:04] #11514 closed

[2021-07-30 11:14] mnit016 opened #11515 "brokerClientTlsEnabled break some admin API - 500 Error"
**Describe the bug**
I have pulsar 2.7.1 using k8s in 2 regions, I created a cluster on each for replication, it connect to each other through ingress with tls. Pulsar doesn't enable tls. (Each cluster's ingress has difference tls key-pair.)
I can't get list of topics under namespace.

**Error Log**
org.apache.pulsar.broker.PulsarServerException: java.lang.NullPointerException
  at org.apache.puls

[2021-07-30 12:17] Technoboy- commented on #11395
The stack trace :
[code]
So the simple way to fix this test is delete namespace forcely.

[2021-07-30 13:06] #11395 closed

[2021-07-30 17:33] zbentley commented on #11203
@sijie and @aahmed-se , something that may add a little more color to this issue: the Pulsar Python client library is very hard to build from source, so having working wheels is unusually important for folks who want to talk to Pulsar from Python.

To wit: neither I nor any of my coworkers, with workstations across several years' worth of OSX editions and Linux distros, have been able to effective

[2021-07-30 21:13] bharanic-dev opened #11521 "NPE in managed ledger on read failed"
**Describe the bug**
Under some scenarios, the following NPE exception is seen in Pulsar broker logs.

{"instant":{"epochSecond":1626050179,"nanoOfSecond":804217000},"thread":"bookkeeper-ml-workers-OrderedExecutor-7-0","level":"ERROR","loggerName":"org.apache.bookkeeper.common.util.SafeRunnable","message":"Unexpected throwable caught ","thrown":{"commonElementCount":0,"name":"java.lang.NullPointer

[2021-07-30 21:34] aahmed-se commented on #11203
Please list the pulsar / os / python versions people need I will build then and host is a seperate github repo as downloadable artifacts.

[2021-07-30 21:35] kaushik-develop opened #11523 "NPE observed in message interceptor"
**Describe the bug**
Null pointer exception was encountered in newMessageAndIntercept, in our internal deployment.

**To Reproduce**
The exact reproduction steps are not known at this point. The issue was observed in a scaled-out environment.
The stack-trace is as shown below (off a 2.7 based Pulsar deployment).

{"instant":{"epochSecond":1626043491,"nanoOfSecond":307589000},"thread":"pulsar-io-28

[2021-07-31 02:25] complone commented on #11272
@Anonymitaet  @congbobo184

I can understand it as: In [pull-8996](https://github.com/apache/pulsar/pull/8996), the code submitted by user @codebobo184 lacks documentation on the ack mechanism confirmation guarantee after the message is reposted And this section belongs to the Transactions section, as mentioned here [pull-11235](https://github.com/apache/pulsar/pull/11235#issuecomment-876070583)
T

[2021-07-31 03:09] bemoore34 opened #11525 "Add optional Ingest Pipeline config to Elasticsearch Sink connector"
**Is your enhancement request related to a problem? Please describe.**
It is not possible to specify an Elasticsearch ingest pipeline when using the built-in Puslar Elasticsearch Sink Connector.

It is common to use Elasticsearch ingest pipelines to perform additional processing on documents prior to being indexed, like geo-ip enrichment, date formatting, etc.

**Describe the solution you'd like**

[2021-07-31 15:12] lhotari commented on #11521
There is PR #11387 that fixes some thread safety issues in OpReadEntry. I wonder if that fix would help for this case.

[2021-07-31 18:52] #11523 closed

[2021-08-02 01:20] Sunny-Island commented on #11493
I'll add method to `ClientImpl`:
- getNumberOfProducer()
- getNumberOfConsumer()
- getNumberOfReader()
These method will scan state of all kinds of Producer/Consumer/Reader (with lock) and return number of connected instance.

[2021-08-02 02:01] gaozhangmin opened #11527 "StreamingDispatch would cause broker OOM, Always happen when turn `StreamingDispatch` on."
StreamingDispatch would cause broker OOM, Always happen when turn this on.

[2021-08-02 02:53] 871921256 opened #11528 "deploy a cluster(2.8.0) on bare metal,after usesing proxy,can not use pulsar admin operation"
In client.conf, webserviceurl and brokerserviceurl are configured as the addresses after proxy，messages can be produce and consumer normally, but  can not used for pulsar admin operations such as cluster information query:bin/pulsar-admin clusters list,it will return HTTP 401 Unauthorized。

If the webserviceurl and brokerserviceurl are configured as the address of the broker in client.conf,we can

[2021-08-02 07:22] GitForLipeng opened #11529 "启动消费者，订阅某一个topic，启动报错，更换topic启动成功"
pulsar版本2.4.0
启动消费者，订阅某个topic，初始化报错，启动报错
org.apache.pulsar.client.api.PulsarClientException$TimeoutException: 8 lookup request timedout after ms 30000
![image](https://user-images.githubusercontent.com/42997744/127820322-22920907-50c8-453e-8c3d-b218fea01b2d.png)

更换topic，初始化成功，

[2021-08-02 08:26] #10603 closed

[2021-08-02 09:15] syk-coder opened #11531 "Ledgers remaining underreplicated even when bookies come back from the dead"
**Describe the bug**
When 2 or more bookies in the cluster are down, the auto-recovery gets triggered, but as these come back online, the rereplication worker should Ideally skip the rereplication of the ledgers that are marked as underreplicated. But the ledgers are rereplicated instead

**To Reproduce**
Steps to reproduce the behavior:
1. Create a cluster with enough bookies for this test (>5)
2

[2021-08-02 10:08] shibd commented on #11212
Thanks, It can work.

[2021-08-02 10:08] #11212 closed

[2021-08-02 11:10] xiaotongwang1 opened #11532 "Pulsar 2.7.0+ KOP 2.7.2.x getPartitionedTopicMetadata timeout"
web log

2021-08-02 14:50:20.473 [pulsar-web-47-4] INFO  org.eclipse.jetty.server.RequestLog - 10.33.141.46 - - [02/Aug/2021:14:49:50 +0800] "GET /admin/v2/persistent/xxx/xxx/xsj.testtopic.0802.05-partition-13/stats?getPreciseBacklog=false&authoritative=false HTTP/1.1" 500 12267 "-" "Pulsar-Java-v2.7.0" 30260

2021-08-02 14:54:50.784 [pulsar-web-47-13] INFO  org.eclipse.jetty.server.RequestLog - 1

[2021-08-02 11:23] lhotari commented on #10870
[recent failure](https://github.com/apache/pulsar/pull/10384/checks?check_run_id=3218687273#step:9:22294)
[code]

[2021-08-02 13:14] zbentley commented on #11203
The new `2.8.0.post0` version is properly built and I am able to link against it successfully on OSX on the versions used for development at my company.

I can't speak for all linux, but our debian/ubuntu installs also work with that wheel.

Thanks so much @aahmed-se! From my end, no further action is needed on this issue, though I cannot speak to others in this thread.

[code]

[2021-08-02 13:34] gaoran10 opened #11533 "[Python Schema] Redefined record schema problem"
**Describe the bug**

Currently, one record couldn't appear more than one time in a complex record, because the schema definition string redefined the same name object, the right way is that if one record has appeared then if another field uses it again, the schema definition string only shows the record name in the type parameter.

For example

[code]

[2021-08-02 14:59] bry00 commented on #11203
The version `2.8.0.post0` works for me also (tested on Mac). Thx.

[2021-08-02 15:39] #11511 closed

[2021-08-02 17:24] Sunny-Island commented on #11493
I have open a [PR](https://github.com/apache/pulsar/pull/11535). There are two questions:

1. For PartitionedProducer/PartitionedConsumer/MultiTopicConsumer which consist of more than one consumer/producer. They should be counted as one or more reference？
2. When created reader from client, client add reader's consumer to its consumer list. Should we remove `getNumberOfReader()`? I haven't impleme

[2021-08-02 21:33] HugoPelletier opened #11536 "[Python client] Unable to serialize/deserialize complex schema"
**Describe the bug**

The solution push in the PR https://github.com/apache/pulsar/pull/11400 is working with a simple structure.
As soon as you have a more complex, including _Array_ type of field, a `ValueError` exception is raised

[code]

**Expected behavior**
We should be able to serialize/deserialize complex schema

[2021-08-02 21:34] HugoPelletier commented on #11536
FYI, @gaoran10, I already have a solution for this issue.

[2021-08-03 01:08] #2736 closed

[2021-08-03 01:55] BewareMyPower commented on #11532
Can you query the partitions number using `pulsar-admin`?

It looks like the request stuck at `validateGlobalNamespaceOwnership`, which eventually calls

[code]

but the `getAsync` call timed out.

I think restarting the broker could solve the problem because cache will be refreshed, but what cause it is still to be figured out. Could you give some help? @codelipenghui

[2021-08-03 02:02] kingslyChen opened #11538 "pulsar-admin sources start"
I want to create source connector for debezium-mysql ,can create but start not work,the command ./bin/pulsar-admin sources start --name debeziummysql --namespace dev --tenant public in docker ,response

[AsyncHttpClient-7-1] WARN  org.apache.pulsar.client.admin.internal.BaseResource - [http://10.0.10.13:25102/admin/v3/source/public/dev/debeziummysql/start] Failed to perform http post request: java

[2021-08-03 02:15] xuesongxs opened #11539 "Pulsar Proxy supports connection aggregation"
**Is your feature request related to a problem? Please describe.**
The current proxy processing method is that when a pulsar client is connected to the proxy, the proxy will create a connection with the broker, that is, how many pulsar clients are connected, and how many connections the proxy will create with the broker. If the applications accessing the proxy continue to grow, the host of the pro

[2021-08-03 04:23] RobertLowe commented on #4722
![Screen Shot 2021-08-03 at 12 18 26 AM](https://user-images.githubusercontent.com/601141/127957074-ae3d847e-9380-423b-816b-4c7948bf63af.png)

Idle's at 12%-15% for me. Acceptable. However, other containers idle at 0-2%.

Purely curious, what is pulsar doing? Polling something? Loops? JVM stuff?

[2021-08-03 07:08] hpvd commented on #4722
yes this would be indeed interesting to know what is happening. It's not only about idle load and power consumption, but may be something like an additional load off set which would free some resources when possible to minimize...

@RobertLowe which version are you using?

[2021-08-03 08:15] startjava commented on #11413
[ghy@localhost bin]$ ./pulsar standalone
04:12:36.032 [main] INFO  org.apache.pulsar.zookeeper.LocalBookkeeperEnsemble - Running 1 bookie(s) and advertised them at 127.0.0.1.
04:12:36.041 [main] INFO  org.apache.pulsar.zookeeper.LocalBookkeeperEnsemble - Starting ZK server
04:12:36.069 [main] INFO  org.apache.zookeeper.server.ZooKeeperServer -
04:12:36.069 [main] INFO  org.apache.zookeeper.server.

[2021-08-03 08:16] startjava commented on #11413
04:12:51.889 [main-EventThread] INFO  org.apache.distributedlog.logsegment.PerStreamLogSegmentCache - streams_000000000000000000_000000000000000000_000000000000000000 added log segment (logrecs_000000000000000002 : [LogSegmentId:10, firstTxId:3, lastTxId:3, version:VERSION_V5_SEQUENCE_ID, completionTime:1626871958852, recordCount:1, regionId:0, status:0, logSegmentSequenceNumber:2, lastEntryId:2,

[2021-08-03 08:23] startjava commented on #11413
@nodece   thank you !

[2021-08-03 08:39] startjava commented on #11413
has  20 Exception  !!!    lot lot lot ！

[2021-08-03 08:43] nodece commented on #11413
It should not affect your function.

[2021-08-03 08:43] gw9i commented on #6477
@jiazhai @sijie Any developments? Is there any chance for fix of the issue in the next release?

[2021-08-03 08:52] BewareMyPower commented on #11413
The main exception stack was introduced from https://github.com/apache/bookkeeper/pull/2587, which added an error level log in `shouldRetryOnException`.

[code]

Other exception stacks are thrown during ZK client's close, like

[code]

[2021-08-03 09:02] startjava commented on #11413
@BewareMyPower  why show the log ?? zookeeper close ?? why ?? i only run "./pulsar standalone" command!

[2021-08-03 09:13] BewareMyPower commented on #11413
After I checked the code, it's also logs from BooKeeper (`org.apache.distributedlog.ZooKeeperClient`).

[2021-08-03 09:23] startjava commented on #11413
OK, hope version 2.8.1 resolves this issue.  thank you !  good job!

[2021-08-03 09:43] startjava commented on #11413
@BewareMyPower   this issue can go to "pull request"？？

[2021-08-03 12:40] ken-alx opened #11544 "docker standalone exited ,but not error"
**Describe the bug**
docker-componse start, pulsar exited, but not error in logs.

[code]

the last line in logs on exited.

[code]

![image](https://user-images.githubusercontent.com/19256972/128016973-c6676a5b-c5cd-4c57-adb4-c691b4912779.png)

[2021-08-03 12:55] #11544 closed

[2021-08-03 13:13] RobertLowe commented on #4722
@hpvd latest docker `apachepulsar/pulsar`, so 2.8.0

[2021-08-03 14:55] #11493 closed

[2021-08-03 15:21] nodece commented on #11488
I try to use the `helm pull streamnative/local-storage-provisioner --untar` to download this charts, I found that this charts uses `extensions/v1beta1`,  we need to update this charts in https://charts.streamnative.io.

[2021-08-03 15:58] lhotari commented on #4722
https://github.com/apache/pulsar/issues/9958#issuecomment-802616057 contains some explanation for high CPU usage while idling.

[2021-08-03 17:21] BewareMyPower commented on #11413
It requires the fix of BookKeeper, then we need to release the BookKeeper and upgrade Pulsar's dependency of BookKeeper.

Since it's not a critical bug and it doesn't affect any normal usage, it might not be included in Pulsar 2.8.1 that will be released soon.

[2021-08-03 20:58] yabinmeng opened #11548 "Pulsar server non-tls ports are still listening when TLS in-transit encryption is enabled"
**Describe the bug**
I'm testing out transport encryption using TLS by following the document instruction here:
https://pulsar.apache.org/docs/en/2.7.2/security-tls-transport/

I'm expecting that when TLS is enabled, when broker is starting up, only TLS ports (8443 and 6551) are listening. But it looks like non-TLS ports (8080 and 6650) are also enabled. See the command line output below:

[code]

[2021-08-03 23:54] HugoPelletier commented on #11536
Closing this issue. Was fixed in #11530

[2021-08-03 23:54] #11536 closed

[2021-08-04 00:33] RobertLowe commented on #9731
`docker/alpine/Dockerfile` fails to build

[code]

[2021-08-04 03:34] BewareMyPower opened #11549 "The CI of cpp tests is broken"
**Describe the bug**
Recently I found a bug in C++ client that was introduced from #11492 (I'll fix it soon). However, the point is, the related C++ unit tests should fail but the CI passed. See https://github.com/apache/pulsar/runs/3188401433:

[code]

It looks like the current CI of cpp tests allow the failed tests and bugs could be introduced with CI passed.

**To Reproduce**

**Expected behavi

[2021-08-04 03:59] Anonymitaet commented on #11449
Hi @david-streamlio any progress on the docs? Thanks

[2021-08-04 03:59] Anonymitaet commented on #11397
Done in https://github.com/apache/pulsar/pull/11398

[2021-08-04 03:59] #11397 closed

[2021-08-04 04:03] BewareMyPower commented on #11549
I found the broken CI was introduced from https://github.com/apache/pulsar/pull/10309, do you know why the CI passed even the tests failed? @lhotari

BTW, I'm going to fix these failed tests ASAP.

[2021-08-04 04:03] Anonymitaet commented on #9410
Hi @vkvm any progress on the docs? We would like to help review, thanks

[2021-08-04 04:18] david-streamlio commented on #11449
I have a preliminary version out, but I am waiting for confirmation as to whether the single `pip install pulsar-client` command actually installs all of the optional components that you have to install manually in Linux, e.g., functions runtime and Avro serialization.

[2021-08-04 04:33] BewareMyPower opened #11551 "[C++] There're some bugs that make unit tests fail"
**Describe the bug**

There're 11 tests that failed. Here're the logs of the [latest PR](https://github.com/apache/pulsar/pull/11535) at this time about C++ client:

[code]

**To Reproduce**
Run tests in local env.

**Expected behavior**
The tests should not fail.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**

[2021-08-04 05:19] equanz commented on #11496
I have published similar solution in the [PIP-79](https://github.com/apache/pulsar/wiki/PIP-79%3A-Reduce-redundant-producers-from-partitioned-producer). If so, could you please review or discuss it in the [PR](https://github.com/apache/pulsar/pull/10279)?

[2021-08-04 07:08] #11473 closed

[2021-08-04 07:11] HistoryGift opened #11552 "flume io connector is not supported taildir source"
**Describe the bug**
flume io connector is not supported taildir source

version: 2.7.1

**To Reproduce**
Steps to reproduce the behavior:
1,  #vim  flume-connector.yaml
configs:
  name: a1
  confFile: /opt/brokers2/source.conf
  noReloadConf: false
  zkConnString: ""
  zkBasePath: ""
2,#vim source.conf
a1.sources = r1
a1.sinks = k1
a1.channels = c1
a1.sinks.k1.type = org.apache.pulsar.io.flume.so

[2021-08-04 07:11] #11099 closed

[2021-08-04 07:12] #11147 closed

[2021-08-04 11:31] codelipenghui commented on #11532
@xiaotongwang1 Could you please provide the complete thread dump?

[2021-08-04 13:17] xiaotongwang1 commented on #11532
@codelipenghui  full stack update

[2021-08-04 13:18] xiaotongwang1 commented on #11532
FULL STACK

2021-08-04 21:11:31
Full thread dump OpenJDK 64-Bit Server VM (25.272-b10 mixed mode):

"Attach Listener" #385 daemon prio=9 os_prio=0 tid=0x000055bb2ab1d000 nid=0x4a0 waiting on condition [0x0000000000000000]
   java.lang.Thread.State: RUNNABLE

"ForkJoinPool.commonPool-worker-25" #360 daemon prio=5 os_prio=0 tid=0x00007fc77c701000 nid=0x4108 waiting on condition [0x00007fc741e8d000]

[2021-08-04 13:19] xiaotongwang1 commented on #11532
"bookkeeper-io-16-32" #322 prio=5 os_prio=0 tid=0x00007fc7747a0800 nid=0x1ef6 runnable [0x00007fc7586b5000]
   java.lang.Thread.State: RUNNABLE
	at io.netty.channel.epoll.Native.epollWait(Native Method)
	at io.netty.channel.epoll.Native.epollWait(Native.java:148)
	at io.netty.channel.epoll.Native.epollWait(Native.java:141)
	at io.netty.channel.epoll.EpollEventLoop.epollWaitNoTimerChange(EpollEvent

[2021-08-04 13:19] xiaotongwang1 commented on #11532
"group-coordinator-executor-OrderedScheduler-3-0" #256 prio=5 os_prio=0 tid=0x000055bb2ba63000 nid=0x1dd1 waiting on condition [0x00007fc7622fc000]
   java.lang.Thread.State: WAITING (parking)
	at sun.misc.Unsafe.park(Native Method)
	- parking to wait for  <0x00000006bf2a4ab8> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)
	at java.util.concurrent.locks.LockSupport.park(

[2021-08-04 13:19] xiaotongwang1 commented on #11532
"pulsar-web-47-16" #195 prio=5 os_prio=0 tid=0x000055bb2b74b000 nid=0x1d94 waiting on condition [0x00007fc76753a000]
   java.lang.Thread.State: TIMED_WAITING (parking)
	at sun.misc.Unsafe.park(Native Method)
	- parking to wait for  <0x00000007741f3820> (a java.util.concurrent.CompletableFuture$Signaller)
	at java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:215)
	at java.util.concu

[2021-08-04 13:20] xiaotongwang1 commented on #11532
"pulsar-web-47-1" #166 prio=5 os_prio=0 tid=0x00007fc784f14000 nid=0x1c7c waiting on condition [0x00007fc76b92f000]
   java.lang.Thread.State: TIMED_WAITING (parking)
	at sun.misc.Unsafe.park(Native Method)
	- parking to wait for  <0x0000000772359220> (a java.util.concurrent.CompletableFuture$Signaller)
	at java.util.concurrent.locks.LockSupport.parkNanos(LockSupport.java:215)
	at java.util.concur

[2021-08-04 13:20] xiaotongwang1 commented on #11532
"BookKeeperClientWorker-OrderedExecutor-15-0" #79 prio=5 os_prio=0 tid=0x00007fc784791000 nid=0x1b35 waiting on condition [0x00007fc771fde000]
   java.lang.Thread.State: WAITING (parking)
	at sun.misc.Unsafe.park(Native Method)
	- parking to wait for  <0x00000006c42f4e18> (a java.util.concurrent.locks.AbstractQueuedSynchronizer$ConditionObject)
	at java.util.concurrent.locks.LockSupport.park(LockS

[2021-08-04 14:20] HugoPelletier opened #11558 "[Python Schema] Record can not be None"
**Describe the bug**

If you have a sub-record in your schema, the sub-record cannot be `None` despite the fact that the Record class initialization has a `required` field set to [False by default](https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/python/pulsar/schema/definition.py#L60).

**To Reproduce**
[code]
Will raise an exception

[code]

**Expected behavior**

Should be able to

[2021-08-04 19:11] #11558 closed

[2021-08-04 23:18] zbentley commented on #9491
Did this make it into 2.8.0? I am experiencing what looks like the same issue on that version.

[2021-08-05 04:12] manjupriya-ar opened #11561 "Request for Timeout of hasMessageAvailable API in Pulsar CPP Reader"
**Is your enhancement request related to a problem? Please describe.**
Pulsar Version: 2.7.2
Pulsar Client : CPP

Currently, the CPP client reader.hasMessageAvailable(hasMsg) does not have timeout.  Having timeout for the hasMessageAvailable API will help to exit the operation on the client side.

**Describe the solution you'd like**
Timeout for the hasMessageAvailable CPP API

[2021-08-05 06:19] hangc0276 commented on #10687
This issue has been addressed by #10862.

[2021-08-05 06:19] #10687 closed

[2021-08-05 07:18] Jennifer88huang commented on #11291
@sijia-w could you please help work on this issue?

[2021-08-05 07:30] Jennifer88huang commented on #8569
Since we contribute Pulsar SQL to Trino community and will remove the whole documentation from Pulsar doc set, shall we provide the guide for deploying Pulsar SQL on docker/k8s in Pulsar in the future?

[2021-08-05 07:33] objecttrouve opened #11562 "Can't configure a `cryptoKeyReader` via `ReaderBuilder.loadConf`"
### Describe the bug

I'm trying to configure a `CryptoKeyReader` with a [`FlinkPulsarSource`](https://github.com/streamnative/pulsar-flink#source).

The [Pulsar docs](https://pulsar.apache.org/docs/en/client-libraries-java/#configure-reader) suggest you can configure such a crypto key reader by passing a value for property called `cryptoKeyReader`.
	[Here's](https://github.com/streamnative/pulsar

[2021-08-05 07:46] chenyg0911 commented on #6030
When the feature pupported? kafka sink suport bulk index for a long time.

[2021-08-05 08:34] vsly-ru commented on #11544
@ken-alx  Why the issue was closed? Did you figure it out? Because I've tested many docker run options, tried it on two different machines and still **failed** to run in a container. With the same behavior. Ended up running it locally.
Or is it fixed by some PR?

[2021-08-05 08:47] leizhiyuan commented on #11502
[code]
partitioned topic is ok.

[2021-08-05 09:31] fewrwee2 commented on #11538
@kingslyChen 想问下您这个问题解决了吗，我也有遇到这个问题

[2021-08-05 10:19] bry00 opened #11567 "pypi has no tracked versions of the client for python 3.9 on Debian"
Currently, there is no distribution of the Pulsar client in pypi for Python 3.9 on Debian platform,
thus an attempt to use install `pulsar-client` package results in
[code]

Please, add distribution  of `pulsar-client` for versions of 2.7.3 and 2.8.0 for Python 3.9 on Debian platform.

[2021-08-05 10:34] ken-alx commented on #11544
I have solved the problem by remove `BOOKIE_MEM` limit or improve the `Xms` and `Xmx`. @vsly-ru
[code]

[2021-08-05 10:50] picassoo opened #11568 "Pulsar Sink Localrun - Not able to find table - PostgreSQL"
**Sink Connectors can not find table**
Hi,

I tried  Pulsar IO features (source and sink connectors) in standalone mode.  Source connectors works very well with debezium connector. But Sink Connector can not find table while deploying jdbc postgresql connector. Naturally , Pulsar can not write topic message to table.
Sink Config YAML File:

[code]

**Possible Solution**

I suspected jdbcUrl can be

[2021-08-05 12:04] avirlrma commented on #11507
Hi,
Can I start working on this?

[2021-08-05 12:07] eolivelli commented on #11507
@avirlrma sure!

[2021-08-05 12:08] eolivelli commented on #11507
I have assigned this issue to you

[2021-08-05 12:43] hpvd commented on #11269
since it's also a non-root (security) topic and is somehow related to this:
latest Kubernetes 1.22 support running all Kubernetes node components (including the kubelet, kube-proxy, and container runtime) as a non-root user.
https://kubernetes.io/blog/2021/08/04/kubernetes-1-22-release-announcement/

Should we open an issue to address this on places like setup-guides, testing environment etc.?

[2021-08-05 13:43] Vanlightly commented on #11496
@equanz I have created an MR with my C++ changes, which are very similar to your Java client changes and fall nicely inside your PIP (its a subset of the PIP). Some differences, such as allowing lazy producers to be configurable, and how the lazy start is kicked off.

[2021-08-05 15:55] vsly-ru commented on #11544
@ken-alx 谢谢你

[2021-08-05 17:51] avirlrma commented on #11507
Thanks  @eolivelli

[2021-08-05 17:54] michaeljmarshall commented on #11269
I don't know if this would be as costly as you're suggesting. If we build the base pulsar image and then extend that base image to build the dev image, the dev image will share the same initial layers. I am not familiar with docker image security scanning tools, but I would think that they should be optimized to not re-scan the same layer within some period of time. This deserves more research, th

[2021-08-05 19:18] frankjkelly commented on #11320
@gaozhangmin I think I am seeing something similar and I am using Pulsar 2.7.2 on Kubernetes.
Which version are you seeing this on?

[2021-08-05 19:23] eaba opened #11576 "Avro or KeyValue Schema throws exception in PulsarRecordCursor"
**Describe the bug**
Avro or KeyValue Schema throws exception in PulsarRecordCursor

java.lang.NullPointerException: undefined
	at org.apache.pulsar.sql.presto.PulsarRecordCursor.advanceNextPosition(PulsarRecordCursor.java:493)
	at io.prestosql.spi.connector.RecordPageSource.getNextPage(RecordPageSource.java:90)
	at io.prestosql.operator.TableScanOperator.getOutput(TableScanOperator.java:302)
	at

[2021-08-05 21:35] eolivelli commented on #6030
Yes it is om the current master branch.
It will be available from 2.9.0 onwards

[2021-08-05 21:35] #6030 closed

[2021-08-06 00:56] brightsparc opened #11577 "Function Context methods `get_output_topic` and `get_output_serde_class_name` not resolving to `sink`"
**Describe the bug**
As per the [functions development](https://pulsar.apache.org/docs/en/2.4.1/functions-develop/) documentation, the methods
* `get_output_topic()`
* `get_output_serde_class_name()`
 are not resolving to the correct`self.instance_config.function_details.sink` object so are returning `None`:

see: https://github.com/apache/pulsar/blob/master/pulsar-functions/instance/src/main/pyth

[2021-08-06 03:41] #11404 closed

[2021-08-06 05:44] leizhiyuan opened #11579 "Fix the compareTo method for PulsarResourceDescription"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

need to return zero if two resourceDescription match exactly

**Screenshots**
If applicable, add screenshots to help

[2021-08-06 06:34] leizhiyuan commented on #11510
It seems

![image](https://user-images.githubusercontent.com/2684384/128114408-72f6f04f-faf5-477f-9824-b3f9c3054d41.png)

in 2.7 , AdminResource, it will try to connect the other clusters for create partitioned topic, so the virtual new ClusterData("http://broker-use.com:8080") will fail when connect, if we need to fix this ,maybe we need to run the other plusar clusters (include zk ) in tests. th

[2021-08-06 08:06] #11008 closed

[2021-08-06 08:26] leizhiyuan opened #11581 "pass the executor to RateLimiter in ResourceGroupPublishLimiter"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the enhancement is.

pass the executor to RateLimiter in  ResourceGroupPublishLimiter

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

it is necessary

**Describe alternatives you've considered**
A clear and concise description of any alte

[2021-08-06 08:30] nodece opened #11583 "Cannot run the apachepulsar/pulsar:latest with standalone mode in docker"
**Describe the bug**

I tried to run pulsar standalone 2.8.0 in docker, I found that this container will exit automatically.  pulsar standalone 2.7.0 is work.

docker command:
[code]
docker logs:
[code]

**Desktop (please complete the following information):**
 - OS: MacOS 11.4
 - Docker: Docker version 20.10.7, build f0df350

[2021-08-06 12:53] leizhiyuan commented on #11583
It seems pulsar was killed by memory limit, In my mac, I can reproduce the issue.

I get into docker ,and run the command , I will see `Killed`

Please set  the docker memory size
![image](https://user-images.githubusercontent.com/2684384/128513004-a186d219-f85d-4193-be8c-d78e2b1bd826.png)

The pulsar will run and print some error.

[2021-08-06 12:54] leizhiyuan commented on #11583
[code]

[2021-08-06 13:16] nodece commented on #11583
@leizhiyuan You are right that pulsar was killed by memory limit.

[2021-08-06 13:16] #11583 closed

[2021-08-07 12:07] leizhiyuan opened #11591 "should cut consumer connection on markDeleteFailed"
**Describe the bug**
cut consumer connection on markDeleteFailed

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

cut consumer connection on markDeleteFailed

**Screenshots**
If applicable, add screenshots to help explain your problem.

*

[2021-08-08 04:17] codelipenghui opened #11593 "java.lang.NoSuchMethodError: java.nio.ByteBuffer.position(I)Ljava/nio/ByteBuffer when enabling topic metadata compression"
**Describe the bug**
We have introduced managed ledger metadata compression in https://github.com/apache/pulsar/pull/11490, but we will get `java.lang.NoSuchMethodError: java.nio.ByteBuffer.position(I)Ljava/nio/ByteBuffer;` when run Pulsar on JDK1.8.

[code]
For branch-2.8 and master, build on JDK8 or JDK11, run on JDK8 can works.
For branch-2.8 and master, build on JDK8 or JDK11, run on JDK11 can

[2021-08-08 11:17] objecttrouve commented on #11562
Created [#386](https://github.com/streamnative/pulsar-flink/issues/386) in the [streamnative/pulsar-flink](https://github.com/streamnative/pulsar-flink) project.

[2021-08-08 12:09] vsly-ru commented on #6995
@lukestephenson Did you find a way of achieving this?
I'm facing the same problem, but sounds like the Pulsar still can't be configured such a way, that a compacted topic becomes a key:value storage, but distributed and integrated onto existing Pulsar infrastructure.
We're considering periodic topic migration: run compaction, read compacted -> write to a new topic, left a "moved" message in the ol

[2021-08-08 15:17] #11551 closed

[2021-08-08 17:59] lhotari commented on #11593
This looks like a bug in aircompressor library. it's not specifying the release configuration for maven compiler plugin as described in https://www.morling.dev/blog/bytebuffer-and-the-dreaded-nosuchmethoderror/ .

In Pulsar this was solved with #10343 .

[2021-08-09 07:30] lhotari commented on #11105
duplicates #11096 . closing this one.

[2021-08-09 07:30] #11105 closed

[2021-08-09 07:49] lhotari commented on #11096
another recent failure: https://github.com/apache/pulsar/pull/11599/checks?check_run_id=3277732006#step:10:212

[2021-08-09 08:26] leizhiyuan commented on #11461
It seems ok

![image](https://user-images.githubusercontent.com/2684384/128678216-33ad1284-4ac9-4d1b-a773-64bd4e154cc5.png)

I think __transaction_buffer_snapshot  can mean that transaction is ok.

[2021-08-09 08:55] brightsparc opened #11603 "Python context `del_counter` not calling the `delete_key` implementation in context"
**Describe the bug**
Unable to delete a counter on the context due regression in the state_context which renamed `delete` to `delete_key`.

**Expected behavior**
The context [del_counter](https://github.com/apache/pulsar/blob/master/pulsar-functions/instance/src/main/python/contextimpl.py#L236) method should be calling [delete_key](https://github.com/apache/pulsar/blob/master/pulsar-functions/inst

[2021-08-09 09:35] #11533 closed

[2021-08-09 11:20] #8640 closed

[2021-08-09 12:11] gaozhangmin opened #11604 "Got exception java.lang.UnsupportedOperationException: MessageId is null。Using Reader"
Using Reader interface to consume. Got error:
[code]
It seems that this error will cause reader would not ack message.
![image](https://user-images.githubusercontent.com/9278488/128705045-1f1f83ce-0fec-4d34-9e3b-a0677b955a85.png)

[2021-08-09 12:23] leizhiyuan commented on #11604
which version do you use？

this pr seems fixed it

https://github.com/apache/pulsar/pull/10586

[2021-08-09 12:23] leizhiyuan commented on #11604
![image](https://user-images.githubusercontent.com/2684384/128705475-9ea3ebf1-b5c2-470f-b6bc-41ebea06ae57.png)

They add a precheck for messageId

[2021-08-09 12:25] gaozhangmin commented on #11604
2.8.0

[2021-08-09 12:29] leizhiyuan commented on #11604
![image](https://user-images.githubusercontent.com/2684384/128705973-f4ef264f-ff43-4b46-a2b4-672d3f1b2147.png)

maybe there is a concurrent bug。

[code]

[2021-08-09 12:35] wuzhanpeng opened #11605 "Race condition in concurrent schema deletion"
**Describe the bug**
In some scenarios, we deleted topics concurrently, which may trigger some race condition in deleting the same topic schema. For example, in `org.apache.pulsar.broker.service.AbstractTopic#deleteSchema` we will firstly perform `schemaRegistryService#getSchema`(read from bookkeeper) then `schemaRegistryService#deleteSchemaStorage`(delete its corresponding ledgers in bookkeeper).

[2021-08-09 15:06] nishantvas commented on #6220
Similarly, I've noticed that installing pulsar-client on WSL also doesn't work

[2021-08-09 19:11] kuskmen opened #11608 "Geo Replication Topic Policy"
**Is your feature request related to a problem? Please describe.**
This feature request is not related to any problem, at least not that I am familiar with.

**Describe the solution you'd like**
I think the current architecture and way of configuring pulsar it will be nice to introduce geo-replication policy on topic level. Unfortunately, I dont know the details of the internal implementation of p

[2021-08-09 19:46] #11604 closed

[2021-08-09 22:50] #11449 closed

[2021-08-09 23:23] bharanic-dev commented on #11521
@lhotari thank you for pointing to #11387 . I looked through the changes and it appears that changes in #11387 try to serialize accesses to entries. I am not sure if that will help with this issue, though.

For this issue, on a given OpReadEntry object one of readEntriesFailed() and checkReadCompletion() needs to get invoked more than once. From reading through the code, I am not entirely sure how

[2021-08-10 01:52] aloyszhang opened #11612 "reader may misuse an exist durable subscription"
**Describe the bug**
In our product environment,  sometimes set `startMessageId` for a reader(created by flink source) has no effect.
After troubleshoot, we found the root cause is the reader re-use the same subscriptionName exist before, and reader misuse the Durable Subscription object, so reader will read message from the Durable Subscription's `readPosition` instead of the `startMessageId`.

*

[2021-08-10 03:53] gaozhangmin opened #11616 "Failed to fence subscription"
[code]

[2021-08-10 05:21] #11616 closed

[2021-08-10 06:25] eolivelli opened #11617 "[release notes] Document the requirement of ZooKeeper 3.6.x or greater for Pulsar 2.9 onwards"
In 2.9.0 we are now using ZooKeeper Persistent Recursive Watches.
This feature is supported only from ZooKeeper 3.6.x onwards.

Users that upgrading from Pulsar 2.7.x, that bundles ZooKeeper 3.5.x must upgrade the ZooKeeper nodes before upgrading the brokers.

The same applies to users that are running their own ZooKeeper cluster, they must upgrade to ZooKeeper 3.6.x or greater before upgrading Pu

[2021-08-10 08:23] gaozhangmin opened #11619 "NPE when getPreviousPosition"
[code]

[2021-08-10 08:24] gaozhangmin commented on #11619
Please assign to me. I will fix it

[2021-08-10 08:36] timmyyuan opened #11620 "[Build] Building the pulsar-standalone image requires user interaction"
**Describe the bug**
Building the pulsar-standalone image requires user interaction, which prevents automation of the release process

**To Reproduce**
Steps to reproduce the behavior:

1. checkout the master branch
2. build the pulsar-standalone image

**Expected behavior**
The building process should not require user interaction

**Screenshots**
[code]

**Additional context**
Introduced by https

[2021-08-10 09:57] Jennifer88huang commented on #11380
@sijia-w could you like to investigate and try to fix the issue? Thank you.

[2021-08-10 10:02] Jennifer88huang commented on #8357
@sijia-w could you like to investigate and try to fix the issue? Thank you.

[2021-08-10 10:04] Jennifer88huang commented on #8671
@sijia-w could you like to investigate and try to fix the issue? Thank you.

[2021-08-10 10:17] Jennifer88huang opened #11625 "[doc] Message redelivery and acknowledgement"
**Is your feature request related to a problem? Please describe.**
In the current [messaging docs](https://pulsar.apache.org/docs/en/concepts-messaging/), there is no content related to message redelivery and acknowledgement.

**Describe the solution you'd like**
Add clear and concise description of message redelivery and acknowledgement.

[2021-08-10 10:20] frankxieke opened #11626 "metrics label with a redundant comma at the last"
**Describe the bug**

Metrics problem , it seems that some prometheus metrics lable with a redundant comma.

pulsar_function_worker_stop_instance_process_time_ms{cluster="standalone",quantile="0.5",} NaN
pulsar_function_worker_stop_instance_process_time_ms{cluster="standalone",quantile="0.9",} NaN
pulsar_function_worker_stop_instance_process_time_ms{cluster="standalone",quantile="1.0",} NaN
pulsar

[2021-08-10 11:55] leizhiyuan commented on #11626
org.apache.pulsar.functions.worker.WorkerStatsManager#writeMetric

[code]

write a comma in the last line.

[2021-08-10 12:01] lhotari commented on #11521
@bharanic-dev OpReadEntry isn't thread safe. Breaking thread safety rules can lead to very surprising behaviour which is "impossible" from reading the code. One such example of an "impossible" problem in the past is #10433 .
#11387 will fix some issues since most access to OpReadEntry will happen from a single thread. That's why it could help in this case too.

[2021-08-10 13:00] Technoboy- opened #11628 "Flaky-test: ElasticSearchClientTests.testBulkRetry"
ElasticSearchClientTests is flaky. The testBulkRetry test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/11564/checks?check_run_id=3290485512)

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
Error:  Tests run: 8, Failures: 1, Errors: 0, Skipped: 6, Time elapsed: 145.874 s <<< FAILURE! - in org.apache.pulsar.io.elasticsearch.ElasticSearchClie

[2021-08-10 13:20] Technoboy- commented on #11628
Hi @eolivelli
I take a look at the ElasticSearchClientTests#testBulkRetry, I think we may name every index randomly or delete index after each test .
[code]

Or delete index :
[code]
Could you help give some ideas about this issue?

[2021-08-10 16:50] bharanic-dev commented on #11521
@lhotari thank you. I agree that some of the issues that can arise if thread safety rules are broken, can be impossible to figure out just reading the code. I will try #11387 and see if it helps.

[2021-08-10 18:12] #10893 closed

[2021-08-10 19:14] #11620 closed

[2021-08-10 20:13] #11612 closed

[2021-08-10 21:24] michaeljmarshall commented on #11269
Note that using a distroless base image (https://github.com/GoogleContainerTools/distroless/tree/main/java) is not a viable option for pulsar 2.x because we use shell scripts to configure each component before executing the `java` command and changing that configuration paradigm would be a breaking change.

[2021-08-10 21:38] Zhen-hao opened #11631 "schema compatibility check overly restrictive"
I see a runtime failure of a Pulsar producer with the log below. To make this issue easier to understand, I attach here a graphic view of the difference between the two schemas. The original schema is a union type and the new version adds a few record types to the union type.

Although the newly added types occur in two chunks in the schema surrounded by the old ones, the new version should still

[2021-08-10 22:18] oversearch opened #11632 "[C++] pulsar-client-cpp stability enhancements and code cleanup"
Howdy!  My company is investing heavily into event driven workflows, and we're utilizing Pulsar to accomplish this end.  We're primarily a C++ shop, and I'm a Principal Engineer and in charge of the integration of Pulsar into our system, and experienced in C++.  I've made a few bug fixes to the C++ client already, and in doing so I've noticed that it could use a bit of love to bring greater consis

[2021-08-10 22:50] merlimat commented on #11632
@oversearch All the proposed changes look great!

[2021-08-11 01:18] #11619 closed

[2021-08-11 05:50] Zhen-hao commented on #11631
OK. I think I know the real issue here.

[The Pulsar documentation](https://pulsar.apache.org/docs/en/schema-evolution-compatibility/) makes it clear
[code]

My problem is to find a way to set the default compatibility level to `BACKWARD` on the namespace level. Because I need to create a lot of topics dynamically.

[2021-08-11 05:58] lhotari commented on #11628
another failure

[code]

at https://github.com/apache/pulsar/pull/11497/checks?check_run_id=3288037630#step:9:27002

testBulkBlocking is also flaky

[code]
in https://github.com/apache/pulsar/pull/11497/checks?check_run_id=3288037630#step:9:38776

PTAL @eolivelli @vroyer

[2021-08-11 05:59] eolivelli commented on #11628
I am working on a fix.

[2021-08-11 06:05] lhotari commented on #11625
Yes this is a gap. It might help to reference the "Message retention and expiry" docs ( https://pulsar.apache.org/docs/en/cookbooks-retention-expiry/ ) since that is related to redelivery and acknowledgement.

[2021-08-11 06:16] vroyer commented on #11628
I also look at that.

[2021-08-11 06:36] eolivelli commented on #11628
Thank you @vroyer  I have assigned the ticket to you

[2021-08-11 07:12] lhotari opened #11635 "[Tests] "python pulsar_test.py" failed with segmentation fault and core dump"
**Describe the bug**

The logs contained this line
[code]
this happened in https://github.com/apache/pulsar/pull/11387/checks?check_run_id=3297639124

**To Reproduce**

Unknown.

**Expected behavior**

Tests should not crash with segmentation fault.

**Additional context**

Logs of build is available at https://gist.github.com/lhotari/5241f83ed6c348b3d2c91ce5da33c1d0 . "test-logs.zip" is at https:

[2021-08-11 07:27] lhotari opened #11637 "[Broker] Failed to process metadata store notification"
**Describe the bug**

I came a cross multiple odd log entries "Failed to process metadata store notification
java.lang.IllegalArgumentException: Invalid namespace format. expected <tenant>/<namespace> or <tenant>/<cluster>/<namespace> but got: public" when investigating #11635 .

I wonder if this has recently changed. This is the log entry:
[code]

**To Reproduce**

The above example is from the l

[2021-08-11 07:29] lhotari commented on #11637
@merlimat This problem might be related to recent PIP-45 changes. Please take a look.

[2021-08-11 07:33] lhotari commented on #11637
this seems to always fail:
https://github.com/apache/pulsar/blob/794aa20d9f2a4e668cc36465362d22e042e6e536/pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleFactory.java#L160-L172

this logic looks risky:
https://github.com/apache/pulsar/blob/794aa20d9f2a4e668cc36465362d22e042e6e536/pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleFactory.java#L330

[2021-08-11 07:40] Zhen-hao commented on #11631
found the solution I need. https://pulsar.apache.org/docs/en/schema-manage/#adjust-compatibility

I will make a PR to make the error message a bit easier to read when I find the time.

[2021-08-11 07:44] lhotari commented on #11637
It looks like a problem that just gets logged. The problem seems to be that `NotificationType.ChildrenChanged` isn't handled in [`NamespaceBundleFactory.handleMetadataStoreNotification`](https://github.com/apache/pulsar/blob/794aa20d9f2a4e668cc36465362d22e042e6e536/pulsar-broker/src/main/java/org/apache/pulsar/common/naming/NamespaceBundleFactory.java#L160-L172).

[2021-08-11 07:47] eolivelli commented on #11637
I see.
let's fix it

[2021-08-11 09:49] hangc0276 commented on #11282
@littleorca I am a litter confused for the NPE in `cursor.readOperationCompleted()`, would you please provide the stack of the NPE?

[2021-08-11 10:02] Anonymitaet commented on #11291
@sijia-w

#1
I think we can not remove the content in `administration-dashborad.md` because other `.md` files (old version doc) might reference some content in `administration-dashborad.md`. Besides, there is a note in `administration-dashborad.md` which already reminds and guides users to the right place.
![image](https://user-images.githubusercontent.com/50226895/129009875-b9a9b18d-237f-41ae-baa

[2021-08-11 11:25] amitkaushal16 opened #11639 "Reduction in Broker TPS on 2.8 Pulsar build"
Hi All,
###
We have observed a reduction in Broker TPS on 2.8 builds compares to 2.6 build against the same test.

<meta charset="utf-8"><b style="font-weight:normal;" id="docs-internal-guid-a498c25e-7fff-ac42-d9be-e9d1ad5d84ef"><h1 dir="ltr" style="line-height:1.38;margin-top:24pt;margin-bottom:6pt;"><span style="font-size:23pt;font-family:Arial;color:#000000;background-color:transparent;font-wei

[2021-08-11 11:51] #11338 closed

[2021-08-11 13:16] dmcarver commented on #11288
I've been attempting o do some troubleshooting on this, and it seems that batched messages do not have the schema version set. Thus the logic in `org.apache.pulsar.client.impl.MessageImpl` to load the schema and deserialize fails. Specifically `getSchemaVersion()` returns null.

The schema itself does appear to be present; if I print it out in `receiveIndividualMessagesFromBatch()` from `org.apach

[2021-08-11 13:44] eolivelli commented on #11288
@congbobo184 @gaoran10 can you please take a look ?

[2021-08-11 19:36] jmhublar commented on #11070
Yeah, this is not working at all.

[2021-08-12 01:21] gaoran10 commented on #11576
Could you provide more details? Such as how to reproduce this issue, which Pulsar version.

I'll try to use Avro and KeyValue schema to reproduce this issue.

[2021-08-12 02:46] littleorca commented on #11282
Try this test case:

[code]

[2021-08-12 04:08] eaba commented on #11576
The unit test here could help you to reproduce the error if you can give it a try https://github.com/eaba/SharpPulsar/blob/dev/Tests/SharpPulsar.Test.SQL/SqlTests.cs

[2021-08-12 04:09] eaba commented on #11576
Pulsar 2.8.0

[2021-08-12 04:10] gaozhangmin commented on #11320
I think bookkeeper version matters,  I am using bookkeeper-4.14.1

[2021-08-12 05:04] Jennifer88huang commented on #11291
@Anonymitaet agree.
The current Pulsar dashboard is not displayed on Pulsar website; yet if you search, you can find it.

[2021-08-12 07:19] gaoran10 commented on #11576
I think the root cause is the message metadata is lake of schemaVersion property. You could change the message serialization method to add schema version in message metadata.

[2021-08-12 08:39] naveenkusakula opened #11646 "[Pulsar Java client] Not able to load "deadLetterPolicy" using loadConf(Map<String,Object> config) in ConsumerBuilder."
Not able to load "deadLetterPolicy" when using loadConf(Map<String,Object> config) and not able to loadConf(Map<String,Object> config), after deadLetterPolicy() is called in ConsumerBuilder<T>.

**Steps to Reporoduce:**

1.

[code]

2.
[code]

**Expected behavior**
Should load config using loadConf(Map<String,Object> config) in consumerBuilder<T> with deadLetterPolicy.

**Errors**

[code]

**Deskt

[2021-08-12 09:03] BewareMyPower commented on #11632
LGTM, here're my comments.

Great. Currently there're a lot of compile warnings and it would be better to eliminate all these warnings.

It would be helpful for Boost incompatibilities. But I just have one concern. Since some methods of newer Boost might not be available for older Boost, it's easy to break the Boost incompatibility even after you fixed the incompatibility. But I don't think it's g

[2021-08-12 09:05] BewareMyPower commented on #11549
It's fixed by #11575

[2021-08-12 09:33] eolivelli commented on #11646
Unfortunately there are some other configuration options that are not configurable via loadConf, for instance Authentication in the PulsarClientBuilder.

I would like to see a consistent way of configuring the client, the consumer and the producer using a Map

[2021-08-12 09:37] naveenkusakula commented on #11646
I loaded deadLetterPolicy() using normal builder and than loadConfi() without deadLetterPolicy still not able to load configuration like I mentioned in option 2.

[2021-08-12 10:32] BewareMyPower commented on #11635
I also found this problem recently. It's flaky but the cause is hard to know currently. Maybe a temporary solution is adding the retry logic for `python pulsar_test.py`? I'm not sure if it's easy to do that. In addition, I found test-logs.zip only contains gtest logs (C++ tests) and broker's logs (unfortunately `immediateFlush` is false by default). Python test logs can only be found in the CI wor

[2021-08-12 10:45] abhilashmandaliya opened #11647 "Inconsistency in backlog quota configuration"
**Describe the bug**
A backlog quota in the broker is configured differently from the broker's configuration file than the admin CLI. A configuration file accepts the limit in GB only as [backlogQuotaDefaultLimitGB](https://github.com/apache/pulsar/blob/402a88dae680c825b548f10e9aa5eb39d12b932b/pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java#L342) param whereas

[2021-08-12 11:40] eolivelli commented on #11070
@hangc0276 I believe that we should fix this problem before cutting 2.8.1

[2021-08-12 12:18] HistoryGift commented on #5099
I have meet the same problem with python script example, but it's ok with java script
someone say it's because of downloadDIrectory in functions_worker.yaml has no execute permission.
I "chmod 777 -R xxx/xxxx" ,it does not work

[2021-08-12 12:50] Technoboy- opened #11649 "[Broker Interceptor] Pulsar didn't respond error messages when throw InterceptException"
**Describe the bug**
Cluster didn't respond error messages when hitting the resource limit

**To Reproduce**
Set the limit of number of tenants to 4, create a new tenant when there're already 4 tenants.

**Expected behavior**
Respond valid error messages.

**Screenshots**

**Additional context**
Add any other context about the problem here.

[2021-08-12 14:00] eolivelli commented on #11070
the NPE is here
https://github.com/apache/zookeeper/blob/00071dd3532f47c16e0973cc5af03cccec7ba9ab/zookeeper-server/src/main/java/org/apache/zookeeper/server/NettyServerCnxnFactory.java#L258

probably:
- there is another error in the logs
- the server is taking much time to come up

[2021-08-12 14:15] hangc0276 commented on #11070
Thanks for @eolivelli 's help, from the exception stack, i looks like something wrong in zookeeper or the helm chart. Would you please paste detail logs of zookeeper? @andrekramer1 @jmhublar @mnit016

[2021-08-12 14:24] eolivelli commented on #11070
which helm chart are you using ?

the "official" Apache Pulsar Helm chart was never updated to Pulsar 2.8.0
see this PR that has not been merged
https://github.com/apache/pulsar-helm-chart/pull/130

[2021-08-12 14:31] eolivelli commented on #11070
I am testing it now with my helm chart....stay tuned

[2021-08-12 14:53] srouthu1 opened #11652 "deadLetterPolicy is not working with key shared subscription"
#### Expected behavior

I have created consumer with the following code.
Consumer consumer = client.newConsumer()
                .topic("persistent://mytenant/myns/mytopic")
                .subscriptionName(userName+"-default")
                 .subscriptionType(SubscriptionType.Key_Shared).keySharedPolicy(KeySharedPolicy.autoSplitHashRange())
                .receiverQueueSize(10)

[2021-08-12 17:38] eaba commented on #11576
@gaoran10 thanks. Null schemaversion was the problem. I have it fixed now.

Thanks a lot!!

[2021-08-12 17:38] #11576 closed

[2021-08-12 20:30] sijia-w commented on #11380
@Jennifer88huang I checked this page https://pulsar.apache.org/docs/en/cookbooks-retention-expiry/#clear-backlog and the `N/A`s seem to be empty returned messages. If they are not, I will update my changes accordingly.

[2021-08-12 20:31] acjohnson opened #11654 "[Functions worker] Topic has an existing exclusive producer - self-deadlock issue on Pulsar 2.8.0"
**Describe the bug**
After upgrading to Official Apache Pulsar 2.8.0 docker image we are now seeing a flood of messages like this:
[code]
When this happens we are unable to deploy functions without restarting the function workers/broker nodes

**To Reproduce**
[code]

Load it up with a bunch of go functions on 3 x i3.xlarge instances and watch the exclusive producers messages flood your screen

**

[2021-08-13 01:18] Sunny-Island commented on #11561
This issue can be closed.
https://github.com/apache/pulsar/pull/11600

[2021-08-13 02:15] gaoran10 commented on #11576
Maybe you could refer to Java client logic, the producer will register schema before producing messages to make sure the schema saved in BookKeeper, the register schema command will return a schema version, refer to https://github.com/apache/pulsar/blob/v2.8.0/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java#L609. There is an especial logic that the bytes schema will not

[2021-08-13 06:29] hangc0276 commented on #11282
OK, thanks for your feedback, I will deep into it. @littleorca

[2021-08-13 07:09] eolivelli opened #11659 "Jetty is flagged with CVE-2021-34429"
**Describe the bug**
Jetty is flagged with this security report, that AKAIK does not impact significantly Pulsar

https://nvd.nist.gov/vuln/detail/CVE-2021-34429

We should upgrade to latest Jetty