[2020-02-03 23:34] devinbost commented on #6198
This issue seems to not occur after increasing the timeouts (e.g. doubling the retryCount and initSleepTimeInMillis for retryStrategically) when running them under stress. I pushed this change to my fork to see if it resolves the issue when running from Github CI.

The problem with the current approach to these tests is that there is a race condition between checking the status from the Admin API

[2020-02-03 23:36] devinbost commented on #6198
The other issue with blocking on the receive operation is that we'd need receiving to be synchronous with sending, which would impact Pulsar's performance unless there's a way to do so that I'm not considering.

[2020-02-03 23:48] devinbost commented on #6198
When looking at the approach used in SimpleProducerConsumerTest.testAsyncProducerAndAsyncAck(..), that approach looks like this:

[code]

If we wait for the futures to complete like that, does that really guarantee that the publish was **fully** completed? (i.e. When `future.get();` is done blocking, does that guarantee that the message can be received/consumed?) If so, then this approach could be

[2020-02-04 00:17] tuteng commented on #6046
This has been solved #6051

[2020-02-04 00:17] #6046 closed

[2020-02-04 00:21] tuteng commented on #4175
Resolved #6031

[2020-02-04 00:21] #4175 closed

[2020-02-04 02:05] devinbost opened #6204 "[Go Function API] Need automated integration test to verify Go functions behave properly"
We need to ensure that Go Functions behave properly when run from the Pulsar FunctionManager and other classes responsible for controlling Go Function instances.

[2020-02-04 02:06] k2la commented on #6168
@codelipenghui I think your idea is good.
@jiazhai I will fix this based on #3118.

[2020-02-04 02:09] devinbost opened #6205 "[Go Function API] Need Prometheus support and statistics for Go functions"
Go Functions API currently does not support Prometheus metrics. Because Pulsar is using Prometheus for providing statistics and related information, Go functions are also missing this crucial information. The missing statistics and Prometheus support are preventing Go functions from being production-ready. This feature must be added to make Go functions more production-ready and to provide visibil

[2020-02-04 02:29] Anonymitaet opened #6206 "[Doc] Add explanations for acknowledgement"
![image](https://user-images.githubusercontent.com/50226895/73708338-0f158d00-4739-11ea-9138-12f370c356aa.png)

[2020-02-04 02:32] devinbost opened #6207 "[Github Action] java.lang.NullPointerException and Docker disk space issue when running tests"
We're getting this test failure from the Github Action Standalone test:

[code]

Here's the stacktrace of the issue:

[code]

We're also getting the same issue with these tests:

[code]
The stack traces appear almost identical.

This issue seems similar to this resolved issue: https://github.com/apache/pulsar/pull/5977

I have also attached the log archives from the first three failing tests. (I d

[2020-02-04 02:58] devinbost commented on #6207
I found this in `.github/workflows/ci-integration-backwards-compatibility.yaml`

[code]
It seems like this block might not be getting run because otherwise, it's very odd that there wouldn't be enough disk space available.

Perhaps `steps.docs.outputs.changed_only` is not evaluating to `no`?
Where is this value set?

@tuteng @sijie Anyone know?

[2020-02-04 03:08] yjshen opened #6208 "[Client][Reader API] Bypass broker when reading a segment in BookKeeper"
When we are using the reader API, one of the optimizations we could achieve is bypass broker when the segment exists in BookKeeper. Therefore, the preferred workflow should be:

1. check the startingPosition to see if it is pointing to a finished ledger on the bookies, if so, read it from bookies directly.
1. for the in-progress ledger in a broker, read procedure should be identical to the current

[2020-02-04 03:21] codelipenghui commented on #6157
@youurayy Sorry, Maybe I haven't get your point. The ack period is control by users, every 10 messages or 20 messages, and consumer enabled group acknowledge by default(default is 100 mills).  If want a smaller ack period, decrease the group acknowledge interval and increase cumulative acknowledge frequency.

[2020-02-04 03:44] codelipenghui commented on #6195
@KannarFr I'll take a look, from your repo, client version is 2.5.0 right?

[2020-02-04 04:06] wolfstudy commented on #2939
The issue has been fixed in #5936

[2020-02-04 04:06] #2939 closed

[2020-02-04 04:37] sijie commented on #6207
` if: steps.docs.outputs.changed_only == 'no'` this block is used for skipping tests if a pull request is a documentation-only change. it is evaluated by this action: https://github.com/apache/pulsar/blob/master/.github/workflows/ci-integration-backwards-compatibility.yaml#L40

All the tests in that workflow are using same condition. So either all the checks run or they don't run.

[2020-02-04 07:38] snowcrumble commented on #6123
Hi, I have tried to set broker configuration as below:
[code]
But the situation has not improved, first my situation is on connecting moment, so it's nothing to do with keep-alive, then I found it finally cost about 1 min on cpp code `async_resolve`, it had no logs within `Created connection for ...` and `Failed to establish connection: No route to host`.
May it be improved to add a timeout on `as

[2020-02-04 08:23] tuteng commented on #5720
It seems too heavy to implement such fine-grained permission management in pulsar. I think it can be implemented in an external system, such as pulsar-manager https://github.com/apache/pulsar-manager. This external service can be used to proxy all http requests and complete all permission management. I have considered the above fine-grained authorization management before. This is the PIP of pulsa

[2020-02-04 09:27] Geal commented on #5720
How heavy would it be? From what I see, that would mean:
- adding the various methods to `AuthorizationProvider`, with the basic implementation calling `isSuperUser` under the hood
- going through the admin API and adapt the levels. I see 12 calls for `validateAdminAccessForTenant` and 17 calls for `validateSuperUserAccess` (outside of tests). It's largely doable
I could probably get the same feat

[2020-02-04 09:29] jiazhai commented on #6205
Thanks @devinbost for open this issue. This would be a good issue for beginner. mark it as help-wanted. Contributing to this issue is very welcome and very appreciated.

[2020-02-04 09:32] Anonymitaet commented on #6206
Done in https://github.com/apache/pulsar/pull/6212

[2020-02-04 09:46] sbourkeostk commented on #5518
@srkukarni, you got me thinking. How about reusing `customRuntimeOptions`? Eg: 3a2b312c4ded8cd78ca61e3877add394f01b8fe4.
Then setting custom-runtime-options to `{"PythonInterpreter": "python3"}` or even `{"PythonInterpreter": "/opt/python-3.6.5/bin/python3"}` would set the interpreter. The reason for using json is to maintain compatibility with `KubernetesManifestCustomizer` which I think is the o

[2020-02-04 10:13] KannarFr commented on #6195
Yes it is.

Le mar. 4 févr. 2020 à 04:44, lipenghui <notifications@github.com> a écrit :

[2020-02-04 11:09] crazylab opened #6213 "[Client] JSONSchema not able to encode message in case class (scala)"
Client Library version: 2.5.0

**Describe the bug**
The producer is not able to produce JSON data with the content of the case class. Only empty values are getting passed to the broker. This is primarily because the JSON encoder not able to encode the message properly.

**Code snippet**
[code]

**Expected behavior**
Should encode the data available in case class and send it to the broker for the p

[2020-02-04 11:12] youurayy commented on #6157
@codelipenghui please try to run the above example code (for a longer time, e.g. 1 minute), and tell me why the messages are *not* getting acknowledged.

If you let the example running, the number of messages that **fail to acknowledge** _increases_.

When a cumulative acknowledgement request is issue (by `consumer.acknowledgeCumulativeAsync(messageId)`), **all** previous messages must be acknowle

[2020-02-04 11:15] KannarFr commented on #6195
No stacktrace.

[2020-02-04 11:21] fantapsody commented on #6173
The error can be reproduced if the topic is empty, as described by @KannarFr , as it will try to read the next message which is not there, and a scheduled timeout will kick in after ten seconds and complete the compaction with a TimeoutException:
https://github.com/apache/pulsar/blob/13d8ecd20a3c6795405fbf5946c1907e9c90dd91/pulsar-broker/src/main/java/org/apache/pulsar/compaction/TwoPhaseCompactor

[2020-02-04 12:50] Anonymitaet commented on #6186
Fixed in https://github.com/apache/pulsar/pull/6214

[2020-02-04 13:24] SaturnIC opened #6215 "[Python Function] localrun deployment cannot store state"
**Updated description**
When deploying a localrun python pulsar function i can never store any state successfully over the context object in the pulsar function. After i store some key, value using context.put_state(key=key, value=value) the context.get_state(...) method always returns None!

If i deploy the same function using "create" instead of "localrun"
the storage of state works fine.

**To

[2020-02-04 14:21] SaturnIC commented on #6215
I updated the issue description because i noticed after some experimentation that the problem seems to rest solely in the "localrun" deployment, if i deploy using "create" instead, everything works fine.

I also notice that i cannot use the pulsar-admin cli in localrun deployment of the function to list or inspect the created function.

[2020-02-04 17:03] SaturnIC commented on #6215
I found the solution, the problem was indeed the --broker-service-url flag.
I found the solution looking at the pulsar logs during function creation when using "create":
**--state_storage_serviceurl bk://127.0.0.1:4181**

There is no example or hint about this issue anywhere in the documentary so i suggest
to add this information too the documentary.

It is no bug.

[2020-02-04 17:39] #6206 closed

[2020-02-04 17:49] #6186 closed

[2020-02-04 17:51] sijie commented on #6215
@SaturnIC thank you! we will update the documentation part.

[2020-02-04 19:49] devinbost commented on #6205
@jiazhai This issue is fixed with PR #6105

[2020-02-04 20:42] sijie commented on #5720
@jiazhai @tuteng

I think the issue is asking for interfaces to be added to AuthorizationProvider. The default implementation can remain the same. The interfaces allow external parties to customize their own authorization implementation.

The authorization provider can be enhanced into an extensible interface. What an authorization provider provides is if a `role` is able to apply a `verb`/`action

[2020-02-04 21:44] klevy-toast commented on #5395
We would like to implement this. It looks like it can be done with configs similar to how deduplication can be enabled on a namespace basis: https://pulsar.apache.org/docs/en/pulsar-admin/#namespace-set-deduplication. Would there be any objections to doing this?

[2020-02-04 22:32] devinbost commented on #6205
BTW, @jiazhai the change turned out to be a lot more complex than anticipated because the Prometheus developers changed the way their framework can be used in the Go client library.
So, it wasn't a clean copy of the Python/Java approaches we took for adding statistics and Prometheus data. I needed to take an entirely different approach, based on the guidance from the Prometheus maintainers.
There'

[2020-02-05 01:50] EugenDueck commented on #6173
@fantapsody

I've now stripped this down to a self-contained example and have updated the instructions to reproduce the problem. I can reliably replicate it using above snippet.

I've checked that the contents of neither key nor value are a problem, by using a single, hard-coded value for each. So when sending thousands of identical messages with the same key and value at low throughput (500 msg/s

[2020-02-05 02:04] KelvinSajere opened #6220 "Python Client for Windows"
**Is your feature request related to a problem? Please describe.**
The Python client library is not supported for windows

[code]

**Describe the solution you'd like**
Build python client supported for windows

[2020-02-05 02:32] devinbost opened #6224 "Possible race condition: ReaderTest.testReadMessageWithBatchingWithMessageInclusive:148 expected [true] but found [false]"
**Describe the bug**
I'm able to reproduce this issue locally but not consistently. It doesn't seem to behave like the other flaky tests that occur only in Github CI due to timeouts.
I think there might be a race condition because `reader.hasMessageAvailable()` is evaluating to false when it should be true.

**To Reproduce**
Run the test several times.

[2020-02-05 02:35] devinbost commented on #6224
When the test passes, this call in ConsumerImpl.hasMessageAvailable():
`hasMoreMessages(lastMessageIdInBroker, lastDequeuedMessage)`
evaluates to true.
When the test fails, that call evaluates to false.

[2020-02-05 02:36] devinbost commented on #6224
The values of lastDequeuedMessage are the same between passing vs failing tests.
The values of MessageId.latest are also the same between passing vs failing tests.
![image](https://user-images.githubusercontent.com/7418031/73806056-aa345400-4785-11ea-9f06-f3ff4074cc87.png)

[2020-02-05 02:38] devinbost commented on #6224
So, the behavior must be different in `ConsumerImpl.hasMoreMessages(..)` between the execution of passing vs failing tests.

[2020-02-05 02:40] devinbost commented on #6224
In a passing test, in:

[code]
incomingMessages.size() has the expected value, and
lastMessageIdInBroker.compareTo(lastDequeuedMessage) == 0
evaluates to true.

[2020-02-05 02:45] devinbost commented on #6224
In the failing test, `incomingMessages.size()` in `hasMoreMessages(..)` evaluates to 0 instead of the expected value.

[2020-02-05 04:28] codelipenghui commented on #6157
@youurayy
I have run your above example code before, but all stats looks right. The msgBacklog between 15 to 30(I have check the stats and internal-stats many times). This corresponds to your sample code.

From your code:
1. For every 15 messages, the first message is acked.
2. Until next 15 ack happens, need more 15 messages.

So the backlog is between 15 to 30 right? If you ack the last message

[2020-02-05 08:01] zymap commented on #5555
Hi @stevenarvar, Does this issue still can reproduce in your environment? If it does, could you please write some steps about how to help me to reproduce this problem?
And is there any error log in the broker?

[2020-02-05 08:46] zplinuxlover opened #6228 "zookeeper connection cause resource leak"
in class `ZookeeperBkClientFactoryImpl`,  the `create` method

[code]

although this code can not reach, but pulsar should handle 'zookeeper.close' for this code

[2020-02-05 09:40] Lanayx commented on #6154
@jiazhai
I've made one more experiment - left bare cluster without any load for several days and it looked healthy aftewards. Then I've connected bunch of consumers and producers (without sending any data) and it started failing. From what I saw, one of bookeeper pods was failing for short period of time during deploy (looks like due to pods rebalancing) and then it started working normally. Howev

[2020-02-05 10:04] tiwansh commented on #5846
Any updates on when pulsar client will be supported on python3.8 ?

[2020-02-05 10:30] tuteng opened #6229 "Broker health check throws exception badversion"
More detail information https://github.com/apache/pulsar-manager/issues/259

**Describe the bug**
An exception is thrown only the first time.

[2020-02-05 15:38] stevenarvar commented on #5555
The steps I used came out of my experiment with geo replication:
1.) pulsar-admin clusters create ...
2.) pulsar-admin tenants update ... --allowed-clusters a b
3.) pulsar-admin namespaces set-clusters ... --clusters a b
Above steps are done on both cluster a and b
4.) Send traffic to topic x
5.) Unsubscribe from topic x
6.) Delete topic x's namespace
7.) Convert topic x to a partitioned topic
8.)

[2020-02-05 16:04] fantapsody commented on #6173
Thanks for all the details @EugenDueck provided, I can reliably reproduce the problem as described now. I found a few problems for log compaction here:
1. Fail for empty topics. This can be fixed by an additional check before compaction.
2. Unable to finish the compaction if the value of the last message is empty when the compaction is triggered. This can be fixed by adding the missing check in th

[2020-02-05 16:08] KannarFr commented on #6173
Another point, the log compaction is run on event, like foreach 100MB of data, right? Can it be on the fly, like foreach message received on the topic, it's added to the compacted topic too?

[2020-02-05 17:04] sijie commented on #6173
@KannarFr : Currently it doesn't support compacting events on the fly. Its is an interesting feature request to consider although it is probably for a separate discussion for the features and improvements that we need to add to compaction.

[2020-02-05 17:08] KannarFr commented on #6173
@sijie You are right, I will write an issue.

[2020-02-05 17:10] KannarFr opened #6230 "On the fly topic compaction"
**Is your feature request related to a problem? Please describe.**
Topic compaction is waiting for defined policies to autorun or manual trigger.

**Describe the solution you'd like**
An on the fly wait to directly add to compacted topic the incoming messages.

[2020-02-05 17:37] sijie commented on #6173
(loop @codelipenghui in this thread since he has good experiences on dealing with permits related issues on production)

@fantapsody

regarding the 3) question you posted in https://github.com/apache/pulsar/issues/6173#issuecomment-582480075, it does look like a flow-control problem.

I think the main problem is here: https://github.com/apache/pulsar/blob/402ecec9c3731711fd1bf700c30d09678aa9b1e5/p

[2020-02-05 19:12] devinbost opened #6231 "Intermittent Maven build errors - Could not resolve dependencies"
We're occasionally getting build errors that look like this:

```[ERROR] Failed to execute goal on project buildtools: Could not resolve dependencies for project org.apache.pulsar:buildtools:jar:2.6.0-SNAPSHOT: Could not transfer artifact org.apache-extras.beanshell:bsh:jar:2.0b6 from/to central (https://repo.maven.apache.org/maven2): Transfer failed for https://repo.maven.apache.org/maven2/org/ap

[2020-02-05 19:20] devinbost opened #6232 "Flaky-test - PulsarBoltTest failed to initialize producer"
This exception occurs occasionally during builds. Here's one of the places it appeared: https://github.com/apache/pulsar/pull/6202/checks?check_run_id=428130764

[code]
This results in a test failure that looks like this:

[code]

I've attached the log archive.
[logs_13139.zip](https://github.com/apache/pulsar/files/4161589/logs_13139.zip)

[2020-02-05 20:40] devinbost commented on #6231
I wasn't sure if this should have been labeled as a bug or not since it's just showing up in the build tests.

[2020-02-05 20:42] aahmed-se commented on #6231
@devinbost wha's your maven version ?

[2020-02-05 20:46] devinbost commented on #6231
[code]

[2020-02-05 20:46] devinbost commented on #6231
@aahmed-se

[2020-02-05 20:47] devinbost commented on #6232
I also wasn't sure if this should be labeled as a bug since it's just in tests.

[2020-02-05 20:50] aahmed-se commented on #6231
Try with should be using 3.6.1, believe versions after that have issues

[2020-02-05 20:55] devinbost commented on #6231
@aahmed-se Thanks for the information. This was also happening in Github CI though. Is there a place where the Maven version is set for building the project in the Github CI Actions?

[2020-02-05 20:56] aahmed-se commented on #6231
where is github ci do you see this ?

[2020-02-05 22:09] devinbost commented on #6231
@aahmed-se Here's one example: https://github.com/apache/pulsar/pull/6202/checks?check_run_id=428218118

[2020-02-05 22:17] aahmed-se commented on #6231
Here is the example for setting up maven to a specific vesion
https://github.com/apache/pulsar/blob/4a2bceb35f83a11d037845731642cf0cc667809f/.github/workflows/ci-license.yaml#L37

The error in your link is not related that's just a repo timeout.

[2020-02-06 01:27] tuteng opened #6234 "Add support for old version document of pulsar-admin"
**Is your feature request related to a problem? Please describe.**
The current pulsar-admin cli document can be generated automatically. For the latest version, you can view it here http://pulsar.apache.org/tools/pulsar-admin/2.6.0-SNAPSHOT. We need to add support for the old version.

[2020-02-06 01:28] aahmed-se commented on #5846
I did some work, I will try to update the build images and get it running . Should have the pr sent out next week.

[2020-02-06 02:14] Anonymitaet commented on #6100
This issue has been fixed.

[2020-02-06 02:14] #6100 closed

[2020-02-06 02:52] EugenDueck commented on #6230
Real-time compaction would be great, because then the client don't need to receive and discard not yet compacted messages with identical keys.

We have a use case where the throughput for a single key can at times be as high as hundreds of messages per second.

[2020-02-06 03:36] codelipenghui commented on #6157
@youurayy You are welcome. Feel free to start the discussion again if you find any behaviors in pulsar are not match your requirement.

[2020-02-06 08:36] hari819 opened #6236 "SSL/TLS Configuration for Zookeeper,BookKeeper and Pulsar"
hello ,

i want to add ssl/tls configuration to zookeeper using the zookeeper.conf , so first step is modify the the args in the statefulset.yaml file by deleting ` bin/generate-zookeeper-config.sh conf/zookeeper.conf &&
              cat conf/zookeeper.conf &&` from the image ,

`args:     - >
              bin/wait-for-all-dns.sh &&
              bin/wait-for-my-dns.sh &&
              bin/apply

[2020-02-06 09:53] yfathi opened #6238 "Pulsar Functions not working with LocalRunner (2.5.0)"
**Describe the bug**
Pulsar Function are not working with LocalRunner
**To Reproduce**
Steps to reproduce the behavior:
1. Create a Function
--------------------------------------------
[code]
---------------------------------------------
2. Create a LocalRunner
---------------------------------------------
[code]
3. Start a Local Pulsar Instance Or Configure Local Runner to Connect to your Pusar

[2020-02-06 09:55] #6238 closed

[2020-02-06 09:56] yfathi opened #6239 "Pulsar Functions not working in LocalRunner (2.5.0)"
**Describe the bug**
Pulsar Function are not working with LocalRunner
**To Reproduce**
Steps to reproduce the behavior:
1. Create a Function
--------------------------------------------
[code]
---------------------------------------------
2. Create a LocalRunner
---------------------------------------------
[code]
3. Start a Local Pulsar Instance Or Configure Local Runner to Connect to your Pusar

[2020-02-06 11:40] nareshgbhat commented on #6093
@sijie Any update ? not sure you guys are on vacation ?

[2020-02-06 12:33] Anonymitaet opened #6242 "[Doc] Add a tip for testng in function debug"
![image](https://user-images.githubusercontent.com/50226895/73936277-696f4300-491d-11ea-9a66-a682bf373e46.png)

[2020-02-06 12:41] Anonymitaet opened #6243 "[Doc] Add explanations for function can output one or multiple results"
https://streaml.io/blog/eda-event-processing-design-patterns-with-pulsar-functions

![image](https://user-images.githubusercontent.com/50226895/73937852-eea82700-4920-11ea-8df5-0bf205aed4bd.png)

[2020-02-06 12:48] Anonymitaet commented on #6177
Fixed in https://github.com/apache/pulsar/pull/6244

[2020-02-06 19:52] slominskir opened #6248 "Shutdown Standalone Gracefully"
A standalone Pulsar daemon server often throws various Exceptions when a shutdown is requested.

This does not inspire confidence in the product.  Can I trust this product in production?  If the developers couldn't get a clean shutdown on an idle server, what are the chances this beast works reliably with tons of messages going in and out?   And if the developers couldn't figure it out in the base

[2020-02-06 19:52] devinbost opened #6249 "Unexpected Github CI Action"
I got this error while executing a Github CI Action:

    ### ERRORED 19:24:20Z

    - An unexpected error occurred when executing this Action. Please submit a new support request using our Support website:

    https://support.github.com/contact

    Please include this unique ID in your request: D3DB:0CCA:1ED5DD:317EC0:5E3C67C0

The screenshot is below:

![image](https://user-images.githubuserco

[2020-02-06 19:57] devinbost commented on #6249
I was given Ticket ID: 552444

[2020-02-06 22:20] devinbost opened #6250 "Need to speed up tests"
The Pulsar integration tests take very long to run, and as new features are added, this runtime continues to get longer. The tests take so long to run that it impacts the iteration rate for developers who are attempting to add features and fix bugs. As a consequence, it demotivates developers to ensure that all the tests are behaving as they should, and it decreases developer motivation to work on

[2020-02-06 23:28] #5037 closed

[2020-02-06 23:29] #6177 closed

[2020-02-06 23:42] devinbost opened #6251 "Make metadata management more robust"
When the Zookeeper cluster is under heavy load or when Zookeeper is using poorly optimized hardware, Pulsar metadata can get out of sync and end up in a bad state.
We need to ensure that additional robustness is added to the Pulsar Brokers' interactions with Zookeeper to ensure that corrupt metadata can be identified and corrected quickly.

[2020-02-07 01:13] jiazhai commented on #6251
I think @codelipenghui is working on a similar issue.

[2020-02-07 01:19] jiazhai commented on #6248
@slominskir Thanks for this issue.  Since it is reproduce able, would like to mark it as help wanted.

[2020-02-07 01:23] jiazhai commented on #6236
@hari819  Seems it missing file `conf/pulsar_env.sh`. Please check in your env.

[2020-02-07 01:24] jiazhai commented on #6234
Thanks @tuteng for working on this issue

[2020-02-07 01:29] jiazhai commented on #6228
Thanks @zplinuxlover for this issue. Would you like to contribute to this?

[2020-02-07 01:37] jiazhai commented on #6135
@hjohannsen @gaborho @pixime , This is a bug and should be fixed in PR #5790
Would you please help verify in the latest release 2.5.0?

[2020-02-07 01:39] jiazhai commented on #6135
Oh, seems @pixime is using 2.5.0. @wolfstudy Would you please help check if there is any missing fix.

[2020-02-07 02:07] jiazhai commented on #6185
ping @pl6306

[2020-02-07 02:13] jiazhai commented on #6168
Great @k2la  thanks for the help.

[2020-02-07 02:23] jiazhai commented on #6171
Would like to close this issue, since it is handled in #6174

[2020-02-07 02:23] #6171 closed

[2020-02-07 02:28] jiazhai commented on #6162
In cpp, it is also handled in the similar way.
for each partitioned-topic, the Total queue size is divided by the number of partitions.
[code]

[2020-02-07 02:29] jiazhai commented on #6162
@pl6306 Since no reply. I would like to close this issue at present. if above suggestion not work for you, please help re-open it.

[2020-02-07 02:29] #6162 closed

[2020-02-07 02:31] jiazhai commented on #6207
Thanks a lot @devinbost for helping on the flaky tests.

[2020-02-07 02:33] jiazhai commented on #6204
Thanks @devinbost for the issue and fix. Thanks @wolfstudy for the review of PR.

[2020-02-07 03:09] devinbost commented on #6231
@aahmed-se How do we fix the repo timeout? I got it again...
`[ERROR] Failed to execute goal net.alchim31.maven:scala-maven-plugin:4.0.1:add-source (default) on project flink: Execution default of goal net.alchim31.maven:scala-maven-plugin:4.0.1:add-source failed: Plugin net.alchim31.maven:scala-maven-plugin:4.0.1 or one of its dependencies could not be resolved: Could not transfer artifact org.ap

[2020-02-07 03:16] jiazhai commented on #6134
@gfexensa  right. This is because bookie/broker using the same  port of 8000 for prometheus.

[2020-02-07 04:07] codelipenghui opened #6252 "Advertised multiple addresses for brokers"
**Is your feature request related to a problem? Please describe.**
If deploy pulsar cluster into a separate k8s cluster, the client needs an external address to connect to the Pulsar cluster. Inside the cluster, also need an internal address. So it's better to advertise multiple addresses for Pulsar brokers.

**Describe the solution you'd like**
It's more like https://cwiki.apache.org/confluence/d

[2020-02-07 04:14] codelipenghui opened #6253 "Acknowledgement for batch message local index"
**Is your feature request related to a problem? Please describe.**
Currently, the managed cursor maintains the acked messages by mark delete position and individual delete messages. All of the mark delete position and individual delete messages are faced to batch messages(ledgerId,entryId). For users, the single message is the publishing and consuming unit. Since the managed cursor can’t maintain

[2020-02-07 04:21] devinbost opened #6254 "(Flaky-Test) Possible race condition - Fix Duplication Tests"
These are intermittent errors that appear to be race conditions or concurrency issues, rather than issues with just the tests:

[code]

They may reflect intermittent issues that are happening in production.

They can be seen here: https://github.com/apache/pulsar/pull/6202/checks?check_run_id=431093396

I've attached the logs.

[logs_14078.zip](https://github.com/apache/pulsar/files/4168962/logs_1

[2020-02-07 04:22] codelipenghui opened #6255 "Client flow permits calibration"
**Is your feature request related to a problem? Please describe.**
We have met a lot of problems related to consumption stuck. Most of the reasons related to permits sync from broker and client. So it's necessary to introduce a mechanism for clients and brokers permits calibration when consumption stuck.

This is a tracker to track this feature.

[2020-02-07 04:22] devinbost opened #6256 "(Flaky-Test) Possible race condition - Fix Prometheus Tests"
These are intermittent errors that appear to be race conditions or concurrency issues, rather than issues with just the tests:

[code]

They may reflect intermittent issues that are happening in production.

They can be seen here: https://github.com/apache/pulsar/pull/6202/checks?check_run_id=431093396

I've attached the logs.

[logs_14078.zip](https://github.com/apache/pulsar/files/4168962/logs_1

[2020-02-07 04:29] codelipenghui opened #6257 "Broker Interceptors"
**Is your feature request related to a problem? Please describe.**
Currently, when a client connects to the broker, a new subscribe created only prints logs into the broker log. This is not convenient for doing some audit work at the broker side. So it's better to introduce a new mechanism for easy access to these data.

And we have introduced the namespace change event https://github.com/apache/p

[2020-02-07 04:32] devinbost opened #6258 "[Pulsar-Broker] consistent test failure - Namespace already exists"
I'm now getting this issue consistently when running builds from Github CI, and it's also happening consistently when I run the test locally. The test fails with one of two different exceptions. Either this one:

[code]
or this one:

[code]

I've actually experienced intermittent (random) issues in production that have given the message "Namespace already exists," but we never captured broker logs

[2020-02-07 04:37] codelipenghui opened #6259 "Retry when zookeeper session expired at broker side."
**Is your feature request related to a problem? Please describe.**
Currently, when a broker met Zookeeper session expired event, the broker shutdown itself. When the broker or zookeeper servicer under high load and the session timeout is short, this can easily cause the broker to go down. There are some related issues #6251.

At Apache BookKeeper, when met Zookeeper session expired event, the book

[2020-02-07 05:29] merlimat commented on #6259
For pulsar broker the issue is slightly more complicated since there’s the concept of ownership of topics. Also we need to make sure to sync back all the metadata versions to account for failure of request during the session expired period.

[2020-02-07 05:31] #5579 closed

[2020-02-07 05:39] tuteng commented on #6234
This is merged #6240

[2020-02-07 05:39] #6234 closed

[2020-02-07 05:56] hari819 commented on #6236
thanks @jiazhai @sijie  , i could get rid of that error now .
if i have to add some jvm arguments to zookeeper.conf like ,
`-Dzookeeper.serverCnxnFactory=org.apache.zookeeper.server.NettyServerCnxnFactory
-Dzookeeper.ssl.keyStore.location=/root/zookeeper/ssl/testKeyStore.jks
-Dzookeeper.ssl.keyStore.password=testpass
-Dzookeeper.ssl.trustStore.location=/root/zookeeper/ssl/testTrustStore.jks
-Dzook

[2020-02-07 06:56] codelipenghui commented on #6259
Yes, thanks for reminding me.  I will try to achieve it. If I encounter problems, I will ask here.

[2020-02-07 06:59] gfexensa commented on #6134
The broker use a different port 8000 to expose its metrics than bookkeeper (8080). Its the bookkeeper httpServerPort which share the same port as the broker prometheus metrics.

it should work if the httpServerPort is modified, but it's not exactly a desirable solution. IMHO, both broker prometheus port and bookkeeper http server port should be different, and eventually allows to specify a differe

[2020-02-07 08:32] feeblefakie opened #6260 "Pulsar-client 2.5.0 throws UnsatisfiedLinkError when snappy is used for compression¥"
**Describe the bug**
UnsatisfiedLinkError is thrown when snappy compression is used.

The actual error:
[code]

The error won't happen if compression is not used or other compression like LZ4 is used.
Also, the error won't happen if `pulsar-perf` that comes with the binary is used with SNAPPY specified.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a producer with pulsar-client 2.5.

[2020-02-07 09:06] Lanayx commented on #6154
So I made a new try and the behavior persisted - the broker can't discover new bookies' adresses (once their ip address changes due to pod rebalancing). Looking at logs - broker can connect to _some_ bookies, but not to _all_ and therefore fails.
![image](https://user-images.githubusercontent.com/3329606/74015534-dcba9880-49a1-11ea-8a26-250eb12bb7f6.png)
For this picture I see the following logs:

[2020-02-07 10:35] fantapsody commented on #3733
There seems to be a few problems in the current implementations of kafka compact clients, I'm not sure if they have been reported:
1. `KafkaConsumer` states its `subscribe` methods are not incremental, which means new subscriptions will replace the old ones. However, implementions in PulsarKafkaConsumer are not, and seem to create dangling consumers if re-subscribe to the same topics.
https://gith

[2020-02-07 13:10] hjohannsen commented on #6135
@jiazhai, thanks for the hint! Sure I can help verify.

Just to make sure I fully understand how it's _supposed_ to work:

**Background**
I was trying to set up Pulsar with EKS, simply following the instructions in ["Deploying Pulsar on Kubernetes"](https://pulsar.apache.org/docs/v1.22.0-incubating/deployment/Kubernetes/).
For that purpose I cloned the Pulsar repo and copied the source files from

[2020-02-07 14:11] andtan91 opened #6264 "Support for deployment with Docker Swarm"
Would be a nice feature to have support and documentation for deploying a cluster with Docker Swarm.

[2020-02-07 16:22] SakaSun commented on #6135
I've experienced the same issue with Helm deployment and applied the same workaround.

[2020-02-07 16:46] devinbost commented on #6231
Here's another one:

`[ERROR] Failed to execute goal org.apache.maven.plugins:maven-surefire-plugin:2.19.1:test (default-test) on project buildtools: Execution default-test of goal org.apache.maven.plugins:maven-surefire-plugin:2.19.1:test failed: Plugin org.apache.maven.plugins:maven-surefire-plugin:2.19.1 or one of its dependencies could not be resolved: Could not transfer artifact org.apache.ma

[2020-02-07 16:58] devinbost commented on #6231
I created an issue with Github Community here: https://github.community/t5/GitHub-Actions/Getting-Maven-quot-Could-not-transfer-artifact-quot-with-500/m-p/45556#M6259

[2020-02-07 18:02] devinbost opened #6266 "(Flaky-test) Failure to build postgres image during tests"
[code]

It's showing up here: https://github.com/apache/pulsar/pull/6202/checks?check_run_id=432265311

[logs_14410.zip](https://github.com/apache/pulsar/files/4172256/logs_14410.zip)

[2020-02-07 18:19] devinbost commented on #6258
When I run this test locally, I'm getting this exception:

[code]
I've attached the test log and the test runner log from reproducing this issue locally:

[test_log.txt](https://github.com/apache/pulsar/files/4172300/test_log.txt)
[test_runner_log.txt](https://github.com/apache/pulsar/files/4172301/test_runner_log.txt)

This issue consistently occurs when I run the test from master, and it's also

[2020-02-07 18:25] devinbost commented on #6258
@sijie FYI.

[2020-02-07 18:47] devinbost opened #6267 "(Flaky-test) BasicEndToEndTest.testLookupThrottling"
This test is failing intermittently in Github CI.

The logs aren't very helpful, but I've attached them anyway.
[logs_14511.zip](https://github.com/apache/pulsar/files/4172416/logs_14511.zip)

[2020-02-07 22:59] fantapsody commented on #3733
It seems several places in `PulsarKafkaConsumer` are affected In order to use `consumerBuilder.topicsPattern(pattern)` for subscription, like messageId/offset management/seeking/commit, consumer management, etc. And maybe we should also reimplement the multi-topic subscription using that provided by the underlying pulsar client? That may simplify the implementation as a whole, but need more work a

[2020-02-07 23:31] devinbost commented on #6251
@codelipenghui In case you want some ideas, I really like the way they handle Zookeeper interactions in Apache Ignite. It's one of the most stable distributed technologies I've ever worked with.

[2020-02-07 23:46] devinbost opened #6268 "(Flaky-test) - no space left on device: Could not build image"
When running the `CI - Integration - Sql` Github CI Action, this error appeared:
[code]

The issue appeared here: https://github.com/apache/pulsar/pull/6202/checks?check_run_id=432618226

Logs are attached.
[logs_14608.zip](https://github.com/apache/pulsar/files/4173390/logs_14608.zip)

[2020-02-07 23:46] devinbost commented on #6268
@tuteng This might be under your radar since you've been working on similar issues lately.

[2020-02-07 23:49] devinbost commented on #6232
Here's another place where this occurred: https://github.com/apache/pulsar/pull/6202/checks?check_run_id=432617829

[2020-02-08 00:38] sijie commented on #3733
@fantapsody

+1

[2020-02-08 00:48] sijie commented on #6258
Namespace already exists usually because tests are re-run. So you might consider improving the test with randomized names.

[2020-02-08 00:50] codelipenghui commented on #6251
@devinbost Thank you very much, I will check it out.

[2020-02-08 00:57] sijie commented on #6236
@hari819 it might be worth adding a separate page about zookeeper security? All the security related documentation are in this directory, prefixed with "security-" https://github.com/apache/pulsar/blob/master/site2/docs

[2020-02-08 01:15] #6131 closed

[2020-02-08 02:11] tuteng commented on #6268
Thanks, I will take a look at. @devinbost

[2020-02-08 03:24] adityav opened #6269 "Segmentation fault when using python client in pyenv environment on OSX Catalina"
**Describe the bug**
Getting a segmentation fault when using pyenv to manage python version. Its works fine when I use the system installed python.
[code]
Python version: 3.7.6
System Python version: 3.7.6. Installed via `brew install python`

libraries installed into pyenv. All of them are dependencies pulled into the venv when installing python client.
[code]

**To Reproduce**
Steps to reproduce

[2020-02-08 07:35] codelipenghui opened #6273 "Deduplication fails when the batch message contains duplicate message and valid message"
**Describe the bug**
This bug was discussed in the slack channel https://apache-pulsar.slack.com/archives/C5ZSVEN4E/p1581119933163000.  The problem occurs when a batch messages contain both duplicate data and valid data. If sequence ID for a message is lower than the broker maintained the highest sequence ID, the batch message which contains this message also considered a duplicate. So that will l

[2020-02-08 08:39] #5927 closed

[2020-02-08 15:30] tuteng opened #6274 "[Flaky test]Integration Pulsar SQL test failed"
**Describe the bug**

Execute command `show schemas pulsar;`

[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]

or

[code]

**Expected behavior**
SQL test pass

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]

**Additional context**
Add any other context about the problem here.

[2020-02-08 16:24] hari819 commented on #6236
@sijie , yes that would be a good idea , but if you have the content already with you could you please provide the same here ,?

thanks,

[2020-02-08 18:51] fernandezpablo85 opened #6276 "publish time non-monotonic on same partition"
**Describe the bug**
Publish time is not monotonic on the same partition.

**To Reproduce**
Steps to reproduce the behavior:
1. Publish events with a __single producer__ to a topic with many partitions, with any partition key.
2. Run a consumer on `key_shared` mode, for example:

[code]
3. See assertion error

**Expected behavior**
No error should be raised since `publish_timestamp` on the same pa

[2020-02-08 19:26] fernandezpablo85 commented on #6276
Note that this also fails when consuming from a single partition, by changing the topic to `$TOPIC_NAME-partition-0` for example

[2020-02-09 23:01] #6274 closed

[2020-02-10 00:33] codelipenghui commented on #4976
close via #5822

[2020-02-10 00:33] #4976 closed

[2020-02-10 00:34] codelipenghui commented on #3828
close via #5822

[2020-02-10 00:34] #3828 closed

[2020-02-10 01:04] tuteng commented on #6268
@devinbost This has been fixed https://github.com/apache/pulsar/pull/6279, can we close it?

[2020-02-10 01:05] KannarFr commented on #6170
Hi @jiazhai and @wolfstudy,

The idea I shared is to pass system env vars to the function using the YAML configuration.

On functions create/update, function worker gets the system env var matching `SYSTEM_ENV1` when `runtimeFlags: -Denv1=${SYSTEM_ENV1}` is defined and replaces it in the injected runtime flags.

WDYT?

[2020-02-10 01:25] tuteng commented on #6266
This has been fixed https://github.com/apache/pulsar/pull/6279, can we close it? @devinbost

[2020-02-10 01:38] #6173 closed

[2020-02-10 02:19] devinbost commented on #6266
@tuteng Yes, I will close this issue. Thanks for letting me know!

[2020-02-10 02:19] #6266 closed

[2020-02-10 05:00] aahmed-se commented on #6264
for testing or production ?

[2020-02-10 05:47] SunDapeng1 commented on #5935
@jiazhai  How is this issue going?

[2020-02-10 08:33] sijie commented on #6236
@hari819 I didn't have the content yet. since you already figured this out, it might be worth it for you to contribute a change. thoughts?

[2020-02-10 08:37] codelipenghui opened #6281 "Expose msg_backlog_non_delayed metric"
**Is your feature request related to a problem? Please describe.**
Currently, metric `msg_backlog` contains delayed messages and un-delayed messages. However, users need the number of non-delayed messages in the backlog,  which can use by too many un-delayed backlogs alerts. So it's better to add `msg_backlog_non_delayed` metric.

Discussion at slack channel: https://apache-pulsar.slack.com/archiv

[2020-02-10 08:43] hari819 commented on #6236
@sijie , i can start but need some info on the below ,

i will start by having the zookeeper.conf outside of the the arguments provided for the "pulsar-all" container

`args:
            - >
              bin/wait-for-all-dns.sh &&
              bin/wait-for-my-dns.sh &&
              bin/apply-config-from-env.py conf/zookeeper.conf &&
              bin/apply-config-from-env.py conf/pulsar_env.sh

[2020-02-10 11:18] codelipenghui commented on #6281
@sijie From the discussion at slack, you have mentioned that `msg_backlog - msg_delayed` can not be reliably used for measuring non-delayed messages. Does this mean we need an accurate way of measuring or just a reminder, we still expose an indicator `msg_backlog_non_delayed` = `msg_backlog - msg_delayed`?

[2020-02-10 12:28] Anonymitaet opened #6282 "[Doc] Update registry doc (client)"
![image](https://user-images.githubusercontent.com/50226895/74149679-4ad1ba80-4c43-11ea-9c89-b1b1c4a3a11e.png)

[2020-02-10 12:46] #4547 closed

[2020-02-10 13:21] KannarFr opened #6283 "[offloaders] Define treshold and deletionMaxLag per ns or use the default one."
**Is your feature request related to a problem? Please describe.**
The OffloadPolices per ns is just merged. But it's missing a point on values to trigger auto offloading: we want to define tresholdMaxBytes and deletionMaxLag per ns or use the default one configured.

**Describe the solution you'd like**
Add  tresholdMaxBytes and deletionMaxLag in OffloadPolices and use them to defines triggers.

[2020-02-10 13:23] KannarFr commented on #6283
I think we should consider adding https://github.com/streamnative/pulsar/issues/221 and https://github.com/streamnative/pulsar/issues/73, they should be done together. WDYT?

[2020-02-10 13:27] KannarFr commented on #6283
So when the offload check thread is passing it will check for "to offload things" and "to remove from offloaded" and do its stuff consequently.

[2020-02-10 14:14] KannarFr commented on #6283
Already done, I missread the commit, it's already done, so just streamnative#221 and streamnative#73 are 'to do".

[2020-02-10 14:18] KannarFr commented on #6283
@gaoran10 you confirm?

[2020-02-10 16:17] gaoran10 commented on #6283
@KannarFr Hi, I think these features are interesting.

[2020-02-10 17:27] sijie commented on #6281
I was thinking of finding a more accurate way to measure this.

[2020-02-10 18:55] andtan91 commented on #6264
What exactly do you mean for testing?
For myself, I'd use the swarm setup for both testing and production environments.

[2020-02-10 20:01] ganeshrajuLinaro commented on #6093
@sijie We could donate an ARM64 hardware for the project to test and help to setup CI running arm. Shall i create a JIRA for that?

[2020-02-10 21:04] merlimat commented on #6093
@ganeshrajuLinaro It's not needed to compile the Java stuff on ARM. You can take the regular Pulsar binary distribution from the download page (or build it from sources on a x86 box).

[2020-02-10 22:28] gmethvin commented on #6281
Thanks @codelipenghui! Specifically, we want the number of messages that are ready to be consumed right now. In other words, we want the number of messages that either were not published with a `deliverAt` time, or have a `deliverAt` time that is on or before the current time.

For alerting purposes it should ideally be accurate within a minute or so. The problem we've seen is the number can often

[2020-02-11 00:25] devinbost commented on #6268
@tuteng Thanks for getting this fixed right away!

[2020-02-11 00:25] #6268 closed

[2020-02-11 00:35] devinbost opened #6288 "Hanging ManagedLedgerBkTest.setUp"
When I try to run any of the ManagedLedgerBkTest instances locally, the tests are hanging on the setUp method.
The log messages are stuck in a loop with messages like this:

If there's a disk space issue (which seems odd because I have 9 GB free), we need a condition to check for that and throw an exception instead of loop infinitely.

I've attached a more complete log here:
[test_log2.txt](https:

[2020-02-11 00:51] devinbost commented on #6288
It appears to be stuck in this loop:

[code]
in `startBookie(..)`

[2020-02-11 00:56] devinbost commented on #6288
Here's the conf value that's getting passed as the first parameter of startBookie(..):

![image](https://user-images.githubusercontent.com/7418031/74203957-975ecb00-4c2e-11ea-8406-84c18b37f5ef.png)

[2020-02-11 00:59] devinbost commented on #6273
@codelipenghui Do you think there could be a relationship between this issue and https://github.com/apache/pulsar/issues/6224
?

[2020-02-11 03:50] snowcrumble opened #6290 "[Proxy]No active broker is available"
**Describe the bug**
My pulsar is running on k8s and our service is using pulsar proxy, I have did some failure testing, I used pulsar-perf tool to continuous pub/sub on a topic at the same time I "force" restart a k8s node, it was affect all the compents such as zk, broker, bookie, proxy. The problem was it reported error message
`ERROR org.apache.pulsar.client.impl.ClientCnx - [id: 0xf9392f24, L

[2020-02-11 04:58] merlimat commented on #6288
Bookie is failing to start up because the disk usage is >95%

[2020-02-11 07:49] vamsi360 commented on #3115
Hi @rohts-patil @shan-96
Could you tell me how to replicate the issue you are facing with a test project? I will debug this and replicate/fix

[2020-02-11 09:28] devinbost commented on #6054
This issue is a duplicate of: https://github.com/apache/pulsar/issues/5311

[2020-02-11 10:21] devinbost commented on #6273
I'm adding my discussion Slack discussion with @codelipenghui (with his permission) to create a better record of our discussion on this issue.

He documented what happens in this issue:

"For example, we have four batch messages in the producer pending message queue. The messages look like this(I show the sequence ID for more straightforward understanding):
0 -> [0 - 5]
1 -> [6, 8]
2 -> [7 - 10]
3

[2020-02-11 11:12] KannarFr opened #6291 "Proxies probably spamming Brokers"
**Describe the bug**
Since we updated to v2.5.0, we have some troubles after some days running. Our brokers are seen unreachable (5s timeout, on poll a local daemon) by our monitoring. There are no WARN/ERROR logs on brokers sides and proxies sides. But the messages are not well forwarded by proxies to brokers. And the only way to restore a working situation is to reboot the proxies nodes. We are

[2020-02-11 11:21] codelipenghui commented on #6281
Ok, I will take a look.

[2020-02-11 11:25] codelipenghui commented on #6273
@devinbost Looks not relevant

[2020-02-11 11:56] andresgaragiola opened #6292 "The script apply-config-from-env.py doesn't modify existent settings"
**Describe the bug**
The script *apply-config-from-env.py* should update the settings in the configuration files base on the environment variables with prefix *PULSAR_PREFIX_*. The script should modify the files by adding a line at the end of them if the setting is not already present or by overriding the line with the setting if it is already in the file.

**To Reproduce**

Follow the steps detai

[2020-02-11 16:18] JarrodJ83 commented on #2307
This is great news, @sijie! I've been following the email discussion but I don't know much about how a project gets brought into the Pulsar community. Maybe you could provide a high level update of what is happening and what this means moving forward for DotPulsar? Will there be a roadmap of some sort for it? When would we expect to start seeing new updates? etc.

As stated before I am still evalu

[2020-02-11 18:36] devinbost commented on #6288
@merlimat You are right.
On a production server, if the disk utilization is that high if the bookie crashes, will there be a problem with restarting the bookie? Or, is it just an issue with running the test?

[2020-02-11 23:19] #6292 closed

[2020-02-12 00:51] devinbost opened #6298 "(Flaky-test) AuthPluginTest.testAthenz failure"
This is a new exception. (I haven't seen this test fail before.)

Here's what appeared in the logs:
[code]

It can be seen here:
https://github.com/apache/pulsar/pull/6202/checks?check_run_id=439900732

I've attached the logs.
[logs_16021.zip](https://github.com/apache/pulsar/files/4189300/logs_16021.zip)

[2020-02-12 00:56] devinbost opened #6299 "(Flaky-test) Intermittent failure of PulsarFunctionsProcessTest"
I'm occasionally seeing this error in Github CI builds:

[code]

It can be seen here: https://github.com/apache/pulsar/runs/439900566

I've attached the logs.
[logs_16010.zip](https://github.com/apache/pulsar/files/4189312/logs_16010.zip)

[2020-02-12 01:00] devinbost opened #6300 "(Flaky-test) Intermittent failure of ProxyLookupThrottlingTest - assertion failure"
I'm getting:

[code]
It seems like there's duplicate data. Maybe there's a concurrency issue in the tests.
It can be seen here: https://github.com/apache/pulsar/pull/6202/checks?check_run_id=439900640

I've attached the logs:
[surefire-artifacts (1).zip](https://github.com/apache/pulsar/files/4189323/surefire-artifacts.1.zip)
[logs_16014.zip](https://github.com/apache/pulsar/files/4189322/logs_160

[2020-02-12 01:00] devinbost commented on #6300
It's not clear yet if this issue is related to this one: https://github.com/apache/pulsar/issues/3552

[2020-02-12 01:18] devinbost opened #6301 "(Flaky-test) Intermittent failure - possible race - BasicEndToEndTest.testLookupThrottling"
This showed up in the Github CI logs:

[code]

It can be seen here: https://github.com/apache/pulsar/pull/6202/checks?check_run_id=439978679

The logs are attached:
[logs_16048.zip](https://github.com/apache/pulsar/files/4189383/logs_16048.zip)

The reason I wonder if this is a race condition is that it's similar to these other testLookupThrottling issues:

- https://github.com/apache/pulsar/issue

[2020-02-12 01:24] devinbost opened #6302 "(Flaky-test) Possible prod issue - Trying to subscribe with incompatible schema"
This is the same exception that I observed here: https://github.com/apache/pulsar/issues/5311
I saw it today when I ran two tests locally:

- testDebeziumMySqlSource
- testDebeziumPostgreSqlSource

It's not clear yet if they're related to that bigger issue.
I've attached their logs.
[testDebeziumMySqlSource_logs.txt](https://github.com/apache/pulsar/files/4189399/testDebeziumMySqlSource_logs.txt)

[2020-02-12 01:30] devinbost opened #6304 "(Flaky-test) Intermittent assertion failure - testJdbcSink"
I got this issue when running the integration tests locally:

[code]

I've attached the logs.
[testJdbcSink_logs.txt](https://github.com/apache/pulsar/files/4189416/testJdbcSink_logs.txt)

[2020-02-12 02:11] tuteng commented on #6302
How do you run this test? Can you show your command? @devinbost

I run the integration test locally using the following command:

package
[code]
run test
[code]

[2020-02-12 05:39] devinbost commented on #6302
In the case that I reported above, I actually ran these tests from IntelliJ...
I can try running them as you specified.

[2020-02-12 05:39] devinbost commented on #6302
@tuteng

[2020-02-12 05:56] snowcrumble commented on #308
My zk elect time is about 10 seconds, is that reasonable?

zk-0 is new follower
zk-1 is old leader which was on the crashed node
zk2 is new leader

below is the logs:
zk-0.log
[code]
zk-2.log
[code]

[2020-02-12 06:15] sijie commented on #6281
@gmethvin @codelipenghui

I created an issue #6045 before. `msg_backlog` is an estimated value. It is estimated by minus two cached numbers `(numProduced - numConsumed)`.

[2020-02-12 07:08] snowcrumble opened #6305 "[Proxy]If zk leader was down, proxy was not worked until restart it"
**Describe the bug**
My pulsar is running on k8s and our service is using pulsar proxy, I have did some failure testing.
When I force crash the node which serve the zk leader, all my pulsar broker crash several times because zk connection problem, they were started final, but I must restart pulsar proxy after brokers were availabled, mentioned by #6158 .

**To Reproduce**
Steps to reproduce the be

[2020-02-12 08:33] devinbost opened #6306 "(Flaky-test) UnAcknowledgedMessagesTimeoutTest.testSharedSingleAckedPartitionedTopic - assertion failure"
This test is failing, and I was able to reproduce the issue locally.

The error is:

[code]

I've also seen it report "found [28]".

You can see it here:
https://github.com/apache/pulsar/runs/440479242
I've attached the Github CI logs here:
[logs_16251 (1).zip](https://github.com/apache/pulsar/files/4190667/logs_16251.1.zip)

I've also attached the log from running it locally:
[testSharedSingleAck

[2020-02-12 08:38] devinbost commented on #6306
This is the assertion that's failing:
`assertEquals(messageCountNoAck + messageCountYesAck, totalMessages);`

The problem is that `totalMessages` is 20, but the total of counted messages (i.e. messages not acked + messages acked) adds up to more than 20.

[2020-02-12 09:36] jiazhai commented on #6213
@yjshen Would you please help take a look when you have time?

[2020-02-12 11:25] rmbellovin opened #6307 "pulsar running in standalone mode in docker does not respond to pulsar-admin"
I downloaded and unzipped the 2.5.0 binary, and started it in standalone mode in docker with the command
`docker run -it -p 6650:6650 -p 8080:8080 --mount source=pulsardata,target=/pulsar/data --mount source=pulsarconf,target=/pulsar/conf apachepulsar/pulsar:2.5.0 bin/pulsar standalone`

However, when I then try to run a `pulsar-admin` command, it prints

**To Reproduce**
1. Download and unzip the

[2020-02-12 11:49] crazylab commented on #6213
Hi, figured out that this issue is basically happening because Pulsar is not able to serialise the Scala `case class` properly. Tried replacing the scala case class with Java POJO and it has started working.
We have also observed similar behaviour with `AvroSchema`. In that case though it is able to serialise the case class but unable to deserialise.

[2020-02-12 13:20] shaloba opened #6308 "Python3 AsyncIO implementation"
**Is your feature request related to a problem? Please describe.**
Implement python3  await/ async and using the event loop in order to save IO waiting time

**Describe the solution you'd like**
Using async, await and execute via the event loop

**Describe alternatives you've considered**
Using threads although the GIL preventing pure multi threading

[2020-02-12 13:38] yjshen commented on #6213
To use Scala case class as POJO, you should write like this:

[code]

[2020-02-12 14:04] crazylab commented on #6213
@yjshen Tried as per your suggestion. Now the message is getting produced correctly. But the consumer is failing while deserialising the message.

[code]

[code]

A different error is coming when using `AvroSchema`
[code]

[2020-02-12 14:16] rmbellovin opened #6309 "Attempting to use token authentication in pulsar standalone causes it to exit"
**Describe the bug**
I am trying to run pulsar standalone using token-based authentication.  But when I add the line

to conf/standalone.conf, running `bin/pulsar standalone` causes it to exit almost immediately.

**To Reproduce**
Steps to reproduce the behavior:
1. In conf/standalone.conf, add the lines

(as directed by https://pulsar.apache.org/docs/en/security-jwt/)
2. Run `bin/pulsar standalon

[2020-02-12 14:26] KannarFr commented on #6195
@codelipenghui Hi, did you get time to take a look?

[2020-02-12 15:36] ashwinkapur opened #6311 "The C++ Client distribution is basically borked."
It does not seem possible to build the C++ client except possibly by using your docker image which uses mystery binaries.

1) Your Cmake files seem to use old style Cmake which specifies each directory and file etc as opposed to just specifying dependencies of groups of objects of libraries and letting Cmake figure it out. I'd be happy to submit a patch fixing this and using Modern Cmake (see http

[2020-02-12 16:59] #630 closed

[2020-02-12 18:58] jrpilat opened #6312 "Kafka sink property `ack` should be `acks`"
The 2.5.0 docs at https://pulsar.apache.org/docs/en/io-kafka-sink/ currently states that the `ack` property controls the setting for Kafka acknowledgements, but this property is actually named `acks`, per https://github.com/apache/pulsar/blob/master/pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaSinkConfig.java#L52

I can take this simple issue as a first contribution :)

[2020-02-12 19:41] SakaSun opened #6314 "[Helm] Pulsar Manager do not work if Pulsar authentication is enabled"
**Describe the bug**
If you enabled authentication on brokers, Pulsar Manager is not able to connect since there is no way to inform the required parameters.
Note: Although it is a Pulsar Manager related issue, the problem lies in the Helm Chart located in this repository.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure authentication on brokers or proxy in `values.yaml`:
[code]
No

[2020-02-12 19:56] Antti-Kaikkonen opened #6317 "A source connector created with --processing-guarantees EFFECTIVELY_ONCE produces messages one at a time."
**Describe the bug**
Creating a source connector will make pulsar always wait for the previous message to be acknowledged before producing the next message. This is caused by this [future.join()](https://github.com/apache/pulsar/blob/e1f3409fd45b26bafb44c321f99f853ebbc50109/pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/sink/PulsarSink.java#L237).

**To Reproduce**
Steps to re

[2020-02-12 19:57] merlimat commented on #6317
cc/ @jerrypeng

I don't think the .join() is needed here. At least from the perspective of the producer.

[2020-02-12 20:13] #6312 closed

[2020-02-12 20:43] merlimat commented on #6311
@ashwinkapur

We're building C++ client in many different environments on Linux, Mac and Windows. It would be more helpful if you could specify where it's failing to build for you.

Keep in mind that this project was not started a couple of days ago. The version of CMake was probably not supporting these directives back then. If you have any improvement, please submit!

It's only used for Java. C+

[2020-02-12 21:06] devinbost commented on #6256
I found the issue. There's a race in how we're getting metrics from Prometheus (because we're expecting a particular order, but Prometheus doesn't guarantee that order). There also might be a race between our tests, so I've broken them up into separate topics and filtered the results. The tests are passing locally.

[2020-02-13 00:56] david-streamlio commented on #6309
You need to add the following properties to your conf/standalone.conf file

## JWT Auth
authenticationEnabled=true
authenticationProviders=org.apache.pulsar.broker.authentication.AuthenticationProviderToken
tokenPublicKey=file:///PATH TO/my-public.key

#### Authorization ####
superUserRoles=admin
anonymousUserRole=anonymous

[2020-02-13 00:57] david-streamlio commented on #6309
FWIW, the error in the attached log is related to ZK.

13:58:24.305 [Curator-LeaderSelector-0] ERROR org.apache.curator.framework.recipes.leader.LeaderSelector - The leader threw an exception
java.lang.InterruptedException: null
	at java.lang.Object.wait(Native Method) ~[?:1.8.0_242]
	at java.lang.Object.wait(Object.java:502) ~[?:1.8.0_242]
	at org.apache.zookeeper.ClientCnxn.submitRequest(ClientC

[2020-02-13 01:00] david-streamlio commented on #6309
What changes did you make to the conf/client.conf file? It should be something similar to the following

## JWT Authentication ##
authPlugin=org.apache.pulsar.client.impl.auth.AuthenticationToken
authParams=file:///PATH TO/admin-token.txt

[2020-02-13 01:09] sijie commented on #6309
@rmbellovin : I see. It failed related to function worker authentication. there are two options:

a) disable function worker in your standalone first. You can do it by `running bin/pulsar standalone -nfw -nss`.

b) you can configure conf/standalone.conf to enable authentication for broker client (https://github.com/apache/pulsar/blob/master/conf/broker.conf#L405). That is the one used by function

[2020-02-13 01:09] sijie commented on #6309
[code]

You can configure these two settings just as how you will configure the normal client talking to a broker.

[2020-02-13 02:04] devinbost commented on #6306
Here is the surefire log output for this failing test:
[org.apache.pulsar.client.impl.UnAcknowledgedMessagesTimeoutTest-output.txt](https://github.com/apache/pulsar/files/4196118/org.apache.pulsar.client.impl.UnAcknowledgedMessagesTimeoutTest-output.txt)

[2020-02-13 02:32] devinbost commented on #6306
I found the problem. Some messages are being received more than once.

[code]

The additional messages that were received,

[code]
, represent the exact difference between the number of expected messages and the actual number of received messages.

[2020-02-13 03:31] ltamber opened #6319 "[pulsar client] partitioned topic cause connection leak when connection pool disable pooling"
**Describe the bug**
when use partitioned topic, the connection from client to discovery service will grow up and keep alive util application shut down.

**To Reproduce**
Steps to reproduce the behavior:
1. we used pulsar-perf, command is: ./bin/pulsar-perf consume -n 6 -c 0 -u pulsar://x.x.x.x:6660,x.x.x.x:6660 -s sub-1 -st Failover tenantTest/namespaceTest/partitiontopic2
2. then netstat -anp |

[2020-02-13 03:49] ltamber commented on #6319
@jiazhai @tuteng @wolfstudy PTAL

[2020-02-13 03:59] codelipenghui commented on #6195
@KannarFr I will take a look, this is indeed a tricky problem, I haven't found a way to reproduce.

[2020-02-13 06:57] snowcrumble commented on #6123
It seems to be related to  cloud k8s network, it's not appear when I used another k8s cluster.

[2020-02-13 06:57] #6123 closed

[2020-02-13 08:22] AllenChien opened #6320 "Support consume a topic in reverse order"
**Is your feature request related to a problem? Please describe.**

In some case, we prefer read more recently message first, and move forward if necessary.

**Describe the solution you'd like**

Consume API has a reverse option, thus we can consume from latest to earliest (or specific position).

**Describe alternatives you've considered**

n/a

**Additional context**

n/a

[2020-02-13 10:01] codelipenghui commented on #6259
When the session timeout happens on the local Zookeeper, all of the EPHEMERAL znode maintained by this broker will delete automatically. We need some mechanism to avoid the unnecessary ownership transfer of the bundles. Since the broker cached the owned bundles in memory, the broker can use the cache to re-own the bundles.

Firstly, the broker should check if the znode exists for the bundle and th

[2020-02-13 11:34] rmbellovin commented on #6309
Thanks very much, disabling function workers did the trick.  That's fine for my purposes, but out of curiosity, if I wanted to enable authentication for broker clients, what role would I need to generate a token for?

[2020-02-13 11:42] abhilashmandaliya opened #6321 "[ERROR] Failed at fetching schema info for EMPTY"
#### The issue

I am building one sink connector on a topic named test-topic with a JSON schema. While checking the schema status via pulsar-admin, it shows the schema but at runtime, it throws an exception.

#### Expected behaviour

Should not throw an exception

#### Actual behavior

Throwing a Serialization exception

#### Steps to reproduce

- Start a pulsar standalone
- Create a file called t

[2020-02-13 12:36] Anonymitaet commented on #6242
Fixed in https://github.com/apache/pulsar/pull/6322

[2020-02-13 14:24] shan-96 commented on #3115
@vamsi360

We are trying to write to Avro Files using version 1.8.3-ppe-9.10

We are writing a java object from memory to a specified file using `DataFileWriter`.
While building the schema of the POJO at runtime, we call...
[code]
However, we still get the same exception as mentioned above which we got through maven released version of Avro (1.8)

Our schema (POJO) looks like this:
[code]

We want

[2020-02-13 14:46] xiemeilong opened #6323 "Pulsar io connector is not run at broker."
**Describe the bug**
Pulsar io connector is not run at broker.  Status gotted by api says it running. But there is no functions log at /pulsar/logs/ folder. and there is no function effect .
All connector can run at local mode.

**To Reproduce**
create any connector . I have tried source and sink, buildin and custom.

**Expected behavior**
Connector runs normally.

**Screenshots**
![image](https:/

[2020-02-13 17:53] sijie commented on #6321
[code]

`pulsar-client` doesn't support producing JSON messages to the topic. It actually produced a `bytes` message so that jdbc connector doesn't know how to deserialize it. The error message should be improved to clarify that.

If you want to produce a json message, you might consider writing a producer program to produce json messages or help improve `pulsar-client`.

[2020-02-13 18:16] hari819 commented on #6236
@sijie , i could get moving on the zookeeper security part , parallel i am also trying to setup tls authentication for bookkeeper ,  is it supported via pulsar ?.

i followed the docs , [https://bookkeeper.apache.org/docs/4.9.0/reference/config/](url)   and [https://bookkeeper.apache.org/docs/4.9.0/security/tls/](url)  ,  but could not get past this error when calling bin/pulsar bookie,

`[conf/pu

[2020-02-13 21:29] #6242 closed

[2020-02-13 21:33] #5116 closed

[2020-02-13 21:42] #6111 closed

[2020-02-13 23:26] sijie commented on #6236
Yes. it is supported.

Which version of Pulsar are you using? Try to set `BOOKIE_MEM` instead of `PULSAR_MEM` for running `bin/pulsar bookie`.

[2020-02-13 23:37] sijie commented on #6309
@rmbellovin

The broker client is used for inter-broker communication, and function-worker and broker communication. So ideally the role should have a "super-user" permission if you enable authorization.

[2020-02-13 23:53] sijie commented on #2307
@JarrodJ83 sorry for the late response here. have been pretty busy in the past. I am helping DotPulsar doing the IP Clearance in the ASF. Once it passes, we will transfer the repo to the ASF. Most of the updates are blocked at my side. I will try to push this forward as much as I can.

[2020-02-14 01:14] #4070 closed

[2020-02-14 01:30] sijie commented on #6093
@merlimat I think the problem here is the protoc used by maven plugin for compiling proto3 code.

[2020-02-14 01:40] sijie commented on #6319
@ltamber are you interested in contributing a fix to this?

[2020-02-14 01:46] sijie commented on #6305
Try to configure the proxies to connect to the brokers using service urls instead of using zookeeper. It will reduce the impact from zookeeper lead was done.

[code]

Regarding the broker restarts when zookeeper sessions are expired, @codelipenghui is working an enhancement to improve it.

[2020-02-14 02:38] jiazhai commented on #6276
@fangpengcheng95 Thanks for the report. Seems This is a issue producer in `pulsar-client-go`

[2020-02-14 02:52] jiazhai commented on #6291
@KannarFr Could this be persist reproduce?

[2020-02-14 02:56] #6061 closed

[2020-02-14 03:33] snowcrumble commented on #6305
I tried to set a long enough `zooKeeperSessionTimeoutMillis=1200000` that broker would not exit for session reason, but I don't know if it has some side-effect.

[2020-02-14 03:46] codelipenghui commented on #6305
@snowcrumble Looks related to #6259

[2020-02-14 04:43] fernandezpablo85 commented on #6276
thanks @jiazhai , I'd be glad to contribute a patch if you give me a few pointers

[2020-02-14 05:02] hari819 commented on #6236
@sijie  , i am using the latest version of pulsar via the docker image , apachepulsar\pulsar-all:latest

[2020-02-14 05:20] hari819 commented on #6236
BOOKIE_MEM solved my problem ,
 thanks

[2020-02-14 08:04] ltamber commented on #6319
@sijie Yes, but don't have any good way to fix this

[2020-02-14 08:05] #6273 closed

[2020-02-14 08:44] abhilashmandaliya commented on #6321
yes. that worked. I produced via Java client. thanks @sijie

[2020-02-14 08:44] #6321 closed

[2020-02-14 09:48] codelipenghui opened #6327 "The pulsar-perf generated HdrHistogram file open failed"
**Describe the bug**
Use pulsar-perf to start to publish messages and generate HdrHistogram file, when to open the file by https://hdrhistogram.github.io/HdrHistogram/plotFiles.html. The error occurs.
![image](https://user-images.githubusercontent.com/12592133/74520278-2d0d9980-4f52-11ea-9f1f-ed6ac59dfc78.png)

[2020-02-14 09:52] KannarFr commented on #6291
I'm not sure to understand what do you mean?

Le ven. 14 févr. 2020 à 03:52, Jia Zhai <notifications@github.com> a écrit :

[2020-02-14 12:40] eaba opened #6328 "C# Client - SharpPulsar"
Hi community,
Please I need your help in [SharpPulsar](https://github.com/eaba/SharpPulsar)!
Specifically need your help(s) in these area:
[Schema](https://github.com/eaba/SharpPulsar/tree/master/SharpPulsar/Impl/Schema) - I have worked on it but not fully completed.
[MessageCrypto](https://github.com/eaba/SharpPulsar/blob/master/SharpPulsar/Impl/MessageCrypto.cs) - not perfect yet!
[Tests](https:

[2020-02-15 00:11] dzmitryk opened #6330 "Bug in netty 4.1.43 prevents from using Linux native Epoll transport"
**Describe the bug**
netty 4.1.43 has a bug preventing it from using Linux native Epoll transport - https://github.com/netty/netty/issues/9758

This results in pulsar brokers failing over to `NioEventLoopGroup` even when running on Linux.

The bug seems to be fixed in netty releases 4.1.44+

**To Reproduce**
1. Run pulsar docker container:
[code]
2. Observe the logs. Following errors appears on st

[2020-02-15 02:02] nicolo-paganin commented on #5454
I have the same problem also using pulsar-client v2.5.0 (I have installed it with this command pip install pulsar-client==2.5.0).

Did you release this feature in the 2.5.0?
Thanks

[2020-02-15 02:04] nicolo-paganin commented on #6323
The same for me, in puslar v2.5.0 connectors seems to not work. The same connector is working in version 2.4.2. Also no logs are produced in the logs folder nor for connector neither for pulsar functions

[2020-02-15 02:25] tuteng commented on #6323
Can you debug according to this document http://pulsar.apache.org/docs/en/io-debug/, I want to see more information. @nicolo-paganin @xiemeilong

[2020-02-15 02:28] tuteng commented on #5454
Can you describe your environment, container, standalone or cluster, so that I can quickly reproduce this problem? @nicolo-paganin Thanks.

[2020-02-15 06:11] devinbost opened #6332 "(Flaky-test) Intermittent failure of ProxyParserTest.testRegexSubscription"
Here's what I'm getting periodically in Github CI:

[code]

I've attached the surefire log output for this test:

[org.apache.pulsar.proxy.server.ProxyParserTest-output.txt](https://github.com/apache/pulsar/files/4207808/org.apache.pulsar.proxy.server.ProxyParserTest-output.txt)

[2020-02-15 06:13] devinbost commented on #6224
I have a surefire log output with this issue here:
[org.apache.pulsar.client.impl.ReaderTest-output.txt](https://github.com/apache/pulsar/files/4207811/org.apache.pulsar.client.impl.ReaderTest-output.txt)

[2020-02-15 07:12] devinbost commented on #6197
Here's a log that includes this test:
[11_run integration tests.txt](https://github.com/apache/pulsar/files/4207846/11_run.integration.tests.txt)

[2020-02-15 07:18] devinbost commented on #6198
I fixed this issue in my PR #6202. However, now there's a new issue.
The Github CI output just looks like this:

`1211[ERROR] Run 4: PulsarStateTest.testSinkState:162 » PulsarAdmin org.apache.pulsar.shade.javax....`

I've attached a log with the test failure.

[11_run integration tests.txt](https://github.com/apache/pulsar/files/4207875/11_run.integration.tests.txt)

[2020-02-15 13:27] xiemeilong commented on #6323
@tuteng  All connector can run normally in local mode.  No log file in cluster mode.

[2020-02-15 14:49] codelipenghui commented on #6327
To use `hgrm` file that the `pulsar-perf` generated, the following steps can work well.

After these steps, you will get two output files, upload the output file that the file name ends with `.hgrm` to https://hdrhistogram.github.io/HdrHistogram/plotFiles.html, you will get a graphical display.

[2020-02-15 20:12] lhotari opened #6333 "Pulsar 2.5.0 regression: Reader.hasMessageAvailable returns false when startMessageId is the message id of the last message id in startMessageIdInclusive mode"
**Description**
`Reader.hasMessageAvailable` returns `false` when `startMessageId` is the message id of the last message id in `startMessageIdInclusive` mode.
If the message id is any other id than the id of the last message, there is no issues.
This problem occurs with Pulsar 2.5.0. The test case passes with Pulsar 2.4.2.

**To Reproduce**
Steps to reproduce the behavior:
[code]
The repository th

[2020-02-15 20:14] lhotari commented on #6333
When running the test case multiple times, it sometimes passes even on Pulsar 2.5.0. This issue might be related to #6224.

[2020-02-15 20:16] lhotari commented on #6224
I created a repro for an issue that is flaky, but fails in most cases. This happens on Pulsar 2.5.0, but not on Pulsar 2.4.2. . The description and repro instructions are at #6333

[2020-02-16 00:40] oeegee opened #6334 "How can I user "Reed-Solomon error correction" (erasure coding)??"
I was look "Reed-Solomon error correction" keyword at
 https://pulsar.apache.org/docs/en/concepts-tiered-storage/

But I know how work well it in pulsar.
and additional configuration - linux package, library, configuration, etc...

Thank you!

[2020-02-16 02:13] sijie commented on #6334
I don’t think we need to handle erasure coding at Pulsar level. Erasure coding is typically implemented in the specific storage implemention. Pulsar just uses external storage systems for tiered storage. Those systems already implement erasure coding.

If you are looking for erasure coding within bookkeeper, bookkeeper doesn’t implement it yet. But there were discussions about that.

[2020-02-16 03:42] jiazhai commented on #6301
This looks like a NullPointer issue.

[2020-02-16 05:27] #5904 closed

[2020-02-16 05:37] #5999 closed

[2020-02-16 17:48] nicolo-paganin commented on #6323
@tuteng the problem is that in local mode this is working. In standalone mode if I copy the nar of my sink and a I create the sink it is not working and also no log files are written.

Try to start pulsar standalone and than add a connector, is this working for you?

[2020-02-16 18:00] nicolo-paganin commented on #5454
@tuteng yes I am running a pulsar standalone version 2.5.0 from binaries (extracting the binaries from the binary release [here](https://www.apache.org/dyn/mirrors/mirrors.cgi?action=download&filename=pulsar/pulsar-2.5.0/apache-pulsar-2.5.0-bin.tar.gz).
I am running it in MacOS 10.15.3 with python 3.7.3 and pulsar-client 2.5.0 installed with pip globally.

The pulsar function is copying the value

[2020-02-16 19:20] nicolo-paganin commented on #6323
@tuteng I confirm that connectors are working in pulsar 2.5.0 standalone mode. Also log are written but the path is changed from 2.4.2 -> 2.5.0 (maybe it is written in some configuration file).

Now logs are written in `/tmp/functions` folder

[2020-02-16 20:53] nicolo-paganin commented on #5454
I did another test, I can confirm that the same error happen in both the following cases:

1. pulsar function output to the new topic is done using `context.publish()` function
2. returning the new value (so without using the `context.publish()`)

[2020-02-16 21:17] nicolo-paganin commented on #5454
Pulsar log are showing this
[code]

[2020-02-16 21:40] sijie commented on #5454
@nicolo-paganin

I don't think you are producing the avro records to an Avro Topic.

1) for the first function, you are using SerDe for serializing the python classes into bytes. So it is actually a message without schema.

2) I don't think context.publish in python function support avro schema.

--

In order to verify if JDBC works as expected, I would suggest using the producer code (mentioned i

[2020-02-16 21:46] #6045 closed

[2020-02-16 21:46] #6281 closed

[2020-02-16 23:19] nicolo-paganin commented on #5454
@sijie Thanks for the reply

1. Yes I was using a custom SerDe class because of a problem with python 2.7 (here https://github.com/apache/pulsar/blob/b8679078dc6632795c4d81cff9caedd316444f17/pulsar-client-cpp/python/pulsar/functions/serde.py#L77, that `.encode('utf-8')` is not compatible with python 2.7 since in 2.7 strings are already byte strings). Now I am using Python 3.x so I just removed tha

[2020-02-17 00:42] nicolo-paganin commented on #5454
I don't know if it can be useful, before the exception it is printing this:

[code]

[2020-02-17 01:45] tuteng commented on #6323
Thanks, @nicolo-paganin @xiemeilong, I will take a look at it.

[2020-02-17 03:47] liyuntao opened #6338 "[Helm] Wrong/Missing key definition in configData in values-mini.yaml"
**Describe the bug**
Inconsistent key definition between `values.yaml` and `values-mini.yaml` in line 184.
It seems the former is correct.

[values-mini.yaml L184](https://github.com/apache/pulsar/blob/df152109415f2b10dd83e8afe50d9db7ab7cbad5/deployment/kubernetes/helm/pulsar/values-mini.yaml#L184)
1. missing `BOOKIE_GC `, `BOOKIE_MEM ` and `PULSAR_PREFIX_dbStorage_rocksDB_blockCacheSize `.
2. `PU

[2020-02-17 04:49] tuteng commented on #5454
`libpulsar` seems unable to update to version 2.5.0 yet. https://github.com/apache/pulsar/issues/6091 @nicolo-paganin

[2020-02-17 04:59] sijie commented on #6338
@liyuntao do you want to contribute a pull request to fix the issue?

[2020-02-17 05:06] tuteng commented on #6323
I tried to test in cluster mode, one zookeeper, one bookie, one broker, but there was no reproduce the problem. @nicolo-paganin @xiemeilong Can you show more log information, under folder /tmp/functions

[2020-02-17 06:06] xiemeilong commented on #6323
@tuteng It is the buildin debezium-mysql connector.
[iot-mysql-log-source-0.log](https://github.com/apache/pulsar/files/4212055/iot-mysql-log-source-0.log)

[2020-02-17 06:12] jiazhai commented on #6327
Thanks @codelipenghui for the help. So It only needs to add documentation to fix this issue?

[2020-02-17 06:27] tuteng commented on #6323
Look at the log. There seems to be a problem with your pulsar cluster. There is no broker available. Does your function worker have a connection address to configure pulsar? http://pulsar.apache.org/docs/en/functions-worker/  Is your broker normal and your function-worker normal? @xiemeilong

[2020-02-17 06:30] codelipenghui commented on #6327
@jiazhai Yes, we need some documentation for pulsar-perf

[2020-02-17 06:45] xiemeilong commented on #6323
@tuteng  The log is copyed from the broker pod .   The pulsar is deployed using the helm chart of pulsar source repository.   The broker has started  and report can't connect to connector for getting the metrics.

[2020-02-17 06:57] xiemeilong commented on #6323
@tuteng  Sorry,  I deleted the broker pod and run a new one , the proxy  still not found the new one. I am fixing the issue. I will upload the new log after that.

[2020-02-17 07:12] sijie commented on #6328
@eaba [DotPulsar]() has been accepted as a sub project of Apache Pulsar. It might be good if you can join the force on developing the .NET client in DotPulsar.

[2020-02-17 07:23] liyuntao commented on #6338
Hi @sijie  I've make the [related pr](https://github.com/apache/pulsar/pull/6340). Please review, thanks.

[2020-02-17 07:24] xiemeilong commented on #6323
@tuteng  The log seems it working, but still no log generated in /pulsar/logs.

[iot-mysql-log-source-0.log](https://github.com/apache/pulsar/files/4212299/iot-mysql-log-source-0.log)

[2020-02-17 07:58] sijie opened #6342 "Korean documentation is not built to the website"
*Problem*

The Korean translation has been enabled in Crowdin. But the pages are not built to the website. So when choosing `Korean` in the menu, the documentation is not reachable.

[2020-02-17 08:42] nicolo-paganin commented on #5454
@tuteng thanks I have upgraded lib pulsar to the 2.5.0 editing manually the homebrew formula with `brew edit libpulsat` like this

[code]

this is the log of the `brew upgrade` and `brew info` commands

[code]

Unfortunately this has not resolved the issue, I still have the same error. Any other advices @tuteng?
Thanks!

[2020-02-17 09:06] nicolo-paganin commented on #5454
I tried also using pulsar in docker container (using image `apachepulsar/pulsar:2.5.0`) and I have the same error.
@tuteng did you manage to reproduce the problem or is it something that is not happening in your environment?

[2020-02-17 09:10] sijie commented on #5454
@nicolo-paganin

1) after upgraded to 2.5.0, have you deleted the topics to clean up the old messages before running the tests again?

2) I see you are using regex subscription. Can you try to run the sink with `topic1` only first? and then try to run the sink with `topic2` later? We need to isolate the problem to see if it is from `topic1`, `topic2` or from the regex subscription.

[2020-02-17 09:25] nicolo-paganin commented on #5454
@sijie

1.  Yes I am always starting form a fresh pulsar installation (removing `data` folder). After upgrading libpulsar to 2.5.0 I have restarted to be sure :-)
2. I tried also removing the regex and using single topic as input

if I put this using the topic created by the JAVA producer the sink  is working
[code]

If I use this with the topic created by the python pulsar function copying the va

[2020-02-17 09:29] sijie commented on #5454
Since the python copy function is customized with some modifications, can you use a python producer to produce avro records into a topic and use that topic for running the sink connector? It would be good to isolate if it is a problem from python client or from python functions you are running?

[2020-02-17 10:02] #5560 closed

[2020-02-17 10:08] nicolo-paganin commented on #5454
@sijie I did the tests, following the results:

**Using python producer**
I am using this producer

[code]

The sink is working well, no error and I can see the data in the database

**Using pulsar function**
I am using this pulsar function, I removed all my customizations so I am using the released ones and I still have the error. So the problem is related only to pulsar functions

[code]

I crea

[2020-02-17 10:41] #6338 closed

[2020-02-17 10:53] jiazhai commented on #6305
Would like to close this since this is a dup and tracked in 6259

[2020-02-17 10:53] #6305 closed

[2020-02-17 12:29] murong00 opened #6343 "Broker failed to start when specifying a list of bookie groups"
**Describe the bug**
When set `bookkeeperClientIsolationGroups` to a list of bookie groups (e.g. group1,group2), pulsar service failed to start:
[code]

**Expected behavior**
Pulsar service should start successfully when specifying a list of bookie groups.

**Describe the solution you'd like**
Add type judgment when get `String` property.

[2020-02-17 12:37] yjshen opened #6344 "[Reader] seek to batch messageId went wrong in 2.5.0"
Starting the reader with a MessageId inside a batch:  (11:0:3:151) with :
[code]
the first message I read with reader.readNext() happens to be the one with messageId (11:0:3:0).

This is 2.5.0 related since my library relies on 2.4.2 works correctly.

[2020-02-17 12:44] rmbellovin commented on #6309
Thanks very much for your help!

[2020-02-17 12:46] nicolo-paganin commented on #5454
@sijie @tuteng following the results of some test, I found out a configuration that is working

These are the tests I did modifying params in the consumer creations:

1. If I enable the batching and the schema is set (the value that I am sending is an instance of the class `SensorSchema`): **does not work**
2. If I remove the schema setting and I disable the batching (the value that I am sending i

[2020-02-17 16:34] diegosalvi opened #6346 "DNS configuration"
**Is your feature request related to a problem? Please describe.**
You can't configure any aspect of client DNS (servers, timeouts...)

**Describe the solution you'd like**
To ba able to configure at least DNS to use to resolve names

**Describe alternatives you've considered**
...

**Additional context**
I've dived into Pulsar client DNS internal configuration and I didn't found any way to proper

[2020-02-17 18:03] lhotari commented on #6344
I wonder if #6333 is related.

[2020-02-18 00:10] KannarFr commented on #6283
@gaoran10 I'm not sure to understand your answer. I mean, I created the issue because I thought these features don't exist, but IIRC the commits they exist. Your last message tells that they don't, what is the status of these, then? :p

[2020-02-18 02:29] sijie commented on #6170
@KannarFr - @nlu90 has sent out a pull request about this feature. please check if it meets your requirements.

[2020-02-18 04:29] devinbost commented on #6344
@yjshen Do you think this one might also be related?
If we can already reproduce this in a test, then we have a clear path to fixing it.

[2020-02-18 04:30] devinbost commented on #6344
@yjshen Do you think this one might also be related?
If we can already reproduce this in a test, then we have a clear path to fixing it.
https://github.com/apache/pulsar/issues/6224

[2020-02-18 05:30] yjshen commented on #6344
Hi @lhotari @devinbost , I found this bug is brought in by #5622 , and I fixes it in #6345 . I'll look into #6333 and #6224 now.

[2020-02-18 05:45] Vanchhay opened #6350 "Reader.startMessageIdInclusive() is not working"
**Describe the bug**
I tried to get the latest message from the topic using Reader.
[code]
But I got the message from X+1 and so on.

**Expected behavior**
Expected to receive the message from X and so on.

**Additional context**
pulsar version = 2.5.0

[2020-02-18 06:10] yjshen commented on #6350
I think it's related to #6344 .

[2020-02-18 07:03] devinbost commented on #6256
This is fixed in #6202
I'm planning on splitting that big PR into smaller ones.

[2020-02-18 07:29] devinbost commented on #6332
There's an interesting warning the Github CI logs:

[code]

Here's the context of this exception:

[code]

Should this exception be an error, rather than a warning?

[2020-02-18 07:55] devinbost opened #6352 "(Flaky-test) PrometheusMetricsTest.testPerNamespaceStats"
I'm getting this intermittent (infrequent) issue:

[code]
(https://github.com/apache/pulsar/pull/6202/checks?check_run_id=451988656)

It may have been masked by other failing tests in PrometheusMetricsTest that I fixed with PR #6202.

I've uploaded the test log output: [org.apache.pulsar.broker.stats.PrometheusMetricsTest-output.txt](https://github.com/apache/pulsar/files/4217989/org.apache.pulsar

[2020-02-18 08:08] yjshen commented on #6344
#6224 is a bug but not related to this issue. @devinbost will fix it in his PR.

[2020-02-18 08:09] devinbost commented on #6332
I was able to get the test to fail locally after running about 7 times. I found this message repeating in the logs until the test failed due to timing out:

[code]

[2020-02-18 08:10] devinbost commented on #6332
I got this same exception as here: https://github.com/apache/pulsar/issues/5206
However, I'm not sure if they're related.

[2020-02-18 08:14] devinbost commented on #6332
I found this: https://stackoverflow.com/questions/24979610/netty-defaultchannelpipeline-exceptioncaught
It might be related.

[2020-02-18 08:17] devinbost commented on #6332
Interestingly, the warning is saying that the frame length was approximately 231 times larger than the limit size.
(1213486164 / 5253120 = 231.0029.)

[2020-02-18 08:52] devinbost commented on #6352
This is fixed in #6202

[2020-02-18 08:54] devinbost commented on #6332
Since the frame length issue only occurs locally for me, I wonder if that's just related to my environment. When the test is run by the Github CI, the `UnsupportedOperationException` seems to suggest that perhaps we're doing something different when using a regex subscription compared to other subscriptions.

[2020-02-18 09:03] devinbost commented on #6332
It looks like the UnsupportedOperationException is actually getting thrown here in PulsarDecoder:

[code]
(https://github.com/apache/pulsar/blob/master/pulsar-common/src/main/java/org/apache/pulsar/common/protocol/PulsarDecoder.java#L456)

What's the reason this method is getting called only sometimes by this code?

[2020-02-18 11:38] codelipenghui opened #6353 "Clients support acknowledgment at batch index level."
This is a task to track support acknowledgment at batch index level in the different clients.

[x] Java #6052
[ ] Golang
[ ] Cpp
[] Python

[2020-02-18 13:49] KannarFr commented on #6170
@sijie commented on PR.

[2020-02-18 15:10] MisterTimn opened #6355 "[Helm] Bookeeper + Autorecovery error state - could not find or load main class"
**Describe the bug**
When trying to deploy both the 2.5.0 and 2.4.2 helm charts on kubernetes v1.17.2, autorecovery and bookkeeper instances go into error state.
It seems that they arent passed a proper main class definition, instead they try to load `"-Xms` for example...

Autorecovery logs
[code]

Bookkeeper logs
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout either master

[2020-02-18 17:40] devinbost opened #6357 "[pulsar-io] Create connector for Flume to Pulsar"
We need a connector for pushing data from Flume to Pulsar. This integration will allow producers to dump Flume data directly from logs into Pulsar instead of needing to go first to Kafka and then from Kafka to Pulsar (which some people might not be willing to do since sometimes the decision is Kafka vs Pulsar.)

[2020-02-18 17:43] devinbost opened #6358 "[pulsar-io] Create Apache Ignite connector for Pulsar"
Apache Ignite is a rising distributed caching technology that is extremely fast and very stable.
It has some similarities to Redis but is much more robust (since it's a distributed technology) and also supports the persistence of data. (It's smart about how data can be persisted.) It's also much faster than Redis. It might be the fastest distributed cache technology currently on the market.
We rea

[2020-02-18 17:52] devinbost commented on #6357
After posting this, we just noticed that some progress has already been made with a Flume connector, as documented here: https://pulsar.apache.org/docs/en/io-flume-source/
and here: https://pulsar.apache.org/docs/en/next/io-flume-sink/

What's the status of them? Are they complete?

[2020-02-18 19:19] sijie commented on #5454
@nicolo-paganin

The second option will not work since. Since JDBC only works with topics with a schema.

Can you reproduce the issue (of option 1 and option 3) with a pure pulsar python client? It is better to see if the problem is in the python client-side or not.

[2020-02-18 19:39] eaba commented on #6328
With SharpPulsar, I have gone the way of matching the java client 100%, why?
Once it is matched, anyone can easily compare and implement any missing feature from the java client with less time!
I wont always have this much time to spare!!

[2020-02-18 19:44] #6328 closed

[2020-02-18 20:02] sijie commented on #6355
@MisterTimn in the values.yml file, can you change`PULSAR_MEM` to `BOOKIE_MEM` for bookie and auto-recovery configmap?

[2020-02-18 20:18] sijie commented on #6346
2 seems to be a reasonable approach to me

[2020-02-18 20:19] devinbost commented on #6357
If they're complete, then we can close this.

[2020-02-18 21:45] Alxander64 commented on #6264
Noticed there are some compose files under `/tests/compose` that I think arrange a Pulsar cluster, but use test images. Can this be adapted to use production images?

[2020-02-18 22:17] scr-oath opened #6360 "There is at least one place where sendAsync does not release the semaphore"
**Describe the bug**

If an error occurs that completes the future without releasing the semaphore then the calling thread may block forever.

https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java#L354

There may be another case with timeout that tickles this but that's harder to reproduce

**To Reproduce**
Steps to reproduce the b

[2020-02-19 02:01] tuteng commented on #6323
You can try to get the log from file /tmp/function/`tenant-name`/`namespace-name`/`function-name` @xiemeilong

[2020-02-19 02:28] devinbost commented on #6207
I believe this issue was fixed by https://github.com/apache/pulsar/pull/6098
@tuteng Can you please confirm?

[2020-02-19 02:43] tuteng commented on #6207
Yes, I think https://github.com/apache/pulsar/pull/6279 and https://github.com/apache/pulsar/pull/6098 for have been fixed this issue. @devinbost

[2020-02-19 02:55] devinbost commented on #6332
I learned from @jiazhai that PulsarDecoder is an interface that should not be getting called directly. He pointed out that all interactions should be between `ServerCnx` and `ClientCnx` and that `ServerCnx` implements `PulsarDecoder` indirectly like this:

[code]

So, something is causing the method to get called on the interface directly instead of the correct implementing class. Perhaps there's

[2020-02-19 04:41] #6207 closed

[2020-02-19 06:52] tiwansh commented on #4234
The client logging in python still seems non-configurable even after providing the log4cxx config file. Is it possible to configure to stop logging to stdout ?

[2020-02-19 10:12] dsmlily opened #6363 "It takes too long to subscribe to a topic"
**Describe the bug**
It takes more than 4s to subscribe to a topic. Sometimes it takes more than 10s. Most of the time was spent starting the replicator.

**Broker log**

There are logs about topic persistent://2/signal_geo/1579404480244 from the broker.
[code]

[2020-02-19 12:52] yjshen commented on #6260
I'm trying to reproduce the bug, using:

[code]

Snappy hang at `a.send(1)` forever, however zlib, lz4, ZSTD works as expected.

[2020-02-19 12:56] yjshen commented on #6260
When I change the artifact to `pulsar-client-original`, the snappy works for the code above.

[2020-02-19 13:43] KannarFr commented on #6283
Ok so it's not done.

[2020-02-19 14:20] KannarFr commented on #6283
Hum, the deletion max lag and threshold must be defined at ManagedLegerImpl. But the ManagedLedgerFactory is set at topic creation level. We need a way to define them dynamically from OffloadPolicies changes.

Do you think we need to recreate the ManagedLedgerFactory each time OffloadPolicies changes?

@sijie ^

[2020-02-19 14:20] MisterTimn commented on #6355
OK. That solved the issue!
Both autorecovery and bookkeeper come up now.

[2020-02-19 14:23] KannarFr commented on #6283
Maybe @jiazhai have ideas too?

[2020-02-19 14:25] KannarFr commented on #6283
Or just a way to retrieve OffloadPolicies from ManagedLedgerImpl, but I think we want to keep splitted bookkeeper/broker stuff.

[2020-02-19 16:42] lonerzzz opened #6366 "Number of "pulsar-timer-*" threads increases sporadically over time"
**Describe the bug**
The number of "pulsar-timer-*" threads increases sporadically over time and ends up consuming many CPU cycles. Each thread uses a few percent of CPU, but the number of threads created ends up with a lot of CPU used despite the system being idle. On startup, we will observe roughly 10 of these threads but when we check again in 12-48 hours, we will often see several pages of th

[2020-02-19 17:32] hari819 commented on #6236
@sijie ,
After enabling ssl on zookeepr , i have enabled TLS in bookkeeper also , but i saw some weird error ,

org.apache.bookkeeper.meta.zk.ZKMetadataDriverBase - Initialize zookeeper metadata driver at metadata service **uri zk+null://zookeeper/ledgers : zkServers** = zookeeper, ledgersRootPath = /ledgers.

why it is , metadata service uri zk+null://zookeeper/ledgers : zkServers = zookeeper, le

[2020-02-19 19:43] #6317 closed

[2020-02-19 20:06] devinbost opened #6368 "(Flaky-test) Intermittent failure of AntiAffinityNamespaceGroupTest.testBrokerSelectionForAntiAffinityGroup()"
I came across this issue locally by running this command:
`mvn test '-Dtest=!PersistentTransactionBufferTest,!PulsarFunctionE2ESecurityTest,!ServerCnxTest,!AdminApiOffloadTest,!AdminApiSchemaValidationEnforced,!V1_AdminApiTest2,!ProxyPublishConsumeTlsTest,!PulsarFunctionE2ETest,!MessageIdSerialization,!AdminApiTest2,!PulsarFunctionLocalRunTest,!PartitionedProducerConsumerTest,!KafkaProducerSimpleC

[2020-02-19 20:16] devinbost opened #6369 "(Flaky-test) Intermittent failure of SimpleLoadManagerImplTest.setup()"
I came across this issue locally by running this command:
`mvn test '-Dtest=!PersistentTransactionBufferTest,!PulsarFunctionE2ESecurityTest,!ServerCnxTest,!AdminApiOffloadTest,!AdminApiSchemaValidationEnforced,!V1_AdminApiTest2,!ProxyPublishConsumeTlsTest,!PulsarFunctionE2ETest,!MessageIdSerialization,!AdminApiTest2,!PulsarFunctionLocalRunTest,!PartitionedProducerConsumerTest,!KafkaProducerSimpleC

[2020-02-19 20:26] devinbost commented on #6369
It's not clear if this issue is related or not: https://github.com/apache/pulsar/issues/3537

[2020-02-19 20:32] devinbost commented on #6369
This test is failing at `bkEnsemble.start()` here:

[code]
It seems odd that it couldn't connect to Zookeeper for over 30 seconds (which is how long it takes for the Zookeeper timeout to take effect.)

[2020-02-19 22:54] devinbost opened #6370 "(Flaky-test) Intermittent failure of TestPulsarKeyValueSchemaHandler testSchema1 & testSchema2"
When running this command locally:

`mvn install -DfailIfNoTests=false '-Dtest=!KafkaProducerSimpleConsumerTest,!PrimitiveSchemaTest,!BlobStoreManagedLedgerOffloaderTest' -pl '!pulsar-broker,!pulsar-proxy,!pulsar-broker-auth-sasl,!pulsar-io/kafka-connect-adaptor,!tests/pulsar-storm-test'`

(which is the command used to run the Github CI - Unit action)

I produced these errors:

[code]

[2020-02-19 22:56] devinbost opened #6371 "(Flaky-test) Intermittent failure of CompactionTest.setup"
I came across this issue locally by running this command:
`mvn test '-Dtest=!PersistentTransactionBufferTest,!PulsarFunctionE2ESecurityTest,!ServerCnxTest,!AdminApiOffloadTest,!AdminApiSchemaValidationEnforced,!V1_AdminApiTest2,!ProxyPublishConsumeTlsTest,!PulsarFunctionE2ETest,!MessageIdSerialization,!AdminApiTest2,!PulsarFunctionLocalRunTest,!PartitionedProducerConsumerTest,!KafkaProducerSimpleC

[2020-02-19 23:16] devinbost commented on #6370
It appears (from the stack trace) that the NPE is getting thrown from the line:
`SchemaType schemaType = schemaInfo.getType();`

in this method:

[code]

[2020-02-19 23:25] #5623 closed

[2020-02-19 23:59] sijie commented on #6283
Adding the notes between @KannarFr and me

[code]

[2020-02-20 01:30] lixin9311 opened #6372 "Several buggy scripts lead to failure to bootstrap pulsar on Kubernetes"
**Describe the bug**
Failed to run bookie & broker by `kubectl apply -f bookie.yml` and `kubectl apply -f broker.yml`

**To Reproduce**
Steps to reproduce the behavior:
1. Follow the steps in http://pulsar.apache.org/docs/en/deploy-kubernetes/#pulsar-on-a-custom-kubernetes-cluster

**Expected behavior**
Pulsar cluster should be up running

**Root cause**
1. First BUG
Env vars defined here https://

[2020-02-20 01:51] jharris- commented on #6355
I hit the same problem for the autorecovery pod and @sijie 's configmap change fixed the issue for me

[2020-02-20 03:31] yjshen commented on #6260
Fixed in #6375

[2020-02-20 03:40] jiazhai commented on #6366
@lonerzzz Thanks for the reporting of this issue.  Is pulsar running in standalone mode or cluster mode?
 "pulsar-timer-*" threads is in client side or server side?
Would you please help provided a detailed steps to reproduce this?

[2020-02-20 04:03] bilahepan opened #6376 "pulsar-admin bug of can't delete namespaces success!"
**Describe the bug**
pulsar-admin bug of can't delete namespaces success.

**To Reproduce**
Steps to reproduce the behavior:
1.  delete the only no-partition topic:
[code]
2. delete the namespace:
[code]
response:
[code]

**Expected behavior**
delete the ns success.

**Screenshots**
![Uploading 1.jpeg…]()

**Additional context**
（1）Pulsar version is 2.4.2
（2）Linux: Linux version 4.14.133-113.112.a

[2020-02-20 04:39] devinbost opened #6377 "[pulsar-io] Create Google PubSub Source"
We need to be able to ingest data from Google PubSub into Pulsar. We should create a Source connector.

[2020-02-20 04:40] devinbost opened #6378 "[pulsar-io] Create Google PubSub Sink"
We need to be able to emit data from Pulsar into Google PubSub. We should create a Sink connector.

[2020-02-20 14:03] rfuerst87 commented on #5447
Any updates on this matter? Would be interested in a Beam Connector too :)

[2020-02-20 14:19] diegosalvi commented on #6346
Created PR for (2)

[2020-02-20 16:17] lonerzzz commented on #6366
@jiazhai Pulsar is running in a cluster when this occurs with the "pulsar-timer-*" threads on the server side. As mentioned in the "To Reproduce" section, I am not sure what triggers the problem. I simply see the problem after a period of time and network instability has sometimes been observed during the interval where the problem occurs.

If I find a way to cause the issue, I will add it to the

[2020-02-20 17:31] #6357 closed

[2020-02-20 19:34] DanielFerreiraJorge commented on #6001
Sorry for the very late response. I had some personal problems that kept me away.

@jiazhai I believe an HTTP Sink would cover the functionality I'm talking about!
@sijie I wouldn't know about the best way to actually implement but the Pulsar IO HTTP Sink suggestion from @jiazhai perfectly describes the functionality!

[2020-02-21 00:44] codelipenghui commented on #6370
@gaoran10 Please help take a look at this issue.

[2020-02-21 00:48] oeegee commented on #6342
Thank you sijie and jiazhai ~!!

[2020-02-21 02:25] jiazhai commented on #6376
@bilahepan Thanks for the reporting.
`./bin/pulsar-admin namespaces delete test-tenant/test-namespace`
before this step, what is the `topics list ns` show?  Is there any other topics?

[2020-02-21 02:26] devinbost opened #6385 "(Flaky-test) Intermittent failure of ReaderTest.testReaderReachEndOfTopic"
I encountered this failure during a Github CI build, but unfortunately, I don't remember which build it was... I'll need to provide more information once I encounter it again. I just wanted to create this issue before I forgot again.

[code]

I did notice that `ReaderTest.testReaderReachEndOfTopic` involves `reader.hasMessageAvailable`, which may relate to one or more of the bugs that have been wo

[2020-02-21 02:51] jiazhai commented on #6372
Hi @lixin9311 thanks for the report. Seems these 2 bugs are know issue. and have PRs related.

[2020-02-21 03:17] devinbost opened #6387 "(Flaky-test) Intermittent failure of PulsarSpoutTest.beforeMethod(..)"
I got this in the Github CI Action:

[code]
It can be seen here: https://github.com/apache/pulsar/pull/6202/checks?check_run_id=459330039

I have attached the log archive:
[logs_19997.zip](https://github.com/apache/pulsar/files/4234096/logs_19997.zip)

[2020-02-21 05:29] yjshen commented on #6117
As sijie said, it's not supported to write to multiple topics in FlinkPulsarProducer.

Currently, there's only one producer who started with the default topic name.
A possible way to enable this is to maintain a HashMap from topic to producer in FlinkPulsarProducer, and get a `getTopicExtractor` for topic extraction from messages.

Or you could try https://github.com/streamnative/pulsar-flink if y

[2020-02-21 06:20] #6260 closed

[2020-02-21 06:27] liudezhi2098 opened #6388 "when sending a message, set duplicate key to properties, can't pull the message while concumer"
**Describe the bug**
when sending a message, set duplicate key to properties, can't pull the message while concumer，
and it can’t be consumed anymore

**To Reproduce**
_producer client_
[code]
_consumer client_
[code]

[2020-02-21 06:35] devinbost opened #6389 "[pulsarbot] Add option to re-run all tests (even if they succeeded)"
## Purpose
When testing for flaky tests, it is often useful to be able to trigger all tests to be re-run.

## Context
In the past, when I wanted to get all the tests to run again, I would make an arbitrary change to a comment in one of the code files to trigger a new build. However, this has not been working recently. (Instead, the builds all just automatically pass instead of completely running a

[2020-02-21 06:40] devinbost commented on #6389
Migrated to here: https://github.com/apache/pulsar-test-infra/issues/5

[2020-02-21 06:40] #6389 closed

[2020-02-21 14:52] murong00 opened #6394 "Expect an option to disable auto creation of subscriptions"
The current pulsar admin rest endpoints have already supported to create/list/delete subscriptions of topics. It will be meaningful to allow administrators to disable auto creation of subscriptions. Some scenarios can benefit from it:
- subscriptions should not be expanded arbitrarily (although subscriptions can be expired)
- public cloud scenario
- better to limit the count of subscriptions

[2020-02-21 14:58] murong00 commented on #6394
@sijie @jiazhai I am trying to work on this, any suggestions? So far I can think of the following:
- provide a flag `allowAutoSubscriptionCreation`, defaults to `true`
- when `allowAutoSubscriptionCreation` is disabled and the specified subscription on the topic does not exist when trying to subscribe via a consumer, the server should reject the request directly by `handleSubscribe` in `ServerCnx`

[2020-02-21 15:42] dhagrow commented on #5620
What is the plan for this feature? I see there was a solution (#6113) which was reverted (#6174) because it changed the order of arguments to the client's constructor.

It seems like a simple solution would be to add the `logger` argument to the end of the constructor. Or, if not, at least allow the logger to be set on the client object.

[2020-02-21 18:14] lonerzzz commented on #6366
@jiazhai I have added an exception output that may be related to the problem.

[2020-02-21 22:45] adeora commented on #3554
Is there any update on this feature? I'd love to have it for my own use cases.

[2020-02-22 06:07] #6355 closed

[2020-02-22 09:29] murong00 commented on #6394
cc @codelipenghui

[2020-02-22 19:04] devinbost commented on #6332
I ran this test 1000 times while running a stress test, and I still couldn't reproduce it locally.
However, it fails quite frequently in the Github CI.

This is most certainly a heisenbug...

[2020-02-22 19:08] devinbost commented on #6332
@jiazhai Any ideas? I'm pretty stumped...

[2020-02-23 01:50] tuteng opened #6400 "Cpp python test failed"
**Describe the bug**
Python test failed:
[code]

**To Reproduce**
https://github.com/apache/pulsar/pull/6392/checks?check_run_id=461910053

**Expected behavior**
Test pass

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - Github action

**Additional context**
Add any other context about the problem here.

[2020-02-23 06:32] Antti-Kaikkonen commented on #5503
I'm getting the same error with a pulsar function where the input is a POJO from an Avro encoded topic. The function works fine if the input topic is JSON encoded.

[2020-02-23 08:09] Antti-Kaikkonen commented on #5350
@sijie @wolfstudy
I'm getting the same error when using --custom-serde-inputs:
[code]
Error found in logs:
[code]
But com.example.pulsartest.UserSerDe exists in my jar. Pulsar is is 2.5.0 standalone.

[2020-02-23 11:43] #6363 closed

[2020-02-23 11:55] stevenodb commented on #4672
👍

[2020-02-23 14:14] liudezhi2098 opened #6403 "when send a delayed message, there is a case pull duplicate messages"
**Describe the bug**
when send a delayed message ,there is a case when a consumer restarts and pull duplicate messages.

**To Reproduce**

1、send message
[code]
Console
[code]
2、Stop consumers in 5000ms,  just produced message hasn't arrived

3、start conumers， then get two same  messages，this is  we do not want
[code]
Console
[code]

[2020-02-23 16:06] codelipenghui commented on #5503
The problem is we should specify the correct namespace and name in the JSON definition. I have written a demo in java:

[code]
Avro use full name(`namespace` + "." + `name`) to get Class for decoding data. GenericData uses If class not found.  Here is source code of `SpecificData` in avro, and `SpecificData` is `GenericData`'s subclass, if the class not found, will call `supper.newRecord`, this wi

[2020-02-24 01:51] #6096 closed

[2020-02-24 04:27] #6344 closed

[2020-02-24 04:27] #6350 closed

[2020-02-24 06:16] hari819 commented on #6236
@sijie
, i have now enabled the hierarchical type ,

16:39:52.631 [main] INFO  org.apache.bookkeeper.meta.zk.ZKMetadataDriverBase - Initialize zookeeper metadata driver at metadata service uri zk+hierarchical://zookeeper/ledgers : zkServers = zookeeper, ledgersRootPath = /ledgers.

i am already running the metaformat , using `bin/bookkeeper shell metaformat --nonInteractive || true;` , before runn

[2020-02-24 06:25] sijie commented on #5503
@codelipenghui - I think this issue has been seen if a AVRO pojo is used in pulsar functions. It might be worth checking why pulsar functions would encounter this issue.

[2020-02-24 07:54] codelipenghui commented on #5503
@sijie Ok, I will take a look.

[2020-02-24 09:30] vishalananth07 opened #6408 "Not able to create a Pulsar function"
**Describe the bug**
We are trying to create a Pulsar function and deploy that in a bare-metal cluster we already have. We are creating the Exclamation function(exfun.py) given in the example as follows
[code]
But it gives the following error
[code]

We are having a 2-node cluster with the following configuration:
[code]

Can you please help us here @jiazhai @sijie  ? Thanks :)

[2020-02-24 10:15] Lanayx commented on #4708
The issue is still relevant with 2.5.0 - you still need to set nettyMaxFrameSizeBytes to bookeeper.conf and not rely on maxMessageSize for broker

[2020-02-24 10:48] KannarFr opened #6409 "Pull Request checks detected documentation changes but it's not"
**Describe the bug**
On https://github.com/apache/pulsar/pull/6381, the checks are detected as documentation changes but it's not. So checks like units tests are not run while they must be run.

[2020-02-24 13:46] #6343 closed

[2020-02-24 14:12] chairmank opened #6410 "distribute Python client library as a Conda package"
**Is your feature request related to a problem? Please describe.**
I am not able to find and install the Python client library (`pulsar-client`) using the [Conda](https://docs.conda.io) package manager. Conda is the preferred package manager for a significant community of Python users.

**Describe the solution you'd like**
I would like `pulsar-client` to be built as a package in the [Conda package

[2020-02-24 14:15] chairmank commented on #6410
I am familiar with Conda packages and volunteer to help.

[2020-02-24 19:33] sijie commented on #4708
@Lanayx - standalone loads `nettyMaxFrameSizeBytes` from standalone.conf for bookkeeper as well. So you don't need to set `nettyMaxFrameSizeBytes` in bookkeeper.conf. But if you deploy a cluster, you need to set `nettyMaxFrameSizeBytes` in both broker.conf (to be used in bookkeeper client) and bookkeeper.conf (to be used in bookie).

[2020-02-24 19:37] #6400 closed

[2020-02-24 19:41] sijie commented on #6408
@vishalananth07 I think this is related to #6365

for a short-term solution, I would suggest updating the service urls in your cluster configuration to point to one broker one. You can do that via `pulsar-admin clusters update`

[2020-02-24 20:10] sijie commented on #6394
@murong00 the proposal looks good to me +1

[2020-02-24 20:12] sijie commented on #6409
@KannarFr there was an issue about `checkout` actions. I think we already fixed it. I looked at https://github.com/apache/pulsar/pull/6381 it seems that all unit tests are running, no?

[2020-02-24 20:14] sijie commented on #6410
@chairmank can you create a bookkeeper issue for this part?

Pull requests and contributions are welcome!

[2020-02-24 20:15] sijie commented on #6410
@chairmank I assigned the issue to you. Thank you for volunteering to work on this!

[2020-02-24 20:21] KannarFr commented on #6409
Yes.

[2020-02-24 20:21] #6409 closed

[2020-02-24 20:28] sijie commented on #6117
@parth-sarathy since the  https://github.com/streamnative/pulsar-flink connector is the one that is being contributed back to the upstream Flink community. I would suggest trying this connector out since eventually we would like to maintain those connectors in flink repo, rather than in pulsar repo.

[2020-02-24 20:30] sijie commented on #5447
@rfuerst87 - the beam community is doing the work. You can track the progress here - https://issues.apache.org/jira/browse/BEAM-8218

I will follow up there as well.

[2020-02-24 21:20] devinbost commented on #6332
Here's the chain of events in the logs during the success-case around when the problem occurs:

[code]

Here's what it looks like in the failure case:

[code]

[2020-02-24 21:44] devinbost commented on #6332
I added a try/catch to the finally block in ParserProxyHandler, and I got a lot more useful information!

[code]

[2020-02-24 21:55] devinbost commented on #6332
Interestingly, I'm noticing a little more information in the log now for this test:

[code]

[2020-02-24 22:16] devinbost opened #6413 "[pulsar-proxy] Netty resource leak"
I found this resource leak in the logs while debugging this issue: https://github.com/apache/pulsar/issues/6332

[code]

I have attached the complete log here:
[org.apache.pulsar.proxy.server.ProxyParserTest-output.txt](https://github.com/apache/pulsar/files/4247107/org.apache.pulsar.proxy.server.ProxyParserTest-output.txt)

The run is here: https://github.com/apache/pulsar/pull/6202/checks?check_

[2020-02-24 23:13] racorn opened #6414 "High CPU load when PulsarClient (Java) is idle"
**Describe the bug**
Running a simple consumer on Windows using the `PulsarClient`, I notice that there is considerable CPU usage when the consumer is just idling. Profiling showed that the 'pulsar-timer-x-y' thread is heavy on the CPU. Digging into the source code, we can see that the `HashedWheelTimer `is set up with 1 ms tick time:

`timer = new HashedWheelTimer(getThreadFactory("pulsar-timer")

[2020-02-25 02:37] pl6306 commented on #6185
Thanks I get it now. I have to do re.compile first.

[2020-02-25 02:37] #6185 closed

[2020-02-25 02:52] devinbost commented on #6332
@jiazhai
I added a lot more debugging statements, and I discovered that the UnsupportedOperationException is occurring immediately prior to:
`cnx.sendRequestWithId(request, requestId).thenRun(() -> {`
in `ConsumerImpl.connectionOpened()`, so in the code block below, the line `log.info("ConsumerImpl.connectionOpened(..)22");` never gets hit.

[code]

[2020-02-25 04:00] #3762 closed

[2020-02-25 04:38] oeegee commented on #6342
Hi, @sijie.
How do i do for this problem?

[2020-02-25 06:03] rattanjotsingh opened #6415 "Pulsar Multi Cluster on Kubernetes (AWS)"
**Is your feature request related to a problem? Please describe.**
There is no documentation available on how to deploy pulsar on multi cluster on kubernetes.

**Describe the solution you'd like**
Would love to have a Kubernetes deployment files where we can deploy pulsar across different regions like east and west.

**Describe alternatives you've considered**
http://pulsar.apache.org/docs/en/depl

[2020-02-25 06:38] devinbost commented on #6332
At a closer look, that result only occurred after the first failure. During the first failure, the logs revealed something a little different.

With the additional log messages, they looked like this:

[code]

So, we reach this line:
`ConsumerImpl.connectionOpened(..)15`
which implies that `ConsumerImpl.connectionOpened(..)` was able to successfully run to completion.

After more careful inspectio

[2020-02-25 06:40] rocketraman commented on #3762
@codelipenghui I notice the issue was closed, but I doubt the fix will handle my situation. While it does at least get the actual underlying schema, the shaded Avro version is still the wrong version. Should I open another issue for a fix in which a variant of the client is published with an unshaded avro?

[2020-02-25 06:46] Antti-Kaikkonen commented on #5503
@codelipenghui @sijie
I have created for testing a source connector that produces dummy users every 1 second and a function that only appends "!!!" to the name of each user: https://github.com/Antti-Kaikkonen/PulsarPojoTest. When I run both the source connector and the function I can observe the error in the log file `/tmp/functions/public/default/pojo-function/pojo-function-0.log`. I'm running pu

[2020-02-25 07:09] vzhikserg commented on #3762
@rocketraman the avro version was changed to 1.9.1 in pulsar 2.5.0

[2020-02-25 07:12] rocketraman commented on #3762
@vzhikserg Thanks, that will work for me, though an underlying Avro upgrade probably would have been a good time to uncouple the Avro version from Pulsar to avoid this same problem in the future...

[2020-02-25 07:14] devinbost commented on #6332
My hypothesis was right.

I added these two methods to ProxyConnection:

[code]
because I suspected that these methods were incorrectly getting called on the ProxyConnection type instead of getting forwarded like they're supposed to, and this is what appeared in the log:

[code]

The new error message that I added is most instructive:

`org.apache.pulsar.proxy.server.ProxyConnection - ERROR: We ar

[2020-02-25 07:17] devinbost commented on #6332
Sure enough, when I set local breakpoints, I never hit those two methods on ProxyConnection because the local tests always pass. So, only in the failing case are the methods getting called on ProxyConnection instead of on ServerCnx or some other class.

[2020-02-25 07:58] addisonj opened #6416 "In some instances, producers fail to create after a topic is scheduled onto previously used broker"
**Describe the bug**
When a topic is unloaded from a broker, a producer can attempt to reconnect before the topic is scheduled to a new broker but after the topic is unloaded. In some instances (discussed more below) this re-connection results in a producer that fails to create _or_ error out and leaves a danging `producerFuture` that is never resolved or removed (unless the client terminates it's

[2020-02-25 08:04] sijie commented on #6416
/cc @codelipenghui since he introduced epoch to solve some of the create-producer timeouts.

[2020-02-25 08:38] rfuerst87 commented on #5447
@sijie Thanks for the update. Thought you might have some more insights from the mailing list. Will follow the topic in JIRA.

[2020-02-25 09:07] jiazhai commented on #6330
@dzmitryk Thanks for the issue, and root cause. Would you like to provide a PR to bump the netty version?

[2020-02-25 09:10] xuesong172500 commented on #6330
start broker with function, show errors.

16:11:01.231 [main] WARN  org.apache.distributedlog.impl.BKNamespaceDriver - Could not use Netty Epoll event loop for bookie server:
java.lang.NoClassDefFoundError: Could not initialize class io.netty.channel.epoll.EpollEventLoop
	at io.netty.channel.epoll.EpollEventLoopGroup.newChild(EpollEventLoopGroup.java:142) ~[io.netty-netty-transport-native-epoll-4.

[2020-02-25 09:15] codelipenghui commented on #6175
This issue is related to #6414 since the broker also has an internal pulsar client. And in the standalone docker. The thread named "DLM-/stream/storage-OrderedScheduler-*" also with high CPU load.
[code]

[2020-02-25 10:13] hari819 commented on #6236
@sijie  ,actually the problem was at myside , the shell `"bin/bookkeeper shell metaformat --nonInteractive || true;"`  was missing the zookeeper tls settings ,

i am able to complete SSL/TLS/SASL settings on all the three Zookeeper,Bookkeeper and Pulsar and my pulsar cluster is working fine .

Thanks,

[2020-02-25 10:38] xiemeilong opened #6417 "The client reused in PulsarConsumerSource is closed after first failure."
**Describe the bug**
When flink restart PulsarConsumerSource, PulsarConsumerSource reuse client from cache, but the client is closed. then the AlreadyClosedException will be throwed again and again.

**To Reproduce**
start a PulsarConsumerSource in flink
make a exception or timeout
PulsarConsumerSource will restart again and again and throw AlreadyClosedException

**Expected behavior**
don't  reus

[2020-02-25 10:52] yjshen commented on #4011
@jiazhai Please close this, fixed by https://github.com/apache/pulsar/pull/4779

[2020-02-25 13:31] alijmlzd opened #6418 "Maven Pulsar Functions Utils test failure on standalone setup"
**Describe the bug**
By running `bin/pulsar standalone` to start pulsar standalone it response me run `mvn package`:
[code]
And after running `mvn package` there are test failures:
[code]

[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:
Go to the root of the pulsar binary release downloaded and run `mvn package`.

**Desktop:**
 - OS: macOS 10.14.4

[2020-02-25 15:31] shiv4289 opened #6419 "auto_consume for avro crashes in decode (updated producer .class, old consumer schema .class)"
**Describe the bug**
We use schema compatibility = NONE. This means we can put data as per multiple schemas on the same topic. When we read those values back we build the consumer using AUTO_CONSUME.
On receiving the message,
1.  We extract the schema from message,
2. Construct avro schema from the message in (1)
3. schema.decode(msg)

**This used to work well for us with 2.3 server and 2.3 client

[2020-02-25 16:03] shiv4289 opened #6420 "AvroSchema::decode(byte[] bytes, byte[] schemaVersion) crashes"
**Describe the bug**

Add the following in SimpleSchemaTest.java at the end. Run the below test. It will crash in last line

    @Test
    public void testSchemaVersionUpdate() throws PulsarClientException, PulsarAdminException, ExecutionException, InterruptedException, NoSuchFieldException {
        final String topic = "persistent://my-property/my-ns/testAvroSchemaUpgrade";

        Producer pro

[2020-02-25 18:27] #4011 closed

[2020-02-25 18:28] sijie commented on #6236
cool! @hari819 are you willing to contribute the documentation for this part?

[2020-02-25 20:21] Alxander64 commented on #6264
I've managed to get a cluster working with Docker Swarm by adapting the instructions from the bare metal cluster deployment outlined [here in the official documentation](https://pulsar.apache.org/docs/en/deploy-bare-metal/).

There are 4 stacks defined with compose files, and are brought up in the natural order:
1. `pulsar-zookeeper.yml`
2. `pulsar-metadata.yml`
3. `pulsar-bookies.yml`
4. `pulsar-

[2020-02-25 20:26] Alxander64 commented on #6264
I'm hoping this can be developed further and soon be put up as official documentation. A few goals of mine with this setup in the future are:

1. Add health checks
2. Automate with Ansible
3. Blue/green deployment

[2020-02-26 00:52] codelipenghui commented on #6420
@shiv4289 The last line should be ` schema.decode(msg.getData())` if you want to deserialize by writer schema.

[2020-02-26 01:02] skyrocknroll commented on #6416
We are facing the same issue in our environment when auto unloads kicks in.

[2020-02-26 02:01] codelipenghui commented on #5503
/cc @gaoran10 please also help take a look @Antti-Kaikkonen 's comment.

[2020-02-26 03:34] codelipenghui commented on #6416
@skyrocknroll Which broker version are you used?

[2020-02-26 03:35] skyrocknroll commented on #6416
@codelipenghui 2.4.2

[2020-02-26 06:42] shiv4289 commented on #6420
The issue with my test above was that I did not set a schemaInfoProvider explicitly. Modified test below does not crash as mentioned above. We can close this issue if that is accepted.

    @Test
    public void testSchemaVersionUpdate() throws PulsarClientException, PulsarAdminException, ExecutionException, InterruptedException, NoSuchFieldException {
        final String topic = "persistent://my

[2020-02-26 06:55] shiv4289 commented on #6419
On debugging more, the issue seems to be this:
1. We maintain a library (say, _avro-schemas_) that contains all .avsc files and their generated .class files. Lets say we are on version v1 of this library on producer as well as consumer applications. This works fine.
2. We add a new field (with defaults) to avro in _avro-schemas_, update our library to v2 and update this in the producer application

[2020-02-26 07:08] shiv4289 commented on #6420
The current code is a workaround because I had hit issue#6419. But the current code should work too, no?

[2020-02-26 07:39] dzmitryk commented on #6330
@jiazhai I've opened a PR to bump the netty version - #6424, but I am not sure how to go about testing it. Do you think the existing integration tests cover it?

[2020-02-26 07:40] hari819 commented on #6236
@sijie  yes , but any guide lines , any document format which i need to follow and prepare

[2020-02-26 08:38] trexinc opened #6425 "same pulsar-admin should seamlessly work with both brokers and function workers in a distributed environment"
I am running Function worker as a separate machine, and pulsar-admin gives this error:

[code]

client.conf points to the broker. Changing webServiceUrl to point to the function worker fixes the issue. This is not intuitive and the error message doesn't help. I would expect pulsar-admin to get the Function worker address from the broker somehow and work transparently without the need to use differ

[2020-02-26 08:40] vishalananth07 commented on #6408
Are there any tradeoffs of pointing the cluster to one broker? Will it still work in a distributed manner?

[2020-02-26 12:45] Pixelartist opened #6427 "State Functions - stuck after 3 events?"
**Describe the bug**
We are currently experiencing something which I would consider as a bug. If we deploy a function which affects the state, it stops working at one point, to be exact -> after consuming / processing 3 events.
At the same time, it seems that the bookkeeper API is being affected by it - a request to the state of the function will time out.

**To Reproduce**
Steps to reproduce the

[2020-02-26 14:52] Pixelartist commented on #6427
Additional information - I was able to make it up to a 1000 processed messages, by manually adding messages 1 by 1 ... slowly ramping up to 150 messages every 3 seconds, where it broke with the same result -> being stuck at 3 messages. Will try to find and attach a log of the state table service if I understand where to find it.

[2020-02-26 14:55] vlemaitre commented on #5350
Hello,
I face the same issue on 2.5.0 version.
My Serde classes are into the jar file but the classes are not found when the function starts.
This issue is still present in 2.5.0.
Error logs :

14:52:24.290 [main] INFO  org.apache.pulsar.functions.LocalRunner - RuntimeSpawner quit because of
java.lang.RuntimeException: User class must be in class path
	at org.apache.pulsar.functions.utils.Reflecti

[2020-02-27 00:59] jiazhai commented on #6330
@dzmitryk, @xuesong172500. Thanks a lot for the help.
@dzmitryk .  it should be fine for this bump version, current tests should be enough.

[2020-02-27 03:08] #6403 closed

[2020-02-27 06:43] #6330 closed

[2020-02-27 10:29] racorn opened #6432 "Log automatic topic compaction failures"
**Describe the bug**
If a namespace is set up with a `compaction-threshold`, compaction should be triggered automatically.

I configured a namespace with compaction, produced messages, and in the main log file, I could see that 'phase one' of compaction was started. But there was no sign of phase two, and no WARN or ERROR message. I tried manual compaction with

`bin/pulsar compact-topic --topic p

[2020-02-27 11:03] racorn opened #6433 "MessageId#compare is not symmetric (MessageIdImpl, BatchMessageIdImpl)"
**Describe the bug**
Given to `MessageId`s, of which one happens to be a `MessageIdImpl` and the other is a `BatchMessageIdImpl`, the compare method is not symmetric.

**To Reproduce**
[code]

**Expected behavior**
MessageId#compare should be symmetric

**Additional context**
Pulsar 2.5.0

[2020-02-27 12:24] tongsucn commented on #6000
FYI. The feature is almost done, For now, it improves the throughput bottleneck in shared subscription in our scenario, I'll firstly try it in production envrionment to verify more. After that, I'll add related necessary building and testing code and submit a new pull request.

[2020-02-27 13:51] murong00 commented on #6394
@sijie @codelipenghui The above proposal may not work for `Reader` due to `ReaderBuilderImpl` (i.e. `PulsarClientImpl.doCreateReaderAsync` which calls `ReaderImpl`) does not support to pass `subscription`, its implementation is hard-coded currently. https://github.com/apache/pulsar/blob/760bd1abfa5374bde85e4d938937a0410dfb2674/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ReaderImpl.ja

[2020-02-27 13:51] murong00 commented on #6394
Any advice will be appreciated, thanks.

[2020-02-28 00:20] jiazhai commented on #6433
Thanks @racorn for the reporting. Would you like to provide a fix for this issue?

[2020-02-28 01:52] yjshen commented on #6432
This might be related to `hasMessageAvailable` semantics in `ConsumerImpl`. No logs of phase 2 may denote the compaction is hanging forever.

[2020-02-28 02:22] jiazhai commented on #6427
thanks @Pixelartist for the reporting. It would be great if the log of function worker could be provided.

[2020-02-28 02:39] jiazhai commented on #6414
Thanks a lot for @racorn 's detailed analysis.  your suggestions sounds great. Would you like to provide a fix for this?

[2020-02-28 02:40] jiazhai commented on #6175
would like to close this issue. since it is a dup to 6414

[2020-02-28 02:40] #6175 closed

[2020-02-28 02:46] jiazhai commented on #6418
Thanks @alijmlzd for the reporting. Would you please try to use command `mvn package -DskipTests`?

[2020-02-28 02:48] jiazhai commented on #6418
regarding the error "java.net.UnknownHostException: central.maven.org", it looks like a dns issue

[2020-02-28 04:49] massakam opened #6437 "Backlog messages increase if no consumer is connected to replicated subscription"
**Describe the bug**

If no consumer is connected to a replicated subscription, the number of backlog messages continues to increase. The same is true even if no new messages have been published by the producers.

If this state is left for a long time, the storage allocated to the topic will be exhausted and message publishing will be blocked or backlog messages will be discarded.

**To Reproduce*

[2020-02-28 05:36] jiazhai commented on #5720
Thanks for @KannarFr 's help on this issue.

[2020-02-28 07:09] massakam opened #6438 "Size of replication backlog becomes very large"
Recently, the number of messages in the replication backlog for a particular topic has become very large.
<img width="549" alt="replication_backlog" src="https://user-images.githubusercontent.com/22543882/75522394-3bc57780-5a4d-11ea-9deb-beff22e171e6.png">

This topic is replicated on two clusters, and all producers and consumers are connected to only one cluster. The strange thing is that the rep

[2020-02-28 07:17] jiazhai opened #6439 "libssl.so should be linked dynamically into the libpulsar.a"
libssl.so should be linked dynamically into the libpulsar.a or it would bring in security issue.

[2020-02-28 07:23] aahmed-se commented on #6439
we can use static or dynamic linking in cmake, what's the issue ?

[2020-02-28 08:42] sundar-10 commented on #6408
Will this issue get resolved within the next week? @sijie @jiazhai  We are using it for our college project and we need to present a fully working system. Also, won't pointing to a single broker cause other issues? Sorry for the inconvenience caused. Thanks.

[2020-02-28 09:28] racorn commented on #6432
Yes, I am quite certain that compaction failed in TwoPhaseCompactor.phaseOneLoop as indicated here
 CompletableFuture<RawMessage> future = reader.readNextAsync();
 scheduleTimeout(future);

The readNextAsync() did not complete in 10 seconds, and the whole compaction was aborted (this could also be reported better, but that is another issue i guess).

[2020-02-28 09:53] sprijk opened #6441 "[pulsar-client-cpp] Partition key from producer does arrive in broker"
**Describe the bug**
When using the Java client producer, the setting of Key in MessageBuilder correctly coveys this metadata to the broker. C++ client consumers can then successfully use _Key_Shared_ subscription on this topic and we're seeing the expected keys-based consumption behavior.

However, when we use a C++ client producer, we do not get a "shared key" consumption behavior over the subsc

[2020-02-28 10:17] racorn commented on #6433
Yes, I could, but I am not sure how `MessageIdImpl` and `BatchMessageIdImpl` should compare?

It seems to me that the asymmetry was introduced by purpose with #1285, the code reads as
[code]
But as it is now, it breaks the `Comparable` contract, and that makes it confusing for user of the client API.

[2020-02-28 10:42] racorn commented on #6414
Yes, I can try to implement what I suggested, by mid next week. Will that be OK with you?

[2020-02-28 14:03] cyxu2 opened #6443 "There are several CVEs in the project dependencies"
I noticed some of your libraries contained CVEs. In order to avoid threats, I recommend updating to a safe version. Please look into the details below.
* **Vulnerable Library Version:** org.apache.storm : storm-core : 2.0.0
  **CVE ID:** [CVE-2019-0202](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2019-0202), [CVE-2018-11779](https://cve.mitre.org/cgi-bin/cvename.cgi?name=CVE-2018-11779)
  *

[2020-02-29 01:26] bilahepan commented on #6376
1 topics is deleted success!
2 ```topics list``` show that there not exist any topics under the ```ns```.

[2020-02-29 04:02] #6323 closed

[2020-02-29 11:04] racorn commented on #6414
I wish I had seen this before netty/netty#9710, and the fix netty/netty#9714

As the Netty version is now bumped to 4.1.45 on master, the CPU load is no longer an issue on Windows.

Anyway, @jiazhai, I made the suggested implementation in my forked repository, you can have a look to see if it is of any value. In my opinion, it is an improvement in the ProducerImpl, where `client.scheduledExecutorS

[2020-02-29 11:50] chengchampion opened #6446 "compile pulsar 2.5.0 meet a question"
Failed to execute goal on project pulsar-io-flume: Could not resolve dependencies for project org.apache.pulsar:pulsar-io-flume:jar:2.5.0: Failed to collect dependencies at com.github.stefanbirkner:system-rules:jar:1.17.0 -> junit:junit-dep:jar:4.9.1-SNAPSHOT: Failed to read artifact descriptor for junit:junit-dep:jar:4.9.1-SNAPSHOT: Could not transfer artifact junit:junit-dep:pom:4.9.1-SNAPSHOT f

[2020-02-29 14:13] alijmlzd commented on #6418
@jiazhai Yeah, it seems to have some sort of issues about DNS but still can't fix by using various internet providers or proxies. anyway the command `mvn package` with `-DskipTests` works and fixed the building failures.
Thanks

[2020-02-29 20:53] #6228 closed

[2020-02-29 21:04] sijie commented on #6439
@aahmed-se

In this use case, the customer is building a database plugin which is a dynamic linking library that will be shipped to all database machines. The customer will statically link `libpulsar.a` so they just need to ship libpulsar.a along with their library. They don't need to install `libpulsar.so` and its dependencies.

However we shouldn't static link `libssl` in libpulsar.a, as this is

[2020-02-29 22:23] sijie commented on #6408
@vishalananth07 it will still work in a distributed manner. but the initial topic lookup will hit service unavailability if the broker goes down. @zymap is fixing the issue. we hopefully will merge this issue soon next week.

[2020-03-01 08:01] liudezhi2098 opened #6448 "Support Consumers Set Custom Retry Delay"
## Motivation

For many online business systems, various exceptions usually occur in business logic processing, so the message needs to be re-consumed, but users hope that this delay time can be controlled flexibly. The current user's processing method is usually to send this message to a special retry topic, because production can specify any delay, so consumers subscribe the business topic and r

[2020-03-01 09:28] #6417 closed

[2020-03-01 12:31] kaifeng-h opened #6450 "Library version inconsistency notice."
Hi. I have implemented a tool to detect library version inconsistencies. Your project have 17 inconsistent libraries and 16 false consistent libraries.

Take org.eclipse.jetty:jetty-util for example, this library is declared as version 9.4.20.v20190813 in pulsar-common, 9.3.24.v20180605 in tiered-storage/file-system and etc... Such version inconsistencies may cause unnecessary maintenance effort i

[2020-03-02 02:22] futeng commented on #5206
I had the same problem, and I solved it. I hope it helps. @iravishah @sijie
I configured TLS encryption based on the same [document](https://pulsar.apache.org/docs/en/security-tls-transport/).
When using `bin/pulsar-client` to generate data, the same exception occurs, and the log looks like this:

[code]

I realized it might be a protocol header issue, so I changed the URL from **`pulsar://xxx`**

[2020-03-02 04:44] hari819 commented on #6236
@sijie  , could you please provide me a template which i can use to prepare the documentation part ?

[2020-03-02 06:47] congbobo184 commented on #6419
This exception isn't come from msg.getValue(),  is it convenient to have a look at your schema? I think it is come from producer.send, because you add the field can't be empty.

[2020-03-02 07:28] sijie commented on #6236
@hari819 - you can check this example - https://github.com/apache/pulsar/blob/master/site2/docs/security-authorization.md

[2020-03-02 07:29] sijie commented on #5206
@futeng thank you! Yes. you need to use `pulsar+ssl` to connect to the service.

[2020-03-02 07:35] sijie commented on #6000
Awesome! @tongsucn

[2020-03-02 07:43] sijie commented on #5350
reopen this issue to investigate the problem further.

[2020-03-02 07:51] sijie commented on #6394
We can skip non-durable subscriptions

[2020-03-02 08:06] poulhenriksen opened #6451 "Doing negative ack after ack timeout breaks redelivery in strange ways"
**Describe the bug**

When consuming a message, and the processing takes longer than `ackTimeout` and the result of the processing is to send a `negativeAcknowledge`, it somehow breaks redelivery.

**To Reproduce**
Steps to reproduce the behavior:
1. Set a fairly low `ackTimeout`, say 1001ms.
2. Set DLQ `maxRedeliverCount` to 10.
3. Take longer than `ackTimeout` to process the message (1200ms), an

[2020-03-02 08:09] congbobo184 commented on #6420
I followed your steps, didn't appear exception. I think you upgrade client and broker version, the schema did't have schema version, cause it had been created before.

[2020-03-02 09:10] shiv4289 commented on #6419
Fixed with this in the consumer code:

[code]

[2020-03-02 09:10] #6419 closed

[2020-03-02 09:15] Pixelartist commented on #6427
Hello,

I reproduced the problem once more - with the following output within the log files:

logs/pulsar-standalone.log - empty
tmp/functions/public/default/StateMe/StateMe-0.log - [StateMe-0.log](https://github.com/apache/pulsar/files/4274256/StateMe-0.log)

Please see below - _input_ has more messages than _output_ where java shows a lot of io-errors during restart.

running: `bin/pulsar-admin

[2020-03-02 09:16] Pixelartist commented on #6427
[display_log.log](https://github.com/apache/pulsar/files/4274470/display_log.log)

[2020-03-02 09:17] shiv4289 commented on #6419
Thanks @codelipenghui and @congbobo184 for your help. I will work on generalising this and submit a PR at a later point in time so this code can become a part of native consumer.

[2020-03-02 09:30] #6420 closed

[2020-03-02 12:52] racorn opened #6453 "Pulsar Java client: Use System.nanoTime() instead of System.currentTimeMillis() to measure elapsed time"
**Describe the bug**

More an improvement than a bug, but

`ConsumerBase` and `ProducerImpl` use `System.currentTimeMillis()` to measure the elapsed time in the 'operations' inner classes (`ConsumerBase$OpBatchReceive` and `ProducerImpl$OpSendMsg`).

An instance variable `createdAt` is initialized with `System.currentTimeMills()`, but it is not used for reading wall clock time, the variable is onl

[2020-03-02 14:02] murong00 commented on #6394
@sijie Thanks for the advice. I have submitted a fix, please help to review when you are available.

[2020-03-02 16:02] SakaSun commented on #6290
I'm experiencing the same problem.

[2020-03-02 18:04] mannjani opened #6459 "Unable to disable logs for python bindings"
**Describe the bug**
I am not able to disable logs from python bindings.
I have tried passing an empty file into log_conf_file_path.
I have tried passing a valid log4cxx configuration file without any console appenders.
It is still printing logs on the console

**To Reproduce**
Steps to reproduce the behavior:
1. Create an empty file named empty
2. Start python console
3. import pulsar
4. c = puls

[2020-03-02 19:02] slominskir commented on #5996
I think this is fixed now?   I cannot reproduce.

[2020-03-02 19:55] #6168 closed

[2020-03-03 02:31] jiazhai commented on #6414
Thanks @racorn for your great help. Agree with you, we could leave it as it is.  And would like to close this issue.

[2020-03-03 02:31] #6414 closed

[2020-03-03 02:33] jiazhai commented on #6366
@lonerzzz There seems be some issue related with this situation. e.g. #6414

[2020-03-03 02:58] jiazhai commented on #6319
@ltamber Thanks for the help. Seems it can be stable reproduce, and you are close the the root cause. Maybe we need to handle the release of disable-pooling connection in a different way.
In the `ConnectionPool`, (maxConnectionsPerHosts == 0) means a "disable pooling".

[2020-03-03 04:50] k2la opened #6461 "Redelivery of messages by negative ack happened more early on C++."
On pulsar-client-cpp, when `NegativeAckRedeliveryDelayMs` was `10000`,  redelivery of messages by negative ack happened a few times in 10 seconds.

#### Expected behavior

[code]

#### Actual behavior

[code]

#### Steps to reproduce

Execute the following code:
[code]

#### System configuration
**Pulsar version**: master, 2.4.2
**MacOS**: 10.15.2
**cmake**: 3.16.3
**GNU Make**: 3.81

[2020-03-03 07:04] #6333 closed

[2020-03-03 07:21] #6453 closed

[2020-03-03 12:24] eladchen commented on #4481
Hi,

This still appears to be broken (using version 2.5.0)

[2020-03-03 14:39] jiazhai commented on #6446
@chengchampion  Would you please try "mvn clean install -DskipTests"?

[2020-03-03 14:40] jiazhai commented on #6448
Thanks for the great work @liudezhi2098

[2020-03-03 14:52] jiazhai commented on #6360
@scr-oath Would you like to provide a fix for this?

[2020-03-03 14:53] jiazhai commented on #6360
Thanks a lot for the reporting and analysis.

[2020-03-03 15:17] kevin-kosmos opened #6462 "getLastMessageId from PulsarAdmin doesn't work with BatchMessageIdImpl"
**Describe the bug**
A topic created with a producer in batch mode generates batch messages id : ledgerId:entryId:partitionIndex:batchIndex.
The getLastMessageId method return a MessageIdImpl which doesn't use the batchIndex parameter.

**To Reproduce**
1. Send messages with a producer in batch mode :
`

        public class ProducerTest {
	public static void main(String[] args) throws Exception {

[2020-03-03 17:19] lonerzzz commented on #6366
@jiazhai Thanks for the notification. I am not sure if this situation is the same or not based on reading #6414 since what I am seeing is an increase in the number of threads. The threads are each only using a few percent CPU, but the large number of threads is what results in the high level of CPU usage. Additionally, the increase is over time and not present when the client is first started and

[2020-03-03 20:42] spark-louissalin opened #6463 "pulsar-client 2.5 - Segmentation fault: 11 on Mac OS 10.14.6 using Python 3.7.6"
**Describe the bug**
Repeatedly opening and closing a client and producer will eventually cause a segmentation fault 11 and the python interpreter will crash.

**To Reproduce**
Within a python 3.7.6 interpreter and using the pulsar-client 2.5 pip library, repeat the following until a seg fault happens:
* create a client
* create a producer
* close the client

For example:

[code]

**Expected behav

[2020-03-03 22:46] hrsakai opened #6464 "Topics with replicated subscription are not deleted in GC"
There is a topic with a replicated subscription.
If I delete the replicated subscription and all clients disconnect, the topic has no subscriptions or clients, but GC doesn't delete the topic.
I have to delete the topic manually with pulsar-admin command tool.
This cause seems to be related to marker messages(snapshot request and response).
Replicators in each cluster continue to publish marker me

[2020-03-04 03:27] codelipenghui commented on #6451
@pouledodue If specified ack timeout for a consumer represents the redelivery of the message is handled by the consumer automatically. If you want to redeliver messages manually, you'd better keep ack timeout absent. As the current logic, If you send a negative ack request, this will remove the negative acked message from the unack message tracker, so this leads to uncertainty in the number of ret

[2020-03-04 09:17] cmdares opened #6465 "Improved feature jdbc-sink"
**Is your feature request related to a problem? Please describe.**
I used to confluent formerly, but now I want to switch to plusar. And found jdbc sink slightly weak
1、Mainstream database is not supported like Postgresql Oracle Mssql
2、Sink feature still need to be enhance.
**Describe the solution you'd like**
Reference:
https://docs.confluent.io/current/connect/kafka-connect-jdbc/sink-connector/

[2020-03-04 10:36] bleacha870721 opened #6467 "Attempting to use token authentication in pulsar standalone but 401 Unauthorized"
**Describe the bug**
I am trying to run pulsar standalone using token-based authentication. I have add following lines to standalone.conf. but it is still 401 when i called restful api

**Desktop (please complete the following information):**
 MacOS

[2020-03-04 10:40] bleacha870721 commented on #6467
`# Enable authentication
authenticationEnabled=true

# Autentication provider name list, which is comma separated list of class names
authenticationProviders=org.apache.pulsar.broker.authentication.AuthenticationProviderToken

# Enforce authorization
authorizationEnabled=true

# Authorization provider fully qualified class-name
authorizationProvider=org.apache.pulsar.broker.authorization.PulsarAut

[2020-03-04 11:00] sakthi-prasad opened #6468 "Unable to create partitioned topic which is a substring of an existing topic"
**Describe the bug**
Unable to create partitioned topic which is a substring of an existing topic

**To Reproduce**
1. Create a partitioned topic using below command
_**./pulsar-admin topics create-partitioned-topic persistent://public/default/create_substring_topic -p 1**_
2. Create another partitioned topic using below command. The topic name is a substring of above created topic

 _**./pulsar-a

[2020-03-04 11:53] bleacha870721 commented on #6467
Thanks.

[2020-03-04 11:54] #6467 closed

[2020-03-04 12:07] pouledodue commented on #6451
cc @poulhenriksen

[2020-03-04 12:13] agilob commented on #3121
I'm not using k8s, but this bug is transferable to docker and standalone too. I can confirm that running `bin/bookkeeper shell metaformat` fixes the issue of bookkeeper not starting.

I run this to fix the bookies not starting because of the error above

[code]

https://bookkeeper.apache.org/archives/docs/master/bookkeeperConfig.html

[2020-03-04 12:38] rfetishkevi commented on #3044
Are there any updates regarding this issue?
We are experiencing something very similar every 2-3 days. It looks like Zookeeper is disconnected on arbitrary broker and this makes whole pulsar cluster unavailable for a couple of minutes, which is fatal for our system.
We are running single Pulsar 2.4.1 cluster on a bare metal and haven't noticed any problems with network.

Such failures are beginnin

[2020-03-04 15:48] poulhenriksen commented on #6451
Yes, as a workaround, I could stop using ack timeout, but would then have to implement something similar myself to ensure processing can time out.

Is this something that is hard to fix? Without having looked at the implementation, it seems like the fix would be to not have the negative ack remove the message from the unack message tracker if that message processing has already timed out?

I also

[2020-03-04 17:22] sijie commented on #6468
Confirmed that this behavior doesn't exist in pre-2.5.0 release. But it seems that 2.5.0 brought in some regressions. @codelipenghui

[2020-03-04 17:27] devinbost opened #6470 "[website] Foreign language pages are all broken"
There’s a dead link (http://pulsar.apache.org/en/admin-rest-api/#/) on this page: https://pulsar.apache.org/docs/en/admin-api-overview/

It appears in several places and takes me to an empty web page.

[2020-03-05 00:10] bry00 opened #6477 "Python client `consumer.receive()` call suspends processing of interrupts within the program"
**Describe the bug**
Python client `consumer.receive()` call suspends processing of interrupts within the program
(including SIGTERM, SIGINT) which makes difficult to implement graceful shutdown.

There was a [similar issue](https://github.com/apache/pulsar/pull/675) some time ago, but it was obviously not implemented.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the following Python

[2020-03-05 01:21] #6394 closed

[2020-03-05 05:59] prasad-reddyk opened #6479 "Bookie Journal Queue Length is increasing gradually during performance test executions"
**Describe the bug**
Bookie Journal Queue Length is increasing gradually during performance executions
**To Reproduce**
Steps to reproduce the behavior:
1. Install Pulsar 2.5.0-08 on kubernetes cluster environment ( 3 Bookies, 3 brokers,3 proxy).
2. Create a topic with three partitions.
2. Run longevity test (48 hours) by passing 1 KB message size as input to send data to created topic in step 2
3

[2020-03-05 07:42] huangdx0726 commented on #5996
It's fixed.

[2020-03-05 07:42] #5996 closed

[2020-03-05 12:05] alexyans opened #6481 "Producer connection auto-closes after unspecified timeout"
**Describe the bug**
I came across this using the node client, but it appears to be a server issue. When I create a new producer, I can send messages successfully, which rules out TLS handshake problems. Connecting to pulsar appears to be okay.

If, however, the producer connection remains idle for about 200 milliseconds, I get the following console output (hosts and remote IPs omitted):

[code]

[2020-03-05 14:40] racorn opened #6482 "Memory leak during automatic topic compaction"
**Describe the bug**
When the automatic log compaction is triggered for a topic within a namespace with active compaction-threshold, there is severe leak of direct memory, eventually causing broker shutdown:
[code]
Digging into this, it seems the phase two of compaction leaks most.

**To Reproduce**
Steps to reproduce the behavior:

1. start pulsar-broker with leak detection 'Paranoid'
`-Dpulsar.a

[2020-03-05 14:51] racorn commented on #6482
I will create a pull request to fix this.

[2020-03-05 15:43] alijmlzd commented on #6481
I have the same issue using client `pulsar-client-node` and running pulsar server insider docker on macOS.

[2020-03-05 17:26] chrismiller opened #6484 "pulsar-client-admin-2.5.0.jar contains an unshaded protobuf dependency"
**Describe the bug**
The pulsar-client-admin-2.5.0.jar available on Maven Central incorrectly contains an unshaded protobuf dependency.

**To Reproduce**
Steps to reproduce the behavior:
1. Unzip https://repo1.maven.org/maven2/org/apache/pulsar/pulsar-client-admin/2.5.0/pulsar-client-admin-2.5.0.jar and observe that there are protobuf classes located under the com.google.protobuf.* package.

**Exp

[2020-03-06 02:38] jiazhai commented on #6482
Thanks @racorn for your great help.

[2020-03-06 02:41] jiazhai commented on #6484
@yjshen Would you please help check this issue?

[2020-03-06 02:46] jiazhai commented on #6470
![image](https://user-images.githubusercontent.com/6348208/76045309-a586d980-5f97-11ea-9957-8677811a465a.png)
this link should be "https://pulsar.apache.org/admin-rest-api?version=2.5.0"

[2020-03-06 02:47] jiazhai commented on #6470
![image](https://user-images.githubusercontent.com/6348208/76045405-e7b01b00-5f97-11ea-9d45-2a68851bda80.png)

[2020-03-06 02:49] jiazhai commented on #6470
@devinbost Thanks a lot for the help. I found 2 links in above pictures, which should link to "https://pulsar.apache.org/admin-rest-api?version=2.5.0".  Is there any other places?

[2020-03-06 06:07] devinbost commented on #6470
It looks like the link works when "/en/" is not part of the URL. For example, this works:
[http://pulsar.apache.org/admin-rest-api/?version=2.5.0](http://pulsar.apache.org/admin-rest-api/?version=2.5.0)
but this does not:
[http://pulsar.apache.org/en/admin-rest-api/?version=2.5.0](http://pulsar.apache.org/en/admin-rest-api/?version=2.5.0)

It looks like the "/en/" part is in the Javascript, so I'd

[2020-03-06 06:17] devinbost commented on #6470
I found over 1300 instances of dead links on this site (before I stopped the process) by using this tool: https://www.brokenlinkcheck.com/broken-links.php#status
(It wouldn't let me export the list of URLs without paying for commercial support.)

A percentage of the links are not real links, such as pulsar://localhost:6650
However, it appears that all of the language-specific links are broken, suc

[2020-03-06 06:19] devinbost commented on #6470
For example:
![image](https://user-images.githubusercontent.com/7418031/76057772-b30c7700-5f37-11ea-8e8f-69c857cb2e85.png)

[2020-03-06 06:32] #6482 closed

[2020-03-06 07:40] devinbost opened #6492 "[pulsar-bookkeeper] Failed to open rocksdb"
We got this exception in our production logs:

`ERROR org.apache.bookkeeper.statelib.impl.kv.RocksdbKVStore - Failed to open rocksdb at dir /pulsar/data/bookkeeper/ranges/ranges/000000000000000002/000000000000000001/000000000000000000`

This incident was associated with an occurrence of this issue: https://github.com/apache/pulsar/issues/6054
but we haven't been able to track down a distinct cause

[2020-03-06 07:43] devinbost opened #6493 "[pulsar-broker] Policies not found"
We got this exception in our production logs:
[code]
We were able to reproduce it by running this command:
[code]
However, we were only able to reproduce it by running that command on that particular broker (broker12).

This incident happened at the same time as: https://github.com/apache/pulsar/issues/6492
and https://github.com/apache/pulsar/issues/6054

[2020-03-06 07:45] devinbost commented on #6493
I was also told that we were having issues with starting function instances on that same particular broker that was acting up.

[2020-03-06 07:48] devinbost commented on #6493
We're also noticing that one of the namespaces intermittently is missing when we run:
[code]

[2020-03-06 08:27] congbobo184 commented on #6464
@hrsakai do you set-retention for the namespace from the topic?

[2020-03-06 08:50] yjshen commented on #6484
I will check on this later

[2020-03-06 08:50] #6468 closed

[2020-03-06 09:03] wonko opened #6496 "ReceiverQueueSize: -1 prefetches one message"
**Describe the bug**
When subscribing to a shared topic, and pulling messages one by one with a settings of `ReceiverQueueSize: -1` (golang client), it seems like it still prefetches one message.

**To Reproduce**
I created a simple go client based on the example, and introduced a sleeptime, which simulates the working time (code below).

Run the setup as follows:
- Make sure pulsar is running (i

[2020-03-06 09:38] liujiejie opened #6497 "create the producer will core in c++"
**Describe the bug**
A clear and concise description of what the bug is.
When I start the system to create the producer，The program will lose its core。The program is run in linux and Encoding with c++.
and my code is:
    send_callback_ = std::bind(&RegisterPulsar::SendCallbackFunc,
        this, std::placeholders::_1, std::placeholders::_2);
    SendTopicInfo* send_info = new SendTopicInfo;
    s

[2020-03-06 09:49] congbobo184 commented on #6462
@kevin-kosmos  broker don't store the batchIndex, client only loop set batchIndex.

[2020-03-06 15:33] junquero opened #6501 "Pulsar SQL Fails Out of the Box with Default Docker Deployment v2.5.0"
**Describe the bug**
Run pulsar docker

**To Reproduce**
Steps to reproduce the behavior (commands in bold):
1. `docker volume create pulsar_conf`
   `docker volume create pulsar_data`
   `docker run --name pulsar -it -p 6650:6650 -p 7080:8080 -v pulsar_data:/pulsar/data -v pulsar_conf:/pulsar/conf apachepulsar/pulsar-all:2.5.0 bin/pulsar standalone`

2. `docker exec -it pulsar /bin/bash`
2.1   #

[2020-03-06 17:00] junquero commented on #6501
Tested also with latest right now. It behaves difeerently:

show schemas does work right, but show tables never ended because the broker did crash

1. presto> `show schemas in pulsar;`

presto> `show tables in pulsar."public/default";`

### here the query hangs and the broker crashes.

[2020-03-06 17:33] junquero commented on #6501
I edited the description of the issue to add two volumes creation commands before running the container.

[2020-03-06 17:40] junquero commented on #6501
I have to say that with a clean environment, it has worked with latest version. I just removed previous volumes (that were created and populated with data with a pulsar 2.5.0 container), and it worked. Now I'm going to try again with 2.5.0.

[2020-03-06 20:49] lonerzzz commented on #6493
Was just looking into a similar issue for my own system and saw your post... I identified the problem by connecting with the zookeeper client to the different zookeeper servers. I saw that the appropriate namespace entry was missing under the /namespace path on one of the zookeeper servers. The zookeeper server had lost sync with the others zookeeper servers.

To resolve, I had to clean the snapsh

[2020-03-06 20:58] lonerzzz opened #6503 "Vague error message when pulsar zookeeper namespace information is missing"
**Describe the bug**
When the client cannot access the /namespace path on the zookeeper server, it generates a vague error making it hard to diagnose the cause of the problem: "Policies not found for public/default namespace"

2020-03-06 16:52:04,272 WARN  org.apache.pulsar.client.impl.BinaryProtoLookupService        - [persistent://public/default/parameterizedProcessing] failed to get Partitioned

[2020-03-07 03:01] rdhabalia opened #6505 "Broker fails to load topic and not able to recover data-ledger"
### Issue

Broker was not able to load the topic due to failure while loading data ledger of the topic.
Data ledger has 2 write/ack quorum and one of the bookie went down and recovery was keep failing and bookkeeper client was not able to recover the ledger.

**Broker log**

[code]

**Ledger metadata**

[code]

**Root cause:**
Bookie should be able to recover ledger once it receives the response f

[2020-03-07 03:05] rdhabalia commented on #6505
Created PR in https://github.com/apache/bookkeeper/pull/2281

[2020-03-07 03:34] lonerzzz opened #6506 "ConsumerImpl class exception on Timeout provides misleading error detail"
**Describe the bug**
The ConsumerImpl class internalReceive method throws an InterruptedException when the attempt to receive a value times out. The exception is as follows:

2020-03-07 00:05:29,782 WARN  org.apache.flink.streaming.runtime.tasks.StreamTask           - Error while canceling task.
java.lang.Exception: org.apache.pulsar.client.api.PulsarClientException: java.lang.InterruptedException

[2020-03-07 08:07] devinbost commented on #6503
I think this is the same issue: https://github.com/apache/pulsar/issues/6493

[2020-03-07 09:33] liangyuanpeng opened #6507 "[deployment]wrong k8s yaml config and env do not update"
**Describe the bug**

1.env is not working
2. some ``apiVersion``  need update

**To Reproduce**
Steps to reproduce the behavior:
1. Go to ``pulsar/deployment/kubernetes/generic/k8s-1-9-and-above`` or ``pulsar/deployment/kubernetes/generic/origin``
2. run  ``kubectl apply -f .``
3. run ``kubectl pods -w ``
4. See error:
[code]

container log :
[code]

the reason is ``apply-config-from-env.py`` is

[2020-03-07 17:05] eladar2000 commented on #6462
@congbobo184 I don't understand ? If the batchIndex is not stored on the broker side, all the messages of the same batch have the same Message id (as described before, the batch id is the only changing part in the id) ? So it is not possible to target a specific message created inside a batch ?

[2020-03-08 09:42] ilyam8 opened #6510 "negative `unackedMessages` in consumers stats"
**Describe the bug**

Pulsar docker image `apachepulsar/pulsar:2.5.0`. Standalone mode.

I noticed that `pulsar_subscription_unacked_messages` value in the prometheus stats is a negative number for `non-persitent` topics.

**According my tests (not extensive) the bug appears only when topic type is `non-persistent`**.

Related: #5929

___

That is what i get:

[code]

[code]

**To Reproduce**
Step

[2020-03-08 12:14] alexvanboxel commented on #5447
I've taken over the ticket. I'm familiar with Beam, less so with Pulsar (I want to learn Pulsar, creating the IO). I'll be starting locally with Pulsar in standalone mode, as soon as I have a prototype I'll keep updates on this thread.

[2020-03-09 02:20] congbobo184 commented on #6462
client will merge this batch give an entryId, send the entry to broker. so, i think you can setProperty for this message to target a specific message.

[2020-03-09 03:12] congbobo184 commented on #6462
I will fix this, and every time it will return the last of batchIndex.

[2020-03-09 03:37] sijie commented on #5447
@alexvanboxel awesome! much appreciated your help!

You can also check how Pulsar was integrated with Spark and Flink as a reference. The pulsar-flink one is the one is contributed to upstream Flink as [FLIP-72](https://cwiki.apache.org/confluence/display/FLINK/FLIP-72%3A+Introduce+Pulsar+Connector) and

https://github.com/streamnative/pulsar-spark
https://github.com/streamnative/pulsar-flink

@yj

[2020-03-09 07:08] alexvanboxel commented on #5447
Great, I appreciate the help. I can happily report that after a few hours I already got some basic Google Cloud Pubsub -> Apache Beam -> Pulsar pipeline working (on the local runner). Don't get too excited to, still a lot of work to be done.

I'll have a look at the integrations.

[2020-03-10 00:47] devinbost commented on #6054
We noticed that after one of these situations, our Zookeeper nodes had gotten out of sync. We ran a diff after scraping the Zookeeper data on each of the ZK instances, and we noticed that only one ZK instance was behind (although we weren't able to check the ledger data since it's constantly changing.) The difference we noticed was that the ZK instance that was behind was missing several values in

[2020-03-10 00:50] devinbost commented on #6054
@addisonj Have you noticed anything similar?

[2020-03-10 02:02] hrsakai commented on #6464
@congbobo184 I don't set retention.

[2020-03-10 18:35] russorat opened #6514 "Update InfluxDB Sink to connect to InfluxDB 2.0 write API"
**Is your feature request related to a problem? Please describe.**
The latest InfluxDB release has changed their write path slightly and requires a token to communicate with it. This feature request would add support to the latest InfluxDB 2.0 write API.

**Describe the solution you'd like**
I'd like to be able to choose a version of InfluxDB to write data to, and specifying the Token, Org, bucket

[2020-03-10 20:43] CatherineThompson commented on #6493
This worked! We found that in one of our zookeeper servers, a couple /admin/policies namespace zkNodes were missing. We followed the above instructions and brought our zookeeper back up with no issues.

[2020-03-10 20:59] devinbost commented on #6493
@CatherineThompson Thanks for sharing!
:)

[2020-03-11 03:46] jiazhai commented on #6514
Thanks @russorat for this reminder. Mark this as help wanted.  Would you like to contribute to it?

[2020-03-11 03:49] jiazhai commented on #6510
@codelipenghui  #5929,  Would you please help on this issue?

[2020-03-11 07:39] kemburi opened #6517 "BCFIPS not supprted with pulsar client libraray"
**Describe the bug**
Need bcfips support for pulsar clinet.

**To Reproduce**
Steps to reproduce the behavior:
Just deploy on a jboss server which has bcfips support.
Pulsar client will fail with NoClassDefFoundError:

**Expected behavior**
there should be an option to provde a security provider. like bcfips.

**Additional context**
java.lang.NoClassDefFoundError: Could not initialize class org.ap

[2020-03-11 08:40] ilyam8 opened #6518 "health monitoring, alarms"
**Is your feature request related to a problem? Please describe.**

There is apache pulsar [deploy-monitoring article](https://pulsar.apache.org/docs/en/deploy-monitoring/#__docusaurus), it describes how to to collect metrics.

These are exposes metrics (via prometheus endpoint)

Most of them are performance metrics, it is very nice to have them but it is **not clear how to monitor health status o

[2020-03-11 09:15] yjshen commented on #6517
I suppose this should be a feature request?

[2020-03-11 09:50] kemburi commented on #6517
could be, we have an issue where our jboss server already has bcfips jars included, hence this client itself failing, if there is an option to add bcfipis as some parameter, i am fine to accept this as feature.
Is there any configuration to load a particular secuirty provider?

[2020-03-11 10:00] jiazhai opened #6519 "Functions runtime support consume messages asynchronously"
Functions runtime does not allow to consume messages asynchronously. Async communication is needed when a message processing requires communication with external system.

[2020-03-11 10:02] jiazhai opened #6520 "Provide support to configure different docker images for go, python, java function"
Provide support to configure different docker images for go, python, java function

- [ ] java
- [ ] python
- [ ] go

[2020-03-11 10:02] jiazhai opened #6521 "Make function TLS configuration independent of function worker TLS configuration"
Make function TLS configuration independent of function worker TLS configuration

[2020-03-11 10:04] jiazhai opened #6522 "Support plug in KubernetesManifestCustomizer in function worker while launching function"
Provide support to plug in an implementation of KubernetesManifestCustomizer in function worker while launching function.
Currently the implementation needs to be part of function worker docker image

[2020-03-11 10:11] congbobo184 commented on #6464
is your what brokerDeleteInactiveTopicsEnabled = true in broker.conf?

[2020-03-11 11:56] terrencehan opened #6523 "Consume the last N messages from Pulsar"
In our product, we need to show the last N messages to users. While using Kafka, we could simply pull messages based on Offset.  Is there an equivalent of method or API for Pulsar?

It seems we could only subscribe to a topic and try to move the cursor to some point based on messageId. But it hard to determine which messageId should be used, because messageId is not sequential.

[2020-03-11 12:00] kemburi commented on #6517
static {
// Fixes loading PKCS8Key file: https://stackoverflow.com/a/18912362
java.security.Security.addProvider(new org.bouncycastle.jce.provider.BouncyCastleProvider());
}
Above hardcoding mandates that we should always use  org.bouncycastle.jce.provider.BouncyCastleProvider(), which i think is a bug, it could read from a system property which would become configurable.
This will impact anyone w

[2020-03-12 03:43] cmdares opened #6525 "Improved feature pulsar-sql"
**Is your feature request related to a problem? Please describe.**
I used to confluent formerly, but now I want to switch to plusar. And found pulsar-sql slightly weak.
**Describe the solution you'd like**
confluent plays an important role in Kafka ecosystem and is highly innovative. In particular, the function of ksql is revolutionary. At present, the function of pulsar SQL is relatively weak. I

[2020-03-12 04:56] gmethvin opened #6526 "Allow topic compaction to discard messages with duplicate key"
**Is your feature request related to a problem? Please describe.**

It's often the case that a producer gets interrupted in the process of producing a series of messages to a topic, perhaps due to an application restart or crash. In many cases it is useful that only one message per key is produced to the topic. For example, if the messages represent emails to be sent, we may want only one email me

[2020-03-12 11:22] yjshen commented on #6484
The unshaded part was introduced deliberately by https://github.com/apache/pulsar/pull/3184/files#diff-9de37f4080556c0ee70ef82b066396f7R120-R122.

@jerrypeng since you added these, any ideas on why not shading the protobuf classes?

[2020-03-12 13:46] geomagilles opened #6527 "Having a Key_Shared mode for functions"
**Is your feature request related to a problem? Please describe.**
As functions can manipulate states, race conditions may occur if multiple instance of the same function are processed in parallel and update state for the same key.

**Describe the solution you'd like**
having a Key_Shared mode for a function's instances - similar to Key_Shared subscription mode for consumers  - would provide the g

[2020-03-12 14:58] bastman opened #6528 "JSONSchema Deserializer does not work with kotlin data classes"
* producer , consumer example*

The consumer fails with error:
[code]

[code]

* side notes *
jackson-module-kotlin is not used by the build in objectmapper

Is there any chance to get that supported?
alternative: let's pass in the pre-configured objectmapper as argument of schema factory.

[2020-03-12 18:36] devinbost opened #6530 "Restrict permission to create new subscription for given role - force role to use existing subscription"
We need a way to restrict a role to only be able to use a subscription that has been assigned (i.e. created with a different role.) This feature would be helpful for our CI/CD automation for when we provision a new tenant/namespace for a team. We need to ensure that we know who is using the subscription that we create, so we need to force users on the team to only be able to use the subscription t

[2020-03-12 23:14] Lanayx opened #6531 "Add subscriptionPosition as a parameter on function creation"
**Is your feature request related to a problem? Please describe.**
I'd like to use pulsar functions for request-response pattern where topics are dynamically created per application node. For that I'd like to use pattern-based function, but it is unable to grab initial messages that got into the topic before pattern-based function recognizes them.

**Describe the solution you'd like**
I'd like to

[2020-03-13 03:01] oeegee commented on #6342
How can I solve this problem?
Is there anything I can help?

[2020-03-13 08:43] archfish opened #6535 "[BUG]Msg duplicate when consumer in Failover mode"
**Describe the bug**
Msg duplicate when consumer in Failover mode

**To Reproduce**
Steps to reproduce the behavior:
1. create a subscribe name A to topic B
2. send some message C to topic B
3. create consumer with subscribe name A in Failover mode, consumer name AA
4. get message C in consumer AA, an sleep seconds
5. create consumer with subscribe name A in Failover mode, consumer name BB
6.  con

[2020-03-13 08:46] archfish commented on #6535
[code]

[code]

[2020-03-13 12:06] tongsucn commented on #6000
PR is created. However, the Backwards Compatibility CI checking failed because of docker storage. Retry later.

[2020-03-13 13:38] JKeyZ opened #6536 "create partition topic by function"
how can i to create  new patitioned topics by function?

The partition number is defind by user-config by function

[2020-03-14 15:36] chairmank commented on #6410
The related issue in BookKeeper is https://github.com/apache/bookkeeper/issues/2289

[2020-03-14 16:14] chairmank commented on #6410
One of the dependencies that is not currently available as a Conda package is [`ratelimit`](https://github.com/tomasbasham/ratelimit). This is a tiny library. The last commit was over 1 year ago.

I expect that it will be easy to package `ratelimit` Conda package format. For longer-term maintainability, it would be better for the Pulsar project to drop this dependency in the next release, and inst

[2020-03-15 04:55] liangyuanpeng commented on #5947
You can try :
[code]

Function worker has no ``functions list API (for all tenant)``

[2020-03-15 08:02] jiazhai opened #6538 "[GitHub Action]: CI - Integration - Backwards Compatibility, failed for docker no space"
Several PR has github action failed with error:
[code]

https://github.com/apache/pulsar/actions?query=workflow%3A%22CI+-+Integration+-+Backwards+Compatibility%22

[2020-03-15 13:43] hailin0 opened #6540 "java-client:2.4.1 consumer message missing"
**Describe the bug**
java-client:2.4.1 consumer message missing when SubscriptionType "Key_Shared"

**To Reproduce**
Steps to reproduce the behavior:

a. pulsar server: 2.4.1
b. pulsar client: java client 2.4.1
c. consumer use SubscriptionType "Key_Shared"

1. Create partitioned topic
./pulsar-admin topics create-partitioned-topic persistent://public/default/test --partitions 3

2. Producer messag

[2020-03-16 03:32] codelipenghui commented on #6510
@ilyam8 I think #5929 can fix this issue because of the value of `maxUnackedMessages` always 0 for a non-persistent topic's consumer.

[2020-03-16 03:52] sijie commented on #6342
@tuteng can you help look into this issue?

[2020-03-16 04:26] codelipenghui commented on #6523
Yes, currently only support reset cursor by time or message ID. Maybe it needs to support reset cursor by messages count(e.g. last 100 messages) in Pulsar and since a message can be a batch message. If we want to reset to precise last 100 messages, This can be an expensive operation since the broker needs to get the message metadata and counting the number of messages.

[2020-03-16 05:53] ilyam8 commented on #6510
Oh, i didnt notice `2.5.1` label in the #5929, i thought is is in the `2.5.0`.

Ok, so this issue is duplicate of #5755, feel free to close. Thx!

[2020-03-16 10:06] codelipenghui commented on #6540
Looks related to #5894 if it happens occasionally.

[2020-03-16 10:09] codelipenghui commented on #6510
Ok, thanks for your feedback, close this issue via #5929

[2020-03-16 10:09] #6510 closed

[2020-03-16 12:16] brouwerorange commented on #6408
@vishalananth07
in case of me, I faced same issue when I set webServiceUrl as more than one brokers in client.conf.
maybe you can try to set one broker in webServiceUrl.

Best regard

[2020-03-16 15:01] jiazhai commented on #6523
@terrencehan Regarding MessageId, It could get from the produce.send or consumer.receive.  Maybe reader api is more suitable for this case. 1), set reader init MessageId, 2) read N messages.  the initial messageId maybe similar to the way how you get kafka Offset.

[2020-03-16 15:10] jiazhai commented on #6536
@JKeyZ you can use [pulsar-admin](https://pulsar.apache.org/docs/en/pulsar-admin/#create-partitioned-topic) or rest api to create partitioned topic before starting a Pulsar functions.
Or, you could reset broker.conf for "auto create partition number"(this is currently broker level setting):
[code]

[2020-03-16 15:26] zxbfeng opened #6542 "Create Producer and Consumer failed"
**Describe the bug**
The consumer subscribes multi topics, and  at the same time  create the correspond producers
to produce messages, but I got error , and the errors repeated if I restart the server.

The client received error like this:
"server error: UnknownError: org.apache.pulsar.broker.service.BrokerServiceException$ServiceUnitNotReadyException: Namespace bundle for topic (persistent://myte

[2020-03-16 15:28] jiazhai commented on #6535
hi @archfish  There maybe some mis-understanding regarding the dup.  Only an ack-ed message is considered no need for redeliver in pulsar.
After #4604, included in 2.5.0 release, only the first connected consumer is active, it should avoid the consumer switch.

[2020-03-16 15:34] jiazhai commented on #6542
Thanks @zxbfeng. This looks like a concurrent issue.  Would you like to share your code example for reproducing this ?

[2020-03-16 16:10] zxbfeng commented on #6542
yes, I used the pure go client, and in order to adapt to the inner load balance system I wrappered it. the wrapper file as below.
[pulsarwrapper.go.txt](https://github.com/apache/pulsar/files/4339053/pulsarwrapper.go.txt)

The Type "SConsumer and SProducer" is the export type, the use of the this type is in a function,like this:
func  consumeMessage() {
       consumer := plusarwrapper.Consuemer(o

[2020-03-16 16:12] zxbfeng commented on #6542
I have forget the defer producer.Close() and  defer consumer.Close().  These sentences have wrote in the real code

[2020-03-17 03:58] archfish commented on #6535
This helps, Thanks!

[2020-03-17 03:58] #6535 closed

[2020-03-17 04:43] congbobo184 commented on #6464
How did you delete the replicated subscription by admin api? you forcefully delete the topic manually? I look at the code if you delete the replicated subscription and another cluster will not delete the replicated subscription. so i think the problem is here.

[2020-03-17 08:58] zxbfeng commented on #6542
Maybe the error was caused by "namespace bundle" ?

[2020-03-17 11:22] #6538 closed

[2020-03-18 01:46] #5902 closed

[2020-03-18 01:48] #6462 closed

[2020-03-18 02:31] zymap commented on #5720
@KannarFr  Thanks for your help.

Currently, @KannarFr had added the basic interface of the `authorization provider`. We need to make sure all the places that called for validating the auth support the new way to validate.

Here a list about that:

- [ ] ServerCnx
- [ ] v2 / Brokers
- [ ] v2 / BrokerStats
- [ ] v2 / Clusters
- [ ] v2 / Functions
- [ ] v2 / Namespaces
- [ ] v2 / NonPersistentTopics

[2020-03-18 02:48] sijie commented on #6360
This is fixed by #6488

[2020-03-18 02:48] #6360 closed

[2020-03-18 04:05] jerrypeng commented on #6484
I think the reason was because is to support ProtobufSchema correctly.  If a user gives the client and generated Protobuf object, the client needs to have Protobuf classes at the same classpath as the user given Protobuf Object.  If we use provides a protobuf object to the client but the included protobuf dependencies are all shaded, then there will be "NoClassDefError"s thrown as none of the inte

[2020-03-18 09:46] #6439 closed

[2020-03-18 14:51] jiazhai commented on #6517
will take a look

[2020-03-18 16:15] david-streamlio commented on #4077
Is there an ETA for this PIP?

[2020-03-18 18:19] scr-oath commented on #6360
Thanks!

[2020-03-18 18:20] scr-oath commented on #6360
Looks like you got it!

[2020-03-18 22:19] sijie commented on #6525
@cmdares thank you for your feedback.

[2020-03-18 23:03] sijie commented on #6479
This will be fixed by apache/bookkeeper#2290

[2020-03-18 23:04] sijie commented on #6479
It is planned to be released in 4.10.1. We will consider including it in 2.5.1 release.

[2020-03-18 23:39] sijie commented on #4077
@david-streamlio the core functionalities for this PIP are already done. It has been used in quite bunch of productions. the left items are more or fewer enhancements.

@codelipenghui I think we should consider moving the items that are not done into a separate issue for tracking, close this issue and mark BP-38 as done.

[2020-03-18 23:46] Antti-Kaikkonen commented on #6427
I'm getting the same error with my java source connector that uses state. I thought it might be because I'm doing too many concurrent state operations, but your StateMe function doesn't seem to use state concurrently...

My source connector seems to get this error quite randomly. Sometimes it happens after ~1k state operators and sometimes more than 100k, but I think that it usually happens sooner

[2020-03-18 23:58] st0ckface opened #6552 "Cant ack messages on exclusive subscriptions with partioned topic"
**Describe the bug**
When creating a consumer with an exclusive subscription, acked messages are not reflected in broker stats.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a consumer with an exclusive subscription to a partitioned topic
2. Ack each message individually as they are received
3. Notice that "unackedMessages" continually climbs in the `topic stats` via the admin clien

[2020-03-19 02:23] codelipenghui opened #6553 "Support specify dispatch policy for the non-key message in Key_Shared subscription mode"
**Is your feature request related to a problem? Please describe.**
Currently, the non-key message dispatch to a consumer in Key_Shared subscription mode. It's better to support set up the dispatch policy at the client-side.

**Describe the solution you'd like**
Allow the client to set up a ` non-key` message dispatch policy.

[2020-03-19 02:25] codelipenghui opened #6554 "Dispatch messages to the new consumer after exist consumer acknowledged all dispatched messages in Key_Shared Subscription."
Master issue #4077
**Is your feature request related to a problem? Please describe.**
Dispatch messages to the new consumer after exist consumer acknowledged all dispatched messages in Key_Shared Subscription.

[2020-03-19 02:27] codelipenghui opened #6555 "Send Key hash range change events to consumers in Key_Shared subscription."
**Is your feature request related to a problem? Please describe.**
Send Key hash range change events to consumers in Key_Shared subscription.

[2020-03-19 02:29] 18817872594 opened #6556 "java-client:2.4.0 consumer seek by time no use, still consume from earliest message"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2020-03-19 02:29] codelipenghui commented on #4077
@sijie I have added new issues for the items that are not done. So close this issue now.

[2020-03-19 02:29] #4077 closed

[2020-03-19 02:49] sijie commented on #4077
@codelipenghui thank you

[2020-03-19 03:31] jiazhai commented on #6530
There is some permission related discussions in #5720 (related PR #6428), @KannarFr and @zymap are working on it.

[2020-03-19 05:42] #6552 closed

[2020-03-19 05:43] #6507 closed

[2020-03-19 05:45] #5903 closed

[2020-03-19 07:00] murong00 opened #6561 "[pulsar-client] NPE while call getLastMessageId"
**Describe the bug**
Meet NPE while call getLastMessageId as below:
[code]
The reason is that `BatchMessageIdImpl` use a default `BatchMessageAcker` with null value.

**Expected behavior**
`getLastMessageId` should be successful like below:
[code]

[2020-03-19 10:59] rfetishkevi opened #6563 "ZooKeeperChildrenCache reloading creates heavy load on Zookeeper"
When topics are frequently created/deleted, Zookeeper is appears to be heavy loaded, which makes Pulsar cluster unstable: brokers may loose connection to Zookeeper, restart themselves, etc.
Increasing brokers number from 3 to 12 increased duration of operations that involve topics creation by 3 times: from 0.5s to 1.5s in our case. Send message operations duration has not increased.
<img width="12

[2020-03-19 14:02] poulhenriksen opened #6564 "Can not increase partitions in topic with only one partition"
**Describe the bug**
A partitioned topic with only one partition can not be increased to have more partitions.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a partitioned topic with one partition:
[code]
2. Try to increase the number of partitions:
[code]

It then fails with:

[code]

**Expected behavior**
It does not fail.

[2020-03-19 16:59] #6561 closed

[2020-03-19 23:25] cckellogg commented on #5843
I think we need to resolve this issue there are still duplicate flags when starting a bookie by running `pulsar/bookie`. This is confusing to users and causing unexpected issues.  I think this change  (https://github.com/apache/pulsar/pull/5675) should be reverted before 2.6.

[2020-03-20 07:12] 18817872594 commented on #6556
Is this problem confirmed？we are waiting to use the feature

[2020-03-20 08:29] yjshen commented on #6556
Could you please try 2.4.2 to see if the problem exists?

[2020-03-20 10:14] whisper-bye commented on #2992
@nha @merlimat

sorry for asking.

In my case, I have some raw json string data send to topic and can't hard code pojo class, I want to use the pulsar schema feature to validation the structure. I have a topic "my-topic" and associated with json schema in below, then I try to transmission some message.
[code]

my question is how pulsar schema works? The message should be rejected.

[code]

[2020-03-20 10:26] chrismiller commented on #6484
If a user is providing a protobuf object to the client, then chances are they already have their preferred version of Protobuf on their classpath though? Would it be better to exclude the protobuf classes from the Pulsar jar and require the user to include an appropriate version on their classpath themselves or would that then cause problems on the Pulsar side of things?

[2020-03-20 12:16] wonko commented on #6496
anything I can do to get feedback on this (is this intended, is this a bug, ...)? Is more info needed?

[2020-03-20 12:56] lanwen commented on #6484
Hello, faced this issue. Is there any workaround to exclude these protobuf classes?

[2020-03-20 13:37] yjshen opened #6571 "[PulsarAdmin] Move implementations to async"
- [x] Bookies #6529
- [x] BrokerStats #6549
- [x] Brokers #6541
- [x] Clusters #6568
- [x] Functions #6580
- [x] Lookup #6569
- [x] Namespaces #6590
- [x] ResourceQuotas #6572
- [x] Schemas #6585
- [x] Sinks #6582
- [x] Sources #6583
- [x] Tenants #6573
- [x] Topics #6593
- [x] Worker #6570

[2020-03-20 15:34] zyllt opened #6576 "Failed to create Consumer for the first time"
**Describe the bug**
I have 2 clusters, Beijing and Guangzhou IDC. I created a namespace and enabled geo-replication.
Under this namespace, I first successfully created a producer in Beijing IDC with topic name is `enant-test/n-1/topic-1` and `Schema.STRING`,  but when I create a consumer in Guangzhou with same schema, it keeps failing.
**To Reproduce**
Steps to reproduce the behavior:
1. deploy C

[2020-03-20 23:48] lonerzzz opened #6578 "PulsarConsumerSource messageReceiveTimeoutMs parameter should be configurable"
**Describe the bug**
The messageReceiveTimeoutMs value in the PulsarConsumerSource class is hardcoded to 100ms and cannot be altered through configuration at present.

**To Reproduce**
This is a design bug and not a bug that generated an error.

**Expected behavior**
The messageReceiveTimeoutMs value in the PulsarConsumerSource class is hardcoded to 100ms but should be configurable to accommodate

[2020-03-21 03:22] codelipenghui commented on #6496
@wolfstudy Can you please help take a look at this issue?

[2020-03-21 04:31] codelipenghui commented on #6576
@zyllt Thanks for your feedback. I think the reason is the `isActive()` method. The replicator also creates a subscription on the topic, so `isActive()` returns true.  I think we don't need to check if there are subscriptions on the topic since users can use pulsar-admin to create subscriptions and geo-replication also creates subscription on the topic.

Are you interested in helping submit a PR t

[2020-03-21 04:48] zplinuxlover commented on #6578
I will fix this issue

[2020-03-21 04:48] zplinuxlover commented on #6576
I will fix this issue

[2020-03-21 04:49] zplinuxlover commented on #6521
I will fix this issue

[2020-03-21 15:13] zyllt commented on #6576
@codelipenghui Thanks for your reply. I originally thought the reason is the `ledger.getTotalSize()` by `geo-replication`, through your reply I thought it was indeed `isActive()` problem.I will actually verify it.

[2020-03-22 14:47] PrashantKS opened #6587 "Requesting Pulsar to support IoT protocols - STOMP, AMQP, MQTT, WSS"
Use case:
In the IoT related use cases, we are using RabbitMQ as the message broker to receive/send messages from IoT devices over the protocols STOMP, AMQP, MQTT, WSS and further integrate with Kafka/Pulsar for streaming processing/data analysis.

Request:
It would be better if Pulsar has a proxy handler for the protocols STOMP, AMQP, MQTT, WSS. It may help millions of projects, especially those

[2020-03-22 16:54] zyllt opened #6589 "Can not use Context#Counter in function"
**Describe the bug**
When I created a demo function(`WordCountFunction`) in the cluster, I got an exception.According to the source code, I found that `Function#Context#stateContext` needs the support of `StreamStorage`.I started `StreamStorage`  use `extraServerComponents=org.apache.bookkeeper.stream.server.StreamStorageLifecycleComponent` and restart `WordCountFunction`,i found the `WordCountFun

[2020-03-23 06:48] 18817872594 commented on #6556
I use 2.5.0 also find this problem，go lient also have this problem，but fixed several days ago。

[2020-03-23 08:09] jiazhai commented on #3362
Seems another user reported a similar issue of `java.lang.IllegalArgumentException: Illegal base64 character 2d`.

This looks more like a convert issue between protobuf string (optional string partition_key   = 6) to bytes.

[2020-03-23 11:48] pierre94 opened #6594 "producer builder failed to load config"
**Describe the bug**
producer builder  failed to load config into existing configuration data

**To Reproduce**
[code]
[code]

**Desktop (please complete the following information):**
 - OS: OSX
 - pulsar.version: 2.4.0

[2020-03-23 13:51] fredczj commented on #6040
Would it be possible to fix this known message, please?
This would clean the build message a lot !

[2020-03-24 02:40] yjshen commented on #6571
Close this issue since all parts have been merged into the master branch.

[2020-03-24 02:40] #6571 closed

[2020-03-24 10:40] 18817872594 commented on #6556
we are waiting for your reply!

[2020-03-24 13:56] oliverisaac opened #6597 "Many Log Lines of "Sse42Crc32C is not supported""
**Describe the bug**
When running the brokers with the default config, there are many log lines like this:

[code]

**To Reproduce**
1. Deploy pulsar in k8s
2. Look at the logs in bookkeeper

**Expected behavior**
The log lines shouldn't be so noisy

**Desktop (please complete the following information):**
 - OS: Mac

**Additional context**
This seems to be a common thing people experience but in

[2020-03-24 13:58] oliverisaac commented on #6597
From [this thread in the Pulsar slack channel archive](http://mail-archives.apache.org/mod_mbox/pulsar-users/201911.mbox/%3C5dc53127.1c69fb81.a5eb2.7197@mx.google.com%3E) I found the solution:

Adding that config to my broker.conf fixed it everywhere.

[2020-03-24 13:58] #6597 closed

[2020-03-24 14:36] apacheBright opened #6598 "View the details of the sources command in the pulsar admin cli document and see 404"
When I want to view the details of the sources command under pulsar admin cli, there is an exception. See the following figure for details
<img width="800" alt="WechatIMG80" src="https://user-images.githubusercontent.com/27547000/77437823-10e9fb80-6e20-11ea-865d-608ee1dee8ea.png">
![WechatIMG81](https://user-images.githubusercontent.com/27547000/77437846-18a9a000-6e20-11ea-8d75-94a118f1e51c.jpeg)

[2020-03-24 16:37] otmanel31 opened #6599 "TimeoutException on some client connected"
**TimeoutException on some client connected**
Since few moments, i face some issues on my standalone pulsar install. It ran without any issue until last week.

I need to restart pulsar in order to have a clean pulsar broker but timeout exception come back few hours later and some clients are disconnected.
All clients that are trying to connect are directly disconnected.

For me, it's due to someth

[2020-03-25 01:17] yjshen commented on #6594
Could you please try pulsar client lib 2.4.2?

[2020-03-25 01:38] yjshen commented on #6556
could you please point out the PR that fixes the bug? we are planning the 2.5.1 release, just want to make sure the bug fix included in the new release.

[2020-03-25 01:42] #6043 closed

[2020-03-25 02:06] pierre94 commented on #6594
pulsar client lib 2.4.2 and 2.5.0 is ok

[2020-03-25 02:46] 18817872594 commented on #6556
PR：https://github.com/apache/pulsar-client-go/pull/199

[2020-03-25 03:39] yjshen commented on #6556
@18817872594 are you passing in a long value representing the time in millis? seems the go pr you mentioned above is just converting time from nano to millis

[2020-03-25 09:51] 18817872594 commented on #6556
Yes，can you reproduce this problem？

[2020-03-25 12:35] ncmans opened #6603 "Brokers fail when updating bookkeeper"
**Describe the bug**

Pulsar brokers start to fail with following error when bookkeepers are updating (ie in rolling manner, one at a time):

[code]

The healthcheck mentioned is the following command:

[code]

NOTE: this bug was [first reported](https://github.com/kafkaesque-io/pulsar-helm-chart/issues/23) to the relevant kubernetes chart maintainers with no resolutions as of this issue.

**To Re

[2020-03-25 13:55] yjshen commented on #6556
I cannot reproduce it. how did you get the time you want ?  from yesterday, you can construct:

[code]

[2020-03-25 15:51] JKeyZ opened #6605 "support prestosql not prestodb"
We use prestosql, not prestodb of facebook. What’s the plan for support it ?

prestosql: https://prestosql.io/

[2020-03-26 02:00] #6288 closed

[2020-03-26 02:00] devinbost commented on #6288
(This is just an issue related to the running environment.) It probably doesn't require a code change.

[2020-03-26 04:26] DavidLiuXh opened #6610 "The new consumer can't consume msg from new partition when dynamic extend parition"
**Describe the bug**
The new consumer can't consume msg from new partition when dynamic extend parition

**To Reproduce**
      1.  The pulsar cluster has three brokers;
      2.  Created partitioned topic whith three partition;
      3.  Run three consumers;
      4.  At this time, can see that each consumer consumes a parition;
      5.  Use 'pulsar-admin update-partitioned-topic' to dynamic ext

[2020-03-26 05:21] sijie commented on #6587
Hi @PrashantKS thank you for creating the issue.

We have just added kafka protocol support to pulsar via KoP (https://github.com/streamnative/kop). It is

We are also working on adding both AMQP and MQTT to Pulsar through the same protocol handler mechanism. Please stay tuned. It is coming out soon.

[2020-03-26 05:41] sijie commented on #6556
@18817872594 can you show a code example?

[2020-03-26 05:45] sijie commented on #6564
This has been fixed by #6560

[2020-03-26 05:45] #6564 closed

[2020-03-26 05:51] sijie commented on #6589
Can you describe how do you deploy the cluster?

[2020-03-26 05:52] sijie commented on #6594
@pierre94 shall I close this issue? since 2.4.2 and 2.5.0 have fixed this issue.

[2020-03-26 05:52] sijie commented on #6598
@apacheBright we will take a look and fix it. If you want to make a contribution, a pull request would be great!

[2020-03-26 05:53] sijie commented on #6599
What version of Pulsar are you using?

[2020-03-26 06:02] sijie commented on #6603
the NullPointException is due to the hostname is unresolved. but that wasn't the root cause.

The error seems to come from lookup failures. It typically indicates the actual error is in a different broker. Have you checked the error log in the other brokers?