[2022-02-16 03:36] ethqunzhong commented on #14298
you mean add ENV property such as `PULSAR_LOG_LEVEL` in `pulsar_env.sh` , then run command `/bin/pulsar-daemon start broker` ?

[2022-02-16 03:41] Anonymitaet commented on #14291
@iamqq23ue welcome to research and update docs, thanks

[2022-02-16 04:04] michaeljmarshall commented on #14304
I don't believe this is correct. If you look at the protobuf field definition, the `advertised_listener_name` field is an optional string.

https://github.com/apache/pulsar/blob/a43fab0045a93ee864da6bc386bcc0e8bf17bf11/pulsar-common/src/main/proto/PulsarApi.proto#L437

I just ran a quick test to double check my understanding, and this test passes:

[code]

[2022-02-16 04:12] merlimat commented on #14304
It will return true if the field is set. That is irrespective of the specific value that was set.

[2022-02-16 04:51] #14166 closed

[2022-02-16 06:45] lhotari opened #14312 "Pulsar release 2.8.2 documentation package is missing"
**Describe the bug**

The 2.8.2 release isn't listed on this page:
https://pulsar.apache.org/en/versions/

The documentation is missing for 2.8.2:
https://pulsar.apache.org/docs/en/2.8.2/
(compare to 2.8.1: https://pulsar.apache.org/docs/en/2.8.1/ )

Pulsar 2.8.2 can be found on the download page and release notes. These are fine:
https://pulsar.apache.org/download
http://pulsar.apache.org/release

[2022-02-16 06:46] lhotari commented on #14312
@315157973 Could you please take a look? I believe that the step [Update the site for minor releases](https://github.com/apache/pulsar/wiki/Release-process#update-the-site-for-minor-releases) is missing for 2.8.2 .

[2022-02-16 07:02] #14304 closed

[2022-02-16 08:31] gaozhangmin commented on #14310
#10870 it opened before

[2022-02-16 09:24] 315157973 commented on #14312
OK, I will take a look

[2022-02-16 09:36] Anonymitaet commented on #14312
Hi @315157973

For a minor release, we need to modify the following types of files:
- doc set (includes more than 100+ .md files)
- version-x.x.x-sidebars.json
- release.json
- versions.json

I've checked the 2.8.2 PR history, the [versions.json](https://github.com/apache/pulsar/blob/master/site2/website/versions.json) has not been updated. I guess you need to update it.

<img width="709" alt="ima

[2022-02-16 11:21] #14312 closed

[2022-02-16 11:34] startjava opened #14319 "why use silently acknowledging ??"
You can set the maxPendingChunkedMessage parameter on the consumer. When the threshold is reached, the consumer drops the unchunked messages by silently acknowledging them or asking the broker to redeliver them later by marking them unacknowledged.

(1) Why use silently acknowledging here?

(2) drops not lose data?

[2022-02-16 12:24] ethqunzhong commented on #14298
i have a test,  result as follow:
as log4j2.yaml using way,
<img width="361" alt="image" src="https://user-images.githubusercontent.com/16517186/154263941-6c063f6f-d0b8-4cb5-8ed5-5e5b226382ca.png">
`pulsar.log.level` go into effect only set by ENV property `PULSAR_LOG_LEVEL` which set in `pulsar_env.sh` while service starting.
while service running, change `pulsar.log.level` in log4j2.yaml is not

[2022-02-16 13:08] lhotari commented on #14013
@codelipenghui Thank you for replying on the mailing list in thread https://lists.apache.org/thread/tn7rt59cd1k724l4ytfcmzx1w2sbtw7l . I have followed up with PR #14320 .

[2022-02-16 13:32] liruixl opened #14321 "Unit Test, jacoco report is not be created"
To run `mvn install -Pcore-modules,-main -Dmaven.skip.test=false`;
But no one jacoco report was not created, eg:(target/site/index.html). Jacoco plugins doesn't seem to be running.

[2022-02-16 13:41] liruixl commented on #14310
I hava another question, do you know to create teh coverage report (by jacoco), i run `mvn test`, nothing was be created. It should be created at target/site/index.html

[2022-02-16 13:49] liruixl opened #14322 "How to create coverage report by jacoco when run unit test?"
### What issue do you find in Pulsar docs?

How to create coverage report by jacoco when run unit test?
when I run `mvn test`, nothing was be created. It should be created by jacoco at target/site/index.html.
Refer to:https://www.eclemma.org/jacoco/trunk/doc/maven.html

### What is your suggestion?

add explanations about unit test and coverage report.

### Do you have any references?

Jacoco doc:

[2022-02-16 14:27] AliIoT opened #14323 "[SECURITY] Weak security algorithm used by AuthenticationProviderBasic"
https://github.com/apache/pulsar/blob/64dc5374b6f6eb59a69a036697e16c8b21a31b16/pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authentication/AuthenticationProviderBasic.java#L92

[2022-02-16 14:31] AliIoT opened #14324 "[SECURITY] Hardcode the password in debezium-{}-config.yaml"
Hi, Should use "*****" to replace the password in debezium-{}-config.yaml? It may have a security risk

pulsar/pulsar-io/debezium/src/main/resources/
- debezium-mssql-source-config.yaml
- debezium-oracle-source-config.yaml
- debezium-postgres-source-config.yaml

[2022-02-16 14:33] AliIoT opened #14325 "[SECURITY] Hardcode the password in KeyManagerProxy"
https://github.com/apache/pulsar/blob/64dc5374b6f6eb59a69a036697e16c8b21a31b16/pulsar-common/src/main/java/org/apache/pulsar/common/util/KeyManagerProxy.java#L50

Is it ok to hardcode the password in KeyManagerProxy? It may have a security risk

[2022-02-16 14:34] AliIoT opened #14326 "[SECURITY] Hardcode the password in RabbitMQAbstractConfig"
https://github.com/apache/pulsar/blob/64dc5374b6f6eb59a69a036697e16c8b21a31b16/pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQAbstractConfig.java#L74

Is it ok to hardcode the password in RabbitMQAbstractConfig? It may have a security risk

[2022-02-16 17:28] lhotari opened #14329 "PIP-142 Increase default numHttpServerThreads value to 200 to prevent Admin API unavailability"
## Motivation

Since Pulsar Admin API uses the blocking servlet API, all Jetty threads might be occupied and this causes unavailability on the Pulsar Admin API. The default value for the maximum number of threads for Jetty is too low in Pulsar. That is the root cause of many problems where Pulsar Admin API is unavailable when all threads are in use.

## Additional context

- Examples of previous i

[2022-02-16 19:18] EronWright commented on #14304
@BewareMyPower please cherry-pick this fix to 2.9, thanks.

[2022-02-17 02:37] gaozhangmin opened #14331 "Topic "__change_events" failed read schema"
[code]

[2022-02-17 03:31] BewareMyPower commented on #14304
done.

[2022-02-17 03:38] codelipenghui opened #14332 "[Website] The new version website broken the CLI tab"
**Describe the bug**
There are for options under the CLI tab

<img width="1461" alt="image" src="https://user-images.githubusercontent.com/12592133/154400493-c5941a96-0a65-4119-991f-bcd9ab07d582.png">

But each of them will return 404

<img width="877" alt="image" src="https://user-images.githubusercontent.com/12592133/154400539-718f74d6-9890-4e22-a586-2ea37d21ebe5.png">

[2022-02-17 03:38] gaozhangmin opened #14333 "[Broker] Ledge creation timeout"
Ledger creation always timeout, continued for several hours . But from bookkeeper's log, there were no errors.
[code]

[2022-02-17 03:48] liruixl commented on #14321
@nicoloboschi @sijie , It seems to work，relevant log output：

...
INFO]
[INFO] ----------------------< org.apache.pulsar:pulsar >----------------------
[INFO] Building Pulsar 2.10.0-SNAPSHOT                                    [2/2]
[INFO] --------------------------------[ pom ]---------------------------------
[INFO]
[INFO] --- maven-enforcer-plugin:3.0.0-M3:enforce (enforce-maven-version) @ pulsa

[2022-02-17 03:49] ethqunzhong commented on #14332
had same problem， is it something wrong in pulsar.apache.org website?
https://pulsar.apache.org/docs/zh-CN/pulsar-admin/
<img width="940" alt="image" src="https://user-images.githubusercontent.com/16517186/154401570-7716d1bd-4bae-4860-a602-d6aec3bb0ff7.png">

[2022-02-17 03:53] ethqunzhong commented on #14332
you can visit in this link temporary
https://pulsar.apache.org/docs/next/

[2022-02-17 03:59] tongsucn commented on #13669
It seems to be fixed in 2.8.2.

[2022-02-17 03:59] #13669 closed

[2022-02-17 05:21] SakaSun opened #14335 "[Helm] Website update broke Helm charts"
**Describe the bug**
Website update broke Pulsar install through Helm charts

**To Reproduce**
Steps to reproduce the behavior:
1. Execute:
`helm repo add apache https://pulsar.apache.org/charts`
2. Following error appears:
`Error: looks like "https://pulsar.apache.org/charts" is not a valid chart repository or cannot be reached: failed to fetch https://pulsar.apache.org/charts/index.yaml : 404 No

[2022-02-17 05:53] xiaofan-luan opened #14337 "Pulsar stucked and all producer on topic disconnected"
**Describe the bug**
Hi all, the detailed discussion can be seen here:
https://github.com/milvus-io/milvus/issues/15535#issuecomment-1042597113

From the user's log there is producerBlocked Quota exception and we've seen some Connection reset by peer exception as well.
Could this be related? How do we know which consumer is not consuming correctly and causing the producerBlocked Quota exception ?

[2022-02-17 07:21] pksilen opened #14339 "[Doc] Link to C++ client API docs does not work"
### What issue do you find in Pulsar docs?

On page: https://pulsar.apache.org/docs/en/client-libraries-cpp/

Link to API docs does not work. The link https://pulsar.apache.org/api/cpp/2.9.0-SNAPSHOT does not work.

### What is your suggestion?

Correct the link

### Do you have any references?

No

### Would you like to fix this issue?

No

### Note

- [X] I have researched my question.

[2022-02-17 07:26] startjava opened #14341 "create cluster，win10+VirtualBox(Centos(Pulsar))，So which ports must be mapped in NAT?"
cluster run environment：1 centos run 3 pulsar server node。

win10 run pulsar java client operate centos pulsar cluster。

So which ports must be mapped in NAT?
thank you !

[2022-02-17 08:12] BewareMyPower commented on #14339
<img width="564" alt="image" src="https://user-images.githubusercontent.com/18204803/154432799-b3aeca3f-f39d-4867-a5ee-3212519127c4.png">

https://pulsar.apache.org/api/cpp/2.9.0-SNAPSHOT works well. Regarding to the https://pulsar.apache.org/docs/en/client-libraries-cpp/ page, it looks like the Pulsar website is being updated at this moment.

[2022-02-17 08:14] Anonymitaet commented on #14339
@BewareMyPower +1

@pksilen you can access the same documentation via here
https://pulsar.staged.apache.org/docs/en/next/client-libraries-cpp/
<img width="1960" alt="image" src="https://user-images.githubusercontent.com/50226895/154433240-6e1c2de2-4b0a-4165-9f3e-8d2a59d6e49d.png">

[2022-02-17 08:14] Anonymitaet commented on #14339
Ping @urfreespace

[2022-02-17 09:42] startjava opened #14345 "help/want：why “fan-out pub-sub messaging” is "exclusive"??"
[code]

The fan-out: multiple consumers subscribe, and the messages released by producers can be received by all consumers. The messages consumed by each consumer are the same. This is a fan. But look at this doc, it's exclusive. It's not clear.

[2022-02-17 11:55] leizhiyuan opened #14349 "HttpLookupService do not support pulsar proxy"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the enhancement is.

HttpLookupService do not support pulsar proxy, if  we use proxyip:8080 to conect ,it will not use proxy to send message, it will use the real broker.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

BinaryProtoLookupSe

[2022-02-17 20:19] utahkay opened #14357 "[proxy] [2.10.0] Proxy throws type conversion exception on startup, won't start"
**Describe the bug**
In 2.10.0, the proxy throws an exception on startup in StreamNative Cloud environment.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy streamnative 2.10.0.0-rc5 into cloud hosted environment.
2. Observe the proxy logs.

**Expected behavior**
Expect the proxy to start up successfully.

**Logs**
[code]

**Desktop (please complete the following information):**
 - OS:

[2022-02-17 20:20] utahkay commented on #14357
The root cause appears to be that proxy.conf does not have a newline at end of file.

When additional config settings are appended by the cloud hosted environment, the conf file looks like this:

[code]

[2022-02-17 23:40] michaeljmarshall opened #14362 "Broker Healthcheck Endpoint Exposes Race Conditions"
**Describe the bug**

There appears to be a few race conditions in the `/brokers/health` endpoint. I verified this is in 2.9.1 and it looks like it is probably present in master.

There are several issues exposed by this behavior and the resulting stack traces.

- One call to that endpoint can force another to fail.
- There is a chance for an NPE here: https://github.com/apache/pulsar/blob/f7f8619

[2022-02-18 00:22] #14357 closed

[2022-02-18 01:36] anant-ahuja commented on #14082
Thanks a lot for the responses. Just wanted to post some closure in case anyone else is facing the same issue and has the same misunderstanding as I had. It indeed was an issue where my consumers were not in the message receiving state.

My misunderstanding was that the messages in the backlog have yet to be dispatched. But that's not the case, those messages have been assigned to certain consumer

[2022-02-18 02:02] Technoboy- opened #14365 "[PIP-149] Making the REST Admin API fully async"
Co-author: @mattisonchao @Technoboy-

### Motivation

The Rest API was originally designed to be implemented asynchronously, but with the iteration of functions, some synchronous implementations were added, resulting in many asynchronous methods called synchronous implementations. Also, many synchronous calls do not add timeouts. This greatly reduces concurrency, user operations, and experience.
I

[2022-02-18 02:04] Technoboy- commented on #14365
@codelipenghui @lhotari @eolivelli @BewareMyPower @nodece @mattisonchao
I have open this issue to discuss first then decide to make to PIP

[2022-02-18 03:06] Technoboy- commented on #13989
@merlimat @lhotari @eolivelli @codelipenghui @gaoran10
Could you help give some suggestions?

[2022-02-18 05:47] lhotari commented on #14322
Passing `-Pmain,coverage` can be used on the maven command line. Jacoco configuration is part of the `coverage` maven profile. @nicoloboschi is working on a contribution to enable code coverage and collect and report the coverage reports using codecov.io .

[2022-02-18 06:37] liruixl commented on #14322
thanks,  I have got the coverage data for unit tests. Now I know  how to use maven profile, it need activation!

[2022-02-18 06:37] #14322 closed

[2022-02-18 06:39] liruixl commented on #14321
I have got the coverage data for unit test, exec file can be created in other modules.

[2022-02-18 07:21] Anonymitaet commented on #14322
@liruixl is this an issue related to doc?

[2022-02-18 07:26] liruixl commented on #14322
Oh, sorry. It is not. I created a test issue: #14321

[2022-02-18 07:40] #14321 closed

[2022-02-18 07:51] lhotari commented on #14365
Thank you @Technoboy- . Good work. I shared my thoughts and some expectations in yesterdays Pulsar Community meeting, you can find the discussion and @merlimat's responses of the rationale for the changes. It would be good to document the arguments that Matteo explained why mixing async and blocking (sync) causes issues.
Please check the last 35 minutes from the recording of the meeting (it's not

[2022-02-18 08:13] startjava opened #14369 "help:want：Does it support consumers to use different subscription modes to the same subscription?"
Does it support consumers to use different subscription modes to the same subscription?

[2022-02-18 09:45] swjz opened #14372 "`acknowledge_cumulative()` does not work with a consumer subscribed to multiple topics."
**Describe the bug**
On `pulsar-client==2.9.1` (python), `acknowledge_cumulative()` does not work with a consumer subscribed to multiple topics.

**To Reproduce**
Set up a pulsar server on `localhost:6650`. Create two topics `topic1` and `topic2`. Make sure each topic has at least one message in it so we can consume them later.

Run the following code to consume a message.

[code]

The last line `

[2022-02-18 09:46] Demogorgon314 commented on #14096
This flaky test can be closed by #14283

[2022-02-18 09:48] swjz commented on #14372
It looks like each consumer iterator is erased https://github.com/apache/pulsar/blob/773f9197cfb83092fb6ee2bf1b9ec38143f3c8b0/pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc#L393-L396
within the for loop
https://github.com/apache/pulsar/blob/773f9197cfb83092fb6ee2bf1b9ec38143f3c8b0/pulsar-client-cpp/lib/MultiTopicsConsumerImpl.cc#L377-L385
so `consumer++` throws a segfault.

Please correct me if

[2022-02-18 09:55] Jason918 commented on #14292
One `batch` means one send request, also means one entry in bookkeeper.

[2022-02-18 09:55] Jason918 commented on #14292
There may be multi messages in one batch

[2022-02-18 11:05] gaozhangmin commented on #14106
@lhotari  pTAL at the pr

[2022-02-18 12:50] AntiBit82 opened #14378 "Pulsar SQL is (still/again?) not able to read the latest message"
**Describe the bug**
Referring to bug
https://github.com/apache/pulsar/issues/3828
https://github.com/apache/pulsar/issues/4976
which was fixed in
https://github.com/apache/pulsar/pull/5822

I'm still having this exact problem.

**Steps to reproduce**
Running **Pulsar standalone 2.9.1** on EC2.
In /home/ec2-user/apache-pulsar-2.9.1/conf/broker.conf
I set the value according to the fix:
_bookkeeper

[2022-02-18 14:30] AnonHxy commented on #14369
Not support. If consumers use different subscrption types,  the subscription type is decided by the consumer who first connects to the broker, and others will throw `new SubscriptionBusyException("Subscription is of different type")`. See for details: `org.apache.pulsar.broker.service.persistent.PersistentSubscription#addConsumer` @startjava

[2022-02-18 19:26] shogv48 opened #14381 "Not receiving tweets using source connector"
**Describe the bug**
I created twitter source connector as per the documentation and I am not receiving any tweets in the topic tweets

**To Reproduce**
Steps to reproduce the behavior:
 ./pulsar-admin source create --name twitter --source-type twitter --destinationTopicName tweets   --source-config '{"consumerKey":"xxxxxxxx","consumerSecret":"xxxxxxxxxxxxxxx","token":"xxxxxxxxxxx","tokenSecret":"

[2022-02-18 22:07] fistan684 commented on #14311
Since upgrading from 2.7.1 to 2.9.1 we also have been hitting issues where our producers will begin failing. Typically we'll have one broker that isn't responding to requests and restarting it will fix the issue. From looking at the broker logs we see a similar error to what is describe in this issue:

`2022-02-18T17:35:06,772+0000 [pulsar-io-4-7] WARN  org.apache.pulsar.broker.service.ServerCnx -

[2022-02-20 00:38] leizhiyuan commented on #14223
It seems not

but when I restart broker, the backlog will increase. I restarted twice, the backlog increase to 4* (original number) .

It will decrease with time fly (maybe consumers consumed)

[2022-02-20 02:14] YanshuoH commented on #12716
After upgraded to v2.8.2, the OOM issue disappears.

[2022-02-20 02:14] #12716 closed

[2022-02-20 04:26] michaeljmarshall commented on #14311
@fu-turer thanks for opening this issue and providing the thread dumps. It looks like the blocked thread is in the bookkeeper client. Based on your thread stack, I'm assuming you're running with TLS enabled, is that correct? Do you see a log line with `TLS failure on` in it? It should end with a number, and that number is a bk error code.

[2022-02-20 07:33] karthikVaragini opened #14386 "ImportError: No module named _pulsar"
#### Expected behavior

I'm just trying to execute the format-phone-number example in local
I'm using the Python3

I have installed the
pulsar                   2.0.2
pulsar-client            2.9.1

I'm using bin/pulsar standalone (2.6.0)

I tried to localrun the pulsar function using the below command

bin/pulsar-admin functions localrun \
  --broker-service-url pulsar://localhost:6650 \
  --tena

[2022-02-20 15:11] liangyuanpeng commented on #13229
https://github.com/apache/pulsar/pull/13777 resolved this issue.

[2022-02-21 02:37] zymap commented on #14378
By default, pulsar sql won't get the last message in the topic. If you want to
get the last message, you need to configure the following configurations.
For the broker config, you need to set `bookkeeperExplicitLacIntervalInMills`.
For the Presto config, you need to set `pulsar.bookkeeper-use-v2-protocol=false` and `pulsar.bookkeeper-explicit-interval`.
Then you should get the last message from sq

[2022-02-21 04:43] Anonymitaet opened #14393 "[Website + Doc] generate connector configuration info automatically"
When updating docs for https://github.com/apache/pulsar/pull/14383, @fantapsody suggests **generating connector configuration tables automatically** rather than updating them manually.

I've discussed w/ @urfreespace, he thinks it is workable. For example:

For [the configuration table of the Elasticsearch sink connector](https://pulsar.apache.org/docs/en/next/io-elasticsearch-sink/#configuration)

[2022-02-21 07:19] aparajita89 opened #14395 "Making SchemaRegistry implementation configurable"
## Motivation

Pulsar comes with an inbuilt schema registry and a pluggable schema storage. Schema storage's default implementation is bookkeeper-based but a new implementation can be provided by the user. Schema registry on the other hand interacts with the configured schema storage and offers ability to do schema CRUD as well as performs compatibility checks.

Since schema registry is not plugga

[2022-02-21 07:51] haijianyang opened #14397 "Debezium source connector error with Postgresql"
**Describe the bug**
Pulsar 2.9.1
PG 14.1

Following the operation of the document(https://pulsar.apache.org/docs/en/io-cdc-debezium/#example-of-postgresql), the following error occurred:
<img width="934" alt="image" src="https://user-images.githubusercontent.com/19967151/154911165-6b5918e9-b8f2-4f9a-a0b0-f7c63738597a.png">
[code]

[2022-02-21 07:53] Anonymitaet commented on #7275
Done https://docs.google.com/spreadsheets/d/1P6tePGmU1lEhGKY_hE3JWgJ1rUTBCmW7AshDICJZr3o/edit#gid=1030826289

[2022-02-21 07:53] #7275 closed

[2022-02-21 09:12] liruixl opened #14399 "Flaky-test: PulsarSourceE2ETest.setUp"
PulsarSourceE2ETest.setUp is flaky. It fails at code:
[code]
i guess that the failure may be is related to the machine environment, but i can not find the reason.

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>

[INFO] Running org.apache.pulsar.io.PulsarBatchSourceE2ETest
[ERROR] Tests run: 6, Failures: 3, Errors: 0, Skipped: 3, Time elapsed: 25.856 s <<< FAILURE! - in

[2022-02-21 12:03] gaozhangmin commented on #14397
It's already fixed by #12145  @haijianyang

[2022-02-21 14:40] yaalsn opened #14401 "Speed up CI workflows"
**Is your enhancement request related to a problem? Please describe.**
When we open a new PR, the CI workflows will run about one to two hours. So I wrote a script to analyze the time every workflow spends. The key is CI workflow name and the value is time(seconds)

[code]

---

As we can see that `CI - Integration xxx`, `CI - Unit xxx` and  `CPP build on Windows` cost most. Let's step into these

[2022-02-21 15:17] haijianyang commented on #14397
LGTM

[2022-02-21 15:17] #14397 closed

[2022-02-21 15:20] krissetto commented on #12944
Are there any updates on this issue? I see the draft PR hasn't changed since last month's revision

[2022-02-21 15:39] Technoboy- commented on #14191
Yes, it's better to at someone.
For the 500 error, we're working on fixing it.

In the current implementation, only `admin` and `super-user` have permission to list topics under a namespace. and no API to grant/revoke these permissions(GET_BUNDLE...). So please use `admin` and `super-user` token to do the above request.

[2022-02-21 15:42] youg9203 commented on #14191
I'm facing the same issue for the admin and superadmin roles as well.

[2022-02-21 15:45] Technoboy- commented on #14191
Set `superUserRoles=mysuperadmin ` in the proxy.conf and generate `admin` and `super-user` according to this [doc](https://pulsar.apache.org/docs/en/security-jwt/)

[2022-02-22 01:24] tuteng opened #14404 "Pulsar cannot save and pass custom http auth status"
**Describe the bug**

Currently, pulsar auth is divided into two parts, one is the authn and authz of the pulsar protocol (e.g. produce and consume) and the other is the authn and authz of the HTTP protocol (e.g. management of pulsar clusters), auth is divided into two phases authn and authz, currently in the authn phase will return a string role, authz phase will check this role's permissions, Th

[2022-02-22 01:56] #13645 closed

[2022-02-22 05:09] #14193 closed

[2022-02-22 05:15] #9594 closed

[2022-02-22 05:45] daiwei233 commented on #14386
I have the same promblem. I run `function worker` with broker, and I have installed `python3.6` and `pulsar-client==2.9.1` with my broker.

**pulsar version:** 2.9.1
**create command:** `pulsar-admin functions create --py myfunc.py --classname myfunc.WordCountFunction --inputs persistent://public/default/in --output persistent://public/default/out`=

**myfunc.py:**

[code]

**broker log:**

[code]

[2022-02-22 08:05] jimmydivvy opened #14413 "ConsumerBuilderImpl.subscribeAsync blocks calling thread"
**Describe the bug**
When Retry topics are enabled, ConsumerBuilderImpl performs a backwards-compatibility check to look for DLQ or Retry topics that were created on previous version of Pulsar using a different naming scheme.

It does this by calling `getPartitionedTopicMetadata` and then using `.get()` to block while waiting for the results

[code]

This was implemented in https://github.com/apac

[2022-02-22 08:53] sunshujie1990 commented on #14241
@sumingsoftware https://github.com/apache/pulsar/pull/11198 pulsar 2.9.x版本使用了3.6.0 zookeeper客户端新增的功能。可能是个兼容性问题。
![image](https://user-images.githubusercontent.com/24857248/155095755-c86b9826-d74d-49b8-972e-4478137ceda9.png)

[2022-02-22 11:18] liruixl commented on #10294
Hi, I meet this problem too : `protoc did not exit cleanly`.
[code]

How do you solve it?

[2022-02-22 13:38] xiezh1010 opened #14417 "Asynchronous sending failed"
When asynchronous sending fails, will pulsar automatically retry? If so, how many times will it retry？

[2022-02-23 04:28] Anonymitaet opened #14423 "[Doc] Zookeeper metrics are incorrect"
Doc: https://pulsar.apache.org/docs/en/2.8.2/deploy-monitoring/#zookeeper-stats

Context: https://www.mail-archive.com/commits@pulsar.apache.org/msg76624.html

[2022-02-23 04:28] Anonymitaet commented on #14423
Hi @momo-jun could you please work with @Technoboy- to update the docs? Thanks

[2022-02-23 06:10] codelipenghui commented on #14365
Is it better to combine this one and https://github.com/apache/pulsar/pull/14353 want to do to one PIP such as PIP-142?
WDYT? @Technoboy- @lhotari @merlimat

The advantage is that we can provide a clearer image to the community that what we want to improve for the REST API part.

[2022-02-23 06:34] czhfe opened #14426 "broker No such entry"
**Describe the bug**
The consumer is unable to subscribe and has the following error when viewing the broker component:
[code]

[2022-02-23 06:40] Technoboy- commented on #14365
Yes, agree.

[2022-02-23 07:38] dlg99 commented on #14311
@fu-turer is there anything in the logs related to not being able to connect to bookies because of e.g. a TLS issue? Or attempt to use TLS 1.3? see https://github.com/apache/bookkeeper/issues/2711

@fistan684 are you rotating TLS certificates every few hours? any chance that certificates occasionally expire before new ones deployed on the bookie nodes?

[2022-02-23 07:43] Technoboy- commented on #14413
I will check and try to working on it.

[2022-02-23 07:48] zcola opened #14427 "NPE error with KOP"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
KoP 2.9.2.3
pulsar 2.9.2

[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]

*

[2022-02-23 08:04] eolivelli commented on #14365
I agree with this proposal and @codelipenghui 's proposal

One formality...
If this is a discussion it should stay on the mailing list.

This looks like a PIP doc.
I suggest to rename this to a PIP and let the discussion happen mostly on the dev@ list

[2022-02-23 08:26] eolivelli commented on #14427
Did you follow the guide for the configuration and configured the broker side interceptors?

[2022-02-23 09:01] RobertIndie commented on #13953
Here is another fail: https://github.com/apache/pulsar/runs/5298579831?check_suite_focus=true#step:13:28330

[code]

[2022-02-23 09:06] zcola commented on #14427
I have not configured broker side interceptors, my network environment is very simple

[2022-02-23 09:08] zcola opened #14429 "Pulsar 2.9.2 ns-isolation-policy don't work"
[code]
lookup result should not exist 7.32.133.236

[2022-02-23 09:11] fu-turer commented on #14311
@dlg99 i use TLSv1.2.

@michaeljmarshall there are 3 bookies, 2 brokers in my test environment. before problem happen, 3 bookies are all down, after all bookies recover, one broker's thead in stuck, and the anther one is normal

[2022-02-23 09:26] eolivelli commented on #14427
You need them.
Otherwise kop doesn't work.
I am referring to the ApppendIndex interceptor

[2022-02-23 09:26] eolivelli commented on #14427
You need them.
Otherwise kop doesn't work.
I am referring to the ApppendIndex interceptor

[2022-02-23 09:26] gaozhangmin commented on #14429
ns-isolation-policy only takes effect for new bundle assignment. If bundle already assigned before you set policy, it won't take effect. @zcola

[2022-02-23 09:37] daiwei233 commented on #7314
I think the official document is wrong, I found the correct configuration, and it works.

[code]

https://pulsar.apache.org/docs/en/functions-worker/#function-metadata-parameter

[2022-02-23 10:25] zcola commented on #14429
After I execute unload, the result is as expected, thanks

[2022-02-23 10:25] #14429 closed

[2022-02-23 10:34] zcola opened #14431 "[Question] set-bookie-affinity-group don't work"
#### Expected behavior

3 bookies
[code]

1 topic with 2 partition

./bin/pulsar-admin bookies set-bookie-rack -b 7.32.133.235:3181 -r rack1 -g group1
./bin/pulsar-admin bookies set-bookie-rack -b 7.32.133.236:3181 -r rack1 -g group1
./bin/pulsar-admin namespaces set-bookie-affinity-group zcola_qos/test --primary-group group1
./bin/pulsar-admin namespaces unload zcola_qos/test

Disk IO should happ

[2022-02-23 10:44] Anonymitaet opened #14432 "[Doc][Client] explanations for hostname verification configuration are inaccurate"
Here is an issue from Pulsar users:

🔷🔷🔷

Please consider this page, https://pulsar.apache.org/docs/en/security-tls-transport/#cli-tools

[code]

I am trying to understand why the CLI and Java sample configuration disable hostname verification, but the Python and C++ sample configurations enable hostname verification.

If as quoted, “By default, Pulsar clients disable hostname verification”, and “

[2022-02-23 10:45] Anonymitaet commented on #14432
@momo-jun could you please help resolve this issue? Thanks

[2022-02-23 14:12] AntiBit82 commented on #14378
Yes I did that now, and the results are the same: The sql lags 1 record behind, doesn't show the latest...
`./pulsar-client produce sqltest -m "hello" -k **"test_1"**`

`presto> select * from pulsar."public/default".sqltest;
 __value__ | __partition__ | __event_time__ | __publish_time__ | __message_id__ | __sequence_id__ | __producer_name__ | __key__ | __properties__
-----------+---------------+--

[2022-02-23 18:27] dlg99 commented on #14311
this would explain `failTLS` in the stack :) Why are they all going down?
will the thread unblock after some time (some timeouts can be in the range of 30sec or so by default)
did the bookie IP address change after the bookie came back up? JVM caches dns lookups etc.

bookie client (pulsar broker side) should log what it is doing, trying to connect/failing, certificate errors etc.
I recommend chec

[2022-02-23 20:18] dlg99 opened #14434 "Hbase connector does not have working tests"
**Describe the bug**

Hbase connector does not have working tests, thus its state and compatibility with various library changes is unclear.

**To Reproduce**

The only useful test (let's ignore HbaseSinkConfigTest test) is `HbaseGenericRecordSinkTest` with one test method which is disabled since the day it was committed in Jan 2019 https://github.com/apache/pulsar/pull/3368 :
https://github.com/a

[2022-02-23 20:51] frankjkelly commented on #13971
@hangc0276 - can you confirm the above ☝️
Thanks in advance!

[2022-02-23 20:52] frankjkelly commented on #11434
Closing - I think this was because we had an ACK_QUORUM of 1. Either way it's not reproducible any more.

[2022-02-23 20:52] #11434 closed

[2022-02-23 20:57] frankjkelly commented on #13864
UPDATE: There is a 2.9.1 MacOS for arm64 now
https://pypi.org/project/pulsar-client/2.9.1/#files

But still I get
[code]
probably because I am using intel?

[2022-02-23 21:06] tsturzl opened #14435 "Configuring brokerClientAuthenticationParameter for AuthenticationToken plugin does not work as documented"
**Describe the bug**
The documentation suggest that the proper way to reference a file with `brokerClientAuthenticationParameter` for JWT plugin is `brokerClientAuthenticationParameters={"file":"///path/to/proxy-token.txt"}`, which does not work. When you [look at the source](https://github.com/apache/pulsar/blob/v2.9.1/pulsar-client/src/main/java/org/apache/pulsar/client/impl/auth/AuthenticationT

[2022-02-23 21:24] dave2wave commented on #14335
This was a temporary issue. We have reverted the change. Please create a new issue if this breaks once the new site goes live.

[2022-02-23 21:24] #14335 closed

[2022-02-23 22:41] dave2wave commented on #13843
Please show your `terraform.tfvars` and `deploy.yaml`  files. Also provide the terminal output as text and not a screenshot.

[2022-02-23 22:44] dave2wave commented on #13843
Also the terraform and ansible files were updated after your tests.

[2022-02-23 23:11] dave2wave commented on #9084
If you are not in `us-east-1` then you can workaround this issue in `broker.conf`

I'm using terraform and ansible - here's the `broker.conf` template
[code]

Here is the setting of these facts in the ansible playbook.
[code]

I read the bucket and region from a file created by terraform:

[code]

In terraform the bucket and region are from the `terraform.tfvars` and written like so:

[code]
[code

[2022-02-24 00:09] #9772 closed

[2022-02-24 02:25] congbobo184 opened #14436 "[Proto] java.lang.IllegalStateException: Some required fields are missing"
**Describe the bug**
![image](https://user-images.githubusercontent.com/39078850/155444823-a7283952-bc22-49e7-99b3-8b2df6a8f7f4.png)
parse message metadata throw Exception
**To Reproduce**
Steps to reproduce the behavior:
1. start up a standalone pulsar, the version is bigger than 2.10.0
2. change broker config
transactionCoordinatorEnabled=true
managedLedgerMaxEntriesPerLedger=3
managedLedgerMinL

[2022-02-24 02:29] ofek commented on #13869
Bump.

[2022-02-24 02:30] ofek commented on #13870
Bump.

[2022-02-24 02:30] ofek commented on #13924
Bump.

[2022-02-24 03:14] yaalsn commented on #13864
<img width="818" alt="image" src="https://user-images.githubusercontent.com/10069311/155450683-bebceccb-d281-4975-b618-bf976d04a244.png">

Python pulsar-client 2.9.1 only release macos python3.9 arm64  version, so you can use python3.9 to install. And you can try `pyenv` and switch your python version quickly.

[2022-02-24 03:31] gaozhangmin commented on #13347
@isminex  After discuss with community, We don't support this PIP， the exists consumer selector strategy is enough for most Scenes. If we allow users to customize this strategy, it may lead to a misuse of key shared  subscription which doesn't conform to the intention of origin design of key shared subscription.

[2022-02-24 03:32] gaozhangmin commented on #13347
@isminex  After discuss with community, We don't support this PIP， the exists consumer selector strategy is enough for most Scenes. If we allow users to customize this strategy, it may lead to a misuse of key shared  subscription which doesn't conform to the intention of origin design of key shared subscription.

[2022-02-24 03:32] gaozhangmin commented on #13347
@isminex  After discuss with community, We don't support this PIP， the exists consumer selector strategy is enough for most Scenes. If we allow users to customize this strategy, it may lead to a misuse of key shared  subscription which doesn't conform to the intention of origin design of key shared subscription.

[2022-02-24 03:34] gaozhangmin commented on #14431
#12025 will fix it. @zcola

[2022-02-24 05:23] leizhiyuan opened #14438 "sometimes internalDeleteTopicForcefully will block forever"
https://github.com/apache/pulsar/blob/d1fb88acace2ceefc234458d2c0d93f2844c7a54/pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java#L312

[code]

in our scene, when we dump the thread many times , we can see this will wait forever

[2022-02-24 07:06] wangshaojie4039 opened #14443 "Thread deadlock in stress test"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-02-24 07:10] gaozhangmin commented on #13893
@zzzming  #13827  has merged, please help close this issue. THx.

[2022-02-24 07:37] leizhiyuan opened #14444 "support publish rate limit in tenant level"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

support publish rate limit in tenant level

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative so

[2022-02-24 08:53] momo-jun commented on #14423
I've sumitted https://github.com/apache/pulsar/pull/14445. PTAL.
@Technoboy- @Anonymitaet

[2022-02-24 09:14] wuchong opened #14446 "[LICENSE] Is there a license problem to bundle mysql driver in distribution?"
**Describe the bug**

I just find that the [pulsar-io-debezium-mysql-2.9.1.jar](https://mvnrepository.com/artifact/org.apache.pulsar/pulsar-io-debezium-mysql) bundles the mysql jdbc driver (i.e. https://mvnrepository.com/artifact/mysql/mysql-connector-java) which is under GPLv2, and is not compatible with Apache License 2 ([Category-X](https://www.apache.org/legal/resolved.html#category-x)).

Shou

[2022-02-24 09:55] frankjkelly commented on #13864
Thanks @yaalsn

I tried upgrading to Python 3.9.10 and still no luck. Did I misinterpret?

[code]

[2022-02-24 09:56] frankjkelly commented on #13864
FYI In addition the documentation here seems out of date in regards to MacOS supported versions
https://pulsar.apache.org/docs/en/client-libraries-python/#install-using-pip

<img width="550" alt="image" src="https://user-images.githubusercontent.com/62910985/155501428-15a847ac-15d2-4ecc-a7d9-eda18a37f532.png">

[2022-02-24 09:56] Anonymitaet commented on #13881
@gaozhangmin thanks! Can you provide the relevant code PR links?

[2022-02-24 09:58] ThomasPJordan opened #14448 "Call to subscribe() with list of topics causes seg fault if Pulsar broker is started after"
**Describe the bug**

- Only seen with list of topics (multi-topic subscription) being passed as the `topic` argument to `subscribe()`; not seen with single topic string as `topic` argument
- Only seen when Pulsar service starts up after application has already attempted repeatedly to subscribe, i.e., starting the application and calling `subscribe()` works fine with topic list arg if all takes pl

[2022-02-24 10:08] #14423 closed

[2022-02-24 10:12] yaalsn commented on #13864
Make sure that you are using apple silicon chip macbook and try to install with command `pip3 install pulsar-client==2.9.1`

[2022-02-24 10:30] frankjkelly commented on #13864
@yaalsn I have an Intel Macbook

[2022-02-24 10:54] momo-jun commented on #14432
Hi @Anonymitaet I've submitted the doc PR for review.

[2022-02-24 10:59] Matt-Esch opened #14452 "Missing pulsar_consumer_receive_async"
**Is your enhancement request related to a problem? Please describe.**
The c api is missing async definitions of `pulsar_consumer_receive_with_timeout` and `pulsar_consumer_receive`.

**Describe the solution you'd like**
I think `pulsar_consumer_receive_with_timeout_async` and `pulsar_consumer_receive_async` should be added.

**Describe alternatives you've considered**
I have considered directly u

[2022-02-24 11:12] zcola commented on #14431
Thank you, the test is as expected if all bookies are tagged and the topic is tagged

[2022-02-24 12:59] larshp opened #14455 "[Doc] Terminology? Message and Sequence Id"
### What issue do you find in Pulsar docs?

https://pulsar.apache.org/docs/en/concepts-messaging/#messages mentions that each message has a "Sequence Id", and does not mention anything regarding "Message Id", which is used in the node client, https://github.com/apache/pulsar-client-node/blob/master/index.d.ts#L146 and in the java client https://pulsar.apache.org/api/client/org/apache/pulsar/client

[2022-02-24 15:53] tspannhw opened #14457 "Compiling Pulsar C++ Client on NVIDIA Jetson Xavier"
**Describe the bug**
Compile fails

 53%] Building CXX object lib/CMakeFiles/PULSAR_OBJECT_LIB.dir/ProducerImpl.cc.o
[ 54%] Building CXX object lib/CMakeFiles/PULSAR_OBJECT_LIB.dir/ProtobufNativeSchema.cc.o
/home/nvidia/nvme/PulsarOnRaspberryPi/pulsar/pulsar-client-cpp/lib/ProtobufNativeSchema.cc: In function ‘pulsar::SchemaInfo pulsar::createProtobufNativeSchema(const google::protobuf::Descriptor

[2022-02-24 16:14] frankjkelly opened #14459 "[Broker] Expose prometheus metric for current and max number of http server threads"
**Is your enhancement request related to a problem? Please describe.**
I'd like to monitor to ensure that Jetty has enough server threads to handle the number of incoming requests.

As discussed by @lhotari here https://github.com/apache/pulsar/issues/14329
"Since Pulsar Admin API uses the blocking servlet API, all Jetty threads might be occupied and this causes unavailability of the Pulsar Admin

[2022-02-24 16:14] frankjkelly commented on #14459
@sijie here is the enhancement request we discussed yesterday

[2022-02-24 16:55] 0gap commented on #13843
Hi @dave2wave.
`terraform.tfvars`:
[code]

I did no changes to `deploy.yaml`.

I will make an attempt with the latest ones in the repo. Many thanks for pointing it out.

[2022-02-24 18:52] alicebi-streamnative opened #14462 "[Doc] Posting a blog to celebrate Pulsar hits 500 contributors milestone"
### What issue do you find in Pulsar docs?

Recently, the Pulsar community reached 500 contributors. This blog, co-authored by Matteo Merli with Karin Landers and Alice Bi, provides an overview of the growth of the Pulsar community, product updates, and celebrates this community milestone.
[the-apache-pulsar-community-welcomes-500th-contributor.md](https://github.com/apache/pulsar/files/8135030/th

[2022-02-24 18:55] zdufour-asp opened #14463 "[Doc] Document health check command for waiting for standalone server to start"
### What issue do you find in Pulsar docs?

I'd like to be able to run a [health check](https://docs.docker.com/compose/compose-file/compose-file-v3/#healthcheck) command so that I can have one of my containers wait for `pulsar standalone` to finish starting up.

I'm guessing there's a way to implement this with existing CLI tools, but I'm pretty lost.

As an example of what I'm looking for, postg

[2022-02-24 18:55] alicebi-streamnative commented on #14462
@david-streamlio

[2022-02-24 23:35] michaeljmarshall commented on #13788
@Shawyeok - have you tested running with a 2.8.2 broker for this cluster? It'd be helpful to know if you're observing the same behavior for that version, too.

[2022-02-25 00:03] michaeljmarshall commented on #13825
@346359827 - it looks like you wanted this issue closed. I am going to close it for now. Please re-open if I am mistaken.

[2022-02-25 00:03] #13825 closed

[2022-02-25 01:29] Anonymitaet commented on #14462
Hi @alicebi-streamnative since this is a blog, I've labeled this PR w/ `blog` and removed `doc-required`.

[2022-02-25 01:59] RobertIndie opened #14465 "Flaky-test: ResendRequestTest. testExclusiveCumulativeAckedNormalTopic"
ResendRequestTest.testExclusiveCumulativeAckedNormalTopic is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/5327552441?check_suite_focus=true#step:9:2632)

[code]

[2022-02-25 03:08] zymap commented on #14378
There have some logs when starting the component, you may check that configurations are applied in the logs

[2022-02-25 06:19] michaeljmarshall commented on #14438
@leizhiyuan - which version of pulsar are you seeing this error? Have you reproduced the problem against all of the versions taht @315157973 lists here?

[2022-02-25 06:49] michaeljmarshall commented on #14438
@leizhiyuan - in your thread dump, what is the stack for the thread named `metadata-store-x-x` where `x` is a number? If I had to guess, that thread is in a `WAITING` state, and is the reason that the future will never return. In master, here are the lines that are causing the issue: https://github.com/apache/pulsar/blob/0ef7baa5131f0dee4a57e61eae1d7686f7f60f1e/pulsar-metadata/src/main/java/org/ap

[2022-02-25 06:52] michaeljmarshall commented on #14438
Based on that thread dump, it looks like the blocking is coming from this code:

https://github.com/apache/pulsar/blob/0ef7baa5131f0dee4a57e61eae1d7686f7f60f1e/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java#L2279-L2284

When the zk thread completes the future returned by `fetchPartitionedTopicMetadataAsync`, it completes the callback on the `metadata-s

[2022-02-25 07:13] armandxu opened #14468 "bookie-io-1-9] ERROR org.apache.bookkeeper.proto.BookieServer - Unable to allocate memory, exiting bookie"
**Describe the bug**
when storage is full，then bookie has an error：

2022-02-24T23:13:39,590+0800 [bookie-io-1-9] ERROR org.apache.bookkeeper.proto.BookieServer - Unable to allocate memory, exiting bookie
io.netty.util.internal.OutOfDirectMemoryError: failed to allocate 16777216 byte(s) of direct memory (used: 23605542941, max: 23622320128)
	at io.netty.util.internal.PlatformDependent.incrementMem

[2022-02-25 07:23] #14413 closed

[2022-02-25 07:26] eolivelli commented on #14438
good work @michaeljmarshall

We should not call 'join' and chain the async functions calls to persistentTopicExists.

I agree that we should fix this.

[2022-02-25 07:53] eolivelli commented on #14438
@leizhiyuan I will send a PR for this if you don't have time

[2022-02-25 08:10] #11577 closed

[2022-02-25 08:11] mattisonchao commented on #14438
@eolivelli  Sorry I missed your message, I have already pushed a PR. #14469

[2022-02-25 08:46] jianke221 commented on #14468
armandxu @armandxu  I are colleagues,Let me describe the phenomenon observed in the monitoring，We now test and find that directmemory will soar after the bookie node becomes readonly. After the ledger is expired and deleted, directmemory will stop soaring, but will not be released. After the next readonly, it will continue to soar. If it reaches the directmemory capacity before expiration and dele

[2022-02-25 09:40] codelipenghui commented on #13696
The master also has the same problem https://github.com/apache/pulsar/runs/5330589079?check_suite_focus=true

[2022-02-25 10:23] JackrayWang opened #14471 "What is the advertage of InputStream for MultipartFile ？"
I do not know that why package upload param ‘uploadedInputStream' use InputStream as the type 。Usually we use MultipartFile  as type of upload file  param's type。I want to know the advantages of InputStream .

`
    @Consumes(MediaType.MULTIPART_FORM_DATA)
    public void upload(
        final @PathParam("type") String type,
        final @PathParam("tenant") String tenant,
        final @PathPara

[2022-02-25 10:37] JackrayWang opened #14472 "upload my jars but it retrun 500."
### What issue do you find in Pulsar docs?

I want use rest api to upload my jars but it retrun 500.

Please perfect the case ,thank you very much.

[the location official documents](https://pulsar.apache.org/docs/en/admin-api-packages/#upload-a-package)

### What is your suggestion?

Please perfect the case ,thank you very much.

### Do you have any references?

Please perfect the case ,thank you

[2022-02-25 10:38] JackrayWang commented on #14472
https://github.com/apache/pulsar/issues/14471

[2022-02-25 23:38] acjohnson commented on #11654
Upgraded to 2.8.2 and this problem appears to be resolved

[2022-02-25 23:38] #11654 closed

[2022-02-25 23:48] michaeljmarshall commented on #14438
@leizhiyuan - note that the bug I'm seeing is triggered by `brokerDeleteInactivePartitionedTopicMetadataEnabled=true`. That is the only way that `tryToDeletePartitionedMetadata` can result in a deadlock scenario. If you're running with that configuration set to `false`, then maybe there are multiple cases of deadlock here.

[2022-02-25 23:49] michaeljmarshall commented on #14438
@leizhiyuan - it'd be valuable to know what your `metadata-store` thread stack says.

[2022-02-26 00:24] leizhiyuan commented on #14438
[27151.log](https://github.com/apache/pulsar/files/8145521/27151.log)

[2022-02-26 02:42] aloyszhang commented on #13761
discuss thread https://lists.apache.org/thread/xz80vz4j1yv7zm5bh4pfxgm8p2rg289z

[2022-02-26 02:57] Jason918 commented on #13360
Solved with PIP-131

[2022-02-26 02:57] #13360 closed

[2022-02-26 03:02] Jason918 commented on #12967
@sl1316  Close this issue for now. You can reopen this if you have further questions.

[2022-02-26 03:02] #12967 closed

[2022-02-26 05:25] thaihuyphan opened #14476 "Cannot start postgres connector in pulsar io"
**Describe the bug**
When I start Postgres connector with config file and actually pulsar function doesn't start and raise an error message 'must be superuser or replication role to start walsender'

**Expected behavior**
Can start Postgres connector into pulsar standalone (I am using 'pgoutput' plugin with Postgres version larger than 10)

**Screenshots**
<img width="1277" alt="Screen Shot 2022-0

[2022-02-26 06:32] JackrayWang commented on #14472
bin/pulsar-admin packages upload function://wyl/alert/alert-function@v0.1 --path /root/pulsar-function-1.0-SNAPSHOT.jar --description package-description
null

Reason: HTTP 500 Internal Server Error

[2022-02-26 06:33] JackrayWang commented on #14472
## shell
`bin/pulsar-admin packages upload function://wyl/alert/alert-function@v0.1 --path /root/pulsar-function-1.0-SNAPSHOT.jar --description package-description`
## result
[code]

[2022-02-26 07:21] eolivelli commented on #13126
When I see this kind of problems I run the build with a more modern jdk and usually the new version of javac tells me more

[2022-02-26 09:10] eolivelli commented on #12969
It should already work with protobuf native

[2022-02-26 09:11] eolivelli commented on #12969
Did you try? Which error you see?

[2022-02-26 09:23] eolivelli commented on #14472
Can you paste broker logs?

[2022-02-27 05:16] #12684 closed

[2022-02-27 07:48] eolivelli commented on #12556
In a system that is not under heavy load on metadata the local caches should be updated in a timely manner.
If the system does not converge to a consistent view over metadata then we have some bugs.
We recently found a problem on the usage of Caffeine in the local metadata cache.

The alternative is to switch to a distributed local cache that guarantees causal consistency for the near caches, that

[2022-02-27 09:00] ronfarkash commented on #13946
@mattisonchao Asking again if there is anything in the works for this issue?

[2022-02-27 12:53] eolivelli commented on #13946
It it not clear to me which API has the problem.
Do we have a simple reproducer?

[2022-02-27 12:54] eolivelli commented on #13946
Which pulsar version?

[2022-02-27 13:57] ronfarkash commented on #13946
Admin Rest API v2, as stated in the issue, if the HTTP request is related to topic ownership, it can start happening, and when it does start happening, a broker reset is required.

Stated above, 2.8.2

[2022-02-27 16:43] eolivelli commented on #13946
Thank you very much for your answers.
Do you see loads in the broker about bundle unloading or bundle splitting related to that namespace?

There were (and probably still they are) problems with unloading. Last week I was investigating some of these problems in case of OOM during bundle unloading.

[2022-02-27 21:10] benlongo commented on #13474
Why was this closed?

[2022-02-27 21:11] benlongo commented on #13474
Why was this closed?

[2022-02-27 21:21] eolivelli commented on #13474
Maybe it was closed by mistake

[2022-02-27 21:22] eolivelli commented on #13474
The author of the issue closed it. Maybe there is no more interest from his point of view

[2022-02-27 21:22] #13474 closed

[2022-02-28 01:07] hangc0276 commented on #13315
The implementation is https://github.com/apache/pulsar/pull/13316 , close this issue.

[2022-02-28 01:07] #13315 closed

[2022-02-28 01:56] #14219 closed

[2022-02-28 02:12] benlongo opened #14484 "KEYS file missing newline which breaks gpg"
The `KEYS` file at [https://www.apache.org/dist/pulsar/KEYS](https://www.apache.org/dist/pulsar/KEYS) is missing whitespace under the block header `-----BEGIN PGP PUBLIC KEY BLOCK-----` for "Chris Kellogg (CODE SIGNING KEY) <cckellogg@apache.org>".
This causes `gpg --import KEYS` to fail
[code]

I'm not sure where this file lives or how to fix it.

[2022-02-28 02:13] #13756 closed

[2022-02-28 02:26] Jason918 commented on #12234
Closing this for now, as there are not enough votes.
It's already implemented in #12032.
Anyone with more solid use case can reopen this.

[2022-02-28 02:26] #12234 closed

[2022-02-28 02:30] Jason918 commented on #12224
@sollecitom Close this for now, feel free to reopen this if you have further questions.

[2022-02-28 02:30] #12224 closed

[2022-02-28 02:40] momo-jun commented on #13585
Hi @codelipenghui, any updates or plan for this doc?

[2022-02-28 03:16] #14404 closed

[2022-02-28 03:34] #13019 closed

[2022-02-28 03:52] #13936 closed

[2022-02-28 04:08] Anonymitaet commented on #13229
Thanks @liangyuanpeng

[2022-02-28 04:08] #13229 closed

[2022-02-28 04:11] Anonymitaet commented on #8603
The format of the corresponding [English page](https://pulsar.apache.org/docs/en/next/reference-configuration/) is correct.  @tuhaihe you may want to fix this

[2022-02-28 04:11] Anonymitaet commented on #13052
Hi @momo-jun could you please help resolve this doc issue? Thanks

References:
- https://pulsar.apache.org/docs/en/next/administration-isolation/
- https://streamnative.io/blog/tech/2021-03-02-taking-an-in-depth-look-at-how-to-achieve-isolation-in-pulsar/
- https://streamnative.io/blog/tech/2021-06-03-pulsar-isolation-for-dummies-separate-pulsar-clusters/

[2022-02-28 04:15] Anonymitaet commented on #13053
Hi @momo-jun could you please help resolve this doc issue? Thanks

[2022-02-28 04:29] Anonymitaet commented on #13054
Hi @momo-jun could you please help research this issue and update docs if necessary? Thanks

[2022-02-28 04:52] odidev commented on #12501
@sijie, can you please let me know if the community is open to accept this PR on this topic.

[2022-02-28 06:56] eolivelli commented on #12234
I am interested in this, as it is helping people transitioning from Kafka.
but we should make the AppendIndex interceptor enabled by default

[2022-02-28 07:15] ronfarkash commented on #13946
I am not entirely sure if bundle unloading/splitting is the cause of the issue since I have not noticed any OOM problems, it almost seems random.

To my knowledge, there are multiple topic metadata & ownership issues that were being worked on, but sadly I am unaware of their status and have a hard time catching up due to busy schedule.

[2022-02-28 07:26] #12216 closed

[2022-02-28 07:27] #12317 closed

[2022-02-28 09:38] RobertIndie commented on #13760
Here is another PR related to this issue: https://github.com/apache/pulsar/pull/14384

[2022-02-28 12:08] mingyifei opened #14492 "[pulsar-client] Support Message.getProperties() modification."
scene：

We conduct stress testing on the service or other components want to add fields to the message header. Modification is not supported.

`
new ProducerInterceptor() {

                        @Override
                        public void close() {
                        }

                        @Override
                        public boolean eligible(Message message) {

[2022-02-28 12:38] leizhiyuan opened #14493 "Can we provide support for mdc"
**Is your enhancement request related to a problem? Please describe.**

If we pass a tracing id in message header, is it possible to retrieve this info and put it into mdc, then all of log will see this id to solve some problems

**Describe the solution you'd like**
[A clear and concise description of what you want to happen.](https://medium.com/asyncparadigm/logging-in-a-multithreaded-environment

[2022-02-28 15:10] aloyszhang opened #14495 "[Feature] Support ManagedLedger EntryCache cache entires before the slowest cursor"
**Is your feature request related to a problem? Please describe.**
A topic may have lots of subscriptions in some scenes like an advertising recommendation system. This kind of system may update very frequently and at which point all subscriptions need to seek back to a fixed time(one or two hours).

We have a pulsar cluster for a recommendation business, every topic has 200~400 subscriptions, and

[2022-02-28 22:25] michaeljmarshall commented on #14438
@leizhiyuan - after looking through your thread dump a bit more, I am wondering if you have a separate issue in your delayed message implementation? I see that thread is blocked on some other thread that is completing a lookup call (that lookup call has a timeout on it, so that thread isn't indefinitely blocked). Is there any chance that the `"DM-sync-delay-index"` thread being blocked is causing

[2022-03-01 01:09] #12314 closed

[2022-03-01 02:03] xiaobing0508 commented on #14140
@nodece I failed to compile with Maven.

[2022-03-01 02:12] leizhiyuan commented on #14438
Thanks for your help, but we analyzed this thread, `DM-sync-delay-index` will not affect the lookup process. It only uses cache to lookup if a topic exists, if cache missed ,It will lookup use `PulsarService`

<img width="922" alt="image" src="https://user-images.githubusercontent.com/2684384/156091563-b10c79f2-e1ed-44de-a247-0f104147c9ca.png">

when cache missed, we do this.
<img width="1006" alt

[2022-03-01 02:19] #12138 closed

[2022-03-01 02:20] #12140 closed

[2022-03-01 02:20] #12197 closed

[2022-03-01 03:18] JackrayWang commented on #14472
`curl --location --request POST 'http://192.168.228.59:8080/admin/v3/packages/function/wyl/alert/pulsar-function-1/0.1/' \
--form 'metadata="{\"contact\":\"sad\",\"createTime\":111,\"description\":\"sad\",\"modificationTime\":111}";type=application/json' \
--form 'file=@"/D:/Code/maveRepository/org/example/pulsar-function/1.0-SNAPSHOT/pulsar-function-1.0-SNAPSHOT.jar"'`

@eolivelli When I call the

[2022-03-01 03:22] JackrayWang commented on #14472
@eolivelli
I think the question is caused by` final @ formdataparam ("file") InputStream uploadedinputstream`

`    @Consumes(MediaType.MULTIPART_FORM_DATA)
    public void upload(
        final @PathParam("type") String type,
        final @PathParam("tenant") String tenant,
        final @PathParam("namespace") String namespace,
        final @PathParam("packageName") String packageName,

[2022-03-01 03:29] nodece commented on #14140
Could you provide the build log?

[2022-03-01 03:30] xiaobing0508 commented on #14140
[ERROR] Failed to execute goal org.codehaus.mojo:exec-maven-plugin:3.0.0:exec (rename-epoll-library) on project pulsar-broker-shaded: Command execution failed.: Process exited with an error: 127 (Exit value: 127) -> [Help 1]
[ERROR]
[ERROR] To see the full stack trace of the errors, re-run Maven with the -e switch.
[ERROR] Re-run Maven using the -X switch to enable full debug logging.
[ERROR]
[ERR

[2022-03-01 04:02] nodece commented on #14140
Try `mvn install -Pcore-modules,-main -DskipTests`.

[2022-03-01 04:50] codelipenghui commented on #14495
Looks like we want to add a catchup entry cache. The current entry cache is used for the tailing messages. The current solution looks like to provide a catchup cache by extending the tailing cache, but I think it will not work for the cases that have multiple cursors read from an earlier position such as 3 days but only have entry cache in 2 hours. Essentially, the issue is how to use the cache to

[2022-03-01 05:46] xiaobing0508 commented on #14140
[INFO] BUILD SUCCESS
[INFO] ------------------------------------------------------------------------
[INFO] Total time:  13:34 min
[INFO] Finished at: 2022-03-01T13:33:39+08:00
Is this compilation successful?
What should I do next?

[2022-03-01 06:15] JackrayWang commented on #14472
[code]

[2022-03-01 06:25] nodece commented on #14140
You can find Pulsar package in `/Users/$yourname/.m2/repository/org/apache/pulsar/pulsar/$version/pulsar-2.10.0-SNAPSHOT.tar.gz`.

[2022-03-01 06:30] xiaobing0508 commented on #14140
Is this package binary?

[2022-03-01 06:34] nodece commented on #14140
Yes

[2022-03-01 06:40] nodece commented on #14140
Sorry, This correct path: `distribution/server/target/apache-pulsar-2.10.0-SNAPSHOT-bin.tar.gz`.

[2022-03-01 06:52] hepyu opened #14499 "pulsar broker feature request"
Pulsar cluster has three brokers: broker 1:6650, broker 2:6650 and broker 3:6650

Now I replace the original broker with three new broker nodes. The new brokers are broker 4:6650, broker 5:6650 and broker 6:6650

My server config the new broker (4 ~ 6),  but when I started server, I found that the old broker (1 ~ 3)  was connected either. Why? Should the broker be connected with what I configed ?

[2022-03-01 06:55] BewareMyPower commented on #14457
It looks like your protobuf dependency is wrong. The latest C++ client depends on protobuf 3, which has the `ByteSizeLong` method, not `ByteSize`.

[2022-03-01 06:56] liudezhi2098 commented on #14499
broker.conf  `advertisedAddress` whether there is a set value？

[2022-03-01 08:25] eolivelli commented on #14472
probably you are missing to enable package management in broker.conf

`enablePackagesManagement=true`

[2022-03-01 10:24] hepyu commented on #14499
new broke node config right value to advertisedAddress in broker.conf.

[2022-03-01 10:36] andrasbeni opened #14505 "PIP-145: Improve performance of regex subscriptions"
Discussion thread: [https://lists.apache.org/thread/51y8s6tfw1p1h5dcb9fgzkzd8tw2bqpz](https://lists.apache.org/thread/51y8s6tfw1p1h5dcb9fgzkzd8tw2bqpz)

## Motivation

Pulsar allows consumers to subscribe to multiple topics by a pattern. When using this feature, consumers poll brokers for the list of all topics in a namespace and filter the list on the client side based on the pattern. This causes

[2022-03-01 11:25] codelipenghui opened #14507 "Add metrics for the skipped entries count"
**Is your enhancement request related to a problem? Please describe.**
Pulsar uses a marker approach to achieve the replicated subscription https://github.com/apache/pulsar/wiki/PIP-33%3A-Replicated-subscriptions or transaction buffer. For the messages dispatching, we should filter out the markers.
But currently, we don't have any metrics or stats to indicate how many entries are filtered, this wi

[2022-03-01 11:35] tjiuming commented on #14507
@codelipenghui  assign to me please

[2022-03-01 13:59] lhotari opened #14516 "Flaky-test: NamespacesTest.testDeleteNamespaceWithBundles"
NamespacesTest.testDeleteNamespaceWithBundles is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/5375478775?check_suite_focus=true#step:11:269)

[code]

[2022-03-01 14:53] shibd commented on #13625
@lhotari I reproduced it, I push a PR, PTAL.

[2022-03-01 15:18] shibd commented on #14465
I reproduced it,I'll try to fix it.

[2022-03-01 15:32] Technoboy- commented on #14516
Ok.

[2022-03-01 17:29] nicoloboschi opened #14522 "SchemaInfoImpl instances are treated as immutable even if they are mutable"
**Describe the bug**
During the development of https://github.com/apache/pulsar/pull/14508, we noticed that `SchemaInfoImpl` (the default implementation of `SchemaInfo`) is a non thread-safe mutable object.

All the default schema implementations created inside `org.apache.pulsar.client.api.SchemaInfo` are creating and saving the `SchemaInfo` instance as static field.
The issue would be that a thr

[2022-03-01 17:30] jkolash commented on #4100
I'm curious if there Is there any timeline on when this would be implemented? We are using the Failover mode and would like to have this just work if possible.

[2022-03-01 17:39] michaeljmarshall opened #14523 "Flaky-test: ClientDeduplicationFailureTest.testClientDeduplicationCorrectnessWithFailure"
ClientDeduplicationFailureTest.testClientDeduplicationCorrectnessWithFailure is flaky. It fails sporadically. It was disabled in https://github.com/apache/pulsar/pull/14509 because it was leading to out of memory errors. Ideally, we'll find a way to re-enable it without causing OOM.

[2022-03-01 18:17] ilkomiliev commented on #12166
just to keep this not to be closed - can we have an ETA for the fix of this?

[2022-03-01 18:30] benlongo commented on #13474
I'd be very interested to see support for Consul metadata. There are several other direct mentions of consul as a backend here https://github.com/apache/pulsar/issues/572#issue-243298720

[2022-03-01 21:37] lhotari commented on #14523
btw. The test has been quarantined before. There's not a big difference to completely disabling it.

[2022-03-02 00:52] #13583 closed

[2022-03-02 01:24] #10497 closed

[2022-03-02 02:11] #12495 closed

[2022-03-02 02:13] jackray2009 commented on #14472
Thank you, but this parameter is not reflected in the documentation.

I will look at all the parameters of the broker one by one，now.

[2022-03-02 02:20] shibd opened #14525 "Flaky-test: org.apache.pulsar.transaction.coordinator.MLTransactionMetadataStoreTest.testInitTransactionReader"
MLTransactionMetadataStoreTest.testInitTransactionReader is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/5377073254?check_suite_focus=true)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
org.apache.pulsar.transaction.coordinator.MLTransactionMetadataStoreTest
Error:  testInitTransactionReader(org.apache.pulsar.transaction.coord

[2022-03-02 02:43] Anonymitaet opened #14526 "[Doc] How to read data offloaded to HDFS"
Confirmed w/ @codelipenghui, this feature is already implemented but we lack docs.

Context: https://app.zenhub.com/workspaces/platform---triage-5df15c32bb528a5bbf46b984/issues/streamnative/community-faq/23

[2022-03-02 02:52] aloyszhang commented on #14495
Yes, it re-uses the entry cache and will fail if we read entry out of the range of the cached data.

But if we support another catchup cache, the catchup-cache and tailing-cache may have an intersection, this may waste some memory.

Agree, we can discuss it first.

[2022-03-02 03:48] #14345 closed

[2022-03-02 03:49] #14341 closed

[2022-03-02 04:18] nodece opened #14529 "PIP-146: ManagedCursorInfo compression"
Discussion thread: https://lists.apache.org/thread/j92bzsby9n2ozc9gcw5psgcy2026l1wm

## Motivation

The cursor data is managed by ZooKeeper/etcd metadata store. When cursor data becomes more and more, the data size will increase and will take a lot of time to pull the data. Therefore, it is necessary to add compression for the cursor, which can reduce the size of data and reduce the time of pullin

[2022-03-02 05:59] sourabhaggrawal commented on #5792
Hi @wmccarley is there any update on this ?

[2022-03-02 08:17] sourabhaggrawal opened #14533 "stats-internal throws 500 with message No such ledger exists on Metadata Server"
**Describe the bug**
I was getting MissingLogFileException for one of the topic when starting the consumer, when looked into the stats-internal of the topic I found the ledgers for which log file was missing belongs to schemaledger. I deleted those ledgers manually, post that the exception stopped coming for the topic but the stats-internal command started failing with 500 error code.
Below is the

[2022-03-02 08:59] tjiuming commented on #14493
It‘s not the duty of pulsar, you can do it by APM systems.

[2022-03-02 09:13] tjiuming commented on #14444
actually, you can wrap producer.

[2022-03-02 09:33] lbenc135 opened #14534 "SIGSEGV error in docker (Java client)"
**Describe the bug**
Pulsar Java client crashes with the message below when trying to create a Pulsar client. I reproduced the crash with versions 2.9.1, 2.8.2 and 2.7.4, but same code works on 2.7.1. Also the crash doesn't happen when running on a local machine, but happens when running in a docker container (`openjdk:14-alpine`).

Logs:
[code]

Full log:
[hs_err_pid1.log](https://github.com/apac

[2022-03-02 09:40] tjiuming commented on #14417
seems not support yet.

[2022-03-02 09:42] lhotari commented on #14534
@lbenc135 Can you try if the same problem reproduces when you don't use Alpine based OpenJDK base image? Please test with `openjdk:14`.

[2022-03-02 09:42] #14492 closed

[2022-03-02 09:45] lhotari commented on #14534
https://github.com/netty/netty-tcnative/issues/649#issuecomment-905524734

[2022-03-02 09:50] lhotari commented on #10798
Since adoptopenjdk is deprecated, it's recommended to use eclipse-temurin:17-alpine base image if one wants to use an alpine base image. [Eclipse Temurin images](https://hub.docker.com/_/eclipse-temurin) are maintained by [Adoptium](https://adoptium.net/) and it provides pre-built OpenJDK binaries.

[2022-03-02 10:06] tjiuming commented on #14266
@codelipenghui  do we need to fix it? If needed, please assign to me

[2022-03-02 10:17] lhotari commented on #14516
another failure: https://github.com/apache/pulsar/runs/5389017187?check_suite_focus=true#step:11:270

@Technoboy- it seems that this is very flaky since it appears very often.

[2022-03-02 11:08] JackrayWang opened #14536 ""reason": "download/pulsar_functions/function17065127734302601489.tmp""
[code]

[code]

[2022-03-02 11:10] JackrayWang commented on #14536
I can not see errors in broker log file.

Is some config error?

@eolivelli Thanks.

[2022-03-02 11:19] JackrayWang commented on #14536
I refer to the URL request constructed by the following code.

[code]

[2022-03-02 11:30] JackrayWang commented on #14536
Where can I find the file named "download/pulsar_functions/function17065127734302601489.tmp"

[2022-03-02 11:52] lbenc135 commented on #14534
@lhotari `openjdk:14` works, but `eclipse-temurin:17-alpine` does not. In any case, changing the base image is a bit tricky for us. Is there any plan to fix this for alpine images?

[2022-03-02 12:23] vkuznecovas commented on #14507
Could this also be exported as a prometheus metric please?

[2022-03-02 12:52] nicoloboschi commented on #10537
@linlinnn I see this test failing on branch-2.8
https://github.com/apache/pulsar/runs/5389692926?check_suite_focus=true

did you close the issue because there was a fix?

[2022-03-02 13:06] lhotari commented on #13625
Fixed by #14519

[2022-03-02 13:06] #13625 closed

[2022-03-02 13:39] lhotari commented on #14534
When using pulsar-client-original, you might need to also use dependencyManagement in maven or Gradle's [version alignment features](https://docs.gradle.org/current/userguide/dependency_version_alignment.html#version_alignment) to ensure that there aren't mixed versions of Netty and Netty netty-tcnative-boringssl-static libraries .

For maven, something like this:
[code]

[2022-03-02 14:19] shibd commented on #14516
+1 https://github.com/apache/pulsar/runs/5388581170?check_suite_focus=true#step:11:1759

[2022-03-02 15:56] lhotari opened #14540 "Flaky-test: PersistentDispatcherFailoverConsumerTest.testAddRemoveConsumer"
PersistentDispatcherFailoverConsumerTest.testAddRemoveConsumer is flaky. It times out sporadically.

[example failure](https://github.com/apache/pulsar/runs/5392386945?check_suite_focus=true#step:9:1726)

[code]

[2022-03-02 15:58] lhotari commented on #14540
There's a similar problem in PersistentDispatcherFailoverConsumerStreamingDispatcherTest.testAddRemoveConsumer

[2022-03-02 17:55] dave2wave commented on #13788
I'm seeing this error while doing OMB / Offloading tests of Pulsar 2.8.3 rc3.

[code]

The mark-delete seem to be slightly out of sequence.

[2022-03-02 20:26] lhotari commented on #6523
Yes, that is possible.

[2022-03-02 20:43] carl297r commented on #6523
How? Tried using a Reader with MessageId.latest and it does not send the latest message already produced. It only send the first message published after the creation of the reader.

[2022-03-02 21:00] lhotari commented on #6523
There's an open issue. However a workaround exists: https://github.com/apache/pulsar/issues/10483#issuecomment-833293066 . When using a reader you usually also need to configure a rentention policy. The user manual contains details about that.

[2022-03-02 22:33] carl297r commented on #6523
Thanks. That is the issue we have but the workaround is effective.

[2022-03-03 01:46] wangshaojie4039 commented on #14443
[ft-report-dump.pdf](https://github.com/apache/pulsar/files/8174120/ft-report-dump.pdf)
[死锁问题.txt](https://github.com/apache/pulsar/files/8174121/default.txt)

[2022-03-03 02:32] fengxiaokai opened #14541 "we have a use case where requires send message across multiple data centers . A through B to C。"
**Describe the bug**
we have a use case where requires send message across multiple data centers . A through B to C。

**To Reproduce**
Steps to reproduce the behavior:
1. cluster1
2.
3.
4. Click on '....'
5. Scroll down to '....'
6. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your p

[2022-03-03 03:09] tjiuming commented on #14443
![image](https://user-images.githubusercontent.com/95597048/156488785-c1545fa4-210c-4192-b56a-1b37d6861eeb.png)

[2022-03-03 03:16] tjiuming commented on #14443
there is no deadlock condition here.  please see the  source code of `ProducerImpl` line 1495, 1552 and 1594. They are required a same lock.

[2022-03-03 04:14] leizhiyuan commented on #14444
pip 82

[2022-03-03 04:14] #14444 closed

[2022-03-03 04:22] congbobo184 commented on #12274
python don't support Schema.AUTO_CONSUME()

[2022-03-03 06:39] wangjialing218 commented on #14541
the messages replicated from cluster1 to cluster2 are marked as "replicated message", these message will not replicate again to cluster3.

[2022-03-03 06:42] shibd commented on #14108
+1 https://github.com/apache/pulsar/runs/5400944157?check_suite_focus=true#step:9:635

[2022-03-03 07:31] #14432 closed

[2022-03-03 08:38] #14525 closed

[2022-03-03 09:15] bigbang489 opened #14544 "[Java Pulsar Client] Unable to use proxyServiceUrl - SNI routing"
I have a pulsar broker (standalone) with TLS encryption enabled behind an Apache TrafficServer proxy.
I followed the [docs](https://pulsar.apache.org/docs/en/2.7.0/concepts-proxy-sni-routing/) to setup a java client to subscrible to a topic. However I'm not able to connect to the broker throught the proxy, the error was:
`2022-03-03 11:17:25,832 [pulsar-client-io-1-1] WARN  org.apache.pulsar.clien

[2022-03-03 11:31] Technoboy- commented on #14516
Do you have time to help take a look at this ?

[2022-03-03 11:59] shibd commented on #14516
Ok, I'll try to fix it.

[2022-03-03 12:25] Marais commented on #981
We are also experiencing this issue: server error: PersistenceError: org.apache.bookkeeper.mledger.ManagedLedgerException: Error while recovering ledger
When we restart the bookies and brokers, it seems to go away

We are running 2.9.1

[2022-03-03 15:00] HuynhKevin opened #14547 "Unable to build kubernetes objects from release manifest: error validating "" Cert-manager TLS"
I want to deploy a Pulsar Cluster on Kubernetes with TLS enabled.
I have followed Pulsar documentation to do this: https://pulsar.apache.org/docs/en/helm-deploy/

I have in advance install cert-manager. It is running well:
[code]

I have also prepared the helm release
[code]

But when I want to deploy Pulsar cluster using Helm with tls enabled:
[code]
I have that error:
[code]

Does anyone have a

[2022-03-03 22:48] anant-ahuja opened #14548 "Pulsar Client can connect to Pulsar Proxy but not the Pulsar brokers"
I have Pulsar deployed on Kubernetes with the Pulsar Proxy ingress enabled. My Pulsar clients are NOT in the kubernetes cluster, they are on a different server which is not a part of the Kubernetes cluster. The Pulsar clients can connect to the Pulsar Proxy just fine, however they get an internal address for the Pulsar brokers and thus can't connect to the broker.

Here is screenshots of logs my P

[2022-03-04 01:27] hangc0276 commented on #14436
[test1.log.zip](https://github.com/apache/pulsar/files/8182282/test1.log.zip)

[code]

[2022-03-04 01:59] congbobo184 commented on #12829
https://github.com/apache/pulsar/pull/11357 has fix this problem

[2022-03-04 01:59] #12829 closed

[2022-03-04 02:57] JackrayWang commented on #14536
[code]

[2022-03-04 03:09] JackrayWang commented on #14536
[code]

[2022-03-04 03:15] JackrayWang commented on #14536
And I can see the files as following。
[code]

[2022-03-04 03:32] shibd commented on #14516
Sorry, I didn't reproduce for local. I looked at the test code. It should be that the following code sequence is wrong.

Before delete a namespace, We should mock all done. 847 lines of code should be executed after 851 lines of code.

https://github.com/apache/pulsar/blob/4f1e39b6921ea401b8c27f17a041d06d85f8abf8/pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/NamespacesTest.java#L847-L

[2022-03-04 05:49] mingyifei opened #14557 "[pulsar-function] create and start function jar fail."
version: 2.8

broker.conf modify content :  functionsWorkerEnabled=true

function use:

./pulsar-admin functions create --jar /Users/developer/Documents/personal/pulsar/func/pulsar-tester-api-0.0.1.jar --classname func.LogFunction --tenant public --namespace default --name log --inputs persistent://public/default/simple --output persistent://public/default/out

./pulsar-admin functions start --nam

[2022-03-04 06:30] shibd commented on #14465
https://github.com/apache/pulsar/runs/5417203130?check_suite_focus=true#step:9:2179

[2022-03-04 06:53] codelipenghui commented on #14073
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:53] codelipenghui commented on #14067
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:53] codelipenghui commented on #11910
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:53] codelipenghui commented on #11904
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:53] codelipenghui commented on #11899
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:53] codelipenghui commented on #11892
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:53] codelipenghui commented on #11890
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:53] codelipenghui commented on #11883
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:53] codelipenghui commented on #11877
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:53] codelipenghui commented on #11874
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:53] codelipenghui commented on #11873
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:53] codelipenghui commented on #11869
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:53] codelipenghui commented on #11866
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:53] codelipenghui commented on #11861
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11860
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11845
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11842
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11830
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11819
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11817
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11799
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11796
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11793
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11787
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11780
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11773
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11772
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11756
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11752
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11751
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11746
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11745
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11730
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11727
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11717
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11713
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11711
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11708
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11704
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11703
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11701
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11700
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11699
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11695
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11677
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11646
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11639
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:54] codelipenghui commented on #11632
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11628
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11626
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11608
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11603
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11591
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11579
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11568
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11567
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11562
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11561
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11552
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11539
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11538
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11532
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11531
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11529
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11528
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11527
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11521
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11515
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11510
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11507
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11506
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11505
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11504
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11503
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11502
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11491
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11489
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11488
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11484
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11483
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:55] codelipenghui commented on #11482
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11481
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11480
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11476
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11475
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11474
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11471
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11470
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11464
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11457
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11448
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11445
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11444
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11431
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11428
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11426
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11413
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11410
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11409
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11402
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11381
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11377
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11373
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11371
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11367
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11366
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11356
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11351
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11350
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11334
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11324
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11314
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11313
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11297
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:56] codelipenghui commented on #11295
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11289
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11288
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11286
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11282
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11277
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11274
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11273
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11272
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11271
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11269
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11261
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11260
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11259
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11257
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11250
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11246
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11227
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11221
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11211
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11205
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11197
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11191
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11190
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11180
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11178
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11177
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11163
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11161
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:57] codelipenghui commented on #11158
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #11153
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #11145
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #11142
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #11098
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] #11273 closed

[2022-03-04 06:58] codelipenghui commented on #11086
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #11083
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #11064
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #11055
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #11054
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #11053
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #11050
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #11043
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #11041
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #11036
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #11031
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #11001
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #11000
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #10998
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #10991
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #10985
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #10980
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #10975
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #10972
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #10959
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #10958
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #10949
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:58] codelipenghui commented on #10945
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10937
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10925
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10923
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10919
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10916
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10912
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10903
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10898
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10891
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10890
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10881
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10872
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10857
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10839
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10832
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10816
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10809
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10801
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10796
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10788
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10786
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10784
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10766
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10757
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10737
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 06:59] codelipenghui commented on #10736
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10730
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10724
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10719
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10718
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10705
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10702
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10698
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10694
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10692
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10688
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10671
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10669
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10643
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10637
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10636
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10633
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10632
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10630
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10629
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10623
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10621
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10615
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10606
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10602
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10596
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10588
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10587
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10578
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:00] codelipenghui commented on #10575
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10571
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10562
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10558
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10547
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10526
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10524
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10519
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10517
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10514
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10510
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10509
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10496
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10488
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10481
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10479
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10473
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10459
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10456
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10455
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10449
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10439
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10437
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10433
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10431
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10426
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10421
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10419
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10418
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10408
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10406
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:01] codelipenghui commented on #10399
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10398
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10394
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10390
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10385
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10380
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10377
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10338
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10328
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10316
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10306
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10299
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10298
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10293
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10291
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10283
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10282
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10281
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10271
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10268
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10264
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10263
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10258
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10219
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10212
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10200
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10189
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10174
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10172
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10171
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:02] codelipenghui commented on #10169
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10155
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10151
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10132
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10124
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10123
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10114
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10108
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10106
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10105
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10104
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10100
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10092
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10080
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10069
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10064
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10056
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10054
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10047
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10044
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10041
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10040
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10039
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #10011
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #9993
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #9990
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:03] codelipenghui commented on #9982
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9966
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9962
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9960
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9959
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9958
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9953
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9950
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9944
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9939
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9922
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9921
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9919
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9918
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9917
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9916
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9915
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9914
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9909
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9906
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9899
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9892
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9872
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9865
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9861
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9848
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9844
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9830
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9829
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9803
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9796
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9793
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9777
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9771
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:04] codelipenghui commented on #9765
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9756
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9754
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9753
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9741
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9739
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9731
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9721
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9718
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9717
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9714
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9713
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9711
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9710
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9708
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9704
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9698
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9697
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9687
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9679
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9674
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9613
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9591
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9589
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9579
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9578
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9572
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9571
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9567
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9566
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:05] codelipenghui commented on #9558
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9512
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9511
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9508
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9492
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9491
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9484
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9478
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9466
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9461
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9459
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9458
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9456
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9455
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9454
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9453
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9452
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9450
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9437
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9428
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9414
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9374
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9370
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9367
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9355
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9352
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9341
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9337
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:06] codelipenghui commented on #9266
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9249
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9248
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9242
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9235
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9233
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9224
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9200
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9197
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9196
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9186
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9180
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9151
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9137
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9135
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9122
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9098
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9089
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9081
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9077
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9076
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9075
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9066
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9060
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9047
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9040
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9020
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9015
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9013
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9011
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9007
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #9004
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:07] codelipenghui commented on #8991
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:08] codelipenghui commented on #8989
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:08] codelipenghui commented on #8986
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:08] codelipenghui commented on #8984
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:08] codelipenghui commented on #8983
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:08] codelipenghui commented on #8982
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:08] codelipenghui commented on #8978
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:08] codelipenghui commented on #8972
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:08] codelipenghui commented on #8967
The issue had no activity for 30 days, mark with Stale label.

[2022-03-04 07:40] shibd commented on #14540
+1 https://github.com/apache/pulsar/runs/5418400364?check_suite_focus=true#step:9:1993

[2022-03-04 07:46] tuhaihe commented on #8603
@Anonymitaet I think these problems are caused by the translation system, not because of the translation text. I can do some Chinese translation for the new website to see if still have these problems.

[2022-03-04 07:53] geomagilles commented on #11780
@codelipenghui: @avirlrma proposed to help

[2022-03-04 08:00] lhotari commented on #14436
I made an attempt to fix this issue in #14556.

The `IllegalStateException: Some required fields are missing` could happen if either `publishTime`, `producerName` or `sequenceId` is unset.

https://github.com/apache/pulsar/blob/db25438199b0dfc39719a7743b861917b5fbd833/pulsar-common/src/main/proto/PulsarApi.proto#L105-L107

One interesting detail is this code:

https://github.com/apache/pulsar/blob

[2022-03-04 08:04] congbobo184 commented on #14436
@lhotari hi, I add some log. I found that, when the ByteBuf read from bookie client, the data length is not correct and the data is not this entry data which you want to read. So this problem may only the ByteBuf not clear enough, it may netty bug or bookie problem

[2022-03-04 08:24] #11377 closed

[2022-03-04 08:31] lhotari commented on #14436
@congbobo184 Perhaps the ByteBuf was already released and this resulted in the memory location to get reused for something else?

[2022-03-04 08:43] congbobo184 commented on #14436
yes, most likely because Bytebuf was not released cleanly and reused

[2022-03-04 08:51] lhotari commented on #14436
@congbobo184 @merlimat @codelipenghui When digging into the code, I circle back to the fact that OpReadEntry is not thread safe. OpReadEntry.entries mutated and accessed from multiple threads. That is a big problem.

I have an attempt to improve the situation with #11387, but that's not ready and won't resolve the issue completely. The description in #11387 contains some explanation of the issue.

[2022-03-04 08:55] shibd opened #14558 "Flaky-test: MultiTopicsConsumerTest.testShouldMaintainOrderForIndividualTopicInMultiTopicsConsumer"
MultiTopicsConsumerTest.testShouldMaintainOrderForIndividualTopicInMultiTopicsConsumer is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/5418948651?check_suite_focus=true#step:9:1741)

[code]

[2022-03-04 09:19] patricklucas commented on #9718
This still occurs on latest Pulsar.

I've updated the repo with the reproducing example to upgrade to Pulsar 2.9.1 and to make it easier to run:
- `docker-compose up -d` will run Pulsar in standalone mode locally
- `./gradlew :runTweetProducer` will run the example

Full output:

[code]

[2022-03-04 09:21] Jason918 commented on #11426
It's fixed by #12890.

[2022-03-04 09:21] #11426 closed

[2022-03-04 09:46] wenbingshen opened #14559 "Ignoring flow control message when resetCursorInProgress=TRUE"
**Describe the bug**

1. Our broker is highly busy
![image](https://user-images.githubusercontent.com/35599757/156730401-5968b62f-5ce0-4c43-ad3f-04f7433855ec.png)

2. Our business uses `Reader` for consumption, in which `seek` operations are often performed.
3. In the `seek` operation of pulsar, there will be a process of actively disconnecting the consumer and canceling the currently reading oper

[2022-03-04 13:16] #10891 closed

[2022-03-04 13:17] frankjkelly commented on #10891
Have not seen this since we
(a) moved to 2.7.2
(b) increased ZK disk considerably
(c) Added ZK disk monitoring

[2022-03-04 13:18] frankjkelly commented on #9960
Have not seen this since we moved to 2.7.2

[2022-03-04 13:18] #9960 closed

[2022-03-04 13:19] frankjkelly commented on #9266
No longer an issue for us - we wrote our own S3 offloader for various reasons.

[2022-03-04 13:19] #9266 closed

[2022-03-04 17:49] hsaputra opened #14561 "[Doc] [pulsar-io] Missing documentation for the BatchSource interface for Pulsar IO"
#### Expected behavior

Have a public documentation for the new BatchSource interface in Pulsar IO module:

https://github.com/apache/pulsar/wiki/PIP-65%3A-Adapting-Pulsar-IO-Sources-to-support-Batch-Sources

#### Actual behavior

There is no documentation about the BatchSource interface

#### Steps to reproduce

Looking at the latest documentation page for Pulsar IO and missing the info how to le

[2022-03-04 17:50] hsaputra commented on #14561
FYI @sijie , @merlimat , @jerrypeng

[2022-03-04 22:28] anant-ahuja commented on #14548
Edit: My Pulsar Client Service URL was incorrect. After correcting it, I am getting this error.

![image](https://user-images.githubusercontent.com/89229732/156850403-2fd03976-9404-4d09-92f9-77ffba7ffe63.png)

[2022-03-05 00:10] zbentley opened #14563 "Calling "peek" on a subscription with an offset of 0 results in a stacktrace"
**Describe the bug**
Calling "peek" on a subscription with an offset of 0 results in a stacktrace

**To Reproduce**
1. Create a non-partitioned topic.
2. Publish at least one message to it.
3. Create a subscription on it.
4. Using the management API, do `$topic/subscription/$subscription/position/0`

**Expected behavior**
A documented error code and message are returned to the user, indicating "ze

[2022-03-05 08:17] daniwb opened #14567 "Retention Policy is resetted when restarting Pulsar-Broker in a Cluster"
**Describe the bug**
When Pulsar-Broker is restarted in a Cluster, the Retention Policy will be resetted for public/default

**To Reproduce**
Steps to reproduce the behavior:
1. Set Retention Policy:
bin/pulsar-admin namespaces set-retention public/default --size 11G --time 1h

2. Show Retention Policy:
bin/pulsar-admin namespaces policies public/default
...
  "retention_policies" : {
    "retenti

[2022-03-05 08:39] shibd commented on #14465
[PIP-84](https://github.com/apache/pulsar/wiki/PIP-84-:-Pulsar-client:-Redeliver-command-add-epoch)

In the current implementation, the  consumer epoch and broker epoch may be inconsistent. Unless reconnected, otherwise consumers will always filter message.

When the consumer calls the `consumer.redeliverUnacknowledgedMessages()` method,  Consumer every time epoch + 1.
But broker may be not increm

[2022-03-05 20:57] eolivelli commented on #14567
Are you using Pulsar standalone?

[2022-03-06 00:51] mattisonchao commented on #14567
Could you provide the broker logs when you set the policy and get the policy?

[2022-03-06 01:46] zbentley commented on #14563
The same (or very similar) behavior occurs if I perform a `peek` on a topic with a ledger ID that does not exist.

Either a 404 or something else obvious should be raised here, not a stacktrace.

[2022-03-06 03:34] Jason918 commented on #14559
It will be better for others to understand this if you can emphasize which step is not expected and what final result you got.

[2022-03-06 20:18] yuikns commented on #14079
it is about 30 days. @mattisonchao @Technoboy- may i know is there any update?
actually I am using 2.9.1, and some topic seems strange, and may have the similar issue as above.

Is it a good idea that downgrade it to 2.8.1 in a intranet?

[2022-03-07 01:45] shibd commented on #14558
related  #12456

[2022-03-07 02:08] Anonymitaet opened #14571 "[Doc] add explanations for Java client library"
[CloudAcademy] - Although we get this question a lot
ehi guys, I just got to see a weird thing: I found out that there are 2 versions of the pulsar client library, the first one is https://mvnrepository.com/artifact/org.apache.pulsar/pulsar-client-original and the second one is https://mvnrepository.com/artifact/org.apache.pulsar/pulsar-client
can you tell me the differences between the 2?
why do

[2022-03-07 02:17] #14557 closed

[2022-03-07 03:00] BewareMyPower commented on #14436
Yes. But it looks like there are some problems with the pin executor solution. Could we solve this problem by changing `entries` to a `CopyOnWriteArrayList` and make the field volatile?

[2022-03-07 03:01] BewareMyPower commented on #14436
But it looks like that the thread safety issue is not the cause of this issue.

[2022-03-07 04:40] wenbingshen commented on #14559
Thanks for your replay. My expected result is: when my application finishes the seek operation, the first message read next must be the message where I seek.

But now unfortunately, in my cluster, before the seek operation is completed, the broker has started to read the data starting from the current position from the bookie, and after my seek operation is completed, this part of the data is retu

[2022-03-07 04:54] wolfstudy opened #14573 "Inconsistent Bookie ledgers and under replicate metadata in Bookie"
**Describe the bug**

Check Bookie node log info, we can see the following error message:

[code]

At this point we use the CLI command provided by bookie to check the status of the current ledger

[code]

Output as follows:

<img width="1377" alt="image" src="https://user-images.githubusercontent.com/20965307/156969787-842f3aa5-e8c4-464d-83c3-0a290b6c9a0f.png">

We can see that there is no data i

[2022-03-07 04:57] wolfstudy commented on #14573
A possible guess here is that the current ledger deletion action will not check whether the ledger data still exists in the metadata of under replicate, so after the ledger is deleted in the bookie, it may cause the metadata of under replicate of bookie to still be lost the information about this ledger, causing data inconsistency between them

[2022-03-07 05:49] smazurov commented on #11457
The PR mentioned in linked issue deals with this downstream, but I do not know if underlying issue has been fixed.

[2022-03-07 06:28] #9756 closed

[2022-03-07 07:10] lhotari commented on #14558
fixed by #14572

[2022-03-07 07:10] #14558 closed

[2022-03-07 07:49] lhotari commented on #14436
@BewareMyPower  What's the current assumption of the cause of this issue?

[2022-03-07 07:51] JackrayWang opened #14575 "broker restart failed"
[code]

[2022-03-07 07:54] lhotari commented on #14436
That could work, but I'm not sure about the consequences for performance. It would be worth testing to see what the impact would be.

[2022-03-07 08:14] BewareMyPower commented on #14436
I'm not working on this issue currently, just because this thread safety issue has existed from the very beginning. If this issue could be reproduced only by Pulsar 2.10, then the cause might not be related to `OpReadEntry`.

For this issue, it's more like a corruption of each `Entry`, the thread not safe issue might not affect the data of `Entry` itself.

[2022-03-07 08:30] lhotari commented on #14436
Ok, so you don't have an assumption of the root cause?

@congbobo184 Could you please test running the test case with `-Dio.netty.recycler.maxCapacity=0` in the broker and in the client (perhaps separately)? [That setting disables the Netty Recycler](https://github.com/netty/netty/blob/51eda20432568ffdf736a673abc6b5a44839413f/common/src/main/java/io/netty/util/Recycler.java#L62-L90). The benefit o

[2022-03-07 09:31] codelipenghui commented on #7265
https://github.com/apache/pulsar/pull/7518 has fixed the issue, so close for now.
@sollecitom This feature has released in 2.7.0

[2022-03-07 09:31] #7265 closed

[2022-03-07 10:15] JackrayWang opened #14578 "add new node for broker error"
zk
[code]
bookkeeper

`/opt/pulsar/bin/bookkeeper shell bookiesanity`
` org.apache.bookkeeper.tools.cli.commands.bookie.SanityTestCommand - Bookie sanity test succeeded
`

But the broker start error. Is there some configuration error?  The error log is as follows.

[code]

[2022-03-07 13:39] lhotari commented on #14310
duplicates #10870

[2022-03-07 13:39] #14310 closed

[2022-03-07 13:40] lhotari commented on #10870
[recent failure](https://github.com/apache/pulsar/runs/5445398490?check_suite_focus=true#step:8:16225)

[2022-03-07 13:44] lhotari commented on #13620
[recent failure](https://github.com/apache/pulsar/runs/5445398064?check_suite_focus=true#step:9:469)
[code]

[2022-03-07 14:45] codelipenghui opened #14581 "Provide the delayed message publish rate stats"
**Is your enhancement request related to a problem? Please describe.**
Currently, the producer stats contains the following information

[code]

From the stats, we are not able to know whether the problem
is sending delayed messages or not, it will be useful for some cases
to troubleshoot problems.

**Describe the solution you'd like**
Add "delayedMsgRateIn" in the producer stats

[2022-03-07 14:52] codelipenghui commented on #14578
@JackrayWang Looks like your broker is not able to connect to the zookeeper server. You can try to use the zookeeper shell to connect to the zookeeper cluster from the broker.

[2022-03-07 14:55] codelipenghui commented on #14575
@JackrayWang It's a standalone or a cluster? could you please share the complete logs which will help us to see what happens during the broker restart.

[2022-03-07 14:58] codelipenghui commented on #14567
@daniwb I think there are other operations that changed the configuration, from your steps, the `retentionTimeInMinutes ` change to 4320 and `retentionSizeInMB ` change to `-1`, 4320 is not a default value for Pulsar, so Pulsar will not set to 4320, maybe someone changed during the broker restart.

[2022-03-07 15:01] codelipenghui commented on #14563
@zbentley It needs to create the subscription first, and then publish messages, to peek messages. The new subscription in Pulsar will use the latest position as the initial read position, so if you create the subscription after the message is published, the subscription will not have any backlogs, so you will not able to peek any messages from the subscription.

[2022-03-07 15:04] codelipenghui commented on #14559
Looks like a similar problem that https://github.com/apache/pulsar/wiki/PIP-84-:-Pulsar-client:-Redeliver-command-add-epoch want to resolve.

[2022-03-07 15:09] codelipenghui commented on #14548
@anant-ahuja It's expected behavior. when the client tries to look up the topic, Pulsar will return an internal address to the client to which the client is not able to connect. so we need pulsar-proxy, with pulsar proxy, the proxy will do the topic lookup can and combine connections between clients and broker.

[2022-03-07 15:15] codelipenghui commented on #14541
@fengxiaokai In the above case you provided, you should also add cluster-3 for the namespace in cluster-1

[2022-03-07 15:21] zbentley opened #14582 "C++/Python pulsar client abort()s or segfaults on file descriptor exhaustion ("Too many open files")"
**Describe the bug**
When the C++ pulsar client tries to open a file descriptor, (e.g. creating a client, creating a producer, or creating a consumer), this operation can fail if the environment has too many open files.

When that failure occurs, `abort()` is sometimes called, or SIGSEGV sometimes occurs. *Both* of these behaviors shouldn't happen; an exception should be raised instead.

**To Repr

[2022-03-07 16:07] #14516 closed

[2022-03-07 21:16] zbentley opened #14588 "Pulsar Python client leaks filehandles after destruction if a consumer is created on a partitioned topic"
**Describe the bug**
In Python, I have to reconnect Client objects a lot. Usually due to bugs. `client.close` and `client.shutdown` are sufficient to disconnect a client object. However, a disconnected client object can't be reconnected, so instead I re-instantiate a brand new Client object to replace it.

While doing this, some of my production services started crashing due to file descriptor exh

[2022-03-08 01:58] Steve0x2a opened #14591 "Cannot open token authentication"
**Describe the bug**
Cannot open token authentication.

**To Reproduce**
Steps to reproduce the behavior:
1. download pulsar 2.9.1 in release
2. edit `conf/standalone.conf`
[code]
No other configuration changes
3. run `bin/pulsar standalone`
4. See error

**Expected behavior**
pulsar runs normally and opens token authentication

**Screenshots**
![YI87WG7C9(B6 5Y`C1MV}W](https://user-images.githubu

[2022-03-08 02:11] JackrayWang commented on #14575
cluster @codelipenghui

[2022-03-08 02:15] JackrayWang commented on #14578
This node could connect to zk，the log is as follows。

zk

[code]

but broker can not。。this is my doubt。

[2022-03-08 02:25] JackrayWang commented on #14578
bookkeeper and zk is normal

[2022-03-08 02:27] JackrayWang opened #14592 "es sink start error"
## create es sink

[code]

## es sink status

[code]

[code]

## start es sink

[code]
[code]

## get all topics
[code]

[2022-03-08 02:28] JackrayWang commented on #14592
error log is as follows.

[code]

[2022-03-08 02:42] JackrayWang commented on #14592
function log is as follows.

[code]

[2022-03-08 03:58] #13852 closed

[2022-03-08 04:04] wenbingshen commented on #14559
Thanks for your reply. It looks a bit similar, but the two are slightly different. PIP-84 seems to only emphasize the synchronization consistency of data retransmission and data pull, but has no details about the seek operation. If you mean adding an epoch to the seek operation, assuming that the epoch of the seek operation is `1`, the broker will disconnect the client when the seek operation star

[2022-03-08 05:18] sourabhaggrawal commented on #14533
Hi @codelipenghui , MissingLogFileException is occuring since the time I tried to upgrade to 2.8.2 and then reverted back to 2.5.2.

[2022-03-08 05:25] sourabhaggrawal commented on #14533
Later upgrading to 2.8.2 I deleted 2 ledgers of a topic for which consumer was stuck and not able to read message from it because of the same MissingLogFileException crash. After deletion MissingLogFileException stopped for the topic but now the stats-internal command does not work and throw the mentioned exception.
MissingLogFileException is still there but for some other topic.

[2022-03-08 07:13] congbobo184 commented on #14436
Hi @lhotari  , I start up standalone with -Dio.netty.recycler.maxCapacity=0 -Dio.netty.recycler.maxCapacityPerThread=0  the problem seem not reproduce, I don’t know is it because of performance degradation, or because this netty configuration makes it unreproduce.I log the buffer length from reading bookie, So I think the problem might not be with the broker `OpReadEntry` or `MessageMetadata`.

![

[2022-03-08 07:15] lhotari commented on #14436
@congbobo184 Thank you. Based on this experiment we cannot determine the issue, but since disabling Netty Recycler has an impact, there's a possibility that recycling instances is causing issues in a way or another.

The next experiment could be to leave the Netty Recycler setting unchanged (enabled) and instead comment out the line `recyclerHandle.recycle(this);` in OpReadEntry: [https://github.c

[2022-03-08 07:44] daniwb commented on #14567
Thanks for your help! I found out, it was **KoP (Kafka on Pulsar)**.
In the logs I can see, that after Kafka on Pulsar starts, it sends the Query to change the default.

@eolivelli We have a Cluster up and running with Centos 7.

[2022-03-08 07:44] #14567 closed

[2022-03-08 07:48] urfreespace opened #14596 "[Doc] Invalid code tab markdown for zh-CN translation"
### What issue do you find in Pulsar docs?

![image](https://user-images.githubusercontent.com/76024046/157190364-fdbc2bc0-f24e-48f1-b876-dcc9e09054ce.png)

### What is your suggestion?

ignore this translation file when build by overwrite by the original docs

### Do you have any references?

https://github.com/apache/pulsar/runs/5418166120?check_suite_focus=true

### Would you like to fix this i

[2022-03-08 08:58] wenbingshen opened #14598 "PartitionedProducerImpl flushAsync always fail"
**Describe the bug**
Our application needs to write data to a multi-partition topic. When there is a problem with the broker and the production side cannot write, a timeout exception will occur. When this problem occurs, there is a possibility that this problem cannot be recovered from the timeout exception for a long time.

According to my investigation, when `PartitionedProducerImpl` writes data

[2022-03-08 09:24] kwenZh opened #14599 "broker advertisedListeners run error: `advertisedListeners` and `advertisedAddress` must not appear together"
**Describe the bug**
when i use broker config advertisedListeners, and broker.conf :

[code]
after run broker, error log :  2022-03-08 05:15:47,561 [sun.misc.Launcher$AppClassLoader@70dea4e] error Uncaught exception in thread main: `advertisedListeners` and `advertisedAddress` must not appear together
java.lang.IllegalArgumentException: `advertisedListeners` and `advertisedAddress` must not appear

[2022-03-08 10:17] cbornet commented on #14168
It is possible to use the Pulsar parent POM as a BOM. See for instance how it's done in Pulsar adapters https://github.com/apache/pulsar-adapters/pull/35 . The Parent POM dependencies are imported with
[code]
It probably doesn't bring much value to separate it in a distinct POM.
So closing for now. Don't hesitate to reopen if needed.

[2022-03-08 10:17] #14168 closed

[2022-03-08 16:05] ZiyaoWei opened #14609 "[Doc] Remove references to the deleted CGo client"
### What issue do you find in Pulsar docs?

It appears the CGO client has been removed in https://github.com/apache/pulsar/pull/8514 but the doc page still references it in a few places - e.g., https://pulsar.apache.org/docs/en/client-libraries-cgo/.

### What is your suggestion?

 We should probably remove these references to it and point people to the native Golang client (https://github.com/apa

[2022-03-09 01:37] kwenZh opened #14611 "when i use pulsar in k8s, how to set advertisedListeners in broker.conf for different broker pods ,"
how to set advertisedListeners in broker.conf for different broker pods  , when i use pulsar in k8s，such as：
[code]

and broker.conf  for pod:  pulsar-cluster-broker-0
[code]

for pulsar-cluster-broker-1
[code]

in pulsar-broker ConfigMap value:
[code]

and i can get POD_NAME in env.
[code]
how to use  bin/apply-config-from-env.py conf/bookkeeper.conf to set advertisedListeners in broker.conf,  As

[2022-03-09 03:22] wangjialing218 commented on #14611
you can customize your apply-config-from-env.py script, in `# Update values from Env` block, add some code like:
[code]

[2022-03-09 03:27] JackrayWang commented on #14578
I have deploy a new cluster..

[2022-03-09 03:28] kwenZh commented on #14611
fine,   The problem of using your own scripts to render broker.conf is simple,  I struggled with the default script and didn't see the logic to handle the `advertisedListeners`， thank you ,  I understand !

[2022-03-09 03:28] #14611 closed

[2022-03-09 03:46] kwenZh commented on #14611
[code]

[2022-03-09 05:33] #14582 closed

[2022-03-09 06:30] nodece commented on #8429
Do you have a stable way to reproduce this issue?

[2022-03-09 06:37] #13551 closed

[2022-03-09 09:30] shibd commented on #14581
@codelipenghui
The delays is placed in the `MessageMetadata`. This feature will make the broker additional a deserialization `MessageMetaData` when receiving the producer message. Can we accept the performance impact?

[2022-03-09 09:48] congbobo184 commented on #14436
I roll back netty to 4.1.68.Final (requires netty-tc-native.version 2.0.42.Final) follow @lhotari advice, the problem can't be reproduce. The last time I only change netty version to 4.1.68.Final and don't change netty-tc-native.version to 2.0.42.Final, this problem also happen. So the question may be in netty-tc-native.version 2.0.42.Final.

[2022-03-09 10:06] robshep commented on #8429
I can't relaiably re-produce this, but the issue persists.

Thanks @dhinesherode91 for adding your observations.

We do not have this load. We have a single standalone running on ample VM (no cpu, memory , i/o or disk pressures) with usual statistics output of 0.3msg/sec

We get this error when re-deploying the only consumer application. (producer remains connected).

Restarting one or more times

[2022-03-09 10:09] Shawyeok opened #14621 "[Doc] Subscription Backlog Metrics"
### What issue do you find in Pulsar docs?

The metric `pulsar_subscription_back_log` is actually about entries, not messages.

### What is your suggestion?

Just change to `entries` instead.

### Do you have any references?

https://pulsar.apache.org/docs/en/reference-metrics/#subscription-metrics

https://github.com/apache/pulsar/blob/c15d0ef24e37df6b86bc8f4c27d43af27f8cc663/pulsar-broker/src/ma

[2022-03-09 10:27] lhotari commented on #14436
Do you happen to use TLS in your setup? If not, it seems odd why the netty-tc-native version would cause the problem to reproduce.

btw. A major difference between Netty 4.1.68.Final and 4.1.74.Final is the Netty Recycler rewrite that was made in 4.1.71.Final. There's more info in this comment: https://github.com/apache/pulsar/pull/13328#issuecomment-1019981615

[2022-03-09 10:29] lhotari commented on #14436
[Changes between netty-tcnative 2.0.42.Final and 2.0.48.Final](https://github.com/netty/netty-tcnative/compare/netty-tcnative-parent-2.0.42.Final...netty-tcnative-parent-2.0.48.Final)

[2022-03-09 10:37] congbobo184 commented on #14436
I am not sure the problem in 2.0.48.Final. So I will test again. change netty version to 4.1.68.Final and don't change the netty-tcnative version

[2022-03-09 11:04] holdlg commented on #13278
manylinux2014 does not support python 3.10.
However,the new manylinux is based on Debian 9.    https://github.com/pypa/manylinux

[2022-03-09 11:25] wenbingshen opened #14624 "partitionsAutoUpdateFuture never completes, when the connection is disconnect and reconnect again"
**Describe the bug**
related to this issue: #14598

We have thousands of production machines. We want clients to have higher fault tolerance in the event of network problems, otherwise restarting a large number of client services will be very inconvenient. When a network problem or cluster failure occurs, and then the network is restored or the cluster is restored, and the connection is re-establi

[2022-03-09 13:56] nodece commented on #8429
Thanks @robshep feedback.

[2022-03-09 14:05] MatrixHB opened #14627 "Question about the design of pulsar schema"
[code]

When a pulsar producer is created, it is binding with a specific schema. May I ask what is the advantage of this design？

In kafka, one Producer is not binding with schema, so it can support message sending with multiple schemas. Is it possible for Pulsar to do that？

[2022-03-09 17:03] loganloganlogan commented on #13235
Final steps toward launch summarized [here](https://docs.google.com/document/d/1KDGHyr7dr_vKM9fILWfoNa3hAu7rjtShDkPJ2TPc4hE/edit#) under March 8 Meeting.

Next steps:
- Paul’s current PR approved by Yu (w/ any changes)
- Everyone will review updated staging site; Yu to send form/request to user community (survey, keep it time bound)
- In tandem Paul will work on next round of updates (above)
- Pau

[2022-03-09 21:55] michaeljmarshall commented on #13429
@eolivelli - I am seeing this same issue when running `./generate-all-wheel.sh v2.8.3`. How did you get around it to publish the python client?

[2022-03-09 22:47] michaeljmarshall commented on #13429
@BewareMyPower - how am I supposed to try that change? I am concerned because we already finalized the 2.8.3 tag, so I can't really change the code used to build the python client at this point.

[2022-03-10 00:07] bharanic-dev opened #14633 "setupTopicPublishRateLimiterMonitor() can block forever, causing deadlock for metadata store operations"
**Describe the bug**

(https://github.com/apache/pulsar/blob/2b3e8aeb5a1c259e0325e5a91dc5d7e20c6ee569/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java#L594)

This can block forever, causing metadata operations to deadlock.

"metadata-store-6-1" #61 prio=5 os_prio=0 cpu=139825.70ms elapsed=81027.01s tid=0x00007f1598001000 nid=0x8b waiting for monitor entry  [0x00007f1

[2022-03-10 02:21] stricker023 opened #14636 "[Doc] Set schema compatibility check strategy not available of v2.9.1"
### What issue do you find in Pulsar docs?

I am using Pulsar 2.9.1, I found server problems of your doc.

I am using this the admin-cli tool to [update schema compacibility of topic level](https://pulsar.apache.org/docs/en/next/schema-manage/#set-schema-compatibility-check-strategy), but ./pulsar-admin topicsPolicies seems not available.

![image](https://user-images.githubusercontent.com/1593973

[2022-03-10 03:05] BewareMyPower commented on #13429
That change was not verified because I don't have vagrant in my local env, just a guess from the build failure.

Maybe you can try to add `-DCMAKE_CXX_FLAGS=-Wno-unknown-warning-option` to the CMake command in `python/pkg/osx/vagrant-build.sh`. I'm not sure whether this file can be modified.

See https://stackoverflow.com/questions/41673546/clang-warning-warning-unknown-warning-option-wno-maybe-un

[2022-03-10 03:31] michaeljmarshall commented on #13429
@BewareMyPower - thanks for the extra context. I am interested to see how @eolivelli published these artifacts. It's possible that he had someone else do it for him for 2.9.1.

[2022-03-10 03:38] BewareMyPower commented on #13429
I discussed with @gaoran10 a few minutes ago, it looks like there is no problem building OSX packages for 2.9.2.

[2022-03-10 03:54] michaeljmarshall commented on #13429
@BewareMyPower - that's a helpful data point. I am looking at the diff now. It seems like nothing build related changed in `pulsar-client-cpp/python/`, so I am looking at `pulsar-client-cpp/`. Here are the changed files from the two tags:

[code]

[2022-03-10 03:56] michaeljmarshall commented on #13429
The `pulsar-client-cpp/CMakeLists.txt` looks like it could matter. Here is the diff:

[code]

[2022-03-10 03:59] michaeljmarshall commented on #13429
I wonder if there is some nuance with protobuf vs protobuf-lite? Looking into that now.

[2022-03-10 04:02] shibd commented on #14581
The delays is placed in the MessageMetadata. This feature will make the broker additional a deserialization MessageMetaData when receiving the producer message. Can we accept the performance impact?

Or, We need add new field `hasDeliver` to `CommandSend`, This can avoid  deserialization  the data of `MessageMetadata`. This is an API protocol change,  We need to discuss first.

@codelipenghui @Tec

[2022-03-10 04:10] nodece commented on #14636
This feature should be available at Pulsar 2.9.2 and Pulsar 2.10.

The doc has an error command: `pulsar-admin topicsPolicies` -> `pulsar-admin topicPolicies`

[2022-03-10 04:17] michaeljmarshall commented on #13429
For reference, here is my complete log. I am running this from `pulsar-client-cpp/python/pkg/osx` and I checked out the tag `v2.8.3`.

[code]

[2022-03-10 04:34] nodece commented on #14636
I submitted https://github.com/apache/pulsar/pull/14637 to fix this doc.

[2022-03-10 04:53] oversearch commented on #13429
Hi all,

I think this may be due to my change to enable warnings as errors in the c++ client.  I tested on GCC, Clang, and Visual Studio... but I don't have a Mac to test with and I'm guessing the OSX compiler is different (not sure what `AppleClang` is... I have zero experience with macs).  The error message states that it doesn't know the option `-Werror=cpp`.  I think if you simply strip that f

[2022-03-10 07:02] Technoboy- opened #14639 "[Discuss] Broker Permission"
### Motivation
As https://github.com/apache/pulsar/issues/14191 described, users may get confused about the current permission.
First, we only define the below actions in the grant-permission interface:
[code]
Though we grant all the actions to some roles like below (`myuser` is not admin, only a normal user):
[code]
But when we list topics under a namespace:
[code]
We will get the below error mes

[2022-03-10 07:10] Technoboy- commented on #14581
I will help to check first and then decide to send out a discussion email.

[2022-03-10 07:27] Technoboy- commented on #14079
Oh, very sorry for this, I will try to follow the steps to reproduce soon and give some responses laster.

[2022-03-10 07:47] Technoboy- commented on #14079
Ok, yes, reproduced. I'm working on this.

[2022-03-10 08:06] Technoboy- commented on #14079
I don't reproduce in v.2.9.1. Add below test to PersistentTopicE2ETest to verify:

[code]

Could you please share your test codes ? @james-bright-helix

[2022-03-10 08:52] tjiuming commented on #14426
did you start standalone broker?

[2022-03-10 09:17] tjiuming commented on #14023
The metric calculated by a scheduler, schedule interval default 60s. So if you request /metric endpoint more than once in a same interval, the metric value isn't changed.

[2022-03-10 09:25] tjiuming commented on #13924
it's normal. Because these metrics generated in different level. Namespace level metrics will aggregate all the topics's metrics under the topic. Topic level metrics only aggregate one topic's metrics.   You can see the labels, Namespace level metrics doesn't have `topic` label.

[2022-03-10 09:29] tjiuming commented on #13869
It's the doc's issue

[2022-03-10 09:49] tjiuming commented on #14627
[code]
You can use BYTES schema as above. I think the schema mostly designed for pulsar-sql

[2022-03-10 12:08] Technoboy- commented on #14581
Yes, you're right. If add this field in the `CommandSend`, it is duplicated with `MsgMetadata`, and deserialization is much heavier, so after discussion, we decide to close this issue now.

[2022-03-10 12:08] #14581 closed

[2022-03-10 12:12] codelipenghui opened #14642 "[Feature] Support reader interceptor"
**Is your feature request related to a problem? Please describe.**
In [PIP 23](https://github.com/apache/pulsar/wiki/PIP-23%3A-Message-Tracing-By-Interceptors), pulsar has supported producer interceptor and consumer interceptor, but we don't have reader interceptor for now.

To support reader interceptor will allow users to do integration with Pulsar client.

**Describe the solution you'd like**
I

[2022-03-10 12:22] gaoran10 commented on #14642
I want to fix this problem.

[2022-03-10 13:37] ofek commented on #13869
No, this is broken

[2022-03-10 14:16] liangyepianzhou commented on #13793
This PR https://github.com/apache/pulsar/pull/13644 has fix the exception `Topic is already fenced`

[2022-03-10 14:28] liangyepianzhou commented on #13793
The cause is we use a future to wait the operation of `deletePartitionedTopicAsync` and `deleteNamespaceBundleAsync`.
And we hope `deletePartitionedTopicAsync` executes before `deleteNamespaceBundleAsync` but `deleteNamespaceBundleAsync`  executes before `deleteTopicAsync` in fact .
Background:
     1. `deleteNamespaceBundleAsync` will trigger `Topic::close` which will fence topic.
     2.  So Top

[2022-03-10 15:03] dmytro-audibene commented on #14148
having same issue

[2022-03-10 19:01] advancedwebdeveloper commented on #13067
Ping

[2022-03-11 00:16] Anonymitaet commented on #14636
@stricker023

`Negative acknowledgment redelivery backoff` feature is available from 2.10. Code PR: https://github.com/apache/pulsar/pull/12566

The [doc](https://pulsar.apache.org/docs/en/next/client-libraries-java/#negative-acknowledgment-redelivery-backoff) you read is `next`, which means it's next release (2.10) docs.

<img width="1693" alt="image" src="https://user-images.githubusercontent.co

[2022-03-11 00:16] #14636 closed

[2022-03-11 00:18] Anonymitaet commented on #14636
@nodece thanks for your quick fix!

[2022-03-11 00:40] mattisonchao commented on #14639
Great work @Technoboy-

I think some permissions like the following are used to restrict client users.

But currently, we don't have any fine-grained permissions to restrict admin.

So, I think we should clearly list the permissions of admin and implement related logic like [PIP-49](https://github.com/apache/pulsar/wiki/PIP-49%3A-Permission-levels-and -inheritance )

I'm not very sure about there,

[2022-03-11 02:50] 468120308 opened #14652 "Subscription replication did not take effect"
#### Expected behavior

I configured replication and subscription replication in two clusters (A, B). The application connects to cluster A to consume all messages of the specified topic, and then restarts the application to connect to cluster B. The same topic should not need to be consumed.

#### Actual behavior

restarts the application to connect to cluster B. The same topic needs to be consum

[2022-03-11 02:56] kwenZh commented on #9144
I meet the same issue

[2022-03-11 04:22] congbobo184 commented on #14436
We have roughly analyzed the problem. First of all, we declare that he is not a problem that can block the 2.10 and 2.92 releases. Let's analyze the reasons for this problem:

The reason for this is the reuse of the `org.apache.bookkeeper.client.impl.LedgerEntryImpl` object.

I log in three position:
1. `org.apache.bookkeeper.client.impl.LedgerEntryImpl` create
2. `org.apache.bookkeeper.client.imp

[2022-03-11 04:27] nodece commented on #8429
I did a test to reproduce this case:
[code]

We cannot use the old schema to decode the message with the latest schema.

If you have such a scenario, we need to avoid this.

[2022-03-11 04:30] aloyszhang opened #14654 "Support delete schema forcefully"
**Is your enhancement request related to a problem? Please describe.**
Currently, pulsar admin command for schemas can't delete a schema completely, it only appends a deleted `schemaInfo` to mark this schema as deleted. Internal, when deleting a schema, pulsar will first read the existing schemas append the deleted `schemaInfo`

This design may have some problems:

1. Schema has a  `SchemaLocator`

[2022-03-11 05:28] #13761 closed

[2022-03-11 06:08] czhfe commented on #14426
No, I run the cluster mode.

[2022-03-11 08:13] lhotari commented on #14436
Thanks for the analysis @congbobo184 . Really helpful.

This doesn't mean that we should accept the bug that is caused by thread safety issues. This is a severe issue and can lead to data inconsistency problems. As discussed privately, this problem seems to become more frequent with Netty 4.1.74.Final compare to Netty 4.1.68.Final version. Most likely this behavioral changes is caused by the new N

[2022-03-11 08:23] Shoothzj commented on #14436
@lhotari do you mean it's a netty issue ? Should we report it to the netty commuinty and revert the netty version ?

[2022-03-11 08:37] codelipenghui commented on #14436
I have tested with congbo, can't actually prove it for now. After downgrading the netty version, the problem still can be reproduced, and regarding the timing of the reproducing, it is uncertain even to use the same netty version.

So far, we don't have an exact root cause, since the problem can be reproduced, I think we can find the root cause.

[2022-03-11 08:57] vinz2714 opened #14660 "Broker high cpu usage under light load"
**Describe the bug**
We have 3 bookie and 2 zookeeper and 2 broker.
we were a 2.4.x but due to error readTimeException we upgraded to 2.9.1. Recently after restarting a consumer, consumer was connected to the pulsar but no messages were pulled. (Consumer was creating a websocket connection in pull mode)
We observed that the broker process cpu was beyond 600- 700 without any load and hence no messa

[2022-03-11 08:59] momo-jun opened #14661 "[Doc] Add doc for basic authentication"
### What issue do you find in Pulsar docs?

When updating doc for security with @tuteng, we found that Pulsar supports basic authentication as one of the authentication providers. However, in the Security chapter, there is no topic talking about basic authentication like those for TLS, Athenz and etc.
![image](https://user-images.githubusercontent.com/60642177/157834413-6a75494f-da6a-4b24-8955-3c2

[2022-03-11 09:00] lhotari commented on #14436
No it's not a Netty issue. It's a problem caused by our code in Pulsar and Bookkeeper violating the Java Memory Model and thread safety rules.

There are 2 possible solutions:

1) Disabling the Netty Recycler by setting `Dio.netty.recycler.maxCapacityPerThread=0`. There are early reports from @dave2wave in OMB testing that when running on JDK17 ZGC or Shenandoah GC, there's no negative performance

[2022-03-11 09:03] lhotari commented on #14436
I meant to say that after the new Netty Recycler, it just happens to be more frequent. That's not the root cause. The root cause is the violation of the Java Memory Model and thread safety rules with the use of recycled objects across multiple threads.

[2022-03-11 09:11] lhotari commented on #14436
In this case, one example of a class that is not thread safe is LedgerEntriesImpl. It has a single field `entries`: https://github.com/apache/bookkeeper/blob/7087fda4e91e9fe8974f9d36e01e275a08bf38f1/bookkeeper-server/src/main/java/org/apache/bookkeeper/client/impl/LedgerEntriesImpl.java#L38

I'm not saying that full synchronization is required. In this case, it is sufficient to apply [the "golden

[2022-03-11 09:26] lhotari commented on #14436
Usually every concurrent collections provide causality. For example, when a ConcurrentHashMap is used. It's all good when one thread writes fields and puts it to a ConcurrentHashMap and another thread gets it from the ConcurrentHashMap and reads the fields. There is causality and the reads are consistent. The problem comes with other threads that don't use the same "barrier". There's no guarantee

[2022-03-11 09:56] czhfe opened #14662 "About pulsar CPU usage problem"
**Describe the bug**
The CPU utilization calculated by process_cpu_seconds_total, pulsar_lb_cpu_usage provided by pulsar and container metrics provided by kubernetes are inconsistent and vary greatly, which is the correct one? Why is there a difference?

**Expressions for calculation of indicators**
[code]

[2022-03-11 10:02] eolivelli commented on #14436
@lhotari
I agree with your points, we should make all the Recyclable classes that could be shared among threads threadsafe.
The problem is not for every class, but only for those that are meant to be passed across different threads while they are "active" (not parked into the Recycler).

what about opening a discussion on Netty ?
I guess that everyone who uses the Recycler has to deal with this ki

[2022-03-11 10:41] lhotari commented on #14436
I was thinking initially that "thread safety" should be achieved for recycled object classes. However that would be very intrusive since "safe publication" is sufficient to reaching thread safety in this case. There aren't cases where there would be races in writes in multiple threads. The object instance is used and passed across threads and as long as "safe publication" is achieved, that is suff

[2022-03-11 15:29] BewareMyPower opened #14665 "Flaky-test: C++ ClientTest.testConnectTimeout"
C++ ClientTest.testConnectTimeout is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/5511302507?check_suite_focus=true)

[code]

[code]

[another example failure](https://github.com/apache/pulsar/runs/5511296607?check_suite_focus=true)

[code]

[code]

[2022-03-11 16:44] lhotari commented on #14436
Just wondering if #12744 and #12881 changes are some how triggering this issue?

[2022-03-12 03:20] #14191 closed

[2022-03-12 05:50] #14220 closed

[2022-03-12 15:39] lhotari commented on #14436
@congbobo184 Since this is related to BookKeeper client, could you please run an experiment with `bookkeeperUseV2WireProtocol=false` for the Broker? The benefit of this experiment would be that it would tell if there's any difference if the client uses the V3 protocol.

[2022-03-12 17:33] BewareMyPower opened #14668 "Unable to get web service url when split bundle"
**Describe the bug**
When I tried to split a bundle range in a single node cluster, the weird error logs `Unable to get web service url` occurred.

**To Reproduce**
Deploy a single node cluster.

Changes to `conf/bookie.conf`:

[code]

Changes to `conf/broker.conf`:

[code]

1. Start a ZooKeeper
[code]
2. Initialize metadata
[code]
3. Start a Bookie
[code]
4. Start a Broker
[code]

(Here we use 3

[2022-03-13 02:33] ofek commented on #13865
bump

[2022-03-13 06:52] mattisonchao commented on #14031
@flowchartsman   This PR may already fix these problems.
https://github.com/apache/pulsar/pull/14503
https://github.com/apache/pulsar/pull/14293

[2022-03-13 07:47] mattisonchao commented on #14079
Hi @james-bright-helix,
Firstly, I'm sorry for my late response.
I'm also can't reproduce it by your step and @Technoboy-  test code.

Therefore, I have some questions for you.
1. This problem can reproduce stably in your environment?
2. Do you have any non-default configuration?
3. Could you provide the broker/client log at that moment?

[2022-03-13 09:12] lhotari commented on #14015
This might be related to https://twitter.com/normanmaurer/status/1499778839563718664

[2022-03-13 12:04] Radiancebobo commented on #14592
尝试复现一下。

[2022-03-13 12:04] lhotari commented on #14436
There seem to be cases where causality and "happens-before" isn't sufficient and classes must be thread safe.

For example BookKeeper client's LedgerEntriesImpl contains this type of code:
https://github.com/apache/bookkeeper/blob/7087fda4e91e9fe8974f9d36e01e275a08bf38f1/bookkeeper-server/src/main/java/org/apache/bookkeeper/client/impl/LedgerEntriesImpl.java#L57-L63

[code]

If there are multiple

[2022-03-13 19:07] lhotari commented on #14436
I was looking into the BookKeeper client and it seems that https://github.com/apache/bookkeeper/pull/1792 breaks thread safety for read-only ledgers.
Thread safety would require happens-before relationships all the way, but it is missing in this case.

[2022-03-13 19:58] lhotari commented on #14436
Since the thread safety is broken only for read-only ledgers, it requires a ledger roll over to happen and the Pulsar ledger cache to be empty to reproduce the issue. These conditions seem to be met also in the way what describes how to reproduce the reported issue.

[2022-03-14 01:30] congbobo184 commented on #14436
@lhotari I am working in transaction issues. I'll take a look at this when I'm done with transaction issues

[2022-03-14 02:31] nodece commented on #14591
Did you follow the https://pulsar.apache.org/docs/en/security-jwt/#enable-token-authentication?

[2022-03-14 06:15] lhotari commented on #14436
@congbobo184 I filed https://github.com/apache/bookkeeper/issues/3104 issue in BK for tracking this.

[2022-03-14 06:27] ZW007 opened #14673 "Pulsar C++ client compilation failed on Ubuntu 18.04"
**Describe the bug**
Could not get c++ client built on my Ubuntu 18.04
**To Reproduce**
Follwed steps from [official tutorial](https://pulsar.apache.org/docs/en/next/client-libraries-cpp/#compilation)
1. `git clone https://github.com/apache/pulsar`
2. `apt-get install cmake libssl-dev libcurl4-openssl-dev liblog4cxx-dev \
  libprotobuf-dev protobuf-compiler libboost-all-dev google-mock libgtest-de

[2022-03-14 08:22] Radiancebobo opened #14675 "pulsar initialize-cluster-metadata failed"
**Describe the bug**
pulsar initialize-cluster-metadata failed.

I have three machines, hadoop102, hadoop103, hadoop104.
I'm sure zookeeper is working fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Prepare 3 machines with zookeeper

2. Download the package apache-pulsar-2.9.1-bin.tar.gz  on https://pulsar.apache.org/en/download/

3. tar -zxvf apache-pulsar-2.9.1-bin.tar.gz -C  /opt/

[2022-03-14 08:49] BewareMyPower commented on #14675
The `initialize-cluster-metadata` command only operates on the ZK cluster, so it's not affected by `bookkeeper.conf` or `broker.conf`.

I've ran the following command on a single node ZK cluster in my local env and it works well.

[code]

Could you try to specific a single node for `--zookeeper` and `--configuration-store` options?

[2022-03-14 09:11] Radiancebobo commented on #14675
I've tried it, but it still doesn't work.

![image](https://user-images.githubusercontent.com/39521534/158140048-0d9b5c93-d81d-42d3-b8d7-0ab54ef2a5c0.png)
![image](https://user-images.githubusercontent.com/39521534/158140080-bb89db66-65d4-4c2e-85ad-45d0f54b413b.png)

I'm sure zookeeper is ok：
![image](https://user-images.githubusercontent.com/39521534/158140495-275207a7-a641-47c8-8c71-3b18f734a210

[2022-03-14 09:20] BewareMyPower commented on #14675
Did you use the built-in ZK of Pulsar?

[2022-03-14 09:21] #11923 closed

[2022-03-14 09:22] shibd opened #14676 "Flaky-test: SubscriptionSeekTest. testSeekForBatchMessageAndSpecifiedBatchIndex"
SubscriptionSeekTest. testSeekForBatchMessageAndSpecifiedBatchIndex is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/5534041774?check_suite_focus=true#step:9:2226)

[code]

[2022-03-14 10:17] Radiancebobo commented on #14675
No, is external zk.

[2022-03-14 10:22] BewareMyPower commented on #14673
I think we need to install ProtoBuf 3.4 or higher. Could you try to install a newer Protobuf from source?

[2022-03-14 10:27] BewareMyPower commented on #14673
If you're not a developer for C++ client, you can add `-DBUILD_TESTS=OFF` option that disables the build of tests as a workground.

As for this issue, I think we can either restore the code compatibility for Protobuf 3.0 or fix the docs.

[2022-03-14 11:10] BewareMyPower commented on #14673
It looks like the support for `optional` keyword in Protobuf 3 was introduced from [3.15.0](https://github.com/protocolbuffers/protobuf/releases/tag/v3.15.0). However, it's only a part of tests and the Pulsar C++ library doesn't rely on it.

[2022-03-14 11:23] wuxuanqicn commented on #14660
look like same with #14015

[2022-03-14 12:09] Steve0x2a commented on #14591
@nodece Yes, I generated the key according to the documentation, and modified the configuration file, but when I run pulsar I get an error.

[2022-03-14 13:55] nodece commented on #14591
Please provide the full log.

[2022-03-14 14:19] Technoboy- commented on #14668
We need to make a little change in `splitNamespaceBundle`

[2022-03-14 15:18] codelipenghui commented on #14652
Do you have enabled replication for cluster-A to cluster-B ,and cluster-B to cluster-A?

[2022-03-14 15:27] ZW007 commented on #14673
@BewareMyPower Thanks again. Here are the steps I tried:

1. first changed `ByteSizeLong` to `ByteSize` in `./pulsar-client-cpp/lib/ProtobufNativeSchema.cc` as stated in question above
2. `cmake . -DBUILD_TESTS=OFF`
3. `make`

Here is the screenshot the result, no error but it looks like the build stops at 33%, and there are `libpulsar.so` and `libpulsar.a` are in the lib folder. Am I good to go?

[2022-03-14 15:32] BewareMyPower commented on #14668
@Technoboy- I see. But do you know what makes the difference between standalone and the cluster mode? The same application runs well in standalone mode.

[2022-03-15 03:16] Steve0x2a commented on #14591
[log.txt](https://github.com/apache/pulsar/files/8249868/log.txt)
@nodece

[2022-03-15 03:17] #14621 closed

[2022-03-15 03:41] #14507 closed

[2022-03-15 03:53] codelipenghui commented on #14668
@BewareMyPower In standalone, only have one broker, so no matter the readOnly is false or true, the broker will return the correct owner. I'm not sure if this is a breaking change in 2.8.x, 2.9.x, 2.10.x, or for all versions.  Which pulsar version you have encountered this issue?

[2022-03-15 03:57] rueian opened #14688 "Infinite loop in BlobStoreBackedReadHandleImpl"
**Describe the bug**

It seems like there is an infinite loop in the `BlobStoreBackedReadHandleImpl`.

This morning, my pulsar broker keeps logging the line:
[code]

This line was printed billions of times until I killed the pulsar broker.

Does anyone know how does this happen?

I was using Pulsar 2.9.1

[2022-03-15 03:59] codelipenghui commented on #14668
Oh, sorry, If the bundle does not been loaded before, the issue also happens.

[2022-03-15 03:59] llIlll commented on #14676
Please assign me, i can fix him.

[2022-03-15 04:05] codelipenghui commented on #14688
@rueian Could you please share the complete log file or the logs before printing the above logs? So that we can try to see what happens before the issue logs.

[2022-03-15 04:06] codelipenghui commented on #14688
@zymap @hangc0276 Could you please help check this issue since you have fixed lots of tiered storage issues. I'm not if it's a fixed bug or the new one.

[2022-03-15 04:15] congbobo184 commented on #14436
https://github.com/apache/bookkeeper/pull/3110 will fix it

[2022-03-15 04:32] BewareMyPower commented on #14668
I tried 2.9.1. I'll test other versions soon.

[2022-03-15 04:47] aloyszhang commented on #10788
This issue may be resolved by https://github.com/apache/pulsar/pull/14565

[2022-03-15 04:56] rueian commented on #14688
Hi @codelipenghui,

This was what I get before entering the loop:

[code]

[2022-03-15 04:59] codelipenghui commented on #14627
@MatrixHB Please check the schema documentation https://pulsar.apache.org/docs/en/schema-get-started/#why-use-schema which shows why to use Pulsar Schema.

It's not only for pulsar-sql, it allows users to send type messages, not only binary stream.

[2022-03-15 05:03] codelipenghui commented on #14609
@ZiyaoWei Would you like to push a PR to fix the problem?

[2022-03-15 05:11] codelipenghui commented on #14578
It should be related to some network policies, not the pulsar side. I will close this issue first.

[2022-03-15 05:11] #14578 closed

[2022-03-15 05:12] gaozhangmin opened #14690 "Failed to initialize DNS Resolver org.apache.pulsar.bookie.rackawareness.BookieRackAffinityMapping"
pulsar version: 2.10.0
With configuration
`reppDnsResolverClass=org.apache.pulsar.bookie.rackawareness.BookieRackAffinityMapping`

[code]

[2022-03-15 05:13] codelipenghui commented on #14690
@gaozhangmin Looks like it's a regression in 2.10.0 RC?

[2022-03-15 05:13] hangc0276 commented on #14688
It is a bug, and we will work on fixing it.

[2022-03-15 05:15] gaozhangmin commented on #14690
Yes. it's ok for 2.9

[2022-03-15 05:16] codelipenghui commented on #14575
Ok, is it able to reproduce? or could you please help confirm if the latest branch-2.9 also has the problem? there are some topic compaction fixes in branch-2.9

https://github.com/apache/pulsar/pulls?q=is%3Apr+label%3Acomponent%2Fcompaction+is%3Aclosed+label%3Arelease%2F2.9.2

[2022-03-15 06:00] codelipenghui commented on #14484
I think the issue has been fixed.
I have verified 2.8.3 RC, 2.9.2 release RC, looks like I have imported the KEYS correctly.

I will close this issue first, feel free to reopen it if the problem still there.

[2022-03-15 06:00] #14484 closed

[2022-03-15 06:06] #14438 closed

[2022-03-15 06:17] codelipenghui commented on #14462
close by https://github.com/apache/pulsar/pull/14464

[2022-03-15 06:17] #14462 closed

[2022-03-15 06:18] codelipenghui commented on #14463
@zdufour-asp You can use `bin/pulsar-admin brokers healthcheck`.

[2022-03-15 06:21] codelipenghui commented on #14465
Nice catch

@congbobo184 Could you please take a look?

[2022-03-15 06:41] BewareMyPower commented on #14668
But we also have only one broker in my test env. I deployed only one broker, one bookie, one zookeeper.

[2022-03-15 06:44] tjiuming commented on #14459
@codelipenghui  I'd like to handle the issue, please assign to me

[2022-03-15 06:48] codelipenghui commented on #14427
@BewareMyPower Could you please help check this issue?

[2022-03-15 06:51] #14654 closed

[2022-03-15 06:52] codelipenghui commented on #14426
@czhfe Could you please provide more context about the Pulsar version you are using, the topic stats and internal stats, and check if the ledger is existing in the bookeeper cluster. This will help us to point out the rootcause.

[2022-03-15 06:55] codelipenghui commented on #14417
@xiezh1010 It depends on which failure, if the producer disconnected from the broker, and did not reach the send timeout, the producer will retry to publish the message. But if the message with sent timeout exception, it will not retry.

For the usage of asynchronous sending, if you got exception from the future which means the producer will not to retry.

[2022-03-15 07:11] BewareMyPower commented on #14427
The provided info is too little. I've checked similar logs from @zcola, there is no stack trace about the NPE. So it's hard to detect where the NPE happened. Maybe we need to custom the JVM options for OpenJDK. /cc @Demogorgon314

[2022-03-15 07:36] codelipenghui commented on #14468
@hangc0276 @zymap Could you please help check this issue?

[2022-03-15 07:41] czhfe commented on #14426
Pulsar Version：2.7.4

Time passed longer topic and internal stats, can not find this piece of information.

[2022-03-15 08:00] #14668 closed

[2022-03-15 08:21] hangc0276 commented on #14468
@jianke221 @armandxu  Does this case can be reproduced?
Would you please share the steps and status  of the BookKeeper cluster that you encountered this issue.

[2022-03-15 08:49] lhotari commented on #5510
There's a bundle splitting related fix in #14680 .

[2022-03-15 08:57] zymap commented on #14468
Also I want to know more configuration about the cluster. such as the ensemble size , write quorum, ack quorum

[2022-03-15 09:15] zymap commented on #14688
Could you please provide the whole log file? Also, does the environment still exist? If it exists, could you please dump the thread and heap?

[2022-03-15 09:20] mattisonchao commented on #14365
Hi, @lhotari  @Technoboy-

Is there any news in this PIP?

[2022-03-15 09:55] rueian commented on #14688
Hi @zymap, the log file basically contains repeated lines of `ERROR org.apache.bookkeeper.mledger.impl.ManagedLedgerImpl - Unknown exception for ManagedLedgerException`

Before that, there was something differently:

[code]

And the environment does not exist currently. I will update more info if it happens again.

[2022-03-15 10:06] codelipenghui commented on #14362
close by #14367

[2022-03-15 10:06] #14362 closed

[2022-03-15 10:12] codelipenghui commented on #14337
Looks like we can close the issue since https://github.com/milvus-io/milvus/issues/15535#issuecomment-1042597113 has provided the solution.

[2022-03-15 10:12] #14337 closed

[2022-03-15 10:14] codelipenghui commented on #14349
@leizhiyuan Interesting, if the client connects to pulsar proxy, the client should send messages to the proxy directly, not the broker. How do you check if the messages is send to the proxy first or not?

[2022-03-15 10:16] codelipenghui commented on #14331
@gaozhangmin This is a breaking change introduced in 2.8.0, and #12598 has fixed the issue.

[2022-03-15 10:16] #14331 closed

[2022-03-15 10:16] #14332 closed

[2022-03-15 10:18] codelipenghui commented on #14333
Looks like zookeeper issues? or some dead lock in the broker? It's better to capture a broker thread dump.

[2022-03-15 10:21] #14598 closed

[2022-03-15 10:22] codelipenghui commented on #14266
@tjiuming I think @Technoboy- already pushed out a PR https://github.com/apache/pulsar/pull/14570 for fixing the problem, please help review.

[2022-03-15 10:23] xiaofan-luan commented on #14337
thanks for the help, we hit many backlog issues and we will try to sum up some rules to follow

[2022-03-15 10:23] codelipenghui commented on #14268
close by #14515

[2022-03-15 10:23] #14268 closed

[2022-03-15 10:24] gaozhangmin commented on #14333
It may be fixed by  #13744

[2022-03-15 10:25] codelipenghui commented on #14275
@startjava Here is the Avro spec https://avro.apache.org/docs/current/

[2022-03-15 10:25] #14275 closed

[2022-03-15 10:30] #14292 closed

[2022-03-15 10:32] nodece commented on #14591
Workaround:
1. You need to update the auth in `client.conf`
2. Start standalone by `pulsar standalone -nfw`

[2022-03-15 10:32] codelipenghui commented on #14298
I think we should fix the log4j2.yaml, it has confused many users.

[2022-03-15 10:35] #13473 closed

[2022-03-15 10:37] codelipenghui commented on #14307
https://github.com/apache/pulsar/pull/11498 you should use the additional servlet to add new servlets.  Here is an example in mop https://github.com/streamnative/mop/blob/d280dc7cec003fa0832a2530fdfdb6969774377f/mqtt-impl/src/main/java/io/streamnative/pulsar/handlers/mqtt/MQTTAdditionalServlet.java

[2022-03-15 10:38] #14264 closed

[2022-03-15 10:40] #14234 closed

[2022-03-15 10:52] #14096 closed

[2022-03-15 11:58] #13893 closed

[2022-03-15 11:59] #13793 closed

[2022-03-15 12:05] hangc0276 commented on #13971
Yes, you are right.

[2022-03-15 12:10] #13304 closed

[2022-03-15 12:10] #13211 closed

[2022-03-15 12:28] #14307 closed

[2022-03-15 12:28] #14349 closed

[2022-03-15 12:54] codelipenghui commented on #10483
Here is the discussion thread https://lists.apache.org/thread/kwljdckm0ykstq8oodz6550hqxdltc98 for this issue.

[2022-03-15 12:55] #10284 closed

[2022-03-15 12:58] codelipenghui commented on #10137
Implemented in #12136

[2022-03-15 12:58] #10137 closed

[2022-03-15 13:03] frankjkelly commented on #5510
Thanks @lhotari I don't think that was the issue in our case but it's certainly good to see.

[2022-03-15 13:08] frankjkelly commented on #13971
OK thanks - please close this issue - for our use case our Prometheus is already overloaded so we went from 650 to 822 metrics from the brokers so we won't be turning this on and will rely on perhaps max minus min bookie CPU to detect when bookies usage is "unbalanced".

[2022-03-15 13:36] #6213 closed

[2022-03-15 13:36] #6255 closed

[2022-03-15 13:39] #4096 closed

[2022-03-15 13:44] codelipenghui commented on #4100
@jkolash Could you please share your use case? The DLQ essentially makes the messages out of order. This violates the semantics of failover subscription

[2022-03-15 14:11] #13053 closed

[2022-03-15 14:12] #14633 closed

[2022-03-15 14:58] Nicklee007 commented on #14298
@ethqunzhong @codelipenghui  I'll try fix it.

[2022-03-15 15:32] dave2wave opened #14693 "JClouds Offloader Fails to Delete S3 Objects"
**Description**
When an Offloaded Ledger's retention period has expired the JClouds call to remove a Blob from the BlobStore silently fails.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup `broker.conf` to include the following aggressive offloading options
[code]
2. Run a pulsar workload with [OpenMessaging Benchmark](https://github.com/datastax/openmessaging-benchmark) in AWS using t

[2022-03-15 18:01] vroyer opened #14695 "[Doc] Remove Elasticsearch sink obsolete documentation page"
### What issue do you find in Pulsar docs?

This elasticsearch sink [page](https://pulsar.apache.org/docs/en/io-elasticsearch/) is obsolete.
The right one is now this [page](https://pulsar.apache.org/docs/en/io-elasticsearch-sink/).

### What is your suggestion?

Remove the obsolete page https://pulsar.apache.org/docs/en/io-elasticsearch/

### Do you have any references?

https://www.datastax.com/

[2022-03-15 18:07] ZiyaoWei commented on #14609
Sure, I'll be happy to do it, feel free to assign it to me. Thanks!

[2022-03-15 18:08] dave2wave opened #14696 "[Doc] Avoid using external urls in the website"
### What issue do you find in Pulsar docs?

There are many examples in `site2/docs/*.md` of external links that ought to internal.

This makes new site architecture and staged new versions of the documentation VERY difficult to review.

Every doc md file needs to be reviewed.

You will find problems on pages with this issue in the next site.

### What is your suggestion?

For example in `concepts-

[2022-03-15 18:35] noelo opened #14697 "Class version conflicts in Pulsar Functions runtime image dependencies"
**Describe the bug**
If you build a pulsar function with a different pulsar client version than the one shipped in the Kubernetes function runtime a
java.lang.IncompatibleClassChangeError: Implementing class exception is thrown.

**To Reproduce**
Build a function using pulsar libraries using 2.9.1.
The function will use the context and require the pulsar-client dependency
Deploy the function to a

[2022-03-15 20:36] michaeljmarshall commented on #14693
@dave2wave - great find. When you say that it silently fails, how long did you let the broker try to delete the S3 object? I just noticed this retry code:

https://github.com/apache/pulsar/blob/9a88508426cd2f6baf8d25a225f5f27de5bc1a7a/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java#L3169-L3177

If I am reading it correctly, it will take an average of 5 hours

[2022-03-15 21:01] dave2wave commented on #14693
@michaeljmarshall when I say it silently fails I mean that the api call to `BlogStore.removeBlobs` fails without throwing an exception. That means that the managed ledger thinks that the S3 Blob is removed when in fact it is orphaned. The `ManagedLedgerImpl` retry mechanism is never invoked. I proved this by putting `log.info` calls around the `removeBlogs` call and running a full test. I watched

[2022-03-15 22:39] Radiancebobo commented on #14675
Confirm this problem is caused by version inconsistency.

[2022-03-15 22:39] #14675 closed

[2022-03-16 00:49] aoy0208 opened #14698 "[Python-Pulsar]Cannot use pulsar function with a python file"
**Describe the bug**
The pulsar function doesn't work with python file (localrun), I totally follow the steps on official website. The function can be created but not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Just download the ExclamationFunction.py
2. Upload to pulsar server
3. Use the cmd to localrun the funtion " ./pulsar-admin functions localrun \
--classname ExclamationFunct

[2022-03-16 01:14] Anonymitaet commented on #14695
@vroyer please do not delete [io-elasticsearch.md](https://github.com/apache/pulsar/blob/master/site2/docs/io-elasticsearch.md) because other places might reference that file.
Instead, you can update https://pulsar.apache.org/docs/en/io-elasticsearch/ with https://pulsar.apache.org/docs/en/io-elasticsearch-sink/.

[2022-03-16 01:34] zymap commented on #14688
I saw a lot of NPE happen but have not seen the stack trace. Could you please check your logs to see if any where has the NPE stack trace?

[2022-03-16 01:57] codelipenghui opened #14699 "Flaky-test: SimpleProducerConsumerStatTest.testAddBrokerLatencyStats"
[example failure](https://github.com/apache/pulsar/runs/5558349881?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-03-16 02:07] tuteng commented on #14698
https://github.com/tuteng/python-function Maybe this example is helpful @aoy0208

[2022-03-16 02:11] Nicklee007 opened #14700 "Can't start broker by pulsar-daemon script, because the last PID occupied by other progress’s thread"
**Describe the bug**
After broker progress is killed or occur some non-normal exit，can't start broker by bin/pulsar-daemon script, because the last pid occupied by other progress’s thread.

**Expected behavior**
we failed start broker when the pid in bin/pulsar-broker.pid occupied by other progress, but we can start when the pid just occupied by other progress’s thread.

**Screenshots**
start brok

[2022-03-16 02:36] Shawyeok commented on #14660
@vinz2714  What does `cpu beyond 600- 700` mean?

[2022-03-16 03:07] rueian commented on #14688
Hi @zymap, I checked the log file, but there was no stack trace for the NPE.

<img width="1691" alt="image" src="https://user-images.githubusercontent.com/2727535/158508833-6f73194e-9430-4d4a-8d86-bb642652568f.png">

[2022-03-16 03:22] wolfstudy opened #14704 "DeadLetterPolicy should not allow Redelivery Count to be set to 0"
**Describe the bug**

When the user uses the function of DeadLetterPolicy, it is better than misoperation. MaxRedeliverCount may be set to 0. When it is set to 0, according to the current processing logic of the Java Client, the message will be pushed to the DeadLetter Topic every time. Not what we expected to see. Because one of the biggest features of DeadLetterTopic is, when message exceeding t

[2022-03-16 03:28] armandxu opened #14705 "what is the mean skipListArenaChunkSize,skipListArenaMaxAllocSize,skipListSizeLimit"
what is the mean skipListArenaChunkSize,skipListArenaMaxAllocSize,skipListSizeLimit in bookkeeper.conf

[2022-03-16 03:35] codelipenghui commented on #14704
Nice catch! @wolfstudy Do you want to push a PR to fix the issue?

[2022-03-16 03:44] hangc0276 commented on #14688
Would you share the whole log file, and we can find more informations.

[2022-03-16 03:55] kwenZh opened #14707 "Advertised multiple addresses，pulasr client acess broker from broker's service NodePort , accidental error: Namespace is being unloaded"
**Describe the bug**

i am deploying a Pulsar cluster in k8s and want other clients which are not in the same k8s cluster with the Pulsar cluster can connect to the Pulsar cluster,   i want to configurations broker service nodePort in `advertisedListeners` to implement 。and client use broke service nodePort, but it  accidental seems error:  12:10:37.036 [pulsar-io-4-3] WARN org.apache.pulsar.broke