[2020-08-27 11:58] lhotari commented on #6603
An additional change besides adjusting terminationGracePeriod in helm chart is required. I have created a PR https://github.com/apache/pulsar-helm-chart/pull/59 . That was inspired by @ncmans 's change in https://github.com/kafkaesque-io/pulsar-helm-chart/pull/31 .

[2020-08-27 14:36] fracasula commented on #7682
We're getting also these from your Pulsar lib:

[code]

Those came out with [v0.2.0](https://github.com/apache/pulsar-client-go/releases/tag/v0.2.0) too which was released ~13 hours ago.

[2020-08-27 16:21] #7554 closed

[2020-08-27 16:23] fracasula commented on #7682
Sorry, I was somehow dropping the `message` attribute from the logs coming from your Golang library (i.e. when converting them to the Stackdriver format). These should hopefully make more sense:

[code]

[2020-08-27 16:30] sijie commented on #7911
@devinbost for such cases, a heap dump is appreciated to investigate the problem. Can you take a heap dump on the broker?

[2020-08-27 17:18] sijie commented on #7895
Done

[2020-08-28 04:58] sunxiaoguang commented on #4747
As @hnail mentioned earlier, he is working on this issue right now.

[2020-08-28 08:14] smolnar82 commented on #6231
The same with Apache Knox: https://github.com/apache/knox/runs/1040256760?check_suite_focus=true
This is really annoying. We also use Travis CI and it's working like a charm.
@devinbost, were you able to fix it by updating your workflow file?

[2020-08-28 09:23] Lanayx commented on #1267
@MarvinCai or @sijie  Can you please explain the phrase "The sorting logic is useful for partitioned topics."? Why is it different for partitioned and non-partitioned topics?

[2020-08-28 09:41] nicolo-paganin commented on #6894
I still have this error in pulsar 2.6.0, any news?

[2020-08-28 10:02] Huanli-Meng opened #7920 "Update the pulsar admin cli java doc to support set/get/remove deduplication on topic level"
**Describe the bug**
In PR (https://github.com/apache/pulsar/pull/7821), set/get/remove deduplication policy is on topic level. But the pulsar admin cli java doc is not supported accordingly.

https://github.com/apache/pulsar/blob/master/pulsar-client-tools/src/main/java/org/apache/pulsar/admin/cli/CmdTopics.java

**Expected behavior**
Update the CmdTopics.java doc.

@315157973 , cloud you please

[2020-08-28 13:25] frankjkelly opened #7923 "[Python Client 2.6.1] Unable to pip install 2.6.1 client for Python"
**Describe the bug**
Documentation says Python Client for 2.6.1 is available https://pulsar.apache.org/docs/en/client-libraries-python/
but executing `pip install` only shows the latest as 2.6.0

**To Reproduce**
Steps to reproduce the behavior:
1.  `$ pip3 install pulsar-client==2.6.1`
2.  Get Response `
ERROR: Could not find a version that satisfies the requirement pulsar-client==2.6.1 (from ver

[2020-08-28 13:43] frankjkelly commented on #7893
Thanks @sijie thanks for the clarification. I guess I don't get the rationale for implementing a default method that just throws an exception rather than an abstract method which tells the developer "Hey you now have to implement these methods"?

Fair enough is there someway to improve the exception/stack trace logging in standalone. So I don't just see
```19:40:12.304 [main] INFO  org.apache.puls

[2020-08-28 15:31] sijie commented on #7888
This is fixed by #7898

[2020-08-28 15:31] #7888 closed

[2020-08-28 15:39] sijie commented on #7740
@zhijianfree Can you check the example that Jia shared?

[2020-08-28 15:39] aloyszhang opened #7925 "Publish buffer of one ServerCnx caculated multi-times when check broker's publish buffer"
**Describe the bug**

Now,  publish buffer of broker are checked as following

[code]

If we have a partitioned topic and some partitions are owned by a same broker, these partitions will share a `ServerCnx`.

In this situation, the `messagePublishBufferSize` of this `ServerCnx` will be added for multi-times if we check the broker's publish buffer.

**To Reproduce**

1. start one pulsar broker
2.

[2020-08-28 15:52] MarvinCai commented on #1267
@sijie Please correct me if my explanation is wrong.
Partitioned topic is implemented as N internal topics, so non-partitioned topic map to single internal topic and partitioned topic map to X of internal topic depends on number of partitions.
And for partitioned topic with failover subscription active consumer will be pick for each partition(internal topic),  if more than one consumer connect the

[2020-08-28 15:56] frankjkelly opened #7927 "[Java Client 2.6.1] Client keeps retrying for about 30 seconds when there is an Authentication failure"
**Describe the bug**
While testing Authentication the Java Client keeps retrying a number of times for approx. 30 seconds even though there is a bad JWT token or a missing JWT token and the broker is responding with

**To Reproduce**
Steps to reproduce the behavior:
1. Turn on Authentication in the Proxy and the Broker
2. Build a Pulsar Client with no authentication
[code]
3. Create a Producer e.g

[2020-08-28 16:32] klwilson227 opened #7928 "CVE-2017-18640 exposure snakeyaml below 1.26"
**Describe the bug**
CVE exposure in pulsar-functions and other modules.
We are planning on using pulsar functions, in our next release however, we have found that a library with the below CVE is referenced by the pulsar jar files that are outlined below.

https://nvd.nist.gov/vuln/detail/CVE-2017-18640 snakeyaml < 1.26

STAT analysis of pulsar docker images shows CVE.

**To Reproduce**
Steps to r

[2020-08-28 16:48] devinbost commented on #6231
I never actually figured out what was causing this... Sorry about that.

[2020-08-28 17:56] Lanayx commented on #1267
@MarvinCai Ah, it seems I understand now - by orderring we want to avoid the situation when subconsumers from one partitioned consumer are  mixed with subsconsumers from another partitioned consumer.

[2020-08-28 18:43] MarvinCai commented on #1267
Yeah,  that's true if we have X consumer subscribe to partitioned topic with X partition where X > Y with failover sub mode, then each partition of the topic will have a different active consumer picked by priority level then consumer name.

[2020-08-28 19:15] smazurov commented on #7502
#2 is simply wrong and can be null. GCC needs to get its act together :)

[2020-08-28 20:04] klwilson227 opened #7931 "CVE-2018-12540 pulsar use of io.vertx-web.jar vertx 3.4.1"
**Describe the bug**
CVE-2018-12540 has been raised on vertx 3.4.1 which is found in the pulsar dependencies.

**To Reproduce**
mvn dependency:tree|grep vertx
[INFO] +- org.apache.bookkeeper.http:vertx-http-server:jar:4.10.0:compile
[INFO] |  +- io.vertx:vertx-core:jar:3.4.1:compile
[INFO] |  +- io.vertx:vertx-web:jar:3.4.1:compile
[INFO] |  |  \- io.vertx:vertx-auth-common:jar:3.4.1:compile
[INFO

[2020-08-29 16:33] frankjkelly commented on #7830
FYI @Joshhw for me the issue / hack was that I needed to provide BOTH AuthenticationToken implementations in the Proxy Conf definition of authenticationProviders i.e.

[code]

When I defined both AuthN implementations then I found that both role tokens are forwarded onto the (one) AuthZ provider and that both role tokens need to be approved.

For example in my case
i) `AuthenticationProviderToken`

[2020-08-29 17:46] kellyfj opened #7933 "Add some logging to improve Authentication debugging and Fix typos in code "occured" -> "occurred""
**Is your enhancement request related to a problem? Please describe.**
Add some logging to improve Authentication debugging and Fix typos in code "occured" -> "occurred"

**Describe the solution you'd like**
Authentication Service should have enough Debug logs to help debug Authentication issues when there is more than one provider

**Describe alternatives you've considered**
Leaving things as the

[2020-08-29 18:37] harissecic commented on #7913
Apparently Consumers have builder method _consumerEventListener_ which was not usable by me even if my subscribers were set to _Failover_. After removing such listener it problem was gone. Not sure if I should close the issue or this should be reevaluated by Pulsar team as bug?

[2020-08-30 14:06] #7826 closed

[2020-08-30 14:23] elgca commented on #6408
When I run the official tutorial, I got the same problem, right?

[code]

[2020-08-30 14:36] elgca opened #7935 "Failed to create a connector, NumberFormatException Error!"
I'm try to create a Mysql-Connector in a bare-metal cluster. But got an Exception.

[code]

cluster node : vm 2g * 3
OS : centos7
pulsar version : 2.6.1
java version : openjdk8

[2020-08-31 01:40] jiazhai commented on #7903
@KannarFr Thanks for the reporting. What is the behavior when using Proxy?

[2020-08-31 01:41] codelipenghui commented on #7931
@wolfstudy Could you please help take a look at this issue?

[2020-08-31 01:42] jiazhai commented on #7912
@Jennifer88huang @Huanli-Meng  Would you please help take a look?

[2020-08-31 01:42] codelipenghui commented on #7928
@wolfstudy Could you please help take a look at this issue?

[2020-08-31 01:49] wolfstudy commented on #7931
Sure,  As @klwilson227 said, this security vulnerability was not directly introduced by the pulsar. This is because pulsar relies on BookKeeper, and the vertx 3.4.1 version is introduced in BookKeeper, which causes this problem. So we need to go to bookkeeper's repo to fix this problem.

[2020-08-31 01:49] codelipenghui commented on #7923
@wolfstudy Could you please help take a looks at this issue? look 2.6.1 does not upload to the pypi

[2020-08-31 01:52] codelipenghui commented on #7920
@315157973 Could you please help take a look at this issue?

[2020-08-31 01:54] jiazhai commented on #7913
@harissecic , There seem no related changes in 2.6.1 to assign value to `consumerEventListener `.  Did you assign some value in your code?

[2020-08-31 01:55] jiazhai commented on #7915
There is a dup to #7912

[2020-08-31 01:57] jiazhai commented on #7927
@zymap Would you please help take a look at this issue?

[2020-08-31 03:26] 315157973 commented on #7920
please assign it to me

[2020-08-31 03:28] Jennifer88huang commented on #7912
@devinbost thanks for raising the issue.
@jiazhai got it. Will check soon.

[2020-08-31 04:36] jiazhai commented on #7912
would like to close this issue, since this is a dup to #7915

[2020-08-31 04:36] #7912 closed

[2020-08-31 05:59] wolfstudy commented on #7928
@codelipenghui Sure.

@klwilson227 Good ides, What needs to be distinguished here is which are direct dependencies and which are indirect dependencies. For the parts directly introduced by pulsar, we can consider using the 1.26 of `snakeyaml` version uniformly.

[2020-08-31 06:24] harissecic commented on #7913
Sorry for the confusion, I did assign values myself to produce some events. However I noticed that only Failover subscriptions should be used. I changed my subscriptions to fail-over and it still didn't work. Anyway I removed this and made workaround where I only notify rest of the application when consumers subscribe. I don't really need the feature that much but it would be quite good for monito

[2020-08-31 06:24] #7913 closed

[2020-08-31 08:42] jianyun8023 opened #7939 "S3 Sink Connector"
**Describe the solution you'd like**

Implement a Pulsar connector to copy Pulsar messages to S3.

Features

- Exactly Once Delivery: We should use a deterministic partitioner to write messages to S3 buckets.
- Support pluggable data format with or without a schema: We should support writing data to S3 in Avro and JSON format. Also, support writing data as Parquet format.
- Support pluggable parti

[2020-08-31 09:32] KannarFr commented on #7903
@jiazhai `BrokerDiscoveryProvider.getPartitionedTopicMetadata` describes it.

[2020-08-31 13:01] alexku7 opened #7941 "Consumer can't get messages with earliest position subscription type under some circumstances"
Hello
We have severe issue with partitioned topics and key_shared subscriptions with multiple consumers per subscription.
After some time (could be few hours or few days) the consumers are stopping to consume messages . The backlog continues to grow.

The problem being observed in 2.5.2, 2.6.0, 2.6.1. (we didn't work with earlier versions)

In the broker log we can find these errors:

 [bookkeeper

[2020-08-31 14:04] Technoboy- commented on #7935
Hi, @codelipenghui  I want to try to resolve this issue, could you give some idea?  I'm newer to this project.

[2020-08-31 14:39] Technoboy- commented on #7935
@elgca Could you give more detailed error log ?

[2020-08-31 14:46] Technoboy- opened #7942 "Fix log level error and typos"
1. Fix log level
[code]

2. Fix typo
[code]

[2020-08-31 16:11] rueian commented on #6871
Thanks! I will try the new version later this week.

[2020-08-31 17:18] fracasula commented on #7682
After further investigation I was able to come across two scenarios, which may be related.

## Silent broker scenario

* all consumers are connected with PING and PONG responses travelling over the wire
* the `stats` tool reports several messages in the `msgBacklog` for the given topic/subscription and it shows all the consumers as connected but with a `msgRateOut` of 0
* by looking at the [Pulsar

[2020-08-31 19:01] alexku7 commented on #7941
Hello
I am pretty sure that i succeeded to reproduce the conditions for this issue.

1. create a topic with three partitions. my-tenant/my-namespace/my/topic
2. The topic should have producers for producing relatively many messages ( let's say 3000 per second) with different keys
2. create simultaneously **2**  consumers with key_shared subscription and earliest position:

bin/pulsar-client consum

[2020-09-01 02:47] shengjh opened #7945 "How to send a c++ struct using schema in producer ?"
Hello, I'm trying to send a c++ struct(protobuf generated from proto file) in my c++ producer.
I can set a schema for a producer, but i don't know how to send my struct.(seems the cpp doc does not explain this.)

The question is, what should be passed to MessageBuilder().setContent(...)?
[code]

[2020-09-01 03:00] codelipenghui commented on #7682
@fracasula Looks the broker error log is the same as https://github.com/streamnative/pulsar/issues/1366 that I have met before when I working on some performance tests.

[2020-09-01 03:34] jiazhai commented on #7682
also @BewareMyPower would you please help to take a look on the cpp error stack.

[2020-09-01 03:54] BewareMyPower commented on #7682
@jiazhai Looks like the cpp client's error is just caused by the broker.

[code]

The broker gave an unknown `ServerError` or just an `UnknownError` when processing the subscribe command.

[2020-09-01 04:12] BewareMyPower commented on #7945
There're 2 ways to create a `Message` with C++ client

[code]

- data: the pointer to your struct
- size: the struct's size

[2020-09-01 06:32] shengjh commented on #7945
In this way, how to deserialize the message in consumer? My consumer is using go client.

[2020-09-01 06:50] BewareMyPower commented on #7941
I also reproduced the problem, though a little different. When I start 3rd consumer, it cannot consume any messages.

I found these logs from the broker:

[code]

Also, there're some `ManagedLedgerException` logs around the large amount `ArrayIndexOutOfBoundsException` logs

[code]

[2020-09-01 07:13] BewareMyPower commented on #7945
You should encode your struct manually, see [#5057](https://github.com/apache/pulsar/issues/5057)

[2020-09-01 09:31] shengjh commented on #7945
Thanks, @BewareMyPower

[2020-09-01 09:31] #7945 closed

[2020-09-01 12:55] hnail commented on #4747
I commited my  _WIP  prototype code_ `https://github.com/hnail/pulsar/commit/1c67266918168d0c373a2839384362960b5afe4a ` without unit-tests to my private repository instead of pull request to official master repository . Because i think the code change may contain some structural adjustment and beyond expectation .
so is there pulsar-sql committer or familiar with pulsar-sql can help preview the co

[2020-09-01 14:15] alexku7 commented on #7941
@BewareMyPower Hi. I also sometimes slightly different behaviors,
Sometimes it was working for a while (10-40 sec) and sometimes was stopping immediately on the third consumer

[2020-09-01 15:21] #7481 closed

[2020-09-01 16:01] KannarFr opened #7949 "Add AWS creds per offload policies"
**Is your enhancement request related to a problem? Please describe.**
OffloadPolicies has default credentials and not one per OffloadPolicies user-defined.

**Describe the solution you'd like**
Add AWS Id/Secret in OffloadPolicies creation.

[2020-09-01 19:39] harissecic opened #7952 "OAuth2 url .well-known not parsed correctly"
When trying to make Pulsar work with Keycloak (supporting multiple realms) I get this:
[code]
So it appears that extra path after the base URL is ignored and stripped. It would be really useful to have it respect full path and work with Keycloak. As visible, /auth/realms/{RELAM_NAME} is ignored and it's trying to access base URL by appending /.well-known/openid-configuration instead of appending i

[2020-09-01 20:18] sijie commented on #6587
@davidlanouette sorry that I missed this message!

The AoP is available at https://github.com/streamnative/aop. MoP will be also public soon.

@vzhikserg I agree with you. We can create separate issues for the requested protocol handlers and then close this one.

[2020-09-02 03:13] jiazhai commented on #7682
@wolfstudy to take a look at the go-client issue. it looks like a command not handled well in the protocol.

[2020-09-02 03:18] elgca commented on #7935
I just create connector from CLI, can't find error log info in log file. but when I change property `serviceURL=http://pulsar-node1:8080`, It success! Maybe this is the same problem as #6408

[2020-09-02 03:58] #7942 closed

[2020-09-02 09:01] KannarFr opened #7959 "Force namespace deletion even if not empty"
**Is your enhancement request related to a problem? Please describe.**
Currently namespace needs to be empty to be deleted.

**Describe the solution you'd like**
I think we should have a optional field to force the deletion of all stuffs related to namespace and delete them and finally delete the namespace.

[2020-09-02 10:34] cuzyoucant opened #7960 "AuthenticationOAuth2 as Authentication Plugin in Pulsar Proxy"
**Describe the bug**
When setting AuthenticationOAuth2 as brokerClientAuthenticationPlugin the proxy crashes on start-up with an uncaught Exception with message "null".

Relevant config:
brokerClientAuthenticationPlugin=org.apache.pulsar.client.impl.auth.oauth2.AuthenticationOAuth2
brokerClientAuthenticationParameters={"grant_type": "client_credentials","issuerUrl": "https://example.com/your/auth/

[2020-09-02 11:59] cuzyoucant commented on #7960
After some more debugging we found some additional information about the bug.

We got it to run in the standalone after disabling TLS connections in the config. It would be quite the hassle to disable all TLS connections in the kubernetes cluster so i can't say if disabling TLS would get it to work in kubernetes.

After some digging in the sourcecode i found the part where it is checked if TLS is

[2020-09-02 12:50] codelipenghui commented on #7682
@fracasula I have pushed a new docker image to the docker hub https://hub.docker.com/layers/streamnative/pulsar/2.6.1-sn-hotfix-1/images/sha256-6ad564327342355d57fa12ba5a2f35ca84957c9949313524095a58623cfe0834?context=explore

This image is based on 2.6.1 and contains https://github.com/streamnative/pulsar/pull/1436. You can upload the broker log file if you reproduce the problem.

[2020-09-02 13:13] #7933 closed

[2020-09-02 13:21] #7864 closed

[2020-09-02 13:24] fracasula commented on #7682
@codelipenghui thanks! I'll give it a try :+1:

[2020-09-02 15:03] cuzyoucant commented on #7960
After some even more debugging i narrowed it done even more.

In the same file ServiceChannelInitializer.java line 85 to 89 when the AuthenticationFactory builds the Authentication Object with AuthenticationOAuth2.
![image](https://user-images.githubusercontent.com/26773084/91998075-15093600-ed3b-11ea-88b0-419beab66c16.png)

After some testing i noticed that if i provide a dummy Object from Authen

[2020-09-02 15:44] fracasula commented on #7682
@codelipenghui I replaced `apachepulsar/pulsar:2.6.1` with `streamnative/pulsar:2.6.1-sn-hotfix-1` in my Kubernetes configuration but now I have the pods failing on startup with this error:

`/usr/bin/env: ‘python’: No such file or directory`

Here's an excerpt of my configuration from the Pulsar broker deployment:

[code]

[2020-09-02 18:03] cuzyoucant commented on #7952
Hey.

We ran into the same problem as you described above. The better solution would be to have a config somewhere where we can set what gets appended to the issuerURL.

I implemented a small ghetto fix for myself and build pulsar from source until this gets officially implemented.
If this is something you want to do, here is what you need to change:

To "fix" your problem you need to change the l

[2020-09-02 19:48] ErikJansenIRefact commented on #7372
Does make sense. But should be documented more clearly that this is the expected behaviour.

[2020-09-03 05:49] sijie commented on #7960
@jiazhai Can you take a look?

[2020-09-03 05:57] sijie commented on #7952
@jiazhai Can you take a look?

[2020-09-03 05:58] lhotari commented on #7859
This has changed in the last 2 years. The Java 8 version used in Pulsar images already supports container memory & cpu limits. [This blog post explains it](https://blog.softwaremill.com/docker-support-in-new-java-8-finally-fd595df0ca54).

One way to verify that it's supported is to run this docker command:
[code]
it will printout diagnostics about the limits that the JVM detects:
[code]

It's alre

[2020-09-03 06:55] xuesongxs opened #7967 "functions-worker healthCheck fail"
**Describe the bug**
A clear and concise description of what the bug is.
![image](https://user-images.githubusercontent.com/54351417/92081102-26af1400-edf5-11ea-8390-3d158dda95b6.png)

pulsar 2.5.2

**To Reproduce**
Steps to reproduce the behavior:
1. create 100+ functions in functions-worker node
2.Use the ps command to check the existence of the process of function, but the port and metrics port

[2020-09-03 07:58] codelipenghui commented on #7682
@fracasula Oh, I see. I will build a new image for you.

[2020-09-03 08:22] jiazhai commented on #7960
@cuzyoucant Thanks for the report.

Is this because the parameters for oauth2 not configured right?

[2020-09-03 08:29] jiazhai commented on #7960
` if (serviceConfig.isTlsEnabledWithBroker())` This means proxy will use tls to communicate with broker, and it expect the
`brokerClientAuthenticationPlugin` and `brokerClientAuthenticationParameters` should be related with tls config, instead of oauth2 config.

[2020-09-03 08:37] jiazhai commented on #7960
@cuzyoucant  How is the tls configured?

[2020-09-03 08:41] #7799 closed

[2020-09-03 08:54] cuzyoucant commented on #7960
@jiazhai The parameters for oauth2 are configured and are working, because as i pass in a dummytoken the proxy starts, notices that the token is invalid and gets a new one, and then the proxy works just fine.

We are currently not using the keystore, so the "tlsEnabledWithKeyStore" is not set to true in our configuration.

[2020-09-03 09:00] cuzyoucant commented on #7960
@jiazhai I can update you about the exact config tomorrow. I do not have it by hand right know.

[2020-09-03 09:12] zymap commented on #7952
Hi, @harissecic By this error `java.io.IOException: Cannot obtain authorization metadata from https://***/.well-known/openid-configuration`, it seems the client can not access the configuration URL. Have you tried to using curl to get it directly?

[2020-09-03 09:57] codelipenghui commented on #7682
@fracasula You can try this one https://hub.docker.com/layers/streamnative/pulsar/2.6.1-sn-hotfix-2/images/sha256-765a82e1601e64cdb8ae8f8d7bd38a4ba936cf5f16557c7f7bb36904813bf0ff?context=explore

[2020-09-03 09:59] jiazhai commented on #7960
Thanks @cuzyoucant , also, Are there any suspicious logs in server-side ?

[2020-09-03 11:37] fracasula commented on #7682
I got this coming from the broker:

[code]

Bookkeeper, zookeeper and proxy seem fine instead.

[2020-09-03 12:13] harissecic commented on #7952
I'm afraid you didn't read it entirely.

1. https://***/.well-known/openid-configuration is incorrect and that's on Pulsar side 100%
2. https://*****/auth/realms/***/ is passed in and is quite clear and pointed out that /auth/realms/*realmId* is being stripped inside Pulsar code and /.well-known/openid-configuration is being appended at the base URL when my realms are stripped as I stated in the i

[2020-09-03 13:13] #7915 closed

[2020-09-03 13:54] cuzyoucant commented on #7952
@zymap I can agree what @harissecic says. The problem is the line 100 in the DefaultMetadataResolver.java
`return new URL(issuerUrl, "/.well-known/openid-configuration");`

Because the URL constructor does not work as someone would expect. It does not concatenate the two inputs. You can read that up in the java documentation. It strips everything from the issuerURL after the `www.xyz.com` and adds

[2020-09-03 14:21] codelipenghui commented on #7682
@fracasula interesting... did you specify the offloader such as `managedLedgerOffloadDriver` in the broker.conf? The default `managedLedgerOffloadDriver` is null, so the broker will not find the `google-cloud-storage` driver.

[2020-09-03 14:36] #7920 closed

[2020-09-03 14:57] fracasula commented on #7682
@codelipenghui yeah I think I did, in fact it works with the usual `apachepulsar/pulsar:2.6.1` image. Here's an exceprt from the deployment:

[code]

As you can see it applies the configuration coming from the environment variables which are defined in the below configmap:

[code]

[2020-09-03 15:16] zymap commented on #7952
@harissecic @cuzyoucant  Sorry for my mistake and thanks for your patience.
Would you like to create a patch for the Java implementation?

For the CPP client, it will be better if we have the same implementation as Java

[2020-09-03 15:31] guyv opened #7970 "pulsar-client vulnerability CVE-2019-17638"
Apparently pulsar-client depends on a version of jetty-util which contains known vulnerabilities

Failed to execute goal org.owasp:dependency-check-maven:5.3.2:aggregate (default) on project:
[ERROR]
[ERROR] One or more dependencies were identified with vulnerabilities that have a CVSS score greater than or equal to '0.0':
[ERROR]
[ERROR] pulsar-client-2.6.1.jar/META-INF/maven/org.eclipse.jetty/je

[2020-09-03 15:55] guyv opened #7971 "pulsar-client not usable in a jpms (java modules) setup"
- pulsar-client and pulsar-api both contain the packages org.apache.pulsar.common.schema which causes a split package problem when our application is ran on the module path. (upgrading from 2.5.2 to 2.6.1)

Error occurred during initialization of boot layer
java.lang.module.ResolutionException: Modules pulsar.client.api and pulsar.client export package org.apache.pulsar.common.schema

- aircompres

[2020-09-04 00:13] EronWright commented on #7952
Regarding the openid configuration document location, @cuzyoucant is correct that the base path of the `issuerUrl` should be preserved, to better interoperate with Keycloak and others.  The following expression would work robustly:
`URI.create(issuerUrl.toExternalForm() + "/.well-known/openid-configuration").normalize().toURL();`

Regarding the CPP client issue, I believe the token endpoint should

[2020-09-04 01:09] murong00 commented on #7959
We have implemented this feature in our dev branch and I will finish this later when available.

[2020-09-04 01:47] sijie commented on #7476
@aloyszhang Can you contribute the change back?

[2020-09-04 01:48] rudy2steiner commented on #7903
I'll try to fix it

[2020-09-04 02:01] aloyszhang commented on #7476
@sijie
OK, I'll add a PR later.

[2020-09-04 02:23] #4916 closed

[2020-09-04 02:23] sijie commented on #7750
This has been fixed.

[2020-09-04 02:23] #7750 closed

[2020-09-04 02:44] sijie commented on #7574
@wenjun8888 Can you check @wolfstudy 's question?

[2020-09-04 03:11] jiazhai commented on #7941
@codelipenghui  could  this be related with  #7682  ?

[2020-09-04 05:44] sijie commented on #7258
Close this issue since it has been answered.

[2020-09-04 05:44] #7258 closed

[2020-09-04 05:50] sijie commented on #7012
@guillaumepitel I fixed the NPE issue in 2.6.0. Please try 2.6.0+ release.

[2020-09-04 05:50] #7012 closed

[2020-09-04 05:57] gm7y8 commented on #6962
if no one is working on it can you assign this issue to me?

[2020-09-04 05:57] sijie commented on #5206
Close this issue since it was answered

[2020-09-04 05:57] #5206 closed

[2020-09-04 05:58] sijie commented on #3542
Close this issue since it was reported a long time ago.

[2020-09-04 05:58] #3542 closed

[2020-09-04 06:00] sijie commented on #3490
Close this issue due to a lack of activities. If the problem still exists, please reopen a new issue.

[2020-09-04 06:00] #3490 closed

[2020-09-04 06:01] sijie commented on #4981
Close this issue since it has been fixed.

[2020-09-04 06:01] #4981 closed

[2020-09-04 06:02] sijie commented on #4884
Close this issue since it was reported a year ago.

[2020-09-04 06:02] #4884 closed

[2020-09-04 06:12] sijie commented on #4887
Close this issue now because it was created a year ago.

[2020-09-04 06:12] #4887 closed

[2020-09-04 06:16] sijie commented on #4752
close this issue for now since serde is not supported in Go Function.

[2020-09-04 06:16] #4752 closed

[2020-09-04 06:18] sijie commented on #4876
Close this issue since it was answered.

[2020-09-04 06:18] #4876 closed

[2020-09-04 06:18] sijie commented on #5109
Close this issue since it was answered

[2020-09-04 06:18] #5109 closed

[2020-09-04 06:24] sijie commented on #5112
@KannarFr is your question answered?

[2020-09-04 06:28] sijie commented on #3765
This has been fixed in the recent change to allow configuring schema properties.

[2020-09-04 06:28] #3765 closed

[2020-09-04 06:28] sijie commented on #4902
Close this issue since it was created a year ago.

[2020-09-04 06:28] #4902 closed

[2020-09-04 06:30] sijie commented on #1616
Close this issue for now since it was idle for years. Please reopen a new one if needed.

[2020-09-04 06:30] #1616 closed

[2020-09-04 06:30] #1253 closed

[2020-09-04 06:32] #4985 closed

[2020-09-04 06:33] #4842 closed

[2020-09-04 06:34] #4889 closed

[2020-09-04 06:38] #4903 closed

[2020-09-04 06:38] #2520 closed

[2020-09-04 06:38] #4973 closed

[2020-09-04 06:40] sijie commented on #2556
Close this issue since the protocol handler mechanism has been introduced in Pulsar.

Currently Kafka and AMQP protocols are supported from this framework.

KoP: https://github.com/streamnative/kop
AoP: https://github.com/streamnative/aop

[2020-09-04 06:40] #2556 closed

[2020-09-04 06:42] sijie commented on #6962
@gm7y8 Assigned.

[2020-09-04 07:52] codelipenghui commented on #7878
close via #7937

[2020-09-04 07:52] #7878 closed

[2020-09-04 09:42] #5112 closed

[2020-09-04 10:05] codelipenghui commented on #7682
@fracasula Interesting, I think 2.6.1 does not have any offloader drivers by default. If you are using offloader, you can try to use https://hub.docker.com/layers/streamnative/pulsar-all/2.6.1-sn-hotfix-2/images/sha256-2429d29d86e8eac252d055ed10541353f3f89d9569512048bebea0b35eb71d01?context=explore

[2020-09-04 10:47] wolfstudy commented on #7682
What version of go client are you using? This error is because the default message size allowed by pulsar is 5MB, if it exceeds this value, the above error will be thrown. In 0.2.0 of go client, we allow users to configure the max frame size.

[2020-09-04 11:06] fracasula commented on #7682
@wolfstudy thanks we'll take that into consideration. Out of curiosity, how come the frame size is not checked when the message is being published? This way we would get an error when trying to write a message that is too big instead of when consuming it when it may be too late.

[2020-09-04 11:11] wolfstudy commented on #7682
Good questions.

So in https://github.com/apache/pulsar-client-go/pull/263, we check the `maxMessageSize` value and when the sent message is larger than maxMessageSize, we try to close the connection.

[2020-09-04 11:22] cuzyoucant commented on #7960
@jiazhai There are no logs regarding this server-side. My guess is that the method .getAuthData() which returns the AuthenticationDataProvider Object returns an empty object, since the object should be containing the token. And for the token to be present it needs to call the underlying authenticate method which is assume the AuthenticationFactory.create() doesnt do. Hope that makes somewhat of a

[2020-09-04 11:34] wolfstudy commented on #7812
@xuesong172500 This is caused by too many jar packages. We can try to use a smaller tarball. Each time we use maven to build, we only place the corresponding module. We are also optimizing the logic. For the same jar package can be considered instead of reloading a jar for every function.

[2020-09-04 12:29] cuzyoucant commented on #7824
Hi.

I also ran into the same problem as @SergeyYakubov . Even with `authenticationRefreshCheckSeconds` set, the client just keeps on producing even though the token already expired. I think this problem only occurs when using a proxy, because in your test above @zymap i think you are using a direct connection between the client and broker. In my tests i was using the python client and not the go

[2020-09-04 13:20] jiazhai opened #7978 "CI failure: PulsarFunctionE2ETest: PulsarAdminException: java.lang.NullPointerException"
recently the ci failed for test PulsarFunctionE2ETest.
https://github.com/apache/pulsar/pull/7973/checks?check_run_id=1069972906

[code]

[2020-09-04 13:51] xuesong172500 commented on #7812
@wolfstudy By reducing the size of jar package, we can reduce the CPU utilization to some extent.

[2020-09-04 17:55] gaoran10 opened #7981 "[Transaction] Support pending-ack state for batch messages"
**Describe the solution you'd like**

Currently, it seems that the pending-ack state only supports the single messages, if we want to make the batch messages support this state, we need to make some changes.

When the consumer makes an acknowledgment with a transaction, the Pulsar Broker will record the ack position in a map, but this is not enough for the batch messages.

**Some code**
[code]

[2020-09-04 23:18] david-streamlio opened #7982 "Call to create state table blocks inside the JavaInstanceRunnable class"
**Describe the bug**
The call to  storageAdminClient.getStream(tableNs, tableName) inside the JavaInstanceRunnable task blocks forever.

**To Reproduce**
Steps to reproduce the behavior:
 1. Start docker container using the following command: docker run -id --name pulsar -p 6650:6650 -p 8080:8080 -p 4181:4181 apachepulsar/pulsar standalone

2. Configure a LocalRunner instance to use the state stor

[2020-09-05 13:21] #7758 closed

[2020-09-05 21:43] alexku7 commented on #7941
I think we have here more complex bug then may be probably have thought .
I succeeded to reproduce the same issue under other conditions.
For example when i create quickly very large backlog that issue happens again .
It always occurs with **Key_Shared** subscriptions.

For example
bin/pulsar-perf produce --warmup-time 5 --batch-time-window 3000 --num-producers 1 --size 900 --rate 10000 --num-topi

[2020-09-07 01:12] KannarFr commented on #7903
@rudy2steiner are you working on it? :)

[2020-09-07 01:13] KannarFr commented on #7959
@murong00 can you create a PR and maybe i can contribute to it?

[2020-09-07 01:22] wolfstudy commented on #7812
cool @xuesong172500 , will close this issue

[2020-09-07 01:22] #7812 closed

[2020-09-07 03:37] zymap commented on #7960
@cuzyoucant It seems there is no `brokerClientAutheticationPlugin` and `brokerClientAuthenticationParameters` in your proxy configuration file, I think you might need to configure them in the proxy as well.

[2020-09-07 03:41] Delostik opened #7995 "Netty 4.1.16.Final Could not initialize class io.netty.channel.epoll.Native"
**Describe the bug**
I use brpc(a rpc framework) with netty 4.1.16.Final to create epoll event loop, but see following error:
[code]

It seems that the shaded package was loaded but cannot load native library.
And I unpackage the jar
[code]

[2020-09-07 05:40] wolfstudy commented on #7574
ping @wenjun8888 , will close this issue, If you have any questions about this, please reopen it or let me know, thanks.

[2020-09-07 05:40] #7574 closed

[2020-09-07 05:59] #7995 closed

[2020-09-07 09:54] cuzyoucant commented on #7960
@zymap They are set. I just double checked. Sorry i missed those. I got the config file in a very weird formatted way and i just copy/pasted everything that i thought was related to TLS.

Like i mentioned above, when i pass in a dummy token everything works as expected. As soon as the proxy gets its first request it notices that he token is invalid and gets a new one from our OAuth provider.

[2020-09-07 11:16] BewareMyPower commented on #7800
I've just pushed a PR #7996 to support key based batching. There're a lot of changes so it may take some time to review.

You can see [KeySharedConsumerTest.cc](https://github.com/apache/pulsar/blob/bf55c95b5ff65e7ed2eb78617f2e183b77d47aa4/pulsar-client-cpp/tests/KeySharedConsumerTest.cc) as an example. Just change the batching type of producer:

[code]

[2020-09-07 11:23] BewareMyPower commented on #6945
I've just pushed a PR #7996 to support key based batching. But I'm not familiar with the python wrapper so I didn't add the batching type config to Python client yet.

[2020-09-07 13:14] otmanel31 opened #8000 "allTopicPartitionsNumber not equals expected error"
**Description of issue encountered**
Hi everyone,
i face an issue using apache pulsar client v2.6.1 in my java program that subscribe to a topic pattern with following exception:
`Failed to subscribe for topic [persistent://xxxxx/agent_xx/event-967b12df-cd08-4467-a31d-9a38928f0727] in topics consumer java.lang.IllegalStateException: allTopicPartitionsNumber 124 not equals expected: 123`.

What i c

[2020-09-07 15:13] alexku7 opened #8001 "A publisher is stuck after delete and recreate partitioned topic with fewer partitions"
After we delete a partitioned topic and recreate it again with the same name but with fewer partitions (1 instead of 3), the publisher  seems to be completely stuck. We need to restart the whole pulsar client in order to connect and publish messages again.

The client and pulsar version is 2.6.1

Steps to reproduce:
1. Create a topic with 3 partitions :
bin/pulsar-admin topics create-partitioned-t

[2020-09-08 00:13] #7895 closed

[2020-09-08 00:50] #7759 closed

[2020-09-08 01:05] #7928 closed

[2020-09-08 01:06] #7925 closed

[2020-09-08 01:17] codelipenghui commented on #8001
@alexku7 Thanks for your feedback. I can't reproduce this issue on my laptop. When I try to delete the partitioned topic and the producers still publishing messages to this topic. The request is rejected by

[code]

Then I close all producers and recreate the partitioned topic

[code]
This topic has 3 partitions previously.

Then I restart the producers:

[code]

The producer works well.

[2020-09-08 01:34] wolfstudy opened #8002 "[Pulsar Functions] functions trigger request timeout"
**Describe the bug**

The functions trigger `request timeout `

**To Reproduce**
Steps to reproduce the behavior:
1. bin/pulsar-admin functions create ....
2. bin/pulsar-client consumer ....
3. bin/pulsar-admin functions trigger ....
4. The error:

[code]

But the consumer received this message correctly.

**Expected behavior**

The function trigger can be executed normally.

**Screenshots**

![im

[2020-09-08 02:09] jiazhai commented on #8000
@otmanel31 Thanks for reporting this issue, This looks like a race condition, we should remove the check in method: `MultiTopicsConsumerImpl.doSubscribeTopicPartitions`.

[2020-09-08 02:12] #7476 closed

[2020-09-08 06:35] alexku7 commented on #8001
Hi
I didn't restart the producers between re-creating the topics.
The producers are running always. I think that it's expected that the producer can recover and reconnect without restarting the them after the topics has been recreated with fewer number of partitions

[2020-09-08 08:05] #7931 closed

[2020-09-08 10:27] otmanel31 commented on #8000
yeap thanks

[2020-09-08 11:02] alexku7 commented on #8001
Hi

After additional investigation it seems that we had some race condition in our client code. We are still checking it but for now i thing we can put this issue on hold
Thank for your time

[2020-09-08 11:02] #8001 closed

[2020-09-08 12:33] rudy2steiner commented on #7903
Not yet, i will work on it in next weekend. you can do it  if you are urgent

[2020-09-08 12:38] KannarFr commented on #7903
@rudy2steiner ok it's not urgent.

[2020-09-08 14:29] rauluka opened #8008 "Can't send message due to PulsarClientException$TimeoutException when 1 zookeeper, bookie and broker are down"
**Issue description**
Our setup:
Pulsar deployed on AKS cluster (version 1.17.7).
Pulsar components:
 5 bookies PODs
 3 brokers PODs
 3 zookeepers PODs
 3 pulsar proxies PODs

When one of the AKS nodes is drained (all PODs are moved) we cannot send message to Pulsar due to PulsarClientException$TimeoutException.

Actually if one POD of zookeeper, bookie, broker is killed at the same time it's impo

[2020-09-08 15:03] codelipenghui opened #8009 "Number format exception when create function with multiple service url address"
**Describe the bug**
Number format exception when create function with multiple service url address

**To Reproduce**
Steps to reproduce the behavior:
1. Use pulsar-admin to createFunction and specify multiple service URL for the function config.
2. See error

**Expected behavior**
Allow using multiple service URL when creating function

**Additional context**
2.6.1

[2020-09-08 15:04] mkozioro commented on #8008
Hi @sijie
Do you know what can be wrong? We're using almost unchanged pulsar kubernetes chart on AKS, but this should be visible rather on any cloud.
Only important changes in helm values are:
    managedLedgerDefaultEnsembleSize: "3"
    managedLedgerDefaultWriteQuorum: "3"
    managedLedgerDefaultAckQuorum: "2"
in broker configuration. We tested also with:
    managedLedgerDefaultEnsembleSize: "

[2020-09-08 16:44] frankjkelly commented on #3115
We too have been hit by this issue trying to send generics
[code]

[2020-09-08 20:32] csthomas1 opened #8012 "For the Kubernetes function worker runtime, allow customization of the pulsar function "jobName""
**Is your enhancement request related to a problem? Please describe.**
Currently (as of 2.6.x), the Pulsar KubernetesRuntime class hardcodes the jobName (the name assigned to the StatefulSet used to create the function pods) to the format "pf-[tenant]-[namespace]-[function][-optional 8 char hash]." While the intent of this name format was no doubt both to provide a human readable name for the k8s

[2020-09-09 00:01] sijie commented on #8008
@rauluka which version are you using? 2.5.x or 2.6.x?

[2020-09-09 00:57] zymap opened #8013 "PR check failed by license"
Currently, the PR check failed by the license check:

[code]

[2020-09-09 01:00] zymap commented on #8013
It's might cause by the PR https://github.com/apache/pulsar/pull/7998.

And I see when changing the pom file, the CI is not running to check the PR.

[2020-09-09 01:41] jiazhai commented on #8013
found the same root cause. need to also fix the "change docs only" script, because it is not worked right for only pom.xml change.

[2020-09-09 02:49] codelipenghui commented on #7682
@fracasula Is the new image works for you? Any problems please ping me.

[2020-09-09 03:20] Jennifer88huang opened #8016 "[website] The master doc page is displayed without navigation"
**Describe the bug**
When I click "master documentation" on http://pulsar.apache.org/en/versions/, it navigates to the [doc page](http://pulsar.apache.org/docs/en/next/standalone/) without navigation bar.

If I click "documentation" for other versions, it navigates to the doc page with navigation bar.

**Expected behavior**
The master documentation should also be displayed with navigation bar.

**

[2020-09-09 03:31] Jennifer88huang commented on #8016
I checked the sidebars.json file in the master branch, compared it with sidebars.json in the versioned_sidebars folder, and did not find notable format issues.
I'm not sure whether it has anything to do with the sidebar.json file, or some other files related to build?

[2020-09-09 03:58] BewareMyPower commented on #7728
@codelipenghui @sijie I reproduced the issue accidentally. If the broker's `allowAutoTopicCreationType` is `partitioned`, then the automatically created topic has no schema.

It's easy to reproduce:
1. Run a consumer to subscribe a topic that doesn't exist now, e.g.:

[code]

2. Check the topic's schema

[code]

The broker logs:

[code]

[2020-09-09 05:41] sijie commented on #7728
@BewareMyPower If you have identified the problem, are you interested in contributing a fix?

[2020-09-09 05:57] BewareMyPower commented on #7728
@sijie Yes, I'll take some time to look into the problem.

[2020-09-09 06:29] fracasula commented on #7682
@codelipenghui yeah the last iage is definitely working, thanks! I haven't got back to you because I'm off till next week and had troubles replicating the "silent broker" issue, it's quite random and hard to replicate. I think most of the times we had stuck consumers was due to client issues (Golang deadlock).

[2020-09-09 07:21] mkozioro commented on #8008
Hi @sijie

We're using Pulsar 2.6.0 with 2.6.1-1 chart.

[2020-09-09 07:42] sijie commented on #8008
@mkozioro Did you kill the leader zookeeper when you kill the zookeeper pod?

[2020-09-09 07:58] jiazhai commented on #3115
@gaoran10 @congbobo184 Which of you have time to take a look at this issue?

[2020-09-09 08:24] rauluka commented on #8008
@sijie yes, we kill the leader zookeeper, however the new leader is choosen immediately (according to logs around 200ms).

[2020-09-09 08:25] wolfstudy commented on #7923
@frankjkelly Now we can use the client of python 2.6.1 normally

![image](https://user-images.githubusercontent.com/20965307/92573881-f8c84480-f2b8-11ea-9ad5-7b564983f0c4.png)

[2020-09-09 08:50] wolfstudy commented on #7308
Yes, this is because we use the boost-python38 lib to build the python37 version. I modified a [`boost-python3.rb`](https://github.com/streamnative/homebrew-streamnative/blob/master/Formula/boost-python3.rb) file to build the boost-python37 lib, which may solve our problem.

[2020-09-09 08:53] zymap commented on #7960
@cuzyoucant Finally, I reproduce this issue on my local and fix it here #8019. Feel free to take a look and left comments.

[2020-09-09 09:04] zymap opened #8020 "Most PR CI Unit Tests failed by Functions tests"
CI error:

[code]

[2020-09-09 09:17] codelipenghui commented on #7941
@alexku7 I have tested on my laptop, but the error information looks a bit different

[code]

Could you please help verify without message batching? I suspect to the batch message and I have verified on my laptop. So I can confirm if they are the same issue.

[2020-09-09 09:49] alexku7 commented on #7941
@codelipenghui  Hi
Did you disable the batching on the consumer or producer?
I just wondering how i can disable the batching on the pulsar-client or probably i need my own java client ?

[2020-09-09 09:56] alexku7 commented on #7941
@codelipenghui  sorry but one question

did you succeed to reproduce this issue with pulsar-client as was mentioned in my first message and also in the @BewareMyPower ?

[2020-09-09 10:11] jiazhai commented on #7978
close this issue for not meet this issue anymore.

[2020-09-09 10:11] #7978 closed

[2020-09-09 10:45] frankjkelly commented on #7923
Thanks - confirmed on my side too. Just for my understanding was there some "fix" or perhaps just some delay of some sort in PyPi caches?

[2020-09-09 10:46] wolfstudy commented on #7923
Yes, Can you install pulsar_client 2.6.1 locally?

[2020-09-09 10:50] frankjkelly commented on #7923
Yes I can.

[2020-09-09 11:10] ericwangdka opened #8021 "always Received too big frame size when i use golang lib to consume"
**Describe the bug**
when i use pure golang lib to consumer topic is always shows  Received too big frame size and the handshake error and exit ,how can i to do whit it?

[2020-09-09 12:12] #7896 closed

[2020-09-09 12:20] #7404 closed

[2020-09-09 12:38] jiazhai commented on #7709
This seems to be a dup to #7846

[2020-09-09 13:29] BewareMyPower commented on #7728
The description I've said before is not accurency. If I send a PUT request to create a topic, querying the topic's schema will also returns 404. But a consumer with string schema could still consume it. After that, the topic's schema became string schema.

However, if a topic was created automatically by a consumer without schema, then a consumer with string schema would fail with `Topic does not

[2020-09-09 13:34] xuesongxs opened #8022 "create pulsar-io source/sink fail by use "--sink-config-file""
**Describe the bug**
A clear and concise description of what the bug is.
![image](https://user-images.githubusercontent.com/54351417/92605187-02b36d00-f2e4-11ea-95ef-68457c71a7cd.png)
![image](https://user-images.githubusercontent.com/54351417/92605483-5f168c80-f2e4-11ea-84f2-5579bec0d45c.png)
![image](https://user-images.githubusercontent.com/54351417/92605212-09da7b00-f2e4-11ea-98f3-0e225d5f8d1e

[2020-09-09 13:34] wolfstudy commented on #7923
Thanks @frankjkelly feedback this issue, will close it, If there are other related questions, please reopen it or let me know, thanks.

[2020-09-09 13:34] #7923 closed

[2020-09-09 14:49] #7709 closed

[2020-09-09 15:11] codelipenghui commented on #7941
@alexku7 Yes, I reproduced it when enable message batching. When I disable the message batching, looks the problem does not appear.

I test by pulsar-perf and add `-bm 1` to disable message batching.

[2020-09-09 17:03] savearray2 commented on #3716
Sorry for bumping this, but is there any follow-up on this? I'm willing to use any method possible to set the rack for each bookie, but I'm having trouble finding a list of steps to get this to work.

No matter what I try, my bookies are getting added to ```default-rack```.

[2020-09-09 19:45] qmnonic commented on #5668
Starting with the `-nss` flag (no stream storage) will resolve the issue temporarily...

[2020-09-10 00:59] zymap commented on #7927
Sure. I will take a look.

[2020-09-10 01:17] g0715158 opened #8023 "The consumption performance index cannot be obtained, and the obtained value is all 0"
Describe the bug
The consumption performance index cannot be obtained, and the obtained value is all 0

To Reproduce
Steps to reproduce the behavior:

1. Send and consume messages
2. Obtain indicator information through the indicator interface  http://ip:8080/metrics/
3. Observe the pulsar_rate_out indicator information

Additional context:
version：2.5.2
class:NamespaceStatsAggregator
method:getTo

[2020-09-10 04:01] zymap commented on #7824
Sorry for the late response @cuzyoucant .
Thanks for the information. That's weird. I deploy pulsar on k8s and it enables the proxy. Let me take another look at this issue.

[2020-09-10 04:23] Technoboy- commented on #8022
@xuesong172500 Hi, --sink-config-file should be in YAML format and source-config is JSON format.

[2020-09-10 08:14] savearray2 opened #8027 "Issue applying region/rack information (ZkBookieRackAffinityMapping)"
**Describe the bug**
I've set up a basic pulsar cluster and attempted to set bookie rack information via ```pulsar-admin bookies set-bookie-rack```.

The following is the output from ```racks-placement```:

[code]

During the Pulsar broker client startup, I get the following error (please note it says it can't find ```koto-bk-aen-0``` even though it's clearly specified above):
[code]

The bookies

[2020-09-10 08:45] wolfstudy commented on #7869
Due to protobuf version conflicts and incompatibility issues, first roll back the protobuf version, and then resend a new pull request to fix this problem.

[2020-09-10 12:49] rauluka commented on #8008
Hi @sijie,
We checked in on 2.6.1 and the same issue exists. We also checked zookeeperSessionExpiredPolicy set to reconnect and it doesn't help.

[2020-09-10 13:40] mkozioro commented on #8027
Hi @savearray2
I'm not using bookkeeperClientRegionawarePolicyEnabled, only bookkeeperClientRackawarePolicyEnabled
Everything seems to be working fine for me with the newest pulsar 2.6.1 when setting racks using command:

/pulsar/bin/pulsar-admin --admin-url "${PULSAR_BROKER_URL}" bookies set-bookie-rack --bookie "${HOSTNAME_FQDN}:${BOOKKEEPER_BOOKIE_PORT}" --rack "/${ZONE}"

$ZONE for us is azure

[2020-09-10 14:11] savearray2 commented on #8027
Hi there, @mkozioro

I've rewritten my configuration:
[code]

Here's the output from ```racks-placement```:
[code]

I still get the same error (on the broker):
[code]

Which still results in the following:
[code]

Could I ask you a question?

I'm currently using the following as part of my ```bookkeeper.conf```:
[code]

Do you include the port (```:3181```) on the ```advertisedAddress``` value (e.

[2020-09-10 15:40] savearray2 commented on #8027
For anyone else who ever runs into this problem. I've figured it out. This has been plaguing me for days.

I followed the stack trace to the following line:

https://github.com/apache/bookkeeper/blob/2f08377f5c56f96389fb3a8e51844844537e118b/bookkeeper-server/src/main/java/org/apache/bookkeeper/net/BookieSocketAddress.java#L68

In short, EVERY address added via the ```pulsar-admin bookies set-booki

[2020-09-10 18:33] #7634 closed

[2020-09-11 00:09] k2la opened #8030 "enableReplicatedSubscriptions is not used."
It seems that "Replicated Subscriptions" is always enabled because `enableReplicatedSubscriptions` is not used.
- https://github.com/apache/pulsar/search?q=enableReplicatedSubscriptions&unscoped_q=enableReplicatedSubscriptions
- https://github.com/apache/pulsar/blob/22b8923a251c3356401090dacb8ff97fd37d14c1/pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java#L688

[2020-09-11 01:41] jiazhai commented on #8020
@wolfstudy Please update this issue once it get resolved

[2020-09-11 01:43] wolfstudy commented on #8020
Sure

[2020-09-11 02:13] sijie commented on #8027
@savearray2 Yes. We should at least update the help messages of `bookies set-bookie-rack`.

[code]

[2020-09-11 02:18] sijie commented on #8022
Close this issue since the question has been answered by @Technoboy-

[2020-09-11 02:18] #8022 closed

[2020-09-11 02:21] sijie commented on #8021
@ericwangdka Are you using the binary service URL or HTTP service URL?

[2020-09-11 02:39] zymap commented on #7824
I tried using 2.6.0 test it, it looks good.
I deployed a k8s cluster to test it.
This is my testing value.yml https://github.com/zymap/charts/commit/a719980acc9295c33d1f96792386a893691a52a3
This is my test program:
 https://gist.github.com/zymap/98c2b7462a8d8432f452772af23862fb
https://gist.github.com/zymap/801e45bc0b5be4440c35654efae5d8d3

I was using pulsar-client 2.6.0 and the python version is

[2020-09-11 03:23] gaoran10 opened #8034 "[Transaction] Pending-ack messages delivery check"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-11 04:43] #7952 closed

[2020-09-11 04:45] #7960 closed

[2020-09-11 04:47] #5552 closed

[2020-09-11 04:47] #6531 closed

[2020-09-11 04:49] #7517 closed

[2020-09-11 08:22] #7941 closed

[2020-09-11 08:56] wolfstudy commented on #8020
Currently, the action ci in the master already works normally, so close this issue.

[2020-09-11 08:56] #8020 closed

[2020-09-11 09:31] #7970 closed

[2020-09-11 09:31] #7869 closed

[2020-09-11 09:33] gaoran10 opened #8036 "[Transaction] Persistent pending-ack status"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-09-11 13:15] gaoran10 commented on #7829
@moshonb6 Hi, the presto version is updated to `332` in the  Pulsar master branch, please have a try, thanks.

[2020-09-11 23:36] david-streamlio opened #8040 "Unable to use state store in LocalRunner"
**Describe the bug**
When configuring the LocalRunner to use a storageClientURL, the LocalRunner just hangs. This issue is related to the storage client that is used inside the JavaInstanceRunnable class to create and open the table for the function

**To Reproduce**
Steps to reproduce the behavior:

LocalRunner runner = LocalRunner.builder()
	   .brokerServiceUrl(container.getPlainTextServiceUrl(

[2020-09-12 02:47] xuesongxs opened #8043 "add Pulsar IO :: RocketMQ"
**Is your feature request related to a problem? Please describe.**
RocketMQ Source And Sink.

**Describe the solution you'd like**
Add Pulsar IO :: RocketMQ, RocketMQSource and RocketMQSink.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any other context or screenshots about the f

[2020-09-12 08:24] wonko commented on #6496
Any update here?

[2020-09-13 09:32] Technoboy- opened #8049 "Replace map with set"
In PulsarClientImpl, we use IdentityHashMap to hold the reference of producers/consumers like below:
[code]
It's better to use List, for value is never used but stored.
But Pulsar pursues performance, so looks good to use thread safe set -- Collections.newSetFromMap(new ConcurrentHashMap<>()) .

[2020-09-13 09:33] Technoboy- opened #8050 "Replace map with set"
In PulsarClientImpl, we use IdentityHashMap to hold the reference of producers/consumers like below:
[code]
It's better to use List, for value is never used but stored.
But Pulsar pursues performance, so looks good to use thread safe set -- Collections.newSetFromMap(new ConcurrentHashMap<>()) .

[2020-09-13 09:33] #8049 closed

[2020-09-14 01:39] zymap commented on #8013
Issue resolved.

[2020-09-14 01:39] #8013 closed

[2020-09-14 01:51] jiazhai commented on #4944
This issue should already be fixed, and will be included in 2.7.0.   would like to close this issue.

[2020-09-14 01:51] #4944 closed

[2020-09-14 01:58] wolfstudy commented on #7682
Hello @fracasula , can you provide more content for `Golang deadlock`?

[2020-09-14 02:16] wolfstudy commented on #6496
@wonko Can you try to use [native go client](https://github.com/apache/pulsar-client-go)? It is basically consistent with the interface of cgo client. We have fixed this problem in native go client.

[2020-09-14 02:21] jiazhai commented on #8050
Thanks @Technoboy- for the help

[2020-09-14 07:45] sijie commented on #7829
Closed this issue since the presto version has been upgraded to the latest version.

[2020-09-14 07:45] #7829 closed

[2020-09-14 09:32] racorn opened #8056 "proxy SNI routing: must target hostnames be resolvable to the client?"
I tried to set up proxy SNI routing with HAProxy - in a reverse proxy configuration, using the features added for PIP-60. The Pulsar cluster behind HAProxy had hostnames that were only resolvable locally in the datacenter where the HAProxy and Pulsar brokers were deployed.

The client failed with an `UnknownHostExeception `that could be traced to the following lines in the `ConnectionPool `class:

[2020-09-14 11:35] lhotari commented on #7796
@aloyszhang  I checked the PR #7848 . It looks like the fix wouldn't help in my case. In my case, it's not about the seek time, but there are some race conditions that happen because of the behavior that the broker disconnects the consumer after a seek (a reset). Please check my comments in https://github.com/apache/pulsar/pull/5278#issuecomment-691994440 .

[2020-09-14 11:57] aloyszhang commented on #7796
@lhotari  I have made some modify and the push again.

[2020-09-14 12:16] lhotari commented on #7796
@aloyszhang Looks promising. Good work.

Would it be possible to add test cases with ordinary message id seeks? For example a test case where there would be a fixed number of messages in a topic (for example just 3 message). When publishing the messages to the topic, their respective MessageIds could be stored. The test would then do a given number of reads (for example 100 times) where it first u

[2020-09-14 17:46] lzhpo commented on #8040
I also encountered the same problem using LocalRunner.

[2020-09-14 17:55] david-streamlio commented on #8040
This is fixed in PR https://github.com/apache/pulsar/pull/8042 .....please upvote if you need this fix.

[2020-09-14 18:55] klwilson227 opened #8060 "CVE-2019-17638 jetty server"
**Describe the bug**
The jetty server used has a CVE against it.
https://nvd.nist.gov/vuln/detail/CVE-2019-17638

Issue path: /pulsar/lib/org.eclipse.jetty-jetty-server-9.4.29.v20200521.jar:jetty-server _nl_ No additional information provided by the scanner.

Reference Info:
https://github.com/advisories/GHSA-x3rh-m7vp-35f2

Severity Rating: 9.4 critical.

Currently bundled
Run CVE STAT scan again

[2020-09-14 19:02] klwilson227 opened #8061 "CVE-2017-14063"
**Describe the bug**
Issue path: /pulsar/lib/presto/lib/async-http-client-1.9.40.jar _nl_ Async Http Client (aka async-http-client) before 2.0.35 can be tricked into connecting to a host different from the one extracted by java.net.URI if a "?" character occurs in a fragment identifier. Similar bugs were previously identified in cURL (CVE-2016-8624) and Oracle Java 8 java.net.URL.

Reference Info:

[2020-09-14 19:27] rdhabalia commented on #8056
@racorn

In SNI-reverse-Proxy, pulsar-client always connects to the proxy-host and passes the pulsar-url as part of SNI header without trying to resolve pulsar broker hosts. Proxy-host which supports SNI-routing , gets the target broker-service-url from SNI and creates proxy between pulsar-client and pulsar-server. Therefore, Pulsar client can only resolve proxy host and client can't resolve any b

[2020-09-14 20:49] racorn commented on #8056
Hi Rajan,The behavior you describe is what I thought was expected. But, the method createConnection is invoked with the broker host, then invokes connectToResolvedAddresses which in turn invokes connectToAddress where the broker address is set as the SNI host and the proxy URL host is connected to instead.I suggest that in createConnection InetAddress.getByName is replaced with the parameter 'unre

[2020-09-14 21:15] rdhabalia commented on #8056
yes, client should avoid resolving the broker address and pass it in SNI header.

[2020-09-14 22:20] racorn commented on #8056
@rdhabalia
Sorry for the confusion, I will try to clear things up.

The code below is `ConnectionPool.createConnection`:
[code]

The `unresolvedAddress` argument is the broker host (broker service url). As you can see, if SNI routing is used, the `unresolvedAddress `(broker host) is resolved with `InetAddress.getByName`. If the broker host is not resolvable, the method fails with an `UnknownHostEx

[2020-09-14 22:25] rdhabalia commented on #8056
@racorn I have created a PR with the fix: https://github.com/apache/pulsar/pull/8062
can you please take a look and see if that will fix your issue.

[2020-09-14 22:30] neapolis123 opened #8063 "Questions about Registering Schema"
#### Expected behavior

Tell us what should happen

#### Actual behavior

Tell us what happens instead

#### Steps to reproduce

How can we reproduce the issue

#### System configuration
**Pulsar version**: x.y

[2020-09-14 23:23] racorn commented on #8056
@rdhabalia Thank you very much! I think the refactoring improved the code in several ways and is easier to read as well.

As a side note: Would there be any concurrency issues to worry about with the use of `channelInitializerHandler.setSniHostName/setSniHostPort`? I do not know Pulsar very well, but if the ConnectionPool is used by multiple threads, and one thread tries to connect to broker-a at

[2020-09-15 02:10] sijie commented on #8063
If the schema is incompatible, creating a producer should fail. Did you see any problems?

[2020-09-15 14:29] fracasula commented on #7682
https://github.com/apache/pulsar-client-go/pull/366

[2020-09-15 15:02] alexku7 commented on #7682
Hi @fracasula

is this issue affecting the Go client only or other clients as well ?

Also, make sure that you are not affected by this issue https://github.com/apache/pulsar/pull/8024 which was introduced in 2.6.0

[2020-09-15 15:16] fracasula commented on #7682
Hi @alexku7,

if you run the test I posted and set up a few breakpoints you'll realize that this is a Golang library issue. I tried with Python multiple times and it never got deadlocked while acking.

I'm running on the image provided by @codelipenghui. How do I make sure that I'm not affected by that issue you're mentioning? Also, how is that related to a client deadlock? Are you referring to th

[2020-09-15 15:26] alexku7 commented on #7682
Hi @fracasula
Honestly, i didn't run the tests. Just would like to ensure that the our java client is not affected :)

Regarding to the https://github.com/apache/pulsar/pull/8024, i mentioned it because you are describing very similar symptoms that we have suffered from a lot. The same symptom of stuck consumer with Key_shared subscription that most likely is not resolved by a consumer restart.  S

[2020-09-15 15:38] fracasula commented on #7682
:+1:

I'm running on this one: https://hub.docker.com/layers/streamnative/pulsar-all/2.6.1-sn-hotfix-2/images/sha256-2429d29d86e8eac252d055ed10541353f3f89d9569512048bebea0b35eb71d01?context=explore

Can you please provide the latest with the hotfix (additional logs for the NPE) to see if I can replicate the "silent broker" issue with it?

[2020-09-15 17:25] evfurman opened #8069 "Consumption Stops When Losing a Bookie."
**Describe the bug**
Consumers stop consuming when bookie service is stopped.

Slack thread: https://apache-pulsar.slack.com/archives/C5Z4T36F7/p1600113955395000

We have a 4 node bookie cluster utilizing rack awareness, running version `2.6.1.` While testing failure scenarios we stopped the `pulsar-bookie` service on one of the nodes. In the Pulsar Manager consumption throughput dropped to zero a

[2020-09-15 20:11] neapolis123 commented on #8063
I am writing my thesis about Pulsar and a part of it is to model producers and consumers as state machines. When the reading the code I couldn't figure out what state the producer assumes when going from Ready to RegisteringSchema and then the registering fails. Can you please refer to where in the source code is the state changed to "Failed" when the function tryRegisteringSchema catches an Incom

[2020-09-15 22:31] mwmitchell commented on #6484
Just ran into this issue too. Is there a work around?

[2020-09-16 01:54] sijie commented on #8069
@jiazhai Can you check the broker logs?

[2020-09-16 01:55] sijie commented on #8069
@evfurman what type of subscription are you using?

[2020-09-16 04:47] gaoran10 opened #8070 "Transaction flaky test caused by TB client topic lookup failed"
**Describe the bug**

This is a ci block issue, we could ignore the failed transaction tests caused by TB client topic lookup first and fix it.

related PR #7517

[2020-09-16 08:16] codelipenghui commented on #7682
@fracasula 2.6.1-sn-3 is based on the 2.6.1-sn-hotfix-2, and 2.6.1-sn-3 has fixed another issue #8024, so if you met the issue that #8024 fixed, you can upgrade to 2.6.1-sn-3

[2020-09-16 08:29] zymap commented on #7824
@SergeyYakubov @cuzyoucant Have you guys resolve this problem in your environment?
If you are not, I think you need to configure the `forwardAuthorizationCredentials` in the proxy, and you should enable the `authenticateOriginalAuthData` in the broker configuration.

I will add the description in the document later.

[2020-09-16 10:20] lhotari commented on #6484
One workaround is to use the unshaded version of pulsar-client-admin . The dependency is [pulsar-client-admin-original](https://search.maven.org/artifact/org.apache.pulsar/pulsar-client-admin-original) . A similar unshaded dependency for pulsar-client is called [pulsar-client-original](https://search.maven.org/artifact/org.apache.pulsar/pulsar-client-original).

[2020-09-16 13:39] #7927 closed

[2020-09-16 13:47] frankjkelly commented on #7927
Awesome thank you @jiazhai @zymap and @sijie I am excited to try this out in 2.7.0

[2020-09-16 13:51] cuzyoucant commented on #7824
@zymap That fixed the problem for me! `authenticateOriginalAuthData` was missing in the broker conf. Thank you very much!

[2020-09-16 21:59] evfurman commented on #8069
`Key_Shared`

We're using the pulsar-perf with the following arguments:

`/pulsar/bin/pulsar-perf consume persistent://public/default/mp-explicit-partitioned --subscriber-name mp-pulsar-consumer -t 8 -st Key_Shared -u pulsar://pulsar.qa.corp.mparticle.com:6650`

[2020-09-17 00:59] #5399 closed

[2020-09-17 02:48] sijie commented on #8069
@evfurman If you are using Key_Shared, you might be impacted by https://github.com/apache/pulsar/pull/8024

You can try the hotfix:

https://github.com/streamnative/pulsar/releases/tag/v2.6.1-sn-3

See discussions on https://github.com/apache/pulsar/issues/7682#issuecomment-693251109

[2020-09-17 04:59] Technoboy- commented on #8063
ClientCnx#sendGetOrCreateSchema will send the request to broker.
ClientCnx#handleGetOrCreateSchemaResponse will handle the response.

[2020-09-17 05:04] jiangmincong opened #8077 "ERROR org.apache.bookkeeper.replication.ReplicationWorker - UnavailableException while replicating fragments"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the

[2020-09-17 06:56] k2la commented on #8030
Is the behavior decided when Replicated Subscriptions is OFF ?
I think the behavior is as the following in the case:
- Brokers send `NotAllowedException` to consumers that subscribe with replicated subccription.
- Replicators don't send marker messages and deal with them.

I will try to implement the above behavior by the following ways.
Please let me know if there are any problems.

#### Brokers

[2020-09-17 07:45] bin-albin opened #8078 "pulsar process shutdown , cpu useed load high"
**Describe the bug**
We monitored pulsar process shutdown and saw high CPU utilization. The specific log information before the outage is as follows.
[code]
pulsar node cpu load:

![pulsar cpu](https://user-images.githubusercontent.com/13760768/93435500-2128f200-f8fc-11ea-9205-32d79388383f.jpg)

pulsar log info
The process stopped at about 9:54 this morning

[pulsar-broker-klog-broker-prod-3.ksyun

[2020-09-17 08:30] neapolis123 commented on #8063
So what does ProducerImpl#tryRegistringSchema does ?

[2020-09-17 08:35] fracasula commented on #7682
Hi guys, about the Golang deadlock, I'm able to replicate it with the latest image too (i.e. `streamnative/pulsar-all:2.6.1-sn-3`). It still shows that the client is stucks acking but it may not just be a client issue like suggested by @alexku7. By further developing my test I was able to overlap the logs of client and server and I can say that I consistenly get this on the server side each time t

[2020-09-17 09:00] bin-albin commented on #8078
After the first pulsar node-1 stopped, CPU utilization of the remaining two pulsar nodes began to increase.

This cluster has a three-node, with 20 tenants and 80 namespaces 200+topic. The back end use flink on Pulsar Consumer to write to ES.

The machine is configured as 16C64G2T

[2020-09-17 09:55] Technoboy- commented on #8078
Task a look at the relative code and find that should be used if check to avoid throw NPE?
[code]
![image](https://user-images.githubusercontent.com/6297296/93455383-de244a00-f90e-11ea-9cb2-032cf60fdb93.png)
@sijie @jiazhai

[2020-09-17 10:07] Technoboy- opened #8079 "Use if to avoid throwing NPE"
![image](https://user-images.githubusercontent.com/6297296/93456611-82f35700-f910-11ea-9bab-38fd43d2144c.png)
For above marked place, we should use if to check NPE to avoid throwing NPE.
[code]

[2020-09-17 12:34] cuzyoucant commented on #7695
@codelipenghui @giacomo-porro I ran into the same issue today. Could anyone do a PR? Or is this issue fixed somewhere else and i made a different mistake?

[2020-09-17 13:07] sollecitom commented on #7265
Any progress on this? It's a massive blocker for us.

[2020-09-17 14:15] giacomo-porro commented on #7695
@cuzyoucant Hi, sorry I didn't really have the chance to work on it since I came back from vacation...for now I am living with the workaround I implemented this summer, basically I created a class that inherits from the Record class and I have overwritten the schema method with the correct logic inside

[2020-09-17 21:57] enriched commented on #7675
@Shenfeng1011 is this fixed for you now? I am trying to run the presto connector with offloading enabled and appear to be getting the same exception:
[code]

I do have a slightly different setup though. I am installing presto using [prestosql v332 tarball](https://repo1.maven.org/maven2/io/prestosql/presto-server/332/presto-server-332.tar.gz) and then installing the [pulsar-presto-connector tarbal

[2020-09-18 00:24] Shenfeng1011 commented on #7675
this issue is resolved in 2.6.1  but i have not verified .you can have a try  ,

[2020-09-18 03:13] dreamcatchernick opened #8083 "using CLI consume topic from the beginning behavior is not correct"
Hi
i am using CLI to consume a topic which already has 100 messages. See the screenshot below
<img width="1721" alt="image" src="https://user-images.githubusercontent.com/8153668/93550995-4d497f00-f99f-11ea-9cfb-fc37e34d371c.png">

given the parameter -p, --subscription-position Earliest. i expect the consumer will consume topic from the beginning. However the output config shows subscriptionIniti

[2020-09-18 05:16] BewareMyPower commented on #8083
It's fixed by [#7795](https://github.com/apache/pulsar/pull/7795).

[2020-09-18 09:16] tabalt opened #8084 "Bookkeeper triggered exception IndexOutOfBoundsException when consumer use Key_Shared and producer enableBatching/set compressionType"
**Describe the bug**

Bookkeeper triggered exception IndexOutOfBoundsException when consumer use Key_Shared and producer enable Batching/set compressionType

[code]

**To Reproduce**

[code]

**Desktop (please complete the following information):**
 - OS:  MacOS

[2020-09-18 18:42] YArane opened #8089 "Jersey library conflict in Pulsar Functions"
**Describe the bug**
Making a call to the Pulsar Admin API from a Pulsar Function throws a `java.lang.IllegalStateException: InjectionManagerFactory not found` exception.

**To Reproduce**
1. Run pulsar standalone 2.6.1
2. Deploy a Function which creates a PulsarAdmin object and make any call using the api
Example:
[code]

**Expected behavior**
Call to PulsarAdmin is successful

**Error thrown**
[

[2020-09-19 10:55] gohmc commented on #6264
pulsar-metadata.yml:

Instead of hardcode each node; use swarm service name (note changes to pulsar-brokers.yml below):

--web-service-url http://broker:8080
--broker-service-url pulsar://broker:6650

pulsar-bookies.yml:

Instead of repeating bookie, use replicas instead

**bookie**:
    image: apachepulsar/pulsar
    command: >
      /bin/bash -c
      "bin/apply-config-from-env.py conf/bookkeepe

[2020-09-19 16:51] alexku7 opened #8091 "Enable authentication for presto sql"
Hello

We try to enable password or/and certificate authentication againt the presto SQL

It seems to be supported by presto sql community for example like this https://prestosql.io/docs/current/security/password-file.html

When we tries to implmenet this kind of authentication we encountered with the error restoServer	Password authenticator  is not registered

After some help from the presto guys

[2020-09-20 08:56] iitsoftware commented on #6982
The issue still exists in 2.6.1. There seems also a memory leak. When I stop/start a Pulsar consumer, it consumes 100 MB without releasing it.

[2020-09-21 02:23] sijie commented on #8091
@alexku7 Are you interested in contributing this feature?

[2020-09-21 02:28] sijie commented on #8084
@tabalt This issue has been fixed by #7416 and released as part of 2.6.1 release. Which version of Pulsar broker are you using?

[2020-09-21 02:30] sijie commented on #8083
Closed this issue since it is fixed by #7795

[2020-09-21 02:30] #8083 closed

[2020-09-21 03:16] wangjialing218 opened #8092 "brokerServiceUrl do not support mutli hosts in ipv6 environment"
**Describe the bug**
Set `brokerServiceUrl` in client.conf with mutli ipv6 host address like `pulsar://[fec0:0:0:ffff::1]:6650,[fec0:0:0:ffff::2]:6650`, when client connect to brokers it got such exception:
`java.lang.IllegalArgumentException: Illegal character in port number at index 32: pulsar://[fec0:0:0:ffff::1]:6650,[fec0:0:0:ffff::2]:6650
at java.net.URI.create(URI.java:852) ~[na:1.8.0_131]`

[2020-09-21 10:13] alexku7 commented on #8091
Hello @sijie . I have some concerns about it :( .
I am a devops. I have been implementing the pulsar as part of our infrastructure. I am not sure that my programming skill are good enough for contributing although i have fixed few grafana dashboards and pushed it to your repo :)

[2020-09-21 11:06] 4onni opened #8093 "Client hangs forever when broker restarts"
**Describe the bug**
Client hangs forever when all brokers stop and then restart.

- After all brokers get shutdown and restarted, some running clients might get stuck in the `lookup -> timeout -> lookup` loop:
[code]

- lookup request hangs on broker as well:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. When running, shutdown all the brokers
2. Start them
3. A set of clients hangs

[2020-09-21 14:56] sijie commented on #8091
@alexku7 Gotcha! We will take a look at this part.

[2020-09-21 16:29] umialpha opened #8095 "Add a server-tracked Delayed re-delivery method, rather than client-side re-consume logic"
**Is your feature request related to a problem? Please describe.**
## Scenarios
When the consumer gets a message, it selects one of its workers to process. It needs to do the following work.

1. It needs to tell Pulsar to **redeliver the message after a timeout.**
2. If the worker finishes the work within the timeout. It tell Pulsar to **Ack the message and do not redeliver the message.**
3. If th

[2020-09-21 19:24] devinbost commented on #6448
Hi @liudezhi2098 , thanks for your work on this. I'm trying to understand how I'd advise users regarding how to implement this feature.
The docs provide this example:

https://pulsar.apache.org/docs/en/concepts-messaging/#retry-letter-topic

Consumer<byte[]> consumer = pulsarClient.newConsumer(Schema.BYTES)
                .topic(topic)
                .subscriptionName("my-subscription")

[2020-09-21 20:43] alexku7 commented on #8084
@tabalt  @sijie
I am prety sure that this is the same issue like this https://github.com/apache/pulsar/pull/8024 (our issue:) )
it has been fixed but not still released.

@sijie  I think this bug so much severe that it worth to release 2.6.2 version and to wait for 2.7 :) for you consideration

[2020-09-21 20:46] sijie commented on #8084
@alexku7 the issue has been labeled for 2.6.2 release. We will kick off the 2.6.2 release in this week or so.

[2020-09-21 23:12] #7959 closed

[2020-09-21 23:21] sijie opened #8096 "Failing to create a producer/consumer for function worker should not fail broker"
*Motivation*

When running a function worker as part of broker, when the function worker failed to create a producer/consumer, it throws runtime exception to fail the broker. This usually causes a broker restarting multiple times before it actually starts to serve the traffic when running function worker as part of the broker.

[2020-09-21 23:52] #8050 closed

[2020-09-22 01:53] codelipenghui commented on #8095
I think you can take a look at [PIP-58](https://github.com/apache/pulsar/wiki/PIP-58-%3A-Support-Consumers--Set-Custom-Retry-Delay) and it already released at 2.6.0.

[2020-09-22 02:07] codelipenghui commented on #8092
Are you interested in pushing a PR for fixing this issue?

[2020-09-22 02:47] wangjialing218 commented on #8092
I will work on fixing this issue.

[2020-09-22 02:48] codelipenghui commented on #8092
Great, thanks @wangjialing218

[2020-09-22 03:46] umialpha commented on #8095
Hi @codelipenghui , thanks for your reply. I have tried ReconsumeLater feature, but it does not meet our requirements, like I said in my original post,

We use Pulsar ReCosume logic, but still cannot meet our requirement because every time we ReCosume a message, it actually generate a new message, when the worker finishes/fails the original message, it has no info about the new message.
We could d

[2020-09-22 03:56] sijie commented on #3115
@frankjkelly Which pulsar client are you using?

[2020-09-22 04:09] sijie commented on #7728
Discussed with @BewareMyPower, we might need to improve the documentation.

[2020-09-22 04:46] zymap commented on #8060
Hi @klwilson227 , It seems already addressed by the PR #8035 according to https://www.eclipse.org/jetty/security-reports.html

[2020-09-22 11:54] tabalt commented on #8084
@sijie  I tried the 2.6.1 release, the exception not reproduce,  thanks very much!

[2020-09-22 11:54] #8084 closed

[2020-09-22 13:05] frankjkelly commented on #3115
@sijie I am using 2.6.1 Client with 2.6.1 Server

When I use the code as follows
[code]
I get the error
[code]

but this code works fine
[code]

Thanks!

[2020-09-22 14:52] sijie commented on #3115
@frankjkelly I see. So it is related to extracting the schema information using the AVRO library. We will take a look and circle back.

[2020-09-22 18:51] devinbost commented on #6448
I found some examples in your unit tests. It would be good to also update the docs to reflect this.

[2020-09-23 01:08] codelipenghui commented on #6869
@lhotari Sorry, I missed your last comment. We will try to fix it on 2.6.2.

[2020-09-23 03:52] tabalt opened #8109 "Pulsar client output the auth info may reveal sensitive information"
**Is your enhancement request related to a problem? Please describe.**

Pulsar client output the auth info may reveal sensitive information

**Describe the solution you'd like**

Remove auth information from log

**Additional context**
INFO o.a.p.c.i.ProducerStatsRecorderImpl:102 - Pulsar client config: {
  "serviceUrl" : "pulsar://127.0.0.1:6650",
  "authPluginClassName" : "org.apache.pulsar.clie

[2020-09-23 07:24] #6709 closed

[2020-09-23 07:26] #4980 closed

[2020-09-23 08:39] congbobo184 commented on #3115
@frankjkelly I think, because you use generic type T, so use can't provide the specific type. we can't generate avro schema according to the json schema  information.

[2020-09-23 09:20] alexku7 opened #8115 "Some partitions get stuck after adding additional consumers to the KEY_SHARED subscriptions"
Hello
We experience the consumers stuck under very strange conditions. It’s still hard to catch . It always happens with KEY_SHARED subscriptions  with multiple consumers.
What we figured out that the trigger for the problem is the adding additional consumers. It can be occurred as part of upgrade ( for example the new upgraded consumers being added and after this the old consumers being removed f

[2020-09-23 10:15] zymap commented on #8009
Hi @codelipenghui, could you please provide the create function command and the detail of the error message?

[2020-09-23 11:00] zymap commented on #7673
Maybe we can given a default vault when there no values for the struct messages.

[2020-09-23 11:01] zymap commented on #7669
We can close it because it has been fixed.

[2020-09-23 11:02] zymap commented on #7669
@codelipenghui

[2020-09-23 11:35] zymap commented on #7504
which version of pulsar? I am not see any request for the NamespaceIsolationPolicies. Could you please provide more information?

[2020-09-23 13:00] frankjkelly commented on #3115
Yes - as per @jerrypeng comment above
"Parameterized/generics in Java are currently not support for schema generation in Avro. Though there is discussion and a PR to add that:

https://issues.apache.org/jira/browse/AVRO-2248

apache/avro#356

Though not sure if that is ever going to get merged in."

So it appears it's up to the folks on the Avro side?

[2020-09-23 13:15] bin-albin commented on #8078
This is a screenshot of the high occupancy of those classes when there was a problem

![image](https://user-images.githubusercontent.com/13760768/94016891-4d071480-fde1-11ea-99d0-d53a33c2461f.png)
![image](https://user-images.githubusercontent.com/13760768/94016994-6f009700-fde1-11ea-859c-c78d1ecc7f1f.png)

[2020-09-23 15:40] sijie commented on #3115
@frankjkelly Yeah, currently it is blocked by apache/avro#356. I would encourage people to leave a comment in the avro issue and pull request to see if AVRO community can accelerate the process on adopting that change.

[2020-09-23 15:41] frankjkelly commented on #3115
Thank you - will do!

[2020-09-23 15:43] sijie commented on #6886
Close this issue based on the last comment.

[2020-09-23 15:43] #6886 closed

[2020-09-23 16:00] jianyun8023 commented on #8009
I have reproduced the problem and I am solving it.

[2020-09-23 16:22] jianyun8023 commented on #8009
The root of this problem is that PulsarAdmin does not support multiple multiple service url address.
I think the solution to this problem is to **add validation of the `serviceHttpUrl` parameter**.
@sijie @codelipenghui @zymap Everyone, do you think how to solve this problem is better?

for example:
[code]

[2020-09-23 23:58] lukestephenson commented on #6995
Just came across https://streamnative.io/blog/tech/2020-07-08-pulsar-vs-kafka-part-1#topic-log-compaction:~:text=Topic%20(Log)%20Compaction which when I read it makes it sound like this is already supported.

However, this appears to conflict with what is stated in the pulsar docs:
https://pulsar.apache.org/docs/en/concepts-topic-compaction/#__docusaurus:~:text=respect%20retention

[2020-09-24 00:52] xuesongxs commented on #7504
pulsar 2.5.2

[2020-09-24 02:28] zymap commented on #7673
@hangc0276 will handle this issue.

[2020-09-24 02:30] zymap commented on #7657
@hangc0276 will handle this issue

[2020-09-24 02:35] hangc0276 commented on #7838
@toneill818 you can try to set `pulsar.log.root.level` in pulsar-env.sh, and it will override the `log4j.yml` default configuration.

[2020-09-24 02:39] zymap commented on #7441
@hangc0276 will handle this issue.

[2020-09-24 03:11] codelipenghui opened #8121 "Fix the flaky test testRemoveSubscribeRate"
**Describe the bug**
`testRemoveSubscribeRate` in the TopicPolicyTest is a flaky test when run all tests under the TopicPolicyTest. But only run `testRemoveSubscribeRate`.

So in #8114 ignore the `testRemoveSubscribeRate` to make sure other PRs does not block here.

[2020-09-24 03:49] gaoran10 commented on #7407
Sorry, late response.

1. `producer.newMessage().key("1").send()`

Currently, if we send messages as above the message payload is `ByteBuffer.allocate(0)`, thus if the topic with schema the decoder can't decode an empty byte array, this will cause java.io.EOFException as below.

[code]

2. `producer.newMessage().key("1").value(null).send()`

If we specify the value is null, the messageMetaData wil

[2020-09-24 07:04] #8093 closed

[2020-09-24 08:32] lsroudi opened #8123 "can't run pulsar on MAC"
**Describe the bug**
the configuration is :

3 VMS for bookie and broker
3 VMS for zookeeper
**To Reproduce**

I use this playbook ( https://github.com/lsroudi/ansible-apache-pulsar/blob/master/tasks/main.yml ) to deploy pulsar
Step 1. as you can see on the playbook i use the archive pulsar to deploy the cluster

the configuration of my /etc/hosts is :

[code]
the configuration of zookeeper.conf i

[2020-09-24 09:12] futeng opened #8124 "Failed to add producer to topic（C language Client）"
**Describe the bug**
Same issue like https://github.com/apache/pulsar/issues/5535, but in C language Client.
Also see the track issue: https://github.com/apache/pulsar/issues/5606

broker log

[code]

**To Reproduce**

Server versions：
- JDK: 1.8.0_192
- Apache Pulsar: 2.5.0
- Zookeeper：3.6.1

Client ：

[code]

[2020-09-24 09:27] #3769 closed

[2020-09-24 09:29] #5005 closed

[2020-09-24 11:37] toneill818 commented on #7838
@hangc0276 I am running this in Kubernetes. I will see if the helm chart has a way to edit values inside of the pulsar-env.sh or try and add it if there isn't a way.

[2020-09-24 11:59] gvolpe commented on #7859
:+1: to using JDK 11

We have run into some issues due to Pulsar using JDK 8 (quite old these days) and we are now considering creating our own Docker image for Pulsar instead.

We have some Pulsar functions being compiled with JDK 11 but they need to run on JDK 8 and there are a lot of incompatibilities.

[2020-09-24 12:17] nosradom opened #8126 "PIP python 2.7 fastavro dependency bug"
fastavro is a required dependency for the pulsar-client.

The newest fastavro version (1.0.0.post1) does not support python 2.7
https://pypi.org/project/fastavro/#description

If pip install pulsar-client on a clean machine it tries to install the latest fastavro version and fails.

A workaround is to pip install fastavro==0.24.2 before running pip install pulsar-client
However, I was unable to fi

[2020-09-24 13:57] zymap commented on #7814
@jianyun8023 will handle this issue.

[2020-09-24 15:54] scottbelden commented on #8126
`fastavro` should now gracefully handle this, but I think your pip cache still has `fastavro==1.0.0` (based on the `Using cached` line) which is the problematic release.

If you try to install with `--no-cache` does it install the `0.24.2` version?

[2020-09-24 16:01] nosradom commented on #8126
No still have the same error. Below is the dockerfile that I used

FROM ros:melodic-ros-base

RUN apt-get update

RUN apt-get --assume-yes install python-pip
#RUN pip install fastavro==0.24.2
RUN pip install pulsar-client --no-cache

Output:
Step 4/4 : RUN pip install pulsar-client --no-cache
 ---> Running in 2165355095c6
Collecting pulsar-client
  Retrying (Retry(total=4, connect=None, read=None,

[2020-09-24 17:25] racorn opened #8128 "[cpp-tests] CI test BatchMessageTest.testIndividualAck is unstable and fails frequently on many PRs"
**Describe the bug**
As title says. I think I had to ask `pulsarbot` to `run-failure-checks` four times before cpp-tests succeeded. I see that the checks for many other unrelated PRs fail in the same manner:

**Sample log**
[code]

[2020-09-24 17:54] scottbelden commented on #8126
The version of pip installed is `9.0.1` which is pretty old and doesn't have some of the features needed. If that is upgrade it works. For example:

[code]

[2020-09-24 18:03] nosradom commented on #8126
That works. Good information to know.

[2020-09-24 23:01] vicaya commented on #3804
Is there any progress on this issue? Whenever people ask me about why we don't use tiered storage, I have to point them to this issue for why it's too slow for us (readers cannot read fast enough from tiered storage and backlogs would build up even at moderate throughput (<1000msgs/s with small messages (<100 bytes), which is <100KB/s).

[2020-09-25 02:26] gaoran10 commented on #8123
Maybe you could use the command `bin/bookkeeper shell listbookies -a` to check all bookies state, and take a look at logs of bookies to find more information.

[2020-09-25 02:50] zymap commented on #7824
If there no other issues I will close this issue and feel free to open it if you have questions.

[2020-09-25 03:13] #8061 closed

[2020-09-25 04:43] BewareMyPower commented on #8128
Maybe it's because that `gtest-parallel` runs tests using multiple threads. In `BatchMessageTest.cc`, `globalTestBatchMessagesCounter` is a global variable that's updated in `sendCallback`, while `sendCallBack` is used my multiple test suites.

Many tests in `BatchMessageTest` is too old, at that time the cpp client's standard is 98/03. I think the message count and send callback should be replace

[2020-09-25 04:58] BewareMyPower opened #8130 "[doc] BookKeeper metadata service url should be documented when init metadata"
[#7196](https://github.com/apache/pulsar/pull/7196) introduced a command argument `bookkeeper-metadata-service-uri` to specify an existed BookKeeper metadata service uri so that a new broker cluster could reuse the existed ZooKeeper node to store bookies' metadata.

It should be documented like other arguments, e.g. see the table in https://pulsar.apache.org/docs/en/deploy-bare-metal/#initialize-c

[2020-09-25 05:46] murong00 commented on #8130
@BewareMyPower Thanks for pointing this out, I will refine this later when available.

[2020-09-25 08:24] umialpha opened #8131 "What will happen if pulsar-proxy crashes."
Hi, I want some clarification about the crash of pulsar-proxy.

Will the messages that unacknowledged  be redelivered immediately?( e.g. shared subscription).

If the answer is yes. I think it needs to be clarified in the official doc because users may be get confused when different consumers get the same message without any client's disconnection.

[2020-09-25 10:18] lsroudi commented on #8123
Thank you @gaoran10, I run it and i got the same output as bellow:

[code]

really i have no idea why i'm facing this issue

[2020-09-25 10:47] BewareMyPower opened #8134 "[WIP][pulsar-admin-tools] Support delete all data associated with a cluster"
This issue is related to #8133

- [x] #8244 Add a integration test for deleting cluster's all data and metadata
- [x] #8167 #8258  Delete the schema ledgers, see #8136
- [x] #8244  Delete cluster's all data and metadata when broker is not alive.

[2020-09-25 10:52] BewareMyPower opened #8135 "[python-client] Support key based batching"
**Is your feature request related to a problem? Please describe.**
Now the C++ client support key based batching from #7996, the `BatchingType` should be exposed to the Python wrapper to support key based batching for Python client.

**Describe the solution you'd like**
Expose the `ProducerConfiguration::BatchingType` and related setter/getter to Python client.

[2020-09-25 11:14] BewareMyPower opened #8136 "Question about deleting a topic's schema"
Currently a schema could be deleted by REST API:

[code]

However, the implementation is:

[code]

I'm not familiar with schema and wonder if it's necessary to create a new ledger instead of delete the current ledger. (for performance or compatibility?)

And `SchemaStorage#delete` is never called. Anyway, I though there should be a way to delete the schema storage from client side.

In addition, t

[2020-09-25 15:16] lhotari opened #8138 "[Pulsar Java Client] Reader API usage with a lot of shortly used Reader instances (created-used-closed) under heavy load causes the client's memory consumption to grow until there is an OOM"
## Description

There's a memory leak in the Pulsar Java Client that happens under high load. This happens in the case of using Reader API with a lot of shortly used Reader instances (instances created-used-closed, with async api) and when the Pulsar server side (brokers/bookies) is under heavy load and doesn't respond to all requests because of an overloaded situation.

The symptom is that the he

[2020-09-25 15:41] lhotari commented on #5896
Just in case anyone else is interested in high memory consumption issues,
I filed an issue where there is an OOM with many consumers that are originating from Reader API usage, that is #8138 . It is a case since there the Readers are closed after usage, but the related consumer instances don't get GCd.
When I was looking for related issues I also found #7680 . That might be directly related to thi

[2020-09-25 19:59] eolivelli commented on #3804
@nicoloboschi you could be interested in working on a fix for this issue if @MarvinCai doesn't have time to work on this topic

[2020-09-25 20:02] lhotari commented on #7304
#8138 might be related. Please check since it's also about lastmessageid requests.

[2020-09-25 20:05] lhotari commented on #6829
This might be related to #8138.

[2020-09-26 03:43] RobDickinson commented on #7076
@sijie I'd pay a cash bounty for a solution -- doesn't need to be full documentation, but just pointing us in the right direction.  We've been trying to figure this out and would really appreciate your help!  And we'd be happy to contribute this back as a pull request to the docs as well.

Anybody else on this thread -- same offer applies, happy to pay you for your time if you can share the answer

[2020-09-26 16:01] BewareMyPower commented on #8128
It's a little weird that the `testIndividualAck` never failed in my local test environment with `gtest-parallel`. I suspect that the issue has something to do with the github actions.

[2020-09-27 03:20] gaoran10 commented on #8123
Sorry, late response, it seems that only one bookie started successfully, could you check the logs of the start failed bookie?

[2020-09-27 08:31] lsroudi commented on #8123
Thank you @gaoran10,ok this is the logs for the bookie sart failed :

[pulsar-bookie-broker2.log-09-22-2020-1.log](https://github.com/apache/pulsar/files/5287935/pulsar-bookie-broker2.log-09-22-2020-1.log)
[pulsar-bookie-broker2.log-09-24-2020-1.log](https://github.com/apache/pulsar/files/5287936/pulsar-bookie-broker2.log-09-24-2020-1.log)
[pulsar-bookie-broker2.log-09-25-2020-1.log](https://githu

[2020-09-27 09:09] #8128 closed

[2020-09-27 13:57] sijie commented on #7076
@RobDickinson I replied in the email.

for ExplicitLac to work, you need to configure the following settings in bookies:

journalFormatVersionToWrite=6
fileInfoFormatVersionToWrite=1

and then turn on the explicit lac interval on broker.

bookkeeperExplicitLacIntervalInMills=1000

[2020-09-27 17:02] gaoran10 commented on #8123
You could shutdown all bookies and try to initialize the zookeeper again, refer to [DOC](http://pulsar.apache.org/docs/en/deploy-bare-metal/#initialize-cluster-metadata), then start one bookie use the command bin/pulsar bookie check the logs.

Or delete all data in VM, try to deploy a new cluster in manual.

@jiazhai @codelipenghui Hi, is there any suggestions about this problem?

[2020-09-27 19:43] lsroudi commented on #8123
Really thank you @gaoran10 for your help and reactivity, i try all point you suggest with the same result, only one bookie started, i deploy the cluster multiple time as i use ansible and vagrant, but still facing this issue

[2020-09-28 02:17] jiazhai commented on #8138
@lhotari Thanks a lot for the detailed reported issue. Seems you has already root caused this issue. Would you like to provide a Pr to fix this.

[2020-09-28 02:25] jiazhai commented on #8136
@BewareMyPower Seems you have already synced with @codelipenghui, Would you please help post the decision of how to handle this? Since you are working on this, would like to assign it to you.

[2020-09-28 02:35] BewareMyPower commented on #8136
@jiazhai Just as I've said, appending a ledger is more efficient so it's the default behavior of delete schema. However, when we want to delete the topic but not only delete the schema, we need to delete the ledger instead of creating a new ledger. So we need to add an option to *delete* the schema when delete a topic.

The current `deleteSchema` parameter of `deleteTopic` was not exposed, i.e. th

[2020-09-28 02:36] jiazhai commented on #8131
hi @umialpha The behavior "when different consumers get the same message without any client's disconnection" is not related with proxy.  it seems the default behavior for shared-sub. the unacked message get re-delivered once message-ack-timeout, and the target consumer may not be the same consumer that handled this message before.

[2020-09-28 02:40] jiazhai commented on #8126
Thanks @scottbelden and @nosradom  seems it get resolved, would like to close this issue.

[2020-09-28 02:40] #8126 closed

[2020-09-28 02:44] jiazhai commented on #8124
looks like same issue of #5535, we should port the client changes of https://github.com/apache/pulsar/pull/5571 from java to cpp client.
 @futeng Would you like to have a for this issue?

[2020-09-28 02:47] jiazhai commented on #8123
Thanks @gaoran10 for the help on this issue.

[2020-09-28 06:21] BewareMyPower commented on #7728
It looks like there's some wrong when broker handles subscribe request. Here's my test code:

[code]

The output:

[code]

- consumer:
  1. Create a `Consumer<byte[]>` to create a new topic and subscribe it;
  2. Check the schema: 404;
  3. Create a `Consumer<String>` to subscribe the same topic, **failed: Topic does not have schema to check**.
- producer:
  1. Create a `Producer<byte[]>` to creat

[2020-09-28 06:36] lhotari commented on #8138
I'll try to come up with a fix. I'm thinking of adding timeout handling also for the other type of requests (GetLastMessageIdRequests, GetTopicsRequests & GetSchemaRequests) that don't have timeout handling in ClientCnx class. Unifying the way timeouts are handled for requests is something I'm thinking of. Instead of adding new ways to handle timeouts, the existing requestTimeoutQueue can be exten

[2020-09-28 07:16] techzhou opened #8145 "consume acknowledged timestamp in subscription"
**Is your feature request related to a problem? Please describe.**
I want to know every message acknowledged timestamp with one subscription

**Describe the solution you'd like**
write to log
read from stats
anything
...

[2020-09-28 08:08] Syphixs opened #8146 "Producer Timeout if Schema exists"
**Describe the bug**
We use Kubernetes and require the new Oauth2 Authentification feature to work with our Services. So I started to build the new Image ( Commit: fecd8712e71202de5551897378c89b96e5d89219 ) and creating the container via the build script.
The pulsar broker is sitting behind a Pulsar Proxy and all Services have a TLS Connection. Authentication is enabled on the Proxy as well as the

[2020-09-28 08:25] Huanli-Meng commented on #7728
Confirmed with @BewareMyPower , he thoughts that it might be a code issue instead of a document issue. He will update the code and will ping @Huanli-Meng if the doc requires update.

[2020-09-28 10:02] bleacha870721 commented on #7076
@sijie i have tried this on pulsar 2.5.2：
for ExplicitLac to work, you need to configure the following settings in bookies:

journalFormatVersionToWrite=6
fileInfoFormatVersionToWrite=1

and then turn on the explicit lac interval on broker.

bookkeeperExplicitLacIntervalInMills=1000

But still cannot get latest message by pulsar sql.

[2020-09-28 10:20] aravindtga opened #8148 "Pulsar function logs are not available in docker container logs"
**Describe the bug**
Pulsar function(Process/Thread runtime) logs are not getting written into stdout, So these logs aren't available in the docker container logs

**Slack**: https://apache-pulsar.slack.com/archives/C5Z4T36F7/p1601029922015500

**To Reproduce**
Steps to reproduce the behaviour:
1. Run pulsar-all image as a docker container
2. Deploy pulsar function on that container using java API

[2020-09-28 11:06] lhotari commented on #8138
@jiazhai I have created PR #8149 to address the timeouts. Please review the PR.

[2020-09-28 11:46] zymap opened #8150 "Pulsar SQL stucks when execute `show catalogs;`"
**Describe the bug**
Pulsar SQL can not execute any statements.

**To Reproduce**
Steps to reproduce the behavior:
1. Compile the master code `mvn clean install -DskipTests`
2. Start pulsar standalone `bin/pulsar standalone`
3. Start sql-worker `bin/pulsar sql-worker run`
4. Start sql client `bin/pulsar sql`
5. Execute the `show catalogs;`

SQL worker logs:

[code]

**Desktop (please complete the

[2020-09-28 13:09] KannarFr opened #8151 "[Pulsar SQL] reduce configuration of ZK/Brokers endpoints to Brokers or Proxies"
**Is your enhancement request related to a problem? Please describe.**
Boot Pulsar SQL instances on-demand without direct connection to ZK (as ZK is not exposed publicly).

**Describe the solution you'd like**
Pulsar's Presto connector is requiring a ZK connection. Can we get rid of that and only have brokers or proxies endpoints in the Presto configuration?

**Describe alternatives you've conside

[2020-09-28 13:11] frankjkelly opened #8152 "Pulsar Authentication should support rotation of Validation keys e.g. Public keys used in JWT validation"
**Is your enhancement request related to a problem? Please describe.**
A common practice for security is to rotate keys used in encryption as well as token validation.
During the rotation the cryptographic functions temporarily will need to support data signed/encrypted with the
old keys as well as those signed/encrypted with the new keys.

**Describe the solution you'd like**
 Pulsar authenticati

[2020-09-28 17:34] shiv4289 opened #8154 "Extend python client to decode message with the writerSchema"
**Is your enhancement request related to a problem? Please describe.**
We have a topic with schema-autoupdate-strategy=None. We use different AVRO schema to encode messages and place them on the same topic (for ordering guarantees).

With java client we can fetch the exact schema  a message was encoded with (_writerSchema as msg.getSchemaVersion()_) , decode with writerSchema schema and get the or

[2020-09-28 20:26] MrThreepwood opened #8155 "[Java Client] Consumer add hasMessageAvailable"
**Is your enhancement request related to a problem? Please describe.**
I'm running into a bit of a problem at the moment with the need to limit the number of subscriptions processed at a time, largely due to memory issues. We have a very large number of topics and subscriptions and if each one was processed at the same time we run out of memory very quickly. However, most of these topics are gener

[2020-09-28 21:38] lsroudi commented on #8123
Hello Guys,
i did all point suggested no change still have the same issue, if someone have few times i can communicate my vagrant file and the ansible playbook to reproduce the bug if it's possible, because i have no idea to solve it
Many Thanks

[2020-09-29 01:07] codelipenghui commented on #8155
@MrThreepwood You can limit the memory of the consumer by setting the `maxTotalReceiverQueueSizeAcrossPartitions` of the consumer and if the producer sending batch messages, you can set `preciseDispatcherFlowControl=true` at the broker.conf.

[2020-09-29 01:14] codelipenghui commented on #8154
@shiv4289 Looks this is a catchup work at the python client, are you interested work on it?

[2020-09-29 01:23] codelipenghui commented on #8151
@KannarFr Looks the biggest challenge is how we read data from bookies without ZooKeeper since the BookKeeper client needs to connect to ZookKeeper to get the ledger metadata. And we also have a plan to add a batch read API for Pulsar topics.

[2020-09-29 01:28] codelipenghui commented on #8150
@zymap Which maven version are you using?

[2020-09-29 01:38] codelipenghui commented on #8146
Looks the problem is related to the python client, have you tried other client such as Java client? And could you please provide your producer code?

[2020-09-29 01:47] codelipenghui commented on #8145
@techzhou Could you please describe the detailed requirements? If you want to record the ack timestamp of a message, you can print a log when you call `acknowledge(msg)`. If you want to trace the messages, you can try to leverage some tracing systems such as SkyWalking or Jeager, we already add integration with these two systems. For more details, you can see https://streamnative.io/blog/tech/2019

[2020-09-29 01:54] zymap commented on #8150
@codelipenghui  `Apache Maven 3.6.0 (97c98ec64a1fdfee7767ce5ffb20918da4f719f3; 2018-10-25T02:41:47+08:00)`

[2020-09-29 01:55] techzhou commented on #8145
@codelipenghui I just want to record the ack timestamp of a message, PersistentSubscription Logger may help me, I will try it.

[2020-09-29 01:57] codelipenghui commented on #8145
OK.

[2020-09-29 02:40] shiv4289 commented on #8154
Sure @codelipenghui . You can assign this to me.

[2020-09-29 04:06] jiazhai opened #8159 "Disable namespace ttl while enable broker level ttl"
user reported:

Broker has the ttl set, when I ran the get-message-ttl pulsar-admin CLI command for the namespace, the TTL value was not set to 0, instead it returned the global default value 3600 again.
I tried the same via the CLI command also :
./pulsar-admin namespaces set-message-ttl public/test2 --messageTTL 0
Which again gave me the same result as above. It also defaulted to the global valu

[2020-09-29 04:09] lhotari commented on #8138
I have re-tested my application where the memory leak happens in a certain load test scenario after applying the #8149 changes on top of a custom Pulsar Client version based on 2.6.1 version. The memory leak still remains. I can see that the CompletableFuture's no longer keep references to ConsumerImpl instances, so that aspect is fixed.
The instances are still retained from ClientCnx consumers fi

[2020-09-29 04:59] techzhou commented on #8145
- name: org.apache.pulsar.broker.service.persistent.PersistentSubscription
        level: debug
        additivity: false
        AppenderRef:
          - ref: SubHttp

It's OK. I really appreciate your help. Thank you. @codelipenghui

[2020-09-29 04:59] #8145 closed

[2020-09-29 05:05] 315157973 commented on #8159
I will work on it

[2020-09-29 07:05] lhotari commented on #8138
The repro case using plain Pulsar Java Client is in this commit: https://github.com/lhotari/pulsar/commit/3314b3bb4f1e00f9d6c670efd9448d32c20e7a6f
It programmatically triggers a heap dump that gets written in the temp directory.
I ran it against Pulsar 2.6.1 standalone server running in Docker.

The heap dump shows that in the client, there's no unclosed consumers or producers at the end of the te

[2020-09-29 08:00] Syphixs commented on #8146
I did not try to produce with a java client yet. Thought the problem could not be from the client cause it's working with the standalone server perfectly.

Attached is the producer test code.
[producer.zip](https://github.com/apache/pulsar/files/5297355/producer.zip)

[2020-09-29 09:52] lhotari commented on #8138
@jiazhai There were 2 more locations where ConsumerImpl instances were leaked when using the Reader API. Fixed in this PR: #8160 . Please review

[2020-09-29 11:11] Syphixs commented on #8146
Also tried with java client. Seems to be the same issue.

![a41c75e1-cec5-46c3-bb55-0d60bea39c11](https://user-images.githubusercontent.com/33832024/94551218-4cdd9d80-0255-11eb-8822-05a54be6f4b0.jpg)

[2020-09-29 14:59] hangc0276 commented on #8135
I will try to fix it, Please assign to me.

[2020-09-29 15:08] BewareMyPower commented on #8135
@hangc0276 thx for your help. It seems that I don't have the permission to assign the issue, please assign this issue to hang, @jiazhai

[2020-09-29 15:13] hangc0276 commented on #8124
I will try to fix it.

[2020-09-29 16:38] sijie commented on #8060
It is fixed by #8035

[2020-09-29 16:38] #8060 closed

[2020-09-29 17:57] david-streamlio opened #8162 "Create a new interface in the org.apache.pulsar.io.core package that both the source and sink contexts could extend"
**Is your enhancement request related to a problem? Please describe.**
Both the SourceContext and SinkContext contain a lot of duplicate method definitions that provide the same functionality. If someone wanted to write a class that accessed one of these functions, then it would be necessary to create two classes; one for sources and one for sinks.

One such example would be gaining access to `get

[2020-09-29 18:07] klwilson227 opened #8163 "Broker"
**Describe the bug**
When upgrading a 2.5.2 instance of broker contained in a Kuberenetes Deployment to 2.6.1 with the broker contained in a deployment. The brokers do not function after the upgrade.  One of the brokers, we see a error in the logs showing that it is attempting to use the hostname of another broker. Deployments in kuberenetes 1.19 do not support DNS resolution of the pods for inner

[2020-09-29 18:09] milos-matijasevic commented on #3833
There is thread in slack channel for same issue https://apache-pulsar.slack.com/archives/C5Z4T36F7/p1601393534056700
It depends on other configs, but maybe it can help you
In short try:
- `s3ManagedLedgerOffloadServiceEndpoint: https://s3.YOUR_REGION.amazonaws.com`
- If you cluster is running on AWS allow the IAM policy you are running as to do `GetBucketLocation`

[2020-09-29 19:13] MrThreepwood commented on #8155
Unfortunately that doesn't help in our scenario. Each of these is a single topic with no partitions. Clients push data in and we attempt to process our various queues as quickly as possible. A downstream component can't process them as quickly as we can, but we'd like to be able to prevent holding every message in memory while we wait in the queue to send to the downstream component.

[2020-09-29 23:12] rosejn commented on #4234
It seems maybe this got held up due to the potential difficulty of sending log data from C++ up to python.  How about just providing options to silence logging, and/or set the log level in the meantime?

[2020-09-30 02:17] sijie commented on #8163
@klwilson227 It sounds like a DNS resolution issue, not a Pulsar issue.
You can configure `advertisedAddress` to podIP in brokers.

[2020-09-30 02:25] sijie commented on #8148
@aravindtga the logs of functions are written into `logs` directory. You can see the log routing rule in the log4j2 configuration file. https://github.com/apache/pulsar/blob/master/conf/log4j2.yaml#L87

Alternatively, you can use k8s runtime for scheduling the functions. Then each function pod will write the logs into stdout of its container.

Or you can use `logTopic` to dump the logs to a pulsar

[2020-09-30 02:32] hangc0276 commented on #8121
I will fix it.

[2020-09-30 02:34] sijie commented on #8115
@codelipenghui is working with @alexku7 on this.

[2020-09-30 03:27] #8092 closed

[2020-09-30 03:33] #8109 closed

[2020-09-30 04:10] lukestephenson-zendesk commented on #3833
Another related slack thread with the same issue https://apache-pulsar.slack.com/archives/C5Z4T36F7/p1591968316415200?thread_ts=1591924819.402800&cid=C5Z4T36F7

[2020-09-30 07:41] premforgame opened #8168 "unable to list schemas in pulsar sql"
**Describe the bug**
I am running pulsar-all 2.6.1 as a container and referring https://pulsar.apache.org/docs/en/sql-getting-started/#query-your-own-data I tried to view schemas in pulsar by executing following command

`show` schemas in pulsar;`

getting following exception in
`./bin/pulsar sql-worker run`

[code]

**To Reproduce**
Steps to reproduce the behavior:

- run pulsar-all:2.6.1 as dock

[2020-09-30 11:47] #8138 closed

[2020-09-30 13:13] alexku7 commented on #8115
Hello
The last status of this issue:

1. It happens in most cases when we add new consumers and remove old or sometime when any current consumer is disconnected and reconnected becasue of small network interruptions.

2. We see some unacked messages (1-5 messages. not more) on the subscription level but zero number of unacked messages on every consumer with 1000 available permits

My guess is that

[2020-09-30 14:01] tomas-c commented on #6528
Since #6905 has been merged, it's now possible to create a schema that uses a custom ObjectMapper like so:

[code]

Note that this only works with the unshaded version of the library (use org.apache.pulsar:pulsar-client-original instead of org.apache.pulsar:pulsar-client)

[2020-09-30 15:48] sijie opened #8171 "AutoRecovery should respect to the ensemble policy used in Pulsar"
*Motivation*

Pulsar uses an ensemble policy to select an ensemble to place the data. We need to configure AutoRecovery to respect to the ensemble policy used in Pulsar.

[2020-10-01 01:28] tuteng opened #8174 "peek message not support partitioned topic"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

Throw exception:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

[code]

Throw exception:

[code]

**Expected behavior**

Support peek message for partitioned topic
Remove this check https://github.com/apache/pulsar/blob/983266d480f77

[2020-10-01 02:30] hangc0276 commented on #8174
I will fix it, please assign this issue to me.

[2020-10-01 04:53] freadaiz commented on #7277
Hi Arushi, i'm facing the same problem right now.
could you explain what extra configurations was added in standalone.conf ?
Actually i doesn't see port 6651 listening.

[2020-10-01 05:15] 97arushisharma commented on #7277
Hi @freadaiz , I added the following configs to the standalone.conf:

[code]

[2020-10-01 05:18] BewareMyPower commented on #8136
Close the issue by #8167

[2020-10-01 05:18] #8136 closed

[2020-10-01 06:01] sijie commented on #8030
It is fixed by #8144

[2020-10-01 06:01] #8030 closed

[2020-10-01 06:09] #7873 closed

[2020-10-01 06:27] sijie commented on #8174
@hangc0276 assigned

[2020-10-01 06:30] sijie commented on #6528
@tomas-c Thank you for calling it now.

Close the issue since it is fixed by #6905

[2020-10-01 06:30] #6528 closed

[2020-10-01 07:19] cvuijst opened #8175 "Effectively-Once support for WebSockets"
**Is your feature request related to a problem? Please describe.**
On the Pulsar client feature matrix, the "**Effectively-Once**" feature is not available for the WebSocket client. The matrix seems currently updated till Pulsar 2.5.0, see [here](https://github.com/apache/pulsar/wiki/Client-Features-Matrix). Is there any chance this will be supported in the future? Or does anyone have experience h

[2020-10-01 11:12] shiv4289 opened #8176 "[Python Client] Pass schema version of writer schema to decoded message"
This is a prerequisite for implementing Issue #8154

[2020-10-01 11:53] gpichard commented on #8000
@jiazhai I too have the same issue. Is there anything that can be done meanwhile you publish a bug fix ? By the way is there an ETA on the bug fix ? Thank you.

[2020-10-01 17:44] devinbost opened #8179 "Bookie 2.6.1 "OutOfMemoryError: Java heap space" even though plenty of memory is available on server"
We're getting this stack trace on these bookies that are dying after upgrading to 2.6.1:

[code]

It happens unpredictably.

[2020-10-01 17:45] devinbost commented on #8179
@sijie FYI.

[2020-10-01 23:08] codelipenghui commented on #8115
@alexku7 Thanks for the update, I will try to find the problem and fix it.

[2020-10-02 02:29] devinbost opened #8183 "JMX scrape failed after upgrading broker to 2.6.1"
After upgrading to 2.6.1 from 2.4.0, we started getting this exception filling up our logs:

[code]

[2020-10-02 04:39] devinbost opened #8184 "Backlog Quota exceeded - didn't auto-resolve"
**What happened:**

The backlog quota was exceeded on a topic due to bookie disk filling up. We increased disk size and stopped upstream sources, which allowed the backlogs to be consumed. However, one of the namespaces was insisting that the quota was still exceeded. As you can see in the diagram below, the backlog came down until it was gone (yellow line in right chart), but the remaining backlo

[2020-10-02 05:32] freadaiz commented on #7277
So in my case i missed to define the tls protocol in my conf.
Thanks for your prompt reply @97arushisharma .

[2020-10-02 06:40] devinbost commented on #8184
Our storage has also been increasing linearly on this cluster even though it's configured without retention. At this point, all of our backlogs are caught up, so it seems really odd that the cluster storage hasn't gone down.
![image](https://user-images.githubusercontent.com/7418031/94895047-d1900d80-0447-11eb-83f2-ee878b315a5c.png)

[2020-10-02 07:01] devinbost commented on #8184
The last seven days hasn't done this with the storage size.
![image](https://user-images.githubusercontent.com/7418031/94896476-ce4a5100-044a-11eb-8cc2-d89d52a0b5d4.png)

[2020-10-02 07:03] devinbost commented on #8184
Two of the bookies are throwing exceptions that look like this:

[code]

[2020-10-02 07:08] devinbost commented on #8184
After restarting one of the bookies that was throwing this exception, the storage immediately dropped from almost 350 GB to 7 GB.

[2020-10-02 07:27] devinbost commented on #6894
I'm also seeing it here on 2.6.1: https://github.com/apache/pulsar/issues/8184

[2020-10-02 08:44] jiazhai commented on #8159
thanks

[2020-10-02 10:55] sbourkeostk opened #8187 "pulsar-dashboard: ERROR: value too long for type character varying(64)"
**Describe the bug**
pulsar-dashboard fails to initialise when consumer names are more than 64 characters. This seems to have been addressed in the code but not fully rolled out. I will submit a corresponding PR.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a consumer with a moderately long name
2. Deploy pulsar-dashboard
3. Initialisation will fail and pulsar-dashboard web interfa

[2020-10-02 21:36] #8159 closed

[2020-10-03 02:31] priyath opened #8192 "Possibility of data loss due to asynchronous checkpointing in kinesis consumer"
**Describe the bug**
The KinesisRecordProcessor pushes each record to a blocking queue and proceeds to checkpoint shard progress on every checkpoint interval. But at the point of checkpointing, there is no guarantee of successful delivery of pending records in the queue, which can lead to data loss in case of instance failure.

Source: https://github.com/apache/pulsar/blob/master/pulsar-io/kinesis

[2020-10-03 04:40] hangc0276 opened #8193 "Pulsar examples/spark compile failed under jdk10"
**Describe the bug**
Pulsar examples/spark compile failed under jdk10. Exceptions list as follow:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1.  `mvn package -DskipTests`

**Expected behavior**
build success.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: ubuntu 16.04
 - JDK:
 java 10.0.2

[2020-10-03 11:16] #8193 closed

[2020-10-04 03:01] tuteng commented on #8174
I have reconfirmed that this command is OK. Now I close the issue

[code]

[2020-10-04 03:01] #8174 closed

[2020-10-04 06:48] hangc0276 opened #8196 "Broker service close with exception"
**Describe the bug**
A clear and concise description of what the bug is.
When close broker server in unit test, it may throw `NullPointerException` in some times. the exceptions as follow.
[code]
**To Reproduce**
Steps to reproduce the behavior:
run unit tests, it may throw `NullPointerException` in some time when do clean up and shutdown the broker service.

**Expected behavior**
Shutdown broker

[2020-10-04 09:30] #8135 closed

[2020-10-04 09:37] 315157973 commented on #5759
I will work on it

[2020-10-05 01:10] hangc0276 commented on #8171
I checked bookkeeper autoRecovery logic, it respected to the ensemble policy store in ledgerMetadata for each ledger fragment. The code as follow. `BookKeeperAdmin#getReplacementBookiesByIndexes`
[code]
I am a little confused for this issue, would you please give more details. @sijie

[2020-10-05 01:55] ndr-thitinan opened #8202 "The pulsar crashes after a few mins"
**Describe the bug**
After I execute the pulsar using docker for a few mins, it crashed.

**To Reproduce**
Steps to reproduce the behavior:
1. Run the following command (no addition config)

`docker run -it   -p 6650:6650   -p 8080:8080   --mount source=pulsardata,target=/pulsar/data   --mount source=pulsarconf,target=/pulsar/conf   apachepulsar/pulsar:2.6.1   bin/pulsar standalone`

2. Wait

**Ex

[2020-10-05 02:02] hangc0276 commented on #8183
This may be caused by pulsar-function JMX metric exporter, would you please paste more detail logs?

[2020-10-05 03:02] #8016 closed

[2020-10-05 04:36] abhishekheaven7 opened #8203 "Pulsar client with version 2.6.1 has critical vulnerability CVE-2019-17638"
Pulsar client has jetty dependency [pulsar-client-2.6.1.jar (shaded: org.eclipse.jetty:jetty-util:9.4.29.v20200521) ] which has critical security vulnerability.
CWE-672 CWE-672 Operation on a Resource after Expiration or Release: CVE-2019-17638

In Eclipse Jetty, versions 9.4.27.v20200227 to 9.4.29.v20200521, in case of too large response headers, Jetty throws an exception to produce an HTTP 431 e

[2020-10-05 05:05] #8203 closed

[2020-10-05 17:46] devinbost commented on #8179
@addisonj
"-Xms4g -Xmx8g -XX:MaxDirectMemorySize=12g"

Is that what you're looking for?

[2020-10-05 18:04] devinbost commented on #8179
In our bkenv.sh, it's set to:
`BOOKIE_MEM=" -Xms2g -Xmx2g -XX:MaxDirectMemorySize=2g"`

[2020-10-05 18:08] fmiguelez opened #8204 "Automatic topic compaction never triggered if no durable subscriptions are found"
**Describe the bug**
If we create a topic, publish to it but we never create a durable subscription automatic compaction will never be triggered on such topic.

This is the case when we use `SubscriptionMode.NonDurable` or we use `Reader` to read from topic.

**To Reproduce**
1. Create a namespace with a "compactionThreshold" equal to `1`
[code]
2. Produce a pair of messages with same key to topic

[2020-10-05 22:26] sijie commented on #8171
@hangc0276 This issue is not about the code. BookKeeper has the abstracted logic to find a bookie to replace when changing ensembles. The most important thing here is to ensure AutoRecovery is configured to use the same ensemble placement policy as brokers.

[2020-10-05 22:28] #8196 closed

[2020-10-05 22:30] #5759 closed

[2020-10-05 22:37] #8124 closed

[2020-10-05 22:38] #8187 closed

[2020-10-05 22:39] #7657 closed

[2020-10-06 21:42] #8171 closed

[2020-10-07 12:01] kjaggann opened #8212 "spark Java"
**Is your enhancement request related to a problem? Please describe.**
Need help in configuring the tls certs in spark java for consumer code

**Describe the solution you'd like**
Sample sparkReceiver in java but unable to configure the tls certs
String serviceUrl =  "pulsar+ssl://abc-wss-us-east-1-non.abc.com:1234/";
    String inputTopic = "non-persistent://gdfvyv/test-test/ConsumerApproval-Test

[2020-10-07 13:11] languitar commented on #7050
This issue also make downstream projects based on poetry fail. The recommended way to fix this ((discussed in this issue)[https://github.com/python-poetry/poetry/issues/1122]) is by declaring the dependency with an environment marker in `setup.py` to ensure that enum34 is only pulled into the dependency tree when it is really needed.

[2020-10-07 14:54] git-enzo opened #8214 "Consumer pause does not work properly in case of multi topics consumers."
**Describe the bug**
When we pause a consumer which subscribes to multiple topics, for example by parsing a regular expression, and then the new producer sends a message to the new topic that the consumer discovers/subscribes, then messages from that topic will be "consumable" by the consumer during pause.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a ```multi-topic-consumer``` wh

[2020-10-07 19:29] MaitreyaBuddha commented on #6889
I am hitting a similar issue because that configured ObjectMapper does not support deserializing Instant. I'm trying to add the necessary `mapper.configure` line to fix it because I want to utilize Pulsar's deserialization instead of making my own mapper and deserializing. An easy workaround is of course to not use JsonSchema and do deserialize yourself with your ObjectMapper. I'm curious why you

[2020-10-07 20:27] MaitreyaBuddha opened #8215 "pulsar-client (Java) `JsonSchema` does not support deserializing `java.time.Instant`"
**Describe the bug**
I am sending objects with a timestamp of type `Instant`. When using a `JsonSchema` for my defined message object, it fails to deserialize the `Instant` field.
This is because the internal `ObjectMapper` is not configured to deserialize using `mapper.registerModule(new JavaTimeModule());`

**To Reproduce**
Steps to reproduce the behavior:
1. Create a consumer using `JsonSchema`

[2020-10-07 21:33] flowchartsman opened #8216 "Go SDK: GetUserConfMap() is not getting populated"
**Describe the bug**
While the user config is listed as not being implemented for the Pulsar Functions SDK for go, the examples seem to indicate that I should be able to poll the KVs through the context function, specifically:

[code]

However, these do not appear to be getting populated.

**To Reproduce**
Deploy a pulsar function for go with the following code in main.go:
[code]

[code]

**Expect

[2020-10-08 16:21] milos-matijasevic opened #8220 "managedLedgerOffloadDeletionLagMs and managedLedgerOffloadAutoTriggerSizeThresholdBytes are not used from config file"
**Describe the bug**
Flags `managedLedgerOffloadDeletionLagMs` and `managedLedgerOffloadAutoTriggerSizeThresholdBytes` are not used anywhere so default offloader doesn't pick these values properly and always use defaults null and -1 respectively, even if these flags are set in config file.

**To Reproduce**
Deploy pulsar and set these values in broker.conf file (https://github.com/apache/pulsar/bl

[2020-10-08 17:50] Y-Tian commented on #8179
+1 we're running into this issue as well. Is there any way we can help?

[2020-10-09 06:48] aloyszhang commented on #8214
Mabe we should add a flag for `MultiTopicsConsumerImpl` which indicates wheter  `MultiTopicsConsumerImpl` has been paused or not.  If the flag is true, we should pause the new added consumers for new added topics.

[2020-10-09 07:56] codelipenghui opened #8222 "Support limit topic publish rate at the broker level."
**Is your feature request related to a problem? Please describe.**
Currently, we can set up the publish rate limitation of the topic by user pulsar-admin. It's better to introduce a broker level setting as the default setting. The namespace level setting can rewrite the broker level setting.

**Describe the solution you'd like**
Add `maxPublishRatePerTopicInMessages` and `maxPublishRatePerTopicInB

[2020-10-09 07:59] codelipenghui opened #8223 "Support limits the max tenants of the Pulsar cluster"
**Is your feature request related to a problem? Please describe.**
Support limits the max tenants of the Pulsar cluster. When the tenants reach the max tenants of the cluster, the broker should reject the new tenant request.

**Describe the solution you'd like**
Add `maxTenants=0` in the broker.conf and don't limit by default.

[2020-10-09 08:01] codelipenghui opened #8224 "Support limits the max namespaces per tenant"
**Is your feature request related to a problem? Please describe.**
Support limits the max namespaces per tenant of the Pulsar cluster. When the namespaces reach the max namespaces of the tenant, the broker should reject the new namespace request.

**Describe the solution you'd like**
Add `maxNamespacePerTenant=0` in the broker.conf and don't limit by default.

[2020-10-09 08:04] codelipenghui opened #8225 "Support limits the max topics per namespace"
**Is your feature request related to a problem? Please describe.**
Support limits the max topics per namespace of the Pulsar cluster. When the topics reach the max topics of the namespace, the broker should reject the new topic request(include topic auto-created by the producer or consumer).

**Describe the solution you'd like**
Add `maxTopicsPerNamespace=0` in the broker.conf and don't limit by d

[2020-10-09 08:06] codelipenghui opened #8226 "Support limits the max subscriptions per topic"
**Is your feature request related to a problem? Please describe.**
Support limits the max subscriptions per topic of the Pulsar cluster. When the subscriptions reach the max subscriptions of the topic, the broker should reject the new subscription request and reject the consumer to subscribe to this topic.

**Describe the solution you'd like**
Add `maxSubscriptionsPerTopic=0` in the broker.conf an

[2020-10-09 08:08] 315157973 commented on #8226
I will work on it

[2020-10-09 08:08] 315157973 commented on #8225
I will work on it

[2020-10-09 08:08] 315157973 commented on #8224
I will work on it

[2020-10-09 08:08] 315157973 commented on #8223
I will work on it

[2020-10-09 08:08] 315157973 commented on #8222
I will work on it

[2020-10-09 08:36] hangc0276 commented on #8226
I will work for it.

[2020-10-09 08:36] hangc0276 commented on #8225
I will work for it.

[2020-10-09 12:26] eolivelli commented on #8179
Do you have any way to dump the memory of the bookie and look what kind of variable is eating up the memory? Like with jmap.
Unfortunately it won't be possible to upload it to github for security reasons but you could use some heap analysis tool to look for the 'dominator objects'

Alternatively: do you see some unusual activity in the logs before the error?

[2020-10-09 15:36] #7673 closed

[2020-10-09 18:14] MrThreepwood commented on #8155
Is there a reason that the consumer doesn't have support for this functionality?

[2020-10-09 19:49] devinbost commented on #8179
There was nothing odd in the logs before the error. I think the problem was
that the default JVM memory settings are too low for most production cases.
We increased the JVM settings as follows:

in bkenv.sh, we increased BOOKIE_MEM to:
BOOKIE_MEM=" -Xms2g -Xmx12g -XX:MaxDirectMemorySize=12g"

in pulsar_env.sh, we set PULSAR_MEM
to the same values.

On Fri, Oct 9, 2020 at 6:27 AM Enrico Olivelli <n

[2020-10-09 20:29] lhotari commented on #8078
I'm running into a similar problem. However I didn't see a NPE, but there is high CPU usage. If anyone is interested, I have shared the details on the Pulsar Slack at https://apache-pulsar.slack.com/archives/C5Z4T36F7/p1602159831227900 .
[async-profiler](https://github.com/jvm-profiling-tools/async-profiler) seems to be the best way to observe what is going on when Pulsar is running on high CPU. I

[2020-10-10 00:05] lhotari opened #8229 "Broker enters an infinite loop in ManagedLedgerImpl.asyncReadEntries and consumes 100%+ CPU"
Pulsar Broker 2.6.1 enters an infinite loop between these stack frames:
[code]

**To Reproduce**
There aren't currently known steps to reproduce the issue in an isolated way. This happens in a load test on a 3 broker, 3 bookie, 3 zk cluster running in Openshift/k8s. The load test covers 7500 Pulsar topics which are read with short-living readers, there aren't any subscriptions. The topics are crea

[2020-10-10 01:26] wolfstudy commented on #7308
In 2.6.2, we have fixed this problem, if you want to use it in 2.6.1, please upgrade the python version to 3.8.3.

Will close this issue.

[2020-10-10 01:26] #7308 closed

[2020-10-10 01:32] wolfstudy commented on #7682
The https://github.com/apache/pulsar-client-go/pull/376 will fix the issue of consumer blocking in go client.

[2020-10-10 03:13] #7824 closed

[2020-10-10 04:22] BewareMyPower opened #8230 "[pulsar-client-cpp] Reader::hasMessageAvailable would never return if broker was terminated by force"
**Describe the bug**
If the reader calls `hasMessageAvailable` while the broker was killed by force, `hasMessageAvailable` would never return.

**To Reproduce**
Steps to reproduce the behavior:

Giving the following client code:

[code]

1. Run the pulsar standalone:
[code]
2. Run the above client
3. Kill the standalone by `SIGKILL`:
[code]

However, the client would never return because it stuck

[2020-10-10 07:49] eatSummer opened #8231 "pulsar-standalone: use ipv6 error"
**Describe the bug**
I used the standalone Pulsar, and IPv4 was normal
but i want use ipv6,for example "[1001:30::152:601]" and i modify "preferIPv4Stack=true" to "preferIPv4Stack=false",
then pulser service is stuck-->
org.apache.bookkeeper.clients.impl.channel.StorageServerChannelManager -
Added range server (hostname: "1001"port: 30) into the channel manager.
It looks like ip and port error

[2020-10-10 10:15] Jennifer88huang commented on #8202
@wolfstudy @zymap could you please help check the log? It seems that there is sth wrong.

[2020-10-10 22:08] harissecic opened #8233 "Custom ObjectMapper for JSON schema writer/reader for Java client?"
**Describe the solution you'd like**
I'm trying to create module/plugin for Micronaut. I've gone far enough and it might be ready soon as snapshot/release candidate. However Micronauts philosophy is no reflection at all or as less as possible when combining with libraries that use such thing.  I've seen that majority of the code actually uses reflection and ObjectMapper is not original one from ja

[2020-10-11 07:04] skyrocknroll commented on #8179
@devinbost after increasing the jvm memory settings did the issue go away ?

[2020-10-12 00:25] #6408 closed

[2020-10-12 01:45] sijie opened #8237 "Support taking de-duplication snapshots based on time"
Currently we take de-duplication snapshots based on size. If the topic has relatively low traffic, the de-duplication cursor will not move. This can cause messages that are not able to be deleted based on the retention policy. We should add a policy to take de-duplication snapshots based on time.

- [x] Broker level configuration #8474
- [x] Namespace level configuration
- [x] Topic level congfigu

[2020-10-12 02:12] hangc0276 commented on #8229
I will try to locate this issue.

[2020-10-12 03:30] hxwabc opened #8238 "Can pulsar support partition merging and spliting dynamic?"
Can pulsar support partition merging and spliting dynamic?
If not, is there such a support planning?

[2020-10-12 05:49] wolfstudy commented on #8002
This seems to be caused by the network environment at that time, now everything is normal, will close this issue.

[2020-10-12 05:49] #8002 closed

[2020-10-12 05:57] wolfstudy opened #8239 "When allowAutoTopicCreationType is set to partitioned, the function trigger cannot work normally"
**Describe the bug**

When allowAutoTopicCreationType is set to partitioned, the function trigger cannot work normally. The error as follows:

[code]

The specific error location points to [here](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/PulsarClientImpl.java#L500)

**To Reproduce**

1. bin/pulsar standalone(2.6.1)
2. bin/pulsar-admin fu

[2020-10-12 06:46] karolcia77 opened #8240 "Jhvgy"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2020-10-12 07:14] #8230 closed

[2020-10-12 09:27] wolfstudy commented on #8239
This problem seems to be caused by the reader being used in the trigger function, but the reader cannot subscribe to the topic of the partition.

[2020-10-12 12:22] yanirj commented on #3833
I can confirm I had the exact same issue and adding permissions for GetBucketLocation solved it.

[2020-10-12 13:26] milos-matijasevic commented on #8220
@codelipenghui hello, i saw that you removed this piece of code and wrote this explanation in pull request https://github.com/apache/pulsar/pull/7011#discussion_r428788947, can you explain me how things will work without this and how will values for these 2 parameters be taken from config file, you can read my issue and see why i think it won't work

[2020-10-12 21:21] heronr opened #8243 "brokerDeleteInactiveTopics configuration does not work correctly with partitioned topics"
**Describe the bug**
When the broker is configured to delete inactive topics, only non-partitioned topics are deleted. This includes the non-partitioned _"partition-[number]"_ topics that make up the implementation of partitioned topics.

**To Reproduce**
1. Configure the broker to delete inactive topics: **brokerDeleteInactiveTopicsEnabled=true**
1. You can also increase the frequency to make thi

[2020-10-13 03:41] devinbost commented on #8179
So far, it appears that it has gone away. I'll give another update if we
experience the issue again.

--
Devin G. Bost

On Sun, Oct 11, 2020, 1:04 AM Yuvaraj L <notifications@github.com> wrote:

[2020-10-13 06:11] Jennifer88huang commented on #8240
@karolcia77 what kind of issue are you trying to describe? Could you provide detailed info?

[2020-10-13 06:24] Jennifer88huang commented on #8238
@hxwabc Thanks for raising the issue. You can add partitions in Pulsar based on your requirements.
I was wondering which scenarios/cases require partition merging and splitting? Could you please give some details?

[2020-10-13 06:58] g0715158 opened #8245 "The ip I configured is not this"
Describe the bug
The ip I configured is not this. The current error occasionally occurs when the number of cluster producers is large.

logs:
2020-10-10 09:50:47.120 [pulsar-external-listener-137-1] WARN  org.apache.pulsar.client.impl.PulsarClientImpl - [topic: persistent://tenant-test-1/namespace-test-1/topic-t
est-37] Could not get connection while getPartitionedTopicMetadata -- Will try again i

[2020-10-13 09:02] yrsh opened #8247 "Nack support in WS"
**Is your feature request related to a problem? Please describe.**
There is no negative acknowledgement in WebSocket API.

**Describe the solution you'd like**
I can send nack message from WS.

[2020-10-13 14:03] languitar opened #8248 "Posting a schema document with a data field results in an internal server error"
**Describe the bug**

When using the docker image as instructed in the manual for a local test, registering a schema for a new topic can result in an internal server error if the posted JSON file contains a `data` attribute. This is likely to happen by accident as the attribute `data` is used when GET-ing a schema for a topic instead of the field `schema` that is needed for the POST request

**To

[2020-10-13 17:05] sijie commented on #8238
@hxwabc Current the feature of auto-scaling partitions is not supported yet. We have a Github issue for adding this support. You can follow the progress at https://github.com/apache/pulsar/issues/3217

[2020-10-13 17:05] #8238 closed

[2020-10-13 21:21] Y-Tian opened #8251 "Can't build or go-get the pulsar-client-go module"
**Describe the bug**
Can't import or go-get the pulsar-client-go module to my go application.

**To Reproduce**
Steps to reproduce the behavior:
1. `import ("github.com/apache/pulsar/pulsar-client-go/pulsar")`
2. build the binary `CGO_ENABLED=0 GOOS=linux go build .`

**Expected behavior**
Expected to see no issues during the build, but instead ran into:
[code]

**Additional Context**
Running go-g

[2020-10-13 23:45] flowchartsman commented on #8251
You appear to be attempting to build a module which requires CGo while explicitly disabling it with `CGO_ENABLED=0` You may be looking for `github.com/apache/pulsar-client-go`, which is pure-go, though it apparently does not have feature parity yet, so caveat emptor.

[2020-10-14 00:29] coryvirok commented on #7050
For anyone else looking for a fix:

I use poetry + pulsar-client and was able to get around this issue by first running `pip install --upgrade pip` followed by `poetry install`.

[2020-10-14 00:57] codelipenghui opened #8252 "Support configure deduplicationEntriesInterval at the namespace/topic level"
Currently we take de-duplication snapshots based on size and can only change the configuration at the broker level. It's better to allow to change it at the namespace/topic level.

Related to #8237

[2020-10-14 01:02] #8222 closed

[2020-10-14 02:49] rdhabalia commented on #6505
Fixed by: https://github.com/apache/bookkeeper/pull/2333

[2020-10-14 02:49] #6505 closed

[2020-10-14 03:06] Jennifer88huang commented on #8247
@yrsh Thanks for your contribution~

[2020-10-14 03:15] Jennifer88huang commented on #8252
Does it duplicate with #8237? If so, shall we close one?

[2020-10-14 03:26] handywc opened #8254 "pulsar io hdfs could not execute"
**Describe the bug**

execute method：
![image](https://user-images.githubusercontent.com/25581080/95939580-fa80ad00-0e0e-11eb-84c4-175ef0750f42.png)
sinkconfig.yaml configuration：
![image](https://user-images.githubusercontent.com/25581080/95939610-0cfae680-0e0f-11eb-9bae-dc33cfa02d2f.png)
but the log shows some error:
![image](https://user-images.githubusercontent.com/25581080/95939794-7a0e7c00-0

[2020-10-14 05:27] BewareMyPower commented on #8254
See https://github.com/apache/pulsar/blob/3a298f3404d597e6a94de981c5fbe570264dcba1/pulsar-io/hdfs2/src/main/java/org/apache/pulsar/io/hdfs2/sink/HdfsAbstractSink.java#L92-L99

`path` is created from your `directory` and other config params.

The HDFS sink just uses a Hadoop client to create `FileSystem` and open a file under the configured `directory` to write or append. So you should not add any

[2020-10-14 08:00] handywc commented on #8254
hi，tks for your reply.

I copy the core-site.xml and the hdfs-site.xml from the namenode of hadoop cluster，and the hosts file is set.

I will write a example code to verfiy if the xml configuration is correct or not later.

tks again.

[2020-10-14 08:29] Titan557 opened #8257 "Unable to connect to apache pulsar broker using websocket after tls setup"
Hi I kinda new to apache pulsar.

I have setup a production setup which consist of zookeeper, bookie & broker and able to use websocket client api to publish as a producer and consume as a consumer.

But as soon as I implement tls, I can't connect anymore.

[code]

I get an  'unable to verify the first certificate' when I run this code. (This is nodejs)`

How can I implement tls using the websocke

[2020-10-14 09:27] codelipenghui opened #8259 "Support exclude the message when reset cursor by message ID"
**Is your feature request related to a problem? Please describe.**
Currently, when reset the cursor to a position, the broker will set the mark delete position to the previous position of the reset position. For some usecase, we don't want to consume the reset position again, so it's better to provide a way to reset the cursor to a specific position and exclude this position. So that the consumers

[2020-10-14 09:33] codelipenghui opened #8260 "Support reset cursor to a batch index of the batching message"
**Is your feature request related to a problem? Please describe.**
We have support ack the batch message index since 2.6.0. But it's not supported by the reset cursor operation. So, if users reset the cursor to a batch index of the batch message then when consuming messages again, it will get these batch index again.

[2020-10-14 09:36] 315157973 commented on #7720
Please assign it to me

[2020-10-14 09:36] 315157973 commented on #8259
Please assign it to me

[2020-10-14 09:38] 315157973 commented on #8260
I will work on it

[2020-10-14 10:48] ZhuJiang121 opened #8262 "The REST API to create source is not correct"
I found params it need is "sourceConfig" and "url" ,but the REST API documents is not true,

[https://pulsar.apache.org/source-rest-api/?version=2.6.1&apiversion=v3#operation/registerSource](https://pulsar.apache.org/source-rest-api/?version=2.6.1&apiversion=v3#operation/registerSource)

[2020-10-14 15:06] flowchartsman opened #8263 "pulsar-functions-go directory needs a little cleanup"
**Describe the bug**
`pulsar/pulsar-function-go/examples/producer` and `pulsar/pulsar-function-go/examples/consumer` are not examples of how to use the pulsar functions SDK for go, but rather basic client examples.  Also, the `go.mod` in the examples directory defines a module which is incorrect for that path (`module github.com/apache/pulsar/pulsar-function-go/tests`).

[2020-10-14 17:37] frankjkelly opened #8264 "[Java Client] Async Send does not appear to deliver messages in order unless `batchingMaxMessages`=1"
**Describe the bug**
I might have found something in relation to message ordering with Async Send. I setup a test program here https://github.com/kellyfj/message-ordering and can reproduce the problem.

**To Reproduce**
Steps to reproduce the behavior:
1. See test program attached and associated instructions

**Expected behavior**
Java `sendAsync` should behave the same in terms of ordering as `se

[2020-10-14 21:56] addisonj opened #8266 "Golang Functions SDK does not support sending to different topics"
**Is your feature request related to a problem? Please describe.**
The functions SDK in java and python support sending messages to multiple output topics. The golang SDK does not. It should for feature parity

**Describe the solution you'd like**
Implement the context object to be able to send to different topics. Like with the java SDK that allows you to return a future, which makes sending to a

[2020-10-15 02:02] handywc commented on #8254
hi
when i execute the command:
![image](https://user-images.githubusercontent.com/25581080/96067764-0b8ff380-0ecd-11eb-970f-0c7020a117e5.png)
It can write to hdfs successfully.
but i execute the command:
![image](https://user-images.githubusercontent.com/25581080/96067936-5c075100-0ecd-11eb-8020-3e0faaebe02a.png)
It writes to local file system.
The different is between "localrun" and "create".

[2020-10-15 02:41] BewareMyPower commented on #8254
`localrun` is using `bin/function-localrunner` to run your sink, while `create` is run your sink in the functions worker.

It looks like that you deploy the functions worker with broker, so it may be different with running local runner. Could you try to [deploy your functions worker separately](https://pulsar.apache.org/docs/en/functions-worker/#run-functions-worker-separately)?

[2020-10-15 03:12] sijie commented on #7682
Closed the issue since the two issues have been fixed. If there are any new issues, let's use a new issue to track it.

[2020-10-15 03:12] #7682 closed

[2020-10-15 03:53] sijie commented on #8027
The help message has been updated. Close this issue.

[2020-10-15 03:53] #8027 closed

[2020-10-15 04:02] sijie commented on #7740
Closed the issue since Jia has provided the example. If it is not sufficient, please reopen the issue.

[2020-10-15 04:02] #7740 closed

[2020-10-15 09:06] wolfstudy opened #8268 "[Pulsar Function] Support k8s runtime for Go Functions"
**Is your feature request related to a problem? Please describe.**
As @Emil said in https://apache-pulsar.slack.com/archives/C5Z4T36F7/p1602748847332800, currently, Go Functions can't work in k8s runtime.

**Describe the solution you'd like**

We should support k8s runtime for Go Functions.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or

[2020-10-15 15:04] KannarFr opened #8271 "[OffloadPolicies] per topic"
**Describe the solution you'd like**
Support OffloadPolicies at topic level.

[2020-10-16 01:17] handywc commented on #8254
hi
I have deployed functions worker separately.
![image](https://user-images.githubusercontent.com/25581080/96201707-dd271c80-0f8f-11eb-9cbd-0d0c384de034.png)
But still like before. I change the admin-url setting to functions worker's IP and Port.
![image](https://user-images.githubusercontent.com/25581080/96201791-13fd3280-0f90-11eb-8287-6115479e7ba7.png)
It also writes to local file system.

[2020-10-16 04:34] BewareMyPower commented on #8254
Anyway, the reason why HDFS sink wrote to local file system is that the configuration didn't work and the Hadoop `FileSystem` use `file:///`  as the default file system.

But it's weird that local runner works but functions worker doesn't work. Could you give some help? @wolfstudy @tuteng @congbobo184

[2020-10-16 08:43] zzl221000 opened #8275 "[Java Client]Consumers sometimes stop, and there is no prompt message or error message"
**Describe the bug**
After a period of time, the consumer stopped accepting messages. Compared the thread stack, I found that the Keep-alive-timer thread is missing.

**To Reproduce**
Steps to reproduce the behavior:
1. I haven't verified it, maybe you can try to kill the Keep-alive-timer thread to reproduce

**Expected behavior**
There should be some error prompts after the keep alive connection

[2020-10-16 08:48] zzl221000 opened #8276 "[Java Client] Consumers sometimes stop without any error log or debug log"
**Describe the bug**
The consumer stopped receiving messages after a while, but the program did not have any error logs.Compared with the thread stack, ~~it was found that the Keep-alive-timer thread was missing.~~ **It's wrong** I did not find a specific reason

**To Reproduce**
Steps to reproduce the behavior:
1. ~~I have not verified, maybe you can try to kill the Keep-alive-timer thread to rep

[2020-10-16 08:49] #8275 closed

[2020-10-16 08:54] fhussonnois opened #8277 "PulsarClientException should not extends IOException"
**Is your enhancement request related to a problem? Please describe.**
Currenlty the `PulsarClientException` extends the `IOException` class which is a checked-exception. Of-course checked vs unchecked exception has been a long debate in the Java community but I see two main issues with this is Pulsar :

**1. Bad Developer Experience**

As most of the methods provided by the client/producer/consum

[2020-10-16 11:10] Jennifer88huang commented on #8262
@tuteng @zymap could you please help check it? Thank you.

[2020-10-16 11:12] Jennifer88huang commented on #8263
@wolfstudy could you please help check? Thank you.

[2020-10-16 11:16] lhotari commented on #8229
I've been trying to understand the code more and analyze it. It's not so clear that the problem is in `cursor.hasMoreEntries()` call.

I added some more columns to the table that I extracted from one of the heap dumps: https://gist.github.com/lhotari/c34db2664b15fc32c9f0e7ae8b37dbda

The goal of this is that when I have the state of the variables in the table, I can manually read the code and debu

[2020-10-16 13:48] cdbartholomew commented on #8220
@milos-matijasevic Can you try the following names for these properties in your broker.conf file:

`managedLedgerOffloadThresholdInBytes`
`managedLedgerOffloadDeletionLagInMillis`

I think the names have been changed.

[2020-10-16 16:22] Redirts opened #8279 "Question: Pulsar IO JDBC Java class example (Clickhouse)"
From what I understand it is possible to create a custom Java class that reads from pulsar and writes via JDBC to a database (in my I would like it to be clickhouse).

https://github.com/apache/pulsar/blob/master/pulsar-io/jdbc/clickhouse/src/main/java/org/apache/pulsar/io/jdbc/ClickHouseJdbcAutoSchemaSink.java

Can anyone provide a complete code example to make this JDBC Sink work?

Thanks

[2020-10-16 16:54] #8223 closed

[2020-10-16 21:00] lukestephenson opened #8282 "Topic compaction fails with S3 tiered storage"
**Describe the bug**

Topic compaction fails if data has been offloaded to S3.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a partitioned topic with 4 partitions.  I
2. Publish data to all 4 partitions.
3. On one of the partitions, trigger offloading to S3 (I ran `bin/pulsar-admin topics offload --size-threshold 2M goanna/test/topic-partition-1`).
4. Trigger compaction of the topic

[2020-10-16 21:39] evfurman commented on #6236
Is there anyone that has successfully configured TLS for zookeeper, bookkeepers, and brokers outside of Kubernetes? Would love to chat in apache-pulsar.slack.com. Username is @evfurman.

Thanks!

[2020-10-17 01:50] #8224 closed

[2020-10-17 11:46] hangc0276 commented on #8252
I will work for it.

[2020-10-17 11:59] BewareMyPower commented on #8262
You're right, I've opened the similar issue before, see #7625 . The REST API to create or update a source/sink is `multipart/form-data`.

`url` is not the only undocumented params, see  https://github.com/apache/pulsar/blob/9c821cf940d422d2ea3d47687bd309fe698ab84e/pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/SinksBase.java#L79-L81

I've seen many people being confused with these

[2020-10-18 04:17] mingfang commented on #4964
I just upgrade to v2.6.1 and this is no longer a problem. Thanks

[2020-10-18 04:17] #4964 closed

[2020-10-18 06:31] wolfstudy commented on #8263
Thanks @flowchartsman feedback, i send a pull request to fix it, PTAL thanks.

[2020-10-19 03:10] #8229 closed

[2020-10-19 04:43] codelipenghui commented on #7455
@feeblefakie I have pushed a PR https://github.com/apache/pulsar/pull/8292, it fixes an ordering issue of the Key_Shared subscription. I'm sure if it can fix this issue. Could you please help double-check?

[2020-10-19 06:39] lhotari opened #8293 "Race condition in updating ManagedCursorImpl.readPosition"
**Describe the bug**
#8229 seems to have been caused by a race condition in updating `ManagedCursorImpl.readPosition`

**To Reproduce**
Since this is a concurrency issue, it's hard to reproduce and there isn't yet a publicly shared way to reproduce.

**Expected behavior**
Updates to `ManagedCursorImpl.readPosition` field should not lead to inconsistent state. It's not clear without understanding t

[2020-10-19 07:03] yixing1337 opened #8294 "Some errors on the official website document of Pulsar Java client"
#### official website document of Pulsar Java client

![1](https://user-images.githubusercontent.com/5304046/96410336-57b69d00-1219-11eb-9e3e-f4f58107914b.png)
**No such grammar exists in Java，This is the syntax of python**

![2](https://user-images.githubusercontent.com/5304046/96410346-5b4a2400-1219-11eb-83e0-eae7cce8612e.png)
**No such method：consumerBuilder.topics(String... topicNames)**

![3]

[2020-10-19 11:03] milos-matijasevic commented on #8220
Hello, actually i tried that names but it didn't work, as i mentioned in issue if they are renamed like that i think it should work, but they are not. I see old name in config file (https://github.com/apache/pulsar/blob/master/conf/broker.conf#L812) and in code (https://github.com/apache/pulsar/blob/master/pulsar-broker-common/src/main/java/org/apache/pulsar/broker/ServiceConfiguration.java#L1291)

[2020-10-19 11:29] losiu97 opened #8298 "Make logs more consistent"
**Is your enhancement request related to a problem? Please describe.**
 Broker and bookkeeper logs do not include the date, only time

**Describe the solution you'd like**
I would like the logs from all services to include both date and time

**Describe alternatives you've considered**
A way to configure the logging format for kubernetes deployment of Pulsar. Or maybe there is a way but i missed i

[2020-10-19 13:55] lhotari opened #8300 "[Java Client] Support cancelling message & batch futures returned by Reader and Consumer APIs"
**Problem description**

Currently, it's not possible to cancel the message & batch futures returned by Reader and Consumer APIs.
This leads to several problems when the Reader or Consumer instance is long-living. If no messages are received,
the futures will be kept in memory until messages are received. This causes memory leaks. In addition, the returned
message would get consumed by an already

[2020-10-19 13:59] lhotari commented on #8300
I started working on a PR, current WIP is https://github.com/lhotari/pulsar/commit/a300d297fb723b5fd91231668407441d5a662b1b .

[2020-10-19 17:40] addisonj commented on #8264
I worked with @frankjkelly  to find that this wasn't an issue in pulsar, but there is some strange behavior if the user re-uses buffers as an input to the client.

See https://github.com/kellyfj/message-ordering/pull/1#issuecomment-710760790 for more context, but the tl;dr is that I think the reference to the buffer change out from underneath us in async production. We may need to copy the buffer

[2020-10-19 17:50] shiv4289 opened #8301 "Loosely couple the topic and schemaId association (allow many to many association)"
Currently, schema (keyed by schemaId) in pulsar is tightly coupled with a topic (one-to-one association). As part of this enhancement, we want to make it a many-to-many association, This would allow for:

1. A topic to have multiple different versioned schemas.
2. One versioned schema list (schemaGroup?) could map to different topics.

To do this, we need to change the way schema and topic associa

[2020-10-19 17:51] frankjkelly commented on #8264
I concur - if instead of passing a byte buffer in directly, I make a copy of the byte buffer and pass that in, the problem goes away.

[2020-10-19 18:52] #8263 closed

[2020-10-19 18:55] addisonj commented on #8301
@shiv4289 That document is not readable, did you not yet make it public?

[2020-10-19 19:03] #8293 closed

[2020-10-19 19:36] shiv4289 commented on #8301
Done now. Thanks!

[2020-10-19 20:29] devinbost commented on #6163
@pushkar-engagio Why was this issue closed?

[2020-10-19 23:09] devinbost commented on #6151
@jiazhai We ran into this issue again. The cluster ended up in a split-brain situation with its bookies. I didn't think that was possible with the way Bookkeeper uses fencing, but the split-brain appeared to be happening on the zookeeper-side.

One of the bookies was stopped for a couple of days, and when it was started again, the entire bookie cluster went haywire.
The other bookies in the cluste

[2020-10-19 23:34] devinbost commented on #6151
After restarting different combinations of services, we got the brokers to stop restarting, but none of our functions would get assigned.

[2020-10-20 02:15] #8294 closed

[2020-10-20 03:50] gaoran10 commented on #8220
@milos-matijasevic Thanks for your work. I think you are right, the configuration names in the `ServiceConfiguration` are not matched with field names in the `OffloadPolicies`, so the configurations in the `OffloadPolicies` can't be set properly through java reflection.

[code]

[2020-10-20 03:57] addisonj commented on #8220
@gaoran10 We should make sure we support the original value names (`managedLedgerOffloadAutoTriggerSizeThresholdBytes`) as well as the new value names (`managedLedgerOffloadThresholdInBytes`) from the broker.conf, I think we should fix this by either:

A) just going back to use the constructor here:https://github.com/apache/pulsar/blob/9f687d3f67d7534cb9ee77ddd2c7d0f24d34d0b4/pulsar-common/src/mai

[2020-10-20 04:12] gaoran10 commented on #8220
@addisonj Thanks, I prefer the approach B too.

Yes, about the configurations cover problem, we could fix it in another PR.

[2020-10-20 04:58] codelipenghui commented on #7436
Interesting, could you please share more details of your test? such as did you set up the data retention? The Non-durable consumer is equaled to Reader, If the Non-durable consumer can't work, I think the reader API also can't work.

[2020-10-20 06:06] QiAnXinCodeSafe opened #8305 "There is a vulnerability in Apache Hadoop 2.8.2 ,upgrade recommended"
https://github.com/apache/pulsar/blob/8ddd6bae1f7f2e81c0f77a2fe3a76709cd87aa29/pulsar-io/hdfs2/pom.xml#L48-L52

CVE-2018-1296
CVE-2018-8009
Recommended upgrade version：2.13.2

[2020-10-20 07:54] milos-matijasevic commented on #8220
Thank you guys,
As @addisonj mentioned we spoke (thanks a lot for effort) about improvements and i have some things that may be good

- command for unsetting offload policies for namespace so it can go back to default `pulsar-admin namespaces unset-offload-policies`
- command for getting default offload policies
- Sparse properties saved for namespaces, if property is set for namespace use it, if

[2020-10-20 08:12] e-marchand-exensa opened #8307 "[Java] [v2.5.2] An exception was thrown by TimerTask: NullPointerException"
**Describe the bug**
I saw this warning log:

`WAR|20/093812.590 o.a.p.s.i.n.u.HashedWheelTimer@ulsar-timer-10-1 An exception was thrown by TimerTask.
java.lang.NullPointerException: null
	at org.apache.pulsar.client.impl.ConsumerBase.notifyPendingBatchReceivedCallBack(ConsumerBase.java:567)
	at org.apache.pulsar.client.impl.ConsumerImpl.completeOpBatchReceive(ConsumerImpl.java:1422)
	at org.apach

[2020-10-20 09:05] kent-crypto opened #8308 "Close the consumer graceful"
**Is your enhancement request related to a problem? Please describe.**
Yes. I want to stop some of the components of the system without turnoff the inflow.

**Describe the solution you'd like**
 I would like to achieve the goal on closing consumer: the message listener stop receiving any new message, and waits till the ongoing message to be completed.

**Describe alternatives you've considered**
A

[2020-10-20 09:48] wolfstudy commented on #8305
@QiAnXinCodeSafe https://mvnrepository.com/artifact/org.apache.hadoop/hadoop-client Looks like there is no version 2.13.2

[2020-10-20 10:48] jiangmincong opened #8309 "Pulsar C client reports a memory leak"
**Describe the bug**
A clear and concise description of what the bug is.

Pulsar C client reports a memory leak

![image](https://user-images.githubusercontent.com/22076140/96576302-91b09d80-1304-11eb-990f-43c7fd1f29fc.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise descriptio

[2020-10-20 11:13] gaoran10 commented on #8220
@milos-matijasevic @addisonj I added an issue to record the offload configuration setting improment, PTAL. https://github.com/streamnative/pulsar/issues/1578

Maybe we could fix this issue first and make the improvements in other PRs.

[2020-10-20 16:02] bschofield opened #8311 "Memory leak in golang client (cgo interface)"
**Describe the bug**

When a message is asynchronously sent using the C client, the function *pulsar_producer_send_async()* (in file *c_Producer.cc*) will set up a shim function *handle_producer_send()* to handle the callback.

Inside *handle_producer_send()*, a `pulsar_message_id_t` is created:

[code]

I cannot find where this memory is freed. It seems to be the source of a memory leak.

Because

[2020-10-20 17:03] bschofield commented on #8311
After discussion with @merlimat, it seems that the behavior of the C interface code is intended, and it has to be that way due to legacy client constraints. It is intended that clients using the C interface call *pulsar_message_id_free()* after a callback with a result of `pulsar_result_Ok`.

Currently, the cgo interface appears to fail to make that call. Hence, the bug is in the pulsar cgo interf

[2020-10-20 20:21] pushkar-engagio commented on #173
Hi,

We are experiencing same issue with 2.6.0. We are seeing intermittent timeouts while producing message. It's logged as a WARN.

In the broker logs, there are no errors. Only Info message regarding closing existing ledger and opening a new ledger. In our case the closing and opening message is about 2 minutes apart.

[2020-10-20 20:28] Carmezim commented on #2568
Any plans to support Python 3.9?

[2020-10-21 01:14] #8226 closed

[2020-10-21 01:52] QiAnXinCodeSafe commented on #8305
yes，My fault，please upgrade 2.8.5

[2020-10-21 01:59] jiazhai commented on #8279
@Redirts  is this link help? https://pulsar.apache.org/docs/en/io-quickstart/#connect-pulsar-to-postgresql

[2020-10-21 02:01] jiazhai commented on #8279
would also like to have @vzhikserg in the thread, who is the author for clickhouse connector.

[2020-10-21 02:17] wolfstudy commented on #8305
I send a [pull request](https://github.com/apache/pulsar/pull/8319) to fix the issue, PTAL thanks.

[2020-10-21 02:58] jiazhai opened #8320 "[Function] Support cluster location for input/output topic in Pulsar"
currently, pulsar function only support input/output topic in the same cluster, sometimes, the user wants to handle messages from one cluster to another cluster.

[2020-10-21 03:00] mingfang commented on #4672
It appears that transforms are not working in general.
This is my config and I'm not seeing transforms working.
I'm also not seeing errors.  It is as if transforms are ignored completely.

[code]

[2020-10-21 03:01] jiazhai commented on #8320
@nlu90  to take a look

[2020-10-21 03:19] congbobo184 commented on #8254
can i have a look for you core-site.xml and hdfs-site.xml？

[2020-10-21 04:03] pushkar-engagio opened #8321 "Timeout while producing message"
**Describe the bug**
We are seeing intermittent timeouts while producing message. It's logged as a WARN.

Exception:
` [java] 2020-10-19 22:26:52,540 [qtp1873635139-96] WARN  c.d.i.d.campaign.DBCampaignQueue - Pulsar PerTenantPubSub persistent://1017/DB/campaign has failed to publish a message 1 times. The failure messageis The producer pulsar-98-446 can not send message to the topic persistent://

[2020-10-21 04:25] mingfang opened #8322 "Add Wildcard table support to Presto"
BigQuery has a very nice feature called wildcard table here
https://cloud.google.com/bigquery/docs/reference/standard-sql/wildcard-table-reference

Since pulsar supports regex topics, I wonder if it's possible to also add wildcard tables support to Presto.
Currently it (naturally) prints out this error when I try selecting from wildcard
[code]

As a bit of background I'm using Debezium to read fro

[2020-10-21 04:25] #8130 closed

[2020-10-21 04:34] pushkar-engagio commented on #8321
The CPU load on zookeeper barely reaches 3%

[2020-10-21 05:19] turtleDeng opened #8323 "Client development issues"
I am trying to use Erlang to develop the pulsar client library, and after reading the official documentation, Use Protocol Buffer for protocol interaction.
When I was developing the consumer, I found that the format of the received packet was different from that of the document
[code]
The magicNumber and checksum in the document do not match the package I received

The following is a complete pack

[2020-10-21 05:40] #8323 closed

[2020-10-21 06:03] Redirts commented on #8279
Hi,

The link you provide describes setting up the jdbc sink without writing any
line of code. I would like to be able to manipulate the data before it is
sent to clickhouse via java code.

Thanks

On Wed, 21 Oct 2020, 03:02 Jia Zhai, <notifications@github.com> wrote:

[2020-10-21 06:27] QiAnXinCodeSafe opened #8324 "There is a vulnerability in Apache Solr 8.6.0 ,upgrade recommended"
https://github.com/apache/pulsar/blob/3147e9e13f5af8bc23efd540e7907710ca7ad4b4/pulsar-io/solr/pom.xml#L32

CVE-2020-13957

Recommended upgrade version：8.6.3

[2020-10-21 10:15] #8305 closed

[2020-10-21 11:16] #8260 closed

[2020-10-21 11:49] codelipenghui commented on #8252
@Jennifer88huang No, it's not a dup, #8237 introduces a new mechanism for the deduplication check.

[2020-10-21 14:23] lhotari commented on #8307
FYI, I'm currently working on the same source code files where that NPE happens. I'm pretty confident that this will be fixed by PR #8326 .

The reason for the NPE seems to be that op is null on this line:
https://github.com/apache/pulsar/blob/v2.5.2/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBase.java#L600

[2020-10-21 15:06] lhotari commented on #8233
@harissecic This feature has already been implemented by #6842 which is included since 2.6.0+.

There's a Kotlin code example in https://github.com/apache/pulsar/issues/6528#issuecomment-701410483 about how to use it. I haven't tried it myself, but there's a note that it doesn't work with the shaded client and you should use pulsar-client-original dependency instead of pulsar-client.

[2020-10-21 15:07] lhotari commented on #8215
@MaitreyaBuddha  This feature has already been implemented by #6842 which is included since 2.6.0+.

There's a Kotlin code example in https://github.com/apache/pulsar/issues/6528#issuecomment-701410483 about how to use it. I haven't tried it myself, but there's a note that it doesn't work with the shaded client and you should use pulsar-client-original dependency instead of pulsar-client.

[2020-10-21 15:10] lhotari commented on #6889
This feature has already been implemented by #6842 which is included since 2.6.0+.

There's a Kotlin code example in https://github.com/apache/pulsar/issues/6528#issuecomment-701410483 about how to use it. I haven't tried it myself, but there's a note that it doesn't work with the shaded client and you should use pulsar-client-original dependency instead of pulsar-client. I guess #6902 is to cover

[2020-10-21 15:14] lhotari commented on #6213
#6842 has been implemented since 2.6.0+.

There's a Kotlin code example in https://github.com/apache/pulsar/issues/6528#issuecomment-701410483 about how to use it. I haven't tried it myself, but there's a note that it doesn't work with the shaded client and you should use pulsar-client-original dependency instead of pulsar-client. I guess #6902 is to cover the shading issues. As a workaround you s

[2020-10-21 15:16] harissecic commented on #8233
Thanks, I'll review this and check if it's possible to use it. I'm unaware about pulsar-client-original and what's the difference between non "original" one. If they are the same then I can switch to it if it passes tests. However this is not only for JSON it's also mentioning other Schema translator substitutions so it would help if they have more than just ObjectMapper.. However I'll check it ou

[2020-10-21 15:52] lhotari commented on #8233
[pulsar-client](https://search.maven.org/artifact/org.apache.pulsar/pulsar-client/2.6.1/jar) shades most dependencies. [pulsar-client-original](https://search.maven.org/artifact/org.apache.pulsar/pulsar-client-original/2.6.1/jar) is the same code, but the dependencies aren't shaded. You can notice the difference in dependencies for example by comparing the pom.xml files.

[2020-10-21 16:57] #8259 closed

[2020-10-21 18:00] skyrocknroll commented on #8179
@devinbost seems like the issue did not happen again. Can you please close this issue?

[2020-10-21 18:57] #8179 closed

[2020-10-21 20:50] devinbost opened #8332 "Invalid characters in Pulsar function exceptions crash Prometheus"
We discovered today that if non-UTF-8 characters are included in a Pulsar function exception message, due to the way the exception messages are scraped, it stops Prometheus's ability to scrape any metrics from the broker that was running the function that threw the exception.

[2020-10-21 21:15] devinbost opened #8333 "Bookie returning from being off for several days resulted in split-brain"
We had a bookie in a cluster running Pulsar 2.4.0 that went down due to a memory hardware failure. When the bookie came back online a few days later, the cluster ended up in a split-brain state, resulting in all of the other bookies failing to connect. After a number of hours of troubleshooting, the only resolution was to completely rebuild the cluster, resulting in data loss.
I didn't think it wa

[2020-10-22 03:44] tuteng opened #8337 "Create a tool to initialize dlog namespace"
**Is your feature request related to a problem? Please describe.**

https://github.com/apache/pulsar/blob/master/pulsar-functions/worker/src/main/java/org/apache/pulsar/functions/worker/Worker.java#L155

Currently, the starting function worker service will initialize the distributed log namespace. when initializing the distributed log namespace, the zookeeper will be connected. A better way is to

[2020-10-22 03:56] tuteng opened #8338 "Splitting the authentication logic of function worker and client"
**Is your enhancement request related to a problem? Please describe.**

In some scenarios, users use their own function-worker to connect to an existing pulsar cluster. Their own function-worker and pulsar cluster have different authentication methods, In the following code, when both function-worker and client have enabled the authentication and authorization services, the authentication and auth

[2020-10-22 07:36] eolivelli commented on #8333
what do you mean with "split brain" ?
to have consumers that see different data on topics ?
to have multiple owners of the same topic/partition ?

[2020-10-22 09:45] futeng opened #8339 "[C Client] Server resource exhaustion due to C client memory leak"
**Describe the bug**

Testing with *valgrind* revealed a memory leak in the pulsar c client, as shown below.

And due to a memory leak problem, this can lead to:

1. The program restarts regularly
2. Host resources can be exhausted and cause a crash

![Catch7A1D(10-20-(10-20-18-32-08)](https://user-images.githubusercontent.com/2819340/96852856-3d382a00-148c-11eb-8c53-da980821ddd3.jpg)

**To Reprod

[2020-10-22 11:28] murong00 opened #8340 "[pulsar-testclient]Provide options to specify existing topics when allowAutoTopicCreation is disable and using multiple topics"
**Is your enhancement request related to a problem? Please describe.**
Some users may encounter the following issues when using multiple topics with option `--num-topics` but `allowAutoTopicCreation` is disable:
[code]
or using multiple subscriptions with option `--num-consumers` but `allowAutoSubscriptionCreation` is disable:
[code]

**Describe the solution you'd like**
Add some options to specif

[2020-10-22 13:19] aravindtga opened #8343 "Kafka source connector doesn't reconnect after kafka restart"
**Describe the bug**
Kafka source connector doesn't reconnect with Kafka after Kafka node failed and boots up again.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run Kafka
2. Run pulsar(2.6.1 pulsar-all image)
3. Create and run source connector in pulsar to connect with Kafka
4. Now it can be seen that source connector fetches the message from Kafka and put it back in pulsar topic
5. Bri

[2020-10-22 14:17] baynes opened #8344 "Pulsar Identity SerDe behaviour and documentation"
If you look at http://pulsar.apache.org/docs/en/functions-develop/#serde under the Python tab it says

"In Python, the default SerDe is identity, meaning that the type is serialized as whatever type the producer function returns."
"You can use the IdentitySerde, which leaves the data unchanged. The IdentitySerDe is the default."

This strongly gives the impression that the default `IdentitySerDe1

[2020-10-22 15:10] #6418 closed

[2020-10-22 15:37] BewareMyPower commented on #8339
First there is a flaw of C client's design, the callback needs to manual free the `pulsar_message_id_t`:

[code]

For the backward compatibility, it cannot be changed. You need to call `pulsar_message_id_free` in the callback function, see https://github.com/apache/pulsar/blob/e31d18c00e4967779f84f55b489468ccc0b83a40/pulsar-client-cpp/include/pulsar/c/message_id.h#L54

[2020-10-22 17:11] lhotari opened #8345 "[Documentation] Retention policy documentation is misleading and not accurate"
**Describe the bug**

Currently it's easy to misunderstand how retention policy should be configured. Both size and time should be set.
It's easy to do mistakes in the configuration. If one sets time to some value and sets size to 0, this will lead to the situation where there is no retention.

https://pulsar.apache.org/docs/en/2.6.1/cookbooks-retention-expiry/#set-retention-policy doesn't explici

[2020-10-22 17:19] lhotari opened #8346 "[Admin API] Prevent setting an invalid Retention Policy"
**Problem**
Currently if one [sets in the retention policy](https://pulsar.apache.org/docs/en/2.6.1/cookbooks-retention-expiry/#set-retention-policy) `--time` to some value and sets `--size` to 0, this will lead to the situation where there is no retention. Such retention policy should be rejected since the time setting will have no meaning when size is 0. (the same applies the other way around, s

[2020-10-22 17:22] addisonj commented on #8346
As a bit of a truth table for what configurations should be valid:

both greater than zero: valid
both -1: valid
both 0: valid
one greater than, one -1: valid
one 0, the other greater than 0 or -1: invalid

[2020-10-22 17:31] sijie commented on #8344
Option 1 should be preferred.  Are you interested in contributing a bug fix?

[2020-10-22 17:45] sijie commented on #8332
@devinbost This sounds like a problem on Prometheus side, not on the pulsar side, no?

[2020-10-22 18:35] sijie commented on #8321
@pushkar-engagio what are your send timeout settings?

[2020-10-22 18:46] sijie commented on #8309
@jiangmincong Your issue is the same as apache/pulsar#8339.

Please refer to https://github.com/apache/pulsar/issues/8339#issuecomment-714579552

[2020-10-22 18:46] #8309 closed

[2020-10-22 18:48] sijie commented on #8339
@futeng Can you check @BewareMyPower 's comment? You need to call `pulsar_message_id_free` to free the message-id. There is a known issue in cgo client (if you are using cgo client). The issue is tracked at apache/pulsar#8311

[2020-10-22 19:00] sijie commented on #8298
@losiu97 We can change the default logging format. Are you interested in contributing a fix to this?

[2020-10-22 19:50] devinbost commented on #8333
"Split-brain" meaning all but one of the bookies suddenly couldn't connect to the cluster.
We tried to resolve the problem by shutting down all the bookies that couldn't connect.
Then, we provisioned new bookies. They were able to successfully join the cluster with the one that was still up.
Then, after about an hour, we tried starting one of the bookies that hadn't been able to join.
Almost immed

[2020-10-22 20:08] eolivelli commented on #8333
In Bookkeeper there is not a concept of cluster/group of bookies but every bookie is independent from the others.
Each bookie announces itself on the metadata service (zk) and this way clients (pulsar brokers) are able to read/write from/to them.
This is why I was asking for what is a split-brain.

Probably they had problems in connecting to the Zookeeper ensemble.
Do you have logs on the bookies

[2020-10-22 21:17] #8240 closed

[2020-10-22 21:27] devinbost commented on #8333
One of the Zookeepers was giving these NodeExists exceptions:

[code]

Also, none of the Pulsar functions were getting assignments when this happened. FYI @jerrypeng ^^^

Also, we were seeing errors like these:

[code]

When the brokers started restarting (after the bookies were unhealthy), we also started seeing this repeat in the logs:

[code]
We also saw that same exception thrown from ModularL

[2020-10-23 03:01] QiAnXinCodeSafe opened #8354 "There is a vulnerability in Spring Framework 5.2.5.RELEASE ,upgrade recommended"
https://github.com/apache/pulsar/blob/54bdf2eae58af55007e19e6dc5f46a34cb20eac0/pulsar-io/batch-discovery-triggerers/pom.xml#L47-L51

CVE-2020-5421

Recommended upgrade version：5.2.9.RELEASE

[2020-10-23 03:19] zymap commented on #7076
It seems the bookkeeper client still uses the piggyback lac. We need the bookkeeper pr https://github.com/apache/bookkeeper/pull/1901, which can make pulsar read the explicit LAC from the bookkeeper. After this change merged, then update the pulsar to use that bookkeeper version. Then setting the `bookkeeperExplicitLacIntervalInMills` in the broker configuration file,  pulsar SQL can query the las

[2020-10-23 04:03] lhotari commented on #8345
I now checked the Javadoc for ManagedLedgerConfig.setRetentionTime .

"A retention time of 0 (the default), will to have no time based retention.
Specifying a negative retention time will make the data to be retained indefinitely, based on the
setRetentionSizeInMB value."

https://github.com/apache/pulsar/blob/22b8923a251c3356401090dacb8ff97fd37d14c1/managed-ledger/src/main/java/org/apache/bookkee

[2020-10-23 06:08] Ghatage commented on #7569
I agree with @sijie, this is a configuration problem and not a bug.

[2020-10-23 07:08] Jennifer88huang opened #8357 "[docs] Add doc on how to use batching for key_shared subscription"
Wanted to try out batching of messages could not identify the exact configs to enable this. https://pulsar.apache.org/docs/en/concepts-messaging/#batching.

**Expected behavior**
Add doc on how to use batching for key_shared subscription.

[2020-10-23 07:12] #8324 closed

[2020-10-23 10:39] bigbang489 opened #8359 "[Java Client] Is there a good way to verify the credentials (JWT token or principal) is valid or not?"
Creating a consumer or producer to good solution to check the client configuration is valid or not, but only if we know the topic name. In case we don't have topic name is there any way to verify the credential (token or principal) that user inputed?

[2020-10-23 14:30] lhotari opened #8362 "[Github Flow] pom.xml change is considered a documentation change"
The current Github Flow's  "Check if this pull request only changes documentation" step (id=docs) considers a pom.xml change as a documentation change. When there's a commit that doesn't contain other changes, all tests will be skipped.

**Expected behavior**
pom.xml shouldn't be considered as a documentation change and when any pom.xml file is change, it should run tests.

**Additional context**

[2020-10-23 18:15] pushkar-engagio commented on #8321
We are using the default timeout ie. 30 secods.

[2020-10-23 18:37] lhotari commented on #8362
It seems that this script is eventually used in the checks:
https://github.com/apache/pulsar-test-infra/blob/master/diff-only/entrypoint.sh
it's missing a feature to specify exception patterns, I guess. If the root pom.xml file changes, it's not a doc change.

[2020-10-23 19:06] Ghatage commented on #8333
@devinbost I think we need more Bookie logs for this. Is it possible for you to share some of those?
As @eolivelli said, when bookies come up they announce their membership to the cluster via a cookie. If there is a cookie mismatch, it will fail to come up. Hence for this reason, it would be helpful to see the bookie start up logs for that failed bookie.

Spinning up a new bookie would help when a

[2020-10-23 19:20] Ghatage opened #8364 "Bookie decommissioning documentation from 2.6.0 not present in 2.6.1"
**Describe the bug**
I had written some [documentation for decommissioning bookies](https://github.com/apache/pulsar/commit/59f160792a6335988c8604e15345e234ef06acb3) which went into the 2.6.0 release documentation [here](https://pulsar.apache.org/docs/en/2.6.0/administration-zk-bk/#decommissioning-bookies-cleanly).
If you go to the Pulsar website at the [2.6.1 documentation link](https://pulsar.ap

[2020-10-24 06:37] turtleDeng opened #8366 "Parsing payload commands failed"
Hello there,

I am using Erlang to write a Pulsar consumer.

If I used pulsar-2.3 the received message would be as follows:

[code]

But if I used pulsar-2.6, the received message would be:
[code]

No matter which version it is, it is inconsistent with your official document structure:

http://pulsar.apache.org/docs/en/develop-binary-protocol/#payload-commands

so I am very confused, how can I par

[2020-10-24 07:53] lhotari commented on #8362
To debug the issue I stored the logs from the pipeline to a gist: https://gist.github.com/lhotari/a4b7aa97d240b6914cfbb3935776c2ea#file-ci_bug_logs-txt-L675

[2020-10-24 10:51] lhotari commented on #8362
It seems that there's a bug in https://github.com/apache/pulsar-test-infra/blob/master/diff-only/entrypoint.sh .
it doesn't seem to handle the case when a commit includes changes only in the root directory
some log rows:
[code]

[2020-10-24 11:21] lhotari commented on #8362
I pushed a fix to diff-only https://github.com/apache/pulsar-test-infra/pull/11

[2020-10-26 01:01] #8345 closed

[2020-10-26 01:29] jiazhai commented on #8168
@congbobo184 @gaoran10 Would you please help take a look of this issue?

[2020-10-26 01:51] jiazhai commented on #2211
currently negative acks feature is done, this is not blocked anymore. Anyone would like to contribute to this please feel free to comments on this issue.

[2020-10-26 01:57] jiazhai commented on #886
currently, this is still ignored in the code, we could try to open this to have a try. mark this as help wanted, so developer, who would like to contribute to it, could help on this.

[code]

[2020-10-26 01:59] jiazhai commented on #878
close this issue, since the test is running well in current ci.

[2020-10-26 01:59] #878 closed

[2020-10-26 02:00] Jennifer88huang commented on #8364
@Ghatage thanks for raising the issue. We'll look into it soon.

[2020-10-26 02:02] jiazhai commented on #5235
would like to close this issue since no response from the reporter for a long time.
If this is reproduced, please reopen this issue, and try using `bin/pulsar-admin topics stats/stats-internal` to provided more details.

[2020-10-26 02:02] #5235 closed

[2020-10-26 02:04] jiazhai commented on #5449
@KannarFr Thanks for the reporting. is this still an issue in the latest code? would you please close this issue, if it is not?

[2020-10-26 02:06] jiazhai commented on #5415
pr 5420 merged.

[2020-10-26 02:06] #5415 closed

[2020-10-26 02:06] codelipenghui commented on #8366
@turtleDeng The frame does not change, are you using any protobuf-erlang lib for the command serialization and deserialization? If not, I think it will be more complicated because Pulsar uses the `pb` directly.

[2020-10-26 02:13] codelipenghui commented on #2280
There are several ways to achieve this feature:

1. Integration with OpenTracing https://streamnative.io/blog/tech/2020-06-11-opentracing-instrumentation-for-pulsar
2. Integration with SkyWalking  https://streamnative.io/blog/tech/2019-10-10-use-apache-skywalking-to-trace-apache-pulsar/
3. Leverage on Client interceptor of Pulsar

So close this issue first. Feel free to reopen this issue if needed

[2020-10-26 02:13] #2280 closed

[2020-10-26 02:13] jiazhai commented on #8282
@gaoran10 Would you please help take a look at this issue?

[2020-10-26 02:16] jiazhai commented on #5229
seems test is in running stats in current ci. would like to close this issue.

[2020-10-26 02:16] #5229 closed

[2020-10-26 02:17] codelipenghui commented on #2298
@zubchenok I will close this first, if you have any update or issues related to this issue, feel free to reopen it.

[2020-10-26 02:17] #2298 closed

[2020-10-26 02:17] jiazhai commented on #3809
would like to close this issue. feel free to reopen it. @david-streamlio

[2020-10-26 02:17] #3809 closed

[2020-10-26 02:20] codelipenghui commented on #2812
Close this issue first since there is no update for a long time. Feel free to reopen it.

[2020-10-26 02:20] #2812 closed

[2020-10-26 02:20] codelipenghui commented on #2863
Close this issue first since there is no update for a long time. Feel free to reopen it.

[2020-10-26 02:20] #2863 closed

[2020-10-26 02:21] codelipenghui commented on #2887
Close this issue first since there is no update for a long time. Feel free to reopen it.

[2020-10-26 02:21] #2887 closed

[2020-10-26 02:26] codelipenghui commented on #3813
@wolfstudy Any update for this issue? I noticed https://github.com/apache/pulsar-client-go/pull/69 was close. Is the issue resolved or shall we need to continue to fix this issue?

[2020-10-26 02:27] codelipenghui commented on #3822
@murong00 Are you interested in implement this feature?

[2020-10-26 02:27] jiazhai commented on #5451
seems the current test is running well in current ci. would like to close this issue

[2020-10-26 02:27] #5451 closed

[2020-10-26 02:31] codelipenghui commented on #3832
Thanks, @sijie you made a clear explanation. So I will close this issue first.

[2020-10-26 02:31] #3832 closed

[2020-10-26 02:34] codelipenghui commented on #3833
Cool @yanirj. Looks like it's related to the configurations of the s3. So I will close this first and feel free to reopen it if needed.

[2020-10-26 02:34] #3833 closed

[2020-10-26 02:34] codelipenghui commented on #3882
@BewareMyPower Could you please help take a look at this issue?

[2020-10-26 02:39] codelipenghui commented on #3906
Close this issue via https://github.com/apache/pulsar/pull/5716

[2020-10-26 02:39] #3906 closed

[2020-10-26 02:41] jiazhai commented on #5367
I recall the start offset should be supported in the current master. by #7891, would like to close this issue

[2020-10-26 02:41] #5367 closed

[2020-10-26 02:42] jiazhai commented on #5325
Would like to close this issue, since there was already a solution

[2020-10-26 02:42] #5325 closed

[2020-10-26 02:42] codelipenghui commented on #4055
@NotBad4U Any update on this issue?

[2020-10-26 02:42] #4055 closed

[2020-10-26 02:43] murong00 commented on #3822
@codelipenghui This feature is already supported based on version 1.8.1, you can refer to #3823 for some detail, I have addressed sijie's comment, you can help to review it again.

[2020-10-26 02:44] jiazhai commented on #5383
@addisonj Is this still an issue in the current code? If not, would you please help close this issue?

[2020-10-26 02:45] #5433 closed

[2020-10-26 02:49] lukestephenson-zendesk commented on #3833
I don't think this should have been closed.  Yes it is related to the configuration of pulsar / S3, but the fact the pulsar logs don't indicate the problem correctly make it almost impossible to debug.

[2020-10-26 02:49] codelipenghui commented on #4086
Thanks, @gsi-gilberto @ruudk. I think the official image also should consider this issue. @gsi-gilberto Are you interested in pushing a fix for Pulsar repo?

[2020-10-26 02:51] codelipenghui commented on #5480
Any update on this issue @limadelrey. I would like to close this issue first and reopen it if needed.

[2020-10-26 02:51] #5480 closed

[2020-10-26 02:52] codelipenghui commented on #5481
ping @tuteng Could you please help take a look at this issue?

[2020-10-26 02:54] jiazhai commented on #8362
Thanks @lhotari for the help

[2020-10-26 02:54] #8362 closed

[2020-10-26 02:55] BewareMyPower commented on #3882
@codelipenghui ok, I have to make a test first.

[2020-10-26 03:07] Jennifer88huang commented on #8364
Hi @Ghatage Thanks for your issue. I've just checked the content and found the inconsistent info in the different versions, and fix it in #8368.
Thanks again for your feedback. Any issue, feel free to comment.

[2020-10-26 03:18] 315157973 commented on #8237
I will solve it

[2020-10-26 06:23] futeng commented on #8339
The problem has not recurred for 4 days, by adjusting according to your suggestion. Thank you so much for your response and time. @BewareMyPower @sijie 😊👍.

[2020-10-26 06:23] #8339 closed

[2020-10-26 07:50] mianos opened #8373 "Stock helm install, standard python client example, proxy does not proxy, just discovers and redirects"
**Description**
Helm installed Pulsar proxy does not seem to proxy.
No TLS.
Maybe my misunderstanding  the clear documentation.
I assumed that the Pulsar proxy should proxy all Pulsar traffic into Kubernetes according to the documentation.
The Pulsar brokers should not need external addresses, as configured by default in the helm chart.

**To Reproduce**
Install pulsar via helm (with some persiste

[2020-10-26 08:13] #8300 closed

[2020-10-26 08:16] #8346 closed

[2020-10-26 08:33] #8373 closed

[2020-10-26 08:34] mianos commented on #8373
My mistake! I just knew it.
I had the host as: pulsar_host = "pulsar_host = "**http**://131.84.1.232:6650"
not "**pulsar**://131.84.1.232:6650"

[2020-10-26 08:46] KannarFr commented on #5449
This is not.

[2020-10-26 08:46] #5449 closed

[2020-10-26 09:46] turtleDeng commented on #8366
thank you for your reply.
I use protobuf-erlang to parse.
I can use pb to parse the message, but other fields cannot be parsed according to your document http://pulsar.apache.org/docs/en/develop-binary-protocol/#payload-commands

[2020-10-26 09:54] e-marchand-exensa commented on #8307
Hi @lhotari do you think this could fix an issue with a blocking `pulsarConsumer.batchReceive()` while using a `BatchReceivePolicy` with a timeout set ? I set a timeout to 250ms but it may fail to return after waiting for 60s.

[2020-10-26 10:09] limadelrey commented on #5480
Hi @codelipenghui,
I haven't been using Apache Pulsar for a while now. I assume that @tuteng's suggestion solves the problem.

[2020-10-26 10:13] eolivelli opened #8374 "Flaky-test: testManagedLedgerBookieClientStats(org.apache.pulsar.broker.stats.PrometheusMetricsTest) fails very often on CI"
I am seeing very often this error on GitHub Actions.
I am going to send a fix if there is no current work about this issue

[code]

[2020-10-26 10:17] turtleDeng commented on #8366
<img width="653" alt="pulsar1" src="https://user-images.githubusercontent.com/1830077/97160541-78ea3100-17b7-11eb-88ad-8449b88036a5.png">
<img width="1114" alt="pulsar2" src="https://user-images.githubusercontent.com/1830077/97160560-7c7db800-17b7-11eb-80c9-c46c324e88e3.png">

[2020-10-26 10:24] jiazhai commented on #8366
PulsarChannelInitializer.java contains the frame info:
![Uploading image.png…]()

[2020-10-26 10:57] lhotari commented on #8307
The problem is that `Consumer.batchReceive` doesn't currently provide a way to set the timeout for a batchReceive call. The `BatchReceivePolicy` controls the batch creation, but when no messages are received, the timeout will have no impact on a batchReceive call. With the #8326 changes, it's possible to set the timeout for batchReceiveAsync call in JDK 9+, for example:
[code]
This means that ther

[2020-10-26 11:52] Jennifer88huang opened #8377 "The REST API links on the topic page do not work"
**Describe the bug**
All the REST API links on the [topic page](https://pulsar.apache.org/docs/en/2.6.1/admin-api-persistent-topics/#rest-api) do not work.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://pulsar.apache.org/docs/en/2.6.1/admin-api-persistent-topics/#rest-api
2. Click any REST API links like "GET /admin/v2/persistent/:tenant/:namespace"
3. The link navigates to a

[2020-10-26 12:10] e-marchand-exensa commented on #8307
@lhotari , thanks for your inputs.

Wow, that's not what I had supposed and do not match what I observe either. But may be I don't understand what you mean **exactly**. Most of my consumers does not receive any messages but still does not block indefinitely. It happens "sometimes" (in the closing process of my application) and I'm hard to reproduce the problem.

As a work around, I'm using `pulsar

[2020-10-26 12:34] KannarFr commented on #8271
@315157973 already did it. Nvm.

[2020-10-26 12:34] #8271 closed

[2020-10-26 12:54] eolivelli commented on #8374
This is probably a problem introduced with #6814 fix

[2020-10-26 12:57] congbobo184 opened #8378 "[Transaction] ignore the txnMessageAckTest"
`[Transaction]Delete transaction marker implement` #8318 depend on `[Transaction] TransactionBuffer Refactor` #8347, so ignore the txnMessageAckTest, when one of them merge, other one can open the  txnMessageAckTest again

[2020-10-26 13:13] #7571 closed

[2020-10-26 13:29] eolivelli commented on #8374
fix is #8379

[2020-10-26 14:10] jiazhai commented on #8366
![image](https://user-images.githubusercontent.com/6348208/97182887-0ccbf500-17d8-11eb-8c66-90a2f10dc390.png)

[2020-10-26 15:05] lhotari commented on #8307
@e-marchand-exensa based on the source code, calling `batchReceive` will block forever unless there are messages in the topic or new messages while the call in progress.

[2020-10-26 15:19] e-marchand-exensa commented on #8307
@lhotari pretty sure it is not the behavior I see in v2.5.2. I will try to dive into it again.