[2022-10-04 06:44] tisonkun opened #17921 "Flaky-test: PrometheusMetricsTest.testDuplicateMetricTypeDefinitions"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/tisonkun/pulsar/actions/runs/3179774186/jobs/5182608943

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-10-04 16:11] AnonHxy opened #17931 "[Bug] A significant performance regression about producer publish throughput on master branch"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

* It seems that  https://github.com/apache/pulsar/pull/17049 bring a significant performance regression
### Version

* OS:
    Default locale: en_US, platform encoding: UTF-8
    OS name: "linux", version: "3.10.0-514.16.1.el7.x86_64", arch: "amd64", family: "unix"
* JDK:

[2022-10-04 19:31] lhotari opened #17933 "Flaky-test: V1_ProxyAuthenticationTest.anonymousSocketTest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3184651648/jobs/5193461550#step:10:1372

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [X] I'm willing to submit a PR!

[2022-10-05 01:26] hrsakai commented on #17786
I changed the compatibility table of [the pulsar document](https://pulsar.apache.org/docs/client-libraries-node/) to a link in https://github.com/apache/pulsar/pull/17935 .

[2022-10-05 03:45] Hongten opened #17941 "[fix][doc] There are some typos in ManagedLedgerConfig"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

There are some typos in ManagedLedgerConfig by searching `when when`.

### What is your suggestion?

Remove one `when `.
No document need change.

### Any reference?

N/A

### Are you willing to submit a PR?

- [X] I'm willing t

[2022-10-05 03:47] tisonkun commented on #17921
another instance https://github.com/apache/pulsar/actions/runs/3186170155/jobs/5198019258

[2022-10-05 07:14] #17941 closed

[2022-10-05 07:44] BewareMyPower commented on #17468
The root cause is the `--with-universal-archs` option. When it's `universal2` on a macOS with Intel based CPU architecture, `make test` would fail. But if it's `Intel-64`, the Python wheel might not support ARM architecture. Currently, I will change the option to `Intel-64` to make the script work for Intel based macs.

[2022-10-05 14:42] #17786 closed

[2022-10-05 14:48] lhotari commented on #17815
One workaround for the above issue is to add JVM option `-XX:ActiveProcessorCount=n` where n=the total available CPU cores. In the example case, adding `-XX:ActiveProcessorCount=n` to Pulsar's JVM options would be a workaround.

[2022-10-05 18:42] #17916 closed

[2022-10-06 02:23] thetumbled commented on #17815
actually,we restrict pulsar broker to use 23 CPU cores on purpose. i wonder whether there are any problem to set a dummy value 40.
[code]

[2022-10-06 06:03] lin-zhao opened #17947 "PIP-210: Admin API should be able to return messages in human-readable formats."
### Motivation

Currently, `pulsar-admin topics peek-messages` and the REST equivalent return the message payload in their original binary form. In the case that the topic has a complex schema, for example, AVRO, protobuf-encoded binary is returned. This results in two issues.

1. The output can be unreadable with hidden charractors.
2. The response from the REST API doesn't conform to HTTP standa

[2022-10-06 10:10] moweonlee commented on #13167
Yes, you're right @fmiguelez.

Same issue was reproduced after couple of days and I solved my issue just by reducing retention and TTL finally.

But I'd rather swear that the issue reproducer long than before.

Thank you for sharing  your information about compaction.

[2022-10-06 11:36] XComp opened #17949 "[Bug] There's no proper NOTICE file provided for pulsar-client-all"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.10.0

### Minimal reproduce step

`org.apache.pulsar:pulsar-client-all:2.10.0` provides a kind of empty NOTICE file:
[code]

### What did you expect to see?

I would expect shaded dependencies (see [apache/pulsar:pulsar-client-all/pom.xml:L120](https://gith

[2022-10-06 15:06] eolivelli opened #17952 "Add a hard limit on the size of pending read requests to storage"
### Motivation

Currently (Pulsar 2.10) there is one problem when you have many subscriptions and consumers (even 20.000 consumers) and partitions.
It is very easy to push the Broker to OutOfMemory (Netty Direct Memory) under that condition if you don't configure rate limiting on the dispatch of the messages.

The OODM happens because the broker is trying to READ too much data from the Bookies,
in

[2022-10-06 20:03] lin-zhao commented on #17947
The actual string format is determined by the schema. Some json, some plain text. Perhaps `--format=binary/string`

[2022-10-07 14:52] tisonkun opened #17960 "[BUG] Site build consistently fails"
@merlimat @Anonymitaet @urfreespace @momo-jun

Since @DaveDuggins doesn't upload these SVG files, the site build is currently broken: https://github.com/apache/pulsar-site/actions/runs/3204572728/jobs/5236018179.

If @DaveDuggins can provide the files, I'm glad to help with submitting a patch. Otherwise, we may firstly revert this commit.

_Originally posted by @tisonkun in https://github.com/apac

[2022-10-07 16:20] tisonkun commented on #17960
@DaveDuggins So, the answer is, opening another pull request :)

[2022-10-07 16:23] DaveDuggins commented on #17960
OK

[2022-10-08 03:18] keyboardbobo opened #17966 "Unknown reason causes getPositionAfterN infinite loop"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

pulsar 2.9.2, bookkeeper 4.14.4

### Minimal reproduce step

See the picture in the comment area

### What did you expect to see?

Return normally, the task is executed normally

### What did you see instead?

The BookKeeperClientWorker-OrderedExecutor-15-0 t

[2022-10-08 03:26] keyboardbobo commented on #17966
![E7A92FEC-5579-4B63-A080-F7A0992816CB](https://user-images.githubusercontent.com/9923278/194685800-f3d3b256-4484-40d4-845b-8c7090b39b98.jpeg)
![23A17088-85A0-49E3-90B2-50E531D6A04E](https://user-images.githubusercontent.com/9923278/194685822-250ffa79-c771-451f-8c0c-37f5695fed64.jpeg)
![B1ABE087-34EF-4460-B7A0-CFD7CF03F398](https://user-images.githubusercontent.com/9923278/194685832-f6939f85-c0c7-

[2022-10-08 03:27] keyboardbobo commented on #17966
![1E6B6D0B-FAD4-4D17-BC98-75542E0CF3B7](https://user-images.githubusercontent.com/9923278/194685908-c6c841ab-daac-413c-ad8a-ef98f8b72d37.png)

![32D4F623-B292-477F-A34C-772C7512A1B2](https://user-images.githubusercontent.com/9923278/194685923-bc583cc3-a00e-4fed-92c8-e28c9e4ac005.png)

![9DFB87F1-6A2F-450E-8D17-F47C179A1C4D](https://user-images.githubusercontent.com/9923278/194685928-19ba0d8a-a0ff-

[2022-10-08 03:31] keyboardbobo opened #17967 "Unknown reason causes getPositionAfterN infinite loop"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

pulsar 2.9.2, bookkeeper 4.14.4

### Minimal reproduce step

![3DA3DF46-3111-44D0-B6D8-956AF6BD92D2](https://user-images.githubusercontent.com/9923278/194686027-185bb207-1e07-4876-a429-9711fd198f9c.png)

![B89CE8F5-C446-4615-9D55-53CB76432F8B](https://user-im

[2022-10-08 03:31] keyboardbobo commented on #17966
dumplicate

[2022-10-08 03:31] #17966 closed

[2022-10-08 03:36] keyboardbobo commented on #16859
@poorbarcode  There is a new development on the question, but I'm not sure if it's the same problem:
 https://github.com/apache/pulsar/issues/17967

[2022-10-08 07:27] keyboardbobo commented on #17967
@Technoboy-
Should the condition of `lastLedger` be modified to :
if (currentLedger != null && currentLedgerId **>=** currentLedger.getId())

[2022-10-08 08:18] SignorMercurio commented on #17514
Should we close this issue as it's implemented in apache/pulsar-site#227?

[2022-10-08 09:55] Technoboy- commented on #17967
Yes, I think so.

[2022-10-08 15:52] Technoboy- commented on #17967
@keyboardbobo What's the value of `startPosition`?
Is this issue reproducible?

[2022-10-08 16:53] Fischchen commented on #6220
Are there any plans to port it to windows?

[2022-10-09 00:59] keyboardbobo commented on #17967
I have restarted the service and can no longer see the value of startPosition. In the case of large traffic, the stress test can generally be reproduced for a day and a half, and the probability of recurrence is very high. It may be that one or more thread groups of an instance appear.

[2022-10-09 01:57] shibd commented on #16795
Another one: https://github.com/shibd/pulsar/actions/runs/3210516613/jobs/5248015431

[2022-10-09 01:58] shibd commented on #16795
@eolivelli @codelipenghui Can you help reopen it?

[2022-10-09 02:50] BewareMyPower commented on #4967
Eventually I found the reason. When compiling libcurl from source, some features depend on some other libraries. For static linking, these other libraries must be linked. Another solution is to disable these features. Here is the command how I configured the libcurl:

[code]

As you can see:
- `--without-brotli` will remove all symbols that start with `_Brotli`
- `--without-librtmp` will remove al

[2022-10-09 03:24] Technoboy- commented on #17967
Ok. I will push a fix for the current issue.

[2022-10-09 03:31] urfreespace commented on #17514
@Anonymitaet

[2022-10-09 04:32] tisonkun opened #17972 "Tracking issue for Archive Crowdin based translation initiative"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

As discussed in https://github.com/apache/pulsar/discussions/17810, an initiative without further contributors and no maintainer to shepherd can be archived instead of left alone.

Whether CAT is a better choice or Crowdin can be added back later should be

[2022-10-09 04:33] tisonkun opened #17973 "Mention the Archived state in pulsar-translation README"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

This is a subtask of #17972.

### Solution

_No response_

### Alternatives

_No response_

### Anything else?

_No response_

### Are you willing to submit a PR?

- [X] I'm willing to submit a PR!

[2022-10-09 04:35] tisonkun commented on #17973
Then archive https://github.com/apache/pulsar-translation repo since now no maintainer is actively working on it.

cc @merlimat @dave2wave I don't know whether it requires a PMC resolution or by lazy consensus and a PMC member can request it in INFAR JIRA project.

[2022-10-09 04:36] tisonkun opened #17974 "Cleanup build script related to Crowdin integration"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

This is a subtask of #17972.

### Solution

_No response_

### Alternatives

_No response_

### Anything else?

cc @urfreespace would you help with this task?

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-10-09 16:38] Shawyeok commented on #16980
Same here:
- https://github.com/Shawyeok/pulsar/actions/runs/3213296801/jobs/5252927147

[2022-10-09 22:06] #17437 closed

[2022-10-10 01:52] momo-jun opened #17977 "[Doc] Missing the doc about how to authenticate a Kafka cluster using Kafka connectors"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

The issue was reported as below:

### What is your suggestion?

Add the documentation for https://github.com/apache/pulsar/pull/13095 to fill the content gap.

### Any reference?

_No response_

### Are you willing to submit a P

[2022-10-10 02:05] tisonkun commented on #15311
Implemented at https://github.com/apache/pulsar/pull/17961. @nodece @Anonymitaet you may close this issue as completed.

[2022-10-10 02:24] Anonymitaet commented on #17977
@momo-jun Thanks! The technical inputs can be fetched from https://github.com/apache/pulsar/pull/13095/files#diff-3fc217b425487539188b871310962802bf0d2350590e6935d7e6c64447f1274a

Hi @Shoothzj since you're the author of https://github.com/apache/pulsar/pull/13095, could you please help review the doc PR later?

cc @SignorMercurio another case that we need to update the connector conf table manuall

[2022-10-10 02:52] nodece commented on #15311
Closed by #17961, thank you all for your contributions!

[2022-10-10 02:52] #15311 closed

[2022-10-10 02:56] Anonymitaet commented on #15311
Thank you all! @mangoGoForward @maxsxu @tisonkun @nodece

[2022-10-10 03:16] Anonymitaet commented on #17514
I'll close this once the new feature is stable and the [workflow](https://docs.google.com/document/d/1cwNkBefKyV6OPbEXnUrcCdVZi0i2BezqL6vAL7VqVC0/edit?pli=1#heading=h.9j49rsvsbimy) is finalized.

[2022-10-10 03:43] dragonls opened #17979 "[Bug] Unable to read schema error while upgrading broker version from 2.8.2 to 2.9.3"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Pulsar 2.9.3 (upgrading from 2.8.2)

### Minimal reproduce step

1. Running a Pulsar cluster with 2.8.2
2. Upgrading broker to 2.9.3

### What did you expect to see?

No obvious error or warning log.

### What did you see instead?

Lots of error and warning l

[2022-10-10 04:33] #17642 closed

[2022-10-10 06:40] jiangpengcheng opened #17982 "[Bug] package is deleted when a related function is deleted"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

db68648c

### Minimal reproduce step

1. upload package

[code]

2. create function using this package:

[code]

3. delete the function:

[code]

4. recreate the function, and it report 404 error:

[code]

### What did you expect to see?

function recreated s

[2022-10-10 07:29] startjava opened #17983 "[Bug] getUnackedMessages() always return 0"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

pulsar 2.10.1

https://github.com/apache/pulsar/discussions/17978

### Minimal reproduce step

https://github.com/apache/pulsar/discussions/17978

### What did you expect to see?

https://github.com/apache/pulsar/discussions/17978

### What did you see instea

[2022-10-10 08:52] RobertIndie opened #17984 "[Bug] Cannot publish chunking message in the standalone mode"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

master branch

### Minimal reproduce step

* Start the standalone with the default configuration. (Using rocksdb as the metadata store)
* Publish the large message

### What did you expect to see?

* Publish successfully

### What did you see instead?
[code]

[2022-10-10 09:07] nahguam commented on #17947
I'm not sure that's true. Yes, the (Pulsar) `GenericRecord` has a `SchemaType` and it might make sense to simply stringify all values. However, how should you stringify `JSON`? An escaped JSON string is frustrating to have to deal with from a user perspective. I'd argue the actual unescaped json node should be returned in that case. I argue a similar point for number and boolean types as well.

[2022-10-10 10:05] Anonymitaet commented on #17918
Hi @merlimat @BewareMyPower

Currently (2.8.4), even though C++ and Python are moved out of the main Pulsar repo, their release notes are still together with the Pulsar core.

- [Pulsar 2.8.4 release page](https://github.com/apache/pulsar/releases)

<img width="774" alt="image" src="https://user-images.githubusercontent.com/50226895/194842326-db617638-cf20-427d-9f2b-ae208db2a07c.png">

In the futu

[2022-10-10 10:34] startjava commented on #17984
maybe not bug ！
standalone.conf：
maxMessageSize=5242880
nettyMaxFrameSizeBytes=5253120

you try ! good luck .

[2022-10-10 12:04] startjava commented on #17983
5 message , ack 1 message , but result 0：

[ghy@localhost bin]$ .//pulsar-admin topics stats myTopic1
{
  "msgRateIn" : 0.0,
  "msgThroughputIn" : 0.0,
  "msgRateOut" : 0.0,
  "msgThroughputOut" : 0.0,
  "bytesInCounter" : 1170,
  "msgInCounter" : 15,
  "bytesOutCounter" : 1170,
  "msgOutCounter" : 15,
  "averageMsgSize" : 0.0,
  "msgChunkPublished" : false,
  "storageSize" : 1170,
  "backlogSize"

[2022-10-10 13:00] #17115 closed

[2022-10-10 13:20] shibd commented on #16561
another:  https://github.com/apache/pulsar/actions/runs/3217598688/jobs/5262602586

[2022-10-10 13:22] shibd commented on #17933
another: https://github.com/apache/pulsar/actions/runs/3217598688/jobs/5262602494

[2022-10-10 13:23] shibd commented on #17933
[code]

[2022-10-10 14:06] BajrangDubeyPersistent opened #17987 "[Bug] Issue with implementing TLSAuthentication using Java"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Apache Pulsar 2.8.2

[PythonTLSConsumer.txt](https://github.com/apache/pulsar/files/9746290/PythonTLSConsumer.txt)
[PythonTLSProducer.txt](https://github.com/apache/pulsar/files/9746292/PythonTLSProducer.txt)
[JavaTLSConsumer.txt](https://github.com/apache/pu

[2022-10-10 23:13] syhily opened #17989 "[Bug][Client] Direct Buffer memory leak on Pulsar Admin API in Java"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

pulsar-client-all: 2.10.1
pulsar: 2.10.0
flink-connector-pulsar: 1.17-SNAPSHOT

### Minimal reproduce step

Change the Java from 8 to 11 in flink application which uses `pulsar-client-all`. The console shows that the direct buffer memory leaks in Admin API qu

[2022-10-11 02:11] startjava commented on #17984
@RobertIndie
https://github.com/apache/pulsar/pull/17985
mean future version not config bottom 2 item ?
maxMessageSize=5242880
nettyMaxFrameSizeBytes=5253120

[2022-10-11 02:17] #17634 closed

[2022-10-11 02:18] #17643 closed

[2022-10-11 03:02] RobertIndie commented on #17984
@startjava This is a bug fix for the standalone. Currently, the pulsar standalone doesn't respect these configurations.

[2022-10-11 03:10] startjava commented on #17984
@RobertIndie
I still don't understand, so what is the effect of fixing this bug result? Don't  need to configure these two items?

[2022-10-11 04:07] RobertIndie commented on #17984
You can try to reproduce the issue yourself. The current behavior is incorrect. No matter what bookie-related configurations you set for it, it will not respect.

[2022-10-11 04:16] liangyuanpeng commented on #17983
You're use acknowledgeCumulative and nod ack method , see https://github.com/apache/pulsar/discussions/17978#discussioncomment-3835999 , so you got the unackmessages is 0.

I have test this case:

1. consumer subscribe topic of `persistent://public/default/test`
2. producer send 10 messages to `persistent://public/default/test`
3. consumer ack the first message
4. check unackMessages from `pulsarc

[2022-10-11 04:19] startjava commented on #17983
How do I change my code so that the result is 9?

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年10月11日(星期二) 中午12:16
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [apache/pulsar] [Bug] getUnackedMessages() always return 0 (Issue #17983)

You're use acknowledgeCumulative and nod ack method , see #17978 (reply in thread) , so you got the u

[2022-10-11 04:21] startjava commented on #17984
@RobertIndie

but i use ：
[code]

[code]

i print info :
[code]
look print result ,chunking success ! ??

i effect is error ??

[2022-10-11 04:39] liangyuanpeng commented on #17983
https://github.com/apache/pulsar/discussions/17978#discussioncomment-3844883

[2022-10-11 04:41] coderzc commented on #16561
another one: https://github.com/apache/pulsar/actions/runs/3223890093/jobs/5274562746#step:10:1650

[2022-10-11 06:03] #17960 closed

[2022-10-11 06:15] startjava commented on #17983
(4)check unackMessages from pulsarctl topics stats persistent://public/default/test-partition-0 (this is a partition topic )

can only use ??:
persistent://public/default/test

[2022-10-11 06:19] startjava commented on #17983
i use ""myTopic1-partition-0""

result exception:
org.apache.pulsar.shade.javax.ws.rs.NotFoundException: HTTP 404 Partitioned Topic not found: persistent://public/default/myTopic1-partition-0 has zero partitions

[2022-10-11 07:25] momo-jun commented on #6923
Hi @vcottagiri @rocketraman, the next version of the doc for Key_Shared Subscription has been enhanced with more tech details, compared with 2.5.1. See [here](https://pulsar.apache.org/docs/next/concepts-messaging/#key_shared). So I'll close the issue at this moment. Feel free to reopen it and add your contributions.

[2022-10-11 07:25] #6923 closed

[2022-10-11 07:30] tisonkun opened #17996 "[Doc] New references pages 404"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

* https://pulsar.apache.org/reference/

... and if you try to jump to other versions:

* https://pulsar.apache.org/2.9.0/reference/

If you manually correct it to `https://pulsar.apache.org/reference/2.9.0`:

* https://pulsar.ap

[2022-10-11 08:09] RobertIndie commented on #17984
@startjava What metadata store did you use? Also, make sure to use the correct pulsar version.

[2022-10-11 08:12] startjava commented on #17984
i only start standalone pulsar , all  default config .
i use pulsar 2.10.1 version.
@RobertIndie

[2022-10-11 08:14] liangyuanpeng commented on #17983
Your topic is not partition topic ,so you should check the status from topic of `persistent://public/default/myTopic1`.

[2022-10-11 08:18] startjava commented on #17983
but this issues top has my check status json result , unackmsgcount value is 0.
in addition， value not is 0 ,must partition topic??
@liangyuanpeng

[2022-10-11 08:19] liangyuanpeng commented on #17984
Pulsar 2.10.1 use zk metadata store by default and this issue is about rocksdb metadata store.

[2022-10-11 08:21] startjava commented on #17984
if use my envirment , how do unackmsgcount value not 0 ?  wait new pulsar release version?

[2022-10-11 08:30] RobertIndie commented on #17984
Do you mean reproduce? I think you could also reproduce in pulsar 2.10.1 by using other metadata like rocksdb.

[2022-10-11 08:36] startjava commented on #17984
i mean , i only use pulsar 2.10.1 release version , not use new master branch version, can implement value not is 0 result?

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年10月11日(星期二) 下午4:30
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [apache/pulsar] [Bug] Cannot publish chunking message in the standalone mode (Issue #17984)

ok,but i

[2022-10-11 08:42] startjava commented on #16242
直接在纯centos中运行？不用vm??这样？

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年8月4日(星期四) 上午10:32
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; "State ***@***.***&gt;;
主题: Re: [apache/pulsar] version 2.10单机启动出现近10个异常，我已经无语了，和2.8，2.9版本一样，旧版有的启动异常新版还有！ (Issue #16242)

是的，难道和VM有关？？
 …
 ------------------&nbsp;原始邮件&nbsp;------------------ 发件人: "apache/pulsar" @.&gt;; 发送时间:&

[2022-10-11 08:45] RobertIndie commented on #17984
This is not related to this issue. Please discuss it in a separate issue.

[2022-10-11 08:53] startjava commented on #17984
@RobertIndie
I'm so sorry. I figured it out .
i question is at https://github.com/apache/pulsar/discussions/17978
can help me ? thank you much . i wait one day .

[2022-10-11 09:10] Anonymitaet commented on #17996
@SignorMercurio
- The reference page is 404
- The changes of this PR https://github.com/apache/pulsar-site/pull/246 are not shown on the website.

Are they caused by website build failure?
https://github.com/apache/pulsar-site/actions/workflows/ci-pulsar-website-next-build.yaml
<img width="1623" alt="image" src="https://user-images.githubusercontent.com/50226895/195048694-61992ffb-648d-46dc-9afc-0

[2022-10-11 09:13] #17977 closed

[2022-10-11 09:21] tisonkun commented on #17996
You may notice that the latest build succeeded but these pages still seem not found.

[2022-10-11 09:38] congbobo184 commented on #17534
https://github.com/apache/pulsar/pull/17548 has improved it, so closed this pr

[2022-10-11 09:38] #17534 closed

[2022-10-11 10:18] SignorMercurio commented on #17996
@Anonymitaet I'll investigate the reference 404 issue, but the changes of apache/pulsar-site#246 have already taken effect.

[2022-10-11 10:49] nodece commented on #17517
@codelipenghui @michaeljmarshall @merlimat @eolivelli Could you review this PIP? This is important fix.

[2022-10-11 10:50] startjava commented on #17983
pulsar 2.10.1 version 。

[code]
[code]

[code]

run url "getUnAckMsgCount" , print info ：
myTopic1 getConsumerName=消费者1 getUnackedMessages=0

myTopic2 getConsumerName=消费者2 getUnackedMessages=0

alway value is 0 .

i where error ?

[2022-10-11 10:50] startjava commented on #17983
@liangyuanpeng  thank you

[2022-10-11 12:28] lhotari commented on #16561
again: https://github.com/lhotari/pulsar/actions/runs/3226330147/jobs/5279887104#step:10:798

@Technoboy-  would you mind taking a look since this doesn't seem to be fixed.

[2022-10-11 12:37] tjiuming opened #18004 "[drafting]PIP-211: Introduce offload throttling"
### Motivation

Pulsar doesn't have offload throttling for now.
The offload task can have a chance to use up all the broker resources(CPU, network).

When offload tasks use too much broker resources, the latency of messaging may increase and it makes Pulsar broker unstable.

For the purpose of saving broker resources and improving broker stability, we have to introduce `Offload throttling` to Puls

[2022-10-11 17:51] lin-zhao commented on #17947
`--format=json` doesn't seem to apply for the API, since the format is determined by the schema at run time.

On escaped string, my vote is not to escape the quotes and return a string that actually conform to JSON format.

[2022-10-11 18:08] Addyvan opened #18011 "Topic metadata unable to be updated using the admin REST API - Error 405 Method not Allowed"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.10.1

### Minimal reproduce step

I'm running a python script:
[code]

Response:
[code]

This should be the equivalent curl command:
[code]

### What did you expect to see?

Response code 200 or 204 with the topic's properties having been updated.

### What

[2022-10-11 19:54] michaeljmarshall opened #18012 "PIP-212: Default reppDnsResolverClass to ZkBookieRackAffinityMapping"
### Motivation

The current Bookkeeper configuration defaults to using `org.apache.bookkeeper.net.ScriptBasedMapping` for the `DNSToSwitchMapping` implementation. However, this default configuration does not align with the Broker's default configuration, which is `org.apache.pulsar.zookeeper.ZkBookieRackAffinityMapping`. As such, the default configuration for a Pulsar cluster does not lead to idea

[2022-10-12 01:01] startjava commented on #17984
@RobertIndie
the issues descript result and use zk run result same ,
Does it mean that there is also this bug in the standalone+zk environment?

[2022-10-12 03:21] michaeljmarshall commented on #17989
@syhily - thank you for opening an issue. Are you able to post the whole stack trace as text instead of as a screenshot? This will help for debugging. Thanks.

[2022-10-12 03:27] michaeljmarshall commented on #17987
Posting these for future reference:

[code]

[code]

[2022-10-12 03:28] michaeljmarshall commented on #17987
@BajrangDubeyPersistent - do you have any errors in the broker's log? Those errors are not the root cause. There is some other reason that the connection is getting closed.

[2022-10-12 03:31] michaeljmarshall commented on #17982
@jiangpengcheng - I think it might make sense to make this a configurable behavior when deleting the function. What do you think?

[2022-10-12 03:48] #17446 closed

[2022-10-12 04:11] michaeljmarshall commented on #17949
@lhotari @nicoloboschi - are either of you familiar with this part of the artifact generation? Thanks!

[2022-10-12 04:12] michaeljmarshall commented on #17949
I can confirm the same results for a recent build of master branch:
[code]

The copyright dates even look wrong.

[2022-10-12 06:38] BajrangDubeyPersistent commented on #17987
@michaeljmarshall - Thanks for the response.
Broker logs are as below:

06:33:49.582 [pulsar-io-5-4] INFO  org.apache.pulsar.broker.service.ServerCnx - New connection from /127.0.0.1:38102
06:33:49.604 [pulsar-io-5-4] WARN  org.apache.pulsar.broker.service.ServerCnx - [/127.0.0.1:38102] Got exception io.netty.handler.codec.DecoderException: javax.net.ssl.SSLHandshakeException: error:10000438:SSL r

[2022-10-12 06:55] #17996 closed

[2022-10-12 07:04] tisonkun opened #18014 "[Doc] Generate document depending on main repo during sync"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

Currently, we build swagger files and config references on the site build stage. It prevents developers from previewing the website smoothly.

### What is your suggestion?

I suggest we generate swagger files and config referenc

[2022-10-12 07:06] #16561 closed

[2022-10-12 07:11] #17931 closed

[2022-10-12 07:13] tisonkun commented on #18014
If we agree on the direction, we can achieve it in multiple subtasks concurrently; for example:

* those for swagger files;
* those for config files;
* those for release data;
* ...

[2022-10-12 07:27] RobertIndie commented on #17984
Not sure what you want to say exactly. Do you mean it's also reproducible in the standalone+zk? I can't reproduce it. Could you paste your steps or other information here?

[2022-10-12 07:39] jiangpengcheng commented on #17982
@michaeljmarshall

I think when `worker().getWorkerConfig().isFunctionsWorkerEnablePackageManagement()` is true, it's better to leave the package alone when delete a function

since no matter how packages are created:

1. created manually using package API
2. created automatically when creating a function
3. created by calling `uploadFunction`

they may be used in other places, and deleting them a

[2022-10-12 08:18] Technoboy- commented on #18011
`curl -L http://<ENDPOINT>:8080/admin/v2/persistent/<tenant>/<namespace>/<topic>/properties -X PUT -H 'Content-Type: application/json' -d '{"test":"test"}'`

The above command is working for me in my local.

[2022-10-12 08:44] nodece commented on #17517
I have discussed this with @codelipenghui, @tuteng, and @mattisonchao offline. We will handle this issue on the proxy module to avoid adding complex logic to the broker. Just keep one authentication data on the broker!

[2022-10-12 08:44] #17517 closed

[2022-10-12 08:54] momo-jun commented on #17774
Closed the issue since the reported topic has been updated and refreshed in #17853.
Regarding the doc improvements for Kubernetes deployments, I drafted https://github.com/apache/pulsar/pull/18015 to follow up.  //cc @tisonkun

[2022-10-12 08:54] #17774 closed

[2022-10-12 09:22] yangl commented on #18012
`ZkBookieRackAffinityMapping` implement has problem when the bk and the broker use the different zookeeper cluster, would you verify this case ?

[2022-10-12 11:56] AlvaroStream opened #18016 "[Doc] Improve geo-replication example"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

Explanation from the [replication clusters](https://pulsar.apache.org/docs/administration-geo/#connect-replication-clusters ) could be improved, after reading several times the geo-replication I was a little bit lost.

### What

[2022-10-12 14:21] hpvd commented on #17599
is this one already in the task list?

couldn't find it:
in https://pulsar.apache.org/docs/client-libraries-java/#tableview
`api `pointing to
https://pulsar.apache.org/api/client/2.10.0-SNAPSHOT/2.10.0-SNAPSHOT/org/apache/pulsar/client/api/TableViewBuilder.html

![2022-10-12_16h12_46](https://user-images.githubusercontent.com/5681880/195368664-e9e5ad02-e1e0-4020-b2dc-4d97dd429c52.png)

[2022-10-12 14:35] tisonkun commented on #17599
Since @SignorMercurio built new reference pages: https://pulsar.apache.org/reference/, all `/tools/` should be migrated.

[2022-10-12 15:08] Addyvan commented on #18011
@Technoboy- Can you confirm that the change did take place by editing the properties then running `curl -L http://<ENDPOINT>:8080/admin/v2/persistent/<tenant>/<namespace>/<topic>/properties` to see if they did in fact change?

The curl command doesn't throw an error or return anything.

[2022-10-12 15:55] bigbang489 commented on #14544
It worked for us now. You can close this ticket

[2022-10-12 15:59] visortelle opened #18023 "[Bug] 500 Server error on `pulsar-admin namespaces get-offload-threshold`"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.10.1

### Minimal reproduce step

It fails only if the offload threshold value wasn't set.

If it was set for any namespace in the cluster, I don't see this error and see `-1` instead.

The bug looks similar to this one: https://github.com/apache/pulsar/iss

[2022-10-12 16:01] #14544 closed

[2022-10-12 17:13] michaeljmarshall commented on #18012
I think it wouldn't work in that scenario, though I think we could make it work. The main question is where the zk mapping is stored. I believe it is currently stored in the broker's zk cluster.

[2022-10-12 17:18] michaeljmarshall commented on #17517
Thanks @nodece, that makes sense to me. Sorry for my delayed review, I'll try to review the next draft quicker.

[2022-10-12 19:40] michaeljmarshall commented on #17987
@BajrangDubeyPersistent - thanks, I see that there is a stack overflow with a very similar stack trace: https://stackoverflow.com/questions/68913530/javax-net-ssl-sslhandshakeexception-error10000438ssl-routinesopenssl-interna. @devinbost submitted the issue and the answer. Does the error persist if you restart and clear the docker cache?

[2022-10-12 19:59] #17973 closed

[2022-10-12 23:19] tisonkun commented on #17974
Closed by:

* https://github.com/apache/pulsar-site/pull/250
* https://github.com/apache/pulsar-site/pull/243

[2022-10-12 23:19] #17974 closed

[2022-10-12 23:23] tisonkun commented on #17972
Closed as all subtasks done.

[2022-10-12 23:23] #17972 closed

[2022-10-13 00:13] tisonkun commented on #17495
Closed as all broken links are now tracked by #17599. I think we need a broken links sensor to report and guard the condition.

Other incorrect contents seem not to proceed in a short time, we can resolve them one by one - it's an endless effort.

[2022-10-13 00:13] #17495 closed

[2022-10-13 00:36] #17874 closed

[2022-10-13 01:43] labuladong commented on #17599
The broken link list has been updated. And I'm trying to develop a reliable script to auto-detect broken links.

[2022-10-13 02:04] labuladong commented on #17495
This is a great idea, I'll open an issue to discuss it in detail.

[2022-10-13 02:55] labuladong opened #18026 "[Doc][improve] Auto-detect broken links and integrate into CI process"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

After #17495 and #17599, we can see many broken links in the Pulsar document. And more links may break during further evolution.

### What is your suggestion?

In #17599 I use a script but it's not reliable enough so I have to c

[2022-10-13 02:59] tisonkun commented on #18026
Since we build some pages on the fly instead of all content static, we may need an external sensor/crawler or static check after the site was built.

Related issue: #18014

[2022-10-13 03:14] Technoboy- commented on #18011
yes, it works.
<img width="1108" alt="image" src="https://user-images.githubusercontent.com/6297296/195490745-0130012c-76a2-4bd9-9140-601aab68ced2.png">

[2022-10-13 03:17] Anonymitaet commented on #18026
For external tools, normally we use https://www.drlinkcheck.com/ to check URLs.

[2022-10-13 04:17] michaeljmarshall opened #18029 "Flaky-test: AdminApi2Test.resetClusters"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3232396920/jobs/5309016207

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-10-13 04:20] #17640 closed

[2022-10-13 06:48] labuladong commented on #18026
#18014 Looks great, but it seems like a big change. If we build the site dynamically, I think detecting the generated HTML files may be better than the external crawler.

Before #18014 finishes, I think `1. wrong markdown file reference` and `4. invalid title anchors` are still worth detecting.

[2022-10-13 07:34] tisonkun commented on #18026
It helps detect this issue https://github.com/apache/pulsar-site/pull/252, PTAL.

[2022-10-13 09:44] tisonkun commented on #12271
@MarvinCai @codelipenghui @nodece should be closed by #17968.

[2022-10-13 09:44] tisonkun commented on #16991
@MarvinCai @codelipenghui @nodece should be closed by #17968.

[2022-10-13 10:07] HQebupt opened #18036 "[Bug] consumer backlog eviction policy should not reset read position of the consumer"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

- Pulsar: latest
- JDK: 17

### Minimal reproduce step

- Run unit test: org.apache.pulsar.broker.service.BacklogQuotaManagerTest#testConsumerBacklogEvictionTimeQuota

### What did you expect to see?

1. The backlog eviction policy should not the reset read p

[2022-10-13 10:27] tjiuming opened #18038 "[drafting]PIP-213: Add per-thread CPU usage metrics"
### Motivation

Introduce the metrics for thread CPU usage which can help Pulsar maintainers to detect performance issues related to parts of threads that run with high CPU usage, especially the IO thread.

This part is also the missing part of Apache Pulsar. The thread pool and thread CPU usage are very useful for troubleshooting performance issues like publishing latency spikes.

And we can also

[2022-10-13 11:43] hpvd opened #18041 "Arguments for "why pulsar is secure?""
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

When people/companies evaluate open source software to rely and build on
they more and more
do not only look on its functional value
but also on topics like
 - trust giving name/membership (e.g. part of Apache family)
 - existing community size and growth

[2022-10-13 12:14] hpvd commented on #18041
this is how the summary looks like:
![2022-10-13_14h13_36](https://user-images.githubusercontent.com/5681880/195593318-b44e0244-93a8-48c9-a0ab-516c84943f23.png)

[2022-10-13 12:19] hpvd commented on #18041
some details:
![2022-10-13_14h18_45](https://user-images.githubusercontent.com/5681880/195594313-518801c3-1fbd-42b5-bb7e-b1b4a9f62af6.png)

[2022-10-13 12:28] hpvd commented on #18041
before writing this issue, I had a conversation with Apache Security team,
that it is no problem to contribute this as normal issue:

[2022-10-13 12:40] eolivelli commented on #18041
@hpvd  thanks for opening this issue. I think that your point is really valid.

I think that it is appropriate to start this discussion on the mailing lists (dev@pulsar.apache.org), as that's the place we run broad discussions.

Regarding this issue:
this issue is more about the "Apache Pulsar Helm Chart", that is on https://github.com/apache/pulsar-helm-chart
**maybe** it is better to post your f

[2022-10-13 14:37] hpvd commented on #18041
@eolivelli thanks for your comment.

Just opened an issue also in the repository of pulsars helm chart:
https://github.com/apache/pulsar-helm-chart/issues/294

[2022-10-13 14:43] truong-hua commented on #15838
@momo-jun is this document available yet?

[2022-10-13 14:46] truong-hua commented on #15838
@momo-jun there is a new doc to config etcd as metadata store but there is no document for migrating from a key-value store to another. So this issue is not closed yet.

[2022-10-13 14:49] nodece commented on #15838
@truong-hua Yes, the new doc is config etcd as metadatastore, right now we don't support migrating the data from one metadatastore to another.

[2022-10-13 15:57] hpvd commented on #18041
would be very interesting to see, how an updated helm chart with
- latest pulsar image (2.9.3 -> 2.10.1 or even 2.11)
  https://github.com/apache/pulsar
- latest prometheus image (2.17.2 -> 2.39.1)
  https://github.com/prometheus/prometheus
- latest streamnative/pulsar grafana image (0.0.16 -> no new release but in repository are some commits with updates)
  https://github.com/streamnative/apache-

[2022-10-14 01:06] #16980 closed

[2022-10-14 01:06] #17530 closed

[2022-10-14 01:17] #17635 closed

[2022-10-14 01:23] #17644 closed

[2022-10-14 03:41] michaeljmarshall commented on #17982
That seems reasonable. I am not familiar enough with the API to have a strong opinion. The main question comes down to classification. If it is a bug, we need to cherry pick it to existing release branches. However, that will introduce a form of breaking change that users might not expect on a patch release. Assuming we do go with your proposed direction, we'll want to make sure that the PR gets l

[2022-10-14 07:02] kukuzidian opened #18046 "[Bug] delete-partition-topics error"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

system os centos 7.8
jdk 1.8.0_191
pulsar version  2.10.1

### Minimal reproduce step

bin/pulsar-admin topics delete-partitioned-topic persistent://public/default/tt1

### What did you expect to see?

delete partitioned-topic  success

### What did you see i

[2022-10-14 08:23] #18029 closed

[2022-10-14 08:37] hpvd commented on #18041
just as background info, the security scanner used by artifacthub, providing results shown above
is trivy, **so all the finding should be pretty valid**.

For details, see:
https://artifacthub.io/docs/topics/security_report/

and trivy
https://github.com/aquasecurity/trivy

[2022-10-14 15:28] gauravAshok commented on #17886
No, #15956 only fixes the GET /schema api. The update api is still under tenant admin authorization.

[2022-10-14 15:50] shenweiran opened #18055 "[Bug] Broker's CPU remains high after some data buildup due to some application (consumer) restarts"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.9.3

### Minimal reproduce step

Recently upgraded from 2.6.3 to 2.9.3 with this problem;
Some of consumers rebooted and subscribed to about 17,000 topics

### What did you expect to see?

Even if some consumers reboot, after affecting Pulsar Cluster should

[2022-10-14 17:50] michaeljmarshall commented on #18029
Thanks @poorbarcode!

[2022-10-15 02:19] #15101 closed

[2022-10-15 12:56] yyj8 opened #18056 "Add broker level metrics statistics and print"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Currently, pulsar does not statistics broker level metrics, and all relevant metrics are 0 by default.

When the number of topic partitions reaches more than 100000 or even millions, and the topic level metrics are exposed (exposeTopicLevelMetricsInPrometh

[2022-10-15 16:24] #17759 closed

[2022-10-15 17:03] shenweiran commented on #18055
![image](https://user-images.githubusercontent.com/1320933/195998963-9991edfe-a170-4e88-9b6c-bc605201dab2.png)
![image](https://user-images.githubusercontent.com/1320933/195998970-2b69d091-e073-4184-93b7-ea309d5f5272.png)

[2022-10-15 17:05] shenweiran commented on #18055
![image](https://user-images.githubusercontent.com/1320933/195999053-9742a671-dca5-47f0-a1a9-283094887ebf.png)

[2022-10-15 17:27] shenweiran commented on #18055
heap dump file:
link:https://pan.baidu.com/s/1YdXn7qC32Ybgl6Ux4A_sng
pwd:7mdw

[2022-10-16 00:30] #18011 closed

[2022-10-16 04:14] WJL3333 commented on #18055
after analysis the heap, a lot of task is submit by ProducerImpl created by `TransactionBufferSystemTopicClient` for broker side code those task will be scheduled at pulsar-io thread and will consume a lot cpu for priorityQueue change.

[2022-10-16 04:22] WJL3333 commented on #18055
![image](https://user-images.githubusercontent.com/13600283/196017780-12c0b553-a59f-4a79-9f2f-c6516a46d309.png)
![image](https://user-images.githubusercontent.com/13600283/196017829-74a51ac9-0088-43fd-a00a-6e8c0690618e.png)
![image](https://user-images.githubusercontent.com/13600283/196017838-810248d3-db4c-4842-8a7a-5e45ce2a5b53.png)

[2022-10-16 06:09] eolivelli commented on #18055
Did you enable transactions?

If you are coming from 2.6 then you don't need it.

Also transactions code is more mature on 2.10 if you need TC then move to 2.10

[2022-10-16 06:10] #17662 closed

[2022-10-16 09:53] whisust opened #18059 "[Bug] Python pulsar-client producer does not produce messages with gunicorn `--preload` flag"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Pulsar brokers version 2.9
python 3.9
Tested on macOS and in production (Linux)

### Minimal reproduce step

### 1. Python env setup

Create a venv with the following packages installed:
`requirements.txt`
[code]

### 2. Pulsar setup

Start a standalone pulsa

[2022-10-16 13:04] labuladong opened #18060 "[Doc] mistakes in `Subscription Type` section"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

After #17991, the [subscription-types](https://pulsar.apache.org/docs/next/concepts-messaging#subscription-types) content doesn't match SVG images. For example:

<img width="1157" alt="image" src="https://user-images.githubuserc

[2022-10-16 14:26] WJL3333 commented on #15445
fix by #17804

[2022-10-17 01:44] #16544 closed

[2022-10-17 03:54] RobertIndie opened #18062 "[Bug] Failed to publish message when using DbLedgerStorage in the pulsar standalone"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Master branch, at least 08f5766d95034ce27c44ee30e4734d2a8f078e11

### Minimal reproduce step

* Start the pulsar standalone (Note that do not use the zookeeper as the metadata store) with the default configuration
* Publish some large messages. It seems to wo

[2022-10-17 04:22] michaeljmarshall commented on #18055
A fix was merged into branch-2.9, but master is not yet updated. Master has a slightly different design, but would still probably benefit from using a more optimized timer implementation.

[2022-10-17 06:10] momo-jun commented on #17682
Closed the issue since it cannot be reproduced.

[2022-10-17 06:11] BajrangDubeyPersistent commented on #17987
@michaeljmarshall - I am quite sure this is not a VPN issue as same code is running smoothly with Python, but for similar Java code, this TLSV1_ALERT_INTERNAL_ERROR pops up.

I tried following commands to clear docker cache :
[code]
I also restarted all the containers but the issue still persists.
![image](https://user-images.githubusercontent.com/77954674/196093603-253df8b5-37a2-4b0f-814f-901143c

[2022-10-17 06:57] poorbarcode commented on #17665
Can this issue be closed?

[2022-10-17 07:09] #17692 closed

[2022-10-17 09:45] #18023 closed

[2022-10-17 10:20] nicoloboschi opened #18069 "Flaky-test: NamespacesTest.testSplitBundleForMultiTimes"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3224912715/jobs/5276751731#step:10:787

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-10-18 01:09] mattisonchao commented on #17665
fixed by #17883

[2022-10-18 01:09] #17665 closed

[2022-10-18 02:53] dragonls commented on #16852
Finally found this is fixed by #16968 .
`StackOverFlowException` somehow make the log4j error.

[2022-10-18 02:53] #16852 closed

[2022-10-18 07:23] #17921 closed

[2022-10-18 08:02] hpvd commented on #18041
there is also an easy to use **github action for scanning with trivy**
-  the complete repository,
-  pull requests,
- docker container
- IaC
- etc.

=> Maybe this is interesting to integrate this directly into the CI pipeline...
See Readme of https://github.com/aquasecurity/trivy-action

[2022-10-18 08:33] labuladong commented on #18060
There are some other questions:

#### 1. I notice that https://github.com/apache/pulsar/pull/17863#issuecomment-1265458658 update this image:
![image](https://user-images.githubusercontent.com/37220920/196375724-cc8b01ef-0102-48ff-9f2f-4b3c6939a6ee.png)

But this image wasn't uploaded in https://github.com/apache/pulsar/pull/17991, we may upload this image and deploy it on the site.

#### 2. I thi

[2022-10-18 09:19] #17979 closed

[2022-10-18 09:20] #15108 closed

[2022-10-18 09:20] RobertIndie commented on #18062
I think I have found the root cause.

The root cause may from the [WriteCache](https://github.com/apache/bookkeeper/blob/master/bookkeeper-server/src/main/java/org/apache/bookkeeper/bookie/storage/ldb/WriteCache.java#L149-L151). If the size of the entry exceeds half of the `dbStorage_writeCacheMaxSizeMb`, the error will occur.

And here is the detail:
From the log we can see that the write cache i

[2022-10-18 09:41] krishhh5 opened #18087 "[Bug] why remove the method getClientConfigData from pulsarAdmin interface after 2.7？ how can I getAuthentication data in 2.8？"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.8.1

### Minimal reproduce step

1

### What did you expect to see?

why remove the method getClientConfigData from pulsarAdmin interface after 2.7？ how can I getAuthentication data in 2.8？

### What did you see instead?

why remove the method getClientConf

[2022-10-18 09:53] codelipenghui commented on #17947
For the message with protobuf schema, maybe we are impossible to deserialize by the AUTO_CONSUME schema. We have added protobuf_native https://docs.google.com/document/d/1XR_MNOuSXyig-CKsdVhr6IXvFwziBRdSoS3oEUiLFe8/edit

And for the encrypted message will not provide human-readable format data.

Currently, the peek message API is based on the entry-level. It can be a list of messages. We need to s

[2022-10-18 10:04] mattisonchao commented on #18087
See: https://github.com/apache/pulsar/pull/10563

Maybe you can try `((PulsarAdminImpl) pulsar.getAdminClient()).getClientConfigData()`

[2022-10-18 10:42] labuladong opened #18088 "[Doc] improve style of shell commands"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

When I read the [admin interface doc](https://pulsar.apache.org/docs/next/admin-api-tenants), I found that it's hard to distinguish between shell command and output.

For example:

![image](https://user-images.githubusercontent.

[2022-10-18 10:45] labuladong commented on #18088
cc @Anonymitaet @momo-jun

[2022-10-18 11:57] leizhiyuan opened #18090 "allow tenant admin can operate in namespace level"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

in v2/namespaces

just like

[code]

and

[code]

we only need to validate tenantAllowOperation, we do not need the role is superUser

### Solution

we can check validateTenantOperationAsync

### Alternatives

no

### Anything else?

no

### Are you willin

[2022-10-18 12:05] momo-jun commented on #18088
@labuladong thanks for the finding. It makes sense to improve as you suggest.

[2022-10-18 12:05] leizhiyuan opened #18091 "[Bug] Disable HTTP TRACE Method in webservice"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

master

### Minimal reproduce step

Pulsar uses embedded jetty which allows TRACE method by default. This is a widely-known security concern. Please disable HTTP TRACE method.

### What did you expect to see?

https://issues.apache.org/jira/browse/ZOOKEEPER-3

[2022-10-18 13:40] startjava opened #18095 "[Bug] delete tenant after read tenant list exception： HTTP 404 Tenant does not exist"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.10.1

### Minimal reproduce step

    @RequestMapping("delete")
    public String delete() throws IOException, PulsarAdminException {
        if (pulsarAdmin.tenants().getTenants().indexOf(tenantName) == -1) {
        } else {
            pulsarAdmin.tenant

[2022-10-18 13:41] startjava commented on #18095
deleteTenant and readTenant() method asynchronzied run ?

deleteTenant() method source：
[code]
inner asynchronzied run? no result ?

[2022-10-18 14:51] startjava commented on #18095
[code]

run result ：
tenantName：ghy-tenant
begin

not print String "end" . beacuse tenant delete ... get tenantinfo exception.

[2022-10-18 20:52] lin-zhao commented on #17947
For batched messages, I tested and it appeared to work with the existing peek endpoint. I will double check but if it doesn't work for batched messages as stands today, we should return the right error code.

For encrypted messages, by definition the peek API shouldn't be able to read the data. We should return the right error message and HTTP code.

 For other types of schemas that this approach

[2022-10-18 23:47] heesung-sn opened #18099 "PIP-215: Configurable TopicCompactionStrategy for StrategicTwoPhaseCompactor and TableView"
### Motivation

Currently, the Topic compaction logic implemented in `TwoPhaseCompactor` only compacts messages to the last one(with the same key).

Here, we want to configure Topic compaction with different strategies. For example, to support the Conflict State Resolution(Race Conditions) in PIP-192 (https://github.com/apache/pulsar/issues/16691), we need to compact messages with `the first valid

[2022-10-19 01:54] startjava commented on #18095
run result ：
tenantName：ghy-tenant
begin

note：The tenant name that was just deleted was printed！！！！！！

[2022-10-19 06:18] momo-jun opened #18103 "[Doc] Move `Security Policy and Supported Versions` to an appropriate category in the website"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

When improving the content under the security chapter, I found this [security policy and supported versions](https://pulsar.apache.org/docs/security-policy-and-supported-versions/) topic is not appropriately nested there, which

[2022-10-19 06:51] momo-jun opened #18104 "[Doc] Inconsistent font size in table formatting"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

It's a style issue - text with bullets has a different font size.

- [Java client library](https://pulsar.apache.org/docs/next/client-libraries-java#client-memory-allocator-configuration)
<img width="1057" alt="image" src="https

[2022-10-19 07:10] Anonymitaet commented on #18088
Good catch! @labuladong

[2022-10-19 07:12] jiangpengcheng commented on #17982
this issue is introduced in https://github.com/apache/pulsar/pull/14450, and it only infects branch 2.11(I think there are no releases published for 2.11 yet?)

[2022-10-19 08:48] labuladong commented on #18026
The detect script see [here](https://gist.github.com/labuladong/7fc744fb1214fe406550aacd03bfa20e). PR https://github.com/apache/pulsar/pull/18109 fix almost all invalid title anchors. but there are still many invalid markdown file references about `reference-configuration.md`:

`administration-pulsar-shell.md` has 1 errors:

	[pulsar-client](reference-cli-tools#pulsar-client.md) -> reference-cli-t

[2022-10-19 08:51] #17908 closed

[2022-10-19 08:58] asafm commented on #13869
Hi @ofek, you are absolutely correct.
I've been working over the last several months documenting the current state of metrics and releasing the document to the community just 2-3 weeks ago. As you can see in [there](https://docs.google.com/document/d/1vke4w1nt7EEgOvEerPEUS-Al3aqLTm9cl2wTBkKNXUA/edit#heading=h.9m4eafn77fuo), it's a known issue.

This document is part of a large effort to refactor h

[2022-10-19 08:59] #18036 closed

[2022-10-19 09:29] freeznet opened #18110 "[Bug] Function Java Instance cannot be started if no typeClassName provided"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.8.3

### Minimal reproduce step

Manually start pulsar function with java command directly without `typeClassName` provided in `function_details`, like

[code]

### What did you expect to see?

Function Run as normal

### What did you see instead?

[code]

[2022-10-19 09:45] visortelle opened #18112 "[Bug] RetentionPolicies types mismatch"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

`master` branch.

### Minimal reproduce step

The `retentionSizeInMB` field has `long` type here:

https://github.com/apache/pulsar/blob/7404e0d77d98c2ec4fab9a111b8ced38d33dcd5a/pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/policies/data/Rete

[2022-10-19 10:18] tisonkun commented on #18026
@Anonymitaet Then we should properly redirect or update the links. Or host the deprecated tools content on an archived source.

[2022-10-19 15:07] startjava commented on #18095
@eolivelli
this issues and https://github.com/apache/pulsar/pull/11039 is same bug???

[2022-10-19 16:59] pgier opened #18119 "Sending "stop" to a connector should be idempotent."
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

We're running pulsar in Kubernetes and ran into a situation where the "stop" command was called on a connector (a sink in this case) but the kubernetes statefulset was not removed.  Calling "stop" again on the same connector returned an HTTP 400 error with

[2022-10-20 02:21] #17636 closed

[2022-10-20 02:35] #18060 closed

[2022-10-20 03:16] 315157973 opened #18128 "PIP-XYZ: Support full scan and trim ledger"
### Motivation

Broker uses the `Trimledgers` thread to clean up outdated ledgers. During clearing, each Broker traverses the topic metadata in memory to find the ledger that reach the retention or TTL threshold.
However, there are some problems with this approach. When a topic has no producer and consumer, Broker deletes the metadata of topic from memory. As a result, ledgers of these topics can

[2022-10-20 03:29] #17641 closed

[2022-10-20 03:30] poorbarcode commented on #17639
There is no more room for optimization in this test

[2022-10-20 03:30] #17639 closed

[2022-10-20 04:02] #16551 closed

[2022-10-20 04:25] Jason918 commented on #17468
Same here when I am releasing 2.10.2.
Seems the best option now would be not supporting ARM until it's fixed.

[2022-10-20 04:33] lin-zhao commented on #17947
Regarding batched messages, @codelipenghui after testing and investigation, I agree that it's too complex to support in the admin API. I believe we should return `501 Not Implemented` if the entry read is batched.

In case the message is encrypted, we should return 400 code stating encrypted message cannot be returned in readable form.

[2022-10-20 04:36] BewareMyPower commented on #17468
@Jason918 It's already fixed in latest pulsar-client-python repo. The root cause is when building universal2 Python from source, it relies on the universal binary of zlib. So a universal binary of zlib must be built before building Python.

https://github.com/apache/pulsar-client-python/blob/main/pkg/mac/build-dependencies.sh

[2022-10-20 05:16] mattisonchao commented on #13946
Hi, @shaniMaayan

Would you like to check PR #17401? it probably fixes this problem.

I will close this PR and I will reopen it when the problem appears again.

[2022-10-20 05:16] #13946 closed

[2022-10-20 05:18] mattisonchao commented on #15433
Close this issue because it's already stale.

[2022-10-20 05:18] #15433 closed

[2022-10-20 06:08] Jason918 commented on #17468
@BewareMyPower Great, I will try it on 2.10.2.

[2022-10-20 06:55] RobertIndie opened #18131 "Add CI for checking code style of pulsar connectors"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Recently, there has been a checkstyle issue in the jdbc connector core.(https://github.com/apache/pulsar/pull/18122) It seems that there is no CI to check the code style of these modules. Need to make this check happen in the CI.

### Solution

_No respons

[2022-10-20 06:56] #17984 closed

[2022-10-20 09:06] nareshv commented on #16107
can you give some suggestions on this ?

[2022-10-20 09:39] eolivelli commented on #16107
@nareshv I think that we need a PIP for this feature and someone who wills to code it.
I understand your problem and it makes sense to me.
Thanks for sharing your problem.

Maybe you can advertise it on the mailing list (dev@pulsar.apache.org) in order to get more visibility, unfortunately not everyone is following the huge flow of notifications from github

[2022-10-20 10:30] startjava commented on #18095
@hangc0276
this issues and https://github.com/apache/pulsar/pull/11039 is same bug???
How to solve my code

[2022-10-20 11:15] nareshv commented on #16107
I am willing to write one if needed. Going through the JAVA SDK, looks most of the code is auto generated and doesn't expose any way to change the sequence numbers today.

[2022-10-20 11:56] philixtian opened #18139 "[Bug] Backlog abnormal increase in a delay queue"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

OS: tlinux(CentOS)
pulsar-broker-version: pulsar-2.10.0

### Minimal reproduce step

This is a persistent partitioned topic,  acctually we made it a delay queue, means that we do not consume msgs and send an ack immediately.
After a period of normal operation

[2022-10-20 12:24] eolivelli commented on #16107
here we handle the sequenceId
https://github.com/apache/pulsar/blob/b94588310eede61b417f40ca44e446470b58f6bf/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java#L610

we just need some way to set the sequence id while building a Message

[2022-10-20 12:59] laurent-chriqui commented on #17596
Hello,

I have the same issue with the pyproj library using Python>=3.9.

When I import pyproj first, I have the exact same issue with Pulsar.
If I import pulsar first, I have a bug in pyproj when I try to do this for example:
[code]
`Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/usr/local/lib/python3.9/site-packages/pyproj/transformer.py", line 600, in from_crs

[2022-10-20 13:06] merlimat commented on #16107
There is already a way to override it: https://pulsar.apache.org/api/client/2.10.0-SNAPSHOT/org/apache/pulsar/client/api/TypedMessageBuilder.html#sequenceId(long)

[2022-10-20 14:24] mattisonchao commented on #18139
@philixtian

Could you please provide the problematic topic's `stats` and `internal-stats`.

[2022-10-20 14:47] rkaw92 commented on #10813
Hi, I'm seeing stuck consumers as well, on Pulsar 2.10.1. I'm using a batched producer with a partitioned topic (16 partitions). One of the partitions seems to be misbehaving: it gets stuck on some `markDeletePosition`, and then it just sits there while `readPosition` is advancing. Restarting all consumers seems to help, but I'm not sure why they get stuck in the first place. This is with several

[2022-10-20 14:50] Hongten commented on #18016
Question:
There are two pulsar clusters(A and B) and we enabled the Geo-Replication. e.g. `my_tenant/my_namespace/my_topic`, we can produce the data to the A cluster and consume the data from the B cluster. How to delete this topic? If we can delete the topic, can you share the details?

[2022-10-20 15:11] hpvd commented on #10813
maybe it's worth giving directly the just released 2.10.2 a try...
https://github.com/apache/pulsar/releases/tag/v2.10.2

[2022-10-20 15:55] kuskmen commented on #8722
Hi all,

we are also looking for this feature to be implemented. Our use case is that we need to know deterministicly if a message is being redelivered due to nack or brand new.

[2022-10-20 22:26] miton18 commented on #7028
Is it a planned feature ?

[2022-10-21 00:24] codelipenghui commented on #17947
It's ok for the encrypted message. And also it is impossible for the broker.
For the batch message. This should be a very common use case for users. The Pulsar Client enabled batch by default. If users use multiple threads or the async API to send messages, the batched message will write into the topic. This could be a difficult decision for the user, disable the batch or do not peek message.

And

[2022-10-21 00:31] labuladong commented on #18026
@Anonymitaet So I think we can replace all `reference-configuration.md` with `https://pulsar.apache.org/reference`. Right?

[2022-10-21 00:35] tisonkun commented on #18026
@labuladong not exactly. You may be aware that https://pulsar.apache.org/reference doesn't contain all versions of references. So it's a bit tricky if you globally do the replacement, you actually cause new issues.

[2022-10-21 00:37] tisonkun commented on #18131
Agree. I think...wait a minute, IIRC we have a checkstyle goal here previously:

https://github.com/apache/pulsar/blob/0c326c0845eb66f513a5f199308620074cdb9b04/.github/workflows/pulsar-ci.yaml#L106-L107

[2022-10-21 00:40] tisonkun commented on #18131
@RobertIndie I'm opening a PR #18142 against this issue. But it's highly possible that we have some remaining violence to fix.

[2022-10-21 00:46] labuladong commented on #18026
OK. But all the `reference-configuration.md` is 404... I think we should do something to optimize it.

[2022-10-21 00:53] tisonkun commented on #18026
@labuladong at least for the maintained versions (2.10.x, 2.9.x, 2.8.x, 2.7.x) you can do the replacement. My comments above hint that it can not be applied simply globally - you should check the result instead of making assumptions.

[2022-10-21 00:56] Anonymitaet commented on #18026
Exactly

[2022-10-21 00:56] Anonymitaet commented on #18026
FYI: https://github.com/apache/pulsar/pull/18132/files#diff-2f6afd23b9f4fddf8ea934eb85c62599f7d05e01bb457cbabc2a178cd92ddab9 is adding `reference-configuration.md` back

CC @SignorMercurio

[2022-10-21 01:17] shenweiran commented on #18055
After disabling the transac
![image](https://user-images.githubusercontent.com/1320933/197088696-af53c2f1-95b6-4774-8712-3e0c2f0684e8.png)
tion configuration, restart all brokers, the problem is restored.

[2022-10-21 02:19] philixtian commented on #18139
This topic has been operate for more then a month, the abnormal partitioned is accaully not so large as the pic shows.
![image](https://user-images.githubusercontent.com/28603029/197094727-4ba2ad8d-b2ac-4c05-96d6-0db2b2400bdb.png)
**Here is the topic-stats of the abnormal partition:**
![image](https://user-images.githubusercontent.com/28603029/197095651-3d92d258-6627-4242-a71d-21a058c374d9.png)
![

[2022-10-21 02:26] codelipenghui commented on #17947
I got a chance to discuss this one with @merlimat today.

A possible solution is the peek message API only returns the message level original binary data (aka message by message). Users decode the binary data with schema. Pulsar already provides the API to get the schema of the topic.
The main concern from Matteo is also the Garbage Collection overhead will introduce to the broker.

[2022-10-21 02:45] tisonkun opened #18144 "Tracking issue for Archive Ancient (Incubating) Documents"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

I noticed that we write a lot of logic to handle ancient documents back to the incubating period on the current doc site syncing and building. It causes unnecessary maintenance burdens as well as more broken links due to differe

[2022-10-21 02:46] tisonkun opened #18145 "[Doc] Redirect documents back to the incubating stage to the archived site"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

This is a subtask of #18144.

### What is your suggestion?

This is a subtask of #18144.

### Any reference?

_No response_

### Are you willing to submit a PR?

- [X] I'm willing to submit a PR!

[2022-10-21 03:45] wangjialing218 opened #18149 "[Bug] Partitioned DLQ topic with topic name contains -partition- may cause broker crash"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Version: Pulsar 2.9.3

### Minimal reproduce step

broker set config as follow:
[code]
Client consume a partitioned topic with default DLQ policy.
When client trigger DLQ topic auto creation, a topic with name like `persistent://public/default/test-partition-

[2022-10-21 05:01] nareshv commented on #16107
This is useful @merlimat and @eolivelli.

[2022-10-21 05:36] lin-zhao commented on #17947
Regarding garbage collection overhead, how's this PIP different than the HTTP consumer API?
And in this case is the user constrained to use the java client? How about the use case where the caller is a UI browser?

[2022-10-21 06:28] lin-zhao commented on #17947
For batched messages, peek-message doesn't work before this PIP so we are not making anything worse. I'm all for suggestions how to make it work with this API but it shouldn't be a blocker for this proposal. It never worked as is.

[2022-10-21 06:37] thetumbled commented on #17738
PTAL

[2022-10-21 06:53] eolivelli commented on #18128
Please mention that this impact offloaded data.

[2022-10-21 09:07] #18131 closed

[2022-10-21 09:14] momo-jun opened #18151 "[Doc] Refactor the information architecture and content of Schema"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

This idea popped up when I was thinking about how to improve the client libraries docs - it's very likely that because we haven't got a robust and structured topic-based authoring model to host the docs for various features, con

[2022-10-21 09:24] nodece commented on #18095
The master branch has been verified, it works fine.

[2022-10-21 11:45] Anonymitaet commented on #18026
Thanks! Release notes might not be affected because all release notes have specific versions. The data are pulled from https://github.com/apache/pulsar-site/tree/main/site2/website-next/release-notes/versioned and https://github.com/apache/pulsar/releases

cc @SignorMercurio

[2022-10-21 20:13] dave2wave opened #18155 "[update][dependency] Please update openssl to 1.1.1r"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Keep OpenSSL in C++ up to date. See https://www.openssl.org/news/openssl-1.1.1-notes.html

### Solution

Update the C++ builds.

### Alternatives

None

### Anything else?

No

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-10-21 20:56] hpvd commented on #18155
or directly to v3.0 which is the latest major version with LTS

which has beside new features an easier licence than the dual licence of 1.x...
https://www.openssl.org/source/license.html

migration guide:
https://www.openssl.org/docs/man3.0/man7/migration_guide.html

[2022-10-21 21:01] dave2wave commented on #18155
Dual license is not difficult we choose the one that is best for an Apache project.

Regarding migration or not. Upgrading to 1.1.1r will handle two CVEs immediately.

[2022-10-21 21:06] hpvd commented on #18041
number of vulnerabilities is still growing:

Today Pulsars helm chart crosses the 1k:
**1005 vulnerabilities (683 fixable) have been detected in this package's images**.
see https://artifacthub.io/packages/helm/apache/pulsar?modal=security-report

Good to know there was hard work done during last week and there will be soon a major update
with updated pulsar (2.10.2) and a new monitoring stack
htt

[2022-10-21 21:19] hpvd commented on #18155
this is why I suggested v3...

[2022-10-21 21:46] merlimat commented on #18155
This is already addressed in the `pulsar-client-cpp-3.0.0` release. You can find the list of dependencies here: https://github.com/apache/pulsar-client-cpp/blob/main/dependencies.yaml

[2022-10-21 21:47] merlimat commented on #18155
we need to validate how that works well with boost::asio and libcurl

[2022-10-21 21:50] merlimat commented on #18155
To clarify: we're using `1.1.1q` and not `1.1.1r`, though the only main difference is a compile error fix, not any security issues. https://www.openssl.org/news/cl111.txt

Also, please open C++ client issues on https://github.com/apache/pulsar-client-cpp

[2022-10-21 22:02] dave2wave commented on #18155
Thank you @merlimat I'm glad you have already taken this into account. I will close this issue. If @hpvd wishes they can open an issue in the other repository.

[2022-10-21 22:02] #18155 closed

[2022-10-22 00:50] heesung-sn commented on #18099
Raised a local-fork PR for the implementation reference: https://github.com/heesung-sn/pulsar/pull/12

[2022-10-22 05:20] startjava opened #18158 "[Bug] expireTimeOfIncompleteChunkedMessage(1, TimeUnit.MILLISECONDS) has bug"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.10.2

### Minimal reproduce step

    @RequestMapping("sendMessage2")
    public String sendMessage2() throws IOException, PulsarAdminException {
        int sendMessageValueSize = 1024 * 1024 * 12;
        int writeByteCount = 0;
        ByteArrayOutputStr

[2022-10-22 12:06] eolivelli commented on #17731
Do you know why is this possible?
The filter has access to low level data.

[2022-10-23 04:28] #18112 closed

[2022-10-23 04:54] #18095 closed

[2022-10-23 10:02] 3286360470 opened #18159 "PIP-XYZ: Support subscription backlog metrics in message counts"
### Motivation

Now, Pulsar already has a subscription backlog metric, but the unit is entry. And in some scenarios, users want to know the specific number of messages in the subscription backlog.

### Goal

Now, Pulsar already has a subscription backlog metric, but the unit is entry. And in some scenarios, users want to know the specific number of messages in the subscription backlog.

### API Ch

[2022-10-23 10:13] asafm commented on #18056
I'm not sure a PIP is formatted as you did. It has a certain process to it.

[2022-10-23 13:40] zhaohaidao opened #18162 "[Bug] Caused by: org.apache.pulsar.common.util.FutureUtil$LowOverheadTimeoutException: Failed to load topic within timeout"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Pulsar: 2.11.0

### Minimal reproduce step

After one openmessging-benchmark test finished.

### What did you expect to see?

Load topic success

### What did you see instead?

Caused by: org.apache.pulsar.common.util.FutureUtil$LowOverheadTimeoutException: F

[2022-10-23 14:12] zhaohaidao opened #18163 "[Bug] NPE throwed when recovering ledger: Cannot read field "distributionSchedule" because "this.lh" is null"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Pulsar 2.11

### Minimal reproduce step

I don't know how to reproduce it

### What did you expect to see?

Recover ledger successfully

### What did you see instead?

   9333 Oct 23 16:55:56 test_host pulsar[123890]: 2022-10-23T16:55:56,889+0800 [BookKeeperC

[2022-10-23 16:07] lifepuzzlefun opened #18165 "[Improvement] When authentication is disabled. clientAppId always return null"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

When authentication is disabled. `PulsarWebResource.clientAppId()` always return null which makes it is difficult for problem tracing.

always show in log _[null]_ where null is clientAppId

[code]

and in some code use clientAppId is use for get authentic

[2022-10-24 01:02] codelipenghui commented on #17947
I think https://www.npmjs.com/package/avro-js and https://github.com/protobufjs/protobuf.js/ can help with the avro and protobuf format.

[2022-10-24 02:36] Anonymitaet commented on #18026
@tisonkun sorry for the misunderstanding.

Oh, I see, you mean the links in the release notes might be broken.

For example, now the stable version is 2.10.1.

If we publish the next version (2.10.2) and add doc links in the 2.10.2 release note, say https://pulsar.apache.org/docs/io-connectors/#kafka, it will be 404 if the next stable version (2.11.x) is published since https://pulsar.apache.org/d

[2022-10-24 02:41] tisonkun commented on #18026
@Anonymitaet yes. I think that we should retain the URL `/docs/<path>` for convenience and current usage, but it helps to serve it as an alias.

That is, the source of truth is `/docs/<latest-version>/<path>` and we set up `/docs/<content>` as an alias to the latest stable versioned one. In this way, users can use `/docs/<path>` to access the latest stable version (which can be changed), while whe

[2022-10-24 02:42] tisonkun commented on #17438
See https://github.com/apache/pulsar/issues/18026#issuecomment-1288331662 and https://github.com/apache/pulsar/issues/18026#issuecomment-1288334832.

@urfreespace you may take a look and I'm gonna to work on it in the next month if there is no objection and no progress :)

[2022-10-24 02:55] 315157973 commented on #18128
Offload is not affected because the current `TrimLedger` mode is reused for cleaning. We only load the topics that have not been loaded to the memory for a long time on this basis.

[2022-10-24 03:05] #17361 closed

[2022-10-24 06:15] codelipenghui commented on #17886
@gaurav-ashok https://github.com/apache/pulsar/pull/18074 is fixed the issue. Close the issue first.

[2022-10-24 06:15] #17886 closed

[2022-10-24 08:20] thetumbled opened #18173 "PIP-217: LoadShedding Strategy Improment"
### Motivation

We usually need to do shedding many times util the load balancing is complete.

### incorrect shedding due to `historical scoring algorithm`
  ThresholdShedder implement a historical scoring algorithm when calculating scores for every broker to handle with the performance fluctuations,that is
```historyScore = historyScore == null ? currentScore : historyScore * historyPercentage +

[2022-10-24 09:08] #18145 closed

[2022-10-24 09:45] codelipenghui commented on #18128
fullScanMaximumZooKeeperRequestsPerSecond=200 -> fullScanMaximumMetadataRequestsPerSecond=200

[2022-10-24 09:59] tisonkun opened #18174 "Release all static resources under `$WEBSITE/static` in the site repo"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Currently, we only move part of the static resources under `$WEBSITE/static` to the final website deployment:

https://github.com/apache/pulsar-site/blob/c30db65192c9f1791bf4bd2cf1b300124643933a/site2/tools/build-site.sh#L45-L62

I think it breaks the assu

[2022-10-24 09:59] tisonkun commented on #18144
Blocked by #18174.

[2022-10-24 10:34] urfreespace commented on #18174
@tisonkun  tests show that hidden files are not copied by default. as you know, files whose names start with a dot are hidden files https://github.com/apache/pulsar-site/pull/263 PTAL, thanks.

[2022-10-24 12:21] eolivelli opened #18175 "PulsarShell: allow to create a configuration by cloning an existing one"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

You cannot modify the 'default' configuration and this makes sense.
But if you want to create a new configuration you have to provide all the parameters.
It would be great to have a way to clone an existing configuration

`config create jms --copy default`

[2022-10-24 14:08] zhanghang91 commented on #11866
I got the same problem as above, and could you tell me how to resolve this problem?

[2022-10-24 18:17] #18012 closed

[2022-10-24 22:52] leizhiyuan opened #18178 "[Bug] EntryFilter seems wrongly filter entry"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

master

### Minimal reproduce step

review the code

[code]

if we use

[code]

in cocurrent scene , we may get msgMetadata ,when it is null

time | thread 1 | thread 2
-- | -- | --
1 | do reset, set context msgMetaData is null |  
2 |   | do filter，find msgm

[2022-10-25 00:32] Technoboy- commented on #14652
Closed by #14017

[2022-10-25 00:32] #14652 closed

[2022-10-25 01:12] urfreespace commented on #17438
I know what you mean, I have no objection

[2022-10-25 01:13] #18174 closed

[2022-10-25 01:39] codelipenghui opened #18180 "Flaky-test: ProxyEncryptionPublishConsumeTest.socketTest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3313539874/jobs/5472460200

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-10-25 02:00] Jason918 commented on #18128
Great PIP.

Sounds like we are limiting request concurrency, not QPS from the definition of `fullScanMaximumMetadataRequestsPerSecond`.

Shouldn't be the bundle owner loading the topic?

[2022-10-25 02:23] 315157973 commented on #18128
change to `fullScanMaximumMetadataConcurrencyPerSecond`

In this way, all nodes need to read the topic data once and check whether the topic data belongs to them based on the bundle. I haven't figured out any good way for the leader to proactively notify other brokers to load.

[2022-10-25 04:06] congbobo184 opened #18182 "PIP-218: Consumer batchReceive() single partition every receive"
### Motivation

Currently, client API does not use `acknowledgeCumulative` simple and easy to understand.

If the user uses the receive() interface to consume multi-partition topic, there are two ways to use `acknowledgeCumulative` correctly :

1. Cache the different topic name messageId locally.

[code]

   It is complex and difficult for users to understand.

2. Every message invokes `acknowledg

[2022-10-25 05:51] tisonkun opened #18183 "Remove incubating documents from the main repo"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Remove https://github.com/apache/pulsar/tree/master/site2/website/versioned_docs/xxx-incubating.

This is a subtask of https://github.com/apache/pulsar/issues/18144.

### Solution

_No response_

### Alternatives

_No response_

### Anything else?

_No res

[2022-10-25 07:12] Jason918 commented on #18128
Yes, it would require much more work on the coordination. But we have to consider the case when consumer/producer connects during the cleanup.

[2022-10-25 07:29] Mini256 commented on #17917
When I installed the pulsar client according to the documentation, I found that the pulsar-client-cpp has been migrated, will this issue be used to track the issue of updating the repo link in the documentation?

https://pulsar.apache.org/docs/client-libraries-cpp/

[2022-10-25 07:39] tisonkun commented on #17917
@Mini256 I think in this PR https://github.com/apache/pulsar/pull/18140 we already update references of the C++/Python clients' repo. Do you spot any reference unexpected? Or do you think we should add more references at the beginning?

Please share more details you'd like to achieve here :)

[2022-10-25 07:54] Mini256 commented on #17917
https://pulsar.apache.org/docs/client-libraries-cpp#macos

The first step for MacOS tells me that:

And when I execute the `cmake` command, I found that the code of the client has been migrated.

[2022-10-25 07:59] tisonkun commented on #17917
@Mini256 Good point. In the next version, we change this section directly to the new repo's README. Let me cherry-pick to to other maintained versions.

[2022-10-25 09:03] 315157973 commented on #18128
We only need to check whether producers and consumers exist to determine whether to close topic. In addition, the number of zombie topics is not large.

[2022-10-25 09:10] Jason918 commented on #17468
Got error when compiling zlib. See the log:
[build-mac.log](https://github.com/apache/pulsar/files/9858792/build-mac.log)
Version
OS: MacOS 10.15.7
CMake version: 3.24.2
Clang version: Apple clang version 11.0.3 (clang-1103.0.32.59)
Pulsar version: v2.10.2

@BewareMyPower Can you help release python mac wheels for release 2.10.2?
From the "Existing branches" part in https://github.com/apache/pulsa

[2022-10-25 09:20] BewareMyPower commented on #17468
@Jason918 I might not have time recently. The 2.8.4, 2.10.1 released also missed the Python mac wheels. IMO, for macOS users, they should turn to the new repo.

[2022-10-25 09:48] visortelle opened #18190 "[Bug] It's hard to find latest docs using search engines like Google"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

-

### Minimal reproduce step

<img width="803" alt="Screen Shot 2022-10-25 at 11 39 54 AM" src="https://user-images.githubusercontent.com/9302460/197740073-41066585-fca0-410a-82cb-76809d39d3d0.png">

<img width="1180" alt="Screen Shot 2022-10-25 at 11 40 17

[2022-10-25 09:58] lwclover commented on #17731
Thank you for your reply.

Pulsar native protocol has no problem. I test the case Using kop.
I read the code of kop, it does not support entryfilters now.

[2022-10-25 09:58] ishu-thakur commented on #18190
Hi @visortelle I would like to contribute in this issue , by raising the PR after fixing the meta tag in html .

[2022-10-25 09:59] #17731 closed

[2022-10-25 10:02] visortelle commented on #18190
Hi @ishu-thakur.

If docs maintainers don't mind, then do it.
Let's wait for some response from them first.

[2022-10-25 10:02] ishu-thakur commented on #18190
sure @visortelle we can wait for their response and after that I can start working on it :)

[2022-10-25 10:08] tisonkun commented on #18190
Cool! I think you can open an issue against https://github.com/apache/pulsar-site under `site2/website-next` where we place the source code of the website.

cc @urfreespace @michaeljmarshall @Anonymitaet @momo-jun

[2022-10-25 10:11] visortelle commented on #18190
But issues are disabled here. You probably meant to open a PR. :)

<img width="735" alt="Screen Shot 2022-10-25 at 12 10 14 PM" src="https://user-images.githubusercontent.com/9302460/197746417-f0fb6e75-0fbc-416e-91fd-a2bbb4f80739.png">

[2022-10-25 10:14] tisonkun commented on #18190
@visortelle yes. Sorry to make the typo :P

[2022-10-25 10:14] tisonkun commented on #18190
I'm glad to help with reviewing and verifying once you submit one :)

[2022-10-25 10:49] ishu-thakur commented on #18190
@visortelle should I fork the repo and start adding the html tag in every single .html file ?

[2022-10-25 10:52] visortelle commented on #18190
@ishu-thakur I think you should somehow conditionally configure the Docusaurus config instead of adding the meta tag in every html file.

If you take it, it's your task to find out how to do it in a better way.

[2022-10-25 14:11] #18183 closed

[2022-10-25 14:31] codelipenghui commented on #18182
Just one suggestion about the new option name

Maybe `messagesFromMultiTopicsEnabled=true` is more understandable.
And add a description of the behavior if the user disables it.
It looks like if `messagesFromMultiTopicsEnabled=true`. The max messages and max size will not be strictly followed.

[2022-10-25 15:16] #17738 closed

[2022-10-25 21:37] heesung-sn commented on #18099
Raised a PR to the apache/master branch. https://github.com/apache/pulsar/pull/18195

[2022-10-26 01:47] leizhiyuan opened #18196 "[Bug] locallyAcquiredLocks leak in OwnershipCache"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

master

### Minimal reproduce step

review the code

<img width="795" alt="image" src="https://user-images.githubusercontent.com/2684384/197915334-bd273680-b3da-43f4-9405-6318ccfb5857.png">

34M

### What did you expect to see?

[code]

should be locallyAcqui

[2022-10-26 02:21] leizhiyuan opened #18198 "[Bug] cache leak in LockManagerImpl"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

master

### Minimal reproduce step

review the code
![image](https://user-images.githubusercontent.com/2684384/197919117-51a803d8-daff-4a80-bccc-1f0f6b4fa339.png)

### What did you expect to see?

cache was cleaned normally

### What did you see instead?

see

[2022-10-26 06:53] #18198 closed

[2022-10-26 07:00] congbobo184 commented on #18182
make sense

[2022-10-26 07:12] tisonkun commented on #18144
@urfreespace please confirm whether there are still remaining building logics about incubating docs page. I think most are included in https://github.com/apache/pulsar-site/pull/261 and others for versions downloads/release-notes can be handled later.

[2022-10-26 07:17] labuladong opened #18206 "[Bug] `OutOfDirectMemoryError` when pulsar standalone start with multiple bookie"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

The master version of Pulsar.

### Minimal reproduce step

1. `rm data` to clean the old standalone data folder.

2. Start Pulsar standalone with multiple bookies.

[code]

### What did you expect to see?

Start normally.

### What did you see instead?

[code

[2022-10-26 08:17] complone commented on #13346
This looks interesting I'll be looking into it for a while

[2022-10-26 10:18] gaozhangmin commented on #18206
I will take a look at this

[2022-10-26 11:50] startjava opened #18208 "[Doc] "negatively acknowledged cumulatively" ambiguous?"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

This website:

https://pulsar.apache.org/docs/concepts-messaging/#negative-acknowledgement

The:

Messages are negatively acknowledged individually or cumulatively, depending on the consumption subscription type.

The inner "ope

[2022-10-26 12:02] f-ld commented on #7268
Dropping a comment here since I got similar issue and fixed it. In my cases logs were like:

[code]

And the solution was to allocate more memory/cpu to `recovery` instances.

[2022-10-26 12:12] gaozhangmin commented on #18206
It's because one bookie's  readCache and writeCache use 1/2 direct memory total by default, 2 bookie us full direct memory.
We cannot set bookkeeper config in standalone.conf, it takes no effect. I think we need improvement here.

[2022-10-26 12:34] tisonkun opened #18209 "[Bug] RocksDB metadata store cannot be worked with external query engine"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

9f91d7bc269a2b41f241408e1008aa3cd86d9632

### Minimal reproduce step

I'm trying to enable Pulsar SQL to work with the new metadata store and remove the trick documented [here](https://pulsar.apache.org/docs/next/sql-getting-started/#query-data-in-pulsar):

C

[2022-10-26 19:20] flowchartsman opened #18213 "[Bug] [Backport] #14814 -> 2.8.x (pulsar-managed runtimes fail to start function with package URL)"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

If it is possible, could #14814 be cherry-picked to 2.8? I tried applying the change to the 2.8 branch, and aside from a minor conflict on import ordering, it looks as if it would apply cleanly. This would allow 2.8 to run pulsar functions from the package ma

[2022-10-27 00:44] tisonkun commented on #16795
another instance: https://github.com/apache/pulsar/actions/runs/3328130218/jobs/5509161587

[2022-10-27 01:53] labuladong commented on #18206
Hi @gaozhangmin, `bin/pulsar standalone` uses `conf/standalone.conf`, these two value is empty by default:

<img width="562" alt="image" src="https://user-images.githubusercontent.com/37220920/198041710-7831aed5-f6ca-4b9f-bf96-66462fa18bc4.png">

[2022-10-27 02:01] codelipenghui commented on #18206
@labuladong If you are using the standalone. The direct memory will be shared across the broker and bookie. It doesn't make sense for a standalone that applies the proportional allocation strategy. Maybe we should change the default value of the `standalone.conf`.

[2022-10-27 02:06] codelipenghui commented on #16795
@poorbarcode Please help check this one

[2022-10-27 02:18] gaozhangmin commented on #18206
@labuladong , yes , just set them smaller. empty means using default value.

[2022-10-27 02:19] heesung-sn opened #18215 "PIP-220: TransferShedder (Only for PIP-192 New Broker Load Manager )"
### Motivation

1. As PIP-192 enables the `bundle transfer protocol`, we could implement a new shedding strategy to specify a new owner broker.
2. Improve the edge cases in the current shedders:

- More aggressive load balance strategy: https://docs.google.com/document/d/1nXaiSK39E10awqinnDUX5Sial79FSTczFCmMdc9q8o8/ (reported)
We need to revisit the current load balance strategy to balance the loa

[2022-10-27 03:10] nodece commented on #8152
This is a good idea to improve the JWT.

[2022-10-27 03:33] Jason918 commented on #18209
The root cause is that RocksDB can't share data across processes.

[2022-10-27 03:34] Jason918 commented on #18209
non-issue closed as not planned

[2022-10-27 03:34] #18209 closed

[2022-10-27 03:47] poorbarcode commented on #16795
@codelipenghui

OK

[2022-10-27 03:52] codelipenghui commented on #18213
@flowchartsman I have cherry-picked the PR into branch-2.8. Close the issue for now.

[2022-10-27 03:52] #18213 closed

[2022-10-27 04:23] #14272 closed

[2022-10-27 04:25] #16244 closed

[2022-10-27 04:25] #11413 closed

[2022-10-27 04:25] #11402 closed

[2022-10-27 04:25] #13903 closed

[2022-10-27 04:26] #13966 closed

[2022-10-27 04:26] #16253 closed

[2022-10-27 04:26] #16262 closed

[2022-10-27 04:26] #17983 closed

[2022-10-27 06:39] #17132 closed

[2022-10-27 06:43] #18196 closed

[2022-10-27 06:53] labuladong commented on #18206
I change them to 512, then this issue fixes. Thanks! @codelipenghui @gaozhangmin

[2022-10-27 07:01] codelipenghui commented on #18206
@labuladong Do you want to create a PR to fix the standalone.conf? To make sure the new users will not encounter this issue with the Pulsar default configuration. It's a bad user experience. The new user might thought Pulsar is not stable since they can easily impacted by OOM issue.

[2022-10-27 07:10] labuladong commented on #18206
Yes, I'm thinking about what the value should be in `standalone.conf`. 512 is still too large if `--num-bookies` increases.

To my understanding, these params are cache size so we can set it very small for the standalone mode, for example only 10MB. Will this be OK? @codelipenghui

[2022-10-27 08:37] AnonHxy commented on #18178
It looks that `fillContext` will be called in sync block, for example

[code]

[2022-10-27 10:14] congbobo184 commented on #18182
make sense

[2022-10-27 10:52] momo-jun commented on #18151
Ping @congbobo184 @RobertIndie to take a look at the proposal.
//cc @Anonymitaet  @DaveDuggins @D-2-Ed

[2022-10-27 11:45] ATaurenRideRocket opened #18224 "[Bug] deliverAfter not work"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

pulsar server- 2.8.1
pulsar client - 2.8.1

### Minimal reproduce step

producer.newMessage()
                       .value(json)
                       .deliverAfter(2, TimeUnit.SECONDS)
                       .send();

### What did you expect to see?

when

[2022-10-27 13:43] #17140 closed

[2022-10-27 13:44] #17188 closed

[2022-10-28 00:43] Demogorgon314 opened #18229 "PIP-221: Make TableView support TTL"
### Motivation

Currently, the table view only supports removing messages
when receiving tombstone messages.

However, some old keys may be useless after a while,
but we won't be able to remove them unless we manually scan the map.
Like load data in PIP-192 [#16691](https://github.com/apache/pulsar/issues/16691).

This PIP will introduce the TTL to delete the old data,
and the TTL will be based on

[2022-10-28 01:19] codelipenghui opened #18230 "Flaky-test: MLPendingAckStoreTest.testMainProcess"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3338223656/jobs/5525935706

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-10-28 01:21] codelipenghui opened #18231 "Flaky-test: ProxyPublishConsumeWithoutZKTest.socketTest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3338223656/jobs/5525935875

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-10-28 01:23] codelipenghui opened #18232 "Flaky-test: AdminApi2Test.resetClusters"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3338223656/jobs/5525936081

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-10-28 01:41] ATaurenRideRocket commented on #18224
I did.
pulsarClient.newConsumer()
                        .messageListener(consumer)
                        .receiverQueueSize(properties.getReceiverQueueSize())
                        .topics(topicList)
                        .subscriptionName(properties.getSubscriptionName())
                        .subscriptionType(SubscriptionType.Shared)
                        .negativeAckRedeliveryDelay

[2022-10-28 02:04] shibd commented on #17169
Todo: ExclusiveWithFencing, and WaitForExclusive

[2022-10-28 02:08] BewareMyPower commented on #8660
It's already fixed in latest code: https://github.com/apache/pulsar-client-cpp

[2022-10-28 02:08] #8660 closed

[2022-10-28 02:16] codelipenghui commented on #18229
@Demogorgon314 It's a little confusing if the TTL can only apply to the table view that is based on the non-persistent topic. Or can it also apply to the persistent topic?

And the TTL is based on the message publish time or the time arrive the consumer.

[2022-10-28 02:26] codelipenghui commented on #18224
Ok. Looks like it should be related to the ticket time

https://github.com/apache/pulsar/blob/8f8637a75e05f271bdc8fa2081284d39bc5de972/conf/broker.conf#L548-L553

You can try to reduce the ticket time or just make the delayed time > 2s (5s or 10s)

[2022-10-28 02:27] truong-hua commented on #5704
Same expectation too

[2022-10-28 02:58] Technoboy- commented on #18069
Fixed by https://github.com/apache/pulsar/pull/17993

[2022-10-28 02:58] #18069 closed

[2022-10-28 03:01] #12271 closed

[2022-10-28 03:02] congbobo184 commented on #17131
This test has not failed for a long time, it may have been fixed, so close this issue, if it occurs, can reopen it

[2022-10-28 03:02] #17131 closed

[2022-10-28 03:29] tisonkun opened #18233 "[Bug] Pulsar Shell client produce multiple `-m` only the first one fired"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

a48bc8b07fec31a03d3e96042d2e4d8a8e7f22cf

### Minimal reproduce step

Start a new standalone service, and send two message in one line:

[code]

### What did you expect to see?

Two messages are both sent.

### What did you see instead?

Only the first messag

[2022-10-28 03:38] tjiuming commented on #18178
it seems OK, like @AnonHxy said, all upper level calls are synchronous

[2022-10-28 03:40] BewareMyPower commented on #6945
#8185 added the key-based batching support. HashingScheme is not supported yet.

[2022-10-28 03:41] BewareMyPower commented on #7324
It's fixed now.

[2022-10-28 03:41] #7324 closed

[2022-10-28 03:44] #9950 closed

[2022-10-28 03:44] #14714 closed

[2022-10-28 03:45] #14673 closed

[2022-10-28 03:46] BewareMyPower commented on #14926
This feature request is tracked by https://github.com/apache/pulsar-client-cpp/issues/87

[2022-10-28 03:46] #14926 closed

[2022-10-28 03:48] BewareMyPower commented on #17097
It should be fixed by new releases of https://github.com/apache/pulsar-client-python

[2022-10-28 03:48] #17097 closed

[2022-10-28 03:49] tjiuming commented on #18163
this should be a bk client issue @hangc0276 PTAL

[2022-10-28 03:51] codelipenghui commented on #5704
Looks like we can just delete the terminated topic and create a new one with the same topic name? After the topic is terminated, the consumer can continue to consume messages. We can safely delete the topic after the backlogs have been cleaned up.

[2022-10-28 03:53] codelipenghui commented on #18163
@zhaohaidao I think the issue is not for Pulsar 2.11 right? I noticed the bookkeeper version should be a version that builds on the bookkeeper master branch. I just want to make sure it's not a regression for the 2.11.0 release.

[2022-10-28 04:48] #18038 closed

[2022-10-28 04:58] congbobo184 commented on #18128
one question.
leader load the topic, may cause the normal topic become fence. may need to consider how to not affect the normal topic behavior.

[2022-10-28 05:03] michaeljmarshall opened #18236 "[Bug] Message lost after forcefully stopping broker"
## Version

Formally reproduced the bug on Apache Pulsar 2.9.3 and 2.10.2. Based on my understanding of the code, it affects all active versions of Pulsar.

## Minimal steps to reproduce

1. Start a Pulsar cluster (I had one in k8s).
2. Create a topic and subscription `bin/pulsar-admin topics create-subscription -s abc test1`
3. Produce a message to that topic `bin/pulsar-client produce -m test te

[2022-10-28 05:06] michaeljmarshall commented on #18236
I have a fix that I plan to submit soon.

[2022-10-28 05:40] coderzc commented on #18233
Seems to be send multiple messages should use `client produce my-topic -m "hello,tison"`.

[2022-10-28 05:51] tisonkun commented on #18233
@coderzc That can be the way, while the help message says:

[code]

[2022-10-28 05:54] hangc0276 commented on #18163
From the exception stack, it says the `lh` is null, but we have already checked it is not null. One possible reason is that the `lh` has been released, but we need to figure out how it happens.
https://github.com/apache/bookkeeper/blob/ef31c7a37415c063b2f485f63198ec28e8f9f0fa/bookkeeper-server/src/main/java/org/apache/bookkeeper/client/PendingAddOp.java#L247-L281

Would you please try to confirm
1

[2022-10-28 06:28] dionjansen commented on #17776
@mattisonchao @freezenet just wondering, is there any update on this? I would be willing to submit a PR, but I'd need some direction on what the approach for this should be.

[2022-10-28 06:53] 315157973 commented on #18128
Normal topics will not be loaded. Because metadata  of normal topics will not meet the conditions of full scan

[2022-10-28 07:20] coderzc commented on #18233
I push pr to fix it.

[2022-10-28 07:56] wx7614140 commented on #12459
I got an error log in pulsar 2.9.3: "Proxy Client is not authorized to Get Partition Metadata with role xxxxxx on topic persistent://public/default/xxxxxxxxxxxxxxxxx". should I grant consume permission to this topic ?

[2022-10-28 07:58] MichalKoziorowski-TomTom commented on #18239
I understand now. Thank you.

[2022-10-28 08:02] leizhiyuan opened #18240 "[improve][broker] ResourceGroupService alloc much memory even we do not use"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

add a switch to open resource group usage

this will use more  cpu to process gc

<img width="720" alt="image" src="https://user-images.githubusercontent.com/2684384/198536043-5c63b04d-f2f1-4444-a535-5265848efef0.png">

![image](https://user-images.githubu

[2022-10-28 08:06] codelipenghui commented on #18236
@michaeljmarshall Have you reset the cursor during the test? Both PR #17668 and #18237 have mentioned the issue is related to resetting the cursor. But it looks like the steps don't require the reset cursor operation.

[2022-10-28 08:14] codelipenghui commented on #18038
@tjiuming Could you please help put a summary for this proposal? Maybe some users also try to find a solution to get the metrics of threads.

[2022-10-28 08:50] codelipenghui commented on #18240
@leizhiyuan I guess you might have many topics/subscriptions. And some subscriptions have many non-continues acks. I think one solution that we can try is to introduce a new flag to skip the non-continued deleted ranges stats when getting the topic stats. It's useless for ResouceGroupService.

[2022-10-28 08:55] leizhiyuan commented on #18240
ok

[2022-10-28 08:56] nodece commented on #12459
You need to grant consume/produce permission for your role.

[2022-10-28 09:02] zhaohaidao commented on #18163
Yes. it is a bookkeeper client issue, and the bkclient built on the master branch.
Sorry for submitting to the wrong place.

[2022-10-28 09:03] codelipenghui commented on #18240
@leizhiyuan I think we don't need to close the issue for now. Maybe you want to push a fix for it? I think I can assign to you directly.

[2022-10-28 09:14] labuladong opened #18241 "[Bug] `InvalidCookieException` when restart pulsar standalone with multiple bookies"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Master branch.

### Minimal reproduce step

After #18206, I can start pulsar standalone with multiple bookies. But if I restart the server, `InvalidCookieException` will occur.

1. `rm data` to remove the old data folder.
2. `bin/pulsar standalone --num-booki

[2022-10-28 09:21] zhaohaidao commented on #18163
I am not sure if this issue is related to [#3321](https://github.com/apache/bookkeeper/pull/3321), which try to fix ledger handle leak issues

@hangc0276 @codelipenghui

[2022-10-28 09:43] lhotari opened #18243 "Add observability metrics for CommandPartitionedTopicMetadata requests"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Currently, there's no way to track CommandPartitionedTopicMetadata requests. There's no metrics or logs that indicate that a broker is handling CommandPartitionedTopicMetadata requests.

Misconfigured clients might flood brokers with CommandPartitionedTopi

[2022-10-28 09:56] #17011 closed

[2022-10-28 10:09] wx7614140 commented on #12459
Oh，I forgot the prefix "persistent://public/tenent_name" when subscribing data.THX!

[2022-10-28 12:40] zymap commented on #18163
Is there any error logs? If it is caused by that PR, there should have LedgerClosed or Interrupt errors I think

[2022-10-28 13:02] codelipenghui commented on #12459
Thanks for the help @nodece
Close the issue for now.

[2022-10-28 13:02] #12459 closed

[2022-10-28 13:05] codelipenghui commented on #18241
The bookie port is changed :)

[2022-10-28 13:06] #18233 closed

[2022-10-28 13:19] tjiuming commented on #18038
@codelipenghui OK

[2022-10-28 13:29] tjiuming commented on #18243
currently, we have [metadata store metrics](https://pulsar.apache.org/docs/next/reference-metrics/#metadata-store-metrics), if it could meet your needs, I'd like to handle the issue.
@lhotari

[2022-10-28 13:34] yuweisung commented on #18151
what kinds of schema protocol do we support?  json, avro, protobuf, thrift?

[2022-10-28 13:54] zhaohaidao commented on #18163
The error log context is as followed. Not sure if it can help.
@zymap

  11338 semblePlacementPolicyImpl - Failed to choose a bookie: excluded [<Bookie:10.225.50.43:3181>, <Bookie:10.225.105.4:3181>, <Bookie:10.224.145.38:3181>], fallback to choose bookie
  11338 randomly from the cluster.
  11339 Oct 27 18:02:42 test_host pulsar[166925]: 2022-10-27T18:02:42,055+0800 [BookKeeperClientWorker-Ordere

[2022-10-28 15:19] michaeljmarshall opened #18249 "Add way to view a cursor's persisted PositionInfo in bookkeeper"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

While researching the solution for #18236, it would have been very helpful to have access to a cursor's persisted `PositionInfo` in Bookkeeper. In that bug's case, the persisted data in bookkeeper didn't align with the `PositionInfo` persisted in zookeeper

[2022-10-28 15:27] michaeljmarshall commented on #18190
This is an important issue to solve. In addition to discoverability, we often expose old docs. For example, when I search `pulsar java admin client`, the second result is for incubator docs.

![Screen Shot 2022-10-28 at 10 25 31 AM](https://user-images.githubusercontent.com/47911938/198674697-5f8643f0-0076-4cca-a8c0-6f6166c9ab98.png)

Note that the first link is for the java client, not the java a

[2022-10-28 15:33] lhotari commented on #18243
How are metadata store metrics used currently? I think it could be a breaking change if CommandPartitionedTopicMetadata requests are tracked as part of some other metric. I think it should be a new metric that is unique for CommandPartitionedTopicMetadata requests. @codelipenghui do you have a suggestion?

[2022-10-28 15:38] michaeljmarshall commented on #17917
Where should we move the python doc process? It's in the pulsar-site right now. I think we could leave the process there and just update the relevant release process docs so that the release manager knows how to generate the docs.

[2022-10-28 15:46] WJL3333 opened #18251 "[Cleanup] duplicate sendError and sendErrorResponse in PulsarCommandSender"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

duplicate sendError and sendErrorResponse in PulsarCommandSender
also sendSuccess and sendSuccessResponse

### Solution

_No response_

### Alternatives

_No response_

### Anything else?

_No response_

### Are you willing to submit a PR?

- [X] I'm willi

[2022-10-28 17:46] visortelle commented on #18190
I just took a look at how it works in Confluent docs.

It seems like they don't use the tags I mentioned above, but use the canonical tag instead.

For example:

This page for v7.2.0 is a bit outdated version of their product) `https://docs.confluent.io/platform/7.2.0/installation/docker/operations/index.html`

has the following tag in the HTML head:

`<link rel="canonical" href="https://docs.conf

[2022-10-28 19:07] alpreu opened #18253 "[pulsar-functions-worker][api] returns non-descriptive Jersey error when sending invalid json"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

When sending invalid JSON to the `pulsar-functions-worker` API the response from the server looks like this:

[code]

The problem here is that there is no descriptive error message that shows the user that the sent JSON is either broken or could not be map

[2022-10-29 04:10] labuladong commented on #18241
I will try to fix it

[2022-10-29 09:56] leizhiyuan commented on #18240
ok，you can assign it to me。

[2022-10-30 10:51] sunxiaojian opened #18256 "Debezium supports read-only incremental snapshot mode"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

https://debezium.io/blog/2022/04/07/read-only-incremental-snapshots/

### Solution

_No response_

### Alternatives

_No response_

### Anything else?

_No response_

### Are you willing to submit a PR?

- [X] I'm willing to submit a PR!

[2022-10-30 16:18] truong-hua commented on #5704
Thank @codelipenghui for a workaround solution but I think in reality, what will happen to us is that we have to force delete the topic and make sure that every consumer can re-subscribe properly to the new topic. Besides, creating a topic of our system is not as easy as just creating but it's a provisioning process with many configurations/policies has to be applied like retention, message rate,

[2022-10-31 02:02] codelipenghui commented on #18215
I think the part of `More aggressive load balance strategy` mentioned in this proposal is resolved by https://github.com/apache/pulsar/pull/17456

For the load balance epochs. I'm not if I understand it correctly. Is it will expose metrics or something to help to tune the `max_transfer_cnt`?

[2022-10-31 02:58] codelipenghui commented on #18243
The metadata store metrics are on the metadata store level which can provide the metastore operation latency. The REST API request metrics should be a separate part. The CommandPartitionedTopicMetadata requests metrics should not 100% equal to the metadata store operation. Maybe the jetty thread is blocked somewhere.

I think maybe jetty already provides the ability to expose the metrics with the

[2022-10-31 03:24] WJL3333 commented on #18243
i'd like to help if we need add some metric like `CommandLookup` request number and process time for `CommandPartitionedTopicMetadata`

[2022-10-31 03:36] zymap commented on #18163
Does this error still happen?
I am not sure about it is related to [#3321](https://github.com/apache/bookkeeper/pull/3321). In 3321, the recycling happened at the beginning of add entry operation. If it is recycled, the pendingAddOp won't be executed.
Because you are using the master code, could you please take the following experiment:
- Change the code base to branch-4.15 to test if the latest c

[2022-10-31 03:40] codelipenghui commented on #17407
Looks like the issue doesn't happen again. Close it first.

[2022-10-31 03:42] codelipenghui commented on #16729
Close the issue for now since it doesn't happen again.

[2022-10-31 03:53] codelipenghui commented on #17219
Looks like the issue doesn't happen again. Close it first.

[2022-10-31 03:53] #17219 closed

[2022-10-31 03:56] liliang950210 commented on #17097
[2.10.1 ](https://pypi.org/project/pulsar-client/2.10.1/#files) will these file update?

[2022-10-31 03:59] Demogorgon314 commented on #18229
@codelipenghui I have changed the PIP describe base on your comment. Please take a look again! Thanks.

[2022-10-31 04:00] codelipenghui commented on #5704
I think it should not be a case that topic termination wants to resolve. We should only terminate the topic if we know the topic will not be used (producer first. consumes tries to drain the backlog then closes eventually.)

If the requirement is how to prevent the producers to publish new messages. I think we should use the publish rate limiter, backlog quota policy to block the producer or just

[2022-10-31 04:04] codelipenghui commented on #17876
@congbobo184 I think we should provide clear information while the transaction coordinator does not enable it on the broker side. It will help users to understand the problem quickly.

[2022-10-31 04:05] codelipenghui commented on #17225
Close the issue for now since it is not active.

[2022-10-31 04:05] #17225 closed

[2022-10-31 04:19] codelipenghui commented on #18229
@Demogorgon314 LGTM

[2022-10-31 04:29] BewareMyPower commented on #17097
No. You can look forward to the upcoming 3.0.0 release.

[2022-10-31 05:20] poorbarcode commented on #17407
another one: https://github.com/apache/pulsar/actions/runs/3349222804/jobs/5549024802

[2022-10-31 05:22] poorbarcode commented on #18230
another one: https://github.com/apache/pulsar/actions/runs/3295550972/jobs/5434989599

[2022-10-31 05:27] nodece commented on #18180
Closed by https://github.com/apache/pulsar/pull/18216.

[2022-10-31 05:27] #18180 closed

[2022-10-31 05:48] #18236 closed

[2022-10-31 08:01] #18206 closed

[2022-10-31 10:02] tjiuming commented on #18243
@codelipenghui @lhotari There are 2 ways to get PartitionedTopicMetadata, one is `ServerCnx#handlePartitionMetadataRequest(CommandPartitionedTopicMetadata partitionMetadata)`, another one is `PersistentTopics#getPartitionedMetadata(Args ...)`
if we need to add metrics for them, please assign the issue to me

[2022-10-31 11:27] Shawyeok opened #18269 "[Bug] zk EventThread get block after zk leader stop"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

[code]

### Minimal reproduce step

Setup a pulsar cluster and zk cluster, could get a chance to reproduce (not always) after stop zk leader

### What did you expect to see?

zk client should reconnect another zk node properly,

### What did you see instead?

[2022-10-31 11:32] Shawyeok commented on #18269
Similar with https://github.com/apache/pulsar/issues/16712

[2022-10-31 11:57] tjiuming commented on #18243
I've checked jetty, seems there are no such ability.
if we want the ability, it's not easy. because we need to converge the request path. such as: `/api/v2/persistent/myTenant/myNamespace/partitioned` -> `/api/v2/persistent/{tenant}/{namespace}/partitioned`. it may takes some time

[2022-10-31 12:04] codelipenghui commented on #18269
@Shawyeok The issue should be fixed by #17909

[2022-10-31 12:48] WJL3333 opened #18271 "Avoid long type autoboxing to Long in TxnID"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

TxnID use Object.equals which is unnessary. should change to ==

### Solution

_No response_

### Alternatives

_No response_

### Anything else?

_No response_

### Are you willing to submit a PR?

- [X] I'm willing to submit a PR!

[2022-10-31 13:34] tisonkun opened #18272 "[Doc] Tracking issue for contribution guide"
### Motivation

I'm working on the development guide (contribution guide) for Apache Pulsar. The guide page can be found at https://pulsar.apache.org/contribute/.

This movement is to collect all the topics related to Pulsar development scattered everywhere and provides a completed, one-stop doc page for existing and potential contributors.

The final structure is pending to be like: https://devgu

[2022-10-31 14:06] Shawyeok commented on #18269
Update:

`synchronized` lock is unfair, a thread has big chance acquire lock if it just release it, see example below:
[code]
Output:
[code]

[2022-10-31 14:10] tisonkun commented on #18269
I think this bug should be resolved at https://github.com/apache/pulsar/pull/17909 also.

It seems that the reported version is 2.8.1. @codelipenghui do we have a released version including the fix that @Shawyeok can try to use?

[2022-10-31 14:16] Shawyeok commented on #18269
I've talked with @codelipenghui, I'll pick that PR into our release branch in my org.

Thanks again for point this out @codelipenghui @tisonkun, I'm going close this one.

[2022-10-31 14:16] #18269 closed

[2022-10-31 17:19] heesung-sn commented on #18215
Hi,

Regarding ` More aggressive load balance strategy `, I think the idea here
is similar from #17456 <https://github.com/apache/pulsar/pull/17456>.
Even if no global shedding condition is met (here the shedding condition is
std-based instead of avg threshold), and if the min resource usage broker
is having no traffic, this pip is still trying to transfer load from max to
min broker.

Yes. This p

[2022-11-01 03:14] labuladong opened #18274 "Flaky-test: org.apache.pulsar.broker.admin.AdminApiOffloadTest#testTopicLevelOffloadPartitioned"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3365965817/jobs/5582476700#step:10:1295

### Exception stacktrace

<details>
<summary>Full exception stacktrace</summary>
<pre><code>
[ERROR] testTopicLevelOffloadPartitioned(org.apache.pulsar.broker.admin

[2022-11-01 03:23] philixtian opened #18275 "[Bug] Broker load rebalance uneffective in virtual machine，failed to find NICs while "/virtual/" in the realpath"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

tlinux(CentOS)
pulsar-2.10.1

### Minimal reproduce step

Deploy brokers on virtual machines.

### What did you expect to see?

Broker auto load rebalance effective.

### What did you see instead?

![企业微信截图_16669270641771](https://user-images.githubuserconten

[2022-11-01 03:45] #18251 closed

[2022-11-01 04:45] #18241 closed

[2022-11-01 04:47] #18231 closed

[2022-11-01 04:49] #18271 closed

[2022-11-01 05:38] momo-jun commented on #18151
@yuweisung thrift is not supported; for the other three, Yes!

[2022-11-01 09:03] WJL3333 opened #18279 "[cleanup][broker] Direct get lowest PositionImpl from TreeMap"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

some interface already return TreeSet but the signature is Set
so the caller will use set.stream().findFirst()
which is unnessary.

### Solution

_No response_

### Alternatives

_No response_

### Anything else?

_No response_

### Are you willing to subm

[2022-11-01 11:21] tjiuming commented on #18243
@lhotari @codelipenghui PTAL https://github.com/apache/pulsar/pull/18281

[2022-11-01 11:40] codelipenghui opened #18282 "PerformanceTransactionTest.testConsumeTxnMessage"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/codelipenghui/incubator-pulsar/actions/runs/3368394689/jobs/5587018417

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-11-01 16:17] tisonkun commented on #15664
I'm going to send an email to privacy@apache.org, asking for a site ID and integrating the website with the Matomo service.

In the first place, we keep the Google Analytics settings until it's forcibly forbidden by the ASF or we're confident that the Matomo solution has completed replace.

[2022-11-01 19:12] poorbarcode commented on #18230
another one: https://github.com/apache/pulsar/actions/runs/3333737684/jobs/5584052059

[2022-11-02 01:43] #17622 closed

[2022-11-02 01:45] codelipenghui commented on #17657
@poorbarcode It looks like all the tests that took more than 5 min are fixed. Do you want to recheck the CI for the time-consuming test？

[2022-11-02 06:38] aloyszhang opened #18292 "[Bug] Too much schemas ledgers are created when multi producer start concurrently"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.8.1

### Minimal reproduce step

1. create a new topic
2. start up multi producers with the same Schema
3. after producers are created, check the schemas by `bin/pulsar-admin schemas get -a tenant/namespace/topic`
4. you'll see many versions of schemas

###

[2022-11-02 06:42] aloyszhang commented on #18292
<img width="882" alt="image" src="https://user-images.githubusercontent.com/48062889/199417529-51395932-ec6a-4142-8ad5-9d0cfc6ce797.png">

This problem is caused by the update loop.

1. Read  exist schema entry
2. build new schemaEntry
3. create a new ledger
4. write schemaEnry to BK
5. builld new SchemaLocator
6. put SchemaLocator to zk with expected version

if step 5 failed, broker will try thi

[2022-11-02 07:41] labuladong commented on #18282
Assign to me please.

[2022-11-02 07:56] #16795 closed

[2022-11-02 08:22] labuladong opened #18294 "Flaky-test: ProxyPublishConsumeWithoutZKTest.socketTest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3374860995/jobs/5601165093#step:10:492

### Exception stacktrace

<details>
<summary>Full exception stacktrace</summary>
<pre><code>
Error:  socketTest(org.apache.pulsar.websocket.proxy.ProxyPublishConsume

[2022-11-02 09:14] tisonkun commented on #18272
cc @momo-jun

Make sense. Added as a work item. I'm going to handle it by the next week. Although, I think it's still valuable to hold an entry in the user doc since security topics are also users' concerns.

[2022-11-02 09:23] tisonkun opened #18297 "[Doc] Fix links to Google docs page in the documentation guide"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

There are still several links to Google Docs at https://pulsar.apache.org/contribute/documentation/overview

### What is your suggestion?

Replace with links to the corresponding doc site files.

### Any reference?

Subtask of #

[2022-11-02 09:32] tisonkun commented on #18297
Well. I notice that these three files are still not ported to a markdown file:

* [Pulsar Documentation Writing Style Guide](https://docs.google.com/document/d/1lc5j4RtuLIzlEYCBo97AC8-U_3Erzs_lxpkDuseU0n4/edit#)
* [Pulsar Design Style Guide](https://docs.google.com/document/d/16Hp7Sc86MQtL0m8fc2w_TrcKXAuglwRwHmdmwfk00mI/edit#heading=h.b8ogodj5sj0)
* [Pulsar API Documentation Guide](https://docs.go

[2022-11-02 09:42] poorbarcode commented on #18294
another one:

https://github.com/poorbarcode/pulsar/actions/runs/3371924159/jobs/5594942720

[2022-11-02 09:47] poorbarcode commented on #18231
The problem has happened again and someone has created another issue

- https://github.com/apache/pulsar/issues/18294

[2022-11-02 09:55] poorbarcode commented on #18294
This case failed after https://github.com/apache/pulsar/pull/18268 merge

- https://github.com/apache/pulsar/actions/runs/3374860995/jobs/5601165093#step:10:492

### problem occurs at:

<img width="798" alt="截屏2022-11-02 17 54 33" src="https://user-images.githubusercontent.com/25195800/199459520-13d4e40a-9f47-4585-bd1c-2be7facadae4.png">

### #18268 merge time:

<img width="984" alt="截屏2022-11-02

[2022-11-02 10:30] coderzc commented on #18294
It seems to no rebase master.

[2022-11-02 10:37] #17824 closed

[2022-11-02 11:40] labuladong commented on #18294
Yes, that branch didn't rebase master.

But seems this https://github.com/poorbarcode/pulsar/pull/32 has rebased master still has timeout failure:

<img width="958" alt="image" src="https://user-images.githubusercontent.com/37220920/199480514-0ec48cb5-de21-439b-8d13-bc547d2e6650.png">

[2022-11-02 11:49] labuladong opened #18300 "Flaky-test: MetadataStoreStatsTest#testBatchMetadataStoreMetrics"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/labuladong/pulsar/actions/runs/3376057575/jobs/5603501145#step:10:1208

### Exception stacktrace

<details>
<summary>Full exception stacktrace</summary>
<pre><code>
 Error:  Tests run: 7, Failures: 2, Errors: 0, Skipped: 5, Time ela

[2022-11-02 11:49] startjava opened #18301 "[Doc]"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

https://pulsar.apache.org/docs/next/concepts-messaging/#subscriptions

“In the diagram below, Consumer A is the master consumer while Consumer B would be the next consumer in line to receive messages if Consumer B is disconnecte

[2022-11-02 11:56] labuladong commented on #18300
cc @tjiuming

[2022-11-02 12:40] hangc0276 commented on #18128
@315157973 Thanks for your proposal. I have a few concerns.
1. Should we check whether the managedLedger has been loaded into brokers before checking the retention policy? Otherwise, the leader needs to check all the managedLedgers
2. If one topic has 10000 ledgers and only one ledger needs to be deleted, do we need to load and trigger trim?
3. The topic retention policy has retention time and ret

[2022-11-02 14:32] #18279 closed

[2022-11-03 01:37] momo-jun commented on #18301
I think there is a typo error out there. It should be like this:

“In the diagram below, Consumer A is the master consumer while Consumer B would be the next consumer in line to receive messages if Consumer **A** is disconnected.”

@startjava Thanks for reporting this issue. Would you like to fix it?

[2022-11-03 01:47] Anonymitaet commented on #18297
1. `Pulsar API Documentation Guide` can be ignored temporarily since it does not have much content. I'll add more content if I have more in the future.

2. `Pulsar Design Style Guide` should be a separate guide on an independent page, it has nothing to do with the syntax guide.

3. Yes, it's a large one and updated continuously.

[2022-11-03 02:09] startjava commented on #18301
@momo-jun  no , thank you ! please you fix it !

[2022-11-03 02:18] liliang950210 commented on #17097
I tried the latest version and still seems to have problems.

[2022-11-03 02:55] liliang950210 opened #18311 "[Bug] Use TLS connect to PulsarAdmin get error"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.10.1

### Minimal reproduce step

2022-11-03 10:51:12,406 ERROR [https-jsse-nio-127.0.0.1-25914-exec-58][ROOT][PulsarTopicProcessor.java 235] PulsarException in get topic org.apache.pulsar.client.admin.PulsarAdminException$ServerSideErrorException: \n --- A

[2022-11-03 03:36] #18230 closed

[2022-11-03 07:25] coderzc opened #18314 "Flaky-test: PersistentTopicStreamingDispatcherE2ETest.testMessageRedelivery"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3377038718/jobs/5605505912#step:8:1667

### Exception stacktrace

<details>
<summary>Full exception stacktrace</summary>
<pre><code>
  Error:  testMessageRedelivery(org.apache.pulsar.broker.service.persist

[2022-11-03 10:12] tjiuming opened #18319 "PIP-222: Add CommandPartitionedTopicMetadata metrics"
### Motivation

Currently, there's no way to track CommandPartitionedTopicMetadata requests. There's no metrics that indicate that a broker is handling CommandPartitionedTopicMetadata requests.

[Misconfigured]( https://github.com/apache/pulsar/issues/18243#:~:text=One%20example%20of,a%20Pulsar%20client. ) clients might flood brokers with CommandPartitionedTopicMetadata requests and cause high CPU

[2022-11-03 10:29] tjiuming commented on #18243
The PIP discuss thread: https://lists.apache.org/thread/sybl4nno4503w42hzt7b5lsyk6m2rbo6

[2022-11-03 14:34] #18282 closed

[2022-11-03 14:36] momo-jun commented on #18272
I agree. It can still be linked in the Security Overview or somewhere fits better.

[2022-11-03 16:03] lifepuzzlefun opened #18324 "[cleanup] Avoid unnessary method call if txn disabled."
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Avoid unnessary method call if txn disabled.

### Solution

check before method called although we have `TransactionBufferDisable` which i think a little help for performance.

### Alternatives

_No response_

### Anything else?

_No response_

### Are you

[2022-11-03 16:13] tisonkun commented on #17498
cc @BewareMyPower @Anonymitaet @merlimat @michaeljmarshall

May I ask how we generate C++ API docs now? I don't find an entry talking about it...

[2022-11-03 17:20] WJL3333 opened #18328 "[Improve] Code simplify in AbstractBaseDispatcher in filterEntriesForConsumer loop"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

1. batch `subscription.acknowledgeMesage` in filterEntriesForConsumer loop

2. remove unnecessary Optional package parameter for `filterEntriesForConsumer` metadataArray

3. avoid call O(consumer) times of `topic.getMigratedClusterUrl` in `checkAndApplyRea

[2022-11-03 17:31] BewareMyPower commented on #17498
@tisonkun https://github.com/apache/pulsar-client-cpp/pull/103 will fix the doxygen generation.

[2022-11-03 21:41] aymkhalil opened #18329 "[Bug] Pulsar Java Client is not able to read jave.time.LocalDateTime in Avro schema"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

pulsar-client 2.10.2

### Minimal reproduce step

1. Produce a POJO schema with `JSR310ConversionEnabled` in AVRO with a `java.time.LocalDateTime` data type

[code]

Here is the relevant schema part that would be attached to the topic:
[code]

3. Consume the

[2022-11-04 02:50] truong-hua commented on #15838
So this issue should not be closed @momo-jun @nodece. Btw, if we can have a document about data structure or scheme of our current metadata on ZK and ETCD. May be people can think about migrating themselves manually, or may be some one can make a tool?

[2022-11-04 03:19] 315157973 commented on #18128
1.  Broker judges whether it needs to be loaded according to the creation time and size in the metadata.
If we only check the creation time, we don't need to scan all `ManagedLedgers` because they are ordered. Because we also check the size, we need to scan all.

2. Yes

3. I'll add it as a judgment item. A side effect is that all `ManagedLedgers` need to be scanned

4. When scanning, only the Bro

[2022-11-04 07:24] poorbarcode commented on #17921
This error was caused by the non-standard definition of the metrics name `pulsar_txn_pending_ack_store_bufferedwriter_batch_record_count_count `, and I submitted a PR #17905 to solve this problem before

[2022-11-04 07:56] poorbarcode commented on #18314
another one :https://github.com/apache/pulsar/actions/runs/3391255532/jobs/5636256181

[2022-11-04 08:03] tisonkun commented on #17921
@poorbarcode @nicoloboschi this seems another race condition for fixing bugs.

And #17905 seems fixed the root cause so that we should reopen this issue?

[2022-11-04 08:54] hpvd commented on #18041
new Helm chart v 3.0 on the base of Pulsar 2.10.2 was just released:
https://github.com/apache/pulsar-helm-chart/releases/tag/pulsar-3.0.0

[2022-11-04 09:01] hpvd commented on #18041
Latest security analysis show
- a stunning step in reducing the number included vulnerabilities:
  - v2.9.4 with pulsar 2.9.3 ** 1024 vulnerabilities (698 fixable) have been detected in this package's images.**
https://artifacthub.io/packages/helm/apache/pulsar/2.9.4?modal=security-report
  - v3.0.0 with pulsar 2.10.2 **136 vulnerabilities (79 fixable) have been detected in this package's images.*

[2022-11-04 09:16] hpvd commented on #18041
- on the other hand
  - the number of vulnerabilities with a severity of CRITICAL has risen from 1 to 4 (+300%)

![2022-11-04_10h05_52](https://user-images.githubusercontent.com/5681880/199936712-593036aa-b445-4c6a-990a-4951e5487c28.png)

![2022-11-04_10h07_06](https://user-images.githubusercontent.com/5681880/199936741-a8f2139b-f055-4f2a-b74d-fbdaa59bf909.png)

[2022-11-04 09:21] hpvd opened #18338 "[Security] v2.10.2 contains up to 9 year old vulnerabilities/CVEs -> get rid of the oldest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

latest v2.10.2

### Minimal reproduce step

1. look into trivy powered inspection for vulnerabilities
at artifacthub.io
https://artifacthub.io/packages/helm/apache/pulsar?modal=security-report

2. open details of in helm included pulsar v2.10.2 image
3. see d

[2022-11-04 10:23] cbornet commented on #16487
Can this be cherry-picker to 2.11 ? It is needed in [spring-pulsar](https://github.com/spring-projects-experimental/spring-pulsar)

[2022-11-04 10:25] cbornet commented on #11646
I think this is fixed by https://github.com/apache/pulsar/issues/16487

[2022-11-04 10:26] cbornet commented on #11646
@naveenkusakula can you test again on `master`

[2022-11-04 12:00] anishsurge commented on #9040
Hey Team,

similar error we are getting when we are trying the load test with 1000 threads creating producers for sending simple string message & similarly for consuming.

Any suggestions would be really helpful.

[2022-11-04 13:37] eolivelli commented on #16487
@cbornet feel free to cherry-pick it, it is better to commit this API changes before cutting the release

[2022-11-04 15:16] michaeljmarshall commented on #11646
This was fixed by #16487. I used tested/used the feature.

[2022-11-04 16:02] tisonkun opened #18347 "[Doc] Improve Python client apidoc with pydoctor tool"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

This should be done with https://github.com/apache/pulsar-client-python/pull/28. But we still need to update the pulsar-site apidoc generate process. Open an issue for tracking.

### What is your suggestion?

Not applicable.

##

[2022-11-04 16:28] hpvd opened #18348 "[Security] v2.10.2 contains 35 fixable vulnerabilities"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

v2.10.2

### Minimal reproduce step

look into trivy powered inspection for vulnerabilities
at artifacthub.io
https://artifacthub.io/packages/helm/apache/pulsar?modal=security-report

open details of in the latest helm chart v3.0.0 included pulsar v2.10.2 ima

[2022-11-04 16:54] hpvd commented on #8815
just to visualize/summarize the current state:
our current procedure seems to miss **35 fixable vulnerabilities** when releasing latest version 2.10.2

okay, a (very) few less if
- not all were public known last week
- we do not want to fix all (why??)
-  or can't fix all immediately because of really major changes in how dependencies work which took some more time to be adapted...

for details se

[2022-11-04 20:36] michaeljmarshall commented on #18348
Several of these have been fixed, and others are brought in by presto. @nicoloboschi does security scanning of the pulsar code base and frequently contributes updates to dependencies, when possible.

[2022-11-04 21:09] kjothen opened #18349 "[Bug] Consumer receive() of an encrypted message when using an incorrect key never returns if failure action is CONSUME"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

OS = macOS Ventura (13.0)
Pulsar = 2.10.2

### Minimal reproduce step

Attempt to consume an encrypted message in a Consumer using either a mismatching or missing encryption key, and configuring cryptoFailureAction = CONSUME, results in an internal exception+

[2022-11-04 21:25] hpvd commented on #18348
yes and there is an automated OWASP Dependency Check running since June 2021 https://github.com/apache/pulsar/pull/10855

doing all this,
our current procedure/routine seems to miss these 35 fixable vulnerabilities (CVE) when releasing latest version 2.10.2
okay a (very) few less... see https://github.com/apache/pulsar/issues/8815#issuecomment-1303875392

[2022-11-05 00:53] #18151 closed

[2022-11-05 03:13] nilanjanH commented on #18301
@startjava - Would love to work on this issue.
Thanks.

[2022-11-05 05:29] Xuanwo commented on #18301
Although this issue has been triaged, I still suggest the update this issue's title to reflect the real problem.

[2022-11-05 07:10] Jason918 commented on #18128
It seems that this kind of cleanup may have potential impact on the metadata store, I am not sure a fixed interval is the best option here. For the best of service stability, can we provide a fix time range that this clean up work could be triggered. For example, this can only be triggered at midnight, or during 00:00 - 05:00 everyday.

WDYT?
@315157973

[2022-11-05 07:31] Jason918 commented on #18348
The final release candidate of 2.10.2 is 23 days ago. And most of fixes comes in the early September.

I think the problem is that the current release process have too many work and not automated. It took too long for a version to be released. And I don't see any check process of CVEs before we cut the release. I am pretty sure "OWASP Dependency Check" passed before the first release candidate is

[2022-11-05 12:12] hpvd commented on #18348
Looks like there are several points producing this non-perfect state:
- I absolutely agree with @Jason918 that's probably part of the problem, that the time from last fixes to final release may be too long
- do we have already a named point in the release check list that applying all (as many as possible) available fixes before release is a must (quality gate, similar to https://github.com/apache/

[2022-11-05 12:37] biggestbull9889 commented on #14183
HODLing isn’t an effective risk management process. Timing the market cycles with quantitative algorithms (aka DATA) and getting out at the critical inflection points, is.**

DARK TRACER ** analysts are neither Perma-Crypto Bears nor Bulls. We're opportunistic. We get you long to ride the rips, and then get you OUT to risk manage the dips (and protect your hard-earned capital). [INFO@darktracer.di

[2022-11-06 03:47] 315157973 commented on #18128
Why not create a new PIP and make all schedule tasks support expressions like crontab?

[2022-11-06 05:43] Jason918 commented on #18128
Make sense, I had a quick look at the schedule tasks in broker. It seems this can apply to most Inactivity Monitor tasks in `org.apache.pulsar.broker.service.BrokerService#startInactivityMonitor`.
I believe it would be an interesting PIP.

[2022-11-06 05:54] Jason918 commented on #18128
IIUC, the `TrimLedger` admin API should be synchronized, right? I mean that it should send response to leader broker after the cleaning is finished, so that the leader broker can release the semaphore for the concurrency of `fullScanMaximumMetadataConcurrencyPerSecond`.

[2022-11-06 07:59] 315157973 commented on #18128
Garbage collection will take a long time and synchronization doesn't seem feasible right?
I don't think there are many real zombie topics. The main overhead will be that the leader reads ZK and parses the metadata, and there are not many really eligible topics.

[2022-11-06 07:59] 315157973 commented on #18128
Garbage collection will take a long time and synchronization doesn't seem feasible right?
I don't think there are many real zombie topics. The main overhead will be that the leader reads ZK and parses the metadata, and there are not many really eligible topics.

[2022-11-06 09:22] WJL3333 opened #18353 "[cleanup] avoid object create in RedeliveryTracker.getRedeliveryCount"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

`RedeliveryTracker.getRedeliveryCount` can just direct pass `ledgerId` and `entryid` without create `PositionImpl` object

### Solution

_No response_

### Alternatives

_No response_

### Anything else?

_No response_

### Are you willing to submit a PR?

[2022-11-06 11:02] visortelle opened #18355 "[Doc] Unable to get a permanent link to current Pulsar version docs"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

The current version of Pulsar is 2.10.2

Let's say, I read some specific article and want to put a link to the specific version of this article in our company's internal documentation.

<img width="884" alt="Screenshot 2022-11-0

[2022-11-06 15:37] WJL3333 opened #18356 "[improve][broker] Reduce object allocation when iterate on `LongPairRangeSet`"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

according to #18240

when iterate on `LongPairRangeSet` call `forEach` will:
1. convert long pair into `Range` object.
2. and then the `Range` object is passed to `LongPairConsumer<? extends T> consumer` which is `PostitionImpl::new`.

but for the case `Ma

[2022-11-06 16:02] WJL3333 commented on #18356
the memory alloction framegraph show the conclusion

![image](https://user-images.githubusercontent.com/13600283/200181269-4326eeae-17c6-4a56-9104-59d38d5e9e82.png)

[2022-11-07 03:06] Jason918 commented on #18128
I am not sure exactly how the zombie topics come from, but from this description, the number may be accumulated for a long time with old clusters. Once user upgraded to a version with this feature, they may need to cleanup a large number of these topics at the first time.

From what I see, the total time required to do the cleanup work does not matter that much, maybe even single thread is good en

[2022-11-07 04:44] 315157973 commented on #18128
The scene where the zombie topic appears:
1) Some businesses try out some topics, but they haven't used this topic since then
2) Some topics that have data but have not been used since then, and they have not been deleted

The current `TrimLedger` is to concurrently traverse the Topics in memory and clean up all Topics. Do you mean that this parallel cleanup will also affect the stability of the B

[2022-11-07 06:47] poorbarcode commented on #16729
Another one:

- https://github.com/poorbarcode/pulsar/actions/runs/3407116575/jobs/5666517765

[2022-11-07 06:52] poorbarcode commented on #18294
another one:
- https://github.com/poorbarcode/pulsar/actions/runs/3407116575/jobs/5666517854

[2022-11-07 07:26] momo-jun commented on #18355
@visortelle thanks for filing this issue. I think it's somehow duplicated with https://github.com/apache/pulsar/issues/17438. Is it the same request?

[2022-11-07 07:45] grssam opened #18364 "[Bug] Unable to init topic policies as maximum subscription limit reached on __change_events topic"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

streamnative/pulsar:2.9.3.14

### Minimal reproduce step

1. Have topic policies enabled and system topic enabled.
2. Create a namespace ns under tenant tenant
3. Create multiple persistent topics with more than 2-3 partitions. Set topic level retention on ea

[2022-11-07 08:11] poorbarcode opened #18365 "Flaky-test: V1_ProxyAuthenticationTest.authenticatedSocketTest"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/poorbarcode/pulsar/actions/runs/3408139584/jobs/5668567696

### Exception stacktrace

<details>
<summary>Full exception stacktrace</summary>
<pre><code>
Error:  Tests run: 13, Failures: 3, Errors: 0, Skipped: 9, Time elapsed: 56.528

[2022-11-07 08:54] tisonkun commented on #15664
FYI @urfreespace

[2022-11-07 09:32] visortelle commented on #18355
Yes, it’s a duplicate.
Closing.

[2022-11-07 09:32] #18355 closed

[2022-11-07 10:35] zhaohaidao commented on #18163
Sorry for replying late. Through analysis, It can be sure this issue is nothing to do with #3321. And branch 4.15 has the same problem as you expected. Issue analysis can be seen in: https://github.com/apache/bookkeeper/issues/3618

[2022-11-07 10:43] eolivelli commented on #18229
I don't think that TTL is related to supporting non-persistent topics.

Maybe the TTL feature is worth a PIP, but supporting non-persistent topics is like a small enhancement (or completing the TableView) feature to me and it doesn't need a PIP, as it doesn't need API changes

[2022-11-07 11:40] liliang950210 commented on #18311
any body met this issue?

[2022-11-07 13:36] liliang950210 commented on #18311
brokerClientTlsEnabled=true this parameter need set

[2022-11-07 13:36] #18311 closed

[2022-11-08 01:52] #18301 closed

[2022-11-08 04:14] shenweiran opened #18381 "[Bug] The msgBacklog has a large impact on broker memory usage"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.9.3

### Minimal reproduce step

There is a namespace msgBacklog that was added in the last two days

### What did you expect to see?

My guess is that msgBacklog should only be a static value, since no client is consuming it and there is no impact on broke

[2022-11-08 06:06] tjiuming commented on #18004
Discuss thread: https://lists.apache.org/thread/3j8ldw93gyx1kblknygq35nq8g72plpx

[2022-11-08 06:06] tjiuming commented on #18319
Discuss thread: https://lists.apache.org/thread/sybl4nno4503w42hzt7b5lsyk6m2rbo6

[2022-11-08 06:11] michaeljmarshall commented on #18348
I agree. I think we're moving in the right direction by breaking out the C++ and Python clients, but it will take time to see those benefits. Maybe it is worth a mailing list discussion of how to share the load on the release manager?

[2022-11-08 07:41] Gustascern opened #18383 "[Bug] Pulsar broker doesn't use functions_worker.yml file"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Pulsar version 2.9.1
Debian 11

### Minimal reproduce step

I have a cluster of 6 machines. 3 servers run broker and bookkeeper, 3 run zookeeper. Firstly, I configured functions_worker.yml like this on 3 separate broker servers. first one looks like this. con

[2022-11-08 08:56] leizhiyuan opened #18384 "[Bug] Message hole if `writeAndFlush` failed"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

master

### Minimal reproduce step

<img width="1065" alt="image" src="https://user-images.githubusercontent.com/2684384/200519828-4e89f1f8-4471-47c7-afe4-6ca1d17b5648.png">

### What did you expect to see?

if write failed ,we should write again

### What di

[2022-11-08 08:57] leizhiyuan commented on #18384
[code]

[2022-11-08 08:57] leizhiyuan commented on #18384
refer:https://github.com/apache/pulsar/discussions/18377

[2022-11-08 08:58] leizhiyuan commented on #18381
maybe you can do a heap dump ? so we can see why

[2022-11-08 10:09] nodece commented on #18383
Good catch! The broker config overrides the function worker config!

[2022-11-08 10:59] Gustascern commented on #18383
Yeah, I will list them here:

- workerId:
- workerHostname:
- configurationMetadataStoreUrl:
- pulsarServiceUrl:
- pulsarWebServiceUrl:
- brokerClientAuthenticationPlugin:
- brokerClientAuthenticationParameters:
- pulsarFunctionsNamespace:
- pulsarFunctionsCluster:

Those would be ones for starters :)

[2022-11-08 11:01] thetumbled opened #18388 "[Bug] ArrayIndexOutOfBoundsException caused by optimistic locking in ConcurrentLongLongPairHashMap implementation"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

latest.

### Minimal reproduce step

 ConcurrentLongLongPairHashMap  use optimistic locking to read data in Section, but if there is another thread that is removing data from the same Section, and trigger the shrink process, then the index calculated  basing

[2022-11-08 13:50] nodece commented on #18383
cc @freeznet, could we support that config?

[2022-11-08 16:55] heesung-sn commented on #18099
PIP Discussion email: https://lists.apache.org/thread/m721nc0vwzo3wxg0tv3tprfc6z7xs1tj
PIP Vote email: https://lists.apache.org/thread/6y8407pw4fv21n2n0cbrvsspg5tok0h7

[2022-11-09 00:58] heesung-sn commented on #18215
Hi,

I will raise a vote soon if there are no more questions or comments.

Thanks,
Heesung

On Mon, Oct 31, 2022 at 10:19 AM Heesung Sohn ***@***.***>
wrote:

[2022-11-09 02:49] freeznet commented on #18383
The Functions Worker needs to inhering the configs from Broker if it runs with the Broker. In your case, it is suggested to run Functions Worker separately, which will not be affected by the Broker's config.

[2022-11-09 03:00] #17982 closed

[2022-11-09 08:26] Jason918 commented on #18348
Yes, this is one of the motivations of [PIP-175: Extend time based release process ](https://github.com/apache/pulsar/issues/15966)

[2022-11-09 08:48] Gustascern commented on #18383
Thanks for your help! I tried to run it seperately in the broker machine, and I still get the same error even though im running it using nohup mode. It still picks up the localhost from somewhere. I tried to run it in the zookeeper node, and it worked :) atleast for now

[2022-11-09 09:02] #18329 closed

[2022-11-09 09:22] #15664 closed

[2022-11-09 10:33] PatrykWitkowski opened #18395 "[Bug] Pulsar client - MessageId.fromByteArrayWithTopic is not backward compatible from 2.7.2"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.7.2

### Minimal reproduce step

- send a message to some topic using pulsar client below 2.7.2
- upgrade pulsar client to 2.7.2 or above
- try to consume that message and retrieve message id using: MessageId.fromByteArrayWithTopic()

### What did you expec

[2022-11-09 13:35] labuladong opened #18396 "Flaky-test: MLTransactionMetadataStoreTest#testRecoverSequenceId"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/actions/runs/3427201807/jobs/5710118682#step:10:5814

### Exception stacktrace

<details>
<summary>Full exception stacktrace</summary>
<pre><code>
Error:  Tests run: 18, Failures: 3, Errors: 0, Skipped: 9, Time elapsed

[2022-11-09 16:41] tisonkun commented on #18301
@startjava please try to fill a expressive issue title the next time you report one.

[2022-11-09 16:43] tisonkun commented on #959
C++ Client is permanently moved to https://github.com/apache/pulsar-client-cpp.

If this is still relevant, please open an issue there.

[2022-11-09 16:43] #959 closed

[2022-11-09 16:53] tisonkun commented on #572
I believe this issue can be resolved by [PIP-45](https://github.com/apache/pulsar/wiki/PIP-45:-Pluggable-metadata-interface) delivered and we implemented etcd as the metadata store backend.

[2022-11-09 16:53] #572 closed

[2022-11-09 17:00] tisonkun commented on #5369
The related script is updated as:

[code]

... so that I think this issue should be resolved.

[2022-11-09 17:00] #5369 closed

[2022-11-09 17:01] tisonkun commented on #16963
Should be fixed now.

[2022-11-09 17:02] tisonkun commented on #16849
Works for me now. Closing...

[2022-11-09 17:02] #16849 closed

[2022-11-10 01:02] tisonkun commented on #4722
Closed as information delivered.

[2022-11-10 01:02] #4722 closed

[2022-11-10 01:04] tisonkun commented on #17896
Closed. It seems an issue with networking. I try the page and it works well.

[2022-11-10 01:04] #17896 closed

[2022-11-10 01:09] tisonkun commented on #4784
I learned yesterday from a use case that the SQL worker will read from both `/ledgers` and `/managed-ledgers` on ZK namespace. And `ServiceConfiguration` has a `getBookkeeperMetadataStoreUrl` method to support separated configured `bookkeeperMetadataStoreUrl`, while Pulsar SQL still has only `zookeeper-uri` config (I extend it to `metadataUrl` in #18210).

This is another direction that we may int

[2022-11-10 01:12] tisonkun commented on #4540
Closed and cannot reproduce.

I suggest new version and new symptom can indicate different root cause. Close this issue as an umbrella for different issues.

[2022-11-10 01:12] #4540 closed

[2022-11-10 01:18] tisonkun commented on #14751
@BewareMyPower @michaeljmarshall @merlimat is it still relevant? I can build the Python client on my macOS 12.6 now.

[2022-11-10 01:19] tisonkun commented on #16827
Closed as no response.

It's a Flink Pulsar connector issue. If it's still an issue, please report on https://issues.apache.org/jira/projects/FLINK/issues.

[2022-11-10 01:19] #16827 closed

[2022-11-10 01:22] tisonkun commented on #16875
This seems a KoP-specific issue. @rkaw92 you may open an issue against https://github.com/streamnative/kop to see how they use the memory.

Closed as unactionable. Feel free to open a new issue if KoP developers find a root cause in the Pulsar scope.

[2022-11-10 01:22] #16875 closed

[2022-11-10 01:30] tisonkun commented on #4384
Closed as stale.

It seems in the code the function still returns 403. But if there's no volunteer work for it, it may not a real requirement to implement :)

[2022-11-10 01:30] #4384 closed

[2022-11-10 01:32] tisonkun commented on #5262
Closed as no response.

[2022-11-10 01:32] #5262 closed

[2022-11-10 01:33] tisonkun commented on #5003
Closed as no response. No news is good news :)

[2022-11-10 01:33] #5003 closed

[2022-11-10 01:34] tisonkun commented on #5127
It seems JDBC sink tests work well now. Closed as invalid.

[2022-11-10 01:34] #5127 closed

[2022-11-10 01:36] tisonkun commented on #4094
Closed as stale. As sijie suggested above, you can submit a PIP to the dev@ mailing list to see if there's a consensus.

[2022-11-10 01:36] #4094 closed

[2022-11-10 01:37] tisonkun commented on #3680
Closed as stale. The new client-go is implemented in pure go and is located at https://github.com/apache/pulsar-client-go.

Feel free to create an issue there if more issues found.

[2022-11-10 01:37] #3680 closed

[2022-11-10 01:38] liangyuanpeng commented on #18046
Could you try it on 2.10.2?

[2022-11-10 01:38] tisonkun commented on #3640
Closed as stale. The current master requires Java 17 to compile the broker side and 1.8 to compile the client side.

[2022-11-10 01:38] #3640 closed

[2022-11-10 01:39] tisonkun commented on #3800
Closed as stale. The development of C++ client has been permanently moved to https://github.com/apache/pulsar-client-cpp. If there are still some issues, please open again that repo.

[2022-11-10 01:39] #3800 closed

[2022-11-10 01:45] tisonkun commented on #4002
Closed as unactionable.

Also, follow the instructions at https://pulsar.apache.org/docs/next/getting-started-standalone should be fine to start a standalone server. If there're still other issues, feel free to open new ones.

[2022-11-10 01:45] #4002 closed

[2022-11-10 01:48] tisonkun commented on #4231
Closed as stale.

The development of the (reimplemented pure) Go client has been permanently moved to https://github.com/apache/pulsar-client-go.

[2022-11-10 01:48] #4231 closed

[2022-11-10 01:55] tisonkun commented on #5947
Thanks for sharing your investigation @Hongten!

I believe it's something about port conflict or port misconfigured. Closed as information delivered.

If you think it's a bug, feel free to open a new issue with the Pulsar version and reproduce steps (demo repo).

[2022-11-10 01:55] #5947 closed

[2022-11-10 01:56] tisonkun commented on #5987
Closed as stale.

Feel free to reopen an issue with a concrete proposal. You're welcome to share ideas or early thoughts on the dev@ mailing list or the Discussions forum.

[2022-11-10 01:56] #5987 closed

[2022-11-10 01:58] tisonkun commented on #3218
@BewareMyPower @baodi @RobertIndie could you check whether client C++ and Python implement this functionality?

[2022-11-10 02:00] tisonkun commented on #5751
Closed as stale.

Open-ended discussions can be now created on the Discussions forum.

[2022-11-10 02:00] #5751 closed

[2022-11-10 02:03] tisonkun commented on #6250
Closes as not actionable.

I support your proposal to speed up tests, and I observe several new issues to reduce concrete test cases running time. However, holding such an abstract issue is not actionable.

[2022-11-10 02:03] #6250 closed

[2022-11-10 02:04] tisonkun commented on #6249
Closed as stale.

It seems vanished on the current workflows.

[2022-11-10 02:04] #6249 closed

[2022-11-10 02:05] tisonkun commented on #6497
Closed as stale.

The development of the C++ client has been permanently moved to https://github.com/apache/pulsar-client-cpp. If it's still relevant, please open an issue there.

[2022-11-10 02:05] #6497 closed

[2022-11-10 02:06] tisonkun commented on #6446
Closed as no response and 2.5.0 is end of life.

[2022-11-10 02:06] #6446 closed

[2022-11-10 02:10] tisonkun commented on #6470
The initiative of translation is archived since no maintainers or contributors work on it. See also #17972.

All related links should be redirected and work well. If you find more broken links, feel free to open new issues.

[2022-11-10 02:10] #6470 closed

[2022-11-10 02:12] tisonkun commented on #6503
Closed as stale. Feel free to reopen it if it's still relevant for maintained versions.

[2022-11-10 02:12] #6503 closed

[2022-11-10 02:12] tisonkun commented on #6493
Closed as stale. Feel free to reopen it if it's still relevant for maintained versions.

[2022-11-10 02:12] #6493 closed

[2022-11-10 02:14] tisonkun commented on #6492
Closed as stale. Feel free to reopen it if it's still relevant for maintained versions.

Besides, thanks for reporting issues :) I believe the integration with RocksDB has been improved over the years.

[2022-11-10 02:14] #6492 closed

[2022-11-10 02:16] tisonkun commented on #6377
Closed as we don't host a wishing list in issues. Feature requests can be opened against the Discussions forum.

BTW, StreamNative provides such integration at https://github.com/streamnative/pulsar-io-google-pubsub. Feel free to give it a try.

[2022-11-10 02:16] #6377 closed

[2022-11-10 02:17] tisonkun commented on #6378
Closed as we don't host a wishing list in issues. Feature requests can be opened against the Discussions forum.

BTW, StreamNative provides such integration at https://github.com/streamnative/pulsar-io-google-pubsub. Feel free to give it a try.

[2022-11-10 02:17] #6378 closed

[2022-11-10 02:30] tisonkun commented on #6828
Closed as stale. The development of the Node.js client has been permanently moved to https://github.com/apache/pulsar-client-node. If it's still relevant, please open an issue there.

[2022-11-10 02:30] #6828 closed

[2022-11-10 02:30] tisonkun commented on #6823
Closed as answered.

[2022-11-10 02:30] #6823 closed

[2022-11-10 02:31] tisonkun commented on #6712
Closed as stale.

The development of the Go client has been permanently moved to https://github.com/apache/pulsar-client-go. If it's still relevant, please open an issue there.

[2022-11-10 02:31] #6712 closed

[2022-11-10 02:32] tisonkun commented on #7166
Closed as no response. No news is good news :)

[2022-11-10 02:32] #7166 closed

[2022-11-10 02:33] #12479 closed

[2022-11-10 02:34] tisonkun commented on #7208
Closed as stale. Feel free to open a new issue with reproduce steps and what's expected.

[2022-11-10 02:35] tisonkun commented on #7013
Closed as information delivered.

[2022-11-10 02:35] #7013 closed

[2022-11-10 02:45] tisonkun commented on #6982
Closed as stale. Feel free to open a new issue if it is still relevant to the latest version (2.10.2).

[2022-11-10 02:45] #6982 closed

[2022-11-10 02:47] tisonkun commented on #6991
Closed as stale. Feel free to open a new issue if it is still relevant to the latest version.

[2022-11-10 02:47] #6991 closed

[2022-11-10 02:48] tisonkun commented on #5548
Closed as information delievered.

[2022-11-10 02:48] #5548 closed

[2022-11-10 02:51] como-ca opened #18399 "[Bug] When using the delayed message delivery of Apache pulsar version 2.10, the message is not received at the expected delay time"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.10.0

### Minimal reproduce step

We produce messages in the following way: `MessageId messageId=producer. newMessage() deliverAfter(time, timeUnit).value(msg.getBytes(StandardCharsets.UTF_8)).send();`
In the early stage of production (when the amount of da

[2022-11-10 02:52] tisonkun commented on #6013
Closed as stale. You can report a flaky test with the corresponding issue form if it's still relevant.

[2022-11-10 02:52] #6013 closed

[2022-11-10 02:52] tisonkun commented on #6012
Closed as stale. You can report a flaky test with the corresponding issue form if it's still relevant.

[2022-11-10 02:52] #6012 closed

[2022-11-10 02:52] liangyuanpeng commented on #18399
Could you try it on 2.10.2?

[2022-11-10 02:55] BewareMyPower commented on #3218
@tisonkun Yes, the multiple hosts feature is supported in the C++ client since https://github.com/apache/pulsar/pull/17162 and https://github.com/apache/pulsar/pull/17410.

[2022-11-10 02:56] BewareMyPower commented on #3218
The Python client support should be ready since the first 3.0.0 release or the 2.11.0 release.

[2022-11-10 02:56] tisonkun commented on #3218
OK. Then I'm closing the related issues as completed...

[2022-11-10 02:56] #5780 closed

[2022-11-10 02:56] tisonkun commented on #3218
Closed as all subtasks done.

[2022-11-10 02:56] #3218 closed

[2022-11-10 03:00] BewareMyPower commented on #14751
No. The script in pulsar-client-python repo works well now.

[2022-11-10 03:03] tisonkun commented on #14751
Closed as fixed.

[2022-11-10 03:03] #14751 closed

[2022-11-10 03:04] tisonkun commented on #6656
Resolved by https://github.com/apache/pulsar/pull/6835

[2022-11-10 03:04] #6656 closed

[2022-11-10 03:10] tisonkun commented on #7413
I believe the doc sync process is working now.

[2022-11-10 03:11] tisonkun commented on #7412
I believe the doc sync process is working now. And most references' sources are moved to the pulsar-site repo. See also https://github.com/apache/pulsar-site/pull/259.

[2022-11-10 03:11] #7412 closed

[2022-11-10 03:12] tisonkun commented on #7382
Duplicate to https://github.com/apache/pulsar/issues/7423.

Closed as stale. Feel free to open a new issue if it's still relevant for maintained versions.

[2022-11-10 03:12] #7382 closed

[2022-11-10 03:13] tisonkun commented on #7344
Closed as stale.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. If it's still relevant, please open an issue there.

[2022-11-10 03:13] #7344 closed

[2022-11-10 03:14] tisonkun commented on #7321
Closed as information delivered.

[2022-11-10 03:14] #7321 closed

[2022-11-10 03:14] tisonkun commented on #7405
Closed as stale. Feel free to open a new issue if it's still relevant for maintained versions.

[2022-11-10 03:14] #7405 closed

[2022-11-10 03:15] leizhiyuan opened #18400 "[Bug] [broker] partitionIndex judge fail when namespace has -partition-"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

master

### Minimal reproduce step

just create a topic tenant/ns-partition-test/topic

add you will create success。
<img width="892" alt="image" src="https://user-images.githubusercontent.com/2684384/200992035-b66ef179-8d82-4809-aab0-556fa75ea17a.png">

beca

[2022-11-10 03:15] tisonkun commented on #7749
Closed as stale. It seems the original issue is resolved.

[2022-11-10 03:15] #7749 closed

[2022-11-10 03:17] tisonkun commented on #7678
Closed as stale. Feel free to open a new issue if it's still relevant for maintained versions.

[2022-11-10 03:17] #7678 closed

[2022-11-10 03:18] tisonkun commented on #7770
Closed as stale. Feel free to open a new issue if it's still relevant for maintained versions.

[2022-11-10 03:18] #7770 closed

[2022-11-10 03:20] tisonkun commented on #8212
Closed as stale and invalid.

If it's still relevant for maintained versions, please open a new issue following the issue form. The information above is weak to be understood.

[2022-11-10 03:20] #8212 closed

[2022-11-10 03:21] tisonkun commented on #8251
Closed as stale.

The development of the Go client has been permanently moved to https://github.com/apache/pulsar-client-go. If it's still relevant, please open an issue there.

[2022-11-10 03:21] #8251 closed

[2022-11-10 03:21] tisonkun commented on #8251
And Thank @flowchartsman for answering :)

[2022-11-10 03:22] tisonkun commented on #8231
Closed as stale. Feel free to open a new issue if it's still relevant for maintained versions.

[2022-11-10 03:22] #8231 closed

[2022-11-10 03:22] tisonkun commented on #8245
Closed as stale. Feel free to open a new issue if it's still relevant for maintained versions.

[2022-11-10 03:22] #8245 closed

[2022-11-10 03:22] tisonkun commented on #8183
Closed as stale. Feel free to open a new issue if it's still relevant for maintained versions.

[2022-11-10 03:24] tisonkun commented on #8562
Closed as stale.

You can ask questions on the Discussion forum now. We almost use issues to track actionable tasks.

[2022-11-10 03:24] #8562 closed

[2022-11-10 03:24] tisonkun commented on #8632
Closed as stale.

The development of the Helm Chart has been permanently moved to https://github.com/apache/pulsar-helm-chart. If it's still relevant, please open an issue there.

[2022-11-10 03:24] #8632 closed

[2022-11-10 03:26] tisonkun commented on #8982
I believe we're now running Checkstyle always: https://github.com/apache/pulsar/pull/18142

[2022-11-10 03:26] #8982 closed

[2022-11-10 03:29] tisonkun commented on #8895
Now Chrome tells me that it's secure when opening https://pulsar.apache.org/.

Closed as not an issue. Feel free to open a new issue if it's still relevant.

[2022-11-10 03:29] #8895 closed

[2022-11-10 03:30] tisonkun commented on #9151
Closed as stale. Feel free to open a new issue if it's still relevant for maintained versions.

IIRC 2.6.x is end of life and 2.7.5 is the last release of 2.7.x. You can try 2.7.5 to see if it's still an issue.

[2022-11-10 03:30] #9151 closed

[2022-11-10 03:34] tisonkun commented on #9982
Now we have the precondition to prevent too much CI workload, I think we can close this issue as not an issue.

[2022-11-10 03:34] #9982 closed

[2022-11-10 03:37] tisonkun commented on #10039
Closed as stale. Feel free to open a new issue if it's still relevant for maintained versions.

I can successfully configure IDEA with the current master branch.

[2022-11-10 03:37] #10039 closed

[2022-11-10 03:41] tisonkun commented on #9906
Closed as answered. It seems the original issue has been resolved.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. Please open new issues there if any.

[2022-11-10 03:41] #9906 closed

[2022-11-10 03:42] tisonkun commented on #9944
Closed as stale. Feel free to open a new issue if it's still relevant for maintained versions.

[2022-11-10 03:42] #9944 closed

[2022-11-10 03:43] tisonkun commented on #9922
Closed as stale.

The development of the C++ client has been permanently moved to https://github.com/apache/pulsar-client-cpp. If it's still relevant, please open an issue there.

[2022-11-10 03:43] #9922 closed

[2022-11-10 03:45] tisonkun commented on #9939
Fixed by https://github.com/apache/pulsar/pull/15416.

[2022-11-10 03:45] #9939 closed

[2022-11-10 03:45] leizhiyuan commented on #18400
https://github.com/apache/pulsar/pull/10902

[2022-11-10 03:46] tisonkun commented on #10421
Closed as stalled. I believe we need a new initiative if still wiling to contribute the connector to the upstream.

[2022-11-10 03:46] #10421 closed

[2022-11-10 03:47] tisonkun commented on #10328
Closed as fixed.

The development of the C++ client has been permanently moved to https://github.com/apache/pulsar-client-cpp. And the development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python.

If it's still relevant, please open an issue there.

[2022-11-10 03:47] #10328 closed

[2022-11-10 03:48] tisonkun commented on #10588
Closed as answered. Open-ended discussion can be later posted in the Discussions forum.

[2022-11-10 03:48] #10588 closed

[2022-11-10 03:50] tisonkun commented on #11083
Duplicate of #17047

Fixed by #17659

[2022-11-10 03:50] #11083 closed

[2022-11-10 03:52] tisonkun commented on #11161
Now we've upgraded to JDK17 and no compile error occurs. So I suppose this issue is fixed or not an issue. Closed.

[2022-11-10 03:52] #11161 closed

[2022-11-10 03:56] #18400 closed

[2022-11-10 03:59] tisonkun commented on #11481
Closed by https://github.com/apache/pulsar/pull/11494.

[2022-11-10 03:59] #11481 closed

[2022-11-10 04:00] tisonkun commented on #11476
Closed as no response. Feel free to open a new issue if it's still relevant for maintained versions.

@codelipenghui @liangyuanpeng Thanks for sharing the knowledge!

[2022-11-10 04:00] #11476 closed

[2022-11-10 04:01] tisonkun commented on #11475
Closed as duplicated.

[2022-11-10 04:01] #11475 closed

[2022-11-10 04:01] tisonkun commented on #11324
Closed. Thanks for your updated @zbentley!

[2022-11-10 04:01] #11324 closed

[2022-11-10 04:02] tisonkun commented on #11410
Closed as stale. Feel free to open a new issue if it's still relevant for maintained versions.

The next time you should follow the issue form. The information above doesn't help in investigating.

[2022-11-10 04:02] #11410 closed

[2022-11-10 04:04] tisonkun commented on #11314
Closed as stale. Feel free to open a new issue if it's still relevant for maintained versions.

The next time you can fill out the issue form and provide reproduce steps. From the information above it's hard to understand what the issue actually is.

[2022-11-10 04:04] #11314 closed

[2022-11-10 04:08] tisonkun commented on #12042
Closed as stale.

The development of the C++ client has been permanently moved to https://github.com/apache/pulsar-client-cpp. If it's still relevant, please open an issue there.

[2022-11-10 04:08] #12042 closed

[2022-11-10 04:10] tisonkun commented on #12177
Closed as stale.

The development of the Helm Chart has been permanently moved to https://github.com/apache/pulsar-helm-chart. If it's still relevant, please open an issue there.

[2022-11-10 04:10] #12177 closed

[2022-11-10 04:10] tisonkun commented on #12751
Closed as stale.

The development of the C++ client has been permanently moved to https://github.com/apache/pulsar-client-cpp. If it's still relevant, please open an issue there.

[2022-11-10 04:10] #12751 closed

[2022-11-10 04:13] tisonkun commented on #12596
Closed as stale.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. If it's still relevant, please open an issue there.

[2022-11-10 04:13] #12596 closed

[2022-11-10 04:14] tisonkun commented on #12693
Closed as stale.

The development of the Pulsar Flink Connector happens at https://github.com/apache/flink. If it's still relevant, please open an issue at https://issues.apache.org/jira/projects/FLINK/issues.

[2022-11-10 04:14] #12693 closed

[2022-11-10 04:17] tisonkun commented on #12695
We're using rocksdbjni-6.29.4.1 now and it calls `File.createTempFile` which should resolve this issue.

[2022-11-10 04:17] #12695 closed

[2022-11-10 04:17] tisonkun commented on #12728
Closed as stale.

The development of the C++ client has been permanently moved to https://github.com/apache/pulsar-client-cpp. If it's still relevant, please open an issue there.

[2022-11-10 04:17] #12728 closed

[2022-11-10 04:19] tisonkun commented on #12519
cc @lhotari is this helpful for our current CI workflow?

[2022-11-10 04:19] tisonkun commented on #12887
Closed as stale.

The development of the C++ client has been permanently moved to https://github.com/apache/pulsar-client-cpp. If it's still relevant, please open an issue there.

[2022-11-10 04:19] #12887 closed

[2022-11-10 04:20] tisonkun commented on #12843
This can be relevant to #17498

[2022-11-10 04:21] tisonkun commented on #13153
Closed as fixed. I can install 2.10.1 on Apple M1.

[2022-11-10 04:21] #13153 closed

[2022-11-10 04:25] tisonkun commented on #13084
Closed as stale.

The development of the Go client has been permanently moved to https://github.com/apache/pulsar-client-go. If it's still relevant, please open an issue there.

[2022-11-10 04:25] #13084 closed

[2022-11-10 04:27] tisonkun commented on #13338
Closed as won't do. IIRC we intentionally lower this version :)

[2022-11-10 04:27] #13338 closed

[2022-11-10 04:29] tisonkun commented on #13174
Closed as answered.

[2022-11-10 04:29] #13174 closed

[2022-11-10 04:30] tisonkun commented on #13631
This should be now added to https://pulsar.apache.org/contribute/getting-started/setup-ide#configure-checkstyle.

[2022-11-10 04:31] tisonkun commented on #13735
Closed as stale.

The development of the C++ client has been permanently moved to https://github.com/apache/pulsar-client-cpp. If it's still relevant, please open an issue there.

[2022-11-10 04:31] #13735 closed

[2022-11-10 04:32] tisonkun commented on #13779
cc @nodece @syhily any ideas here?

[2022-11-10 05:31] tisonkun commented on #14378
Closed as stale. Feel free to open a new issue if it's still relevant for maintained versions.

[2022-11-10 05:31] #14378 closed

[2022-11-10 05:33] tisonkun commented on #14326
This is a config that you can overwrite by passing a new value.

Closed as invalid.

[2022-11-10 05:33] #14326 closed

[2022-11-10 05:34] tisonkun commented on #14325
cc @nodece is it desired? I'm unsure how SSL password works :/

[2022-11-10 05:37] tisonkun commented on #14324
I think they're placeholder only. But still confused about how they're in use.

@dlg99 as you implemented #12256 include part of these files, do you have ideas on this question?

[2022-11-10 05:40] tisonkun commented on #14323
I believe this is by design that from the `encryptedPassword` it's inferred to be md5 algorithm.

Closed as invalid.

[2022-11-10 05:40] #14323 closed

[2022-11-10 05:41] tisonkun commented on #14241
Closed as stale. Feel free to open a new issue if it's still relevant for maintained versions.

Please report issues in English.

[2022-11-10 05:41] #14241 closed

[2022-11-10 05:41] tisonkun commented on #14457
Closed as information delievered.

The development of the C++ client has been permanently moved to https://github.com/apache/pulsar-client-cpp. If it's still relevant, please open an issue there.

[2022-11-10 05:41] #14457 closed

[2022-11-10 05:42] tisonkun commented on #14824
Closed as stale. Now the website build should work well.

[2022-11-10 05:42] #14824 closed

[2022-11-10 05:46] tisonkun commented on #14942
Closed as stale. The current docbot should work well. If you find furthering issues, please open one at http://github.com/apache/pulsar-test-infra.

[2022-11-10 05:46] #14942 closed

[2022-11-10 05:47] tisonkun commented on #14838
Anyway, the documents under `/tools` are officially moved to https://pulsar.apache.org/reference.

Closed.

[2022-11-10 05:47] #14838 closed

[2022-11-10 05:52] tisonkun commented on #15299
Closed as stale.

The development of the C++ client has been permanently moved to https://github.com/apache/pulsar-client-cpp. If it's still relevant, please open an issue there.

[2022-11-10 05:52] #15299 closed

[2022-11-10 05:53] tisonkun commented on #15417
It seems the original issue has been resolved. Closed.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. Please open an issue there if any.

[2022-11-10 05:53] #15417 closed

[2022-11-10 06:04] #7579 closed

[2022-11-10 06:08] lhotari commented on #12519
@tisonkun No.

[2022-11-10 06:08] #12519 closed

[2022-11-10 06:09] maneeshbhunwal123 commented on #4584
@sijie is this connector https://github.com/streamnative/pulsar-spark based on direct approach or reciever based approach?
I have asked same question [here](https://stackoverflow.com/questions/74384351/apache-pulsar-direct-approach-with-apache-spark) can you please help me understand what use cases both the adaptors are solving?

[2022-11-10 06:09] lhotari commented on #12519
Closing since docker images are cached in the current workflow.

[2022-11-10 06:20] tisonkun commented on #15644
Closed as stale. Feel free to open a new issue if it's still relevant for maintained versions.

2.4.0 is end of life. And the latest stable version now is 2.10.2.

[2022-11-10 06:20] #15644 closed

[2022-11-10 06:21] tisonkun commented on #16296
Closed as stale.

The development of the C++ client has been permanently moved to https://github.com/apache/pulsar-client-cpp. If it's still relevant, please open an issue there.

[2022-11-10 06:21] #16296 closed

[2022-11-10 06:25] tisonkun commented on #16439
Closed as not actionable.

I believe the case is much better after @lhotari and @nicoloboschi's work on Pulsar CI reworks. Continuous improvements can be made. But holding such an abstract issue saying "generally optimization" is not actionable.

[2022-11-10 06:25] #16439 closed

[2022-11-10 06:28] tisonkun commented on #17412
Closed as won't do.

[2022-11-10 06:28] #17412 closed

[2022-11-10 06:33] tisonkun commented on #15504
Closed as stale.

The development of the C++ client has been permanently moved to https://github.com/apache/pulsar-client-cpp. If it's still relevant, please open an issue there.

[2022-11-10 06:33] #15504 closed

[2022-11-10 06:35] tisonkun commented on #15477
Work for me with Python 3.10 and Pulsar Python Client 2.10.1.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. If it's still relevant, please open an issue there.

[2022-11-10 06:35] #15477 closed

[2022-11-10 06:44] tisonkun commented on #14446
I agree that this is a license violation.

cc @merlimat @dave2wave @eolivelli any suggestions on a fix?

[2022-11-10 06:50] tisonkun commented on #3074
Closed as stale. Feel free to open a new issue if it's still relevant for maintained versions.

I noticed that current codebase uses `Paths.get` to resolve paths so it may not be an issue anymore.

[2022-11-10 06:50] #3074 closed

[2022-11-10 06:50] tisonkun commented on #3186
Closed as stale. Feel free to open a new issue if it's still relevant for maintained versions.

[2022-11-10 06:50] #3186 closed

[2022-11-10 06:52] tisonkun commented on #3127
Closed as stale.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. If it's still relevant, please open an issue there.

[2022-11-10 06:52] #3127 closed

[2022-11-10 06:53] tisonkun commented on #3493
Closed as stale. Feel free to open a new issue if it's still relevant for maintained versions.

[2022-11-10 06:53] #3493 closed

[2022-11-10 06:56] #3485 closed

[2022-11-10 06:56] tisonkun commented on #4302
Closed as stale.

The development of the Go client has been permanently moved to https://github.com/apache/pulsar-client-go. If it's still relevant, please open an issue there.

[2022-11-10 06:56] #4302 closed

[2022-11-10 06:57] tisonkun commented on #4874
Closed as stale.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. If it's still relevant, please open an issue there.

[2022-11-10 06:57] #4874 closed

[2022-11-10 06:58] BewareMyPower commented on #18395
Is the byte array saved by yourself? Why not use `Message#getMessageId` to retrieve the message id?

[2022-11-10 07:07] tisonkun commented on #5666
Closed as stale.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. If it's still relevant, please open an issue there.

The development of the Go client has been permanently moved to https://github.com/apache/pulsar-client-go. If it's still relevant, please open an issue there.

[2022-11-10 07:07] #5666 closed

[2022-11-10 07:08] #5523 closed

[2022-11-10 07:09] tisonkun commented on #5868
cc @nicoloboschi as you recently touch JDBC sink component, do you think this issue is still relevant and we should pick it up?

[2022-11-10 07:10] tisonkun commented on #5800
Closed as stale.

The development of the C++ client has been permanently moved to https://github.com/apache/pulsar-client-cpp. If it's still relevant, please open an issue there.

[2022-11-10 07:10] #5800 closed

[2022-11-10 07:11] tisonkun commented on #6093
Closed as resolved.

[2022-11-10 07:11] #6093 closed

[2022-11-10 07:12] BewareMyPower commented on #18395
I can reproduce this issue by the following steps.

Run a 2.10.1 consumer:

[code]

Run a 2.7.1 producer:

[code]

The consumer side failed with

[code]

[2022-11-10 07:13] tisonkun commented on #6127
Closed as stale.

The development of the Helm Chart has been permanently moved to https://github.com/apache/pulsar-helm-chart. If it's still relevant, please open an issue there.

[2022-11-10 07:13] #6127 closed

[2022-11-10 07:14] tisonkun commented on #6308
Closed as stale.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. If it's still relevant, please open an issue there.

[2022-11-10 07:14] #6308 closed

[2022-11-10 07:15] tisonkun commented on #6220
Closed as stale.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. If it's still relevant, please open an issue there.

IIRC @BewareMyPower implement Windows support recently.

[2022-11-10 07:15] #6220 closed

[2022-11-10 07:16] tisonkun commented on #6311
Closed as stale and no response.

The development of the C++ client has been permanently moved to https://github.com/apache/pulsar-client-cpp. If it's still relevant, please open an issue there.

[2022-11-10 07:16] #6311 closed

[2022-11-10 07:17] tisonkun commented on #6314
Closed as stale.

The development of the Helm Chart has been permanently moved to https://github.com/apache/pulsar-helm-chart. If it's still relevant, please open an issue there.

[2022-11-10 07:17] #6314 closed

[2022-11-10 07:18] tisonkun commented on #6525
Thanks for your reference!

Although, we almost use issues to track actionable tasks. Open-ended discussions can be posted in the Discussions forum.

Closed.

[2022-11-10 07:18] #6525 closed

[2022-11-10 07:19] tisonkun commented on #6465
Thanks for your reference!

Although, we almost use issues to track actionable tasks. Open-ended discussions can be posted in the Discussions forum.

Closed as not an issue.

[2022-11-10 07:19] #6465 closed

[2022-11-10 07:21] tisonkun commented on #6806
Closed as stale. It seems the original issue has been resolved or answered.

The development of the C++ client has been permanently moved to https://github.com/apache/pulsar-client-cpp. If it's still relevant, please open an issue there.

[2022-11-10 07:21] #6806 closed

[2022-11-10 07:22] tisonkun commented on #6785
Closed as stale.

The development of the Go client has been permanently moved to https://github.com/apache/pulsar-client-go. If it's still relevant, please open an issue there.

BTW, pulsar-client-go is a pure Golang implementation.

[2022-11-10 07:22] #6785 closed

[2022-11-10 07:23] tisonkun commented on #6957
I think this is resolved by https://github.com/apache/pulsar/pull/12256. Please open a new issue if it's not the case.

[2022-11-10 07:23] #6957 closed

[2022-11-10 07:24] huangdx0726 commented on #6957
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2022-11-10 07:25] tisonkun commented on #6955
Closed as stale. Feel free to open a new issue if it's still relevant for maintained versions.

IIRC we made several improvements on this script later.

[2022-11-10 07:25] #6955 closed

[2022-11-10 07:28] tisonkun commented on #7291
Closed as information delivered.

pulsar-rs is now located at https://github.com/streamnative/pulsar-rs. Welcome to give it a try and help verify it. I believe that with more usage and as it gets mature we can consider donating it under the apache org.

[2022-11-10 07:28] #7291 closed

[2022-11-10 07:30] tisonkun commented on #7286
Closed as stale.

The development of the C++ client has been permanently moved to https://github.com/apache/pulsar-client-cpp. If it's still relevant, please open an issue there.

[2022-11-10 07:30] #7286 closed

[2022-11-10 07:32] tisonkun commented on #7224
Resolved by #18171.

[2022-11-10 07:32] #7224 closed

[2022-11-10 07:34] tisonkun commented on #7229
Closed as stale.

The development of the Flink Pulsar connector happens at https://github.com/apache/flink. If it's still relevant, please open an issue at: https://issues.apache.org/jira/projects/FLINK/issues.

[2022-11-10 07:34] #7229 closed

[2022-11-10 07:35] tisonkun commented on #8123
Closed as stale.

Feel free to open a Q&A discussion at https://github.com/apache/pulsar/discussions if it's still relevant for maintained versions.

[2022-11-10 07:35] #8123 closed

[2022-11-10 07:36] tisonkun commented on #14627
Closed as answered and no response.

Feel free to open a Q&A discussion at https://github.com/apache/pulsar/discussions if it's still relevant for maintained versions.

[2022-11-10 07:36] #14627 closed

[2022-11-10 07:37] tisonkun commented on #2642
Closed as stale. Feel free to open a new issue if it's still relevant for maintained versions.

[2022-11-10 07:37] #2642 closed

[2022-11-10 07:38] tisonkun commented on #6091
Closed as stale.

The development of the C++ client has been permanently moved to https://github.com/apache/pulsar-client-cpp. If it's still relevant, please open an issue there.

[2022-11-10 07:38] #6091 closed

[2022-11-10 07:38] tisonkun commented on #7426
Closed as stale.

Feel free to open a Q&A discussion at https://github.com/apache/pulsar/discussions if it's still relevant for maintained versions.

[2022-11-10 07:38] #7426 closed

[2022-11-10 07:40] tisonkun commented on #12623
Closed as stale and it seems to work well in the latest version.

The development of the C++ client has been permanently moved to https://github.com/apache/pulsar-client-cpp. If it's still relevant, please open an issue there.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. If it's still relevant, please open an issue there.

[2022-11-10 07:40] #12623 closed

[2022-11-10 07:48] nodece commented on #14325
In my opinion, there is no problem, we need to new a container with the password to load the certificate, right now this password is `secret`.

[2022-11-10 07:49] #16904 closed

[2022-11-10 07:51] tisonkun commented on #18144
Closed as all subtasks done.

[2022-11-10 07:51] #18144 closed

[2022-11-10 07:54] nodece commented on #13779
We shouldn't serialize the sensitive fields, so added the `@JsonIgnore`.

[2022-11-10 07:58] Johnnyhooyo commented on #13779
Thanks for reply.  I

[2022-11-10 08:26] tisonkun commented on #13779
It seems to meet the requirement of Java's `Serializable`, we should add a `transient` modifier to the fields.

[2022-11-10 08:28] eolivelli commented on #13779
my two cents:
Authentication is a stateful object. You should not serialise it.
Or, at least, if we make it Serialisable we must enforce all the implementations to be Serialisable

Also JSON serialisation is not Java serialisation

[2022-11-10 09:00] keyboardbobo opened #18408 "[Bug] All instances of the production cluster are full gc, and topic fenced cannot be written"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

broker 2.9.2 , bookkeeper 4.14

### Minimal reproduce step

persistent://qlm-test/qlm-ns/qlm-test has 500 partitions, Full gc  can be reproduced locally with the following script:

The broker has more logs like this：

The client has more logs like this：

###

[2022-11-10 09:08] BewareMyPower opened #18409 "[Bug] GetLastMessageId for a multi topics consumer is meaningless"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

- Pulsar standalone: 2.10.1
- Pulsar client: master (b6f0f91e)

### Minimal reproduce step

[code]

### What did you expect to see?

All topics are seeked to the last message id.

### What did you see instead?

The consumer failed to seek because the mssage i

[2022-11-10 09:17] tisonkun opened #18410 "[Doc] Incorrect client-side redirections"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

https://github.com/facebook/docusaurus/issues/8317

Affected:

* https://pulsar.apache.org/docs/standalone/
* https://pulsar.apache.org/docs/next/standalone/
* https://pulsar.apache.org/docs/next/cookbooks-encryption/
* https://

[2022-11-10 09:47] nicoloboschi commented on #17761
@tisonkun the issue is that if the pulsar-admin command exit with an error code, that stacktrace is printed out to the user. Will send a pr later today

[2022-11-10 14:15] tisonkun commented on #4386
Closed as stale and no response. Feel free to open a new issue if it's still relevant on maintained versions.

[2022-11-10 14:15] #4386 closed

[2022-11-10 14:18] tisonkun commented on #5509
Closed as stale.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. If it's still relevant, please open an issue there.

[2022-11-10 14:18] #5509 closed

[2022-11-10 14:19] #5799 closed

[2022-11-10 14:21] #6200 closed

[2022-11-10 14:21] tisonkun commented on #8897
Closed as stale.

It should be resolved by #9870.

[2022-11-10 14:21] #8897 closed

[2022-11-10 14:24] tisonkun commented on #8503
Closed as stale and inactive.

[2022-11-10 14:24] #8503 closed

[2022-11-10 14:25] tisonkun commented on #8794
Closed as stale.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. If it's still relevant, please open an issue there.

[2022-11-10 14:25] #8794 closed

[2022-11-10 14:25] tisonkun commented on #8830
Closed as stale.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. If it's still relevant, please open an issue there.

[2022-11-10 14:25] #8830 closed

[2022-11-10 14:26] tisonkun commented on #10399
Closed as answered.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. If it's still relevant, please open an issue there.

[2022-11-10 14:26] #10399 closed

[2022-11-10 14:26] tisonkun commented on #10547
Closed as stale.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. If it's still relevant, please open an issue there.

[2022-11-10 14:26] #10547 closed

[2022-11-10 14:27] tisonkun commented on #10945
Closed as stale.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. If it's still relevant, please open an issue there.

[2022-11-10 14:27] #10945 closed

[2022-11-10 14:27] tisonkun commented on #11221
Closed as stale.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. If it's still relevant, please open an issue there.

[2022-11-10 14:27] #11221 closed

[2022-11-10 14:27] #11448 closed

[2022-11-10 14:27] #12250 closed

[2022-11-10 14:28] tisonkun commented on #12293
Closed as stale.

The development of the Python client has been permanently moved to https://github.com/apache/pulsar-client-python. If it's still relevant, please open an issue there.

2.10.1 should work well.

[2022-11-10 14:28] #12293 closed

[2022-11-10 15:17] AnonHxy opened #18417 "Flaky-test: BrokerServiceLookupTest.testConcurrentWriteBrokerData"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/AnonHxy/pulsar/actions/runs/3437523136/jobs/5732742478

### Exception stacktrace

<details>
<summary>Full exception stacktrace</summary>
<pre><code>
Error:  testConcurrentWriteBrokerData(org.apache.pulsar.client.api.BrokerServiceLoo

[2022-11-10 18:56] zamazan4ik opened #18419 "[Doc] Document supported hardware architectures"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

I am reading the documentation and cannot find the information about supported combinations of OS-Hardware Architcture. Is there any? But for the users will be much easier to get the information about the support status (and dif

[2022-11-11 01:09] #17514 closed

[2022-11-11 01:47] #18410 closed

[2022-11-11 06:18] jiangpengcheng opened #18424 "Support SubscriptionInitialPosition for python function"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Currently python function instance doesn't support SubscriptionInitialPosition ,

### Solution

Add SubscriptionInitialPosition for python instancethe

### Alternatives

_No response_

### Anything else?

_No response_

### Are you willing to submit a PR?