[2022-01-06 11:14] Jason918 commented on #13643
Any specific reason for one namespace to have multiple policies?

[2022-01-06 11:16] Jason918 commented on #13635
Aha, this should be asked in Bookkeeper project.

[2022-01-06 12:11] mingyifei commented on #13635
You’re right, I’m going to bookeeper to ask questions, but if you know, you can reply to me.

[2022-01-06 12:13] #13635 closed

[2022-01-06 13:01] vroyer opened #13651 "Elasticsearch Sink Invalid type for uuid, expected String but was class org.apache.avro.util.Utf8"
**Describe the bug**
The Elasticsearch sink does not properly decode a UUID encoded with the AVRO logical type "uuid".
The bug was reported by a user as shown with the following stracktrace:

`2021-12-27T11:17:59,209-0600 [public/default/elastic-basic-sink-0] INFO  org.apache.pulsar.functions.instance.JavaInstanceRunnable - Encountered exception in sink write:
java.lang.IllegalArgumentException: I

[2022-01-06 14:04] hangc0276 commented on #13315
@eolivelli The secondary just represent the backup clusters, and I use a `List` to store secondary clusters to support arbitrary number of clusters.

[2022-01-06 14:09] hangc0276 commented on #13315
@hpvd Thanks for your suggestion. Choose cluster from secondary cluster list according to probe latency is a good idea, I will add a parameter to configure choose policy to support it.

[2022-01-06 14:11] hangc0276 commented on #13315
@eolivelli  I updated the PIP title.

[2022-01-06 14:13] wenbingshen opened #13654 "No response to client when handleSubscribe because PendingAckHandleImpl init fail"
**Describe the bug**
Client error log:
[code]

pulsar broker error log:
[code]

[2022-01-06 14:14] hpvd commented on #13315
@hangc0276 awesome! many thanks!

[2022-01-06 15:09] shibd commented on #11704
It's because of the wrong use of `CompletableFuture`, I submited pr, please take a look, thanks.

[2022-01-06 16:42] pgier opened #13657 "[Doc] website docs for the tenant admin rest API are incorrect"
### What issue do you find in Pulsar docs?

There are a few mistakes in the docs for the tenant rest endpoints (https://pulsar.apache.org/docs/en/2.9.0/admin-api-tenants.html).  For example, the rest endpoint for creating a tenant says to use `POST` but it actually requires `PUT`, and the update endpoint says `DELETE` but this one should be a `POST`.

### What is your suggestion?

Make corrections

[2022-01-06 16:55] saumitras commented on #7564
@sijie I am also getting the same issue with 2.8. If no one is working on this, can I pick this up?

Also I see same [issue](https://github.com/streamnative/pulsar/issues/1242) in streamnative's fork. Should I create a PR on this repo or streamnative's fork?

[2022-01-06 17:32] saumitras commented on #7564
Looks like [SchemaHash](https://github.com/apache/pulsar/blob/27855f8eac7c926b4da9fda46379b64f8b522e62/pulsar-common/src/main/java/org/apache/pulsar/common/protocol/schema/SchemaHash.java#L34) is not using SchemaInfo's getProperties and hence only updating when change is there in `SchemaInfo::getSchema` or `SchemaInfo::getType`

[2022-01-07 01:23] leizhiyuan commented on #13643
because this rule support regex now， sometimes， users may write regex pattern，r1, and r2，may match the same pattern， but if they want to make r1 take effect， they have no way。

[2022-01-07 03:05] #13628 closed

[2022-01-07 03:52] Jason918 commented on #13643
I am not sure whether we should encourage this.
This may make the isolation policies too complicated.

[2022-01-07 04:51] #11964 closed

[2022-01-07 05:15] gaozhangmin opened #13661 "[PIP-134] Pulsar consumer support auto acknowledge."
## Motivation

Pulsar should support auto commit offset in background like what KAFKA did.

## Goal

Consumer support config `autoAckEnabled` and `autoAckIntervalMs` which control auto acknowledge enabled or not and the time duration between two  acks.

## Implementation

ConsumerConfigurationData add three new configuration
[code]

[code]
When call `consumer.receive()` We check if auto ack enable

[2022-01-07 05:25] mattisonchao commented on #13661
One Preliminary question:

- If user set ``autoAckEnabled=ture`` and then user invoke negative ack, what things will happen ?

[2022-01-07 06:06] Jason918 opened #13663 "Flaky-test: org.apache.pulsar.metadata.LockManagerTest.updateValue"
org.apache.pulsar.metadata.LockManagerTest is flaky. The updateValue test method fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/4735075630?check_suite_focus=true#step:8:4884)

[code]

[2022-01-07 06:42] #13520 closed

[2022-01-07 07:14] #13439 closed

[2022-01-07 07:23] xiaobing0508 opened #13664 "Get topics list Timeout"
My pulsar version is 2.9.1.
Now,faild for read and write.
Error is "errorMsg":"Failed due to too many pending lookup requests".

[2022-01-07 07:25] gaozhangmin commented on #13661
We should avoid this, We forbid negative ack If We set autoAckEnabled=ture`

[2022-01-07 07:29] mattisonchao commented on #13664
@xiaobing0508
could you give us more information to reproduce it ?

[2022-01-07 07:32] xiaobing0508 commented on #13664
I don't know what happened,yesterday evening my bookies is read only,because phycical disk is full.

[2022-01-07 11:41] Anonymitaet commented on #13542
@tuteng will provide a source example later. Will add then.

[2022-01-07 12:14] vkuznecovas opened #13667 "[Doc] dead link in https://pulsar.apache.org/docs/en/concepts-messaging/"
### What issue do you find in Pulsar docs?

In https://pulsar.apache.org/docs/en/concepts-messaging/ the negative acknowledgement link returns a 404.
Below is the paragraph:

### What is your suggestion?

https://pulsar.apache.org/docs/en/concepts-messaging/ should point to a link that's not dead.

This is the dead link.
https://pulsar.apache.org/docs/en/concepts-messaging/negative-acknowledgement

[2022-01-07 14:27] #12635 closed

[2022-01-07 14:36] tongsucn opened #13669 "Unloading bundle with non-persistent topics may block the target broker."
In our production environment, the bundles with non-persistent topics may result in the target broker getting stuck, when they are unloaded and moved to the target broker.

## Information from log

The producers on this bundle and all other bundles working on this broker, give `Timeout` error code, and the target broker's log shows information like

* `Error reading entries at AAA:BBB : Bookie ope

[2022-01-07 15:03] eolivelli commented on #11100
Can you test your suggestion on current master branch?
If you get good results please send a PR

[2022-01-07 15:10] Shoothzj commented on #11100
@klevy-toast Did you start producer with batch-enabled? and the batch time config kind of small, like `1ms`, `10ms`. My team have found this param is an important factor affecting the CPU. We also have a excel of `cpu`,`producer number`, `batch time`. If you are interested in, I can share it tomorrow.

[2022-01-07 15:16] Shoothzj commented on #11100
@klevy-toast That's the result tested with @fu-turer on huawei cloud.
case1: 1000 producer, batch 1ms, cpu 68%
case2: 1000 producer, batch 20ms, cpu 23%
case3: 1000 producer, batch 50ms, cpu 11%
case4: 1000 producer, non-batch, cpu near to zero
case5: 500 producer, batch 1ms, cpu 50%
That's the test result without any produce.

cc @eolivelli

[2022-01-07 15:44] codelipenghui opened #13671 "Producer semaphore permit release issue"
**Describe the bug**

[code]

**To Reproduce**

Run the following test.

[code]

**Expected behavior**
No error logs for producer semaphore permit release

**Additional context**
both master branch and branch-2.9

[2022-01-07 17:05] ross710 commented on #11100
@Shoothzj yes, so this task isn't run when batching is disabled. Tests were run with batching enabled and the default `batchingMaxPublishDelayMicros` of 1000 (equivalent to 1ms).

We can certainly increase the batch time, which will result in the task running less often. However, the fix we are proposing would make the the task run less often even at 1ms and should match the behavior prior to the

[2022-01-07 18:15] #13657 closed

[2022-01-07 18:34] lloydchandran-zafinlabs commented on #6587
@sijie  Are you guys planning to add support for protocols like STOMP ?.  Is there a different issue created for this ?

[2022-01-07 20:45] dave2wave commented on #13667
This was already fixed by `Fix hyperlinks typo (#13593)`, but maybe typos still exist in versioned docs?

[2022-01-08 00:50] mattisonchao commented on #13671
Could i work on it ?

[2022-01-08 00:50] mattisonchao commented on #13671
@codelipenghui

Could i work on it?

[2022-01-08 05:40] shankeerthan-kasilingam commented on #13625
I would like to work on this issue.

[2022-01-08 06:08] Nicklee007 opened #13677 "when a bundle split, the old bundle is not release from ownership cache"
**Describe the bug**
when a bundle split, the old bundle is not release from ownership cache

**To Reproduce**
Steps to reproduce the behavior:
1. prepared a namespace and  bundles
2. split a bundle like:
bin/pulsar-admin namespaces split-bundle public/default -san range_equally_divide -b 0x00000000_0x7ffffff

![image](https://user-images.githubusercontent.com/84127069/148633251-2ee1213b-4189-4836

[2022-01-08 08:44] shibd commented on #13625
+1 https://github.com/apache/pulsar/runs/4737886315?check_suite_focus=true

[2022-01-08 11:32] shibd commented on #13663
- I reproduced it,I'll try to fix it

[2022-01-10 00:47] cagucor opened #13684 "Token Authentication by context - pulsar-function-go"
Hi Everyone, this issue is about the pulsar-function-go package.

**Describe the solution you'd like**
I need to authenticate a pulsar function to connect with a cluster.  Would it be possible to authenticate the function using the context with a token parameter supplied through the config file?

**Describe alternatives you've considered**
Reading the documentation I can see how function auth is d

[2022-01-10 03:03] Anonymitaet commented on #13667
@vkuznecovas which version do you refer to?
(docs on `master` is correct https://pulsar.apache.org/docs/en/next/concepts-messaging/)

[2022-01-10 03:51] Richard-Yi opened #13687 "Can broker publish messages to topics in other brokers ?"
I want to implement a custom feature on pulsar.
the feature can be simply described as below:
1. send a message to topic_1
2. generate a new message after sending complete and  send the new message to topic_2

The feature works fine in standalone mode. However, after testing, I found that broker can't publish messages to topic_2 in a cluster mode, because topic_1 and topic_2 are not in the same br

[2022-01-10 03:58] Jason918 opened #13688 "Send chunking message failed when encryption enabled."
**Describe the bug**

Send chunking message failed with `org.apache.pulsar.client.api.PulsarClientException$TimeoutException` when encryption is enabled.

**To Reproduce**
run the unit test in `org.apache.pulsar.client.api.SimpleProducerConsumerTest` at master branch.
[code]

**Expected behavior**
send success.

**Screenshots**
NA

**Desktop (please complete the following information):**
 - OS: NA

[2022-01-10 04:34] RobertIndie commented on #13687
Pulsar already supports publishing messages to topics in other brokers.

Are there any exceptions? Before publishing a message, pulsar does a lookup for the topic to determine which broker the topic is on and then publishes that message to that broker.

[2022-01-10 04:37] Shoothzj commented on #13687
Have you looked at pulsar function? It might can help you reach the goal

[2022-01-10 04:49] Richard-Yi commented on #13687
@Shoothzj pulsar function works in theory. But it need specify the input topics when deploy. In my situation, the feature need to work on a namespace level. I can't not specify topics value which will be added in the future.

[2022-01-10 04:57] Richard-Yi commented on #13687
@RobertIndie Can you show some example code?
My code is as follows
[code]
after getting the topic,
[code]

[2022-01-10 05:09] mattisonchao commented on #13687
At first glance :

- You do not need to create ``CompletableFuture`` more than once.

Maybe ``CompletableFufuture#thenCompose``, ``CompletableFuture#thenAccept``, ``CompletableFuture#exceptionally``  more fit for you.

[2022-01-10 07:47] congbobo184 opened #13690 "Compact topic need redeliver epoch implementation."
link https://github.com/apache/pulsar/pull/10478, need to do redeliver epoch

[2022-01-10 08:23] truong-hua opened #13692 "Rebalance function workers"
**Is your feature request related to a problem? Please describe.**
When we add a new pulsar function worker to the cluster (or a worker is restarted), pulsar does not rebalance the workers.

**Describe the solution you'd like**
Pulsar automatically rebalance function worker or there is an admin cli to rebalance the function worker

**Describe alternatives you've considered**
Recreate all functions

[2022-01-10 08:41] Shawyeok opened #13693 "Broker LedgerHandle internal metadata is inconsistent with latest ledger metadata in zk"
**Describe the bug**
In our staging cluster, some bookie instances keep logging `No ledger found while reading entry: xx from ledger: xxxx`, I did some investigation and found the internal metadata of `LedgerHandle`(org.apache.bookkeeper.client.LedgerHandle#versionedMetadata) of specific ledgers are inconsistent with latest ledger metadata in zookeeper.

**Screenshots**
Bookie logs:
![image](https

[2022-01-10 09:20] Richard-Yi commented on #13687
the error msg I find @RobertIndie
[code]

[2022-01-10 10:42] Jason918 commented on #13687
Why do you do this in broker, not client?

[2022-01-10 11:27] #13671 closed

[2022-01-10 13:07] Shoothzj commented on #13687
how about pattern subscribe?

[2022-01-10 13:13] Richard-Yi commented on #13687
@Jason918 Thx for reminding. I find that `PulsarService` keeps a `PulsarClient` instance. It might help me out. I'll try it tomorrow.

[2022-01-10 14:16] #13651 closed

[2022-01-11 01:48] codelipenghui opened #13696 "[branch-2.9] Flaky-test: BatchSourceExecutorTest.testLifeCycle()"
https://github.com/apache/pulsar/runs/4763914396?check_suite_focus=true

[code]

[2022-01-11 01:50] codelipenghui opened #13697 "[branch-2.9]Flaky-test: BacklogQuotaManagerTest.testConsumerBacklogEvictionTimeQuotaWithEmptyLedger"
https://github.com/apache/pulsar/runs/4763914497?check_suite_focus=true

[code]

[2022-01-11 01:54] codelipenghui commented on #13697
branch-2.8 also failed https://github.com/apache/pulsar/runs/4763565931?check_suite_focus=true

[2022-01-11 02:01] codelipenghui opened #13698 "[branch-2.8] Flaky-test: MultiTopicsReaderTest.testMultiTopic"
https://github.com/apache/pulsar/runs/4763566154?check_suite_focus=true

[code]

[2022-01-11 02:26] mattisonchao commented on #13696
@codelipenghui  i can work on it.

[2022-01-11 02:26] mattisonchao commented on #13697
@codelipenghui  i can work on it.

[2022-01-11 02:27] mattisonchao commented on #13698
@codelipenghui  i can work on it.

[2022-01-11 02:40] zcola commented on #13693
+1, I only added disks to one bookie, and the next day the error is still flashing, even if it is lost, shouldn't it be recovered through autorecovery?

[2022-01-11 03:52] Technoboy- opened #13701 "[Discuss] Byte schema compatibility issue"
## Motivation

For now, the byte-schema is compatible with all other schemas. This may introduce more issues.

Case 1 :
[code]
If we produce byte array msg to the topic, it succeeds.
[code]

But the consume may face the below error :
[code]
This is because it can't find schema to decode.

Case 2 :

[code]
In this case, if producer send with JSON object, consumer never know how to deserialize the m

[2022-01-11 03:56] Technoboy- commented on #13701
Here for track the schema issue.
@codelipenghui @gaoran10 @hangc0276

[2022-01-11 05:07] mattisonchao commented on #13701
@Technoboy-

In this case, I think we need to check the current topic schema if fit we want to create producer/consumer.
If not, we can refuse the action.

Another idea:

- Maybe we can support multiple schema type in one topic?

[2022-01-11 06:17] zcola commented on #13693
![image](https://user-images.githubusercontent.com/3234989/148891024-d90be07d-209f-43d4-bea5-1f5efdafcd0f.png)
Each time you adjust one, the more "entry" you lose

[2022-01-11 08:01] #13687 closed

[2022-01-11 08:57] nicoloboschi opened #13705 "Netty - set EndpointIdentificationAlgorithm to get rid of CWE-295"
`EndpointIdentificationAlgorithm` parameter must be set to "HTTPS" to properly perform hostname validation during `SslEngine` creation.
As far as I can see in the Pulsar codebase this parameter is left to the default value; this means that the hostname validation is disabled.

More context here
* https://github.com/netty/netty/issues/9930
* https://github.com/netty/netty/issues/8537
* https://docs

[2022-01-11 09:03] Shawyeok commented on #13693
@zcola
Did you try restart the broker service? In my experience, restart broker service will take effect for a while. I want figure out why it happens.

[2022-01-11 09:23] eolivelli commented on #13705
@nicoloboschi do you have a proposal ?
Which are the cons of setting a value ?

[2022-01-11 09:54] Shoothzj opened #13706 "NPE while checkReplication"
**Describe the bug**
NPE stacktrace
[code]

**To Reproduce**
Currently, I don't know how to reproduce it

**Additional context**
Master code for daily build

[2022-01-11 10:25] nicoloboschi commented on #13705
I don't see cons in a correctly configured environment. BTW I consider it a breaking change but it's worth because of security

The fix is to configure the parameter whenever a SSLEngine is created. I can work on it this week

[2022-01-11 11:24] Demogorgon314 commented on #13698
@codelipenghui May be fixed by #13634

[2022-01-11 12:43] lhotari commented on #13705
@nicoloboschi There are tests in https://github.com/apache/pulsar/blob/master/pulsar-broker/src/test/java/org/apache/pulsar/client/api/AuthenticationTlsHostnameVerificationTest.java , do you think that there's a gap?

In Pulsar client, there's custom logic to do the hostname validation: https://github.com/apache/pulsar/blob/1a3688c936bb2320db34ccfbef08500f2c522591/pulsar-client/src/main/java/org/a

[2022-01-11 14:54] e-marchand-exensa opened #13712 "[2.8.2] error while create opSendMsg by batch message container - zstd overflow detected"
**Describe the bug**
Just trying to upgrade from Pulsar 2.6.4 to 2.8.2, running into this exception very quickly on a standalone test (from scratch, so no backlog or anything).

[code]
and consumer received a erroneous message.
I changed nothing to the code and/or the configuration, so I was using batching and ZSTD compression with version 2.6.4.

**To Reproduce**
I'm not sure how to reproduce, he

[2022-01-11 16:43] tonyvelichko opened #13713 "[2.7.4] NPE while open reader to pulsar topic"
**Describe the bug**
Opening the reader to the topic produces NPE, and causes the exception on the client-side **Exclusive consumer is already connected**

[code]

**Additional context**
The same workload ran on 2.7.1 had no errors.

[2022-01-11 23:02] merlimat commented on #13661
@gaozhangmin

But why?

The problem with Kafka acks is that if you ack each message, the performance is terrible. This is definitely not the case in Pulsar consumer.

[2022-01-12 00:06] merlimat opened #13717 "PIP-135: Include MetadataStore backend for Etcd"
## Motivation

Since all the pieces that composed the proposal in PIP-45 were finally merged
and are currently ready for 2.10 release, it is now possible to add other
metadata backends that can be used to support a BookKeeper + Pulsar cluster.

One of the popular systems that is most commonly used in alternative of
ZooKeeper is Etcd, thus it makes sense to have this as the first non-zookeeper
impl

[2022-01-12 00:12] leizhiyuan opened #13718 "should we add a metrics to show the top storage in bookeeper"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

pulsar_storage_size only shows The total storage size of the topics in this namespace owned by this broker (bytes).

sometimes, if the topic was not loaded by brokers, maybe producers and consumers do not connect with any broker.

but they

[2022-01-12 01:15] leizhiyuan commented on #13718
if is not necessary， I can read zookeeper of bk directly， use the metadata to analyze

[2022-01-12 01:57] vhaisong opened #13719 "[Doc] Incorrect description in https://pulsar.apache.org/docs/en/concepts-messaging/#retry-letter-topic"
### What issue do you find in Pulsar docs?

In https://pulsar.apache.org/docs/en/concepts-messaging/#retry-letter-topic, it said "For many online business systems, a message is re-consumed due to exception occurs in the business logic processing. To configure the delay time for re-consuming the failed messages, you can configure the producer to send messages to both the business topic and the retr

[2022-01-12 02:51] gaozhangmin commented on #13706
I will fix it.

[2022-01-12 07:26] bin-albin opened #13721 "The topic monitoring information is incorrect"
**Describe the bug**
In the Grafana control panel, my topic number is in the tens of millions, but the actual cluster is in the tens of thousands. Other indicators are also incorrect, such as pulsar_topicS_count, pulsar_producers_count, pulsar_consumerS_count, etc
and  I also get inaccurate data from calling broker metrics

curl -sL http://xxxxx:8721/metrics | grep pulsar_topics_count

pulsar_topi

[2022-01-12 07:33] Jason918 commented on #13706
@Shoothzj Does this happen in some unit test case ?
It should not happen if the topic is properly init.

[2022-01-12 08:47] liudezhi2098 commented on #13719
Acknowledgment timeout triggers are triggered when an ACK acknowledgment message is not acknowledged within a specified time, such as when an ACK is forgotten, or when the business logic takes too long to process.
`client.newConsumer().ackTimeout(10, TimeUnit.SECOND)` All messages follow the same delay strategy.

Negative acknowledgment is when a user actively triggers message retries, such as whe

[2022-01-12 09:53] e-marchand-exensa commented on #13712
I tried all others compression types without problem, at least from my testing environment.
Revert back to `ZSTD` compression and getting error in less than 2 minutes.

[2022-01-12 15:19] codelipenghui commented on #13640
@shibd For the non-persistent topic, the broker will not hold any messages. It looks like a message is forwarded between channels, from the producer channel to the consumer channel, so it does not make sense to create a subscription without a connected consumer

[2022-01-12 16:46] #13605 closed

[2022-01-12 16:52] #13479 closed

[2022-01-12 17:26] #11895 closed

[2022-01-12 22:12] bin-albin commented on #13721
pulsar version is 2.6.0

[2022-01-12 22:43] rdhabalia opened #13728 "PIP-136: Sync Pulsar policies across multiple clouds"
# Sync Pulsar policies across multiple clouds

Implementation : PR: https://github.com/apache/pulsar/pull/15223

## Motivation

Apache Pulsar is a cloud-native, distributed messaging framework which natively provides geo-replication. Many organizations deploy pulsar instances on-prem and on multiple different cloud providers and at the same time they would like to enable replication between multip

[2022-01-13 00:20] david-streamlio opened #13730 "[Doc] Update the C# client page to use newer version of the client library"
### What issue do you find in Pulsar docs?

The current version of the docs uses version 0.11 of the C# client library, and the newest version of that library is now 2.0.1.

### What is your suggestion?

There have been some changes to the API between these versions, starting with the namespace, so we need to update these docs to reflect the API of the most recent version, 2.0.1

We definitely nee

[2022-01-13 05:19] gaozhangmin commented on #13713
#12297 had fixed it.

[2022-01-13 05:45] limbonicat opened #13734 "Websocket Client TLS not supported on Win7/8 (handshake failure)"
**Describe the bug**
Handshake failure error occurd when websocket client connect to Pulsar(Standalone mode) ;
But its worked well on Win10 or Android or use other client(like Java Client);
After anaylise logs and src code, i guess the bug occured because DISMATCH cipher suite between pulsar wss and ws client

**To Reproduce**
Steps to reproduce the behavior:
1. User C#/JS websocket client connect

[2022-01-13 07:51] paladin-dalao opened #13735 "cpp client coredump"
**Describe the bug**

There was a sudden crash when our service was running

**To Reproduce**
Steps to reproduce the behavior:

I don't konw how to reproduce

**Expected behavior**

[code]

**Additional context**
Add any other context about the problem here.

[2022-01-13 08:15] e-marchand-exensa commented on #13712
@sijie  seems OK with v2.7.4 but same issue with v2.9.1

[2022-01-13 08:26] RobertIndie commented on #13730
@david-streamlio I can help with this.

[2022-01-13 08:42] nodece commented on #13734
@limniconicat I will work on this.

[2022-01-13 08:59] wolfstudy opened #13736 "[DeadLock] Attempting to create a new ledger when the ledger is closed may result in a deadlock"
[code]

[2022-01-13 09:00] wolfstudy commented on #13736
The code snippet where this deadlock occurs is as follows:

In `ledgerClosed()` method:

[code]

[2022-01-13 09:25] sunshujie1990 opened #13737 "Replace -XX:+DisableExplicitGC with -XX:+ExplicitGCInvokesConcurrent"
java.nio.Bits#reserveMemory use System.gc() to trigger VM's Reference processing. DisableExplicitGC may cause OOM.

[2022-01-13 09:31] vhaisong commented on #13719
It's not about usage, it's about documentation.

[2022-01-13 09:43] liudezhi2098 commented on #13719
I try to improve the documentation

[2022-01-13 11:39] Shawyeok opened #13741 "Consumer already closed with system topic"
**Describe the bug**
Unexpected log output by logger `org.apache.pulsar.client.impl.MultiTopicsConsumerImpl`, thread: `pulsar-client-internal-45-1`
[code]

**Screenshots**
![image](https://user-images.githubusercontent.com/5058708/149320782-61e72912-a209-4095-9617-500f800907d9.png)

**Additional context**
 - pulsar version: `2.8.1`
 - OS: `CentOS Linux release 7.9.2009 (Core)`
 - kernel: `3.10.0-1

[2022-01-13 12:18] lhotari commented on #6054
@skyrocknroll @marcioapm All required fixes are included in Apache Pulsar 2.7.4 and 2.8.2 versions.

[2022-01-13 12:19] #6054 closed

[2022-01-13 13:16] tongsucn commented on #13645
@mattisonchao Hi, the problem still exists on Pulsar 2.8.2.

I think the problem locates at `org.apache.pulsar.common.policies.data.stats.NonPersistentTopicStatsImpl`. It owns a map object `subscriptions` which "overwrites" the parents' one.

In `org.apache.pulsar.broker.service.nonpersistent.NonPersistentTopic.getStats`, subscription information are updated to `NonPersistentTopicStatsImpl.subscri

[2022-01-13 14:29] tomjohn9 commented on #5284
Hello, we had have the same issue. We could not even delete the topic which was affected by command
``` ./pulsar-admin topics delete /tenant/space/topic -f```

response:
[code]

also reponse for same command after all brokeres were restarted:

[code]
On server side was observed

`
 [pulsar-web-42-1] ERROR org.apache.pulsar.broker.admin.impl.PersistentTopicsBase - [null] Failed to delete topic forc

[2022-01-13 14:34] Ankita-Chaudhari opened #13743 "JWT authentication and authorization not working on standalone cluster"
**Describe the bug**
I'm trying to add JWT authentication and Authorization on a standalone apache pulsar, but seems it is not working for me.
So basically right now the state is: Without token -- Client is able to produce and consume messages.

**To Reproduce**
Steps to reproduce
1.	Create Tenant with admin roles
pulsar-admin tenants create my-first-tenant --admin-roles testadmin

2.	 Create Name

[2022-01-13 14:59] tonyvelichko commented on #13713
Thanks @gaozhangmin I've missed that!

But still, I think the NPE is just a result, cause the Bookie's full of errors [about 280 unique ledgers] about the ledger is missing. `No ledger found while performing readLac from ledger: 3420`

[2022-01-13 15:15] codelipenghui commented on #13736
@wolfstudy Looks not related to #12223, before #12223, we also call `asyncCreateLedger` after the ledger closed.

[2022-01-13 15:17] wolfstudy commented on #13736
Yes

[2022-01-14 01:21] codelipenghui opened #13750 "Flaky-test: [EndToEndMetadataTest].[testPublishConsume]"
[EndToEndMetadataTest] is flaky. The [testPublishConsume] test method fails sporadically.

https://github.com/apache/pulsar/runs/4805692281?check_suite_focus=true

[code]

[2022-01-14 02:45] #13654 closed

[2022-01-14 03:45] codelipenghui commented on #13697
@mattisonchao I noticed @gaozhangmin already fixed the issue. Please check other issues.

[2022-01-14 03:46] #13697 closed

[2022-01-14 03:46] #13698 closed

[2022-01-14 04:28] lhotari commented on #13750
Similar problem:
https://github.com/apache/pulsar/runs/4811252051?check_suite_focus=true#step:10:576

[2022-01-14 04:43] lhotari commented on #13750
This seems to be related to #12770 .
If the org.apache.bookkeeper.meta.MetadataDrivers class gets loaded before org.apache.pulsar.metadata.bookkeeper.BKCluster constructor is called, things will fail. @merlimat Could you check this problem?

https://github.com/apache/pulsar/blob/12ca27fa800c72b0c9a6e7f2583a9daa2497add9/pulsar-metadata/src/main/java/org/apache/pulsar/metadata/bookkeeper/BKCluster.j

[2022-01-14 04:46] lhotari commented on #13750
The workaround would be to set the system properties for all tests in pulsar-broker using the pom.xml. I can create a PR for that since it shouldn't be harmful.

[2022-01-14 04:52] codelipenghui commented on #13750
@lhotari Can we only add the properties for `EndToEndMetadataTest`, looks like other tests will not test different drivers?

[2022-01-14 04:53] mattisonchao commented on #13750
I think this method would be better. :)
because of

just a temporary solution, i think.

[2022-01-14 04:58] lhotari commented on #13750
you can see in BK code that it's not harmful:
https://github.com/apache/bookkeeper/blob/bc02d8c487a809fa58d75c477d9e2d5c7dedccec/bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/MetadataDrivers.java#L95-L106

[2022-01-14 05:06] mattisonchao commented on #13741
@Shawyeok Could you give us more detail ?

[2022-01-14 05:40] gaozhangmin opened #13755 "Flaky-test: [RGUsageMTAggrWaitForAllMsgsTest]. [testMTProduceConsumeRGUsageNonPersistentTopicNamesDifferentTenant]"
https://github.com/apache/pulsar/runs/4812847056?check_suite_focus=true

[code]

[2022-01-14 07:34] Jason918 opened #13756 "[broker] Optimize topic policy with HierarchyTopicPolicies"
This issue is created to track the process of the serial topic policy optimization with `HierarchyTopicPolicies`.

## Motivation

Update topic policy with HierarchyTopicPolicies comes with these benefits:
- All topic policy related settings will goes into AbstractTopic#topicPolicies, easier to understand, check, review, and modify.
- Unify policy update to AbstractTopic. And easier to find which p

[2022-01-14 07:34] sunshujie1990 opened #13757 "invalid config item -Dio.netty.recycler.maxCapacity.default"
netty version 4.1.66.Final
Can not find config item io.netty.recycler.maxCapacity.default in io.netty.util.Recycler. I think it's a invalid config.

![image](https://user-images.githubusercontent.com/24857248/149468791-125c9349-ce24-4320-9f3d-e2f406a6df06.png)

[2022-01-14 07:40] sunshujie1990 commented on #13757
@merlimat

[2022-01-14 08:24] lhotari commented on #13750
You will need to close and re-open and PRs where the `CI - Unit - Brokers - Broker Group / pulsar-ci-test (group2) job` is failing to get the fix for this issue which is provided by PR #13754.

Closing and re-opening the PR will cause the PR to create a new merge commit internally with the latest master branch changes. This is an alternative to rebasing the PR or making an explicit merge to master

[2022-01-14 08:24] #13750 closed

[2022-01-14 09:47] #13736 closed

[2022-01-14 10:12] momo-jun opened #13760 "Possible code changes required for #13077"
As per https://github.com/apache/pulsar/pull/13077, `zookeeperServers` and `configurationStoreServers` need to be renamed to `metadataStoreUrl` and `configurationMetadataStoreUrl`.

When implementing doc changes with a global search, I found the following files have parameter named `zookeeper-servers` and `configuration-store-servers`/`configuration-store`, which might need to be renamed as well.

[2022-01-14 11:52] aloyszhang opened #13761 "[PIP-143] Support split bundle by specified boundaries"
## Motivation

As we all know, a namespace bundle may contain lots of topic partitions belonging to different topics.
The throughput of these topics may vary greatly. Some topics may have a very high rate/throughput while other topics have a very low rate/throughput.

These partitions with high rate/throughput can cause broker overload and bundle unloading.
At this point, if we split bundle manual

[2022-01-14 14:02] lhotari commented on #13755
another: https://github.com/apache/pulsar/runs/4813598528?check_suite_focus=true#step:10:187

[2022-01-14 15:09] nicoloboschi commented on #13755
here too: https://github.com/apache/pulsar/runs/4817779793?check_suite_focus=true#step:10:3219

[2022-01-14 19:09] aparajita89 opened #13765 "schema created via admin extract api does not contain version"
**Describe the bug**
when schema is created via `pulsar-admin schema upload ...` command, it creates the schema with version and schema info (JSON serialized version of SchemaAndMetadata). but when the schema is created via `pulsar-admin schemas extract ...` command, it created the schema with schema info only (JSON serialized version of SchemaInfo).

**To Reproduce**
Steps to reproduce the behavi

[2022-01-14 19:15] #7669 closed

[2022-01-15 07:28] aparajita89 commented on #13765
this is not a bug, i had made a mistake in my input json. closing this ticket.

[2022-01-15 07:28] #13765 closed

[2022-01-15 08:03] thomaeschen opened #13766 "Pulsar 2.9 topic produced through REST not support Authorization"
**Describe the bug**
Since Pulsar 2.9.1, user can produce the message  through the Rest API . After activated the authentication and authorization mechanism(JWT) in the broker.conf.  The system will show the message

{
    "reason": "Unauthorized to produce to topic persistent://bi/a/tls with clientAppId [bi] and authdata org.apache.pulsar.broker.authentication.AuthenticationDataHttps@a69bf62"
}

[2022-01-15 09:06] HQebupt commented on #13757
Yes. I agree with you. I had a PR. please help to fix it. Pls help to review it. [Improvement] Recycler should use io.netty.recycler.maxCapacityPerThread instead of io.netty.recycler.maxCapacity.default as maxCapacityPerThread configuration in Netty 4.1.x #13563

[2022-01-15 14:54] thomaeschen opened #13768 "Produce message using REST API through Proxy"
**Is your enhancement request related to a problem? Please describe.**
Since Pulsar 2.9.X, the pulsar system is able to produce message directly to the broker from the REST client. It is more convenient and safety to let the user to produce the message using REST client to the proxy instead directly to the broker.

**Describe the solution you'd like**
The REST client could send the message to the

[2022-01-16 07:17] eolivelli commented on #13347
Maintaining such extensions will be very hard for users as we are deep inside the internals of Pulsar.

We should define a smaller surface for the extension point, like extracting the only part that selects the consumers

[2022-01-16 07:53] kingboung opened #13774 "Scale up the pod number of bookie or broker cant improve the performance of throughput and my hardware resource is still free enough"
**Describe the bug**
I deployed pulsar with k8s. We need 25w/s(1k size msg) throughput, however it can only provide 9w/s throughput with perf tool. By the way, its far away from the official test report. I tried to scale up the pod number of bookie and broker, but it worked nothing for me and I found my hardware is still free enough. What's wrong with my operation?

**To Reproduce**
See descriptio

[2022-01-16 09:36] mattisonchao commented on #13774
@kingboung

Could you provide more details like "broker.conf", "bookkeeper.conf", machine resources, etc.?
These are very useful for diagnosing your problem.

[2022-01-17 02:15] kingboung commented on #13774
@mattisonchao
no problem, please see the zip file   [pulsar.zip](https://github.com/apache/pulsar/files/7878574/pulsar.zip)
pvc detail
![image](https://user-images.githubusercontent.com/22000541/149690301-7761b16c-735a-41bb-8d17-83c8baf5cbda.png)

[2022-01-17 06:43] Johnnyhooyo opened #13779 "Why is there this annotation? org.apache.pulsar.client.impl.conf.ClientConfigurationData#@jsonIgnore"
#### Expected behavior
I want to know why  is there this annotation?
When i use this class in pulsar-flink v2.6.0, This parameter cannot be passed because it is not serialized, so that i can't auth pulsar.
![image](https://user-images.githubusercontent.com/35983936/149720440-c047464c-a33b-41c3-9e3e-4c239409a80f.png)

What i want:
someone explain this.

[2022-01-17 07:53] yuvalgut commented on #13741
also experiencing something similar related to systemTopics:

{"msg":"org.apache.pulsar.client.impl.ConsumerImpl - [persistent://tenant/default/__change_events-partition-2][multiTopicsReader-f2ae775e21] Failed getLastMessageId command","thread":"pulsar-io-4-3","timestamp":"07:38:28.863"}

"msg":"org.apache.pulsar.client.impl.ClientCnx - [id: 0x9ad7ffd4, L:\/100.64.3.1:56568 - R:pulsar-broker-3.pul

[2022-01-17 07:53] RobertIndie commented on #13760
@codelipenghui I can work on it.

[2022-01-17 08:33] liudezhi2098 commented on #13743
standalone cluster configured in  conf/standalone.conf
![image](https://user-images.githubusercontent.com/33149602/149734536-7c892aa2-4d71-4be3-8e81-51c566abf000.png)

![image](https://user-images.githubusercontent.com/33149602/149734644-0d699808-ac80-445b-afbb-d1fca648afa6.png)

[2022-01-17 09:03] gaozhangmin commented on #13760
I added metadataStoreUrl support for pulsar proxy and function_worker already.
#13777 #13782。 You just need update broker's doc.

[2022-01-17 09:47] xuesongxs opened #13787 "Topic can't unsubscribe subscription"
**Describe the bug**
Pulsar: v2.8.1
Topic partition: 20

There are three subscriptions on this topic. Now delete the second subscription. As a result, another partition has not been deleted. It shows that there are active consumer processes, we go to the host and check the process through this port. We find that there is no process, Then we can't delete it through unsubscribe.

![image](https://us

[2022-01-17 09:57] Shawyeok opened #13788 "Broker keep logging Mark deleting an already mark-deleted position"
**Describe the bug**
There is a subscription keep logging `Mark deleting an already mark-deleted position` in out production cluster.
[code]
Topic `persistent://op/growth/sms_produce_b_api_0` has **3** partitions, but only `partition-2` keep logging this issue.

The `internal-stats` shows cursor's `markDeletePosition` is after the firstRange of `individuallyDeletedMessages`:
![image](https://user-

[2022-01-17 10:46] vkuznecovas commented on #13667
Sorry for the long time with no reply. I'm refering to the live version.

1) Open https://pulsar.apache.org/docs/en/concepts-messaging/
1) Click the link under "a negative acknowledgement"
1) See <img width="768" alt="Screenshot 2022-01-17 at 12 45 57" src="https://user-images.githubusercontent.com/18392269/149755581-d8729198-e004-4f28-9a20-551f6b2bef45.png">

[2022-01-17 14:27] youg9203 commented on #13743
After the enabling the JWT pulsar not starting:
[code]

[2022-01-17 14:43] codelipenghui opened #13792 "Got END_TXN response for request 2036419640951504857 error UnknownError"
**Describe the bug**

Client-side error log:
[code]

Server side error log:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run the following test code
2. Unload the topic `public/test/s_topic` during the test (maybe multiple times)
3. See error

Test code:
[code]

**Expected behavior**
- The client-side should not print the `UnknownError`

**Additional context**
broker logs:
[pulsar

[2022-01-17 14:50] youg9203 commented on #13743
After bit improvements:
[code]

[2022-01-17 14:53] codelipenghui opened #13793 "Got 500 while force delete namespace"
**Describe the bug**

[code]
The server side logs:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Use the following test code to produce and consume data
2. Stop the test
3. Delete the namespace with `--force` option
4. See error

Test code:
[code]

**Expected behavior**
Delete the namespace successfully.

**Additional context**

Error logs for deleting the namespace are at the end

[2022-01-17 14:57] codelipenghui commented on #13788
@Shawyeok It looks like the application holds some old messages and tries to ack them, or could you please help check does the ledger ID `71317494` belongs to this topic?

[2022-01-17 14:57] nodece commented on #13211
I will work on this.

[2022-01-17 14:59] codelipenghui commented on #13787
Have you tried to use the PulsarAdmin to list the subscriptions or check the active consumers/producers? I'm not sure if the problem is related to Pulsar Manager or Pulsar, PulsarAdmin can help to determine the problem

[2022-01-17 15:52] mattisonchao opened #13794 "[ PIP-137 ] Add ``SystemTopicNameManager`` to manage system topic names."
## Motivation

- The current system topic names are scattered and difficult to maintain and dynamically configure.

See SystemTopicClient.class 193 line.

[code]
Every time a SystemTopic is added, it must be defined here.

 - Some **Apache Pulsar** extensions such as ``Protocol Handler`` cannot create namespace-level SystemTopic.

## Goal

Add ``SystemTopicNameManager``  to manage all system topic

[2022-01-17 16:15] mattisonchao opened #13795 "Support auto increment PIP number."
## Motivation

Recently, I found many PIP number has been conflict, i think it's a good way to use Github open API to auto increment pip number.

## Goal

Solve the problem of incorrect sorting of PIP numbers and conflicts.

## Implementation

- When the user creates a PIP ``xxxxxxxxxxxx``, we can call the GIthub open api to get the pip title and calculate the last title number according to the ca

[2022-01-17 16:37] Shawyeok commented on #13788
@codelipenghui It belongs to `partition-1`, that's weird.
[code]

[2022-01-18 00:50] #13730 closed

[2022-01-18 03:13] Anonymitaet commented on #13667
Oh, I see, corrected in https://github.com/apache/pulsar/pull/13802, PTAL

[2022-01-18 03:18] #13688 closed

[2022-01-18 03:40] RichardReindeer opened #13803 "Unable to load the library 'org_apache_pulsar_shade_netty_transport_native_epoll_x86_64', trying other loading"
version : 2.7.1

cant find org_apache_pulsar_shade_netty_transport_native_epoll_x86_64 in my server ;
but it could work in local

英语不大好，下面用中文描述一下
在服务器里面找不到org_apache_pulsar_shade_netty_transport_native_epoll_x86_64 ,会尝试去寻找别的包
但是在本地运行和打包的时候都没有问题

[2022-01-18 04:10] #13640 closed

[2022-01-18 04:22] Shoothzj commented on #13803
Are you deploy on x86 server ?

[2022-01-18 05:46] RichardReindeer commented on #13803
nope，I deployed on 64 server ; and devlop env is also 64

[2022-01-18 05:52] gaozhangmin commented on #13768
I will try to work on it.

[2022-01-18 06:16] Shoothzj commented on #13803
@RichardReindeer Sorry, what I mean is run arch, `x86` or `arm`, not 64 or 32 bit. You can check it with `uname -a`
![image](https://user-images.githubusercontent.com/12933197/149881363-6cf2a5a9-50b3-44fa-aa1f-d56e22c60802.png)

[2022-01-18 06:26] RichardReindeer commented on #13803
![image](https://user-images.githubusercontent.com/44000760/149882375-aa6ce5a0-d839-4ff4-ac2d-19eb24081881.png)
mb it try to find this so ; but it named liborg_apache_pulsar_shade_netty_transport_native_epoll_x86_64.so

[2022-01-18 06:29] RichardReindeer commented on #13803
If it wanna this file , How do I change its reference to this file name?

[2022-01-18 06:49] lujiwen commented on #13693
I am suffering a similar problem too, after a bookie instance crashed, and a new instance was added into the bookkeeper cluster, my bookie log keeps saying that:   No ledger found while performing readLac from ledger: xxx

[2022-01-18 06:55] #13677 closed

[2022-01-18 07:24] BramVanImpeAc opened #13804 "Incompatible Schema using ALWAYS_COMPATIBLE"
**Describe the bug**
Using version 2.9.0, connecting with a producer to a topic using ALWAYS_COMPATIBLE results in the following error: java.lang.RuntimeException: Writing to a topic which have incompatible schema.

**To Reproduce**
Steps to reproduce the behavior:

1. Namespace that topic belongs to is configured with settings:
"schema_compatibility_strategy" : "ALWAYS_COMPATIBLE",
"is_allow_auto

[2022-01-18 07:47] xuesongxs commented on #13787
***@***.***

From: lipenghui
Date: 2022-01-17 22:59
To: apache/pulsar
CC: xuesongxs; Author
Subject: Re: [apache/pulsar] Topic can't unsubscribe subscription (Issue #13787)
Have you tried to use the PulsarAdmin to list the subscriptions or check the active consumers/producers? I'm not sure if the problem is related to Pulsar Manager or Pulsar, PulsarAdmin can help to determine the problem
—
Reply

[2022-01-18 08:03] momo-jun commented on #13585
Status update: Pending.
Confirmed with @codelipenghui today.

[2022-01-18 08:17] #11348 closed

[2022-01-18 08:26] #7720 closed

[2022-01-18 08:40] vvijayv opened #13806 "Multiple instance of producers sharing the same producer name"
**Describe the bug**
Running multiple instances of a service with same producer name has error - already registered with the Pulsar broker.

**To Reproduce**
Create a service, with a producer having a name, that produces messages to a topic. Run multiple instance of the instance, the second instance should complain the use of the name

**Expected behavior**
Should I have different producer name? r

[2022-01-18 09:06] hpvd opened #13807 "Ability to store metadata about functions"
would be very handy to have the ability to store metadata about functions

analogous to metadata for topics

https://github.com/apache/pulsar/issues/12629

advantages (same as for topics):

[2022-01-18 09:07] codelipenghui opened #13808 "[branch-2.9] Flaky-test: PersistentTopicStreamingDispatcherTest"
[PersistentTopicStreamingDispatcherTest] is flaky.

[example failure](https://github.com/apache/pulsar/runs/4850170287?check_suite_focus=true)

[code]

Branch-2.9

[2022-01-18 09:50] HQebupt commented on #13806
Producer name is uniq globally. I believe it is not bug. it is better to use different producer name for your scenario.

[2022-01-18 09:59] HQebupt commented on #13808
I will try to resolve it.

[2022-01-18 11:39] vvijayv commented on #13806
Does this have impact on pulsar handling the idempotency?

[2022-01-18 12:41] codelipenghui commented on #13211
@nodece Can you share the jstack? looks like a deadlock in the zk callback process?

[2022-01-18 13:21] #13544 closed

[2022-01-18 13:57] #13667 closed

[2022-01-18 14:33] #13517 closed

[2022-01-18 15:13] #13706 closed

[2022-01-18 16:55] david-streamlio opened #13818 "[Doc] Broken links on "concepts-messaging" page"
### What issue do you find in Pulsar docs?

There are two broken links on the following [page](https://pulsar.apache.org/docs/en/concepts-messaging/)

The links to [negative acknowledgement](https://pulsar.apache.org/docs/en/concepts-messaging/negative-acknowledgement) and [acknowledgement timeout](https://pulsar.apache.org/docs/en/concepts-messaging/acknowledgement-timeout)  are broken and return

[2022-01-18 20:19] eolivelli commented on #12629
@Technoboy- did you see my comment?

[2022-01-19 00:56] xuesongxs commented on #13787
bin/pulsar-admin topics partitioned-stats:
![image](https://user-images.githubusercontent.com/54351417/150043446-28c3865b-e28d-45ab-9757-a9507a3bd58d.png)

[2022-01-19 01:22] xuesongxs commented on #13787
Prompt "subscription has active consumers" when deleting topic, but no consumers are actually connected.
It may be that the consumerList is not deleted in the consumerList after the consumer is disconnected.
![image](https://user-images.githubusercontent.com/54351417/150045756-51a245a2-89fe-4d0f-9e97-fe55cda07588.png)

[2022-01-19 01:58] #12759 closed

[2022-01-19 02:16] ericsyh opened #13823 "[bug](Replicated subscription): slow rate consumer makes replicated subscription works unexpected."
**Describe the bug**

Created a more clear issue about https://github.com/apache/pulsar/issues/12759.

In my current test found, if i create a producer to produce to with no dispatch limit while create a consumer to consumer with slow rate (set a 1 second sleep in message receive):

* If i use a Latest position to consume, the consumer will miss some messages after the consumer transter the cluste

[2022-01-19 02:18] Jason918 opened #13824 "Flaky-test: [org.apache.pulsar.io.PulsarSinkE2ETest].[setup]"
[org.apache.pulsar.io.PulsarSinkE2ETest] is flaky. The [setup] test method fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/4855672820?check_suite_focus=true#step:10:2636)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-01-19 02:48] Anonymitaet commented on #13818
Fix in https://github.com/apache/pulsar/pull/13802

[2022-01-19 03:03] 346359827 opened #13825 "close"
#13788

[2022-01-19 03:05] xuesongxs commented on #13787
Looking at the broker process stack, I feel that this problem can not be solved without restarting the broker.
[broker.txt](https://github.com/apache/pulsar/files/7893631/broker.txt)
[broker1.txt](https://github.com/apache/pulsar/files/7893632/broker1.txt)

[2022-01-19 03:52] Jason918 commented on #12958
This will be fixed by PIP-132 in #13591
Close this issue.

[2022-01-19 03:52] #12958 closed

[2022-01-19 06:27] liudezhi2098 commented on #13743
Which version would you like to use？
start up with `sh pulsar standalone` ?

[2022-01-19 06:34] lhotari commented on #9919
recent failure: https://github.com/apache/pulsar/runs/4863165088?check_suite_focus=true#step:9:430

[2022-01-19 06:36] lhotari commented on #13625
recent failure: https://github.com/apache/pulsar/runs/4863165088?check_suite_focus=true#step:9:1084

[2022-01-19 06:38] lhotari commented on #12774
recent failure: https://github.com/apache/pulsar/runs/4863165088?check_suite_focus=true#step:9:2076
[code]

[2022-01-19 06:40] #13542 closed

[2022-01-19 06:42] lhotari commented on #13755
yet another: https://github.com/apache/pulsar/runs/4863165119?check_suite_focus=true#step:10:188

[2022-01-19 06:52] 346359827 commented on #13825
log
pulsar-broker-hzsd-service-12-92.getui.log-01-17-2022-1.log.gz:21:59:26.924 [pulsar-io-4-5] WARN  org.apache.pulsar.broker.service.persistent.PersistentSubscription - [persistent://b2d/rcp-new/rcp-normal#msg-topic#keyed#OtJQ5Kw6F36GSKbC8A3CY-partition-1][rcp-normal-queue-subscription] Failed to delete message at 31590:-1: org.apache.bookkeeper.mledger.ManagedLedgerException: java.lang.IllegalA

[2022-01-19 07:24] Jason918 commented on #12774
This test is updated since last fix.
Reproduced this locally, I will look into this.

[code]

[2022-01-19 07:30] 346359827 commented on #13825
https://github.com/apache/pulsar/issues/13788

[2022-01-19 08:50] Technoboy- commented on #12629
Ok, I will update this in the pr.

[2022-01-19 09:23] xiaobing0508 opened #13835 "Bookies quarantine problems."
My cluster version is 2.9.1.
Today chuster is not health.
I noticed broker log display replaceBookie for bookie.
An hour later,Display bookies is no longer quarantined.
My bookie was quarantined?
How to prevent this from happening?

[2022-01-19 12:01] gaozhangmin commented on #13804
I followed your step, I could send message successfully, Please check your schema-compatibility-strategy again by command:
`bin/pulsar-admin namespaces get-schema-compatibility-strategy public/default`

[2022-01-19 12:47] lhotari commented on #13102
The problem remains:
[code]
in https://github.com/apache/pulsar/runs/4866852493?check_suite_focus=true#step:9:656

[2022-01-19 13:35] lhotari commented on #9783
It turns out the PulsarClientImpl isn't needed at all in Pulsar Proxy. There's a PR #13836 to optimize the resource usage of Pulsar Proxy. This reduces 2 threads per proxied connection which will help improve Pulsar Proxy scalability. Please review #13836

[2022-01-19 16:38] 0gap opened #13843 "Aws terraform deployment fails in zookeeper.conf task"
**Describe the bug**
I am trying to deploy a Pulsar cluster in AWS following the documentation.
I manage to find my way to using `deploy_pulsar.yml`, but ansible fails in the `Add zookeeper.conf file` TASK with the message
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Follow terraform instructions in https://pulsar.apache.org/docs/en/deploy-aws/
2. Skip the `Setup Disks` (does not w

[2022-01-19 18:24] ilkomiliev commented on #12166
yes, this comes from RocksDB JNI. Unfortunately, it seems that the API changed also, so that the lib version mentioned in the original rocksdb issue (rocksdbjni-6.25.3.jar) brings another error:

`java.lang.NoSuchMethodError: 'org.rocksdb.ReadOptions org.rocksdb.ReadOptions.setIterateUpperBound(org.rocksdb.Slice)'
	at org.apache.bookkeeper.bookie.storage.ldb.KeyValueStorageRocksDB.getFloor(KeyValu

[2022-01-19 21:48] tspannhw commented on #9939
Hardcoded name.

org.apache.pulsar.client.api.SchemaSerializationException: device is a required field.
        at org.apache.pulsar.io.influxdb.v2.InfluxDBSink.buildPoint(InfluxDBSink.java:70) ~[H6kZDybItBmVXRzVBuylsA/:?]
        at org.apache.pulsar.io.influxdb.v2.InfluxDBSink.buildPoint(InfluxDBSink.java:41) ~[H6kZDybItBmVXRzVBuylsA/:?]
        at org.apache.pulsar.io.influxdb.BatchSink.flush(B

[2022-01-20 01:41] xiaobing0508 commented on #13835
So the setting won't cause this problem?

[2022-01-20 02:03] #13818 closed

[2022-01-20 05:39] liangyuanpeng commented on #13721
Is it possible of try to upgrade pulsar to 2.8.x or more hight version for check it.

[2022-01-20 05:40] lhotari opened #13849 "Flaky-test: C++ ProducerTest.testSendAsyncCloseAsyncConcurrentlyWithLazyProducers"
ProducerTest.testSendAsyncCloseAsyncConcurrentlyWithLazyProducers fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/4877678504?check_suite_focus=true#step:11:748)

[code]

full logs at https://gist.github.com/lhotari/f37aefd7919f030399f3a5b7020baa23

[2022-01-20 05:42] lhotari commented on #13849
@BewareMyPower Do you have a chance to check this?

[2022-01-20 06:35] lmj199053 opened #13851 "Transaction pending ack generate managedLedgerStats fail!"
I use the helm to deploy the pulsar 2.8.3. This is the broker's log.

06:30:43.212 [prometheus-stats-42-1] WARN  org.apache.pulsar.broker.stats.prometheus.TransactionAggregator - Transaction pending ack generate managedLedgerStats fail!
java.util.concurrent.ExecutionException: org.apache.pulsar.broker.service.BrokerServiceException$NotAllowedException: Pending ack handle don't use managedLedger!

[2022-01-20 06:45] liangyepianzhou commented on #13792
### Problem Description
1. TransactionBufferHandlerImpl sends EndTxn request, at this time topic is unloading.
2. The default timeout is 3 seconds, and a timeout exception will be returned after three seconds.
3. The response is received later, but the op has been removed by timeout.
[code]

[2022-01-20 07:22] BewareMyPower commented on #13849
I'll take a look when I'm free.

BTW, this flaky test might be introduced from https://github.com/apache/pulsar/pull/11570, it would be better if @Vanlightly could take a look first.

[2022-01-20 07:42] XuanYang-cn opened #13852 "Writing local data to ZooKeeper because maximum change 33235.83459104782% exceeded threshold 10%"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-01-20 07:56] Shawyeok commented on #13741
@mattisonchao @yuvalgut It is duplicate with #12024, and fixed by #12044

[2022-01-20 07:56] #13741 closed

[2022-01-20 08:20] mattisonchao opened #13854 "[Broker] ``PersistentTopicsBase`` has many async method call sync method."
## Motivation

This issue was created to track the process of fixing serial async method calls sync method in ``PersistentTopicsBase``.

## Progress

- [x] internalDeletePartitionedTopic @mattisonchao  #13805
- [x] internalUnloadTopic @mattisonchao  #13845
- [x] internalGetSubscriptions @mattisonchao #13846
- [x] internalGetManagedLedgerInfo @mattisonchao  #13847
- [x] internalGetPartitionedStats

[2022-01-20 11:07] eolivelli commented on #11070
@andrekramer1 I created an alternative, more simpler PR that does not change the previous behaviour but fixes the NPE
[1798](https://github.com/apache/zookeeper/pull/1798).

Can you please take a look ?
is it enough to fix your problem ?
If the answer is "yes" that it is easier to commit the patch and see it released soon

[2022-01-20 11:56] niushaoda commented on #9040
This also happens when the topic exists, it is sporadic

[2022-01-20 11:57] niushaoda commented on #9040
After this happens, the connection is re-established and the message can still be sent successfully.

[2022-01-20 11:59] lhotari commented on #12269
For adding some more context, there was a proposal in the past from @andrekramer1 , that was discussed in this dev mailing list thread: https://lists.apache.org/thread/k0hb33nz42f3603hvs03p7lmltjgj40z .
I would prefer a standard feature approach in Pulsar instead of making it an optional plugin. The reason for this is to prevent fragmentation of Pulsar into a set of optional plugins which might or

[2022-01-20 12:04] niushaoda commented on #9040
![image](https://user-images.githubusercontent.com/29350422/150335466-4bbefac9-7dff-46b1-8439-8e507b1c4557.png)

       I am sending the message asynchronously, the exception is thrown here.

[2022-01-20 13:10] Anonymitaet opened #13856 "[Doc] add docs for topic policy and system topic"
Currently, we have documented "operations" for https://pulsar.apache.org/tools/pulsar-admin/2.10.0-SNAPSHOT/#topicpolicies but do not document explanations (like concepts) for topic policy and system topic.

Context: https://streamnative.slack.com/archives/C01J6DMU24W/p1642674448092300?thread_ts=1642671724.086100&cid=C01J6DMU24W

[2022-01-20 13:12] Anonymitaet opened #13857 "[Website][Doc] show pulsar-admin bookies on pulsar-admin website"
`pulsar-admin bookies` should be shown on the pulsar-admin website (https://pulsar.apache.org/tools/pulsar-admin/2.10.0-SNAPSHOT/）

![image](https://user-images.githubusercontent.com/50226895/150345271-ace88eeb-f332-4109-81f4-c0a42787a99e.png)

[2022-01-20 15:36] tspannhw commented on #9939
This is related to the requirements for the InfluxDB v2 Line Protocol.   It requires a very specific format and fields.   You need to have a few minimum fields.    I have a Java example that works.

https://github.com/tspannhw/influx

[2022-01-20 16:01] youg9203 opened #13858 "Pulsar EC2 instance out of memory"
**Describe the bug**
I have deployed the pulsar on AWS using infrastructure repo, and next, I tried the pulsar command in ec2 instance using ssh and I saw the ec2 instance is out of memory and throws below error:

[code]

- Content of /tmp/hs_err_pid8027.log

[code]

I see the issue is swap memory but after restarting the instance swap is still 0k, and the issue is gone.
This issue I have seen on

[2022-01-20 16:31] eolivelli commented on #13408
@RobertIndie the PIP id is duplicated

this is the official list of PIPs
https://github.com/apache/pulsar/wiki

I can add your PIP to the list and assign you a number

[2022-01-20 16:32] 1559924775 opened #13860 "send with progress"
## Motivation

How to implement exactly once? Pulsar provides an implementation based on sequenceid, which requires users to maintain the mapping relationship between sequenceid and MSG. This requires development costs for users。

## Goal

User data often has some characteristics, such as time, location, etc. we want to provide a way to convert the mapping relationship between maintenance sequence

[2022-01-20 19:09] klevy-toast opened #13863 "Add ability to disable statistics reporting at namespace level"
**Is your enhancement request related to a problem? Please describe.**
In our pulsar cluster, we are running into issues due to the number of metrics being reported. We would like to disable the `exposeTopicLevelMetricsInPrometheus` setting for a subset of our topics that have many subscriptions, but keep it on for other topics where we need those statistics. Currently, this can only be configured

[2022-01-20 21:27] frankjkelly opened #13864 "[Client][Python] Release Manager does not push a release for Mac python clients"
**Describe the bug**
No Mac python clients listed here
https://pypi.org/project/pulsar-client/2.9.1/#humana-user-file-standardization

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
Each Pulsar Client version should be present e.g. 2.8.1, 2.8.2, 2.9.1 etc.

**Desktop (please complete the following information):**
 - OS: Mac OS Catalina

[2022-01-20 22:40] ofek opened #13865 "Many Prometheus metrics don't expose type information and/or descriptions"
**Describe the bug**

[code]

**To Reproduce**

Steps to reproduce the behavior:

[code]

[code]

**Desktop (please complete the following information):**

 - OS: Windows 10

[2022-01-21 00:12] ofek opened #13869 "All Prometheus histogram buckets are malformed"
**Describe the bug**

As documented in the [official spec](https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#histogram-1) and mentioned in [Pulsar's docs](https://pulsar.apache.org/docs/en/next/reference-metrics/), histogram buckets are suffixed by `_bucket` with an upper bound `le` label.

Instead, the label and value is embedded in the metric name as a suffi

[2022-01-21 00:51] wh-19970312 commented on #12098
I had the same problem. Did you solve it?

[2022-01-21 01:33] ofek opened #13870 "Prometheus summaries for ManagedLedger metrics are documented and exposed incorrectly"
**Describe the bug**

Documented as histograms: https://pulsar.apache.org/docs/en/next/reference-metrics/#managedledger-metrics

Exposed as gauges:

[code]

**To Reproduce**

Steps to reproduce the behavior:

[code]

[code]

**Desktop (please complete the following information):**

 - OS: Windows 10

[2022-01-21 02:57] gaozhangmin commented on #13863
Two doubles?
1、Why you need config it at tenant level?
2、why you want remove from broker.conf?

[2022-01-21 06:24] Jason918 commented on #12812
Implemented with #13043

[2022-01-21 06:24] #12812 closed

[2022-01-21 06:40] #13857 closed

[2022-01-21 08:02] gaozhangmin commented on #13865
Please describe your question in detail @ofek

[2022-01-21 08:21] gaozhangmin commented on #13854
Can I try to help with this?

[2022-01-21 08:27] lhotari commented on #13734
@nodece @limbonicat A similar has been reported in another project, https://github.com/line/armeria/issues/2403#issuecomment-575248863 . The resolution there (when using self-signed certificates):

[2022-01-21 08:27] Anonymitaet opened #13881 "[pulsar-admin] topicPolicies and transactions should be shown"
After running `pulsar-admin help` in a terminal window, I find `topicPolicies` and `transactions` are not shown. However, they should be shown.

![image](https://user-images.githubusercontent.com/50226895/150492530-611cbee6-5783-445b-af41-efdd08105ee6.png)

[2022-01-21 08:29] lhotari commented on #13734
Certificates signed with SHA-1 are not trusted in TLSv1.3 at all. It is common that many clients reject certificates signed with SHA-1 also for older TLS protocol versions.

@limbonicat Can you check what certification signing algorithm do you have? Is the certificate valid and trusted by the client?

/cc @nodece @codelipenghui

[2022-01-21 08:54] nodece commented on #13734
@lhotari AKA, this user uses the JDK provider is working, so I made a #13740 to fix this.

[2022-01-21 09:08] gaozhangmin commented on #13881
The corresponding pr is not taken to version 2.9.  You should check in version 2.10.

[2022-01-21 09:19] codelipenghui commented on #13854
@mattisonchao Great job!

[2022-01-21 09:45] eolivelli commented on #13408
I assigned PIP-137.
sorry for the confusion

[2022-01-21 09:46] eolivelli commented on #13408
https://github.com/apache/pulsar/wiki

[2022-01-21 09:46] eolivelli commented on #13490
@mattisonchao yes you could, but most of the code is already in the attached github repo.

[2022-01-21 09:50] RobertIndie commented on #13408
This PIP was proposed before https://github.com/apache/pulsar/issues/13490.
I think we should use pulsar issues to manage the PIP number(or a better way to automate it), not the wiki. Not all contributors can add their own PIP to the wiki.
PIP-124 has been hotly discussed in the mailing list, and changing the number of this PIP will cause a lot of inconveniences.

Can you change your PIP number in

[2022-01-21 09:54] eolivelli commented on #13408
@RobertIndie I am sorry for the confusion, we already discussed about this problem about assigning PIP IDs on dev@pulsar.apache.org and we decided to go with the Wiki.
The only source of truth we can have is the Wiki as it is the central place where we list PIPs, it already happened many times that people just created the issues on github and no one noticed it.

I will change my PIP id, no problem

[2022-01-21 09:57] mattisonchao commented on #13854
Sure ! Which one do you like ?

[2022-01-21 09:59] eolivelli commented on #13490
we talked in the Community meeting about this PIP.

The main concern from @merlimat  is the exposing a "put" operation will give a false illusion that you have something like a Map, but actually every "write" operation will be "slow" because we need to acquire the Producer lock.

@merlimat suggested to split this into two distinct interfaces: a API for readers and one for writers, possibly extendi

[2022-01-21 10:03] gaozhangmin commented on #13854
I did internalGetLastMessageId.  the rest not completed yet, Please assign some to me.

[2022-01-21 10:30] RobertIndie commented on #13408
@eolivelli  Thanks for your suggestion.

But I think I was following the process for PIP proposing: https://github.com/apache/pulsar/blob/master/.github/ISSUE_TEMPLATE/pip.md

    to start the discussion, using subject prefix `[PIP] xxx`. To determine the appropriate PIP
    number `xxx`, inspect the mailing list (https://lists.apache.org/list.html?dev@pulsar.apache.org)
    for the most recent PI

[2022-01-21 10:43] Jason918 commented on #13854
You can continue to do `internalGetLastMessageId`.

[2022-01-21 12:16] frankjkelly commented on #12812
Congrats on this change - do we know what release we will see this in? 2.10?

[2022-01-21 12:23] gaozhangmin commented on #13854
internalGetPartitionedStats done.

[2022-01-21 13:01] hollander-cegeka commented on #7971
This is still an issue:
java.lang.module.ResolutionException: Modules pulsar.client and pulsar.client.admin.api export package org.apache.pulsar.common.naming

[2022-01-21 14:13] BramVanImpeAc commented on #13804
Thanks for looking into this.

After retrying all the steps I've noticed that our producer (streamnative/pulsar-flink) makes the decision that the schema is incompatible before submitting it to the broker.

Sorry for the trouble.

[2022-01-21 14:13] #13804 closed

[2022-01-21 14:41] klevy-toast commented on #13863
@gaozhangmin I do not intend to implement it with those alternatives.. they were simply alternatives to consider. I plan to implement it on the namespace level, without removing it from broker.conf

[2022-01-21 15:46] MichalKoziorowski-TomTom opened #13892 "Error writing broker data on metadata store KeeperErrorCode = BadVersion for /loadbalance/brokers/pulsar-broker-1.pulsar-broker.default.svc.cluster.local:8080"
**Describe the bug**
Pulsar version: 2.8.2 + branch-2.8 up to https://github.com/apache/pulsar/tree/36443112c86afc296780c180154f922d611ebf25

One of zookeepers died and was replaced in kubernetes.
Now we constantly see following error in broker logs:
[code]

[2022-01-21 15:57] ofek commented on #13865
Prometheus metrics should have `TYPE` information so consumers know how to process them https://github.com/OpenObservability/OpenMetrics/blob/main/specification/OpenMetrics.md#metricfamily-metadata

They usually have `HELP` metadata as well:

[code]

[2022-01-21 18:31] zzzming opened #13893 "pulsar_out_bytes_total is not pegged for non-persistent topic"
**Describe the bug**
pulsar_out_bytes_total is not pegged for non-persistent topic

**To Reproduce**
Steps to reproduce the behavior:
1. Send messages to a non-persistent topic
2. Wait for a few minutes
3. pulsar_out_bytes_total is not pegged for the non-persistent topic

**Expected behavior**
There should be the number of bytes for this metrics

This was tested on 2.8.

[2022-01-21 23:59] mattisonchao commented on #13893
#13827  can fix this issue ?

[2022-01-22 01:21] gaozhangmin commented on #13893
I think so.

[2022-01-22 02:48] gengyuanzhe opened #13899 "pulsar rely on LOG4j1.x. Is it affected by vulnerability CVE-2022-23302/23305/23307?"
pulsar rely on LOG4j1.x. Is it affected by vulnerability CVE-2022-23302/23305/23307?

version：v2.7.4, v2.7.1, v2.5.0, 2.4.2

[2022-01-22 08:34] startjava opened #13903 "Does the official guarantee that the contents of Chinese and English help documents are synchronized?"
question title !
thank you !
感谢！

[2022-01-22 09:30] startjava commented on #11413
@BewareMyPower 大佬 ，2.9.1版本启动时还出现这个问题，
2022-01-22T17:29:07,754+0800 [main-EventThread] INFO  org.apache.bookkeeper.zookeeper.ZooKeeperWatcherBase - ZooKeeper client is connected now.
2022-01-22T17:29:07,821+0800 [main] INFO  org.apache.distributedlog.ZooKeeperClient - Close zookeeper client default.
2022-01-22T17:29:07,821+0800 [main] INFO  org.apache.distributedlog.ZooKeeperClient - Closing zookee

[2022-01-22 15:27] #13306 closed

[2022-01-22 18:25] merlimat commented on #11593
This was fixed in #11790

[2022-01-22 18:25] #11593 closed

[2022-01-23 05:41] michaeljmarshall commented on #13795
@mattisonchao - this problem as well as our current solution was discussed here: https://lists.apache.org/thread/vw25onjyo18trfysd7x9k9wrs2tyqfok. The process is documented in the PIP issue template. If you'd like to discuss changing it, please send a note to `dev@pulsar.apache.org`.

[2022-01-23 09:34] Markfesenk0 opened #13906 "NoClassDefFoundError when trying to run 'mvn package' on source code"
**Describe the bug**

[code]

**To Reproduce**
Try to build jar from source code using 'mvn package'. Fails during tests stage. Source code of pulsar 2.8.2

**Desktop (please complete the following information):**
 - OS: Windows

**Additional context**
I'm new to Maven so perhaps I'm missing something

[2022-01-23 11:47] shibd opened #13907 "Flaky-test: org.apache.pulsar.metadata.impl.LocalMemoryMetadataStoreTest.testSharedInstance"
If you run this test in idea, It will be repeated.

<details>
<summary>expected [false] but found [true]</summary>
<code><pre>
2022-01-23T19:43:53,935+0800 INFO  [main] o.a.p.m.i.LocalMemoryMetadataStore@88 - Created LocalMemoryDataStore for '95df94f4-ae5e-4472-9fa2-3868ccb76f96' {}
2022-01-23T19:43:53,938+0800 INFO  [main] o.a.p.m.i.LocalMemoryMetadataStore@88 - Created LocalMemoryDataStore for '

[2022-01-23 12:36] shibd opened #13910 "Flaky-test: org.apache.pulsar.metadata.LockManagerTest.revalidateLockOnDifferentSession[Etcd]"
[example failure](https://github.com/apache/pulsar/runs/4912476314?check_suite_focus=true#step:8:12257)

[code]

[2022-01-23 23:01] mattisonchao commented on #13906
## Build Pulsar

Requirements:
 * Java [JDK 11](https://adoptopenjdk.net/?variant=openjdk11) or [JDK 8](https://adoptopenjdk.net/?variant=openjdk8)
 * Maven 3.6.1+
 * zip

Compile and install:

[code]

Compile and install individual module
[code]

[2022-01-24 05:52] momo-jun opened #13916 "[Javadoc] Released versions since v2.5.0 are absent"
The content for latest versions of auto-generated javadoc (https://pulsar.apache.org/api/client/) is only preview version.

![image](https://user-images.githubusercontent.com/60642177/150728758-73eb6be7-bdf1-42ee-8bca-a880e8d63183.png)

May need to look into the generation process.

[2022-01-24 06:38] limbonicat commented on #13734
@lhotari thanks for reply
1. I think my issue is not quite same as "line/armeria#2403"(his problem is more complicated),  the exception  **OPENSSL_internal:SSLV3_ALERT_CERTIFICATE_UNKNOWN** whick means client certs auth failure or something related to  TLSv1.3 (not been supported ),   and this problem is not my conern;
   On the other hand ,my problem is "**OPENSSL_internal:NO_SHARED_CIPHER**"  wh

[2022-01-24 07:22] nlandeker commented on #12623
Hi, any updates on this? :)

Thanks a lot.

[2022-01-24 07:34] congbobo184 opened #13918 "[Transaction] Define how the transaction client API is used"
Authors: @congbobo184 @codelipenghui
# Background
Now more and more people and companies are testing and using transactions. However, the definition of transaction API is not clear. Users don't know how to try to catch Exceptions and what time do the transactions can commit or abort.
# Motivation
Let's take a look at the transaction current use of API.
[code]
This is transaction commit internal co

[2022-01-24 10:01] DragonDriver opened #13920 "[Bug] Failed to create new subscription, got error "server error: ConsumerBusy: Exclusive consumer is already connected""
**Describe the bug**
Failed to create new subscription, got error "server error: ConsumerBusy: Exclusive consumer is already connected".

**To Reproduce**
Steps to reproduce the behavior:
- Create an exclusive topic;
- Create an subscription to this topic;
- Unsubscribe the topic after some time, but got error "connection closed";
- Then use new subscription to subscribe this topic, every try got

[2022-01-24 10:08] DragonDriver commented on #13920
Hello, thanks all your contributions for this awesome project and I'll appreciate your quick reply.

[2022-01-24 11:11] lhotari commented on #10433
This problem might be fixed by #13328 . Netty Recycler was rewritten in 4.1.71.Final with PR https://github.com/netty/netty/pull/11858 . Pulsar uses Netty Recycler extensively and the improvements to Netty Recycler might fix various thread-safety problems.

[2022-01-24 11:12] lhotari commented on #11521
This problem might be fixed by #13328 . Netty Recycler was rewritten in 4.1.71.Final with PR https://github.com/netty/netty/pull/11858 . Pulsar uses Netty Recycler extensively and the improvements to Netty Recycler might fix various thread-safety problems.

[2022-01-24 15:16] RobertIndie commented on #13920
Hi, @DragonDriver Could you get the stats of that topic after failure? Here is the doc for `topic stats`: https://pulsar.apache.org/docs/en/admin-api-topics/#get-stats

It would be nice if you could provide the broker.log or more related Information.

[2022-01-24 15:34] #13907 closed

[2022-01-24 15:47] zhaoyajun2009 opened #13922 "[Doc] This part of the document needs to be optimized when installing manager"
### What issue do you find in Pulsar docs?

The following URLs show content that needs to be optimized：
https://pulsar.apache.org/docs/zh-CN/administration-pulsar-manager/#set-administrator-account-and-password

1）Method 1: Use the command line tool
The URL is error： https://dist.apache.org/repos/dist/release/pulsar/pulsar-manager/apache-pulsar-manager-0.2.0/apache-pulsar-manager-0.2.0-bin.tar.gz

[2022-01-24 15:54] marksilcox commented on #10419
I am seeing this same issue on version 2.9.1 of the local runner, but works on 2.6.4

[2022-01-24 17:10] lhotari opened #13923 "[Proxy] Race condition in Pulsar Proxy that causes UnsupportedOperationExceptions in Proxy logs"
**Describe the bug**

It is common that UnsupportedOperationExceptions appear on the Proxy logs. This particular issue was reproduced very often when Geo-replication was configured between 2 clusters.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Setup 2 Pulsar clusters and enable geo-replication in a namespace that is shared across the clusters.
2. Create a topic with 200 partition

[2022-01-24 17:10] lhotari commented on #13923
I'm working on a fix for this issue.

[2022-01-24 17:24] ofek opened #13924 "No way to disambiguate between namespace and topic Prometheus metrics"
**Describe the bug**

- https://pulsar.apache.org/docs/en/next/reference-metrics/#namespace-metrics
- https://pulsar.apache.org/docs/en/next/reference-metrics/#topic-metrics

The following metrics are duplicated:

[code]

**Expected behavior**

There should be no duplicate metrics

**To Reproduce**

Steps to reproduce the behavior:

[code]

[code]

**Desktop (please complete the following informat

[2022-01-24 19:24] yuikns opened #13925 "[Help Wanted] Can not estimate *lag* correctly using Admin REST API"
We use <https://pulsar.apache.org/admin/v2/broker-stats/topics> to monitor the unfinished messages in the system.

We read each topic stats as following:

[code]

We may use `my-topic-name->subscriptions->my-consumer-name` to get the lag of this consumer, and use `my-topic-name->msgInCount` to get the total message count.

It worked like a charm at first.

However, after a few days later, some of

[2022-01-24 19:46] yuikns commented on #13925
Besides, I could find a case, `msgInCount` = 6001 and `msgBacklog` is 6004.

I know it is only to be an estimated value. However, I do hope this value may finally become to be correct  after all messages got consumed.

[2022-01-24 22:43] dinghram opened #13927 "Ambiguous call to subscribe in ConsumerTest.cc in 2.8.2 pulsar-client-cpp"
**Describe the bug**
When compiling pulsar-client-cpp in pulsar 2.8.2, there is an ambiguous call to subscribe in ConsumerTest.cc.

**To Reproduce**
Steps to reproduce the behavior:
1. Compile pulsar-client-cpp

**Expected behavior**
CPP client compiles

**Desktop (please complete the following information):**
 - CentOS 7

**Additional context**
-- The C compiler identification is GNU 4.8.5
-- The

[2022-01-25 01:10] #13305 closed

[2022-01-25 02:21] liudezhi2098 commented on #13854
internalTerminatePartitionedTopic done

[2022-01-25 02:46] codelipenghui opened #13929 "[Golang Client] New consumer type: TableView"
**Is your feature request related to a problem? Please describe.**
This is a feature catchup of [Golang client](https://github.com/apache/pulsar-client-go) for a new consumer type: TableView which was introduced in Pulsar 2.10.0

The proposal: https://github.com/apache/pulsar/issues/12356
The Java implementation: https://github.com/apache/pulsar/pull/12838

[2022-01-25 02:47] codelipenghui opened #13930 "[C++ Client] New consumer type: TableView"
**Is your feature request related to a problem? Please describe.**
This is a feature catchup of CPP client for a new consumer type: TableView which was introduced in Pulsar 2.10.0

The proposal: https://github.com/apache/pulsar/issues/12356
The Java implementation: https://github.com/apache/pulsar/pull/12838

[2022-01-25 02:48] codelipenghui opened #13931 "[Python Client] New consumer type: TableView"
**Is your feature request related to a problem? Please describe.**
This is a feature catchup of Python client for a new consumer type: TableView which was introduced in Pulsar 2.10.0

The proposal: https://github.com/apache/pulsar/issues/12356
The Java implementation: https://github.com/apache/pulsar/pull/12838

[2022-01-25 02:50] codelipenghui opened #13932 "[NodeJS Client] New consumer type: TableView"
**Is your feature request related to a problem? Please describe.**
This is a feature catchup of [NodeJS Client](https://github.com/apache/pulsar-client-node) for a new consumer type: TableView which was introduced in Pulsar 2.10.0

The proposal: https://github.com/apache/pulsar/issues/12356
The Java implementation: https://github.com/apache/pulsar/pull/12838

[2022-01-25 03:21] codelipenghui opened #13933 "[DotPulsar] new consumer type: TableView"
**Is your feature request related to a problem? Please describe.**
This is a feature catchup of [DotPulsar](https://github.com/apache/pulsar-dotpulsar) for a new consumer type: TableView which was introduced in Pulsar 2.10.0

The proposal: https://github.com/apache/pulsar/issues/12356
The Java implementation: https://github.com/apache/pulsar/pull/12838

[2022-01-25 03:37] #12629 closed

[2022-01-25 07:37] zhaoyajun2009 opened #13936 "[Doc] Considerations when deploying Bookkeeper"
### What issue do you find in Pulsar docs?

position：
https://github.com/apache/pulsar/blob/master/site2/docs/administration-zk-bk.md
chapter：Configure BookKeeper

1）journalDirectory and ledgerDirectories：The configuration needs to be considered clearly, and it is very troublesome to change later。
2）advertisedAddress: This parameter must be set, otherwise，the Bookkeeper can't start normally in Hua

[2022-01-25 08:02] Anonymitaet commented on #13916
Hi @tuteng
`SNAPSHOT` makes users confused. They may think `SNAPSHOTs`are temporary workarounds rather than official releases.
So can we remove `SNAPSHOT` for past (2.5.0 ~ 2.10.0) and future versions？Thanks

[2022-01-25 10:15] lhotari commented on #13923
One explanation why the current solution doesn't work as expected can be found in the javadoc of https://netty.io/4.1/api/io/netty/handler/flow/FlowControlHandler.html . The Pulsar Proxy doesn't currently use FlowControlHandler and therefore multiple messages can be in the pipeline although the implementation calls read one-by-one.

[2022-01-25 15:08] Paninka opened #13942 "JDBC Postgresql Error: transaction is aborted"
**Describe the bug**
I'm using the JDBC driver to sink Postgresql, and when it gets an error from postgres, i'm not able to ingest more data because I get this Error: `current transaction is aborted, commands ignored until end of transaction block`

**To Reproduce**
Steps to reproduce the behavior:
1. Set JDBC Postgresql sink. I did this quickstart
https://pulsar.apache.org/docs/en/io-quickstart/#

[2022-01-25 16:09] congbobo184 opened #13944 "Should prevent user redeliverUnKnowMessage from singleConsumer in multiConsumer"
link https://github.com/apache/pulsar/pull/10478#discussion_r787441104

[2022-01-25 16:42] congbobo184 opened #13945 "Consumer reconnect may lose message when cumulative ack."
link https://github.com/apache/pulsar/pull/10478.

[2022-01-25 19:26] ronfarkash opened #13946 "Endless Topic HTTP Request Redirects"
**Describe the bug**
Admin REST HTTP Request on topic may redirect multiple times to different broker endlessly.

This bug occurs randomly and at inconsistent times.

(The HTTP request must be related to topic ownership, e.g. get topic subscription, stats, etc...)

**To Reproduce**
Steps to reproduce the behavior:
1. Setup a Pulsar Cluster with 3 BookKeepers, 3 Global ZooKeepers, 3 ZooKeepers and

[2022-01-25 22:10] michaeljmarshall opened #13952 "Flaky-test: BacklogQuotaManagerTest.testConsumerBacklogEvictionTimeQuota"
BacklogQuotaManagerTest is flaky. The `testConsumerBacklogEvictionTimeQuota` test method fails sporadically.

example failure: https://github.com/apache/pulsar/runs/4942921605?check_suite_focus=true from https://github.com/apache/pulsar/pull/13950

[code]

[2022-01-25 22:13] michaeljmarshall opened #13953 "Flaky-test: PulsarDebeziumOracleSourceTest.testDebeziumOracleDbSource"
PulsarDebeziumOracleSourceTest is flaky. The testDebeziumOracleDbSource test method fails sporadically with a timeout.

Failed here: https://github.com/apache/pulsar/runs/4942922232?check_suite_focus=true for https://github.com/apache/pulsar/pull/13950

[code]

[2022-01-25 23:22] michaeljmarshall opened #13954 "Flaky-test: PulsarSinkE2ETest.shutdown(org.apache.pulsar.io.PulsarSinkE2ETest)"
PulsarSinkE2ETest is flaky. The shutdown(org.apache.pulsar.io.PulsarSinkE2ETest) test method fails sporadically.

https://github.com/apache/pulsar/runs/4942620767?check_suite_focus=true

[code]

[2022-01-25 23:26] michaeljmarshall commented on #13808
I saw a similar issue here: https://github.com/apache/pulsar/runs/4942389418?check_suite_focus=true.

[code]

[2022-01-26 01:32] mattisonchao commented on #13946
I think i can help with it.

[2022-01-26 03:37] codelipenghui opened #13955 "[CPP test] Flaky-test: [KeySharedConsumerTest].[testMultiTopics]"
https://github.com/apache/pulsar/runs/4944727743?check_suite_focus=true

[2022-01-26 03:45] BewareMyPower commented on #13955
[code]

[2022-01-26 08:40] liudezhi2098 commented on #13854
@mattisonchao   need fix
internalSetReplicationClusters
internalSetBacklogQuota
internalRemoveReplicationClusters
preValidation

[2022-01-26 09:02] liudezhi2098 commented on #13854
And NamespacesBase  also has async method call sync method.

[2022-01-26 10:07] BewareMyPower commented on #13955
It looks like the test was affected by the default value of `subscriptionKeySharedUseConsistentHashing`. I can reproduce it in my local env.

However, I change the config to

[code]

The test never failed again.

[2022-01-26 10:31] mattisonchao commented on #13854
Yes, I will track it at another issue.

[2022-01-26 10:32] mattisonchao commented on #13854
Good catch!
Would you like to fix it ?

[2022-01-26 10:40] liudezhi2098 commented on #13854
internalSetReplicationClusters、internalRemoveReplicationClusters

[2022-01-26 10:59] Technoboy- commented on #13854
preValidation

[2022-01-26 11:28] lhotari opened #13964 "Flaky-tests: PulsarClientImpl.close hangs forever."
PulsarClientImpl.close sometimes hangs forever. Example from ClientDeduplicationFailureTest.shutdown .

[example failure](https://github.com/apache/pulsar/runs/4947236380?check_suite_focus=true#step:10:50)

[code]

[pulsar-client-shutdown-threadawaiting notification](https://jstack.review/?https://gist.githubusercontent.com/lhotari/14b5ec998de6933b3b7733fba6acbd90/raw/a3f8270f8a7f1d44c66425ab14b68

[2022-01-26 11:50] lhotari opened #13965 "Flakiness issues with subscriptionKeySharedUseConsistentHashing=true / PIP-119 in CPP tests"
**Describe the bug**

Quoting @BewareMyPower from #13963

I also made similar observations based on [C++ test logs](https://github.com/apache/pulsar/actions/workflows/ci-cpp.yaml):

[Example of failures](https://github.com/apache/pulsar/runs/4950442211?check_suite_focus=true#step:11:511):
[code]
full logs in https://github.com/apache/pulsar/suites/5064608592/artifacts/150614790

[code]

**To Repro

[2022-01-26 11:51] lhotari commented on #13955
I filed an issue #13965 . this looks like a real bug and not just a flaky test. @BewareMyPower is this correct?

[2022-01-26 11:55] startjava opened #13966 "run ./pulsar initialize-cluster-metadata show info : Invalid config event received"
[code]

https://blog.csdn.net/haohaoxuexiyai/article/details/120818539

please update curator 5.2 !

[2022-01-26 11:59] BewareMyPower commented on #13965
Yeah, here is a screenshot of my Java consumer application.

![image](https://user-images.githubusercontent.com/18204803/151159254-d4fa05fc-e8b5-46da-9185-9d136c0b659b.png)

The code is

[code]

But I cannot reproduce it with Java UT easily at the moment.

[2022-01-26 12:00] MMirelli opened #13967 "[Functions] ZK metadata badly initialised after PR13296"
**Describe the bug**

When running distributed system tests using Data Generator Pulsar IO sources, this error message is produced by the function workers:

[code]

It seems that the metadata is not properly set as the ZK node `/available` is not initialised. After some debugging on a healthy cluster, my understanding is that the path there should be `/ledgers/available` and that's the reason why

[2022-01-26 12:06] eolivelli commented on #13967
@merlimat did you see this problem ?

[2022-01-26 12:13] RobertIndie commented on #13854
I want to fix `internalSetBacklogQuota `.

[2022-01-26 12:17] startjava opened #13968 "2.9.1 version error:Trying to listen on loopback address, 127.0.0.1:3181 but this is forbidden by default"
[ghy@localhost bin]$ ./pulsar bookie
[code]

[2022-01-26 12:33] #13968 closed

[2022-01-26 12:42] nicoloboschi commented on #13967
There's a draft fix here https://github.com/apache/pulsar/pull/13891

From what I've seen, the DLOG config in ZK is stored twice in two different z-node path, with different `ledgersRootPath` value. `PulsarClusterMetadataSetup` is the first one to put the configuration on ZK and, adding debug, I've seen that it does not pass `/ledgers` as ledgersRootPath value but instead "empty string". (that's w

[2022-01-26 13:05] BewareMyPower commented on #13965
It's weird that it's hard to reproduce it in a unit test but easy to reproduce with a standalone.

Here is my project to reproduce it: https://github.com/BewareMyPower/pulsar-issue-13965-reproduce

/cc @codelipenghui

[2022-01-26 13:06] lhotari commented on #11070
@andrekramer1 do you have a chance to validate whether https://github.com/apache/pulsar-helm-chart/pull/214 changes would resolve the issue?

[2022-01-26 14:42] #13955 closed

[2022-01-26 15:16] lhotari commented on #13965
Great work on the repro case @BewareMyPower !

[2022-01-26 15:21] lhotari commented on #13965
the problem can be reproduced with Pulsar 2.8.2 and Pulsar 2.7.4 too.

A quick way to start Pulsar 2.8.2 standalone with `subscriptionKeySharedUseConsistentHashing=true` is with this docker command:
[code]

[2022-01-26 15:22] lhotari commented on #13965
The result in the repro seems to be the same with `subscriptionKeySharedUseConsistentHashing=false`.

[2022-01-26 15:28] lhotari commented on #13965
Also tried by starting the container without `--rm` and stopping it
[code]
then running
[code]

The problem reproduces after restart too.

[2022-01-26 15:48] BewareMyPower commented on #13965
Yeah. It's weird that I also tried C++ client to consume the topic produce by Java client with `subscriptionKeySharedUseConsistentHashing=false`, the message loss still happened.

[code]

The code above is nearly the same as `Consume.java` in my repo.

But when I run C++ UT, it never failed now when `subscriptionKeySharedUseConsistentHashing=false`

[code]

Here are 5 test results in a row:

[code

[2022-01-26 16:58] andrekramer1 commented on #11070
@lhotari sounds reasonable that it would help. Still running 1.16 for dev locally and the issue is being fixed in Zookeeper under: https://github.com/apache/zookeeper/pull/1800

[2022-01-26 18:00] merlimat commented on #13965
The messages should not get acknowledged (and thus lost), right?

[2022-01-26 22:00] frankjkelly opened #13971 "[Broker] Add a prometheus metric to indicate if a Bookie has been Quarantined"
**Is your feature request related to a problem? Please describe.**
Recently two of our 9 bookies were quarantined and we did not know until we saw logs in the Broker.

[code]
When these bookies are quarantined the overall throughput scalability of our system is reduced.
We would like some scheme to monitor and alert if a bookie is quarantined.

**Describe the solution you'd like**
We'd like to see

[2022-01-26 23:31] merlimat commented on #13965
I just checked, adding consumer acks, and the messages are there in the backlog, so this shouldn't be characterized
as "message loss".

[2022-01-26 23:37] mattisonchao commented on #13971
I think i can help on it ~

[2022-01-26 23:38] merlimat commented on #13965
I think there is a problem with the repro code above and with the original C++ test and the production code is actually correct here.

The repro code is doing:
 * Create 3 producers and publish on 3 different topics
 * Create 3 consumers on the 3 topics with key-shared, starting from "earliest"
 * The problem is that consumers are created after the messages are published, therefore the pre-fetchin

[2022-01-26 23:49] merlimat commented on #13965
A couple of ways to fix the test:
 1. Create the consumers before the messages are published
 2. Use 1 thread per consumer to call receive() (and don't forget to ack) or use message listener

[2022-01-27 01:22] BewareMyPower commented on #13965
Yes, I applied https://github.com/BewareMyPower/pulsar-issue-13965-reproduce/commit/8e85c7780f4837380fdab5be48ec82d4190c438d and the test works now.

But I'm still confused that what makes the difference that the C++ test `KeySharedConsumerTest.testMultiTopics` is easily to fail with `subscriptionKeySharedUseConsistentHashing=true` but always succeed with `subscriptionKeySharedUseConsistentHashing

[2022-01-27 03:11] Nicklee007 opened #13973 "old bundle not release from bundleData in loadData and bundlesCache after be split"
**Describe the bug**
old bundle not release from bundleData in loadData and bundlesCache after the bundle be split.
pulsar version: 2.9.1

**To Reproduce**
Steps to reproduce the behavior:
1. create a namespace and get the namespace bundle owned by a broker;
2. split the bundle, waiting the broker execute updateBundleData() and the leader broker execute writeBundleDataOnZooKeeper()
3.monitor any b

[2022-01-27 04:03] hangc0276 commented on #13971
Hi @frankjkelly , we have already added the bookie quarantined metrics, but it doesn't expose by default, because it is a bookie client metric.
The metric name is `pulsar_managedLedger_client_bookkeeper_client_BOOKIE_QUARANTINE` and the type is `Counter`
You can use the following PromQL to get metrics:
[code]

If you want to expose this metric, you should turn on it in `broker.conf`
[code]

[2022-01-27 08:25] #13794 closed

[2022-01-27 08:26] mattisonchao opened #13979 "[PIP-138] Use ``NarClassLoaderManager`` to manage all NarClassLoader."
## Motivation

According to [PIP-41 Pluggable Protocol Handler](https://github.com/apache/pulsar/wiki/PIP-41%3A-Pluggable-Protocol-Handler), we can use a pluggable protocol handler to process more than one protocol.
And then #11498 support we can use additional servelet to expose some REST API to help use expose metrics, monitors, etc.
Some pluggable components like ``ProtocolHanlder``, ``Intercep

[2022-01-27 08:41] BewareMyPower commented on #13965
I've tried both solutions above in C++ client and it works well. But I'm confused about why it works, could you explain a little more? @merlimat

[2022-01-27 09:19] Shoothzj opened #13980 "[workflow] Workflow can't retry separately"
In #13675 ,  refactoring this file having a single yaml file for 'broker group' and using a matrix for the group variable.
Now it cause, `pulsar bot` retry rerun three job instead of one.

Rerun single job of matrix is on github/roadmap#271. Should we wait this feature or split the yaml to three for now?

@hangc0276  @nicoloboschi @lhotari

[2022-01-27 09:33] walkhan opened #13982 "java.lang.RuntimeException: java.io.IOException: Failed to bind to /0.0.0.0:8000"
![a02ffd172af554ac4fcd4c5170c61c4](https://user-images.githubusercontent.com/16821730/151331558-ad5c8a4b-582b-4fd3-8b6a-e2d3016ae51c.png)

[2022-01-27 10:52] lhotari commented on #10750
Perhaps this is related to #13965 ?

[2022-01-27 11:36] eolivelli commented on #13979
It is not safe because you are not sure that the contents of the NAR package are designed to work well this way. In fact you are going to share "static" variables.

There is not concept of "application" or "bundle" in Pulsar, like the concept of "Enterprise Application" or "Web Application" in a JakartaEE containers.
If you want to go this way we have to formally "link" the two components using so

[2022-01-27 11:55] liangyepianzhou opened #13986 "[Transactiion] Performance bottleneck of TransactionBufferHandler"
**Is your enhancement request related to a problem? Please describe.**
The synchronization lock added due to timeout will cause the performance bottleneck of TransactionBufferHandler

**Describe the solution you'd like**
1. Do not use the run method for timeout processing
2. Do not use sync locks

[2022-01-27 11:56] liangyepianzhou commented on #13986
@liangyepianzhou

[2022-01-27 12:17] yuruguo commented on #13431
@codelipenghui @hangc0276 Can you help look this question? I'm not sure whether my solution is correct

[2022-01-27 12:31] #13472 closed

[2022-01-27 12:58] BewareMyPower commented on #13965
I found another problem with `subscriptionKeySharedUseConsistentHashing=true`. I changed the C++ tests that each consumer calls `receive` in a separated thread. After that, `testMultiTopics` never failed even with `subscriptionKeySharedUseConsistentHashing=true`.

However, the `testKeyBasedBatching` failed sometimes. In this test, a producer is created to send messages with interleaved keys and ke

[2022-01-27 13:14] hangc0276 commented on #13431
@yuruguo Partitioned and non-partitioned topic has the same problem. We can provide the `deleteSchema` method to support the schema deletion no matter the topic load or not.
[code]

[2022-01-27 14:49] mattisonchao opened #13989 "[PIP-139] Support Broker send command to close producer/consumer."
Relation pull request:  #13337
Authors: @Technoboy-  @mattisonchao

## Motivation

- When there are no user-created topics under a namespace, Namespace should be deleted. But currently, the system topic existed and the reader/producer could auto-create the system which may cause the namespace deletion to fail.
- When enabling geo-replication under a namespace, inactive topics could not be deleted

[2022-01-27 14:54] mattisonchao commented on #13989
@Technoboy-  PTAL

[2022-01-27 15:06] mattisonchao opened #13990 "[PIP-140] Normalize system topic naming rule."
Original PIP: https://github.com/apache/pulsar/issues/13794

## Motivation

The original PIP above was my previous thought. After discussion with @michaeljmarshall. the detail here :

needs more definition, structure, and documentation. Thanks for
starting the thread, Bo Cong.

If the user uses it, it means that the user has considered the result of the clear system sub backlog

I think we need to

[2022-01-27 15:06] #13990 closed

[2022-01-27 15:33] kezhenxu94 commented on #12944
I can draft a PR of what I've done tomorrow (in my time zone) so that you can try it out. Stay tune please.

[2022-01-27 16:30] merlimat commented on #10750
@sourcelliu @lhotari

No, it's not related to that (and #13965 is just a test issue, not a code issue).

The consumer name is expected to be unique (eg: if you don't pass one, it will be auto-generated).

Having said that, the check here is wrong, as we should compare the consumer instance and not just the name.

[2022-01-27 16:56] frankjkelly commented on #13971
@hangc0276 Sounds good - will try that out.
Sounds like this can be closed then?

[2022-01-27 18:34] merlimat commented on #13965
@BewareMyPower

While it was clear for the repro code that you share, I couldn't find the problem in the C++ test (since it was acking the messages).

The random behavior is due to the auto-generated consumer names. The selection of consumers is done like:
 * Take the consumer name and place 100 points in the hash ring
 * The points are selected like hash(consumerName + "0"), hash(consumerName + "

[2022-01-27 19:03] congbobo184 commented on #13116
#13209 fix it, so close this issue

[2022-01-27 19:03] #13116 closed

[2022-01-27 19:05] congbobo184 commented on #12494
#12700 #12705 #12636 fixed it, so close this issue

[2022-01-27 19:05] #12494 closed

[2022-01-27 19:54] dave2wave opened #13992 "[Doc] Two environment variables about LOG_LEVEL are not documented"
### What issue do you find in Pulsar docs?

reference-cli-tools.md does not include descriptions of `PULSAR_LOG_LEVEL` and `PULSAR_LOG_ROOT_LEVEL` which in the cli tools default to `info` and override any setting in `PULSAR_LOG_CONF`

### What is your suggestion?

include these descriptions in the environment variable section.

### Do you have any references?

Review
[code]

### Would you like to

[2022-01-27 20:10] #13986 closed

[2022-01-28 01:31] #13340 closed

[2022-01-28 01:34] #13792 closed

[2022-01-28 01:54] #10750 closed

[2022-01-28 02:46] hangc0276 commented on #13971
It will expose the bookie client metrics, those metrics list blow.
[code]

[2022-01-28 03:23] gaozhangmin opened #13996 "Flaky-test: BrokerServiceLookupTest#testPartitionTopicLookup"
https://github.com/apache/pulsar/runs/4975389461?check_suite_focus=true
[code]

[2022-01-28 04:14] zhaoyajun2009 opened #13998 "[Doc] When installing the Pulsar Node.js client, the operation steps need to be optimized"
### What issue do you find in Pulsar docs?

https://github.com/apache/pulsar-client-node/issues/188

### What is your suggestion?

fix the doc

### Do you have any references?

https://github.com/apache/pulsar-client-node/issues/188

### Would you like to fix this issue?

yes

### Note

- [X] I have researched my question.

[2022-01-28 04:27] zhaoyajun2009 commented on #13998
fix it as follow:
https://github.com/apache/pulsar/pull/13999

[2022-01-28 06:17] michaeljmarshall opened #14001 "Flaky-test: PartitionedProducerImplTest.testCustomMessageRouterInstance"
PartitionedProducerImplTest is flaky. The [testCustomMessageRouterInstance] test method fails sporadically.

https://github.com/apache/pulsar/runs/4973925656?check_suite_focus=true

[code]

[2022-01-28 06:18] michaeljmarshall commented on #14001
Oops, this wasn't a flaky test, it was a legitimate test failure!

[2022-01-28 06:18] #14001 closed

[2022-01-28 06:28] gaozhangmin opened #14002 "Flaky-test: PulsarLedgerIdGeneratorTest#testGenerateLedgerId"
https://github.com/apache/pulsar/runs/4961312358?check_suite_focus=true

[code]

[2022-01-28 08:29] mingyifei opened #14003 "[pulsar-client] ConsumerImpl#negativeAcknowledge Support for re-consumption of a certain item in a batch, rather than a batch of re-delivery."
When batch sending is enabled, after the consumer calls negativeAcknowledge(), it should re-deliver one instead of the entire batch.

[2022-01-28 09:17] lhotari commented on #13620
reopening based on feedback from @gaozhangmin. It looks like PowerMock could be the culprit. @nicoloboschi WDYT?
[code]

[2022-01-28 09:21] kezhenxu94 commented on #12944
Hi, I've just drafted a PR https://github.com/apache/pulsar/pull/14005

[2022-01-28 09:33] lhotari commented on #13620
@gaozhangmin I created a workaround for the NPE in #14006 .

@nicoloboschi has a plan to send a PR for replacing PowerMock usage with Mockito's built-in support for mocking static methods. It's possible that PowerMock is one source of problems.

[2022-01-28 13:20] Technoboy- commented on #13982
How to reproduce this ?

[2022-01-28 13:55] bpereto commented on #5510
we experience this also in version 2.8.1 - on high load.
bundle splitting seems not to be useful at this stage, because we have 1 topic (2 partitions).

setup:
* 1 proxy
* 2 brokers
* 3 bookies
* 3 zookeepers

**proxy**
[code]

**broker**
scraped logs:
[code]

with the workaround to disable bundle splitting `loadBalancerAutoBundleSplitEnabled=false` it seems stable.

[2022-01-28 13:57] lhotari commented on #5510
@bpereto Thanks for reporting and sharing the relevant logs.

[2022-01-28 14:02] Technoboy- opened #14013 "Make PersistentTopicsBase some methods async"
## Motivation
PersistentTopicsBase has some sync methods. Decide to make them async.
Volunteers wanted for this.

## Methods
- [x] createNonPartitionedTopic @Technoboy- #14030
- [x] updatePartitionedTopic @Technoboy-  #14141
- [x] getPartitionedMetadata @Technoboy- #14153
- [x] getPartitionedTopicList @mattisonchao #14059
- [x] getStats @mattisonchao #14048
- [x] getInternalStats @mattisonchao #14

[2022-01-28 14:07] Technoboy- commented on #13989
Good

[2022-01-28 14:19] frankjkelly commented on #5510
@lhotari @sijie any thoughts on how this might be mitigated e.g. smaller namespace bundles or load balancing on different conditions?

This has some interesting ideas https://github.com/apache/pulsar/issues/13340 which I'm not 100% apply but might be useful?

[2022-01-28 14:51] rustyx opened #14015 "Excessive CPU use in idle mode"
The Pulsar 2.9.1 Docker container is using ~10..20% CPU in idle mode.

![Pulsar Excessive CPU use in idle](https://user-images.githubusercontent.com/1296899/151562074-b2edb879-d6b5-4d05-b4b1-4d7854d11b82.png)

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. `docker run -d -p 6650:6650 -p 8080:8080 apachepulsar/pulsar:2.9.1 bin/pulsar standalone`
2. Add a postgres source: `pulsar-admin

[2022-01-28 15:05] lhotari commented on #14015
Possibly related: #12045, #4722, #9958

[2022-01-28 15:05] lhotari commented on #14015
@rustyx Do you experience the same behavior with Pulsar 2.8.2 and Pulsar 2.7.4 ?

[2022-01-28 15:07] lhotari commented on #14003
#6869 is related

[2022-01-28 15:08] lhotari commented on #14003
comment from @codelipenghui here https://github.com/apache/pulsar/issues/6869#issuecomment-637341326

[2022-01-28 16:00] michaeljmarshall opened #14016 "Flaky-test: LockManagerTest.updateValueWhenVersionIsOutOfSync"
LockManagerTest is flaky. The updateValueWhenVersionIsOutOfSync test method fails sporadically.

https://github.com/apache/pulsar/runs/4977106658

[code]

[2022-01-28 16:01] michaeljmarshall commented on #14016
When I run `mvn -pl :pulsar-metadata clean test -Dtest="LockManagerTest"` locally (after having already run `mvn -Pcore-modules,-main -T 1C clean install -DskipTests -Dspotbugs.skip=true` for the current code), I am seeing other test failures as well. When I ran `mvn -pl :pulsar-metadata clean test -Dtest="LockManagerTest#updateValueWhenVersionIsOutOfSync"`, the test passed.

[2022-01-28 17:32] michaeljmarshall commented on #13808
@HQebupt - it looks like we might have a solution in #14006, just so you know.

[2022-01-28 18:27] nicoloboschi commented on #14015
Maybe this can help https://github.com/apache/pulsar/pull/13981
From your dump it does not look the same fixed [here](https://github.com/netty/netty/pull/11943), but it's worth to try

Are you able to run the test from current master ? Otherwise I can push a docker image later

[2022-01-28 19:05] frankjkelly commented on #13971
Thanks @hangc0276 so it looks like `pulsar_managedLedger_client_bookkeeper_client_BOOKIE_QUARANTINE` metric only shows up I guess when a bookie is quarantined?

[2022-01-28 19:41] dave2wave commented on #5869
It seems strange to me that this has stalled.

[2022-01-28 20:01] #13808 closed

[2022-01-28 21:08] nicoloboschi commented on #14015
I tried it locally, same behaviour with current master

[2022-01-28 22:00] #5869 closed

[2022-01-29 00:38] liudezhi2098 commented on #14013
getPermissionsOnTopic
 grantPermissionsOnTopic
 revokePermissionsOnTopic
 skipMessages
 peekNthMessage

[2022-01-29 02:10] shibd commented on #13989
@mattisonchao Good PIP,I think it's very useful

[2022-01-29 02:43] HQebupt commented on #14013
I  can fix some @Technoboy-

[2022-01-29 02:48] codertmy opened #14023 "Prometheus summaries for rate_in or rate_out are incorrect when using short connections for production or consumption"
**Describe the bug**
Prometheus summaries for rate_in or rate_out are incorrect when using short connections for production or consumption.

**To Reproduce**
Steps to reproduce the behavior:
1、Producing message as follow:
while (true) {
   Producer<String> stringProducer = client.newProducer(Schema.STRING)
        .topic("my-topic")
        .create();
   stringProducer.send("My message");
   strin

[2022-01-29 02:56] Technoboy- commented on #14013
Thanks for your help. assigned.

[2022-01-29 04:18] shibd commented on #14013
Hi, I can fix some @Technoboy-

[2022-01-29 04:52] HQebupt commented on #14013
I can fix some of them. @liudezhi2098

[2022-01-29 05:35] flowchartsman opened #14031 "Cannot set topic retention policy (error 500)"
**Describe the bug**
I have a namespace with 4 day retention policy:
[code]
I also have topic-level policy enabled:

[code]

When I attempt to turn off the retention policy for a single topic, I get either an error 504(Bad gateway) when going through pulsar-proxy or an error 500 if issuing the command from the broker with pulsar-admin:

[code]

The result is the same when attempting to change size

[2022-01-29 05:38] mattisonchao commented on #14031
I can help with this issue.

[2022-01-29 06:37] lhotari commented on #14015
https://github.com/apache/pulsar/issues/9958#issuecomment-802616057

It seems that adjusting `managedLedgerCacheEvictionFrequency` configuration value is one way to workaround the performance issue. The description of this configuration setting is "Configure the cache eviction frequency for the managed ledger cache (evictions/sec)" , default value is `100.0` .

Please try running with the value 10

[2022-01-29 06:43] lhotari commented on #14015
Might be related to #3650 .
Try passing `-e PULSAR_GC=-XX:+UseG1GC`.

[2022-01-29 06:46] lhotari commented on #14015
` --no-functions-worker --no-stream-storage` were also in the command line example I provided. Those disable the functions worker and the stream storage which aren't used in many cases.

[2022-01-29 06:52] HQebupt commented on #13808
Thank you for letting me know. @michaeljmarshall

[2022-01-29 07:25] Jason918 opened #14036 "Flaky-test: [org.apache.pulsar.client.impl.ProducerSemaphoreTest].[testEnsureNotBlockOnThePendingQueue]"
[org.apache.pulsar.client.impl.ProducerSemaphoreTest] is flaky. The [testEnsureNotBlockOnThePendingQueue] test method fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/4989275706?check_suite_focus=true#step:9:708)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-01-29 09:14] momo-jun opened #14042 "[Doc] Loadconf parameters of producer/consumer may need updates in Java client page"
### What issue do you find in Pulsar docs?

Suggested by @RobertIndie, the loadconf parameters of producer/consumer in Java client page is very likely out-of-date and not aligned with code.

### What is your suggestion?

Need to update the loadconf parameters of producer/consumer in Java client page to align with code.

### Do you have any references?

https://pulsar.apache.org/docs/en/client-libr

[2022-01-29 09:38] codelipenghui opened #14043 "[branch-2.9] Flaky-test: [PersistentStreamingDispatcherBlockConsumerTest].[testBlockBrokerDispatching]"
[example failure](https://github.com/apache/pulsar/runs/4990127147?check_suite_focus=true)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-01-29 10:41] codelipenghui opened #14046 "Flaky-test: BrokerServiceLookupTest.testPartitionTopicLookup"
[example failure](https://github.com/apache/pulsar/runs/4990441928?check_suite_focus=true)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-01-29 13:06] HQebupt commented on #14013
@mattisonchao Can I fix getStats and getInternalStats ? Thanks in advance.

[2022-01-29 13:33] codelipenghui commented on #14043
cherry-picked #12954 to fix the flaky test in branch-2.9

[2022-01-29 13:33] #14043 closed

[2022-01-29 20:40] flowchartsman commented on #14031
Thank you, @mattisonchao, please let me know if I can provide any further information.

[2022-01-30 03:27] Jason918 opened #14052 "Flaky-test: PerformanceProducerTest.testMsgKey"
[org.apache.pulsar.testclient.PerformanceProducerTest] is flaky. The [testMsgKey] test method fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/4991734305?check_suite_focus=true#step:8:27104)

[code]

[2022-01-30 03:29] Jason918 commented on #14052
Reproduced on master branch(1e2ff8a3941b7cc6d583f528ceedc393b7e607fb) .
count1=1, count2=10

[2022-01-30 06:12] shibd commented on #14013
@Technoboy- Current `getManagedLedgerInfo`  method are already async.

[2022-01-30 06:42] mattisonchao commented on #14052
@Jason918  i will check and fix it.

[2022-01-30 08:19] shibd commented on #14052
again https://github.com/apache/pulsar/runs/4995234970?check_suite_focus=true

[2022-01-30 08:45] mattisonchao commented on #14052
I'm working on it. :)

[2022-01-30 09:37] leizhiyuan opened #14067 "need a method to trace the message flow in pulsar"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the enhancement is.

now, if users use the tracing tool to send some messages or receive messages, although we can write an interceptor to record the traced and spanid to MDC of slf4j, there are so many completefuture .so the info will not keep in the thread.

such as in class A, there is

[2022-01-30 09:52] mattisonchao commented on #14052
@Jason918  @shibd  fixed

[2022-01-30 10:51] BewareMyPower commented on #13849
Another failure: https://github.com/apache/pulsar/runs/4996173778?check_suite_focus=true

[code]

[2022-01-30 11:20] RobertIndie commented on #14013
* [x]  examineMessage @RobertIndie https://github.com/apache/pulsar/pull/14062
* [x]  terminate @RobertIndie https://github.com/apache/pulsar/pull/14064
* [x]  compactionStatus @RobertIndie https://github.com/apache/pulsar/pull/14066
* [x]  deleteTopic @RobertIndie https://github.com/apache/pulsar/pull/14069

[2022-01-30 11:35] liudezhi2098 commented on #13854
internalSetReplicationClusters、internalRemoveReplicationClusters done

[2022-01-30 14:38] nodece commented on #13854
I summited #13841 to fix reset cursor, this PR needs review.

[2022-01-31 07:55] eolivelli opened #14072 "Java client: ConsumerBuilder: java.lang.IllegalArgumentException: properties cannot be empty"
**Describe the bug**
If I pass an empty map to ConsumerBuilder#properties I get this error.
It is very annoying in case you have a set of properties that is dynamically generated.
We can just simply ignore the call to ConsumerBuilder is case of empty properties.

[code]

**Additional context**
Pulsar 2.8.2 onwards

[2022-01-31 07:58] eolivelli opened #14073 "Key shared subscription: hash ranges are not fully reported in stats"
**Describe the bug**
When I run `pulsar-admin topics stats TOPIC-NAME` and I have a KeyShared subscription with stickyHashRanges, with many ranges, the stats are not fully reporting the ranges, it looks like that for each consumer they report only the last set of ranges assigned to each Consumer and for some Consumers the list is empty even if the Consumer set the range and it is actually consumin

[2022-01-31 08:08] eolivelli commented on #14072
the same applies for the ProducerBuilder, please fix it as well

[2022-01-31 08:08] lhotari commented on #13965
I agree. I renamed the issue. I'll close this issue since it seems to be addressed. @BewareMyPower Please reopen if there's more to do.

[2022-01-31 08:08] #13965 closed

[2022-01-31 08:26] lhotari opened #14075 "[Proxy] Proxy stops working for proxying Broker connections while Admin API proxying keeps working"
**Describe the bug**

Proxy stops working for proxying Broker connections while Admin API proxying keeps working.
The proxy logs are filled with this type of warnings:
[code]
The "Cannot assign requested address" error message is a sign of a port exhaustion issue where there are many connections open, possibly hanging.

**To Reproduce**

The steps to reproduce are not known.

**Expected behavior**

[2022-01-31 10:29] rustyx commented on #14015
Did some tests, not much improvement from `managedLedgerCacheEvictionFrequency=1000` and `PULSAR_GC=-XX:+UseG1GC`.
`--no-functions-worker --no-stream-storage` together bring ~15% CPU usage down to ~4%. Around 2/3 of that improvement seems to come from `--no-stream-storage` alone.
Still, it is not ideal that an idle server uses 4% CPU, it drains the battery..

[2022-01-31 10:48] ronfarkash commented on #13946
@mattisonchao Are there any updates related to this issue?

[2022-01-31 11:53] mattisonchao commented on #14073
Hi, @eolivelli

I can help to fix it.~

[2022-01-31 12:20] lhotari commented on #13946
@ronfarkash Do you use the Pulsar Proxy?

[2022-01-31 12:21] lhotari commented on #14075
I'm working on a fix

[2022-01-31 12:22] ronfarkash commented on #13946
No, 3 brokers and I send requests directly to them.

[2022-01-31 12:22] eolivelli commented on #14073
@mattisonchao I know that @nicoloboschi  is already working on a fix

[2022-01-31 12:47] mattisonchao commented on #14073
@eolivelli  Ah, sorry. I just made a PR, or I'll close it...

[2022-01-31 12:56] eolivelli commented on #14073
don't need to close it
https://github.com/apache/pulsar/pull/14077

[2022-01-31 13:14] james-bright-helix opened #14079 "Inactive topics cannot be consumer if recreated after automatic deletion"
**Describe the bug**
If a topic is deleted due to brokerDeleteInactiveTopicsEnabled then if you try to re-use the same topic name you can create a producer but all consumers or readers will be hang when requesting the next message.

This does not happen with a local pulsar standalone instance but is reproducible consistently on a cluster using 2.8.2 or 2.9.1. This used to work on pulsar 2.8.1.

**

[2022-01-31 13:35] mattisonchao commented on #14079
Hi, @james-bright-helix
I think I can help to check about this issue.

[2022-01-31 15:21] lhotari commented on #13892
@merlimat @codelipenghui Please take a look at this issue. Is it a gap in PIP-45 changes?

[2022-01-31 15:26] lhotari commented on #13954
Is it possible that this is a real production issue? #13892 has been reported with a similar stacktrace.

I also spotted a similar stacktrace in https://github.com/apache/pulsar/runs/4989586769?check_suite_focus=true#step:9:1975
[code]

[2022-01-31 15:56] #13927 closed

[2022-01-31 17:32] lhotari commented on #9919
recent failure: https://github.com/apache/pulsar/runs/5008959840?check_suite_focus=true#step:9:645
[code]

[2022-01-31 19:50] michaeljmarshall opened #14080 "Cleanup NPEs in ServerCnxTest"
**Describe the bug**
The test logs for the `ServerCnxTest` class are filled with NPEs making it hard to read through the logs. The cause of the NPE is the following method:

https://github.com/apache/pulsar/blob/f78fdacdfbf99c80e0dc61c396b70187c631aabf/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BacklogQuotaManager.java#L68-L78

The `namespaceResources` are set to `null` in the fo

[2022-01-31 20:26] MrThreepwood commented on #12262
Any thoughts/updates on this? It kinda makes it difficult/impossible to use the batch feature if your feed can just stop processing at any point with absolutely no feedback.

[2022-01-31 21:26] dave2wave commented on #13858
Did you use the terraform-aws setup at https://github.com/apache/pulsar/tree/master/deployment/terraform-ansible ?

If so that has been updated in the last few days. You can try to update.

Also you can control memory in:

[code]

[2022-01-31 21:49] anant-ahuja opened #14082 "Pulsar messages present in backlog, but not getting dispatched to Consumers"
Pulsar 2.7.4 deployed in a multi node Kubernetes using the Pulsar Helm Chart 2.7.9

I have messages in the backlog but after some time they stop getting dispatched to the consumer. My client is using the Pulsar Python client.
The consumer logs have no errors etc. Once I delete the client pods, the new pod subscribes to that topic and messages start getting consumed again.

[2022-02-01 04:05] michaeljmarshall commented on #13860
@1559924775 - are you able to make this plain markdown? It'd be easier to review, searchable within github, and wouldn't require downloading a pdf. Thanks.

[2022-02-01 04:34] bemoore34 commented on #11525
A comment on the Slack group pointed me to the fact that you can set the pipeline on the index or templates. There is an "index.default_pipeline" setting, which eliminates the need for this requested sink modification. By setting an ingest pipeline at the index or component template level, it is possible to simply send messages to the ES index with the standard ES sink and the ingest pipeline will

[2022-02-01 06:41] lhotari commented on #13899
@gengyuanzhe I'm sorry I don't have a direct answer for your question.

Pulsar versions before 2.7.4, 2.8.2 and 2.9.1 contain vulnerable versions of Log4j 2.x which contain CVE-2021-44228, CVE-2021-45046, CVE-2021-45105 and CVE-2021-44832.
There was a blog post about Log4Shell: https://pulsar.apache.org/blog/2021/12/11/Log4j-CVE/ .

The recent Pulsar versions 2.7.4, 2.8.2 and 2.9.1 don't use Log4J

[2022-02-01 06:41] #13899 closed

[2022-02-01 14:41] k-pisey opened #14086 "Cannot receive all messages from a partition via internal consumer handling that partition"
**Describe the bug**
I use an internal consumer received at consumer event listener `becameActive(Consumer<?> consumer, int i) ` to consume message from the partition i.
I got number of received messages that is very unidentical to number of produced messages.

**To Reproduce**
Steps to reproduce the behavior:
I leave my test program below.

Test steps:
1. Start pulsar container
2. Create partitio

[2022-02-01 14:46] liangyuanpeng commented on #14067
May help. https://github.com/streamnative/pulsar-tracing.

[2022-02-01 18:55] michaeljmarshall commented on #13954
@lhotari - yes, it is definitely possible. I didn't have time to inspect the stack trace when I created this issue, so I haven't looked into it yet. However, given the `BadVersion` exception, it is probably an issue that should take priority.

[2022-02-01 19:20] yuikns commented on #13925
may related issue: #14079

[2022-02-01 19:39] bemoore34 commented on #11525
I am going to close this issue/request.

[2022-02-01 19:39] #11525 closed

[2022-02-01 19:45] yuikns commented on #14082
Could it because of this issue: #14079 ?

[2022-02-01 20:29] anant-ahuja commented on #14079
@yuikns For issue #14082 brokerDeleteInactiveTopicsEnabled is set to True. What command can I use to test disconnecting of Producer to reproduce this issue.

[2022-02-01 22:09] hpvd commented on #8815
just learned about the github s dependency graph.
When looking into it for pulsar, there are
- 200+ dependencies found
- many of these are somehow outdated and newer versions are available (e.g. since 1 or 2 years)
- some are forks of others, no more updated e.g. since 2015 while "origin" is still maintained (e.g. https://github.com/cybernetics/hppc/tags)

see https://github.com/apache/pulsar/netw

[2022-02-01 22:15] yuikns commented on #14079
@anant-ahuja apologize for my incorrect comments, and I had deleted that when I noticed I was wrong.

Inspired by this issue, I suspect it may have a similar root cause with #13925 and some other issues.
The phenomenon is backlog greater than 0 but no consumer can get message.
And I guess the root cause is the pointer of the earliest message was incorrectly pointed to the previous message already

[2022-02-01 22:47] hpvd commented on #8815
| Dependencies defined in pom.xml | 170 |
| Dependencies defined in tests/pom.xml | 1 |
| Dependencies defined in docker/pom.xml | 1 |
| Dependencies defined in pulsar-io/pom.xml | 1 |
| Dependencies defined in testmocks/pom.xml | 7 |
| Dependencies defined in buildtools/pom.xml | 20 |
| Dependencies defined in pulsar-sql/pom.xml | 19 |
| Dependencies defined in distribution/pom.xml | 1 |
| Depend

[2022-02-02 02:33] leizhiyuan commented on #14067
I know it，It can not show the flow inside plusar，such as from broker to bookkeeper

[2022-02-02 02:48] Jason918 commented on #14067
Is this you are looking for ? `org.apache.pulsar.broker.intercept.BrokerInterceptor `

[2022-02-02 07:17] mattisonchao commented on #14052
@Jason918  @shibd  PTAL, when you have time :-)

[2022-02-02 09:29] lhotari opened #14092 "Provide a smaller Pulsar docker image without unnecessary development packages"
**Is your enhancement request related to a problem? Please describe.**

The pulsar docker image installs a lot of packages that are unnecessary.
For example, installing the `tk-dev` package pulls in many dependencies

[code]

I used these commands to find out what pulls in the enourmous amount of packages:
[code]

**Describe the solution you'd like**

The Pulsar docker image should not contain dev

[2022-02-02 09:30] lhotari commented on #11269
I created a separate enhancement request to provide a slim docker image: #14092

[2022-02-02 11:44] #14072 closed

[2022-02-02 11:49] hpvd commented on #8815
With this high number of dependencies of all kinds and different ages
the main question that is bothering me:

=> Is it enough (or a least the best thing we could do at this time)
if only the dependencies with already well known/reported security issues are updated?
like addressed: https://github.com/apache/pulsar/pull/13972

-> Or is there a big risk of sacrificing security, performance and bug-f

[2022-02-02 12:06] hpvd commented on #14092
+1 on this!
goes into the same directing as b) in https://github.com/apache/pulsar/issues/8815#issuecomment-1027860622 thinks...

[2022-02-02 13:10] nicoloboschi commented on #14073
After having a more detailed look with @eolivelli, we've seen the version used by Enrico is a custom fork based on Pulsar 2.8.0 and it doesn't include https://github.com/apache/pulsar/pull/12212, which is the resolution to the problem

@mattisonchao you can close the PR, the problem has been already fixed. Thanks

[2022-02-02 13:44] lhotari commented on #13910
another one: https://github.com/apache/pulsar/runs/5036755143?check_suite_focus=true#step:8:1495
[code]

[2022-02-02 15:03] lhotari commented on #13092
Recent failure in https://github.com/apache/pulsar/runs/5036754890?check_suite_focus=true#step:10:35
[code]

[2022-02-02 15:07] lhotari commented on #13092
jstack.review shows a possible deadlock: https://jstack.review/?https://gist.github.com/lhotari/f2fa48e5c0800018032e460f75f1a8b4#tda_1_dump

[2022-02-02 16:30] 1559924775 commented on #13860
@michaeljmarshall  OK.

[2022-02-02 16:45] lhotari commented on #13102
again in https://github.com/apache/pulsar/runs/5039382025?check_suite_focus=true#step:9:696

[code]

[2022-02-02 16:47] lhotari opened #14096 "Flaky-test: MetadataCacheTest.readModifyUpdate"
MetadataCacheTest is flaky. The readModifyUpdate test method fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/5039382127?check_suite_focus=true#step:8:1501)

[code]

[2022-02-02 16:48] lhotari commented on #13910
again
[code]
at https://github.com/apache/pulsar/runs/5039382127?check_suite_focus=true#step:8:3174

[2022-02-02 16:54] lhotari commented on #13584
@gaozhangmin please explain the resolution since you closed the issue.

[2022-02-02 16:55] lhotari commented on #13910
and again
[code]
https://github.com/apache/pulsar/runs/5039395056?check_suite_focus=true#step:8:1494

[2022-02-02 16:56] lhotari commented on #13910
@merlimat Do you have a chance to take a look at this failure? This test is extremely flaky and it might also be a sign of a real production code issue.

[2022-02-02 17:29] lhotari commented on #14082
what type of subscription is it? (exclusive, failover, shared, key_shared?)

what is the version of the Pulsar Python client?

[2022-02-02 18:33] lhotari commented on #14092
Thanks. You might be also interested in the work @michaeljmarshall has done for #11269

[2022-02-02 18:58] hpvd commented on #8815
just to show numbers are constantly growing (yes this is no statistic ;-)
from yesterday to today: one more dependency was introduced

| def | number of dependencies on 01 Feb 2022|  number of dependencies on 02 Feb 2022|
| --- | --- | --- |
| Dependencies defined in pom.xml | 170 |  171 |

[2022-02-02 19:31] anant-ahuja commented on #14082
It's a shared subscription and the Pulsar Python Client is 2.8.1.

I will post the stats and internal-stats of the topic as well, trying to recreate that issue since it's an intermittent issue.

[2022-02-02 20:50] lhotari commented on #14082
thanks @anant-ahuja , the stats will be very useful for tracking down the issue.

[2022-02-02 21:01] lhotari commented on #8815
Very good questions.

@nicoloboschi and @dlg99 from DataStax have been contributing many changes to address vulnerable library versions. DataStax has bought a license for Sonatype IQ Server and scans also Apache Pulsar frequently.

Another aspect in the Software Supply Chain security is the build reproducibility: are the built artifacts built from the source code that it claims to be built from. F

[2022-02-02 23:53] #14092 closed

[2022-02-03 00:02] anant-ahuja commented on #14082
Issue happened just now to a topic with just 1 message. Message isn't being consumed by the consumers.

Topic stats:
`{
  "msgRateIn" : 0.0,
  "msgThroughputIn" : 0.0,
  "msgRateOut" : 0.0,
  "msgThroughputOut" : 0.0,
  "bytesInCounter" : 2071,
  "msgInCounter" : 1,
  "bytesOutCounter" : 2071,
  "msgOutCounter" : 1,
  "averageMsgSize" : 0.0,
  "msgChunkPublished" : false,
  "storageSize" : 4142,

[2022-02-03 01:34] sguidotti commented on #13864
I am also experiencing this issue as well.

[2022-02-03 05:42] #14080 closed

[2022-02-03 06:53] aparajita89 opened #14101 "making SchemaRegistryService configurable"
**Is your enhancement request related to a problem? Please describe.**
SchemaRegistryService is hardcoded to use SchemaRegistryServiceImpl in org.apache.pulsar.broker.service.schema.SchemaRegistryService#create

this is required because we want to use custom schema store with custom compatibility checks.

**Describe the solution you'd like**
broker.conf will have a new config called schemaRegistry

[2022-02-03 06:54] aparajita89 commented on #14101
@sijie could you please assign this to me?

[2022-02-03 07:04] lhotari commented on #13620
There were multiple issues and some were resolved. However, there are still some open issues with Mockito. I'll reopen this issue once more.

[2022-02-03 12:28] nicoloboschi opened #14104 "Can't create topics after #12818 using Pulsar master client and 2.9.x (or prior) broker (v3/persistent NOT FOUND)"
**Describe the bug**
After https://github.com/apache/pulsar/pull/12818, a client (built starting from the master branch) get `not found` while trying to create a topic, if the server doesn't support admin v3 topic endpoint (currently only the master branch has this endpoint).

**To Reproduce**
- Run Pulsar standalone 2.9.x (or prior)
- Run command (from master branch) `bin/pulsar-admin  topics cre

[2022-02-03 12:47] eolivelli commented on #14104
@nicoloboschi good catch!

We should discuss about this on dev@ and we must fix this somehow

[2022-02-03 12:48] lhotari commented on #13102
Flaky-test: org.apache.pulsar.client.api.BrokerServiceLookupTest.testModularLoadManagerSplitBundle
Number of failures: 21

org.apache.pulsar.client.api.BrokerServiceLookupTest is flaky. The testModularLoadManagerSplitBundle test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2022-02-02

[2022-02-03 12:49] eolivelli commented on #14104
So this comment is not correct
https://github.com/apache/pulsar/pull/12818#discussion_r790706585

[2022-02-03 13:06] lhotari commented on #13620
More failures in this report: https://github.com/lhotari/pulsar-flakes/blob/master/2022-01-27-to-2022-02-03/org.apache.pulsar.broker.service.PersistentTopicTest.setup.md

listed under org.apache.pulsar.broker.service.PersistentTopicTest.setup in the most recent flaky test report.

[2022-02-03 13:07] lhotari commented on #13910
more failures in the most recent flaky test report. https://github.com/lhotari/pulsar-flakes/blob/master/2022-01-27-to-2022-02-03/org.apache.pulsar.metadata.LockManagerTest.revalidateLockOnDifferentSession.md

Flaky-test: org.apache.pulsar.metadata.LockManagerTest.revalidateLockOnDifferentSession
Number of failures: 13

org.apache.pulsar.metadata.LockManagerTest is flaky. The revalidateLockOnDiffe

[2022-02-03 13:09] lhotari opened #14105 "Flaky-test: AdminApi2Test.testGetListInBundle"
Flaky-test: org.apache.pulsar.broker.admin.AdminApi2Test.testGetListInBundle
Number of failures: 13

org.apache.pulsar.broker.admin.AdminApi2Test is flaky. The testGetListInBundle test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2022-02-02T02:36:26.2084173Z](https://github.com/apach

[2022-02-03 13:14] lhotari opened #14106 "Flaky-test: RackAwareTest.testPlacement"
Flaky-test: org.apache.pulsar.broker.service.RackAwareTest.testPlacement
Number of failures: 12

org.apache.pulsar.broker.service.RackAwareTest is flaky. The testPlacement test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2022-02-02T20:50:48.0192198Z](https://github.com/apache/pulsar

[2022-02-03 13:15] lhotari commented on #11433
There's also #14106 about RackAwareTest.testPlacement

[2022-02-03 13:16] lhotari commented on #13008
Flaky-test: org.apache.pulsar.metadata.ZKSessionTest.testDisconnection
Number of failures: 12

org.apache.pulsar.metadata.ZKSessionTest is flaky. The testDisconnection test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2022-02-02T18:03:34.2646392Z](https://github.com/apache/pulsar/run

[2022-02-03 13:17] lhotari commented on #13620
also https://github.com/lhotari/pulsar-flakes/blob/master/2022-01-27-to-2022-02-03/org.apache.pulsar.broker.service.persistent.PersistentTopicStreamingDispatcherTest.setup.md
listed under org.apache.pulsar.broker.service.persistent.PersistentTopicStreamingDispatcherTest.setup in the most recent flaky test report.

[2022-02-03 13:19] lhotari commented on #13996
duplicates #14046

[2022-02-03 13:19] #13996 closed

[2022-02-03 13:19] lhotari commented on #14046
Flaky-test: org.apache.pulsar.client.api.BrokerServiceLookupTest.testPartitionTopicLookup
Number of failures: 11

org.apache.pulsar.client.api.BrokerServiceLookupTest is flaky. The testPartitionTopicLookup test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2022-02-02T21:10:39.5013840Z

[2022-02-03 13:20] lhotari commented on #10150
Flaky-test: org.apache.pulsar.broker.service.PersistentTopicE2ETest.testBrokerConnectionStats
Number of failures: 11

org.apache.pulsar.broker.service.PersistentTopicE2ETest is flaky. The testBrokerConnectionStats test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2022-01-31T03:34:15.

[2022-02-03 13:21] lhotari commented on #14052
More failures:

Flaky-test: org.apache.pulsar.testclient.PerformanceProducerTest.testMsgKey
Number of failures: 7

org.apache.pulsar.testclient.PerformanceProducerTest is flaky. The testMsgKey test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2022-02-02T21:16:42.4991826Z](https://git

[2022-02-03 13:24] lhotari commented on #13663
More failures:

Flaky-test: org.apache.pulsar.metadata.LockManagerTest.updateValue
Number of failures: 6

org.apache.pulsar.metadata.LockManagerTest is flaky. The updateValue test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2022-01-31T08:43:50.8742741Z](https://github.com/apache/pul

[2022-02-03 13:25] lhotari opened #14107 "Flaky-test: ZKSessionTest.testSessionLost"
Flaky-test: org.apache.pulsar.metadata.ZKSessionTest.testSessionLost
Number of failures: 5

org.apache.pulsar.metadata.ZKSessionTest is flaky. The testSessionLost test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2022-01-30T12:31:48.6236090Z](https://github.com/apache/pulsar/runs/499

[2022-02-03 13:27] lhotari opened #14108 "Flaky-test: BacklogQuotaManagerTest.testConsumerBacklogEvictionTimeQuotaWithEmptyLedger"
Flaky-test: org.apache.pulsar.broker.service.BacklogQuotaManagerTest.testConsumerBacklogEvictionTimeQuotaWithEmptyLedger
Number of failures: 5

org.apache.pulsar.broker.service.BacklogQuotaManagerTest is flaky. The testConsumerBacklogEvictionTimeQuotaWithEmptyLedger test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with

[2022-02-03 13:27] lhotari commented on #14108
related to #13697

[2022-02-03 13:28] lhotari commented on #14108
@gaozhangmin You made a fix in #13724 to the test. Would you mind taking a look at the recent failures? thank you

[2022-02-03 13:29] lhotari commented on #13626
Flaky-test: org.apache.pulsar.broker.service.ReplicatorSubscriptionTest.testGetReplicatedSubscriptionStatus
Number of failures: 5

org.apache.pulsar.broker.service.ReplicatorSubscriptionTest is flaky. The testGetReplicatedSubscriptionStatus test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example f

[2022-02-03 13:30] lhotari opened #14109 "Flaky-test: PerformanceTransactionTest.testConsumeTxnMessage"
Flaky-test: org.apache.pulsar.testclient.PerformanceTransactionTest.testConsumeTxnMessage
Number of failures: 5

org.apache.pulsar.testclient.PerformanceTransactionTest is flaky. The testConsumeTxnMessage test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2022-02-02T16:48:35.3692126Z]

[2022-02-03 13:33] lhotari commented on #14109
The test is flaky that was introduced by the changes in #11933. @liangyepianzhou would you mind taking a look at #14109 ? Thank you

[2022-02-03 13:45] liangyepianzhou commented on #14109
This is an unstable test caused by message retransmissions. I think it should be possible to fix this test by reducing the accuracy. I'll give a PR with the fix later.

[2022-02-03 13:49] lhotari commented on #14109
Thanks @liangyepianzhou , that would be great.

[2022-02-03 13:50] lhotari commented on #10870
Flaky-test: org.apache.pulsar.functions.source.batch.BatchSourceExecutorTest.testPushLifeCycle
Number of failures: 5

org.apache.pulsar.functions.source.batch.BatchSourceExecutorTest is flaky. The testPushLifeCycle test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2022-01-30T11:24:44

[2022-02-03 13:50] lhotari commented on #11735
this duplicates #10870, closing

[2022-02-03 13:50] #11735 closed

[2022-02-03 13:52] lhotari opened #14110 "Flaky-test: MetadataCacheTest.insertionDeletion"
Flaky-test: org.apache.pulsar.metadata.MetadataCacheTest.insertionDeletion
Number of failures: 5

org.apache.pulsar.metadata.MetadataCacheTest is flaky. The insertionDeletion test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2022-02-02T13:10:02.6320957Z](https://github.com/apache/pul

[2022-02-03 16:21] anant-ahuja commented on #14082
Backlog for this topic is 24 in Pulsar Manager, same issue, message not being consumed by consumers. Have attached the stats and internal stats for that topic.

[topic-stats.txt](https://github.com/apache/pulsar/files/7996269/topic-stats.txt)
[topic-stats-internal.txt](https://github.com/apache/pulsar/files/7996270/topic-stats-internal.txt)

[2022-02-03 16:43] addisonj commented on #14082
@anant-ahuja This appears to be a problem with your consumers not acknowledging all messages.

To explain, if you look at the `unackedMessages` and `availablePermits` together indicate this problem. To explain, see this selection from the topic stats:

[code]

unackedMessages indicates that Pulsar has dispatched messages to this consumer, but the consumer has not acknowledged them. unackedMessages

[2022-02-03 16:47] liangyuanpeng commented on #13865
Exactly, Maybe we should add this info for metrics.

[2022-02-03 16:53] liangyuanpeng commented on #13863
It is possible to ignore this metrics when get the metrics, like relabel in prometheus.

[2022-02-03 17:07] lhotari commented on #11690
also reported as #13910

[2022-02-03 17:09] anant-ahuja commented on #14082
@addisonj @lhotari Thanks for the quick response. I will review my consumer code. However I have a few questions:

1. In the first topic-stats I posted: all but 1 of  the consumers have availablePermits as 1. Their unackedMessages is 0 as well. So that 1 remaining message in the backlog should have been dispatched to the other consumers.

        "unackedMessages" : 0,

Even in the 2nd topic-stats

[2022-02-03 18:19] lhotari commented on #13111
duplicates #13102

[2022-02-03 18:26] lhotari commented on #12774
Flaky-test: org.apache.pulsar.broker.service.ReplicatorTest.testDoNotReplicateSystemTopic
Number of failures: 9

org.apache.pulsar.broker.service.ReplicatorTest is flaky. The testDoNotReplicateSystemTopic test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2022-02-02T13:12:33.6332790Z]

[2022-02-03 18:59] loganloganlogan commented on #13235
The website redesign project is almost complete. We have been attending weekly calls on Tuesdays at 4pm PT for the past 3 weeks to coordinate efforts with the docs contributors. We started a #website channel on Slack for real-time collaboration.

A staging environment was created (https://github.com/apache/pulsar/pull/13855). Before we can submit the design to commit, we are waiting for a resoluti

[2022-02-04 09:20] lhotari commented on #14104
This was discussed in the Pulsar community meeting. Some notes from the discussion:
- PR #12818 changes should be reverted so that API could be kept backwards compatible.
- It’s possible to have the current v2 API for creating persistent topics to handle multiple different payload types
The challenge seems to be that in the old method, the number of partitions was passed in the payload as a single

[2022-02-04 09:42] lhotari commented on #14104
The custom content type could be set here:
https://github.com/apache/pulsar/blob/10036d562d1a6440e2bf5f2d81e352e66a69642f/pulsar-client-admin/src/main/java/org/apache/pulsar/client/admin/internal/TopicsImpl.java#L353-L358

[2022-02-04 10:19] eolivelli commented on #14104
@lhotari would you please the PR with the revert?
This way we will unblock downstream consumers of the master branch

[2022-02-04 10:20] lhotari commented on #14104
It might be simpler to create a PR to fix the issue. I can do that.

[2022-02-04 10:25] lhotari commented on #14104
I pushed #14117 as a fix that uses the custom JSON media type solution.

[2022-02-04 10:35] lhotari commented on #14104
I noticed that this is needed to fix the issue too: https://github.com/apache/pulsar/pull/14117/commits/02a32010f6010646e49b1a05c5a442e00f55a399

That alone would fix the issue. However I think it's better to not add a new API version in this way since it's not even consistent. For all other methods, the support for PIP-110 was added directly to the existing v2 API.

[2022-02-04 10:40] #13910 closed

[2022-02-04 12:04] Jason918 commented on #12774
Here is the related exceptions
[code]

[2022-02-04 12:06] Jason918 commented on #12774
After some digging, the root cause is that there is a race condition in `org.apache.pulsar.metadata.bookkeeper.PulsarLedgerIdGenerator#generateShortLedgerId` when creating the path `shortIdGenPath`.

[2022-02-04 12:31] hpvd commented on #8815
many thanks for your answer, addition details and advice! Will bring some points to the list within the next weeks...

btw: does anybody look on pulsar with a like tool like jarchitect to keep a good overview over dependencies?
sounds intersting to me:

dependency graphs etc
https://www.jarchitect.com/JArchitectv2020

[2022-02-04 17:03] #14052 closed

[2022-02-04 17:18] klevy-toast commented on #13863
I believe I've found a workaround for my use-case

[2022-02-04 17:18] #13863 closed

[2022-02-04 19:23] klevy-toast commented on #11100
@eolivelli finally got around to verifying the behavior of the suggested fix here and submitted a PR #14125

[2022-02-04 22:29] #14104 closed

[2022-02-04 23:29] #11100 closed

[2022-02-05 09:53] #13008 closed

[2022-02-05 17:43] #12774 closed

[2022-02-05 19:48] rillo-carrillo opened #14132 "Failed to get Manifest for - pulsar-client-2.9.1.jar"
For some reason I keep getting this error when try: mvn install package

with next dependency:
<dependency>
      <groupId>org.apache.pulsar</groupId>
      <artifactId>pulsar-client</artifactId>
      <version>2.9.1</version>
</dependency>

Error:
Error assembling JAR: Failed to get Manifest for - pulsar-client-2.9.1.jar. Please verify if jar file is valid, the MANIFEST.MF should be first or seco

[2022-02-06 11:18] Jason918 commented on #14105
Reproduced locally. Here is the key error log for this case:
[code]

[2022-02-06 11:27] Jason918 commented on #14105
https://github.com/apache/pulsar/blob/00e7cc6e3429d38d6e24af3dc5a840ff9a73601f/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java#L1118-L1149

The root cause is that `checkTopicNsOwnership` fails in line 1118. So line 1126 `addTopicToStatsMaps()` is not executed. And this topic is not added to `BrokerService#multiLayerTopicsMap` which serves the `GetListInBundle` cmd.

[2022-02-07 02:31] sakurafly123 opened #14136 "[Doc] Update security-jwt.md to make client authentication"
### What issue do you find in Pulsar docs?

when client authentication using tokens based on JSON web Tokens,  my client  will throw following exceptions.

Exception in thread "main" org.apache.pulsar.client.api.PulsarClientException$AuthenticationException: Unable to authenticate
	at org.apache.pulsar.client.api.PulsarClientException.unwrap(PulsarClientException.java:920)
	at org.apache.pulsar.cl

[2022-02-07 02:38] Jason918 commented on #14136
Could you please update the issue with a proper title?

[2022-02-07 02:40] RobertIndie commented on #14136
Did you follow the step to grant your role permission? https://pulsar.apache.org/docs/en/security-jwt/#authorization

[2022-02-07 02:50] sakurafly123 commented on #14136
yes，

[2022-02-07 02:52] sakurafly123 commented on #14136
yes，but i can't produce some message into broker;because the role that we use create token don't have permission

[2022-02-07 03:02] sakurafly123 commented on #14136
yes, when i want to produce some mesaage into pulsar, the role that  we use to create token   needs to to be given permission to produce. so we need to execute the following statement;
`$ bin/pulsar-admin namespaces grant-permission my-tenant/my-namespace \
            --role test-user \
            --actions produce,consume
`
but  there will throw a exception that

HTTP 401 Unauthorized
Reason: H

[2022-02-07 03:07] sakurafly123 commented on #14136
So，the way to solve this problem is  seting the role that we use to create token into the value of superRoles in broker.conf or standalone.conf

[2022-02-07 03:17] Jason918 commented on #12262
@MrThreepwood Sorry for the late response. I have submitted a PR(#14139), please take a look.

[2022-02-07 03:31] Jason918 commented on #14015
Could related to #14125.
`epollWait` runs actively on idle is mostly because we have started too many scheduled task in `EventLoop`.

[2022-02-07 03:55] codelipenghui commented on #12262
Nice catch!

[2022-02-07 04:07] shibd commented on #13663
@lhotari  Hi,I have tested the master branch for tens of thousands of times, and the not reproduce. I guess the above error is because PR is not  rebase master, and this SHA maybe not  included.

[2022-02-07 06:39] xiaobing0508 opened #14140 "A Broker was shutdown."
**Describe the bug**
Topic cannot read and write.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a role.
2. Grant permission.

**Additional context**
Consumer was not registered on the connection , Producer was not registered on the connection , There are a lot of in the log.

[2022-02-07 06:43] eolivelli commented on #14140
Can you please share more details?
Which Pulsar version? How did you deploy it? How did you create the topic? How did you set permissions? How did you configured authentication on the client?

[2022-02-07 06:51] xiaobing0508 commented on #14140
Pulsar version is 2.9.1. Just upgraded. Running on four physical machine. We use authentication is JWT. Not one topic cannot be used, but the whole tenant. The cluster was running normally before.

[2022-02-07 06:56] liangyepianzhou commented on #13793
1. I checked the code according to the above error log and found that it may be repeated execution of `PersistentTopic::delete `. This error may be reported when this method is executed multiple times.
2. According to the above reproduction, I tried to reproduce several times, but I didn't get the above exception, instead, I got another exception:
`org.apache.pulsar.metadata.api.MetadataStoreExcep

[2022-02-07 08:03] Anonymitaet commented on #14042
@momo-jun @RobertIndie what are the original code files? I want to check whether these configurations (doc) can be generated from code files automatically.

[2022-02-07 08:11] lhotari commented on #13663
The PR run included the previous fix. I check this failure:
[example failure 2022-01-31T08:43:50.8742741Z](https://github.com/apache/pulsar/runs/5002911603?check_suite_focus=true?check_suite_focus=true#step:8:6996)

From the logs, you can see the revision for the build, it's [`a4cca4544615e1aeb62884066f1c6e3c79f6973d`](https://github.com/apache/pulsar/runs/5002911603?check_suite_focus=true?check_s

[2022-02-07 08:24] momo-jun opened #14143 "[Doc] Add doc of OAuth2 authentication for Node.js client"
### What issue do you find in Pulsar docs?

File an issue here for the required doc effort.

[Pulsar client node](https://github.com/apache/pulsar-client-node) version 1.6 is about to release with the node.js client support of OAuth 2.0.  See https://github.com/apache/pulsar-client-node/pull/190 for more details.

### What is your suggestion?

Add content for node.js client in the following OAuth

[2022-02-07 08:26] nodece commented on #14140
Could you provide the broker log?

[2022-02-07 08:26] letterwuyu commented on #3716
any updates ?

[2022-02-07 08:34] nodece commented on #14140
Could you build a Pulsar by using the master branch codebase?  I guess it has been fixed by #13885.

[2022-02-07 08:37] xiaobing0508 commented on #14140
How use master branch build Pulsar ?

[2022-02-07 08:37] RobertIndie commented on #14042
@Anonymitaet Here are the original code files: https://github.com/apache/pulsar/tree/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/conf The parameters in the loadConf come from the fields in the configuration data class such as `ProducerConfigurationData`. It seems difficult to generate the doc automatically.

[2022-02-07 08:48] DragonDriver commented on #13920
Thanks for your nice reply. Sorry that I just saw this now and the environment has been destroyed.
Fortunately, I saved all the logs related to pulsar. I hope those logs will help to solve the problem.
[artifacts-milvus-distributed-master-306-pymilvus-e2e-logs.tar.gz](https://github.com/apache/pulsar/files/8013660/artifacts-milvus-distributed-master-306-pymilvus-e2e-logs.tar.gz)

[2022-02-07 10:08] RobertIndie opened #14146 "Flaky-test: BrokerServiceLookupTest. testPartitionTopicLookup"
BrokerServiceLookupTest.testPartitionTopicLookup is flaky. It fails sporadically.

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure Mon, 07 Feb 2022 09:47:24 GMT](https://github.com/apache/pulsar/runs/5090628431?check_suite_focus=true#step:9:3696)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>

[2022-02-07 10:29] zhavir opened #14148 "Version 2.9.1 pulsar-client (python )is not available for Mac"
**Describe the bug**
Version 2.9.1 of the pulsar-client (python ) is not available for Mac

**To Reproduce**
pip install pulsar-client==2.9.1

`ERROR: Could not find a version that satisfies the requirement pulsar-client==2.9.1 (from versions: 2.5.1, 2.5.2, 2.6.0, 2.6.1, 2.6.3, 2.7.0, 2.7.1, 2.7.2, 2.7.2.post0, 2.7.3, 2.8.0, 2.8.0.post0)
ERROR: No matching distribution found for pulsar-client==2.9

[2022-02-07 12:26] nodece commented on #14140
@xiaobing0508 See https://github.com/apache/pulsar#build-pulsar

[2022-02-07 19:22] zbentley commented on #12555
@lhotari thanks! I haven't gone back through the repro steps of this family of issues in several months. In March of 22 I'll set aside some time for trying to repro these on master and will close things up if the linked fixes have helped. Thanks for taking a look!

[2022-02-07 19:54] spartakos87 opened #14156 "RabbitMQ source connector can't connect"
**Describe the bug**
Hello, I am trying to connect Pulsar with RabbitMQ. For that, I am trying to set up a source connector
**To Reproduce**
Steps to reproduce the behavior:
1. First of all I set up Pulsar with docker,
`docker run -it --name my-pulsar -p 6650:6650  -p 8080:8080 --mount source=pulsardata,target=/pulsar/data --mount source=pulsarconf,target=/pulsar/conf apachepulsar/pulsar-all:lates

[2022-02-07 21:11] nicoloboschi commented on #14156
It looks like the pulsar process can't reach the rabbitmq server.
Could you try to test if, from inside the container, are you able to reach the rabbitmq server ?

[2022-02-07 23:32] addisonj commented on #14082
@anant-ahuja
1. From the topic stats, at the subscription level, you can see
[code]
Note that msgBacklog and unackedMessages are both the same value. This means that all the remaining 24 messages have been dispatched to the consumer (i.e. they are waiting in the receive queue), but have not been processed/acked by the application. In other words, msgBacklog still counts messages that have been dis

[2022-02-08 00:55] xiaobing0508 commented on #14140
Which version is the main branch? Do I want to Canary upgrade?

[2022-02-08 01:12] shibd commented on #13663
@lhotari Nice! Thank you reply, I'll give it a try.

[2022-02-08 01:50] Shoothzj opened #14157 "[security] ThreadRuntime print sensitive informations like password, cert content etc."
**Describe the bug**
https://github.com/apache/pulsar/blob/70292dc6e8107bae4f3436c884f299432369f2b0/pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/thread/ThreadRuntime.java#L197

This code will print sensitive informations, like password、cert content etc.

[2022-02-08 02:59] nodece commented on #14140
You can build the Pulsar on your computer for testing.
[code]

[2022-02-08 03:01] codelipenghui opened #14160 "Authentication support for transaction perf"
**Is your enhancement request related to a problem? Please describe.**
Currently, `bin/pulsar-perf transaction` does not support pass authentication params.
So, if the broker side enabled authentication, we are not able to use the transaction perf tool to test transactions.

**Describe the solution you'd like**
Support authentication for transaction perf tool which similar with perf producer and p

[2022-02-08 04:22] #14157 closed

[2022-02-08 04:43] archmangler commented on #13175
Hi - without this feature I am forced to use Kafka instead. There is a requirement, in certain trading systems, to be able to select very precise sequences of messages from a specific starting point to end and reprocess them.

Kafka does this with no problem.

I can't imagine why Pulsar cannot do the same simple task?

[2022-02-08 05:33] #14046 closed

[2022-02-08 05:40] Demogorgon314 commented on #14146
It was fixed by PR #14060.

[2022-02-08 05:43] lhotari commented on #14146
duplicates #14046

[2022-02-08 05:43] #14146 closed

[2022-02-08 06:26] #13795 closed

[2022-02-08 06:27] #13637 closed

[2022-02-08 06:27] #11130 closed

[2022-02-08 06:27] #11096 closed

[2022-02-08 06:27] #11077 closed

[2022-02-08 06:28] #13854 closed

[2022-02-08 06:30] mattisonchao commented on #14160
Hi, @codelipenghui

I think i can work on it, this feature can let me know authentication part.
Thanks ~

[2022-02-08 07:38] liangyepianzhou commented on #14160
I am dealing with this issue.
And I found there may be more than that missing, I'll check and add it.

[2022-02-08 07:45] mattisonchao commented on #14160
Sure, Thanks for your notification.

[2022-02-08 09:50] congbobo184 opened #14166 "[Transaction] Transaction timeout is not canceled in client."
When transaction commit or abort in client, we should cancel transaction timeout.

[2022-02-08 09:55] spartakos87 commented on #14156
I am trying to connect with RabbitMQ from Pulsar container and I get the messages. I use the IP of the container which contained the RabbitMQ.  So the in YAML file I define the host as that IP, in my case 172.17.0.2 . The I try to make a connector as I said and I when try to get status of connector I get this,
{
  "numInstances" : 1,
  "numRunning" : 0,
  "instances" : [ {
    "instanceId" : 0,

[2022-02-08 10:48] spartakos87 commented on #14156
I am trying the same in local, without docker, but I get the same error "UNAVAILABLE: io exception"

[2022-02-08 11:13] cbornet opened #14168 "[PIP 141] Pulsar BOM"
## Motivation

When designing NAR modules loaded by Nifi in the broker such as protocol handlers, proxy extensions, Pulsar IO connectors, etc..., it's important that the dependencies that are common to the module and the broker are as close as possible to prevent incompatible library exceptions (NoSuchClassError, NoSuchMethodError, IncompatibleClassChangeError, etc ...) at runtime. If a class is b

[2022-02-08 12:36] #13661 closed

[2022-02-08 14:30] codelipenghui opened #14171 "Flaky-test: PendingAckInMemoryDeleteTest. txnAckTestBatchAndSharedSubMemoryDeleteTest"
[example failure](https://github.com/apache/pulsar/runs/5109447311?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-02-08 15:19] #11070 closed

[2022-02-08 15:20] #14105 closed

[2022-02-08 16:06] axiopisty opened #14174 "hub.docker.com apachepulsar/pulsar-standalone Apple Silicon arm64 M1 processor"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the enhancement is.

*Docker images made available at hub.docker.com are only available for linux/amd64.*

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

*Docker images made available at hub.docker.com are made available for multiple arch

[2022-02-08 16:08] axiopisty commented on #14174
https://www.docker.com/blog/multi-arch-build-and-images-the-simple-way/

[2022-02-08 16:55] Radrik5 opened #14175 "C++: MessageId::operator< sometimes returns wrong result"
**Describe the bug**
MessageId::operator< has no return value if message ids are equal. It actually returns garbage from the stack so if garbage happens to be 0, operator< returns wrong value.

https://github.com/apache/pulsar/blob/25ccf45fcaa71d97cae26244a6b7dfca75a4a089/pulsar-client-cpp/lib/MessageId.cc#L118

[2022-02-08 16:59] Radrik5 commented on #14175
False alarm, return value is after last else: https://github.com/apache/pulsar/blob/25ccf45fcaa71d97cae26244a6b7dfca75a4a089/pulsar-client-cpp/lib/MessageId.cc#L115

[2022-02-08 16:59] #14175 closed

[2022-02-08 17:29] MrThreepwood commented on #12262
Thanks. Sorry I missed this earlier, this is very helpful!

[2022-02-08 18:06] michaeljmarshall commented on #12551
It's possible that the issue here is a result of a missed cache invalidation: https://github.com/apache/pulsar/pull/14177. I'm not sure which version of Pulsar `Kubernetes on EKS 1.18. StreamNative Platform Pulsar Broker 2.1.8.5.` this is, but the bug I fix in #14177 definitely impacts 2.8.2 and leads the broker to cache a child node for at least 5 minutes under certain conditions.

[2022-02-08 20:37] #14075 closed

[2022-02-09 03:01] xiaobing0508 opened #14180 "Client unable to connect after running for a period of time."
Client without reconnect.
Restart client return to normal.
Forcing connecti on to close after keep-alive timeout , it's in the broker log.
How to maintain a long connection?

[2022-02-09 04:11] yuikns commented on #14079
@mattisonchao may i know is there any update in this issue ( and #13925 may also related ). Thank you

[2022-02-09 04:52] zackliu opened #14183 "Topic lookup timeout and can't recover after broker crash"
**Describe the bug**
I tried using Pulsar in Kubernetes and it's deployed using helm. After one broker pod crashed and came back, I found the whole Pulsar didn't work. I used pulsar-perf to publish message and the log showed as below. I can confirm 10.0.129.19 is the pulsar proxy IP exposed by kubernetes service. It's reachable from client. And the broker's log indicate there's a client connection

[2022-02-09 05:08] mattisonchao commented on #14079
@yuikns  Sorry for the late response,

Do you try to use ``consumer#subscriptionInitialPosition(SubscriptionInitialPosition.Earliest)``?

[2022-02-09 06:26] Anonymitaet opened #14184 "[Website] generate pages automatically for producer/consumer parameters (Java client)"
When resolving https://github.com/apache/pulsar/issues/14042, I'm wondering whether we can generate docs automatically for [producer/consumer parameters of the Java client](https://pulsar.apache.org/docs/en/client-libraries-java/#configure-producer) to avoid much manual work.

![image](https://user-images.githubusercontent.com/50226895/153133314-ea6f619b-cb1d-4d84-b7cb-1c82baf806c9.png)

Then I di

[2022-02-09 06:27] Anonymitaet commented on #14042
@RobertIndie seems it is workable. I've recorded here: https://github.com/apache/pulsar/issues/14184

[2022-02-09 07:05] michaeljmarshall commented on #11100
I think that https://github.com/apache/pulsar/pull/14185 might prove to be an even more optimal solution, especially when running with many producers that are not in user. I haven't completed any bench marks yet, though.

[2022-02-09 08:21] mattisonchao commented on #14031
@flowchartsman  I can not reproduce this issue at 2.7 branches.
Could you give me more detail to help me?

![image](https://user-images.githubusercontent.com/74767115/153154506-06202dba-a5ec-4049-a712-bf4668111897.png)

[2022-02-09 09:13] lhotari commented on #14013
Volunteers wanted for this.

@Technoboy- @codelipenghui @merlimat Why are these changes made? The issue description doesn't describe any problem, just a decision.

Since there are a lot of these sync -> async changes, it would be good to always open a discussion on the dev-mailing list to get a consensus of the problem that is being solved. In Apache Pulsar, we make all major decisions on the mail

[2022-02-09 11:42] startjava opened #14190 "请教：event time的应用场景是什么？"
在Redis中的sorted set有分数的概念，以分数的大小对数据进行排序，

不太明白pulsar中这个event time的使用场景是什么。

[2022-02-09 11:50] startjava commented on #14190
An optional timestamp attached to a message by applications. For example, applications attach a timestamp on when the message is processed. If nothing is set to event time, the value is 0.

请问这个event time中的解释：
例如，应用程序在处理消息时附加时间戳。如果没有设置事件时间，则值为0。
（1）这在什么场景下使用的？感谢。比如在什么时候需要手动设置呢，，手动设置时间在哪个业务中应用到呢
（2）上面的翻译  消息处理的时间     这个处理的时间是指  生产的时间  还是消费的时间呢，

[2022-02-09 11:59] gaozhangmin commented on #14106
Maybe this because bookie-0 was  not running any more?

[2022-02-09 12:04] mattisonchao commented on #14079
@yuikns  Sorry for the late response, I will try to reproduce it first.

[2022-02-09 12:59] youg9203 opened #14191 "NonPersistentTopics - [myuser] Failed to get list of topics under namespace public/default"
**Describe the bug**
Unable to list the non-persistent topics using the command line, what other permission is required for the role?

My subject is  `myuser` and authorized by the below command using superuser role:
[code]

Topics list command:
[code]

Error:
[code]

`proxy.conf`
[code]

`broker.conf`
[code]

**Expected behavior**
Should list the topics

### Using Apache Pulsar 2.9.1

**Desktop (

[2022-02-09 13:45] youg9203 commented on #14191
I have retested from the beginning, create tenant with admin roles then create a namespace and then using admin role create token and called pulsar admin to list the topic of the new tenant and namespace but still same error, admin client shows the below error:
[code]

Steps:
[code]

Pulsar broker log:
[code]

[2022-02-09 15:55] zhaoyajun2009 opened #14193 "[Python Client]Under the condition of python V2.7, after using pip to install the pulsar library, the production and consumption scripts in the sample cannot be executed"
Question:
Follow the documentation below：
https://pulsar.apache.org/docs/zh-CN/client-libraries-python/#installation-using-pip

Under the condition of python V2.7, after using pip to install the pulsar library, the production and consumption scripts in the sample cannot be executed, and the prompt NameError: name 'ModuleNotFoundError' is not defined is displayed.
In the same situation, there is no

[2022-02-09 22:00] flowchartsman commented on #14031
[code]

[2022-02-10 01:39] mattisonchao commented on #14031
@flowchartsman
What is your ``concurrentLookupRequest`` config value? it seems some resources block cause request timeout.

[2022-02-10 02:47] flowchartsman commented on #14031
[code]

[2022-02-10 06:16] Demogorgon314 opened #14203 "Flaky-test: BacklogQuotaManagerTest.testProducerExceptionAndThenUnblockSizeQuota"
BacklogQuotaManagerTest.testProducerExceptionAndThenUnblockSizeQuota is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/5134450317?check_suite_focus=true#step:9:585)

[code]

[2022-02-10 06:26] lhotari commented on #14183
Did the broker process restart after the OOM? It should terminated and get started again in the Pulsar Helm chart if there's
`-XX:+ExitOnOutOfMemoryError` in your JVM args for the broker? It's in the default `PULSAR_GC` options in the Apache Pulsar Helm Chart, https://github.com/apache/pulsar-helm-chart/blob/9613ee029290a23e512d5f247bef69faa6bf796a/charts/pulsar/values.yaml#L751 .
Are you using th

[2022-02-10 06:29] lhotari commented on #14180
The Pulsar client reconnects by default if the connection breaks. Did you experience some actual issue?
I hope this answers your question.

[2022-02-10 06:29] #14180 closed

[2022-02-10 06:35] youzipi commented on #14190
@startjava
event time is introduced here: https://github.com/apache/pulsar/wiki/PIP-5:-Event-time

event time is used to clarify the order which event happens in streaming processing.

for example, we have an order, it has 3 events ( by order of occurrence): `create`, `payed`,`cancel`.
we may receive the `payed` after `cancel`, with event time, we can make sure  final status is `canceled`.

simply

[2022-02-10 07:44] #13979 closed

[2022-02-10 08:56] startjava commented on #14190
可以确保最终状态是canceled，这句话是如何确保的，因为一个消息发过去后马上就消费了，按接收到message的顺序进行消费，如何保证cancel一定是在最后的，，加上event time也不能影响在网络中发送的顺序啊。感谢

[2022-02-10 08:56] startjava commented on #14190
@youzipi

[2022-02-10 09:00] gaozhangmin opened #14212 "[Producer] Producer cannot flush after back quota size not exceed."
I'm not sure if it's a bug. In my opinion, flush shouldn't fail  because of backlog quota exceed, as we had consumed all the backlog.

Reproduce test:
[code]

[2022-02-10 10:09] gaozhangmin commented on #14203
@Demogorgon314  PTAL

[2022-02-10 10:48] youzipi commented on #14190
in this case, you need manually check if the message is old.
you can also put a time field in message to achieve the same goal.

but why put event time in `metadata` but not `message` ？
it is convenient and efficient for developing future advanced features.
(we can get the field directly instead of deserialize and scan the whole message.)

you can check these in the `discusstion thread` in pip.

[2022-02-10 11:18] gaozhangmin commented on #14110
#14096  and this all related with `readModifyUpdateOrCreate` and `readModifyUpdate`
@lhotari

[2022-02-10 11:19] gaozhangmin opened #14219 "Flaky-test: org.apache.pulsar.functions.instance.state.PulsarMetadataStateStoreImplTest#testGetAmount"
https://github.com/apache/pulsar/runs/5138342143?check_suite_focus=true

[code]

[2022-02-10 11:40] gaozhangmin opened #14220 "Flaky-test: org.apache.pulsar.client.api.MemoryLimitTest#testRejectMessages"
https://github.com/apache/pulsar/runs/5138925372?check_suite_focus=true
[code]

[2022-02-10 11:44] gaozhangmin opened #14221 "Flaky-test: org.apache.pulsar.client.api.BrokerServiceLookupTest#testModularLoadManagerSplitBundle"
https://github.com/apache/pulsar/runs/5138925372?check_suite_focus=true
[code]

[2022-02-10 11:47] #14221 closed

[2022-02-10 12:51] leizhiyuan opened #14223 "sometimes msgbacklog size is not correct when restart"
**Describe the bug**

we restart a broker, then  one topic in the broker msgbacklog is wrong

**Expected behavior**

**Screenshots**
If applicable, add screenshots to help explain your problem.

<img width="912" alt="wecom-temp-54e6afcf38a6af5193306add7f17072f" src="https://user-images.githubusercontent.com/2684384/153411027-7e99b18c-7455-4c95-b4a4-c6bcfe736d14.png">

[code]

as we can see message

[2022-02-10 14:41] mattisonchao commented on #14223
@leizhiyuan  Hi, I can help with this issue.

Another question:

- Have you noticed that messages are lost in this case?

[2022-02-10 14:46] mattisonchao commented on #14223
@leizhiyuan

This counters are used to compute the ``numberOfEntries`` and ``numberOfEntriesInBacklog`` values, without having to look at the list of ledgers in the managed ledger. They are initialized to (-backlog) at opening, and will be incremented each time a message is read or deleted.

[2022-02-10 15:06] marksilcox commented on #13865
duplicate of https://github.com/apache/pulsar/issues/8407 ??

[2022-02-10 15:28] hangc0276 opened #14224 "Integrate package service with function"
**Is your enhancement request related to a problem? Please describe.**
Currently, I'm implementing PIP-117 https://github.com/apache/pulsar/issues/13302 , changing from using DistributedLog to using local filesystem to store the jars directly in the data folder instead of uploading them into BK.

However, I found the current function creation will directly store the jar file into DistributedLog by

[2022-02-10 15:38] ofek commented on #13865
That's the manifestation, this is the cause

[2022-02-10 16:06] tspannhw commented on #4096
I have made it work.   I disabled tests and examples for the build.     see my info and compiled executable.   This is on a RPI4.   https://github.com/tspannhw/PulsarOnRaspberryPi

[2022-02-11 02:44] JarvisZhu opened #14227 "broker开启function功能时的多集群跨地域复制问题"
pulsar集群1：10.66.107.31/32/33，每台服务器上一个broker实例、一个bookie实例
local zookeeper集群：10.66.107.34:2181,10.66.107.34:2182,10.66.107.34:2183

pulsar集群2：10.66.107.37/38/39，每台服务器上一个broker实例、一个bookie实例
local zookeeper集群：10.66.107.36:2181,10.66.107.36:2182,10.66.107.36:2183

共享的存储配置Zookeeper集群：10.66.107.35:2181,10.66.107.35:2182,10.66.107.35:2183

集群1的配置如下（以31为例）：
broker.conf：
zookeeperServers=10.66.107.34:2181,1

[2022-02-11 02:45] JarvisZhu opened #14228 "单集群function问题"
pulsar集群：10.66.107.31/32/33，每台服务器上一个broker实例、一个bookie实例
local zookeeper / configuration store集群：10.66.107.34:2181,10.66.107.34:2182,10.66.107.34:2183

以31为例：
broker.conf：
zookeeperServers=10.66.107.34:2181,10.66.107.34:2182,10.66.107.34:2183
configurationStoreServers=10.66.107.34:2181,10.66.107.34:2182,10.66.107.34:2183
brokerServicePortTls=6651
webServicePortTls=8443
advertisedAddress=10.66.107.3

[2022-02-11 05:03] gaozhangmin opened #14230 "Flaky-test: testConsumeTxnMessage"
https://github.com/apache/pulsar/runs/5151178465?check_suite_focus=true
[code]

[2022-02-11 05:04] #14230 closed

[2022-02-11 07:23] NiceChi opened #14233 "[Performance Tuning] The performance improvement of Apache pulsar has encountered a bottleneck. No matter how to modify the configuration parameters, the performance can not be effectively improved"
### Deployment environment

Apache pulsar is deployed in a standalone manner. The three components of zookeeper, bookkeeper and broker are deployed on the same server (8-core CPU, 16g memory and a 7200 RPM HDD). At the same time, this server is basically only used to run pulsar services

In addition, there are two other servers in the same LAN (the specificationof these two servers is consistent w

[2022-02-11 07:48] startjava opened #14234 "what mean about：boundary of batching delay"
https://pulsar.apache.org/docs/en/concepts-messaging/#routing-modes

Please note that round-robin is not done per individual message but rather it's set to the same boundary of batching delay, to ensure batching is effective.

[2022-02-11 08:00] NiceChi commented on #14234
当初看到这段话的时候也有同样的疑惑，现在回过头来看的话，我的理解是，这里面的轮询并不是只针对单个 message 的轮询，如果 producer 开启了 batch 的话，那就是以 batch 作为单位来进行轮询

不知道这么理解对不对

[2022-02-11 08:01] startjava commented on #14234
感谢，期待官方或大佬确认

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/pulsar"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年2月11日(星期五) 下午4:00
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nbsp;Re: [

[2022-02-11 08:06] NiceChi commented on #14233
### test result via pulsar-perf producer

08:13:19.198 [main] INFO  org.apache.pulsar.testclient.PerformanceProducer - Throughput produced:  875381 msg ---  87516.3 msg/s ---    683.7 Mbit/s --- failure      0.0 msg/s --- Latency: mean:  52.876 ms - med:  20.207 - 95pct: 249.615 - 99pct: 455.123 - 99.9pct: 502.465 - 99.99pct: 508.589 - Max: 508.685
08:13:29.746 [main] INFO  org.apache.pulsar.testc

[2022-02-11 08:16] eolivelli commented on #14233
hello, if you want to do performance testing I suggest you to:
- install the component on separate machines
- for write workloads the bottleneck is usually the disk of the Journal on the bookie, ensure to have a good disk
- usually it is better to enlarge the writeCache on the Bookie in conf/bookkeeper.conf:
[code]
- you can use partitioned topics in order to spread the load among several brokers,

[2022-02-11 08:22] ethqunzhong opened #14237 "[Security] Should Upgrade Log4j to 2.17.1 in Prometheus Client dependency"
**Describe the bug**
 #13552 has fix log4j2 security bug

after build pulsar source code
in generate dir, apache-pulsar-2.10.0-SNAPSHOT/lib
third party dependency lib as follow:
<img width="639" alt="image" src="https://user-images.githubusercontent.com/16517186/153557338-f775c4e6-edcd-48cf-ac6f-0e1d27f7fb11.png">

check this lib's pom.xml as follow, which log4j2 version is 2.1 low then 2.17.1
<im

[2022-02-11 08:22] shibd commented on #14234
That's right

[2022-02-11 08:25] startjava commented on #14234
那个什么批处理延迟和边界，代表什么意思呢

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/pulsar"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年2月11日(星期五) 下午4:23
***@***.***&gt;;
***@***.******@***.***&gt;;
主题:&nb

[2022-02-11 08:42] Shoothzj commented on #14237
#13785 is trying to solve this

[2022-02-11 08:56] ethqunzhong commented on #14237
thx reply.

[2022-02-11 08:56] #14237 closed

[2022-02-11 10:03] BohanZhang0222 opened #14239 "Kafka Source Connector "User class must be in class path" in pulsar sources localrun"
#### Expected behavior

按照官方示例：https://pulsar.apache.org/docs/en/io-kafka-source/
通过 sources localrun 的方式，试图完成kafka数据导入到pulsar。

#### Actual behavior

实际上，我的操作并没有成功。
出现报错：
java.lang.RuntimeException: User class must be in class path
	at org.apache.pulsar.common.util.Reflections.createInstance(Reflections.java:113) ~[org.apache.pulsar-pulsar-common-2.9.1.jar:2.9.1]
	at org.apache.pulsar.functions.i

[2022-02-11 11:12] gaozhangmin commented on #14224
Can I help with it?

[2022-02-11 11:37] sumingsoftware opened #14241 "初始化pulsar集群报org.apache.pulsar.metadata.api.MetadataStoreException: org.apache.zookeeper.KeeperException$ConnectionLossException: KeeperErrorCode = ConnectionLoss"
**Describe the bug**

初始化集群的时候报(throw below exception when initialize pulsar cluster)
19:07:45.000 [main-EventThread] INFO  org.apache.bookkeeper.zookeeper.ZooKeeperWatcherBase - ZooKeeper client is connected now.
19:07:45.138 [main-EventThread] INFO  org.apache.zookeeper.ClientCnxn - EventThread shut down for session: 0x10000099b690002
19:07:45.138 [main] INFO  org.apache.zookeeper.ZooKeeper - Se

[2022-02-11 12:12] andrekramer1 opened #14242 "WebSocket persistent subscriptions have batch messages not consumed."
With acknowledgmentAtBatchIndexLevelEnabled = false (default) and the Web Socket consumer builder set to builder.enableBatchIndexAcknowledgment(false) (again the default) and all messages acknowledged by the web socket client,
we see some messages not properly acknowledged and deleted from the subscription. If the subscribing web socket client disconnects and then reconnects to Web Socket tier it

[2022-02-11 16:17] aloyszhang opened #14247 "Delete rack configurations does not take effect for RackAware Placement Policy"
**Describe the bug**
For  RackAware Placement Policy configured with different racks, deleting the rack configuration of bookies will not take effect when creating a new ledger.

**To Reproduce**
Steps to reproduce the behavior:
1. Start some bookies and set to different bookies, like rack-1 contains bookie-1 and bookie-2, rack-2 contains bookie-3 and bookie4
2. set `bookkeeperClientMinNumRacksPer

[2022-02-12 04:03] Jason918 commented on #14234
Basically, switch to next partition every `batchingMaxPublishDelay`.

[2022-02-12 12:49] saveriogzz commented on #4096
Amazing work!! Thanks @tspannhw :1st_place_medal:

[2022-02-13 04:45] Jason918 commented on #14110
@lhotari Do you know how to download the surefile-artifacts of these CI workflow? From the summary it seems that it's missing but the log shows it's uploaded successfully.

<img width="1157" alt="image" src="https://user-images.githubusercontent.com/2770146/153739039-d182282d-8966-4406-938d-feb6f274becf.png">

[2022-02-13 15:02] RobertIndie commented on #13849
Another failure: https://github.com/apache/pulsar/runs/5173936162?check_suite_focus=true#step:11:646

[code]

[2022-02-14 01:06] freeznet commented on #14239
if you are following the pulsar's docs, you can try to remove the `--className` parameter when `localrun` or `create` the source connector.

[2022-02-14 01:39] Anonymitaet commented on #9410
Hi @momo-jun can you follow up on this doc? Thanks

[2022-02-14 06:10] BohanZhang0222 commented on #14239
去掉--className参数后，问题解决。

[2022-02-14 06:10] #14239 closed

[2022-02-14 06:40] lhotari commented on #14233
It is crucial for performance to use fast SSD disks for Zookeeper and Bookkeeper. Using spinning HDD disks with Pulsar is not recommended since performance can suffer.

If you cannot afford SSDs for all data, it's possible to use HDD disks for Bookkeeper ledger disks. Bookkeeper can use separate journal and ledger disks. When using HDD disks on bare metal, a battery backed write cache (BBWC) setup

[2022-02-14 06:41] OyuO opened #14262 "[Doc] How to enabled websocket when using mqtt over pulsar ?"
I can connect MOP by mqtt protocol, but I also need to connect it by browser. So I need to enable websocket, but I can find nothing

[2022-02-14 06:42] qmdx opened #14263 "org.apache.pulsar.shade.io.netty.channel.ConnectTimeoutException: connection timed out"
**Describe the bug**
org.apache.pulsar.shade.io.netty.channel.ConnectTimeoutException: connection timed out

**To Reproduce**
Steps to reproduce the behavior:
1. Connect a problematic pulsar server
2. The service falls into an endless loop, which affects the normal startup logic

**Expected behavior**
I hope this exception will not be blocked and the service can be started normally

[2022-02-14 06:53] algoqt opened #14264 "[2.9.1]python client define schema ,value 0 become None"
**Describe the bug**
python client define schema, Integer() Float() when set to 0 become unset ,see example code below?

`class Example(Record):
    a = String()
    b = Integer()
    c = Boolean()
    d = Float()

test1=Example(a='Hello1', b=1,d=0.0)
test2=Example(a='Hello2', b=0,d=5.3)

print(test1.b,test1.d)          # why test1.d is set to 0.0 then become None
print(test2.b,test2.d)

print(tes

[2022-02-14 07:05] Shoothzj commented on #14262
@OyuO I think you should open an issue in https://github.com/streamnative/mop, thanks

[2022-02-14 07:05] #14262 closed

[2022-02-14 07:50] Chaunceyan opened #14266 "[2.8.1] Geo-Replication Broker sometimes cannot sync the updated clusters set."
**Describe the bug**
I am using geo-replication on namespace level with version 2.8.1. Some time ago we changed the DNS record so the geo-replication failed. But there were already some topics created.
When I try to update the geo-replication config with the following command:
_bin/pulsar-admin clusters update ..._
_bin/pulsar-admin namespaces set-clusters_

The replication process does not recove

[2022-02-14 08:19] hangc0276 commented on #14224
@gaozhangmin Thanks for your help, I have assigned this issue to you.

[2022-02-14 09:46] lordcheng10 opened #14268 "[2.8.1] FGC and throw NPE"
**Describe the bug**
The phenomenon of our online problem is as follows:
**1. NPE exception:**
03:22:50.442 [BookKeeperClientWorker-OrderedExecutor-4-0] ERROR org.apache.bookkeeper.common.util.SafeRunnable - Unexpected throwable caught
java.lang.NullPointerException: null
        at org.apache.bookkeeper.mledger.impl.OpAddEntry.addComplete(OpAddEntry.java:153) ~[org.apache.pulsar-managed-ledger-2.

[2022-02-14 09:51] lordcheng10 commented on #14268
@eolivelli @codelipenghui @michaeljmarshall PTAL,thanks!

[2022-02-14 09:52] babatush commented on #6213
Can someone close this issue? @yjshen solution works fine.

[2022-02-14 09:58] youg9203 commented on #14191
Anyone can help here?

[2022-02-14 10:03] youg9203 commented on #13858
Yes, I have used terraform-aws and these configurations already in my `deploy-pulsar.xml file.

[2022-02-14 10:31] startjava opened #14270 "why enable acknowledgement timeout？？"
in doc：
https://pulsar.apache.org/docs/en/concepts-messaging/

If the consumption of a message fails and you want this message to be consumed again, then you can enable the automatic redelivery of this message by sending a [negative acknowledgement](https://pulsar.apache.org/docs/en/concepts-messaging/#negative-acknowledgement) to the broker or enabling the [acknowledgement timeout](https://pulsar

[2022-02-14 11:58] liangyuanpeng commented on #14263
How can we create `a problematic pulsar server`?

[2022-02-14 12:07] startjava opened #14272 "If the producer name is not set, is the default value "default"?"
Producer name：The name of the producer who produces the message. If you do not specify a producer name, the default name is used.

Whether this default value is default or other default values, please refer to the website:
https://pulsar.apache.org/docs/en/concepts-messaging/
“If you do not specify a producer name, the default name is used.”   Default does not use italics font

thank you !

[2022-02-14 12:15] gaozhangmin commented on #14272
the default name begin with `producer`. You can check the cod self.

[2022-02-14 12:30] #13408 closed

[2022-02-14 12:34] startjava commented on #14190
@youzipi 感谢！

[2022-02-14 12:51] startjava opened #14274 "Can customized the key-value in typedmessagebuilder class?"
Can customized the key-value in typedmessagebuilder class?

thank you

[2022-02-14 12:58] startjava opened #14275 "please Can briefly explain Avro"
pulsar doc say：
It is used to construct a message. You can set message properties such as the message key, message value with TypedMessageBuilder.
When you set TypedMessageBuilder, set the key as a string. If you set the key as other types, for example, an AVRO object, the key is sent as bytes, and it is difficult to get the AVRO object back on the consumer.

I don't know what Avro is, and google.

[2022-02-14 13:12] #5270 closed

[2022-02-14 13:13] #6259 closed

[2022-02-14 13:14] codelipenghui commented on #6576
Fixed by https://github.com/apache/pulsar/pull/11441

[2022-02-14 13:18] tuhaihe commented on #14275
@startjava Hi, welcome to join [Apache Pulsar slack](https://apache-pulsar.slack.com/) channel to ask. I think this issue shouldn't be labeled `type/bug`.

[2022-02-14 13:22] #12087 closed

[2022-02-14 13:23] #12356 closed

[2022-02-14 13:24] #12682 closed

[2022-02-14 13:29] #13717 closed

[2022-02-14 13:38] startjava commented on #14275
@tuhaihe  bu new issues  no has "type/question" option

[2022-02-14 13:43] BewareMyPower commented on #14275
You can use `help wanted` label.

[2022-02-14 13:45] #14270 closed

[2022-02-14 13:58] startjava commented on #14272
@gaozhangmin But I'm a beginner and haven't involved the code yet,

[2022-02-14 16:40] lzqdename opened #14281 "To optimize parallelism config in config file"
**Is your enhancement request related to a problem? Please describe.**
in config file of pulsar io ,
user can define the parallelism parameter,
but there is a problem, for example
In Mongodb Source, if this param is set to be 100000,
when run in local run mode,100000 threads generated, but apparently this is wrong
-
besides this, in Mongo Source ,the parallelism just shoud be 1,

based on the 2 re

[2022-02-15 00:46] #13444 closed

[2022-02-15 01:09] liudezhi2098 commented on #14274
https://pulsar.apache.org/docs/en/next/client-libraries-java/
[code]

[2022-02-15 01:46] qmdx commented on #14263
The client connects to a nonexistent server

[2022-02-15 01:51] Shoothzj commented on #14263
Can you show an endless loop *example/code piece*? It seems easy to construct, eg. connect to localhost:6650 without starting the pulsar server

[2022-02-15 02:23] leizhiyuan opened #14284 "when Consumer close,retryLetterProducer and deadLetterProducer will not close"
**Describe the bug**
when Consumer close,retryLetterProducer and deadLetterProducer will not close, it will produce

Topic reached max producers limit  for retry topic sometimes

**To Reproduce**

review the code

**Expected behavior**
when Consumer close,retryLetterProducer and deadLetterProducer will close

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (

[2022-02-15 02:38] qmdx commented on #14263
Netty keeps trying to connect to the server

Then it falls into a blocking cycle

[2022-02-15 02:44] Shoothzj commented on #14263
@qmdx Could you please provider a minal demo to reproduce?

[2022-02-15 02:52] #13922 closed

[2022-02-15 02:56] #13998 closed

[2022-02-15 02:59] momo-jun opened #14285 "[Doc search] Missing search results in 2.9.1 Documentation"
## Issue Description ##
When searching for "delayed message" in 2.9.1 documentation, we cannot get the correct search results as expected.
### Seach Results of 2.9.1 ###
![image](https://user-images.githubusercontent.com/60642177/153982180-89d7fa34-dd77-4003-87a2-a4e9a1416342.png)

### Seach Results of other versions ###
![image](https://user-images.githubusercontent.com/60642177/153982235-41fe074

[2022-02-15 03:39] startjava commented on #14274
@liudezhi2098 感谢

[2022-02-15 03:39] #14274 closed

[2022-02-15 05:17] lhotari commented on #14268
java.lang.NullPointerException: null
at org.apache.bookkeeper.mledger.impl.OpAddEntry.addComplete(OpAddEntry.java:153) ~[org.apache.pulsar-managed-ledger-2.8.1.2.jar:2.8.1.2]

This looks like a thread safety issue. There's #12606 which improves the situation slightly. The solution in #11387 would help address such issues in better way although that still has some gaps and possible issues.

[2022-02-15 05:40] lordcheng10 commented on #14268
The most confusing thing is why the FGC is triggered, and the thread pool execution time reaches the hour level：
`04:35:46.571 [bookkeeper-ml-scheduler-OrderedScheduler-18-0] WARN  org.apache.bookkeeper.common.util.OrderedExecutor - Runnable org.apache.bookkeeper.mledger.util.SafeRun$1@89aa735:class org.apache.bookkeeper.mledger.util.SafeRun$1 took too long 13450016 micros to execute.`

I even too

[2022-02-15 06:31] lhotari commented on #14268
What do you mean with "reaches the hour level"? [13450016 microseconds is 13,45 seconds](https://www.google.com/search?q=12721684+microseconds+to+seconds) .

[2022-02-15 06:36] lhotari commented on #14268
With FGC, do you mean "Full GC"? The GC log tells the reason why Full GCs get triggered. GC logging was added by #7498 . Have you checked the GC log entries?

[2022-02-15 06:38] lhotari commented on #14268
Yes, #12993 could help addressing the NPE. Have you the behavior with Pulsar 2.8.2 which includes #12993?

[2022-02-15 06:55] lordcheng10 commented on #14268
Aha,I was wrong, it was 13.45 seconds .

[2022-02-15 07:04] tomscut commented on #14171
@codelipenghui After this [PR#14071](https://github.com/apache/pulsar/pull/14071), the issue seems to have been solved.

[2022-02-15 07:11] lzqdename opened #14290 "some params not supported"
**Describe the bug**

/root/pulsar/pulsar-2.9.1-bin/bin/pulsar-admin sources localrun \
--source-config-file /root/pulsar/pulsar-2.9.1-bin/connectors/mongo-source-config.yaml \
--state-storage-service-url=bk://127.0.0.1:4181/
Was passed main parameter '--state-storage-service-url=bk://127.0.0.1:4181/' but no main parameter was defined in your arg class

Run a Pulsar IO source connector locally (ra

[2022-02-15 07:13] lordcheng10 commented on #14268
I didn't test 2.8.2, only found NPE in 2.8.1

[2022-02-15 07:14] lordcheng10 commented on #14268
I didn't test 2.8.2, only found NPE in 2.8.1

[2022-02-15 07:27] qmdx commented on #14263
@Shoothzj  @liangyuanpeng

The consumer normally initializes the access address `http://localhost:8080/` and returns OK

When the pulsar service is unavailable, the access address cannot be used, or the service cannot be started

[pulsar-demo.zip](https://github.com/apache/pulsar/files/8066728/pulsar-demo.zip)

[2022-02-15 07:31] lzqdename commented on #14290
my format is wrong,close it!

[2022-02-15 07:31] #14290 closed

[2022-02-15 07:41] lordcheng10 commented on #14268
The gc log of the node in question is not saved. I found some FULL GC logs from other FULL GC logs on the line, but these nodes are not continuously FULL GC:
2022-02-15T12:45:47.604+0800: 423715.809: [Full GC (Allocation Failure)  23G->10G(24G), 11.4667426 secs]
   [Eden: 0.0B(12.0G)->0.0B(12.0G) Survivors: 0.0B->0.0B Heap: 23.9G(24.0G)->10.6G(24.0G)], [Metaspace: 65542K->65542K(1114112K)]
 [Times

[2022-02-15 07:45] lordcheng10 commented on #14268
I uploaded the dump file to Baidu Cloud Disk, which can be downloaded here:
https://pan.baidu.com/s/1qNMQFS5QtpkwcKpOlK5HiA
Extraction code: cvgr

[2022-02-15 07:56] geomagilles commented on #14285
FYI, the email to contact for assistance is: documentationsearch@algolia.com

[2022-02-15 08:28] james-bright-helix commented on #14079
@mattisonchao let me know if you need help reproducing as this issue blocks our upgrade to a version with a safe log4j dependency

[2022-02-15 08:38] iamqq23ue opened #14291 "[Doc] How does pulsar achieve synchronous replication of data across IDCs for disaster recovery?"
### What issue do you find in Pulsar docs?

geo-replication can only replicate data asynchronously.

If bookkeeper is deployed across IDCs, there is no way to ensure that entry replicas are distributed in different

IDCs

Is there a better disaster recovery plan?

### What is your suggestion?

I hope there can be an official disaster recovery plan.

### Do you have any references?

no

### Would y

[2022-02-15 08:51] startjava opened #14292 "help/want：what mean "total number of batches"？"
Batching
When batching is enabled, the producer accumulates and sends a batch of messages in a single request. The batch size is defined by the maximum number of messages and the maximum publish latency. Therefore, the backlog size represents the total number of batches instead of the total number of messages.

help/want：what mean "total number of batches"？the "total number" represents byte unit ?

[2022-02-15 08:55] #14247 closed

[2022-02-15 09:08] congbobo184 opened #14294 "Error: could not open `{testJacocoAgentArgument}'"
If run testNG in local throw this issue, we need to change the config of this idea.  uncheck argLine

![image](https://user-images.githubusercontent.com/39078850/154028702-619da70a-55a9-4894-86be-8b27c7f24704.png)
link https://github.com/apache/pulsar/pull/14278

[2022-02-15 09:20] #14294 closed

[2022-02-15 09:21] lhotari commented on #14294
I found the IntellIJ bug that is marked as fixed although it's not resolved.

[2022-02-15 09:25] lhotari commented on #14294
This seems to be the open bug in IntelliJ https://youtrack.jetbrains.com/issue/IDEA-278750

[2022-02-15 09:30] codelipenghui opened #14295 "Adding Ectd integration tests"
**Is your enhancement request related to a problem? Please describe.**
Pulsar supports Ectd as metadata service backend in https://github.com/apache/pulsar/pull/13225
It's better to have an integration test to use ectd as the metadata service of bookkeeper and pulsar.

[2022-02-15 09:43] gaozhangmin commented on #14295
@codelipenghui  Please assign to me.

[2022-02-15 10:41] yaalsn commented on #14264
This bug is same with https://github.com/apache/pulsar/issues/12485, and it'll be fixed in 2.9.2 version https://github.com/apache/pulsar/pull/12489/files.

[2022-02-15 10:42] #14110 closed

[2022-02-15 11:09] lhotari commented on #14013
I didn't receive a reply to my questions. I have taken these sync->async changes to discussion on the mailing list in the 2.10.0 release thread. https://lists.apache.org/thread/ggsywqsvwpb1yw8wh490mp8mbgzgxch5 .

[2022-02-15 11:22] ethqunzhong opened #14298 "change pulsar.log.level in log4j2.yaml not work?"
change pulsar.log.level in log4j2.yaml not work?

**Describe the bug**
i modify the value of `pulsar.log.root.level` and `pulsar.log.level` from `info` to `warn` in `conf/log4j2.yaml` without restart broker service.
as follow:
<img width="336" alt="image" src="https://user-images.githubusercontent.com/16517186/154048409-e4c3acd6-5e79-4293-842c-a1ff95ca2c45.png">

as this issue discribe [Add abilit

[2022-02-15 11:54] eolivelli commented on #14298
Did you try with 2.9 or current master?

Usually I use a ENV property
Also if you are using Pulsar standalone the only way is to use the ENV property

[2022-02-15 12:01] ethqunzhong commented on #14298
i use 2.7.2 version in product environment and modify log4j2.yaml manual without restart broker. ENV property use default value when deploy broker service.
i will try use Pulsar standalone for a test later. thx suggest.

[2022-02-15 19:56] EronWright opened #14304 "CommandLookupTopic.advertisedListenerName may be blank"
**Describe the bug**
Some of the language bindings supply an empty string for the `advertisedListenerName` field of `CommandLookupTopic` (e.g. [Java](https://github.com/streamnative/pulsar/blob/2d092374e189093cce7c792dd31bf9290a3e7d82/pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java#L820-L822) vs [Golang](https://github.com/apache/pulsar-client-go/blob/d7b4299758f3dacc44

[2022-02-15 19:58] prime-minister-of-fun opened #14305 "Debezium Demo Doesn't Work with 2.9.1 and Aurora 5.x"
On either amd64 or arm64 Ubuntu images, https://debezium.io/blog/2019/05/23/tutorial-using-debezium-connectors-with-apache-pulsar/ doesn't work.

Tests before running.  Pod can connect to AWS with mysql client.

Steps to reproduce:
Download pulsar binaries, extract.  https://dlcdn.apache.org/pulsar/pulsar-2.9.1/apache-pulsar-2.9.1-bin.tar.gz
export environment variables, JAVA_HOME, PULSAR_HOME
sta

[2022-02-15 20:11] prime-minister-of-fun commented on #14305
Here's the output from running pulsar standalone.  I stopped it towards the end:

`2022-02-15T20:07:57,250+0000 [main] INFO  org.apache.pulsar.zookeeper.LocalBookkeeperEnsemble - Running 1 bookie(s) and advertised them at 127.0.0.1.
2022-02-15T20:07:57,343+0000 [main] INFO  org.apache.pulsar.zookeeper.LocalBookkeeperEnsemble - Starting ZK server
2022-02-15T20:07:57,443+0000 [main] INFO  org.apache

[2022-02-15 22:17] michaeljmarshall commented on #14304
https://github.com/apache/pulsar/blob/2d092374e189093cce7c792dd31bf9290a3e7d82/pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java#L820-L822

@EronWright - were you able to reproduce this issue with the Java client? Based on the code you reference, it looks like the `advertisedListenerName` would be null unless a "non blank" string is used.

I can see in the Go client, we a

[2022-02-15 23:50] EronWright commented on #14304
@michaeljmarshall thanks for the review.  I believe that `hasAdvertisedListenerName` would return true for any value, including `null`.

I'm trying to write a test into `ServerCnxTest`, may be challenging, stand by.

[2022-02-15 23:50] leizhiyuan opened #14307 "expose git info to endpoint of webservice"
**Is your enhancement request related to a problem? Please describe.**

1. now ,we only print the info to log, but when we want to inspect the git info after a while, the log maybe deleted .

<img width="720" alt="image" src="https://user-images.githubusercontent.com/2684384/154168970-68a78434-d774-45da-acce-e151186b87be.png">

2. if we want to expose rop and aop info to this endpoint, now it is i

[2022-02-16 00:38] loganloganlogan commented on #13235
From our weekly website call, we are close to launch.

Next steps:
- Submitting to website-next repo
- Li Li to resolve changes that were conflicting w/ local build
- Constantia team to do final site QA/proof in staging environment
- Group to make any final modifications
- Li Li to merge and update new site

[2022-02-16 02:17] mattisonchao opened #14310 "Flaky-test: BatchSourceExecutorTest. testPushLifeCycle"
BatchSourceExecutorTest.testPushLifeCycle is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/5209454617?check_suite_focus=true)

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
testPushLifeCycle(org.apache.pulsar.functions.source.batch.BatchSourceExecutorTest)  Time elapsed: 300.009 s  <<< FAILURE!
org.testng.internal.thread.ThreadTimeoutEx

[2022-02-16 02:49] fu-turer opened #14311 "creat ledger timeout and thread BookKeeperClientWorker in stuck"
**Describe the bug**
we found many timeout logs when creating producer or sending message.like this,we creat a new topic and then build a producer to send message:
[code]
we check the stack trace of create ledger and found that when creating ledger complete it can't get the thread `BookKeeperClientWorker ` to do callback's work

![image](https://user-images.githubusercontent.com/25685998/154185897