[2019-06-03 18:25] merlimat commented on #4449
@scpeters Thanks for reporting this and for giving the pointer to the workaround solution. We'll apply the same change here.

[2019-06-03 21:36] tschmidt64-SC commented on #3211
I am still getting this issue in 2.3.2

[2019-06-04 03:27] hellozepp commented on #4432
I'm interested in trying to solve this issue, tks

[2019-06-04 03:57] #4449 closed

[2019-06-04 05:48] jiazhai opened #4456 "include sasl-client jar into server distribution"
sometimes, user may use sasl client directly, e.g. use cli command `bin/pulsar-client`,  and if sasl-client not included in,  it may meet error like this:

![WechatIMG311](https://user-images.githubusercontent.com/6348208/58854244-54c41680-86cf-11e9-962d-02f7d3be53ef.png)

[2019-06-04 08:56] joshuayan commented on #4394
same issue on 2.3.2

[2019-06-04 10:28] wolfstudy opened #4464 "[Go Client] The default value of batch is always true"
**Describe the bug**

In java and cpp client, the default value of `batch` is `true`, but in go client the value is `false`.

In `c_producer.go` file:

[code]

Because the implementation of the go client depends on the cpp client, in the above code, when the user sets the value of batch to `false`, the batch of the go client is still true. So, no matter how the user sets it, the batch is always tr

[2019-06-04 13:03] zhaijack opened #4466 "token auth not work well for non-persistent topic get"
**Describe the bug**
This happens in 2.3.2
user report token auth not worked well for non-persistent topic get

when token auth configured, get tentant and get namespace both worked well, but get non-persistent topic failed:
![WechatIMG175](https://user-images.githubusercontent.com/26834121/58881190-40523f00-870c-11e9-89eb-362ec97ccb47.png)

![WechatIMG172](https://user-images.githubusercontent.co

[2019-06-04 13:10] bbonnin opened #4467 "Lists all Functions deployed in a given namespace using API does not work"
**Describe the bug**
Context: the function workers are not in the brokers.
When invoking the service URL of a function worker to get the list of deployed functions in a given namespace, the response is 404 Not Found (while there are functions deployed).

**To Reproduce**
Steps to reproduce the behavior:
1. Run a function worker
2. Deploy a function using the admin url of the function worker
3. Get

[2019-06-04 14:48] jiazhai opened #4469 "standalone failed to start for token auth in function worker client"
**Describe the bug**
when it is setting to use token authn, standalone pulsar will failed to start because of function worker authentication fail.

it happens like this:
standalone will start function `WorkerService`, then `WorkerService` will create a pulsar client to create topics. But this pulsar client is not properly configured, and caused failure when it connects to server

![image](https://

[2019-06-04 14:49] jiazhai commented on #4469
@jerrypeng  Would you please help take a look of this?

[2019-06-04 18:42] #4456 closed

[2019-06-04 21:28] tschmidt64-SC opened #4472 "Logging Spew"
**Is your feature request related to a problem? Please describe.**
As far as I can tell the Java client's logging is not configurable. This results in constant spew of DEBUG level logs:
[code]

**Describe the solution you'd like**
Would be great for the Log level to be configurable at least.

[2019-06-04 21:31] merlimat commented on #4472
@tschmidt64-SC Pulsar client library uses SLF4J for logging. The logging configuration will depend on your logger implementation (eg. Log4J, Logback, etc...).

[2019-06-05 03:09] jiazhai commented on #4469
will work on a fix

[2019-06-05 04:14] ypyf opened #4474 "Failed to create token"
**Describe the bug**
When create a token, the pulsar attempts to decodes the url of provided key instead of its content.

**To Reproduce**
Run: `bin/pulsar tokens create --private-key ./my-private.key --subject test-user`

**Expected behavior**
Outputs token.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - O

[2019-06-05 04:50] #4474 closed

[2019-06-05 05:35] wolfstudy opened #4476 "[Go client]MessageID output order error"
**Describe the bug**

MessageID output order error

**To Reproduce**

`PulsarApi.proto` file definition:

[code]

test code (enable batch and batch size is 5, the topic no partition) :

[code]

We can see that the order of `batch_size` is opposite to the order of `partitions`.

**Expected behavior**

[code]

[2019-06-05 08:08] ayolivia opened #4478 "Expect perf producer to publish non-empty buffer and use load from a multi-lines file"
Currently, perf producer publishes empty buffer of certain size, it may confuse someone using `pulsar-client consume` like below:

[code]
Furthermore, it uses the whole payload in a file which has multiple lines. It would be better to publish non-empty buffer and use load from a multi-lines file.

[2019-06-05 10:26] murong00 opened #4480 "Specify zk chroot path failed when initialize cluster metadata"
When trying to initialize cluster metadata via the following shell:
[code]
and the config in `bookkeeper.conf` likes this:
[code]
It doesn't work well as below:
[code]
As a workaround, you should `create /kobe` through the zk shell at first, it is better to avoid to create the prefix path manually.

[2019-06-05 11:17] sxcooler opened #4481 "a little change needed of pulsar cli"
**Is your feature request related to a problem? Please describe.**
When I tried to use pulsar cli to test my code, send a json string to a topic, like this:
[code]
But the default behavior of pulsar-client produce is use comma as separator to divide messages, so my json divided into several messages which I didn't want to, like this:
[code]
And I couldn't find any way to escape the comma(backslash

[2019-06-05 12:37] k2la commented on #4447
**To Reproduce**

Execute following command:

[code]

[2019-06-05 13:07] nkurihar commented on #4447
It seems that all `pulsar-web` threads are trying to execute `getPartitionedStats`, however there are no more "free" threads which can respond topic stats for partitions (`<topicname>-partition-0`,  `<topicname>-partition-1`, `<topicname>-partition-2`, ...)

[2019-06-05 16:24] #4476 closed

[2019-06-05 16:35] hellozepp commented on #4432
#4482

[2019-06-05 17:40] rdhabalia commented on #4447
@nkurihar do you see any exception in the log specially related to async-zk-cache?

[2019-06-05 18:21] rdhabalia commented on #4447
@nkurihar i think #4484 will help to avoid deadlock in broker.

[2019-06-05 23:42] merlimat commented on #4447
While #4484 is fine, I think we should rather use the async REST  handler for this operation

[2019-06-06 00:33] rdhabalia commented on #4447
I don't think that will help much because broker is not using async servlet and web-thread has to wait till it receives all the async responses for all partitions. so, in that case also, broker has to add timeout on the blocking call to avoid deadlock.

[2019-06-06 00:36] merlimat commented on #4447
We can use async handler for the partitioned topics stats. That will not block the Jetty thread in the first place

[2019-06-06 02:42] nkurihar commented on #4447
@rdhabalia @merlimat
Thank you for your help!

No, I don't see exceptions related to async-zk-cache.

[2019-06-06 03:25] rdhabalia commented on #4447
yes..let me make the change.

[2019-06-06 04:06] rdhabalia commented on #4447
@merlimat @nkurihar created #4487

[2019-06-06 04:28] jiazhai commented on #4478
Thanks @murong00 for help on this

[2019-06-06 05:44] #4464 closed

[2019-06-06 06:53] yjshen opened #4488 "[Schema][AVRO] Unable to read fields of java built-in types defined in POJO class"
**Describe the bug**
`AvroSchema` and `GenericAvroSchema` cannot read POJO field's of java built-in types, `GenericAvroSchema` lose all java built-in fields' value when read, and `AvroSchema` will lose part of them,  `BitSet` for example.

**To Reproduce**
[code]
For `ca`, `dt` can be read, `bs` is empty
For `cb`, both `dt` and `bs` is empty

[2019-06-06 06:59] #4478 closed

[2019-06-06 07:24] hellozepp commented on #4397
I've got the same error.
[https://builds.apache.org/job/pulsar_precommit_java8/9586/testReport/junit/org.apache.pulsar.broker.service/ReplicatorRateLimiterTest/testReplicatorRateLimiterMessageReceivedAllMessages/](url)
`
org.apache.pulsar.client.admin.PulsarAdminException$ConflictException: Namespace already exists
	at org.apache.pulsar.client.admin.internal.BaseResource.getApiException(BaseResour

[2019-06-06 07:29] yjshen opened #4489 "[Schema][AVRO] Unable to encode POJO class with byte[] fields"
**Describe the bug**
When send a POJO with `byte[]` field, `UnresolvedUnionException` is thrown. It's because byte[] array are regarded as `array` in avro, but a `bytes` type in `schemaInfo`.
[code]

**To Reproduce**
[code]

[2019-06-06 15:47] #4379 closed

[2019-06-06 17:25] KIC opened #4490 "pulsar transient maven dependencies have conflicts"
**Describe the bug**
It is not possible to use pulsar-broker as a maven dependency.

**To Reproduce**
Steps to reproduce the behavior:
create maven pom file
[code]

it then fails due to:
[code]

**Expected behavior**
dependency loaded

[2019-06-06 17:38] jerrypeng commented on #4490
@KIC this is caused by transient dependencies depending on slightly different versions of grpc-core.  Please explicitly set he versions of those dependencies in your pom.  Please refer to:

https://github.com/apache/pulsar/blob/master/pom.xml

[2019-06-06 18:21] KIC commented on #4490
indeed adding this dependencies works:
[code]

[2019-06-06 18:21] #4490 closed

[2019-06-06 20:17] #4469 closed

[2019-06-07 00:24] nkurihar commented on #4447
@rdhabalia
We internally patched your 2 PRs and found that the issue no longer occurs.
Thank your for your great job!

[2019-06-08 19:30] benstadin opened #4497 "Security: Always fetch latest curl and OpenSSL releases for client lib"
The client cpp Docker build currently downloads a fixed version of curl and OpenSSL. I propose to use the always latest versions when building the fat client lib.

The latest curl release is available on the developer homepage (I did not find a way without bas scripts to download the latest version easily from Github):
https://curl.haxx.se/metalink.cgi?curl=tar.gz

For OpenSSL there is a OpenSSL_1

[2019-06-09 04:07] hungndiam opened #4498 "Seperate name of namespaces, topics from its parent"
I'm on a frond-end project to manage Pulsar by Angular.
When I call API, received Namespace is: _**public/default**_ : _**public**_ is tenant, but the name actually is **_default_**. Or with Topic _**persistent://public/functions/assignments**_: topic is _**assignments**_

#### Expected behavior

I want to have APIs to get topics, namespaces with their properties like

  {
    "name": "metadata",

[2019-06-09 06:30] sijie commented on #3453
This has been addressed by #3714

[2019-06-09 06:30] #3453 closed

[2019-06-09 06:31] sijie commented on #3565
this  has been fixed by #3622

[2019-06-09 06:31] #3565 closed

[2019-06-09 14:15] liketic commented on #4481
I think there are two things we can do for this:
1. split messages with another separator line \n.
2. add support for loading messages from file.

@jiazhai Which one do your prefer? Or both.

[2019-06-10 01:53] #4408 closed

[2019-06-10 07:07] KIC opened #4501 "Pulsar functions should be able to return none and multiple values"
First of all, I love pulsar functions it is almost exactly what I have always wanted to build. Just alone and as a hobby project I never really finished it. So I am really happy someone else did it! However I am missing one important feature.

**Is your feature request related to a problem? Please describe.**
As I understand the current implementation of pulsar functions is a 1:1 relation ship. On

[2019-06-10 11:41] f7753 commented on #1964
CentOS 7 still has this issue
[code]

[2019-06-10 12:15] ambition119 commented on #4489
Upgrading avro 1.9.0 can solve this issue, such as my PR. But because pulsar has a lot of reliance on avro, whether it needs to be upgraded or not, if everyone agree to upgrade, I can reopen PR.

[2019-06-10 12:45] codelipenghui opened #4503 "Consumer stop consume messages in Exclusive subscription"
**Describe the bug**
Subscription has backlog but consumer can't consume messages.

Here is topic internal stats:
[code]
and topic stats:
[code]
When i peek messages by pulsar admin, i got timeout error. check the broker's log, found some exceptions logs:
[code]

**Pulsar version**
broker: 2.3.2
client: 2.3.1

[2019-06-10 14:32] liangyuanpeng opened #4504 "[cpp]not clear log"
**Describe the bug**

 i try to code
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to
[code]

2. change
[code]
  to
[code]

3. run SampleProducer

4. See error
[code]

**Expected behavior**

print ```No such trustCertFile```

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]

**

[2019-06-10 21:34] sleungtoast opened #4506 "Compressed batch payload size reported incorrectly in Java client"
**Describe the bug**
In a batch and compression enabled producer, the uncompressed size of each message remains in the OpSendMsg, (`op.setBatchSizeByte(batchMessageContainer.currentBatchSizeBytes);`)
instead of the compressed size, which is correctly set for non-batch messages (`op.setBatchSizeByte(encryptedPayload.readableBytes());`). These are inside `ProducerImpl.java`.

Consumer stats also rep

[2019-06-11 06:38] jiazhai opened #4508 "2.3.2 website content is not aligned with code"
the content of 2.3.2 website is not aligned with code.
like [`negative acknowledgement `](https://pulsar.apache.org/docs/en/concepts-messaging/#acknowledgement-timeout) is not in 2.3.2 code, but is in the documentation.
The main reason is that the website is always cut from master. It should cut 2.3.2 base on 2.3.1 instead of master.

[2019-06-11 07:09] yjshen opened #4509 "[Documentation][Client Lib Configuration] A full list configuration for Producer/Consumer/Client on website"
**Is your feature request related to a problem? Please describe.**
Currently, when I am building a Java consumer, and want to check all available configurations. I am asked to `see the Javadoc for the ProducerBuilder class`. However, when I have checked that doc, I still need to know what kind of configuration should I pass to `loadConf(Map<String,Object> config)`. It's really frustrate.

**Descri

[2019-06-11 08:45] codelipenghui opened #4510 "A host can't connect and won't try other hosts again in multi-hosts service url configuration"
**Describe the bug**
Use "pulsar://host1:6650,host2:6650,127.0.0.1:6650" as service url to create a pulsar client, "host1" and "host2" is the wrong hosts, not every time I can successfully connect to "127.0.0.1:6650".

**To Reproduce**
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your p

[2019-06-12 01:27] KannarFr opened #4515 "Offload if retention is expired"
**Describe the solution you'd like**
Do you think it's possible to trigger offload depending on retention (or maybe other word)?

Currently we can auto-offload only on storage size, but retention means storage size and/or duration, so I looking to offload on these two conditions or one of them.

WDYT?

[2019-06-12 01:50] tiankangkan commented on #3423
We need this feature ...

[2019-06-12 06:15] miton18 opened #4516 "Strange HTTP verbs on admin API"
**Describe the bug**
I often use rest APIs and there is something disappointing in Pulsar admin one.

When you want to [create a tenant](https://github.com/apache/pulsar/blob/8b2929b3e5403fb44653976dc74be287666f7b96/pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/TenantsBase.java#L83):
`PUT /admin/v2/tenants/{tenant}`

And when you want to [update](https://github.com/apache/pulsar/

[2019-06-12 08:06] wolfstudy commented on #1964
You can update clang-format version, because in CMakeLists.txt:

[code]

Or, we can ignore `make check-format`.

---

Then in `apachepulsar/pulsar-build:centos-7` image, when i exec `make -j12`, error as follows:

[code]
I tried to exec `yum install -y libstdc++-static.x86_64`, this problem was fixed.

[2019-06-12 09:08] sijie commented on #4324
It seems like a question than a bug. @wolfstudy can you help check the issue here?

[2019-06-12 10:23] wolfstudy commented on #4324
You can comment out the operation of [seek()](https://github.com/Jim-Lambert-Bose/go-test-pulsar-consumer/blob/master/consumer_test.go#L83) and continue to execute it.

[code]

[2019-06-12 11:07] ivankelly commented on #3121
@adamdyga probably related. If I remember correctly, you have to change the bookie deployment to be a stateful set and tell bookkepeer to use the hostname as the advertised address and to use persistent volumes for the bookkeeper storage. I'm not sure if this works with minikube, but it works well for us with kind [1] (with rancher local storage [2])

[1] https://kind.sigs.k8s.io/
[2] https://gith

[2019-06-12 14:57] KannarFr opened #4522 "pulsar function update: reduce parallelism"
**Describe the bug**
When using `bin/pulsar-admin function update` with option `--parallelism` doesn't work to reduce the parallelism.

[2019-06-12 16:34] jerrypeng commented on #4522
@KannarFr we have integration tests for this and I just tested this on latest master.  Reducing the parallelism is working as it should.

Can you list the command you are trying to run and what happens when you run the command?  And what is your deployment environment like?  What version of Pulsar are you using?

[2019-06-13 02:26] #4347 closed

[2019-06-13 02:47] codelipenghui commented on #4432
@hellozepp Are you working for this issue?
@sleungtoast Can we move this issue to next milestone(2.4.1 or 2.5.0)?

[2019-06-13 03:07] hellozepp commented on #4432
@codelipenghui Yes,There are some changes that need to be confirmed.

[2019-06-13 07:32] sijie commented on #4334
@gopalvd does my last comment help?

[2019-06-13 07:43] sijie commented on #4337
@rcastagnet which version are you using? there were bunch of prometheus related changes merged in master.

[2019-06-13 07:50] hellozepp commented on #4391
Hi~, @KannarFr and @sijie ,I tried write a unit test, but can not reproduce this issure. What have I lost?
`
@Test(timeOut = testTimeout)
    public void testReRunExclusiveAckedNormalTopic() throws Exception {
        String key = "testExclusiveAckedNormalTopic";
        final String topicName = "persistent://prop/use/ns-abc/topic-" + key;
        final String subscriptionName = "my-ex-subscriptio

[2019-06-13 07:53] f7753 commented on #1964
After pulled the latest docker images and the source code of pulsar-client-cpp, as @wolfstudy refered above, it works well for me now. Thanks

[2019-06-13 07:56] gopalvd commented on #4334
Yes.. we were able to implement the geo-replication successfully and we are trying the security authentication now. We need to configure the TLS server for that. Working on that. But thanks alot for the help on the geo-replication.

[2019-06-13 08:04] #1964 closed

[2019-06-13 08:05] sijie commented on #4383
This is fixed by #4388

[2019-06-13 08:05] #4383 closed

[2019-06-13 08:10] sijie commented on #4422
@murong00 I saw you fixed this by updating the documentation. do you think we still need to make the improvement here?

[2019-06-13 08:14] sijie commented on #4394
@joshuayan @guozili520 can you share more about your configuration? Are you running broker with Tls enabled?

[2019-06-13 08:17] sijie commented on #4391
@hellozepp

In your test, try to ack some messages but don't ack the others messages. then you stop the consumer and create a new consumer to receive the messages. you will see the similar behavior.

[2019-06-13 08:19] sijie commented on #4386
@phuongtailtranminh how do you submit the python function?

[2019-06-13 08:23] sijie commented on #4441
@shiv4289 are you interested in sending the pull request to pulsar?

[2019-06-13 08:25] sijie commented on #4423
@vivekpd15 currently the documentation about this part is missing.

However since Pulsar SQL is effectively Presto, you might be able to checkout presto documentation to setup HA for Pulsar SQL.

For example: https://coding-stream-of-consciousness.com/2018/12/29/presto-coordinator-high-availability-ha/

[2019-06-13 08:31] sijie commented on #4481
2 sounds a good option to start. because 1 will change some default behaviors which can involve backward compatibility discussion.

[2019-06-13 08:35] sijie commented on #4489
@ambition119 +1 for upgrading to 1.9.0. I think `byte[]` is commonly used for representing `bytes` type.

[2019-06-13 08:38] sijie commented on #4506
@sleungtoast maybe we can have two different metrics, one for compressed, the other for the raw bytes?

[2019-06-13 08:46] sijie commented on #4501
@KIC sounds a good proposal

[2019-06-13 08:49] sijie commented on #4497
@benstadin Could using latest version introduce instability to the build system?

[2019-06-13 08:50] wolfstudy commented on #4339
This issue is related to [https://github.com/apache/pulsar/pull/4475](https://github.com/apache/pulsar/pull/4475) , because batch does not work correctly. This issue has been fixed.

[2019-06-13 08:50] #4339 closed

[2019-06-13 08:51] sijie commented on #4508
I think this is a problem related to the framework. We need to think about how to improve it.

[2019-06-13 08:51] sijie commented on #4508
Can we manually fix the 2.3.2 issue?

[2019-06-13 08:56] sijie commented on #4515
@KannarFr can you explain more on the requirements?

[2019-06-13 08:58] wolfstudy opened #4525 "Not enough non-faulty bookies available when sending a message that exceeds defaultMaxMessageSize"
**Describe the bug**

Link the issue to https://github.com/apache/bookkeeper/issues/2357

All configurations are the default configuration.
After starting, send a message that exceeds `defaultMaxMessageSize`, pulsar's broker is unavailable.

**To Reproduce**

test code:

[code]

error as follows:

[code]

**Expected behavior**

When I send a message that exceeds the maximum message allowed by puls

[2019-06-13 09:00] sijie commented on #4516
@miton18 thank you for raising this up. we can consider bumping the api version and changing the behavior following the rest world. Are you interested in contributing a change for it?

[2019-06-13 09:15] sijie commented on #4334
@gopalvd Glad that your problem is resolved.

[2019-06-13 09:15] #4334 closed

[2019-06-13 09:17] #4447 closed

[2019-06-13 09:18] f7753 commented on #1964
BTW, when I compile these code in docker environment, I use the default CPU resource settings， and then I compile with the param -j12, it would throw the error below:
[code]
So, if you see the log above, please make sure that your compile params match the docker resource settings.

[2019-06-13 09:37] murong00 commented on #4422
In practice most users prefer to start bookie in the background especially in production environments, so it would be better to support this. However, as discussed with @jiazhai , the original intention of `bin/pulsar` is to use `pulsar_env.sh`, therefore I'm not sure it's appropriate to pass the `BOOKIE_EXTRA_OPTS` in `bin/pulsar`. If this way can be accepted I can make a PR trying to address thi

[2019-06-13 09:47] phuongtailtranminh commented on #4386
I submitted the Python Function using Pulsar Client Admin

[2019-06-13 10:06] sijie commented on #4386
@phuongtailtranminh are you running a Pulsar standalone?

[2019-06-13 10:08] sijie commented on #4422
I think it would be great to have ability  to configure BOOKIE_EXTRA_OPTS in pulsar_env.sh. So that all pulsar scripts can work seamless with bookkeeper.

[2019-06-13 10:20] phuongtailtranminh commented on #4386
@sijie , yup

[2019-06-13 11:35] benstadin commented on #4497
I think it is, but I've found other security related issues as well in other libraries. I think the best way would be to build from the maintained package source, and just add -fPIC to the build environment:

https://www.cmiss.org/cmgui/wiki/BuildingUbuntuPackagesFromSource

I also tried to update the Dockerfile in the pulsar-client-cpp/docker folder manually. But it fails early:

[code]

[2019-06-13 12:26] KannarFr commented on #4515
@sijie offloading depends on size only can it depends on size + duration?

[2019-06-13 12:31] sijie commented on #3715
The problem was due to the StickyRead feature introduced in bookkeeper since 4.9.0. Pulsar 2.3.0 turns on this feature by default.

I am fixing this issue. At the same time, for people who encountered this issue, you can disable sticky read on broker to get around it.

[code]

[2019-06-13 13:28] sleungtoast commented on #4506
That sounds reasonable.

[2019-06-13 13:30] sleungtoast commented on #4432
@codelipenghui Yes we have a workaround so we are not blocked on this.

[2019-06-13 15:36] KannarFr opened #4527 "pulsar-broker: topics stats storage field (offloaded and bookie)"
**Describe the solution you'd like**
On topic's stats, it could be a good idea to split storageSize in two fields, one for offloadedSize, and bookieSize? WDYT?

[2019-06-13 15:52] raulnegrean commented on #4162
@sijie I'm having the exact same issue. As mentioned in the documentation, I'm deploying the zookeeper stateful set first and then, as soon as the pods are up and running, I'm deploying the cluster metadata job. Next, I'm deploying the bookie daemon set, and that's when I'm getting the aforementioned exception:

[code]

Also, here's a list of all the available  resources:

[code]

[2019-06-13 17:20] jerrypeng commented on #4501
@KIC thank you for taking the time to think about how to improve Pulsar Functions!

Just to clarify somethings

You are able to return "null" in a function for filtering purposes

We can have such an interface

To send a message to any topic from a function:

[code]

This method returns a CompletableFuture.  You can always wait for the CompletableFuture to complete before updating the state.   If

[2019-06-13 17:28] hellozepp commented on #4391
@sijie Glad to get your help. I tried to either just ack a partial messages and then rerun consumer, or to switch to the `2.3.2` API using the standalone mode. The `Java` code did not reproduce this problem.

I consider this problem to be the result of the `scala` library, and I find that if I don't call `seek(messageId: MessageId): Unit` or `consumer.seekEarliest()` , `consumption,consumer.receiv

[2019-06-14 00:10] #4504 closed

[2019-06-14 01:28] #4480 closed

[2019-06-14 02:46] ambition119 opened #4530 "AvroSchema withAlwaysAllowNull false encode occur SchemaSerializationException: java.lang.NullPointerException"
**Describe the bug**
[code]
this class avro Schema should be:
[code]
but AvroSchemaTest.testAllowNullEncodeAndDecode avro schema is :
[code]
`{"name":"fieldUnableNull","type":["null","string"],"default":"defaultValue"}` when fix code like：
[code]
the avro schema is correct `{"name":"fieldUnableNull","type":"string","default":"defaultValue"}`， but avroSchema.encode occur exception：
[code]
**To Repr

[2019-06-14 03:52] Anonymitaet commented on #4344
I've created a PR (https://github.com/apache/pulsar/pull/4531) to fix this.

[2019-06-14 06:08] KIC commented on #4501
@jerrypeng thanks for the clarification, I did not get that returning null is an option :-)

regarding returning multiple events, I am not saying it is impossible but it is a bit trickier then that:

Imagine if you have 10 futures 5 completed 5 failed
You did not store the state (you would only if all futures completed)
You throw an exception
Function restarts (EFFECTIVELY_ONCE)

Now you have the

[2019-06-14 10:26] sijie commented on #3715
moved this to 2.5.0 since it is unlikely we will get the fix in time.

[2019-06-14 10:37] sijie commented on #3715
sticky read will be disabled by default in 2.4.0. it should be good enough.

[2019-06-14 10:49] #4530 closed

[2019-06-14 12:54] hellozepp opened #4535 "[pulsar-client] NPE in UnAckedMessageTrackerDisabled#size()"
**Describe the bug**
NPE in UnAckedMessageTrackerDisabled#size()

If `ackTimeout` is not set, `unAckedMessageTracker` will be assigned the value `UNACKED_MESSAGE_TRACKER_DISABLED`.

Look `UnAckedMessageTrackerDisabled` not Override the `size()` method.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a consumer and do not set `ackTimeout`
2. Call the size() use the following code.
`((C

[2019-06-14 14:46] vivekpd15 commented on #4423
@sijie Thanks for the info.

[2019-06-14 17:01] Jim-Lambert-Bose opened #4537 "Go client: Missing ability to retrieve MessageID from pulsar.ProducerMessage"
**Describe the bug**
There's no way to get the MessageID after publishing a pulsar.ProducerMessage.
This should be available and is documented here: https://pulsar.apache.org/docs/en/client-libraries-go/#producer-operations
[code]
**Expected behavior**
I think, this is a defect and is available in other clients that wrap the C++ library

**Additional context**
pulsar v2.3.1 go client and libpulsar

[2019-06-14 23:01] KannarFr commented on #4391
@hellozepp it is. So when you run these tests, the second shouldBe fails (and this is the good behavior)?

[2019-06-15 00:03] #4535 closed

[2019-06-15 18:10] chethanuk-plutoflume opened #4540 "Pulsar Client has no support in Mac 10.14.5 (18F132) ?"
**Describe the bug**
Python Pulsar Client say import _pulsar ImportError Reason: image not found

**To Reproduce**
Steps to reproduce the behavior:
In Mac: pip install pulsar-client --upgrade

python consumer.py
[code]

**Desktop (please complete the following information):**
 - OS: Mac 10.14.5 (18F132)

**Additional context**
Tried in both normal env and Conda env: 3.7, 2.7

Whats the possible so

[2019-06-17 02:27] ambition119 commented on #4489
Because avro is just released 1.9.0, many still use 1.8.2, such as `flink-avro`. If we upgrade, pulsar will have some changes, such as` org.joda.time.DateTime`.

[2019-06-17 02:48] ne1000 opened #4543 "FailedCreatePodSandBox for bookie pods"
bookie is not running in  the binary packages installed k8s cluster

#### Actual behavior

  Warning  FailedCreatePodSandBox  <invalid> (x229097 over 2d)  kubelet, worker04  (combined from similar events): Failed create pod sandbox: rpc error: code = Unknown desc = failed to start sandbox container for pod "bookie-7t642": Error response from daemon: driver failed programming external connectivity

[2019-06-17 09:34] KannarFr opened #4545 "offloaded: outbound traffic >>> inbound traffic"
Hi, how works consumption of offloaded messages and how "healthchecks" offloaded works?

The reason of this questions is: I've got big traffic outbound traffic 165GB for 2GB inbound traffic, I think it's quite normal as pulsar checks its offloaded storage when a consumer is on the corresponding topic. But I would like to know how it works with a schema or something or a quote/location of related c

[2019-06-17 17:09] KannarFr opened #4547 "set offload bucket per topic and per tenant/namespace"
**Describe the solution you'd like**
Do you think it's easy to set s3 bucket for offload to topic level and tenant/namespace instead of cluster level? (i.e. be able to configure one bucket per topic, and one bucket per tenant/namespace).

[2019-06-18 01:03] #4137 closed

[2019-06-18 01:03] #2720 closed

[2019-06-18 01:04] #3763 closed

[2019-06-18 01:17] langep opened #4550 "Dashboard shows data only after running pulsar-admin command (docker, standalone)"
**Describe the bug**
I am using docker-compose to run pulsar in standalone mode together with dashboard. However, my dashboard stays empty until I run `bin/pulsar-admin clusters list` inside the pulsar container.

**To Reproduce**
Steps to reproduce the behavior:
1. Create docker-compose.yaml
[code]

2. Run `docker-compose up`
3. Go to `http://locahost` and check the dashboard. It does not show da

[2019-06-18 02:47] murong00 opened #4551 "Failed to build c++ client at first time in linux"
**Describe the bug**
Following the [doc ](http://pulsar.apache.org/docs/en/next/develop-cpp/), someone may encounter the below building error:
[code]

**Desktop (please complete the following information):**
 - OS:ubuntu16.04

[2019-06-18 06:22] Jennifer88huang opened #4554 "[docs] Improve the structure of Pulsar Functions"
**Is your feature request related to a problem? Please describe.**
I'm a little confused when searching information on Pulsar Functions. The content is scattered in different sections and does not integrate as a whole. Meanwhile, some information duplicates in *Overview* and other sections. It's a little bit frustrating to read the docs as a new user.

**Describe the solution you'd like**
I want t

[2019-06-18 06:25] sijie commented on #4554
@srkukarni @jerrypeng @jiazhai @wolfstudy @rdhabalia can you guys help review @Jennifer88huang 's proposal on improving the functions doc?

[2019-06-18 06:37] murong00 commented on #4422
@sijie Nice suggestion. I made a pull request trying to address this, please take a look.

[2019-06-18 06:56] KannarFr commented on #4522
@jerrypeng okay, all my bad it works.

[2019-06-18 06:56] #4522 closed

[2019-06-18 07:05] #4551 closed

[2019-06-18 09:26] sijie commented on #4543
@ne1000 from the error message, it doesn't seem to be a pulsar problem. It looks like one of your kuberenetes worker had problem?

[2019-06-18 09:28] sijie commented on #4545
@KannarFr pulsar broker will to read the messages from offloaded segments when a topic consumer wants the messages. so it will consume inbound bandwidth to load the messages from S3 to brokers.

[2019-06-18 09:29] KannarFr commented on #4545
@sijie You mean outbound?

[2019-06-18 09:35] sijie commented on #4545
@KannarFr

I mean it consumes both inbound and outbound.

the inbound bandwidth for loading the messages from S3 to broker.
the outbound bandwidth for dispatching the messages from brokers to consumers.

[2019-06-18 09:38] KannarFr commented on #4545
Oh, but I was talking about bandwidth on bucket not on broker.

[2019-06-18 09:39] KannarFr commented on #4545
Anyway, same idea.

[2019-06-18 09:39] KannarFr commented on #4545
But huge consumption of bucket outbound.

[2019-06-18 09:42] sijie commented on #4550
@langep the current dashboard is using stats for displaying the resources. so when you run some operations on the cluster, the stats will be showing up and the dashboard will be able to collect stats and display the dashboard correctly.

[2019-06-18 09:45] sijie commented on #4545
@KannarFr

yes it is outbound bandwidth of buckets. but if you are going to read data from offloaded segments, don't you need to read those buckets and once you are reading those buckets, it is going to consume the outbound bandwidth, no? Is there any other approach to avoid outbound bandwidth on the buckets?

[2019-06-18 10:05] KannarFr commented on #4545
Ok, it was to be sure. You are right.

[2019-06-18 10:05] #4545 closed

[2019-06-19 01:56] Jennifer88huang commented on #4554
Is there any suggestion on the proposal?

[2019-06-19 02:05] jerrypeng commented on #4554
@Jennifer88huang I would change:

1. Function Worker -> Deployment or Cluster Deployment?
Since first timers would even know what "Function worker" is.

2. Deploy -> Function Deployment?
For more info on how to run functions.

While I am ok with having separate headings/pages for Java, Python, and Go functions, we can also have them together but just have different examples for different languages

[2019-06-19 02:47] Jennifer88huang commented on #4554
@sijie Any thoughts on this?

Sure, we can change it as "Function Deployment".

@jerrypeng It's great suggestion to adopt this structure. Smart idea.
Do you know how to implement the switch pattern on our website? I mean switch between "Java/Python/Go examples".

[2019-06-19 03:11] #4422 closed

[2019-06-19 08:47] guillaume-braibant opened #4558 "Add warning : Apache Pulsar Configuration / Bookie / minorCompactionInterval property"
**Problem**

minorCompactionInterval value must be greater than gcWaitTime. If it is not the case, bookie will crash at startup. This is not indicated either in Bookkeeper Documentation nor in Apache Pulsar Configuration documentation. A warning for this in the minorCompactionInterval  description section would be welcome.

**Source of the problem**

https://github.com/apache/bookkeeper/blob/maste

[2019-06-19 09:02] rcastagnet commented on #4337
@sijie I installed prom/prometheus:v2.4.0 on AKS.
I'll try with v2.10.0.

[2019-06-19 10:03] jiazhai opened #4560 "when authentication enabled pulsar-admin topics list will fail for nonpersistent topics"
**Describe the bug**
when user enable authentication, pulsar-admin topics list will fail.
![image](https://user-images.githubusercontent.com/6348208/59756375-2d1ea200-92bc-11e9-984a-5d4e9a66688b.png)

in the code path, persistent topic list could pass the auth, but nonPersistent topic will fail with error code 401

![image](https://user-images.githubusercontent.com/6348208/59756464-563f3280-92bc-1

[2019-06-19 10:30] skyrocknroll commented on #4550
@sijie When we restart all the brokers we don't see any topics or namespace in the dashboard. Only after producing and consuming the topic the topics appear in the dashboard. is it expected or bug  ?

[2019-06-19 11:01] ne1000 commented on #4543
@sijie Thank you for reminding me. There is something wrong with the worker. I have fixed it.

[2019-06-19 12:05] rcastagnet commented on #4337
v2.10.0 prometheus version fix this problem, thank you

[2019-06-19 21:52] sijie commented on #4554
IMO "Deployment" and "Function Deployment" will confuse users.

I actually have a slight different opinion after looking into the documentation of Azure Functions. I think we should differentiate the audience when categorizing the documentations

Here is the layout I suggest.

- [ ] Overview : Basically describe the concepts for Pulsar Functions. This is for all audiences.
- [ ] Setup: Setup or co

[2019-06-20 05:46] sijie opened #4563 "Python client send a 'null' schema data for StringSchema"
**Describe the bug**

Python client uses `json.dump(None)` to generate the schema info for StringSchema. It causes the python client sends a schema info with "null" schema data.

**Expected behavior**

Python client should send empty schema data for primitive schema types.

[2019-06-20 05:48] sijie commented on #4563
The problem was identified when working on #4360

[2019-06-20 06:10] langep commented on #4550
@sijie I see. I wasn't sure if this is the default behavior. I definitely saw resources showing up when they got used.

[2019-06-20 06:11] murong00 opened #4564 "Broker can't start when enable kerberos running with functions"
**Describe the bug**
If running functions with brokers and enable kerberos authentication, broker can't start due to the following auth error:
[code]

[2019-06-20 07:03] sijie commented on #4550
@skyrocknroll @langep this is the current implementation as it is using stats for the dashboard. to change this behavior, it might require a rewrite of the dashboard. I know there are teams looking into implementing a new dashboard. for example, [pulsar-express](https://github.com/bbonnin/pulsar-express) is one of the efforts. although I haven't looked deeply how it was implemented yet.

[2019-06-20 11:07] easyfan opened #4569 "C++ client producer sendAsync() method will be blocked forever, if enough batched messages sent timeout."
**Describe the bug**
C++ client producer sendAsync() method will be blocked forever, if enough batched messages sent timeout.
**To Reproduce**

1. Using the following producer configures:
setBatchingEnabled(true)
setBlockIfQueueFull(true)
setSendTimeout(100) (shorter timeout interval would help reproduce the issue)
2. Producing huge plant of messages (better in a pressure test env.);
3. Try to mad

[2019-06-20 12:52] wolfstudy commented on #4537
Thank you for pointing this out. The documentation here is incorrect. The `MessageID` field needs to be obtained after the consumer receives the message. You can try the following way:

[code]

[2019-06-20 13:01] jiazhai commented on #4560
looking and debugging into the code,
*this issue happens under this condition*
1. broker enable authentication.
2. broker not set ”brokerClientAuthenticationPlugin" and "brokerClientAuthenticationParameters“

*this issue happens like this*
1. user use pulsar-admin topics list to get all the topics, and internally this command will send request for both persistent and non-persistent rest endpoint.

[2019-06-20 13:03] jiazhai commented on #4560
To fix this issue, user may need to provide settings of ”brokerClientAuthenticationPlugin" and "brokerClientAuthenticationParameters“ in `broker.conf`

[2019-06-20 13:06] wolfstudy commented on #4537
@Jim-Lambert-Bose This problem will be solved in this [pull:4571](https://github.com/apache/pulsar/pull/4571).

PTAL thanks.

[2019-06-20 13:30] Jim-Lambert-Bose commented on #4537
While I agree that fixing the docs is the expedient way to resolve the issue, it doesn't fix the problem: there's no way to get the `msgID()` after publishing a message.  Without this `ID` there's no way to trace a message from producer to consumer (think distributed tracing).  I'm guessing that the `ID` has to be attached to the message as it's published, so Pulsar just needs to return it to the

[2019-06-20 15:30] #4537 closed

[2019-06-20 15:33] #4564 closed

[2019-06-20 20:15] jerrypeng commented on #4554
+1 on the structure @sijie proposed

[2019-06-21 01:46] yjshen opened #4573 "[managed-ledger] create bookkeeper client during ManagedLedger shutdown"
During `ManagedLedgerFactoryImpl.shutdown()`, the zookeeper client is closed first and when `isBookkeeperManager`, it will get a bookkeeper from `bookkeeperFactory.get()` which result in creating new BookKeeper client using closed zk client, which caused this bug.

[code]

[2019-06-21 01:50] yjshen commented on #4573
@rdhabalia could you please take a look at this? It seems it's caused by #3933?

[code]

[2019-06-21 02:28] Jennifer88huang commented on #4554
Great, we can adopt the new structure.
Only one question, what's the differences between "Configure runtime" in the Admin part and "configure" in the developer part?

[2019-06-21 02:40] shenweiran opened #4574 "Unable to publish data to Topic in this format"
We use Pulsar of 2.3.2 and enable JWT authorization. Client publishers use the Topic of this format, such as 'persistent://public/default/weather/001/025/0015/C', to report the following error:

org.apache.pulsar.client.api.PulsarClientException: java.util.concurrent.CompletionException: org.apache.pulsar.client.api.PulsarClientException$AuthorizationException: Don't have permission to connect to

[2019-06-21 02:44] shenweiran commented on #4574
When I disable the JWT authentication in the pulsar broker, it works fine.

[2019-06-21 02:49] sijie commented on #4554
@Jennifer88huang

It is the administrator's job to configure the runtime. the configuration is applied to the whole cluster.

"configure" a function means specifying the input, output, resources and etc when submitting a function. it is a per-function configuration.

[2019-06-21 02:59] codelipenghui commented on #4558
Thank you for your feedback, more instructions should be added to the bookie configuration file.

[2019-06-21 03:27] Jennifer88huang commented on #4554
@sijie Thank you for clarifying it, so the "configure Functions runtime" parts we already have had in our website belongs to Admin part. And the "configure" section for developer part is much like user configuration info.

[2019-06-21 04:11] sijie commented on #4554
@Jennifer88huang well it is also a bit different from the "Admin" part. "Configure Functions runtime" is more related to the "Deployment" section.

[2019-06-21 06:13] Jennifer88huang commented on #4554
Sounds a little tricky, I'll check the information and re-adjust it.
@wolfstudy  Any thoughts on Sijie's proposal?

[2019-06-21 06:38] shenweiran commented on #4574
Found the reason：
![图片](https://user-images.githubusercontent.com/1320933/59902973-43e70500-9432-11e9-959c-b91a45aa23da.png)

[2019-06-21 06:39] #4574 closed

[2019-06-21 08:29] KannarFr commented on #4547
I think the best should have a default bucket which is defined in `broker.conf` and be able to configure one bucket per tenant and/or tenant/namespace and/or tenant/namespace/topic. Then when offload is threw, it will take the more specified defined. WDYT?

[2019-06-21 11:31] easyfan commented on #4569
Root cause: a simple mistake in pulsar/pulsar-client-cpp/lib/ProducerImpl.cc:

The reserved spots for all individual messages in a batch message (just reserved, not occupied by pushing in) did not be released in the case of batching message sent failure (sent timeout or any other failure cases), which was processed by `ProducerImpl::failPendingMessages(...)`

[2019-06-21 18:19] sschepens commented on #981
@sijie we've been experiencing this, we're running the same pulsar version as the reported, but using bookkeeper 4.7.2.

We're seeing these logs on the broker side:
[code]

On bookkeeper side, we don't see much, we only see these logs:
[code]
We have ensableSize: 3, writeQuorum: 3, ackQuorum: 3.
When we inspect these ledgers, the appear as `length: 0, lastEntryId: -1, state: IN_RECOVERY`

This see

[2019-06-21 22:40] rdhabalia commented on #4573
@yjshen it seems issue happens when application tries to create managed-ledger-factory using [self-managed-bk-constructor](https://github.com/apache/pulsar/blob/master/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerFactoryImpl.java#L121) which constructor is not used by broker.
I have created a PR: #4580 which will fix this issue.

[2019-06-23 14:36] liketic commented on #4481
@sxcooler Which version are you using? I didn't reproduce this bug on master branch.

[2019-06-23 14:58] liketic opened #4584 "[spark streaming] Support spark direct stream"
Currently, we only support receiver stream. See https://spark.apache.org/docs/2.2.0/streaming-kafka-0-8-integration.html#approach-2-direct-approach-no-receivers

[2019-06-23 14:59] liketic opened #4585 "[spark streaming] support spark structured streaming"
Spark structured streaming is the latest program mode of spark streaming, see https://spark.apache.org/docs/latest/structured-streaming-programming-guide.html

[2019-06-24 02:40] sxcooler commented on #4481
I was using 2.3.2 on Mac.

[2019-06-24 02:45] sijie commented on #4585
@yjshen has implemented a comprehensive connector for spark, which included schema integration. He will share the details at Pulsar meetup at Shenzhen this Saturday. If you are interested in it, come and join us.

He will contribute back to the community after the meetup.

[2019-06-24 02:55] yjshen opened #4586 "[Consumer] Subscribe and read from a single partition of a PartitionedTopic will get MessageId's partitionIdx as -1"
When we subscribe to a single partition from a partitioned topic, received messages will have all their `MessageId`'s `partitionIndex` as -1, instead, they should have `partitionIdx` set correctly.

[2019-06-25 01:44] sijie commented on #4540
Ah I see. we didn't upload the python clients for mac for 2.3.2 release. Can you try 2.3.1 client to get around the problem for now?

@jerrypeng since you were releasing 2.3.2, can you please check why we didn't upload the python clients for mac for 2.3.2?

2.3.2: https://pypi.org/project/pulsar-client/2.3.2/#files
2.3.1: https://pypi.org/project/pulsar-client/2.3.1/#files

[2019-06-25 01:45] #4543 closed

[2019-06-25 01:48] sijie commented on #4558
@codelipenghui @guillaume-braibant can you guys help create an issue at apache/bookkeeper project?

it seems to be a simple change. Are you guys interested in contributing code to apache/bookkeeper?

[2019-06-25 01:49] stevenwangnarvar opened #4589 "In Go client 2.3.2, can't get re-delivered message after add AckTimeout in ConsumerOptions"
**Describe the bug**
In Go client, after I set ack timeout in the consumer side; when I send messages and didn't ack them, I can't get the re-delivered messages

**To Reproduce**
[code]

**Expected behavior**
I can get re-delivered message.

**Screenshots**
[code]

**Desktop (please complete the following information):**
 - OS: Linux

**Additional context**
In Java Client I can get re-delivered me

[2019-06-25 01:55] sijie commented on #4560
@jiazhai do we need to improve the documentation for this?

[2019-06-25 01:57] sijie commented on #4584
See comment at https://github.com/apache/pulsar/issues/4585#issuecomment-504836970

[2019-06-25 01:58] sijie commented on #4573
It is fixed by #4580

[2019-06-25 01:58] #4573 closed

[2019-06-25 01:59] sijie commented on #4589
@wolfstudy If you have time, can you help with the go client issue?

[2019-06-25 02:17] codelipenghui commented on #4558
@sijie I have added related issue in bookkeeper.

[2019-06-25 03:25] wolfstudy opened #4593 "[Start Standalone Error] In the case of wifi connection, /bin/pulsar standalone is not working properly"
**Describe the bug**
In the case of a **WI-FI** connection, when I use `./bin/pulsar standalone` to start pulsar, I get the following error:

[code]

Then i tried to solve this problem with  `./bin/pulsar standalone -a 127.0.0.1`, unfortunately, I still encountered the same error.

However, this problem will not occur when you disconnect all connected networks (eg: wifi)

**To Reproduce**

This pr

[2019-06-25 03:59] wolfstudy commented on #4589
@stevenwangnarvar hello, I didn't find the problem with the code you provided above. The acktimeout you set is 60s. When the 60s arrives and the message has not been acked, it will be received again.

[code]

[2019-06-25 04:02] stevenwangnarvar commented on #4589
Hi @wolfstudy , did you use partition topic or non-partition topic? The issue occurs on partition topic.

[2019-06-25 04:03] tuteng commented on #4002
Reference https://github.com/apache/pulsar/issues/4593

[2019-06-25 04:03] wolfstudy commented on #4589
i use non-partition topic

[2019-06-25 12:33] bardock opened #4599 "Errors with empty ledgers"
In some escenarios, when a broker instance crashes, we find IN_RECOVERY ledgers like this one:

[code]

Causing errors like these:

[code]

[code]

[code]

Also, when empty ledgers are marked as under-replicated, they slow down the entire replication process.

We found that manually deleting these empty ledgers fixes both problems.

Do you know if a newer version of pulsar fix this issue?

#### Sy

[2019-06-25 12:44] bardock commented on #4599
related to #981

[2019-06-25 19:37] #4558 closed

[2019-06-25 21:29] prakashsaraf7 commented on #4489
I have encountered same issue, any plans of upgrading Avro in release 2.4.0? Or any ETA?

[2019-06-26 01:21] liketic opened #4601 "pulsar connector for clickhouse"
ClickHouse is an open source column-oriented database management system capable of real time generation of analytical data reports using SQL queries. It's would be great if we can sink data from pulsar to clickhouse.

[2019-06-26 03:19] yjshen opened #4602 "[Schema] SchemaInfo properties are lost"
When created a schema like
[code]
and get schema using
[code]

`siReturn` I got doesn't contain `__charset` properties that `StringSchema.utf8().getSchemaInfo` contains.

[2019-06-26 03:36] sijie commented on #4489
@prakashsaraf7 2.4.0 is under releasing. so we probably don't want to change the avro version for 2.4.0. we will do it for the master, which can go with 2.5.0 and 2.4.1 (if needed).

[2019-06-26 04:07] MarvinCai commented on #1267
Part of the problem has been fix by https://github.com/apache/pulsar/pull/2954, now dispatcher will sort consumer based on priority level and consumer name then distributed sub for partitioned topic evenly through all consumers with same priority level.
For non partitioned topic the problem described is still there, I have a pr to fix active consumer for FailOver subscription on non partitioned to

[2019-06-26 09:15] Jennifer88huang opened #4606 "[doc] Refine the framework and implement language-specific code tabs"
**Is your feature request related to a problem? Please describe.**
We will adopt new structure for Pulsar Functions, as proposed in #4554, so we need new framework and implement language-specific code tabs for Java, Go, and Python languages.

**Describe the solution you'd like**
We can refine the framework, refer to https://docusaurus.io/docs/en/doc-markdown

[2019-06-26 09:17] Jennifer88huang commented on #4606
@tuteng Could you please help refine the framework? Thank you very much.

[2019-06-26 10:57] congbobo184 opened #4607 "[pulsar-sql] Pulsar SQL deserializes Avro schema message is incorrect"
Now, Pulsar SQL read Avro schema message by the last schema of the topic, this will cause errors in messages that read the old schema

[2019-06-26 11:01] congbobo184 commented on #4607
I will fix it.

[2019-06-26 11:20] tuteng commented on #4606
Ok, I will try to upgrade docusaurus to 1.11.1 later

[2019-06-26 18:01] avatart93 opened #4608 "Spark streaming receiver for python"
**Is your feature request related to a problem? Please describe.**
I would like to be able to use python's AI frameworks like tensorflow, scikit-learn or Apache Systemml from a Spark streaming app, but there is no pulsar-spark streaming receiver for python that allow me to achieve this.

**Describe the solution you'd like**
I would like this (https://pulsar.apache.org/docs/v2.0.1-incubating/adapto

[2019-06-26 19:53] aahmed-se commented on #4608
Why not just use the pulsar functions python framework ?
https://pulsar.apache.org/docs/en/functions-api/

[2019-06-26 19:55] aahmed-se commented on #4601
A basic with jdbc will be very simple a tighter integration will be harder , what level of capability do you need ?

[2019-06-26 20:28] avatart93 commented on #4608
I am not a Spark expert, neither a Pulsar one, but I think I couldn't achieve with Pulsar functions half the stuff I could with a processing specific framework like Spark, maybe even Flink or Storm. Pulsar does a lot, but processing isn't one of its strongest capabilities (My own believe at this moment, if a Pulsar expert differs with my opinion, please open my eyes). So, been able to migrate my b

[2019-06-26 20:34] one70six opened #4610 "pulsar-admin cli: pulsar functions api issues after changing function parallelism > 1"
**Describe the bug**
Pulsar v2.3.2

Commands such as the following work as long as your function has a parallelism of 1...
`$PULSAR_HOME/bin/pulsar-admin functions getstatus --tenant public --namespace default --name exclamation`

The results on the functions worker logs show a good return of:
`"GET /admin/v3/functions/public/default/exclamation/status HTTP/1.1" 200 354 "-" "Pulsar-Java-v2.3.2" 14

[2019-06-26 21:02] one70six opened #4612 "Pulsar proxy not routing https requests to function workers"
**Describe the bug**
Pulsar v2.3.2

After following the Pulsar documentation from the following link, [Configure Proxies for Functions-workers](https://pulsar.apache.org/docs/en/functions-worker/#configure-proxies-for-functions-workers), to run functions workers on separate machines outside the brokers, any pulsar-admin cli request to functions results in the following error:

`Function worker ser

[2019-06-26 23:22] sijie commented on #4599
Are those machines in the ledger alive during recovery?

[2019-06-27 01:20] yjshen commented on #4608
Hi @avatart93 , we've already developed a Spark-Pulsar Connector that allows you to read/write data from/to Pulsar using Spark's new data source API, it can be used in Java and Python quite similar with [Structured Streaming + Kafka Integration Guide](https://spark.apache.org/docs/latest/structured-streaming-kafka-integration.html). Moreover, life will be easier since we also integrate Pulsar Sche

[2019-06-27 01:40] liketic commented on #4481
@sxcooler 2.4.0 is on the way. I would like to suggest you try 2.4.0 once it's released.

[2019-06-27 02:50] sxcooler commented on #4481
Thanks a lot!

[2019-06-27 02:50] #4481 closed

[2019-06-27 03:02] hungndiam opened #4618 "Return empty object of Namespace Isolation Policies instead of PulsarAdminException$NotFoundException"
**Describe the bug**

API: _**/admin/v2/clusters/{cluster}/namespaceIsolationPolicies**_ returns _**PulsarAdminException$NotFoundException**_ after creating new cluster
This is not an exception while cluster is just created.

**Expected behavior**

Return `{}` if not exist.

[2019-06-27 04:28] Jennifer88huang commented on #4606
thank you very much.

[2019-06-27 06:10] tuteng commented on #4610
I tested in the latest version and version 2.3.2, but I didn't find this problem. I don't know what else the broker reported wrong

[2019-06-27 07:34] jerrypeng opened #4619 "Improve REST API for Pulsar Functions/Sources/Sinks"
Currently, the REST API for creating and updating Pulsar Functions/Sources/Sinks is complicated and hard for users to use.  There are many awkward aspects of the current REST API that complicates using the REST API

1. The current REST API requires parameters to submitted via FORM data which is non-standard for REST Interfaces since the FORM data is usually used when submitting data from forms on

[2019-06-27 07:35] jerrypeng commented on #4619
@sijie @merlimat @cckellogg please comment.  Thanks!

[2019-06-27 13:09] sijie commented on #4619
+1 LGTM

[2019-06-27 13:57] tuteng opened #4622 "[pulsar-dashboard]Dashboard report MultipleObjectsReturned"
**Describe the bug**
If cross-regional replication is turned on, the same Topic will appear, Django uses get_object_or_404  will throw  an exception MultipleObjectsReturned

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
In case of duplicate data, the information will be displayed normally.

**Screens

[2019-06-27 14:03] bardock commented on #4599
Yes. We also tried restarting all ensemble members.

[2019-06-27 15:15] avatart93 commented on #4608
Thanks a lot for your answer @yjshen I look forward to see this in next releases, although I don't see any milestones for this integration. Is this somewhat prioritized right now?

[2019-06-27 15:57] grantwwu opened #4626 "Python Pulsar client producer send should return messageId"
**Is your feature request related to a problem? Please describe.**
The Python client does not return a Message ID for `send` on producers.  `send_async` also seems to return a bogus message ID.

**Describe the solution you'd like**
Match the behavior of the Java Pulsar client, which is documented to return a message ID.

**Describe alternatives you've considered**
Outside of horrendous hacks invol

[2019-06-27 17:40] #1267 closed

[2019-06-27 17:47] #4602 closed

[2019-06-27 20:58] Mrdigs opened #4629 "Ability to publish and acknowledge messages atomically"
I have a consumer that transforms messages consumed on one topic and produces messages on another topic. Clearly I cannot acknowledge the consumed message until I have published the transformed message.

The issue I have is in how to handle a situation where for message cannot be acknowledged due to some spurious situation where the produced message has already been sent, because if the acknowledg

[2019-06-27 21:00] Mrdigs opened #4630 "Netty Connector chunks request bodies into separate messages"
When the Netty connector is configured in HTTP mode, messages longer than 1024 bytes are produced as separate messages.

I've double checked with ngrep: one HTTP POST results in multiple messages. I'm using a topic with a JSON schema and it errors when trying to consume a message because the message content is not a fully formed JSON message as it is cut off, with the remainder of the JSON string

[2019-06-27 21:16] Mrdigs opened #4631 "HTTP request headers and URL parameters in Netty connector message properties"
I need to be able to at least access the values of certain HTTP headers of requests POSTed to the Netty connector to provide some context to drive how the message should be routed or interpreted in my particular use case whereby the external system sends meta data in the HTTP headers.

Although it's not necessary in my case,  I can imagine it would also be very useful to be able to access the URL

[2019-06-27 21:31] stevenwangnarvar commented on #4589
Hi @sijie @wolfstudy, what's the status for this issue? When we can fix it? In the next release or?

[2019-06-28 01:25] rdhabalia opened #4632 "Bookie GC doesn't clean up overreplicated ledgers from entry logs"
### Motivation
- Sometimes due to overreplication, bookie contains ledgers which are not owned by that bookie anymore and that bookie is not part of the ensemble-list of those ledgers. In this case, GC finds out those overreplicated ledgers and
- deletes their index from dbStorage (rocksDB) and
- tries to delete them from entrylog files.

However, bookie doesn't delete them from entry-log files du

[2019-06-28 03:06] sijie commented on #4629
@Mrdigs your use case can be addressed by using transactions in #2664 . transactions is under development, it is planned for 2.5 release.

[2019-06-28 06:09] Kiddinglife opened #4633 "Ho to integrate the existing premetheus in k8s cluster?"
Hi folks,
I alreasy had premetheus stack deployed on my k8s cluster.
I am expecting some tips about how to add pulsa metrics to my existing premetheus stack?
Thanks.

[2019-06-28 08:49] se7enkings commented on #4622
**Screenshots**
[code]
- If we change the line 132 to "topic = get_list_or_404(Topic, name=topic_name, timestamp=timestamp)",  the value of "topic" will be :
`[<Topic: persistent://test-signal/test-replication/msgsync-partition-14>, <Topic: persistent://test-signal/test-replication/msgsync-partition-14>]`

[2019-06-28 09:08] massakam opened #4634 "Delivery of messages to consumers stops until broker is restarted"
In our Pulsar cluster, an event that delivery of messages of a specific topic stopped happened twice a day. The topics that caused the problem in each event are different, but they have the following common points.

- They are topics under the same namespace. The namespace policy is as follows:
[code]
- They are both partitioned topics that have 16 partitions.
- There are a large number of exclusi

[2019-06-28 10:16] massakam opened #4635 "Bookie down causes deadlock in broker"
One of multiple bookie servers in our cluster went down due to a hardware failure. At the same time, the broker server went down. Messages that the broker could not connect to ZK were output to its log. I think this is due to a deadlock.

[code]

Below is a thread dump just before the broker shuts down.

[broker_threaddump.txt](https://github.com/apache/pulsar/files/3338708/broker_threaddump.txt)

[2019-06-28 11:02] rshermanTHG opened #4636 "[pulsar-dashboard]Dashboard Count of bundles on brokers page too high"
**Describe the bug**
On the brokers page the count of bundles equals the count of topics.

**To Reproduce**
Steps to reproduce the behaviour:
1. Open the pulsar dashboard web page
2. Click on 'Brokers'
3. The count of bundles equals the count of topics

**Expected behavior**
The count of bundles should equal the number of bundles on the broker.

**Screenshots**
![WrongBundleCount](https://user-ima

[2019-06-28 12:45] willome opened #4638 "CDC/Debezium : Unexpected exception with an optional Postgis.Geometry column"
When using Postgres Debezium connector with an **nullable "Postgis.Geometry"** column, we receive an **Unexpected exception** on startup (during the **RecordsRecordsSnapshotProducer**). Everything is working fine if the column is **NOT** nullable.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a schema like this
[code]
2. Start ```pulsar standalone```
3. Add connector :  ```bin/pulsa

[2019-06-28 14:05] yjshen commented on #4608
@avatart93 ah, it's my first priority now, will let you know as soon as we've got the contribute plan.

[2019-06-28 14:37] tuteng commented on #4633
You can refer to this [repositories](https://github.com/streamnative/apache-pulsar-grafana-dashboard) to add some related metrics.

[2019-06-28 18:29] #4636 closed

[2019-06-28 19:07] rdhabalia commented on #4632
@sijie I addressed all comments under: [1949](https://github.com/apache/bookkeeper/pull/1949)

and also created PR to fix this issue: https://github.com/apache/bookkeeper/pull/2119

[2019-06-28 22:59] rdhabalia commented on #4635
@massakam
Thread-dump shows that most of the bk-client-ordered and pulsar-ordered threads are waiting on
`at org.apache.pulsar.zookeeper.ZooKeeperDataCache.get(.java:95)        at org.apache.pulsar.zookeeper.ZkBookieRackAffinityMapping.getRack(ZkBookieRackAffinityMapping.java:154)`
and I think thread should be unblocked at that place due to this fix: #3633 addressed in 2.3.1. and it seems thread-d

[2019-06-29 15:16] #4586 closed

[2019-06-29 17:19] annubiz opened #4641 "The project does not build with JDK 12."
**Is your feature request related to a problem? Please describe.**
Pulsar does not build with JDK 12.    It requires JDK 1.8.
JDK 1.8 will end of life in Dec 2020.  That is a year and a half away, but conversion may take a while.

**Describe the solution you'd like**
Please start an effort (branch) to support JDK 12

**Describe alternatives you've considered**
OpenJDK

**Additional context**
Many

[2019-06-30 11:41] sijie opened #4642 "producer#flush doesn't work as expected"
**Describe the bug**

The following code example should produce two message batches. but only one message batch is produced.

[code]

**To Reproduce**

Use the example code to reproduce

**Expected behavior**

When `flush` is triggered, it should flush out all the messages.

**Additional context**

The problem is due to following logic. if the connection is not connected, it doesn't send the batch

[2019-06-30 11:51] sijie opened #4643 "Per message sequence id is lost in message batch"
**Describe the bug**

Produce 10 messages using following code:

[code]

The 10 messages will return the same sequence id `1`. Because currently we only store the sequence id for the first message in the message batch.

**To Reproduce**

Run the code example

**Expected behavior**

User might be using offset as sequence id when copying a file into pulsar topic. The sequence id will be dropped by P

[2019-06-30 12:36] sijie commented on #4405
@codelipenghui is working on adding the feature in #4621

[2019-07-01 09:23] jiazhai commented on #4466
dup with #4560 will close this one

[2019-07-01 09:23] #4466 closed

[2019-07-01 09:24] sijie commented on #4009
This is fixed by #4093

[2019-07-01 09:24] #4009 closed

[2019-07-01 09:43] wolfstudy opened #4647 "[cpp client] fatal error: google/protobuf/port_def.inc: No such file or directory"
**Describe the bug**
When I use `./docker-build.sh` building cpp client, encountered the following error:

[code]

[2019-07-01 09:48] wolfstudy commented on #4647
This issue has been fixed for the following reasons:

Before I built the cpp client using `docker-build.sh`, I have already built the `PulsarApi.pb.h` file locally using `cmake. && make -j12 && make install`. The local version of protobuf used is 3.7, but the version used in `docker-build.sh` is `libprotoc 2.6.1`, these two versions are not compatible.

## Solution:

Delete the two files `PulsarAp

[2019-07-01 09:51] wolfstudy commented on #4647
When you use the `protobuf` version 3.7 compiled proto file contains the following content:

[code]

 this is not recognized in `protoc 2.6.1`

[2019-07-01 10:05] #4647 closed

[2019-07-01 10:10] codelipenghui opened #4648 "[doc] cause deadlock while use subscribeAsync demo in java client doc."
Here is the example in http://pulsar.apache.org/docs/en/client-libraries-java/#multi-topic-subscriptions
![image](https://user-images.githubusercontent.com/12592133/60428130-c473e580-9c2a-11e9-9c2b-1539d7945b28.png)

Use receive() to get message in subscribeAsync.thenAccept() will cause deadlock, because thread will block at receive() and can't call sendFlowPermitsToBroker(), so the thread will bl

[2019-07-01 13:41] avatart93 opened #4651 "HDFS sink with different schema"
**Is your feature request related to a problem? Please describe.**
It seems that the hdfs sink connector can only parse string messages, this is a problem when working with schemas or already encoded messages that can't be parse to string (let's say encrypted messages for example) and want to send those messages to a data lake in hdfs for cold storage.

**Describe the solution you'd like**
I would

[2019-07-01 13:46] willome opened #4652 "[Build] erroneous aspectj weaving processing on"
While building the project, I see this error  in *pulsar-zookeeper-utils*  module :

```bad version number found in /root/.m2/repository/org/aspectj/aspectjrt/1.9.2/aspectjrt-1.9.2.jar expected 1.9.1 found 1.9.2```

and

[code]

This probably means that the weaving is not working as expected on this module.

[2019-07-01 13:55] one70six commented on #4610
It's like it can't route do to the URL adding the /0 or /1 etc. If that is not there, it works fine. I rebuilt the cluster from scratch and it still has this issue in 2.3.2. Not sure why it would not happen to your cluster. Is your conf file different than mine?

[2019-07-01 13:58] sijie commented on #4569
@easyfan are you interested in sending a pull request for it?

[2019-07-01 14:22] lsroudi opened #4654 "Build failed even trying multiple version of maven"
**Is your feature request related to a problem? Please describe.**
I spent at least one day trying to build apache pulsar with no success, i used :
- Vagrant
- Maven ( i try 3.0.5,3.5.0,3.6.1)
- Centos

**Describe the solution you'd like**
I suggest more documentation for that to help new committers to be confortable with the project, i can work for it with your help, it can be a wiki or others th

[2019-07-01 20:21] benstadin opened #4655 "Build fails including Logger.h"
Using Xcode / clang, the build fails when including Logger.h, because there is a log level named DEBUG (build error is "Expected identifier" because XCode defines a DEBUG macro per default for the debug target). Renaming it to e.g. TDEBUG fixes the issue:

enum Level
    {
        TDEBUG = 0,
        INFO = 1,
        WARN = 2,
        ERROR = 3
    };

IMHO, the best would be to avoid DEBUG and r

[2019-07-01 20:42] merlimat commented on #4655
@benstadin I think it would indeed be fine to update these enum names

[2019-07-01 22:20] #4648 closed

[2019-07-02 01:32] easyfan commented on #4569
OK. I will send pull request later today.

[2019-07-02 01:33] sijie commented on #4569
Awesome @easyfan !

[2019-07-02 02:00] tuteng commented on #4610
I used this [image](https://hub.docker.com/r/apachepulsar/pulsar/tags) of 2.3.2 version to test, you can see what is different from your configuration.

[2019-07-02 02:11] easyfan commented on #4569
@sijie BTW, I found another timeout check arbitrary issue inside C++ client. And the solution also in the exact same file pulsar/pulsar-client-cpp/lib/ProducerImpl.cc. So shall I open another issue for it, or just add some comments inside this one?

[2019-07-02 02:28] wolfstudy commented on #4589
hello @stevenwangnarvar the issue will be fixed in [pull request:4653](https://github.com/apache/pulsar/pull/4653), PTAL thanks

[2019-07-02 02:58] easyfan opened #4656 "C++ client producer sendAsync() timeout check method seems too arbitrary"
**C++ client producer sendAsync() timeout check method seems too arbitrary**

**Analysis**
In general, the c++ client producer timeout check was implemented in pulsar/pulsar-client-cpp/lib/ProducerImpl.cc, `ProducerImpl::handleSendTimeout(...)`, which is registered as a handler of `ProducerImpl::sendTimer_`;
In any performing phase of `ProducerImpl::sendTimer_`, the very first `pulsar::OpSendMsg`

[2019-07-02 03:01] easyfan commented on #4569
@sijie  Seems the solution of said timeout check issue I mentioned before need a discussion about the performance, I open another issue for recording: https://github.com/apache/pulsar/issues/4656

[2019-07-02 03:48] AnandSinha commented on #4057
Hello,

I wanted to confirm if the correct binaries (without the known vulnerabilities) are already present in the current builds of Pulsar.

If not, what is the timeline of getting these incorporated?

[2019-07-02 03:51] sijie commented on #4569
@easyfan let's have a separated discussion in #4656

[2019-07-02 05:39] jerrypeng commented on #4610
@one70six what is your cluster setup? Single node standalone or multi node cluster?  Running function worker with broker or alone?

[2019-07-02 11:38] massakam opened #4658 "C++ consumer's connection is often closed"
**Describe the bug**

If C++ consumer subscribes to a topic that a lot of messages are published to, the connection with the broker is often closed and reconnection occurs. This phenomenon seems to occur only when connecting to the broker using TLS.

The following is the client side log at that time:

[code]

There are no errors or warnings in the broker side log.

**To Reproduce**
Steps to reprod

[2019-07-02 11:57] massakam commented on #4658
As a result of adding the log output, I found that the connection is closed because `bytesTransferred` is 0 in the following part:
https://github.com/apache/pulsar/blob/v2.3.2/pulsar-client-cpp/lib/ClientConnection.cc#L435-L436

At this time, `err` contains either of the following two messages:
[code]

The latter error message only occurs when boost version is 1.70.0 (latest). I think this is due

[2019-07-02 12:16] easyfan commented on #4569
A weird Unit test issue encountered...
======================================================================
FAIL: test_publish_compact_and_consume (__main__.PulsarTest)
----------------------------------------------------------------------
Traceback (most recent call last):
  File "pulsar_test.py", line 641, in test_publish_compact_and_consume
    self.assertEqual(msg0.data(), b'hello-1')
Assert

[2019-07-02 15:49] david-streamlio opened #4661 "Broken link on the "Develop Connectors" page"
**Describe the bug**
On the following page, https://pulsar.apache.org/docs/en/io-develop/ , the link pointing to the KafkaSource as a good example to follow takes us to a 404 => https://github.com/apache/pulsar/tree/master/master/pulsar-io/kafka/src/main/java/org/apache/pulsar/io/kafka/KafkaAbstractSource.java

**To Reproduce**
Steps to reproduce the behavior:
1. Go to  https://pulsar.apache.org/d

[2019-07-02 15:59] david-streamlio commented on #3576
We are starting to get requests for support for additional "types" within existing connectors and need to come up with some sort of strategy. / solution for this.  For instance, we current have an HDFS Sink connector that accepts String input and a customer is requesting support for byte[] .  This would be a very easy sink to write, but the packaging and deployment is the challenge.

[2019-07-02 17:20] mhp0rtal opened #4662 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => pulsar-common/src/main/java/org/apache/pulsar/common/nar/NarUnpacker.java: Line number => 157: API name => MessageDigest:<BR> File name => pulsar-common/src/main/java/org/apache/pulsar/common/nar/NarUnpacker.java: Line number => 147: API name => MessageDigest:First parameter (with value "md5") should be any of {SHA-256, SHA-3

[2019-07-02 17:28] mhp0rtal opened #4663 "Misuses of cryptographic APIs"
Hi
The following lines have cryptographic API misuses. <br> File name => pulsar-common/src/main/java/org/apache/pulsar/common/nar/NarUnpacker.java: Line number => 147: API name => MessageDigest:Unexpected call to method <java.security.MessageDigest: byte[] digest()> on object of type java.security.MessageDigest. Expect a call to one of the following methods <java.security.MessageDigest: void updat

[2019-07-02 17:47] merlimat commented on #4662
According to `MessageDigest` javadoc, MD5 is one of the supported algorithms.

https://docs.oracle.com/javase/7/docs/technotes/guides/security/StandardNames.html#MessageDigest
https://docs.oracle.com/javase/7/docs/api/java/security/MessageDigest.html

Keep in mind that in this scenario we're not needing any strong hashing. It's only used to cache the unpacked ZIP file and avoiding multiple extract

[2019-07-02 17:49] merlimat commented on #4663
I cannot follow exactly what is the problem here. Can you share a code example that would show the problem?

[2019-07-02 17:51] merlimat commented on #4654
@lsroudi Did you do `mvn install` or `mvn package`? Install should work, `package` has trouble finding some of the dependencies otherwise

[2019-07-02 17:52] merlimat commented on #4652
That is correct, Lombok and AspectJ don't play nice together. This is why we cannot use Lombok in the `pulsar-zookeeper-utils` module. The warning here should be not a problem.

[2019-07-02 17:55] merlimat commented on #4641
@annubiz We do support JDK 11, (even though the unit tests are not completely passing, mostly due to Mockito and Powermock issues), though we haven't started to check with JDK 12.

It would be good to have a Jenkins pipeline with JDK setup for 2.5 release

[2019-07-02 18:06] lsroudi commented on #4654
thanks @merlimat , i try mvn install -DskipTests, and mvn test, the both fail, Any help would be greatly appreciated

[2019-07-02 18:46] #4643 closed

[2019-07-02 19:35] merlimat commented on #4656
The reason for erroring out all the messages in the queue after the 1st message times out is to give chance to the application to preserve ordering.

If you're publishing m1, m2 and m3. If m2 times out, a consumer might see m1 followed by m3. By clearing the queue, application can decides to resend m2 & m3 in same order (or just failed both upstream operations).

Another consideration, is that typ

[2019-07-03 01:16] merlimat commented on #4658
@massakam do you know if the problem is in pulsar client or is that relative to boost itself?

[2019-07-03 01:29] massakam commented on #4658
@merlimat I don't know...
I tested with two versions of boost, 1.68.0 and 1.70.0, but in both cases this happened.

[2019-07-03 01:41] #3216 closed

[2019-07-03 15:50] massakam commented on #4635
However, `pulsar-ordered-OrderedExecutor-2-0-EventThread` seems to block itself until a timeout occurs.
[code]

In `AbstractZkLedgerManager`, the ZK event callback thread does the subsequent task without starting a different thread.
https://github.com/apache/bookkeeper/blob/release-4.9.2/bookkeeper-server/src/main/java/org/apache/bookkeeper/meta/AbstractZkLedgerManager.java#L441-L450

Is this simi

[2019-07-03 19:16] #4569 closed

[2019-07-03 20:18] Guy-Dipietro-Bose commented on #4540
This issue also occurs with 2.4.0. I'm unable to use any version greater than 2.2.1.

With 2.3.0 I see when running a test that import pulsar:
E   ImportError: dlopen(../lib/python2.7/site-packages/_pulsar.so, 2): Symbol not found: __ZN6icu_636LocaleC1ERKS0_
E     Referenced from: ../lib/python2.7/site-packages/_pulsar.so
E     Expected in: flat namespace

With 2.3.1 I see no error but pytest fail

[2019-07-04 10:14] willome opened #4672 "[Kafka connect] Transformations are not working"
**Describe the bug**
We can not use the Kafka Connect Transformations (https://docs.confluent.io/current/connect/transforms/index.html). This was tested with Debezium.

**To Reproduce**
From this : https://debezium.io/blog/2019/05/23/tutorial-using-debezium-connectors-with-apache-pulsar/

1. Start Database
[code]
2. Start Pulsar
```bin/pulsar standalone```

3. Start The debezium Mysql connector
[c

[2019-07-04 12:37] easyfan commented on #4656
@merlimat  Yes, your word sounds reasonable. Thanks for the response.
I will close this issue then.

[2019-07-04 12:37] #4656 closed

[2019-07-05 05:30] #4655 closed

[2019-07-05 07:19] codelipenghui opened #4675 "Document for delayed message delivery."
Need document for delayed message delivery to describe how to send a delayed message by pulsar producer and introduce architecture of delayed message delivery in pulsar.

[2019-07-07 05:31] aahmed-se commented on #4638
@jiazhai can you take a look at this

[2019-07-07 16:02] #4228 closed

[2019-07-07 19:36] GoX1337 opened #4684 "Error open RocksDB database : Compression type LZ4 is not linked with the binary"
- Windows 10
- fresh repo clone
- mvn install

Tried to start pulsar, launching the script :
- bin/pulsar standalone

I got the following error :

[code]

Can you help me ?

Thank you in advance.

[2019-07-08 04:11] #4606 closed

[2019-07-08 04:50] Jennifer88huang commented on #4606
Great, we can adopt the language-specific tab now. Thank you very much for your help.

[2019-07-08 08:58] banzo opened #4687 "Publish Pulsar Helm chart on the official Helm Charts repository"
The Helm package manager provides an [official Charts repository](https://github.com/helm/charts) to publish charts to.

It would be nice if the [Pulsar Helm chart](https://github.com/apache/pulsar/tree/master/deployment/kubernetes/helm) was published on that repository.

Note: There has been some aborted attempts to do that in the past:

* https://github.com/helm/charts/pull/8756
* https://github

[2019-07-08 11:41] massakam commented on #4658
It seems that there is a possibility that the SSL socket will be corrupted if read and write from multiple threads are performed concurrently. Furthermore, a class named `strand` seems to be typically used to avoid this.
https://stackoverflow.com/questions/18656919/boostasiossl-access-violation-on-multi-threaded-application

Is this issue related to the above?

[2019-07-08 12:50] yjshen opened #4688 "[Docker] docker image for v2.4.0 is not available on dockerhub"
Could someone have permission publish it there?

[2019-07-08 21:25] sudeepamin commented on #4162
I get the same error. The deployment instructions seem to be incorrect. For example the aws folder does not have a cluster-metadata.yaml file. The bookkeeper.yaml fails to create bookies.

[2019-07-09 07:48] sijie commented on #4688
/cc @codelipenghui

[2019-07-09 09:30] sijie commented on #4584
@liketic I have to take my previous back. It seems that you were asking for a feature on spark streaming. The one I commented in #4585 is about Spark SQL and Spark Structured Streaming. I don't think anyone is working on a direct stream implementation. If you are interested in contributing, feel free to contribute.

[2019-07-09 09:43] sijie commented on #4599
Hmm I think I saw the same problem in one of the production environment. The problem is the bookie took more than 30s (closer to 45s) to `getLastEntry` on an empty ledger. It turned out that it ended up scanning over the whole entry index rocksdb. I guess that you are hitting the same problem. Thinking about how to address the issue.

[2019-07-09 09:54] yjshen commented on #4608
@avatart93  we've open-sourced pulsar-spark connector: https://github.com/streamnative/pulsar-spark. Please take a look and file issues when you have any difficulties.

[2019-07-09 09:55] sijie commented on #4622
@tuteng @se7enkings have you guys sent out the fix?

[2019-07-09 10:00] sijie opened #4693 "Configuration `allowAutoTopicCreation` is not documented"
- It should be documented in `broker.conf`
- It should be documented in website

[2019-07-09 10:00] sijie commented on #4629
This is a duplicate of #2664

[2019-07-09 10:00] #4629 closed

[2019-07-09 10:04] sijie commented on #4638
This is fixed by #4650

[2019-07-09 10:04] #4638 closed

[2019-07-09 10:06] sijie commented on #4661
This is fixed by #4674

[2019-07-09 10:06] #4661 closed

[2019-07-09 10:07] sijie commented on #4654
@lsroudi how did you launch your vagrant machine?

[2019-07-09 10:10] sijie commented on #4684
@GoX1337 Currently I don't think Pulsar support running on Windows very well. Because there are a few dependencies are using native code. The bindings we are shipping probably doesn't contain the native libraries built for windows.

[2019-07-09 10:10] sijie commented on #4672
/cc @jiazhai @tuteng

[2019-07-09 10:12] sijie commented on #4663
This seems to be a duplicate of #4662

[2019-07-09 10:12] #4663 closed

[2019-07-09 10:36] GoX1337 commented on #4684
Ok thanks.

I will try to start it on my Ubuntu laptop.

[2019-07-09 10:36] #4684 closed

[2019-07-09 10:45] lsroudi commented on #4654
Thank you,
Yes I did vagrant up, vagrant SSH and I restart docker also. It block me to
pass to next step.

Le mar. 9 juil. 2019 à 12:08, Sijie Guo <notifications@github.com> a écrit :

[2019-07-09 11:48] liketic commented on #4584
@sijie OK. I'll take a look.

[2019-07-09 13:19] lsroudi commented on #4654
thank you @sijie  for your answer,
theris is the step i done ;
`cd dev`
`vagrant up`
`vagrant ssh`
`systemctl start docker`
i didn't understant why i still have a failure when i try to build the project

[2019-07-09 16:01] #4693 closed

[2019-07-09 16:11] merlimat opened #4695 "Search box on website stopped working"
After the update of Docusaurus to 1.11 in #4682, the search box stopped working.

@tuteng @sijie

[2019-07-09 16:27] Jim-Lambert-Bose opened #4696 "authentication with a valid client mTLS certificate is rejected"
**Describe the bug**
Pulsar fails mTLS when the client presents a cert with SANs and no CN in the x509 Subject.

As per RFC 6125 (published in '2011) the validator must check SAN first, and if SAN exists, then CN should not be checked.    https://tools.ietf.org/html/rfc6125#section-6.4.4

Pulsar is not checking the SANs and appears to only validate a client cert using the CN within the Subject.

*

[2019-07-09 16:42] avatart93 commented on #4608
That's actually for Scala, weren't you building this receiver fro Python?

[2019-07-09 17:02] ArtemShaban opened #4697 "Memory leak in Pulsar 2.3.1"
Not far ago we tried update our production to Pulsar 2.3.1 from 2.2.1 version. But after one-two days working we noticed big CPU and memory consumption.
We did memory dumps and found suspicious objects.

In all dumps of brokers there are huge count of org.apache.bookkeeper.mledger.impl.ManagedLedgerImpl and a lot of big objects of java.util.concurrent.ScheduledThreadPoolExecutor$DelayedWorkQueue

[2019-07-09 17:37] merlimat commented on #4697
@ArtemShaban the memory usage is due to the managed ledger write timeout that was introduced in 2.3. This has been disabled already by default in 2.4 release, along with a much more efficient implementation.

The recommendation, with many topics, in 2.3 release would be to turn that off:

[code]

[2019-07-09 18:08] Jim-Lambert-Bose commented on #4626
Can we get this fixed for the Go client as well?  I opened an issue about it which was closed: https://github.com/apache/pulsar/issues/4537

I'd be happy if a fix was just included in the new Go client under dev.

[2019-07-09 18:31] guillaume-braibant opened #4698 "Update Deployment/StatefulSet/DaemonSet api version to apps/v1 in pulsar/deployment/kubernetes/generic"
**Problem & Motivation**

Current generic Kubernetes deployment files for Pulsar use APIs that are deprecated since Kubernetes 1.9. Those deprecated APIs that belong to the Workload API Group are used by StatefulSets, Deployments and DaemonSets objects (apps/v1beta1 & extensions/v1beta1). Deprecated APIs are meant to be deleted after a certain time (cf. Kubernetes Depreciation Policy). The danger

[2019-07-09 18:39] guillaume-braibant opened #4699 "Modify kubernetes generic deployment scripts in order to create services before any StatefulSet/Deployment/DaemonSet/Pod (follow K8S Recommandation)"
**Problem and motivation**

Kubernetes recommends that, in multi-resources .yaml files, services bound to StatefulSet/Deployment/DaemonSet/Pods objects should be created first.

**Proposed solution**

In each .yaml file, declare the service before the Deployment/StatefulSet/DaemonSet/Pod object the service is bound to.

**Sources**

https://kubernetes.io/docs/concepts/cluster-administration/manage

[2019-07-09 18:40] ArtemShaban commented on #4697
Thanks for clarifying)

[2019-07-09 18:40] #4697 closed

[2019-07-09 19:00] jerrypeng commented on #4608
Hi Dexter,

The reason we created Pulsar Functions is because we noticed that most
stream processing applications are actually not very complex.  Thus, we
created Pulsar Functions with a simple API but it does support powerful
features and processing semantics such as stateful processing, windowing,
exactly-once delivery, and etc.  However, Pulsar Functions does not intend
to replace other data pr

[2019-07-09 19:01] guillaume-braibant commented on #4698
Pull request submitted : https://github.com/apache/pulsar/pull/4700

[2019-07-09 19:02] guillaume-braibant commented on #4699
Pull request submitted : https://github.com/apache/pulsar/pull/4700

[2019-07-09 21:17] grantwwu commented on #4537
Can we reopen this?

[2019-07-10 02:04] tuteng commented on #4672
Sorry, I forgot to update the content here. This issue has only been discussed in slack before.
This feature is deeply fused with kafka.  ExtractNewRecordState is used to replace the UnwrapFromEnvelope in the new version. https://github.com/debezium/debezium/blob/master/debezium-core/src/main/java/io/debezium/transforms/ExtractNewRecordState.java.

The class ExtractNewRecordState mainly processes

[2019-07-10 02:13] tuteng commented on #4622
I have to consider how to repair this one. In the case of multiple clusters, for example, cross-regional replication, there may be exactly the same topic, tenant, namespace, and topic are exactly the same. The current dashboard does not consider this situation. The repair of this one may need to modify the front end.

[2019-07-10 04:00] yjshen commented on #4608
Hi @avatart93 , actually, it doesn't matter what language the connector is written by, you are not actually talking to the connector directly, instead, you use pyspark to run your python application, and spark will find the connector to talk to Pulsar.

Therefore, you could just use our lib while opening a pyspark session:

[code]

and it will show the dependency discovery procedure like:
[code]

[2019-07-10 17:28] sijie commented on #4688
@yjshen @codelipenghui has pushed the pulsar 2.4.0 images. Please check if you are able to fetch it.

[2019-07-10 17:30] sijie opened #4704 "Add documentation for HDFS offloader"
We need to add documentation for hdfs offloader before releasing 2.5.0

[2019-07-10 17:30] sijie commented on #4704
@congbobo184 can you help provide the documentation for HDFS offloader?

[2019-07-10 20:57] david-streamlio opened #4706 "Search bar on 2.4.0 documentation page doesn't work"
**Describe the bug**
Search bar on 2.4.0 documentation page doesn't work

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://pulsar.apache.org/docs/en/standalone/
2. Enter a search term in the search box in the upper right hand corner
3. Hit enter, click on search icon
4. See no search results

**Expected behavior**
Expect a search box to pop up with search results

**Screenshots**

[2019-07-10 21:18] mathewmoon commented on #3414
This is a major problem for us as well in 2.3.1 and 2.4. We are unable to unload topics by namespace for apparently the same reason.

[2019-07-11 01:06] merlimat commented on #4706
Dups of #4695

[2019-07-11 01:06] #4706 closed

[2019-07-11 01:36] #4688 closed

[2019-07-11 03:02] tuteng commented on #4695
This seems to be related to the crawling of the algolia. The content of the old version can be searched normally, and the content of version 2.4.0 does not seem to have been included in algolia yet.

[2019-07-11 03:48] ssunorz opened #4707 "PulsarKafkaProducer is not thread safe"
**Is your feature request related to a problem? Please describe.**
I replaced kafka client with pulsar-client-kafka, referring to this document.
http://pulsar.apache.org/docs/en/adaptors-kafka/

Then, sending messages to multiple topics at the same time caused an exception(NullPointerException).
This exception does not occur in version 2.2.1, but does occur in version 2.3.2 and later.

I think tha

[2019-07-11 04:36] hrsakai commented on #4635
It seems that this phenomenon doesn’t happen in following situations.
* pulsar-broker-2.2.1 (the bk version of brokers is 4.7.3)
* pulsar-broker-2.3.2 (the bk version of brokers is 4.9.2) and `bookkeeperClientRackawarePolicyEnabled=false`

In our environment, rackawarePolicy is not set, but it is enabled.

[2019-07-11 05:25] sijie commented on #4695
@tuteng Can you file an issue to check with algolia docsearch team? https://github.com/algolia/docsearch-configs

[2019-07-11 06:08] #4099 closed

[2019-07-11 06:10] #3767 closed

[2019-07-11 06:10] #3855 closed

[2019-07-11 06:10] #4001 closed

[2019-07-11 06:11] #4054 closed

[2019-07-11 06:12] wolfstudy commented on #3964
already fixed

[2019-07-11 06:12] #3964 closed

[2019-07-11 09:20] freeznet opened #4708 "standalone mode cannot sync MaxMessageSize to bookkeeper"
**Describe the bug**
after upgrade to v2.4, a new setting `MaxMessageSize` was introduced to make messagesize more than 5MB, but bookkeeper still using 5M as `nettyMaxFrameSizeBytes`, which should be sync with `MaxMessageSize`

**Additional context**
[code]

[2019-07-11 09:24] yjshen commented on #4608
@avatart93 , currently with pulsar-spark-connector, you could read multiple topics/partitions of an identical schema as a single DataSet, internally, the consumption of each topic-partition is handled by one task, and inside it, a consumer is used to read data. It's quite similar to Kafka connector, no worries about this.

[2019-07-11 09:35] fxbing commented on #4323
I simulated your environment in the local environment, but didn't find this bug.
Is this bug still there?
Are there other conditions in your environment?
@yangl

[2019-07-11 15:45] one70six commented on #4610
@jerrypeng It's a multi node cluster

- 6 brokers
- 6 bookies
- 6 Zookeepers
- 6 Functions Workers (outside brokers)

[2019-07-12 01:42] tuteng commented on #4695
This issue has been addressed, the search is already working properly. @merlimat

[2019-07-12 01:52] merlimat commented on #4695
👍 Nice!

[2019-07-12 01:52] #4695 closed

[2019-07-12 02:42] yjshen opened #4711 "[Doc]Documentation on upgrading Pulsar is missing"
Upgrading guide is missing, these are two items related to cluster upgrading:
-  https://github.com/apache/pulsar/commit/197e22c50ed4c09a550705259ddbb3e8eed10894
- https://github.com/apache/pulsar/blob/master/faq.md#is-there-any-sort-of-order-of-operations-or-best-practices-on-the-upgrade-procedure-for-a-geo-replicated-pulsar-cluster

Any plans on merging these two and update in the doc?

cc @siji

[2019-07-12 02:47] Anonymitaet commented on #4711
@sijie  could we merge the PR (or do you need a review?)

[2019-07-12 05:34] tuteng opened #4712 "[pulsar-io]Connector download link of debezium not found"
**Describe the bug**
Downloads link of debezium not found

![image](https://user-images.githubusercontent.com/1907867/61104611-9bb0e300-a4a9-11e9-8dd0-2ab74f80bb34.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If a

[2019-07-12 05:58] sijie commented on #4711
@yjshen I will get my change move forward.

[2019-07-12 09:19] rfuerst87 opened #4715 "[pulsar-sql] BKNoSuchLedgerExistsException when using custom ZooKeeper path for pulsar"
**Describe the bug**
I have an existing ZooKeeper cluster where I store any Pulsar related stuff under `/pulsar` setting `zkServers` to `zk-url:2181/pulsar`. This works fine for brokers and bookies, but not for pulsar-sql. When querying a table I always get a `BKNoSuchLedgerExistsException`:

[code]

Indeed I did set `pulsar.zookeeper-uri` to `zk-url:2181/pulsar` in the pulsar-sql config (see belo

[2019-07-12 09:53] jiazhai commented on #4708
@freeznet , I would like to confirm the config for this issue reproduce:
- pulsar set `MaxMessageSize` to a value > 5MB
- bookkeeper set `nettyMaxFrameSizeBytes` to 5MB
Then we will meet this issue when use pulsar?

[2019-07-12 13:32] avatart93 commented on #4608
@yjshen So if I have a pulsar partitioned topic (lets say 12 partitions) then 12 spark tasks will be created if using both the java pulsar-spark receivers (official) and your implementation (this one). And last question, I saw your readme and notice you only do queries, but I can use it for standard basic consumption too right, like just receive messages and put them on rdds, no queries required (

[2019-07-12 13:33] avatart93 commented on #4608
@yjshen And by the way, let me please thank you again for your time and effort, this means a lot to me, thanks again for all your help.

[2019-07-12 14:02] f-ld opened #4718 "failed to get Partitioned metadata : Policies not found for mytenant/mynamespace namespace"
**Describe the bug**
We have 4 pulsar cluster running on kubernetes with geo-replication.
All worked well. Before going to prod, we did some load testing. And during one of them (last one at time of writing), pulsar brokers started to loop on exceptions like:
[code]
Note : we have a lot of non-persistent / not partitioned topics in that namespace (23k). Too many?

**To Reproduce**
Well, difficult.

[2019-07-12 15:41] f-ld commented on #4718
Note : after changing list of clusters for namespace, I deleted it and minutes later I still have the "Policies not found for namespace" logs in broker from all regions.
Now trying to delete all topics - after recreating the namespace - to see how it goes.

[2019-07-12 16:22] sijie commented on #4718
@f-ld I helped one of the pulsar users look into the similar problem before. The problem was one zookeeper server in the global zookeeper is constantly falling behind the leader. You might be hitting the same problem.

In order to trouble shooting the problem, use `bin/pulsar zookeeper-shell` to connect to each global zookeeper server and check if `/namespace/<mytenant>/<mynamespace>` exist or not

[2019-07-12 19:47] mediocregopher opened #4720 "Compilation errors in `pulsar-client-cpp`"
**Describe the bug**
When attempting to compile `pulsar-client-cpp`, I get these compilation errors:

[code]

**To Reproduce**
Steps to reproduce the behavior:
[code]
As shown, this happens on both the `v2.4.0` tag and `master`

**Expected behavior**
The build successfully finishes.

**Desktop (please complete the following information):**
[code]

**Additional context**
I am able to build the libr

[2019-07-12 22:03] chairmank commented on #4234
The `logging` module in the Python standard library is implemented in Python. It is not a built-in implemented in C.

I think that we could implement a log4cxx appender that uses `boost::python::exec` to call methods on a Python standard library `Logger` instance, with arguments passed as `locals`.

[2019-07-12 22:23] jerrypeng commented on #4619
Its hard to modify existing register and update REST endpoints to support the pure json format.  We do the following:

1. Start version 4 of the function REST interface
2. Add a different REST endpoint to support this

What do people think?  or if someone have other ideas...

[2019-07-13 01:48] cnicy opened #4721 "Flink pulsar sink NotSerializableException"
<dependency>
            <groupId>org.apache.pulsar</groupId>
            <artifactId>pulsar-flink</artifactId>
            <version>2.4.0</version>
        </dependency>
Exception in thread "main" org.apache.flink.api.common.InvalidProgramException: The implementation of the RichSinkFunction is not serializable. The object probably contains or references non serializable fields.
	at org.apache.fl

[2019-07-13 01:50] cnicy commented on #4721
<dependency>
            <groupId>org.apache.pulsar</groupId>
            <artifactId>pulsar-flink</artifactId>
            <version>2.4.0</version>
        </dependency>

[2019-07-13 02:38] yjshen commented on #4608
If you want to use RDD directly in your program instead of DataSet, you could just call `.rdd` on the DataSet object.

I highlight queries in the doc since I thought queries are much easier to use as well as extend because it's typed and save efforts for format parsing, at the same time, the queries are likely to be more efficient since Spark SQL engine do a lot of optimizations not only during pl

[2019-07-13 03:34] yjshen commented on #4721
Are you running the example: examples/flink/src/main/java/org/apache/flink/streaming/connectors/pulsar/example/README.md ?

which version of Flink and Pulsar are you using? I cannot reproduce your issue. Could you please provide more information about your environment and the execution procedure that I can follow to reproduce?

[2019-07-13 07:55] jgaa commented on #4718
@sijie How did you solve the problem?

[2019-07-13 09:13] cnicy commented on #4721
@yjshen
        <dependency>
            <groupId>org.apache.pulsar</groupId>
            <artifactId>pulsar-flink</artifactId>
            <version>2.4.0</version>
        </dependency>
        <dependency>
                <groupId>org.apache.flink</groupId>
                <artifactId>flink-java</artifactId>
                <version>1.7.0</version>
            </dependency>
            <dependen

[2019-07-13 10:14] yjshen commented on #4721
@cnicy I've tried flink 1.7.0, 1.7.2, 1.8.1 with Pulsar 2.4.0 using docker, none of these could reproduce the problem.

And the current `PulsarConsumerSourceWordCount` looks like:

[code]

[2019-07-13 15:00] cnicy commented on #4721
[code]

[2019-07-14 01:44] youurayy opened #4722 "Plusar Docker standalone on Mac idling at ~80% CPU core"
**Describe the bug**
Pulsar 2.4 standalone in Docker uses very high CPU when not being used.

**To Reproduce**
Run the docker image as per the online instructions:
[code]

**Expected behavior**
Pulsar should be idling at much lower CPU values.

**Screenshots**
![image](https://user-images.githubusercontent.com/588573/61178247-a9718000-a5f1-11e9-8c4d-19c221ffce91.png)

**Desktop (please complete th

[2019-07-14 01:58] youurayy commented on #4722
Running standalone from `apache-pulsar-2.4.0-bin.tar.gz` (without Docker), the java process is idling at ~21% CPU core.

[2019-07-14 09:59] helicopter18 opened #4723 "Pulsar SQL incompatible with Open JDK"
**Describe the bug**
Pulsar SQL incompatible with open JDK

**To Reproduce**

1. java -version openjdk version "1.8.0_202"

2. bin/pulsar sql-worker run

3. ERROR: ld.so: object '/usr/local/brokers-2.4/lib/presto/bin/procname/Linux-x86_64/libprocname.so' from LD_PRELOAD cannot be preloaded: ignored.
Presto requires an Oracle or OpenJDK JVM (found Azul Systems, Inc.)

[2019-07-14 10:09] helicopter18 commented on #4723
**Describe the bug**
Pulsar SQL incompatible with open  JDK

**To Reproduce**

1. java -version openjdk version "1.8.0_202"

2. bin/pulsar sql-worker run

3. ERROR: ld.so: object '/usr/local/brokers-2.4/lib/presto/bin/procname/Linux-x86_64/libprocname.so' from LD_PRELOAD cannot be preloaded: ignored.
Presto requires an Oracle or OpenJDK JVM (found Azul Systems, Inc.)

[2019-07-14 14:43] rfuerst87 opened #4724 "New schemas should overwrite deleted schemas"
**Describe the bug**
For what I observed deleting schemas currently just marks a schema deleted rather than actually delete it. Now for some reason schemas are simply ignored writing to a once-existing-but-now-deleted topic. Querying a schema for such a topic always returns a 404. The only workaround I found so far is to manually delete the schema in zookeeper.

**To Reproduce**
1. Write some mess

[2019-07-14 14:50] rfuerst87 commented on #4723
Looks like you are running pulsar using a JDK from Azul Systems rather than OpenJDK. Pulsar definitely works with OpenJDK. See docker images for example.

[2019-07-15 01:32] sijie commented on #4718
@jgaa

I used the approach I described in my previous comment. I used `bin/pulsar zookeeper-shell` to connector to each zookeeper server and check if the policy znode exist or not. And I identified one zookeeper server that fell behind. So we wiped out the zookeeper server and rebooted it. So it eventually sync with the leader with the latest snapshot.

[2019-07-15 02:09] freeznet commented on #4708
@jiazhai i see, but i havnt find any docs about how to manually change `nettyMaxFrameSizeBytes` in standalone mode, need more info.

[2019-07-15 02:15] sijie commented on #4708
@jiazhai @zymap :  there are a couple things we can do here:

1) we need to document the end-to-end steps for adjusting the max message size. I think the part how to configure bookies is missed.

2) we need to set the `nettyMaxFrameSizeBytes` bookkeeper client used to the value of `maxMessageSize` configured at the broker. I am not sure if we did it now or not. If we didn't, we should do it.

[2019-07-15 02:27] sijie commented on #4722
@youurayy what is the memory and cpu you allocated to your Docker Machine?

[2019-07-15 02:29] sijie commented on #4723
@helicopter18 are you using a 32-bit JVM? If so, can you change to use a 64-bit JVM?

See prestodb/presto#2807

[2019-07-15 02:36] zymap commented on #4708
@freeznet You can  try to add `nettyMaxFrameSizeBytes=5242880` in standalone.conf directly.

[2019-07-15 02:41] zymap commented on #4708
@sijie

Yeah. I will add a doc to introduce how to config bookies.

yes, it is.

[2019-07-15 02:54] helicopter18 commented on #4723
@sijie
**system infomation**

- CentOS Linux release 7.6.1810 (Core)    Linux version 3.10.0-957.10.1.el7.x86_64

**java version**

openjdk version "1.8.0_202"
OpenJDK Runtime Environment (Zulu 8.36.0.1-CA-linux64) (build 1.8.0_202-b05)
OpenJDK 64-Bit Server VM (Zulu 8.36.0.1-CA-linux64) (build 25.202-b05, mixed mode)

bin/pulsar sql-worker run
ERROR: ld.so: object '/usr/local/brokers-2.4/lib/pres

[2019-07-15 03:07] sijie commented on #4723
@helicopter18 is it possible for you to install a OpenJDK JVM and try it again?

[2019-07-15 05:51] #4723 closed

[2019-07-15 06:03] congbobo184 commented on #4724
I hava already started to fix this bug :)

[2019-07-15 07:15] freeznet opened #4726 "pulsar-function-go/log is not exist"
**Describe the bug**
`pulsar-function-go/log` is not exist, trying to compile example failed.

**To Reproduce**
Steps to reproduce the behavior:
create a new pulsar go function and compile
[code]

get the error:

[code]

[2019-07-15 07:31] freeznet opened #4727 "libpulsar for osx is not updated to v2.4.0"
**Describe the bug**
libpulsar from homebrew is not updated to v2.4.0

**To Reproduce**
[code]

[2019-07-15 07:59] freeznet commented on #4708
problem solved, thanks!

[2019-07-15 09:56] f-ld commented on #4718
Looking to znode `/namespace/<mytenant>/<mynamespace>` on zookeepers instances did not help me much since in each clusters data was identical between zk nodes, but different between clusters.

Moreover, later I tried quite some cleanup and faced things like :
[code]
or in another DC :
[code]
and in two other ones:
[code]

Sp basically I think I will drop the entire cluster and rebuild it. And test

[2019-07-15 12:25] codelipenghui opened #4730 "Can't get schema info with topic partition"
**Describe the bug**

If topic is a partitioned topic, use topic name can get schema info correct. But if use topic partition (e.g. persistent://my-tenant/my-namespace/my-topic-partitiion-0), can't get a schema info.

**To Reproduce**
1.create a new partitioned topic
2.create producer with schema
3.use pulsar admin to get schema info with topic partition

**Expected behavior**

If use topic partit

[2019-07-15 12:38] codelipenghui opened #4732 "Support for other schema name separators in pulsar SQL"
Pulsar sql table schema using the same naming policy as pulsar namespace, but "/" will cause some problem with presto connection string.

Here is a snapshot of superset use pulsar sql as datasource
![image](https://user-images.githubusercontent.com/12592133/61216306-8d7bf480-a73f-11e9-9bf4-77fbfe0cec66.png)

Get table schema error in superset use pulsar sql as datasource
![image](https://user-imag

[2019-07-15 13:30] codelipenghui commented on #4727
libpulsar for osx is not yet uploaded successfully, i will try later.

[2019-07-15 14:39] KannarFr commented on #4547
@sijie I started to dev this feature. Where do we store the offload configuration per tenant/namespace? On BK as it's done for schemas? Or in ZK?

[2019-07-15 14:39] KannarFr commented on #4547
(I started an implementation copied from Schemas usages).

[2019-07-15 19:17] youurayy commented on #4722
Hi sijie, 4 CPU and 2 GiB of RAM.

Increasing the RAM to 6 GiB, the Docker is at 55% of CPU core, Pulsar idling.

[2019-07-16 02:14] sijie commented on #4547
@KannarFr I think it should be part of namespace policies. Please check this class : https://github.com/apache/pulsar/blob/master/pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/Policies.java

[2019-07-16 02:18] sijie commented on #4722
@youurayy yes the default `PULSAR_MEM` setting is `PULSAR_MEM=${PULSAR_MEM:-"-Xms2g -Xmx2g -XX:MaxDirectMemorySize=4g"}`. so when you need to make sure your docker machine is more than the JVM memory. Otherwise CPU might be used by the docker itself not by pulsar.

[2019-07-16 02:29] codelipenghui opened #4734 "Use timestamp as "__publish_time__" type in Pulsar SQL."
### Motivation
"__publish_time__" is Pulsar SQL internal column, as Pulsar only stores timestamps, it doesn’t store the timezone information. Use timestamp  as "__publish_time__" type is more correct way in Pulsar SQL.

[2019-07-16 02:30] codelipenghui commented on #4730
@congbobo184 please take a look this issue.

[2019-07-16 02:30] codelipenghui commented on #4734
@congbobo184 please take a look this issue.

[2019-07-16 02:31] sijie commented on #4718
Were you looking into the global zookeeper? Or the local zookeeper? I don't understand what do you mean "but different between clusters". Can you clarify more about this part?

[2019-07-16 02:33] fxbing commented on #4323
I tried to reproduce the bug unsuccessfully, and the questioner did not reply.
Suggest to close this issue.

[2019-07-16 02:41] jerrypeng commented on #4734
Please also make sure that the publish time predicate push down is still working correctly after this change:

https://github.com/apache/pulsar/blob/master/pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSplitManager.java#L323

[2019-07-16 02:42] jiazhai commented on #4323
thanks @fxbing, I would like to close it,  and once needed It could be open again.

[2019-07-16 02:42] #4323 closed

[2019-07-16 03:55] sijie commented on #4730
@codelipenghui nice catch!

[2019-07-16 04:05] wolfstudy commented on #4726
The `logtopic` use case as follows:

[code]

Two places to note:

-  `pulsar-function-go` depends on `pulsar-client-go` of `cgo` version, so make sure you have successfully built `pulsar-client-cpp` locally.
-  Please make sure your go version is greater than `go1.11`.

The problem with your above is that you are manipulating the `go mod` error, you can re-import the project, and run `go mod downl

[2019-07-16 04:18] freeznet commented on #4726
@wolfstudy thanks but i am still confusing.

- `pulsar-client-cpp` with version 2.4.0 was installed from deb release
- golang version is `go1.12.6`

following are my test files

- go.mod
[code]

- helloFunc.go

[code]

after `go mod download` without any error, i ran `go build -o examplepulsar helloFunc.go` to build the pulsar function, and got error

[code]
which shows github.com/apache/pulsar/pu

[2019-07-16 04:36] wolfstudy commented on #4726
Specific issues can be viewed: [cmd/go: 'cannot find module for path' when importing from subdirectories
](https://github.com/golang/go/issues/26645)

The general reason is because you have problems executing `go mod init`

[2019-07-16 05:38] freeznet commented on #4726
@wolfstudy  i dont think this is a "cannot find module for path" issue. It is `pulsar-function-go/log` package not uploaded to git issue. if as you said, it is a problem i am executing `go mod init`,  then `pulsar-function-go/pf` package should also in the error message.

you can check this file list of `pulsar-function-go`, no `log` package here, i think this is why `cannot load github.com/apache

[2019-07-16 05:44] freeznet commented on #4726
https://github.com/apache/pulsar/blob/master/.gitignore#L37

the package name of `github.com/apache/pulsar/pulsar-function-go/log` just hit this .gitignore rule, by default the `log` package will be ignored and not commit to git.

[2019-07-16 05:52] wolfstudy commented on #4726
yes, you are right. `.gitignore` filtered this file, will fix it, thanks.

[2019-07-16 06:31] yjshen commented on #4711
https://ci.apache.org/projects/flink/flink-docs-master/ops/upgrading.html might be a reference as well.

[2019-07-16 07:20] jerrypeng commented on #4734
So I have done some experiments with changing __publish_time__ from TimestampWithTimeZoneType.TIMESTAMP_WITH_TIME_ZONE -> TimestampType .TIMESTAMP.  When I change the type, the predicate doesn't get pushed down correctly from Presto.  There seems to some issues with Presto.

Also this is another problem:

https://github.com/prestodb/presto/issues/6595

[2019-07-16 09:38] KannarFr commented on #4547
Ok.

[2019-07-16 09:46] codelipenghui opened #4737 "Producer can't produce messages with an old schema version."
**Describe the bug**

Producer can't produce messages with an old schema version.

**To Reproduce**
Steps to reproduce the behavior:
1. Use pulsar-admin to set-schema-autoupdate-strategy -c Backward public/default
2. Run following test case:
[code]

Will produce the following error:

[code]

**Expected behavior**

At producer side, producer can send messages using an old version schema.

[2019-07-16 11:54] gurgen2727 commented on #4089
Doesn't work at all:
pip3 install  pulsar-client
Collecting pulsar-client
  ERROR: Could not find a version that satisfies the requirement pulsar-client (from versions: none)
ERROR: No matching distribution found for pulsar-client

I am on Windows 10, python 3 version.

[2019-07-16 12:56] gurgen2727 commented on #3968
Doesn't work at all:

pip3 install pulsar-client
Collecting pulsar-client
ERROR: Could not find a version that satisfies the requirement pulsar-client (from versions: none)
ERROR: No matching distribution found for pulsar-client

pip3 install pulsar-client==2.4.0
Collecting pulsar-client==2.4.0
ERROR: Could not find a version that satisfies the requirement pulsar-client==2.4.0 (from versions: none

[2019-07-16 15:33] grantwwu commented on #3968
That's because the pulsar-client packages for after 2.3.1 aren't available outside linux because CI is broken

[2019-07-16 15:34] freeart opened #4740 "backlog retention policy doesn't work without subscriptions"
**Describe the bug**
When persistent topic never had subscriptions the published messages will deleted after few minutes with no reason

**To Reproduce**
Steps to reproduce the behavior:
1. publish to a new topic "persistent://public/default/my-topic" the message "test"
2. create reader from "persistent://public/default/my-topic"
3. get the message "test"
4. wait about 1 min
5. create reader from

[2019-07-16 17:27] gurgen2727 commented on #3968
makes sense, thank you, though it wasn't written anywhere in the documentation.
managed to install in Ubuntu 18.04.2 LTS (Bionic Beaver) running in VirtualBox under Windows 10 for python version 2

But even simple got doesn't work for me:
     import pulsar
     client = pulsar.Client('pulsar://localhost:6650')
     producer = client.create_producer('my-topic')
     producer.send("testing")
     c

[2019-07-16 17:45] gurgen2727 commented on #2799
I have the same issue running for Python version 2, pulsar version 2.4.0.
Ubuntu 18.04.2 LTS (Bionic Beaver) running under Virtual Box in Windows 10

import pulsar
client = pulsar.Client('pulsar://localhost:6650')
producer = client.create_producer('my-topic')
producer.send("testing")
client.close()

2019-07-16 18:19:47.192 INFO ConnectionPool:72 | Created connection for pulsar://localhost:6650
201

[2019-07-16 18:39] grantwwu commented on #3968
Did you manually create `ns1`?   The only namespace that exists by default is named `default`.

[2019-07-16 18:50] gurgen2727 commented on #3968
Hi

I found it here: https://github.com/streamlio/pulsar-python-tutorial
this tutorial are just horrible, do you have normal uptodate version link please ?

BTW I have tried as you suggested, it's the same error.

python pulsar_consumer.py
2019-07-16 19:49:24.587 INFO  Client:88 | Subscribing on Topic :persistent://public/default/my-topic
2019-07-16 19:49:24.587 INFO  ConnectionPool:72 | Created c

[2019-07-16 19:52] grantwwu commented on #3968
That other tutorial is very old.

Do you see any logs from pulsar standalone at all?

[2019-07-16 20:16] gurgen2727 commented on #3968
thank you very much. Just your comment helped me :-D

I tried to install standalone from scratch as it is mentioned here for version 2.4.0
https://pulsar.apache.org/docs/en/standalone/

now standalone runs fine (bin/pulsar standalone)
and I managed to send & receive messages.

[2019-07-16 21:03] youurayy commented on #4722
Maybe this could be added to the page which describes how to run Pulsar in Docker.

Also, a lower idle than 21% (w/o Docker) and 55% (w/ Docker) CPU core would be really nice for laptops.

That said, it's a server-tier software w/ elements this project probably doesn't have control of (Zookeeper, Bookkeeper), so Idk about the priorities here.

[2019-07-16 23:42] gurgen2727 commented on #3968
Hi

I have another question :)
The following schema doesn't work at all during create_producer, I want to pass array of maps (list of dictionaries), why it doesn't work ? please ?

class MySchema(Record):
    a1 = String()
    b1 = Long()
    # array of dict, json data
    data = Array(Map(String()))

this crashes during instance creation, even I didn't reach to send.
producer = client.create_prod

[2019-07-17 01:37] grantwwu commented on #3968
@gurgen2727 Have you tried joining the Pulsar Slack? I think that might be a more appropriate forum for these questions than an unrelated bug thread.

[2019-07-17 02:22] codelipenghui commented on #4740
Backlog retention policy can affect the subscriber's backlog data retention. If you want to save data  whether or not you have a subscription, you can use:
[code]
Hope can help you.

[2019-07-17 03:28] YangZunYu opened #4742 "function apply protobuf input."
Hello. I'm testing pulsar function for easy ETL job recently, but i encountered some errors that i couldn't figure it out.  there is my snippet.
![image](https://user-images.githubusercontent.com/13885249/61344372-9d9cec80-a883-11e9-909a-e096e6c55210.png)

and producer is:
![image](https://user-images.githubusercontent.com/13885249/61344415-c1603280-a883-11e9-933a-fbf223470c3f.png)

#### Expected

[2019-07-17 05:55] jerrypeng commented on #4742
@YangZunYu I think there is a bug.  Its a simple fix. It involves this line of code:

https://github.com/apache/pulsar/blob/master/pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/source/TopicSchema.java#L149

[2019-07-17 06:48] fxbing commented on #4707
The reason is the update of `cluster` is not atomic.
I have fix it and add a test. #4745

[2019-07-17 07:24] freeart commented on #4740
@codelipenghui  Yes, I did. It doesn't work.
[code]
[code]

[2019-07-17 07:48] freeart commented on #4740
@codelipenghui thanks!

[2019-07-17 07:48] #4740 closed

[2019-07-17 08:52] rfuerst87 opened #4747 "[pulsar-sql] Support arrays and maps"
**Is your feature request related to a problem? Please describe.**
Currently pulsar-sql seems not to support columns of type array and map. Such columns are not shown querying for `show columns from pulsar."tenant/ns".topic;` nor are they available in `SELECT` queries. This makes it impossible to fetch arrays and maps using pulsar-sql.

**Describe the solution you'd like**
IMHO it would be a nice

[2019-07-17 10:09] NotBad4U commented on #4055
Hi :smile:
any update one this issues?

[2019-07-17 10:24] sijie opened #4748 "Integration Tests failing"
#### Expected behavior

Integration tests should pass

#### Actual behavior

The integration test is failing

[code]

[2019-07-17 11:24] vamsi360 commented on #3115
Hi, I worked on AVRO-2248 and we stabilised it and use it in production in our company. We will resume the discussion and make the required changes to get it merged to master.

For now, if generic types are required, you can use the fork https://github.com/vamsi360/avro

[2019-07-17 15:29] gurgen2727 commented on #3968
@grantwwu because nobody knows the answer and nobody answers for days there, you are the only person who responded to my question, also if you are concerned about ticket, don't worry I will remove all my comments as soon as I finish my projects, so your ticket will be clean.
Thanks
Gurgen

[2019-07-17 20:44] jerrypeng commented on #4732
I have encountered this problem with Superset before but its because Superset doesn't escape quotes correctly.  Other SQL tools such as Tableau doesn't have this issue.

[2019-07-17 21:26] grantwwu commented on #3968
...Please don't delete your comments...

I'm in the Slack as well.  It really depends on whether I (and other people) are free and whether or not we're capable of answering the question.  For example I recently saw your Avro schema question and didn't answer it because I've never worked with it.

[2019-07-18 01:52] YangZunYu commented on #4742
OK. Thanks for your reply. :)

[2019-07-18 02:52] codelipenghui commented on #4734
@jerrypeng I try to change type of " __publish_time__" to  TimestampType .TIMESTAMP, and can pushed down correctly by using function ` from_iso8601_timestamp()`;

Here is my tests at superset:
![image](https://user-images.githubusercontent.com/12592133/61425472-a48e3280-a949-11e9-8499-abdc07312b4f.png)

Change value of " __publish_time__", the returned count of rows will be reduced accordingly:
![

[2019-07-18 03:01] jerrypeng commented on #4734
@codelipenghui predicate pushdown does not have anything to do with the correctness of the results.  Its an optimization we use in Pulsar SQL to retrieve only the data that satisfies the predicate from bookies since entries are sorted by publish time.

Please take a look at this code:

https://github.com/apache/pulsar/blob/master/pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/

[2019-07-18 04:20] Jennifer88huang opened #4752 "[docs] Add Go SerDe option"
**Is your feature request related to a problem? Please describe.**
Currently, Go does not have SerDe option.

**Describe the solution you'd like**
We can add the option for Go, and complete the content in https://github.com/apache/pulsar/pull/4725.

[2019-07-18 04:20] Jennifer88huang commented on #4752
@wolfstudy Could you please help add the option for Go? Thank you.

[2019-07-18 04:28] Jennifer88huang opened #4753 "[docs] Add documentation for Functions develop: encryption"
**Is your feature request related to a problem? Please describe.**
The encryption section in the Functions develop chapter is missing.

**Describe the solution you'd like**
Add encryption section, and complete the content in https://github.com/apache/pulsar/pull/4725

[2019-07-18 04:38] wolfstudy commented on #4752
As sijie said, Go Function not support `SerDe`, so i have no way to add this content.

In here, can we tell the user that Go Function does not support this feature for the time being? Or we remove this tab directly.

[2019-07-18 05:27] massakam commented on #4748
The python3 included in the docker image does not seem to support `('cp35', 'cp35m', 'manylinux1_x86_64')`.
[code]

[code]

[2019-07-18 06:45] #4708 closed

[2019-07-18 06:46] codelipenghui commented on #4737
@congbobo184 please take a look this issue.

[2019-07-18 08:27] freeart opened #4755 "defaultRetentionTimeInMinutes from conf/standalone.conf doesn't do nothing"
**Describe the bug**
```defaultRetentionTimeInMinutes``` from ```standalone.conf``` doesn't affect to the real behavior
But ```bin/pulsar-admin namespaces set-retention public/default --size -1 --time -1```
works fine

**To Reproduce**
Steps to reproduce the behaviour:
1. mount volume in ```docker-compose.yaml``` file ```'docker/pulsar/conf/standalone.conf:/pulsar/conf/standalone.conf'``` and set

[2019-07-18 08:27] massakam opened #4756 "Broker's web threads get stuck"
The other day, one of our broker servers became unable to respond to any HTTP request. The following is a part of the thread dump at that time.

[threaddump.txt](https://github.com/apache/pulsar/files/3405487/threaddump.txt)

It seems that many `pulsar-web-x-x` threads are blocked trying to get a list of subscriptions.
[code]

**Pulsar version**
- broker: 2.2.1

We have already backported #4484 to

[2019-07-18 10:02] codelipenghui commented on #4734
@jerrypeng I have create a new PR and verified "__publish_time__" push down is work well, PTAL.

[2019-07-18 10:26] Jennifer88huang commented on #4554
@sijie It seems that "Monitor / Secure / Troubleshoot" parts in How-to guides (dev part) are missing. Could anyone provide those content?

[2019-07-18 10:59] #4748 closed

[2019-07-18 12:45] rosenk commented on #4131
$ java --version
openjdk 11.0.3 2019-04-16
OpenJDK Runtime Environment AdoptOpenJDK (build 11.0.3+7)
OpenJDK 64-Bit Server VM AdoptOpenJDK (build 11.0.3+7, mixed mode)

[2019-07-18 15:43] sijie commented on #4554
@jerrypeng has done a lot work in function metrics. @jerrypeng do you mind helping @Jennifer88huang at providing the content for that part?

[2019-07-18 16:36] #4726 closed

[2019-07-18 17:08] sijie commented on #4131
https://openjdk.java.net/jeps/335 the warning is coming from JDK itself. you can ignore the warning message.

[2019-07-18 17:24] sijie commented on #3275
The flume connectors are implemented at #3597

[2019-07-18 17:24] #3275 closed

[2019-07-18 17:28] sijie commented on #4585
for people who are interested in using spark structure streaming with Pulsar, @yjshen has implemented a decent spark connector here: https://github.com/streamnative/pulsar-spark

The spark connector supports both streaming and batch jobs and write data back to pulsar as well. the implementation is fully integrated with Pulsar schema. You can also use Spark SQL to query the data in pulsar.

He also

[2019-07-19 00:34] hrsakai commented on #4756
It reproduces with the following command.
[code]

[2019-07-19 01:13] #4734 closed

[2019-07-19 01:50] tuteng opened #4761 "[pulsar-test] Could not resolve host: github.com"
**Describe the bug**
During the test, the following exceptions are thrown frequently, causing the test to be interrupted.
[code]

**To Reproduce**
Some example:
https://builds.apache.org/job/pulsar_precommit_cpp/8613/console
https://builds.apache.org/job/pulsar_precommit_cpp/8615/console

**Expected behavior**
The test can pass.

[2019-07-19 01:51] #4589 closed

[2019-07-19 02:55] congbobo184 opened #4763 "get the list of schema should return non-deleted schemas"
#### Describe the bug

get schema list is all schema is last version schema

#### To Reproduce
https://github.com/apache/pulsar/blob/cc5f25bf1a97609ad065908b9a60866c382ee2e0/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/schema/BookkeeperSchemaStorage.java#L142

[2019-07-19 02:57] congbobo184 commented on #4763
#4731 fixed it.

[2019-07-19 05:51] whisper-bye commented on #4055
+1

[2019-07-19 06:48] Liu-Junlin commented on #4560
Can you tell me how to config this,please.
I have done this by:
1.config a token Authentication:
![image](https://user-images.githubusercontent.com/15389578/61514848-9ae0f980-aa33-11e9-8fc3-3a5bd9f54658.png)
brokerClientAuthenticationPlugin=org.apache.pulsar.client.impl.auth.AuthenticationToken
brokerClientAuthenticationParameters=file:///data/pulsar/apache-pulsar/conf/secret.key
2.set a token whe

[2019-07-19 07:05] whisper-bye commented on #4727
+1

[2019-07-19 08:28] Jennifer88huang commented on #4554
@jerrypeng Thank you very much if you could provide related raw materials.
You can also create PR with `functions-monitor`, `functions-secure`, `functions-troubleshoot` with the content. If there is anything I can do for you, feel free to contact me.

[2019-07-19 09:24] #3153 closed

[2019-07-19 09:26] Liu-Junlin commented on #4560
I have found my problem.
The config brokerClientAuthenticationParameters must be a client_secret,like a token.
**brokerClientAuthenticationParameters=token:eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJwdWxzYXItYWRtaW4ifQ.k2Fa1ZxDJTUHBGPsxLjT7x4hJ9Cvt_19DBbwsX-URdk**
Then everything is OK.

[2019-07-19 10:22] #4730 closed

[2019-07-19 15:57] #4712 closed

[2019-07-19 16:52] #4724 closed

[2019-07-20 00:25] #4658 closed

[2019-07-21 07:18] sijie commented on #4742
@YangZunYu are you interested in contributing a fix for it?

[2019-07-21 07:26] sijie commented on #4761
@tuteng I have excluded a few machines that can not talk to github.com. Hopefully it will make the test stable.

[2019-07-21 07:28] sijie commented on #4763
This is fixed by #4731

[2019-07-21 07:28] #4763 closed

[2019-07-21 07:29] sijie commented on #4756
@massakam does #4765 fix this issue you described here?

[2019-07-21 07:34] sijie commented on #3140
The state is enabled by default in pulsar-standalone

[2019-07-21 07:34] #3140 closed

[2019-07-21 07:35] sijie commented on #3220
@lxkaka is the problem addressed at your side?

[2019-07-21 07:36] #3189 closed

[2019-07-21 07:39] sijie commented on #2522
This change has been fixed in the latest master.

[2019-07-21 07:39] #2522 closed

[2019-07-21 07:40] sijie commented on #2499
I think this is a documentation issue to documentation how to pass basic authentication credentials from Python client.

[2019-07-21 08:03] HeChuanXUPT opened #4769 "pulsar-io/file compile error: Cannot resolve method 'getNumWorkers()'"
**Describe the bug**
Cannot resolve method 'getNumWorkers()'

**Screenshots**
![image](https://user-images.githubusercontent.com/5425689/61588572-8b4ae780-abd0-11e9-8cea-fa1bf6fd1e73.png)

[2019-07-21 08:09] sijie commented on #4769
@HeChuanXUPT you need to configure lombok pluin in your IDE. See instructions at https://github.com/apache/pulsar#setting-up-your-ide

[2019-07-21 08:15] HeChuanXUPT commented on #4769
thanks

[2019-07-21 08:15] #4769 closed

[2019-07-21 19:07] david-streamlio opened #4772 "Rename the --destination-topic-name switch to --output for the Pulsar Admin CLI create source command"
**Is your feature request related to a problem? Please describe.**
The sink create command has a --input switch, so this feature would bring consistency between the two commands in terms of specifying the topics.

**Describe the solution you'd like**
Rename the --destination-topic-name switch to --output switch for the Pulsar Admin CLI create source command

**Describe alternatives you've consider

[2019-07-22 00:56] #2483 closed

[2019-07-22 00:56] #4711 closed

[2019-07-22 03:33] sijie opened #4775 "[SQL] Optimize handling date related types in presto handler"
**Is your feature request related to a problem? Please describe.**

Currently Presto is using `Schema` implementation to serialize and deserialize types. Schema stores `Date`, `Timestamp` and `Time` as epoch timestamp in the same way. So presto has to deserialize the serialized message back to java util `Date`, `Timestamp` and `Time`. There can be performance penalty due to object allocations. If

[2019-07-22 07:43] lxkaka commented on #3220
@sijie the problem was resolved.

[2019-07-22 08:36] #3220 closed

[2019-07-22 11:57] zhangbitao opened #4777 "Can't limits consumer's rate using command "set-subscription-dispatch-rate""
**Describe the bug**
Can't limits consumer's rate using command "set-subscription-dispatch-rate"

**To Reproduce**

1.  Set subscription message-dispatch-rate

[code]

2. case 1:  Set Batching=true in pulsar.ProducerOptions, but the result doesn't I want

[code]

[code]

3. case 2:  Set Batching=false in pulsar.ProducerOptions, but the result doesn't I want

[code]

[code]

4. case 3:  Set Batchin

[2019-07-22 14:59] #4732 closed

[2019-07-22 16:36] massakam commented on #4756
@sijie No, it doesn't. Probably, we need to modify the API for getting list of subscriptions as well as #4765 in order to fix this issue. I intend to send a pull-request for that later.

[2019-07-23 04:34] sijie opened #4782 "Schema restful api improvements"
This issue for tracking add a few new result api for schema.

- `getAllVersions`: return the list of schema versions for a given topic.
- `testCompatibility`: be able to test the compatibility for a schema without registering it
- `getVersionBySchema`: give a schema definition and find the schema version for it.

[2019-07-23 06:52] davidtinker commented on #2431
We have had similar problems with our 3 node cluster (2.3.1). Every couple of weeks a bunch of our subscriptions (but not all) stop receiving messages and we have to restart all brokers to get things going again. Restarting the consuming services doesn't help.

Another problem we have that might be related and possibly easier to diagnose is that sometimes subscriptions seem to get "stuck" with a m

[2019-07-23 07:54] sijie opened #4784 "[presto] pulsar presto connector doesn't have to configure zookeeper manually"
**Is your feature request related to a problem? Please describe.**

Currently pulsar configures presto-worker by setting `pulsar.zookeeper-uri` in `conf/presto/catalog/pulsar.properties`. It would be great to deprecate this setting. Because the internal cluster configuration can be fetched from broker restful endpoint.

[2019-07-23 09:39] wolfstudy commented on #4720
@mediocregopher Can you check the version of `snappy` lib? According to the error message you provided, the version of snappy is incorrect.

[2019-07-23 12:45] codelipenghui opened #4785 "[pulsar-sql] export partitioned topic name"
**Is your feature request related to a problem? Please describe.**
Currently, use pulsar sql to show tables list will return all topic partition names, integration with some UI tools can't select the partitioned topic, so suggest to add the partitioned topic to pulsar sql table list.

**Describe the solution you'd like**
Add the partitioned topic to pulsar sql table list while get table list.

[2019-07-23 15:26] mediocregopher commented on #4720
Hi @wolfstudy , my snappy version is `1.1.7-1`. It doesn't mention anything about snappy being a requirement in the README so I'm not sure what version it ought to be on. Thanks!

[2019-07-23 18:31] evanhlavaty opened #4787 "Sink ignores inputSpecs in configuration yaml on create"
**Describe the bug**
When creating a sink with an accompanying configuration yaml, I want to increase the receiverQueueSize so I have the following set in my configuration yaml

[code]

however, my inputSpecs configuration settings are ignored after creation of the sink and receiverQueueSize is set to the default of 1000

**To Reproduce**
- **Create sink with pulsar admin cli**
[solr_kerberos_io-2

[2019-07-24 01:51] #4707 closed

[2019-07-24 01:55] sijie opened #4788 "Improve schema implementation to deal with ByteBuf"
**Is your feature request related to a problem? Please describe.**

Currently all the schema implementations deal with `byte[]` only. It introduces a lot of object allocations and produces garbages, which is not friendly to Java language.

We should improve the schema interface to handle `ByteBuf` or `ByteBuffer`.

[2019-07-24 02:59] wolfstudy commented on #4720
Yes, as you said, did not mention the version of `snappy` in [https://pulsar.apache.org/docs/en/develop-cpp/#system-requirements](https://pulsar.apache.org/docs/en/develop-cpp/#system-requirements).

You are using `arch` OS, the default is 64-bit. If the package name in the arch package does not contain lib32, it is 64-bit. In your error message, all types are wrong and not declared. So, I suggest

[2019-07-24 03:28] Anonymitaet opened #4789 "[Doc] Add Schema Chapter"
I plan to add Schema Chapter and several sections under it, the structure looks like this:

![Schema](https://user-images.githubusercontent.com/50226895/62191329-e38aa200-b3a5-11e9-9bda-db59981ca301.png)

Any thoughts?  @sijie @tuteng

Welcome any comments.

[2019-07-24 06:56] sijie commented on #4789
^ @codelipenghui @congbobo184 does the proposed schema documentation structure looks good to you?

[2019-07-24 08:45] HeChuanXUPT opened #4790 "healthcheck report error: Trying to subscribe with incompatible schema"
**Describe the bug**
healthcheck api report error

**To Reproduce**
Steps to reproduce the behavior:
1. access http://127.0.0.1:8080/admin/v2/brokers/health
2. see errors
[code]

**Expected behavior**

**Screenshots**

**Desktop (please complete the following information):**
 - OS: [Linux]

**Additional context**
version: apache-pulsar-2.4.0
access other broker/cluster api not encounter errors, li

[2019-07-24 09:06] sijie opened #4791 "Pulsar Kafka wrapper support Kafka 0.9.x version"
**Is your feature request related to a problem? Please describe.**

Currently the Pulsar Kafka wrapper is using Kafka 0.10.x version. It would be great that we can support wrappers for different versions.

[2019-07-24 10:52] sijie opened #4793 "[documentation] Add documentation for replicated subscription"
The replicated subscription documentation is missing.

[2019-07-24 10:54] sijie opened #4794 "[documentation] Add documentation for delayed message delivery"
The documentation for delayed message delivery is missing.

[2019-07-24 12:25] pouledodue commented on #4794
#4675

[2019-07-24 13:21] Anonymitaet commented on #4789
I've created the following PRs based on this structure:

Get Started Section: https://github.com/apache/pulsar/pull/4786

Understand Schema Section: https://github.com/apache/pulsar/pull/4759

[2019-07-24 18:52] one70six opened #4796 "Enhance Log Topics for Pulsar Functions"
**Is your feature request related to a problem? Please describe.**
When using the `logTopic` feature of Pulsar Functions it works great, but seems a bit limited in it's usage as only the message body is being sent to the logTopic as `byte[]`.

**Describe the solution you'd like**
Add an additional` LogAppender.append` method override that allows for the `org.apache.logging.log4j.core.LogEvent` obj

[2019-07-25 06:09] sijie opened #4802 "Expose schema in Pulsar source"
**Is your feature request related to a problem? Please describe.**

When moving messages from Kafka (with schema registry) to Pulsar, we also need to carry the schema from source and store the schema to Pulsar.

This issue serves as a master issue for exploring a solution to expose schema in Pulsar source and Pulsar Functions framework should leverage the schema information and handle schema evolu

[2019-07-25 06:21] sijie opened #4803 "Pulsar schema doesn't support null value"
**Describe the bug**

If a Pulsar producer sends messages without payload, Pulsar consumer is not able to consume the messages without payload. Because the payload passed to schema is an empty array not `null`. Hence exceptions are thrown. An example exception is shown as below:

[code]

**To Reproduce**

1. Use a typed producer to send messages without setting value.
2. Use a typed consumer to re

[2019-07-25 06:22] sijie commented on #4803
In event-sourcing use cases, a `null` value is usually used for representing a delete operation. Hence we should return `null` if the message doesn't have any payload.

[2019-07-25 06:40] sijie opened #4804 "KeyValue schema doesn't handle null key and null value well"
**Describe the bug**

Similar as #4803, it is impossible to specify null key or null value in KeyValue schema. It throws exception as below:

[code]

**To Reproduce**

[code]

**Expected behavior**

Be able to support `null` key and `null` value.

[2019-07-25 07:52] sijie opened #4806 "A Pulsar producer should be able to produce messages of different schemas"
**Is your feature request related to a problem? Please describe.**

When replicating data from Kafka (with schema registry) to Pulsar, it involves both uploading schemas and producing data to Pulsar. Also All the messages should also be replicated in order and there are no duplicates. The later requirement means we can only use one producer for replicating one Kafka partition to one Pulsar partiti

[2019-07-25 09:21] sijie opened #4807 "Pulsar schema service should retry on concurrent schema updates"
**Describe the bug**

Currently Pulsar doesn't retry on exceptions thrown when concurrently updating same schema. So the exception is propagated to Pulsar client directly. This is not a good experience for clients.

We should consider handling errors and retry it again.

Example exceptions are:

[code]

[2019-07-25 11:23] easyfan opened #4808 "TYPO in C++ client producer method for processing failure case"
**Describe the bug**
Inside file pulsar/pulsar-client-cpp/lib/ProducerImpl.cc, the method:
`void ProducerImpl::failPendingMessages(Result result) `
is designed for processing all the failure cases on publishing messages. As the exact result is given by parameter, so every registered message callback should be invoked with exactly the same result. But actually, In the final line of this method, the

[2019-07-25 11:25] easyfan commented on #4808
I may submit my PR later if no any doubt.

[2019-07-25 11:37] easyfan opened #4809 "provide a convenient method for C++ client producer batch container"
**Describe the bug**
Inside file: there is an inner structure `pulsar::BatchMessageContainer::MessageContainer,` which designed for some bridge purpose from an all-in-one message and each separated message callback. But so strange is that there is no convenient method for the structure to callback any given result directly.

**Expected behavior**
Hope there is a convenient method for callbacking.

[2019-07-25 11:37] easyfan commented on #4809
I will submit PR later.

[2019-07-25 12:23] fxbing commented on #4755
Default retention policy is not uploaded to zookeeper, but it is getted from zookeeper when it is used.
So, if zookeeper doesn't have retention policy, we should load it from default config file.

I have fix it in #4810

[2019-07-25 16:16] jerrypeng commented on #4784
@sijie I suggest keeping this setting as the url to the zookeeper cluster from the presto cluster might be different than the one brokers use to go the zookeeper.  I would suggest that by default if this config is not set, then we just fetch the zookeeper url from the brokers

[2019-07-25 16:17] #4277 closed

[2019-07-25 16:25] sudeepamin opened #4812 "Pulsar cannot resolve AWS ELB URL"
**Describe the bug**
Pulsar libraries cannot connect to Pulsar via a Load Balancer URL setup as a part of the 'streamlio-admin ingress create' command. If you directly use one of the IP addresses that the URL resolves to the code is able to connect to Pulsar. However, AWS recommends against the use of individual IP addresses directly and to use the ELB LoadBalancer URL.

**To Reproduce**
Steps to

[2019-07-25 17:09] sijie commented on #4784
Isn’t that a much bigger problem if broker is using a different zookeeper than bookies?

[2019-07-25 18:23] jerrypeng commented on #4784
Its the same zookeeper cluster but the url path to the zookeeper cluster might be different since users can run a presto cluster separately from the pulsar cluster

[2019-07-25 19:23] jerrypeng commented on #4784
The routing paths / urls can be set differently for different clusters for one reason or another, we should allow users to override if necessary

[2019-07-25 21:53] sijie commented on #4784
Can you use an example for this?

If a different url or path (or just a different zk connect string) is used, that means the data is stored in a different bookkeeper cluster. And the only component writes data to it is the brokers. So you should be able to connect to brokers to fetch the connect string for accessing the bookkeeper cluster.

I can’t think of a case you need to override this setting

[2019-07-25 21:54] zubchenok opened #4816 "Pulsar functions context potential OOM"
Pulsar functions ContextImpl getProducer method caches created producers in a private hash map publishProducers and never voids any of them. Once producer goes to the map, it stays there forever.

If you start a function and it will publish to unbounded set of random topics, you'll finally get OOM.

It would be great to clean up the map based on the last producer access timestamp. Like 1 or 10 min

[2019-07-25 22:37] jerrypeng commented on #4784
@sijie for example if you have a pulsar cluster ( brokers, bookies, and zk) running inside a kubernetes cluster in AWS or anywhere, the internal hostname that brokers use for ZK can just be "zookeeper".  However, if my presto cluster is not within the kubernetes cluster, I will need an external ip or hostname to use to access both brokers and zk e.g., "a852ba4daae6b6598-1362313856.us-west-2.elb.am

[2019-07-25 22:41] jerrypeng commented on #4816
@zubchenok is there a reason why you are publishing to an unbounded set of random topics from a function?  That is not a typical use case.  We can perhaps add the capability to set a maximum number of topics any function publish to.

[2019-07-25 22:47] jerrypeng commented on #4796
@one70six sounds good to me.  We can even produce the logs with a schema e.g.

| level | classpath                                                   | message|
|INFO | org.apache.logging.log4j.core.LogEvent| foo

[2019-07-26 01:14] codelipenghui commented on #4785
@sijie @jerrypeng
We've been using pulsar SQL recently, will return a large table lists when users have a lot of partitions. Can we regard partition as a internal column and just return the partition topic name, while user query by partition can use like following:
[code]
And Pulsar SQL push down the `"__partition__"`.

[2019-07-26 01:33] jerrypeng commented on #4785
+1 it also makes it easier for the user query every partition without specifying multiple topics

[2019-07-26 03:37] sijie commented on #4812
@sudeepamin I think you should reach out to streamlio team for this question.

[2019-07-26 03:49] jerrypeng commented on #4784
@sijie I am thinking of a use case where you have a pulsar cluster ( brokers, bookies, and zk) running inside a kubernetes cluster, the internal hostname that brokers use for ZK and BK can just be "zk" or "bk.  However, if my presto cluster is not within the kubernetes cluster, I will need an external ip or hostname to access brokers, zk, and bookies.  Though I wonder if that is achievable since z

[2019-07-26 03:51] sijie opened #4821 "Pulsar schema api should respect to namespace level compatibility"
**Describe the bug**
Currently the schema restful api is using `SchemaCompatibilityStrategy.FULL`

https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/v2/SchemasResource.java#L268

It should use the compatibility strategy configured at namespace level.

[2019-07-26 03:53] #4812 closed

[2019-07-26 04:05] sijie commented on #4784
That's not achievable at this moment. because bk only has one advertised address for now. Unless we support bk having multiple advertised address, it is not feasible.

[2019-07-26 04:06] sijie commented on #4785
+1

[2019-07-26 04:15] sijie commented on #4794
Close this since it was a duplicate of #4675

[2019-07-26 04:15] #4794 closed

[2019-07-26 04:17] sijie commented on #4796
why not just define a `Struct` for this? use AVRO and JSON to serialize the struct to the log topic. It doesn't make sense to introduce a new schema type.

[2019-07-26 04:18] jerrypeng commented on #4796
@sijie that is what i mean?

[2019-07-26 04:41] sijie opened #4823 "Support timezone information in Pulsar"
**Is your feature request related to a problem? Please describe.**

Currently all the time related types don't include timezone. Also Pulsar doesn't store any timezone information for both publish time and event time. This makes applications inconvenient on handling date types, specially when integrating Pulsar with popular BI tools.

This master issue is to discuss introducing timezone informatio

[2019-07-26 04:42] sijie commented on #4823
@jerrypeng since this is related to what we discussed before, can you please take a look? The idea is to introduce timezone information in Pulsar.

/cc @codelipenghui

[2019-07-26 05:02] jerrypeng commented on #4823
I have a couple questions just to understand the rational behind having timezones with timestamp:

1.  Since all unix timestamp are in UTC time does it make sense to have timezone information for publish_time especially since it is set by the system?  In presto, for a timestamp field, by default it displays the time in the local timezone anyways

2. The user can set event_time, and from my underst

[2019-07-26 06:33] AnandSinha opened #4824 "Regex patten based topic consumers prevent topic deletion"
**Describe the bug**
I am using Java client libraries. I created a consumer using `topicsPattern` for a regex pattern. As new topics matching the pattern get created, the consumer starts consuming from it. This is expected. However, I delete a topic that the consumer is consuming (even with an -f option); the topic does not get deleted (looks like it gets re-created). This is NOT EXPECTED, and is

[2019-07-26 09:19] sijie commented on #4796
ok. I saw there is `Schema.LOG` in the issue. Just want to make sure everyone is on the same page.

[2019-07-26 09:37] Jennifer88huang commented on #3400
@sijie @jiazhai I have two questions on this:
1. Is it OK to refine the description as follows?
- Thread mode: when a function runs in thread mode, it runs on the same Java virtual machine (JVM) with Functions worker.
- Process mode: when a function runs in process mode, it runs on the same machine that Functions worker runs.

2. What's the most proper place to add the content in "overview"? Shall

[2019-07-26 16:11] sudeepamin commented on #4812
@sijie why is this a streamlio question? Looks like the library in question is
org.apache.pulsar.shade.io.netty.resolver.dns.DnsResolveContext$

Is this owned by Streamlio?

[2019-07-27 00:37] rdhabalia opened #4830 "Pulsar-CPP-client-TLS : publish gets stuck when multiple producers publish on same ssl connection"
### Bug
Pulsar-CPP client:
when multiple producers try to publish messages using same tls connection then publish gets stuck as boost::asio is not [thread-safe](https://stackoverflow.com/questions/15352472/using-boosts-ssl-asio-code-async-write-some-hangs)
thread stack-trace when process gets stuck on publish
[code]

**Fix:**
Avoid concurrent threads writing using ssl and it can work with boost 1.

[2019-07-27 02:57] sijie commented on #4812
@sudeepamin

[code]
[code]

The exception you attached in this issue has indicated that Pulsar library has attempted to query the DNS domain and it failed due to network is unreachable. If the network is unreachable, that is beyond what Pulsar library / client can do. It has something related to how do you setup the cluster and the load balancer.

You are using a vendor tool to setup the cluster a

[2019-07-27 03:12] #4755 closed

[2019-07-27 04:22] sijie commented on #4824
@AnandSinha

By default Pulsar creates topic when a consumer or a producer connects to the broker. That means even you don't use the regex subscription directly, you have a consumer connect to the topic. The topic will be recreated if a topic is deleted.

Pulsar provides a flag to disable topic auto creation. Does disabling the flag work for you?

[2019-07-27 04:35] sijie commented on #3400
@Jennifer88huang

You description for question 1 is correct.

For your second question, add a section for runtime. You can collect the information from runtime page and add clarifications.

[2019-07-27 06:46] sijie opened #4831 "Pulsar schema doesn't do compatibility check for primitive types"
**Describe the bug**

Currently Pulsar schema doesn't do compatibility check for primitive types. That says if a consumer connect to a topic with a different schema type. It still can connect and receive messages. Exception is only thrown when retrieving the values from the received messages.

**To Reproduce**
Steps to reproduce the behavior:

1. Send messages with `Schema.STRING`
2. Consume messa

[2019-07-27 13:20] sijie opened #4833 "Allow using a different identifier for message de-duplication"
**Is your feature request related to a problem? Please describe.**

Currently the deduplication is based on producer name. The producer name is associated with a connection. Pulsar doesn't allow two concurrent connections with same producer name. In most of the cases, that is good enough.

However in connector use case, copying a Kafka partition to a Pulsar partition. We can use Kafka offset as th

[2019-07-27 13:50] sudeepamin commented on #4812
@sijie The network is reachable. This was tested by doing a simple nslookup on the AWS ELB URL. If you were trying with the address in the original post that has changed (my apologies. Looking to create a CNAME to abstract code from these changes).  The new address is `ab30d3c79aee611e9acf102a8b3fc243-31673255.us-east-1.elb.amazonaws.com`.  It resolves into 3 IP addresses. Moreover, if I pick one

[2019-07-27 15:10] segahm opened #4834 "Testing feature request"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-07-27 16:49] youurayy commented on #572
Bookkeeper seems to be Etcd ready: https://github.com/apache/bookkeeper/issues/1639
Kafka also already supports etcd.

Is it time for Pulsar to be reassessed for adding etcd support?

[2019-07-28 03:31] Jennifer88huang commented on #3400
@sijie Thank you very much for your advice.
Maybe it's good idea to add the differences in [Configure Functions runtime](http://pulsar.apache.org/docs/en/functions-runtime/).
![image](https://user-images.githubusercontent.com/47805623/62001810-2ab92e80-b12b-11e9-8895-385294d16613.png)

[2019-07-28 04:46] sijie commented on #4812
@sudeepamin

I have tried your LB address "ab30d3c79aee611e9acf102a8b3fc243-31673255.us-east-1.elb.amazonaws.com".

*ab30d3c79aee611e9acf102a8b3fc243-31673255.us-east-1.elb.amazonaws.com*

- nslookup result: *good*
[code]

- curl the web endpoint: *good*

[code]

- use `pulsar-admin` to point to `ab30d3c79aee611e9acf102a8b3fc243-31673255.us-east-1.elb.amazonaws.com` : *good*

[code]

- I used the

[2019-07-28 08:38] sijie opened #4838 "NPE is thrown when a consumer consumes a partitioned topic with struct schema"
**Describe the bug**

NPE is thrown when a consumer consumes a partitioned topic (which doesn't have any registered schema) with struct schema.

[code]

[2019-07-28 10:25] zubchenok commented on #4816
We use hundred thousands topics per day (topic per user session). I've already explained in detail our case in Pulsar community earlier.

I don't think this is reasonable to set such limit, because you can implement a smart cache or improve the functions API to publish messages without explicit creation a publisher per topic.

[2019-07-28 12:56] sijie opened #4840 "Pulsar schema admin API doesn't support uploading key/value schema"
**Describe the bug**

Currently Pulsar schema api converts schema data (bytes) to string and uploads the string to Pulsar admin endpoint. It works for struct schemas and primitive schemas. Primitive schemas doesn't contain any schema data and struct schemas store UTF_8 encoded data.

However it doesn't work for key/value schema because it will contain illegal bytes in schema data.

**To Reproduce*

[2019-07-28 17:41] jerrypeng commented on #4816
We can implement a cache for producers.  That closes "old" producers automatically

This cannot be done in Pulsar in general.  With the current producer API, it one producer per topic

[2019-07-28 21:00] laurent75019 commented on #4055
I solved the problem by removing "HINT_ANDROID_SEPARATE_MOUSE_AND_TOUCH         = C.SDL_HINT_ANDROID_SEPARATE_MOUSE_AND_TOUCH         // specifies a variable to control whether mouse and touch events are to be treated together or separately" in the file :
C:\Users\lbaha\go\src\github.com\veandco\go-sdl2\sdl\hint.go

[2019-07-28 21:34] NotBad4U commented on #4055
Can you explain the link between `HINT_ANDROID_SEPARATE_MOUSE_AND_TOUCH` and the compilation errors: `could not determine kind of name for C.pulsar_...` @laurent75019 ? :thinking:

[2019-07-29 04:30] rdhabalia commented on #4830
this should be fixed by #4750

[2019-07-29 04:30] #4830 closed

[2019-07-29 06:30] wolfstudy commented on #4787
Hello, according to the information you provided, we have reproduced your process, and the `receiverQueueSize` can be assigned normally.

solr-config.yml as follows:

[code]

### To Reproduce

[code]

[2019-07-29 11:11] #4344 closed

[2019-07-29 12:08] sijie commented on #3400
sgtm

[2019-07-29 13:05] evanhlavaty commented on #4787
Is there anyway you can confirm there is an issue in 2.3.2 or not, I will not be able to upgrade to the latest version right away and I don't want to keep trouble shooting in 2.3.2 if its not doable.

[2019-07-29 13:26] H00001 opened #4842 "running SmokeTest"
exception stack:
java.util.concurrent.CompletionException: org.apache.pulsar.client.api.PulsarClientException: Connection already closed
	at java.base/java.util.concurrent.CompletableFuture.encodeThrowable(CompletableFuture.java:331)
	at java.base/java.util.concurrent.CompletableFuture.completeThrowable(CompletableFuture.java:346)
	at java.base/java.util.concurrent.CompletableFuture$UniRun.tryFire

[2019-07-29 13:27] H00001 commented on #4842
b0793a178b8b5d2d1e82316b224c6dc3c27c6664

[2019-07-29 13:56] codelipenghui commented on #4821
@congbobo184 please take a look this issue

[2019-07-29 13:56] codelipenghui commented on #4831
@congbobo184 please take a look this issue.

[2019-07-29 13:57] codelipenghui commented on #4838
@congbobo184 please take a look this issue.

[2019-07-29 13:58] codelipenghui commented on #4840
@congbobo184 please take a look this issue.

[2019-07-29 14:29] one70six commented on #4796
Very cool guys. exactly what I was hoping for! Thanks!

[2019-07-29 21:44] jerrypeng opened #4843 "Pulsar Function in Java NPE when implementing wrong interface"
If a user submits a Pulsar Function written in java that is not implementing the correct interface, the following NPE could happen:

[code]

We need to check whether the function is implementing the correct interface before we do some checks

[2019-07-30 03:38] Jennifer88huang commented on #3400
Update those two PRs.

[2019-07-30 06:07] jiazhai commented on #3376
But for TLS, It need these configs:
http://bookkeeper.apache.org/docs/latest/security/tls/#configuring-clients

We need add and support these config in [BookKeeperClientFactoryImpl](https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/BookKeeperClientFactoryImpl.java), which is similar to bk client config in it.

[2019-07-30 08:40] Lanayx opened #4849 "Acknowledged messages get redelivered after broker failure"
**Describe the bug**
I'm expecting redelivery of  the old acknowleged messages after one broker failure on default minikube helm installation with 2 brokers and 2 bookkeepers instead of 3 (to reduce resource usage).

**To Reproduce**
I'm testing basic pub/sub pulsar functionality in minikube. There is topic "public/default/test" with default settings. I'm using the same exclusive subscription "tes

[2019-07-30 09:02] codelipenghui opened #4850 "Generate publish time of message at broker side"
**Is your feature request related to a problem? Please describe.**

Currently, publish time of message is generate at client side, while multiple client send messages to broker, we can't guarantee that the order of the messages is incremented by the publish time of the message.

Since Pulsar SQL can push down the "__publish_time__" predicate and use binary search to trim data, this may result in i

[2019-07-30 09:20] codelipenghui opened #4851 "[pulsar-function] window function can not work with avro schema"
**Describe the bug**

Pulsar window function can not work well with avro schema
If use Collection<IN> as input will cause following exception:
[code]
If use ArrayList<IN> as input will cause following exception:
[code]

[2019-07-30 09:55] AnandSinha commented on #4824
Hello @sijie , while this is a perfect technical explanation of why the issue happens; this is not how one would expect a regex pattern based subscription to work.
A regex pattern based subscription should allow the topic-list to grow when new topics are created.
Similarly,
the regex pattern based subscription should allow the topic-list to SHRINK when new topics are DELETED.

Please do let me kno

[2019-07-30 13:22] jahidakhtargit commented on #4510
Same issue I'm facing:

2019-07-30 18:24:11.813  INFO 20248 --- [r-client-io-1-1] o.a.p.c.impl.ConsumerStatsRecorderImpl   : Starting Pulsar consumer perf with config: {
  "topicNames" : [ "device-twin-topic" ],
  "topicsPattern" : null,
  "subscriptionName" : "device-twin-subscription",
  "subscriptionType" : "Shared",
  "receiverQueueSize" : 1000,
  "acknowledgementsGroupTimeMicros" : 100000,

[2019-07-30 14:55] fxbing opened #4852 "The frist position in managedLedger is ahead of the last"
**Describe the bug**
After create a empty ledger by sub/unsub and trim ledgers, the frist position in managedLedger is ahead of the last when create a consumer and don't reopen the managed ledger.

**To Reproduce**
run test and set the retention policy to 0.

**Expected behavior**

no bug and "all message" output none.

**Screenshots**

[code]

**Desktop (please complete the following information)

[2019-07-30 15:03] fxbing commented on #4852
fixed in #4853

[2019-07-30 15:06] sijie commented on #4824
@AnandSinha agreed.

the solution I can think of is to add a flag in the consumer to tell the brokers that the consumer is a regex subscription. hence the broker will not auto-create the topic when a regex consumer connects.

[2019-07-30 15:09] sijie commented on #4849
@Lanayx  this is a known behavior. see the discussion at #4118. #4118 is already created for tracking an improvement for this.

[2019-07-30 15:13] sijie commented on #4842
@H00001 can you provide more context about this issue?

[2019-07-30 15:16] Anonymitaet opened #4854 "Cannot get a schema version"
Schema version cannot be retrieved using the `pulsar-admin` CLI as below:

[code]

@sijie could you please help?

[2019-07-30 15:20] sijie commented on #4854
@congbobo184 since you are working on the schema restful api, can you help with this issue? Currently we don't return schema version on get schema response. Hence the users don't know what is the schema version for this schema.

[2019-07-30 15:22] grantwwu opened #4855 "Uploading a Pulsar Function with pulsar-admin 2.2.1 to a 2.4.0 broker causes validation failure"
**Describe the bug**
If you use the pulsar-admin client bundled with the 2.2.1 client download with a 2.4.0 broker, uploading functions in a way that works with a 2.2.1 broker fails.

**To Reproduce**
Steps to reproduce the behavior:
Attempt to upload a function to a 2.4.0 broker with a 2.2.1 client.

Here's an example `function-config.yaml`:
[code]

Command used for upload looks like this:

[code

[2019-07-30 15:32] Lanayx commented on #4849
@sijie Hi, looks like this issue is not directly connected, since I see the same behavior with _Shared_ subscription configured as well

[2019-07-30 15:54] grantwwu opened #4856 "Admin REST API resetCursorOnPosition endpoint missing position parameter in docs"
**Describe the bug**
http://pulsar.apache.org/en/admin-rest-api/#operation/resetCursorOnPosition does not describe how to actually supply the position.

**Additional context**
Add any other context about the problem here.

[2019-07-30 15:54] H00001 commented on #4842
yeah ，I’d like to do,but it is too late, I will provide information to you tommorrow ,this is utc+8

发自我的 iPhone

[2019-07-30 23:41] devinbost opened #4857 "Error: "Trying to subscribe with incompatible schema" even though isSchemaValidationEnforced=false"
**Describe the bug**

We are getting the error: `Trying to subscribe with incompatible schema`
even though:
`isSchemaValidationEnforced=false `
is set on the broker after deploying a new Pulsar Source and simple passthrough Pulsar Function. Here is the more detailed exception:

**To Reproduce**

1. Ensure that the schemas from the input topics and output topics have been deleted.
2. Ensure that th

[2019-07-31 07:04] jiazhai commented on #4824
In Pattern topics consumer's super class `MultiTopicsConsumerImpl`, there is a method to unsubscribe a given topic in the list:
[code]
You may need first unsub a topic, then delete it.

[2019-07-31 07:39] shubham-Shole4ever opened #4861 "Support for long running message consumer"
**Is your feature request related to a problem? Please describe.**
The ackTimeout is set at the consumer level and is valid for all the messages that consumer handles. We have a case where the consumption of a message takes an unpredictable amount of time, ranging from 10 mins to couple hours. We also don't want to set the ackTimeout for the messages to be max possible (which could be half a day o

[2019-07-31 07:59] codelipenghui commented on #4861
Please take a look at this document which may help you.  http://pulsar.apache.org/docs/en/concepts-messaging/#negative-acknowledgement

[2019-07-31 08:58] shubham-Shole4ever commented on #4861
@codelipenghui I had a look at the negative-acknowledgement. This will still not work if my ackTimeout is set to 10 mins and the message I am consuming is taking 30 mins (for e.g.). The broker will resurface the message after 10 mins, even though one of the consumer is still working on it.
I want to avoid this scenario. My proposal is to have something like a "working(messageId)" functionality on

[2019-07-31 09:16] codelipenghui commented on #4861
@shubham-Shole4ever
You can disable ack timeout, just use ack/negative ack. It means explicitly telling the broker that the process failed and then the broker redeliver this message, if message is in progress, no need to ack/negative ack.

[2019-07-31 09:39] shubham-Shole4ever commented on #4861
@codelipenghui
But if my application crashes while it is processing the message, it'll never be able to ack/negative ack that message ever. This'll result in that message never being retried. This is the exact scenario why I cannot ditch the ackTimeout as well.

[2019-07-31 13:07] merlimat commented on #4861
@shubham-Shole4ever When a consumer crashes, or the TCP connection is broken, the messages that were delivered to this consumer and not acked, will be replayed to another available consumer (in case of shared subscriptions) or next time the consumer reconnects.

You don't need ack timeout for that.

[2019-07-31 18:10] evanhlavaty commented on #4787
I was able to confirm this was a 2.3.2 issue in SinkConfigUtils -> convertFromDetails method completely ignores the receiverQueueSize

[2019-07-31 18:10] #4787 closed

[2019-07-31 23:58] sijie commented on #4857
@devinbost

I think `isSchemaValidationEnforced` is only applied for producers without schema connecting to a topic with schema. We introduced this setting to allow non-java clients (without schema support) still being able to produce messages to the topic.

The error you described is a subscription error. It means a consumer with schema attempts to consume messages from a topic without schema.

I

[2019-08-01 00:01] sijie commented on #4855
@grantwwu I think there are bunch of fields added to function config since 2.2.1. Hence 2.2.1 doesn't fill in those settings and 2.4.0 broker verifies those settings and it causes the issue as you described here.

@jerrypeng can help you with this part.

[2019-08-01 01:53] congbobo184 commented on #4854
OK, I will take a look and fix this issues

[2019-08-01 02:02] Anonymitaet commented on #4509
@yjshen As discussed offline, could you please provide raw materials? Many thanks

[2019-08-01 04:03] devinbost commented on #4857
@sijie Thanks for the information. We will first try pre-creating the topic with a String schema to work around the issue. I'll update this issue if we run into further problems.

[2019-08-01 05:40] #3400 closed

[2019-08-01 06:30] flying-penguins opened #4863 "[pulsar-client-go]Producer.SendAsync should support return MessageID"
There's no way to get the msgID() after publishing a message. Without this ID we can't trace a message. Java client can do this, I thank go client should can also do. Thank you!

[2019-08-01 06:35] cumtwwei opened #4864 "pulsar-functions-local-runner(v2.4.0)"
I use pulsar-2.4.0, and try to debug functions in localrun mode with 'pulsar-functions-local-runner'.

My code is just like: [https://github.com/jerrypeng/pulsar-functions-demos/tree/master/debugging](url)
But when I run my code , it got errors like bellow:

_[ERROR] 2019-08-01 14:29:33.107 [public/default/exclamation-0] JavaInstanceRunnable - [public/default/exclamation:0] Uncaught exception in J

[2019-08-01 11:23] sijie commented on #2688
@codelipenghui @merlimat @ivankelly

After talking to a lot of users, users would like to have the ability to override the policy at namespace level. Since Pulsar doesn't support this feature, it forces the users to create many namespaces just for the ability to configure the policy for different topics.

I think we should just go ahead to implement the topic level policy without waiting for the s

[2019-08-01 11:35] sijie commented on #4864
@cumtwwei you mean precreating the topic with `String` schema?

[2019-08-01 11:36] sijie commented on #4863
@flying-penguins #4811 is adding the fix for this.

[2019-08-01 16:01] cumtwwei commented on #4864
the topic that just created by pulsar auto, and i use this command: `bin/pulsar-admin namespaces set-schema-autoupdate-strategy -d public/default.` Then the error come again.
but not try to precreate the topic with `String` schema. i will try to do it.

[2019-08-01 16:22] cumtwwei commented on #4864
@sijie
after i recreate my topic with Schema.STRING, it's all right.
Thanks a lot.

[2019-08-01 16:22] #4864 closed

[2019-08-02 01:06] devinbost commented on #4857
@sijie We got the same error after trying both workarounds.

[2019-08-02 01:51] sijie commented on #4857
@devinbost interesting. there was a similar issue raised in #4864 . the folk got around this issue by precreating the topic with String schema.

[2019-08-02 01:56] sijie commented on #4857
@devinbost what version are you using? 2.3.2? I am wondering if this is related to this issue #4669.

Have you tried pre-creating a new topic with String schema?

[2019-08-02 02:35] fxbing opened #4868 "[client] Support cumulative acknowledgement at partitioned topic"
**Is your feature request related to a problem? Please describe.**
Currently cumulative acknowledgement is not supported on partitioned topics.

**Describe the solution you'd like**
Do `acknowledgeCumulative()` on all partitions for partitioned topics.

**Describe alternatives you've considered**
No other alternative. Users need to implement it themselves

**Additional context**
It would be much e

[2019-08-02 02:58] devinbost commented on #4857
@sijie We created the String schemas. Do we also need to do something to create the topics?

[2019-08-02 03:11] Anonymitaet commented on #2758
@tuteng as discussed offline, could you please help generate the yaml files automatically?

[2019-08-02 03:19] Anonymitaet commented on #3624
@tuteng  as discussed offline, could you please write a *how to debug Pulsar connector* guide (includes getting connector logs)?

You can take Pulsar Function Debug Guide for reference:

* https://pulsar.apache.org/docs/en/next/functions-debug/

* https://mp.weixin.qq.com/s/3Iz5_GF8V_4gsvVRduophQ

[2019-08-02 04:00] zymap opened #4870 "The jenkins always failed immediately"
**Describe the bug**
When I create a pull request. The jenkins always failed immediately.

**Additional context**
[code]

[2019-08-02 04:13] sijie commented on #4857
@devinbost no. did you create the String schema on a brand new topic? or an existing topic (with deleted schemas)?

[2019-08-02 04:17] #4843 closed

[2019-08-02 04:20] easyfan opened #4871 "MacOS clang/llvm compiler imcompatible code in Unit test case BasicEndToEndTest.cc"
**Describe the bug**
There are 2 compiler errors while compiling BasicEndToEndTest.cc under MacOS with clang/LLVM:
"variable length array of non-POD element type of Consumer"

Basically, this is introduced by announcing an array of elements, with a variable length.

**To Reproduce**
Steps to reproduce the behavior:
1. Try build BasicEndToEndTest.cc under clang/llvm

**Expected behavior**
build Bas

[2019-08-02 04:20] easyfan commented on #4871
Assign to me please, will commit later.

[2019-08-02 04:27] jerrypeng commented on #4855
@grantwwu that is weird because I can submit a function via REST API:

[code]

I didn't specify CPU and the default of "1" core is used.

I can try with a 2.2.1 client to see if there is some weird interaction

[2019-08-02 04:35] easyfan commented on #4871
Here is the official announcement of this incompatible issue: http://clang.llvm.org/compatibility.html#vla

[2019-08-02 05:00] jerrypeng commented on #4855
@grantwwu I was able to reproduce the issue with 2.2.1 client.  I know what is going on.  I will create a patch

[2019-08-02 07:20] shustsud commented on #4756
For now the stuck at `getSubscriptions` seems to be fixed by the following PRs:

https://github.com/apache/pulsar/pull/4765
https://github.com/apache/pulsar/pull/4778
https://github.com/apache/pulsar/pull/4795

However, besides the stuck at `getSubscriptions`, there is another stuck at `getStats`.
pulsar-web threads are blocked at NamespaceService#getWebServiceUrl at `getStats`, and I think the ab

[2019-08-02 08:16] chariot1498 opened #4874 "Not matching schema while using subrecords for Python client"
In this piece of code when I print schema of Example it shows the type of sub without null but when I do producer send or encode it throws value error

ValueError: <__main__.test_complex.<locals>.MySubRecord object at 0x1022fc790> (type <class '__main__.test_complex.<locals>.MySubRecord'>) do not match ['null', {'type': 'record', 'name': 'MySubRecord', 'fields': [{'name': 'a', 'type': 'string'}]}]

[2019-08-02 08:33] sijie commented on #4857
@devinbost I wrote a test to produce your issue.

https://gist.github.com/sijie/297e3de42f8184350e651f11db91408b

The test basically does followings:

"Kafka Topic" -> Kafka Source -> "Pulsar Topic" -> Exclamation Function -> "Pulsar Output Topic".

1. It creates a Kafka topic
2. It creates a Pulsar output topic as the output topic for Exclamation Function
3. *It registers a STRING schema for "Pul

[2019-08-02 09:20] hadoop835 opened #4876 "Delayed messages support any time?"
Delayed messages support any time?

[2019-08-02 12:52] sijie commented on #4876
@hadoop835 in theory the current implementation supports arbitrary time. However it is limited by the memory. Here is a proposed hash-wheel based implementation which can support this well. See details at https://github.com/apache/pulsar/wiki/PIP-26%3A-Delayed-Message-Delivery

[2019-08-02 12:54] sijie commented on #4871
@easyfan can you submit a pull request for that?

[2019-08-02 12:58] sijie commented on #4870
@zymap I updated the jenkins job to use maven-3.6.0. If you see similar jenkins failures, please report it in the issue.

[2019-08-02 12:58] #4870 closed

[2019-08-02 13:01] #4852 closed

[2019-08-02 13:04] easyfan commented on #4871
@sijie already done. See https://github.com/apache/pulsar/pull/4878 please

[2019-08-02 20:14] devinbost commented on #4857
@sijie Is there a way to create the topic from the CLI? When we run these commands:

$ docker standalone run -it --net=host -v /etc/pulsar:/pulsar/conf -v /data/provisioning:/pulsar/data apachepulsar/pulsar-all:2.3.2 /bin/bash

$bin/pulsar-admin topics create persistent://example-tenant/ingest/example-kafka-topic

We get this error:

[2019-08-02 20:24] devinbost commented on #4857
We then get this:

`$ bin/pulsar-admin schemas upload  persistent://example-tenant/ingest/example-kafka-topic --filename /pulsar/data/path/to/schema-file.json `

`$ bin/pulsar-admin schemas get persistent://example-tenant/ingest/example-kafka-topic`

[2019-08-02 21:31] david-streamlio commented on #4857
@devinbost Were you able to run the test provided by @sijie to confirm that it works?

I think the create topic command below, fails because the tenant and namespace weren't created first.
`$ bin/pulsar-admin topics create persistent://example-tenant/ingest/example-kafka-topic`

[2019-08-03 01:11] sijie commented on #4857
@devinbost

`topics create` is only available since 2.4.0.

in your example, you don't need to create the topic since it is a non-partitioned topic. A non-partitioned topic will be create automatically when producer or consumer connects.

you can do this:

1. bin/pulsar-admin tenants create example-tenant
2. bin/pulsar-admin namespaces create example-tenant/ingest
3. bin/pulsar-admin schemas uploa

[2019-08-03 01:18] sijie commented on #4857
regarding uploading schema, I have the steps as the followings for your reference:

[code]

[2019-08-03 11:33] zymap opened #4880 "Cmake error when compiling pulsar-client-cpp"
**Describe the bug**
[code]

**Desktop (please complete the following information):**
 - OS: MacOS 10.14.5

[2019-08-04 04:50] mingfang commented on #572
Pulsar is an amazing technology, and zookeeper is not.
Please remove the zookeeper dependency.

[2019-08-05 01:44] sijie opened #4884 "BasicEndToEndTest is flaky"
[code]

[2019-08-05 01:45] sijie commented on #4884
The jenkins build link: https://builds.apache.org/job/pulsar_precommit_cpp/8925/

[2019-08-05 05:34] AnandSinha commented on #4824
@sijie , thank you. Looking forward to a fix.

@jiazhai - Not sure if you are suggesting that the consumers do this; or are you suggesting that this should be done internally in the Pulsar Platform.  Please do note that it would be infeasible for the consumers to do this, because the consumers listening to a regex-patten based topic do not event KNOW that a particular topic is GOING TO be deleted.

[2019-08-05 05:40] AnandSinha commented on #4057
Hi all (@one70six , @merlimat , @sijie ),

Would you know if this issue is resolved in 2.4.0 (and any update over that)? The InfoSec teams at various companies look at this kind of defects and suggest that we get this fixed before choosing to use Apache Pulsar in production.

So, all updates would help.

Best regards
Anand Sinha

[2019-08-05 05:58] fxbing opened #4887 "Test failure in PulsarFunctionStateTest"
Test failure in PulsarFunctionStateTest when run Java8 tests

https://builds.apache.org/job/pulsar_precommit_java8/10618/console

[code]

[2019-08-05 06:43] #4698 closed

[2019-08-05 06:43] sijie commented on #4699
This is fixed by #4700

[2019-08-05 06:43] #4699 closed

[2019-08-05 06:45] #4871 closed

[2019-08-05 06:53] sijie opened #4889 "PulsarFunctionE2ESecurityTest.testAuthorizationWithAnonymousUser is flaky"
[code]

https://builds.apache.org/job/pulsar_precommit_java8/10610/

[2019-08-05 07:20] sijie commented on #4824
@jiazhai I agreed with @AnandSinha . In a regex subscription mode, the subscribers (consumers) usually don't know which topic to delete. So I think Pulsar should provide a mechanism to prevent a topic being re-created by a regex consumer.

[2019-08-05 07:22] sijie commented on #4834
@segahm Can you describe more on your feature quest here?

[2019-08-05 07:23] sijie commented on #4842
@H00001 any more context about this issue?

[2019-08-05 07:30] sijie commented on #4849
@Lanayx currently there is no acknowledges on "acks". so it is no guaranteed that the ack received by broker. If a broker crashes before it receives acks, broker will redeliver unacked messages.

The behavior will be improved with "acknowledges" on "acks" with the development of transaction support.

[2019-08-05 07:45] sijie commented on #4857
@devinbost any luck?

[2019-08-05 07:46] sijie commented on #4861
@shubham-Shole4ever does Matteo's comment make sense to you?

[2019-08-05 08:07] #3421 closed

[2019-08-05 08:11] sijie commented on #3223
This has been fixed in master.

[2019-08-05 08:11] #3223 closed

[2019-08-05 08:13] sijie commented on #2533
Closed this issue due to inactivities. If there are anything required from Pulsar team, please reopen the issue.

[2019-08-05 08:13] #2533 closed

[2019-08-05 08:13] sijie commented on #1980
This has been implemented by #3216

[2019-08-05 08:13] #1980 closed

[2019-08-05 08:14] sijie commented on #1490
Closed this issue due to inactivities.

[2019-08-05 08:14] #1490 closed

[2019-08-05 08:15] sijie commented on #1476
@MarvinCai is working on this on #4153

[2019-08-05 08:54] jiazhai commented on #4824
@AnandSinha，Yes, from my view, it is better to unsub the topic first, then do a clean topic delete, instead of delete topic by force. user could get all the subscriptions information from topics stats/stats-internal.

As @sijie mentioned, by default, topics will be auto-created if consumer/producer get reconnect. This is not in the scope of "regex subscription", even a consumer that subscribed on

[2019-08-05 13:39] wolfstudy commented on #4787
Yes, the issue is fixed in [https://github.com/apache/pulsar/pull/4091](https://github.com/apache/pulsar/pull/4091).

Unfortunately, he was not released to the 2.3.2 branch. This issue was fixed in 2.4.0. If you need it, you can cherry-pick this fix to branch-2.3 and put it in the 2.3.3 tag.

[2019-08-05 16:21] grantwwu commented on #4855
Additionally, using a 2.4.0 client seems to result in an HTTP 404 with a 2.2.1 broker.  Is there a written deprecation/compatibility policy anywhere?  Should I file a new bug for this?

[2019-08-05 18:30] Lanayx commented on #4849
@sijie In my case I write a .NET client and I explicitly ensure that each ack is received by proxy (since I'm testing in local kubernetes environment). Might it be that proxy didn't send acks immediately to broker?

[2019-08-06 01:22] Jim-Lambert-Bose opened #4893 "Go client: mTLS error returned for an expired broker cert is difficult to decipher."
**Describe the bug**
Under mTLS, when the client cert contains an invalid pulsar broker cert the Go client returns: `ERROR | ClientImpl:179 | Checking/Getting Partition Metadata while creating producer with result == 5` which is impossible to decipher as an expired server cert error.

**To Reproduce**
1. Enable TLS and mTLS
2. Start broker with expired cert
3. connect via pulsar client and mTLS
4.

[2019-08-06 01:31] sijie opened #4894 "ConsumerStatsTest.testAsyncCallOnPartitionedTopic is flaky"
[code]

[2019-08-06 03:08] sijie opened #4895 "PulsarBrokerStatsClientTest.testTopicInternalStats is flaky"
[code]

[2019-08-06 03:09] sijie opened #4896 "NamespacesTest.cleanup is flaky"
[code]

[2019-08-06 03:10] #4791 closed

[2019-08-06 03:54] zymap commented on #4696
@sijie  It' s looks like an enhancement of the Pulsar security.

@Jim-Lambert-Bose Would you like to add it to the Pulsar? I'm afraid I haven't time to do this because I'm focused on the transaction-related works.

[2019-08-06 04:03] Anonymitaet opened #4897 "[Doc] Add notes for creating topic"
The following parameters affect creating topics.

Name | Description | Default
-- | -- | --
brokerDeleteInactiveTopicsEnabled | Enable the deletion of inactive topics. | true
brokerDeleteInactiveTopicsFrequencySeconds | How often to check for inactive topics, in seconds. | 60

Currently, they are documented in [Pulsar configuration - broker](https://pulsar.apache.org/docs/en/next/reference-configu

[2019-08-06 04:05] Anonymitaet commented on #4897
@cumtwwei @sijie Thanks for your suggestions, feel free to make comments here.

[2019-08-06 05:50] jonb-streamlio opened #4898 "Update Functions state documentation for Python"
Pulsar Functions documentation at http://pulsar.apache.org/docs/en/functions-state/ needs to be updated to note that Python functions support state, and to provide examples of how to use state with Python.

[2019-08-06 06:29] shubham-Shole4ever commented on #4861
@sijie I can do with the workaround suggested by @codelipenghui and @merlimat for the time being. However, as mentioned, the solution will not work in case I also have a need of ackTimeout.
Would request the community to propose a feature to handle such cases for future.

Thanks @codelipenghui and @merlimat for all the help. :)

[2019-08-06 07:31] sijie opened #4899 "Namespace Change Events Support"
This is the master issue for tracking the design and implementation of supporting namespace change events.

PIP-39: https://github.com/apache/pulsar/wiki/PIP-39%3A-Namespace-Change-Events

[2019-08-06 07:36] massakam opened #4900 "Dispatch throttling might prevent consumers from receiving messages"
The other day, a problem that backlog messages of a specific partitioned topic were not reduced occured in our Pulsar cluster. When we checked the stats of that topic, delivery of messages to the consumers was stopping on three partitions owned by a particular broker.

The following files are the stats of the partitions in problem. The subscription for which message delivery was stopping is `90clu

[2019-08-06 11:35] wolfstudy opened #4902 "[Java8 Tests Error] BrokerClientIntegrationTest.testResetCursor() didn't finish within the time-out 10000"
**Describe the bug**

The Java8 test case of Jenkins fail.

[code]

**Expected behavior**

Java8 tests case success.

[2019-08-06 11:39] wolfstudy opened #4903 "[Java8 Test Error] testReplicatorRateLimiterMessageReceivedAllMessages fail"
**Describe the bug**

The java8 tests case of Jenkins error, output as follows:

[code]

**Expected behavior**

The Test case success.

[2019-08-06 12:14] tuteng opened #4904 "[Pulsar IO]Pulsar IO support automatic loading of connector"
**Is your feature request related to a problem? Please describe.**
At present, pulsar can only load the built-in connector when starting the service, but some users want to automatically load the feature of the connector, which is very useful when adding, updating and deleting the built-in connector.

**Describe the solution you'd like**
Add an rest api for source and sink to support triggering au

[2019-08-07 00:48] Anonymitaet opened #4905 "[Doc] Fix display issue of swagger doc"
Incorrect display:

![image](https://user-images.githubusercontent.com/50226895/62586387-fc3c1000-b8ef-11e9-960d-d50a05092f34.png)

[2019-08-07 04:56] sijie commented on #4601
@kuangye098 ^^

[2019-08-07 05:52] AnandSinha commented on #4824
@jiazhai - In a regex subscription mode, the subscribers (consumers) usually don't know which topic to delete. So, they will not be able to unsubscribe.

Pulsar should provide a mechanism to prevent a topic being re-created by a regex consumer.

[2019-08-07 06:12] shiv4289 opened #4906 "[Dashboard] Enable communication to broker over https, add ca-cert verify"
**Is your feature request related to a problem? Please describe.**
Dashboard should be able to talk to broker over https. Currently, collector in the dashboard does not accept verify param in requests.

**Describe the solution you'd like**
Allow to mount cert to a path in docker container at a specific location, then use the path in verify cert param in python request of collector

**Describe alte

[2019-08-07 08:11] wolfstudy opened #4907 "[Java8 Test Error] PulsarFunctionStateTest.testPulsarFunctionStat failure"
**Describe the bug**
The java8 tests case of Jenkins error, output as follows:

[code]

**Expected behavior**
The Test case success.

[2019-08-07 08:46] jiazhai opened #4908 "admin.topics.createNonPartitionedTopic issue when disable allowAutoTopicCreation"
User can set `allowAutoTopicCreation` to disable topic auto create,  at this time, user use admin client admin.topics.createNonPartitionedTopic to create each partition.
In method [`internalCreateNonPartitionedTopic`](
https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java#L397),
It firstly call `validateTopicOwnership

[2019-08-07 08:52] jiazhai opened #4909 "Expose getLastMessageId method from consumerImpl"
**Is your feature request related to a problem? Please describe.**
Meet this requirement several times, It would be good to expose this api `getLastMessageId`.
eg. some times user would like to know the lag messages; or only consume messages before current time.

[2019-08-07 21:24] devinbost commented on #4857
We actually did create the tenant and namespace already, so that's not the issue.

We will keep you guys posted.

[2019-08-08 06:13] kimcs opened #4912 "Java client Reader readNext and hasMessageAvailable not working when attempting to find last message in topic"
**Describe the bug**
Test3: When configuring Reader with startMessageIdInclusive and positioning stream at MessageId.latest, then the next call to Reader.readNext(timeout) should have returned the last message of the topic, but it times out and returns null (without a configured timeout it blocks forever).
Test4: When configuring Reader without startMessageIdInclusive and positioning stream at Mes

[2019-08-08 06:58] yittg opened #4913 "[dashboard doc]seems likely to mislead user no ready docker image"
**Describe the bug**
About the dashboard document, it seems likely to mislead user there is no ready docker image and do build one from scratch.

[2019-08-08 08:29] huangdx0726 opened #4914 "The requested URL /api/admin/org/apache/pulsar/client/admin/ClientConfiguration was not found on this server."
1. Go to 'http://pulsar.apache.org/docs/en/admin-api-overview'
2. Scroll down to 'Java admin client' and click ClientConfiguration link
3. 404 not found error is displayed "The requested URL /api/admin/org/apache/pulsar/client/admin/ClientConfiguration was not found on this server."

[2019-08-08 08:38] Jennifer88huang commented on #4914
@huangdx0726  Thank you very much for raising the issue.
I've checked and found the link is indeed invalid.
![image](https://user-images.githubusercontent.com/47805623/62687989-735dcb00-b9fa-11e9-80de-9839db8534d2.png)
I can trace the link to `http://pulsar.apache.org/api/admin/`, and find the `org.apache.pulsar.client.admin` package, yet not the `ClientConfiguration`
![image](https://user-images.

[2019-08-08 10:11] huangdx0726 commented on #4914
@Jennifer88huang   and copied the example is not working yet. it's displayed no class ClientConfiguration and no Constructor PulsarAdmin(java.net.URL,ClientConfiguration). it's the same error of 2.4 or 2.3.2.is it woring on the early version?

[2019-08-08 10:20] huangdx0726 commented on #4914
i see this Pulsar client admin API and fix the example, like this:
String url = "http://localhost:8080";
// Pass auth-plugin class fully-qualified name if Pulsar-security enabled
        String authPluginClassName = "com.org.MyAuthPluginClass";
// Pass auth-param if auth-plugin class requires it
        String authParams = "param1=value1";
        boolean useTls = false;
        boolean tlsAllowIn

[2019-08-08 14:28] Jennifer88huang commented on #4914
@huangdx0726 Thank you very much for your information.
I've checked the `http://pulsar.apache.org/api/admin/org/apache/pulsar/client/admin/PulsarAdmin.html`, and found what you have fixed is correct. Yes, currently, it seems that the `ClientConfigurationData` string is adopted, while `ClientConfiguration` string is not defined anywhere.

So the solution is to replace `ClientConfiguration` with `Cl

[2019-08-08 15:13] zymap opened #4916 "[Transaction] Support storing multiple metadata chunks for on transaction metadata"
**Is your feature request related to a problem? Please describe.**

When taking a snapshot for the transaction indexes, one transaction meta will add into an entry. But the transaction meta can be huge. So we need to avoid sending an entry lager than the entry size that bookkeeper can accept.

**Describe the solution you'd like**

- We need to break down the huge entry and storing multiple chunks

[2019-08-08 15:32] yittg opened #4917 "[dashboard] peek parse response raise exception"
**Describe the bug**
dashboard peek message api parse response raise exception cause treat all message as a json string

**To Reproduce**
produce a literal string like `something` to a topic and peek it on dashboard, which would raise a `ValueError: substring not found`.

**Expected behavior**
RIGHT response

[2019-08-08 17:22] addisonj opened #4920 "`/metrics` endpoint in proxy is behind authentication"
**Describe the bug**
In 2.4.0, the `/metrics` endpoint in the proxy service requires authentication when the authentication is enabled. This is different from the broker, where `/metrics` can be fetched even if authentication is enabled.

This isn't clear if this is intentional or not, with @sijie of the opinion that it likely wasn't intended.

There may be some reasons to want to authenticate tha

[2019-08-09 00:27] sijie commented on #4914
@Jennifer88huang @huangdx0726

We should change the example to the later form that @huangdx0726 commented, but use "PulsarAdmin.builder()". The link to ClientConfiguration should be changed to PulsarAdminBuilder.

@Jennifer88huang when we are fixing the issue, we might consider fixing all the similar examples in the documentation.

[code]

[2019-08-09 01:11] Jennifer88huang commented on #4914
@sijie Sure, got it, thanks for your confirmation.
@huangdx0726 Would you like to try?

[2019-08-09 01:37] huangdx0726 commented on #4914
my pleasure。

[2019-08-09 04:16] jiazhai commented on #4333
#4764  fix this issue.

[2019-08-09 04:16] #4333 closed

[2019-08-09 04:29] jiazhai opened #4926 "Add more config for auto-topic-creation"
**Is your feature request related to a problem? Please describe.**
Curently the partitioned-topic and non-partitioned topic is a little confuse for users. in PR #3450 we add config for auto-topic-creation.
We could leverage this config to provide some more config for auto-topic-creation:
e.g.
- auto create what type of topic: partitioned/non-partitioned.
- if auto create partitioned topic, what is

[2019-08-09 11:42] kimcs opened #4928 "[java-client] ConsumerBuilder should have option for defaultSubscriptionInitialPosition"
**Is your feature request related to a problem? Please describe.**
Using the java client, I am unable to continue a subscription from where it was last acknowledged, or from the very beginning of the topic if no such ack is recorded or the subscription is new. If I provide an earliest or latest value to the subscriptionInitialPosition then that value is used instead of continuing from where the su

[2019-08-09 13:16] KannarFr opened #4929 "define subscription expiration on consumer creation"
**Describe the solution you'd like**
It could be very interesting to configure:

[code]

as consumer configuration on its creation.

[2019-08-09 18:26] epsteina16 opened #4931 "Cumulative acknowledgement on batched acknowledgements produce unexpected behavior"
**Describe the bug**
When the messages in a topic are batched, cumulative acknowledgments do not acknowledge messages as expected. Two behaviors arise when acknowledging a message in the middle of a batch:
1. A cumulative acknowledgment for the current message is not sent, instead, an individual acknowledgment for the previous message in the batch is sent.
2. If the consumer disconnects and reconn

[2019-08-09 19:44] jerrypeng commented on #4855
@grantwwu what command we you trying to issue for that?

[2019-08-10 00:55] #4785 closed

[2019-08-10 01:01] grantwwu commented on #4855
Same command as listed, but with a 2.4.0 client and a 2.2.1 broker.

[2019-08-10 02:08] #4913 closed

[2019-08-10 09:13] #4914 closed

[2019-08-12 02:01] #4920 closed

[2019-08-12 03:31] fxbing opened #4933 "Backlog size calculation errors can result in unlimited messages being produced"
**Describe the bug**
Backlogs are sets of unacknowledged messages for a topic that have been stored by bookies even if not consumed. But in fact, if the topic has not been consumed, you can produce unlimited messages.
https://github.com/apache/pulsar/blob/be7b24f9f8aa67b2235e523485249aef8d2a611a/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java#L921-L926

**To

[2019-08-12 03:49] Anonymitaet commented on #4905
Fixed in https://github.com/apache/pulsar/pull/4901#event-2548070643

[2019-08-12 03:49] #4905 closed

[2019-08-12 03:50] Anonymitaet commented on #4789
All schema related PRs have been merged.

[2019-08-12 03:50] #4789 closed

[2019-08-12 04:06] fxbing commented on #4933
fixed in #4936

[2019-08-12 06:49] pouledodue opened #4937 "Retrieve schema instance from schema info for type 'NONE'"
[code]

What am I doing wrong?

[2019-08-12 07:02] Anonymitaet commented on #4897
@cumtwwei @sijie

I've created this PR (https://github.com/apache/pulsar/pull/4938) to resolve this issue, could you please help review? Thank you

[2019-08-12 07:52] #4933 closed

[2019-08-12 15:19] jiazhai opened #4940 "Serialization and Deserialization for MultiMessageIdImpl"
In PR #4911, we added MultiMessageIdImpl, which contains a Map of <topic, MessageId>, that could be used for partition/multi-topics/pattern consumer methods, e.g. seek(), ackCumulative(), getLastMessageId().

In streaming applications, they tends to store messageId along with the state. so that the streaming applications can restore the state back. we need to provide a consistent behavior for how

[2019-08-12 17:02] kimcs opened #4941 "Unable to delete topic when both consumer (subscription) and reader has been connected"
**Describe the bug**
After connecting and closing one subscription and one reader it's not possible to delete a topic through the java admin client. The bug will not manifest if either only subscriptions or only readers are connected, only if a combination of them are.

**To Reproduce**
Steps to reproduce the behavior:
1. Start a local standalone pulsar and make sure the admin and broker ports in

[2019-08-12 18:46] vicaya opened #4942 "Snapshot recovery with offloaded data"
**Is your feature request related to a problem? Please describe.**
0. Back and restore an existing cluster to/from the cloud
1. Much cheaper DR without geo replication.
2. Bootstrap pulsar clusters quickly for dev/test from the cloud.

**Describe the solution you'd like**

set-offload-snapshot-interval to create recoverable points in tiered storage.

**Describe alternatives you've considered**

Ge

[2019-08-13 02:54] pouledodue opened #4943 "pulsar-admin functions querystate => Reason: java.lang.NullPointerException: path is 'null'."
**Describe the bug**
[code]
- docker apachepulsar/pulsar:2.4.0
 - OS: mac

[2019-08-13 04:30] ghost opened #4944 "Python 3.7 in Docker"
**Is your feature request related to a problem? Please describe.**
pulsar docker contains python 3.5 so python functions fail on things like f-strings and type hints

**Describe the solution you'd like**
use python 3.7 instead