[2020-07-05 01:00] Shoothzj opened #7451 "Pulsar add bookie failed, and not retry"
Our reliability test, when restarting zookeeper, the node of the bookkeeper first registered with zk, and then passed the health check of k8s (that is, the bk domain name can be accessed at this time). Then when pulsar adds the bk node
, Because the domain name could not be parsed, and then did not try again (because ZKRackMapping where the configured useHostName is false). useHostNameAsBookieID i

[2020-07-05 01:04] Shoothzj opened #7452 "Key-shared performance question"
#### Expected behavior

Expected during the expand, the consumer rate will increase too.

#### Actual behavior

During our performance test, we use the key-shared consumption mode. When the production rate of a single partition is 10000, a key-shared consumer rate can reach this value.
When we expanded to two, we found that the performance was reduced to 5000, and then expanded to four or eight, a

[2020-07-05 01:29] #6628 closed

[2020-07-05 02:56] nitishv commented on #3180
Hey @wolfstudy @sijie

I'm new to this community, but would like to start contributing.
I had a look at the reader code and the type assertion seems incorrect here and must be tested to avoid the panic.
https://github.com/apache/pulsar/blob/master/pulsar-client-go/pulsar/c_reader.go#L118

Value of options.StartMessageID which is of Go Type [MessageID](https://github.com/apache/pulsar/blob/master/p

[2020-07-05 03:03] wolfstudy commented on #3180
Thanks to @nitishv feedback, we will replace `cgo-client` with [native go client](https://github.com/apache/pulsar-client-go), can you try to use [native go client](https://github.com/apache/pulsar-client-go) to see if you will encounter the same problem?

[2020-07-05 04:16] wolfstudy commented on #7450
It may just not expose the setting of JVM here, if you are interested, please send a pull request to fix this issue.

[2020-07-05 05:24] #7267 closed

[2020-07-05 06:08] nitishv commented on #3180
@wolfstudy the same panic happens with native go client

Here's what I tried.

- Added a unit test which creates custom message ID type, satisfying this interface https://github.com/apache/pulsar-client-go/blob/master/pulsar/message.go#L108

[code]

- Ran the modified UT using the CI bash script

[code]

- Test case failed with panic, even though it compiles.

[code]

Should I open an issue for [n

[2020-07-05 23:24] #7402 closed

[2020-07-06 00:23] feeblefakie opened #7455 "Key_Shared consumers with different subscriptions get messages out-of-order in 2.6.0."
**Describe the bug**
Key_Shared consumers with different subscriptions get messages out-of-order in 2.6.0.
~~As far as I checked, it doesn't happen with Consistent Hashing approach.~~
**Using consistent hashing makes it less likely happen, but it actually still happens when I try the following several times (try 5 times and you can observe it)**

**To Reproduce**
Steps to reproduce the behavior:
h

[2020-07-06 00:24] feeblefakie commented on #6554
@codelipenghui #7455  PTAL.

[2020-07-06 01:13] sijie commented on #7438
@curryLzj Yes. You can run `bin/pulsar-daemon start proxy` to start proxies in the background.

[2020-07-06 01:23] sijie commented on #7451
@Shoothzj

The NPE when resolving network address is fixed in bookkeeper and released as part of upcoming 4.11 release. We will bump Pulsar's dependencies soon.

The `useHostName` in ZKRackMapping has been fixed in the latest master and will be released in upcoming Pulsar releases (2.7.0 and 2.6.1)

[2020-07-06 01:23] #7451 closed

[2020-07-06 01:27] sijie commented on #7445
This was already fixed by #7408

[2020-07-06 01:27] #7445 closed

[2020-07-06 01:28] sijie commented on #7455
@codelipenghui can you take a look at this issue?

[2020-07-06 01:31] sijie commented on #7443
@alexku7 I have been working on multiple fixes related to this issue in the latest master. And there is a new BookKeeper client released recently. We will bump the version in Pulsar as well to fix some of the issues introduced by bookkeeper client. I have the final change that will go out soon. You can check the pull request here - https://github.com/streamnative/pulsar/pull/1140

[2020-07-06 01:38] sijie commented on #4599
@aziwoqpd what version did you use?

[2020-07-06 01:39] sijie commented on #4608
Closed this issue. Since the pulsar-spark connector already supports structured streaming, you can use python language to program spark applications to use that connector.

[2020-07-06 01:39] #4608 closed

[2020-07-06 01:42] sijie commented on #4654
@ChangWinde I don't think it supports compiling on a win10 machine. Can you try to use a Linux or Mac machine?

[2020-07-06 01:43] sijie commented on #4622
Closed this issue since pulsar-dashboard has been deprecated.

[2020-07-06 01:43] #4622 closed

[2020-07-06 01:46] sijie commented on #4635
@hrsakai Have you found and fixed the issue?

@HeChuanXUPT from the log, it seems that the broker is not able to connect to the zookeeper.

[2020-07-06 01:49] sijie commented on #4593
There is a change #5856 in release 2.5.0. It will use the "localhost" if the hostname is unresolved.

[2020-07-06 01:49] #4593 closed

[2020-07-06 01:49] sijie commented on #4610
@one70six Does the problem still exist in your cluster?

[2020-07-06 01:52] sijie commented on #4687
The Helm Chart now is published to both Helm Hub and Artifact Hub.

Pulsar Helm Chart Repo: https://pulsar.apache.org/charts
Artifact Hub: https://artifacthub.io/packages/helm/apache/pulsar
Helm Hub: https://hub.helm.sh/charts/pulsar/pulsar
source code: https://github.com/apache/pulsar-helm-chart

[2020-07-06 01:52] #4687 closed

[2020-07-06 01:52] sijie commented on #4652
The question was answered.

[2020-07-06 01:52] #4652 closed

[2020-07-06 01:54] sijie commented on #4632
The feature has been implemented in BookKeeper apache/bookkeeper#2119

[2020-07-06 01:54] #4632 closed

[2020-07-06 01:55] sijie commented on #4612
This has been fixed in the latest master.

[2020-07-06 01:55] #4612 closed

[2020-07-06 01:56] sijie commented on #4633
The question has been answered

[2020-07-06 01:56] #4633 closed

[2020-07-06 02:03] curryLzj commented on #7438
Oh, I read the documentation on the official website, and I didn't notice that it actually exists..Thanks
=.=!

[2020-07-06 02:03] #7438 closed

[2020-07-06 02:13] yjxyy commented on #7273
I also encountered the same problem, how to solve it

[2020-07-06 02:15] yjxyy commented on #7273
ConsumerStatsImpl (numBytesRecieved_ = 0, totalNumBytesRecieved_ = 0, receivedMsgMap_ = {}, ackedMsgMap_ = {}, totalReceivedMsgMap_ = {}, totalAckedMsgMap_ = {})

[2020-07-06 02:16] wolfstudy commented on #3180
Cool Thanks to @nitishv the https://github.com/apache/pulsar-client-go/pull/305 has been merged to master, will close the issue.

[2020-07-06 02:16] #3180 closed

[2020-07-06 02:37] hrsakai commented on #4635
@sijie
I haven't. In our clusters, we turn off `bookkeeperClientRackawarePolicy` to avoid the issue.

[2020-07-06 03:58] liudezhi2098 opened #7457 "when zookeeperServers and configurationStoreServers is different ， the bookieMetadataServiceUri is incorrectly obtained"
when zookeeperServers and configurationStoreServers is  different
[code]
 the bookie client is created, it fails because the bookie cluster metadata information cannot be found。

[code]

[2020-07-06 07:38] sijie commented on #4635
@hrsakai I see. thank you for your update!

[2020-07-06 09:34] Lanayx opened #7460 "Using 2.6.0 client with 2.5 cluster or older will lead to data loss for batched messages on redelivery"
**Describe the bug**
In 2.6 client version the batch index acknowledge was added. But 2.5 cluster doesn't understand AckSet that was added for that and regards partially acknowleged batch as fully acknowledged. Therefore negatively acked messages will never be redelivered.

**To Reproduce**
Here is a sample program

[code]
in 2.5 client msg3 and msg4 will be redelivered and consumed, in 2.6 client

[2020-07-06 15:13] frejonb commented on #6501
I have the same problem in 2.5.0

[2020-07-06 16:40] #7384 closed

[2020-07-06 16:42] #7394 closed

[2020-07-06 18:04] sijie commented on #6501
@frejonb The 2.5.0 image has a problem. Can you try the latest 2.5.2 image or 2.6.0 image?

[2020-07-06 20:01] devinbost opened #7463 "[docs] Instructions for using Go client are unclear and confusing"
Edit: This issue was re-purposed since the root problem was unclear documentation.

I am getting C++ build errors when I try building a Docker image to run the Pulsar Go client.
I have tried it with the Debian build of Pulsar 2.5.0, 2.5.2, and 2.6.0.
It previously worked, so I'm not sure why it's not working now. It seems like perhaps an upstream library was updated.

Here's one of the Dockerfile

[2020-07-06 21:17] devinbost commented on #7463
When I try to use the new client with this dockerfile:

[code]
I get this error:

[code]

[2020-07-06 21:34] devinbost commented on #7463
It turns out that the fix was to change the last line from:

`RUN go get -u github.com/apache/pulsar/pulsar-client-go/pulsar`

to

`RUN go get -u github.com/apache/pulsar-client-go/pulsar`

which is a very subtle difference.
I'm updating this issue to request improved documentation to prevent confusion.

[2020-07-07 01:59] wolfstudy commented on #7463
This is the cgo client lib:
[code]

And this is the native go client lib:

[code]

We are considering `@Deprecated` the cgo client and replacing it with the native go client, so you don't need to build the cpp client before using the go client, this may be a good start.

[2020-07-07 02:21] xuehuanran opened #7464 "The ArgumentError of the 'replication_clusters' in producer.send method in python pulsar."
I want to use the geo-replication in python pulsar and my code is below.

[code]

The error message is :

[code]

What is the correct data format of the replication_cluster argument.

[2020-07-07 02:43] feeblefakie commented on #7455
@codelipenghui @sijie @merlimat Sorry I reported that using consistent hashing makes it not happen but it actually produces inconsistently ordered messages.
It is just less likely happen but you can observe it if you try several times, say 5 times.

[2020-07-07 10:37] feeblefakie commented on #7455
Here is what is happening.
For example, consumers for sub1 consumed messages with key "15" as follows.
[code]

And, consumers for sub2 consumed messages with key "15" as follows.
[code]
You can see that there are two consumers for the key for sub2, and consumer `5523e` consumed a value `1594111910738` in the wrong order. It is easily identified since the value is a timestamp assigned by a single s

[2020-07-07 11:02] fmiguelez commented on #7407
I do not think that this ticket should be closed as pull request only solves one of the cases described by the tests

[2020-07-07 12:05] feeblefakie commented on #7455
I'm not sure but as far as I can see,
the following code could return different consumers for the same key if the number of consumers is changed even if consistent hashing or auto-split is used, and multiple consumers are working independently and concurrently, so the messages with the same key can be consumed out of order in different consumers ?

https://github.com/apache/pulsar/blob/master/puls

[2020-07-07 13:21] meleagle opened #7469 "NPE when using multiple advertised listeners with openmessaging"
**Describe the bug**
When using openmessaging (http://openmessaging.cloud) to benchmark a pulsar cluster that we are using in openstack a NPE is being produced. The pulsar version is 2.6.0 and there is two advertised listeners, one of the private ip and is set as the internalListenerName and the other is the external one that we want the consumer to use to connect and communicate with the brokers.

[2020-07-07 13:55] meleagle opened #7470 "Broker url getting set to canonical host name rather than internal advertised listener"
**Describe the bug**
The broker url for a broker will be set to whatever the advertisedAddress and brokerServicePort are set to in the config when I only use a single advertised listener. With pulsar 2.6.0 and trying to use the advertisedListeners list, the broker url is being set to the canonical host name instead of the internalListenerName or at least one of the advertisedListeners in the provi

[2020-07-07 17:30] sijie commented on #7407
It was closed because of `Fixes` comment in the description. I have reopened it.

[2020-07-07 20:55] TC-robV commented on #7260
ever figure this out? running into the same issues. no auth enabled though.

[2020-07-08 01:27] #5736 closed

[2020-07-08 01:50] Anonymitaet commented on #6243
Docs are available [here](https://streamnative.io/docs/latest/process/pulsar-functions/develop/feature).
Need to copy to the Pulsar website.

[2020-07-08 01:50] #6243 closed

[2020-07-08 03:06] #7457 closed

[2020-07-08 03:23] aloyszhang opened #7476 "Discovery service can't find active broker"
**Describe the bug**
Discovery service (three nodes) can't find active broker when all brokers are running well.
[code]
**To Reproduce**
After restart the discovery service , wo can't reproduce it immediately.
But after running for some times (several days, no sure) it will appear.

**Expected behavior**
Discovery service  should be work well.

[2020-07-08 03:30] aloyszhang commented on #7476
Addtionally, ZooKeeper has no error.
And we dump the discovery process,  found that `BrokerDiscoveryProvider` does not has availableBrokers in its `ZookeeperCacheLoader` but `DiscoveryServiceServlet` has the information.

[2020-07-08 07:20] lbenc135 opened #7477 "[python-client 2.6.0] ContextualVersionConflict grpcio dependency conflict"
**Describe the bug**
When installing `pulsar-client==2.6.0` there's a dependency conflict with `grpcio` library.

The dependency tree is (as I understand it):
- pulsar-client (2.6.0)
    - grpcio (any)
    - apache-bookkeeper-client (4.11.0)
        - grpcio >=1.8.2,<1.26.0

**To Reproduce**
Steps to reproduce the behavior:
1. `pip install pulsar-client==2.6.0`
2. `grpcio==1.30.0` gets installed
3

[2020-07-08 08:50] ltamber opened #7478 "pulsar-admin reset cursor hangs"
**Describe the bug**
the thread stack below is one of pulsar-web thread pool.
[code]

[2020-07-08 09:04] sxpsxp12 opened #7479 "support pulsar consumer keyshared in C++ And Cgo"
**Describe the bug**

in pulsar 2.6.0，pulsar C++ client(newest) use keyshared policy，but consumer.receive() return timeout；when use other consumer type, it return pulsar data normally。
Above issues apply to cgo

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**

support keyshared consumer type in C++ And

[2020-07-08 09:21] sxpsxp12 commented on #7479
pulsar broker change to 2.5.2, keyshared work ok；so, it is broker‘s problem?

[2020-07-08 09:29] sxpsxp12 opened #7480 "native go v0.1.1 No support produce batch？"
**Describe the bug**
native go v0.1.1 No support produce batch？

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
native go support batch producer

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. iOS]

**

[2020-07-08 10:03] anvinjain opened #7481 "Default value and in-line doc for bookkeeper config: openLedgerRereplicationGracePeriod is incorrect"
**Describe the bug**
Default bookkeeper conf that ships with apache pulsar indicates that the unit of `openLedgerRereplicationGracePeriod` is in seconds, but official bookkeeper doc(and code) mentions that the unit is in milliseconds. Since default is 30seconds, this will be interpreted by BK as 30ms because of incorrect configuration by pulsar

**To Reproduce**
Steps to reproduce the behavior:
1.

[2020-07-08 10:54] sxpsxp12 commented on #7479
remarks: C++ consumer  use subscribeWithRegex()

[2020-07-08 11:12] opera33 opened #7482 "ERROR org.apache.bookkeeper.common.util.SafeRunnable - Unexpected throwable caught java.lang.ArrayIndexOutOfBoundsException: 100 while starting broker in cluster mode"
**Describe the bug**
Getting error while trying to start broker in a 2 node cluster mode, with over 200 pulsar functions registered to it.

**To Reproduce**
I have freshly setup the cluster, and on first run, adding 200 of the function is fine, then when the broker goes down and come back, it can't be started again.

**Expected behavior**
Pulsar broker to start as usual

**Additional context**
The

[2020-07-08 13:12] codelipenghui commented on #7455
@feeblefakie could you please give me a broker dump and inconsistency logs like https://github.com/apache/pulsar/issues/7455#issuecomment-654763271 ? I want to check the details of the `recentlyJoinedConsumers`

[2020-07-08 13:30] vzhikserg commented on #7385
We see the same behavior using 2.6.0 on AKS deployment when connecting (jwt) via proxy with authentication and authorization enabled (using zookeeper):

- Client has no permissions an a topic the client is rejected, as expected

- Client has been granted for example only produce, then the client is able to consume as well (besides producing) I assume because the superUserRole is being used.

When

[2020-07-08 13:45] codelipenghui commented on #7482
@opera33 Did you change the `dispatcherMaxRoundRobinBatchSize` in the broker.conf?

[2020-07-08 13:55] codelipenghui commented on #7482
@opera33 I have created a PR #7483 for fixing this problem, thanks for your feedback.

[2020-07-08 14:05] opera33 commented on #7482
Hi,

Didn't change that, if that help, I can try setting it.

Thanks!

On Wed, 8 Jul 2020, 21:45 lipenghui, <notifications@github.com> wrote:

[2020-07-08 14:11] codelipenghui commented on #7478
@ltamber Are you interested in fixing this problem? looks the problem is `sub.resetCursor(PositionImpl.get(messageId.getLedgerId(), messageId.getEntryId())).get();` can't complete and there are no timeout the the `future.get()`. It's better to change all logic of the reset cursor to async.

[2020-07-08 16:06] irairdon opened #7484 "pulsar_msg_backlog metrics very inaccurate"
**Describe the bug**
Metric for pulsar_msg_backlog does not seem to match the true backlog at all.

**To Reproduce**
Steps to reproduce the behavior:
1. Install pulsar 2.5.2
2. Install grafana Pulsar dashboards
3.  Create partition with 3 partitions
4. run pulsar-perf tool (bin/pulsar-perf produce -r 200000 -s 10 ts1)
5. Observe backlog values on Overview dashboard or namespace dashboard
6. Run pu

[2020-07-08 16:43] #7347 closed

[2020-07-08 17:15] sijie commented on #7385
@vzhikserg: the `proxyRole` is used for topic lookup (to figure who is the owner broker for a given topic) before establishing the proxied connections to the brokers. Hence the `proxyRole` is required to perform topic lookup over all topics. That means the `proxyRole` has to be a super-user role. Does that make sense?

[2020-07-08 18:31] sijie opened #7485 "Support configuring DeleteInactiveTopic setting in namespace policy"
*Motivation*

We should support configuring the `DeleteInactiveTopic` setting in namespace policy.

[2020-07-09 01:18] 315157973 commented on #7485
mark

[2020-07-09 01:21] codelipenghui commented on #7484
@irairdon Looks #7082 has fixed this problem.

[2020-07-09 02:05] jiazhai opened #7486 "Handle left work for cpp oauth2 client."
related with PR #7467 , some points need handle.
- [] It seems that in Java plugin we are using encoded auth param string but in c++ client, we don't use encoded auth param. Is there any reason?

- [] I think it is worth supporting reading client credentials from a JSON file. So applications can configure to read the credentials from a credentials file. We should support a similar feature in Java

[2020-07-09 02:13] sijie commented on #7476
@aloyszhang

No available broker usually happens when the session expires. Out of curiosity, why do you need to start a separate discovery service?

[2020-07-09 02:15] sijie commented on #7477
@lbenc135 Can you share your python code example so we can reproduce it?

[2020-07-09 02:17] sijie commented on #7479
@sxpsxp12 Can you share a code example so that we can reproduce?

Did you see any error logs at the broker side?

[2020-07-09 02:21] sijie commented on #7480
@sxpsxp12 Can you create the issue at https://github.com/apache/pulsar-client-go?

[2020-07-09 03:53] feeblefakie commented on #7455
@codelipenghui Sure. How can I get a broker dump ?

[2020-07-09 04:19] #7425 closed

[2020-07-09 04:58] #7482 closed

[2020-07-09 10:38] BewareMyPower commented on #7479
I have added some unit tests about key shared consumer, see #7487 . `TEST_F(KeySharedConsumerTest, testMultiTopics)` is the test for regex subscription.

Could you provide some detail about your code?

[2020-07-09 11:16] sxpsxp12 commented on #7479
Today I tried to locate the problem and found that when the producer enables compression(i use pulsar.LZ4)   to send data to pulsar broker(2.6.2 version)。 the consumer use keyshared policy consume data，No data received。when disable compression，consume work。or change consumption strategy，consumer work。

[2020-07-09 11:18] sxpsxp12 commented on #7479
producer options:
`			Name:  "demo-producer-down",
			Topic: topic,

			CompressionType: pulsar.LZ4,
			HashingScheme:   pulsar.Murmur3_32Hash,

			MaxPendingMessages: 30000,

			DisableBatching:         false,
			BatchingMaxMessages:     1000,
			BatchingMaxPublishDelay: 3000 * time.Millisecond,`

Comsumer options:

`
			TopicsPattern:    "persistent://dataplatform/wsn/down_.*",
			//TopicsPatter

[2020-07-09 12:43] 97arushisharma opened #7488 "ERROR org.apache.bookkeeper.client.BKException$ZKException: Error while using ZooKeeper"
**Describe the bug**
I am deploying a pulsar cluster with 3 nodes each having zookeeper, bookie and broker running. I had first deployed the zookeeper cluster on the 3 nodes and they seem to be running fine. But, when I am trying to run the bookeeper using the following command I am getting errors in bookkeeper sanity tests:
Command:
[code]
Error Log:
[code]

I have 3 nodes namely:
- apachepulsar-

[2020-07-09 14:12] sbourkeostk opened #7489 "Every function/connector exception results in a new metric"
**Describe the bug**
When an exception occurs in a Pulsar function or connector the timestamp of the exception is included as a metric label and the gauge value is set to 1.0. This has several drawbacks:
1. It cause the brokers' metrics scrapes to continuously grow - we witnessed individual broker metrics scrapes of ~ 100 MB
2. In Prometheus it results in a new time series (of length 1) for **ever

[2020-07-09 14:57] kezhuw opened #7490 "Entry duplicated in pulsar when bookie failed and zookeeper disconnected"
**Describe the bug**
When adding new entry, bookie failure and zookeeper disconnection may cause inconsistency between `LedgerInfo.getEntries` and `LedgerMetadata.getLastEntryId`. This will introduce duplicated entry.

**To Reproduce**
1. Adding `entry-a` to `ledger1`.
2. Succeed to persist on disk, but failed to response due to, say, machine crash.
3. Zookeeper disconnected, thus fail to write me

[2020-07-09 15:01] kezhuw commented on #7490
Forgot to attach test case assertion message for https://github.com/kezhuw/pulsar/commit/bc0de5e9e110d931340ce6fd2a85911892630f33, here it is:

[code]

[2020-07-09 15:05] devinbost commented on #7489
It looks like the current design is leaking the metrics when exceptions are thrown.
@sijie @jerrypeng Based on feedback from the Prometheus maintainers, the way we're currently using the metrics goes against their design recommendations. So, when I wrote the Prometheus implementation for the pulsar-function-go module, I implemented their recommended design instead, which avoids these issues. (It u

[2020-07-09 15:39] horsteff opened #7492 "PulsarStandaloneBuilder does not use a custom configuration set with withConfig()"
**Describe the bug**
`PulsarStandaloneBuilder` does not use a custom configuration set with `withConfig()`. It's clearly visible in the code:
[code]
 At the beginning of `PulsarStandaloneBuilder.build()` a new `ServiceConfiguration` instance is created and set with `pulsarStandalone.setConfig()` overwriting any configuration instance set earlier with `PulsarStandaloneBuilder.withConfig()`.

Additi

[2020-07-09 16:05] horsteff commented on #6924
@xavipen Recently I discovered that the default value for `managedLedgerDefaultEnsembleSize` in the ServiceConfiguration class was changed from 1 to 2 with version 2.5.0 (together with the values for `managedLedgerDefaultWriteQuorum` and `managedLedgerDefaultAckQuorum`), but the default number of bookies stays at 1. So the ledger needs two bookies by default but gets only one, which leads to the "

[2020-07-09 16:20] 97arushisharma commented on #7488
I was able to resolve this problem by changing the `zkLedgersRootPath=/ledgers`. I had initially kept the wrong path assuming that it is the path on our system. However, I am still facing an issue which seem to be more like a bug.

I am able to start my 3 bookies with `bin/bookkeeper bookie` command. But when I try to check the sanity using `bin/bookkeeper shell bookiesanity` command, I am getting

[2020-07-09 16:54] BewareMyPower commented on #7479
@sxpsxp12 LZ4 compression is really a problem because the lz4.h/lz4.c is too old, you could also try to change compression to ZLib to watch if consume failed again.
There's another issue that has mentioned LZ4 problem before, see [issue #6806](https://github.com/apache/pulsar/issues/6806), from the discussion you can see:

[2020-07-10 01:12] zymap opened #7496 "Document the pulsar-client-go oauth2 authentication feature"
*Motivation*

We need to document the pulsar-client-go oauth2 authentication feature in go client page.
The source code is here: https://github.com/apache/pulsar-client-go/pull/313

[2020-07-10 01:52] sijie opened #7497 "Wrong command was used for starting bookie in foreground"
*Motivation*

In the https://pulsar.apache.org/docs/en/deploy-bare-metal/ documentation, `bin/bookkeeper bookie` was used for starting bookie in the foreground. We should change it to `bin/pulsar bookie`. Otherwise it is loading the wrong environment file.

[2020-07-10 01:53] sijie commented on #7488
@97arushisharma Can you share the fully copy for your bookie config files? It seems that you have used a wrong ledgers root path for initializing the cluster.

[2020-07-10 01:54] sijie commented on #7489
@devinbost Are you interested in contributing a fix for this?

[2020-07-10 01:58] sijie commented on #7492
@horsteff Are you interested in contributing a bug fix?

[2020-07-10 02:07] rounak11 commented on #6236
@hari819 is there a way to enable tls in bookie using pem? If so please let me know the configs. Thanks

[2020-07-10 02:46] wolfstudy commented on #7464
It seems that the version of python-client you are using does not match the version of cpp-client. Can you provide information about the version you are using?

[2020-07-10 02:51] wolfstudy commented on #7480
@sxpsxp12 In fact, we have already supported the batch function on the produce side. By default, the batch is enabled.

[code]

[2020-07-10 05:50] 97arushisharma commented on #7488
@sijie thanks for the reply. Here are the bookkeeper.conf files.
[bookkeeper-02.conf.txt](https://github.com/apache/pulsar/files/4901184/bookkeeper-02.conf.txt)
[bookkeeper-01.conf.txt](https://github.com/apache/pulsar/files/4901206/bookkeeper-01.conf.txt)
[bookkeeper-03.conf.txt](https://github.com/apache/pulsar/files/4901214/bookkeeper-03.conf.txt)

Also below is the metadata command I have used

[2020-07-10 06:45] hozumi opened #7500 "What is expected behavior when combining 100GB retention policy, 1GB backlog quota and a consumer with SubscriptionInitialPosition.Earliest setting?"
I couldn't get clear understanding of pulsar behavior from documentation in the following situation.

Supposing a namespace configured 100GB retention policy, 1GB backlog quotas and 100GB messages are pushed with no subscription, what will happen if a subscription with `SubscriptionInitialPosition.Earliest` setting is created?
Is the backlog of the newly created subscription over 1GB backlog quota

[2020-07-10 11:55] tongsucn opened #7502 "CPP client compilation issues."
**Describe the bug**

When enabling `-Wall` and `-Werror`, the library cannot be successfully compiled:

1. Non-virtual destructor in base class: `pulsar-client-cpp/lib/auth/AuthOauth2.h:47:7: error: base class 'class pulsar::CachedToken' has accessible non-virtual destructor [-Werror=non-virtual-dtor]`.
2. Unnecessary NULL checking on function pointer: `/pulsar-client-cpp/lib/ClientImpl.cc:100:10

[2020-07-10 14:28] sbourkeostk commented on #7489
I don't think there's a problem in the Prometheus client, it's Pulsar that's creating the new metrics by setting a new label. Prometheus is clear in it's advice about not overusing labels:
https://prometheus.io/docs/practices/instrumentation/#do-not-overuse-labels
I believe the solution is simple - don't set the "ts" label and instead increment the metric.

[2020-07-10 14:37] xuesongxs opened #7504 "split-bundle for public/functions error"
**Describe the bug**
error log in pulsar-broker-xx.log
[code]

pulsar 2.5.2

**To Reproduce**
Steps to reproduce the behavior:
1. create a function
2. bin/pulsar-admin namespaces split-bundle -b 0x40000000_0x80000000 -u public/functions

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem

[2020-07-10 14:42] aloyszhang commented on #7476
@sijie, Both `DiscoveryServiceServlet`  and `BrokerDiscoveryProvider ` will be started if runs discovery service .

[2020-07-10 15:15] xuesongxs opened #7505 "start/stop function fail"
**Describe the bug**
After creating functions, the function runs normally. Stop function starts function again. The following error is reported in the function log. Update function is invalid. You must delete function and then create function to run normally. Function jar is a fat jar, pulsar version is 2.5.2.

00:00:00.539 [public/default/streamPulsarBcn-80-SendThread(10.32.211.206:31180)] INFO

[2020-07-10 16:35] horsteff commented on #7492
@sijie Yes, that's what I had in mind. I'm already working on it and will make a pull request then.

One question: After digging a little in the code and thinking about possible fixes I would rather like to drop the `withConfig` method from `PulsarStandaloneBuilder` and replace it with a `withConfigFile` method. I don't see any other way (without major changes), to apply configuration settings wit

[2020-07-10 19:51] devinbost commented on #7489
@sijie I'm open to contributing a fix for this, but if it will change the end-user data contract, we'd need to vet it with the community. I'll need to investigate the matter further.

@sbourkeostk Thanks for the feedback. I'll take a closer look at that information.

[2020-07-10 19:56] merlimat commented on #7489
This is not changing the data contract. This is just a metric to help debuggabiity.

I think the timestamp was there to display the "exceptions in the last X hours". If it doesn't work with Prometheus, we need to get rid of the label. There are surely other ways to do the query without having that label, since the timeseries have timestamps.

[2020-07-10 20:18] devinbost commented on #7489
@matthewfollegot
Since we're using the Prometheus Counter's internal state to keep track of our exceptions, every time an exception is thrown, we're still adding the exception to the Counter, aren't we?
e.g. https://github.com/apache/pulsar/blob/02bf9a0b770e53f5a6f3810e9602ccc9a4c05050/pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/FunctionStatsManager.java#L293

[2020-07-10 20:18] devinbost commented on #7489
@merlimat
Since we're using the Prometheus Counter's internal state to keep track of our exceptions, every time an exception is thrown, we're still adding the exception to the Counter, aren't we?
e.g. https://github.com/apache/pulsar/blob/02bf9a0b770e53f5a6f3810e9602ccc9a4c05050/pulsar-functions/instance/src/main/java/org/apache/pulsar/functions/instance/stats/FunctionStatsManager.java#L293

If I'

[2020-07-10 20:22] devinbost commented on #7489
It looks like we might be able to just remove the timestamp for the Go functions implementation, but is it that simple on the Java side?

[2020-07-10 21:53] #6116 closed

[2020-07-11 01:49] mikecaat opened #7512 "The geo-replication policy is not updated when the replicator-dispatch-rate is not configured."
**Describe the bug**
If the replicator-dispatch-rate is not configured, the geo-replication policy is not be updated.

**To Reproduce**
1. make three pulsar clusters(cluster-a,cluster-b,cluster-c).
2. make a namespace with two cluster(cluster-a,cluster-b).
[code]
3. produce messages to cluster-a until this reproduce procedure is end.
[code]
4. check the topic stats
The replication attribute has on

[2020-07-11 02:09] codelipenghui commented on #7512
@mikecaat Thanks for the feedback, the behavior is not expected. I think you have found the root cause, are you interested in fixing it?

[2020-07-11 03:02] sxpsxp12 commented on #7479
I think the problem is not the type of compression, I switch compression to other, still does not work

[2020-07-11 03:10] mikecaat commented on #7512
@codelipenghui Thanks for replying. Since I made pull request, please review it.

[2020-07-11 05:18] sxpsxp12 commented on #7479
**The test results are the same with versions 2.5.2 cgo client and 2.6.0 cgo client**

# Organized the following information
## Work 1
1. producer config

[code]

2. consumer config

[code]

## Work 2

1. producer config

[code]

2. consumer config

[code]

## No Work1
1. producer config

[code]
2. consumer config

[code]

[2020-07-11 09:13] roackb2 commented on #5598
I'm successful to authorize a Node.js WebSocket client with authentication and authorization enabled on Pulsar, but I have issue establishing the connection.

By usiing [npm ws](https://www.npmjs.com/package/ws) module, I was able to set Authorization Bearer like this:
[code]
The resulting url is like `wss://localhost:8443/ws/v2/consumer/persistent/my-tenant/my-namespace/my-topic/sub-1`

And viewi

[2020-07-11 15:51] #7512 closed

[2020-07-11 17:15] alexku7 commented on #6935
Hello @sijie
Recently, we have upgraded to pulsar 2.6.0 but unfortunately the issue still exists :(
It seems that the topic still is not deleted because of opened ledger.

I  am just wondering if the fix has been merged into 2.6.0 ?
I

[2020-07-11 23:19] #7502 closed

[2020-07-12 08:46] #7452 closed

[2020-07-12 11:13] kezhuw opened #7517 "Conflict namespace bundle ownership after unloading and connected zookeeper server disconnected"
**Describe the bug**
`OwnedBundle.handleUnloadRequest` re-active unloading namespace bundle after fail to remove its ownership from zookeeper. It is possible that the ownership was successfully removed, but connected zookeeper crashed before sending response, eg. `KeeperException.Code.CONNECTIONLOSS`.

**To Reproduce**
I add test case to reproduce this in https://github.com/kezhuw/pulsar/commit/06

[2020-07-13 01:03] codelipenghui commented on #7481
@anvinjain Thanks for the feedback, are you interested in pushing a fix for it?

[2020-07-13 06:02] feeblefakie commented on #7455
@codelipenghui I just re-executed it . Here are the logs.
[sub1.txt](https://github.com/apache/pulsar/files/4910870/sub1.txt)
[sub2.txt](https://github.com/apache/pulsar/files/4910871/sub2.txt)

You can check the inconsistency with [check.sh](https://github.com/feeblefakie/misc/blob/master/pulsar/check.sh) as needed.

Regarding the broker dump, I don't know what you mean/need. Can you clarify ?

[2020-07-13 06:45] codelipenghui commented on #7455
the broker heap dump, I want to check some state of key_shared subscription.

[2020-07-13 10:53] bradfordChiang opened #7521 "Pulsar client or IOThread pool got hang after operation timeout triggers"
**Describe the bug**
Pulsar client or IOThread pool got hang after operation timeout triggers.
Version: 2.5.0

**To Reproduce**
Steps to reproduce the behavior:
[code]

**The process just hang there forever.**
And the retry times is equals to the io thread size. I reckon all the io threads are dead. New completableFuture task cannot be executed.

**Expected behavior**
The new submitted tasks shoul

[2020-07-13 17:29] BewareMyPower commented on #7479
It looks like a problem of broker. I have tested following Java client (commit  c94067d) with broker 2.6.0 standalone:

[code]

It stuck at `consumer.receive` until timeout exceeds. The broker's log is

[code]

The worse thing is that this corrupted message (I guess) could affect following messages. After that, I changed `LZ4` to `NONE`, it still didn't work. But if I stopped the standalone, then

[2020-07-13 17:34] BewareMyPower commented on #7479
Just now I saw the [PR #7416](https://github.com/apache/pulsar/pull/7416) that could fix this bug.

[2020-07-14 01:24] sijie commented on #7500
Yes. Because the backlog will exceed 1GB limitation.

Yes. That's correct.

[2020-07-14 01:29] sijie commented on #7517
@kezhuw Are you interested in sending a pull request to fix it?

[2020-07-14 02:05] sijie commented on #7492
@horsteff that sounds a good solution to me.

[2020-07-14 03:47] jiawulin001 commented on #7478
@codelipenghui
I'm thinking if we should introduce a timeout mechanism to avoid this problem instead of changing the logic to async? Since asynchronously resetting the cursor might return a response directly before it actually finish the work, and may influence the order of code execution on client side and lead to unexpected outcome.

[2020-07-14 04:56] bleacha870721 commented on #7076
@sijie  May I know the current progress of this issue? I still couldn't get the latest messages in 2.6.0

[2020-07-14 05:08] sijie commented on #7076
@bleacha870721 the setting requires some configuration changes in the bookies' side (e.g. bump journal version).  We need to update the documentation about the full process.

[2020-07-14 05:30] hozumi commented on #7500
@sijie Thank you for your answer.
That is to say, in order for lately created subscription to read all retained messages without interfering a producer, should backlog quota be set to the same size as retention policy? (In this case, 100GB.)
If so, as retention policy is applied to the messages only not in backlog, do I need to estimate the maximum size of disk space at twice the size of the reten

[2020-07-14 07:14] anvinjain commented on #7481
@codelipenghui Sure, I will take this up.

[2020-07-14 10:42] xuesongxs opened #7530 "In some cases, the workerport does not listening after the functions worker process is started."
**Describe the bug**
In some cases, after the functions worker process is started, the workerport does not listen, the process exists, and no error information is found,The broker and functions worker are deployed independently.

pulsar V2.5.2

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear an

[2020-07-14 16:10] Lagranmoon opened #7531 "prebuild protoc incompatible for build project"
**Describe the bug**
I modify the PlusarApi.proto and then use the generate_protobuf_docker.sh to regenerate Java files.But when I rebuild the project using "mvn clean package -DskipTests",it throws errors which says some methods couldn't be found in org.apache.pulsar.common.util.protobuf.ByteBufCodedInputStream, in particular, the pushLimit() method. I revert my code and use master to build again

[2020-07-14 20:46] devinbost commented on #6054
@sijie @codelipenghui We have confirmed that this is actually still an issue in Pulsar 2.5.2.

[2020-07-14 20:47] devinbost commented on #6054
If it's a clue, it only happens on topics involving functions.

[2020-07-15 02:25] xuesongxs opened #7535 "Modify the create/update function mode"
**Is your feature request related to a problem? Please describe.**

Can the create / update function be used through a storm like framework storm.sh To manage the start and stop of function, some Java options can be modified at will without changing function Runtime code, now function has two class loaders, using similar storm.sh Only one class loader is needed for the command of function. The loa

[2020-07-15 02:47] Jennifer88huang opened #7536 ""Proxy support with SNI routing" is not displayed in the "Concepts and Architecture" chapter"
**Describe the bug**
I pull request in [PR-7471](https://github.com/apache/pulsar/pull/7471) and add sidebar for "Pulasr SNI routing with ATS". I've tested locally, the sidebar works. However, after merging PR-7471, the content is not displayed on the sidebar (master). See my screenshot below.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to http://pulsar.apache.org/docs/en/next/standal

[2020-07-15 04:25] sijie commented on #6054
@devinbost did you happen to have a heap dump?

[2020-07-15 05:08] devinbost commented on #6054
@sijie Unfortunately, I don't. What's the best way for us to get a heap dump when this happens again?

[2020-07-15 05:30] sijie commented on #7488
@97arushisharma the configurations look good to me. Based on your last comment, it seems that you have addressed your problem by setting `zkLedgersRootPath`. Is that correct? Any other issues that you need help?

[2020-07-15 05:49] 97arushisharma commented on #7488
Yup. Thanks @sijie .

[2020-07-15 05:49] #7488 closed

[2020-07-15 06:28] sxpsxp12 commented on #7480
@wolfstudy thanks，it's work ok。

[2020-07-15 07:28] gaoran10 opened #7538 "[Question] How to generate sequenceId for commit marker in partition topic"
### Context

When publishing messages to a topic, the `sequenceId` param is used for topic message deduplication.

In the transaction, when the TC receives commit command, the TC needs to write a commit marker append to the topic partition, the commit marker needs a `sequenceId` to avoid duplication, if the commit marker is duplicated the topic partition cursor will send duplication committed mess

[2020-07-15 09:14] wolfstudy commented on #7480
Cool, will close this issue.

[2020-07-15 09:14] #7480 closed

[2020-07-15 11:50] git-enzo opened #7543 "Dead code in MultiTopicsConsumerImpl class - occurs if topic name validation failed during subscribing"
**Describe the bug**

The MultiTopicsConsumerImpl class contains two methods named ```subscribeAsync()``` which return ```CompletableFuture<Void>``` as a result.
The first step in both methods is checking if given topic name is valid using ```topicNameValid()``` method as follow:

[code]

The problem is that ```topicNameValid()``` method always returns true or throws an exception. It never returns

[2020-07-15 12:18] Anonymitaet commented on #5608
@candlerb `--py` has been documented in [pulsar-admin functions create](http://pulsar.apache.org/tools/pulsar-admin/2.7.0-SNAPSHOT/#-em-create-em--2) and [pulsar-admin functions update](http://pulsar.apache.org/tools/pulsar-admin/2.7.0-SNAPSHOT/#-em-update-em--4).

[2020-07-15 12:18] #5608 closed

[2020-07-15 12:25] Shoothzj opened #7544 "Does Auto partition update period matter latency?"
We use the ability of auto update partition.
During our performance test, there are some unstable requests which latency > 5s! (we set send timeout to 5 seconds too).Call back is failure.
I check the server log and the zookeeper log, there is fine. (May be broker zookeeper timeout is 30, doesn't print log).
Also check the client, server, zookeeper  garbage collect log. They < 1s.

Then I think may

[2020-07-15 12:50] git-enzo opened #7545 "A swallowed exception in exception handling during subscribe new topic"
**Describe the bug**
In MultiTopicsConsumerImpl class there is possibility to swallow an exception in exception handling during subscribe new topic.

This behavior may occur in ```handleSubscribeOneTopicError()``` method, which is invoking in ```exceptionally``` block in some CompletableFuture.

This handler method is responsible for completing exceptionally a ```CompletableFuture``` named ```subs

[2020-07-15 13:49] lhui1991 opened #7546 "Create non partition topic err V2.6.0"
**Describe the bug**

[root@cn-hz-h-test-pulsar00 apache-pulsar-2.6.0]# ./bin/pulsar-admin topics create persistent://picturebook/sale/second_topic
21:34:14.984 [AsyncHttpClient-7-1] WARN  org.apache.pulsar.client.admin.internal.BaseResource - [http://localhost:8080/admin/v2/persistent/test/test/test_topic] Failed to perform http put request: java.util.concurrent.CompletionException: org.apache.pu

[2020-07-15 15:17] candlerb commented on #5608
I don't see any mention of zip files at those links - is this awaiting docs to be republished?  I can't tell, because there's no link to the relevant git commit either.

[2020-07-15 15:43] joofio opened #7547 "Queue declaration parameters for rabbitMQ source connector configurable"
In the source connector queue declaration, [on line 71](https://github.com/apache/pulsar/blob/master/pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQSource.java) the declaration is hardcoded.

I would like to suggest for this parameters (or at least some of them like durability - the first one) being configurable in the yaml for the connector.

Would bring more configurabili

[2020-07-15 16:00] vzhikserg commented on #7489
@devinbost could you please review the go implementation in the #7539 pull request?

[2020-07-15 17:27] rocketraman commented on #6923
Agreed, right now the [PIP](https://github.com/apache/pulsar/wiki/PIP-34:-Add-new-subscribe-type-Key_shared) is the only place where one can find important information about how this works when consumers connect and disconnect.

[2020-07-16 00:56] feeblefakie commented on #7455
@codelipenghui @merlimat Could anyone give me the answers for the questions ? I want to dig into it deeper but I'm not very experienced so I need some more information about the spec.
https://github.com/apache/pulsar/issues/7455#issuecomment-654763271

@sijie
The issue is pretty critical since it violates the guarantee that the Key_Shared feature must meet, but I feel it is not regarded as importa

[2020-07-16 01:25] #7414 closed

[2020-07-16 01:25] #7521 closed

[2020-07-16 02:49] xuesongxs opened #7551 "Function instance/deps class loading mechanism is confused"
**Describe the bug**
Function if you use fat jar ${PULSAR_HOME}/instance/deps directory does not work.
If a non fat jar is used, it will cause many problems.
For example,
1. Use a custom schema structure in the input and output types of the function. This schema structure is in another jar, and it must be put into ${PULSAR_HOME}/lib directory, if the schema modifies the member variables, you must

[2020-07-16 05:24] #5922 closed

[2020-07-16 07:04] massakam opened #7554 "Messages that have already been acked are redelivered when upgrading Pulsar version"
The other day, we upgraded the Pulsar version of our broker servers from 2.3.2 to 2.4.2.

At that time, a large number of messages were redelivered on some topics. These messages should have already been acked in the past. The topics where this happened had some unacked messages in their backlog. I can understand that the unacked messages were redelivered. The strange thing is that some or all of

[2020-07-16 07:07] massakam commented on #7554
The class of `individualDeletedMessages` has been changed by the following two PRs:
- https://github.com/apache/pulsar/pull/3818
- https://github.com/apache/pulsar/pull/3819

[2020-07-16 07:11] massakam commented on #7554
@rdhabalia Is the difference in behavior between `ConcurrentOpenLongPairRangeSet` and `TreeRangeSet/LongPairRangeSet.DefaultRangeSet` intentional? If so, what is the reason?

[2020-07-16 12:04] git-enzo opened #7556 "Possibility to break a state in MultiTopicsConsumerImpl class during subscribe new topics"
**Describe the bug**
In MultiTopicsConsumerImpl class there is possibility to break an internal state during subscribe topics. This behavior may occur in ```doSubscribeTopicPartitions()``` method, which is invoking during subscribing, for example in ```subscribeAsync()``` method.

The MultiTopicsConsumerImpl class stores state about number of partitions for each subscribed topic. This state is kee

[2020-07-16 12:26] Anonymitaet commented on #5608
@wolfstudy could u pls help explain the `zip file`? Many thanks.

[2020-07-16 13:54] #6086 closed

[2020-07-16 16:25] horsteff opened #7557 "InvalidPathException on shutting down pulsar when running embedded on windows"
**Describe the bug**
On shutting down an pulsar running embedded on windows it throws an InvalidPathException:
[code]
This happens because the system dependent (Windows in this case) java.nio.file.Paths is used to get the parent of a logical zookeeper path, which isn't a filesystem path. Zookeeper uses unix like logical paths.
I encountered this when using an embedded pulsar for integration tests

[2020-07-16 16:37] irairdon opened #7559 "Health Check Topic growth"
**Describe the bug**
If a node restart occurs the health check topic backlog will start to grow and appears to never stop growing

**To Reproduce**
Steps to reproduce the behavior:
1. Install pulsar 2.5.2 latest with Node restart fix
2. Start producer and consumer on any number of topics
3. restart a node in the kubernetes cluster
4. Observe backlog growth of one of the broker health check topics

[2020-07-16 18:42] cckellogg opened #7563 "2.6 AuthorizationProvider breaks compatibly with earlier versions"
**Describe the bug**
The 2.6 AuthorizationProvider breaks compatibility and behavior with custom Authorization plugins written against versions lower than 2.6.

**Expected behavior**
For example:

The Authorization for most of the Namespace operations called this method in AuthorizationProvider ```isTenantAdmin```

Now the Authorization for the Namespace operations call ends up calling this method

[2020-07-16 21:13] fmiguelez opened #7564 "Schema properties are not updated if schema definition does not change"
**Describe the bug**
The only available operation to update properties of a schema (`SchemaInfo`) is to use `createSchema()` method of `PulsarAdmin`. The problem with that is that it will not update the provided properties if schema definition does not change.

The only way the admin API provides to update the properties associated with an schema is to delete it first and then create it from scrat

[2020-07-16 22:14] klwilson227 opened #7565 "PulsarClient-cpp segv after close() method is called."
**Describe the bug**
After the execution of the close method, a segmentation violation can be seen from time to time when either the keepAliveTimer or the consumerStatsTimer pops during or soon after the close operation. The segv shows the following stack trace:

[code]
Steps to reproduce the behavior:
This problem is difficult to reproduce without tweaking the source base. As this exception is ba

[2020-07-16 23:17] devinbost commented on #7489
@vzhikserg Looks great! We might want to take a look at the Python implementation too.

[2020-07-16 23:55] merlimat commented on #7565
@klwilson227 Do you have a simple way to reproduce this (even if it involves putting `sleep()` calls in the `close()`?

[2020-07-16 23:58] sijie commented on #7563
@cckellogg just to clarify this question first - does this change break the existing authorization implementation (model)? This would help me understand the severity of this issue.

[2020-07-17 01:02] Huanli-Meng commented on #7415
@Jennifer88huang , how about this issue?

[2020-07-17 01:23] sijie commented on #7538
Since the commit is initiated by TC and done by TB. TB first writes a `committing` record to the transaction buffer. You can use the message-id of the `committing` record to create a long number. This can be used as the sequence id to write the commit marker to the data partition.

[2020-07-17 01:33] sijie commented on #7543
@git-enzo Are you interested in contributing a bug fix?

[2020-07-17 01:34] sijie commented on #7545
@git-enzo Are you interested in contributing a bug fix?

[2020-07-17 01:37] sijie commented on #7546
@lhui1991 Did you see any errors at the broker side?

[2020-07-17 01:39] sijie commented on #7547
@joofio Are you interested in contributing an enhancement to this?

[2020-07-17 01:53] sijie commented on #7554
@codelipenghui Can you check this issue?

[2020-07-17 01:54] sijie commented on #7556
@git-enzo Are you interested in sending a pull request for this issue?

[2020-07-17 02:00] sijie commented on #7559
@irairdon Can you also give us the broker log and heap dump if possible?

[2020-07-17 02:54] wolfstudy commented on #5608
Hello @candlerb When we want to submit a python function, we can use --py to specify that we are about to submit a python function. --py specifies the user python function, which is an executable file, not a zip file, so what do you mean by zip file?

[2020-07-17 03:04] darrenx999 opened #7568 "I can't access websocket(embedded) via pulsar-proxy"
#### Expected behavior

Tell us what should happen

#### Actual behavior

1.I setup a k8s pulsar cluster with values-minikube.yaml.
2.set webSocketServiceEnabled=true on broker, after restart pod , I can access websocket in pod.
3. I try to access websocket via pulsar-proxy, failed.
error info:
websocket._exceptions.WebSocketBadStatusException: Handshake status 404 Not Found

#### Steps to reprodu

[2020-07-17 03:06] sijie commented on #7568
@darrenx999 Current helm chart doesn't support WebSocket. Can you create an issue at https://github.com/apache/pulsar-helm-chart?

[2020-07-17 03:08] sijie commented on #7477
Gotcha. Can you also raise an issue at https://github.com/apache/bookkeeper? So we can relax the requirement in bookkeeper side.

[2020-07-17 03:09] darrenx999 commented on #7568
I see,so I modify the  broker config to support ws, but i don't know the workflow of the proxy,why can't access ws via proxy.

[2020-07-17 03:12] sijie commented on #7455
@feeblefakie we realized the importance of this issue. @codelipenghui is working on this. please give us some time on fixing this issue since we also have other tasks ongoing.

[2020-07-17 03:14] darrenx999 commented on #7568
@sijie thanks.

[2020-07-17 03:14] #7568 closed

[2020-07-17 03:20] sijie commented on #7568
@darrenx999 pulsar proxy doesn't support WebSocket protocol. Ideally, you can just add WebSocket as a separate container in the proxy pod and expose the port through proxy loadbalancer.

[2020-07-17 03:46] Jennifer88huang commented on #5399
@addisonj Have you met any difficulties in fixing the issue?

[2020-07-17 03:51] cckellogg commented on #7563
@sijie I'm not sure if the builtin AuthorizationProvider is broken in 2.6 I have not done much testing with that one. Custom AuthorizationProviders built against version less than 2.6 are broken when running with version 2.6.

[2020-07-17 04:03] sijie commented on #7563
@cckellogg I chatted with @srkukarni. I think the default implementation was pushed down the zk implementation. We can put some of the implementations at the interface level.

[2020-07-17 04:08] bleacha870721 opened #7569 "Failed to build bookie server"
**Describe the bug**
Bookie pod CrashLoopBackOff and cannot restart
**To Reproduce**
Steps to reproduce the behavior:

![image](https://user-images.githubusercontent.com/59589208/87747268-5db96e00-c825-11ea-85fc-403b60bc9c45.png)
04:04:26.014 [main] ERROR org.apache.bookkeeper.server.Main - Failed to build bookie server
org.apache.bookkeeper.bookie.BookieException$InvalidCookieException: Cookie [4

[2020-07-17 04:08] bleacha870721 commented on #7569
pulsar version: 2.5.2

[2020-07-17 04:42] aloyszhang opened #7571 "Does puslar-admin support lookup partitioned topic?"
Command
[code]
can only search brokerUrl for non-partitioned topic.
For partition topic we have to use a loop to search each partition which is not convenient

[code]
Is there any way to search all brokerUrls for patitioned topic by pulsar-admin tool?
If not,  I think we should add support for it.

[2020-07-17 05:05] vcottagiri commented on #683
@sijie - Let me look into this one

[2020-07-17 05:27] #7557 closed

[2020-07-17 05:54] wenjun8888 opened #7574 "Set jvm options to each components"
sir, i have an questions to ask.
when i setting jvm options in pulsar_env.sh
for example:
[code]
Is that means  4g memory allocated for each components.
In my case, a node with 8G memory and there are zookeeper\bookie\broker on it.
So i think 8G is not enough...
Please tell me if i have the wrong idea, or can i set jvm options for singel components.
Thank you very much!

[2020-07-17 06:31] Anonymitaet commented on #6044
Confirmed w/ @wolfstudy, creating a function can not be achieved via the `LocalRunner` class.
Doc is available at [here](https://streamnative.io/docs/latest/process/pulsar-functions/deploy/manage).
Will copy to Pulsar later.

[2020-07-17 06:31] #6044 closed

[2020-07-17 07:05] feeblefakie commented on #7455
@sijie Thank you for the reply. It is great to hear that it is now regarded as important.
I would like to help so feel free to ask me to do testing.

[2020-07-17 07:14] rvashishth commented on #7500
It seems lots of confusion around these concepts and no clear documentation is available anywhere.

[2020-07-17 07:27] lbenc135 commented on #7477
Sure: https://github.com/apache/bookkeeper/issues/2377

[2020-07-17 07:35] sijie commented on #683
@vcottagiri great!

[2020-07-17 07:50] darrenx999 commented on #7568
@sijie thanks for your advise.

[2020-07-17 07:51] codelipenghui commented on #7559
@irairdon Could you please help check if there are logs contains "Error closing reader for healthcheck" in the broker log?

[2020-07-17 08:00] candlerb commented on #5608
I mean exactly that: `--py mybundle.zip` is how you deploy a bundle containing multiple python files.  At least, it worked the last time I tested it (I haven't been using pulsar for a while).

This is [PEP-273](https://www.python.org/dev/peps/pep-0273/) behaviour.

It's very useful otherwise you have no way to deploy a function with its dependent libraries, other than installing the libraries on e

[2020-07-17 08:16] sijie commented on #7500
@hozumi

Yes.

If your consumer acknowledge messages, you can just estimate the maximum size of disk space by write_quorum_size * the size of the retention policy.

You can also set TTL to be the same as the retention policy. So if you have subscriptions forgot to acknowledge, the data will still eventually be cleaned up after retention period.

[2020-07-17 08:30] sijie commented on #7569
@bleacha870721 How did you deploy the Pulsar cluster? Bookies require a stable network identifier for bookie id. So you need to set `useHostNameAsBookieID` to be `true`.

See Pulsar Helm Chart: https://github.com/apache/pulsar-helm-chart/blob/master/charts/pulsar/templates/_bookkeeper.tpl#L84

[2020-07-17 08:36] rvashishth commented on #7500
@hozumi  @sijie  - if `SubscriptionInitialPosition.Earliest` creates a subscription from the earliest message in `Retention` storage. How can we create a subscription with earliest position in backlogQuota?

[2020-07-17 09:18] lbenc135 opened #7577 "ConnectError throws std:bad_function_call and kills program with SIGABRT"
**Describe the bug**
On `python-client==2.6.0` calling `subscribe` when Pulsar server is *not* running kills the program instead of raising an Exception.

**To Reproduce**
Run with pulsar server not running:
[code]

You should get:
[code]

**Expected behavior**
Client to throw an exception (ideally something like `PulsarException`).

**Desktop (please complete the following information):**
 - OS:

[2020-07-17 10:33] 97arushisharma opened #7579 "Make encryptionKey property configurable through producer configurations using loadConf method"
Can we make certain extra properties that are supported by pulsar but are not present in the `loadConf()` method implementation, configurable. For Example: Currently I am writing an application that needs to publish messages to apache pulsar with configurations supplied through a properties file. However, I have to explicitly write certain functions while building the producer. And to make these p

[2020-07-17 12:27] hozumi commented on #7500
Thank you for your answer.

https://pulsar.apache.org/docs/en/cookbooks-retention-expiry/

Does the above document mean that while the messages in the consumer's backlog are not deleted by the retention policy settings, but all messages including acknowledged and unacknowledged are included to calculate the size limit of the retention policy?
If so, it make sense. I can easily manage maximum disk

[2020-07-17 12:44] rvashishth commented on #7500
I assume retention policy size limits should not apply to unacknowledged messages.

[2020-07-17 13:17] e-marchand-exensa opened #7580 "[Java] [v2.5.2] CompletableFuture<Messages<T>> from batchReceiveAsync not completed exceptionnally when closing Consumer"
**Describe the bug**
`CompletableFuture<Messages<T>>` from `Consumer.batchReceiveAsync()` not completed exceptionnally when closing `Consumer`.

**To Reproduce**
Thread A build a `Consumer<T> consumer`
Thread B request `consumer.batchReceiveAsync().get()`
Thread A call `consumer.close()`
Thread B is still blocked

**Expected behavior**
The behavior should be consistent with `consumer.receiveAsync(

[2020-07-17 15:51] irairdon commented on #7559
So I just looked at broker logs and I do not see the error message you have ask about. I am attaching all broker logs here.
[itomdipulsar-broker-5c85589ccc-kvzgr.log](https://github.com/apache/pulsar/files/4938730/itomdipulsar-broker-5c85589ccc-kvzgr.log)
[itomdipulsar-broker-5c85589ccc-9bbzh.log](https://github.com/apache/pulsar/files/4938731/itomdipulsar-broker-5c85589ccc-9bbzh.log)
[itomdipulsa

[2020-07-17 16:16] hozumi commented on #7500
@rvashishth According to Addison Higham, the message in a topic itself does not have an acknowledged flag, and just each subscription have a backlog, which tracks unacknowledged messages. Therefore, the earliest position of unacknowledged messages varies from subscription to subscription.

https://apache-pulsar.slack.com/archives/C5Z4T36F7/p1594358745127000?thread_ts=1594348193.122700&cid=C5Z4T36F

[2020-07-17 17:15] vcottagiri commented on #683
@sijie - thanks. Raised [PR](https://github.com/apache/pulsar/pull/7582). Hope its what @merlimat was looking for.

[2020-07-17 17:34] rvashishth commented on #7500
@hozumi I was thinking the same, this might be the reason for whole confusion.  I assume backlogQuota and subscription/message backlog are two different things, where message backlog is just a cursor and backlogQuota is actual storage of unacked message backlog.

https://pulsar.apache.org/docs/en/cookbooks-retention-expiry/#backlog-quotas

@addisonj you mentioned _Beyond subscriptions, topics them

[2020-07-17 17:44] vcottagiri opened #7583 "Root pom is inconsistent with dependency versions as property variables"
Most of the version declarations in the root pom are ${} placeholders, a few are not.
An example of this is

      <dependency>
        <groupId>com.google.guava</groupId>
        <artifactId>guava</artifactId>
        <version>${guava.version}</version>
      </dependency>

     <dependency>
        <groupId>com.beust</groupId>
        <artifactId>jcommander</artifactId>
        **<version>1.48</

[2020-07-17 18:00] wmccarley opened #7584 "PIP 68 Suggestions"
Suggestions for modifications to PIP 68: Exclusive Producer by @merlimat

The purpose of these suggestions is to place more control on the system admin for what is/isn't allowed w.r.t exclusive producing.

1. Only two ProducerAccessModes and separate  enum for *requested* behavior when exclusive produce ownership is contested

[code]

2. Additional settings in broker.conf:
[code]

3. Modify/Add Ad

[2020-07-17 18:44] rvashishth commented on #7500
Let me know if this understanding is correct.  The `backlogQuotaDefaultLimitGB` is set per topic and is a logical unit within persistent storage. Pulsar applies this limit to the largest subscription backlog for the topic.

There is no physical storage for this topic backlog quota, but it's a logical threshold limit and this basically governs how much max unacknowledge message any subscription can

[2020-07-17 19:03] #683 closed

[2020-07-17 23:26] sijie commented on #7500
@rvashishth Your understanding is correct.

[2020-07-17 23:52] aloyszhang commented on #7571
@sijie Any suggestions about this?

[2020-07-18 00:02] merlimat commented on #7577
@lbenc135 It's indeed very easily reproducible. Got this stack trace:

[code]

[2020-07-18 00:05] merlimat commented on #7577
Apparently it only happens when consuming from multiple topics. I have a fix underway.

[2020-07-18 00:14] sijie commented on #7571
That is a great feature to add! +1

[2020-07-18 01:20] codelipenghui commented on #7559
Thanks @irairdon

[2020-07-18 01:38] #5179 closed

[2020-07-18 02:12] klwilson227 commented on #7565
With sleep in ClientConnection::Close() then After opening a consumer, and receiving messages. Close the consumer and client.

With the sleep in place the timers should pop and handlers waiting at mutex. When sleep releases the close completes and destroys the timers and then the handlers attempt to reset timers and the core dumps occur.

Sent from my iPhone

[2020-07-18 02:17] wolfstudy commented on #7574
You should configure `PULSAR_MEM` to allocate memory for running Pulsar components.

 - It is recommended to configure `-Xms` to equal to `-Xmx`, so that JVM can allocate the whole heap memory during initialization.
- Since Pulsar uses direct memory extensively, you should make sure allocating enough directory memory for JVM. It is recommended to configure `-XX:MaxDirectMemorySize` to be twice of

[2020-07-18 03:31] codelipenghui commented on #7559
@irairdon I have checked the heap dump, the problematic reader is `reader-08cbbdc976`. Looks the reader is closed at the client side but not clean up at the broker side. But I can't find any logs related to this reader, the last time of the broker log is `14:54:13.528` and `reader-08cbbdc976` is created later than `15:00:00`. I just inferred from the subscription timeout. Could you please send me

[2020-07-18 05:29] aloyszhang commented on #7571
I'll work on it.

[2020-07-18 13:04] 315157973 commented on #7543
I'm free on the weekend, please assign it to me  :smile:

[2020-07-18 13:15] #7415 closed

[2020-07-18 13:16] Jennifer88huang commented on #7415
Done.

[2020-07-18 13:31] Jennifer88huang opened #7594 "[website] Need license field for the `package.json` file"
**Describe the bug**
When we run "yarn start" as suggested in [readme](https://github.com/apache/pulsar/tree/master/site2#run-the-site-locally), the following error occurs.
[code]
**Expected result**
Build successfully with "http://localhost:3000/..."

**Desktop (please complete the following information):**
 - OS: [iOS]

**Additional context**
yarn version: v1.15.2

[2020-07-18 13:44] #7594 closed

[2020-07-18 14:39] Jennifer88huang commented on #7536
The issue is not fixed yet.
The website build succeeds in https://builds.apache.org/job/pulsar-website-build/1072/console; however, the title is not displayed on the sidebar yet. I did not find error in Build #1072.
![image](https://user-images.githubusercontent.com/47805623/87854879-702bc880-c947-11ea-8e21-4f02324138b2.png)

[2020-07-19 03:58] #7497 closed

[2020-07-19 13:10] liangyuanpeng commented on #7547
I want to try this.

[2020-07-19 13:17] liangyuanpeng commented on #7161
What's the status of this issue? look like finished.

[2020-07-20 01:15] codelipenghui commented on #7161
@liangyuanpeng This issue is fixed by #7357

[2020-07-20 01:15] #7161 closed

[2020-07-20 01:16] Jennifer88huang commented on #7536
It works now.

[2020-07-20 01:16] #7536 closed

[2020-07-20 01:54] jiazhai commented on #4777
@zhangbitao If batch is true, it maybe not accurate, but if batch == false also not work, there should be some issue. According to your description,  this is easy to reproduce, would also mark this as 'help wanted'. so other contributor could help on this issue.

[2020-07-20 02:03] jiazhai commented on #4784
BP-38 has already implement part of the work, and included in latest bookkeeper release: 4.11
https://bookkeeper.apache.org/bps/BP-38-bookie-endpoint-discovery/

[2020-07-20 02:11] jiazhai commented on #7530
@xuesong172500 Would you please help provide more details to reproduce this issue? it would be much helpful.

[2020-07-20 02:13] codelipenghui commented on #7583
@vcottagiri are you interested in fixing this problem?

[2020-07-20 04:39] bigbang489 opened #7602 "Java Client fail when compressionType=SNAPPY or ZSTD and disable batching"
**Describe the bug**
Unable to use compressionType=SNAPPY or ZSTD and enableBatching=false
Pulsar client version: 2.5.1,

Error: Exception in thread "main" org.xerial.snappy.SnappyError: [NOT_A_DIRECT_BUFFER] input is not a direct buffer
	at org.xerial.snappy.Snappy.compress(Snappy.java:143)
	at org.apache.pulsar.common.compression.CompressionCodecSnappy.encode(CompressionCodecSnappy.java:46)
	at

[2020-07-20 06:27] jiazhai commented on #4816
Add label `help wanted` for the contributor that want to contribute to this feature.
as above comments: "We can implement a cache for producers. That closes "old" producers automatically"

[2020-07-20 06:42] jiazhai commented on #4809
merged by #4885

[2020-07-20 06:42] #4809 closed

[2020-07-20 07:10] bigbang489 commented on #7602
I close this issue because it no longer exists in version 2.6.0

[2020-07-20 07:10] #7602 closed

[2020-07-20 09:20] Mefl opened #7604 "[Rest admin api] 'Get message by its messageId' throw exception when the broker asked is not the good one"
**Describe the bug**

When using the rest api `http://pulsar.apache.org/admin-rest-api/#operation/getLastMessageId` you may have exception if the broker asked is not the good one. By executing the same request several times, it will succeeded with the right answer few times or it will fail with this exception.

For exemple the request I used :
`curl --location --request GET 'https://host:2000/admi

[2020-07-20 15:08] vcottagiri commented on #7583
@codelipenghui - yes, I will fix this one.

[2020-07-20 18:04] epsteina16 opened #7607 "LZ4 Compression does not work on Big Endian machines"
**Describe the bug**
The Pulsar Java Client fails when creating a producer with LZ4 compression with the error "LZ4 requires a little endian platform (found BIG_ENDIAN)". LZ4 is endianness-independent so this is a bug.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure a Producer with the Java Client to use LZ4 compression.
2. Run the application on a big endian machine.

**Expected b

[2020-07-20 18:25] merlimat commented on #7607
@epsteina16 Which kind of machine are you running on?

[2020-07-20 21:34] epsteina16 commented on #7607
AIX based operating system

On Mon, Jul 20, 2020, 2:25 PM Matteo Merli <notifications@github.com> wrote:

[2020-07-21 01:40] merlimat opened #7612 "Static class initialization deadlock with commons-logging"
There are some deadlock in JVM when initializing classes that depends on a subclass of that class (see: https://bugs.openjdk.java.net/browse/JDK-8037567).

This can happen in Pulsar client when there are multiple threads that jump into the path of initializing classes from Apache commons-logging library.

In most of the cases, applications are using `jcl-over-slf4j` to route log requests for `comm

[2020-07-21 01:46] jiazhai commented on #7579
@97arushisharma  all the properties are defined in `ProducerConfigurationData`.  please use `encryptionKeys` instead of `encryptionKey`

[2020-07-21 01:53] jiazhai commented on #7604
Looks like we should do redirect automatically. Marked as `help wanted`, since it is easy to reproduce, and there is other examples to follow in admin/rest commands.

[2020-07-21 01:59] jiazhai commented on #7607
This looks like a lib LZ4 issue?

[2020-07-21 02:02] #7583 closed

[2020-07-21 02:04] xuesongxs opened #7614 "functions_worker.yml can only configure one pulsarwebserviceurl"
**Is your feature request related to a problem? Please describe.**
functions_worker can only configure a pulsarwebserviceurl. If the broker it points to exits abnormally, the functions worker will not work normally and HA will not work. I hope that this can be configured as a pulsarwebserviceurl list for automatic load balancing.

**Describe the solution you'd like**
A clear and concise descriptio

[2020-07-21 02:46] vcottagiri opened #7616 "The 'main' maven profile is not activated by default"
The recently introduced main maven build profile is not activated by default.

**To Reproduce**
`mvn install` does not run the 'main' profile
`mvn install -P main`  works

**Desktop:**
 - OS: Win10

**Additional context**
`mvn help:active-profiles` shows that the windows profile is activated

[INFO]
[INFO] --- maven-help-plugin:3.1.1:active-profiles (default-cli) @ pulsar ---
[INFO]
Active Profile

[2020-07-21 07:55] xuesongxs opened #7617 "Functions worker load balancing failed"
**Describe the bug**
Functions_worker load balancing failed.
Pulsar 2.5.2

**To Reproduce**
Steps to reproduce the behavior:
My cluster has 3 brokers, 3 bookies and 3 functions workers

1. Start 3 bookies, 3 brokers and 1 functions worker.

2. Create function. Set the parallelism number to 2, so that the 2 parallelism will run on the functions worker that has been started.

3. I start another func

[2020-07-21 10:00] murong00 opened #7618 "NPE when using advertisedListeners"
**Describe the bug**
The broker failed to acquire ownership for namespace bundle when using `advertisedListeners=internal:pulsar://node1:6650,external:pulsar://node1.external:6650` with `external` listener name, error like below:
[code]

[2020-07-21 10:02] fmiguelez opened #7619 "Subscription initial position ignored with NonDurable subscriptions"
**Describe the bug**
After fix #7118 on BUG #7046 another BUG was introduced as initial subscription position is ignored with NonDurable subscriptions.

**To Reproduce**
[code]

**Expected behavior**
We expect NonDurable subscriptions to work like normal ones allowing positioning subscription.

**Screenshots**

**Desktop (please complete the following information):**
 - Windows with Docker Destkto

[2020-07-21 11:45] rudy2steiner commented on #7604
I'd like to help, please assign to me!

[2020-07-21 13:07] epsteina16 commented on #7607
The error is a io.airlift.compress.IncompatibleJvmException, which indicates it is coming from the underlying LZ4 library. However, https://github.com/lz4/lz4/issues/703 says that this is not an LZ4 issue. Pulsar client 2.4.0 also did not have this issue.

[2020-07-21 14:11] 315157973 commented on #7580
mark

[2020-07-21 14:23] codelipenghui commented on #7618
@murong00 Looks this issue is same as #7469

[2020-07-21 14:37] Jye-525 opened #7622 "[Pulsar Functions] How do I change the "subscriptionposition" of Pulsar Functions and the batching parameters?"
Hi,

	I am making a comparison between Pulsar Functions and Kafka Streams. I have several questions when using Pulsar Functions.

	1) Before creating the Pulsar Functions, I already have a producer. It generates 1000 messages to topic A. Then I start the Pulsar Functions to read data from topic A and do some handling.
	I want the Pulsar Functions could read the 1000 messages which has been existed

[2020-07-21 16:28] sijie opened #7623 "Provide a more accurate message backlog value"
*Motivation*

Currently, the message backlog value is measured by the number of entries. It is not based on the number of messages. Hence it is difficult for applications to figure out the exact message count in the backlog. We should provide a mechanism to provide a more accurate message backlog value.

[2020-07-21 21:23] joofio commented on #7547
i am not very handy with java but can help to the best of my knowledge

[2020-07-21 22:02] irairdon commented on #7559
@codelipenghui after merging PR 7589 to our Github Enterprise repo and building locally it looks like that code change has resolved the issue we had seen.  I will leave to you to close the issue here once it is merged into master, 2.6, 2.5 and any other place this should be merged to.

[2020-07-21 22:04] irairdon commented on #7484
Source of this issue is we expected msg backlog to reflect number of messages in backlog which after discussion with Sijie the msg backlog reflect the number of message entries/ batches in the backlog. So have added extra documentation to clarify that point.

[2020-07-22 00:29] vcottagiri commented on #7616
Looked into this, not possible with what maven provides currently.

On windows easiest way would be to add the '-P main' arg to the mvn command.

[2020-07-22 00:29] #7616 closed

[2020-07-22 01:12] codelipenghui commented on #7580
thanks @315157973

[2020-07-22 01:12] murong00 commented on #7618
@codelipenghui Yes, we can close it when the pr is merged.

[2020-07-22 01:25] sijie commented on #7614
@xuesong172500 You can either use a service URL pointing to a load balancer or DNS. If you don't have a load balancer or DNS, you can also use a multi-broker service URL. It doesn't make sense to add additional HA functionalities beyond the HA functionalities built-in the service URL.

[2020-07-22 01:38] sijie commented on #7622
@Jye-525

1) Currently functions doesn't support specifying the subscription initial position. You can use `pulsar-admin topics reset-cursor` to move a subscription to the earliest position. A contribution of adding the functionality is welcomed.

2) Pulsar Functions doesn't expose the producer settings publicly. So you are not able to configure those batch settings. We can consider exposing those

[2020-07-22 04:38] wangkunSE opened #7624 "pulsar-client ivy resolve problem"
<dependency org="org.apache.pulsar" name="pulsar-client" rev="2.6.0" />
when I use ivy to resolve the dependency on my macbook,  I got this error:

![image](https://user-images.githubusercontent.com/25258968/88134251-ba969900-cc16-11ea-8b55-1ccd5cf68f47.png)

${packaging.type} the suffix break the resolve.

this issue is similar to https://issues.apache.org/jira/browse/IVY-1577.

how about change

[2020-07-22 04:39] wangkunSE commented on #7624
the config is <dependency org="org.apache.pulsar" name="pulsar-client" rev="2.6.0" />.

[2020-07-22 04:40] wangkunSE commented on #7624
the config is `<dependency org="org.apache.pulsar" name="pulsar-client" rev="2.6.0" />`

[2020-07-22 05:13] liangyuanpeng commented on #5727
Test pass from pulsar client 2.6.0.

[2020-07-22 07:10] codelipenghui commented on #7455
Could you please take a look at this PR https://github.com/apache/pulsar/pull/7106 ? I think the above questions we have discussed in https://github.com/apache/pulsar/pull/7106 and  https://github.com/apache/pulsar/issues/6554.

And, now looks the problem is https://github.com/apache/pulsar/pull/7553 that described, we will review #7553 soon.

[2020-07-22 08:16] BewareMyPower opened #7625 "[docs] request body description of sinks REST APIs is wrong"
See: https://pulsar.apache.org/sink-rest-api/?version=2.6.0#operation/registerSink

The doc of request body is

And the request sample is:

[code]

But if I changed the header to `Content-Type: application/json` and passed a JSON body, then a 415 response would be received.

From the [source code](https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/adm

[2020-07-22 08:27] pg2404 opened #7626 "Acknowledging list of messages in Pulsar consumer java client"
My project uses Apache pulsar for distributed messaging. While using the java consumer client I am facing an issue with acknowledgement of multiple messages in a single shot. The java consumer client as of now does not define any method for acknowledging a list of message ids.
I cannot use the cumulative acknowledge in this scenario – as the batch of messages that my consumer client receives requi

[2020-07-22 09:13] Choqs commented on #4874
Same issue here, producer send produce the bellow error, while everything seems to be ok:

`exception=ValueError("<micro_service.schema.ProcedureSchema object at 0x7f0e060a8cf8> (type <class 'micro_service.schema.ProcedureSchema'>) do not match ['null', {'type': 'record', 'name': 'ProcedureSchema', 'fields': [{'name': 'procedure_id', 'type': ['null', 'string']}, {'name': 'user_id', 'type': ['null'

[2020-07-22 12:35] feeblefakie commented on #7455
@codelipenghui Thanks.
I've check my program with the branch of #7553 .
But it didn't work well as I shared. (Consumers seem just stuck and not consuming any messages at all)
https://github.com/apache/pulsar/pull/7553#issuecomment-662426664

[2020-07-22 12:49] feeblefakie commented on #7455
@codelipenghui Thanks.
I've checked #7553 but it seems to have another issue other than out-of-order messages.
Consumers are not consuming anything.
https://github.com/apache/pulsar/pull/7553#issuecomment-662432844

[2020-07-22 13:13] vcottagiri opened #7628 "Use the jetty bom instead of listing all of the dependencies in the root pom"
**Describe the bug**
 Use the [jetty-9.4.29.v20200521](https://repo1.maven.org/maven2/org/eclipse/jetty/jetty-bom/9.4.29.v20200521/jetty-bom-9.4.29.v20200521.pom) bom instead of listing all of the dependencies in the root pom

Will create similar issues for netty, jersey, jackson dependencies so that the changes are reviewed and goes thru CI independently.

[2020-07-22 16:07] vcottagiri commented on #7616
You could also add the main profile to the mvn settings.xml <activeProfiles>sections

[2020-07-22 18:15] vcottagiri opened #7631 "Use netty bom in root pom"
**Describe the bug**
Use the [netty-4.1.48.Final](https://repo1.maven.org/maven2/io/netty/netty-bom/4.1.48.Final/netty-bom-4.1.48.Final.pom) bom in root pom

[2020-07-22 18:46] #7628 closed

[2020-07-22 20:01] vcottagiri opened #7634 "Use jackson bom in root pom"
**Describe the bug**
Use the jackson-2.11.1 bom in root pom

[2020-07-22 20:19] #7631 closed

[2020-07-22 20:22] devinbost commented on #3333
@ivankelly Is this also an issue with

`.serviceUrl("pulsar+tls://BROKER_HOSTNAME:6651")`

?

[2020-07-22 21:17] scheung38 opened #7636 "[Question] Exception: Pulsar error: ConsumerBusy? Python Example showing error on second run? Unless terminal is closed and start again in new PyCharm terminal?"
Following sample Python client code:

https://pulsar.apache.org/docs/en/client-libraries-python/

Started pulsar (2.6.0)
bin> pulsar standalone

PyCharm

(venv) python --version
Python 3.8.4

sample-producer.py:

[code]
$ python producer.py

[code]

sample-consumer.py:
[code]
$ python consumer.py
[code]

First time ran ok but making new messages and reran producer and consumer second time:

[code]

[2020-07-23 01:40] jiazhai commented on #7624
@wangkunSE If 2.1.5 works, Would you like to provide a fix for this?

[2020-07-23 01:47] jiazhai commented on #7626
Thanks, @pg2404 There was already a simlar interface : "CompletableFuture<Void> acknowledgeAsync(Messages<?> messages)".
If this is not enough for your use case, It should be not hard to turn it into the interface that you want.

[2020-07-23 01:49] jiazhai commented on #7625
Thanks @BewareMyPower . Would you like to help contribute a fix for this issue?

[2020-07-23 01:51] jiazhai commented on #7634
Thanks @vcottagiri what is the potential issues for current version? Would you like to provide a fix for this Jackson upgrade?

[2020-07-23 02:04] jiazhai commented on #7636
@scheung38 by default consumer is started in exclusive mode, which means, only 1 consumer is allowed as active. You could try share mode for multi consumers.

[2020-07-23 03:12] BewareMyPower commented on #7625
This part of doc seems to be generated by Java annotations, eg. `A JSON value presenting config payload of a Pulsar Sink` is from `@ApiParam` before the following line:

[code]

The above three `@FormDataParam` fields don't have associated `@ApiParam`s. I'm not familiar with JavaDoc, would the addition of `@ApiParam` work? @jiazhai

[2020-07-23 03:47] Shenfeng1011 opened #7639 "offload_policies ineffective"
can not offload data to hdfs?
version:2.6.0

1.broker.conf
managedLedgerOffloadDriver=filesystem
fileSystemProfilePath="../conf/filesystem_offload_core_site.xml"
fileSystemURI="hdfs://10.130.161.123:8020"

2.filesystem_offload_core_site.xml
<property>
        <name>fs.defaultFS</name>
        <value>hdfs://10.130.161.123:8020</value>
</property>

3.offloaders directory content
tiered-storage-file-

[2020-07-23 05:26] jiazhai commented on #7625
From my view,  `ApiParam` should be workable.
@tuteng @Jennifer88huang Would you please help provide more instructions or examples for @BewareMyPower to reference on this doc fix? It would be better to provide an easy way to verify it.

[2020-07-23 05:38] Shenfeng1011 commented on #7639
waiting on line ~

[2020-07-23 07:47] hnail opened #7642 "Protobuf Schema support AutoConsumeSchema and Presto table"
**Is your enhancement request related to a problem? Please describe.**
1. Now , `ProtobufSchema` create and persistence dependency Java implementation class of GeneratedMessageV3 , create action code trace is  [ProtobufSchema.of(Class<T> pojo) ](https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/ProtobufSchema.java#L102) ->[org.apache.avro

[2020-07-23 07:50] sijie commented on #7642
@hnail That sounds like a good approach! +1 from me. Can you write a PIP for that?

[2020-07-23 08:14] wangkunSE commented on #7624
ok，I will try

[2020-07-23 08:58] hnail commented on #7642
ok, thanks for @sijie replying , I will do that a few days

[2020-07-23 09:52] scheung38 commented on #7636
Thanks but I am just rerunning the same consumer.py code second time. That is considered multi consumer?

How to use share mode if that’s the case

Sent from my iPhone

[2020-07-23 12:02] amitkaushal16 opened #7644 "Large message size handling in Pulsar: Chunking support for Shared subscription"
We have requirement of sending large message size over 250 MB for the shared subscription.
As the chunking feature is not enable for shared subscription while we are trying to send the message above 200MB we are getting below error.

2020-07-23 03:53:03,864 -0700 [bookie-io-1-10] ERROR org.apache.bookkeeper.proto.BookieRequestHandler - Unhandled exception occurred in I/O thread or handler
io.netty

[2020-07-23 12:03] amitkaushal16 opened #7645 "Large message size handling in Pulsar: Chunking for shared subscription"
We have requirement of sending large message size over 250 MB for the shared subscription.
As the chunking feature is not enable for shared subscription while we are trying to send the message above 200MB we are getting below error.

2020-07-23 03:53:03,864 -0700 [bookie-io-1-10] ERROR org.apache.bookkeeper.proto.BookieRequestHandler - Unhandled exception occurred in I/O thread or handler
io.netty

[2020-07-23 12:57] walter-csharp commented on #7569
I think this issue is fixed in v2.6.0
The condition check PF_ENV_PREFIX is missed when update the env values in env config files. Now it has fixed v2.6.0

https://github.com/apache/pulsar/blob/master/docker/pulsar/scripts/apply-config-from-env.py

[2020-07-23 13:14] ErikJansenIRefact commented on #7076
@sijie Any idea when the documentation is updated. We are in the middle of testing Presto with Pulsar.

[2020-07-23 17:49] rdhabalia commented on #7645
@amitkaushal16 yes, right now chunking feature is only available for non-shared subscription. It's little tricky for shared subscription as it requires sequential chunked-messages delivery to one consumer and also need to take other scenarios such as acking, redelivery, keeping multiple chunks in buffers, etc. We will look into this feature soon.

[2020-07-23 18:01] vcottagiri commented on #7634
Will be using the same versions - just pointing it to the bom so that we can we move all of the jackson dependencies in the root pom.

Tried the same with the jetty dependencies but they had to be [reverted ](https://github.com/apache/pulsar/pull/7638) because unit tests failed, will look into that. There were some issues with the CI builds which does not run unit tests on pom changes. With [#7603

[2020-07-23 18:54] hozumi commented on #7028
Hi, I'm thinking the same use case discussed here.
It would be nice if users could manage the load by simply adding or removing consumers to a single logical subscription, like turning a faucet, instead of manually assigning subscriptions to underlying partitions.

[2020-07-24 01:19] #7639 closed

[2020-07-24 01:32] codelipenghui commented on #7644
@amitkaushal16 Looks this issue is same as #7645, close it first.

[2020-07-24 01:32] #7644 closed

[2020-07-24 07:28] opera33 opened #7650 "Pulsar Function random IO Exception error"
**Describe the bug**
Randomly getting IO exception with Pulsar Function, We have about 500 of the functions running on 1 cluster with 3 nodes, using same jar (fat jar) file with 2 brokers with function workers, and 1 broker without function worker. (all running 2.5.2)

Some of the function may randomly hit IO Exception and upon investigating, this is the error message we got in the log.

**Expecte

[2020-07-24 07:32] bleacha870721 commented on #7076
Any idea when the documentation is updated？

[2020-07-24 09:40] ErikJansenIRefact commented on #7372
@sijie Any progression? Shouldn't this issue be labelled as type/bug?

[2020-07-24 09:50] ErikJansenIRefact opened #7652 "Struct property is not selected in Presto"
#### Expected behavior

A struct property in a class should be retrieved in Presto when the topic is queried. Preferably as a nested object or otherwise as flattened properties.

#### Actual behavior

The property isn't selected at all.
#### Steps to reproduce

Create a class with a property of type LocalDate.
Add messages to a topic with JSON schema.
Select the topic in Presto.
It is expected tha

[2020-07-24 09:52] ErikJansenIRefact commented on #7652
[Archive.zip](https://github.com/apache/pulsar/files/4971280/Archive.zip)

[2020-07-24 11:02] walterEri opened #7653 "Failed to build bookie server in kubernetes environment"
**Describe the bug**
we have deployed pulsar using helm chart in openshfit k8s environment. when we scale up the deleted volume bookie we encounter with below issue.

2.284: Total time for which application threads were stopped: 0.0001663 seconds, Stopping threads took: 0.0001040 seconds
10:28:55.441 [main] ERROR org.apache.bookkeeper.bookie.Bookie - There are directories without a cookie, and thi

[2020-07-24 12:59] cherrizj commented on #7270
05:42:55.378 [bookie-io-1-27] ERROR org.apache.bookkeeper.proto.BookieServer - Unable to allocate memory, exiting bookie
io.netty.util.internal.OutOfDirectMemoryError: failed to allocate 16777216 byte(s) of direct memory (used: 2147483648, max: 2147483648)

[2020-07-24 17:08] #7577 closed

[2020-07-24 18:37] epsteina16 opened #7657 "AUTO_CONSUME with JSON serialized byte array produces string not byte array"
**Describe the bug**
When subscribing to a topic with AUTO_CONSUME, where the schema is a JSON serialized class that contains a byte array, Pulsar de-serializes the message value into a string instead of a byte array for the byte array field.

**To Reproduce**
Steps to reproduce the behavior:
1. Produce to a topic using the Java client with a JSON serialized Java class that contains a byte array (

[2020-07-24 23:16] vcottagiri opened #7658 "Use jersey bom in root pom"
Use the [jersey-2.31](https://repo1.maven.org/maven2/org/glassfish/jersey/jersey-bom/2.31/jersey-bom-2.31.pom) bom in root pom

[2020-07-25 00:46] devinbost opened #7660 "Unable to correctly pass JSON object as inline message via CLI pulsar-client"
**To Reproduce**
Steps to reproduce the behavior:
1. Produce message via:
`bin/pulsar-client produce persistent://public/default/testInput -m '{ "test1" : "value1", "test2": "value2" }'`
Also try it like this:
`bin/pulsar-client produce persistent://public/default/testInput -m "{ 'test1' : 'value1', 'test2': 'value2' }"`
and like this:
`bin/pulsar-client produce persistent://public/default/testInp

[2020-07-25 00:58] devinbost commented on #7660
With the first attempt, `bin/pulsar-client produce persistent://public/default/testInput -m '{ "test1" : "value1", "test2": "value2" }'`, it only deserializes the first key/value (test1 and value1). The subsequent parameters seem to be ignored.

[2020-07-25 01:00] devinbost commented on #7660
If only one key/value pair is passed, such as` { "test1" : "value1"}`, it will deserialize correctly. However, it fails if additional pairs are passed.

[2020-07-25 01:14] devinbost commented on #7660
It appears to be splitting the string on the comma into multiple messages.

[2020-07-25 13:14] sergescevenels-naspers opened #7663 "doc for deploying python functions with custom dependencies not explained in 2.6.0"
**Describe the bug**
in the latest version of the documentation (2.6.0), in the function deploy section, it is not explained how to deploy python function with specific dependencies, like for example tensorflow, pandas, numpy,etc...

By looking at the module [python_instance_main.py](https://github.com/apache/pulsar/blob/v2.6.0/pulsar-functions/instance/src/main/python/python_instance_main.py), it

[2020-07-25 14:33] #7489 closed

[2020-07-25 14:47] kezhuw commented on #7517
@sijie Sorry for the delay. I am willing to take over this issue. I have add new test case [`testAcquireOwnershipWithZookeeperDisconnectedAfterOwnershipNodeCreated`](https://github.com/kezhuw/pulsar/commit/bbe9bdd2244ca051c6fe4efb90aad66b5d079375#diff-29ccb5c3ba685ffcabe9df5e9fd7e841R193) which also fails due to zookeeper disconnected.

Before formal pull request, I think we should converge on how

[2020-07-25 15:37] merlimat commented on #6298
I'm seeing this rather frequently. @massakam Can you take a look?

[2020-07-26 09:07] roackb2 commented on #5598
I solved my own issue.
Since I'm running in standalone mode, but the `standalone.conf` template lacks of some options. I have to manually add following configurations in the conf file:
[code]
This would make WebSocket successfully establish secure connection with authorization enabled.

[2020-07-27 00:59] Lagranmoon opened #7669 "stats recorder time unit error"
**Describe the bug**
pulsar client use info level log to record throughput and latency in class org.apache.pulsar.client.impl.ProducerStatsRecorderImpl, but the latency was divided by 1000 by mistake，the ds was already in ms, so there is no need to convert time，it will cause a lot of misunderstanding when testing the producer latency.
![image](https://user-images.githubusercontent.com/24788692/884

[2020-07-27 01:17] codelipenghui commented on #7669
Are you interested in fixing it?

[2020-07-27 01:36] sijie commented on #7653
@walterEri It seems that the bookie is using an OLD volume that contains OLD data. You need to format the disk if you re-use an OLD volume for a new bookie.

[2020-07-27 01:39] sijie commented on #7658
@vcottagiri are you working on this?

[2020-07-27 01:41] sijie commented on #7660
@devinbost Are you interested in contributing a feature to produce JSON messages to pulsar-client CLI?

[2020-07-27 02:25] sijie commented on #7517
@kezhuw The second approach looks good to me.

[2020-07-27 03:08] 315157973 commented on #7622
@sijie @codelipenghui Please assign it to me

[2020-07-27 03:49] 315157973 commented on #7626
Please assign it to me

[2020-07-27 04:26] #7543 closed

[2020-07-27 04:46] walterEri commented on #7653
In my scenario i have 3 bookie and each pod attached to separate pv and pvc.
Then i scaled down to 2 pod and deleted pv and pvc for the 3rd pod. so we don't have OLD volume of 3rd pod.

Then again i have scaled up to 3 bookie. so it's creating a new pod (3rd) and attaching new pv and pvc to the 3rd pod. even though i am getting the same error.

[2020-07-27 04:50] sijie commented on #7653
I see. @walterEri when you scale down, you need to use `bin/bookkeeper shell decommissionbookie` command to decommission the removed bookie before scaling up.

[2020-07-27 05:12] walterEri commented on #7653
i tried decommission bookie but it's ran more than one day so i killed the process

[2020-07-27 06:13] pg2404 commented on #7626
@jiazhai - Thanks for the prompt reply. I am looking at http://pulsar.apache.org/api/client/2.2.0/org/apache/pulsar/client/impl/ConsumerBase.html for documentation of the interface you mentioned - but unfortunately I could not find any further information on the usage of the API - for instance how to build the Messages object / if it is similar to java Collection. Can you please point me to any do

[2020-07-27 10:25] giacomo-porro opened #7673 "Consumer error on schema boolean field validation - Python client"
**Describe the bug**
When a consumer tries to consume a message that contains a boolean field with no default value it crashes by saying the following
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Create the producer:

[code]

2. Create the consumer:

[code]

3. Run the consumer then produce the message

**Expected behavior**
Since all the fields are not required by default, I expec

[2020-07-27 11:22] bigbang489 opened #7674 "[Java Client] Schema Registry enhancement for protobuf schema"
We are trying to encode/decode protobuf messages from/to json and we don't have the .class files of protobuf message, there is no way for us to achieve that, because, as my knowledge, we have to have a descriptor file to be able to encode/decode protobuf messages, but the schema registry only store json schema of protobuf message.

**Suggested Solution**
Whenever a producer upload a new schema to

[2020-07-27 12:16] Shenfeng1011 opened #7675 "sql can not query"
1. standalone.conf
[code]

2. bin/pulsar standalone
3. write some data to my-user-json-topic1
4. bin/pulsar sql-worker run
5. bin/pulsar sql
6.  when i execute in presto
[code]
7. ********
bin/pulsar-admin namespaces set-offload-threshold --size 100M public/default
8.bin/pulsar-admin namespaces policies public/default
get policies info
{
 "offload_threshold" : 104857600,
  "schema_auto_update_comp

[2020-07-27 13:09] epsteina16 opened #7676 "Subscribing to individual partition with AUTO_CONSUME schema results in null pointer exception"
**Describe the bug**
When subscribing to a single partition with a Java consumer (i.e. subscribing to topic-partition-1 instead of topic), Pulsar does not get the schema back from the server. If the consumer is configured to use AUTO_CONSUME to create generic records, the client fails with a null pointer exception when trying to parse the first message.

**To Reproduce**
Steps to reproduce the beh

[2020-07-27 16:36] #7612 closed

[2020-07-27 20:22] fusionswap opened #7678 "Unable to use embedded pulsar for unit tests in 2.6.0"
Failed to start PulsarStandalone as embedded pulsar programmatically for unit testing. I was following guidelines based on https://github.com/streamlio/pulsar-embedded-tutorial to start embedded pulsar server.

**To Reproduce**
Steps to reproduce the behavior:
use below code snippet

[code]

**Expected behavior**
   Embedded pulsar should start and we should be able to produce and consumer message

[2020-07-27 22:04] kjaggann opened #7679 "lookup returns a broker that is no longer in the cluster"
**Describe the bug**
We have spinned up new brokers, last week, but there is one topic it is still referring to the old broker which is not in the list.
we get following error

[code]

i-073b64a162d0c2a1dfdadfda.ebiz.abc.com this is an old broker IP which not the part of cluster

we tried to unload the namespace but we got the following error

Reason: java.util.concurrent.CompletionException: org.

[2020-07-27 22:37] merlimat commented on #7679
@kjaggann Can you shared (anonymized) broker logs? If the problem is still happening, can you do a ZK stat on what's the state of that bundle?

eg:

1. Get the bundle id:

[code]

2. The bundle Z-Node path:  `/namespace/$TENANT/$NAMESPACE/$BUNDLE`

3. Use zk shell to get stat: `bin/pulsar zookeeper-shell stat /namespace/$TENANT/$NAMESPACE/$BUNDLE`

[2020-07-28 00:52] kezhuw commented on #7517
@sijie OK. I will open pull request in next few days.

[2020-07-28 01:33] sijie commented on #3554
This is a duplicate of #7642. @hnail is picking up the task.

[2020-07-28 01:34] sijie commented on #3570
Close this issue since there is no activity on this task. Please re-open if the same failure is found.

[2020-07-28 01:34] #3570 closed

[2020-07-28 01:36] sijie commented on #4931
I think this issue can be addressed by batch-index level acknowledgment. @codelipenghui can double-check.

[2020-07-28 01:37] sijie commented on #3548
Close this issue for now. If the same test failed, please reopen a new issue with more details.

[2020-07-28 01:37] #3548 closed

[2020-07-28 01:41] sijie commented on #4928
@kimcs

`ConsumerBuilder.subscriptionInitialPosition` is only applied to the subscription that doesn't exist before. If there is already a subscription created, the consumer will start from where it was left. Hence the existing behavior of `ConsumerBuilder.subscriptionInitialPosition` already meets your requirements. Is that correct?

[2020-07-28 01:42] sijie commented on #4964
@mingfang Have you fixed if a newer version of Pulsar has already fixed your issue?

[2020-07-28 01:44] sijie commented on #4959
Closed the issue since all the http calls have been moved to async. If the issue pops up again, feel free to open a new issue.

[2020-07-28 01:44] #4959 closed

[2020-07-28 01:47] sijie commented on #4942
BookKeeper itself is already a replicated system. It will handle bookie failures and automatically re-replicate data to other available bookies.

Providing a snapshot for the running state of a distributed system is also a very challenging task, as it requires fair amount of work to make both metadata and data consistent when snapshot is happening.

[2020-07-28 01:48] sijie commented on #3541
Close this issue for now. If the test fails again, please re-open a new issue.

[2020-07-28 01:48] #3541 closed

[2020-07-28 01:51] sijie commented on #5017
@KannarFr You can use `httpReverseProxyConfigs`for making pulsar proxy as a reverse proxy. https://github.com/apache/pulsar/blob/master/conf/proxy.conf#L173

[2020-07-28 01:55] sijie commented on #7678
@fusionswap Please use `pulsar-client-original` instead of `pulsar-client`. So you don't introduce those shaded dependencies.

[2020-07-28 01:57] sijie commented on #7676
@epsteina16 what is the version of Pulsar are you using? @codelipenghui recalled that a similar problem was fixed in Pulsar SQL.

[2020-07-28 02:00] sijie commented on #7675
@Shenfeng1011 thank you for reporting this issue! @codelipenghui will take a look at this issue.

[2020-07-28 02:02] sijie commented on #7674
@bigbang489 I think this task is related to #7642. 	@hnail is working on a proposal for improving Protobuf schema. I am linking these two issues together for references.

[2020-07-28 02:04] sijie commented on #2647
Close this issue for now. Feel free to open a new issue if the test fails again.

[2020-07-28 02:04] #2647 closed

[2020-07-28 02:05] sijie commented on #4896
close this issue for now. Please reopen a new issue if the test fails again.

[2020-07-28 02:05] #4896 closed

[2020-07-28 02:05] sijie commented on #1303
close this issue for now. If the test fails again, please reopen the issue again.

[2020-07-28 02:05] #1303 closed

[2020-07-28 02:06] sijie commented on #4947
Close this issue since the original question is answered. If there are more questions, please open a new issue.

[2020-07-28 02:06] #4947 closed

[2020-07-28 02:07] sijie commented on #4977
Closed this issue since the issue is already fixed in #4669

[2020-07-28 02:07] #4977 closed

[2020-07-28 02:10] sijie commented on #5012
Close this issue for now. We can reopen a new one if the test fails again.

[2020-07-28 02:10] #5012 closed

[2020-07-28 02:11] sijie commented on #5003
@StormRyders Any updates?

[2020-07-28 02:13] sijie commented on #3330
@ivankelly is there anything we can do here? Or shall we just close the issue?

[2020-07-28 02:15] sijie commented on #3537
Close this issue for now. Please reopen one if the test still fails.

[2020-07-28 02:15] #3537 closed

[2020-07-28 02:15] sijie commented on #3519
Closed this for now. If the test fails again, please reopen a new one.

[2020-07-28 02:15] #3519 closed

[2020-07-28 03:14] sijie commented on #5685
@candlerb `skip-all` has been removed from recent releases. the documentation has been updated.

[2020-07-28 03:14] #5685 closed

[2020-07-28 03:50] devinbost commented on #7660
@sijie Yes, I can work on this after I complete my current project.

[2020-07-28 05:06] codelipenghui opened #7680 "Pending acks uses lots of heap memory in consumer"
**Describe the bug**
![image](https://user-images.githubusercontent.com/12592133/88621285-a0573200-d0d2-11ea-9e1c-8f51f6581b14.png)

As the image shows, a consumer uses more than 2MB heap memory to maintain the pending acks.
**To Reproduce**
Steps to reproduce the behavior:
This problem can reproduce when doing some performance tests and especially when the batch is disabled.

**Expected behavior*

[2020-07-28 05:57] #7559 closed

[2020-07-28 06:02] #7580 closed

[2020-07-28 06:19] wolfstudy commented on #6869
Move the task to 2.6.2

[2020-07-28 06:20] wolfstudy commented on #7395
Move the task to 2.6.2

[2020-07-28 06:23] wolfstudy commented on #7469
Move the task to 2.6.1, and when #7620 is merged, will close this issue

[2020-07-28 06:25] #7485 closed

[2020-07-28 08:17] #7618 closed

[2020-07-28 08:18] #7469 closed

[2020-07-28 09:56] epsteina16 commented on #7676
2.6.0 for the client, but 2.4.0 for the broker

On Mon, Jul 27, 2020, 9:57 PM Sijie Guo <notifications@github.com> wrote:

[2020-07-28 12:30] fracasula opened #7682 "Stuck consumer: terminate called after throwing an instance of 'std::bad_alloc'"
**Describe the bug**
A consumer gets stuck after seeing an error mostly probably coming from the cgo layer underneath:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Shell into Kubernetes pod and reset the cursor for a given subscription like `bin/pulsar-admin topics reset-cursor persistent://public/default/SpaceEvents -s cloud-notifications-service -t 999w`
2. The consumer is able

[2020-07-28 12:55] codelipenghui commented on #7676
@epsteina16 Ok, thanks. We will take a look soon.

[2020-07-28 13:42] fmiguelez commented on #6709
This is a serious limitation.

If you use short-lived subscriptions clients can create new subscriptions which takes up resources. Those resources that are no longer necessary once the client is gone can only be taken back by an administrator.

We have not many options until NonDurable subscriptions work as expected (e.g. BUG #7619)

[2020-07-28 14:07] #7315 closed

[2020-07-28 14:22] #7565 closed

[2020-07-28 15:12] Lanayx opened #7683 "Batch acknowledge can lead to message being never acknowledged (until consumer restart)"
**Describe the bug**
Issue can happen when acknowledge request fails due to temporary network failure. The root of the issue is that [isDuplicate method depends on lastCumulativeAck field](https://github.com/apache/pulsar/blob/branch-2.6/pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java#L103) which [is updated before the acknowledgment request

[2020-07-28 15:49] #7486 closed

[2020-07-28 15:49] #7460 closed

[2020-07-28 16:38] vcottagiri opened #7684 "Download maven dependencies into pulsar-build image so that CI builds are faster"
**Is your enhancement request related to a problem? Please describe.**
Github CI builds take a of time downloading the maven dependencies every time. Recent CI workflow changes moved to using a builder image for CI. Because of this the github actions/cache step had to be removed.

**Describe the solution you'd like**
If we checkout the master branch and get all the dependencies into the builder do

[2020-07-28 19:06] sijie commented on #6709
@sbourkeostk @fmiguelez

Just to be clear here, the "unsubscribe" operation is supported in Pulsar RESTful admin API. You can call the RESTful API directly or use `pulsar-admin` to unsubscribe a subscription. With that being said, both tools and API are available for you to use.

More specifically, `pulsar-admin` and `pulsar-client` are shipped together as part of the Pulsar binary release. You ca

[2020-07-28 19:14] kjaggann commented on #7679
@merlimat
i dont see any thing in the broker logs as this topic is trying to connect to this broker "i-073b64a162d0c2a1dfdadfda.ebiz.abc.com"  which is not in the list

i checked the zookeeper stats

WatchedEvent state:SyncConnected type:None path:null
cZxid = 0x1234fff70
ctime = Tue Jul 14 12:10:36 EDT 2020
mZxid = 0x1234fff70
mtime = Tue Jul 14 12:10:36 EDT 2020
pZxid = 0x1234fff70
cversion = 0

[2020-07-28 20:44] merlimat commented on #7679
Ok, it seems that the z-node is correctly marked as ephemeral at least.

Could you check the content of that z-node, as in `bin/pulsar zookeeper-shell get /namespace/$TENANT/$NAMESPACE/$BUNDLE`.

And you could search `0x1000070456b3b87` in both brokers and ZK logs. that should be printing when the ZK session was established and if there were reconnections and so on.

[2020-07-28 21:33] sbourkeostk commented on #6709
Hi @sijie
Yeah, it's clear that the pulsar-admin can be used to unsubscribe - that fact was acknowledged in the original post. The issue is on the usability of pulsar-client. This is a nice simple useful tool but the fact that it is not capable of cleaning up after itself is very odd to me.
I think the main use of this tool is for testing producing and consuming to a topic:

1. Produce:
 `pulsar-c

[2020-07-28 21:51] sijie commented on #6709
@sbourkeostk I was under the impression that you are suggesting introducing a "unsubscribe" command in pulsar-client CLI.

In my previous comment, I am fine with adding an option to `pulsar-client consume`. Although I don't suggest adding `--unsubscribe` option, instead we should just add an option to use a non-durable subscription. So the subscription will be automatically deleted after the comma

[2020-07-28 22:02] sbourkeostk commented on #6709
@sijie sounds great - I was not aware of non-durable subscriptions until this discussion today.

[2020-07-28 22:06] xavipen commented on #6924
Thanks for the update

[2020-07-28 23:42] kjaggann commented on #7679
I dint find any thing in the broker logs with the znode the following are the content of the znode when i tried to get

WatchedEvent state:SyncConnected type:None path:null
{"nativeUrl":"pulsar://i-073b64a162d0c2a1dfdadfda.ebiz.abc.com:6650",
"nativeUrlTls":"pulsar+ssl://i-073b64a162d0c2a1dfdadfda.ebiz.abc.com:6651",
"httpUrl":"http://i-073b64a162d0c2a1dfdadfda.ebiz.abc.com:9200",
"httpUrlTls":"ht

[2020-07-29 06:34] #7437 closed

[2020-07-29 07:28] fracasula commented on #7682
Just tried to consume from the same topic with the new Golang library (I noticed that you guys deprecated the cgo one). With the pure Golang one instead of getting stuck with the `bad::alloc` it fails and returns this:

[code]

According to the log coming from your library right before the panic it says that it received a frame that is too big? Any ideas?

[2020-07-29 07:41] fracasula commented on #7682
I realized that 2.6.0 is out, we're running on 2.5.1. We'll upgrade and come back to you, sorry for the inconvenience.

[2020-07-29 09:15] sandrzejczak commented on #7556
Hi,
I would like to prepare a Pull Request for this issue.

[2020-07-29 09:16] sandrzejczak commented on #7545
Hi,
I would like to prepare a pull request for this issue.

[2020-07-29 12:49] sandrzejczak commented on #7545
This issue has been resolved as part of https://github.com/apache/pulsar/pull/7522
The problematic checkState invocation has been removed completely.

[2020-07-29 13:23] codelipenghui commented on #7545
@sandrzejczak thanks for the confirmation. I will close this issue first.

[2020-07-29 13:23] #7545 closed

[2020-07-29 13:58] KannarFr opened #7692 "Redolookup on REST API call"
**Describe the bug**
When calling HTTP PUT on compaction endpoint I'm having:

[code]

Isn't the proxy that has to lookup for next broker by itself?

[2020-07-29 18:38] kjaggann commented on #7679
@merlimat
when i tried to delete the the bundle
./pulsar zookeeper-shell delete /namespace/$Tenant/$Namespace/$bundle
i get
Node does not exist: /namespace/$tenant/$namespace/0x80000000_0xc0000000

even when i tried to do ls /namespace/$Tenant/$Namespace/$bundle
i get node does not exist

not sure only when i do "get  /namespace/$Tenant/$Namespace/$bundle"
i get the information

[2020-07-29 19:22] fusionswap commented on #7678
@sijie with pulsar-client-original it complains about

org.apache.pulsar.client.api.PulsarClientException$BrokerPersistenceException: org.apache.bookkeeper.mledger.ManagedLedgerException: Not enough non-faulty bookies available
at org.apache.pulsar.client.api.PulsarClientException.unwrap(PulsarClientException.java:845)

[2020-07-29 23:05] Joshhw opened #7693 "AuthorizationService' canLookup method forgets authenticationData on canConsumeAsync call."
**Describe the bug**
When pulsar's `AuthorizationService` `canLookUpAsync` is called the method tries to check a clients produce and consume capabilities it forgets to pass along the [authenticationData](https://github.com/apache/pulsar/blob/77dccd2824699c9be96f518a8a1079df51612c8e/pulsar-broker-common/src/main/java/org/apache/pulsar/broker/authorization/AuthorizationService.java#L307). which proc

[2020-07-30 00:38] hosseinSey commented on #5003
I don't know if it is related, but I get the same error:
[code]

[2020-07-30 01:43] sijie commented on #7683
A simple fix will be resetting the consumer state when a consumer reconnects.

Just want to clarify one thing about "effectively once delivery", the effectively-once delivery is achieved by using readers or consumers with external checkpoint or offset management mechanisms. Acknowledgment without transactions doesn't give you "effectively-once" delivery semantic.

[2020-07-30 01:47] sijie commented on #7692
@KannarFr Currently Proxy doesn't retry any requests. It only forwards requests to brokers.

[2020-07-30 02:25] zymap commented on #7372
Hi @ErikJansenIRefact. Yes, you are right.

There are two conditions for controlling the retention of a topic. Only both of them are specified as infinite, the topic will save forever. If there is a configuration that has satisfied with the delete condition, the topic will be deleted.
[code]

[2020-07-30 03:23] #7693 closed

[2020-07-30 03:46] codelipenghui commented on #7626
@pg2404 Could you please take a look matteo's comment https://github.com/apache/pulsar/pull/7688#issuecomment-665843163?

[2020-07-30 07:05] giacomo-porro opened #7695 "Python client does not handle default schema values"
**Describe the bug**
When trying to update a schema on a topic ( having as a compatibility check strategy set to BACKWARD_TRANSITIVE or BACKWARD in my case )
pulsar returns the error "IncompatibleSchema" even if all the guidelines have been followed.

**To Reproduce**
Steps to reproduce the behavior:

1. Create the producer:
[code]

2. Create the consumer:
[code]

3. Run consumer first and then pr

[2020-07-30 07:34] e-marchand-exensa opened #7696 "[Java] [v2.5.2] BatchReceivePolicy not strictly complied by ConsumerBase and MessageImpl"
**Describe the bug**
There are at least two inconsistencies about complying `BatchReceivePolicy`:
  A. `BatchReceivePolicy` should supports `maxNumberOfMessages = 0` and `maxNumBytes = 0` if `timeout` is set but `ConsumerBase`'s constructor issue a warning and reset to default `BatchReceivePolicy` in this case
  B. `MessageImpl.canAdd` does not comply `BatchReceivePolicy`, allowing more than `maxN

[2020-07-30 08:05] xiaomin0322 opened #7697 "bouncy-castle-bc-shaded jar with bcpkix-jdk jar conflict"
**Describe the bug**
A clear and concise description of what the bug is.

bouncy-castle-bc-shaded  jar with  bcpkix-jdk jar conflict

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.
maven

<groupId>org.apache.pulsar</groupId>
 <artifactId>

[2020-07-30 08:28] Lanayx commented on #7683
@sijie while simple fix will fix the issue, from application perspective it will be much better if the acks that were unable to be sent while reconnecting will be sent automatically once connection is re-established.

[2020-07-30 13:59] pg2404 commented on #7626
Thanks @codelipenghui - just did and replied to on that thread.

[2020-07-30 14:55] kjaggann opened #7700 "Node doest not exist in Zookeeper"
**Describe the bug**
A Topic when i tried to get the stat in the zookeeper
./pulsar zookeeper-shell get /namespace/$tenant/$Namespace/$Bundle
i got the info
but when i tried to delete
./pulsar zookeeper-shell rmr /namespace/$tenant/$Namespace/$Bundle
or
./pulsar zookeeper-shell delete /namespace/$tenant/$Namespace/$Bundle
 i get
Node does not exist: /namespace/$tenant/$Namespace/$Bundle

Reference

[2020-07-30 16:58] sijie commented on #7683
@Lanayx understood. The main problem of this is we lack the response of ack command. So it is hard for the client to know whether the ack is sent successfully or not.

[2020-07-30 17:52] Lanayx commented on #7683
@sijie Right, but at the same time if connection failed during the flush - we definitely know that acks were not sent, so AcknowledgmentsGroupingTracker state can be reverted to the initial state [just like connection was missing in the first place](https://github.com/apache/pulsar/blob/branch-2.6/pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.ja

[2020-07-31 02:02] jiazhai commented on #7697
@xiaomin0322 If bc is already included in other module, you could exclude `bouncy-castle-bc-shaded`.

http://pulsar.apache.org/docs/en/security-bouncy-castle/#exclude-bc-non-fips-and-include-bc-fips
https://github.com/apache/pulsar/blob/master/bouncy-castle/bcfips-include-test/pom.xml#L47

[2020-07-31 02:03] codelipenghui commented on #7700
Can you get the znode info after you delete the bundle znode failed? Maybe there are some others already deleted this znode after you got info of the znode.

[2020-07-31 02:13] codelipenghui commented on #7695
@giacomo-porro Looks you have found the root cause, are you interested in push a PR to fix it?

[2020-07-31 06:42] giacomo-porro commented on #7695
@codelipenghui Sure, as soon as I will be back from vacation :)

[2020-07-31 06:47] xuesong172500 opened #7706 "Pulsar Proxy No active broker is available"
**Describe the bug**
I tested pulsar proxy. One proxy found 3 brokers through ZK service. My producer connecte to proxy.

Pulsar v2.5.2

**To Reproduce**
Steps to reproduce the behavior:
1. Stop 1 broker service, and the client can still produce normally

2. Stop 2 broker services, and the client can still produce normally

3. When 3 broker services are stopped, the client prompts that No active b

[2020-07-31 07:28] Liuzilin-JS opened #7707 "I am testing the pulsar function when Processing guarantees is set to EFFECTIVELY_ONCE and found that the function will not automatically terminate"
**Describe the bug**
The Processing guarantees of the function are set to EFFECTIVELY_ONCE. RuntimeException is caught. The process will not be terminated and will receive new messages.

**To Reproduce**
1. Function is set to Processing guarantees = EFFECTIVELY_ONCE
2. A message in the function returns a fail response
3. Throw RunTimeException
4. The process is still running and can still receive

[2020-07-31 09:04] woop commented on #6231
@devinbost Are you still getting this problem? We seem to be running into it over at [Feast](https://github.com/feast-dev/feast/runs/931249427?check_suite_focus=true). Using self-hosted runners with GitHub Actions.

[2020-07-31 09:40] bin-albin opened #7709 "support namespace level fuzzy matching"
We are using Pulsar as a logging service queue to address multiple product and business log output and consumption/alarm issues. We are now using the non-Partiton way to create multiple topics. We now the problem is to maintain a lot of the namespace (different business use different namespace to isolate) so if you create namespace is very much, we need a lot of backend flink pulsar topic data str

[2020-07-31 11:55] hozumi commented on #7500
https://youtu.be/PIX570nyq_c?t=738
Thank you for describing backlog and retention clearly.

I think that it is very helpful if the above explanation is included in document.

Adding a note for my previous understanding.

For later created subscription to consume all retained messages, the backlog quota should be set to more than current retained size.

On maximum storage size estimation:

This is

[2020-07-31 11:55] #7500 closed

[2020-07-31 13:02] Lanayx commented on #3121
I got this issue with fresh helm installation, the failing bookie didn't return back until I run _bookkeeper shell metaformat_. @sijie are you aware of any other less disruptive fixes for this issue?

[2020-07-31 15:26] sijie commented on #3121
@Lanayx what was the issue you encountered? Missing cookie? If it is a single bookie problem, you don't need to run "shell metaformat". We need to know what is the issue that you encountered and deal with that bookie.

[2020-07-31 15:31] Lanayx commented on #3121
@sijie The one from the header
`There are directories without a cookie, and this is neither a new environment, nor is storage expansion enabled. Empty directories are [data/bookkeeper/journal/current, data/bookkeeper/ledgers/current]`
Yes, it was a single bookie problem

[2020-07-31 15:32] vzhikserg opened #7711 "Broker doesn't use the original role to check if a client is allowed to consume or produce"
**Describe the bug**

In the case when the [proxy roles](https://pulsar.apache.org/docs/en/security-authorization/#proxy-roles) are used to enable authentication between proxy and broker components, the **broker uses the proxy role instead of the original role** to check if it is allowed to consume or produce data from a topic. If the proxy role has more rights (consume and produce), then a client

[2020-07-31 15:35] sijie commented on #3121
Okay. What storage provisioner are you using?  The error basically says a bookie attempts to start with empty directories. It means your disks are reformatted. Bookie prevents startup with this corrupted state. So it would be good to understand why the disks are reformatted.

To repair it, you can run `decommissionbookie` to decommission the bookie first. The decommission command will re-replicate

[2020-07-31 15:42] Lanayx commented on #3121
Thank you for the explanation! This is a test cluster so we are using host directory and that was a storage failure test, so some error was expected. What was unexpected is that we had no idea how to "clean up" the bookie to return it back into cluster. Looks like `decommissionbookie ` command fits this case well.

[2020-07-31 15:59] sijie commented on #7500
@hozumi Yes. we are going to convert the video into blog posts and eventually update to the doc.

[2020-07-31 17:08] hozumi commented on #7500
@sijie That is nice! I appreciate your help.
One thing I noticed is that you described topic backlog as the backlog of the slowest subscription.
I think this might be still inaccurate because cursor == offset + individual deletes.
To know all unacknowledged messages, in addition to the offset of the slowest subscription, we need to merge individual deletes of all subscription.

[2020-07-31 18:44] walterEri commented on #7653
@sijie still my decommission the bookie is not fixed. it's taking very long time to execute. is any other way to decommission the bookie

[2020-07-31 18:47] sijie commented on #7653
You need to scale up the auto-recovery job. Because decommission a bookie requires re-replicating the entries that are originally stored in that bookie.

[2020-07-31 18:49] sijie commented on #7500
@hozumi you are correct in theory. However, currently the implementation is done by treating the largest backlog as the topic backlog.

[2020-07-31 19:57] hozumi commented on #7500
I see.
I'm also interested in how retention policy and backlog quotas affect compactioned topic. I think there is not much information on this.

[2020-07-31 20:16] Bklyn opened #7714 "C++ Client: pulsar.apache.org/api/cpp docs out of date"
**Is your feature request related to a problem? Please describe.**
The docs at http://pulsar.apache.org/api/cpp/index.html seem to be for an older version of code (i.e. not 2.6.0).  For example, they don't include any mention of  methods on the Message class, like setOrderingKey or getRedeliveryCount.

**Describe the solution you'd like**
I would like to see updated docs

**Describe alternatives y

[2020-08-01 02:36] become-nice opened #7717 "How can I reuse consumer?"
If I want to re-subscription some topics for an exist consumer, how can I do it ? I have read the interface of python and C++ client code, but I can't find any interface to do this function. If I use unsubscription interface, it's like that I can't use this consumer anymore. So why not  just close it? Maybe it is my fault, because I don't konw how to use! So can you provide me with some ways or so

[2020-08-01 04:07] xiaomin0322 opened #7718 "set-publish-rate set-dispatch-rate bug"
**Describe the bug**
A clear and concise description of what the bug is.

set-publish-rate  set-dispatch-rate  No effect

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

set-publish-rate  set-dispatch-rate  No effect

**Screenshots**
If a

[2020-08-02 12:35] codelipenghui opened #7719 "ConcurrentModificationException occurs when the load balancer write load report to zookeeper"
**Describe the bug**
[code]

**To Reproduce**
It's hard to reproduce.

**Expected behavior**
Don't throw `ConcurrentModificationException` when update load report

**Additional context**
master branch

[2020-08-02 12:49] codelipenghui opened #7720 "Broker level dispatch rate limiter"
**Is your feature request related to a problem? Please describe.**
Currently, the Pulsar support topic level and subscription level dispatch rate limiter. When we have more topics and consumers(with high receive queue size) attach many topics, this will lead to a sudden increase in entry read traffic.
It may bring unstable factors to the cluster(may cause broker outgoing network bandwidth with the

[2020-08-02 15:11] rudy2steiner commented on #7604
Do you meet the same exception:
[code]
on both getLastMessageId and getMessageById command? @Mefl

As I know, getLastMessageId command on v2 has checked topic namespace ownership and redirect to the right broker. but getMessageById missing the check logic may cause the exception.
@jiazhai I'm new to pulsar, it's ok to guide me if i have misunderstood on the issue.

[2020-08-02 15:57] rudy2steiner commented on #7692
Similar issue #7604

[2020-08-02 16:04] rudy2steiner commented on #7604
we should call  PersistentTopicsBase#validateReadOperationOnTopic method instead of verifyReadOperation(authoritative), is right ? @jiazhai

[2020-08-02 22:54] axel-sirota opened #7722 "Sql Worker dies with misformatted query"
**Describe the bug**
When using Pulsar SQL and running the query:
[code]
Which is a misformatted query, the SQL server dies.

**To Reproduce**
Steps to reproduce the behavior:
1. Start SQL server: bin/pulsar sql-worker run
2. Create a topic with hyphens: `./bin/pulsar-admin sources create --name generator --destinationTopicName logging-function-logs --source-type data-generator`
3. Inside the Pres

[2020-08-03 01:36] sijie commented on #7709
@bin-albin Is your requirement to support namespace matching in regex subscription?

[2020-08-03 01:45] sijie commented on #7717
@become-nice Currently the Multi-Topic consumer is able to support adding and removing topics. But the functionality is not exposed to the API.

If you are interested in contributing to this feature, feel free to take the issue and make a pull request.

[2020-08-03 01:45] bin-albin commented on #7709
Yes, it does

[2020-08-03 01:46] sijie commented on #7718
@xiaomin0322 Can you provide more context about the issue your found?

[2020-08-03 01:53] sijie commented on #7722
@axel-sirota Did the SQL worker crash? Or the SQL CLI crash?

The query should be `select * from pulsar."public/default"."logging-function-logs"`

[2020-08-03 02:43] codelipenghui opened #7723 "Throttle the ledger rollover"
**Is your feature request related to a problem? Please describe.**
High ledger rollover frequency may lead to zookeeper in heavy workload. In order to make zookeeper run more stable, we should limit the ledger rollover frequency.

**Describe the solution you'd like**
Add a rate limiter for the ledger rollover.

[2020-08-03 05:30] wolfstudy commented on #7464
ping @xuehuanran Is this issue solved currently?

[2020-08-03 08:04] become-nice opened #7726 "Consumer can't receive message from topic"
**Describe the bug**
I create a topic with 4 partitions.When I use key shared mode to consumer message,sometimes, I can't receive any message from a specify partition.In this scenes，I create two consumers, one of it subscribe the topic(C1), one of it subscribe two partitions of the same topic(C2). I start C1 first, then C2. At first, C1 can receive all message,C2 can't receive any message.When I c

[2020-08-03 10:21] BewareMyPower opened #7728 "Automatically created topics have no valid schema info"
I have encountered schema problems recently. eg, creating a consumer with `Schema.STRING`:

[code]

The log is:

Finally I found some topics may not have associated schema, see `SchemaRegistryServiceImpl` in `broker.service.schema` package:

[code]

 I thought it's because those topics have been produced by C++ client without schema. But it seems that I'm wrong. I created a new topic and used C++

[2020-08-03 12:41] 315157973 opened #7730 "Support topic level Policies"
**Is your feature request related to a problem? Please describe.**
The existing settings is not fine-grained enough, and many settings can only be set at the namespace level.
The following settings are hoped to support Topic level：

 - [ ]  topicDispatchRate
 - [ ]  subscriptionDispatchRate
 - [ ]  message_ttl_in_seconds(WIP)
 - [ ]  subscription_expiration_time_minutes
 - [x]  backlog quota(Done)

[2020-08-03 13:37] codelipenghui commented on #2689
close via #7646

[2020-08-03 13:37] #2689 closed

[2020-08-03 13:46] codelipenghui commented on #7730
Sorry @315157973, I forgot I have added an issue #2688 for tracking topic level policies. Since there is more context in the old issue, I would like to close this issue first, and if you want to update the old issue, you can add a comment. Thanks.

[2020-08-03 13:46] #7730 closed

[2020-08-03 14:08] codelipenghui commented on #7728
@BewareMyPower Which version of the broker are you using?

[2020-08-03 14:10] #7619 closed

[2020-08-03 14:19] BewareMyPower commented on #7728
@codelipenghui It's currently 2.6.0, but there's an update from 2.5.1 to 2.6.0 a few days ago.

[2020-08-03 20:35] kjaggann commented on #7700
Hi,
We have investigated the issue,
when we tried to get the info on zookeeper leader we are getting the error
 "Node does not exist: /namespace/$tenant/$Namespace/$Bundle"

./pulsar zookeeper-shell get /namespace/$tenant/$Namespace/$Bundle
but for the followers we are able to see that the topic is owned by the Broker IP, which is not in the cluster any more

**Investigated weather all the zookeep

[2020-08-03 21:53] hansenc opened #7732 "Function created but not called"
**Describe the bug**
When I create a function (standalone, Java runtime) and start producing to the function's input topic, I can see that an instance of the function is created in the logs, but the function seems to never be called. Weirdly, if I trigger the function before producing to the input topic, the function is called as expected. I've created a (somewhat) minimal [test project](https://g

[2020-08-04 01:48] sijie commented on #7728
Can you run `pulsar-admin schemas get` to get schemas of these 2 topics? If these 2 topics don't have any schemas, it is expected to fail with Incompatible schema if you try to subscribe to them using Schema.STRING.

[2020-08-04 01:56] wangjialing218 opened #7736 "Broker did not return correct url when client specify advertisedListenerName"
**Describe the bug**
When client lookup the broker url for a new created topics (no one owns the bundle of the topic) with advertisedListenerName, the searchForCandidateBroker() function return the default advertiesed url instead of the url specified by advertisedListenerName if the candidateBroker is not self.

**To Reproduce**
1. Start broker with advertisedListeners setting, make sure the clien

[2020-08-04 02:40] BewareMyPower commented on #7728
@sijie The results are both `HTTP 404 Not Found`. The broker's log is also 404

[code]

[2020-08-04 05:00] BewareMyPower commented on #7726
I wrote a simple C++ consumer but could not reproduce the problem:

[code]

First run a producer, and a consumer subscribing the partitioned topic (C1):

[code]

Then run a consumer subscribing two partitions (C2), eg, 0 and 2:

[code]

The log:

#### partition 0 and 1

C1:

[code]

C2:

[code]

#### partition 2 and 3

C1:

[code]

C2:

[code]

[2020-08-04 05:17] feeblefakie commented on #7455
@codelipenghui @sijie #7553 seems not the fix for this issue.
Could you take another look ?

[2020-08-04 07:07] #7697 closed

[2020-08-04 07:46] wolfstudy commented on #7464
@xuehuanran will close this issue, If there are any other questions, please reopen it or let me know, thanks feedback.

[2020-08-04 09:22] zhijianfree opened #7740 "How can i mock broker ?"
in my project system, pulsar is core part. so we need test unit to promise code is correct. but i don't know how to mock pulsar. can offer shou some example about it. we need mock pulsar broker .

[2020-08-04 09:30] sijie opened #7742 "Allow function instance configuring a different instance classpath"
*Motivation*

Currently, the function worker is using the function worker's classpath to configure the function instance (runner)'s classpath. So when the broker (function worker) is using an image that is different from the function instance (runner), the classpath will be wrong and the function instance is not able to load the instance classes.

Example error messages:

[code]

[2020-08-04 09:40] sijie opened #7743 "[functions][k8s] Store jobNamespace as part of function metadata"
*Motivation*

Currently, we don't store jobNamespace as part of function metadata. If the broker restarts with a different job namespace, it will cause the function statefulset not deleted in the original job namespace and a new statefulset is created in the new job namespace.

In order to address the issue, we should consider adding the job namespace as part of function metadata when the function

[2020-08-04 11:54] Lanayx commented on #5959
Time to update to 2.6.0

[2020-08-04 20:02] devinbost opened #7749 "Pulsar doesn't build on Windows 10 or on Mac with Maven 3.6.3"
**Describe the bug**
Maven is reporting a successful build without actually building anything.

**To Reproduce**
1. Clone Pulsar master
2. Run `mvn clean install` at project root
3. Maven downloads dependencies but does not produce build output
4. Again, run `mvn clean install`
5. The result is this:

Hence, the build succeeds but gives no output and doesn't run tests.

[2020-08-04 20:10] aahmed-se commented on #7749
We don't work with maven 3.6.3 ,  try 3.6.1

[2020-08-05 02:09] murong00 commented on #7749
As the modules moved to profiles, you should tick "main" or "core-modules" checkbox in Maven panel.

[2020-08-05 02:13] become-nice commented on #7726
You should just close the main process and don't close you client by code,just close the process.

[2020-08-05 02:15] aloyszhang commented on #7476
Since not found the exactlly reason cause this issue. We bring a compromise solution， try get active brokers from zk one more time  if `availableBrokers` in `localZkCache` is empty.

[2020-08-05 02:18] sijie commented on #7740
@codelipenghui @jiazhai Can you provide some guidance on mocking Pulsar broker?

[2020-08-05 02:19] jiazhai commented on #7740
https://github.com/streamnative/aop/blob/master/tests/src/test/java/io/streamnative/pulsar/handlers/amqp/AmqpProtocolHandlerTestBase.java

[2020-08-05 02:20] BewareMyPower commented on #7749
Because the modules have been moved to profile section after #7566 , see the `pom.xml` in the project directory:

[code]

So you need run `mvn install -Pcore-modules` if you only want to install the modules of `core-modules` profile. For indices generation of Intellj Idea, you should click the associated checkbox in profile to choose the modules:

![](https://ftp.bmp.ovh/imgs/2020/08/64da8a1d29239

[2020-08-05 02:38] BewareMyPower commented on #7726
The point is, at the first step:

C2 could consume messages as the log says. Also I use Ctrl+C to kill the process, Even without it, the `client.close()` could never been reached because there's no way to break my loop.

The full log of C2 (while C1 has started before) is:

[code]

[2020-08-05 03:12] #5520 closed

[2020-08-05 03:21] #7719 closed

[2020-08-05 03:21] gaoran10 opened #7750 "[Flaky Test] Pulsar SQL integration test"
**Describe the bug**
Currently, the Pulsar SQL integration test couldn't work well in ci-action, but it could work well in a local evn, so I add this issue to track this problem.

1. We should update the `ci-integration-sql.yaml`,  we need to add step `build pulsar image` and `build pulsar-all image` to make sure the integration test uses the latest code.

2. We should reopen the test `TestPrestoQ

[2020-08-05 03:41] aloyszhang opened #7751 "Pulsar-Admin timeout all the time"
**Describe the bug**
Pulsar-Admin operations like `topics get-partitioned-topic-metadata` or  `topics list` does not  work, all returns timeout.

**To Reproduce**
hard to reproduce

**Additional context**
For trouble shooting, found that most of the pulsar-web thread (44/48) are blocked, all blocked thread information are the same as follow:
[code]
As we can see, thread bloked on
[code]
At first,

[2020-08-05 04:01] #7676 closed

[2020-08-05 05:12] bigbang489 opened #7752 "[Pulsar Client] Is there a way to specify a schema version instead of uploading SchemaInfo to broker?"
**Is your enhancement request related to a problem? Please describe.**
When conumser/producer connect to broker, it has to upload the schema info (include JSON Schema) to broker for checking schema compatibility, in case the JSON Schema is large, it will become inefficient. I know it is only uploaded when consumer/producer connect to broker, but in my scenario, the client needs to connect and clos

[2020-08-05 06:14] aahmed-se opened #7754 "Remove redundant ci job"
As part of ci fixes I removed all tasks in ci-unit-flaky.yaml , a dummy template still exists because it was are required job in github.
That needs to changed so the workflow can be deleted.

".github/workflows/ci-unit-flaky.yaml"

[2020-08-05 07:04] Shenfeng1011 opened #7755 "offload data query error"
version pulsar:2.5.2 hadoop:3.3.0
### 1. ./bin/pulsar-admin topics stats-internal nissan/original/gb32960
"ledgers" : [ {
    "ledgerId" : 28,
    "entries" : 8,
    "size" : 3048,
    "offloaded" : false
  }, {
    "ledgerId" : 295,
    "entries" : 14,
    "size" : 5348,
    "offloaded" : false
  }, {
    "ledgerId" : 800,
    "entries" : 0,
    "size" : 0,
    "offloaded" : false
  } ]

### 2. .

[2020-08-05 07:23] zymap commented on #7372
If this makes sense to you I will close this issue and feel free to reopen it if you have any questions.

[2020-08-05 08:50] #7711 closed

[2020-08-05 09:07] zhanghaou opened #7757 "Support Persistence Policy on topic level."
**Is your feature request related to a problem? Please describe.**
This is the sub feature of [https://github.com/apache/pulsar/issues/2688](https://github.com/apache/pulsar/issues/2688)

**Describe the solution you'd like**
Support get/set/remove persistence policy on topic level.

**Describe alternatives you've considered**

**Additional context**

[2020-08-05 09:07] #6837 closed

[2020-08-05 09:09] zhanghaou opened #7758 "Support set Max Producer on topic level."
**Is your feature request related to a problem? Please describe.**
This is the sub feature of [https://github.com/apache/pulsar/issues/2688](https://github.com/apache/pulsar/issues/2688)

**Describe the solution you'd like**
Support get/set/remove Max Producer on topic level.

**Describe alternatives you've considered**

**Additional context**

[2020-08-05 09:10] zhanghaou opened #7759 "Support set Max Consumer on topic level."
**Is your feature request related to a problem? Please describe.**
This is the sub feature of [https://github.com/apache/pulsar/issues/2688](https://github.com/apache/pulsar/issues/2688)

**Describe the solution you'd like**
Support get/set/remove Max Consumer on topic level.

**Describe alternatives you've considered**

**Additional context**

[2020-08-05 09:24] become-nice commented on #7726
Could you attempt it in python client?

[2020-08-05 10:29] #7736 closed

[2020-08-05 12:22] BewareMyPower opened #7760 "[pulsar-io] Change HDFS sink's separator type from char to String"
**Is your enhancement request related to a problem? Please describe.**
The default separator of HDFS sink is '\0', which means there's no separator between messages written to HDFS.

I just want to configure `separator` to a newline, which is convenient for text analysis. However, it's difficult to configure it with JSON or YAML. I tried with:

[code]

and

[code]

They both didn't work.

From the

[2020-08-05 17:15] BewareMyPower commented on #7726
Here're the outputs of Python client 2.6.0 with broker 2.6.0, using the same code as provided. First start `Producer.py` and `C1.py`, then start `C2.py`.

C1:

[code]

C2:

[code]

Besides, I noticed your log has `AckGroupingTrackerEnabled`, this feature was improved from #6534 but the log level was reduced to debug from #7373 , could you try with latest client or just rollback to 2.6.0?

[2020-08-05 20:24] Saswatibhoi opened #7763 "Producers are Failing to Create when Connecting to a "Non-Persistent Partitioned Replicated" Topic"
We have found a bug, where the producers are failing to create when connecting to a "non-persistent partitioned replicated" topic. Looks like the replicator fails to start based on the logs we see on the broker. The producer connects fine when it is a "non-persistent partitioned" topic but not replicated. The producer also connects fine when it is a "persistent partitioned replicated" topics. The

[2020-08-05 21:35] devinbost commented on #7749
Thanks for the help on this.
I rolled back to Maven 3.6.0, and I was able to build Pulsar successfully.
However, I'm having a new problem now which is that I'm having trouble debugging the function for my PR here: https://github.com/apache/pulsar/pull/7704

When I set a breakpoint in IntelliJ and run the tests from the Maven runner, it runs the tests, but my breakpoint is never hit, even if I run

[2020-08-06 01:39] sijie commented on #7751
@aloyszhang It looks the zookeeper response never came back which results in the thread is blocked in `join()`.

[2020-08-06 01:44] sijie commented on #7752
We send the schema definition when a client connect to a broker, so the broker can verify the compatibility of a schema. If we only send the schema version, there is no way for us to verify if the client is using the right schema. Because a client can just provide a random schema number and produce the data with a different schema.

Can you explain a bit more about your use case? I would like to u

[2020-08-06 03:45] zymap commented on #7496
Already done by PR http://ggithub.com/apache/pulsar/pull/7648. This issue can close.

[2020-08-06 03:45] #7496 closed

[2020-08-06 07:48] wolfstudy commented on #7675
Fixed the issue in #7701, will close it

[2020-08-06 07:48] #7675 closed

[2020-08-06 07:51] wolfstudy commented on #7308
Move the issue to 2.6.2

[2020-08-06 07:55] aloyszhang commented on #7751
@sijie Thanks for your reply.
We also suspect that was caused by zookeeper server new response, but we did't found any warn or error information from zookeeper server side.
Additionally, we have 3 brokers, only one have this problem  while the other two brokers runs well.
So for now ,we can't say it was a zookeeper problem .

[2020-08-06 09:02] sijie commented on #7751
@aloyszhang I don't think it is a problem at the zookeeper server side. It might be a problem between zk client and server. It is hard to tell. But one thing we have observed that zookeeper clients sometimes don't respond which can result in the completable future hangs.

[2020-08-06 09:59] #6109 closed

[2020-08-06 11:39] opera33 opened #7770 "Duplicate Pulsar Functions instance (Pulsar 2.5.2)"
Recently observe a weird behavior where Pulsar Function will open up multiple instance of its own, we have seen 2 instances, and 3 instances of the same function but we only have the parallelism set at 1.

Deleting the function will only result in stopping one of the instance. and the other one will be running, which on the admin api, it reported the function is stopped.

Anyone seen this or can h

[2020-08-06 16:40] daddykotex opened #7775 "seeking on a timestamp, blocks the reader"
Hi, thanks for the amazing project.

I have an issue with my setup and I can't figure out what is wrong.

TLDR: I have a topic, with messages in it, something like 30 messages. The messages were published between `2020-07-31T21:28:56.739Z` and `2020-08-01T11:03:04.323Z`. When I try to read the messages after calling `Reader#seek` on a timestamp after the last message publish time, the reader hangs

[2020-08-06 17:50] daddykotex commented on #7775
As I've said, I'm unable to reproduce in a test.

Are there some information about the topic/cluster/partitions I could share that could help anyone reproduce the cluster and the problem?

As far as I know, this topic:

- as no active publishers
- as 1 other consumer

[2020-08-06 21:17] #7556 closed

[2020-08-06 23:53] jerrypeng commented on #6932
I just used localrun to execute a source and function that uses state.  I ran against a standalone cluster running directly on my MAC.  Everything is working.  The function and source was able to access state.

[2020-08-07 00:37] aloyszhang commented on #7751
@sijie
As we have already know this problem happended somtimes.
Is it better to add a timeout for  zookeeper operations?
With timeout ,we can release the thread for other request and response with an explicit error(or exception).

[2020-08-07 01:40] sijie commented on #7770
@opera33 Can you provide more context about your setup?

- What runtime are you using (thread vs process)?
- Is it a cluster or standalone?
- Any other information can provide us the context for debugging?

[2020-08-07 02:24] sijie commented on #7332
This is related to #4816

[2020-08-07 06:51] Jennifer88huang commented on #5157
@stupidusername thanks for raising the issue. Could you please check the update in https://github.com/apache/pulsar/pull/7767. Any issue, feel free to contact me. Thank you.

[2020-08-07 07:53] stupidusername commented on #5157
@Jennifer88huang thanks for submitting the PR. The CLI documentation looks better with those changes IMO.

It's still difficult for me to understand how is the `EFFECTIVELY_ONCE` guarantee achieved. I ran some tests and also read the source code. My conclusion was that the `partitionId` and the `recordSequence` are used to determine the uniqueness of a message.

I wouldn't mind adding this informa

[2020-08-07 07:53] enriched commented on #7390
This is because the presto version got moved forward to `io.prestosql:332`. I think that adding `-Dpresto-temporarily-allow-java8=true` to the end of https://github.com/apache/pulsar/blob/master/conf/presto/jvm.config would do the trick.

[2020-08-07 07:57] Jennifer88huang commented on #7625
@jiazhai got it.

[2020-08-07 08:08] stupidusername commented on #5157
The doubt I mentioned in my last comment was clarified on #5181. Thanks to all the people involved in making the documentation better!

[2020-08-07 08:08] #5157 closed

[2020-08-07 10:02] Jennifer88huang commented on #6882
@Huanli-Meng double confirmed with @sijie that this issue is fixed, so I close it.

[2020-08-07 10:02] #6882 closed

[2020-08-07 10:16] Jennifer88huang commented on #5157
@stupidusername thanks for your contributions. And looking forward to your update later.

[2020-08-07 10:53] bigbang489 commented on #7752
We are building an adapter to integrate Pulsar to SAP Integraion system. Sender adapter will consume message from a topic, Receiver adapter will produce message to a topic. For Receiver adapter, there is no certain time when it is called, if it's called once a month and keeping connection open for a long time to just send a message a month is not a good idea. That is why we decided to close and re

[2020-08-07 12:12] aloyszhang commented on #7775
@daddykotex
If seekTime is after the last message has been published, then `Reader#readNext` will be blocked since there is no more message.  For non-blocking, you can use `readNext(int timeout, TimeUnit unit)` instread.
Why `Reader#hasMessageAvailable` return true even the seekTime is after the publishTime, I think it's a bug.
The reason is that `Reader#hasMessageAvailable`  calls `ConsumerImpl#g

[2020-08-07 12:27] daddykotex commented on #7775
Thanks @aloyszhang

As you can see in the example above, I use `readNext(int timeout, TimeUnit unit)` and it times out. So it works as expected if I understand what you're saying. But there is still an issue since, as you said, there are no more messages yet `hasMessageAvailable` still gives `true`.

So the following example, in pseudo-code, :
[code]

Thanks for the information, it confirms what m

[2020-08-07 15:09] aloyszhang commented on #7775
@daddykotex
  I also think `hasMessageAvailable ` is an issue.
 It should give `false` if there are no more (new) messages.
And I am trying to figure out how to fix it.

[2020-08-07 16:05] harleyalbert commented on #6096
hello @Gray-Fullbuster I have the same problem,  I see you close this problem please share. i'm stuck this issue thanks

[2020-08-08 09:32] opera33 commented on #7650
In pulsar-nar/*.jar-unpacked/ directory, the files in it doesn't seem to be complete, i think prompted the error, do you have a quick fix for this? Tried restarting broker, but not helpful.

[2020-08-08 09:33] opera33 commented on #7770
1.Process
2. 3 Nodes cluster with only 2 function workers
3. Not sure if I can reproduce this, or which log file will give some meaningful information?

Restarted the brokers, and it seem the issue go away.

[2020-08-09 09:14] congbobo184 commented on #7755
can you look up drwxr-xr-x - shenfeng supergroup 0 2020-08-05 14:54 /pulsar2/nissan/original/persistent/gb32960/295-1690feab-beb1-4df4-be57-f5b8d8960914/data is exist？

[2020-08-09 14:23] gotopanic opened #7785 "Failure of the Avro Serialization for Complex Types in the Python Client"
**Describe the bug**
The [doc example](http://pulsar.apache.org/docs/en/2.6.0/client-libraries-python/#complex-types) fails with the following error:

**To Reproduce**
Run the attached test

**Expected behavior**
The complex object should be serialized and deserialized to an equivalent object.

**Additional context**
The offending code is in the `AvroSchema` class in pulsar/pulsar-client-cpp/pytho

[2020-08-09 18:49] Bklyn opened #7787 "[pulsar-client-cpp] Should throw std::exception (or a subtype), not const char*"
**Is your enhancement request related to a problem? Please describe.**
The Pulsar C++ client library throws `const char*` in several locations instead of `std::exception` or a derived type.

**Describe the solution you'd like**
Throw `std::exception` or some derived type instead.

**Describe alternatives you've considered**
If you're going to throw something, `std::exception` is the expected type

[2020-08-10 09:17] avimas opened #7792 "Every few days consumers stop receiving messages from some of the partitions when using key_shared"
We have a very strange issue with partitioned topics and shared_key subscriptions, every few days no messages are being consumed from some of the partitions and the backlog keeps growing, the issue persists until we resubscribe or unloading the topic.
pulsar version is 2.6.0
you can see the issue in this screenshot partition 0 and 2 (most left and most right) are stuck, while partition 1 is consum

[2020-08-10 11:18] codelipenghui commented on #7792
Thanks @avimas , Looks the problem is related to #7483 and it will release at 2.6.1 this week

[2020-08-10 11:20] #5401 closed

[2020-08-10 13:53] avimas commented on #7792
Thanks a lot!!

[2020-08-10 15:37] Mefl commented on #7604
sorry for being late to answer ...

yes, I reproduce the same error on both getLastMessageId and getMessageById command

[2020-08-11 02:48] rudy2steiner commented on #7604
which version you are using? base on the master currently,  getLastMessageId can't happen the exception you metioned

[2020-08-11 03:12] feeblefakie commented on #7455
@codelipenghui @sijie Do you have any updates on this?
#7553 is not merged and doesn't seem to be even reviewed either.
How much priority do you assign these kinds of critical ordering issues in Key_Shared?
(I just don't think it is right to keep lying about the ordering guarantee property even there are easily reproducible bugs.)
It would be great if you can give me your honest opinions and the r

[2020-08-11 03:37] codelipenghui commented on #7345
close via #7656

[2020-08-11 03:37] #7345 closed

[2020-08-11 04:39] BewareMyPower commented on #7787
I agree with you. Throwing a `std::invalid_argument` is a better choice. The pulsar C++ client doesn't use exceptions except for fail-fast, but throwing a `const char*` won't print any message, while throwing an exception would print the message of `what()` method.

Would you like to submit a PR?

[2020-08-11 07:42] Mefl commented on #7604
@KannarFr  can you answer on the precise version of the cluster, thk

[2020-08-11 07:53] Mefl commented on #7604
The exception I received with lastMessageId :
the url : `https://c1-pulsar:2000/admin/v2/persistent/orga_/pulsar_/action-b2a/lastMessageId`
the result :
`
 --- An unexpected error occurred in the server ---

Message: org.apache.pulsar.broker.service.BrokerServiceException$ServiceUnitNotReadyException: Namespace bundle for topic (persistent://orga_/pulsar_/action-b2a) not served by this instance. P

[2020-08-11 11:49] fracasula commented on #7682
We upgraded this morning to 2.6.0 in production with the latest Pulsar Golang client library (i.e. no cgo). Of course we tested our application on both `testing` and `staging` before going live and we didn't find any compatibility issues. Unfortunately as we deployed the new version the scenario described [above](https://github.com/apache/pulsar/issues/7682#issue-667034747) happened in a much larg

[2020-08-11 11:53] pg2404 commented on #7626
Hi @315157973 @codelipenghui -are the changes available in 2.6.0 ?

[2020-08-11 13:02] Bklyn commented on #7787
@BewareMyPower I will

[2020-08-11 13:37] codelipenghui commented on #7626
@pg2404 2.6.0 has released before creating this issue, so we can't onboard it in 2.6.0.

[2020-08-11 13:42] vcottagiri commented on #7658
@sijie - yes, i have the changes ready but was waiting for #7665 and #7635 to get merged in first

[2020-08-11 13:44] codelipenghui commented on #7682
/cc @gaoran10 looks the problem the same as you have met. Could you please also help take a look?

[2020-08-11 14:19] gaoran10 commented on #7682
@fracasula The jclouds NPE problem is similar to the issue #7402. Currently, the Pulsar 2.6.0 couldn't read offloaded data from GCS or offload data to GCS well. Maybe you offload data by Pulsar 2.5.0 successfully and failed to read the offloaded data by Pulsar 2.6.0. This issue is already fixed by PR #7435.

[2020-08-11 15:55] aloyszhang opened #7796 "`Reader#hasMessageAvailable` give wrong value after `Reader#seek`"
**Describe the bug**
`Reader#hasMessageAvailable` is used for  checking  if there is any message available to read from the current position.
But in this case:
1. `Reader#seek`  a time after the publish time of the last message
2. `Reader#hasMessageAvailable` still return true and  `Reader#readNext` will be blocked
It  looks unseemly, `Reader#hasMessageAvailable` shoule gives false since there no

[2020-08-11 16:09] manjupriya-ar opened #7797 "Memory Leak in C++Pulsar Reader Interface"
**Describe the bug**

There is memory leak in CreateReader in C++ client

**To Reproduce**
Steps to reproduce the behavior:
1. Create a simple reader connection in C++
2. compile the code and execute valgrind on the executable

**Expected behavior**
There should be no memory leak

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following

[2020-08-12 02:23] rudy2steiner commented on #7692
@KannarFr  which method you call and how to reproduce, maybe I can help

[2020-08-12 04:47] Esakkimuthu991 opened #7799 "Pulsar metrics providing wrong information"
**Pulsar metrics endpoint provides irrelevant information**
Wanted to create pulsar grafana dashboard. we rely on */metrics* endpoint. In that *pulsar_topics_count* provides wrong information/ Correct me if the understanding is different.

**To Reproduce**
Steps to reproduce the behavior:
We created two namespaces -> sample1, sample2
In sample1 we have 6 topics.
In sample2 we have 3 topics.

then

[2020-08-12 07:20] wongkimshing opened #7800 "Missing KEY_BASED option from BatchBuilder for C++ Client"
**Is your enhancement request related to a problem? Please describe.**
When we wanna receive messages with **KEY_SHARED** mode with Java consumer, we found there is no **KEY_BASED** option from **BatchBuilder** for C++ producer. It's kind of frustrated for the integration between C++ & Java programs.

**Describe the solution you'd like**
Add **KEY_SHARED** mode for C++ client and **KEY_BASED** opt

[2020-08-12 07:51] #5061 closed

[2020-08-12 07:55] sijie commented on #1022
Closed this issue since it is a problem in the URI.

[2020-08-12 07:55] #1022 closed

[2020-08-12 07:55] sijie commented on #5047
The issue has been fixed.

[2020-08-12 07:55] #5047 closed

[2020-08-12 08:01] sijie commented on #2665
Closed this issue for now. If we need to work on this, feel free to open a new task.

[2020-08-12 08:01] #2665 closed

[2020-08-12 08:11] sijie commented on #3660
Closed the issue for now. If the problem happens again, please create a new issue.

[2020-08-12 08:11] #3660 closed

[2020-08-12 08:13] sijie commented on #3727
Close this issue since the tracing interceptor is available at https://github.com/streamnative/pulsar-tracing

[2020-08-12 08:13] #3727 closed

[2020-08-12 08:23] sijie commented on #7792
Closed this issue since #7483 has fixed it. Please re-open it if 2.6.1 doesn't solve the problem.

[2020-08-12 08:23] #7792 closed

[2020-08-12 08:37] sijie commented on #7796
@aloyszhang Are you working on this issue?

[2020-08-12 08:44] xiaomin0322 commented on #7718
/opt/Apps/pulsar/bin/pulsar-admin namespaces set-publish-rate public/default -m 1000

Producers can send 10000 msg

[2020-08-12 12:29] BewareMyPower commented on #7800
1. You can set consumer type of `ConsumerConfiguration` to use key shared subscription.
2. C++ client doesn't support key based batching yet.  I did some work about key based batching last month, but I'm a little busy recently so I didn't continue. It's not a difficult feature but it needs much code refactoring for C++ client.

[2020-08-12 14:42] codelipenghui commented on #7718
@xiaomin0322 Did you enable the message batching at the producer side?

[2020-08-12 14:58] codelipenghui commented on #7799
Are the topics partitioned under the namespace `public/sample2`? Pulsar will count each partition into a topic.

[2020-08-12 15:32] Esakkimuthu991 commented on #7799
No, Its not a partitioned topic

[2020-08-12 16:40] BewareMyPower commented on #7797
#7793 is a bugfix for reader memory leak, it's because `ReaderImpl`'s reference count is 2 before `Reader` destructed. That PR mentioned the problem, but it's only a part.

I'll explain the real reason of memory leak and why the bugfix works here. It's a little long, for short, go to the last chapter: **Safe createReader implementation**.

## Some implementation knowledge

First, `Reader` holds a

[2020-08-12 18:21] devinbost commented on #7749
It turns out that I just needed to turn back on the Lombok annotations. Somehow, they got turned off.

[2020-08-13 02:15] codelipenghui opened #7804 "ConcurrentModificationException occurs when dispatch message to consumers"
**Describe the bug**
[code]

**To Reproduce**
It's hard to reproduce.

**Expected behavior**
Keep the list operation safely.

**Additional context**
Add any other context about the problem here.

[2020-08-13 02:31] jiangmincong opened #7805 "Why use batchReceive, you can consume data for the first time, but cannot consume data afterwards; topic has been producing data"
Why use batchReceive, you can consume data for the first time, but cannot consume data afterwards; topic has been producing data

code：
[code]
![image](https://user-images.githubusercontent.com/22076140/90087937-76e40a80-dd50-11ea-8600-acf4e6db0f8a.png)

[2020-08-13 06:26] aloyszhang commented on #7796
@sijie Yes, I'm working on this isuuse.

[2020-08-13 07:52] sijie commented on #6819
Can you describe more about the sequence to reproduce this behavior?

[2020-08-13 07:55] sijie commented on #6871
@rueian The bug has been fixed in bookkeeper 4.11 and we are going to bump the version in Pulsar.

[2020-08-13 07:56] sijie commented on #7059
@larslorenzen Your issue is different. The "producer is already presented" is a race condition when producer disconnects and reconnects. The problem has been addressed in recent releases.

[2020-08-13 07:58] sijie commented on #7059
This issue has been fixed by #7401

[2020-08-13 07:58] #7059 closed

[2020-08-13 07:59] #7243 closed

[2020-08-13 08:03] sijie commented on #7443
The problem is fixed by #7401 and will be released in 2.6.1 release.

[2020-08-13 08:03] #7443 closed

[2020-08-13 08:08] #7055 closed

[2020-08-13 10:21] hnail opened #7811 "Pulsar SQL can't query the InactiveTopics and un-managedLedger"
## **Describe the bug**
Pulsar SQL can't query the InactiveTopics and un-managedLedger

## **Bug  trace**

  ### Pulsar SQL  [PulsarSplitManager.getSplitsForTopic()](https://github.com/apache/pulsar/blob/master/pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSplitManager.java#L261) split with this code:
``readOnlyCursor = managedLedgerFactory.openReadOnlyCursor(

[2020-08-13 10:47] xuesong172500 opened #7812 "When function is created, the CPU of the functions worker node will rise rapidly"
**Describe the bug**
pulsar 2.5.2

![image](https://user-images.githubusercontent.com/54351417/90125727-14612d80-dd95-11ea-96b0-4f0eba13e6da.png)

**To Reproduce**

Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screens

[2020-08-13 14:41] jiazhai commented on #7797
would like to close this issue, since when 7793 closed.

[2020-08-13 14:41] #7797 closed

[2020-08-13 15:10] YArane opened #7814 "Function's context's logger does not log to the log-topic"
**Describe the bug**
When using the context's logger, log messages are not produced on the function's log topic.
Relevant docs: https://pulsar.apache.org/docs/en/functions-debug/#use-log-topic

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Pulsar Function which logs a message using the context's logger (see `LoggingFunction.java` example below)
2. Deploy said function using `pulsar

[2020-08-14 01:28] xiaomin0322 commented on #7718
pulsar-perf   test

/opt/Apps/pulsar/bin/pulsar-admin namespaces set-publish-rate public/default -b 2242880

/opt/Apps/pulsar/bin/pulsar-perf produce my-topic  -n 1 -r 10000

Producers can send 10m msg

[2020-08-14 01:30] codelipenghui commented on #7718
You can try to disable the messaging batch by adding `-bm 1` to the produce perf command

[2020-08-14 01:56] sijie commented on #7805
@jiangmincong Which pulsar version are you using?

[2020-08-14 02:00] rec7y33 commented on #7076
bump

[2020-08-14 02:02] sijie commented on #7811
@hnail Can you disable `deleteInactiveTopics` and enable retention?

[2020-08-14 02:03] sijie commented on #7811
We can improve the error message. /cc @codelipenghui in the conversation.

[2020-08-14 02:04] sijie commented on #7812
@xuesong172500 Can you share more details about this?

[2020-08-14 02:23] xuesong172500 commented on #7812
Create a function and you can reproduce it. Set 1 or 10 parallelism.

[2020-08-14 02:35] xuesongxs opened #7815 "functions-worker jvm metrics error"
**Describe the bug**
functions-worker process model：
1.After the functions worker is started, if you do not create function, you cannot get any JVM metrics information.
2.The indicators of functions worker shown in the JVM metrics dashboard are not correct. It should be the indicators collected by functions worker. The in heap memory is set to 4G. However, the maximum in heap memory of functions w

[2020-08-14 02:41] hnail commented on #7811
Thanks for your reply, I will try this  and  fed back to this issues today

[2020-08-14 02:41] jiangmincong commented on #7805
Version 2.5.0, I set the receiverQueueSize, no problem

[2020-08-14 03:36] hnail commented on #7811
@sijie Thanks for your reply , set  `retentionTimeInMinutes` `retentionSizeInMB` works for my test .

I think we should prompted  `retention` and `deleteInactiveTopics` on  [Pulsar SQL Overview doc](https://pulsar.apache.org/docs/en/sql-overview/)

[2020-08-14 03:42] sijie commented on #7811
@hnail Agreed.

@Huanli-Meng @Jennifer88huang Can you work with @hnail on adding documentation to the Pulsar SQL doc?

[2020-08-14 03:53] Huanli-Meng commented on #7811
ok

[2020-08-14 03:57] wongkimshing commented on #7800
@BewareMyPower

1. You mean Java consumer with KEY_SHARED mode and C++ producer without KEY_SHARED mode are working well for KEY_SHARED?
2. Could you please take some time on it? Really appreciate.

[2020-08-14 04:11] BewareMyPower commented on #7800
@wongkimshing

First make it clear that KEY_SHARED is a subscription mode for consumers, key based batching is a feature of batching for producers. You can send messages **without batching** by C++ client, and consume these messages using KEY_SHARED subscription by Java client.

1. I mean C++ **consumer** can subscribe topics with KEY_SHARED mode.
2. Yeah, I'd like to continue the [development](ht

[2020-08-14 17:13] wolfstudy commented on #6554
The issue will be tracked in #7455 so move the issue to release/2.6.2

[2020-08-14 18:39] vcottagiri commented on #7634
@jiazhai - please check [PR](https://github.com/apache/pulsar/pull/7635)

[2020-08-16 10:28] sijia-w opened #7822 "Incorrect description in JWT authentication section"
#### Expected behavior

The number of types of JWT authentication seems to be not correct. And the description of `jwt.broker.public.key` is incorrect.

#### Actual behavior

Correct both parts if needed.

![WeChat234bf2fe887990e7b67589347f488b3e](https://user-images.githubusercontent.com/53718687/90332294-ec074800-dfbb-11ea-9264-c3fd66fd723f.png)

[2020-08-16 16:33] MarvinCai commented on #7404
@sijie I can take it up if no one is working on it.

[2020-08-16 21:51] SergeyYakubov opened #7824 "JWT token does not expire for opened connections"
#### Expected behavior

I create a consumer listener with Go following an example:

http://pulsar.apache.org/docs/en/client-libraries-go/#consumers

Authentication/Authorisation is done via a JWT token (I provide a function via NewAuthenticationTokenFromSupplier to retrieve this token from Keycloak). The token lifetime is set to 1 minute.

Expected behavior - as soon as token expires a new token s

[2020-08-16 22:24] MarvinCai commented on #7397
I can reproduce the issue by starting standalone and create tenant/namespace then try to create subscription on non-persistent topic with command:
`./pulsar-admin topics create-subscription  -s subscription non-persistent://tenant/namespace/topic`
and I see HTTP 500 Internal Server Error
I think the reason is the create-subscription is intended for persistent topic and it'll try to cast the create

[2020-08-17 00:58] codelipenghui commented on #7397
@MarvinCai Is it better to return a specific error to users? the internal server error is more confused. I thought about it carefully, allow create a subscription on a non-persistent topic by `pulsar-admin` is not a good point, because when the topic unloaded, the subscription will disappear, this is more difficult for users to understand.

[2020-08-17 01:39] sijie commented on #7815
@xuesong172500 Do you mean function worker metrics or function metrics?

[2020-08-17 01:43] xuesong172500 commented on #7815
@sijie function worker

[2020-08-17 01:45] codelipenghui commented on #7404
@MarvinCai Thanks, assigned.

[2020-08-17 01:50] sijie commented on #7824
@SergeyYakubov Broker has a mechanism to refresh the authentication state. By default `authenticationRefreshCheckSeconds` is set to 60. It refreshes the authentication state for every 60 seconds. The client is required to implement the refresh logic. Which go library are you using? cgo or native go library? I guess it might not be implemented in the go client.

[2020-08-17 01:50] sijie commented on #7824
/cc @wolfstudy to confirm

[2020-08-17 02:06] wolfstudy commented on #7824
Thanks @SergeyYakubov feedback, the feature has not yet been implemented in [native Go client](https://github.com/apache/pulsar-client-go), and I create a new issue https://github.com/apache/pulsar-client-go/issues/348 in Go client to track this. Are you interested in this feature?

[2020-08-17 02:46] hangc0276 opened #7825 "Support Message Dispatch Rate on topic level"
**Is your feature request related to a problem? Please describe.**
This is the sub feature of #2688

**Describe the solution you'd like**
support `Get`, `Set`, `Remove` message dispatch rate on topic level

**Describe alternatives you've considered**

**Additional context**

[2020-08-17 02:49] hangc0276 opened #7826 "Support Compaction Threshold on topic level"
**Is your feature request related to a problem? Please describe.**
This is the sub feature of #2688

**Describe the solution you'd like**
support `Get`, `Set`, `Remove` compaction threshold on topic level

**Describe alternatives you've considered**

**Additional context**

[2020-08-17 05:03] MarvinCai commented on #7397
Then I think we can add a check at client side to see if passed in topic name, and throw exception if it's a non-persistent one. If that sounds good I'll make the change.

[2020-08-17 05:18] MarvinCai commented on #7404
@codelipenghui I'm thinking adding a config for lazy recovering cursors for ledger and default to false so current user won't be affected. Then add a pendingRecoverCursors similar to the uninitializedCursors we have: https://github.com/apache/pulsar/blob/master/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java#L169, if choose to lazily recover cursor then just

[2020-08-17 07:07] kuangye098 opened #7827 "In failover mode, messages are not consumed normally."
**Describe the bug**
Consumers are stuck and do not consume in the failover mode. I wonder if it is caused by the same consumer name?

**To Reproduce**
Steps to reproduce the behavior:
1. Start Pulsar stand-alone mode.
2. The running version is 2.5.2.
3. Start the consumer and prepare to consume the message，consumers are also deployed locally.

**Expected behavior**
When a consumer with only one f

[2020-08-17 08:14] SergeyYakubov commented on #7824
@sijie Thanks for your reply. I see the setting authenticationRefreshCheckSeconds=60 in broker.conf. But I still do not see broker disconnecting the client as described [here](https://pulsar.apache.org/docs/en/next/security-overview/). In my case connection remains although the token is already expired.

I'm connecting via a pulsar proxy (deployed via Kubernetes helm chart) if that makes the diffe

[2020-08-17 08:18] sijie commented on #7824
@SergeyYakubov Ah, I see. How do you configure Authn & Authz for the broker and proxy?

[2020-08-17 08:23] SergeyYakubov commented on #7824
@sijie with [helm](https://github.com/streamnative/charts)

  authentication:
    enabled: true
    provider: "jwt"
    jwt:
      # Enable JWT authentication
      # If the token is generated by a secret key, set the usingSecretKey as true.
      # If the token is generated by a private key, set the usingSecretKey as false.
      usingSecretKey: false
  authorization:
    enabled: true
  superUse

[2020-08-17 12:47] BewareMyPower commented on #7827
From the stats and network connection, I guessed that the broker didn't remove first 2 consumers of this subscription from stats. Then the broker treat a no longer existing consumer as the active consumer, and the actually running consumer (port: 54738, process id: 19089) was treated as a failover consumer, so it cannot receive messages.

I can't reproduce the behavior with a newly started pulsar

[2020-08-17 13:08] #7626 closed

[2020-08-17 13:13] codelipenghui commented on #7757
close via #7817

[2020-08-17 13:13] #7757 closed

[2020-08-17 13:40] codelipenghui commented on #7397
@MarvinCai Do you mean pulsar-client or pulsar-admin? I think we should also fix the REST API.

[2020-08-17 13:40] alexku7 opened #7829 "Upgrading the presto to the last version"
Hello
Currently the pulsar is using 0.206 presto version.
We have several issues with this relatively old version .
For example we want to use some new feature introduced in this version https://prestosql.io/docs/current/release/release-310.html but can't
Could i ask to upgrade the presto to the last stable version  ?

Tanks

[2020-08-17 19:57] Joshhw opened #7830 "Pulsar Proxy doesn't forward credentials correctly with custom authN/authZ"
**Describe the bug**
When trying to connect to the brokers through the pulsar proxy component using the binary connection the client's `authenticationDataSource` is not being forwarded to the broker for Authorization. When changing the `brokerServiceUrl` to `http://pulsar-proxy:80/` it seems to work with the client credentials but doesn't use the proxy token.

 I've tested this by executing into t

[2020-08-17 20:25] sijie commented on #7830
@Joshhw Did you enable `forwardAuthorizationCredentials` in proxy?

[2020-08-17 20:32] Joshhw commented on #7830
Yes.

On Mon, Aug 17, 2020 at 16:26 Sijie Guo <notifications@github.com> wrote:

Joshua Decosta
774-451-1747
Joshdecosta@gmail.com

[2020-08-17 20:47] #7604 closed

[2020-08-18 01:54] MarvinCai commented on #7397
update REST api, as pulsar-admin also use REST api, it will fix for both.

[2020-08-18 02:00] codelipenghui commented on #7829
@gaoran10 Could you please help take a look at this issue?

[2020-08-18 05:45] xiaomin0322 commented on #7718
/opt/Apps/pulsar/bin/pulsar-admin namespaces set-publish-rate public/default -b 2242880

 messaging batch influential ？？

[2020-08-18 08:14] Huanli-Meng commented on #7463
@devinbost, when you use the CGo to build the Pulsar library, you can use the `go get -u github.com/apache/pulsar/pulsar-client-go/pulsar` command to get the pulsar library. when you use the native Go to build the Pulsar library, you can use the `go get -u "github.com/apache/pulsar-client-go/pulsar` command to get the pulsar library. The native Go is introduced in Pulsar 2.5.1 and the CGo is going

[2020-08-18 09:24] ErmirZaimi opened #7837 "DB2 Connector for Pulsar"
**Is your enhancement request related to a problem? Please describe.**
We want to receive events in Pulsar for any changes done to the DB2 (in AS400 IBM machine) database,

**Describe the solution you'd like**
 A new connector for pulsar

**Describe alternatives you've considered**
Using the incubating version of debezium API for kafka

[2020-08-18 12:13] toneill818 opened #7838 "Add The Ability To Set Log Level From Environment Variables In Docker"
Currently there are not scripts or set to configure the log YAML file from environment variables. There are for other non YAML configuration files.

**Describe the solution you'd like**
Add a script to the docker container that can read PULSAR_PREFIX_LOG_LEVEL and set it in the yaml file.

**Describe alternatives you've considered**
Being able to set the log level within the configuration files su

[2020-08-18 13:51] moshonb6 commented on #7829
We are using http header "X-Presto-Max-Size" but seems that the header is being ignored.
We always get chunks of 2MB. may it be also related to the old presto db version?

[2020-08-18 15:24] jiazhai commented on #7754
@zymap have you already opened a ticket in ASF Infra for this issue?

[2020-08-19 01:11] rnowacoski opened #7846 "Multi-Topic subscription across tenant and namespace using regex in Java client throws IllegalArgumentException"
**Describe the bug**
When using a regex to create a consumer and a regex pattern is present in the tenant or namespace section of the pattern this error is thrown.

[code]

Example pattern: `persistent://\w+/Test/Test1` or `persistent://Test/\w+/Test1`

This is because `PulsarClientImpl.patternTopicSubscribeAsync` is called when creating a consumer using a Pattern. This calls `topicName.get(regex)

[2020-08-19 01:38] jiazhai commented on #7846
@rnowacoski currently regex subscription supports the topics in the same namespace. change this issue into a feature request. from my view, it is not hard to do, maybe we should pay more attention to the authorization.

[2020-08-19 02:01] jiazhai commented on #7838
May need this change (https://github.com/apache/pulsar/pull/7789) as well. It will be available in 2.6.1 release.

[2020-08-19 03:28] zymap commented on #7754
Yes. JIRA issue: https://issues.apache.org/jira/browse/INFRA-20708

[2020-08-19 12:26] klwilson227 opened #7851 "pulsar-client-cpp crashes consumer due to thread safty"
**Describe the bug**
When running the pulsar-client-cpp on 2.5.2 we are experiencing the following stack trace. Our code instanciates and holds open a client then time slices the consumers on a number of threads. Each thread subscribe, consumes message followed by immediate acknowledge, then closes the consumer. The stack trace has been seen between a few hours and a month apart. We finally receiv

[2020-08-19 15:53] Renkai commented on #5739
I will try to work on this.

[2020-08-19 19:26] frankjkelly commented on #7385
Could be a dupe of https://github.com/apache/pulsar/issues/7830

[2020-08-19 19:28] frankjkelly commented on #7385
Could be related to https://github.com/apache/pulsar/issues/7830

[2020-08-19 19:48] sijie commented on #7385
If you are using 2.6.0, I think there are some issues with handling proxy forwarded credentials. The change in #7788 fixes it.

[2020-08-19 20:20] frankjkelly commented on #7385
Thanks @sijie yes I think you are right - is that changed scheduled to go out with 2.6.1?

[2020-08-19 21:01] sijie commented on #7385
Yes. It is part of the 2.6.1 release.

[2020-08-19 21:02] frankjkelly commented on #7385
Wonderful thanks I'm super excited to test it
CC: @Joshhw

[2020-08-20 08:17] Skaronator opened #7859 "Use Java 11 for Docker Images"
**Is your enhancement request related to a problem? Please describe.**
The current docker images are built with Java 8. According to the [2.3.0](https://pulsar.apache.org/release-notes/#230-mdash-2019-02-20-a-id230a) changelog Pulsar supports Java 11 since early 2019.

Java 8 and Docker doesn't work that well together. Some things got backported to Java 8 but only Java 10+ supports Memory and CPU

[2020-08-20 08:23] wuYin opened #7860 "Message expiry may not effective"
**Describe the bug**
unACK messages not be deleted after TTL

**To Reproduce**
1. Deploy a local cluster with default config: 3\*bookie(4.8.0), 1\*broker(latest), 1\*topic, 1\*partition

2. Configure retention and TTL:
PS: Maybe I missed some configurations, correct me please, thanks
    - retention: time 2min, size 10MB,
    - TTL: 2min

    ![image](https://user-images.githubusercontent.com/2453

[2020-08-20 10:20] zymap commented on #7470
Hi, @meleagle. I can not reproduce this issue on my laptop. Could you please give me more information? Such as log or something else?

[2020-08-20 14:56] BewareMyPower commented on #7851
Though make `clear()` thread-safe may be better, **I'm not sure if the crash is caused by this**.

Because `clear()` is called only when the connection is established:

[code]

The future is completed in `handleCreateConsumer`, which is after `connectionOpened`:

[code]

Then `ClientImpl::handleConsumerCreated` will be called, see:

[code]

[code]

Therefore, the consumer could only call `acknowle

[2020-08-20 15:34] jiazhai commented on #7851
ConsumerImpl::connectionOpened may also comes from a re-connection after connection breaked?

[2020-08-20 15:57] meleagle commented on #7470
Hello @zymap, The logs weren't helpful for me to look at as there was no errors but I can give an example of the properties I set to get to the issue.

In broker.conf I would clear out the brokerServicePort and AdvertisedAddress fields.

Then I would set the advertisedListeners and internalListenerName to something like below (with valid ip addressess in the real case).

advertisedListeners=intern

[2020-08-20 17:24] RahimovIR opened #7864 "The master consumer is not chosen correctly in failover mode"
**Describe the bug**
 In failover mode, the broker selects the master consumer based on connection order, not priority level and not the lexicographical sorting of a consumer name.

**To Reproduce**
Steps to reproduce the behavior:
1. Subscribe consumer1 with name "bbb" and PriorityLevel 1
2. Subscribe consumer2 with name "aaa" and PriorityLevel 0
3. See subscribe log:
[21:56:44.483 INF 9] consume

[2020-08-21 01:53] jiazhai commented on #7860
@wuYin The files in Bookie is cleaned by "compaction" settings. like
[code]

[2020-08-21 03:28] wuYin commented on #7860
thanks for your reply, I'll reduce `gcWaitTime` and `minorCompactionInterval` and try again.
not enough to understand these configurations, that's my fault.

[2020-08-21 03:28] #7860 closed

[2020-08-21 03:28] zymap commented on #7824
hi， @SergeyYakubov, I use the same configuration to test it, the producer and consumer are disconnected by the broker if the token expires.
![image](https://user-images.githubusercontent.com/24502569/90849204-572c9200-e3a1-11ea-8f14-1dcf21cf609f.png)

[2020-08-21 05:30] lhotari commented on #7436
I wonder if PR #7355 will fix this issue. I'll test it once 2.6.1 is available in maven central.

[2020-08-21 06:02] lhotari opened #7869 "Upgrade protobuf version 3.5.1 (Dec 2017) to a newer version"
Pulsar currently uses an 3.5.1 version of protobuf. This is an old version which was released in December 2017.
The protobuf version is defined in https://github.com/apache/pulsar/blob/master/pom.xml#L125-L126 .

The old protobuf version causes issues within Pulsar functions when a functions jar file includes protoc generated classes which have been created with a recent protoc version. Protoc gen

[2020-08-21 06:25] jiangmincong opened #7870 "The broker node crashes and the log shows zktime out，pulsar version 2.5.0"
zk log
2020-08-21 13:25:16,072 [myid:009] - WARN  [NIOWorkerThread-76:NIOServerCnxn@364] - Unexpected exception
EndOfStreamException: Unable to read additional data from client, it probably closed the socket: address = /10.242.63.172:49630, session = 0xa00e3a203cd0463
        at org.apache.zookeeper.server.NIOServerCnxn.handleFailedRead(NIOServerCnxn.java:163)
        at org.apache.zookeeper.serve

[2020-08-21 06:32] #7805 closed

[2020-08-21 09:43] QiAnXinCodeSafe opened #7872 "Cross-Site Scripting: DOM"
https://github.com/apache/pulsar/blob/f53c9d33176a06a9a283beea9269d802c467f71e/site2/website/static/js/getSwaggerByVersion.js#L2-L18

Sending unvalidated data to a web browser can result in the browser executing malicious code.

[2020-08-21 09:46] QiAnXinCodeSafe opened #7873 "Unused Field"
https://github.com/apache/pulsar/blob/f53c9d33176a06a9a283beea9269d802c467f71e/pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/ConsumerConfiguration.java#L49

This field is never used.

[2020-08-21 20:12] rivernate opened #7875 "Unable to disable TTL for a namespace when a default TTL is specified"
**Describe the bug**
When there is a cluster level configuration for `ttlDurationDefaultInSeconds` it's not possible to disable it at a namespace level

**To Reproduce**
Steps to reproduce the behavior:
1. Set the `ttlDurationDefaultInSeconds` at the cluster level
2. For a namespace try disabling the ttl with `pulsar-admin namespaces set-message-ttl my-tenant/my-ns --messageTTL 0`
3. Get the ttl f

[2020-08-22 08:48] wenjun8888 opened #7876 "Broker auto shut down in a geo-replication cluster"
hello sir.
I setup an geo-replication pulsar cluster which called alpha and beta.
We use alpha in our daily product env, now i find beta cluster always shut down by itselt,
when i start it again, after maybe 30 or 40 minutes, i still shut down,
I find some logs in bookie:

[code]

and in broker, it is:
[code]

I have no idea how to fix it, please help me ~ thanks

[2020-08-22 13:02] codelipenghui opened #7878 "NPE when acknowledge messages at the broker side"
**Describe the bug**
[code]
**Additional context**
2.6.0

[2020-08-22 14:39] Joshhw opened #7879 "create function doesn't use AuthorizationProvider's isSuperUser method"
**Describe the bug**
when creating a function the method used to check for superUser status does not use the AuthorizationProvider's isSuperUser method. Instead it uses its own version of the superUser method which circumvents the implemented version. The method can be found [here](https://github.com/apache/pulsar/blob/77dccd2824699c9be96f518a8a1079df51612c8e/pulsar-functions/worker/src/main/java/

[2020-08-23 13:50] jianyun8023 opened #7884 "Correctly handle the asynchronous programming suggestions of api and base in the admin api of pulsar-broker."
**Is your feature request related to a problem? Please describe.**
I recently did topic level configuration. In the admin web module `org.apache.pulsar.broker.admin`, the asynchronous call between the api and the base made me feel very frustrated. The `asyncResponse` of the api layer was passed to the base layer, which made the handling of exceptions very complicated. . And this operation couples

[2020-08-23 17:40] MarvinCai commented on #7864
Hi there,
picking active consumer for FailOver subscription type based on priority level and the lexicographical sorting of a consumer name is only for partitioned topic,
for non-partitioned topic active consumer is picked by connection order
please see https://github.com/apache/pulsar/issues/1267
I see the document only specify strategy of picking active consumer for partitioned topic.
Sorry for

[2020-08-23 23:39] #7851 closed

[2020-08-24 01:40] jiazhai commented on #7879
@Joshhw Thanks for the reporting of this issue. Seems you already root caused this issue. would you like to fix this issue? :)

[2020-08-24 01:41] jiazhai commented on #7878
👍 This should be an easy fix.

[2020-08-24 01:44] jiazhai commented on #7876
This seems related to the issue that @codelipenghui reported in #7878

[2020-08-24 01:48] codelipenghui commented on #7875
@rivernate Thanks for your feedback, do you want to disable the TTL on a namespace when the broker level TTL is enabled?

[2020-08-24 02:26] zymap commented on #7470
Hi @meleagle, I configure the advertisedListeners and internalListerName:
[code]
After starting the broker service, I can see the following log:

[code]

Sorry, I can't see the issue.

[2020-08-24 02:33] meleagle commented on #7470
@zymap No problem, thanks for looking into it.

[2020-08-24 02:33] #7470 closed

[2020-08-24 02:37] Joshhw commented on #7879
I can do that.

On Sun, Aug 23, 2020 at 21:40 Jia Zhai <notifications@github.com> wrote:

Joshua Decosta
774-451-1747
Joshdecosta@gmail.com

[2020-08-24 07:09] jiangmincong commented on #7870
Hello, are there other ways to avoid this problem? Modify configuration parameters or other?

[2020-08-24 08:46] xuesong172500 commented on #7870
@jiangmincong modify zookeeper client zooKeeperSessionTimeoutMillis/zooKeeperOperationTimeoutSeconds, Modify the property value and set it larger.

[2020-08-24 09:22] andrekramer1 commented on #6603
We've seen this error as well. A bookie appears to be unavailable as we get the "not enough bookies" error. The broker logs show a timeout for a bookie on one node while another node has a null reference exception while resolving in the logs. It's not clear if the bookie is actually up or marked unavailable by brokers in some way. Adding another bookie caused enough to be available again.

There s

[2020-08-24 12:58] Joshhw commented on #7879
@jiazhai this is most likely going to add another method to the `AuthorizationProvider` will I need to submit something else or just explain it in the PR?

[2020-08-24 15:46] rivernate commented on #7875
yes, for now I set it to the max, but ideally I would be able to disable it completely.

[2020-08-24 20:23] gaoran10 opened #7888 "[Pulsar SQL] Pulsar SQL couldn't query schemas"
**Describe the bug**

Currently, the Pulsar SQL 2.6.1 couldn't work well, the error logs will be seen when executing the SQL statement `show schemas in pulsar` in pulsar sql cli.

**To Reproduce**
Steps to reproduce the behavior:
1. Download Pulsar 2.6.1
2. Start Pulsar in standalone mode. `$PULSAR_HOME/bin/pulsar-daemon start standalone`
3. Start the sql-worker. `$PULSAR_HOME/bin/pulsar sql-worke

[2020-08-24 22:24] #7787 closed

[2020-08-24 23:20] KannarFr opened #7889 "Create partitioned topics from clients"
**Is your feature request related to a problem? Please describe.**
Even if autoTopicCreationType is set to `partitioned` we need to call the REST API to create partitioned ones.

**Describe the solution you'd like**
The abitlity for clients to create auto create partitioned topics with field like `.partitioned(true).partitionsNumbers(1)`.

[2020-08-25 01:43] sijie commented on #7889
@KannarFr If the `autoTopicCreationType` is set to `partitioned`, you don't need to call REST API to create partitioned ones.  The broker should automatically created the partitioned topic and its partitions.  @codelipenghui can chime in about this.

[2020-08-25 04:02] #7889 closed

[2020-08-25 10:24] ErikJansenIRefact commented on #7888
Running into the same problems with 2.6.1.

[2020-08-25 11:47] ErikJansenIRefact opened #7892 "Warning when using compression in producer"
The following warning message is displayed when producing messages in batch with LZ4 compression enabled:

WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by io.airlift.compress.lz4.UnsafeUtil (file:/Users/erik/.m2/repository/io/airlift/aircompressor/0.16/aircompressor-0.16.jar) to field java.nio.Buffer.address
WARNING: Please consider reporting this

[2020-08-25 13:03] frankjkelly opened #7893 "Regression: Authorization Provider implementation that worked in 2.5.2 now throws 500 on Pulsar 2.6.1 startup"
**Describe the bug**
We wrote both Authentication and Authorization Providers against Pulsar 2.5.2 and they worked in Standalone mode.
After upgrading to 2.6.1 (upgrading the client jars and the conf file) we now get a 500 error on startup.

**To Reproduce**
Steps to reproduce the behavior:
1. Write an Authorization provider that implements the required methods of `org.apache.pulsar.broker.authori

[2020-08-25 18:18] MarvinCai opened #7895 "Report compacted topic ledger info when calling get internal stats"
For get-internal-stats of persistent topic admin cli: https://pulsar.apache.org/docs/en/2.6.0/admin-api-persistent-topics/#get-internal-stats, we can also return the compacted topic ledger id if compaction is enabled. So we'll able to read from ledger without creating additional subscription, it can benefit like querying compacted topic from Pulsar SQL.

[2020-08-25 22:13] Chickenzilla commented on #6603
We just ran into this when our bookies filled their ledger disks and went read-only.  I agree that it should be considered a bug when NullReferenceExceptions are logged at all; perhaps that condition can be ascertained before the lookup fails and log something slightly more useful, even if that's just to check the other broker logs for the actual error.

[2020-08-25 23:14] Chickenzilla opened #7896 "pulsar-perf should support setting routing key"
**Is your enhancement request related to a problem? Please describe.**
We are trying to validate performance characteristics in a key-shared subscription scenario, but when configuring pulsar-perf to send/consume from a given topic using key-shared, only one consumer on the topic receives all of the messages.  This is unrealistic and not a good validation of expected typical key-shared functionali

[2020-08-26 01:32] sijie commented on #7892
@ErikJansenIRefact Are you using JDK 11?

[2020-08-26 01:36] sijie commented on #7893
@frankjkelly there is a big change in AuthorizationProvider to support finer granularity access control in 2.6.0. So if you are customizing an AuthorizationProvider, you might have to implement those methods.

Alternatively, we can try to make sure the default methods use the old methods. But it will require a fair amount of refactoring work again. Let me know what you think.

[2020-08-26 02:23] KannarFr opened #7899 "Support PolicyName in new ns routes"

[2020-08-26 03:02] jiazhai commented on #7463
Would like to close this issue. @devinbost feel free to reopen if it still need more work to do.

[2020-08-26 03:02] #7463 closed

[2020-08-26 04:24] KannarFr opened #7903 "AutoTopicCreationType partitioned not supported when passing through proxy"
**Describe the bug**
When auto topic creation type is `partitioned`, the ServerCnx handles get PartitionMetadata by creatiing partitions in `fetchPartitionedTopicMetadataCheckAllowAutoCreationAsync`.

Proxy has other way to handle that and not support the partitioned topics auto creation because it directly answer the current ZK content and not creates partitions.

**Expected behavior**
Broker & P

[2020-08-26 08:00] ErikJansenIRefact commented on #7892
Yep. Changed the JDK for the project. This fixed the warning.

[2020-08-26 08:00] #7892 closed

[2020-08-26 13:50] frankjkelly commented on #7385
Closing this issue - more because my initial understanding / statement of the problem was incorrect

[2020-08-26 13:50] #7385 closed

[2020-08-26 16:09] MarvinCai commented on #7895
please assign to me

[2020-08-26 20:47] devinbost opened #7911 "Unable to produce to specific topic in /public/default after upgrading to 2.6.1"
I ran into a very strange issue after upgrading to Pulsar 2.6.1. When upgrading, I basically rebuilt this cluster from scratch, so there shouldn't be any remnant of the previous cluster. However, I still had a producer and a consumer writing to and consuming from the topic "persistent://public/default/canary" as a health check. I didn't remove these containers until I finished rolling out the new

[2020-08-26 20:50] devinbost commented on #7911
Also, by changing the canary producer and canary consumer to use `persistent://public/default/canary1` instead of `persistent://public/default/canary`, they work just fine.

[2020-08-26 21:15] devinbost opened #7912 "[docs] Broken link on website"
If I click here:
![image](https://user-images.githubusercontent.com/7418031/91357780-02c55000-e7af-11ea-821d-6b42356f3918.png)
I get this:
<img width="642" alt="Screen Shot 2020-08-26 at 3 14 43 PM" src="https://user-images.githubusercontent.com/7418031/91357798-09ec5e00-e7af-11ea-9d7e-e2cf0d4cfe53.png">

[2020-08-26 21:36] devinbost commented on #7911
I don't know if it's related, but my Zookeeper nodes keep saying:

and I don't remember seeing that in their logs before.

[2020-08-26 22:10] harissecic opened #7913 "Active consumer listener is only supported for failover subscription"
**Describe the bug**
Since I tried to update to 2.6.1 I keep getting this error "Active consumer listener is only supported for failover subscription". I have only 1 exclusive consumer per topic with same name. This worked prior to upgrade. Changing subscribers to Failover doesn't help. Changing subscription names also does not help.

**To Reproduce**
Steps to reproduce the behavior:
1. Upgrade to

[2020-08-26 22:31] devinbost commented on #7911
When I try to lookup the problematic topic, I get a timeout as well:

[code]
However, if I lookup topics in that same namespace that don't actually exist, instead of getting timeouts, I get actual servers in the cluster.

[code]

[2020-08-26 23:25] devinbost commented on #7911
I found this exception on one of the brokers:

[2020-08-27 00:24] devinbost commented on #7911
Apparently, I have seen those Zookeeper warnings before... They were mentioned with this issue: https://github.com/apache/pulsar/issues/5311

[2020-08-27 00:26] devinbost commented on #7911
It's like the topic is locked up in some sort of bizarre state where it can't be deleted (which also results in timeouts) or anything...
Is there someplace in Zookeeper where I might go manually look for more information about this topic?
Or, is there a way of getting more information from Bookkeeper directly about it?

[2020-08-27 00:26] devinbost commented on #7911
@sijie or @codelipenghui maybe one of you will have ideas.

[2020-08-27 03:15] Huanli-Meng opened #7915 "The pulsar-admin page in release 2.6.1 is unavailable."
**Describe the bug**
The pulsar-admin page in release 2.6.1 is unavailable.
![image](https://user-images.githubusercontent.com/48120384/91380013-85551a80-e856-11ea-8d63-b0bfe69a4a9a.png)

[2020-08-27 06:23] e-marchand-exensa commented on #7696
seems related to (or even fixed by) #6865

[2020-08-27 09:02] hnail commented on #4747
The reason is same is [issues-7652](https://github.com/apache/pulsar/issues/7652) :

1.  [PulsarMetadata.getColumns()](https://github.com/apache/pulsar/blob/master/pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarMetadata.java#L468) , nested field is dissociate with presto ParameterizedType in  TypeManager . nested field should be Row type in presto (reference `Hive struct

[2020-08-27 09:21] fracasula commented on #7682
@codelipenghui @gaoran10 We created a clone of whole production environment with the offloaded bucket too and even with 2.6.1 we're perfectly able to replicate, in fact the consumers are still getting stuck. We're able to unlock them only by manually killing the pod on Kubernetes.

I deployed 3 consumers with a key shared subscription listening to our `SpaceEvents` topic. Once all three are runnin