[2022-03-16 04:18] #14676 closed

[2022-03-16 05:30] rueian commented on #14688
Hi @hangc0276, Thank you for your help. Though I can't provide the whole log file, I find some stack traces

[code]

[2022-03-16 05:42] 468120308 commented on #14652
yes. Topics can be replicated in both directions

[2022-03-16 06:15] kwenZh commented on #14707
Is this a normal phenomenon? Just retry?

[2022-03-16 06:41] kwenZh commented on #14707
set external   url  is broker pod in k8s node ip?  not a Virtual IP？

[2022-03-16 06:57] vinz2714 commented on #14660
we are running the broker on 8 core CPU machine. The Java process running the broker is consuming 6-7 core cpu upto 100%.

[2022-03-16 07:30] nodece commented on #14529
This proposal has 3 (+1) bindings and 0 (-1) and has stayed open for at least 48 hours:
https://lists.apache.org/thread/kvpostlbqty87cdjgt7vrfozn3qz2j1t

[2022-03-16 07:30] #14529 closed

[2022-03-16 08:23] aoy0208 commented on #14698
@tuteng Can I only upload only one .py file to run pulsar function? and does the example 'ExclamatonFunction' in Pulsar Github works ?
I just upload the .py file only and use CLi like below:
./bin/pulsar-admin functions localrun \
--classname ExclamationFunction \
--py /pulsar/ExclamationFunction.py \
--inputs input \
--output output \
--tenant public \
--namespace default --name PythonFuncName

C

[2022-03-16 08:39] codelipenghui commented on #14707
Yes, it should be a broker external IP:PORT

[2022-03-16 09:13] lhotari commented on #9919
recent failure: https://github.com/apache/pulsar/runs/5566227820?check_suite_focus=true#step:9:1975

[2022-03-16 09:17] Anonymitaet commented on #14696
@dave2wave thanks! We @urfreespace are investigating this issue.

I find other broken URLs, for example, https://pulsar-next.staged.apache.org/docs/next/concepts-messaging/, but the same URL on https://pulsar.apache.org/docs/en/next/concepts-messaging/ is OK
<img width="1016" alt="image" src="https://user-images.githubusercontent.com/50226895/158556363-d534dfda-96d4-4aee-93e0-1f96a1e12bf6.png">

@

[2022-03-16 09:38] lhotari opened #14714 "cpp-tests job is flaky: python pulsar_test.py fails with Segmentation fault"
The cpp-tests job is flaky.

[code]

Example failure:
https://github.com/apache/pulsar/runs/5566228154?check_suite_focus=true#step:11:1313

Logs: https://github.com/apache/pulsar/suites/5678205919/artifacts/186533781
https://transfer.sh/DUTouQ/test-logs.zip

[2022-03-16 09:39] lhotari commented on #14714
@BewareMyPower Do you have a chance to take a look at the cpp-tests failures? There's currently a lot of flakiness.

[2022-03-16 10:35] lhotari commented on #14714
the above segfault isn't the only issue, there's also flaky tests, recent example: https://github.com/apache/pulsar/runs/5567332966?check_suite_focus=true#step:11:568

[code]

[2022-03-16 10:57] #11366 closed

[2022-03-16 11:01] #14536 closed

[2022-03-16 11:46] lhotari commented on #12808
duplicates #10870

[2022-03-16 11:46] #12808 closed

[2022-03-16 11:59] momo-jun commented on #13719
#14498

[2022-03-16 12:30] syhily commented on #13916
Any updates for this issue?

[2022-03-16 13:12] BewareMyPower opened #14719 "Flaky-test: C++ ReaderTest.testReferenceLeak"
ReaderTest.testReferenceLeak is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/5567332966?check_suite_focus=true#step:11:568)

[code]

[2022-03-16 13:12] BewareMyPower commented on #14714
Issues of other cpp flaky tests:
- https://github.com/apache/pulsar/issues/13849
- https://github.com/apache/pulsar/issues/14665
- https://github.com/apache/pulsar/issues/14719

I'm going to work on these cpp tests first.

[2022-03-16 13:18] Anonymitaet commented on #13916
Another suggestion from @BewareMyPower: can we show the icons correctly?
<img width="666" alt="image" src="https://user-images.githubusercontent.com/50226895/158598599-26267b50-8dc5-4e30-8e78-0d2f786646f0.png">

[2022-03-16 13:55] kwenZh commented on #14707
thanks a lot , i had verify and test this problem in afternoon, it should use be K8s worker node ip + port,  not a vip, then create each service for mapping each broker pod, this issue can close。

[2022-03-16 13:55] #14707 closed

[2022-03-16 14:22] #13591 closed

[2022-03-16 17:49] zubchenok opened #14721 "Broken subsequence of delayed messages"
**Describe the bug**
Delayed messages to shared topic breaks subsequence of messages and delivered earlier than expected.

**To Reproduce**
Steps to reproduce the behavior:
1. Setup local standalone pulsar
2. Send messages every 20ms with the same deliverAt timestamp *10000ms* and with payload of millisecond when sending was started.
3. Log received messages payload.

I start receiving all message

[2022-03-16 21:27] flowchartsman commented on #14031
This appears to have been resolved by an update.

[2022-03-16 21:27] #14031 closed

[2022-03-16 22:31] michaeljmarshall commented on #13429
@oversearch - thanks for your note. An interesting detail is that we're building in a VM, so I would think we could have control over which compiler we're using. I am new to building our C++ client, so I am not very opinionated on how to solve it.

When I removed the `-Wno-error=cpp` line from the `CMakeLists.txt`, I made it further in the build, but failed with this error:
[code]

Note that I don

[2022-03-16 23:00] ZW007 commented on #14673
@BewareMyPower  Sorry, but I am still confused. After running the `cmake` and `make` I have `libpulsar.a` and `libpulsar.so` in my `./pulsar/pulsar-client-cpp/lib` folder
![image](https://user-images.githubusercontent.com/45562036/158698552-c8d51fa4-9426-4b90-abc2-4e5f7023a2e7.png)

Noticed from the [tutorial](https://pulsar.apache.org/docs/en/next/client-libraries-cpp/#install-debian), there is a

[2022-03-17 01:42] #13719 closed

[2022-03-17 01:42] #12053 closed

[2022-03-17 01:54] mattisonchao commented on #14721
@codelipenghui  I want to help with this issue.

[2022-03-17 01:54] liudezhi2098 commented on #14721
I can try.

[2022-03-17 02:09] leizhiyuan opened #14722 "during delay time , close consumer and recreate new consumer will receive many delay message"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

produce
[code]

consumer
[code]

![image](https://user-images.githubusercontent.com/2684384/158722527-3f64cad0-544a-4b11-82cb-5d1af14bbbf1.png)

**Expected behavior**

receive only once

the bug in
[code]

when consumer created ,it will  read a message to InMemoryDelayedDeli

[2022-03-17 06:11] BewareMyPower commented on #14673
TL; DR the example code is wrong, we need to fix the doc. /cc @Anonymitaet

You should add a declaration before `createProducer`:

[code]

----

It's not a follow-up step. It's a parallel step.

When you install a C++ SDK, it means following files need to be generated:
- C++ headers (`*.h`)
- C++ libraries, it can be either a dynamic library (`*.so` on Linux) or a static library (`*.a` on Linux).

[2022-03-17 06:36] BewareMyPower commented on #13429
See https://gcc.gnu.org/onlinedocs/gcc/Warning-Options.html for reference.

`-Werror=` makes the specified warning into an error, while `-Wno-error=` is used to negate `-Werror=` for specified warning.

If you can modify the `CMakeLists.txt`, maybe a quickest way is to remove the ` -Werror` option, which makes all warnings into errors.

[2022-03-17 06:41] zcola opened #14728 "[Question] will pulsar roll over if there is only one topic in a namespace"
I would like to ask friends who have used online, will pulsar roll over if there is only one topic in a namespace? Too much pressure on zk? The reason for this question is to assume that I want to adjust only one topic to write only some brokers and bookies, and do not want to affect other topics, because I need to unload to force disconnection

[2022-03-17 06:42] #14465 closed

[2022-03-17 06:54] codelipenghui commented on #14728
What does rollover mean here?
And it depends on how many topics/namespaces you have. If only have thousands of topics/namespaces, don't need to worry about the pressure on zk.

do you want to do the isolation for some topics?
Yes, currently only namespace can apply isolation policies.

for unloading, you can only unload a topic, not the whole namespace.

[2022-03-17 08:02] zcola commented on #14728
I tested the unload topic to no avail. Both bk and broker are the same, so I have to unload namespace.

[2022-03-17 08:51] momo-jun commented on #13052
Checked with @hangc0276 , we'd like to add a new section for the concepts/procedures of data replacement policy to enhance the Isolation feature.
ETA: middle of April.

[2022-03-17 09:13] codelipenghui commented on #14728
@zcola It's better to share more information about the issue that you have to unload the namespace to recover. If the bug has been fixed, you don't need to use one topic per namespace.

[2022-03-17 10:04] bpereto opened #14732 "IPv6 Support for broker and proxy with bindAddress"
**Describe the bug**
the default setting for binding in broker.conf and proxy.conf is `bindAddress=0.0.0.0`.
https://github.com/apache/pulsar/blob/3e065718939d028a970c6b03b96da94e78217583/conf/proxy.conf#L53

the specified default `0.0.0.0` binds to ipv4 only, so the service is not reachable over ipv6.
[code]

this setting does not accept a a ipv6 address `[::0]`, `::0` or a ipv6 address with or w

[2022-03-17 10:53] eolivelli commented on #14732
are you able to troubleshot why this is happening ?
like putting some debug

[2022-03-17 11:27] bpereto commented on #14732
unforenately, setting log levels to debug with env vars:

[code]

does show debug logs, but no additional errors or hints for this specific problem.

is jetty used for this?
the default bind address is set to `0.0.0.0` in the codebase:
https://github.com/apache/pulsar/blob/342a5df24ca9dcf142e471ac0aafebc253042ceb/pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyConfiguration.java#L22

[2022-03-17 11:31] eolivelli commented on #14732
we are using Jetty for the REST API part and Netty for the Binary part

[2022-03-17 11:50] #14624 closed

[2022-03-17 13:09] bpereto commented on #14732
error originating from:
https://github.com/apache/pulsar/blob/3a337b8952239136cb77302e22021b3d79154f1c/pulsar-proxy/src/main/java/org/apache/pulsar/proxy/server/ProxyService.java#L210

I think this is the relevant part for binding in netty:
https://github.com/netty/netty/blob/d34212439068091bcec29a8fad4df82f0a82c638/transport/src/main/java/io/netty/bootstrap/AbstractBootstrap.java#L252

references

[2022-03-17 13:39] asardaes opened #14733 "TrustManagerProxy will not load a file with multiple certificates correctly"
I'm using an admin client configured with a cert/key pair file and a trusted certificate file, the latter of which is a bundle with multiple certificates. From what I can tell, the client is created with an instance of [`TrustManagerProxy`](https://github.com/apache/pulsar/blob/master/pulsar-common/src/main/java/org/apache/pulsar/common/util/TrustManagerProxy.java#L77), which uses `CertificateFact

[2022-03-17 13:41] bpereto commented on #14732
jup, this works.

set `bindAddress=0.0.0.0` in proxy.conf and removing `-Djava.net.preferIPv4Stack=true` in `bin/pulsar` is indeed working.

why is the setting `java.net.preferIPv4Stack` even in place? Should this not be as the default (false) and enabling dualstack?
IMHO this should be standard today.

[2022-03-17 15:49] lhotari commented on #14401
@yaalsn There's a proposal and proof-of-concept that I performed about a year ago: https://docs.google.com/document/d/1FNEWD3COdnNGMiryO9qBUW_83qtzAhqjDI5wwmPD-YE/edit . I'll soon resume this work since now GitHub support re-runing failed jobs in a workflow. That was the showstopper in making changes to the workflow.

[2022-03-17 17:17] nlu90 opened #14734 "package still exists after calling `pulsar-admin packages delete`"
**Describe the bug**
After using `admin packages` delete a package, I can still list the deleted package:

[code]

And the result of list version is:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
After a package deletion, the `list` should not return the package name

**Screenshots**
If appli

[2022-03-17 21:16] utahkay opened #14736 "[2.10] After zookeeper reconnect, brokers get caught in a loop revalidating locks, slowing message delivery and consuming heap until OOM"
**Describe the bug**
Pulsar 2.10 introduces the zookeeperSessionExpiredPolicy=reconnect option. If the zookeeper session is disconnected, the brokers will continue running with as much functionality as possible, and reconnect to zookeeper when it is available again.

The problem happens when the brokers reconnect to zookeeper. They seem to be having locks invalidated continuously, so the broker re

[2022-03-17 22:53] michaeljmarshall commented on #13429
@BewareMyPower - thanks for your note. That was very helpful. I was able to build the clients for MacOS 10.12 and 10.13 by removing that argument. https://github.com/michaeljmarshall/pulsar/commit/cb07459f336bbb85ac81e3305965a9ccd5610586

We'll want a "better" solution for the future, but for now, that was the easiest way to keep the current build solution without changing the git tag.

I couldn't

[2022-03-17 23:01] yaalsn commented on #14401
Hi @lhotari. Thanks for your work. I just looked at the proposal and It is perfect! And I have two questions:

1. `The GitHub Actions Cache can be used as a general purpose file storage to share the build artifacts as files between the stages`

    Do you mean `Github Action Artifacts` ?

2. I see `http://localhost:12321` in the [script](https://github.com/lhotari/pulsar/blob/lh-refactor-pulsar-ci

[2022-03-17 23:38] drunksaint commented on #6477
i'm facing the same problem in 2.9.1

[2022-03-18 00:05] anant-ahuja commented on #14548
@lhotari Pulsar 2.7.4

[2022-03-18 02:29] momo-jun commented on #13585
@codelipenghui
Does this new doc-required PR #14729 have dependency on this issue?

[2022-03-18 02:40] zcola commented on #14728
Ok, I will open another issue

[2022-03-18 02:40] #14728 closed

[2022-03-18 02:43] wangjialing218 commented on #14732
I have already test IPV6 connections between pulasr client and broker, as long as kafka client and kop, with `-Djava.net.preferIPv4Stack=false`, there seems no problem.
And I'm going to have a IPV6 test between broker and bookie and zookeeper, after than we could make it default false.

[2022-03-18 03:07] mattisonchao commented on #14734
@nlu90
I can help with this issue.

[2022-03-18 03:16] rueian commented on #14688
Hi, is the above stack trace helpful?

[2022-03-18 03:16] poorbarcode commented on #14734
I can help with this issue.

[2022-03-18 03:18] Technoboy- commented on #14652
Hi, @468120308 , I will check. And reply later.

[2022-03-18 03:19] zymap commented on #14734
The root cause of this issue is we only introduce delete one version of the packages. When we deleted all the versions of the package, the package name still exists but no versions were available. We'd better introduce a delete all packages rest API to handle deleting all the versions of a package. And remove the related root path.

[2022-03-18 04:05] #14704 closed

[2022-03-18 04:56] #14690 closed

[2022-03-18 06:25] nodece commented on #14733
Could you provide your config file?

[2022-03-18 06:26] codelipenghui commented on #14736
@utahkay Looks like the broker pod doesn't have more CPU resources, I think you have configured CPU limitation? So that the GC thread is not able to get the CPU cycles. You can try to remove the CPU limitation or config more CPU resources for the pod.

[2022-03-18 06:49] #14143 closed

[2022-03-18 07:09] Anonymitaet opened #14741 "[feat][doc] add explanations for how to use MultiRolesTokenAuthorizationProvider"
## Issue

Currently, we do not have docs on how to use `MultiRolesTokenAuthorizationProvider`.

## Technical input

Feedback from @RobertIndie:

Regarding the configuration, there is no difference from [the original authorization provider.](https://pulsar.apache.org/docs/en/next/security-authorization/#enable-authorization-and-assign-superusers) You can just change the authorizationProvider . But

[2022-03-18 07:09] Anonymitaet commented on #14741
@momo-jun could you please work with @RobertIndie to resolve this issue? Thanks!
(it is not an urgent request)

[2022-03-18 07:15] momo-jun commented on #14455
I'm looking into this issue with @RobertIndie. Will add docs to clarify the differences soon.

[2022-03-18 07:53] #14642 closed

[2022-03-18 08:08] #14700 closed

[2022-03-18 08:42] charalamm commented on #4672
I am having the same issue with

- kafka version: **2.8.1 (Commit:839b886f9b732b15)**
- kafka docker image: **wurstmeister/kafka:2.13-2.8.1**
- connector: **io.confluent.connect.sftp.SftpCsvSourceConnector**

configuration json for the said connector
[code]

Any ideas? Thanks!

[2022-03-18 08:44] asardaes commented on #14733
I don't have one, the client is created using `org.apache.pulsar.client.admin.PulsarAdminBuilder` and setting `tlsTrustCertsFilePath`. Note that the client is used by the Flink-Pulsar connector, and it seems that it also uses `org.apache.pulsar.client.impl.AuthenticationUtil#create` under the hood to instantiate `org.apache.pulsar.client.impl.auth.AuthenticationTls`.

[2022-03-18 10:39] nicoloboschi commented on #14220
@codelipenghui after you cherry-picked it to branch-2.8 the test now fails in this way
[code]
See here: https://github.com/apache/pulsar/runs/5598419996?check_suite_focus=true
@gaozhangmin could you look at that?

[2022-03-18 11:04] lhotari commented on #14401
No. I mean the GitHub Actions Cache. The cache is 5GB scoped for each fork which makes it optimal for caching build results of intermediate build steps in PR builds.

No. It's part of [HTTP Cache Proxy action](https://github.com/marketplace/actions/http-cache-proxy), https://github.com/cirruslabs/http-cache-action.

The action is run in the build job and that starts the proxy on port `12321`:
http

[2022-03-18 11:08] lhotari commented on #14401
@yaalsn  I'm sorry I edited your original question accidentially when replying.

[2022-03-18 11:09] lhotari commented on #14401
I have rebased the Pulsar CI refactoring and it's now in tested at https://github.com/lhotari/pulsar/pull/59 . There are multiple changes that need to be done before it can be opened as a PR to apache/pulsar .

[2022-03-18 11:14] lhotari commented on #14401
Here's an example of how the main workflow could look like: https://github.com/lhotari/pulsar/blob/lh-github-actions-workflow-refactoring-2022/.github/workflows/pulsar-ci.yaml

[2022-03-18 11:43] #12858 closed

[2022-03-18 14:15] codelipenghui commented on #14220
@nicoloboschi I have reverted this one in branch-2.8

[2022-03-18 14:23] yaalsn commented on #14401
Now https://github.blog/changelog/2021-11-23-github-actions-cache-size-is-now-increased-to-10gb-per-repository/

Even so, the Github action cache still has a limit of repository and It seems that the cache may be expired when the workflow is running. So I think using cache is not reliable but we can have a try first.

[2022-03-18 16:23] utahkay commented on #14736
@codelipenghui That's fair, but the brokers are only receiving something like one message a second, so there should be very little CPU required. The CPU usage grows steadily and appears unrelated to my light workload, which stays constant.

[2022-03-18 18:51] michaeljmarshall opened #14751 "Create Vagrant Image for MacOS 10.14 to build Python Client"
**Is your enhancement request related to a problem? Please describe.**
When releasing 2.8.3, I discovered that we do not have a vagrant image for MacOS 10.14. Without that image, we cannot create a python client for that target OS.

**Describe the solution you'd like**
Create an image, or figure out an alternative way to build the python client for MacOS 10.14.

**Additional context**
Related issu

[2022-03-18 18:53] michaeljmarshall commented on #14751
@merlimat @codelipenghui @eolivelli - The MacOS 10.14 image is not available. I could not build the 2.8.3 Python Client for MacOS 10.14. It looks like there are several issues where users are asking for such a version. I created this issue to raise visibility about this missing image. Both of these URLs currently result in a 404.

https://app.vagrantup.com/apachepulsar/boxes/osx-10.14-python-dev/v

[2022-03-18 19:51] michaeljmarshall commented on #13429
@oversearch - is it reasonable to remove the `-Wno-error=cpp` option? Or should we pursue the branching logic based on the compiler? I can remove the option, but I'm not familiar enough with C++ to create a separate branch in the build process. I tried to add an option to ignore unknown options, but that option is itself not universal to all compilers, so that PR's build failed due to an unknown o

[2022-03-18 21:08] ZiyaoWei opened #14755 "Create and publish nightly docker images"
**Is your enhancement request related to a problem? Please describe.**
Currently Docker Hub only contains release images for Pulsar. This makes doing CI for dependent repos harder, since they wouldn't be able to test again the bleeding edge easily, and has lead to issues such as https://github.com/apache/pulsar-client-go/issues/748 where it's unclear which Pulsar change caused the issue.

(The lin

[2022-03-18 21:08] ZiyaoWei commented on #14755
I'd be happy to work on it.

[2022-03-18 21:30] eolivelli commented on #14751
Also it is not clear to me how do we maintain those images.
Is there any documentation?
In theory they are under the control of the Pulsar PMC

[2022-03-18 21:40] michaeljmarshall commented on #14751
That would make sense. During the community meeting yesterday, @merlimat mentioned that the vagrant images are hard to build, and that we're missing several versions of MacOS. It seems that we probably need to take a closer look at this part of our build/release process.

[2022-03-18 23:15] eolivelli commented on #14755
Thank you @ZiyaoWei

Please start a discussion on dev@pulsar.apache.org with your proposal

[2022-03-19 04:56] codelipenghui commented on #14736
@utahkay I see. Looks like the CPU is used by the metadata validation, maybe. I think we can capture the thread CPU usage by `top -Hp` to see which thread consumed the CPU.

[2022-03-20 04:10] ethqunzhong commented on #14298
thx a lot.  can you help me review this pr
https://github.com/apache/pulsar/pull/14200

[2022-03-20 08:55] BewareMyPower opened #14762 "Client must configure AuthenticationTls even if Authentication using TLS is not enabled"
**Describe the bug**
When I followed the [official tutorial](https://pulsar.apache.org/docs/en/security-tls-transport/) to configure transport encryption using TLS, I found the [example code](https://pulsar.apache.org/docs/en/security-tls-transport/#cli-tools) doesn't work.

It worked after I configured the `AuthenticationTls` at client side, i.e.

[code]

However, I only configured the TLS transp

[2022-03-20 11:20] BewareMyPower commented on #14762
It looks like without Authentication for TLS, we need to generate a cert and a key with any common name.

So I think a solution could be generating a cert and a key with a random generated common name when `tlsTrustCertsFilePath` is configured.

[2022-03-20 13:55] BewareMyPower commented on #14762
The current document is wrong. Maybe we should update the documents first. Then we might need to make a discussion about if there is a need to generate the cert and key automatically.

[2022-03-20 15:32] BewareMyPower opened #14765 "TLS authentication doesn't work"
**Describe the bug**
Even if a specific super user role is configured with TLS authentication, any role could pass the authentication. This behavior makes the authentication meaningless.

**To Reproduce**
Use the scripts in the last section of the issue to generate certs and keys.

Steps to reproduce the behavior:
1. Go to the Pulsar 2.9.1 project directory (here we use`/tmp/apache-pulsar-2.9.1`)

[2022-03-21 02:09] Technoboy- commented on #13989
More details and discussions are in the email thread. and after diving into the code, we push #14730 to resolve the current problem.  So now we decide to close this PIP.

[2022-03-21 02:09] #13989 closed

[2022-03-21 03:12] #13054 closed

[2022-03-21 03:25] wuxuanqicn commented on #13620
@lhotari
this problem will be seen when one thread invoke original method while other thread creating stub for the same method. A simple reproducer can be used at https://github.com/mockito/mockito/issues/2599

there are plenty of async task in plusar, for instance metadata event process
https://github.com/apache/pulsar/blob/577c2dc8d853d4b74c1c5711179196c2bb7bf86e/pulsar-broker/src/main/java/org/

[2022-03-21 03:32] Technoboy- commented on #14762
I'm now working on the authorization part (#14639), its related to authentication. so I will take some time for diving into this.

[2022-03-21 03:33] Technoboy- commented on #14765
I'm now working on the authorization part (#14639), its related to authentication. so I will take some time for diving into this.

[2022-03-21 07:08] nodece commented on #14765
I can also track this issue.

[2022-03-21 07:24] zcola opened #14767 "Need an api interface for the process to start working normally for rolling restart of pulsar"
The official website documentation tells us that we can restart one by one after the canary test.

But in extreme cases, is it possible that the updated broker process starts too slowly or crashes shortly after startup?

Therefore, when we make operation and maintenance scripts, we need to consider that once the previous update fails to cancel all update tasks, we need an api for detection and jud

[2022-03-21 07:26] RobertIndie opened #14768 "PulsarAdmin throws NPE when the service url is not set"
**Describe the bug**

PulsarAdmin throws NPE when the service url is not set

**To Reproduce**
Steps to reproduce the behavior:
1. Create a PulsarAdminBuilder with service URL not set
2. It will throws NPE when build the pulsar admin

[code]

**Expected behavior**
Throw IlleglaArgumentException instead of NPE.

[2022-03-21 07:59] lhotari commented on #14401
I fixed a problem in the http-cache-action,  https://github.com/cirruslabs/http-cache-action/pull/2 . I'm running the workflow with that fix included. There might be other issues, but progress is being made.

To understand what the http-cache-action does, there's more information in https://medium.com/cirruslabs/http-caching-for-github-actions-f06c2e4e22e8 .

The source code of the official GitHub

[2022-03-21 08:55] RobertIndie opened #14771 "Flaky-test: ProducerTest. multipleMembers"
ProducerTest.multipleMembers is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/5623352509?check_suite_focus=true#step:8:12390)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
Error:  multipleMembers(org.apache.pulsar.metadata.LeaderElectionTest)  Time elapsed: 1.661 s  <<< FAILURE!
java.lang.AssertionError: expected [Optional[test

[2022-03-21 09:31] leizhiyuan opened #14772 "could we add some hook method to allow users set header in pulsar-admin-client"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the enhancement is.

now , when we use pulsar-admin-client to invoke some rest api

<img width="1559" alt="image" src="https://user-images.githubusercontent.com/2684384/159234831-f96fe5bd-6c30-48ca-a482-4393deda6ddc.png">

we only add auth header to request, but sometimes ,we want to add

[2022-03-21 10:33] nodece commented on #14765
You need to set `authorizationEnabled=true` in `standalone.conf`.

Closed this issue.

[2022-03-21 11:48] gaozhangmin commented on #14771
@RobertIndie  PTAL

[2022-03-21 12:19] #14765 closed

[2022-03-21 12:30] codelipenghui commented on #14772
How will the extra headers be used? The pulsar-admin always request to the broker server, if the broker server does not support the extra headers, only adding at the pulsar-admin side will not help?

[2022-03-21 12:34] codelipenghui commented on #14767
@zcola Looks like you are finding a way to check if the broker is healthy or not?

Maybe https://pulsar.apache.org/admin-rest-api/?version=2.9.1&apiversion=v2#operation/healthcheck can help.

[2022-03-21 13:43] james-bright-helix commented on #14079
Hi @mattisonchao & @Technoboy- , unfortunately I work in a secure env where wouldn't be able to share the logs.
This problem is reproducible both in our real environments and in a local cluster running docker. It does not happen if you are running standalone docker.  We have some minor non-default config in our real environments but this is reproducible on a fresh docker cluster.
I will try to bui

[2022-03-21 14:39] frankjkelly commented on #14329
Bump

[2022-03-21 15:42] lhotari commented on #14401
latest run: https://github.com/lhotari/pulsar/actions/runs/2016939054

[2022-03-21 17:20] batilak commented on #13267
Any progress / solution / work-around for this?

[2022-03-21 19:39] eolivelli commented on #14772
Maybe it may help for some proxy/firewall?

[2022-03-21 21:26] cerebrotecnologico opened #14779 "BadVersionException , unable to consume topic, failing to reconnect"
**Describe the bug**
I am using Pulsar 2.8.0.
 The topic is partitioned, 3 partitions.
 The backlog quota is set to 50h
 The TTL is set to 48h.

This is the second time that we observe this error. The application reads from 5 different topics, but only one topic has been affected twice.

This is the topic with the highest traffic processed by the same application.  (Yet, our app is not really data

[2022-03-22 02:08] Technoboy- commented on #14079
Ok. Besides, you can use the above test, it's in the cluster, not a standalone test.

[2022-03-22 02:56] nodece commented on #14762
We should split the transport and auth for TLS.

For transport, the code can be so like:
[code]

For auth, the code can be so like:
[code]

When using the TLS auth, we don't need to set `tlsCertFilePath("client-ca.pem")` and `tlsKeyFilePath("client-key.pem")`, the `authentication` instead of this.

There have an important thing that if we are using the authentication with the token, we cannot setu

[2022-03-22 02:59] codelipenghui commented on #14779
Hi @cerebrotecnologico thanks for creating the issue, is it able to share the broker logs file? I want to check what happens before the error logs, this will help to investigate the problem.

/cc @hangc0276 @zymap

[2022-03-22 03:59] michaeljmarshall opened #14783 "Clean up Javadoc Warnings"
When Pulsar builds in CI, I can see the below warnings printed out (https://github.com/apache/pulsar/runs/5622671591?check_suite_focus=true):

[code]

If possible, it'd be great to resolve these warnings to clean up the build logs a little.

[2022-03-22 04:09] #14771 closed

[2022-03-22 05:26] BewareMyPower commented on #509
It's because even if `Producer` gone out of the scope,`Client` holds a reference to `ProducerImpl`.

Here is the reproduce code.

[code]

The destruction happens after the `client.close()` is called.

[code]

[2022-03-22 06:23] armandxu opened #14785 "how to setup rack aware in pulsar"

[2022-03-22 06:27] codelipenghui opened #14786 "Transaction not work while disabled topic auto creation"
**Describe the bug**
Follow the documentation to enable transaction https://pulsar.apache.org/docs/en/txn-use/
but if the topic auto-creation was disabled, the transaction feature is not able to use.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a pulsar cluster
2. init the transaction metadata https://pulsar.apache.org/docs/en/txn-use/
3. change the broker.conf to disable the topic

[2022-03-22 07:16] zcola commented on #14767
yes
https://pulsar.apache.org/docs/en/administration-upgrade/ not mentioned

[2022-03-22 07:22] codelipenghui opened #14789 "Transaction not work after disabled schema auto uploading"
**Describe the bug**

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. deploy pulsar cluster
2. enable transaction
3. disabled the schema auto upload
4. start broker and verify the transaction

**Expected behavior**
The transaction should work even if users disabled the schema auto upload

**Additional context**
Version: latest branch-2.9

[2022-03-22 07:26] codelipenghui opened #14790 "Topic stats cannot work with transaction_coordinator_assign topic"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy pulsar cluster
2. Enabled transaction
3. Disabled the topic auto creation
4. init the transaction metadata https://pulsar.apache.org/docs/en/txn-use/
5. Create the missed partitions: bin/pulsar-admin topics create-missed-partitions persistent://pulsar/system/transaction_coordinator_assign
6. get the topic stat

[2022-03-22 07:52] james-bright-helix commented on #14079
@Technoboy- what does runGC() in your test do? also looks like your test doesn't actually fail if the consumer never receives a message. I assume you saw the "received msg" output to confirm it's working?

[2022-03-22 07:57] armandxu opened #14791 "where is the example of network topology script"

[2022-03-22 09:15] #14212 closed

[2022-03-22 09:16] gaozhangmin commented on #14212
Fixes by #14602

[2022-03-22 09:42] armandxu commented on #14468
sorry for reply later,and ensemble size =2, write quorum=2, ack quorum=2,I can not reproduced this case,because i has new problem: broker can not found bookie,but bookie is ready:
![WechatIMG68](https://user-images.githubusercontent.com/7020744/159451952-d2048f3f-2240-4f4f-bb23-6c430b15637d.j
![WechatIMG69](https://user-images.githubusercontent.com/7020744/159451971-d1f218de-a9d2-4f38-bbdd-b894e79

[2022-03-22 09:45] nodece commented on #14733
I submitted https://github.com/apache/pulsar/pull/14798 to support this, could you review this PR?

[2022-03-22 09:49] armandxu opened #14799 "bookie is ready but broker can not fount bookies available"
show the exception :
![WechatIMG69](https://user-images.githubusercontent.com/7020744/159453158-4ef56490-0f6d-40a1-af85-04c31d1c3990.jpeg)
![WechatIMG68](https://user-images.githubusercontent.com/7020744/159453195-92425184-9957-47b4-a4cf-2f231fc86cec.jpeg)

[2022-03-22 09:55] codelipenghui commented on #14767
@zcola Ok, thanks for the update, we will consider to add it the administration upgrade part
/cc @Anonymitaet

[2022-03-22 10:29] #14768 closed

[2022-03-22 11:37] leizhiyuan opened #14800 "metadata-store was blocked by pulsar-backlog-quota-checker"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

[code]

    public synchronized void setupTopicPublishRateLimiterMonitor()

    public synchronized void monitorBacklogQuota() {

there a lock of synchronized,two thread use the same block ,but

[code]

may hold long time,which will block metadata-store for all.

**To Reproduce**
Steps to reproduce the behavior:
1. G

[2022-03-22 11:50] Jason918 commented on #14800
#14782 will remove synchronized from `setupTopicPublishRateLimiterMonitor`

[2022-03-22 11:51] Jason918 commented on #14800
And #14634 already removed synchronized from monitorBacklogQuota.

[2022-03-22 11:53] leizhiyuan commented on #14800
thanks

[2022-03-22 11:53] #14800 closed

[2022-03-22 11:57] codelipenghui commented on #14785
Looks like the pulsar documentation doesn't have a concept about this part. /cc @Anonymitaet

I found a tech blog that contains some concepts about rack ware configurations
[Pulsar Isolation Part III: Separate Pulsar Clusters Sharing a Single BookKeeper Cluster](https://streamnative.io/blog/engineering/2022-01-12-pulsar-isolation-part-3-separate-pulsar-clusters-sharing-a-single-bookkeeper-cluster/

[2022-03-22 12:29] james-bright-helix commented on #14079
@Technoboy- @mattisonchao OK I finally reproduced it on my home machine. The secret sauce is that you have to wait a little bit after the GC before trying to reconnect a consumer. I've pushed a demo project here:

https://github.com/james-bright-helix/pulsar-issue-14079

[2022-03-22 15:21] BewareMyPower commented on #14665
[code]

[code]

It's very flaky.

[2022-03-22 16:55] TheNotary commented on #9579
Yeah I think no one on the team had time to look into it or respond.  I don't use Pulsar at the moment so will just close this.

[2022-03-22 16:55] #9579 closed

[2022-03-22 23:00] halfvector commented on #12465
Ran into this same bug using Pulsar 2.9.1

[2022-03-23 01:02] Raven888888 commented on #12465
I was going to try Pulsar 2.9.1 to see if it gets resolved, hearing from @halfvector puts a stop for me...

[2022-03-23 01:22] #14609 closed

[2022-03-23 01:27] #14455 closed

[2022-03-23 02:02] armandxu commented on #14785
This is to set rack awareness by command, is there a way to pass the file?

[2022-03-23 02:35] gaozhangmin commented on #14799
Bookie servers num should be greater than `ensembleSize` in broker.conf.

[2022-03-23 02:44] BewareMyPower commented on #7800
Close this issue since it is supported now.

[2022-03-23 02:44] #7800 closed

[2022-03-23 02:49] #7479 closed

[2022-03-23 03:20] 704237006 opened #14812 "400 appears when start sink"
**Describe the bug**
download [apache-pulsar-2.9.1-bin.tar.gz](https://www.apache.org/dyn/mirrors/mirrors.cgi?action=download&filename=pulsar/pulsar-2.9.1/apache-pulsar-2.9.1-bin.tar.gz)

simple start with standalone  and without other config:
./pulsar-daemon start standalone

my sink config is:
![image](https://user-images.githubusercontent.com/42430068/159616858-a0ac9cec-8ca0-4e2a-9ad5-455eed38d

[2022-03-23 03:25] momo-jun commented on #13617
@Anonymitaet can you pls help re-assign the issue to @mattisonchao? He will check updates on this issue.

[2022-03-23 05:26] lhotari commented on #14401
The workflow refactoring is now ready. I'll prepare a PR to apache/pulsar.

Here's a screenshot of the combined workflow:
![image](https://user-images.githubusercontent.com/66864/159629905-da466f2d-4769-4b3d-b0c1-c16ee3315e27.png)

[2022-03-23 05:45] yaalsn commented on #14401
@lhotari Thanks for your contribution! Please @ me in the PR and I'll take a look.

[2022-03-23 06:01] yaalsn commented on #14751
@michaeljmarshall @codelipenghui @BewareMyPower Is it necessary for us to build pulsar c++ in the specific macOS version? If so, how about using the cmake parameter `MACOSX_DEPLOYMENT_TARGET`?

[2022-03-23 06:24] BewareMyPower commented on #14751
I think it depends on the compiler.

I'm not sure which compiler the older macOS uses. But it looks like this flag doesn't work for Clang. See https://stackoverflow.com/questions/25352389/what-is-the-difference-between-macosx-deployment-target-and-mmacosx-version-min

[2022-03-23 06:35] #509 closed

[2022-03-23 06:53] Anonymitaet commented on #13617
@momo-jun sure. Done.

[2022-03-23 07:20] armandxu commented on #14799
the num of bookie is 3 ,emsembleSize is 3, and all bookies is read-write.
the broker and bookie is  on the same VM is ok,but broker and bookie  is on the diffrent VM is not ok

[2022-03-23 07:42] liangjianwen commented on #10054
I had the same problem with version 2.8.1 of Pulsar. What is the final solution to this issue?

[2022-03-23 08:17] liangjianwen opened #14817 "[2.8.1]In Geo-Replication, "Failover" mode subscriptions consume messages repeatedly."
**Describe the bug**
I have Geo replicated Pulsar clusters: Cluster-A and Cluster-B. Consumer 1 subscribes to Cluster-A, and Consumer 2 subscribes to Cluster-B. Consumer 1 and Consumer 2 have the same subscription name and use the "Failover" mode.

When I start consumer 1 first, consume a message and ACK. Consumer 2 is started after 30 seconds, and it is found that consumer 2 has repeatedly consum

[2022-03-23 08:53] BewareMyPower commented on #14665
It can be reproduced easily in local env as well.

[code]

It looks like to be a bug of C++ client.

[2022-03-23 10:00] Technoboy- commented on #14817
Set consumer `replicateSubscriptionState=true`

[2022-03-23 10:14] liangjianwen commented on #14817
My code is already like this. But still doesn't work correctly.  Below is my code:
[code]

[2022-03-23 10:40] lhotari commented on #14401
@yaalsn Please review #14819

[2022-03-23 11:32] momo-jun commented on #7314
Status update: @RobertIndie will submit a PR to resolve the issue.

[2022-03-23 12:41] zengguan opened #14820 "[broker] parameter "loadBalancerOverrideBrokerNicSpeedGbps" does not work"
**Describe the bug**
machine：tencent Cloud Virtual Machine，CVM
os: tencent os tlinux 2.6
i wanna set `loadBalancerOverrideBrokerNicSpeedGbps=9` to limit bandwidthout, but it does not work because `org.apache.pulsar.broker.loadbalance.impl.LinuxBrokerHostUsageImpl  getNics()` get two nics，one is physical Nic eth1，another one is virtual Nic veth51f9d919

**To Reproduce**
Steps to reproduce the behav

[2022-03-23 14:10] paladin-dalao commented on #13267
NO

[2022-03-23 14:29] ZiyaoWei opened #14821 "TableViewImpl leaking internal state via accessors"
**Describe the bug**

Currently TableViewImpl methods that access the underlying map, e.g., TableViewImpl::KeySet() (https://github.com/apache/pulsar/blob/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/TableViewImpl.java#L141) returns views of the underlying map, which means users could modify the returned value and accidentally change the internal state of TableViewImpl.

**To R

[2022-03-23 14:30] ZiyaoWei commented on #14821
cc: @nlu90 since we discussed this via Slack

[2022-03-23 14:31] freeznet opened #14822 "Functions Java Runtime cannot log exceptions to log topic"
**Is your enhancement request related to a problem? Please describe.**
When using `context.getLogger().error("error message", exception)`, only the `error message` appears in the log topic. It will be great to have the exception been logged as well.

**Describe the solution you'd like**
Let exception been formatted and append into the message in `logAppender`

[2022-03-23 15:08] BewareMyPower commented on #14665
I've added some logs and simplify the test to following code.

[code]

The logs are:

[code]

It should be noted that `ClientConnection::connectTimeoutTask_` can be accessed by multiple threads. If `ClientConnection::close` is called before the `ClientConnection::handleTcpConnected`, the `connectTimeoutTask_` would be reset, see https://github.com/apache/pulsar/blob/f7cbc1eb83ffd27b784d90d5d2dea86

[2022-03-23 17:54] BewareMyPower commented on #14714
This issue will be closed once https://github.com/apache/pulsar/pull/14823 is merged. But I'm not very sure the flaky Python tests are all related with the issue. You can reopen this issue if Python tests are still flaky.

[2022-03-23 18:24] michaeljmarshall opened #14824 "Website build is broken"
**Describe the bug**
The build has not passed for the most recent 10 runs. 9 failures were due to timeout. 1 failure was because of a broken master build.

**To Reproduce**
Here are the builds: https://github.com/apache/pulsar/actions/workflows/ci-pulsar-website-build.yaml

Here are the timeouts: https://github.com/apache/pulsar/runs/5653053711?check_suite_focus=true (failed during upload) and htt

[2022-03-23 18:54] GBM-tamerm opened #14826 "Broker freeze for communications in v 2.7.4"
**Describe the bug**
e saw strange behaviour , as broker stopped accepting connections and clients start receiving different exceptions such as : Connection Already Closed ,  Topic not available ,
 exceptions.

 The broker java process itself is up and running,  but curl http ports such as curl broker  metrics stop return anything.

 It is only works when we restart the broker again

 So it seems

[2022-03-23 19:59] #14665 closed

[2022-03-23 22:49] halfvector commented on #12465
@Raven888888 Just tried on a local build of `v2.10.0-candidate-4` and the bug does not reoccur. So looks like its fixed in the upcoming release.

[2022-03-24 01:08] Raven888888 commented on #12465
@halfvector great to hear! I'll definitely try out v2.10 release then. Thanks a bucket!

[2022-03-24 01:57] Technoboy- commented on #14821
I will work on this.

[2022-03-24 02:01] kwenZh commented on #3630
We are hitting a similar issue , Proxy stops working for proxying Broker connections while Admin API proxying keeps working. but directly connect pulsar-broker is normally,  proxy back to normal  when i restart pulsar-proxy

The proxy logs are filled with this type of warnings:
[code]

[2022-03-24 02:24] kwenZh opened #14831 "[Proxy] Pulsar Handshake was not completed within timeout, Proxy stops working for proxying Broker connections while Admin API proxying keeps working ,"
**Describe the bug**

Pulsar Proxy can get into a state where it stops proxying Broker connections while Admin API proxying keeps working.
The proxy logs are filled with this type of warnings:

but directly connect pulsar-broker is normally,

[code]
and back to normally after restart proxy.

i saw the similar issue:
 https://github.com/apache/pulsar/issues/14075
https://github.com/apache/pulsar/pu

[2022-03-24 02:29] kwenZh commented on #14831
pulsar version: 2.8.1

[2022-03-24 02:39] kwenZh commented on #14831
I see the connection count going up all the time in proxy, is it a bug in pulsar2.8.1 ?
[code]

[2022-03-24 02:43] codelipenghui commented on #14817
The subscription snapshot depends on the new message written into the topic, I think you have stopped the producer?

[2022-03-24 02:49] Demogorgon314 commented on #14812
Can you provide the broker-side log, is are any error logs?

[2022-03-24 03:34] dao-jun commented on #14705
In my understanding:

skipListSizeLimit: It means how many entries can be added in a `EntryMemTable`

skipListArenaChunkSize: It means the memory size of a `Chunk`(a heap memory pool, to avoid frequently memory allocation and a lot of memory fragments). When bookie received an entry, the entry exists in `direct memory`, so that it needs to copy into heap memory(Chunk).

skipListArenaMaxAllocSize:

[2022-03-24 04:11] tjiuming commented on #14705
In my understanding:

skipListSizeLimit: It means how many entries can be added in a `EntryMemTable`. Entries will be cached in heap memory first, then async flush into disk.

skipListArenaChunkSize: It means the memory size of a `Chunk`(a heap memory pool, to avoid frequently memory allocation and a lot of memory fragments). When bookie received an entry, the entry exists in direct memory, so tha

[2022-03-24 04:19] michaeljmarshall opened #14837 "[Website] Upgrade crowdin cli to latest version"
**Is your enhancement request related to a problem? Please describe.**
We use crowdin to manage translations of the Pulsar documentation. The crowdin cli client is at least one major version behind. We often timeout when completing uploads and downloads to crowdin.

**Describe the solution you'd like**
We should upgrade cli client versions to get the benefit of its most recent features, like multi

[2022-03-24 04:26] michaeljmarshall opened #14838 "[Website] Stop re-generating client docs based on SNAPSHOT versions"
**Is your enhancement request related to a problem? Please describe.**
We currently generate docs for our clients and tools based on master and publish them under the current snapshot version. This process is not ideal, and it is confusing, as the website URLs are https://pulsar.apache.org/tools/pulsar-client/2.9.0-SNAPSHOT/.

**Describe the solution you'd like**
It'd be better to update the build

[2022-03-24 04:30] michaeljmarshall commented on #14824
It seems the build is temporarily fixed by #14825. That isn't a long term fix though. I think we'll likely want to review #14837.

[2022-03-24 05:01] lhotari commented on #14826
Adding a link to the dev mailing list thread: https://lists.apache.org/thread/tsg8q6xc75605jrs66rvj2f3dhndo5k4

[2022-03-24 05:24] lhotari commented on #14826
@GBM-tamerm Please provide additional information about the environment:
- What Linux distribution and version?
- What Java version?
- Are you running Pulsar as a systemd service or in some other way
  - What are the open files limits for the service?

Setting the open files limits depends on the OS and the way the service is run.
Each TCP/IP connection consumes a file handle and that's why it's n

[2022-03-24 05:39] lhotari commented on #14826
After adjusting the open files limits for the services (and making sure that the settings are effective), I'd also recommend adjusting the TCP/IP keepalive settings. By default, a TCP/IP connection might linger in half closed state for up to 2 hours.

Again, modifying the Linux kernel sysctl settings depend on the OS.
For Ubuntu / systemd, settings can be placed in `/etc/sysctl.d` directory. syste

[2022-03-24 05:40] lhotari commented on #14826
You can find out if there's a lot of connection in half closed state with `netstat -tapn | grep CLOSE_WAIT` or `ss|grep CLOSE-WAIT`.

[2022-03-24 06:09] lhotari commented on #14826
One detail is that Pulsar doesn't use TCP/IP keepalive at the moment. I have created a PR to start a discussion whether it would be useful. That is in #14841 .
Pulsar does have an application level keepalive solution in the Pulsar binary protocol.

[2022-03-24 06:43] #14741 closed

[2022-03-24 06:45] eolivelli opened #14842 "[improvement] Functions: ability to produce KeyValue<GenericRecord,GenericRecord> output"
**Is your enhancement request related to a problem? Please describe.**
Currently (Pulsar 2.10)  if I code a simply Function like this:

[code]

I am able to successfully consume a KeyValue<GenericRecord,GenericRecord> topic (like a topic written by Debezium or the Kafka Source), but I cannot produce to the output topic, because Pulsar sets the key and value type of the KeyValue to byte[].
It seems

[2022-03-24 06:46] eolivelli commented on #14842
I am working on a fix

[2022-03-24 07:49] #14789 closed

[2022-03-24 08:09] lhotari opened #14844 "Flaky-test: TopicTransactionBufferRecoverTest.testTransactionBufferRecoverThrowBrokerMetadataException"
TopicTransactionBufferRecoverTest.testTransactionBufferRecoverThrowBrokerMetadataException is very flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/5671759236?check_suite_focus=true#step:10:614)

[code]

[2022-03-24 08:11] lhotari commented on #14844
@congbobo184 You added the test in #14709. Please fix this test (or remove the test to unblock CI) ASAP since master branch is basically broken at the moment.

[2022-03-24 08:18] #12342 closed

[2022-03-24 08:19] lhotari commented on #14844
another failure from another PR: https://github.com/apache/pulsar/runs/5671648558?check_suite_focus=true#step:10:612 . That's from @freeznet 's PR.

[2022-03-24 09:49] liangjianwen commented on #14817
@codelipenghui
I did not close the producer. However, occasionally consumers repeatedly consume messages.

[2022-03-24 10:12] GBM-tamerm commented on #14826
Thanks Lari ,
I added the additional details you asked ,.
We are not setting LimitNOFILE in our systemctl service and leave it to the default.
systemctl show -p DefaultLimitNOFILE   >> DefaultLimitNOFILE=4096

I will try to run netstat command when the issue happen again.
Our PRD cluster running in an old version 2.3.2 , and does not seem to have this issue we see in 2.7
Also some client reports s

[2022-03-24 10:36] BewareMyPower opened #14848 "Flaky-test: C++ ClientTest.testReferenceCount"
ClientTest.testReferenceCount is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/5656553451?check_suite_focus=true)

[code]

[code]

[2022-03-24 10:43] BewareMyPower commented on #14719
I can reproduce it when the test was iterated for 50 times.

[code]

[code]

[2022-03-24 10:46] dragonls commented on #5284
We had exactly the same issue in 2.7.2.
It happens that when unloading the topic, the topic becomes fenced, and then new producer and new consumer having error `Topic is temporarily unavailable`.
After restarting the broker, the issue resolved.

The broker log:
[code]

There are no logs shows like `Failed to unload topic` or `Successfully unloaded topic`, which means that the unload operation is s

[2022-03-24 11:13] codertmy opened #14849 "C++ Client compile error beacaus of keyword optional is redundant in PaddingDemo.proto"
**Describe the bug**
C++ Client compile error beacaus of PaddingDemo.proto‘s optional is redundant

**Expected behavior**
No compile error when use c++ client

**Screenshots**

<img width="1440" alt="截屏2022-03-23 下午12 48 13" src="https://user-images.githubusercontent.com/49866918/159904110-82819393-743f-46b7-9906-303e9684c213.png">

**Desktop (please complete the following information):**
 - OS: [

[2022-03-24 11:14] codertmy commented on #14849
Suggest delete optional keyword directly of PaddingDemo.proto

[2022-03-24 11:31] Technoboy- commented on #14266
Hi, @codelipenghui , #14570 is fixing for the topic lvel replicator issue.  This issue seems to be the namespace level.

[2022-03-24 12:19] codelipenghui opened #14851 "Return code 500 when getting pending ack internal stats but without any error logs"
**Describe the bug**

From the pulsar-admin:
[code]

From the server side:
[code]

**Expected behavior**
The get pending ack internal stats command should work or give a meaningful error message

**Additional context**
latest branch-2.9

[2022-03-24 12:24] paladin-dalao commented on #13735
@sijie
Is there a conclusion to this question?

[2022-03-24 12:59] codelipenghui opened #14852 "The transaction thread continues consume CPU without any load"
**Describe the bug**

This thread continues to consume the CPU without any load

[code]

The broker logs:

[code]

**Additional context**
latest branch-2.9

[2022-03-24 13:29] lhotari commented on #14831
Thanks for the report @kwenZh . This seems like a similar problem as why I added more logging in #14710 .
I also ended up creating #14713 which deals with some issues that can occur.

@kwenZh Would you be able to collect a thread dump (output from `jstack -l <PID>`), if you are able to reproduce the issue?

[2022-03-24 13:32] lhotari commented on #14831
I also initiated a discussion around enabling TCP/IP keepalive: #14841

[2022-03-24 14:46] BewareMyPower commented on #13849
Finally I have time for this issue now. 😂 Hope I could figure out the reason soon.

[2022-03-24 15:07] #14821 closed

[2022-03-24 15:12] westsource commented on #13224
This issue reproduced in my project

2022-03-24 18:11:22.258  WARN 14265 --- [client-io-306-1] org.apache.pulsar.client.impl.ClientCnx  : [172.31.7.22/172.31.7.22:6650] Got exception java.lang.OutOfMemoryError: Java heap space
        at org.apache.pulsar.shade.io.netty.util.internal.PlatformDependent.allocateUninitializedArray(PlatformDependent.java:286)
        at org.apache.pulsar.shade.io.nett

[2022-03-24 18:51] #14844 closed

[2022-03-24 18:52] lhotari commented on #14844
Fixed by #14846

[2022-03-25 02:11] Anonymitaet commented on #14837
@urfreespace

[2022-03-25 02:32] urfreespace commented on #14837
@michaeljmarshall The latest version of crowdin client is incompatible with docusaurus v1.x, please do not upgrade, And In fact, we used the latest version of crowdin client in our [new website](https://pulsar-next.staged.apache.org/)

[2022-03-25 03:28] #14233 closed

[2022-03-25 03:42] Anonymitaet commented on #14838
Similar to https://github.com/apache/pulsar/issues/13916

I've discussed this issue w/ @tuteng and @urfreespace

in fact, “snapshot” is “release version”, the name “x.x.x-SNAPSHOT”  is inaccurate, we should remove  -SNAPSHOT
this is a known issue and we’ve reported it to the community, but no one has been volunteered to resolve it yet

feel free to fix, thanks

[2022-03-25 04:06] BewareMyPower commented on #13849
I debugged it with `lldb` and sometimes I found an `EXC_BAD_ACCESS`.

[code]

The command is

[code]

The frame is

[code]

[2022-03-25 05:25] BewareMyPower commented on #13849
Another error.

[code]

[2022-03-25 06:24] zymap opened #14861 "Broker OOM when the bookie is slowly to respond and AQ is smaller than WQ"
**Describe the bug**
When there has a bookie is slowly to respond the add entry request, and the AQ is smaller than WQ, broker will OOM.

**To Reproduce**
1. Change the bookkeeper server code to make the add request to delay some times to handle
2. Build the bookkeeper code and replace the version in Pulsar
2. Set the managedLedgerDefaultWriteQuorum bigger than managedLedgerDefaultAckQuorum in the

[2022-03-25 06:28] zymap commented on #14861
https://github.com/apache/bookkeeper/pull/3139 Here has a PR proposal to resolve this issue.

[2022-03-25 07:29] BewareMyPower commented on #14714
Reopen this issue for https://github.com/apache/pulsar/runs/5687970436?check_suite_focus=true

[2022-03-25 08:11] codelipenghui opened #14863 "[Test] org.apache.pulsar.broker.admin.AdminApi2Test in branch-2.9 have multiple failed tests"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. Build from branch-2.9
2. Run all tests of org.apache.pulsar.broker.admin.AdminApi2Test
3. See multiple failed tests

**Expected behavior**
The tests should get passed
The CI should check this test in branch-2.9

**Screenshots**

**Desktop (please complete the following information):**

**Additional context**

[2022-03-25 08:23] gaoran10 opened #14864 "[Bug][Java-Client] Message publishing is stuck"
**Describe the bug**

If the producer enables batch,  the message will add to the batch container first, when the broker state is not `ready`, there is no subsequent logic to send messages in the batch container.

Before PR #14185 there is a timer task to call the method `batchMessageContainer` to send messages in the batch container. The PR #14185 optimize batch flush logic, remove the timer task

[2022-03-25 08:27] shibd commented on #14852
Simple analysis code, Guess the reason of problem.

When `CursorAlreadyClosedException` is encountered, `isreadable = false` should be set directly,No longer rely on `isAutoSkipNonRecoverableData` config, This ends the recovery thread.

https://github.com/apache/pulsar/blob/aef5f6d5e2d44f84c9c358f1d9dd9db1108a9d99/pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/pendingack/impl/MLP

[2022-03-25 08:36] liangyepianzhou opened #14866 "[Transaction]"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2022-03-25 08:47] shibd commented on #14852
@codelipenghui It should have been solved here https://github.com/apache/pulsar/pull/14781

[2022-03-25 08:58] kwenZh commented on #14831
@lhotari
i knew this PR https://github.com/apache/pulsar/pull/14710 , for add more log.  thanks  for your commits.

This may not be a problem. Yesterday, I found that some clients kept trying to retry consuming non-existent topics and repeatedly created client connections, resulting in the number of pulsar-proxy connections being full,pulsar -proxy ulimit is 1048576。 and then this exception occurr

[2022-03-25 08:58] kwenZh commented on #14831
@lhotari
i knew this PR https://github.com/apache/pulsar/pull/14710 , for add more log.  thanks  for your commits.

This may not be a problem. Yesterday, I found that some clients kept trying to retry consuming non-existent topics and repeatedly created client connections, resulting in the number of pulsar-proxy connections being full,pulsar -proxy ulimit is 1048576。 and then this exception occurr

[2022-03-25 09:11] Gleiphir2769 opened #14867 "With nack, the message can only be resent up to 17 times"
**Describe the bug**
Pulsar version: 2.8.2
Client: Java client
We use the feature of pulsar negatively acknowledged for business processing, and found that the nacked message can only be resent at most 17 times. After changing the pulsar cluster and negativeAckRedeliveryDelay parameter, the result remains the same.

**To Reproduce**
Steps to reproduce the behavior:
1. Code
[code]

**Expected behav

[2022-03-25 09:40] lhotari commented on #14831
@kwenZh Can you upgrade to Pulsar 2.8.3 ? It has been recently released. It also includes #13836 which reduces resource consumption significantly when there's a large number of connections. Before that change, 2 threads were created for each connection.

It would be interesting to hear if the problem reproduces with Pulsar 2.8.3 .

[2022-03-25 09:40] GBM-tamerm commented on #14826
I think i see the potential cause for that , i updated the issue description to reflect more details
Too many TCP Connections are in CLOSE_WAIT status in a Pulsar broker causing Disconnection Exceptions and Connection Already Close exceptions in pulsar clients

And majority of the close_ wait connections between broker and bookies

Also i can see alof of occurrence of below exception:
Failed to in

[2022-03-25 12:24] xuesongxs opened #14872 "Pulsar uses a separate JVM configuration for each component"
At present, each component of pulsar uses the configuration of broker JVM, or it has to be set by export, which cannot be solidified. When multiple components are restarted, the original JVM configuration will be lost. So I want each component to use its own JVM configuration file for long-term recording.

[2022-03-25 13:01] codelipenghui opened #14874 "Too many schema ledgers for transaction_buffer_snapshot topic"
**Describe the bug**
[code]

**Additional context**
branch-2.9

[2022-03-25 13:17] codelipenghui opened #14875 "Continues "Connection already closed" for TransactionBufferHandlerImpl"
**Describe the bug**
[code]

**Additional context**
latest branch-2.9

[2022-03-25 14:03] codelipenghui opened #14877 "No value present for branch-2.9"
**Describe the bug**
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Disabled topic auto-creation
2. Do not create topic
3. Create producer to publish messages to non-exist topic
4. See error

**Expected behavior**
Should not print the above stackstrace since topic not found is an expected behavior

**Additional context**
https://github.com/apache/pulsar/commit/f0a2171cbad894cec5bfb2d

[2022-03-25 14:28] codelipenghui opened #14878 "The reader of __transaction_buffer_snapshot did not been closed property"
**Describe the bug**

[code]

From the broker logs:

[code]

Looks like related to the `22:13:28.365 [pulsar-io-16-18] WARN  org.apache.pulsar.client.impl.ConsumerImpl - [persistent://public/default/__transaction_buffer_snapshot][reader-52dbece9b6] Failed to subscribe to topic on /127.0.0.1:6652`

Because after checking the normal reader cleanup in the broker logs

[code]

**To Reproduce**
Don't h

[2022-03-25 14:34] codelipenghui opened #14879 "Producer leak for __transaction_buffer_snapshot topic"
**Describe the bug**
The producer did not been closed after the non-transaction topic created.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. publish and consume transaction messages
2. check the producer of topic __transaction_buffer_snapshot topic, it should be equal to your transaction topic
3. create a partitioned topic
4. use pulsar-perf to produce non-transaction message to th

[2022-03-25 14:45] BewareMyPower commented on #13849
I found this test is just wrong. See https://github.com/apache/pulsar/blob/aef5f6d5e2d44f84c9c358f1d9dd9db1108a9d99/pulsar-client-cpp/tests/ProducerTest.cc#L236-L238

If we changed the code to

[code]

The test will fail because the send results are all `ResultAlreadyClosed`, not only for `i >= closedAt`.

[2022-03-25 15:08] Technoboy- commented on #14867
If you don't config DLQ, the consumer internal will create a default DLQ with redelivering count = 16.

[2022-03-25 15:10] Technoboy- commented on #14867
We will update the related doc later. thanks for your suggestion.
If this helps, please leave some comments and  close the issue.

[2022-03-25 15:20] codelipenghui opened #14880 "The non durable cursor "transaction-buffer-sub" never get closed"
**Describe the bug**

Using pulsar-admin to check the topic internal stats for a transaction topic, you will see the following non-durable cursor.

[code]

But from the source code

[code]

The cursor should be closed after the transaction buffer is recovered.

**Additional context**
https://github.com/apache/pulsar/commit/f0a2171cbad894cec5bfb2d4de31cb8de32a3183

[2022-03-25 15:36] kwenZh commented on #14831
fine，  I will discuss the upgrade to pulasr 2.8.3  with the team ！

i see  the latest version is 2.9.1 in https://pulsar.apache.org

![image](https://user-images.githubusercontent.com/38367518/160152640-737e846a-9aa7-466a-b454-8f5f7a831ed3.png)

and the latest tag is 2.9.2 in github tag

![image](https://user-images.githubusercontent.com/38367518/160152747-17653e7d-e220-45a4-bc40-a3716a2849cf.png)

[2022-03-25 15:48] gaozhangmin commented on #14877
I will check it out, Thx.

[2022-03-25 16:27] codelipenghui opened #14882 "Compaction stop on topic __transaction_buffer_snapshot"
**Describe the bug**

[code]

The broker logs show the the compaction task not able to create reader on original topic:

[code]

The log file
[broker.log](https://github.com/apache/pulsar/files/8352243/broker.log)

**Expected behavior**
The topic compaction should not stop

**Additional context**
https://github.com/apache/pulsar/commit/f0a2171cbad894cec5bfb2d4de31cb8de32a3183

[2022-03-25 16:33] nodece opened #14883 "PIP-150: Support read the message of startMessageId position on the broker side"
Discussion thread: https://lists.apache.org/thread/n3drk2g2oy766qnbtx17knvtssy3tdyl

## Motivation

Currently, the Pulsar-client supports setting the `startMessageId` for Consumer and Reader, and also supports reading the message of `startMessageId` position.

Assume, we have two message id 1,2,3,4 in the topic:

- When we set `earliest` as `startMessageId` value, we can get the message of message

[2022-03-25 17:20] HenriqueFSilva commented on #2499
Hi @0x5e , can you provide the code for the custom c++ authentication plugin you implemented? Thanks in advance

[2022-03-25 18:13] Tlaloc-Es opened #14885 "OauthAutentication doesn't work python-client"
**Describe the bug**
Python Oauth2 doesn't work over streamnative cloud, always return 404, but pulsar-client works

**To Reproduce**
Steps to reproduce the behavior:
1. pipenv install pulsar-client (current 2.9.1)
2. Set your file and configure all as streamnative tell you in their website
[code]
'''

pulsar_producer = pulsar.Client(
    PULSAR_URL, # pulsar+ssl://test.test.snio.cloud:6651
    au

[2022-03-25 18:53] EronWright commented on #14885
The code should strip any trailing slash from the configured `issuerUrl`, and then append `/.well-known/openid-configuration`.  Some issuers have a trailing slash, others don't.  Azure has a wonky issuer URL that doesn't include a trailing slash (and for which normal URL concatenation rules would't work).

[2022-03-25 19:14] EronWright commented on #14885
I feel this issue should remain open until the Python client has been fixed to trim any trailing slash.  Seems @Tlaloc-Es closed it because they're willing to edit their configuration.

[2022-03-26 00:44] codelipenghui commented on #14883
@nodece Need to consider the compatibility of new the version client and old version broker.

[2022-03-26 09:34] codelipenghui opened #14889 "All the consumers get stuck for a broker after enabled transaction"
**Describe the bug**
The pulsar cluster has 3 brokers and 3 bookies, and the broker enables the transaction.
When I use a program to publish and consume messages with transactions on a partitioned topic with 10 partitions

The consumer stats shows only 3 partitions works well for consumption

[code]

After checking the topic ownership

[code]

You can see partition 2,6,8 is owned by `pulsar://127.

[2022-03-26 10:36] 0x5e commented on #2499
AuthCustom.h
[code]

AuthCustom.cc
[code]

@HenriqueFSilva this is the code. I forget the detail and not work in that company now. Hope it can help you:)

[2022-03-27 02:32] Technoboy- opened #14896 "Flaky-test: PartitionedSystemTopicTest#cleanup"
Stack trace
[code]

[2022-03-27 04:11] devinbost commented on #12166
There has been a new release of the RocksDB library that resolves this issue: https://github.com/facebook/rocksdb/issues/7720#issuecomment-1079775484

How quickly can we get this updated in BookKeeper?
@eolivelli

[2022-03-27 09:51] eolivelli commented on #12166
@devinbost this is the patch for Pulsar
https://github.com/apache/pulsar/pull/14886

[2022-03-27 12:26] GBM-tamerm opened #14899 "Consumers are not receiving messages after the upgrade to 2.8.3"
**Describe the bug**
After upgrading from 2.7.4 to 2.8.3 , we see all subscribers are no longer receiving messages , while producers can produce normally.

No errors at consumers side , only log info that consumer has been successfully created for a topic , then wait forever at the receive() call , although producers are producing normally.

This issue happens from java clients and pulsar-perf as

[2022-03-27 12:46] gaozhangmin commented on #14880
I will check it out.

[2022-03-27 13:00] GBM-tamerm commented on #14899
Figure out missing parameters in broker.conf between the two versions , receivers are working fine now.

[2022-03-27 13:00] #14899 closed

[2022-03-27 14:17] Technoboy- commented on #14896
#14897 has fixed this issue.

[2022-03-27 14:17] #14896 closed

[2022-03-27 14:31] Technoboy- commented on #14266
Hi @Chaunceyan , I have pushed #14850 to log for updating namespace. You can cherry-pick to your branch and try to reproduce and paste the broker log here to help troubleshoot the problem.

[2022-03-27 21:24] zzzming commented on #12166
There is also an earlier PR https://github.com/apache/pulsar/pull/14005
An arm64 docker image is needed

[2022-03-28 03:09] leizhiyuan opened #14902 "key_shared subscription will get suck sometimes when add consumers"
**Describe the bug**

key_shared subscription will get suck sometimes when add consumers

when add consumers, sometimes, consumer will receive message very slow or get suck

**To Reproduce**
Steps to reproduce the behavior:

[code]

[code]

[code]
<img width="515" alt="image" src="https://user-images.githubusercontent.com/2684384/160319696-d6ef49c6-7aee-4c1f-a144-10bb645b9492.png">

<img width="52

[2022-03-28 03:18] nodece commented on #14883
@codelipenghui Thanks for your point! The PIP has been updated.

[2022-03-28 07:42] liangjianwen opened #14905 "[2.8.1]Protocol message tag had invalid wire type"
**Describe the bug**
When the producer(java client) sends a message to the Pulsar cluster, the broker log reports an error.
Pulsar clusters are GEO replicated.

**To Reproduce**
Steps to reproduce the behavior:
1. There is a cluster of Pulsar GEO
2. Send a message to Pulsar with a producer
3. See error

**Expected behavior**
The producer can send messages normally.

**Screenshots**

**Desktop (ple

[2022-03-28 08:02] xuesongxs opened #14906 "[Broker] Failed to read speed for nic"
**Describe the bug**
Pulsar v2.8.3

15:53:46.332 [pulsar-load-manager-1-1] ERROR org.apache.pulsar.broker.loadbalance.impl.LinuxBrokerHostUsageImpl - Failed to read speed for nic virbr0-nic
[code]
![image](https://user-images.githubusercontent.com/54351417/160359092-1e02265c-e408-42ab-a1fb-8351c8619507.png)

[2022-03-28 09:33] liangyepianzhou commented on #14790
`persistent://pulsar/system/transaction_coordinator_assign` is only used by lookup, it have not managerLedger.
So this is a normal performance.
you can use `bin/pulsar-admin topics list-partitioned-topics pulsar/system `to check if the metadata of this topic has been created.

[2022-03-28 11:03] frankjkelly commented on #13864
Bump

[2022-03-28 13:52] mattisonchao commented on #14906
Hi, @xuesongxs

I'm not sure what VM are you using? maybe you need to set ``loadBalancerOverrideBrokerNicSpeedGbps ``.

Relative PR: https://github.com/apache/pulsar/pull/14340
@codelipenghui  @eolivelli @lhotari @michaeljmarshall Should we cherry-pick this PR to other active branches?

[2022-03-28 15:05] daniwb opened #14914 "Spaces not trimmed for configuration tlsProtocols"
**Describe the bug**
The Documentation in the configuration for Broker states that this is a valid input:
[code]

When configured as described, the TLSv1.2 will be taken as " TLSv1.2")

**To Reproduce**
Steps to reproduce the behavior:
1. Configure broker.conf with
```tlsProtocols=TLSv1.3, TLSv1.2```
2. Restart Pulsar-Broker
3. Try to connect with Pulsar-Client

2022-03-28T16:44:17,879+0200 logLev

[2022-03-28 16:42] tspannhw opened #14915 "Python Pulsar Function Deployed on 2.9.1"
**Describe the bug**
Function will not run with create, but will work with localrun.

**To Reproduce**

Deploy a python function with logging

**Expected behavior**

Deploy and run.

**Desktop (please complete the following information):**
 - OS: Ubuntu on Intel

ava.lang.RuntimeException: java.lang.RuntimeException: User class must be in class path
        at org.apache.pulsar.functions.runtime.R

[2022-03-28 17:00] #14880 closed

[2022-03-28 19:29] merlimat commented on #12365
Fixed as the `asf-site` updates were all collapsed into a single commit. The total download is now 159.99 MiB

[2022-03-28 19:29] #12365 closed

[2022-03-28 20:25] mlyahmed commented on #14889
Hi @codelipenghui, I would like to take it.

[2022-03-28 22:08] michaeljmarshall commented on #14838
@Anonymitaet - thanks for the other issue reference, I hadn't seen that one. I opened this issue to aggregate several issues, as well as to provide context on how to solve the underlying issue. I fixed the python client documentation in https://github.com/apache/pulsar/pull/14788. I haven't been able to fix any of the other issues yet.

[2022-03-28 23:53] #14864 closed

[2022-03-29 01:08] mattisonchao commented on #14878
Hi, @codelipenghui
Could you offer a full log to help find the root cause?
Thanks~

[2022-03-29 02:10] Technoboy- commented on #14914
You should config it with `tlsProtocols=[TLSv1.3, TLSv1.2]`

[2022-03-29 02:31] Technoboy- commented on #14914
I will work on it.

[2022-03-29 02:47] Technoboy- commented on #14914
We have fixed this by https://github.com/apache/pulsar/pull/13984.  You can wait for 2.9.2 or cherry-pick #13984 your local branch.
Thanks.

[2022-03-29 02:47] #14914 closed

[2022-03-29 02:58] RobertIndie opened #14917 "[Doc] Need fix on Geo Replication chapter"
### What issue do you find in Pulsar docs?

In the doc, it says there are three producers, but there are only two.
![Uploading image.png…]()

### What is your suggestion?

We may need to fix it in this image:  https://pulsar.apache.org/docs/assets/full-mesh-replication.svg

### Do you have any references?

https://pulsar.apache.org/docs/en/next/concepts-replication/

### Would you like to fix this

[2022-03-29 03:06] momo-jun commented on #14917
Thanks @RobertIndie for reporting this issue. I'll update the illustration.

[2022-03-29 05:18] Chaunceyan commented on #14266
Ok, will try to reproduce the issue

[2022-03-29 08:11] huangzx3 opened #14923 "Disk space is not freed"
## Disk space is not freed, is this normal? If it is normal, how long will it take to release?

![image](https://user-images.githubusercontent.com/34366684/160564536-b9d16aa8-90bd-4572-b521-9da911cf8da2.png)

![image](https://user-images.githubusercontent.com/34366684/160564483-d0c0945d-231b-417f-8ac8-a061890cb858.png)

[2022-03-29 08:19] #14812 closed

[2022-03-29 08:54] Technoboy- commented on #14817
@codelipenghui @liangjianwen @mattisonchao
I have checked that https://github.com/apache/pulsar/pull/14017 is not cherry-picked to branch-2.8.

[2022-03-29 08:54] Anonymitaet commented on #8602
Done in https://github.com/apache/pulsar/pull/8432

[2022-03-29 08:54] #8602 closed

[2022-03-29 08:57] Technoboy- commented on #14882
Hi @codelipenghui
This is because: when do compaction, the compactor will do seek, and cause itself to reconnect.
We can avoid log if the sub is `__compaction`.
@mattisonchao

[2022-03-29 08:57] lbenc135 commented on #14534
@lhotari Sorry for the delay. We're using Maven and the solution with `pulsar-client-original` and Netty dependency management worked with `openjdk:14-alpine`. Thanks for the tip!

[2022-03-29 09:09] liuqt25 opened #14926 "C + + client batch consumption submission offset"
**Describe the bug**
Hello, I just send messages in batches and set batchenabled to true. During the test, it is found that in the C + + client, when receiving a single consumption, when the whole batch is not consumed, the offset cannot be submitted. You must consume the whole batch and call acknowledgecumulative to submit the offset effectively.

**To Reproduce**
Steps to reproduce the behavior:

[2022-03-29 09:27] zcola opened #14927 "After using ns-isolation-policy, topics unload is invalid, only namespace unload is valid"
**Describe the bug**
After using ns-isolation-policy, topics unload is invalid, only namespace unload is valid

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - pulsa

[2022-03-29 09:47] huangzx3 commented on #14923
![image](https://user-images.githubusercontent.com/34366684/160584010-3e166fc0-9c2e-4d2e-b2df-5fd319caae9d.png)

[2022-03-29 10:36] Anonymitaet opened #14928 "[feat][website] REST API URL does not go to the correct place"
All REST API URL on Pulsar documentation has this issue.

Website: https://pulsar.apache.org/docs/en/next/admin-api-tenants/

<img width="1542" alt="image" src="https://user-images.githubusercontent.com/50226895/160593074-f088dabc-d181-4c55-afc5-fd88e4235efb.png">

@urfreespace thinks the anchor does not work correctly but we have not figured out how to solve this issue

Anyone would like to fix i

[2022-03-29 10:43] huangzx3 commented on #14923
# It is automatically deleted after 4 hours of storage, but the disk is still the original size

![image](https://user-images.githubusercontent.com/34366684/160594145-eeff8c4a-7551-4c35-8d5a-ec02aced1cc6.png)
![image](https://user-images.githubusercontent.com/34366684/160594182-6599efdd-e957-4897-a8cc-f9083a5569c9.png)

[2022-03-29 11:24] Technoboy- commented on #14927
I will try to reproduce.

[2022-03-29 11:45] JueShanCoder opened #14931 "Abount add TDengine Connector to Pulsar."
I would like to contribute a TDengine connector to Pulsar.

Let me briefly introduce what a [TDengine](https://tdengine.com/) is.
TDengine is a high-performance, distributed time series database that supports SQL.
With TDengine, the total cost of ownership of typical IoT, Internet of Vehicles, and Industrial Internet big data platforms can be greatly reduced.

About Pulsar IO TDengine Connector, i

[2022-03-29 12:17] Gleiphir2769 opened #14932 "Schema.json: Type not supported: object"
**Describe the bug**
We use schema to send messages, and the creation fails during the process of creating the producer. The error log is: caused by org.apache.avro.SchemaParseException: Type not supported: object.  We suspect that there is a problem with Schema.json(). When we change a topic, the log no longer reports an error.

Pulsar: v2.8.2

**To Reproduce**
Steps to reproduce the behavior:
1.

[2022-03-29 12:36] Gleiphir2769 commented on #14867
Thanks, it's well done. I will close this issue.

[2022-03-29 12:36] #14867 closed

[2022-03-29 13:53] tspannhw opened #14934 "Twitter Source Working and Documentation"
**Describe the bug**
Twitter source never retrieves messages.   Perhaps change in twitter api.

Also documentation is missing two key values

e:   https://github.com/apache/pulsar/blob/master/pulsar-io/twitter/src/main/java/org/apache/pulsar/io/twitter/TwitterFireHoseConfig.java
  @FieldDoc(
        required = false,
        defaultValue = "",
        help = "A comma separated list of user IDs, in

[2022-03-29 14:44] leizhiyuan opened #14935 "when allowAutoTopicCreation=false , resource group limit will fail to start"
**Describe the bug**
A clear and concise description of what the bug is.
https://github.com/apache/pulsar/wiki/PIP-82%3A-Tenant-and-namespace-level-rate-limiting

when allowAutoTopicCreation=false , resource group  limit will fail to start

**To Reproduce**
Steps to reproduce the behavior:

add

[code]

then start broker

[code]

starting broker needs this non-persistent topic exists, but only thi

[2022-03-29 16:03] dlg99 opened #14936 "pulsar-io Sinks & Sources tests fail (flake?) with "Failed to open ledger""
**Describe the bug**

"CI - Integration - Pulsar-IO Sinks and Sources / pulsar-io" job fails on multiple PRs and fail on re-runs.
Failed integration test seems to not be affected by the changes in the PR per se.

Most commonly I see testRabbitMQSink failures, but sometimes testKinesis or testKafka.

Example PRs: https://github.com/apache/pulsar/pull/14922 https://github.com/apache/pulsar/pull/1491

[2022-03-29 16:17] eolivelli commented on #14936
In integration tests we run the bookies and the brokers in docker containers.
maybe there is some leak ?
cc @lhotari @nicoloboschi

[2022-03-29 16:54] nicoloboschi commented on #14936
Maybe related to the recent pull https://github.com/apache/pulsar/pull/14796
btw the containers shutdown is handled in the same way for every tester

[2022-03-29 22:30] #14879 closed

[2022-03-30 00:37] huangzx3 commented on #14923
[code]
## Is it related to TNX files?

[2022-03-30 01:19] huangzx3 commented on #14923
[code]
## My understanding is whether it is related to these two parameters. When 10g is reached, TxN and log files will be deleted

[2022-03-30 01:40] xuesongxs opened #14937 "reconsumeLater can't receive message while restart all brokers"
**Describe the bug**
Pulsar v2.8.1/v2.8.3
Consumer running in real time, reconsumeLater can't receive message while restart all brokers.
![image](https://user-images.githubusercontent.com/54351417/160737523-6d3bda77-226b-478c-81ed-026455c0bebc.png)

Cluster:
1 broker
3 bookies

**To Reproduce**
Steps to reproduce the behavior:
1. create consumer:
[code]
2. create producer:
[code]
3. start consumer

[2022-03-30 01:49] Technoboy- commented on #14935
I will work on this issue.

[2022-03-30 03:07] #14923 closed

[2022-03-30 03:37] michaeljmarshall commented on #14837
@urfreespace - thank you for the context. I opened this issue to discuss what I noticed about the website build and some failures. If we've already upgraded in the new website, then we can close this issue.

[2022-03-30 04:06] michaeljmarshall commented on #13363
@suiyuzeng - you mention that you're running 2.8.2, but that version wasn't released when you opened this issue. Can you double check which version of broker and client where you're seeing this issue? Also, which client are you using (java, go, python, etc.)?

@lhotari observed this behavior and fixed a race condition just this week: https://github.com/apache/pulsar/pull/13428. That patch won't be

[2022-03-30 04:19] michaeljmarshall commented on #12281
@cbornet - I just ran your test 4 times against a recent version of master, and it passed every time. Is there a chance that the behavior was fixed?

[2022-03-30 05:21] poorbarcode commented on #14863
All unit test passed on my computer.

![test passed](https://user-images.githubusercontent.com/25195800/160756813-eed65881-379c-43ad-b337-8e0835fca08b.png)
![all test passed](https://user-images.githubusercontent.com/25195800/160756826-e512efd9-8473-4535-8f7e-83b75a4324b7.png)

[2022-03-30 06:56] lightzhao opened #14941 "Topic is temporarily unavailable"
**Describe the bug**
When the leader node tries to unload the topic and times out, the node where the topic is located will display Topic is temporarily unavailable。
version:2.8.1
topic type:persistent
<img width="1378" alt="image" src="https://user-images.githubusercontent.com/40714172/160769955-c7803baf-4e36-40f2-b0a0-9c2af31c5403.png">
<img width="1377" alt="image" src="https://user-images.gith

[2022-03-30 07:04] suiyuzeng commented on #13363
@michaeljmarshall We have changed to the release version. It is not present any more. Thanks very much.

[2022-03-30 07:04] #13363 closed

[2022-03-30 07:21] RobertIndie opened #14942 "[CI] `Auto Labeling` failed"
**Describe the bug**
The `Auto Labeling` sometimes failed. See [here](https://github.com/apache/pulsar/actions/workflows/ci-documentbot.yml?query=is%3Afailure)
 It should not fail. Instead, It should leave a comment on the PR if there is something wrong.
**To Reproduce**
Steps to reproduce the behavior:
1. Create a PR
2. May result in `Auto Labeling` workflow failure

**Expected behavior**
Should

[2022-03-30 07:25] keyboardbobo opened #14943 "maxBatchSize preallocated memory may be thousands of times larger than actual message length"
**Is your enhancement request related to a problem? Please describe.**
Guys, during the stress test, we found that the client's memory is very large, and even Full gc appeared. After analyzing the dump file, we found that the memory space occupied is much larger than the actual message, and the serialization of 1KB of messages takes up 1MB.
[code]

`maxBatchSize = Math.max(maxBatchSize, uncompress

[2022-03-30 08:57] sbourkeostk opened #14946 "[Doc] Regression in pulsar CLI docs"
### What issue do you find in Pulsar docs?

The new style pulsar CLI docs do not show the required arguments. Example from the new style docs for pulsar-admin:

It does not display the required `topic` argument. This is just an example. As far as I can see, all required arguments are missing throughout the documentation.

### What is your suggestion?

Fix or revert docs back to previous style.

##

[2022-03-30 10:32] poorbarcode commented on #14927
It's been try in two version: tag-2.9.1 and master

Could not reproduce.

[2022-03-30 12:08] Technoboy- commented on #14927
Hi @zcola ：
It's better to share the broker log when unload topic doesn't work.

[2022-03-30 12:14] poorbarcode commented on #14937
Let me try

[2022-03-30 13:04] Technoboy- commented on #14935
Thanks for reporting this issue. @leizhiyuan

[2022-03-30 14:00] #14369 closed

[2022-03-30 14:06] lhotari opened #14951 "Pulsar SQL won't start with Java 11.0.14.1"
**Describe the bug**

Pulsar SQL won't start with Java 11.0.14.1 .

This is the errror message in `/pulsar/lib/presto/var/log/launcher.log`
[code]

**To Reproduce**

1. Use Java 11.0.14.1
2. Try to run `/pulsar/bin/pulsar sql-worker start`

**Expected behavior**

Java 11.0.14.1 should be supported

[2022-03-30 14:15] Technoboy- commented on #14652
https://github.com/apache/pulsar/pull/14017 is not cherry-picked to branch-2.7.
You can try to cherry-pick this patch to your local to test if this works.

[2022-03-30 15:41] #14401 closed

[2022-03-30 16:41] lhotari commented on #14951
This is the line of code where the "Cannot parse version 11.0.14.1" comes from:
https://github.com/trinodb/trino/blob/d239bb4c038124742bed07654dd73c257becc780/presto-main/src/main/java/io/prestosql/server/JavaVersion.java#L76

[2022-03-30 16:45] lhotari commented on #14951
It seems that the problem can be addressed by upgrading Trino to version 334 since that contains a commit where JavaVersion class was removed: https://github.com/trinodb/trino/commit/e7eeeedcc9751c022ffb9df648ee5442cd421c32

[2022-03-30 19:51] michaeljmarshall opened #14956 "YAMLLoadWarning in bin/gen-yml-from-env.py script"
**Is your enhancement request related to a problem? Please describe.**
When running `bin/gen-yml-from-env.py` to configure a function worker, I see the following warning:

**Describe the solution you'd like**
We should not use a deprecated loader.

[2022-03-31 01:56] leizhiyuan opened #14957 "Direct Memory Leak when TooManyRequestsException occurs"
**Describe the bug**
A clear and concise description of what the bug is.

when TooManyRequestsException occurs, direct memory of pulsar will leak

![image](https://user-images.githubusercontent.com/2684384/160960514-053bdb12-ab82-4d6a-a7db-9671ce251f51.png)

**To Reproduce**
Steps to reproduce the behavior:
1. start standalone with

1.1  modify LocalBookkeeperEnsemble  to reproduce  TooManyRequest

[2022-03-31 01:58] sijie commented on #14905
@liangjianwen is this a new cluster? or did you upgrade from an older version?

[2022-03-31 02:59] momo-jun commented on #13760
@RobertIndie @Anonymitaet I think this issue can be closed.

[2022-03-31 03:01] #13760 closed

[2022-03-31 03:15] gaozhangmin commented on #14943
I have a doubt, How to achieve `precisely allocate`?

[2022-03-31 05:21] mattisonchao commented on #13946
@ronfarkash
Sorry for the late reply, I will check it and try to reproduce it.

[2022-03-31 06:30] keyboardbobo commented on #14943
Whether it is possible to loop through the messages to be packaged and add their sizes to accurately calculate the size of the memory to be allocated？

[2022-03-31 06:58] eolivelli commented on #14073
fixed by #12212

[2022-03-31 06:58] #14073 closed

[2022-03-31 06:58] lhotari opened #14961 "RocksDB upgrade to 6.29.4.1 breaks Bookies"
**Describe the bug**

RocksDB upgrade to 6.29.4.1 (#14886) breaks Bookies. Here's an example of log entries:

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run Pulsar IO integration tests
2. Wait for the tests to fail
3. Check container logs for bookies

**Expected behavior**

Pulsar should use a RocksDB version that is compatible with Bookkeeper.

[2022-03-31 06:59] eolivelli commented on #11274
fixed by https://github.com/apache/pulsar/pull/11636

[2022-03-31 06:59] #11274 closed

[2022-03-31 07:00] eolivelli commented on #9899
now you can use Sink<GenericObject> and in case of KeyValue you will get the KeyValue object in record.getValue().getNativeObject()

closing

[2022-03-31 07:00] #9899 closed

[2022-03-31 07:01] #9578 closed

[2022-03-31 07:01] #8374 closed

[2022-03-31 07:01] #8673 closed

[2022-03-31 07:03] lhotari commented on #14936
Will be fixed by #14962

[2022-03-31 07:20] lhotari commented on #12166
Upgrading RocksDB requires compiling the recompiling the code that uses Rocksdb. The library cannot simply be swapped. We need a new Bookkeeper release with the upgraded version. I have reverted the Rocksdb upgrade in #14962 .

[2022-03-31 07:26] lhotari commented on #14961
RocksDB broke binary compatibility in 6.17.3 release. explained in https://github.com/apache/pulsar/pull/14962#issuecomment-1084192562

[2022-03-31 07:27] lhotari commented on #12166
RocksDB broke binary compatibility in 6.17.3 release. explained in https://github.com/apache/pulsar/pull/14962#issuecomment-1084192562

[2022-03-31 07:31] eolivelli opened #14967 "[Doc] Create documentation about Monitoring of Tiered Storage"
### What issue do you find in Pulsar docs?

There is no documentation about Tiered Storage operations and monitoring.

This is basically because we still don't have enough features to allow easy operations.

### What is your suggestion?

We should add a new section about this topic.

### Do you have any references?

Relevant PRs:
https://github.com/apache/pulsar/pull/14966
https://github.com/apach

[2022-03-31 07:37] #11527 closed

[2022-03-31 07:49] congbobo184 commented on #14790
https://github.com/apache/pulsar/pull/14965 will fix this issue

[2022-03-31 08:31] 1559924775 opened #14969 "topic policys not effective"
**Describe the bug**
Not allowed to set/get topic policy for a partition
<img width="799" alt="3f1d7617925a98372fa5bebf253d250c" src="https://user-images.githubusercontent.com/35036009/161012016-2510eebe-c497-4d47-be88-fa8cea290704.png">

But use the partition name to get the policy
<img width="1038" alt="4c424a9a7307ee327e0802a59f50531f" src="https://user-images.githubusercontent.com/35036009/161

[2022-03-31 08:38] 1559924775 commented on #14969
Should be revised to：
TopicName cloneTopicName = topicName;
        if (topicName.isPartitioned()) {
            cloneTopicName = TopicName.get(topicName.getPartitionedTopicName());
        }

[2022-03-31 08:53] #14936 closed

[2022-03-31 08:53] #14961 closed

[2022-03-31 08:59] shibd commented on #14863
@poorbarcode  Hi, It's this unit test [AdminApiTest2](https://github.com/apache/pulsar/blob/branch-2.9/pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java),  I find 5 fail test:
- brokerNamespaceIsolationPoliciesUpdateOnTime
- namespaceAntiAffinity
- testDistinguishTopicTypeWhenForceDeleteNamespace
- testForceDeleteNamespace
- testMaxTopicsPerNamespace

[2022-03-31 11:19] xuesongxs commented on #14937
Can you reproduce it？

[2022-03-31 11:26] xuesongxs commented on #14937
only 1

[2022-03-31 11:27] poorbarcode commented on #14937
Hao many bookie count have you started ?

[2022-03-31 11:27] xuesongxs commented on #14937
3 bookies

[2022-03-31 11:30] poorbarcode commented on #14937
I'll try to set up a same environment

[2022-03-31 12:13] Technoboy- commented on #14969
Ah , this is broker side internal to update topic policy. it's ok, because it registers as `brokerService.getPulsar().getTopicPoliciesService()
                    .registerListener(TopicName.getPartitionedTopicName(topic), this)`;
But it doesn't allow user to set different partition with different policies.

[2022-03-31 12:51] poorbarcode commented on #14937
The problem was reproduced .  But only if  "topicName" is exactly the same as "subscriptionName", just like this:
[code]

[2022-03-31 15:54] frankjkelly commented on #14459
Hello @tjiuming have you been able to make any progress on this? Thanks! CC: @sijie

[2022-03-31 16:21] lhotari commented on #14951
A possible workaround would be to pass `-Djava.version=11.0.14` to the Pulsar SQL process. That would prevent the issue which prevents Pulsar SQL from starting.

[2022-03-31 16:42] tjiuming commented on #14459
@frankjkelly Hi frank, I had created the pr (https://github.com/apache/pulsar/pull/14742) weeks ago and it's in reviewing now

[2022-03-31 16:48] frankjkelly commented on #14459
Great - thanks @tjiuming. @sijie is it possible to get some eyes on that PR and then maybe we could seek to backport it to some prior maintenance releases?

[2022-03-31 17:42] #13929 closed

[2022-04-01 02:00] liangjianwen commented on #14905
@sijie This problem is caused by my improper manipulation of bookie metadata. I will close this issue. Thank you for your help.

[2022-04-01 02:01] #14905 closed

[2022-04-01 04:01] leizhiyuan commented on #14957
thanks for the help of @hangc0276
this only occurs in 2.7.2

branch 2.7.2 and master cannot reproduce.

[2022-04-01 04:02] #14957 closed

[2022-04-01 05:34] lhotari commented on #14961
"There is no guarantee of Binary Compatibility between RocksDB versions, I am afraid you will have to recompile."
https://github.com/facebook/rocksdb/commit/1001bc01c9ea06785c2d5261ca9fe7ac0eac0625#r70067997
/cc @nicoloboschi

[2022-04-01 05:36] lhotari commented on #12166
"There is no guarantee of Binary Compatibility between RocksDB versions, I am afraid you will have to recompile."
https://github.com/facebook/rocksdb/commit/1001bc01c9ea06785c2d5261ca9fe7ac0eac0625#r70067997

[2022-04-01 05:51] lhotari commented on #12166
We need a new BookKeeper release with support for a newer RocksDB since the version cannot be upgraded without recompiling the source code.

The RocksDB upgrade was discussed in the Pulsar community meeting on March 31st ([meeting notes](https://lists.apache.org/thread/tq7dsws72zf9r7qzr4l567z9w346ksbm), thank you @michaeljmarshall ).

Standalone works on Arm machines (particularly MacOS). Part of

[2022-04-01 05:57] eolivelli commented on #12166
Let's keep the BK discussion in BK project

[2022-04-01 08:56] xuesongxs opened #14982 "acknowledgmentAtBatchIndexLevelEnabled will still receive duplicate messages when unload topic"
**Describe the bug**
Pulsar v2.8.3
acknowledgmentAtBatchIndexLevelEnabled will still receive duplicate messages

**To Reproduce**
Steps to reproduce the behavior:
1. Set acknowledgmentAtBatchIndexLevelEnabled=true in broker.conf
2. Create consumer:
[code]
3. Create producer and send 100 msgs:
[code]
4. 100 msgs in 1 backlog
![image](https://user-images.githubusercontent.com/54351417/161229419-14eb

[2022-04-01 09:14] Jason918 commented on #14982
Is it reproduced on master branch?
Do you plan to work on a fix? @xuesongxs

[2022-04-01 09:20] xuesongxs commented on #14982
I tested it on the 2.8.3 branch, the same should be true for the master branch, I won't fix this.

[2022-04-01 09:26] zy857189690 opened #14983 "Pulsar Perf OutOfDirectMemoryError: failed to allocate 16777216 byte(s) of direct memory (used: 28621930496, max: 28631367680)"
Use version 2.7.4
Use pressure test command ：
pulsar-perf produce persistent://zy-tenant/zy-namespace/zy-topic -threads 10 -n 10 -r 50000
I use three machines for pressure measurement, and each machine produces 50000 messages per second

![image](https://user-images.githubusercontent.com/42372535/161235007-475a4c81-7fbb-4d1a-b742-7876d2300f23.png)

After the pressure measurement command runs for a

[2022-04-01 09:29] zy857189690 commented on #14983
zy-topic 50 partition , double replica

[2022-04-01 09:30] 704237006 opened #14984 "attempt to update the table failed"
**Describe the bug**

**To Reproduce**
Steps to reproduce the behavior:
1. A topic is defined, which has the same structure as the table in SQL server.
2. Define a sink and try to update the data in the SQL Server table. Use the following configuration。
![image](https://user-images.githubusercontent.com/42430068/161235889-690d7fec-8989-4929-90b4-019789ec8657.png)
3.The error is as follows.
![cf7e1

[2022-04-01 09:43] liguangcheng commented on #10054
To sum up: There are two conditions for subscription replication between multiple sites in pulsar 2.8:

Continuous traffic data between two sites
Close message deduplication in broker.conf

[2022-04-01 10:17] polyzos opened #14987 "[Doc] Pulsar-Admin docs miss some new features"
### What issue do you find in Pulsar docs?

[code]
There are some commands included in the **pulsar-admin** that are note included in the docs like **packages**, **proxy-stats**, **resource-groups** and **functions-worker**
https://pulsar.apache.org/tools/pulsar-admin/2.9.0-SNAPSHOT/

### What is your suggestion?

They should be documented as its hard to understand what they do

### Do you have an

[2022-04-01 10:24] #14877 closed

[2022-04-01 11:09] #14719 closed

[2022-04-01 13:39] MMirelli opened #14990 "[Tiered Storage] Objects from `persistent/healthcheck` topic are offloaded"
**Describe the bug**

Data in `persistent://pulsar/<host>:8080/healthcheck` is offloaded.

**To Reproduce**

1. Deploy pulsar using the DS helmchart and setting the property `storageOffload.managedLedgerOffloadAutoTriggerSizeThresholdBytes` to a low number (e.g. 1000);
2. ingest an arbitrary number of messages into a topic `public/default/test`;
3. wait for the ledger rollover time to elapse;
4. c

[2022-04-01 13:40] MMirelli commented on #14990
I plan to address this issue asap.

[2022-04-01 22:32] cerebrotecnologico commented on #4988
As a workaroud, I used ```createAsync()```

[code]

[2022-04-02 01:31] Anonymitaet commented on #14987
@polyzos could you please rename the issue (to let others know the issue clearly)? Thanks

[2022-04-02 01:32] Anonymitaet commented on #14987
- resourcegroups, proxy-stats: I search them on GitHub but no result. I ask the platform engineer team, no one knows when they were added to Pulsar. Community may help if they see the issue.

- packages:  [it was added from 2.8.0](https://github.com/apache/pulsar/pull/8816), so it should be shown on https://pulsar.apache.org/tools/pulsar-admin/2.9.0-SNAPSHOT/

[2022-04-02 01:53] Jason918 commented on #14982
Because mark delete info is persistent periodically and it's not triggered when topic unloads?

[2022-04-02 02:01] Technoboy- commented on #14990
Already make sense, I will work on this.

[2022-04-02 02:37] golden-yang commented on #12421
This issue has been resolved in subsequent releases.

[2022-04-02 02:37] #12421 closed

[2022-04-02 02:37] #12174 closed

[2022-04-02 02:51] vivekkrj commented on #4988
I did solve this long time back using a different design model.

[2022-04-02 03:27] RobertIndie opened #15001 "Flaky-test: SimpleProducerConsumerTest. testRedeliveryFailOverConsumer"
SimpleProducerConsumerTest.testRedeliveryFailOverConsumer is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/5791051168)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
      java.lang.AssertionError: expected [4] but found [0]
at org.testng.Assert.fail(Assert.java:99)
at org.testng.Assert.failNotEquals(Assert.java:1037)
at org.tes

[2022-04-02 04:02] cerebrotecnologico commented on #4988
Would you mind sharing it?

[2022-04-02 07:41] gaozhangmin commented on #14932
@Gleiphir2769
 You said "This error is originated when we updated a the schema class"
 What's the way you updated schema. By `pulsara-admin` ? the type object shouldn't be happen.

[2022-04-02 08:36] Gleiphir2769 commented on #14932
Thanks for reply. We changed the schema code and restart producer. I think the new schema will be created when the new producer starting. But this error occured and new producer can't be started. So  I use restapi to check schema info and found the schema with object type. Hope my description is clear enough.

[2022-04-02 09:53] liufbox opened #15007 "About proxy support in Client Lookup phase"
In some scenarios, the client lookup also needs to access the network through HTTP or socks proxy. The current version does not support. I fork a version that supports this feature. Is it possible to incorporate it into the pulsar code?

My fork url:
https://gitee.com/liufbox/pulsar.git

[2022-04-02 12:01] xuesongxs commented on #14982
I unloaded or stopped the broker 5 minutes after the ack of the first 99 messages was completed. Even if I write index asynchronously, 5 minutes should be enough, but there is still a problem.

[2022-04-03 13:50] #14935 closed

[2022-04-03 17:05] BewareMyPower commented on #14926
We might need a catchup for batch index ACK in C++ client. See https://github.com/apache/pulsar/wiki/PIP-54:-Support-acknowledgment-at-batch-index-level.

[2022-04-04 03:55] #14783 closed

[2022-04-04 04:01] #15001 closed

[2022-04-04 04:51] horizonzy opened #15018 "Client produce timeoutException error msg tweak."
**Describe the bug**
When ProducerImpl send msg timeout before org.apache.pulsar.client.impl.ProducerImpl.OpSendMsg#updateSentTimestamp, the error msg is not match the fact.

**Detail info**
When `OpSendMsg` before flush, the `firstSentAt` and `lastSentAt` would be `-1`.
So OpSendMsg sendComplete with TimeoutException, the errMsg's calculated logic would lead `firstSentAt` and `lastSentAt` not mat

[2022-04-04 07:23] #14917 closed

[2022-04-04 11:29] whisust commented on #14148
Same.
I need to upgrade to 2.8.0, dev on macos and the CI build is on Linux.
I can't do this because:
- `pulsar-client==2.8.0` can not be used locally due to the dynamic linking error (which triggered `2.8.0.post0`, but works on CI
- `pulsar-client==2.8.0.post0` can be used locally, but does not exist in the CI build

[2022-04-04 11:33] whisust commented on #13864
Same issue here, intell macbook, python 3.8, I have to do installation hacks to have a working version on my machine and one for the CI

[2022-04-04 16:11] frankjkelly commented on #11269
bump - not urgent for us but without "Run as non-root" we are forced to maintain our own mirror of Pulsar and re-apply the changes to the Dockerfile to force it to run as non-root user so we can pass our docker image scans. (NOTE: we don't use functions).

[2022-04-04 19:11] poorbarcode commented on #14863
You're right. I used the wrong branch: "origin/branch-2.9", doesn't pull the latest updates.

Thanks.

[2022-04-04 19:15] dlg99 opened #15027 "Having two KeyValue classes is confusing"
**Describe the bug**

We have `org.apache.pulsar.common.schema.KeyValue` and `org.apache.pulsar.io.core.KeyValue`.

io.core.KeyValue is available within pulsar-io only.

common.schema.KeyValue location makes it sound as it is a schema-specific and not the type of value to be expected in e.g. pulsar-io.

**Expected behavior**

Getting rid of `io.core.KeyValue` in lieu of `common.schema.KeyValue` lo

[2022-04-04 20:12] eolivelli commented on #15027
My understanding is that io.core.KeyValue is like a "Pair" class, a container of two values.

schema...KeyValue is a core class in the Pulsar Schema API, it is mapped by KeyValueSchema.

We could drop  io.core.KeyValue and let people use another class, like Pair<K,V>

[2022-04-04 20:18] tsturzl commented on #14435
I'm happy to submit a fix for this issue, but I'd wondering what others think is the correct thing here? Do change the behavior to match what's in the docs  or fix the docs to represent the current behavior? I'm leaning towards the prior.

[2022-04-05 01:33] leizhiyuan opened #15028 "when pulsar message was spitted some tcp segment, Wireshark plugin cannot parse correctly"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the enhancement is.
we use pulsar wireshark plugin analysis, sometimes we find it can not parse correctly.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
modify the wireshark pulsar plugin
use https://www.wireshark.org/docs/wsdg_html_chun

[2022-04-05 01:35] mattisonchao commented on #15027
Agree with @eolivelli

[2022-04-05 15:13] NadirJ opened #15032 "[Monitoring - Broker] - Need a metric to track how many consumers are connected and consuming from a given subscription"
**Description**
I'm monitoring Pulsar and I would like the ability to monitor how many consumers are connected and subscribing from a given subscription.

Right now this metric already exists for topics`pulsar_consumers_count`

It tells how many consumers are connected to a given topic/partition.

I would like a similar metric for subscriptions, i.e `pulsar_subscription_consumers_count`

Specifica

[2022-04-05 16:28] lhotari commented on #14106
Related to #11433

[2022-04-05 22:00] michaeljmarshall commented on #11269
@frankjkelly - the 2.10.0 release will be with a non-root docker image: https://github.com/apache/pulsar/pull/13376. I forgot to close this issue when we merged that PR--I'll close it now.

Note also that you can build any published/official version of Pulsar with this modified `Dockerfile`: https://gist.github.com/michaeljmarshall/d3b9aea4180c519836fd3cb7627bc137. You'll still need a fork of the

[2022-04-05 22:00] #11269 closed

[2022-04-06 00:34] #12488 closed

[2022-04-06 01:34] #14837 closed

[2022-04-06 02:15] tjiuming commented on #15032
@codelipenghui  I’d like to handle the issue

[2022-04-06 02:17] tjiuming commented on #15027
maybe change `io.core.KeyValue`'s class name to `io.core.Tuple2` is better

[2022-04-06 02:27] tjiuming commented on #14943
How about use `CompositeByteBuf`, allocate small memory and let it grow.   @codelipenghui  Could you please assign it to me?

[2022-04-06 04:09] BewareMyPower opened #15035 "[Doc] Java client examples for protobuf native schema"
### What issue do you find in Pulsar docs?

The [ProtobufNative example of Java client](https://pulsar.apache.org/docs/en/client-libraries-java/#protobufnativeschema-example) links to https://pulsar.apache.org/docs/en/schema-understand/#complex-type but there are no examples code for Java client.

Currently, users can find some examples in https://github.com/apache/pulsar/pull/8372. But they are n

[2022-04-06 04:31] nodece commented on #13734
Activate this.

[2022-04-06 04:40] BewareMyPower opened #15036 "[C++] Schema version not added to a message"
**Describe the bug**
When a message was sent to a topic with protobuf native schema by C++ client, the message won't have a schema version.

**To Reproduce**
First, run the C++ unit test to send a message to a topic named `ProtobufSchemaTest-testEndToEnd`.

[code]

We can query the topic's schema is already `PROTOBUF_NATIVE` now.

[code]

Then, run following Java application code, which also sends

[2022-04-06 05:22] Demogorgon314 opened #15037 "PIP-151: Use the system topic to store the bundle load data"
## Motivation

Currently, Pulsar LoadManager is using Zookeeper to store the bundle load data, when we have many bundles, this might put a lot of pressure on Zookeeper.

## Goal

This PIP proposes storing the load manager's bundle load data to a system topic and using TableView to read it.

## Implementation

Since the bundle load data is stats data, it no needs a strong consistent guarantee. So w

[2022-04-06 06:17] archmangler commented on #12003
[code]

I have also been getting this error consistently and can reproduce it by:

1. Running the Golang client reader once to connect to pulsar.
2. Cancelling the client
3. Try rerun the client

Error:

[code]

Here is my client (run on  the pulsar tool container)

[code]

[2022-04-06 06:26] leizhiyuan opened #15038 "produce message supports rate limit in fail-fast"
**Is your feature request related to a problem? Please describe.**

now if one topic was rate limited, we will use disableCnxAutoRead, which will not read data from buffer.
one topic sends a message in t1, we disabled then, and in t2, we start to read, and processed (maybe t2-t1 > the timeout of users)

but when we processed in t3, when we send result to producer, it is timeout.

**Describe the so

[2022-04-06 06:54] lhotari commented on #13788
#14261 and #15031 might resolve the issue shown in the description.

[2022-04-06 07:22] #14990 closed

[2022-04-06 07:51] Vanchhay opened #15039 "[Transaction] Retry transaction immediately when fails without waiting for timeout"
**Is your feature request related to a problem? Please describe.**
I have an application which is required exactly_once which Transaction addresses this problem quite well.
But the application also need to process each transactions orderly [T1, T2, T3, ... etc]. In case transaction fails to commit, we want to retry the Transaction again right away.
Unfortunately Transaction doesn't support this as

[2022-04-06 09:58] liangjianwen commented on #10054
@liguangcheng Got it, thanks.

[2022-04-06 10:15] liangjianwen commented on #14817
@Technoboy-
Thank you for your reply. The "brokerDeduplicationEnabled" value in my broker is false, which is not the same problem that #14017 solves. Anyway, thanks again for your reply.

[2022-04-06 11:46] nicoloboschi commented on #14220
@codelipenghui I cherry-picked again and it fails again https://github.com/apache/pulsar/runs/5847872746?check_suite_focus=true

[2022-04-06 13:10] mattisonchao opened #15043 "[WIP] Track the progress of PIP-149-Making the REST Admin API fully async"
### Motivation

This issue is used to track the progress of [PIP-149 Making the REST Admin API fully async](https://github.com/apache/pulsar/issues/14365).

**We should check this PIP first to know our purpose and then push PR to refactor.**

**Each group, consisting of 2~4 methods, referring to the rules of [PIP-149](https://github.com/apache/pulsar/issues/14365) to submit only one patch to fix.*

[2022-04-06 14:04] archmangler opened #15045 "reader-fd3917723f, 0] Failed to create consumer: BrokerPersistenceError"
**Describe the bug**

Connecting to pulsar with a Golang code example results in the following error:

[code]

Complete context:

[code]

I have been getting this error consistently when using the example Golang code for a Reader (here: https://pulsar.apache.org/docs/en/2.3.1/client-libraries-go/#readers).

To recover, I need to restart the brokers with something like:

[code]

**To Reproduce**

S

[2022-04-06 14:20] tjiuming commented on #15045
Actually, it depends. Most of this error should be happened in `ledger ops` or `cursor ops`. Broker side should has error/warning log and you can check it.

[2022-04-06 14:27] archmangler commented on #15045
Thanks @tjiuming for your response. On the broker side I see this:

[code]

[2022-04-06 14:40] tjiuming commented on #15045
No stack trace. Can you find stacktrace in `pulsar/logs` directory?

[2022-04-06 14:46] Technoboy- commented on #15045
The stack trace may be optimized by JVM. Could you please share more broker logs around this time ? or you can grep broker logs to find NPE error.

[2022-04-06 14:56] archmangler commented on #15045
Hi @tjiuming  - attached is  a broker log, after 1  run of the reader script, followed by a ctrl-c, then 3 attempts to connect using the reader script again: https://rentry.co/zpa29

[2022-04-06 15:07] tjiuming commented on #15038
seems that there are no back pressure control in client side? Generally, before send a message, client needs to ensure `channel` is writable(io.netty.channel.Channel#isWritale).

[2022-04-06 15:11] Technoboy- commented on #15045
This issue has been fixed by https://github.com/apache/pulsar/pull/12297. You can cherry pick to your local branch or upgrade to 2.7.5.

[2022-04-06 15:17] tjiuming commented on #15045
The issue was fixed.    I think the deep reason is unstable network,  I noticed `Consumer#close` is triggered by `Channel#inactive`

[2022-04-06 15:30] archmangler commented on #15045
@tjiuming  I can reproduce the issue at will by ctrl-c of the client after a read, it's as if the client does not terminate properly , leaving the broker in an inconsistent state:

See demonstration below:

- Run script:
[code]

- Rerun script:

[code]

- Restart brokers. Then run  again (NOTE: I always see `Failed to close consumer: ConnectError`) : on the first rurn

[code]

Run  multiples more:

[2022-04-06 15:52] tjiuming commented on #15045
You can close client in defer scope and retry. Seems it's netty's feature. In some situation, Channel#inactive will be invoked more than once.

[2022-04-06 16:33] poorbarcode opened #15050 "Broker registered the same consumers"
**Describe the bug**

If the client tries to subscribe multiple times over a short period of time, it is possible to have more than one same consumer at the same dispatcher( see #14970 ). just like this:

[code]

Because there's something wrong with the `ServerCnx.handleSubscribe`:

[code]

After problem , execute `GET /admin/v2/persistent/public/default/my-topic/stats`, response:

[code]

Close t

[2022-04-06 19:28] frankjkelly commented on #11269
Awesome that's great news @michaeljmarshall yeah we have our own Mirror where we've done manual changes to the Dockerfile but are excited to have a version coming where we won't have to do that anymore. Thanks for your leadership on this!

[2022-04-06 19:49] Tlaloc-Es opened #15052 "Consumer doesn't consume"
**Describe the bug**
After call `consumer.negative_acknowledge(msg)` a lot suddenly the consumer doesn't consumer any message, I change the cursor name several times but didn't work.

The new consumers were created with

[code]
or with
[code]

**To Reproduce**
[code]
**Expected behavior**
Consume messages, and consume all messages from the earliest position.

**Screenshots**
If applicable, add scr

[2022-04-06 21:57] dlg99 commented on #15027
@tjiuming it is marked as Public/Stable, I cannot just drop it and rename, we'll have to deprecate it.

[2022-04-06 22:03] dlg99 commented on #15027
@eolivelli @mattisonchao please look at https://github.com/apache/pulsar/pull/15053

[2022-04-07 02:15] BewareMyPower commented on #14714
[Another test failure](https://github.com/apache/pulsar/runs/5854461931?check_suite_focus=true)

[code]

Attach these logs to locate where it crashed.

[2022-04-07 02:18] momo-jun opened #15055 "[Doc] Add doc for chained authentication"
### What issue do you find in Pulsar docs?

As raised by @BewareMyPower, there is no doc related to chained authentication in the doc set.

### What is your suggestion?

Add doc for chained authentication.

### Do you have any references?

No PIP or any other inputs yet.

The PR that related to chained authn can be traced back to #9094, but chained authn exists prior to it.
The change in #9094 is

[2022-04-07 03:29] tjiuming commented on #15045
I read broker side source code yesterday, it's just a simple issue, upgrade broker to higher version can fix it.

[2022-04-07 03:40] tjiuming commented on #15038
@leizhiyuan  I'd like to handle the issue and I’ll send a discuss to community.

[2022-04-07 04:00] Technoboy- commented on #14817
The description that #14017 is not accurate, I have updated that description.
Only `brokerDeduplicationEnabled=false` will trigger the NPE.

[2022-04-07 04:26] tjiuming commented on #15038
I've read the issue carefully, there is one question:
     When broker disable auto-read, how could broker know reply ServerError to which request? Those requests pending in buffer and they even not be read.
     Actually, in client side already has flow-control, when there are too many requests in pending,  new requests will be rejected directly.

[2022-04-07 04:29] tjiuming commented on #15038
You mean when broker in rate-limit, provide a new strategy, fail-fast instead of disableAutoRead?

[2022-04-07 04:33] leizhiyuan commented on #15038
yes，then cleint can know they are limited，maybe they will receive an exception （ratelimtexception）

[2022-04-07 04:35] tjiuming commented on #15038
It  makes sence, I'd like to handle it

[2022-04-07 04:45] poorbarcode commented on #13787
@xuesongxs Do you see the same thing happening here #15050

[2022-04-07 05:04] #14937 closed

[2022-04-07 05:04] xuesongxs commented on #14937
The problem can be solved by using try catch.

[2022-04-07 05:49] gaozhangmin commented on #15007
@liufbox  Please submit a pr directly. You code will be reviewed.

[2022-04-07 05:52] gaozhangmin commented on #14984
The error is very obvious. duplicate key found, no related with pulsar function.

[2022-04-07 06:00] Technoboy- commented on #14817
Can you provider any broker logs  that around the issue time ?

[2022-04-07 06:04] gaozhangmin commented on #14932
@Gleiphir2769  I cannot reproduced this issue. Please let me know how to reproduced If you can.

[2022-04-07 06:08] freeznet opened #15057 "Functions worker failed to start when no leader is available"
**Describe the bug**

When no functions worker been elected as the leader, the `getLeader` returns `null` and causes NPE in LeaderService. See detailed exception below:

[code]

[2022-04-07 06:44] poorbarcode commented on #14863
these problem has fixed at master, but has not cherry-pick to branch-2.9

- In this PR #13644, these tree problem fixed
  - fixed `brokerNamespaceIsolationPoliciesUpdateOnTime`
  - removed test-case: `testDistinguishTopicTypeWhenForceDeleteNamespace`
  - fixed `testMaxTopicsPerNamespace`
  - fixed `namespaceAntiAffinity`
  - fixed `testForceDeleteNamespace`

[2022-04-07 06:45] poorbarcode commented on #14863
these problem has fixed at master, but has not cherry-pick to branch-2.9

- In this PR #13644, these tree problem fixed
  - fixed `brokerNamespaceIsolationPoliciesUpdateOnTime`
  - removed test-case: `testDistinguishTopicTypeWhenForceDeleteNamespace`
  - fixed `testMaxTopicsPerNamespace`
  - fixed `namespaceAntiAffinity`
  - fixed `testForceDeleteNamespace`

[2022-04-07 07:02] zcola commented on #14927
Hello, I didn't take a closer look at your reproduction, but it seems that it is not 3 nodes but a single machine with standalone? I will reproduce the log and extract it later, I am busy and sorry

[2022-04-07 07:31] HQebupt opened #15060 "duplicate calculation in replication cluster metric: pulsar_replication_rate_in and pulsar_replication_throughput_in"
**Describe the bug**
I set up 3 geo replication clusters: ClusterA ClusterB ClusterC. Only Producer P1 in ClusterA producer some messages. ClusterB and ClusterC will sync the messages from ClusterA. And I found the metric `pulsar_replication_rate_in` in Cluster B and Cluster C are double `pulsar_rate_in` in Cluster A. Also, the `pulsar_replication_throughput_in` in Cluster B and Cluster C are doub

[2022-04-07 07:48] congbobo184 commented on #15039
https://github.com/apache/pulsar/issues/13405 will fix this problem

[2022-04-07 08:07] archmangler commented on #15045
I've run the upgrade  using the helm chart (it's at revision 3 now):

[code]

However, with a fresh run:

[code]

Second run:

[code]

[2022-04-07 13:41] mattisonchao commented on #15052
Hi @Tlaloc-Es

Could you provide more information about this issue?
like broker version, client language, client version and broker logs.

[2022-04-07 14:35] fmiguelez opened #15070 "Reader unusable: Exclusive consumer is already connected"
**Describe the bug**
We have a topic with a more or less complex AVRO schema and quite a few messages on it (38345) . We read the topic completely using Reader interface.

This has been **tested on 2.7.4**.

The first time we create the Reader everything goes fine. The second time we manage to read all messages but some error messages are seen on Pulsar log (tested on standalone, but the same situ

[2022-04-07 14:38] AlvaroStream opened #15071 "[Doc] No cluster name needed for publish a message"
### What issue do you find in Pulsar docs?

Seems there is a note not needed after the command to publish a message

https://pulsar.apache.org/docs/en/deploy-bare-metal/

![IssueDoc](https://user-images.githubusercontent.com/102966649/162222286-2a772a38-e06d-4ff8-a6d9-73ff57d167a8.png)

I have a different name cluster and it works properly without adding any value to the pulsar-client.

### What i

[2022-04-07 15:02] BewareMyPower commented on #15036
After applying the patch of #15072, the output became

[code]

[2022-04-07 15:09] liangyepianzhou opened #15073 "[PIP-153] Optimize metadataPositions in MLPendingAckStore"
## Motivation
**This optimization is to optimize a map in MLPendingAckStore to save memory and avoid OOM.**
Now, there is a map (metadataPositions) in MLPendingAckStore, which value is the max position acked by an operation and key is the position which is persistent in pendingAck.And the map is used to clear useless  data in PendingAck.
It will judge the position with the max sub cursor position

[2022-04-07 15:12] BewareMyPower commented on #15036
I also tried to use `AUTO_CONSUME` schema to consume messages from C++ client now.

[code]

The output is

[code]

So it works well now.

[2022-04-07 16:32] b0mbays opened #15074 "Failing to build Alpine wheel"
**Describe the bug**
Hello, I’m trying to build a python wheel that will be used to install the pulsar-client inside an Alpine docker container. I'm aware there are no published alpine wheels available as when trying to install the pulsar-client with:

`pip install pulsar-client`

I get:

`ERROR: Could not find a version that satisfies the requirement pulsar-client (from versions: none)
ERROR: No

[2022-04-07 22:20] zbentley commented on #12555
This no longer repros on 2.9.1. Thanks for the fix!

[2022-04-07 22:20] #12555 closed

[2022-04-07 22:21] zbentley commented on #12553
This *does* still repro on 2.9.1.

[2022-04-07 22:21] zbentley commented on #12552
This no longer repros on 2.9.1. Thanks for the fix!

[2022-04-07 22:21] #12552 closed

[2022-04-07 22:23] zbentley commented on #12551
I can't quite repro this on 2.9.1 any more, though some other possibly-equivalent errors do still occur. I'll close this issue since it's quite old, and will open a new one if we can't get to the bottom of those other errors.

[2022-04-07 22:23] #12551 closed

[2022-04-07 22:31] zbentley opened #15078 "[2.9.1] With partitioned topics, the Python client returns UnknownError in some cases when it should return a specific error class"
**Describe the bug**
The Python client raises `_pulsar.UnknownError: Pulsar error: UnknownError` in cases when client logs indicate a specific exception code (for which there is already a specific error subclass) was recieved.

**To Reproduce**
0. Create a Client object with a Python logger that emits at INFO and above (e.g. `logging.getLogger()`).
1. Create a persistent topic with a backlog polic

[2022-04-07 22:31] zbentley commented on #12557
This is reproducible on 2.9.1, though I'm not sure if the underlying cause is the same as it was before. It's possible that one or more issues preventing immediate consumer-connect were resolved, and a more garden-variety issue is now occurring but is being obscured by incorrect error reporting (https://github.com/apache/pulsar/issues/15078).

[2022-04-08 02:07] #15057 closed

[2022-04-08 02:33] 704237006 opened #15079 "debezium MySQL problem"
**Describe the bug**
1. The default connection of debezium MySQL should be kept active. However, if the table data does not change after a period of time, it will not be active and the data will not be collected.

2. Restart the debezium MySQL source connector.  the offset cannot be found, and it will be collected in full.

[2022-04-08 02:35] 704237006 commented on #14984
This configuration key = "Id", isn't it an updated configuration?

[2022-04-08 04:23] tjiuming commented on #15070
This issue seems already fixed by https://github.com/apache/pulsar/pull/12297, you can upgrade to 2.7.5 and test again

[2022-04-08 04:35] #15036 closed

[2022-04-08 07:51] gaozhangmin commented on #14852
Fixes by #14781

[2022-04-08 07:51] #14852 closed

[2022-04-08 07:52] BewareMyPower commented on #15078
It looks like it works well in my env (macOS, Python 3.9, latest code from master branch).

[code]

I modified the C++ code to make producer creation always fail.

[code]

The Python script is

[code]

[2022-04-08 08:22] sikangliu commented on #14906
@xuesongxs Have you solved the problem yet? I had the same problem with the new version

[2022-04-08 09:07] leizhiyuan opened #15086 "GetMessageById add RedeliveryCount for output"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the enhancement is.

now GetMessageById  will not print RedeliveryCount ,sometimes , we need to check this info to ensure is there any reliver  for solving some problem.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

add an output in Get

[2022-04-08 09:40] xuesongxs commented on #14906
set loadBalancerOverrideBrokerNicSpeedGbps manually.

[2022-04-08 09:41] xuesongxs commented on #14906
for example:
loadBalancerOverrideBrokerNicSpeedGbps=20

[2022-04-08 09:44] sikangliu commented on #14906
@xuesongxs What does this value do? What are the values based on? How big is the appropriate setting?Can you explain that

[2022-04-08 22:57] dlg99 opened #15091 "Flaky-test: org.apache.pulsar.metadata.LockManagerTest updateValueWhenKeyDisappears flakes"
`org.apache.pulsar.metadata.LockManagerTest` `updateValueWhenKeyDisappears` is flaky. It passes occasionally but more often it fails.

It passes if I revert https://github.com/apache/pulsar/pull/13911
[code]

All tests in `org.apache.pulsar.metadata.LockManagerTest` pass if I revert the PR.
@shibd It is easy to submit a PR to revert your change but can I ask you to repro this?
I tested on latest m

[2022-04-09 00:44] merlimat commented on #13278
@thecodeway @sarimak @holdlg Closing this since we now have 3.10 packages available

[2022-04-09 00:44] #13278 closed

[2022-04-09 04:43] JanVosNL commented on #15074
Python bindings for Apache Pulsar is available on Alpine Linux

[code]

[2022-04-09 04:47] JanVosNL commented on #13278
@thecodeway

Python bindings for Apache Pulsar is available on Alpine Linux

[code]

[2022-04-09 04:51] JanVosNL commented on #9731
@kelvinlong

Apache Pulsar C++ client is available on Alpine Linux

[code]

[2022-04-09 04:52] merlimat commented on #15074
@b0mbays Support for building Alpine wheels was added recently in #15016. The wheels for 2.9.1 are available from PyPI: https://pypi.org/project/pulsar-client/2.9.1/#files

The wheels tagged with `musllinux` are the one that would be picked up by Alpine.

[2022-04-09 04:53] JanVosNL commented on #12623
@b0mbays

Apache Pulsar C++ client is available on Alpine Linux

[code]

[2022-04-09 08:19] Jason918 opened #15094 "[PIP-152] Support subscription level dispatch rate limiter setting."
## Motivation

Currently, for message dispatch rate limiter in a subscription , we have 3 level setting :
- Broker level setting: configured with `dispatchThrottlingRatePerSubscriptionInMsg` and `dispatchThrottlingRatePerSubscriptionInByte` in broker.conf
- Namespace level setting: configured with `org.apache.pulsar.client.admin.Namespaces#setSubscriptionDispatchRate`
- Topic level setting: config

[2022-04-09 08:40] #14736 closed

[2022-04-09 19:41] zbentley commented on #14563
@codelipenghui that makes sense, I would expect it to error. But I'd expect a different error than a 500 and a stacktrace. The error should indicate what went wrong ("no backlog to peek at" or something).

[2022-04-09 20:01] ronfarkash commented on #13946
As requested by @lhotari
**jstack dumps:**

- [Broker 1 - when it's bugged](https://gist.github.com/ronfarkash/bdb3f84d15a4e15cadd5b9a6a67c012d)
- [Broker 2 - when it's bugged](https://gist.github.com/ronfarkash/f23b61a75afe112e38020ced68fbeca4)
- [Broker 3 - when it's bugged](https://gist.github.com/ronfarkash/2f0a134293c6b51a9b8412108a489a55)
- [Broker 1 - when it works](https://gist.github.com/

[2022-04-10 10:17] 0gap opened #15100 "[Go, Functions] Panic while goInstance.ackInputMessage"
**Describe the bug**
I am testing a simple Go function with Pulsar in standalone in docker. When setting `--auto-ack true` i get a panic from `pulsar-function-go/pf/instance.go` in `ackInputMessage`.
I build it in my system, `docker cp` it in the Pulsar container and run it using:
[code]
The simple function's code is:
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Start Pulsar in sta

[2022-04-10 11:16] horizonzy opened #15101 "When notify wait opReadEntry, the readPosition calculated policy is different from opReadEntry.create()"
**Describe the bug**
location one:
https://github.com/apache/pulsar/blob/960580764bbc55d91f06ba95ee4187128c6a7565/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpReadEntry.java#L51

location two:
https://github.com/apache/pulsar/blob/960580764bbc55d91f06ba95ee4187128c6a7565/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedCursorImpl.java#L2764

**Expected be

[2022-04-10 11:30] horizonzy opened #15103 "Remove useless code to reduce confusion"
**Describe the bug**
https://github.com/apache/pulsar/blob/a242f03f69791fcfa1934b6cab20689393228381/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpReadEntry.java#L136-L162

line_141 - line_143.
The code is useless, it looks like half completed code which forget to be remove.

line_147 will recalculate readPosition.

[2022-04-10 13:11] zbentley commented on #15078
I can reproduce with that exact snippet, substituting only my topic name.

The topic is:
- Persistent
- Partitioned
- Has two subscriptions, both behind
- Does not have any consumers active
- Uses BytesSchema
- Is the only topic in its namespace
- Does not have compaction or dedup enabled.

When I run the above snippet with my topic name and a backlog that's over quota I get:

[code]

[2022-04-10 13:18] BewareMyPower commented on #15078
Oh, it looks like a bug for partitioned topics. Could you try with a non-partitioned topic?

[2022-04-10 13:21] BewareMyPower commented on #15078
If you can still reproduce this bug on a non-partitioned topic, could you give your OS version? I'll try to reproduce the bug on Ubuntu 18.04 and the Python client 2.9.1 installed by `pip3 install` on workdays.

[2022-04-10 13:22] zbentley commented on #15078
I'm working on reproducing on non-partitioned now (focus is split, sorry, results will be here inside the hour). I'm on MacOS, broker 2.9.1 via homebrew, client 2.9.1 via pip, python 3.7.12.

[2022-04-10 14:04] zbentley commented on #15078
A topic with a single partition returns the below output; unsure if that's the same as a nonpartitioned topic:
[code]

[2022-04-10 15:12] BewareMyPower commented on #15078
Okay, I'll verify this issue tomorrow.

[2022-04-10 18:11] zbentley commented on #15078
When I create a truly non-partitioned topic, the behavior is correct (I get a `ResultProducerBlockedQuotaExceededException` on the client). So this bug only happens for partitioned topics. I'll update the title accordingly.

[2022-04-10 18:12] horizonzy opened #15106 "message maybe discard when pending receives all done."
**Describe the bug**
A clear and concise description of what the bug is.
https://github.com/apache/pulsar/blob/c1631588fd71f4e5d63557741bacf2b56f27563d/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java#L1157-L1168

In  notifyPendingReceivedCallback.
https://github.com/apache/pulsar/blob/c1631588fd71f4e5d63557741bacf2b56f27563d/pulsar-client/src/main/java/org/apache/pulsar

[2022-04-11 03:38] dragonls opened #15108 "[broker] "Failed to persist msg in store: Error while using ZooKeeper" causing "Topic is temporarily unavailable""
**Describe the bug**
We found `Topic is temporarily unavailable`. Producer can not produce data to this topic and consumer can not subscribe the topic.

Restart the broker can make it back to normal.

**To Reproduce**
Hard to reproduce now.

**Expected behavior**
If something wrong while creating ledger, it should not make topic stuck.

**Desktop (please complete the following information):**
 - O

[2022-04-11 04:34] #15103 closed

[2022-04-11 04:58] horizonzy commented on #15101
fixes in  https://github.com/apache/pulsar/pull/15098  https://github.com/apache/pulsar/commit/23b3dd76f02bba8ab690b8aa7c0fdd886dc0c7ed

[2022-04-11 05:37] RobertIndie commented on #14848
After #14854 get merged, I still get this error.

[example failure](https://github.com/apache/pulsar/runs/5966290255?check_suite_focus=true#step:11:160)

[code]

PTAL @BewareMyPower

[2022-04-11 05:37] lordcheng10 opened #15111 "The broker reports an error: No such entry"
**Describe the bug**
pulsar version: 2.8.1
bookkeeper config: journalWriteData=false

**error log:**
10:55:04.879 [BookKeeperClientWorker-OrderedExecutor-12-0] ERROR org.apache.pulsar.broker.service.persistent.PersistentDispatcherMultipleConsumers - [persistent://teg_onion_onion_common_data_nj/teg_onion_onion_common_data_nj/teg_onion_onion_common_data_nj-partition-156 / t_teg_onion_b_teg_onion_oni

[2022-04-11 05:40] BewareMyPower commented on #14848
@RobertIndie Good point. I'll fix it soon.

[2022-04-11 07:35] fmiguelez commented on #15070
The thing is that 2.7.5 does not exist in final version (only candidate-1). This is a big issue for us (our system heavily relies on Reader interface). We can try this version but we need a solution for production. When do you think version 2.7.5 would be ready?

We have tested version 2.9.2 and works prefectly, not a single Reader issue with a pretty high load. The problem is that our API that co

[2022-04-11 07:39] leizhiyuan opened #15113 "ResourceGroupConfigListener and ResourceGroupNamespaceConfigListener has an cocurrent bug at startrup"
**Describe the bug**
A clear and concise description of what the bug is.

[code]

        loadAllResourceGroups(); // THIS IS ASYNC  1
 add invoke
       resourceGroupsMap.put(rgName, rg);

[code]
loadAllNamespaceResourceGroups(); // THIS IS ASYNC  2

will invoke
                rgService.registerNameSpace(policy.resource_group_name, ns);

then
[code]
inside
[code]

if 2 run earlier than 1, it wil

[2022-04-11 07:44] horizonzy opened #15115 "ledger create success but still callback timeout"
**Describe the bug**
https://github.com/apache/pulsar/blob/e34448cd363bf9ed07321acd3c9a1c5e81c7156a/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java#L3769-L3780

whatever the ledgerCreated value is, it always callback create timeout.

[2022-04-11 07:49] BewareMyPower commented on #9410
Since #15024 adds another script to build Python wheel files for macOS, this PR is used to track documents of these two scripts.
- pulsar-client-cpp/docker/build-wheels.sh
- pulsar-client-cpp/python/build-mac-wheels.sh

[2022-04-11 08:25] horizonzy commented on #15115
close by the comment. https://github.com/apache/pulsar/pull/7401/files#r447839861

[2022-04-11 08:41] lhotari commented on #14365
When more and more asynchronous request handling is happening, it is importance of having a backpressure handling that prevents too much work entering the system. Backpressure handling is broken at the moment. Please review PR #14353. It is fixes bugs in the Admin API / Jetty backpressure configuration.

[2022-04-11 09:11] cbornet opened #15118 "Cache key and value schema versions in KeyValueSchemaImpl"
**Is your enhancement request related to a problem? Please describe.**
While doing performance profiling, @eolivelli found that `KeyValue::decode` is called twice each time `KeyValueSchemaImpl::atSchemaVersion` is called (once for the key, the other time for the value).
This can be for each message you receive from an AUTO_CONSUME consumer for instance.
Eg. in the following code the decoding happe

[2022-04-11 09:11] cbornet commented on #15118
I'm working on a PR for this

[2022-04-11 09:24] #15115 closed

[2022-04-11 12:26] liangyepianzhou commented on #15073
`thisLastConfirmEntry` is a variable, it means the last confirm entry. It may be a little out of sync with the real LAC, but semantically the same. So I name it `thisLastConfirmEntry`.

when maxAckPosition change times reaches `upperLimitOfMaxAckPositionChangeTimes`, will store` (maxAckPosition, thisLastConfirmEntry)` into `metadataPositions(pendingAckLogReverseIndex)`.
So it is almost impossible

[2022-04-11 12:59] frankjkelly commented on #14365
Great point @lhotari I would also suggest that thread pool monitoring is also critical to understand
- How many threads are in use
- Are any threads in BLOCKED state or taking a long time
So we'll probably need to make sure the appropriate metrics are exposed as well as ensure there is documentation on the monitoring of these threads and what to do if thread pools are exhausted, threads are blocke

[2022-04-11 15:51] HelenParr opened #15124 "Potential secutiry vulnerability in the shared library which kafka-connect-avro-converter-shaded depends on."
Hi, @mostafij-rahman, @Tango2018cc , I'd like to report a vulnerability issue in **org.apache.pulsar:kafka-connect-avro-converter-shaded:2.9.1**.
### Issue Description
I noticed that **org.apache.pulsar:kafka-connect-avro-converter-shaded:2.9.1** directly depends on **com.github.luben:zstd-jni:v1.4.0-1** in [pom](https://repo1.maven.org/maven2/org/apache/pulsar/kafka-connect-avro-converter-shaded/

[2022-04-11 15:53] b0mbays commented on #13864
Same issue here as the above. Anyone find a solution?

[2022-04-11 16:43] zbentley commented on #14588
https://github.com/apache/pulsar/pull/14585 partially addresses this (fewer handles are leaked), but doesn't completely address it; leaks still occur.

[2022-04-11 19:18] merlimat commented on #15074
@b0mbays We haven't back ported the build fixes to 2.8 Pulsar branch. I'd suggest to test locally with either 2.9 or 2.10 Pulsar client.

[2022-04-11 19:18] merlimat commented on #15074
(Also, there's no need to match the client version with the server versions)

[2022-04-11 19:20] merlimat commented on #13864
This should be fixed for Pulsar 2.9 & 2.10. There are MacOS versions for Py 3.8, 3.9 and 3.10. Requires MacOS 11.0 or later.

[2022-04-11 19:33] frankjkelly commented on #13864
Hmmm still not working for me - how about others?
[code]

[2022-04-11 21:40] ronfarkash commented on #13946
@mattisonchao added some more information on how to attempt to reproduce the issue.

[2022-04-11 22:31] merlimat commented on #13864
@frankjkelly Can you try with 2.9.2 version? This is the wheel file: [pulsar_client-2.9.2-cp38-cp38-macosx_11_0_universal2.whl  ](https://files.pythonhosted.org/packages/8d/30/ac074d168f0b1065637e8ac2626770eb5a0454d820e1db2b3f67fee5ae43/pulsar_client-2.9.2-cp38-cp38-macosx_11_0_universal2.whl)

[2022-04-11 23:41] yaalsn commented on #13864
@frankjkelly You can try to rename `pulsar_client-2.9.2-cp38-cp38-macosx_11_0_universal2.whl` to `pulsar_client-2.9.2-cp38-cp38-macosx_10_15_universal.whl` and install. I tested it in my 10.15 MacBook and the package can be imported, but I don't know if it will work. If you are using it in a development environment, just try~

[2022-04-11 23:46] yaalsn commented on #13864
Another workaround method is that you can configure docker as the Python interpreter if you use Pycharm as IDE, then you can run the code with the linux docker container and install pulsar in the container. https://www.jetbrains.com/help/pycharm/using-docker-as-a-remote-interpreter.html

[2022-04-12 02:27] dragonls commented on #15108
@mattisonchao I did not see this phenomenon while using Pulsar 2.7.2.
I can provide more broker logs and broker dump but not suitable uploaded here. Can I have your Wechat or email?

[2022-04-12 07:23] codelipenghui commented on #15108
@dragonls Have you changed the `zookeeperSessionExpiredPolicy` to reconnect? It's not a stable feature in 2.8.x and 2.9.x.

[2022-04-12 07:59] dragonls commented on #15108
No. `zookeeperSessionExpiredPolicy=shutdown`.

[2022-04-12 08:15] cvuijst commented on #3217
Though auto-scaling would really be a nice feature, would it be already possible to invoke an API to do this manually, both up and down?

[2022-04-12 08:58] yaalsn commented on #13153
Good news! Pulsar python client supports Arm64 now since 2.9.2.

[2022-04-12 09:51] fmiguelez commented on #12553
It also occurs on 2.9.2

[2022-04-12 11:10] Shawyeok opened #15131 "Get deadlock if create topic fails"
**To Reproduce**
Steps to reproduce the behavior:
1. setup a remote cluster for a namespace
2. delete the remote cluster from cluster list and keep namespace unchanged
3. start a consumer or producer for a new topic which under the namespace above
4. See log `Failed to subscribe to topic on xxx` and the deadlock showed up

**Describe the bug**
I reproduced with current master HEAD version (2f74d8e

[2022-04-12 11:33] Shawyeok commented on #15131
There is another way to **reproduce** this and is more easier:
1. setup a remote cluster for a namespace but the cluster broker url is misconfigured like miss `pulsar://`
[code]
2. start a consumer
[code]
3. now you can see the deadlock

[2022-04-12 12:40] congbobo184 opened #15133 "[PIP 154] Max active transaction limitation for transaction coordinator"
- **Status**: Discussion
- **Author**: Bo Cong
- **Pull Request**:
- **Mailing List discussion**:
- **Release**: 2.11

# Motivation

Currently, the transaction coordinator does not limit the number of active transactions, which may cause the following problems:

- A large number of active transactions will put a lot of pressure on memory
- The transaction that a single TC can handle is limited, so

[2022-04-12 13:16] frankjkelly commented on #13864
Thanks @yaalsn - getting the following - maybe I have a typo?
[code]

[2022-04-12 13:41] poorbarcode opened #15134 "Remove useless code to reduce confusion"
**Describe the bug**
https://github.com/apache/pulsar/blob/46baae6a5e89a5feed171d231b59042a2ce9e1f8/pulsar-client/src/main/java/org/apache/pulsar/client/impl/PersistentAcknowledgmentsGroupingTracker.java#L325-L355

L343 - L345 & L349-L351
It looks like unnecessary

this method `doCumulativeAckAsync(messageId, bitSet)` only update variable `lastCumulativeAck`,  will not change `pendingIndividualBat

[2022-04-12 14:10] yaalsn commented on #13864
Yes, @b0mbays is right.

[2022-04-12 14:32] frankjkelly commented on #13864
Thanks again. So I did
[code]

and it appears to have worked
[code]
Thanks!

[2022-04-12 15:10] lhotari commented on #6054
#15031 and #15067 resolve an issue with a similar symptom, where subscriptions freeze.

[2022-04-12 15:46] AnonHxy commented on #15131
I will  try to fix this issue

[2022-04-12 17:23] dave2wave commented on #14934
Do your credentials have a maximum messages per month?

[2022-04-13 01:45] #15106 closed

[2022-04-13 06:10] john1337 opened #15146 "does pulsar have plan to improve delay message deliver"
i am considering using  delay message deliver using mq, found some solutions: rabbitmq,rocketmq and pulsar, when i dig deep into pulsar i found pulsar is using memory to realize delay deliver feature so it can't handle heavy load,so i was wondering does pulsar have any plan to improve it and when?

thanks

[2022-04-13 06:49] fmiguelez commented on #12553
Also verified with **2.10.0**. Namespace reaches a situation when it can no longer be removed.

[code]

[2022-04-13 06:51] fmiguelez commented on #12553
@sijie can someone else take a look at this?

[2022-04-13 07:04] leizhiyuan opened #15149 "autoReadDisabledRateLimiting is not corrent when limiting by pendingSendRequest"
**Describe the bug**
A clear and concise description of what the bug is.

in ServerCnx

[code]

if ++pendingSendRequest == maxPendingSendRequests is true,  but isPublishRateExceeded is false.

autoReadDisabledRateLimiting = isPublishRateExceeded; will be false ,but it should be true

**Expected behavior**
A clear and concise description of what you expected to happen.

autoReadDisabledRateLimiting

[2022-04-13 07:22] eolivelli opened #15151 "Stuck Subscription while using JClouds Offloaders"
**Describe the bug**

I saw  that it is very easy to break a subscription with this workload:
* GCP offloader
* pulsar standalone
* produce 1GB of data, 26K entry size, no batching, with pulsar-perf
* unload the topic and force offload
* wait the offloader to push the data
* try to read the topic from the beginning

After this execution you can see that the markDeletePosition is on the "second" (n

[2022-04-13 07:55] xiaobing0508 opened #15152 "Update Pulsar to version 2.10.0,bin/pulsar-admin command invalid."
I build a Pulsar by using the master branch codebase.
When I use `pulsar-admin topics partitioned-stats` command,remind me 400 Bad Request.

[2022-04-13 08:20] 704237006 opened #15154 "Problem in developing a pulsar-io-mqtt"
**Describe the bug**
I got the mqtt message in the open method in MqttSource, which can be seen from the print. When I tried to push the message to a pulsar topic, nothing happened in the pulsar topic, no errors, no messages.

 1.push code
![image](https://user-images.githubusercontent.com/42430068/163132016-b18ca99c-25d9-4e8c-af31-bd54f901864b.png)

2.source connector running stats
![image](https

[2022-04-13 08:26] tjiuming commented on #15146
Pulsar use `InMemoryDelayedDeliveryTracker` to schedule delay messages,  and each message costs 24bytes(deliverAt,ledgerId,entryId), which means 1G direct memory could schedule more than 4200000 backlog messages, isn't enough?

[2022-04-13 08:44] shibd commented on #15152
@xiaobing0508 Hi, Can you provide your complete command and exception information?

[2022-04-13 08:45] xiaobing0508 commented on #15152
/data/pulsar-2.10.0/bin/pulsar-admin topics partitioned-stats persistent://product/thor/data
HTTP 400 Bad Request

Reason: HTTP 400 Bad Request

[2022-04-13 09:01] lhotari commented on #14688
#15031 #15067 resolve some issues in this area.

[2022-04-13 09:03] 704237006 commented on #15154
@ngjaying

[2022-04-13 09:08] shibd commented on #15152
I didn't reproduce it, What do you return by executing the following command?
[code]

[2022-04-13 09:10] xiaobing0508 commented on #15152
{
  "partitions" : 4
}

[2022-04-13 09:15] jiahaoc1993 opened #15158 "Don't show logs from the pulsar client of Java"
**Is your enhancement request related to a problem? Please describe.**
The pulsar client instance writes tons of logs to my logger, which is messing up our critical business logs. I would like to strip the pulsar relevant log from the logger.

**Describe the solution you'd like**
Add a parameter to the constructor of the pulsar client, and let the user decides where to write logs.

[2022-04-13 09:22] shibd commented on #15152
@xiaobing0508 Is your client version the same as the server version?

[2022-04-13 09:26] xiaobing0508 commented on #15152
It's the same. pulsar-admin command version is 2.10.0.

[2022-04-13 10:34] BewareMyPower commented on #15158
There is no need to add a parameter, Pulsar client uses [SLF4J](https://www.slf4j.org/) as its logger. You can choose an any SLF4J compatible logging framework.

For example, I import `slf4j-simple` as the runtime dependency.
[code]

Then I add a `simplelogger.properties` to retain only warn and error level logs.

[code]

In production, I think you can choose a more flexible logging framework like

[2022-04-13 12:31] lhotari opened #15159 "Offloading large ledgers (>2GB) fail with Google Cloud Storage"
**Describe the bug**

Offloading large ledgers fail with Google Cloud Storage and the default settings. With default settings offloading ledgers over 2GB will fail to GCS since there's a limitation in JClouds (reported as [[JCLOUDS-1606] Cannot upload more than 32 parts to GCS](https://issues.apache.org/jira/browse/JCLOUDS-1606)) which limits a multipart upload to 32 parts. GCS supports multipart

[2022-04-13 13:26] james-bright-helix commented on #14079
@Technoboy- @mattisonchao any update on this. We are still running on a version with the log4j exploit unpatched because of this issue.

[2022-04-13 14:15] mattisonchao commented on #14079
I'm sorry for the late response, I will check your demo and give you feedback ASAP.

[2022-04-14 02:22] shibd opened #15165 "Pulsar SQL can't query the latest data"
**Describe the bug**

Pulsar SQL can't query the latest data.

There are 3 pieces of data in the topic.
[code]

Using Pulsar SQL query always missing the lastest data.

[code]

**To Reproduce**

1. Produce 3 pieces of data to the topic.
2. Use Pulsq SQL query.
4. only see 2 row.

**Expected behavior**
Can query all data.

**Desktop (please complete the following information):**
 - OS: MacOS
 - Ver

[2022-04-14 03:13] freeznet opened #15166 "Reader resource leakage in TableView"
**Describe the bug**
When set `autoUpdatePartitionsInterval` to a small value like 1 second in `TableViewBuilder`, the table view client will keep create new reader (consumer) in each interval and causing resource leaks.

The main reason is the TableViewImpl is not cache existing reader, see https://github.com/apache/pulsar/blob/04aa9e8e51869d1621a7e25402a656084eebfc09/pulsar-client/src/main/java/

[2022-04-14 03:14] nlu90 commented on #15166
I will create a PR for the fix

[2022-04-14 03:18] jiahaoc1993 commented on #15158
@BewareMyPower  Thanks for the reply. Actually, I am using SLF4j on log4j, but how could I redirect all pulsar client relevant logs to /dev/null while remaining others without changes ;).

[2022-04-14 03:20] zymap commented on #15165
https://pulsar.apache.org/docs/en/sql-deployment-configurations/#configure-presto-pulsar-connector
If you want to get the last message in a topic, set the following configurations:
For the broker configuration, set bookkeeperExplicitLacIntervalInMills > 0 in broker.conf or standalone.conf.
For the Presto configuration, set pulsar.bookkeeper-explicit-interval > 0 and pulsar.bookkeeper-use-v2-protoc

[2022-04-14 03:26] congbobo184 commented on #10306
@kirill-kosenko @truongninh I will close this issue, if it still have problem. you can  reopen this issue then ping me. thanks.

[2022-04-14 03:26] #10306 closed

[2022-04-14 03:31] shibd commented on #15165
If you want to get the last message in a topic, set the following configurations:
For the broker configuration, set bookkeeperExplicitLacIntervalInMills > 0 in broker.conf or standalone.conf.
For the Presto configuration, set pulsar.bookkeeper-explicit-interval > 0 and pulsar.bookkeeper-use-v2-protocol=false.

Thanks, That was useful.

[2022-04-14 03:31] #15165 closed

[2022-04-14 03:37] WillsonYip opened #15167 "Admin java sdk can't use BrokerStats.getLoadReport method"
**Describe the bug**

Admin java sdk can't use  BrokerStats.getLoadReport method . Below is environment

os: win 10
java: 1.8

maven

[code]

here is the code

[code]

exception:

[code]

[2022-04-14 05:15] lhotari commented on #14982
#15031 and #15067 fix issues in this area.

[2022-04-14 06:59] #15078 closed

[2022-04-14 07:07] BewareMyPower commented on #12557
This issue is similar with #15078 but it's related to the consumer, so I think we need another fix like https://github.com/apache/pulsar/pull/15161, which only fixes the producer side.

[2022-04-14 07:15] BewareMyPower commented on #15158
It's an issue about log4j configuration, you'd better learn more from the [log4j documentation](https://logging.apache.org/log4j/2.x/manual/configuration.html).

[code]

[2022-04-14 07:34] WillsonYip commented on #15167
o. I found pulsar-client-admin-original can solve problem. so ignore me

[2022-04-14 07:57] john1337 opened #15169 "pulsar doesn't support springboot well"
pulsar project has started more than 5 years,and springboot is a well used architecture,but pulsar doesn't support the arch as well as rocketmq or kafka,hope you can devote some time into improving this

[2022-04-14 08:01] shibd commented on #15167
According to the official website description, we do not need to specifically refer to the dependencies of `original`. `pulsar-client-admin` includes `pulsar-client-admin-original`.  I had the same problem, and I use `pulsar-client-all` same reproduce.

https://pulsar.apache.org/docs/en/client-libraries-java/

[2022-04-14 08:23] WillsonYip commented on #15167
OK . I reopen this issue.

[2022-04-14 08:41] congbobo184 commented on #10632
@devinbost hi, do you find out the truely problem? I will close this issue, if you still have the problem, you can repon this issue and ping me.

[2022-04-14 08:41] #10632 closed

[2022-04-14 08:56] liangyepianzhou commented on #11272
@complone
You can try to understand this modification based on the tests here, and then add the missing parameters.
I can also help with this if you don't have time. please reply as soon as possible, thank you

[2022-04-14 09:07] john1337 opened #15171 "delay message deliver lost messages"
**Describe the bug**
i am using pulsar's delay message feature,when i increate message count to 10000,consumer will only get 5000 messages or so ,other messages were lost,1000 delay message deliver worked well.

producer code:
        SimpleDateFormat sdf = new SimpleDateFormat("yyyy-MM-dd HH:mm:ss");
        for(int i=0;i<10000;i++){
            producer.createMessage("clicks2","hello world"+sdf.

[2022-04-14 09:16] liudezhi2098 commented on #15171
can provided more information？ eg, pulsar version,  and topic state info.

[2022-04-14 09:19] john1337 commented on #15171
pulsar:2.9.2

[2022-04-14 09:30] lhotari commented on #15169
There's a Spring Boot starter for Reactive Pulsar, you can find more information at https://github.com/datastax/reactive-pulsar#spring-boot-starter

[2022-04-14 09:30] lhotari commented on #15169
related to #10588

[2022-04-14 09:33] lhotari commented on #15169
I'm planning to contribute Reactive Pulsar and the Spring Boot Starter to the Pulsar project. Please show your interest on the dev mailing list in this thread: https://lists.apache.org/thread/x4htj65mvysxyx430rqrplc066jjsj5z

[2022-04-14 10:04] #15151 closed

[2022-04-14 13:43] huangydyn opened #15176 "[Doc] Question on Flow Control"
### What issue do you find in Pulsar docs?

It's said that consumer send Flow command to ask give permission to the broker to push messages.

My Question is that how consumer send flow command to broker?  Is this a long polling or short polling?

refer doc [Pulsar binary protocol specification](https://pulsar.apache.org/docs/en/develop-binary-protocol/#consumer)

### What is your suggestion?

As w

[2022-04-14 16:15] lhotari commented on #15111
Would you have a chance to check if the problem can be reproduced with Netty Recycler `-Dio.netty.recycler.maxCapacityPerThread=0` . The reason I'm bringing this up is that in BookKeeper client there's a known issue fixed by https://github.com/apache/bookkeeper/pull/3110 by @congbobo184 that isn't yet available in a released version of BookKeeper client. The workaround for the problem is to disabl

[2022-04-14 16:21] hangc0276 commented on #15111
It is not caused by bookie client mis fill entry. We can't read the target entry by bin/bookkeeper shell command.

[2022-04-14 16:27] lhotari commented on #15111
true. It would be interesting to see if something gets messed up due to invalid recycling of objects. The quick way to test that is to disable Netty Recycler with `-Dio.netty.recycler.maxCapacityPerThread=0`. The performance is very similar with newer JDKs when disabling Netty Recycler.

[2022-04-15 00:03] mattisonchao commented on #14079
Hey @james-bright-helix,
I try to use your demo to reproduce this problem, but it doesn't work well.

Do you have a Slack account? I feel like this can be a more efficient way to discuss how to reproduce. Then we will post the conclusion and solution to Github.

[2022-04-15 02:29] ofek commented on #13865
bump

[2022-04-15 02:29] ofek commented on #13869
bump

[2022-04-15 02:29] ofek commented on #13870
bump

[2022-04-15 03:25] #14427 closed

[2022-04-15 03:46] jiahaoc1993 commented on #15158
@BewareMyPower  it's working great, thanks.

[2022-04-15 03:46] #15158 closed

[2022-04-15 04:09] john1337 commented on #15171
i test many times,lost messages do exist,so i think it's unreliable to use pulsar to delay message deliver

[2022-04-15 04:20] poorbarcode commented on #15176
# At case `message receive`, Pulsar is not same as RoccketMQ

Pulsar implements like this:

- Client has a message queue( default max-len is 1000 ) cache at local memory, like this:
`[ ] [ ] [ ] [ ] [ ]`
- After consumer registry, broker will push message to consumer, then consumer will cache this message.
`[ * ] [ * ] [ * ] [ * ] [ * ]`
- When execute `consumer.receive()`,  client will pop messag

[2022-04-15 04:25] BewareMyPower commented on #15176
I think it should not be referred as "polling". In Pulsar, there is a separated channel that receives messages from broker. The client only sends the FLOW command to indicate that it needs more messages.

For example, after a consumer whose receiver queue size is 1000 is created, it will send a FLOW request whose permits is 500, i.e. "I can cache 500 messages". Then how will broker dispatch messag

[2022-04-15 04:27] BewareMyPower commented on #15176
BTW, I've written a [Chinese blog](https://bewaremypower.github.io/2021/09/02/Pulsar-%E6%BA%90%E7%A0%81%E9%98%85%E8%AF%BB-%E6%B6%88%E8%B4%B9%E8%80%85%E7%9A%84%E8%AE%A2%E9%98%85/) that might be related to this issue. You can take a look.

[2022-04-15 04:47] huangydyn commented on #15176
Learned a lot.  Many Thanks!

[2022-04-15 04:48] #15176 closed

[2022-04-15 08:28] zhavir commented on #14148
Same on Mac OS Monterey

[2022-04-15 09:08] gaozhangmin commented on #15171
@john1337  I cannot reproduce this issue. Could you mind  list the steps?

[2022-04-15 09:22] john1337 commented on #15171
producer code:
SimpleDateFormat sdf = new SimpleDateFormat("yyyy-MM-dd HH:mm:ss");
for(int i=0;i<500000;i++){
producer.createMessage("clicks2","hello world"+sdf.format(new Date()))
.deliverAfter(1L, TimeUnit.MINUTES).sendAsync();
}

consumer code:
private AtomicInteger count = new AtomicInteger(0);

//
private final int max = 500000;
@PulsarConsumer(topic="clicks2",subscriptionType= SubscriptionTy

[2022-04-15 10:15] gaozhangmin commented on #15171
This is no related with delay message, you can check the internal stats after you finished producing messages.
`pulsar-admin topics stats-internal topic-name`  check the `entriesAddedCounter`. @john1337

[2022-04-15 10:37] john1337 commented on #15171
![image](https://user-images.githubusercontent.com/11956341/163561383-5ad64346-db54-437a-811d-656d6a9272bc.png)

[2022-04-15 10:59] gvolpe commented on #4940
Hi folks, has this issue been discussed somewhere? I just came across this limitation when trying out `ackCumulativeAsync` in my application, and I would like to help to get it fixed.

[2022-04-15 11:34] syhily commented on #14889
I think [this PR](https://github.com/apache/pulsar/pull/10876) introduces a new break change. We need to enable system topic for using the transaction.

[2022-04-15 16:04] merlimat opened #15185 "PIP-155: Drop support for Python2"
## Motivation

Python 2.x has been deprecated for many years now and it was officially end-of-lifed 2.5 years ago (https://www.python.org/doc/sunset-python-2/).

We have well reached the point by which we need to drop Python 2.7 compatibility for Pulsar client and for Pulsar functions.

Based on Python end-of-life policies, there are 4 versions of Python that are currently supported: 3.7, 3.8, 3.9

[2022-04-15 17:09] zbentley commented on #15185
Thoughts on minimum py3 version? 3.6+ and 3.7+ are common choices in the python ecosystem.

[2022-04-15 17:12] merlimat commented on #15185
Do you know where to find a list of feature/syntax that were change in 3.6 or 3.7?
As in: what could we be free to use if we didn't have to support Py 3.5 and 3.6?

[2022-04-15 21:33] #13971 closed

[2022-04-15 22:15] zbentley commented on #15185
Most details are here: https://docs.python.org/3/whatsnew/index.html

[2022-04-16 18:10] merlimat commented on #15185
This is actually helpful: https://endoflife.date/python

3.6 has already reached end of life and here will be no more security updates. It does indeed make sense for us to stop supporting it too.

[2022-04-17 07:51] gvolpe opened #15189 "Failover subscription sends first message to multiple consumers"
**Describe the bug**

I have two consumers connected using a `Failover` subscription to the same topic. I first run one consumer, and after a few minutes, I run the second consumer (no messages are being produced yet).

Once both consumers are up, I start publishing messages to the topic. When this happens, **both** consumers get the first message, and from there, only the selected *active consume

[2022-04-18 02:12] WillsonYip opened #15193 "Topic unload code in admin api is confusing"
**Describe the bug**

I look into the unload code in admin api . And I found the code a little bit not right.

PersistentTopicsBase class :  https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java

[code]

when `topicName.isPartitioned()`  is true ,  but  call  `internalUnloadNonPartitionedTopicAsync` method , which is

[2022-04-18 03:01] dragonls commented on #15108
@mattisonchao I tried `topicFencingTimeoutSeconds>0`, temporarily solved.
But also found that if a topic closed normally, `closeFencedTopicForcefully` still will be run, as the log `xxx Topic remained fenced for xxx...` printed.

[2022-04-18 03:06] dragonls opened #15196 "[broker] topic closed normally will also run `closeFencedTopicForcefully`"
**Describe the bug**
Pulsar cluster with `topicFencingTimeoutSeconds`>0, the topic which is closed normally should not having the log `[A] Topic remained fenced for 10 seconds and is already closed (pendingWriteOps: 0)`.

**To Reproduce**
Steps to reproduce the behavior:
1. Deply a cluster with `topicFencingTimeoutSeconds` > 0, for example `topicFencingTimeoutSeconds=10`
2. Trigger topic A to clos

[2022-04-18 04:31] dragonls commented on #15196
Just a warning log, it is ok.

[2022-04-18 07:35] liangyuanpeng commented on #13302
remove-lifecycle stale

[2022-04-18 07:44] liangyuanpeng commented on #14224
remove-lifecycle stale

[2022-04-18 11:38] zubchenok commented on #14721
@mattisonchao do you have any update on this issue?

[2022-04-18 14:54] shibd opened #15204 "MessageDeduplication#inactiveProducers may not be persistence correctly"
**Describe the bug**
In the implementation of `MessageDeduplication`, when producer is closed and waits until it inactive, `HighestSequence` does not properly remove these producers.

**To Reproduce**
Steps to reproduce the behavior:
1. Change messageDeduplication config on `standalone.conf`:
[code]
3. Start pulsar standalone.
4. Create some produces and send messages.
5. Close or stop these produ

[2022-04-18 15:29] lyxly opened #15205 "Pulsar should support cluster metadata store with etcd backend with SSL(https://...)"
I hope Pulsar‘s components configuration support etcd with ssl access (metadataStoreUrl can use metadataServiceUri=metadata-store:etcd:**https:**//my-etcd:2379)

In some secure or existing environments, there has been existing a etcd cluster with SSL  authentication。When I use the etcd service for Pulsar cluster medata store, I meet the problem that I can't configure Pulsar cluster for SSL authent

[2022-04-18 17:27] heesung-sn opened #15207 "PIP-156: Build and Run Pulsar Server on Java 17"
## Motivation

Currently, Pulsar requires Java8 or Java11 to build[1] and run[2], which is quite out-dated, as the latest released Java version is 18[3], as of 4/14/2022 — the Java community observed that the recent Java versions have improved numerous features such as Garbage Collection[4.1][4.2] and Text Blocks[5] . Hence, as a regular maintenance, it has been recommended to upgrade the Pulsar J

[2022-04-18 18:56] dave2wave commented on #15207
Running the broker with jdk17 and Shenandoah GC gives better performance than ZGC.

[2022-04-19 00:33] #13980 closed

[2022-04-19 02:58] nodece commented on #15205
I will working on this.

[2022-04-19 03:31] Technoboy- commented on #15193
`topicName.isPartitioned()` means topicName contains partition, could not have any partition anymore, so also means non-partitioned.

[2022-04-19 03:31] #15193 closed

[2022-04-19 04:11] heesung-sn commented on #15207
@[dave2wave](https://github.com/dave2wave), I think we could definitely test Shenandoah GC too. Let me update this part in the PIP.

[2022-04-19 05:39] vinz2714 commented on #14660
The issue still persists and we have system running on pulsar. If not fixed its a huge challenge for us

[2022-04-19 07:57] zbentley opened #15213 "[Doc] Documentation links to client feature matrix are broken"
### What issue do you find in Pulsar docs?

The below links to the client feature matrix are broken and go to the main wiki index:

https://pulsar.apache.org/docs/en/client-libraries/#feature-matrix
https://github.com/apache/pulsar/wiki/#committers-documentation
https://pulsar.apache.org/docs/en/2.2.1/client-libraries/#feature-matrix

### What is your suggestion?

Those links should be updated to

[2022-04-19 09:46] Technoboy- commented on #15189
Hi, does the topic has partitions?
Below is the explanation of `failover`:
[code]

[2022-04-19 10:07] gvolpe commented on #15189
@Technoboy- no, it's not a partitioned topic. I have updated the issue details to clarify that.

[2022-04-19 11:37] Technoboy- commented on #15189
Could the below test match the reproduce steps ?
[code]

[2022-04-19 11:44] gvolpe commented on #15189
@Technoboy- yes, just need to use `orderingKey` instead of `key` when producing the message, and potentially enable deduplication in the broker if the issue can't be reproduced.

[2022-04-19 11:59] hpvd commented on #14660
does this still exist with v2.10.0?
https://github.com/apache/pulsar/releases

[2022-04-19 12:37] hpvd commented on #15207
a good overview v8 vs v17 with some hints of what might be useful:
https://pretius.com/blog/java-17-features/

[2022-04-19 13:26] #14459 closed

[2022-04-19 13:28] #15032 closed

[2022-04-19 13:36] Technoboy- commented on #15189
Hi, I have updated the test case. You can put it in SimpleProducerConsumerTest to run locally. It's not reproducible.
If the test need update, just put it in the comment to help us reproduce.

[2022-04-19 13:39] gvolpe commented on #15189
@Technoboy- thank you. I will try to adapt the test to see if it can be reproduced when I get back from holidays. Otherwise, I will create a minimal application where this is reproducible.

I can reproduce this issue consistently in my application, but it is written in functional Scala code via the [Neutron](https://neutron.profunktor.dev/) library, so I'll have to see if there's something differe

[2022-04-19 13:41] gvolpe commented on #15189
@Technoboy- one more thing. I don't set the consumer name of my consumers, not sure if that changes anything.

[2022-04-19 13:44] gvolpe commented on #15189
Another thing that's different in that test is that Neutron consumes messages by repeatedly invoking `receiveAsync` (see [here](https://github.com/profunktor/neutron/blob/main/core/src/main/scala/dev/profunktor/pulsar/Consumer.scala#L179)). In your Java test, there is a single call to `receive`. Could that be the meaningful difference?

[2022-04-19 14:05] codelipenghui commented on #14943
@tjiuming Yes, I think CompositeByteBuf will work which provided a Bytebuf that can be dynamically expanded

[2022-04-19 14:24] Technoboy- commented on #15189
I think there is no difference.

[2022-04-19 14:24] Technoboy- commented on #15189
Ah, not change anything.

[2022-04-19 14:43] gvolpe commented on #15189
Another key difference: in that test, a message is produced before the calls to `receive`.

In my application, both consumers are concurrently calling `receiveAsync` on a loop. Only after this the message is published.

[2022-04-19 14:45] liangyuanpeng commented on #15100
I have tested it and it's working for me.
pulsar version: 2.9.2

produce message:
[code]

function log:
[code]

[2022-04-19 16:14] #14015 closed

[2022-04-19 16:20] 0gap commented on #15100
Just to clarify a bit. I am seeing some of the messages when starting the function, but after a few of them, I end up with the SIGSEGV:

[code]

[2022-04-20 01:46] shibd opened #15224 "Producers in MessageDeduplication may not expire deleted"
**Describe the bug**

In the current `MessageDeduplication` implementation, when the producer is disconnected, the producer will be added to the inactiveProducers collection, waiting to be expired and deleted.

But before the expired deletion, if the broker restarts and these producers are no longer reconnected, then these producers will never be expired and deleted

**To Reproduce**
1. Change mes

[2022-04-20 02:46] #15224 closed

[2022-04-20 02:47] shibd commented on #15224
Confirm that there is no such problem, it is my test scene is wrong

[2022-04-20 03:16] thinker0 opened #15225 "I want pulsar-discovery to come back."
**Is your enhancement request related to a problem? Please describe.**
Hi. I Newbie
I was using pulsar-discovery, but it wasn’t in 2.9.2, so why?
In my environment, pulsar-proxy is not able to handle traffic, so discovery is essential, so I hope you can help.
I switched to proxy last night, but I thought I was going to die because the Connection 150K ran out. (edited)

[2022-04-20 03:54] heesung-sn commented on #12944
For those of you who are stuck at this issue, I was able to create ARM docker images on my M1 Mac by the following simple change. The test dockers from the following builds passed the shade integration test on my laptop.

[code]

[code]

[2022-04-20 05:15] erobot opened #15229 "Wrong nic speed unit conversion on linux"
**Describe the bug**
Nic speed unit conversion is wrong on linux. This makes reported bandwidth usage lower than actual. For example, setting loadBalancerOverrideBrokerNicSpeedGbps=10Gpbs and then nic max reported usage is (10\*pow(10,9)/8\*8/1024)/(10\*1024\*1024)=93%.

Source: https://en.wikipedia.org/wiki/Bit_rate

Current codes calculate 1Gbps as 1024*1024kbps, 1Mbit/s as 1024kbps and 1024Byte

[2022-04-20 05:18] #15166 closed

[2022-04-20 06:42] M1loseph opened #15230 "[Docker] - Unable to mount /pulsar/data in the 2.10.0 image version"
**Describe the bug**

I'm unable to mount pulsar/data volume. In the newest image the user is changed to UID 10000. Since all volumes mounted by docker belong to root user and group, pulsar can't write to it and exits with an exception.

**To Reproduce**
1. Create docker-compose.yml file

[code]

2. Run it with `docker-compose up`
3. Container will exit because of an exception

**Expected behavior

[2022-04-20 06:59] Technoboy- commented on #15229
@[mattisonchao](https://github.com/mattisonchao)

[2022-04-20 08:21] Anonymitaet commented on #15213
1. The below links to the client feature matrix are not broken
https://pulsar.apache.org/docs/en/client-libraries/#feature-matrix
https://github.com/apache/pulsar/wiki/#committers-documentation

They all go to https://docs.google.com/spreadsheets/d/1YHYTkIXR8-Ql103u-IMI18TXLlGStK8uJjDsOOA0T20/edit#gid=1784579914

2. Would you like to correct the link on https://pulsar.apache.org/docs/en/2.2.1/clie

[2022-04-20 08:29] shibd commented on #15091
Sorry for the late response, I checked the code, and there is a problem.

The essential reason for #13911 is that two threads execute the refresh method concurrently. In PR #13911 change, it doesn't completely solve the problem, just avoid concurrent access by threads.

I looked at the history commits,  #14283 concurrent access is solved by direct locking.

So, we can revert this commit.

[2022-04-20 08:35] BewareMyPower opened #15232 "[C++] Use CMake 3.13 to build C++ client in CI"
**Is your enhancement request related to a problem? Please describe.**
Currently the `cmake_minimum_required` version is 3.4, which is wrong because some features from higher version CMake are used, like [target_link_options](https://cmake.org/cmake/help/git-stage/command/target_link_options.html).

https://github.com/apache/pulsar/blob/caf7648653c140c9f922e86425585ab7b5ed3ed6/pulsar-client-cpp/CM

[2022-04-20 10:34] lhotari commented on #9919
recent failure: https://github.com/apache/pulsar/runs/6092267620?check_suite_focus=true#step:11:967

[2022-04-20 11:34] dragonls commented on #15108
Seeing new phenomenon of logs:
[code]
which makes the topic `temporarily unavailable`. Just the same as #14333.

`topicFencingTimeoutSeconds>0` is useless this time.

[2022-04-20 13:51] nicoloboschi commented on #15207
@heesung-sn, thanks for formalizing this plan.
IIUC the tasks to do are:
- move the jdk target to 17 for the build except for the client modules
- merge my pull for moving CI to jdk17 (https://github.com/apache/pulsar/pull/14355)

I think we should clarify that we support only jdk17 for all the components and jd8, jdk11 and jdk17 for the java client. (we'll need a matrix job in the CI to test the

[2022-04-20 15:36] cerebrotecnologico commented on #14779
We observed the same issue again. Here are the logs from the broker:
[untitled_discover_search.csv](https://github.com/apache/pulsar/files/8522944/untitled_discover_search.csv)

[2022-04-20 15:45] heesung-sn commented on #15207
@nicoloboschi ,

Thanks,  I will send a vote email for this PIP soon and start pull requests.

Yes. I will work on
1. Update the build to make the target(release) java version to 17, except client modules.
2. Merge your pull https://github.com/apache/pulsar/pull/14355
3. Add integration tests for the different jdk compatibility tests -- I will add more connector tests to CI too.

I will update my

[2022-04-20 16:42] lhotari commented on #15207
@heesung-sn I would have expected you to first reply on the email thread started by @nicoloboschi in February https://lists.apache.org/thread/c0k8p9vy5wyp9l70mt980gdy10smx6qb .
@nicoloboschi has been working on Java 17 compatibility for months and also brought this up to discussion on the mailing list and in the Pulsar community meetings and this has been discussed there with @merlimat several tim

[2022-04-20 17:03] dave2wave commented on #15207
I have tested this with 1 million 100 byte messages per second using the OpenMessaging Benchmark running openJDK17. I can confirm that Shenandoah GC gives a very flat latency sustaining the average over 15 minute tests.

[2022-04-21 02:01] chuck199202104 opened #15245 "[Docker]Pulsar Function Execute issures"
#### Expected behavior
After execute the following command

<img width="409" alt="1650505955" src="https://user-images.githubusercontent.com/24402413/164355888-3d08b191-3e12-485c-a895-24798242b804.png">

then execute the following thing
<img width="515" alt="1650506171(1)" src="https://user-images.githubusercontent.com/24402413/164356258-eda63f3d-7574-4203-8090-083a54c8089d.png">

Tell us what sho

[2022-04-21 02:17] chuck199202104 opened #15246 "[Pulsar localrun mode bug]"
**Describe the bug**
A clear and concise description of what the bug is.
after I run the program on the Windows10, the result is like
<img width="910" alt="屏幕截图 2022-04-21 100352" src="https://user-images.githubusercontent.com/24402413/164358187-175f54c3-8301-446b-8ba4-130cb143e847.png">

And I do it according to the guide on the official website. What's more, i'm sure that the dependency can't co

[2022-04-21 03:54] #15196 closed

[2022-04-21 04:14] WillsonYip opened #15248 "JWT: Generate different tokens when using key file and key inline with same secret key content"
according the doc: https://pulsar.apache.org/docs/en/2.9.2/security-jwt/

I create a secret key

[code]

Key file content is `u+FxaxYWpsTfxeEmMh8fQeS3g2jfXw4+sGIv+PTY+BY=`

And I generate tokens using key file:

[code]

but I  generate  key using  inline:

[code]

It's totally two different token come out.

Then I look into the code and debug it.
code:  [TokensCliUtils](https://github.com/apache/p

[2022-04-21 06:00] M1loseph commented on #4002
Hello, could someone explain why `-nss` flag solves this issue and why it appears in the first place? I would be very grateful

[2022-04-21 06:48] lhotari commented on #15207
It's not just client modules. There are also a few libraries that are shared between the client and the broker. The
`maven.compiler.release`, `maven.compiler.target` and `maven.compiler.source` properties should remain `8` for these modules.

For all other modules, it's fine to set `maven.compiler.release`, `maven.compiler.target` and `maven.compiler.source` to `17`.

That has been merged.

When a

[2022-04-21 07:02] liangyuanpeng commented on #15230
Specify the user for the container

[code]

[2022-04-21 07:09] #12402 closed

[2022-04-21 07:44] BewareMyPower commented on #14848
[Another failure](https://github.com/apache/pulsar/pull/15227)

[code]

[2022-04-21 08:02] Designxiaozai opened #15249 "pulsar-bug"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'2022-04-21T15:40:30,438+0800 [pulsar-io-30-1] INFO org.apache.pulsar.broker.service.ServerCnx - [/10.249.136.244:40136][persistent://public/11734a41bed74173a37264b7fdaa8fd0/2b0cdbe70dc7498c8eb5ac8376316cc9] Creating producer. producerId=0
2022-04-21T15:40:30,454

[2022-04-21 09:20] #15246 closed

[2022-04-21 09:25] lyxly commented on #15205
That's wonderful.  When I finish switching to Apache Pulsar, I think I will also devote to this excellent component.

[2022-04-21 09:26] chuck199202104 opened #15251 "[LocalRunner issues]"
#### Expected behavior
 After running the pulsar function on the local mode in IDEA, it appears that "**Disconnected from server at /192.168.1.32:6650**".
But with the same address previously, my producer and consumer can connect to the broker. So, what may cause that?
Tell us what should happen

#### Actual behavior

Tell us what happens instead

#### Steps to reproduce

How can we reproduce the

[2022-04-21 11:26] #15118 closed

[2022-04-21 13:13] andrasbeni opened #15254 "PIP-157: Bucketing topic metadata to allow more topics per namespace"
## Motivation

Pulsar is able to manage millions of topics but the number of topics within a single namespace is limited by metadata storage.

For each topic within a namespace there is a ZooKeeper node. Listing topics thus requires listing children of a node, which at around 10K topics hits the limits of ZK.

## Goal

This feature will allow larger number of topics within a namespace by inserting

[2022-04-21 16:32] Raven888888 opened #15258 "Pulsar Bookie dies unexpectedly"
Hello! I'd like to ask about 2 issues that I've faced:

**Question 1:**

We have 3 servers, each hosted Pulsar Broker, BK and ZK as a cluster. And for unknown reason, the Broker runs for a minute and stopped due to timeout error. And we notice that there are warnings from broker.log in Server1:

[code]

We know that this is due to the Broker in Server2 unexpectedly restarted, but this also happens

[2022-04-21 17:46] #10870 closed

[2022-04-22 05:41] 346359827 opened #15267 "No such ledger exists on Metadata Server"
**Describe the bug**
No such ledger exists on Metadata Server

00:01:37.560 [pulsar-io-4-51] WARN  org.apache.bookkeeper.mledger.impl.ManagedCursorImpl - [b2d/rcp-new/persistent/rcp-normal%23ms
g-topic%23keyed%23t1lJtAuTsZ5GVmUmczFjf3-partition-1] [rcp-normal-queue-subscription] Error while updating individualDeletedMessag
es [Mark deleting an already mark-deleted position]
java.lang.IllegalArgume

[2022-04-22 07:03] Anonymitaet commented on #14339
https://pulsar.apache.org/api/cpp/2.9.0-SNAPSHOT does work now

[2022-04-22 07:03] #14339 closed

[2022-04-22 07:16] DR9885 opened #15268 "Reader to Read Events by Key(s)"
**Is your enhancement request related to a problem? Please describe.**
When using the reader, it should be able to filter on a list of keys

**Describe the solution you'd like**
C# example: of reading events for Key 123
[code]

**Describe alternatives you've considered**
Possible TEMP options
- Using a Sink Connector, and reading from that database (but eventual consistency issue)
- Using Trino, b

[2022-04-22 08:02] Lanayx commented on #15268
Seems to be related
https://github.com/apache/pulsar/pull/8544

[2022-04-22 08:03] paladin-dalao commented on #13267
@BewareMyPower
How about the problem of memory leak？

[2022-04-22 08:23] Anonymitaet commented on #13453
Only these two are not shown

<img width="1068" alt="image" src="https://user-images.githubusercontent.com/50226895/164648794-473828a4-b71f-4556-b5cb-a765ebd453b5.png">

[2022-04-22 08:31] nodece commented on #15205
@lyxly I submitted #15270 to fix this, could you help review this PR?

[2022-04-22 09:06] #15060 closed

[2022-04-22 09:22] BewareMyPower commented on #13267
Sorry I'm busy with other things these days. I can take a look at this issue today later or this Sunday.

[2022-04-22 09:23] Anonymitaet commented on #14285
As discussed w/ @urfreespace, this issue is caused by Algolia ('s limitation), it's hard to fix it from our side.

[2022-04-22 09:37] DR9885 commented on #15268
closing and following #8544

[2022-04-22 09:37] #15268 closed

[2022-04-22 09:47] BewareMyPower commented on #15232
The document [here](https://github.com/apache/pulsar/tree/master/pulsar-client-cpp#requirements) is also wrong.

<img width="584" alt="image" src="https://user-images.githubusercontent.com/18204803/164681938-c05de623-cd2b-4a8d-b970-0b1542daddab.png">

[2022-04-22 10:37] TakaHiro0208 opened #15272 "[transaction] Standalone mode, Transaction coordinator with id 0 not found"
**Describe the bug**
I try to test transaction as the doc described, https://pulsar.incubator.apache.org/docs/en/txn-use/
And it throw such error, "Transaction coordinator with id 0 not found"

![企业微信截图_6d311e6b-130a-47dd-aa46-a108ada89be2](https://user-images.githubusercontent.com/13505225/164694033-20d70de7-2c04-448b-9a96-85af146d9c7c.png)

My standalone.conf only modify the following conf
- tra

[2022-04-22 11:25] paladin-dalao commented on #13267
Configure an inaccessible address for pulsar, then start the perf test, then stop the test, the memory will not be free.

[2022-04-22 11:26] paladin-dalao commented on #13267
pulsar client version ``` pulsar-2.10.0```

[2022-04-22 11:52] lyxly commented on #15205
@nodece  I’m sorry that I'm not good at the Java development, even a freshman. Before I begin the apache pulsar development, I will learn the tech stack about the Java especially in this MQ component.

[2022-04-22 12:19] BewareMyPower commented on #13267
Yeah, it can be reproduced easily. I'll look into this issue and try to fix it.

[2022-04-22 12:26] liudezhi2098 opened #15274 "[Function] Log4jLogger caught java.lang.NullPointerException logging ParameterizedMessage"
**Describe the bug**
when `pulsar.log.root.level = debug` ,   if use context.getLogger(), will keep reporting error.
[code]
 same problem #14228
**To Reproduce**

alert conf/log4j2.yaml

[code]

[code]

`sh pulsar-admin functions localrun`

[2022-04-22 13:02] Technoboy- commented on #15272
For not blocking your test, you can try to create `admin.topics().createPartitionedTopic(TopicName.TRANSACTION_COORDINATOR_ASSIGN.toString(), 1)`.
I will try to work on this issue.

[2022-04-22 13:20] TakaHiro0208 commented on #15272
Actually i have noticed the pr-10238 and , and this system topic has been created. So i think maybe this is not the reason

[2022-04-22 13:57] BewareMyPower commented on #13267
In conclusion, the root cause is that almost all callbacks in `ClientConnection` hold a shared pointer of `ClientConnection`. But we need to take it careful to avoid invalid access to the pointer of `ClientConnection`. This bug might need a refactor to fix.

----

**HERE ARE THE ANALYSIS.**

With the current code in master branch, run `SampleProducer` without any Pulsar service.

[code]

The leak

[2022-04-22 14:02] lhotari opened #15277 "Flaky-test: ProducerCloseTest.brokerCloseTopicTest"
ProducerCloseTest.brokerCloseTopicTest is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/6128834673?check_suite_focus=true#step:11:620)

[code]

[2022-04-22 14:05] lhotari commented on #15277
@gaoran10  This flaky test was introduced in your change #14870 . Could you please take a look and fix this?

[2022-04-22 14:06] Technoboy- commented on #15272
Not reproduced.  Could you share your client demo ?

[2022-04-22 14:10] bpereto commented on #14732
/remove stale

[2022-04-22 14:32] Technoboy- commented on #15272
Ah, what is your client version ? is it matched the broker version ?

[2022-04-22 14:59] zbentley commented on #15213
1. The link under "committers documentation" is broken; it goes back to the main wiki index. The link body is `https://github.com/apache/incubator-pulsar/wiki/Client-Features-Matrix`.

2. I posted the wrong link previously. The 2.2.1 docs aren't the only place that link is broken; if I follow the link on https://pulsar.apache.org/docs/en/2.9.2/client-libraries/#feature-matrix, it takes me to the w

[2022-04-22 15:48] #13849 closed

[2022-04-22 16:23] heesung-sn commented on #15207
To clarify one more thing, we will update Pulsar CLIs runtime version to Java17, as CLIs are expected to run by Admin(I updated the above description for this part).

[2022-04-22 17:22] lhotari commented on #15207
I don't think that "CLIs are expected to be run by Admin" is a sufficient justification. A better explanation is needed. One possibility is to explain that the CLI tools currently require the Pulsar distribution and therefore it can be assumed that existing users can choose to use Java17 for running CLI tools. This is an assumption and it would be better to ask community for feedback.

[2022-04-22 18:08] heesung-sn commented on #15207
Thank you for elaborating this justification. I added yours in the description.

[2022-04-22 18:40] zbentley commented on #11842
This is still an issue for a few of our users that run local workstation environments with pulsar standalone. When they have laptop crashes or otherwise do things that result in a hard kill of the standalone broker, it won't come back up cleanly without file removal.

[2022-04-22 18:45] zbentley opened #15278 "Partitioned topic termination often blocks indefinitely, but succeeds immediately upon retry"
**Describe the bug**
Sometimes, when terminating a partitioned topic via the management API, termination blocks "forever" (until I time out the HTTP request). However, no matter when I time out that request, a subsequent request to terminate the topic always succeeds.

This happens regardless of whether I'm connected to a broker or a proxy, and doesn't seem to coincide with any stacktraces in the

[2022-04-22 19:19] TakaHiro0208 commented on #15272
My fault, my maven project depends pulsar-flink-connector which is not pulsars-2.9.2
And after matching client version the problem is solved, thanks for your reply. I will close this issue

[2022-04-22 19:19] #15272 closed

[2022-04-23 04:30] liangyuanpeng commented on #15249
Can you provide more info for this?

[2022-04-23 09:03] nodece commented on #15248
I will work on this.

[2022-04-23 11:29] liangyuanpeng commented on #15267
It is posibble we reproduce it?

[2022-04-23 11:41] eolivelli commented on #11842
I am doing this many times and I have never seen problems.
We should inspect the data directory of a broker system and see what's wrong .

We disable fsync by default on standalone and that maybe a cause of troubles .

If you have a case please share a zip/tar with the contents of the data directory and the logs

[2022-04-23 11:42] eolivelli commented on #11842
Sorry I missed the attachments

[2022-04-24 02:02] leizhiyuan opened #15284 "slow consumer will cause backlog quota exceeded"
**Is your feature request related to a problem? Please describe.**

if we have two consumers in one subscription, one is slow(connection is ok, but only slow), the it will hold some unacked messages. use `produce exception` strategy

after a while, backlogsize will increase, and new producers will get

Could not get connection to broker: Cannot create producer on topic with
backlog quota exceeded

[2022-04-24 02:37] jianyun8023 opened #15285 "[Bug] pulsar-io-jdbc-sink get table definition possible error"
**Describe the bug**

I used mysql as the implementation of `io-jdbc-sink`, and during the process, I encountered that some columns of sink were always null when inserting table data. opening debug found that it was wrong to get the table schema.

**To Reproduce**

This problem occurs in the following scenario:

I have two databases, `databaseA` and `databaseB`.
They both have a table `test-table`

[2022-04-24 02:45] jianyun8023 commented on #15285
I have fixed this issue. Please assign it to me.

The MySQL Connection is not forcibly bound to a library,

In the code, the method to get the table information did not specify which database to use, which led to finding the wrong library information.

[2022-04-24 02:50] jianyun8023 commented on #15285
`metadata.getTables` does not specify the database to be used, which also results in getting the wrong database.
https://github.com/apache/pulsar/blob/8679ef5da9d9f10a2e64832ac69a67ecf135ec81/pulsar-io/jdbc/core/src/main/java/org/apache/pulsar/io/jdbc/JdbcUtils.java#L92-L112

[2022-04-24 03:36] paladin-dalao commented on #13267
very good
Which version will fix this issue?

[2022-04-24 04:07] #14951 closed

[2022-04-24 04:32] BewareMyPower commented on #13267
Once it was fixed in master branch, the patch would be cherry-picked to all active branches (2.8.x, 2.9.x, 2.10.x).

[2022-04-24 04:44] nodece opened #15289 "PIP-158: Split client TLS transport encryption from authentication"
Discussion thread: https://lists.apache.org/thread/fblmm8oc7h907cfnppvk71o2cbp5mk8q
## Motivation

The client supports TLS transport encryption and TLS authentication, this code so like:

[code]

We are using AuthenticationTls to perform the TLS transport encryption and TLS authentication, this causes an issue that cannot use other authentication with TLS transport encryption, and also made our co

[2022-04-24 06:25] nodece commented on #15248
@WillsonYip Don't worry, it works.

[2022-04-24 06:37] gaoran10 opened #15290 "[dependency] The module `pulsar-zookeeper-utils` has potential conflict dependency problem"
**Describe the bug**
The Pulsar broker has a potential conflict dependency problem.

When building the KoP protocol handler,  we met this conflict dependency problem. See error logs below:

[code]

After format, we could find that the module `pulsar-zookeeper-utils` may depend on different versions `grpc-core` package.

[code]

I think we should resolve the dependency of the module `pulsar-zookeep

[2022-04-24 07:26] #12503 closed

[2022-04-24 08:49] sikangliu commented on #13793
Question: Has Topic is already fenced been resolved? I encountered the same problem in 2.9.2.

[2022-04-24 08:55] #15154 closed

[2022-04-24 09:02] sikangliu commented on #13793
@codelipenghui Has this issue been resolved in 2.9.2？I encountered the same problem with 2.9.2.

[2022-04-24 10:01] #15251 closed

[2022-04-24 10:01] #15245 closed

[2022-04-24 10:11] chuck199202104 opened #15294 "[Functions issues on state]"
#### Expected behavior
After executing the increCounter() functions,the terminals appears some exception of "the state is not enabled".
So i just wanna figure out how the state can be enabled? Please help , it's hurry.thx

Tell us what should happen

#### Actual behavior

Tell us what happens instead

#### Steps to reproduce

How can we reproduce the issue

#### System configuration
**Pulsar versi

[2022-04-24 15:38] horizonzy opened #15297 "AbstractBaseDispatcher#filterEntriesForConsumer return value problem."
**Describe the bug**
https://github.com/apache/pulsar/blob/188d4f4942e549e101757a73aa8785f2f3a2dbd4/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/AbstractBaseDispatcher.java#L129-L234

There are some judgement branch to filter entry.
like
https://github.com/apache/pulsar/blob/188d4f4942e549e101757a73aa8785f2f3a2dbd4/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/Abstra

[2022-04-24 16:14] eolivelli commented on #15284
You can set ackTimeout on the client. It is already implemented

[2022-04-24 16:29] zzs258 opened #15299 "Macos pulsar-client-cpp 2.8 VersionTest.cc error"
**Describe the bug**
/Users/zzs258/pulsar/pulsar-client-cpp/tests/VersionTest.cc:24:5: error: expected expression
    ASSERT_GE(PULSAR_VERSION, 2000000);
    ^
/usr/local/include/gtest/gtest.h:1893:31: note: expanded from macro 'ASSERT_GE'
#define ASSERT_GE(val1, val2) GTEST_ASSERT_GE(val1, val2)
                              ^
/usr/local/include/gtest/gtest.h:1869:3: note: expanded from macro 'GT

[2022-04-25 02:41] sicklife commented on #14337
In this issue you mentioned above, they solved the problem by clear the backlog，which I think didn't real solve the problem.

I have met with the same problem. Shut down all proudcers forcely and wait for a long time then restart can solve the problem. But I want to know why this happen? What I need to do to solve this problem completely~

[2022-04-25 02:46] casuallc opened #15300 "Error while create opSendMsg by batch message container"
**Describe the bug**
Error while create opSendMsg by batch message containe, program exit.

**To Reproduce**
Steps to reproduce the behavior:
1. Start consumer to sub 1000 topics of 1 namespace.
2. Start producer to pub message in 64 threads, per thread pub a part of topics.

**Expected behavior**

**Screenshots**
![image](https://user-images.githubusercontent.com/9473606/165012118-edfc3654-b97b-4

[2022-04-25 03:00] nodece commented on #14762
I create a [PIP-158](#15289) to fix this.

[2022-04-25 04:11] wuzhanpeng opened #15302 "enhance validation when updating transaction topic"
### Motivation

Currently executing the command `bin/pulsar initialize-transaction-coordinator-metadata` will directly update the number of partitions of `persistent://pulsar/system/transaction_coordinator_assign`.

When accidentally misoperation, the number of partitions is directly modified, and there is no way to roll back (the number of partitions cannot be reduced).

### Modifications

Simple

[2022-04-25 04:18] BewareMyPower commented on #13267
After looking deeper into the issue, I think it's not a memory leak. It's because the close process of `ExecutorService` happens in a detached thread, see https://github.com/apache/pulsar/blob/732410992dfa33df668c6e65c5ab0b2cfe8d355c/pulsar-client-cpp/lib/ExecutorService.cc#L46

Here is the code to reproduce.

[code]

First, specify a URL that is not listened, we can see the memory leak.

[code]

[2022-04-25 07:25] horizonzy opened #15305 "RateLimiter#tryAcquire calculation problem."
**Describe the bug**
https://github.com/apache/pulsar/blob/732410992dfa33df668c6e65c5ab0b2cfe8d355c/pulsar-common/src/main/java/org/apache/pulsar/common/util/RateLimiter.java#L192-L195

there are two problems.
1. should `acquirePermit + acquiredPermits > this.permits`, not `acquirePermit > this.permits`.
2. when it over permits, shouldn't increase `acquirePermit`

[2022-04-25 07:51] paladin-dalao commented on #13267
my code cannot be added to the "Sleep " . In fact, we see is that the memory keeps increasing as the number of failures increases, and it is finally kill by oom

[2022-04-25 08:54] AntiBit82 opened #15308 "Pulsar standalone 2.10 won't start with Java 8"
**Describe the bug**
Tried to upgrade Pulsar 2.9.1 to newer version 2.10, but 2.10 won't start while 2.9.1 has no problems.

Error:
[code]

Java Version:
[code]

Is a newer Java version now mandatory?
Docs still say Java 8 64bit (or higher) is required

[2022-04-25 08:56] Shoothzj commented on #15308
do you have available `JAVA_HOME` variable?

[2022-04-25 09:11] AntiBit82 commented on #15308
Ahh you're right, JAVA_HOME and PATH wasn't correctly set!
Thanks for the quick help

[2022-04-25 09:26] BewareMyPower commented on #13267
Got it. I think we should wait until the event loop exits in `Client::close`. The `sleep` call here is just to prove my point.

[2022-04-25 09:43] BewareMyPower commented on #13267
I've run the code just now, sometimes it failed with following output.

[code]

Sometimes it just crashed.

[code]

I'll check if there is something wrong with the code first.

[2022-04-25 09:55] BewareMyPower commented on #13267
You should put `pulsar_producer_configuration_t` in a loop.

[code]

After that, the detected leak info will be

[code]

It looks like it won't cause a memory leak. Could you share your code to reproduce the OOM?

[2022-04-25 10:07] 704237006 opened #15310 "Number of retries has been exhausted. Failed reason: Maximum redirect reached: 5"
**Describe the bug**
2022-04-25T17:10:40,345+0800 [main] ERROR org.apache.pulsar.functions.worker.PulsarWorkerService - Error Starting up in worker
org.apache.pulsar.client.admin.PulsarAdminException: java.util.concurrent.CompletionException: org.apache.pulsar.client.admin.internal.http.AsyncHttpConnector$RetryException: Could not complete the operation. Number of retries has been exhausted. Faile

[2022-04-25 10:14] 704237006 commented on #15310
The solution is as follows ：
solution 1:
 Stand alone, and do not need to run stream storage and functions worker.
./pulsar-daemon start standalone -nss -nfw
solution 2:
Need a complete environment
first step   :  ./pulsar-daemon start (standalone) -nss -nfw
second setp   : ./pulsar-daemon start functions-worker
./pulsar-daemon start stream-storage

Answer from@刘子轩@StreamNative@XYZ@streamnative 

[2022-04-25 10:15] #15310 closed

[2022-04-25 10:41] Anonymitaet opened #15311 "Standardize PR naming convention using GitHub Action"
We've created [[Guideline] Pulsar PR Naming Convention](https://docs.google.com/document/d/1d8Pw6ZbWk-_pCKdOmdvx9rnhPiyuxwq60_TrD68d7BA/edit#) and many contributors in Pulsar community follow the rules, which is great!

And we want to research whether we can improve this workflow furthermore by **standardizing PR naming convention using GitHub Action**.

@RobertIndie and @nodece have provided some