[2022-07-15 09:34] eolivelli commented on #16619
I think that we should not add a configuration flag.
the fact that we are building batch messages or single messages is an implementation detail that is opaque to the Producer and to the Consumers.
Applications should not use Impl classes or count on a specific Impl class.

There is no reason to turn off this feature

[2022-07-15 09:38] eolivelli commented on #13347
I understand your problem.
I have recently worked on Broker Side Filtering and this feature is complementary.

I can't remember any pointers about the discussion.
Would you please start (or restart?) a discussion on dev@pulsar.apache.org ?
not everyone follows GH issues

[2022-07-15 09:56] shibd commented on #15392
Another failure: https://github.com/apache/pulsar/runs/7353151617?check_suite_focus=true

[2022-07-15 10:03] #16608 closed

[2022-07-15 10:03] lujiwen opened #16624 "messageId is not exactly matched with the that in response returned by pulsar broker"
**Describe the bug**
the message Id in response when I send it to pulsar is 111253:0:0, but when I read the message by reader interface, the message id turn out to be different like : 111253:-1:0, the third part become -1.

<br class="Apple-interchange-newline">

**To Reproduce**
Steps to reproduce the behavior:
1. send a message to pulsar topic
2. read it from topic by reader interface

**Expecte

[2022-07-15 10:42] eolivelli commented on #16596
unfortunately #14531c covers only per-topic stats.
I have some use-cases when I have multiple subscriptions on the same topic, so I need per-subscription stats, or better, Prometheus metrics

[2022-07-15 10:52] KyrieXu11 opened #16625 "some consumers of several topics can't consume normally"
**System Info**

Pulsar Version: 2.10.0

Zk version: zookeeper in pulsar2.9.0

OS:  Linux x64

Hardware: 5 Brokers and 5 Bookies hybrid deployment in a machine.  32C128G(4T*12) * 5

​					3 zookeeper nodes 4C32G200GB * 3

Broker Conf File: [[broker.conf](https://github.com/apache/pulsar/files/9119526/broker.txt)](https://github.com/apache/pulsar/files/9119526/broker.txt)

Bookie Conf File: [[bookk

[2022-07-15 10:55] nodece commented on #16574
Thanks for your report, your are right! We need to submit a patch to fix this issue.

[2022-07-15 12:14] lhotari commented on #16625
@KyrieXu11 Do you have a chance to upgrade to Pulsar 2.10.1 (and the Bookkeeper version that it comes with)?
In 2.10.1 there's a fix in the bookkeeper client (used in the broker), that is https://github.com/apache/bookkeeper/pull/3110 .

If you aren't able to upgrade (or upgrading doesn't fix the issue), Would you be able to test if adding a system property `-Dio.netty.recycler.maxCapacityPerThrea

[2022-07-15 12:38] acortes-okode opened #16626 "WebSocket 'token' request param authorization not working in the broker while using `webSocketServiceEnabled=true`"
As always, thanks a lot for your work!

**Describe the bug**
Using the `token` request param in a WebSocket URL gives an unauthorized response, it seems is not working as intended in the [documentation](https://pulsar.apache.org/docs/client-libraries-websocket/#query-param-1). I am only able to authorize using the `Authorization` header on the handshake HTTP request using a [nodejs websocket clien

[2022-07-15 12:42] lhotari commented on #16558
duplicates #15392

[2022-07-15 12:42] #16558 closed

[2022-07-15 12:56] SignorMercurio commented on #16486
I'm currently working on generating configuration docs from source code, and also found that the `reference-configuration` page is too long. I think I'll split this page into subpages while trying to generate configuration docs. Like this:

![image](https://user-images.githubusercontent.com/32540679/179227282-e1dee625-bda3-46e1-892e-8eea1d820230.png)

[2022-07-16 09:40] tisonkun commented on #16275
Hi @dave2wave since we created an explicit consensus, you can update [INFRA-23477](https://issues.apache.org/jira/browse/INFRA-23477) as waiting for infra to nudge the process :)

[2022-07-16 11:22] Kelly-ZH opened #16631 "create function with restful API，which has the error "415 Unsupported Media Type""
Hello, I met an error which needs help. I am looking forward someone can answer it, thank you.
I create function which string like
`{"runtimeFlags":"","tenant":"public","namespace":"default","name":"PublishFunction","className":"org.apache.pulsar.functions.api.examples.PublishFunction","inputs":["persistent://public/default/function-input-topic"],"customSerdeInputs":{},"topicsPattern":"","customSc

[2022-07-16 20:07] dave2wave commented on #16486
@SignorMercurio That would an awesome way to split these pages up. A great improvement!

[2022-07-16 20:49] #16275 closed

[2022-07-17 13:59] Technoboy- commented on #16626
`eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJzdWIiOiIxMjM0NTY3ODkwIiwibmFtZSI6IkpvaG4gRG9lIiwiaWF0IjoxNTE2MjM5MDIyLCJyb2xlcyI6WyJzdXBlcnVzZXIiXX0.t76ZTaEfMTONmznsi8DAQyJ1dtAcmlw1KVq5BisGEpw`
The above token decoded with role `1234567890`, do you grant this role with `consume` permission?

[2022-07-17 15:54] dave2wave commented on #16613
1. Obsolete clients? I think that it will be hard to maintain the date of last commit. Instead we should reevaluate each of the clients periodically to see if there is still value to the overall Apache Pulsar community. We should have simple criteria otherwise the rules would imply the PMC's certification of a client. Certification would then imply we create a test suite. This is a much larger dis

[2022-07-17 16:07] dave2wave commented on #16613
I looked at all of the repositories:

ttps://github.com/Comcast/pulsar-client-go - Mar 27, 2019 - It supports Pulsar 2.0 along with 1.22.

https://github.com/t2y/go-pulsar - June 14, 2018 - Some functionality are known to be broken, missing or incomplete. The interface may also change.

https://github.com/cr-org/supernova - Oct 23, 2020 - Alpha, under developement

https://github.com/cr-org/neutro

[2022-07-17 16:44] tisonkun commented on #16613
Actually I have a similar issue posted on the pulsar-site repo https://github.com/apache/pulsar-site/issues/146.

[2022-07-18 01:04] fantapsody commented on #16416
@michaeljmarshall The admin command doesn't give too much useful information:
[code]

[2022-07-18 01:46] Kelly-ZH commented on #16631
Hello,  someone can help me to solve the problem?

[2022-07-18 01:53] momo-jun opened #16637 "PIP-190: Simplify documentation release and maintenance strategy"
- Status: Accepted/Implemented
- Author: momo-jun
- Pull Request: [#16938](https://github.com/apache/pulsar/issues/16938), https://github.com/apache/pulsar-site/pull/157
- Mailing List discussion: [Discussion](https://lists.apache.org/thread/g5b8lcwtn10ox7vd67n31om9w1rxn4l7), [Vote](https://lists.apache.org/thread/0h9s79yt9kd20ogqk8q42vbd64s2k5jc)
- Release: applies to 2.8.x and later versions

##

[2022-07-18 02:31] tisonkun opened #16639 "Cannot build on Apple M1 clip 2021"
**Describe the bug**

[code]

**To Reproduce**

On a macOS machine with properties:

* MacBook Pro (16-inch, 2021)
* Chip Apple M1 Pro

Clone pulsar code and execute `mvn clean install -DskipTests`

**Expected behavior**

Successfully compiled.

**Additional context**

protoc 3.19.2 dists osx-aarch_64 binary as an alias to the osx-x86_64 one.

Bumping the version to 3.21.2 resolves the issue.

I'l

[2022-07-18 02:34] tisonkun commented on #16639
It seems barely bump the protoc version doesn't fix the issue entirely. Meet:

[code]

[2022-07-18 02:41] tisonkun commented on #16639
Install Rosetta (see https://github.com/google/protobuf-gradle-plugin/issues/543#issuecomment-1029392165) workaround the issue. However, we may bump version of protoc and grpc-java to get native osx-aarch_64 binary. protoc provides one at the moment while grpc-java plugin doesn't.

[2022-07-18 02:55] tisonkun commented on #16639
I'd like to keep it open since we need some workaround instead of a native solution. This issue may remind me to see whether upstream provides a real osx-aarch_64 protoc-gen-grpc-java binary.

[2022-07-18 02:57] Anonymitaet commented on #16637
Thanks for your contribution! I've left some comments, PTAL. Feel free to let me know if you have any concerns. 😊

[2022-07-18 06:19] liudezhi2098 opened #16643 "Pulsar-client: when send message size more than nettyMaxFrameSizeBytes and less than maxMessageSize ，will cause subsequent normal messages to be unable to be sent."
**Is your enhancement request related to a problem? Please describe.**
When the configuration maxMessageSize is greater than nettyMaxFrameSizeBytes,  send message size more than nettyMaxFrameSizeBytes and less than maxMessageSize ，will cause subsequent normal messages to be unable to be sent.

**Describe the solution you'd like**
I think it can only affect the sending result of this message, and s

[2022-07-18 06:44] acortes-okode commented on #16626
Hi @Technoboy- , thanks for your time!

I'm not using the `sub` claim of the token as the role one, I have configured `tokenAuthClaim=roles` in order to use the `roles` claim as the one to be checked, it has only one role and is the `superuser` one (which is also configured as the `superUserRoles `).

This setup works as expected since I can consume and produce if I set that token on the `Authoriz

[2022-07-18 07:33] nodece commented on #16574
I submitted https://github.com/apache/pulsar/pull/16645 to fix this issue, could you review this PR?

[2022-07-18 07:55] nodece commented on #16626
Could you launch a separate WebSocket to try it out? I checked the codebase, and I guess it is not working in the standalone Pulsar.

See https://pulsar.apache.org/docs/next/client-libraries-websocket/#as-a-separate-component for launching a separate WebSocket.

[2022-07-18 08:02] cellcb commented on #13167
I had the same problem

[2022-07-18 08:28] acortes-okode commented on #16626
Hi @nodece, thanks for your support!

Yeah, of course, I'll do it and I'll let you know once done.

[2022-07-18 10:31] nodece commented on #16626
I submitted a #16650 for this issue, could you review this PR?

[2022-07-18 10:55] tisonkun opened #16652 "Build the docker image without dockerfile-maven-plugin"
As described in https://github.com/apache/pulsar/discussions/16642, dockerfile-maven-plugin doesn't support Apple M1 and the project itself is end-of-life.

For supporting developers using Apple M1 clip, we can migrate the building logic to other plugin. Here's some candidates:

* [docker-maven-plugin](https://github.com/fabric8io/docker-maven-plugin) is provided by fabric8io and actively maintain

[2022-07-18 11:52] #15277 closed

[2022-07-18 11:54] leizhiyuan opened #16653 "ReconsumeLater will hang up if retryLetterProducer create fail"
**Describe the bug**
A clear and concise description of what the bug is.

ReconsumeLater will hang up if retryLetterProducer create fail

**To Reproduce**
Steps to reproduce the behavior:
1. create a consumer with retry policy
2.  invoke ReconsumeLater method in messagelistener
3. make this fail `                        this.retryLetterProducer = this.client.newProducer(this.schema).topic(this.dea

[2022-07-18 12:20] liudezhi2098 opened #16654 "When using Key_Shared and set the same consumerName, keyHashRanges is same in topics stats"
**Is your enhancement request related to a problem? Please describe.**

When using SubscriptionType.Key_Shared to subscribe, and set the same consumerName， keyHashRanges is same.

`sh pulsar-admin topics stats test`
[code]

**Describe the solution you'd like**
keyHashRanges should not same.

**Additional context**
pulsar version :  2.11.0
pulsar client : 2.9.2

[2022-07-18 13:01] acortes-okode commented on #16574
Hi again,

It's my first time making such things so I'm not sure if you are telling me to review the PR since it seems I do not have the `write` access that this PR needs for me to review it (and there are also 4 people requested as reviewers).

Anyway, I have seen the changes and it looks good to me, I've also checked out the code, build it and test it and It worked as expected.

Thank you very m

[2022-07-18 14:33] nodece commented on #16574
Well, thank you for telling me it works!

[2022-07-18 18:04] lhotari commented on #10054
@liangjianwen @liguangcheng There's a possible mitigation for the "continuous traffic data between two sites" requirement in #16651 . It doesn't remove it completely since the subscription replication can happen only for positions which have a valid subscription snapshot. Please share more details about your observations or use cases.

[2022-07-19 01:17] yapxue opened #16661 "pulsar admin tool stats-internal with option -m can cause active ledger recover then close."
**Describe the bug**
use pulsar admin tool stats-internal with option -m can cause active ledger recover then close.

**To Reproduce**
Steps to reproduce the behavior:
1. start pulsar and sample prodcuer, consumer
2. execute `./pulsar-admin topics stats-internal {topicName} -m`, example result may be
<img width="1680" alt="Screen_Shot_2022-07-19_at_8_49_12_AM" src="https://user-images.githubuserco

[2022-07-19 01:25] RobertIndie opened #16663 "Flaky-test: MaxUnackedMessagesTest.testMaxUnackedMessagesOnConsumer"
MaxUnackedMessagesTest.testMaxUnackedMessagesOnConsumer is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7386322039?check_suite_focus=true#step:10:560)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-19 01:34] shibd commented on #16663
I will look at it.

[2022-07-19 02:04] Kelly-ZH commented on #5312
@devinbost hello, do you have a curl example that POSTs the function directly using the API? Thank you very much.

[2022-07-19 02:14] codelipenghui opened #16665 "Flaky-test: ManagedLedgerTest.avoidUseSameOpAddEntryBetweenDifferentLedger"
[example failure](https://github.com/apache/pulsar/runs/7390090734?check_suite_focus=true)

[code]

The related logs:

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-19 02:16] codelipenghui opened #16666 "Flaky-test: PersistentTopicStreamingDispatcherTest.setup"
[example failure](https://github.com/apache/pulsar/runs/7386321796?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-19 02:20] codelipenghui opened #16667 "Flaky-test: SimpleProducerConsumerTest.testConsumerBlockingWithUnAckedMessagesMultipleIteration"
[example failure](https://github.com/apache/pulsar/runs/7386322375?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-19 03:16] codelipenghui opened #16669 "Flaky-test: AdminApi2Test.testDeleteNamespace"
[example failure](https://github.com/apache/pulsar/runs/7401612526?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-19 03:41] nodece commented on #16556
The test still failed, see [testAutoSubscribePatternConsumer](https://github.com/apache/pulsar/runs/7392489713?check_suite_focus=true#step:10:1068).

[2022-07-19 03:54] codelipenghui commented on #16667
Interesting, looks like it's another case

[code]

https://github.com/apache/pulsar/runs/7401612734?check_suite_focus=true

[2022-07-19 05:02] lhotari commented on #16496
@Technoboy- Please report each flaky test independently. It's not very useful to collect all failures in a single issue.

[2022-07-19 05:02] #16496 closed

[2022-07-19 05:05] lhotari commented on #16652
@tisonkun I'd prefer the `maven-exec-plugin` solution.

[2022-07-19 06:05] codelipenghui opened #16673 "Flaky-test: V1_ProducerConsumerTest.testBlockUnackedConsumerRedeliverySpecificMessagesCloseConsumerWhileProduce"
[example failure](https://github.com/apache/pulsar/runs/7402402541?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-19 07:18] codelipenghui commented on #16669
[code]

[2022-07-19 07:20] shibd commented on #16666
I will look at it.

[2022-07-19 07:40] RobertIndie commented on #16673
Hi, @codelipenghui  I think this should be related to this PR: https://github.com/apache/pulsar/pull/16670.
The logic of the test itself should be wrong, but the fix by this PR causes the test to fail instead. I think we should fix this test by replacing this line :https://github.com/apache/pulsar/blob/master/pulsar-broker/src/test/java/org/apache/pulsar/client/api/v1/V1_ProducerConsumerTest.java#

[2022-07-19 08:18] freeznet opened #16674 "Add ability to configure subscription name in debezium connector"
**Is your enhancement request related to a problem? Please describe.**
In debezium connector, there is no way to configure a subscription name for any reader that is created during its lifecycle.. thus, the subscription name comes as multiTopicsReader-XYZABC - i.e. a random suffix.

Which is hard to manage in production env.

**Describe the solution you'd like**
Allow the subscription name and oth

[2022-07-19 08:32] codelipenghui commented on #16515
A new one https://github.com/apache/pulsar/runs/7404907404?check_suite_focus=true

[2022-07-19 09:17] nicoloboschi commented on #16374
Failed with timeout today: https://github.com/apache/pulsar/runs/7392640252?check_suite_focus=true

[2022-07-19 09:53] AnonHxy opened #16680 "PIP-191: Support batched message using entry filter"
discuss mail-thread: https://lists.apache.org/thread/cdw5c2lpj5nwzl2zqyv8mphsqqv9vozj

## Motivation

- This PIP introduces a way to support batched message using entry filter without having to deserilize the entry, through restricting same properties of messages in one batch.

- We already have  a plug-in way to filter entries in broker, aka PIP-105 https://github.com/apache/pulsar/issues/12269.

[2022-07-19 10:15] mattisonchao commented on #13429
When I try to use it build 2.9.3, still got an exception:
[code]

[2022-07-19 10:39] shibd commented on #15392
Another failure: https://github.com/apache/pulsar/runs/7406620020?check_suite_focus=true

[2022-07-19 14:52] mattisonchao commented on #14721
Hi, @zubchenok
Sorry for missing this issue.
The second issue:

You can set `isDelayedDeliveryDeliverAtTimeStrict=true` to solve this problem.(broker version greater than or equals to 2.9.3)#16068 or set `delayedDeliveryTickTimeMillis=1`(broker version less than or equals to 2.9.3)

[2022-07-19 20:04] MMirelli opened #16687 "[Tiered storage] Offloaded objects are not deleted when topic is offloaded by `managedLedgerOffloadAutoTriggerSizeThresholdBytes`"
**Describe the bug**
The objects offloaded to any major cloud provider (AWS / Azure / GCP) are not deleted whenever the offload is triggered by `managedLedgerOffloadAutoTriggerSizeThresholdBytes`, although all the messages on offloaded topic are consumed and the topic is deleted.

**To Reproduce**
The problem manifest on the master branch, but not on other branches (2.8, 2.9, 2.10).

Steps to repr

[2022-07-19 22:45] nicoloboschi opened #16688 "Windows support for admin CLI tools"
Currently for Windows users there's no easy way to run Pulsar CLI tools such as `pulsar-admin`, `pulsar-shell`, and so on.

The goal would be to give the possibility to a Windows user to download the Pulsar tarball and administrate a remote Pulsar cluster from their own Windows machine.

Since the Pulsar Admin is a java application, the only implementation needed would be to:
* Create a .cmd file

[2022-07-20 00:36] mattisonchao commented on #14721
And I will try to push a new pull request to improve the first issue.

[2022-07-20 02:51] #16667 closed

[2022-07-20 02:51] #16673 closed

[2022-07-20 03:22] codelipenghui opened #16689 "Flaky-test: OwnerShipCacheForCurrentServerTest.setup"
[example failure](https://github.com/apache/pulsar/runs/7408424219?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-20 03:25] codelipenghui commented on #16663
Fixed by #16670

[2022-07-20 03:25] #16663 closed

[2022-07-20 04:45] tisonkun commented on #16652
Related PR #16099.

[2022-07-20 05:08] heesung-sn opened #16691 "PIP-192: New Pulsar Broker Load Balancer"
# Proposal: New Pulsar Broker Load Balancer

## Motivation
As previously shared with the community, we observed many improvement areas around the Pulsar load balancer[[1]](https://docs.google.com/document/d/1nXaiSK39E10awqinnDUX5Sial79FSTczFCmMdc9q8o8/edit#heading=h.3mmoccnu55o8). Since the improvement requires significant changes, first, we would like to share the overall goals for this project a

[2022-07-20 05:45] eolivelli opened #16693 "Flaky-test: CPP BasicEndToEndTest.testpatternMultiTopicsHttpConsumerPubSub"
BasicEndToEndTest.testpatternMultiTopicsHttpConsumerPubSub is flaky. It fails sporadically.

[example failure](https://pipelines.actions.githubusercontent.com/serviceHosts/365d4aae-a024-4701-977d-a4807b036dda/_apis/pipelines/1/runs/614022/signedlogcontent/2?urlExpires=2022-07-20T05%3A43%3A44.4856693Z&urlSigningMethod=HMACV1&urlSignature=TuVX3CLalfAc3bt%2FiF4tz7a8m%2FNlDOn507vWf%2BjThz8%3D)

CI doe

[2022-07-20 05:53] tisonkun opened #16694 "Tests inherited from MockedPulsarServiceBaseTest cannot run locally"
It's because:

[code]

... these resources files are under `tests` folder. So if you run a unit test inherited from `MockedPulsarServiceBaseTest` from IDEA, test will fail with:

[code]

Currently, I must set those field as `null` to run a unit test locally. Thus, I have two questions here:

1. How can we run tests normally in the CI environment?
2. Can we improve testing settings to run unit test

[2022-07-20 05:58] tisonkun commented on #16694
It seems we have a plugin to copy-resources before test-compile. So how can I integrate it with IDEA?

[code]

[2022-07-20 06:23] momo-jun opened #16695 "[Doc] Improve the description of acknowledgment timeout in Java docs"
### What issue do you find in Pulsar docs?

Reported by a user:

The testing does not match the [javadoc](https://github.com/apache/pulsar/blob/master/pulsar-client-api/src/main/java/org/apache/pulsar/client/api/ConsumerBuilder.java#L184-L185).

Acknowledgment timeout is not disabled by default, because unacknowledged messages are re-delivered after the current consumer shuts down.

What I see is

[2022-07-20 06:46] nodece commented on #16694
Run `mvn clean install -Pcore-modules,-main -DskipTests -Dspotbugs.skip` for copy resource, then run your test.

[2022-07-20 07:45] codelipenghui commented on #16515
A new one https://github.com/apache/pulsar/runs/7424010739?check_suite_focus=true

[2022-07-20 08:43] jiangpengcheng opened #16696 "[Functions] python instance cannot process zip file correctly"
**Describe the bug**
if pass `--py` with a relative zip file with some deps, like [exclamation.zip](https://raw.githubusercontent.com/apache/pulsar/master/tests/docker-images/latest-version-image/python-examples/exclamation.zip), it's failed to start

**To Reproduce**
Steps to reproduce the behavior:

1. Create a pulsar cluster in k8s with helm

[code]

2. download [exclamation.zip](https://github

[2022-07-20 09:56] AnonHxy opened #16698 "Flaky-test: org.apache.pulsar.broker.admin.PersistentTopicsTest.testUnloadTopic"
org.apache.pulsar.broker.admin.PersistentTopicsTest.testUnloadTopic. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7421558598?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-20 10:08] tisonkun commented on #16694
@nodece Thank you! That works. I can run `mvn clean install -DskipTests` before debugging.

Not sure why IDEA doesn't execute that goal before running test, but it should not be a Pulsar issue :)

[2022-07-20 10:08] #16694 closed

[2022-07-20 10:22] eolivelli commented on #14721
I think that isDelayedDeliveryDeliverAtTimeStrict will help you

[2022-07-20 11:27] momo-jun opened #16701 "[Doc] Historical doc versions still have a number of broken doc page links"
### What issue do you find in Pulsar docs?

Due to the website upgrade (adopting Docusaurus 2.0), all internal page links on Pulsar doc pages should strictly contain `.md` extensions. Otherwise, the links cannot be redirected as expected and return 404. Therefore, a number of links need to be adapted to the new framework with new rules.

By now, the broken links in 2.8.x, 2.9.x, 2.10.x, and `next`

[2022-07-20 11:37] Raven888888 opened #16702 "Duplicated data with same publish_ts but different message id!"
**Setup**
- Pulsar 2.7.0, 3-node cluster
- Pulsar websocket api embedded within broker

**Describe the bug**
Client device is using websocket to send event-trigger data to pulsar. Network transmission from device to pulsar is in excess of 100ms on average. There is a retry mechanism if fail to send data. This is the snippet:

[code]

Checking back pulsar table, I found sometimes there are **duplic

[2022-07-20 13:45] shibd opened #16704 "Flaky-test: TxnLogBufferedWriterTest.testFlushThresholds"
TxnLogBufferedWriterTest.testFlushThresholds is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7428130703?check_suite_focus=true)

[code]

[2022-07-20 13:47] shibd opened #16705 "Flaky-test: NamespaceServiceTest.testSplitBundleWithHighestThroughput"
NamespaceServiceTest.testSplitBundleWithHighestThroughput is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7428130796?check_suite_focus=true)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
Error:  Tests run: 26, Failures: 1, Errors: 0, Skipped: 15, Time elapsed: 165.581 s <<< FAILURE! - in org.apache.pulsar.broker.namespace.Name

[2022-07-20 14:57] lhotari commented on #16688
I wonder if Powershell (`.ps1` extension) would be an option?

[2022-07-20 15:11] #16669 closed

[2022-07-20 15:12] #16689 closed

[2022-07-20 16:48] #12257 closed

[2022-07-20 17:01] merlimat commented on #16652
The next step after this would be to enable building multi-arch image :)

[2022-07-20 21:34] zbentley opened #16708 "Namespace-level publish rate limits are poorly documented"
**Describe the bug**
Two issues:
1. The documentation for how to set namespace-level publish rate limits is confusing. Its given example is:

[code]
There is no information as to:
- What `additionalProp1` etc. should be.
- What it means to supply multiple groups of msg/byte rate limits.
- Whether both Msg and Byte must be supplied for each sublimit.

**Expected behavior**
The OpenAPI documentation

[2022-07-20 21:39] zbentley opened #16709 "Namespace-level publish rate limits malfunction on namespace creation if not passed specific keys"
**Describe the bug**

If I try to set publish rate limits *when I create a namespace* (i.e. when making one big PUT to /namespaces/whatever), Pulsar's behavior is unintuitive and often results in rate limits that are not applied.

**To Reproduce**
1. Ensure standalone pulsar is running.
2. Using the admin REST api (not pulsar-admin) create a namespace using this subpolicy:

[code]
3. Observe that

[2022-07-21 03:00] shibd commented on #16500
+1 https://github.com/apache/pulsar/runs/7432985874?check_suite_focus=true

[2022-07-21 03:01] shibd opened #16710 "Flaky-test: PartitionedProducerConsumerTest. testPartitionedTopicInterceptor"
PartitionedProducerConsumerTest. testPartitionedTopicInterceptor is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7432986412?check_suite_focus=true)

[code]

[2022-07-21 03:02] shibd commented on #13953
Here is another fail:  https://github.com/apache/pulsar/runs/7433720866?check_suite_focus=true

[2022-07-21 03:08] shibd opened #16711 "Flaky-test: ManagedCursorTest.markDeleteWithZKErrors"
ManagedCursorTest.markDeleteWithZKErrors is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7432996281?check_suite_focus=true)

[code]

[2022-07-21 03:32] weiliu1031 opened #16712 "ZkSessionWatcher stuck for 20s after zookeeper client connected."
**Describe the bug**
ZkSessionWatcher stuck for 20s after zookeeper client connected.

**To Reproduce**
Steps to reproduce the behavior:
1. zookeeper server kick off a follower
2. pulsar broker's session with the follower lost.
3. ZkSessionWatcher stucks.

**Expected behavior**
ZKSessionWatcher should not stuck for 20s.

**Screenshots**
<img width="1439" alt="image" src="https://user-images.github

[2022-07-21 03:36] shibd commented on #16374
I will look again

[2022-07-21 05:54] #13967 closed

[2022-07-21 07:05] #15487 closed

[2022-07-21 07:30] Demogorgon314 commented on #16705
I will fix this issue.

[2022-07-21 07:54] jsteggink commented on #15647
It seems this is still not working for the standalone version.

`docker run -it -p 6650:6650  -p 8080:8080 --mount source=pulsardata,target=/pulsar/data --mount source=pulsarconf,target=/pulsar/conf a
pachepulsar/pulsar:2.10.1 bin/pulsar standalone`

`WARNING: An illegal reflective access operation has occurred
WARNING: Illegal reflective access by io.netty.util.internal.ReflectionUtil (file:/puls

[2022-07-21 08:16] james-bright-helix commented on #14079
@mattisonchao any progress on this issue?

[2022-07-21 09:02] truong-hua opened #16716 "Clarify the different behaviors of pulsar sink when auto-ack is true/false"
### What issue do you find in Pulsar docs?

The doc does not clearly describe the behavior of a sink when the auto-ack is disabled and whether the auto-ack = true is always reliable for any cases and should be the only option or not.

In reality, we are facing some missed data in sink while our cluster is changing. We are only using rabbitmq as sink destination so we are now would like to understa

[2022-07-21 12:25] eolivelli commented on #16680
I understand the problem, and I have already thought about it, because I am the author of some filters (especially the JMS Selectors Filter) but we have to clarify more this PIP.

1. It is not clear to me if you want to push all the messages metadata in the main header of the entry or only the metatadata of the first entry, or only the KEY.
2. we have to clarify the new message format of the entry

[2022-07-21 13:28] #16698 closed

[2022-07-21 14:17] shibd opened #16723 "Flaky-test: TxnLogBufferedWriterTest.testMainProcess"
TxnLogBufferedWriterTest.testMainProcess is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7449540085?check_suite_focus=true)

[code]

[2022-07-21 14:55] shibd commented on #16666
PersistentDispatcherFailoverConsumerTest.testAddRemoveConsumer also happend this exception.

[code]

[2022-07-22 01:50] Raven888888 commented on #16702
@sijie @codelipenghui Do you know anyone who may have some ideas on this topic?
This issue has been bothering our company for weeks and we have no clues at all...
Really appreciate your help!

[2022-07-22 02:15] shibd commented on #16716
This is related to the function framework.

When Guarantees == ATMOST_ONCE and autoAck == true,  The message will be ack before it enters sink connector.

In other cases auto-ack has no effect on the sink connector, the sink connector needs to ack himself.

auto-ack is a confusing configuration, you can see this [PIP-166](https://github.com/apache/pulsar/issues/15560), it will plan deprecated that

[2022-07-22 02:19] shibd commented on #16716
If you use RabbitMQ sink connector from pulsar repository, When Guarantees != ATMOST_ONCE, auto-ack configuration has no effect on message ack, because the current implementation is internally ack every time.

https://github.com/apache/pulsar/blob/01349088f86ad8034c844fb1bbe0b0c04e2c0892/pulsar-io/rabbitmq/src/main/java/org/apache/pulsar/io/rabbitmq/RabbitMQSink.java#L85-L88

[2022-07-22 02:20] codelipenghui opened #16729 "Flaky-test: ManagedLedgerBkTest.asyncMarkDeleteAndClose"
[example failure](https://github.com/apache/pulsar/runs/7449515309?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-22 03:39] #16515 closed

[2022-07-22 05:57] lhotari commented on #13584
@gaozhangmin please explain the resolution since you closed the issue without describing the resolution.

[2022-07-22 05:57] lhotari commented on #13584
This problem occurs in 2.10

[2022-07-22 06:42] nlu90 commented on #16716
1. when you are confident the message is successfully processed, you should ack it.
2. if `auto-ack` is `true`, the message is acked when it's first received by the function/connector. No nack is invoked IIRC.

[2022-07-22 07:16] shibd commented on #16716
And also need `Guarantees == ATMOST_ONCE`?

[2022-07-22 07:21] #16291 closed

[2022-07-22 07:24] TakaHiR07 opened #16732 "enhance enable bookkeeperClientExposeStatsToPrometheus would drop pulsar performance"
**Is your enhancement request related to a problem? Please describe.**
https://github.com/apache/pulsar/pull/16219, this pr fix the bug if bookkeeperClientExposeStatsToPrometheus is true. But after enable bookie client metrics, I found that it would generate too much prometheus metrics, which obviously drop pulsar performance.

As shown in the screenshot，pulsar_managedLedger_client metrics have 19

[2022-07-22 07:27] #16418 closed

[2022-07-22 07:28] codelipenghui opened #16733 "Flaky-test: BacklogQuotaManagerTest.testConsumerBacklogEvictionTimeQuotaWithEmptyLedger"
[example failure](https://github.com/apache/pulsar/runs/7461827773?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-22 07:30] codelipenghui commented on #16733
There is a related fix https://github.com/apache/pulsar/pull/13724, but it looks like the issue doesn't fix yet.

[2022-07-22 08:39] lhotari opened #16736 "CI: Replace current GitHub Actions test reporting solution with less verbose solution"
**Is your enhancement request related to a problem? Please describe.**

We are currently using a test reporting solution based on https://github.com/dorny/test-reporter and there's a copy of this action in https://github.com/apache/pulsar-test-infra/tree/master/test-reporter .

The problem with this solution is that the test reporting is very verbose since it creates new check runs for the PR.
Whe

[2022-07-22 08:43] lhotari commented on #16736
The change could be tested in your own fork (some instructions in https://pulsar.apache.org/contributing/#ci-testing-in-your-fork) before submitting a PR.
The copy of https://github.com/mikepenz/action-junit-report would have to be added to https://github.com/apache/pulsar-test-infra since only whitelisted or trusted locations can be used in GH actions workflows for apache/pulsar.

[2022-07-22 09:35] cbornet opened #16739 "PIP 193 : Sink preprocessing Function"
## Motivation

Pulsar IO connectors make it possible to connect Pulsar to an external system:
* A Source reads continuously from an external system and writes to a Pulsar topic
* A Sink reads continuously from a Pulsar topic and writes to an external system.
Sources and Sinks are written in Java.

Pulsar also has a lightweight computing system named Pulsar Functions. A Pulsar Function reads from o

[2022-07-22 10:11] eolivelli opened #16741 "Pulsar Standalone: --wipe-data does not work with RocksDB backend"
**Describe the bug**
On current master, when you use "standalone", the --wipe-data feature does not work. Data is not erased

[2022-07-22 13:39] eolivelli commented on #16619
@AnonHxy did you see my comment ?

[2022-07-22 13:40] eolivelli commented on #15528
This has been delivered

[2022-07-22 13:40] #15528 closed

[2022-07-22 13:41] eolivelli commented on #10919
This is no more a problem since 2.10

[2022-07-22 13:41] #10919 closed

[2022-07-22 14:06] AnonHxy commented on #16619
Yes. I saw the comment.  And I had replied from the email.  Maybe I should attatch the link to this issue. :)
https://lists.apache.org/thread/dbq1lrv03bhtk0lr5nwm5txo9ndjplv0

I agree with your point.  And I have updated the PR to remote the configuration.   But there is still some flaky-test failure and I am working on it.   Thanks @eolivelli

[2022-07-22 14:15] AnonHxy commented on #16680
in the main header of the entry or only the metatadata of the first
entry, or only the KEY.

I just want to copy the partial message properties(we call it batch properties here) to the main header of the entry, without modifying the payload or single message metadata.  All messages in one batch must have the same batch properties (both key and value).

the protocol documents

It seems that the pro

[2022-07-22 15:33] dave2wave commented on #16688
For those interested the shell scripts are here: https://github.com/apache/pulsar/tree/master/bin

[2022-07-23 02:10] codelipenghui commented on #16538
@nodece Do you want to fix this flaky test?

[2022-07-23 02:10] codelipenghui commented on #16538
A new one https://github.com/apache/pulsar/runs/7471854513?check_suite_focus=true

[2022-07-23 02:11] codelipenghui opened #16749 "Flaky-test: PulsarFunctionMetadataStoreTest.setup"
[example failure](https://github.com/apache/pulsar/runs/7471854928?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-23 03:02] shibd opened #16750 "Flaky-test: PulsarFunctionLocalRunTest. testE2EPulsarFunctionLocalRunMultipleInstances"
PulsarFunctionLocalRunTest. testE2EPulsarFunctionLocalRunMultipleInstances is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7477945933?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-23 03:03] shibd opened #16751 "Flaky-test: PulsarFunctionLocalRunTest. testE2EPulsarFunctionLocalRunMultipleInstances"
PulsarFunctionLocalRunTest. testE2EPulsarFunctionLocalRunMultipleInstances is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7477945933?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-23 03:03] shibd opened #16752 "Flaky-test: PulsarFunctionLocalRunTest. testE2EPulsarFunctionLocalRunMultipleInstances"
PulsarFunctionLocalRunTest. testE2EPulsarFunctionLocalRunMultipleInstances is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7477945933?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-23 03:03] shibd opened #16753 "Flaky-test: PulsarFunctionLocalRunTest.testE2EPulsarFunctionLocalRunMultipleInstances"
PulsarFunctionLocalRunTest. testE2EPulsarFunctionLocalRunMultipleInstances is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7477945933?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-23 03:04] #16750 closed

[2022-07-23 03:04] #16751 closed

[2022-07-23 03:04] #16752 closed

[2022-07-23 03:19] shibd commented on #14540
+1 https://github.com/apache/pulsar/pull/16719/checks?check_run_id=7478179167

[2022-07-23 06:24] nodece commented on #16538
Okay

[2022-07-23 08:56] mattisonchao commented on #13109
I will close this issue until it re-produced.

[2022-07-23 08:56] #13109 closed

[2022-07-23 08:57] mattisonchao commented on #12969
The details please see #13094, closed.

[2022-07-23 08:57] #12969 closed

[2022-07-23 08:58] mattisonchao commented on #13046
Please see @casuallc answer. This issue will re-open when reproduced.

[2022-07-23 08:58] #13046 closed

[2022-07-23 09:01] mattisonchao commented on #15466
The details please see #14887. closed.

[2022-07-23 09:01] #15466 closed

[2022-07-23 09:02] #15711 closed

[2022-07-23 09:22] tisonkun commented on #15711
@mattisonchao may I ask what's the conclusion of this issue?

[2022-07-23 11:12] HQebupt opened #16755 "Load manager leader disable ownership of bundle but take ownership of bundle again when it is closing"
**Describe the bug**
When the broker where the `LoaderManager `leader is located is shutting down, there is a possibility that the bundle will be released and the bundle will be reloaded. The bug causes the reconnect failure of the `Producer` client.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a persistent topic producer to send messages continuously
2. Keep closing the broker pro

[2022-07-23 14:28] HQebupt opened #16757 "PIP 194 : Pulsar client: seek command add epoch"
- Status: Proposal
- Authors: Qiang Huang
- Pull Request:
- Mailing List discussion:
- Release:

## Motivation
`Reader` belongs to exclusive subscription type, and it uses `nonDurable` cursor. After receiving messages, `Reader` will ack cumulatively immediately.
The `flowPermits` are triggered in multiple scenarios from the client side and it is isolated from `seek` of `Consumer`. Therefore, it is

[2022-07-24 08:09] BewareMyPower opened #16761 "[C++] getLastMessageIdAsync returns ResultNotConnected after seek"
**Describe the bug**
When C++ client calls `ConsumerImpl::getLastMessageIdAsync`, if the connection is not established, the callback will complete with `ResultNotConnected`.

**To Reproduce**
Add the following test to `ReaderTest.cc` and run it.

[code]

**Expected behavior**
`getLastMessageIdAsync` should wait until the connection is established like `ConsumerImpl#internalGetLastMessageIdAsync` i

[2022-07-24 11:52] LasseJacobs opened #16762 "Pulsar 2.10.1 will not run on m1 macos due to java.net.MalformedURLException"
**Describe the bug**
When I run the docker command on the getting started page: https://pulsar.apache.org/docs/getting-started-docker/ on my M1 mac is fails during startup citing the following issue:
[code]

Full log is attached to this ticket.
[pulsar.log](https://github.com/apache/pulsar/files/9175699/pulsar.log)

After this error a number of other errors occur before the program exits, and the

[2022-07-24 12:12] asafm commented on #16680
Is this true now or do you plan to enforce it?

What does this contain? Property names to extract from the messages to be placed in the batch entry metadata properties?

Regarding the extraction. Say I have Message 1 with property region=eu, and Message 2 with property region=us. The end result of batch metadata properties will be region=eu, us?
The reason I'm asking is: Can you please clarify in

[2022-07-24 13:23] AnonHxy commented on #16680
Hi Asaf @asafm

This is what I plan to enforce it.  The batch entry metadata properties is empty now

It contains the properties keys that will be put into the batch entry metadata properties.

For example:
- Let's set `batchedFilterProperties`=`<region, version>`
This means only key named `region` and `version`will be extracted to the batch meta properties

- Then we have a  producer that sends t

[2022-07-24 13:45] asafm commented on #16680
Ok, what you just wrote, if I understand correctly is pretty big and must be well documented in the proposal. You're saying that you will change the way batching works today. If today I have certain knobs which controls how batching is preparing: max batch size, timeout, max number of records and that's it, now you're changing it such that the batching will grouped by the properties defined (`batc

[2022-07-24 14:56] AnonHxy commented on #16680
Yes. This will generate smaller batches if `batchedFilterProperties ` is not empty. But the advantage is that there is no need to deserialize the entry in the broker or just publish non-batched messages  if users want to fliter entries.

Good idea.  Users should know which values they will use.  It seems reasonable.

[2022-07-25 01:47] Technoboy- commented on #15891
What do you mean the partition is `terminated` ?  Do you mean that the partition state is `terminated` which can't produce any messages but can consume ?

[2022-07-25 01:48] coderzc opened #16763 "PIP-195: New bucket based delayed message tracker"
# PIP-195: New bucket based delayed message tracker

Discussion Mailing list thread: https://lists.apache.org/thread/1krdhrvs803kb6rqzdh17q0f199nroz4
Vote Mailing list thread: https://lists.apache.org/thread/51n8kp64d16vxwh9h6klvyh1zo0owf91

## Motivation

Scheduled and delayed message delivery is a widespread feature in messaging systems. Pulsar has supported delayed messages[[0]](https://pulsar.

[2022-07-25 02:05] RobertIndie commented on #16556
Fixed by https://github.com/apache/pulsar/pull/16719

[2022-07-25 02:05] #16556 closed

[2022-07-25 02:28] coderzc commented on #16538
I also met this problem: https://github.com/apache/pulsar/runs/7492227697?check_suite_focus=true

[2022-07-25 03:13] nodece commented on #16374
Fixed by https://github.com/apache/pulsar/pull/16719.

[2022-07-25 03:13] #16374 closed

[2022-07-25 04:40] mattisonchao commented on #16757
It looks like this PIP can fix the problem https://github.com/apache/pulsar/issues/13788 in the "Reader with seeking" case.

[2022-07-25 04:48] mattisonchao commented on #16757
Looks like this PIP can fix the problem https://github.com/apache/pulsar/issues/13788 in the "Reader with seeking" case.
Because of the problem described from that PIP, for the reader, its Ack is out of order.

[2022-07-25 05:46] Technoboy- commented on #16237
#14261 #15031 may fix this issue. Suggest to upgrade to v2.8.3

[2022-07-25 06:06] Technoboy- commented on #16516
Closed by #16742

[2022-07-25 07:53] TakaHiR07 opened #16768 "can not revoke permission after update topic partition"
**Describe the bug**
Steps to reproduce the behavior:
1. create a 3 partition topic "persistent://test/test/test"
2. grant produce permission on topic
3. update topic partition to 5
4. pulsar-admin topics permissions persistent://test/test/test-partition-5, can not get permission of the new partition, but old partition has the permission
5. try to produce msg to "persistent://test/test/test", "per

[2022-07-25 08:17] codelipenghui opened #16770 "Flaky-test: PersistentSubscriptionMessageDispatchStreamingDispatcherThrottlingTest.testRelativeMessageRateLimitingThrottling"
[example failure](https://github.com/apache/pulsar/runs/7492592847?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-25 08:20] codelipenghui commented on #15392
Another failure https://github.com/apache/pulsar/runs/7492594841?check_suite_focus=true

[2022-07-25 08:41] #16741 closed

[2022-07-25 09:57] #16574 closed

[2022-07-25 10:33] nodece commented on #16757
This PIP should be able to fix #16171.

[2022-07-25 13:14] #10419 closed

[2022-07-25 13:57] HQebupt commented on #16757
I believe so.

[2022-07-25 14:01] lordcheng10 opened #16782 "[PIP-169] Support split bundle by flow or qps"
## Motivation
As we all know, Bundle split has 3 algorithms:
- range_equally_divide
- topic_count_equally_divide
- specified_positions_divide

However, none of these algorithms can divide bundles according to flow or qps, which may cause bundles to be split multiple times.

## Goal
Our goal is to split bundles according to flow or QPS, so we propose a PIP to introduce a split algorithm based on fl

[2022-07-25 14:12] tisonkun opened #16783 "check-binary-license.sh doesn't check Pulsar SQL licenses in CI"
https://github.com/apache/pulsar/blob/52d8fe03160648f14dc196edaa87921064a1b2b2/.github/workflows/pulsar-ci.yaml#L106-L113

When build and check license in CI, we don't build with Pulsar SQL module. Thus, we can miss dependencies bump to Pulsar SQL, as in https://github.com/apache/pulsar/pull/16508#issuecomment-1194035662 and the first attempt of https://github.com/apache/pulsar/pull/16683.

I don'

[2022-07-25 14:44] lordcheng10 commented on #16782
discuss thread https://lists.apache.org/thread/cshyt10fwcjjxs93g8yf0svgwcgnshmg

[2022-07-25 16:10] #16733 closed

[2022-07-25 16:44] #16674 closed

[2022-07-26 01:23] codelipenghui opened #16786 "Flaky-test: PulsarFunctionsJavaProcessTest.testJavaExclamationFunction"
[example failure](https://github.com/apache/pulsar/runs/7509406611?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-26 01:33] codelipenghui commented on #16782
@lordcheng10 The PIP number is duplicated with https://github.com/apache/pulsar/issues/15463

[2022-07-26 01:45] lordcheng10 commented on #16782
fixed

[2022-07-26 01:54] Technoboy- commented on #16782
No need to re-send, you can reply to the latest PIP in the original email

[2022-07-26 01:55] lordcheng10 commented on #16782
OK

[2022-07-26 02:00] #16483 closed

[2022-07-26 02:01] Technoboy- commented on #16538
Closed by #16765

[2022-07-26 02:23] dragonls commented on #15891
Yes, someone may have teminated the topic via pulsar admin.
![image](https://user-images.githubusercontent.com/2565118/180908944-ddbdc3bd-14a2-4119-a9d9-3b74495024fb.png)

[2022-07-26 02:37] #16626 closed

[2022-07-26 04:04] Raven888888 commented on #16702
Found exactly same issue #16469
@sijie @codelipenghui Do you know anyone who is expert on this? Many thanks!

[2022-07-26 06:02] lhotari commented on #16786
this might be a duplicate of #12559

[2022-07-26 06:29] Nicklee007 opened #16790 "Flaky-test: PersistentDispatcherFailoverConsumerTest.testAddRemoveConsumer"
[example failure](https://github.com/apache/pulsar/pull/16573/checks?check_run_id=7487144384)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-26 09:09] asafm commented on #16680
What I am suggesting is to turn this idea a bit: Instead of batching per the same values of keys, batch all messages, and for each property save a list of values in the metadata. This way you are not affecting the latency on the client side or batch size, yet you still have the ability to filter batches based on metadata without deserializing it.

[2022-07-26 09:46] codelipenghui opened #16795 "Flaky-test: SimpleProducerConsumerTest.testSharedSamePriorityConsumer"
[example failure](https://github.com/apache/pulsar/runs/7514010794?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-26 09:59] Gleiphir2769 opened #16796 "Incorrect out-of-order check for chunked message in consumerImpl"
**Describe the bug**
Hello, I find a bug of `ConsumerImpl`. It seems that the last check for `TotalChunkMsgSize` is wrong. I'll do the fix work.
https://github.com/apache/pulsar/blob/2330f6e42d743d98b7f5bc46e2450c2a8090e2fd/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java#L1424-L1426

[2022-07-26 10:00] AnonHxy commented on #16680
Thanks for your suggestion @asafm . If I understand correctly, it means that all the properties,  which need to be filted,  will be put into the entry header meta. So the protocol will be like below:

| | batch meta properties | single meta properties | payload | single meta properties | payload|
| -- | -- | -- | -- | --|---|
| batch | <region: eu,us;  version:1> | <region: eu> | msg1 | <region: u

[2022-07-26 10:44] #15289 closed

[2022-07-26 11:46] asafm commented on #16680
Let me see if I understand correctly.

Today, when an entry filter receives an entry, it gets an Entry that has:
[code]
The Entry interface doesn't let you know if this is Batched Entry.

You also get FilterContext:
[code]

and in `MessageMetadata`, you have
[code]

Which enables you to know this entry is batched.

The developer can determine what class would deserialize the entry byte array into

[2022-07-26 14:07] AlvaroStream opened #16800 "Missleading -c option in Standalone"
The -c option offered in the standalone is missleading.

the bin/pulsar pass already a [--config](https://github.com/apache/pulsar/blob/master/bin/pulsar#L374) and when you try to use it there is an error:

[code]

**To Reproduce**

[code]

**Expected behavior**

Don't misslead with a parameter is not needed.

[2022-07-26 15:22] BewareMyPower opened #16802 "Repeated messages of shared dispatcher"
**Describe the bug**
Recently I found the C++ tests `BasicEndToEndTest.testPatternMultiTopicsConsumerPubSub` and `BasicEndToEndTest.testpatternMultiTopicsHttpConsumerPubSub` became flaky. Eventually I found it's caused by the duplicated messages.

**To Reproduce**

First, start a standalone with latest master.

Then, run the following Java test.

[code]

Sometimes it failed. (You can add more logs

[2022-07-26 19:11] pablopla opened #16804 "[Doc] Wrong property description"
### What issue do you find in Pulsar docs?

The property "pulsar.allocator.leak_detection" has wrong description: "Service URL provider for Pulsar service"

### What is your suggestion?

n/a

### Do you have any references?

https://pulsar.apache.org/docs/client-libraries-java/#client-memory-allocator-configuration

### Would you like to fix this issue?

n/a

### Note

- [X] I have researched my q

[2022-07-27 01:59] #16665 closed

[2022-07-27 02:01] #16661 closed

[2022-07-27 02:04] nodece opened #16805 "Flaky-test: ReplicatorTest.testReplicatorWithFailedAck"
[code]

https://github.com/apache/pulsar/runs/7526216129?check_suite_focus=true#step:10:1269

[2022-07-27 02:04] #16805 closed

[2022-07-27 02:05] nodece commented on #16500
+1 https://github.com/apache/pulsar/runs/7526216129?check_suite_focus=true#step:10:1269

[2022-07-27 02:11] sakurafly123 commented on #13584
i have the problem  when i have many topics about 1million。the connections between broker and zookeeper will be disconnected and connected frequently.

[2022-07-27 02:18] lordcheng10 commented on #16054
In #14985, miss cache is caused by data re-pushing due to restart of some consumer clients @lhotari

[2022-07-27 02:20] yaalsn commented on #16762
@LasseJacobs How about running with command `docker run --platfrom linux/amd64 -it -p 6650:6650 -p 8080:8080 --mount source=pulsardata,target=/pulsar/data --mount source=pulsarconf,target=/pulsar/conf apachepulsar/pulsar:2.10.1 bin/pulsar standalone` ?

[2022-07-27 02:34] #16666 closed

[2022-07-27 02:59] AnonHxy commented on #16680
Thank you for your patience @asafm . Yes, what you described above is correctly.

I will give a more detailed explanation in the PIP

I agree with you. `batchGroupByProperties` is better, which indicates batching behavior.

No. There is no need to take care of controling the memory in this PIP.  Because the groupBy behavior will be done in the `BatchMessageContainerImpl`,  which will control the m

[2022-07-27 03:20] shibd commented on #15392
After https://github.com/apache/pulsar/pull/16773, When the message is null, will print input and output stats.

This ci: https://github.com/apache/pulsar/runs/7528475589?check_suite_focus=true

It looks like the output message count is only 1.
[code]

[2022-07-27 04:29] TianFeng111 opened #16811 "Sytem topic (change_events) became temporarily unavailable after expansion of broker"
**Describe the bug**
We found a system topic (persistent://xxx/xxx/__change_events) became "temporarily unavailable" after  expansions of broker,  and we can't create producer on that namespace anymore, and even can't create topics . Here's some log from brokers and bookies below.
**Pulsar version**: apache-pulsar-2.10.0
**Logs**
1、**All bookies of this cluster got these log:**
![image](https://us

[2022-07-27 06:56] eolivelli commented on #16802
I am working on a fix

[2022-07-27 06:57] #16653 closed

[2022-07-27 07:00] eolivelli commented on #16802
in #16603 I had to change a test that was failing in a similar way.
but the test was missing a "acknowledge(message)" so I thought that the test was wrong.

https://github.com/apache/pulsar/pull/16603/files#diff-33303e92b2d03115c1bde9ad3af39f9127f6a25270855fb5b5c2eb7c3db74e50R281

I will revert the change to the test and add your new test case

[2022-07-27 07:48] BewareMyPower opened #16813 "[branch-2.8] testGetNumberOfEntriesInStorage is broken"
**Describe the bug**
In branch-2.8, `ManagedLedgerTest#testGetNumberOfEntriesInStorage` cannot pass. We can see the example failure from https://github.com/apache/pulsar/runs/7534114748?check_suite_focus=true and other earlier runs.

**To Reproduce**
Run the test, we can see

[code]

**Expected behavior**
The test should pass.

[2022-07-27 07:52] BewareMyPower commented on #16813
This issue was introduced from https://github.com/apache/pulsar/pull/15627.

I found https://github.com/apache/pulsar/pull/15627#issuecomment-1149962309 mentioned this test relies on #14672 that should not be cherry-picked into release branches.

@HQebupt Could you take a look?

[2022-07-27 08:09] RobertIndie commented on #16693
Another failure: https://github.com/apache/pulsar/runs/7532772064?check_suite_focus=true#step:11:448

[code]

[2022-07-27 08:10] RobertIndie commented on #16711
Another failure: https://github.com/apache/pulsar/runs/7534476000?check_suite_focus=true

[2022-07-27 08:33] RobertIndie commented on #16582
This issue still exist: https://github.com/apache/pulsar/runs/7534476083?check_suite_focus=true#step:10:711

[2022-07-27 08:56] sollecitom opened #16818 "[Java clients] Consumer should not try to establish a connection to the broker within its constructor"
Java Pulsar Consumer should not try to establish a connection to the broker within its constructor.

Instead, it should delay attempting to do so until the first time `receive()` is invoked. At the moment it's hard to spin up an application if Pulsar is temporary unreachable. The `subscribe()` call blocks until it successfully connects, or throws exceptions. The async alternative, `subscribeAsync(

[2022-07-27 09:20] mattisonchao commented on #10433
This problem fixed by #15707.

[2022-07-27 09:40] nodece commented on #16538
#16765 cannot fix this issue.

Met this issue again: https://github.com/apache/pulsar/runs/7535091922?check_suite_focus=true#step:10:1253

[2022-07-27 09:43] tisonkun commented on #10433
@mattisonchao as a committer you should be able to close this issue as completed :)

[2022-07-27 09:53] eolivelli commented on #16693
it will be fixed by
https://github.com/apache/pulsar/pull/16812

[2022-07-27 09:54] eolivelli commented on #16693
@BewareMyPower FYI

[2022-07-27 10:15] nodece commented on #16582
@nicoloboschi We encountered this problem again, I think this is related to #15513.

/cc @codelipenghui

[2022-07-27 10:39] mattisonchao commented on #10433
@tisonkun  Got it. thanks!

[2022-07-27 10:39] #10433 closed

[2022-07-27 10:59] hangc0276 commented on #16564
OpeJDK should be "container aware" now. See https://bugs.openjdk.java.net/browse/JDK-8203357.

Would you please try the higher JDK version?

[2022-07-27 12:53] shibd commented on #16666
This test will still fail.

[2022-07-28 00:56] oldwangmate opened #16827 "java.lang.NoClassDefFoundError: org/apache/pulsar/shade/io/netty/buffer/PoolArena$1"
When using pulsar client to send messages in flick, the following errors often appear. How can I end up

java.lang.NoClassDefFoundError: org/apache/pulsar/shade/io/netty/buffer/PoolArena$1
	at org.apache.pulsar.shade.io.netty.buffer.PoolArena.freeChunk(PoolArena.java:247)
	at org.apache.pulsar.shade.io.netty.buffer.PoolThreadCache$MemoryRegionCache.freeEntry(PoolThreadCache.java:430)
	at org.apach

[2022-07-28 01:10] #16710 closed

[2022-07-28 01:41] shibd opened #16829 "Flaky-test: ElasticSearchClientTests.testBulkBlocking"
ElasticSearchClientTests.testBulkBlocking is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7547786431?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-28 01:45] Technoboy- commented on #16818
Good idea and what do you think?  @codelipenghui @mattisonchao
If so, we can let @sollecitom send out a discussion email for this.

[2022-07-28 01:52] nodece commented on #16582
This issue should be able to fix by #16821.

[2022-07-28 01:52] #16582 closed

[2022-07-28 01:55] codelipenghui opened #16830 "Flaky-test: PersistentStickyKeyDispatcherMultipleConsumersTest.testMessageRedelivery"
[example failure](https://github.com/apache/pulsar/runs/7549605041?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-28 02:51] Technoboy- commented on #16811
From the pic 2~3, it's about unloading the topic that causes the system topic not to be available.
Does this issue going for a long time ?

[2022-07-28 05:37] mangoGoForward commented on #15311
Hi @Anonymitaet I'd like to work on it, please assign to me

[2022-07-28 06:27] Anonymitaet commented on #15311
@mangoGoForward thanks! Assigned.

[2022-07-28 07:42] wangjialing218 opened #16839 "Auto-discover of regular expressions subscribe stoped when any topic removed"
**Describe the bug**
As  [PIP-13](https://github.com/apache/pulsar/wiki/PIP-13:-Subscribe-to-topics-represented-by-regular-expressions), when we subscribe to topics represented by regular expressions, there is an auto-discover timer to check the new added or removed topics and do subscribe or unsubscribe.
When a topic remove happen, any topics added later will not be subscribed.

**To Reproduce**

[2022-07-28 08:05] poorbarcode commented on #16711
Hi @shibd @RobertIndie

I have fixed it. #16841

[2022-07-28 08:49] mangoGoForward commented on #16688
I would like to help

[2022-07-28 09:24] poorbarcode commented on #16135
complete.

[2022-07-28 09:24] #16135 closed

[2022-07-28 09:36] JohnTangZX opened #16844 "[Doc] The openssl.cnf file is missing"
### What issue do you find in Pulsar docs?

In the doc, it metions to get the sample openssl.cnf from the below website. But the file is not there any more.

https://raw.githubusercontent.com/apache/pulsar/master/site2/website/static/examples/openssl.cnf

### What is your suggestion?

Please make the openssl.cnf availalbe.

### Do you have any references?

Doc link: https://pulsar.apache.org/docs/

[2022-07-28 09:36] #15516 closed

[2022-07-28 09:52] shibd commented on #16566
Hi, you need to use google test version 1.12.1, refer to this pr: https://github.com/apache/pulsar/pull/16776

[2022-07-28 10:24] coderzc opened #16846 "Pulsar Standalone: Unable to start multiple bookies"
**Describe the bug**

Use standalone command can‘t start pulsar cluster with multiple bookies.

**To Reproduce**
Steps to reproduce the behavior:

[code]

**Expected behavior**
Start Pulsar with multiple bookies in standalone mode.

**Desktop (please complete the following information):**
 - OS: macOS 12.4

**Additional context**
Issues related to #16741

[2022-07-28 11:20] tisonkun opened #16849 "Download Python Client as document steps throw errors"
Python Client document writes:

[code]

However, all these optional features return not found:

[code]

It seems we don't release pypi packages for 2.10.1?

cc @BewareMyPower @codelipenghui

[2022-07-28 11:59] dragonls opened #16852 "TimeOut error while consumer subscribing on topic and "Recursion depth became negative: -1" error in broker"
**Describe the bug**
While consumer subscribing on topic, it failed with `TimeOut` error.
![image](https://user-images.githubusercontent.com/2565118/181493846-4a0f226b-97d1-4724-acb6-e078d75a1698.png)
The log above is using python client 2.7.4 to connect Pulsar.

At the mean time, the broker shows the error log `java.lang.IllegalStateException: Recursion depth became negative: -1`
![image](https:/

[2022-07-28 13:01] rkaw92 commented on #12455
Hey, for what it's worth, I'm seeing this in Pulsar 2.10.1 with KoP:
[code]

But I'm able to start the broker - this is at run-time.

It _kind of works_, but I'm getting a constant spam of this message in the logs.

[2022-07-28 14:26] BewareMyPower commented on #16849
Could you confirm whether the Python client has been released since you're the release manager of 2.10.1? @codelipenghui

BTW, the command should be `pip3 install 'pulsar-client[all]==2.10.1'` on macOS.

[2022-07-28 14:39] tisonkun commented on #16849
@BewareMyPower I think the quote issue is introduced by zsh syntax. Here is a pull request to adapt the case #16851

[2022-07-28 14:48] BewareMyPower commented on #16813
Close the issue by c534be7

[2022-07-28 14:48] #16813 closed

[2022-07-28 15:48] mattisonchao commented on #16818
we can send out a discussion email for this.

[2022-07-28 15:57] BewareMyPower opened #16854 "[branch-2.9] Some broken tests are ignored in CI"
**Describe the bug**
https://github.com/apache/pulsar/pull/13644 is not cherry-picked into branch-2.9 and branch-2.10, the `AdminApiTest2` will be ignored in CI so that some failed tests won't be exposed.

**To Reproduce**

Run `AdminApiTest2#brokerNamespaceIsolationPoliciesUpdateOnTime`, it will fail in branch-2.9 and branch-2.10.

**Expected behavior**
https://github.com/apache/pulsar/pull/13644

[2022-07-28 16:00] BewareMyPower commented on #14863
This issue should not be closed because #13644 is not cherry-picked or migrated to branch-2.9 and branch-2.10, I opened a new issue for it. /cc @poorbarcode @codelipenghui @shibd

First of all, we need to rename `AdminApiTest2` to `AdminApi2Test` for branch-2.9 and branch-2.10.

[2022-07-28 16:04] BewareMyPower commented on #16854
https://github.com/apache/pulsar/blob/branch-2.9/pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest2.java

[2022-07-28 19:03] #16802 closed

[2022-07-28 20:02] rillo-carrillo opened #16856 "Pulsar broker with TLS failing when function worker enabled"
**Describe the bug**
Pulsar broker not able to start when functionsWorkerEnabled set to true.

Pulsar Broker has TLS Enc enabled
[code]
Pulsar Proxy has TLS Env enabled
[code]
We have configured function_worker.yml to use same certificates to connect with broker. But it fails on startup due to next error:
`PKIX path building failed: sun.security.provider.certpath.SunCertPathBuilderException: unabl

[2022-07-29 01:24] Technoboy- opened #16858 "Flaky-test: LedgerOffloaderMetricsTest.cleanup"
LedgerOffloaderMetricsTest.cleanup is flaky. It fails sporadically.

### Failure CI
https://github.com/apache/pulsar/runs/7562071273?check_suite_focus=true

### StackTrace
[code]

[2022-07-29 02:04] poorbarcode opened #16859 "[broker] Cursor status has always been SwitchingLedger and pendingMarkDeleteOps has accumulated tens of thousands of requests"
**Describe the bug**
The pendingMarkDeleteOps has accumulated tens of thousands of requests, and the cursor status has always been `SwitchingLedger`, and the retention cannot be executed, resulting in the situation that the disk space cannot be reclaimed.

**Screenshots**
![181666034-f073360f-1f09-4261-95d9-4cdcac255aa8](https://user-images.githubusercontent.com/25195800/181667483-c545bd37-638f-47

[2022-07-29 02:07] poorbarcode commented on #16859
Hi @keyboardbobo

Could you please provide the version used? If possible, you can upload the dump file (which may cause data leakage of the company).

[2022-07-29 02:23] codelipenghui opened #16860 "Flaky-test: BookKeeperPackagesStorageTest.setUp"
[example failure](https://github.com/apache/pulsar/runs/7571561624?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-29 02:24] codelipenghui commented on #16860
Looks similar with https://github.com/apache/pulsar/issues/15773, but the stack is not 100% same

[2022-07-29 02:34] BewareMyPower opened #16861 "[branch-2.8] testMaxNumPartitionsPerPartitionedTopicTopicCreation is broken"
**Describe the bug**
`BrokerServiceAutoTopicCreationTest#testMaxNumPartitionsPerPartitionedTopicTopicCreation` is broken in branch-2.8, see https://github.com/apache/pulsar/runs/7569323751?check_suite_focus=true.

It has been broken for a long time but skipped by another failed test that was fixed recently.

**Expected behavior**
The test should pass.

[2022-07-29 02:49] BewareMyPower commented on #16861
It was introduced by the b01d5d2d

[2022-07-29 03:21] #16711 closed

[2022-07-29 03:25] BewareMyPower commented on #16861
Revert it first. It's because in branch-2.8, `checkMaxTopicsPerNamespace` is a synchronous method that cannot be invoked in the callback.

[2022-07-29 03:38] keyboardbobo commented on #16859
My version is 2.9.2, the dump file is very large, and it is difficult to upload it on the intranet due to security reasons. The values of the ManagedCursorMXBean mbean are as follows:

[2022-07-29 05:57] codelipenghui opened #16863 "Flaky-test: ManagedLedgerFactoryChangeLedgerPathTest.setUp"
[example failure](https://github.com/apache/pulsar/runs/7572938224?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-29 05:58] zhanghaou commented on #16564
Thanks for this tip, I will try.

[2022-07-29 05:58] codelipenghui commented on #16753
Another one https://github.com/apache/pulsar/runs/7572938477?check_suite_focus=true

[2022-07-29 06:22] poorbarcode commented on #16859
Hi @keyboardbobo

I now suspect that something is wrong with the `pendingMarkDeletedSubmittedCount`. Could you show the property `ManagedCursorImpl.pendingMarkDeletedSubmittedCount` ?

[2022-07-29 06:28] keyboardbobo commented on #16859
`pendingMarkDeletedSubmittedCount `=0

[2022-07-29 06:42] poorbarcode commented on #16859
Hi @keyboardbobo

Thanks, then it is not `pendingMarkDeletedSubmittedCount`'s problem. Is there any other error log？

[2022-07-29 07:20] keyboardbobo commented on #16859
@poorbarcode
At that time, an abnormal scenario with a large network delay from the broker to the bookie was simulated, and there were many errors similar to the following:

Then the disk space increases, and some partitions cannot be reclaim.

[2022-07-29 08:03] Technoboy- commented on #16723
https://github.com/apache/pulsar/runs/7573727384?check_suite_focus=true

[code]

[2022-07-29 08:07] Technoboy- opened #16864 "Flaky-test: NegativeAcksTest.testNegativeAcksWithBatchAckEnabled"
https://github.com/apache/pulsar/runs/7573727921?check_suite_focus=true

[code]

[2022-07-29 08:13] poorbarcode commented on #16859
Hi @keyboardbobo

Could you show more detail about the error log?

[2022-07-29 08:31] tisonkun commented on #15311
The change may require a dev doc for itself and I'm curious whether there's a discussion on dev@ since it can significantly change developer experience.

[2022-07-29 08:37] keyboardbobo commented on #16859
@poorbarcode
![C44760E7-903B-497C-BA96-2301ED769E30](https://user-images.githubusercontent.com/9923278/181719588-b2dbaa51-38e1-4b7a-aa99-59f873f15d6b.png)

[2022-07-29 08:42] tisonkun opened #16868 "Tidy issue templates and remove redundant entries"
I propose to make the following changes on our issue template:

1. [`.github/ISSUE_TEMPLATE.md`](https://github.com/apache/pulsar/blob/master/.github/ISSUE_TEMPLATE.md) is no more used, we can remove it.
2. We only use [yaml format](https://docs.github.com/en/communities/using-templates-to-encourage-useful-issues-and-pull-requests/syntax-for-issue-forms) for doc issue template now, and we can adop

[2022-07-29 09:22] eolivelli opened #16870 "Entry Filters: allow to configure the filters per namespace and not only globally"
In PIP-105 we introduced Server side filters.
Now in 2.10 and 2.11 you can only configure the filters (entryFilterNames) in broker.conf.

A natural extension is to let the filters be configured per namespace.

Main reasons:
- different users/tenant may need different filters
- activating a filter on namespaces that don't need the filter is a waste of resources

Therefore we need a API to report to

[2022-07-29 09:34] nahguam commented on #16481
I've updated the design to keep the concrete topic names separate from the topic patterns in the API to avoid unwanted regex behaviour like like hyphens and illegal character ranges etc.

[2022-07-29 11:49] eolivelli commented on #16782
Do you have some numbers about experiments ?
Before accepting the proposal we must be sure that this algorithm works on only on the paper but also on some real benchmark/test env

[2022-07-29 12:01] Technoboy- opened #16874 "Flaky-test: TopicsTest.cleanup"
https://github.com/apache/pulsar/runs/7576535389?check_suite_focus=true

[code]

[2022-07-29 13:49] rkaw92 opened #16875 "Broker exits with code 255"
Hi,

We're running a cluster of 3 brokers and 3 bookies on Pulsar 2.10.1. The issue is, after some time, the broker processes just stop working. They disappear, with no trace in the log (I'm running with `immediateFlush: true`).

It's like this: one minute everything is working fine, daemons listen where they should, messages flow... and the next minute nothing is listening on the port and the pro

[2022-07-29 14:17] MonicaMagoniCom commented on #16250
In our enviroment based on Kubernetes we deploy pulsar with Helm; authentication and authorization are enabled and this means that when the broker is created it will run some pulsar admin commands in order to:
- create the tenant
- create the token
- create the namespace
- grant permission
In version 2.9.3, it seems that these commands are really slow (the broker takes up to 6 minutes to be ready)

[2022-07-29 14:29] tisonkun commented on #15311
@nodece notify me about a previous discussion: https://lists.apache.org/thread/sk9ops3t94jmzc5tndk08y9khf7pj6so

Looks good!

[2022-07-29 14:30] #16839 closed

[2022-07-29 14:34] Technoboy- commented on #16875
Are there any broker logs?

[2022-07-29 15:27] rkaw92 commented on #16875
Before your reply, there were no logs that would look relevant to this - it'd just stop and print literally nothing to the log. Now, after you wrote, a log entry has miraculously appeared after the latest crash:

[code]

So, it looks like the broker consumed 10 GB of memory and crashed.

How do I know the appropriate direct memory size required to run a stable broker?

[2022-07-29 19:32] rflather-tibco opened #16877 "[Doc]"
### What issue do you find in Pulsar docs?

In the security > Transport Encryption using TLS the "openssl.cnf" is referenced to be downloaded and used create the certs. The problem is that it doesn't exist in that location, and cannot be downloaded.

wget https://raw.githubusercontent.com/apache/pulsar/master/site2/website/static/examples/openssl.cnf

### What is your suggestion?

Fix the link.

#

[2022-07-30 01:41] #7623 closed

[2022-07-30 02:58] shibd opened #16879 "Flaky-test: DynamicReceiverQueueSizeTest.testMultiConsumerImpl"
DynamicReceiverQueueSizeTest.testMultiConsumerImpl is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7582620858?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-07-30 02:59] shibd commented on #16749
+1 https://github.com/apache/pulsar/runs/7523859795?check_suite_focus=true

[2022-07-30 03:05] shibd commented on #16790
duplicate #14540

[2022-07-30 03:30] shibd commented on #16879
I will look it.

[2022-07-30 10:06] shibd commented on #16770
+1 https://github.com/apache/pulsar/runs/7590561094?check_suite_focus=true

[2022-07-30 10:06] shibd commented on #16829
+1 https://github.com/apache/pulsar/runs/7590561167?check_suite_focus=true

[2022-07-30 12:50] pablopla opened #16883 "Let a consumer postpone or reset the acknowledgement timeout of a message"
**Is your feature request related to a problem? Please describe.**
I'm building a distributed job queue using a shared subscription. Job processing time range from 1 minute to 12 hours.
I'm looking for a reliable way to redeliver a message when a consumer (job worker) crash with the following requirements:
1. Avoid processing the same message several times unless a consumer crashed or unreachable

[2022-07-30 12:53] pablopla commented on #15981
@hwittenborn makedeb could be great.

Why is this issue stale?

[2022-07-31 11:35] asafm commented on #16680
Ok, regarding the memory I see that `canEnqueueRequest` makes sure we're not breaching memory limits for the client prior to insertion.

Regarding the actual implementation, I'm a bit puzzled. Why re-use BatchMessageContainerImpl which was geared towards a single batch and make it multi batch? Why not do like the BatchMessageKeyBasedContainer and create your own? You wrote that it will send messag

[2022-07-31 14:10] AnonHxy commented on #16680
- I have considered this solution before. `BatchMessageKeyBasedContainer` doesn't keep message's order because it is just used for key_shared subscription mode.  And the document about `BatchMessageKeyBasedContainer` describes it's batch action and we can see that it sends batched message out of the incoming messages order:
https://github.com/apache/pulsar/blob/eec0eb50074d54284e66f8c2f73d864691f0

[2022-08-01 02:04] Anonymitaet commented on #16868
@tisonkun thanks!
When I created [doc_request.yaml](https://github.com/apache/pulsar/blob/master/.github/ISSUE_TEMPLATE/doc_request.yml), I thought issue raisers need to go through some "required" questions to remind them to think about and research on what they need, and then ask.

[2022-08-01 03:08] lordcheng10 commented on #16782
OK

[2022-08-01 03:49] yapxue opened #16895 "pulsar bookkeeper.conf cannot cover all bookkeeper config property keys"
**Is your enhancement request related to a problem? Please describe.**
bookkeeper.conf in https://github.com/apache/pulsar cannot cover all keys in bk_server.conf in https://github.com/apache/bookkeeper . Starting a bookkeeper in pular archive cannot customize some bookkeeper configations by add configmap key values. For example serverNumIOThreads.

**Describe the solution you'd like**
copy all pr

[2022-08-01 05:56] coderzc commented on #14721
It seems that delay messages should not be strictly guaranteed to be consumed in the order of delayed time. It is only consumed as early as possible.

[2022-08-01 06:39] coderzc commented on #14721
It seems that delayed messages should not be strictly guaranteed to be consumed in the order.

[2022-08-01 07:42] keyboardbobo commented on #16859
![4EBC67CE-742F-4DC7-AB8E-4BF189D5FFCB](https://user-images.githubusercontent.com/9923278/182098369-03d91228-ecf7-443d-a4b5-334af3ee80a5.png)

[2022-08-01 07:52] nodece commented on #16856
@rillo-carrillo There is a bug I need to fix, the current solution is add `brokerClientAuthenticationEnabled: true` to `functions_worker.yml`.

[2022-08-01 08:00] poorbarcode commented on #16859
Hi @keyboardbobo

`BoundedExecutorService` used in these  is used in the following three scenarios:

- Write Bookie
- Read Bookie
- Send messages to the client

@hangc0276 Is it normal to have so many tasks in the queue?

[2022-08-01 08:03] keyboardbobo commented on #16859
@poorbarcode
I took a look at some thread groups. Other thread groups are all 0. Only this one has a backlog of more than 7,000 tasks.

[2022-08-01 08:05] keyboardbobo commented on #16859
![82460ACC-897B-4F3E-A891-0EBF74C94D09](https://user-images.githubusercontent.com/9923278/182102479-70726c53-f8b6-489e-b5b2-be73a4e5306f.png)

[2022-08-01 08:26] poorbarcode commented on #16859
Hi @keyboardbobo

It seems that one topic is busy while others are not, but this seems have not related to the `cursor` state always being `SwitchingLedger` or maybe I didn't understand enough to realize the problem

[2022-08-01 08:48] #16800 closed

[2022-08-01 09:35] asafm commented on #16680
Can you explain how in your proposal, you keep the exact ordering of the messages as they were sent to the producer while separating them into different batches based on properties?

[2022-08-01 09:42] keyboardbobo commented on #16859
@poorbarcode I suspect that when SwitchingLedger, some tasks are blocked in the queue, which makes it impossible to complete the execution.

[2022-08-01 11:32] diegosalvi commented on #15891
I've the same issue in a production environment. It happened just after Pulsar upgrade from 2.6.3 to 2.9.2.
Strange enough I didn't see it happen on staging environment with the same configuration. Real difference between environments is traffic volume: streams much more used in production, some streams on staging aren't really used for long time...

[2022-08-01 14:00] AnonHxy commented on #16680
Sure. There is no difference with normal batched sending, except we have to check `hasSameProperties` in `ProducerImpl#canAddToCurrentBatch`.  I think the following legend can help explain this more clearly

<img width="905" alt="image" src="https://user-images.githubusercontent.com/10233437/182164813-16b1cf7a-024c-401f-8c54-862f9684013a.png">

Let me know if it is not clear enough or this doesn't

[2022-08-01 14:08] MarvinCai commented on #14732
hi @bpereto, are you expecting any additional changes in Pulsar to support ipv6?
As Enrico mentioned, we added `-Djava.net.preferIPv4Stack=true` as most users are still using ipv4. And to override this behavior without change the `./bin/pulsar` script we can add env variable `export PULSAR_EXTRA_OPTS=-Djava.net.preferIPv4Stack=false`, this should be able to override the the default setting.

[2022-08-01 14:20] tisonkun commented on #16868
@Anonymitaet thanks for sharing the background. I submit a patch at #16902.

[2022-08-01 14:35] asafm commented on #16680
I'm genuinely asking again, as I still don't understand.

Say I send M1(`region=eu`) to the producer.
It creates a batch and adds M1 to it.

Now I send M2(`region=us`) to the producer.
It checks current batch 1st record properties are different from M2 properties; thus, it goes left (No) on your diagram. This part I don't understand.
I expected it at this stage to create a batch for `region=us` an

[2022-08-01 14:43] MarvinCai commented on #16895
there's a script just for this purpose: https://github.com/apache/pulsar/blob/master/docker/pulsar/scripts/apply-config-from-env.py
You can supply any custom config via env then run this script like `apply-config-from-env.py bookkeeper.conf`
To supply config key that's not already in bookkeeper.conf, add prefix `PULSAR_PREFIX_` to it so it can be properly recognized by the script.

[2022-08-01 14:56] MarvinCai opened #16904 "[Bug] Not able to initialize bookkeeper in ipv6 env"
**Describe the bug**
We set `-Djava.net.preferIPv4Stack=true` by default to support running in ipv4 env for most users. But if user want to run Pulsar in ipv6 env they should be able to override the behavior by setting `BOOKIE_EXTRA_OPTS=-Djava.net.preferIPv4Stack=false` for the bookkeeper init command to work, however this doesn't work due to the order we apply envs in `bin/bookkeeper` script.

*

[2022-08-01 15:16] bublikhpt commented on #16856
I have the same error message after upgrade one node to 2.10.1 the others are still 2.7.x. But I'm using separate function workers and I don't have proxy. In addition I'm using commercial certificate for brokers interfaces and self signed certificate for auth. Is there any workaround for this setup or I must wait for fix? Solution in @nodece comment is not working because I'm using authentication

[2022-08-01 15:20] MonicaMagoniCom opened #16906 "Pulsar-admin performance degradation"
Hi! We have pulsar deployed with Helm on Kubernetes. We upgraded from 2.6.4 to 2.7.2 (and then to 2.9.3) but we found out that the time the brokers take to be ready has increased; we have authentication and authorization enabled (with JWT) and at the first startup the broker generates all the tenants,namespaces and tokens. Starting from 2.7.2 these commands (done through pulsar-admin) have become

[2022-08-01 16:15] gaoran10 opened #16907 "Managed cursor asyncReplayEntries encounter NPE"
**Describe the bug**

Error logs
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: [e.g. i

[2022-08-01 18:34] tjiuming commented on #16907
@gaoran10 https://github.com/apache/pulsar/pull/16909 PTAL

[2022-08-01 18:51] tjiuming commented on #16596
@eolivelli I'll handle the issue

[2022-08-01 20:33] bpereto commented on #14732
Hi @MarvinCai,

We are currently on 2.9 and did not test the available refactor in master (https://github.com/apache/pulsar/commit/58ad46722c25301a995f798eeec92366ed01ffc6).

An available ENV variable as you suggesting would be nice, also to support adoption.

[2022-08-01 21:15] dave2wave commented on #15311
I am -1 on this and #16836 until the "standard" has been moved into a PMC controlled resource. A google doc is NOT PMC controlled. I also ask if these changes have gone through the PIP process?

[2022-08-01 22:51] rillo-carrillo commented on #16856
Hi, @nodece thank you for the workaround, now my broker/function worker is starting successfully.

[2022-08-01 23:41] mattisonchao commented on #16907
Could you provide more information?
e.g., version, re-produce step.

[2022-08-02 02:27] nodece commented on #15311
I agreed with @dave2wave, and I think we should make a PIP to add a contribution guide and continue developing this PR.

[2022-08-02 02:40] codelipenghui commented on #16849
The Python Client for macos haven't push yet, I will push it later.

[2022-08-02 02:42] youzipi opened #16911 "[Doc] wrong pip in 2.10.0 release notes"
### What issue do you find in Pulsar docs?

In `2.10.0` 's release notes:
[code]
the link and description is not the `negative ack backoff`  PIP.

in issue, i found the `broker extensions...` is **PIP-106** too.

PIP-106_nack is in 2.10.0,
PIP-106_broker_extension is in 2.11.0

<img width="1280" alt="image" src="https://user-images.githubusercontent.com/5629307/182279964-6f8fc82b-155b-4340-a4b3-8a

[2022-08-02 03:37] #15560 closed

[2022-08-02 04:01] yapxue commented on #16895
But some bookkeeper config like serverNumIOThreads is not in https://github.com/apache/pulsar/blob/master/conf/bookkeeper.conf and not in "keys" in the python script https://github.com/apache/pulsar/blob/master/docker/pulsar/scripts/apply-config-from-env.py#L72 and it cannot be applied.

[2022-08-02 05:52] poorbarcode commented on #16859
Hi @keyboardbobo

Could you provide the BK configuration?

- Ensemble size
- Write quorum size
- Ack quorum size

E.g. Ensemble size = 3, and Write quorum size = 3, When a bookie server does not work, the first write request will timeout, and other requests will backlog

[2022-08-02 06:26] #16344 closed

[2022-08-02 07:21] keyboardbobo commented on #16859
@poorbarcode
[code]
If the bookie is unavailable and the write request blocks, will it block in the queue?

[2022-08-02 08:07] tisonkun opened #16912 "Get rid of powermock"
In this comment https://github.com/apache/pulsar/pull/16884#issuecomment-1201512995 I wrote:

Thus I file this issue to investigate whether we can remove powermock from our testing framework.

WDTY @merlimat @lhotari @codelipenghui @nicoloboschi?

[2022-08-02 08:22] Shoothzj commented on #16912
I think we can simply modify the access modifiers, and mark `@VisableForTesting` .We have used this in many codes.

[2022-08-02 08:22] AnonHxy commented on #16680
But I see written in your diagram that you "batched msgs in msgsContainer" (which container? for which properties? Which msgs are you referring to?) and you "and send them" (why? what is the trigger to send them? Size/time?) and then you clear and add M2 to the batch.

Let me try to explain the current batch process first. @asafm

`msgsContainer` in the above diagram refers to  the `ProducerImpl#b

[2022-08-02 08:23] liangyepianzhou opened #16913 "PIP-196 Segmented transaction buffer snapshot"
## Background

1. We use  [TransactionBuffer](https://docs.google.com/document/d/145VYp09JKTw9jAT-7yNyFU255FptB2_B2Fye100ZXDI/edit#heading=h.gn9z5r4xrau3)  to handle messages sent with transactions
2. TransactionBuffer has provided the ability to check if the transaction  [is aborted](https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/transaction/buff

[2022-08-02 08:29] tisonkun commented on #16912
@Shoothzj IIUC do you suggest a replacement of powermock here?

[2022-08-02 08:36] Shoothzj commented on #16912
@tisonkun Yes, I suggest to replace powermock. Using `@VisableForTesting` instead of reflections

[2022-08-02 08:41] tisonkun commented on #16912
@Shoothzj thank you. I'll consider this approach. There're some cases we try to hijack third-party lib's field, like `eventLoopGroup` in bookkeeper code. In those situations, we should still use reflections. (... or patching upstream, or change testing logics)

[2022-08-02 09:29] #12381 closed

[2022-08-02 10:48] #16042 closed

[2022-08-02 11:00] Anonymitaet commented on #15311
@dave2wave what is `PMC controlled resource`? Like moving the standards from google doc to Pulsar WIKI?
Or grant edit access to PMC members on google docs? → which is much simpler

[2022-08-02 11:37] #16481 closed

[2022-08-02 13:56] hpvd opened #16919 "[Security] [Doc] no advice on how to report vulnerabilities"
**Describe the bug**
security: no advice on how to report vulnerabilities

**To Reproduce**
Steps to reproduce the behavior:
1. visit: https://github.com/apache/pulsar/issues/new/choose
2. click button "view policy": https://github.com/apache/pulsar/security/policy
3. follow link to: https://pulsar.apache.org/docs/security-policy-and-supported-versions/

see screenshot

**Expected behavior**
an ad

[2022-08-02 14:20] asafm commented on #16680
Excellent explanation @AnonHxy - I finally understand the whole mechanism.

So in effect, you're adding another trigger condition to send the batch, on top of the current max count, max size, and max delay: Once a message is requested to be added to a batch of its properties (as defined in the configuration) values are different from the records in the batch (i.e. 1st record properties values) tha

[2022-08-02 15:34] coderzc commented on #16829
+1 https://github.com/apache/pulsar/runs/7631980680?check_suite_focus=true

[2022-08-02 18:37] coderzc opened #16921 "Flaky-test: ManagedCursorMetricsTest.testCursorReadWriteMetrics"
ManagedCursorMetricsTest.testCursorReadWriteMetrics is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7604270615?check_suite_focus=true)

[code]

[2022-08-02 18:38] #16921 closed

[2022-08-02 18:38] coderzc opened #16922 "Flaky-test: ManagedCursorMetricsTest.testCursorReadWriteMetrics"
ManagedCursorMetricsTest.testCursorReadWriteMetrics is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7604270615?check_suite_focus=true)

[code]

[2022-08-03 01:24] BewareMyPower commented on #11910
The memory has been released in https://github.com/apache/pulsar/blob/cfd2178ca80e4b6db89385cd39646f20f1c2c066/pulsar-client-cpp/lib/ProducerImpl.cc#L266-L269

So the bug doesn't exist for C++ client, close this issue.

[2022-08-03 01:24] #11910 closed

[2022-08-03 01:56] #16567 closed

[2022-08-03 02:33] coderzc commented on #16922
+1 https://github.com/apache/pulsar/runs/7635794898?check_suite_focus=true

[2022-08-03 03:01] #16846 closed

[2022-08-03 03:06] #16753 closed

[2022-08-03 05:40] AnonHxy commented on #16680
OK. Thanks for your suggestions @asafm . I have update the document and add the "Trade-off" part. And I also clarify in this part that this proposal gives a big chance that batched message can also using entry filter, especially when you have konw the distrbution of values.  It will bring benfit because entry filter dosen't support batch message currently.

[2022-08-03 05:58] #16696 closed

[2022-08-03 06:58] RobertIndie commented on #16723
Another but different failure:
https://github.com/apache/pulsar/runs/7644899001?check_suite_focus=true#step:10:5753

[code]

[2022-08-03 06:59] RobertIndie commented on #16864
Another one: https://github.com/apache/pulsar/runs/7644899225?check_suite_focus=true#step:10:1133

[2022-08-03 07:04] imqishi commented on #16173
Thanks for your support, I will verify it later, and ask you if you have any questions

[2022-08-03 07:04] #16173 closed

[2022-08-03 07:11] xyhmnb commented on #16242
是不是虚拟机启动的？

[2022-08-03 07:12] startjava commented on #16242
是的，难道和VM有关？？

------------------&nbsp;原始邮件&nbsp;------------------
发件人:                                                                                                                        "apache/pulsar"                                                                                    ***@***.***&gt;;
发送时间:&nbsp;2022年8月3日(星期三) 下午3:11
***@***.***&gt;;
***@***.***&gt;;"State ***@***.***&gt;;
主题:

[2022-08-03 09:34] tpiperatgod opened #16928 "[feature][functions] Add the ability to customize logging level for Go & Python functions"
**Is your feature request related to a problem? Please describe.**
Currently, if the user wants to output more logging level logs other than INFO, it should provide the log settings for different pulsar function runtimes.

**Describe the solution you'd like**

- Python functions

  Add the `--logging_level` argument to `python_instance_main.py` to pass in the logging level, and add the following h

[2022-08-03 09:41] #16790 closed

[2022-08-03 09:53] Technoboy- opened #16929 "Flaky-test: AdminApiTransactionMultiBrokerTest.setup"
https://github.com/apache/pulsar/runs/7647562319?check_suite_focus=true
[code]

[2022-08-03 10:55] Technoboy- commented on #16922
Fixed by #16878

[2022-08-03 10:55] #16922 closed

[2022-08-03 10:56] Technoboy- commented on #16879
Fixed by #16880

[2022-08-03 10:56] #16879 closed

[2022-08-04 01:50] momo-jun opened #16938 "PIP-190-Part2: Modify the Versions page"
**Is your feature request related to a problem? Please describe.**
Refer to [PIP-190](https://github.com/apache/pulsar/issues/16637).

**Describe the solution you'd like**
As part of PIP-190 implementation, we will narrow the listing of doc versions by modifying the `versions.json` file. Correspondingly, it brings changes to the last column of release notes, which is auto-generated by scripts.

Co

[2022-08-04 02:20] yapxue commented on #15451
I also met this issue. I am deleting a partition of a topic, it is not system topic. here is error log
[code]

[2022-08-04 02:31] xyhmnb commented on #16242
我们之前开发环境是windows虚拟弄的几台linux，反正各种warning挺多的，也不知道咋解决，后来换成别的机器就好点了，你可以试试看

[2022-08-04 05:01] benbro commented on #4861
I have the same requirement and looking for a working(messageid) command https://github.com/apache/pulsar/issues/16883

[2022-08-04 05:04] benbro commented on #4861
@merlimat if the message redelivers when a TCP connection drops that means that a temporary network issue will cause all current messages to redeliver. When processing of each message is expensive it might be a problem.

[2022-08-04 07:44] #16283 closed

[2022-08-04 10:58] RobertIndie opened #16948 "Flaky-test: ManagedCursorMetricsTest.testCursorReadWriteMetrics"
ManagedCursorMetricsTest. testManagedCursorMetrics is flaky. It fails sporadically.

https://github.com/apache/pulsar/pull/16878 didn't fix the issue. The problem still exists in the latest code.

[example failure](https://github.com/apache/pulsar/runs/7666921482?check_suite_focus=true#step:10:950)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace

[2022-08-04 10:59] RobertIndie commented on #16948
From the test log we can see that there are many zookeeper connection exceptions during the test:
[code]

[2022-08-04 14:37] codelipenghui opened #16949 "Flaky-test: NegativeAcksTest.testNegativeAcks"
[example failure](https://github.com/apache/pulsar/runs/7644153917?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-08-05 03:52] AnonHxy opened #16952 "Flaky-test: org.apache.pulsar.broker.admin.PersistentTopicsTest.setup"
org.apache.pulsar.broker.admin.PersistentTopicsTest.setup is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7675339305?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-08-05 06:52] codelipenghui commented on #16860
https://github.com/apache/pulsar/runs/7614369839?check_suite_focus=true

[2022-08-05 07:08] lujiwen opened #16955 "Failed to start standalone pulsar service with tiered storage due to class not found problem"
**Describe the bug**
Failed to start standalone pulsar service with tiered storage due to class not found problem :
ERROR org.apache.pulsar.broker.PulsarService - Failed to start Pulsar service: java.lang.RuntimeException: java.lang.ClassNotFoundException: Class org.apache.hadoop.hdfs.DistributedFileSystem not found

**To Reproduce**
Steps to reproduce the behavior:
1. config hdfs tiered storage b

[2022-08-05 07:17] hpvd commented on #16919
@sijie @Anonymitaet Do you have any idea/advice on this?

[2022-08-05 07:20] momo-jun commented on #13051
Checked with @freeznet - This issue has been fixed through #16279, which adds a new `MANUAL` semantic. It allows users to use `context.getCurrentRecord().ack()`/`context.getCurrentRecord().fail()` to manually control the ACK behavior.

[2022-08-05 07:56] magicsilence opened #16956 "Cannot write msg to topic by kafka console tool when enabled kop protocal"
**Describe the bug**

I got a warn msg when  using kafka-console-producer.sh write data to pulsar.

`

[2022-08-05 07:22:56,510] WARN [Producer clientId=console-producer] Received invalid metadata error in produce request on partition public/default/t_4-0 due to org.apache.kafka.common.errors.NotLeaderForPartitionException: This server is not the leader for that topic-partition.. Going to request

[2022-08-05 08:18] Demogorgon314 commented on #16956
Hi @magicsilence, thanks for you report the issue! Can you copy the issue to https://github.com/streamnative/kop/issues? The KoP repo is the better place to publish the issue about KoP.

[2022-08-05 08:21] tjiuming commented on #16584
@michaeljmarshall I'd like to fix the issue

[2022-08-05 08:23] Demogorgon314 commented on #16956
Also, can you confirm the pulsar client can produce or consume in this cluster?

[2022-08-05 08:51] keyboardbobo commented on #14861
@zymap hi! We also encountered the same problem. The broker has an `OutOfDirectMemoryError`, but after I set the `waitTimeoutOnBackpressureMs=50` parameter, I have seen that the backpressure has taken effect, but the broker has an `OutOfMemoryError: Java heap space`. What other parameters can control the memory usage?

[2022-08-05 09:33] magicsilence commented on #16956
@Demogorgon314
OK, I will open a new issue at  https://github.com/streamnative/kop/issues，and add some more information.

[2022-08-05 09:59] magicsilence commented on #16956
The new issue is  https://github.com/streamnative/kop/issues/1437 .

[2022-08-05 12:28] alpreu opened #16959 "PIP-197: Add Schema hash and equals to public API"
## Motivation

Currently, the `Schema` interface in the public client-api does not provide access to a sensible hash function. The fallback to Java’s object-equality makes it unfit for use in most hash-based collections. For example, it prevents usage as a key in a cache.
Further, the lack of a reliable equals function means that there is no way to identify if two schemas are the same thing.

## G

[2022-08-05 23:14] tisonkun commented on #16919
Hi @hpvd,

Thanks for reporting this issue! I think we can add a short statement to report security vulnerabilities via private mailing list or the ASF security mailing list.

[2022-08-05 23:14] tisonkun commented on #16919
I'll prepare a patch and ask for PMC members to review.

[2022-08-06 02:12] AlphaWang opened #16963 "[website] doc website crash with error "(0 , a.useNavbarMobileSidebar) is not a function""
**Describe the bug**
https://pulsar.apache.org/docs/ crashes while changing the width of web browser.

**To Reproduce**
Steps to reproduce the behavior:
1. Open 'https://pulsar.apache.org/docs/ ' with web browsers.
2. Drag the browser to make the width smaller.
3. Crashes with error: This page crashed. (0 , a.useNavbarMobileSidebar) is not a function
4. Browser console error:
[code]

**Expected be

[2022-08-06 15:08] youzipi commented on #12271
i will work on pulsar-transaction and pulsar-broker @MarvinCai

[2022-08-06 16:19] tisonkun commented on #12271
@MarvinCai you can create a subtask for pulsar-broker for @youzipi, ask them to comment there, and assign.

Although, pulsar-broker is a heated code path various patches modify its code. @youzipi you may find a way to separate it into more fine-grained patches to avoid conflict or contact with domain experts like @codelipenghui to cooperate on that module. I assume that applying this plugin is lik

[2022-08-07 00:37] leizhiyuan commented on #16875
at io.streamnative.pulsar.handlers.kop.utils.ByteBufUtils.decodePulsarEntryToKafkaRecords(ByteBufUtils.java:130) ~[?:?]

it seems you use kop, you can take a look for your kop version, maybe it do not release the directBuffer which applied.

[2022-08-07 08:59] leizhiyuan commented on #16906
you can use a tool (like arthas) to track the progress of the startup

or maybe you can provide some logs?

[2022-08-07 10:09] meimeitou opened #16973 "IllegalStateException: Some required fields are missing"
local `docker-compose.yaml`:

[code]

`golang`test code:

[code]

The error find in code `producer1.Send` function.

Pulsar error log:

`docker logs --tail=20  -f pulsarx_pulsar_1`

[code]

[2022-08-07 12:06] leizhiyuan commented on #16244
it is because

[code]

but

[code]

[code]

can not know global has exists

[2022-08-07 12:14] leizhiyuan commented on #16244
https://github.com/apache/pulsar/commit/ab2e6a805a5266968185b39a1907356687ce36b3

this pr seems fixed this.

[2022-08-07 12:47] leizhiyuan commented on #16973
this issue is because of go sdk has a bug

<img width="1024" alt="image" src="https://user-images.githubusercontent.com/2684384/183290955-651b7baa-71ad-4353-9507-2379b851292e.png">

SDK send a -1 ,it should be 0( none schema will be processed as bytesschema)

https://github.com/apache/pulsar-client-go/pull/823

[2022-08-07 12:56] leizhiyuan commented on #16973
another problem

in java client , bytesschema is -1 , but  it will be translated to 0

<img width="711" alt="image" src="https://user-images.githubusercontent.com/2684384/183291633-c2f9a320-74da-4aeb-9c29-0d619d28a97c.png">

I think it is not clear

[2022-08-07 15:15] CC-Hsu opened #16974 "JDBC Connection pool support for Pulsar JDBC sink connectors"
**Is your feature request related to a problem? Please describe.**
Hi, Team,

Recently I want to try Pulsar [CDC Source Connector](https://pulsar.apache.org/docs/next/io-cdc) and [JDBC Sink Connector for PGSQL](https://pulsar.apache.org/docs/next/io-quickstart#connect-pulsar-to-postgresql) to sink multiple table data between PGSQLs.

But I find that the [JDBC sink connector for PGSQL](https://puls

[2022-08-07 15:51] AnonHxy opened #16975 "Flaky-test: org.apache.pulsar.tests.integration.presto.TestBasicPresto.testForSchema"
org.apache.pulsar.tests.integration.presto.TestBasicPresto.testForSchema is flaky. It fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/7713785320?check_suite_focus=true)

[code]

I find this issue  https://github.com/apache/pulsar/issues/9704  has related on the test failure.  And I can reproduce it on my Mac  if I follow the steps,  even build from master branch.

What

[2022-08-07 17:27] tjiuming commented on #16973
[code]

this will be fine

[2022-08-08 01:11] zymap commented on #14861
@keyboardbobo That also needs some bookie side configurations. Such as maxAddsInProgressLimit: "10", maxReadsInProgressLimit: "10", waitTimeoutOnResponseBackpressureMs: "5".
By default, the pulsar uses a v2 request to the bookie, there haven't the request limits on the server side. We apply this through this PR https://github.com/apache/bookkeeper/pull/3324.

We are releasing the bookie 4.15.1 whi

[2022-08-08 01:15] liliang950210 opened #16977 "Use key story tls connect to broker,but IP change to 127.0.0.1 and connect failed"
when use key store tls connect broker,while ip change to 127.0.0.1?

[pulsar-client-io-1-1] INFO org.apache.pulsar.client.impl.ConnectionPool - [[id: 0xdded1946, L:/10.25.xxx.xx:58107 - R:/7.xx.xx.xx:21852]] Connected to server
[pulsar-client-io-1-1] INFO org.apache.pulsar.client.impl.ConsumerStatsRecorderImpl - Starting Pulsar consumer status recorder with config: {
  "topicNames" : [ "persistent

[2022-08-08 01:42] Anonymitaet commented on #16919
"How to report a Pulsar security issue" is documented in the [Contribution guide](https://pulsar.apache.org/community/#section-contribute).

<img width="1190" alt="image" src="https://user-images.githubusercontent.com/50226895/183322039-83d6c44b-2342-46cd-bb94-89963fe5be86.png">

<img width="1089" alt="image" src="https://user-images.githubusercontent.com/50226895/183322068-26d0950a-8129-4185-b8d3

[2022-08-08 01:51] codelipenghui opened #16978 "Flaky-test: FilterEntryTest.testEntryFilterRescheduleMessageDependingOnConsumerSharedSubscription"
[example failure](https://github.com/apache/pulsar/runs/7710408158?check_suite_focus=true#step:10:1407)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-08-08 01:53] #13051 closed

[2022-08-08 01:53] codelipenghui commented on #16578
A new one https://github.com/apache/pulsar/runs/7710408190?check_suite_focus=true

[2022-08-08 01:55] codelipenghui opened #16979 "Flaky-test: MessageDispatchThrottlingTest.testBacklogConsumerCacheReads"
[example failure](https://github.com/apache/pulsar/runs/7710408370?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-08-08 01:57] codelipenghui commented on #16538
A new one https://github.com/apache/pulsar/runs/7709485227?check_suite_focus=true

[2022-08-08 01:58] codelipenghui opened #16980 "Flaky-test: BrokerServiceLookupTest.testModularLoadManagerSplitBundle"
[example failure](https://github.com/apache/pulsar/runs/7709485357?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-08-08 01:59] codelipenghui commented on #16770
A new one https://github.com/apache/pulsar/runs/7709485482?check_suite_focus=true

[2022-08-08 02:03] tisonkun commented on #16919
@Anonymitaet

The only link in SECURITY.md redirects users to "Security Policy and Supported Versions". To reduce confusion, either change the link to "Reporting a Vulnerability" or duplicate the info to the "Security Policy and Supported Versions" page. I prepare a patch of the latter way in #16962, you may give a review comment there.

[2022-08-08 02:08] #16952 closed

[2022-08-08 02:22] #269 closed

[2022-08-08 02:22] #3012 closed

[2022-08-08 02:22] #2651 closed

[2022-08-08 02:22] #811 closed

[2022-08-08 02:22] #3552 closed

[2022-08-08 02:22] #3482 closed

[2022-08-08 02:22] #4907 closed

[2022-08-08 02:22] #4893 closed

[2022-08-08 02:23] #6179 closed

[2022-08-08 02:23] #6137 closed

[2022-08-08 02:23] #6232 closed

[2022-08-08 02:24] codelipenghui commented on #6224
@nodece Could you please help check if this one is related to https://github.com/apache/pulsar/pull/15568

[2022-08-08 02:25] #7348 closed

[2022-08-08 02:25] #8720 closed

[2022-08-08 02:26] #9450 closed

[2022-08-08 02:26] #9452 closed

[2022-08-08 02:26] #9453 closed

[2022-08-08 02:26] #9454 closed

[2022-08-08 02:26] #10398 closed

[2022-08-08 02:26] #10786 closed

[2022-08-08 02:27] codelipenghui commented on #10788
The flaky test should be fixed by #16612

[2022-08-08 02:27] #10788 closed

[2022-08-08 02:28] #10796 closed

[2022-08-08 02:28] #11050 closed

[2022-08-08 02:29] #11054 closed

[2022-08-08 02:29] #11350 closed

[2022-08-08 02:29] #11704 closed

[2022-08-08 02:30] #11701 closed

[2022-08-08 02:30] #11703 closed

[2022-08-08 02:31] #11700 closed

[2022-08-08 02:31] #12558 closed

[2022-08-08 02:31] #12559 closed

[2022-08-08 02:31] #13299 closed

[2022-08-08 02:33] codelipenghui commented on #14109
@liangyepianzhou Do you want to push a PR to fix the issue?

[2022-08-08 02:35] #14227 closed

[2022-08-08 02:36] #14228 closed

[2022-08-08 02:36] #14699 closed

[2022-08-08 02:44] codelipenghui commented on #16978
Failed again https://github.com/apache/pulsar/runs/7717528894?check_suite_focus=true

[2022-08-08 02:56] momo-jun commented on #16938
@urfreespace thanks for implementing this change.
After #16925 is merged, we want to add one more sentence at the bottom of the page to explain a bit about this versioning change.

`Note that starting from 2.8.x, we release and maintain one set of documentation for each minor release and following bug-fix releases. `

[2022-08-08 03:13] urfreespace commented on #16938
@momo-jun  https://github.com/apache/pulsar-site/pull/157 versions page is modified.

[2022-08-08 03:17] #16844 closed

[2022-08-08 03:17] #16877 closed

[2022-08-08 04:01] Demogorgon314 commented on #16980
I'll take look at this issue.

[2022-08-08 04:33] mattisonchao commented on #13696
fixed by https://github.com/apache/pulsar/pull/14717

[2022-08-08 04:33] #13696 closed

[2022-08-08 05:44] poorbarcode commented on #16723
assign to me

[2022-08-08 05:46] poorbarcode commented on #16704
assign to me

[2022-08-08 05:49] poorbarcode commented on #16521
assign to me

[2022-08-08 06:29] tisonkun commented on #3012
@codelipenghui may you add a brief comment about why we close these issues? Cannot be reproduced on master? It would be better then silently close these issues :)

[2022-08-08 07:26] coderzc commented on #16948
+1 https://github.com/apache/pulsar/runs/7718272297?check_suite_focus=true

[2022-08-08 08:16] Demogorgon314 commented on #16980
look like it can't reproduce in my local env.

<img width="670" alt="image" src="https://user-images.githubusercontent.com/22697570/183371883-832c21c1-9b29-4c30-ab50-5d090962b495.png">

[2022-08-08 08:28] leizhiyuan commented on #16639
now ,master branch can build in m1 (works for me)

[2022-08-08 09:01] leizhiyuan commented on #16979
sometimes I can reproduce this in local  machine

I print some log in messagelistener. It seems there has a bug in recent change

[code]

[2022-08-08 09:11] #16928 closed

[2022-08-08 09:12] leizhiyuan commented on #16979
I thnk the bug may occurs
<img width="1462" alt="image" src="https://user-images.githubusercontent.com/2684384/183383200-677a6075-d1bd-435d-9cad-c780838cbd11.png">

the usage of mark index is not right.

[2022-08-08 09:22] codelipenghui opened #16989 "Flaky-test: TxnLogBufferedWriterTest.testMainProcess"
[example failure](https://github.com/apache/pulsar/runs/7720437968?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-08-08 09:23] codelipenghui commented on #16989
Not the same issue with https://github.com/apache/pulsar/issues/16723

[2022-08-08 09:33] poorbarcode commented on #16989
assigned to me

[2022-08-08 09:33] #16723 closed

[2022-08-08 09:43] codelipenghui opened #16990 "Flaky-test: PulsarOffsetBackingStoreTest.testGetSet"
[example failure](https://github.com/apache/pulsar/runs/7714287203?check_suite_focus=true)

[code]

<!-- optionally provide the full stacktrace ->
<details>
<summary>Full exception stacktrace</summary>
<code><pre>
full exception stacktrace here
</pre></code>
</details>

[2022-08-08 10:23] codelipenghui commented on #15773
Another failure: https://github.com/apache/pulsar/runs/7614369839?check_suite_focus=true

[2022-08-08 10:25] tisonkun commented on #16639
@leizhiyuan do you install Rosetta 2.0?

[2022-08-08 10:37] nodece commented on #16538
Thread blocked:
[code]

Make `unloadNamespaceBundlesGracefully` to async.

[2022-08-08 11:18] youzipi opened #16991 "[Modernizer] Apply modernizer plugin to pulsar-broker modules."
Master issue: #12271

(2022-08-08 branch=master)
I scan the broker, found **617** places to change.
we need to split them into multiple PRs.

[code]

i plan to log `warn` first, after modify completely, turn it to `error`.
[code]

[2022-08-08 11:22] youzipi commented on #16991
@MarvinCai @tisonkun @codelipenghui
I will start from `test .. broker/admin`

[2022-08-08 11:33] leizhiyuan commented on #16639
yes..

[2022-08-08 11:39] tisonkun commented on #16639
After consideration, I tend to close the issue as I cannot uninstall or disable Rosetta and reproduce the issue anymore.

When https://github.com/grpc/grpc-java/issues/7690 gets resolved we may directly try to upgrade the dep version. Or someone who has an M1 without Rosetta environment can verify then.

[2022-08-08 11:39] #16639 closed

[2022-08-08 12:06] keyboardbobo commented on #14861
@zymap We only have three brokers and three bookies in the test environment. After the back pressure is turned on, a lot of `BKNotEnoughBookiesException: Not enough non-faulty bookies available` and more `Spent 8 ms waiting for 3 writable channels` appear from time to time (I think this is can be used as debug log), is there any way to avoid it?

[2022-08-08 12:32] leizhiyuan commented on #16979
org.apache.bookkeeper.mledger.impl.cache.RangeEntryCacheImpl#insert

<img width="1385" alt="image" src="https://user-images.githubusercontent.com/2684384/183418257-c027f90d-e2cb-4b30-a3d1-415ec07afd88.png">

<img width="914" alt="image" src="https://user-images.githubusercontent.com/2684384/183418295-6dd58dec-5a9d-4e91-923e-45ae2687fe2c.png">

maybe this should return true ,because if entry is in

[2022-08-08 13:09] tisonkun commented on #16991
Go ahead!

@MarvinCai could you help on updating #12271 that pulsar-broker is taken by @youzipi?

[2022-08-08 13:14] codelipenghui commented on #16979
@leizhiyuan Do you want to create a PR to fix the issue?

[2022-08-08 13:46] leizhiyuan commented on #16979
ok

[2022-08-08 17:46] codelipenghui opened #16998 "Broker direct memory leak due to BKNotEnoughBookiesException"
**Describe the bug**

[code]

<img width="1807" alt="image" src="https://user-images.githubusercontent.com/12592133/183480581-fa3575b1-2ea6-4ae0-a62a-0fe83fedfd1d.png">

The second broker does not have the above error logs.

**Additional context**
Build from branch-2.11 with bookkeeper 4.15.1

[2022-08-09 01:56] heesung-sn commented on #9201
Could you share the mitigation steps? How can we postpone the readiness probe?

[2022-08-09 02:42] tisonkun commented on #16912
I draft an incompleted patch on #16997.

However, I notice that there's some code we hack in "set final" field, like:

https://github.com/apache/pulsar/blob/21634edd30bbe33d231ec73e8045d7666a8ad366/pulsar-broker/src/test/java/org/apache/pulsar/client/api/SimpleProducerConsumerTest.java#L1071-L1072

.. or even "set static final" field, like:

https://github.com/apache/pulsar/blob/21634edd30bbe33d23

[2022-08-09 03:15] liliang950210 commented on #16977
I found this problem. I set advertisedAddress=127.0.0.1 to 127.0.0.1 in the broker, but bindAddress is not configured. As a result, the broker listens on the entire network and external systems can access the service, but an error is reported during the connection. Change the value of advertisedAddress to the corresponding IP address.

[2022-08-09 03:34] RobertIndie commented on #16911
They were both released in the 2.10.0:
* [PIP 106] Broker extensions to provide operators of enterprise-wide clusters better control and flexibility : https://github.com/apache/pulsar/pull/12536
* PIP 106: Negative acknowledgment backoff : https://github.com/apache/pulsar/pull/12566

And they were all described in the 2.10.0 release note. You can see the PR for Negative acknowledgment backoff in t

[2022-08-09 04:15] zymap commented on #14861
If you configured the write quorum as 3, I'd suggest you increase the bookie node to 4 or more. After configuring the back pressure, it should be normal to have that exception. Because once a bookie is slow, the bookie will not available for writing and it needs to find another bookie to write.
If you only have 3 bookies. I'd suggest you to configure the WQ and AQ as 2 to avoid this.

[2022-08-09 05:19] youzipi commented on #16911
no, the nack PR is not listed there.
I think the duplicate PIP number is the reason.

https://pulsar.apache.org/release-notes/versioned/pulsar-2.10.0#clients
![image](https://user-images.githubusercontent.com/5629307/183570172-c0ac8699-89be-4af7-a9f7-333f66836612.png)

[2022-08-09 05:33] tisonkun commented on #16802
https://github.com/apache/pulsar/runs/7739162912?check_suite_focus=true

This can be another failure case of `BasicEndToEndTest.testPatternMultiTopicsConsumerPubSub`.

[2022-08-09 05:34] tisonkun commented on #16802
[code]

[2022-08-09 06:07] #16829 closed

[2022-08-09 06:57] #16868 closed

[2022-08-09 06:59] tisonkun opened #17008 "Flaky-test: BasicEndToEndTest.testPatternMultiTopicsConsumerPubSub"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/7739162912?check_suite_focus=true#step:11:185

### Exception stacktrace

[code]

This can be relevant to https://github.com/apache/pulsar/issues/16802.

### Are you willing to submit a PR?

- [ ] I'm willing to su

[2022-08-09 07:00] tisonkun commented on #16802
It seems the exception is timeout instead of unexpected result, reported at https://github.com/apache/pulsar/issues/17008.

[2022-08-09 07:05] tisonkun commented on #17008
It seems in that attempt multiple tasks failed due to timeout. Perhaps it's an issue with GitHub CI resource unstable.

Keep it open for a few days to see if there're other instances. If no further reported, anyone can close it as invalid.

[2022-08-09 08:26] shibd opened #17011 "Flaky-test: PersistentStreamingDispatcherBlockConsumerTest.testBrokerSubscriptionRecovery"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/7739485769?check_suite_focus=true

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-08-09 08:32] lhotari commented on #16919
https://pulsar.apache.org/docs/next/security-policy-and-supported-versions/ contains the new version, but it is missing from https://pulsar.apache.org/docs/security-policy-and-supported-versions/ . @Anonymitaet I'm reopening this issue until that is resolved.

[2022-08-09 08:34] tisonkun commented on #16919
@lhotari do you mean that we should cherry-pick (to master) this change to other versioned docs?

[2022-08-09 09:10] RobertIndie opened #17014 "Flaky-test: ProducerSemaphoreTest.testBatchMessageSendTimeoutProducerSemaphoreRelease"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/7720536583?check_suite_focus=true#step:10:1299

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [X] I'm willing to submit a PR!

[2022-08-09 10:17] lhotari commented on #16919
I guess that is need. In addition I think it's necessary to inline the information to SECURITY.md so that the information isn't missing at least from that page.

[2022-08-09 10:25] lhotari commented on #16919
@Anonymitaet how can we get https://pulsar.apache.org/docs/security-policy-and-supported-versions/ to match what is seen at https://pulsar.apache.org/docs/next/security-policy-and-supported-versions/ (to include #16962 changes)?

[2022-08-09 10:38] leizhiyuan commented on #16827
It maybe an issue of flink classloader

[code]

if you can debug this , you can  print

org.apache.flink.runtime.execution.librarycache.FlinkUserCodeClassLoaders$ChildFirstClassLoader

[code]
to see which one is loaded by this classloader , and see the original jar file.

[2022-08-09 13:06] zengguan opened #17021 "[proxy] proxy support multi pulsar cluster"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

In [PIP-121](https://github.com/apache/pulsar/issues/13315)，we support cluster level controlled cluster failover on client side。But I have some issue with this
- when we upgrade pulsar in future，it is more difficult to upgrade client than upgrade proxy。
-

[2022-08-09 15:21] lhotari commented on #10439
Fixes for backpressure issues on bookkeeper side: https://github.com/apache/bookkeeper/pull/3321, https://github.com/apache/bookkeeper/pull/3323, https://github.com/apache/bookkeeper/pull/3324

[2022-08-09 16:04] Raven888888 opened #17024 "[Bug] Brokers in a cluster become unhealthy collectively"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Ubuntu 20.04
Pulsar 2.7.0

Cluster setup
5 zookeeper
5 bookkeeper
5 broker
 - with pulsar function and websocket enabled
 - 4 out of 5 are behind a proxy, the last 1 is isolated from external connections in order to focus on pulsar function executions

Each n

[2022-08-09 20:54] michaeljmarshall opened #17028 "Flaky-test: DelayedDeliveryTest.testDelayedDeliveryWithMultipleConcurrentReadEntries"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/7753038071?check_suite_focus=true

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [X] I'm willing to submit a PR!

[2022-08-09 20:56] michaeljmarshall commented on #17028
It looks like the test is failing sometimes because the consumer is getting duplicate messages. This flakiness may be an actual bug. I'm able to reproduce this flaky test failure when running on my local machine.

[2022-08-09 20:59] michaeljmarshall commented on #17028
Both #16812 and #16609 look related since they modified the `readMoreEntries` method used heavily in this test.

[2022-08-09 21:00] michaeljmarshall commented on #17028
#16968 also looks related.

[2022-08-09 21:39] michaeljmarshall commented on #16830
I have seen this same test fail multiple times today with the following error:

[code]

[2022-08-10 00:56] codelipenghui commented on #16830
A new one: https://github.com/apache/pulsar/runs/7752040336?check_suite_focus=true

[2022-08-10 02:12] TianFeng111 commented on #16811
Finally，we found that caused by expansion and shrinkage of bookie.

[2022-08-10 02:12] #16811 closed

[2022-08-10 02:25] tisonkun commented on #17011
Another instance https://github.com/apache/pulsar/runs/7758231806?check_suite_focus=true

[2022-08-10 02:26] RobertIndie opened #17031 "Specify the dependency version in the vcpkg"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Currently, we doesn't specify the version for every dependency in the cpp client: https://github.com/apache/pulsar/blob/374b3a18155cba33c4b4cfdb18c8119487be565e/pulsar-client-cpp/vcpkg.json
This may create uncertainty for packing behavior. Need to specify

[2022-08-10 02:32] Anonymitaet commented on #16919
@lhotari Do you mean bringing #16962 changes to 2.10.1? If so, just copy and paste

[2022-08-10 03:10] ciyunruoshui commented on #16763
I would like to know when this feature will be submitted

[2022-08-10 03:41] tisonkun commented on #16849
@codelipenghui still not found. Is there any estimate? Since 2.10.1 is an official release we must fix this issue though ><

[2022-08-10 04:59] coderzc commented on #16763
The partial submission of PR will begin once the community vote is completed.

[2022-08-10 08:17] Demogorgon314 commented on #16978
Look like the `RESCHEDULE` message always choose the same consumer.

[code]

[2022-08-10 08:57] Technoboy- commented on #16830
A new one: https://github.com/apache/pulsar/runs/7761836102?check_suite_focus=true

[2022-08-10 09:15] #8866 closed

[2022-08-10 09:42] TakaHiR07 opened #17040 "[Bug] [txn] can not do txn-produce after several pulsar-perf op and cluster restart"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

- os: Linux  4.19.160-0419160-generic x86_64
- pulsar-server: 2.9.3
- pulsar-client: 2.9.2
- 3 nodes cluster
- use pulsar-perf to simulate produce/consume, add config "-txn -nmt 50" to enable txn-produce or txn-consume
- server conf: transactionCoordinatorEna

[2022-08-10 11:11] #16830 closed

[2022-08-10 11:11] #17028 closed

[2022-08-10 11:19] mattisonchao commented on #17011
This problem is caused by #16968 and fixed by #17018.
I closed this issue until we got this exception again.

[2022-08-10 11:20] mattisonchao commented on #17011
I think this problem is caused by #16968 and fixed by #17018.
I closed this issue until we got this exception again.

[2022-08-10 11:22] mattisonchao commented on #17008
I think this problem may caused by #16968 and fixed by #17018.
Currently, the fix PR already merged, maybe we can close this issue until we got it again.

[2022-08-10 11:23] mattisonchao commented on #16989
I think this problem may caused by #16968 and fixed by #17018.
Currently, the fix PR already merged, maybe we can close this issue until we got it again.

[2022-08-10 11:28] mattisonchao commented on #16979
Looks like this problem was fixed by PR #16996

[2022-08-10 11:31] mattisonchao commented on #16990
I think this problem may caused by #16968 and fixed by #17018.
Currently, the fix PR already merged, maybe we can close this issue until we got it again.

[2022-08-10 11:31] #16990 closed

[2022-08-10 12:02] tisonkun commented on #17008
@mattisonchao OK.

[2022-08-10 12:02] #17008 closed

[2022-08-10 12:10] poorbarcode commented on #16948
Hi @RobertIndie , @coderzc

- #16878 fixed `testManagedCursorMetrics`, the test you provided is another method `testCursorReadWriteMetrics`, the title of this issue should change to `Flaky-test: ManagedCursorMetricsTest.testCursorReadWriteMetrics`

[2022-08-10 13:20] disserakt opened #17042 "Topic-level quotas, maxproducers and maxconsumers policy - not working as expected with SSL"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

We use Pulsar version for now - `2.9.2` and Bookkkeeper - `4.14.4`
Our cluster consists of 9 brokers Pulsar and 9 bookies Bookkeeper. We use partitioned topics with 6 partitions. And our installation Pulsar <> Bookkeeper <> Zookeeper - use SSL.

### Minimal r

[2022-08-10 14:54] codelipenghui opened #17044 "Flaky-test: ConsumedLedgersTrimTest.testConsumedLedgersTrimNoSubscriptions"
Looks not the same issue with #10380 and #11145

### Example failure

https://github.com/apache/pulsar/runs/7766496921?check_suite_focus=true

### Exception stacktrace

Error:  Tests run: 5, Failures: 1, Errors: 0, Skipped: 3, Time elapsed: 16.724 s <<< FAILURE! - in org.apache.pulsar.broker.service.ConsumedLedgersTrimTest
  Error:  testConsumedLedgersTrimNoSubscriptions(org.apache.pulsar.broker.s

[2022-08-10 14:57] codelipenghui commented on #17011
@mattisonchao I think the issue does not resolve https://github.com/apache/pulsar/runs/7766497633?check_suite_focus=true

Just reopen it.

[2022-08-10 15:32] BewareMyPower opened #17047 "[Bug] Maven deployment failed on project pulsar-presto-connector-original"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Pulsar branch-2.8

[code]

### Minimal reproduce step

It has succeeded before. But it failed twice in a row when I tried to deploy it again. I have already removed the staging repository. See

<img width="1076" alt="image" src="https://user-images.githubuser

[2022-08-10 15:52] mattisonchao commented on #17047
if you want to deploy again, you need to clean some generated resources first.

[2022-08-10 15:54] BewareMyPower commented on #17047
How to clean them? Is there any guidance?

---- Replied Message ----
| From | Qiang ***@***.***> |
| Date | 08/10/2022 23:52 |
| To | ***@***.***> |
| Cc | Yunze ***@***.******@***.***> |
| Subject | Re: [apache/pulsar] [Bug] Maven deployment failed on project pulsar-presto-connector-original (Issue #17047) |

if you want to deploy again, you need to clean some generated resources first.

—
Reply

[2022-08-10 16:51] codelipenghui opened #17050 "Flaky-test: AdminApi2Test.testDeleteTenant"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/7767603609?check_suite_focus=true

### Exception stacktrace

Error:  Tests run: 145, Failures: 42, Errors: 0, Skipped: 85, Time elapsed: 143.728 s <<< FAILURE! - in org.apache.pulsar.broker.admin.AdminApi2Test
  E

[2022-08-10 16:52] codelipenghui commented on #17011
A new one: https://github.com/apache/pulsar/runs/7767603985?check_suite_focus=true

[2022-08-10 17:14] michaeljmarshall commented on #16919
Great catch, @hpvd. I didn't realize I had missed advising _how_ to report a vulnerability. I agree with duplicating the information in the `SECURITY.md` file. This information won't change with any frequency, and it is imperative to make it easy to find.

I'd like to propose that we don't version the security page, but instead have some top level tab (or something like that) to make it easy to fi

[2022-08-10 19:10] lhotari opened #17052 "[Website] Remove general content from Pulsar version specific content"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

There's current a problem in maintaining content that isn't Pulsar version specific. For example, the content for https://pulsar.apache.org/docs/security-policy-and-supported-versions/ comes from the most recently released Pulsar version docs and there's a

[2022-08-10 22:16] c0090555 commented on #15647
@jsteggink @michaeljmarshall Hi, It seems I am having the same issue when running 2.10.1 standalone version on docker:
[code]

Is there any fix on this? Thanks a lot!

[2022-08-10 22:42] michaeljmarshall commented on #15647
Thanks for reaching out. Sorry I missed the original comment. I'll take a closer look later tonight.

[2022-08-10 23:32] dwctua commented on #10306
I'm getting the same error in 2.10 when running as standalone mode locally. but it is happening randomly without a clear pattern. Is a way to reset the transaction status so re-run won't fail?

[2022-08-11 01:24] #17014 closed

[2022-08-11 01:40] #15891 closed

[2022-08-11 02:06] michaeljmarshall commented on #15647
This command worked for me on MacOS. Are you running on linux? What are the permissions of the volumes?

[2022-08-11 02:35] codelipenghui commented on #16270
Close this one since #13953 is tracking the issue

[2022-08-11 02:35] #16270 closed

[2022-08-11 02:35] #16704 closed

[2022-08-11 02:36] #16693 closed

[2022-08-11 02:40] codelipenghui commented on #16978
@Demogorgon314 Great finds, are you working on this issue?

[2022-08-11 02:44] c0090555 commented on #15647
@michaeljmarshall I am running in the root directory of a MacBook Pro with M1 chip.

[2022-08-11 02:48] Demogorgon314 commented on #16978
Yes, I will try to fix it.

[2022-08-11 03:37] BewareMyPower commented on #17047
I removed the whole project and it still failed.

[2022-08-11 05:39] michaeljmarshall commented on #5881
The DLQ implementation is only triggered after the client negatively acknowledges a message, the client calls `redeliverUnacknowledgedMessages`, or the ack timeout expires. Therefore, changing when the count is incremented does not solve this problem for the DLQ implementation.

I would like to return to the original behavior for incrementing the DLQ counter (`redeliveryCount`). Here is a dev mail

[2022-08-11 05:53] michaeljmarshall commented on #15647
The docker image does not yet support running on Arm. Arm support is being tracked here https://github.com/apache/pulsar/issues/12944. We will likely miss the 2.11.0 release since it is already in progress and we don't yet have a PR for the multi-arch build feature. However, I think there is a good chance it will make it into the 2.11.1 release (assuming I or someone else is able to complete that

[2022-08-11 05:54] michaeljmarshall commented on #15647
@jsteggink - any chance you're on an M1 Mac?

[2022-08-11 06:18] frejonb commented on #5881
@michaeljmarshall To me it seems like the root cause is something else. For example, giving the responsibility of counting the ack timeout to the client is not very robust as I explained. The bigger issue in my view is basing the DLQ feature on the current redelivery counter mechanics. How can we implement a DLQ feature when the redelivery counter is not 100% reliable?

[2022-08-11 06:21] yapxue opened #17061 "function EFFECTIVELY_ONCE cannot support input topic batching"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

In pulsar function EFFECTIVELY_ONCE semantic, producer attach a sequenceId to output topic for deduplication, the sequenceId consists of ledgerId and entryId. But for batched messages, the share the same entryId so they have same sequenceId, others will be

[2022-08-11 07:09] lhotari commented on #17024
Pulsar 2.7.0 is an outdated version that contains security vulnerabilities (Log4Shell). It's worth upgrading to a more recent version. In your case, it's first recommended to upgrade to Pulsar 2.7.4 . After that it's possible to continue upgrading to stay on a version that will be maintained for a longer period of time. 2.7.x will become EOL soon. Supported versions are listed on https://pulsar.ap

[2022-08-11 07:23] codelipenghui commented on #16597
Close since the PR has merged.

[2022-08-11 07:23] #16597 closed

[2022-08-11 07:24] codelipenghui commented on #16250
Close since all the PRs get merged.

[2022-08-11 07:24] #16250 closed

[2022-08-11 08:07] hangc0276 commented on #17042
@nodece  Would you please help take a look? Thanks.

[2022-08-11 08:52] codelipenghui commented on #16538
A new one: https://github.com/apache/pulsar/runs/7781756219?check_suite_focus=true

[2022-08-11 08:53] #16989 closed

[2022-08-11 08:57] codelipenghui commented on #16975
@gaoran10 Do you have some ideas about this issue?

[2022-08-11 08:58] poorbarcode commented on #17050
assign to me

[2022-08-11 09:20] nodece commented on #17042
@hangc0276 Ok, assign it to me.

[2022-08-11 09:58] #13528 closed

[2022-08-11 10:24] BewareMyPower commented on #17047
Run `mvn clean deploy` solves this issue, I've updated it in [here](https://github.com/apache/pulsar/wiki/Release-process#5-stage-artifacts-in-maven). But it still looks like a bug for Pulsar, so keep this issue open.

[2022-08-11 10:26] tisonkun commented on #17047
@BewareMyPower Yes. Although not in `deploy` stage, I notice that compile generates this issue and fixed if running `clean` first.

[2022-08-11 10:29] tisonkun commented on #17047
You may report this issue to [MSHADE JIRA](https://issues.apache.org/jira/projects/MSHADE/issues) also. Maven is weak in incremental compilation, though.

[2022-08-11 10:33] BewareMyPower commented on #17047
Yes, I also noticed it but I cannot reproduce it at the moment.

[2022-08-11 11:45] #8252 closed

[2022-08-11 13:59] hpvd opened #17068 "Owasp dependency check: check if suppressing of Vulnerabilities is still reasonable"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Since https://github.com/apache/pulsar/pull/10855 we are doing dependency scan for Vulnerabilities on regular basis. That really great.

Over time more and more vulnerabilities are suppressed.
This may
- not be necessary anymore if it's about suppressing f

[2022-08-11 15:27] hpvd opened #17069 "Automatic Scan for CWEs (additional to CVEs)"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Since https://github.com/apache/pulsar/pull/10855 we are doing dependency scans for vulnerabilities (CVEs =Common Vulnerabilities and Exposures) on regular basis. That's really great!

Like always there is more one can do. We could also scan for C**W**Es..

[2022-08-11 15:29] hpvd commented on #8815
another topic in this field of automatic security scanning:
Automatic Scan for CWEs (additional to CVEs)  https://github.com/apache/pulsar/issues/17069

[2022-08-11 17:09] mfortman11 commented on #14934
The Twitter source needs to be updated to use Twitter API v2
Sample issue: https://twittercommunity.com/t/warn-com-twitter-hbc-httpclient-clientbase-hosebird-client-01-error-connecting-403-forbidden/173291

Deprecation Announcement for v1.1 and migration guide to v2: https://twittercommunity.com/t/deprecation-announcement-removing-compliance-messages-from-statuses-filter-and-retiring-statuses-samp

[2022-08-11 17:42] c0090555 commented on #15647
@michaeljmarshall thanks for helping with this! So the problem seems to be with the M1(ARM64) chip. I thought add `--platform linux/amd64/v8` could help solve this. For me, sometimes I could run this successfully on my machine but it failed most times. May I have a rough timeline on 2.11.1 release?

[2022-08-11 18:50] syhily commented on #16757
Cool. This would fix the duplicated message issues when using `seek()`.

[2022-08-12 01:39] Technoboy- commented on #17042
Is there any other error log on the broker side?   We need more broker logs. and broker dump if convenient.

[2022-08-12 04:05] luhea opened #17073 "key-shared keyHashRange() dont't cacultate"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

hello,when i consume a topic, topic message is like this:"1001":{"test1":"test1"}
"1002":{"test2":"test2"} , in pulsar topic key is : 1001,1002 ,value is {"test1":"test1"}，{"test2":"test2"} .when i use key-shred consume this topic，i want to get key：1001，i

[2022-08-12 04:17] tisonkun commented on #17073
@luhea I see you check the box "I'm willing to submit a PR!" but in the description, it likes [a bug report](https://github.com/apache/pulsar/issues/new?assignees=&labels=type%2Fbug&template=bug-report.yml&title=%5BBug%5D+) or [a user question](https://github.com/apache/pulsar/discussions/new?category=q-a)?

[2022-08-12 04:30] nodece commented on #15289
Implemented at:
https://github.com/apache/pulsar/pull/15634
https://github.com/apache/pulsar/pull/16930
https://github.com/apache/pulsar/pull/16833
https://github.com/apache/pulsar/pull/16819

[2022-08-12 04:33] luhea commented on #17073
is a user question

[2022-08-12 04:42] tisonkun commented on #17073
In the issue template, we suggest you ask in the [Discussions](https://github.com/apache/pulsar/discussions/new?category=q-a) forum to get dedicated attention. The Pulsar community uses issues to track bug reports and actionable tasks.

Could you close this issue and ask there with concrete Pulsar version, and detailed reproduce steps if any?

If by any chance you'd prefer ask in Chinese, you may

[2022-08-12 04:52] #17073 closed

[2022-08-12 04:56] michaeljmarshall commented on #15647
I haven't seen this command argument before, but I see not that it should work based on some quick searches. There must be something different happening with the filesystem permissions for the mounted volume when compared to the Intel arch. The fact that the error is permissions related gives it away: `org.apache.zookeeper.server.persistence.FileTxnSnapLog$DatadirException: Cannot write to data di

[2022-08-12 07:35] keyboardbobo commented on #16998
@codelipenghui hi，I am also verifying the same scenario. If one of the three bookies has a large network delay or a slow response, the direct memory will rise and finally OOM will occur. A large number of memory leaks are found through `io.netty.leakDetectionLevel`. Adding back pressure will delay the time when OOM occurs, but it cannot fundamentally solve the problem. Is there a specific reason f

[2022-08-12 07:57] Technoboy- commented on #16998
We are working on this issue. If there are some updates, will leave a comment here.

[2022-08-12 09:30] lujiwen commented on #16702
I found the same problem and it is easy to reproduce on pulsar-2.10.0, with deduplication enabled, I send in async way 30w message to a partitioned topic, but topic stats show me that  "msgInCounter" : 319942. Besides, then I consume the 30w messages, I can only receive 298409 messages. I don't know how to fix problem, would you please give us some help @sijie

[2022-08-12 09:34] TianFeng111 opened #17076 "consumer got some acked msg cause by "Error resetting cursor for slowest consumer"[BUG]"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

pulsar-2.10.0（release）

### Minimal reproduce step

not clear

### What did you expect to see?

consumer got msgs correctly

### What did you see instead?

we got logs like this:
![image](https://user-images.githubusercontent.com/28603029/184326622-1cc9af7f-c

[2022-08-12 11:10] kwenZh commented on #5387
i seems the same promblem in flink client.
in k8s pulsar cluster in ns pulsar. and svc is : pulsar-cluster-broker.pulsar.svc.cluser.local.

flink-task in ns flink , connect to puslar get this exception:

[code]

[2022-08-12 12:11] codelipenghui commented on #17076
@TianFeng111 Do you know why so many reset cursor requests?

[2022-08-12 12:14] codelipenghui commented on #17040
@congbobo184 @liangyepianzhou Could you please help check this issue?

[2022-08-12 12:23] codelipenghui opened #17080 "Flaky-test: ReplicatorTest.activeBrokerParse"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/7804278935?check_suite_focus=true

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-08-12 12:25] #16948 closed

[2022-08-12 14:20] coderzc commented on #16949
assigned to me

[2022-08-12 16:38] coderzc commented on #17080
Please assign to me.

[2022-08-12 20:09] c0090555 commented on #15647
@michaeljmarshall
Here are what I got:
[code]
[code]

[2022-08-12 21:44] michaeljmarshall commented on #16979
I just ran into the following error while running `testBacklogConsumerCacheReads` on my MacOS on a branch that includes #16996. Looks like there might be a separate issue, too. I'm going to start looking into what could be wrong.

[code]

[2022-08-12 21:52] michaeljmarshall commented on #16979
I also just go this variant:

[code]

Seems like we have a data race. Still digging.

[2022-08-12 22:09] michaeljmarshall commented on #16979
Seems like this might be related to https://github.com/apache/pulsar/pull/10924.

[2022-08-13 00:19] armangurkan commented on #15477
having the same issue

[2022-08-13 00:20] armangurkan commented on #15477
having this issue

[2022-08-13 02:38] codelipenghui opened #17081 "Flaky-test: SchemaTest.testDeleteTopicAndSchemaForV1"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/7778849865?check_suite_focus=true

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-08-13 02:39] codelipenghui commented on #17011
https://github.com/apache/pulsar/runs/7778850062?check_suite_focus=true

[2022-08-13 04:47] michaeljmarshall commented on #16979
https://github.com/apache/pulsar/pull/10924 is not related. Just before calling the `parseFrom` in the stack trace, we call `skipBrokerEntryMetadataIfExist`.

https://github.com/apache/pulsar/blob/926834ef8b2b57d3964aa7e9773e6245bcee861c/pulsar-common/src/main/java/org/apache/pulsar/common/protocol/Commands.java#L436-L446

[2022-08-13 05:42] michaeljmarshall commented on #16979
It's clear to me now that the issue is a data race with the `entries` array. After https://github.com/apache/pulsar/pull/16603, entries are published to another thread. I believe they are "safely published" because the calling thread is within a `synchronized` block and the receiving thread passes the `entries` array to a `synchronized` method:

https://github.com/apache/pulsar/blob/abff91f881d267

[2022-08-13 06:30] michaeljmarshall commented on #16979
I wrote https://github.com/michaeljmarshall/pulsar/commit/8f48cf2ebc0bc5b8004be807611271aea29d8c5f thinking that it would solve the issue. However, I am still getting the same exceptions, so there must be something I am missing. I'll continue on this tomorrow or Monday.

[2022-08-14 03:36] HQebupt commented on #17024
Pulsar Release 2.7.5 is on the way.

[2022-08-14 07:34] TianFeng111 commented on #17076
It’s a delay queue actually，consumers do not consume msgs in a timely manner.

[2022-08-14 07:34] TianFeng111 commented on #17076
It’s a delay queue actually，consumers do not consume msgs in a timely manner.

[2022-08-14 09:56] 3286360470 opened #17086 "[Bug] [Broker]Topic level Offload policies set failed when use method pusarAdmin.topicPolicies().setOffloadPolicies()"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

OS version: CentOS Linux release 7.4.1708
Pulsar version: 2.9.2

### Minimal reproduce step

[code]

### What did you expect to see?

When I call the pusarAdmin.topicPolicies().setOffloadPolicies(), the Pulsar Broker should update the offload policies for top

[2022-08-14 10:17] #16488 closed

[2022-08-14 11:20] leizhiyuan opened #17087 "[Bug] when delete namespace bundle-data in metastore was not deleted"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

master branch

### Minimal reproduce step

just add a test case
org.apache.pulsar.broker.namespace.NamespaceServiceTest

testModularLoadManagerRemoveBundleAndLoad

[code]

### What did you expect to see?

after delete namespace

[code]

### What did you see i

[2022-08-14 14:27] 3286360470 opened #17090 "PIP-XYZ: Support latency quantile metric for pulsar read and write"
### Motivation

1. Currently, pulsar does not have an quantile metric used to statistics read and write latency, which is essential for our future troubleshooting and performance comparison tests.
2. And we need network io metrics to determine the current network processing pressure, to prevent too many requests from hanging the broker.

### Goal

1. Our goal is to statics the latency which begin

[2022-08-14 15:23] Raven888888 commented on #17024
Thanks for your input @lhotari @HQebupt

Though do we have any bug fixes on broker stability from 2.7.0 to 2.7.4/5?

Often when the brokers in the cluster become unhealthy, and we try to restart them, they *always* hit this exception
[code]
Which sometimes is due to `timeout`, or `connection refused` when connecting to other brokers. What we always end up doing, is shutting off external traffic at

[2022-08-14 17:20] GuoHaoZai opened #17094 "[improve][broker]: DelayedDeliveryTracker init and addMessage"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

1. PersistentDispatcherMultipleConsumers.java use double check lock init DelayedDeliveryTracker
2. PersistentDispatcherMultipleConsumers.java not lock when msgMetadata.hasDeliverAtTime return false
3. InMemoryDelayedDeliveryTracker.java `addMessage` method

[2022-08-14 18:52] lhotari commented on #17024
Yes, there's a large number of improvements and fixes.

[2022-08-14 19:05] frankjkelly commented on #16249
Bump @sijie ?

[2022-08-15 02:07] yapxue commented on #16763
Is there any recycle or compaction policies of Buckets? Bucket may hold a Delayed Message which is scheduled very long time later, this message can block bucket deletion, if we are unfortunate, every bucket have one such message, finally it can cuase too many buckets.

[2022-08-15 02:22] TakaHiR07 commented on #17040
I have added many log in the code, and found that it is blocked in topic.checkIfTransactionBufferRecoverCompletely in handleProducer().
Then I found that the object transactionBufferFuture in TopicTransactionBuffer was not completed, because it did not finish TopicTransactionBufferRecover#run().
The problem was blocked in the reader.readNext() method. I found that reader can read the 1,2,3 message

[2022-08-15 02:47] TianFeng111 commented on #17076
This morning ,we observed that the problem recurs, some supplementary descriptions below
1、It's a delay queue, consumers will delay consumption by one minute.
2、This topics is a partitioned-topic, we only find this problem on partition-2.
3、Firlstly, we observed backlog sudden increaseand storage size reduction，at the same time we got so many reset cursor request in this broker's log.( Log is atta

[2022-08-15 02:53] Technoboy- commented on #17086
Ah, we find that there is a bug here :
[code]
We don't need to update all the partitions, only partition-0 is needed.
Could you push a fix for this ?

[2022-08-15 03:13] coderzc commented on #16763
We can limit the number of buckets by merging buckets.
More please see: **Merge message index buckets** and **Delete message index bucket** sections.

[2022-08-15 03:30] rey-8lab commented on #5175
how to resolve?

[2022-08-15 05:57] xiaods commented on #16652
use Jib — build Java Docker images better to build your image.

[2022-08-15 08:25] leizhiyuan commented on #17087
<img width="1484" alt="image" src="https://user-images.githubusercontent.com/2684384/184601909-0c861a04-dd0c-4189-a4e7-3f8bc763d3f5.png">
BundleStats was not deleted ,then task will rewrite the bundle data again

[2022-08-15 08:50] nodece commented on #14762
Closed by #15634.

[2022-08-15 08:50] #14762 closed

[2022-08-15 09:08] momo-jun commented on #16938
@urfreespace #17074 has been merged, can you pls implement this change?

[2022-08-15 09:13] TianFeng111 commented on #17076
@codelipenghui

[2022-08-15 09:18] momo-jun commented on #14928
This issue can be closed after #16746 is merged. Any other problematic occurrence is an individual case of error.

[2022-08-15 09:49] liliang950210 opened #17097 "[Bug] python use tls connect error"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.7.4

### Minimal reproduce step

class TestPulsarClient():
    def test_instance(self):
        server_url = "pulsar+ssl://xxxxx:xxx/"
        self._instance = pulsar.Client(server_url, tls_validate_hostname=False, tls_trust_certs_file_path="trust.pem", tls

[2022-08-15 09:56] momo-jun opened #17098 "PIP-199: Create a robust and inline Client Feature Matrix page"
### Motivation

As the outcome of PIP-108, the [Client Feature Matrix](https://docs.google.com/spreadsheets/d/1YHYTkIXR8-Ql103u-IMI18TXLlGStK8uJjDsOOA0T20/edit#gid=1784579914) has addressed the [initial user request](https://github.com/apache/pulsar/issues/9723) for technology evaluation and selection. It has been linked on [Pulsar doc site](https://pulsar.apache.org/docs/next/client-libraries#fea

[2022-08-15 09:56] #16977 closed

[2022-08-15 10:39] nodece commented on #17097
I tried using the pulsar-client@2.10.1 to request the broker@2.7.4, it works fine.

The following is my broker config:
[code]

Client log:
[code]

Could you provide your broker config or client log to help me find your issue?

[2022-08-15 12:27] jsteggink commented on #15647
I'm on Windows 10 Pro with WSL2

[2022-08-15 12:46] alpreu opened #17101 "[Doc] admin-api-topics contains wrong paragraph for concepts-messaging"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

The admin-api-topics page contains information on how to administrate topics using the admin API.
Towards the end there is a section that explains using the Client APIs Producer to write to a partitioned-topic.
https://pulsar.ap

[2022-08-15 14:57] tisonkun commented on #17098
Thanks for starting this discussion. I'd like to mention my previous attempt on this direction https://github.com/apache/pulsar-site/issues/146.

I will take a closer look at this proposal. Generally, I'd prefer inline the current feature matrix into each client's document entries instead of displaying the big feature matrix map in another approach - it consumes substantial developer efforts while

[2022-08-15 16:20] coderzc opened #17103 "Flaky-test: TestDefaultMessageFormatter.testFormatMessage"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/7837504066?check_suite_focus=true

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [X] I'm willing to submit a PR!

[2022-08-15 20:16] hpvd commented on #16652
since its about the future evolutions of the docker images in this issue,
maybe one should already also have a look on the topic distroless images:
just put together a short doc about
- the typical advantages and
- the latest gen of tooling
in the pulsar function-mesh project
where it may directly help solving some security problems in an image:
Build distroless package for better security, smalle

[2022-08-15 22:29] #16596 closed

[2022-08-16 01:42] momo-jun commented on #17098
@tisonkun thanks for your suggestion. Maintaining a matrix provides a chance to do a horizontal comparison within the same set of features. I think it provides value to both maintainers and users in the whole picture.

[2022-08-16 01:48] momo-jun commented on #16637
@Anonymitaet can you pls help update the release document and contribution guide? Both the new doc sets `2.8.x/2.9.x/2.10.x` and the new `versions` page are in place.

[2022-08-16 02:12] poorbarcode commented on #16858
assign to me

[2022-08-16 02:49] tisonkun commented on #17098
@momo-jun Yeah. If only there were volunteers who are willing to do it instead of "need developer resources".

Do you have a more concrete design and implementation? This proposal is far more than actionable now.

[2022-08-16 03:11] Technoboy- opened #17107 "NPE when persistPositionToLedger"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Master branch

### Minimal reproduce step

ReplicatorTest#testReplicatorWithFailedAck

### What did you expect to see?

No NEP.

### What did you see instead?

[code]

### Anything else?

_No response_

### Are you willing to submit a PR?

- [ ] I'm willing t

[2022-08-16 04:19] #16979 closed

[2022-08-16 05:30] ciiiii opened #17109 "[Bug] Python Client verify hostname failed"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Pulsar Version: 2.9.2
pulsar-client=='2.10.0'

### Minimal reproduce step

Deploy Broker with JWT Authentication enabled, configure TLS encryption on Pulsar Proxy or Reverse Proxy.

### What did you expect to see?

Connect to Cluster and produce message succe

[2022-08-16 05:43] AnonHxy commented on #17090
Change the "PIP-XYZ" to a determined number please.   To determine the appropriate PIP number XYZ, inspect the [mailing list](https://lists.apache.org/list.html?dev@pulsar.apache.org) for the most recent PIP. Add 1 to that PIP's number to get your PIP's number. @3286360470

[2022-08-16 06:13] liliang950210 commented on #17097
i use 2.10.1 ，log like these

/opt/share/oss/xxxx/infers/venv/bin/python -u /tmp/pycharm_project_181/pulsarTest/TestTlsConnection.py
2022-08-16 14:08:01.905 INFO  [139791013365568] Client:88 | Subscribing on Topic :persistent://public/default/test003
2022-08-16 14:08:01.905 INFO  [139790747305728] ExecutorService:41 | Run io_service in a single thread
2022-08-16 14:08:01.905 INFO  [139791013365568

[2022-08-16 06:30] Anonymitaet commented on #16637
@momo-jun sure, I'll do that and request your review.

[2022-08-16 08:26] Gleiphir2769 opened #17110 "[Bug] The autoAck in removeExpireIncompleteChunkedMessages is always true"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

Pulsar version: 2.10

### Minimal reproduce step

It's a code bug.

### What did you expect to see?

https://github.com/apache/pulsar/blob/56c41f88600c9c1812fc9656283d159e18cad13a/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java#L26

[2022-08-16 08:38] Gleiphir2769 commented on #17110
I neglected this option is only used for pendingQueue. I will close this issue.

[2022-08-16 08:39] #17110 closed

[2022-08-16 08:43] codelipenghui opened #17111 "Flaky-test: AdminApi2Test.testDeleteNamespace"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/7849998786?check_suite_focus=true

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-08-16 08:46] codelipenghui opened #17112 "Flaky-test: [CI - Unit - Brokers - Broker Group 2] running over 1 hour"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/7849998733?check_suite_focus=true

### Exception stacktrace

NA

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-08-16 09:15] momo-jun commented on #17098
@tisonkun This is just a heads-up. I haven't got a concrete design or implementation plan yet.
The questions you listed are good ones that need to be clarified. I will add more details and discuss it in the community soon.

[2022-08-16 10:17] hpvd opened #17113 "[Doc] Add list of 3rd party pulsar clients / make it findable"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

There are some interesting 3rd party clients around.
e.g.

But its hard to find them.

Being able to find them:
- pulsar users can take benefit from
- pulsar official community may learn from them
- maybe some are willing to donate to the project if there

[2022-08-16 10:58] cbornet opened #17114 "[Bug] It should be mandatory to provide a schema in Context::newOutputRecordBuilder"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Currently the API to create a Record from the Function Context is
[code]
It should be
[code]
to ensure the record has a Schema since the record will be used to publish to a Pulsar topic.

### Solution

_No response_

### Alternatives

_No response_

### An

[2022-08-16 11:05] eolivelli commented on #17114
@codelipenghui @merlimat I think that we must fix this before releasing 2.11.
It is a new API that is broken.

The fix is simply, I hope that @cbornet will be able to send a PR soon

[2022-08-16 11:09] eolivelli commented on #13892
@lhotari this issue looks stale
is it still a problem ?

[2022-08-16 11:27] codelipenghui commented on #17112
Another one: https://github.com/apache/pulsar/runs/7851405789?check_suite_focus=true

[2022-08-16 11:30] sOfekS commented on #17113
They're all listed here.
https://pulsar.apache.org/docs/client-libraries/

[2022-08-16 11:31] leizhiyuan opened #17115 "[Bug] the retention policies of health topic"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

master

### Minimal reproduce step

when we run

[code]

broker will create a topic witch default v1 version

pulsar/{cluster}/{ip}:8080/persistent/healthcheck

we find there are many ledgers  znode in zk of bookkeeper,

### What did you expect to see?

the r

[2022-08-16 11:38] hpvd commented on #17113
oh thats great! Of course I did search in the doc but didnt find them :-(

was expecting
- "3rd party" as own menu item or
- finding them in client type e.g. node, but there is only talked about the official client

![2022-08-16_13h32_58](https://user-images.githubusercontent.com/5681880/184870501-4d8bc8fe-2b82-4af7-812a-530960bf4eb2.png)

[2022-08-16 11:42] hpvd commented on #17113
if you are looking for something concrete, like a client for node.js you may not look in the overview section...

[2022-08-16 12:16] leizhiyuan commented on #17115
addition

stats
[code]

internal-stats

[code]

[2022-08-16 13:33] codelipenghui commented on #16795
Another one: https://github.com/apache/pulsar/runs/7856447331?check_suite_focus=true

[2022-08-16 13:38] codelipenghui commented on #15764
The issue doesn't fix yet, https://github.com/apache/pulsar/runs/7856446588?check_suite_focus=true

[code]

[2022-08-16 13:40] Anonymitaet opened #17119 "[Doc] add explanations of "topics can be compacted on topic level automatically""
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

Alexander Preuss:
The docs say that we can only automatically compact topics on a namespace level [(source)](https://pulsar.apache.org/docs/next/cookbooks-compaction/#configuring-compaction-to-run-automatically). Is this correct

[2022-08-16 13:41] codelipenghui commented on #16516
Another one: https://github.com/apache/pulsar/runs/7850960846?check_suite_focus=true

[2022-08-16 13:49] codelipenghui opened #17120 "Flaky-test: ResourceGroupUsageAggregationTest.testProduceConsumeUsageOnRG"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/7856747228?check_suite_focus=true

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-08-16 13:59] poorbarcode commented on #17111
assign to me

[2022-08-16 15:03] alpreu opened #17121 "[Bug][pulsar-client-admin-api] Topics.getInternalInfo() returns 500 for not existing topic"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

macOS, master branch, commit bc68f02a

### Minimal reproduce step

1) Create a PulsarAdmin object
2) Use `admin.topics().getInternalInfo("this-topic-does-not-exist")

### What did you expect to see?

Response is HTTP 404 Not Found (as described in the docs)

[2022-08-16 15:23] codelipenghui commented on #16770
Another one: https://github.com/apache/pulsar/runs/7859284770?check_suite_focus=true

[2022-08-16 17:06] lhotari commented on #11351
This issue was fixed by #11446

[2022-08-16 17:06] #11351 closed

[2022-08-16 17:35] #15985 closed, assigned to nobody

[2022-08-17 00:15] #17087 closed

[2022-08-17 00:25] leizhiyuan commented on #17115
see https://lists.apache.org/thread/c4b262w1o5g0l34dxtb3pqvt17w8tg8q

[2022-08-17 01:47] #16858 closed

[2022-08-17 02:00] Technoboy- opened #17126 "Flaky-test: RGUsageMTAggrWaitForAllMsgsTest.testMTProduceConsumeRGUsageNonPersistentTopicNamesSameTenant"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/7870050421?check_suite_focus=true

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-08-17 02:06] Technoboy- opened #17127 "Flaky-test: ClientCnxRequestTimeoutQueueTest. setupClientCnx"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/7870157500?check_suite_focus=true

### Exception stacktrace

[code]

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-08-17 02:32] tisonkun commented on #16613
This issue can be closed by https://github.com/apache/pulsar/pull/17010.

For further improvement, I notice that @momo-jun create a draft proposal #17098 which can supersede this one.

@dave2wave @Anonymitaet please help close this issue :)

[2022-08-17 03:53] codelipenghui opened #17131 "Flaky-test: TopicTerminationTest.testTerminateWhilePublishing"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/7870706938?check_suite_focus=true

### Exception stacktrace

 Error:  Tests run: 15, Failures: 1, Errors: 0, Skipped: 3, Time elapsed: 107.905 s <<< FAILURE! - in org.apache.pulsar.broker.service.TopicTerminationT

[2022-08-17 03:55] codelipenghui commented on #16578
Another one https://github.com/apache/pulsar/runs/7870706984?check_suite_focus=true

[2022-08-17 04:17] codelipenghui opened #17132 "[test] Integration test coverage"
### Motivation

Improve integration test coverage https://github.com/apache/pulsar/tree/master/tests/integration
The integration test will run on a real cluster, not a mock environment like the unit test does.

#### Tools

- [x] Integration test for client tool https://github.com/apache/pulsar/pull/17616
- [x] Integration test for perf tool https://github.com/apache/pulsar/pull/17750

#### Securit

[2022-08-17 06:14] polyzos opened #17133 "[Doc] Fix the RabbitMQ connector docs"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### What issue do you find in Pulsar docs?

inaccurate

### What is your suggestion?

![Screenshot 2022-08-16 at 8 27 04 PM](https://user-images.githubusercontent.com/23555517/185047364-670fd20c-a9d6-4160-998a-7fe9510252ac.png)

### Any reference?

requestedHeartbeat and

[2022-08-17 07:00] Anonymitaet commented on #16613
@tisonkun does it make sense to add `last commit time` to show client's vitality?
![image](https://user-images.githubusercontent.com/50226895/185055101-df5b70c3-7f18-4a49-972e-93d220f4215d.png)

[2022-08-17 07:09] hpvd commented on #16613
There is an other issue in this field:

[Doc] (before: Add) list of 3rd party pulsar clients -> **Make it findable** #17113

https://github.com/apache/pulsar/issues/17113#issuecomment-1216517393

[2022-08-17 07:40] poorbarcode commented on #17127
and this one https://github.com/apache/pulsar/runs/7871237359?check_suite_focus=true

[2022-08-17 08:16] tisonkun commented on #17113
It's Pulsar's official website so it's unreasonable that we maintain the document of third-party clients.

All necessary information about third-party clients is listed under the overview page. It might be helpful to list third-party clients on a dedicated page and you're welcome to prepare a patch to preview.

[2022-08-17 08:21] tisonkun commented on #16613
@Anonymitaet what if we create a new issue to track this dedicated topic? I don't think it's good we discuss everything about "Optimize Third-Party Client Matrix Page" under this issue without a clear boundary. Open-ended discussions should go to Discussions or mailing lists.

For the proposal itself, I'm glad to review a patch with its preview. But if you ask me to implement it, perhaps I'll try

[2022-08-17 08:27] RobertIndie commented on #17101
Good catch! Thanks. I am working on it.

[2022-08-17 08:31] tisonkun commented on #17090
I think 198 is left for this proposal. @3286360470 please update the title.

[2022-08-17 09:09] tisonkun opened #17137 "PIP-200: Package Pulsar Trino distro and config in a dedicated folder"
Mailing list thread: https://lists.apache.org/thread/s985ypf0r0hzcm0mx653n5h2rt7n273v

### Motivation

After https://github.com/apache/pulsar/pull/16683 merged, we upgrade PrestoSQL dependency in Pulsar SQL to the first several Trino version. To handle the name change cases and gradually refactor Pulsar SQL as a self-contained module so that we can move it into a standalone repository, I find that

[2022-08-17 09:48] tisonkun commented on #10937
@codelipenghui @hangc0276 is this ticket still relevant?

It's weird when I filter `release/blocker` and see this issue targets to 2.8.1 and stale for a long time.

At least we should correct the metadata as @eolivelli mentioned https://github.com/apache/pulsar/issues/10937#issuecomment-926598889

[2022-08-17 10:16] shibd opened #17139 "[feature request] C++ and Python client support Dead Letter Topic"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Current C++ and Python clients do not support the dead letter topics.

Dead letter topic serves message redelivery, which is triggered by [acknowledgement timeout](https://pulsar.apache.org/docs/concepts-messaging/#acknowledgement-timeout) or [negative ack

[2022-08-17 10:29] shibd opened #17140 "[feature request] C++ client support consumer batch receiving messages."
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

You can refer [PIP-38](https://github.com/apache/pulsar/wiki/PIP-38%3A-Batch-Receiving-Messages).

### Solution

_No response_

### Alternatives

_No response_

### Anything else?

Python Client has the same request: https://github.com/apache/pulsar/issues

[2022-08-17 13:16] coderzc commented on #17107
It seems to be a flask test, I will fix it.

[2022-08-17 14:29] tisonkun commented on #16652
@xiaods with a quick glance of Jib, it seems a Java-specific image builder based on buildkit. Our logic is currently based on Dockerfile so I don't want to spend too much time learning a new flavor.

[2022-08-18 01:33] Raven888888 commented on #17024
Thanks again @lhotari
I have upgraded to 2.10.1, and it seems to be much more stable. Closing this.
Thanks for your good works!

[2022-08-18 01:33] #17024 closed

[2022-08-18 04:49] codelipenghui commented on #15764
The issue has been fixed by here https://github.com/apache/pulsar/pull/17049/files#diff-e6ac90fc5f2373a64dc1ecaa11a9c965f9a22f128cc4ca1265972e0dc4fef9c5R137

[2022-08-18 04:49] #15764 closed

[2022-08-18 04:50] codelipenghui commented on #17127
The issue should be fixed by here https://github.com/apache/pulsar/pull/17049/files#diff-e6ac90fc5f2373a64dc1ecaa11a9c965f9a22f128cc4ca1265972e0dc4fef9c5R137

[2022-08-18 04:50] #17127 closed

[2022-08-18 04:53] codelipenghui commented on #16500
The issue should be fixed by #17049

[2022-08-18 04:53] #16500 closed

[2022-08-18 06:15] tisonkun commented on #16919
@michaeljmarshall shall we close this issue since #17039 merged? Or you'd like to complete it after we move the doc outside from versioned ones.

[2022-08-18 06:18] tisonkun commented on #16613
I'm going to replace the "Star" column with a "Badges" column to show badges including stars and last commit. Will investigate a patch by next week.

[2022-08-18 06:23] michaeljmarshall commented on #16919
Thanks for following up @tisonkun, yes, I believe #17039 completes this issue. Please reopen the issue if you see any issues @hpvd.

[2022-08-18 06:23] #16919 closed

[2022-08-18 06:31] jimmycxm commented on #14468
@jianke221 Have you resolved the issue? I also got same issue.

[2022-08-18 06:32] nicoloboschi opened #17152 "Flaky-tests: misc tests failing with java.lang.NoClassDefFoundError: Could not initialize class org.apache.pulsar.common.protocol.Commands"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/7884887469?check_suite_focus=true

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-08-18 06:32] nicoloboschi commented on #17152
This is probably caused by JDK ZGC issue https://github.com/openjdk/jdk17u-dev/pull/605
IIUC this will released in the next hotfix version of JDK 17

[2022-08-18 06:33] nicoloboschi commented on #16795
Another one: https://github.com/apache/pulsar/runs/7884888194?check_suite_focus=true

[2022-08-18 06:50] #16804 closed

[2022-08-18 07:17] eolivelli opened #17155 "PIP-201 : Extensions mechanism for Pulsar Admin CLI tools"
### Motivation

There are many projects that are in the Pulsar ecosystem like Protocol Handlers (Kafka, MQTT, RabbitMQ) and libraries (JMS…) that need additional tools for operating Pulsar following **specific conventions** adopted by each project and to handle **custom domain objects** (like JMS queues, Kafka Consumer Groups...).

Some examples:
* Kafka: tools for inspecting internal systems, han

[2022-08-18 07:43] tisonkun commented on #17047
This issue can be relevant https://github.com/elastic/apm-agent-java/issues/961

[2022-08-18 07:47] tisonkun commented on #17047
Reported at upstream: https://issues.apache.org/jira/browse/MSHADE-425

It seems a maven shade plugin LTA. Or we may investigate to exclude some dependencies to workaround.

[2022-08-18 08:08] #17103 closed

[2022-08-18 08:20] tisonkun commented on #12944
This can be related to #16652 .

Also, when I build on Apple M1 (ARM64), I find that `pulsar-client-cpp/docker/manylinux1/Dockerfile` binds to x86_64 and thus the build will fail with:

[code]

[2022-08-18 10:06] tisonkun commented on #12944
Trying to workaround with:

[code]

We should integrate this snippet into build scripts, though.

FAILED with Python client depends on grpcio = 1.27.2, which doesn't support aarch64. A newer version can help, see also https://github.com/grpc/grpc/pull/25418 and https://github.com/grpc/grpc/issues/21283.

cc @BewareMyPower @shibd @RobertIndie

[2022-08-18 10:15] coderzc commented on #16763
@codelipenghui @gaoran10 @liudezhi2098 @eolivelli
I have sent a vote email, please take a look. Thanks!
Vote Mailing list thread: https://lists.apache.org/thread/51n8kp64d16vxwh9h6klvyh1zo0owf91

[2022-08-18 10:30] codelipenghui commented on #17152
@nicoloboschi I have changed [here](https://github.com/apache/pulsar/pull/17049/files#diff-e6ac90fc5f2373a64dc1ecaa11a9c965f9a22f128cc4ca1265972e0dc4fef9c5R137), the test get passed. It looks like related to Mockito and reuseForks. I'm not sure what exactly the problem is but disabled the reuse fork can help.

[2022-08-18 11:26] YczYanchengzhe commented on #17120
I have no problem using the master code to run the test method locally, can you provide your reproduction steps?

[2022-08-18 11:43] BewareMyPower commented on #17097
Could you generate the core dump and use GDB to show the stack traces (via `bt all` command)?

[2022-08-18 12:02] 3286360470 commented on #17090
ok, I have updated [XYZ] to 202.

[2022-08-18 12:58] nicoloboschi commented on #16578
Another one: https://github.com/apache/pulsar/runs/7893473002?check_suite_focus=true

[2022-08-18 13:33] AnonHxy opened #17165 "Flaky-test: org.apache.bookkeeper.mledger.impl.ManagedLedgerTest#avoidUseSameOpAddEntryBetweenDifferentLedger"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/7894988756?check_suite_focus=true

### Exception stacktrace

  Error:  avoidUseSameOpAddEntryBetweenDifferentLedger(org.apache.bookkeeper.mledger.impl.ManagedLedgerTest)  Time elapsed: 0.045 s  <<< FAILURE!
  java

[2022-08-18 15:18] nodece commented on #17097
I cannot reproduce this issue :(

[2022-08-18 15:34] coderzc commented on #16763
It should be a risk if only clear the index without any cursor rewind or index rebuilding.
The consumer will not be able to receive delayed messages, no?

Oh, It only is to clear residual data after operate downgrade.

consistent.
Ok, I improve it.

Ok, I agree with it.

Yes, I improve method name.

Yes, It is a initialized function.

[2022-08-18 16:07] tisonkun commented on #13864
@merlimat It seems no for 2.10.1 yet. The related issue is #16849.

[2022-08-18 23:43] #16516 closed

[2022-08-18 23:44] #16975 closed

[2022-08-18 23:45] #10380 closed

[2022-08-18 23:45] #11145 closed

[2022-08-18 23:45] #17044 closed

[2022-08-18 23:52] codelipenghui commented on #14109
The flaky test still happens on the master branch https://github.com/apache/pulsar/runs/7899134537?check_suite_focus=true, reopen the ticket. @liangyepianzhou Could you please help check again?

[2022-08-19 01:23] shibd opened #17169 "[feature request] C++ and Python client support producer access mode."
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

The current java client supports four access modes: `Shared`, `Exclusive`, `ExclusiveWithFencing`, and `WaitForExclusive`.

C++ and Python also needs support.

The issue is responsible for tracking, and specific tasks can be disassembled to do.

### Soluti

[2022-08-19 01:36] #17114 closed

[2022-08-19 03:17] #13052 closed

[2022-08-19 03:30] zengguan opened #17171 "[Bug] when proxyLogLevel > 0, producer info logging fails"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

master branch, commit id: #16843

### Minimal reproduce step

set proxy proxyLogLevel = 1 or proxyLogLevel = 2, use pulsar-perf produce topic。it will throw an IllegalStateException

`2022-08-19T11:15:28,234+0800 [pulsar-proxy-io-2-10] ERROR org.apache.pulsar.

[2022-08-19 03:45] shibd opened #17173 "[feature request] C++ and Python client support consumer memory limits."
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

[PIP-74](https://github.com/apache/pulsar/wiki/PIP-74%3A-Pulsar-client-memory-limits)

C++ client consumers have not implemented memory limits yet.

### Solution

There are several key points to achieving this feature.
1. Reconstructing the consumer struct

[2022-08-19 03:59] shibd opened #17174 "[feature request] C++ and Python client consumer add epoch."
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

[PIP-84](https://github.com/apache/pulsar/wiki/PIP-84-:-Pulsar-client:-Redeliver-command-add-epoch)

### Solution

Refer PR: https://github.com/apache/pulsar/pull/10478

### Alternatives

_No response_

### Anything else?

Need to write unit tests first to

[2022-08-19 05:57] #16755 closed

[2022-08-19 06:17] liliang950210 commented on #17097
which python version you used? my python version is 3.9.

[2022-08-19 06:39] codelipenghui commented on #16860
https://github.com/apache/pulsar/runs/7912288088?check_suite_focus=true

[2022-08-19 06:44] liliang950210 commented on #17097
gdb /opt/share/oss/NetEco/NAIEDeployCombAgent/infers/venv/bin/python -u /tmp/pycharm_project_460/pulsarTest/TestTlsConnection.py
Could not find platform independent libraries <prefix>
Could not find platform dependent libraries <exec_prefix>
Consider setting $PYTHONHOME to <prefix>[:<exec_prefix>]
'import site' failed; use -v for traceback
Traceback (most recent call last):
  File "<string>", line

[2022-08-19 06:44] nodece commented on #17097
I'm using the Python 3.7.

[2022-08-19 06:45] liliang950210 commented on #17097
gdb /opt/share/oss//infers/venv/bin/python -u /tmp/pycharm_project_460/pulsarTest/TestTlsConnection.py
Could not find platform independent libraries <prefix>
Could not find platform dependent libraries <exec_prefix>
Consider setting $PYTHONHOME to <prefix>[:<exec_prefix>]
'import site' failed; use -v for traceback
Traceback (most recent call last):
  File "<string>", line 1, in <module>
ImportErro

[2022-08-19 07:34] tisonkun commented on #16637
Now we encounter a new issue that the version number is `2.10.x` so all the placeholder `@pulsar:version_number@` becomes `2.10.x`. It will generate some fake info:

<img width="1055" alt="image" src="https://user-images.githubusercontent.com/18818196/185567812-8dc88372-708a-4cf5-a89e-42554160bd15.png">

We only provide `2.10.0` or `2.10.1`, no `2.10.x`.

[2022-08-19 07:43] tisonkun commented on #16637
<img width="1039" alt="image" src="https://user-images.githubusercontent.com/18818196/185569364-96c07f2f-1eb5-4b01-bd36-8d691d4267fd.png">

One more fake: all these links to maven central are broken links due to we don't publish version exact `2.10.x`

[2022-08-19 07:55] eolivelli opened #17179 "[Bug] Pulsar Shell on docker writes the history on /pulsar/?/.pulsar-shell"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.11-SNAPSHOT

### Minimal reproduce step

Run pulsar-shell on docker (I am using the DataStax Helm Chart, but the Apache Pulsar Helm Chart should reproduce the problem as well)

### What did you expect to see?

the history is not written into /pulsar (that i

[2022-08-19 07:58] momo-jun commented on #16637
@tisonkun Thanks for the finding. Maybe we can add a tip/note to notify users to instantiate the version number. Any better ideas?

The doc files with this issue include:
* client-libraries-java.md
* client-libraries-python.md
* deploy-bare-metal.md
* io-debezium-source.md
* io-cdc-debezium.md
* standalone.md
* getting-started-standalone.md

[2022-08-19 08:24] shibd opened #17181 "[feature request] C++ and Python support negative acknowledgment backoff"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

[PIP-106](https://github.com/apache/pulsar/wiki/PIP-106%3A-Negative-acknowledgment-backoff)

### Solution

Refer java client: https://github.com/apache/pulsar/pull/12566

### Alternatives

_No response_

### Anything else?

If the `redeliveryCount` is grea

[2022-08-19 08:53] #17111 closed

[2022-08-19 08:57] tisonkun commented on #12944
It seems all the issues are included in https://github.com/apache/pulsar/issues/12944#issuecomment-1103444708. I'll try it out.

[2022-08-19 09:11] codelipenghui commented on #17120
@YczYanchengzhe it's the flaky test, not able to reproduce stability. From the CI, you can get detailed logs.

[2022-08-19 10:01] shibd opened #17183 "[feature request] C++ and Python support ack timeout redelivery backoff"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

[PIP 130: Apply redelivery backoff policy for ack timeout](https://github.com/apache/pulsar/issues/13528)

### Solution

Refer java client PR: https://github.com/apache/pulsar/pull/13707

### Alternatives

_No response_

### Anything else?

_No response_

[2022-08-19 10:07] #16103 closed

[2022-08-19 11:02] shibd opened #17184 "[feature request] C++ and Python support batch index acknowledgment"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Batch index acknowledgment can improve individual ack performance.

Refer [PIP 54: Support acknowledgment at batch index level](https://github.com/apache/pulsar/wiki/PIP-54:-Support-acknowledgment-at-batch-index-level)

### Solution

Refer java client PR:

[2022-08-19 11:29] Demogorgon314 opened #17186 "[feature request] C++ and Python support inclusive seek"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

There are some cases in which it is useful to be able to include current
position of the message when reset of cursor was made.

### Solution

Refer java client PR: #4331, #5622

### Alternatives

No response

### Anything else?

No response

### Are you w

[2022-08-19 15:32] BewareMyPower commented on #17097
Could you generate the core file (assuming the name is `core`) and just run `gdb python core`?

In addition, could you share your Python script with the correct indent so we can just paste it to our local env?

[2022-08-19 15:35] shibd opened #17188 "[feature request] C++ and Python support include message header size when check maxMessageSize."
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

[PIP 132 Include message header size when check maxMessageSize for non-batch message on the client side](https://github.com/apache/pulsar/issues/13591)

Current c++ the implementation also has this problem.

[code]

### Solution

Refer java client PR: http

[2022-08-19 20:41] yangou opened #17190 "[Bug]"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.7

### Minimal reproduce step

Launch many 10s of thousands of clients, produce millions of messages per minute into thousands of partitioned topics.

Now kill zookeepers and bring them back. Restart brokers one by one.

You may see that brokers can die and

[2022-08-20 09:09] horizonzy opened #17191 "[Bug] PulsarLedgerIdGenerator can't delete the index path when zk metadata store config rootPath."
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

branch master.

### Minimal reproduce step

Config zk metadata store with root path, and you will found error log info.
[code]

Error info:
[code]

### What did you expect to see?

Delete the index path correctly.

### What did you see instead?

Delete the in

[2022-08-21 04:29] MarvinCai commented on #17121
do you see any server log that can help diagnose?

[2022-08-21 11:31] eolivelli opened #17196 "[Bug] Pulsar shell Ctrl-D > org.jline.reader.EndOfFileException"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

2.11-SNAPSHOT

### Minimal reproduce step

type ctrl-d on pulsar-shell

### What did you expect to see?

the shell closes

### What did you see instead?

This error:

default(pulsar-proxy.mypulsar.svc.cluster.local)>
Exception in thread "main" org.jline.reade

[2022-08-22 01:31] mattisonchao commented on #17011
This problem was fixed by #17143

[2022-08-22 01:41] mattisonchao commented on #17086
Hi, @3286360470

What is the progress on it?

[2022-08-22 01:44] andyzhao9527 commented on #13347
--------------
Thank you for your attention. This issue was discussed in this issue:
https://github.com/apache/pulsar/issues/13347
And gaozhangmin has also completed the development of features:
https://github.com/apache/pulsar/issues/13473
However, this feature was rejected in the merger vote.You also gave the corresponding reasons for rejection. I don't know whether community has new considerati

[2022-08-22 01:59] mattisonchao commented on #17131
I ran this test in my local env multiple times. The test never failed.

[2022-08-22 02:01] mattisonchao commented on #17131
![image](https://user-images.githubusercontent.com/74767115/185824381-b9c28d2f-637c-4eb8-91a9-40c92c41cd87.png)

[2022-08-22 02:34] cocktail828 commented on #13315
@hangc0276  你好, 看文档介绍, 受控的 failover 需要一个 service provider 管理元数据, 请问这个 provider 服务 Pulsar 会提供吗, 还是需要使用者自己写这个服务, 感谢!

[2022-08-22 03:11] mattisonchao commented on #17152
I think the `reuseForks=false` can fix this problem.

Link: https://maven.apache.org/surefire/maven-surefire-plugin/examples/fork-options-and-parallel-execution.html

So, I closed the question and opened it when it reappeared.

[2022-08-22 03:14] mattisonchao commented on #16770
I think this PR probably fixes the problem https://github.com/apache/pulsar/pull/17143.

So, I chose this close this issue until this problem appears again.

[2022-08-22 03:14] #16770 closed

[2022-08-22 04:58] codelipenghui commented on #17132
@nodece Is handling the integration test of security

[2022-08-22 06:40] kaushalmadani opened #17203 "[Bug] Increase websocket connection timeout in apache pulsar"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Version

1. docker-compose = "3.4"
2. Apache Pulsar docker image = 2.6.0 , 2.9.3, 2.10.1

### Minimal reproduce step

I have a full description here:

https://stackoverflow.com/questions/73404101/increase-websocket-connection-timeout-in-apache-pulsar

### What did you

[2022-08-22 07:00] nicoloboschi commented on #17152
I'm not sure we should close this issue. `reuseForks=false` may helps but it means we don't know the real source of the problem.
@codelipenghui have you verified how much time the suite get now? is it relevant for the CI pipeline?

[2022-08-22 07:43] lordcheng10 commented on #16782
Test steps：
1.create Topic:

[code]

2.generate data:

[code]

3.the configuration is as follows:
#defaultNamespaceBundleSplitAlgorithm=topic_count_equally_divide
defaultNamespaceBundleSplitAlgorithm=flow_or_qps_equally_divide
loadBalancerNamespaceBundleMaxMsgRate=1010
flowOrQpsDifferenceThresholdPercentage=10
exposeBundlesMetricsInPrometheus=true

The comparison effect is as follows:
1.Using the

[2022-08-22 07:50] lordcheng10 commented on #16782
@eolivelli @codelipenghui PTAL,thanks!

[2022-08-22 08:13] momo-jun commented on #16637
Many thanks to @urfreespace for providing a resolution/patch to fix the issue, which covers all the above three categories.

[2022-08-22 08:13] #16652 closed

[2022-08-22 12:12] codelipenghui commented on #14848
@BewareMyPower Looks like the test still can get failed https://github.com/apache/pulsar/runs/7948115233?check_suite_focus=true

[2022-08-22 12:14] codelipenghui commented on #17152
@nicoloboschi Yes, we can keep it open until we find the root cause.

[2022-08-22 12:31] lordcheng10 commented on #16782
@eolivelli @Technoboy- @codelipenghui PTAL,thanks!

[2022-08-22 12:42] tjiuming commented on #17090
Prometheus is highly recommended

[2022-08-22 12:54] alpreu commented on #17121
Unfortunately I cannot provide meaningful logs, I also am running on an M1 mac so I have to use the 'kezhenxu94/pulsar' image instead of the official one. I also found more inconsistencies in the admin API. I will close this ticket and create a larger one tracking all of the efforts.

[2022-08-22 12:54] #17121 closed

[2022-08-22 14:16] nicoloboschi commented on #16688
@mangoGoForward have you started working on this? do you have any update?

[2022-08-22 14:22] nicoloboschi opened #17211 "Pulsar Shell: native image with GraalVM"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Currently pulsar-shell is just a simple java application.
Nowadays [GraalVM native image](https://www.graalvm.org/22.1/reference-manual/native-image/) is a great way to package java CLI application into a optimized native binary.
Additionaly it removes the

[2022-08-22 16:07] #12419 closed

[2022-08-22 17:49] horizonzy opened #17213 "[Discuss] Shall we record pulsar cluster name in bookeeper ledger metadata?"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

Now we record the ledger component, ledger name in the bookeeper ledger metatda.

If the user use multi pulsar cluster corresponde one bookeeper cluster, we can't differ which pulsar cluster the ledger comes from in bookeper perspective.

So if we record t

[2022-08-22 18:37] #17196 closed

[2022-08-23 01:52] mangoGoForward commented on #16688
Thanks for your reminder, I will push it later

[2022-08-23 01:58] lordcheng10 commented on #16782
https://github.com/apache/pulsar/pull/16557

[2022-08-23 02:22] codelipenghui opened #17219 "Flaky-test: PersistentSubscriptionMessageDispatchStreamingDispatcherThrottlingTest.testBytesRateLimitingReceiveAllMessagesAfterThrottling"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/7964639300?check_suite_focus=true

### Exception stacktrace

Error:  Tests run: 53, Failures: 1, Errors: 0, Skipped: 38, Time elapsed: 91.764 s <<< FAILURE! - in org.apache.pulsar.broker.service.persistent.Persist

[2022-08-23 03:24] shibd commented on #9135
I'll start this work.

[2022-08-23 03:28] codelipenghui opened #17220 "Make the autoSkipNonRecoverableData can work for cursor ledger"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

After we enabled autoSkipNonRecoverableData, the topic will skip the non-recoverable ledger which will lose some data, but the topic is able to load and continues to provide messaging service. This usually happens when multiple bookie replicas are corrupte

[2022-08-23 03:30] codelipenghui opened #17221 "Make the autoSkipNonRecoverableData can work for schema Ledger"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

After we enabled autoSkipNonRecoverableData, the topic will skip the non-recoverable ledger which will lose some data, but the topic is able to load and continues to provide messaging service. This usually happens when multiple bookie replicas are corrupte

[2022-08-23 03:31] codelipenghui opened #17222 "Make the autoSkipNonRecoverableData can work for compacted topic"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Motivation

After we enabled autoSkipNonRecoverableData, the topic will skip the non-recoverable ledger which will lose some data, but the topic is able to load and continues to provide messaging service. This usually happens when multiple bookie replicas are corrupte

[2022-08-23 03:33] codelipenghui commented on #17203
Thanks for raising the Github issue. We will take a look at the details soon.

[2022-08-23 03:35] codelipenghui opened #17224 "Flaky-test: SchemaTest.testDeleteTopicAndSchema"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/7964439053?check_suite_focus=true

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-08-23 03:37] codelipenghui opened #17225 "Flaky-test: PersistentSubscriptionMessageDispatchStreamingDispatcherThrottlingTest.testMultiLevelDispatch"
### Search before asking

- [X] I searched in the [issues](https://github.com/apache/pulsar/issues) and found nothing similar.

### Example failure

https://github.com/apache/pulsar/runs/7964439338?check_suite_focus=true

### Exception stacktrace

[code]

### Are you willing to submit a PR?

- [ ] I'm willing to submit a PR!

[2022-08-23 03:54] lordcheng10 commented on #16782
discuss thread https://lists.apache.org/thread/cshyt10fwcjjxs93g8yf0svgwcgnshmg

[2022-08-23 04:17] codelipenghui commented on #17203
@kaushalmadani I have replied here https://stackoverflow.com/a/73453084/19798114

[2022-08-23 05:29] kaushalmadani commented on #17203
@codelipenghui Thanks for reply. Let me confirm this and will get back.

[2022-08-23 05:40] heesung-sn commented on #16782
+1 LGTM.

[2022-08-23 06:17] aloyszhang commented on #16782
LGTM
+1

Heesung Sohn ***@***.***> 于2022年8月23日周二 13:40写道：

[2022-08-23 06:50] #17224 closed

[2022-08-23 07:11] lordcheng10 commented on #16782
vote thread:  https://lists.apache.org/thread/g6stjsrymmq3850pdt9whzgx91tx33v8

[2022-08-23 07:48] poorbarcode commented on #17220
assign to me

[2022-08-23 07:48] poorbarcode commented on #17221
assign to me

[2022-08-23 07:48] poorbarcode commented on #17222
assign to me

[2022-08-23 07:59] BewareMyPower commented on #14848
This flaky test can be reproduced by

[code]

[code]

[2022-08-23 09:07] coderzc commented on #17188
Please assign it to me.