[2020-12-14 09:28] dockerzhang opened #8949 "consumer support update stats with specified stats"
**Is your enhancement request related to a problem? Please describe.**
In the KoP scenario, raw data is consumed by reading bookie directly, which could cause no metrics data for consumers.

**Describe the solution you'd like**
we can expose `updateStats` with `ConsumerStats` param, which could update stats specified stats.

**Additional context**
the related issue in KoP is https://github.com/str

[2020-12-14 11:25] hpvd commented on #5959
this seems to be a topic for feature matrix:
Support deliverAt and deliverAfter attribute for Websocket producer.
https://github.com/apache/pulsar/pull/8945

[2020-12-14 11:29] jianyun8023 opened #8953 "The Equals of the ClientConfigurationData instance does not reach the expected result"
**Is your enhancement request related to a problem? Please describe.**

The authentication in ClientConfigurationData does not implement equals and hashcode, resulting in two instances of the same configuration not being equal.

**Describe the solution you'd like**

Add equals, hashCode methods to all Authentication implementation classes.

**Describe alternatives you've considered**

In ClientCon

[2020-12-14 11:32] jianyun8023 commented on #8953
@codelipenghui Hi, what do you think is a better solution?

[2020-12-14 11:36] sixhj opened #8954 "func Namespace does not have any clusters configured"
11:30:48.835 [main] INFO  org.apache.distributedlog.api.namespace.NamespaceBuilder - No feature provider is set. All features are disabled now.
11:30:48.840 [main] INFO  org.apache.distributedlog.impl.BKNamespaceDriver - Created shared zooKeeper client builder dlzk:distributedlog://192.168.33.3:2181,192.168.33.4:2181,192.168.33.5:2181/pulsar/functions:factory_writer_shared: zkServers = 192.168.33.

[2020-12-14 11:43] #8874 closed

[2020-12-14 12:09] reswqa commented on #8953
`In ClientConfigurationData in the equals, hashCode method to ignore the field authentication.`
Does it mean that Conf's with different authentication only can be considered the same? In our scenario, this would result in Clients with different authentication policies but otherwise the same attributes being shared by the same cache.

[2020-12-14 12:23] curryLzj opened #8955 "Remote WWW service supports TRACE request"
Bookkeeper 8000 port security vulnerability

Remote WWW service supports TRACE request

How to fix this bug?

[2020-12-14 13:33] 315157973 commented on #8902
Use `tcpdump` to capture a packet so that you can know where the problem is

[2020-12-14 14:08] #8954 closed

[2020-12-14 14:09] sixhj commented on #8954
Troubleshooting

Error message: Namespace missing local cluster name in clusters list

Failed to get partitioned topic metadata: org.apache.pulsar.client.api.PulsarClientException$BrokerMetadataException: Namespace missing local cluster name in clusters list: local_cluster=xyz ns=public/functions clusters=[standalone]
The error message prompts when either of the cases occurs:

a) a broker is start

[2020-12-14 14:10] sixhj commented on #8954
Troubleshooting

Error message: Namespace missing local cluster name in clusters list

Failed to get partitioned topic metadata: org.apache.pulsar.client.api.PulsarClientException$BrokerMetadataException: Namespace missing local cluster name in clusters list: local_cluster=xyz ns=public/functions clusters=[standalone]
The error message prompts when either of the cases occurs:

a) a broker is start

[2020-12-14 14:28] jianyun8023 commented on #8953
The ClientConfigurationData stores the parameters for creating the authentication object. Of course, there are also methods to set the authentication object directly.

[2020-12-14 14:57] rafael81 opened #8956 "Currently auto consume works for type 'KEY_VALUE' is not supported yet"
**Describe the bug**
Caused by: java.lang.IllegalArgumentException: Currently auto consume works for type 'KEY_VALUE' is not supported yet
	at org.apache.pulsar.client.impl.schema.AutoConsumeSchema.generateSchema(AutoConsumeSchema.java:163) ~[org.apache.pulsar-pulsar-client-original-2.7.0.jar:2.7.0]
	at org.apache.pulsar.client.impl.schema.AutoConsumeSchema.configureSchemaInfo(AutoConsumeSchema.ja

[2020-12-14 16:45] dlsprague commented on #8884
Here is how producer sends message.
package com.vz.apollo.alarmdbupdates;
​
import java.io.IOException;
import java.nio.file.Files;
import java.nio.file.Paths;
import java.util.Map;
​
import org.apache.pulsar.client.api.CryptoKeyReader;
import org.apache.pulsar.client.api.EncryptionKeyInfo;
import org.slf4j.Logger;
import org.slf4j.LoggerFactory;
​
public class RawFileKeyReader implements CryptoKe

[2020-12-14 16:45] dlsprague commented on #8884
Looking for the rest of the info requested.  User did attempt to use client 2.7.0 but got same exception.

[2020-12-14 16:47] dlsprague commented on #8884
Also some additional info as I tried to produce a message.  (it failed because I wasnt using encryptiom).  Thought maybe some of these settings would help.
11:08:11.281 [pulsar-client-io-1-1] INFO  org.apache.pulsar.client.impl.ProducerStatsRecorderImpl - Starting Pulsar producer perf with config: {
  "topicName" : "persistent://i18v/fault-alarmupdate/Apollo-Fault-AlarmUpdate-1sec-partition-0",

[2020-12-14 20:00] dlsprague commented on #8884
The message size limit is set at the broker level.  Because we batch on broker side, we did testing by commenting out .bathcingMaxPublishDelay(3, TimeUnit.MILLISECONDS) but it still gave message  error while create opSendMsg by batch message container.  It was clarified that this is also occurring in 2.5.2, 2.6.0, 2.6.2 and 2.7.0.  Problem does not occur in 2.5.0.  User is encrypting and batching,

[2020-12-14 20:50] EliHarper commented on #8582
With your exact example, it does work in my environment. I believe the issue I'm having is due to the fact that my topics have more than one key : value to store, since it's a more complex topic with JSON (and I also tested with Avro) schema.

I think that sort of invalidates my issue's main point. It might make sense to have an example of more complex storage with the Cassandra sink rather than a

[2020-12-15 01:18] jiazhai commented on #6834
@nhathatrinh The PR #8850 is merged, I would like to close this issue. Thanks for @RobertIndie 's help

[2020-12-15 01:18] #6834 closed

[2020-12-15 01:30] Jennifer88huang commented on #5959
Hi all, thank you very much for your support in this issue.
We're summarizing the Client Feature Matrix in a more detailed way, and will share the google sheet soon first, and then you all can help contribute in the sheet. It will be easier to do this first in google sheet.

[2020-12-15 02:58] yufan022 commented on #8887
@sijie
`Pulsar` use `jclouds`  connect to the cloud provider.
`jclouds` doesn't support `aliyun oss` yet, How can we do this work?

I advise two options:
1. make `jclouds` support `aliyun oss` before adapting pulsar.
2. maybe pulsar need support customized API or SDK to support more cloud provider?

[2020-12-15 03:10] wolfstudy commented on #8582
Thanks @EliHarper feedback, maybe we can close this issue, and then create an issue for whether the topics containing the schema can work correctly in the pulsar sink or pulsar functions?

[2020-12-15 06:38] shustsud opened #8960 "NPE in PersistentStickyKeyDispatcherMultipleConsumers"
If use HashRangeExclusiveStickyKeyConsumerSelector(Key_Shared), NPE may occurs.

Log:
[code]

If consumer is set for only part of hash range, consumer may be set to null.
[https://github.com/apache/pulsar/blob/cc64889abe94d47f048e2f8e8fb10d6c37e695ec/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentStickyKeyDispatcherMultipleConsumers.java#L168](https://github.com/

[2020-12-15 16:48] evfurman opened #8963 "NullPointerException Thrown Trying to Auth Client"
**Describe the bug**
When trying to authenticate a client connection to the broker, getting a NullPointerException.

[code]

**To Reproduce**
Steps to reproduce the behavior:

1. Generate a CSR and Private Key using the following documentation:
https://pulsar.apache.org/docs/en/security-tls-authentication/#create-client-certificates

[code]

2. Generate a `Computer-ClientAuth` Certificate using Ac

[2020-12-15 17:39] #8949 closed

[2020-12-15 17:40] #8225 closed

[2020-12-15 18:30] milos-matijasevic opened #8964 "Enable skipping missing/corrupted ledgers from offloaded storage"
**Is your feature request related to a problem? Please describe.**
Regarding #8615  it would be nice that `autoSkipNonRecoverableData` also allows skipping non-recoverable data from offloaded storage too, not only from bookies.

**Describe alternatives you've considered**
An alternative is manually skipping ledgers with `pulsar-admin topics skip` and before that going through `pulsar-admin topics

[2020-12-16 04:11] xiaotongwang1 opened #8967 "CVSS issue list"
Component | Version | CVE
-- | -- | --
apache-httpclient | 4.5.5 | CVE-2020-13956
apache-httpclient | 4.5.5 | CVE-2020-13956
async-http-client | 1.6.5 | CVE-2013-7398
async-http-client | 1.6.5 | CVE-2013-7397
async-http-client | 1.6.5 | CVE-2017-14063
bootstrap | 0.195 | CVE-2018-14040
bootstrap | 0.195 | CVE-2018-14042
bootstrap | 0.195 | CVE-2018-20676
bootstrap | 0.195 | CVE-2018-20677
bootstra

[2020-12-16 07:03] darkredz commented on #6894
I am also seeing this on 2.6.2

[2020-12-16 09:51] 315157973 commented on #8953
How about adding `@EqualsAndHashCode` to each implementation class of Authentication?

[2020-12-16 14:03] cuzyoucant opened #8972 "Wrong Content-Type in C++ and Python Client for Keycloak Oauth2 Tokens."
**Describe the bug**
When using Keycloak as Oauth2 provider you cannot get any Tokens via the C++ and Python client due to the missmatch in Content-Type.
The C++/python client sends the POST to the token-endpoint with Content-Type "application/json" but keycloak only supports/allows the content-type "application/x-www-form-urlencoded" and you will get a 400 Bad Request error because the credential

[2020-12-16 14:50] eolivelli opened #8974 "Peeking at compressed messages throws an exception (Readonly buffers not supported by Airlift)"
Earlier in the 2.6.0 branch, the compression library was swapped for https://github.com/airlift/aircompressor.

When messages are published with LZ4 compression and you try to use the Peek API, https://pulsar.apache.org/admin/v2/persistent/{tenant}/{namespace}/{topic}/subscription/{subName}/position/{messagePosition} on the message, the broker throws an exception, causing a 500 return code. This b

[2020-12-16 14:50] eolivelli commented on #8974
This is a regression on 2.6 release line
@wolfstudy @codelipenghui  please consider this problem before releasing 2.6.3

[2020-12-16 14:51] eolivelli opened #8975 "Message TTL expires 1 message at a time"
When the message expiry check wakes up (every 5 minutes by default) it only expires a single message even if many (or all) messages in a subscription are past their expiry time. This means that expired messages remain in the subscription and can be delivered to consumers long past their expiry time.

This issue does not exist in 2.6.1 (I confirmed against prod running 2.6.1) but is a regression in

[2020-12-16 16:05] jiazhai opened #8977 "Add docs of how namespace broker isolation policy works"
currently, there are no enough docs to describe how namespace broker isolation policy works. We need to add some docs for it.
related with PR #8976

[2020-12-16 16:13] eolivelli commented on #8977
+1

[2020-12-16 16:28] phijohns-tibco opened #8978 "OpenSSL needs to be updated to 1.1.1i current version is unsupported."
OpenSSL Security Advisory [08 December 2020]
============================================

EDIPARTYNAME NULL pointer de-reference (CVE-2020-1971)
======================================================

Severity: High

The X.509 GeneralName type is a generic type for representing different types
of names. One of those name types is known as EDIPartyName. OpenSSL provides a
function GENERAL_NAME_cmp

[2020-12-16 16:42] phijohns-tibco commented on #8978
I have a fix for this issue I just need to know whom to sync up with when it comes to pushing new build images to the docker repo.

[2020-12-16 17:29] #8960 closed

[2020-12-16 18:19] merlimat commented on #8978
@phijohns-tibco please submit the changes to the Dockerfiles and I can help push the images

[2020-12-16 19:24] Chickenzilla commented on #8963
Did some digging on this.  The issue is because the certs array is null, and that's null because Java threw a `SSLPeerUnverifiedException` which the getter caught and ate (and returned null).  I'd argue that's confusing and a log line should be added where that exception is eaten so it's obvious at least _why_ the connection is being refused (or even don't eat that exception at all, and just bubbl

[2020-12-16 20:37] hpvd commented on #8967
related to
Automated security and update routine before every release #8815

[2020-12-16 20:42] evfurman commented on #8963
Also remarking that the parameter specified in the keystore docs `requireTrustedClientCertOnConnect` is different than the one in the default broker config `tlsRequireTrustedClientCertOnConnect` https://pulsar.apache.org/docs/en/security-tls-keystore/#broker-authentication-config.

I don't see either mentioned in the tls docs https://pulsar.apache.org/docs/en/security-tls-authentication/#enable-tl

[2020-12-16 21:43] dlsprague commented on #8884
Is there something else we can do to test?    We attempted to turn off the batching on client producer since batching is done on broker side thinking that would help, but we still got same message.  Is there something else we should try.  Will be furloughed the 2 last weeks of December, hoping to try something before then.  Thanks so much!

[2020-12-16 22:20] jianyun8023 commented on #8953
Most of the situations yes, there are also special cases that need to be dealt with. And corresponding tests need to be added for them.

[2020-12-17 01:43] xiaotongwang1 opened #8982 "code quality issue: pulsar 2.7.0 check style issue. don't we run check style before we release it？？"
1、i download the source code of pulsar release version 2.7.0 ,nothing change !!!!!!!
2、i use the command  mvn install -Pcore-modules -DskipTests

 output some check style  error:

[INFO] There are 17 errors reported by Checkstyle 8.37 with ../buildtools/src/main/resources/pulsar/checkstyle.xml ruleset.
[ERROR] src\main\java\org\apache\pulsar\client\api\Authentication.java:[28,1] (imports) ImportOr

[2020-12-17 02:47] sijie commented on #8982
@yanshuchong Pulsar doesn't enable checkstyle plugin for all modules. There is an ongrowing effort in the community to enable checkstyle across all the modules. See https://github.com/streamnative/pulsar/issues/1760 The effort started in the late stage of 2.7.0 development. It hasn't completed.

Have you tried `mvn clean install -DskipTests` without any profiles? `core-modules` profile is used in

[2020-12-17 03:39] 525846028 opened #8983 "Always shouldBlockPulsarProducer is false if do not set the system property"
https://github.com/apache/pulsar/blob/156b4be4a1bd55a9f9a6b25c3a46836236cc1390/pulsar-client-kafka-compat/pulsar-client-kafka/src/main/java/org/apache/kafka/clients/producer/PulsarKafkaProducer.java#L172

expect not use Boolean.getBoolean method

[2020-12-17 03:43] 315157973 commented on #8884
Sorry, I did not reply in time. I still cannot reproduce. Now there are too many factors. I am not sure which one is different from what you set: encryption, message size, client version, etc.
Can you try to turn off some factors, such as: turn off the message size limit, will it appear? Turn off encryption, will it appear?
Or, provide a piece of code that can definitely be reproduced?

[2020-12-17 04:27] sijie commented on #8963
@Chickenzilla your analysis is correct. I meant to ask in the slack channel but got busy with different things.

We would improve the error handling to make the error more clearly.

Regarding the documentation concerns, I am looping @Jennifer88huang and @Huanli-Meng to help improve the documentation.

[2020-12-17 06:46] yanshuchong commented on #8982
mvn -T 1C clean install -Pcore-modules -DskipTests -Dcheckstyle.skip=true --fail-at-end

i try to use -Dcheckstyle.skip=true to skip code style check

[2020-12-17 06:51] Jennifer88huang opened #8984 "How to run Pulsar Function in K8S"
**Describe the bug**
My Pulsar function using State Storage (written in Python ) is working perfectly in Docker Container, but the same code is not working on Kubernetes. Can u please help me on that? Is there any configuration changes required to run it in Kubernetes?

Issue from rajesh thakur

[2020-12-17 06:52] Jennifer88huang commented on #8984
@nlu90 are you familiar with K8S? Could you please give a hand on it? Thank you very much.

[2020-12-17 07:40] yufan022 commented on #8887
@sijie I create a pr, can you help me review it?

[2020-12-17 07:49] Jennifer88huang commented on #8974
It seems that some PR introduced issue...

[2020-12-17 08:00] merlimat commented on #8974
The problem seems to be the bytebuffer is wrapped and is neither "direct" or it has an array. We should be probably taking a copy of that buffer to solve this.

[2020-12-17 09:34] hpvd opened #8986 "check possibilities to benefit from Linkerd"
**Is your enhancement request related to a problem? Please describe.**

Check if it's possible and worth it on the long run, to make Pulsar even better, easier to use and maintain, more secure and enhance possibilities even further by identifying possibilities (if/where/how) using a light service mesh (Linkerd)

**Describe the solution you'd like**

check possibilities to benefit from Linkerd

Lin

[2020-12-17 09:47] hpvd commented on #5393
just raised a new detailed issue for the topic "benefiting from service mesh?":
check possibilities to benefit from Linkerd #8986

[2020-12-17 13:46] eolivelli commented on #8974
@merlimat I am working on a fix, thanks for the advice

[2020-12-17 16:02] rounak11 opened #8989 "Pulsar Admin API - allows any authenticated user to delete or make changes to any tenant/namespace/topic"
**Describe the bug**
1. Superuser is unable to produce or subscribe to the topics.
2. The delete persistent topic rest api does not seem to check originalPrincipal if the following permission grant is set
namespace level - role granted to X
topic level - no role granted or set

**To Reproduce**

We have a pulsar cluster setup based on the helm charts. Here are our configurations

Proxy.conf:
autho

[2020-12-17 16:08] dlsprague commented on #8884
HI a test was performed on a topic not using encryption and it was successful.  Adding encrpytion and it failed.  I am asking developer for code that is failing to provide.

Thank you

[2020-12-17 16:21] milos-matijasevic opened #8991 "NPE while reading entries"
**Describe the bug**
Null pointer exception while reading entries
[code]

[code]
**To Reproduce**
Pulsar go client is used, and consumer which tries to read entries.

It fails here https://github.com/apache/pulsar/blob/v2.6.1/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpReadEntry.java#L94
in line `callback.readEntriesComplete(entries, ctx);`
[code]
The pipeline was that cursor

[2020-12-17 17:27] klevy-toast commented on #8884
Hey @dlsprague! My team was seeing an identical issue when using client version 2.5.2, where sending a message would trigger that stacktrace regardless of what or how we sent it. We think that it was due to some weird transitive dependencies, where the project was using `org.apache.pulsar:pulsar-client-original:2.5.2`, but was also pulling in a transitive dependency that used `org.apache.pulsar:pu

[2020-12-17 18:23] dlsprague commented on #8884
Hi Thank you very much..  Yes, I will pass that information on and see if
it helps..   I appreciate it!

On Thu, Dec 17, 2020 at 12:27 PM Kai <notifications@github.com> wrote:

[2020-12-17 18:38] dlsprague commented on #8884
Attaching the sample failing code for further review.
[Downloads.zip](https://github.com/apache/pulsar/files/5711477/Downloads.zip)

[2020-12-17 19:36] anvinjain opened #8993 "bookkeeper shell cookie_get command fails in pulsar v2.7.0"
**Describe the bug**
When executing `bin/bookkeeper shell cookie_get`, the command fails with no such method error.
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Install pulsar locally in minikube
2. `kubectl exec -n pulsar -it "pulsar-mini-bookie-0" -- /bin/bash`
3. In the container, execute: `bin/bookkeeper shell cookie_get`
4. See error

**Expected behavior**
Should be able to ge

[2020-12-17 19:52] eolivelli commented on #8993
We are going to cut a release of BK 4.12.1 soon.
Do you mind creating an issue in BK foe the upgrade?
Sending a patch would be top!

[2020-12-17 20:21] devinbost opened #8994 "Broken link for Spark example"
On this page: https://pulsar.apache.org/docs/en/adaptors-spark/
it says, "You can find a complete example [here](https://github.com/apache/pulsar/tree/master/examples/spark/src/main/java/org/apache/spark/streaming/receiver/example/SparkStreamingPulsarReceiverExample.java). In this example, the number of messages which contain the string "Pulsar" in received messages is counted."

That link (https:

[2020-12-17 21:46] dlsprague commented on #8884
developer says snakeyaml 1.2.4 dependency is causing a twist lock.  Unfortunately he is not able to upgrade that individually or change that manually.    How are you able to upgrade the dependencies embedded in client?

![image (3)](https://user-images.githubusercontent.com/75750837/102547165-c633a200-4086-11eb-8b85-68eced333b04.png)

[2020-12-18 06:56] congbobo184 opened #8997 "Ack batch index will lose message."
**Describe the bug**
![image](https://user-images.githubusercontent.com/39078850/102581324-487d9e00-413b-11eb-9c12-977275653fb1.png)
![image](https://user-images.githubusercontent.com/39078850/102581481-a3af9080-413b-11eb-96a1-a4220872d119.png)

**Expected behavior**
lastCumulativeAck will carry the correct lastCumulativeAckSet

[2020-12-18 08:15] sijie commented on #8982
have you tried run `mvn clean install -DskipTests`? This is the command we used for release builds.

[2020-12-18 08:25] astifter opened #8999 "https://pulsar.apache.org/api/python/ Points to Very Old Version (Instead of Latest)"
https://pulsar.apache.org/api/python/ points to the first ever released Python API. This was confusing me for the longest time until I figured out that the latest API doc is actually at https://pulsar.apache.org/api/python/2.7.0-SNAPSHOT/

https://pulsar.apache.org/api/python/ should redirect to the latest version and the page itself should clearly state which version it documents.

[2020-12-18 14:18] eolivelli opened #9004 "Pulsar Schema API: provide Type information for Fields"
Currently the "Field" API reports only the field name and a field index.
Kafka Connects reports the data type as well.
This is very useful for  code that processes inbound events with general purpose code

**Describe the solution you'd like**
I would like to add a new property "type" (SchemaType.Type type) that reports the current type.

**Additional context**
Kafka Connect has this feature, also

[2020-12-18 16:06] hpvd commented on #9004
+1

[2020-12-19 07:09] xiaotongwang1 opened #9007 "How to resolve BK Error while recovering ledger"
pulsar broker version 2.7.0
bookkeeper version 4.10.0

--------------

**Pulsar Broker Error log when client producer message**

[code]

[2020-12-20 15:34] hpvd opened #9008 "[Doc] Full scale example"
**Is your enhancement request related to a problem? Please describe.**

Maybe it's already there, but I couldn't find it...

One thing would complete the documentation: a full scale example
- to learn **basics**,
- some **professional practice** and
- have fast **positive experience** -which could directly be **shared with others**.

**Describe the solution you'd like**

Requirements to fulfil thi

[2020-12-20 16:42] hpvd commented on #9008
edit point 3:

[2020-12-21 00:38] Jennifer88huang commented on #9008
@hpvd thanks for raising the issue.
@Huanli-Meng has plan to add it this week.

[2020-12-21 00:42] Jennifer88huang commented on #8999
@tuteng do you have any idea on it?

[2020-12-21 00:53] Jennifer88huang commented on #8994
@devinbost Thanks for the issue. Is this what you want? The example you mention is here https://github.com/apache/pulsar-adapters/blob/master/examples/spark/src/main/java/org/apache/spark/streaming/receiver/example/SparkStreamingPulsarReceiverExample.java

We need to fix it.

[2020-12-21 02:53] freeznet commented on #8794
currently there is no big sur vagrant box available to use [both matching big sur and virtualbox], so we should create vagrant box like `apachepulsar/osx-10.14-python-dev` for big sur first, then build and publish big sur release.

or we should look into issue #3485 to improve the build process, get rid of vagrant way.

[2020-12-21 06:55] wolfstudy opened #9011 "[Go Functions] Support schema logic in Go Functions"
Currently, Go client already supports schema function, we should do the same support in Go Function

[2020-12-21 06:56] wolfstudy opened #9012 "[Go Functions] Support External Clusters in Go Function"
Support External Clusters in Go Function

[2020-12-21 06:57] wolfstudy opened #9013 "[Go Functions] Support Exactly-once in Go Functions"
Support Exactly-once in Go Functions

[2020-12-21 06:59] tuteng commented on #8999
@astifter You are correct, we don't seem to have updated the latest version of the content, would you be interested in creatin a pr? https://github.com/apache/pulsar/tree/asf-site/content/api/python

You can add a command below this line https://github.com/apache/pulsar/blob/master/site2/tools/python-doc-gen.sh#L46 to copy the latest content:

[code]

[2020-12-21 08:20] 315157973 commented on #8884
I used the complete code you provided, and the certificate used the one used in org.apache.pulsar.client.TlsProducerConsumerTest. The unit test passed normally.

https://github.com/315157973/pulsar/blob/67eb4b81b554b94fb3b51b0a96acd50d7bacceb9/bouncy-castle/bcfips-include-test/src/test/java/org/apache/pulsar/client/TlsProducerConsumerTest.java#L147

[2020-12-21 09:47] qiangmzsx opened #9015 "set-retention is error"
# opear
[code]
list
[code]

# log
[code]

# pulsar version
2.7.0

[2020-12-21 12:57] #8582 closed

[2020-12-21 14:32] frankjkelly opened #9020 "Once a topic is terminated it can no longer be read from by a new Consumer"
**Describe the bug**
Topic termination documentation says
[code]
But once you terminate a topic, even if the retention settings allow data retention, a new consumer cannot read from it.

**To Reproduce**
Steps to reproduce the behavior:
1. Produce data to a topic
[code]
2. Terminate The topic
[code]
3. Consume from the Topic with SubcriptionInitialPosition = EARLIEST
[code]
4. Get a message indica

[2020-12-21 15:14] phijohns-tibco commented on #8978
@merlimat I've run into a couple of hiccups testing against the head. My previous builds worked with 2.7.0 and lower.

Once I get a clean build I'll submit the docker images.

[2020-12-21 15:24] oginskis commented on #5312
Does anybody have a `curl` example that POSTs the function directly using the API?

[2020-12-21 18:18] alex-rufo opened #9022 "Expose message metadata in Pulsar function Go"
When coding a Pulsar function in Golang there is no way to get the ID of the message, the key, the event time or the properties. just the payload is exposed.

**Describe the solution you'd like**
After taking a look at the implementation, I think it will be hard to add this information into the context (the same way it is done for the Python library). I would suggest injecting the whole `pulsar.Me

[2020-12-21 20:01] lhotari commented on #8445
There a blog post with an easy solution: https://www.morling.dev/blog/bytebuffer-and-the-dreaded-nosuchmethoderror/ .
This property should be defined in pom.xml:
[code]

[2020-12-21 20:25] eolivelli commented on #8445
You have to add it in a profile, because if you add only this property the build will break on jdk8 because the 'release' option is not valid with jdk8

[2020-12-22 09:25] duyhieuvo commented on #3504
Hi @merlimat. I think this behavior can be problematic. Please correct me if I don't understand it correctly. Assuming an application reads messages from Pulsar, processes and produces results back to another Pulsar topic.
If there are still some unacknowledged messages buffering on the disconnected consumer and these messages are re-sent to the failover consumer, these messages can be concurrentl

[2020-12-22 11:52] BewareMyPower commented on #8982
@sijie It looks like a bug of checkstyle plugin on Windows that Union Pay's user has met before. The checkstyle plugin has different behavior on Windows that it doesn't allow blank lines between two `import` sentences.

@yanshuchong Did you build pulsar on Windows?

[2020-12-22 12:39] saosir opened #9028 "[C++] PartitionedConsumerImpl send redeliverMessages repeatedly"
**Describe the bug**
Both `PartitionedConsumerImpl` and `ConsumerImpl` have member variable `unAckedMessageTrackerPtr_` (class UnAckedMessageTrackerEnabled), and `PartitionedConsumerImpl` is composed of `ConsumerImpl`. If the acknowledgement times out, they will send redeliverMessages repeatedly, `MultiTopicsConsumerImpl` has same problem.

see https://github.com/apache/pulsar/pull/8606#issuecomme

[2020-12-22 12:45] saosir commented on #9028
Is the member variable `unAckedMessageTrackerPtr_` in `PartitionedConsumerImpl` and `MultiTopicsConsumerImpl` redundant?

[2020-12-22 13:09] freeznet commented on #9022
`Context` already holds the message metadata in golang function. you can check the Golang part of [context docs](http://pulsar.apache.org/docs/en/next/functions-develop/#context) here.

As for your issue, the message can get from `FunctionContext.GetCurrentRecord()` (https://github.com/apache/pulsar/blob/master/pulsar-function-go/pf/context.go#L168), which will get `pulsar.Message` (https://github

[2020-12-22 13:14] freeznet commented on #8754
Golang function can be traced with issue #9012

[2020-12-22 16:17] eolivelli commented on #8923
I also see this failure in the same suite
TestBasicPresto.testSimpleSQLQueryBatched:73->testSimpleSQLQuery:140 expected:<[1]0> but was:<[2]0>

[2020-12-22 17:08] alex-rufo commented on #9022
Thanks @freeznet, I missed that!

[2020-12-22 17:08] #9022 closed

[2020-12-22 17:53] #8974 closed

[2020-12-23 00:21] Anonymitaet commented on #8694
I've removed the `doc-required` label since @Huanli-Meng has added the doc.

[2020-12-23 03:20] zymap opened #9032 "The clear backlog command is hanging"
**Describe the bug**
When using pulsar-admin to clear a backlog, the pulsar-admin is hanging.
I use the pulsar-admin to create a subscription then using the pulsar-admin
to clear the backlog, pulsar admin is hanging and the broker has NPE.

**To Reproduce**
1. Build the master code
2. Start a standalone service:
[code]
3. Create a subscription:
[code]
4. Clear the backlog:
[code]

**Expected behav

[2020-12-23 07:58] aloyszhang opened #9038 "Introduce continuous offset for pulsar"
**Is your feature request related to a problem? Please describe.**
Currently, pulsar provides <LedgerId, EntryId> to locate an Entry, and provides `BatchIndex` for the inner message of Entry.
But there is not a  continuous offset for each Message in Entry and we could not use the offset to search an Entry.

For protocol handler like KOP, the map between kakfa offset and pulsar position is implenme

[2020-12-23 08:32] balakrishna222111 opened #9040 "Connection handshake failed: org.apache.pulsar.client.api.PulsarClientException: Connection already closed"
**I had apache pulsar cluster in azure .**
Now i would like to connect to remote cluster from my local mahcine using Proxy

In `**proxy.conf`** file i set up configuration like this

### --- Broker Discovery --- ###

zookeeperServers=xx.xx.xx.xx:2181,xx.xx.xx.xx:0:2181,xx.xx.xx.xx::2181

configurationStoreServers=xx.xx.xx.xx::2181,xx.xx.xx.xx::2181,xx.xx.xx.xx:xx:2181

brokerServiceURL=pulsar://xx

[2020-12-23 09:19] yanshuchong commented on #8982
yes ，on Windows

[2020-12-23 10:36] BewareMyPower commented on #8982
It's better to build pulsar on Linux or MacOS since there're already related CI checks.

By the way, I tried to fix the build error on Windows yesterday and found the build error seems to be already fixed, i.e. I could build latest pulsar on Windows but failed with 2.7.0.

[2020-12-23 13:35] codelipenghui commented on #9040
Could you please help check if the problem only happens when the topic does not exist?

[2020-12-23 13:39] codelipenghui commented on #9032
@zymap Is this a bug that can be reproduced stably? I think this might be related to some race condition cause the dispatcher of the subscription is cleanup but the clear backlog request is onging.

[2020-12-23 13:40] codelipenghui commented on #9028
@BewareMyPower Please help take a look at this issue.

[2020-12-23 13:52] codelipenghui commented on #9015
@qiangmzsx Could you please provide reproduce steps for this issue? I have tried to start a standalone first and run pulsar-admin set-retention for a topic, it works.

Did you enable the topic policy and system topic at the broker.conf?

[2020-12-23 13:56] codelipenghui commented on #9007
Could you please try to use `bin/bookkeeper shell ledgermetadata -ledgerid 73176`? If you can get the ledger metadata you can try to use `readledger` to read data from this ledger.

[2020-12-23 13:58] codelipenghui commented on #9004
The requirement of this issue is want to get the schema of a message?

[2020-12-23 13:59] BewareMyPower commented on #9028
@codelipenghui I agree with @saosir , the point is that should Java client's implementation also have the problem? See

https://github.com/apache/pulsar/blob/c17253b3b43c36250ba106dd7a17f35f64f546e5/pulsar-client/src/main/java/org/apache/pulsar/client/impl/MultiTopicsConsumerImpl.java#L101

https://github.com/apache/pulsar/blob/c17253b3b43c36250ba106dd7a17f35f64f546e5/pulsar-client/src/main/java/o

[2020-12-23 14:00] #8999 closed

[2020-12-23 14:02] codelipenghui commented on #8993
Thanks @anvinjain @eolivelli, since we have an issue in the bookkeeper, I will close this issue first.

[2020-12-23 14:02] #8993 closed

[2020-12-23 14:03] eolivelli commented on #9004
We already have the Schema, but we only have the fieldnames and "index", without "type" information

[2020-12-23 22:44] joncashe opened #9044 "k8s offload access denied"
hello

I have a issue with the s3 tiered offload two exact configurations, using different buckets, one works and the other one doesn't i got this when i try to check the offload status after trying to trigger it manually with topics [offload](https://pulsar.apache.org/docs/en/pulsar-admin/#offload) (the one that doesnt work isnt a fresh start so it has some previous data)

[code]

I am using puls

[2020-12-24 01:01] geomagilles opened #9045 "Can not use Avro 1.10 together with pulsar-client-admin"
**Describe the bug**
When I have gradle dependencies defined as
[code]
then `AvroSchema.of(...)` triggers
[code]

**To Reproduce**

Adding `pulsar-client-admin` api dependency seems to have the curious side-effect to "unshade" avro in pulsar-client.

(when having `implementation("org.apache.pulsar:pulsar-client-admin:2.7.0")` instead of `api("org.apache.pulsar:pulsar-client-admin:2.7.0")` the same

[2020-12-24 01:05] aahmed-se commented on #9045
https://issues.apache.org/jira/browse/AVRO-2335

jodatime support has been removed in avro 1.10 we will have to default to jsr310 dates

[2020-12-24 02:13] #8902 closed

[2020-12-24 02:19] yanshuchong commented on #9007
[root@host-10-33-50-71 bin]# ./bookkeeper shell ledgermetadata -ledgerid 73176

some output

ledgerID: 73176
LedgerMetadata{formatVersion=3, ensembleSize=3, writeQuorumSize=3, ackQuorumSize=2, state=IN_RECOVERY, digestType=CRC32C, password=base64:, ensembles={0=[10.33.50.71:3181, 10.33.50.88:3181, 10.33.50.144:3181]}, customMetadata={component=base64:bWFuYWdlZC1sZWRnZXI=, pulsar/managed-ledger=bas

[2020-12-24 06:03] srijeyanthan-cerexio commented on #7625
Any update on this issue?

[2020-12-24 06:42] xuesongxs opened #9047 "Modify the processing mode of the consumer negativeacknowledge interface in the Retry Topic and DLQ"
**Is your feature request related to a problem? Please describe.**
When using the Retry Topic and DLQ, call the negativeacknowledge interface to make the message infinitely retried without writing to DLQ. Call the reconsumelater interface to enter the retry topic and write to dlq after reaching maxredelivercount.

code:
        Consumer<String> consumer = pulsarClient.newConsumer(Schema.STRING)

[2020-12-24 07:54] dockerzhang opened #9048 "add updateRates method for kop to collect publish rate"
**Is your enhancement request related to a problem? Please describe.**
kop can't collect publish rate now (https://github.com/streamnative/kop/issues/284)

**Describe the solution you'd like**
add `updateRates ` method for kop to collect publish rate, which can collect the message num and size.

[2020-12-24 10:07] #8477 closed

[2020-12-24 10:52] eolivelli commented on #3576
@david-streamlio I am doing some tests in current master (2.8.0-SNAPSHOT),
it looks like that if you pass "--classname" and an uberjar Pulsar picks up the right class.

[2020-12-24 11:33] Anonymitaet opened #9051 "[Doc] ProtobufNative Schema Support"
Add doc based on https://github.com/apache/pulsar/pull/8372

[2020-12-24 12:52] #9038 closed

[2020-12-24 16:17] david-streamlio commented on #3576
Thanks @eolivelli . We should probably document this fact, since it is not well known.

My goal was to simplify the development of Pulsar IO connectors by allowing developers to bundle multiple "versions" of the same connector that only differ by their input/output schemas. The current implementation requires a separate NAR file for each sink/source pair, which in turn requires a separate project

[2020-12-25 00:48] #9048 closed

[2020-12-25 02:44] saosir commented on #9028
@BewareMyPower ConsumerImpl will check if there is a parent when track message in Java client's implementation
https://github.com/apache/pulsar/blob/c17253b3b43c36250ba106dd7a17f35f64f546e5/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java#L1541-L1547

[2020-12-25 03:02] wangjialing218 opened #9057 "Closed ledger did not deleted after retention period when no incoming traffic"
**Describe the bug**
Closed ledger did not deleted after retention period when no incoming traffic

**To Reproduce**
1. Set retention time as 10 min for a topic.
2. Create a producer to make some messages and then stop.
3. Create a consumer to consume all the message and then stop.
4. Wait for 4 hours (default value of `managedLedgerMaxLedgerRolloverTimeMinutes`) to let ledger rollover task close

[2020-12-25 03:29] saosir commented on #9028
In addition, `UnAckedMessageTrackerEnable` did not clean up the `batchIndex` of `MessageId` when tracking the message. That will cause only the last message in the batch to be cleared from UnAckedMessageTrackerEnabled when `doAcknowledgeIndividual` and send redeliverMessages repeatedly

[2020-12-25 03:48] BewareMyPower commented on #9028
Got it. It looks like we should also check if there's a parent in C++ client.

[2020-12-25 03:52] BewareMyPower commented on #9028
Since the reason is clear, could you contribute a PR to fix it?

[2020-12-25 05:55] qiangmzsx commented on #9015
this is my broker.conf
[code]

[2020-12-25 06:06] saosir commented on #9028
OK, I will submit a PR later

[2020-12-25 07:06] arumugamtp commented on #8502
@hangc0276 => please assign the issue to me.

[2020-12-25 07:26] hpvd commented on #9008
awesome!

maybe one can use the steps and **original code snippets** shown in this doc not only for this example, but also **directly for** setting up an **automated** test checking everything works smoothly together?

If this test fail:
- there are some new incompatibilities introduced with recent code changes between the different parts used in this example or
- something has changed by intend a

[2020-12-25 08:24] codelipenghui commented on #9020
@merlimat @sijie I'm not sure how to deal with consumers at the beginning of the design, in my opinion, if the topic terminated, the broker should prevent all the producers and consumers.

[2020-12-25 08:44] wangjialing218 opened #9060 "Close current ledger when retention reached"
**Is your enhancement request related to a problem? Please describe.**
Currently task `internalTrimConsumedLedgers` will delete all closed ledgers which have reached retention except current ledger.
If the current ledger does not closed, the ledger will not deleted even retention reached.

Current ledger will be close in the follow condition:
1. entries in the ledger reaches `managedLedgerMaxEntri

[2020-12-25 09:29] #8994 closed

[2020-12-26 07:45] xiaotongwang1 opened #9066 "can i open TLS when using AuthenticationToken Auth with pulsarAdminAPI"
can not find any sample in  : http://pulsar.apache.org/docs/zh-CN/security-tls-transport/

can not find api in PulsarAdmin.builder()

[2020-12-26 09:34] yanshuchong commented on #9066
Something interesting.

1、 i register meta data with :
bin/pulsar initialize-cluster-metadata \
  --cluster pulsar-cluster-1 \
  --zookeeper 10.33.50.42:2281,10.33.50.44:2281,10.33.50.54:2281 \
  --configuration-store 10.33.50.42:2281,10.33.50.44:2281,10.33.50.54:2281 \
  --web-service-url http://10.33.50.40:8080,10.33.50.64:8080,10.33.50.97:8080 \
  --web-service-url-tls https://10.33.50.40:8443,

[2020-12-26 09:37] yanshuchong commented on #9066
![1](https://user-images.githubusercontent.com/6071261/103149058-0be81d00-47a1-11eb-94eb-d900f5a62697.png)

[2020-12-28 12:16] bry00 commented on #6477
Any info on the solving status of this issue?

[2020-12-29 01:10] #7822 closed

[2020-12-29 03:01] congbobo184 commented on #9045
@geomagilles you can set jsr310ConversionEnabled = true in schemaDefinition, then can support the jodaTime

[2020-12-29 05:57] Esakkimuthu991 opened #9075 "Pulsar Window Function invoking twice for a single message."
#### Expected Behavior Pulsar Window Function should invoke once when there is a single message sent to the function input topic

Am creating pulsar window function through JAVA Runtime. window function should invoke once when there is a message in topic.

#### But the Actual behavior Pulsar Window Function is invoking twice when there is a single message sent to the function input topic.

Am crea

[2020-12-29 06:14] Anonymitaet opened #9076 "[Client] Donate Haskell client to Pulsar"
When browsing the Pulsar website, I found that @gvolpe has developed a wonderful [Haskell client for Pulsar](https://github.com/cr-org/supernova) and draw much attention.

Since good projects are collaborations between motivated individuals, to attract more programmers to share quality code, appeal to more technical writers to develop docs, and to allow more users to use it conveniently, as sugges

[2020-12-29 06:21] Syphixs opened #9077 "Function spawned in Kubernetes should support Oauth2 Authentication"
**Is your feature request related to a problem? Please describe.**
We strictly use Oauth2 Authentication at our company. This is now supported by broker and proxy but the spawned functions/pods with KubernetesContainerFactory do not support this kind of authentication which sadly disable the whole functions part of pulsar for us.

**Describe the solution you'd like**
Support Oauth2 Authentication

[2020-12-29 06:22] Anonymitaet commented on #9076
Hi @gvolpe, @zymap donated the `pulsarctl` project to Pulsar before, he advised that you can send an email to `dev@pulsar.apache.org` to show you want to donate this project, then PMC will help proceed. Looking forward to getting your email.

[2020-12-29 07:29] zymap commented on #9032
Yes. It is a bug and it can be reproduced every time.

[2020-12-29 08:45] xiaotongwang1 opened #9078 "pulsar stat : how to get consumer total lag ?"
I use getPartitionedStats API to check consumer total lag but the stat of msgBacklog size in subscriptions not eqaul to total lag !!!!!

[2020-12-29 09:08] #8887 closed

[2020-12-29 09:28] zymap opened #9080 "Fix the remaining bugs in the pulsar-common module"
**Motivation**

#9016 introduce the spotbugs check for the pulsar-common module. It will need to change a lot of files in different modules. This issue is for tracking the remaining fixes. We need to remove the bugs in the exclude file as possible as we can.

[2020-12-29 09:42] gvolpe commented on #9076
Email sent :+1:

[2020-12-29 09:43] zymap opened #9081 "Package management improvement"
**Motivation**

Currently, we are not doing the validation when uploading a package. We need to validate the uploaded packages so we can use the packages directly when creating a function.
Then we can disable the validation in Pulsar Functions when the function is using a package name.

[2020-12-29 13:28] eolivelli opened #9082 "Broker expires messages one at a time after topic unload"
**Describe the bug**
When the message expiry check wakes up (every 5 minutes by default) it only expires a single message even if many (or all) messages in a subscription are past their expiry time. This means that expired messages remain in the subscription and can be delivered to consumers long past their expiry time.

**To Reproduce**
Commands to reproduce the issue with pulsar standalone:
[cod

[2020-12-29 22:08] addisonj opened #9084 "Improve handling of S3 offloading configuration in other regions"
**Is your enhancement request related to a problem? Please describe.**
Currently, when using S3 offloading in a region other than us-east-1, the underlying jclouds library does some non-standard AWS things which require both:

A) the policy Pulsar is running as to have `GetBucketLocation` permissions and
B) to change the endpoint to use a region specific endpoint

This causes confusion which is no

[2020-12-29 22:09] joncashe opened #9085 "AWS IAM: Support for AWS EKS ServiceAccount roles"
Hello

After following the steps in the aws guide https://docs.aws.amazon.com/eks/latest/userguide/iam-roles-for-service-accounts-technical-overview.html which implies set the accountservice annotation update the iam role and also set the the s3 offload configuration variables for the pulsar broker

[code]

im still getting an error trying to pull the role from the broker

[code]

im using pulsar

[2020-12-29 22:10] addisonj commented on #3833
I opened a new issue https://github.com/apache/pulsar/issues/9084, to help improve this within core Pulsar.

I agree that there can be improvements made to make this more straight forward! Some of the logging issues would also be a good improvement but it may take us understanding jcloud internals a bit more, as the error is seen essentially in part of initializing jcloud, so it may be difficult t

[2020-12-30 01:45] sixhj opened #9086 "no python client for Mac 11.1 pulsar 2.7"
no python client for Mac 11.1  pulsar 2.7

[2020-12-30 03:19] Anonymitaet commented on #9076
Hi @gvolpe, we do not get your email, could you please check?

[2020-12-30 03:38] aloyszhang opened #9087 "kop meet ConcurrentModificationException"
**Describe the bug**
If pulsar enable protocol handler kop and broker entry metadata, when start broker my meet exception,
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. enable kop for pulsar broker
2. enable broker entey metadata for pulsar borker
3. start broker and may see this error

[2020-12-30 06:18] kyrozetera opened #9089 "Pulsar not respecting isSchemaValidationEnforced=false on startup"
**Describe the bug**
Pulsar is not respecting the `isSchemaValidationEnforced=false` or `isAllowAutoUpdateSchema=true` in the broker.conf on startup. Though validation appears to be disabled when checking the value through the API, it still does the validation and fails on conflicting schemas if the schema has been updated. When manually disabling the validation through the API, then it begins to

[2020-12-30 06:25] aloyszhang opened #9090 "BKIncorrectParameterException in ManagedLedgerInterceptorImpl"
**Describe the bug**
ManagedLedgerInterceptorImpl throws  `BKException$BKIncorrectParameterException`
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. enable broker entry metadat and kop
2. start broker
3. send message to broker

[2020-12-30 08:00] lichuan6 opened #9092 "Function worker service is not done initializing"
**Describe the bug**

I have a pulsar cluster deployed in EKS. I was trying to run `functions` or `sinks` sub commands, but I got annoying errors.

The commands and errors are:

`functions list`
[code]

`sinks list`
[code]
error:
[code]

[2020-12-30 09:53] gvolpe commented on #9076
I sent the email and got a reply "Returned post for dev@pulsar.apache.org", not sure what means exactly. Can you make sure my email hello@gvolpe.com is whitelisted?

[2020-12-30 09:55] eolivelli commented on #9076
You have to subscribe,  check on https://pulsar.apache.org for the instructions

[2020-12-30 10:03] BewareMyPower commented on #8963
Yeah, the docs of https://pulsar.apache.org/docs/en/security-tls-transport/#broker-configuration is old and will be updated soon.

The issue is with your TLS broker conf, you can see https://github.com/apache/pulsar/blob/459ba1ffd12d1aa20cbaea680cf396550314fd3c/pulsar-broker/src/test/java/org/apache/pulsar/client/api/TlsProducerConsumerBase.java#L62-L74 for the sample config.

[code]

And `tlsEnab

[2020-12-30 10:16] Anonymitaet commented on #9076
@eolivelli thanks for your instruction.

@gvolpe we've received your email.

[2020-12-30 11:12] Jennifer88huang commented on #8963
@evfurman and @Chickenzilla Thanks for raising the issue. We should write it more clear in the doc.
- Just as @BewareMyPower said, `tlsEnabled` is deprecated, you can use  `webServicePortTls` and `brokerServicePortTls` instead, see [configuration reference: tlsEnabled](https://pulsar.apache.org/docs/en/reference-configuration/).
- To solve your current issue, I've add the `tlsRequireTrustedClientC

[2020-12-30 13:27] geomagilles commented on #9045
You may think so according to the code - but actually it does not help. I'm not sure why

[2020-12-30 20:38] lmccay commented on #8989
Please excuse my newb question here but I see the admin API for deleting a topic to be documented as:
DELETE /admin/v2/:schema/:tenant/:namespace/:topic

Is the reported URL here the result of a function that is being rewritten to the appropriate URL via proxy, is it just reported incorrectly, is it an API version variant?
What am I missing?

[2020-12-31 00:38] codelipenghui commented on #8975
@eolivelli thanks, we will check and fix it.

[2020-12-31 02:49] JueShanCoder opened #9098 "Pulsar function startup specifies --jar mode is http:// and file:/// , Found an error"
**Pulsar Version**
2.6.1

**Describe the bug**
When I tried to start the pulsar function using localrun, I found that I specified --jar as http://xxx.com/xxx.jar and file:///pulsar/connectors/functions/xxx.jar  in the startup script, and then I found an error ,

**To Reproduce**
Steps to reproduce the behavior:
1. Function start up script : --jar http://xxx.com/xxx.jar or file:///pulsar/connectors

[2020-12-31 03:37] jiazhai opened #9099 "Introduce Pulsar Auditor"
## Background / Description

Currently, Bookie Recovery only audits ledgers. It doesn't understand any Pulsar concepts. From the viewpoint of a Pulsar maintainer, it is crucial to identify which namespaces/topics are impacted or continue to remain under-replicated so that we can surface these metrics to owners of these namespaces. Also, it would help in tracking which topics have become healthy/re

[2020-12-31 04:22] Anonymitaet commented on #9051
Done in https://github.com/apache/pulsar/pull/9079.

[2020-12-31 04:22] #9051 closed

[2020-12-31 08:27] freeznet commented on #9092
Can you provide more details about how you deploy your cluster? Also when you execute `functions ls` command, can you see any log from broker pod?

[2020-12-31 10:16] tuteng opened #9101 "Get function info error"
**Describe the bug**

curl http://localhost:8080/admin/v3/functions/public/default/function-name
[code]
**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Deskto

[2020-12-31 13:23] bry00 commented on #9086
Python-client 2.7 cannot be installed (using pip) on MacOS 11.1 (Big Sur) regardless of the Python version (verified for 3.7.9, 3.8.6 and 3.9.0).
The last instalable version of the pulsar-client package is 2.6.1.
Please, provide support for both Python 3.8 and 3.9 environments.

[2020-12-31 14:01] YashwanthKumarJ opened #9103 "Apache Pulsar Servicemix bundle is failing to initialize CompressionCodecProvider"
**Describe the bug**
I recently started exploring on Apache Pulsar servicemix bundle. When included in the feature repository in Karaf and using the service to create topic, push message and delete topic is resulting in an Exception.

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Feature file repo where the pulsar servicemix bundle defined is as below
[code]

2. Create a maven proje

[2021-01-01 03:38] codelipenghui commented on #8975
@eolivelli Can this problem be reproduced stably? I have tried the following steps:

1. Build branch-2.6
2. Start a standalone
3. Start a perf producer and create a subscription
4. After a while, stop the producer and check the topic stats, there are more than 5000 backlogs for the subscription
[code]

And then I set the TTL for the namespace `bin/pulsar-admin namespaces set-message-ttl -ttl 30 pu

[2021-01-01 06:48] eolivelli commented on #8975
Sorry for late reply
I poster the fix some day ago without linking it to this issue
#9083
Here you can find a test case that reproduces the problem

[2021-01-01 06:49] eolivelli commented on #8975
The patch does not apply cleanly to branch-2.6
I can send a back port.

Probably it is not a regression, that code has not been changed recently.
Btw it is a bad issue for customers

[2021-01-01 08:14] #8737 closed

[2021-01-01 12:21] tongsucn opened #9105 "C++ client compilation issue: virtual function and accessible non-virtual destructor"
**Describe the bug**

When compiling with GCC 7.3 (`-std=c++17`)，compiler complains following error:

[code]

**To Fix**

Add `virtual ~Consumer() = default;` in `Consumer.h`.

[2021-01-03 04:36] codelipenghui commented on #8975
@eolivelli I see, I am preparing the 2.6.3 release. So if it's not a regression in branch-2.6, can I move this issue to `2.7.1`?

[2021-01-03 07:34] eolivelli commented on #8975
Yes. Only 2.7.1 is fine to me. Thanks

[2021-01-03 11:58] Shawyeok opened #9109 "pulsar-timer thread blocked at redeliverUnacknowledgedMessages"
**Describe the bug**
After broker crash and restart, consumers got blocked, consumer rateOut decrease to 0, can't auto recover without restart consumer process.

**To Reproduce**
Steps to reproduce the behavior:
1. Run reproduce code below
[code]
2. Send 1000 messages to topic `persistent://sample/ns1/topic1`
3. Wait about 10-15s(time to redeliver), kill and restart broker process
4. Look into the

[2021-01-03 17:11] z2665 opened #9110 "cpp client docker test not work"
Clone this project and run
[code]
then get a error
[code]
I run a bash to  apachepulsar/pulsar-build:ubuntu-16.04, and I don't find apache-pulsar*bin.tar.gz in the /pulsar folder

[2021-01-03 20:00] hpvd opened #9111 "check/update Process and it's Doc: Deploying a Pulsar cluster on AWS"
**Is your enhancement request related to a problem? Please describe.**

Deploying a Pulsar cluster on AWS
documented at https://pulsar.apache.org/docs/en/deploy-aws/
contains old/not up-to-date versions of
- Software e.g. AMI with Red Hat Enterprise Linux (RHEL) 7.4. (release 07/2017)
- hardware (choice of instances: performance ok for latest pulsar version/features? Performance for money (cost of

[2021-01-04 03:59] zymap commented on #9110
@z2665 Have you run the `mvn clean install -DskipTests` before running the cpp tests?

[2021-01-04 06:40] z2665 commented on #9110
@zymap tks,  I'm not run  this . beacause I'm not found any information about this step in the cpp client readme page. I'ill have a try.

[2021-01-04 06:40] #9110 closed

[2021-01-04 08:29] lichuan6 commented on #9092
After changing the token generated from pulsar UI to the one in `broker.conf`, I can call `functions list` successfully.

Then I tried to create a sink using `sinks create`, however, I got this error when trying to stats the sink.

In toolset pod:

[code]

[2021-01-04 09:47] xiaotongwang1 opened #9114 "org.apache.bookkeeper.client.LedgerHandle - ReadException on ledgerId"
so many error log in pulsar broker log ,when i test message producer and consumer ,but i still can send and receive message

17:39:00.847 [pulsar-io-26-11] ERROR org.apache.bookkeeper.client.LedgerHandle - ReadException on ledgerId:24 firstEntry:139 lastEntry:139
17:39:02.150 [pulsar-io-26-11] ERROR org.apache.bookkeeper.client.LedgerHandle - ReadException on ledgerId:24 firstEntry:140 lastEntry:1

[2021-01-04 11:32] wolfstudy commented on #9092
This is because your terminal cannot connect to the ip address in the pod. You can use ping or telnet to verify. Under normal circumstances, this network connection is not working. You can consider the following solutions:

- If it is a test environment, you can use kubectl exec -it <your pod name>, enter the pod, and then execute the above command.
- If it is a production environment, you can con

[2021-01-04 14:13] frankjkelly commented on #9020
Hi @codelipenghui @merlimat @sijie any thoughts or updates on this? Thanks in advance.

[2021-01-04 17:26] #9090 closed

[2021-01-04 17:27] #9087 closed

[2021-01-04 19:44] #8963 closed

[2021-01-04 20:36] sijie commented on #9105
This is fixed by #9106

[2021-01-04 20:36] #9105 closed

[2021-01-04 22:07] dlsprague commented on #8884
We turned off encryption on the topics namespace and connecting and producing was then successful.   so problem with the upgrade specific to encryption in our case.

[2021-01-05 00:02] zymap opened #9122 "Package management auth improve"
**Motivation**

Currently, if the pulsar service enables the authentication and authorization, only the tenant admin can access the package management service. So we need more detailed permissions for the package management operations. Such as a user can be granted the 'read' permission that he can download and get the metadata but he can't do the upload or deletions. I will check the permissions

[2021-01-05 01:01] flowchartsman opened #9123 "[Go Functions] publishfunc example is broken"
**Describe the bug**
If you attempt to run the [publishfunc example](https://github.com/apache/pulsar/blob/master/pulsar-function-go/examples/publishFunc/publishFunc.go) (dispatching to alternate topics), your function will panic.

building/creating:

[code]

pulsar log:

[code]

**To Reproduce**
Compile the example exactly as it appears.

**Expected behavior**
"publish-topic" topic appears contai

[2021-01-05 01:27] flowchartsman commented on #9123
This corresponds to the line in `pf/instance.go`:

[code]

In my testing, it is `ProducerSpec` which is `nil`

[2021-01-05 02:01] flowchartsman commented on #9123
@wolfstudy @sijie I believe it was just an issue of a missing nil check for non-sink functions, since the purpose of the code in the first place seems to check for a configured `BatchBuilder` and then setting the new Producer's batch builder to use it. That said, now that I look at it more closely, I'm relatively concerned with the number of log messages indicating a new producer server-side for e

[2021-01-05 03:21] congbobo184 commented on #9045
@geomagilles Pulsar admin dependency avro-protobuf, it version is 1.9.1. AVRO 1.9.1 is conflict for 1.10.0, can you upgrade avro version from 1.10.0 to 1.9.1 :)

[2021-01-05 06:46] dockerzhang opened #9126 "should not have --url required restriction for adding cluster if TLS is enabled"
**Describe the bug**
there is `--url` required restriction for adding cluster if TLS is enabled, here we only need the ` --url-secure/--broker-url-secure` params

**To Reproduce**
Steps to reproduce the behavior:
1. config TLS geo-replication refer to https://gist.github.com/sijie/79364497eaa349bf58d9fb760561f930

**Expected behavior**
should not have `--url` required restriction for adding cluste

[2021-01-05 07:55] xiaotongwang1 opened #9128 "admin-api-brokers list failed"
[dmq@host-10-33-50-221 bin]$ ./pulsar-admin --auth-plugin org.apache.pulsar.client.impl.auth.AuthenticationToken --auth-params token:CgB6e3x9PKWk714cEg4v8UPagxPZX7mCycV5OsUQle5SHOMO6yAXFeTd2Bjayy0Vj7Vxvj7/bbYr2r4lt+CUUrME brokers list pulsar-cluster-2
Failed to validate Cluster configuration : cluster=pulsar-cluster-2  emsg=For input string: "8080,10.33.50.220:8080,10.33.50.221:8080"

Reason: Fail

[2021-01-05 08:35] #9101 closed

[2021-01-05 10:25] eolivelli opened #9130 "Pulsar-admin sinks create: bad error message "java.lang.NullPointerException: path is 'null'." in case of missing "--name" parameter"
**Describe the bug**
If you try to create a "sink" without setting a name you get this error, that is not very user friendly
java.lang.NullPointerException: path is 'null'.

**To Reproduce**
[code]

**Expected behavior**
A better error message

[2021-01-05 16:58] zbentley opened #9132 "Docs page for broker settings is misformatted; table is broken"
**Describe the bug**

The configuration reference for broker settings at https://pulsar.apache.org/docs/ja/2.1.0-incubating/reference-configuration/ has a formatting issue which breaks the table for the broker settings.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to https://pulsar.apache.org/docs/ja/2.1.0-incubating/reference-configuration/
2. Scroll down to managedLedgerMaxEntriesPer

[2021-01-05 22:05] geomagilles commented on #9045
I'm using Avro4k lib whose depends on Avro 1.10. Moreover, I'm writing a lib - currently this bug implied that lib users have to explicitly force AVRO 1.9.1. it's possible but really inconvenient.

[2021-01-06 03:40] yeouchien commented on #8502
FYI there's a PR for this issue: https://github.com/apache/pulsar/pull/9036

[2021-01-06 06:14] innerNULL opened #9135 "Is there any document about how to consume batch-message with python?"

[2021-01-06 08:08] Esakkimuthu991 opened #9137 "Creating Pulsar Window Function with max message retries"
**Describe the bug**
Am creating a pulsar window function with max message retry property using java runtime the expectation is to not allow to create window function. but it is creating the function.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a window function with max message retry property
2. window function created

**Expected behavior**
Window function should handle exceptio

[2021-01-06 08:47] wolfstudy opened #9138 "[2.7.0] Pulsar 2.7.0 starts with exception output"
**Describe the bug**
When I download the 2.7.0 jar package and start the standalone service locally, there will be the following exception output, but it will not affect the normal use (maybe I have not used the place that will trigger the bug).

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. download 2.7.0 jar pkg
2. bin/pulsar standalone -a 127.0.0.1

**Screenshots**

![image](http

[2021-01-06 10:03] mmussett opened #9139 "Go Function panics due to config file is nil"
**Describe the bug**
A clear and concise description of what the bug is.
Go function panics due to config file not being found.

github.com/apache/pulsar/pulsar-function-go/pf.newInstanceConf(0x74ee0)
	/home/mmussett/go/pkg/mod/github.com/apache/pulsar/pulsar-function-go@v0.0.0-20210106064818-984bf837489b/pf/instanceConf.go:49 +0x656
github.com/apache/pulsar/pulsar-function-go/pf.NewFuncContext(0x

[2021-01-06 10:10] WalterMa commented on #5843
Hi, all
Any update or conclusion on this issue?
In my opinion, this's a really confused issue, especially for anyone who want to change bookie & broker jvm opts separately.

[2021-01-06 10:57] #9028 closed

[2021-01-06 12:32] eolivelli commented on #9138
If you run
bin/bookkeeper shell listbookies -a

Which is the BookieId? 127.0.0.1 or localhost? Or any other name?
The log refers to the absence of a bookie with I'd 127.0.0.1

Since Pulsar 2.7.0 the BK client is more picky about the name of the bookie

[2021-01-06 15:16] freeznet commented on #9139
If you are using Pulsar 2.7.0, then this issue is duplicated with #8757, and already fixed by #8780.

[2021-01-06 16:18] dlsprague commented on #8884
Can I please request a call concerning this issue?  Just to review, our broker is on 2.6.0, user is attempting to use 2.6.2 to alleviate some security vulnerabilities but with encryption turned on he gets Null pointer exception. Works ok with encryption off.  Looks like same code has been tested above and was successful.  Unsure what we need to do to resolve on our end.    Thank you so much!

[2021-01-06 16:41] 315157973 commented on #8884
Tried 2.6.2, 2.6.0, and 2.7.0.  I will add 2.6.x unit tests to my code repository.  It is possible that the encrypted package of the client conflicts with the encrypted package in your business code.  You can try to use the shade version of the client.

[2021-01-06 16:50] klevy-toast opened #9141 "Message redelivery delay with exponential back-off"
**Is your feature request related to a problem? Please describe.**
I would like to leverage re-deliveries with exponential back-off when my consumer nacks a message. Retries with exponential back-off is often preferred over simple retries when encountering transient errors to give an immediate chance at succeeding on a retry, but to avoid overwhelming a service if it is failing a lot of messages.

[2021-01-06 20:08] dlsprague commented on #8884
thank you.   Update to the issue:
It is now successful using a different dependency which is bouncy castle and the connection is working with encryption enabled.  However, there are black duck security vulnerabilities being reported.

Using 2.6.2 client Bouncy castle jar file, an inner jar of pulsar client  has some internal transitive dependencies with 1.6.0 version  of bouncy castle which is cau

[2021-01-06 22:41] dlsprague opened #9142 "ManagedLedgerException using readers"
If user needs to stop or some error stops the service and its not noticed for a while on restart the reader might get these  errors.
 This error is only recoverable when waiting for a couple of hours and then starting the reader again.

Getting the following errors every so often when restarting reader code:g

Received error from server: **Failed to get batch size for entry** org.apache.bookkeeper

[2021-01-07 01:14] #8813 closed

[2021-01-07 02:07] sijie commented on #8884
@dlsprague Can you create a separate Github issue for the vulnerability issue?

[2021-01-07 03:38] codelipenghui opened #9143 "Support dispatch rate policy at the topic level"
The dispatch rate police is supported at the namespace level:

[code]
But does not support at the topic level since we supported topic level policy at 2.7.0

So it's better to also support configure at the topic level such as:

[code]

[2021-01-07 03:42] 315157973 commented on #9143
I will work on it

[2021-01-07 04:24] arumugamtp commented on #8502
Hi @yeouchien  => I reviewed the code changes of #9036, and looks good to me. Please assign this issue to code author. I will pick up another issue to work on. Thank you.

[2021-01-07 09:22] GitForLipeng opened #9144 "启动 broker集群报错，无法连接zookeeper集群，其他客户端可以联系该zk集群"
**Describe the bug**
根据官方文档步骤部署pulsar集群 ， 使用已有zookeeper集群，
启动broker集群时报错

**To Reproduce**
Steps to reproduce the behavior:
1：初始化元数据-正常
2：bookkeeper集群启动/测试正常
3：启动broker集群--报错
错误信息如图

![image](https://user-images.githubusercontent.com/42997744/103874979-cb779000-510c-11eb-8a51-000a3008439b.png)

**Expected behavior**

**Screenshots**
If applicable, add screenshots to help explain your problem.

**D

[2021-01-07 12:50] GitForLipeng commented on #9144
补充一下具体的报错信息

20:21:01.364 [main-SendThread(10.21.171.58:2183)] WARN  org.apache.zookeeper.ClientCnxn - Client session timed out, have not heard from server in 20018ms for sessionid 0x0
20:21:01.466 [main] INFO  org.apache.zookeeper.ZooKeeper - Session: 0x0 closed
20:21:01.466 [main-EventThread] INFO  org.apache.zookeeper.ClientCnxn - EventThread shut down for session: 0x0
20:21:01.466 [main] ERROR

[2021-01-07 13:13] 315157973 opened #9146 "Some namespace-level policies return incorrect default value"
**Describe the bug**
Now when the namespace policy is empty, various results are returned, with the following results:
1) return broker-level policy
2) return 0
3) return -1
4) return null
5) throws Exception

Among them, case 1 and case 2 will cause some bugs:
Case 1: The default value returned is wrong when the user does not set any value
Case 2: 0 has a meaning of disabled, so when 0 is returne

[2021-01-07 16:49] BewareMyPower commented on #9144
It's better to give your detail steps to reproduce. Also for simple, you can try to deploy a single node cluster first, i.e. a ZK cluster with one node, a BK cluster with only one node and a Pulsar cluster with one node.

Here is my script to deploy a single node cluster in localhost (see the script's comments for config changes): https://gist.github.com/BewareMyPower/b7cc6a2030d54bdea5c48a66121b3

[2021-01-07 17:44] #9082 closed

[2021-01-07 17:47] #7195 closed

[2021-01-07 18:20] sijie commented on #9044
From @joncashe :

so after testing a little bit more im not sure why its happening but it seems i was using in my first config a s3 bucket and then i changed to a new one replacing the value in the s3ManagedLedgerOffloadBucket, but it seems the ledger its still trying to offload to the previous bucket the way i found this was when i give it full access to the s3 so this time i didnt get the access

[2021-01-07 18:24] sijie commented on #9044
@joncashe - Did you set the offload policies in the namespace policy? One of the possibilities is that you set the namespace policy. Otherwise, I don't expect the bucket is persisted somewhere else.

[2021-01-07 19:49] joncashe commented on #9044
@sijie thanks you were right although i replace the parameter it was still using the old bucket in the offload namespace policy

i was able to replace it through the pulsar-admin cli tool

do you know exactly in which file this change its applied?

i guess we can say its solved

thanks

[2021-01-07 19:57] sijie commented on #9044
The namespace policy is stored in zookeeper.

[2021-01-07 20:38] sijie commented on #9044
@joncashe I am closing this issue for now. If you have any other questions, feel free to reopen it or create a new one.

[2021-01-07 20:38] #9044 closed

[2021-01-08 04:59] #8610 closed

[2021-01-08 05:13] sijie commented on #9020
@frankjkelly Does the subscription already exist?

[2021-01-08 05:13] michaeljmarshall commented on #9020
I think there might be additional nuance to this situation, specifically regarding subscriptions and consumers. In @frankjkelly's example, the subscription is created after the topic is deleted. I'm pretty sure an existing subscription would allow for a consumer to connect to it because the subscription owns the cursor, which would already be set. I wasn't able to test out this theory, but if it i

[2021-01-08 05:21] sijie commented on #9020
@frankjkelly

I have already tested our commands. I can't reproduce your behavior. I think you already have a subscription and the subscription already reach to end of the topic. When you try to consume from that, you will reach EndOfTopic because the subscription is already catchup and no messages to consume. You can reset the subscription to Earliest using `pulsar-admin reset-cursor`.

[code]

[2021-01-08 05:52] sijie commented on #9086
@bry00 we will take a look at this issue.

[2021-01-08 06:42] sijie commented on #9141
@klevy-toast did you checkout https://pulsar.apache.org/docs/en/concepts-messaging/#retry-letter-topic?

https://github.com/apache/pulsar/wiki/PIP-58-%3A-Support-Consumers--Set-Custom-Retry-Delay

[2021-01-08 06:43] sijie commented on #9139
Closed it since it is duplicated of #8757 and fixed by #8780.

[2021-01-08 06:43] #9139 closed

[2021-01-08 06:45] sijie commented on #9135
Do you mean the batchReceive interface?

[2021-01-08 06:46] sijie commented on #9137
@Esakkimuthu991 Thank you for reporting this issue!

[2021-01-08 06:51] sijie commented on #9128
@xiaotongwang1 How did you set cluster `pulsar-cluster-2`? Can you run `pulsar-admin clusters get pulsar-cluster-2`?

[2021-01-08 06:56] sijie commented on #9114
@xiaotongwang1 It sounds like the errors are retried already.

[2021-01-08 08:34] #9123 closed

[2021-01-08 09:51] andrekramer1 opened #9150 "pulsar_env.sh regression - can't be used with apply-config-from-env.py"
The kubernetes templates use:

apply-config-from-env.py conf/pulsar_env.sh

to convert PULSAR_ configuration into environment variables using:

Recently pulsar_env.sh was modified to contain an if statement:

# Garbage collection log.
IS_JAVA_8=`java -version 2>&1 |grep version|grep '"1\.8'`
# java version has space, use [[ -n $PARAM ]] to judge if variable exists
if [[ -n $IS_JAVA_8 ]]; then
  PU

[2021-01-08 13:49] dlsprague opened #9151 "Security vulnerability in 2.6.2 and 2.7.0 Client"
Using 2.6.2 client Bouncy castle jar file, an inner jar of pulsar client has some internal transitive dependencies with 1.6.0 version of bouncy castle which is causing the HIGH vulnerabilities.

Using 2.7.0 High vulnerability is removed but it has 1 CRITICAL vulnerability with the new transitive dependency jar (bcprov-ext-jdk15on-1.66.jar

![image262_1](https://user-images.githubusercontent.com/75

[2021-01-08 13:50] dlsprague commented on #8884
Opened issue #9151 for security vulnerabilities.

[2021-01-08 13:50] #8884 closed

[2021-01-08 16:32] eolivelli commented on #8123
I see this line
`advertisedAddress=broker1.pulsar,broker2.pulsar,broker3.pulsar`
what is it supposed to do ?

if you put that line the bookie will advertise itself with such name.
you should put a different value in each bookie

[2021-01-08 17:06] klevy-toast commented on #9141
Thanks @sijie -- I had not seen the retry-letter-topic. I am having a little trouble picture how it could be utilized for exponential back-off -- would I want to configure the consumer to have a single immediate, retry, and then the retry topic to have a higher delay? How would that delay be configured?

The PIP-58 proposal looks more similar to what I am imagining, without the use of additional t

[2021-01-08 17:14] lsroudi commented on #8123
Hello,
thank you @eolivelli for updating this topic, i still have the issue, the line i found it when i tried to solve the issue, what do you suggest ? delete it ?

[2021-01-08 17:35] #9126 closed

[2021-01-08 19:31] vlsi opened #9154 "Please reduce GitHub Actions matrix or improve the build time"
GitHub Actions queue is very high for Apache projects, and it looks like a significant number of executors are occupied by Pulsar jobs :-(

Note: all Apache projects share the same limit of shared GitHub Actions runners, and based on the chart below Pulsar is consuming 30+ runners while the total limit (for all ASF projects) is 180.

See https://lists.apache.org/thread.html/r5303eec41cc1dfc51c15db

[2021-01-08 20:21] sijie commented on #9154
@vlsi will work on this.

@codelipenghui @zymap Can you work on adding cancel-previous-run action back to our Github Actions?

[2021-01-08 20:28] vlsi commented on #9154
Just in case, there's update from Jarek:

In any case, it would be nice if you could reduce Actions workload ;-)

[2021-01-08 20:32] vlsi commented on #9154
I see you've removed https://github.com/apache/pulsar/pull/9069 `styfle/cancel-workflow-action` recently.

However, there's a workaround to use third-party actions (provided you have reviewed them):
https://github.com/apache/calcite/pull/2318/files

The idea is that you clone the action via SHA identifier, so the action can't silently change after your review.

An alternative option is to raise IN

[2021-01-08 20:39] sijie commented on #9154
@vlsi Thank you for your feedback. I will let @codelipenghui @zymap take the actions from here.

[2021-01-08 21:07] phijohns-tibco opened #9155 "C Client CMakeLists.txt incorrectly sets the OPENSSL_ROOT_DIR"
**Describe the bug**
When attempting to build the c client library on macos with an updated openssl the build fail because it doesn't link to the proper openssl library.

**To Reproduce**
Build the c client on apple with openssl 1.1.1i

        set(OPENSSL_INCLUDE_DIR /usr/local/opt/openssl/include/)
        set(OPENSSL_ROOT_DIR /usr/local/opt/openssl/)
endif ()
set(OPENSSL_ROOT_DIR /usr/lib64/)

[2021-01-09 01:11] codelipenghui opened #9156 "Avoid enable DLQ on Key_Shared subscription"
**Is your enhancement request related to a problem? Please describe.**
In Pulsar, DLQ only supports non-ordered subscriptions, But now the Key_Shared subscription also allowed enable DLQ.

**Describe the solution you'd like**
Avoid enable DLQ on the Key_Shared subscription

[2021-01-09 03:39] codelipenghui commented on #9154
Thanks, we will start as soon as possible.

Sijie Guo <notifications@github.com>于2021年1月9日 周六04:39写道：

[2021-01-09 21:12] phijohns-tibco commented on #8978
@merlimat Hello I've figured out my roadblocks with this work. A bit of warning I seem to have kicked up an issue on Docker for mac in which I believe the parsing of the Dockerfile is actually incorrect. I can't prove it but I've see the result on multiple mac machines. I don't see this issue on linux, the docker images are built correctly.

How would you like to proceed?

[2021-01-10 07:11] #9057 closed

[2021-01-10 07:19] MarvinCai opened #9162 "DLQProducer's creation condition check is incorrect"
When we check if we need to create producer for DLQ, we used double-checked locking, https://github.com/apache/pulsar/blame/master/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerImpl.java#L701-L712
however we should do the second check after we acquired the lock, and the field we're checking should be a volatile field.

[2021-01-10 13:39] Jennifer88huang commented on #9132
@zbentley Thanks for raising the issue. I've fixed in #9158, please check.

[2021-01-10 14:16] Jennifer88huang commented on #8899
@kemburi sorry for my late reply. You can set topic-level retention using `bin/pulsar-admin topics`.
For details, refer to https://github.com/apache/pulsar/pull/9161

From Pulsar 2.7.0, the namespace level policies are available on topic level. To enable topic level policy in Pulsar, you need to configure the following parameters in the `broker.conf` file.

[code]

I've added this configuration in

[2021-01-10 23:30] flowchartsman commented on #5417
I'm also seeing this issue on a cluster built around the `pulsar-all` image with docker. If I inspect the request with a proxy, `pulsarctl` and `pulsar-admin` both make two requests in the background:

`/admin/v2/persistent/<tenant>/<namespace>`
`admin/v2/non-persistent/<tenant>/<namespace>`

The request to the persistent route returns a code 200 and a list of topics immediately. The request to th

[2021-01-11 02:34] innerNULL commented on #9135
@sijie Thank you for reply, this sounds what I want, thank you

[2021-01-11 03:04] innerNULL commented on #9135
@sijie One more question, if `batchReceive` only suported in java sdk? Since I found nothing related to this interface in c++/python sdk src codes.

[2021-01-11 03:13] sijie commented on #9135
@innerNULL Yes. It is only supported in Java SDK.

What is your requirement? All Pulsar clients fetch messages in batches in the background anyway.

[2021-01-11 03:17] innerNULL commented on #9135
@sijie hi, I'm seeking a interface which can receiving messages in queue using batch as a unit, for now I'm doing this by adding handling logic in my consumer client

[2021-01-11 03:49] YashwanthKumarJ commented on #9103
Apparently, it was found that there were missing dependency in servicemix bundle. This has been addressed as part of
http://servicemix.396122.n5.nabble.com/GitHub-servicemix-bundles-andrekramer1-opened-a-new-pull-request-151-pulsar-client-add-io-airlift-cot-tp5725896.html
The change is made in 2.7.0 and has been tested to be working fine. We can close this ticket now.

[2021-01-11 03:49] #9103 closed

[2021-01-11 04:57] Shoothzj opened #9168 "What's the batch Delay default value"
![image](https://user-images.githubusercontent.com/12933197/104148191-3fb37b80-540c-11eb-817d-03ae94602ebf.png)
In this annotation, the default value is 10 ms.
But in this code, the default value is 1.
![image](https://user-images.githubusercontent.com/12933197/104148219-6376c180-540c-11eb-9b5b-da5367b9e5d8.png)

Which value is recommended? It seems scheduly task execs per 1 ms easily cause the ap

[2021-01-11 06:29] Anonymitaet commented on #7714
Hi @tuteng,
1. How can we update [Pulsar C++ client API doc](http://pulsar.apache.org/api/cpp/index.html)?
2. Does Pulsar C++ client API doc generate from code automatically (like REST API doc or puslar-admin doc)?

[2021-01-11 06:35] kemburi commented on #8899
thank you, you might close this issue.

[2021-01-11 07:08] Jennifer88huang commented on #8899
@kemburi thanks for your feedback. We'll close this issue when those two PRs are merged.

[2021-01-11 07:21] #8899 closed

[2021-01-11 07:51] sijie commented on #9168
1 ms. The comment needs to be updated.

[2021-01-11 08:52] #8935 closed

[2021-01-11 09:19] h-j-13 commented on #9132
@Jennifer88huang here is another broken table in [pulsar/client-libraries-go](https://pulsar.apache.org/docs/zh-CN/client-libraries-go/)  Chinese version page

![image](https://user-images.githubusercontent.com/20575663/104163198-f590c100-5430-11eb-883a-d698cb90d3bc.png)

Mac OSX / Chrome

[2021-01-11 10:04] Jennifer88huang commented on #9132
@h-j-13 Thank you for reporting the issue. I just checked the English website for [go client](https://pulsar.apache.org/docs/en/client-libraries-go/#consumers), it works well. So the issue lies in our [Crowdin project](), we'll check and fix it, and let you know the result.

[2021-01-11 11:41] Jennifer88huang commented on #9132
@h-j-13 I checked and found the reason now.
- The English version works well because the website renders markdown format well.
- The Chinese version does not work well because it judges the format based on periods, which is not quite right.
![image](https://user-images.githubusercontent.com/47805623/104178241-ef0c4480-5444-11eb-832b-fbfcb4e4eeee.png)

Solution options:
1. Refine the English versio

[2021-01-11 11:49] codelipenghui commented on #5417
@flowchartsman I have tried to reproduce this problem, seems it's not easy to reproduce. Is it works when you list all topics through the broker directly? If it works, the problem might related to the Pulsar proxy, Otherwise, the problem should happens at the broker side. This will help us to locate the problem

[2021-01-11 12:16] codelipenghui opened #9173 "Create partitions for a partitioned topic even if topic auto-creation disabled"
**Describe the bug**
Currently, for the persistent topic. If create a new partitioned persistent topic, we also create partitions. So even if users disabled the topic auto-creation, the producers and consumers also can connect to the partitions. But for the non-persistent topic. It needs to enable the topic auto-creation, otherwise, the partitions will not be created since we don't maintain any pa

[2021-01-11 13:11] Jennifer88huang commented on #9132
@h-j-13 would you like to fix the issue?

[2021-01-11 13:39] eolivelli opened #9174 "Create documentation for bookieID configuration option"
With https://github.com/apache/pulsar/pull/9019 we are updating BookKeeper to version 4.12.1, this change will allow users to use the BookieID feature of BookKeeper.
Basically if you add this line to conf/bookkeeper.conf. (and conf/standalone.conf for standalone execution)
`
bookieId=xxxxx
`
The bookie will advertise itself using 'xxxxx' as identifier, and it won't use address:port.
This way you a

[2021-01-11 15:04] phijohns-tibco commented on #8978
Docker issue reference
https://github.com/docker/distribution/issues/3328

[2021-01-11 15:09] Alxander64 opened #9176 "Python Client Producer Synchronous Send Void Return Value"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the enhancement is.

It seems as though the Python client producer has void return values for all of its functions. The relevant file is [here](https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/python/src/producer.cc). Because of how the Python package is a wrapper of the C++

[2021-01-11 19:17] flowchartsman commented on #5417
I can confirm that this happens when accessing the broker directly _and_ when accessing the proxy:
[code]

[2021-01-11 20:32] flowchartsman opened #9177 "[Go Functions] - Failed to collect metrics"
Seeing errors in my log for go functions refusiing a metrics connection.

[code]

The function appears to start a listener on startup

`021/01/10 15:57:16.848 log.go:46: [info] Serving InstanceCommunication on port 33915`

However its counts DO eventually go up, so perhaps it's intermittant?

Running off of 2.8.0-SNAPSHOT

[2021-01-11 21:50] joncashe commented on #9085
so after testing more i find out just setting AWS_REGION environmental variable solves the issue (at least for single region cluster) so i guess we can close it and said that the eks serviceaccount roles its currently supported since pulsar its a little above the minimum sdk

thanks and sorry for the false alarm

[2021-01-12 01:49] BewareMyPower commented on #9176
Yes, it's also a problem of C++ client that synchronous send can't retrieve the message id. It's an issue of the initial API design.

The fix may change the API, I'm not sure if it's proper. A simple fix that keeps the compatibility may be adding a overload method to `Producer::send`:

[code]

[2021-01-12 02:00] zymap opened #9179 "[Authorization] Unify the auth actions in Pulsar authorization"
**Motivation**

We have two sets of the auth actions in the Pulsar Authorization Service. One is the [AuthAction](https://github.com/apache/pulsar/blob/master/pulsar-common/src/main/java/org/apache/pulsar/common/policies/data/AuthAction.java). Another group is Operations, including [Tenant Operations](https://github.com/apache/pulsar/blob/master/pulsar-common/src/main/java/org/apache/pulsar/common

[2021-01-12 02:18] zymap opened #9180 "[Function] Separate the Functions validation and transformation"
**Motivation**

When creating a function, we will do the validation for the function package and transform the FunctionConfig to the FunctionDetail in the same method.
We introduced package management for saving the function packages, and want to reduce the duplicated validation when creating a function with a package name.
So I suggest we need to separate the validation steps and transformation s

[2021-01-12 03:42] freeznet opened #9183 "[doc] Kubernetes runtime docs not cover all configs"
**Is your enhancement request related to a problem? Please describe.**
Pulsar functions document for Kubernetes runtime missing some configs, such as `changeConfigMap`, `changeConfigMapNamespace`, etc.

**Describe the solution you'd like**
Update the document and add the missing parts.

[2021-01-12 05:39] sijie commented on #9154
This is fixed by #9159

[2021-01-12 05:39] #9154 closed

[2021-01-12 05:43] sijie commented on #9150
@codelipenghui Can you take a look at this issue?

[2021-01-12 05:50] sijie commented on #9142
@dlsprague Did you set any retention policy on the topic? It seems that the ledgers are deleted because there was no ledger exists on the metadata server.

[2021-01-12 05:51] sijie commented on #9141
@codelipenghui Can you take a look at this?

[2021-01-12 05:55] sijie commented on #9138
@eolivelli I think this is an issue related to your pull request. apache/pulsar#9019

It seems that bookieId introduces a lot of inconveniences when running in standalone mode.

[2021-01-12 06:51] #9130 closed

[2021-01-12 07:30] #8337 closed

[2021-01-12 07:43] eolivelli commented on #9138
@sijie basically here
https://github.com/apache/bookkeeper/blob/master/bookkeeper-server/src/main/java/org/apache/bookkeeper/client/DefaultBookieAddressResolver.java#L59

we are printing the stacktrace of the Exception, but we should not, it is only a problem in the log line
I am going to create an issue, unfortunately we just released BK 4.12.1, I am sorry, we could have fixed this issue before t

[2021-01-12 07:48] eolivelli commented on #9138
issue
https://github.com/apache/bookkeeper/issues/2531

[2021-01-12 07:54] Jennifer88huang commented on #9168
- In `ProducerConfiguration.java` file, the default value is set to `10ms`.
- In `ProducerBuilder.java` file, the default value is set to `1ms`.
- In [go client](https://pulsar.apache.org/docs/en/next/client-libraries-go/#producer-configuration), the default value for BatchingMaxPublishDelay is `10ms`.

[2021-01-12 09:01] lichuan6 commented on #9092
After killing broker pods and waiting for hours, my own sink connector ran successfully.

[2021-01-12 09:10] lichuan6 opened #9186 "record.getPublishTime return empty"
Hi,

I'm writing a sink connector using `io.core.Sink`. However, when I tried to call `record.getMessage()` and checked if message was present using `msg.isPresent()`, I got a `false` value. Why I got a record with a mesage whose publishtime and eventtime were both empty?

[code]

[2021-01-12 09:33] WalterMa opened #9187 "Token authentication not support JSON type auth params as described in doc"
**Describe the bug**
https://pulsar.apache.org/docs/en/security-jwt/#enable-token-authentication-on-brokers
In the official doc, token auth params are configured in JSON type, like:
[code]

While in `org.apache.pulsar.client.impl.auth.AuthenticationToken`, it does not support JSON type auth params:
[code]
As well as in its test class: `org.apache.pulsar.client.impl.auth.AuthenticationTokenTest`.

[2021-01-12 09:42] eolivelli commented on #9138
PR ready
https://github.com/apache/bookkeeper/pull/2532

[2021-01-12 09:58] xiaotongwang1 opened #9188 "where can i get eclipse code templates and formatter templates for pulsar project"

[2021-01-12 10:06] #9188 closed

[2021-01-12 10:14] lichuan6 commented on #9186
In a pulsar cluster deployed in kubernetes(above), I got no value of PublishTime, however, in pulsar standalone cluster, I can got `PublishTime` from `msg.get().getPublishTime()` call.

I also notice message's Eventtime maybe empty, any doc I can refer to when event time can be empty?

[code]

Thanks

[2021-01-12 10:15] xiaotongwang1 opened #9189 "where can i get a correct code formatter xml"
i import src/formatter.xml to eclipse ,but i do not think it is correct

sample code of pulsar

![image](https://user-images.githubusercontent.com/6071261/104301003-1d9c2500-5502-11eb-898c-6ba0d9591931.png)

after format with pulsar

![image](https://user-images.githubusercontent.com/6071261/104300971-1543ea00-5502-11eb-866a-9b6f1691b0c9.png)

[2021-01-12 12:26] 315157973 commented on #8419
I will work on it

[2021-01-12 13:57] rodrigoreis commented on #6459
Any updates?

[2021-01-12 14:38] dlsprague commented on #9142
HI Thank you for your response.  Yes, the TTL was set at 4 hours.  I increased it to 24 hours.

[2021-01-12 16:52] phijohns-tibco opened #9196 "Dependabot alert for com.fasterxml.jackson.core:jackson-databind"
**Describe the bug**
I ran dependabot against my fork and this alert popped up.
The change is to update jackson-databind to at least 2.12.0 it is currently 2.9.9.3

[2021-01-12 17:02] cherzog-tibco commented on #9196
At least 4 items are considered critical:

https://github.com/advisories/GHSA-85cw-hj65-qqv9
https://github.com/advisories/GHSA-h822-r4r5-v8jg
https://github.com/advisories/GHSA-gjmw-vf9h-g25v
https://github.com/advisories/GHSA-f3j5-rmmp-3fc5

Moving to jackson-databind 2.9.10.5 with what may be a more modest impact (I haven't actually confirmed that) will resolve the critical issues which I think

[2021-01-12 18:38] dlsprague opened #9197 "Partitioned Topics not able to create on all clusters for geo redundancy"
**Describe the bug**
For partitioned topics, we are unable to create on all clusters that namespace is set up for.  ( Non-partitioned topics are able to create successfully. )  Namespace has two clusters, and partitions are created fine on one cluster and everything works fine but will not allow creation on the other cluster.  When attempting to create receives error that Topic already exists.   W

[2021-01-12 18:43] dlsprague commented on #9142
User has set up reader to look for earliest message.   Attached is how that is configured along with client log.

![image (6)](https://user-images.githubusercontent.com/75750837/104358166-0fd3a900-54dc-11eb-9eb9-d0efa3c259a6.png)
![image (5)](https://user-images.githubusercontent.com/75750837/104358169-1104d600-54dc-11eb-9eea-f0fd8ca9f819.png)

Some log information from broker.
13:56:59.135 [pulsa

[2021-01-13 01:23] Jennifer88huang commented on #9168
The comment in the code and the documentation should be changed into `1ms`.

[2021-01-13 01:53] Huanli-Meng commented on #9187
@Jennifer88huang @sijia-w , could you please help check and confirm this issue? Thanks.

[2021-01-13 03:44] #9132 closed

[2021-01-13 06:46] flowchartsman opened #9200 "Swagger is broken."
All of the swagger files downloadable from the site and found at https://github.com/apache/pulsar/tree/master/site2/website/static/swagger/2.7.0 are invalid according to several of the tools I've attempted to use. The following outputs are from interaction with the validatation API at swagger.io like so:

### swagger.json
[code]

### swaggerfunctions.json
[code]

### swaggersink.json
[code]

### s

[2021-01-13 07:10] flowchartsman commented on #9200
Attached is the code (in Go) I've attempted to use to resolve the duplicated operationIds through heuristics. It seems to work rather well, but I am unsure how to resolve the multiple body parameters:

[code]

[2021-01-13 09:00] fantapsody opened #9201 "Saw "Unknown HK2 failure detected" Exception in the log when broker starts with function worker enabled"
**Describe the bug**
I started a broker of version `2.7.0.3` with `functionWorkerEnabled=true` in a K8s cluster and saw error logs like follows during broker start:

It seems the exceptions were triggered by the liveness/readiness probe of the container during the start. Sometimes the pod failed to become ready and got killed after consecutive failures of liveness probe. Even the pod finally becam

[2021-01-13 09:09] fantapsody commented on #4194
Pulsar itself should also be built with AOT compilers to reduce the time to start the process. Sometimes it takes up to a minute to start the broker with function worker enabled.

[2021-01-13 09:54] lichuan6 commented on #9186
I wrote an application and tried to consume message using go client, and I can retreive the publishtime from `msg.PublishTime()`.

[code]

output from pod:

Received msgId: pulsar.trackingMessageID{messageID:pulsar.messageID{ledgerID:31878, entryID:4294, batchIdx:11, partitionIdx:0}, tracker:(*pulsar.ackTracker)(0xc0000976c0), consumer:(*pulsar.partitionConsumer)(0xc000292000), receivedTime:time.T

[2021-01-13 09:54] e-marchand-exensa commented on #8679
Hi, FYI got a new occurrence of this one.

[2021-01-13 10:27] #9128 closed

[2021-01-13 11:31] andrekramer1 commented on #9150
The updated Helm chart's kubernetes templates no longer apply the python script to the shell script. So while a regression I don't now think this needs fixing.

[2021-01-13 11:31] #9150 closed

[2021-01-13 14:52] Remco2376 commented on #9186
I can confirm that Pulsar sink connectors occasionally receive records that do not contain eventTime and/or message. This behavior seems random. These Java calls fail randomly:

long eventTime = record.getEventTime().orElseThrow(() -> new RuntimeException("EventTime does not exist in record"));
Message<GenericRecord> message = record.getMessage().orElseThrow(() -> new RuntimeException("Message doe

[2021-01-13 15:18] freeznet commented on #9186
I will do some tests to see if I can reproduce the problem. Is this problem happens both standalone and k8s clusters?

[2021-01-13 15:25] Remco2376 commented on #9186
It seems to happen both standalone and in clusters. You might have to consume a significant number of records (100k or so) before you detect it. Sometimes the problems is there, sometimes not. But if you detect an incorrect record, you most likely find many others in the same timeframe. That's one of the reasons I assume it could be related to high memory usage.

[2021-01-13 16:26] flowchartsman commented on #9200
Related: https://github.com/kongchen/swagger-maven-plugin/issues/352

[2021-01-13 16:41] addisonj commented on #9200
We should just consider migrating to https://github.com/openapi-tools/swagger-maven-plugin as it looks like our existing plugin is abandoned

[2021-01-14 00:57] Jennifer88huang commented on #9187
@WalterMa thank you for your feedback. JSON type is supported by token auth.
Maybe we should sync the code changes with the doc change. cc @sijie @codelipenghui @freeznet

[2021-01-14 03:53] tuteng commented on #7714
https://github.com/apache/pulsar/tree/asf-site/content/api/cpp All api's for cpp have been generated and can be accessed like this https://pulsar.apache.org/api/cpp/2.8.0-SNAPSHOT/ @Bklyn, We can use this command to overwrite the latest version of the api documentation, would you be interested in creating a pr for this file https://github.com/apache/pulsar/blob/master/site2/tools/doxygen-doc-gen.s

[2021-01-14 04:37] jiahaoc1993 opened #9204 "[Python Client] Expose "replicateSubscriptionState" setting for python consumer"
**Is your feature request related to a problem? Please describe.**
Currently in pulsar's python client(2.7.0), the "replicateSubscriptionState" feature can no be enabled in consumer' creation.

**Describe the solution you'd like**
Expose the flag in consumer's construct function.

[2021-01-14 05:54] sijie commented on #9201
This is a false alert. I have worked with @fantapsody on this offline. The exception was a bit misleading. It was thrown when readiness probe kicks in before the service is ready. We have resolved the problem by tuning the readiness probe.

[2021-01-14 05:54] #9201 closed

[2021-01-14 05:59] flowchartsman commented on #9200
For anyone following along, I have attempted to update the plugin to openapi-tools/swagger-maven plugin v1.0.3, but the results have been inconsistent, yet strangely similar.  This plugin appears to require multiple executions to generate multiple swagger specs, however it requires including the project as a dependency, and, even when it works, I find the same problem, only worse.  Here's the prof

[2021-01-14 07:05] Jennifer88huang opened #9205 "Keep topic-level policies commands consistent with that for namespace level"
**Describe the bug**
In https://github.com/apache/pulsar/pull/9108, we add some topic-level policies commands, and found some commands are not consistent with that for namespace-level.
For example,
On namespace-level, the policies commands are:
- `get-max-producers`
- `set-max-producers`
- `remove-max-producers`
- `get-max-unacked-messages-per-subscription`
- `set-max-unacked-messages-per-subscrip

[2021-01-14 09:47] #9143 closed

[2021-01-14 10:47] jiazhai opened #9207 "Provide different zk for global/local in MockedPulsarServiceBaseTest"
@aloyszhang help fixed issue by PR #9193, which caused by mis-use localZk and globalZk.
It would be a great help if we could use 2 mocked zk in the MockedPulsarServiceBaseTest, one zk for localZk() and another for globalZk. So it could help protect this kind of error happens again.

e.g. in NamespacesTest.java the globalZk and localZk is the same zk:
[code]

If we create 2 MockZooKeeper, then in t

[2021-01-14 14:42] aloyszhang commented on #9207
@jiazhai  Thanks for open this issue. I'll work on this later.

[2021-01-14 15:19] KannarFr opened #9209 "[Broker] DEBUG loglevel throw error when originalPrincipal not exists"
**Describe the bug**
When loglevel is set to DEBUG,

https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java#L693

Throws an error when original principal does not exist.

[2021-01-14 15:48] KannarFr opened #9210 "[Broker] handleSubscribe read_compacted not exists"
**Describe the bug**
Running master, without old proxies/clients there are issues on subscription `read_compacted` does not exist.

There is breaking changes?

[2021-01-14 20:52] Alxander64 opened #9211 "Error Code Meanings"
**Is your enhancement request related to a problem? Please describe.**

I sometimes see this error message:
[code]

I'm not sure what `error: 6` means specifically, and I can't easily tell from looking at the code.

I can tell it originates from [here](https://github.com/apache/pulsar/blob/master/pulsar-client-cpp/lib/ClientConnection.cc#L903), but I'm a little lost trying to follow it any further

[2021-01-14 22:59] joncashe commented on #9150
hello

im trying to upgrade and i was seeing this error since the old version was still referencing the pulsar_env.sh

i remove the lines and still getting an error but its not telling much

broker log

[code]

any feedback will be appreciated it

[2021-01-15 06:47] xiemeilong opened #9213 "Souce connector can not be created successfully on pulsar cluster that installed by the offical helm chart"
**Describe the bug**
I install pulsar on kubernetes using official helm chart .  All my connector can not created successfully, even the builtin( for example debezium-mysql ).
I found the OutOfDirectMemoryError of direct memory in the log of broker. But the exception still exists after increate direct memory from 256MB to 2GB.

But the connector runs in local mode normally.

**To Reproduce**

1. h

[2021-01-15 07:36] yufan022 commented on #9213
You can add configuration in helm:
[code]

[2021-01-15 08:23] codelipenghui opened #9216 "Support get topic applied policy"
**Is your feature request related to a problem? Please describe.**
Provide a way to get the applied policy of the topic. In Pulsar, the topic will apply the topic level policy if present or apply the namespace policy if present or use the broker level configuration. It needs to support get the applied policy for a topic that might use the namespace policy or topic policy or broker level default co

[2021-01-15 09:12] xiemeilong commented on #9213
@yufan022  I had done that. It not works.

[2021-01-15 09:18] xiemeilong commented on #9213
This is my chart values
[code]

[2021-01-15 13:58] eolivelli opened #9220 "Wrong error message while creating a topic to a non existing namespace"
**Describe the bug**

When you try to create a topic to a non existant namespace (in this cae 'defaul' instead of 'default') you got an error that is very hard to understand for the user

[code]

**Expected behavior**
An error like 'namespace does not exist'

[2021-01-15 14:56] johnsmartco commented on #9220
+1 to improving product usability with clarifying message text.

[2021-01-17 02:50] 315157973 commented on #9216
I will work on it

[2021-01-17 03:20] gaoran10 opened #9224 "[Pulsar SQL] Some optimized points in PR 8422"
# Motivation

The #8422 made a refactor for the Pulsar SQL, it's a major change. There are some points that could be considered to optimize.

## 1. PulsarRowDecoderFactory

The various decoder factories could be initialized at the Pulsar SQL beginning, one time is enough and they could be reused.

Refer to the method `private PulsarRowDecoderFactory createDecoderFactory(SchemaInfo schemaInfo)`  of

[2021-01-17 16:25] zbentley commented on #9132
Thanks so much!

[2021-01-17 21:24] robshep commented on #8429
Hi,

This is still happening and we still need to keep restarting connected producers/consumers after updating our application.
Occasionally if 20+restarts does not clear it, we destroy the (docker standalone) broker and re-build.
- I'm afraid we may not validate Pulsar into production  and will have to fall back to kafka :disappointed:

@congbobo184 All the expected topics appear using pulsar-adm

[2021-01-18 01:23] #9220 closed

[2021-01-18 02:23] congbobo184 commented on #8429
@robshep
Sorry to hear that,

AvroSchema has been in the production environment for a long time. It is a stable feature.

I think you can use one topic to test and use ```./pulsar-admin schemas get persistent://tenant/namespace/topic --version``` to find out this version of schema in broker or provide a stable way to reproduce for me, I will reproduce it. include. (schema compatibility, all versio

[2021-01-18 03:57] xiaotongwang1 commented on #9114
2021-01-18 11:25:30.413 [pulsar-io-26-1] ERROR org.apache.bookkeeper.client.LedgerHandle - ReadException on ledgerId:67 firstEntry:181 lastEntry:181
......
2021-01-18 11:26:41.414 [pulsar-io-26-1] ERROR org.apache.bookkeeper.client.LedgerHandle - ReadException on ledgerId:67 firstEntry:186 lastEntry:186

@sijie what does this error mean ? does it mean log ledgerId:67 Entry:186  cannot be consumed?

[2021-01-18 04:03] xiaotongwang1 commented on #9114
[dmq@host-10-33-50-37 bin]$ ./bookkeeper shell ledger 67
JMX enabled by default
ERROR: initializing dbLedgerStorage Entry -1 not found in 67[dmq@host-10-33-50-37 bin]$

can not check ledger info now

[2021-01-18 04:59] #9162 closed

[2021-01-18 05:35] yufan022 opened #9227 "Debezium MySQL connector will block after restart"
**Describe the bug**
Starting debezium for the first time and everything is OK. When restart debezium after running for a while, it often fails to start. There's a very small chance that it will success. If I clean up `offset-topic` or restart broker, It will start successfully.

**To Reproduce**
Steps to reproduce the behavior:
1. start debezium mysql connector
2. stop debezium mysql connector
3.

[2021-01-18 06:08] Jennifer88huang commented on #9211
@zymap could you help have a look at it? Thank you.

[2021-01-18 07:25] xiemeilong commented on #9213
It seems cased by KubernetesRuntimeFactory， this issue not exists after set functionRuntimeFactoryClassName to ThreadRuntimeFactory.

[2021-01-18 07:46] zymap commented on #9211
You can find the lookup command handler here: https://github.com/apache/pulsar/blob/b019c4b75348f2e4ff6a9b6c3367b2b951429fad/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/ServerCnx.java#L375

I think it's a service error code, and all service error code you can find from https://github.com/apache/pulsar/blob/b019c4b75348f2e4ff6a9b6c3367b2b951429fad/pulsar-common/src/main/proto/Pulsa

[2021-01-18 08:10] robshep commented on #8429
Thank you,

If the components are generally stable then there could be issues with my setup?
In this case I am grateful for your support, and will look you up on slack
With thanks
R

Get Outlook for iOS<https://aka.ms/o0ukef>
________________________________
From: congbo <notifications@github.com>
Sent: Monday, January 18, 2021 2:23:49 AM
To: apache/pulsar <pulsar@noreply.github.com>
Cc: Rob Sheph

[2021-01-19 01:47] dockerzhang commented on #5554
we need to remove all topics in a namespace sometimes.

[2021-01-19 03:11] codelipenghui commented on #9227
@yufan022 Could you please confirm the available bookies greater than the ensemble size that you are using?

[2021-01-19 03:45] codelipenghui commented on #9211
@BewareMyPower Could you please help take a look at this issue? seems it's a log improvement.

[2021-01-19 03:46] codelipenghui commented on #9210
@KannarFr with old proxy/client or without old proxy/client?

[2021-01-19 03:48] codelipenghui commented on #9209
@KannarFr Could you please provide more details about the error? such as stacktrace?

[2021-01-19 03:48] BewareMyPower commented on #9211
OK

[2021-01-19 06:50] yufan022 commented on #9227
@codelipenghui I checked again, I have to restart broker before debezium restart, It will succeed.
Broker config:
[code]
My deployment topology:
[code]

[2021-01-19 07:04] thanhcb opened #9233 "Can't get generic schema for topic as worker in prestosql"
i built a cluster of prestosql with 2 nodes, 1 node coordinator, and the other is worker. I produced the messages with AVRO schema to a topic, and then using prestosql to query in my brokers. The coordinator loaded schema, read data and responsed to presto is fine, but worker is error, can't load generic schema. I tried to switch role of 2 nodes and the node of coordinator (before is worker being

[2021-01-19 07:54] Shoothzj opened #9234 "Delete subscription costs 60 seconds, bookkeeper-ml-workers-OrderedExecutor hang, java.util.concurrent.CompletableFuture$UniAccept took too long 60007267 micros to execute."
**Describe the bug**
[code]
Then the thread's debug log
[code]
And the pulsar-msg-expiry-monitor hangs too.
**To Reproduce**
Currently, I have no idea to reproduce the probleam.

**Expected behavior**
In other environment, it executes quickly.

**Desktop (please complete the following information):**
 - OS: Linux, Huawei Euler OS

**Additional context**
Full debug log
[04.zip](https://github.com/a

[2021-01-19 09:16] fmiguelez opened #9235 "Upgrade Bounce Castle dependency on client to solve CVE-2020-28052"
Library pulsar-client-2.7.0.jar has a dependency with Bouncy Castle 1.66 (bcprov-jdk15on-1.66.jar) with high-risk vulnerability
[CVE-2020-28052](https://nvd.nist.gov/vuln/detail/CVE-2020-28052).

It has also been reported to directly affect [Pulsar Manager 0.1.0](https://lists.apache.org/thread.html/rb8b3025f8b507dec0b66791df408cdaf2d155866db1c7a1a4bc621cd%40%3Cdev.pulsar.apache.org%3E)

Solution

[2021-01-19 12:41] KannarFr commented on #9210
@codelipenghui with old, I guessed it was breaking changes, but can't find issue/mention about it, can you link me or explain?

[2021-01-19 13:21] eolivelli commented on #8901
this fix has been committed to master branch

[2021-01-19 13:21] #8901 closed

[2021-01-19 13:22] eolivelli commented on #8975
committed to master branch

[2021-01-19 13:22] #8975 closed

[2021-01-19 21:38] frankjkelly opened #9241 "Proxy got exception OutOfDirectMemoryError (Pulsar 2.6.1)"
**Describe the bug**
Under heavy load Pulsar Proxy exhibited `io.netty.util.internal.OutOfDirectMemoryError`

**To Reproduce**
Have not yet been able to reproduce (we increased the number of proxies from 2 to 3 to work around this issue)

The Proxy is configured with -Xmx1G and the pod itself has 2G memory (limits == requests)

**Expected behavior**
A clear and concise description of what you expe

[2021-01-19 22:19] frankjkelly commented on #9020
I retried with the command line tools for Pulsar 2.6.1 ensuring that the subscriber name was new each time and was able to reproduce the behavior

[code]

**TEST CASE 1: No Terminate**
Producer
[code]

Consumer
[code]
Response
[code]

**TEST CASE 2: Include Terminate**
Producer
[code]

Termination
[code]

Consumer
[code]

Response
[code]

[2021-01-19 23:41] joncashe opened #9242 "Issue with offload on 2.7.0 migrating from 2.6.1"
Hello

After migrate to 2.7.0 from 2.6.1 in aws eks we start to noticed an error since files were not offloaded automatically anymore after checking further i found this error from the offload-status

[code]

if i rollback it works so i guess its something new related to the version, we have the offload policy set at namespace level since that was the way was available on 2.6.1

any feedback will

[2021-01-20 09:00] Anonymitaet commented on #7728
@BewareMyPower need to update docs?

[2021-01-20 09:04] Huanli-Meng commented on #7728
confirmed with @BewareMyPower, it is a code issue. no doc needs to be updated,

[2021-01-20 09:07] Anonymitaet commented on #7728
@Huanli-Meng thanks for your reply, then I remove the `component/documentation` tag

[2021-01-20 09:09] Anonymitaet commented on #8977
Related to https://github.com/apache/pulsar/issues/3104

[2021-01-20 11:45] Anonymitaet commented on #3104
We @codelipenghui are working on this doc.

[2021-01-20 11:49] Anonymitaet commented on #9187
As confirmed in last week's meeting, this issue is related to code rather than doc, correct? @jiazhai

[2021-01-20 15:39] fmiguelez opened #9248 "Upgrade Thrift dependency in broker to solve CVE-2019-0210, CVE-2019-0205 and CVE-2020-13949"
Library from Apache Thrift (libthrift-0.12.jar) used by Apache Pulsar Broker is affected by two high risk vulnerabilities:
[CVE-2019-0210](https://nvd.nist.gov/vuln/detail/CVE-2019-0210) and [CVE-2019-0205](https://nvd.nist.gov/vuln/detail/CVE-2019-0205)

These vulnerabilities are solved by version 0.13.

**Update 2021/02/19**

New vulnerability CVE-2020-13949 has been published affecting libthrif

[2021-01-20 15:45] fmiguelez opened #9249 "Upgrade Netty dependency in broker to solve vulnerabilities: CVE-2019-16869, CVE-2020-11612, CVE-2019-20445, CVE-2019-20444"
Version of Netty (4.1.32) used inside Apache Pulsar Broker (at least 2.7.0) is affected by following high risk vulnerabilities: [CVE-2019-16869](https://nvd.nist.gov/vuln/detail/CVE-2019-16869), [CVE-2020-11612](https://nvd.nist.gov/vuln/detail/CVE-2020-11612), [CVE-2019-20445](https://nvd.nist.gov/vuln/detail/CVE-2019-20445), [CVE-2019-20444](https://nvd.nist.gov/vuln/detail/CVE-2019-20444).

All

[2021-01-20 15:56] fmiguelez opened #9250 "Protobuf version used in broker and client affected by vulnerability CVE-2015-5237"
Libraries of Protobuf versions used in both broker (protobuf-shaded:2.1.0-incubating, shaded of protobuf-java:2.4.1) and client (protobuf-javanano:3.0.0-alpha-5) are affected by high risk vulnerability [CVE-2015-5237](https://nvd.nist.gov/vuln/detail/CVE-2015-5237)

This vulnerability is solved by Protobuf version 3.4.0. This dependency should be upgraded in both broker and client.

[2021-01-20 16:00] yuvalgut commented on #9004
would be really nice, that will let us right transformations from pulsar schema to kafka schema so we can reuse kafka connect sinks and so on

[2021-01-20 16:58] merlimat commented on #9250
This is already fixed in #9046 and will be released in 2.8.

[2021-01-20 20:53] #9207 closed

[2021-01-20 21:34] #9155 closed

[2021-01-20 22:19] frankjkelly opened #9251 "2.6.1: Pulsar-Client CLI consume -p Earliest option does not override default subscription position of Latest"
**Describe the bug**
When I use `pulsar-client consume` and specify the subscription position (either using `-p` or `--subscription-position`) as `Earliest` the client still uses `Latest`

**To Reproduce**
In Pulsar 2.6.1

[code]

and

[code]

**Expected behavior**
Subscription Position default is overridden

**Screenshots**
See above

**Desktop (please complete the following information):**
 - OS

[2021-01-21 01:27] Anonymitaet commented on #8812
@holmes07 does the [doc](https://pulsar.apache.org/docs/en/next/concepts-multiple-advertised-listeners/) solve your problem? If yes, we can close this issue.

[2021-01-21 01:38] holmes07 commented on #8812
yeah

[2021-01-21 01:38] #8812 closed

[2021-01-21 02:45] aloyszhang commented on #9251
This problem has been fixed by https://github.com/apache/pulsar/pull/7795

[2021-01-21 02:59] sijie commented on #5417
This is fixed by https://github.com/apache/pulsar/pull/9228

[2021-01-21 02:59] #5417 closed

[2021-01-21 04:05] yufan022 commented on #9227
more log
[broker.log](https://github.com/apache/pulsar/files/5846765/broker.log)
[pulsarfunctiondebezium.log](https://github.com/apache/pulsar/files/5846766/pulsarfunction.log)

[2021-01-21 04:39] zymap commented on #8676
All the PR is merged. Close this issue.

[2021-01-21 04:39] #8676 closed

[2021-01-21 04:57] manjupriya-ar opened #9254 "Size of the messages to be acknowledged at subscription level"
#### Expected behavior

The partitioned-stats API returns the number of messages that are yet to be acknowledged at each subscription level. In addition to that, we need the number of message bytes [total size of the messages] that are yet to acknowledged at each subscription level.

#### Actual behavior

At present partitioned-stats returns the number of messages that are yet to acknowledged.[msg

[2021-01-21 08:05] Anonymitaet commented on #7714
@Bklyn any thoughts?

[2021-01-21 10:06] hpvd commented on #9249
Since these update-needs regularly occurs,
one should think of implementing a procedure to address this:

Automated security and update routine before every release
https://github.com/apache/pulsar/issues/8815

[2021-01-21 10:07] hpvd commented on #9248
Since these update-needs regularly occurs,
one should think of implementing a procedure to address this:

Automated security and update routine before every release https://github.com/apache/pulsar/issues/8815

[2021-01-21 10:12] fmiguelez commented on #8815
We use [dependency-check-maven](https://jeremylong.github.io/DependencyCheck/dependency-check-maven/index.html)  Maven Plugin to automate CVE checks against updated DB on used dependencies within build process. It is pretty straightforward.

[2021-01-21 10:51] frankjkelly commented on #9251
@aloyszhang Thanks that's great news - I did search but I guess didn't find it

[2021-01-21 10:51] #9251 closed

[2021-01-21 15:05] codelipenghui opened #9265 "Create the system even if the topic auto-creation disabled"
**Describe the bug**

If disabled the topic auto-creation, the system topic under the namespace also not able to be created automatically, this will result in the topic level policy not able to use.

**To Reproduce**
1. Disable the topic auto-creation
2. Start the broker
3. User pulsar-admin topics set-retention or other policy operations.
4. Got 500 from the server

**Expected behavior**
The inte

[2021-01-21 18:06] frankjkelly opened #9266 "Retrieving data from Tiered Storage (S3) fails initially then succeeds after 15 second retry (Pulsar 2.6.1)"
**Describe the bug**
Retrieving data from Tiered Storage (S3) fails initially according to Broker logs ("unknown exception") then succeeds after 15 second retry resulting in a 15 second response time minimum.
I can reproduce this consistently.

**To Reproduce**
Steps to reproduce the behavior:
1. Configure Tiered storage offload to S3
2. Upload data to a topic
2. Wait for Managed Ledger Rollver
3.

[2021-01-21 22:04] Alxander64 opened #9267 "Pulsar Sink Connector Consume Rate"
**Is your enhancement request related to a problem? Please describe.**

I have some JDBC sinks that I recently reconfigured to have a longer timeout and batch size. This helped since the topic had a steady publish rate of about 100 msg/s, so these settings prevent spamming inserts to the database.

In some scenarios, I'd want to start these sinks on data from a day or two ago, and let it catch up

[2021-01-22 01:05] codelipenghui commented on #9084
@Renkai Could you please take a look at this issue?

[2021-01-22 02:57] Anonymitaet commented on #9216
@315157973 thanks for your contribution.

Could you please add doc once you finish all code work?
[Pulsar admin doc](http://pulsar.apache.org/tools/pulsar-admin/2.8.0-SNAPSHOT/#-em-get-retention-em--51) and [REST API doc](https://pulsar.apache.org/admin-rest-api/?version=master&apiversion=v2#tag/persistent-topic) are automatically generated from codes, you can add corresponding descriptions in the

[2021-01-22 03:31] 315157973 commented on #9216
OK

[2021-01-22 04:36] lichuan6 opened #9271 "topic retention not work"
**Describe the bug**
I have a topic with `storageSize` equals to`194020994`

`pulsar-admin topics stats public/default/pulsar`

[code]

then I set the retention with size 10M and time to zero.

`pulsar-admin namespaces set-retention  --size 40M -t 0 public/default`

I expect to storage bytes will drop after setting the retention, but nothing changes after  `topics stats` command call.

[code]

[2021-01-22 10:05] eolivelli opened #9279 "Pulsar Admin: add command to list bookies"
In 2.7.x you can operate the bookies using `bin/bookkeeper shell` and `bin/pulsar-admin bookies`

With `pulsar-admin bookies racks-placement` command you can only see the bookies for which you have an explicit configuration.
With `bookkeeper shell listbookies -a` you can get a list of all of the registered bookies

It would be very good to have a `pulsar-admin bookies listbookies` command to inspe

[2021-01-22 11:45] BewareMyPower opened #9282 "[Doc] C++ client's doc is poor"
**Is your enhancement request related to a problem? Please describe.**
The C++ client's [doc](http://pulsar.apache.org/api/cpp/2.7.0-SNAPSHOT/) is poor, a lot of interfaces are not well documented. For example, a lot of setters/getters have no document, see http://pulsar.apache.org/api/cpp/2.7.0-SNAPSHOT/classpulsar_1_1_producer_configuration.html for example. Users cannot get some default config

[2021-01-22 11:56] BewareMyPower commented on #9176
I just found that the current C++ send API design is strange that though `msg` is `const`, the `MessageId` will be stored in `msg` and user can get message id by `msg.getMessageId()` after `send` returns. But the document didn't explain it.

Anyway, Python client doesn't expose the `Message` so user cannot get message id.

I'll add the new API of `Producer::send` to let Python client get the messa

[2021-01-22 12:57] rodrigoreis commented on #6054
I'm facing this problem with 2.7.0

[2021-01-22 12:58] rodrigoreis commented on #6054
I'm spot this when I increase the clients number.

[2021-01-22 13:32] xiemeilong opened #9285 "Flink source connector can not use the same client config with sink connector."
**Describe the bug**
When I pass the same ClientConfigurationData object to source and sink.  The source connector will not recive data any more.
When I use different ClientConfigurationData object for source and sink, all works normally.

The same issue exists in both io.streamnative.connectors:pulsar-flink-connector  and  org.apache.pulsar:pulsar-flink .

**To Reproduce**
Steps to reproduce the

[2021-01-22 14:29] apapia commented on #9266
Is it possible to reduce the retry time (15s) as a workaround?

[2021-01-22 14:31] frankjkelly commented on #9266
Good idea - I looked through the broker conf files and could not find where this was specified

[2021-01-22 14:51] BewareMyPower commented on #9282
As the generated docs in my local environment, here's an example from #9287

<img width="1160" alt="截屏2021-01-22 下午10 45 28" src="https://user-images.githubusercontent.com/18204803/105505215-a46faf80-5d03-11eb-865e-83cb0a7d9737.png">

As we can see, we can link `ProducerConfiguration`'s related methods from `Producer#send`. However it requires these external methods have JavaDoc style comments. If

[2021-01-22 16:37] srouthu1 opened #9288 "Consumer getting stuck when Qw bookies down though publisher continued to write to other available bookies"
#### Expected behavior
we have 6 bookies, with Ensemble=3, Qw=2, Qa=2. While the consumer consuming the messages, Two bookies were brought down which are part of Qw.
Broker should dispatch the messages to consumer which are available in the New Ensemble. If the bookies are up after some time, then the broker should dispatch the messages from these bookies as consumer can't afford message loss.

##

[2021-01-22 21:46] hpvd commented on #6054
Since it's hard to reproduce, does not happen often and is still there for many versions...
just to give it a try: does this happen on different servers/hardware (not the same part involved in every appearance of the problem)? On other places especially freezing also occur from e.g. memory bit flips...

[2021-01-22 22:08] hpvd commented on #6054
another chance to have this solved in upcoming v2.8 without having to find the dedicated reason, may result from all the work going on using spotbugs all through pulsar's code (including function) see https://github.com/apache/pulsar/issues?q=enable+spotbugs+
Sometimes there is luck :-)

[2021-01-23 10:01] V1ncentzzZ commented on #9285
Hi @xiemeilong , Could you share the code that can reproduce the problem?

[2021-01-23 12:37] #7879 closed

[2021-01-23 18:14] #9211 closed

[2021-01-24 01:55] codelipenghui commented on #9210
@KannarFr Could you please provide the steps of reproducing this issue? I don’t remember compaction related changes are introduced currently.

[2021-01-24 07:46] wangshuyu opened #9294 "ReconsumeLaterAsync : Asking for help."
`c#

var msg = await consumer.ReceiveAsync();
var body = Encoding.UTF8.GetString(msg.Data.ToArray());
if (msg.Properties.Count > 0)//retry
{
//retry is error, What should I do here?
_ = consumer.ReconsumeLaterAsync(msg, DateTimeToTimeStamp(DateTime.Now.AddSeconds(20)));
}
else
{
//success
_ = consumer.ReconsumeLaterAsync(msg, DateTimeToTimeStamp(DateTime.Now.AddSeconds(10)));
}
`
以上代码,执行重试消息后, 会发生

[2021-01-24 12:48] wuYin opened #9297 "proxy lookup result still contains unreachable owner broker serviceURL after broker restart and 30s zk session expired"
**Describe the bug**
- Certain issue
  After broker restarted with 30s zk session expired, client take 51s, even 1min40s to reconnect successfully, recovery time is a bit long.

- Flaky issue
  Client reconnect always failed handshake with proxy, stucked at 1~5

![image](https://user-images.githubusercontent.com/24536920/105634717-7cff1b00-5e9a-11eb-8603-06f16525b9c2.png)

**To Reproduce**
1. use

[2021-01-24 15:24] aryemazouz opened #9301 "MultiTopicsReaderImpl – Start from separate MessageId for each topic/ partition"
Currently in ReaderConfigurationData the API allow to ‘setStartMessageId’ only from single message ID and this apply to all consumers in the MultiTopicsReaderImpl.

Is it possible to add start message per partition / topic.

Today if I want to avoid loosing data I have to give MessageId.earliest and after that to execute the seek (as my code does).
But the annoying issue is that after I create the

[2021-01-25 02:42] #9176 closed

[2021-01-25 02:52] #9183 closed

[2021-01-25 03:35] jiazhai commented on #7814
Thanks @freeznet for helping with this issue

[2021-01-25 04:09] wuYin commented on #9297
@zymap thanks for review
Actually, I'm not sure this ownership double check PR will solve the flaky Issue
I'll add test to simulate flaky case by removing the /loadbalance/downBroker zNode directly, and fix existed failure tests

[2021-01-25 05:33] pointearth commented on #6930
I think user-defined indexes are very important for Pulsar SQL, it could be able to be the real way that we can use pulsar as a database. I think it will make pulsar more popular.
And I agree to define user-defined indexes individually. we can extend "pulsar-admin topic" to manage indexes, to create, read, update, delete, reIndex them.
Can we discuss more and push it forward?

[2021-01-25 07:05] congbobo184 commented on #7763
I haven't tested anything wrong with the current master branch. can you provide specific steps to reproduce? (topic name, namespace name, broker version, autoCreateTopicConfig and what you can think of).thanks.

[2021-01-25 08:32] freeznet commented on #9177
looked through the go functions with metrics implementation, it seems the go functions are using wrong port to expose metrics. i will draft a PR to fix this issue.

[2021-01-25 09:26] uestczshen opened #9307 "subscriptionExpiration for topic"
for some reasons, my subscriptionName changes when my server restarts. But the old subname still exists in pulsar-server and alarms messages heap up.   so maybe there should be expire policies for unused subscription.

[2021-01-25 09:46] 315157973 commented on #9301
I will work on it

[2021-01-25 11:00] jiazhai commented on #9307
Yes, there is ttl policy for this: https://pulsar.apache.org/docs/en/cookbooks-retention-expiry/
This is a kind of question, would like to close this issue, if the ttl policy could not solve your issue, feel free to reopen this issue.

[2021-01-25 11:00] #9307 closed

[2021-01-25 13:23] TMeireOqton opened #9310 "Pulsar function fails to create because the job name is longer than 55 characters"
**Describe the bug**
When the name of the tenant, namespace and function are long, the generated jobname for the kubernetes runtime exceeds 55 characters. Because this is too long, the runtime does not create the stateful set and the function doesn't run.

**To Reproduce**
* Create a tenant `verylongtenantname`
* Create a new namespace `verylongnamespacename`
* Deploy a new function to the namespa

[2021-01-25 13:24] rodrigoreis opened #9311 "Is there a default number of subscriptions for a topic?"
The question is whether there is any configuration that limits the number of subscriptions and producers per topic.

**Describe the bug**
I noticed that the topic stops responding when I reach the number of 10 subscriptions per topic.

**To Reproduce**
1. Create a persistent topic.
2. Produce a considerable number of messages
3. Create 11 consumers to handle this topic.

**Desktop (please complete

[2021-01-25 13:31] Bklyn commented on #7714
@tuteng not sure what change you're looking for me to make?  Replace the final `mv` with the `cp -r`?

[2021-01-25 14:46] jiazhai commented on #9297
@congbobo184 Is there any suspicion or improvements that you found for the 1st issue?

[2021-01-25 15:33] Renkai commented on #9084
If my understand is not wrong, current jcloud API we are using event don't permit us to set region manually, it have to be generated by endpoint https://github.com/apache/pulsar/blob/98ad39ffa51239e389c73411dfb8df7f5592a5aa/tiered-storage/jcloud/src/main/java/org/apache/bookkeeper/mledger/offload/jcloud/provider/JCloudBlobStoreProvider.java#L283

Maybe we should help Jcloud make right error info,

[2021-01-25 15:46] eolivelli commented on #9154
Probably the fix here is not good
https://github.com/apache/pulsar/pull/9159

see my comments
https://github.com/apache/pulsar/actions?page=4&query=is%3Aqueued

we are still spawning too many job requests

[2021-01-25 20:23] klwilson227 opened #9315 "pulsar-functions kuberenetesRuntime does not use downloadDirectory for placement of download files."
**Describe the bug**
When configuring a pod to run as a different users, we found that the download files for the kubernetes runtime are placed in pulsarRoot vs. in the configured workerConfig:downloadDirectory as we had expected. For kubernetes to be able to write the files as other users, these directories should be mounted as volumes, however, since the volume cannot be specified for pulsarRoot

[2021-01-26 01:14] congbobo184 commented on #9297
I suspicion the proxy config the brokerServiceURL, this config broker down, proxy can't lookup the topic. So client will connect fail and the client reconnect time will Increasing.When the broker restart, client can connect.

[2021-01-26 01:25] Renkai commented on #9084
It might be a long journey to refactor our blob client to solve this issue

[2021-01-26 02:42] yufan022 commented on #9227
Open debug log of `Broker` and `Debezium`.
[code]
When `debezium` blocked, I found **`...Consumer buffer is full, pause reading`** logs on `Broker`.
Then I have to restart `broker` to keep `debezium` working.

https://github.com/apache/pulsar/blob/ed5d94ccfdf4eba77678454945a2c3719dce2268/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentDispatcherSingleActiveConsume

[2021-01-26 03:01] jiazhai commented on #9297
Regarding this issue, There were already backoff supported in java client, maybe we need to add this feature in go client

[2021-01-26 03:18] codelipenghui commented on #9311
Have you update the `maxSubscriptionsPerTopic` in the broker.conf? By default, Pulsar does not limit the subscriptions of a topic.

[2021-01-26 03:23] codelipenghui commented on #9294
When the error occurs you should not acknowledge the original message.

[2021-01-26 03:42] fayce66 opened #9317 "pulsar c++ topic compaction with message key does not seem to work"
C++ consumer configured for topic compaction still receives all messages in the log instead of the last one for each topic key.

1. The c++ producer:

[code]

2. The c++ consumer:

[code]
3. set manual topic compaction with pulsar-admin:
`$ bin/pulsar-admin topics compact "persistent://marianas/alphatrader/wing-calibration"
`

desktop: ubuntu 20.04 client (producer & consumer), pulsar-daemon runni

[2021-01-26 03:59] BewareMyPower commented on #9317
@codelipenghui please assign to me

[2021-01-26 04:00] wuYin commented on #9297
@congbobo184 Thanks for review
I'm using pulsar-helm-chart to deploy cluster, in proxy.conf, broker connection addresses looks like：
[code]
which generated by [proxy-configmap.yaml#L37](https://github.com/apache/pulsar-helm-chart/blob/master/charts/pulsar/templates/proxy-configmap.yaml#L37),  In proxy pod:
[code]
For this issue, during broker1 restarting/terminating, it's service DNS record will b

[2021-01-26 04:02] wuYin commented on #9297
@jiazhai Thanks for reminding
I'll add an `backoffLimit` option to pulsar-client-go to do this, or something like that

[2021-01-26 04:06] #9265 closed

[2021-01-26 05:09] codelipenghui commented on #9267
@Alxander64 Pulsar supports limit the publish message rate and consume message rate at the broker side, you can use `pulsar-admin set-dispatch-rate` to limit the consumption rate. Is this work for this issue?

[2021-01-26 05:22] codelipenghui commented on #9288
Currently, the `autoSkipNonRecoverableData=true` only skip the cases that the broker can't read data from ledger such LedgerNotFoundException or LedgerMetadataDoesNotExists exception. For the cases that shutdown multiple bookies, the broker will encounter LedgerHandleNotAvaliableException which can't be handled by `autoSkipNonRecoverableData=true`.

From the Pulsar perspective, the crashed bookies

[2021-01-26 05:41] congbobo184 commented on #9297
![image](https://user-images.githubusercontent.com/39078850/105804679-5c8aaa00-5fdb-11eb-961f-8dba4c15473a.png)
Can you provide any proxy do look up command log, it seem to proxy resolve Dns error.

[2021-01-26 06:10] #8237 closed

[2021-01-26 06:44] wuYin commented on #9297
@congbobo184 Sorry for late reply
I scale out proxy to only one, delete broker2 pod, and trace proxy debug log: [handshake-pulsar-proxy-0.log](https://github.com/apache/pulsar/files/5871610/handshake-pulsar-proxy-0.log)
client:
![image](https://user-images.githubusercontent.com/24536920/105809537-d5423400-5fe4-11eb-9c5f-e95005a9344c.png)

[2021-01-26 07:15] #9205 closed

[2021-01-26 07:17] congbobo184 commented on #9297
When you delete broker2 pod, does the client always connect fail?

[2021-01-26 07:29] zymap commented on #7242
@larshelge Here has an example to change the log level or something else. If you want to configure other classes, you need to change the `name` to the class you want to apply to.
https://github.com/apache/pulsar/blob/d557e0aa286866363bc6261dec87790c055db1b0/conf/log4j2.yaml#L155

[2021-01-26 08:33] wuYin commented on #9297
@congbobo184
After delete broker2, client will backoff to retry connect 0.1s, 0.2s, 0.4s, ..., 51.2s, then connected successfully.
This is normal case, and the latency can be reduced by configuring backoff policy.
But I can't reproduce flaky case, this is the trouble..

[2021-01-26 09:02] Renkai commented on #9266
I have submitted a pull request to show more info about the "Unknown Exception", https://github.com/apache/pulsar/pull/9323
It's better to decide how to deal with it(retry or do something extra) after we actually know what it is.

[2021-01-26 10:11] congbobo184 commented on #9297
It seems difficult to reproduce this problem. I think this problem may zookeeper cache not update on time. like https://github.com/apache/pulsar/pull/8304, It seem that problem will cause the flaky case.

[2021-01-26 11:09] eolivelli commented on #9004
I am working on an implementation for this feature
please @sijie assign the issue to me

[2021-01-26 15:18] klwilson227 opened #9324 "pulsar-io/hbase fails to build"
**Describe the bug**
All versions of pulsar hbase have begun to fail to build based on build transitive dependency resulting in javax.el:3.0.1-b06-SNAPSHOT reference. This version of the file no longer exists on central. This results in the following maven error when downloading the artifact:

[ERROR] Failed to execute goal on project pulsar-io-hbase: Could not resolve dependencies for project org

[2021-01-26 15:59] Lanayx opened #9327 "Retry and Dead letter topics are generated with wrong names when retry is enabled"
**Describe the bug**

Currently RetryLetter and DeadLetter topics names only depend on subscription name and not on the topic name (so there is a clash when different consumers work with different topics and same subscription name)
[Link](https://github.com/apache/pulsar/blob/branch-2.7/pulsar-client/src/main/java/org/apache/pulsar/client/impl/ConsumerBuilderImpl.java#L123-L124)

There is a [dupli

[2021-01-26 16:22] Bklyn commented on #7714
See linked PR.  Not sure if @tuteng expects two copies of the Doxygen output, one versioned and one not.  I think we may want to cleanup the target dir and not just copy into it as this will potentially accumulate cruft.

[2021-01-26 18:15] maimom1924 opened #9330 "Pulsar reader doesn't return correct last message with startMessageIdInclusive()"
I want to read last message from topic "A"  by using Pulsar Reader as shown in below code:

[code]
Before executing the above code, I have produced many messages on that topic and as the result:
- The `msg` that I get here is not the last message but `the last message - 1` when I add ` .startMessageIdInclusive()`
- Without adding ` .startMessageIdInclusive()`, `reader.hasMessageAvailable()` will r

[2021-01-26 18:36] MarvinCai commented on #9271
@sijie please correct me if I'm wrong
@lichuan6  ManagedLedger consists of  many BookKeeper ledgers, there'll be a current ledger that we write to. If curent ledger is closed or full a new ledger will be created and become the current ledger. There's a caveat that ledger trimming is performed on ledger level, e.g. it removes a whole ledger, and it **won't delete current ledger.** So in your case e

[2021-01-27 02:22] nchuxyz opened #9332 "Maven profile <core-modules> install problem"
I build pulsar from source for the first time,
mvn -DskipTests install -Pcore-modules
it throws an error like this:
[INFO] Pulsar IO :: Kafka Connect Adaptor ................. FAILURE [ 11.475 s]
Could not transfer artifact org.apache.pulsar:kafka-connect-avro-converter-shaded:pom:2.8.0-SNAPSHOT from/to spring-plugins-release (https://repo.spring.io/plugins-release/): Not authorized -> [Help 1]

*

[2021-01-27 04:14] jiazhai opened #9333 "Provide a sink/source connector for AMQP-1.0.0"
Pulsar supports RabbitMQ sink and source, But RabbitMQ support AMQP_0-9-1, It would be great if Pulsar support AMQP 1.0 connector:
https://pulsar.apache.org/docs/en/io-overview/
https://pulsar.apache.org/docs/en/io-rabbitmq-source/#configuration
https://github.com/apache/pulsar/tree/master/pulsar-io/rabbitmq

And [Qpid](https://qpid.apache.org/) Support AMQP 1.0.0, we could use it to do the test.

[2021-01-27 04:15] wfnuser commented on #9333
I would like to have try. You can assign it to me. 😄

[2021-01-27 04:24] jiazhai commented on #9333
Thanks a lot . @wfnuser

[2021-01-27 05:41] MarvinCai commented on #9332
probably related to this: https://spring.io/blog/2020/10/29/notice-of-permissions-changes-to-repo-spring-io-fall-and-winter-2020

[2021-01-27 05:47] nkurihar commented on #9307
@uestczshen
`subscriptionExpirationTimeMinutes` seems to help you:
https://github.com/apache/pulsar/blob/2dc24705efe61fdfca3315edb29946d3a0a9e599/conf/broker.conf#L178-L180

This setting can be enabled at broker level or namespace level.
cf: https://github.com/apache/pulsar/pull/6851

[2021-01-27 06:07] #7714 closed

[2021-01-27 06:14] MarvinCai commented on #9332
@nchuxyz
remove the spring repo
[code]
from root pom.xml solve the problem, you can give it a try.

[2021-01-27 06:27] jiahaoc1993 opened #9337 "Request feature for liveness checking for "Client" instance in pulsar-python"
**Is your feature request related to a problem? Please describe.**
In pulsar's python client, after the `client` instance was created, the instance maintains one or more TCP connections. However, there is no straightforward way to check if these connections are alive.

**Describe the solution you'd like**
Add a method like "is_open()" to the `client` class to return the status of existing connecti

[2021-01-27 06:56] MarvinCai commented on #9324
@klwilson227
see https://github.com/apache/pulsar/issues/9332

[2021-01-27 06:57] MarvinCai commented on #9332
@sijie Should we just remove the spring repo?

[2021-01-27 07:50] nchuxyz commented on #9332
It works.
Thanks a lot

[2021-01-27 07:50] #9332 closed

[2021-01-27 08:11] sijie commented on #9332
@MarvinCai I think so.

[2021-01-27 08:22] BewareMyPower commented on #9317
I've tested in my local environment, it works well. Here're my detail steps:

1. Clone the latest pulsar repository.
2. Change `SampleConsumer.ccand `SampleProducer.cc` under `pulsar-client-cpp/examples` to

[code]

[code]

As you can see, the `SampleProducer` send 10 messages (`msg-0` to `msg-9`) with the same key `my-key` to topic `xyz-topic`. And the `SampleConsumer` try to consume all messages

[2021-01-27 08:56] codelipenghui commented on #9333
@jiazhai @wfnuser We are planning to move all the connectors out of the pulsar main repo. Here is the proposal https://github.com/apache/pulsar/wiki/PIP-62%3A-Move-connectors%2C-adapters-and-Pulsar-Presto-to-separate-repositories you can get more details here. I think you can create an external repo to maintain the AMQP-1.0.0 connector first, after the PIP-62 completed, we can move back to the htt

[2021-01-27 09:22] jiazhai commented on #9333
Ok, I will close this issue currently.

[2021-01-27 09:22] #9333 closed

[2021-01-27 10:36] eolivelli opened #9340 "NullPointerException while stopping "links localrun" with Ctrl-C"
**Describe the bug**

I ofter see this error while stopping a "localrun" of a sink with Ctrl-C

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Run a sink with localrun and press ctrl-C

**Expected behavior**
No exception to be logged, as it may look quite scary for the user

[2021-01-27 10:38] jack-tristan opened #9341 "In the failover cluster mode，topic and partitioned topic replicate subscription cannot work"
**Describe the bug**
1 non-partitioned topic stats
1.1 Primary cluster non-partitioned topic stats
# bin/pulsar-admin topics stats test-replicate/test-sub/str-dev-v4
{
  "msgRateIn" : 12.300029496700736,
  "msgThroughputIn" : 1303.803126650278,
  "msgRateOut" : 21.63338472525488,
  "msgThroughputOut" : 1320.6364483139644,
  "bytesInCounter" : 338342,
  "msgInCounter" : 3206,
  "bytesOutCounter" :

[2021-01-27 14:42] jkolash opened #9344 "Batch version of acknowledgeAsync will return a completed future before individual messages complete"
**Batch version of acknowledgeAsync will return a completed future before individual messages complete**
```acknowledgeAsync(Messages<?> messages)``` seems to return a completed future before futures of individual messages will complete. This also affects  the sync version of the call ```acknowledge(Messages<?> messages)```  also calls this method and also doesn't seem to be right.

From ConsumerB

[2021-01-27 15:14] rodrigoreis commented on #9311
@codelipenghui I will check and keep in touch, TY.

[2021-01-27 17:21] MarvinCai commented on #9332
@sijie It's happened to be removed by this pr: https://github.com/apache/pulsar/pull/9280, I think no additional action needed.

[2021-01-27 17:22] MarvinCai commented on #9324
Spring repo is already removed: https://github.com/apache/pulsar/pull/9280, please rebase on the latest master.

[2021-01-27 18:06] csthomas1 opened #9345 "Function worker config item "maxPendingAsyncRequests" not passed to function instances under Process or Kubernetes Runtimes"
**Describe the bug**
When I enable either the Process or Kubernetes function Runtimes and set the parameter "maxPendingAsyncRequests" to a value other than 1000 in the function worker configuration (e.g. functions_worker.yml), any function instances launched by the worker continue to have maxPendingAsyncRequests = 1000. I'd like to be adjust this parameter to guard against my function running out

[2021-01-27 19:29] GLouMcK opened #9347 "Security Vulnerabilities - Black Duck Scan"
Black Duck, a product by Synopsys that scans for open source security threats, uncovered a few issues in the Docker image in repository apachepulsar/pulsar-all for tag 2.7.0.

The vulnerabilities reported were:
CVE-2018-8088 - org.slf4j.ext.EventData in the slf4j-ext module allows remote attackers to bypass intended access restrictions via crafted data.
CVE-2019-17638 - In Eclipse Jetty, versions

[2021-01-27 19:38] Alxander64 commented on #9267
I learned about that just recently, but I believe it doesn't quite fit what I was aiming for. I was hoping there could be some similar setting at the topic-level, or even for individual subscriptions, because I believe that setting is applied to an entire namespace.

[2021-01-27 20:03] pointearth commented on #6734
Can you guys open this ticket and finish it or move it to a suitable appointment? appreciate!
[Add readCompact option #7461](https://github.com/apache/pulsar/pull/7461 )

[2021-01-27 23:57] fayce66 commented on #9317
it still does not work for me, I tried to simplify my code to get closer to your example and I even hard-coded the partition key, but it still does not work. I run the producer for 1 or 2 mins to produce few messages then I launch the consumer expecting only the last message but I get:

[code]
Also, if I stop the producer and let the consumer receive all the messages, then restart just the consume

[2021-01-28 02:17] BewareMyPower commented on #9317
@fayce66 Sorry it's a new API. For the old client, you can use

[code]

In addition, I suspect it's not a client side problem but just your compaction failed. You can run a Java consumer to see whether it works. Could you check your broker logs when you did the topic compaction? Here's my logs:

[code]

[2021-01-28 02:36] Anonymitaet commented on #9084
Confirmed w/ @Renkai, currently they are solving this issue. Will add docs later.

[2021-01-28 03:10] codelipenghui commented on #9347
@GLouMcK I think there are a couple of CVE related fixes in the master branch. Could you please check if the problem still in the master branch?

[2021-01-28 03:33] Anonymitaet commented on #9174
@eolivelli would you like to add docs for this change?

[2021-01-28 03:46] congbobo184 commented on #9344
This is a bug for ack receipt, are you interested in fixing it?

[2021-01-28 03:58] Anonymitaet commented on #9084
Confirmed w/ @Renkai, it might take some time to solve this issue, but now I can add the workaround to docs to make users clear.

[2021-01-28 05:06] oznitecki opened #9352 "New Subscription mode: key_block"
I would like to suggest a new subscription mode that blocks a message key from being delivered to consumers while it has a message that did not get ack or timeout yet.

The use case is:
You have many messages with different keys on the same topic. The keys are repeating like another update on the same issue, and when they do the order needs to be guaranteed. Example topic:
Key:message
1:hello
2:go

[2021-01-28 05:24] congbobo184 commented on #9297
@wuYin in the certain case, if we close the broker graceful shutdown, we don't need to wait the zk session timeout. you can look https://github.com/apache/pulsar-helm-chart/pull/59 and upgrade the helm chart to 2.6.1-2 or hight version?

[2021-01-28 06:21] #9324 closed

[2021-01-28 06:22] codelipenghui commented on #9311
Thanks @rodrigoreis

[2021-01-28 06:53] codelipenghui commented on #9271
@MarvinCai Thanks, one thing I want to add is the ledger been removed does not means the disk's resource will be released. It's related to the bookkeeper side. Bookkeeper will remove the data from the disk after the compaction task triggered or all of ledgers of an entry log been deleted. So @lichuan6 It's better to produce more data and make sure the ledger rollovered and wait for a while.

[2021-01-28 06:54] codelipenghui commented on #9267
@Alxander64 The topic level policy is supported a 2.7.0 but not able for individual subscriptions.

[2021-01-28 06:55] codelipenghui commented on #9266
Thanks @Renkai

[2021-01-28 06:58] #9250 closed

[2021-01-28 07:01] codelipenghui commented on #8815
Cool @fmiguelez Would you please push a PR to enable this great plugin? Also, this should be check in the CI to avoid introduce some known CVE issues.

[2021-01-28 07:04] zymap commented on #9330
@maimom1924 Looks like this issue already addressed by this PR https://github.com/apache/pulsar/pull/6362. You can try with 2.5.1 or higher version to test it.

[2021-01-28 07:04] fayce66 commented on #9317
I don't see any option to start the bin/pulsar-client with topic compaction...am i wrong? I tried to test it this way but the help message does not say how to set the read compacted to true:

[code]

[2021-01-28 07:26] BewareMyPower commented on #9317
My description before might be a little confused.

The logs I showed before was from broker side with the compaction command `bin/pulsar-admin topics compact xyz-topic`. The broker itself uses an internal `ConsumerImpl` to consume messages and then do compaction. I just want you to check if your topic compaction was performed. The steps is easy:

1. Run a pulsar standalone in front end: `bin/pulsa

[2021-01-28 07:34] fayce66 commented on #9317
OK, I rerun the pulsar-admin topics compact commands and effectively I can see some __compaction messages in the log now, and I restarted my client and it looks like it is working now. I did that 2 times yesterday and it did not work, that is strange. FYI, I stop and restart the pulsar-daemon every morning. Are the configurations saved or do I have to re-run the topics commands all the time I rest

[2021-01-28 07:37] zymap commented on #7242
@Jennifer88huang @Anonymitaet Could you please help me to update the example to here: http://pulsar.apache.org/docs/en/2.2.1/reference-configuration/#log4j

[2021-01-28 07:46] fayce66 commented on #9317
OK, what I have noticed is the following: if my producer produces more messages while my consumer is not started, the first time I start the consumer, it will receive all missed messages for the subscription. If I stop/restart the consumer with the same subscription, it will receive only the last message/key. Is that a normal behavior? In your test, your producer does not produce more messages bef

[2021-01-28 07:55] BewareMyPower commented on #9317
I just did another test:

1. Produce 10 messages.
2. Compact the topic.
3. Run consumer with `sub1`, only 1 message was received:

[code]

4. Produce another 10 messages.
5. Run consumer with `sub2`, 11 messages were received:

[code]

I think the behavior is normal. Or did I just misunderstand?

[2021-01-28 08:07] fayce66 commented on #9317
OK so basically you have the same results as me now. Maybe my mistake but I don't understand the topic compaction is functioning like this. My understanding is that it should always return the last message/key period, even if more messages have been produced in the meantime, that is the whole point. The consumer is not interested in past messages, only the last values, like a last-value queue...it

[2021-01-28 08:21] BewareMyPower commented on #9317
Yeah, the command is just a manual compaction for old messages. A manual compaction is just compacting the existed messages but not compact all old messages when a new message arrive, which is inefficient. Topic compaction's purpose is mainly for reducing storage.

If you have a consumer that subscribes a topic, even if no compaction was done, the consumer will always read the latest message becau

[2021-01-28 08:28] jack-tristan opened #9355 "In the failover cluster mode, consumers switch to the standby cluster and report: Topic does not have schema to check"
**Describe the bug**
In the failover cluster mode, consumers switch to the standby cluster and report: Topic does not have schema to check

**To Reproduce**
Steps to reproduce the behavior:
1. Set failover cluster;
2. In primary cluster produce and consume data by replicate subscription;
3. Consumers switch to the standby cluster to consume topic;
4. Consumers report error "Topic does not have sch

[2021-01-28 08:32] fayce66 commented on #9317
OK, so basically when I restart my consumers, the best thing to do is to trigger topic compaction manually before I restarted them so that I get only the last message/key correct? if at least it works like this, then it is fine, but the documentation is confusing. I thought the compaction was done automatically behind the scenes when new messages are produced.

[2021-01-28 08:45] Jennifer88huang commented on #7242
@zymap sure, we're more than glad to do that.

[2021-01-28 09:09] jack-tristan commented on #9341
Separate topic partition stats :
# bin/pulsar-admin topics stats test-replicate/test-sub/pt-str-dev-v3-partition-2
{
  "msgRateIn" : 0.0,
  "msgThroughputIn" : 0.0,
  "msgRateOut" : 0.0,
  "msgThroughputOut" : 0.0,
  "bytesInCounter" : 147714,
  "msgInCounter" : 1470,
  "bytesOutCounter" : 0,
  "msgOutCounter" : 0,
  "averageMsgSize" : 0.0,
  "msgChunkPublished" : false,
  "storageSize" : 147714,

[2021-01-28 09:16] BewareMyPower commented on #9317
Yes.

I think `manual` is redundant, because the automatic compaction does the same as the manual compaction. IMO, it should be emphasized that compaction here should be treated as an action that could be triggered. However, topic compaction is also a feature that is applied to a topic. So `run compaction on a topic` might be misunderstood as **applying this feature on a topic**.

[2021-01-28 09:39] wuYin commented on #9297
Thanks for finding this detail. I really didn't noticed, I'll use release which contains this feature.
To avoid unavailability caused by flaky case, I implemented serious timeout degradation for my application.
If it happen again and steadily, I'll reopen this issue and add more context.
Thank you for helping.

[2021-01-28 09:39] #9297 closed

[2021-01-28 14:10] frankjkelly commented on #9266
Thanks indeed - we are using Pulsar 2.6.1 - is there any chance this could be back ported to the next maintenance release (2.6.4?)

[2021-01-28 14:22] codelipenghui commented on #9266
Hi, @frankjkelly. Sorry, the next release version is 2.7.1 and we do not have a plan to release 2.6.x. If you want to apply this patch, we can help to cherry-pick this fix to the branch-2.6 and you can build it by yourself.

And the streamnative.io have a weekly release at https://github.com/streamnative/pulsar/releases, https://hub.docker.com/r/streamnative/pulsar/tags?page=1&ordering=last_update

[2021-01-28 22:14] csthomas1 opened #9360 "KubernetesRuntime translates pulsar object names to values that are RFC1123-compliant when generating Kubernetes Resource Specs"
**Is your enhancement request related to a problem? Please describe.**
Currently, it's valid to (via pulsar-admin and the admin rest api) specify names that include the colon ':' character. For example, I can create a namespace via pulsar-admin and the rest api as something like 'my:example:namespace'. We've found this useful for purposes of adding structure to object names that is then easier to

[2021-01-29 02:42] fayce66 commented on #9317
Can we close this issue since you explained that pulsar behavior is normal regarding topic compaction?

[2021-01-29 02:49] BewareMyPower commented on #9317
OK, I think you can close it. It looks like issues can only be closed by author and committers.

[2021-01-29 06:10] #7814 closed

[2021-01-29 06:16] wolfstudy opened #9364 "[Deliver Message] The metric data of msgDelayed for partitioned topics is not aggregated"
**Describe the bug**

When using the deliverAfter interface, if the specified topic type is partitioned topic, then the indicator msgDelayed will always be displayed as 0.

[code]

Output:

![image](https://user-images.githubusercontent.com/20965307/106238469-e5078580-623b-11eb-8cf4-9ca7d7942d20.png)

**To Reproduce**
Steps to reproduce the behavior:

1. start standalone
2. start consumer and rece

[2021-01-29 06:18] wolfstudy commented on #9364
And the `standalone.conf` as follows:

[code]

And in consumer, the sub type is `Shared`

[2021-01-29 10:15] Jennifer88huang commented on #7242
@larshelge Thank you for raising the issue. Yes,  you can  configure it directly in the `log4j2.yaml` file. I've added a reference in #9365. If you have further issue, feel free to leave comments there.

To make your configuration take effect, you need to configure it in [log4j2.yaml](https://github.com/apache/pulsar/blob/d557e0aa286866363bc6261dec87790c055db1b0/conf/log4j2.yaml#L155) file, and re

[2021-01-29 11:04] #9317 closed

[2021-01-29 12:08] xiaotongwang1 opened #9367 "Some changes we have made with pulsar (include some security improve)"
我最近针对pulsar开展项目预研，主要从安全加固方面做了一些分析并做了一些整改以满足一些基本安全要求。
Recently, I conducted a project pre-research for Pulsar, and analyzed security hardening and made some improvements to meet some basic security requirements.

当前已经在项目组内部完成基本测试，为了方便我们后续的版本能够跟随开源社区版本演进，我们期望社区commiter or PMC帮忙审核下，如果社区能够接纳我们修改的功能点，我将向公司提出申请，提交下面功能源码到开源社区
Basic tests have been completed in the project team. To facilitate future versi

[2021-01-29 14:51] lhotari opened #9368 "Flaky-test: MessagePublishBufferThrottleTest"
MessagePublishBufferThrottleTest is flaky.

The test method testBlockByPublishRateLimiting fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/1759277751?check_suite_focus=true#step:8:111)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
java.lang.AssertionError: expected [0] but found [1047553]
at org.testng.Assert.fail(Assert.java:99)
at org.te

[2021-01-29 18:03] lhotari opened #9369 "Flaky-test: TopicReaderTest.testMultiReaderIsAbleToSeekWithTimeOnMiddleOfTopic"
TopicReaderTest is flaky. The testMultiReaderIsAbleToSeekWithTimeOnMiddleOfTopic test method fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/1767404805?check_suite_focus=true#step:8:1493)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
Error:  Tests run: 46, Failures: 1, Errors: 0, Skipped: 1, Time elapsed: 621.288 s <<< FAILURE! - in org.ap

[2021-01-29 19:41] alpna13 opened #9370 "Consumer with KEY_SHARED subscription is not working with encrypted topic"
#### Expected behavior

It should be able to consume from the Topic

#### Actual behavior

Consumer(With **Key_Shared** subscription) unable to consume the messages from Topic

#### Steps to reproduce
This is how we creating the consumer -

consumer = pulsarClient.newConsumer(Schema.BYTES)
.subscriptionMode(SubscriptionMode.Durable)
.topic(vmbConfig.getTopic())
.cryptoKeyReader(new RawFileKeyReade

[2021-01-29 22:21] nlu90 commented on #9310
Hi, I checked code and doc. Found that this feature is already available here:
https://github.com/apache/pulsar/blob/master/pulsar-functions/runtime/src/main/java/org/apache/pulsar/functions/runtime/kubernetes/BasicKubernetesManifestCustomizer.java#L53

But, the current doc doesn't mention it explicitly:
https://pulsar.apache.org/docs/en/functions-runtime/

The provided JSON example could include

[2021-01-29 22:50] addisonj commented on #9352
@oznitecki Thanks for the feedback and suggestion.

A few questions to make sure I understand and understand your use case more:
1. Just to make sure I understand, would you want key 1 messages to be able to delivered to many consumers? But block on sending on sending any more messages until the latest key 1 message is processed? If Key 1, has many messages, this likely would be somewhat slow, as

[2021-01-30 04:07] #7242 closed

[2021-01-30 05:40] oznitecki commented on #9352
1. Key 1 messages can be processed by many consumers but only one at a time (like in key_shared). Like you said at the same time key 1 is being processed by one consumer, the others are free to take any message with different key. I think that maybe messages with same key should clamp together in some way to make it faster to skip all of them, as the order only matters in the same key and not the

[2021-01-30 14:18] Renkai opened #9374 "Use prebuilt C++ client to reduce test time for build image"
Build C++ client now use lots of GitHub actions resource in our test workflow. If we can skip this step when the C++ client code is not changed, the time to build the docker image in the integration test will be reduced significantly.

[2021-01-30 14:23] codelipenghui commented on #9367
@xiaotongwang1 Thanks for the detailed description. A better way to advance these fixes is to fix them one by one. Seems there are almost 10 issues that you have mentioned. It's better to start a new issue for each one to discuss in the community. Some of them might introduce compatibility issues, that should start a discussion in the dev email thread(dev@pulsar.apache.org), And if it is a bookkee

[2021-01-30 14:26] codelipenghui commented on #9370
@alpna13 There are no tests for covering the encrypted case, so I add a test in https://github.com/apache/pulsar/pull/9373. Would you please help check if it is the same as your test case? The test passed on my laptop.

[2021-01-30 14:36] codelipenghui commented on #9310
Thanks @nlu90, I will close this issue first. @TMeireOqton If this does not helps you feel free to reopen the issue.

[2021-01-30 14:36] #9310 closed

[2021-01-30 14:48] Renkai commented on #9369
I pull requested a patch, PTAL.

[2021-01-30 14:50] codelipenghui commented on #9352
@oznitecki I think you can try the `keyHashRange(Range... ranges)` on the Reader API. This one more like a key hash filter that will not the queue as a whole.

[2021-01-30 14:54] codelipenghui commented on #9330
@maimom1924 @zymap I will close this issue first, feel free to reopen it if needed.

[2021-01-30 14:56] codelipenghui commented on #9327
@Lanayx I think this should be fixed at the retry topic part. I think the way to get around is to specified the retry topic name?

[2021-01-30 15:02] oznitecki commented on #9352
@codelipenghui no, it will only let you control which keys are stuck with which consumer. I do not want the keys to be stuck with a specific consumer, just blocked from being sent while being processed by one of the consumers. It is a looser definition that can prevent the broker from being stuck waiting for a specific consumer for many different messages which are all in the same hash range

[2021-01-30 15:05] Renkai commented on #9368
A patch pull requested.

[2021-01-30 15:17] codelipenghui commented on #9341
@jack-tristan Have you tried creating the subscription in the remote cluster first and then produce messages and consume messages (enabled the replicated subscription)?

[2021-01-30 15:21] codelipenghui commented on #9311
@rodrigoreis I will close this issue first. Feel free to reopen it if needed.

[2021-01-30 15:21] #9311 closed

[2021-01-30 15:24] codelipenghui commented on #9294
@wangshuyu Is this the last comment that works for you? I will close this issue first since no update on this issue. Feel free to reopen it if you still have some doubt about this issue.

[2021-01-30 15:24] #9294 closed

[2021-01-30 15:28] codelipenghui commented on #9271
@lichuan6 Does the new update works for you?

[2021-01-30 15:34] codelipenghui commented on #9242
@joncashe Sorry for the late response, could you please provide the broker logs? This will help us to locate the problem.

[2021-01-30 15:36] freeznet commented on #9315
I have initialized a pr to fix this issue. Please take a look when the pr is ready to review, thanks.

[2021-01-30 15:37] codelipenghui commented on #9234
@Shoothzj Which version are you using? And is it possible to make a thread dump?

[2021-01-30 15:40] codelipenghui commented on #9233
@thanhcb Which pulsar version are you using? If it is a problem that can be reproduced stably, could you please provide the reproduce steps such as which schema are you using when to produce the messages

[2021-01-30 15:43] codelipenghui commented on #9227
The consumer buffer full means the consumer does not have more space(recieverQueueSize) for the new messages, could you please check the topic stats and internal-stats of the topic that debezium connector used? `bin/pulsar-admin topics stats` and `bin/pulsar-admin topics stats-internal`

[2021-01-30 15:52] codelipenghui commented on #9197
@dlsprague Do you use the same configuration store for the both 2 clusters?

[2021-01-30 15:54] codelipenghui commented on #9189
Currently, we do not have a formatter file.

[2021-01-30 15:55] codelipenghui commented on #9187
Close this issue via #9313 @WalterMa feel free to reopen it if needed.

[2021-01-30 15:55] #9187 closed

[2021-01-30 15:56] #9177 closed

[2021-01-30 16:01] codelipenghui commented on #9144
Seems the problem is related to the broker can't connect to the zookeeper. It should to check the zookeeper whether available and the network between the broker and zookeeper(Firewall or others). Close this issue first since no update for a long time.

[2021-01-30 16:01] #9144 closed

[2021-01-30 16:03] #9142 closed

[2021-01-30 16:07] codelipenghui commented on #9141
@klevy-toast You are right, the PIP-58 is e enough to manually implement the back-off logic. It's easy to support exponential back-off for the redelivery since we have exposed the redelivery count to the client-side.

[2021-01-30 16:12] codelipenghui commented on #9114
@zymap Could you please help take a look at this issue? Any cases that the entry id is -1?

[2021-01-30 16:15] codelipenghui commented on #9092
@lichuan6 Close this issue first, feel free to reopen it if needed.

[2021-01-30 16:15] #9092 closed

[2021-01-30 16:18] codelipenghui commented on #9089
@kyontan Sorry for the late response and thanks for the feedback. We will take a look soon.

[2021-01-30 16:20] #9080 closed

[2021-01-30 16:23] codelipenghui commented on #9078
@xiaotongwang1 Sorry for the late response, the total lag is equaled to the `msgBacklogs` in the topic stats.

[2021-01-30 16:26] codelipenghui commented on #9040
@balakrishna222111 Any update for this issue?

[2021-01-30 17:16] codelipenghui commented on #9352
Sorry @oznitecki , could you please give an example that the key_shared can’t works but key_block can works to make sure we are on the same page. Thanks.

[2021-01-30 19:13] klwilson227 commented on #9315
Thank you

[2021-01-30 21:11] Lanayx commented on #9327
@codelipenghui Hi! I'm the author of the .net client, so [I've already fixed it there](https://github.com/fsharplang-ru/pulsar-client-dotnet/blob/develop/src/Pulsar.Client/Api/ConsumerBuilder.fs#L63-L65), just wanted to notify the team that other clients should be fixed as well. Specifying the retry and dead letter topic names as a workaround will work.

[2021-01-31 05:09] oznitecki commented on #9352
@codelipenghui example:
Say you have 4 keys, 2 of them get 1000 messages per second and the other 2 get 1 message per second but you do not know in advance which is which (and to make it more complicated you could say the message overload picture change every couple of days). No matter how you will split the key range between 2 consumers there could be a case where both overloaded keys are attache

[2021-01-31 13:19] maimom1924 commented on #9330
Dear sir/madam,

Thank you so much for your help and support. I tried to test with version
2.5.1 but when there is no message on the topic and I call the
reader.hasMessageAvailable(),  I got true value. Could you please help
check on this?

Regards,
Mai Mom

Reader<byte[]> reader = pulsarClient.newReader()
        .topic(config.getStateTopic())
        .startMessageId(MessageId.latest)
        .st

[2021-02-01 00:03] michaeljmarshall commented on #6368
I'm taking a look at this test failure. I already have a promising theory, but need to dig a bit deeper. I'll post more detail later tonight.

[2021-02-01 01:09] zymap commented on #9330
@maimom1924 I think it's the right behavior because you specified the `startMessageIdInclusive` which means you can read out the last message.

[2021-02-01 01:21] zymap commented on #9086
@bry00 @sixhj Sorry for the delay.

We already re-upload the python package to PyPI, please try again.

We supported python 3.8 and will consider adding python 3.9 support.

[2021-02-01 01:54] maimom1924 commented on #9330
so even though there is no message, that should return true, right?

On Mon, Feb 1, 2021, 10:09 AM Yong Zhang <notifications@github.com> wrote:

[2021-02-01 02:10] #9368 closed

[2021-02-01 02:14] #9369 closed

[2021-02-01 04:57] michaeljmarshall commented on #6368
The fundamental problem with this test is that the broker's implementation of anti-affinity does not guarantee that two namespaces in the same anti-affinity group will be placed on different broker nodes. When all of the preferred brokers are overloaded, the `selectBrokerForAssignment` method will choose a broker that has a namespace in the same anti-affinity group. However, the test essentially a

[2021-02-01 05:46] freeznet commented on #9315
@klwilson227 the pr is ready to review, PTAL, thanks.

[2021-02-01 06:20] lhotari commented on #6368
nice work @michaeljmarshall

[2021-02-01 06:31] Renkai commented on #9084
A workaround patch in doc is available here.
https://github.com/apache/pulsar/pull/9366

[2021-02-01 08:56] zymap commented on #9330
Yes. After reading the last message, then the `reader. hasMessageAvailable` will return false.

[2021-02-01 13:36] cdbartholomew commented on #8091
@alex-rufo I have a patch for this. I will open a PR soon.

[2021-02-01 14:32] codelipenghui commented on #9352
@oznitecki From your last comment, I think the problem that you have described is the key range distribution problem, the current implementation does not consider the consumer overloaded and no re-assign key ranges mechanism.

[2021-02-01 14:55] #4747 closed

[2021-02-01 14:55] #7652 closed

[2021-02-01 14:58] oznitecki commented on #9352
@codelipenghui releasing the consumer key assignment (hash) take us back to the shared case where every message can be consumed by any consumer. Adding key block makes sure that the same key is not consumed on 2 consumers on the same time

[2021-02-01 15:23] david-streamlio opened #9402 "Create a trigger immediately and once batch schedule trigger"
**Is your enhancement request related to a problem? Please describe.**
Extend the selection of batch scheduler triggers to include a trigger immediately and once batch schedule trigger

**Describe the solution you'd like**
A batch function scheduler that will schedule the function to run immediately upon submission

**Describe alternatives you've considered**
Using a CRON scheduler, but it periodi

[2021-02-01 15:30] Renkai commented on #9189
We have a checkstyle file that enabled on many modules, https://github.com/apache/pulsar/blob/cc64889abe94d47f048e2f8e8fb10d6c37e695ec/buildtools/src/main/resources/pulsar/checkstyle.xml

But it's not a formatter, you'd better configure your own formatter to conform to the checkstyle.

[2021-02-01 15:51] Svade905 opened #9404 "Setting Version of Python Function"
#### Expected behavior

Upon getting a deployed function's info using the pulsar-admin tool, the version of the function is not outputted. I'm expecting the version to be outputted.

#### Actual behavior

No version is outputted of the deployed function. I'm wondering where the version info is pulled from when deploying a pulsar function written in Python and when deployed using the .py file.

Whe

[2021-02-01 17:46] lhotari opened #9407 "Flaky-test: org.apache.pulsar.admin.cli.PulsarAdminToolTest.topics"
`org.apache.pulsar.admin.cli.PulsarAdminToolTest` is flaky. The `topics` test method fails sporadically.

[code]

[example failure 2021-02-01T10:05:15.6110573Z](https://github.com/apache/pulsar/runs/1804916977?check_suite_focus=true#step:6:18156)
[example failure 2021-02-01T09:55:20.1615674Z](https://github.com/apache/pulsar/runs/1804916977?check_suite_focus=true#step:6:12063)
[example failure 202

[2021-02-01 17:55] lhotari opened #9408 "Flaky-test: org.apache.pulsar.broker.loadbalance.LoadBalancerTest.testLeaderElection"
org.apache.pulsar.broker.loadbalance.LoadBalancerTest is flaky. The testLeaderElection test method fails sporadically.

[code]
Usage tip: To enable automatic navigation to failure message, open the links with CTRL/CMD-click.
[example failure 2021-02-01T13:40:12.3522919Z](https://github.com/apache/pulsar/runs/1806657480?check_suite_focus=true#step:9:1994)
[example failure 2021-02-01T11:54:58.860410

[2021-02-01 17:57] lhotari opened #9409 "Flaky-test: org.apache.pulsar.broker.service.ConsumedLedgersTrimTest.testConsumedLedgersTrimNoSubscriptions"
org.apache.pulsar.broker.service.ConsumedLedgersTrimTest is flaky. The testConsumedLedgersTrimNoSubscriptions test method fails sporadically.

[code]
Usage tip: To enable automatic navigation to failure message, open the links with CTRL/CMD-click.
[example failure 2021-02-01T13:27:38.6355573Z](https://github.com/apache/pulsar/runs/1806657480?check_suite_focus=true#step:9:1303)
[example failure 202

[2021-02-01 17:58] vkvm opened #9410 "[Doc] Improve documentation on how to build python client wheels"
## Problem

There are several scripts involved. As a new user I fumbled my way through figuring what I needed to run in order to get a python 3.9 wheel built. See PR #9389 . I also fixed a couple of minor issues in the process.

## Desired outcome

The goal is to make it easier to do this for new or existing python versions without any surprises. This may involve more than documentation -- for exa

[2021-02-01 20:23] alpna13 commented on #9370
We tested with the same code and in the same way but didn't work for us. Is there anything we need to take care while using **Key_Shared** subscription?

[2021-02-01 22:16] cdbartholomew commented on #8091
Here is the PR: https://github.com/apache/pulsar/pull/9411

[2021-02-02 00:37] #8089 closed

[2021-02-02 00:45] sijie commented on #8091
@alexku7 I believe you are already able to use password and JWT authentication methods in presto. We have enabled that in our helm chart (https://github.com/streamnative/charts/blob/master/charts/pulsar/templates/presto/presto-coordinator-configmap.yaml#L258). If you are running Pulsar on Kubernetes, you can checkout our latest chart.

[2021-02-02 00:57] cdbartholomew commented on #8091
Adding the configuration will just cause the server to fail to start, like this:

[code]

To get it to work, you to do item 2, listed above: "include the plugin https://mvnrepository.com/artifact/io.prestosql/presto-password-authenticators in the pulsar image and put in the presto plugin folder."

If you don't believe me, you are welcome try it.

[2021-02-02 01:10] maimom1924 commented on #9330
@zymap I mean that the topic is completely empty, so the `reader. hasMessageAvailable` should return false, right? but I got true value.

[2021-02-02 01:38] dlg99 opened #9414 "Pulsar can get stuck on a single unreadable entry"
**Describe the bug**

Pulsar can get stuck on a single unreadable entry in bookkeeper

**To Reproduce**

Increase max message size from the default 5M to i.e 10M.
Write a ledger/stream with entries under 5M, entry < 5M, and then some that are less than 5M.
reduce max message size back to 5M.

try to process the ledger

Pulsar gets stuck on the entry > 5M and `autoSkipNonRecoverableData` does not h

[2021-02-02 03:24] jiazhai commented on #9414
@dlg99 Thanks for open this issue, Would you like to provide a fix for this?

[2021-02-02 03:26] jiazhai commented on #9410
Thanks @vkvm for tracking this issue.

[2021-02-02 03:31] jiazhai commented on #9409
Thanks @lhotari for tracking this issue, Are you working on this issue?

[2021-02-02 03:32] freeznet commented on #9404
I think [PIP 50](https://github.com/apache/pulsar/wiki/PIP-50%3A-Package-Management) already give a solution to this issue. Once package management is released, user can define and manage function version by package.
You can also check the pre-released version's document here: http://pulsar.apache.org/docs/en/next/admin-api-packages/

[2021-02-02 03:35] lichuan6 commented on #9271
@codelipenghui
Sorry for the late reply.

I notice there's a `managedLedgerMaxLedgerRolloverTimeMinutes` config which has a default value of 240(4hrs), which will close the managed ledger and trigger(I guess) the retention to work. The messages were deleted the next morning, apparently more than 4hrs.

@MarvinCai Thanks for your clarification, that helps a lot.

[2021-02-02 03:36] jiazhai commented on #9407
Thanks @lhotari for tracking this issue

[2021-02-02 03:41] jiazhai commented on #9374
@Renkai Are you working on this issue?

[2021-02-02 03:42] Renkai commented on #9374
@jiazhai Sure, I'm working on it

[2021-02-02 03:43] jiazhai commented on #9374
Thanks, will assign it to you

[2021-02-02 03:46] freeznet commented on #9360
@csthomas1 yes we should create a conversion for namespace as well like we do for the pod names. But I think Pulsar already provide a `ManifestCustomizer` interface for k8s, so you can implement the interface to make your own customizer. Also pr is welcome to add the rfc1123 conversion for namespace in k8s runtime.

ref: https://github.com/apache/pulsar/blob/db6afd52841108b0c35f0a0bdd0759f5243d93e

[2021-02-02 03:47] jiazhai commented on #9370
@alpna13, @codelipenghui's test is based on master, Would you please help try the latest master?

[2021-02-02 03:49] zymap commented on #9330
@maimom1924

[code]

I create a empty topic and it returns false.

[2021-02-02 03:51] #9156 closed

[2021-02-02 04:13] zymap commented on #9330
Sorry for my misunderstanding. Yes, if the topic is empty, it should return false.

I found there has some PRs are fixing this issue: #9316 and #8735

[2021-02-02 04:24] Jennifer88huang opened #9415 "What's the default value for TTL"
**Describe the bug**
When I check `set-message-ttl` in Pulsar docs, and found that the default values for it changes since Pulsar 2.6.2.

![image](https://user-images.githubusercontent.com/47805623/106551924-3de36080-6551-11eb-8267-08a948a4dd05.png)

Is the default value `0` before 2.6.2 and `3600` after 2.6.2, or does one default value (`0` or `3600`) apply for all versions?

[2021-02-02 04:26] Jennifer88huang commented on #9415
@jianyun8023 @codelipenghui could you please help confirm the default value for it? Thank you.

[2021-02-02 04:29] dragonls opened #9416 "[Doc] Optimize helm deploy description about the first deployment"
# Problem
For the first deployment using helm, the command `helm upgrade --install pulsar apache/pulsar --timeout 10m --set [your configuration options]` in current document can not deploy pulsar cluster sucessfully.

The bookie pod will be blocked at `Init:0/1` satus, waiting `bin/bookkeeper shell whatisinstanceid`.

The `--set initialize=true` option is necessary for initializing bookie and puls

[2021-02-02 04:35] Jennifer88huang opened #9418 "Disconnection of Pulsar name verification and Kubernetes name verification"
**Describe the bug**
I have a question about permitted characters for pulsar object names -- in particular namespaces, functions, and topics.
Currently, it's valid to (via pulsar-admin and the admin rest api) specify names that include the colon ':' character. For example, I can create a namespace via pulsar-admin and the rest api as something like 'my:example:namespace'. We've found this useful f

[2021-02-02 04:37] Jennifer88huang commented on #9418
Shall we add a note in Pulsar doc and ask users to follow Kubernetes’ naming convention to define their pulsar resource name? Or would it be a valid solution to submit a patch to the KubernetesRuntime that would translate the pulsar names to characters that are compatible with [RFC1123](https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names)? There's already similar logic f

[2021-02-02 04:51] merlimat commented on #9414
[code]
The `BKBookieHandleNotAvailableException` is thrown when the client is not able to connect to a bookie, so this fix would result in a lot of data dropped :)

[2021-02-02 04:53] 315157973 commented on #9407
I will try to solve

[2021-02-02 04:55] 315157973 commented on #9407
Are you using the latest code? It seems to be fixed here
https://github.com/apache/pulsar/pull/9350#event-4260872708

[2021-02-02 05:48] dlg99 commented on #9414
@merlimat hence this and not a pull request.
The decent fix would require change not the bookie side to handle this situation differently/return a different error,

[2021-02-02 06:36] lhotari commented on #9409
@jiazhai No I'm not working on this one. Feel free to pick this. :)

[2021-02-02 06:39] lhotari commented on #9407
This failure showed up in the build failure log analysis that I was running yesterday. I'm sorry I didn't test manually on latest master branch before reporting. I'll check if I can reproduce or not.

[2021-02-02 06:44] lhotari commented on #9407
@315157973 Yes you were right that this has been fixed. I wasn't able to reproduce flakiness. I guess that the master branch had broke and that's why the logs filled up with errors from this test. I'll close this issue.

[2021-02-02 06:44] #9407 closed

[2021-02-02 07:31] jack-tristan commented on #9341
@codelipenghui
I had tried again( creating the subscription in the remote cluster first and then produce messages and consume messages)，but it does not work well too.

I enabled the replicated subscription :

[code]

Primary cluster non-partitioned topic stats

[code]

Standby cluster non-partitioned topic stats

[code]

[2021-02-02 09:41] Jennifer88huang opened #9423 "Does Java client support multiple listener threads in Pulsar"
Hi, about the listener threads.
I have pulsar client in java configured like this:
[code]
But client appears to be using just a single thread while reading messages (i am using the reader not consumer)
When looking at java threads i can see only one
[code]
What am i doing wrong? (edited)

sijieg
listener thread is used for MessageListener. If you are using reader, I don’t think you will use Messag

[2021-02-02 09:45] Jennifer88huang commented on #9423
@Anonymitaet could you please help check and fix it if needed? Thank you.

[2021-02-02 09:47] Jennifer88huang commented on #9418
@Anonymitaet I'll take this issue this week.

[2021-02-02 09:50] Jennifer88huang commented on #9415
Consulted @codelipenghui, the default value should be `0` for TTL, in order not to lose data.
Fix it in #9395

[2021-02-02 10:36] lhotari commented on #9408
I have started work on fixing this flaky test.

[2021-02-02 10:54] lhotari commented on #9408
I was able to reproduce the flakiness and I made some changes in https://github.com/apache/pulsar/compare/master...lhotari:lh-fix-flaky-load-balancer-test . However the flakiness doesn't go away.
The logs are in https://gist.github.com/lhotari/0653dc5d9ca418a1bca2d01a632fd655 .

The problem is that the leader doesn't get assigned to one of the follower brokers. The value of the current leaders sta

[2021-02-02 10:58] lhotari commented on #9408
This was the stacktrace for the NPE that I happened to come across. I wonder if this is a corner case at startup time. The NPE happened in a log statement. I just wonder why the stack is so deep.
[code]

[2021-02-02 11:13] lhotari commented on #9408
@merlimat Would you mind taking a look at the comments in this issue? It seems that the flakiness might be related to recent [PIP-45](https://github.com/apache/pulsar/wiki/PIP-45%3A-Pluggable-metadata-interface) changes.

The stack trace with 1024 stack frames seems concerning. The same lines seem to repeat there, looking like a very deep recursion. Is there an explanation for this?

[2021-02-02 11:24] YanshuoH opened #9424 "InvalidToken while using AWS WebIdentityTokenFile within EKS to offload a topic"
Hi,

**Describe the bug**

As deploying Pulsar inside AWS EKS (Kubernetes hosted by AWS), while trying to use the WebIdentityTokenFile to assume the AWS role in order to offload ledgers into S3 Bucket, I've encountered exceptions like:

[code]

To assume a role inside a pod inside EKS, we rely on a environement variable called `AWS_WEB_IDENTITY_TOKEN_FILE` which is pretty much a standard IAM autho

[2021-02-02 13:48] Renkai opened #9425 "Use an interface instead of `NavigableMap<Long, LedgerInfo> ledgers` in `ManagedLedgerImpl`"
Currently, we use a map to store the ledger metadata and sync it to Zookeeper somewhen.
This way exposed too many low-level details, which is easy to make bugs (see https://github.com/apache/pulsar/pull/9306), and it could be a block to let us make some advanced features like offload frozen metadata to other storage.
I would abstract it to an independent interface by several patches.

[2021-02-02 15:59] klevy-toast commented on #9141
@codelipenghui would it be reasonable to create a retry strategy as I described, so that many pulsar users could quickly utilize exponential back-off without re-implementing the logic every time?

[2021-02-02 16:58] fmiguelez opened #9428 "Sink instances die (and do not restart automatically) due to "Bookie handle is not available" error"
**Describe the bug**
We have a cluster with 3 brokers and 3 bookies. We are facing issues with our sink that writes to an external DB. This sink reads from 36 topics using 3 instances. Each topic data goes to a DB table.

The thing is that now and then our instances die with error below (that does not reach our sink code). Eventually all three instances die.

**To Reproduce**
We are producing data

[2021-02-02 17:06] lhotari commented on #6646
`org.apache.pulsar.tests.integration.functions.PulsarFunctionsTest.testSlidingCountWindowTest` remains flaky. Some recent failure examples:

[code]

[example failure 2021-01-28T19:16:59.1176690Z](https://github.com/apache/pulsar/runs/1784534907?check_suite_focus=true#step:12:10982)
[example failure 2021-01-28T04:22:25.8132034Z](https://github.com/apache/pulsar/runs/1781267517?check_suite_focus=tru

[2021-02-02 17:07] lhotari commented on #6646
`org.apache.pulsar.tests.integration.functions.PulsarFunctionsTest.testTumblingCountWindowTest` remains flaky. Some recent failures:

[code]

[example failure 2021-01-26T18:11:46.1167331Z](https://github.com/apache/pulsar/runs/1769412890?check_suite_focus=true#step:12:6249)
[example failure 2021-01-26T18:10:57.8020102Z](https://github.com/apache/pulsar/runs/1769413064?check_suite_focus=true#step:1

[2021-02-02 17:14] lhotari commented on #6646
There are a lot of failures in tests in PulsarFunctionsTest class. The issues might be the same so I propose to take a look at other failures too. I have uploaded the list of test failures I have mined from the Pulsar build logs to https://gist.github.com/lhotari/9bae3e16674c297a6bbc2b4831515a74 .

[2021-02-02 17:19] Alxander64 commented on #9267
Interesting, is there any plan to support this for individual subscriptions, or is there something holding it back?

[2021-02-02 17:20] david-streamlio opened #9430 "Add deleteState method to org.apache.pulsar.io.core.ConnectorContext"
**Is your enhancement request related to a problem? Please describe.**
The org.apache.pulsar.io.core.ConnectorContext interface already defines the methods `putState()` and `getState()`. We should add a method called `deleteState()` to the interface as well.

**Describe the solution you'd like**
Add deleteState() method to the ConnectorContext interface
Add implementation of the deleteState() meth

[2021-02-02 17:29] lhotari opened #9431 "Flaky-test: V1_ProducerConsumerTest.testConcurrentConsumerReceiveWhileReconnect"
org.apache.pulsar.client.api.v1.V1_ProducerConsumerTest is flaky. The testConcurrentConsumerReceiveWhileReconnect test method fails sporadically.

[code]
Usage tip: To enable automatic navigation to failure message, open the links with CTRL/CMD-click.
[example failure 2021-02-01T11:51:46.1541792Z](https://github.com/apache/pulsar/runs/1805502919?check_suite_focus=true#step:9:1422)
[example failure

[2021-02-02 17:31] lhotari opened #9432 "Flaky-test: NPE in CompactionTest.cleanup"
org.apache.pulsar.compaction.CompactionTest is flaky. The cleanup method fails sporadically.

[code]
Usage tip: To enable automatic navigation to failure message, open the links with CTRL/CMD-click.
[example failure 2021-01-26T17:03:16.9407472Z](https://github.com/apache/pulsar/runs/1769412594?check_suite_focus=true#step:8:12881)
[example failure 2021-01-26T17:03:16.8873820Z](https://github.com/ap

[2021-02-02 21:51] klwilson227 opened #9433 "pulsar bookie leads to duplicate values in command line"
**Describe the bug**
When starting a bookkeeper with: pulsar bookie
There are duplicate values that are added to the java command line based on PULSAR_GC and PULSAR_MEM and then those values from BOOKIE_GC and BOOKIE_MEM.

/usr/lib64/jvm/java-1.8.0-openjdk-1.8.0/jre/bin/java -cp /pulsar/conf:::/pulsar/lib/*: -Dvertx.cacheDirBase=/pulsar/tmp/vertx-cache -Dlog4j.configurationFile=log4j2.yaml -Djute.

[2021-02-03 01:13] #9234 closed

[2021-02-03 02:53] Wzhipeng commented on #9432
I'm working on that

[2021-02-03 02:53] Wzhipeng commented on #9432
I'm working on it.

[2021-02-03 02:55] #9344 closed

[2021-02-03 03:38] Renkai commented on #6413
I will try to solve this.

[2021-02-03 03:42] #9415 closed

[2021-02-03 03:47] lhotari commented on #9432
@Wzhipeng Good. btw. I noticed that a similar problem occurs in quite a few test cleanup methods. It must have been a case where the setup method fails before `compactionScheduler` has been created.

Would you mind fixing the NPEs in cleanup methods of these tests in addition to CompactionTest.cleanup?
I believe this could be done in the same PR since it's about a similar issue.
[code]

The issue

[2021-02-03 03:48] #9032 closed

[2021-02-03 04:11] lhotari opened #9437 "Flaky-test: org.apache.pulsar.client.cli.PulsarClientToolWsTest"
org.apache.pulsar.client.cli.PulsarClientToolWsTest is flaky.

### The testWebSocketNonDurableSubscriptionMode test method fails sporadically.

[code]
Usage tip: To enable automatic navigation to failure message, open the links with CTRL/CMD-click.
[example failure 2021-02-01T09:41:10.0922161Z](https://github.com/apache/pulsar/runs/1804628430?check_suite_focus=true#step:6:12322)
[example failure 2

[2021-02-03 04:30] gmethvin opened #9438 "Inconsistencies in MessageId equals and hashCode"
**Describe the bug**

In some usages of the client API it may be necessary to interact with different implementations of `MessageId` in the same context. It can be useful to track these message IDs in sets and other Java data structures, so identifiers for the same message should be equivalent per `equals` and `hashCode`.

`BatchMessageIdImpl` tries to make `equals` work interchangeably with `Mess

[2021-02-03 04:41] merajblueshift opened #9441 "Creating subscription on a Topic via REST API sets the cursor to earliest position"
**Describe the bug**
When creating a subscription using REST API on an existing topic having a good flow of messages, the cursor is set to the earliest position and if the same is done via pulsar-admin it sets the cursor correctly.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a topic having messages flowing in continuously and create a consumer for it.
2. Let some messages get accu

[2021-02-03 04:46] Wzhipeng commented on #9432
ok，I will solve the problem you mentioned above

[2021-02-03 09:29] Anonymitaet commented on #9168
@sijia-w may I know the doc process?

[2021-02-03 09:41] Anonymitaet commented on #9416
Hi @dragonls, this option is documented [here](https://pulsar.apache.org/docs/en/next/kubernetes-helm/#step-1-install-pulsar-helm-chart) as below.

![image](https://user-images.githubusercontent.com/50226895/106727757-c132ae00-6646-11eb-945d-d8f6abc33233.png)

Thanks for your suggestion, we can add the note [here](https://pulsar.apache.org/docs/en/next/helm-deploy/) as well.

[2021-02-03 09:43] zymap commented on #9441
Hi @merajblueshift , I checkout the pulsar admin request, it sends a HTTP request like this:
[code]

As you see, it doesn't send a message position like `{"messageId": "latest"}`.

In pulsar admin, we convert the string `latest` to the `MessageId.latest` https://github.com/apache/pulsar/blob/fa41d02bebfd841767846240f3ae574047f118f0/pulsar-client-api/src/main/java/org/apache/pulsar/client/api/Messa

[2021-02-03 09:52] Anonymitaet commented on #9410
Hi @vkvm, since you did the code job, would you like to add the doc correspondingly? Many thanks

[2021-02-03 14:40] #5917 closed

[2021-02-03 15:07] Renkai commented on #9374
Maybe we can build a Debian package and upload it to somewhere every time the C++ client code updated, then retrieve it back when the integration test needs the debian package

[2021-02-03 16:04] giacomo-porro opened #9449 "Unable to subscribe to different topics on different namespaces with Python client"
**Describe the bug**
Creating a consumer subscribed on different topics on different namespaces throws an error even if no regex pattern is used ( as per https://pulsar.incubator.apache.org/docs/en/concepts-messaging/#multi-topic-subscriptions )

**To Reproduce**
Steps to reproduce the behavior:
1. Create a custom tenant on pulsar with pulsar admin
```bin/pulsar-admin tenants create my-tenant```
2

[2021-02-03 17:26] devinbost commented on #6368
Wow, nicely done!

Devin G. Bost

On Sun, Jan 31, 2021 at 11:21 PM Lari Hotari <notifications@github.com>
wrote:

[2021-02-03 17:37] lhotari opened #9450 "Flaky-test: org.apache.pulsar.broker.service.ReplicatorTest.testResetCursorNotFail"
org.apache.pulsar.broker.service.ReplicatorTest is flaky. The testResetCursorNotFail test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the links with CTRL/CMD-click.
[example failure 2021-02-03T01:05:58.8564231Z](https://github.com/apache/pulsar/runs/1818716441?check_suite_focus=true#step:9:220)
[example failure 2021-02-02T16:11:47.7564123Z

[2021-02-03 17:58] lhotari opened #9451 "Flaky-test: SimpleProducerConsumerTest.testConcurrentConsumerReceiveWhileReconnect"
org.apache.pulsar.client.api.SimpleProducerConsumerTest is flaky. The testConcurrentConsumerReceiveWhileReconnect test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the links with CTRL/CMD-click.
[example failure 2021-02-02T13:43:07.5573972Z](https://github.com/apache/pulsar/runs/1813006661?check_suite_focus=true#step:9:242)
[example failure

[2021-02-03 17:59] lhotari commented on #9451
This might be similar problem as #9431

[2021-02-03 18:06] lhotari opened #9452 "Flaky-test: org.apache.pulsar.tests.integration.SmokeTest.setup"
org.apache.pulsar.tests.integration.SmokeTest is flaky. The setup method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-02-01T19:53:13.9836607Z](https://github.com/apache/pulsar/runs/1808358452?check_suite_focus=true#step:13:58741)
[example failure 2021-02-01T06:13:40.8826193Z](https://g

[2021-02-03 18:19] lhotari opened #9453 "Flaky-test: PulsarFunctionsProcessTest.testAvroSchemaFunction"
org.apache.pulsar.tests.integration.functions.PulsarFunctionsThreadTest is flaky. The testAvroSchemaFunction test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-01-30T16:05:19.6332933Z](https://github.com/apache/pulsar/runs/1797736194?check_suite_focus=true#step:13:13063)
[example

[2021-02-03 18:22] lhotari opened #9454 "Flaky-test: CLITest.testCreateSubscriptionCommand"
org.apache.pulsar.tests.integration.cli.CLITest is flaky. The testCreateSubscriptionCommand method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-01-30T08:04:31.5690925Z](https://github.com/apache/pulsar/runs/1796487094?check_suite_focus=true#step:13:56033)
[example failure 2021-02-01T15

[2021-02-03 18:37] lhotari opened #9455 "Flaky-test: PulsarFunctionsTest.testCustomSerdeFunction"
org.apache.pulsar.tests.integration.functions.PulsarFunctionsTest is flaky. The method testCustomSerdeFunction fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-01-30T02:26:30.6603356Z](https://github.com/apache/pulsar/runs/1795631678?check_suite_focus=true#step:13:24207)

<details>
<summar

[2021-02-03 18:43] lhotari opened #9456 "Flaky-test: TestProxy"
org.apache.pulsar.tests.integration.proxy.TestProxy is flaky. The test fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-02-01T06:08:49.4104114Z](https://github.com/apache/pulsar/runs/1804096958?check_suite_focus=true#step:14:930)
[example failure 2021-02-01T06:08:49.3802067Z](https://githu

[2021-02-03 18:47] lhotari opened #9457 "Flaky-test:ReplicatorTest.testReplicatorOnPartitionedTopic"
org.apache.pulsar.broker.service.ReplicatorTest is flaky. The testReplicatorOnPartitionedTopic test method fails sporadically.

The "Namespace already exists" issue might be related to the one reported in #6258 .

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-02-02T13:46:14.3519519Z](https://github.com/apac

[2021-02-03 18:48] lhotari opened #9458 "Flaky-test: ReplicatorTest.testReplication"
org.apache.pulsar.broker.service.ReplicatorTest is flaky. The testReplication test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-02-01T01:35:59.4539012Z](https://github.com/apache/pulsar/runs/1803320722?check_suite_focus=true#step:9:508)
[example failure 2021-02-01T01:35:59.44938

[2021-02-03 18:50] lhotari commented on #9457
There is a similar issue in the testConcurrentReplicator test method of the same class, ReplicatorTest.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-02-02T13:49:56.5875077Z](https://github.com/apache/pulsar/runs/1813006738?check_suite_focus=true#step:9:980)
[example failure 2021-02-02T13:46:14.1563429Z](h

[2021-02-03 18:51] lhotari commented on #9458
Similar issues in testReplicatePeekAndSkip method.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-02-01T01:35:59.3930831Z](https://github.com/apache/pulsar/runs/1803320722?check_suite_focus=true#step:9:405)
[example failure 2021-01-30T07:38:30.7445931Z](https://github.com/apache/pulsar/runs/1796559473?check