[2021-09-27 13:39] eolivelli commented on #12087
`default void cleanup() {}`
It is not clear to me when this method will be called, when we are closing the `Consumer` ?
Because it has not reference to the `EntryContext`, so it is not related to `convert`

[2021-09-27 13:47] codelipenghui commented on #12129
@congbobo184 I think we could have  CommandTcClientConnectRequest and CommandTcClientConnectResponse?

[2021-09-27 13:48] eolivelli commented on #12087
I am still not sure about this:
[code]

problems:
- we are passing `numMessages` for each message, and so we can pass different values. My understanding is that you should use the same value for each message in the new batch
- it is not clear if we can create a new batch that has a different number of messages then the original batch
- why we have to call "newSingleMessage" on `EntryContext` is th

[2021-09-27 13:54] otmanel31 commented on #12160
Hi, please find below needed datas in files. One file per broker num. we currently have 4 broker:
- https://github.com/otmanel31/share/blob/master/pulsar_zookeeper_3_request.json
- https://github.com/otmanel31/share/blob/master/requet_broker_0.json
- https://github.com/otmanel31/share/blob/master/requet_broker_1.json
- https://github.com/otmanel31/share/blob/master/requet_broker_2.json

[2021-09-27 14:09] BewareMyPower commented on #12087
@eolivelli Thanks for your feedback! Here're my answers.

Since `PayloadConverter#convert` returns a iterable messages, it's called in this way in `ConsumerImpl`:

[code]

For example, if we want to collect the total bytes of each conversion and expose it to outside, we might implement the converter as

[code]

I'm not sure whether there's a better name.

Regarding to `newSingleMessage` API design

[2021-09-27 14:15] eolivelli commented on #12087
Regarding `default void cleanup() {}`

The word 'cleanup' reads like something that is to be performed to "clean" after some operation or in the end.
But if I understand correctly it is unrelated to any "convert" operation.

I believe that we should pick a better name:
1) afterConvert(EntryContext....) : if we want to call it after every "convert"
2) close(): if we want to call it when shutting do

[2021-09-27 14:18] eolivelli commented on #12087
So can we name `newSingleMessage` to `getMessageAt` and `newMessage` to `asSingleMessage`

[code]

[2021-09-27 14:33] gaozhangmin commented on #12207
bin/pulsar find level:info

[2021-09-27 16:07] #12115 closed

[2021-09-27 19:04] Ben-Kearney commented on #4540
still getting this.
pulsar-client=2.8.0
python3.9

[2021-09-28 02:27] lordcheng10 opened #12216 "When the producer is closing, it should wait for all pending write requests to persist"
Status: Under Discussion
Author: lordcheng10
Pull Request: https://github.com/apache/pulsar/pull/12195
Mailing List discussion: https://lists.apache.org/thread.html/r8bfcb7ab28612d94d441ff5eadd996413346f0780b6f7b3484aaf7dc%40%3Cdev.pulsar.apache.org%3E

## Motivation
In the implementation of the producer's close method, the pending write request is not waited for persistence。
For example, in the f

[2021-09-28 02:27] lordcheng10 commented on #12216
Corresponding PR：https://github.com/apache/pulsar/pull/12195

[2021-09-28 02:35] BewareMyPower commented on #12087
@eolivelli Regarding to the `numMessages` parameter, I found it's still necessary when I tried to remove it.

The entry context is based on the `MessageMetadata`. However, the actual number of messages might be contained in the payload. For example, if the message was published from KoP, the actual metadata is contained in the payload and the `MessageMetadata` is a false header. In this case, we n

[2021-09-28 05:40] BewareMyPower commented on #12154
I think the document might be a little old. I'll take a look at it soon.

[2021-09-28 07:24] liangyuanpeng commented on #12189
You can get the messageId when you send message success or received message.

[2021-09-28 07:36] azui007 commented on #12189
i want use this api: `reset-cursor`
the options need messageId

[2021-09-28 07:39] azui007 commented on #12189
How can i get the messageid on i received message.
Can you tell me which API I should use

[2021-09-28 07:44] baomingyu opened #12221 "SomeTimes messages may be lost, those message has be add to ledger but were invisible for all consumers"
**Describe the bug**
Some messages has add to ledger  2207340 were lost!
![image](https://user-images.githubusercontent.com/8108604/135044027-ded3a6f8-781e-4ff4-b2c4-4f9f7b1efcee.png)
![image](https://user-images.githubusercontent.com/8108604/135044558-c86d80bf-b815-41dc-b50a-3d858c84aee5.png)
![image](https://user-images.githubusercontent.com/8108604/135044779-b926e1d2-16f1-4b0e-8da3-fc9d3c87ecc3

[2021-09-28 08:13] hellomyboy commented on #12185
How do you use it, can you tell me the steps?

[2021-09-28 09:00] BewareMyPower commented on #12154
In Ubuntu 20.04, the libraries are generated under `./lib` subdirectory, not `./googlemock`. So you should run

[code]

BTW, GMock is not required now.

[2021-09-28 10:12] sollecitom opened #12224 "Partitions rebalance listener for Consumer"
When using processors with in-memory state, it's important to know the partitions assigned and de-assigned. This allows to load and unload the state, and to recover based from a durable eventually consistent snapshot by loading it based on these partitions.

At the moment, you can try to derive this information from the Message IDs, but there are 2 problems with this approach.

1. You don't know w

[2021-09-28 11:43] #9488 closed

[2021-09-28 12:30] BewareMyPower commented on #12224
I think there's no rebalance concept in Pulsar. Pulsar consumer doesn't maintain a partition assignment internally like what Kafka consumer does. Pulsar's consumption model is push, while Kafka's is pull. In Pulsar, the dispatcher at broker side determines which partition should the message be sent.

[2021-09-28 13:15] saveriogzz opened #12226 "java annotations for "SchemaDefinition to generate struct schema" and method builder() won't make it compile"
Please answer the following questions before submitting your doc issue. Thanks!

# What issue do you find in Pulsar docs?

On the page [https://pulsar.apache.org/docs/en/schema-understand/#complex-type](), under **struct/SchemaDefinition**, there is some java code explaining how to create a schema for a `User`. The code has three annotations (`@Builder, @AllArgsConstructor, @NoArgsConstructor`) bu

[2021-09-28 14:16] liangyuanpeng commented on #12189
@azui007  see consumer.receive();

[2021-09-28 15:02] BewareMyPower commented on #12087
The current design of `MessagePayload` might still looks a little weird, especially for the `copiedBuffer()` method. I might make some changes for `MessagePayload` tomorrow.

[2021-09-28 23:10] sijie commented on #12070
@dlg99 I think it might be a bug fixed by @codelipenghui a couple of days ago. https://github.com/apache/pulsar/pull/12161

@codelipenghui Can you take a look at this to see if this is the same issue or not?

[2021-09-29 01:09] shibd commented on #12091
@vvijayv  Hi, Does it solved your problem?

[2021-09-29 01:43] xuesongxs opened #12230 "Support manual unload bundles to Specified broker"
**Is your feature request related to a problem? Please describe.**
When the traffic on the broker list of a broker cluster is found to be unbalanced, you want to reload bundles through unload bundles. However, according to the execution results, it is found that after the `bin/pulsar admin namespaces unload public/default `command is executed, the reload results are still unbalanced, and there are

[2021-09-29 01:45] xuesongxs opened #12231 "Bookie OOM"
**Describe the bug**
Pulsar v2.8.1
cluster: 3 zks、5 brokers、5 bookies
topics: 14
topic partitions: 40

![image](https://user-images.githubusercontent.com/54351417/135189450-af79ed1b-ce75-47b1-91be-e5b4551f1c26.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Start bookies and brokers with direct memory 80GB
2. Start producers

**Expected behavior**
A clear and concise description of what

[2021-09-29 04:00] Jason918 opened #12234 "[PIP 101] Add seek by index feature for consumer"
## Motivation

Currently we can reset the read position of a cursor by message id or timestamp. Since we formerly introduced index in broker metadata since 2.8.0, reset cursor by index is very helpful in other protocol handler (KoP or RoP).

## Goal

Add seek by index feature for consumer.

## API Changes

Add following interface in `org.apache.pulsar.client.api.Consumer`
- void seekByIndex(long i

[2021-09-29 07:34] BewareMyPower commented on #12234
Let's move the discussion here. @MarvinCai

I think it's a document issue. If we've documented well for the `seekByIndex` method, there will be nothing confused for users.  Just like we've exposed BrokerEntryMetadata in #11553, the added methods of `Message` also requires broker to enable BrokerEntryMetadata.

https://github.com/apache/pulsar/blob/879e93d07c36567f6ba7792cc9274142ff4c0d74/pulsar-cl

[2021-09-29 08:05] Jason918 commented on #12234
@MarvinCai

IMHO, It's quite common that part of the features in client depends on some configurations in server, eg authentication, authorization, transaction. All of these features are not enabled by default, and users have to change the broke configurations to use these features with client.

[2021-09-29 08:12] czhfe opened #12236 "pulsar proxy can't get metrics after enabling jwt authentication"
pulsar proxy can't get metrics after enabling jwt authentication

![image](https://user-images.githubusercontent.com/19341806/135229433-c55b7d43-e954-4674-ae65-59f8000db11f.png)

[2021-09-29 08:43] BewareMyPower commented on #12087
I added a `MessagePayloadFactory` interface with a `DEFAULT` instance to avoid users using `MessagePayloadImpl` directly. Regarding to the `BatchMessageAcker` issue, I added the `acknowledge` and `acknowledgeCumulative` invocations in tests. It might not affect the proposal itself, and should be discussed in PR review phase.

/cc @codelipenghui @hangc0276 @315157973

[2021-09-29 09:25] BewareMyPower commented on #12087
Update: `PayloadConverter#whenInterrupted()` method was added according to @eolivelli 's suggestion.

[2021-09-29 10:24] eolivelli commented on #12087
we should also make it clear to what happens to the we should move everything in this form

`void  convert(EntryContext context, MessagePayload payload, Schema<T> schema, Consumer<Message<T> consumer);`
this way the loop is performed inside the method body:
* the lifecycle is clearer
* no need for additional lifecycle methods
* in the future it can be called by **multiple threads**
* the `convert`

[2021-09-29 13:24] BewareMyPower commented on #12087
Since the code needs a lot of changes, I updated the proposal first. PTAL @eolivelli

In addition to your suggestion, I added a `Consumer<Throwable>` parameter to handle the exceptional case, in this case, Pulsar consumer will discard the message and send the `CommandAck` with a `ValidationError.BatchDeSerializeError`.

[2021-09-29 13:36] n3ziniuka5 commented on #12208
We are facing the same issue at the moment. I think at a minimum, the docs could be a bit more clear. Here is what they currently say:

Exclusive and Failover modes are explicitly mentioned, but nothing says that KeyShared subscriptions will be stuck, which is quite an important detail.

But it would be nice if it was impossible to encounter this problem in the first place. Since delayed messages

[2021-09-29 14:07] MarvinCai commented on #12209
Have you try setting the following config:
In Broker config, set
bookkeeperExplicitLacIntervalInMills > 0
bookkeeperUseV2WireProtocol=false

And in Presto config, set
pulsar.bookkeeper-explicit-interval > 0
pulsar.bookkeeper-use-v2-protocol=false

This is related Bookie explicit LAC mentioned here: https://bookkeeper.apache.org/docs/4.5.0/overview/releaseNotes/

[2021-09-29 14:37] Shoothzj opened #12239 "Concurrent `delete subscription` and `delete topic` lead to memory leak"
**Describe the bug**
Concurrent request `delete subscription` A and `delete topic` B will lead to leak `ManagerLedgerImpl`、`ManagerCursorImpl`、and any object related to them leak.
That's the work flow

### Step1
A delete the cursor `ledger.asyncDeleteCursor`, but don't remove the `subscription` from `ConcurrentOpenHashMap<String, PersistentSubscription> subscriptions;`
### Step2
Second, B delete t

[2021-09-29 14:55] hangc0276 opened #12241 "Python2 & Python3 has different behavior on generate schema fields"
**Describe the bug**
Python 2 and Python 3 generate object schema without sort in different behavior.
Take the following class for example
[code]
Python2 generated field schema:
[code]

Python3 generated field schema:
[code]

Python3 generated field schema in POJO field define order, but Python2 generated field schema order is not. It is the dict key order for the field name.

[2021-09-29 15:07] liangyuanpeng commented on #11746
You can add some log in AuthenticationProvider#initialize and AuthenticationProvider#getAuthMethodName , and you can get the log when pulsar service start if you had set `authenticationEnabled=true` and `authenticationProviders={your provider}`.

[2021-09-29 15:43] eolivelli commented on #12087
catching `Throwable` is not good, we should not ask to the PayloadProcessor developer to do this.

Why not change the signature to
[code]

then we deal with catching any Throwable in Pulsar code ?

[2021-09-29 19:15] aahmed-se commented on #12151
We should still limit the semaphore count to prevent a breakdown in production.

[2021-09-30 01:58] BewareMyPower commented on #12087
Makes sense. I updated the proposal again. PTAL @eolivelli

[2021-09-30 02:24] codelipenghui commented on #12087
The proposal LGTM, thanks @eolivelli @BewareMyPower for the great context and discussion. I only have one point about the name `EntryContext`, because you know the entry is the concept from BookKeeper and currently we don't have any concepts about the entry at the client-side, so maybe BatchContext is more reasonable here? Greate proposal! @BewareMyPower

[2021-09-30 02:29] zhanghaou commented on #12236
Change the config authenticateMetricsEndpoint=false in proxy.conf.

[2021-09-30 02:57] BewareMyPower commented on #12087
I think not. Because the Entry might just be a single message, not the batch. You can also see related docs in `EntryContext`:

[code]

I've used `MessageContext` before, but it might be misunderstood as the context of a `Message<T>`.

Your concern is right. `Entry` is a concept from BookKeeper. For Pulsar client users, it might look a little unfamiliar. I think we can rename it `PayloadContext`?

[2021-09-30 03:12] BewareMyPower commented on #12087
I thought for a while, `PayloadContext` is more clear. My previous concerns can be solved by the document.

- PayloadContext: the context of a message payload
- MessagePayload: the message payload itself
- PayloadProcessor: the processor for a message payload

It looks more consistent.

[2021-09-30 03:56] #11432 closed

[2021-09-30 06:29] czhfe commented on #12236
Thank you very much. But this configuration cannot be added to the conf/proxy.conf configuration file by adding this parameter to values.yaml when deploying in kubernetes using helm, because the default proxy.conf does not have this configuration.

https://github.com/apache/pulsar-helm-chart

[2021-09-30 06:30] czhfe commented on #12236
Thank you very much. But this configuration cannot be added to the conf/proxy.conf configuration file by adding this parameter to values.yaml when deploying in kubernetes using helm, because the default proxy.conf does not have this configuration

https://github.com/apache/pulsar-helm-chart

[2021-09-30 06:43] #12221 closed

[2021-09-30 06:47] eolivelli commented on #12157
approved on the ML

[2021-09-30 06:47] #12157 closed

[2021-09-30 09:03] codelipenghui commented on #12087
@BewareMyPower LGTM.

[2021-09-30 09:14] #12189 closed

[2021-09-30 09:40] julienlau opened #12250 "pulsar python client always log ERROR at consumer close"
**Describe the bug**
client.close()
Generates the following log: `ERROR [140357162395392] ClientConnection:523 | [127.0.0.1:50144 -> 127.0.0.1:6650] Read failed: Operation canceled`

**To Reproduce**
[code]
[code]

**Expected behavior**
There should be a way to close a python consumer without having an ERROR.

**Desktop (please complete the following information):**
 - Linux
 - Pulsar 2.7.3
 - pul

[2021-09-30 14:45] edgebroker opened #12253 "Admin API V2: swagger.json misses full declaration of /definitions/OutputStream"
Please answer the following questions before submitting your doc issue. Thanks!

# What issue do you find in Pulsar docs?

The declaration of `/definitions/OutputStream` is just a generic JSON object:

`"OutputStream" : {
      "type" : "object"
    }`

# What is your suggestion?

Exactly define the schema of the JSON object.

# Do you have any references?

Most of the definitions (if not all) hav

[2021-09-30 15:33] kuskmen opened #12254 "[Monitoring] Is it possible to add producer/consumer name labels to pulsar metrics?"
**Is your enhancement request related to a problem? Please describe.**
As a developer, when I use pulsar monitoring I want to build alerts based on them in Grafana. But unfortunately most of the times topics that my applications use are used by others as well. So I cant tell unambiguously how many producers or subscribers are coming from my applications using just `pulsar_consumers_count`, `pulsar

[2021-09-30 15:55] vvijayv commented on #12091
Yes @shibd I think the subscription position solves this problem. I am closing this issue

[2021-09-30 15:55] #12091 closed

[2021-09-30 16:08] vvijayv opened #12255 "New consumer gets Disconnected - no error shown"
**Describe the bug**
The spring-boot application starts with a consumer, but closes the connection to the Pulsar broker.
[code]
The Pulsar is deployed in the Kubernetes with `examples/values-one-node.yaml` configuration.
Code
[code]

This problem come only when the application runs within the same kubernetes cluster (same namespace). When the same application is run outside the kubernetes, and con

[2021-09-30 18:40] itskannanraj commented on #6236
@hari819 could you paste the jaas.conf file here?

[2021-10-01 00:46] rdhabalia opened #12257 "Slow backlog draining with high fanout topics"
### Issue

When topics with high publish rate and high fan-out with large number of subscriptions or large number of replicators, build backlog then it's really difficult to drain the backlog for such topics while they serving high publish-rate. It's reproducible with multiple topics (100) with each 10K writes, 6 backlog replicators and multiple subscriptions. It becomes impossible to drain backlo

[2021-10-01 07:54] eolivelli commented on #12234
I am fine with this new feature, mostly because we added "Optional<Long> getIndex(); " in the Message API.
So now this is a visible feature and it is part of the official API.

We could also think to enable the 'index' by default if the impact on the data size is negligible

[2021-10-01 07:55] eolivelli commented on #12234
it should be better that the Consumer receives a meaningful error in case that the value is not available because AppendIndexMetadataInterceptor is not available.

[2021-10-01 07:56] eolivelli commented on #12234
I have assigned PIP101 and added the link in the Wiki page
https://github.com/apache/pulsar/wiki

@merlimat @michaeljmarshall

[2021-10-01 09:43] vvijayv commented on #12255
The issue seems to be the liveness probe that keeps failing the pod, closing all the producers & consumers. I'm closing this issue.
Thanks @addisonj

[2021-10-01 09:43] #12255 closed

[2021-10-01 11:19] hari819 commented on #6236
i remember using the jaas.conf files from here , https://cwiki.apache.org/confluence/display/ZOOKEEPER/Server-Server+mutual+authentication

[2021-10-01 19:03] michaeljmarshall opened #12261 "[Pulsar Admin CLI] Add support for resetting subscription to Earliest or Latest"
**Is your enhancement request related to a problem? Please describe.**
The current implementation of `bin/pulsar-admin topics reset-cursor` is not as simple as it could be when resetting the cursor to the earliest or latest position. In order to achieve earliest/latest with the current implementation, a user must understand how message ids work. If you look at the implementation for the `MessageId

[2021-10-01 19:12] michaeljmarshall commented on #12261
This issue could be good for a first time contributor. A majority of the update will be to the two `ResetCursor` classes.

[2021-10-01 22:33] MrThreepwood opened #12262 "Batch Receive Does not have Minimum Delivery of 1"
**Describe the bug**
When attempting to batch process messages from a topic, no messages are processed when a single message is larger than the max payload size.

**To Reproduce**
Steps to reproduce the behavior:
Create a batch consumer with a batch policy that has a non zero max byte amount.

**Expected behavior**
Either a single messages is delivered or an error is thrown.

**Desktop (please com

[2021-10-02 03:01] allnode-github opened #12264 "pulsar MOP to postgresql id not null???"
一：
Caused by: org.postgresql.util.PSQLException: 错误: null value in column "id" of relation "pulsar_postgres_jdbc_sink" violates not-null constraint
  详细：失败, 行包含(null, null).
	... 14 more
00:00:08.430 [pool-6-thread-1] ERROR org.apache.pulsar.io.jdbc.JdbcAbstractSink - Update count 1  not match total number of records 2
00:00:24.373 [pulsar-timer-6-1] INFO  org.apache.pulsar.client.impl.ConsumerSta

[2021-10-02 07:12] liangyuanpeng commented on #12264
Provide some version info will be greate and could you provide some reproduce code?

[2021-10-02 07:30] allnode-github commented on #12264
PostgreSQL is used in the database, and other steps are operated in full accordance with the official website documents. No code is written in the process. The test client tools for publishing and subscribing are mqtt. FX. 1.7.1. The test version is the latest version, 2.8.1,

[2021-10-02 07:30] allnode-github commented on #12264
PostgreSQL is used in the database, and other steps are operated in full accordance with the official website documents. No code is written in the process. The test client tools for publishing and subscribing are mqtt. FX. 1.7.1. The test version is the latest version, 2.8.1,

[2021-10-02 12:15] aloyszhang opened #12265 "ttl setting does not take effect when expiry"
**Describe the bug**
Expiry based on ttl setting is not working as expected. If a topic has a ledge which has no entry, like

[code]

the expiry will move the `MarkDeletePosition` on entry each time

![image](https://user-images.githubusercontent.com/48062889/135715608-568d2ff6-596b-4058-a40b-1821f2de78cc.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a topic and a subscription

[2021-10-02 20:30] EronWright opened #12267 "[PIP 102] Pulsar Watermarking"
- **Status:** Draft
- **Author:** Eron Wright
- **Pull Request:**
- **Mailing List discussion:** (discussion) (vote)
- **Release:**

## Motivation

Unified stream processing frameworks such as Apache Flink rely on event-time watermarks to perform time-based computations. Watermarks facilitate forward progress in the processing of unbounded streams, and may be understood as an assertion made by the

[2021-10-03 11:14] 315157973 opened #12269 "Support pluggable entry filter in Dispatcher"
## Motivation

There are many users who need to use tag messages. The implementation of
this part has also been discussed before：

https://lists.apache.org/list.html?*@pulsar.apache.org:lte=2y:Proposal%20for%20Consumer%20Filtering%20in%20Pulsar%20brokers

https://lists.apache.org/thread.html/ra4639e75659b2adf384b77bca85ab2ca9b4969dea2bd8896741baae2%40%3Cdev.pulsar.apache.org%3E

We need to provide

[2021-10-03 14:42] MarvinCai opened #12271 "[Improvement] Introduce Maven Modernizer plugin to Pulsar"
As discussed in dev mail list: https://lists.apache.org/thread.html/re99b342765b2cfb26f3da0eedfb78e7312de158bf6c7ed0085d32781%40%3Cdev.pulsar.apache.org%3E
We want to introduce Maven [Modernizer](https://github.com/gaul/modernizer-maven-plugin) plugin to Pulsar.
This plugin helps detecting uses of legacy APIs which can be replaced with modern APIs that are often more performant, safer, and idiomat

[2021-10-03 14:44] MarvinCai commented on #12271
Please tag with help-wanted
I'll work on pulsar-common

[2021-10-03 15:53] liangyuanpeng commented on #12236
@czhfe  You can add configmap `PULSAR_PREFIX_authenticateMetricsEndpoint=false` for proxy env, and it can write `authenticateMetricsEndpoint=false` to config file.

Like in your values.yaml
[code]

[2021-10-04 06:39] eolivelli commented on #12269
It is not clear to me if the Consumer can attach some configuration value (like JMS message selector) that can be used in the Filter.
Otherwise we can only create static filters

[2021-10-04 08:25] otmanel31 commented on #12160
1) Also, two days ago, we also face an other issue (that trigger a shutdown of our deployement), where brokers timeout on zookeeper call. Before first exception, i catched a lot of logs (Info) in few seconds like below for each topics in all brokers:
- 09:49:31.186 [ForkJoinPool.commonPool-worker-1] INFO  org.apache.pulsar.broker.service.AbstractTopic - Disabling publish throttling for persistent:

[2021-10-04 08:45] otmanel31 commented on #12160
Other error later:
10:26:36.465 [ForkJoinPool.commonPool-worker-176] WARN org.apache.pulsar.broker.lookup.TopicLookupBase - Failed to lookup 44a6de43-4e73-42a8-9262-0cc4891c42fd for topic persistent://my_tenant/my_ns/data_down-bf558c9c-a2e6-4961-a627-87229c619abf with error java.util.concurrent.RejectedExecutionException: Thread limit exceeded replacing blocked worker

May be as no response from z

[2021-10-04 08:54] EronWright opened #12272 "Regression: PulsarAuthorizationProvider initialization"
**Describe the bug**
Existing implementations of `AuthorizationProvider` that extend `PulsarAuthorizationProvider` may regress following PR https://github.com/apache/pulsar/pull/12064.  The initialization method is not called.

The reason seems to be that `PulsarAuthorizationProvider::initialize(ServiceConfiguration, PulsarResources)` does not call `PulsarAuthorizationProvider::initialize(ServiceC

[2021-10-04 08:54] EronWright commented on #12272
@merlimat please take a look.

[2021-10-04 13:36] saveriogzz opened #12274 "PROBLEM: messages come as encoded"
#### Expected behavior
I am trying to send messages to an Apache Pulsar cluster from a [Java application](https://github.com/saveriogzz/weather-collector/tree/data-streaming).

#### Actual behavior

The messages that I see from a consumer used as monitoring, come as **encoded**! Apart from the ones I send as **Strings**.
e.g. `"\u0000\u0000\u0000\u0004\u0018l@\u0000\u0000\u0000�@�\u000fV�\u0001\u0

[2021-10-04 14:21] MarvinCai commented on #12274
Hi, from the code snippet you provided, the producer is not sending message in string, it's sending message with an Avro schema, so the consumer will need to use same schema to receive corresponding message:
https://github.com/saveriogzz/weather-collector/blob/8f0c590916d9c3d6047c40799bb079e1ce016ce9/src/main/java/nl/tudelft/davisstreaming/PulsarDataStore.java#L99-L101

[2021-10-04 19:04] arihantdaga opened #12275 "High Memory consumption by cluster"
#### Actual behavior

I just started with pulsar, i setup the cluster on a single node, keeping just 1 instance of bookkeeper, zookeeper and broker, following the instructions in the docs. And i want to scale it later.
I took a 4GB server, thinking it should be enough since my load right now is almost nil.
But i have seen that pulsar is consuming 100% memory, even when there is no load, not even a

[2021-10-04 19:19] #12272 closed

[2021-10-04 21:56] eolivelli commented on #12274
Are you using the Java client?
In that case you must use Schema.AUTO_CONSUME() to handle correctly the Schema.

[2021-10-04 22:02] saveriogzz commented on #12274
For the producer, yes! For the consumer (as it is just for monitoring purposes), I am using a Python client.

Do you mean on the consumer's side, correct?

Thanks!

[2021-10-05 09:04] 315157973 commented on #12269
We can use it like this:
Set properties when creating consumer.
`entryFilterClass` can be defined as an adapter, which internally determines what filter logic to use according to properties

[2021-10-05 09:48] eolivelli commented on #12274
I am not sure it is available for Python.

@congbobo184 @codelipenghui @sijie do you have suggestions ?

[2021-10-05 10:47] Jason918 commented on #12224
Maybe you can check the docs in `org.apache.pulsar.client.api.ConsumerEventListener`.
Once the broker choose a consumer for receiving messages in failover mode, it will send an event to client. You can add a listener to this event through ConsumerEventListener.

[2021-10-05 13:46] cbornet opened #12281 "Unexpected redelivery of a message"
**Describe the bug**
When a consumer is closing/closed and `redeliverUnacknowledgedMessages()` or `redeliverUnacknowledgedMessages(Set<MessageId> messageIds)` is called, then the code closes the client connection. This created unexpected behaviours for the other consumers. See the sample code below for instance

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Expected behavior**
This t

[2021-10-05 20:40] alexec opened #12282 "Pulsar vs ..."
Hi,

I'm trying to write up an unbiased table of data on different message technologies, would you be willing to help check my assessment of Pulsar? If not, just close the issue.

https://github.com/argoproj-labs/argo-dataflow/issues/321

[2021-10-06 00:29] addisonj commented on #12282
Hey @alexec

Happy to give feedback!

Your assessment looks to be pretty close, but a few minor corrections:

For order, Pulsar offers per topic (if using a non-partitioned topic), per partition (if used partitioned topics), or per key ordering (with any number of consumers).
For transactions, Pulsar supports transactions as of 2.8 release
Pulsar does not directly implement a priority queue, but i

[2021-10-06 00:29] #12282 closed

[2021-10-06 00:29] addisonj commented on #12282
Closing this issue but please open again if any more questions!

[2021-10-06 00:42] alexec commented on #12282
One other question, reliability is paramount to our users. What kind of durability does Pulsar support?

[2021-10-06 02:03] vitosans commented on #6520
Is there any documentation on how to use this? KubernetesManifestCustomizer

[2021-10-06 10:08] Raven888888 opened #12284 "Pulsar SQL BufferUnderflowException after upgrading from 2.7.0 to 2.8.1"
**Describe the bug**
Following [this upgrade guide](https://pulsar.apache.org/docs/en/administration-upgrade/) to upgrade pulsar cluster node by node, from `2.7.0` to `2.8.1`.

Presto CLI version `332` is after the upgrade.

Trying to query in Presto CLI from one of the topics,
`apache-pulsar/bin/pulsar sql`
`select * from pulsar."public/default"."test";`
returns
`Query 20211006_093830_00017_59f2r

[2021-10-06 10:31] #11966 closed

[2021-10-06 14:50] cckellogg opened #12286 "No authorization checks for admin api getBacklogSize"
**Describe the bug**
There are no authorization checks when call the admin api for get topic backlog size. This (https://github.com/apache/pulsar/pull/10853) and does not perform and authorization checks. Not sure if that was intentional or overlooked.

**Expected behavior**
An authorization check is performed before returning the backlog on a topic.

[2021-10-06 15:05] andrekramer1 commented on #11070
Some further investigation found that the first Zookeeper created for the Kubernetes statefull set does not respond to the ready/liveness probe. This uses the "ruok" command and the reply from the server is to close the connection (as Zookeeper is not up and running). So the second and third replicas are never created. Somehow Zookeeper has stopped responding while initializing / creating a quorum

[2021-10-06 16:20] andrekramer1 commented on #11070
@merlimat Yes, the fix I worked up is in the Netty server code. So probably would side step this with another server factory.

[2021-10-07 04:04] sindhushreem opened #12290 "Too many Error messages in the broker"
**Describe the bug**
The following error  messages are seen in 2.8.1 broker .
ERROR org.apache.pulsar.client.impl.ProducerImpl - [persistent://public/functions/metadata] [c-itomdipulsar-fw-172.16.3.227-8443-leader] Failed to create producer: org.apache.pulsar.broker.service.BrokerServiceException$ProducerFencedException: Topic has an existing exclusive producer: c-itomdipulsar-fw-172.16.2.183-8443

[2021-10-07 04:40] hozumi opened #12291 "Multi-topic reader ignore .startMessageId(MessageId.earliest)."
**Describe the bug**
Pulsar and java client version: 2.8.1

When a reader that listens multiple topics is configured `.startMessageId(MessageId.earliest)` ,  it seems that initial position is actually `latest` .
Also `reader.hasMessageAvailable()` causes NPE.

[code]

It seems that the java client support MultiTopicsReaderImpl since 2.8.0.
https://github.com/apache/pulsar/pull/9995

**To Reproduce

[2021-10-07 15:39] grantmagdanz opened #12293 "ERROR: Could not find a version that satisfies the requirement pulsar-client==2.8.1"
**Describe the bug**
I cannot install `pulsar-client` 2.8.1 on macOS 11.6 with Python 3.8.8.

**To Reproduce**
Steps to reproduce the behavior:
1. Run `pip install pulsar-client==2.8.1` on macOS 11.6 with python 3.8.8.

**Expected behavior**
`pulsar-client` is installed successfully

**Desktop (please complete the following information):**
 - OS: macOS 11.6
 - Python: 3.8.8

**Additional context**

[2021-10-08 06:43] glcrazier commented on #12185
I called like the following:
[code]
I accidentally created DispatchRate object with third parameters as 0. Then subsequent operations like creating subscription would fail.

[2021-10-08 08:07] MarvinCai commented on #12284
The exception seems come from Pulsar connector not Presto as Pulsar connector manages the Schema and cache, seems the exceptions comes from this line: https://github.com/apache/pulsar/blob/master/pulsar-sql/presto-pulsar/src/main/java/org/apache/pulsar/sql/presto/PulsarSqlSchemaInfoProvider.java#L106 which is throwing exception when parsing schema version, can you provide schema info using pulsar-

[2021-10-08 08:19] czhfe commented on #12236
Yes, thank you very much!

[2021-10-08 08:21] sword0307 commented on #9144
I meet the same issue

[2021-10-08 09:05] Jason918 commented on #12291
@hozumi
After checking the implementation details, it turns out that `MultiTopicsConsumerImpl` is using different constructors for underlying consumer for topic partitions and non-partitioned topic.  So both `startMessageId` and `startMessageRollbackDurationInSec` will not take affect for non-partitioned topics.

I think it's a bug, and I will come up with a fix soon.

[2021-10-08 09:29] beyondyinjl2 opened #12303 "websocket connection authentication 401"
ws://127.0.0.1:8080/ws/v2/producer/persistent/public/default/aaa?token=Bearer eyJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ0ZXN0LXVzZXIifQ.NAZlgNYZkRF9xGXGasgS5pdqvPBv1IwAaykNoTd8ZiQ

[2021-10-08 09:57] beyondyinjl2 opened #12304 "How to participate in the authentication information for websocket connection custom authentication"
Pulsar turns on custom authentication. When my custom authentication gets the parameters, it will query the database. How to pass the authentication parameters using the websocket connection, and how does the server get the parameters

[2021-10-08 10:37] Raven888888 commented on #12284
Greetings @MarvinCai

`apache-pulsar/bin/pulsar-admin schemas get test`
returns
[code]

This is the same schema before the pulsar upgrade process.

Also tried to re-upload schema:
`apache-pulsar/bin/pulsar-admin schemas upload test -f apache-pulsar/conf/schema_example.conf`
same `BufferUnderflowException` error.

Thanks in advance.

[2021-10-08 21:52] genert commented on #10560
What is the status of this?

The PR created by @wolfstudy lacks just the README - https://github.com/apache/bookkeeper/pull/2750 Can we proceed by providing it, and moving forward?

--

Marking this as duplicate of https://github.com/apache/pulsar/issues/5138

[2021-10-08 22:34] phemmer commented on #5138
This one has more labels, more attention from devs, and is older. I'd suggest keeping this one.

[2021-10-09 15:35] thomaeschen opened #12313 "Error during handshake for tls auth by apache pulsar client on linux server"
**Describe the bug**
Follow the instruction from the Apache latest document to setup a TLS connection. The system will generate error related to the handshake and it shows "TLSV1_ALERT_CERTIFICATE_REQUIRED"

**To Reproduce**
Steps to reproduce the behavior:

 Follow the document [https://pulsar.apache.org/docs/en/security-tls-transport/](url) to create a  public certificate. server certificate and

[2021-10-10 00:58] flowchartsman opened #12314 "[Go Functions] ProcessedSuccessfully metric is counted twice."
**Describe the bug**
ProcessedSuccessfully metric is counted twice.

**To Reproduce**
Observe go function:
[code]

`numSuccessfullyProcessed` is nearly twice `numReceived`, when it should always be <=

First invocation is https://github.com/apache/pulsar/blob/master/pulsar-function-go/pf/instance.go#L180, second is https://github.com/apache/pulsar/blob/master/pulsar-function-go/pf/instance.go#L373

[2021-10-10 22:06] sigaev-pro commented on #9135
+1

[2021-10-11 03:50] lordcheng10 opened #12317 "Flaky-test: [org.apache.pulsar.broker.service.PersistentFailoverE2ETest].[testActiveConsumerFailoverWithDelay]"
![image](https://user-images.githubusercontent.com/19296967/136909166-6dab2872-168e-47b6-8687-798a64986e27.png)

[2021-10-11 06:32] congbobo184 commented on #12129
https://github.com/apache/pulsar/pull/12301 and https://github.com/apache/pulsar/pull/11357 implement it. So close this issue.

[2021-10-11 06:32] #12129 closed

[2021-10-11 07:27] 315157973 commented on #12269
@eolivelli  I added a description of this part. PTAL, Thanks

[2021-10-11 10:06] BewareMyPower opened #12324 "[C++] Segfault and terrible error handling when OAuth 2.0 authentication failed"
**Describe the bug**
When configuring C++ client with wrong client secret to make OAuth 2.0 authentication fail, instead of returning any error code, segmentation fault will happen.

**To Reproduce**

[code]

The output:

[code]

When I modified `issuer_url` to an unknown OAuth2 server URL like `https://google.com`, the output became:

[code]

or an invalid URL like `my-issuer-url`, the output bec

[2021-10-11 10:20] BewareMyPower opened #12325 "[C++] Custom logger doesn't work when OAuth 2.0 authentication is configured"
**Describe the bug**
After creating the `AuthOauth2` object in main thread, the logger cannot be customized. It's because there's a `LOG_DEBUG` call in `ClientCredentialFlow::initialize`:

[code]

It will trigger the creation of `Logger` before `setLogger` works. Once a thread local logger was created, it could not change anymore.

**To Reproduce**

[code]

Even if the debug console logger was con

[2021-10-11 10:36] BewareMyPower commented on #12324
A related issue is when it failed to get token endpoint, the printed log only contains the integer error code, but not the error string.

For example, when the issuer URL is `my-issuer-url`, the log is:

[code]

We should print `Couldn't resolve host` instead of `Error Code 6`.

[2021-10-11 14:08] lalit-g-deepr opened #12327 "python pulsar function delaying and missing messages when input is given from topic pattern"
**Describe the bug**
I am using topicpattern to invoke pulsar function. When a topic is created by creating producer and it immediately start publishing than some of the messages missed by pulsar function. It seems like pulsar function does not know that this new topic patterned topic is there and when It gets to know it starts publishing without missing further messages from this topic.

**To Rep

[2021-10-11 14:10] jimmycxm opened #12328 "unable to subscribe non-persistent topics via regex"
**Describe the bug**
Java client can subscribe persistent topics via regex, but failed to subscribe non-persistent topics.
After some efforts, I found client  calls "/admin/v2/namespaces/{namespaces}/topics?mode=ALL" which can't return non-persistent topics.

**To Reproduce**
Steps to reproduce the behavior:
1. Create topics like below:
bin/pulsar-admin topics create non-persistent://goldwind/ioth

[2021-10-12 02:49] zhongky opened #12330 "pulsar in standalone mode cannot startup when both brokerServicePort and webServicePort are assigned to nil"
**Describe the bug**
![微信图片_20211012083050](https://user-images.githubusercontent.com/44399584/136870952-a6883f16-4727-471f-979d-5ce20ce886b5.jpg)

**To Reproduce**
Steps to reproduce the behavior:
1. open conf/standalone.conf
2. modify the configuration brokerServicePort and webServicePort :

3. startup pulsar in standalone mode
4. See error

**Expected behavior**
Pulsar startup normally.

**Scre

[2021-10-12 03:44] thomaeschen commented on #12313
Hi , I solved the issue by adding the client certificate into the client.conf. Hence the issue could be closed

[2021-10-12 03:44] #12313 closed

[2021-10-12 07:25] eolivelli opened #12333 "Flaky-test: org.apache.pulsar.broker.admin.TopicPoliciesTest.testDisableSubscribeRate"
org.apache.pulsar.broker.admin.TopicPoliciesTest is flaky. The testDisableSubscribeRate test method fails very often.

[code]

[2021-10-12 08:58] BewareMyPower opened #12334 "[C++] OAuth 2.0 request's content type is not x-www-form-urlencoded"
**Describe the bug**
When a HTTP request is sent to an OAuth 2.0 server for an access token, the content type should be `x-www-form-urlencoded`. However, current C++ implementation uses `application/json` as the content type. Sometimes it works but for some strict validated OAuth 2.0 server, it could fail.

**To Reproduce**
Here are the error logs when sending a request whose content type is `appl

[2021-10-12 14:51] 315157973 commented on #12269
@eolivelli  PTAL, thanks

[2021-10-13 01:55] lordcheng10 commented on #12333
I also encountered it, and in my PR, CI was triggered several times and failed in this method.

[2021-10-13 03:05] #12324 closed

[2021-10-13 06:27] gaozhangmin opened #12342 "internal-stats `messagesConsumedCounter` is negative"
[code]
it's not easy to reproduce

[2021-10-13 09:05] #12334 closed

[2021-10-13 23:36] merlimat opened #12356 "PIP-104: Add new consumer type: TableView"
## Motivation

In many use cases, applications are using Pulsar consumers or readers to fetch
all the updates from a topic and construct a map with the latest value of each
key for the messages that were received. This is very common when constructing
a local cache of the data.

We want to offer support for this access pattern directly in the Pulsar client
API, as a way to encapsulate the complexi

[2021-10-14 09:18] yan0727 opened #12363 "Function worker service is not done initializing. Please try again in a little while. Reason: HTTP 503 Service Unavailable"
After I deployed the cluster on two centos7 servers, I was prompted with this error when I used pulsar-admin to create functions or use functions list commands. This problem did not occur when I used single node deployment. I have read other issues and found similar problems, but could not find a solution

pulsar version：2.6.0

[2021-10-14 10:07] Radrik5 opened #12365 "Git repository is huge because of asf-site branch"
`git clone https://github.com/apache/pulsar` downloads 1.2 GB of data which takes a long time.

`asf-site` branch takes more than 1 GB
All other branches take 92 MB.
I suggest moving `asf-site` branch to separate repository.

Top 10 folders by total size of all file revisions in git history:

Folder | Size | % of Size
-- | -- | --
content/ | 1,482,355,882 | 87.90%
deployment/ | 47,104,568 | 2.79%

[2021-10-14 14:05] kjaggann opened #12370 "Unable to batchreceive message the available permit is going to negative"
the current version of pulsar client: 2.7.3
the available permit goes to negative .

 consumer = pulsarClient.newConsumer()
                    .topic("persistent://xx/xxxx/xxx-1ms")
                    .ackTimeout(60, TimeUnit.SECONDS)
                    .subscriptionName("vmbTest")
//                    .subscriptionInitialPosition(SubscriptionInitialPosition.Latest)
                    .batchR

[2021-10-15 01:39] yan0727 commented on #12363
@sijie I have read your answers to other issues, but I can't solve them

[2021-10-15 02:12] wangjialing218 commented on #12269
Could user implement their feature and deside which messages can be sent to consumers according to deserialized entry data?
For interface `public FilterResult filterEntries(Entry entry, FilterContext context);`  `Entry` parameter have no meaning for user unless user deserialize `Entry.getData()` in there implement, which may bring more CPU and GC workload on the broker.
So should we allow user to

[2021-10-15 02:22] haormj opened #12377 "[tiered storage] filesystem offloader use hadoop aliyun fileSystemURI broker config not worked"
**Describe the bug**
1. use filesystem offloader hadoop aliyun impl
2. it will storage data to /user/root/pulsar dir, rather than fileSystemURI (oss://bucket/xxx)

**To Reproduce**
1. pulsar 2.7.2
2. pulsar broker config
    - managedLedgerOffloadDriver: filesystem
    - fileSystemURI: oss://bucket/xxx
    - fileSystemProfilePath: /pulsar/conf/filesystem_offload_core_site.xml
3. ./bin/pulsar-admin

[2021-10-15 07:53] codelipenghui opened #12379 "PIP 106: Negative acknowledgment backoff"
## Motivation

Apache Pulsar supports the at-least-once message delivery semantic which can tolerate the consumer failure such as the consumer write the data to the database but the database might offline for a while, call an external HTTP server but the HTTP server is not available or maybe the parts of the consumer fault(can’t connect to the database or HTTP server).

In general, the consumer is

[2021-10-15 08:03] cbornet commented on #12281
Yes, closing `consumer1` closes all the consumers which is unexpected

[2021-10-15 08:34] Anonymitaet opened #12381 "[Website] Show language support for pulsar-admin functions flags"
For `pulsar-admin functions`, different flags of subcommands are supported in different languages.

For example, for `pulsar-admin functions create --subs-position`, it is supported in Java and Go rather than Python.

However, currently, we have not documented this info yet. Therefore, we want to add a column in `pulsar-admin functions` to show the language support for `localrun`, `create`, and `u

[2021-10-15 08:47] congbobo184 opened #12382 "[Transaction] Transaction buffer syncMaxReadPositionForNormalPublish need wait recover success."
now Transaction buffer syncMaxReadPositionForNormalPublish don't wait recover success. Transaction buffer recover is asynchronous, so we need to wait buffer recover success then syncMaxReadPositionForNormalPublish when producer normal message.

[2021-10-15 11:09] codelipenghui commented on #12379
@eolivelli Yes, make sense, will update this part.

[2021-10-15 15:44] #12325 closed, assigned to BewareMyPower

[2021-10-17 08:09] kenlxh11 opened #12391 "I want to write cross-platform c++ software. I want to get some binary library in different platform"
I want to get unix ,windows 10 32bit and 64bit, mac binary library

[2021-10-18 06:14] xuesongxs opened #12399 "Topic partition's segmented storage space calculation error"
**Describe the bug**
The storage space of partition is much larger than 4G (managedLedgerMaxSizePerLedgerMbytes=4096 in broker.conf).

Pulsar v2.8.1
![e898c53b8dbd468fb4d0ed0de0a2c2a](https://user-images.githubusercontent.com/54351417/137667693-64cc5156-77b4-427d-bf7a-789cdd32f35a.png)

broker.conf
managedLedgerMaxEntriesPerLedger=50000
managedLedgerMaxSizePerLedgerMbytes=4096

producer code:

[2021-10-18 12:23] RobertIndie opened #12402 "PIP 107: Introduce the chunk message ID"
## Motivation

Currently, when we send chunked messages, the producer returns the message-id of the last chunk. This can cause some problems. For example, when we use this message-id to seek, it will cause the consumer to consume from the position of the last chunk, and the consumer will mistakenly think that the previous chunks are lost and choose to skip the current message. If we use the inclus

[2021-10-18 12:54] eolivelli opened #12405 "Any runtime exception in AbstractBaseDispatcher breaks the broker"
**Describe the bug**
I am playing with KOP and I was able to see the error below.
The point for this issue is not the problem itself but the fact that after that error the broker stops processing requests, letting every client hang forever (until timeouts...).

We should have some handling of RuntimeExceptions in a way that the broker can recover as much as possible.
[code]

**Additional context**

[2021-10-18 13:18] ooooo-youwillsee opened #12406 "How to debug the code of pulsar broker In IDE ?"
I want to contribute code, I can't luanch pulsar server in IDE,

I hope have a developer document which teach me to lauch `PulsarBrokerStarter`  , `XXXStarter` and so on.

[2021-10-18 14:10] 609101723 opened #12407 "Python Pulsar client creates producer and then close producer, the memory will not be freed"
import pulsar

StrPulsar = "pulsar://192.168.1.2:30771"
StrTopic = "Test"

while True:
    pulsarClient = pulsar.Client(StrPulsar, operation_timeout_seconds = 3)
    producer = pulsarClient.create_producer(StrTopic, send_timeout_millis=3000)
    producer.close()
    pulsarClient.close()

As the business requires me to keep creating and shutting down producer, the memory only increases and does not

[2021-10-18 14:11] 609101723 opened #12408 "Python Pulsar client creates producer and then close producer, the memory will not be freed"
import pulsar

StrPulsar = "pulsar://192.168.1.2:30771"
StrTopic = "Test"

while True:
    pulsarClient = pulsar.Client(StrPulsar, operation_timeout_seconds = 3)
    producer = pulsarClient.create_producer(StrTopic, send_timeout_millis=3000)
    producer.close()
    pulsarClient.close()

As the business requires me to keep creating and shutting down producer, the memory only increases and does not

[2021-10-18 17:08] wmccarley commented on #11431
The cleanest way to solve this is to change:
[code]
to:
[code]
in the ```loadPrivateKeyFromPemStream(...)``` of ```org.apache.pulsar.common.SecurityUtility``` in pulsar-common.

However, the ```getAlgorithm()``` method of ```java.security.spec.EncodedKeySpec``` wasn't added until Java 9. It seems that prior to version 9 the only way to get the algorithm is to parse it from ASN.1 data manually (not

[2021-10-18 19:48] #12407 closed, assigned to nobody

[2021-10-18 21:34] wmccarley commented on #12391
Compiling the c++ client library is possible on all of the [platforms you listed.](https://pulsar.apache.org/docs/en/client-libraries-cpp/#supported-platforms) The Windows client you will have to compile yourself. The last time I tried to do that was a year ago and it was super not fun... all sorts of issues with the dependencies (openssl, a few others.) However, it looks from the docs like the bu

[2021-10-19 02:12] Jason918 commented on #12151
Any idea how to reproduce this error? @aahmed-se

[2021-10-19 02:47] #12408 closed

[2021-10-19 09:41] xiemeilong opened #12418 "Upgrade debezium"
**Is your enhancement request related to a problem? Please describe.**
Current version used by pulsar  is 1.0,  it convert datetime as UTC timezone, there is no way to change it .
 But in  newer version, Timezone will be queried from the server or from options.

[2021-10-19 09:47] yuruguo opened #12419 "Adjust the judgment logic of topic schema operation permissions"
**Is your enhancement request related to a problem? Please describe.**
The `role`(not super-user) that has the `lookup` topic permission should also have the operation permission of the topic schema, for example, the `role` could get topic schema through `./bin/pulsar-admin schemas get tenant1/ns1/tp1`.
But I found that we first judge whether the `role` has access to the `tenant` of this topic, as

[2021-10-19 10:05] golden-yang opened #12421 "[pulsar client] getLastMessageIdAsync method is blocked, when BK ledger is been cleaned."
**Describe the bug**
We have a topic that has not been updated with new message for a month.
When I use PulsarReader.getLastMessageIdAsync, This method will always be blocked.
It happen in pulsar 2.6.1, I am not sure if this has been fixed.

In pulsar broker log, I found these log:

2021-10-19 17:07:35.190 [pulsar-io-23-68] INFO  org.apache.pulsar.broker.service.persistent.PersistentTopic - [persi

[2021-10-19 10:58] senax opened #12423 "Multi-topic subscription requires tenant admin access"
**Describe the bug**
Since 2.8.1, using multi-topic subscriptions requires admin access; not just namespace-consume. This was working fine in 2.8.0.

**To Reproduce**
Steps to reproduce the behaviour:
1. Run a cluster with JWT authentication enabled.
2. Create a 'test_user' token. ```pulsar tokens create --private-key /data/certs/jwt-private.key --subject test_user > /data/certs/jwt-test_user.toke

[2021-10-19 14:30] frankjkelly opened #12426 "Update Producer stats on producer flush() or close()"
**Is your enhancement request related to a problem? Please describe.**
The default producer stats update period is 60 seconds
https://github.com/apache/pulsar/blob/7bf14b5ac049d71c7ff74bbe758cb41aaffeb0af/pulsar-client-1x-base/pulsar-client-1x/src/main/java/org/apache/pulsar/client/api/ClientConfiguration.java#L281-L288

if you have a short-lived producer (lasts less than 60 seconds) then the quan

[2021-10-19 16:03] alexec opened #12428 "Support Pulsar in ArgoLabs Dataflow"
We currently have support for Kafka, Jetstream, NATS Streaming and other sources and sinks. It would be amazing to add support for Pulsar too. We know that we plenty of use cases in the OSS community and this would get a lot of love.

The Dataflow team are not Pulsar experts. My ask is - would anyone be interested in implementing the changes needed?

Here is a [pull request for Jetstream](https://

[2021-10-20 02:41] BewareMyPower commented on #12406
You can remove the `data` directory first. But I think the error logs doesn't affect. Each time a standalone starts, it tries to create the cluster metadata in ZK. See `createSampleNameSpace#createSampleNameSpace`. Maybe you can enhance the start process of standalone.

Regarding to the JVM arguments, I have nearly not configured them for development. The error might be caused by the class path is

[2021-10-20 03:10] #12418 closed, assigned to nobody

[2021-10-20 03:21] Shoothzj commented on #12399
The `managedLedgerMinLedgerRolloverTimeMinutes` is to avoild frequencyly ledger rollover, if you want exactly less than size, you can tune this to `0`

[2021-10-21 01:16] Anonymitaet opened #12442 "[Doc] correct the YAML example for InfluxDB connector"
Issue: this is not YAML, it lists the JSON config in the YAML section

![image](https://user-images.githubusercontent.com/50226895/138193645-f5f1c887-e09a-471f-9f60-4f143457fdc4.png)

Website: https://pulsar.apache.org/docs/en/io-influxdb-sink/

[2021-10-21 01:16] Anonymitaet commented on #12442
@sijia-w can you help resolve this doc issue (and correct all affected doc versions if needed)? Thanks

[2021-10-21 01:25] ooooo-youwillsee commented on #12406
thanks

[2021-10-21 03:13] azeng528 opened #12445 "pulsar ledger delete but disk not clearing"
**Describe the bug**
pulsar 2.4.0
3 node cluster
but one node disk not clearing
![image](https://user-images.githubusercontent.com/19300752/138204826-2260be09-62cd-45ce-9e8e-2b4eb8bbe846.png)

**To Reproduce**
通过：./bin/bookkeeper shell listledgers在三台服务器执行，ledger数量差别不大，都有3600左右的ledger，并且隔10min查询，前后ledger确实有部分不一样

日志里面现实启动了grabage线程，但是30min，磁盘仍然没有释放，请问有没有手动加速清理的方法或者磁盘空间回收的参数是那一部分？

[2021-10-21 03:31] azeng528 commented on #12445
应该不是ledger的问题，感觉就是后台磁盘回收的程序没生效，重启了好几次bookie，现在看bookie在正常进行磁盘回收了
![image](https://user-images.githubusercontent.com/19300752/138206727-a3a84fa0-c299-4949-85a6-fecd5322fe36.png)

[2021-10-21 04:29] hozumit commented on #12291
@Jason918 Thank you for fixing the bug!

[2021-10-21 06:30] #12290 closed

[2021-10-21 17:26] Raven888888 opened #12455 "PulsarClientException$BrokerMetadataException error reoccurs in release 2.8.1"
**Describe the bug**
Exactly same as #11774. Unable to start broker.
Also similar to #10967.

**Error log**
[code]

**Expected behavior**
Able to restart and run broker without any error.
Claimed to be fixed by #10968, but I still face the same issue.

**Additional context**
Pulsar version: 2.8.1
Pulsar mode: cluster, 3 nodes
KoP: enabled (#10950)

[2021-10-22 03:50] Feng-Xg opened #12459 "what's error of 'Proxy Client is not authorized to Get Partition Metadata'"
it will  occured the error of **Proxy Client is not authorized to Get Partition Metadata** when producer client send message.
who had same problem?

[2021-10-22 12:45] genert opened #12463 "Rust support for Pulsar Functions"
As the Rust language has became much more mature, and the ecosystem is growing, it would be great if Apache Pulsar supports Rust for writing Pulsar Functions.

The implementation should be quite straightforward as Golang is already supported and both languages produce binaries.

[2021-10-22 14:43] xl4hub opened #12465 "Pulsar SQL NullPointerException when select a row produced by go client with schema"
**Expected:**
Using the go client to send a message with a schema I should be able to use Pulsar SQL to read the message

**Actual:**
When I try this:
[code]

I built pulsar master head and 2.8.1 both have this problem. I am using the go client version 0.6.0.

The problem is in org.apache.pulsar.sql.presto.PulsarRecordCursor and appears to originate in getBytesSchemaInfo()
called here:
`482: Schem

[2021-10-25 00:21] Shoothzj commented on #12275
Have you already change the java heap memory config?

[2021-10-25 00:39] #12442 closed, assigned to nobody

[2021-10-25 00:41] #12239 closed

[2021-10-25 01:15] ericsyh opened #12477 "[bug](function-go-runtime): The runtime of instance-conf is incorrect"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go build a golang-function.
2. Local run the go-function `bin/pulsar-admin functions localrun --go /home/ericsyh/apache-pulsar-2.8.1/func-go/main --inputs persistent://public/default/input --output persistent://public/default/output --tenant public --namespace default --na

[2021-10-25 09:43] congbobo184 opened #12478 "[Broker] MessageDeduplication with producerName can not be cleaned up"
## Issue
Now, remove inactive producerName in MessageDeduplication when producer close. But the producer has been closed before topic unload, this producerName will not be remove if producer don't connect broker with the same producerName.

## implement

When topic recover `MessageDeduplication`, we should put every producerName into inactive producerNameMap. When producer with the same name, we w

[2021-10-25 09:58] Shoothzj opened #12479 "PIP 124: Add method to help user judge if consumer queue has message"
## Motivation
Currently, I have an application that manages ten thousand of consumers, and a logic to schedule consumers's receive. It would be helpful to know if one of the consumers have message to recive.

## Goal
To make `Consumer` can judge if there are unreceiving messages

## API Changes

Add `hasMessageInReceiverQueue` on the `Consumer` interface.

## Implementation

For `ZeroQueueConsumer

[2021-10-25 14:25] liangyepianzhou opened #12482 "[Transaction]Offload Transaction Data"
- **Status: Discussing**
- **Authors: Xiangying Meng**
- **Mailing List discussion**: null
- **tiered storage：**[https://github.com/apache/pulsar/wiki/PIP-17:-Tiered-storage-for-Pulsar-topics](https://github.com/apache/pulsar/wiki/PIP-17:-Tiered-storage-for-Pulsar-topics)
- **Transaction Buffer:** [SNIP 4: Transaction buffer data clear and dispatch transaction message](https://streamnative.slab.co

[2021-10-25 19:22] tsturzl opened #12485 "Python Client has very unexpected behavior, cannot use any value that evaludates to False"
**Describe the bug**
Python client does very bad things with values `0`, `False`, and empty strings. Basically any value that evaluates to False cannot be used as the value for a Field, nor can it be used as the default for the field (which has even more bizarre behavior). So anything where `not val` evaluates to `False` is not a possible value that can be used, which means zero and empty strings

[2021-10-25 22:05] tsturzl opened #12486 "Python Client, JsonSchema encoding is not idempotent"
**Describe the bug**
The JsonSchema throws a KeyError exception during on `encode` method if you call it more than once. The keys that get deleted on encoding don't exist the second time and there is no check that happens to see if they still exist, [see here](https://github.com/apache/pulsar/blob/464a9cdc21609189771f1d95ac211b69eca1454c/pulsar-client-cpp/python/pulsar/schema/schema.py#L88). This

[2021-10-25 23:28] LCVcode opened #12488 "Documentation falsely says that metadata needs to be initialized from a machine in the "zookeeper cluster"."
Please answer the following questions before submitting your doc issue. Thanks!

# What issue do you find in Pulsar docs?

Documentation falsely states that metadata needs to be initialized from a machine in the "ZooKeeper cluster" .  Its precise language is: "run on any machine in your ZooKeeper cluster". This is untrue, as I am able to initialize metadata from machines in the Broker cluster (and

[2021-10-26 02:53] congbobo184 opened #12494 "[Transaction] Fix when topic transaction buffer recover produce `ledger not exist error`"
**Describe the bug**
When topic transaction buffer recover produce `ledger not exist error`, it will recover in loop and don't quit.

![image](https://user-images.githubusercontent.com/39078850/138800896-071d7a90-d7a4-480b-9ab7-f657cf523412.png)

**Expected behavior**
can recover in normal

[2021-10-26 05:54] mingyifei opened #12495 "no properties discovered to create BeanSerializer"
背景：客户端启动完毕，构建消息时报错

代码：
生产者客户端：
Producer<?> producer = pulsarClient.newProducer(Schema.JSON(RequestWrapper.class))
                    .......
                    .create();
producer.newMessage()
                .value(new RequestWrapper(message))
                .deliverAfter(delay, unit)
                .properties(properties)
                .sendAsync();

RequestWrapper对所有请求对象包装：
RequestWrappe

[2021-10-26 10:51] odidev opened #12501 "Add support to release Linux aarch64 wheels"
On aarch64, ‘pip install pulsar-client’ gives the following error:

[code]

Please let me know your interest in releasing Linux aarch64 wheels. I can help with this.

[2021-10-26 16:41] truong-hua opened #12503 "Feat: allow to specify sinkType in --sink-config-file of pulsar-admin cli"
**Is your feature request related to a problem? Please describe.**
Currently, the --sink-config-file supported only archive option but not sinkType option
Command `pulsar-admin --admin-url http://pulsar:8080 sinks create --sink-config-file ./config.yml` will output `Sink archive not specfied` even that the sinkType is defined in config.yml

**Describe the solution you'd like**
pulsar-admin should

[2021-10-26 16:50] #12426 closed, assigned to nobody

[2021-10-27 01:37] xuesongxs opened #12505 "Add the backlog to the ledger of the topic's subscription"
**Is your feature request related to a problem? Please describe.**
At present, when the disk space of bookie cannot be released, you can only view the topic subscription's backlog or the partition's backlog, but there are several ledgers in a partition. You don't know which ledger the backlog is stuck on.

**Describe the solution you'd like**
In the broker component, add a backlog on the ledger.
!

[2021-10-27 02:01] #12478 closed, assigned to congbobo184

[2021-10-27 07:34] eolivelli opened #12508 "[Java client] Deadlock in Message.getValue() if executed inside a Pulsar async callback, due to blocking download of the Schema"
**Describe the bug**
In case of a AVRO message Message.getValue() needs to download the schema from the Registry performing a blocking operation that involves a request to the Broker itself.

If you call Message.getValue() on the completion of a CompletableFuture returned by Pulsar Client, like Reader.readNextAsync() then there is a good chance to create a deadlock.

This is my code

[code]

In th

[2021-10-27 08:36] xiaobing0508 opened #12509 "Bookies oom"
### In PULSAR_HOME/logs/pulsar-bookie.log :
16:00:28.189 [BookieReadThreadPool-OrderedExecutor-6-0] ERROR org.apache.bookkeeper.proto.BookieServer - Unable to allocate memory, exiting bookie
io.netty.util.internal.OutOfDirectMemoryError: failed to allocate 16777216 byte(s) of direct memory (used: 246960619520, max: 246960619520)
        at io.netty.util.internal.PlatformDependent.incrementMemoryCo

[2021-10-27 09:06] Aaronzk opened #12510 "Failed messages 1 with no more exception message"
#### Discribe

When I write data into pulsar topic using a producer,I got this
[code]
and no more data was written into my topic.
#### Help Needed

I would like to know how to locate the cause of this problem, and which message is the "Failed message".

Any indicative answer is appreciate.

#### System configuration
**Pulsar version**: 2.6
**Pulsar client**: 2.8.0
**Client log level**: DEBUG
**Cli

[2021-10-28 08:55] yebai1105 opened #12518 "执行bundle拆分后，再执行unload命令报错"
Describe the bug
1、初始bundle数量90个，分别对这90个bundle进行如执行以下命令进行拆分
命令：“bin/pulsar-admin namespaces unload --bundle 0xf1c71c2a_0xf49f49ac vstream-tenant/vstream-ns”
![image](https://user-images.githubusercontent.com/43256848/139223401-af1beec1-aeac-407f-ad14-8108ff31dfc2.png)

2、执行unload操作，如以下命令：
命令：bin/pulsar-admin namespaces unload vstream-tenant/vstream-ns

To Reproduce
1、执行完unload后，报错500
![image](http

[2021-10-28 09:17] hpvd opened #12519 "Speed up CI with "official" docker caching (available with github actions)"
**Is your enhancement request related to a problem? Please describe.**
CI could always be faster...
great speedups were already introduced with:
https://github.com/apache/pulsar/pull/10001

**Describe the solution you'd like**
I'm not sure but maybe looking into some infos/details documented here (directly and in linked articles) may help to speed up further:

source: comment of @dtinth, on Oct 27

[2021-10-28 11:03] #12518 closed, assigned to nobody

[2021-10-29 05:15] Jzow opened #12528 "How to use custom ports when installing pulsar？"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-10-29 05:15] #12528 closed, assigned to nobody

[2021-10-29 05:16] Jzow opened #12529 "How to use custom ports when installing pulsar?"
I didn't see the custom port start pulsar on the official website. My command is as follows. After startup, the port is monitored, but I can't connect through manager

[code]

[2021-10-29 08:35] hepyu opened #12533 "bookie entry的p999写入时间达到5秒可能是什么原因？"
前提：3台8c16g的pulsar集群

现象&问题：一个节点的entry的写入P999达到5秒，且持续至少30秒。而其他两个节点的写入是正常的，有可能是什么原因呢？

![image](https://user-images.githubusercontent.com/3917749/139403345-40bae858-fef9-4a8e-a662-57f11d47996f.png)

是bookie发生了不同节点间的数据迁移？还是说在这一区间把jounal日志大量向多个ledger中写入？

其他数据：
写入tps：3500~4000
读取tps：1.5w~2w

这个30秒～60秒区间的异常情况：
1130次发送失败中，有912次是网络超时，218次是因为pulsar发送队列满
再细查日志可以看到，912次网络超时在前，218次pulsar-queue满造成超时在后，可以说明是一个

[2021-10-29 13:04] brucelwl opened #12537 "The .git directory takes up 1.42G of disk space"
After downloading the source code from GitHub, the ``.git`` directory took up ``1.42G`` of disk space

![image](https://user-images.githubusercontent.com/13413715/139439408-1d352537-01f7-4175-bcaf-ca04ca00d312.png)

![image](https://user-images.githubusercontent.com/13413715/139439045-feecfab5-c678-43d7-a3b2-1fbf164846e5.png)

[2021-10-30 00:54] #10021 closed

[2021-10-30 06:34] dhinesherode91 commented on #8429
@congbobo184 The issue is not yet resolved. We are using Pulsar 2.7.1. Both broker and Pulsar client are using the same version. Our consumer is subscribed to a single topic only. Ours is an AVRO schema based topic.
On debugging the code, I could arrive at one point, Once the consumer receives the first message it  checks the schema version of the message and asks the broker for the schema details

[2021-10-30 11:33] lhotari opened #12546 "Flaky-test: PulsarSinksTest.testElasticSearchSinkSchemaEnabled fails with OOM (exit code 137)"
PulsarSinksTest is flaky. The testElasticSearchSinkSchemaEnabled test method fails sporadically.

This failure is caused by out-of-memory.

[example failure](https://github.com/apache/pulsar/runs/4037997556?check_suite_focus=true#step:13:10687)

[code]

[2021-10-30 12:08] lhotari commented on #12546
Related to #12307

[2021-10-30 13:31] #12261 closed

[2021-10-30 15:56] lhotari commented on #12508
I wonder if #10418 "Retrieving a schema can block the Zookeeper client thread" is related?

[2021-10-30 16:01] merlimat commented on #10418
The deadlock here seems to be related to the checkTopicOwnership blocking call. It was solved in 2.9 with #11012

[2021-10-30 16:02] merlimat commented on #12508
I don't think it's related. In the client there's no ZK access. This is just blocking the Pulsar IO thread.

[2021-10-30 16:14] #12546 closed

[2021-10-31 09:25] eolivelli commented on #12508
@merlimat this will work but is it only a workaround for my case.
When I have time I will send a patch, at least to unlock this case.

But we should this to some longer term solutions because in theory we should not make any blocking call in getValue(), because reactive/non blocking frameworks may observe this unpredictable behaviour

[2021-10-31 15:22] acedrew commented on #6899
We would be interesting in sponsoring this work at some level. Unfortunately, we do not have internal resources that could tackle this at this time.

[2021-10-31 15:42] zbentley opened #12551 "Attempting to delete topics shortly after creation/deletion requests fails with a 500 error of "MetadataNotFoundException: Managed ledger not found""
**Describe the bug**
When testing, I often tear down tenants/namespaces/topics and re-create those same tenants/namespaces/topics immediately thereafter to reset test state.

Sometimes (but not always) when I create a tenant/namespace/topic and then immediately request their deletion, I get a 500 error back from the management API, which correlates to the below stacktrace on the broker.

This shou

[2021-10-31 15:46] merlimat commented on #12551
The operations are always acked after the writes are completed. What typically happens is that the 2nd request goes to a different broker which has not yet received a cache invalidation signal (eg: zk watch).

[2021-10-31 15:49] zbentley opened #12552 "MaxRedirectException occurs when attempting to delete a subscription that was recently created and then had its topic destroyed"
**Describe the bug**
If I create a tenant/namespace/topic/subscription and then immediately (seconds later) delete and recreate the tenant/namespace/topic, attempting to delete the subscription fails with a 500 response code and a `MaxRedirectException`.
I would expect subscription deletion to fail with a 404 as the subscription should not exist since I just deleted and recreated the tenant/namesp

[2021-10-31 15:53] zbentley opened #12553 "Attempting to delete a tenant that was recently created sometimes fails with "MetadataStoreException: org.apache.zookeeper.KeeperException$NotEmptyException: KeeperErrorCode = Directory not empty for /admin/policies/$tenantname""
**Describe the bug**
When I create a tenant/namespace/topic/subscription and then immediately (seconds or less) try to delete them, I sometimes get a 500 response code and an internal stacktrace (see below).

**To Reproduce**
Run reproduction plan for https://github.com/apache/pulsar/issues/12551; sometimes the steps will not error, sometimes they will have the error described in that issue or oth

[2021-10-31 16:17] zbentley opened #12554 "Attempting to delete a topic which has recently been created sometimes fails with a 500 error, with an internal broker error of "Maximum redirect reached" preceeded by NoNodeException"
**Describe the bug**
When I create a tenant/namespace/topic/subscription (persistent, partitioned topic) and immediately (less than a second later) attempt to delete the topic, I sometimes get a 500 response code which coincides with several errors in the broker's log.

Note that there are two stacktraces below; the earliest and latest (the latest is a max-redirects error). I think the first stack

[2021-10-31 16:21] zbentley opened #12555 "Attempting to delete a topic which has recently been created sometimes fails with a 500 error, with an internal broker error of "Maximum redirect reached" preceeded by "Topic was already not existing" and "MetadataNotFoundException: Managed ledger not found""
**Describe the bug**
Identical to https://github.com/apache/pulsar/issues/12554, except the error that occurs first in the broker's log is different ("MetadataNotFoundException: Managed ledger not found"); the NoNodeError referenced in the 12554 is not observed in the logs in this issue.
**To Reproduce**
Run reproduction plan for https://github.com/apache/pulsar/issues/12551; sometimes no error wi

[2021-10-31 16:32] zbentley opened #12556 "Attempting to delete a namespace shortly after it was created and shortly after all contained topics were deleted sometimes fails with a 500 response code and a broker log of "MetadataNotFoundException: Managed ledger not found""
**Describe the bug**
If I create a namespace, put a persistent, partitioned topic in it, and then immediately thereafter delete the topic and attempt to delete the namespace, namespace deletion sometimes fails with a 500 error that corresponds to "MetadataNotFoundException: Managed ledger not found" in the broker's log.

Note that I was connecting to this broker through a Pulsar proxy; my client i

[2021-10-31 16:44] zbentley opened #12557 "Attempting to connect a consumer to a very recently created topic/subscription sometimes fails with UnknownError on the client"
**Describe the bug**
If I create a topic/subscription via the management API and then immediately attempt to connect a consumer to that subscription via the C++ client, the `subscribe` call *sometimes* (rarely; less than half of the time) fails with `UnknownError`.

This error does not coincide with any obvious issues in the broker or proxy log; sorry for the light detail on this bug.

**To Reprod

[2021-10-31 16:51] zbentley commented on #12551
The following issues were all observed in response to similar testing:
https://github.com/apache/pulsar/issues/12557
https://github.com/apache/pulsar/issues/12556
https://github.com/apache/pulsar/issues/12555
https://github.com/apache/pulsar/issues/12554
https://github.com/apache/pulsar/issues/12553
https://github.com/apache/pulsar/issues/12552
https://github.com/apache/pulsar/issues/12551

The co

[2021-10-31 16:51] zbentley commented on #12552
The following issues were all observed in response to similar testing:
https://github.com/apache/pulsar/issues/12557
https://github.com/apache/pulsar/issues/12556
https://github.com/apache/pulsar/issues/12555
https://github.com/apache/pulsar/issues/12554
https://github.com/apache/pulsar/issues/12553
https://github.com/apache/pulsar/issues/12552
https://github.com/apache/pulsar/issues/12551

The co

[2021-10-31 16:51] zbentley commented on #12553
The following issues were all observed in response to similar testing:
https://github.com/apache/pulsar/issues/12557
https://github.com/apache/pulsar/issues/12556
https://github.com/apache/pulsar/issues/12555
https://github.com/apache/pulsar/issues/12554
https://github.com/apache/pulsar/issues/12553
https://github.com/apache/pulsar/issues/12552
https://github.com/apache/pulsar/issues/12551

The co

[2021-10-31 16:51] zbentley commented on #12554
The following issues were all observed in response to similar testing:
https://github.com/apache/pulsar/issues/12557
https://github.com/apache/pulsar/issues/12556
https://github.com/apache/pulsar/issues/12555
https://github.com/apache/pulsar/issues/12554
https://github.com/apache/pulsar/issues/12553
https://github.com/apache/pulsar/issues/12552
https://github.com/apache/pulsar/issues/12551

The co

[2021-10-31 16:52] zbentley commented on #12555
The following issues were all observed in response to similar testing:
https://github.com/apache/pulsar/issues/12557
https://github.com/apache/pulsar/issues/12556
https://github.com/apache/pulsar/issues/12555
https://github.com/apache/pulsar/issues/12554
https://github.com/apache/pulsar/issues/12553
https://github.com/apache/pulsar/issues/12552
https://github.com/apache/pulsar/issues/12551

The co

[2021-10-31 16:52] zbentley commented on #12556
The following issues were all observed in response to similar testing:
https://github.com/apache/pulsar/issues/12557
https://github.com/apache/pulsar/issues/12556
https://github.com/apache/pulsar/issues/12555
https://github.com/apache/pulsar/issues/12554
https://github.com/apache/pulsar/issues/12553
https://github.com/apache/pulsar/issues/12552
https://github.com/apache/pulsar/issues/12551

The co

[2021-10-31 16:52] zbentley commented on #12557
The following issues were all observed in response to similar testing:
https://github.com/apache/pulsar/issues/12557
https://github.com/apache/pulsar/issues/12556
https://github.com/apache/pulsar/issues/12555
https://github.com/apache/pulsar/issues/12554
https://github.com/apache/pulsar/issues/12553
https://github.com/apache/pulsar/issues/12552
https://github.com/apache/pulsar/issues/12551

The co

[2021-10-31 16:55] zbentley commented on #12551
@merlimat that is good info. It indicates a partial workaround while these conditions are addressed; I can force clients doing "DDL" type work to always connect to a single broker.

However, that still will likely hit variations on these issues; since a given container entity (say a partitioned topic, or a namespace) can have sub-entities resident on multiple brokers, attempting to perform CRUD op

[2021-10-31 17:05] zbentley commented on #12551
Though not all of these are just due to metadata being out of sync @merlimat; https://github.com/apache/pulsar/issues/12556 appears to stick around forever (I gave it tens of minutes before tearing down the cluster, at least, and it didn't go away on its own).

[2021-10-31 17:47] zbentley commented on #12555
Additional info: when deleting a topic via a proxy rather than directly through the broker, the proxy returns a 502: Bad Gateway error when the broker prints out the stacktrace in this issue.

[2021-10-31 17:47] zbentley commented on #12554
Additional info: when deleting a topic via a proxy rather than directly through the broker, the proxy returns a 502: Bad Gateway error when the broker prints out the stacktrace in this issue.

[2021-10-31 19:29] lhotari opened #12558 "Flaky-test: SimpleProducerConsumerTestStreamingDispatcherTest.testConcurrentConsumerReceiveWhileReconnect"
Flaky-test: org.apache.pulsar.broker.service.persistent.SimpleProducerConsumerTestStreamingDispatcherTest.testConcurrentConsumerReceiveWhileReconnect
Number of failures: 11

org.apache.pulsar.broker.service.persistent.SimpleProducerConsumerTestStreamingDispatcherTest is flaky. The testConcurrentConsumerReceiveWhileReconnect test method fails sporadically.

[code]

Usage tip: To enable automatic na

[2021-10-31 19:33] lhotari commented on #11700
Flaky-test: org.apache.pulsar.broker.service.ReplicatorTest.testTopicReplicatedAndProducerCreate
Number of failures: 8

org.apache.pulsar.broker.service.ReplicatorTest is flaky. The testTopicReplicatedAndProducerCreate test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-10-25T01:1

[2021-10-31 19:35] lhotari opened #12559 "Flaky-test: PulsarFunctionsJavaProcessTest.testJavaExclamationFunction"
Flaky-test: org.apache.pulsar.tests.integration.functions.java.PulsarFunctionsJavaProcessTest.testJavaExclamationFunction
Number of failures: 8

org.apache.pulsar.tests.integration.functions.java.PulsarFunctionsJavaProcessTest is flaky. The testJavaExclamationFunction test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links wit

[2021-10-31 19:36] lhotari commented on #10870
Flaky-test: org.apache.pulsar.functions.source.batch.BatchSourceExecutorTest.testLifeCycle
Number of failures: 4

org.apache.pulsar.functions.source.batch.BatchSourceExecutorTest is flaky. The testLifeCycle test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-10-30T12:21:22.7103711

[2021-10-31 20:29] lhotari commented on #10150
Flaky-test: org.apache.pulsar.broker.service.PersistentTopicE2ETest.testBrokerConnectionStats
Number of failures: 4

org.apache.pulsar.broker.service.PersistentTopicE2ETest is flaky. The testBrokerConnectionStats test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links with CTRL/CMD-click.
[example failure 2021-10-27T01:00:55.5

[2021-10-31 20:30] lhotari commented on #10150
Flaky-test: org.apache.pulsar.broker.service.persistent.PersistentTopicStreamingDispatcherE2ETest.testBrokerConnectionStats
Number of failures: 1

org.apache.pulsar.broker.service.persistent.PersistentTopicStreamingDispatcherE2ETest is flaky. The testBrokerConnectionStats test method fails sporadically.

[code]

Usage tip: To enable automatic navigation to failure message, open the following links

[2021-11-01 02:08] Jason918 commented on #12533
You can check if there is a long java gc in bookie first.

[2021-11-01 02:29] Jzow commented on #12529
[code]
@nodece  Is that so?

[2021-11-01 02:48] nodece commented on #12529
@Jzow Yeap.

[2021-11-01 04:07] anigkus opened #12563 "apache-pulsar-2.8.1#bin/pulsar standalone#ERROR org.apache.bookkeeper.clients.impl.internal"
**Describe the bug**
grep 'ERROR' -A 5 start.log
`11:18:21.554 [client-scheduler-OrderedScheduler-1-0] ERROR org.apache.bookkeeper.clients.impl.internal.RootRangeClientImplWithRetries - Reason for the failure {}
io.grpc.StatusRuntimeException: NOT_FOUND
        at io.grpc.Status.asRuntimeException(Status.java:533) ~[io.grpc-grpc-api-1.33.0.jar:1.33.0]
        at io.grpc.stub.ClientCalls$UnaryStrea

[2021-11-01 05:19] jimmycxm commented on #12328
Thanks @casuallc. It works with your suggestion.

[2021-11-01 05:19] #12328 closed

[2021-11-01 06:44] cleverblue opened #12564 "C + + client supports class programming"
At present, the client and producer of C + + client do not support defining variables as class members, so they cannot be defined in the following form:

ca.h

class ca
{
public:
Client client;
Producer producer;
}

ca.cpp

ca::init(string topic )
{
client = client(address);
result= client.createProducer(string("persistent://public/default/ ")+topic,
producerConf, producer);
}

ca::push_ data(stri

[2021-11-01 07:01] Anonymitaet commented on #12529
Hi @Jzow if you want to customize the port, you need to take Docker guides as references.

Since your issue has been resolved, can we close this issue and uncheck the `doc-required` label?

[2021-11-01 07:14] casuallc commented on #12281
In Shared or Key_Shared mode, unacknowledged message will redeliver to others consumer when the connected consumer closed(because all messages will add to `pendingAcks` before send to client).

And it seems that `negativeAcknowledge`  only the current client can be affected.
Negative message is added to a `negativeAcksTracker`,  cached messages can not transfer to other consumers.

At last, I do n

[2021-11-01 09:21] hangc0276 commented on #12533
Your journal and ledger disks are HDD or SSD? `journalSyncData` is set to `true` or `false`?

[2021-11-01 11:38] yuruguo commented on #12419
@merlimat @eolivelli @codelipenghui can you look at this issue?

[2021-11-01 12:52] Jzow commented on #12529
Thanks,Let me try tomorrow

[2021-11-01 12:52] #12529 closed

[2021-11-01 14:32] zbentley commented on #12555
When connecting through a proxy, this error persists; it doesn't go away after a period of time.

[2021-11-01 14:32] zbentley commented on #12554
When connecting through a proxy, this error persists; it doesn't go away after a period of time.

[2021-11-01 14:37] gaoran10 commented on #12284
It seems that the schema version of the message is null, which language client do messages come from?

[2021-11-01 15:04] xiaotongwang1 opened #12568 "KOP getOffsetOfPosition failed ( Invalid unknonwn tag type: 6 )"
**配套版本**
pulsar: 2.8.1
KOP: 2.8.1.2

**复现场景：**

5台broker+5台bookie+5台zookeeper，3/3/2的模式

1、创建topic，启动生产者，没有消费者，持续发送数据
2、使用Kafka的API去获取Topic每个分区的消息first offset and last offset (handleListOffsetRequest getOffsetOfPosition)
3、持续发送数据，停止3台bookie，使集群不可用
4、启动3台bookie
5、使用Kafka的API去获取Topic每个分区的消息first offset and last offset (handleListOffsetRequest getOffsetOfPosition) ，失败，报错堆栈如下：

**KOP :**

2021-11-01 20

[2021-11-01 15:40] merlimat commented on #12508
That's fine to pre-fetch the schema to avoid an unexpected blocking operation, though it's a different class of problem compared to having a deadlock in the client lib.

[2021-11-01 18:53] merlimat commented on #12556
All operations are returned only after a successful write to metadata service.

If that induces a permanent inconsistency state, it's a bug that absolutely needs to get fixed.

In reality, this is not an easy thing to do in any distributed system, barring of completely eliminating the caches.

In a distributed system, there is no way to 100% ensure all caches have been invalidated.

[2021-11-01 21:03] eolivelli commented on #12508
I will send a PR with the perfect implementation, maybe we will need a PIP as I will have to introduce some methods in the Schema API in order to execute the (async) prefetch operation

[2021-11-01 22:12] branhoff opened #12571 "Python client: No support for default values"
**Describe the bug**
No support for `default` values.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://github.com/ta1meng/pulsar-python-avro-schema-examples
2. Read the README file at the root directory as well as README file in:
     * example03_nested_schema_with_doc_namespace
3. The repo does not contain an example of the lack of support of explicit `default` values, but it'

[2021-11-01 22:18] branhoff opened #12572 "Python client: No support for doc attribute"
**Describe the bug**
No support for `doc` attribute

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://github.com/ta1meng/pulsar-python-avro-schema-examples
2. Read the README file at the root directory as well as README file in:
     * example03_nested_schema_with_doc_namespace
3. Run the `producer` and `consumer` in the pulsar standalone environment

**Expected behavior**
The d

[2021-11-01 22:20] branhoff opened #12573 "Python client: No support for the namespace attribute"
**Describe the bug**
No support for `namespace` attribute

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://github.com/ta1meng/pulsar-python-avro-schema-examples
2. Read the README file at the root directory as well as README file in:
     * example03_nested_schema_with_doc_namespace
3. Run the `producer` and `consumer` in the pulsar standalone environment

**Expected behavior**

[2021-11-01 22:31] branhoff opened #12574 "Python client: Ordering bug when generating schema definition that makes schema incompatible with topic's registered schema"
**Describe the bug**
When generating a schema definition with the same fields as a topic's registered schema, if the the generated schema is in a different order than the registered schema, will be labeled as incompatible.

**To Reproduce**
Steps to reproduce the behavior:

1. Go to https://github.com/ta1meng/pulsar-python-avro-schema-examples
2. Read the `README` file at the root directory as wel

[2021-11-01 22:33] branhoff commented on #10596
Separate tickets filed for remaining issues:

https://github.com/apache/pulsar/issues/12571
https://github.com/apache/pulsar/issues/12572
https://github.com/apache/pulsar/issues/12573
https://github.com/apache/pulsar/issues/12574

[2021-11-01 23:16] zbentley commented on #12556
This specific issue is a permanent inconsistency. The others usually go away after waiting a few minutes.

Is there some way instead to bypass cached metadata on a per-operation basis? Could that be exposed as a parameter for management API operations?

Alternatively, would it be possible to add behavior like "when the backend encounters an error that could be due to an out-of-date cache, dump the

[2021-11-02 02:16] BewareMyPower commented on #12568
Please paste your code.

Another question is, did you stop sending messages after step 2? If I didn't understand wrong, you started a process to send messages continuously. Then stop bookies to make cluster not available.

Could you paste other error logs? Please don't hide these if you want more helps.

[2021-11-02 02:21] BewareMyPower commented on #12568
Please also take a look when you have time. @Demogorgon314 @aloyszhang

I think it's likely to be caused by the failure of `PersistentTopic#publishMessage` and potential retries in managed ledger. Also, there's a PR (https://github.com/apache/pulsar/pull/12018) that might fix the duplicated `BrokerEntryMetadata`.

[2021-11-02 02:40] BewareMyPower commented on #12564
Why not? Please paste the compilation error. I guess it's because `Client` doesn't have a default constructor. Since when a `Client` is constructed, it doesn't start any network connection. So you can pass an empty string.

Here is an example.

[code]

And the output is:

[code]

[2021-11-02 03:48] aloyszhang commented on #12568
what is the exact behaviour here?

[2021-11-02 03:55] BewareMyPower commented on #12568
See #12018 and `ManagedLedgerImpl#updateLedgersIdsComplete`. But I'm not sure whether it's the cause. Theoretically it shouldn't cause the duplicated `BrokerEntryMetadata` even before my fix.

[2021-11-02 04:05] Raven888888 commented on #12568
Possibly same Invalid unknonwn tag type: 6 error in #12455

[2021-11-02 04:07] Raven888888 commented on #12465
Related issue: #12284

[2021-11-02 04:12] BewareMyPower commented on #12455
Could you provide your KoP version? And can you reproduce it?

[2021-11-02 05:01] Raven888888 commented on #12455
KoP: 2.8.1.4
I faced this issue after upgrading from pulsar 2.7.0 to 2.8.1. Will try to reproduce when I have the capacity.

[2021-11-02 05:04] BewareMyPower commented on #12455
Is it the similar issue like https://github.com/streamnative/kop/issues/765?

[2021-11-02 06:20] Raven888888 commented on #12455
Nope @BewareMyPower . That issue only happens in pulsar + kop 2.7.0, and it is due to how kop handles offset calculation as you mentioned. Once upgraded to 2.8.1, I have not seen the offset gap thus far.

This current issue somehow causes broker unable to start at all. Consequently, kop is also not functional.

[2021-11-02 08:10] casuallc commented on #12563
Delete data dir(data/standalone) and then start pulsar.

[2021-11-02 09:36] BewareMyPower commented on #12455
Yeah, I also found it.

[code]

It looks like there's something wrong with topic `persistent://public/functions/metadata`. If you enabled Pulsar Functions before enabling KoP, this topic might not contain the `BrokerEntryMetadata` part. After enabling KoP, the reader of this topic might fail by `ConsumerImpl.hasMessageAvailable`.

I'm not familiar with Pulsar Functions, it might take some time to

[2021-11-02 09:42] Raven888888 commented on #12455
@BewareMyPower yes you are right. Pulsar function was enabled before enabling KoP.
However, just a side note, back in pulsar 2.7.0, such setup wasn't an issue.

Correct me if I am wrong, pulsar functions are stateless, so I could just drop `persistent://public/functions/metadata` and re-install the pulsar function again?

[2021-11-02 11:50] MarvinCai commented on #12284
sorry for delay, had some discussion with @gaoran10 offline
The Websocket endpoint doesn't support schema, the internal simply use byte schema([ref](https://github.com/apache/pulsar/blob/master/pulsar-websocket/src/main/java/org/apache/pulsar/websocket/ProducerHandler.java#L73))
And when the Pulsar topic has schema, Pulsar SQL try to ready the message and will expect a schema, but there'll be no s

[2021-11-02 12:45] tuteng opened #12587 "Kerberos authentication failed"
**Describe the bug**

Configure kerberos according to this documentation https://pulsar.apache.org/docs/en/security-kerberos/, throwing exceptions

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add

[2021-11-03 01:26] cleverblue commented on #12564
thank u！

[2021-11-03 01:26] #12564 closed

[2021-11-03 01:33] Raven888888 commented on #12284
@MarvinCai @gaoran10  Thank you for your explanation, clears up a bit. I have further follow-up questions:

1. In pulsar 2.7.0, I too used websocket to publish data (as you pointed out rightfully, data in raw bytes) to pulsar. And pulsar SQL works fine in that version, where I manually upload `string` schema. Is there changes in schema handling from 2.7.x to 2.8.x, that causes pulsar SQL to break?

[2021-11-03 02:26] MarvinCai commented on #12465
for the first issue, it's not a bug, the behavior is controlled by a flag, please refer this: https://github.com/apache/pulsar/issues/12209, will update the document about it.
for second issue, I also tried go client, seems the schema version is just null, so Pulsar Presto connector is not able to locate schema(the connector already knows there is a schema for the topic by schema admin endpoint, s

[2021-11-03 02:37] Anonymitaet opened #12595 "PIP 109: Introduce Bot to Improve Efficiency of Developing Docs"
Design proposal, solution, implementation progress, and all details are available [here](https://docs.google.com/document/d/1bQfZkSu5nG1tNycpmXXtUFn-Z5-h-uqHv6IXsCEySQ8/edit).

[2021-11-03 03:01] chlyzzo opened #12596 "python read AVRO topic has error"
# What issue do you find in Pulsar docs?
https://pulsar.apache.org/docs/en/client-libraries-python/
from the doc, i can not read topic mess by use python,

spark:3.1.2

scala:2.12

python:3.7

pulsar:2.8.0

spark-plusar:
           <groupId>org.apache.pulsar</groupId>
            <artifactId>pulsar-spark</artifactId>
            <version>2.8.0</version>

python-pulsar:
python3 -m pip install pulsa

[2021-11-03 04:57] #12382 closed

[2021-11-03 06:07] kuangye098 commented on #12269
I recommend:
1. Filtering should not introduce the message body, which can avoid the problem of end-to-end encryption unable to decrypt, and can solve the possible JVM GC problem.
2. A special message header that has nothing to do with encryption is specially opened on the message header, which is used for actual filtering and reduces the filtering resource consumption (including memory and CPU) o

[2021-11-03 07:41] anigkus commented on #12563
I adjusted the memory and it was fina.

[2021-11-03 07:42] navid1981 opened #12601 "Geo Replica with one producer and two "Shared" Consumers"
**Describe the bug**
In Geo Replica scenario, I have two clusters. My producer send message to cluster A, and I can see message in both clusters as I expected. My consumer consume message from Cluster B with "Shared" Consume type. but if another consumer connect to Cluster A with the same subscription name and "Shared" type, it can also consume message, however I expected it cannot consume the sam

[2021-11-03 09:10] casuallc commented on #12601
You should enable replicated subscription, but it is not in real time.

https://pulsar.apache.org/docs/en/administration-geo/#replicated-subscriptions

[2021-11-03 11:32] hepyu commented on #12533
@Jason918
I can't remember clearly. Do I vaguely remember that bookie or broker has GC, 50ms ~ 100ms? But I'm not sure. Now the Prometheus Metris data is gone, and I can't verify it anymore.
But will 50ms ~ 100ms GC cause bookie to write p999 for about 5 seconds?

@hangc0276
ledger disks: aws ssd(gp3)
journalSyncData in bookkeeper.conf：journalSyncData=true. It must not be changed to false here. If

[2021-11-03 12:35] zbentley commented on #12554
This behavior also persists when connecting directly to brokers and following redirects to find the authoritative home for a topic.

This seems to leave topics in a permanently corrupted state.

[2021-11-03 12:48] chlyzzo commented on #12596
test send the message:
in scala:
val user = new Person("werewr", 35)
producer.send(user)

in python:
producer.send(Person(name="wtr", age=23)

and python read, in schema/schema_avro.py：

        def decode(self, data):
            print(data, type(data), )
            buffer = io.BytesIO(data2=)
            d = fastavro.schemaless_reader(buffer, self._schema)
            return self._record_cls(**

[2021-11-03 13:14] Jason918 commented on #12533
No, but a long STW event could. It's better to add "-XX:+PrintGCApplicationStoppedTime" in JVM OPTS, to make sure there is no long STW time. I am not sure if all STW event will appear in your prometheus metrics.

[2021-11-03 21:40] navid1981 commented on #12601
@casuallc I did but still receiving the same message in other cluster
       Consumer consumer = client2.newConsumer()
                .topic("persistent://poc-tenant/poc-namespace/navid")
                .subscriptionType(SubscriptionType.Shared)
                .subscriptionName("my-subscription1")
                .replicateSubscriptionState(true)
                .subscribe();

[2021-11-04 01:35] BewareMyPower commented on #12455
It looks like I only replied via email so it didn't appear in this issue.

IMO, it's correct and you can delete this topic manually. Have you tried it?

[2021-11-04 01:35] BewareMyPower commented on #12568
After confirming with @xiaotongwang1 , this issue could be fixed by #12018. So close it.

[2021-11-04 01:35] #12568 closed

[2021-11-04 02:30] baomingyu opened #12614 "waitingForPingResponse needs to be modified with volatile for concurrent sence"
waitingForPingResponse was used in PulsarHandler for check if or not close connection.

and it was set value in different thread , so it must to be modified with volatile.

[2021-11-04 02:39] aloyszhang commented on #12601
The subscription stats will snapshot at a specified interval which default is 1 second.
Then this snapshot will send to remote clusters, so you may receive duplicated messages for about 1 second.

[2021-11-04 02:45] xiaotongwang1 opened #12616 "[BUG]KOP failed to get partition offset"
@hangc0276 @BewareMyPower @codelipenghui 紧急求助

[https://github.com/apache/pulsar/pull/11912](https://github.com/apache/pulsar/pull/11912)

这个PR，在asyncReadEntry的时候做了ledger map匹配校验

[code]

但是原有的接口：
[code]

相关日志：

2021-11-03 20:10:04.378 [bookkeeper-ml-scheduler-OrderedScheduler-0-0] INFO  o.apache.bookkeeper.mledger.impl.ManagedLedgerImpl - [XXX/XXX/persistent/__consumer_offsets-partition-39] Start

[2021-11-04 03:23] BewareMyPower commented on #12616
I think we should fix it at KoP side.

[2021-11-04 03:27] Richard-Yi opened #12617 "Prometheus collect the metric fail"
**Describe the bug**
Prometheus collect the metric of one of brokers fail while the metric interface returns normal metrics and the other broker is successfully collected.

I think there may be a problem with the content returned by the interface, causing prometheus fail to parse the metrics.

Did anyone encounter the same problem？

![image](https://user-images.githubusercontent.com/32700796/14025

[2021-11-04 03:27] 609101723 opened #12618 "The python pulsar client creates a producer and then closes the producer. The memory will not be released"
Just like issue #12408, I raised a question. I kept creating and closing producers, but the memory would not be released. I saw that the problem had been solved. When I re installed pulsar client with PIP, I found that the program would be released when I ran the program for the first time, and the memory would not be released when I closed the program for the second time
The procedure is as follo

[2021-11-04 03:29] xiaotongwang1 commented on #12616
any idea?

[2021-11-04 03:52] hepyu commented on #12533
ok. this issue I closed. the problem only occur once.

[2021-11-04 03:52] #12533 closed

[2021-11-04 04:10] hangc0276 commented on #12616
It's better to check whether the `firstPosition` exists in ManagedLedger in KOP side.

[2021-11-04 04:14] #12563 closed

[2021-11-04 04:25] merlimat commented on #12618
@609101723 The PR #12409 was marked for 2.10.0, 2.9.1 and 2.8.2 releases and none of them were released yet.

[2021-11-04 04:28] Raven888888 commented on #12455
No I haven't @BewareMyPower , I will try it when I have the capacity, thanks.

[2021-11-04 05:07] 609101723 commented on #12618
Which version will be released? When will it be released? Otherwise I can't use this module now

[2021-11-04 05:08] 609101723 commented on #12618
Which version will be released? When will it be released? Otherwise I can't use this module now

[2021-11-04 08:40] codelipenghui commented on #12445
@azeng528 The issue has been fixed in https://github.com/apache/bookkeeper/pull/2121, please make sure the bookie version is greater than 4.10

[2021-11-04 08:40] #12445 closed

[2021-11-04 09:17] nlandeker opened #12623 "Unable to install pulsar-client to alpine"
**Describe the bug**
I am unable to install pulsar-client (https://pypi.org/project/pulsar-client/) to alpine Docker container.

**To Reproduce**
Steps to reproduce the behavior:
1. Use python:3.8-alpine3.14
2. Try to install pulsar-client (`pip install -v pulsar-client`)
3. Try specific version 2.8.0, 2.8.1
4. Error: Could not find a version that satisfies the requirement

**Expected behavior**
P

[2021-11-04 09:55] BewareMyPower commented on #12616
Move this issue to KoP repo.

[2021-11-04 11:45] kinbod opened #12626 "hot&cool data strategy"
**Is your feature request related to a problem? Please describe.**
after a long time, we got a lot of old date in pulsar, but we just need search in a small range of data sometime.

**Describe the solution you'd like**
if there were some oldest data unused and need delete, we can use some tag like timestamp or others what help us to choose the data we'll remove. or we can use some way to manage th

[2021-11-04 12:18] beyondyinjl2 opened #12628 "Could not complete the operation. Number of retries has been exhausted. Failed reason: Maximum redirect reached: 5"
apache-pulsar-2.8.1

Pulsar runs for a period of time, about a week later, it hangs, restarts and reports an error

Stand-alone startup error
bin/pulsar-daemon start standalone

Caused by: org.apache.pulsar.client.admin.internal.http.AsyncHttpConnector$RetryException: Could not complete the operation. Number of retries has been exhausted. Failed reason: Maximum redirect reached: 5
        at org.a

[2021-11-04 13:13] Shoothzj commented on #12628
I think that's not the true reason of start failed, because It's occurred in `GracefulExecutorServicesTerminationHandler`.
If you submit full log will be helpful

[2021-11-04 14:06] Technoboy- opened #12629 "PIP 110: Topic metadata"
## Motivation
The original discussion mail :
https://lists.apache.org/thread/m9dkhq1fs6stsdwh78h84fsl5hs5v67f

Introduce the ability to store metadata about topics.

This would be very useful as with metadata you could add labels and other
pieces of information that would allow defining the purpose of a topic,
custom application-level properties.
This feature will allow application-level diagnosti

[2021-11-04 15:18] #12291 closed

[2021-11-04 17:22] nlu90 opened #12631 "[Function Worker] Http Server Fails on generating metrics"
**Describe the bug**
Functions on one cluster got into a weird state where all http server failed on generating metrics. Because generating metrics would check isLeader.get() is a blocking call depends on an HTTP service to check who is leader. https://github.com/apache/pulsar/pull/10502/files#diff-d9d7d7b0f950ed7aa1ff11bc0ec1450e95693b6f573a410ccf364861eb355825R286

We should avoid calling blocki

[2021-11-05 01:30] #12423 closed

[2021-11-05 01:40] frankxieke commented on #12596
It looks like scala and python have different behavior in encoding message. I will have a test of this case.

[2021-11-05 03:29] Anonymitaet commented on #12596
@gaoran10 as we discussed just now, can you help look into this issue? And then we can verify whether it is a doc-related issue, thanks.

[2021-11-05 03:30] Anonymitaet commented on #12595
Since we have 3 binding +1, I'll close this issue and move the proposal to "accepted".

[2021-11-05 03:30] #12595 closed

[2021-11-05 03:39] huangdx0726 opened #12635 "why double check topicTickTimeMs in setupTopicPublishRateLimiterMonitor method of BrokerService？"
[code]
The second if (topicTickTimeMs > 0)  maybe is redundant. Is right?

[2021-11-05 04:03] Anonymitaet opened #12637 "PIP 87: Upgrade Pulsar Website Framework"
Design proposal, solution, implementation progress, and all details are available [here](https://docs.google.com/document/d/1IV35SI_F8G8cL-Vuzknc6RTGLK9_edRMpZpnrHvAWNs/edit).

[2021-11-05 08:45] leizhiyuan commented on #12406
or you can add  one line
[code]

in bin/pulsar

then, you can run pulsar in local machine,  https://pulsar.apache.org/docs/en/standalone/
and debug remotely in ide

![image](https://user-images.githubusercontent.com/2684384/140483024-bede93a0-579a-4b4c-87ac-badf9bce453a.png)

[2021-11-05 14:05] #12614 closed

[2021-11-05 17:59] lhotari opened #12645 "Pulsar Function jar file extraction fails when functions with large parallelism are created and /tmp is a mounted volume"
**Describe the bug**

The fix made in #11343 to fix #11340/#11379 concurrency issues in NarUnpacker doesn't work when /tmp is a mounted volume (in a container). This is due to the fact that docker volumes don't support file locking across containers.

**To Reproduce**

Similar steps as there are for #11340/#11379 with the difference that /tmp/pulsar-nar is a mounted directory.

**Expected behavior

[2021-11-06 11:36] Jason918 opened #12651 "[PIP] Add rate limiter to topic loading throttling."
## Motivation

It's known that concurrent topic loading can create back pressure at zk and may increase zk latency,
and Pulsar have introduced `maxConcurrentTopicLoadRequest` to limit concurrency of topic loading procedure.

Currently we are running pulsar broker cluster with about 1 million topics on it,
and it's possible that 20 percent of our brokers could break down at the same time (by SLA of

[2021-11-06 14:19] codelipenghui commented on #12637
@Anonymitaet Looks the link is for Pulsar bot.

[2021-11-06 14:23] codelipenghui commented on #12635
@huangdx0726 yes, would you please push a fix for it?

[2021-11-06 14:28] codelipenghui commented on #12629
LGTM +1

[2021-11-06 14:32] codelipenghui commented on #12626
@kinbod Apache Pulsar supports size-based and time-based data retention, does this works for you?

[2021-11-06 14:34] codelipenghui commented on #12623
@timmyyuan Could you please help take a look at this issue?

[2021-11-06 14:39] codelipenghui commented on #12618
@609101723 Both 2.8.2, 2.9.1, and 2.10.0 will have this fix, the 2.8.2 release is in progress now, maybe it will available in 2 weeks, if you want a quick fix, here is an earlier release based on the branch-2.8 https://github.com/streamnative/pulsar/releases/tag/v2.8.1.20

Since the bug has been fixed, so I will close the issue first. Feel free to reopen it if the new fix does not work.

[2021-11-06 14:39] #12618 closed

[2021-11-06 14:41] codelipenghui commented on #12617
@Richard-Yi Did you see any error logs in the Prometheus server? Maybe there are some details about the errors.

[2021-11-06 14:53] codelipenghui commented on #12601
@navid1981 It's normal behavior in Pulsar, Pulsar does not support an "active-standby" consumer across clusters. if you want the consumer can only consume data from one cluster at the same time, you can only start consumers in one cluster, after one cluster not able to provide service, you can switch the consumer to consume data from another cluster(need to enable replicated subscription state, ot

[2021-11-06 14:59] codelipenghui commented on #12587
@tuteng Do you want to make a fix for this issue?

[2021-11-06 15:05] codelipenghui commented on #12574
@branhoff I think the issue has been fixed by #12232 and it will be released in 2.8.2 maybe in 2 weeks. If you want an earlier release version you can get here https://github.com/streamnative/pulsar/releases/tag/v2.8.1.20

[2021-11-06 15:06] #12574 closed

[2021-11-06 15:08] #12537 closed

[2021-11-06 15:17] codelipenghui commented on #12510
@Aaronzk There is an internal pending queue with 1000 messages by default for a producer. if the server-side with a slow response but the application send messages very fast that will fill up the pending queue, so by default, you will get the above exception, it's a fail-fast strategy.

Another available strategy is to block the caller thread if the pending queue filled up, you can add `.blockIfQu

[2021-11-06 15:19] codelipenghui commented on #12379
The PR get merged so close the issue for now.

[2021-11-06 15:19] #12379 closed

[2021-11-06 15:21] codelipenghui commented on #12377
Here is the documentation for offload data to ali cloud OSS https://pulsar.apache.org/docs/en/tiered-storage-aliyun/

[2021-11-06 15:22] #12377 closed

[2021-11-06 17:26] navid1981 commented on #12601
Thanks @aloyszhang @codelipenghui

[2021-11-06 17:26] #12601 closed

[2021-11-07 02:59] huangdx0726 commented on #12635
ok

---Original---
From: ***@***.***&gt;
Date: Sat, Nov 6, 2021 22:23 PM
To: ***@***.***&gt;;
Cc: "Da Xiang ***@***.******@***.***&gt;;
Subject: Re: [apache/pulsar] why  double check topicTickTimeMs in setupTopicPublishRateLimiterMonitor method of BrokerService？ (Issue #12635)

@huangdx0726 yes, would you please push a fix for it?

—
You are receiving this because you were mentioned.
Reply to this

[2021-11-08 07:53] Anonymitaet opened #12661 "PIP 98: Redesign Pulsar Information Architecture"
Design proposal, solution, implementation progress, and all details are available [here](https://docs.google.com/document/d/1O19v1znrNkoahFpsr8puVQ_20jDQfUjC2eRxdFOL91U/edit).

[2021-11-08 07:55] Anonymitaet commented on #12637
@codelipenghui thanks for reminding me, I've corrected the URL.

[2021-11-08 08:34] #7751 closed

[2021-11-08 10:05] Anonymitaet opened #12664 "PIP 78: Generate Docs from Code Automatically"
Design proposal, solution, implementation progress, and all details are available [here](https://docs.google.com/document/d/18kCBG5nyp0BsscFDyQyUERHrCMRcKmzyk1RMaD4hECg/edit#heading=h.vi6h0opyf73o).

[2021-11-08 11:02] eolivelli commented on #12645
@lhotari
please close this issue if you think that my explanation is reasonable

[2021-11-08 11:21] lhotari commented on #12645
Closed this issue, since it wasn't a problem with the lock file.

[2021-11-08 13:54] eolivelli opened #12668 "Protocol Handlers and Proxy Extensions: ability to use a dedicated EventLoopGroup for IO"
Currently (Pulsar 2.9) the Broker Protocol Handlers (and Proxy Extensions) share the same EventLoopGroup among Pulsar Server connection handlers and the custom Protocol Handlers.

We have two issues here:
1) if the Protocol Handler comes to execute some blocking operation using PulsarClient or PulsarAdmin, it is possible to fall into a deadlock (if the internal client connects to the local broker)

[2021-11-08 15:01] eolivelli opened #12670 "Java Client Schema API: SchemaInfo.builder() is no more present in Pulsar 2.8.x"
**Describe the bug**
SchemaInfo.builder() is no more available in Pulsar 2.8.x, so there is no way to use the pure public API to build a SchemaInfo object.

**Suggestion**
This is a breaking API change that we can easily fix:
Add back SchemaInfo.builder() to call internally SchemaInfoImpl.builder()

[2021-11-08 15:03] eolivelli commented on #12670
@merlimat FYI

I will send a patch

[2021-11-08 15:08] lhotari opened #12671 "Flaky-test: TransactionTest.testMaxReadPositionForNormalPublish"
TransactionTest is flaky. The testMaxReadPositionForNormalPublish test method fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/4139503686?check_suite_focus=true#step:9:8651)

[code]

[2021-11-08 15:12] lhotari opened #12672 "Flaky-test: PersistentTopicsTest.testPeekWithSubscriptionNameNotExist"
PersistentTopicsTest is flaky. The testPeekWithSubscriptionNameNotExist test method fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/4139503686?check_suite_focus=true#step:9:483)

[code]

[2021-11-08 16:02] eolivelli commented on #12670
It is actually not possible to preserve binary compatibility with Pulsar 2.7.x
but we should at least provide the Builder

[2021-11-09 01:02] BewareMyPower commented on #12616
Reopen this issue since it might also be a bug at Pulsar side.

[2021-11-09 01:10] codelipenghui commented on #12671
@congbobo184 Could you please help check this issue?

[2021-11-09 02:49] wmfxly opened #12682 "Pulsar Transaction msg stop application throw executor not accepting a task"
Describe the bug：
I use pulsar 2.8.1 version, open the transaction message, after sending the message, stop the service, and receive an exception. The exception information is as follows:
org.apache.pulsar.client.api.PulsarClientException: java.util.concurrent.CompletionException: java.lang.IllegalStateException: executor not accepting a task
at org.apache.pulsar.client.impl.ConnectionPool.lambda$

[2021-11-09 03:04] Jason918 commented on #12616
+1, it seems that lastConfirmedEntry is not updated in ManagedLedgerImpl#internalTrimLedgers.

[2021-11-09 03:26] Jason918 commented on #12668
+1
I am working on another protocol handlers. I worked around this by setup a new netty server in `ProtocolHandler#start` to make thread isolation. It will be great we can configure it in a proper way.

[2021-11-09 03:33] Jason918 commented on #12672
+1,  I think it's because it sends too many messages, not necessary though.

[2021-11-09 03:49] lordcheng10 opened #12684 "Optimize bookie quarantine strategy: Restart the upgrade in rotation, should not quarantine the bookie node"
**Is your feature request related to a problem? Please describe.**
When I restarted and upgraded pulsar and bookkeeper in rotation, I found that all bookie nodes were quarantine, which caused the client to be abnormal for a long time：
![image](https://user-images.githubusercontent.com/19296967/140854567-284ce8cb-dd7b-4494-bc45-7c5c1ac12844.png)

**Describe the solution you'd like**
Therefore, book

[2021-11-09 09:32] james-bright-helix commented on #10284
We see this problem roughly 50% of the time when we do a rolling restart of our consumers, e.g., 5 at a time for total of 20.  Normally the only way to fix it is to unload the bundle housing the topic. We've been experiencing this on all versions since 2.6.3 and have seen several "stuck consumer" type issues be marked as resolved but still issues with key_shared remain. Is there anything we can do

[2021-11-09 10:04] yebai1105 opened #12693 "pulsar-flink connector在broker故障后，checkpoint无法提交，且之后在flink任务批量重启后，流量突增又导致Bookie 内存溢出并批量挂掉"
**1、操作：**
线上一共9台broker机器，顺序操作kill -9 xxx.129、xxx.130、xxx.131这三台机器broker进程（操作时间：2021-11-05 16:05）
**2、集群与使用版本信息**
bookie 堆6G，直接内存80G，broker 堆6G，直接内存256G
客户端：使用pulsar-flink-connector
pulsar-flink-connector版本：1.13.1
flink版本1.13.2
服务端：2.8.1
**3、总体现象：**
flink任务重启，重启后checkpoint无法提交，且在达到checkpoint重试失败容忍值后（本次测试flink任务cp容忍值是10次），任务全局重启，任务重启后由于flink开始追数据流量突增（bookie从平均600M/s到最高2.3G/s，broker从平均300M/s到最高1.1G/s

[2021-11-09 10:46] #8838 closed

[2021-11-09 11:32] xuesongxs opened #12695 "Unable to load the RocksDB shared library"
**Describe the bug**
Pulsar v2.8.1
OS：BCLinux

[code]

[2021-11-09 11:50] codelipenghui commented on #10284
@james-bright-helix You can try out 2.8.1 or 2.7.3 which contains https://github.com/apache/pulsar/pull/10920

[2021-11-09 12:49] james-bright-helix commented on #10284
@codelipenghui sorry my message wasn't clear. We're on 2.8.1 and tried every version since 2.6.3 but still suffering from stuck key_shared consumers. I was hoping the attached PR was going to fix our issue but it seems to not be progressing hence the offer to help provide more details.

[2021-11-09 13:31] #12670 closed

[2021-11-09 15:58] codelipenghui commented on #12695
@xuesongxs Looks like permission issues? `Caused by: java.io.IOException: Permission denied`

[2021-11-09 16:03] codelipenghui commented on #10284
@james-bright-helix Do you have a way to reproduce the issue on 2.8.1?

[2021-11-09 16:20] james-bright-helix commented on #10284
not consistently in a way that's not disruptive. We have to bounce our production app and then it happens frequently. we see it very rarely in our non-production envs which are much smaller. Are there any additional logging/metrics we can gather to share when it does happen?
One thing we noticed is that if you bounce only some of the consumers, e.g., 5 of 20 consumers, then the backlog is sometime

[2021-11-09 19:21] branhoff commented on #12574
@codelipenghui Is there an updated` python pulsar-client` that is necessary as well? Or will this `2.8.1.20` release you provided have the fixes that will work with the python `pulsar-client==2.8.1`

[2021-11-10 02:02] xuesongxs commented on #12695
at org.rocksdb.NativeLibraryLoader.loadLibraryFromJarToTemp(NativeLibraryLoader.java:88) ~[org.rocksdb-rocksdbjni-6.10.2.jar:?]

When starting bookie, the librocksdbjni.so file will be copied to the /tmp directory. The current user does not have permission to write to the /tmp directory. This should be the reason.

From: lipenghui
Date: 2021-11-09 23:58
To: apache/pulsar
CC: xuesongxs; Mention
Sub

[2021-11-10 02:12] xuesongxs commented on #12695
at org.rocksdb.NativeLibraryLoader.loadLibraryFromJarToTemp(NativeLibraryLoader.java:88) ~[org.rocksdb-rocksdbjni-6.10.2.jar:?]

When starting bookie, the librocksdbjni.so file will be copied to the /tmp directory. The current user does not have permission to write to the /tmp directory. This should be the reason.

[2021-11-10 06:22] wolfstudy opened #12710 "[ZK Bug] Zookeeper znode node leak causes the capacity of zk cluster to decrease"
**Describe the bug**

Currently, when we run namespace or tenant delete command, we will not delete the corresponding znode node in zk.

For example:

![image](https://user-images.githubusercontent.com/20965307/141059668-6a21afe9-e137-4d55-8a6d-0582f1efa25b.png)

When we run namespace and tenant delete cmd, and the `/namespace` znode still contains the znode information of the tenant and ns origin

[2021-11-10 06:24] wolfstudy commented on #12710
cc @codelipenghui

In the latest master version, have we removed the znode of `manager-ledgers`?

[2021-11-10 07:30] m1zzx2 opened #12712 "import package pulsar, raise 「name 'ModuleNotFoundError' is not defined」"
1 python version : 2.7
2  pip install pulsar-client==2.8.1

3 run shell python  and then import pulsar ， will rasie a error

![image](https://user-images.githubusercontent.com/68270113/141068943-6576139f-4e83-4de5-a471-1f74716bca97.png)

[2021-11-10 07:58] leizhiyuan commented on #12712
run `pip install langid` again, it will send a response which tell you the path of pulsar-client

then you can run

`echo $PYTHONPATH`

if there has no the path in first step, you can change it

export PYTHONPATH=xxxx_in_first_step:$PYTHONPATH

[2021-11-10 08:43] #12672 closed

[2021-11-10 09:19] YanshuoH opened #12716 "Broker OOM and memory leak, possibly due to ledger loss"
Hi,

**Describe the bug**

Recently encountered a memory leak in Pulsar Broker. I've tried to identify the issue with logs like below.

I've enabled `io.netty.leakDetectionLevel` up to `paranoid` and `io.netty.leakDetection.targetRecords=40`, didn't find any leak messages appear.

We have 4 pulsar clusters:

- version 2.7.3
- all running in Kubernetes 1.20. Only one cluster have encountered such i

[2021-11-10 09:28] vroyer opened #12718 "pulsar-admin source create fails and exist 0 with a wrong source type"
**Describe the bug**
The **pulsar-admin source create** fails but exit with 0 when deploying an invalid source type.

**To Reproduce**
[code]

**Expected behavior**
Failed source deployment should exit with a return code greater than 0

[2021-11-10 09:33] eolivelli commented on #12718
Can you please add the version of Pulsar admin that you are using?

[2021-11-10 10:39] Jason918 opened #12723 "Race condition in PersistentTopic#addReplicationCluster"
**Describe the bug**
In class `org.apache.pulsar.broker.service.persistent.PersistentTopic`, we have field `replicators` of class ConcurrentOpenHashMap. There is a race condiftion in method addReplicationCluster.
[code]

It's clear that there is a race condition if multi threads would run in this code. For example
Thread A is just about to execute `replicators.remove`, Thread B inserts a non-null

[2021-11-10 10:50] Jason918 commented on #12723
I found another interesting thing is that in org.apache.pulsar.common.util.collections.ConcurrentOpenHashMap, if we call `map.put(key, null)`, it throws an NullPointerException. But we can use `map.computeIfAbsent(key, k->null)` to insert a null value into the map, which leads to a confusing situation that `map.containsKey(key)` is falsse, but there is actually a "key" in the map with null value.

[2021-11-10 10:54] Jason918 commented on #12723
I am working on a fix.

[2021-11-10 11:38] Jason918 opened #12726 "Deadlock in metadata-store callback thread"
**Describe the bug**
This is a deep digging of previous flaky test #12672.
The previous fix are all work around by changing the namespace, reducing messages, setting retentions.
As I can reproduce it locally repeatedly by running the whole test class, I found it's actually a dead lock issue.

As the screenshot showed below, the backlogQuota checking procedure is running on the metadata-store threa

[2021-11-10 11:42] Jason918 commented on #12726
@linlinnn @codelipenghui PTAL

[2021-11-10 11:52] codelipenghui commented on #12716
@yonyong @hangc0276 Please help check the issue.

[2021-11-10 11:59] codelipenghui commented on #12726
@Jason918 Looks we are calling a sync method in an async callback https://github.com/apache/pulsar/blob/a2b7cae3cfe8d3776483b1ecaf69af47949b70e1/pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/PersistentTopicsBase.java#L2728

Do you want to push a fix?

[2021-11-10 12:17] #12485 closed

[2021-11-10 13:08] eolivelli opened #12727 "Pulsar is creating a unlimited number topics with name _transaction_pending_ack-__pending_ack_state__transaction_pending_ack"
**Describe the bug**

In my application I see that Pulsar is creating many topics, appending "_transaction_pending_ack-__pending_ack_state__transaction_pending_ack" to the previous topic name.
 I see this "topic name"

`persistent://public/default/MY_TOPIC-8975a6f5-be96-4c03-b5b9-02ad570dd1f9__transaction_pending_ack-__pending_ack_state__transaction_pending_ack-__pending_ack_state__transaction_pen

[2021-11-10 13:36] eolivelli commented on #12727
I believe that the problem is because for each topic we create a new topic with this suffix `__transaction_pending_ack`
and one subscription named `__pending_ack_state`
but for each subscription we create a new topic named TOPIC_NAME + subscriptionName + `__transaction_pending_ack`
so TOPIC_NAME + `__pending_ack_state` + `__transaction_pending_ack`

then again TOPIC_NAME becomes TOPIC_NAME + `__pe

[2021-11-10 13:38] eolivelli commented on #12727
it looks like it is a regression in 2.8.1, I didn't see that behaviour in 2.8.0

[2021-11-10 13:39] frkn4129 opened #12728 "I'm getting an error while building"
I want to install pulsar_client_cpp but I get an error while building. I couldn't understand why

.
.
.
.
[ 55%] Building CXX object lib/CMakeFiles/PULSAR_OBJECT_LIB.dir/stats/ProducerStatsImpl.cc.o
[ 55%] Building CXX object lib/CMakeFiles/PULSAR_OBJECT_LIB.dir/__/generated/lib/PulsarApi.pb.cc.o
[ 55%] Built target PULSAR_OBJECT_LIB
Scanning dependencies of target pulsarStatic
[ 56%] Linking CXX

[2021-11-10 13:52] eolivelli commented on #12727
I have found a "workaround", basically the thing that triggers this problem is a tool that I have that lists all the topics and for each topic calls getSubscriptions:

[code]

if you run this loop many times you will see this problem.

so my understanding is that  `getSubscriptions` is creating those system topics even for system subscriptions

[2021-11-10 14:01] eolivelli commented on #12728
which branch are you building ?
which command are you using ?

[2021-11-10 14:10] nlandeker commented on #12623
Hi, any news on this? Do you need any additional info?

[2021-11-10 14:10] frkn4129 commented on #12728
master branch building

Step by Step ->
$ cd /usr/src/googletest
$ sudo cmake .
$ sudo make
$ sudo cp ./googlemock/libgmock.a ./googlemock/gtest/libgtest.a /usr/lib/

$ cd /usr/src/gtest
$ sudo cmake .
$ sudo make
$ sudo cp libgtest.a /usr/lib

$ cd /usr/src/gmock
$ sudo cmake .
$ sudo make
$ sudo cp libgmock.a /usr/lib

$ cd pulsar-client-cpp
$ cmake .
$ make **I am getting the error here**

[2021-11-10 14:16] frkn4129 commented on #12728
**when i try to relocate the directory and get "make".**

(base) gurkan@gurkanseker:~/pulsar-client-cpp$ make
make[2]: *** No rule to make target 'lib/../../pulsar-common/src/main/proto/PulsarApi.proto', needed by 'generated/lib/PulsarApi.pb.cc'.  Stop.
make[1]: *** [CMakeFiles/Makefile2:286: lib/CMakeFiles/PULSAR_OBJECT_LIB.dir/all] Error 2
make: *** [Makefile:130: all] Error 2
**it gave error li

[2021-11-10 14:23] congbobo184 commented on #12727
this is a bug, I will fix it.

[2021-11-10 14:28] james-bright-helix commented on #10284
@codelipenghui i Thought I should mention it's possibly related to #12208 as we are using reconsumeLaterAsync() on all topics (if we have an environmental error we want to retry after a delay) and on one topic we also use deliverAfter() although we don't usually see anything on the retry topics when it's stuck. As mentioned in that issue, it's not clear if these are expected to work with key_share

[2021-11-10 17:34] thacoon commented on #12623
@nlandeker according to Issue #12293 the package is currently not available/published for Python versions 3.8, 3.9 and 3.10

[2021-11-10 17:44] AlNedorezov opened #12733 "peek message for pulsar-admin java client does not return a key of peeked message"
**Describe the bug**
For messages got via pulsarAdmin.topics().peekMessages(topic, subscription, total) method from pulsar-client-admin, getKey() method always returns an empty string.

**To Reproduce**
Steps to reproduce the behavior:
1. Write some messages with specified message keys to a topic
2. Call pulsarAdmin.topics().peekMessages(topic, subscription, total); (pulsarAdmin is an instance of

[2021-11-11 06:09] gaozhangmin commented on #12733
This issue resolved in master branch.

[2021-11-11 06:37] eolivelli commented on #12733
@gaozhangmin can you please point to the PR which fixed it?

[2021-11-11 09:27] BewareMyPower commented on #12616
@Jason918

`internalTrimLedgers` should not update the `lastConfirmedEntry`, which represents an entry that has been written to BK successfully. After a rollover, the `lastConfirmedEntry` could be invalid if the ledger was removed. However, there is no proper new value for it. So we should just keep it unchanged.

See `ManagedLedgerImpl#getFirstPosition`, which handles the corner case.

[code]

Ho

[2021-11-11 09:48] abhilashmandaliya opened #12747 "Pulsar Sink connectors not getting messages when input rate to pulsar is high"
**Describe the bug**
The Pulsar Sink connector doesn't receive all the messages if the input rate to the pulsar topic is high. I tried using the inbuilt Cassandra connector and followed the instructions to try it out [here](https://pulsar.apache.org/docs/en/io-quickstart/#connect-pulsar-to-cassandra). I push 100000 messages to pulsar via a java code but I don't see all the messages there in the Si

[2021-11-11 09:59] abhilashmandaliya commented on #12747
What I understand is, in the first normal behaviour, 50k messages were written successfully and the remaining 50k are lingering around and getting retried infinitely. Currently, there are 1700000 messages in Sink

[2021-11-11 10:08] Richard-Yi opened #12750 "How to debug pulsar protocol handler in the local development environment?"
I added some code in aop and wanna test and debug it.
Is the only way to test my code is through Pulsar (start a standalone broker and load the plugin)?
How to debug pulsar protocol handler such as aop/kop in my local dev environment IDE ?

[2021-11-11 10:41] frkn4129 opened #12751 "pulsar-client-cpp error!"
**I am getting an error like this, does anyone know the solution?**

/usr/bin/ld: /tmp/cc6Xvjf3.o: in function `main':
deneme.cpp:(.text+0x54): undefined reference to `pulsar::Client::Client(std::__cxx11::basic_string<char, std::char_traits<char>, std::allocator<char> > const&)'
/usr/bin/ld: deneme.cpp:(.text+0x78): undefined reference to `pulsar::Consumer::Consumer()'
/usr/bin/ld: deneme.cpp:(.te

[2021-11-11 10:43] madhavan-narayanan opened #12752 "Broker extensions to provide operators of enterprise-wide clusters better control and flexibility"
**Is your feature request related to a problem? Please describe.**
The central messaging platform at Intuit uses Apache Pulsar. The platform team operates multiple clusters that are used by hundreds of teams across Intuit. For complete visibility and to better serve customers, the platform needs the ability to intercept all key broker and ledger events. Also needed is the ability to transparently

[2021-11-11 13:08] eolivelli opened #12754 "Transactions: if you enable the TransactionCoordinator force delete topic leaves the broker in bad state"
**Describe the bug**
I found this problem while testing Pulsar 2.9.0rc3 and running the unit tests of Pulsar JMS (http://github.com/datastax/pulsar-jms).

When you enable the TransactionCoordinator deleting a topic forcefully leaves the broker in such a bad state that it is no more possible to consume data from other topics.

**To Reproduce**
- Start one Broker and setup Transactions
- Create one

[2021-11-11 13:09] eolivelli commented on #12754
@congbobo184 PTAL

[2021-11-11 13:21] eolivelli commented on #12754
@congbobo184  it may be a regression introduced by #11934

Here I see that a message is being sent,
that's the main difference in the deleteTopic code path in case of force=true and transactions enabled

https://github.com/apache/pulsar/blob/8551868468327cc04ca6d4e9fe4bcb718ad38cbc/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/persistent/PersistentTopic.java#L1135

[2021-11-11 13:22] eolivelli commented on #12754
@gaoran10 PTAL as well

[2021-11-11 13:30] ericsyh opened #12755 "feat(log): add a warning level log message in pulsar client during the broker disconnect."
**Is your feature request related to a problem? Please describe.**

When pulsar client disconnects the broker, the log level is INFO which is easy to be missed. But actually this time the broker node may have  something wrong and users should be conscious of it. So the WARN level log message will be better for it.

[code]

**Describe the solution you'd like**
When pulsar client disconnects the bro

[2021-11-11 13:30] ericsyh commented on #12755
@codelipenghui @hangc0276 PTAL

[2021-11-11 14:42] codelipenghui opened #12757 "Support enable or disable schema upload at the broker level"
For users who want to avoid the client side upload schemas to the topic, we can only change the namespace policy to disable the schema auto upload, it's better to have a broker level control to avoid setting policies for every namespace.

[code]

[2021-11-11 14:48] Jason918 commented on #12757
I can work on it. :)

[2021-11-11 14:50] codelipenghui commented on #12755
@ericsyh I think we can only change to WARN for `Disconnected ` ?, reconnect should be INFO.

@eolivelli @merlimat @sijie WDYT?

[2021-11-11 14:51] mattisonchao commented on #12559
I want to fix this issues.

[2021-11-11 14:57] codelipenghui commented on #12751
@frkn4129 Could you please provide more context such as which Pulsar CPP client version?
cc @BewareMyPower Please help take a look at this issue.

[2021-11-11 14:58] mattisonchao commented on #9466
I can work on it. :)

[2021-11-11 14:58] Jason918 commented on #12616
Consider the situation that, the topic is reloaded by a load balance operation at that moment. Does the value of `lastConfirmedEntry` keep the  same?

[2021-11-11 15:01] codelipenghui commented on #12750
There is a test framework which used by Pulsar protocol handlers, details see here, the example of mop: https://github.com/streamnative/mop/tree/master/tests

You can just run `mvn clean install -DskipTests` under the repo and then write a test to connect to the test Pulsar service for debugging.

[2021-11-11 15:02] Jason918 commented on #12616
Consider the situation that, the topic is reloaded by a load balance operation at that moment. Does the value of `lastConfirmedEntry` keep the  same?

[2021-11-11 15:05] codelipenghui commented on #12747
This means the sinker is stopped to poll messages from the local queue, maybe not able to write data to Cassandra at that time?

And could you please help check if there are error logs from the sinker and Pulsar brokers?

[2021-11-11 15:06] mattisonchao commented on #9340
I can work on it. :)

[2021-11-11 15:08] codelipenghui commented on #12733
@AlNedorezov Have you created the subscription before writing some messages? You can check the topic internal stats to see if the subscription is reach the end of the topic.

[2021-11-11 15:11] codelipenghui commented on #12728
Looks like you have installed protobuf3 but Pulsar uses protobuf2,

You can try

[code]

which can build by docker.

[2021-11-11 15:12] codelipenghui commented on #12757
Thanks, @Jason918 assigned to you.

[2021-11-11 15:16] codelipenghui commented on #9340
Thanks @mattisonchao, I have assigned the issue to you.

[2021-11-11 15:21] hangc0276 commented on #12559
Thanks @mattisonchao , assign it to you.

[2021-11-11 15:26] RobertIndie commented on #9441
I can work on this. @codelipenghui

[2021-11-11 16:51] ericsyh opened #12759 "[bug](indeviduallyDeleteMessage): slow rate consumer but ack in order will get indeviduallyDeleteMessage"
**Describe the bug**
In my current test found, if i create a producer to produce with no dispatch limit while create a consumer to consumer with slow rate (set a 1 second sleep in message receive), although the the consumer acks in order but there is indeviduallyDeleteMessage in the topic.

And the weird thing is if i remove the 1 second sleep in consumer or i move the 1 second sleep from consumer

[2021-11-11 16:54] ericsyh commented on #12759
@codelipenghui @hangc0276 PTAL, this issue probably a bug and will impact the replicated subscriptions.
@zymap Also helped on it before, he can also reproduce this issue.

[2021-11-11 19:39] EronWright opened #12764 "[bug] chroot support broken in 2.9"
**Describe the bug**
The broker cannot start when configured with a chroot for its ZK metadata.

**To Reproduce**
Effect a configuration where the brokers and the bookies aren't using the same ZooKeeper configuration:
[code]

Verify that the ledger metadata is available:
[code]

Observe that the broker cannot startup:
[code]

**Expected behavior**
Normal startup, such that the ledger metadata is d

[2021-11-11 23:01] #12764 closed

[2021-11-11 23:17] nlandeker commented on #12623
Hi, thanks for issue link. When can we expect this to be resolved? Thanks a lot.

[2021-11-11 23:18] complone commented on #9267
I can work on it.

[2021-11-11 23:20] complone commented on #9224
I want to fix this issues.

[2021-11-12 01:40] ericsyh commented on #12755
Yes, WARN for `Disconnected` is enough, no need give WARN to reconnect.

[2021-11-12 01:41] nlu90 commented on #9462
I can help with this issue.

[2021-11-12 01:43] nlu90 commented on #9137
I can help with this issue

[2021-11-12 01:45] nlu90 commented on #8843
I can help with this issue.

[2021-11-12 01:47] BewareMyPower commented on #12751
It looks like that your application doesn't link to the pulsar library correctly.  Could you give more details about how did you build the pulsar cpp library? Or just use the library from the pre-built binary? You can also use `ldd` to see whether your application links to the pulsar cpp library.

[2021-11-12 02:00] BewareMyPower commented on #12616
@Jason918

I tried to modify my test to

[code]

The `lastConfirmedEntry` didn't change. At the same time, instead of removing old ledgers, after `unload` and `lookup` again, the old ledgers were not removed.

[2021-11-12 02:50] hangc0276 commented on #12755
+1

[2021-11-12 03:12] Jason918 commented on #12616
I mean `lastConfirmedEntry` is init as "(currentLedger, -1)" in this method, if we have no other ledgers.

https://github.com/apache/pulsar/blob/98e2c66a7b2d5fd42641527cd9ad6c3b497d65c7/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/ManagedLedgerImpl.java#L478

In the case above that all ledgers are deleted in `internalTrimLedgers`, lastConfirmedEntry is like "(lastDeleteedLedger,

[2021-11-12 03:21] Richard-Yi commented on #12750
thx, I think i know how to do it now~

[2021-11-12 03:30] Anonymitaet opened #12768 "[Doc] JSON configuration of connector"
Here is a doc issue from @merlimat :

I think there’s a problem in most pulsar-io examples with respect to the JSON configuration specific to each connector.
For example in https://pulsar.apache.org/docs/en/io-quickstart/#configure-a-cassandra-sink we have

[code]
The corresponding YAML example is:
[code]
The JSON fails to submit because the fields are compared to the Pulsar-IO basic configs and n

[2021-11-12 03:31] Anonymitaet commented on #12768
@david-streamlio as we discussed, can you help resolve this? Thanks!

[2021-11-12 05:00] BewareMyPower commented on #12616
We should evaluate the influence if we updated `lastConfirmedEntry` in `internalTrimLedgers`. Because some methods might rely on the current semantics that `lastConfirmedEntry` can point to a deleted entry.

Unless we can add a unit test to prove the current semantics might cause some problems, we should not change it.

[2021-11-12 05:11] #12754 closed

[2021-11-12 06:07] gaozhangmin commented on #12759
I would like to help on it.

[2021-11-12 08:37] xiaobing0508 opened #12772 "In the process of perf,Failed to open connection to pulsar."
My pulsar version 2.8.1.

Broker logs is
WARN  org.apache.pulsar.broker.service.ServerCnx - [/192.168.149.32:39008] Got exception io.netty.channel.unix.Errors$NativeIoException: readAddress(..) failed: Connection reset by peer.
INFO  org.apache.pulsar.broker.service.ServerCnx - Closed connection from /192.168.149.32:36726
INFO  org.apache.pulsar.broker.service.ServerCnx - Closed connection from /1

[2021-11-12 08:41] abhilashmandaliya commented on #12747
Thanks for the reply @codelipenghui.
I tried again. There are no error logs in the sinker nor in the pulsar broker.
Cassandra container is fully functional as well.
This is easily reproducible if you get a chance to repro it.

[2021-11-12 09:28] mattisonchao commented on #9466
@codelipenghui  This feature has been completed by @vroyer . see #10052
 I think we can close this issues.

[2021-11-12 10:32] Jason918 opened #12774 "Flaky-test: ReplicatorTest.testDoNotReplicateSystemTopic"
[org.apache.pulsar.broker.service.ReplicatorTest] is flaky. The [testDoNotReplicateSystemTopic] test method fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/4187735359?check_suite_focus=true#step:9:7731)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
org.apache.pulsar.client.admin.PulsarAdminException$NotFoundException: Topic not found
	at o

[2021-11-12 10:34] Jason918 commented on #12774
Test locally with current mast (c3da1452a444c9599cb85562a3faa82ddfdecec8), it still fails.
I am looking into this.

[2021-11-12 15:27] codelipenghui commented on #12772
@xiaobing0508 Here is a related issue https://github.com/reactor/reactor-netty/issues/1469, I think you should to check your  test env network.

[2021-11-12 16:44] thomaeschen opened #12778 "[Pulsar Function Development] java.lang.ClassNotFoundException: org.apache.pulsar.client.impl.schema.JSONSchema"
**Describe the bug**
Develop a Pulsar function which contains the library **"org.apache.pulsar.client.impl.schema.JSONSchema"** in it. The pulsar function could be executed successfully under the **_localrun_** mode, but the system will show the error message "**java.lang.NoClassDefFoundError: org/apache/pulsar/client/impl/schema/JSONSchema"** while under the **_cluster mode_**.

**To Reproduce**

[2021-11-12 23:31] thomaeschen commented on #12778
Should i also pack the jar which contains the class "org.apache.pulsar.client.impl.schema.JSONSchema" in my jar of pulsar-function

[2021-11-13 00:35] thomaeschen commented on #8459
Hi Easkkimuthu992,

How do you solve the issue? I have similar issue while using the class JSONSchema . Cam you give me a hand?

[2021-11-13 01:15] #12727 closed

[2021-11-13 01:43] thomaeschen commented on #12778
Hi , I know the issue
 1) In the maven , I only use "package" in my Eclipse IDE
 2) The correct goal will be "clean compile assembly:single"

Now, I could use JSONSchema in the pulsar function ! Thanks the help from the community

![image](https://user-images.githubusercontent.com/87412552/141601094-90090bc1-6fcf-4b99-9e6f-88eea4e6795d.png)

[2021-11-13 01:43] #12778 closed

[2021-11-13 08:58] AlNedorezov commented on #12733
@codelipenghui yes, subscription was there before any messages were written. Not sure how is this relevant though.

@gaozhangmin thanks for the information. I will check it in the newer version

[2021-11-13 08:59] mattisonchao opened #12783 "Migrate Maven projects to Gradle"
**Do we plan to migrate the maven project to Gradle?**

![40kom3wn1z](https://user-images.githubusercontent.com/74767115/141612684-8e580a00-c9cc-48d6-9343-d5d0e2232a05.png)

this image show the Gradle is 3-10 times faster in clean builds, about 85 times faster in incremental builds, and 13 times faster when Gradle task output is cached.

[2021-11-13 09:03] mattisonchao opened #12784 "etcd metadata"
**Is your enhancement request related to a problem? Please describe.**
A clear and concise description of what the enhancement is.

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Additional context**
Add any ot

[2021-11-13 09:03] #12784 closed

[2021-11-13 09:06] mattisonchao opened #12785 "Support Etcd metadata for pulsar broker."
see [#12100 ](https://github.com/apache/pulsar/wiki/PIP-45%3A-Pluggable-metadata-interface)

[2021-11-13 09:06] mattisonchao commented on #12785
I want to work on it.

[2021-11-13 09:07] mattisonchao commented on #12785
@codelipenghui  I want to work on it.

[2021-11-13 14:16] merlimat commented on #12783
Yes, this has been discussed some time ago. The point there was to wait for the BookKeeper migration to Gradle to be completed (https://bookkeeper.apache.org/bps/BP-43-gradle-migration/) before starting with Pulsar. The BK change is close to completion and will be released in BK-4.15

[2021-11-13 16:34] eaba commented on #12727
@eolivelli thanks for capturing this issue. In my case such topics where in thousands and this affected Pattern Consumer.  I actually thought it was error from my end but now this issue has been opened and closed, I am relieved.

[2021-11-13 19:56] eolivelli commented on #12727
@eaba are you using transactions in productions?

If so please take care of testing the upgrade from 2.8 to 2.9.
There are a few changes in the wire protocol for transactions.
Please report any issue

[2021-11-13 20:18] hpvd opened #12789 "Use Fuzzing to find bugs (e.g. as part of CI)"
**Is your enhancement request related to a problem? Please describe.**
Quality and Security could always be optimized...

**Describe the solution you'd like**
Use Fuzzing to find bugs (e.g. as part of CI)

OSS-Fuzz: Continuous Fuzzing for Open Source Software
https://github.com/google/oss-fuzz

has found
As of June 2021,
OSS-Fuzz has found over
30,000 bugs
in 500 open source projects (see https://

[2021-11-13 22:19] #12785 closed

[2021-11-13 22:22] mattisonchao commented on #12783
could I do something to help with this?

[2021-11-14 06:58] eaba commented on #12727
@eolivelli thanks for the heads up.

[2021-11-14 08:09] Demogorgon314 commented on #12356
I'll try to implement this feature. Can you assign it to me?

[2021-11-14 13:27] yuruguo opened #12795 "Ensure the deletion consistency of topic and schema"
**Is your enhancement request related to a problem? Please describe.**
Currently, we can delete the topic without deleting its schemas (I think the topic and the schema are managed separately to make this behavior possible) through `bin/pulsar-admin topics delete-partitioned-topic persistent://tenant/namespace/topic`. in this case, there will be a significant problem for topic with schemas, that i

[2021-11-14 15:18] Jason918 opened #12796 "[bug] java.lang.ArrayIndexOutOfBoundsException with user defined replicatorPrefix."
**Describe the bug**
The following exception occurs when I changed replicatorPrefix, and the replicator does not work.

Caused by: java.lang.ArrayIndexOutOfBoundsException: Index 2 out of bounds for length 2
	at org.apache.pulsar.broker.service.Producer.<init>(Producer.java:131) ~[classes/:?]
	at org.apache.pulsar.broker.service.ServerCnx.buildProducerAndAddTopic(ServerCnx.java:1296) ~[classes/:?]

[2021-11-15 00:52] #12723 closed

[2021-11-15 04:05] timmyyuan commented on #12623
Hi, @nlandeker this may have to wait for PMC members with sufficient authority to release it, I think if you need to use it urgently, maybe you can build it yourself.

[2021-11-15 04:30] hepyu opened #12800 "40个分区的topic消息严重不均衡下个别partition无法被consumer消费"
疑似pulsar-broker的bug，但我无法确认。

目录：
(1).不用英文的原因
(2).pulsar部署版本&细节&架构
(3).问题&现象与使用陈述&脱敏代码
1.问题
2.现象与使用陈述&脱敏代码

(1).不用英文的原因

我英文不好，虽然看懂没有问题，但是如果用英文陈述整个问题&现象的话，无法保证陈述的准确行，故使用中文。

(2).pulsar部署版本&细节&架构

pulsar版本是2.8.0，部署在openjdk11上，具体版本号是：11.0.12。
在aws海外部署，使用机型是c5a.2xlarge（8c16g），一共是3台，每台部署一个broker、bookie、zk。启动命令的参数没有修改都是默认值。

部署详情与细节：
pulsar-7：aws上部署生产级别的5节点pulsar集群
https://mp.weixin.qq.com/s/YwCr-l2WcM4

[2021-11-15 05:34] hepyu commented on #12800
补充一下：
这个40个分区的topic，现在是有2个分区啊严重堆积，各堆积了30万不消费。但是重启broker后会消费，但是当消费万1~2万消息后又不消费了，再次重启又消费一点然后停止，反复如此。

这也是我怀疑是pulsar-broker的疑似bug的原因。

[2021-11-15 06:01] hepyu commented on #12800
补充2：
我也在问题分区上查看了pulsar-broker的所有线程，没有死锁。

[2021-11-15 06:31] hepyu commented on #12800
补充3:
经过不断查、重启，现在连个分区还各余不到10万堆积。
![image](https://user-images.githubusercontent.com/3917749/141733156-2240a1fc-9a75-4e3a-94d9-fc905a1073e3.png)

arthas查看dashboard如下：
![image](https://user-images.githubusercontent.com/3917749/141733312-7d89cfd7-3536-4d7c-a9d8-52fd275d1fab.png)
是内存不够了么？

[2021-11-15 07:54] hepyu commented on #12800
补充4：

我查阅了2.8.1release的fix list，注意到了2.8.1的这个修复：
[broker] Fix issue where Key_Shared consumers could get stuck #10920
https://github.com/apache/pulsar/pull/10920

然后我同样看了下问题分区的stats，和上述issue中的stats做对比，不是同一个现象，但确实有些问题：
1.consumers竟然是空的，也就是没有消费者，那肯定没有办法消费了吧？在issue#10920中consumers是有消费者的。
2.subscriptions下的msgBacklog和msgBacklogNoDelayed有值且相等且正确，但是backlogSize确实0，这个不对吧？
![image](https://user-images.github

[2021-11-15 08:00] hepyu commented on #12800
补充5:

顺着补充4， 我查看了这个topic其他正常的分区，正常分区的stats是：
1.consumers有消费者实例，正确。
2.subscriptions下的msgBacklog和msgBacklogNoDelayed，backlogSize有值且相等且正确，都是0。
![image](https://user-images.githubusercontent.com/3917749/141743677-bd3066fc-f6bd-4387-9260-3e2b2fe40f39.png)

也就是说，在这种场景下，somehow的未知原因会导致严重堆积/不均衡的分区会丢失自己的consumer?

下附脱敏后的topic stats(只把订阅者名称改了，其余都保持现场)：
[code]

[2021-11-15 09:03] Jason918 opened #12808 "Flaky-test: org.apache.pulsar.functions.source.batch.BatchSourceExecutorTest.testLifeCycle"
org.apache.pulsar.functions.source.batch.BatchSourceExecutorTest is flaky. The [testLifeCycle] test method fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/4208985654?check_suite_focus=true#step:8:12106)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
Error:  testLifeCycle(org.apache.pulsar.functions.source.batch.BatchSourceExecutorTest)  Tim

[2021-11-15 09:09] hepyu commented on #12800
补充6：
出现补充5的情况是因为消费者的jvm假死了，消费者是两台机器(8c16g)，都假死了，但是奇怪的是第一台机器的所关联的分区还在(topics stats可以看到)，第二台机器所关联的分区不在了（topics stats看到的consuemrs为空）。

假死原因是因为垃圾回收用的是G1，之前用ZGC的时候，即使积压了几十万，从来没死过，过会就缓过来了。

现在我把consumer重启（垃圾回收还是G1），问题分区的topic stats：然后跑一跑又停了(消费者hang住了)，但是topic stats中的consuemrs还在，但是我估计等一会又会消失，正在观察。
![image](https://user-images.githubusercontent.com/3917749/141753463-b115d338-3eef-4afc-b07b-b1a4b6b68201.pn

[2021-11-15 09:10] yangl commented on #12783
Yes, but I'm currently using [mvnd](https://github.com/mvndaemon/mvnd) which is also quite fast as Gradle.

[2021-11-15 09:19] hepyu commented on #12800
补充7：
果然如补充6所猜测的一致，当消费者由于GC假死后，分区的topic stats中的consumers为空，pulsar-broker应该是通过心跳判断consuemr已经断开了。

目前从重现&各种现象下的分析结果是：消费者如果使用的是G1（已经做调优），并且在海量消息段时间涌入时，会出现假死，然后从pulsar-broker上断开。导致无法消费。

![image](https://user-images.githubusercontent.com/3917749/141755180-d48f07c0-83c3-4ff0-a206-4cb4d1b0056e.png)

后边我们会将消费者的GC切换为ZGC验证是否恢复正常。

[2021-11-15 11:01] hepyu commented on #12800
补充8:

ZGC也不行，经查是因为每批发送40个消息，之前用ZGC的时候是每批发送10个消息。

如下图，是consumer刚恢复时pulsar给consumer吐出的速率，但是一个消费者的TPS是600多（业务重），肯定是无法消费过来的，但还接受海量的消息，会不会把内存中的queue撑爆了？

我的问题是：为啥我的消费能力只有600多，但是pulsar却给我这么海量的消息，我并没有取这么多消息啊。
![image](https://user-images.githubusercontent.com/3917749/141770332-0eee2855-ccc8-4d4c-b70f-59bb09f927ef.png)

[2021-11-15 11:27] hepyu commented on #12800
目前阶段定位是：
pulsar-consumer默认使用的是push方式，大量积压后，消费者重启时，pulsar-broker会推送海量消息到consumer，直接把consuemr内存打爆。

[2021-11-15 13:30] Jason918 opened #12812 "Optimize zookeeper client performance for loading amounts of topics."
**Is your enhancement request related to a problem? Please describe.**

Optimize zookeeper client performance for loading amounts of topics.
Our use case is described here  #12651 .

**Describe the solution you'd like**

Introduce [zk multi ops](http://zookeeper.apache.org/doc/r3.7.0/apidocs/zookeeper-server/org/apache/zookeeper/ZooKeeper.html#multi-java.lang.Iterable-org.apache.zookeeper.AsyncCal

[2021-11-15 13:48] mattisonchao commented on #8759
This issue has been fixed by #10129 , I think we should close this issue.

[2021-11-15 20:32] hpvd commented on #12800
just a little translation to make this issue searchable in english language:

Suspected pulsar-broker bug, but I can't confirm it.

Contents.
(1). Reasons for not using English
(2). pulsar deployment version & details & architecture
(3). Problems & Phenomena & Usage Statement & Desensitized Code
1.Problem
2. Phenomenon & usage statement & desensitized code

(1). Reasons for not using English

I am

[2021-11-15 20:42] leroyj commented on #12166
It probably comes from RocksDB jni lib that is compiled for Intel architecture but not for M1.
I have the following message when I try to start Pulsar standalone manually
[code]
There's an open issue ([facebook/rocksdb#7720](https://github.com/facebook/rocksdb/issues/7720#issuecomment-864585111)) in RocksDB that @jurmous helps to fix by building a universal version of the lib.

[2021-11-16 00:57] #8759 closed

[2021-11-16 01:15] yuruguo opened #12822 "Add remove-clusters command for namespace in pulsar-admin"
**Is your feature request related to a problem? Please describe.**
CLI `bin/pulsar-admin` supports `set-clusters` and `get-clusters` command so that we can `set` / `get` replication clusters for a namespace. But it lacks corresponding `remove-clusters` command to restore to the unset state,  I think it is necessary to add this command to ensure the closed-loop operation of the replication cluster.

[2021-11-16 02:36] wolfstudy opened #12824 "[Pulsar-Admin] Ledgers in the partitioned-stats-internal command are missing"
**Describe the bug**

Run the command:

[code]

the input as follows:

![image](https://user-images.githubusercontent.com/20965307/141778976-d601d7d2-acb1-4d44-bb30-64a4e9c0a39d.png)

And run the command again, we can get the ledgers

[2021-11-16 03:24] aloyszhang commented on #12733
@AlNedorezov @eolivelli  you can see this pull request https://github.com/apache/pulsar/pull/11443

[2021-11-16 07:03] leizhiyuan commented on #12824
![image](https://user-images.githubusercontent.com/2684384/141936884-0ed1999b-0320-4a3d-9621-856072253031.png)

I can not reproduce this issue , can you reproduce it every time?

[2021-11-16 07:36] wolfstudy commented on #12824
This is not a problem that can be reproduced stably. This is where the problem is confused. The current logic is problematic. We need to check in the return value. When the ledger is not obtained correctly, we should return an error instead of returning as described in the issue

[2021-11-16 07:42] 949808802 opened #12829 "pulsar transaction error"
The same code can be run yesterday, but it can't be used today，I don't know the cause of the problem and how to solve it！pulsar server and client use 2.8.0

code：
public static void main(String[] args) throws Exception{

        PulsarClient client = PulsarClient
                .builder()
                .serviceUrl(Global.clusterUrl)
                .enableTransaction(true)
                .buil

[2021-11-16 07:44] hpvd commented on #8815
just another topic for optimizing code quality and security further:
Use Automatic Fuzzing to find bugs (e.g. as part of CI / via github action) https://github.com/apache/pulsar/issues/12789

-> with the latest possibilities of integration  CI process, this is now relatively easy to use but powerful

[2021-11-16 07:59] gaozhangmin commented on #12759
@ericsyh  Please provide your java code . I tested with java client on pulsar 2.8 and master branch. I cannot reply this issue.

[2021-11-16 08:09] ericsyh commented on #12759
@zymap Do you still have the Java client which can reproduce this issue?

[2021-11-16 08:36] leizhiyuan commented on #12824
![image](https://user-images.githubusercontent.com/2684384/141949599-2f0a328a-1e65-4028-9b25-70e7d627bbbb.png)

maybe  rollCurrentLedgerIfFull ,between

  ledgerClosed(lh);  //1
                    createLedgerAfterClosed(); //2

![image](https://user-images.githubusercontent.com/2684384/141949818-2872ac48-fd3a-4c0a-9c7a-60fd9aee9267.png)

sometimes ledgers can be empty, it will remove then create

[2021-11-16 10:18] storm-5 opened #12832 "go client: message ID serialization / deserialization, then AckID failed"
**Describe the bug**
message ID serialization / deserialization, then AckID failed.

**To Reproduce**
Steps to reproduce the behavior:
1. receive a message
2. Serialize the messageID
3. DeserializeMessageID
4. Ack the message by id
4. See error

**Expected behavior**
AckID success.

**Screenshots**

**Desktop (please complete the following information):**
 - OS: debian 11
![2021-11-16_18-16](https

[2021-11-16 10:57] ericsyh commented on #12759
@gaozhangmin PTAL. I can reproduce this issue with java consumer code.

The way i reproduce this issue:
1. Start the producer without dispatch limit and keep producing for a long time
2. Start the consumer with the consumer.java
3. Stop the consumer after several consumes and acks are sent while keep producing
4. Check the topic stats-internal and there is some indeviduallyDeleteMessage.

[consume

[2021-11-16 11:39] iMine141 commented on #12313
@thomaeschen excuse me, I have the same question as you about TLS. I want to know how you solved the problem 。 the client certificate
![image](https://user-images.githubusercontent.com/27681125/141978880-cb8d5d7a-ebe1-41ef-ba5e-aeeaa783aed7.png)

[2021-11-16 11:41] gaozhangmin commented on #12759
On which pulsar version?

[2021-11-16 12:31] ericsyh commented on #12759
I got it on 2.8.1

[2021-11-16 13:37] thomaeschen commented on #12313
Hi iMine,

1. You activate the parameter "tlsRequireTrustedClientCertOnConnect=true" in the broker.conf and it means that you must provide the client certificate to the server for the mutual authentication.
2. Following point 1, you need to set the two parameters in the client.conf to provide the certificate . The two parameters are like as follow :
### a. authPlugin=org.apache.pulsar.client.impl.

[2021-11-16 14:17] freeznet opened #12834 "[pulsar-admin] support passing secrets (`secretsMap`) when create functions / connectors"
**Is your enhancement request related to a problem? Please describe.**
`FunctionConfig` do have `secrets` field but not exposed to `pulsar-admin`, which makes user hard to use the `secrets` with Pulsar Functions and Pulsar Connectors.

ref: https://github.com/apache/pulsar/blob/master/pulsar-client-admin-api/src/main/java/org/apache/pulsar/common/functions/FunctionConfig.java#L103

**Describe the

[2021-11-16 14:23] #10382 closed

[2021-11-16 14:51] azeng528 opened #12835 "bookie 缩容"
集群结构：
pulsar版本：2.4.0
3节点：zk+bookie+broker
扩容5节点192.168.1.1-5

缩容操作：
操作第一台主机：
systemctl stop broker
systemctl stop bookie
./bin/bookkeeper shell decommissionbookie -bookieid 192.168.1.1:3181
执行后报错如下：
22:27:10.876 [main] INFO  org.apache.bookkeeper.client.RackawareEnsemblePlacementPolicyImpl - Not weighted
22:27:10.878 [main] INFO  org.apache.bookkeeper.client.BookKeeper - Weighted ledger placement

[2021-11-16 15:04] Technoboy- commented on #12835
This is a known bug with fix [bookkeeper#2284](https://github.com/apache/bookkeeper/pull/2284)

[2021-11-16 16:27] klevy-toast commented on #9141
close by https://github.com/apache/pulsar/pull/12566

[2021-11-16 16:27] #9141 closed

[2021-11-17 00:43] #12768 closed

[2021-11-17 01:32] hangc0276 commented on #12835
You can follow the steps to fix the bug.
1. cherry-pick this pr(https://github.com/apache/bookkeeper/pull/2284) to your bookkeeper code,
2. build the bookkeeper server module
3. replace the bookkeeper jar into one of your bookies
4. run decommissionbookie command on the updated bookie

Notice: before run decommissionbookie command, you should ensure there is not under replicating ledgers.

[2021-11-17 04:08] Anonymitaet opened #12843 "[Website] generate website for C client API"
# Background

Currently, we have [API websites for various languages](https://pulsar.apache.org/api/), such as the Java / C++ / Python API website.

# Issue

1. C does not have an API website.
`.h` files of C are available at [here](https://github.com/apache/pulsar/tree/master/pulsar-client-cpp/include/pulsar/c).
@BewareMyPower found that Doxygen generates C++ rather than C API website.

2. C lack

[2021-11-17 05:10] AndrewJD79 opened #12844 "[pulsar-client-cpp] Excessive locking cause significant performance degradation"
**Describe the bug**
Implementation of statistics in cpp client have two concurrency issues.

1. ProducerStatsImpl (and ConsumerStatsImpl) classes use a single shared lock to protect access to internal data.  The lock is taken on each sent or received message. Under high load this shared lock causes signficant contention and performance degradation.
Profiler shows that sending and receiving thread

[2021-11-17 07:34] azeng528 commented on #12835
14:12:56.982 [main] INFO  org.apache.bookkeeper.client.BookKeeperAdmin - Count of Ledgers which need to be rereplicated: 272752
14:12:56.983 [main] ERROR org.apache.bookkeeper.bookie.BookieShell - Received exception in DecommissionBookieCmd
java.lang.IllegalArgumentException: timeout value is negative
	at java.lang.Thread.sleep(Native Method) ~[?:?]
	at org.apache.bookkeeper.client.BookKeeperAdmin

[2021-11-17 07:36] azeng528 commented on #12835
![image](https://user-images.githubusercontent.com/19300752/142156062-989662bb-bb9d-4b5c-80c3-47eee2e7965f.png)
通过图上所示，
问题1：通过命令行获取的ledger数量和监控取值的，两个差别怎么如此巨大？
问题2：如果ledger的数量是图上listledgers获取的值所示，那么bookie后台还在清理过期消息，为啥还有那么多的ledger呢？请问导致这种大的ledger是什么原因导致的呢？

[2021-11-17 07:41] azeng528 commented on #12835
[zk: localhost:2181(CONNECTED) 0] ls /ledgers/underreplication/ledgers
[]
情况描述：
有3节点，我重启第一台bookie后，发现zk里面这个/ledgers/underreplication/ledgers节点下面存在数据，是不是表示有消息没有复制完成，这样我就不能马上重启第二台bookie节点，否则有丢失数据的风险？

[2021-11-17 07:41] hangc0276 commented on #12835
272752 ledgers to be replicated.

[2021-11-17 07:43] hangc0276 commented on #12835
`bin/bookkeeper shell listledgers` represent all ledgers in your bookkeeper cluster.

[2021-11-17 07:43] azeng528 opened #12851 "pulsar bookie ledger count"
3节点的集群：zk+bookie+broker

![image](https://user-images.githubusercontent.com/19300752/142157093-0074fef3-2a58-4755-8b1d-a5bec2f114f0.png)
通过图上所示，监控上没有发现backlog堆积
问题1：通过命令行获取的ledger数量和监控取值的，两个差别怎么如此巨大？
问题2：如果ledger的数量是图上listledgers获取的值所示，那么bookie后台还在清理过期消息，为啥还有那么多的ledger呢？请问导致这种大的ledger是什么情况会触发【例如：大量写入消息】？

[2021-11-17 07:44] azeng528 commented on #12851
[zk: localhost:2181(CONNECTED) 0] ls /ledgers/underreplication/ledgers
[]
情况描述：
有3节点，我重启第一台bookie后，发现zk里面这个/ledgers/underreplication/ledgers节点下面存在数据，是不是表示有消息没有复制完成，这样我就不能马上重启第二台bookie节点，否则有丢失数据的风险？

[2021-11-17 07:46] hangc0276 commented on #12835
you can use `bin/bookkeeper listuderreplicated` command to check whether there are ledgers to be replicated.

you can roll restart all bookies without considering the replicated process. But if you do decommission operation, you should ensure all ledgers replicated before starting next bookie decommission.

[2021-11-17 07:50] azeng528 commented on #12835
通过监控提取的值：
![image](https://user-images.githubusercontent.com/19300752/142158109-757ab490-009d-44a5-8293-b7cad2bb5cfb.png)
就算现有我们集群所有ledger加起来，也没有我们listledgers的多啊？

[2021-11-17 07:57] azeng528 commented on #12835
问题

`bin/bookkeeper listuderreplicated`反应的是整个bookie集群，所有未复制ledger还是我执行命令那台bookie上所属ledger？

[2021-11-17 08:00] nodece commented on #12832
@storm-5 could you provide the pulsar version and go client version?

[2021-11-17 08:40] codelipenghui commented on #12795
Very confused, not sure why the topic was removed but the schema is still there. I think we can start a discussion to remove the `--deleteSchema` option, to make sure the schema should be deleted when deleting the topic.

For the topic auto-deletion, we should enable topic auto-creation and schema auto upload, so I think it's not reasonable to keep the schema after the topic has been deleted. It w

[2021-11-17 08:45] #12796 closed

[2021-11-17 08:53] codelipenghui commented on #12796
Thanks for the quick fix @Jason918

[2021-11-17 09:00] #12710 closed

[2021-11-17 09:06] codelipenghui commented on #12800
@hepyu I think there are 2 questions

1. The consumer stop consuming data from the topic, looks you already point out the root cause
2. For the second one, I think you can try to reduce the receiver queue size of the consumer, by default you will receive 1000 batches(might more than 1000 messages) when starting the consumer

[2021-11-17 09:16] codelipenghui commented on #12812
We'd better do not expose any zookeeper-specific configurations, it's better to use metadata instead.
And, can we avoid exposing such configurations to users? We have more and move configurations, I think for this one we can just keep it as default 5ms batch delay? @merlimat WDYT

[2021-11-17 09:19] codelipenghui commented on #12824
@wolfstudy Looks like you can check the broker logs to see if the there is ledger rollover happens when you get the topic internal stats.

[2021-11-17 09:21] codelipenghui commented on #12829
@congbobo184 Could you please help take a look at this issue?

[2021-11-17 09:32] congbobo184 commented on #12829
hi, @949808802 https://github.com/apache/pulsar/pull/11357 has fix this problem, it will be released in 2.8.2 and 2.9.0.

[2021-11-17 10:00] wangjialing218 commented on #12800
you could try to enable pool message in consumer setting, this could reduce GC impact in consumer.
For more reference: https://github.com/apache/pulsar/wiki/PIP-83-:-Pulsar-client:-Message-consumption-with-pooled-buffer

[2021-11-17 10:16] yuruguo commented on #12795
I think it is necessary to discuss about ‘remove the **--deleteSchema** option’, because it is more profitable to ensure that the consistency of the topic and the schema exist than the inconsistency, mainly in two points:
1. Avoid the impact of residual schema on new topic(has same name with the deleted topic)
2. Able to better converge schema operation permissions

In addition, I am sorry and I n

[2021-11-17 10:21] gaozhangmin commented on #12759
Can u test with  #12343.   @ericsyh

[2021-11-17 10:49] Jason918 commented on #12812
- Totally +1  for stop adding more unnecessary configurations for users. There is too much already. And normal user don't care about most of these configuration at all. But there are always some corner cases user would have to config these. Maybe we can introduce some kind of implicit configurations? One form would be like setting these config through system properties :` final long autoBatchZooke

[2021-11-17 12:56] lhotari commented on #11426
@Jason918 The problem isn't resolved. I'm reopening this issue. Here's a recent failure: https://github.com/apache/pulsar/runs/4236580815?check_suite_focus=true#step:9:3246 . It's a test run for PR #12853 and it included your attempt #12807 to fix the flaky test.

[code]

[2021-11-17 13:05] Jason918 commented on #11426
Yes, I got reproduced locally. And I got a detailed DEBUG log. I will keep look into this.

[2021-11-17 13:55] Jason918 commented on #11426
[testRemoveFirstConsumer.log](https://github.com/apache/pulsar/files/7555076/testRemoveFirstConsumer.log)

Debug level log here.
Anyone familiar with KeyShare consuming mode could help.

[2021-11-17 16:29] madhavan-narayanan opened #12858 "[PIP 106] Broker extensions to provide operators of enterprise-wide clusters better control and flexibility"
## Motivation

The central messaging platform at Intuit uses Apache Pulsar. The platform team operates multiple clusters that are used by hundreds of teams across Intuit. For complete visibility and to better serve customers, the platform needs the ability to intercept all key broker and ledger events. Also needed is the ability to transparently control the format of messages that get persisted in

[2021-11-17 17:37] merlimat commented on #12812
👍 This is precisely what I wanted to do next on the `ZKMetadataStore` implementation.

Also, I believe this could be generalized across multiple backend implementations, so we could add a `AbstractBatchedMetadataStore extends AbstractMetadataStore`.

Regarding configuration, I think we should keep it generic for different implementations:
 * `metadataStoreBatchingEnable=true`
 * `metadataStoreBatc

[2021-11-17 19:03] merlimat commented on #12843
@Anonymitaet The C API is packaged together with the C++ client library. I think it's because of the Doxygen configuration that it's not considering the C headers for documentation. In particular, it could be just that we need to add the directory on https://github.com/apache/pulsar/blob/6704f12104219611164aa2bb5bbdfc929613f1bf/pulsar-client-cpp/Doxyfile#L812

[2021-11-17 19:05] merlimat commented on #12844
@AndrewJD79 Fixes for any of these are warmly welcomed.

[2021-11-17 21:19] merlimat commented on #12812
Few additional notes:
 * > zk server version: 3.4.6

   Newer ZK versions have better performance (eg: better txn pipelining in leader) and ways to configure group commit on the transaction log to improve throughput.

 * We should do a test with a 3/5 nodes ZK cluster, not just a single server
 * It would be good to simulate a mix write/read scenario, perhaps adding a YCSB driver (https://github.c

[2021-11-18 01:47] xuesongxs opened #12863 "Consumer can't receive message from topic"
**Describe the bug**
pulsar v2.8.1

Use the producer asynchronous sending interface to write data to the topic.
In broker.conf, acknowledsegmentatbatchindexlevelenabled = true. When creating a consumer, set enablebackindexacknowledgesegment (true).
After the consumer has been running for a period of time, it can‘t receive message, but there is actually a lot of backlog in subscription.

![image](h

[2021-11-18 02:02] timmyyuan commented on #12623
@hangc0276 Could you take a look if you have time, it seems that the alpine python client has not been added to the apache/pulsar release process. Thanks.

[2021-11-18 02:29] Jason918 commented on #12812
My bad, we did this perf test on zk version 3.6.3, with 3 nodes cluster.
Zk 3.4.6 is the version we use in production.

Totally agreed. But it's a bit tricky to simulate perfect mix write/read scenario. And we have a perf cluster ready for million topic scenario. So We plan to just test it with a quick implementation of `BatchedMetadataStore`.

Thanks for the reminding, automatic fallback mechanis

[2021-11-18 03:23] storm-5 commented on #12832
the pulsar vesion is: 2.7.2
the go client version is: v0.6.0. I have try v0.7.0, the same error.

[2021-11-18 03:31] xuesongxs commented on #12075
This problem also exists in version 2.8.1.

[2021-11-18 03:36] gaozhangmin commented on #12759
@ericsyh  The reason is, as the below figure shows, ack of entry 40:517 should not sent after 40:4. It's weird.
![image](https://user-images.githubusercontent.com/9278488/142347053-8b3e04bd-22ff-4588-8387-2a4fbf900740.png)

[2021-11-18 04:41] merlimat commented on #12812
There is one tricky part around creating parent z-nodes automatically: during create or setData, if we're getting a NONODE exception, we need to recursively create the parent z-nodes. When this is part of a batch, it may impose additional complexity as we need to retry the whole batch.

[2021-11-18 05:32] ericsyh commented on #12759
@gaozhangmin Yep, in my test also found that some further acks were sent before my consume. Maybe we need to check the sdk code why the further entry ack would be sent to Pulsar.

[2021-11-18 07:02] nodece commented on #12832
could you provide the go code to test this issue?

[2021-11-18 07:04] mattisonchao opened #12867 "How to set pulsar producer conf"
In the original docs

When you enable chunking, read the following instructions.

How can i set **maximum publish-payload size**.

[2021-11-18 07:16] leizhiyuan commented on #12867
![image](https://user-images.githubusercontent.com/2684384/142369478-8ed303c7-3845-467b-a948-7f5b3e8a111f.png)

you can set this, when broker has this setting, CommandConnected will be sent to producer

![image](https://user-images.githubusercontent.com/2684384/142369643-1c9d4339-b593-4188-b23e-6db2b821913e.png)

[2021-11-18 07:20] mattisonchao commented on #12867
Oh, i see.  thank you so much. : )

[2021-11-18 07:21] mattisonchao commented on #12867
i will close this issue.

[2021-11-18 07:21] #12867 closed

[2021-11-18 07:37] 949808802 commented on #12829
ok,thank you!

[2021-11-18 08:02] #12671 closed

[2021-11-18 08:39] aerfalwl opened #12868 "java.lang.IllegalArgumentException: Malformed Kerberos name: broker/http://xxx@KRB5.COM"
**Describe the bug**
1. The version of puslar cluster is 2.7.0.
2. Cluster uses kerberos for authentication.
3. When use tools pulsar-admin to list topics under public/default, pulsar-admin shows the following exceptions:
[code]
and the broker shows the following exceptions:
[code]

 **To Reproduce**
The bug happens occasionally.

**Expect Behavior**
Kerberos client should use principal serverType

[2021-11-18 09:14] storm-5 commented on #12832
here is. I have wipe the sensitive info.

[code]

[2021-11-18 10:18] gaozhangmin commented on #12759
The  further entry ack was acked  in method  `filterEntriesForConsumer`
![image](https://user-images.githubusercontent.com/9278488/142396263-e4c2d067-3323-4ea6-9f44-43231b07d4ee.png)
Because message is an internal marker. i don't know why entry was acked under this condition.

[2021-11-18 12:37] #12757 closed

[2021-11-18 13:42] YanshuoH commented on #12716
After some JVM investigation, I've used `jcmd -dump:format=b,file=dump.bin 1`. Found something interesting in the `dominant_tree` (using MAT):
<img width="866" alt="Screen Shot 2021-11-18 at 9 34 42 PM" src="https://user-images.githubusercontent.com/6973092/142425374-14974052-3117-4e9b-b0d5-25e40e5ce03c.png">

path2gc:

<img width="710" alt="Screen Shot 2021-11-18 at 9 40 54 PM" src="https://user-

[2021-11-18 13:47] YanshuoH commented on #12716
And finally after correctly turning on the leak detection,

So we can see where the leak comes from.

The leak log is quite long, click details to reveal it.

<details>

[code]

</details>

[2021-11-18 14:29] Jason918 commented on #11426
I have located this issue, and the test case is actually ok, but it caused by a  race condition in `PersistentDispatcherMultipleConsumers`, which indeed would causing the unordered consuming.

One can reproduce it easily in local environment by changing the 100ms to 1ms here.
https://github.com/apache/pulsar/blob/552360455382e33901b6d74c26f883ffb6907ba9/pulsar-broker/src/main/java/org/apache/pulsa

[2021-11-18 17:15] kaja78 opened #12880 "KafkaConnectSink effectively ignores topic name from sink configuration file"
**Describe the bug**
The topic configuration property of PulsarKafkaConnectSinkConfig is not passed to Kafka sink. Instead of it, the original Pulsar topic name is passed.

In the KafkaConnectSink.toSinkRecord() method, the topic name is derived using:

`final String topic = sourceRecord.getTopicName().orElse(topicName);`

The topicName instance variable holds topic name from PulsarKafkaConnectSin

[2021-11-18 23:41] dlg99 commented on #12880
@kaja78 I don't think using `final String topic = topicName;` is a good idea.
IIRC sink can use multiple input topics (via `--inputs`) and we'd want to route them to appropriate destinations.
"_" appear as result of replacement of ":" and "/" in the full topic name (URI as in "persistent://tenant/ns/topic") that snowflake connector does internally to generate table name compatible with the snowfla

[2021-11-19 01:18] YanshuoH commented on #12716
Sorry.

I can confirm that after upgrading to 2.8.1, the memory leak still exists.

<img width="871" alt="Screen Shot 2021-11-19 at 9 17 27 AM" src="https://user-images.githubusercontent.com/6973092/142529530-fd13a090-dd48-49a6-a5a4-7d3b44c54bca.png">

[2021-11-19 02:29] gaozhangmin commented on #12759
@ericsyh

[2021-11-19 02:53] hangc0276 commented on #12716
I will check this issue.

[2021-11-19 02:55] hangc0276 commented on #12716
@YanshuoH Thanks for you report. Would you please paste your configuration for broker and bookkeeper?

[2021-11-19 02:56] liangyepianzhou opened #12883 "Flaky-test: PersistentStreamingDispatcherBlockConsumerTest. testBlockBrokerDispatching"
PersistentStreamingDispatcherBlockConsumerTest is flaky. The testBlockBrokerDispatching test method fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/4259542832?check_suite_focus=true)

[code]

<details>
<summary>Full exception stacktrace</summary>
<code><pre>
Error:  testBlockBrokerDispatching(org.apache.pulsar.broker.service.persistent.PersistentStreamingDispatcherBloc

[2021-11-19 03:01] xiaobing0508 opened #12884 "In the process of perf,Broker shutdown."
### Broker logs
16:12:59.243 [BookKeeperClientWorker-OrderedExecutor-2-0] ERROR org.apache.bookkeeper.common.util.SafeRunnable - Unexpected throwable caught
java.lang.NullPointerException: null
	at org.apache.bookkeeper.mledger.impl.OpAddEntry.lambda$handleAddFailure$0(OpAddEntry.java:291) ~[org.apache.pulsar-managed-ledger-2.8.1.jar:2.8.1]
	at org.apache.bookkeeper.mledger.util.SafeRun$1.safeRun(

[2021-11-19 03:04] xiaobing0508 commented on #12884
My pulsar version is 2.8.1.

[2021-11-19 03:04] Jason918 commented on #12884
Any log about zk session expired?

[2021-11-19 03:05] Jason918 commented on #12883
+1, @liangyepianzhou  Any idea how to fix this?

[2021-11-19 03:08] xiaobing0508 commented on #12884
@Jason918 Yes.
[pulsar-ordered-OrderedExecutor-2-0-EventThread] INFO  org.apache.pulsar.zookeeper.ZooKeeperCache - [State:CONNECTED Timeout:30000 sessionid:0x100199b4612009d local:/192.168.191.54:41796 remoteserver:192.168.191.53:2181 lastZxid:4300302298 xid:563640 sent:563640 recv:563704 queuedpkts:0 pendingresp:0 queuedevents:0] Received ZooKeeper watch event: WatchedEvent state:SyncConnected ty

[2021-11-19 03:15] YanshuoH commented on #12716
Sure.

A bit strange (annoying) thing is that I've enabled lead detection up to paranoid, but didn't find any leak report.

<details>

<summary>Broker Conf</summary>

[code]
</details>

<details>

<summary>Bookie Conf</summary>

[code]

</details>

[2021-11-19 03:27] Jason918 commented on #12884
It's the reason broker shutdown. It's the default behavior pulsar handles zk session timeout.

[2021-11-19 03:40] hangc0276 commented on #12716
Ok, I will take a look.

[2021-11-19 03:41] Jason918 opened #12885 "[Bug] Unordered consuming case in Key_Shared subscription"
**Describe the bug**
It's a previous flaky test in `org.apache.pulsar.client.api.KeySharedSubscriptionTest#testRemoveFirstConsumer`
See #11426

There is a race condition in `PersistentDispatcherMultipleConsumers` when previous client closed with unack messaages.

**Detailed Explanation:**
Here is the core steps of this case.
1. produce 10 messages: m0~m9
2. wait unitl c1 got all the 10 message.
3.

[2021-11-19 04:58] ericsyh commented on #12759
@codelipenghui @hangc0276 We need some help to have a deep look on this issue.
@gaozhangmin Helped a lot on the issue  reproduce and locate the code.

[2021-11-19 05:19] xiaobing0508 commented on #12884
Maximum connections reached? @Jason918

[2021-11-19 06:14] Jason918 commented on #12884
Many reason can cause zk session timeout. Broker long gc, network outage, too much pressure on zk server, ect.

[2021-11-19 06:55] hepyu commented on #12800
2这个调整也没用。类似的调整消费rate等也是没有用的。都是只能让服务慢点死。

造成本issue的根本原因：
key_shard模式下，pulsar-client会用一个receiverQueue不断接收pulsar-broker推送过来的消息，receiverQueueSize只能限制这个queue的大小，但这个限制没用，只能让服务慢点死。因为每个shard都在client分配了一个singleThreadPool来处理，而这个singleThreadPool是一个无界队列，receiverQueue不断接收到消息后转发到shard的threadPool中的无界队列后，receiverQueue继续从pulsar-broker接收推送来的消息，直到把所有的shard的threadpool的无界队列打到最大极限，把服务吃死。

这个问题只有两种解决方式：
1.增加consumer的消费节

[2021-11-19 06:55] #12800 closed

[2021-11-19 07:05] hepyu commented on #12800
补充一下：
之前有同学说把acktimeout改小，这个也不行，反而会死的更快，因为还没处理完或者在队列中等待时就已经timeout了，pulsar-broker会再次重发，导致灾难更加严重。

[2021-11-19 07:14] iTigeroar opened #12887 "c++ client producer 异步发送崩溃"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
客户端异步发送数据到pulsar，当服务器一个节点故障，会导致客户端崩溃。

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: centos 7.4

**Additional context**
Add any other context about the probl

[2021-11-19 07:16] iTigeroar commented on #12887
![企业微信截图_16371383069052](https://user-images.githubusercontent.com/85559769/142581010-1a3ab3a2-96fa-4183-bc4d-9e99a020b1ec.png)
![企业微信截图_16371383688809](https://user-images.githubusercontent.com/85559769/142581016-9061eef3-47e1-4669-a0a5-e00fbf45745b.png)

[2021-11-19 07:18] #11766 closed

[2021-11-19 07:21] YanshuoH commented on #12716
Additional remarks.

I've

- `set-subscription-expiration-time` for all namespaces
- `clear-backlog` for inactive topics (no producer & no consumer)

<img width="867" alt="Screen Shot 2021-11-19 at 3 19 13 PM" src="https://user-images.githubusercontent.com/6973092/142581402-1bc3a225-a044-4afb-8150-24fa1517e365.png">

Now the memory usage seems stabilized (though load balance looks un-balanced but

[2021-11-19 08:11] kaja78 commented on #12880
The character replacement happens only in case there is no topic2table mapping defined and topic name is not valid snowflake identifier: https://github.com/snowflakedb/snowflake-kafka-connector/blob/v1.5.5/src/main/java/com/snowflake/kafka/connector/Utils.java#L536

Since topic name contains colon character, there is no way to specify table mapping for pulsar persistent topics.

I think the Kafka

[2021-11-19 08:13] wolfstudy opened #12888 "CPP SDK did not respond to request 307 during lookup"
**Describe the bug**

A normal broker cluster, suppose I now create a topic with 128 partitions to ensure that each broker node is distributed with a certain number of partitions. At this time, start the cpp client to send and consume data, everything is normal.

At this point, we kill one of the brokers and restart the broker. We can see that the cpp sdk keeps reporting the following error

[code

[2021-11-19 08:14] wolfstudy commented on #12888
ping @BewareMyPower PTAL thanks

[2021-11-19 08:26] BewareMyPower commented on #12887
The crash was not caused by `scheduleReconnection` directly, because your backtrace shows it crashed at `ClientConnection::handleSendPair`.

Could you reproduce it with a single broker node or a standalone? It's also good to share your code example.

Besides, you can build with latest code and try again to see if the error still happens.

[2021-11-19 09:33] BewareMyPower commented on #12888
It looks like the C++ client has configured the URL redirection, see https://github.com/apache/pulsar/blob/b807200552117c299e3776e33537d082a00290d5/pulsar-client-cpp/lib/HTTPLookupService.cc#L182-L184

And it's weird that you log is

[code]

See https://curl.se/libcurl/c/libcurl-errors.html

Could you try following C++ code and see what would happen?

[code]

You need to modify `completeUrl` and `

[2021-11-19 10:18] #12668 closed

[2021-11-19 11:03] Jason918 opened #12894 "ContentDeserializationException and warning logs in metadata store."
**Describe the bug**
Metadata store is generating a lot of warning logs in unit test lately. Not sure if it will appears in running broker.
Will causing some unit test running timeout. like #12883

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to unit test in puslar-broker, eg org.apache.pulsar.broker.service.persistent.PersistentStreamingDispatcherBlockConsumerTest
2. Run any te

[2021-11-19 11:07] Jason918 commented on #12894
Not only empty value deserialize error but also some type mismatch and illegal chars.

[code]

and
[code]

[2021-11-19 11:09] Jason918 commented on #12894
@merlimat Do you have any clues? I think it should be related to recent metadata store updates.

[2021-11-19 11:22] massakam opened #12895 "A large number of exceptions occur when starting a standalone server"
**Describe the bug**

When I start a standalone server built from [the current master code](https://github.com/apache/pulsar/tree/d74af88a6aed5a7da3139a4228ae29f793ec72b2), I get a lot of the following exceptions:
[code]

I don't know why, but when I revert https://github.com/apache/pulsar/pull/12788, these exceptions disappear.

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Desktop

[2021-11-19 11:24] massakam commented on #12895
@merlimat Do you have any idea what is the cause of this?

[2021-11-19 13:13] Jason918 commented on #12894
#12788  is causing this.

[2021-11-19 14:25] Jason918 commented on #12895
I wrote a fix. See #12896

[2021-11-19 14:44] Jason918 opened #12897 "Flaky-test: [org.apache.pulsar.broker.service.ReplicatorTest].[testReplicatorProducerName]"
[org.apache.pulsar.broker.service.ReplicatorTest] is flaky. The [testReplicatorProducerName] test method fails sporadically.

[example failure](https://github.com/apache/pulsar/runs/4263407650?check_suite_focus=true#step:9:322)

[code]

[2021-11-19 14:56] #11779 closed

[2021-11-19 15:20] michaeljmarshall commented on #12885
@Jason918 - good catch! Do you plan to submit a patch for this bug?

[2021-11-19 15:34] codelipenghui commented on #12851
@zymap @hangc0276 Could you please help check this issue?

[2021-11-19 15:38] codelipenghui commented on #12863
Thanks for providing the information, we will try to reproduce it first.

[2021-11-19 15:39] codelipenghui commented on #12868
@aerfalwl Have you tried a newer version such as 2.8.1?

[2021-11-19 15:41] codelipenghui commented on #12885
@michaeljmarshall Already have a patch here https://github.com/apache/pulsar/pull/12890

[2021-11-19 15:48] michaeljmarshall commented on #12885
@codelipenghui - oh, right. I don't know how I missed the GitHub note right about my comment. Thanks!

[2021-11-20 03:20] wolfstudy commented on #12888
![image](https://user-images.githubusercontent.com/20965307/142712829-89e8291d-b23a-47d7-bf8f-fd3c6fb7263a.png)

When i run the code, return `403 Forbidden`

[2021-11-20 07:01] qq516249940 opened #12903 "standalone Authentication using TLS general admin.csr.pem erorr"
**Describe the bug**
 standalone TLS general admin.csr.pem erorr

pulsar 2.8.1

[root@dev-pulsar-standalone my-ca]# openssl version
OpenSSL 1.1.1k  FIPS 25 Mar 2021

**To Reproduce**
Steps to reproduce the behavior:
[code]

**Desktop (please complete the following information):**
 [root@dev-pulsar-standalone my-ca]# cat /etc/redhat-release
CentOS Linux release 8.5.2111

**Additional context**
[cod

[2021-11-20 10:13] massakam commented on #12895
Great! I have confirmed that cherry-picking #12896 solves this problem.

[2021-11-20 10:20] massakam commented on #12895
This issue is a duplicate of #12894, so close it.

[2021-11-20 10:20] #12895 closed

[2021-11-20 12:21] mattisonchao commented on #9340
@eolivelli  I can not reproduce this issue.

Do you have any idea to help me? thanks :)

[2021-11-20 12:34] eolivelli commented on #9340
probably it has been fixed ?

what happens in "LocalRunner.java:360" ?

[2021-11-20 13:01] mattisonchao commented on #9340
@eolivelli  This bug has been fixed by #12278

I think we need to close this issue.

[2021-11-20 13:31] mattisonchao commented on #12863
@codelipenghui
I want try to work on it together, if possible  :)

[2021-11-20 16:07] #9340 closed

[2021-11-20 16:07] eolivelli commented on #9340
Thank you @mattisonchao

[2021-11-20 18:18] YouJiacheng opened #12905 "Admin putFunctionState REST API MediaType is multipart/form-data"
**Describe the bug**
In https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/admin/impl/FunctionsBase.java#L535
MediaType is multipart/form-data, which is not expected since user won't upload file.

**Expected behavior**
MediaType should be application/json

BTW, the document about it is really poor, I can't successfully send any putFunctionState REST A

[2021-11-21 04:49] #12897 closed

[2021-11-21 04:53] codelipenghui commented on #12905
@freeznet @nlu90 Could you please help check this issue?

[2021-11-21 11:30] truong-hua commented on #6163
I got the same problem, and I'm using docker image `streamnative/pulsar-all:2.8.1.10`. Decommission command seems stuck at `Count of Ledgers which need to be rereplicated: ...` forever even that there is only few ledgers remaining.

Can you reopen this issue @pushkar-engagio

[2021-11-21 19:13] bhasvij opened #12907 "Pulsar in AWS ARM processor group unable to start cluster"
**Describe the bug**
After starting the pulsar service using
bin/pulsar-daemon start broker in AWS c6g.4xlarge ARM processor instances the following problem is coming:

java.lang.UnsatisfiedLinkError: no conscrypt_openjdk_jni-linux-aarch_64 in java.library.path: [/usr/java/packages/lib, /lib, /usr/lib, /usr/lib64, /li
b64]
at java.lang.ClassLoader.loadLibrary(ClassLoader.java:2670) ~[?:?]
at java.

[2021-11-22 01:06] iTigeroar commented on #12887
考虑到在centos8上运行一直正常，所以可能的原因是：
在centos7。4下编译使用了静态库libpulsarwithdeps.a，正常运行没有问题，如果server端关闭某个bokie就会崩溃。
改成使用全部使用动态连接 libpulsarnossl.so.2.8.1 ，测试一次没有再报错。
以上信息供参考。

[2021-11-22 01:57] #12726 closed

[2021-11-22 02:17] gaoran10 commented on #12284
We add a PR https://github.com/apache/pulsar/pull/12809 to handle the null schema version problem.

[2021-11-22 02:25] Raven888888 commented on #12284
Awesome, thank you @gaoran10 and team! 🚀

[2021-11-22 03:37] Technoboy- commented on #12863
Yes, you can if you have time.

[2021-11-22 03:52] 315157973 opened #12909 "Metadata Deserialization failed"
**Describe the bug**
When we run the unit test of the Master branch locally, the following exception occurs.

![image](https://user-images.githubusercontent.com/9758905/142798221-840b667d-6554-471d-a9f9-cdc6a2e9717d.png)

![image](https://user-images.githubusercontent.com/9758905/142798344-3b8377d4-8a9b-4a6d-a4e6-4ec5404272ef.png)

**To Reproduce**
Steps to reproduce the behavior:
1. checkout to m

[2021-11-22 05:24] YouJiacheng commented on #6309
@sijie

In standalone mode, do we need to configure functions_worker.yml?
I see these two setting in functions_worker.yml too.

[2021-11-22 05:46] YouJiacheng opened #12911 "Docs token authentication configuration example does not match implementation"
# What issue do you find in Pulsar docs?

https://pulsar.apache.org/docs/en/security-jwt/#enable-token-authentication-on-brokers

[code]

The comment say token file should be specified in {"file":"///path/to/proxy-token.txt"} format.
However, the source code of org.apache.pulsar.client.impl.auth.AuthenticationToken implies that:
clear text token can use JSON format or "token:Clear.Text.Token"
toke

[2021-11-22 07:00] YouJiacheng opened #12912 "org.apache.pulsar.broker.web.AuthenticationFilter Filter Out WebSocket with authentication token in query."
Just Like #12303
But if authentication token in header, everything is fine, thus I guess that problem is caused by org.apache.pulsar.broker.web.AuthenticationFilter.

[2021-11-22 07:05] Technoboy- commented on #12863
@xuesongxs Could you send me an email for instant communication?  I didn't reproduce this issue .

[2021-11-22 07:14] bhasvij commented on #12907
Tried generating library .so file for ARM as mentioned here:
https://support.huaweicloud.com/intl/en-us/prtg-sc-kunpengwebs/kunpengconscryptopenjdkuber_02_0010.html
But unable to do...failing.

[2021-11-22 07:16] bhasvij commented on #12907
Looks like ARM64 support is not there from google: https://github.com/google/conscrypt
We need to think for pulsar either to think alternative for ARM64 platform support with this library or we can  remove dependency of this jar altogtether

[2021-11-22 07:45] xuesongxs commented on #12863
wechat: daxia_xue

[2021-11-22 08:50] hepyu commented on #12800
附：
pulsar push方式的实现原理：
https://pulsar.apache.org/docs/zh-CN/next/develop-binary-protocol/#%E6%B5%81%E9%87%8F%E6%8E%A7%E5%88%B6

我们最终采取的方案是：不使用client提供的方案，自己实现。
每个key_shard用一个thread消费，从receiveQueue中取出消息扔到一个阻塞队列，这个阻塞队列的长度是1，这样就可以规避这个issue的问题了：真正的根据消费能力通知pulsar-broker往consumer推送消息。

[2021-11-22 08:52] hepyu commented on #12800
@wangjialing218 @hpvd @codelipenghui
强烈建议pulsar-client提供一个这样的类似机制。很实用。

[2021-11-22 08:53] bhasvij commented on #12907
Found work around temporarily:
By removing the  conscrypt-openjdk uber 2.5.2 jar file and able to run pulsar service.

[2021-11-22 10:21] ATaurenRideRocket opened #12921 "Send To Topic Timeout"
PulsarClient异常 org.apache.pulsar.client.api.PulsarClientException$TimeoutException:
	The producer tpwg-pulsar-cluster-121-22 can not send message to the topic persistent://orderhub/prod/order.push-partition-0 within given timeout : createdAt 461913074 ns ago, firstSentAt 29545553038276935 ns ago, lastSentAt 29545553038276935 ns ago, retryCount 0 at org.apache.pulsar.client.api.PulsarClientExceptio

[2021-11-22 10:27] ATaurenRideRocket commented on #12921
It is a probability error, anybody know the possible reason?

[2021-11-22 11:20] lhotari commented on #10150
Recent example: https://github.com/apache/pulsar/runs/4284726558?check_suite_focus=true#step:9:230

[2021-11-22 11:39] wolfstudy commented on #12888
In here, i try to run `tcpdump` and get the follow output:

[code]

[2021-11-22 11:49] mattisonchao commented on #12921
@ATaurenRideRocket  please to give us more details.
 e.g : how to reproduce that : )

[2021-11-22 14:09] codelipenghui commented on #12921
@ATaurenRideRocket It's better to check the server-side metrics, maybe reach the disk bottleneck or others, so the messages write latency becomes very high, it's usually the reason for sending message timeout.

[2021-11-22 14:11] codelipenghui commented on #12911
@YouJiacheng Do you want to push a fix for the documentation?

[2021-11-22 14:53] hangc0276 commented on #12921
You'd better give more metrics in the server side, and then we can figure out the problem.

[2021-11-22 18:00] devinbost opened #12928 "Rebalancing functions does nothing"
**Describe the bug**
Hitting the endpoint to rebalance functions does not appear to work consistently.

**To Reproduce**
Steps to reproduce the behavior:

First, we look at the function assignments:

[code]

Next, we trigger functions to rebalance:

`$ curl fab08.example.domain.com:8080/admin/v2/worker/rebalance -X PUT -H "Authorization: Bearer eyJ...mNog"`

Checking function assignments again aft

[2021-11-22 18:00] devinbost commented on #12928
@jerrypeng FYI

[2021-11-22 18:07] bharanic-dev opened #12929 "Deadlock in internalDeleteSubscription in metadata-store callback thread"
**Describe the bug**
When doing certain topic operations (for e.g., delete-subscription), it can result in a deadlock metadata-store callback thread. Please see the stack trace below.

"metadata-store-6-1" #43 prio=5 os_prio=0 cpu=380.47ms elapsed=797.76s tid=0x00007f6ffc026800 nid=0x74 waiting on condition  [0x00007f7001ce1000]
   java.lang.Thread.State: WAITING (parking)
        at jdk.internal.

[2021-11-23 01:00] AndrewJD79 commented on #12844
I'll provide PR in a few days

[2021-11-23 01:07] mattisonchao commented on #12912
@codelipenghui  i want to work on it.

[2021-11-23 01:59] ATaurenRideRocket commented on #12921
Thinks, probably like you said, the prod environment has high message volumes and i can't reproduce at local environment.

[2021-11-23 07:02] wangjialing218 commented on #12907
@lhotari This issue seems caused by introduce conscrypt-openjdk in #10541
Is there any problem just removing conscrypt-openjdk uber 2.5.2 jar to run pulsar in ARM env?

[2021-11-23 07:09] Jason918 commented on #12909
Duplicate of #12894

[2021-11-23 07:49] lhotari commented on #12907
@wangjialing218 Yes, you should be able to run Pulsar without Conscrypt by removing the conscrypt jar file. Please report if there are issues. It is also possible to create a specific feature for disabling Conscrypt when ARM platform is detected.

[2021-11-23 08:20] lhotari commented on #12907
@bhasvij @wangjialing218 I created a PR to fix the issue: #12938 . When Conscrypt cannot be loaded, the JDK default security provider will be used.

[2021-11-23 08:48] peiyangL opened #12939 "Whether the Python client has the "listenerName" options"
JAVA SDK provide a `listenerName` [options](https://pulsar.apache.org/blog/2020/06/18/Apache-Pulsar-2-6-0/?ref=https://githubhelp.com#pip-61-advertise-multiple-addresses) in version 2.6

And I wonder is there a similar options in the Python client.

[2021-11-23 08:51] lhotari commented on #10150
Again https://github.com/apache/pulsar/runs/4296627336?check_suite_focus=true#step:9:209

[2021-11-23 09:01] BewareMyPower commented on #11845
In C++ client, the logger factory is a global object and can only be initialized only once in the constructor of `Client`.

https://github.com/apache/pulsar/blob/9a23dd0eb5557f3d8715437f31f43c9875729d94/pulsar-client-cpp/lib/ClientImpl.cc#L118

https://github.com/apache/pulsar/blob/9a23dd0eb5557f3d8715437f31f43c9875729d94/pulsar-client-cpp/lib/LogUtils.cc#L41-L49

The `LogUtils::setLoggerFactory`

[2021-11-23 11:33] lhotari commented on #9919
recent failure: https://github.com/apache/pulsar/runs/4296627245?check_suite_focus=true#step:9:504

[2021-11-23 11:38] lhotari commented on #12558
@zhanghaou @nicoloboschi  Here's a recent failure in the test SimpleProducerConsumerTestStreamingDispatcherTest.testConcurrentConsumerReceiveWhileReconnect :

[code]

@zhanghaou The flakiness doesn't appear to be fixed by #12707.

[2021-11-23 11:44] mingyifei opened #12942 "Storage space is not released"
![image](https://user-images.githubusercontent.com/38995810/143016373-188c052f-5132-4c13-a581-9f096e047e85.png)

I tested it through pulsar-perf, the command:
./pulsar-perf consume -t 1 -n 1 -q 1000 -ns 1 -st Shared --acks-delay-millis 0 persistent://prop/nsp/my-topic
./pulsar-perf produce -t 1 -n 1 -r 1000000 persistent://prop/nsp/my-topic

Modified configuration：
1.This configuration is set by p

[2021-11-23 11:45] lhotari commented on #12883
[Recent failure](https://github.com/apache/pulsar/runs/4296911854?check_suite_focus=true#step:9:1092)

[code]

[2021-11-23 12:55] kinbod commented on #12626
size&time based date retention will truncate the data, sometimes I need expand the search scope witch will includ some epired data, but I won't get it back agine, doesn't it ??

[2021-11-23 13:06] lhotari commented on #10150
Yet another https://github.com/apache/pulsar/runs/4298693944?check_suite_focus=true#step:9:209

[2021-11-23 13:06] lhotari commented on #10150
and again https://github.com/apache/pulsar/runs/4298938580?check_suite_focus=true#step:9:209

[2021-11-23 13:07] vkuznecovas opened #12944 "ARM based docker image"
**Is your enhancement request related to a problem? Please describe.**
I'd like to see an ARM based docker image for pulsar. The problem is that under new macs the pulsar containers have to be run under emulation which makes them horribly slow.

**Describe the solution you'd like**
ARM based docker image should be available in the apachepulsar/pulsar repo.

**Describe alternatives you've considere

[2021-11-23 13:08] lhotari commented on #12883
@Jason918 [I also came across this type of stack trace](https://github.com/apache/pulsar/runs/4298924236?check_suite_focus=true#step:9:992) where the timeout didn't occur:
[code]

[2021-11-23 14:22] Jason918 commented on #12883
Checked with the code, I think it's most likely because of the receive timeout setting is too small in line 821, it should use `receive()`
![image](https://user-images.githubusercontent.com/2770146/143041042-09744280-6d5f-4b3a-8aba-57c0c6ec75b8.png)

[2021-11-23 14:29] lhotari commented on #12883
I collected some failures from Pulsar CI builds in the last 7 days. There's a lot of failures. Here are the unique stack traces and links to issues.

Flaky-test: org.apache.pulsar.broker.service.persistent.PersistentStreamingDispatcherBlockConsumerTest.testBlockBrokerDispatching
Number of failures: 78

org.apache.pulsar.broker.service.persistent.PersistentStreamingDispatcherBlockConsumerTest is fl

[2021-11-23 14:31] lhotari commented on #12883
@Jason918 good catch! Could it fix the various failures listed in my previous comment?