[2021-04-29 15:30] tomdavidson commented on #572
I thought thats what Pulsar is :D

100% in agreement with @SleeperSmith ectd/consul/zk as plugable options seems consistent with the Pulsar's architecture. This would not only avoid the concern shared about kafka, but let operators choice the the tech they are most competent in .... isn't that the whole concern about zk, that some (including me) lack the ability to operate and fix it where as othe

[2021-04-29 17:32] lhotari commented on #9640
@sijie @freeznet What is the status of the fix? The release date of 2.8.0 is pretty close and this is a blocker.

[2021-04-29 18:18] wmccarley opened #10443 "Discovery Service Lookup does not work with Partitioned Non-Persistent Topics"
**Describe the bug**

Current implementation of the Discovery Service hard-codes the topic domain as persistent:

https://github.com/apache/pulsar/blob/master/pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/BrokerDiscoveryProvider.java#L108

This means the lookup of a partitioned non-persistent topic will return zero instead of >0 partitions. The pulsar client will try t

[2021-04-29 18:38] ta1meng commented on #9571
The patch posted in https://github.com/apache/pulsar/issues/9571#issuecomment-828086647 is a superset of the patch posted in https://github.com/apache/pulsar/issues/10174.

[2021-04-29 19:56] josephlim75 commented on #572
The only reason I'm saying to get away from the external coordination tool is that the additional maintenance, monitoring, management, and infrastructure cost to host the tools.  I don't think Kafka made a mistake in ditching away Zookeeper.  I'm sure the architect team has gone through a deep discussion and thought process about it.
Etcd and Consul themselves internally are using Raft consensus f

[2021-04-29 20:03] lhotari commented on #572
FYI there's https://github.com/apache/pulsar/wiki/PIP-45%3A-Pluggable-metadata-interface which will later give the choice of choosing between multiple options.

[2021-04-29 20:08] josephlim75 commented on #572
@lhotari  is great to hear that Pulsar team is working towards a solution.  That is a good start though.  Having a choice to select is always better than none.  Kudos to you guys.  Really hope that the team from Apache BookKeeper will have the same plan going forward.

[2021-04-29 20:16] lhotari commented on #572
Yes, Bookkeeper already supports a pluggable metadata store.

[2021-04-29 20:59] #10205 closed

[2021-04-29 21:04] stanbog commented on #10434
Thank you.
That indeed was the issue.

[2021-04-29 21:04] #10434 closed

[2021-04-29 23:34] dlg99 opened #10445 "SinkContext should expose Subscription type to the Sink"
**Is your feature request related to a problem? Please describe.**

SinkContext should expose Subscription type to the Sink

See https://github.com/apache/pulsar/pull/9927#discussion_r621441678 for details

[code]

[2021-04-30 04:42] yangou opened #10449 "Topic auto creation won't create partitioned topics if client connects to proxy."
**Describe the bug**

Configured the namespace to enable topic auto-creation,  with partitioned topic type by default.
If your consumer/producer are directly connected to broker, your topic will be created corrected with default number of partitions.
If your consumer/producer are connected through the pulsar proxy, discovery node, then the topic is created as none-partitioned one.

**To Reproduce*

[2021-04-30 06:24] eolivelli opened #10452 "WebSocketHttpServletRequestWrapperTest is failing consistently on branch.2-7"
This test is failing consistently on branch-2.7

[code]

[2021-04-30 06:25] eolivelli commented on #10452
I saw this problem on CI and on a ubuntu machine

[2021-04-30 06:39] eolivelli commented on #10452
The problem is that in branch-2.7 we do not have "memory://xxxx" metadata store.
I am trying to workaround it, probably we will need to start a real ZK service

[2021-04-30 08:03] lhotari commented on #10433
There's a Netty bug that [has been fixed in 4.1.60.Final by this commit](https://github.com/netty/netty/commit/dde82f62). Pulsar 2.7.2 will be released with Netty 4.1.60.Final . Upgrade to Netty 4.1.60.Final in Pulsar was made as part of #10073 .

@dinghram Would you be able to re-test with a build of Pulsar from branch-2.7 since that would include Netty 4.1.60.Final ?
The [instructions for buildi

[2021-04-30 10:17] lhotari commented on #10433
Another NPE bug that is related to the Netty Recycler: #5727 .

[2021-04-30 11:02] lhotari commented on #10433
Since the reported problem could be related to Netty Recycler usage, I'd recommend doing the testing with Netty Recycler completely turned off (this was already proposed in the first comment).

You can find positive reports about disabling the Netty Recycler at https://github.com/netty/netty/pull/5968#issuecomment-399578989 and https://github.com/netty/netty/pull/5968#issuecomment-352823429 . Elas

[2021-04-30 11:14] lhotari commented on #10136
Since there's also a possibility that the reported problem could be related to Netty Recycler usage, I'd recommend doing the testing with Netty Recycler completely turned off.

You can find positive reports about disabling the Netty Recycler at https://github.com/netty/netty/pull/5968#issuecomment-399578989 and https://github.com/netty/netty/pull/5968#issuecomment-352823429 . Elasticsearch [also d

[2021-04-30 11:50] frank-montyne opened #10455 "discrepancy between persistent and non-persistent topics"
**Describe the bug**
When subscribing to a persistent topic Pulsar checks if the topic exists and fails to subscribe if the topic does not exist.
When subscribing to a non-persistent topic Pulsar does not check if the topic exists. The subscription succeeds but when the topic is created later on and messages are published the subscriber does not get them.
A similar problem exists when subscribing

[2021-04-30 12:17] MarvinCai commented on #10390
Hi there, were all consumers created with same priority or they were created in different priorities?
The dispatcher will alway try to dispatch to consumers with highest priority first (0 > 1 > 2 ...), only if highest (0) priority has no available consumers then it'll try to dispatch to next priority (1).

[2021-04-30 12:33] MarvinCai commented on #10443
seems a easy fix, are you interested in working on it?

[2021-04-30 13:07] eolivelli commented on #10438
As discussed at the community meeting I am going to send a PIP

[2021-04-30 13:22] Rockyyost commented on #10390
But another way, why would consumer sit ideal when there are loads of messages in the queue for them?

What settings needs to be looked at?

Some of the consumer were not ideal at the start of a large set of messaging being pushed, then do become ideal. If I load up Pulsar with 4K messages and have 15 consumers, it I've seen it where toward the end, it's only one consumer doing any real work. All

[2021-04-30 15:07] eolivelli commented on #10355
Sure.
I am still fixing a few problems with the release

[2021-04-30 19:59] jdunhamvrtx opened #10456 "[Enhancement] Serverless(.com) Provider"
Hey Folks,

Has anyone considered submitting a provider to the Serverless.com project so it can manage the lifecycle of serverless code  in Pulsar? It would be a great addition.

-J

[2021-05-01 00:11] devinbost opened #10458 "[Docs] Need docs for how to configure function logging"
PR https://github.com/apache/pulsar/pull/10389 enabled configurable function logging.
However, this capability is not documented for users.
We need to update the docs pages to at least inform users that they can use the XML file to configure the function log level.

[2021-05-01 00:55] devinbost commented on #6054
Update on findings:

We discovered that this issue is multi-faceted.

1. The first issue was that the subscription was getting stuck where there were permits > 0, pendingReadOps = 0, and the cursor's read-position was not advancing despite an existing backlog. That issue was mitigated by https://github.com/apache/pulsar/pull/9789 though the root cause of why the cursor wasn't advancing is still un

[2021-05-01 03:28] devinbost opened #10459 "FunctionsStatsGenerator - Failed to collect metrics"
While doing some testing on master (2.8.0-SNAPSHOT), this message started flooding my broker logs as soon as I started the brokers:

[code]

That function was created in a previous version (Pulsar 2.4.0), and the brokers were upgraded to master.

[2021-05-01 04:04] devinbost opened #10460 "Regression since PR #10417 was created (3 days ago) - Sink open produced uncaught exception"
I created a build from master and upgraded my brokers to it, and my function refuses to start due to the following exception. I tried restarting the brokers, but the exception did not go away.
I rolled back the brokers to a version I created 2-3 days ago (immediately after PR #10417 was created since I used the branch `rdhabalia:batch_permit` (https://github.com/rdhabalia/pulsar/tree/batch_permit)

[2021-05-01 04:05] devinbost commented on #10460
FYI @eolivelli @lhotari

[2021-05-01 04:46] devinbost commented on #10459
This exception does not show up in the Pulsar build from 2-3 days ago that was used as mentioned in this issue: https://github.com/apache/pulsar/issues/10460
So, they could be related.

[2021-05-01 04:50] devinbost commented on #10459
I bet that in this issue if functions aren't starting correctly (or are restarting), then `FunctionsStatsGenerator` can't connect or keeps getting disconnected due to the function restarting. So, I think this issue is a symptom of #10460 .

[2021-05-01 05:42] devinbost commented on #10460
I created an even newer build from master (since writing this issue), and to my great surprise, the error was gone....
So, I'm closing this issue.
It disappeared as quickly as it appeared.
If anyone else sees it again, please re-open this issue.

[2021-05-01 05:42] #10460 closed

[2021-05-01 07:41] devinbost opened #10462 "[Functions] Updating function wipes out userConfig"
There's a bug that's existed for a while in Pulsar where a Pulsar Function's userConfig is wiped out if it's not provided when a function is updated.

To reproduce:

1. Create a Pulsar function with a userConfig. For example:

`bin/pulsar-admin functions create --tenant myTenant --namespace myNamespace --name myFunction --inputs persistent://myTenant/myNamespace/input-topic --output persistent://m

[2021-05-01 08:07] devinbost commented on #10462
Feel free to assign this one to me. I think I know what needs to be done to fix it.

[2021-05-01 22:40] #10440 closed

[2021-05-02 00:03] yangou opened #10464 "Shared subscription with Earliest initial position doesn't clear backlog"
**Describe the bug**
There are chances that messages were created before the subscriptions were created.  So we disabled the topic auto-deletion in the namespace. If the messages were created  4 hours ahead of time, my subscription with the initial position works as expected. However if the messages were created more than 6 hours ahead of time, after my consumer establishes the subscription, the b

[2021-05-02 00:06] yangou commented on #10464
Tried all subscription types:
Key_shared, Shared, Failover, Exclusive.

All yield to the same behavior

[2021-05-02 09:19] MarvinCai commented on #10390
For original issue, if consumers are with same priority, they should get messages in round-robin mode when they still have room in their receiver queue, I'll try look into this and reproduce it.
For your new issue,  can you confirm the topic and subscription both exist when it's not dispatching messages? Asking because both subscription and topic could be auto delete if they're inactive for certai

[2021-05-02 09:26] #8091 closed

[2021-05-02 11:23] thedrow commented on #572
That is wonderful! Can we use that in Pulsar?
Do we just need the documentation for it?

[2021-05-02 15:10] alexku7 commented on #8152
Hey
Any updates about this feature?

The one of the critical , in my opinion, If we want to make pulsar secure :)

[2021-05-02 16:00] BewareMyPower commented on #10399
Python client is based on C++ client. Currently C++ client doesn't support multiple URLs, so you can't use `pulsar://ip1:port1,ip2:port2`.

[2021-05-02 22:51] yangou commented on #7903
Would this PR fix this issue also?
https://github.com/apache/pulsar/issues/10449

[2021-05-03 11:30] lhotari commented on #10433
#2993 seems related.

[2021-05-03 12:13] abhilashmandaliya opened #10472 "GenericJsonRecord throws NPE"
**Describe the bug**
If the field is not present, GenericJsonRecord throws NPE

**To Reproduce**
Try to access a field that doesn't exist.

**Expected behavior**
Should return null instead of throwing NPE. There should be a null check at https://github.com/apache/pulsar/blob/a2d39c0cd9d0e87706545304f31b48d1388b5bd4/pulsar-client/src/main/java/org/apache/pulsar/client/impl/schema/generic/GenericJso

[2021-05-03 12:30] eolivelli opened #10473 "PulsarStandaloneBuilder: make it a public API"
PulsarStandaloneBuilder looks like a great API for users to launch an embedded Pulsar service for unit tests.

Currently (2.8.0) there are a few problems that need to be fixed:
- Provide convenience methods to build a Pulsar Client and a Pulsar Admin
- Provide a way to start the server without creating a real file on disk
- Add tests that ensure that PulsarStandaloneBuilder can be called by a Java

[2021-05-03 12:40] Rockyyost commented on #10390
I'm not setting priorities, that I'm aware of. How would I do that? Looking at the Python doc, I don't see a way however, in another doc, I see if it's not set then 0 is the default.

Setting the receiver_queue_size worked once. It was great to see all the consumer working at the same time, getting messages and bring down the backlog size. However, when trying it a second time, it regresses back t

[2021-05-03 16:51] yangou commented on #10464
After carefully reading this documentation again, I realized it's due to my misconfiguration.
https://pulsar.apache.org/docs/en/cookbooks-retention-expiry/#retention-policies

Closing this issue

[2021-05-03 16:51] #10464 closed

[2021-05-04 02:32] #10332 closed

[2021-05-04 06:48] #10429 closed

[2021-05-04 09:01] lhotari commented on #10433
My current assumption of the problem is that a race condition is possible when cache invalidation happens with a certain timing.

The possible race condition:

Code in EntryCacheImpl, asyncReadEntry0 method (code is for branch-2.7):

https://github.com/apache/pulsar/blob/dcaa1d350fec920ef0ba32b4aeecd2e9604d4824/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/EntryCacheImpl.java#L27

[2021-05-04 09:11] eolivelli commented on #10433
this comment "// Value was already destroyed between get() and retain() " is very bad.
catching a Throwable may lead to totally unpredictable behaviour...OutOfMemory? NPE ? IllegalXXXException ?

[2021-05-04 09:29] #10452 closed

[2021-05-04 11:56] lhotari commented on #10433
When looking more at the possible race condition, the previous explained scenario seems to be possible with a slight variation to it.

explanation of a possible race condition:

- one thread reads entries from the cache. the entries get marked for use with the `value.retain();` call (line 115 in RangeCache).
- in the meantime, the **cache entry gets invalidated 2 times in different ways and both i

[2021-05-04 12:21] bry00 opened #10479 "Allow Java client to create consumer with receiverQueueSize(0) when receiving with timeout"
Currently, consumer with `receiverQueueSize == 0` cannot be user when using `receive` with timeout (see sample code below).

## Suggested solution
Remove this constraint (i.e. allow `receiverQueueSize == 0` when using `receive` with timeout) to facilitate usage cases of shared subscriptions with long term processing of the message.

## Sample code
[code]

## Error message

[code]

[2021-05-04 12:33] lhotari commented on #10433
I created a minimal fix without any new tests in #10480 .

[2021-05-04 13:01] eolivelli commented on #10479
I have also faced this problem.

[2021-05-04 14:04] merlimat commented on #10479
The question is: what to do with the message if it comes after the 10 seconds timeout. Using `receiveQueueSize=0` means to  disable the pre-fetching of messages (so that messages don't sit in a queue when there's another consumer available). If we leave the message in the queue after the timeout, it kind of defeats the whole purpose.

[2021-05-04 14:42] eolivelli commented on #10479
when can implement some dummy loop that pools for a message for the given time, every X ms we call "receive"...

the user can do it by himself, but providing it out-of-the-box may be a good idea in order to provide user (developer) experience

[2021-05-04 16:26] dlg99 commented on #10433
@lhotari Let me poke into this theory:

Initial refCnt of the entry in cache == 1

A: value.retain() succeeds: refCnt++ == 2
B: value.retain() throws (other thread released it already somehow): entry is not returned.

A: refCnt-- ==  1
B: entry was not returned, could not be used

"the EntryImpl instance gets returned to the Recycler object pool" does not happen in case A.

Did I miss something th

[2021-05-04 16:40] dlg99 commented on #10433
@lhotari there are other players there:
ReadEntriesCallback, ReadEntryCallback - implementations can call extra .release()

[2021-05-04 17:19] odmarkj commented on #5312
This shouldn't have been closed. The API documentation is incorrect at the very least.

[2021-05-04 17:50] devinbost commented on #5312
@odmarkj Could you please provide some additional information on what is incorrect in the current documentation? If you can do that, I'm sure we can re-open this issue.

[2021-05-04 17:54] odmarkj commented on #5312
Your comments on this thread were pretty verbose in explaining the issue.

https://pulsar.apache.org/functions-rest-api/?version=2.7.1&apiversion=v3#operation/registerFunction

This documentation does not work as described.

It has to be formatted like you mentioned, as two parts with their own content type:

--Boundary_1_624637962_1570145452774
Content-Type: text/plain
Content-Disposition: form-d

[2021-05-04 17:56] devinbost commented on #5312
@wolfstudy Could you please take another look at this?

[2021-05-04 19:01] adithyaakrishna commented on #9730
@Jennifer88huang Can I take this up?

[2021-05-04 20:48] odmarkj commented on #5312
Also, for others coming to this thread, this Python code works:

[code]

[2021-05-04 21:30] pomazanov opened #10481 "org.apache.bookkeeper.mledger.offload.jcloud.provider.JCloudBlobStoreProvider caches aws credentials unnecessarily causing `InvalidToken` error when running on EC2 instance for more than 24 hours"
**Describe the bug**
S3 offloader stops working when running on EC2 instance for more that 24 hrs. The following exception could be found in the logs:
java.util.concurrent.CompletionException: org.jclouds.aws.AWSResponseException: request POST https://pubsub-offload-test.s3.amazonaws.com/3157f608-6d4f-4689-a3e8-00b8066a9881-ledger-41659?uploads HTTP/1.1 failed with code 4
00, error: AWSError{reque

[2021-05-05 05:07] lhotari commented on #10433
@dlg99 yes, you are right that it's not possible in the way that I first explained it. There's a more recent comment about the races in invalidating the entries which could lead to a somewhat similar situation. The referenced PR contains more discussion about the possible explanations.

[2021-05-05 06:47] devinbost commented on #6054
It turns out that the client producer isn't getting ack's from the broker when the subscription has frozen. The ack's just mysteriously stop.

I walked through the code flow all the way from when the producer starts the process of sending a message to when the ack is sent back to the client.

Simplified, that flow looks like this:

Client builds `newSend` command and drops into executor -> `Pulsar

[2021-05-05 08:55] eolivelli commented on #10438
This is the PIP
https://docs.google.com/document/d/1VWi5LHP44V31nP4bCui9d5RXwH6xc_phrUes6tvNguk

[2021-05-05 09:17] tomjohn9 opened #10483 "Reader does not return any message when configured with start with inclusive latest messageId"
**Describe the bug**
Creating reader with messageId pointing to `MessageId.latest` together with `startMessageIdInclusive`,there is no message returned when `readNext` is invoked. Newly coming messages are consumed. When using `MessageId.earliest`, a message is returned - means there are messages in that topic.

Having running local docker image with puslar 2.7.1 and java client 2.7.1

**Steps To

[2021-05-05 14:57] truongninh commented on #10306
@gaoran10, @congbobo184,do you have any idea or plan how to fix this. This is a minor blocker for us while using Pulsar in our system.

It seems to be only issue with messages with no TTL (default settings). Or when we restart PulsarClient with same subscription name.

we would love to contribute to fix this but need a bit more guidance here.

[2021-05-05 20:01] megfigura opened #10488 "Add ability to seek from current position in Reader interface"
**Is your enhancement request related to a problem? Please describe.**
The Reader interface has the ability to seek to an arbitrary timestamp, MessageId, first or last message in a topic, or to read the next message. However, there is no API to seek fowards/backwards from the current position in a topic.

Ours I'm sure is not a common use-case, but you might imagine other situations where this cou

[2021-05-05 23:05] #10472 closed

[2021-05-06 00:31] #10300 closed

[2021-05-06 01:02] congbobo184 commented on #10306
https://github.com/apache/pulsar/pull/10366
https://github.com/apache/pulsar/pull/10323
have been fixed, the you can use master branch to check still have this problem.

[2021-05-06 02:02] truongninh commented on #10306
Lovely, thanks very much @congbobo184 for the quick response.

[2021-05-06 02:18] Anonymitaet commented on #9730
@adithyaakrishna yes, please go ahead, thanks.

[2021-05-06 02:52] bigbang489 commented on #10394
Could anyone take a look at this issue?

[2021-05-06 05:24] Jennifer88huang commented on #9730
@abhilashmandaliya Sure. When you submit your PR, you can ping us in the PR directly. Thank you.

[2021-05-06 07:21] PatrykWitkowski commented on #10483
If you invoke `reader.hasMessageAvailable()` before `reader.readNext()` then it works as expected.
It looks like in that case during searching if there're any messages available a message id for the last message is found and the reader pointer is set for it.
Logs:
[code]

You can use it as a **workaround**, but still this issue should be fixed.

[2021-05-06 10:54] lhotari commented on #10488
There are other ways to solve the use case without having support in Pulsar to seek backwards.

One possibility is to have some component consume the messages from the topic and publish index type of messages in another topic. Since the component could keep state while building the index messages, it can add message ids to previous index messages.

The application can be build to use these applica

[2021-05-06 15:55] maskmaster commented on #8152
Related to the "Additional Consideration" header in #9679

[2021-05-06 16:42] megfigura opened #10495 "msgDropRate metric is not available through non-deprecated Java interface, CLI, or Pulsar Manager"
**Describe the bug**
https://github.com/apache/pulsar/pull/1634 consolidated the Admin API's `persistentTopics()` and `nonPersistentTopics()` to `topics(),` but the non-persistent _msgDropRate_ metric available in `nonPersistentTopics().stats()` is not available in the consolidated `topics().stats()`. Since `nonPersistentTopics()` is deprecated, so there is no supported API for getting _msgDropRat

[2021-05-06 16:49] megfigura commented on #10488
Hi @lhotari , thanks for the suggestion. Yes, this could work, but it would make things a bit more complex of course. I don't think we could put the previous-index information into the same topic as the log data because there are multiple writers. Each writer would only know its own previous index and not the global previous across all writers.

[2021-05-06 18:19] rafficghani commented on #4608
Do we have a version for Spark 3.1.1 and Spark 2.3?

[2021-05-06 18:38] rafficghani commented on #4608
I received the same error,  Probably the Scala and Spark version is not supported - Check what version you are using Not sure when the upgrade will be available  - [Available Connectors](https://dl.bintray.com/streamnative/maven/io/streamnative/connectors/pulsar-spark-connector_2.11/)

[2021-05-06 18:42] rafficghani opened #10496 "Latest Spark Connectors for Pulsar"
Is your feature request related to a problem? Please describe.
I would like to be able to process data from a Spark streaming app using latest Spark version, but there is no pulsar-spark streaming receiver for python that allow me to achieve this.

Describe the solution you'd like
I would like this (https://pulsar.apache.org/docs/v2.0.1-incubating/adaptors/PulsarSpark) feature for python too.

Des

[2021-05-06 20:14] devinbost commented on #6054
For some reason, this line isn't getting called:  https://github.com/devinbost/pulsar/blob/959a04fee8becd78ff655a646a9d0d3402f20c39/[…]t/src/main/java/org/apache/pulsar/client/impl/ProducerImpl.java
`cnx.ctx().writeAndFlush(cmd, cnx.ctx().voidPromise());`

I added more debug lines, and the debug lines just before and just after that method are getting called.
[code]
The reason I think there's a pr

[2021-05-06 20:53] yangou opened #10497 "blocked consumers on partitioned topics with delayed messages and Shared subscription"
**Describe the bug**
Delayed messages won't get delivered on partitioned topics.  Happens with both the built-in command-line consumer and golang consumer.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a partitioned topic, set the namespace policies as below:
[code]
2. Create the subscription manually with Latest position and Shared mode
3. Launch the command line consumer for 1000

[2021-05-06 21:09] #7899 closed

[2021-05-06 21:12] #8894 closed

[2021-05-06 23:33] Anonymitaet commented on #10458
@devinbost thanks for your code work. Could you please help add docs accordingly? Then I can help review, thanks

[2021-05-07 07:16] devinbost commented on #6054
I noticed a pattern when the freeze occurs. After adding some additional debug lines, we get a call to `PersistentTopic.asyncAddEntry()`, and queue an `addEntry` request in `ManagedLedgerImpl`, and then we get 2,000 or more lines like this:

[code]
After that, we get several thousand lines with the ping/pong cycle like this with almost no other broker activity on the affected broker:

[code]

[2021-05-07 13:19] adrianog commented on #10483
Yes and please can startMessageIdInclusive be made available to c++/python as well. It is a glaring omission. #10328

[2021-05-07 13:26] freeznet opened #10503 "[functions worker] allow custom configs to plugin worker service"
**Is your enhancement request related to a problem? Please describe.**

#8560 provide an interface for functions worker service and allows user to implement their own functions worker as a plugin functions worker. It would be great if the user can pass some custom settings to plugin functions worker service through `WorkerConfig`.

**Describe the solution you'd like**
- add `functionsWorkerService

[2021-05-07 14:01] eolivelli opened #10505 "[Functions] Context.getPulsarAdmin() may allow access to data from other tenants"
Recently we introduced on master branch (2.8.0-SNAPSHOT) a new API Context.getPulsarAdmin() (and getPulsarAdmin(clustername)).

With this API the Function has access to the power of PulsarAdmin, but this is not restricted to the same "tenant" that is running the function.

We must limit the scope of this PulsarAdmin in order to be able to access only the resources of the same tenant.

Please note

[2021-05-07 14:19] eolivelli commented on #10505
@freeznet @rdhabalia PTAL

[2021-05-07 15:43] david-streamlio opened #10509 "Pulsar IO Sink errors aren't bubbled up properly for Async Functions"
**Describe the bug**
When an exception is thrown inside the sendOutputMessage method of the JavaInstanceRunnable class, since it is inside a CompletableFuture, it gets "swallowed up" and not properly reported. This can result in a scenario in which the Pulsar Function is continuing to run and process messages, but no output is getting generated.

This behavior was fixed for synchronous functions i

[2021-05-07 19:21] kjaggann opened #10510 "Node js pulsar-client"
Can we get a sample for consumer batch receive for node Js pulsar client and receiving the messages Asynchronously

And also add the node Js examples to the Apache pulsar document

[2021-05-07 22:41] adithyaakrishna commented on #9730
@Jennifer88huang  There was another link too, which I will be fixing in the same PR if it's okay 👀

[2021-05-08 00:17] #10445 closed

[2021-05-08 00:19] #10235 closed

[2021-05-08 00:52] Jennifer88huang commented on #9730
@adithyaakrishna sure, that's great.

[2021-05-08 05:34] #10503 closed

[2021-05-08 10:12] Hanfee opened #10514 "pulsar-io-hdfs connect hdfs error"
[code]

[2021-05-08 10:17] Hanfee commented on #10514
I execute a cmd :
`./bin/pulsar-admin sinks localrun \
--archive ./connectors/pulsar-io-hdfs2-2.7.1.nar \
--classname org.apache.pulsar.io.hdfs2.sink.text.HdfsStringSink \
--name hdfs2 \
--tenant public \
--namespace safe \
--inputs persistent://public/safe/my-topic \
--sink-config-file ./usr/conf/hdfsSinkConfig.yaml \
--parallelism 1`

hdfsSinkConfig.yaml
`configs:
    hdfsConfigResources: "/home

[2021-05-08 12:05] Lanayx opened #10515 "HasMessageAvailable incorrectly returns "true" when there are no available messages"
**Describe the bug**
I want to read messages starting from some timestamp, for that I use `startMessageFromRollbackDuration` configuration. If there are messages available i expect `hasMessageAvailable` to return true, and if no messages are available it should return false. However it still returns true in the latter case.

**To Reproduce**

[code]

**Expected behavior**
HasMessageAvailable shoul

[2021-05-08 16:19] danielorf commented on #6821
@surendra-k Did you ever track down the internal issue?  I'm having what appears to be a similar problem involving an AWS load balancer not being able to talk to the pulsar proxies.

[2021-05-08 19:22] nobound opened #10517 "pulsar functions command: topics-pattern option does not work as intended?"
**Describe the bug**

Try to apply the pulsar function to all the input topic starting with the prefix “test-topic-“.
Based on the description of the option “--topics-pattern” from https://pulsar.apache.org/docs/en/pulsar-admin/, it seems it is possible.
However, it does not work. Is it a functional bug or documentation issue?

**To Reproduce**
Steps to reproduce the behavior:

1. Create simple pu

[2021-05-09 03:42] complone commented on #10479
Can you provide a version of Plusar? I hope to follow up and reproduce this problem

[2021-05-09 04:20] complone opened #10519 "Develop for Java Client Plusar Statistics"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**

I am going to participate in the development of the Java Client Plusar Statistics module. I want to know what is the positioning of the statistical function here, and which indicators of the java clien

[2021-05-09 10:16] linlinnn opened #10522 "Leader election seems elect in endless loop"
**Describe the bug**
TransactionEndToEndTest was broken/flaky (Related to #10457)
Leader election seems elect in endless loop.
I think it can work well when connecting real zk.

**To Reproduce**
run setup in TransactionEndToEndTest

**Expected behavior**
pass test

**Additional context**
[code]

[2021-05-09 15:41] t3link opened #10523 "Key_Shared subscription is not evenly distributed"
I tested `pulsar 2.7.1 docker` on my local machine. Also java client version is `2.7.1`
`1` producer with `4` consumer in a single app container configured below.
The producer produced messages orderly with message key ranged from `test-0` to `test-9`
[code]
When I first run only one app container. The consumer statistics output seems not evenly distributed.
[code]

Then 30 seconds later, I starte

[2021-05-09 19:39] mrkingfoxx commented on #10523
``

[2021-05-09 19:40] mrkingfoxx opened #10524 "> I tested `pulsar 2.7.1 docker` on my local machine. Also java client version is `2.7.1`"
_Originally posted by @mrkingfoxx in https://github.com/apache/pulsar/issues/10523#issuecomment-835871561_

[2021-05-09 21:54] bry00 commented on #10479
2.7.1

[2021-05-09 23:11] complone commented on #10479
Ok i will follow up the problem

[2021-05-10 00:22] codelipenghui commented on #10523
@mrkingfoxx The messages for the Key_Shared subscription are dispatched by the hash of the key, by default we have [0,65535] hash slots and a consumer receives messages from a fixed hash range. So it's can't perform the evenly distribution.  You can try to use the consistent hash for the key_shared subscription

[code]

And you can increase the `ReplicaPoints` for getting a more evenly distributio

[2021-05-10 02:40] tuhaihe commented on #10355
Hi @eolivelli , I have an idea that shall we add a new module named "List of Contributors" at the end of the blog? This module could show the contributors involved in this release. [Flink example](https://flink.apache.org/news/2021/05/03/release-1.13.0.html) can be a reference. How about that?

[2021-05-10 03:17] linlinnn commented on #10522
This issue caused by mockZookeeper, because all brokers share the same mockZookeeper.

[2021-05-10 06:32] xuesongxs opened #10526 "Pulsar adds the function of querying topic messages"
In addition to using Pulsar SQL, Pulsar adds the function of querying topic messages, like rocketmq, it can query messages.

[2021-05-10 08:38] Hanfee commented on #10514
I replace core-site.xml and hdfs-site.xml resolve this problem, but I find a new problem
hdfs2 connectors/pulsar-io-hdfs2-2.7.1.nar  lack  hadoop-lzo-0.4.21U2.jar
[code]

[2021-05-10 13:35] t3link commented on #10523
@codelipenghui Thanks! After have a look at `PersistentStickyKeyDispatcherMultipleConsumers.java`. I think none of the three selector strategies are suitable for my situation. Cause they all use `Murmur3_32Hash` to calculate a slot or range. This would like to work well when the message key set is large. I'll consider spliting my messages to some independent topics, and then each topic can be  sub

[2021-05-11 04:06] chenyg0911 commented on #6899
any roadmap  for the feature can support python or go-lang?

[2021-05-11 06:31] linlinnn opened #10537 "flaky test LoadBalancerTest often failed"
**Describe the bug**
flaky test LoadBalancerTest often failed, see some times in CI, but I can not reproduce it locally

**Expected behavior**
pass test

**Additional context**
[code]

[code]

[2021-05-11 10:59] #9114 closed

[2021-05-11 10:59] #10403 closed

[2021-05-11 16:38] #9640 closed

[2021-05-12 03:18] devinbost commented on #6054
This issue needs to be reopened since that PR was only a partial fix and doesn't address all the failure scenarios.

[2021-05-12 04:02] #10372 closed

[2021-05-12 05:38] abhilashmandaliya opened #10546 "Sink status reports incorrect number of Exceptions"
**Describe the bug**
If I have few exceptions in my Sink, while fetching the status from CLI command
```./pulsar-admin sinks status --name my-pulsar-sink --namespace default --tenant public```

I can see exceptions in `latestSinkExceptions` but the counter `numSinkExceptions` remains 0. I am not sure whether I am misunderstood here or there is some genuine error. Sharing the sample output below.

[2021-05-12 06:25] devinbost commented on #6054
I traced the call chain for where ack's should be getting sent, and I filled in some additional steps:

When `ProducerImpl` sends the messages, it builds `newSend` command instances, which get picked up by `ServerCnx.handleSend(..)`, which goes to `Producer.publishMessage(..)`, then `PersistentTopic.publishMessage(..)`
which calls `asyncAddEntry(headersAndPayload, publishContext)`, which calls `[P

[2021-05-12 06:44] devinbost commented on #6054
@lhotari pointed out that there's a bug in the toString() method for `OpAddEntry` https://github.com/apache/pulsar/blob/72962742aecf953fffabfdcfacbdcbb70a1ebba2/managed-ledger/src/main/java/org/apache/bookkeeper/mledger/impl/OpAddEntry.java#L345

[2021-05-12 07:16] #10523 closed

[2021-05-12 07:21] e-marchand-exensa commented on #8679
Hi @codelipenghui, @sijie , FYI got a new occurrence of this one. There's definitely something wrong with `Consumer.batchReceiveAsync()` (see my last comment on #8307).

[2021-05-12 07:21] eolivelli opened #10547 "Cannot publish OSX artifacts for 2.7.2"
I am using Vagrant 2.2.16 (latest version), installed with home brew on MacOs.

the script that builds the OSX python packages during the release fails
https://github.com/apache/pulsar/wiki/Release-process#macos

last lines are:
[code]

probably the script does not support recent versions of Vagrant ?

[2021-05-12 07:38] devinbost commented on #10505
Looping in @merlimat since this is part of a larger discussion around the security of Context in Functions.

[2021-05-12 07:38] devinbost commented on #6054
That `toString()` bug is addressed by this PR: https://github.com/apache/pulsar/pull/10548

[2021-05-12 07:39] Benoye commented on #9135
+1

[2021-05-12 09:16] #9597 closed

[2021-05-12 09:53] MarvinCai commented on #10421
https://github.com/trinodb/trino/issues/7852

[2021-05-12 11:47] lhotari opened #10555 "Flaky-test: SimpleProducerConsumerTest.testActiveAndInActiveConsumerEntryCacheBehavior"
SimpleProducerConsumerTest is flaky. The testActiveAndInActiveConsumerEntryCacheBehavior test method fails sporadically.

[example failure](https://github.com/lhotari/pulsar/pull/41/checks?check_run_id=2563746715#step:10:1173)

[code]

[2021-05-12 12:32] lhotari commented on #8679
@e-marchand-exensa Thanks for reporting. Would you be able to share what type of Consumer you are using and what settings (f.e. `receiverQueueSize`, `BatchReceivePolicy`,...) are used? This could help spot the issue.

[2021-05-12 12:48] lhotari commented on #8307
@e-marchand-exensa  It's possible that you are encountering a different issue since there are no log messages.
Do the messages get delivered when you restart the client side? If not, then it must be a problem on the broker side. For example, some fixes have been recently made to a condition where the message delivery stops, an issue reported as #6054 .
Would you be able to create a thread dump of

[2021-05-12 13:17] MarvinCai commented on #10488
Hi there, as reader already support `seek` by messageId, maybe we can expose admin API to get message position before/after  N message from given position then we can utilize the seek to position our reader. Currently we already have [ManagedLedgerImpl.getPositionAfterN ](https://github.com/apache/pulsar/blob/99ccd1d7b82ae91a5d5b5414d4cdde49a51b7710/managed-ledger/src/main/java/org/apache/bookkeep

[2021-05-12 13:37] nayoaixgnat opened #10558 "Pulsar manager successfully added the administrator account with password "admin", but the web login password can not be less than 6 digits."
**Describe the bug**
Pulsar manager successfully added the administrator account with password "admin", but the web login password can not be less than 6 digits.
![image](https://user-images.githubusercontent.com/48273201/117984050-111dc100-b36a-11eb-8223-b02a94427b3e.png)
![image](https://user-images.githubusercontent.com/48273201/117984104-1f6bdd00-b36a-11eb-8c50-7e4ad93b9046.png)

[2021-05-12 14:54] e-marchand-exensa commented on #8679
Here is an extract of the `consumer` creation
[code]
with the following `batchPolicy`
[code]
`maxNumMessages` depends on the topic (in [128..4096]).
`timeout` depends on the topic (in [250ms..1000ms]).

[2021-05-12 15:10] e-marchand-exensa commented on #8307
I'm not 100% sure the messages get delivered, but the backlog goes empty after restart, as far as I could see. Still, the future should have completed.

I do have a thread dump before stopping the application.
[wdl_prod_22_thread_dump.log](https://github.com/apache/pulsar/files/6467048/wdl_prod_22_thread_dump.log)

It is a single topic consumer. Here is the extract for the `consumer` creation.
[co

[2021-05-12 15:38] megfigura commented on #10488
Hi @MarvinCai, sounds like that could work. Of course it's not quite as discoverable as a new method on the Reader, but I understand that would be a bigger change as it would need to be implemented across all the clients, right?

[2021-05-12 17:47] #10555 closed

[2021-05-12 19:08] flowchartsman opened #10560 "[Go Functions] support state storage API"
Java and Python pulsar functions have access to the state API. This is very useful, so it's important for the Go SDK to support it too, for feature parity.

[2021-05-12 20:31] yangou commented on #10524
Have you tune the receiver queue size.  When consumer polls the messages from pulsar, if the requested messages is greater than total number of messages, pulsar won't be able to evenly distribute the messages.

Pulsar uses poll model, not push model.  If you want consumers to be evenly distributed, try setting the receiver queue size to 1.

https://pulsar.apache.org/docs/en/cookbooks-message-queue

[2021-05-12 21:56] #6867 closed

[2021-05-13 01:33] xuesongxs opened #10562 "Using Windows docker integration test to display the error of win32.kernel"
**Describe the bug**
![image](https://user-images.githubusercontent.com/54351417/118064471-a3a37c00-b3cd-11eb-9550-10cbc9688827.png)

pulsar: 2.5.2
os: win10 64bit
docker: v20.10.5

[2021-05-13 01:36] devinbost commented on #6054
After adding a lot of debug log lines, this is what **healthy traffic** should look like for the ack flow (starting from when the producer triggers the SEND command to when the SEND_RECEIPT command is sent):

[code]

In the unhealthy case, we don't see that at all. I'm not even seeing activity on that thread. The only activity in the logs that I'm seeing on that broker is this:
[code]

[2021-05-13 01:50] devinbost commented on #6054
In the broker logs, for every (or almost every) case that we're seeing the broker receive the SEND command, it's creating a SEND_RECEIPT:

[code]

[2021-05-13 06:33] eolivelli commented on #6054
@rdhabalia it looks like the issue is still to be kept open, as @devinbost is giving more information

[2021-05-13 09:33] linlinnn opened #10569 "Flaky-test: BacklogQuotaManagerTest.testTriggerBacklogQuotaSizeWithReader"
BacklogQuotaManagerTest is flaky. The testTriggerBacklogQuotaSizeWithReader test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/10564/checks?check_run_id=2573717007)

[code]

[2021-05-13 09:37] linlinnn opened #10570 "Flaky-test: BacklogQuotaManagerTest.testConsumerBacklogEvictionWithAckTimeQuota"
BacklogQuotaManagerTest is flaky. The testConsumerBacklogEvictionWithAckTimeQuota test method fails sporadically.

[code]

[2021-05-13 09:46] zhucanyi opened #10571 "When I want to get the parameter returned by the consumer after sending the message, there is no way to get it."
When I want to get the parameter returned by the consumer after sending the message, there is no way to get it.

**Describe the solution you'd like**
I want to know whether the consumer can transmit such custom parameters in consumption, and query the corresponding parameters through messageId.

**Describe alternatives you've considered**
A clear and concise description of any alternative solution

[2021-05-13 10:26] #10522 closed

[2021-05-13 10:54] FengYujia commented on #9731
same problem to me... any answer yet?

[2021-05-13 12:54] lhotari commented on #6054
@devinbost interesting detail. would it be possible to share a thread dump of the broker in this state?

[2021-05-13 13:26] martin-macrometa opened #10575 "Pulsar c++ subscriber receiving messages retroactively"
**Describe the bug**
Pulsar c++ subscriber receiving messages that were published before creation of the subscriber

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a cluster (e.g. `cluster0`)
2. On `cluster0`, use pulsar c++ client to publish a message on some persistent topic (e.g. `persistent://public/default/example`).
3. Wait some minutes (e.g. 10)
4. Deploy a cluster (e.g. `clust

[2021-05-13 15:44] bdunn313 opened #10577 "CLI tools should have a command for showing the currently running/installed version."
**Is your enhancement request related to a problem? Please describe.**
When using the pulsar suite of CLI tools, there is no way to find the currently installed version of the tool. If one exists, the mechanism is undocumented and doesn't follow CLI conventions of displaying the version with the `-v` short flag or `--version` flag.

**Describe the solution you'd like**
When running any of the puls

[2021-05-13 15:51] linlinnn commented on #10577
Related [PR-9975](https://github.com/apache/pulsar/pull/9975)

[2021-05-13 16:05] bdunn313 opened #10578 "Relative paths do not work for pulsar-admin schema upload --filename flag"
**Describe the bug**

Currently, when using the `pulsar-admin schemas upload` command to upload a schema via a file with the `--filename` flag, an exception is thrown because the file cannot be found.

**To Reproduce**

Steps to reproduce the behavior:
1. Create a test topic
2. Create a json file based off "Example 1" from the [schema management docs](https://pulsar.apache.org/docs/en/schema-manag

[2021-05-13 16:12] bdunn313 commented on #10577
@linlinnn I tried to figure out if this was already tracked as an issue, but I didn't find this one! Should I close this as a duplicate?

[2021-05-13 16:21] linlinnn commented on #10577
@bdunn313 We already have this feature in [PR-9975](https://github.com/apache/pulsar/pull/9975) which will be released on 2.7.2.

[2021-05-13 16:43] bdunn313 opened #10579 "Sinks API endpoint `getSinkInfo` does not properly return a list of topic inputs"
**Describe the bug**
Currently, the [documented response shape](https://pulsar.apache.org/sink-rest-api/?version=2.7.1#operation/getSinkInfo) for `getSinkInfo` lists a node called `inputs` that should show a list of names of topics used as inputs for a given sink. Currently, requesting this endpoint returns a response where `inputs` always returns `null` instead of a list of topics.

**To Reproduc

[2021-05-13 17:49] merlimat commented on #9731
While it's not shipped as part of the official releases (though it would be a good idea to do so), we do have scripts to generate Alpine APK packages and also Python wheel files suitable for Alpine.

You can generate the package with:
 * First create the Alpine build image: `./pulsar-client-cpp/docker/alpine/build-alpine-image.sh`
 * Build the APK: `./pulsar-client-cpp/pkg/apk/docker-build-apk.sh`

[2021-05-13 17:58] bdunn313 commented on #10577
Awesome! Since this is already tracked in a separate issue and PRed, I'll close this one! Thank you for clarifying for me!

[2021-05-13 17:58] #10577 closed

[2021-05-13 22:37] bharanic-dev opened #10582 "Unable to build RPM packages"
**Describe the bug**

I am unable to build the RPM packages on a MAC OS, using the steps described in the link: https://github.com/apache/pulsar/wiki/Release-process#31-build-rpm-and-deb-packages

Basically do:

- mvn install -DskipTests
- pulsar-client-cpp/pkg/rpm/docker-build-rpm.sh

It fails with the following error:
Scanning dependencies of target pulsarStaticWithDeps
/bin/sh: ./build-support/

[2021-05-13 23:36] devinbost commented on #6054
I noticed that in almost every case where the broker is getting a SEND command, it's producing a SEND_RECEIPT command:
[code]
I assumed I'd see a gap between them, but unless something is creating some kind of logical deadlock that's causing it to stop emitting logs in between those commands, it seems like the problem is either before the SEND command or after the SEND_RECEIPT command.

With that

[2021-05-14 00:12] #10570 closed

[2021-05-14 00:12] #10569 closed

[2021-05-14 06:33] eolivelli commented on #10582
thank you very much for reporting this issue, it is very useful, as we are going to cut 2.8.0 soon.

I am adding "blocker" label

[2021-05-14 07:06] daniel-bartz opened #10584 "broker.conf documentation : wrong tokenSecretKey base64 inline description"
On the website the documentation to pass a token in base64 mention to use
`tokenSecretKey=data:;base64,******`

However I could not have it working using (without the semicolon)
`tokenSecretKey=data:base64,******`

I am using the broker version 2.6.3

Context (not sure important) :
- On openjdk 11.0.10
- I also use two authentication mechanisms
`authenticationProviders=org.apache.pulsar.broker.aut

[2021-05-14 07:51] Anonymitaet commented on #10584
Hi @daniel-bartz have you tried `tokenSecretKey=data:;base64,******`? (with the semicolon)

[2021-05-14 08:50] abhilashmandaliya opened #10587 "Support alias for the Schema and Message"
Schema and message should support different names/alias while performing SerDe. Like `ObjectMapper` has  `@JsonAlias` and `@JsonProperty`. Probably we can use the same feature as Pulsar Schemas use `ObjectMapper` internally.

[2021-05-14 09:44] MichealJou opened #10588 "When to support the springboot ecosystem"
When to support the springboot ecosystem

[2021-05-14 10:05] eolivelli commented on #10587
I see your problem.

but we have to find some way in order to abstract from Jackson Mapper because relying on Jackson Mapper will add an hard dependency for Pulsar.

in the case of Avro it is fine to support their annotations because we are supporting Apache Avro.

but in this case Pulsar supports  JSON in general and not Jackson Mapper, that is a specific library.

[2021-05-14 10:08] tuteng commented on #10588
One community example https://github.com/majusko/pulsar-java-spring-boot-starter

[2021-05-14 10:10] lhotari commented on #10588
btw. there's a feature request #10437 which is related to supporting Spring Reactive.

[2021-05-14 11:02] daniel-bartz commented on #10584
@Anonymitaet Yes, I tried it and it did not work for me with the semicolon.

[2021-05-14 12:13] lhotari opened #10589 "Tests that don't belong to any TestNG group aren't run at all in pulsar-broker module"
**Describe the bug**

There are some tests that don't belong to any TestNG group. These tests aren't currently run in CI at all.

**To Reproduce**

org.apache.pulsar.client.impl.MessagePublishThrottlingTest is one of such tests.
There are 77 tests in total that are currently skipped since they don't belong to any group.

**Expected behavior**

All tests (unless marked as ignored/disabled) should g

[2021-05-14 15:01] Joshhw commented on #7830
I'm not sure this is an issue anymore as I think the `authenticateOriginalAuthData` seemed to work out. I didn't even realize this was still open.

[2021-05-14 15:01] #7830 closed

[2021-05-14 18:42] #10589 closed

[2021-05-15 00:55] ta1meng opened #10596 "Python client: broken/missing Avro schema support"
**Describe the bug**
There are many issues in the Python client library regarding Avro schema support:
* The documented [example](https://pulsar.apache.org/docs/fr/client-libraries-python/#complex-types) does not work.
* No support for `default` values.
* No support for the `doc` attribute.
* No support for the `namespace` attribute.
* No support for subrecords (fields of type `record`)
* Ordering

[2021-05-15 00:57] ta1meng commented on #10596
This ticket is a superset of https://github.com/apache/pulsar/issues/9571

[2021-05-15 01:59] #9680 closed

[2021-05-15 02:00] #9301 closed

[2021-05-15 02:01] #9327 closed

[2021-05-15 08:12] lhotari commented on #10524
Can you test if setting `.enableBatching(false)` on the producer makes a difference?
If so, the problem might be fixed by #7266 .

[2021-05-15 10:16] #10546 closed

[2021-05-16 17:48] lhotari commented on #6054
@devinbost  Very interesting that there are some Zookeeper related issues happening at the same time (`org.apache.zookeeper.ClientCnxn$SessionTimeoutException: Client session timed out, have not heard from server in 10302ms for session id 0x1028ed903dd038f`) .

It would be very useful to get a thread dump when this is going on. My assumption is that this type of problems aren't really a Zookeeper

[2021-05-16 21:28] lhotari opened #10602 "[Tests] Broker startup sporadically deadlocks when ZK client thread gets blocked in SimpleLoadManagerImpl.updateRanking"
**Describe the bug**

Broker startup sporadically deadlocks in tests.

Thread dump:
* [main thread](https://jstack.review/?https://gist.github.com/lhotari/06cf98e13380284c993fc5bdf8833aab#tda_1_tg_17)
* [simple load manager thread](https://jstack.review/?https://gist.github.com/lhotari/06cf98e13380284c993fc5bdf8833aab#tda_1_tg_18)
* [ZK thread blocked](https://jstack.review/?https://gist.github.co

[2021-05-17 02:40] gaozhangmin opened #10603 "Cannot produce message to those topics without setting topic policies, when enable preciseTopicPublishRateLimiterEnable"
**Describe the bug**
Topics without setting topic level publishRate and namespace level publishRate(without setting policies or rate  <= 0), cannot produce message to it. when setting:
preciseTopicPublishRateLimiterEnable=true. I found those topics  are throttled by default.

**to reproduce**
enable
preciseTopicPublishRateLimiterEnable=true
systemTopicEnabled=true
topicLevelPoliciesEnabled=true

c

[2021-05-17 03:36] Anonymitaet commented on #10458
Hi @devinbost thanks for your great work!
I'm adding docs for this PR but have some questions documented [here](https://docs.google.com/document/d/1FgeagvB7Nqefe5zxu--wKlEYzr3OoiOp3dWvEGGSRjM/edit), could you please take a look? Many thanks!

[2021-05-17 04:06] #10335 closed

[2021-05-17 05:48] lhotari commented on #10603
several problems are fixed in draft PR #10384 .

[2021-05-17 06:03] gaozhangmin commented on #10603
this issue is caused by:

when topic and namespace publish rate are not set or its value <=0,  updatePublishDispatcher would return PublishRateLimiter.DISABLED_RATE_LIMITER. which caused
`return preciseTopicPublishRateLimitingEnable && !this.topicPublishRateLimiter.tryAcquire(numberMessages, bytes);`always true,

[2021-05-17 07:05] Anonymitaet commented on #10311
@lhotari thanks for your code work. I’ve added the doc accordingly (https://github.com/apache/pulsar/pull/10605). Could you please help review it? Thanks

[2021-05-17 07:29] y25931450s opened #10606 "Is there any incompatibility when upgrading from 2.4 to 2.7 in cluster mode?"
Is there any incompatibility when upgrading from 2.4 to 2.7 in cluster mode?

[2021-05-17 08:56] lhotari commented on #10603
@gaozhangmin Thanks for pointing that out. Yes, it's a clear issue. I'll include the fix to #10384 since it fixes various other preciseTopicPublishRate limiter issues and those fixes are needed for using the feature.

[2021-05-17 09:05] lhotari commented on #10603
I added a fix to #10384

[2021-05-17 09:08] xuesong1cao opened #10608 "pulsar function 莫名其妙挂了"
function 一直正常运行，突然早晨就挂了，报了个Haven't received health check from spawner in a while. Stopping instance

00:05:23.453 [function-timer-thread-7-1] INFO  org.apache.pulsar.functions.runtime.JavaInstanceMain - Haven't received health check from spawner in a while. Stopping instance...
00:05:23.459 [111/222/333-0-0] INFO  org.apache.pulsar.functions.instance.JavaInstanceRunnable - Encountered exception in

[2021-05-17 10:19] linlinnn commented on #10608
You can translate your issue first, and then people in community can understand your proplem well.

[2021-05-17 10:33] leiless opened #10610 "QA: Pulsar multi-topic subscriptions questions"
Hi, Pulsar developers, I have a question about docs of multi-topics subscriptions.

https://pulsar.apache.org/docs/en/concepts-messaging/#multi-topic-subscriptions

My question is, in a multi-topic subscription, does the message order within a specific topic in the same order?
Say, my topics are `persistent://foobar/.*`, so does messages in topic `persistent://foobar/queue1` came in same order?

M

[2021-05-17 10:47] linlinnn commented on #10610
We guarantee the order of message from the same partition(One topic may have multi partitions).

[2021-05-17 11:20] #10610 closed

[2021-05-17 13:08] zzzming opened #10611 "consumer related topic stats only available while consumer or reader are connected"
**Describe the bug**
Consumer and reader related topic stats such as `pulsar_out_bytes_total` and `pulsar_out_messages_total` are only available when consumers and readers are connected. When consumers and readers are disconnected or close(), these stats reset to zero or only calculated based on connected consumers/readers. The stats are rolled up again once the consumer is connected.

Since these

[2021-05-17 14:51] xuesong1cao commented on #10608
thanks for  your  reply , my   pulsar  function was  running before , but  it was closed suddenly yesterday,  other functions are running abnormally , and my pulsar  mq   is   abnormal .   I   do not know   how  to  localizate problem

[2021-05-17 14:51] frankjkelly commented on #9723
@Jennifer88huang I think this can be closed now - what do you think?

[2021-05-17 14:52] frankjkelly commented on #7893
Closing as focus seems to be on 2.6/2.7/2.8 not upgrades from 2.5

[2021-05-17 14:52] #7893 closed

[2021-05-17 16:40] BewareMyPower opened #10615 "Topic admin operations doesn't work well for non-persistent partitioned topics"
**Describe the bug**
See changes of `pulsar-broker/src/test/java/org/apache/pulsar/broker/admin/AdminApiTest.java` in https://github.com/apache/pulsar/pull/10601 for details.

1. `getList` would return 0 even if a partitioned topic was created
2. `deleteSubscription` may throw `NotFoundException`
3. `getSubscriptions` may return an empty list
4. the `subscriptions` field of what `getPartitionedSta

[2021-05-17 19:40] devinbost commented on #6054
@lhotari I've been creating fresh builds on master (or branches of master with extra logging) every couple of days to test changes on this issue.

I was pulling the thread dumps out of my heap dumps using VisualVM. I can use jstack instead if that will give a better picture.

[2021-05-17 19:42] devinbost commented on #6054
Are there JVM parameters that I should or shouldn't be including when starting the brokers?

[2021-05-17 20:05] lhotari commented on #6054
ok, I see. That method is fine, I just thought that it's a thread dump of a process which has a debugger attached to it (that's not so good since debugging can change the execution).
It will be useful to have a 3 thread dumps, a few seconds apart. That will help determine if there are threads that are blocked.

[2021-05-17 20:06] lhotari commented on #6054
I guess the defaults are fine.

[2021-05-17 20:19] devinbost commented on #6054
I have a few settings in `pulsar_env.sh` that might be different:

[code]

[2021-05-17 20:29] devinbost commented on #6054
Here are the broker.conf settings we're using:

[code]

[2021-05-17 20:45] devinbost commented on #6054
I've added a lot of logging in this build: https://github.com/devinbost/pulsar/tree/debug_acks

My log4j2.yaml file looks like this:

[code]

[2021-05-17 23:34] devinbost commented on #6054
@lhotari @rdhabalia I reproduced this issue with batching DISABLED.

[2021-05-17 23:49] Jennifer88huang commented on #9723
@frankjkelly Yes, thank you for your reminder.

[2021-05-17 23:49] #9723 closed

[2021-05-18 02:24] k2la commented on #10510
The feature don't exist in pulsar-client-node(pulsar-client-cpp too).
It seems that we need to modify pulsar-client-cpp used by pulsar-client-node, so I think it will take some time.
However we will consider adding it.

[2021-05-18 02:56] xuesongxs opened #10620 "pulsar doc, sql-deployment-configurations command error"
**Describe the bug**
![image](https://user-images.githubusercontent.com/54351417/118583363-84d72800-b7c7-11eb-8268-9520bde56166.png)

The right command is: bin/pulsar sql-worker start

[2021-05-18 02:57] HarryFQ opened #10621 "Negative acknowledgement number of retries"
**Is your feature request related to a problem? Please describe.**
In actual use, if it still fails after a certain number of retries, put it in a dead letter. At present, if the dead letter queue is not configured, it seems that it will always try again. If a cancel confirmation is configured, it will be put into the dead letter.

**Describe the solution you'd like**
The number of retries can be

[2021-05-18 03:09] Anonymitaet commented on #10355
Done.

[2021-05-18 03:09] #10355 closed

[2021-05-18 03:29] lhotari commented on #10488
Related to #6523

[2021-05-18 04:23] linyuan2018 opened #10623 "function down suddenly"
18:43:58.424 [4a/audit/trans_devlog_function-0] INFO  org.apache.pulsar.functions.instance.JavaInstanceRunnable - Encountered exception in source read:
java.lang.InterruptedException: null
	at java.util.concurrent.locks.AbstractQueuedSynchronizer.acquireInterruptibly(AbstractQueuedSynchronizer.java:1220) ~[?:1.8.0_251]
	at java.util.concurrent.locks.ReentrantLock.lockInterruptibly(ReentrantLock.ja

[2021-05-18 04:24] linyuan2018 commented on #10623
Haven't received health check from spawner in a while. Stopping instance

[2021-05-18 05:44] KingNF opened #10624 "Offload Function has java.lang.NoClassDefFoundError: org/apache/bookkeeper/mledger/offload/filesystem/impl/FileSystemManagedLedgerOffloader"
**Describe the bug**
when i config pulsar to open offload function , i have done the config as guide, but  can not  restart the broker.

**To Reproduce**
1. Download and untar the Pulsar offloaders package to the apache-pulsar dir.
2. then config the conf/broker.properties, like this:
 managedLedgerOffloadDriver=S3
 s3ManagedLedgerOffloadBucket=offload-test-aws
 s3ManagedLedgerOffloadRegion=us-eas

[2021-05-18 07:43] #10620 closed

[2021-05-18 07:44] eolivelli opened #10625 "[Java][Client] Important behaviour changes on empty key from 2.7.x to 2.8.x"
In Pulsar 2.8 when you send a message without a key it is received with a null key.
In Pulsar 2.7  when you send a message without a key it is received with a EMPTY key.

**To Reproduce**

Add this test case to org.apache.pulsar.schema.SchemaTest.java, it passes on 2.8, it fails on 2.7.2

[code]

**Expected behaviour**

It would be better to see a "null" key, as now it is in 2.8,
but 2.7 users tha

[2021-05-18 08:11] codelipenghui commented on #10625
I have added the `release/note-required` label, I agree the correct behavior is return null to the consumer side if the message without a key.

[2021-05-18 13:32] frankjkelly opened #10627 "Documentation: Suggest adding documentation for supported bundle split algorithms"
**Is your enhancement request related to a problem? Please describe.**
Add documentation for how to choose between load balancing algorithms

**Describe the solution you'd like**
* `supportedNamespaceBundleSplitAlgorithms` supports two algorithms for namespace bundle split `range_equally_divide,topic_count_equally_divide`
* Suggest adding some documentation around that to here https://pulsar.apach

[2021-05-18 16:14] tuteng opened #10629 "pulsar-client of PulsarOffsetBackingStore should inherit configuration from worker config"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:

https://github.com/apache/pulsar/blob/master/pulsar-io/kafka-connect-adaptor/src/main/java/org/apache/pulsar/io/kafka/connect/PulsarOffsetBackingStore.java#L137
The pulsar client should consider inheriting the configuration from the worker config or client config, and should

[2021-05-18 18:56] devinbost commented on #6054
Copying contents of email from [Major Performance Issue Uncovered](https://lists.apache.org/thread.html/rf1d885c3acad67fd378b46aaca16190a46d4c0ae01be53491d305281%40%3Cdev.pulsar.apache.org%3E) to keep all information in one place.

[2021-05-18 20:18] fmiguelez opened #10630 "Seek fails with partitioned topics and SubscriptionInitialPosition.Earliest"
**Describe the bug**
When using `seek(timestamp)` on `Consumer` with partitioned topics and `SubscriptionInitialPosition.Earliest` consumer fails to received expected messages. All messages from topic are received plus expected ones (repeated).

This behaviour does not happen with `SubscriptionInitialPosition.Latest`.

**To Reproduce**
Here I copy a test suite to reproduce the problem.

`Seek

**E

[2021-05-18 20:35] devinbost commented on #6054
I dropped some timestamps into `ManagedLedgerImpl.updateLedgersIdsComplete(..)`, and I'm not seeing anything glaring yet. Adding logs like this:

[code]
gave this output (plus many thousand more similar lines):

[code]

[2021-05-18 21:37] devinbost commented on #6054
Rajan pointed out that `updateLedgersIdsComplete` is called from a different thread, and it only happens when there's a ledger rollover, so I'm looking upstream from it to see if I can find where the slowdown is happening.
Without the extra logs in `updateLedgersIdsComplete`, we still see a lot of this on the broker that isn't performing:

[code]

So, `ManagedLedgerImpl` is still a likely suspect.

[2021-05-19 00:08] devinbost opened #10632 "[Transaction] Open MLPendingAckStore managedLedger failed"
I noticed that I'm occasionally getting this when I restart the brokers built from master.
@congbobo184 FYI.

[code]

[2021-05-19 00:56] mrkingfoxx commented on #10524
I dropped the time drastically.

[2021-05-19 01:25] devinbost commented on #6054
@lhotari I reproduced the issue with using this as the Pulsar Function:

[code]
I chained one function (with parallelism of 4) to another function (with parallelism of 4), both using the same class.
The first function in the flow has a `pass-fraction` of "0.3", and the other one is default.

[2021-05-19 02:18] devinbost commented on #6054
To throw another curveball, I reproduced the freeze, and this time the backlog is _completely_ frozen. It's not moving at all. I took a set of heap dumps and thread dumps spaced out several seconds apart from each other, and I captured all processes on the broker involved.

[2021-05-19 02:45] Anonymitaet commented on #10627
@frankjkelly thanks for raising this up. Would you like to add docs accordingly? Then we can help review, thanks

[2021-05-19 04:38] xuesongxs opened #10633 "broker Write of ledger entry to quorum failed"
**Describe the bug**
1.bookie logs:
![image](https://user-images.githubusercontent.com/54351417/118756805-482a3000-b89e-11eb-9d9d-e4845e05c1d2.png)
2.broker logs:
![image](https://user-images.githubusercontent.com/54351417/118757160-1bc2e380-b89f-11eb-96b0-f159c3af6633.png)

pulsar v2.6.2

[2021-05-19 05:46] #10242 closed

[2021-05-19 06:02] Jennifer88huang opened #10634 "Could not start Pulsar due to MacOS system"
**Describe the bug**
I could not start Pulsar with `bin/pulsar standalone` command now. It has sth to do with MacOS system.

**To Reproduce**
Steps to reproduce the behavior:
1. [Download Pulsar binary file and then untar it](http://pulsar.apache.org/docs/en/next/standalone/#install-pulsar-using-binary-release).
2. [Start Pulsar standalone](http://pulsar.apache.org/docs/en/next/standalone/#start-p

[2021-05-19 07:30] #6040 closed

[2021-05-19 07:40] y00273676 opened #10636 "Within EKS to offload a topic to S3 got AuthorizationException"
**Describe the bug**

As deploying Pulsar inside AWS EKS (Kubernetes hosted by AWS), while trying to use the AWS_ACCESS_KEY_ID and AWS_SECRET_ACCESS_KEY to assume the AWS credential in order to offload ledgers into S3 Bucket, I've encountered exceptions like:

[code]

Login the eks pod

[code]

So the AWS_SECRET_ACCESS_KEY and AWS_SECRET_ACCESS_KEY is valid

**To Reproduce**
Steps to reproduce the

[2021-05-19 08:02] #10608 closed

[2021-05-19 08:32] xuesongxs opened #10637 "Automatically create topic. After reinitializing the pulsar cluster, the name of pulsar manager displays an exception"
**Describe the bug**
![image](https://user-images.githubusercontent.com/54351417/118780582-cac2e780-b8be-11eb-8994-2308d0958592.png)
After initializing the pulsar cluster, I start a producer program and specify a topic name. The broker service enables the automatic creation of topics, and the automatically created topics are partitioned. At this time, it is normal to view the name display on the t

[2021-05-19 08:53] Jennifer88huang commented on #10634
When I use the MacOS Big Sur 11.3.1, Pulsar works well.

[2021-05-19 08:53] #10634 closed

[2021-05-19 09:09] Jennifer88huang commented on #10634
You might encounter this error after upgrading your OS
[code]

Solution: Reinstall Xcode command line tools `xcode-select --install`
For details, see https://stackoverflow.com/questions/52522565/git-is-not-working-after-macos-update-xcrun-error-invalid-active-developer-pa

[2021-05-19 09:46] congbobo184 commented on #10632
@devinbost does this topic allowed auto create?

[2021-05-19 11:47] frankjkelly commented on #10627
@Anonymitaet I would love to but I really do not have the expertise to understand how these mechanisms work at a detailed level and to provide some guidance on how to choose between them.

[2021-05-19 12:29] megfigura commented on #10488
BTW, I was able to find a workaround for my use-case. I can use the Admin client to check the internalStats for the topic I'm interested in. This contains information on the ledgers that contain the data for the topic, including the ledgerIds and the top entryId for each ledger. With that information, I can create a MessageId to initialize the Reader's position.

Of course this doesn't work in all

[2021-05-19 13:59] kjaggann commented on #10021
Is this change is in pulsar 2.7.1 version.
however we have upgraded the websocket version in our websocket proxies but still the user is unable to connect the when the encryption is enabled

![image](https://user-images.githubusercontent.com/59704044/118825194-1904c600-b880-11eb-9a30-4c4aa54f140c.png)
![Uploading image (4).png…]()

[2021-05-19 15:47] MishaKut opened #10643 "Error when following getting started with Java libraries"
- Linux Mint 20
- Intellij IDEA 2021.1.1
- PulsarVersion = 2.7.1

I'm trying to get started with Pulsar ([source](https://pulsar.apache.org/docs/en/client-libraries-java/)) in Intellij IDEA, but I'm facing with a problem: I can not create a producer because of client uses port. I suppose that the mistake is very simple and stupid, but can not find the reason).

A producer is created within 30 seco

[2021-05-19 15:51] #7903 closed

[2021-05-19 15:56] devinbost commented on #10632
@congbobo184 Yes, I believe so.

[2021-05-19 16:38] bharanic-dev commented on #10582
@timmyyuan thank you for fixing this.

[2021-05-19 19:33] frankjkelly commented on #5510
In chatting with @merlimat in the latest Office hours he felt this was fixed in 2.7

[2021-05-19 20:26] devinbost commented on #10632
@congbobo184 I double-checked, and these values are not specified in my broker.conf:

[code]

So, they would be taking on default values.

[2021-05-19 23:36] danielorf commented on #6477
@bry00 Any new developments here?  I'm having the same problem on v2.7.1.

[2021-05-20 00:30] #10582 closed

[2021-05-20 02:04] devinbost commented on #6054
To throw a curveball, I was able to reproduce this issue where the subscription is completely frozen while using the function from the code shared above.
![image](https://user-images.githubusercontent.com/7418031/118907664-2c924a00-b8dd-11eb-9ac5-041b8f0856c2.png)
Interestingly, the consumer has negative permits on all four partitions, but the function isn't doing anything.
So, that leads me to be

[2021-05-20 02:06] devinbost commented on #6054
@rdhabalia This happened after I applied the default broker.conf settings (fixing the non-default configs for ManagedLedger and a few other things that we had) and restarted the brokers.

[2021-05-20 06:30] wangshaojie4039 commented on #10615
I want to do this

[2021-05-20 07:11] BewareMyPower commented on #10615
OK, I assigned this issue to you first

[2021-05-20 07:47] #4234 closed

[2021-05-20 09:21] lhotari opened #10652 "[Performance] AuthenticationProviderToken.authenticateToken (JWT token parsing) creates a lot of allocations"
**Is your enhancement request related to a problem? Please describe.**

The performance of `AuthenticationProviderToken.authenticateToken` is bad. It seems that the JWT parsing classes get loaded for each call

This shows up in the allocation flame graph:
![image](https://user-images.githubusercontent.com/66864/118953740-c43b7b00-b965-11eb-80ac-de446335a0f7.png)

**Describe the solution you'd like

[2021-05-20 09:58] lhotari opened #10654 "[Performance] DimensionStats implementation uses inefficient Prometheus client method CollectorRegistry.getSampleValue which is only intended for use in unit tests"
**Is your enhancement request related to a problem? Please describe.**

The Prometheus https://github.com/prometheus/client_java/blob/master/simpleclient_hotspot/src/main/java/io/prometheus/client/hotspot/StandardExports.java class is creating exceptions as part of ordinary execution path. This causes an additional performance overhead.

example in exceptions flamegraph:
![image](https://user-imag

[2021-05-20 16:07] bry00 commented on #6477
Sorry, I have no idea.

[2021-05-21 01:32] Anonymitaet commented on #10627
@frankjkelly we have documented the usage in `broker.conf` as below:

[code]

Does this work for you?

[2021-05-21 01:54] addisonj commented on #10652
I can take this

[2021-05-21 02:22] Anonymitaet commented on #10627
I have a few questions:

- How does each algorithm work with other [split bundle configurations](https://github.com/apache/pulsar/blob/b1ff552333c20b081e914766ba54a17037e3231f/conf/broker.conf#L988)?

- Is each algorithm limited by other split bundle configurations?

[2021-05-21 02:36] Anonymitaet opened #10665 "[Website + Doc] Generate 2.7.3 docs"
The community is preparing to announce the 2.7.2 release (almost done) and Pulsar is on the way to 2.7.3 (and 2.8.0).

Since 2.7.3 docs might be different from 2.7.2, but now we [do not have the 2.7.3 docs](https://github.com/apache/pulsar/tree/master/site2/website/versioned_docs) and can not update the 2.7.3 docs if needed (in fact, now we have a [PR](https://github.com/apache/pulsar/pull/10638)

[2021-05-21 02:38] Anonymitaet commented on #10665
@eolivelli would you like to generate the 2.7.3 docs? Many thanks.

[2021-05-21 02:45] wolfstudy commented on #10560
Hello @flowchartsman, as you said, we need to support state-related functions in Go Function, but this seems to be more difficult because we first need to support the Go client in BookKeeper to allow Go Function to access.

[2021-05-21 02:45] wolfstudy commented on #10560
So when it was supported by Go Function, we temporarily ignored this function.

[2021-05-21 03:00] zymap commented on #10643
Hi @MishaKut, looks like the broker is not started?

[2021-05-21 03:19] zymap commented on #10636
@y00273676 Can you use the same credential to access AWS S3 successfully by AWS CLI? Looks like the secret key missing? You may check if it exists in the AWS

[2021-05-21 03:27] Anonymitaet commented on #10665
@wolfstudy would you like to generate the 2.7.3 docs? Many thanks.

[2021-05-21 03:46] wolfstudy commented on #10665
ok, will process it.

[2021-05-21 07:09] y00273676 commented on #10636
The secret key is not missing, I can upload file to s3 and get key list by AWS CLI

[2021-05-21 07:38] lhotari commented on #10654
There seems to be a design issue in how org.apache.pulsar.broker.stats.DimensionStats is implemented. What happens it that for each call to the getDimensionX methods, all samples are collected for all Prometheus client collectors and filtered.

https://github.com/prometheus/client_java/blob/8fcc7bc03dfbabd0c15776640d5fe52942aa9309/simpleclient/src/main/java/io/prometheus/client/CollectorRegistry.j

[2021-05-21 07:40] lhotari commented on #10654
@addisonj Would you also like to take this one?

[2021-05-21 07:47] lhotari commented on #10654
@rdhabalia Do you have suggestions for fixing this performance issue in broker's DimensionStats implementation? The javadoc of CollectorRegistry.getSampleValue method states: ["This is inefficient, and intended only for use in unittests.".](https://github.com/prometheus/client_java/blob/8fcc7bc03dfbabd0c15776640d5fe52942aa9309/simpleclient/src/main/java/io/prometheus/client/CollectorRegistry.java#

[2021-05-21 09:20] eolivelli commented on #10665
@wolfstudy @Anonymitaet are you planning to cut a new 2.7.3 soon ?

[2021-05-21 09:27] eolivelli commented on #10588
@MichealJou you may be interesting in using Spring JMS

this is an example
https://github.com/datastax/pulsar-jms/tree/master/examples/spring

[2021-05-21 09:58] frankjkelly commented on #10627
Thanks @Anonymitaet exactly - it gets pretty interesting to understand how all those parameters will interact.
I'm particularly interested in how each algorithm behaves when we add brokers (we're hoping to implement Kubernetes autoscaling)- how quickly would those brokers be discovered and how  quickly some load would be redirected to those new brokers.
In my limited experience with `range_equally

[2021-05-21 09:59] #10652 closed

[2021-05-21 10:31] Anonymitaet commented on #10665
@eolivelli no, we just got [doc requirement](https://github.com/apache/pulsar/pull/10638) for 2.7.3 and want to process it.

[2021-05-21 11:01] Jason918 opened #10669 "$PULSAR_GC_LOG not working when start broker with bin/pulsar"
**Describe the bug**
$PULSAR_GC_LOG missing when start broker with cmd `bin/puslar start broker`
Java GC log is quite useful in production environment, IMHO, It's better take affects by default.

**To Reproduce**
Steps to reproduce the behavior:
1. Deploy a broker following the instrustions here: https://pulsar.apache.org/docs/en/deploy-bare-metal/
2. Run this command `ps aux | grep PulsarBrokerSt

[2021-05-21 12:39] #8247 closed

[2021-05-21 12:48] #10161 closed

[2021-05-21 12:52] zymap commented on #10636
How did you deploy pulsar to EKS? Do you have any configuration files? Do you deploy the cluster with helm charts?

[2021-05-21 13:15] #10311 closed

[2021-05-21 13:29] #10611 closed

[2021-05-21 13:33] codelipenghui commented on #2664
Close this issue, #8633 is tracking the remaining tasks.

[2021-05-21 13:33] #2664 closed

[2021-05-21 13:57] codelipenghui commented on #7378
@Jennifer88huang Seems we don't need to add a document for #7266 Since the PR does not introduce any new features and configurations, so I will close it first, feel free to reopen it if needed.

[2021-05-21 13:57] #7378 closed

[2021-05-21 14:31] megfigura opened #10671 "Race condition with Reader.seek()"
**Describe the bug**
Consuming a message with the Reader interface immediately after seeking can consume the wrong message. This only seems to happen in a pretty specific situation (details below). Adding a short pause fixes it, so I wonder if it _could_ happen in other situations.

**To Reproduce**
IntelliJ / Maven project is attached: [PulsarSeek.zip](https://github.com/apache/pulsar/files/65230

[2021-05-21 15:48] flowchartsman commented on #10560
So you're saying this needs a dependent issue for pulsar-client-go to support bookeeper interaction? If so, I can file one.

[2021-05-21 19:29] anvinjain opened #10673 "update-partitioned-topic fails for newly created geo-replicated topic"
**Describe the bug**
If a partitioned topic is created from one cluster, C1 where namespace cluster-list=(C1,C2), then update-partitioned-topic fails from remote cluster(C2) unless produce/consume has been done at least once from the remote cluster(C2).

**To Reproduce**
Steps to reproduce the behavior:
*How to reproduce*

1. Have a namespace with replication set in two regions (clusters), R1 and

[2021-05-21 19:30] anvinjain commented on #10673
**Full stacktrace in broker logs**
[code]

[2021-05-21 22:51] rdhabalia commented on #10654
Yes, `CollectorRegistry::getSampleValue()` can be inefficient and we can improve it but just wanted to understand performance impact. It is used to generate Prometheus stats and that is called at every 60 secs by dedicated [Pulsar-stats thread](https://github.com/apache/pulsar/blob/master/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/PulsarStats.java#L183) so, it should not impact c

[2021-05-22 00:57] #6748 closed

[2021-05-22 03:44] urfreespace opened #10676 "Node version compatibility error"
Node version compatibility error：
https://github.com/apache/pulsar/runs/2643679216?check_suite_focus=true

[2021-05-22 04:32] rudy2steiner commented on #7903
yes

[2021-05-22 05:42] #10676 closed

[2021-05-22 05:55] #9204 closed

[2021-05-22 14:44] #9730 closed

[2021-05-22 14:50] codelipenghui commented on #8703
@fretiq Key_Shared subscription can't work for delayed messages because the Key_Shared subscription need to guarantee the order of message distribution, but the delayed messages will break the Key_Shared semantics.

[2021-05-22 14:53] codelipenghui commented on #9174
Close this issue since #9779 already merged.

[2021-05-22 14:53] #9174 closed

[2021-05-22 14:58] codelipenghui commented on #10438
https://github.com/apache/pulsar/pull/10476 is merged, so close this issue.

[2021-05-22 14:58] #10438 closed

[2021-05-23 02:24] #8599 closed

[2021-05-23 02:24] #4777 closed

[2021-05-23 02:25] #10086 closed

[2021-05-23 18:50] lhotari commented on #10671
@megfigura  Thanks for the clear issue report. Good work!

These issues / comments seem to be related to the problem that has been reported in this issue:
* https://github.com/apache/pulsar/pull/5278#issuecomment-691994440
* #7796

[2021-05-24 00:12] Jennifer88huang commented on #7378
@codelipenghui sure,  thank you.

[2021-05-24 04:24] congbobo184 commented on #10632
@devinbost  do you check the namespace or topic policy?  open pendingAckStore manageLedger use topic manageLedger config, the default config is `true`. Print the log the config `createIfMissing` must be `false`.

[2021-05-24 10:32] MishaKut commented on #10643
HI! Looks like you are right. This the only information I have...
I tried to initiate time out after an initialization of broker to give some time to start or throw more specific error. But nothing changed - initialization of producer still fails. But I do not get any errors due to broker...

code example with timeout:

`

           client = PulsarClient.builder().serviceUrl(localClusterUrl)

[2021-05-24 10:33] wuzhanpeng opened #10687 "Cannot completely delete partitioned-topic when frequently and repeatedly created and deleted a topic"
**Describe the bug**
The admin command can not completely delete partitioned-topic when I repeat this process (created a specific topic and deleted it) frequently and constantly. The partitioned-topic is gone but its partition (X-partition-0) still existed.

**To Reproduce**
My reproduced test:
[code]

Sometimes it works fine, and sometimes I get error output like:
[code]

**Expected behavior**
Ab

[2021-05-24 13:30] kirill-kosenko opened #10688 "[Transactions] Errors during shutting down the pulsar standalone"
Hello

I noticed errors in log during shutting down the pulsar standalone
It's reproduced on master if **standalone.conf** has `transactionCoordinatorEnabled=true` (seems to be all alright if set to `false`)

[code]

Once pulsar standalone is restarted:

[code]
After this exception falls - pulsar standalone is not available anymore.

Kindly take a look once you find a spare minute

[2021-05-24 14:25] nobound commented on #10517
Any update on this?

[2021-05-24 22:46] oldthreefeng opened #10692 "pulsar-bookie and pulsar-broker CrashLoopBackOff in kubernetes"
**Describe the bug**
A clear and concise description of what the bug is.
pulsar 2.7.1
[code]
bookie

[code]

broker

[code]

so is there anyone who can help me out?

**To Reproduce**
Steps to reproduce the behavior:

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please

[2021-05-24 23:55] adrianog commented on #5554
wish I could upvote this 100

[2021-05-24 23:56] zymap commented on #10692
You might need to clean up the `pvc` and `pv`.

[2021-05-25 00:53] Anonymitaet commented on #10458
Done in https://github.com/apache/pulsar/pull/10617

[2021-05-25 00:53] #10458 closed

[2021-05-25 01:21] sijie opened #10693 "Support config remote clusters' TLS settings for geo-replicator"
This issue is similar to #10242

**Is your feature request related to a problem? Please describe.**
Currently the pulsarClient for geo-replicator using the local cluster's TLS configuration in broker.conf. If the remote cluster is using a different TLS certificate, the geo-replicator will fail to connect.

**Describe the solution you'd like**
Add TLS parameters for each remote cluster to `ClusterD

[2021-05-25 02:26] ta1meng opened #10694 "pulsar-admin should print better error message when schema is invalid"
**Is your enhancement request related to a problem? Please describe.**
Currently, pulsar-admin will sometimes output useful error messages and sometimes not. When it outputs a 500 Internal Server Error with no server-side error logged, Pulsar users often cannot figure out the reason and come to Slack for help.

There were 3 users who asked for help recently on Slack:
* https://apache-pulsar.slack.

[2021-05-25 02:48] oldthreefeng commented on #10692
@zymap  but why this happed ?   its not a good idea to clean pvc when the pod CrashLoopBackOff.
Its just runing three weeks.

[2021-05-25 03:44] oldthreefeng commented on #10692
fix by recreate whole cluster
[code]

[2021-05-25 06:08] lhotari commented on #10654
I haven't measured the performance impact for an end-to-end scenario. This problem shows up when profling exceptions. I don't think this is a major performance issue for Pulsar users.

[2021-05-25 07:30] linlinnn commented on #10693
@sijie Should we use unify configuration from remote cluster for geo-replicator, and remove the former logic that using the local cluster's configuration? or there are other reasons for keeping former logic.

[2021-05-25 07:47] eolivelli commented on #9645
@rdhabalia @merlimat
I did not make progress on this work, as I am busy with other priorities.

I can move forward but not in time for 2.8 release

[2021-05-25 08:59] #9791 closed

[2021-05-25 12:53] eolivelli opened #10698 "[Tests] PrometheusMetricsTest testAuthMetrics is flaky on branch-2.7"
This test fails when it is executed with other tests, for example on CI:

[code]

[2021-05-25 12:53] eolivelli commented on #10698
I will send a patch shortly

[2021-05-25 15:34] vanmeete opened #10702 "[Pulsar IO] In Sink connector, record.getSchema(); returns null when processing from partitioned topic."
**Describe the bug**
The record.getSchema(); returns null in case the sink connector is consuming from a partitioned topic. The correct schema is returned for non-partitioned topics.

**To Reproduce**
Steps to reproduce the behavior:
1. Produce some messages using AvroSchema.of(SomeClass.class) to a partitioned topic
2. In the write method of the sink observe the record.getSchema()
3.

**Expected

[2021-05-25 15:37] eolivelli commented on #10702
can you try on current 2.8.0-SNAPSHOT version ?
we did lot of changes about the Schema API and this problem should not be present

[2021-05-25 15:49] vanmeete commented on #10702
Yes using Sink<GenericRecord>, I will try 2.8.0-SNAPSHOT tomorrow.

[2021-05-25 15:58] codelipenghui opened #10703 "Managed ledger can't been initialized"
**Describe the bug**
All the broker can't complete the managed ledger creation, the managed ledger will in the `None` state for 1min and after 1min to reconnect to the topic, the managed ledger been removed due to `too long pending time`

Here is the logs:

[code]

This will affect all topics of the broker and all the 3 brokers are in this state.
I have make a thread dump and heap dump:

[heap.hpr

[2021-05-25 18:39] #10109 closed

[2021-05-25 18:41] #10269 closed

[2021-05-25 23:47] zymap commented on #10692
The reason that `Invalid cookie` looks like you clean up the data directory but not reinitialize the cluster

[2021-05-26 00:49] xuesongxs opened #10705 "Gets the exact number of message backlog for pulsar topic subscription"
**Is your feature request related to a problem? Please describe.**
The producer's asynchronous sending interface is batch sending, and a backlog is a batch of messages. To get the number of messages in the subscription backlog, you can only view the number of batches in the backlog, but not the exact number of messages. Expect to support getting the exact number of messages backlog.

[2021-05-26 03:08] oldthreefeng commented on #10692
@zymap  so re run the `pulsar-bookie-init` job can fix the problem?

BTW, in our test env,  it Crash in the middle night , no one clean up the data directory.

[2021-05-26 03:42] #10703 closed

[2021-05-26 06:40] #10665 closed

[2021-05-26 08:37] vanmeete commented on #10702
The issue does not occur in 2.8.0-SNAPSHOT

[2021-05-26 12:57] zymap commented on #10692
Yes. It should fix the issue.

[2021-05-26 15:57] MarvinCai commented on #10621
If retry is enabled a default QLD will be created even if one is not configured.
Retry count can be set with
[code]
If not set default max retry count is 16.

[2021-05-26 17:26] devinbost commented on #6054
Many thanks to @lhotari for figuring out how to reproduce this bug.

[2021-05-26 17:30] MichalKoziorowski-TomTom opened #10717 "[Java][Client] 2.7.2 regression. MultiTopicsConsumer org.apache.pulsar.client.api.PulsarClientException$NotSupportedException: not support shrink topic partitions"
**Describe the bug**
After upgrading java client to 2.7.2 version we started to notice following logs:
[code]

This happens couple of minutes of not pushing new messages to listened topic.
Another consequence of that are exceptions when trying to ack message that was in progress coming from that consumer:
[code]

**Expected behavior**
There should be no errors.

**Additional context**
After upgrad

[2021-05-26 17:36] MichalKoziorowski-TomTom commented on #10717
I guess that issue can be somehow related to that change: https://github.com/apache/pulsar/pull/9660

[2021-05-26 18:20] Alxander64 opened #10718 "Broker Settings Under Wrong Section"
**Describe the bug**

In the section of broker.conf titled [Replication](https://github.com/apache/pulsar/blob/master/conf/broker.conf#L1080), there are a few settings that seem out of place.

Specifically, [defaultRetentionTimeInMinutes](https://github.com/apache/pulsar/blob/master/conf/broker.conf#L1101), [defaultRetentionSizeInMB](https://github.com/apache/pulsar/blob/master/conf/broker.conf#L1

[2021-05-26 18:21] frankjkelly commented on #8922
Any chance this is related to https://github.com/apache/pulsar/issues/7927 - at least insofar as the reconnections bit?

[2021-05-26 21:40] hanguyen6 opened #10719 "k8s: connect to proxy URL return HTTP 502 503 error after broker restarts"
**Describe the bug**

We connect to Pulsar brokers via proxy URL and observe that after Pulsar brokers restart (due to Out-of-Memory) requests for Pulsar schemas return "503 Service Unavailable " or "502 Bad Gateway", sometimes 404 Not found

org.apache.pulsar.shade.javax.ws.rs.NotFoundException: HTTP 404 Not Found
org.apache.pulsar.shade.javax.ws.rs.ServiceUnavailableException: HTTP 503 Service U

[2021-05-26 21:41] david-streamlio opened #10720 "pulsar-admin functions update drops user-configs"
**Describe the bug**
When using the /pulsar-admin functions update command to update an existing function instance. If you only provide the `--parallelism` flag, then the previously provided user-configs settings get deleted.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a Pulsar Function from the CLI providing a value for the `--user-config` switch, e.g. `bin/pulsar-admin functions

[2021-05-26 23:00] zbentley opened #10721 "(2.7.1) Python client blocks forever in "create_producer" during a broker failure, even if "operation_timeout_seconds" is set"
**Describe the bug**

During some chaos testing of a Pulsar cluster I observed a case in which the Python client does not honor the "operation_timeout_secs" timeout field and blocks forever while talking to a failed broker.

Specifically, the "create_producer" RPC hangs indefinitely.

**To Reproduce**

I have a pulsar cluster (2.7.1) configured via the stock Helm chart on EKS (5 brokers x 5 bookie

[2021-05-26 23:03] zbentley commented on #10721
After SIGSTOPing brokers, I do see them disappear from the API listing and the manager UI for my cluster. That leads me to believe the problem lies in the client--either my code is misusing the pulsar client library, or the client library isn't re-discovering or timing out when it should.

`lsof` on my clients indicates some TCP sockets on 6650 to SIGSTOP'd brokers, and some to the healthy/remaini

[2021-05-27 00:45] sijie commented on #10693
@linlinnn We need to keep the former logic for backward compatibility.

[2021-05-27 02:37] BewareMyPower commented on #10721
`create_producer` will first connect to the URL's broker for topic lookup. Currently C++/Python client only supports a single broker's advertised address, which broker did you connect to in your 5 brokers? And was this broker still available? If the broker for topic lookup was not available, the client wouldn't switch to another broker and the `ConnectError` should be reported for `create_producer

[2021-05-27 03:41] BewareMyPower commented on #10721
I just found that the TCP connection timeout is not included in operation timeout. I'm not sure what's your state of connection between the blocked client and its associated broker.

[2021-05-27 04:09] BewareMyPower commented on #10694
@congbobo184 Could you take a look at this issue? I think it's caused by incorrect combinations of `thenApply` and `exceptionally` as we  have discussed before. I found there're a lot of similar problems in pulsar-broker's admin package before.

[2021-05-27 08:00] xuesongxs opened #10724 "[question]，An error occurred while testing function mesh"
![image](https://user-images.githubusercontent.com/54351417/119788222-88c02400-bf04-11eb-8d2a-d9db627af630.png)

[2021-05-27 08:26] Anonymitaet commented on #9410
Hi @vkvm  any progress on the docs? I would like to help review, thanks

[2021-05-27 08:43] wolfstudy commented on #10724
Hello @xuesongxs , maybe you can send the issue to [function-mesh](https://github.com/streamnative/function-mesh) repo, This way your questions can be responded to faster. Currently, this repo does not contain this.

[2021-05-27 09:40] wolfstudy commented on #10720
Yes, this does seem to be a bug, and I successfully reproduced it here.

![image](https://user-images.githubusercontent.com/20965307/119804093-9d0b1d80-bf12-11eb-8149-e15d40d437e4.png)

[2021-05-27 10:38] dockerzhang opened #10727 "Could not find artifact org.apache.pulsar:pulsar-presto-distribution:tar.gz:newVersion"
**Describe the bug**
change the version of pulsar using `mvn` command,  and it will get `Could not find artifact org.apache.pulsar:pulsar-presto-distribution:tar.gz:newVersion` exception when build.

**To Reproduce**
Steps to reproduce the behavior:
1. `mvn versions:set -DnewVersion=x.x.x.x`
2. `mvn clean install -DskipTests`
2. See error

**Expected behavior**
build successfully.

**Screenshots**

[2021-05-27 11:04] martin-g commented on #6093
It seems the problem is solved because protoc is upgraded to 3.11.4 and it has ARM64 binary
https://github.com/apache/pulsar/blob/e67802420d23a9405c6efe4e35c497d19e471109/pom.xml#L132-L133

[2021-05-27 14:40] hanguyen6 commented on #10719
Stack trace
`Caused by: org.apache.pulsar.client.admin.PulsarAdminException: HTTP 503 Service Unavailable
        at org.apache.pulsar.client.admin.internal.BaseResource.getApiException(BaseResource.java:200)
        at org.apache.pulsar.client.admin.internal.TopicsImpl$21.failed(TopicsImpl.java:1520)
        at org.apache.pulsar.shade.org.glassfish.jersey.client.JerseyInvocation$1.failed(JerseyIn

[2021-05-27 19:56] zbentley commented on #10721
Since I'm running on Kubernetes, a random broker would have been selected for topic lookup. I suspect that my blocked clients were connected to an unavailable broker, and that this:

Is not happening as it should.

I will collect logs from a stuck producer and post here shortly.

[2021-05-27 21:29] adrianog opened #10730 "Backlog quota to be based on number of messages"
**Is your enhancement request related to a problem? Please describe.**
Base Backlog quota on the number of messages, not size or time.

**Describe the solution you'd like**
Have the ability to pass a number_of_messages parameter to set-backlog-quota

**Describe alternatives you've considered**
Using time- or size-based quotas - feels hackish.

See #10268 and #9680.

[2021-05-28 07:33] marksilcox opened #10733 "Pulsar 2.6.3 JWT enabled - /admin/v2/non-persistent/public/default 401 error"
Having further trouble with enabling JWT on v2.6.3. I've configured the broker and proxy as per the docs. I can connect and send messages from a Java client. However connecting through pulsar-manager fails when viewing topics or namespaces. The logs for pulsar-manager show a HTTP 500 when getting topics. If I try via the REST Api it works for `persistent` but fails with a 401 for `non-persistent`.

[2021-05-28 08:05] marcoguest opened #10734 "Pulsar C++ key-shared subscriber runs out of memory for non-persistent topic"
**Describe the bug**
If a Pulsar C++ consumer subscribes into key-shared mode to a non-persistent topic and it is too slow to dequeue the incoming messagges, the length limit for the receiving queue seems not to work and the consumer process memory grows unbounded, till the consumer crashes.
The problem is not present for non persistent topics with Exclusive subscriber mode.
The problem is not pre

[2021-05-28 08:39] lhotari commented on #10733
Pulsar JWT token auth in 2.6.3 contains a security vulnerability, [CVE-2021-22160](https://lists.apache.org/thread.html/r347650d15a3e9c5f58b83e918b6ad6dedc2a63d3eb63da8e6a7be87e%40%3Cdev.pulsar.apache.org%3E). Please upgrade to Pulsar 2.7.2 .  The release process for 2.6.4 is in progress.

Regarding the configuration, it seems that the syntax for `brokerClientAuthenticationParameters` might not be

[2021-05-28 09:00] Hanfee opened #10736 "Consume pulsar by WindowFunction occurs a error"
16:58:50.803 [pulsar-client-io-1-2] WARN  org.apache.pulsar.client.impl.ClientCnx - [id: 0x4a31a8e7, L:/127.0.0.1:26060 - R:localhost/127.0.0.1:6650] Received error from server: Topic does not have schema to check
16:58:50.806 [pulsar-client-io-1-2] WARN  org.apache.pulsar.client.impl.ConsumerImpl - [persistent://public/default/cloudsafeline_statistics_edr-partition-0][public/default/EDRConverterF

[2021-05-28 09:16] xuesongxs opened #10737 "[question]Detailed instructions of run pulsar proxy behind HAProxy"
#### Expected behavior
1.How to configure haproxy?
2.Does pulsar broker need to enable the haproxyprotocolenabled flag?
3.Will haproxy exceed maxmessage size = 5242880?

[2021-05-28 12:18] lhotari opened #10738 "Direct memory leaks in ledger rollover or when Bookkeeper is overloaded"
**Describe the bug**

Broker (tested with 2.6.3, 2.7.2 and master branch) runs out of direct memory under certain conditions.
The Netty leak detector shows leaks (leak detector enabled with `-Dpulsar.allocator.leak_detection=Advanced -Dio.netty.leakDetectionLevel=advanced`).

[code]

![image](https://user-images.githubusercontent.com/66864/119982448-85da3780-bfc7-11eb-805e-64acba567d32.png)

**To

[2021-05-28 12:57] marksilcox commented on #10733
Removing the "token:" prefix or using file did not work.

I enabled debug logging and it appears that not all the requests that are called as part of `bin/pulsar-admin topics list public/default` include the `Authorization` header. I do see the header in the logs when I call `bin/pulsar-admin namespaces list public`

[2021-05-28 13:25] lhotari commented on #10738
example of some Netty leak logs https://gist.github.com/lhotari/21bb7dcdd06dfa8369576ac8c837319e
created with command `kubectl -n pulsar-testenv logs -f pod/pulsar-testenv-deployment-broker-0 |egrep -A 200 'LEAK|OOM' |tee leaklog.txt`

[2021-05-28 13:31] lhotari commented on #6054
I have reported a separate issue about a direct memory leak, it's #10738 . It includes a full repro case with a helm deployment that can be used to reproduce the issue in minikube (requires sufficient RAM) (or any k8s environment).

[2021-05-28 13:55] marksilcox commented on #10733
Solved it - there was a second `brokerClientAuthenticationPlugin` in the `broker.conf` under the bookie auth section, renamed to `bookkeeperClientAuthenticationPlugin` and everything is fine! No idea how it got changes in our ansible template file.
Thanks for you help.

[2021-05-28 13:55] #10733 closed

[2021-05-28 14:00] eolivelli commented on #10738
So basically when we do ledger rollover we are not releasing something, correct?

[2021-05-28 14:29] lhotari commented on #10738
@eolivelli perhaps. the repro case does a lot of ledger rollovers since `managedLedgerMaxEntriesPerLedger=10` & `managedLedgerMinLedgerRolloverTimeMinutes=0`.

[2021-05-28 16:46] merlimat commented on #10738
Also, is it also happening on master?

[2021-05-28 17:07] lhotari commented on #10738
thanks for the tip. I added this to the repro case in https://github.com/lhotari/pulsar-issue-6054-repro/commit/7a55cd4dd3bc027ea0af730b6096280a9d2f8121 . I'll soon do some test runs with this setting.

[2021-05-28 17:11] lhotari commented on #10738
Yes the behavior can be seen on master branch.

[2021-05-28 17:35] lhotari commented on #10738
Here are some leak logs from master branch:
https://gist.github.com/lhotari/eac5370c2a436a6da9f5ac33ba1a82ba

The logs got a bit truncated since I was capturing the logs with `while true; do kubectl -n pulsar-testenv logs -f pod/pulsar-testenv-deployment-broker-0 |egrep -A 200 'LEAK|OOM|ERROR' |tee leak_logs_`date +%s`.txt; sleep 10; done`
200 lines isn't sufficient. I'll do some runs where I capt

[2021-05-28 17:50] lhotari commented on #10738
@merlimat There's a 3 LEAK logs with `-Dio.netty.leakDetection.targetRecords=30` setting in this file:
https://gist.github.com/lhotari/956f5732d4f4fd96750bd4e679e312ee

The log is from a run with master branch revision ca4000544 .

The full log file for the broker instance is
https://gist.github.com/lhotari/3d669e4d443c39858cb4426932e19b86 ([zipped](https://gist.github.com/lhotari/3d669e4d443c3985

[2021-05-29 04:06] BewareMyPower commented on #10721
First I noticed there's a line in your log:

[code]

It could only be caused by operation timeout so there's nothing wrong with `operation_timeout_seconds`.

I'm afraid it's not the cause because if the broker is not available, the connection could not be established, right? No topic lookup request could be sent if the connection was not established. In this case the error logs should be

[code]

[2021-05-31 03:59] lixiaopeng11 opened #10747 "[question]，python client how to configure connectionTimeoutMs"
python client how to configure  connectionTimeoutMs

[2021-05-31 09:34] danielsinai opened #10749 "Cant update topic policies more than once"
**Describe the bug**
Cannot update topic policies more than once

It seems that broker failed to write to the __change_events internal topic. (From error logs)

**To Reproduce**
Steps to reproduce the behavior:
1. Create a pulsar multi cluster with topic policies enabled
2. Create tenant, namespace, topic
3. Update topic publish rate
4. Update it again
5. Wait for internal server error 500 to the

[2021-05-31 09:44] sourcelliu opened #10750 "Consumer cannot consume messages when key_shared mode and subscriptionKeySharedUseConsistentHashing"
**Describe the bug**
Key_shared mode is configured as ConsistentHashingStickyKeyConsumerSelector, When I use three consumers with the same consumerName, if one consumer is closed, the other two consumers will no longer be able to consume messages.

**To Reproduce**
Steps to reproduce the behavior:
1. config the 'conf/standalone.conf'
[code]
2. ./bin/pulsar standalone
3. Start 3 consumers with the

[2021-05-31 12:49] lhotari commented on #10738
In the repro case, I have been using the maximum direct memory of 1GB. I ran an experiment with 8GB (`PULSAR_MEM: "-Xms128m -Xmx1G -XX:MaxDirectMemorySize=8G"`) and it gets all consumed very quickly when running the repro case.

![image](https://user-images.githubusercontent.com/66864/120195682-bae4c500-c227-11eb-817a-011d7351f2a2.png)

[2021-05-31 14:21] gaozhangmin commented on #9488
please assign to me, if no one working on this

[2021-05-31 14:49] lhotari commented on #10738
I created a PR #10755 that fixes the leaks that were detected. However the direct memory consumption problem remains.

[2021-05-31 15:21] gaozhangmin opened #10756 "backlogSize is not increased as msgBacklog"
msgBacklog is 10, but backlogSize is 0.

{
  "msgRateIn" : 0.0,
  "msgThroughputIn" : 0.0,
  "msgRateOut" : 0.0,
  "msgThroughputOut" : 0.0,
  "bytesInCounter" : 3957,
  "msgInCounter" : 50,
  "bytesOutCounter" : 0,
  "msgOutCounter" : 0,
  "averageMsgSize" : 0.0,
  "msgChunkPublished" : false,
  "storageSize" : 3957,
  "backlogSize" : 797,
  "offloadedStorageSize" : 0,
  "publishers" : [ ],
  "su

[2021-05-31 15:29] gaozhangmin commented on #10756
-sbs, --get-subscription-backlog-size should be set true

[2021-05-31 15:29] #10756 closed

[2021-05-31 16:35] xqianwang opened #10757 "Pulsar websocket client still getting result ok when websocket ProducerHandler throw an error"
**Describe the bug**
Using java websocket client for publishing messages to pulsar. At the beginning it was good. But when producer send queue is full, pulsar websocket server ProducerHandler throws errors: ` Error occurred while producer handler was sending msg from /127.0.0.1:37254: org.apache.pulsar.client.api.PulsarClientException$ProducerQueueIsFullError: Producer send queue is full`.
On the

[2021-05-31 18:15] lhotari commented on #10738
I added one more commit to #10755 , f176c15631959456d5edfe9526766dadb199e46a . It seems to fix the memory leak, at least in the repro case. However the consuming message throughput drops very low for some reason, but that must be a different problem.

[2021-05-31 18:35] lhotari commented on #10738
This is the behavior with the fixes in #10755

![image](https://user-images.githubusercontent.com/66864/120230489-16c74200-c258-11eb-84d4-8c41d75ee27a.png)

Direct memory no more grows out of bounds.

[2021-06-01 03:30] #10625 closed

[2021-06-01 04:29] Anonymitaet opened #10760 "[Pulsar Release] 2.6.4"
Pulsar 2.6.4 candidate 1 is [in a vote](https://lists.apache.org/thread.html/rfbcc53d78036afdc8e977b0a47f3048b7533a8cba99159b0431d691a%40%3Cdev.pulsar.apache.org%3E).

# Before announcement

Before announcing this release, we may need to finish the following tasks:

- [x] Generate 2.6.4 doc set

    References:

    - [Workflow: generate a doc set for a specific Pulsar version](https://github.com/

[2021-06-01 04:32] Anonymitaet commented on #10760
@lhotari I saw you start the Pulsar 2.6.4 vote in the Pulsar Mailing List, are you the release manager of 2.6.4?
If so, could you please help deal with the tasks in this issue?
For contents, I would like to help review, many thanks.

[2021-06-01 05:04] lhotari commented on #10760
@Anonymitaet yes, I'm the release manager for 2.6.4. . I'm happy to work together with you on the documentation and announcements for 2.6.4. . Thanks for initiating the work.

[2021-06-01 05:08] lhotari commented on #10760
My only concern is that the Release process documentation doesn't cover the release of a maintenance release. When we publish documentation for 2.6.4, we don't want it to become the default version that shows up on the website. The default version should remain as 2.7.2 .

[2021-06-01 09:29] Anonymitaet commented on #10760
@lhotari thanks for your work.

I think the 2.6.4 doc set needs to be generated currently because some people might have doc requirements for 2.6.4. And the 2.6.4 doc can be not shown on the Pulsar website by modifying `release.json` and `versions.json` after 2.6.4 is released as below.

You can take https://github.com/apache/pulsar/pull/10256 and https://github.com/apache/pulsar/pull/10666 as ref

[2021-06-01 09:46] lazybird23 commented on #3671
same issue on a 2.4.0, how did you make work? what can i do except redeployed？

[2021-06-01 10:37] frank-montyne opened #10766 "Subscribe consumer(Schema.STRING) with wildcard .+$ always fails with Incompatible schema: exists schema type AVRO, new schema type STRING"
**Describe the bug**
I'm trying to subscribe to any persistent topic in a namespace. Suppose we have a a tenant 'aTenant' and a namespace 'aNamespace'. I subscribe to all topics:

pulsarClient.newConsumer(Schema.STRING)
	.subscriptionName("allTopics")
	.subscriptionType(SubscriptionType.Exclusive)
	.consumerName("consumerId")
	.topic("persistent://aTenant/aNamespace/.+$")
	.messageListener(message

[2021-06-01 11:04] lhotari opened #10767 "[Java client] Deadlock in Pulsar Client when running ConsumerBatchReceiveTest"
**Describe the bug**

There's a deadlock issue in Pulsar Client in master branch. A PR test run had stalled and the thread dump detected this deadlock issue:

[code]

Full thread dump: https://gist.github.com/lhotari/1bbcc43e850bd7d62891ba7fe3724b0b
thread dump in jstack.review UI: https://jstack.review/?https://gist.github.com/lhotari/1bbcc43e850bd7d62891ba7fe3724b0b#tda_1_dump

The test that was

[2021-06-01 11:18] lhotari commented on #10767
This seems to be similar to #9540 .

@codelipenghui any suggestions how to resolve this issue? I can see that you fixed #9540 in #9552.

[2021-06-01 11:22] eolivelli commented on #10767
@lhotari I see you marked this as "release/blocker"

I would consider this a "blocker for a release" if it is a regression, compared to latest version.
The rule of thumb is that a new release must not be worse than the previous.
It is usually not a problem to cut a release if there is a bad problem.
The new release still contains lots of improvements and fixes, so no need to "block" it for a new "

[2021-06-01 11:25] lhotari commented on #10767
It might be a regression. A lot of changes have been made in the Pulsar Client.

[2021-06-01 11:32] gaoran10 commented on #10717
It seems that the PR https://github.com/apache/pulsar/pull/10708 fixed the error log problem. I make some tests by the latest master and error logs `not support shrink topic partitions. old: 1, new: 0` are not present.

But I didn't reproduce the ack problem. Could you provide the steps that how to reproduce the ack problem?

[2021-06-01 11:57] eolivelli commented on #10767
I agree.
We should investigate about this problem

[2021-06-01 11:58] eolivelli commented on #10767
I am also investigating about a simpler case:
- send 1.000.000 messages to a 100 partitions topic (simple pulsar cluster with 3bookies, 1broker, 1 proxy, 3x3x3 replication)
- consume those 1.000.000 messages

The consumer is stuck after receiving 80% of the message.
I will open a separate ticket

[2021-06-01 12:31] #10654 closed

[2021-06-01 13:14] MichalKoziorowski-TomTom commented on #10717
Hi @gaoran10 I haven't tested current master and it's quite hard to reproduce the issue.

[2021-06-01 14:09] #10767 closed

[2021-06-01 14:55] #10693 closed

[2021-06-01 15:54] zbentley commented on #10721
Yes, the program is stuck in the `create_producer` call.

There are no log lines indicating "Unable to create Producer"; I believe it is either getting stuck before that or not flushing its output (while I'm running with PYTHONUNBUFFERED=1, that may not apply to whatever autoflush behavior is configured inside the C++ code).

The fact that the producers become unstuck when the brokers are unpaused

[2021-06-01 16:16] merlimat commented on #10505
Pulsar client admin is just a wrapper over the REST API. There's not anything that can be done with it that user wouldn't be able to do just connecting to the HTTP service and making calls.

The security of the Admin API service is done by ensuring the calls are made with valid credentials authorized to perform the specific operation. Functions/Connector instances will have to be provisioned with

[2021-06-01 16:20] merlimat commented on #10717
This should have been fixed by #10708

[2021-06-01 18:13] sijie commented on #10505
Closed this ticket as there are no security concerns.

[2021-06-01 18:13] #10505 closed

[2021-06-02 02:38] #10738 closed

[2021-06-02 06:14] lhotari commented on #9725
It's possible that  #10738 is a duplicate of this issue. There's a fix in #10773 which has been merged. It fixes a Netty ByteBuf leak which caused a direct memory leak when ledgers were rolled over.

[2021-06-02 07:07] tuteng opened #10776 "Invalid topic name when timeout occurs"
**Describe the bug**
If no dead queue name is specified, a dead queue name will be automatically generated when a timeout occurs, which will cause the following exception when a slash appears in the subscription name:

Topic name:

[code]
subscription name:

[code]

dead queue topic name:

[code]

[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll

[2021-06-02 08:21] galrose commented on #10749
I'm working with Daniel on this and we realized this happens because preciseTopicPublishRateLimiterEnable=true sets everything to 0 but only takes effect after the first message, which is why we were able to write one message (change the policy once).

[2021-06-02 08:58] Jason918 opened #10781 "Build failure because of spotbugs"
**Describe the bug**
Build failed with cmd `mvn clean install -DskipTests` when building Pulsar Functions :: Instance 2.8.0-SNAPSHOT    [35/127]
Here is the main error logs:

**To Reproduce**
Steps to reproduce the behavior:
1.  clone repo from github.
2. mvn clean install -DskipTests
3.  BUILD FAILURE

**Expected behavior**
build success

**Desktop (please complete the following information):**

[2021-06-02 11:27] lhotari commented on #10760
Hi @Anonymitaet . I have added the release notes in #10783 . I assume we can skip writing the blog post for this release since the blog post is optional.

[2021-06-02 12:27] #9935 closed

[2021-06-02 12:47] #10776 closed

[2021-06-02 14:59] zbentley commented on #10747
This may be related to the issue I was observing in https://github.com/apache/pulsar/issues/10721, wherein certain calls end up blocked forever, possibly while waiting for a connection to be established (I'm not sure, just a hunch).

[2021-06-02 15:08] lhotari commented on #10289
This should be fixed by #10304. Please re-open if the problem re-occurs.

[2021-06-02 15:08] #10289 closed

[2021-06-02 15:12] lhotari opened #10784 "[Java client] PulsarClientImpl.shutdown sporadically hangs"
**Describe the bug**

PulsarClientImpl.shutdown sporadically hangs.

Example stack trace
[code]

**Expected behavior**

Shutdown should complete after a reasonable timeout, for example 60 seconds.

**Additional context**

Full thread dump at https://jstack.review/?https://gist.github.com/lhotari/d8c6039c54e7f107876b652f98181792#tda_1_dump

[2021-06-02 15:15] zbentley commented on #10730
This would be useful for our Pulsar deployment. We deal with extremely variably-sized messages, so size-based backlog management is sub optimal.

[2021-06-02 17:17] lhotari opened #10786 "Flaky-test: TransactionMetaStoreAssignmentTest.testTransactionMetaStoreAssignAndFailover"
TransactionMetaStoreAssignmentTest is flaky. The testTransactionMetaStoreAssignAndFailover test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/10782/checks?check_run_id=2728428471#step:10:1649)

[code]

[another failure](https://github.com/apache/pulsar/pull/10782/checks?check_run_id=2728428471#step:10:925)
[code]

[2021-06-02 17:19] lhotari opened #10787 "Flaky-test: MessagePublishBufferThrottleTest.testBlockByPublishRateLimiting"
MessagePublishBufferThrottleTest is flaky. The testBlockByPublishRateLimiting test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/10782/checks?check_run_id=2728428471#step:10:331)

[code]

[2021-06-02 17:21] lhotari commented on #10786
@Renkai @congbobo184 Would you be able to check what's causing the flakiness in this test? thank you

[2021-06-02 17:22] lhotari commented on #10787
@Renkai @315157973 Would you be able to fix this flaky test? thank you

[2021-06-02 17:24] lhotari commented on #10787
yet another [example failure](https://github.com/apache/pulsar/pull/9927/checks?check_run_id=2729711384#step:10:712)

[2021-06-02 17:25] lhotari commented on #10787
and [another failure](https://github.com/apache/pulsar/pull/9927/checks?check_run_id=2729711384#step:10:1059)

[2021-06-02 17:27] lhotari opened #10788 "Flaky-test: AdminApiTest.testNamespaceSplitBundleConcurrent"
AdminApiTest flaky. The testNamespaceSplitBundleConcurrentis test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/9927/checks?check_run_id=2729711384#step:10:2980)

[code]

[2021-06-02 17:27] lhotari commented on #10788
previous similar flaky test issue: #9595

[2021-06-02 19:55] yangou opened #10789 "This is the bug causing both #10443 and #10449"
https://github.com/apache/pulsar/blob/e6bf50e919b2872dada0df2b0bb1fd6a5dafcf79/pulsar-discovery-service/src/main/java/org/apache/pulsar/discovery/service/BrokerDiscoveryProvider.java#L112

[2021-06-03 00:50] Anonymitaet commented on #10760
Hi @lhotari thanks for your work. Seems that there is something wrong with the 2.6.4 doc set, I left comments in https://github.com/apache/pulsar/pull/10783, could u pls take a look? thanks

For the release blog, are there any highlights / important fixes in 2.6.4 that users should know? If so, a simple tech blog like https://pulsar.apache.org/blog/2021/05/13/Apache-Pulsar-2-7-2 can be created. @c

[2021-06-03 01:50] TheNotary commented on #6481
I came across this error with a basic python producer script.  I had put a shebang at the top of the script to invoke it via `./produce.py`.  It was never able to produce anything so wasn't the same timeout issue you described, but I was able to get around the issue for some reason by invoking the script without the shebang, eg `python produce.py`.

[2021-06-03 02:49] TheNotary commented on #6481
I'm seeing this too with the python client.  My script fails if a call to `client.close()` doesn't take place, likely within the 200ms metric you've measured.

[2021-06-03 03:07] tomyouyou opened #10791 ""mvn package" has not built any jar"
D:\work\pulsar\pulsar-2.7.2>mvn -s d:\work\mvn\maven\conf\settings.xml package
[INFO] Scanning for projects...
[INFO] ------------------------------------------------------------------------
[INFO] Detecting the operating system and CPU architecture
[INFO] ------------------------------------------------------------------------
[INFO] os.detected.name: windows
[INFO] os.detected.arch: x86_64
[INFO

[2021-06-03 04:05] vishjain commented on #10788
/assign

[2021-06-03 05:12] 315157973 commented on #10787
OK

[2021-06-03 05:19] 315157973 commented on #10787
I have fixed it and I will open a PR soon

[2021-06-03 05:34] #10727 closed

[2021-06-03 05:34] lhotari commented on #10791
@tomyouyou is the result different if you pass `-Pmain` on the command line?

[2021-06-03 05:36] lhotari commented on #10789
Please provide more context in the title and issue description. It will waste everyone's time if issues are reported this way.

[2021-06-03 05:37] #10789 closed

[2021-06-03 05:53] lhotari opened #10796 "Flaky-test: ManagedLedgerTest.testExpiredLedgerDeletionAfterManagedLedgerRestart"
ManagedLedgerTest is flaky. The testExpiredLedgerDeletionAfterManagedLedgerRestart test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/10793/checks?check_run_id=2734020079#step:9:16190)

[code]

[2021-06-03 05:54] lhotari commented on #10796
@wuzhanpeng Would you mind fixing this flaky test? It seems that this test was introduced by PR #10087 .

[2021-06-03 06:27] lhotari commented on #10760
Thanks. I'll take a look.

I guess the main reason to do the 2.6.4 release is to fix CVE-2021-22160 . That fix is included in 2.7.x since 2.7.1 .

[2021-06-03 06:36] lhotari commented on #10760
It has been a bit hard to follow the instructions in https://github.com/apache/pulsar/wiki/Release-process#update-the-site-for-minor-releases . A manual process is very error prone. It would be good to have a script to run instead of giving a lot of options about how to do it. I must have missed some steps and made a mistake.

[2021-06-03 06:45] eolivelli commented on #10717
@merlimat this is a regression on branch-2.7.
#10708 is only for master branch (2.8.0...)

we should cherry pick to branch-2.7, correct ?

[2021-06-03 06:58] eolivelli opened #10798 "Pulsar Java Client 2.8.x does not work on Alpine Linux"
**Describe the bug**
I am trying to upgrade from Pulsar Client 2.7.1 to Pulsar Client 2.8.0-SNAPSHOT an application that runs on a docker container based on jdk15-alpine, so with JDK15 and Alpine Linux.

It crashes with a core dump.

This is a regression because it used to work with Pulsar Client 2.7.1 and it prevents the application to be upgrade.

The problem seems related to Netty Native

[code

[2021-06-03 07:04] eolivelli commented on #10798
I am trying to upgrade Netty TC Native now, crossed fingers

[2021-06-03 07:05] lhotari commented on #10760
@Anonymitaet Here's the PR for adding the missing files: #10799 . Please review.

[2021-06-03 07:38] eolivelli commented on #10798
Unfortunately the path #10800 does not fix the issue.
I opened a ticket on TC Native
https://github.com/netty/netty-tcnative/issues/649

[2021-06-03 08:00] lhotari opened #10801 "[Website] Highlight.js version 9 is deprecated and should be replaced"
**Is your enhancement request related to a problem? Please describe.**

The Pulsar website build produces a warning about the usage of an outdated Highlight.js version:
[code]

**Describe the solution you'd like**

Upgrade highlight.js as suggested in the warning message.

**Additional context**

Producing issue locally:
[code]

[2021-06-03 08:02] lhotari opened #10802 "[Website build] pulsar-admin-doc-gen.sh fails with NoClassDefFoundError error"
**Describe the bug**

The website build fails in pulsar-admin-doc-gen.sh fails with NoClassDefFoundError error

[code]

**To Reproduce**

[code]

**Expected behavior**

`pulsar-admin-doc-gen.sh` should work in website build

[2021-06-03 08:07] Anonymitaet commented on #10760
@lhotari
1. Double check: since we have 2.7.3 and 2.8.0 ongoing, have the fixes already applied to those versions?
2. Seems that [CVE-2021-22160](https://github.com/advisories/GHSA-3cv4-xxv7-934q) is a security issue, will you announce 2.6.4 to the Pulsar Mailing List?

[2021-06-03 08:08] Anonymitaet commented on #10760
Yes, the manual steps are complicated. Would you like to create a script to run it?

[2021-06-03 08:10] frank-montyne commented on #10263
@MarvinCai  is there any way to force a metadata cache update or to increase the refresh rate? This remains a problem in our test environment that is very dynamic in nature and where tenants, namspaces and topics get created and deleted all the time. The fact that there is no indication of a real error versus a cache sync issue keeps giving us problems. Depending on the environment in which the te

[2021-06-03 08:13] tomyouyou commented on #10791
With parameter '-Pmain', it works normally. thanks!

[2021-06-03 08:15] lhotari commented on #10760
That's something I'll keep in mind. Automating something requires full understanding and that's something I'll need to gain before writing a script.

[2021-06-03 08:16] lhotari commented on #10760
btw. the website build is broken and I've created a few changes to improve it and also some issues. The blocker is currently #10802 .

[2021-06-03 08:28] Anonymitaet commented on #10760
Many thanks for letting me know. Is this the reason for 2.6.4 is not shown on the website?
![image](https://user-images.githubusercontent.com/50226895/120613325-b834da80-c488-11eb-8a4d-6603a6227833.png)

[2021-06-03 08:47] alexyans commented on #6481
I don't have access to the release version at the moment, but the bug was patched in the C++ client that other language-specific clients wrap around. That was about 8 months ago.

Perhaps the python lib needs to bump the dependency?

[2021-06-03 09:28] frank-montyne commented on #10263
Example error:
I have a namespace with one topic. All Producers/consumers are cloed. I delete the topic (no problem). Then I delete the namespace. When looking in the logs from Pulsar 2.7.2 I constantly get the following error while deleting the namespace:

10:41:34  PULSAR >08:41:34.550 [pulsar-30-2] ERROR org.apache.bookkeeper.mledger.impl.ManagedLedgerImpl - Deleting cursor
10:41:34  PULSAR >or

[2021-06-03 09:45] lhotari commented on #10802
It seems that the impact of this is that Pulsar Admin CLI documentation at https://pulsar.apache.org/pulsar-admin-cli?version=2.7.2 (release docs for 2.7.2) and https://pulsar.apache.org/pulsar-admin-cli (built from master) is broken.

[2021-06-03 09:51] lhotari commented on #10760
no, actually it seems that impact of that issue is smaller, I added a comment here: https://github.com/apache/pulsar/issues/10802#issuecomment-853739269 . However I already fixed it in a PR #10807.

The reason why 2.6.4 isn't shown is that the broker cache is quite long. After doing a SHIFT+refresh, I can see 2.6.4

![image](https://user-images.githubusercontent.com/66864/120625484-68dfb180-c46a-1

[2021-06-03 10:05] Anonymitaet commented on #10760
@lhotari thanks for the info, now I can see 2.6.4 as well.

any feedback on these questions?

[2021-06-03 10:32] lhotari opened #10808 "Flaky-test: PersistentTopicTest.testAccumulativeStats is flaky"
org.apache.pulsar.broker.service.persistent.PersistentTopicTest is flaky. The testAccumulativeStats test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/10807/checks?check_run_id=2735643757#step:10:297)

[code]

[2021-06-03 10:32] lhotari commented on #10808
The test was added in PR #10644 . @dlg99 could you fix this flaky test?

[2021-06-03 10:34] lhotari opened #10809 "Flaky-test: TransactionBufferClientTest"
TransactionBufferClientTest is flaky. The afterSetup method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/10807/checks?check_run_id=2735643757#step:10:2654)

[code]

[2021-06-03 10:36] lhotari commented on #10809
@gaoran10 @congbobo184 Would you mind investigating and fixing this flakiness in TransactionBufferClientTest?

[2021-06-03 11:01] 949808802 opened #10812 "failover"
**Describe the bug**
In failover mode，two consumers can get message evenly。It's not just one consumer  gets all the message。

**To Reproduce**
Steps to reproduce the behavior:
producer code：
public class FailoverProducer {
    public static void main(String[] args) throws Exception{
        PulsarClient client = GetPulsarClient.get();
        Producer<String> producer = client.newProducer(Schema.S

[2021-06-03 11:17] eolivelli opened #10813 "Consumer stuck while reading from partitioned topic using Shared subscription"
I am investigating a case in which the consumer is stuck while there are still many messages to read from a partitioned topic.

At high level the test is:
- create a partitioned topic with 100 partitions
- produce 1.000.000 messages
- consume the message

Desired outcome: the consumer is able to fully consume the messages
Actual outcome (current 2.8.0-SNAPSHOT): the consumer is stuck at approximat

[2021-06-03 11:25] lhotari commented on #10791
In that case, it's probably some issue with #10340 changes. In Maven, there's not an explicit way to always activate a maven profile. The current solution is to check if pom.xml exists, which should always evaluate to true. I guess that solution doesn't work for some reason and should be replaced with a different solution.

[2021-06-03 11:27] lhotari commented on #10791
Can you test if you modify this to pom.xml starting on line number 1866
[code]

[2021-06-03 11:34] lhotari commented on #10791
@tomyouyou I pushed #10814 as a fix. Thanks for reporting the issue!

[2021-06-03 11:43] #10802 closed

[2021-06-03 12:01] tomyouyou commented on #10791
@lhotari  After the above modification, the test is successful.

[2021-06-03 12:02] lhotari commented on #10791
Thanks for verifying.

[2021-06-03 12:07] eolivelli commented on #10813
@merlimat @rdhabalia @codelipenghui @lhotari  PTAL
I believe this is another blocker for 2.8.0.

[2021-06-03 12:31] TheNotary commented on #6481
Thanks for that extra context, I'm a couple patches behind too due to corporate issues (`2.7.0`).  After a little more digging, my issue is mostly unrelated; I was overlooking a bug in my python file where `client.close()` wasn't being called at all, so the error occurred when Python was closing things it's frameworking down, but the pulsar client had some kind of hook that said "if we're being te

[2021-06-03 12:37] #10791 closed

[2021-06-03 12:49] eolivelli commented on #10813
If you halt the client and restart it a couple of times then you are able to consume the whole topic.
It looks like there is something stuck

[2021-06-03 12:56] eolivelli commented on #10813
I did a few more tests with pulsar-perf and it looks like even with pulsar-perf I sometimes see problems.
I will update the description

[2021-06-03 13:13] alexyans commented on #6481
Oh, good! Glad you worked it out then :)

[2021-06-03 13:13] #6481 closed

[2021-06-03 14:53] fmiguelez opened #10816 "PulsarProxy does not always refresh authentication tokens received from client"
**Describe the bug**
We have Pulsar deployed as a single cluster with a Pulsar Proxy, 3 brokers, 3 bookies and 3 zookeepers.

We use token authentication. Tokens expire every 5 minutes and they are refreshed 1 minute before they expire. We use `Supplier ` interface in `PulsarClient` to provide a valid token.

The thing is that if we connect directly to brokers token refreshing works perfectly (we

[2021-06-03 14:53] fmiguelez commented on #10816
We have tested this on 2.7.0, 2.7.1 and 2.7.2

[2021-06-03 19:20] lhotari commented on #10813
Thanks for the good issue report @eolivelli !

I was able to reproduce with 30 partitions and 100000 messages in a single node cluster (setup documented in https://github.com/lhotari/pulsar-playground/tree/master/test-env).

Documenting the commands I used:
[code]

Deleting the subscription (to re-test, could also use new subscription name):
[code]

Script to get stats:
[code]
internal stats
[code

[2021-06-03 19:24] eolivelli commented on #10816
Nice description and proposal
Would you have time to contribute an implementation?

[2021-06-03 19:32] fmiguelez commented on #10816
@eolivelli I tried looking for exact piece of code where this happens but I find code a little bit difficult for me to follow (at least on github). Probably I can find a solution with some help from someone pointing me in the right direction.

[2021-06-03 19:44] devinbost commented on #10813
@eolivelli @lhotari

Negative permits just means the dispatcher is waiting for permits from the consumer, which implies it's waiting for the consumer to complete processing of the messages. I'd like to know if the consumer is waiting for ack's from the broker.
If you get a thread dump of the consumer when it's frozen, is it waiting for the producer semaphor? Look for something like this in the con

[2021-06-03 19:45] hpvd commented on #10813
negative permits also are documented in other open issues:
https://github.com/apache/pulsar/issues/6054#issuecomment-844625376
https://github.com/apache/pulsar/issues/6255#issuecomment-816987017

[2021-06-03 19:47] devinbost commented on #10813
@hpvd In both of those issues, the problem is that the producer semaphore is blocking because the producer isn't receiving ack's from the broker. After enough pending messages accumulate without ack's, the producer blocks because `blockIfQueueFull` is true by default. See https://github.com/apache/pulsar/blob/34a04b5fa4692cb4716df61e740795467f76451b/pulsar-client/src/main/java/org/apache/pulsar/cl

[2021-06-03 23:37] dlg99 commented on #10808
@lhotari See the PR and explanation in the PR.

[2021-06-04 00:02] devinbost opened #10821 "[docs] Need clarification around batch indexing configs"
In https://pulsar.apache.org/docs/en/reference-configuration/#broker, the docs mention this setting for batch indexing:
`acknowledgmentAtBatchIndexLevelEnabled`

However, batch indexing is also mentioned [in this doc ](https://pulsar.apache.org/docs/en/concepts-messaging/#batching) with the `batchIndexAcknowledgeEnable` parameter.

We need some clarification in the docs regarding what is the diffe

[2021-06-04 02:17] Anonymitaet commented on #10821
Hi @codelipenghui I find that you [introduced `batchIndexAcknowledgeEnable` in Pulsar 2.6.0](https://pulsar.apache.org/blog/2020/06/18/Apache-Pulsar-2-6-0/#pip-54-support-acknowledgment-at-the-batch-index-level) and allowed users to set this configuration in `broker.conf`.

Question:

1. I search `batchIndexAcknowledgeEnable` in `broker.conf`, but got nothing. Do we need to add it to `broker.conf`

[2021-06-04 06:57] eolivelli commented on #10813
Just to be clear:
In this case the producer is done, there is no producer.
The topic is is idle state, and also retention is disabled.

[2021-06-04 08:06] 315157973 commented on #10673
I will solve it

[2021-06-04 08:22] 949808802 opened #10826 "key_share mode comsumber Could not get connection to broker"
**Describe the bug**
key_share mode comsumber Could not get connection to broker

**To Reproduce**
I user key_share mode,but comsumer could not get connection to broker,but i use exclusive,failover,share can connect to broker.
I user 3 zk,3bookeeper,3 broker.

code:
 public static void main(String[] args)throws Exception{
        Consumer<String> keyShareConsumer1 = GetPulsarClient.get().newConsum

[2021-06-04 08:42] #10826 closed

[2021-06-04 08:43] #10812 closed

[2021-06-04 12:16] eolivelli commented on #10813
Unfortunately  #10824 made the situation better and the test arrives to 99% but this we have problems.

Also today I see a failure even with Exclusive subscription type.
batchenabled=true
subscription type = Exclusive

[2021-06-04 13:22] eolivelli commented on #10813
I am rerunning the after @codelipenghui  fix.

This is the dump of the stats now that the consumer is still connected and waiting for messages.

the interesting point is that for partition 1 (and for other partitions it happens the same)
we see "numberOfEntriesSinceFirstNotAckedMessage" : 19 and "msgBacklog" : 18

so it looks like the messages have been delivered to the consumer from the broker po

[2021-06-04 17:25] rdhabalia commented on #10813
Below metrics shows the all messages are dispatched but consumer didn't ack the message after `28:8916`. seems ack issue.
[code]

Are you still able to reproduce it with the master code and sample consumer you mentioned into the issue? and do you see any broker side exception in ack message path.

[2021-06-04 19:07] megfigura commented on #7304
Also hit this issue with a similar use-case (creating batches for a Spark application). The issue is still present in the latest 2.7 branch as of commit 6bbb8d5c34d59a3a2cdd88e3e091de37b60d274a, though the leak I see is much slower than the one pictured in the screenshot above, so I wonder if the problem has been partially fixed since 2.5.2.

It's easy to reproduce, even with curl. e.g. `while tru

[2021-06-04 20:30] #10813 closed

[2021-06-05 00:20] devinbost commented on #10813
@eolivelli @rdhabalia Could there be two separate issues involved? It looks like the PR that closed this issue only addresses dispatcher behavior, not the ack path.

[2021-06-05 01:39] leiless opened #10832 "[Question] Can producer send() cause cumulative ACK from previous sendAsync()?"
## `send()`

## `sendAsync()`

Hi, Pulsar developers, my doubt is, if I have `N` messages to be sent by the producer.
For the first `[0, N-1]` messages, I use `sendAsync()` and ignore the future result(`CompletableFuture<MessageId>`).
And for the last message, i.e., the `N`-th message, I use `send()` to ensure `N`-th message is successfully **acknowledged**(persisted in the disk) by the Pulsar bro

[2021-06-05 02:06] leiless commented on #10832
Instead of `fsync(2)` per message manner, I pursuing `fsync(2)` in batch(as a whole).
Explicitly, `fsync(2)` for the last msg in a list.
Which enforces previous messages to be persisted in the disk?

(Roughly speaking, you can treat `fsync(2)` as ACK?)

[code]

The idea is somewhat like [Consumer.acknowledgeCumulative(MessageId)](https://pulsar.apache.org/api/client/org/apache/pulsar/client/api/Co

[2021-06-05 02:24] timmyyuan opened #10834 "Build failure when using src/set-project-version.sh: Project version is inherited from parent."
**Describe the bug**
When using `src/set-project-version.sh` on the master branch, goal `org.codehaus.mojo:versions-maven-plugin:2.8.1:set` will throw a build failure: Project version is inherited from parent.

**To Reproduce**
Steps to reproduce the behavior:
1. Check out the master branch
2. run `src/set-project-version.sh 2.8.0-rc-202106042216`

**Expected behavior**
No failure happened

**Scre

[2021-06-05 19:04] lhotari commented on #10834
Possibly caused by #10728

[2021-06-06 04:30] 315157973 commented on #10788
Hello @lhotari , do we have a way to view or download the complete log at that time (including the Broker side)

It's hard to reproduce locally

[2021-06-06 06:13] #10834 closed

[2021-06-06 07:25] dik111 opened #10839 "[QUESTION] Pulsar adapter for ogg"
Hi all:
I saw an article by Lakala on the Internet saying that messages can be obtained from OGG(Oracle Golden Gate) through the pulsar adapter. Is there any plan to develop this adapter in the future?
[对 Kafka 和 Pulsar 进行性能测试后，拉卡拉将消息平台统一换成了 Pulsar](https://www.jianshu.com/p/5cd80bb3d401)

[2021-06-07 03:00] wolfstudy commented on #10839
Hello @dik111 This is a good idea. If the OGG adapter is supported, it will be convenient for this part of users to use Pulsar better.

[2021-06-07 03:08] wolfstudy commented on #10821
In `broker.conf`, `acknowledgmentAtBatchIndexLevelEnabled` is the answer you want.

[2021-06-07 03:11] wolfstudy commented on #10821
@Anonymitaet It seems that `batchIndexAcknowledgeEnable` and `acknowledgmentAtBatchIndexLevelEnabled` are confused in the documentation. I will send a pr to fix this problem.

[2021-06-07 03:22] Anonymitaet commented on #10821
@wolfstudy many thanks for your contribution. I've reviewed the PR.

[2021-06-07 03:29] #10821 closed

[2021-06-07 07:16] eolivelli commented on #10798
I still see the same error.
let me do other tests.
I am sorry, I could not test and work on this during the weekend

[2021-06-07 07:18] eolivelli commented on #10798
I was wrong.
the stacktrace reads about native epoll and not tc-native, that is for TLS

[2021-06-07 07:55] 949808802 opened #10848 "consumer can receive deliver message immediately"
**Describe the bug**
consumer can  receive deliver message immediately.I use pulsar 2.7.2

**To Reproduce**
producer code:
  public static void main(String[] args) throws Exception{
        PulsarClient client = GetPulsarClient.get();
        Producer<String> deliverAtProducer = client.newProducer(Schema.STRING)
                .topic("persistent://my-tenant/my-namespace/my-topic")

[2021-06-07 08:21] eolivelli commented on #10798
it looks like that the problem is more about "epoll" and not about tc-native.
and also it looks like that with `adoptopenjdk/openjdk15:alpine-slim` docker image the problem does not reproduce

@codelipenghui I am testing about simply reverting "Rollback netty-tc-native version to 2.0.33.Final (#10833) "

[2021-06-07 08:24] jiahaoc1993 commented on #9337
@sijie hi, any update of this issue? if not, could you please provide any workaround to check the connection's state?

[2021-06-07 09:07] #8875 closed

[2021-06-07 09:36] #10848 closed

[2021-06-07 13:00] lhotari commented on #9248
Fixing this issue depends on Bookkeeper issue apache/bookkeeper#2695 . libthrift 0.14.1 is broken and a new version is needed before the upgrade can be completed. More details in https://github.com/apache/bookkeeper/pull/2695#pullrequestreview-670542965 .

[2021-06-07 13:05] lhotari commented on #8815
There's now #10855 to add a scheduled OWASP Dependency Check to scan library vulnerabilities once per day.

[2021-06-07 13:24] frankjkelly commented on #8815
@lhotari this is great news! Thanks so much!

[2021-06-07 14:21] dik111 opened #10856 "[Question][Presto]How can I use my own presto cluster to query pulsar data?"
pulsar version: 2.7.2
presto version: 0.241

Hi all:
  I saw in the official document that I can use my own presto cluster to query data, and then I put the pulsar-presto-connector in the installation package in the plugin directory of presto, and then start presto, but it prompts an error:

`2021-06-07T22:06:37.719+0800	ERROR	main	com.facebook.presto.server.PrestoServer	No factory for connector p

[2021-06-07 14:25] #10808 closed

[2021-06-07 14:43] hpvd commented on #8815
awesome ;-)

[2021-06-07 14:55] zzzming opened #10857 "pulsar_topics_count inaccurate after broker restarts"
**Describe the bug**
A newly created topic's Prometheus metrics does not survive broker restarts. The topic is being created by pulsar_admin with no traffic nor subscription. `pulsar_topics_count` is not accurate after the broker restarts.

**To Reproduce**
1. Create a persistent topic with pulsar-admin
2. Verify the topic's prometheus metrics exist under pulsar_in_bytes_total,  pulsar_consumers_c

[2021-06-08 00:42] sursingh opened #10860 "Inconsistent metadata cache across brokers"
**Describe the bug**

When doing operations on multiple brokers, the state is not always consistent. Sometimes the operations don't seem to get replicated to other brokers in the cluster. The queries from the brokers returns different results

**To Reproduce**
The steps below are for namespaces. But this should also be applicable to other global state.

Steps to reproduce the behavior:
1. create a

[2021-06-08 04:57] mrkingfoxx commented on #10523
Done

[2021-06-08 06:46] lhotari commented on #8815
The results of the scheduled OWASP Dependency Check scans can be found here:
https://github.com/apache/pulsar/actions/workflows/ci-owasp-dependency-check.yaml

[2021-06-08 10:24] Anonymitaet commented on #10856
@MarvinCai any thoughts on this?

[2021-06-08 11:47] leiless commented on #10832
@lhotari, many thanks for your reply.

For the [`flush()`](https://pulsar.apache.org/api/client/2.7.0-SNAPSHOT/) method, my use case turns out to be:
* Producer `.maxPendingMessages(10_000)`
* Producer `.blockIfQueueFull(true)`
* I have many messages to be sent, publish throughput `>= 10_000 msgs/s`
* Use `sendAsync()` for the first `[0, N-1] msgs` and **still** forget the `CompletableFuture<Messa

[2021-06-08 11:52] lhotari commented on #10832
If you don't care if message sending fails, it's fine to do so. If you want to ensure the delivery of sent messages, you cannot ignore the CompletableFuture<MessageId> instances returned from `sendAsync`. One possibility is to add them to a map/list and validate that all completable futures were successfully completed as the last step, after your `flush()` step.

[2021-06-08 11:59] leiless commented on #10832
What if an async sent message failed, and for example, say, it's the `N/2`-th message, and I retry sent this message, eventually, does the consumer still can read those messages in order?

And why we need to ensure after `flush()`? you mean it flushes all backed in-memory messages safely persisted in Pulsar broker? and for those failed messages, it won't in the buffered to-be-sent list, so you hav

[2021-06-08 13:35] e-marchand-exensa commented on #8307
@lhotari do you think #10768 could solve this issue ? Regards.

[2021-06-08 14:04] frankjkelly commented on #5284
Same issue for me - seemed to occur during a Topic Unload

{noformat}
13:58:55.615 [ForkJoinPool.commonPool-worker-5] ERROR org.apache.pulsar.broker.service.ServerCnx - [/127.0.0.1:54178] Failed to add producer to topic persistent://cogito-dialog/wav/080e684b-a1ef-44d4-a845-974886ff24f9: Topic is temporarily unavailable
.
.
.
13:58:55.616 [pulsar-web-42-11] INFO  org.apache.pulsar.broker.namespace

[2021-06-08 14:05] frankjkelly commented on #5284
@addisonj @sijie Is there anything we can do to mitigate this? (We are currently using Pulsar 2.6.1)

[2021-06-08 14:38] frankjkelly commented on #3630
@wolfstudy / @codelipenghui can you tell which is the earliest release that has the fix mentioned here https://github.com/apache/pulsar/issues/3630#issuecomment-728721439
Thanks!

[2021-06-08 19:39] devinbost commented on #6869
Any updates on this?

[2021-06-09 01:25] leiless commented on #10832
According to docs of [`flush()`](https://pulsar.apache.org/api/client/2.7.0-SNAPSHOT/org/apache/pulsar/client/api/Producer.html#flush--):

If a message already failed, it won't be in the buffered list since it has been handled? so if you check the `CompletableFuture` and retry send after `flush()`, the order might be broken?

Since previously sent messages already persisted in Pulsar Broker, if th

[2021-06-09 05:20] gaozhangmin commented on #10766
try this:
[code]

[2021-06-09 05:37] gaozhangmin commented on #10705
Now, version-2.7.2 num of message in backlog is batched.
![image](https://user-images.githubusercontent.com/9278488/121299365-e2264b00-c927-11eb-86a4-503d1077e58e.png)

[2021-06-09 10:28] lhotari opened #10870 "Flaky-test: BatchSourceExecutorTest.testLifeCycle"
BatchSourceExecutorTest is flaky. The testLifeCycle test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/10864/checks?check_run_id=2781697535#step:9:5032)

[code]

[2021-06-09 10:48] eolivelli opened #10871 "[Transactions] Problems in case of transactionCoordinatorEnabled=true and allowAutoTopicCreation=false"
**Describe the bug**
While testing the 2.8.0rc2 I found that if you start a Pulsar broker with transactionCoordinatorEnabled=true and allowAutoTopicCreation=false the broker does not work.

I see these errors:

It looks like that the only way to make the system work it to manually create a topic named:
`persistent://public/default/__transaction_buffer_snapshot`

Please note that the topic MUST NOT

[2021-06-09 11:40] lhotari opened #10872 "Flaky-test: MetadataCacheTest.crossStoreUpdates"
MetadataCacheTest is flaky. The crossStoreUpdates test method fails sporadically.

[example failure](https://github.com/apache/pulsar/pull/10864/checks?check_run_id=2782726910#step:9:6862)

[code]

[2021-06-09 11:44] lhotari commented on #10872
It looks like this flaky test was introduced by #10862 . @sursingh Would you mind taking a look ?
It might help to use Awaitility instead of Thread.sleep in this test.

example of using Awaitility (ignore any exceptions thrown using evaluation) from another test:

https://github.com/apache/pulsar/blob/da71ec2b2a6682ffbab60843756f638bedbd4460/pulsar-broker/src/test/java/org/apache/pulsar/io/PulsarF

[2021-06-09 11:45] MathiasHaudgaard opened #10873 "[Question] Setting up oAuth2.0 with azureAD for authentication"
I'm trying to set up an oAuth2 flow in my pulsar cluster, however, I'm not really sure how to do this. I want the brokers to authenticate the token from the client by comunicating with azureAd. Is is possible to specify the tenant id, secret, audience and secret id inside of the brokers? I'm not sure if that's the right way to do it. :shipit: 😄 🍷

[2021-06-09 13:39] gvolpe commented on #10244
Sorry I didn't get to reply on time. When I checked, I saw the ticket was already closed.

FWIW there still seem to be a bug in Pulsar. We have the schema compatibility strategy set to `ALWAYS_COMPATIBLE` but Pulsar still tries to validate the schema. This is the error we get now with Pulsar 2.7.2:

[code]

I wish I had more but this is all I got for now. I'll share more if I get more information.

[2021-06-09 13:52] eolivelli commented on #10244
@gvolpe
is this error on the same reproducer in the description of this issue or is it a new case ?

[2021-06-09 13:59] gvolpe commented on #10244
I don't know much yet. The error message is different, so I guess it's a different issue but still related to the same bug, which is Pulsar ignoring the schema compatibility strategy and trying to verify the schema anyway.

[2021-06-09 14:36] sursingh commented on #10872
@lhotari : I will take a look.

[2021-06-09 14:46] zbentley commented on #10721
Any update here? I know it may take some time to fix, but it'd be useful to know if it is likely to be worked on or not.

Whether this gets fixed is the difference between whether our site uses the Python driver normally, or puts some engineering time into moving the Pulsar connection(s) out-of-process and communicating with them via RPC. Either one is fine, but would rather not start down one pat

[2021-06-09 16:51] BewareMyPower commented on #10721
Sorry for the late response. Just missed this issue since I was not assigned before and I was busy last week. Now I'll assign it to myself and continue looking at this issue.

From my perspective, your comment at https://github.com/apache/pulsar/issues/10747 is correct. Currently we cannot configure connection timeout and I'll add this config first.

[2021-06-09 17:04] michaeljmarshall commented on #10871
I believe this is because the topic is not included here: https://github.com/apache/pulsar/blob/85a60b0de8c7e53747ee491350f7b21fba90099e/pulsar-broker/src/main/java/org/apache/pulsar/broker/service/BrokerService.java#L2487-L2499.

[2021-06-09 17:08] michaeljmarshall commented on #10871
I raised this issue in my PR here: https://github.com/apache/pulsar/pull/10254#discussion_r615315057. In that PR, I proposed making all topics that begin with two underscores (`__`) system topics. This was deemed to be too large of a change, however. I think we can modify that `isAllowAutoTopicCreation` method here as a hot fix.

[2021-06-09 17:16] michaeljmarshall commented on #10871
I am working on a fix for this now. I should have a PR up soon.

[2021-06-09 17:32] Yiyiyimu opened #10875 "[Community] add contributor over time graph to README"
Hi community!

We're the maintainers of [Apache APISIX](https://github.com/apache/apisix). To better present how our community grows, we develop a tool to show contributors growing history on https://github.com/api7/contributor-graph. Since we found it helpful, we think maybe if it could help some other community.

### WHAT IT IS

Basically, it just shows the contributors growth over time. All of

[2021-06-09 22:44] ta1meng commented on #6894
Still happening in v2.7.2. Both my co-worker and I have been running into this rockdb error intermittently when running Pulsar standalone.

Can someone explain what the argumennt -nss (--no-stream-storage) does?

The command line help states:

[code]

What functionality is disabled when we disable stream storage?

[2021-06-09 22:47] ta1meng commented on #6894
Also today, I learned from the Pulsar monthly update hosted by StreamNative that Pulsar 2.8 will have some rockdb fixes, so maybe this problem would be resolved in Pulsar 2.8.

[2021-06-10 00:32] #10760 closed

[2021-06-10 00:34] Anonymitaet commented on #10241
Already fixed. Thanks @tuteng

[2021-06-10 00:34] #10241 closed

[2021-06-10 00:36] Anonymitaet commented on #10237
Already fixed. Thanks @tuteng

[2021-06-10 00:36] #10237 closed

[2021-06-10 00:49] Anonymitaet commented on #10041
@315157973 I know [you‘re trying to generate this tool](https://github.com/apache/pulsar/pull/10754#issuecomment-853533214), may I know the status? Many thanks!

[2021-06-10 01:01] xuesongxs commented on #10705
yes, backlog is batched，however, the value of each batch is not fixed, so the accurate number of messages cannot be obtained，

At 2021-06-09 13:38:12, "gaozhangmin" ***@***.***> wrote:

Now, version-2.7.2 num of message in backlog is batched.

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub, or unsubscribe.

[2021-06-10 01:48] wangyun5583 opened #10881 "[Question]How to use websocket in k8s"
#### Pulsar documents

https://pulsar.apache.org/docs/en/client-libraries-websocket/

#### Question
1、I configured [websocketserviceenabled = true] in [configmap] of k8s
2、Restart pod
3、What should I do next？
（Enter the pod and execute the command [$bin/pulsar Daemon Start websocket]？What else do I need to do？）

[2021-06-10 01:53] Anonymitaet commented on #10875
@Yiyiyimu thanks for sharing this useful tool, which shows the stats intuitively and clearly.

[2021-06-10 04:31] freeznet opened #10882 "Gson convert int/long into float and breaks sink/source config"
**Describe the bug**
pulsar-admin uses `gson` to parse Sink & Source config when user create connector with `--sink-config` or `--source-config`. When user pass int values as JSON, `gson` will convert the int/long value into float, then it will write as float string. With some of the connectors, this will breaks the serde of config.

[code]

[2021-06-10 04:57] #10871 closed

[2021-06-10 05:19] 315157973 commented on #10673
https://github.com/315157973/pulsar/blob/42c4c7fea3ee69f49274bb77287414f1658ccf56/pulsar-broker/src/test/java/org/apache/pulsar/broker/service/ReplicatorTest.java#L800-831

Hello, I wrote a unit test based on your description, but it cannot be reproduced. Can you help me see which step is wrong? @anvinjain

[2021-06-10 06:18] leiless commented on #10832
Code example

[code]

https://github.com/apache/pulsar/blob/master/pulsar-broker/src/test/java/org/apache/pulsar/broker/service/BatchMessageTest.java#L340-L349

[2021-06-10 06:56] #10882 closed

[2021-06-10 08:53] jiahaoc1993 commented on #9337
@codelipenghui hi, any progress?

[2021-06-10 09:51] xuesongxs opened #10890 "The consumer receives the same message again after executing the acknowledge interface"
**Describe the bug**
We found a problem with pulsar consumer ack in our test. The producer sends 1W messages. We use the consumer's acknowledge interface to submit the offset. When we start the consumer process to consume a part of the message, we kill the process and start the same consumer process again to consume the message. The message that has executed the acknowledge interface before killin

[2021-06-10 13:39] anvinjain commented on #10673
@315157973 Here you are doing equivalent of list-partitioned-topics right?
`Awaitility.await().untilAsserted(() -&gt; assertEquals(admin2.topics().getPartitionedTopicList(namespace).get(0)                , persistentTopicName));`

Notice this section in bug description

list of topics (instead of partitioned topics) from the other cluster, admin2 in your case, does not have the list of partitions

[2021-06-10 14:42] frankjkelly opened #10891 "Pulsar 2.6.1: After ZK node crash due to "No space left on device" - unable to recover all topics"
**Describe the bug**
One of our three ZooKeeper nodes ran out of disk space when taking a snapshot.
[code]

However once that ZooKeeper pod restarted we started to see errors that owner for a topic timed out
[code]
and
[code]
Restarting the brokers did not help - in the end we `nuked` the cluster and started over but just wondering if we missed a step or if there's some way to remediate if / when

[2021-06-10 15:00] gaozhangmin commented on #10784
Maybe We should set timeout in Future.get() method? am i right?
[code]

[2021-06-10 15:12] gaozhangmin commented on #10784
Maybe We should set timeout in Future.get() method? am i right?
[code]

[2021-06-10 15:42] gaozhangmin commented on #10515
please assign to me, if no one working on this

[2021-06-10 17:32] gimmeshelter opened #10893 "Update documentation to suggest running 'ldconfig' after installing C++ libs from RPMs"
**Is your enhancement request related to a problem? Please describe.**
My team was trying to use the Node.js client for Pulsar.  We had installed the RPMs and the libs were present in /usr/lib, but our app still wouldn't start.  We kept getting the error that 'libpulsar.so: cannot open shared object file: No such file or directory'.  I found the solution after searching for Node.js C++ add-ons wit

[2021-06-10 23:45] Anonymitaet commented on #10893
@gimmeshelter many thanks for your info. Would you like to add docs accordingly? Then I can help review, thanks

[2021-06-11 06:41] gaozhangmin opened #10896 "Get message id based on timestamp"
Should we support get offset based on timestamp?

[2021-06-11 08:50] xuesongxs opened #10898 "Failed to generate prometheus stats for transaction"
**Describe the bug**
pulsar v2.7.2
regular expression is not match the ledgerName's format.

![image](https://user-images.githubusercontent.com/54351417/121658978-6ddcda80-cad4-11eb-9a2e-29e400c0d77a.png)
![image](https://user-images.githubusercontent.com/54351417/121659154-99f85b80-cad4-11eb-9fa7-66d3bdcbbc3b.png)
![image](https://user-images.githubusercontent.com/54351417/121659407-daf07000-cad4

[2021-06-11 08:56] rvashishth commented on #9597
@MarvinCai - so there is no way to simple truncate/delete all data published to a topic irrespective of if those message are consumed by someone or not?

[2021-06-11 08:58] BewareMyPower commented on #10721
Hi, could you provide your boost version?

[2021-06-11 09:14] xuesongxs opened #10900 "[Pulsar Doc] Transactions Example code error"
**Describe the bug**
Pulsar Doc, Transactions Example code, the sinkProducer must be disable sendTimeout, otherwise, it will throw an exception.

![image](https://user-images.githubusercontent.com/54351417/121662369-d6798680-cad7-11eb-9302-8649bae12b63.png)
![image](https://user-images.githubusercontent.com/54351417/121662440-ee510a80-cad7-11eb-8652-a167303079fd.png)

[2021-06-11 11:04] KKcorps opened #10903 "PulsarStandalone throws error while creating Ledger"
**Describe the bug**
I am using `pulsar-broker-shaded` dependency to create `PulsarStandalone` cluster locally. However, the cluster fails at startup with the following exception -

[code]

The `pulsar-broker` unshaded dependency works correctly but I can't use it as it throws a lot of dependency convergence errors due to `maven enforcer` plugin. The plugin is present in parent pom and is mandator

[2021-06-11 13:54] lhotari opened #10906 "pulsar-admin connection to Pulsar Proxy is unstable when TLS is enabled, function jar uploads fail"
**Describe the bug**

pulsar-admin connection to Pulsar Proxy is unstable when TLS is enabled. Large function jar uploads fail frequently.

pulsar-admin output:
[code]

and logs in broker logs
[code]

**To Reproduce**

See https://github.com/lhotari/pulsar-playground/tree/master/proxy-tls-issue-repro-2.7.2

**Expected behavior**

pulsar-admin should be stable

**Additional context**

Caused by Jet

[2021-06-11 14:49] lhotari opened #10908 "[Proxy] Proxy uses a lot of heap memory when uploading large function jar files"
**Describe the bug**

Proxy uses a lot of heap memory when uploading large function jar files. This is due to the buffering solution added as part of #5361 . The solution buffers also very large uploads to memory.

**To Reproduce**

Create a function with a large jar file to reproduce.
The repro for #10906 , https://github.com/lhotari/pulsar-playground/tree/master/proxy-tls-issue-repro-2.7.2 , rep

[2021-06-11 14:49] lhotari commented on #10908
@addisonj would you like to pick this one?

[2021-06-11 17:18] zbentley commented on #10721
I don't know; how would I find out? I'm using the result of `pip install pulsar-client==2.7.1` on the docker python3.8 image.

[code]

[2021-06-11 17:32] 315157973 commented on #10673
Thanks, I have found the reason, and I will fix it.  But you should not update the topic in cluster 2, if the replication is one-way

[2021-06-11 18:12] #10906 closed

[2021-06-11 18:20] anvinjain commented on #10673
Can you elaborate on replication being "one-way". From what I understand, pulsar has active-active topics, i.e. topic should be present in all the clusters configured in the topic's namespace.

[2021-06-11 20:10] lhotari commented on #10291
This might be fixed by #10907 which will be delivered in 2.8.0 .

[2021-06-12 06:19] lhotari commented on #10890
@xuesongxs There's an explanation in the manual under ["Batching"](https://pulsar.apache.org/docs/en/next/concepts-messaging/#batching):

Batching happens on the producer side. Another option for `acknowledgmentAtBatchIndexLevelEnabled=true` is to produce the messages into the topic without batching enabled. This can be achieved by setting `.enableBatching(false)` on the `ProducerBuilder`.

[2021-06-12 23:29] jtzero opened #10912 "Docs on protobuf and pulsar-admin?"
**Is your feature request related to a problem? Please describe.**
it appears that the `pulsar-admin schemas upload` works with protobufnative
however there is no information on the subject
https://pulsar.apache.org/docs/en/schema-manage/

**Describe the solution you'd like**
- documentation on how to use `pulsar-admin schemas upload` with protobufnative
- guidance on how to create the `EXPECTED_S

[2021-06-13 06:09] michaeljmarshall commented on #10786
I had this test fail twice out of four attempts (running `mvn clean install`) to build and test git tag `v2.8.0-candidate-3`.

[2021-06-13 07:43] golden-yang opened #10914 "Pulsar-mini broker failed to start in k8s"
**Describe the bug**
When I started pulsar-mini according to the pulsar on k8s documentation, the broker report an error

**To Reproduce**
Steps to reproduce the behavior:
1. build minikube cluster
minikube start --memory=8192 --cpus=4  --kubernetes-version=v1.20.2
minikube v1.20.0 on Centos 7.2 (amd64)
2. download pulsar-helm-chart, checkout to tag pulsar-2.7.2
3.  install pulsar-mini
 helm insta

[2021-06-13 07:43] MTBirdman89a opened #10915 "Okay"
**Describe the bug**
A clear and concise description of what the bug is.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to '...'
2. Click on '....'
3. Scroll down to '....'
4. See error

**Expected behavior**
A clear and concise description of what you expected to happen.

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the followi

[2021-06-13 07:46] MTBirdman89a commented on #10915
Run: backup photos

[2021-06-13 07:48] MTBirdman89a commented on #10914
[]()

[2021-06-13 07:48] MTBirdman89a commented on #10914
Okay

[2021-06-13 07:49] MTBirdman89a commented on #10914
End

[2021-06-13 08:42] BewareMyPower commented on #10721
That's okay, I'm just going to get more info from your stacks.

[2021-06-13 09:16] golden-yang commented on #10914
I think it's a problem with my docker environment. When I start the docker service with the configuration file `pulsar/docker-compose/kitchen-sink/docker-compose.yml`, this problem also occurs.

But at same time, docker pulsar standalone runs well. I'm confused.

[2021-06-13 09:21] #10914 closed

[2021-06-14 02:59] thinker0 opened #10916 "There are many Prometheus Metrics names."
**BUG REPORT**
There are many, many, many Prometheus Metrics names.

***Describe the bug***
[code]

bookies hosts by metrics grow exponentially.

***To Reproduce***

Steps to reproduce the behavior:

***Expected behavior***
Prometheus OOM (200Gbyte)

***Screenshots***
![image](https://user-images.githubusercontent.com/357785/121538948-2ad12780-ca40-11eb-92e4-4041b5efe785.png)
![image](https://user

[2021-06-14 06:37] eolivelli opened #10917 "Cannot build Pulsar from Source Distribution Bundle (2.8.0rc3)"
**Describe the bug**

I cannot build Pulsar on Centos8 using the "apache-pulsar-2.8.0-src.tar.gz" bundle.

if I run this command
`mvn clean install -DskipTests`

it fails with:

**Expected behavior**
The build passes

**Additional context**
It looks like the file src/rename-netty-native-libs.sh is missing the execution flag.
`chmod u+x src/rename-netty-native-libs.sh` fixes the problem.

[2021-06-14 06:39] eolivelli commented on #10917
This problem is due to the new way we are using to create the source bundle, using the configuration imported from the Apache Parent POM.
Related PR of mine :(
https://github.com/apache/pulsar/pull/9184

[2021-06-14 06:57] MathiasHaudgaard commented on #10873
@sijie Is this a feature I should build myself or is it just a configuration? 🍰

[2021-06-14 09:22] eolivelli opened #10919 "Cannot use SchemaBuilder.record() inside a Source#open() method without adding pulsar-client as dependency in the NAR file"
I am testing current 2.8.0 rc3 and I have this problem in an integration test.

I have a Pulsar IO Source that in the "open" method tries to prepare a GenericSchema using this code
`RecordSchemaBuilder udtSchemaBuilder = SchemaBuilder.record(typeName);`

The only way to make it work is to add `pulsar-client-original` into the NAR file.

[code]

[2021-06-14 14:28] lhotari commented on #10915
Did you file this intentionally @MTBirdman89a ? This looks like spam. Closing.

[2021-06-14 14:28] #10915 closed

[2021-06-14 14:30] lhotari commented on #10890
@xuesongxs I'll close this issue. Please reopen if your issue didn't get resolved.

[2021-06-15 00:38] cckellogg opened #10923 "Potentially breaking broker config change in version 2.8"
**Describe the bug**
The default behavior changed for force deleting a namespace has changed from 2.7 -> 2.8.

https://github.com/apache/pulsar/pull/9819

[2021-06-15 02:28] Anonymitaet commented on #10893
Hi @gimmeshelter any feedback on this?

[2021-06-15 02:37] xuesongxs commented on #10890
According to the modification of acknowledsegmentatbatchindexlevelenabled=true, the problem still exists. I use the producer's synchronization interface. Even if I set enable batching (false) in the producer, and enable batching (false) can not meet the needs of the production environment, because I want to use asynchronous transmission in the production environment, after enable batching (false),

[2021-06-15 02:39] xuesongxs commented on #10890
How to reopen the issue?

[2021-06-15 02:42] Anonymitaet commented on #10875
@Yiyiyimu any more issues need to be discussed? If no more, I'll close this issue.
Feel free to communicate with us if you have more questions, thanks.

[2021-06-15 05:49] eolivelli commented on #10923
@codelipenghui @cdbartholomew PTAL

[2021-06-15 06:01] codelipenghui commented on #10923
@cckellogg We should disable the namespace force deleting by default, I can add this one in the release note.

[2021-06-15 08:52] tausifrazi123 opened #10925 "Intermittent dropping of messages from Consume Pulsar : Apache NiFi"
**Describe the bug**
We are using Apache Nifi to consume pulsar from a broker. There is an intermittent dropping of messages from the consume pulsar. The broker is sending the message but it is not getting consumed in the process. Surprisingly there is no error in Nifi.
Version currently which is used is 2.5.0

![image](https://user-images.githubusercontent.com/84729850/122023213-f44f3000-cde4-11e

[2021-06-15 10:30] eolivelli commented on #10925
Can you please describe more your setup ?
How do you configure NiFi ?
do you see errors on the logs of the Pulsar client or in the broker ?

It would be also great to upgrade to some recent Pulsar version, 2.5.x is pretty old (we are releasing 2.8)

[2021-06-15 12:11] ca-simone-chiorazzo opened #10929 "Python pulsar-client 2.8.0 raise ModuleNotFoundError No module named 'fastavro'"
**Describe the bug**
If you try to import the 2.8.0 python pulsar client, you get a ModuleNotFoundError. This happens with python 3.8.

**To Reproduce**
Steps to reproduce the behavior:
1. Install python 3.8.6
2. Install pulsar-client==2.8.0
3. Instantiate a consumer
4. You get ModuleNotFoundError

**Expected behavior**
We expect to not have ModuleNotFoundError

**Screenshots**
If applicable, add

[2021-06-15 15:51] BewareMyPower commented on #10721
I'm currently working on the connection timeout, but I found something confused from your logs.

Here're my analysis from your logs (logs_f.txt):

[code]

The conclusion is that the client connected to a broker successfully and quickly (15:48:49.556 - 15:48:49.554 = 2 milliseconds), but received no responses from broker.

What I'm confused is, the last line of `logs_f.txt` is

[code]

It's less th

[2021-06-15 16:22] Yiyiyimu commented on #10875
Hi @Anonymitaet Is there any good place you recommend to place this graph?

[2021-06-15 16:27] merlimat commented on #10929
@ca-simone-chiorazzo The Avro dependency was made optional. You can install it with :

[code]

See: https://pulsar.apache.org/docs/en/client-libraries-python/#optional-dependencies

[2021-06-15 16:28] merlimat commented on #10929
though I agree that it must not fail if someone is not trying to use Avro schema...

[2021-06-15 16:29] merlimat commented on #10929
@aahmed-se PTAL

[2021-06-15 17:25] cckellogg commented on #10923
I think the default settings should be `true` to maintain backwards compatibility.
[code]
The current settings are:
[code]

[2021-06-15 23:43] Anonymitaet commented on #10875
@Yiyiyimu users can check the growth [here](https://streamnative.io/en/blog/community/2021-06-14-pulsar-hits-its-400th-contributor-and-passes-kafka-in-monthly-active-contributors)

[2021-06-16 01:23] #10900 closed

[2021-06-16 01:25] codelipenghui commented on #10798
@eolivelli Can we close this issue for now?

[2021-06-16 02:51] MarvinCai opened #10932 "[Doc] Document for Reference/Pulsar Admin CLI is missing after 2.7.0 from website"
As describe, document for Reference/Pulsar Admin CLI is missing starting from 2.7.1, it's still there in 2.7.0
Noticing because the warning for Inactive Topic clean up is missing: https://pulsar.apache.org/docs/en/2.7.0/pulsar-admin/#note
It's enabled by default in standalone, might cause confusion for user if they found their topic is gone but can't find out why from Pulsar doc.

[2021-06-16 02:58] wangjialing218 opened #10933 "PulsarAdmin Sinks API fail when using multi broker url"
Use PulsarAdminAPI Sinks.createSink() but failed when using multi broker url, with exception: NumberFormatException

**To Reproduce**
1. Start two broker with function worker
2. Create PulsarAdmin with serviceHttpUrl like `http://10.254.8.1:8080;10.254.8.2:8080`
3. Use Sinks.createSink() to create sink.

**Screenshots**
![function-admin](https://user-images.githubusercontent.com/65590138/122151112

[2021-06-16 03:24] MarvinCai commented on #10903
@KKcorps
`org.apache.bookkeeper.bookie.storage.ldb.DbLedgerStorage` implements `org.apache.bookkeeper.bookie.LedgerStorage`
But after shading the interface become `org.apache.pulsar.shade.org.apache.bookkeeper.bookie.LedgerStorage`
Can you try update the config `ledgerStorageClass` in `bookkeeper.conf` to `org.apache.pulsar.shade.org.apache.bookkeeper.bookie.storage.ldb.DbLedgerStorage
`, it's the

[2021-06-16 04:45] MarvinCai commented on #10881
@wangyun5583
Can you provide more info? How was the Pulsar cluster deployed on k8s, using the Pulsar Helm chart?
If you're asking how to access websocket from outside of the k8s cluster I think you need to update your ingress to add websocket port.

[2021-06-16 04:48] MarvinCai commented on #10857
Hi, can you confirm config `brokerDeleteInactiveTopicsEnabled` is set to false?
If it's true, inactive topic with no active traffic will be garbage collected by broker.

[2021-06-16 05:19] #10798 closed

[2021-06-16 05:19] eolivelli commented on #10798
Yes. We can

[2021-06-16 05:46] MarvinCai commented on #10856
@dik111
Hi there, as you might already knew, Presto community split  into PrestoDB and PrestoSQL
Pulsar community choose to go with PulsarSQL as it's more community driven and more active.
So all Presto deps are started with `io.prestosql`, it **will not** run with PrestoDB which has pkg prefix `com.facebook.presto`.
PrestoSQL is now renamed to Trino: https://trino.io/blog/2020/12/27/announcing-tr

[2021-06-16 05:54] dik111 commented on #10856
@MarvinCai got it, thanks for your answer

[2021-06-16 05:55] #10856 closed

[2021-06-16 06:09] michaeljmarshall commented on #10857
I believe the behavior described is independent of that setting. Topic level metrics are stored in memory, so when a broker restarts, it doesn't have the old metrics. Additionally, the broker might not own that topic any more, and if the topic doesn't have any producers/consumers trying to connect to it, I don't think the topic will be loaded on any broker, which means that it won't be reported in

[2021-06-16 06:21] michaeljmarshall commented on #10857
I wonder if perhaps part of the problem here is that the `pulsar_topics_count` metric actually represents the number of topics loaded, not the total number of topics. I'd need to double check the implementation to be sure, but that could lead to the confusion seen here. If my understanding is correct, I see two options available:

1. Introduce a new gauge metric that reports the total number of to

[2021-06-16 07:01] eolivelli commented on #10917
As I broke this with #9184 I am going to provide a fix.

[2021-06-16 07:05] Jason918 commented on #9173
It seems non-persistent part of this issue is fixed.
I am glad to fix the case of persistent topics.

[2021-06-16 07:25] Jason918 commented on #9173
@codelipenghui  Here is how I reproduce this case for persistent topics.

1. set `allowAutoTopicCreation=false` in conf/standalone.conf
2. start pulsar standalone with `bin/pulsar standalone`
3. create partition topic with `bin/pulsar-admin topics create-partitioned-topic persistent://public/default/jason -p 4`
4. successfully produce one message to the topic with `bin/pulsar-client produce persis

[2021-06-16 10:10] marcoguest commented on #10734
Update. I have tried to limit the memory usage from consumer by the new setMemoryLimit method of ClientConfiguration from new 2.8.0 version of Pulsar software. But the problem is still present.

There are news about this problem?

[2021-06-16 11:08] jiazhai opened #10937 "Incompatible BouncyCastle FIPS changes in bookkeeper 4.14"
**Describe the bug**
In [bookkeeper # 2631](https://github.com/apache/bookkeeper/pull/2631), the default BouncyCastle was changed from non-fips into fips version. But the default version of BouncyCastle in Pulsar is the [non-fips](https://github.com/apache/pulsar/blob/v2.8.0/pulsar-client/pom.xml#L56) one(aimed to make it compatible with the old version of Pulsar).

Bouncy Castle provides both FIP

[2021-06-16 12:06] MarvinCai commented on #10857
Think seems like a more reasonable explanation, probably make sense to just have 2, one is `topics_count_loaded` and another `topics_count_total`.

[2021-06-16 12:08] MarvinCai commented on #10832
@codelipenghui
Please correct me if I'm wrong.
I've verified that if we send multiple messages with `sendAsync()` then call `flush()` and some messages failed to be published to broker, other messages will still succeed and when we retry the original message order no longer persist.
I think in your case you can use the batching mechanism and manually call `flush()`. All message in a batch will be

[2021-06-16 12:32] MathiasHaudgaard commented on #7893
@frankjkelly I can see that you built your own authentication and authorization providers. I'm trying to do the same thing, however, I'm stuck in the building process of my authentication provider. I'm not sure how to build it actually. Can you elaborate on the steps you did to succeed? 🙏

[2021-06-16 13:10] frankjkelly commented on #7893
@MathiasHaudgaard Yes we basically followed the guide here https://pulsar.apache.org/docs/en/security-extending/. It was pretty complicated - the code was fairly straightforward but building a jar without all the dependencies and then mounting it into the docker file and injecting it into the classpath was quite a lot of a pain IIRC.

In the end we bailed on that for the moment but plan to get bac

[2021-06-16 13:28] MarvinCai commented on #10719
It seems like the app is not able to connect to Pulsar after broker pod restart. Not sure if it's due to some DNS caching?
Can you share some more information about how the app is connecting to Pulsar (e.g. via LoadBalancer or Ingress?) and how Pulsar is deployed on k8s (pod or deployment or statefulset?).

[2021-06-16 13:59] leiless commented on #10832
Hi @MarvinCai, I wonder how do you verify that. What's your Pulsar producer config?

My config:
* One producer(enabled messaging **deduplication** and **batching**)
[code]
* One subscription in exclusive mode
* One consumer

I don't know if the above config can guarantee message not missing and message ordering is preserved.

<br>

Sorry, but I don't understand the meaning of this sentence.

[2021-06-16 14:55] MathiasHaudgaard commented on #7893
@frankjkelly Thanks for the anwser. @Joshhw can you help me out here? 😅

[2021-06-16 15:08] KKcorps commented on #10903
Hi @MarvinCai
I already tried that updated the same in the child ticket created by @sijie. It leads to a different error.
https://github.com/streamnative/pulsar/issues/2636#issuecomment-860668473

[2021-06-16 15:54] bharanic-dev opened #10938 "pulsar-function-instance has dependency on pulsar-common-io, but the dependency is not captured in pom.xml"
**Describe the bug**
Missing dependency in pom.xml of function-instance.

**To Reproduce**
Running function instance leads to "NoClassDefFoundError for IOConfigUtils class" error and the instance fails to start.

**Expected behavior**
Instance should start without any issues.

**Desktop (please complete the following information):**
 - OS: Linux

[2021-06-16 16:15] jiazhai commented on #10937
we should also add a test in pulsar, which enable tls for bookkeeper and use bc-non-fips, to cover this error.

[code]

[2021-06-16 19:15] Yiyiyimu commented on #10875
Hi @Anonymitaet Yes the graph is from us 😁 I created a PR so we could see the latest graph.

[2021-06-17 01:15] Anonymitaet commented on #10932
Hi @MarvinCai Pulsar Admin CLI is removed from 2.7.1 since the docs of Pulsar Admin CLI always lag behind code. Users can get the latest info [here](http://pulsar.apache.org/tools/pulsar-admin/) which is synced up w/ code.

How about adding the instruction to these two places?

1. [Pulsar Admin CLI](http://pulsar.apache.org/tools/pulsar-admin/2.8.0-SNAPSHOT/)?

![image](https://user-images.githubu

[2021-06-17 02:20] #10673 closed

[2021-06-17 07:34] lhotari commented on #10908
@addisonj I created #10944 to fix this issue. It also adds a unit test for the "replay" functionality added in #5361 . Please review

[2021-06-17 07:36] NothinkingGao opened #10945 "Python client would wait broker's PING command so that close() even took 42 seconds to complete"
![image](https://user-images.githubusercontent.com/3362951/122352436-b50a1600-cf81-11eb-8aac-75a956d34501.png)2021-06-17 15:20:54,011 - (unknown file)[line:0] - INFO - [persistent://public/default/hamster_school_config-partition-2, process_update_config_0, 132] Unsubscribed successfully
2021-06-17 15:20:54,011 - (unknown file)[line:0] - INFO - Successfully Unsubscribed Consumer - 2 for Subscriptio

[2021-06-17 08:14] gaozhangmin opened #10946 "cannot found jar when start bookie and broker"
ls: cannot access apache-pulsar-2.8.0/lib/org.aspectj-aspectjweaver-*.jar: No such file or directory
Version: 2.8.0

[2021-06-17 08:16] gaozhangmin commented on #10946
is it because of missing aspectjrt and aspectjweaver dependency in pom.xml?

[2021-06-17 08:20] ca-simone-chiorazzo commented on #10929
Exactly, we are not using Avro schema so we do not want to install the optional dependency.

[2021-06-17 09:18] aloyszhang commented on #10946
https://github.com/apache/pulsar/pull/10533   This PR removed aspectj, so, for pulsar 2.8.0, besides `lib`, you need to replace `bin` directory also.

[2021-06-17 09:20] eolivelli opened #10947 "[Transactions][Java client] NullPointerException while building the PulsarClient if some internal error occours"
**Describe the bug**
If there is some problem in bootstrapping the PulsarClient with enableTransaction=true it may happen the NPE listed below, because "handlers" is not initialized yet.

**To Reproduce**
I don't know how to reproduce it systematically.

**Expected behavior**
No error

** Stacktrace**
java.lang.NullPointerException
	at org.apache.pulsar.client.impl.transaction.TransactionCoordinat

[2021-06-17 09:36] conderls opened #10949 "warning raised if maxNumMessages is greater than 500"
**Describe the bug**
[code]

**To Reproduce**
[code]

**Expected behavior**
1. after setting queueSize by `.receiverQueueSize()`, no warnings should be raised. And it seems the queue size is updated as the logger shows the size of msgs is 1000;
2. in [official-docs](https://pulsar.apache.org/docs/en/client-libraries-java/#configure-consumer), the default receiverQueueSize = 1000. why maxReceiverQu

[2021-06-17 09:53] #10946 closed

[2021-06-17 10:02] lhotari commented on #10796
@wuzhanpeng The test is flaky and was introduced by PR #10087. Would you be able to fix it? Thanks.
A recent failure: https://github.com/apache/pulsar/pull/10944/checks?check_run_id=2846586819#step:9:16462

[2021-06-17 10:47] #10947 closed

[2021-06-17 11:59] wuzhanpeng opened #10950 "Failed to execute Consumer#getLastMessageId when setting brokerEntryMetadataInterceptors"
**Describe the bug**
After setting `brokerEntryMetadataInterceptors` parameters in `conf/broker.conf`, we found that we cannot invoke method `org.apache.pulsar.client.api.Consumer#getLastMessageId` normally. At the same time, the log also prompted that an exception occurred during metadata parsing.

**To Reproduce**
Steps to reproduce the behavior:
1. set parameters in `conf/broker.conf` as we use

[2021-06-17 12:01] abhilashmandaliya opened #10951 "Function worker uses raw webService Port against adverisedListener and advertisedAddress"
**Describe the bug**
I am running Pulsar broker on docker and trying to run function worker as part of the broker. My advertisedListener IP is the IP of my host machine and I have a mapped worker port as well. But [here](https://github.com/apache/pulsar/blob/85a60b0de8c7e53747ee491350f7b21fba90099e/pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java#L1549), we are calling `getA

[2021-06-17 12:11] abhilashmandaliya commented on #10951
the same thing has happened with the [broker address](https://github.com/apache/pulsar/blob/85a60b0de8c7e53747ee491350f7b21fba90099e/pulsar-broker/src/main/java/org/apache/pulsar/broker/PulsarService.java#L1363) here.
Seems like commit [#10312] has caused this.

[2021-06-17 13:01] lhotari commented on #10951
@315157973 Would you mind checking this?

[2021-06-17 13:30] 315157973 commented on #10951
Now the order of address acquisition is advertisedAddress, then advertisedListner, then hostname.
The problem now is that the address does not correspond to the port, right? @abhilashmandaliya

[2021-06-17 14:01] BewareMyPower opened #10958 "Remove Kafka related dependencies from core-modules"
**Is your enhancement request related to a problem? Please describe.**
When I build Pulsar on CentOS 7 using following command:

[code]

it always failed.

**Describe the solution you'd like**

I'm not sure if it's caused by my limited network environment. Maybe I need to configure a proxy to download dependencies from io.confluent.

However, it's weird that Confluent's JARs are the **core modules

[2021-06-17 14:03] gimmeshelter commented on #10893
I am not a contributor and I don't really see the need for a pull request to add one line to your documentation.  That being said, I will do this if necessary to save someone else the headache we went through.

[2021-06-17 14:10] codelipenghui opened #10959 "Fail to get schema ledger metadata for String schema"
**Describe the bug**
If get topic internal stats with String schema, will throw NPE when getting ledger metadata by bookkeeper client. https://github.com/apache/pulsar/pull/10957#pullrequestreview-686291742 can fixes the NPE to cause get internal stats failed, but we also need a fix on the Pulsar side.

[2021-06-17 19:39] Yiyiyimu commented on #10875
Close since don't need this

[2021-06-17 19:39] #10875 closed

[2021-06-18 01:59] Anonymitaet commented on #10041
Hi @315157973 any feedback on generating the tool? Many thanks!

[2021-06-18 02:00] 315157973 commented on #10041
I am working on it

[2021-06-18 02:47] Anonymitaet commented on #6048
Duplicated with https://github.com/apache/pulsar/issues/10041. I'll close this issue since we've tracked the status in https://github.com/apache/pulsar/issues/10041.

[2021-06-18 02:47] #6048 closed

[2021-06-18 04:09] zbentley commented on #10721
@BewareMyPower I will re-test using the code you provided (I will have to alter it slightly to reconnect/re-create producers whenever an error occurs) next week. Thanks for digging into this!

In response to your other question: when I said

I meant that, after that log line, no subsequent lines indicating successful publishes could be seen; my main loop had stopped. Using gdb and pdb indicated th

[2021-06-18 05:26] abhilashmandaliya commented on #10951
@315157973 yes. that's correct.

[2021-06-18 05:28] aloyszhang opened #10967 "parseMessageMetadata error when broker entry metadata enable"
**Describe the bug**
If  broker entry metadata enabled, we may get the following exception in many cases :
[code]
this problem also reported in ：
https://github.com/apache/pulsar/issues/10950
https://github.com/apache/pulsar/pull/9255
https://github.com/apache/pulsar/pull/10924

this is caused by https://github.com/apache/pulsar/pull/9046,

Before https://github.com/apache/pulsar/pull/9046 code is

[2021-06-18 06:09] #10443 closed

[2021-06-18 06:40] #9661 closed

[2021-06-18 08:07] MichalKoziorowski-TomTom commented on #10717
Hi @merlimat, @eolivelli

Can #10708 be cherry picked to new 2.7 release?

[2021-06-18 08:09] BewareMyPower commented on #10721
Okay, so the program stuck at `create_producer` for 5 minutes after all logs?

BTW, I suspect there's something wrong with the topics auto delete policy. Could you modify your broker's config to the following config before re-testing?

[code]

I noticed that you created a producer of a partitioned topic that has 31 partitions, right?

[code]

It's a little weird that only 25 partitions were associ

[2021-06-18 08:40] Anonymitaet opened #10971 "[Doc] Transaction"
Recently, Pulsar 2.8 has been released and one of the highlights is transaction API, which supports atomic writes and acknowledgments across multiple topics. It completes our vision of making Pulsar a complete unified messaging and streaming platform.

The [transaction docs](https://pulsar.apache.org/docs/en/next/transactions/) need to be improved, so I've re-architectured the doc and drafted one

[2021-06-18 08:44] Anonymitaet commented on #10971
@congbobo184 since you are the lead developer of the transaction, could you please help review overall and answer the questions marked in the doc?

It would be much appreciated if you could provide any feedback by EOD 6/23 GMT+8, many thanks!

[2021-06-18 08:49] MarvinCai commented on #10932
Sounds good, probably also mention the default period (60s).

[2021-06-18 08:56] #10537 closed

[2021-06-18 09:29] ocelot93 opened #10972 "`subscriptionExpirationTimeMinutes` option is not working"
**Describe the bug**
Default value for `subscriptionExpirationTimeMinutes` is `0`, which means that inactive subscriptions are not being deleted automatically. Setting this value to `1` (for example) means that subscription has to be deleted `1` minute after last consumed message (or after the time set in `subscriptionExpiryCheckIntervalInMinutes` setting)

**To Reproduce**
Steps to reproduce the

[2021-06-18 09:33] eolivelli commented on #10717
it is already marked to be cherry picked.

[2021-06-18 09:34] MichalKoziorowski-TomTom commented on #10717
Ahh. Ok. Thanks :)

[2021-06-18 10:09] Anonymitaet commented on #10932
@MarvinCai thanks for your instruction. OK, I'll add and need your review later.

[2021-06-18 12:02] BewareMyPower opened #10975 "Topic metadata not removed for partitioned topics"
**Describe the bug**
Pulsar enables `brokerDeleteInactiveTopicsEnabled` by default. However, for partitioned topics, if a topic was de

**To Reproduce**
Steps to reproduce the behavior:
1. Modify the `conf/standalone.conf`
[code]
2. Start a standalone
[code]
3. Create a partitioned topic
[code]
4. Produce a message, otherwise the topic won't be deleted (I'm not sure if this behavior is right)
[cod

[2021-06-18 16:07] kulkarniamit commented on #4967
How did you resolve this?

[2021-06-18 17:58] lhotari commented on #7304
Thank you @megfigura . This was very helpful. I have create a PR to fix the direct memory leak: #10977 . Would you be able to verify the fix in your environment? There are instructions in https://github.com/apache/pulsar#build-custom-docker-images for building custom docker images.

[2021-06-18 18:00] #10967 closed

[2021-06-18 18:02] #10950 closed

[2021-06-18 22:32] devinbost commented on #10462
Looks like this was already fixed by https://github.com/apache/pulsar/pull/10732

[2021-06-18 22:32] #10462 closed

[2021-06-19 06:21] Zhen-hao opened #10980 "unclear error: Add LoadManagerReport deserializer failed because LoadManagerReport.class has been shaded {}"
I wrote a dummy test in Scala

[code]
and got
[code]
I know this error message comes from [here](https://github.com/apache/pulsar/blob/master/pulsar-common/src/main/java/org/apache/pulsar/common/util/ObjectMapperFactory.java#L205) but it's not very helpful.

full logs:

[code]

[2021-06-19 07:48] #7304 closed

[2021-06-20 04:29] Mrcopytuo opened #10985 "Command "bin/pulsar standalone" did work as the document"
**Describe the bug**
Command "bin/pulsar standalone" did work as the document.

**To Reproduce**
Steps to reproduce the behavior:
1. Use the wget command provided to doenload Pulsar
2. Navigate to the resulting directory: apache-pulsar-2.8.0
3. Use Command"bin/pulsar standalone" to start
4. My info-level log messages is like:
11:04:44.580 [main-EventThread] INFO  org.apache.bookkeeper.zookeeper.Zo

[2021-06-20 08:11] eolivelli commented on #10985
I am sorry I cannot understand your problem.
Is your problem about the logs or is it about the fact that 'standalone does not work on Windows?

[2021-06-20 08:54] #9888 closed

[2021-06-20 09:14] newur commented on #10971
Really good idea to update the docu on this one. I was wondering a lot about how this feature works and missing examples, after reading the release notes and the blog post.

For me the last chapter in the draft, called 'Integration' only made it clear in which case the transactional feature applies. Maybe wanna move that chapter/picture a bit up?

[2021-06-20 09:24] Jennifer88huang commented on #10985
@eolivelli I guess that his problem is that "standalone does not work on Windows".
He tries to install Pulsar in VM, it works yet the info log is inconsistent with our docs.
@Mrcopytuo Thanks for your try. It's great that you succeeds at last cc @Anonymitaet

[2021-06-20 09:30] eolivelli opened #10989 "[Java client] KeyValue Schema does not work on a schema less topic"
**Describe the bug**
If you have a brand new topic (or a non existing one, auto created) and you try to open a Consumer with schema `KeyValue<GenericRecord,JavaPojo>` declared with `Schema.KeyValue(Schema.AUTO_CONSUME(), Schema.AVRO(JavaPojo.class))`

The consumer will not boot, because there is not schema in the topic.

**Expected behavior**
The Consumer should boot and it should download the sch

[2021-06-20 09:30] eolivelli commented on #10989
I will send a fix next week

[2021-06-20 09:48] JohnMops commented on #6054
Any news regarding this one?
We are seeing a topic stops every 9 seconds and needs to be reloaded.

[2021-06-20 10:24] eolivelli commented on #6054
@JohnMops did you update to Pulsar 2.8.0?

[2021-06-20 13:12] Zhen-hao opened #10990 "confusing documentation for bookkeeper.httpServerPort"
On https://pulsar.apache.org/docs/en/reference-configuration/,
Under bookkeeper.httpServerPort, it says
[code]
But the default value in the table has the value `8000`.
If I don't set this in the config, is it `8000` or `8080`?

[2021-06-20 14:58] erik3001 opened #10991 "unable to use mTLS to v2.8.0 proxy"
While upgrading a 2.7.2 cluster to 2.8.0 a client with an mTLS certificate cannot connect anymore.  Had to revert the proxies to 2.7.2.

Traceback for proxy at v2.8.0:
[code]

Using proxy v2.7.2:
[code]

[2021-06-20 19:13] Joshhw commented on #7893
unfortunately what you're asking is a bit vague. I don't have a blog post to point you to but really it depends on the system you're using to implement the interfaces that the custom authN/Z use. If you provide a bit more context as to what you're using for auth currently I might be able to give you some direction.

[2021-06-20 19:23] devinbost commented on #6054
What are your broker.conf settings? And, how many messages are you
processing? We've noticed that some settings increase the frequency of
this, but I'm still working on investigating the root cause.

Something is causing the broker to not ack messages, but we're not sure
about the exact cause yet.
--
Devin G. Bost

On Sun, Jun 20, 2021, 4:24 AM Enrico Olivelli ***@***.***>
wrote:

[2021-06-20 20:35] zbentley commented on #10721
My topic had 32 partitions, yes.

All tests are already being run with `brokerDeleteInactiveTopicsEnabled: "false"` in the Helm chart (and I repeatedly seenthat it's working and that topics are not being deleted between test runs).

When I'm back at work next week, I'll adapt your test code and be sure to issue a "close" on the producer in the event of a failure. I'd hope that doing a close RPC ex

[2021-06-21 01:03] Jennifer88huang commented on #10985
@Mrcopytuo My log is the same with you(see below), could you please help update the log info in the docs?  Thank you.
![image](https://user-images.githubusercontent.com/47805623/122694299-8042db00-d26f-11eb-8286-fd04c9222272.png)

[2021-06-21 02:32] Anonymitaet commented on #10985
Same from my side

![image](https://user-images.githubusercontent.com/50226895/122699403-efbec780-d27b-11eb-9e73-2fc7d05e4b66.png)

[2021-06-21 03:05] murong00 commented on #10990
The default value is `8080` as below:
[code]

[2021-06-21 03:16] murong00 commented on #10990
If you keep this value as `httpServerPort=8000` then it will use `8000` as recommended. If this value is not set, then it will use `8080` as default.

[2021-06-21 03:40] Anonymitaet opened #10994 "[Doc] generate 2.8.1 doc set"
2.8.0 has been released and the Pulsar is on the way to 2.9.0 (and 2.7.3 and 2.8.1).

Since 2.8.1 docs might be different from the master, but now we [do not have the 2.8.1 docs](https://github.com/apache/pulsar/tree/master/site2/website/versioned_docs) and can not update the 2.8.1 docs if needed. Consequently, the 2.8.1 doc set needs to be generated.

Here are some examples of generating versione

[2021-06-21 04:17] Zhen-hao commented on #10990
thanks!

[2021-06-21 08:38] Anonymitaet commented on #10971
@newur thanks for your feedback. Does it make sense to move the contents of `integration` to the `what feature do transactions provide` section under the `overview` chapter?

[2021-06-21 08:55] #10990 closed

[2021-06-21 08:59] Shoothzj opened #10996 "MutliConsumer not released after calling method unsubscribe"
**Describe the bug**
MutliConsumer not released after calling method unsubscribe, and can't be released by other method.

**To Reproduce**
Steps to reproduce the behavior:
1. Create a MultiTopicConsumer
2. Unsubscribe the topoc
3. Jmap print live objects
4. See MultiTopicConsumer stiil there

**Expected behavior**
Jmap live objects do not show MultiTopicConsumer

**Demo Code**
[code]
**Screenshots

[2021-06-21 10:05] zhucanyi opened #10998 "K8S environment sending message connection exception"
Pulsar appears in the development environment connected to K8S
Failed to open connection to pulsar-mini-broker-0.pulsar-mini-broker.pulsar.svc.cluster.local:6650
but，
Success if the service is deployed in the K8S environment

[2021-06-21 12:09] eolivelli opened #11000 "[Transactions] After closing consumers or readers there are still many topics named "xxx_transaction_pending_ack""
I am running tests against Pulsar 2.8.0 and I am seeing that my test environment is full of topics named like:
the names include some Non durable "subscription name" that has been closed and also subscription names that a durable.
I am expecting those topics  to be deleted when the subscription is deleted

[code]

[2021-06-21 12:19] EAHITechnology opened #11001 "When we get a schema of a topic by api return Connection timed out"
My request:
[code]
Sometimes,the broker returns SchemaInfo in resp.But most of the time the broker returns "Connection timed out"

[2021-06-21 12:24] eolivelli opened #11002 "[Transactions] Pulsar Admin: peekMessages is returning a wrong message, dealing with non empty list of individuallyDeletedMessages"
**Describe the bug**
I have a topic 'MY_QUEUE' with one subscription 'jms-queue' that ends up in this situation
peekMessages against 'jms-queue' is returning 74:37:-1
but the next available message should be 74:62

[code]

After calling "peekMessages" my code creates a Reader at that position, and it writes (correctly)
`INFO org.apache.pulsar.client.impl.ConsumerImpl - [persistent://public/default

[2021-06-21 13:38] rcusters commented on #5059
We have a similar requirement. The issue is already a year old. @lanwen how did you solve this in the end?

[2021-06-21 13:45] timmyyuan opened #11004 "[Build] Unable to find image 'apachepulsar/pulsar-build:manylinux-cp39-cp39' locally"
**Describe the bug**
Python client build error. (maybe introduced by https://github.com/apache/pulsar/pull/10954)

**To Reproduce**
Steps to reproduce the behavior:
1. Checkout the master branch
2. Run `pulsar-client-cpp/docker/build-wheels.sh`
3. See error

**Expected behavior**
The build succeed

**Screenshots**
If applicable, add screenshots to help explain your problem.
[code]

**Desktop (plea

[2021-06-21 15:03] dinghram commented on #10433
@lhotari Thanks for the feedback. We tested with the -Dio.netty.recycler.maxCapacityPerThread=0 option and saw no negative performance impact. In fact, the CPU usage was lower with this option set. However, this was a single test and not definitive of how Pulsar would behave long term with this setting. As such, it seems we can run with this option set if a customer begins seeing the NPE occur (we

[2021-06-21 15:05] kjaggann commented on #10021
The recent change to the pulsar websocket allows the encrypted payload to be passed thru to the client.
However,  it does not appear that the (aes) encrypted data key is included with the message that we get.
How does a websocket client get this key?

[2021-06-21 16:12] Zhen-hao opened #11007 "add direct support for message values already serialized in Apache Avro"
Maybe this is two requests in one post.

**Background**:
I want to integrate Pulsar with an existing event store in Cassandra (used by an event-sourced application).
The events are already serialized with Avro. I just want to simply move the events to some Pulsar topics.
For each event, I have a way to find the writer's schema.

**Problem 1**
Puslar's `Schema<T>` has no constructor for importing a